{
  "documentation": "<p>Welcome to the AWS Device Farm API documentation, which contains APIs for:</p> <ul> <li> <p>Testing on desktop browsers</p> <p> Device Farm makes it possible for you to test your web applications on desktop browsers using Selenium. The APIs for desktop browser testing contain <code>TestGrid</code> in their names. For more information, see <a href=\"https://docs.aws.amazon.com/devicefarm/latest/testgrid/\">Testing Web Applications on Selenium with Device Farm</a>.</p> </li> <li> <p>Testing on real mobile devices</p> <p>Device Farm makes it possible for you to test apps on physical phones, tablets, and other devices in the cloud. For more information, see the <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/\">Device Farm Developer Guide</a>.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2015-06-23",
    "endpointPrefix": "devicefarm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Device Farm",
    "serviceId": "Device Farm",
    "signatureVersion": "v4",
    "targetPrefix": "DeviceFarm_20150623",
    "uid": "devicefarm-2015-06-23"
  },
  "operations": {
    "CreateDevicePool": {
      "documentation": "<p>Creates a device pool.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDevicePoolRequest"
      },
      "name": "CreateDevicePool",
      "output": {
        "shape": "CreateDevicePoolResult"
      }
    },
    "CreateInstanceProfile": {
      "documentation": "<p>Creates a profile that can be applied to one or more private fleet device instances.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInstanceProfileRequest"
      },
      "name": "CreateInstanceProfile",
      "output": {
        "shape": "CreateInstanceProfileResult"
      }
    },
    "CreateNetworkProfile": {
      "documentation": "<p>Creates a network profile.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNetworkProfileRequest"
      },
      "name": "CreateNetworkProfile",
      "output": {
        "shape": "CreateNetworkProfileResult"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates a project.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        },
        {
          "shape": "TagOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProjectRequest"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectResult"
      }
    },
    "CreateRemoteAccessSession": {
      "documentation": "<p>Specifies and starts a remote access session.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRemoteAccessSessionRequest"
      },
      "name": "CreateRemoteAccessSession",
      "output": {
        "shape": "CreateRemoteAccessSessionResult"
      }
    },
    "CreateTestGridProject": {
      "documentation": "<p>Creates a Selenium testing project. Projects are used to track <a>TestGridSession</a> instances.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTestGridProjectRequest"
      },
      "name": "CreateTestGridProject",
      "output": {
        "shape": "CreateTestGridProjectResult"
      }
    },
    "CreateTestGridUrl": {
      "documentation": "<p>Creates a signed, short-term URL that can be passed to a Selenium <code>RemoteWebDriver</code> constructor.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTestGridUrlRequest"
      },
      "name": "CreateTestGridUrl",
      "output": {
        "shape": "CreateTestGridUrlResult"
      }
    },
    "CreateUpload": {
      "documentation": "<p>Uploads an app or test scripts.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUploadRequest"
      },
      "name": "CreateUpload",
      "output": {
        "shape": "CreateUploadResult"
      }
    },
    "CreateVPCEConfiguration": {
      "documentation": "<p>Creates a configuration record in Device Farm for your Amazon Virtual Private Cloud (VPC) endpoint.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVPCEConfigurationRequest"
      },
      "name": "CreateVPCEConfiguration",
      "output": {
        "shape": "CreateVPCEConfigurationResult"
      }
    },
    "DeleteDevicePool": {
      "documentation": "<p>Deletes a device pool given the pool ARN. Does not allow deletion of curated pools owned by the system.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDevicePoolRequest"
      },
      "name": "DeleteDevicePool",
      "output": {
        "shape": "DeleteDevicePoolResult"
      }
    },
    "DeleteInstanceProfile": {
      "documentation": "<p>Deletes a profile that can be applied to one or more private device instances.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInstanceProfileRequest"
      },
      "name": "DeleteInstanceProfile",
      "output": {
        "shape": "DeleteInstanceProfileResult"
      }
    },
    "DeleteNetworkProfile": {
      "documentation": "<p>Deletes a network profile.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNetworkProfileRequest"
      },
      "name": "DeleteNetworkProfile",
      "output": {
        "shape": "DeleteNetworkProfileResult"
      }
    },
    "DeleteProject": {
      "documentation": "<p>Deletes an AWS Device Farm project, given the project ARN.</p> <p> Deleting this resource does not stop an in-progress run.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProjectRequest"
      },
      "name": "DeleteProject",
      "output": {
        "shape": "DeleteProjectResult"
      }
    },
    "DeleteRemoteAccessSession": {
      "documentation": "<p>Deletes a completed remote access session and its results.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRemoteAccessSessionRequest"
      },
      "name": "DeleteRemoteAccessSession",
      "output": {
        "shape": "DeleteRemoteAccessSessionResult"
      }
    },
    "DeleteRun": {
      "documentation": "<p>Deletes the run, given the run ARN.</p> <p> Deleting this resource does not stop an in-progress run.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRunRequest"
      },
      "name": "DeleteRun",
      "output": {
        "shape": "DeleteRunResult"
      }
    },
    "DeleteTestGridProject": {
      "documentation": "<p> Deletes a Selenium testing project and all content generated under it. </p> <important> <p>You cannot undo this operation.</p> </important> <note> <p>You cannot delete a project if it has active sessions.</p> </note>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "CannotDeleteException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTestGridProjectRequest"
      },
      "name": "DeleteTestGridProject",
      "output": {
        "shape": "DeleteTestGridProjectResult"
      }
    },
    "DeleteUpload": {
      "documentation": "<p>Deletes an upload given the upload ARN.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUploadRequest"
      },
      "name": "DeleteUpload",
      "output": {
        "shape": "DeleteUploadResult"
      }
    },
    "DeleteVPCEConfiguration": {
      "documentation": "<p>Deletes a configuration for your Amazon Virtual Private Cloud (VPC) endpoint.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceAccountException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVPCEConfigurationRequest"
      },
      "name": "DeleteVPCEConfiguration",
      "output": {
        "shape": "DeleteVPCEConfigurationResult"
      }
    },
    "GetAccountSettings": {
      "documentation": "<p>Returns the number of unmetered iOS or unmetered Android devices that have been purchased by the account.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccountSettingsRequest"
      },
      "name": "GetAccountSettings",
      "output": {
        "shape": "GetAccountSettingsResult"
      }
    },
    "GetDevice": {
      "documentation": "<p>Gets information about a unique device type.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeviceRequest"
      },
      "name": "GetDevice",
      "output": {
        "shape": "GetDeviceResult"
      }
    },
    "GetDeviceInstance": {
      "documentation": "<p>Returns information about a device instance that belongs to a private device fleet.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeviceInstanceRequest"
      },
      "name": "GetDeviceInstance",
      "output": {
        "shape": "GetDeviceInstanceResult"
      }
    },
    "GetDevicePool": {
      "documentation": "<p>Gets information about a device pool.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDevicePoolRequest"
      },
      "name": "GetDevicePool",
      "output": {
        "shape": "GetDevicePoolResult"
      }
    },
    "GetDevicePoolCompatibility": {
      "documentation": "<p>Gets information about compatibility with a device pool.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDevicePoolCompatibilityRequest"
      },
      "name": "GetDevicePoolCompatibility",
      "output": {
        "shape": "GetDevicePoolCompatibilityResult"
      }
    },
    "GetInstanceProfile": {
      "documentation": "<p>Returns information about the specified instance profile.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceProfileRequest"
      },
      "name": "GetInstanceProfile",
      "output": {
        "shape": "GetInstanceProfileResult"
      }
    },
    "GetJob": {
      "documentation": "<p>Gets information about a job.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResult"
      }
    },
    "GetNetworkProfile": {
      "documentation": "<p>Returns information about a network profile.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNetworkProfileRequest"
      },
      "name": "GetNetworkProfile",
      "output": {
        "shape": "GetNetworkProfileResult"
      }
    },
    "GetOfferingStatus": {
      "documentation": "<p>Gets the current status and future status of all offerings purchased by an AWS account. The response indicates how many offerings are currently available and the offerings that will be available in the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NotEligibleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOfferingStatusRequest"
      },
      "name": "GetOfferingStatus",
      "output": {
        "shape": "GetOfferingStatusResult"
      }
    },
    "GetProject": {
      "documentation": "<p>Gets information about a project.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetProjectRequest"
      },
      "name": "GetProject",
      "output": {
        "shape": "GetProjectResult"
      }
    },
    "GetRemoteAccessSession": {
      "documentation": "<p>Returns a link to a currently running remote access session.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRemoteAccessSessionRequest"
      },
      "name": "GetRemoteAccessSession",
      "output": {
        "shape": "GetRemoteAccessSessionResult"
      }
    },
    "GetRun": {
      "documentation": "<p>Gets information about a run.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRunRequest"
      },
      "name": "GetRun",
      "output": {
        "shape": "GetRunResult"
      }
    },
    "GetSuite": {
      "documentation": "<p>Gets information about a suite.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSuiteRequest"
      },
      "name": "GetSuite",
      "output": {
        "shape": "GetSuiteResult"
      }
    },
    "GetTest": {
      "documentation": "<p>Gets information about a test.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTestRequest"
      },
      "name": "GetTest",
      "output": {
        "shape": "GetTestResult"
      }
    },
    "GetTestGridProject": {
      "documentation": "<p>Retrieves information about a Selenium testing project.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTestGridProjectRequest"
      },
      "name": "GetTestGridProject",
      "output": {
        "shape": "GetTestGridProjectResult"
      }
    },
    "GetTestGridSession": {
      "documentation": "<p>A session is an instance of a browser created through a <code>RemoteWebDriver</code> with the URL from <a>CreateTestGridUrlResult$url</a>. You can use the following to look up sessions:</p> <ul> <li> <p>The session ARN (<a>GetTestGridSessionRequest$sessionArn</a>).</p> </li> <li> <p>The project ARN and a session ID (<a>GetTestGridSessionRequest$projectArn</a> and <a>GetTestGridSessionRequest$sessionId</a>).</p> </li> </ul> <p/>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTestGridSessionRequest"
      },
      "name": "GetTestGridSession",
      "output": {
        "shape": "GetTestGridSessionResult"
      }
    },
    "GetUpload": {
      "documentation": "<p>Gets information about an upload.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUploadRequest"
      },
      "name": "GetUpload",
      "output": {
        "shape": "GetUploadResult"
      }
    },
    "GetVPCEConfiguration": {
      "documentation": "<p>Returns information about the configuration settings for your Amazon Virtual Private Cloud (VPC) endpoint.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetVPCEConfigurationRequest"
      },
      "name": "GetVPCEConfiguration",
      "output": {
        "shape": "GetVPCEConfigurationResult"
      }
    },
    "InstallToRemoteAccessSession": {
      "documentation": "<p>Installs an application to the device in a remote access session. For Android applications, the file must be in .apk format. For iOS applications, the file must be in .ipa format.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InstallToRemoteAccessSessionRequest"
      },
      "name": "InstallToRemoteAccessSession",
      "output": {
        "shape": "InstallToRemoteAccessSessionResult"
      }
    },
    "ListArtifacts": {
      "documentation": "<p>Gets information about artifacts.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListArtifactsRequest"
      },
      "name": "ListArtifacts",
      "output": {
        "shape": "ListArtifactsResult"
      }
    },
    "ListDeviceInstances": {
      "documentation": "<p>Returns information about the private device instances associated with one or more AWS accounts.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeviceInstancesRequest"
      },
      "name": "ListDeviceInstances",
      "output": {
        "shape": "ListDeviceInstancesResult"
      }
    },
    "ListDevicePools": {
      "documentation": "<p>Gets information about device pools.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDevicePoolsRequest"
      },
      "name": "ListDevicePools",
      "output": {
        "shape": "ListDevicePoolsResult"
      }
    },
    "ListDevices": {
      "documentation": "<p>Gets information about unique device types.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDevicesRequest"
      },
      "name": "ListDevices",
      "output": {
        "shape": "ListDevicesResult"
      }
    },
    "ListInstanceProfiles": {
      "documentation": "<p>Returns information about all the instance profiles in an AWS account.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstanceProfilesRequest"
      },
      "name": "ListInstanceProfiles",
      "output": {
        "shape": "ListInstanceProfilesResult"
      }
    },
    "ListJobs": {
      "documentation": "<p>Gets information about jobs for a given test run.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResult"
      }
    },
    "ListNetworkProfiles": {
      "documentation": "<p>Returns the list of available network profiles.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNetworkProfilesRequest"
      },
      "name": "ListNetworkProfiles",
      "output": {
        "shape": "ListNetworkProfilesResult"
      }
    },
    "ListOfferingPromotions": {
      "documentation": "<p>Returns a list of offering promotions. Each offering promotion record contains the ID and description of the promotion. The API returns a <code>NotEligible</code> error if the caller is not permitted to invoke the operation. Contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a> if you must be able to invoke this operation.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NotEligibleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOfferingPromotionsRequest"
      },
      "name": "ListOfferingPromotions",
      "output": {
        "shape": "ListOfferingPromotionsResult"
      }
    },
    "ListOfferingTransactions": {
      "documentation": "<p>Returns a list of all historical purchases, renewals, and system renewal transactions for an AWS account. The list is paginated and ordered by a descending timestamp (most recent transactions are first). The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NotEligibleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOfferingTransactionsRequest"
      },
      "name": "ListOfferingTransactions",
      "output": {
        "shape": "ListOfferingTransactionsResult"
      }
    },
    "ListOfferings": {
      "documentation": "<p>Returns a list of products or offerings that the user can manage through the API. Each offering record indicates the recurring price per unit and the frequency for that offering. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NotEligibleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "name": "ListOfferings",
      "output": {
        "shape": "ListOfferingsResult"
      }
    },
    "ListProjects": {
      "documentation": "<p>Gets information about projects.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProjectsRequest"
      },
      "name": "ListProjects",
      "output": {
        "shape": "ListProjectsResult"
      }
    },
    "ListRemoteAccessSessions": {
      "documentation": "<p>Returns a list of all currently running remote access sessions.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRemoteAccessSessionsRequest"
      },
      "name": "ListRemoteAccessSessions",
      "output": {
        "shape": "ListRemoteAccessSessionsResult"
      }
    },
    "ListRuns": {
      "documentation": "<p>Gets information about runs, given an AWS Device Farm project ARN.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRunsRequest"
      },
      "name": "ListRuns",
      "output": {
        "shape": "ListRunsResult"
      }
    },
    "ListSamples": {
      "documentation": "<p>Gets information about samples, given an AWS Device Farm job ARN.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSamplesRequest"
      },
      "name": "ListSamples",
      "output": {
        "shape": "ListSamplesResult"
      }
    },
    "ListSuites": {
      "documentation": "<p>Gets information about test suites for a given job.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSuitesRequest"
      },
      "name": "ListSuites",
      "output": {
        "shape": "ListSuitesResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List the tags for an AWS Device Farm resource.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TagOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTestGridProjects": {
      "documentation": "<p>Gets a list of all Selenium testing projects in your account.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTestGridProjectsRequest"
      },
      "name": "ListTestGridProjects",
      "output": {
        "shape": "ListTestGridProjectsResult"
      }
    },
    "ListTestGridSessionActions": {
      "documentation": "<p>Returns a list of the actions taken in a <a>TestGridSession</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTestGridSessionActionsRequest"
      },
      "name": "ListTestGridSessionActions",
      "output": {
        "shape": "ListTestGridSessionActionsResult"
      }
    },
    "ListTestGridSessionArtifacts": {
      "documentation": "<p>Retrieves a list of artifacts created during the session.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTestGridSessionArtifactsRequest"
      },
      "name": "ListTestGridSessionArtifacts",
      "output": {
        "shape": "ListTestGridSessionArtifactsResult"
      }
    },
    "ListTestGridSessions": {
      "documentation": "<p>Retrieves a list of sessions for a <a>TestGridProject</a>.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTestGridSessionsRequest"
      },
      "name": "ListTestGridSessions",
      "output": {
        "shape": "ListTestGridSessionsResult"
      }
    },
    "ListTests": {
      "documentation": "<p>Gets information about tests in a given test suite.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTestsRequest"
      },
      "name": "ListTests",
      "output": {
        "shape": "ListTestsResult"
      }
    },
    "ListUniqueProblems": {
      "documentation": "<p>Gets information about unique problems, such as exceptions or crashes.</p> <p>Unique problems are defined as a single instance of an error across a run, job, or suite. For example, if a call in your application consistently raises an exception (<code>OutOfBoundsException in MyActivity.java:386</code>), <code>ListUniqueProblems</code> returns a single entry instead of many individual entries for that exception.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUniqueProblemsRequest"
      },
      "name": "ListUniqueProblems",
      "output": {
        "shape": "ListUniqueProblemsResult"
      }
    },
    "ListUploads": {
      "documentation": "<p>Gets information about uploads, given an AWS Device Farm project ARN.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUploadsRequest"
      },
      "name": "ListUploads",
      "output": {
        "shape": "ListUploadsResult"
      }
    },
    "ListVPCEConfigurations": {
      "documentation": "<p>Returns information about all Amazon Virtual Private Cloud (VPC) endpoint configurations in the AWS account.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVPCEConfigurationsRequest"
      },
      "name": "ListVPCEConfigurations",
      "output": {
        "shape": "ListVPCEConfigurationsResult"
      }
    },
    "PurchaseOffering": {
      "documentation": "<p>Immediately purchases offerings for an AWS account. Offerings renew with the latest total purchased quantity for an offering, unless the renewal was overridden. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NotEligibleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "name": "PurchaseOffering",
      "output": {
        "shape": "PurchaseOfferingResult"
      }
    },
    "RenewOffering": {
      "documentation": "<p>Explicitly sets the quantity of devices to renew for an offering, starting from the <code>effectiveDate</code> of the next period. The API returns a <code>NotEligible</code> error if the user is not permitted to invoke the operation. If you must be able to invoke this operation, contact <a href=\"mailto:aws-devicefarm-support@amazon.com\">aws-devicefarm-support@amazon.com</a>.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NotEligibleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RenewOfferingRequest"
      },
      "name": "RenewOffering",
      "output": {
        "shape": "RenewOfferingResult"
      }
    },
    "ScheduleRun": {
      "documentation": "<p>Schedules a run.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "IdempotencyException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ScheduleRunRequest"
      },
      "name": "ScheduleRun",
      "output": {
        "shape": "ScheduleRunResult"
      }
    },
    "StopJob": {
      "documentation": "<p>Initiates a stop request for the current job. AWS Device Farm immediately stops the job on the device where tests have not started. You are not billed for this device. On the device where tests have started, setup suite and teardown suite tests run to completion on the device. You are billed for setup, teardown, and any tests that were in progress or already completed.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopJobRequest"
      },
      "name": "StopJob",
      "output": {
        "shape": "StopJobResult"
      }
    },
    "StopRemoteAccessSession": {
      "documentation": "<p>Ends a specified remote access session.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopRemoteAccessSessionRequest"
      },
      "name": "StopRemoteAccessSession",
      "output": {
        "shape": "StopRemoteAccessSessionResult"
      }
    },
    "StopRun": {
      "documentation": "<p>Initiates a stop request for the current test run. AWS Device Farm immediately stops the run on devices where tests have not started. You are not billed for these devices. On devices where tests have started executing, setup suite and teardown suite tests run to completion on those devices. You are billed for setup, teardown, and any tests that were in progress or already completed.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopRunRequest"
      },
      "name": "StopRun",
      "output": {
        "shape": "StopRunResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are also deleted.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TagOperationException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TagPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes the specified tags from a resource.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TagOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDeviceInstance": {
      "documentation": "<p>Updates information about a private device instance.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDeviceInstanceRequest"
      },
      "name": "UpdateDeviceInstance",
      "output": {
        "shape": "UpdateDeviceInstanceResult"
      }
    },
    "UpdateDevicePool": {
      "documentation": "<p>Modifies the name, description, and rules in a device pool given the attributes and the pool ARN. Rule updates are all-or-nothing, meaning they can only be updated as a whole (or not at all).</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDevicePoolRequest"
      },
      "name": "UpdateDevicePool",
      "output": {
        "shape": "UpdateDevicePoolResult"
      }
    },
    "UpdateInstanceProfile": {
      "documentation": "<p>Updates information about an existing private device instance profile.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateInstanceProfileRequest"
      },
      "name": "UpdateInstanceProfile",
      "output": {
        "shape": "UpdateInstanceProfileResult"
      }
    },
    "UpdateNetworkProfile": {
      "documentation": "<p>Updates the network profile.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNetworkProfileRequest"
      },
      "name": "UpdateNetworkProfile",
      "output": {
        "shape": "UpdateNetworkProfileResult"
      }
    },
    "UpdateProject": {
      "documentation": "<p>Modifies the specified project name, given the project ARN and a new name.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProjectRequest"
      },
      "name": "UpdateProject",
      "output": {
        "shape": "UpdateProjectResult"
      }
    },
    "UpdateTestGridProject": {
      "documentation": "<p>Change details of a project.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTestGridProjectRequest"
      },
      "name": "UpdateTestGridProject",
      "output": {
        "shape": "UpdateTestGridProjectResult"
      }
    },
    "UpdateUpload": {
      "documentation": "<p>Updates an uploaded test spec.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUploadRequest"
      },
      "name": "UpdateUpload",
      "output": {
        "shape": "UpdateUploadResult"
      }
    },
    "UpdateVPCEConfiguration": {
      "documentation": "<p>Updates information about an Amazon Virtual Private Cloud (VPC) endpoint configuration.</p>",
      "errors": [
        {
          "shape": "ArgumentException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceAccountException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateVPCEConfigurationRequest"
      },
      "name": "UpdateVPCEConfiguration",
      "output": {
        "shape": "UpdateVPCEConfigurationResult"
      }
    }
  },
  "shapes": {
    "AWSAccountNumber": {
      "max": 16,
      "min": 2,
      "type": "string"
    },
    "AccountSettings": {
      "documentation": "<p>A container for account-level settings in AWS Device Farm.</p>",
      "members": {
        "awsAccountNumber": {
          "documentation": "<p>The AWS account number specified in the <code>AccountSettings</code> container.</p>",
          "shape": "AWSAccountNumber"
        },
        "defaultJobTimeoutMinutes": {
          "documentation": "<p>The default number of minutes (at the account level) a test run executes before it times out. The default value is 150 minutes.</p>",
          "shape": "JobTimeoutMinutes"
        },
        "maxJobTimeoutMinutes": {
          "documentation": "<p>The maximum number of minutes a test run executes before it times out.</p>",
          "shape": "JobTimeoutMinutes"
        },
        "maxSlots": {
          "documentation": "<p>The maximum number of device slots that the AWS account can purchase. Each maximum is expressed as an <code>offering-id:number</code> pair, where the <code>offering-id</code> represents one of the IDs returned by the <code>ListOfferings</code> command.</p>",
          "shape": "MaxSlotMap"
        },
        "skipAppResign": {
          "documentation": "<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public devices, Device Farm always signs your apps again.</p> <p>For more information about how Device Farm re-signs your apps, see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a> in the <i>AWS Device Farm FAQs</i>.</p>",
          "shape": "SkipAppResign"
        },
        "trialMinutes": {
          "documentation": "<p>Information about an AWS account's usage of free trial device minutes.</p>",
          "shape": "TrialMinutes"
        },
        "unmeteredDevices": {
          "documentation": "<p>Returns the unmetered devices you have purchased or want to purchase.</p>",
          "shape": "PurchasedDevicesMap"
        },
        "unmeteredRemoteAccessDevices": {
          "documentation": "<p>Returns the unmetered remote access devices you have purchased or want to purchase.</p>",
          "shape": "PurchasedDevicesMap"
        }
      },
      "type": "structure"
    },
    "AccountsCleanup": {
      "type": "boolean"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 32,
      "pattern": "^arn:.+",
      "type": "string"
    },
    "AmazonResourceNames": {
      "member": {
        "shape": "AmazonResourceName"
      },
      "type": "list"
    },
    "AndroidPaths": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "AppPackagesCleanup": {
      "type": "boolean"
    },
    "ArgumentException": {
      "documentation": "<p>An invalid argument was specified.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Any additional information about the exception.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Artifact": {
      "documentation": "<p>Represents the output of a test. Examples of artifacts include logs and screenshots.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The artifact's ARN.</p>",
          "shape": "AmazonResourceName"
        },
        "extension": {
          "documentation": "<p>The artifact's file extension.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The artifact's name.</p>",
          "shape": "Name"
        },
        "type": {
          "documentation": "<p>The artifact's type.</p> <p>Allowed values include the following:</p> <ul> <li> <p>UNKNOWN</p> </li> <li> <p>SCREENSHOT</p> </li> <li> <p>DEVICE_LOG</p> </li> <li> <p>MESSAGE_LOG</p> </li> <li> <p>VIDEO_LOG</p> </li> <li> <p>RESULT_LOG</p> </li> <li> <p>SERVICE_LOG</p> </li> <li> <p>WEBKIT_LOG</p> </li> <li> <p>INSTRUMENTATION_OUTPUT</p> </li> <li> <p>EXERCISER_MONKEY_OUTPUT: the artifact (log) generated by an Android fuzz test.</p> </li> <li> <p>CALABASH_JSON_OUTPUT</p> </li> <li> <p>CALABASH_PRETTY_OUTPUT</p> </li> <li> <p>CALABASH_STANDARD_OUTPUT</p> </li> <li> <p>CALABASH_JAVA_XML_OUTPUT</p> </li> <li> <p>AUTOMATION_OUTPUT</p> </li> <li> <p>APPIUM_SERVER_OUTPUT</p> </li> <li> <p>APPIUM_JAVA_OUTPUT</p> </li> <li> <p>APPIUM_JAVA_XML_OUTPUT</p> </li> <li> <p>APPIUM_PYTHON_OUTPUT</p> </li> <li> <p>APPIUM_PYTHON_XML_OUTPUT</p> </li> <li> <p>EXPLORER_EVENT_LOG</p> </li> <li> <p>EXPLORER_SUMMARY_LOG</p> </li> <li> <p>APPLICATION_CRASH_REPORT</p> </li> <li> <p>XCTEST_LOG</p> </li> <li> <p>VIDEO</p> </li> <li> <p>CUSTOMER_ARTIFACT</p> </li> <li> <p>CUSTOMER_ARTIFACT_LOG</p> </li> <li> <p>TESTSPEC_OUTPUT</p> </li> </ul>",
          "shape": "ArtifactType"
        },
        "url": {
          "documentation": "<p>The presigned Amazon S3 URL that can be used with a GET request to download the artifact's file.</p>",
          "shape": "URL"
        }
      },
      "type": "structure"
    },
    "ArtifactCategory": {
      "enum": [
        "SCREENSHOT",
        "FILE",
        "LOG"
      ],
      "type": "string"
    },
    "ArtifactType": {
      "enum": [
        "UNKNOWN",
        "SCREENSHOT",
        "DEVICE_LOG",
        "MESSAGE_LOG",
        "VIDEO_LOG",
        "RESULT_LOG",
        "SERVICE_LOG",
        "WEBKIT_LOG",
        "INSTRUMENTATION_OUTPUT",
        "EXERCISER_MONKEY_OUTPUT",
        "CALABASH_JSON_OUTPUT",
        "CALABASH_PRETTY_OUTPUT",
        "CALABASH_STANDARD_OUTPUT",
        "CALABASH_JAVA_XML_OUTPUT",
        "AUTOMATION_OUTPUT",
        "APPIUM_SERVER_OUTPUT",
        "APPIUM_JAVA_OUTPUT",
        "APPIUM_JAVA_XML_OUTPUT",
        "APPIUM_PYTHON_OUTPUT",
        "APPIUM_PYTHON_XML_OUTPUT",
        "EXPLORER_EVENT_LOG",
        "EXPLORER_SUMMARY_LOG",
        "APPLICATION_CRASH_REPORT",
        "XCTEST_LOG",
        "VIDEO",
        "CUSTOMER_ARTIFACT",
        "CUSTOMER_ARTIFACT_LOG",
        "TESTSPEC_OUTPUT"
      ],
      "type": "string"
    },
    "Artifacts": {
      "member": {
        "shape": "Artifact"
      },
      "type": "list"
    },
    "BillingMethod": {
      "enum": [
        "METERED",
        "UNMETERED"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CPU": {
      "documentation": "<p>Represents the amount of CPU that an app is using on a physical device. Does not represent system-wide CPU usage.</p>",
      "members": {
        "architecture": {
          "documentation": "<p>The CPU's architecture (for example, x86 or ARM).</p>",
          "shape": "String"
        },
        "clock": {
          "documentation": "<p>The clock speed of the device's CPU, expressed in hertz (Hz). For example, a 1.2 GHz CPU is expressed as 1200000000.</p>",
          "shape": "Double"
        },
        "frequency": {
          "documentation": "<p>The CPU's frequency.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CannotDeleteException": {
      "documentation": "<p>The requested object could not be deleted.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ClientId": {
      "max": 64,
      "min": 0,
      "type": "string"
    },
    "ContentType": {
      "max": 64,
      "min": 0,
      "type": "string"
    },
    "Counters": {
      "documentation": "<p>Represents entity counters.</p>",
      "members": {
        "errored": {
          "documentation": "<p>The number of errored entities.</p>",
          "shape": "Integer"
        },
        "failed": {
          "documentation": "<p>The number of failed entities.</p>",
          "shape": "Integer"
        },
        "passed": {
          "documentation": "<p>The number of passed entities.</p>",
          "shape": "Integer"
        },
        "skipped": {
          "documentation": "<p>The number of skipped entities.</p>",
          "shape": "Integer"
        },
        "stopped": {
          "documentation": "<p>The number of stopped entities.</p>",
          "shape": "Integer"
        },
        "total": {
          "documentation": "<p>The total number of entities.</p>",
          "shape": "Integer"
        },
        "warned": {
          "documentation": "<p>The number of warned entities.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "CreateDevicePoolRequest": {
      "documentation": "<p>Represents a request to the create device pool operation.</p>",
      "members": {
        "description": {
          "documentation": "<p>The device pool's description.</p>",
          "shape": "Message"
        },
        "maxDevices": {
          "documentation": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many devices meet these constraints, your device pool might contain fewer devices than the value for this parameter.</p> <p>By specifying the maximum number of devices, you can control the costs that you incur by running tests.</p>",
          "shape": "Integer"
        },
        "name": {
          "documentation": "<p>The device pool's name.</p>",
          "shape": "Name"
        },
        "projectArn": {
          "documentation": "<p>The ARN of the project for the device pool.</p>",
          "shape": "AmazonResourceName"
        },
        "rules": {
          "documentation": "<p>The device pool's rules.</p>",
          "shape": "Rules"
        }
      },
      "required": [
        "projectArn",
        "name",
        "rules"
      ],
      "type": "structure"
    },
    "CreateDevicePoolResult": {
      "documentation": "<p>Represents the result of a create device pool request.</p>",
      "members": {
        "devicePool": {
          "documentation": "<p>The newly created device pool.</p>",
          "shape": "DevicePool"
        }
      },
      "type": "structure"
    },
    "CreateInstanceProfileRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of your instance profile.</p>",
          "shape": "Message"
        },
        "excludeAppPackagesFromCleanup": {
          "documentation": "<p>An array of strings that specifies the list of app packages that should not be cleaned up from the device after a test run.</p> <p>The list of packages is considered only if you set <code>packageCleanup</code> to <code>true</code>.</p>",
          "shape": "PackageIds"
        },
        "name": {
          "documentation": "<p>The name of your instance profile.</p>",
          "shape": "Name"
        },
        "packageCleanup": {
          "documentation": "<p>When set to <code>true</code>, Device Farm removes app packages after a test run. The default value is <code>false</code> for private devices.</p>",
          "shape": "Boolean"
        },
        "rebootAfterUse": {
          "documentation": "<p>When set to <code>true</code>, Device Farm reboots the instance after a test run. The default value is <code>true</code>.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateInstanceProfileResult": {
      "members": {
        "instanceProfile": {
          "documentation": "<p>An object that contains information about your instance profile.</p>",
          "shape": "InstanceProfile"
        }
      },
      "type": "structure"
    },
    "CreateNetworkProfileRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the network profile.</p>",
          "shape": "Message"
        },
        "downlinkBandwidthBits": {
          "documentation": "<p>The data throughput rate in bits per second, as an integer from 0 to 104857600.</p>",
          "shape": "Long"
        },
        "downlinkDelayMs": {
          "documentation": "<p>Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.</p>",
          "shape": "Long"
        },
        "downlinkJitterMs": {
          "documentation": "<p>Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.</p>",
          "shape": "Long"
        },
        "downlinkLossPercent": {
          "documentation": "<p>Proportion of received packets that fail to arrive from 0 to 100 percent.</p>",
          "shape": "PercentInteger"
        },
        "name": {
          "documentation": "<p>The name for the new network profile.</p>",
          "shape": "Name"
        },
        "projectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the project for which you want to create a network profile.</p>",
          "shape": "AmazonResourceName"
        },
        "type": {
          "documentation": "<p>The type of network profile to create. Valid values are listed here.</p>",
          "shape": "NetworkProfileType"
        },
        "uplinkBandwidthBits": {
          "documentation": "<p>The data throughput rate in bits per second, as an integer from 0 to 104857600.</p>",
          "shape": "Long"
        },
        "uplinkDelayMs": {
          "documentation": "<p>Delay time for all packets to destination in milliseconds as an integer from 0 to 2000.</p>",
          "shape": "Long"
        },
        "uplinkJitterMs": {
          "documentation": "<p>Time variation in the delay of received packets in milliseconds as an integer from 0 to 2000.</p>",
          "shape": "Long"
        },
        "uplinkLossPercent": {
          "documentation": "<p>Proportion of transmitted packets that fail to arrive from 0 to 100 percent.</p>",
          "shape": "PercentInteger"
        }
      },
      "required": [
        "projectArn",
        "name"
      ],
      "type": "structure"
    },
    "CreateNetworkProfileResult": {
      "members": {
        "networkProfile": {
          "documentation": "<p>The network profile that is returned by the create network profile request.</p>",
          "shape": "NetworkProfile"
        }
      },
      "type": "structure"
    },
    "CreateProjectRequest": {
      "documentation": "<p>Represents a request to the create project operation.</p>",
      "members": {
        "defaultJobTimeoutMinutes": {
          "documentation": "<p>Sets the execution timeout value (in minutes) for a project. All test runs in this project use the specified execution timeout value unless overridden when scheduling a run.</p>",
          "shape": "JobTimeoutMinutes"
        },
        "name": {
          "documentation": "<p>The project's name.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateProjectResult": {
      "documentation": "<p>Represents the result of a create project request.</p>",
      "members": {
        "project": {
          "documentation": "<p>The newly created project.</p>",
          "shape": "Project"
        }
      },
      "type": "structure"
    },
    "CreateRemoteAccessSessionConfiguration": {
      "documentation": "<p>Configuration settings for a remote access session, including billing method.</p>",
      "members": {
        "billingMethod": {
          "documentation": "<p>The billing method for the remote access session.</p>",
          "shape": "BillingMethod"
        },
        "vpceConfigurationArns": {
          "documentation": "<p>An array of ARNs included in the VPC endpoint configuration.</p>",
          "shape": "AmazonResourceNames"
        }
      },
      "type": "structure"
    },
    "CreateRemoteAccessSessionRequest": {
      "documentation": "<p>Creates and submits a request to start a remote access session.</p>",
      "members": {
        "clientId": {
          "documentation": "<p>Unique identifier for the client. If you want access to multiple devices on the same client, you should pass the same <code>clientId</code> value in each call to <code>CreateRemoteAccessSession</code>. This identifier is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>",
          "shape": "ClientId"
        },
        "configuration": {
          "documentation": "<p>The configuration information for the remote access session request.</p>",
          "shape": "CreateRemoteAccessSessionConfiguration"
        },
        "deviceArn": {
          "documentation": "<p>The ARN of the device for which you want to create a remote access session.</p>",
          "shape": "AmazonResourceName"
        },
        "instanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the device instance for which you want to create a remote access session.</p>",
          "shape": "AmazonResourceName"
        },
        "interactionMode": {
          "documentation": "<p>The interaction mode of the remote access session. Valid values are:</p> <ul> <li> <p>INTERACTIVE: You can interact with the iOS device by viewing, touching, and rotating the screen. You cannot run XCUITest framework-based tests in this mode.</p> </li> <li> <p>NO_VIDEO: You are connected to the device, but cannot interact with it or view the screen. This mode has the fastest test execution speed. You can run XCUITest framework-based tests in this mode.</p> </li> <li> <p>VIDEO_ONLY: You can view the screen, but cannot touch or rotate it. You can run XCUITest framework-based tests and watch the screen in this mode.</p> </li> </ul>",
          "shape": "InteractionMode"
        },
        "name": {
          "documentation": "<p>The name of the remote access session to create.</p>",
          "shape": "Name"
        },
        "projectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the project for which you want to create a remote access session.</p>",
          "shape": "AmazonResourceName"
        },
        "remoteDebugEnabled": {
          "documentation": "<p>Set to <code>true</code> if you want to access devices remotely for debugging in your remote access session.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>",
          "shape": "Boolean"
        },
        "remoteRecordAppArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the app to be recorded in the remote access session.</p>",
          "shape": "AmazonResourceName"
        },
        "remoteRecordEnabled": {
          "documentation": "<p>Set to <code>true</code> to enable remote recording for the remote access session.</p>",
          "shape": "Boolean"
        },
        "skipAppResign": {
          "documentation": "<p>When set to <code>true</code>, for private devices, Device Farm does not sign your app again. For public devices, Device Farm always signs your apps again.</p> <p>For more information on how Device Farm modifies your uploads during tests, see <a href=\"https://aws.amazon.com/device-farm/faq/\">Do you modify my app?</a> </p>",
          "shape": "Boolean"
        },
        "sshPublicKey": {
          "documentation": "<p>Ignored. The public key of the <code>ssh</code> key pair you want to use for connecting to remote devices in your remote debugging session. This key is required only if <code>remoteDebugEnabled</code> is set to <code>true</code>.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>",
          "shape": "SshPublicKey"
        }
      },
      "required": [
        "projectArn",
        "deviceArn"
      ],
      "type": "structure"
    },
    "CreateRemoteAccessSessionResult": {
      "documentation": "<p>Represents the server response from a request to create a remote access session.</p>",
      "members": {
        "remoteAccessSession": {
          "documentation": "<p>A container that describes the remote access session when the request to create a remote access session is sent.</p>",
          "shape": "RemoteAccessSession"
        }
      },
      "type": "structure"
    },
    "CreateTestGridProjectRequest": {
      "members": {
        "description": {
          "documentation": "<p>Human-readable description of the project.</p>",
          "shape": "ResourceDescription"
        },
        "name": {
          "documentation": "<p>Human-readable name of the Selenium testing project.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateTestGridProjectResult": {
      "members": {
        "testGridProject": {
          "documentation": "<p>ARN of the Selenium testing project that was created.</p>",
          "shape": "TestGridProject"
        }
      },
      "type": "structure"
    },
    "CreateTestGridUrlRequest": {
      "members": {
        "expiresInSeconds": {
          "documentation": "<p>Lifetime, in seconds, of the URL.</p>",
          "shape": "TestGridUrlExpiresInSecondsInput"
        },
        "projectArn": {
          "documentation": "<p>ARN (from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>) to associate with the short-term URL. </p>",
          "shape": "DeviceFarmArn"
        }
      },
      "required": [
        "projectArn",
        "expiresInSeconds"
      ],
      "type": "structure"
    },
    "CreateTestGridUrlResult": {
      "members": {
        "expires": {
          "documentation": "<p>The number of seconds the URL from <a>CreateTestGridUrlResult$url</a> stays active.</p>",
          "shape": "DateTime"
        },
        "url": {
          "documentation": "<p>A signed URL, expiring in <a>CreateTestGridUrlRequest$expiresInSeconds</a> seconds, to be passed to a <code>RemoteWebDriver</code>. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateUploadRequest": {
      "documentation": "<p>Represents a request to the create upload operation.</p>",
      "members": {
        "contentType": {
          "documentation": "<p>The upload's content type (for example, <code>application/octet-stream</code>).</p>",
          "shape": "ContentType"
        },
        "name": {
          "documentation": "<p>The upload's file name. The name should not contain any forward slashes (<code>/</code>). If you are uploading an iOS app, the file name must end with the <code>.ipa</code> extension. If you are uploading an Android app, the file name must end with the <code>.apk</code> extension. For all others, the file name must end with the <code>.zip</code> file extension.</p>",
          "shape": "Name"
        },
        "projectArn": {
          "documentation": "<p>The ARN of the project for the upload.</p>",
          "shape": "AmazonResourceName"
        },
        "type": {
          "documentation": "<p>The upload's upload type.</p> <p>Must be one of the following values:</p> <ul> <li> <p>ANDROID_APP</p> </li> <li> <p>IOS_APP</p> </li> <li> <p>WEB_APP</p> </li> <li> <p>EXTERNAL_DATA</p> </li> <li> <p>APPIUM_JAVA_JUNIT_TEST_PACKAGE</p> </li> <li> <p>APPIUM_JAVA_TESTNG_TEST_PACKAGE</p> </li> <li> <p>APPIUM_PYTHON_TEST_PACKAGE</p> </li> <li> <p>APPIUM_NODE_TEST_PACKAGE</p> </li> <li> <p>APPIUM_RUBY_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_JAVA_JUNIT_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_JAVA_TESTNG_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_PYTHON_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_NODE_TEST_PACKAGE</p> </li> <li> <p>APPIUM_WEB_RUBY_TEST_PACKAGE</p> </li> <li> <p>CALABASH_TEST_PACKAGE</p> </li> <li> <p>INSTRUMENTATION_TEST_PACKAGE</p> </li> <li> <p>UIAUTOMATION_TEST_PACKAGE</p> </li> <li> <p>UIAUTOMATOR_TEST_PACKAGE</p> </li> <li> <p>XCTEST_TEST_PACKAGE</p> </li> <li> <p>XCTEST_UI_TEST_PACKAGE</p> </li> <li> <p>APPIUM_JAVA_JUNIT_TEST_SPEC</p> </li> <li> <p>APPIUM_JAVA_TESTNG_TEST_SPEC</p> </li> <li> <p>APPIUM_PYTHON_TEST_SPEC</p> </li> <li> <p>APPIUM_NODE_TEST_SPEC</p> </li> <li> <p>APPIUM_RUBY_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_JAVA_JUNIT_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_JAVA_TESTNG_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_PYTHON_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_NODE_TEST_SPEC</p> </li> <li> <p>APPIUM_WEB_RUBY_TEST_SPEC</p> </li> <li> <p>INSTRUMENTATION_TEST_SPEC</p> </li> <li> <p>XCTEST_UI_TEST_SPEC</p> </li> </ul> <p> If you call <code>CreateUpload</code> with <code>WEB_APP</code> specified, AWS Device Farm throws an <code>ArgumentException</code> error.</p>",
          "shape": "UploadType"
        }
      },
      "required": [
        "projectArn",
        "name",
        "type"
      ],
      "type": "structure"
    },
    "CreateUploadResult": {
      "documentation": "<p>Represents the result of a create upload request.</p>",
      "members": {
        "upload": {
          "documentation": "<p>The newly created upload.</p>",
          "shape": "Upload"
        }
      },
      "type": "structure"
    },
    "CreateVPCEConfigurationRequest": {
      "members": {
        "serviceDnsName": {
          "documentation": "<p>The DNS name of the service running in your VPC that you want Device Farm to test.</p>",
          "shape": "ServiceDnsName"
        },
        "vpceConfigurationDescription": {
          "documentation": "<p>An optional description that provides details about your VPC endpoint configuration.</p>",
          "shape": "VPCEConfigurationDescription"
        },
        "vpceConfigurationName": {
          "documentation": "<p>The friendly name you give to your VPC endpoint configuration, to manage your configurations more easily.</p>",
          "shape": "VPCEConfigurationName"
        },
        "vpceServiceName": {
          "documentation": "<p>The name of the VPC endpoint service running in your AWS account that you want Device Farm to test.</p>",
          "shape": "VPCEServiceName"
        }
      },
      "required": [
        "vpceConfigurationName",
        "vpceServiceName",
        "serviceDnsName"
      ],
      "type": "structure"
    },
    "CreateVPCEConfigurationResult": {
      "members": {
        "vpceConfiguration": {
          "documentation": "<p>An object that contains information about your VPC endpoint configuration.</p>",
          "shape": "VPCEConfiguration"
        }
      },
      "type": "structure"
    },
    "CurrencyCode": {
      "enum": [
        "USD"
      ],
      "type": "string"
    },
    "CustomerArtifactPaths": {
      "documentation": "<p>A JSON object that specifies the paths where the artifacts generated by the customer's tests, on the device or in the test environment, are pulled from.</p> <p>Specify <code>deviceHostPaths</code> and optionally specify either <code>iosPaths</code> or <code>androidPaths</code>.</p> <p>For web app tests, you can specify both <code>iosPaths</code> and <code>androidPaths</code>.</p>",
      "members": {
        "androidPaths": {
          "documentation": "<p>Comma-separated list of paths on the Android device where the artifacts generated by the customer's tests are pulled from.</p>",
          "shape": "AndroidPaths"
        },
        "deviceHostPaths": {
          "documentation": "<p>Comma-separated list of paths in the test execution environment where the artifacts generated by the customer's tests are pulled from.</p>",
          "shape": "DeviceHostPaths"
        },
        "iosPaths": {
          "documentation": "<p>Comma-separated list of paths on the iOS device where the artifacts generated by the customer's tests are pulled from.</p>",
          "shape": "IosPaths"
        }
      },
      "type": "structure"
    },
    "DateTime": {
      "type": "timestamp"
    },
    "DeleteDevicePoolRequest": {
      "documentation": "<p>Represents a request to the delete device pool operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm device pool to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteDevicePoolResult": {
      "documentation": "<p>Represents the result of a delete device pool request.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteInstanceProfileRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the instance profile you are requesting to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteInstanceProfileResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteNetworkProfileRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the network profile to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteNetworkProfileResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteProjectRequest": {
      "documentation": "<p>Represents a request to the delete project operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm project to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteProjectResult": {
      "documentation": "<p>Represents the result of a delete project request.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteRemoteAccessSessionRequest": {
      "documentation": "<p>Represents the request to delete the specified remote access session.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the session for which you want to delete remote access.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteRemoteAccessSessionResult": {
      "documentation": "<p>The response from the server when a request is made to delete the remote access session.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteRunRequest": {
      "documentation": "<p>Represents a request to the delete run operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the run to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteRunResult": {
      "documentation": "<p>Represents the result of a delete run request.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteTestGridProjectRequest": {
      "members": {
        "projectArn": {
          "documentation": "<p>The ARN of the project to delete, from <a>CreateTestGridProject</a> or <a>ListTestGridProjects</a>.</p>",
          "shape": "DeviceFarmArn"
        }
      },
      "required": [
        "projectArn"
      ],
      "type": "structure"
    },
    "DeleteTestGridProjectResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteUploadRequest": {
      "documentation": "<p>Represents a request to the delete upload operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>Represents the Amazon Resource Name (ARN) of the Device Farm upload to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteUploadResult": {
      "documentation": "<p>Represents the result of a delete upload request.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteVPCEConfigurationRequest": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the VPC endpoint configuration you want to delete.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteVPCEConfigurationResult": {
      "members": {},
      "type": "structure"
    },
    "Device": {
      "documentation": "<p>Represents a device type that an app is tested against.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The device's ARN.</p>",
          "shape": "AmazonResourceName"
        },
        "availability": {
          "documentation": "<p>Indicates how likely a device is available for a test run. Currently available in the <a>ListDevices</a> and GetDevice API methods.</p>",
          "shape": "DeviceAvailability"
        },
        "carrier": {
          "documentation": "<p>The device's carrier.</p>",
          "shape": "String"
        },
        "cpu": {
          "documentation": "<p>Information about the device's CPU.</p>",
          "shape": "CPU"
        },
        "fleetName": {
          "documentation": "<p>The name of the fleet to which this device belongs.</p>",
          "shape": "String"
        },
        "fleetType": {
          "documentation": "<p>The type of fleet to which this device belongs. Possible values are PRIVATE and PUBLIC.</p>",
          "shape": "String"
        },
        "formFactor": {
          "documentation": "<p>The device's form factor.</p> <p>Allowed values include:</p> <ul> <li> <p>PHONE</p> </li> <li> <p>TABLET</p> </li> </ul>",
          "shape": "DeviceFormFactor"
        },
        "heapSize": {
          "documentation": "<p>The device's heap size, expressed in bytes.</p>",
          "shape": "Long"
        },
        "image": {
          "documentation": "<p>The device's image name.</p>",
          "shape": "String"
        },
        "instances": {
          "documentation": "<p>The instances that belong to this device.</p>",
          "shape": "DeviceInstances"
        },
        "manufacturer": {
          "documentation": "<p>The device's manufacturer name.</p>",
          "shape": "String"
        },
        "memory": {
          "documentation": "<p>The device's total memory size, expressed in bytes.</p>",
          "shape": "Long"
        },
        "model": {
          "documentation": "<p>The device's model name.</p>",
          "shape": "String"
        },
        "modelId": {
          "documentation": "<p>The device's model ID.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The device's display name.</p>",
          "shape": "Name"
        },
        "os": {
          "documentation": "<p>The device's operating system type.</p>",
          "shape": "String"
        },
        "platform": {
          "documentation": "<p>The device's platform.</p> <p>Allowed values include:</p> <ul> <li> <p>ANDROID</p> </li> <li> <p>IOS</p> </li> </ul>",
          "shape": "DevicePlatform"
        },
        "radio": {
          "documentation": "<p>The device's radio.</p>",
          "shape": "String"
        },
        "remoteAccessEnabled": {
          "documentation": "<p>Specifies whether remote access has been enabled for the specified device.</p>",
          "shape": "Boolean"
        },
        "remoteDebugEnabled": {
          "documentation": "<p>This flag is set to <code>true</code> if remote debugging is enabled for the device.</p> <p>Remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>.</p>",
          "shape": "Boolean"
        },
        "resolution": {
          "documentation": "<p>The resolution of the device.</p>",
          "shape": "Resolution"
        }
      },
      "type": "structure"
    },
    "DeviceAttribute": {
      "enum": [
        "ARN",
        "PLATFORM",
        "FORM_FACTOR",
        "MANUFACTURER",
        "REMOTE_ACCESS_ENABLED",
        "REMOTE_DEBUG_ENABLED",
        "APPIUM_VERSION",
        "INSTANCE_ARN",
        "INSTANCE_LABELS",
        "FLEET_TYPE",
        "OS_VERSION",
        "MODEL",
        "AVAILABILITY"
      ],
      "type": "string"
    },
    "DeviceAvailability": {
      "enum": [
        "TEMPORARY_NOT_AVAILABLE",
        "BUSY",
        "AVAILABLE",
        "HIGHLY_AVAILABLE"
      ],
      "type": "string"
    },
    "DeviceFarmArn": {
      "max": 1011,
      "min": 32,
      "pattern": "^arn:aws:devicefarm:.+",
      "type": "string"
    },
    "DeviceFilter": {
      "documentation": "<p>Represents a device filter used to select a set of devices to be included in a test run. This data structure is passed in as the <code>deviceSelectionConfiguration</code> parameter to <code>ScheduleRun</code>. For an example of the JSON request syntax, see <a>ScheduleRun</a>.</p> <p>It is also passed in as the <code>filters</code> parameter to <code>ListDevices</code>. For an example of the JSON request syntax, see <a>ListDevices</a>.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The aspect of a device such as platform or model used as the selection criteria in a device filter.</p> <p>The supported operators for each attribute are provided in the following list.</p> <dl> <dt>ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device (for example, <code>arn:aws:devicefarm:us-west-2::device:12345Example</code>).</p> <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>PLATFORM</dt> <dd> <p>The device platform. Valid values are ANDROID or IOS.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>OS_VERSION</dt> <dd> <p>The operating system version (for example, 10.3.2).</p> <p>Supported operators: <code>EQUALS</code>, <code>GREATER_THAN</code>, <code>GREATER_THAN_OR_EQUALS</code>, <code>IN</code>, <code>LESS_THAN</code>, <code>LESS_THAN_OR_EQUALS</code>, <code>NOT_IN</code> </p> </dd> <dt>MODEL</dt> <dd> <p>The device model (for example, iPad 5th Gen).</p> <p>Supported operators: <code>CONTAINS</code>, <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>AVAILABILITY</dt> <dd> <p>The current availability of the device. Valid values are AVAILABLE, HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>FORM_FACTOR</dt> <dd> <p>The device form factor. Valid values are PHONE or TABLET.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>MANUFACTURER</dt> <dd> <p>The device manufacturer (for example, Apple).</p> <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>REMOTE_ACCESS_ENABLED</dt> <dd> <p>Whether the device is enabled for remote access. Valid values are TRUE or FALSE.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> <dt>REMOTE_DEBUG_ENABLED</dt> <dd> <p>Whether the device is enabled for remote debugging. Valid values are TRUE or FALSE.</p> <p>Supported operators: <code>EQUALS</code> </p> <p>Because remote debugging is <a href=\"https://docs.aws.amazon.com/devicefarm/latest/developerguide/history.html\">no longer supported</a>, this filter is ignored.</p> </dd> <dt>INSTANCE_ARN</dt> <dd> <p>The Amazon Resource Name (ARN) of the device instance.</p> <p>Supported operators: <code>EQUALS</code>, <code>IN</code>, <code>NOT_IN</code> </p> </dd> <dt>INSTANCE_LABELS</dt> <dd> <p>The label of the device instance.</p> <p>Supported operators: <code>CONTAINS</code> </p> </dd> <dt>FLEET_TYPE</dt> <dd> <p>The fleet type. Valid values are PUBLIC or PRIVATE.</p> <p>Supported operators: <code>EQUALS</code> </p> </dd> </dl>",
          "shape": "DeviceFilterAttribute"
        },
        "operator": {
          "documentation": "<p>Specifies how Device Farm compares the filter's attribute to the value. See the attribute descriptions.</p>",
          "shape": "RuleOperator"
        },
        "values": {
          "documentation": "<p>An array of one or more filter values used in a device filter.</p> <p class=\"title\"> <b>Operator Values</b> </p> <ul> <li> <p>The IN and NOT_IN operators can take a values array that has more than one element.</p> </li> <li> <p>The other operators require an array with a single element.</p> </li> </ul> <p class=\"title\"> <b>Attribute Values</b> </p> <ul> <li> <p>The PLATFORM attribute can be set to ANDROID or IOS.</p> </li> <li> <p>The AVAILABILITY attribute can be set to AVAILABLE, HIGHLY_AVAILABLE, BUSY, or TEMPORARY_NOT_AVAILABLE.</p> </li> <li> <p>The FORM_FACTOR attribute can be set to PHONE or TABLET.</p> </li> <li> <p>The FLEET_TYPE attribute can be set to PUBLIC or PRIVATE.</p> </li> </ul>",
          "shape": "DeviceFilterValues"
        }
      },
      "type": "structure"
    },
    "DeviceFilterAttribute": {
      "enum": [
        "ARN",
        "PLATFORM",
        "OS_VERSION",
        "MODEL",
        "AVAILABILITY",
        "FORM_FACTOR",
        "MANUFACTURER",
        "REMOTE_ACCESS_ENABLED",
        "REMOTE_DEBUG_ENABLED",
        "INSTANCE_ARN",
        "INSTANCE_LABELS",
        "FLEET_TYPE"
      ],
      "type": "string"
    },
    "DeviceFilterValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DeviceFilters": {
      "member": {
        "shape": "DeviceFilter"
      },
      "type": "list"
    },
    "DeviceFormFactor": {
      "enum": [
        "PHONE",
        "TABLET"
      ],
      "type": "string"
    },
    "DeviceHostPaths": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DeviceInstance": {
      "documentation": "<p>Represents the device instance.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the device instance.</p>",
          "shape": "AmazonResourceName"
        },
        "deviceArn": {
          "documentation": "<p>The ARN of the device.</p>",
          "shape": "AmazonResourceName"
        },
        "instanceProfile": {
          "documentation": "<p>A object that contains information about the instance profile.</p>",
          "shape": "InstanceProfile"
        },
        "labels": {
          "documentation": "<p>An array of strings that describe the device instance.</p>",
          "shape": "InstanceLabels"
        },
        "status": {
          "documentation": "<p>The status of the device instance. Valid values are listed here.</p>",
          "shape": "InstanceStatus"
        },
        "udid": {
          "documentation": "<p>Unique device identifier for the device instance.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeviceInstances": {
      "member": {
        "shape": "DeviceInstance"
      },
      "type": "list"
    },
    "DeviceMinutes": {
      "documentation": "<p>Represents the total (metered or unmetered) minutes used by the resource to run tests. Contains the sum of minutes consumed by all children.</p>",
      "members": {
        "metered": {
          "documentation": "<p>When specified, represents only the sum of metered minutes used by the resource to run tests.</p>",
          "shape": "Double"
        },
        "total": {
          "documentation": "<p>When specified, represents the total minutes used by the resource to run tests.</p>",
          "shape": "Double"
        },
        "unmetered": {
          "documentation": "<p>When specified, represents only the sum of unmetered minutes used by the resource to run tests.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "DevicePlatform": {
      "enum": [
        "ANDROID",
        "IOS"
      ],
      "type": "string"
    },
    "DevicePool": {
      "documentation": "<p>Represents a collection of device types.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The device pool's ARN.</p>",
          "shape": "AmazonResourceName"
        },
        "description": {
          "documentation": "<p>The device pool's description.</p>",
          "shape": "Message"
        },
        "maxDevices": {
          "documentation": "<p>The number of devices that Device Farm can add to your device pool. Device Farm adds devices that are available and meet the criteria that you assign for the <code>rules</code> parameter. Depending on how many devices meet these constraints, your device pool might contain fewer devices than the value for this parameter.</p> <p>By specifying the maximum number of devices, you can control the costs that you incur by running tests.</p>",
          "shape": "Integer"
        },
        "name": {
          "documentation": "<p>The device pool's name.</p>",
          "shape": "Name"
        },
        "rules": {
          "documentation": "<p>Information about the device pool's rules.</p>",
          "shape": "Rules"
        },
[...]
