{
  "documentation": "<p>AWS Data Pipeline configures and manages a data-driven workflow called a pipeline. AWS Data Pipeline handles the details of scheduling and ensuring that data dependencies are met so that your application can focus on processing the data.</p> <p>AWS Data Pipeline provides a JAR implementation of a task runner called AWS Data Pipeline Task Runner. AWS Data Pipeline Task Runner provides logic for common data management scenarios, such as performing database queries and running data analysis using Amazon Elastic MapReduce (Amazon EMR). You can use AWS Data Pipeline Task Runner as your task runner, or you can write your own task runner to provide custom data management.</p> <p>AWS Data Pipeline implements two main sets of functionality. Use the first set to create a pipeline and define data sources, schedules, dependencies, and the transforms to be performed on the data. Use the second set in your task runner application to receive the next task ready for processing. The logic for performing the task, such as querying the data, running data analysis, or converting the data from one format to another, is contained within the task runner. The task runner performs the task assigned to it by the web service, reporting progress to the web service as it does so. When the task is done, the task runner reports the final success or failure of the task to the web service.</p>",
  "metadata": {
    "apiVersion": "2012-10-29",
    "endpointPrefix": "datapipeline",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Data Pipeline",
    "serviceId": "Data Pipeline",
    "signatureVersion": "v4",
    "targetPrefix": "DataPipeline",
    "uid": "datapipeline-2012-10-29"
  },
  "operations": {
    "ActivatePipeline": {
      "documentation": "<p>Validates the specified pipeline and starts processing pipeline tasks. If the pipeline does not pass validation, activation fails.</p> <p>If you need to pause the pipeline to investigate an issue with a component, such as a data source or script, call <a>DeactivatePipeline</a>.</p> <p>To activate a finished pipeline, modify the end date for the pipeline and then activate it.</p>",
      "errors": [
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        },
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for ActivatePipeline.</p>",
        "shape": "ActivatePipelineInput"
      },
      "name": "ActivatePipeline",
      "output": {
        "documentation": "<p>Contains the output of ActivatePipeline.</p>",
        "shape": "ActivatePipelineOutput"
      }
    },
    "AddTags": {
      "documentation": "<p>Adds or modifies tags for the specified pipeline.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for AddTags.</p>",
        "shape": "AddTagsInput"
      },
      "name": "AddTags",
      "output": {
        "documentation": "<p>Contains the output of AddTags.</p>",
        "shape": "AddTagsOutput"
      }
    },
    "CreatePipeline": {
      "documentation": "<p>Creates a new, empty pipeline. Use <a>PutPipelineDefinition</a> to populate the pipeline.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for CreatePipeline.</p>",
        "shape": "CreatePipelineInput"
      },
      "name": "CreatePipeline",
      "output": {
        "documentation": "<p>Contains the output of CreatePipeline.</p>",
        "shape": "CreatePipelineOutput"
      }
    },
    "DeactivatePipeline": {
      "documentation": "<p>Deactivates the specified running pipeline. The pipeline is set to the <code>DEACTIVATING</code> state until the deactivation process completes.</p> <p>To resume a deactivated pipeline, use <a>ActivatePipeline</a>. By default, the pipeline resumes from the last completed execution. Optionally, you can specify the date and time to resume the pipeline.</p>",
      "errors": [
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        },
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for DeactivatePipeline.</p>",
        "shape": "DeactivatePipelineInput"
      },
      "name": "DeactivatePipeline",
      "output": {
        "documentation": "<p>Contains the output of DeactivatePipeline.</p>",
        "shape": "DeactivatePipelineOutput"
      }
    },
    "DeletePipeline": {
      "documentation": "<p>Deletes a pipeline, its pipeline definition, and its run history. AWS Data Pipeline attempts to cancel instances associated with the pipeline that are currently being processed by task runners.</p> <p>Deleting a pipeline cannot be undone. You cannot query or restore a deleted pipeline. To temporarily pause a pipeline instead of deleting it, call <a>SetStatus</a> with the status set to <code>PAUSE</code> on individual components. Components that are paused by <a>SetStatus</a> can be resumed.</p>",
      "errors": [
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for DeletePipeline.</p>",
        "shape": "DeletePipelineInput"
      },
      "name": "DeletePipeline"
    },
    "DescribeObjects": {
      "documentation": "<p>Gets the object definitions for a set of objects associated with the pipeline. Object definitions are composed of a set of fields that define the properties of the object.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for DescribeObjects.</p>",
        "shape": "DescribeObjectsInput"
      },
      "name": "DescribeObjects",
      "output": {
        "documentation": "<p>Contains the output of DescribeObjects.</p>",
        "shape": "DescribeObjectsOutput"
      }
    },
    "DescribePipelines": {
      "documentation": "<p>Retrieves metadata about one or more pipelines. The information retrieved includes the name of the pipeline, the pipeline identifier, its current state, and the user account that owns the pipeline. Using account credentials, you can retrieve metadata about pipelines that you or your IAM users have created. If you are using an IAM user account, you can retrieve metadata about only those pipelines for which you have read permissions.</p> <p>To retrieve the full pipeline definition instead of metadata about the pipeline, call <a>GetPipelineDefinition</a>.</p>",
      "errors": [
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        },
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for DescribePipelines.</p>",
        "shape": "DescribePipelinesInput"
      },
      "name": "DescribePipelines",
      "output": {
        "documentation": "<p>Contains the output of DescribePipelines.</p>",
        "shape": "DescribePipelinesOutput"
      }
    },
    "EvaluateExpression": {
      "documentation": "<p>Task runners call <code>EvaluateExpression</code> to evaluate a string in the context of the specified object. For example, a task runner can evaluate SQL queries stored in Amazon S3.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The specified task was not found. </p>",
          "exception": true,
          "shape": "TaskNotFoundException"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for EvaluateExpression.</p>",
        "shape": "EvaluateExpressionInput"
      },
      "name": "EvaluateExpression",
      "output": {
        "documentation": "<p>Contains the output of EvaluateExpression.</p>",
        "shape": "EvaluateExpressionOutput"
      }
    },
    "GetPipelineDefinition": {
      "documentation": "<p>Gets the definition of the specified pipeline. You can call <code>GetPipelineDefinition</code> to retrieve the pipeline definition that you provided using <a>PutPipelineDefinition</a>.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for GetPipelineDefinition.</p>",
        "shape": "GetPipelineDefinitionInput"
      },
      "name": "GetPipelineDefinition",
      "output": {
        "documentation": "<p>Contains the output of GetPipelineDefinition.</p>",
        "shape": "GetPipelineDefinitionOutput"
      }
    },
    "ListPipelines": {
      "documentation": "<p>Lists the pipeline identifiers for all active pipelines that you have permission to access.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for ListPipelines.</p>",
        "shape": "ListPipelinesInput"
      },
      "name": "ListPipelines",
      "output": {
        "documentation": "<p>Contains the output of ListPipelines.</p>",
        "shape": "ListPipelinesOutput"
      }
    },
    "PollForTask": {
      "documentation": "<p>Task runners call <code>PollForTask</code> to receive a task to perform from AWS Data Pipeline. The task runner specifies which tasks it can perform by setting a value for the <code>workerGroup</code> parameter. The task returned can come from any of the pipelines that match the <code>workerGroup</code> value passed in by the task runner and that was launched using the IAM user credentials specified by the task runner.</p> <p>If tasks are ready in the work queue, <code>PollForTask</code> returns a response immediately. If no tasks are available in the queue, <code>PollForTask</code> uses long-polling and holds on to a poll connection for up to a 90 seconds, during which time the first newly scheduled task is handed to the task runner. To accomodate this, set the socket timeout in your task runner to 90 seconds. The task runner should not call <code>PollForTask</code> again on the same <code>workerGroup</code> until it receives a response, and this can take up to 90 seconds. </p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified task was not found. </p>",
          "exception": true,
          "shape": "TaskNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for PollForTask.</p>",
        "shape": "PollForTaskInput"
      },
      "name": "PollForTask",
      "output": {
        "documentation": "<p>Contains the output of PollForTask.</p>",
        "shape": "PollForTaskOutput"
      }
    },
    "PutPipelineDefinition": {
      "documentation": "<p>Adds tasks, schedules, and preconditions to the specified pipeline. You can use <code>PutPipelineDefinition</code> to populate a new pipeline.</p> <p> <code>PutPipelineDefinition</code> also validates the configuration as it adds it to the pipeline. Changes to the pipeline are saved unless one of the following three validation errors exists in the pipeline. </p> <ol> <li>An object is missing a name or identifier field.</li> <li>A string or reference field is empty.</li> <li>The number of objects in the pipeline exceeds the maximum allowed objects.</li> <li>The pipeline is in a FINISHED state.</li> </ol> <p> Pipeline object definitions are passed to the <code>PutPipelineDefinition</code> action and returned by the <a>GetPipelineDefinition</a> action. </p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for PutPipelineDefinition.</p>",
        "shape": "PutPipelineDefinitionInput"
      },
      "name": "PutPipelineDefinition",
      "output": {
        "documentation": "<p>Contains the output of PutPipelineDefinition.</p>",
        "shape": "PutPipelineDefinitionOutput"
      }
    },
    "QueryObjects": {
      "documentation": "<p>Queries the specified pipeline for the names of objects that match the specified set of conditions.</p>",
      "errors": [
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        },
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for QueryObjects.</p>",
        "shape": "QueryObjectsInput"
      },
      "name": "QueryObjects",
      "output": {
        "documentation": "<p>Contains the output of QueryObjects.</p>",
        "shape": "QueryObjectsOutput"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes existing tags from the specified pipeline.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for RemoveTags.</p>",
        "shape": "RemoveTagsInput"
      },
      "name": "RemoveTags",
      "output": {
        "documentation": "<p>Contains the output of RemoveTags.</p>",
        "shape": "RemoveTagsOutput"
      }
    },
    "ReportTaskProgress": {
      "documentation": "<p>Task runners call <code>ReportTaskProgress</code> when assigned a task to acknowledge that it has the task. If the web service does not receive this acknowledgement within 2 minutes, it assigns the task in a subsequent <a>PollForTask</a> call. After this initial acknowledgement, the task runner only needs to report progress every 15 minutes to maintain its ownership of the task. You can change this reporting time from 15 minutes by specifying a <code>reportProgressTimeout</code> field in your pipeline.</p> <p>If a task runner does not report its status after 5 minutes, AWS Data Pipeline assumes that the task runner is unable to process the task and reassigns the task in a subsequent response to <a>PollForTask</a>. Task runners should call <code>ReportTaskProgress</code> every 60 seconds.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified task was not found. </p>",
          "exception": true,
          "shape": "TaskNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for ReportTaskProgress.</p>",
        "shape": "ReportTaskProgressInput"
      },
      "name": "ReportTaskProgress",
      "output": {
        "documentation": "<p>Contains the output of ReportTaskProgress.</p>",
        "shape": "ReportTaskProgressOutput"
      }
    },
    "ReportTaskRunnerHeartbeat": {
      "documentation": "<p>Task runners call <code>ReportTaskRunnerHeartbeat</code> every 15 minutes to indicate that they are operational. If the AWS Data Pipeline Task Runner is launched on a resource managed by AWS Data Pipeline, the web service can use this call to detect when the task runner application has failed and restart a new instance.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for ReportTaskRunnerHeartbeat.</p>",
        "shape": "ReportTaskRunnerHeartbeatInput"
      },
      "name": "ReportTaskRunnerHeartbeat",
      "output": {
        "documentation": "<p>Contains the output of ReportTaskRunnerHeartbeat.</p>",
        "shape": "ReportTaskRunnerHeartbeatOutput"
      }
    },
    "SetStatus": {
      "documentation": "<p>Requests that the status of the specified physical or logical pipeline objects be updated in the specified pipeline. This update might not occur immediately, but is eventually consistent. The status that can be set depends on the type of object (for example, DataNode or Activity). You cannot perform this operation on <code>FINISHED</code> pipelines and attempting to do so returns <code>InvalidRequestException</code>.</p>",
      "errors": [
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        },
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for SetStatus.</p>",
        "shape": "SetStatusInput"
      },
      "name": "SetStatus"
    },
    "SetTaskStatus": {
      "documentation": "<p>Task runners call <code>SetTaskStatus</code> to notify AWS Data Pipeline that a task is completed and provide information about the final status. A task runner makes this call regardless of whether the task was sucessful. A task runner does not need to call <code>SetTaskStatus</code> for tasks that are canceled by the web service during a call to <a>ReportTaskProgress</a>.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The specified task was not found. </p>",
          "exception": true,
          "shape": "TaskNotFoundException"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for SetTaskStatus.</p>",
        "shape": "SetTaskStatusInput"
      },
      "name": "SetTaskStatus",
      "output": {
        "documentation": "<p>Contains the output of SetTaskStatus.</p>",
        "shape": "SetTaskStatusOutput"
      }
    },
    "ValidatePipelineDefinition": {
      "documentation": "<p>Validates the specified pipeline definition to ensure that it is well formed and can be run without error.</p>",
      "errors": [
        {
          "documentation": "<p>An internal service error occurred.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalServiceError"
        },
        {
          "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
          "exception": true,
          "shape": "InvalidRequestException"
        },
        {
          "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
          "exception": true,
          "shape": "PipelineNotFoundException"
        },
        {
          "documentation": "<p>The specified pipeline has been deleted.</p>",
          "exception": true,
          "shape": "PipelineDeletedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Contains the parameters for ValidatePipelineDefinition.</p>",
        "shape": "ValidatePipelineDefinitionInput"
      },
      "name": "ValidatePipelineDefinition",
      "output": {
        "documentation": "<p>Contains the output of ValidatePipelineDefinition.</p>",
        "shape": "ValidatePipelineDefinitionOutput"
      }
    }
  },
  "shapes": {
    "ActivatePipelineInput": {
      "documentation": "<p>Contains the parameters for ActivatePipeline.</p>",
      "members": {
        "parameterValues": {
          "documentation": "<p>A list of parameter values to pass to the pipeline at activation.</p>",
          "shape": "ParameterValueList"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "startTimestamp": {
          "documentation": "<p>The date and time to resume the pipeline. By default, the pipeline resumes from the last completed execution.</p>",
          "shape": "timestamp"
        }
      },
      "required": [
        "pipelineId"
      ],
      "type": "structure"
    },
    "ActivatePipelineOutput": {
      "documentation": "<p>Contains the output of ActivatePipeline.</p>",
      "members": {},
      "type": "structure"
    },
    "AddTagsInput": {
      "documentation": "<p>Contains the parameters for AddTags.</p>",
      "members": {
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "tags": {
          "documentation": "<p>The tags to add, as key/value pairs.</p>",
          "shape": "tagList"
        }
      },
      "required": [
        "pipelineId",
        "tags"
      ],
      "type": "structure"
    },
    "AddTagsOutput": {
      "documentation": "<p>Contains the output of AddTags.</p>",
      "members": {},
      "type": "structure"
    },
    "CreatePipelineInput": {
      "documentation": "<p>Contains the parameters for CreatePipeline.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description for the pipeline.</p>",
          "shape": "string"
        },
        "name": {
          "documentation": "<p>The name for the pipeline. You can use the same name for multiple pipelines associated with your AWS account, because AWS Data Pipeline assigns each pipeline a unique pipeline identifier.</p>",
          "shape": "id"
        },
        "tags": {
          "documentation": "<p>A list of tags to associate with the pipeline at creation. Tags let you control access to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
          "shape": "tagList"
        },
        "uniqueId": {
          "documentation": "<p>A unique identifier. This identifier is not the same as the pipeline identifier assigned by AWS Data Pipeline. You are responsible for defining the format and ensuring the uniqueness of this identifier. You use this parameter to ensure idempotency during repeated calls to <code>CreatePipeline</code>. For example, if the first call to <code>CreatePipeline</code> does not succeed, you can pass in the same unique identifier and pipeline name combination on a subsequent call to <code>CreatePipeline</code>. <code>CreatePipeline</code> ensures that if a pipeline already exists with the same name and unique identifier, a new pipeline is not created. Instead, you'll receive the pipeline identifier from the previous attempt. The uniqueness of the name and unique identifier combination is scoped to the AWS account or IAM user credentials.</p>",
          "shape": "id"
        }
      },
      "required": [
        "name",
        "uniqueId"
      ],
      "type": "structure"
    },
    "CreatePipelineOutput": {
      "documentation": "<p>Contains the output of CreatePipeline.</p>",
      "members": {
        "pipelineId": {
          "documentation": "<p>The ID that AWS Data Pipeline assigns the newly created pipeline. For example, <code>df-06372391ZG65EXAMPLE</code>.</p>",
          "shape": "id"
        }
      },
      "required": [
        "pipelineId"
      ],
      "type": "structure"
    },
    "DeactivatePipelineInput": {
      "documentation": "<p>Contains the parameters for DeactivatePipeline.</p>",
      "members": {
        "cancelActive": {
          "documentation": "<p>Indicates whether to cancel any running objects. The default is true, which sets the state of any running objects to <code>CANCELED</code>. If this value is false, the pipeline is deactivated after all running objects finish.</p>",
          "shape": "cancelActive"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        }
      },
      "required": [
        "pipelineId"
      ],
      "type": "structure"
    },
    "DeactivatePipelineOutput": {
      "documentation": "<p>Contains the output of DeactivatePipeline.</p>",
      "members": {},
      "type": "structure"
    },
    "DeletePipelineInput": {
      "documentation": "<p>Contains the parameters for DeletePipeline.</p>",
      "members": {
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        }
      },
      "required": [
        "pipelineId"
      ],
      "type": "structure"
    },
    "DescribeObjectsInput": {
      "documentation": "<p>Contains the parameters for DescribeObjects.</p>",
      "members": {
        "evaluateExpressions": {
          "documentation": "<p>Indicates whether any expressions in the object should be evaluated when the object descriptions are returned.</p>",
          "shape": "boolean"
        },
        "marker": {
          "documentation": "<p>The starting point for the results to be returned. For the first call, this value should be empty. As long as there are more results, continue to call <code>DescribeObjects</code> with the marker value from the previous call to retrieve the next set of results.</p>",
          "shape": "string"
        },
        "objectIds": {
          "documentation": "<p>The IDs of the pipeline objects that contain the definitions to be described. You can pass as many as 25 identifiers in a single call to <code>DescribeObjects</code>.</p>",
          "shape": "idList"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline that contains the object definitions.</p>",
          "shape": "id"
        }
      },
      "required": [
        "pipelineId",
        "objectIds"
      ],
      "type": "structure"
    },
    "DescribeObjectsOutput": {
      "documentation": "<p>Contains the output of DescribeObjects.</p>",
      "members": {
        "hasMoreResults": {
          "documentation": "<p>Indicates whether there are more results to return.</p>",
          "shape": "boolean"
        },
        "marker": {
          "documentation": "<p>The starting point for the next page of results. To view the next page of results, call <code>DescribeObjects</code> again with this marker value. If the value is null, there are no more results.</p>",
          "shape": "string"
        },
        "pipelineObjects": {
          "documentation": "<p>An array of object definitions.</p>",
          "shape": "PipelineObjectList"
        }
      },
      "required": [
        "pipelineObjects"
      ],
      "type": "structure"
    },
    "DescribePipelinesInput": {
      "documentation": "<p>Contains the parameters for DescribePipelines.</p>",
      "members": {
        "pipelineIds": {
          "documentation": "<p>The IDs of the pipelines to describe. You can pass as many as 25 identifiers in a single call. To obtain pipeline IDs, call <a>ListPipelines</a>.</p>",
          "shape": "idList"
        }
      },
      "required": [
        "pipelineIds"
      ],
      "type": "structure"
    },
    "DescribePipelinesOutput": {
      "documentation": "<p>Contains the output of DescribePipelines.</p>",
      "members": {
        "pipelineDescriptionList": {
          "documentation": "<p>An array of descriptions for the specified pipelines.</p>",
          "shape": "PipelineDescriptionList"
        }
      },
      "required": [
        "pipelineDescriptionList"
      ],
      "type": "structure"
    },
    "EvaluateExpressionInput": {
      "documentation": "<p>Contains the parameters for EvaluateExpression.</p>",
      "members": {
        "expression": {
          "documentation": "<p>The expression to evaluate.</p>",
          "shape": "longString"
        },
        "objectId": {
          "documentation": "<p>The ID of the object.</p>",
          "shape": "id"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        }
      },
      "required": [
        "pipelineId",
        "objectId",
        "expression"
      ],
      "type": "structure"
    },
    "EvaluateExpressionOutput": {
      "documentation": "<p>Contains the output of EvaluateExpression.</p>",
      "members": {
        "evaluatedExpression": {
          "documentation": "<p>The evaluated expression.</p>",
          "shape": "longString"
        }
      },
      "required": [
        "evaluatedExpression"
      ],
      "type": "structure"
    },
    "Field": {
      "documentation": "<p>A key-value pair that describes a property of a pipeline object. The value is specified as either a string value (<code>StringValue</code>) or a reference to another object (<code>RefValue</code>) but not as both.</p>",
      "members": {
        "key": {
          "documentation": "<p>The field identifier.</p>",
          "shape": "fieldNameString"
        },
        "refValue": {
          "documentation": "<p>The field value, expressed as the identifier of another object.</p>",
          "shape": "fieldNameString"
        },
        "stringValue": {
          "documentation": "<p>The field value, expressed as a String.</p>",
          "shape": "fieldStringValue"
        }
      },
      "required": [
        "key"
      ],
      "type": "structure"
    },
    "GetPipelineDefinitionInput": {
      "documentation": "<p>Contains the parameters for GetPipelineDefinition.</p>",
      "members": {
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "version": {
          "documentation": "<p>The version of the pipeline definition to retrieve. Set this parameter to <code>latest</code> (default) to use the last definition saved to the pipeline or <code>active</code> to use the last definition that was activated.</p>",
          "shape": "string"
        }
      },
      "required": [
        "pipelineId"
      ],
      "type": "structure"
    },
    "GetPipelineDefinitionOutput": {
      "documentation": "<p>Contains the output of GetPipelineDefinition.</p>",
      "members": {
        "parameterObjects": {
          "documentation": "<p>The parameter objects used in the pipeline definition.</p>",
          "shape": "ParameterObjectList"
        },
        "parameterValues": {
          "documentation": "<p>The parameter values used in the pipeline definition.</p>",
          "shape": "ParameterValueList"
        },
        "pipelineObjects": {
          "documentation": "<p>The objects defined in the pipeline.</p>",
          "shape": "PipelineObjectList"
        }
      },
      "type": "structure"
    },
    "InstanceIdentity": {
      "documentation": "<p><p>Identity information for the EC2 instance that is hosting the task runner. You can get this value by calling a metadata URI from the EC2 instance. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p></p>",
      "members": {
        "document": {
          "documentation": "<p>A description of an EC2 instance that is generated when the instance is launched and exposed to the instance via the instance metadata service in the form of a JSON representation of an object.</p>",
          "shape": "string"
        },
        "signature": {
          "documentation": "<p>A signature which can be used to verify the accuracy and authenticity of the information provided in the instance identity document.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InternalServiceError": {
      "documentation": "<p>An internal service error occurred.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error message.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request was not valid. Verify that your request was properly formatted, that the signature was generated with the correct credentials, and that you haven't exceeded any of the service limits for your account.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error message.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListPipelinesInput": {
      "documentation": "<p>Contains the parameters for ListPipelines.</p>",
      "members": {
        "marker": {
          "documentation": "<p>The starting point for the results to be returned. For the first call, this value should be empty. As long as there are more results, continue to call <code>ListPipelines</code> with the marker value from the previous call to retrieve the next set of results.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ListPipelinesOutput": {
      "documentation": "<p>Contains the output of ListPipelines.</p>",
      "members": {
        "hasMoreResults": {
          "documentation": "<p>Indicates whether there are more results that can be obtained by a subsequent call.</p>",
          "shape": "boolean"
        },
        "marker": {
          "documentation": "<p>The starting point for the next page of results. To view the next page of results, call <code>ListPipelinesOutput</code> again with this marker value. If the value is null, there are no more results.</p>",
          "shape": "string"
        },
        "pipelineIdList": {
          "documentation": "<p>The pipeline identifiers. If you require additional information about the pipelines, you can use these identifiers to call <a>DescribePipelines</a> and <a>GetPipelineDefinition</a>.</p>",
          "shape": "pipelineList"
        }
      },
      "required": [
        "pipelineIdList"
      ],
      "type": "structure"
    },
    "Operator": {
      "documentation": "<p>Contains a logical operation for comparing the value of a field with a specified value.</p>",
      "members": {
        "type": {
          "documentation": "<p> The logical operation to be performed: equal (<code>EQ</code>), equal reference (<code>REF_EQ</code>), less than or equal (<code>LE</code>), greater than or equal (<code>GE</code>), or between (<code>BETWEEN</code>). Equal reference (<code>REF_EQ</code>) can be used only with reference fields. The other comparison types can be used only with String fields. The comparison types you can use apply only to certain object fields, as detailed below. </p> <p> The comparison operators EQ and REF_EQ act on the following fields: </p> <ul> <li>name</li> <li>@sphere</li> <li>parent</li> <li>@componentParent</li> <li>@instanceParent</li> <li>@status</li> <li>@scheduledStartTime</li> <li>@scheduledEndTime</li> <li>@actualStartTime</li> <li>@actualEndTime</li> </ul> <p> The comparison operators <code>GE</code>, <code>LE</code>, and <code>BETWEEN</code> act on the following fields: </p> <ul> <li>@scheduledStartTime</li> <li>@scheduledEndTime</li> <li>@actualStartTime</li> <li>@actualEndTime</li> </ul> <p>Note that fields beginning with the at sign (@) are read-only and set by the web service. When you name fields, you should choose names containing only alpha-numeric values, as symbols may be reserved by AWS Data Pipeline. User-defined fields that you add to a pipeline should prefix their name with the string \"my\".</p>",
          "shape": "OperatorType"
        },
        "values": {
          "documentation": "<p>The value that the actual field value will be compared with.</p>",
          "shape": "stringList"
        }
      },
      "type": "structure"
    },
    "OperatorType": {
      "enum": [
        "EQ",
        "REF_EQ",
        "LE",
        "GE",
        "BETWEEN"
      ],
      "type": "string"
    },
    "ParameterAttribute": {
      "documentation": "<p>The attributes allowed or specified with a parameter object.</p>",
      "members": {
        "key": {
          "documentation": "<p>The field identifier.</p>",
          "shape": "attributeNameString"
        },
        "stringValue": {
          "documentation": "<p>The field value, expressed as a String.</p>",
          "shape": "attributeValueString"
        }
      },
      "required": [
        "key",
        "stringValue"
      ],
      "type": "structure"
    },
    "ParameterAttributeList": {
      "member": {
        "shape": "ParameterAttribute"
      },
      "type": "list"
    },
    "ParameterObject": {
      "documentation": "<p>Contains information about a parameter object.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The attributes of the parameter object.</p>",
          "shape": "ParameterAttributeList"
        },
        "id": {
          "documentation": "<p>The ID of the parameter object. </p>",
          "shape": "fieldNameString"
        }
      },
      "required": [
        "id",
        "attributes"
      ],
      "type": "structure"
    },
    "ParameterObjectList": {
      "member": {
        "shape": "ParameterObject"
      },
      "type": "list"
    },
    "ParameterValue": {
      "documentation": "<p>A value or list of parameter values. </p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the parameter value.</p>",
          "shape": "fieldNameString"
        },
        "stringValue": {
          "documentation": "<p>The field value, expressed as a String.</p>",
          "shape": "fieldStringValue"
        }
      },
      "required": [
        "id",
        "stringValue"
      ],
      "type": "structure"
    },
    "ParameterValueList": {
      "member": {
        "shape": "ParameterValue"
      },
      "type": "list"
    },
    "PipelineDeletedException": {
      "documentation": "<p>The specified pipeline has been deleted.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error message.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "PipelineDescription": {
      "documentation": "<p>Contains pipeline metadata.</p>",
      "members": {
        "description": {
          "documentation": "<p>Description of the pipeline.</p>",
          "shape": "string"
        },
        "fields": {
          "documentation": "<p>A list of read-only fields that contain metadata about the pipeline: @userId, @accountId, and @pipelineState.</p>",
          "shape": "fieldList"
        },
        "name": {
          "documentation": "<p>The name of the pipeline.</p>",
          "shape": "id"
        },
        "pipelineId": {
          "documentation": "<p>The pipeline identifier that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>",
          "shape": "id"
        },
        "tags": {
          "documentation": "<p>A list of tags to associated with a pipeline. Tags let you control access to pipelines. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
          "shape": "tagList"
        }
      },
      "required": [
        "pipelineId",
        "name",
        "fields"
      ],
      "type": "structure"
    },
    "PipelineDescriptionList": {
      "member": {
        "shape": "PipelineDescription"
      },
      "type": "list"
    },
    "PipelineIdName": {
      "documentation": "<p>Contains the name and identifier of a pipeline.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the pipeline that was assigned by AWS Data Pipeline. This is a string of the form <code>df-297EG78HU43EEXAMPLE</code>.</p>",
          "shape": "id"
        },
        "name": {
          "documentation": "<p>The name of the pipeline.</p>",
          "shape": "id"
        }
      },
      "type": "structure"
    },
    "PipelineNotFoundException": {
      "documentation": "<p>The specified pipeline was not found. Verify that you used the correct user and account identifiers.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error message.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "PipelineObject": {
      "documentation": "<p>Contains information about a pipeline object. This can be a logical, physical, or physical attempt pipeline object. The complete set of components of a pipeline defines the pipeline.</p>",
      "members": {
        "fields": {
          "documentation": "<p>Key-value pairs that define the properties of the object.</p>",
          "shape": "fieldList"
        },
        "id": {
          "documentation": "<p>The ID of the object.</p>",
          "shape": "id"
        },
        "name": {
          "documentation": "<p>The name of the object.</p>",
          "shape": "id"
        }
      },
      "required": [
        "id",
        "name",
        "fields"
      ],
      "type": "structure"
    },
    "PipelineObjectList": {
      "member": {
        "shape": "PipelineObject"
      },
      "type": "list"
    },
    "PipelineObjectMap": {
      "key": {
        "shape": "id"
      },
      "type": "map",
      "value": {
        "shape": "PipelineObject"
      }
    },
    "PollForTaskInput": {
      "documentation": "<p>Contains the parameters for PollForTask.</p>",
      "members": {
        "hostname": {
          "documentation": "<p>The public DNS name of the calling task runner.</p>",
          "shape": "id"
        },
        "instanceIdentity": {
          "documentation": "<p>Identity information for the EC2 instance that is hosting the task runner. You can get this value from the instance using <code>http://169.254.169.254/latest/meta-data/instance-id</code>. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/AESDG-chapter-instancedata.html\">Instance Metadata</a> in the <i>Amazon Elastic Compute Cloud User Guide.</i> Passing in this value proves that your task runner is running on an EC2 instance, and ensures the proper AWS Data Pipeline service charges are applied to your pipeline.</p>",
          "shape": "InstanceIdentity"
        },
        "workerGroup": {
          "documentation": "<p>The type of task the task runner is configured to accept and process. The worker group is set as a field on objects in the pipeline when they are created. You can only specify a single value for <code>workerGroup</code> in the call to <code>PollForTask</code>. There are no wildcard values permitted in <code>workerGroup</code>; the string must be an exact, case-sensitive, match.</p>",
          "shape": "string"
        }
      },
      "required": [
        "workerGroup"
      ],
      "type": "structure"
    },
    "PollForTaskOutput": {
      "documentation": "<p>Contains the output of PollForTask.</p>",
      "members": {
        "taskObject": {
          "documentation": "<p>The information needed to complete the task that is being assigned to the task runner. One of the fields returned in this object is <code>taskId</code>, which contains an identifier for the task being assigned. The calling task runner uses <code>taskId</code> in subsequent calls to <a>ReportTaskProgress</a> and <a>SetTaskStatus</a>.</p>",
          "shape": "TaskObject"
        }
      },
      "type": "structure"
    },
    "PutPipelineDefinitionInput": {
      "documentation": "<p>Contains the parameters for PutPipelineDefinition.</p>",
      "members": {
        "parameterObjects": {
          "documentation": "<p>The parameter objects used with the pipeline.</p>",
          "shape": "ParameterObjectList"
        },
        "parameterValues": {
          "documentation": "<p>The parameter values used with the pipeline.</p>",
          "shape": "ParameterValueList"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "pipelineObjects": {
          "documentation": "<p>The objects that define the pipeline. These objects overwrite the existing pipeline definition.</p>",
          "shape": "PipelineObjectList"
        }
      },
      "required": [
        "pipelineId",
        "pipelineObjects"
      ],
      "type": "structure"
    },
    "PutPipelineDefinitionOutput": {
      "documentation": "<p>Contains the output of PutPipelineDefinition.</p>",
      "members": {
        "errored": {
          "documentation": "<p>Indicates whether there were validation errors, and the pipeline definition is stored but cannot be activated until you correct the pipeline and call <code>PutPipelineDefinition</code> to commit the corrected pipeline.</p>",
          "shape": "boolean"
        },
        "validationErrors": {
          "documentation": "<p>The validation errors that are associated with the objects defined in <code>pipelineObjects</code>.</p>",
          "shape": "ValidationErrors"
        },
        "validationWarnings": {
          "documentation": "<p>The validation warnings that are associated with the objects defined in <code>pipelineObjects</code>.</p>",
          "shape": "ValidationWarnings"
        }
      },
      "required": [
        "errored"
      ],
      "type": "structure"
    },
    "Query": {
      "documentation": "<p>Defines the query to run against an object.</p>",
      "members": {
        "selectors": {
          "documentation": "<p>List of selectors that define the query. An object must satisfy all of the selectors to match the query.</p>",
          "shape": "SelectorList"
        }
      },
      "type": "structure"
    },
    "QueryObjectsInput": {
      "documentation": "<p>Contains the parameters for QueryObjects.</p>",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of object names that <code>QueryObjects</code> will return in a single call. The default value is 100. </p>",
          "shape": "int"
        },
        "marker": {
          "documentation": "<p>The starting point for the results to be returned. For the first call, this value should be empty. As long as there are more results, continue to call <code>QueryObjects</code> with the marker value from the previous call to retrieve the next set of results.</p>",
          "shape": "string"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "query": {
          "documentation": "<p>The query that defines the objects to be returned. The <code>Query</code> object can contain a maximum of ten selectors. The conditions in the query are limited to top-level String fields in the object. These filters can be applied to components, instances, and attempts.</p>",
          "shape": "Query"
        },
        "sphere": {
          "documentation": "<p>Indicates whether the query applies to components or instances. The possible values are: <code>COMPONENT</code>, <code>INSTANCE</code>, and <code>ATTEMPT</code>.</p>",
          "shape": "string"
        }
      },
      "required": [
        "pipelineId",
        "sphere"
      ],
      "type": "structure"
    },
    "QueryObjectsOutput": {
      "documentation": "<p>Contains the output of QueryObjects.</p>",
      "members": {
        "hasMoreResults": {
          "documentation": "<p>Indicates whether there are more results that can be obtained by a subsequent call.</p>",
          "shape": "boolean"
        },
        "ids": {
          "documentation": "<p>The identifiers that match the query selectors.</p>",
          "shape": "idList"
        },
        "marker": {
          "documentation": "<p>The starting point for the next page of results. To view the next page of results, call <code>QueryObjects</code> again with this marker value. If the value is null, there are no more results.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "RemoveTagsInput": {
      "documentation": "<p>Contains the parameters for RemoveTags.</p>",
      "members": {
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "tagKeys": {
          "documentation": "<p>The keys of the tags to remove.</p>",
          "shape": "stringList"
        }
      },
      "required": [
        "pipelineId",
        "tagKeys"
      ],
      "type": "structure"
    },
    "RemoveTagsOutput": {
      "documentation": "<p>Contains the output of RemoveTags.</p>",
      "members": {},
      "type": "structure"
    },
    "ReportTaskProgressInput": {
      "documentation": "<p>Contains the parameters for ReportTaskProgress.</p>",
      "members": {
        "fields": {
          "documentation": "<p>Key-value pairs that define the properties of the ReportTaskProgressInput object.</p>",
          "shape": "fieldList"
        },
        "taskId": {
          "documentation": "<p>The ID of the task assigned to the task runner. This value is provided in the response for <a>PollForTask</a>.</p>",
          "shape": "taskId"
        }
      },
      "required": [
        "taskId"
      ],
      "type": "structure"
    },
    "ReportTaskProgressOutput": {
      "documentation": "<p>Contains the output of ReportTaskProgress.</p>",
      "members": {
        "canceled": {
          "documentation": "<p>If true, the calling task runner should cancel processing of the task. The task runner does not need to call <a>SetTaskStatus</a> for canceled tasks.</p>",
          "shape": "boolean"
        }
      },
      "required": [
        "canceled"
      ],
      "type": "structure"
    },
    "ReportTaskRunnerHeartbeatInput": {
      "documentation": "<p>Contains the parameters for ReportTaskRunnerHeartbeat.</p>",
      "members": {
        "hostname": {
          "documentation": "<p>The public DNS name of the task runner.</p>",
          "shape": "id"
        },
        "taskrunnerId": {
          "documentation": "<p>The ID of the task runner. This value should be unique across your AWS account. In the case of AWS Data Pipeline Task Runner launched on a resource managed by AWS Data Pipeline, the web service provides a unique identifier when it launches the application. If you have written a custom task runner, you should assign a unique identifier for the task runner.</p>",
          "shape": "id"
        },
        "workerGroup": {
          "documentation": "<p>The type of task the task runner is configured to accept and process. The worker group is set as a field on objects in the pipeline when they are created. You can only specify a single value for <code>workerGroup</code>. There are no wildcard values permitted in <code>workerGroup</code>; the string must be an exact, case-sensitive, match.</p>",
          "shape": "string"
        }
      },
      "required": [
        "taskrunnerId"
      ],
      "type": "structure"
    },
    "ReportTaskRunnerHeartbeatOutput": {
      "documentation": "<p>Contains the output of ReportTaskRunnerHeartbeat.</p>",
      "members": {
        "terminate": {
          "documentation": "<p>Indicates whether the calling task runner should terminate.</p>",
          "shape": "boolean"
        }
      },
      "required": [
        "terminate"
      ],
      "type": "structure"
    },
    "Selector": {
      "documentation": "<p>A comparision that is used to determine whether a query should return this object.</p>",
      "members": {
        "fieldName": {
          "documentation": "<p>The name of the field that the operator will be applied to. The field name is the \"key\" portion of the field definition in the pipeline definition syntax that is used by the AWS Data Pipeline API. If the field is not set on the object, the condition fails.</p>",
          "shape": "string"
        },
        "operator": {
          "shape": "Operator"
        }
      },
      "type": "structure"
    },
    "SelectorList": {
      "documentation": "<p>The list of Selectors that define queries on individual fields.</p>",
      "member": {
        "shape": "Selector"
      },
      "type": "list"
    },
    "SetStatusInput": {
      "documentation": "<p>Contains the parameters for SetStatus.</p>",
      "members": {
        "objectIds": {
          "documentation": "<p>The IDs of the objects. The corresponding objects can be either physical or components, but not a mix of both types.</p>",
          "shape": "idList"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline that contains the objects.</p>",
          "shape": "id"
        },
        "status": {
          "documentation": "<p>The status to be set on all the objects specified in <code>objectIds</code>. For components, use <code>PAUSE</code> or <code>RESUME</code>. For instances, use <code>TRY_CANCEL</code>, <code>RERUN</code>, or <code>MARK_FINISHED</code>.</p>",
          "shape": "string"
        }
      },
      "required": [
        "pipelineId",
        "objectIds",
        "status"
      ],
      "type": "structure"
    },
    "SetTaskStatusInput": {
      "documentation": "<p>Contains the parameters for SetTaskStatus.</p>",
      "members": {
        "errorId": {
          "documentation": "<p>If an error occurred during the task, this value specifies the error code. This value is set on the physical attempt object. It is used to display error information to the user. It should not start with string \"Service_\" which is reserved by the system.</p>",
          "shape": "string"
        },
        "errorMessage": {
          "documentation": "<p>If an error occurred during the task, this value specifies a text description of the error. This value is set on the physical attempt object. It is used to display error information to the user. The web service does not parse this value.</p>",
          "shape": "errorMessage"
        },
        "errorStackTrace": {
          "documentation": "<p>If an error occurred during the task, this value specifies the stack trace associated with the error. This value is set on the physical attempt object. It is used to display error information to the user. The web service does not parse this value.</p>",
          "shape": "string"
        },
        "taskId": {
          "documentation": "<p>The ID of the task assigned to the task runner. This value is provided in the response for <a>PollForTask</a>.</p>",
          "shape": "taskId"
        },
        "taskStatus": {
          "documentation": "<p>If <code>FINISHED</code>, the task successfully completed. If <code>FAILED</code>, the task ended unsuccessfully. Preconditions use false.</p>",
          "shape": "TaskStatus"
        }
      },
      "required": [
        "taskId",
        "taskStatus"
      ],
      "type": "structure"
    },
    "SetTaskStatusOutput": {
      "documentation": "<p>Contains the output of SetTaskStatus.</p>",
      "members": {},
      "type": "structure"
    },
    "Tag": {
      "documentation": "<p>Tags are key/value pairs defined by a user and associated with a pipeline to control access. AWS Data Pipeline allows you to associate ten tags per pipeline. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
      "members": {
        "key": {
          "documentation": "<p>The key name of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
          "shape": "tagKey"
        },
        "value": {
          "documentation": "<p>The optional value portion of a tag defined by a user. For more information, see <a href=\"http://docs.aws.amazon.com/datapipeline/latest/DeveloperGuide/dp-control-access.html\">Controlling User Access to Pipelines</a> in the <i>AWS Data Pipeline Developer Guide</i>.</p>",
          "shape": "tagValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "TaskNotFoundException": {
      "documentation": "<p>The specified task was not found. </p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Description of the error message.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "TaskObject": {
      "documentation": "<p>Contains information about a pipeline task that is assigned to a task runner.</p>",
      "members": {
        "attemptId": {
          "documentation": "<p>The ID of the pipeline task attempt object. AWS Data Pipeline uses this value to track how many times a task is attempted.</p>",
          "shape": "id"
        },
        "objects": {
          "documentation": "<p>Connection information for the location where the task runner will publish the output of the task.</p>",
          "shape": "PipelineObjectMap"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline that provided the task.</p>",
          "shape": "id"
        },
        "taskId": {
          "documentation": "<p>An internal identifier for the task. This ID is passed to the <a>SetTaskStatus</a> and <a>ReportTaskProgress</a> actions.</p>",
          "shape": "taskId"
        }
      },
      "type": "structure"
    },
    "TaskStatus": {
      "enum": [
        "FINISHED",
        "FAILED",
        "FALSE"
      ],
      "type": "string"
    },
    "ValidatePipelineDefinitionInput": {
      "documentation": "<p>Contains the parameters for ValidatePipelineDefinition.</p>",
      "members": {
        "parameterObjects": {
          "documentation": "<p>The parameter objects used with the pipeline.</p>",
          "shape": "ParameterObjectList"
        },
        "parameterValues": {
          "documentation": "<p>The parameter values used with the pipeline.</p>",
          "shape": "ParameterValueList"
        },
        "pipelineId": {
          "documentation": "<p>The ID of the pipeline.</p>",
          "shape": "id"
        },
        "pipelineObjects": {
          "documentation": "<p>The objects that define the pipeline changes to validate against the pipeline.</p>",
          "shape": "PipelineObjectList"
        }
      },
      "required": [
        "pipelineId",
        "pipelineObjects"
      ],
      "type": "structure"
    },
    "ValidatePipelineDefinitionOutput": {
      "documentation": "<p>Contains the output of ValidatePipelineDefinition.</p>",
      "members": {
        "errored": {
          "documentation": "<p>Indicates whether there were validation errors.</p>",
          "shape": "boolean"
        },
        "validationErrors": {
          "documentation": "<p>Any validation errors that were found.</p>",
          "shape": "ValidationErrors"
        },
        "validationWarnings": {
          "documentation": "<p>Any validation warnings that were found.</p>",
          "shape": "ValidationWarnings"
        }
      },
      "required": [
        "errored"
      ],
      "type": "structure"
    },
    "ValidationError": {
      "documentation": "<p>Defines a validation error. Validation errors prevent pipeline activation. The set of validation errors that can be returned are defined by AWS Data Pipeline.</p>",
      "members": {
        "errors": {
          "documentation": "<p>A description of the validation error.</p>",
          "shape": "validationMessages"
        },
        "id": {
          "documentation": "<p>The identifier of the object that contains the validation error.</p>",
          "shape": "id"
        }
      },
      "type": "structure"
    },
    "ValidationErrors": {
      "member": {
        "shape": "ValidationError"
      },
      "type": "list"
    },
    "ValidationWarning": {
      "documentation": "<p>Defines a validation warning. Validation warnings do not prevent pipeline activation. The set of validation warnings that can be returned are defined by AWS Data Pipeline.</p>",
      "members": {
        "id": {
          "documentation": "<p>The identifier of the object that contains the validation warning.</p>",
          "shape": "id"
        },
        "warnings": {
          "documentation": "<p>A description of the validation warning.</p>",
          "shape": "validationMessages"
        }
      },
      "type": "structure"
    },
    "ValidationWarnings": {
      "member": {
        "shape": "ValidationWarning"
      },
      "type": "list"
    },
    "attributeNameString": {
      "max": 256,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "attributeValueString": {
      "max": 10240,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "boolean": {
      "type": "boolean"
    },
    "cancelActive": {
      "type": "boolean"
    },
    "errorMessage": {
      "type": "string"
    },
    "fieldList": {
      "member": {
        "shape": "Field"
      },
      "type": "list"
    },
    "fieldNameString": {
      "max": 256,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "fieldStringValue": {
      "max": 10240,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "id": {
      "max": 1024,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "idList": {
      "member": {
        "shape": "id"
      },
      "type": "list"
    },
    "int": {
      "type": "integer"
    },
    "longString": {
      "max": 20971520,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "pipelineList": {
      "member": {
        "shape": "PipelineIdName"
      },
      "type": "list"
    },
    "string": {
      "max": 1024,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "stringList": {
      "member": {
        "shape": "string"
      },
      "type": "list"
    },
    "tagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "tagList": {
      "max": 10,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "tagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "taskId": {
      "max": 2048,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "timestamp": {
      "type": "timestamp"
    },
    "validationMessage": {
      "max": 10000,
      "min": 0,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\r\\n\\t]*",
      "type": "string"
    },
    "validationMessages": {
      "member": {
        "shape": "validationMessage"
      },
      "type": "list"
    }
  },
  "version": "2.0"
}
