{
  "documentation": "<p>EC2 Image Builder is a fully managed AWS service that makes it easier to automate the creation, management, and deployment of customized, secure, and up-to-date \u201cgolden\u201d server images that are pre-installed and pre-configured with software and settings to meet specific IT standards.</p>",
  "metadata": {
    "apiVersion": "2019-12-02",
    "endpointPrefix": "imagebuilder",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "imagebuilder",
    "serviceFullName": "EC2 Image Builder",
    "serviceId": "imagebuilder",
    "signatureVersion": "v4",
    "signingName": "imagebuilder",
    "uid": "imagebuilder-2019-12-02"
  },
  "operations": {
    "CancelImageCreation": {
      "documentation": "<p>CancelImageCreation cancels the creation of Image. This operation can only be used on images in a non-terminal state.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CancelImageCreation"
      },
      "input": {
        "shape": "CancelImageCreationRequest"
      },
      "name": "CancelImageCreation",
      "output": {
        "shape": "CancelImageCreationResponse"
      }
    },
    "CreateComponent": {
      "documentation": "<p>Creates a new component that can be used to build, validate, test, and assess your image.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateComponent"
      },
      "input": {
        "shape": "CreateComponentRequest"
      },
      "name": "CreateComponent",
      "output": {
        "shape": "CreateComponentResponse"
      }
    },
    "CreateDistributionConfiguration": {
      "documentation": "<p>Creates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateDistributionConfiguration"
      },
      "input": {
        "shape": "CreateDistributionConfigurationRequest"
      },
      "name": "CreateDistributionConfiguration",
      "output": {
        "shape": "CreateDistributionConfigurationResponse"
      }
    },
    "CreateImage": {
      "documentation": "<p> Creates a new image. This request will create a new image along with all of the configured output resources defined in the distribution configuration. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImage"
      },
      "input": {
        "shape": "CreateImageRequest"
      },
      "name": "CreateImage",
      "output": {
        "shape": "CreateImageResponse"
      }
    },
    "CreateImagePipeline": {
      "documentation": "<p> Creates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImagePipeline"
      },
      "input": {
        "shape": "CreateImagePipelineRequest"
      },
      "name": "CreateImagePipeline",
      "output": {
        "shape": "CreateImagePipelineResponse"
      }
    },
    "CreateImageRecipe": {
      "documentation": "<p> Creates a new image recipe. Image recipes define how images are configured, tested, and assessed. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateImageRecipe"
      },
      "input": {
        "shape": "CreateImageRecipeRequest"
      },
      "name": "CreateImageRecipe",
      "output": {
        "shape": "CreateImageRecipeResponse"
      }
    },
    "CreateInfrastructureConfiguration": {
      "documentation": "<p> Creates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/CreateInfrastructureConfiguration"
      },
      "input": {
        "shape": "CreateInfrastructureConfigurationRequest"
      },
      "name": "CreateInfrastructureConfiguration",
      "output": {
        "shape": "CreateInfrastructureConfigurationResponse"
      }
    },
    "DeleteComponent": {
      "documentation": "<p> Deletes a component build version. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteComponent"
      },
      "input": {
        "shape": "DeleteComponentRequest"
      },
      "name": "DeleteComponent",
      "output": {
        "shape": "DeleteComponentResponse"
      }
    },
    "DeleteDistributionConfiguration": {
      "documentation": "<p> Deletes a distribution configuration. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteDistributionConfiguration"
      },
      "input": {
        "shape": "DeleteDistributionConfigurationRequest"
      },
      "name": "DeleteDistributionConfiguration",
      "output": {
        "shape": "DeleteDistributionConfigurationResponse"
      }
    },
    "DeleteImage": {
      "documentation": "<p> Deletes an image. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImage"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResponse"
      }
    },
    "DeleteImagePipeline": {
      "documentation": "<p> Deletes an image pipeline. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImagePipeline"
      },
      "input": {
        "shape": "DeleteImagePipelineRequest"
      },
      "name": "DeleteImagePipeline",
      "output": {
        "shape": "DeleteImagePipelineResponse"
      }
    },
    "DeleteImageRecipe": {
      "documentation": "<p> Deletes an image recipe. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteImageRecipe"
      },
      "input": {
        "shape": "DeleteImageRecipeRequest"
      },
      "name": "DeleteImageRecipe",
      "output": {
        "shape": "DeleteImageRecipeResponse"
      }
    },
    "DeleteInfrastructureConfiguration": {
      "documentation": "<p> Deletes an infrastructure configuration. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceDependencyException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/DeleteInfrastructureConfiguration"
      },
      "input": {
        "shape": "DeleteInfrastructureConfigurationRequest"
      },
      "name": "DeleteInfrastructureConfiguration",
      "output": {
        "shape": "DeleteInfrastructureConfigurationResponse"
      }
    },
    "GetComponent": {
      "documentation": "<p> Gets a component object. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetComponent"
      },
      "input": {
        "shape": "GetComponentRequest"
      },
      "name": "GetComponent",
      "output": {
        "shape": "GetComponentResponse"
      }
    },
    "GetComponentPolicy": {
      "documentation": "<p> Gets a component policy. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetComponentPolicy"
      },
      "input": {
        "shape": "GetComponentPolicyRequest"
      },
      "name": "GetComponentPolicy",
      "output": {
        "shape": "GetComponentPolicyResponse"
      }
    },
    "GetDistributionConfiguration": {
      "documentation": "<p> Gets a distribution configuration. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetDistributionConfiguration"
      },
      "input": {
        "shape": "GetDistributionConfigurationRequest"
      },
      "name": "GetDistributionConfiguration",
      "output": {
        "shape": "GetDistributionConfigurationResponse"
      }
    },
    "GetImage": {
      "documentation": "<p> Gets an image. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImage"
      },
      "input": {
        "shape": "GetImageRequest"
      },
      "name": "GetImage",
      "output": {
        "shape": "GetImageResponse"
      }
    },
    "GetImagePipeline": {
      "documentation": "<p> Gets an image pipeline. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImagePipeline"
      },
      "input": {
        "shape": "GetImagePipelineRequest"
      },
      "name": "GetImagePipeline",
      "output": {
        "shape": "GetImagePipelineResponse"
      }
    },
    "GetImagePolicy": {
      "documentation": "<p> Gets an image policy. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImagePolicy"
      },
      "input": {
        "shape": "GetImagePolicyRequest"
      },
      "name": "GetImagePolicy",
      "output": {
        "shape": "GetImagePolicyResponse"
      }
    },
    "GetImageRecipe": {
      "documentation": "<p> Gets an image recipe. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImageRecipe"
      },
      "input": {
        "shape": "GetImageRecipeRequest"
      },
      "name": "GetImageRecipe",
      "output": {
        "shape": "GetImageRecipeResponse"
      }
    },
    "GetImageRecipePolicy": {
      "documentation": "<p> Gets an image recipe policy. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetImageRecipePolicy"
      },
      "input": {
        "shape": "GetImageRecipePolicyRequest"
      },
      "name": "GetImageRecipePolicy",
      "output": {
        "shape": "GetImageRecipePolicyResponse"
      }
    },
    "GetInfrastructureConfiguration": {
      "documentation": "<p> Gets an infrastructure configuration. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/GetInfrastructureConfiguration"
      },
      "input": {
        "shape": "GetInfrastructureConfigurationRequest"
      },
      "name": "GetInfrastructureConfiguration",
      "output": {
        "shape": "GetInfrastructureConfigurationResponse"
      }
    },
    "ImportComponent": {
      "documentation": "<p>Imports a component and transforms its data into a component document. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "InvalidVersionNumberException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/ImportComponent"
      },
      "input": {
        "shape": "ImportComponentRequest"
      },
      "name": "ImportComponent",
      "output": {
        "shape": "ImportComponentResponse"
      }
    },
    "ListComponentBuildVersions": {
      "documentation": "<p> Returns the list of component build versions for the specified semantic version. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListComponentBuildVersions"
      },
      "input": {
        "shape": "ListComponentBuildVersionsRequest"
      },
      "name": "ListComponentBuildVersions",
      "output": {
        "shape": "ListComponentBuildVersionsResponse"
      }
    },
    "ListComponents": {
      "documentation": "<p>Returns the list of component build versions for the specified semantic version. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListComponents"
      },
      "input": {
        "shape": "ListComponentsRequest"
      },
      "name": "ListComponents",
      "output": {
        "shape": "ListComponentsResponse"
      }
    },
    "ListDistributionConfigurations": {
      "documentation": "<p> Returns a list of distribution configurations. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListDistributionConfigurations"
      },
      "input": {
        "shape": "ListDistributionConfigurationsRequest"
      },
      "name": "ListDistributionConfigurations",
      "output": {
        "shape": "ListDistributionConfigurationsResponse"
      }
    },
    "ListImageBuildVersions": {
      "documentation": "<p> Returns a list of distribution configurations. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImageBuildVersions"
      },
      "input": {
        "shape": "ListImageBuildVersionsRequest"
      },
      "name": "ListImageBuildVersions",
      "output": {
        "shape": "ListImageBuildVersionsResponse"
      }
    },
    "ListImagePipelineImages": {
      "documentation": "<p> Returns a list of images created by the specified pipeline. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImagePipelineImages"
      },
      "input": {
        "shape": "ListImagePipelineImagesRequest"
      },
      "name": "ListImagePipelineImages",
      "output": {
        "shape": "ListImagePipelineImagesResponse"
      }
    },
    "ListImagePipelines": {
      "documentation": "<p>Returns a list of image pipelines. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImagePipelines"
      },
      "input": {
        "shape": "ListImagePipelinesRequest"
      },
      "name": "ListImagePipelines",
      "output": {
        "shape": "ListImagePipelinesResponse"
      }
    },
    "ListImageRecipes": {
      "documentation": "<p> Returns a list of image recipes. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImageRecipes"
      },
      "input": {
        "shape": "ListImageRecipesRequest"
      },
      "name": "ListImageRecipes",
      "output": {
        "shape": "ListImageRecipesResponse"
      }
    },
    "ListImages": {
      "documentation": "<p> Returns the list of image build versions for the specified semantic version. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListImages"
      },
      "input": {
        "shape": "ListImagesRequest"
      },
      "name": "ListImages",
      "output": {
        "shape": "ListImagesResponse"
      }
    },
    "ListInfrastructureConfigurations": {
      "documentation": "<p> Returns a list of infrastructure configurations. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListInfrastructureConfigurations"
      },
      "input": {
        "shape": "ListInfrastructureConfigurationsRequest"
      },
      "name": "ListInfrastructureConfigurations",
      "output": {
        "shape": "ListInfrastructureConfigurationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> Returns the list of tags for the specified resource. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutComponentPolicy": {
      "documentation": "<p> Applies a policy to a component. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutComponentPolicy"
      },
      "input": {
        "shape": "PutComponentPolicyRequest"
      },
      "name": "PutComponentPolicy",
      "output": {
        "shape": "PutComponentPolicyResponse"
      }
    },
    "PutImagePolicy": {
      "documentation": "<p> Applies a policy to an image. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutImagePolicy"
      },
      "input": {
        "shape": "PutImagePolicyRequest"
      },
      "name": "PutImagePolicy",
      "output": {
        "shape": "PutImagePolicyResponse"
      }
    },
    "PutImageRecipePolicy": {
      "documentation": "<p> Applies a policy to an image recipe. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/PutImageRecipePolicy"
      },
      "input": {
        "shape": "PutImageRecipePolicyRequest"
      },
      "name": "PutImageRecipePolicy",
      "output": {
        "shape": "PutImageRecipePolicyResponse"
      }
    },
    "StartImagePipelineExecution": {
      "documentation": "<p> Manually triggers a pipeline to create an image. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/StartImagePipelineExecution"
      },
      "input": {
        "shape": "StartImagePipelineExecutionRequest"
      },
      "name": "StartImagePipelineExecution",
      "output": {
        "shape": "StartImagePipelineExecutionResponse"
      }
    },
    "TagResource": {
      "documentation": "<p> Adds a tag to a resource. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p> Removes a tag from a resource. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDistributionConfiguration": {
      "documentation": "<p> Updates a new distribution configuration. Distribution configurations define and configure the outputs of your pipeline. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateDistributionConfiguration"
      },
      "input": {
        "shape": "UpdateDistributionConfigurationRequest"
      },
      "name": "UpdateDistributionConfiguration",
      "output": {
        "shape": "UpdateDistributionConfigurationResponse"
      }
    },
    "UpdateImagePipeline": {
      "documentation": "<p> Updates a new image pipeline. Image pipelines enable you to automate the creation and distribution of images. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateImagePipeline"
      },
      "input": {
        "shape": "UpdateImagePipelineRequest"
      },
      "name": "UpdateImagePipeline",
      "output": {
        "shape": "UpdateImagePipelineResponse"
      }
    },
    "UpdateInfrastructureConfiguration": {
      "documentation": "<p> Updates a new infrastructure configuration. An infrastructure configuration defines the environment in which your image will be built and tested. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "CallRateLimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/UpdateInfrastructureConfiguration"
      },
      "input": {
        "shape": "UpdateInfrastructureConfigurationRequest"
      },
      "name": "UpdateInfrastructureConfiguration",
      "output": {
        "shape": "UpdateInfrastructureConfigurationResponse"
      }
    }
  },
  "shapes": {
    "AccountList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "Ami": {
      "documentation": "<p> Details of an EC2 AMI. </p>",
      "members": {
        "description": {
          "documentation": "<p> The description of the EC2 AMI. </p>",
          "shape": "NonEmptyString"
        },
        "image": {
          "documentation": "<p> The AMI ID of the EC2 AMI. </p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p> The name of the EC2 AMI. </p>",
          "shape": "NonEmptyString"
        },
        "region": {
          "documentation": "<p> The AWS Region of the EC2 AMI. </p>",
          "shape": "NonEmptyString"
        },
        "state": {
          "shape": "ImageState"
        }
      },
      "type": "structure"
    },
    "AmiDistributionConfiguration": {
      "documentation": "<p> Define and configure the output AMIs of the pipeline. </p>",
      "members": {
        "amiTags": {
          "documentation": "<p> The tags to apply to AMIs distributed to this Region. </p>",
          "shape": "TagMap"
        },
        "description": {
          "documentation": "<p> The description of the distribution configuration. </p>",
          "shape": "NonEmptyString"
        },
        "launchPermission": {
          "documentation": "<p> Launch permissions can be used to configure which AWS accounts can use the AMI to launch instances. </p>",
          "shape": "LaunchPermissionConfiguration"
        },
        "name": {
          "documentation": "<p> The name of the distribution configuration. </p>",
          "shape": "AmiNameString"
        }
      },
      "type": "structure"
    },
    "AmiList": {
      "member": {
        "shape": "Ami"
      },
      "type": "list"
    },
    "AmiNameString": {
      "max": 127,
      "min": 1,
      "pattern": "^[-_A-Za-z0-9{][-_A-Za-z0-9\\s:{}]+[-_A-Za-z0-9}]$",
      "type": "string"
    },
    "Arn": {
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "CallRateLimitExceededException": {
      "documentation": "<p>You have exceeded the permitted request rate for the specific operation.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CancelImageCreationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "imageBuildVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation you want to cancel.</p>",
          "shape": "ImageBuildVersionArn"
        }
      },
      "required": [
        "imageBuildVersionArn",
        "clientToken"
      ],
      "type": "structure"
    },
    "CancelImageCreationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "imageBuildVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image whose creation has been cancelled.</p>",
          "shape": "ImageBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p>The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "ClientException": {
      "documentation": "<p>These errors are usually caused by a client action, such as using an action or resource on behalf of a user that doesn't have permissions to use the action or resource, or specifying an invalid resource identifier.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ClientToken": {
      "max": 36,
      "min": 1,
      "type": "string"
    },
    "Component": {
      "documentation": "<p>A detailed view of a component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ImageBuilderArn"
        },
        "changeDescription": {
          "documentation": "<p>The change description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "data": {
          "documentation": "<p>The data of the component.</p>",
          "shape": "ComponentData"
        },
        "dateCreated": {
          "documentation": "<p>The date that the component was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "encrypted": {
          "documentation": "<p>The encryption status of the component.</p>",
          "shape": "NullableBoolean"
        },
        "kmsKeyId": {
          "documentation": "<p>The KMS key identifier used to encrypt the component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the component.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "tags": {
          "documentation": "<p>The tags associated with the component.</p>",
          "shape": "TagMap"
        },
        "type": {
          "documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>",
          "shape": "ComponentType"
        },
        "version": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ComponentBuildVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$",
      "type": "string"
    },
    "ComponentConfiguration": {
      "documentation": "<p> Configuration details of the component. </p>",
      "members": {
        "componentArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the component. </p>",
          "shape": "ComponentVersionArnOrBuildVersionArn"
        }
      },
      "required": [
        "componentArn"
      ],
      "type": "structure"
    },
    "ComponentConfigurationList": {
      "member": {
        "shape": "ComponentConfiguration"
      },
      "min": 1,
      "type": "list"
    },
    "ComponentData": {
      "type": "string"
    },
    "ComponentFormat": {
      "enum": [
        "SHELL"
      ],
      "type": "string"
    },
    "ComponentSummary": {
      "documentation": "<p>A high-level summary of a component.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ImageBuilderArn"
        },
        "changeDescription": {
          "documentation": "<p>The change description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "dateCreated": {
          "documentation": "<p>The date that the component was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the component.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "tags": {
          "documentation": "<p>The tags associated with the component.</p>",
          "shape": "TagMap"
        },
        "type": {
          "documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>",
          "shape": "ComponentType"
        },
        "version": {
          "documentation": "<p>The version of the component.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ComponentSummaryList": {
      "member": {
        "shape": "ComponentSummary"
      },
      "type": "list"
    },
    "ComponentType": {
      "enum": [
        "BUILD",
        "TEST"
      ],
      "type": "string"
    },
    "ComponentVersion": {
      "documentation": "<p>A high-level overview of a component semantic version.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date that the component was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the component.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "type": {
          "documentation": "<p>The type of the component denotes whether the component is used to build the image or only to test it.</p>",
          "shape": "ComponentType"
        },
        "version": {
          "documentation": "<p>The semantic version of the component.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ComponentVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
      "type": "string"
    },
    "ComponentVersionArnOrBuildVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):component/[a-z0-9-_]+/(?:(?:(\\d+|x)\\.(\\d+|x)\\.(\\d+|x))|(?:\\d+\\.\\d+\\.\\d+/\\d+))$",
      "type": "string"
    },
    "ComponentVersionList": {
      "member": {
        "shape": "ComponentVersion"
      },
      "type": "list"
    },
    "CreateComponentRequest": {
      "members": {
        "changeDescription": {
          "documentation": "<p>The change description of the component. Describes what change has been made in this version, or what makes this version different from other versions of this component.</p>",
          "shape": "NonEmptyString"
        },
        "clientToken": {
          "documentation": "<p>The idempotency token of the component.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "data": {
          "documentation": "<p>The data of the component. Used to specify the data inline. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.</p>",
          "shape": "InlineComponentData"
        },
        "description": {
          "documentation": "<p>The description of the component. Describes the contents of the component.</p>",
          "shape": "NonEmptyString"
        },
        "kmsKeyId": {
          "documentation": "<p>The ID of the KMS key that should be used to encrypt this component.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the component.</p>",
          "shape": "ResourceName"
        },
        "platform": {
          "documentation": "<p>The platform of the component.</p>",
          "shape": "Platform"
        },
        "semanticVersion": {
          "documentation": "<p>The semantic version of the component. This version follows the semantic version syntax. For example, major.minor.patch. This could be versioned like software (2.0.1) or like a date (2019.12.01).</p>",
          "shape": "VersionNumber"
        },
        "tags": {
          "documentation": "<p>The tags of the component.</p>",
          "shape": "TagMap"
        },
        "uri": {
          "documentation": "<p>The uri of the component. Must be an S3 URL and the requester must have permission to access the S3 bucket. If you use S3, you can specify component content up to your service quota. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.</p>",
          "shape": "Uri"
        }
      },
      "required": [
        "name",
        "semanticVersion",
        "platform",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateComponentResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p>The idempotency token used to make this request idempotent.</p>",
          "shape": "ClientToken"
        },
        "componentBuildVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the component that was created by this request.</p>",
          "shape": "ComponentBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p>The request ID that uniquely identifies this request.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateDistributionConfigurationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token of the distribution configuration. </p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p> The description of the distribution configuration. </p>",
          "shape": "NonEmptyString"
        },
        "distributions": {
          "documentation": "<p> The distributions of the distribution configuration. </p>",
          "shape": "DistributionList"
        },
        "name": {
          "documentation": "<p> The name of the distribution configuration. </p>",
          "shape": "ResourceName"
        },
        "tags": {
          "documentation": "<p> The tags of the distribution configuration. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "distributions",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateDistributionConfigurationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "shape": "ClientToken"
        },
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that was created by this request. </p>",
          "shape": "DistributionConfigurationArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateImagePipelineRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p> The description of the image pipeline. </p>",
          "shape": "NonEmptyString"
        },
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that will be used to configure and distribute images created by this image pipeline. </p>",
          "shape": "DistributionConfigurationArn"
        },
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that will be used to configure images created by this image pipeline. </p>",
          "shape": "ImageRecipeArn"
        },
        "imageTestsConfiguration": {
          "documentation": "<p> The image test configuration of the image pipeline. </p>",
          "shape": "ImageTestsConfiguration"
        },
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that will be used to build images created by this image pipeline. </p>",
          "shape": "InfrastructureConfigurationArn"
        },
        "name": {
          "documentation": "<p> The name of the image pipeline. </p>",
          "shape": "ResourceName"
        },
        "schedule": {
          "documentation": "<p> The schedule of the image pipeline. </p>",
          "shape": "Schedule"
        },
        "status": {
          "documentation": "<p> The status of the image pipeline. </p>",
          "shape": "PipelineStatus"
        },
        "tags": {
          "documentation": "<p> The tags of the image pipeline. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "imageRecipeArn",
        "infrastructureConfigurationArn",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateImagePipelineResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "shape": "ClientToken"
        },
        "imagePipelineArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline that was created by this request. </p>",
          "shape": "ImagePipelineArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateImageRecipeRequest": {
      "members": {
        "blockDeviceMappings": {
          "documentation": "<p> The block device mappings of the image recipe. </p>",
          "shape": "InstanceBlockDeviceMappings"
        },
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "components": {
          "documentation": "<p> The components of the image recipe. </p>",
          "shape": "ComponentConfigurationList"
        },
        "description": {
          "documentation": "<p> The description of the image recipe. </p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p> The name of the image recipe. </p>",
          "shape": "ResourceName"
        },
        "parentImage": {
          "documentation": "<p> The parent image of the image recipe. </p>",
          "shape": "NonEmptyString"
        },
        "semanticVersion": {
          "documentation": "<p> The semantic version of the image recipe. </p>",
          "shape": "VersionNumber"
        },
        "tags": {
          "documentation": "<p> The tags of the image recipe. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "semanticVersion",
        "components",
        "parentImage",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateImageRecipeResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "shape": "ClientToken"
        },
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that was created by this request. </p>",
          "shape": "ImageRecipeArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateImageRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that defines and configures the outputs of your pipeline. </p>",
          "shape": "DistributionConfigurationArn"
        },
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that defines how images are configured, tested, and assessed. </p>",
          "shape": "ImageRecipeArn"
        },
        "imageTestsConfiguration": {
          "documentation": "<p> The image tests configuration of the image. </p>",
          "shape": "ImageTestsConfiguration"
        },
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that defines the environment in which your image will be built and tested. </p>",
          "shape": "InfrastructureConfigurationArn"
        },
        "tags": {
          "documentation": "<p> The tags of the image. </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "imageRecipeArn",
        "infrastructureConfigurationArn",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateImageResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "shape": "ClientToken"
        },
        "imageBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image that was created by this request. </p>",
          "shape": "ImageBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "CreateInfrastructureConfigurationRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p> The description of the infrastructure configuration. </p>",
          "shape": "NonEmptyString"
        },
        "instanceProfileName": {
          "documentation": "<p> The instance profile to associate with the instance used to customize your EC2 AMI. </p>",
          "shape": "NonEmptyString"
        },
        "instanceTypes": {
          "documentation": "<p> The instance types of the infrastructure configuration. You can specify one or more instance types to use for this build. The service will pick one of these instance types based on availability. </p>",
          "shape": "InstanceTypeList"
        },
        "keyPair": {
          "documentation": "<p> The key pair of the infrastructure configuration. This can be used to log on to and debug the instance used to create your image. </p>",
          "shape": "NonEmptyString"
        },
        "logging": {
          "documentation": "<p> The logging configuration of the infrastructure configuration. </p>",
          "shape": "Logging"
        },
        "name": {
          "documentation": "<p> The name of the infrastructure configuration. </p>",
          "shape": "ResourceName"
        },
        "securityGroupIds": {
          "documentation": "<p> The security group IDs to associate with the instance used to customize your EC2 AMI. </p>",
          "shape": "SecurityGroupIds"
        },
        "snsTopicArn": {
          "documentation": "<p> The SNS topic on which to send image build events. </p>",
          "shape": "SnsTopicArn"
        },
        "subnetId": {
          "documentation": "<p> The subnet ID in which to place the instance used to customize your EC2 AMI. </p>",
          "shape": "NonEmptyString"
        },
        "tags": {
          "documentation": "<p> The tags of the infrastructure configuration. </p>",
          "shape": "TagMap"
        },
        "terminateInstanceOnFailure": {
          "documentation": "<p> The terminate instance on failure setting of the infrastructure configuration. Set to false if you want Image Builder to retain the instance used to configure your AMI if the build or test phase of your workflow fails. </p>",
          "shape": "NullableBoolean"
        }
      },
      "required": [
        "name",
        "instanceProfileName",
        "clientToken"
      ],
      "type": "structure"
    },
    "CreateInfrastructureConfigurationResponse": {
      "members": {
        "clientToken": {
          "documentation": "<p> The idempotency token used to make this request idempotent. </p>",
          "shape": "ClientToken"
        },
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that was created by this request. </p>",
          "shape": "InfrastructureConfigurationArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DateTime": {
      "type": "string"
    },
    "DeleteComponentRequest": {
      "members": {
        "componentBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the component build version to delete. </p>",
          "location": "querystring",
          "locationName": "componentBuildVersionArn",
          "shape": "ComponentBuildVersionArn"
        }
      },
      "required": [
        "componentBuildVersionArn"
      ],
      "type": "structure"
    },
    "DeleteComponentResponse": {
      "members": {
        "componentBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the component build version that was deleted. </p>",
          "shape": "ComponentBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteDistributionConfigurationRequest": {
      "members": {
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration to delete. </p>",
          "location": "querystring",
          "locationName": "distributionConfigurationArn",
          "shape": "DistributionConfigurationArn"
        }
      },
      "required": [
        "distributionConfigurationArn"
      ],
      "type": "structure"
    },
    "DeleteDistributionConfigurationResponse": {
      "members": {
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that was deleted. </p>",
          "shape": "DistributionConfigurationArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteImagePipelineRequest": {
      "members": {
        "imagePipelineArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline to delete. </p>",
          "location": "querystring",
          "locationName": "imagePipelineArn",
          "shape": "ImagePipelineArn"
        }
      },
      "required": [
        "imagePipelineArn"
      ],
      "type": "structure"
    },
    "DeleteImagePipelineResponse": {
      "members": {
        "imagePipelineArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline that was deleted. </p>",
          "shape": "ImagePipelineArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteImageRecipeRequest": {
      "members": {
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe to delete. </p>",
          "location": "querystring",
          "locationName": "imageRecipeArn",
          "shape": "ImageRecipeArn"
        }
      },
      "required": [
        "imageRecipeArn"
      ],
      "type": "structure"
    },
    "DeleteImageRecipeResponse": {
      "members": {
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that was deleted. </p>",
          "shape": "ImageRecipeArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteImageRequest": {
      "members": {
        "imageBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image to delete. </p>",
          "location": "querystring",
          "locationName": "imageBuildVersionArn",
          "shape": "ImageBuildVersionArn"
        }
      },
      "required": [
        "imageBuildVersionArn"
      ],
      "type": "structure"
    },
    "DeleteImageResponse": {
      "members": {
        "imageBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image that was deleted. </p>",
          "shape": "ImageBuildVersionArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteInfrastructureConfigurationRequest": {
      "members": {
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration to delete. </p>",
          "location": "querystring",
          "locationName": "infrastructureConfigurationArn",
          "shape": "InfrastructureConfigurationArn"
        }
      },
      "required": [
        "infrastructureConfigurationArn"
      ],
      "type": "structure"
    },
    "DeleteInfrastructureConfigurationResponse": {
      "members": {
        "infrastructureConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the infrastructure configuration that was deleted. </p>",
          "shape": "InfrastructureConfigurationArn"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "Distribution": {
      "documentation": "<p> Defines the settings for a specific Region. </p>",
      "members": {
        "amiDistributionConfiguration": {
          "documentation": "<p> The specific AMI settings (for example, launch permissions, AMI tags). </p>",
          "shape": "AmiDistributionConfiguration"
        },
        "licenseConfigurationArns": {
          "documentation": "<p> The License Manager Configuration to associate with the AMI in the specified Region.</p>",
          "shape": "ArnList"
        },
        "region": {
          "documentation": "<p> The target Region. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "region"
      ],
      "type": "structure"
    },
    "DistributionConfiguration": {
      "documentation": "<p>A distribution configuration.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date on which this distribution configuration was created.</p>",
          "shape": "DateTime"
        },
        "dateUpdated": {
          "documentation": "<p>The date on which this distribution configuration was last updated.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the distribution configuration.</p>",
          "shape": "NonEmptyString"
        },
        "distributions": {
          "documentation": "<p>The distributions of the distribution configuration.</p>",
          "shape": "DistributionList"
        },
        "name": {
          "documentation": "<p>The name of the distribution configuration.</p>",
          "shape": "ResourceName"
        },
        "tags": {
          "documentation": "<p>The tags of the distribution configuration.</p>",
          "shape": "TagMap"
        },
        "timeoutMinutes": {
          "documentation": "<p>The maximum duration in minutes for this distribution configuration.</p>",
          "shape": "DistributionTimeoutMinutes"
        }
      },
      "required": [
        "timeoutMinutes"
      ],
      "type": "structure"
    },
    "DistributionConfigurationArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):distribution-configuration/[a-z0-9-_]+$",
      "type": "string"
    },
    "DistributionConfigurationSummary": {
      "documentation": "<p>A high-level overview of a distribution configuration.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date on which the distribution configuration was created.</p>",
          "shape": "DateTime"
        },
        "dateUpdated": {
          "documentation": "<p>The date on which the distribution configuration was updated.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the distribution configuration.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the distribution configuration.</p>",
          "shape": "ResourceName"
        },
        "tags": {
          "documentation": "<p>The tags associated with the distribution configuration.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "DistributionConfigurationSummaryList": {
      "member": {
        "shape": "DistributionConfigurationSummary"
      },
      "type": "list"
    },
    "DistributionList": {
      "member": {
        "shape": "Distribution"
      },
      "type": "list"
    },
    "DistributionTimeoutMinutes": {
      "max": 720,
      "min": 30,
      "type": "integer"
    },
    "EbsInstanceBlockDeviceSpecification": {
      "documentation": "<p>Amazon EBS-specific block device mapping specifications.</p>",
      "members": {
        "deleteOnTermination": {
          "documentation": "<p>Use to configure delete on termination of the associated device.</p>",
          "shape": "NullableBoolean"
        },
        "encrypted": {
          "documentation": "<p>Use to configure device encryption.</p>",
          "shape": "NullableBoolean"
        },
        "iops": {
          "documentation": "<p>Use to configure device IOPS.</p>",
          "shape": "EbsIopsInteger"
        },
        "kmsKeyId": {
          "documentation": "<p>Use to configure the KMS key to use when encrypting the device.</p>",
          "shape": "NonEmptyString"
        },
        "snapshotId": {
          "documentation": "<p>The snapshot that defines the device contents.</p>",
          "shape": "NonEmptyString"
        },
        "volumeSize": {
          "documentation": "<p>Use to override the device's volume size.</p>",
          "shape": "EbsVolumeSizeInteger"
        },
        "volumeType": {
          "documentation": "<p>Use to override the device's volume type.</p>",
          "shape": "EbsVolumeType"
        }
      },
      "type": "structure"
    },
    "EbsIopsInteger": {
      "max": 10000,
      "min": 100,
      "type": "integer"
    },
    "EbsVolumeSizeInteger": {
      "max": 16000,
      "min": 1,
      "type": "integer"
    },
    "EbsVolumeType": {
      "enum": [
        "standard",
        "io1",
        "gp2",
        "sc1",
        "st1"
      ],
      "type": "string"
    },
    "EmptyString": {
      "max": 0,
      "min": 0,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Filter": {
      "documentation": "<p> A filter name and value pair that is used to return a more specific list of results from a list operation. Filters can be used to match a set of resources by specific criteria, such as tags, attributes, or IDs. </p>",
      "members": {
        "name": {
          "documentation": "<p> The name of the filter. Filter names are case-sensitive. </p>",
          "shape": "FilterName"
        },
        "values": {
          "documentation": "<p> The filter values. Filter values are case-sensitive. </p>",
          "shape": "FilterValues"
        }
      },
      "type": "structure"
    },
    "FilterList": {
      "max": 10,
      "member": {
        "shape": "Filter"
      },
      "min": 1,
      "type": "list"
    },
    "FilterName": {
      "pattern": "^[a-zA-Z]{1,1024}$",
      "type": "string"
    },
    "FilterValue": {
      "pattern": "^[0-9a-zA-Z./_ :-]{1,1024}$",
      "type": "string"
    },
    "FilterValues": {
      "max": 10,
      "member": {
        "shape": "FilterValue"
      },
      "min": 1,
      "type": "list"
    },
    "ForbiddenException": {
      "documentation": "<p>You are not authorized to perform the requested operation.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "GetComponentPolicyRequest": {
      "members": {
        "componentArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the component whose policy you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "componentArn",
          "shape": "ComponentBuildVersionArn"
        }
      },
      "required": [
        "componentArn"
      ],
      "type": "structure"
    },
    "GetComponentPolicyResponse": {
      "members": {
        "policy": {
          "documentation": "<p> The component policy. </p>",
          "shape": "ResourcePolicyDocument"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetComponentRequest": {
      "members": {
        "componentBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the component that you want to retrieve. Regex requires \"/\\d+$\" suffix.</p>",
          "location": "querystring",
          "locationName": "componentBuildVersionArn",
          "shape": "ComponentBuildVersionArn"
        }
      },
      "required": [
        "componentBuildVersionArn"
      ],
      "type": "structure"
    },
    "GetComponentResponse": {
      "members": {
        "component": {
          "documentation": "<p> The component object associated with the specified ARN. </p>",
          "shape": "Component"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetDistributionConfigurationRequest": {
      "members": {
        "distributionConfigurationArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the distribution configuration that you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "distributionConfigurationArn",
          "shape": "DistributionConfigurationArn"
        }
      },
      "required": [
        "distributionConfigurationArn"
      ],
      "type": "structure"
    },
    "GetDistributionConfigurationResponse": {
      "members": {
        "distributionConfiguration": {
          "documentation": "<p> The distribution configuration object. </p>",
          "shape": "DistributionConfiguration"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetImagePipelineRequest": {
      "members": {
        "imagePipelineArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image pipeline that you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "imagePipelineArn",
          "shape": "ImagePipelineArn"
        }
      },
      "required": [
        "imagePipelineArn"
      ],
      "type": "structure"
    },
    "GetImagePipelineResponse": {
      "members": {
        "imagePipeline": {
          "documentation": "<p> The image pipeline object. </p>",
          "shape": "ImagePipeline"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetImagePolicyRequest": {
      "members": {
        "imageArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image whose policy you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "imageArn",
          "shape": "ImageBuildVersionArn"
        }
      },
      "required": [
        "imageArn"
      ],
      "type": "structure"
    },
    "GetImagePolicyResponse": {
      "members": {
        "policy": {
          "documentation": "<p> The image policy object. </p>",
          "shape": "ResourcePolicyDocument"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetImageRecipePolicyRequest": {
      "members": {
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe whose policy you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "imageRecipeArn",
          "shape": "ImageRecipeArn"
        }
      },
      "required": [
        "imageRecipeArn"
      ],
      "type": "structure"
    },
    "GetImageRecipePolicyResponse": {
      "members": {
        "policy": {
          "documentation": "<p> The image recipe policy object. </p>",
          "shape": "ResourcePolicyDocument"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetImageRecipeRequest": {
      "members": {
        "imageRecipeArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image recipe that you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "imageRecipeArn",
          "shape": "ImageRecipeArn"
        }
      },
      "required": [
        "imageRecipeArn"
      ],
      "type": "structure"
    },
    "GetImageRecipeResponse": {
      "members": {
        "imageRecipe": {
          "documentation": "<p> The image recipe object. </p>",
          "shape": "ImageRecipe"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetImageRequest": {
      "members": {
        "imageBuildVersionArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the image that you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "imageBuildVersionArn",
          "shape": "ImageBuildVersionArn"
        }
      },
      "required": [
        "imageBuildVersionArn"
      ],
      "type": "structure"
    },
    "GetImageResponse": {
      "members": {
        "image": {
          "documentation": "<p> The image object. </p>",
          "shape": "Image"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GetInfrastructureConfigurationRequest": {
      "documentation": "<p> GetInfrastructureConfiguration request object. </p>",
      "members": {
        "infrastructureConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration that you want to retrieve. </p>",
          "location": "querystring",
          "locationName": "infrastructureConfigurationArn",
          "shape": "InfrastructureConfigurationArn"
        }
      },
      "required": [
        "infrastructureConfigurationArn"
      ],
      "type": "structure"
    },
    "GetInfrastructureConfigurationResponse": {
      "documentation": "<p>GetInfrastructureConfiguration response object. </p>",
      "members": {
        "infrastructureConfiguration": {
          "documentation": "<p> The infrastructure configuration object. </p>",
          "shape": "InfrastructureConfiguration"
        },
        "requestId": {
          "documentation": "<p> The request ID that uniquely identifies this request. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "IdempotentParameterMismatchException": {
      "documentation": "<p>You have specified a client token for an operation using parameter values that differ from a previous request that used the same client token.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Image": {
      "documentation": "<p>An image build version.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date on which this image was created.</p>",
          "shape": "DateTime"
        },
        "distributionConfiguration": {
          "documentation": "<p>The distribution configuration used when creating this image.</p>",
          "shape": "DistributionConfiguration"
        },
        "imageRecipe": {
          "documentation": "<p>The image recipe used when creating the image.</p>",
          "shape": "ImageRecipe"
        },
        "imageTestsConfiguration": {
          "documentation": "<p>The image tests configuration used when creating this image.</p>",
          "shape": "ImageTestsConfiguration"
        },
        "infrastructureConfiguration": {
          "documentation": "<p> The infrastructure used when creating this image.</p>",
          "shape": "InfrastructureConfiguration"
        },
        "name": {
          "documentation": "<p>The name of the image.</p>",
          "shape": "ResourceName"
        },
        "outputResources": {
          "documentation": "<p>The output resources produced when creating this image.</p>",
          "shape": "OutputResources"
        },
        "platform": {
          "documentation": "<p>The platform of the image.</p>",
          "shape": "Platform"
        },
        "sourcePipelineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline that created this image.</p>",
          "shape": "Arn"
        },
        "sourcePipelineName": {
          "documentation": "<p>The name of the image pipeline that created this image.</p>",
          "shape": "ResourceName"
        },
        "state": {
          "documentation": "<p>The state of the image.</p>",
          "shape": "ImageState"
        },
        "tags": {
          "documentation": "<p>The tags of the image.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The semantic version of the image.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ImageBuildVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+/\\d+$",
      "type": "string"
    },
    "ImageBuilderArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):(?:image-recipe|infrastructure-configuration|distribution-configuration|component|image|image-pipeline)/[a-z0-9-_]+(?:/(?:(?:x|\\d+)\\.(?:x|\\d+)\\.(?:x|\\d+))(?:/\\d+)?)?$",
      "type": "string"
    },
    "ImagePipeline": {
      "documentation": "<p>Details of an image pipeline.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image pipeline.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date on which this image pipeline was created.</p>",
          "shape": "DateTime"
        },
        "dateLastRun": {
          "documentation": "<p>The date on which this image pipeline was last run.</p>",
          "shape": "DateTime"
        },
        "dateNextRun": {
          "documentation": "<p>The date on which this image pipeline will next be run.</p>",
          "shape": "DateTime"
        },
        "dateUpdated": {
          "documentation": "<p>The date on which this image pipeline was last updated.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the image pipeline.</p>",
          "shape": "NonEmptyString"
        },
        "distributionConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the distribution configuration associated with this image pipeline.</p>",
          "shape": "Arn"
        },
        "imageRecipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image recipe associated with this image pipeline.</p>",
          "shape": "Arn"
        },
        "imageTestsConfiguration": {
          "documentation": "<p>The image tests configuration of the image pipeline.</p>",
          "shape": "ImageTestsConfiguration"
        },
        "infrastructureConfigurationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the infrastructure configuration associated with this image pipeline.</p>",
          "shape": "Arn"
        },
        "name": {
          "documentation": "<p>The name of the image pipeline.</p>",
          "shape": "ResourceName"
        },
        "platform": {
          "documentation": "<p>The platform of the image pipeline.</p>",
          "shape": "Platform"
        },
        "schedule": {
          "documentation": "<p>The schedule of the image pipeline.</p>",
          "shape": "Schedule"
        },
        "status": {
          "documentation": "<p>The status of the image pipeline.</p>",
          "shape": "PipelineStatus"
        },
        "tags": {
          "documentation": "<p>The tags of this image pipeline.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ImagePipelineArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image-pipeline/[a-z0-9-_]+$",
      "type": "string"
    },
    "ImagePipelineList": {
      "member": {
        "shape": "ImagePipeline"
      },
      "type": "list"
    },
    "ImageRecipe": {
      "documentation": "<p>An image recipe.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image recipe.</p>",
          "shape": "ImageBuilderArn"
        },
        "blockDeviceMappings": {
          "documentation": "<p>The block device mappings to apply when creating images from this recipe.</p>",
          "shape": "InstanceBlockDeviceMappings"
        },
        "components": {
          "documentation": "<p>The components of the image recipe.</p>",
          "shape": "ComponentConfigurationList"
        },
        "dateCreated": {
          "documentation": "<p>The date on which this image recipe was created.</p>",
          "shape": "DateTime"
        },
        "description": {
          "documentation": "<p>The description of the image recipe.</p>",
          "shape": "NonEmptyString"
        },
        "name": {
          "documentation": "<p>The name of the image recipe.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the image recipe.</p>",
          "shape": "NonEmptyString"
        },
        "parentImage": {
          "documentation": "<p>The parent image of the image recipe.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the image recipe.</p>",
          "shape": "Platform"
        },
        "tags": {
          "documentation": "<p>The tags of the image recipe.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the image recipe.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ImageRecipeArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image-recipe/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
      "type": "string"
    },
    "ImageRecipeSummary": {
      "documentation": "<p>A summary of an image recipe.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image recipe.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date on which this image recipe was created.</p>",
          "shape": "DateTime"
        },
        "name": {
          "documentation": "<p>The name of the image recipe.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the image recipe.</p>",
          "shape": "NonEmptyString"
        },
        "parentImage": {
          "documentation": "<p>The parent image of the image recipe.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the image recipe.</p>",
          "shape": "Platform"
        },
        "tags": {
          "documentation": "<p>The tags of the image recipe.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ImageRecipeSummaryList": {
      "member": {
        "shape": "ImageRecipeSummary"
      },
      "type": "list"
    },
    "ImageState": {
      "documentation": "<p> Image state shows the image status and the reason for that status. </p>",
      "members": {
        "reason": {
          "documentation": "<p> The reason for the image's status. </p>",
          "shape": "NonEmptyString"
        },
        "status": {
          "documentation": "<p> The status of the image. </p>",
          "shape": "ImageStatus"
        }
      },
      "type": "structure"
    },
    "ImageStatus": {
      "enum": [
        "PENDING",
        "CREATING",
        "BUILDING",
        "TESTING",
        "DISTRIBUTING",
        "INTEGRATING",
        "AVAILABLE",
        "CANCELLED",
        "FAILED",
        "DEPRECATED",
        "DELETED"
      ],
      "type": "string"
    },
    "ImageSummary": {
      "documentation": "<p>An image summary.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date on which this image was created.</p>",
          "shape": "DateTime"
        },
        "name": {
          "documentation": "<p>The name of the image.</p>",
          "shape": "ResourceName"
        },
        "outputResources": {
          "documentation": "<p>The output resources produced when creating this image.</p>",
          "shape": "OutputResources"
        },
        "owner": {
          "documentation": "<p>The owner of the image.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the image.</p>",
          "shape": "Platform"
        },
        "state": {
          "documentation": "<p>The state of the image.</p>",
          "shape": "ImageState"
        },
        "tags": {
          "documentation": "<p>The tags of the image.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the image.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ImageSummaryList": {
      "member": {
        "shape": "ImageSummary"
      },
      "type": "list"
    },
    "ImageTestsConfiguration": {
      "documentation": "<p>Image tests configuration.</p>",
      "members": {
        "imageTestsEnabled": {
          "documentation": "<p>Defines if tests should be executed when building this image.</p>",
          "shape": "NullableBoolean"
        },
        "timeoutMinutes": {
          "documentation": "<p>The maximum time in minutes that tests are permitted to run.</p>",
          "shape": "ImageTestsTimeoutMinutes"
        }
      },
      "type": "structure"
    },
    "ImageTestsTimeoutMinutes": {
      "max": 1440,
      "min": 60,
      "type": "integer"
    },
    "ImageVersion": {
      "documentation": "<p>An image semantic version.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the image semantic version.</p>",
          "shape": "ImageBuilderArn"
        },
        "dateCreated": {
          "documentation": "<p>The date at which this image semantic version was created.</p>",
          "shape": "DateTime"
        },
        "name": {
          "documentation": "<p>The name of the image semantic version.</p>",
          "shape": "ResourceName"
        },
        "owner": {
          "documentation": "<p>The owner of the image semantic version.</p>",
          "shape": "NonEmptyString"
        },
        "platform": {
          "documentation": "<p>The platform of the image semantic version.</p>",
          "shape": "Platform"
        },
        "version": {
          "documentation": "<p>The semantic version of the image semantic version.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "ImageVersionArn": {
      "pattern": "^arn:aws[^:]*:imagebuilder:[^:]+:(?:\\d{12}|aws):image/[a-z0-9-_]+/\\d+\\.\\d+\\.\\d+$",
      "type": "string"
    },
    "ImageVersionList": {
      "member": {
        "shape": "ImageVersion"
      },
      "type": "list"
    },
    "ImportComponentRequest": {
      "members": {
        "changeDescription": {
          "documentation": "<p> The change description of the component. Describes what change has been made in this version, or what makes this version different from other versions of this component. </p>",
          "shape": "NonEmptyString"
        },
        "clientToken": {
          "documentation": "<p> The idempotency token of the component. </p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "data": {
          "documentation": "<p>The data of the component. Used to specify the data inline. Either <code>data</code> or <code>uri</code> can be used to specify the data within the component.</p>",
          "shape": "NonEmptyString"
        },
        "description": {
          "documentation": "<p>The description of the component. Describes the contents of the component. </p>",
          "shape": "NonEmptyString"
        },
        "format": {
          "documentation": "<p> The format of the resource that you want to import as a component. </p>",
          "shape": "ComponentFormat"
        },
[...]
