{
  "documentation": "<p>Amazon CloudWatch Events helps you to respond to state changes in your AWS resources. When your resources change state they automatically send events into an event stream. You can create rules that match selected events in the stream and route them to targets to take action. You can also use rules to take action on a pre-determined schedule. For example, you can configure rules to: </p> <ul> <li>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies you that Amazon EC2 instance enters the running state.</li> <li>Direct specific API records from CloudTrail to an Amazon Kinesis stream for detailed analysis of potential security or availability risks.</li> <li>Periodically invoke a built-in target to create a snapshot of an Amazon EBS volume.</li> </ul> <p> For more information about Amazon CloudWatch Events features, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/DeveloperGuide\">Amazon CloudWatch Developer Guide</a>. </p>",
  "examples": {},
  "metadata": {
    "apiVersion": "2014-02-03",
    "endpointPrefix": "events",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon CloudWatch Events",
    "serviceId": "CloudWatch Events",
    "signatureVersion": "v4",
    "targetPrefix": "AWSEvents"
  },
  "operations": {
    "DeleteRule": {
      "documentation": "<p>Deletes a rule. You must remove all targets from a rule using <a>RemoveTargets</a> before you can delete the rule.</p> <p> <b>Note:</b> When you make a change with this action, incoming events might still continue to match to the deleted rule. Please allow a short period of time for changes to take effect. </p>",
      "errors": [
        {
          "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
          "exception": true,
          "shape": "ConcurrentModificationException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>DeleteRule</a> operation.</p>",
        "shape": "DeleteRuleRequest"
      },
      "name": "DeleteRule"
    },
    "DescribeRule": {
      "documentation": "<p>Describes the details of the specified rule.</p>",
      "errors": [
        {
          "documentation": "<p>The rule does not exist.</p>",
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>DescribeRule</a> operation.</p>",
        "shape": "DescribeRuleRequest"
      },
      "name": "DescribeRule",
      "output": {
        "documentation": "<p>The result of the <a>DescribeRule</a> operation.</p>",
        "shape": "DescribeRuleResponse"
      }
    },
    "DisableRule": {
      "documentation": "<p>Disables a rule. A disabled rule won't match any events, and won't self-trigger if it has a schedule expression.</p> <p> <b>Note:</b> When you make a change with this action, incoming events might still continue to match to the disabled rule. Please allow a short period of time for changes to take effect. </p>",
      "errors": [
        {
          "documentation": "<p>The rule does not exist.</p>",
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
          "exception": true,
          "shape": "ConcurrentModificationException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>DisableRule</a> operation.</p>",
        "shape": "DisableRuleRequest"
      },
      "name": "DisableRule"
    },
    "EnableRule": {
      "documentation": "<p>Enables a rule. If the rule does not exist, the operation fails.</p> <p> <b>Note:</b> When you make a change with this action, incoming events might not immediately start matching to a newly enabled rule. Please allow a short period of time for changes to take effect. </p>",
      "errors": [
        {
          "documentation": "<p>The rule does not exist.</p>",
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
          "exception": true,
          "shape": "ConcurrentModificationException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>EnableRule</a> operation.</p>",
        "shape": "EnableRuleRequest"
      },
      "name": "EnableRule"
    },
    "ListRuleNamesByTarget": {
      "documentation": "<p>Lists the names of the rules that the given target is put to. Using this action, you can find out which of the rules in Amazon CloudWatch Events can invoke a specific target in your account. If you have more rules in your account than the given limit, the results will be paginated. In that case, use the next token returned in the response and repeat the ListRulesByTarget action until the NextToken in the response is returned as null.</p>",
      "errors": [
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>ListRuleNamesByTarget</a> operation.</p>",
        "shape": "ListRuleNamesByTargetRequest"
      },
      "name": "ListRuleNamesByTarget",
      "output": {
        "documentation": "<p>The result of the <a>ListRuleNamesByTarget</a> operation.</p>",
        "shape": "ListRuleNamesByTargetResponse"
      }
    },
    "ListRules": {
      "documentation": "<p>Lists the Amazon CloudWatch Events rules in your account. You can either list all the rules or you can provide a prefix to match to the rule names. If you have more rules in your account than the given limit, the results will be paginated. In that case, use the next token returned in the response and repeat the ListRules action until the NextToken in the response is returned as null.</p>",
      "errors": [
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>ListRules</a> operation.</p>",
        "shape": "ListRulesRequest"
      },
      "name": "ListRules",
      "output": {
        "documentation": "<p>The result of the <a>ListRules</a> operation.</p>",
        "shape": "ListRulesResponse"
      }
    },
    "ListTargetsByRule": {
      "documentation": "<p>Lists of targets assigned to the rule.</p>",
      "errors": [
        {
          "documentation": "<p>The rule does not exist.</p>",
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>ListTargetsByRule</a> operation.</p>",
        "shape": "ListTargetsByRuleRequest"
      },
      "name": "ListTargetsByRule",
      "output": {
        "documentation": "<p>The result of the <a>ListTargetsByRule</a> operation.</p>",
        "shape": "ListTargetsByRuleResponse"
      }
    },
    "PutEvents": {
      "documentation": "<p>Sends custom events to Amazon CloudWatch Events so that they can be matched to rules.</p>",
      "errors": [
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>PutEvents</a> operation.</p>",
        "shape": "PutEventsRequest"
      },
      "name": "PutEvents",
      "output": {
        "documentation": "<p>The result of the <a>PutEvents</a> operation.</p>",
        "shape": "PutEventsResponse"
      }
    },
    "PutRule": {
      "documentation": "<p>Creates or updates a rule. Rules are enabled by default, or based on value of the State parameter. You can disable a rule using <a>DisableRule</a>.</p> <p> <b>Note:</b> When you make a change with this action, incoming events might not immediately start matching to new or updated rules. Please allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an EventPattern or ScheduleExpression. Rules with EventPatterns are triggered when a matching event is observed. Rules with ScheduleExpressions self-trigger based on the given schedule. A rule can have both an EventPattern and a ScheduleExpression, in which case the rule will trigger on matching events as well as on a schedule.</p> <p> <b>Note:</b> Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match. </p>",
      "errors": [
        {
          "documentation": "<p>The event pattern is invalid.</p>",
          "exception": true,
          "shape": "InvalidEventPatternException"
        },
        {
          "documentation": "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>",
          "exception": true,
          "shape": "LimitExceededException"
        },
        {
          "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
          "exception": true,
          "shape": "ConcurrentModificationException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>PutRule</a> operation.</p>",
        "shape": "PutRuleRequest"
      },
      "name": "PutRule",
      "output": {
        "documentation": "<p>The result of the <a>PutRule</a> operation.</p>",
        "shape": "PutRuleResponse"
      }
    },
    "PutTargets": {
      "documentation": "<p>Adds target(s) to a rule. Updates the target(s) if they are already associated with the role. In other words, if there is already a target with the given target ID, then the target associated with that ID is updated.</p> <p> <b>Note:</b> When you make a change with this action, when the associated rule triggers, new or updated targets might not be immediately invoked. Please allow a short period of time for changes to take effect. </p>",
      "errors": [
        {
          "documentation": "<p>The rule does not exist.</p>",
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
          "exception": true,
          "shape": "ConcurrentModificationException"
        },
        {
          "documentation": "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>",
          "exception": true,
          "shape": "LimitExceededException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>PutTargets</a> operation.</p>",
        "shape": "PutTargetsRequest"
      },
      "name": "PutTargets",
      "output": {
        "documentation": "<p>The result of the <a>PutTargets</a> operation.</p>",
        "shape": "PutTargetsResponse"
      }
    },
    "RemoveTargets": {
      "documentation": "<p>Removes target(s) from a rule so that when the rule is triggered, those targets will no longer be invoked.</p> <p> <b>Note:</b> When you make a change with this action, when the associated rule triggers, removed targets might still continue to be invoked. Please allow a short period of time for changes to take effect. </p>",
      "errors": [
        {
          "documentation": "<p>The rule does not exist.</p>",
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
          "exception": true,
          "shape": "ConcurrentModificationException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>RemoveTargets</a> operation.</p>",
        "shape": "RemoveTargetsRequest"
      },
      "name": "RemoveTargets",
      "output": {
        "documentation": "<p>The result of the <a>RemoveTargets</a> operation.</p>",
        "shape": "RemoveTargetsResponse"
      }
    },
    "TestEventPattern": {
      "documentation": "<p>Tests whether an event pattern matches the provided event.</p> <p> <b>Note:</b> Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, CloudWatch Events uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match. </p>",
      "errors": [
        {
          "documentation": "<p>The event pattern is invalid.</p>",
          "exception": true,
          "shape": "InvalidEventPatternException"
        },
        {
          "documentation": "<p>This exception occurs due to unexpected causes.</p>",
          "exception": true,
          "fault": true,
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Container for the parameters to the <a>TestEventPattern</a> operation.</p>",
        "shape": "TestEventPatternRequest"
      },
      "name": "TestEventPattern",
      "output": {
        "documentation": "<p>The result of the <a>TestEventPattern</a> operation.</p>",
        "shape": "TestEventPatternResponse"
      }
    }
  },
  "shapes": {
    "Boolean": {
      "type": "boolean"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>This exception occurs if there is concurrent modification on rule or target.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeleteRuleRequest": {
      "documentation": "<p>Container for the parameters to the <a>DeleteRule</a> operation.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the rule to be deleted.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeRuleRequest": {
      "documentation": "<p>Container for the parameters to the <a>DescribeRule</a> operation.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the rule you want to describe details for.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeRuleResponse": {
      "documentation": "<p>The result of the <a>DescribeRule</a> operation.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) associated with the rule.</p>",
          "shape": "RuleArn"
        },
        "Description": {
          "documentation": "<p>The rule's description.</p>",
          "shape": "RuleDescription"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern.</p>",
          "shape": "EventPattern"
        },
        "Name": {
          "documentation": "<p>The rule's name.</p>",
          "shape": "RuleName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "shape": "RoleArn"
        },
        "ScheduleExpression": {
          "documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "shape": "ScheduleExpression"
        },
        "State": {
          "documentation": "<p>Specifies whether the rule is enabled or disabled.</p>",
          "shape": "RuleState"
        }
      },
      "type": "structure"
    },
    "DisableRuleRequest": {
      "documentation": "<p>Container for the parameters to the <a>DisableRule</a> operation.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the rule you want to disable.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "EnableRuleRequest": {
      "documentation": "<p>Container for the parameters to the <a>EnableRule</a> operation.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the rule that you want to enable.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EventId": {
      "type": "string"
    },
    "EventPattern": {
      "max": 2048,
      "type": "string"
    },
    "EventResource": {
      "type": "string"
    },
    "EventResourceList": {
      "member": {
        "shape": "EventResource"
      },
      "type": "list"
    },
    "EventTime": {
      "type": "timestamp"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalException": {
      "documentation": "<p>This exception occurs due to unexpected causes.</p>",
      "exception": true,
      "fault": true,
      "members": {},
      "type": "structure"
    },
    "InvalidEventPatternException": {
      "documentation": "<p>The event pattern is invalid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>This exception occurs if you try to create more rules or add more targets to a rule than allowed by default.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "LimitMax100": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListRuleNamesByTargetRequest": {
      "documentation": "<p>Container for the parameters to the <a>ListRuleNamesByTarget</a> operation.</p>",
      "members": {
        "Limit": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "LimitMax100"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to indicate that there is more data available.</p>",
          "shape": "NextToken"
        },
        "TargetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target resource that you want to list the rules for.</p>",
          "shape": "TargetArn"
        }
      },
      "required": [
        "TargetArn"
      ],
      "type": "structure"
    },
    "ListRuleNamesByTargetResponse": {
      "documentation": "<p>The result of the <a>ListRuleNamesByTarget</a> operation.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Indicates that there are additional results to retrieve.</p>",
          "shape": "NextToken"
        },
        "RuleNames": {
          "documentation": "<p>List of rules names that can invoke the given target.</p>",
          "shape": "RuleNameList"
        }
      },
      "type": "structure"
    },
    "ListRulesRequest": {
      "documentation": "<p>Container for the parameters to the <a>ListRules</a> operation.</p>",
      "members": {
        "Limit": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "LimitMax100"
        },
        "NamePrefix": {
          "documentation": "<p>The prefix matching the rule name.</p>",
          "shape": "RuleName"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to indicate that there is more data available.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListRulesResponse": {
      "documentation": "<p>The result of the <a>ListRules</a> operation.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Indicates that there are additional results to retrieve.</p>",
          "shape": "NextToken"
        },
        "Rules": {
          "documentation": "<p>List of rules matching the specified criteria.</p>",
          "shape": "RuleResponseList"
        }
      },
      "type": "structure"
    },
    "ListTargetsByRuleRequest": {
      "documentation": "<p>Container for the parameters to the <a>ListTargetsByRule</a> operation.</p>",
      "members": {
        "Limit": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "LimitMax100"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to indicate that there is more data available.</p>",
          "shape": "NextToken"
        },
        "Rule": {
          "documentation": "<p>The name of the rule whose targets you want to list.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Rule"
      ],
      "type": "structure"
    },
    "ListTargetsByRuleResponse": {
      "documentation": "<p>The result of the <a>ListTargetsByRule</a> operation.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Indicates that there are additional results to retrieve.</p>",
          "shape": "NextToken"
        },
        "Targets": {
          "documentation": "<p>Lists the targets assigned to the rule.</p>",
          "shape": "TargetList"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "PutEventsRequest": {
      "documentation": "<p>Container for the parameters to the <a>PutEvents</a> operation.</p>",
      "members": {
        "Entries": {
          "documentation": "<p>The entry that defines an event in your system. You can specify several parameters for the entry such as the source and type of the event, resources associated with the event, and so on.</p>",
          "shape": "PutEventsRequestEntryList"
        }
      },
      "required": [
        "Entries"
      ],
      "type": "structure"
    },
    "PutEventsRequestEntry": {
      "documentation": "<p>Contains information about the event to be used in the PutEvents action.</p>",
      "members": {
        "Detail": {
          "documentation": "<p>In the JSON sense, an object containing fields, which may also contain nested sub-objects. No constraints are imposed on its contents.</p>",
          "shape": "String"
        },
        "DetailType": {
          "documentation": "<p>Free-form string used to decide what fields to expect in the event detail.</p>",
          "shape": "String"
        },
        "Resources": {
          "documentation": "<p>AWS resources, identified by Amazon Resource Name (ARN), which the event primarily concerns. Any number, including zero, may be present.</p>",
          "shape": "EventResourceList"
        },
        "Source": {
          "documentation": "<p>The source of the event.</p>",
          "shape": "String"
        },
        "Time": {
          "documentation": "<p>Timestamp of event, per <a href=\"https://www.rfc-editor.org/rfc/rfc3339.txt\">RFC3339</a>. If no timestamp is provided, the timestamp of the <a>PutEvents</a> call will be used.</p>",
          "shape": "EventTime"
        }
      },
      "type": "structure"
    },
    "PutEventsRequestEntryList": {
      "max": 10,
      "member": {
        "shape": "PutEventsRequestEntry"
      },
      "min": 1,
      "type": "list"
    },
    "PutEventsResponse": {
      "documentation": "<p>The result of the <a>PutEvents</a> operation.</p>",
      "members": {
        "Entries": {
          "documentation": "<p>A list of successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry will have the event ID in it. If not, then the ErrorCode and ErrorMessage can be used to identify the problem with the entry.</p>",
          "shape": "PutEventsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of failed entries.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "PutEventsResultEntry": {
      "documentation": "<p>A PutEventsResult contains a list of PutEventsResultEntry.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code representing why the event submission failed on this entry.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message explaining why the event submission failed on this entry.</p>",
          "shape": "ErrorMessage"
        },
        "EventId": {
          "documentation": "<p>The ID of the event submitted to Amazon CloudWatch Events.</p>",
          "shape": "EventId"
        }
      },
      "type": "structure"
    },
    "PutEventsResultEntryList": {
      "member": {
        "shape": "PutEventsResultEntry"
      },
      "type": "list"
    },
    "PutRuleRequest": {
      "documentation": "<p>Container for the parameters to the <a>PutRule</a> operation.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description of the rule.</p>",
          "shape": "RuleDescription"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern.</p>",
          "shape": "EventPattern"
        },
        "Name": {
          "documentation": "<p>The name of the rule that you are creating or updating.</p>",
          "shape": "RuleName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "shape": "RoleArn"
        },
        "ScheduleExpression": {
          "documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "shape": "ScheduleExpression"
        },
        "State": {
          "documentation": "<p>Indicates whether the rule is enabled or disabled.</p>",
          "shape": "RuleState"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "PutRuleResponse": {
      "documentation": "<p>The result of the <a>PutRule</a> operation.</p>",
      "members": {
        "RuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the rule.</p>",
          "shape": "RuleArn"
        }
      },
      "type": "structure"
    },
    "PutTargetsRequest": {
      "documentation": "<p>Container for the parameters to the <a>PutTargets</a> operation.</p>",
      "members": {
        "Rule": {
          "documentation": "<p>The name of the rule you want to add targets to.</p>",
          "shape": "RuleName"
        },
        "Targets": {
          "documentation": "<p>List of targets you want to update or add to the rule.</p>",
          "shape": "TargetList"
        }
      },
      "required": [
        "Rule",
        "Targets"
      ],
      "type": "structure"
    },
    "PutTargetsResponse": {
      "documentation": "<p>The result of the <a>PutTargets</a> operation.</p>",
      "members": {
        "FailedEntries": {
          "documentation": "<p>An array of failed target entries.</p>",
          "shape": "PutTargetsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of failed entries.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "PutTargetsResultEntry": {
      "documentation": "<p>A PutTargetsResult contains a list of PutTargetsResultEntry.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code representing why the target submission failed on this entry.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message explaining why the target submission failed on this entry.</p>",
          "shape": "ErrorMessage"
        },
        "TargetId": {
          "documentation": "<p>The ID of the target submitted to Amazon CloudWatch Events.</p>",
          "shape": "TargetId"
        }
      },
      "type": "structure"
    },
    "PutTargetsResultEntryList": {
      "member": {
        "shape": "PutTargetsResultEntry"
      },
      "type": "list"
    },
    "RemoveTargetsRequest": {
      "documentation": "<p>Container for the parameters to the <a>RemoveTargets</a> operation.</p>",
      "members": {
        "Ids": {
          "documentation": "<p>The list of target IDs to remove from the rule.</p>",
          "shape": "TargetIdList"
        },
        "Rule": {
          "documentation": "<p>The name of the rule you want to remove targets from.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Rule",
        "Ids"
      ],
      "type": "structure"
    },
    "RemoveTargetsResponse": {
      "documentation": "<p>The result of the <a>RemoveTargets</a> operation.</p>",
      "members": {
        "FailedEntries": {
          "documentation": "<p>An array of failed target entries.</p>",
          "shape": "RemoveTargetsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of failed entries.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "RemoveTargetsResultEntry": {
      "documentation": "<p>The ID of the target requested to be removed from the rule by Amazon CloudWatch Events.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code representing why the target removal failed on this entry.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message explaining why the target removal failed on this entry.</p>",
          "shape": "ErrorMessage"
        },
        "TargetId": {
          "documentation": "<p>The ID of the target requested to be removed by Amazon CloudWatch Events.</p>",
          "shape": "TargetId"
        }
      },
      "type": "structure"
    },
    "RemoveTargetsResultEntryList": {
      "member": {
        "shape": "RemoveTargetsResultEntry"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The rule does not exist.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "RoleArn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "Rule": {
      "documentation": "<p>Contains information about a rule in Amazon CloudWatch Events. A ListRulesResult contains a list of Rules.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "shape": "RuleArn"
        },
        "Description": {
          "documentation": "<p>The description of the rule.</p>",
          "shape": "RuleDescription"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern of the rule.</p>",
          "shape": "EventPattern"
        },
        "Name": {
          "documentation": "<p>The rule's name.</p>",
          "shape": "RuleName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) associated with the role that is used for target invocation.</p>",
          "shape": "RoleArn"
        },
        "ScheduleExpression": {
          "documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "shape": "ScheduleExpression"
        },
        "State": {
          "documentation": "<p>The rule's state.</p>",
          "shape": "RuleState"
        }
      },
      "type": "structure"
    },
    "RuleArn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "RuleDescription": {
      "max": 512,
      "type": "string"
    },
    "RuleName": {
      "max": 64,
      "min": 1,
      "pattern": "[\\.\\-_A-Za-z0-9]+",
      "type": "string"
    },
    "RuleNameList": {
      "member": {
        "shape": "RuleName"
      },
      "type": "list"
    },
    "RuleResponseList": {
      "member": {
        "shape": "Rule"
      },
      "type": "list"
    },
    "RuleState": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "ScheduleExpression": {
      "max": 256,
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "Target": {
      "documentation": "<p>Targets are the resources that can be invoked when a rule is triggered. For example, AWS Lambda functions, Amazon Kinesis streams, and built-in targets.</p> <p><b>Input</b> and <b>InputPath</b> are mutually-exclusive and optional parameters of a target. When a rule is triggered due to a matched event, if for a target:</p> <ul> <li>Neither <b>Input</b> nor <b>InputPath</b> is specified, then the entire event is passed to the target in JSON form.</li> <li> <b>InputPath</b> is specified in the form of JSONPath (e.g. <b>$.detail</b>), then only the part of the event specified in the path is passed to the target (e.g. only the detail part of the event is passed). </li> <li> <b>Input</b> is specified in the form of a valid JSON, then the matched event is overridden with this constant.</li> </ul>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) associated of the target.</p>",
          "shape": "TargetArn"
        },
        "Id": {
          "documentation": "<p>The unique target assignment ID.</p>",
          "shape": "TargetId"
        },
        "Input": {
          "documentation": "<p>Valid JSON text passed to the target. For more information about JSON text, see <a href=\"http://www.rfc-editor.org/rfc/rfc7159.txt\">The JavaScript Object Notation (JSON) Data Interchange Format</a>.</p>",
          "shape": "TargetInput"
        },
        "InputPath": {
          "documentation": "<p>The value of the JSONPath that is used for extracting part of the matched event when passing it to the target. For more information about JSON paths, see <a href=\"http://goessner.net/articles/JsonPath/\">JSONPath</a>.</p>",
          "shape": "TargetInputPath"
        }
      },
      "required": [
        "Id",
        "Arn"
      ],
      "type": "structure"
    },
    "TargetArn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "TargetId": {
      "max": 64,
      "min": 1,
      "pattern": "[\\.\\-_A-Za-z0-9]+",
      "type": "string"
    },
    "TargetIdList": {
      "max": 100,
      "member": {
        "shape": "TargetId"
      },
      "min": 1,
      "type": "list"
    },
    "TargetInput": {
      "max": 8192,
      "type": "string"
    },
    "TargetInputPath": {
      "max": 256,
      "type": "string"
    },
    "TargetList": {
      "member": {
        "shape": "Target"
      },
      "type": "list"
    },
    "TestEventPatternRequest": {
      "documentation": "<p>Container for the parameters to the <a>TestEventPattern</a> operation.</p>",
      "members": {
        "Event": {
          "documentation": "<p>The event in the JSON format to test against the event pattern.</p>",
          "shape": "String"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern you want to test.</p>",
          "shape": "EventPattern"
        }
      },
      "required": [
        "EventPattern",
        "Event"
      ],
      "type": "structure"
    },
    "TestEventPatternResponse": {
      "documentation": "<p>The result of the <a>TestEventPattern</a> operation.</p>",
      "members": {
        "Result": {
          "documentation": "<p>Indicates whether the event matches the event pattern.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
