{
  "documentation": "<p>This section provides documentation for the AWS RoboMaker API operations.</p>",
  "metadata": {
    "apiVersion": "2018-06-29",
    "endpointPrefix": "robomaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "RoboMaker",
    "serviceFullName": "AWS RoboMaker",
    "serviceId": "RoboMaker",
    "signatureVersion": "v4",
    "signingName": "robomaker",
    "uid": "robomaker-2018-06-29"
  },
  "operations": {
    "BatchDescribeSimulationJob": {
      "documentation": "<p>Describes one or more simulation jobs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/batchDescribeSimulationJob"
      },
      "input": {
        "shape": "BatchDescribeSimulationJobRequest"
      },
      "name": "BatchDescribeSimulationJob",
      "output": {
        "shape": "BatchDescribeSimulationJobResponse"
      }
    },
    "CancelDeploymentJob": {
      "documentation": "<p>Cancels the specified deployment job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelDeploymentJob"
      },
      "input": {
        "shape": "CancelDeploymentJobRequest"
      },
      "name": "CancelDeploymentJob",
      "output": {
        "shape": "CancelDeploymentJobResponse"
      }
    },
    "CancelSimulationJob": {
      "documentation": "<p>Cancels the specified simulation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelSimulationJob"
      },
      "input": {
        "shape": "CancelSimulationJobRequest"
      },
      "name": "CancelSimulationJob",
      "output": {
        "shape": "CancelSimulationJobResponse"
      }
    },
    "CancelSimulationJobBatch": {
      "documentation": "<p>Cancels a simulation job batch. When you cancel a simulation job batch, you are also cancelling all of the active simulation jobs created as part of the batch. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/cancelSimulationJobBatch"
      },
      "input": {
        "shape": "CancelSimulationJobBatchRequest"
      },
      "name": "CancelSimulationJobBatch",
      "output": {
        "shape": "CancelSimulationJobBatchResponse"
      }
    },
    "CreateDeploymentJob": {
      "documentation": "<p>Deploys a specific version of a robot application to robots in a fleet.</p> <p>The robot application must have a numbered <code>applicationVersion</code> for consistency reasons. To create a new version, use <code>CreateRobotApplicationVersion</code> or see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/create-robot-application-version.html\">Creating a Robot Application Version</a>. </p> <note> <p>After 90 days, deployment jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentDeploymentException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createDeploymentJob"
      },
      "input": {
        "shape": "CreateDeploymentJobRequest"
      },
      "name": "CreateDeploymentJob",
      "output": {
        "shape": "CreateDeploymentJobResponse"
      }
    },
    "CreateFleet": {
      "documentation": "<p>Creates a fleet, a logical group of robots running the same robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createFleet"
      },
      "input": {
        "shape": "CreateFleetRequest"
      },
      "name": "CreateFleet",
      "output": {
        "shape": "CreateFleetResponse"
      }
    },
    "CreateRobot": {
      "documentation": "<p>Creates a robot.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createRobot"
      },
      "input": {
        "shape": "CreateRobotRequest"
      },
      "name": "CreateRobot",
      "output": {
        "shape": "CreateRobotResponse"
      }
    },
    "CreateRobotApplication": {
      "documentation": "<p>Creates a robot application. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createRobotApplication"
      },
      "input": {
        "shape": "CreateRobotApplicationRequest"
      },
      "name": "CreateRobotApplication",
      "output": {
        "shape": "CreateRobotApplicationResponse"
      }
    },
    "CreateRobotApplicationVersion": {
      "documentation": "<p>Creates a version of a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createRobotApplicationVersion"
      },
      "input": {
        "shape": "CreateRobotApplicationVersionRequest"
      },
      "name": "CreateRobotApplicationVersion",
      "output": {
        "shape": "CreateRobotApplicationVersionResponse"
      }
    },
    "CreateSimulationApplication": {
      "documentation": "<p>Creates a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createSimulationApplication"
      },
      "input": {
        "shape": "CreateSimulationApplicationRequest"
      },
      "name": "CreateSimulationApplication",
      "output": {
        "shape": "CreateSimulationApplicationResponse"
      }
    },
    "CreateSimulationApplicationVersion": {
      "documentation": "<p>Creates a simulation application with a specific revision id.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createSimulationApplicationVersion"
      },
      "input": {
        "shape": "CreateSimulationApplicationVersionRequest"
      },
      "name": "CreateSimulationApplicationVersion",
      "output": {
        "shape": "CreateSimulationApplicationVersionResponse"
      }
    },
    "CreateSimulationJob": {
      "documentation": "<p>Creates a simulation job.</p> <note> <p>After 90 days, simulation jobs expire and will be deleted. They will no longer be accessible. </p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createSimulationJob"
      },
      "input": {
        "shape": "CreateSimulationJobRequest"
      },
      "name": "CreateSimulationJob",
      "output": {
        "shape": "CreateSimulationJobResponse"
      }
    },
    "DeleteFleet": {
      "documentation": "<p>Deletes a fleet.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteFleet"
      },
      "input": {
        "shape": "DeleteFleetRequest"
      },
      "name": "DeleteFleet",
      "output": {
        "shape": "DeleteFleetResponse"
      }
    },
    "DeleteRobot": {
      "documentation": "<p>Deletes a robot.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteRobot"
      },
      "input": {
        "shape": "DeleteRobotRequest"
      },
      "name": "DeleteRobot",
      "output": {
        "shape": "DeleteRobotResponse"
      }
    },
    "DeleteRobotApplication": {
      "documentation": "<p>Deletes a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteRobotApplication"
      },
      "input": {
        "shape": "DeleteRobotApplicationRequest"
      },
      "name": "DeleteRobotApplication",
      "output": {
        "shape": "DeleteRobotApplicationResponse"
      }
    },
    "DeleteSimulationApplication": {
      "documentation": "<p>Deletes a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteSimulationApplication"
      },
      "input": {
        "shape": "DeleteSimulationApplicationRequest"
      },
      "name": "DeleteSimulationApplication",
      "output": {
        "shape": "DeleteSimulationApplicationResponse"
      }
    },
    "DeregisterRobot": {
      "documentation": "<p>Deregisters a robot.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deregisterRobot"
      },
      "input": {
        "shape": "DeregisterRobotRequest"
      },
      "name": "DeregisterRobot",
      "output": {
        "shape": "DeregisterRobotResponse"
      }
    },
    "DescribeDeploymentJob": {
      "documentation": "<p>Describes a deployment job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeDeploymentJob"
      },
      "input": {
        "shape": "DescribeDeploymentJobRequest"
      },
      "name": "DescribeDeploymentJob",
      "output": {
        "shape": "DescribeDeploymentJobResponse"
      }
    },
    "DescribeFleet": {
      "documentation": "<p>Describes a fleet.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeFleet"
      },
      "input": {
        "shape": "DescribeFleetRequest"
      },
      "name": "DescribeFleet",
      "output": {
        "shape": "DescribeFleetResponse"
      }
    },
    "DescribeRobot": {
      "documentation": "<p>Describes a robot.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeRobot"
      },
      "input": {
        "shape": "DescribeRobotRequest"
      },
      "name": "DescribeRobot",
      "output": {
        "shape": "DescribeRobotResponse"
      }
    },
    "DescribeRobotApplication": {
      "documentation": "<p>Describes a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeRobotApplication"
      },
      "input": {
        "shape": "DescribeRobotApplicationRequest"
      },
      "name": "DescribeRobotApplication",
      "output": {
        "shape": "DescribeRobotApplicationResponse"
      }
    },
    "DescribeSimulationApplication": {
      "documentation": "<p>Describes a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeSimulationApplication"
      },
      "input": {
        "shape": "DescribeSimulationApplicationRequest"
      },
      "name": "DescribeSimulationApplication",
      "output": {
        "shape": "DescribeSimulationApplicationResponse"
      }
    },
    "DescribeSimulationJob": {
      "documentation": "<p>Describes a simulation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeSimulationJob"
      },
      "input": {
        "shape": "DescribeSimulationJobRequest"
      },
      "name": "DescribeSimulationJob",
      "output": {
        "shape": "DescribeSimulationJobResponse"
      }
    },
    "DescribeSimulationJobBatch": {
      "documentation": "<p>Describes a simulation job batch.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeSimulationJobBatch"
      },
      "input": {
        "shape": "DescribeSimulationJobBatchRequest"
      },
      "name": "DescribeSimulationJobBatch",
      "output": {
        "shape": "DescribeSimulationJobBatchResponse"
      }
    },
    "ListDeploymentJobs": {
      "documentation": "<p>Returns a list of deployment jobs for a fleet. You can optionally provide filters to retrieve specific deployment jobs. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listDeploymentJobs"
      },
      "input": {
        "shape": "ListDeploymentJobsRequest"
      },
      "name": "ListDeploymentJobs",
      "output": {
        "shape": "ListDeploymentJobsResponse"
      }
    },
    "ListFleets": {
      "documentation": "<p>Returns a list of fleets. You can optionally provide filters to retrieve specific fleets. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listFleets"
      },
      "input": {
        "shape": "ListFleetsRequest"
      },
      "name": "ListFleets",
      "output": {
        "shape": "ListFleetsResponse"
      }
    },
    "ListRobotApplications": {
      "documentation": "<p>Returns a list of robot application. You can optionally provide filters to retrieve specific robot applications.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listRobotApplications"
      },
      "input": {
        "shape": "ListRobotApplicationsRequest"
      },
      "name": "ListRobotApplications",
      "output": {
        "shape": "ListRobotApplicationsResponse"
      }
    },
    "ListRobots": {
      "documentation": "<p>Returns a list of robots. You can optionally provide filters to retrieve specific robots.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listRobots"
      },
      "input": {
        "shape": "ListRobotsRequest"
      },
      "name": "ListRobots",
      "output": {
        "shape": "ListRobotsResponse"
      }
    },
    "ListSimulationApplications": {
      "documentation": "<p>Returns a list of simulation applications. You can optionally provide filters to retrieve specific simulation applications. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listSimulationApplications"
      },
      "input": {
        "shape": "ListSimulationApplicationsRequest"
      },
      "name": "ListSimulationApplications",
      "output": {
        "shape": "ListSimulationApplicationsResponse"
      }
    },
    "ListSimulationJobBatches": {
      "documentation": "<p>Returns a list simulation job batches. You can optionally provide filters to retrieve specific simulation batch jobs. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listSimulationJobBatches"
      },
      "input": {
        "shape": "ListSimulationJobBatchesRequest"
      },
      "name": "ListSimulationJobBatches",
      "output": {
        "shape": "ListSimulationJobBatchesResponse"
      }
    },
    "ListSimulationJobs": {
      "documentation": "<p>Returns a list of simulation jobs. You can optionally provide filters to retrieve specific simulation jobs. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listSimulationJobs"
      },
      "input": {
        "shape": "ListSimulationJobsRequest"
      },
      "name": "ListSimulationJobs",
      "output": {
        "shape": "ListSimulationJobsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags on a AWS RoboMaker resource.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "RegisterRobot": {
      "documentation": "<p>Registers a robot with a fleet.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/registerRobot"
      },
      "input": {
        "shape": "RegisterRobotRequest"
      },
      "name": "RegisterRobot",
      "output": {
        "shape": "RegisterRobotResponse"
      }
    },
    "RestartSimulationJob": {
      "documentation": "<p>Restarts a running simulation job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restartSimulationJob"
      },
      "input": {
        "shape": "RestartSimulationJobRequest"
      },
      "name": "RestartSimulationJob",
      "output": {
        "shape": "RestartSimulationJobResponse"
      }
    },
    "StartSimulationJobBatch": {
      "documentation": "<p>Starts a new simulation job batch. The batch is defined using one or more <code>SimulationJobRequest</code> objects. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/startSimulationJobBatch"
      },
      "input": {
        "shape": "StartSimulationJobBatchRequest"
      },
      "name": "StartSimulationJobBatch",
      "output": {
        "shape": "StartSimulationJobBatchResponse"
      }
    },
    "SyncDeploymentJob": {
      "documentation": "<p>Syncrhonizes robots in a fleet to the latest deployment. This is helpful if robots were added after a deployment.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentDeploymentException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/syncDeploymentJob"
      },
      "input": {
        "shape": "SyncDeploymentJobRequest"
      },
      "name": "SyncDeploymentJob",
      "output": {
        "shape": "SyncDeploymentJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or edits tags for a AWS RoboMaker resource.</p> <p>Each tag consists of a tag key and a tag value. Tag keys and tag values are both required, but tag values can be empty strings. </p> <p>For information about the rules that apply to tag keys and tag values, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html\">User-Defined Tag Restrictions</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified AWS RoboMaker resource.</p> <p>To remove a tag, specify the tag key. To change the tag value of an existing tag key, use <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/API_TagResource.html\"> <code>TagResource</code> </a>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateRobotApplication": {
      "documentation": "<p>Updates a robot application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateRobotApplication"
      },
      "input": {
        "shape": "UpdateRobotApplicationRequest"
      },
      "name": "UpdateRobotApplication",
      "output": {
        "shape": "UpdateRobotApplicationResponse"
      }
    },
    "UpdateSimulationApplication": {
      "documentation": "<p>Updates a simulation application.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateSimulationApplication"
      },
      "input": {
        "shape": "UpdateSimulationApplicationRequest"
      },
      "name": "UpdateSimulationApplication",
      "output": {
        "shape": "UpdateSimulationApplicationResponse"
      }
    }
  },
  "shapes": {
    "Architecture": {
      "enum": [
        "X86_64",
        "ARM64",
        "ARMHF"
      ],
      "type": "string"
    },
    "Arn": {
      "max": 1224,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "Arns": {
      "max": 100,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDescribeSimulationJobRequest": {
      "members": {
        "jobs": {
          "documentation": "<p>A list of Amazon Resource Names (ARNs) of simulation jobs to describe.</p>",
          "shape": "Arns"
        }
      },
      "required": [
        "jobs"
      ],
      "type": "structure"
    },
    "BatchDescribeSimulationJobResponse": {
      "members": {
        "jobs": {
          "documentation": "<p>A list of simulation jobs.</p>",
          "shape": "SimulationJobs"
        },
        "unprocessedJobs": {
          "documentation": "<p>A list of unprocessed simulation job Amazon Resource Names (ARNs).</p>",
          "shape": "Arns"
        }
      },
      "type": "structure"
    },
    "BatchPolicy": {
      "documentation": "<p>Information about the batch policy.</p>",
      "members": {
        "maxConcurrency": {
          "documentation": "<p>The number of active simulation jobs create as part of the batch that can be in an active state at the same time. </p> <p>Active states include: <code>Pending</code>,<code>Preparing</code>, <code>Running</code>, <code>Restarting</code>, <code>RunningFailed</code> and <code>Terminating</code>. All other states are terminal states. </p>",
          "shape": "MaxConcurrency"
        },
        "timeoutInSeconds": {
          "documentation": "<p>The amount of time, in seconds, to wait for the batch to complete. </p> <p>If a batch times out, and there are pending requests that were failing due to an internal failure (like <code>InternalServiceError</code>), they will be moved to the failed list and the batch status will be <code>Failed</code>. If the pending requests were failing for any other reason, the failed pending requests will be moved to the failed list and the batch status will be <code>TimedOut</code>. </p>",
          "shape": "BatchTimeoutInSeconds"
        }
      },
      "type": "structure"
    },
    "BatchTimeoutInSeconds": {
      "type": "long"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxedBoolean": {
      "type": "boolean"
    },
    "CancelDeploymentJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The deployment job ARN to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "CancelDeploymentJobResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelSimulationJobBatchRequest": {
      "members": {
        "batch": {
          "documentation": "<p>The id of the batch to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "batch"
      ],
      "type": "structure"
    },
    "CancelSimulationJobBatchResponse": {
      "members": {},
      "type": "structure"
    },
    "CancelSimulationJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The simulation job ARN to cancel.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "CancelSimulationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "ClientRequestToken": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\-=]*",
      "type": "string"
    },
    "Command": {
      "max": 1024,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.\\-]*",
      "type": "string"
    },
    "Compute": {
      "documentation": "<p>Compute information for the simulation job.</p>",
      "members": {
        "simulationUnitLimit": {
          "documentation": "<p>The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximim value provided. </p>",
          "shape": "SimulationUnit"
        }
      },
      "type": "structure"
    },
    "ComputeResponse": {
      "documentation": "<p>Compute information for the simulation job</p>",
      "members": {
        "simulationUnitLimit": {
          "documentation": "<p>The simulation unit limit. Your simulation is allocated CPU and memory proportional to the supplied simulation unit limit. A simulation unit is 1 vcpu and 2GB of memory. You are only billed for the SU utilization you consume up to the maximim value provided. </p>",
          "shape": "SimulationUnit"
        }
      },
      "type": "structure"
    },
    "ConcurrentDeploymentException": {
      "documentation": "<p>The failure percentage threshold percentage was met.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CreateDeploymentJobRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "deploymentApplicationConfigs": {
          "documentation": "<p>The deployment application configuration.</p>",
          "shape": "DeploymentApplicationConfigs"
        },
        "deploymentConfig": {
          "documentation": "<p>The requested deployment configuration.</p>",
          "shape": "DeploymentConfig"
        },
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet to deploy.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the deployment job.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "clientRequestToken",
        "fleet",
        "deploymentApplicationConfigs"
      ],
      "type": "structure"
    },
    "CreateDeploymentJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>",
          "shape": "CreatedAt"
        },
        "deploymentApplicationConfigs": {
          "documentation": "<p>The deployment application configuration.</p>",
          "shape": "DeploymentApplicationConfigs"
        },
        "deploymentConfig": {
          "documentation": "<p>The deployment configuration.</p>",
          "shape": "DeploymentConfig"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the simulation job if it failed:</p> <dl> <dt>BadPermissionError</dt> <dd> <p>AWS Greengrass requires a service-level role permission to access other services. The role must include the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSGreengrassResourceAccessRolePolicy$jsonEditor\"> <code>AWSGreengrassResourceAccessRolePolicy</code> managed policy</a>. </p> </dd> <dt>ExtractingBundleFailure</dt> <dd> <p>The robot application could not be extracted from the bundle.</p> </dd> <dt>FailureThresholdBreached</dt> <dd> <p>The percentage of robots that could not be updated exceeded the percentage set for the deployment.</p> </dd> <dt>GreengrassDeploymentFailed</dt> <dd> <p>The robot application could not be deployed to the robot.</p> </dd> <dt>GreengrassGroupVersionDoesNotExist</dt> <dd> <p>The AWS Greengrass group or version associated with a robot is missing.</p> </dd> <dt>InternalServerError</dt> <dd> <p>An internal error has occurred. Retry your request, but if the problem persists, contact us with details.</p> </dd> <dt>MissingRobotApplicationArchitecture</dt> <dd> <p>The robot application does not have a source that matches the architecture of the robot.</p> </dd> <dt>MissingRobotDeploymentResource</dt> <dd> <p>One or more of the resources specified for the robot application are missing. For example, does the robot application have the correct launch package and launch file?</p> </dd> <dt>PostLaunchFileFailure</dt> <dd> <p>The post-launch script failed.</p> </dd> <dt>PreLaunchFileFailure</dt> <dd> <p>The pre-launch script failed.</p> </dd> <dt>ResourceNotFound</dt> <dd> <p>One or more deployment resources are missing. For example, do robot application source bundles still exist? </p> </dd> <dt>RobotDeploymentNoResponse</dt> <dd> <p>There is no response from the robot. It might not be powered on or connected to the internet.</p> </dd> </dl>",
          "shape": "DeploymentJobErrorCode"
        },
        "failureReason": {
          "documentation": "<p>The failure reason of the deployment job if it failed.</p>",
          "shape": "GenericString"
        },
        "fleet": {
          "documentation": "<p>The target fleet for the deployment job.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the deployment job.</p>",
          "shape": "DeploymentStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the deployment job.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateFleetRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the fleet.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateFleetResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>",
          "shape": "CreatedAt"
        },
        "name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the fleet.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateRobotApplicationRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribuition) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "SourceConfigs"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the robot application.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "sources",
        "robotSoftwareSuite"
      ],
      "type": "structure"
    },
    "CreateRobotApplicationResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the robot application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "Sources"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the robot application.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the robot application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateRobotApplicationVersionRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the robot application.</p>",
          "shape": "Arn"
        },
        "currentRevisionId": {
          "documentation": "<p>The current revision id for the robot application. If you provide a value and it matches the latest revision ID, a new version will be created.</p>",
          "shape": "RevisionId"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "CreateRobotApplicationVersionResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the robot application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "Sources"
        },
        "version": {
          "documentation": "<p>The version of the robot application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateRobotRequest": {
      "members": {
        "architecture": {
          "documentation": "<p>The target architecture of the robot.</p>",
          "shape": "Architecture"
        },
        "greengrassGroupId": {
          "documentation": "<p>The Greengrass group id.</p>",
          "shape": "Id"
        },
        "name": {
          "documentation": "<p>The name for the robot.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the robot.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "architecture",
        "greengrassGroupId"
      ],
      "type": "structure"
    },
    "CreateRobotResponse": {
      "members": {
        "architecture": {
          "documentation": "<p>The target architecture of the robot.</p>",
          "shape": "Architecture"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot was created.</p>",
          "shape": "CreatedAt"
        },
        "greengrassGroupId": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Greengrass group associated with the robot.</p>",
          "shape": "Id"
        },
        "name": {
          "documentation": "<p>The name of the robot.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the robot.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "CreateSimulationApplicationRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the simulation application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "SourceConfigs"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation application.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name",
        "sources",
        "simulationSoftwareSuite",
        "robotSoftwareSuite"
      ],
      "type": "structure"
    },
    "CreateSimulationApplicationResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation application.</p>",
          "shape": "Arn"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the simulation application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>Information about the robot software suite (ROS distribution).</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "Sources"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the simulation application.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the simulation application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateSimulationApplicationVersionRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the simulation application.</p>",
          "shape": "Arn"
        },
        "currentRevisionId": {
          "documentation": "<p>The current revision id for the simulation application. If you provide a value and it matches the latest revision ID, a new version will be created.</p>",
          "shape": "RevisionId"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "CreateSimulationApplicationVersionResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation application.</p>",
          "shape": "Arn"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "revisionId": {
          "documentation": "<p>The revision ID of the simulation application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>Information about the robot software suite (ROS distribution).</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "Sources"
        },
        "version": {
          "documentation": "<p>The version of the simulation application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateSimulationJobRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "compute": {
          "documentation": "<p>Compute information for the simulation job.</p>",
          "shape": "Compute"
        },
        "dataSources": {
          "documentation": "<p>Specify data sources to mount read-only files from S3 into your simulation. These files are available under <code>/opt/robomaker/datasources/data_source_name</code>. </p> <note> <p>There is a limit of 100 files and a combined size of 25GB for all <code>DataSourceConfig</code> objects. </p> </note>",
          "shape": "DataSourceConfigs"
        },
        "failureBehavior": {
          "documentation": "<p>The failure behavior the simulation job.</p> <dl> <dt>Continue</dt> <dd> <p>Restart the simulation job in the same host instance.</p> </dd> <dt>Fail</dt> <dd> <p>Stop the simulation job and terminate the instance.</p> </dd> </dl>",
          "shape": "FailureBehavior"
        },
        "iamRole": {
          "documentation": "<p>The IAM role name that allows the simulation instance to call the AWS APIs that are specified in its associated policies on your behalf. This is how credentials are passed in to your simulation job. </p>",
          "shape": "IamRole"
        },
        "loggingConfig": {
          "documentation": "<p>The logging configuration.</p>",
          "shape": "LoggingConfig"
        },
        "maxJobDurationInSeconds": {
          "documentation": "<p>The maximum simulation job duration in seconds (up to 14 days or 1,209,600 seconds. When <code>maxJobDurationInSeconds</code> is reached, the simulation job will status will transition to <code>Completed</code>.</p>",
          "shape": "JobDuration"
        },
        "outputLocation": {
          "documentation": "<p>Location for output files generated by the simulation job.</p>",
          "shape": "OutputLocation"
        },
        "robotApplications": {
          "documentation": "<p>The robot application to use in the simulation job.</p>",
          "shape": "RobotApplicationConfigs"
        },
        "simulationApplications": {
          "documentation": "<p>The simulation application to use in the simulation job.</p>",
          "shape": "SimulationApplicationConfigs"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation job.</p>",
          "shape": "TagMap"
        },
        "vpcConfig": {
          "documentation": "<p>If your simulation job accesses resources in a VPC, you provide this parameter identifying the list of security group IDs and subnet IDs. These must belong to the same VPC. You must provide at least one security group and one subnet ID. </p>",
          "shape": "VPCConfig"
        }
      },
      "required": [
        "maxJobDurationInSeconds",
        "iamRole"
      ],
      "type": "structure"
    },
    "CreateSimulationJobRequests": {
      "member": {
        "shape": "SimulationJobRequest"
      },
      "min": 1,
      "type": "list"
    },
    "CreateSimulationJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation job.</p>",
          "shape": "Arn"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "compute": {
          "documentation": "<p>Compute information for the simulation job.</p>",
          "shape": "ComputeResponse"
        },
        "dataSources": {
          "documentation": "<p>The data sources for the simulation job.</p>",
          "shape": "DataSources"
        },
        "failureBehavior": {
          "documentation": "<p>the failure behavior for the simulation job.</p>",
          "shape": "FailureBehavior"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the simulation job if it failed:</p> <dl> <dt>InternalServiceError</dt> <dd> <p>Internal service error.</p> </dd> <dt>RobotApplicationCrash</dt> <dd> <p>Robot application exited abnormally.</p> </dd> <dt>SimulationApplicationCrash</dt> <dd> <p> Simulation application exited abnormally.</p> </dd> <dt>BadPermissionsRobotApplication</dt> <dd> <p>Robot application bundle could not be downloaded.</p> </dd> <dt>BadPermissionsSimulationApplication</dt> <dd> <p>Simulation application bundle could not be downloaded.</p> </dd> <dt>BadPermissionsS3Output</dt> <dd> <p>Unable to publish outputs to customer-provided S3 bucket.</p> </dd> <dt>BadPermissionsCloudwatchLogs</dt> <dd> <p>Unable to publish logs to customer-provided CloudWatch Logs resource.</p> </dd> <dt>SubnetIpLimitExceeded</dt> <dd> <p>Subnet IP limit exceeded.</p> </dd> <dt>ENILimitExceeded</dt> <dd> <p>ENI limit exceeded.</p> </dd> <dt>BadPermissionsUserCredentials</dt> <dd> <p>Unable to use the Role provided.</p> </dd> <dt>InvalidBundleRobotApplication</dt> <dd> <p>Robot bundle cannot be extracted (invalid format, bundling error, or other issue).</p> </dd> <dt>InvalidBundleSimulationApplication</dt> <dd> <p>Simulation bundle cannot be extracted (invalid format, bundling error, or other issue).</p> </dd> <dt>RobotApplicationVersionMismatchedEtag</dt> <dd> <p>Etag for RobotApplication does not match value during version creation.</p> </dd> <dt>SimulationApplicationVersionMismatchedEtag</dt> <dd> <p>Etag for SimulationApplication does not match value during version creation.</p> </dd> </dl>",
          "shape": "SimulationJobErrorCode"
        },
        "iamRole": {
          "documentation": "<p>The IAM role that allows the simulation job to call the AWS APIs that are specified in its associated policies on your behalf.</p>",
          "shape": "IamRole"
        },
        "lastStartedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last started.</p>",
          "shape": "LastStartedAt"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "loggingConfig": {
          "documentation": "<p>The logging configuration.</p>",
          "shape": "LoggingConfig"
        },
        "maxJobDurationInSeconds": {
          "documentation": "<p>The maximum simulation job duration in seconds. </p>",
          "shape": "JobDuration"
        },
        "outputLocation": {
          "documentation": "<p>Simulation job output files location.</p>",
          "shape": "OutputLocation"
        },
        "robotApplications": {
          "documentation": "<p>The robot application used by the simulation job.</p>",
          "shape": "RobotApplicationConfigs"
        },
        "simulationApplications": {
          "documentation": "<p>The simulation application used by the simulation job.</p>",
          "shape": "SimulationApplicationConfigs"
        },
        "simulationTimeMillis": {
          "documentation": "<p>The simulation job execution duration in milliseconds.</p>",
          "shape": "SimulationTimeMillis"
        },
        "status": {
          "documentation": "<p>The status of the simulation job.</p>",
          "shape": "SimulationJobStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the simulation job.</p>",
          "shape": "TagMap"
        },
        "vpcConfig": {
          "documentation": "<p>Information about the vpc configuration.</p>",
          "shape": "VPCConfigResponse"
        }
      },
      "type": "structure"
    },
    "CreatedAt": {
      "type": "timestamp"
    },
    "DataSource": {
      "documentation": "<p>Information about a data source.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "shape": "Name"
        },
        "s3Bucket": {
          "documentation": "<p>The S3 bucket where the data files are located.</p>",
          "shape": "S3Bucket"
        },
        "s3Keys": {
          "documentation": "<p>The list of S3 keys identifying the data source files.</p>",
          "shape": "S3KeyOutputs"
        }
      },
      "type": "structure"
    },
    "DataSourceConfig": {
      "documentation": "<p>Information about a data source.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "shape": "Name"
        },
        "s3Bucket": {
          "documentation": "<p>The S3 bucket where the data files are located.</p>",
          "shape": "S3Bucket"
        },
        "s3Keys": {
          "documentation": "<p>The list of S3 keys identifying the data source files.</p>",
          "shape": "S3Keys"
        }
      },
      "required": [
        "name",
        "s3Bucket",
        "s3Keys"
      ],
      "type": "structure"
    },
    "DataSourceConfigs": {
      "max": 5,
      "member": {
        "shape": "DataSourceConfig"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceNames": {
      "member": {
        "shape": "Name"
      },
      "type": "list"
    },
    "DataSources": {
      "member": {
        "shape": "DataSource"
      },
      "type": "list"
    },
    "DeleteFleetRequest": {
      "members": {
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "fleet"
      ],
      "type": "structure"
    },
    "DeleteFleetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRobotApplicationRequest": {
      "members": {
        "application": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the the robot application.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the robot application to delete.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "DeleteRobotApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRobotRequest": {
      "members": {
        "robot": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "robot"
      ],
      "type": "structure"
    },
    "DeleteRobotResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSimulationApplicationRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the simulation application to delete.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the simulation application to delete.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "DeleteSimulationApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeploymentApplicationConfig": {
      "documentation": "<p>Information about a deployment application configuration.</p>",
      "members": {
        "application": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "DeploymentVersion"
        },
        "launchConfig": {
          "documentation": "<p>The launch configuration.</p>",
          "shape": "DeploymentLaunchConfig"
        }
      },
      "required": [
        "application",
        "applicationVersion",
        "launchConfig"
      ],
      "type": "structure"
    },
    "DeploymentApplicationConfigs": {
      "max": 1,
      "member": {
        "shape": "DeploymentApplicationConfig"
      },
      "min": 1,
      "type": "list"
    },
    "DeploymentConfig": {
      "documentation": "<p>Information about a deployment configuration.</p>",
      "members": {
        "concurrentDeploymentPercentage": {
          "documentation": "<p>The percentage of robots receiving the deployment at the same time.</p>",
          "shape": "Percentage"
        },
        "downloadConditionFile": {
          "documentation": "<p>The download condition file.</p>",
          "shape": "S3Object"
        },
        "failureThresholdPercentage": {
          "documentation": "<p>The percentage of deployments that need to fail before stopping deployment.</p>",
          "shape": "Percentage"
        },
        "robotDeploymentTimeoutInSeconds": {
          "documentation": "<p>The amount of time, in seconds, to wait for deployment to a single robot to complete. Choose a time between 1 minute and 7 days. The default is 5 hours.</p>",
          "shape": "DeploymentTimeout"
        }
      },
      "type": "structure"
    },
    "DeploymentJob": {
      "documentation": "<p>Information about a deployment job.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the deployment job was created.</p>",
          "shape": "CreatedAt"
        },
        "deploymentApplicationConfigs": {
          "documentation": "<p>The deployment application configuration.</p>",
          "shape": "DeploymentApplicationConfigs"
        },
        "deploymentConfig": {
          "documentation": "<p>The deployment configuration.</p>",
          "shape": "DeploymentConfig"
        },
        "failureCode": {
          "documentation": "<p>The deployment job failure code.</p>",
          "shape": "DeploymentJobErrorCode"
        },
        "failureReason": {
          "documentation": "<p>A short description of the reason why the deployment job failed.</p>",
          "shape": "GenericString"
        },
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the deployment job.</p>",
          "shape": "DeploymentStatus"
        }
      },
      "type": "structure"
    },
    "DeploymentJobErrorCode": {
      "enum": [
        "ResourceNotFound",
        "EnvironmentSetupError",
        "EtagMismatch",
        "FailureThresholdBreached",
        "RobotDeploymentAborted",
        "RobotDeploymentNoResponse",
        "RobotAgentConnectionTimeout",
        "GreengrassDeploymentFailed",
        "InvalidGreengrassGroup",
        "MissingRobotArchitecture",
        "MissingRobotApplicationArchitecture",
        "MissingRobotDeploymentResource",
        "GreengrassGroupVersionDoesNotExist",
        "LambdaDeleted",
        "ExtractingBundleFailure",
        "PreLaunchFileFailure",
        "PostLaunchFileFailure",
        "BadPermissionError",
        "DownloadConditionFailed",
        "InternalServerError"
      ],
      "type": "string"
    },
    "DeploymentJobs": {
      "max": 200,
      "member": {
        "shape": "DeploymentJob"
      },
      "min": 0,
      "type": "list"
    },
    "DeploymentLaunchConfig": {
      "documentation": "<p>Configuration information for a deployment launch.</p>",
      "members": {
        "environmentVariables": {
          "documentation": "<p>An array of key/value pairs specifying environment variables for the robot application</p>",
          "shape": "EnvironmentVariableMap"
        },
        "launchFile": {
          "documentation": "<p>The launch file name.</p>",
          "shape": "Command"
        },
        "packageName": {
          "documentation": "<p>The package name.</p>",
          "shape": "Command"
        },
        "postLaunchFile": {
          "documentation": "<p>The deployment post-launch file. This file will be executed after the launch file.</p>",
          "shape": "Path"
        },
        "preLaunchFile": {
          "documentation": "<p>The deployment pre-launch file. This file will be executed prior to the launch file.</p>",
          "shape": "Path"
        }
      },
      "required": [
        "packageName",
        "launchFile"
      ],
      "type": "structure"
    },
    "DeploymentStatus": {
      "enum": [
        "Pending",
        "Preparing",
        "InProgress",
        "Failed",
        "Succeeded",
        "Canceled"
      ],
      "type": "string"
    },
    "DeploymentTimeout": {
      "type": "long"
    },
    "DeploymentVersion": {
      "max": 255,
      "min": 1,
      "pattern": "[0-9]*",
      "type": "string"
    },
    "DeregisterRobotRequest": {
      "members": {
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "robot": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "fleet",
        "robot"
      ],
      "type": "structure"
    },
    "DeregisterRobotResponse": {
      "members": {
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "robot": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DescribeDeploymentJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "DescribeDeploymentJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployment job.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the deployment job was created.</p>",
          "shape": "CreatedAt"
        },
        "deploymentApplicationConfigs": {
          "documentation": "<p>The deployment application configuration.</p>",
          "shape": "DeploymentApplicationConfigs"
        },
        "deploymentConfig": {
          "documentation": "<p>The deployment configuration.</p>",
          "shape": "DeploymentConfig"
        },
        "failureCode": {
          "documentation": "<p>The deployment job failure code.</p>",
          "shape": "DeploymentJobErrorCode"
        },
        "failureReason": {
          "documentation": "<p>A short description of the reason why the deployment job failed.</p>",
          "shape": "GenericString"
        },
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "robotDeploymentSummary": {
          "documentation": "<p>A list of robot deployment summaries.</p>",
          "shape": "RobotDeploymentSummary"
        },
        "status": {
          "documentation": "<p>The status of the deployment job.</p>",
          "shape": "DeploymentStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the specified deployment job.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "DescribeFleetRequest": {
      "members": {
        "fleet": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "fleet"
      ],
      "type": "structure"
    },
    "DescribeFleetResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>",
          "shape": "CreatedAt"
        },
        "lastDeploymentJob": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the last deployment job.</p>",
          "shape": "Arn"
        },
        "lastDeploymentStatus": {
          "documentation": "<p>The status of the last deployment.</p>",
          "shape": "DeploymentStatus"
        },
        "lastDeploymentTime": {
          "documentation": "<p>The time of the last deployment.</p>",
          "shape": "CreatedAt"
        },
        "name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        },
        "robots": {
          "documentation": "<p>A list of robots.</p>",
          "shape": "Robots"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the specified fleet.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "DescribeRobotApplicationRequest": {
      "members": {
        "application": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the robot application to describe.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "DescribeRobotApplicationResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot application.</p>",
          "shape": "Arn"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the robot application.</p>",
          "shape": "Name"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the robot application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>The robot software suite (ROS distribution) used by the robot application.</p>",
          "shape": "RobotSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the robot application.</p>",
          "shape": "Sources"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the specified robot application.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the robot application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "DescribeRobotRequest": {
      "members": {
        "robot": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot to be described.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "robot"
      ],
      "type": "structure"
    },
    "DescribeRobotResponse": {
      "members": {
        "architecture": {
          "documentation": "<p>The target architecture of the robot application.</p>",
          "shape": "Architecture"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the robot was created.</p>",
          "shape": "CreatedAt"
        },
        "fleetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "greengrassGroupId": {
          "documentation": "<p>The Greengrass group id.</p>",
          "shape": "Id"
        },
        "lastDeploymentJob": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the last deployment job.</p>",
          "shape": "Arn"
        },
        "lastDeploymentTime": {
          "documentation": "<p>The time of the last deployment job.</p>",
          "shape": "CreatedAt"
        },
        "name": {
          "documentation": "<p>The name of the robot.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the fleet.</p>",
          "shape": "RobotStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the specified robot.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "DescribeSimulationApplicationRequest": {
      "members": {
        "application": {
          "documentation": "<p>The application information for the simulation application.</p>",
          "shape": "Arn"
        },
        "applicationVersion": {
          "documentation": "<p>The version of the simulation application to describe.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "application"
      ],
      "type": "structure"
    },
    "DescribeSimulationApplicationResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the robot simulation application.</p>",
          "shape": "Arn"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation application was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "name": {
          "documentation": "<p>The name of the simulation application.</p>",
          "shape": "Name"
        },
        "renderingEngine": {
          "documentation": "<p>The rendering engine for the simulation application.</p>",
          "shape": "RenderingEngine"
        },
        "revisionId": {
          "documentation": "<p>The revision id of the simulation application.</p>",
          "shape": "RevisionId"
        },
        "robotSoftwareSuite": {
          "documentation": "<p>Information about the robot software suite (ROS distribution).</p>",
          "shape": "RobotSoftwareSuite"
        },
        "simulationSoftwareSuite": {
          "documentation": "<p>The simulation software suite used by the simulation application.</p>",
          "shape": "SimulationSoftwareSuite"
        },
        "sources": {
          "documentation": "<p>The sources of the simulation application.</p>",
          "shape": "Sources"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the specified simulation application.</p>",
          "shape": "TagMap"
        },
        "version": {
          "documentation": "<p>The version of the simulation application.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "DescribeSimulationJobBatchRequest": {
      "members": {
        "batch": {
          "documentation": "<p>The id of the batch to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "batch"
      ],
      "type": "structure"
    },
    "DescribeSimulationJobBatchResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch.</p>",
          "shape": "Arn"
        },
        "batchPolicy": {
          "documentation": "<p>The batch policy.</p>",
          "shape": "BatchPolicy"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job batch was created.</p>",
          "shape": "CreatedAt"
        },
        "createdRequests": {
          "documentation": "<p>A list of created simulation job summaries.</p>",
          "shape": "SimulationJobSummaries"
        },
        "failedRequests": {
          "documentation": "<p>A list of failed create simulation job requests. The request failed to be created into a simulation job. Failed requests do not have a simulation job ID. </p>",
          "shape": "FailedCreateSimulationJobRequests"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the simulation job batch.</p>",
          "shape": "SimulationJobBatchErrorCode"
        },
        "failureReason": {
          "documentation": "<p>The reason the simulation job batch failed.</p>",
          "shape": "GenericString"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job batch was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "pendingRequests": {
          "documentation": "<p>A list of pending simulation job requests. These requests have not yet been created into simulation jobs.</p>",
          "shape": "CreateSimulationJobRequests"
        },
        "status": {
          "documentation": "<p>The status of the batch.</p> <dl> <dt>Pending</dt> <dd> <p>The simulation job batch request is pending.</p> </dd> <dt>InProgress</dt> <dd> <p>The simulation job batch is in progress. </p> </dd> <dt>Failed</dt> <dd> <p>The simulation job batch failed. One or more simulation job requests could not be completed due to an internal failure (like <code>InternalServiceError</code>). See <code>failureCode</code> and <code>failureReason</code> for more information.</p> </dd> <dt>Completed</dt> <dd> <p>The simulation batch job completed. A batch is complete when (1) there are no pending simulation job requests in the batch and none of the failed simulation job requests are due to <code>InternalServiceError</code> and (2) when all created simulation jobs have reached a terminal state (for example, <code>Completed</code> or <code>Failed</code>). </p> </dd> <dt>Canceled</dt> <dd> <p>The simulation batch job was cancelled.</p> </dd> <dt>Canceling</dt> <dd> <p>The simulation batch job is being cancelled.</p> </dd> <dt>Completing</dt> <dd> <p>The simulation batch job is completing.</p> </dd> <dt>TimingOut</dt> <dd> <p>The simulation job batch is timing out.</p> <p>If a batch timing out, and there are pending requests that were failing due to an internal failure (like <code>InternalServiceError</code>), the batch status will be <code>Failed</code>. If there are no such failing request, the batch status will be <code>TimedOut</code>. </p> </dd> <dt>TimedOut</dt> <dd> <p>The simulation batch job timed out.</p> </dd> </dl>",
          "shape": "SimulationJobBatchStatus"
        },
        "tags": {
          "documentation": "<p>A map that contains tag keys and tag values that are attached to the simulation job batch.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "DescribeSimulationJobRequest": {
      "members": {
        "job": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation job to be described.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "DescribeSimulationJobResponse": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the simulation job.</p>",
          "shape": "Arn"
        },
        "clientRequestToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "shape": "ClientRequestToken"
        },
        "compute": {
          "documentation": "<p>Compute information for the simulation job.</p>",
          "shape": "ComputeResponse"
        },
        "dataSources": {
          "documentation": "<p>The data sources for the simulation job.</p>",
          "shape": "DataSources"
        },
        "failureBehavior": {
          "documentation": "<p>The failure behavior for the simulation job.</p>",
          "shape": "FailureBehavior"
        },
        "failureCode": {
          "documentation": "<p>The failure code of the simulation job if it failed:</p> <dl> <dt>InternalServiceError</dt> <dd> <p>Internal service error.</p> </dd> <dt>RobotApplicationCrash</dt> <dd> <p>Robot application exited abnormally.</p> </dd> <dt>SimulationApplicationCrash</dt> <dd> <p> Simulation application exited abnormally.</p> </dd> <dt>BadPermissionsRobotApplication</dt> <dd> <p>Robot application bundle could not be downloaded.</p> </dd> <dt>BadPermissionsSimulationApplication</dt> <dd> <p>Simulation application bundle could not be downloaded.</p> </dd> <dt>BadPermissionsS3Output</dt> <dd> <p>Unable to publish outputs to customer-provided S3 bucket.</p> </dd> <dt>BadPermissionsCloudwatchLogs</dt> <dd> <p>Unable to publish logs to customer-provided CloudWatch Logs resource.</p> </dd> <dt>SubnetIpLimitExceeded</dt> <dd> <p>Subnet IP limit exceeded.</p> </dd> <dt>ENILimitExceeded</dt> <dd> <p>ENI limit exceeded.</p> </dd> <dt>BadPermissionsUserCredentials</dt> <dd> <p>Unable to use the Role provided.</p> </dd> <dt>InvalidBundleRobotApplication</dt> <dd> <p>Robot bundle cannot be extracted (invalid format, bundling error, or other issue).</p> </dd> <dt>InvalidBundleSimulationApplication</dt> <dd> <p>Simulation bundle cannot be extracted (invalid format, bundling error, or other issue).</p> </dd> <dt>RobotApplicationVersionMismatchedEtag</dt> <dd> <p>Etag for RobotApplication does not match value during version creation.</p> </dd> <dt>SimulationApplicationVersionMismatchedEtag</dt> <dd> <p>Etag for SimulationApplication does not match value during version creation.</p> </dd> </dl>",
          "shape": "SimulationJobErrorCode"
        },
        "failureReason": {
          "documentation": "<p>Details about why the simulation job failed. For more information about troubleshooting, see <a href=\"https://docs.aws.amazon.com/robomaker/latest/dg/troubleshooting.html\">Troubleshooting</a>.</p>",
          "shape": "GenericString"
        },
        "iamRole": {
          "documentation": "<p>The IAM role that allows the simulation instance to call the AWS APIs that are specified in its associated policies on your behalf.</p>",
          "shape": "IamRole"
        },
        "lastStartedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last started.</p>",
          "shape": "LastStartedAt"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "loggingConfig": {
          "documentation": "<p>The logging configuration.</p>",
          "shape": "LoggingConfig"
        },
        "maxJobDurationInSeconds": {
          "documentation": "<p>The maximum job duration in seconds. The value must be 8 days (691,200 seconds) or less.</p>",
          "shape": "JobDuration"
        },
        "name": {
          "documentation": "<p>The name of the simulation job.</p>",
          "shape": "Name"
        },
        "networkInterface": {
          "documentation": "<p>The network interface information for the simulation job.</p>",
          "shape": "NetworkInterface"
        },
        "outputLocation": {
          "documentation": "<p>Location for output files generated by the simulation job.</p>",
          "shape": "OutputLocation"
        },
        "robotApplications": {
          "documentation": "<p>A list of robot applications.</p>",
          "shape": "RobotApplicationConfigs"
        },
        "simulationApplications": {
          "documentation": "<p>A list of simulation applications.</p>",
          "shape": "SimulationApplicationConfigs"
        },
        "simulationTimeMillis": {
          "documentation": "<p>The simulation job execution duration in milliseconds.</p>",
          "shape": "SimulationTimeMillis"
        },
        "status": {
          "documentation": "<p>The status of the simulation job.</p>",
          "shape": "SimulationJobStatus"
        },
        "tags": {
          "documentation": "<p>The list of all tags added to the specified simulation job.</p>",
          "shape": "TagMap"
        },
        "vpcConfig": {
          "documentation": "<p>The VPC configuration.</p>",
          "shape": "VPCConfigResponse"
        }
      },
      "type": "structure"
    },
    "EnvironmentVariableKey": {
      "max": 1024,
      "min": 1,
      "pattern": "[A-Z_][A-Z0-9_]*",
      "type": "string"
    },
    "EnvironmentVariableMap": {
      "key": {
        "shape": "EnvironmentVariableKey"
      },
      "max": 16,
      "min": 0,
      "type": "map",
      "value": {
        "shape": "EnvironmentVariableValue"
      }
    },
    "EnvironmentVariableValue": {
      "max": 1024,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "FailedAt": {
      "type": "timestamp"
    },
    "FailedCreateSimulationJobRequest": {
      "documentation": "<p>Information about a failed create simulation job request.</p>",
      "members": {
        "failedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the simulation job batch failed.</p>",
          "shape": "FailedAt"
        },
        "failureCode": {
          "documentation": "<p>The failure code.</p>",
          "shape": "SimulationJobErrorCode"
        },
        "failureReason": {
          "documentation": "<p>The failure reason of the simulation job request.</p>",
          "shape": "GenericString"
        },
        "request": {
          "documentation": "<p>The simulation job request.</p>",
          "shape": "SimulationJobRequest"
        }
      },
      "type": "structure"
    },
    "FailedCreateSimulationJobRequests": {
      "member": {
        "shape": "FailedCreateSimulationJobRequest"
      },
      "type": "list"
    },
    "FailureBehavior": {
      "enum": [
        "Fail",
        "Continue"
      ],
      "type": "string"
    },
    "Filter": {
      "documentation": "<p>Information about a filter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the filter.</p>",
          "shape": "Name"
        },
        "values": {
          "documentation": "<p>A list of values.</p>",
          "shape": "FilterValues"
        }
      },
      "type": "structure"
    },
    "FilterValues": {
      "max": 1,
      "member": {
        "shape": "Name"
      },
      "min": 1,
      "type": "list"
    },
    "Filters": {
      "max": 1,
      "member": {
        "shape": "Filter"
      },
      "min": 1,
      "type": "list"
    },
    "Fleet": {
      "documentation": "<p>Information about a fleet.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the fleet.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the fleet was created.</p>",
          "shape": "CreatedAt"
        },
        "lastDeploymentJob": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the last deployment job.</p>",
          "shape": "Arn"
        },
        "lastDeploymentStatus": {
          "documentation": "<p>The status of the last fleet deployment.</p>",
          "shape": "DeploymentStatus"
        },
        "lastDeploymentTime": {
          "documentation": "<p>The time of the last deployment.</p>",
          "shape": "CreatedAt"
        },
        "name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "Fleets": {
      "max": 200,
      "member": {
        "shape": "Fleet"
      },
      "min": 0,
      "type": "list"
    },
    "GenericInteger": {
      "type": "integer"
    },
    "GenericString": {
      "max": 1024,
      "min": 0,
      "pattern": ".*",
      "type": "string"
    },
    "IamRole": {
      "max": 255,
      "min": 1,
      "pattern": "arn:aws:iam::\\w+:role/.*",
      "type": "string"
    },
    "Id": {
      "max": 1224,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "IdempotentParameterMismatchException": {
      "documentation": "<p>The request uses the same client token as a previous, but non-identical request. Do not reuse a client token with different requests, unless the requests are identical. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>AWS RoboMaker experienced a service issue. Try your call again.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>A parameter specified in a request is not valid, is unsupported, or cannot be used. The returned message provides an explanation of the error value.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "JobDuration": {
      "type": "long"
    },
    "LastStartedAt": {
      "type": "timestamp"
    },
    "LastUpdatedAt": {
      "type": "timestamp"
    },
    "LaunchConfig": {
      "documentation": "<p>Information about a launch configuration.</p>",
      "members": {
        "environmentVariables": {
          "documentation": "<p>The environment variables for the application launch.</p>",
          "shape": "EnvironmentVariableMap"
        },
        "launchFile": {
          "documentation": "<p>The launch file name.</p>",
          "shape": "Command"
        },
        "packageName": {
          "documentation": "<p>The package name.</p>",
          "shape": "Command"
        },
        "portForwardingConfig": {
          "documentation": "<p>The port forwarding configuration.</p>",
          "shape": "PortForwardingConfig"
        },
        "streamUI": {
          "documentation": "<p>Boolean indicating whether a streaming session will be configured for the application. If <code>True</code>, AWS RoboMaker will configure a connection so you can interact with your application as it is running in the simulation. You must configure and luanch the component. It must have a graphical user interface. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "packageName",
        "launchFile"
      ],
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>The requested resource exceeds the maximum number allowed, or the number of concurrent stream requests exceeds the maximum number allowed. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListDeploymentJobsRequest": {
      "members": {
        "filters": {
          "documentation": "<p>Optional filters to limit results.</p> <p>The filter names <code>status</code> and <code>fleetName</code> are supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters, but they must be for the same named item. For example, if you are looking for items with the status <code>InProgress</code> or the status <code>Pending</code>.</p>",
          "shape": "Filters"
        },
        "maxResults": {
          "documentation": "<p>When this parameter is used, <code>ListDeploymentJobs</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListDeploymentJobs</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 200. If this parameter is not used, then <code>ListDeploymentJobs</code> returns up to 200 results and a <code>nextToken</code> value if applicable. </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListDeploymentJobs</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListDeploymentJobsResponse": {
      "members": {
        "deploymentJobs": {
          "documentation": "<p>A list of deployment jobs that meet the criteria of the request.</p>",
          "shape": "DeploymentJobs"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListDeploymentJobs</code> request. When the results of a <code>ListDeploymentJobs</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return. </p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListFleetsRequest": {
      "members": {
        "filters": {
          "documentation": "<p>Optional filters to limit results.</p> <p>The filter name <code>name</code> is supported. When filtering, you must use the complete value of the filtered item. You can use up to three filters.</p>",
          "shape": "Filters"
        },
        "maxResults": {
          "documentation": "<p>When this parameter is used, <code>ListFleets</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListFleets</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 200. If this parameter is not used, then <code>ListFleets</code> returns up to 200 results and a <code>nextToken</code> value if applicable. </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListFleets</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. </p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListFleetsResponse": {
      "members": {
        "fleetDetails": {
          "documentation": "<p>A list of fleet details meeting the request criteria.</p>",
          "shape": "Fleets"
        },
        "nextToken": {
[...]
