{
  "documentation": "<fullname>Amazon Lex Build-Time Actions</fullname> <p> Amazon Lex is an AWS service for building conversational voice and text interfaces. Use these actions to create, update, and delete conversational bots for new and existing client applications. </p>",
  "metadata": {
    "apiVersion": "2017-04-19",
    "endpointPrefix": "models.lex",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Lex Model Building Service",
    "serviceId": "Lex Model Building Service",
    "signatureVersion": "v4",
    "signingName": "lex",
    "uid": "lex-models-2017-04-19"
  },
  "operations": {
    "CreateBotVersion": {
      "documentation": "<p>Creates a new version of the bot based on the <code>$LATEST</code> version. If the <code>$LATEST</code> version of this resource hasn't changed since you created the last version, Amazon Lex doesn't create a new version. It returns the last created version.</p> <note> <p>You can update only the <code>$LATEST</code> version of the bot. You can't update the numbered versions that you create with the <code>CreateBotVersion</code> operation.</p> </note> <p> When you create the first version of a bot, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p> This operation requires permission for the <code>lex:CreateBotVersion</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/bots/{name}/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateBotVersionRequest"
      },
      "name": "CreateBotVersion",
      "output": {
        "shape": "CreateBotVersionResponse"
      }
    },
    "CreateIntentVersion": {
      "documentation": "<p>Creates a new version of an intent based on the <code>$LATEST</code> version of the intent. If the <code>$LATEST</code> version of this intent hasn't changed since you last updated it, Amazon Lex doesn't create a new version. It returns the last version you created.</p> <note> <p>You can update only the <code>$LATEST</code> version of the intent. You can't update the numbered versions that you create with the <code>CreateIntentVersion</code> operation.</p> </note> <p> When you create a version of an intent, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p>This operation requires permissions to perform the <code>lex:CreateIntentVersion</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/intents/{name}/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateIntentVersionRequest"
      },
      "name": "CreateIntentVersion",
      "output": {
        "shape": "CreateIntentVersionResponse"
      }
    },
    "CreateSlotTypeVersion": {
      "documentation": "<p>Creates a new version of a slot type based on the <code>$LATEST</code> version of the specified slot type. If the <code>$LATEST</code> version of this resource has not changed since the last version that you created, Amazon Lex doesn't create a new version. It returns the last version that you created. </p> <note> <p>You can update only the <code>$LATEST</code> version of a slot type. You can't update the numbered versions that you create with the <code>CreateSlotTypeVersion</code> operation.</p> </note> <p>When you create a version of a slot type, Amazon Lex sets the version to 1. Subsequent versions increment by 1. For more information, see <a>versioning-intro</a>. </p> <p>This operation requires permissions for the <code>lex:CreateSlotTypeVersion</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/slottypes/{name}/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateSlotTypeVersionRequest"
      },
      "name": "CreateSlotTypeVersion",
      "output": {
        "shape": "CreateSlotTypeVersionResponse"
      }
    },
    "DeleteBot": {
      "documentation": "<p>Deletes all versions of the bot, including the <code>$LATEST</code> version. To delete a specific version of the bot, use the <a>DeleteBotVersion</a> operation. The <code>DeleteBot</code> operation doesn't immediately remove the bot schema. Instead, it is marked for deletion and removed later.</p> <p>Amazon Lex stores utterances indefinitely for improving the ability of your bot to respond to user inputs. These utterances are not removed when the bot is deleted. To remove the utterances, use the <a>DeleteUtterances</a> operation.</p> <p>If a bot has an alias, you can't delete it. Instead, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the alias that refers to the bot. To remove the reference to the bot, delete the alias. If you get the same exception again, delete the referring alias until the <code>DeleteBot</code> operation is successful.</p> <p>This operation requires permissions for the <code>lex:DeleteBot</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteBotRequest"
      },
      "name": "DeleteBot"
    },
    "DeleteBotAlias": {
      "documentation": "<p>Deletes an alias for the specified bot. </p> <p>You can't delete an alias that is used in the association between a bot and a messaging channel. If an alias is used in a channel association, the <code>DeleteBot</code> operation returns a <code>ResourceInUseException</code> exception that includes a reference to the channel association that refers to the bot. You can remove the reference to the alias by deleting the channel association. If you get the same exception again, delete the referring association until the <code>DeleteBotAlias</code> operation is successful.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botName}/aliases/{name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteBotAliasRequest"
      },
      "name": "DeleteBotAlias"
    },
    "DeleteBotChannelAssociation": {
      "documentation": "<p>Deletes the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permission for the <code>lex:DeleteBotChannelAssociation</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botName}/aliases/{aliasName}/channels/{name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteBotChannelAssociationRequest"
      },
      "name": "DeleteBotChannelAssociation"
    },
    "DeleteBotVersion": {
      "documentation": "<p>Deletes a specific version of a bot. To delete all versions of a bot, use the <a>DeleteBot</a> operation. </p> <p>This operation requires permissions for the <code>lex:DeleteBotVersion</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{name}/versions/{version}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteBotVersionRequest"
      },
      "name": "DeleteBotVersion"
    },
    "DeleteIntent": {
      "documentation": "<p>Deletes all versions of the intent, including the <code>$LATEST</code> version. To delete a specific version of the intent, use the <a>DeleteIntentVersion</a> operation.</p> <p> You can delete a version of an intent only if it is not referenced. To delete an intent that is referred to in one or more bots (see <a>how-it-works</a>), you must remove those references first. </p> <note> <p> If you get the <code>ResourceInUseException</code> exception, it provides an example reference that shows where the intent is referenced. To remove the reference to the intent, either update the bot or delete it. If you get the same exception when you attempt to delete the intent again, repeat until the intent has no references and the call to <code>DeleteIntent</code> is successful. </p> </note> <p> This operation requires permission for the <code>lex:DeleteIntent</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/intents/{name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntentRequest"
      },
      "name": "DeleteIntent"
    },
    "DeleteIntentVersion": {
      "documentation": "<p>Deletes a specific version of an intent. To delete all versions of a intent, use the <a>DeleteIntent</a> operation. </p> <p>This operation requires permissions for the <code>lex:DeleteIntentVersion</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/intents/{name}/versions/{version}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntentVersionRequest"
      },
      "name": "DeleteIntentVersion"
    },
    "DeleteSlotType": {
      "documentation": "<p>Deletes all versions of the slot type, including the <code>$LATEST</code> version. To delete a specific version of the slot type, use the <a>DeleteSlotTypeVersion</a> operation.</p> <p> You can delete a version of a slot type only if it is not referenced. To delete a slot type that is referred to in one or more intents, you must remove those references first. </p> <note> <p> If you get the <code>ResourceInUseException</code> exception, the exception provides an example reference that shows the intent where the slot type is referenced. To remove the reference to the slot type, either update the intent or delete it. If you get the same exception when you attempt to delete the slot type again, repeat until the slot type has no references and the <code>DeleteSlotType</code> call is successful. </p> </note> <p>This operation requires permission for the <code>lex:DeleteSlotType</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/slottypes/{name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSlotTypeRequest"
      },
      "name": "DeleteSlotType"
    },
    "DeleteSlotTypeVersion": {
      "documentation": "<p>Deletes a specific version of a slot type. To delete all versions of a slot type, use the <a>DeleteSlotType</a> operation. </p> <p>This operation requires permissions for the <code>lex:DeleteSlotTypeVersion</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/slottypes/{name}/version/{version}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteSlotTypeVersionRequest"
      },
      "name": "DeleteSlotTypeVersion"
    },
    "DeleteUtterances": {
      "documentation": "<p>Deletes stored utterances.</p> <p>Amazon Lex stores the utterances that users send to your bot. Utterances are stored for 15 days for use with the <a>GetUtterancesView</a> operation, and then stored indefinitely for use in improving the ability of your bot to respond to user input.</p> <p>Use the <code>DeleteUtterances</code> operation to manually delete stored utterances for a specific user. When you use the <code>DeleteUtterances</code> operation, utterances stored for improving your bot's ability to respond to user input are deleted immediately. Utterances stored for use with the <code>GetUtterancesView</code> operation are deleted after 15 days.</p> <p>This operation requires permissions for the <code>lex:DeleteUtterances</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/bots/{botName}/utterances/{userId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteUtterancesRequest"
      },
      "name": "DeleteUtterances"
    },
    "GetBot": {
      "documentation": "<p>Returns metadata information for a specific bot. You must provide the bot name and the bot version or alias. </p> <p> This operation requires permissions for the <code>lex:GetBot</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{name}/versions/{versionoralias}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotRequest"
      },
      "name": "GetBot",
      "output": {
        "shape": "GetBotResponse"
      }
    },
    "GetBotAlias": {
      "documentation": "<p>Returns information about an Amazon Lex bot alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:GetBotAlias</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotAliasRequest"
      },
      "name": "GetBotAlias",
      "output": {
        "shape": "GetBotAliasResponse"
      }
    },
    "GetBotAliases": {
      "documentation": "<p>Returns a list of aliases for a specified Amazon Lex bot.</p> <p>This operation requires permissions for the <code>lex:GetBotAliases</code> action.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotAliasesRequest"
      },
      "name": "GetBotAliases",
      "output": {
        "shape": "GetBotAliasesResponse"
      }
    },
    "GetBotChannelAssociation": {
      "documentation": "<p>Returns information about the association between an Amazon Lex bot and a messaging platform.</p> <p>This operation requires permissions for the <code>lex:GetBotChannelAssociation</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/{aliasName}/channels/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotChannelAssociationRequest"
      },
      "name": "GetBotChannelAssociation",
      "output": {
        "shape": "GetBotChannelAssociationResponse"
      }
    },
    "GetBotChannelAssociations": {
      "documentation": "<p> Returns a list of all of the channels associated with the specified bot. </p> <p>The <code>GetBotChannelAssociations</code> operation requires permissions for the <code>lex:GetBotChannelAssociations</code> action.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botName}/aliases/{aliasName}/channels/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotChannelAssociationsRequest"
      },
      "name": "GetBotChannelAssociations",
      "output": {
        "shape": "GetBotChannelAssociationsResponse"
      }
    },
    "GetBotVersions": {
      "documentation": "<p>Gets information about all of the versions of a bot.</p> <p>The <code>GetBotVersions</code> operation returns a <code>BotMetadata</code> object for each version of a bot. For example, if a bot has three numbered versions, the <code>GetBotVersions</code> operation returns four <code>BotMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetBotVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetBotVersions</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{name}/versions/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotVersionsRequest"
      },
      "name": "GetBotVersions",
      "output": {
        "shape": "GetBotVersionsResponse"
      }
    },
    "GetBots": {
      "documentation": "<p>Returns bot information as follows: </p> <ul> <li> <p>If you provide the <code>nameContains</code> field, the response includes information for the <code>$LATEST</code> version of all bots whose name contains the specified string.</p> </li> <li> <p>If you don't specify the <code>nameContains</code> field, the operation returns information about the <code>$LATEST</code> version of all of your bots.</p> </li> </ul> <p>This operation requires permission for the <code>lex:GetBots</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotsRequest"
      },
      "name": "GetBots",
      "output": {
        "shape": "GetBotsResponse"
      }
    },
    "GetBuiltinIntent": {
      "documentation": "<p>Returns information about a built-in intent.</p> <p>This operation requires permission for the <code>lex:GetBuiltinIntent</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/builtins/intents/{signature}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBuiltinIntentRequest"
      },
      "name": "GetBuiltinIntent",
      "output": {
        "shape": "GetBuiltinIntentResponse"
      }
    },
    "GetBuiltinIntents": {
      "documentation": "<p>Gets a list of built-in intents that meet the specified criteria.</p> <p>This operation requires permission for the <code>lex:GetBuiltinIntents</code> action.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/builtins/intents/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBuiltinIntentsRequest"
      },
      "name": "GetBuiltinIntents",
      "output": {
        "shape": "GetBuiltinIntentsResponse"
      }
    },
    "GetBuiltinSlotTypes": {
      "documentation": "<p>Gets a list of built-in slot types that meet the specified criteria.</p> <p>For a list of built-in slot types, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills Kit</i>.</p> <p>This operation requires permission for the <code>lex:GetBuiltInSlotTypes</code> action.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/builtins/slottypes/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBuiltinSlotTypesRequest"
      },
      "name": "GetBuiltinSlotTypes",
      "output": {
        "shape": "GetBuiltinSlotTypesResponse"
      }
    },
    "GetExport": {
      "documentation": "<p>Exports the contents of a Amazon Lex resource in a specified format. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/exports/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExportRequest"
      },
      "name": "GetExport",
      "output": {
        "shape": "GetExportResponse"
      }
    },
    "GetImport": {
      "documentation": "<p>Gets information about an import job started with the <code>StartImport</code> operation.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/imports/{importId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetImportRequest"
      },
      "name": "GetImport",
      "output": {
        "shape": "GetImportResponse"
      }
    },
    "GetIntent": {
      "documentation": "<p> Returns information about an intent. In addition to the intent name, you must specify the intent version. </p> <p> This operation requires permissions to perform the <code>lex:GetIntent</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/intents/{name}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntentRequest"
      },
      "name": "GetIntent",
      "output": {
        "shape": "GetIntentResponse"
      }
    },
    "GetIntentVersions": {
      "documentation": "<p>Gets information about all of the versions of an intent.</p> <p>The <code>GetIntentVersions</code> operation returns an <code>IntentMetadata</code> object for each version of an intent. For example, if an intent has three numbered versions, the <code>GetIntentVersions</code> operation returns four <code>IntentMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetIntentVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetIntentVersions</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/intents/{name}/versions/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntentVersionsRequest"
      },
      "name": "GetIntentVersions",
      "output": {
        "shape": "GetIntentVersionsResponse"
      }
    },
    "GetIntents": {
      "documentation": "<p>Returns intent information as follows: </p> <ul> <li> <p>If you specify the <code>nameContains</code> field, returns the <code>$LATEST</code> version of all intents that contain the specified string.</p> </li> <li> <p> If you don't specify the <code>nameContains</code> field, returns information about the <code>$LATEST</code> version of all intents. </p> </li> </ul> <p> The operation requires permission for the <code>lex:GetIntents</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/intents/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntentsRequest"
      },
      "name": "GetIntents",
      "output": {
        "shape": "GetIntentsResponse"
      }
    },
    "GetSlotType": {
      "documentation": "<p>Returns information about a specific version of a slot type. In addition to specifying the slot type name, you must specify the slot type version.</p> <p>This operation requires permissions for the <code>lex:GetSlotType</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/slottypes/{name}/versions/{version}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSlotTypeRequest"
      },
      "name": "GetSlotType",
      "output": {
        "shape": "GetSlotTypeResponse"
      }
    },
    "GetSlotTypeVersions": {
      "documentation": "<p>Gets information about all versions of a slot type.</p> <p>The <code>GetSlotTypeVersions</code> operation returns a <code>SlotTypeMetadata</code> object for each version of a slot type. For example, if a slot type has three numbered versions, the <code>GetSlotTypeVersions</code> operation returns four <code>SlotTypeMetadata</code> objects in the response, one for each numbered version and one for the <code>$LATEST</code> version. </p> <p>The <code>GetSlotTypeVersions</code> operation always returns at least one version, the <code>$LATEST</code> version.</p> <p>This operation requires permissions for the <code>lex:GetSlotTypeVersions</code> action.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/slottypes/{name}/versions/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSlotTypeVersionsRequest"
      },
      "name": "GetSlotTypeVersions",
      "output": {
        "shape": "GetSlotTypeVersionsResponse"
      }
    },
    "GetSlotTypes": {
      "documentation": "<p>Returns slot type information as follows: </p> <ul> <li> <p>If you specify the <code>nameContains</code> field, returns the <code>$LATEST</code> version of all slot types that contain the specified string.</p> </li> <li> <p> If you don't specify the <code>nameContains</code> field, returns information about the <code>$LATEST</code> version of all slot types. </p> </li> </ul> <p> The operation requires permission for the <code>lex:GetSlotTypes</code> action. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/slottypes/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSlotTypesRequest"
      },
      "name": "GetSlotTypes",
      "output": {
        "shape": "GetSlotTypesResponse"
      }
    },
    "GetUtterancesView": {
      "documentation": "<p>Use the <code>GetUtterancesView</code> operation to get information about the utterances that your users have made to your bot. You can use this list to tune the utterances that your bot responds to.</p> <p>For example, say that you have created a bot to order flowers. After your users have used your bot for a while, use the <code>GetUtterancesView</code> operation to see the requests that they have made and whether they have been successful. You might find that the utterance \"I want flowers\" is not being recognized. You could add this utterance to the <code>OrderFlowers</code> intent so that your bot recognizes that utterance.</p> <p>After you publish a new version of a bot, you can get information about the old version and the new so that you can compare the performance across the two versions. </p> <p>Utterance statistics are generated once a day. Data is available for the last 15 days. You can request information for up to 5 versions of your bot in each request. Amazon Lex returns the most frequent utterances received by the bot in the last 15 days. The response contains information about a maximum of 100 utterances for each version.</p> <p>If you set <code>childDirected</code> field to true when you created your bot, or if you opted out of participating in improving Amazon Lex, utterances are not available.</p> <p>This operation requires permissions for the <code>lex:GetUtterancesView</code> action.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/bots/{botname}/utterances?view=aggregation",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUtterancesViewRequest"
      },
      "name": "GetUtterancesView",
      "output": {
        "shape": "GetUtterancesViewResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Gets a list of tags associated with the specified resource. Only bots, bot aliases, and bot channels can have tags associated with them.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutBot": {
      "documentation": "<p>Creates an Amazon Lex conversational bot or replaces an existing bot. When you create or update a bot you are only required to specify a name, a locale, and whether the bot is directed toward children under age 13. You can use this to add intents later, or to remove intents from an existing bot. When you create a bot with the minimum information, the bot is created or updated but Amazon Lex returns the <code/> response <code>FAILED</code>. You can build the bot after you add one or more intents. For more information about Amazon Lex bots, see <a>how-it-works</a>. </p> <p>If you specify the name of an existing bot, the fields in the request replace the existing values in the <code>$LATEST</code> version of the bot. Amazon Lex removes any fields that you don't provide values for in the request, except for the <code>idleTTLInSeconds</code> and <code>privacySettings</code> fields, which are set to their default values. If you don't specify values for required fields, Amazon Lex throws an exception.</p> <p>This operation requires permissions for the <code>lex:PutBot</code> action. For more information, see <a>security-iam</a>.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{name}/versions/$LATEST",
        "responseCode": 200
      },
      "input": {
        "shape": "PutBotRequest"
      },
      "name": "PutBot",
      "output": {
        "shape": "PutBotResponse"
      }
    },
    "PutBotAlias": {
      "documentation": "<p>Creates an alias for the specified version of the bot or replaces an alias for the specified bot. To change the version of the bot that the alias points to, replace the alias. For more information about aliases, see <a>versioning-aliases</a>.</p> <p>This operation requires permissions for the <code>lex:PutBotAlias</code> action. </p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/bots/{botName}/aliases/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "PutBotAliasRequest"
      },
      "name": "PutBotAlias",
      "output": {
        "shape": "PutBotAliasResponse"
      }
    },
    "PutIntent": {
      "documentation": "<p>Creates an intent or replaces an existing intent.</p> <p>To define the interaction between the user and your bot, you use one or more intents. For a pizza ordering bot, for example, you would create an <code>OrderPizza</code> intent. </p> <p>To create an intent or replace an existing intent, you must provide the following:</p> <ul> <li> <p>Intent name. For example, <code>OrderPizza</code>.</p> </li> <li> <p>Sample utterances. For example, \"Can I order a pizza, please.\" and \"I want to order a pizza.\"</p> </li> <li> <p>Information to be gathered. You specify slot types for the information that your bot will request from the user. You can specify standard slot types, such as a date or a time, or custom slot types such as the size and crust of a pizza.</p> </li> <li> <p>How the intent will be fulfilled. You can provide a Lambda function or configure the intent to return the intent information to the client application. If you use a Lambda function, when all of the intent information is available, Amazon Lex invokes your Lambda function. If you configure your intent to return the intent information to the client application. </p> </li> </ul> <p>You can specify other optional information in the request, such as:</p> <ul> <li> <p>A confirmation prompt to ask the user to confirm an intent. For example, \"Shall I order your pizza?\"</p> </li> <li> <p>A conclusion statement to send to the user after the intent has been fulfilled. For example, \"I placed your pizza order.\"</p> </li> <li> <p>A follow-up prompt that asks the user for additional activity. For example, asking \"Do you want to order a drink with your pizza?\"</p> </li> </ul> <p>If you specify an existing intent name to update the intent, Amazon Lex replaces the values in the <code>$LATEST</code> version of the intent with the values in the request. Amazon Lex removes fields that you don't provide in the request. If you don't specify the required fields, Amazon Lex throws an exception. When you update the <code>$LATEST</code> version of an intent, the <code>status</code> field of any bot that uses the <code>$LATEST</code> version of the intent is set to <code>NOT_BUILT</code>.</p> <p>For more information, see <a>how-it-works</a>.</p> <p>This operation requires permissions for the <code>lex:PutIntent</code> action.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/intents/{name}/versions/$LATEST",
        "responseCode": 200
      },
      "input": {
        "shape": "PutIntentRequest"
      },
      "name": "PutIntent",
      "output": {
        "shape": "PutIntentResponse"
      }
    },
    "PutSlotType": {
      "documentation": "<p>Creates a custom slot type or replaces an existing custom slot type.</p> <p>To create a custom slot type, specify a name for the slot type and a set of enumeration values, which are the values that a slot of this type can assume. For more information, see <a>how-it-works</a>.</p> <p>If you specify the name of an existing slot type, the fields in the request replace the existing values in the <code>$LATEST</code> version of the slot type. Amazon Lex removes the fields that you don't provide in the request. If you don't specify required fields, Amazon Lex throws an exception. When you update the <code>$LATEST</code> version of a slot type, if a bot uses the <code>$LATEST</code> version of an intent that contains the slot type, the bot's <code>status</code> field is set to <code>NOT_BUILT</code>.</p> <p>This operation requires permissions for the <code>lex:PutSlotType</code> action.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/slottypes/{name}/versions/$LATEST",
        "responseCode": 200
      },
      "input": {
        "shape": "PutSlotTypeRequest"
      },
      "name": "PutSlotType",
      "output": {
        "shape": "PutSlotTypeResponse"
      }
    },
    "StartImport": {
      "documentation": "<p>Starts a job to import a resource to Amazon Lex.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/imports/",
        "responseCode": 201
      },
      "input": {
        "shape": "StartImportRequest"
      },
      "name": "StartImport",
      "output": {
        "shape": "StartImportResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified resource. If a tag key already exists, the existing value is replaced with the new value.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a bot, bot alias or bot channel.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "AliasName": {
      "max": 100,
      "min": 1,
      "pattern": "^([A-Za-z]_?)+$",
      "type": "string"
    },
    "AliasNameOrListAll": {
      "max": 100,
      "min": 1,
      "pattern": "^(-|^([A-Za-z]_?)+$)$",
      "type": "string"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "BadRequestException": {
      "documentation": "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and try again.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BotAliasMetadata": {
      "documentation": "<p>Provides information about a bot alias.</p>",
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot to which the alias points.</p>",
          "shape": "BotName"
        },
        "botVersion": {
          "documentation": "<p>The version of the Amazon Lex bot to which the alias points.</p>",
          "shape": "Version"
        },
        "checksum": {
          "documentation": "<p>Checksum of the bot alias.</p>",
          "shape": "String"
        },
        "conversationLogs": {
          "documentation": "<p>Settings that determine how Amazon Lex uses conversation logs for the alias.</p>",
          "shape": "ConversationLogsResponse"
        },
        "createdDate": {
          "documentation": "<p>The date that the bot alias was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the bot alias.</p>",
          "shape": "Description"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date that the bot alias was updated. When you create a resource, the creation date and last updated date are the same.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the bot alias.</p>",
          "shape": "AliasName"
        }
      },
      "type": "structure"
    },
    "BotAliasMetadataList": {
      "member": {
        "shape": "BotAliasMetadata"
      },
      "type": "list"
    },
    "BotChannelAssociation": {
      "documentation": "<p>Represents an association between an Amazon Lex bot and an external messaging platform.</p>",
      "members": {
        "botAlias": {
          "documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is being made. </p>",
          "shape": "AliasName"
        },
        "botConfiguration": {
          "documentation": "<p>Provides information necessary to communicate with the messaging platform. </p>",
          "shape": "ChannelConfigurationMap"
        },
        "botName": {
          "documentation": "<p>The name of the Amazon Lex bot to which this association is being made. </p> <note> <p>Currently, Amazon Lex supports associations with Facebook and Slack, and Twilio.</p> </note>",
          "shape": "BotName"
        },
        "createdDate": {
          "documentation": "<p>The date that the association between the Amazon Lex bot and the channel was created. </p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A text description of the association you are creating. </p>",
          "shape": "Description"
        },
        "failureReason": {
          "documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed to create the association.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the association between the bot and the channel. </p>",
          "shape": "BotChannelName"
        },
        "status": {
          "documentation": "<p>The status of the bot channel. </p> <ul> <li> <p> <code>CREATED</code> - The channel has been created and is ready for use.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Channel creation is in progress.</p> </li> <li> <p> <code>FAILED</code> - There was an error creating the channel. For information about the reason for the failure, see the <code>failureReason</code> field.</p> </li> </ul>",
          "shape": "ChannelStatus"
        },
        "type": {
          "documentation": "<p>Specifies the type of association by indicating the type of channel being established between the Amazon Lex bot and the external messaging platform.</p>",
          "shape": "ChannelType"
        }
      },
      "type": "structure"
    },
    "BotChannelAssociationList": {
      "member": {
        "shape": "BotChannelAssociation"
      },
      "type": "list"
    },
    "BotChannelName": {
      "max": 100,
      "min": 1,
      "pattern": "^([A-Za-z]_?)+$",
      "type": "string"
    },
    "BotMetadata": {
      "documentation": "<p>Provides information about a bot. .</p>",
      "members": {
        "createdDate": {
          "documentation": "<p>The date that the bot was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the bot.</p>",
          "shape": "Description"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date that the bot was updated. When you create a bot, the creation date and last updated date are the same. </p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the bot. </p>",
          "shape": "BotName"
        },
        "status": {
          "documentation": "<p>The status of the bot.</p>",
          "shape": "Status"
        },
        "version": {
          "documentation": "<p>The version of the bot. For a new bot, the version is always <code>$LATEST</code>.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "BotMetadataList": {
      "member": {
        "shape": "BotMetadata"
      },
      "type": "list"
    },
    "BotName": {
      "max": 50,
      "min": 2,
      "pattern": "^([A-Za-z]_?)+$",
      "type": "string"
    },
    "BotVersions": {
      "max": 5,
      "member": {
        "shape": "Version"
      },
      "min": 1,
      "type": "list"
    },
    "BuiltinIntentMetadata": {
      "documentation": "<p>Provides metadata for a built-in intent.</p>",
      "members": {
        "signature": {
          "documentation": "<p>A unique identifier for the built-in intent. To find the signature for an intent, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/standard-intents\">Standard Built-in Intents</a> in the <i>Alexa Skills Kit</i>.</p>",
          "shape": "BuiltinIntentSignature"
        },
        "supportedLocales": {
          "documentation": "<p>A list of identifiers for the locales that the intent supports.</p>",
          "shape": "LocaleList"
        }
      },
      "type": "structure"
    },
    "BuiltinIntentMetadataList": {
      "member": {
        "shape": "BuiltinIntentMetadata"
      },
      "type": "list"
    },
    "BuiltinIntentSignature": {
      "type": "string"
    },
    "BuiltinIntentSlot": {
      "documentation": "<p>Provides information about a slot used in a built-in intent.</p>",
      "members": {
        "name": {
          "documentation": "<p>A list of the slots defined for the intent.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BuiltinIntentSlotList": {
      "member": {
        "shape": "BuiltinIntentSlot"
      },
      "type": "list"
    },
    "BuiltinSlotTypeMetadata": {
      "documentation": "<p>Provides information about a built in slot type.</p>",
      "members": {
        "signature": {
          "documentation": "<p>A unique identifier for the built-in slot type. To find the signature for a slot type, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/slot-type-reference\">Slot Type Reference</a> in the <i>Alexa Skills Kit</i>.</p>",
          "shape": "BuiltinSlotTypeSignature"
        },
        "supportedLocales": {
          "documentation": "<p>A list of target locales for the slot. </p>",
          "shape": "LocaleList"
        }
      },
      "type": "structure"
    },
    "BuiltinSlotTypeMetadataList": {
      "member": {
        "shape": "BuiltinSlotTypeMetadata"
      },
      "type": "list"
    },
    "BuiltinSlotTypeSignature": {
      "type": "string"
    },
    "ChannelConfigurationMap": {
      "key": {
        "shape": "String"
      },
      "max": 10,
      "min": 1,
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "ChannelStatus": {
      "enum": [
        "IN_PROGRESS",
        "CREATED",
        "FAILED"
      ],
      "type": "string"
    },
    "ChannelType": {
      "enum": [
        "Facebook",
        "Slack",
        "Twilio-Sms",
        "Kik"
      ],
      "type": "string"
    },
    "CodeHook": {
      "documentation": "<p>Specifies a Lambda function that verifies requests to a bot or fulfills the user's request to a bot..</p>",
      "members": {
        "messageVersion": {
          "documentation": "<p>The version of the request-response that you want Amazon Lex to use to invoke your Lambda function. For more information, see <a>using-lambda</a>.</p>",
          "shape": "MessageVersion"
        },
        "uri": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Lambda function.</p>",
          "shape": "LambdaARN"
        }
      },
      "required": [
        "uri",
        "messageVersion"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p> There was a conflict processing the request. Try your request again. </p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ContentString": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "ContentType": {
      "enum": [
        "PlainText",
        "SSML",
        "CustomPayload"
      ],
      "type": "string"
    },
    "ConversationLogsRequest": {
      "documentation": "<p>Provides the settings needed for conversation logs.</p>",
      "members": {
        "iamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an IAM role with permission to write to your CloudWatch Logs for text logs and your S3 bucket for audio logs. If audio encryption is enabled, this role also provides access permission for the AWS KMS key used for encrypting audio logs. For more information, see <a href=\"https://docs.aws.amazon.com/lex/latest/dg/conversation-logs-role-and-policy.html\">Creating an IAM Role and Policy for Conversation Logs</a>.</p>",
          "shape": "IamRoleArn"
        },
        "logSettings": {
          "documentation": "<p>The settings for your conversation logs. You can log the conversation text, conversation audio, or both.</p>",
          "shape": "LogSettingsRequestList"
        }
      },
      "required": [
        "logSettings",
        "iamRoleArn"
      ],
      "type": "structure"
    },
    "ConversationLogsResponse": {
      "documentation": "<p>Contains information about conversation log settings.</p>",
      "members": {
        "iamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used to write your logs to CloudWatch Logs or an S3 bucket.</p>",
          "shape": "IamRoleArn"
        },
        "logSettings": {
          "documentation": "<p>The settings for your conversation logs. You can log text, audio, or both.</p>",
          "shape": "LogSettingsResponseList"
        }
      },
      "type": "structure"
    },
    "Count": {
      "type": "integer"
    },
    "CreateBotVersionRequest": {
      "members": {
        "checksum": {
          "documentation": "<p>Identifies a specific revision of the <code>$LATEST</code> version of the bot. If you specify a checksum and the <code>$LATEST</code> version of the bot has a different checksum, a <code>PreconditionFailedException</code> exception is returned and Amazon Lex doesn't publish a new version. If you don't specify a checksum, Amazon Lex publishes the <code>$LATEST</code> version.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the bot that you want to create a new version of. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateBotVersionResponse": {
      "members": {
        "abortStatement": {
          "documentation": "<p>The message that Amazon Lex uses to abort a conversation. For more information, see <a>PutBot</a>.</p>",
          "shape": "Statement"
        },
        "checksum": {
          "documentation": "<p>Checksum identifying the version of the bot that was created.</p>",
          "shape": "String"
        },
        "childDirected": {
          "documentation": "<p>For each Amazon Lex bot created with the Amazon Lex Model Building Service, you must specify whether your use of Amazon Lex is related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to the Children's Online Privacy Protection Act (COPPA) by specifying <code>true</code> or <code>false</code> in the <code>childDirected</code> field. By specifying <code>true</code> in the <code>childDirected</code> field, you confirm that your use of Amazon Lex <b>is</b> related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to COPPA. By specifying <code>false</code> in the <code>childDirected</code> field, you confirm that your use of Amazon Lex <b>is not</b> related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to COPPA. You may not specify a default value for the <code>childDirected</code> field that does not accurately reflect whether your use of Amazon Lex is related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to COPPA.</p> <p>If your use of Amazon Lex relates to a website, program, or other application that is directed in whole or in part, to children under age 13, you must obtain any required verifiable parental consent under COPPA. For information regarding the use of Amazon Lex in connection with websites, programs, or other applications that are directed or targeted, in whole or in part, to children under age 13, see the <a href=\"https://aws.amazon.com/lex/faqs#data-security\">Amazon Lex FAQ.</a> </p>",
          "shape": "Boolean"
        },
        "clarificationPrompt": {
          "documentation": "<p>The message that Amazon Lex uses when it doesn't understand the user's request. For more information, see <a>PutBot</a>. </p>",
          "shape": "Prompt"
        },
        "createdDate": {
          "documentation": "<p>The date when the bot version was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the bot.</p>",
          "shape": "Description"
        },
        "detectSentiment": {
          "documentation": "<p>Indicates whether utterances entered by the user should be sent to Amazon Comprehend for sentiment analysis.</p>",
          "shape": "Boolean"
        },
        "failureReason": {
          "documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed to build the bot.</p>",
          "shape": "String"
        },
        "idleSessionTTLInSeconds": {
          "documentation": "<p>The maximum time in seconds that Amazon Lex retains the data gathered in a conversation. For more information, see <a>PutBot</a>.</p>",
          "shape": "SessionTTL"
        },
        "intents": {
          "documentation": "<p>An array of <code>Intent</code> objects. For more information, see <a>PutBot</a>.</p>",
          "shape": "IntentList"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date when the <code>$LATEST</code> version of this bot was updated. </p>",
          "shape": "Timestamp"
        },
        "locale": {
          "documentation": "<p> Specifies the target locale for the bot. </p>",
          "shape": "Locale"
        },
        "name": {
          "documentation": "<p>The name of the bot.</p>",
          "shape": "BotName"
        },
        "status": {
          "documentation": "<p> When you send a request to create or update a bot, Amazon Lex sets the <code>status</code> response element to <code>BUILDING</code>. After Amazon Lex builds the bot, it sets <code>status</code> to <code>READY</code>. If Amazon Lex can't build the bot, it sets <code>status</code> to <code>FAILED</code>. Amazon Lex returns the reason for the failure in the <code>failureReason</code> response element. </p>",
          "shape": "Status"
        },
        "version": {
          "documentation": "<p>The version of the bot. </p>",
          "shape": "Version"
        },
        "voiceId": {
          "documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interactions with the user.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateIntentVersionRequest": {
      "members": {
        "checksum": {
          "documentation": "<p>Checksum of the <code>$LATEST</code> version of the intent that should be used to create the new version. If you specify a checksum and the <code>$LATEST</code> version of the intent has a different checksum, Amazon Lex returns a <code>PreconditionFailedException</code> exception and doesn't publish a new version. If you don't specify a checksum, Amazon Lex publishes the <code>$LATEST</code> version.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the intent that you want to create a new version of. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "IntentName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateIntentVersionResponse": {
      "members": {
        "checksum": {
          "documentation": "<p>Checksum of the intent version created.</p>",
          "shape": "String"
        },
        "conclusionStatement": {
          "documentation": "<p>After the Lambda function specified in the <code>fulfillmentActivity</code> field fulfills the intent, Amazon Lex conveys this statement to the user. </p>",
          "shape": "Statement"
        },
        "confirmationPrompt": {
          "documentation": "<p>If defined, the prompt that Amazon Lex uses to confirm the user's intent before fulfilling it. </p>",
          "shape": "Prompt"
        },
        "createdDate": {
          "documentation": "<p>The date that the intent was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the intent.</p>",
          "shape": "Description"
        },
        "dialogCodeHook": {
          "documentation": "<p>If defined, Amazon Lex invokes this Lambda function for each user input.</p>",
          "shape": "CodeHook"
        },
        "followUpPrompt": {
          "documentation": "<p>If defined, Amazon Lex uses this prompt to solicit additional user activity after the intent is fulfilled. </p>",
          "shape": "FollowUpPrompt"
        },
        "fulfillmentActivity": {
          "documentation": "<p> Describes how the intent is fulfilled. </p>",
          "shape": "FulfillmentActivity"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date that the intent was updated. </p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the intent.</p>",
          "shape": "IntentName"
        },
        "parentIntentSignature": {
          "documentation": "<p>A unique identifier for a built-in intent.</p>",
          "shape": "BuiltinIntentSignature"
        },
        "rejectionStatement": {
          "documentation": "<p>If the user answers \"no\" to the question defined in <code>confirmationPrompt</code>, Amazon Lex responds with this statement to acknowledge that the intent was canceled. </p>",
          "shape": "Statement"
        },
        "sampleUtterances": {
          "documentation": "<p>An array of sample utterances configured for the intent. </p>",
          "shape": "IntentUtteranceList"
        },
        "slots": {
          "documentation": "<p>An array of slot types that defines the information required to fulfill the intent.</p>",
          "shape": "SlotList"
        },
        "version": {
          "documentation": "<p>The version number assigned to the new version of the intent.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CreateSlotTypeVersionRequest": {
      "members": {
        "checksum": {
          "documentation": "<p>Checksum for the <code>$LATEST</code> version of the slot type that you want to publish. If you specify a checksum and the <code>$LATEST</code> version of the slot type has a different checksum, Amazon Lex returns a <code>PreconditionFailedException</code> exception and doesn't publish the new version. If you don't specify a checksum, Amazon Lex publishes the <code>$LATEST</code> version.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the slot type that you want to create a new version for. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "SlotTypeName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateSlotTypeVersionResponse": {
      "members": {
        "checksum": {
          "documentation": "<p>Checksum of the <code>$LATEST</code> version of the slot type.</p>",
          "shape": "String"
        },
        "createdDate": {
          "documentation": "<p>The date that the slot type was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the slot type.</p>",
          "shape": "Description"
        },
        "enumerationValues": {
          "documentation": "<p>A list of <code>EnumerationValue</code> objects that defines the values that the slot type can take.</p>",
          "shape": "EnumerationValues"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date that the slot type was updated. When you create a resource, the creation date and last update date are the same.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the slot type.</p>",
          "shape": "SlotTypeName"
        },
        "parentSlotTypeSignature": {
          "documentation": "<p>The built-in slot type used a the parent of the slot type.</p>",
          "shape": "CustomOrBuiltinSlotTypeName"
        },
        "slotTypeConfigurations": {
          "documentation": "<p>Configuration information that extends the parent built-in slot type.</p>",
          "shape": "SlotTypeConfigurations"
        },
        "valueSelectionStrategy": {
          "documentation": "<p>The strategy that Amazon Lex uses to determine the value of the slot. For more information, see <a>PutSlotType</a>.</p>",
          "shape": "SlotValueSelectionStrategy"
        },
        "version": {
          "documentation": "<p>The version assigned to the new slot type version. </p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "CustomOrBuiltinSlotTypeName": {
      "max": 100,
      "min": 1,
      "pattern": "^((AMAZON\\.)_?|[A-Za-z]_?)+",
      "type": "string"
    },
    "DeleteBotAliasRequest": {
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot that the alias points to.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "name": {
          "documentation": "<p>The name of the alias to delete. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AliasName"
        }
      },
      "required": [
        "name",
        "botName"
      ],
      "type": "structure"
    },
    "DeleteBotChannelAssociationRequest": {
      "members": {
        "botAlias": {
          "documentation": "<p>An alias that points to the specific version of the Amazon Lex bot to which this association is being made.</p>",
          "location": "uri",
          "locationName": "aliasName",
          "shape": "AliasName"
        },
        "botName": {
          "documentation": "<p>The name of the Amazon Lex bot.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "name": {
          "documentation": "<p>The name of the association. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotChannelName"
        }
      },
      "required": [
        "name",
        "botName",
        "botAlias"
      ],
      "type": "structure"
    },
    "DeleteBotRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the bot. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteBotVersionRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the bot.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotName"
        },
        "version": {
          "documentation": "<p>The version of the bot to delete. You cannot delete the <code>$LATEST</code> version of the bot. To delete the <code>$LATEST</code> version, use the <a>DeleteBot</a> operation.</p>",
          "location": "uri",
          "locationName": "version",
          "shape": "NumericalVersion"
        }
      },
      "required": [
        "name",
        "version"
      ],
      "type": "structure"
    },
    "DeleteIntentRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the intent. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "IntentName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteIntentVersionRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the intent.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "IntentName"
        },
        "version": {
          "documentation": "<p>The version of the intent to delete. You cannot delete the <code>$LATEST</code> version of the intent. To delete the <code>$LATEST</code> version, use the <a>DeleteIntent</a> operation.</p>",
          "location": "uri",
          "locationName": "version",
          "shape": "NumericalVersion"
        }
      },
      "required": [
        "name",
        "version"
      ],
      "type": "structure"
    },
    "DeleteSlotTypeRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the slot type. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "SlotTypeName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteSlotTypeVersionRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the slot type.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "SlotTypeName"
        },
        "version": {
          "documentation": "<p>The version of the slot type to delete. You cannot delete the <code>$LATEST</code> version of the slot type. To delete the <code>$LATEST</code> version, use the <a>DeleteSlotType</a> operation.</p>",
          "location": "uri",
          "locationName": "version",
          "shape": "NumericalVersion"
        }
      },
      "required": [
        "name",
        "version"
      ],
      "type": "structure"
    },
    "DeleteUtterancesRequest": {
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot that stored the utterances.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "userId": {
          "documentation": "<p> The unique identifier for the user that made the utterances. This is the user ID that was sent in the <a href=\"http://docs.aws.amazon.com/lex/latest/dg/API_runtime_PostContent.html\">PostContent</a> or <a href=\"http://docs.aws.amazon.com/lex/latest/dg/API_runtime_PostText.html\">PostText</a> operation request that contained the utterance.</p>",
          "location": "uri",
          "locationName": "userId",
          "shape": "UserId"
        }
      },
      "required": [
        "botName",
        "userId"
      ],
      "type": "structure"
    },
    "Description": {
      "max": 200,
      "min": 0,
      "type": "string"
    },
    "Destination": {
      "enum": [
        "CLOUDWATCH_LOGS",
        "S3"
      ],
      "type": "string"
    },
    "EnumerationValue": {
      "documentation": "<p>Each slot type can have a set of values. Each enumeration value represents a value the slot type can take. </p> <p>For example, a pizza ordering bot could have a slot type that specifies the type of crust that the pizza should have. The slot type could include the values </p> <ul> <li> <p>thick</p> </li> <li> <p>thin</p> </li> <li> <p>stuffed</p> </li> </ul>",
      "members": {
        "synonyms": {
          "documentation": "<p>Additional values related to the slot type value.</p>",
          "shape": "SynonymList"
        },
        "value": {
          "documentation": "<p>The value of the slot type.</p>",
          "shape": "Value"
        }
      },
      "required": [
        "value"
      ],
      "type": "structure"
    },
    "EnumerationValues": {
      "max": 10000,
      "member": {
        "shape": "EnumerationValue"
      },
      "min": 0,
      "type": "list"
    },
    "ExportStatus": {
      "enum": [
        "IN_PROGRESS",
        "READY",
        "FAILED"
      ],
      "type": "string"
    },
    "ExportType": {
      "enum": [
        "ALEXA_SKILLS_KIT",
        "LEX"
      ],
      "type": "string"
    },
    "FollowUpPrompt": {
      "documentation": "<p>A prompt for additional activity after an intent is fulfilled. For example, after the <code>OrderPizza</code> intent is fulfilled, you might prompt the user to find out whether the user wants to order drinks.</p>",
      "members": {
        "prompt": {
          "documentation": "<p>Prompts for information from the user. </p>",
          "shape": "Prompt"
        },
        "rejectionStatement": {
          "documentation": "<p>If the user answers \"no\" to the question defined in the <code>prompt</code> field, Amazon Lex responds with this statement to acknowledge that the intent was canceled. </p>",
          "shape": "Statement"
        }
      },
      "required": [
        "prompt",
        "rejectionStatement"
      ],
      "type": "structure"
    },
    "FulfillmentActivity": {
      "documentation": "<p> Describes how the intent is fulfilled after the user provides all of the information required for the intent. You can provide a Lambda function to process the intent, or you can return the intent information to the client application. We recommend that you use a Lambda function so that the relevant logic lives in the Cloud and limit the client-side code primarily to presentation. If you need to update the logic, you only update the Lambda function; you don't need to upgrade your client application. </p> <p>Consider the following examples:</p> <ul> <li> <p>In a pizza ordering application, after the user provides all of the information for placing an order, you use a Lambda function to place an order with a pizzeria. </p> </li> <li> <p>In a gaming application, when a user says \"pick up a rock,\" this information must go back to the client application so that it can perform the operation and update the graphics. In this case, you want Amazon Lex to return the intent data to the client. </p> </li> </ul>",
      "members": {
        "codeHook": {
          "documentation": "<p> A description of the Lambda function that is run to fulfill the intent. </p>",
          "shape": "CodeHook"
        },
        "type": {
          "documentation": "<p> How the intent should be fulfilled, either by running a Lambda function or by returning the slot data to the client application. </p>",
          "shape": "FulfillmentActivityType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "FulfillmentActivityType": {
      "enum": [
        "ReturnIntent",
        "CodeHook"
      ],
      "type": "string"
    },
    "GetBotAliasRequest": {
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "name": {
          "documentation": "<p>The name of the bot alias. The name is case sensitive.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AliasName"
        }
      },
      "required": [
        "name",
        "botName"
      ],
      "type": "structure"
    },
    "GetBotAliasResponse": {
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot that the alias points to.</p>",
          "shape": "BotName"
        },
        "botVersion": {
          "documentation": "<p>The version of the bot that the alias points to.</p>",
          "shape": "Version"
        },
        "checksum": {
          "documentation": "<p>Checksum of the bot alias.</p>",
          "shape": "String"
        },
        "conversationLogs": {
          "documentation": "<p>The settings that determine how Amazon Lex uses conversation logs for the alias.</p>",
          "shape": "ConversationLogsResponse"
        },
        "createdDate": {
          "documentation": "<p>The date that the bot alias was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the bot alias.</p>",
          "shape": "Description"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date that the bot alias was updated. When you create a resource, the creation date and the last updated date are the same.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the bot alias.</p>",
          "shape": "AliasName"
        }
      },
      "type": "structure"
    },
    "GetBotAliasesRequest": {
      "members": {
        "botName": {
          "documentation": "<p>The name of the bot.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of aliases to return in the response. The default is 50. . </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nameContains": {
          "documentation": "<p>Substring to match in bot alias names. An alias will be returned if any part of its name matches the substring. For example, \"xyz\" matches both \"xyzabc\" and \"abcxyz.\"</p>",
          "location": "querystring",
          "locationName": "nameContains",
          "shape": "AliasName"
        },
        "nextToken": {
          "documentation": "<p>A pagination token for fetching the next page of aliases. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of aliases, specify the pagination token in the next request. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "botName"
      ],
      "type": "structure"
    },
    "GetBotAliasesResponse": {
      "members": {
        "BotAliases": {
          "documentation": "<p>An array of <code>BotAliasMetadata</code> objects, each describing a bot alias.</p>",
          "shape": "BotAliasMetadataList"
        },
        "nextToken": {
          "documentation": "<p>A pagination token for fetching next page of aliases. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of aliases, specify the pagination token in the next request. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetBotChannelAssociationRequest": {
      "members": {
        "botAlias": {
          "documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is being made.</p>",
          "location": "uri",
          "locationName": "aliasName",
          "shape": "AliasName"
        },
        "botName": {
          "documentation": "<p>The name of the Amazon Lex bot.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "name": {
          "documentation": "<p>The name of the association between the bot and the channel. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotChannelName"
        }
      },
      "required": [
        "name",
        "botName",
        "botAlias"
      ],
      "type": "structure"
    },
    "GetBotChannelAssociationResponse": {
      "members": {
        "botAlias": {
          "documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is being made.</p>",
          "shape": "AliasName"
        },
        "botConfiguration": {
          "documentation": "<p>Provides information that the messaging platform needs to communicate with the Amazon Lex bot.</p>",
          "shape": "ChannelConfigurationMap"
        },
        "botName": {
          "documentation": "<p>The name of the Amazon Lex bot.</p>",
          "shape": "BotName"
        },
        "createdDate": {
          "documentation": "<p>The date that the association between the bot and the channel was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the association between the bot and the channel.</p>",
          "shape": "Description"
        },
        "failureReason": {
          "documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex provides the reason that it failed to create the association.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the association between the bot and the channel.</p>",
          "shape": "BotChannelName"
        },
        "status": {
          "documentation": "<p>The status of the bot channel. </p> <ul> <li> <p> <code>CREATED</code> - The channel has been created and is ready for use.</p> </li> <li> <p> <code>IN_PROGRESS</code> - Channel creation is in progress.</p> </li> <li> <p> <code>FAILED</code> - There was an error creating the channel. For information about the reason for the failure, see the <code>failureReason</code> field.</p> </li> </ul>",
          "shape": "ChannelStatus"
        },
        "type": {
          "documentation": "<p>The type of the messaging platform.</p>",
          "shape": "ChannelType"
        }
      },
      "type": "structure"
    },
    "GetBotChannelAssociationsRequest": {
      "members": {
        "botAlias": {
          "documentation": "<p>An alias pointing to the specific version of the Amazon Lex bot to which this association is being made.</p>",
          "location": "uri",
          "locationName": "aliasName",
          "shape": "AliasNameOrListAll"
        },
        "botName": {
          "documentation": "<p>The name of the Amazon Lex bot in the association.</p>",
          "location": "uri",
          "locationName": "botName",
          "shape": "BotName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of associations to return in the response. The default is 50. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nameContains": {
          "documentation": "<p>Substring to match in channel association names. An association will be returned if any part of its name matches the substring. For example, \"xyz\" matches both \"xyzabc\" and \"abcxyz.\" To return all bot channel associations, use a hyphen (\"-\") as the <code>nameContains</code> parameter.</p>",
          "location": "querystring",
          "locationName": "nameContains",
          "shape": "BotChannelName"
        },
        "nextToken": {
          "documentation": "<p>A pagination token for fetching the next page of associations. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of associations, specify the pagination token in the next request. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "botName",
        "botAlias"
      ],
      "type": "structure"
    },
    "GetBotChannelAssociationsResponse": {
      "members": {
        "botChannelAssociations": {
          "documentation": "<p>An array of objects, one for each association, that provides information about the Amazon Lex bot and its association with the channel. </p>",
          "shape": "BotChannelAssociationList"
        },
        "nextToken": {
          "documentation": "<p>A pagination token that fetches the next page of associations. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of associations, specify the pagination token in the next request. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetBotRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name of the bot. The name is case sensitive. </p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotName"
        },
        "versionOrAlias": {
          "documentation": "<p>The version or alias of the bot.</p>",
          "location": "uri",
          "locationName": "versionoralias",
          "shape": "String"
        }
      },
      "required": [
        "name",
        "versionOrAlias"
      ],
      "type": "structure"
    },
    "GetBotResponse": {
      "members": {
        "abortStatement": {
          "documentation": "<p>The message that Amazon Lex returns when the user elects to end the conversation without completing it. For more information, see <a>PutBot</a>.</p>",
          "shape": "Statement"
        },
        "checksum": {
          "documentation": "<p>Checksum of the bot used to identify a specific revision of the bot's <code>$LATEST</code> version.</p>",
          "shape": "String"
        },
        "childDirected": {
          "documentation": "<p>For each Amazon Lex bot created with the Amazon Lex Model Building Service, you must specify whether your use of Amazon Lex is related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to the Children's Online Privacy Protection Act (COPPA) by specifying <code>true</code> or <code>false</code> in the <code>childDirected</code> field. By specifying <code>true</code> in the <code>childDirected</code> field, you confirm that your use of Amazon Lex <b>is</b> related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to COPPA. By specifying <code>false</code> in the <code>childDirected</code> field, you confirm that your use of Amazon Lex <b>is not</b> related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to COPPA. You may not specify a default value for the <code>childDirected</code> field that does not accurately reflect whether your use of Amazon Lex is related to a website, program, or other application that is directed or targeted, in whole or in part, to children under age 13 and subject to COPPA.</p> <p>If your use of Amazon Lex relates to a website, program, or other application that is directed in whole or in part, to children under age 13, you must obtain any required verifiable parental consent under COPPA. For information regarding the use of Amazon Lex in connection with websites, programs, or other applications that are directed or targeted, in whole or in part, to children under age 13, see the <a href=\"https://aws.amazon.com/lex/faqs#data-security\">Amazon Lex FAQ.</a> </p>",
          "shape": "Boolean"
        },
        "clarificationPrompt": {
          "documentation": "<p>The message Amazon Lex uses when it doesn't understand the user's request. For more information, see <a>PutBot</a>. </p>",
          "shape": "Prompt"
        },
        "createdDate": {
          "documentation": "<p>The date that the bot was created.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description of the bot.</p>",
          "shape": "Description"
        },
        "detectSentiment": {
          "documentation": "<p>Indicates whether user utterances should be sent to Amazon Comprehend for sentiment analysis.</p>",
          "shape": "Boolean"
        },
        "failureReason": {
          "documentation": "<p>If <code>status</code> is <code>FAILED</code>, Amazon Lex explains why it failed to build the bot.</p>",
          "shape": "String"
        },
        "idleSessionTTLInSeconds": {
          "documentation": "<p>The maximum time in seconds that Amazon Lex retains the data gathered in a conversation. For more information, see <a>PutBot</a>.</p>",
          "shape": "SessionTTL"
        },
        "intents": {
          "documentation": "<p>An array of <code>intent</code> objects. For more information, see <a>PutBot</a>.</p>",
          "shape": "IntentList"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The date that the bot was updated. When you create a resource, the creation date and last updated date are the same. </p>",
          "shape": "Timestamp"
        },
        "locale": {
          "documentation": "<p> The target locale for the bot. </p>",
          "shape": "Locale"
        },
        "name": {
          "documentation": "<p>The name of the bot.</p>",
          "shape": "BotName"
        },
        "status": {
          "documentation": "<p>The status of the bot. </p> <p>When the status is <code>BUILDING</code> Amazon Lex is building the bot for testing and use.</p> <p>If the status of the bot is <code>READY_BASIC_TESTING</code>, you can test the bot using the exact utterances specified in the bot's intents. When the bot is ready for full testing or to run, the status is <code>READY</code>.</p> <p>If there was a problem with building the bot, the status is <code>FAILED</code> and the <code>failureReason</code> field explains why the bot did not build.</p> <p>If the bot was saved but not built, the status is <code>NOT_BUILT</code>.</p>",
          "shape": "Status"
        },
        "version": {
          "documentation": "<p>The version of the bot. For a new bot, the version is always <code>$LATEST</code>.</p>",
          "shape": "Version"
        },
        "voiceId": {
          "documentation": "<p>The Amazon Polly voice ID that Amazon Lex uses for voice interaction with the user. For more information, see <a>PutBot</a>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetBotVersionsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of bot versions to return in the response. The default is 10.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "name": {
          "documentation": "<p>The name of the bot for which versions should be returned.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "BotName"
        },
        "nextToken": {
          "documentation": "<p>A pagination token for fetching the next page of bot versions. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of versions, specify the pagination token in the next request. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "GetBotVersionsResponse": {
      "members": {
        "bots": {
          "documentation": "<p>An array of <code>BotMetadata</code> objects, one for each numbered version of the bot plus one for the <code>$LATEST</code> version.</p>",
          "shape": "BotMetadataList"
        },
        "nextToken": {
          "documentation": "<p>A pagination token for fetching the next page of bot versions. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of versions, specify the pagination token in the next request. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetBotsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of bots to return in the response that the request will return. The default is 10.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nameContains": {
          "documentation": "<p>Substring to match in bot names. A bot will be returned if any part of its name matches the substring. For example, \"xyz\" matches both \"xyzabc\" and \"abcxyz.\"</p>",
          "location": "querystring",
          "locationName": "nameContains",
          "shape": "BotName"
        },
        "nextToken": {
          "documentation": "<p>A pagination token that fetches the next page of bots. If the response to this call is truncated, Amazon Lex returns a pagination token in the response. To fetch the next page of bots, specify the pagination token in the next request. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetBotsResponse": {
      "members": {
        "bots": {
          "documentation": "<p>An array of <code>botMetadata</code> objects, with one entry for each bot. </p>",
          "shape": "BotMetadataList"
        },
        "nextToken": {
          "documentation": "<p>If the response is truncated, it includes a pagination token that you can specify in your next request to fetch the next page of bots. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetBuiltinIntentRequest": {
      "members": {
        "signature": {
          "documentation": "<p>The unique identifier for a built-in intent. To find the signature for an intent, see <a href=\"https://developer.amazon.com/public/solutions/alexa/alexa-skills-kit/docs/built-in-intent-ref/standard-intents\">Standard Built-in Intents</a> in the <i>Alexa Skills Kit</i>.</p>",
          "location": "uri",
          "locationName": "signature",
          "shape": "BuiltinIntentSignature"
        }
      },
      "required": [
        "signature"
      ],
      "type": "structure"
    },
    "GetBuiltinIntentResponse": {
      "members": {
        "signature": {
          "documentation": "<p>The unique identifier for a built-in intent.</p>",
          "shape": "BuiltinIntentSignature"
        },
        "slots": {
          "documentation": "<p>An array of <code>BuiltinIntentSlot</code> objects, one entry for each slot type in the intent.</p>",
          "shape": "BuiltinIntentSlotList"
        },
        "supportedLocales": {
          "documentation": "<p>A list of locales that the intent supports.</p>",
          "shape": "LocaleList"
        }
      },
      "type": "structure"
    },
    "GetBuiltinIntentsRequest": {
      "members": {
        "locale": {
          "documentation": "<p>A list of locales that the intent supports.</p>",
          "location": "querystring",
          "locationName": "locale",
          "shape": "Locale"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of intents to return in the response. The default is 10.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
[...]
