{
  "documentation": "<p>Provides APIs for creating and managing Amazon Forecast resources.</p>",
  "metadata": {
    "apiVersion": "2018-06-26",
    "endpointPrefix": "forecast",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Forecast Service",
    "serviceId": "forecast",
    "signatureVersion": "v4",
    "signingName": "forecast",
    "targetPrefix": "AmazonForecast",
    "uid": "forecast-2018-06-26"
  },
  "operations": {
    "CreateDataset": {
      "documentation": "<p>Creates an Amazon Forecast dataset. The information about the dataset that you provide helps Forecast understand how to consume the data for model training. This includes the following:</p> <ul> <li> <p> <i> <code>DataFrequency</code> </i> - How frequently your historical time-series data is collected.</p> </li> <li> <p> <i> <code>Domain</code> </i> and <i> <code>DatasetType</code> </i> - Each dataset has an associated dataset domain and a type within the domain. Amazon Forecast provides a list of predefined domains and types within each domain. For each unique dataset domain and type within the domain, Amazon Forecast requires your data to include a minimum set of predefined fields.</p> </li> <li> <p> <i> <code>Schema</code> </i> - A schema specifies the fields in the dataset, including the field name and data type.</p> </li> </ul> <p>After creating a dataset, you import your training data into it and add the dataset to a dataset group. You use the dataset group to create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets, use the <a>ListDatasets</a> operation.</p> <p>For example Forecast datasets, see the <a href=\"https://github.com/aws-samples/amazon-forecast-samples/tree/master/data\">Amazon Forecast Sample GitHub repository</a>.</p> <note> <p>The <code>Status</code> of a dataset must be <code>ACTIVE</code> before you can import training data. Use the <a>DescribeDataset</a> operation to get the status.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetRequest"
      },
      "name": "CreateDataset",
      "output": {
        "shape": "CreateDatasetResponse"
      }
    },
    "CreateDatasetGroup": {
      "documentation": "<p>Creates a dataset group, which holds a collection of related datasets. You can add datasets to the dataset group when you create the dataset group, or later by using the <a>UpdateDatasetGroup</a> operation.</p> <p>After creating a dataset group and adding datasets, you use the dataset group when you create a predictor. For more information, see <a>howitworks-datasets-groups</a>.</p> <p>To get a list of all your datasets groups, use the <a>ListDatasetGroups</a> operation.</p> <note> <p>The <code>Status</code> of a dataset group must be <code>ACTIVE</code> before you can create use the dataset group to create a predictor. To get the status, use the <a>DescribeDatasetGroup</a> operation.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetGroupRequest"
      },
      "name": "CreateDatasetGroup",
      "output": {
        "shape": "CreateDatasetGroupResponse"
      }
    },
    "CreateDatasetImportJob": {
      "documentation": "<p>Imports your training data to an Amazon Forecast dataset. You provide the location of your training data in an Amazon Simple Storage Service (Amazon S3) bucket and the Amazon Resource Name (ARN) of the dataset that you want to import the data to.</p> <p>You must specify a <a>DataSource</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>The training data must be in CSV format. The delimiter must be a comma (,).</p> <p>You can specify the path to a specific CSV file, the S3 bucket, or to a folder in the S3 bucket. For the latter two cases, Amazon Forecast imports all files up to the limit of 10,000 files.</p> <p>To get a list of all your dataset import jobs, filtered by specified criteria, use the <a>ListDatasetImportJobs</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetImportJobRequest"
      },
      "name": "CreateDatasetImportJob",
      "output": {
        "shape": "CreateDatasetImportJobResponse"
      }
    },
    "CreateForecast": {
      "documentation": "<p>Creates a forecast for each item in the <code>TARGET_TIME_SERIES</code> dataset that was used to train the predictor. This is known as inference. To retrieve the forecast for a single item at low latency, use the operation. To export the complete forecast into your Amazon Simple Storage Service (Amazon S3) bucket, use the <a>CreateForecastExportJob</a> operation.</p> <p>The range of the forecast is determined by the <code>ForecastHorizon</code> value, which you specify in the <a>CreatePredictor</a> request, multiplied by the <code>DataFrequency</code> value, which you specify in the <a>CreateDataset</a> request. When you query a forecast, you can request a specific date range within the forecast.</p> <p>To get a list of all your forecasts, use the <a>ListForecasts</a> operation.</p> <note> <p>The forecasts generated by Amazon Forecast are in the same time zone as the dataset that was used to create the predictor.</p> </note> <p>For more information, see <a>howitworks-forecast</a>.</p> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast. Use the <a>DescribeForecast</a> operation to get the status.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateForecastRequest"
      },
      "name": "CreateForecast",
      "output": {
        "shape": "CreateForecastResponse"
      }
    },
    "CreateForecastExportJob": {
      "documentation": "<p>Exports a forecast created by the <a>CreateForecast</a> operation to your Amazon Simple Storage Service (Amazon S3) bucket. The forecast file name will match the following conventions:</p> <p>&lt;ForecastExportJobName&gt;_&lt;ExportTimestamp&gt;_&lt;PageNumber&gt;</p> <p>where the &lt;ExportTimestamp&gt; component is in Java SimpleDateFormat (yyyy-MM-ddTHH-mm-ssZ).</p> <p>You must specify a <a>DataDestination</a> object that includes an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the Amazon S3 bucket. For more information, see <a>aws-forecast-iam-roles</a>.</p> <p>For more information, see <a>howitworks-forecast</a>.</p> <p>To get a list of all your forecast export jobs, use the <a>ListForecastExportJobs</a> operation.</p> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your Amazon S3 bucket. To get the status, use the <a>DescribeForecastExportJob</a> operation.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateForecastExportJobRequest"
      },
      "name": "CreateForecastExportJob",
      "output": {
        "shape": "CreateForecastExportJobResponse"
      }
    },
    "CreatePredictor": {
      "documentation": "<p>Creates an Amazon Forecast predictor.</p> <p>In the request, you provide a dataset group and either specify an algorithm or let Amazon Forecast choose the algorithm for you using AutoML. If you specify an algorithm, you also can override algorithm-specific hyperparameters.</p> <p>Amazon Forecast uses the chosen algorithm to train a model using the latest version of the datasets in the specified dataset group. The result is called a predictor. You then generate a forecast using the <a>CreateForecast</a> operation.</p> <p>After training a model, the <code>CreatePredictor</code> operation also evaluates it. To see the evaluation metrics, use the <a>GetAccuracyMetrics</a> operation. Always review the evaluation metrics before deciding to use the predictor to generate a forecast.</p> <p>Optionally, you can specify a featurization configuration to fill and aggregate the data fields in the <code>TARGET_TIME_SERIES</code> dataset to improve model training. For more information, see <a>FeaturizationConfig</a>.</p> <p>For RELATED_TIME_SERIES datasets, <code>CreatePredictor</code> verifies that the <code>DataFrequency</code> specified when the dataset was created matches the <code>ForecastFrequency</code>. TARGET_TIME_SERIES datasets don't have this restriction. Amazon Forecast also verifies the delimiter and timestamp format. For more information, see <a>howitworks-datasets-groups</a>.</p> <p> <b>AutoML</b> </p> <p>If you want Amazon Forecast to evaluate each algorithm and choose the one that minimizes the <code>objective function</code>, set <code>PerformAutoML</code> to <code>true</code>. The <code>objective function</code> is defined as the mean of the weighted p10, p50, and p90 quantile losses. For more information, see <a>EvaluationResult</a>.</p> <p>When AutoML is enabled, the following properties are disallowed:</p> <ul> <li> <p> <code>AlgorithmArn</code> </p> </li> <li> <p> <code>HPOConfig</code> </p> </li> <li> <p> <code>PerformHPO</code> </p> </li> <li> <p> <code>TrainingParameters</code> </p> </li> </ul> <p>To get a list of all of your predictors, use the <a>ListPredictors</a> operation.</p> <note> <p>Before you can use the predictor to create a forecast, the <code>Status</code> of the predictor must be <code>ACTIVE</code>, signifying that training has completed. To get the status, use the <a>DescribePredictor</a> operation.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePredictorRequest"
      },
      "name": "CreatePredictor",
      "output": {
        "shape": "CreatePredictorResponse"
      }
    },
    "DeleteDataset": {
      "documentation": "<p>Deletes an Amazon Forecast dataset that was created using the <a>CreateDataset</a> operation. You can only delete datasets that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. To get the status use the <a>DescribeDataset</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset"
    },
    "DeleteDatasetGroup": {
      "documentation": "<p>Deletes a dataset group created using the <a>CreateDatasetGroup</a> operation. You can only delete dataset groups that have a status of <code>ACTIVE</code>, <code>CREATE_FAILED</code>, or <code>UPDATE_FAILED</code>. To get the status, use the <a>DescribeDatasetGroup</a> operation.</p> <p>This operation deletes only the dataset group, not the datasets in the group.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetGroupRequest"
      },
      "name": "DeleteDatasetGroup"
    },
    "DeleteDatasetImportJob": {
      "documentation": "<p>Deletes a dataset import job created using the <a>CreateDatasetImportJob</a> operation. You can delete only dataset import jobs that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. To get the status, use the <a>DescribeDatasetImportJob</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetImportJobRequest"
      },
      "name": "DeleteDatasetImportJob"
    },
    "DeleteForecast": {
      "documentation": "<p>Deletes a forecast created using the <a>CreateForecast</a> operation. You can delete only forecasts that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. To get the status, use the <a>DescribeForecast</a> operation.</p> <p>You can't delete a forecast while it is being exported. After a forecast is deleted, you can no longer query the forecast.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteForecastRequest"
      },
      "name": "DeleteForecast"
    },
    "DeleteForecastExportJob": {
      "documentation": "<p>Deletes a forecast export job created using the <a>CreateForecastExportJob</a> operation. You can delete only export jobs that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. To get the status, use the <a>DescribeForecastExportJob</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteForecastExportJobRequest"
      },
      "name": "DeleteForecastExportJob"
    },
    "DeletePredictor": {
      "documentation": "<p>Deletes a predictor created using the <a>CreatePredictor</a> operation. You can delete only predictor that have a status of <code>ACTIVE</code> or <code>CREATE_FAILED</code>. To get the status, use the <a>DescribePredictor</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeletePredictorRequest"
      },
      "name": "DeletePredictor"
    },
    "DescribeDataset": {
      "documentation": "<p>Describes an Amazon Forecast dataset created using the <a>CreateDataset</a> operation.</p> <p>In addition to listing the parameters specified in the <code>CreateDataset</code> request, this operation includes the following dataset properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeDatasetGroup": {
      "documentation": "<p>Describes a dataset group created using the <a>CreateDatasetGroup</a> operation.</p> <p>In addition to listing the parameters provided in the <code>CreateDatasetGroup</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>DatasetArns</code> - The datasets belonging to the group.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetGroupRequest"
      },
      "name": "DescribeDatasetGroup",
      "output": {
        "shape": "DescribeDatasetGroupResponse"
      }
    },
    "DescribeDatasetImportJob": {
      "documentation": "<p>Describes a dataset import job created using the <a>CreateDatasetImportJob</a> operation.</p> <p>In addition to listing the parameters provided in the <code>CreateDatasetImportJob</code> request, this operation includes the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>DataSize</code> </p> </li> <li> <p> <code>FieldStatistics</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetImportJobRequest"
      },
      "name": "DescribeDatasetImportJob",
      "output": {
        "shape": "DescribeDatasetImportJobResponse"
      }
    },
    "DescribeForecast": {
      "documentation": "<p>Describes a forecast created using the <a>CreateForecast</a> operation.</p> <p>In addition to listing the properties provided in the <code>CreateForecast</code> request, this operation lists the following properties:</p> <ul> <li> <p> <code>DatasetGroupArn</code> - The dataset group that provided the training data.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeForecastRequest"
      },
      "name": "DescribeForecast",
      "output": {
        "shape": "DescribeForecastResponse"
      }
    },
    "DescribeForecastExportJob": {
      "documentation": "<p>Describes a forecast export job created using the <a>CreateForecastExportJob</a> operation.</p> <p>In addition to listing the properties provided by the user in the <code>CreateForecastExportJob</code> request, this operation lists the following properties:</p> <ul> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeForecastExportJobRequest"
      },
      "name": "DescribeForecastExportJob",
      "output": {
        "shape": "DescribeForecastExportJobResponse"
      }
    },
    "DescribePredictor": {
      "documentation": "<p>Describes a predictor created using the <a>CreatePredictor</a> operation.</p> <p>In addition to listing the properties provided in the <code>CreatePredictor</code> request, this operation lists the following properties:</p> <ul> <li> <p> <code>DatasetImportJobArns</code> - The dataset import jobs used to import training data.</p> </li> <li> <p> <code>AutoMLAlgorithmArns</code> - If AutoML is performed, the algorithms that were evaluated.</p> </li> <li> <p> <code>CreationTime</code> </p> </li> <li> <p> <code>LastModificationTime</code> </p> </li> <li> <p> <code>Status</code> </p> </li> <li> <p> <code>Message</code> - If an error occurred, information about the error.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribePredictorRequest"
      },
      "name": "DescribePredictor",
      "output": {
        "shape": "DescribePredictorResponse"
      }
    },
    "GetAccuracyMetrics": {
      "documentation": "<p>Provides metrics on the accuracy of the models that were trained by the <a>CreatePredictor</a> operation. Use metrics to see how well the model performed and to decide whether to use the predictor to generate a forecast. For more information, see <a>metrics</a>.</p> <p>This operation generates metrics for each backtest window that was evaluated. The number of backtest windows (<code>NumberOfBacktestWindows</code>) is specified using the <a>EvaluationParameters</a> object, which is optionally included in the <code>CreatePredictor</code> request. If <code>NumberOfBacktestWindows</code> isn't specified, the number defaults to one.</p> <p>The parameters of the <code>filling</code> method determine which items contribute to the metrics. If you want all items to contribute, specify <code>zero</code>. If you want only those items that have complete data in the range being evaluated to contribute, specify <code>nan</code>. For more information, see <a>FeaturizationMethod</a>.</p> <note> <p>Before you can get accuracy metrics, the <code>Status</code> of the predictor must be <code>ACTIVE</code>, signifying that training has completed. To get the status, use the <a>DescribePredictor</a> operation.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetAccuracyMetricsRequest"
      },
      "name": "GetAccuracyMetrics",
      "output": {
        "shape": "GetAccuracyMetricsResponse"
      }
    },
    "ListDatasetGroups": {
      "documentation": "<p>Returns a list of dataset groups created using the <a>CreateDatasetGroup</a> operation. For each dataset group, this operation returns a summary of its properties, including its Amazon Resource Name (ARN). You can retrieve the complete set of properties by using the dataset group ARN with the <a>DescribeDatasetGroup</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetGroupsRequest"
      },
      "name": "ListDatasetGroups",
      "output": {
        "shape": "ListDatasetGroupsResponse"
      }
    },
    "ListDatasetImportJobs": {
      "documentation": "<p>Returns a list of dataset import jobs created using the <a>CreateDatasetImportJob</a> operation. For each import job, this operation returns a summary of its properties, including its Amazon Resource Name (ARN). You can retrieve the complete set of properties by using the ARN with the <a>DescribeDatasetImportJob</a> operation. You can filter the list by providing an array of <a>Filter</a> objects.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetImportJobsRequest"
      },
      "name": "ListDatasetImportJobs",
      "output": {
        "shape": "ListDatasetImportJobsResponse"
      }
    },
    "ListDatasets": {
      "documentation": "<p>Returns a list of datasets created using the <a>CreateDataset</a> operation. For each dataset, a summary of its properties, including its Amazon Resource Name (ARN), is returned. To retrieve the complete set of properties, use the ARN with the <a>DescribeDataset</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetsRequest"
      },
      "name": "ListDatasets",
      "output": {
        "shape": "ListDatasetsResponse"
      }
    },
    "ListForecastExportJobs": {
      "documentation": "<p>Returns a list of forecast export jobs created using the <a>CreateForecastExportJob</a> operation. For each forecast export job, this operation returns a summary of its properties, including its Amazon Resource Name (ARN). To retrieve the complete set of properties, use the ARN with the <a>DescribeForecastExportJob</a> operation. You can filter the list using an array of <a>Filter</a> objects.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListForecastExportJobsRequest"
      },
      "name": "ListForecastExportJobs",
      "output": {
        "shape": "ListForecastExportJobsResponse"
      }
    },
    "ListForecasts": {
      "documentation": "<p>Returns a list of forecasts created using the <a>CreateForecast</a> operation. For each forecast, this operation returns a summary of its properties, including its Amazon Resource Name (ARN). To retrieve the complete set of properties, specify the ARN with the <a>DescribeForecast</a> operation. You can filter the list using an array of <a>Filter</a> objects.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListForecastsRequest"
      },
      "name": "ListForecasts",
      "output": {
        "shape": "ListForecastsResponse"
      }
    },
    "ListPredictors": {
      "documentation": "<p>Returns a list of predictors created using the <a>CreatePredictor</a> operation. For each predictor, this operation returns a summary of its properties, including its Amazon Resource Name (ARN). You can retrieve the complete set of properties by using the ARN with the <a>DescribePredictor</a> operation. You can filter the list using an array of <a>Filter</a> objects.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListPredictorsRequest"
      },
      "name": "ListPredictors",
      "output": {
        "shape": "ListPredictorsResponse"
      }
    },
    "UpdateDatasetGroup": {
      "documentation": "<p>Replaces the datasets in a dataset group with the specified datasets.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before you can use the dataset group to create a predictor. Use the <a>DescribeDatasetGroup</a> operation to get the status.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateDatasetGroupRequest"
      },
      "name": "UpdateDatasetGroup",
      "output": {
        "shape": "UpdateDatasetGroupResponse"
      }
    }
  },
  "shapes": {
    "Arn": {
      "max": 256,
      "pattern": "^[a-zA-Z0-9\\-\\_\\.\\/\\:]+$",
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AttributeType": {
      "enum": [
        "string",
        "integer",
        "float",
        "timestamp"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CategoricalParameterRange": {
      "documentation": "<p>Specifies a categorical hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the categorical hyperparameter to tune.</p>",
          "shape": "Name"
        },
        "Values": {
          "documentation": "<p>A list of the tunable categories for the hyperparameter.</p>",
          "shape": "Values"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "CategoricalParameterRanges": {
      "max": 20,
      "member": {
        "shape": "CategoricalParameterRange"
      },
      "min": 1,
      "type": "list"
    },
    "ContinuousParameterRange": {
      "documentation": "<p>Specifies a continuous hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.</p>",
      "members": {
        "MaxValue": {
          "documentation": "<p>The maximum tunable value of the hyperparameter.</p>",
          "shape": "Double"
        },
        "MinValue": {
          "documentation": "<p>The minimum tunable value of the hyperparameter.</p>",
          "shape": "Double"
        },
        "Name": {
          "documentation": "<p>The name of the hyperparameter to tune.</p>",
          "shape": "Name"
        },
        "ScalingType": {
          "documentation": "<p>The scale that hyperparameter tuning uses to search the hyperparameter range. Valid values:</p> <dl> <dt>Auto</dt> <dd> <p>Amazon Forecast hyperparameter tuning chooses the best scale for the hyperparameter.</p> </dd> <dt>Linear</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a linear scale.</p> </dd> <dt>Logarithmic</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a logarithmic scale.</p> <p>Logarithmic scaling works only for ranges that have values greater than 0.</p> </dd> <dt>ReverseLogarithmic</dt> <dd> <p>hyperparameter tuning searches the values in the hyperparameter range by using a reverse logarithmic scale.</p> <p>Reverse logarithmic scaling works only for ranges that are entirely within the range 0 &lt;= x &lt; 1.0.</p> </dd> </dl> <p>For information about choosing a hyperparameter scale, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/automatic-model-tuning-define-ranges.html#scaling-type\">Hyperparameter Scaling</a>. One of the following values:</p>",
          "shape": "ScalingType"
        }
      },
      "required": [
        "Name",
        "MaxValue",
        "MinValue"
      ],
      "type": "structure"
    },
    "ContinuousParameterRanges": {
      "max": 20,
      "member": {
        "shape": "ContinuousParameterRange"
      },
      "min": 1,
      "type": "list"
    },
    "CreateDatasetGroupRequest": {
      "members": {
        "DatasetArns": {
          "documentation": "<p>An array of Amazon Resource Names (ARNs) of the datasets that you want to include in the dataset group.</p>",
          "shape": "ArnList"
        },
        "DatasetGroupName": {
          "documentation": "<p>A name for the dataset group.</p>",
          "shape": "Name"
        },
        "Domain": {
          "documentation": "<p>The domain associated with the dataset group. When you add a dataset to a dataset group, this value and the value specified for the <code>Domain</code> parameter of the <a>CreateDataset</a> operation must match.</p> <p>The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in training data that you import to a dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires that <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields are present in your data. For more information, see <a>howitworks-datasets-groups</a>.</p>",
          "shape": "Domain"
        }
      },
      "required": [
        "DatasetGroupName",
        "Domain"
      ],
      "type": "structure"
    },
    "CreateDatasetGroupResponse": {
      "members": {
        "DatasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetImportJobRequest": {
      "members": {
        "DataSource": {
          "documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data. The training data must be stored in an Amazon S3 bucket.</p> <p>If encryption is used, <code>DataSource</code> must include an AWS Key Management Service (KMS) key and the IAM role must allow Amazon Forecast permission to access the key. The KMS key and IAM role must match those specified in the <code>EncryptionConfig</code> parameter of the <a>CreateDataset</a> operation.</p>",
          "shape": "DataSource"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Forecast dataset that you want to import data to.</p>",
          "shape": "Arn"
        },
        "DatasetImportJobName": {
          "documentation": "<p>The name for the dataset import job. We recommend including the current timestamp in the name, for example, <code>20190721DatasetImport</code>. This can help you avoid getting a <code>ResourceAlreadyExistsException</code> exception.</p>",
          "shape": "Name"
        },
        "TimestampFormat": {
          "documentation": "<p>The format of timestamps in the dataset. The format that you specify depends on the <code>DataFrequency</code> specified when the dataset was created. The following formats are supported</p> <ul> <li> <p>\"yyyy-MM-dd\"</p> <p>For the following data frequencies: Y, M, W, and D</p> </li> <li> <p>\"yyyy-MM-dd HH:mm:ss\"</p> <p>For the following data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y, M, W, and D</p> </li> </ul> <p>If the format isn't specified, Amazon Forecast expects the format to be \"yyyy-MM-dd HH:mm:ss\".</p>",
          "shape": "TimestampFormat"
        }
      },
      "required": [
        "DatasetImportJobName",
        "DatasetArn",
        "DataSource"
      ],
      "type": "structure"
    },
    "CreateDatasetImportJobResponse": {
      "members": {
        "DatasetImportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetRequest": {
      "members": {
        "DataFrequency": {
          "documentation": "<p>The frequency of data collection. This parameter is required for RELATED_TIME_SERIES datasets.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, \"D\" indicates every day and \"15min\" indicates every 15 minutes.</p>",
          "shape": "Frequency"
        },
        "DatasetName": {
          "documentation": "<p>A name for the dataset.</p>",
          "shape": "Name"
        },
        "DatasetType": {
          "documentation": "<p>The dataset type. Valid values depend on the chosen <code>Domain</code>.</p>",
          "shape": "DatasetType"
        },
        "Domain": {
          "documentation": "<p>The domain associated with the dataset. When you add a dataset to a dataset group, this value and the value specified for the <code>Domain</code> parameter of the <a>CreateDatasetGroup</a> operation must match.</p> <p>The <code>Domain</code> and <code>DatasetType</code> that you choose determine the fields that must be present in the training data that you import to the dataset. For example, if you choose the <code>RETAIL</code> domain and <code>TARGET_TIME_SERIES</code> as the <code>DatasetType</code>, Amazon Forecast requires <code>item_id</code>, <code>timestamp</code>, and <code>demand</code> fields to be present in your data. For more information, see <a>howitworks-datasets-groups</a>.</p>",
          "shape": "Domain"
        },
        "EncryptionConfig": {
          "documentation": "<p>An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.</p>",
          "shape": "EncryptionConfig"
        },
        "Schema": {
          "documentation": "<p>The schema for the dataset. The schema attributes and their order must match the fields in your data. The dataset <code>Domain</code> and <code>DatasetType</code> that you choose determine the minimum required fields in your training data. For information about the required fields for a specific dataset domain and type, see <a>howitworks-domains-ds-types</a>.</p>",
          "shape": "Schema"
        }
      },
      "required": [
        "DatasetName",
        "Domain",
        "DatasetType",
        "Schema"
      ],
      "type": "structure"
    },
    "CreateDatasetResponse": {
      "members": {
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateForecastExportJobRequest": {
      "members": {
        "Destination": {
          "documentation": "<p>The location where you want to save the forecast and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the location. The forecast must be exported to an Amazon S3 bucket.</p> <p>If encryption is used, <code>Destination</code> must include an AWS Key Management Service (KMS) key. The IAM role must allow Amazon Forecast permission to access the key.</p>",
          "shape": "DataDestination"
        },
        "ForecastArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast that you want to export.</p>",
          "shape": "Arn"
        },
        "ForecastExportJobName": {
          "documentation": "<p>The name for the forecast export job.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "ForecastExportJobName",
        "ForecastArn",
        "Destination"
      ],
      "type": "structure"
    },
    "CreateForecastExportJobResponse": {
      "members": {
        "ForecastExportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the export job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateForecastRequest": {
      "members": {
        "ForecastName": {
          "documentation": "<p>A name for the forecast.</p>",
          "shape": "Name"
        },
        "ForecastTypes": {
          "documentation": "<p>The quantiles at which probabilistic forecasts are generated. You can specify up to 5 quantiles per forecast. Accepted values include <code>0.01 to 0.99</code> (increments of .01 only) and <code>mean</code>. The mean forecast is different from the median (0.50) when the distribution is not symmetric (e.g. Beta, Negative Binomial). The default value is <code>[\"0.1\", \"0.5\", \"0.9\"]</code>.</p>",
          "shape": "ForecastTypes"
        },
        "PredictorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the predictor to use to generate the forecast.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ForecastName",
        "PredictorArn"
      ],
      "type": "structure"
    },
    "CreateForecastResponse": {
      "members": {
        "ForecastArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreatePredictorRequest": {
      "members": {
        "AlgorithmArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm to use for model training. Required if <code>PerformAutoML</code> is not set to <code>true</code>.</p> <p class=\"title\"> <b>Supported algorithms:</b> </p> <ul> <li> <p> <code>arn:aws:forecast:::algorithm/ARIMA</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/Deep_AR_Plus</code> </p> <p>Supports hyperparameter optimization (HPO)</p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/ETS</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/NPTS</code> </p> </li> <li> <p> <code>arn:aws:forecast:::algorithm/Prophet</code> </p> </li> </ul>",
          "shape": "Arn"
        },
        "EncryptionConfig": {
          "documentation": "<p>An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.</p>",
          "shape": "EncryptionConfig"
        },
        "EvaluationParameters": {
          "documentation": "<p>Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast evaluates a predictor by splitting a dataset into training data and testing data. The evaluation parameters define how to perform the split and the number of iterations.</p>",
          "shape": "EvaluationParameters"
        },
        "FeaturizationConfig": {
          "documentation": "<p>The featurization configuration.</p>",
          "shape": "FeaturizationConfig"
        },
        "ForecastHorizon": {
          "documentation": "<p>Specifies the number of time-steps that the model is trained to predict. The forecast horizon is also called the prediction length.</p> <p>For example, if you configure a dataset for daily data collection (using the <code>DataFrequency</code> parameter of the <a>CreateDataset</a> operation) and set the forecast horizon to 10, the model returns predictions for 10 days.</p> <p>The maximum forecast horizon is the lesser of 500 time-steps or 1/3 of the TARGET_TIME_SERIES dataset length.</p>",
          "shape": "Integer"
        },
        "HPOConfig": {
          "documentation": "<p>Provides hyperparameter override values for the algorithm. If you don't provide this parameter, Amazon Forecast uses default values. The individual algorithms specify which hyperparameters support hyperparameter optimization (HPO). For more information, see <a>aws-forecast-choosing-recipes</a>.</p> <p>If you included the <code>HPOConfig</code> object, you must set <code>PerformHPO</code> to true.</p>",
          "shape": "HyperParameterTuningJobConfig"
        },
        "InputDataConfig": {
          "documentation": "<p>Describes the dataset group that contains the data to use to train the predictor.</p>",
          "shape": "InputDataConfig"
        },
        "PerformAutoML": {
          "documentation": "<p>Whether to perform AutoML. When Amazon Forecast performs AutoML, it evaluates the algorithms it provides and chooses the best algorithm and configuration for your training dataset.</p> <p>The default value is <code>false</code>. In this case, you are required to specify an algorithm.</p> <p>Set <code>PerformAutoML</code> to <code>true</code> to have Amazon Forecast perform AutoML. This is a good option if you aren't sure which algorithm is suitable for your training data. In this case, <code>PerformHPO</code> must be false.</p>",
          "shape": "Boolean"
        },
        "PerformHPO": {
          "documentation": "<p>Whether to perform hyperparameter optimization (HPO). HPO finds optimal hyperparameter values for your training data. The process of performing HPO is known as running a hyperparameter tuning job.</p> <p>The default value is <code>false</code>. In this case, Amazon Forecast uses default hyperparameter values from the chosen algorithm.</p> <p>To override the default values, set <code>PerformHPO</code> to <code>true</code> and, optionally, supply the <a>HyperParameterTuningJobConfig</a> object. The tuning job specifies a metric to optimize, which hyperparameters participate in tuning, and the valid range for each tunable hyperparameter. In this case, you are required to specify an algorithm and <code>PerformAutoML</code> must be false.</p> <p>The following algorithm supports HPO:</p> <ul> <li> <p>DeepAR+</p> </li> </ul>",
          "shape": "Boolean"
        },
        "PredictorName": {
          "documentation": "<p>A name for the predictor.</p>",
          "shape": "Name"
        },
        "TrainingParameters": {
          "documentation": "<p>The hyperparameters to override for model training. The hyperparameters that you can override are listed in the individual algorithms. For the list of supported algorithms, see <a>aws-forecast-choosing-recipes</a>.</p>",
          "shape": "TrainingParameters"
        }
      },
      "required": [
        "PredictorName",
        "ForecastHorizon",
        "InputDataConfig",
        "FeaturizationConfig"
      ],
      "type": "structure"
    },
    "CreatePredictorResponse": {
      "members": {
        "PredictorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the predictor.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DataDestination": {
      "documentation": "<p>The destination for an exported forecast, an AWS Identity and Access Management (IAM) role that allows Amazon Forecast to access the location and, optionally, an AWS Key Management Service (KMS) key. This object is submitted in the <a>CreateForecastExportJob</a> request.</p>",
      "members": {
        "S3Config": {
          "documentation": "<p>The path to an Amazon Simple Storage Service (Amazon S3) bucket along with the credentials to access the bucket.</p>",
          "shape": "S3Config"
        }
      },
      "required": [
        "S3Config"
      ],
      "type": "structure"
    },
    "DataSource": {
      "documentation": "<p>The source of your training data, an AWS Identity and Access Management (IAM) role that allows Amazon Forecast to access the data and, optionally, an AWS Key Management Service (KMS) key. This object is submitted in the <a>CreateDatasetImportJob</a> request.</p>",
      "members": {
        "S3Config": {
          "documentation": "<p>The path to the training data stored in an Amazon Simple Storage Service (Amazon S3) bucket along with the credentials to access the data.</p>",
          "shape": "S3Config"
        }
      },
      "required": [
        "S3Config"
      ],
      "type": "structure"
    },
    "DatasetGroupSummary": {
      "documentation": "<p>Provides a summary of the dataset group properties used in the <a>ListDatasetGroups</a> operation. To get the complete set of properties, call the <a>DescribeDatasetGroup</a> operation, and provide the <code>DatasetGroupArn</code>.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>When the dataset group was created.</p>",
          "shape": "Timestamp"
        },
        "DatasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        },
        "DatasetGroupName": {
          "documentation": "<p>The name of the dataset group.</p>",
          "shape": "Name"
        },
        "LastModificationTime": {
          "documentation": "<p>When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated, <code>LastModificationTime</code> is the current time of the <code>ListDatasetGroups</code> call.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DatasetGroups": {
      "member": {
        "shape": "DatasetGroupSummary"
      },
      "type": "list"
    },
    "DatasetImportJobSummary": {
      "documentation": "<p>Provides a summary of the dataset import job properties used in the <a>ListDatasetImportJobs</a> operation. To get the complete set of properties, call the <a>DescribeDatasetImportJob</a> operation, and provide the <code>DatasetImportJobArn</code>.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>When the dataset import job was created.</p>",
          "shape": "Timestamp"
        },
        "DataSource": {
          "documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data. The training data must be stored in an Amazon S3 bucket.</p> <p>If encryption is used, <code>DataSource</code> includes an AWS Key Management Service (KMS) key.</p>",
          "shape": "DataSource"
        },
        "DatasetImportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>",
          "shape": "Arn"
        },
        "DatasetImportJobName": {
          "documentation": "<p>The name of the dataset import job.</p>",
          "shape": "Name"
        },
        "LastModificationTime": {
          "documentation": "<p>The last time that the dataset was modified. The time depends on the status of the job, as follows:</p> <ul> <li> <p> <code>CREATE_PENDING</code> - The same time as <code>CreationTime</code>.</p> </li> <li> <p> <code>CREATE_IN_PROGRESS</code> - The current timestamp.</p> </li> <li> <p> <code>ACTIVE</code> or <code>CREATE_FAILED</code> - When the job finished or failed.</p> </li> </ul>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "ErrorMessage"
        },
        "Status": {
          "documentation": "<p>The status of the dataset import job. The status is reflected in the status of the dataset. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetImportJobs": {
      "member": {
        "shape": "DatasetImportJobSummary"
      },
      "type": "list"
    },
    "DatasetSummary": {
      "documentation": "<p>Provides a summary of the dataset properties used in the <a>ListDatasets</a> operation. To get the complete set of properties, call the <a>DescribeDataset</a> operation, and provide the <code>DatasetArn</code>.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>When the dataset was created.</p>",
          "shape": "Timestamp"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>",
          "shape": "Arn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset.</p>",
          "shape": "Name"
        },
        "DatasetType": {
          "documentation": "<p>The dataset type.</p>",
          "shape": "DatasetType"
        },
        "Domain": {
          "documentation": "<p>The domain associated with the dataset.</p>",
          "shape": "Domain"
        },
        "LastModificationTime": {
          "documentation": "<p>When you create a dataset, <code>LastModificationTime</code> is the same as <code>CreationTime</code>. While data is being imported to the dataset, <code>LastModificationTime</code> is the current time of the <code>ListDatasets</code> call. After a <a>CreateDatasetImportJob</a> operation has finished, <code>LastModificationTime</code> is when the import job completed or failed.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DatasetType": {
      "enum": [
        "TARGET_TIME_SERIES",
        "RELATED_TIME_SERIES",
        "ITEM_METADATA"
      ],
      "type": "string"
    },
    "Datasets": {
      "member": {
        "shape": "DatasetSummary"
      },
      "type": "list"
    },
    "DeleteDatasetGroupRequest": {
      "members": {
        "DatasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DatasetGroupArn"
      ],
      "type": "structure"
    },
    "DeleteDatasetImportJobRequest": {
      "members": {
        "DatasetImportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DatasetImportJobArn"
      ],
      "type": "structure"
    },
    "DeleteDatasetRequest": {
      "members": {
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DatasetArn"
      ],
      "type": "structure"
    },
    "DeleteForecastExportJobRequest": {
      "members": {
        "ForecastExportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast export job to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ForecastExportJobArn"
      ],
      "type": "structure"
    },
    "DeleteForecastRequest": {
      "members": {
        "ForecastArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ForecastArn"
      ],
      "type": "structure"
    },
    "DeletePredictorRequest": {
      "members": {
        "PredictorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the predictor to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "PredictorArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetGroupRequest": {
      "members": {
        "DatasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DatasetGroupArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetGroupResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>When the dataset group was created.</p>",
          "shape": "Timestamp"
        },
        "DatasetArns": {
          "documentation": "<p>An array of Amazon Resource Names (ARNs) of the datasets contained in the dataset group.</p>",
          "shape": "ArnList"
        },
        "DatasetGroupArn": {
          "documentation": "<p>The ARN of the dataset group.</p>",
          "shape": "Arn"
        },
        "DatasetGroupName": {
          "documentation": "<p>The name of the dataset group.</p>",
          "shape": "Name"
        },
        "Domain": {
          "documentation": "<p>The domain associated with the dataset group.</p>",
          "shape": "Domain"
        },
        "LastModificationTime": {
          "documentation": "<p>When the dataset group was created or last updated from a call to the <a>UpdateDatasetGroup</a> operation. While the dataset group is being updated, <code>LastModificationTime</code> is the current time of the <code>DescribeDatasetGroup</code> call.</p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>The status of the dataset group. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <p>The <code>UPDATE</code> states apply when you call the <a>UpdateDatasetGroup</a> operation.</p> <note> <p>The <code>Status</code> of the dataset group must be <code>ACTIVE</code> before you can use the dataset group to create a predictor.</p> </note>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetImportJobRequest": {
      "members": {
        "DatasetImportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DatasetImportJobArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetImportJobResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>When the dataset import job was created.</p>",
          "shape": "Timestamp"
        },
        "DataSize": {
          "documentation": "<p>The size of the dataset in gigabytes (GB) after the import job has finished.</p>",
          "shape": "Double"
        },
        "DataSource": {
          "documentation": "<p>The location of the training data to import and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the data.</p> <p>If encryption is used, <code>DataSource</code> includes an AWS Key Management Service (KMS) key.</p>",
          "shape": "DataSource"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset that the training data was imported to.</p>",
          "shape": "Arn"
        },
        "DatasetImportJobArn": {
          "documentation": "<p>The ARN of the dataset import job.</p>",
          "shape": "Arn"
        },
        "DatasetImportJobName": {
          "documentation": "<p>The name of the dataset import job.</p>",
          "shape": "Name"
        },
        "FieldStatistics": {
          "documentation": "<p>Statistical information about each field in the input data.</p>",
          "shape": "FieldStatistics"
        },
        "LastModificationTime": {
          "documentation": "<p>The last time that the dataset was modified. The time depends on the status of the job, as follows:</p> <ul> <li> <p> <code>CREATE_PENDING</code> - The same time as <code>CreationTime</code>.</p> </li> <li> <p> <code>CREATE_IN_PROGRESS</code> - The current timestamp.</p> </li> <li> <p> <code>ACTIVE</code> or <code>CREATE_FAILED</code> - When the job finished or failed.</p> </li> </ul>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "Message"
        },
        "Status": {
          "documentation": "<p>The status of the dataset import job. The status is reflected in the status of the dataset. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul>",
          "shape": "Status"
        },
        "TimestampFormat": {
          "documentation": "<p>The format of timestamps in the dataset. The format that you specify depends on the <code>DataFrequency</code> specified when the dataset was created. The following formats are supported</p> <ul> <li> <p>\"yyyy-MM-dd\"</p> <p>For the following data frequencies: Y, M, W, and D</p> </li> <li> <p>\"yyyy-MM-dd HH:mm:ss\"</p> <p>For the following data frequencies: H, 30min, 15min, and 1min; and optionally, for: Y, M, W, and D</p> </li> </ul>",
          "shape": "TimestampFormat"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetRequest": {
      "members": {
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DatasetArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>When the dataset was created.</p>",
          "shape": "Timestamp"
        },
        "DataFrequency": {
          "documentation": "<p>The frequency of data collection.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, \"M\" indicates every month and \"30min\" indicates every 30 minutes.</p>",
          "shape": "Frequency"
        },
        "DatasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>",
          "shape": "Arn"
        },
        "DatasetName": {
          "documentation": "<p>The name of the dataset.</p>",
          "shape": "Name"
        },
        "DatasetType": {
          "documentation": "<p>The dataset type.</p>",
          "shape": "DatasetType"
        },
        "Domain": {
          "documentation": "<p>The domain associated with the dataset.</p>",
          "shape": "Domain"
        },
        "EncryptionConfig": {
          "documentation": "<p>The AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.</p>",
          "shape": "EncryptionConfig"
        },
        "LastModificationTime": {
          "documentation": "<p>When you create a dataset, <code>LastModificationTime</code> is the same as <code>CreationTime</code>. While data is being imported to the dataset, <code>LastModificationTime</code> is the current time of the <code>DescribeDataset</code> call. After a <a>CreateDatasetImportJob</a> operation has finished, <code>LastModificationTime</code> is when the import job completed or failed.</p>",
          "shape": "Timestamp"
        },
        "Schema": {
          "documentation": "<p>An array of <code>SchemaAttribute</code> objects that specify the dataset fields. Each <code>SchemaAttribute</code> specifies the name and data type of a field.</p>",
          "shape": "Schema"
        },
        "Status": {
          "documentation": "<p>The status of the dataset. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <p>The <code>UPDATE</code> states apply while data is imported to the dataset from a call to the <a>CreateDatasetImportJob</a> operation and reflect the status of the dataset import job. For example, when the import job status is <code>CREATE_IN_PROGRESS</code>, the status of the dataset is <code>UPDATE_IN_PROGRESS</code>.</p> <note> <p>The <code>Status</code> of the dataset must be <code>ACTIVE</code> before you can import training data.</p> </note>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DescribeForecastExportJobRequest": {
      "members": {
        "ForecastExportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast export job.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ForecastExportJobArn"
      ],
      "type": "structure"
    },
    "DescribeForecastExportJobResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>When the forecast export job was created.</p>",
          "shape": "Timestamp"
        },
        "Destination": {
          "documentation": "<p>The path to the Amazon Simple Storage Service (Amazon S3) bucket where the forecast is exported.</p>",
          "shape": "DataDestination"
        },
        "ForecastArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the exported forecast.</p>",
          "shape": "Arn"
        },
        "ForecastExportJobArn": {
          "documentation": "<p>The ARN of the forecast export job.</p>",
          "shape": "Arn"
        },
        "ForecastExportJobName": {
          "documentation": "<p>The name of the forecast export job.</p>",
          "shape": "Name"
        },
        "LastModificationTime": {
          "documentation": "<p>When the last successful export job finished.</p>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "Message"
        },
        "Status": {
          "documentation": "<p>The status of the forecast export job. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your S3 bucket.</p> </note>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DescribeForecastRequest": {
      "members": {
        "ForecastArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ForecastArn"
      ],
      "type": "structure"
    },
    "DescribeForecastResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>When the forecast creation task was created.</p>",
          "shape": "Timestamp"
        },
        "DatasetGroupArn": {
          "documentation": "<p>The ARN of the dataset group that provided the data used to train the predictor.</p>",
          "shape": "Arn"
        },
        "ForecastArn": {
          "documentation": "<p>The forecast ARN as specified in the request.</p>",
          "shape": "Arn"
        },
        "ForecastName": {
          "documentation": "<p>The name of the forecast.</p>",
          "shape": "Name"
        },
        "ForecastTypes": {
          "documentation": "<p>The quantiles at which proababilistic forecasts were generated.</p>",
          "shape": "ForecastTypes"
        },
        "LastModificationTime": {
          "documentation": "<p>Initially, the same as <code>CreationTime</code> (status is <code>CREATE_PENDING</code>). Updated when inference (creating the forecast) starts (status changed to <code>CREATE_IN_PROGRESS</code>), and when inference is complete (status changed to <code>ACTIVE</code>) or fails (status changed to <code>CREATE_FAILED</code>).</p>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "ErrorMessage"
        },
        "PredictorArn": {
          "documentation": "<p>The ARN of the predictor used to generate the forecast.</p>",
          "shape": "Arn"
        },
        "Status": {
          "documentation": "<p>The status of the forecast. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast.</p> </note>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribePredictorRequest": {
      "members": {
        "PredictorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the predictor that you want information about.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "PredictorArn"
      ],
      "type": "structure"
    },
    "DescribePredictorResponse": {
      "members": {
        "AlgorithmArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm used for model training.</p>",
          "shape": "Arn"
        },
        "AutoMLAlgorithmArns": {
          "documentation": "<p>When <code>PerformAutoML</code> is specified, the ARN of the chosen algorithm.</p>",
          "shape": "ArnList"
        },
        "CreationTime": {
          "documentation": "<p>When the model training task was created.</p>",
          "shape": "Timestamp"
        },
        "DatasetImportJobArns": {
          "documentation": "<p>An array of the ARNs of the dataset import jobs used to import training data for the predictor.</p>",
          "shape": "ArnList"
        },
        "EncryptionConfig": {
          "documentation": "<p>An AWS Key Management Service (KMS) key and the AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key.</p>",
          "shape": "EncryptionConfig"
        },
        "EvaluationParameters": {
          "documentation": "<p>Used to override the default evaluation parameters of the specified algorithm. Amazon Forecast evaluates a predictor by splitting a dataset into training data and testing data. The evaluation parameters define how to perform the split and the number of iterations.</p>",
          "shape": "EvaluationParameters"
        },
        "FeaturizationConfig": {
          "documentation": "<p>The featurization configuration.</p>",
          "shape": "FeaturizationConfig"
        },
        "ForecastHorizon": {
          "documentation": "<p>The number of time-steps of the forecast. The forecast horizon is also called the prediction length.</p>",
          "shape": "Integer"
        },
        "HPOConfig": {
          "documentation": "<p>The hyperparameter override values for the algorithm.</p>",
          "shape": "HyperParameterTuningJobConfig"
        },
        "InputDataConfig": {
          "documentation": "<p>Describes the dataset group that contains the data to use to train the predictor.</p>",
          "shape": "InputDataConfig"
        },
        "LastModificationTime": {
          "documentation": "<p>Initially, the same as <code>CreationTime</code> (when the status is <code>CREATE_PENDING</code>). This value is updated when training starts (when the status changes to <code>CREATE_IN_PROGRESS</code>), and when training has completed (when the status changes to <code>ACTIVE</code>) or fails (when the status changes to <code>CREATE_FAILED</code>).</p>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "Message"
        },
        "PerformAutoML": {
          "documentation": "<p>Whether the predictor is set to perform AutoML.</p>",
          "shape": "Boolean"
        },
        "PerformHPO": {
          "documentation": "<p>Whether the predictor is set to perform hyperparameter optimization (HPO).</p>",
          "shape": "Boolean"
        },
        "PredictorArn": {
          "documentation": "<p>The ARN of the predictor.</p>",
          "shape": "Name"
        },
        "PredictorExecutionDetails": {
          "documentation": "<p>Details on the the status and results of the backtests performed to evaluate the accuracy of the predictor. You specify the number of backtests to perform when you call the operation.</p>",
          "shape": "PredictorExecutionDetails"
        },
        "PredictorName": {
          "documentation": "<p>The name of the predictor.</p>",
          "shape": "Name"
        },
        "Status": {
          "documentation": "<p>The status of the predictor. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> <li> <p> <code>UPDATE_PENDING</code>, <code>UPDATE_IN_PROGRESS</code>, <code>UPDATE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the predictor must be <code>ACTIVE</code> before you can use the predictor to create a forecast.</p> </note>",
          "shape": "Status"
        },
        "TrainingParameters": {
          "documentation": "<p>The default training parameters or overrides selected during model training. If using the AutoML algorithm or if HPO is turned on while using the DeepAR+ algorithms, the optimized values for the chosen hyperparameters are returned. For more information, see <a>aws-forecast-choosing-recipes</a>.</p>",
          "shape": "TrainingParameters"
        }
      },
      "type": "structure"
    },
    "Domain": {
      "enum": [
        "RETAIL",
        "CUSTOM",
        "INVENTORY_PLANNING",
        "EC2_CAPACITY",
        "WORK_FORCE",
        "WEB_TRAFFIC",
        "METRICS"
      ],
      "type": "string"
    },
    "Double": {
      "type": "double"
    },
    "EncryptionConfig": {
      "documentation": "<p>An AWS Key Management Service (KMS) key and an AWS Identity and Access Management (IAM) role that Amazon Forecast can assume to access the key. You can specify this optional object in the <a>CreateDataset</a> and <a>CreatePredictor</a> requests.</p>",
      "members": {
        "KMSKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the KMS key.</p>",
          "shape": "KMSKeyArn"
        },
        "RoleArn": {
          "documentation": "<p>The ARN of the IAM role that Amazon Forecast can assume to access the AWS KMS key.</p> <p>Passing a role across AWS accounts is not allowed. If you pass a role that isn't in your account, you get an <code>InvalidInputException</code> error.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "RoleArn",
        "KMSKeyArn"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EvaluationParameters": {
      "documentation": "<p>Parameters that define how to split a dataset into training data and testing data, and the number of iterations to perform. These parameters are specified in the predefined algorithms but you can override them in the <a>CreatePredictor</a> request.</p>",
      "members": {
        "BackTestWindowOffset": {
          "documentation": "<p>The point from the end of the dataset where you want to split the data for model training and testing (evaluation). Specify the value as the number of data points. The default is the value of the forecast horizon. <code>BackTestWindowOffset</code> can be used to mimic a past virtual forecast start date. This value must be greater than or equal to the forecast horizon and less than half of the TARGET_TIME_SERIES dataset length.</p> <p> <code>ForecastHorizon</code> &lt;= <code>BackTestWindowOffset</code> &lt; 1/2 * TARGET_TIME_SERIES dataset length</p>",
          "shape": "Integer"
        },
        "NumberOfBacktestWindows": {
          "documentation": "<p>The number of times to split the input data. The default is 1. Valid values are 1 through 5.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "EvaluationResult": {
      "documentation": "<p>The results of evaluating an algorithm. Returned as part of the <a>GetAccuracyMetrics</a> response.</p>",
      "members": {
        "AlgorithmArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm that was evaluated.</p>",
          "shape": "Arn"
        },
        "TestWindows": {
          "documentation": "<p>The array of test windows used for evaluating the algorithm. The <code>NumberOfBacktestWindows</code> from the <a>EvaluationParameters</a> object determines the number of windows in the array.</p>",
          "shape": "TestWindows"
        }
      },
      "type": "structure"
    },
    "EvaluationType": {
      "enum": [
        "SUMMARY",
        "COMPUTED"
      ],
      "type": "string"
    },
    "Featurization": {
      "documentation": "<p>Provides featurization (transformation) information for a dataset field. This object is part of the <a>FeaturizationConfig</a> object.</p> <p>For example:</p> <p> <code>{</code> </p> <p> <code>\"AttributeName\": \"demand\",</code> </p> <p> <code>FeaturizationPipeline [ {</code> </p> <p> <code>\"FeaturizationMethodName\": \"filling\",</code> </p> <p> <code>\"FeaturizationMethodParameters\": {\"aggregation\": \"avg\", \"backfill\": \"nan\"}</code> </p> <p> <code>} ]</code> </p> <p> <code>}</code> </p>",
      "members": {
        "AttributeName": {
          "documentation": "<p>The name of the schema attribute that specifies the data field to be featurized. Only the <code>target</code> field of the <code>TARGET_TIME_SERIES</code> dataset type is supported. For example, for the <code>RETAIL</code> domain, the target is <code>demand</code>, and for the <code>CUSTOM</code> domain, the target is <code>target_value</code>.</p>",
          "shape": "Name"
        },
        "FeaturizationPipeline": {
          "documentation": "<p>An array of one <code>FeaturizationMethod</code> object that specifies the feature transformation method.</p>",
          "shape": "FeaturizationPipeline"
        }
      },
      "required": [
        "AttributeName"
      ],
      "type": "structure"
    },
    "FeaturizationConfig": {
      "documentation": "<p>In a <a>CreatePredictor</a> operation, the specified algorithm trains a model using the specified dataset group. You can optionally tell the operation to modify data fields prior to training a model. These modifications are referred to as <i>featurization</i>.</p> <p>You define featurization using the <code>FeaturizationConfig</code> object. You specify an array of transformations, one for each field that you want to featurize. You then include the <code>FeaturizationConfig</code> object in your <code>CreatePredictor</code> request. Amazon Forecast applies the featurization to the <code>TARGET_TIME_SERIES</code> dataset before model training.</p> <p>You can create multiple featurization configurations. For example, you might call the <code>CreatePredictor</code> operation twice by specifying different featurization configurations.</p>",
      "members": {
        "Featurizations": {
          "documentation": "<p>An array of featurization (transformation) information for the fields of a dataset. Only a single featurization is supported.</p>",
          "shape": "Featurizations"
        },
        "ForecastDimensions": {
          "documentation": "<p>An array of dimension (field) names that specify how to group the generated forecast.</p> <p>For example, suppose that you are generating a forecast for item sales across all of your stores, and your dataset contains a <code>store_id</code> field. If you want the sales forecast for each item by store, you would specify <code>store_id</code> as the dimension.</p> <p>All forecast dimensions specified in the <code>TARGET_TIME_SERIES</code> dataset don't need to be specified in the <code>CreatePredictor</code> request. All forecast dimensions specified in the <code>RELATED_TIME_SERIES</code> dataset must be specified in the <code>CreatePredictor</code> request.</p>",
          "shape": "ForecastDimensions"
        },
        "ForecastFrequency": {
          "documentation": "<p>The frequency of predictions in a forecast.</p> <p>Valid intervals are Y (Year), M (Month), W (Week), D (Day), H (Hour), 30min (30 minutes), 15min (15 minutes), 10min (10 minutes), 5min (5 minutes), and 1min (1 minute). For example, \"Y\" indicates every year and \"5min\" indicates every five minutes.</p> <p>The frequency must be greater than or equal to the TARGET_TIME_SERIES dataset frequency.</p> <p>When a RELATED_TIME_SERIES dataset is provided, the frequency must be equal to the RELATED_TIME_SERIES dataset frequency.</p>",
          "shape": "Frequency"
        }
      },
      "required": [
        "ForecastFrequency"
      ],
      "type": "structure"
    },
    "FeaturizationMethod": {
      "documentation": "<p>Provides information about the method that featurizes (transforms) a dataset field. The method is part of the <code>FeaturizationPipeline</code> of the <a>Featurization</a> object. If you don't specify <code>FeaturizationMethodParameters</code>, Amazon Forecast uses default parameters.</p> <p>The following is an example of how you specify a <code>FeaturizationMethod</code> object.</p> <p> <code>{</code> </p> <p> <code>\"FeaturizationMethodName\": \"filling\",</code> </p> <p> <code>\"FeaturizationMethodParameters\": {\"aggregation\": \"avg\", \"backfill\": \"nan\"}</code> </p> <p> <code>}</code> </p>",
      "members": {
        "FeaturizationMethodName": {
          "documentation": "<p>The name of the method. The \"filling\" method is the only supported method.</p>",
          "shape": "FeaturizationMethodName"
        },
        "FeaturizationMethodParameters": {
          "documentation": "<p>The method parameters (key-value pairs). Specify these parameters to override the default values. The following list shows the parameters and their valid values. Bold signifies the default value.</p> <ul> <li> <p> <code>aggregation</code>: <b>sum</b>, <code>avg</code>, <code>first</code>, <code>min</code>, <code>max</code> </p> </li> <li> <p> <code>frontfill</code>: <b>none</b> </p> </li> <li> <p> <code>middlefill</code>: <b>zero</b>, <code>nan</code> (not a number)</p> </li> <li> <p> <code>backfill</code>: <b>zero</b>, <code>nan</code> </p> </li> </ul>",
          "shape": "FeaturizationMethodParameters"
        }
      },
      "required": [
        "FeaturizationMethodName"
      ],
      "type": "structure"
    },
    "FeaturizationMethodName": {
      "enum": [
        "filling"
      ],
      "type": "string"
    },
    "FeaturizationMethodParameters": {
      "key": {
        "shape": "ParameterKey"
      },
      "max": 20,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "ParameterValue"
      }
    },
    "FeaturizationPipeline": {
      "max": 1,
      "member": {
        "shape": "FeaturizationMethod"
      },
      "min": 1,
      "type": "list"
    },
    "Featurizations": {
      "max": 1,
      "member": {
        "shape": "Featurization"
      },
      "min": 1,
      "type": "list"
    },
    "FieldStatistics": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Statistics"
      }
    },
    "Filter": {
      "documentation": "<p>Describes a filter for choosing a subset of objects. Each filter consists of a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude the objects that match the statement, respectively. The match statement consists of a key and a value.</p>",
      "members": {
        "Condition": {
          "documentation": "<p>The condition to apply. To include the objects that match the statement, specify <code>IS</code>. To exclude matching objects, specify <code>IS_NOT</code>.</p>",
          "shape": "FilterConditionString"
        },
        "Key": {
          "documentation": "<p>The name of the parameter to filter on.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>The value to match.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "Key",
        "Value",
        "Condition"
      ],
      "type": "structure"
    },
    "FilterConditionString": {
      "enum": [
        "IS",
        "IS_NOT"
      ],
      "type": "string"
    },
    "Filters": {
      "member": {
        "shape": "Filter"
      },
      "type": "list"
    },
    "ForecastDimensions": {
      "max": 5,
      "member": {
        "shape": "Name"
      },
      "min": 1,
      "type": "list"
    },
    "ForecastExportJobSummary": {
      "documentation": "<p>Provides a summary of the forecast export job properties used in the <a>ListForecastExportJobs</a> operation. To get the complete set of properties, call the <a>DescribeForecastExportJob</a> operation, and provide the listed <code>ForecastExportJobArn</code>.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>When the forecast export job was created.</p>",
          "shape": "Timestamp"
        },
        "Destination": {
          "documentation": "<p>The path to the Amazon Simple Storage Service (Amazon S3) bucket where the forecast is exported.</p>",
          "shape": "DataDestination"
        },
        "ForecastExportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the forecast export job.</p>",
          "shape": "Arn"
        },
        "ForecastExportJobName": {
          "documentation": "<p>The name of the forecast export job.</p>",
          "shape": "Name"
        },
        "LastModificationTime": {
          "documentation": "<p>When the last successful export job finished.</p>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "ErrorMessage"
        },
        "Status": {
          "documentation": "<p>The status of the forecast export job. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast export job must be <code>ACTIVE</code> before you can access the forecast in your S3 bucket.</p> </note>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "ForecastExportJobs": {
      "member": {
        "shape": "ForecastExportJobSummary"
      },
      "type": "list"
    },
    "ForecastSummary": {
      "documentation": "<p>Provides a summary of the forecast properties used in the <a>ListForecasts</a> operation. To get the complete set of properties, call the <a>DescribeForecast</a> operation, and provide the <code>ForecastArn</code> that is listed in the summary.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>When the forecast creation task was created.</p>",
          "shape": "Timestamp"
        },
        "DatasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group that provided the data used to train the predictor.</p>",
          "shape": "String"
        },
        "ForecastArn": {
          "documentation": "<p>The ARN of the forecast.</p>",
          "shape": "Arn"
        },
        "ForecastName": {
          "documentation": "<p>The name of the forecast.</p>",
          "shape": "Name"
        },
        "LastModificationTime": {
          "documentation": "<p>Initially, the same as <code>CreationTime</code> (status is <code>CREATE_PENDING</code>). Updated when inference (creating the forecast) starts (status changed to <code>CREATE_IN_PROGRESS</code>), and when inference is complete (status changed to <code>ACTIVE</code>) or fails (status changed to <code>CREATE_FAILED</code>).</p>",
          "shape": "Timestamp"
        },
        "Message": {
          "documentation": "<p>If an error occurred, an informational message about the error.</p>",
          "shape": "ErrorMessage"
        },
        "PredictorArn": {
          "documentation": "<p>The ARN of the predictor used to generate the forecast.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The status of the forecast. States include:</p> <ul> <li> <p> <code>ACTIVE</code> </p> </li> <li> <p> <code>CREATE_PENDING</code>, <code>CREATE_IN_PROGRESS</code>, <code>CREATE_FAILED</code> </p> </li> <li> <p> <code>DELETE_PENDING</code>, <code>DELETE_IN_PROGRESS</code>, <code>DELETE_FAILED</code> </p> </li> </ul> <note> <p>The <code>Status</code> of the forecast must be <code>ACTIVE</code> before you can query or export the forecast.</p> </note>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "ForecastType": {
      "pattern": "(^0?\\.\\d\\d?$|^mean$)",
      "type": "string"
    },
    "ForecastTypes": {
      "max": 20,
      "member": {
        "shape": "ForecastType"
      },
      "min": 1,
      "type": "list"
    },
    "Forecasts": {
      "member": {
        "shape": "ForecastSummary"
      },
      "type": "list"
    },
    "Frequency": {
      "pattern": "^Y|M|W|D|H|30min|15min|10min|5min|1min$",
      "type": "string"
    },
    "GetAccuracyMetricsRequest": {
      "members": {
        "PredictorArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the predictor to get metrics for.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "PredictorArn"
      ],
      "type": "structure"
    },
    "GetAccuracyMetricsResponse": {
      "members": {
        "PredictorEvaluationResults": {
          "documentation": "<p>An array of results from evaluating the predictor.</p>",
          "shape": "PredictorEvaluationResults"
        }
      },
      "type": "structure"
    },
    "HyperParameterTuningJobConfig": {
      "documentation": "<p>Configuration information for a hyperparameter tuning job. You specify this object in the <a>CreatePredictor</a> request.</p> <p>A <i>hyperparameter</i> is a parameter that governs the model training process. You set hyperparameters before training starts, unlike model parameters, which are determined during training. The values of the hyperparameters effect which values are chosen for the model parameters.</p> <p>In a <i>hyperparameter tuning job</i>, Amazon Forecast chooses the set of hyperparameter values that optimize a specified metric. Forecast accomplishes this by running many training jobs over a range of hyperparameter values. The optimum set of values depends on the algorithm, the training data, and the specified metric objective.</p>",
      "members": {
        "ParameterRanges": {
          "documentation": "<p>Specifies the ranges of valid values for the hyperparameters.</p>",
          "shape": "ParameterRanges"
        }
      },
      "type": "structure"
    },
    "InputDataConfig": {
      "documentation": "<p>The data used to train a predictor. The data includes a dataset group and any supplementary features. You specify this object in the <a>CreatePredictor</a> request.</p>",
      "members": {
        "DatasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        },
        "SupplementaryFeatures": {
          "documentation": "<p>An array of supplementary features. The only supported feature is a holiday calendar.</p>",
          "shape": "SupplementaryFeatures"
        }
      },
      "required": [
        "DatasetGroupArn"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "IntegerParameterRange": {
      "documentation": "<p>Specifies an integer hyperparameter and it's range of tunable values. This object is part of the <a>ParameterRanges</a> object.</p>",
      "members": {
        "MaxValue": {
          "documentation": "<p>The maximum tunable value of the hyperparameter.</p>",
          "shape": "Integer"
        },
        "MinValue": {
          "documentation": "<p>The minimum tunable value of the hyperparameter.</p>",
          "shape": "Integer"
        },
        "Name": {
          "documentation": "<p>The name of the hyperparameter to tune.</p>",
          "shape": "Name"
        },
        "ScalingType": {
          "documentation": "<p>The scale that hyperparameter tuning uses to search the hyperparameter range. Valid values:</p> <dl> <dt>Auto</dt> <dd> <p>Amazon Forecast hyperparameter tuning chooses the best scale for the hyperparameter.</p> </dd> <dt>Linear</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a linear scale.</p> </dd> <dt>Logarithmic</dt> <dd> <p>Hyperparameter tuning searches the values in the hyperparameter range by using a logarithmic scale.</p> <p>Logarithmic scaling works only for ranges that have values greater than 0.</p> </dd> <dt>ReverseLogarithmic</dt> <dd> <p>Not supported for <code>IntegerParameterRange</code>.</p> <p>Reverse logarithmic scaling works only for ranges that are entirely within the range 0 &lt;= x &lt; 1.0.</p> </dd> </dl> <p>For information about choosing a hyperparameter scale, see <a href=\"http://docs.aws.amazon.com/sagemaker/latest/dg/automatic-model-tuning-define-ranges.html#scaling-type\">Hyperparameter Scaling</a>. One of the following values:</p>",
          "shape": "ScalingType"
        }
      },
      "required": [
        "Name",
        "MaxValue",
        "MinValue"
      ],
      "type": "structure"
    },
    "IntegerParameterRanges": {
      "max": 20,
      "member": {
        "shape": "IntegerParameterRange"
      },
      "min": 1,
      "type": "list"
    },
    "InvalidInputException": {
      "documentation": "<p>We can't process the request because it includes an invalid value or a value that exceeds the valid range.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The token is not valid. Tokens expire after 24 hours.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KMSKeyArn": {
      "max": 256,
      "pattern": "arn:aws:kms:.*:key/.*",
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>The limit on the number of resources per account has been exceeded.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListDatasetGroupsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The number of items to return in the response.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If the result of the previous request was truncated, the response includes a <code>NextToken</code>. To retrieve the next set of results, use the token in the next request. Tokens expire after 24 hours.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetGroupsResponse": {
      "members": {
        "DatasetGroups": {
          "documentation": "<p>An array of objects that summarize each dataset group's properties.</p>",
          "shape": "DatasetGroups"
        },
        "NextToken": {
          "documentation": "<p>If the response is truncated, Amazon Forecast returns this token. To retrieve the next set of results, use the token in the next request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetImportJobsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>An array of filters. For each filter, you provide a condition and a match statement. The condition is either <code>IS</code> or <code>IS_NOT</code>, which specifies whether to include or exclude the datasets that match the statement from the list, respectively. The match statement consists of a key and a value.</p> <p> <b>Filter properties</b> </p> <ul> <li> <p> <code>Condition</code> - The condition to apply. Valid values are <code>IS</code> and <code>IS_NOT</code>. To include the datasets that match the statement, specify <code>IS</code>. To exclude matching datasets, specify <code>IS_NOT</code>.</p> </li> <li> <p> <code>Key</code> - The name of the parameter to filter on. Valid values are <code>DatasetArn</code> and <code>Status</code>.</p> </li> <li> <p> <code>Value</code> - The value to match.</p> </li> </ul> <p>For example, to list all dataset import jobs whose status is ACTIVE, you specify the following filter:</p> <p> <code>\"Filters\": [ { \"Condition\": \"IS\", \"Key\": \"Status\", \"Value\": \"ACTIVE\" } ]</code> </p>",
[...]
