{
  "documentation": "<p>Amazon Augmented AI (Augmented AI) (Preview) is a service that adds human judgment to any machine learning application. Human reviewers can take over when an AI application can't evaluate data with a high degree of confidence.</p> <p>From fraudulent bank transaction identification to document processing to image analysis, machine learning models can be trained to make decisions as well as or better than a human. Nevertheless, some decisions require contextual interpretation, such as when you need to decide whether an image is appropriate for a given audience. Content moderation guidelines are nuanced and highly dependent on context, and they vary between countries. When trying to apply AI in these situations, you can be forced to choose between \"ML only\" systems with unacceptably high error rates or \"human only\" systems that are expensive and difficult to scale, and that slow down decision making.</p> <p>This API reference includes information about API actions and data types you can use to interact with Augmented AI programmatically. </p> <p>You can create a flow definition against the Augmented AI API. Provide the Amazon Resource Name (ARN) of a flow definition to integrate AI service APIs, such as <code>Textract.AnalyzeDocument</code> and <code>Rekognition.DetectModerationLabels</code>. These AI services, in turn, invoke the <a>StartHumanLoop</a> API, which evaluates conditions under which humans will be invoked. If humans are required, Augmented AI creates a human loop. Results of human work are available asynchronously in Amazon Simple Storage Service (Amazon S3). You can use Amazon CloudWatch Events to detect human work results.</p> <p>You can find additional Augmented AI API documentation in the following reference guides: <a href=\"https://docs.aws.amazon.com/rekognition/latest/dg/API_Reference.html\">Amazon Rekognition</a>, <a href=\"https://docs.aws.amazon.com/sagemaker/latest/dg/API_Reference.html\">Amazon SageMaker</a>, and <a href=\"https://docs.aws.amazon.com/textract/latest/dg/API_Reference.html\">Amazon Textract</a>.</p>",
  "metadata": {
    "apiVersion": "2019-11-07",
    "endpointPrefix": "a2i-runtime.sagemaker",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Augmented AI Runtime",
    "serviceId": "SageMaker A2I Runtime",
    "signatureVersion": "v4",
    "signingName": "sagemaker",
    "uid": "sagemaker-a2i-runtime-2019-11-07"
  },
  "operations": {
    "DeleteHumanLoop": {
      "documentation": "<p>Deletes the specified human loop for a flow definition.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/human-loops/{HumanLoopName}"
      },
      "input": {
        "shape": "DeleteHumanLoopRequest"
      },
      "name": "DeleteHumanLoop",
      "output": {
        "shape": "DeleteHumanLoopResponse"
      }
    },
    "DescribeHumanLoop": {
      "documentation": "<p>Returns information about the specified human loop.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/human-loops/{HumanLoopName}"
      },
      "input": {
        "shape": "DescribeHumanLoopRequest"
      },
      "name": "DescribeHumanLoop",
      "output": {
        "shape": "DescribeHumanLoopResponse"
      }
    },
    "ListHumanLoops": {
      "documentation": "<p>Returns information about human loops, given the specified parameters. If a human loop was deleted, it will not be included.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/human-loops"
      },
      "input": {
        "shape": "ListHumanLoopsRequest"
      },
      "name": "ListHumanLoops",
      "output": {
        "shape": "ListHumanLoopsResponse"
      }
    },
    "StartHumanLoop": {
      "documentation": "<p>Starts a human loop, provided that at least one activation condition is met.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/human-loops"
      },
      "input": {
        "shape": "StartHumanLoopRequest"
      },
      "name": "StartHumanLoop",
      "output": {
        "shape": "StartHumanLoopResponse"
      }
    },
    "StopHumanLoop": {
      "documentation": "<p>Stops the specified human loop.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/human-loops/stop"
      },
      "input": {
        "shape": "StopHumanLoopRequest"
      },
      "name": "StopHumanLoop",
      "output": {
        "shape": "StopHumanLoopResponse"
      }
    }
  },
  "shapes": {
    "ConflictException": {
      "documentation": "<p>Your request has the same name as another active human loop but has different input data. You cannot start two human loops with the same name and different input data.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FailureReason"
        }
      },
      "type": "structure"
    },
    "ContentClassifier": {
      "enum": [
        "FreeOfPersonallyIdentifiableInformation",
        "FreeOfAdultContent"
      ],
      "type": "string"
    },
    "ContentClassifiers": {
      "max": 256,
      "member": {
        "shape": "ContentClassifier"
      },
      "type": "list"
    },
    "DeleteHumanLoopRequest": {
      "members": {
        "HumanLoopName": {
          "documentation": "<p>The name of the human loop you want to delete.</p>",
          "location": "uri",
          "locationName": "HumanLoopName",
          "shape": "HumanLoopName"
        }
      },
      "required": [
        "HumanLoopName"
      ],
      "type": "structure"
    },
    "DeleteHumanLoopResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeHumanLoopRequest": {
      "members": {
        "HumanLoopName": {
          "documentation": "<p>The unique name of the human loop.</p>",
          "location": "uri",
          "locationName": "HumanLoopName",
          "shape": "HumanLoopName"
        }
      },
      "required": [
        "HumanLoopName"
      ],
      "type": "structure"
    },
    "DescribeHumanLoopResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>The creation time when Amazon Augmented AI created the human loop.</p>",
          "shape": "Timestamp"
        },
        "FailureCode": {
          "documentation": "<p>A failure code denoting a specific type of failure.</p>",
          "shape": "String"
        },
        "FailureReason": {
          "documentation": "<p>The reason why a human loop has failed. The failure reason is returned when the human loop status is <code>Failed</code>.</p>",
          "shape": "String"
        },
        "FlowDefinitionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
          "shape": "FlowDefinitionArn"
        },
        "HumanLoopArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
          "shape": "HumanLoopArn"
        },
        "HumanLoopName": {
          "documentation": "<p>The name of the human loop.</p>",
          "shape": "HumanLoopName"
        },
        "HumanLoopOutput": {
          "documentation": "<p>An object containing information about the output of the human loop.</p>",
          "shape": "HumanLoopOutput"
        },
        "HumanLoopStatus": {
          "documentation": "<p>The status of the human loop. Valid values:</p>",
          "shape": "HumanLoopStatus"
        }
      },
      "required": [
        "CreationTime",
        "HumanLoopStatus",
        "HumanLoopName",
        "HumanLoopArn",
        "FlowDefinitionArn"
      ],
      "type": "structure"
    },
    "FailureReason": {
      "max": 1024,
      "type": "string"
    },
    "FlowDefinitionArn": {
      "max": 1024,
      "pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:flow-definition/.*",
      "type": "string"
    },
    "HumanLoopArn": {
      "max": 1024,
      "pattern": "arn:aws[a-z\\-]*:sagemaker:[a-z0-9\\-]*:[0-9]{12}:human-loop/.*",
      "type": "string"
    },
    "HumanLoopDataAttributes": {
      "documentation": "<p>Attributes of the data specified by the customer. Use these to describe the data to be labeled.</p>",
      "members": {
        "ContentClassifiers": {
          "documentation": "<p>Declares that your content is free of personally identifiable information or adult content.</p> <p>Amazon SageMaker can restrict the Amazon Mechanical Turk workers who can view your task based on this information.</p>",
          "shape": "ContentClassifiers"
        }
      },
      "required": [
        "ContentClassifiers"
      ],
      "type": "structure"
    },
    "HumanLoopInput": {
      "documentation": "<p>An object containing the human loop input in JSON format.</p>",
      "members": {
        "InputContent": {
          "documentation": "<p>Serialized input from the human loop. The input must be a string representation of a file in JSON format.</p>",
          "shape": "InputContent"
        }
      },
      "required": [
        "InputContent"
      ],
      "type": "structure"
    },
    "HumanLoopName": {
      "max": 63,
      "min": 1,
      "pattern": "^[a-z0-9](-*[a-z0-9])*$",
      "type": "string"
    },
    "HumanLoopOutput": {
      "documentation": "<p>Information about where the human output will be stored.</p>",
      "members": {
        "OutputS3Uri": {
          "documentation": "<p>The location of the Amazon S3 object where Amazon Augmented AI stores your human loop output.</p>",
          "shape": "String"
        }
      },
      "required": [
        "OutputS3Uri"
      ],
      "type": "structure"
    },
    "HumanLoopStatus": {
      "enum": [
        "InProgress",
        "Failed",
        "Completed",
        "Stopped",
        "Stopping"
      ],
      "type": "string"
    },
    "HumanLoopSummaries": {
      "member": {
        "shape": "HumanLoopSummary"
      },
      "type": "list"
    },
    "HumanLoopSummary": {
      "documentation": "<p>Summary information about the human loop.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>When Amazon Augmented AI created the human loop.</p>",
          "shape": "Timestamp"
        },
        "FailureReason": {
          "documentation": "<p>The reason why the human loop failed. A failure reason is returned only when the status of the human loop is <code>Failed</code>.</p>",
          "shape": "FailureReason"
        },
        "FlowDefinitionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
          "shape": "FlowDefinitionArn"
        },
        "HumanLoopName": {
          "documentation": "<p>The name of the human loop.</p>",
          "shape": "HumanLoopName"
        },
        "HumanLoopStatus": {
          "documentation": "<p>The status of the human loop. Valid values:</p>",
          "shape": "HumanLoopStatus"
        }
      },
      "type": "structure"
    },
    "InputContent": {
      "max": 4194304,
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>Your request could not be processed.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FailureReason"
        }
      },
      "type": "structure"
    },
    "ListHumanLoopsRequest": {
      "members": {
        "CreationTimeAfter": {
          "documentation": "<p>(Optional) The timestamp of the date when you want the human loops to begin in ISO 8601 format. For example, <code>2020-02-24</code>.</p>",
          "location": "querystring",
          "locationName": "CreationTimeAfter",
          "shape": "Timestamp"
        },
        "CreationTimeBefore": {
          "documentation": "<p>(Optional) The timestamp of the date before which you want the human loops to begin in ISO 8601 format. For example, <code>2020-02-24</code>.</p>",
          "location": "querystring",
          "locationName": "CreationTimeBefore",
          "shape": "Timestamp"
        },
        "FlowDefinitionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a flow definition.</p>",
          "location": "querystring",
          "locationName": "FlowDefinitionArn",
          "shape": "FlowDefinitionArn"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The total number of items to return. If the total number of available items is more than the value specified in <code>MaxResults</code>, then a <code>NextToken</code> will be provided in the output that you can use to resume pagination.</p>",
          "location": "querystring",
          "locationName": "MaxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A token to resume pagination.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        },
        "SortOrder": {
          "documentation": "<p>An optional value that specifies whether you want the results sorted in <code>Ascending</code> or <code>Descending</code> order.</p>",
          "location": "querystring",
          "locationName": "SortOrder",
          "shape": "SortOrder"
        }
      },
      "required": [
        "FlowDefinitionArn"
      ],
      "type": "structure"
    },
    "ListHumanLoopsResponse": {
      "members": {
        "HumanLoopSummaries": {
          "documentation": "<p>An array of objects containing information about the human loops.</p>",
          "shape": "HumanLoopSummaries"
        },
        "NextToken": {
          "documentation": "<p>A token to resume pagination.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "HumanLoopSummaries"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "max": 8192,
      "pattern": ".*",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>We were unable to find the requested resource.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FailureReason"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or request a service quota increase.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FailureReason"
        }
      },
      "type": "structure"
    },
    "SortOrder": {
      "enum": [
        "Ascending",
        "Descending"
      ],
      "type": "string"
    },
    "StartHumanLoopRequest": {
      "members": {
        "DataAttributes": {
          "documentation": "<p>Attributes of the data specified by the customer.</p>",
          "shape": "HumanLoopDataAttributes"
        },
        "FlowDefinitionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the flow definition.</p>",
          "shape": "FlowDefinitionArn"
        },
        "HumanLoopInput": {
          "documentation": "<p>An object containing information about the human loop.</p>",
          "shape": "HumanLoopInput"
        },
        "HumanLoopName": {
          "documentation": "<p>The name of the human loop.</p>",
          "shape": "HumanLoopName"
        }
      },
      "required": [
        "HumanLoopName",
        "FlowDefinitionArn",
        "HumanLoopInput"
      ],
      "type": "structure"
    },
    "StartHumanLoopResponse": {
      "members": {
        "HumanLoopArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the human loop.</p>",
          "shape": "HumanLoopArn"
        }
      },
      "type": "structure"
    },
    "StopHumanLoopRequest": {
      "members": {
        "HumanLoopName": {
          "documentation": "<p>The name of the human loop you want to stop.</p>",
          "shape": "HumanLoopName"
        }
      },
      "required": [
        "HumanLoopName"
      ],
      "type": "structure"
    },
    "StopHumanLoopResponse": {
      "members": {},
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>Your request has exceeded the allowed amount of requests.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FailureReason"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "ValidationException": {
      "documentation": "<p>Your request was not valid. Check the syntax and try again.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "FailureReason"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
