{
  "documentation": "<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers gain all of the benefits of a high-performance, in-memory cache with far less of the administrative burden of launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
  "metadata": {
    "apiVersion": "2014-09-30",
    "endpointPrefix": "elasticache",
    "protocol": "query",
    "serviceFullName": "Amazon ElastiCache",
    "serviceId": "ElastiCache",
    "signatureVersion": "v4",
    "xmlNamespace": "http://elasticache.amazonaws.com/doc/2014-09-30/"
  },
  "operations": {
    "AuthorizeCacheSecurityGroupIngress": {
      "documentation": "<p>The <i>AuthorizeCacheSecurityGroupIngress</i> operation allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p>The current state of the cache security group does not allow deletion.</p>",
          "error": {
            "code": "InvalidCacheSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "documentation": "<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>",
          "error": {
            "code": "AuthorizationAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "AuthorizationAlreadyExistsFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of an <i>AuthorizeCacheSecurityGroupIngress</i> operation.</p>",
        "shape": "AuthorizeCacheSecurityGroupIngressMessage"
      },
      "name": "AuthorizeCacheSecurityGroupIngress",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>AuthorizeCacheSecurityGroupIngress</i> </li> <li> <i>CreateCacheSecurityGroup</i> </li> <li> <i>RevokeCacheSecurityGroupIngress</i> </li> </ul>",
        "resultWrapper": "AuthorizeCacheSecurityGroupIngressResult",
        "shape": "AuthorizeCacheSecurityGroupIngressResult",
        "wrapper": true
      }
    },
    "CopySnapshot": {
      "documentation": "<p>The <i>CopySnapshot</i> operation makes a copy of an existing snapshot.</p>",
      "errors": [
        {
          "documentation": "<p>You already have a snapshot with the given name.</p>",
          "error": {
            "code": "SnapshotAlreadyExistsFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p>The requested snapshot name does not refer to an existing snapshot.</p>",
          "error": {
            "code": "SnapshotNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotNotFoundFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>",
          "error": {
            "code": "SnapshotQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "documentation": "<p>The current state of the snapshot does not allow the requested action to occur.</p>",
          "error": {
            "code": "InvalidSnapshotState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSnapshotStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CopySnapshotMessage</i> operation.</p>",
        "shape": "CopySnapshotMessage"
      },
      "name": "CopySnapshot",
      "output": {
        "documentation": "<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>",
        "resultWrapper": "CopySnapshotResult",
        "shape": "CopySnapshotResult",
        "wrapper": true
      }
    },
    "CreateCacheCluster": {
      "documentation": "<p>The <i>CreateCacheCluster</i> operation creates a cache cluster. All nodes in the cache cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p>",
      "errors": [
        {
          "documentation": "<p>The specified replication group does not exist.</p>",
          "error": {
            "code": "ReplicationGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "documentation": "<p>The requested replication group is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidReplicationGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "documentation": "<p>You already have a cache cluster with the given identifier.</p>",
          "error": {
            "code": "CacheClusterAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterAlreadyExistsFault"
        },
        {
          "documentation": "<p>The requested cache node type is not available in the specified Availability Zone.</p>",
          "error": {
            "code": "InsufficientCacheClusterCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetGroupNotFoundFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupNotFoundFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache clusters per customer.</p>",
          "error": {
            "code": "ClusterQuotaForCustomerExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ClusterQuotaForCustomerExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>",
          "error": {
            "code": "NodeQuotaForClusterExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer. </p>",
          "error": {
            "code": "NodeQuotaForCustomerExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The VPC network is in an invalid state.</p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CreateCacheCluster</i> operation.</p>",
        "shape": "CreateCacheClusterMessage"
      },
      "name": "CreateCacheCluster",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper": "CreateCacheClusterResult",
        "shape": "CreateCacheClusterResult",
        "wrapper": true
      }
    },
    "CreateCacheParameterGroup": {
      "documentation": "<p>The <i>CreateCacheParameterGroup</i> operation creates a new cache parameter group. A cache parameter group is a collection of parameters that you apply to all of the nodes in a cache cluster.</p>",
      "errors": [
        {
          "documentation": "<p>The request cannot be processed because it would exceed the maximum number of cache security groups.</p>",
          "error": {
            "code": "CacheParameterGroupQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupQuotaExceededFault"
        },
        {
          "documentation": "<p>A cache parameter group with the requested name already exists.</p>",
          "error": {
            "code": "CacheParameterGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p>The current state of the cache parameter group does not allow the requested action to occur. </p>",
          "error": {
            "code": "InvalidCacheParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CreateCacheParameterGroup</i> operation.</p>",
        "shape": "CreateCacheParameterGroupMessage"
      },
      "name": "CreateCacheParameterGroup",
      "output": {
        "documentation": "<p>Represents the output of a <i>CreateCacheParameterGroup</i> operation.</p>",
        "resultWrapper": "CreateCacheParameterGroupResult",
        "shape": "CreateCacheParameterGroupResult",
        "wrapper": true
      }
    },
    "CreateCacheSecurityGroup": {
      "documentation": "<p>The <i>CreateCacheSecurityGroup</i> operation creates a new cache security group. Use a cache security group to control access to one or more cache clusters.</p> <p>Cache security groups are only used when you are creating a cache cluster outside of an Amazon Virtual Private Cloud (VPC). If you are creating a cache cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>",
      "errors": [
        {
          "documentation": "<p>A cache security group with the specified name already exists.</p>",
          "error": {
            "code": "CacheSecurityGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache security groups.</p>",
          "error": {
            "code": "QuotaExceeded.CacheSecurityGroup",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupQuotaExceededFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CreateCacheSecurityGroup</i> operation.</p>",
        "shape": "CreateCacheSecurityGroupMessage"
      },
      "name": "CreateCacheSecurityGroup",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>AuthorizeCacheSecurityGroupIngress</i> </li> <li> <i>CreateCacheSecurityGroup</i> </li> <li> <i>RevokeCacheSecurityGroupIngress</i> </li> </ul>",
        "resultWrapper": "CreateCacheSecurityGroupResult",
        "shape": "CreateCacheSecurityGroupResult",
        "wrapper": true
      }
    },
    "CreateCacheSubnetGroup": {
      "documentation": "<p>The <i>CreateCacheSubnetGroup</i> operation creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (VPC).</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache subnet group name is already in use by an existing cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache subnet groups.</p>",
          "error": {
            "code": "CacheSubnetGroupQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupQuotaExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of subnets in a cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetQuotaExceededFault"
        },
        {
          "documentation": "<p>An invalid subnet identifier was specified.</p>",
          "error": {
            "code": "InvalidSubnet",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CreateCacheSubnetGroup</i> operation.</p>",
        "shape": "CreateCacheSubnetGroupMessage"
      },
      "name": "CreateCacheSubnetGroup",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>CreateCacheSubnetGroup</i> </li> <li> <i>ModifyCacheSubnetGroup</i> </li> </ul>",
        "resultWrapper": "CreateCacheSubnetGroupResult",
        "shape": "CreateCacheSubnetGroupResult",
        "wrapper": true
      }
    },
    "CreateReplicationGroup": {
      "documentation": "<p>The <i>CreateReplicationGroup</i> operation creates a replication group. A replication group is a collection of cache clusters, where one of the cache clusters is a read/write primary and the others are read-only replicas. Writes to the primary are automatically propagated to the replicas.</p> <p>When you create a replication group, you must specify an existing cache cluster that is in the primary role. When the replication group has been successfully created, you can add one or more read replica replicas to it, up to a total of five read replicas.</p> <p><b>Note:</b> This action is valid only for Redis.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The requested cache cluster is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidCacheClusterState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "documentation": "<p>The specified replication group already exists.</p>",
          "error": {
            "code": "ReplicationGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReplicationGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p>The requested cache node type is not available in the specified Availability Zone.</p>",
          "error": {
            "code": "InsufficientCacheClusterCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetGroupNotFoundFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupNotFoundFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache clusters per customer.</p>",
          "error": {
            "code": "ClusterQuotaForCustomerExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ClusterQuotaForCustomerExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>",
          "error": {
            "code": "NodeQuotaForClusterExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer. </p>",
          "error": {
            "code": "NodeQuotaForCustomerExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The VPC network is in an invalid state.</p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CreateReplicationGroup</i> operation.</p>",
        "shape": "CreateReplicationGroupMessage"
      },
      "name": "CreateReplicationGroup",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific replication group.</p>",
        "resultWrapper": "CreateReplicationGroupResult",
        "shape": "CreateReplicationGroupResult",
        "wrapper": true
      }
    },
    "CreateSnapshot": {
      "documentation": "<p>The <i>CreateSnapshot</i> operation creates a copy of an entire cache cluster at a specific moment in time.</p>",
      "errors": [
        {
          "documentation": "<p>You already have a snapshot with the given name.</p>",
          "error": {
            "code": "SnapshotAlreadyExistsFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The requested cache cluster is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidCacheClusterState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>",
          "error": {
            "code": "SnapshotQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "documentation": "<p>You attempted one of the following actions:</p> <ul> <li> <p>Creating a snapshot of a Redis cache cluster running on a <i>t1.micro</i> cache node.</p> </li> <li> <p>Creating a snapshot of a cache cluster that is running Memcached rather than Redis.</p> </li> </ul> <p>Neither of these are supported by ElastiCache.</p>",
          "error": {
            "code": "SnapshotFeatureNotSupportedFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotFeatureNotSupportedFault"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>CreateSnapshot</i> operation.</p>",
        "shape": "CreateSnapshotMessage"
      },
      "name": "CreateSnapshot",
      "output": {
        "documentation": "<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>",
        "resultWrapper": "CreateSnapshotResult",
        "shape": "CreateSnapshotResult",
        "wrapper": true
      }
    },
    "DeleteCacheCluster": {
      "documentation": "<p>The <i>DeleteCacheCluster</i> operation deletes a previously provisioned cache cluster. <i>DeleteCacheCluster</i> deletes all associated cache nodes, node endpoints and the cache cluster itself. When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the cache cluster; you cannot cancel or revert this operation.</p> <p>This API cannot be used to delete a cache cluster that is the last read replica of a replication group that has automatic failover mode enabled.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The requested cache cluster is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidCacheClusterState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "documentation": "<p>You already have a snapshot with the given name.</p>",
          "error": {
            "code": "SnapshotAlreadyExistsFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p>You attempted one of the following actions:</p> <ul> <li> <p>Creating a snapshot of a Redis cache cluster running on a <i>t1.micro</i> cache node.</p> </li> <li> <p>Creating a snapshot of a cache cluster that is running Memcached rather than Redis.</p> </li> </ul> <p>Neither of these are supported by ElastiCache.</p>",
          "error": {
            "code": "SnapshotFeatureNotSupportedFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotFeatureNotSupportedFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>",
          "error": {
            "code": "SnapshotQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DeleteCacheCluster</i> operation.</p>",
        "shape": "DeleteCacheClusterMessage"
      },
      "name": "DeleteCacheCluster",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper": "DeleteCacheClusterResult",
        "shape": "DeleteCacheClusterResult",
        "wrapper": true
      }
    },
    "DeleteCacheParameterGroup": {
      "documentation": "<p>The <i>DeleteCacheParameterGroup</i> operation deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters.</p>",
      "errors": [
        {
          "documentation": "<p>The current state of the cache parameter group does not allow the requested action to occur. </p>",
          "error": {
            "code": "InvalidCacheParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DeleteCacheParameterGroup</i> operation.</p>",
        "shape": "DeleteCacheParameterGroupMessage"
      },
      "name": "DeleteCacheParameterGroup"
    },
    "DeleteCacheSecurityGroup": {
      "documentation": "<p>The <i>DeleteCacheSecurityGroup</i> operation deletes a cache security group.</p>",
      "errors": [
        {
          "documentation": "<p>The current state of the cache security group does not allow deletion.</p>",
          "error": {
            "code": "InvalidCacheSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DeleteCacheSecurityGroup</i> operation.</p>",
        "shape": "DeleteCacheSecurityGroupMessage"
      },
      "name": "DeleteCacheSecurityGroup"
    },
    "DeleteCacheSubnetGroup": {
      "documentation": "<p>The <i>DeleteCacheSubnetGroup</i> operation deletes a cache subnet group.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache subnet group is currently in use.</p>",
          "error": {
            "code": "CacheSubnetGroupInUse",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupInUse"
        },
        {
          "documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetGroupNotFoundFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DeleteCacheSubnetGroup</i> operation.</p>",
        "shape": "DeleteCacheSubnetGroupMessage"
      },
      "name": "DeleteCacheSubnetGroup"
    },
    "DeleteReplicationGroup": {
      "documentation": "<p>The <i>DeleteReplicationGroup</i> operation deletes an existing cluster. By default, this operation deletes the entire cluster, including the primary node group and all of the read replicas. You can optionally delete only the read replicas, while retaining the primary node group.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p>",
      "errors": [
        {
          "documentation": "<p>The specified replication group does not exist.</p>",
          "error": {
            "code": "ReplicationGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "documentation": "<p>The requested replication group is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidReplicationGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "documentation": "<p>You already have a snapshot with the given name.</p>",
          "error": {
            "code": "SnapshotAlreadyExistsFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p>You attempted one of the following actions:</p> <ul> <li> <p>Creating a snapshot of a Redis cache cluster running on a <i>t1.micro</i> cache node.</p> </li> <li> <p>Creating a snapshot of a cache cluster that is running Memcached rather than Redis.</p> </li> </ul> <p>Neither of these are supported by ElastiCache.</p>",
          "error": {
            "code": "SnapshotFeatureNotSupportedFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotFeatureNotSupportedFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the maximum number of snapshots.</p>",
          "error": {
            "code": "SnapshotQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DeleteReplicationGroup</i> operation.</p>",
        "shape": "DeleteReplicationGroupMessage"
      },
      "name": "DeleteReplicationGroup",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific replication group.</p>",
        "resultWrapper": "DeleteReplicationGroupResult",
        "shape": "DeleteReplicationGroupResult",
        "wrapper": true
      }
    },
    "DeleteSnapshot": {
      "documentation": "<p>The <i>DeleteSnapshot</i> operation deletes an existing snapshot. When you receive a successful response from this operation, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p>",
      "errors": [
        {
          "documentation": "<p>The requested snapshot name does not refer to an existing snapshot.</p>",
          "error": {
            "code": "SnapshotNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotNotFoundFault"
        },
        {
          "documentation": "<p>The current state of the snapshot does not allow the requested action to occur.</p>",
          "error": {
            "code": "InvalidSnapshotState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSnapshotStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DeleteSnapshot</i> operation.</p>",
        "shape": "DeleteSnapshotMessage"
      },
      "name": "DeleteSnapshot",
      "output": {
        "documentation": "<p>Represents a copy of an entire cache cluster as of the time when the snapshot was taken.</p>",
        "resultWrapper": "DeleteSnapshotResult",
        "shape": "DeleteSnapshotResult",
        "wrapper": true
      }
    },
    "DescribeCacheClusters": {
      "documentation": "<p>The <i>DescribeCacheClusters</i> operation returns information about all provisioned cache clusters if no cache cluster identifier is specified, or about a specific cache cluster if a cache cluster identifier is supplied.</p> <p>By default, abbreviated information about the cache clusters(s) will be returned. You can use the optional <i>ShowDetails</i> flag to retrieve detailed information about the cache nodes associated with the cache clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the CREATING state, only cluster level information will be displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the DELETING state, only cluster level information will be displayed.</p> <p>If cache nodes are currently being added to the cache cluster, node endpoint information and creation time for the additional nodes will not be displayed until they are completely provisioned. When the cache cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cache cluster, no endpoint information for the removed nodes is displayed.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeCacheClusters</i> operation.</p>",
        "shape": "DescribeCacheClustersMessage"
      },
      "name": "DescribeCacheClusters",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeCacheClusters</i> operation.</p>",
        "resultWrapper": "DescribeCacheClustersResult",
        "shape": "CacheClusterMessage"
      }
    },
    "DescribeCacheEngineVersions": {
      "documentation": "<p>The <i>DescribeCacheEngineVersions</i> operation returns a list of the available cache engines and their versions.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeCacheEngineVersions</i> operation.</p>",
        "shape": "DescribeCacheEngineVersionsMessage"
      },
      "name": "DescribeCacheEngineVersions",
      "output": {
        "documentation": "<p>Represents the output of a <a>DescribeCacheEngineVersions</a> operation.</p>",
        "resultWrapper": "DescribeCacheEngineVersionsResult",
        "shape": "CacheEngineVersionMessage"
      }
    },
    "DescribeCacheParameterGroups": {
      "documentation": "<p>The <i>DescribeCacheParameterGroups</i> operation returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list will contain only the descriptions for that group.</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeCacheParameterGroups</i> operation.</p>",
        "shape": "DescribeCacheParameterGroupsMessage"
      },
      "name": "DescribeCacheParameterGroups",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeCacheParameterGroups</i> operation.</p>",
        "resultWrapper": "DescribeCacheParameterGroupsResult",
        "shape": "CacheParameterGroupsMessage"
      }
    },
    "DescribeCacheParameters": {
      "documentation": "<p>The <i>DescribeCacheParameters</i> operation returns the detailed parameter list for a particular cache parameter group.</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeCacheParameters</i> operation.</p>",
        "shape": "DescribeCacheParametersMessage"
      },
      "name": "DescribeCacheParameters",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeCacheParameters</i> operation.</p>",
        "resultWrapper": "DescribeCacheParametersResult",
        "shape": "CacheParameterGroupDetails"
      }
    },
    "DescribeCacheSecurityGroups": {
      "documentation": "<p>The <i>DescribeCacheSecurityGroups</i> operation returns a list of cache security group descriptions. If a cache security group name is specified, the list will contain only the description of that group.</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeCacheSecurityGroups</i> operation.</p>",
        "shape": "DescribeCacheSecurityGroupsMessage"
      },
      "name": "DescribeCacheSecurityGroups",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeCacheSecurityGroups</i> operation.</p>",
        "resultWrapper": "DescribeCacheSecurityGroupsResult",
        "shape": "CacheSecurityGroupMessage"
      }
    },
    "DescribeCacheSubnetGroups": {
      "documentation": "<p>The <i>DescribeCacheSubnetGroups</i> operation returns a list of cache subnet group descriptions. If a subnet group name is specified, the list will contain only the description of that group.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetGroupNotFoundFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeCacheSubnetGroups</i> operation.</p>",
        "shape": "DescribeCacheSubnetGroupsMessage"
      },
      "name": "DescribeCacheSubnetGroups",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeCacheSubnetGroups</i> operation.</p>",
        "resultWrapper": "DescribeCacheSubnetGroupsResult",
        "shape": "CacheSubnetGroupMessage"
      }
    },
    "DescribeEngineDefaultParameters": {
      "documentation": "<p>The <i>DescribeEngineDefaultParameters</i> operation returns the default engine and system parameter information for the specified cache engine.</p>",
      "errors": [
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeEngineDefaultParameters</i> operation.</p>",
        "shape": "DescribeEngineDefaultParametersMessage"
      },
      "name": "DescribeEngineDefaultParameters",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeEngineDefaultParameters</i> operation.</p>",
        "resultWrapper": "DescribeEngineDefaultParametersResult",
        "shape": "DescribeEngineDefaultParametersResult",
        "wrapper": true
      }
    },
    "DescribeEvents": {
      "documentation": "<p>The <i>DescribeEvents</i> operation returns events related to cache clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cache cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>",
      "errors": [
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeEvents</i> operation.</p>",
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeEvents</i> operation.</p>",
        "resultWrapper": "DescribeEventsResult",
        "shape": "EventsMessage"
      }
    },
    "DescribeReplicationGroups": {
      "documentation": "<p>The <i>DescribeReplicationGroups</i> operation returns information about a particular replication group. If no identifier is specified, <i>DescribeReplicationGroups</i> returns information about all replication groups.</p>",
      "errors": [
        {
          "documentation": "<p>The specified replication group does not exist.</p>",
          "error": {
            "code": "ReplicationGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeReplicationGroups</i> operation.</p>",
        "shape": "DescribeReplicationGroupsMessage"
      },
      "name": "DescribeReplicationGroups",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeReplicationGroups</i> operation.</p>",
        "resultWrapper": "DescribeReplicationGroupsResult",
        "shape": "ReplicationGroupMessage"
      }
    },
    "DescribeReservedCacheNodes": {
      "documentation": "<p>The <i>DescribeReservedCacheNodes</i> operation returns information about reserved cache nodes for this account, or about a specified reserved cache node.</p>",
      "errors": [
        {
          "documentation": "<p>The requested reserved cache node was not found.</p>",
          "error": {
            "code": "ReservedCacheNodeNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedCacheNodeNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeReservedCacheNodes</i> operation.</p>",
        "shape": "DescribeReservedCacheNodesMessage"
      },
      "name": "DescribeReservedCacheNodes",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeReservedCacheNodes</i> operation.</p>",
        "resultWrapper": "DescribeReservedCacheNodesResult",
        "shape": "ReservedCacheNodeMessage"
      }
    },
    "DescribeReservedCacheNodesOfferings": {
      "documentation": "<p>The <i>DescribeReservedCacheNodesOfferings</i> operation lists available reserved cache node offerings.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache node offering does not exist.</p>",
          "error": {
            "code": "ReservedCacheNodesOfferingNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedCacheNodesOfferingNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeReservedCacheNodesOfferings</i> operation.</p>",
        "shape": "DescribeReservedCacheNodesOfferingsMessage"
      },
      "name": "DescribeReservedCacheNodesOfferings",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeReservedCacheNodesOfferings</i> operation.</p>",
        "resultWrapper": "DescribeReservedCacheNodesOfferingsResult",
        "shape": "ReservedCacheNodesOfferingMessage"
      }
    },
    "DescribeSnapshots": {
      "documentation": "<p>The <i>DescribeSnapshots</i> operation returns information about cache cluster snapshots. By default, <i>DescribeSnapshots</i> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The requested snapshot name does not refer to an existing snapshot.</p>",
          "error": {
            "code": "SnapshotNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>DescribeSnapshotsMessage</i> operation.</p>",
        "shape": "DescribeSnapshotsMessage"
      },
      "name": "DescribeSnapshots",
      "output": {
        "documentation": "<p>Represents the output of a <i>DescribeSnapshots</i> operation.</p>",
        "resultWrapper": "DescribeSnapshotsResult",
        "shape": "DescribeSnapshotsListMessage"
      }
    },
    "ModifyCacheCluster": {
      "documentation": "<p>The <i>ModifyCacheCluster</i> operation modifies the settings for a cache cluster. You can use this operation to change one or more cluster configuration parameters by specifying the parameters and the new values.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache cluster is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidCacheClusterState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "documentation": "<p>The current state of the cache security group does not allow deletion.</p>",
          "error": {
            "code": "InvalidCacheSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "documentation": "<p>The requested cache node type is not available in the specified Availability Zone.</p>",
          "error": {
            "code": "InsufficientCacheClusterCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>",
          "error": {
            "code": "NodeQuotaForClusterExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer. </p>",
          "error": {
            "code": "NodeQuotaForCustomerExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The VPC network is in an invalid state.</p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>ModifyCacheCluster</i> operation.</p>",
        "shape": "ModifyCacheClusterMessage"
      },
      "name": "ModifyCacheCluster",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper": "ModifyCacheClusterResult",
        "shape": "ModifyCacheClusterResult",
        "wrapper": true
      }
    },
    "ModifyCacheParameterGroup": {
      "documentation": "<p>The <i>ModifyCacheParameterGroup</i> operation modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The current state of the cache parameter group does not allow the requested action to occur. </p>",
          "error": {
            "code": "InvalidCacheParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>ModifyCacheParameterGroup</i> operation.</p>",
        "shape": "ModifyCacheParameterGroupMessage"
      },
      "name": "ModifyCacheParameterGroup",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>ModifyCacheParameterGroup</i> </li> <li> <i>ResetCacheParameterGroup</i> </li> </ul>",
        "resultWrapper": "ModifyCacheParameterGroupResult",
        "shape": "CacheParameterGroupNameMessage"
      }
    },
    "ModifyCacheSubnetGroup": {
      "documentation": "<p>The <i>ModifyCacheSubnetGroup</i> operation modifies an existing cache subnet group.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache subnet group name does not refer to an existing cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetGroupNotFoundFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetGroupNotFoundFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of subnets in a cache subnet group.</p>",
          "error": {
            "code": "CacheSubnetQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSubnetQuotaExceededFault"
        },
        {
          "documentation": "<p>The requested subnet is being used by another cache subnet group.</p>",
          "error": {
            "code": "SubnetInUse",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubnetInUse"
        },
        {
          "documentation": "<p>An invalid subnet identifier was specified.</p>",
          "error": {
            "code": "InvalidSubnet",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>ModifyCacheSubnetGroup</i> operation.</p>",
        "shape": "ModifyCacheSubnetGroupMessage"
      },
      "name": "ModifyCacheSubnetGroup",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>CreateCacheSubnetGroup</i> </li> <li> <i>ModifyCacheSubnetGroup</i> </li> </ul>",
        "resultWrapper": "ModifyCacheSubnetGroupResult",
        "shape": "ModifyCacheSubnetGroupResult",
        "wrapper": true
      }
    },
    "ModifyReplicationGroup": {
      "documentation": "<p>The <i>ModifyReplicationGroup</i> operation modifies the settings for a replication group.</p>",
      "errors": [
        {
          "documentation": "<p>The specified replication group does not exist.</p>",
          "error": {
            "code": "ReplicationGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "documentation": "<p>The requested replication group is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidReplicationGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "documentation": "<p>The requested cache cluster is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidCacheClusterState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "documentation": "<p>The current state of the cache security group does not allow deletion.</p>",
          "error": {
            "code": "InvalidCacheSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "documentation": "<p>The requested cache node type is not available in the specified Availability Zone.</p>",
          "error": {
            "code": "InsufficientCacheClusterCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes in a single cache cluster.</p>",
          "error": {
            "code": "NodeQuotaForClusterExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the allowed number of cache nodes per customer. </p>",
          "error": {
            "code": "NodeQuotaForCustomerExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The VPC network is in an invalid state.</p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>ModifyReplicationGroups</i> operation.</p>",
        "shape": "ModifyReplicationGroupMessage"
      },
      "name": "ModifyReplicationGroup",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific replication group.</p>",
        "resultWrapper": "ModifyReplicationGroupResult",
        "shape": "ModifyReplicationGroupResult",
        "wrapper": true
      }
    },
    "PurchaseReservedCacheNodesOffering": {
      "documentation": "<p>The <i>PurchaseReservedCacheNodesOffering</i> operation allows you to purchase a reserved cache node offering.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache node offering does not exist.</p>",
          "error": {
            "code": "ReservedCacheNodesOfferingNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedCacheNodesOfferingNotFoundFault"
        },
        {
          "documentation": "<p>You already have a reservation with the given identifier.</p>",
          "error": {
            "code": "ReservedCacheNodeAlreadyExists",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedCacheNodeAlreadyExistsFault"
        },
        {
          "documentation": "<p>The request cannot be processed because it would exceed the user's cache node quota.</p>",
          "error": {
            "code": "ReservedCacheNodeQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedCacheNodeQuotaExceededFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>PurchaseReservedCacheNodesOffering</i> operation.</p>",
        "shape": "PurchaseReservedCacheNodesOfferingMessage"
      },
      "name": "PurchaseReservedCacheNodesOffering",
      "output": {
        "documentation": "<p>Represents the output of a <i>PurchaseReservedCacheNodesOffering</i> operation.</p>",
        "resultWrapper": "PurchaseReservedCacheNodesOfferingResult",
        "shape": "PurchaseReservedCacheNodesOfferingResult",
        "wrapper": true
      }
    },
    "RebootCacheCluster": {
      "documentation": "<p>The <i>RebootCacheCluster</i> operation reboots some, or all, of the cache nodes within a provisioned cache cluster. This API will apply any modified cache parameter groups to the cache cluster. The reboot action takes place as soon as possible, and results in a momentary outage to the cache cluster. During the reboot, the cache cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cache cluster event is created.</p>",
      "errors": [
        {
          "documentation": "<p>The requested cache cluster is not in the <i>available</i> state.</p>",
          "error": {
            "code": "InvalidCacheClusterState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
          "error": {
            "code": "CacheClusterNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>RebootCacheCluster</i> operation.</p>",
        "shape": "RebootCacheClusterMessage"
      },
      "name": "RebootCacheCluster",
      "output": {
        "documentation": "<p>Contains all of the attributes of a specific cache cluster.</p>",
        "resultWrapper": "RebootCacheClusterResult",
        "shape": "RebootCacheClusterResult",
        "wrapper": true
      }
    },
    "ResetCacheParameterGroup": {
      "documentation": "<p>The <i>ResetCacheParameterGroup</i> operation modifies the parameters of a cache parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire cache parameter group, specify the <i>ResetAllParameters</i> and <i>CacheParameterGroupName</i> parameters.</p>",
      "errors": [
        {
          "documentation": "<p>The current state of the cache parameter group does not allow the requested action to occur. </p>",
          "error": {
            "code": "InvalidCacheParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "documentation": "<p> The requested cache parameter group name does not refer to an existing cache parameter group.</p>",
          "error": {
            "code": "CacheParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>ResetCacheParameterGroup</i> operation.</p>",
        "shape": "ResetCacheParameterGroupMessage"
      },
      "name": "ResetCacheParameterGroup",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>ModifyCacheParameterGroup</i> </li> <li> <i>ResetCacheParameterGroup</i> </li> </ul>",
        "resultWrapper": "ResetCacheParameterGroupResult",
        "shape": "CacheParameterGroupNameMessage"
      }
    },
    "RevokeCacheSecurityGroupIngress": {
      "documentation": "<p>The <i>RevokeCacheSecurityGroupIngress</i> operation revokes ingress from a cache security group. Use this operation to disallow access from an Amazon EC2 security group that had been previously authorized.</p>",
      "errors": [
        {
          "documentation": "<p> The requested cache security group name does not refer to an existing cache security group.</p>",
          "error": {
            "code": "CacheSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>",
          "error": {
            "code": "AuthorizationNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "AuthorizationNotFoundFault"
        },
        {
          "documentation": "<p>The current state of the cache security group does not allow deletion.</p>",
          "error": {
            "code": "InvalidCacheSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "documentation": "<p>The value for a parameter is invalid.</p>",
          "error": {
            "code": "InvalidParameterValue",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterValueException"
        },
        {
          "documentation": "<p>Two or more incompatible parameters were specified.</p>",
          "error": {
            "code": "InvalidParameterCombination",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p>Represents the input of a <i>RevokeCacheSecurityGroupIngress</i> operation.</p>",
        "shape": "RevokeCacheSecurityGroupIngressMessage"
      },
      "name": "RevokeCacheSecurityGroupIngress",
      "output": {
        "documentation": "<p>Represents the output of one of the following operations:</p> <ul> <li> <i>AuthorizeCacheSecurityGroupIngress</i> </li> <li> <i>CreateCacheSecurityGroup</i> </li> <li> <i>RevokeCacheSecurityGroupIngress</i> </li> </ul>",
        "resultWrapper": "RevokeCacheSecurityGroupIngressResult",
        "shape": "RevokeCacheSecurityGroupIngressResult",
        "wrapper": true
      }
    }
  },
  "shapes": {
    "AZMode": {
      "enum": [
        "single-az",
        "cross-az"
      ],
      "type": "string"
    },
    "AuthorizationAlreadyExistsFault": {
      "documentation": "<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>",
      "error": {
        "code": "AuthorizationAlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AuthorizationNotFoundFault": {
      "documentation": "<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>",
      "error": {
        "code": "AuthorizationNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AuthorizeCacheSecurityGroupIngressMessage": {
      "documentation": "<p>Represents the input of an <i>AuthorizeCacheSecurityGroupIngress</i> operation.</p>",
      "members": {
        "CacheSecurityGroupName": {
          "documentation": "<p>The cache security group which will allow network ingress.</p>",
          "shape": "String"
        },
        "EC2SecurityGroupName": {
          "documentation": "<p>The Amazon EC2 security group to be authorized for ingress to the cache security group.</p>",
          "shape": "String"
        },
        "EC2SecurityGroupOwnerId": {
          "documentation": "<p>The AWS account number of the Amazon EC2 security group owner. Note that this is not the same thing as an AWS access key ID - you must provide a valid AWS account number for this parameter.</p>",
          "shape": "String"
        }
      },
      "required": [
        "CacheSecurityGroupName",
        "EC2SecurityGroupName",
        "EC2SecurityGroupOwnerId"
      ],
      "type": "structure"
    },
    "AuthorizeCacheSecurityGroupIngressResult": {
      "members": {
        "CacheSecurityGroup": {
          "shape": "CacheSecurityGroup"
        }
      },
      "type": "structure"
    },
    "AutomaticFailoverStatus": {
      "enum": [
        "enabled",
        "disabled",
        "enabling",
        "disabling"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "documentation": "<p>Describes an Availability Zone in which the cache cluster is launched.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "AvailabilityZonesList": {
      "member": {
        "locationName": "AvailabilityZone",
        "shape": "String"
      },
      "type": "list"
    },
    "AwsQueryErrorMessage": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanOptional": {
      "type": "boolean"
    },
    "CacheCluster": {
      "documentation": "<p>Contains all of the attributes of a specific cache cluster.</p>",
      "members": {
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>If <code>true</code>, then minor version patches are applied automatically; if <code>false</code>, then automatic minor version patches are disabled.</p>",
          "shape": "Boolean"
        },
        "CacheClusterCreateTime": {
          "documentation": "<p>The date and time when the cache cluster was created.</p>",
          "shape": "TStamp"
        },
        "CacheClusterId": {
          "documentation": "<p>The user-supplied identifier of the cache cluster. This identifier is a unique key that identifies a cache cluster.</p>",
          "shape": "String"
        },
        "CacheClusterStatus": {
          "documentation": "<p>The current state of this cache cluster, one of the following values: <i>available</i>, <i>creating</i>, <i>deleted</i>, <i>deleting</i>, <i>incompatible-network</i>, <i>modifying</i>, <i>rebooting cache cluster nodes</i>, <i>restore-failed</i>, or <i>snapshotting</i>.</p>",
          "shape": "String"
        },
        "CacheNodeType": {
          "documentation": "<p>The name of the compute and memory capacity node type for the cache cluster.</p>",
          "shape": "String"
        },
        "CacheNodes": {
          "documentation": "<p>A list of cache nodes that are members of the cache cluster.</p>",
          "shape": "CacheNodeList"
        },
        "CacheParameterGroup": {
          "shape": "CacheParameterGroupStatus"
        },
        "CacheSecurityGroups": {
          "documentation": "<p>A list of cache security group elements, composed of name and status sub-elements.</p>",
          "shape": "CacheSecurityGroupMembershipList"
        },
        "CacheSubnetGroupName": {
          "documentation": "<p>The name of the cache subnet group associated with the cache cluster.</p>",
          "shape": "String"
        },
        "ClientDownloadLandingPage": {
          "documentation": "<p>The URL of the web page where you can download the latest ElastiCache client library.</p>",
          "shape": "String"
        },
        "ConfigurationEndpoint": {
          "shape": "Endpoint"
        },
        "Engine": {
          "documentation": "<p>The name of the cache engine (<i>memcached</i> or <i>redis</i>) to be used for this cache cluster.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>The version of the cache engine version that is used in this cache cluster.</p>",
          "shape": "String"
        },
        "NotificationConfiguration": {
          "shape": "NotificationConfiguration"
        },
        "NumCacheNodes": {
          "documentation": "<p>The number of cache nodes in the cache cluster.</p>",
          "shape": "IntegerOptional"
        },
        "PendingModifiedValues": {
          "shape": "PendingModifiedValues"
        },
        "PreferredAvailabilityZone": {
          "documentation": "<p>The name of the Availability Zone in which the cache cluster is located or \"Multiple\" if the cache nodes are located in different Availability Zones.</p>",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>The time range (in UTC) during which weekly system maintenance can occur.</p>",
          "shape": "String"
        },
        "ReplicationGroupId": {
          "documentation": "<p>The replication group to which this cache cluster belongs. If this field is empty, the cache cluster is not associated with any replication group.</p>",
          "shape": "String"
        },
        "SecurityGroups": {
          "documentation": "<p>A list of VPC Security Groups associated with the cache cluster.</p>",
          "shape": "SecurityGroupMembershipList"
        },
        "SnapshotRetentionLimit": {
          "documentation": "<p>The number of days for which ElastiCache will retain automatic cache cluster snapshots before deleting them. For example, if you set <i>SnapshotRetentionLimit</i> to 5, then a snapshot that was taken today will be retained for 5 days before being deleted.</p> <p><b>Important</b><br>If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p>",
          "shape": "IntegerOptional"
        },
        "SnapshotWindow": {
          "documentation": "<p>The daily time range (in UTC) during which ElastiCache will begin taking a daily snapshot of your cache cluster.</p> <p>Example: <code>05:00-09:00</code></p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "CacheClusterAlreadyExistsFault": {
      "documentation": "<p>You already have a cache cluster with the given identifier.</p>",
      "error": {
        "code": "CacheClusterAlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CacheClusterList": {
      "member": {
        "locationName": "CacheCluster",
        "shape": "CacheCluster"
      },
      "type": "list"
    },
    "CacheClusterMessage": {
      "documentation": "<p>Represents the output of a <i>DescribeCacheClusters</i> operation.</p>",
      "members": {
        "CacheClusters": {
          "documentation": "<p>A list of cache clusters. Each item in the list contains detailed information about one cache cluster.</p>",
          "shape": "CacheClusterList"
        },
        "Marker": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheClusterNotFoundFault": {
      "documentation": "<p>The requested cache cluster ID does not refer to an existing cache cluster.</p>",
      "error": {
        "code": "CacheClusterNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
[...]
