{
  "documentation": "<fullname>AWS Storage Gateway Service</fullname> <p>AWS Storage Gateway is the service that connects an on-premises software appliance with cloud-based storage to provide seamless and secure integration between an organization's on-premises IT environment and the AWS storage infrastructure. The service enables you to securely upload data to the AWS cloud for cost effective backup and rapid disaster recovery.</p> <p>Use the following links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#AWSStorageGatewayHTTPRequestsHeaders\">AWS Storage Gateway Required Request Headers</a>: Describes the required headers that you must send with every POST request to AWS Storage Gateway.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#AWSStorageGatewaySigningRequests\">Signing Requests</a>: AWS Storage Gateway requires that you authenticate every request you send; this topic describes how sign such a request.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPI.html#APIErrorResponses\">Error Responses</a>: Provides reference information about AWS Storage Gateway errors.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/storagegateway/latest/APIReference/API_Operations.html\">Operations in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway operations, their request parameters, response elements, possible errors, and examples of requests and responses.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">AWS Storage Gateway Regions and Endpoints:</a> Provides a list of each AWS Region and the endpoints available for use with AWS Storage Gateway. </p> </li> </ul> <note> <p>AWS Storage Gateway resource IDs are in uppercase. When you use these resource IDs with the Amazon EC2 API, EC2 expects resource IDs in lowercase. You must change your resource ID to lowercase to use it with the EC2 API. For example, in Storage Gateway the ID for a volume might be <code>vol-AA22BB012345DAF670</code>. When you use this ID with the EC2 API, you must change it to <code>vol-aa22bb012345daf670</code>. Otherwise, the EC2 API might not behave as expected.</p> </note> <important> <p>IDs for Storage Gateway volumes and Amazon EBS snapshots created from gateway volumes are changing to a longer format. Starting in December 2016, all new volumes and snapshots will be created with a 17-character string. Starting in April 2016, you will be able to use these longer IDs so you can test your systems with the new format. For more information, see <a href=\"https://aws.amazon.com/ec2/faqs/#longer-ids\">Longer EC2 and EBS Resource IDs</a>. </p> <p> For example, a volume Amazon Resource Name (ARN) with the longer volume ID format looks like the following:</p> <p> <code>arn:aws:storagegateway:us-west-2:111122223333:gateway/sgw-12A3456B/volume/vol-1122AABBCCDDEEFFG</code>.</p> <p>A snapshot ID with the longer ID format looks like the following: <code>snap-78e226633445566ee</code>.</p> <p>For more information, see <a href=\"https://forums.aws.amazon.com/ann.jspa?annID=3557\">Announcement: Heads-up \u2013 Longer AWS Storage Gateway volume and snapshot IDs coming in 2016</a>.</p> </important>",
  "metadata": {
    "apiVersion": "2013-06-30",
    "endpointPrefix": "storagegateway",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Storage Gateway",
    "serviceId": "Storage Gateway",
    "signatureVersion": "v4",
    "targetPrefix": "StorageGateway_20130630",
    "uid": "storagegateway-2013-06-30"
  },
  "operations": {
    "ActivateGateway": {
      "documentation": "<p>Activates the gateway you previously deployed on your host. In the activation process, you specify information such as the AWS Region that you want to use for storing snapshots or tapes, the time zone for scheduled snapshots the gateway snapshot schedule window, an activation key, and a name for your gateway. The activation process also associates your gateway with your account; for more information, see <a>UpdateGatewayInformation</a>.</p> <note> <p>You must turn on the gateway VM before you can activate your gateway.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ActivateGatewayInput"
      },
      "name": "ActivateGateway",
      "output": {
        "shape": "ActivateGatewayOutput"
      }
    },
    "AddCache": {
      "documentation": "<p>Configures one or more gateway local disks as cache for a gateway. This operation is only supported in the cached volume, tape and file gateway type (see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">Storage Gateway Concepts</a>).</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add cache, and one or more disk IDs that you want to configure as cache.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddCacheInput"
      },
      "name": "AddCache",
      "output": {
        "shape": "AddCacheOutput"
      }
    },
    "AddTagsToResource": {
      "documentation": "<p>Adds one or more tags to the specified resource. You use tags to add metadata to resources, which you can use to categorize these resources. For example, you can categorize resources by purpose, owner, environment, or team. Each tag consists of a key and a value, which you define. You can add tags to the following AWS Storage Gateway resources:</p> <ul> <li> <p>Storage gateways of all types</p> </li> <li> <p>Storage volumes</p> </li> <li> <p>Virtual tapes</p> </li> <li> <p>NFS and SMB file shares</p> </li> </ul> <p>You can create a maximum of 50 tags for each resource. Virtual tapes and storage volumes that are recovered to a new gateway maintain their tags.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceInput"
      },
      "name": "AddTagsToResource",
      "output": {
        "shape": "AddTagsToResourceOutput"
      }
    },
    "AddUploadBuffer": {
      "documentation": "<p>Configures one or more gateway local disks as upload buffer for a specified gateway. This operation is supported for the stored volume, cached volume and tape gateway types.</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add upload buffer, and one or more disk IDs that you want to configure as upload buffer.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddUploadBufferInput"
      },
      "name": "AddUploadBuffer",
      "output": {
        "shape": "AddUploadBufferOutput"
      }
    },
    "AddWorkingStorage": {
      "documentation": "<p>Configures one or more gateway local disks as working storage for a gateway. This operation is only supported in the stored volume gateway type. This operation is deprecated in cached volume API version 20120630. Use <a>AddUploadBuffer</a> instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored volume gateway.</p> </note> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add working storage, and one or more disk IDs that you want to configure as working storage.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddWorkingStorageInput"
      },
      "name": "AddWorkingStorage",
      "output": {
        "shape": "AddWorkingStorageOutput"
      }
    },
    "AssignTapePool": {
      "documentation": "<p>Assigns a tape to a tape pool for archiving. The tape assigned to a pool is archived in the S3 storage class that is associated with the pool. When you use your backup application to eject the tape, the tape is archived directly into the S3 storage class (Glacier or Deep Archive) that corresponds to the pool.</p> <p>Valid values: \"GLACIER\", \"DEEP_ARCHIVE\"</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssignTapePoolInput"
      },
      "name": "AssignTapePool",
      "output": {
        "shape": "AssignTapePoolOutput"
      }
    },
    "AttachVolume": {
      "documentation": "<p>Connects a volume to an iSCSI connection and then attaches the volume to the specified gateway. Detaching and attaching a volume enables you to recover your data from one gateway to a different gateway without creating a snapshot. It also makes it easier to move your volumes from an on-premises gateway to a gateway hosted on an Amazon EC2 instance.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachVolumeInput"
      },
      "name": "AttachVolume",
      "output": {
        "shape": "AttachVolumeOutput"
      }
    },
    "CancelArchival": {
      "documentation": "<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelArchivalInput"
      },
      "name": "CancelArchival",
      "output": {
        "shape": "CancelArchivalOutput"
      }
    },
    "CancelRetrieval": {
      "documentation": "<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated. The virtual tape is returned to the VTS. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelRetrievalInput"
      },
      "name": "CancelRetrieval",
      "output": {
        "shape": "CancelRetrievalOutput"
      }
    },
    "CreateCachediSCSIVolume": {
      "documentation": "<p>Creates a cached volume on a specified cached volume gateway. This operation is only supported in the cached volume gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create a cached volume. Use the <a>AddCache</a> operation to add cache storage to a gateway. </p> </note> <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI target name, an IP address on which to expose the target, and a unique client token. In response, the gateway creates the volume and returns information about it. This information includes the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p> <p>Optionally, you can provide the ARN for an existing volume as the <code>SourceVolumeARN</code> for this cached volume, which creates an exact copy of the existing volume\u2019s latest recovery point. The <code>VolumeSizeInBytes</code> value must be equal to or larger than the size of the copied volume, in bytes.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCachediSCSIVolumeInput"
      },
      "name": "CreateCachediSCSIVolume",
      "output": {
        "shape": "CreateCachediSCSIVolumeOutput"
      }
    },
    "CreateNFSFileShare": {
      "documentation": "<p>Creates a Network File System (NFS) file share on an existing file gateway. In Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud storage. Storage Gateway exposes file shares using a NFS interface. This operation is only supported for file gateways.</p> <important> <p>File gateway requires AWS Security Token Service (AWS STS) to be activated to enable you create a file share. Make sure AWS STS is activated in the AWS Region you are creating your file gateway in. If AWS STS is not activated in the AWS Region, activate it. For information about how to activate AWS STS, see Activating and Deactivating AWS STS in an AWS Region in the AWS Identity and Access Management User Guide. </p> <p>File gateway does not support creating hard or symbolic links on a file share.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNFSFileShareInput"
      },
      "name": "CreateNFSFileShare",
      "output": {
        "shape": "CreateNFSFileShareOutput"
      }
    },
    "CreateSMBFileShare": {
      "documentation": "<p>Creates a Server Message Block (SMB) file share on an existing file gateway. In Storage Gateway, a file share is a file system mount point backed by Amazon S3 cloud storage. Storage Gateway expose file shares using a SMB interface. This operation is only supported for file gateways.</p> <important> <p>File gateways require AWS Security Token Service (AWS STS) to be activated to enable you to create a file share. Make sure that AWS STS is activated in the AWS Region you are creating your file gateway in. If AWS STS is not activated in this AWS Region, activate it. For information about how to activate AWS STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>AWS Identity and Access Management User Guide.</i> </p> <p>File gateways don't support creating hard or symbolic links on a file share.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSMBFileShareInput"
      },
      "name": "CreateSMBFileShare",
      "output": {
        "shape": "CreateSMBFileShareOutput"
      }
    },
    "CreateSnapshot": {
      "documentation": "<p>Initiates a snapshot of a volume.</p> <p>AWS Storage Gateway provides the ability to back up point-in-time snapshots of your data to Amazon Simple Storage (S3) for durable off-site recovery, as well as import the data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or ad hoc basis. This API enables you to take ad-hoc snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#SchedulingSnapshot\">Editing a Snapshot Schedule</a>.</p> <p>In the CreateSnapshot request you identify the volume by providing its Amazon Resource Name (ARN). You must also provide description for the snapshot. When AWS Storage Gateway takes the snapshot of specified volume, the snapshot and description appears in the AWS Storage Gateway Console. In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot. This operation is only supported in stored and cached volume gateway type.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, see DescribeSnapshots or DeleteSnapshot in the <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_Operations.html\">EC2 API reference</a>.</p> </note> <important> <p>Volume and snapshot IDs are changing to a longer length ID format. For more information, see the important note on the <a href=\"https://docs.aws.amazon.com/storagegateway/latest/APIReference/Welcome.html\">Welcome</a> page.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ServiceUnavailableError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSnapshotInput"
      },
      "name": "CreateSnapshot",
      "output": {
        "shape": "CreateSnapshotOutput"
      }
    },
    "CreateSnapshotFromVolumeRecoveryPoint": {
      "documentation": "<p>Initiates a snapshot of a gateway from a volume recovery point. This operation is only supported in the cached volume gateway type.</p> <p>A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To get a list of volume recovery point for cached volume gateway, use <a>ListVolumeRecoveryPoints</a>.</p> <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide a description for the snapshot. When the gateway takes a snapshot of the specified volume, the snapshot and its description appear in the AWS Storage Gateway console. In response, the gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ServiceUnavailableError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSnapshotFromVolumeRecoveryPointInput"
      },
      "name": "CreateSnapshotFromVolumeRecoveryPoint",
      "output": {
        "shape": "CreateSnapshotFromVolumeRecoveryPointOutput"
      }
    },
    "CreateStorediSCSIVolume": {
      "documentation": "<p>Creates a volume on a specified gateway. This operation is only supported in the stored volume gateway type.</p> <p>The size of the volume to create is inferred from the disk size. You can choose to preserve existing data on the disk, create volume from an existing snapshot, or create an empty volume. If you choose to create an empty gateway volume, then any existing data on the disk is erased.</p> <p>In the request you must specify the gateway and the disk information on which you are creating the volume. In response, the gateway creates the volume and returns volume information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStorediSCSIVolumeInput"
      },
      "name": "CreateStorediSCSIVolume",
      "output": {
        "shape": "CreateStorediSCSIVolumeOutput"
      }
    },
    "CreateTapeWithBarcode": {
      "documentation": "<p>Creates a virtual tape by using your own barcode. You write data to the virtual tape and then archive the tape. A barcode is unique and can not be reused if it has already been used on a tape . This applies to barcodes used on deleted tapes. This operation is only supported in the tape gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create a virtual tape. Use the <a>AddCache</a> operation to add cache storage to a gateway.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTapeWithBarcodeInput"
      },
      "name": "CreateTapeWithBarcode",
      "output": {
        "shape": "CreateTapeWithBarcodeOutput"
      }
    },
    "CreateTapes": {
      "documentation": "<p>Creates one or more virtual tapes. You write data to the virtual tapes and then archive the tapes. This operation is only supported in the tape gateway type.</p> <note> <p>Cache storage must be allocated to the gateway before you can create virtual tapes. Use the <a>AddCache</a> operation to add cache storage to a gateway. </p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTapesInput"
      },
      "name": "CreateTapes",
      "output": {
        "shape": "CreateTapesOutput"
      }
    },
    "DeleteBandwidthRateLimit": {
      "documentation": "<p>Deletes the bandwidth rate limits of a gateway. You can delete either the upload and download bandwidth rate limit, or you can delete both. If you delete only one of the limits, the other limit remains unchanged. To specify which gateway to work with, use the Amazon Resource Name (ARN) of the gateway in your request. This operation is supported for the stored volume, cached volume and tape gateway types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBandwidthRateLimitInput"
      },
      "name": "DeleteBandwidthRateLimit",
      "output": {
        "shape": "DeleteBandwidthRateLimitOutput"
      }
    },
    "DeleteChapCredentials": {
      "documentation": "<p>Deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target and initiator pair. This operation is supported in volume and tape gateway types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteChapCredentialsInput"
      },
      "name": "DeleteChapCredentials",
      "output": {
        "shape": "DeleteChapCredentialsOutput"
      }
    },
    "DeleteFileShare": {
      "documentation": "<p>Deletes a file share from a file gateway. This operation is only supported for file gateways.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFileShareInput"
      },
      "name": "DeleteFileShare",
      "output": {
        "shape": "DeleteFileShareOutput"
      }
    },
    "DeleteGateway": {
      "documentation": "<p>Deletes a gateway. To specify which gateway to delete, use the Amazon Resource Name (ARN) of the gateway in your request. The operation deletes the gateway; however, it does not delete the gateway virtual machine (VM) from your host computer.</p> <p>After you delete a gateway, you cannot reactivate it. Completed snapshots of the gateway volumes are not deleted upon deleting the gateway, however, pending snapshots will not complete. After you delete a gateway, your next step is to remove it from your environment.</p> <important> <p>You no longer pay software charges after the gateway is deleted; however, your existing Amazon EBS snapshots persist and you will continue to be billed for these snapshots.\u00a0You can choose to remove all remaining Amazon EBS snapshots by canceling your Amazon EC2 subscription.\u00a0 If you prefer not to cancel your Amazon EC2 subscription, you can delete your snapshots using the Amazon EC2 console. For more information, see the <a href=\"http://aws.amazon.com/storagegateway\"> AWS Storage Gateway Detail Page</a>. </p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGatewayInput"
      },
      "name": "DeleteGateway",
      "output": {
        "shape": "DeleteGatewayOutput"
      }
    },
    "DeleteSnapshotSchedule": {
      "documentation": "<p>Deletes a snapshot of a volume.</p> <p>You can take snapshots of your gateway volumes on a scheduled or ad hoc basis. This API action enables you to delete a snapshot schedule for a volume. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working with Snapshots</a>. In the <code>DeleteSnapshotSchedule</code> request, you identify the volume by providing its Amazon Resource Name (ARN). This operation is only supported in stored and cached volume gateway types.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSnapshotScheduleInput"
      },
      "name": "DeleteSnapshotSchedule",
      "output": {
        "shape": "DeleteSnapshotScheduleOutput"
      }
    },
    "DeleteTape": {
      "documentation": "<p>Deletes the specified virtual tape. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTapeInput"
      },
      "name": "DeleteTape",
      "output": {
        "shape": "DeleteTapeOutput"
      }
    },
    "DeleteTapeArchive": {
      "documentation": "<p>Deletes the specified virtual tape from the virtual tape shelf (VTS). This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTapeArchiveInput"
      },
      "name": "DeleteTapeArchive",
      "output": {
        "shape": "DeleteTapeArchiveOutput"
      }
    },
    "DeleteVolume": {
      "documentation": "<p>Deletes the specified storage volume that you previously created using the <a>CreateCachediSCSIVolume</a> or <a>CreateStorediSCSIVolume</a> API. This operation is only supported in the cached volume and stored volume types. For stored volume gateways, the local disk that was configured as the storage volume is not deleted. You can reuse the local disk to create another storage volume. </p> <p>Before you delete a volume, make sure there are no iSCSI connections to the volume you are deleting. You should also make sure there is no snapshot in progress. You can use the Amazon Elastic Compute Cloud (Amazon EC2) API to query snapshots on the volume you are deleting and check the snapshot status. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> <p>In the request, you must provide the Amazon Resource Name (ARN) of the storage volume you want to delete.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVolumeInput"
      },
      "name": "DeleteVolume",
      "output": {
        "shape": "DeleteVolumeOutput"
      }
    },
    "DescribeAvailabilityMonitorTest": {
      "documentation": "<p>Returns information about the most recent High Availability monitoring test that was performed on the host in a cluster. If a test isn't performed, the status and start time in the response would be null.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAvailabilityMonitorTestInput"
      },
      "name": "DescribeAvailabilityMonitorTest",
      "output": {
        "shape": "DescribeAvailabilityMonitorTestOutput"
      }
    },
    "DescribeBandwidthRateLimit": {
      "documentation": "<p>Returns the bandwidth rate limits of a gateway. By default, these limits are not set, which means no bandwidth rate limiting is in effect. This operation is supported for the stored volume, cached volume and tape gateway types.'</p> <p>This operation only returns a value for a bandwidth rate limit only if the limit is set. If no limits are set for the gateway, then this operation returns only the gateway ARN in the response body. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBandwidthRateLimitInput"
      },
      "name": "DescribeBandwidthRateLimit",
      "output": {
        "shape": "DescribeBandwidthRateLimitOutput"
      }
    },
    "DescribeCache": {
      "documentation": "<p>Returns information about the cache of a gateway. This operation is only supported in the cached volume, tape and file gateway types.</p> <p>The response includes disk IDs that are configured as cache, and it includes the amount of cache allocated and used.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheInput"
      },
      "name": "DescribeCache",
      "output": {
        "shape": "DescribeCacheOutput"
      }
    },
    "DescribeCachediSCSIVolumes": {
      "documentation": "<p>Returns a description of the gateway volumes specified in the request. This operation is only supported in the cached volume gateway types.</p> <p>The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCachediSCSIVolumesInput"
      },
      "name": "DescribeCachediSCSIVolumes",
      "output": {
        "shape": "DescribeCachediSCSIVolumesOutput"
      }
    },
    "DescribeChapCredentials": {
      "documentation": "<p>Returns an array of Challenge-Handshake Authentication Protocol (CHAP) credentials information for a specified iSCSI target, one for each target-initiator pair. This operation is supported in the volume and tape gateway types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeChapCredentialsInput"
      },
      "name": "DescribeChapCredentials",
      "output": {
        "shape": "DescribeChapCredentialsOutput"
      }
    },
    "DescribeGatewayInformation": {
      "documentation": "<p>Returns metadata about a gateway such as its name, network interfaces, configured time zone, and the state (whether the gateway is running or not). To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGatewayInformationInput"
      },
      "name": "DescribeGatewayInformation",
      "output": {
        "shape": "DescribeGatewayInformationOutput"
      }
    },
    "DescribeMaintenanceStartTime": {
      "documentation": "<p>Returns your gateway's weekly maintenance start time including the day and time of the week. Note that values are in terms of the gateway's time zone.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceStartTimeInput"
      },
      "name": "DescribeMaintenanceStartTime",
      "output": {
        "shape": "DescribeMaintenanceStartTimeOutput"
      }
    },
    "DescribeNFSFileShares": {
      "documentation": "<p>Gets a description for one or more Network File System (NFS) file shares from a file gateway. This operation is only supported for file gateways.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNFSFileSharesInput"
      },
      "name": "DescribeNFSFileShares",
      "output": {
        "shape": "DescribeNFSFileSharesOutput"
      }
    },
    "DescribeSMBFileShares": {
      "documentation": "<p>Gets a description for one or more Server Message Block (SMB) file shares from a file gateway. This operation is only supported for file gateways.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSMBFileSharesInput"
      },
      "name": "DescribeSMBFileShares",
      "output": {
        "shape": "DescribeSMBFileSharesOutput"
      }
    },
    "DescribeSMBSettings": {
      "documentation": "<p>Gets a description of a Server Message Block (SMB) file share settings from a file gateway. This operation is only supported for file gateways.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSMBSettingsInput"
      },
      "name": "DescribeSMBSettings",
      "output": {
        "shape": "DescribeSMBSettingsOutput"
      }
    },
    "DescribeSnapshotSchedule": {
      "documentation": "<p>Describes the snapshot schedule for the specified gateway volume. The snapshot schedule information includes intervals at which snapshots are automatically initiated on the volume. This operation is only supported in the cached volume and stored volume types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSnapshotScheduleInput"
      },
      "name": "DescribeSnapshotSchedule",
      "output": {
        "shape": "DescribeSnapshotScheduleOutput"
      }
    },
    "DescribeStorediSCSIVolumes": {
      "documentation": "<p>Returns the description of the gateway volumes specified in the request. The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume ARNs. This operation is only supported in stored volume gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStorediSCSIVolumesInput"
      },
      "name": "DescribeStorediSCSIVolumes",
      "output": {
        "shape": "DescribeStorediSCSIVolumesOutput"
      }
    },
    "DescribeTapeArchives": {
      "documentation": "<p>Returns a description of specified virtual tapes in the virtual tape shelf (VTS). This operation is only supported in the tape gateway type.</p> <p>If a specific <code>TapeARN</code> is not specified, AWS Storage Gateway returns a description of all virtual tapes found in the VTS associated with your account.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTapeArchivesInput"
      },
      "name": "DescribeTapeArchives",
      "output": {
        "shape": "DescribeTapeArchivesOutput"
      }
    },
    "DescribeTapeRecoveryPoints": {
      "documentation": "<p>Returns a list of virtual tape recovery points that are available for the specified tape gateway.</p> <p>A recovery point is a point-in-time view of a virtual tape at which all the data on the virtual tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTapeRecoveryPointsInput"
      },
      "name": "DescribeTapeRecoveryPoints",
      "output": {
        "shape": "DescribeTapeRecoveryPointsOutput"
      }
    },
    "DescribeTapes": {
      "documentation": "<p>Returns a description of the specified Amazon Resource Name (ARN) of virtual tapes. If a <code>TapeARN</code> is not specified, returns a description of all virtual tapes associated with the specified gateway. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTapesInput"
      },
      "name": "DescribeTapes",
      "output": {
        "shape": "DescribeTapesOutput"
      }
    },
    "DescribeUploadBuffer": {
      "documentation": "<p>Returns information about the upload buffer of a gateway. This operation is supported for the stored volume, cached volume and tape gateway types.</p> <p>The response includes disk IDs that are configured as upload buffer space, and it includes the amount of upload buffer space allocated and used.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUploadBufferInput"
      },
      "name": "DescribeUploadBuffer",
      "output": {
        "shape": "DescribeUploadBufferOutput"
      }
    },
    "DescribeVTLDevices": {
      "documentation": "<p>Returns a description of virtual tape library (VTL) devices for the specified tape gateway. In the response, AWS Storage Gateway returns VTL device information.</p> <p>This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeVTLDevicesInput"
      },
      "name": "DescribeVTLDevices",
      "output": {
        "shape": "DescribeVTLDevicesOutput"
      }
    },
    "DescribeWorkingStorage": {
      "documentation": "<p>Returns information about the working storage of a gateway. This operation is only supported in the stored volumes gateway type. This operation is deprecated in cached volumes API version (20120630). Use DescribeUploadBuffer instead.</p> <note> <p>Working storage is also referred to as upload buffer. You can also use the DescribeUploadBuffer operation to add upload buffer to a stored volume gateway.</p> </note> <p>The response includes disk IDs that are configured as working storage, and it includes the amount of working storage allocated and used.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkingStorageInput"
      },
      "name": "DescribeWorkingStorage",
      "output": {
        "shape": "DescribeWorkingStorageOutput"
      }
    },
    "DetachVolume": {
      "documentation": "<p>Disconnects a volume from an iSCSI connection and then detaches the volume from the specified gateway. Detaching and attaching a volume enables you to recover your data from one gateway to a different gateway without creating a snapshot. It also makes it easier to move your volumes from an on-premises gateway to a gateway hosted on an Amazon EC2 instance. This operation is only supported in the volume gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachVolumeInput"
      },
      "name": "DetachVolume",
      "output": {
        "shape": "DetachVolumeOutput"
      }
    },
    "DisableGateway": {
      "documentation": "<p>Disables a tape gateway when the gateway is no longer functioning. For example, if your gateway VM is damaged, you can disable the gateway so you can recover virtual tapes.</p> <p>Use this operation for a tape gateway that is not reachable or not functioning. This operation is only supported in the tape gateway type.</p> <important> <p>Once a gateway is disabled it cannot be enabled.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableGatewayInput"
      },
      "name": "DisableGateway",
      "output": {
        "shape": "DisableGatewayOutput"
      }
    },
    "JoinDomain": {
      "documentation": "<p>Adds a file gateway to an Active Directory domain. This operation is only supported for file gateways that support the SMB file protocol.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "JoinDomainInput"
      },
      "name": "JoinDomain",
      "output": {
        "shape": "JoinDomainOutput"
      }
    },
    "ListFileShares": {
      "documentation": "<p>Gets a list of the file shares for a specific file gateway, or the list of file shares that belong to the calling user account. This operation is only supported for file gateways.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFileSharesInput"
      },
      "name": "ListFileShares",
      "output": {
        "shape": "ListFileSharesOutput"
      }
    },
    "ListGateways": {
      "documentation": "<p>Lists gateways owned by an AWS account in an AWS Region specified in the request. The returned list is ordered by gateway Amazon Resource Name (ARN).</p> <p>By default, the operation returns a maximum of 100 gateways. This operation supports pagination that allows you to optionally reduce the number of gateways returned in a response.</p> <p>If you have more gateways than are returned in a response (that is, the response returns only a truncated list of your gateways), the response contains a marker that you can specify in your next request to fetch the next page of gateways.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGatewaysInput"
      },
      "name": "ListGateways",
      "output": {
        "shape": "ListGatewaysOutput"
      }
    },
    "ListLocalDisks": {
      "documentation": "<p>Returns a list of the gateway's local disks. To specify which gateway to describe, you use the Amazon Resource Name (ARN) of the gateway in the body of the request.</p> <p>The request returns a list of all disks, specifying which are configured as working storage, cache storage, or stored volume or not configured at all. The response includes a <code>DiskStatus</code> field. This field can have a value of present (the disk is available to use), missing (the disk is no longer connected to the gateway), or mismatch (the disk node is occupied by a disk that has incorrect metadata or the disk content is corrupted).</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLocalDisksInput"
      },
      "name": "ListLocalDisks",
      "output": {
        "shape": "ListLocalDisksOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that have been added to the specified resource. This operation is supported in storage gateways of all types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "ListTapes": {
      "documentation": "<p>Lists virtual tapes in your virtual tape library (VTL) and your virtual tape shelf (VTS). You specify the tapes to list by specifying one or more tape Amazon Resource Names (ARNs). If you don't specify a tape ARN, the operation lists all virtual tapes in both your VTL and VTS.</p> <p>This operation supports pagination. By default, the operation returns a maximum of up to 100 tapes. You can optionally specify the <code>Limit</code> parameter in the body to limit the number of tapes in the response. If the number of tapes returned in the response is truncated, the response includes a <code>Marker</code> element that you can use in your subsequent request to retrieve the next set of tapes. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTapesInput"
      },
      "name": "ListTapes",
      "output": {
        "shape": "ListTapesOutput"
      }
    },
    "ListVolumeInitiators": {
      "documentation": "<p>Lists iSCSI initiators that are connected to a volume. You can use this operation to determine whether a volume is being used or not. This operation is only supported in the cached volume and stored volume gateway types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVolumeInitiatorsInput"
      },
      "name": "ListVolumeInitiators",
      "output": {
        "shape": "ListVolumeInitiatorsOutput"
      }
    },
    "ListVolumeRecoveryPoints": {
      "documentation": "<p>Lists the recovery points for a specified gateway. This operation is only supported in the cached volume gateway type.</p> <p>Each cache volume has one recovery point. A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot or clone a new cached volume from a source volume. To create a snapshot from a volume recovery point use the <a>CreateSnapshotFromVolumeRecoveryPoint</a> operation.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVolumeRecoveryPointsInput"
      },
      "name": "ListVolumeRecoveryPoints",
      "output": {
        "shape": "ListVolumeRecoveryPointsOutput"
      }
    },
    "ListVolumes": {
      "documentation": "<p>Lists the iSCSI stored volumes of a gateway. Results are sorted by volume ARN. The response includes only the volume ARNs. If you want additional volume information, use the <a>DescribeStorediSCSIVolumes</a> or the <a>DescribeCachediSCSIVolumes</a> API.</p> <p>The operation supports pagination. By default, the operation returns a maximum of up to 100 volumes. You can optionally specify the <code>Limit</code> field in the body to limit the number of volumes in the response. If the number of volumes returned in the response is truncated, the response includes a Marker field. You can use this Marker value in your subsequent request to retrieve the next set of volumes. This operation is only supported in the cached volume and stored volume gateway types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListVolumesInput"
      },
      "name": "ListVolumes",
      "output": {
        "shape": "ListVolumesOutput"
      }
    },
    "NotifyWhenUploaded": {
      "documentation": "<p>Sends you notification through CloudWatch Events when all files written to your file share have been uploaded to Amazon S3.</p> <p>AWS Storage Gateway can send a notification through Amazon CloudWatch Events when all files written to your file share up to that point in time have been uploaded to Amazon S3. These files include files written to the file share up to the time that you make a request for notification. When the upload is done, Storage Gateway sends you notification through an Amazon CloudWatch Event. You can configure CloudWatch Events to send the notification through event targets such as Amazon SNS or AWS Lambda function. This operation is only supported for file gateways.</p> <p>For more information, see Getting File Upload Notification in the Storage Gateway User Guide (https://docs.aws.amazon.com/storagegateway/latest/userguide/monitoring-file-gateway.html#get-upload-notification). </p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "NotifyWhenUploadedInput"
      },
      "name": "NotifyWhenUploaded",
      "output": {
        "shape": "NotifyWhenUploadedOutput"
      }
    },
    "RefreshCache": {
      "documentation": "<p>Refreshes the cache for the specified file share. This operation finds objects in the Amazon S3 bucket that were added, removed or replaced since the gateway last listed the bucket's contents and cached the results. This operation is only supported in the file gateway type. You can subscribe to be notified through an Amazon CloudWatch event when your RefreshCache operation completes. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/monitoring-file-gateway.html#get-notification\">Getting Notified About File Operations</a>.</p> <p>When this API is called, it only initiates the refresh operation. When the API call completes and returns a success code, it doesn't necessarily mean that the file refresh has completed. You should use the refresh-complete notification to determine that the operation has completed before you check for new files on the gateway file share. You can subscribe to be notified through an CloudWatch event when your <code>RefreshCache</code> operation completes. </p> <p>Throttle limit: This API is asynchronous so the gateway will accept no more than two refreshes at any time. We recommend using the refresh-complete CloudWatch event notification before issuing additional requests. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/monitoring-file-gateway.html#get-notification\">Getting Notified About File Operations</a>.</p> <p>If you invoke the RefreshCache API when two requests are already being processed, any new request will cause an <code>InvalidGatewayRequestException</code> error because too many requests were sent to the server.</p> <p>For more information, see \"https://docs.aws.amazon.com/storagegateway/latest/userguide/monitoring-file-gateway.html#get-notification\".</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RefreshCacheInput"
      },
      "name": "RefreshCache",
      "output": {
        "shape": "RefreshCacheOutput"
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p>Removes one or more tags from the specified resource. This operation is supported in storage gateways of all types.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromResourceInput"
      },
      "name": "RemoveTagsFromResource",
      "output": {
        "shape": "RemoveTagsFromResourceOutput"
      }
    },
    "ResetCache": {
      "documentation": "<p>Resets all cache disks that have encountered a error and makes the disks available for reconfiguration as cache storage. If your cache disk encounters a error, the gateway prevents read and write operations on virtual tapes in the gateway. For example, an error can occur when a disk is corrupted or removed from the gateway. When a cache is reset, the gateway loses its cache storage. At this point you can reconfigure the disks as cache disks. This operation is only supported in the cached volume and tape types.</p> <important> <p>If the cache disk you are resetting contains data that has not been uploaded to Amazon S3 yet, that data can be lost. After you reset cache disks, there will be no configured cache disks left in the gateway, so you must configure at least one new cache disk for your gateway to function properly.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetCacheInput"
      },
      "name": "ResetCache",
      "output": {
        "shape": "ResetCacheOutput"
      }
    },
    "RetrieveTapeArchive": {
      "documentation": "<p>Retrieves an archived virtual tape from the virtual tape shelf (VTS) to a tape gateway. Virtual tapes archived in the VTS are not associated with any gateway. However after a tape is retrieved, it is associated with a gateway, even though it is also listed in the VTS, that is, archive. This operation is only supported in the tape gateway type.</p> <p>Once a tape is successfully retrieved to a gateway, it cannot be retrieved again to another gateway. You must archive the tape again before you can retrieve it to another gateway. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetrieveTapeArchiveInput"
      },
      "name": "RetrieveTapeArchive",
      "output": {
        "shape": "RetrieveTapeArchiveOutput"
      }
    },
    "RetrieveTapeRecoveryPoint": {
      "documentation": "<p>Retrieves the recovery point for the specified virtual tape. This operation is only supported in the tape gateway type.</p> <p>A recovery point is a point in time view of a virtual tape at which all the data on the tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway.</p> <note> <p>The virtual tape can be retrieved to only one gateway. The retrieved tape is read-only. The virtual tape can be retrieved to only a tape gateway. There is no charge for retrieving recovery points.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetrieveTapeRecoveryPointInput"
      },
      "name": "RetrieveTapeRecoveryPoint",
      "output": {
        "shape": "RetrieveTapeRecoveryPointOutput"
      }
    },
    "SetLocalConsolePassword": {
      "documentation": "<p>Sets the password for your VM local console. When you log in to the local console for the first time, you log in to the VM with the default credentials. We recommend that you set a new password. You don't need to know the default password to set a new password.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetLocalConsolePasswordInput"
      },
      "name": "SetLocalConsolePassword",
      "output": {
        "shape": "SetLocalConsolePasswordOutput"
      }
    },
    "SetSMBGuestPassword": {
      "documentation": "<p>Sets the password for the guest user <code>smbguest</code>. The <code>smbguest</code> user is the user when the authentication method for the file share is set to <code>GuestAccess</code>.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSMBGuestPasswordInput"
      },
      "name": "SetSMBGuestPassword",
      "output": {
        "shape": "SetSMBGuestPasswordOutput"
      }
    },
    "ShutdownGateway": {
      "documentation": "<p>Shuts down a gateway. To specify which gateway to shut down, use the Amazon Resource Name (ARN) of the gateway in the body of your request.</p> <p>The operation shuts down the gateway service component running in the gateway's virtual machine (VM) and not the host VM.</p> <note> <p>If you want to shut down the VM, it is recommended that you first shut down the gateway component in the VM to avoid unpredictable conditions.</p> </note> <p>After the gateway is shutdown, you cannot call any other API except <a>StartGateway</a>, <a>DescribeGatewayInformation</a>, and <a>ListGateways</a>. For more information, see <a>ActivateGateway</a>. Your applications cannot read from or write to the gateway's storage volumes, and there are no snapshots taken.</p> <note> <p>When you make a shutdown request, you will get a <code>200 OK</code> success response immediately. However, it might take some time for the gateway to shut down. You can call the <a>DescribeGatewayInformation</a> API to check the status. For more information, see <a>ActivateGateway</a>.</p> </note> <p>If do not intend to use the gateway again, you must delete the gateway (using <a>DeleteGateway</a>) to no longer pay software charges associated with the gateway.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ShutdownGatewayInput"
      },
      "name": "ShutdownGateway",
      "output": {
        "shape": "ShutdownGatewayOutput"
      }
    },
    "StartAvailabilityMonitorTest": {
      "documentation": "<p>Start a test that verifies that the specified gateway is configured for High Availability monitoring in your host environment. This request only initiates the test and that a successful response only indicates that the test was started. It doesn't indicate that the test passed. For the status of the test, invoke the <code>DescribeAvailabilityMonitorTest</code> API. </p> <note> <p>Starting this test will cause your gateway to go offline for a brief period.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartAvailabilityMonitorTestInput"
      },
      "name": "StartAvailabilityMonitorTest",
      "output": {
        "shape": "StartAvailabilityMonitorTestOutput"
      }
    },
    "StartGateway": {
      "documentation": "<p>Starts a gateway that you previously shut down (see <a>ShutdownGateway</a>). After the gateway starts, you can then make other API calls, your applications can read from or write to the gateway's storage volumes and you will be able to take snapshot backups.</p> <note> <p>When you make a request, you will get a 200 OK success response immediately. However, it might take some time for the gateway to be ready. You should call <a>DescribeGatewayInformation</a> and check the status before making any additional API calls. For more information, see <a>ActivateGateway</a>.</p> </note> <p>To specify which gateway to start, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartGatewayInput"
      },
      "name": "StartGateway",
      "output": {
        "shape": "StartGatewayOutput"
      }
    },
    "UpdateBandwidthRateLimit": {
      "documentation": "<p>Updates the bandwidth rate limits of a gateway. You can update both the upload and download bandwidth rate limit or specify only one of the two. If you don't set a bandwidth rate limit, the existing rate limit remains. This operation is supported for the stored volume, cached volume and tape gateway types.'</p> <p>By default, a gateway's bandwidth rate limits are not set. If you don't set any limit, the gateway does not have any limitations on its bandwidth usage and could potentially use the maximum available bandwidth.</p> <p>To specify which gateway to update, use the Amazon Resource Name (ARN) of the gateway in your request.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateBandwidthRateLimitInput"
      },
      "name": "UpdateBandwidthRateLimit",
      "output": {
        "shape": "UpdateBandwidthRateLimitOutput"
      }
    },
    "UpdateChapCredentials": {
      "documentation": "<p>Updates the Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target. By default, a gateway does not have CHAP enabled; however, for added security, you might use it. This operation is supported in the volume and tape gateway types.</p> <important> <p>When you update CHAP credentials, all existing connections on the target are closed and initiators must reconnect with the new credentials.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateChapCredentialsInput"
      },
      "name": "UpdateChapCredentials",
      "output": {
        "shape": "UpdateChapCredentialsOutput"
      }
    },
    "UpdateGatewayInformation": {
      "documentation": "<p>Updates a gateway's metadata, which includes the gateway's name and time zone. To specify which gateway to update, use the Amazon Resource Name (ARN) of the gateway in your request.</p> <note> <p>For Gateways activated after September 2, 2015, the gateway's ARN contains the gateway ID rather than the gateway name. However, changing the name of the gateway has no effect on the gateway's ARN.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGatewayInformationInput"
      },
      "name": "UpdateGatewayInformation",
      "output": {
        "shape": "UpdateGatewayInformationOutput"
      }
    },
    "UpdateGatewaySoftwareNow": {
      "documentation": "<p>Updates the gateway virtual machine (VM) software. The request immediately triggers the software update.</p> <note> <p>When you make this request, you get a <code>200 OK</code> success response immediately. However, it might take some time for the update to complete. You can call <a>DescribeGatewayInformation</a> to verify the gateway is in the <code>STATE_RUNNING</code> state.</p> </note> <important> <p>A software update forces a system restart of your gateway. You can minimize the chance of any disruption to your applications by increasing your iSCSI Initiators' timeouts. For more information about increasing iSCSI Initiator timeouts for Windows and Linux, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/ConfiguringiSCSIClientInitiatorWindowsClient.html#CustomizeWindowsiSCSISettings\">Customizing Your Windows iSCSI Settings</a> and <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/ConfiguringiSCSIClientInitiatorRedHatClient.html#CustomizeLinuxiSCSISettings\">Customizing Your Linux iSCSI Settings</a>, respectively.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGatewaySoftwareNowInput"
      },
      "name": "UpdateGatewaySoftwareNow",
      "output": {
        "shape": "UpdateGatewaySoftwareNowOutput"
      }
    },
    "UpdateMaintenanceStartTime": {
      "documentation": "<p>Updates a gateway's weekly maintenance start time information, including day and time of the week. The maintenance time is the time in your gateway's time zone.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateMaintenanceStartTimeInput"
      },
      "name": "UpdateMaintenanceStartTime",
      "output": {
        "shape": "UpdateMaintenanceStartTimeOutput"
      }
    },
    "UpdateNFSFileShare": {
      "documentation": "<p>Updates a Network File System (NFS) file share. This operation is only supported in the file gateway type.</p> <note> <p>To leave a file share field unchanged, set the corresponding input field to null.</p> </note> <p>Updates the following file share setting:</p> <ul> <li> <p>Default storage class for your S3 bucket</p> </li> <li> <p>Metadata defaults for your S3 bucket</p> </li> <li> <p>Allowed NFS clients for your file share</p> </li> <li> <p>Squash settings</p> </li> <li> <p>Write status of your file share</p> </li> </ul> <note> <p>To leave a file share field unchanged, set the corresponding input field to null. This operation is only supported in file gateways.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNFSFileShareInput"
      },
      "name": "UpdateNFSFileShare",
      "output": {
        "shape": "UpdateNFSFileShareOutput"
      }
    },
    "UpdateSMBFileShare": {
      "documentation": "<p>Updates a Server Message Block (SMB) file share.</p> <note> <p>To leave a file share field unchanged, set the corresponding input field to null. This operation is only supported for file gateways.</p> </note> <important> <p>File gateways require AWS Security Token Service (AWS STS) to be activated to enable you to create a file share. Make sure that AWS STS is activated in the AWS Region you are creating your file gateway in. If AWS STS is not activated in this AWS Region, activate it. For information about how to activate AWS STS, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp_enable-regions.html\">Activating and Deactivating AWS STS in an AWS Region</a> in the <i>AWS Identity and Access Management User Guide.</i> </p> <p>File gateways don't support creating hard or symbolic links on a file share.</p> </important>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSMBFileShareInput"
      },
      "name": "UpdateSMBFileShare",
      "output": {
        "shape": "UpdateSMBFileShareOutput"
      }
    },
    "UpdateSMBSecurityStrategy": {
      "documentation": "<p>Updates the SMB security strategy on a file gateway. This action is only supported in file gateways.</p> <note> <p>This API is called Security level in the User Guide.</p> <p>A higher security level can affect performance of the gateway.</p> </note>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSMBSecurityStrategyInput"
      },
      "name": "UpdateSMBSecurityStrategy",
      "output": {
        "shape": "UpdateSMBSecurityStrategyOutput"
      }
    },
    "UpdateSnapshotSchedule": {
      "documentation": "<p>Updates a snapshot schedule configured for a gateway volume. This operation is only supported in the cached volume and stored volume gateway types.</p> <p>The default snapshot schedule for volume is once every 24 hours, starting at the creation time of the volume. You can use this API to change the snapshot schedule configured for the volume.</p> <p>In the request you must identify the gateway volume whose snapshot schedule you want to update, and the schedule information, including when you want the snapshot to begin on a day and the frequency (in hours) of snapshots.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSnapshotScheduleInput"
      },
      "name": "UpdateSnapshotSchedule",
      "output": {
        "shape": "UpdateSnapshotScheduleOutput"
      }
    },
    "UpdateVTLDeviceType": {
      "documentation": "<p>Updates the type of medium changer in a tape gateway. When you activate a tape gateway, you select a medium changer type for the tape gateway. This operation enables you to select a different type of medium changer after a tape gateway is activated. This operation is only supported in the tape gateway type.</p>",
      "errors": [
        {
          "shape": "InvalidGatewayRequestException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateVTLDeviceTypeInput"
      },
      "name": "UpdateVTLDeviceType",
      "output": {
        "shape": "UpdateVTLDeviceTypeOutput"
      }
    }
  },
  "shapes": {
    "ActivateGatewayInput": {
      "documentation": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>ActivateGatewayInput$ActivationKey</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayName</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayRegion</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayTimezone</a> </p> </li> <li> <p> <a>ActivateGatewayInput$GatewayType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$TapeDriveType</a> </p> </li> <li> <p> <a>ActivateGatewayInput$MediumChangerType</a> </p> </li> </ul>",
      "members": {
        "ActivationKey": {
          "documentation": "<p>Your gateway activation key. You can obtain the activation key by sending an HTTP GET request with redirects enabled to the gateway IP address (port 80). The redirect URL returned in the response provides you the activation key for your gateway in the query string parameter <code>activationKey</code>. It may also include other activation-related parameters, however, these are merely defaults -- the arguments you pass to the <code>ActivateGateway</code> API call determine the actual configuration of your gateway. </p> <p>For more information, see https://docs.aws.amazon.com/storagegateway/latest/userguide/get-activation-key.html in the Storage Gateway User Guide.</p>",
          "shape": "ActivationKey"
        },
        "GatewayName": {
          "documentation": "<p>The name you configured for your gateway.</p>",
          "shape": "GatewayName"
        },
        "GatewayRegion": {
          "documentation": "<p>A value that indicates the AWS Region where you want to store your data. The gateway AWS Region specified must be the same AWS Region as the AWS Region in your <code>Host</code> header in the request. For more information about available AWS Regions and endpoints for AWS Storage Gateway, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p> <p> Valid Values: See <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">AWS Storage Gateway Regions and Endpoints</a> in the AWS General Reference. </p>",
          "shape": "RegionId"
        },
        "GatewayTimezone": {
          "documentation": "<p>A value that indicates the time zone you want to set for the gateway. The time zone is of the format \"GMT-hr:mm\" or \"GMT+hr:mm\". For example, GMT-4:00 indicates the time is 4 hours behind GMT. GMT+2:00 indicates the time is 2 hours ahead of GMT. The time zone is used, for example, for scheduling snapshots and your gateway's maintenance schedule.</p>",
          "shape": "GatewayTimezone"
        },
        "GatewayType": {
          "documentation": "<p>A value that defines the type of gateway to activate. The type specified is critical to all later functions of the gateway and cannot be changed after activation. The default value is <code>CACHED</code>. </p> <p> Valid Values: \"STORED\", \"CACHED\", \"VTL\", \"FILE_S3\"</p>",
          "shape": "GatewayType"
        },
        "MediumChangerType": {
          "documentation": "<p>The value that indicates the type of medium changer to use for tape gateway. This field is optional.</p> <p> Valid Values: \"STK-L700\", \"AWS-Gateway-VTL\"</p>",
          "shape": "MediumChangerType"
        },
        "Tags": {
          "documentation": "<p>A list of up to 50 tags that you can assign to the gateway. Each tag is a key-value pair.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers that can be represented in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length of a tag's key is 128 characters, and the maximum length for a tag's value is 256 characters.</p> </note>",
          "shape": "Tags"
        },
        "TapeDriveType": {
          "documentation": "<p>The value that indicates the type of tape drive to use for tape gateway. This field is optional.</p> <p> Valid Values: \"IBM-ULT3580-TD5\" </p>",
          "shape": "TapeDriveType"
        }
      },
      "required": [
        "ActivationKey",
        "GatewayName",
        "GatewayTimezone",
        "GatewayRegion"
      ],
      "type": "structure"
    },
    "ActivateGatewayOutput": {
      "documentation": "<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and AWS Region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p> <note> <p>For gateways activated prior to September 02, 2015, the gateway ARN contains the gateway name rather than the gateway ID. Changing the name of the gateway has no effect on the gateway ARN.</p> </note>",
      "members": {
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "type": "structure"
    },
    "ActivationKey": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "ActiveDirectoryStatus": {
      "enum": [
        "ACCESS_DENIED",
        "DETACHED",
        "JOINED",
        "JOINING",
        "NETWORK_ERROR",
        "TIMEOUT",
        "UNKNOWN_ERROR"
      ],
      "type": "string"
    },
    "AddCacheInput": {
      "members": {
        "DiskIds": {
          "documentation": "<p>An array of strings that identify disks that are to be configured as working storage. Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>",
          "shape": "DiskIds"
        },
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "required": [
        "GatewayARN",
        "DiskIds"
      ],
      "type": "structure"
    },
    "AddCacheOutput": {
      "members": {
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "type": "structure"
    },
    "AddTagsToResourceInput": {
      "documentation": "<p>AddTagsToResourceInput</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>",
          "shape": "ResourceARN"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag you want to add to the resource. The value can be an empty string.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. The maximum length of a tag's key is 128 characters, and the maximum length for a tag's value is 256.</p> </note>",
          "shape": "Tags"
        }
      },
      "required": [
        "ResourceARN",
        "Tags"
      ],
      "type": "structure"
    },
    "AddTagsToResourceOutput": {
      "documentation": "<p>AddTagsToResourceOutput</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource you want to add tags to.</p>",
          "shape": "ResourceARN"
        }
      },
      "type": "structure"
    },
    "AddUploadBufferInput": {
      "members": {
        "DiskIds": {
          "documentation": "<p>An array of strings that identify disks that are to be configured as working storage. Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>",
          "shape": "DiskIds"
        },
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "required": [
        "GatewayARN",
        "DiskIds"
      ],
      "type": "structure"
    },
    "AddUploadBufferOutput": {
      "members": {
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "type": "structure"
    },
    "AddWorkingStorageInput": {
      "documentation": "<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <p> <a>AddWorkingStorageInput$DiskIds</a> </p> </li> </ul>",
      "members": {
        "DiskIds": {
          "documentation": "<p>An array of strings that identify disks that are to be configured as working storage. Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>",
          "shape": "DiskIds"
        },
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "required": [
        "GatewayARN",
        "DiskIds"
      ],
      "type": "structure"
    },
    "AddWorkingStorageOutput": {
      "documentation": "<p>A JSON object containing the of the gateway for which working storage was configured.</p>",
      "members": {
        "GatewayARN": {
          "shape": "GatewayARN"
        }
      },
      "type": "structure"
    },
    "AssignTapePoolInput": {
      "members": {
        "PoolId": {
          "documentation": "<p>The ID of the pool that you want to add your tape to for archiving. The tape in this pool is archived in the S3 storage class that is associated with the pool. When you use your backup application to eject the tape, the tape is archived directly into the storage class (Glacier or Deep Archive) that corresponds to the pool.</p> <p>Valid values: \"GLACIER\", \"DEEP_ARCHIVE\"</p>",
          "shape": "PoolId"
        },
        "TapeARN": {
          "documentation": "<p>The unique Amazon Resource Name (ARN) of the virtual tape that you want to add to the tape pool.</p>",
          "shape": "TapeARN"
        }
      },
      "required": [
        "TapeARN",
        "PoolId"
      ],
      "type": "structure"
    },
    "AssignTapePoolOutput": {
      "members": {
        "TapeARN": {
          "documentation": "<p>The unique Amazon Resource Names (ARN) of the virtual tape that was added to the tape pool.</p>",
          "shape": "TapeARN"
        }
      },
      "type": "structure"
    },
    "AttachVolumeInput": {
      "documentation": "<p>AttachVolumeInput</p>",
      "members": {
        "DiskId": {
          "documentation": "<p>The unique device ID or other distinguishing data that identifies the local disk used to create the volume. This value is only required when you are attaching a stored volume.</p>",
          "shape": "DiskId"
        },
        "GatewayARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the gateway that you want to attach the volume to.</p>",
          "shape": "GatewayARN"
        },
        "NetworkInterfaceId": {
          "documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4 addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of the network interfaces available on a gateway.</p> <p> Valid Values: A valid IP address.</p>",
          "shape": "NetworkInterfaceId"
        },
        "TargetName": {
          "documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a suffix for the target ARN. For example, specifying <code>TargetName</code> as <i>myvolume</i> results in the target ARN of <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>. The target name must be unique across all volumes on a gateway.</p> <p>If you don't specify a value, Storage Gateway uses the value that was previously used for this volume as the new target name.</p>",
          "shape": "TargetName"
        },
        "VolumeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the volume to attach to the specified gateway.</p>",
          "shape": "VolumeARN"
        }
      },
      "required": [
        "GatewayARN",
        "VolumeARN",
        "NetworkInterfaceId"
      ],
      "type": "structure"
    },
    "AttachVolumeOutput": {
      "documentation": "<p>AttachVolumeOutput</p>",
      "members": {
        "TargetARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the volume target, which includes the iSCSI name for the initiator that was used to connect to the target.</p>",
          "shape": "TargetARN"
        },
        "VolumeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the volume that was attached to the gateway.</p>",
          "shape": "VolumeARN"
        }
      },
      "type": "structure"
    },
    "AuditDestinationARN": {
      "max": 1024,
      "type": "string"
    },
    "Authentication": {
      "documentation": "<p>The authentication method of the file share.</p> <p>Valid values are <code>ActiveDirectory</code> or <code>GuestAccess</code>. The default is <code>ActiveDirectory</code>.</p>",
      "max": 15,
      "min": 5,
      "type": "string"
    },
    "AvailabilityMonitorTestStatus": {
      "enum": [
        "COMPLETE",
        "FAILED",
        "PENDING"
      ],
      "type": "string"
    },
    "BandwidthDownloadRateLimit": {
      "min": 102400,
      "type": "long"
    },
    "BandwidthType": {
      "max": 25,
      "min": 3,
      "type": "string"
    },
    "BandwidthUploadRateLimit": {
      "min": 51200,
      "type": "long"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CachediSCSIVolume": {
      "documentation": "<p>Describes an iSCSI cached volume.</p>",
      "members": {
        "CreatedDate": {
          "documentation": "<p>The date the volume was created. Volumes created prior to March 28, 2017 don\u2019t have this time stamp.</p>",
          "shape": "CreatedDate"
        },
        "KMSKey": {
          "shape": "KMSKey"
        },
        "SourceSnapshotId": {
          "documentation": "<p>If the cached volume was created from a snapshot, this field contains the snapshot ID used, e.g. snap-78e22663. Otherwise, this field is not included.</p>",
          "shape": "SnapshotId"
        },
        "TargetName": {
          "documentation": "<p>The name of the iSCSI target used by an initiator to connect to a volume and used as a suffix for the target ARN. For example, specifying <code>TargetName</code> as <i>myvolume</i> results in the target ARN of <code>arn:aws:storagegateway:us-east-2:111122223333:gateway/sgw-12A3456B/target/iqn.1997-05.com.amazon:myvolume</code>. The target name must be unique across all volumes on a gateway.</p> <p>If you don't specify a value, Storage Gateway uses the value that was previously used for this volume as the new target name.</p>",
          "shape": "TargetName"
        },
        "VolumeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the storage volume.</p>",
          "shape": "VolumeARN"
        },
        "VolumeAttachmentStatus": {
          "documentation": "<p>A value that indicates whether a storage volume is attached to or detached from a gateway. For more information, see <a href=\"https://docs.aws.amazon.com/storagegateway/latest/userguide/managing-volumes.html#attach-detach-volume\">Moving Your Volumes to a Different Gateway</a>.</p>",
          "shape": "VolumeAttachmentStatus"
        },
        "VolumeId": {
          "documentation": "<p>The unique identifier of the volume, e.g. vol-AE4B946D.</p>",
          "shape": "VolumeId"
        },
        "VolumeProgress": {
          "documentation": "<p>Represents the percentage complete if the volume is restoring or bootstrapping that represents the percent of data transferred. This field does not appear in the response if the cached volume is not restoring or bootstrapping.</p>",
          "shape": "DoubleObject"
        },
        "VolumeSizeInBytes": {
          "documentation": "<p>The size, in bytes, of the volume capacity.</p>",
          "shape": "long"
        },
        "VolumeStatus": {
          "documentation": "<p>One of the VolumeStatus values that indicates the state of the storage volume.</p>",
          "shape": "VolumeStatus"
        },
        "VolumeType": {
          "documentation": "<p>One of the VolumeType enumeration values that describes the type of the volume.</p>",
          "shape": "VolumeType"
        },
        "VolumeUsedInBytes": {
          "documentation": "<p>The size of the data stored on the volume in bytes. This value is calculated based on the number of blocks that are touched, instead of the actual amount of data written. This value can be useful for sequential write patterns but less accurate for random write patterns. <code>VolumeUsedInBytes</code> is different from the compressed size of the volume, which is the value that is used to calculate your bill.</p> <note> <p>This value is not available for volumes created prior to May 13, 2015, until you store data on the volume.</p> </note>",
          "shape": "VolumeUsedInBytes"
        },
        "VolumeiSCSIAttributes": {
          "documentation": "<p>An <a>VolumeiSCSIAttributes</a> object that represents a collection of iSCSI attributes for one stored volume.</p>",
          "shape": "VolumeiSCSIAttributes"
        }
      },
      "type": "structure"
    },
    "CachediSCSIVolumes": {
      "member": {
        "shape": "CachediSCSIVolume"
      },
      "type": "list"
    },
    "CancelArchivalInput": {
      "documentation": "<p>CancelArchivalInput</p>",
      "members": {
        "GatewayARN": {
          "shape": "GatewayARN"
        },
        "TapeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving for.</p>",
          "shape": "TapeARN"
        }
      },
      "required": [
        "GatewayARN",
        "TapeARN"
      ],
      "type": "structure"
    },
    "CancelArchivalOutput": {
      "documentation": "<p>CancelArchivalOutput</p>",
      "members": {
        "TapeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which archiving was canceled.</p>",
          "shape": "TapeARN"
        }
      },
      "type": "structure"
    },
    "CancelRetrievalInput": {
      "documentation": "<p>CancelRetrievalInput</p>",
      "members": {
        "GatewayARN": {
          "shape": "GatewayARN"
        },
        "TapeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval for.</p>",
          "shape": "TapeARN"
        }
      },
      "required": [
        "GatewayARN",
        "TapeARN"
      ],
      "type": "structure"
    },
    "CancelRetrievalOutput": {
      "documentation": "<p>CancelRetrievalOutput</p>",
      "members": {
        "TapeARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the virtual tape for which retrieval was canceled.</p>",
          "shape": "TapeARN"
        }
      },
      "type": "structure"
    },
    "ChapCredentials": {
      "member": {
        "shape": "ChapInfo"
      },
      "type": "list"
    },
    "ChapInfo": {
      "documentation": "<p>Describes Challenge-Handshake Authentication Protocol (CHAP) information that supports authentication between your gateway and iSCSI initiators.</p>",
      "members": {
        "InitiatorName": {
          "documentation": "<p>The iSCSI initiator that connects to the target.</p>",
          "shape": "IqnName"
        },
        "SecretToAuthenticateInitiator": {
          "documentation": "<p>The secret key that the initiator (for example, the Windows client) must provide to participate in mutual CHAP with the target.</p>",
          "shape": "ChapSecret"
        },
        "SecretToAuthenticateTarget": {
          "documentation": "<p>The secret key that the target must provide to participate in mutual CHAP with the initiator (e.g. Windows client).</p>",
          "shape": "ChapSecret"
        },
        "TargetARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the volume.</p> <p> Valid Values: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>",
          "shape": "TargetARN"
        }
      },
      "type": "structure"
    },
    "ChapSecret": {
      "max": 100,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ClientToken": {
      "max": 100,
      "min": 5,
      "type": "string"
    },
    "CloudWatchLogGroupARN": {
      "max": 562,
      "type": "string"
    },
    "CreateCachediSCSIVolumeInput": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A unique identifier that you use to retry a request. If you retry a request, use the same <code>ClientToken</code> you specified in the initial request.</p>",
          "shape": "ClientToken"
        },
        "GatewayARN": {
          "shape": "GatewayARN"
        },
        "KMSEncrypted": {
          "documentation": "<p>True to use Amazon S3 server side encryption with your own AWS KMS key, or false to use a key managed by Amazon S3. Optional.</p>",
          "shape": "Boolean"
        },
        "KMSKey": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS KMS key used for Amazon S3 server side encryption. This value can only be set when KMSEncrypted is true. Optional.</p>",
          "shape": "KMSKey"
        },
        "NetworkInterfaceId": {
          "documentation": "<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4 addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of the network interfaces available on a gateway.</p> <p> Valid Values: A valid IP address.</p>",
          "shape": "NetworkInterfaceId"
        },
        "SnapshotId": {
          "documentation": "<p>The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new cached volume. Specify this field if you want to create the iSCSI storage volume from a snapshot otherwise do not include this field. To list snapshots for your account use <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p>",
          "shape": "SnapshotId"
        },
        "SourceVolumeARN": {
          "documentation": "<p>The ARN for an existing volume. Specifying this ARN makes the new volume into an exact copy of the specified existing volume's latest recovery point. The <code>VolumeSizeInBytes</code> value for this new volume must be equal to or larger than the size of the existing volume, in bytes.</p>",
          "shape": "VolumeARN"
        },
        "Tags": {
[...]
