{
  "documentation": "<fullname>Amazon Pinpoint Email Service</fullname> <p>Welcome to the <i>Amazon Pinpoint Email API Reference</i>. This guide provides information about the Amazon Pinpoint Email API (version 1.0), including supported operations, data types, parameters, and schemas.</p> <p> <a href=\"https://aws.amazon.com/pinpoint\">Amazon Pinpoint</a> is an AWS service that you can use to engage with your customers across multiple messaging channels. You can use Amazon Pinpoint to send email, SMS text messages, voice messages, and push notifications. The Amazon Pinpoint Email API provides programmatic access to options that are unique to the email channel and supplement the options provided by the Amazon Pinpoint API.</p> <p>If you're new to Amazon Pinpoint, you might find it helpful to also review the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/developerguide/welcome.html\">Amazon Pinpoint Developer Guide</a>. The <i>Amazon Pinpoint Developer Guide</i> provides tutorials, code samples, and procedures that demonstrate how to use Amazon Pinpoint features programmatically and how to integrate Amazon Pinpoint functionality into mobile apps and other types of applications. The guide also provides information about key topics such as Amazon Pinpoint integration with other AWS services and the limits that apply to using the service.</p> <p>The Amazon Pinpoint Email API is available in several AWS Regions and it provides an endpoint for each of these Regions. For a list of all the Regions and endpoints where the API is currently available, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#pinpoint_region\">AWS Service Endpoints</a> in the <i>Amazon Web Services General Reference</i>. To learn more about AWS Regions, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande-manage.html\">Managing AWS Regions</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>In each Region, AWS maintains multiple Availability Zones. These Availability Zones are physically isolated from each other, but are united by private, low-latency, high-throughput, and highly redundant network connections. These Availability Zones enable us to provide very high levels of availability and redundancy, while also minimizing latency. To learn more about the number of Availability Zones that are available in each Region, see <a href=\"http://aws.amazon.com/about-aws/global-infrastructure/\">AWS Global Infrastructure</a>.</p>",
  "metadata": {
    "apiVersion": "2018-07-26",
    "endpointPrefix": "email",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Pinpoint Email",
    "serviceFullName": "Amazon Pinpoint Email Service",
    "serviceId": "Pinpoint Email",
    "signatureVersion": "v4",
    "signingName": "ses",
    "uid": "pinpoint-email-2018-07-26"
  },
  "operations": {
    "CreateConfigurationSet": {
      "documentation": "<p>Create a configuration set. <i>Configuration sets</i> are groups of rules that you can apply to the emails you send using Amazon Pinpoint. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email. </p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/configuration-sets"
      },
      "input": {
        "shape": "CreateConfigurationSetRequest"
      },
      "name": "CreateConfigurationSet",
      "output": {
        "shape": "CreateConfigurationSetResponse"
      }
    },
    "CreateConfigurationSetEventDestination": {
      "documentation": "<p>Create an event destination. In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p> <p>A single configuration set can include more than one event destination.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "shape": "CreateConfigurationSetEventDestinationRequest"
      },
      "name": "CreateConfigurationSetEventDestination",
      "output": {
        "shape": "CreateConfigurationSetEventDestinationResponse"
      }
    },
    "CreateDedicatedIpPool": {
      "documentation": "<p>Create a new pool of dedicated IP addresses. A pool can include one or more dedicated IP addresses that are associated with your Amazon Pinpoint account. You can associate a pool with a configuration set. When you send an email that uses that configuration set, Amazon Pinpoint sends it using only the IP addresses in the associated pool.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/dedicated-ip-pools"
      },
      "input": {
        "shape": "CreateDedicatedIpPoolRequest"
      },
      "name": "CreateDedicatedIpPool",
      "output": {
        "shape": "CreateDedicatedIpPoolResponse"
      }
    },
    "CreateDeliverabilityTestReport": {
      "documentation": "<p>Create a new predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
      "errors": [
        {
          "shape": "AccountSuspendedException"
        },
        {
          "shape": "SendingPausedException"
        },
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/deliverability-dashboard/test"
      },
      "input": {
        "shape": "CreateDeliverabilityTestReportRequest"
      },
      "name": "CreateDeliverabilityTestReport",
      "output": {
        "shape": "CreateDeliverabilityTestReportResponse"
      }
    },
    "CreateEmailIdentity": {
      "documentation": "<p>Verifies an email identity for use with Amazon Pinpoint. In Amazon Pinpoint, an identity is an email address or domain that you use when you send email. Before you can use an identity to send email with Amazon Pinpoint, you first have to verify it. By verifying an address, you demonstrate that you're the owner of the address, and that you've given Amazon Pinpoint permission to send email from the address.</p> <p>When you verify an email address, Amazon Pinpoint sends an email to the address. Your email address is verified as soon as you follow the link in the verification email. </p> <p>When you verify a domain, this operation provides a set of DKIM tokens, which you can convert into CNAME tokens. You add these CNAME tokens to the DNS configuration for your domain. Your domain is verified when Amazon Pinpoint detects these records in the DNS configuration for your domain. It usually takes around 72 hours to complete the domain verification process.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/identities"
      },
      "input": {
        "shape": "CreateEmailIdentityRequest"
      },
      "name": "CreateEmailIdentity",
      "output": {
        "shape": "CreateEmailIdentityResponse"
      }
    },
    "DeleteConfigurationSet": {
      "documentation": "<p>Delete an existing configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "shape": "DeleteConfigurationSetRequest"
      },
      "name": "DeleteConfigurationSet",
      "output": {
        "shape": "DeleteConfigurationSetResponse"
      }
    },
    "DeleteConfigurationSetEventDestination": {
      "documentation": "<p>Delete an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "shape": "DeleteConfigurationSetEventDestinationRequest"
      },
      "name": "DeleteConfigurationSetEventDestination",
      "output": {
        "shape": "DeleteConfigurationSetEventDestinationResponse"
      }
    },
    "DeleteDedicatedIpPool": {
      "documentation": "<p>Delete a dedicated IP pool.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/dedicated-ip-pools/{PoolName}"
      },
      "input": {
        "shape": "DeleteDedicatedIpPoolRequest"
      },
      "name": "DeleteDedicatedIpPool",
      "output": {
        "shape": "DeleteDedicatedIpPoolResponse"
      }
    },
    "DeleteEmailIdentity": {
      "documentation": "<p>Deletes an email identity that you previously verified for use with Amazon Pinpoint. An identity can be either an email address or a domain name.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/identities/{EmailIdentity}"
      },
      "input": {
        "shape": "DeleteEmailIdentityRequest"
      },
      "name": "DeleteEmailIdentity",
      "output": {
        "shape": "DeleteEmailIdentityResponse"
      }
    },
    "GetAccount": {
      "documentation": "<p>Obtain information about the email-sending status and capabilities of your Amazon Pinpoint account in the current AWS Region.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/account"
      },
      "input": {
        "shape": "GetAccountRequest"
      },
      "name": "GetAccount",
      "output": {
        "shape": "GetAccountResponse"
      }
    },
    "GetBlacklistReports": {
      "documentation": "<p>Retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/blacklist-report"
      },
      "input": {
        "shape": "GetBlacklistReportsRequest"
      },
      "name": "GetBlacklistReports",
      "output": {
        "shape": "GetBlacklistReportsResponse"
      }
    },
    "GetConfigurationSet": {
      "documentation": "<p>Get information about an existing configuration set, including the dedicated IP pool that it's associated with, whether or not it's enabled for sending email, and more.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}"
      },
      "input": {
        "shape": "GetConfigurationSetRequest"
      },
      "name": "GetConfigurationSet",
      "output": {
        "shape": "GetConfigurationSetResponse"
      }
    },
    "GetConfigurationSetEventDestinations": {
      "documentation": "<p>Retrieve a list of event destinations that are associated with a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations"
      },
      "input": {
        "shape": "GetConfigurationSetEventDestinationsRequest"
      },
      "name": "GetConfigurationSetEventDestinations",
      "output": {
        "shape": "GetConfigurationSetEventDestinationsResponse"
      }
    },
    "GetDedicatedIp": {
      "documentation": "<p>Get information about a dedicated IP address, including the name of the dedicated IP pool that it's associated with, as well information about the automatic warm-up process for the address.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ips/{IP}"
      },
      "input": {
        "shape": "GetDedicatedIpRequest"
      },
      "name": "GetDedicatedIp",
      "output": {
        "shape": "GetDedicatedIpResponse"
      }
    },
    "GetDedicatedIps": {
      "documentation": "<p>List the dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ips"
      },
      "input": {
        "shape": "GetDedicatedIpsRequest"
      },
      "name": "GetDedicatedIps",
      "output": {
        "shape": "GetDedicatedIpsResponse"
      }
    },
    "GetDeliverabilityDashboardOptions": {
      "documentation": "<p>Retrieve information about the status of the Deliverability dashboard for your Amazon Pinpoint account. When the Deliverability dashboard is enabled, you gain access to reputation, deliverability, and other metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly subscription charge, in addition to any other fees that you accrue by using Amazon Pinpoint. For more information about the features and cost of a Deliverability dashboard subscription, see <a href=\"http://aws.amazon.com/pinpoint/pricing/\">Amazon Pinpoint Pricing</a>.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard"
      },
      "input": {
        "shape": "GetDeliverabilityDashboardOptionsRequest"
      },
      "name": "GetDeliverabilityDashboardOptions",
      "output": {
        "shape": "GetDeliverabilityDashboardOptionsResponse"
      }
    },
    "GetDeliverabilityTestReport": {
      "documentation": "<p>Retrieve the results of a predictive inbox placement test.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/test-reports/{ReportId}"
      },
      "input": {
        "shape": "GetDeliverabilityTestReportRequest"
      },
      "name": "GetDeliverabilityTestReport",
      "output": {
        "shape": "GetDeliverabilityTestReportResponse"
      }
    },
    "GetDomainDeliverabilityCampaign": {
      "documentation": "<p>Retrieve all the deliverability data for a specific campaign. This data is available for a campaign only if the campaign sent email by using a domain that the Deliverability dashboard is enabled for (<code>PutDeliverabilityDashboardOption</code> operation).</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/campaigns/{CampaignId}"
      },
      "input": {
        "shape": "GetDomainDeliverabilityCampaignRequest"
      },
      "name": "GetDomainDeliverabilityCampaign",
      "output": {
        "shape": "GetDomainDeliverabilityCampaignResponse"
      }
    },
    "GetDomainStatisticsReport": {
      "documentation": "<p>Retrieve inbox placement and engagement rates for the domains that you use to send email.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/statistics-report/{Domain}"
      },
      "input": {
        "shape": "GetDomainStatisticsReportRequest"
      },
      "name": "GetDomainStatisticsReport",
      "output": {
        "shape": "GetDomainStatisticsReportResponse"
      }
    },
    "GetEmailIdentity": {
      "documentation": "<p>Provides information about a specific identity associated with your Amazon Pinpoint account, including the identity's verification status, its DKIM authentication status, and its custom Mail-From settings.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/identities/{EmailIdentity}"
      },
      "input": {
        "shape": "GetEmailIdentityRequest"
      },
      "name": "GetEmailIdentity",
      "output": {
        "shape": "GetEmailIdentityResponse"
      }
    },
    "ListConfigurationSets": {
      "documentation": "<p>List all of the configuration sets associated with your Amazon Pinpoint account in the current region.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/configuration-sets"
      },
      "input": {
        "shape": "ListConfigurationSetsRequest"
      },
      "name": "ListConfigurationSets",
      "output": {
        "shape": "ListConfigurationSetsResponse"
      }
    },
    "ListDedicatedIpPools": {
      "documentation": "<p>List all of the dedicated IP pools that exist in your Amazon Pinpoint account in the current AWS Region.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/dedicated-ip-pools"
      },
      "input": {
        "shape": "ListDedicatedIpPoolsRequest"
      },
      "name": "ListDedicatedIpPools",
      "output": {
        "shape": "ListDedicatedIpPoolsResponse"
      }
    },
    "ListDeliverabilityTestReports": {
      "documentation": "<p>Show a list of the predictive inbox placement tests that you've performed, regardless of their statuses. For predictive inbox placement tests that are complete, you can use the <code>GetDeliverabilityTestReport</code> operation to view the results.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/test-reports"
      },
      "input": {
        "shape": "ListDeliverabilityTestReportsRequest"
      },
      "name": "ListDeliverabilityTestReports",
      "output": {
        "shape": "ListDeliverabilityTestReportsResponse"
      }
    },
    "ListDomainDeliverabilityCampaigns": {
      "documentation": "<p>Retrieve deliverability data for all the campaigns that used a specific domain to send email during a specified time range. This data is available for a domain only if you enabled the Deliverability dashboard (<code>PutDeliverabilityDashboardOption</code> operation) for the domain.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/deliverability-dashboard/domains/{SubscribedDomain}/campaigns"
      },
      "input": {
        "shape": "ListDomainDeliverabilityCampaignsRequest"
      },
      "name": "ListDomainDeliverabilityCampaigns",
      "output": {
        "shape": "ListDomainDeliverabilityCampaignsResponse"
      }
    },
    "ListEmailIdentities": {
      "documentation": "<p>Returns a list of all of the email identities that are associated with your Amazon Pinpoint account. An identity can be either an email address or a domain. This operation returns identities that are verified as well as those that aren't.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/identities"
      },
      "input": {
        "shape": "ListEmailIdentitiesRequest"
      },
      "name": "ListEmailIdentities",
      "output": {
        "shape": "ListEmailIdentitiesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieve a list of the tags (keys and values) that are associated with a specified resource. A\u00a0<i>tag</i>\u00a0is a label that you optionally define and associate with a resource in Amazon Pinpoint. Each tag consists of a required\u00a0<i>tag key</i>\u00a0and an optional associated\u00a0<i>tag value</i>. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/email/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutAccountDedicatedIpWarmupAttributes": {
      "documentation": "<p>Enable or disable the automatic warm-up feature for dedicated IP addresses.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/account/dedicated-ips/warmup"
      },
      "input": {
        "shape": "PutAccountDedicatedIpWarmupAttributesRequest"
      },
      "name": "PutAccountDedicatedIpWarmupAttributes",
      "output": {
        "shape": "PutAccountDedicatedIpWarmupAttributesResponse"
      }
    },
    "PutAccountSendingAttributes": {
      "documentation": "<p>Enable or disable the ability of your account to send email.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/account/sending"
      },
      "input": {
        "shape": "PutAccountSendingAttributesRequest"
      },
      "name": "PutAccountSendingAttributes",
      "output": {
        "shape": "PutAccountSendingAttributesResponse"
      }
    },
    "PutConfigurationSetDeliveryOptions": {
      "documentation": "<p>Associate a configuration set with a dedicated IP pool. You can use dedicated IP pools to create groups of dedicated IP addresses for sending specific types of email.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/delivery-options"
      },
      "input": {
        "shape": "PutConfigurationSetDeliveryOptionsRequest"
      },
      "name": "PutConfigurationSetDeliveryOptions",
      "output": {
        "shape": "PutConfigurationSetDeliveryOptionsResponse"
      }
    },
    "PutConfigurationSetReputationOptions": {
      "documentation": "<p>Enable or disable collection of reputation metrics for emails that you send using a particular configuration set in a specific AWS Region.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/reputation-options"
      },
      "input": {
        "shape": "PutConfigurationSetReputationOptionsRequest"
      },
      "name": "PutConfigurationSetReputationOptions",
      "output": {
        "shape": "PutConfigurationSetReputationOptionsResponse"
      }
    },
    "PutConfigurationSetSendingOptions": {
      "documentation": "<p>Enable or disable email sending for messages that use a particular configuration set in a specific AWS Region.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/sending"
      },
      "input": {
        "shape": "PutConfigurationSetSendingOptionsRequest"
      },
      "name": "PutConfigurationSetSendingOptions",
      "output": {
        "shape": "PutConfigurationSetSendingOptionsResponse"
      }
    },
    "PutConfigurationSetTrackingOptions": {
      "documentation": "<p>Specify a custom domain to use for open and click tracking elements in email that you send using Amazon Pinpoint.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/tracking-options"
      },
      "input": {
        "shape": "PutConfigurationSetTrackingOptionsRequest"
      },
      "name": "PutConfigurationSetTrackingOptions",
      "output": {
        "shape": "PutConfigurationSetTrackingOptionsResponse"
      }
    },
    "PutDedicatedIpInPool": {
      "documentation": "<p>Move a dedicated IP address to an existing dedicated IP pool.</p> <note> <p>The dedicated IP address that you specify must already exist, and must be associated with your Amazon Pinpoint account. </p> <p>The dedicated IP pool you specify must already exist. You can create a new pool by using the <code>CreateDedicatedIpPool</code> operation.</p> </note>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/dedicated-ips/{IP}/pool"
      },
      "input": {
        "shape": "PutDedicatedIpInPoolRequest"
      },
      "name": "PutDedicatedIpInPool",
      "output": {
        "shape": "PutDedicatedIpInPoolResponse"
      }
    },
    "PutDedicatedIpWarmupAttributes": {
      "documentation": "<p/>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/dedicated-ips/{IP}/warmup"
      },
      "input": {
        "shape": "PutDedicatedIpWarmupAttributesRequest"
      },
      "name": "PutDedicatedIpWarmupAttributes",
      "output": {
        "shape": "PutDedicatedIpWarmupAttributesResponse"
      }
    },
    "PutDeliverabilityDashboardOption": {
      "documentation": "<p>Enable or disable the Deliverability dashboard for your Amazon Pinpoint account. When you enable the Deliverability dashboard, you gain access to reputation, deliverability, and other metrics for the domains that you use to send email using Amazon Pinpoint. You also gain the ability to perform predictive inbox placement tests.</p> <p>When you use the Deliverability dashboard, you pay a monthly subscription charge, in addition to any other fees that you accrue by using Amazon Pinpoint. For more information about the features and cost of a Deliverability dashboard subscription, see <a href=\"http://aws.amazon.com/pinpoint/pricing/\">Amazon Pinpoint Pricing</a>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/deliverability-dashboard"
      },
      "input": {
        "shape": "PutDeliverabilityDashboardOptionRequest"
      },
      "name": "PutDeliverabilityDashboardOption",
      "output": {
        "shape": "PutDeliverabilityDashboardOptionResponse"
      }
    },
    "PutEmailIdentityDkimAttributes": {
      "documentation": "<p>Used to enable or disable DKIM authentication for an email identity.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/dkim"
      },
      "input": {
        "shape": "PutEmailIdentityDkimAttributesRequest"
      },
      "name": "PutEmailIdentityDkimAttributes",
      "output": {
        "shape": "PutEmailIdentityDkimAttributesResponse"
      }
    },
    "PutEmailIdentityFeedbackAttributes": {
      "documentation": "<p>Used to enable or disable feedback forwarding for an identity. This setting determines what happens when an identity is used to send an email that results in a bounce or complaint event.</p> <p>When you enable feedback forwarding, Amazon Pinpoint sends you email notifications when bounce or complaint events occur. Amazon Pinpoint sends this notification to the address that you specified in the Return-Path header of the original email.</p> <p>When you disable feedback forwarding, Amazon Pinpoint sends notifications through other mechanisms, such as by notifying an Amazon SNS topic. You're required to have a method of tracking bounces and complaints. If you haven't set up another mechanism for receiving bounce or complaint notifications, Amazon Pinpoint sends an email notification when these events occur (even if this setting is disabled).</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/feedback"
      },
      "input": {
        "shape": "PutEmailIdentityFeedbackAttributesRequest"
      },
      "name": "PutEmailIdentityFeedbackAttributes",
      "output": {
        "shape": "PutEmailIdentityFeedbackAttributesResponse"
      }
    },
    "PutEmailIdentityMailFromAttributes": {
      "documentation": "<p>Used to enable or disable the custom Mail-From domain configuration for an email identity.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/identities/{EmailIdentity}/mail-from"
      },
      "input": {
        "shape": "PutEmailIdentityMailFromAttributesRequest"
      },
      "name": "PutEmailIdentityMailFromAttributes",
      "output": {
        "shape": "PutEmailIdentityMailFromAttributesResponse"
      }
    },
    "SendEmail": {
      "documentation": "<p>Sends an email message. You can use the Amazon Pinpoint Email API to send two types of messages:</p> <ul> <li> <p> <b>Simple</b> \u2013 A standard email message. When you create this type of message, you specify the sender, the recipient, and the message body, and Amazon Pinpoint assembles the message for you.</p> </li> <li> <p> <b>Raw</b> \u2013 A raw, MIME-formatted email message. When you send this type of email, you have to specify all of the message headers, as well as the message body. You can use this message type to send messages that contain attachments. The message that you specify has to be a valid MIME message.</p> </li> </ul>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccountSuspendedException"
        },
        {
          "shape": "SendingPausedException"
        },
        {
          "shape": "MessageRejected"
        },
        {
          "shape": "MailFromDomainNotVerifiedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/outbound-emails"
      },
      "input": {
        "shape": "SendEmailRequest"
      },
      "name": "SendEmail",
      "output": {
        "shape": "SendEmailResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Add one or more tags (keys and values) to a specified resource. A <i>tag</i>\u00a0is a label that you optionally define and associate with a resource in Amazon Pinpoint. Tags can help you categorize and manage resources in different ways, such as by purpose, owner, environment, or other criteria. A resource can have as many as 50 tags.</p> <p>Each tag consists of a required\u00a0<i>tag key</i>\u00a0and an associated\u00a0<i>tag value</i>, both of which you define. A tag key is a general label that acts as a category for more specific tag values. A tag value acts as a descriptor within a tag key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/email/tags"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove one or more tags (keys and values) from a specified resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/email/tags"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateConfigurationSetEventDestination": {
      "documentation": "<p>Update the configuration of an event destination for a configuration set.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/email/configuration-sets/{ConfigurationSetName}/event-destinations/{EventDestinationName}"
      },
      "input": {
        "shape": "UpdateConfigurationSetEventDestinationRequest"
      },
      "name": "UpdateConfigurationSetEventDestination",
      "output": {
        "shape": "UpdateConfigurationSetEventDestinationResponse"
      }
    }
  },
  "shapes": {
    "AccountSuspendedException": {
      "documentation": "<p>The message can't be sent because the account's ability to send email has been permanently restricted.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AlreadyExistsException": {
      "documentation": "<p>The resource specified in your request already exists.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AmazonResourceName": {
      "type": "string"
    },
    "BadRequestException": {
      "documentation": "<p>The input you provided is invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "BehaviorOnMxFailure": {
      "documentation": "<p>The action that you want Amazon Pinpoint to take if it can't read the required MX record for a custom MAIL FROM domain. When you set this value to <code>UseDefaultValue</code>, Amazon Pinpoint uses <i>amazonses.com</i> as the MAIL FROM domain. When you set this value to <code>RejectMessage</code>, Amazon Pinpoint returns a <code>MailFromDomainNotVerified</code> error, and doesn't attempt to deliver the email.</p> <p>These behaviors are taken when the custom MAIL FROM domain configuration is in the <code>Pending</code>, <code>Failed</code>, and <code>TemporaryFailure</code> states.</p>",
      "enum": [
        "USE_DEFAULT_VALUE",
        "REJECT_MESSAGE"
      ],
      "type": "string"
    },
    "BlacklistEntries": {
      "member": {
        "shape": "BlacklistEntry"
      },
      "type": "list"
    },
    "BlacklistEntry": {
      "documentation": "<p>An object that contains information about a blacklisting event that impacts one of the dedicated IP addresses that is associated with your account.</p>",
      "members": {
        "Description": {
          "documentation": "<p>Additional information about the blacklisting event, as provided by the blacklist maintainer.</p>",
          "shape": "BlacklistingDescription"
        },
        "ListingTime": {
          "documentation": "<p>The time when the blacklisting event occurred, shown in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "RblName": {
          "documentation": "<p>The name of the blacklist that the IP address appears on.</p>",
          "shape": "RblName"
        }
      },
      "type": "structure"
    },
    "BlacklistItemName": {
      "documentation": "<p>An IP address that you want to obtain blacklist information for.</p>",
      "type": "string"
    },
    "BlacklistItemNames": {
      "member": {
        "shape": "BlacklistItemName"
      },
      "type": "list"
    },
    "BlacklistReport": {
      "key": {
        "shape": "BlacklistItemName"
      },
      "type": "map",
      "value": {
        "shape": "BlacklistEntries"
      }
    },
    "BlacklistingDescription": {
      "documentation": "<p>A description of the blacklisting event.</p>",
      "type": "string"
    },
    "Body": {
      "documentation": "<p>Represents the body of the email message.</p>",
      "members": {
        "Html": {
          "documentation": "<p>An object that represents the version of the message that is displayed in email clients that support HTML. HTML messages can include formatted text, hyperlinks, images, and more. </p>",
          "shape": "Content"
        },
        "Text": {
          "documentation": "<p>An object that represents the version of the message that is displayed in email clients that don't support HTML, or clients where the recipient has disabled HTML rendering.</p>",
          "shape": "Content"
        }
      },
      "type": "structure"
    },
    "CampaignId": {
      "type": "string"
    },
    "Charset": {
      "type": "string"
    },
    "CloudWatchDestination": {
      "documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.</p>",
      "members": {
        "DimensionConfigurations": {
          "documentation": "<p>An array of objects that define the dimensions to use when you send email events to Amazon CloudWatch.</p>",
          "shape": "CloudWatchDimensionConfigurations"
        }
      },
      "required": [
        "DimensionConfigurations"
      ],
      "type": "structure"
    },
    "CloudWatchDimensionConfiguration": {
      "documentation": "<p>An object that defines the dimension configuration to use when you send Amazon Pinpoint email events to Amazon CloudWatch.</p>",
      "members": {
        "DefaultDimensionValue": {
          "documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the value of the dimension when you send an email. This value has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>",
          "shape": "DefaultDimensionValue"
        },
        "DimensionName": {
          "documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>",
          "shape": "DimensionName"
        },
        "DimensionValueSource": {
          "documentation": "<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>",
          "shape": "DimensionValueSource"
        }
      },
      "required": [
        "DimensionName",
        "DimensionValueSource",
        "DefaultDimensionValue"
      ],
      "type": "structure"
    },
    "CloudWatchDimensionConfigurations": {
      "member": {
        "shape": "CloudWatchDimensionConfiguration"
      },
      "type": "list"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>The resource is being modified by another operation or thread.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ConfigurationSetName": {
      "documentation": "<p>The name of a configuration set.</p> <p>In Amazon Pinpoint, <i>configuration sets</i> are groups of rules that you can apply to the emails you send. You apply a configuration set to an email by including a reference to the configuration set in the headers of the email. When you apply a configuration set to an email, all of the rules in that configuration set are applied to the email.</p>",
      "type": "string"
    },
    "ConfigurationSetNameList": {
      "member": {
        "shape": "ConfigurationSetName"
      },
      "type": "list"
    },
    "Content": {
      "documentation": "<p>An object that represents the content of the email, and optionally a character set specification.</p>",
      "members": {
        "Charset": {
          "documentation": "<p>The character set for the content. Because of the constraints of the SMTP protocol, Amazon Pinpoint uses 7-bit ASCII by default. If the text includes characters outside of the ASCII range, you have to specify a character set. For example, you could specify <code>UTF-8</code>, <code>ISO-8859-1</code>, or <code>Shift_JIS</code>.</p>",
          "shape": "Charset"
        },
        "Data": {
          "documentation": "<p>The content of the message itself.</p>",
          "shape": "MessageData"
        }
      },
      "required": [
        "Data"
      ],
      "type": "structure"
    },
    "CreateConfigurationSetEventDestinationRequest": {
      "documentation": "<p>A request to add an event destination to a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set that you want to add an event destination to.</p>",
          "location": "uri",
          "locationName": "ConfigurationSetName",
          "shape": "ConfigurationSetName"
        },
        "EventDestination": {
          "documentation": "<p>An object that defines the event destination.</p>",
          "shape": "EventDestinationDefinition"
        },
        "EventDestinationName": {
          "documentation": "<p>A name that identifies the event destination within the configuration set.</p>",
          "shape": "EventDestinationName"
        }
      },
      "required": [
        "ConfigurationSetName",
        "EventDestinationName",
        "EventDestination"
      ],
      "type": "structure"
    },
    "CreateConfigurationSetEventDestinationResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "CreateConfigurationSetRequest": {
      "documentation": "<p>A request to create a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "DeliveryOptions": {
          "documentation": "<p>An object that defines the dedicated IP pool that is used to send emails that you send using the configuration set.</p>",
          "shape": "DeliveryOptions"
        },
        "ReputationOptions": {
          "documentation": "<p>An object that defines whether or not Amazon Pinpoint collects reputation metrics for the emails that you send that use the configuration set.</p>",
          "shape": "ReputationOptions"
        },
        "SendingOptions": {
          "documentation": "<p>An object that defines whether or not Amazon Pinpoint can send email that you send using the configuration set.</p>",
          "shape": "SendingOptions"
        },
        "Tags": {
          "documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate with the configuration set.</p>",
          "shape": "TagList"
        },
        "TrackingOptions": {
          "documentation": "<p>An object that defines the open and click tracking options for emails that you send using the configuration set.</p>",
          "shape": "TrackingOptions"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "CreateConfigurationSetResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "CreateDedicatedIpPoolRequest": {
      "documentation": "<p>A request to create a new dedicated IP pool.</p>",
      "members": {
        "PoolName": {
          "documentation": "<p>The name of the dedicated IP pool.</p>",
          "shape": "PoolName"
        },
        "Tags": {
          "documentation": "<p>An object that defines the tags (keys and values) that you want to associate with the pool.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "PoolName"
      ],
      "type": "structure"
    },
    "CreateDedicatedIpPoolResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "CreateDeliverabilityTestReportRequest": {
      "documentation": "<p>A request to perform a predictive inbox placement test. Predictive inbox placement tests can help you predict how your messages will be handled by various email providers around the world. When you perform a predictive inbox placement test, you provide a sample message that contains the content that you plan to send to your customers. Amazon Pinpoint then sends that message to special email addresses spread across several major email providers. After about 24 hours, the test is complete, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
      "members": {
        "Content": {
          "documentation": "<p>The HTML body of the message that you sent when you performed the predictive inbox placement test.</p>",
          "shape": "EmailContent"
        },
        "FromEmailAddress": {
          "documentation": "<p>The email address that the predictive inbox placement test email was sent from.</p>",
          "shape": "EmailAddress"
        },
        "ReportName": {
          "documentation": "<p>A unique name that helps you to identify the predictive inbox placement test when you retrieve the results.</p>",
          "shape": "ReportName"
        },
        "Tags": {
          "documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate with the predictive inbox placement test.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "FromEmailAddress",
        "Content"
      ],
      "type": "structure"
    },
    "CreateDeliverabilityTestReportResponse": {
      "documentation": "<p>Information about the predictive inbox placement test that you created.</p>",
      "members": {
        "DeliverabilityTestStatus": {
          "documentation": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>",
          "shape": "DeliverabilityTestStatus"
        },
        "ReportId": {
          "documentation": "<p>A unique string that identifies the predictive inbox placement test.</p>",
          "shape": "ReportId"
        }
      },
      "required": [
        "ReportId",
        "DeliverabilityTestStatus"
      ],
      "type": "structure"
    },
    "CreateEmailIdentityRequest": {
      "documentation": "<p>A request to begin the verification process for an email identity (an email address or domain).</p>",
      "members": {
        "EmailIdentity": {
          "documentation": "<p>The email address or domain that you want to verify.</p>",
          "shape": "Identity"
        },
        "Tags": {
          "documentation": "<p>An array of objects that define the tags (keys and values) that you want to associate with the email identity.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "EmailIdentity"
      ],
      "type": "structure"
    },
    "CreateEmailIdentityResponse": {
      "documentation": "<p>If the email identity is a domain, this object contains tokens that you can use to create a set of CNAME records. To sucessfully verify your domain, you have to add these records to the DNS configuration for your domain.</p> <p>If the email identity is an email address, this object is empty. </p>",
      "members": {
        "DkimAttributes": {
          "documentation": "<p>An object that contains information about the DKIM attributes for the identity. This object includes the tokens that you use to create the CNAME records that are required to complete the DKIM verification process.</p>",
          "shape": "DkimAttributes"
        },
        "IdentityType": {
          "documentation": "<p>The email identity type.</p>",
          "shape": "IdentityType"
        },
        "VerifiedForSendingStatus": {
          "documentation": "<p>Specifies whether or not the identity is verified. In Amazon Pinpoint, you can only send email from verified email addresses or domains. For more information about verifying identities, see the <a href=\"https://docs.aws.amazon.com/pinpoint/latest/userguide/channels-email-manage-verify.html\">Amazon Pinpoint User Guide</a>.</p>",
          "shape": "Enabled"
        }
      },
      "type": "structure"
    },
    "CustomRedirectDomain": {
      "documentation": "<p>The domain that you want to use for tracking open and click events.</p>",
      "type": "string"
    },
    "DailyVolume": {
      "documentation": "<p>An object that contains information about the volume of email sent on each day of the analysis period.</p>",
      "members": {
        "DomainIspPlacements": {
          "documentation": "<p>An object that contains inbox placement metrics for a specified day in the analysis period, broken out by the recipient's email provider.</p>",
          "shape": "DomainIspPlacements"
        },
        "StartDate": {
          "documentation": "<p>The date that the DailyVolume metrics apply to, in Unix time.</p>",
          "shape": "Timestamp"
        },
        "VolumeStatistics": {
          "documentation": "<p>An object that contains inbox placement metrics for a specific day in the analysis period.</p>",
          "shape": "VolumeStatistics"
        }
      },
      "type": "structure"
    },
    "DailyVolumes": {
      "member": {
        "shape": "DailyVolume"
      },
      "type": "list"
    },
    "DedicatedIp": {
      "documentation": "<p>Contains information about a dedicated IP address that is associated with your Amazon Pinpoint account.</p> <p/>",
      "members": {
        "Ip": {
          "documentation": "<p>An IP address that is reserved for use by your Amazon Pinpoint account.</p>",
          "shape": "Ip"
        },
        "PoolName": {
          "documentation": "<p>The name of the dedicated IP pool that the IP address is associated with.</p>",
          "shape": "PoolName"
        },
        "WarmupPercentage": {
          "documentation": "<p>Indicates how complete the dedicated IP warm-up process is. When this value equals 1, the address has completed the warm-up process and is ready for use.</p>",
          "shape": "Percentage100Wrapper"
        },
        "WarmupStatus": {
          "documentation": "<p>The warm-up status of a dedicated IP address. The status can have one of the following values:</p> <ul> <li> <p> <code>IN_PROGRESS</code> \u2013 The IP address isn't ready to use because the dedicated IP warm-up process is ongoing.</p> </li> <li> <p> <code>DONE</code> \u2013 The dedicated IP warm-up process is complete, and the IP address is ready to use.</p> </li> </ul>",
          "shape": "WarmupStatus"
        }
      },
      "required": [
        "Ip",
        "WarmupStatus",
        "WarmupPercentage"
      ],
      "type": "structure"
    },
    "DedicatedIpList": {
      "documentation": "<p>A list of dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>",
      "member": {
        "shape": "DedicatedIp"
      },
      "type": "list"
    },
    "DefaultDimensionValue": {
      "documentation": "<p>The default value of the dimension that is published to Amazon CloudWatch if you don't provide the value of the dimension when you send an email. This value has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>",
      "type": "string"
    },
    "DeleteConfigurationSetEventDestinationRequest": {
      "documentation": "<p>A request to delete an event destination from a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set that contains the event destination that you want to delete.</p>",
          "location": "uri",
          "locationName": "ConfigurationSetName",
          "shape": "ConfigurationSetName"
        },
        "EventDestinationName": {
          "documentation": "<p>The name of the event destination that you want to delete.</p>",
          "location": "uri",
          "locationName": "EventDestinationName",
          "shape": "EventDestinationName"
        }
      },
      "required": [
        "ConfigurationSetName",
        "EventDestinationName"
      ],
      "type": "structure"
    },
    "DeleteConfigurationSetEventDestinationResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteConfigurationSetRequest": {
      "documentation": "<p>A request to delete a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set that you want to delete.</p>",
          "location": "uri",
          "locationName": "ConfigurationSetName",
          "shape": "ConfigurationSetName"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "DeleteConfigurationSetResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteDedicatedIpPoolRequest": {
      "documentation": "<p>A request to delete a dedicated IP pool.</p>",
      "members": {
        "PoolName": {
          "documentation": "<p>The name of the dedicated IP pool that you want to delete.</p>",
          "location": "uri",
          "locationName": "PoolName",
          "shape": "PoolName"
        }
      },
      "required": [
        "PoolName"
      ],
      "type": "structure"
    },
    "DeleteDedicatedIpPoolResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteEmailIdentityRequest": {
      "documentation": "<p>A request to delete an existing email identity. When you delete an identity, you lose the ability to use Amazon Pinpoint to send email from that identity. You can restore your ability to send email by completing the verification process for the identity again.</p>",
      "members": {
        "EmailIdentity": {
          "documentation": "<p>The identity (that is, the email address or domain) that you want to delete from your Amazon Pinpoint account.</p>",
          "location": "uri",
          "locationName": "EmailIdentity",
          "shape": "Identity"
        }
      },
      "required": [
        "EmailIdentity"
      ],
      "type": "structure"
    },
    "DeleteEmailIdentityResponse": {
      "documentation": "<p>An HTTP 200 response if the request succeeds, or an error message if the request fails.</p>",
      "members": {},
      "type": "structure"
    },
    "DeliverabilityDashboardAccountStatus": {
      "documentation": "<p>The current status of your Deliverability dashboard subscription. If this value is <code>PENDING_EXPIRATION</code>, your subscription is scheduled to expire at the end of the current calendar month.</p>",
      "enum": [
        "ACTIVE",
        "PENDING_EXPIRATION",
        "DISABLED"
      ],
      "type": "string"
    },
    "DeliverabilityTestReport": {
      "documentation": "<p>An object that contains metadata related to a predictive inbox placement test.</p>",
      "members": {
        "CreateDate": {
          "documentation": "<p>The date and time when the predictive inbox placement test was created, in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "DeliverabilityTestStatus": {
          "documentation": "<p>The status of the predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use the <code>GetDeliverabilityTestReport</code> to view the results of the test.</p>",
          "shape": "DeliverabilityTestStatus"
        },
        "FromEmailAddress": {
          "documentation": "<p>The sender address that you specified for the predictive inbox placement test.</p>",
          "shape": "EmailAddress"
        },
        "ReportId": {
          "documentation": "<p>A unique string that identifies the predictive inbox placement test.</p>",
          "shape": "ReportId"
        },
        "ReportName": {
          "documentation": "<p>A name that helps you identify a predictive inbox placement test report.</p>",
          "shape": "ReportName"
        },
        "Subject": {
          "documentation": "<p>The subject line for an email that you submitted in a predictive inbox placement test.</p>",
          "shape": "DeliverabilityTestSubject"
        }
      },
      "type": "structure"
    },
    "DeliverabilityTestReports": {
      "member": {
        "shape": "DeliverabilityTestReport"
      },
      "type": "list"
    },
    "DeliverabilityTestStatus": {
      "documentation": "<p>The status of a predictive inbox placement test. If the status is <code>IN_PROGRESS</code>, then the predictive inbox placement test is currently running. Predictive inbox placement tests are usually complete within 24 hours of creating the test. If the status is <code>COMPLETE</code>, then the test is finished, and you can use the <code>GetDeliverabilityTestReport</code> operation to view the results of the test.</p>",
      "enum": [
        "IN_PROGRESS",
        "COMPLETED"
      ],
      "type": "string"
    },
    "DeliverabilityTestSubject": {
      "documentation": "<p>The subject line for an email that you submitted in a predictive inbox placement test.</p>",
      "type": "string"
    },
    "DeliveryOptions": {
      "documentation": "<p>Used to associate a configuration set with a dedicated IP pool.</p>",
      "members": {
        "SendingPoolName": {
          "documentation": "<p>The name of the dedicated IP pool that you want to associate with the configuration set.</p>",
          "shape": "PoolName"
        },
        "TlsPolicy": {
          "documentation": "<p>Specifies whether messages that use the configuration set are required to use Transport Layer Security (TLS). If the value is <code>Require</code>, messages are only delivered if a TLS connection can be established. If the value is <code>Optional</code>, messages can be delivered in plain text if a TLS connection can't be established.</p>",
          "shape": "TlsPolicy"
        }
      },
      "type": "structure"
    },
    "Destination": {
      "documentation": "<p>An object that describes the recipients for an email.</p>",
      "members": {
        "BccAddresses": {
          "documentation": "<p>An array that contains the email addresses of the \"BCC\" (blind carbon copy) recipients for the email.</p>",
          "shape": "EmailAddressList"
        },
        "CcAddresses": {
          "documentation": "<p>An array that contains the email addresses of the \"CC\" (carbon copy) recipients for the email.</p>",
          "shape": "EmailAddressList"
        },
        "ToAddresses": {
          "documentation": "<p>An array that contains the email addresses of the \"To\" recipients for the email.</p>",
          "shape": "EmailAddressList"
        }
      },
      "type": "structure"
    },
    "DimensionName": {
      "documentation": "<p>The name of an Amazon CloudWatch dimension associated with an email sending metric. The name has to meet the following criteria:</p> <ul> <li> <p>It can only contain ASCII letters (a-z, A-Z), numbers (0-9), underscores (_), or dashes (-).</p> </li> <li> <p>It can contain no more than 256 characters.</p> </li> </ul>",
      "type": "string"
    },
    "DimensionValueSource": {
      "documentation": "<p>The location where Amazon Pinpoint finds the value of a dimension to publish to Amazon CloudWatch. If you want Amazon Pinpoint to use the message tags that you specify using an X-SES-MESSAGE-TAGS header or a parameter to the SendEmail/SendRawEmail API, choose <code>messageTag</code>. If you want Amazon Pinpoint to use your own email headers, choose <code>emailHeader</code>. If you want Amazon Pinpoint to use link tags, choose <code>linkTags</code>.</p>",
      "enum": [
        "MESSAGE_TAG",
        "EMAIL_HEADER",
        "LINK_TAG"
      ],
      "type": "string"
    },
    "DkimAttributes": {
      "documentation": "<p>An object that contains information about the DKIM configuration for an email identity.</p>",
      "members": {
        "SigningEnabled": {
          "documentation": "<p>If the value is <code>true</code>, then the messages that Amazon Pinpoint sends from the identity are DKIM-signed. If the value is <code>false</code>, then the messages that Amazon Pinpoint sends from the identity aren't DKIM-signed.</p>",
          "shape": "Enabled"
        },
        "Status": {
          "documentation": "<p>Describes whether or not Amazon Pinpoint has successfully located the DKIM records in the DNS records for the domain. The status can be one of the following:</p> <ul> <li> <p> <code>PENDING</code> \u2013 Amazon Pinpoint hasn't yet located the DKIM records in the DNS configuration for the domain, but will continue to attempt to locate them.</p> </li> <li> <p> <code>SUCCESS</code> \u2013 Amazon Pinpoint located the DKIM records in the DNS configuration for the domain and determined that they're correct. Amazon Pinpoint can now send DKIM-signed email from the identity.</p> </li> <li> <p> <code>FAILED</code> \u2013 Amazon Pinpoint was unable to locate the DKIM records in the DNS settings for the domain, and won't continue to search for them.</p> </li> <li> <p> <code>TEMPORARY_FAILURE</code> \u2013 A temporary issue occurred, which prevented Amazon Pinpoint from determining the DKIM status for the domain.</p> </li> <li> <p> <code>NOT_STARTED</code> \u2013 Amazon Pinpoint hasn't yet started searching for the DKIM records in the DKIM records for the domain.</p> </li> </ul>",
          "shape": "DkimStatus"
        },
        "Tokens": {
          "documentation": "<p>A set of unique strings that you use to create a set of CNAME records that you add to the DNS configuration for your domain. When Amazon Pinpoint detects these records in the DNS configuration for your domain, the DKIM authentication process is complete. Amazon Pinpoint usually detects these records within about 72 hours of adding them to the DNS configuration for your domain.</p>",
          "shape": "DnsTokenList"
        }
      },
      "type": "structure"
    },
    "DkimStatus": {
      "documentation": "<p>The DKIM authentication status of the identity. The status can be one of the following:</p> <ul> <li> <p> <code>PENDING</code> \u2013 The DKIM verification process was initiated, and Amazon Pinpoint is still waiting for the required CNAME records to appear in the DNS configuration for the domain.</p> </li> <li> <p> <code>SUCCESS</code> \u2013 The DKIM authentication process completed successfully.</p> </li> <li> <p> <code>FAILED</code> \u2013 The DKIM authentication process failed. This can happen when Amazon Pinpoint fails to find the required CNAME records in the DNS configuration of the domain.</p> </li> <li> <p> <code>TEMPORARY_FAILURE</code> \u2013 A temporary issue is preventing Amazon Pinpoint from determining the DKIM authentication status of the domain.</p> </li> <li> <p> <code>NOT_STARTED</code> \u2013 The DKIM verification process hasn't been initiated for the domain.</p> </li> </ul>",
      "enum": [
        "PENDING",
        "SUCCESS",
        "FAILED",
        "TEMPORARY_FAILURE",
        "NOT_STARTED"
      ],
      "type": "string"
    },
    "DnsToken": {
      "type": "string"
    },
    "DnsTokenList": {
      "member": {
        "shape": "DnsToken"
      },
      "type": "list"
    },
    "Domain": {
      "type": "string"
    },
    "DomainDeliverabilityCampaign": {
      "documentation": "<p>An object that contains the deliverability data for a specific campaign. This data is available for a campaign only if the campaign sent email by using a domain that the Deliverability dashboard is enabled for (<code>PutDeliverabilityDashboardOption</code> operation).</p>",
      "members": {
        "CampaignId": {
          "documentation": "<p>The unique identifier for the campaign. Amazon Pinpoint automatically generates and assigns this identifier to a campaign. This value is not the same as the campaign identifier that Amazon Pinpoint assigns to campaigns that you create and manage by using the Amazon Pinpoint API or the Amazon Pinpoint console.</p>",
          "shape": "CampaignId"
        },
        "DeleteRate": {
          "documentation": "<p>The percentage of email messages that were deleted by recipients, without being opened first. Due to technical limitations, this value only includes recipients who opened the message by using an email client that supports images.</p>",
          "shape": "Percentage"
        },
        "Esps": {
          "documentation": "<p>The major email providers who handled the email message.</p>",
          "shape": "Esps"
        },
        "FirstSeenDateTime": {
          "documentation": "<p>The first time, in Unix time format, when the email message was delivered to any recipient's inbox. This value can help you determine how long it took for a campaign to deliver an email message.</p>",
          "shape": "Timestamp"
        },
        "FromAddress": {
          "documentation": "<p>The verified email address that the email message was sent from.</p>",
          "shape": "Identity"
        },
        "ImageUrl": {
          "documentation": "<p>The URL of an image that contains a snapshot of the email message that was sent.</p>",
          "shape": "ImageUrl"
        },
        "InboxCount": {
          "documentation": "<p>The number of email messages that were delivered to recipients\u2019 inboxes.</p>",
          "shape": "Volume"
        },
        "LastSeenDateTime": {
          "documentation": "<p>The last time, in Unix time format, when the email message was delivered to any recipient's inbox. This value can help you determine how long it took for a campaign to deliver an email message.</p>",
          "shape": "Timestamp"
        },
        "ProjectedVolume": {
          "documentation": "<p>The projected number of recipients that the email message was sent to.</p>",
          "shape": "Volume"
        },
        "ReadDeleteRate": {
          "documentation": "<p>The percentage of email messages that were opened and then deleted by recipients. Due to technical limitations, this value only includes recipients who opened the message by using an email client that supports images.</p>",
          "shape": "Percentage"
        },
        "ReadRate": {
          "documentation": "<p>The percentage of email messages that were opened by recipients. Due to technical limitations, this value only includes recipients who opened the message by using an email client that supports images.</p>",
          "shape": "Percentage"
        },
        "SendingIps": {
          "documentation": "<p>The IP addresses that were used to send the email message.</p>",
          "shape": "IpList"
        },
        "SpamCount": {
          "documentation": "<p>The number of email messages that were delivered to recipients' spam or junk mail folders.</p>",
          "shape": "Volume"
        },
        "Subject": {
          "documentation": "<p>The subject line, or title, of the email message.</p>",
          "shape": "Subject"
        }
      },
      "type": "structure"
    },
    "DomainDeliverabilityCampaignList": {
      "documentation": "<p/>",
      "member": {
        "shape": "DomainDeliverabilityCampaign"
      },
      "type": "list"
    },
    "DomainDeliverabilityTrackingOption": {
      "documentation": "<p>An object that contains information about the Deliverability dashboard subscription for a verified domain that you use to send email and currently has an active Deliverability dashboard subscription. If a Deliverability dashboard subscription is active for a domain, you gain access to reputation, inbox placement, and other metrics for the domain.</p>",
      "members": {
        "Domain": {
          "documentation": "<p>A verified domain that\u2019s associated with your AWS account and currently has an active Deliverability dashboard subscription.</p>",
          "shape": "Domain"
        },
        "InboxPlacementTrackingOption": {
          "documentation": "<p>An object that contains information about the inbox placement data settings for the domain.</p>",
          "shape": "InboxPlacementTrackingOption"
        },
        "SubscriptionStartDate": {
          "documentation": "<p>The date, in Unix time format, when you enabled the Deliverability dashboard for the domain.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DomainDeliverabilityTrackingOptions": {
      "documentation": "<p>An object that contains information about the Deliverability dashboard subscription for a verified domain that you use to send email and currently has an active Deliverability dashboard subscription. If a Deliverability dashboard subscription is active for a domain, you gain access to reputation, inbox placement, and other metrics for the domain.</p>",
      "member": {
        "shape": "DomainDeliverabilityTrackingOption"
      },
      "type": "list"
    },
    "DomainIspPlacement": {
      "documentation": "<p>An object that contains inbox placement data for email sent from one of your email domains to a specific email provider.</p>",
      "members": {
        "InboxPercentage": {
          "documentation": "<p>The percentage of messages that were sent from the selected domain to the specified email provider that arrived in recipients' inboxes.</p>",
          "shape": "Percentage"
        },
        "InboxRawCount": {
          "documentation": "<p>The total number of messages that were sent from the selected domain to the specified email provider that arrived in recipients' inboxes.</p>",
          "shape": "Volume"
        },
        "IspName": {
          "documentation": "<p>The name of the email provider that the inbox placement data applies to.</p>",
          "shape": "IspName"
        },
        "SpamPercentage": {
          "documentation": "<p>The percentage of messages that were sent from the selected domain to the specified email provider that arrived in recipients' spam or junk mail folders.</p>",
          "shape": "Percentage"
        },
        "SpamRawCount": {
          "documentation": "<p>The total number of messages that were sent from the selected domain to the specified email provider that arrived in recipients' spam or junk mail folders.</p>",
          "shape": "Volume"
        }
      },
      "type": "structure"
    },
    "DomainIspPlacements": {
      "member": {
        "shape": "DomainIspPlacement"
      },
      "type": "list"
    },
    "EmailAddress": {
      "type": "string"
    },
    "EmailAddressList": {
      "member": {
        "shape": "EmailAddress"
      },
      "type": "list"
    },
    "EmailContent": {
      "documentation": "<p>An object that defines the entire content of the email, including the message headers and the body content. You can create a simple email message, in which you specify the subject and the text and HTML versions of the message body. You can also create raw messages, in which you specify a complete MIME-formatted message. Raw messages can include attachments and custom headers.</p>",
      "members": {
        "Raw": {
          "documentation": "<p>The raw email message. The message has to meet the following criteria:</p> <ul> <li> <p>The message has to contain a header and a body, separated by one blank line.</p> </li> <li> <p>All of the required header fields must be present in the message.</p> </li> <li> <p>Each part of a multipart MIME message must be formatted properly.</p> </li> <li> <p>If you include attachments, they must be in a file format that Amazon Pinpoint supports. </p> </li> <li> <p>The entire message must be Base64 encoded.</p> </li> <li> <p>If any of the MIME parts in your message contain content that is outside of the 7-bit ASCII character range, you should encode that content to ensure that recipients' email clients render the message properly.</p> </li> <li> <p>The length of any single line of text in the message can't exceed 1,000 characters. This restriction is defined in <a href=\"https://tools.ietf.org/html/rfc5321\">RFC 5321</a>.</p> </li> </ul>",
          "shape": "RawMessage"
        },
        "Simple": {
          "documentation": "<p>The simple email message. The message consists of a subject and a message body.</p>",
          "shape": "Message"
        },
        "Template": {
          "documentation": "<p>The template to use for the email message.</p>",
          "shape": "Template"
        }
      },
      "type": "structure"
    },
    "Enabled": {
      "type": "boolean"
    },
    "Esp": {
      "type": "string"
    },
    "Esps": {
      "member": {
        "shape": "Esp"
      },
      "type": "list"
    },
    "EventDestination": {
      "documentation": "<p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "members": {
        "CloudWatchDestination": {
          "documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.</p>",
          "shape": "CloudWatchDestination"
        },
        "Enabled": {
          "documentation": "<p>If <code>true</code>, the event destination is enabled. When the event destination is enabled, the specified event types are sent to the destinations in this <code>EventDestinationDefinition</code>.</p> <p>If <code>false</code>, the event destination is disabled. When the event destination is disabled, events aren't sent to the specified destinations.</p>",
          "shape": "Enabled"
        },
        "KinesisFirehoseDestination": {
          "documentation": "<p>An object that defines an Amazon Kinesis Data Firehose destination for email events. You can use Amazon Kinesis Data Firehose to stream data to other services, such as Amazon S3 and Amazon Redshift.</p>",
          "shape": "KinesisFirehoseDestination"
        },
        "MatchingEventTypes": {
          "documentation": "<p>The types of events that Amazon Pinpoint sends to the specified event destinations.</p>",
          "shape": "EventTypes"
        },
        "Name": {
          "documentation": "<p>A name that identifies the event destination.</p>",
          "shape": "EventDestinationName"
        },
        "PinpointDestination": {
          "documentation": "<p>An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments for your campaigns.</p>",
          "shape": "PinpointDestination"
        },
        "SnsDestination": {
          "documentation": "<p>An object that defines an Amazon SNS destination for email events. You can use Amazon SNS to send notification when certain email events occur.</p>",
          "shape": "SnsDestination"
        }
      },
      "required": [
        "Name",
        "MatchingEventTypes"
      ],
      "type": "structure"
    },
    "EventDestinationDefinition": {
      "documentation": "<p>An object that defines the event destination. Specifically, it defines which services receive events from emails sent using the configuration set that the event destination is associated with. Also defines the types of events that are sent to the event destination.</p>",
      "members": {
        "CloudWatchDestination": {
          "documentation": "<p>An object that defines an Amazon CloudWatch destination for email events. You can use Amazon CloudWatch to monitor and gain insights on your email sending metrics.</p>",
          "shape": "CloudWatchDestination"
        },
        "Enabled": {
          "documentation": "<p>If <code>true</code>, the event destination is enabled. When the event destination is enabled, the specified event types are sent to the destinations in this <code>EventDestinationDefinition</code>.</p> <p>If <code>false</code>, the event destination is disabled. When the event destination is disabled, events aren't sent to the specified destinations.</p>",
          "shape": "Enabled"
        },
        "KinesisFirehoseDestination": {
          "documentation": "<p>An object that defines an Amazon Kinesis Data Firehose destination for email events. You can use Amazon Kinesis Data Firehose to stream data to other services, such as Amazon S3 and Amazon Redshift.</p>",
          "shape": "KinesisFirehoseDestination"
        },
        "MatchingEventTypes": {
          "documentation": "<p>An array that specifies which events Amazon Pinpoint should send to the destinations in this <code>EventDestinationDefinition</code>.</p>",
          "shape": "EventTypes"
        },
        "PinpointDestination": {
          "documentation": "<p>An object that defines a Amazon Pinpoint destination for email events. You can use Amazon Pinpoint events to create attributes in Amazon Pinpoint projects. You can use these attributes to create segments for your campaigns.</p>",
          "shape": "PinpointDestination"
        },
        "SnsDestination": {
          "documentation": "<p>An object that defines an Amazon SNS destination for email events. You can use Amazon SNS to send notification when certain email events occur.</p>",
          "shape": "SnsDestination"
        }
      },
      "type": "structure"
    },
    "EventDestinationName": {
      "documentation": "<p>The name of an event destination.</p> <p>In Amazon Pinpoint, <i>events</i> include message sends, deliveries, opens, clicks, bounces, and complaints. <i>Event destinations</i> are places that you can send information about these events to. For example, you can send event data to Amazon SNS to receive notifications when you receive bounces or complaints, or you can use Amazon Kinesis Data Firehose to stream data to Amazon S3 for long-term storage.</p>",
      "type": "string"
    },
    "EventDestinations": {
      "member": {
        "shape": "EventDestination"
      },
      "type": "list"
    },
    "EventType": {
      "documentation": "<p>An email sending event type. For example, email sends, opens, and bounces are all email events.</p>",
      "enum": [
        "SEND",
        "REJECT",
        "BOUNCE",
        "COMPLAINT",
        "DELIVERY",
        "OPEN",
        "CLICK",
        "RENDERING_FAILURE"
      ],
      "type": "string"
    },
    "EventTypes": {
      "member": {
        "shape": "EventType"
      },
      "type": "list"
    },
    "GeneralEnforcementStatus": {
      "type": "string"
    },
    "GetAccountRequest": {
      "documentation": "<p>A request to obtain information about the email-sending capabilities of your Amazon Pinpoint account.</p>",
      "members": {},
      "type": "structure"
    },
    "GetAccountResponse": {
      "documentation": "<p>A list of details about the email-sending capabilities of your Amazon Pinpoint account in the current AWS Region.</p>",
      "members": {
        "DedicatedIpAutoWarmupEnabled": {
          "documentation": "<p>Indicates whether or not the automatic warm-up feature is enabled for dedicated IP addresses that are associated with your account.</p>",
          "shape": "Enabled"
        },
        "EnforcementStatus": {
          "documentation": "<p>The reputation status of your Amazon Pinpoint account. The status can be one of the following:</p> <ul> <li> <p> <code>HEALTHY</code> \u2013 There are no reputation-related issues that currently impact your account.</p> </li> <li> <p> <code>PROBATION</code> \u2013 We've identified some issues with your Amazon Pinpoint account. We're placing your account under review while you work on correcting these issues.</p> </li> <li> <p> <code>SHUTDOWN</code> \u2013 Your account's ability to send email is currently paused because of an issue with the email sent from your account. When you correct the issue, you can contact us and request that your account's ability to send email is resumed.</p> </li> </ul>",
          "shape": "GeneralEnforcementStatus"
        },
        "ProductionAccessEnabled": {
          "documentation": "<p>Indicates whether or not your account has production access in the current AWS Region.</p> <p>If the value is <code>false</code>, then your account is in the <i>sandbox</i>. When your account is in the sandbox, you can only send email to verified identities. Additionally, the maximum number of emails you can send in a 24-hour period (your sending quota) is 200, and the maximum number of emails you can send per second (your maximum sending rate) is 1.</p> <p>If the value is <code>true</code>, then your account has production access. When your account has production access, you can send email to any address. The sending quota and maximum sending rate for your account vary based on your specific use case.</p>",
          "shape": "Enabled"
        },
        "SendQuota": {
          "documentation": "<p>An object that contains information about the per-day and per-second sending limits for your Amazon Pinpoint account in the current AWS Region.</p>",
          "shape": "SendQuota"
        },
        "SendingEnabled": {
          "documentation": "<p>Indicates whether or not email sending is enabled for your Amazon Pinpoint account in the current AWS Region.</p>",
          "shape": "Enabled"
        }
      },
      "type": "structure"
    },
    "GetBlacklistReportsRequest": {
      "documentation": "<p>A request to retrieve a list of the blacklists that your dedicated IP addresses appear on.</p>",
      "members": {
        "BlacklistItemNames": {
          "documentation": "<p>A list of IP addresses that you want to retrieve blacklist information about. You can only specify the dedicated IP addresses that you use to send email using Amazon Pinpoint or Amazon SES.</p>",
          "location": "querystring",
          "locationName": "BlacklistItemNames",
          "shape": "BlacklistItemNames"
        }
      },
      "required": [
        "BlacklistItemNames"
      ],
      "type": "structure"
    },
    "GetBlacklistReportsResponse": {
      "documentation": "<p>An object that contains information about blacklist events.</p>",
      "members": {
        "BlacklistReport": {
          "documentation": "<p>An object that contains information about a blacklist that one of your dedicated IP addresses appears on.</p>",
          "shape": "BlacklistReport"
        }
      },
      "required": [
        "BlacklistReport"
      ],
      "type": "structure"
    },
    "GetConfigurationSetEventDestinationsRequest": {
      "documentation": "<p>A request to obtain information about the event destinations for a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set that contains the event destination.</p>",
          "location": "uri",
          "locationName": "ConfigurationSetName",
          "shape": "ConfigurationSetName"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "GetConfigurationSetEventDestinationsResponse": {
      "documentation": "<p>Information about an event destination for a configuration set.</p>",
      "members": {
        "EventDestinations": {
          "documentation": "<p>An array that includes all of the events destinations that have been configured for the configuration set.</p>",
          "shape": "EventDestinations"
        }
      },
      "type": "structure"
    },
    "GetConfigurationSetRequest": {
      "documentation": "<p>A request to obtain information about a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set that you want to obtain more information about.</p>",
          "location": "uri",
          "locationName": "ConfigurationSetName",
          "shape": "ConfigurationSetName"
        }
      },
      "required": [
        "ConfigurationSetName"
      ],
      "type": "structure"
    },
    "GetConfigurationSetResponse": {
      "documentation": "<p>Information about a configuration set.</p>",
      "members": {
        "ConfigurationSetName": {
          "documentation": "<p>The name of the configuration set.</p>",
          "shape": "ConfigurationSetName"
        },
        "DeliveryOptions": {
          "documentation": "<p>An object that defines the dedicated IP pool that is used to send emails that you send using the configuration set.</p>",
          "shape": "DeliveryOptions"
        },
        "ReputationOptions": {
          "documentation": "<p>An object that defines whether or not Amazon Pinpoint collects reputation metrics for the emails that you send that use the configuration set.</p>",
          "shape": "ReputationOptions"
        },
        "SendingOptions": {
          "documentation": "<p>An object that defines whether or not Amazon Pinpoint can send email that you send using the configuration set.</p>",
          "shape": "SendingOptions"
        },
        "Tags": {
          "documentation": "<p>An array of objects that define the tags (keys and values) that are associated with the configuration set.</p>",
          "shape": "TagList"
        },
        "TrackingOptions": {
          "documentation": "<p>An object that defines the open and click tracking options for emails that you send using the configuration set.</p>",
          "shape": "TrackingOptions"
        }
      },
      "type": "structure"
    },
    "GetDedicatedIpRequest": {
      "documentation": "<p>A request to obtain more information about a dedicated IP address.</p>",
      "members": {
        "Ip": {
          "documentation": "<p>The IP address that you want to obtain more information about. The value you specify has to be a dedicated IP address that's assocaited with your Amazon Pinpoint account.</p>",
          "location": "uri",
          "locationName": "IP",
          "shape": "Ip"
        }
      },
      "required": [
        "Ip"
      ],
      "type": "structure"
    },
    "GetDedicatedIpResponse": {
      "documentation": "<p>Information about a dedicated IP address.</p>",
      "members": {
        "DedicatedIp": {
          "documentation": "<p>An object that contains information about a dedicated IP address.</p>",
          "shape": "DedicatedIp"
        }
      },
      "type": "structure"
    },
    "GetDedicatedIpsRequest": {
      "documentation": "<p>A request to obtain more information about dedicated IP pools.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>A token returned from a previous call to <code>GetDedicatedIps</code> to indicate the position of the dedicated IP pool in the list of IP pools.</p>",
          "location": "querystring",
          "locationName": "NextToken",
          "shape": "NextToken"
        },
        "PageSize": {
          "documentation": "<p>The number of results to show in a single call to <code>GetDedicatedIpsRequest</code>. If the number of results is larger than the number you specified in this parameter, then the response includes a <code>NextToken</code> element, which you can use to obtain additional results.</p>",
          "location": "querystring",
          "locationName": "PageSize",
          "shape": "MaxItems"
        },
        "PoolName": {
          "documentation": "<p>The name of the IP pool that the dedicated IP address is associated with.</p>",
          "location": "querystring",
          "locationName": "PoolName",
          "shape": "PoolName"
        }
      },
      "type": "structure"
    },
    "GetDedicatedIpsResponse": {
      "documentation": "<p>Information about the dedicated IP addresses that are associated with your Amazon Pinpoint account.</p>",
      "members": {
        "DedicatedIps": {
[...]
