{
  "documentation": "<p>AWS IoT Events monitors your equipment or device fleets for failures or changes in operation, and triggers actions when such events occur. AWS IoT Events Data API commands enable you to send inputs to detectors, list detectors, and view or update a detector's status.</p>",
  "metadata": {
    "apiVersion": "2018-10-23",
    "endpointPrefix": "data.iotevents",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Events Data",
    "serviceId": "IoT Events Data",
    "signatureVersion": "v4",
    "signingName": "ioteventsdata",
    "uid": "iotevents-data-2018-10-23"
  },
  "operations": {
    "BatchPutMessage": {
      "documentation": "<p>Sends a set of messages to the AWS IoT Events system. Each message payload is transformed into the input you specify (<code>\"inputName\"</code>) and ingested into any detectors that monitor that input. If multiple messages are sent, the order in which the messages are processed isn't guaranteed. To guarantee ordering, you must send messages one at a time and wait for a successful response.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/inputs/messages",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchPutMessageRequest"
      },
      "name": "BatchPutMessage",
      "output": {
        "shape": "BatchPutMessageResponse"
      }
    },
    "BatchUpdateDetector": {
      "documentation": "<p>Updates the state, variable values, and timer settings of one or more detectors (instances) of a specified detector model.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detectors",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateDetectorRequest"
      },
      "name": "BatchUpdateDetector",
      "output": {
        "shape": "BatchUpdateDetectorResponse"
      }
    },
    "DescribeDetector": {
      "documentation": "<p>Returns information about the specified detector (instance).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detectors/{detectorModelName}/keyValues/"
      },
      "input": {
        "shape": "DescribeDetectorRequest"
      },
      "name": "DescribeDetector",
      "output": {
        "shape": "DescribeDetectorResponse"
      }
    },
    "ListDetectors": {
      "documentation": "<p>Lists detectors (the instances of a detector model).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detectors/{detectorModelName}"
      },
      "input": {
        "shape": "ListDetectorsRequest"
      },
      "name": "ListDetectors",
      "output": {
        "shape": "ListDetectorsResponse"
      }
    }
  },
  "shapes": {
    "BatchPutMessageErrorEntries": {
      "member": {
        "shape": "BatchPutMessageErrorEntry"
      },
      "type": "list"
    },
    "BatchPutMessageErrorEntry": {
      "documentation": "<p>Contains information about the errors encountered.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The code associated with the error.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>More information about the error.</p>",
          "shape": "ErrorMessage"
        },
        "messageId": {
          "documentation": "<p>The ID of the message that caused the error. (See the value corresponding to the <code>\"messageId\"</code> key in the <code>\"message\"</code> object.)</p>",
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "BatchPutMessageRequest": {
      "members": {
        "messages": {
          "documentation": "<p>The list of messages to send. Each message has the following format: <code>'{ \"messageId\": \"string\", \"inputName\": \"string\", \"payload\": \"string\"}'</code> </p>",
          "shape": "Messages"
        }
      },
      "required": [
        "messages"
      ],
      "type": "structure"
    },
    "BatchPutMessageResponse": {
      "members": {
        "BatchPutMessageErrorEntries": {
          "documentation": "<p>A list of any errors encountered when sending the messages.</p>",
          "shape": "BatchPutMessageErrorEntries"
        }
      },
      "type": "structure"
    },
    "BatchUpdateDetectorErrorEntries": {
      "member": {
        "shape": "BatchUpdateDetectorErrorEntry"
      },
      "type": "list"
    },
    "BatchUpdateDetectorErrorEntry": {
      "documentation": "<p>Information about the error that occured when attempting to update a detector.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The code of the error.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>A message describing the error.</p>",
          "shape": "ErrorMessage"
        },
        "messageId": {
          "documentation": "<p>The <code>\"messageId\"</code> of the update request that caused the error. (The value of the <code>\"messageId\"</code> in the update request <code>\"Detector\"</code> object.)</p>",
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "BatchUpdateDetectorRequest": {
      "members": {
        "detectors": {
          "documentation": "<p>The list of detectors (instances) to update, along with the values to update.</p>",
          "shape": "UpdateDetectorRequests"
        }
      },
      "required": [
        "detectors"
      ],
      "type": "structure"
    },
    "BatchUpdateDetectorResponse": {
      "members": {
        "batchUpdateDetectorErrorEntries": {
          "documentation": "<p>A list of those detector updates that resulted in errors. (If an error is listed here, the specific update did not occur.)</p>",
          "shape": "BatchUpdateDetectorErrorEntries"
        }
      },
      "type": "structure"
    },
    "DescribeDetectorRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model whose detectors (instances) you want information about.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>A filter used to limit results to detectors (instances) created because of the given key ID.</p>",
          "location": "querystring",
          "locationName": "keyValue",
          "shape": "KeyValue"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DescribeDetectorResponse": {
      "members": {
        "detector": {
          "documentation": "<p>Information about the detector (instance).</p>",
          "shape": "Detector"
        }
      },
      "type": "structure"
    },
    "Detector": {
      "documentation": "<p>Information about the detector (instance).</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector (instance) was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelVersion"
        },
        "keyValue": {
          "documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this detector (instance).</p>",
          "shape": "KeyValue"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the detector (instance) was last updated.</p>",
          "shape": "Timestamp"
        },
        "state": {
          "documentation": "<p>The current state of the detector (instance).</p>",
          "shape": "DetectorState"
        }
      },
      "type": "structure"
    },
    "DetectorModelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "DetectorModelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "DetectorState": {
      "documentation": "<p>Information about the current state of the detector instance.</p>",
      "members": {
        "stateName": {
          "documentation": "<p>The name of the state.</p>",
          "shape": "StateName"
        },
        "timers": {
          "documentation": "<p>The current state of the detector's timers.</p>",
          "shape": "Timers"
        },
        "variables": {
          "documentation": "<p>The current values of the detector's variables.</p>",
          "shape": "Variables"
        }
      },
      "required": [
        "stateName",
        "variables",
        "timers"
      ],
      "type": "structure"
    },
    "DetectorStateDefinition": {
      "documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>",
      "members": {
        "stateName": {
          "documentation": "<p>The name of the new state of the detector (instance).</p>",
          "shape": "StateName"
        },
        "timers": {
          "documentation": "<p>The new values of the detector's timers. Any timer whose value isn't specified is cleared, and its timeout event won't occur.</p>",
          "shape": "TimerDefinitions"
        },
        "variables": {
          "documentation": "<p>The new values of the detector's variables. Any variable whose value isn't specified is cleared.</p>",
          "shape": "VariableDefinitions"
        }
      },
      "required": [
        "stateName",
        "variables",
        "timers"
      ],
      "type": "structure"
    },
    "DetectorStateSummary": {
      "documentation": "<p>Information about the detector state.</p>",
      "members": {
        "stateName": {
          "documentation": "<p>The name of the state.</p>",
          "shape": "StateName"
        }
      },
      "type": "structure"
    },
    "DetectorSummaries": {
      "member": {
        "shape": "DetectorSummary"
      },
      "type": "list"
    },
    "DetectorSummary": {
      "documentation": "<p>Information about the detector (instance).</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector (instance) was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model that created this detector (instance).</p>",
          "shape": "DetectorModelVersion"
        },
        "keyValue": {
          "documentation": "<p>The value of the key (identifying the device or system) that caused the creation of this detector (instance).</p>",
          "shape": "KeyValue"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the detector (instance) was last updated.</p>",
          "shape": "Timestamp"
        },
        "state": {
          "documentation": "<p>The current state of the detector (instance).</p>",
          "shape": "DetectorStateSummary"
        }
      },
      "type": "structure"
    },
    "ErrorCode": {
      "enum": [
        "ResourceNotFoundException",
        "InvalidRequestException",
        "InternalFailureException",
        "ServiceUnavailableException",
        "ThrottlingException"
      ],
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "InputName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "InternalFailureException": {
      "documentation": "<p>An internal failure occured.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request was invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "KeyValue": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_:]+$",
      "type": "string"
    },
    "ListDetectorsRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model whose detectors (instances) are listed.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return at one time.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "stateName": {
          "documentation": "<p>A filter that limits results to those detectors (instances) in the given state.</p>",
          "location": "querystring",
          "locationName": "stateName",
          "shape": "StateName"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "ListDetectorsResponse": {
      "members": {
        "detectorSummaries": {
          "documentation": "<p>A list of summary information about the detectors (instances).</p>",
          "shape": "DetectorSummaries"
        },
        "nextToken": {
          "documentation": "<p>A token to retrieve the next set of results, or <code>null</code> if there are no additional results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 250,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "documentation": "<p>Information about a message.</p>",
      "members": {
        "inputName": {
          "documentation": "<p>The name of the input into which the message payload is transformed.</p>",
          "shape": "InputName"
        },
        "messageId": {
          "documentation": "<p>The ID to assign to the message. Within each batch sent, each <code>\"messageId\"</code> must be unique.</p>",
          "shape": "MessageId"
        },
        "payload": {
          "documentation": "<p>The payload of the message. This can be a JSON string or a Base-64-encoded string representing binary data (in which case you must decode it).</p>",
          "shape": "Payload"
        }
      },
      "required": [
        "messageId",
        "inputName",
        "payload"
      ],
      "type": "structure"
    },
    "MessageId": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "Messages": {
      "member": {
        "shape": "Message"
      },
      "min": 1,
      "type": "list"
    },
    "NextToken": {
      "type": "string"
    },
    "Payload": {
      "type": "blob"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Seconds": {
      "type": "integer"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The service is currently unavailable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "StateName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The request could not be completed due to throttling.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Timer": {
      "documentation": "<p>The current state of a timer.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the timer.</p>",
          "shape": "TimerName"
        },
        "timestamp": {
          "documentation": "<p>The number of seconds which have elapsed on the timer.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "name",
        "timestamp"
      ],
      "type": "structure"
    },
    "TimerDefinition": {
      "documentation": "<p>The new setting of a timer.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the timer.</p>",
          "shape": "TimerName"
        },
        "seconds": {
          "documentation": "<p>The new setting of the timer (the number of seconds before the timer elapses).</p>",
          "shape": "Seconds"
        }
      },
      "required": [
        "name",
        "seconds"
      ],
      "type": "structure"
    },
    "TimerDefinitions": {
      "member": {
        "shape": "TimerDefinition"
      },
      "type": "list"
    },
    "TimerName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "Timers": {
      "member": {
        "shape": "Timer"
      },
      "type": "list"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UpdateDetectorRequest": {
      "documentation": "<p>Information used to update the detector (instance).</p>",
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that created the detectors (instances).</p>",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the input key attribute (identifying the device or system) that caused the creation of this detector (instance).</p>",
          "shape": "KeyValue"
        },
        "messageId": {
          "documentation": "<p>The ID to assign to the detector update <code>\"message\"</code>. Each <code>\"messageId\"</code> must be unique within each batch sent.</p>",
          "shape": "MessageId"
        },
        "state": {
          "documentation": "<p>The new state, variable values, and timer settings of the detector (instance).</p>",
          "shape": "DetectorStateDefinition"
        }
      },
      "required": [
        "messageId",
        "detectorModelName",
        "state"
      ],
      "type": "structure"
    },
    "UpdateDetectorRequests": {
      "member": {
        "shape": "UpdateDetectorRequest"
      },
      "min": 1,
      "type": "list"
    },
    "Variable": {
      "documentation": "<p>The current state of the variable.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the variable.</p>",
          "shape": "VariableName"
        },
        "value": {
          "documentation": "<p>The current value of the variable.</p>",
          "shape": "VariableValue"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "VariableDefinition": {
      "documentation": "<p>The new value of the variable.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the variable.</p>",
          "shape": "VariableName"
        },
        "value": {
          "documentation": "<p>The new value of the variable.</p>",
          "shape": "VariableValue"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "VariableDefinitions": {
      "member": {
        "shape": "VariableDefinition"
      },
      "type": "list"
    },
    "VariableName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "VariableValue": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "Variables": {
      "member": {
        "shape": "Variable"
      },
      "type": "list"
    },
    "errorMessage": {
      "type": "string"
    }
  },
  "version": "2.0"
}
