{
  "documentation": "AWS Elemental MediaConvert",
  "metadata": {
    "apiVersion": "2017-08-29",
    "endpointPrefix": "mediaconvert",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaConvert",
    "serviceFullName": "AWS Elemental MediaConvert",
    "serviceId": "MediaConvert",
    "signatureVersion": "v4",
    "signingName": "mediaconvert",
    "uid": "mediaconvert-2017-08-29"
  },
  "operations": {
    "AssociateCertificate": {
      "documentation": "Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and cannot fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/certificates",
        "responseCode": 201
      },
      "input": {
        "shape": "AssociateCertificateRequest"
      },
      "name": "AssociateCertificate",
      "output": {
        "shape": "AssociateCertificateResponse"
      }
    },
    "CancelJob": {
      "documentation": "Permanently cancel a job. Once you have canceled a job, you can't start it again.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 202
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "name": "CancelJob",
      "output": {
        "shape": "CancelJobResponse"
      }
    },
    "CreateJob": {
      "documentation": "Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateJobTemplate": {
      "documentation": "Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobTemplateRequest"
      },
      "name": "CreateJobTemplate",
      "output": {
        "shape": "CreateJobTemplateResponse"
      }
    },
    "CreatePreset": {
      "documentation": "Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePresetRequest"
      },
      "name": "CreatePreset",
      "output": {
        "shape": "CreatePresetResponse"
      }
    },
    "CreateQueue": {
      "documentation": "Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateQueueRequest"
      },
      "name": "CreateQueue",
      "output": {
        "shape": "CreateQueueResponse"
      }
    },
    "DeleteJobTemplate": {
      "documentation": "Permanently delete a job template you have created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteJobTemplateRequest"
      },
      "name": "DeleteJobTemplate",
      "output": {
        "shape": "DeleteJobTemplateResponse"
      }
    },
    "DeletePreset": {
      "documentation": "Permanently delete a preset you have created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeletePresetRequest"
      },
      "name": "DeletePreset",
      "output": {
        "shape": "DeletePresetResponse"
      }
    },
    "DeleteQueue": {
      "documentation": "Permanently delete a queue you have created.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteQueueRequest"
      },
      "name": "DeleteQueue",
      "output": {
        "shape": "DeleteQueueResponse"
      }
    },
    "DescribeEndpoints": {
      "documentation": "Send an request with an empty body to the regional API endpoint to get your account API endpoint.",
      "errors": [
        {
          "documentation": "BadRequestException",
          "shape": "BadRequestException"
        },
        {
          "documentation": "InternalServiceException",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "AccessDeniedException",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "ResourceNotFoundException",
          "shape": "NotFoundException"
        },
        {
          "documentation": "LimitExceededException",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "ResourceInUseException",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/endpoints",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeEndpointsRequest"
      },
      "name": "DescribeEndpoints",
      "output": {
        "shape": "DescribeEndpointsResponse"
      }
    },
    "DisassociateCertificate": {
      "documentation": "Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and cannot fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service could not complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-08-29/certificates/{arn}",
        "responseCode": 202
      },
      "input": {
        "shape": "DisassociateCertificateRequest"
      },
      "name": "DisassociateCertificate",
      "output": {
        "shape": "DisassociateCertificateResponse"
      }
    },
    "GetJob": {
      "documentation": "Retrieve the JSON for a specific completed transcoding job.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResponse"
      }
    },
    "GetJobTemplate": {
      "documentation": "Retrieve the JSON for a specific job template.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobTemplateRequest"
      },
      "name": "GetJobTemplate",
      "output": {
        "shape": "GetJobTemplateResponse"
      }
    },
    "GetPreset": {
      "documentation": "Retrieve the JSON for a specific preset.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPresetRequest"
      },
      "name": "GetPreset",
      "output": {
        "shape": "GetPresetResponse"
      }
    },
    "GetQueue": {
      "documentation": "Retrieve the JSON for a specific queue.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetQueueRequest"
      },
      "name": "GetQueue",
      "output": {
        "shape": "GetQueueResponse"
      }
    },
    "ListJobTemplates": {
      "documentation": "Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobTemplates",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobTemplatesRequest"
      },
      "name": "ListJobTemplates",
      "output": {
        "shape": "ListJobTemplatesResponse"
      }
    },
    "ListJobs": {
      "documentation": "Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResponse"
      }
    },
    "ListPresets": {
      "documentation": "Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/presets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPresetsRequest"
      },
      "name": "ListPresets",
      "output": {
        "shape": "ListPresetsResponse"
      }
    },
    "ListQueues": {
      "documentation": "Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/queues",
        "responseCode": 200
      },
      "input": {
        "shape": "ListQueuesRequest"
      },
      "name": "ListQueues",
      "output": {
        "shape": "ListQueuesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "Retrieve the tags for a MediaConvert resource.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-08-29/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/tags/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateJobTemplate": {
      "documentation": "Modify one of your existing job templates.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/jobTemplates/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateJobTemplateRequest"
      },
      "name": "UpdateJobTemplate",
      "output": {
        "shape": "UpdateJobTemplateResponse"
      }
    },
    "UpdatePreset": {
      "documentation": "Modify one of your existing presets.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/presets/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePresetRequest"
      },
      "name": "UpdatePreset",
      "output": {
        "shape": "UpdatePresetResponse"
      }
    },
    "UpdateQueue": {
      "documentation": "Modify one of your existing queues.",
      "errors": [
        {
          "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The service encountered an unexpected condition and can't fulfill your request.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permissions for this action with the credentials you sent.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "The resource you requested doesn't exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Too many requests have been sent in too short of a time. The service limits the rate at which it will accept requests.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The service couldn't complete your request because there is a conflict with the current state of the resource.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-08-29/queues/{name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateQueueRequest"
      },
      "name": "UpdateQueue",
      "output": {
        "shape": "UpdateQueueResponse"
      }
    }
  },
  "shapes": {
    "AacAudioDescriptionBroadcasterMix": {
      "documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ],
      "type": "string"
    },
    "AacCodecProfile": {
      "documentation": "AAC Profile.",
      "enum": [
        "LC",
        "HEV1",
        "HEV2"
      ],
      "type": "string"
    },
    "AacCodingMode": {
      "documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ],
      "type": "string"
    },
    "AacRateControlMode": {
      "documentation": "Rate Control Mode.",
      "enum": [
        "CBR",
        "VBR"
      ],
      "type": "string"
    },
    "AacRawFormat": {
      "documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ],
      "type": "string"
    },
    "AacSettings": {
      "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
      "members": {
        "AudioDescriptionBroadcasterMix": {
          "documentation": "Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.",
          "locationName": "audioDescriptionBroadcasterMix",
          "shape": "AacAudioDescriptionBroadcasterMix"
        },
        "Bitrate": {
          "documentation": "Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.",
          "locationName": "bitrate",
          "shape": "__integerMin6000Max1024000"
        },
        "CodecProfile": {
          "documentation": "AAC Profile.",
          "locationName": "codecProfile",
          "shape": "AacCodecProfile"
        },
        "CodingMode": {
          "documentation": "Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. \"1.0 - Audio Description (Receiver Mix)\" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
          "locationName": "codingMode",
          "shape": "AacCodingMode"
        },
        "RateControlMode": {
          "documentation": "Rate Control Mode.",
          "locationName": "rateControlMode",
          "shape": "AacRateControlMode"
        },
        "RawFormat": {
          "documentation": "Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose \"No container\" for the output container.",
          "locationName": "rawFormat",
          "shape": "AacRawFormat"
        },
        "SampleRate": {
          "documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
          "locationName": "sampleRate",
          "shape": "__integerMin8000Max96000"
        },
        "Specification": {
          "documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
          "locationName": "specification",
          "shape": "AacSpecification"
        },
        "VbrQuality": {
          "documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
          "locationName": "vbrQuality",
          "shape": "AacVbrQuality"
        }
      },
      "type": "structure"
    },
    "AacSpecification": {
      "documentation": "Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
      "enum": [
        "MPEG2",
        "MPEG4"
      ],
      "type": "string"
    },
    "AacVbrQuality": {
      "documentation": "VBR Quality Level - Only used if rate_control_mode is VBR.",
      "enum": [
        "LOW",
        "MEDIUM_LOW",
        "MEDIUM_HIGH",
        "HIGH"
      ],
      "type": "string"
    },
    "Ac3BitstreamMode": {
      "documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
      "enum": [
        "COMPLETE_MAIN",
        "COMMENTARY",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ],
      "type": "string"
    },
    "Ac3CodingMode": {
      "documentation": "Dolby Digital coding mode. Determines number of channels.",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ],
      "type": "string"
    },
    "Ac3DynamicRangeCompressionProfile": {
      "documentation": "If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ],
      "type": "string"
    },
    "Ac3LfeFilter": {
      "documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "Ac3MetadataControl": {
      "documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "Ac3Settings": {
      "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
      "members": {
        "Bitrate": {
          "documentation": "Specify the average bitrate in bits per second. Valid bitrates depend on the coding mode.",
          "locationName": "bitrate",
          "shape": "__integerMin64000Max640000"
        },
        "BitstreamMode": {
          "documentation": "Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).",
          "locationName": "bitstreamMode",
          "shape": "Ac3BitstreamMode"
        },
        "CodingMode": {
          "documentation": "Dolby Digital coding mode. Determines number of channels.",
          "locationName": "codingMode",
          "shape": "Ac3CodingMode"
        },
        "Dialnorm": {
          "documentation": "Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.",
          "locationName": "dialnorm",
          "shape": "__integerMin1Max31"
        },
        "DynamicRangeCompressionProfile": {
          "documentation": "If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
          "locationName": "dynamicRangeCompressionProfile",
          "shape": "Ac3DynamicRangeCompressionProfile"
        },
        "LfeFilter": {
          "documentation": "Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.",
          "locationName": "lfeFilter",
          "shape": "Ac3LfeFilter"
        },
        "MetadataControl": {
          "documentation": "When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
          "locationName": "metadataControl",
          "shape": "Ac3MetadataControl"
        },
        "SampleRate": {
          "documentation": "This value is always 48000. It represents the sample rate in Hz.",
          "locationName": "sampleRate",
          "shape": "__integerMin48000Max48000"
        }
      },
      "type": "structure"
    },
    "AccelerationMode": {
      "documentation": "Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.",
      "enum": [
        "DISABLED",
        "ENABLED",
        "PREFERRED"
      ],
      "type": "string"
    },
    "AccelerationSettings": {
      "documentation": "Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.",
      "members": {
        "Mode": {
          "documentation": "Specify the conditions when the service will run your job with accelerated transcoding.",
          "locationName": "mode",
          "shape": "AccelerationMode"
        }
      },
      "required": [
        "Mode"
      ],
      "type": "structure"
    },
    "AccelerationStatus": {
      "documentation": "Describes whether the current job is running with accelerated transcoding. For jobs that have Acceleration (AccelerationMode) set to DISABLED, AccelerationStatus is always NOT_APPLICABLE. For jobs that have Acceleration (AccelerationMode) set to ENABLED or PREFERRED, AccelerationStatus is one of the other states. AccelerationStatus is IN_PROGRESS initially, while the service determines whether the input files and job settings are compatible with accelerated transcoding. If they are, AcclerationStatus is ACCELERATED. If your input files and job settings aren't compatible with accelerated transcoding, the service either fails your job or runs it without accelerated transcoding, depending on how you set Acceleration (AccelerationMode). When the service runs your job without accelerated transcoding, AccelerationStatus is NOT_ACCELERATED.",
      "enum": [
        "NOT_APPLICABLE",
        "IN_PROGRESS",
        "ACCELERATED",
        "NOT_ACCELERATED"
      ],
      "type": "string"
    },
    "AfdSignaling": {
      "documentation": "This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.",
      "enum": [
        "NONE",
        "AUTO",
        "FIXED"
      ],
      "type": "string"
    },
    "AiffSettings": {
      "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
      "members": {
        "BitDepth": {
          "documentation": "Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.",
          "locationName": "bitDepth",
          "shape": "__integerMin16Max24"
        },
        "Channels": {
          "documentation": "Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.",
          "locationName": "channels",
          "shape": "__integerMin1Max64"
        },
        "SampleRate": {
          "documentation": "Sample rate in hz.",
          "locationName": "sampleRate",
          "shape": "__integerMin8000Max192000"
        }
      },
      "type": "structure"
    },
    "AlphaBehavior": {
      "documentation": "Ignore this setting unless this input is a QuickTime animation with an alpha channel. Use this setting to create separate Key and Fill outputs. In each output, specify which part of the input MediaConvert uses. Leave this setting at the default value DISCARD to delete the alpha channel and preserve the video. Set it to REMAP_TO_LUMA to delete the video and map the alpha channel to the luma channel of your outputs.",
      "enum": [
        "DISCARD",
        "REMAP_TO_LUMA"
      ],
      "type": "string"
    },
    "AncillaryConvert608To708": {
      "documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
      "enum": [
        "UPCONVERT",
        "DISABLED"
      ],
      "type": "string"
    },
    "AncillarySourceSettings": {
      "documentation": "Settings for ancillary captions source.",
      "members": {
        "Convert608To708": {
          "documentation": "Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.",
          "locationName": "convert608To708",
          "shape": "AncillaryConvert608To708"
        },
        "SourceAncillaryChannelNumber": {
          "documentation": "Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.",
          "locationName": "sourceAncillaryChannelNumber",
          "shape": "__integerMin1Max4"
        },
        "TerminateCaptions": {
          "documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
          "locationName": "terminateCaptions",
          "shape": "AncillaryTerminateCaptions"
        }
      },
      "type": "structure"
    },
    "AncillaryTerminateCaptions": {
      "documentation": "By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.",
      "enum": [
        "END_OF_INPUT",
        "DISABLED"
      ],
      "type": "string"
    },
    "AntiAlias": {
      "documentation": "The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "AssociateCertificateRequest": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the ACM certificate that you want to associate with your MediaConvert resource.",
          "locationName": "arn",
          "shape": "__string"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "AssociateCertificateResponse": {
      "members": {},
      "type": "structure"
    },
    "AudioCodec": {
      "documentation": "Type of Audio codec.",
      "enum": [
        "AAC",
        "MP2",
        "MP3",
        "WAV",
        "AIFF",
        "AC3",
        "EAC3",
        "EAC3_ATMOS",
        "PASSTHROUGH"
      ],
      "type": "string"
    },
    "AudioCodecSettings": {
      "documentation": "Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * MP3, Mp3Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings",
      "members": {
        "AacSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to \"VBR\" or \"CBR\".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.",
          "locationName": "aacSettings",
          "shape": "AacSettings"
        },
        "Ac3Settings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.",
          "locationName": "ac3Settings",
          "shape": "Ac3Settings"
        },
        "AiffSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.",
          "locationName": "aiffSettings",
          "shape": "AiffSettings"
        },
        "Codec": {
          "documentation": "Type of Audio codec.",
          "locationName": "codec",
          "shape": "AudioCodec"
        },
        "Eac3AtmosSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.",
          "locationName": "eac3AtmosSettings",
          "shape": "Eac3AtmosSettings"
        },
        "Eac3Settings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.",
          "locationName": "eac3Settings",
          "shape": "Eac3Settings"
        },
        "Mp2Settings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.",
          "locationName": "mp2Settings",
          "shape": "Mp2Settings"
        },
        "Mp3Settings": {
          "documentation": "Required when you set Codec, under AudioDescriptions>CodecSettings, to the value MP3.",
          "locationName": "mp3Settings",
          "shape": "Mp3Settings"
        },
        "WavSettings": {
          "documentation": "Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.",
          "locationName": "wavSettings",
          "shape": "WavSettings"
        }
      },
      "type": "structure"
    },
    "AudioDefaultSelection": {
      "documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
      "enum": [
        "DEFAULT",
        "NOT_DEFAULT"
      ],
      "type": "string"
    },
    "AudioDescription": {
      "documentation": "Description of audio output",
      "members": {
        "AudioNormalizationSettings": {
          "documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
          "locationName": "audioNormalizationSettings",
          "shape": "AudioNormalizationSettings"
        },
        "AudioSourceName": {
          "documentation": "Specifies which audio data to use from each input. In the simplest case, specify an \"Audio Selector\":#inputs-audio_selector by name based on its order within each input. For example if you specify \"Audio Selector 3\", then the third audio selector will be used from each input. If an input does not have an \"Audio Selector 3\", then the audio selector marked as \"default\" in that input will be used. If there is no audio selector marked as \"default\", silence will be inserted for the duration of that input. Alternatively, an \"Audio Selector Group\":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then \"Audio Selector 1\" will be chosen automatically.",
          "locationName": "audioSourceName",
          "shape": "__string"
        },
        "AudioType": {
          "documentation": "Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.",
          "locationName": "audioType",
          "shape": "__integerMin0Max255"
        },
        "AudioTypeControl": {
          "documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
          "locationName": "audioTypeControl",
          "shape": "AudioTypeControl"
        },
        "CodecSettings": {
          "documentation": "Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * MP3, Mp3Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings",
          "locationName": "codecSettings",
          "shape": "AudioCodecSettings"
        },
        "CustomLanguageCode": {
          "documentation": "Specify the language for this audio output track. The service puts this language code into your output audio track when you set Language code control (AudioLanguageCodeControl) to Use configured (USE_CONFIGURED). The service also uses your specified custom language code when you set Language code control (AudioLanguageCodeControl) to Follow input (FOLLOW_INPUT), but your input file doesn't specify a language code. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
          "locationName": "customLanguageCode",
          "shape": "__stringPatternAZaZ23AZaZ"
        },
        "LanguageCode": {
          "documentation": "Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.",
          "locationName": "languageCode",
          "shape": "LanguageCode"
        },
        "LanguageCodeControl": {
          "documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
          "locationName": "languageCodeControl",
          "shape": "AudioLanguageCodeControl"
        },
        "RemixSettings": {
          "documentation": "Advanced audio remixing settings.",
          "locationName": "remixSettings",
          "shape": "RemixSettings"
        },
        "StreamName": {
          "documentation": "Specify a label for this output audio stream. For example, \"English\", \"Director commentary\", or \"track_2\". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer's player device. For outputs in other output groups, the service ignores this setting.",
          "locationName": "streamName",
          "shape": "__stringPatternWS"
        }
      },
      "type": "structure"
    },
    "AudioLanguageCodeControl": {
      "documentation": "Specify which source for language code takes precedence for this audio track. When you choose Follow input (FOLLOW_INPUT), the service uses the language code from the input track if it's present. If there's no languge code on the input track, the service uses the code that you specify in the setting Language code (languageCode or customLanguageCode). When you choose Use configured (USE_CONFIGURED), the service uses the language code that you specify.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "AudioNormalizationAlgorithm": {
      "documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
      "enum": [
        "ITU_BS_1770_1",
        "ITU_BS_1770_2",
        "ITU_BS_1770_3",
        "ITU_BS_1770_4"
      ],
      "type": "string"
    },
    "AudioNormalizationAlgorithmControl": {
      "documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
      "enum": [
        "CORRECT_AUDIO",
        "MEASURE_ONLY"
      ],
      "type": "string"
    },
    "AudioNormalizationLoudnessLogging": {
      "documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
      "enum": [
        "LOG",
        "DONT_LOG"
      ],
      "type": "string"
    },
    "AudioNormalizationPeakCalculation": {
      "documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
      "enum": [
        "TRUE_PEAK",
        "NONE"
      ],
      "type": "string"
    },
    "AudioNormalizationSettings": {
      "documentation": "Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.",
      "members": {
        "Algorithm": {
          "documentation": "Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.",
          "locationName": "algorithm",
          "shape": "AudioNormalizationAlgorithm"
        },
        "AlgorithmControl": {
          "documentation": "When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.",
          "locationName": "algorithmControl",
          "shape": "AudioNormalizationAlgorithmControl"
        },
        "CorrectionGateLevel": {
          "documentation": "Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected.",
          "locationName": "correctionGateLevel",
          "shape": "__integerMinNegative70Max0"
        },
        "LoudnessLogging": {
          "documentation": "If set to LOG, log each output's audio track loudness to a CSV file.",
          "locationName": "loudnessLogging",
          "shape": "AudioNormalizationLoudnessLogging"
        },
        "PeakCalculation": {
          "documentation": "If set to TRUE_PEAK, calculate and log the TruePeak for each output's audio track loudness.",
          "locationName": "peakCalculation",
          "shape": "AudioNormalizationPeakCalculation"
        },
        "TargetLkfs": {
          "documentation": "When you use Audio normalization (AudioNormalizationSettings), optionally use this setting to specify a target loudness. If you don't specify a value here, the encoder chooses a value for you, based on the algorithm that you choose for Algorithm (algorithm). If you choose algorithm 1770-1, the encoder will choose -24 LKFS; otherwise, the encoder will choose -23 LKFS.",
          "locationName": "targetLkfs",
          "shape": "__doubleMinNegative59Max0"
        }
      },
      "type": "structure"
    },
    "AudioSelector": {
      "documentation": "Selector for Audio",
      "members": {
        "CustomLanguageCode": {
          "documentation": "Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code",
          "locationName": "customLanguageCode",
          "shape": "__stringMin3Max3PatternAZaZ3"
        },
        "DefaultSelection": {
          "documentation": "Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can't find the specified input audio. If you don't set a default, those outputs have no audio.",
          "locationName": "defaultSelection",
          "shape": "AudioDefaultSelection"
        },
        "ExternalAudioFileInput": {
          "documentation": "Specifies audio data from an external file source.",
          "locationName": "externalAudioFileInput",
          "shape": "__stringPatternS3MM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEEHttpsMM2VVMMPPEEGGMMPP3AAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE"
        },
        "LanguageCode": {
          "documentation": "Selects a specific language code from within an audio source.",
          "locationName": "languageCode",
          "shape": "LanguageCode"
        },
        "Offset": {
          "documentation": "Specifies a time delta in milliseconds to offset the audio from the input video.",
          "locationName": "offset",
          "shape": "__integerMinNegative2147483648Max2147483647"
        },
        "Pids": {
          "documentation": "Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).",
          "locationName": "pids",
          "shape": "__listOf__integerMin1Max2147483647"
        },
        "ProgramSelection": {
          "documentation": "Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.",
          "locationName": "programSelection",
          "shape": "__integerMin0Max8"
        },
        "RemixSettings": {
          "documentation": "Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.",
          "locationName": "remixSettings",
          "shape": "RemixSettings"
        },
        "SelectorType": {
          "documentation": "Specifies the type of the audio selector.",
          "locationName": "selectorType",
          "shape": "AudioSelectorType"
        },
        "Tracks": {
          "documentation": "Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type \"1,2,3\" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, \"tracks\": [1,2,3].",
          "locationName": "tracks",
          "shape": "__listOf__integerMin1Max2147483647"
        }
      },
      "type": "structure"
    },
    "AudioSelectorGroup": {
      "documentation": "Group of Audio Selectors",
      "members": {
        "AudioSelectorNames": {
          "documentation": "Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., \"Audio Selector 1\"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.",
          "locationName": "audioSelectorNames",
          "shape": "__listOf__stringMin1"
        }
      },
      "type": "structure"
    },
    "AudioSelectorType": {
      "documentation": "Specifies the type of the audio selector.",
      "enum": [
        "PID",
        "TRACK",
        "LANGUAGE_CODE"
      ],
      "type": "string"
    },
    "AudioTypeControl": {
      "documentation": "When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "Av1AdaptiveQuantization": {
      "documentation": "Adaptive quantization. Allows intra-frame quantizers to vary to improve visual quality.",
      "enum": [
        "OFF",
        "LOW",
        "MEDIUM",
        "HIGH",
        "HIGHER",
        "MAX"
      ],
      "type": "string"
    },
    "Av1FramerateControl": {
      "documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
      "enum": [
        "INITIALIZE_FROM_SOURCE",
        "SPECIFIED"
      ],
      "type": "string"
    },
    "Av1FramerateConversionAlgorithm": {
      "documentation": "When set to INTERPOLATE, produces smoother motion during frame rate conversion.",
      "enum": [
        "DUPLICATE_DROP",
        "INTERPOLATE"
      ],
      "type": "string"
    },
    "Av1QvbrSettings": {
      "documentation": "Settings for quality-defined variable bitrate encoding with the AV1 codec. Required when you set Rate control mode to QVBR. Not valid when you set Rate control mode to a value other than QVBR, or when you don't define Rate control mode.",
      "members": {
        "QvbrQualityLevel": {
          "documentation": "Required when you use QVBR rate control mode. That is, when you specify qvbrSettings within av1Settings. Specify the general target quality level for this output, from 1 to 10. Use higher numbers for greater quality. Level 10 results in nearly lossless compression. The quality level for most broadcast-quality transcodes is between 6 and 9. Optionally, to specify a value between whole numbers, also provide a value for the setting qvbrQualityLevelFineTune. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33.",
          "locationName": "qvbrQualityLevel",
          "shape": "__integerMin1Max10"
        },
        "QvbrQualityLevelFineTune": {
          "documentation": "Optional. Specify a value here to set the QVBR quality to a level that is between whole numbers. For example, if you want your QVBR quality level to be 7.33, set qvbrQualityLevel to 7 and set qvbrQualityLevelFineTune to .33. MediaConvert rounds your QVBR quality level to the nearest third of a whole number. For example, if you set qvbrQualityLevel to 7 and you set qvbrQualityLevelFineTune to .25, your actual QVBR quality level is 7.33.",
          "locationName": "qvbrQualityLevelFineTune",
          "shape": "__doubleMin0Max1"
        }
      },
      "type": "structure"
    },
    "Av1RateControlMode": {
      "documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'",
      "enum": [
        "QVBR"
      ],
      "type": "string"
    },
    "Av1Settings": {
      "documentation": "Required when you set Codec, under VideoDescription>CodecSettings to the value AV1.",
      "members": {
        "AdaptiveQuantization": {
          "documentation": "Adaptive quantization. Allows intra-frame quantizers to vary to improve visual quality.",
          "locationName": "adaptiveQuantization",
          "shape": "Av1AdaptiveQuantization"
        },
        "FramerateControl": {
          "documentation": "If you are using the console, use the Framerate setting to specify the frame rate for this output. If you want to keep the same frame rate as the input video, choose Follow source. If you want to do frame rate conversion, choose a frame rate from the dropdown list or choose Custom. The framerates shown in the dropdown list are decimal approximations of fractions. If you choose Custom, specify your frame rate as a fraction. If you are creating your transcoding job specification as a JSON file without the console, use FramerateControl to specify which value the service uses for the frame rate for this output. Choose INITIALIZE_FROM_SOURCE if you want the service to use the frame rate from the input. Choose SPECIFIED if you want the service to use the frame rate you specify in the settings FramerateNumerator and FramerateDenominator.",
          "locationName": "framerateControl",
          "shape": "Av1FramerateControl"
        },
        "FramerateConversionAlgorithm": {
          "documentation": "When set to INTERPOLATE, produces smoother motion during frame rate conversion.",
          "locationName": "framerateConversionAlgorithm",
          "shape": "Av1FramerateConversionAlgorithm"
        },
        "FramerateDenominator": {
          "documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateDenominator to specify the denominator of this fraction. In this example, use 1001 for the value of FramerateDenominator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
          "locationName": "framerateDenominator",
          "shape": "__integerMin1Max2147483647"
        },
        "FramerateNumerator": {
          "documentation": "When you use the API for transcode jobs that use frame rate conversion, specify the frame rate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateNumerator to specify the numerator of this fraction. In this example, use 24000 for the value of FramerateNumerator. When you use the console for transcode jobs that use frame rate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.",
          "locationName": "framerateNumerator",
          "shape": "__integerMin1Max2147483647"
        },
        "GopSize": {
          "documentation": "Specify the GOP length (keyframe interval) in frames. With AV1, MediaConvert doesn't support GOP length in seconds. This value must be greater than zero and preferably equal to 1 + ((numberBFrames + 1) * x), where x is an integer value.",
          "locationName": "gopSize",
          "shape": "__doubleMin0"
        },
        "MaxBitrate": {
          "documentation": "Maximum bitrate in bits/second. For example, enter five megabits per second as 5000000. Required when Rate control mode is QVBR.",
          "locationName": "maxBitrate",
          "shape": "__integerMin1000Max1152000000"
        },
        "NumberBFramesBetweenReferenceFrames": {
          "documentation": "Specify the number of B-frames. With AV1, MediaConvert supports only 7 or 15.",
          "locationName": "numberBFramesBetweenReferenceFrames",
          "shape": "__integerMin7Max15"
        },
        "QvbrSettings": {
          "documentation": "Settings for quality-defined variable bitrate encoding with the AV1 codec. Required when you set Rate control mode to QVBR. Not valid when you set Rate control mode to a value other than QVBR, or when you don't define Rate control mode.",
          "locationName": "qvbrSettings",
          "shape": "Av1QvbrSettings"
        },
        "RateControlMode": {
          "documentation": "'With AV1 outputs, for rate control mode, MediaConvert supports only quality-defined variable bitrate (QVBR). You can''t use CBR or VBR.'",
          "locationName": "rateControlMode",
          "shape": "Av1RateControlMode"
        },
        "Slices": {
          "documentation": "Specify the number of slices per picture. This value must be 1, 2, 4, 8, 16, or 32. For progressive pictures, this value must be less than or equal to the number of macroblock rows. For interlaced pictures, this value must be less than or equal to half the number of macroblock rows.",
          "locationName": "slices",
          "shape": "__integerMin1Max32"
        },
        "SpatialAdaptiveQuantization": {
          "documentation": "Adjust quantization within each frame based on spatial variation of content complexity.",
          "locationName": "spatialAdaptiveQuantization",
          "shape": "Av1SpatialAdaptiveQuantization"
        }
      },
      "type": "structure"
    },
    "Av1SpatialAdaptiveQuantization": {
      "documentation": "Adjust quantization within each frame based on spatial variation of content complexity.",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "AvailBlanking": {
      "documentation": "Settings for Avail Blanking",
      "members": {
        "AvailBlankingImage": {
          "documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
          "locationName": "availBlankingImage",
          "shape": "__stringMin14PatternS3BmpBMPPngPNGHttpsBmpBMPPngPNG"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "The service can't process your request because of a problem in the request. Please check your request form and syntax.",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BillingTagsSource": {
      "documentation": "Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don't have an associated tag will appear in your billing report unsorted. If you don't choose a valid value for this field, your job outputs will appear on the billing report unsorted.",
      "enum": [
        "QUEUE",
        "PRESET",
        "JOB_TEMPLATE",
        "JOB"
      ],
      "type": "string"
    },
    "BurninDestinationSettings": {
      "documentation": "Burn-In Destination Settings.",
      "members": {
        "Alignment": {
          "documentation": "If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "alignment",
          "shape": "BurninSubtitleAlignment"
        },
        "BackgroundColor": {
          "documentation": "Specifies the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings must match.",
          "locationName": "backgroundColor",
          "shape": "BurninSubtitleBackgroundColor"
        },
        "BackgroundOpacity": {
          "documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.",
          "locationName": "backgroundOpacity",
          "shape": "__integerMin0Max255"
        },
        "FontColor": {
          "documentation": "Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "fontColor",
          "shape": "BurninSubtitleFontColor"
        },
        "FontOpacity": {
          "documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.\nAll burn-in and DVB-Sub font settings must match.",
          "locationName": "fontOpacity",
          "shape": "__integerMin0Max255"
        },
        "FontResolution": {
          "documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.\nAll burn-in and DVB-Sub font settings must match.",
          "locationName": "fontResolution",
          "shape": "__integerMin96Max600"
        },
        "FontScript": {
          "documentation": "Provide the font script, using an ISO 15924 script code, if the LanguageCode is not sufficient for determining the script type. Where LanguageCode or CustomLanguageCode is sufficient, use \"AUTOMATIC\" or leave unset. This is used to help determine the appropriate font for rendering burn-in captions.",
          "locationName": "fontScript",
          "shape": "FontScript"
        },
        "FontSize": {
          "documentation": "A positive integer indicates the exact font size in points. Set to 0 for automatic font size selection. All burn-in and DVB-Sub font settings must match.",
          "locationName": "fontSize",
          "shape": "__integerMin0Max96"
        },
        "OutlineColor": {
          "documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "outlineColor",
          "shape": "BurninSubtitleOutlineColor"
        },
        "OutlineSize": {
          "documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "outlineSize",
          "shape": "__integerMin0Max10"
        },
        "ShadowColor": {
          "documentation": "Specifies the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowColor",
          "shape": "BurninSubtitleShadowColor"
        },
        "ShadowOpacity": {
          "documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowOpacity",
          "shape": "__integerMin0Max255"
        },
        "ShadowXOffset": {
          "documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowXOffset",
          "shape": "__integerMinNegative2147483648Max2147483647"
        },
        "ShadowYOffset": {
          "documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowYOffset",
          "shape": "__integerMinNegative2147483648Max2147483647"
        },
        "TeletextSpacing": {
          "documentation": "Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.",
          "locationName": "teletextSpacing",
          "shape": "BurninSubtitleTeletextSpacing"
        },
        "XPosition": {
          "documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit x_position is provided, the horizontal caption position will be determined by the alignment parameter. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "xPosition",
          "shape": "__integerMin0Max2147483647"
        },
        "YPosition": {
          "documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit y_position is provided, the caption will be positioned towards the bottom of the output. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "yPosition",
          "shape": "__integerMin0Max2147483647"
        }
      },
      "type": "structure"
    },
    "BurninSubtitleAlignment": {
      "documentation": "If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
      "enum": [
        "CENTERED",
        "LEFT"
      ],
      "type": "string"
    },
    "BurninSubtitleBackgroundColor": {
      "documentation": "Specifies the color of the rectangle behind the captions.\nAll burn-in and DVB-Sub font settings must match.",
      "enum": [
        "NONE",
        "BLACK",
        "WHITE"
      ],
      "type": "string"
    },
    "BurninSubtitleFontColor": {
      "documentation": "Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
      "enum": [
        "WHITE",
        "BLACK",
        "YELLOW",
        "RED",
        "GREEN",
        "BLUE"
      ],
      "type": "string"
    },
    "BurninSubtitleOutlineColor": {
      "documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
      "enum": [
        "BLACK",
        "WHITE",
        "YELLOW",
        "RED",
        "GREEN",
        "BLUE"
      ],
      "type": "string"
    },
    "BurninSubtitleShadowColor": {
      "documentation": "Specifies the color of the shadow cast by the captions.\nAll burn-in and DVB-Sub font settings must match.",
      "enum": [
        "NONE",
        "BLACK",
        "WHITE"
      ],
      "type": "string"
    },
    "BurninSubtitleTeletextSpacing": {
      "documentation": "Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.",
      "enum": [
        "FIXED_GRID",
        "PROPORTIONAL"
      ],
      "type": "string"
    },
    "CancelJobRequest": {
      "members": {
        "Id": {
          "documentation": "The Job ID of the job to be cancelled.",
          "location": "uri",
          "locationName": "id",
          "shape": "__string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CancelJobResponse": {
      "members": {},
      "type": "structure"
    },
    "CaptionDescription": {
      "documentation": "Description of Caption output",
      "members": {
        "CaptionSelectorName": {
          "documentation": "Specifies which \"Caption Selector\":#inputs-caption_selector to use from each input when generating captions. The name should be of the format \"Caption Selector <N>\", which denotes that the Nth Caption Selector will be used from each input.",
          "locationName": "captionSelectorName",
          "shape": "__stringMin1"
        },
        "CustomLanguageCode": {
          "documentation": "Specify the language for this captions output track. For most captions output formats, the encoder puts this language information in the output captions metadata. If your output captions format is DVB-Sub or Burn in, the encoder uses this language information when automatically selecting the font script for rendering the captions text. For all outputs, you can use an ISO 639-2 or ISO 639-3 code. For streaming outputs, you can also use any other code in the full RFC-5646 specification. Streaming outputs are those that are in one of the following output groups: CMAF, DASH ISO, Apple HLS, or Microsoft Smooth Streaming.",
          "locationName": "customLanguageCode",
          "shape": "__stringPatternAZaZ23AZaZ"
        },
        "DestinationSettings": {
          "documentation": "Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.",
          "locationName": "destinationSettings",
          "shape": "CaptionDestinationSettings"
        },
        "LanguageCode": {
[...]
