{
  "documentation": "<fullname>AWS Backup</fullname> <p>AWS Backup is a unified backup service designed to protect AWS services and their associated data. AWS Backup simplifies the creation, migration, restoration, and deletion of backups, while also providing reporting and auditing.</p>",
  "metadata": {
    "apiVersion": "2018-11-15",
    "endpointPrefix": "backup",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Backup",
    "serviceId": "Backup",
    "signatureVersion": "v4",
    "uid": "backup-2018-11-15"
  },
  "operations": {
    "CreateBackupPlan": {
      "documentation": "<p>Backup plans are documents that contain information that AWS Backup uses to schedule tasks that create recovery points of resources.</p> <p>If you call <code>CreateBackupPlan</code> with a plan that already exists, an <code>AlreadyExistsException</code> is returned.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup/plans/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBackupPlanInput"
      },
      "name": "CreateBackupPlan",
      "output": {
        "shape": "CreateBackupPlanOutput"
      }
    },
    "CreateBackupSelection": {
      "documentation": "<p>Creates a JSON document that specifies a set of resources to assign to a backup plan. Resources can be included by specifying patterns for a <code>ListOfTags</code> and selected <code>Resources</code>. </p> <p>For example, consider the following patterns:</p> <ul> <li> <p> <code>Resources: \"arn:aws:ec2:region:account-id:volume/volume-id\"</code> </p> </li> <li> <p> <code>ConditionKey:\"department\"</code> </p> <p> <code>ConditionValue:\"finance\"</code> </p> <p> <code>ConditionType:\"STRINGEQUALS\"</code> </p> </li> <li> <p> <code>ConditionKey:\"importance\"</code> </p> <p> <code>ConditionValue:\"critical\"</code> </p> <p> <code>ConditionType:\"STRINGEQUALS\"</code> </p> </li> </ul> <p>Using these patterns would back up all Amazon Elastic Block Store (Amazon EBS) volumes that are tagged as <code>\"department=finance\"</code>, <code>\"importance=critical\"</code>, in addition to an EBS volume with the specified volume Id.</p> <p>Resources and conditions are additive in that all resources that match the pattern are selected. This shouldn't be confused with a logical AND, where all conditions must match. The matching patterns are logically 'put together using the OR operator. In other words, all patterns that match are selected for backup.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup/plans/{backupPlanId}/selections/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBackupSelectionInput"
      },
      "name": "CreateBackupSelection",
      "output": {
        "shape": "CreateBackupSelectionOutput"
      }
    },
    "CreateBackupVault": {
      "documentation": "<p>Creates a logical container where backups are stored. A <code>CreateBackupVault</code> request includes a name, optionally one or more resource tags, an encryption key, and a request ID.</p> <note> <p>Sensitive data, such as passport numbers, should not be included the name of a backup vault.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateBackupVaultInput"
      },
      "name": "CreateBackupVault",
      "output": {
        "shape": "CreateBackupVaultOutput"
      }
    },
    "DeleteBackupPlan": {
      "documentation": "<p>Deletes a backup plan. A backup plan can only be deleted after all associated selections of resources have been deleted. Deleting a backup plan deletes the current version of a backup plan. Previous versions, if any, will still exist.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup/plans/{backupPlanId}"
      },
      "input": {
        "shape": "DeleteBackupPlanInput"
      },
      "name": "DeleteBackupPlan",
      "output": {
        "shape": "DeleteBackupPlanOutput"
      }
    },
    "DeleteBackupSelection": {
      "documentation": "<p>Deletes the resource selection associated with a backup plan that is specified by the <code>SelectionId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "input": {
        "shape": "DeleteBackupSelectionInput"
      },
      "name": "DeleteBackupSelection"
    },
    "DeleteBackupVault": {
      "documentation": "<p>Deletes the backup vault identified by its name. A vault can be deleted only if it is empty.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}"
      },
      "input": {
        "shape": "DeleteBackupVaultInput"
      },
      "name": "DeleteBackupVault"
    },
    "DeleteBackupVaultAccessPolicy": {
      "documentation": "<p>Deletes the policy document that manages permissions on a backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBackupVaultAccessPolicyInput"
      },
      "name": "DeleteBackupVaultAccessPolicy"
    },
    "DeleteBackupVaultNotifications": {
      "documentation": "<p>Deletes event notifications for the specified backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteBackupVaultNotificationsInput"
      },
      "name": "DeleteBackupVaultNotifications"
    },
    "DeleteRecoveryPoint": {
      "documentation": "<p>Deletes the recovery point specified by a recovery point ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRecoveryPointInput"
      },
      "name": "DeleteRecoveryPoint"
    },
    "DescribeBackupJob": {
      "documentation": "<p>Returns metadata associated with creating a backup of a resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "DependencyFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-jobs/{backupJobId}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBackupJobInput"
      },
      "name": "DescribeBackupJob",
      "output": {
        "shape": "DescribeBackupJobOutput"
      }
    },
    "DescribeBackupVault": {
      "documentation": "<p>Returns metadata about a backup vault specified by its name.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBackupVaultInput"
      },
      "name": "DescribeBackupVault",
      "output": {
        "shape": "DescribeBackupVaultOutput"
      }
    },
    "DescribeCopyJob": {
      "documentation": "<p>Returns metadata associated with creating a copy of a resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/copy-jobs/{copyJobId}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeCopyJobInput"
      },
      "name": "DescribeCopyJob",
      "output": {
        "shape": "DescribeCopyJobOutput"
      }
    },
    "DescribeProtectedResource": {
      "documentation": "<p>Returns information about a saved resource, including the last time it was backed-up, its Amazon Resource Name (ARN), and the AWS service type of the saved resource.</p>",
      "errors": [
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/{resourceArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeProtectedResourceInput"
      },
      "name": "DescribeProtectedResource",
      "output": {
        "shape": "DescribeProtectedResourceOutput"
      }
    },
    "DescribeRecoveryPoint": {
      "documentation": "<p>Returns metadata associated with a recovery point, including ID, status, encryption, and lifecycle.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRecoveryPointInput"
      },
      "name": "DescribeRecoveryPoint",
      "output": {
        "shape": "DescribeRecoveryPointOutput"
      }
    },
    "DescribeRestoreJob": {
      "documentation": "<p>Returns metadata associated with a restore job that is specified by a job ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "DependencyFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restore-jobs/{restoreJobId}"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRestoreJobInput"
      },
      "name": "DescribeRestoreJob",
      "output": {
        "shape": "DescribeRestoreJobOutput"
      }
    },
    "ExportBackupPlanTemplate": {
      "documentation": "<p>Returns the backup plan that is specified by the plan ID as a backup template.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/toTemplate/"
      },
      "input": {
        "shape": "ExportBackupPlanTemplateInput"
      },
      "name": "ExportBackupPlanTemplate",
      "output": {
        "shape": "ExportBackupPlanTemplateOutput"
      }
    },
    "GetBackupPlan": {
      "documentation": "<p>Returns the body of a backup plan in JSON format, in addition to plan metadata.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupPlanInput"
      },
      "name": "GetBackupPlan",
      "output": {
        "shape": "GetBackupPlanOutput"
      }
    },
    "GetBackupPlanFromJSON": {
      "documentation": "<p>Returns a valid JSON document specifying a backup plan or an error.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup/template/json/toPlan"
      },
      "input": {
        "shape": "GetBackupPlanFromJSONInput"
      },
      "name": "GetBackupPlanFromJSON",
      "output": {
        "shape": "GetBackupPlanFromJSONOutput"
      }
    },
    "GetBackupPlanFromTemplate": {
      "documentation": "<p>Returns the template specified by its <code>templateId</code> as a backup plan.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/template/plans/{templateId}/toPlan"
      },
      "input": {
        "shape": "GetBackupPlanFromTemplateInput"
      },
      "name": "GetBackupPlanFromTemplate",
      "output": {
        "shape": "GetBackupPlanFromTemplateOutput"
      }
    },
    "GetBackupSelection": {
      "documentation": "<p>Returns selection metadata and a document in JSON format that specifies a list of resources that are associated with a backup plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/selections/{selectionId}"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupSelectionInput"
      },
      "name": "GetBackupSelection",
      "output": {
        "shape": "GetBackupSelectionOutput"
      }
    },
    "GetBackupVaultAccessPolicy": {
      "documentation": "<p>Returns the access policy document that is associated with the named backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupVaultAccessPolicyInput"
      },
      "name": "GetBackupVaultAccessPolicy",
      "output": {
        "shape": "GetBackupVaultAccessPolicyOutput"
      }
    },
    "GetBackupVaultNotifications": {
      "documentation": "<p>Returns event notifications for the specified backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "idempotent": true,
      "input": {
        "shape": "GetBackupVaultNotificationsInput"
      },
      "name": "GetBackupVaultNotifications",
      "output": {
        "shape": "GetBackupVaultNotificationsOutput"
      }
    },
    "GetRecoveryPointRestoreMetadata": {
      "documentation": "<p>Returns a set of metadata key-value pairs that were used to create the backup.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/restore-metadata"
      },
      "idempotent": true,
      "input": {
        "shape": "GetRecoveryPointRestoreMetadataInput"
      },
      "name": "GetRecoveryPointRestoreMetadata",
      "output": {
        "shape": "GetRecoveryPointRestoreMetadataOutput"
      }
    },
    "GetSupportedResourceTypes": {
      "documentation": "<p>Returns the AWS resource types supported by AWS Backup.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/supported-resource-types"
      },
      "name": "GetSupportedResourceTypes",
      "output": {
        "shape": "GetSupportedResourceTypesOutput"
      }
    },
    "ListBackupJobs": {
      "documentation": "<p>Returns metadata about your backup jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-jobs/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupJobsInput"
      },
      "name": "ListBackupJobs",
      "output": {
        "shape": "ListBackupJobsOutput"
      }
    },
    "ListBackupPlanTemplates": {
      "documentation": "<p>Returns metadata of your saved backup plan templates, including the template ID, name, and the creation and deletion dates.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/template/plans"
      },
      "input": {
        "shape": "ListBackupPlanTemplatesInput"
      },
      "name": "ListBackupPlanTemplates",
      "output": {
        "shape": "ListBackupPlanTemplatesOutput"
      }
    },
    "ListBackupPlanVersions": {
      "documentation": "<p>Returns version metadata of your backup plans, including Amazon Resource Names (ARNs), backup plan IDs, creation and deletion dates, plan names, and version IDs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/versions/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupPlanVersionsInput"
      },
      "name": "ListBackupPlanVersions",
      "output": {
        "shape": "ListBackupPlanVersionsOutput"
      }
    },
    "ListBackupPlans": {
      "documentation": "<p>Returns metadata of your saved backup plans, including Amazon Resource Names (ARNs), plan IDs, creation and deletion dates, version IDs, plan names, and creator request IDs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupPlansInput"
      },
      "name": "ListBackupPlans",
      "output": {
        "shape": "ListBackupPlansOutput"
      }
    },
    "ListBackupSelections": {
      "documentation": "<p>Returns an array containing metadata of the resources associated with the target backup plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup/plans/{backupPlanId}/selections/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupSelectionsInput"
      },
      "name": "ListBackupSelections",
      "output": {
        "shape": "ListBackupSelectionsOutput"
      }
    },
    "ListBackupVaults": {
      "documentation": "<p>Returns a list of recovery point storage containers along with information about them.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBackupVaultsInput"
      },
      "name": "ListBackupVaults",
      "output": {
        "shape": "ListBackupVaultsOutput"
      }
    },
    "ListCopyJobs": {
      "documentation": "<p>Returns metadata about your copy jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/copy-jobs/"
      },
      "input": {
        "shape": "ListCopyJobsInput"
      },
      "name": "ListCopyJobs",
      "output": {
        "shape": "ListCopyJobsOutput"
      }
    },
    "ListProtectedResources": {
      "documentation": "<p>Returns an array of resources successfully backed up by AWS Backup, including the time the resource was saved, an Amazon Resource Name (ARN) of the resource, and a resource type.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListProtectedResourcesInput"
      },
      "name": "ListProtectedResources",
      "output": {
        "shape": "ListProtectedResourcesOutput"
      }
    },
    "ListRecoveryPointsByBackupVault": {
      "documentation": "<p>Returns detailed information about the recovery points stored in a backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecoveryPointsByBackupVaultInput"
      },
      "name": "ListRecoveryPointsByBackupVault",
      "output": {
        "shape": "ListRecoveryPointsByBackupVaultOutput"
      }
    },
    "ListRecoveryPointsByResource": {
      "documentation": "<p>Returns detailed information about recovery points of the type specified by a resource Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/{resourceArn}/recovery-points/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecoveryPointsByResourceInput"
      },
      "name": "ListRecoveryPointsByResource",
      "output": {
        "shape": "ListRecoveryPointsByResourceOutput"
      }
    },
    "ListRestoreJobs": {
      "documentation": "<p>Returns a list of jobs that AWS Backup initiated to restore a saved resource, including metadata about the recovery process.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restore-jobs/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRestoreJobsInput"
      },
      "name": "ListRestoreJobs",
      "output": {
        "shape": "ListRestoreJobsOutput"
      }
    },
    "ListTags": {
      "documentation": "<p>Returns a list of key-value pairs assigned to a target recovery point, backup plan, or backup vault.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTagsInput"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsOutput"
      }
    },
    "PutBackupVaultAccessPolicy": {
      "documentation": "<p>Sets a resource-based policy that is used to manage access permissions on the target backup vault. Requires a backup vault name and an access policy document in JSON format.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}/access-policy"
      },
      "idempotent": true,
      "input": {
        "shape": "PutBackupVaultAccessPolicyInput"
      },
      "name": "PutBackupVaultAccessPolicy"
    },
    "PutBackupVaultNotifications": {
      "documentation": "<p>Turns on notifications on a backup vault for the specified topic and events.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-vaults/{backupVaultName}/notification-configuration"
      },
      "idempotent": true,
      "input": {
        "shape": "PutBackupVaultNotificationsInput"
      },
      "name": "PutBackupVaultNotifications"
    },
    "StartBackupJob": {
      "documentation": "<p>Starts a job to create a one-time backup of the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/backup-jobs"
      },
      "idempotent": true,
      "input": {
        "shape": "StartBackupJobInput"
      },
      "name": "StartBackupJob",
      "output": {
        "shape": "StartBackupJobOutput"
      }
    },
    "StartCopyJob": {
      "documentation": "<p>Starts a job to create a one-time copy of the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/copy-jobs"
      },
      "idempotent": true,
      "input": {
        "shape": "StartCopyJobInput"
      },
      "name": "StartCopyJob",
      "output": {
        "shape": "StartCopyJobOutput"
      }
    },
    "StartRestoreJob": {
      "documentation": "<p>Recovers the saved resource identified by an Amazon Resource Name (ARN). </p> <p>If the resource ARN is included in the request, then the last complete backup of that resource is recovered. If the ARN of a recovery point is supplied, then that recovery point is restored.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restore-jobs"
      },
      "idempotent": true,
      "input": {
        "shape": "StartRestoreJobInput"
      },
      "name": "StartRestoreJob",
      "output": {
        "shape": "StartRestoreJobOutput"
      }
    },
    "StopBackupJob": {
      "documentation": "<p>Attempts to cancel a job to create a one-time backup of a resource.</p>",
      "errors": [
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup-jobs/{backupJobId}"
      },
      "input": {
        "shape": "StopBackupJobInput"
      },
      "name": "StopBackupJob"
    },
    "TagResource": {
      "documentation": "<p>Assigns a set of key-value pairs to a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Removes a set of key-value pairs from a recovery point, backup plan, or backup vault identified by an Amazon Resource Name (ARN)</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/untag/{resourceArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource"
    },
    "UpdateBackupPlan": {
      "documentation": "<p>Replaces the body of a saved backup plan identified by its <code>backupPlanId</code> with the input document in JSON format. The new version is uniquely identified by a <code>VersionId</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup/plans/{backupPlanId}"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateBackupPlanInput"
      },
      "name": "UpdateBackupPlan",
      "output": {
        "shape": "UpdateBackupPlanOutput"
      }
    },
    "UpdateRecoveryPointLifecycle": {
      "documentation": "<p>Sets the transition lifecycle of a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cexpire after days\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingParameterValueException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRecoveryPointLifecycleInput"
      },
      "name": "UpdateRecoveryPointLifecycle",
      "output": {
        "shape": "UpdateRecoveryPointLifecycleOutput"
      }
    }
  },
  "shapes": {
    "ARN": {
      "type": "string"
    },
    "AlreadyExistsException": {
      "documentation": "<p>The required resource already exists.</p>",
      "exception": true,
      "members": {
        "Arn": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "Code": {
          "shape": "string"
        },
        "Context": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "CreatorRequestId": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "Message": {
          "shape": "string"
        },
        "Type": {
          "documentation": "<p/>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupJob": {
      "documentation": "<p>Contains detailed information about a backup job.</p>",
      "members": {
        "BackupJobId": {
          "documentation": "<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>",
          "shape": "string"
        },
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of a backup.</p>",
          "shape": "Long"
        },
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "BytesTransferred": {
          "documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was queried.</p>",
          "shape": "Long"
        },
        "CompletionDate": {
          "documentation": "<p>The date and time a job to create a backup job is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatedBy": {
          "documentation": "<p>Contains identifying information about the creation of a backup job, including the <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> of the backup plan used to create it.</p>",
          "shape": "RecoveryPointCreator"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a backup job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "ExpectedCompletionDate": {
          "documentation": "<p>The date and time a job to back up resources is expected to be completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "PercentDone": {
          "documentation": "<p>Contains an estimated percentage complete of a job at the time the job status was queried.</p>",
          "shape": "string"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "shape": "ARN"
        },
        "ResourceArn": {
          "documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the resource type.</p>",
          "shape": "ARN"
        },
        "ResourceType": {
          "documentation": "<p>The type of AWS resource to be backed-up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>",
          "shape": "ResourceType"
        },
        "StartBy": {
          "documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job must be started before it is canceled. The value is calculated by adding the start window to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2 hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "State": {
          "documentation": "<p>The current state of a resource recovery point.</p>",
          "shape": "BackupJobState"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupJobState": {
      "enum": [
        "CREATED",
        "PENDING",
        "RUNNING",
        "ABORTING",
        "ABORTED",
        "COMPLETED",
        "FAILED",
        "EXPIRED"
      ],
      "type": "string"
    },
    "BackupJobsList": {
      "member": {
        "shape": "BackupJob"
      },
      "type": "list"
    },
    "BackupPlan": {
      "documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task and can back up a different selection of AWS resources.</p>",
      "members": {
        "BackupPlanName": {
          "documentation": "<p>The display name of a backup plan.</p>",
          "shape": "BackupPlanName"
        },
        "Rules": {
          "documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.</p>",
          "shape": "BackupRules"
        }
      },
      "required": [
        "BackupPlanName",
        "Rules"
      ],
      "type": "structure"
    },
    "BackupPlanInput": {
      "documentation": "<p>Contains an optional backup plan display name and an array of <code>BackupRule</code> objects, each of which specifies a backup rule. Each rule in a backup plan is a separate scheduled task and can back up a different selection of AWS resources.</p>",
      "members": {
        "BackupPlanName": {
          "documentation": "<p>The display name of a backup plan.</p>",
          "shape": "BackupPlanName"
        },
        "Rules": {
          "documentation": "<p>An array of <code>BackupRule</code> objects, each of which specifies a scheduled task that is used to back up a selection of resources.</p>",
          "shape": "BackupRulesInput"
        }
      },
      "required": [
        "BackupPlanName",
        "Rules"
      ],
      "type": "structure"
    },
    "BackupPlanName": {
      "type": "string"
    },
    "BackupPlanTemplatesList": {
      "member": {
        "shape": "BackupPlanTemplatesListMember"
      },
      "type": "list"
    },
    "BackupPlanTemplatesListMember": {
      "documentation": "<p>An object specifying metadata associated with a backup plan template.</p>",
      "members": {
        "BackupPlanTemplateId": {
          "documentation": "<p>Uniquely identifies a stored backup plan template.</p>",
          "shape": "string"
        },
        "BackupPlanTemplateName": {
          "documentation": "<p>The optional display name of a backup plan template.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupPlanVersionsList": {
      "member": {
        "shape": "BackupPlansListMember"
      },
      "type": "list"
    },
    "BackupPlansList": {
      "member": {
        "shape": "BackupPlansListMember"
      },
      "type": "list"
    },
    "BackupPlansListMember": {
      "documentation": "<p>Contains metadata about a backup plan.</p>",
      "members": {
        "BackupPlanArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>",
          "shape": "ARN"
        },
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "BackupPlanName": {
          "documentation": "<p>The display name of a saved backup plan.</p>",
          "shape": "BackupPlanName"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a resource backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "string"
        },
        "DeletionDate": {
          "documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal Time (UTC). The value of <code>DeletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "LastExecutionDate": {
          "documentation": "<p>The last time a job to back up resources was executed with this rule. A date and time, in Unix format and Coordinated Universal Time (UTC). The value of <code>LastExecutionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "VersionId": {
          "documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. Version IDs cannot be edited.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "BackupRule": {
      "documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>",
      "members": {
        "CompletionWindowMinutes": {
          "documentation": "<p>A value in minutes after a backup job is successfully started before it must be completed or it is canceled by AWS Backup. This value is optional.</p>",
          "shape": "WindowMinutes"
        },
        "CopyActions": {
          "documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>",
          "shape": "CopyActions"
        },
        "Lifecycle": {
          "documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cexpire after days\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold. </p>",
          "shape": "Lifecycle"
        },
        "RecoveryPointTags": {
          "documentation": "<p>An array of key-value pair strings that are assigned to resources that are associated with this rule when restored from backup.</p>",
          "shape": "Tags"
        },
        "RuleId": {
          "documentation": "<p>Uniquely identifies a rule that is used to schedule the backup of a selection of resources.</p>",
          "shape": "string"
        },
        "RuleName": {
          "documentation": "<p>An optional display name for a backup rule.</p>",
          "shape": "BackupRuleName"
        },
        "ScheduleExpression": {
          "documentation": "<p>A CRON expression specifying when AWS Backup initiates a backup job.</p>",
          "shape": "CronExpression"
        },
        "StartWindowMinutes": {
          "documentation": "<p>An optional value that specifies a period of time in minutes after a backup is scheduled before a job is canceled if it doesn't start successfully.</p>",
          "shape": "WindowMinutes"
        },
        "TargetBackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        }
      },
      "required": [
        "RuleName",
        "TargetBackupVaultName"
      ],
      "type": "structure"
    },
    "BackupRuleInput": {
      "documentation": "<p>Specifies a scheduled task used to back up a selection of resources.</p>",
      "members": {
        "CompletionWindowMinutes": {
          "documentation": "<p>The amount of time AWS Backup attempts a backup before canceling the job and returning an error.</p>",
          "shape": "WindowMinutes"
        },
        "CopyActions": {
          "documentation": "<p>An array of <code>CopyAction</code> objects, which contains the details of the copy operation.</p>",
          "shape": "CopyActions"
        },
        "Lifecycle": {
          "documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup will transition and expire backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cexpire after days\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold. </p>",
          "shape": "Lifecycle"
        },
        "RecoveryPointTags": {
          "documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that you create. Each tag is a key-value pair.</p>",
          "shape": "Tags"
        },
        "RuleName": {
          "documentation": "<p>&gt;An optional display name for a backup rule.</p>",
          "shape": "BackupRuleName"
        },
        "ScheduleExpression": {
          "documentation": "<p>A CRON expression specifying when AWS Backup initiates a backup job.</p>",
          "shape": "CronExpression"
        },
        "StartWindowMinutes": {
          "documentation": "<p>The amount of time in minutes before beginning a backup.</p>",
          "shape": "WindowMinutes"
        },
        "TargetBackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        }
      },
      "required": [
        "RuleName",
        "TargetBackupVaultName"
      ],
      "type": "structure"
    },
    "BackupRuleName": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "BackupRules": {
      "member": {
        "shape": "BackupRule"
      },
      "type": "list"
    },
    "BackupRulesInput": {
      "member": {
        "shape": "BackupRuleInput"
      },
      "type": "list"
    },
    "BackupSelection": {
      "documentation": "<p>Used to specify a set of resources to a backup plan.</p>",
      "members": {
        "IamRoleArn": {
          "documentation": "<p>The ARN of the IAM role that AWS Backup uses to authenticate when restoring the target resource; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "ListOfTags": {
          "documentation": "<p>An array of conditions used to specify a set of resources to assign to a backup plan; for example, <code>\"STRINGEQUALS\": {\"ec2:ResourceTag/Department\": \"accounting\"</code>.</p>",
          "shape": "ListOfTags"
        },
        "Resources": {
          "documentation": "<p>An array of strings that contain Amazon Resource Names (ARNs) of resources to assign to a backup plan.</p>",
          "shape": "ResourceArns"
        },
        "SelectionName": {
          "documentation": "<p>The display name of a resource selection document.</p>",
          "shape": "BackupSelectionName"
        }
      },
      "required": [
        "SelectionName",
        "IamRoleArn"
      ],
      "type": "structure"
    },
    "BackupSelectionName": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "BackupSelectionsList": {
      "member": {
        "shape": "BackupSelectionsListMember"
      },
      "type": "list"
    },
    "BackupSelectionsListMember": {
      "documentation": "<p>Contains metadata about a <code>BackupSelection</code> object.</p>",
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "string"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role Amazon Resource Name (ARN) to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "SelectionId": {
          "documentation": "<p>Uniquely identifies a request to assign a set of resources to a backup plan.</p>",
          "shape": "string"
        },
        "SelectionName": {
          "documentation": "<p>The display name of a resource selection document.</p>",
          "shape": "BackupSelectionName"
        }
      },
      "type": "structure"
    },
    "BackupVaultEvent": {
      "enum": [
        "BACKUP_JOB_STARTED",
        "BACKUP_JOB_COMPLETED",
        "BACKUP_JOB_SUCCESSFUL",
        "BACKUP_JOB_FAILED",
        "BACKUP_JOB_EXPIRED",
        "RESTORE_JOB_STARTED",
        "RESTORE_JOB_COMPLETED",
        "RESTORE_JOB_SUCCESSFUL",
        "RESTORE_JOB_FAILED",
        "COPY_JOB_STARTED",
        "COPY_JOB_SUCCESSFUL",
        "COPY_JOB_FAILED",
        "RECOVERY_POINT_MODIFIED",
        "BACKUP_PLAN_CREATED",
        "BACKUP_PLAN_MODIFIED"
      ],
      "type": "string"
    },
    "BackupVaultEvents": {
      "member": {
        "shape": "BackupVaultEvent"
      },
      "type": "list"
    },
    "BackupVaultList": {
      "member": {
        "shape": "BackupVaultListMember"
      },
      "type": "list"
    },
    "BackupVaultListMember": {
      "documentation": "<p>Contains metadata about a backup vault.</p>",
      "members": {
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a resource backup is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "string"
        },
        "EncryptionKeyArn": {
          "documentation": "<p>The server-side encryption key that is used to protect your backups; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>",
          "shape": "ARN"
        },
        "NumberOfRecoveryPoints": {
          "documentation": "<p>The number of recovery points that are stored in a backup vault.</p>",
          "shape": "long"
        }
      },
      "type": "structure"
    },
    "BackupVaultName": {
      "pattern": "^[a-zA-Z0-9\\-\\_\\.]{1,50}$",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CalculatedLifecycle": {
      "documentation": "<p>Contains <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps, which are used to specify a lifecycle for a recovery point.</p> <p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cexpire after days\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold. </p>",
      "members": {
        "DeleteAt": {
          "documentation": "<p>A timestamp that specifies when to delete a recovery point.</p>",
          "shape": "timestamp"
        },
        "MoveToColdStorageAt": {
          "documentation": "<p>A timestamp that specifies when to transition a recovery point to cold storage.</p>",
          "shape": "timestamp"
        }
      },
      "type": "structure"
    },
    "Condition": {
      "documentation": "<p>Contains an array of triplets made up of a condition type (such as <code>STRINGEQUALS</code>), a key, and a value. Conditions are used to filter resources in a selection that is assigned to a backup plan.</p>",
      "members": {
        "ConditionKey": {
          "documentation": "<p>The key in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\": \"accounting\"</code>, <code>\"ec2:ResourceTag/Department\"</code> is the key.</p>",
          "shape": "ConditionKey"
        },
        "ConditionType": {
          "documentation": "<p>An operation, such as <code>STRINGEQUALS</code>, that is applied to a key-value pair used to filter resources in a selection.</p>",
          "shape": "ConditionType"
        },
        "ConditionValue": {
          "documentation": "<p>The value in a key-value pair. For example, in <code>\"ec2:ResourceTag/Department\": \"accounting\"</code>, <code>\"accounting\"</code> is the value.</p>",
          "shape": "ConditionValue"
        }
      },
      "required": [
        "ConditionType",
        "ConditionKey",
        "ConditionValue"
      ],
      "type": "structure"
    },
    "ConditionKey": {
      "type": "string"
    },
    "ConditionType": {
      "enum": [
        "STRINGEQUALS"
      ],
      "type": "string"
    },
    "ConditionValue": {
      "type": "string"
    },
    "CopyAction": {
      "documentation": "<p>The details of the copy operation.</p>",
      "members": {
        "DestinationBackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the destination backup vault for the copied backup. For example, arn:aws:backup:us-east-1:123456789012:vault:aBackupVault.</p>",
          "shape": "ARN"
        },
        "Lifecycle": {
          "shape": "Lifecycle"
        }
      },
      "required": [
        "DestinationBackupVaultArn"
      ],
      "type": "structure"
    },
    "CopyActions": {
      "member": {
        "shape": "CopyAction"
      },
      "type": "list"
    },
    "CopyJob": {
      "documentation": "<p>Contains detailed information about a copy job.</p>",
      "members": {
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of a copy job.</p>",
          "shape": "Long"
        },
        "CompletionDate": {
          "documentation": "<p>The date and time a job to create a copy job is completed, in Unix format and Coordinated Universal Time (UTC). The value of CompletionDate is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM. </p>",
          "shape": "timestamp"
        },
        "CopyJobId": {
          "documentation": "<p>Uniquely identifies a request to AWS Backup to copy a resource.</p>",
          "shape": "string"
        },
        "CreatedBy": {
          "shape": "RecoveryPointCreator"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a copy job is created, in Unix format and Coordinated Universal Time (UTC). The value of CreationDate is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM. </p>",
          "shape": "timestamp"
        },
        "DestinationBackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a destination copy vault; for example, arn:aws:backup:us-east-1:123456789012:vault:aBackupVault.</p>",
          "shape": "ARN"
        },
        "DestinationRecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a destination recovery point; for example, arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45. </p>",
          "shape": "ARN"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role ARN used to copy the target recovery point; for example, arn:aws:iam::123456789012:role/S3Access.</p>",
          "shape": "IAMRoleArn"
        },
        "ResourceArn": {
          "documentation": "<p>The type of AWS resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. </p>",
          "shape": "ARN"
        },
        "ResourceType": {
          "documentation": "<p>The type of AWS resource to be copied; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database. </p>",
          "shape": "ResourceType"
        },
        "SourceBackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a source copy vault; for example, arn:aws:backup:us-east-1:123456789012:vault:aBackupVault. </p>",
          "shape": "ARN"
        },
        "SourceRecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a source recovery point; for example, arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45. </p>",
          "shape": "ARN"
        },
        "State": {
          "documentation": "<p>The current state of a resource recovery point.</p>",
          "shape": "CopyJobState"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed message explaining the status of the job that to copy a resource.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CopyJobState": {
      "enum": [
        "CREATED",
        "RUNNING",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "CopyJobsList": {
      "member": {
        "shape": "CopyJob"
      },
      "type": "list"
    },
    "CreateBackupPlanInput": {
      "members": {
        "BackupPlan": {
          "documentation": "<p>Specifies the body of a backup plan. Includes a <code>BackupPlanName</code> and one or more sets of <code>Rules</code>.</p>",
          "shape": "BackupPlanInput"
        },
        "BackupPlanTags": {
          "documentation": "<p>To help organize your resources, you can assign your own metadata to the resources that you create. Each tag is a key-value pair. The specified tags are assigned to all backups created with this plan.</p>",
          "shape": "Tags"
        },
        "CreatorRequestId": {
          "documentation": "<p>Identifies the request and allows failed requests to be retried without the risk of executing the operation twice. If the request includes a <code>CreatorRequestId</code> that matches an existing backup plan, that plan is returned. This parameter is optional.</p>",
          "shape": "string"
        }
      },
      "required": [
        "BackupPlan"
      ],
      "type": "structure"
    },
    "CreateBackupPlanOutput": {
      "members": {
        "BackupPlanArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>",
          "shape": "ARN"
        },
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "CreationDate": {
          "documentation": "<p>The date and time that a backup plan is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "VersionId": {
          "documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1024 bytes long. They cannot be edited.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CreateBackupSelectionInput": {
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies the backup plan to be associated with the selection of resources.</p>",
          "location": "uri",
          "locationName": "backupPlanId",
          "shape": "string"
        },
        "BackupSelection": {
          "documentation": "<p>Specifies the body of a request to assign a set of resources to a backup plan.</p>",
          "shape": "BackupSelection"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "string"
        }
      },
      "required": [
        "BackupPlanId",
        "BackupSelection"
      ],
      "type": "structure"
    },
    "CreateBackupSelectionOutput": {
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a backup selection is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "SelectionId": {
          "documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup plan.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CreateBackupVaultInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "BackupVaultName"
        },
        "BackupVaultTags": {
          "documentation": "<p>Metadata that you can assign to help organize the resources that you create. Each tag is a key-value pair.</p>",
          "shape": "Tags"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "string"
        },
        "EncryptionKeyArn": {
          "documentation": "<p>The server-side encryption key that is used to protect your backups; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>",
          "shape": "ARN"
        }
      },
      "required": [
        "BackupVaultName"
      ],
      "type": "structure"
    },
    "CreateBackupVaultOutput": {
      "members": {
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "CreationDate": {
          "documentation": "<p>The date and time a backup vault is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        }
      },
      "type": "structure"
    },
    "CronExpression": {
      "type": "string"
    },
    "DeleteBackupPlanInput": {
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "location": "uri",
          "locationName": "backupPlanId",
          "shape": "string"
        }
      },
      "required": [
        "BackupPlanId"
      ],
      "type": "structure"
    },
    "DeleteBackupPlanOutput": {
      "members": {
        "BackupPlanArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup plan; for example, <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.</p>",
          "shape": "ARN"
        },
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "shape": "string"
        },
        "DeletionDate": {
          "documentation": "<p>The date and time a backup plan is deleted, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "VersionId": {
          "documentation": "<p>Unique, randomly generated, Unicode, UTF-8 encoded strings that are at most 1,024 bytes long. Version Ids cannot be edited.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DeleteBackupSelectionInput": {
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "location": "uri",
          "locationName": "backupPlanId",
          "shape": "string"
        },
        "SelectionId": {
          "documentation": "<p>Uniquely identifies the body of a request to assign a set of resources to a backup plan.</p>",
          "location": "uri",
          "locationName": "selectionId",
          "shape": "string"
        }
      },
      "required": [
        "BackupPlanId",
        "SelectionId"
      ],
      "type": "structure"
    },
    "DeleteBackupVaultAccessPolicyInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "BackupVaultName"
        }
      },
      "required": [
        "BackupVaultName"
      ],
      "type": "structure"
    },
    "DeleteBackupVaultInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and theAWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "string"
        }
      },
      "required": [
        "BackupVaultName"
      ],
      "type": "structure"
    },
    "DeleteBackupVaultNotificationsInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "BackupVaultName"
        }
      },
      "required": [
        "BackupVaultName"
      ],
      "type": "structure"
    },
    "DeleteRecoveryPointInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "BackupVaultName"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "location": "uri",
          "locationName": "recoveryPointArn",
          "shape": "ARN"
        }
      },
      "required": [
        "BackupVaultName",
        "RecoveryPointArn"
      ],
      "type": "structure"
    },
    "DependencyFailureException": {
      "documentation": "<p>A dependent AWS service or resource returned an error to the AWS Backup service, and the action cannot be completed.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Code": {
          "shape": "string"
        },
        "Context": {
          "documentation": "<p/>",
          "shape": "string"
        },
        "Message": {
          "shape": "string"
        },
        "Type": {
          "documentation": "<p/>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DescribeBackupJobInput": {
      "members": {
        "BackupJobId": {
          "documentation": "<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>",
          "location": "uri",
          "locationName": "backupJobId",
          "shape": "string"
        }
      },
      "required": [
        "BackupJobId"
      ],
      "type": "structure"
    },
    "DescribeBackupJobOutput": {
      "members": {
        "BackupJobId": {
          "documentation": "<p>Uniquely identifies a request to AWS Backup to back up a resource.</p>",
          "shape": "string"
        },
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of a backup.</p>",
          "shape": "Long"
        },
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "BytesTransferred": {
          "documentation": "<p>The size in bytes transferred to a backup vault at the time that the job status was queried.</p>",
          "shape": "Long"
        },
        "CompletionDate": {
          "documentation": "<p>The date and time that a job to create a backup job is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatedBy": {
          "documentation": "<p>Contains identifying information about the creation of a backup job, including the <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> of the backup plan that is used to create it.</p>",
          "shape": "RecoveryPointCreator"
        },
        "CreationDate": {
          "documentation": "<p>The date and time that a backup job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "ExpectedCompletionDate": {
          "documentation": "<p>The date and time that a job to back up resources is expected to be completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>ExpectedCompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "PercentDone": {
          "documentation": "<p>Contains an estimated percentage that is complete of a job at the time the job status was queried.</p>",
          "shape": "string"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "shape": "ARN"
        },
        "ResourceArn": {
          "documentation": "<p>An ARN that uniquely identifies a saved resource. The format of the ARN depends on the resource type.</p>",
          "shape": "ARN"
        },
        "ResourceType": {
          "documentation": "<p>The type of AWS resource to be backed-up; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>",
          "shape": "ResourceType"
        },
        "StartBy": {
          "documentation": "<p>Specifies the time in Unix format and Coordinated Universal Time (UTC) when a backup job must be started before it is canceled. The value is calculated by adding the start window to the scheduled time. So if the scheduled time were 6:00 PM and the start window is 2 hours, the <code>StartBy</code> time would be 8:00 PM on the date specified. The value of <code>StartBy</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "State": {
          "documentation": "<p>The current state of a resource recovery point.</p>",
          "shape": "BackupJobState"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed message explaining the status of the job to back up a resource.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DescribeBackupVaultInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "string"
        }
      },
      "required": [
        "BackupVaultName"
      ],
      "type": "structure"
    },
    "DescribeBackupVaultOutput": {
      "members": {
        "BackupVaultArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "string"
        },
        "CreationDate": {
          "documentation": "<p>The date and time that a backup vault is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "string"
        },
        "EncryptionKeyArn": {
          "documentation": "<p>The server-side encryption key that is used to protect your backups; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>",
          "shape": "ARN"
        },
        "NumberOfRecoveryPoints": {
          "documentation": "<p>The number of recovery points that are stored in a backup vault.</p>",
          "shape": "long"
        }
      },
      "type": "structure"
    },
    "DescribeCopyJobInput": {
      "members": {
        "CopyJobId": {
          "documentation": "<p>Uniquely identifies a request to AWS Backup to copy a resource.</p>",
          "location": "uri",
          "locationName": "copyJobId",
          "shape": "string"
        }
      },
      "required": [
        "CopyJobId"
      ],
      "type": "structure"
    },
    "DescribeCopyJobOutput": {
      "members": {
        "CopyJob": {
          "documentation": "<p>Contains detailed information about a copy job.</p>",
          "shape": "CopyJob"
        }
      },
      "type": "structure"
    },
    "DescribeProtectedResourceInput": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource. The format of the ARN depends on the resource type.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ARN"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DescribeProtectedResourceOutput": {
      "members": {
        "LastBackupTime": {
          "documentation": "<p>The date and time that a resource was last backed up, in Unix format and Coordinated Universal Time (UTC). The value of <code>LastBackupTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "ResourceArn": {
          "documentation": "<p>An ARN that uniquely identifies a resource. The format of the ARN depends on the resource type.</p>",
          "shape": "ARN"
        },
        "ResourceType": {
          "documentation": "<p>The type of AWS resource saved as a recovery point; for example, an EBS volume or an Amazon RDS database.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "DescribeRecoveryPointInput": {
      "members": {
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the AWS Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "location": "uri",
          "locationName": "backupVaultName",
          "shape": "BackupVaultName"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "location": "uri",
          "locationName": "recoveryPointArn",
          "shape": "ARN"
        }
      },
      "required": [
        "BackupVaultName",
        "RecoveryPointArn"
      ],
      "type": "structure"
    },
    "DescribeRecoveryPointOutput": {
      "members": {
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of a backup.</p>",
          "shape": "Long"
        },
        "BackupVaultArn": {
          "documentation": "<p>An ARN that uniquely identifies a backup vault; for example, <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.</p>",
          "shape": "ARN"
        },
        "BackupVaultName": {
          "documentation": "<p>The name of a logical container where backups are stored. Backup vaults are identified by names that are unique to the account used to create them and the Region where they are created. They consist of lowercase letters, numbers, and hyphens.</p>",
          "shape": "BackupVaultName"
        },
        "CalculatedLifecycle": {
          "documentation": "<p>A <code>CalculatedLifecycle</code> object containing <code>DeleteAt</code> and <code>MoveToColdStorageAt</code> timestamps.</p>",
          "shape": "CalculatedLifecycle"
        },
        "CompletionDate": {
          "documentation": "<p>The date and time that a job to create a recovery point is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatedBy": {
          "documentation": "<p>Contains identifying information about the creation of a recovery point, including the <code>BackupPlanArn</code>, <code>BackupPlanId</code>, <code>BackupPlanVersion</code>, and <code>BackupRuleId</code> of the backup plan used to create it.</p>",
          "shape": "RecoveryPointCreator"
        },
        "CreationDate": {
          "documentation": "<p>The date and time that a recovery point is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "EncryptionKeyArn": {
          "documentation": "<p>The server-side encryption key used to protect your backups; for example, <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.</p>",
          "shape": "ARN"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "IsEncrypted": {
          "documentation": "<p>A Boolean value that is returned as <code>TRUE</code> if the specified recovery point is encrypted, or <code>FALSE</code> if the recovery point is not encrypted.</p>",
          "shape": "boolean"
        },
        "LastRestoreTime": {
          "documentation": "<p>The date and time that a recovery point was last restored, in Unix format and Coordinated Universal Time (UTC). The value of <code>LastRestoreTime</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "Lifecycle": {
          "documentation": "<p>The lifecycle defines when a protected resource is transitioned to cold storage and when it expires. AWS Backup transitions and expires backups automatically according to the lifecycle that you define. </p> <p>Backups that are transitioned to cold storage must be stored in cold storage for a minimum of 90 days. Therefore, the \u201cexpire after days\u201d setting must be 90 days greater than the \u201ctransition to cold after days\u201d setting. The \u201ctransition to cold after days\u201d setting cannot be changed after a backup has been transitioned to cold. </p>",
          "shape": "Lifecycle"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "shape": "ARN"
        },
        "ResourceArn": {
          "documentation": "<p>An ARN that uniquely identifies a saved resource. The format of the ARN depends on the resource type.</p>",
          "shape": "ARN"
        },
        "ResourceType": {
          "documentation": "<p>The type of AWS resource to save as a recovery point; for example, an Amazon Elastic Block Store (Amazon EBS) volume or an Amazon Relational Database Service (Amazon RDS) database.</p>",
          "shape": "ResourceType"
        },
        "Status": {
          "documentation": "<p>A status code specifying the state of the recovery point.</p> <note> <p>A partial status indicates that the recovery point was not successfully re-created and must be retried.</p> </note>",
          "shape": "RecoveryPointStatus"
        },
        "StorageClass": {
          "documentation": "<p>Specifies the storage class of the recovery point. Valid values are <code>WARM</code> or <code>COLD</code>.</p>",
          "shape": "StorageClass"
        }
      },
      "type": "structure"
    },
    "DescribeRestoreJobInput": {
      "members": {
        "RestoreJobId": {
          "documentation": "<p>Uniquely identifies the job that restores a recovery point.</p>",
          "location": "uri",
          "locationName": "restoreJobId",
          "shape": "RestoreJobId"
        }
      },
      "required": [
        "RestoreJobId"
      ],
      "type": "structure"
    },
    "DescribeRestoreJobOutput": {
      "members": {
        "BackupSizeInBytes": {
          "documentation": "<p>The size, in bytes, of the restored resource.</p>",
          "shape": "Long"
        },
        "CompletionDate": {
          "documentation": "<p>The date and time that a job to restore a recovery point is completed, in Unix format and Coordinated Universal Time (UTC). The value of <code>CompletionDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "CreatedResourceArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies a resource whose recovery point is being restored. The format of the ARN depends on the resource type of the backed-up resource.</p>",
          "shape": "ARN"
        },
        "CreationDate": {
          "documentation": "<p>The date and time that a restore job is created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreationDate</code> is accurate to milliseconds. For example, the value 1516925490.087 represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "timestamp"
        },
        "ExpectedCompletionTimeMinutes": {
          "documentation": "<p>The amount of time in minutes that a job restoring a recovery point is expected to take.</p>",
          "shape": "Long"
        },
        "IamRoleArn": {
          "documentation": "<p>Specifies the IAM role ARN used to create the target recovery point; for example, <code>arn:aws:iam::123456789012:role/S3Access</code>.</p>",
          "shape": "IAMRoleArn"
        },
        "PercentDone": {
          "documentation": "<p>Contains an estimated percentage that is complete of a job at the time the job status was queried.</p>",
          "shape": "string"
        },
        "RecoveryPointArn": {
          "documentation": "<p>An ARN that uniquely identifies a recovery point; for example, <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.</p>",
          "shape": "ARN"
        },
        "RestoreJobId": {
          "documentation": "<p>Uniquely identifies the job that restores a recovery point.</p>",
          "shape": "string"
        },
        "Status": {
          "documentation": "<p>Status code specifying the state of the job that is initiated by AWS Backup to restore a recovery point.</p>",
          "shape": "RestoreJobStatus"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed message explaining the status of a job to restore a recovery point.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ExportBackupPlanTemplateInput": {
      "members": {
        "BackupPlanId": {
          "documentation": "<p>Uniquely identifies a backup plan.</p>",
          "location": "uri",
          "locationName": "backupPlanId",
          "shape": "string"
        }
      },
      "required": [
        "BackupPlanId"
      ],
      "type": "structure"
    },
    "ExportBackupPlanTemplateOutput": {
      "members": {
        "BackupPlanTemplateJson": {
          "documentation": "<p>The body of a backup plan template in JSON format.</p> <note> <p>This is a signed JSON document that cannot be modified before being passed to <code>GetBackupPlanFromJSON.</code> </p> </note>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "GetBackupPlanFromJSONInput": {
      "members": {
        "BackupPlanTemplateJson": {
          "documentation": "<p>A customer-supplied backup plan document in JSON format.</p>",
          "shape": "string"
        }
      },
      "required": [
        "BackupPlanTemplateJson"
      ],
      "type": "structure"
    },
    "GetBackupPlanFromJSONOutput": {
      "members": {
        "BackupPlan": {
          "documentation": "<p>Specifies the body of a backup plan. Includes a <code>BackupPlanName</code> and one or more sets of <code>Rules</code>.</p>",
          "shape": "BackupPlan"
        }
      },
      "type": "structure"
    },
    "GetBackupPlanFromTemplateInput": {
      "members": {
        "BackupPlanTemplateId": {
          "documentation": "<p>Uniquely identifies a stored backup plan template.</p>",
          "location": "uri",
          "locationName": "templateId",
          "shape": "string"
        }
      },
      "required": [
[...]
