{
  "documentation": "<fullname>Amazon WorkSpaces Service</fullname> <p>Amazon WorkSpaces enables you to provision virtual, cloud-based Microsoft Windows and Amazon Linux desktops for your users.</p>",
  "metadata": {
    "apiVersion": "2015-04-08",
    "endpointPrefix": "workspaces",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon WorkSpaces",
    "serviceId": "WorkSpaces",
    "signatureVersion": "v4",
    "targetPrefix": "WorkspacesService",
    "uid": "workspaces-2015-04-08"
  },
  "operations": {
    "AssociateIpGroups": {
      "documentation": "<p>Associates the specified IP access control group with the specified directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateIpGroupsRequest"
      },
      "name": "AssociateIpGroups",
      "output": {
        "shape": "AssociateIpGroupsResult"
      }
    },
    "AuthorizeIpRules": {
      "documentation": "<p>Adds one or more rules to the specified IP access control group.</p> <p>This action gives users permission to access their WorkSpaces from the CIDR address ranges specified in the rules.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeIpRulesRequest"
      },
      "name": "AuthorizeIpRules",
      "output": {
        "shape": "AuthorizeIpRulesResult"
      }
    },
    "CopyWorkspaceImage": {
      "documentation": "<p>Copies the specified image from the specified Region to the current Region.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyWorkspaceImageRequest"
      },
      "name": "CopyWorkspaceImage",
      "output": {
        "shape": "CopyWorkspaceImageResult"
      }
    },
    "CreateIpGroup": {
      "documentation": "<p>Creates an IP access control group.</p> <p>An IP access control group provides you with the ability to control the IP addresses from which users are allowed to access their WorkSpaces. To specify the CIDR address ranges, add rules to your IP access control group and then associate the group with your directory. You can add rules when you create the group or at any time using <a>AuthorizeIpRules</a>.</p> <p>There is a default IP access control group associated with your directory. If you don't associate an IP access control group with your directory, the default group is used. The default group includes a default rule that allows users to access their WorkSpaces from anywhere. You cannot modify the default IP access control group for your directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceCreationFailedException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIpGroupRequest"
      },
      "name": "CreateIpGroup",
      "output": {
        "shape": "CreateIpGroupResult"
      }
    },
    "CreateTags": {
      "documentation": "<p>Creates the specified tags for the specified WorkSpaces resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "name": "CreateTags",
      "output": {
        "shape": "CreateTagsResult"
      }
    },
    "CreateWorkspaces": {
      "documentation": "<p>Creates one or more WorkSpaces.</p> <p>This operation is asynchronous and returns before the WorkSpaces are created.</p>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkspacesRequest"
      },
      "name": "CreateWorkspaces",
      "output": {
        "shape": "CreateWorkspacesResult"
      }
    },
    "DeleteIpGroup": {
      "documentation": "<p>Deletes the specified IP access control group.</p> <p>You cannot delete an IP access control group that is associated with a directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIpGroupRequest"
      },
      "name": "DeleteIpGroup",
      "output": {
        "shape": "DeleteIpGroupResult"
      }
    },
    "DeleteTags": {
      "documentation": "<p>Deletes the specified tags from the specified WorkSpaces resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "name": "DeleteTags",
      "output": {
        "shape": "DeleteTagsResult"
      }
    },
    "DeleteWorkspaceImage": {
      "documentation": "<p>Deletes the specified image from your account. To delete an image, you must first delete any bundles that are associated with the image and un-share the image if it is shared with other accounts. </p>",
      "errors": [
        {
          "shape": "ResourceAssociatedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkspaceImageRequest"
      },
      "name": "DeleteWorkspaceImage",
      "output": {
        "shape": "DeleteWorkspaceImageResult"
      }
    },
    "DeregisterWorkspaceDirectory": {
      "documentation": "<p>Deregisters the specified directory. This operation is asynchronous and returns before the WorkSpace directory is deregistered. If any WorkSpaces are registered to this directory, you must remove them before you can deregister the directory.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterWorkspaceDirectoryRequest"
      },
      "name": "DeregisterWorkspaceDirectory",
      "output": {
        "shape": "DeregisterWorkspaceDirectoryResult"
      }
    },
    "DescribeAccount": {
      "documentation": "<p>Retrieves a list that describes the configuration of Bring Your Own License (BYOL) for the specified account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountRequest"
      },
      "name": "DescribeAccount",
      "output": {
        "shape": "DescribeAccountResult"
      }
    },
    "DescribeAccountModifications": {
      "documentation": "<p>Retrieves a list that describes modifications to the configuration of Bring Your Own License (BYOL) for the specified account.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountModificationsRequest"
      },
      "name": "DescribeAccountModifications",
      "output": {
        "shape": "DescribeAccountModificationsResult"
      }
    },
    "DescribeClientProperties": {
      "documentation": "<p>Retrieves a list that describes one or more specified Amazon WorkSpaces clients.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClientPropertiesRequest"
      },
      "name": "DescribeClientProperties",
      "output": {
        "shape": "DescribeClientPropertiesResult"
      }
    },
    "DescribeIpGroups": {
      "documentation": "<p>Describes one or more of your IP access control groups.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIpGroupsRequest"
      },
      "name": "DescribeIpGroups",
      "output": {
        "shape": "DescribeIpGroupsResult"
      }
    },
    "DescribeTags": {
      "documentation": "<p>Describes the specified tags for the specified WorkSpaces resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagsRequest"
      },
      "name": "DescribeTags",
      "output": {
        "shape": "DescribeTagsResult"
      }
    },
    "DescribeWorkspaceBundles": {
      "documentation": "<p>Retrieves a list that describes the available WorkSpace bundles.</p> <p>You can filter the results using either bundle ID or owner, but not both.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceBundlesRequest"
      },
      "name": "DescribeWorkspaceBundles",
      "output": {
        "shape": "DescribeWorkspaceBundlesResult"
      }
    },
    "DescribeWorkspaceDirectories": {
      "documentation": "<p>Describes the available directories that are registered with Amazon WorkSpaces.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceDirectoriesRequest"
      },
      "name": "DescribeWorkspaceDirectories",
      "output": {
        "shape": "DescribeWorkspaceDirectoriesResult"
      }
    },
    "DescribeWorkspaceImages": {
      "documentation": "<p>Retrieves a list that describes one or more specified images, if the image identifiers are provided. Otherwise, all images in the account are described. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceImagesRequest"
      },
      "name": "DescribeWorkspaceImages",
      "output": {
        "shape": "DescribeWorkspaceImagesResult"
      }
    },
    "DescribeWorkspaceSnapshots": {
      "documentation": "<p>Describes the snapshots for the specified WorkSpace.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspaceSnapshotsRequest"
      },
      "name": "DescribeWorkspaceSnapshots",
      "output": {
        "shape": "DescribeWorkspaceSnapshotsResult"
      }
    },
    "DescribeWorkspaces": {
      "documentation": "<p>Describes the specified WorkSpaces.</p> <p>You can filter the results by using the bundle identifier, directory identifier, or owner, but you can specify only one filter at a time.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspacesRequest"
      },
      "name": "DescribeWorkspaces",
      "output": {
        "shape": "DescribeWorkspacesResult"
      }
    },
    "DescribeWorkspacesConnectionStatus": {
      "documentation": "<p>Describes the connection status of the specified WorkSpaces.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeWorkspacesConnectionStatusRequest"
      },
      "name": "DescribeWorkspacesConnectionStatus",
      "output": {
        "shape": "DescribeWorkspacesConnectionStatusResult"
      }
    },
    "DisassociateIpGroups": {
      "documentation": "<p>Disassociates the specified IP access control group from the specified directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateIpGroupsRequest"
      },
      "name": "DisassociateIpGroups",
      "output": {
        "shape": "DisassociateIpGroupsResult"
      }
    },
    "ImportWorkspaceImage": {
      "documentation": "<p>Imports the specified Windows 7 or Windows 10 Bring Your Own License (BYOL) image into Amazon WorkSpaces. The image must be an already licensed EC2 image that is in your AWS account, and you must own the image. </p>",
      "errors": [
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportWorkspaceImageRequest"
      },
      "name": "ImportWorkspaceImage",
      "output": {
        "shape": "ImportWorkspaceImageResult"
      }
    },
    "ListAvailableManagementCidrRanges": {
      "documentation": "<p>Retrieves a list of IP address ranges, specified as IPv4 CIDR blocks, that you can use for the network management interface when you enable Bring Your Own License (BYOL). </p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailableManagementCidrRangesRequest"
      },
      "name": "ListAvailableManagementCidrRanges",
      "output": {
        "shape": "ListAvailableManagementCidrRangesResult"
      }
    },
    "MigrateWorkspace": {
      "documentation": "<p>Migrates a WorkSpace from one operating system or bundle type to another, while retaining the data on the user volume.</p> <p>The migration process recreates the WorkSpace by using a new root volume from the target bundle image and the user volume from the last available snapshot of the original WorkSpace. During migration, the original <code>D:\\Users\\%USERNAME%</code> user profile folder is renamed to <code>D:\\Users\\%USERNAME%MMddyyTHHmmss%.NotMigrated</code>. A new <code>D:\\Users\\%USERNAME%\\</code> folder is generated by the new OS. Certain files in the old user profile are moved to the new user profile.</p> <p>For available migration scenarios, details about what happens during migration, and best practices, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/migrate-workspaces.html\">Migrate a WorkSpace</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "MigrateWorkspaceRequest"
      },
      "name": "MigrateWorkspace",
      "output": {
        "shape": "MigrateWorkspaceResult"
      }
    },
    "ModifyAccount": {
      "documentation": "<p>Modifies the configuration of Bring Your Own License (BYOL) for the specified account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyAccountRequest"
      },
      "name": "ModifyAccount",
      "output": {
        "shape": "ModifyAccountResult"
      }
    },
    "ModifyClientProperties": {
      "documentation": "<p>Modifies the properties of the specified Amazon WorkSpaces clients.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyClientPropertiesRequest"
      },
      "name": "ModifyClientProperties",
      "output": {
        "shape": "ModifyClientPropertiesResult"
      }
    },
    "ModifySelfservicePermissions": {
      "documentation": "<p>Modifies the self-service WorkSpace management capabilities for your users. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/enable-user-self-service-workspace-management.html\">Enable Self-Service WorkSpace Management Capabilities for Your Users</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifySelfservicePermissionsRequest"
      },
      "name": "ModifySelfservicePermissions",
      "output": {
        "shape": "ModifySelfservicePermissionsResult"
      }
    },
    "ModifyWorkspaceAccessProperties": {
      "documentation": "<p>Specifies which devices and operating systems users can use to access their WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html#control-device-access\"> Control Device Access</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspaceAccessPropertiesRequest"
      },
      "name": "ModifyWorkspaceAccessProperties",
      "output": {
        "shape": "ModifyWorkspaceAccessPropertiesResult"
      }
    },
    "ModifyWorkspaceCreationProperties": {
      "documentation": "<p>Modify the default properties used to create WorkSpaces.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspaceCreationPropertiesRequest"
      },
      "name": "ModifyWorkspaceCreationProperties",
      "output": {
        "shape": "ModifyWorkspaceCreationPropertiesResult"
      }
    },
    "ModifyWorkspaceProperties": {
      "documentation": "<p>Modifies the specified WorkSpace properties.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "UnsupportedWorkspaceConfigurationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspacePropertiesRequest"
      },
      "name": "ModifyWorkspaceProperties",
      "output": {
        "shape": "ModifyWorkspacePropertiesResult"
      }
    },
    "ModifyWorkspaceState": {
      "documentation": "<p>Sets the state of the specified WorkSpace.</p> <p>To maintain a WorkSpace without being interrupted, set the WorkSpace state to <code>ADMIN_MAINTENANCE</code>. WorkSpaces in this state do not respond to requests to reboot, stop, start, rebuild, or restore. An AutoStop WorkSpace in this state is not stopped. Users cannot log into a WorkSpace in the <code>ADMIN_MAINTENANCE</code> state.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyWorkspaceStateRequest"
      },
      "name": "ModifyWorkspaceState",
      "output": {
        "shape": "ModifyWorkspaceStateResult"
      }
    },
    "RebootWorkspaces": {
      "documentation": "<p>Reboots the specified WorkSpaces.</p> <p>You cannot reboot a WorkSpace unless its state is <code>AVAILABLE</code> or <code>UNHEALTHY</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have rebooted.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootWorkspacesRequest"
      },
      "name": "RebootWorkspaces",
      "output": {
        "shape": "RebootWorkspacesResult"
      }
    },
    "RebuildWorkspaces": {
      "documentation": "<p>Rebuilds the specified WorkSpace.</p> <p>You cannot rebuild a WorkSpace unless its state is <code>AVAILABLE</code>, <code>ERROR</code>, <code>UNHEALTHY</code>, or <code>STOPPED</code>.</p> <p>Rebuilding a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/reset-workspace.html\">Rebuild a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely rebuilt.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebuildWorkspacesRequest"
      },
      "name": "RebuildWorkspaces",
      "output": {
        "shape": "RebuildWorkspacesResult"
      }
    },
    "RegisterWorkspaceDirectory": {
      "documentation": "<p>Registers the specified directory. This operation is asynchronous and returns before the WorkSpace directory is registered. If this is the first time you are registering a directory, you will need to create the workspaces_DefaultRole role before you can register a directory. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspaces-access-control.html#create-default-role\"> Creating the workspaces_DefaultRole Role</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "WorkspacesDefaultRoleNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "UnsupportedNetworkConfigurationException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterWorkspaceDirectoryRequest"
      },
      "name": "RegisterWorkspaceDirectory",
      "output": {
        "shape": "RegisterWorkspaceDirectoryResult"
      }
    },
    "RestoreWorkspace": {
      "documentation": "<p>Restores the specified WorkSpace to its last known healthy state.</p> <p>You cannot restore a WorkSpace unless its state is <code> AVAILABLE</code>, <code>ERROR</code>, <code>UNHEALTHY</code>, or <code>STOPPED</code>.</p> <p>Restoring a WorkSpace is a potentially destructive action that can result in the loss of data. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/restore-workspace.html\">Restore a WorkSpace</a>.</p> <p>This operation is asynchronous and returns before the WorkSpace is completely restored.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreWorkspaceRequest"
      },
      "name": "RestoreWorkspace",
      "output": {
        "shape": "RestoreWorkspaceResult"
      }
    },
    "RevokeIpRules": {
      "documentation": "<p>Removes one or more rules from the specified IP access control group.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeIpRulesRequest"
      },
      "name": "RevokeIpRules",
      "output": {
        "shape": "RevokeIpRulesResult"
      }
    },
    "StartWorkspaces": {
      "documentation": "<p>Starts the specified WorkSpaces.</p> <p>You cannot start a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>STOPPED</code>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartWorkspacesRequest"
      },
      "name": "StartWorkspaces",
      "output": {
        "shape": "StartWorkspacesResult"
      }
    },
    "StopWorkspaces": {
      "documentation": "<p> Stops the specified WorkSpaces.</p> <p>You cannot stop a WorkSpace unless it has a running mode of <code>AutoStop</code> and a state of <code>AVAILABLE</code>, <code>IMPAIRED</code>, <code>UNHEALTHY</code>, or <code>ERROR</code>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopWorkspacesRequest"
      },
      "name": "StopWorkspaces",
      "output": {
        "shape": "StopWorkspacesResult"
      }
    },
    "TerminateWorkspaces": {
      "documentation": "<p>Terminates the specified WorkSpaces.</p> <p>Terminating a WorkSpace is a permanent action and cannot be undone. The user's data is destroyed. If you need to archive any user data, contact Amazon Web Services before terminating the WorkSpace.</p> <p>You can terminate a WorkSpace that is in any state except <code>SUSPENDED</code>.</p> <p>This operation is asynchronous and returns before the WorkSpaces have been completely terminated.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateWorkspacesRequest"
      },
      "name": "TerminateWorkspaces",
      "output": {
        "shape": "TerminateWorkspacesResult"
      }
    },
    "UpdateRulesOfIpGroup": {
      "documentation": "<p>Replaces the current rules of the specified IP access control group with the specified rules.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValuesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRulesOfIpGroupRequest"
      },
      "name": "UpdateRulesOfIpGroup",
      "output": {
        "shape": "UpdateRulesOfIpGroupResult"
      }
    }
  },
  "shapes": {
    "ARN": {
      "pattern": "^arn:aws:[A-Za-z0-9][A-za-z0-9_/.-]{0,62}:[A-za-z0-9_/.-]{0,63}:[A-za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-za-z0-9_/.-]{0,127}$",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>The user is not authorized to access a resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AccessPropertyValue": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "AccountModification": {
      "documentation": "<p>Describes a modification to the configuration of Bring Your Own License (BYOL) for the specified account. </p>",
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "documentation": "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface used for the account.</p>",
          "shape": "DedicatedTenancyManagementCidrRange"
        },
        "DedicatedTenancySupport": {
          "documentation": "<p>The status of BYOL (whether BYOL is being enabled or disabled).</p>",
          "shape": "DedicatedTenancySupportResultEnum"
        },
        "ErrorCode": {
          "documentation": "<p>The error code that is returned if the configuration of BYOL cannot be modified.</p>",
          "shape": "WorkspaceErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The text of the error message that is returned if the configuration of BYOL cannot be modified.</p>",
          "shape": "Description"
        },
        "ModificationState": {
          "documentation": "<p>The state of the modification to the configuration of BYOL.</p>",
          "shape": "DedicatedTenancyModificationStateEnum"
        },
        "StartTime": {
          "documentation": "<p>The timestamp when the modification of the BYOL configuration was started.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "AccountModificationList": {
      "member": {
        "shape": "AccountModification"
      },
      "type": "list"
    },
    "Alias": {
      "type": "string"
    },
    "AssociateIpGroupsRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "GroupIds": {
          "documentation": "<p>The identifiers of one or more IP access control groups.</p>",
          "shape": "IpGroupIdList"
        }
      },
      "required": [
        "DirectoryId",
        "GroupIds"
      ],
      "type": "structure"
    },
    "AssociateIpGroupsResult": {
      "members": {},
      "type": "structure"
    },
    "AuthorizeIpRulesRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "IpGroupId"
        },
        "UserRules": {
          "documentation": "<p>The rules to add to the group.</p>",
          "shape": "IpRuleList"
        }
      },
      "required": [
        "GroupId",
        "UserRules"
      ],
      "type": "structure"
    },
    "AuthorizeIpRulesResult": {
      "members": {},
      "type": "structure"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BundleId": {
      "pattern": "^wsb-[0-9a-z]{8,63}$",
      "type": "string"
    },
    "BundleIdList": {
      "max": 25,
      "member": {
        "shape": "BundleId"
      },
      "min": 1,
      "type": "list"
    },
    "BundleList": {
      "member": {
        "shape": "WorkspaceBundle"
      },
      "type": "list"
    },
    "BundleOwner": {
      "type": "string"
    },
    "ClientProperties": {
      "documentation": "<p>Describes an Amazon WorkSpaces client.</p>",
      "members": {
        "ReconnectEnabled": {
          "documentation": "<p>Specifies whether users can cache their credentials on the Amazon WorkSpaces client. When enabled, users can choose to reconnect to their WorkSpaces without re-entering their credentials. </p>",
          "shape": "ReconnectEnum"
        }
      },
      "type": "structure"
    },
    "ClientPropertiesList": {
      "member": {
        "shape": "ClientPropertiesResult"
      },
      "type": "list"
    },
    "ClientPropertiesResult": {
      "documentation": "<p>Information about the Amazon WorkSpaces client.</p>",
      "members": {
        "ClientProperties": {
          "documentation": "<p>Information about the Amazon WorkSpaces client.</p>",
          "shape": "ClientProperties"
        },
        "ResourceId": {
          "documentation": "<p>The resource identifier, in the form of a directory ID.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "Compute": {
      "enum": [
        "VALUE",
        "STANDARD",
        "PERFORMANCE",
        "POWER",
        "GRAPHICS",
        "POWERPRO",
        "GRAPHICSPRO"
      ],
      "type": "string"
    },
    "ComputeType": {
      "documentation": "<p>Describes the compute type.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The compute type.</p>",
          "shape": "Compute"
        }
      },
      "type": "structure"
    },
    "ComputerName": {
      "type": "string"
    },
    "ConnectionState": {
      "enum": [
        "CONNECTED",
        "DISCONNECTED",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "CopyWorkspaceImageRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the image.</p>",
          "shape": "WorkspaceImageDescription"
        },
        "Name": {
          "documentation": "<p>The name of the image.</p>",
          "shape": "WorkspaceImageName"
        },
        "SourceImageId": {
          "documentation": "<p>The identifier of the source image.</p>",
          "shape": "WorkspaceImageId"
        },
        "SourceRegion": {
          "documentation": "<p>The identifier of the source Region.</p>",
          "shape": "Region"
        },
        "Tags": {
          "documentation": "<p>The tags for the image.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "SourceImageId",
        "SourceRegion"
      ],
      "type": "structure"
    },
    "CopyWorkspaceImageResult": {
      "members": {
        "ImageId": {
          "documentation": "<p>The identifier of the image.</p>",
          "shape": "WorkspaceImageId"
        }
      },
      "type": "structure"
    },
    "CreateIpGroupRequest": {
      "members": {
        "GroupDesc": {
          "documentation": "<p>The description of the group.</p>",
          "shape": "IpGroupDesc"
        },
        "GroupName": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "IpGroupName"
        },
        "Tags": {
          "documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>",
          "shape": "TagList"
        },
        "UserRules": {
          "documentation": "<p>The rules to add to the group.</p>",
          "shape": "IpRuleList"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "CreateIpGroupResult": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "IpGroupId"
        }
      },
      "type": "structure"
    },
    "CreateTagsRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, and IP access control groups.</p>",
          "shape": "NonEmptyString"
        },
        "Tags": {
          "documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags. If you want to add new tags to a set of existing tags, you must submit all of the existing tags along with the new ones.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceId",
        "Tags"
      ],
      "type": "structure"
    },
    "CreateTagsResult": {
      "members": {},
      "type": "structure"
    },
    "CreateWorkspacesRequest": {
      "members": {
        "Workspaces": {
          "documentation": "<p>The WorkSpaces to create. You can specify up to 25 WorkSpaces.</p>",
          "shape": "WorkspaceRequestList"
        }
      },
      "required": [
        "Workspaces"
      ],
      "type": "structure"
    },
    "CreateWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpaces that could not be created.</p>",
          "shape": "FailedCreateWorkspaceRequests"
        },
        "PendingRequests": {
          "documentation": "<p>Information about the WorkSpaces that were created.</p> <p>Because this operation is asynchronous, the identifier returned is not immediately available for use with other operations. For example, if you call <a>DescribeWorkspaces</a> before the WorkSpace is created, the information returned can be incomplete.</p>",
          "shape": "WorkspaceList"
        }
      },
      "type": "structure"
    },
    "DedicatedTenancyCidrRangeList": {
      "member": {
        "shape": "DedicatedTenancyManagementCidrRange"
      },
      "type": "list"
    },
    "DedicatedTenancyManagementCidrRange": {
      "pattern": "(^([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.([0-9]|[1-9][0-9]|1[0-9][0-9]|2[0-4][0-9]|25[0-5])\\.0\\.0)(\\/(16$))$",
      "type": "string"
    },
    "DedicatedTenancyModificationStateEnum": {
      "enum": [
        "PENDING",
        "COMPLETED",
        "FAILED"
      ],
      "type": "string"
    },
    "DedicatedTenancySupportEnum": {
      "enum": [
        "ENABLED"
      ],
      "type": "string"
    },
    "DedicatedTenancySupportResultEnum": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "DefaultOu": {
      "type": "string"
    },
    "DefaultWorkspaceCreationProperties": {
      "documentation": "<p>Describes the default values that are used to create WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html\">Update Directory Details for Your WorkSpaces</a>.</p>",
      "members": {
        "CustomSecurityGroupId": {
          "documentation": "<p>The identifier of any security groups to apply to WorkSpaces when they are created.</p>",
          "shape": "SecurityGroupId"
        },
        "DefaultOu": {
          "documentation": "<p>The organizational unit (OU) in the directory for the WorkSpace machine accounts.</p>",
          "shape": "DefaultOu"
        },
        "EnableInternetAccess": {
          "documentation": "<p>Specifies whether to automatically assign an Elastic public IP address to WorkSpaces in this directory by default. If enabled, the Elastic public IP address allows outbound internet access from your WorkSpaces when you\u2019re using an internet gateway in the Amazon VPC in which your WorkSpaces are located. If you're using a Network Address Translation (NAT) gateway for outbound internet access from your VPC, or if your WorkSpaces are in public subnets and you manually assign them Elastic IP addresses, you should disable this setting. This setting applies to new WorkSpaces that you launch or to existing WorkSpaces that you rebuild. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-vpc.html\"> Configure a VPC for Amazon WorkSpaces</a>.</p>",
          "shape": "BooleanObject"
        },
        "EnableMaintenanceMode": {
          "documentation": "<p>Specifies whether maintenance mode is enabled for WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspace-maintenance.html\">WorkSpace Maintenance</a>.</p>",
          "shape": "BooleanObject"
        },
        "EnableWorkDocs": {
          "documentation": "<p>Specifies whether the directory is enabled for Amazon WorkDocs.</p>",
          "shape": "BooleanObject"
        },
        "UserEnabledAsLocalAdministrator": {
          "documentation": "<p>Specifies whether WorkSpace users are local administrators on their WorkSpaces.</p>",
          "shape": "BooleanObject"
        }
      },
      "type": "structure"
    },
    "DeleteIpGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the IP access control group.</p>",
          "shape": "IpGroupId"
        }
      },
      "required": [
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteIpGroupResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteTagsRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, and IP access control groups.</p>",
          "shape": "NonEmptyString"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceId",
        "TagKeys"
      ],
      "type": "structure"
    },
    "DeleteTagsResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteWorkspaceImageRequest": {
      "members": {
        "ImageId": {
          "documentation": "<p>The identifier of the image.</p>",
          "shape": "WorkspaceImageId"
        }
      },
      "required": [
        "ImageId"
      ],
      "type": "structure"
    },
    "DeleteWorkspaceImageResult": {
      "members": {},
      "type": "structure"
    },
    "DeregisterWorkspaceDirectoryRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory. If any WorkSpaces are registered to this directory, you must remove them before you deregister the directory, or you will receive an OperationNotSupportedException error.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "DeregisterWorkspaceDirectoryResult": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountModificationsRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeAccountModificationsResult": {
      "members": {
        "AccountModifications": {
          "documentation": "<p>The list of modifications to the configuration of BYOL.</p>",
          "shape": "AccountModificationList"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeAccountRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountResult": {
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "documentation": "<p>The IP address range, specified as an IPv4 CIDR block, used for the management network interface.</p> <p>The management network interface is connected to a secure Amazon WorkSpaces management network. It is used for interactive streaming of the WorkSpace desktop to Amazon WorkSpaces clients, and to allow Amazon WorkSpaces to manage the WorkSpace.</p>",
          "shape": "DedicatedTenancyManagementCidrRange"
        },
        "DedicatedTenancySupport": {
          "documentation": "<p>The status of BYOL (whether BYOL is enabled or disabled).</p>",
          "shape": "DedicatedTenancySupportResultEnum"
        }
      },
      "type": "structure"
    },
    "DescribeClientPropertiesRequest": {
      "members": {
        "ResourceIds": {
          "documentation": "<p>The resource identifier, in the form of directory IDs.</p>",
          "shape": "ResourceIdList"
        }
      },
      "required": [
        "ResourceIds"
      ],
      "type": "structure"
    },
    "DescribeClientPropertiesResult": {
      "members": {
        "ClientPropertiesList": {
          "documentation": "<p>Information about the specified Amazon WorkSpaces clients.</p>",
          "shape": "ClientPropertiesList"
        }
      },
      "type": "structure"
    },
    "DescribeIpGroupsRequest": {
      "members": {
        "GroupIds": {
          "documentation": "<p>The identifiers of one or more IP access control groups.</p>",
          "shape": "IpGroupIdList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of items to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeIpGroupsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        },
        "Result": {
          "documentation": "<p>Information about the IP access control groups.</p>",
          "shape": "WorkspacesIpGroupsList"
        }
      },
      "type": "structure"
    },
    "DescribeTagsRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the WorkSpaces resource. The supported resource types are WorkSpaces, registered directories, images, custom bundles, and IP access control groups.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "ResourceId"
      ],
      "type": "structure"
    },
    "DescribeTagsResult": {
      "members": {
        "TagList": {
          "documentation": "<p>The tags.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceBundlesRequest": {
      "members": {
        "BundleIds": {
          "documentation": "<p>The identifiers of the bundles. You cannot combine this parameter with any other filter.</p>",
          "shape": "BundleIdList"
        },
        "NextToken": {
          "documentation": "<p>The token for the next set of results. (You received this token from a previous call.)</p>",
          "shape": "PaginationToken"
        },
        "Owner": {
          "documentation": "<p>The owner of the bundles. You cannot combine this parameter with any other filter.</p> <p>Specify <code>AMAZON</code> to describe the bundles provided by AWS or null to describe the bundles that belong to your account.</p>",
          "shape": "BundleOwner"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceBundlesResult": {
      "members": {
        "Bundles": {
          "documentation": "<p>Information about the bundles.</p>",
          "shape": "BundleList"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if there are no more results available. This token is valid for one day and must be used within that time frame.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceDirectoriesRequest": {
      "members": {
        "DirectoryIds": {
          "documentation": "<p>The identifiers of the directories. If the value is null, all directories are retrieved.</p>",
          "shape": "DirectoryIdList"
        },
        "Limit": {
          "documentation": "<p>The maximum number of directories to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceDirectoriesResult": {
      "members": {
        "Directories": {
          "documentation": "<p>Information about the directories.</p>",
          "shape": "DirectoryList"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceImagesRequest": {
      "members": {
        "ImageIds": {
          "documentation": "<p>The identifier of the image.</p>",
          "shape": "WorkspaceImageIdList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of items to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceImagesResult": {
      "members": {
        "Images": {
          "documentation": "<p>Information about the images.</p>",
          "shape": "WorkspaceImageList"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspaceSnapshotsRequest": {
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "WorkspaceId"
      ],
      "type": "structure"
    },
    "DescribeWorkspaceSnapshotsResult": {
      "members": {
        "RebuildSnapshots": {
          "documentation": "<p>Information about the snapshots that can be used to rebuild a WorkSpace. These snapshots include the user volume.</p>",
          "shape": "SnapshotList"
        },
        "RestoreSnapshots": {
          "documentation": "<p>Information about the snapshots that can be used to restore a WorkSpace. These snapshots include both the root volume and the user volume.</p>",
          "shape": "SnapshotList"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspacesConnectionStatusRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        },
        "WorkspaceIds": {
          "documentation": "<p>The identifiers of the WorkSpaces. You can specify up to 25 WorkSpaces.</p>",
          "shape": "WorkspaceIdList"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspacesConnectionStatusResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        },
        "WorkspacesConnectionStatus": {
          "documentation": "<p>Information about the connection status of the WorkSpace.</p>",
          "shape": "WorkspaceConnectionStatusList"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspacesRequest": {
      "members": {
        "BundleId": {
          "documentation": "<p>The identifier of the bundle. All WorkSpaces that are created from this bundle are retrieved. You cannot combine this parameter with any other filter.</p>",
          "shape": "BundleId"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory. In addition, you can optionally specify a specific directory user (see <code>UserName</code>). You cannot combine this parameter with any other filter.</p>",
          "shape": "DirectoryId"
        },
        "Limit": {
          "documentation": "<p>The maximum number of items to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        },
        "UserName": {
          "documentation": "<p>The name of the directory user. You must specify this parameter with <code>DirectoryId</code>.</p>",
          "shape": "UserName"
        },
        "WorkspaceIds": {
          "documentation": "<p>The identifiers of the WorkSpaces. You cannot combine this parameter with any other filter.</p> <p>Because the <a>CreateWorkspaces</a> operation is asynchronous, the identifier it returns is not immediately available. If you immediately call <a>DescribeWorkspaces</a> with this identifier, no information is returned.</p>",
          "shape": "WorkspaceIdList"
        }
      },
      "type": "structure"
    },
    "DescribeWorkspacesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        },
        "Workspaces": {
          "documentation": "<p>Information about the WorkSpaces.</p> <p>Because <a>CreateWorkspaces</a> is an asynchronous operation, some of the returned information could be incomplete.</p>",
          "shape": "WorkspaceList"
        }
      },
      "type": "structure"
    },
    "Description": {
      "type": "string"
    },
    "DirectoryId": {
      "max": 65,
      "min": 10,
      "pattern": "^d-[0-9a-f]{8,63}$",
      "type": "string"
    },
    "DirectoryIdList": {
      "max": 25,
      "member": {
        "shape": "DirectoryId"
      },
      "min": 1,
      "type": "list"
    },
    "DirectoryList": {
      "member": {
        "shape": "WorkspaceDirectory"
      },
      "type": "list"
    },
    "DirectoryName": {
      "type": "string"
    },
    "DisassociateIpGroupsRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "GroupIds": {
          "documentation": "<p>The identifiers of one or more IP access control groups.</p>",
          "shape": "IpGroupIdList"
        }
      },
      "required": [
        "DirectoryId",
        "GroupIds"
      ],
      "type": "structure"
    },
    "DisassociateIpGroupsResult": {
      "members": {},
      "type": "structure"
    },
    "DnsIpAddresses": {
      "member": {
        "shape": "IpAddress"
      },
      "type": "list"
    },
    "Ec2ImageId": {
      "pattern": "^ami\\-([a-f0-9]{8}|[a-f0-9]{17})$",
      "type": "string"
    },
    "ErrorType": {
      "type": "string"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "FailedCreateWorkspaceRequest": {
      "documentation": "<p>Describes a WorkSpace that cannot be created.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that is returned if the WorkSpace cannot be created.</p>",
          "shape": "ErrorType"
        },
        "ErrorMessage": {
          "documentation": "<p>The text of the error message that is returned if the WorkSpace cannot be created.</p>",
          "shape": "Description"
        },
        "WorkspaceRequest": {
          "documentation": "<p>Information about the WorkSpace.</p>",
          "shape": "WorkspaceRequest"
        }
      },
      "type": "structure"
    },
    "FailedCreateWorkspaceRequests": {
      "member": {
        "shape": "FailedCreateWorkspaceRequest"
      },
      "type": "list"
    },
    "FailedRebootWorkspaceRequests": {
      "member": {
        "shape": "FailedWorkspaceChangeRequest"
      },
      "type": "list"
    },
    "FailedRebuildWorkspaceRequests": {
      "member": {
        "shape": "FailedWorkspaceChangeRequest"
      },
      "type": "list"
    },
    "FailedStartWorkspaceRequests": {
      "member": {
        "shape": "FailedWorkspaceChangeRequest"
      },
      "type": "list"
    },
    "FailedStopWorkspaceRequests": {
      "member": {
        "shape": "FailedWorkspaceChangeRequest"
      },
      "type": "list"
    },
    "FailedTerminateWorkspaceRequests": {
      "member": {
        "shape": "FailedWorkspaceChangeRequest"
      },
      "type": "list"
    },
    "FailedWorkspaceChangeRequest": {
      "documentation": "<p>Describes a WorkSpace that could not be rebooted. (<a>RebootWorkspaces</a>), rebuilt (<a>RebuildWorkspaces</a>), restored (<a>RestoreWorkspace</a>), terminated (<a>TerminateWorkspaces</a>), started (<a>StartWorkspaces</a>), or stopped (<a>StopWorkspaces</a>).</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that is returned if the WorkSpace cannot be rebooted.</p>",
          "shape": "ErrorType"
        },
        "ErrorMessage": {
          "documentation": "<p>The text of the error message that is returned if the WorkSpace cannot be rebooted.</p>",
          "shape": "Description"
        },
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "type": "structure"
    },
    "ImportWorkspaceImageRequest": {
      "members": {
        "Ec2ImageId": {
          "documentation": "<p>The identifier of the EC2 image.</p>",
          "shape": "Ec2ImageId"
        },
        "ImageDescription": {
          "documentation": "<p>The description of the WorkSpace image.</p>",
          "shape": "WorkspaceImageDescription"
        },
        "ImageName": {
          "documentation": "<p>The name of the WorkSpace image.</p>",
          "shape": "WorkspaceImageName"
        },
        "IngestionProcess": {
          "documentation": "<p>The ingestion process to be used when importing the image.</p>",
          "shape": "WorkspaceImageIngestionProcess"
        },
        "Tags": {
          "documentation": "<p>The tags. Each WorkSpaces resource can have a maximum of 50 tags.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Ec2ImageId",
        "IngestionProcess",
        "ImageName",
        "ImageDescription"
      ],
      "type": "structure"
    },
    "ImportWorkspaceImageResult": {
      "members": {
        "ImageId": {
          "documentation": "<p>The identifier of the WorkSpace image.</p>",
          "shape": "WorkspaceImageId"
        }
      },
      "type": "structure"
    },
    "InvalidParameterValuesException": {
      "documentation": "<p>One or more parameter values are not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The exception error message.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidResourceStateException": {
      "documentation": "<p>The state of the resource is not valid for this operation.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "IpAddress": {
      "type": "string"
    },
    "IpGroupDesc": {
      "type": "string"
    },
    "IpGroupId": {
      "pattern": "wsipg-[0-9a-z]{8,63}$",
      "type": "string"
    },
    "IpGroupIdList": {
      "member": {
        "shape": "IpGroupId"
      },
      "type": "list"
    },
    "IpGroupName": {
      "type": "string"
    },
    "IpRevokedRuleList": {
      "member": {
        "shape": "IpRule"
      },
      "type": "list"
    },
    "IpRule": {
      "type": "string"
    },
    "IpRuleDesc": {
      "type": "string"
    },
    "IpRuleItem": {
      "documentation": "<p>Describes a rule for an IP access control group.</p>",
      "members": {
        "ipRule": {
          "documentation": "<p>The IP address range, in CIDR notation.</p>",
          "shape": "IpRule"
        },
        "ruleDesc": {
          "documentation": "<p>The description.</p>",
          "shape": "IpRuleDesc"
        }
      },
      "type": "structure"
    },
    "IpRuleList": {
      "member": {
        "shape": "IpRuleItem"
      },
      "type": "list"
    },
    "Limit": {
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "ListAvailableManagementCidrRangesRequest": {
      "members": {
        "ManagementCidrRangeConstraint": {
          "documentation": "<p>The IP address range to search. Specify an IP address range that is compatible with your network and in CIDR notation (that is, specify the range as an IPv4 CIDR block).</p>",
          "shape": "ManagementCidrRangeConstraint"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of items to return.</p>",
          "shape": "ManagementCidrRangeMaxResults"
        },
        "NextToken": {
          "documentation": "<p>If you received a <code>NextToken</code> from a previous call that was paginated, provide this token to receive the next set of results.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "ManagementCidrRangeConstraint"
      ],
      "type": "structure"
    },
    "ListAvailableManagementCidrRangesResult": {
      "members": {
        "ManagementCidrRanges": {
          "documentation": "<p>The list of available IP address ranges, specified as IPv4 CIDR blocks.</p>",
          "shape": "DedicatedTenancyCidrRangeList"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next set of results, or null if no more results are available.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ManagementCidrRangeConstraint": {
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/(3[0-2]|[1-2][0-9]|[0-9]))$",
      "type": "string"
    },
    "ManagementCidrRangeMaxResults": {
      "max": 5,
      "min": 1,
      "type": "integer"
    },
    "MigrateWorkspaceRequest": {
      "members": {
        "BundleId": {
          "documentation": "<p>The identifier of the target bundle type to migrate the WorkSpace to.</p>",
          "shape": "BundleId"
        },
        "SourceWorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace to migrate from.</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "SourceWorkspaceId",
        "BundleId"
      ],
      "type": "structure"
    },
    "MigrateWorkspaceResult": {
      "members": {
        "SourceWorkspaceId": {
          "documentation": "<p>The original identifier of the WorkSpace that is being migrated.</p>",
          "shape": "WorkspaceId"
        },
        "TargetWorkspaceId": {
          "documentation": "<p>The new identifier of the WorkSpace that is being migrated. If the migration does not succeed, the target WorkSpace ID will not be used, and the WorkSpace will still have the original WorkSpace ID.</p>",
          "shape": "WorkspaceId"
        }
      },
      "type": "structure"
    },
    "ModificationResourceEnum": {
      "enum": [
        "ROOT_VOLUME",
        "USER_VOLUME",
        "COMPUTE_TYPE"
      ],
      "type": "string"
    },
    "ModificationState": {
      "documentation": "<p>Describes a WorkSpace modification.</p>",
      "members": {
        "Resource": {
          "documentation": "<p>The resource.</p>",
          "shape": "ModificationResourceEnum"
        },
        "State": {
          "documentation": "<p>The modification state.</p>",
          "shape": "ModificationStateEnum"
        }
      },
      "type": "structure"
    },
    "ModificationStateEnum": {
      "enum": [
        "UPDATE_INITIATED",
        "UPDATE_IN_PROGRESS"
      ],
      "type": "string"
    },
    "ModificationStateList": {
      "member": {
        "shape": "ModificationState"
      },
      "type": "list"
    },
    "ModifyAccountRequest": {
      "members": {
        "DedicatedTenancyManagementCidrRange": {
          "documentation": "<p>The IP address range, specified as an IPv4 CIDR block, for the management network interface. Specify an IP address range that is compatible with your network and in CIDR notation (that is, specify the range as an IPv4 CIDR block). The CIDR block size must be /16 (for example, 203.0.113.25/16). It must also be specified as available by the <code>ListAvailableManagementCidrRanges</code> operation.</p>",
          "shape": "DedicatedTenancyManagementCidrRange"
        },
        "DedicatedTenancySupport": {
          "documentation": "<p>The status of BYOL.</p>",
          "shape": "DedicatedTenancySupportEnum"
        }
      },
      "type": "structure"
    },
    "ModifyAccountResult": {
      "members": {},
      "type": "structure"
    },
    "ModifyClientPropertiesRequest": {
      "members": {
        "ClientProperties": {
          "documentation": "<p>Information about the Amazon WorkSpaces client.</p>",
          "shape": "ClientProperties"
        },
        "ResourceId": {
          "documentation": "<p>The resource identifiers, in the form of directory IDs.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "ResourceId",
        "ClientProperties"
      ],
      "type": "structure"
    },
    "ModifyClientPropertiesResult": {
      "members": {},
      "type": "structure"
    },
    "ModifySelfservicePermissionsRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "SelfservicePermissions": {
          "documentation": "<p>The permissions to enable or disable self-service capabilities.</p>",
          "shape": "SelfservicePermissions"
        }
      },
      "required": [
        "ResourceId",
        "SelfservicePermissions"
      ],
      "type": "structure"
    },
    "ModifySelfservicePermissionsResult": {
      "members": {},
      "type": "structure"
    },
    "ModifyWorkspaceAccessPropertiesRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "WorkspaceAccessProperties": {
          "documentation": "<p>The device types and operating systems to enable or disable for access.</p>",
          "shape": "WorkspaceAccessProperties"
        }
      },
      "required": [
        "ResourceId",
        "WorkspaceAccessProperties"
      ],
      "type": "structure"
    },
    "ModifyWorkspaceAccessPropertiesResult": {
      "members": {},
      "type": "structure"
    },
    "ModifyWorkspaceCreationPropertiesRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "WorkspaceCreationProperties": {
          "documentation": "<p>The default properties for creating WorkSpaces.</p>",
          "shape": "WorkspaceCreationProperties"
        }
      },
      "required": [
        "ResourceId",
        "WorkspaceCreationProperties"
      ],
      "type": "structure"
    },
    "ModifyWorkspaceCreationPropertiesResult": {
      "members": {},
      "type": "structure"
    },
    "ModifyWorkspacePropertiesRequest": {
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        },
        "WorkspaceProperties": {
          "documentation": "<p>The properties of the WorkSpace.</p>",
          "shape": "WorkspaceProperties"
        }
      },
      "required": [
        "WorkspaceId",
        "WorkspaceProperties"
      ],
      "type": "structure"
    },
    "ModifyWorkspacePropertiesResult": {
      "members": {},
      "type": "structure"
    },
    "ModifyWorkspaceStateRequest": {
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        },
        "WorkspaceState": {
          "documentation": "<p>The WorkSpace state.</p>",
          "shape": "TargetWorkspaceState"
        }
      },
      "required": [
        "WorkspaceId",
        "WorkspaceState"
      ],
      "type": "structure"
    },
    "ModifyWorkspaceStateResult": {
      "members": {},
      "type": "structure"
    },
    "NonEmptyString": {
      "min": 1,
      "type": "string"
    },
    "OperatingSystem": {
      "documentation": "<p>The operating system that the image is running.</p>",
      "members": {
        "Type": {
          "documentation": "<p>The operating system.</p>",
          "shape": "OperatingSystemType"
        }
      },
      "type": "structure"
    },
    "OperatingSystemType": {
      "enum": [
        "WINDOWS",
        "LINUX"
      ],
      "type": "string"
    },
    "OperationInProgressException": {
      "documentation": "<p>The properties of this WorkSpace are currently being modified. Try again in a moment.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "OperationNotSupportedException": {
      "documentation": "<p>This operation is not supported.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "PaginationToken": {
      "max": 63,
      "min": 1,
      "type": "string"
    },
    "RebootRequest": {
      "documentation": "<p>Describes the information used to reboot a WorkSpace.</p>",
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "WorkspaceId"
      ],
      "type": "structure"
    },
    "RebootWorkspaceRequests": {
      "max": 25,
      "member": {
        "shape": "RebootRequest"
      },
      "min": 1,
      "type": "list"
    },
    "RebootWorkspacesRequest": {
      "members": {
        "RebootWorkspaceRequests": {
          "documentation": "<p>The WorkSpaces to reboot. You can specify up to 25 WorkSpaces.</p>",
          "shape": "RebootWorkspaceRequests"
        }
      },
      "required": [
        "RebootWorkspaceRequests"
      ],
      "type": "structure"
    },
    "RebootWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpaces that could not be rebooted.</p>",
          "shape": "FailedRebootWorkspaceRequests"
        }
      },
      "type": "structure"
    },
    "RebuildRequest": {
      "documentation": "<p>Describes the information used to rebuild a WorkSpace.</p>",
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "WorkspaceId"
      ],
      "type": "structure"
    },
    "RebuildWorkspaceRequests": {
      "max": 1,
      "member": {
        "shape": "RebuildRequest"
      },
      "min": 1,
      "type": "list"
    },
    "RebuildWorkspacesRequest": {
      "members": {
        "RebuildWorkspaceRequests": {
          "documentation": "<p>The WorkSpace to rebuild. You can specify a single WorkSpace.</p>",
          "shape": "RebuildWorkspaceRequests"
        }
      },
      "required": [
        "RebuildWorkspaceRequests"
      ],
      "type": "structure"
    },
    "RebuildWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpace that could not be rebuilt.</p>",
          "shape": "FailedRebuildWorkspaceRequests"
        }
      },
      "type": "structure"
    },
    "ReconnectEnum": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "Region": {
      "max": 31,
      "min": 1,
      "pattern": "^[-0-9a-z]{1,31}$",
      "type": "string"
    },
    "RegisterWorkspaceDirectoryRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory. You cannot register a directory if it does not have a status of Active. If the directory does not have a status of Active, you will receive an InvalidResourceStateException error. If you have already registered the maximum number of directories that you can register with Amazon WorkSpaces, you will receive a ResourceLimitExceededException error. Deregister directories that you are not using for WorkSpaces, and try again.</p>",
          "shape": "DirectoryId"
        },
        "EnableSelfService": {
          "documentation": "<p>Indicates whether self-service capabilities are enabled or disabled.</p>",
          "shape": "BooleanObject"
        },
        "EnableWorkDocs": {
          "documentation": "<p>Indicates whether Amazon WorkDocs is enabled or disabled. If you have enabled this parameter and WorkDocs is not available in the Region, you will receive an OperationNotSupportedException error. Set <code>EnableWorkDocs</code> to disabled, and try again.</p>",
          "shape": "BooleanObject"
        },
        "SubnetIds": {
          "documentation": "<p>The identifiers of the subnets for your virtual private cloud (VPC). Make sure that the subnets are in supported Availability Zones. The subnets must also be in separate Availability Zones. If these conditions are not met, you will receive an OperationNotSupportedException error.</p>",
          "shape": "SubnetIds"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the directory.</p>",
          "shape": "TagList"
        },
        "Tenancy": {
          "documentation": "<p>Indicates whether your WorkSpace directory is dedicated or shared. To use Bring Your Own License (BYOL) images, this value must be set to <code>DEDICATED</code> and your AWS account must be enabled for BYOL. If your account has not been enabled for BYOL, you will receive an InvalidParameterValuesException error. For more information about BYOL images, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/byol-windows-images.html\">Bring Your Own Windows Desktop Images</a>.</p>",
          "shape": "Tenancy"
        }
      },
      "required": [
        "DirectoryId",
        "EnableWorkDocs"
      ],
      "type": "structure"
    },
    "RegisterWorkspaceDirectoryResult": {
      "members": {},
      "type": "structure"
    },
    "RegistrationCode": {
      "max": 20,
      "min": 1,
      "type": "string"
    },
    "ResourceAlreadyExistsException": {
      "documentation": "<p>The specified resource already exists.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ResourceAssociatedException": {
      "documentation": "<p>The resource is associated with a directory.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ResourceCreationFailedException": {
      "documentation": "<p>The resource could not be created.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ResourceIdList": {
      "max": 25,
      "member": {
        "shape": "NonEmptyString"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceLimitExceededException": {
      "documentation": "<p>Your resource limits have been exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The exception error message.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource could not be found.</p>",
      "exception": true,
      "members": {
        "ResourceId": {
          "documentation": "<p>The ID of the resource that could not be found.</p>",
          "shape": "NonEmptyString"
        },
        "message": {
          "documentation": "<p>The resource could not be found.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ResourceUnavailableException": {
      "documentation": "<p>The specified resource is not available.</p>",
      "exception": true,
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the resource that is not available.</p>",
          "shape": "NonEmptyString"
        },
        "message": {
          "documentation": "<p>The exception error message.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "RestoreWorkspaceRequest": {
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "WorkspaceId"
      ],
      "type": "structure"
    },
    "RestoreWorkspaceResult": {
      "members": {},
      "type": "structure"
    },
    "RevokeIpRulesRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "IpGroupId"
        },
        "UserRules": {
          "documentation": "<p>The rules to remove from the group.</p>",
          "shape": "IpRevokedRuleList"
        }
      },
      "required": [
        "GroupId",
        "UserRules"
      ],
      "type": "structure"
    },
    "RevokeIpRulesResult": {
      "members": {},
      "type": "structure"
    },
    "RootStorage": {
      "documentation": "<p>Describes the root volume for a WorkSpace bundle.</p>",
      "members": {
        "Capacity": {
          "documentation": "<p>The size of the root volume.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "RootVolumeSizeGib": {
      "type": "integer"
    },
    "RunningMode": {
      "enum": [
        "AUTO_STOP",
        "ALWAYS_ON"
      ],
      "type": "string"
    },
    "RunningModeAutoStopTimeoutInMinutes": {
      "type": "integer"
    },
    "SecurityGroupId": {
      "max": 20,
      "min": 11,
      "pattern": "^(sg-([0-9a-f]{8}|[0-9a-f]{17}))$",
      "type": "string"
    },
    "SelfservicePermissions": {
      "documentation": "<p>Describes the self-service permissions for a directory. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/enable-user-self-service-workspace-management.html\">Enable Self-Service WorkSpace Management Capabilities for Your Users</a>.</p>",
      "members": {
        "ChangeComputeType": {
          "documentation": "<p>Specifies whether users can change the compute type (bundle) for their WorkSpace.</p>",
          "shape": "ReconnectEnum"
        },
        "IncreaseVolumeSize": {
          "documentation": "<p>Specifies whether users can increase the volume size of the drives on their WorkSpace.</p>",
          "shape": "ReconnectEnum"
        },
        "RebuildWorkspace": {
          "documentation": "<p>Specifies whether users can rebuild the operating system of a WorkSpace to its original state.</p>",
          "shape": "ReconnectEnum"
        },
        "RestartWorkspace": {
          "documentation": "<p>Specifies whether users can restart their WorkSpace.</p>",
          "shape": "ReconnectEnum"
        },
        "SwitchRunningMode": {
          "documentation": "<p>Specifies whether users can switch the running mode of their WorkSpace.</p>",
          "shape": "ReconnectEnum"
        }
      },
      "type": "structure"
    },
    "Snapshot": {
      "documentation": "<p>Describes a snapshot.</p>",
      "members": {
        "SnapshotTime": {
          "documentation": "<p>The time when the snapshot was created.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "SnapshotList": {
      "member": {
        "shape": "Snapshot"
      },
      "type": "list"
    },
    "StartRequest": {
      "documentation": "<p>Information used to start a WorkSpace.</p>",
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "type": "structure"
    },
    "StartWorkspaceRequests": {
      "max": 25,
      "member": {
        "shape": "StartRequest"
      },
      "min": 1,
      "type": "list"
    },
    "StartWorkspacesRequest": {
      "members": {
        "StartWorkspaceRequests": {
          "documentation": "<p>The WorkSpaces to start. You can specify up to 25 WorkSpaces.</p>",
          "shape": "StartWorkspaceRequests"
        }
      },
      "required": [
        "StartWorkspaceRequests"
      ],
      "type": "structure"
    },
    "StartWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpaces that could not be started.</p>",
          "shape": "FailedStartWorkspaceRequests"
        }
      },
      "type": "structure"
    },
    "StopRequest": {
      "documentation": "<p>Describes the information used to stop a WorkSpace.</p>",
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "type": "structure"
    },
    "StopWorkspaceRequests": {
      "max": 25,
      "member": {
        "shape": "StopRequest"
      },
      "min": 1,
      "type": "list"
    },
    "StopWorkspacesRequest": {
      "members": {
        "StopWorkspaceRequests": {
          "documentation": "<p>The WorkSpaces to stop. You can specify up to 25 WorkSpaces.</p>",
          "shape": "StopWorkspaceRequests"
        }
      },
      "required": [
        "StopWorkspaceRequests"
      ],
      "type": "structure"
    },
    "StopWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpaces that could not be stopped.</p>",
          "shape": "FailedStopWorkspaceRequests"
        }
      },
      "type": "structure"
    },
    "SubnetId": {
      "max": 24,
      "min": 15,
      "pattern": "^(subnet-([0-9a-f]{8}|[0-9a-f]{17}))$",
      "type": "string"
    },
    "SubnetIds": {
      "max": 2,
      "member": {
        "shape": "SubnetId"
      },
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>Describes a tag.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key of the tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 127,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagValue": {
      "max": 255,
      "type": "string"
    },
    "TargetWorkspaceState": {
      "enum": [
        "AVAILABLE",
        "ADMIN_MAINTENANCE"
      ],
      "type": "string"
    },
    "Tenancy": {
      "enum": [
        "DEDICATED",
        "SHARED"
      ],
      "type": "string"
    },
    "TerminateRequest": {
      "documentation": "<p>Describes the information used to terminate a WorkSpace.</p>",
      "members": {
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "required": [
        "WorkspaceId"
      ],
      "type": "structure"
    },
    "TerminateWorkspaceRequests": {
      "max": 25,
      "member": {
        "shape": "TerminateRequest"
      },
      "min": 1,
      "type": "list"
    },
    "TerminateWorkspacesRequest": {
      "members": {
        "TerminateWorkspaceRequests": {
          "documentation": "<p>The WorkSpaces to terminate. You can specify up to 25 WorkSpaces.</p>",
          "shape": "TerminateWorkspaceRequests"
        }
      },
      "required": [
        "TerminateWorkspaceRequests"
      ],
      "type": "structure"
    },
    "TerminateWorkspacesResult": {
      "members": {
        "FailedRequests": {
          "documentation": "<p>Information about the WorkSpaces that could not be terminated.</p>",
          "shape": "FailedTerminateWorkspaceRequests"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UnsupportedNetworkConfigurationException": {
      "documentation": "<p>The configuration of this network is not supported for this operation, or your network configuration conflicts with the Amazon WorkSpaces management network IP range. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/amazon-workspaces-vpc.html\"> Configure a VPC for Amazon WorkSpaces</a>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "UnsupportedWorkspaceConfigurationException": {
      "documentation": "<p>The configuration of this WorkSpace is not supported for this operation. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/required-service-components.html\">Required Configuration and Service Components for WorkSpaces </a>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "UpdateRulesOfIpGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "IpGroupId"
        },
        "UserRules": {
          "documentation": "<p>One or more rules.</p>",
          "shape": "IpRuleList"
        }
      },
      "required": [
        "GroupId",
        "UserRules"
      ],
      "type": "structure"
    },
    "UpdateRulesOfIpGroupResult": {
      "members": {},
      "type": "structure"
    },
    "UserName": {
      "max": 63,
      "min": 1,
      "type": "string"
    },
    "UserStorage": {
      "documentation": "<p>Describes the user storage for a WorkSpace bundle.</p>",
      "members": {
        "Capacity": {
          "documentation": "<p>The size of the user storage.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "UserVolumeSizeGib": {
      "type": "integer"
    },
    "VolumeEncryptionKey": {
      "type": "string"
    },
    "Workspace": {
      "documentation": "<p>Describes a WorkSpace.</p>",
      "members": {
        "BundleId": {
          "documentation": "<p>The identifier of the bundle used to create the WorkSpace.</p>",
          "shape": "BundleId"
        },
        "ComputerName": {
          "documentation": "<p>The name of the WorkSpace, as seen by the operating system.</p>",
          "shape": "ComputerName"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the AWS Directory Service directory for the WorkSpace.</p>",
          "shape": "DirectoryId"
        },
        "ErrorCode": {
          "documentation": "<p>The error code that is returned if the WorkSpace cannot be created.</p>",
          "shape": "WorkspaceErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The text of the error message that is returned if the WorkSpace cannot be created.</p>",
          "shape": "Description"
        },
        "IpAddress": {
          "documentation": "<p>The IP address of the WorkSpace.</p>",
          "shape": "IpAddress"
        },
        "ModificationStates": {
          "documentation": "<p>The modification states of the WorkSpace.</p>",
          "shape": "ModificationStateList"
        },
        "RootVolumeEncryptionEnabled": {
          "documentation": "<p>Indicates whether the data stored on the root volume is encrypted.</p>",
          "shape": "BooleanObject"
        },
        "State": {
          "documentation": "<p>The operational state of the WorkSpace.</p>",
          "shape": "WorkspaceState"
        },
        "SubnetId": {
          "documentation": "<p>The identifier of the subnet for the WorkSpace.</p>",
          "shape": "SubnetId"
        },
        "UserName": {
          "documentation": "<p>The user for the WorkSpace.</p>",
          "shape": "UserName"
        },
        "UserVolumeEncryptionEnabled": {
          "documentation": "<p>Indicates whether the data stored on the user volume is encrypted.</p>",
          "shape": "BooleanObject"
        },
        "VolumeEncryptionKey": {
          "documentation": "<p>The symmetric AWS KMS customer master key (CMK) used to encrypt data stored on your WorkSpace. Amazon WorkSpaces does not support asymmetric CMKs.</p>",
          "shape": "VolumeEncryptionKey"
        },
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        },
        "WorkspaceProperties": {
          "documentation": "<p>The properties of the WorkSpace.</p>",
          "shape": "WorkspaceProperties"
        }
      },
      "type": "structure"
    },
    "WorkspaceAccessProperties": {
      "documentation": "<p>The device types and operating systems that can be used to access a WorkSpace. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/workspaces-network-requirements.html\">Amazon WorkSpaces Client Network Requirements</a>.</p>",
      "members": {
        "DeviceTypeAndroid": {
          "documentation": "<p>Indicates whether users can use Android devices to access their WorkSpaces.</p>",
          "shape": "AccessPropertyValue"
        },
        "DeviceTypeChromeOs": {
          "documentation": "<p>Indicates whether users can use Chromebooks to access their WorkSpaces.</p>",
          "shape": "AccessPropertyValue"
        },
        "DeviceTypeIos": {
          "documentation": "<p>Indicates whether users can use iOS devices to access their WorkSpaces.</p>",
          "shape": "AccessPropertyValue"
        },
        "DeviceTypeOsx": {
          "documentation": "<p>Indicates whether users can use macOS clients to access their WorkSpaces. To restrict WorkSpaces access to trusted devices (also known as managed devices) with valid certificates, specify a value of <code>TRUST</code>. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/trusted-devices.html\">Restrict WorkSpaces Access to Trusted Devices</a>. </p>",
          "shape": "AccessPropertyValue"
        },
        "DeviceTypeWeb": {
          "documentation": "<p>Indicates whether users can access their WorkSpaces through a web browser.</p>",
          "shape": "AccessPropertyValue"
        },
        "DeviceTypeWindows": {
          "documentation": "<p>Indicates whether users can use Windows clients to access their WorkSpaces. To restrict WorkSpaces access to trusted devices (also known as managed devices) with valid certificates, specify a value of <code>TRUST</code>. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/trusted-devices.html\">Restrict WorkSpaces Access to Trusted Devices</a>. </p>",
          "shape": "AccessPropertyValue"
        },
        "DeviceTypeZeroClient": {
          "documentation": "<p>Indicates whether users can use zero client devices to access their WorkSpaces.</p>",
          "shape": "AccessPropertyValue"
        }
      },
      "type": "structure"
    },
    "WorkspaceBundle": {
      "documentation": "<p>Describes a WorkSpace bundle.</p>",
      "members": {
        "BundleId": {
          "documentation": "<p>The bundle identifier.</p>",
          "shape": "BundleId"
        },
        "ComputeType": {
          "documentation": "<p>The compute type. For more information, see <a href=\"http://aws.amazon.com/workspaces/details/#Amazon_WorkSpaces_Bundles\">Amazon WorkSpaces Bundles</a>.</p>",
          "shape": "ComputeType"
        },
        "Description": {
          "documentation": "<p>A description.</p>",
          "shape": "Description"
        },
        "ImageId": {
          "documentation": "<p>The image identifier of the bundle.</p>",
          "shape": "WorkspaceImageId"
        },
        "LastUpdatedTime": {
          "documentation": "<p>The last time that the bundle was updated.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the bundle.</p>",
          "shape": "NonEmptyString"
        },
        "Owner": {
          "documentation": "<p>The owner of the bundle. This is the account identifier of the owner, or <code>AMAZON</code> if the bundle is provided by AWS.</p>",
          "shape": "BundleOwner"
        },
        "RootStorage": {
          "documentation": "<p>The size of the root volume.</p>",
          "shape": "RootStorage"
        },
        "UserStorage": {
          "documentation": "<p>The size of the user storage.</p>",
          "shape": "UserStorage"
        }
      },
      "type": "structure"
    },
    "WorkspaceConnectionStatus": {
      "documentation": "<p>Describes the connection status of a WorkSpace.</p>",
      "members": {
        "ConnectionState": {
          "documentation": "<p>The connection state of the WorkSpace. The connection state is unknown if the WorkSpace is stopped.</p>",
          "shape": "ConnectionState"
        },
        "ConnectionStateCheckTimestamp": {
          "documentation": "<p>The timestamp of the connection status check.</p>",
          "shape": "Timestamp"
        },
        "LastKnownUserConnectionTimestamp": {
          "documentation": "<p>The timestamp of the last known user connection.</p>",
          "shape": "Timestamp"
        },
        "WorkspaceId": {
          "documentation": "<p>The identifier of the WorkSpace.</p>",
          "shape": "WorkspaceId"
        }
      },
      "type": "structure"
    },
    "WorkspaceConnectionStatusList": {
      "member": {
        "shape": "WorkspaceConnectionStatus"
      },
      "type": "list"
    },
    "WorkspaceCreationProperties": {
      "documentation": "<p>Describes the default properties that are used for creating WorkSpaces. For more information, see <a href=\"https://docs.aws.amazon.com/workspaces/latest/adminguide/update-directory-details.html\">Update Directory Details for Your WorkSpaces</a>. </p>",
      "members": {
        "CustomSecurityGroupId": {
          "documentation": "<p>The identifier of your custom security group.</p>",
[...]
