{
  "documentation": "<fullname>Amazon ElastiCache</fullname> <p>Amazon ElastiCache is a web service that makes it easier to set up, operate, and scale a distributed cache in the cloud.</p> <p>With ElastiCache, customers get all of the benefits of a high-performance, in-memory cache with less of the administrative burden involved in launching and managing a distributed cache. The service makes setup, scaling, and cluster failure handling much simpler than in a self-managed cache deployment.</p> <p>In addition, through integration with Amazon CloudWatch, customers get enhanced visibility into the key performance statistics associated with their cache and can receive alarms if a part of their cache runs hot.</p>",
  "metadata": {
    "apiVersion": "2015-02-02",
    "endpointPrefix": "elasticache",
    "protocol": "query",
    "serviceFullName": "Amazon ElastiCache",
    "serviceId": "ElastiCache",
    "signatureVersion": "v4",
    "uid": "elasticache-2015-02-02",
    "xmlNamespace": "http://elasticache.amazonaws.com/doc/2015-02-02/"
  },
  "operations": {
    "AddTagsToResource": {
      "documentation": "<p>Adds up to 50 cost allocation tags to the named resource. A cost allocation tag is a key-value pair where the key and value are case-sensitive. You can use cost allocation tags to categorize and track your AWS costs.</p> <p> When you apply tags to your ElastiCache resources, AWS generates a cost allocation report as a comma-separated value (CSV) file with your usage and costs aggregated by your tags. You can apply tags that represent business categories (such as cost centers, application names, or owners) to organize your costs across multiple services. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Using Cost Allocation Tags in Amazon ElastiCache</a> in the <i>ElastiCache User Guide</i>.</p>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "SnapshotNotFoundFault"
        },
        {
          "shape": "TagQuotaPerResourceExceeded"
        },
        {
          "shape": "InvalidARNFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceMessage"
      },
      "name": "AddTagsToResource",
      "output": {
        "resultWrapper": "AddTagsToResourceResult",
        "shape": "TagListMessage"
      }
    },
    "AuthorizeCacheSecurityGroupIngress": {
      "documentation": "<p>Allows network ingress to a cache security group. Applications using ElastiCache must be running on Amazon EC2, and Amazon EC2 security groups are used as the authorization mechanism.</p> <note> <p>You cannot authorize ingress from an Amazon EC2 security group in one region to an ElastiCache cluster in another region.</p> </note>",
      "errors": [
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "shape": "AuthorizationAlreadyExistsFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeCacheSecurityGroupIngressMessage"
      },
      "name": "AuthorizeCacheSecurityGroupIngress",
      "output": {
        "resultWrapper": "AuthorizeCacheSecurityGroupIngressResult",
        "shape": "AuthorizeCacheSecurityGroupIngressResult"
      }
    },
    "BatchApplyUpdateAction": {
      "documentation": "<p>Apply the service update. For more information on service updates and applying them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/applying-updates.html\">Applying Service Updates</a>.</p>",
      "errors": [
        {
          "shape": "ServiceUpdateNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchApplyUpdateActionMessage"
      },
      "name": "BatchApplyUpdateAction",
      "output": {
        "resultWrapper": "BatchApplyUpdateActionResult",
        "shape": "UpdateActionResultsMessage"
      }
    },
    "BatchStopUpdateAction": {
      "documentation": "<p>Stop the service update. For more information on service updates and stopping them, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/stopping-self-service-updates.html\">Stopping Service Updates</a>.</p>",
      "errors": [
        {
          "shape": "ServiceUpdateNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchStopUpdateActionMessage"
      },
      "name": "BatchStopUpdateAction",
      "output": {
        "resultWrapper": "BatchStopUpdateActionResult",
        "shape": "UpdateActionResultsMessage"
      }
    },
    "CompleteMigration": {
      "documentation": "<p>Complete the migration of data.</p>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "ReplicationGroupNotUnderMigrationFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CompleteMigrationMessage"
      },
      "name": "CompleteMigration",
      "output": {
        "resultWrapper": "CompleteMigrationResult",
        "shape": "CompleteMigrationResponse"
      }
    },
    "CopySnapshot": {
      "documentation": "<p>Makes a copy of an existing snapshot.</p> <note> <p>This operation is valid for Redis only.</p> </note> <important> <p>Users or groups that have permissions to use the <code>CopySnapshot</code> operation can create their own Amazon S3 buckets and copy snapshots to it. To control access to your snapshots, use an IAM policy to control who has the ability to use the <code>CopySnapshot</code> operation. For more information about using IAM to control the use of ElastiCache operations, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html\">Exporting Snapshots</a> and <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/IAM.html\">Authentication &amp; Access Control</a>.</p> </important> <p>You could receive the following error messages.</p> <p class=\"title\"> <b>Error Messages</b> </p> <ul> <li> <p> <b>Error Message:</b> The S3 bucket %s is outside of the region.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s does not exist.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s is not owned by the authenticated user.</p> <p> <b>Solution:</b> Create an Amazon S3 bucket in the same region as your snapshot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-create-s3-bucket\">Step 1: Create an Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message:</b> The authenticated user does not have sufficient permissions to perform the desired activity.</p> <p> <b>Solution:</b> Contact your system administrator to get the needed permissions.</p> </li> <li> <p> <b>Error Message:</b> The S3 bucket %s already contains an object with key %s.</p> <p> <b>Solution:</b> Give the <code>TargetSnapshotName</code> a new and unique value. If exporting a snapshot, you could alternatively create a new Amazon S3 bucket and use this same value for <code>TargetSnapshotName</code>.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add List and Read permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted WRITE permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add Upload/Delete permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> <li> <p> <b>Error Message: </b> ElastiCache has not been granted READ_ACP permissions %s on the S3 Bucket.</p> <p> <b>Solution:</b> Add View Permissions on the bucket. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-exporting.html#backups-exporting-grant-access\">Step 2: Grant ElastiCache Access to Your Amazon S3 Bucket</a> in the ElastiCache User Guide.</p> </li> </ul>",
      "errors": [
        {
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotNotFoundFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidSnapshotStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopySnapshotMessage"
      },
      "name": "CopySnapshot",
      "output": {
        "resultWrapper": "CopySnapshotResult",
        "shape": "CopySnapshotResult"
      }
    },
    "CreateCacheCluster": {
      "documentation": "<p>Creates a cluster. All nodes in the cluster run the same protocol-compliant cache engine software, either Memcached or Redis.</p> <p>This operation is not supported for Redis (cluster mode enabled) clusters.</p>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "CacheClusterAlreadyExistsFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "CacheSubnetGroupNotFoundFault"
        },
        {
          "shape": "ClusterQuotaForCustomerExceededFault"
        },
        {
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "TagQuotaPerResourceExceeded"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCacheClusterMessage"
      },
      "name": "CreateCacheCluster",
      "output": {
        "resultWrapper": "CreateCacheClusterResult",
        "shape": "CreateCacheClusterResult"
      }
    },
    "CreateCacheParameterGroup": {
      "documentation": "<p>Creates a new Amazon ElastiCache cache parameter group. An ElastiCache cache parameter group is a collection of parameters and their values that are applied to all of the nodes in any cluster or replication group using the CacheParameterGroup.</p> <p>A newly created CacheParameterGroup is an exact duplicate of the default parameter group for the CacheParameterGroupFamily. To customize the newly created CacheParameterGroup you can change the values of specific parameters. For more information, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyCacheParameterGroup.html\">ModifyCacheParameterGroup</a> in the ElastiCache API Reference.</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ParameterGroups.html\">Parameters and Parameter Groups</a> in the ElastiCache User Guide.</p> </li> </ul>",
      "errors": [
        {
          "shape": "CacheParameterGroupQuotaExceededFault"
        },
        {
          "shape": "CacheParameterGroupAlreadyExistsFault"
        },
        {
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCacheParameterGroupMessage"
      },
      "name": "CreateCacheParameterGroup",
      "output": {
        "resultWrapper": "CreateCacheParameterGroupResult",
        "shape": "CreateCacheParameterGroupResult"
      }
    },
    "CreateCacheSecurityGroup": {
      "documentation": "<p>Creates a new cache security group. Use a cache security group to control access to one or more clusters.</p> <p>Cache security groups are only used when you are creating a cluster outside of an Amazon Virtual Private Cloud (Amazon VPC). If you are creating a cluster inside of a VPC, use a cache subnet group instead. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_CreateCacheSubnetGroup.html\">CreateCacheSubnetGroup</a>.</p>",
      "errors": [
        {
          "shape": "CacheSecurityGroupAlreadyExistsFault"
        },
        {
          "shape": "CacheSecurityGroupQuotaExceededFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCacheSecurityGroupMessage"
      },
      "name": "CreateCacheSecurityGroup",
      "output": {
        "resultWrapper": "CreateCacheSecurityGroupResult",
        "shape": "CreateCacheSecurityGroupResult"
      }
    },
    "CreateCacheSubnetGroup": {
      "documentation": "<p>Creates a new cache subnet group.</p> <p>Use this parameter only when you are creating a cluster in an Amazon Virtual Private Cloud (Amazon VPC).</p>",
      "errors": [
        {
          "shape": "CacheSubnetGroupAlreadyExistsFault"
        },
        {
          "shape": "CacheSubnetGroupQuotaExceededFault"
        },
        {
          "shape": "CacheSubnetQuotaExceededFault"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCacheSubnetGroupMessage"
      },
      "name": "CreateCacheSubnetGroup",
      "output": {
        "resultWrapper": "CreateCacheSubnetGroupResult",
        "shape": "CreateCacheSubnetGroupResult"
      }
    },
    "CreateGlobalReplicationGroup": {
      "documentation": "<p>Global Datastore for Redis offers fully managed, fast, reliable and secure cross-region replication. Using Global Datastore for Redis, you can create cross-region read replica clusters for ElastiCache for Redis to enable low-latency reads and disaster recovery across regions. For more information, see <a href=\"/AmazonElastiCache/latest/red-ug/Redis-Global-Clusters.html\">Replication Across Regions Using Global Datastore</a>. </p> <ul> <li> <p>The <b>GlobalReplicationGroupId</b> is the name of the Global Datastore.</p> </li> <li> <p>The <b>PrimaryReplicationGroupId</b> represents the name of the primary cluster that accepts writes and will replicate updates to the secondary cluster.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "GlobalReplicationGroupAlreadyExistsFault"
        },
        {
          "shape": "ServiceLinkedRoleNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGlobalReplicationGroupMessage"
      },
      "name": "CreateGlobalReplicationGroup",
      "output": {
        "resultWrapper": "CreateGlobalReplicationGroupResult",
        "shape": "CreateGlobalReplicationGroupResult"
      }
    },
    "CreateReplicationGroup": {
      "documentation": "<p>Creates a Redis (cluster mode disabled) or a Redis (cluster mode enabled) replication group.</p> <p>This API can be used to create a standalone regional replication group or a secondary replication group associated with a Global Datastore.</p> <p>A Redis (cluster mode disabled) replication group is a collection of clusters, where one of the clusters is a read/write primary and the others are read-only replicas. Writes to the primary are asynchronously propagated to the replicas.</p> <p>A Redis (cluster mode enabled) replication group is a collection of 1 to 90 node groups (shards). Each node group (shard) has one read/write primary node and up to 5 read-only replica nodes. Writes to the primary are asynchronously propagated to the replicas. Redis (cluster mode enabled) replication groups partition the data across node groups (shards).</p> <p>When a Redis (cluster mode disabled) replication group has been successfully created, you can add one or more read replicas to it, up to a total of 5 read replicas. You cannot alter a Redis (cluster mode enabled) replication group after it has been created. However, if you need to increase or decrease the number of node groups (console: shards), you can avail yourself of ElastiCache for Redis' enhanced backup and restore. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/backups-restoring.html\">Restoring From a Backup with Cluster Resizing</a> in the <i>ElastiCache User Guide</i>.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "ReplicationGroupAlreadyExistsFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "CacheSubnetGroupNotFoundFault"
        },
        {
          "shape": "ClusterQuotaForCustomerExceededFault"
        },
        {
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "TagQuotaPerResourceExceeded"
        },
        {
          "shape": "NodeGroupsPerReplicationGroupQuotaExceededFault"
        },
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReplicationGroupMessage"
      },
      "name": "CreateReplicationGroup",
      "output": {
        "resultWrapper": "CreateReplicationGroupResult",
        "shape": "CreateReplicationGroupResult"
      }
    },
    "CreateSnapshot": {
      "documentation": "<p>Creates a copy of an entire cluster or replication group at a specific moment in time.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "SnapshotFeatureNotSupportedFault"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSnapshotMessage"
      },
      "name": "CreateSnapshot",
      "output": {
        "resultWrapper": "CreateSnapshotResult",
        "shape": "CreateSnapshotResult"
      }
    },
    "DecreaseNodeGroupsInGlobalReplicationGroup": {
      "documentation": "<p>Decreases the number of node groups in a Global Datastore</p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DecreaseNodeGroupsInGlobalReplicationGroupMessage"
      },
      "name": "DecreaseNodeGroupsInGlobalReplicationGroup",
      "output": {
        "resultWrapper": "DecreaseNodeGroupsInGlobalReplicationGroupResult",
        "shape": "DecreaseNodeGroupsInGlobalReplicationGroupResult"
      }
    },
    "DecreaseReplicaCount": {
      "documentation": "<p>Dynamically decreases the number of replicas in a Redis (cluster mode disabled) replication group or the number of replica nodes in one or more node groups (shards) of a Redis (cluster mode enabled) replication group. This operation is performed with no cluster down time.</p>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "ClusterQuotaForCustomerExceededFault"
        },
        {
          "shape": "NodeGroupsPerReplicationGroupQuotaExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "ServiceLinkedRoleNotFoundFault"
        },
        {
          "shape": "NoOperationFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DecreaseReplicaCountMessage"
      },
      "name": "DecreaseReplicaCount",
      "output": {
        "resultWrapper": "DecreaseReplicaCountResult",
        "shape": "DecreaseReplicaCountResult"
      }
    },
    "DeleteCacheCluster": {
      "documentation": "<p>Deletes a previously provisioned cluster. <code>DeleteCacheCluster</code> deletes all associated cache nodes, node endpoints and the cluster itself. When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the cluster; you cannot cancel or revert this operation.</p> <p>This operation is not valid for:</p> <ul> <li> <p>Redis (cluster mode enabled) clusters</p> </li> <li> <p>A cluster that is the last read replica of a replication group</p> </li> <li> <p>A node group (shard) that has Multi-AZ mode enabled</p> </li> <li> <p>A cluster from a Redis (cluster mode enabled) replication group</p> </li> <li> <p>A cluster that is not in the <code>available</code> state</p> </li> </ul>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotFeatureNotSupportedFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCacheClusterMessage"
      },
      "name": "DeleteCacheCluster",
      "output": {
        "resultWrapper": "DeleteCacheClusterResult",
        "shape": "DeleteCacheClusterResult"
      }
    },
    "DeleteCacheParameterGroup": {
      "documentation": "<p>Deletes the specified cache parameter group. You cannot delete a cache parameter group if it is associated with any cache clusters.</p>",
      "errors": [
        {
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCacheParameterGroupMessage"
      },
      "name": "DeleteCacheParameterGroup"
    },
    "DeleteCacheSecurityGroup": {
      "documentation": "<p>Deletes a cache security group.</p> <note> <p>You cannot delete a cache security group if it is associated with any clusters.</p> </note>",
      "errors": [
        {
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCacheSecurityGroupMessage"
      },
      "name": "DeleteCacheSecurityGroup"
    },
    "DeleteCacheSubnetGroup": {
      "documentation": "<p>Deletes a cache subnet group.</p> <note> <p>You cannot delete a cache subnet group if it is associated with any clusters.</p> </note>",
      "errors": [
        {
          "shape": "CacheSubnetGroupInUse"
        },
        {
          "shape": "CacheSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCacheSubnetGroupMessage"
      },
      "name": "DeleteCacheSubnetGroup"
    },
    "DeleteGlobalReplicationGroup": {
      "documentation": "<p>Deleting a Global Datastore is a two-step process: </p> <ul> <li> <p>First, you must <a>DisassociateGlobalReplicationGroup</a> to remove the secondary clusters in the Global Datastore.</p> </li> <li> <p>Once the Global Datastore contains only the primary cluster, you can use DeleteGlobalReplicationGroup API to delete the Global Datastore while retainining the primary cluster using Retain\u2026= true.</p> </li> </ul> <p>Since the Global Datastore has only a primary cluster, you can delete the Global Datastore while retaining the primary by setting <code>RetainPrimaryCluster=true</code>.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGlobalReplicationGroupMessage"
      },
      "name": "DeleteGlobalReplicationGroup",
      "output": {
        "resultWrapper": "DeleteGlobalReplicationGroupResult",
        "shape": "DeleteGlobalReplicationGroupResult"
      }
    },
    "DeleteReplicationGroup": {
      "documentation": "<p>Deletes an existing replication group. By default, this operation deletes the entire replication group, including the primary/primaries and all of the read replicas. If the replication group has only one primary, you can optionally delete only the read replicas, while retaining the primary by setting <code>RetainPrimaryCluster=true</code>.</p> <p>When you receive a successful response from this operation, Amazon ElastiCache immediately begins deleting the selected resources; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "SnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotFeatureNotSupportedFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReplicationGroupMessage"
      },
      "name": "DeleteReplicationGroup",
      "output": {
        "resultWrapper": "DeleteReplicationGroupResult",
        "shape": "DeleteReplicationGroupResult"
      }
    },
    "DeleteSnapshot": {
      "documentation": "<p>Deletes an existing snapshot. When you receive a successful response from this operation, ElastiCache immediately begins deleting the snapshot; you cannot cancel or revert this operation.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "SnapshotNotFoundFault"
        },
        {
          "shape": "InvalidSnapshotStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSnapshotMessage"
      },
      "name": "DeleteSnapshot",
      "output": {
        "resultWrapper": "DeleteSnapshotResult",
        "shape": "DeleteSnapshotResult"
      }
    },
    "DescribeCacheClusters": {
      "documentation": "<p>Returns information about all provisioned clusters if no cluster identifier is specified, or about a specific cache cluster if a cluster identifier is supplied.</p> <p>By default, abbreviated information about the clusters is returned. You can use the optional <i>ShowCacheNodeInfo</i> flag to retrieve detailed information about the cache nodes associated with the clusters. These details include the DNS address and port for the cache node endpoint.</p> <p>If the cluster is in the <i>creating</i> state, only cluster-level information is displayed until all of the nodes are successfully provisioned.</p> <p>If the cluster is in the <i>deleting</i> state, only cluster-level information is displayed.</p> <p>If cache nodes are currently being added to the cluster, node endpoint information and creation time for the additional nodes are not displayed until they are completely provisioned. When the cluster state is <i>available</i>, the cluster is ready for use.</p> <p>If cache nodes are currently being removed from the cluster, no endpoint information for the removed nodes is displayed.</p>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheClustersMessage"
      },
      "name": "DescribeCacheClusters",
      "output": {
        "resultWrapper": "DescribeCacheClustersResult",
        "shape": "CacheClusterMessage"
      }
    },
    "DescribeCacheEngineVersions": {
      "documentation": "<p>Returns a list of the available cache engines and their versions.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheEngineVersionsMessage"
      },
      "name": "DescribeCacheEngineVersions",
      "output": {
        "resultWrapper": "DescribeCacheEngineVersionsResult",
        "shape": "CacheEngineVersionMessage"
      }
    },
    "DescribeCacheParameterGroups": {
      "documentation": "<p>Returns a list of cache parameter group descriptions. If a cache parameter group name is specified, the list contains only the descriptions for that group.</p>",
      "errors": [
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheParameterGroupsMessage"
      },
      "name": "DescribeCacheParameterGroups",
      "output": {
        "resultWrapper": "DescribeCacheParameterGroupsResult",
        "shape": "CacheParameterGroupsMessage"
      }
    },
    "DescribeCacheParameters": {
      "documentation": "<p>Returns the detailed parameter list for a particular cache parameter group.</p>",
      "errors": [
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheParametersMessage"
      },
      "name": "DescribeCacheParameters",
      "output": {
        "resultWrapper": "DescribeCacheParametersResult",
        "shape": "CacheParameterGroupDetails"
      }
    },
    "DescribeCacheSecurityGroups": {
      "documentation": "<p>Returns a list of cache security group descriptions. If a cache security group name is specified, the list contains only the description of that group. This applicable only when you have ElastiCache in Classic setup </p>",
      "errors": [
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheSecurityGroupsMessage"
      },
      "name": "DescribeCacheSecurityGroups",
      "output": {
        "resultWrapper": "DescribeCacheSecurityGroupsResult",
        "shape": "CacheSecurityGroupMessage"
      }
    },
    "DescribeCacheSubnetGroups": {
      "documentation": "<p>Returns a list of cache subnet group descriptions. If a subnet group name is specified, the list contains only the description of that group. This is applicable only when you have ElastiCache in VPC setup. All ElastiCache clusters now launch in VPC by default. </p>",
      "errors": [
        {
          "shape": "CacheSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCacheSubnetGroupsMessage"
      },
      "name": "DescribeCacheSubnetGroups",
      "output": {
        "resultWrapper": "DescribeCacheSubnetGroupsResult",
        "shape": "CacheSubnetGroupMessage"
      }
    },
    "DescribeEngineDefaultParameters": {
      "documentation": "<p>Returns the default engine and system parameter information for the specified cache engine.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngineDefaultParametersMessage"
      },
      "name": "DescribeEngineDefaultParameters",
      "output": {
        "resultWrapper": "DescribeEngineDefaultParametersResult",
        "shape": "DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEvents": {
      "documentation": "<p>Returns events related to clusters, cache security groups, and cache parameter groups. You can obtain events specific to a particular cluster, cache security group, or cache parameter group by providing the name as a parameter.</p> <p>By default, only the events occurring within the last hour are returned; however, you can retrieve up to 14 days' worth of events if necessary.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "shape": "EventsMessage"
      }
    },
    "DescribeGlobalReplicationGroups": {
      "documentation": "<p>Returns information about a particular global replication group. If no identifier is specified, returns information about all Global Datastores. </p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGlobalReplicationGroupsMessage"
      },
      "name": "DescribeGlobalReplicationGroups",
      "output": {
        "resultWrapper": "DescribeGlobalReplicationGroupsResult",
        "shape": "DescribeGlobalReplicationGroupsResult"
      }
    },
    "DescribeReplicationGroups": {
      "documentation": "<p>Returns information about a particular replication group. If no identifier is specified, <code>DescribeReplicationGroups</code> returns information about all replication groups.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReplicationGroupsMessage"
      },
      "name": "DescribeReplicationGroups",
      "output": {
        "resultWrapper": "DescribeReplicationGroupsResult",
        "shape": "ReplicationGroupMessage"
      }
    },
    "DescribeReservedCacheNodes": {
      "documentation": "<p>Returns information about reserved cache nodes for this account, or about a specified reserved cache node.</p>",
      "errors": [
        {
          "shape": "ReservedCacheNodeNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReservedCacheNodesMessage"
      },
      "name": "DescribeReservedCacheNodes",
      "output": {
        "resultWrapper": "DescribeReservedCacheNodesResult",
        "shape": "ReservedCacheNodeMessage"
      }
    },
    "DescribeReservedCacheNodesOfferings": {
      "documentation": "<p>Lists available reserved cache node offerings.</p>",
      "errors": [
        {
          "shape": "ReservedCacheNodesOfferingNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReservedCacheNodesOfferingsMessage"
      },
      "name": "DescribeReservedCacheNodesOfferings",
      "output": {
        "resultWrapper": "DescribeReservedCacheNodesOfferingsResult",
        "shape": "ReservedCacheNodesOfferingMessage"
      }
    },
    "DescribeServiceUpdates": {
      "documentation": "<p>Returns details of the service updates</p>",
      "errors": [
        {
          "shape": "ServiceUpdateNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServiceUpdatesMessage"
      },
      "name": "DescribeServiceUpdates",
      "output": {
        "resultWrapper": "DescribeServiceUpdatesResult",
        "shape": "ServiceUpdatesMessage"
      }
    },
    "DescribeSnapshots": {
      "documentation": "<p>Returns information about cluster or replication group snapshots. By default, <code>DescribeSnapshots</code> lists all of your snapshots; it can optionally describe a single snapshot, or just the snapshots associated with a particular cache cluster.</p> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "SnapshotNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSnapshotsMessage"
      },
      "name": "DescribeSnapshots",
      "output": {
        "resultWrapper": "DescribeSnapshotsResult",
        "shape": "DescribeSnapshotsListMessage"
      }
    },
    "DescribeUpdateActions": {
      "documentation": "<p>Returns details of the update actions </p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUpdateActionsMessage"
      },
      "name": "DescribeUpdateActions",
      "output": {
        "resultWrapper": "DescribeUpdateActionsResult",
        "shape": "UpdateActionsMessage"
      }
    },
    "DisassociateGlobalReplicationGroup": {
      "documentation": "<p>Remove a secondary cluster from the Global Datastore using the Global Datastore name. The secondary cluster will no longer receive updates from the primary cluster, but will remain as a standalone cluster in that AWS region.</p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateGlobalReplicationGroupMessage"
      },
      "name": "DisassociateGlobalReplicationGroup",
      "output": {
        "resultWrapper": "DisassociateGlobalReplicationGroupResult",
        "shape": "DisassociateGlobalReplicationGroupResult"
      }
    },
    "FailoverGlobalReplicationGroup": {
      "documentation": "<p>Used to failover the primary region to a selected secondary region.</p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "FailoverGlobalReplicationGroupMessage"
      },
      "name": "FailoverGlobalReplicationGroup",
      "output": {
        "resultWrapper": "FailoverGlobalReplicationGroupResult",
        "shape": "FailoverGlobalReplicationGroupResult"
      }
    },
    "IncreaseNodeGroupsInGlobalReplicationGroup": {
      "documentation": "<p>Increase the number of node groups in the Global Datastore</p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "IncreaseNodeGroupsInGlobalReplicationGroupMessage"
      },
      "name": "IncreaseNodeGroupsInGlobalReplicationGroup",
      "output": {
        "resultWrapper": "IncreaseNodeGroupsInGlobalReplicationGroupResult",
        "shape": "IncreaseNodeGroupsInGlobalReplicationGroupResult"
      }
    },
    "IncreaseReplicaCount": {
      "documentation": "<p>Dynamically increases the number of replics in a Redis (cluster mode disabled) replication group or the number of replica nodes in one or more node groups (shards) of a Redis (cluster mode enabled) replication group. This operation is performed with no cluster down time.</p>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "ClusterQuotaForCustomerExceededFault"
        },
        {
          "shape": "NodeGroupsPerReplicationGroupQuotaExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "NoOperationFault"
        },
        {
          "shape": "InvalidKMSKeyFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "IncreaseReplicaCountMessage"
      },
      "name": "IncreaseReplicaCount",
      "output": {
        "resultWrapper": "IncreaseReplicaCountResult",
        "shape": "IncreaseReplicaCountResult"
      }
    },
    "ListAllowedNodeTypeModifications": {
      "documentation": "<p>Lists all available node types that you can scale your Redis cluster's or replication group's current node type.</p> <p>When you use the <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code> operations to scale your cluster or replication group, the value of the <code>CacheNodeType</code> parameter must be one of the node types returned by this operation.</p>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAllowedNodeTypeModificationsMessage"
      },
      "name": "ListAllowedNodeTypeModifications",
      "output": {
        "resultWrapper": "ListAllowedNodeTypeModificationsResult",
        "shape": "AllowedNodeTypeModificationsMessage"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all cost allocation tags currently on the named resource. A <code>cost allocation tag</code> is a key-value pair where the key is case-sensitive and the value is optional. You can use cost allocation tags to categorize and track your AWS costs.</p> <p>If the cluster is not in the <i>available</i> state, <code>ListTagsForResource</code> returns an error.</p> <p>You can have a maximum of 50 cost allocation tags on an ElastiCache resource. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Tagging.html\">Monitoring Costs with Tags</a>.</p>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "SnapshotNotFoundFault"
        },
        {
          "shape": "InvalidARNFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceMessage"
      },
      "name": "ListTagsForResource",
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "TagListMessage"
      }
    },
    "ModifyCacheCluster": {
      "documentation": "<p>Modifies the settings for a cluster. You can use this operation to change one or more cluster configuration parameters by specifying the parameters and the new values.</p>",
      "errors": [
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyCacheClusterMessage"
      },
      "name": "ModifyCacheCluster",
      "output": {
        "resultWrapper": "ModifyCacheClusterResult",
        "shape": "ModifyCacheClusterResult"
      }
    },
    "ModifyCacheParameterGroup": {
      "documentation": "<p>Modifies the parameters of a cache parameter group. You can modify up to 20 parameters in a single request by submitting a list parameter name and value pairs.</p>",
      "errors": [
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyCacheParameterGroupMessage"
      },
      "name": "ModifyCacheParameterGroup",
      "output": {
        "resultWrapper": "ModifyCacheParameterGroupResult",
        "shape": "CacheParameterGroupNameMessage"
      }
    },
    "ModifyCacheSubnetGroup": {
      "documentation": "<p>Modifies an existing cache subnet group.</p>",
      "errors": [
        {
          "shape": "CacheSubnetGroupNotFoundFault"
        },
        {
          "shape": "CacheSubnetQuotaExceededFault"
        },
        {
          "shape": "SubnetInUse"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyCacheSubnetGroupMessage"
      },
      "name": "ModifyCacheSubnetGroup",
      "output": {
        "resultWrapper": "ModifyCacheSubnetGroupResult",
        "shape": "ModifyCacheSubnetGroupResult"
      }
    },
    "ModifyGlobalReplicationGroup": {
      "documentation": "<p>Modifies the settings for a Global Datastore.</p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyGlobalReplicationGroupMessage"
      },
      "name": "ModifyGlobalReplicationGroup",
      "output": {
        "resultWrapper": "ModifyGlobalReplicationGroupResult",
        "shape": "ModifyGlobalReplicationGroupResult"
      }
    },
    "ModifyReplicationGroup": {
      "documentation": "<p>Modifies the settings for a replication group.</p> <p>For Redis (cluster mode enabled) clusters, this operation cannot be used to change a cluster's node type or engine version. For more information, see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/scaling-redis-cluster-mode-enabled.html\">Scaling for Amazon ElastiCache for Redis (cluster mode enabled)</a> in the ElastiCache User Guide</p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_ModifyReplicationGroupShardConfiguration.html\">ModifyReplicationGroupShardConfiguration</a> in the ElastiCache API Reference</p> </li> </ul> <note> <p>This operation is valid for Redis only.</p> </note>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "NodeQuotaForClusterExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidKMSKeyFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyReplicationGroupMessage"
      },
      "name": "ModifyReplicationGroup",
      "output": {
        "resultWrapper": "ModifyReplicationGroupResult",
        "shape": "ModifyReplicationGroupResult"
      }
    },
    "ModifyReplicationGroupShardConfiguration": {
      "documentation": "<p>Modifies a replication group's shards (node groups) by allowing you to add shards, remove shards, or rebalance the keyspaces among exisiting shards.</p>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InsufficientCacheClusterCapacityFault"
        },
        {
          "shape": "NodeGroupsPerReplicationGroupQuotaExceededFault"
        },
        {
          "shape": "NodeQuotaForCustomerExceededFault"
        },
        {
          "shape": "InvalidKMSKeyFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyReplicationGroupShardConfigurationMessage"
      },
      "name": "ModifyReplicationGroupShardConfiguration",
      "output": {
        "resultWrapper": "ModifyReplicationGroupShardConfigurationResult",
        "shape": "ModifyReplicationGroupShardConfigurationResult"
      }
    },
    "PurchaseReservedCacheNodesOffering": {
      "documentation": "<p>Allows you to purchase a reserved cache node offering.</p>",
      "errors": [
        {
          "shape": "ReservedCacheNodesOfferingNotFoundFault"
        },
        {
          "shape": "ReservedCacheNodeAlreadyExistsFault"
        },
        {
          "shape": "ReservedCacheNodeQuotaExceededFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PurchaseReservedCacheNodesOfferingMessage"
      },
      "name": "PurchaseReservedCacheNodesOffering",
      "output": {
        "resultWrapper": "PurchaseReservedCacheNodesOfferingResult",
        "shape": "PurchaseReservedCacheNodesOfferingResult"
      }
    },
    "RebalanceSlotsInGlobalReplicationGroup": {
      "documentation": "<p>Redistribute slots to ensure unifirom distribution across existing shards in the cluster.</p>",
      "errors": [
        {
          "shape": "GlobalReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebalanceSlotsInGlobalReplicationGroupMessage"
      },
      "name": "RebalanceSlotsInGlobalReplicationGroup",
      "output": {
        "resultWrapper": "RebalanceSlotsInGlobalReplicationGroupResult",
        "shape": "RebalanceSlotsInGlobalReplicationGroupResult"
      }
    },
    "RebootCacheCluster": {
      "documentation": "<p>Reboots some, or all, of the cache nodes within a provisioned cluster. This operation applies any modified cache parameter groups to the cluster. The reboot operation takes place as soon as possible, and results in a momentary outage to the cluster. During the reboot, the cluster status is set to REBOOTING.</p> <p>The reboot causes the contents of the cache (for each cache node being rebooted) to be lost.</p> <p>When the reboot is complete, a cluster event is created.</p> <p>Rebooting a cluster is currently supported on Memcached and Redis (cluster mode disabled) clusters. Rebooting is not supported on Redis (cluster mode enabled) clusters.</p> <p>If you make changes to parameters that require a Redis (cluster mode enabled) cluster reboot for the changes to be applied, see <a href=\"http://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Clusters.Rebooting.html\">Rebooting a Cluster</a> for an alternate process.</p>",
      "errors": [
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "CacheClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootCacheClusterMessage"
      },
      "name": "RebootCacheCluster",
      "output": {
        "resultWrapper": "RebootCacheClusterResult",
        "shape": "RebootCacheClusterResult"
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p>Removes the tags identified by the <code>TagKeys</code> list from the named resource.</p>",
      "errors": [
        {
          "shape": "CacheClusterNotFoundFault"
        },
        {
          "shape": "SnapshotNotFoundFault"
        },
        {
          "shape": "InvalidARNFault"
        },
        {
          "shape": "TagNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromResourceMessage"
      },
      "name": "RemoveTagsFromResource",
      "output": {
        "resultWrapper": "RemoveTagsFromResourceResult",
        "shape": "TagListMessage"
      }
    },
    "ResetCacheParameterGroup": {
      "documentation": "<p>Modifies the parameters of a cache parameter group to the engine or system default value. You can reset specific parameters by submitting a list of parameter names. To reset the entire cache parameter group, specify the <code>ResetAllParameters</code> and <code>CacheParameterGroupName</code> parameters.</p>",
      "errors": [
        {
          "shape": "InvalidCacheParameterGroupStateFault"
        },
        {
          "shape": "CacheParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "InvalidGlobalReplicationGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetCacheParameterGroupMessage"
      },
      "name": "ResetCacheParameterGroup",
      "output": {
        "resultWrapper": "ResetCacheParameterGroupResult",
        "shape": "CacheParameterGroupNameMessage"
      }
    },
    "RevokeCacheSecurityGroupIngress": {
      "documentation": "<p>Revokes ingress from a cache security group. Use this operation to disallow access from an Amazon EC2 security group that had been previously authorized.</p>",
      "errors": [
        {
          "shape": "CacheSecurityGroupNotFoundFault"
        },
        {
          "shape": "AuthorizationNotFoundFault"
        },
        {
          "shape": "InvalidCacheSecurityGroupStateFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeCacheSecurityGroupIngressMessage"
      },
      "name": "RevokeCacheSecurityGroupIngress",
      "output": {
        "resultWrapper": "RevokeCacheSecurityGroupIngressResult",
        "shape": "RevokeCacheSecurityGroupIngressResult"
      }
    },
    "StartMigration": {
      "documentation": "<p>Start the migration of data.</p>",
      "errors": [
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "ReplicationGroupAlreadyUnderMigrationFault"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartMigrationMessage"
      },
      "name": "StartMigration",
      "output": {
        "resultWrapper": "StartMigrationResult",
        "shape": "StartMigrationResponse"
      }
    },
    "TestFailover": {
      "documentation": "<p>Represents the input of a <code>TestFailover</code> operation which test automatic failover on a specified node group (called shard in the console) in a replication group (called cluster in the console).</p> <p class=\"title\"> <b>Note the following</b> </p> <ul> <li> <p>A customer can use this operation to test automatic failover on up to 5 shards (called node groups in the ElastiCache API and AWS CLI) in any rolling 24-hour period.</p> </li> <li> <p>If calling this operation on shards in different clusters (called replication groups in the API and CLI), the calls can be made concurrently.</p> <p> </p> </li> <li> <p>If calling this operation multiple times on different shards in the same Redis (cluster mode enabled) replication group, the first node replacement must complete before a subsequent call can be made.</p> </li> <li> <p>To determine whether the node replacement is complete you can check Events using the Amazon ElastiCache console, the AWS CLI, or the ElastiCache API. Look for the following automatic failover related events, listed here in order of occurrance:</p> <ol> <li> <p>Replication group message: <code>Test Failover API called for node group &lt;node-group-id&gt;</code> </p> </li> <li> <p>Cache cluster message: <code>Failover from master node &lt;primary-node-id&gt; to replica node &lt;node-id&gt; completed</code> </p> </li> <li> <p>Replication group message: <code>Failover from master node &lt;primary-node-id&gt; to replica node &lt;node-id&gt; completed</code> </p> </li> <li> <p>Cache cluster message: <code>Recovering cache nodes &lt;node-id&gt;</code> </p> </li> <li> <p>Cache cluster message: <code>Finished recovery for cache nodes &lt;node-id&gt;</code> </p> </li> </ol> <p>For more information see:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/ECEvents.Viewing.html\">Viewing ElastiCache Events</a> in the <i>ElastiCache User Guide</i> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/APIReference/API_DescribeEvents.html\">DescribeEvents</a> in the ElastiCache API Reference</p> </li> </ul> </li> </ul> <p>Also see, <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/AutoFailover.html#auto-failover-test\">Testing Multi-AZ with Automatic Failover</a> in the <i>ElastiCache User Guide</i>.</p>",
      "errors": [
        {
          "shape": "APICallRateForCustomerExceededFault"
        },
        {
          "shape": "InvalidCacheClusterStateFault"
        },
        {
          "shape": "InvalidReplicationGroupStateFault"
        },
        {
          "shape": "NodeGroupNotFoundFault"
        },
        {
          "shape": "ReplicationGroupNotFoundFault"
        },
        {
          "shape": "TestFailoverNotAvailableFault"
        },
        {
          "shape": "InvalidKMSKeyFault"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestFailoverMessage"
      },
      "name": "TestFailover",
      "output": {
        "resultWrapper": "TestFailoverResult",
        "shape": "TestFailoverResult"
      }
    }
  },
  "shapes": {
    "APICallRateForCustomerExceededFault": {
      "documentation": "<p>The customer has exceeded the allowed rate of API calls.</p>",
      "error": {
        "code": "APICallRateForCustomerExceeded",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AZMode": {
      "enum": [
        "single-az",
        "cross-az"
      ],
      "type": "string"
    },
    "AddTagsToResourceMessage": {
      "documentation": "<p>Represents the input of an AddTagsToResource operation.</p>",
      "members": {
        "ResourceName": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to which the tags are to be added, for example <code>arn:aws:elasticache:us-west-2:0123456789:cluster:myCluster</code> or <code>arn:aws:elasticache:us-west-2:0123456789:snapshot:mySnapshot</code>. ElastiCache resources are <i>cluster</i> and <i>snapshot</i>.</p> <p>For more information about ARNs, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>A list of cost allocation tags to be added to this resource. A tag is a key-value pair. A tag key must be accompanied by a tag value.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceName",
        "Tags"
      ],
      "type": "structure"
    },
    "AllowedNodeGroupId": {
      "max": 4,
      "min": 1,
      "pattern": "\\d+",
      "type": "string"
    },
    "AllowedNodeTypeModificationsMessage": {
      "documentation": "<p>Represents the allowed node types you can use to modify your cluster or replication group.</p>",
      "members": {
        "ScaleDownModifications": {
          "documentation": "<p>A string list, each element of which specifies a cache node type which you can use to scale your cluster or replication group. When scaling down a Redis cluster or replication group using ModifyCacheCluster or ModifyReplicationGroup, use a value from this list for the CacheNodeType parameter. </p>",
          "shape": "NodeTypeList"
        },
        "ScaleUpModifications": {
          "documentation": "<p>A string list, each element of which specifies a cache node type which you can use to scale your cluster or replication group.</p> <p>When scaling up a Redis cluster or replication group using <code>ModifyCacheCluster</code> or <code>ModifyReplicationGroup</code>, use a value from this list for the <code>CacheNodeType</code> parameter.</p>",
          "shape": "NodeTypeList"
        }
      },
      "type": "structure"
    },
    "AuthTokenUpdateStatus": {
      "enum": [
        "SETTING",
        "ROTATING"
      ],
      "type": "string"
    },
    "AuthTokenUpdateStrategyType": {
      "enum": [
        "SET",
        "ROTATE"
      ],
      "type": "string"
    },
    "AuthorizationAlreadyExistsFault": {
      "documentation": "<p>The specified Amazon EC2 security group is already authorized for the specified cache security group.</p>",
      "error": {
        "code": "AuthorizationAlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AuthorizationNotFoundFault": {
      "documentation": "<p>The specified Amazon EC2 security group is not authorized for the specified cache security group.</p>",
      "error": {
        "code": "AuthorizationNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AuthorizeCacheSecurityGroupIngressMessage": {
      "documentation": "<p>Represents the input of an AuthorizeCacheSecurityGroupIngress operation.</p>",
      "members": {
        "CacheSecurityGroupName": {
          "documentation": "<p>The cache security group that allows network ingress.</p>",
          "shape": "String"
        },
        "EC2SecurityGroupName": {
          "documentation": "<p>The Amazon EC2 security group to be authorized for ingress to the cache security group.</p>",
          "shape": "String"
        },
        "EC2SecurityGroupOwnerId": {
          "documentation": "<p>The AWS account number of the Amazon EC2 security group owner. Note that this is not the same thing as an AWS access key ID - you must provide a valid AWS account number for this parameter.</p>",
          "shape": "String"
        }
      },
      "required": [
        "CacheSecurityGroupName",
        "EC2SecurityGroupName",
        "EC2SecurityGroupOwnerId"
      ],
      "type": "structure"
    },
    "AuthorizeCacheSecurityGroupIngressResult": {
      "members": {
        "CacheSecurityGroup": {
          "shape": "CacheSecurityGroup"
        }
      },
      "type": "structure"
    },
    "AutomaticFailoverStatus": {
      "enum": [
        "enabled",
        "disabled",
        "enabling",
        "disabling"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "documentation": "<p>Describes an Availability Zone in which the cluster is launched.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "AvailabilityZonesList": {
      "member": {
        "locationName": "AvailabilityZone",
        "shape": "String"
      },
      "type": "list"
    },
    "AwsQueryErrorMessage": {
      "type": "string"
    },
    "BatchApplyUpdateActionMessage": {
      "members": {
        "CacheClusterIds": {
          "documentation": "<p>The cache cluster IDs</p>",
          "shape": "CacheClusterIdList"
        },
        "ReplicationGroupIds": {
          "documentation": "<p>The replication group IDs</p>",
          "shape": "ReplicationGroupIdList"
        },
        "ServiceUpdateName": {
          "documentation": "<p>The unique ID of the service update</p>",
          "shape": "String"
        }
      },
      "required": [
        "ServiceUpdateName"
      ],
      "type": "structure"
    },
    "BatchStopUpdateActionMessage": {
      "members": {
        "CacheClusterIds": {
          "documentation": "<p>The cache cluster IDs</p>",
          "shape": "CacheClusterIdList"
        },
        "ReplicationGroupIds": {
          "documentation": "<p>The replication group IDs</p>",
          "shape": "ReplicationGroupIdList"
        },
        "ServiceUpdateName": {
          "documentation": "<p>The unique ID of the service update</p>",
          "shape": "String"
        }
      },
      "required": [
        "ServiceUpdateName"
      ],
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanOptional": {
      "type": "boolean"
    },
    "CacheCluster": {
      "documentation": "<p>Contains all of the attributes of a specific cluster.</p>",
      "members": {
        "AtRestEncryptionEnabled": {
          "documentation": "<p>A flag that enables encryption at-rest when set to <code>true</code>.</p> <p>You cannot modify the value of <code>AtRestEncryptionEnabled</code> after the cluster is created. To enable at-rest encryption on a cluster you must set <code>AtRestEncryptionEnabled</code> to <code>true</code> when you create a cluster.</p> <p> <b>Required:</b> Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code>, <code>4.x</code> or later.</p> <p>Default: <code>false</code> </p>",
          "shape": "BooleanOptional"
        },
        "AuthTokenEnabled": {
          "documentation": "<p>A flag that enables using an <code>AuthToken</code> (password) when issuing Redis commands.</p> <p>Default: <code>false</code> </p>",
          "shape": "BooleanOptional"
        },
        "AuthTokenLastModifiedDate": {
          "documentation": "<p>The date the auth token was last modified</p>",
          "shape": "TStamp"
        },
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>This parameter is currently disabled.</p>",
          "shape": "Boolean"
        },
        "CacheClusterCreateTime": {
          "documentation": "<p>The date and time when the cluster was created.</p>",
          "shape": "TStamp"
        },
        "CacheClusterId": {
          "documentation": "<p>The user-supplied identifier of the cluster. This identifier is a unique key that identifies a cluster.</p>",
          "shape": "String"
        },
        "CacheClusterStatus": {
          "documentation": "<p>The current state of this cluster, one of the following values: <code>available</code>, <code>creating</code>, <code>deleted</code>, <code>deleting</code>, <code>incompatible-network</code>, <code>modifying</code>, <code>rebooting cluster nodes</code>, <code>restore-failed</code>, or <code>snapshotting</code>.</p>",
          "shape": "String"
        },
        "CacheNodeType": {
          "documentation": "<p>The name of the compute and memory capacity node type for the cluster.</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>M5 node types:</b> <code>cache.m5.large</code>, <code>cache.m5.xlarge</code>, <code>cache.m5.2xlarge</code>, <code>cache.m5.4xlarge</code>, <code>cache.m5.12xlarge</code>, <code>cache.m5.24xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> <p> <b>T3 node types:</b> <code>cache.t3.micro</code>, <code>cache.t3.small</code>, <code>cache.t3.medium</code> </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R5 node types:</b> <code>cache.r5.large</code>, <code>cache.r5.xlarge</code>, <code>cache.r5.2xlarge</code>, <code>cache.r5.4xlarge</code>, <code>cache.r5.12xlarge</code>, <code>cache.r5.24xlarge</code> </p> <p> <b>R4 node types:</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Additional node type info</b> </p> <ul> <li> <p>All current generation instance types are created in Amazon VPC by default.</p> </li> <li> <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p> </li> <li> <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p> </li> <li> <p>Redis configuration variables <code>appendonly</code> and <code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p> </li> </ul>",
          "shape": "String"
        },
        "CacheNodes": {
          "documentation": "<p>A list of cache nodes that are members of the cluster.</p>",
          "shape": "CacheNodeList"
        },
        "CacheParameterGroup": {
          "documentation": "<p>Status of the cache parameter group.</p>",
          "shape": "CacheParameterGroupStatus"
        },
        "CacheSecurityGroups": {
          "documentation": "<p>A list of cache security group elements, composed of name and status sub-elements.</p>",
          "shape": "CacheSecurityGroupMembershipList"
        },
        "CacheSubnetGroupName": {
          "documentation": "<p>The name of the cache subnet group associated with the cluster.</p>",
          "shape": "String"
        },
        "ClientDownloadLandingPage": {
          "documentation": "<p>The URL of the web page where you can download the latest ElastiCache client library.</p>",
          "shape": "String"
        },
        "ConfigurationEndpoint": {
          "documentation": "<p>Represents a Memcached cluster endpoint which, if Automatic Discovery is enabled on the cluster, can be used by an application to connect to any node in the cluster. The configuration endpoint will always have <code>.cfg</code> in it.</p> <p>Example: <code>mem-3.9dvc4r<u>.cfg</u>.usw2.cache.amazonaws.com:11211</code> </p>",
          "shape": "Endpoint"
        },
        "Engine": {
          "documentation": "<p>The name of the cache engine (<code>memcached</code> or <code>redis</code>) to be used for this cluster.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>The version of the cache engine that is used in this cluster.</p>",
          "shape": "String"
        },
        "NotificationConfiguration": {
          "documentation": "<p>Describes a notification topic and its status. Notification topics are used for publishing ElastiCache events to subscribers using Amazon Simple Notification Service (SNS). </p>",
          "shape": "NotificationConfiguration"
        },
        "NumCacheNodes": {
          "documentation": "<p>The number of cache nodes in the cluster.</p> <p>For clusters running Redis, this value must be 1. For clusters running Memcached, this value must be between 1 and 20.</p>",
          "shape": "IntegerOptional"
        },
        "PendingModifiedValues": {
          "shape": "PendingModifiedValues"
        },
        "PreferredAvailabilityZone": {
          "documentation": "<p>The name of the Availability Zone in which the cluster is located or \"Multiple\" if the cache nodes are located in different Availability Zones.</p>",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>Specifies the weekly time range during which maintenance on the cluster is performed. It is specified as a range in the format ddd:hh24:mi-ddd:hh24:mi (24H Clock UTC). The minimum maintenance window is a 60 minute period.</p> <p>Valid values for <code>ddd</code> are:</p> <ul> <li> <p> <code>sun</code> </p> </li> <li> <p> <code>mon</code> </p> </li> <li> <p> <code>tue</code> </p> </li> <li> <p> <code>wed</code> </p> </li> <li> <p> <code>thu</code> </p> </li> <li> <p> <code>fri</code> </p> </li> <li> <p> <code>sat</code> </p> </li> </ul> <p>Example: <code>sun:23:00-mon:01:30</code> </p>",
          "shape": "String"
        },
        "ReplicationGroupId": {
          "documentation": "<p>The replication group to which this cluster belongs. If this field is empty, the cluster is not associated with any replication group.</p>",
          "shape": "String"
        },
        "SecurityGroups": {
          "documentation": "<p>A list of VPC Security Groups associated with the cluster.</p>",
          "shape": "SecurityGroupMembershipList"
        },
        "SnapshotRetentionLimit": {
          "documentation": "<p>The number of days for which ElastiCache retains automatic cluster snapshots before deleting them. For example, if you set <code>SnapshotRetentionLimit</code> to 5, a snapshot that was taken today is retained for 5 days before being deleted.</p> <important> <p> If the value of SnapshotRetentionLimit is set to zero (0), backups are turned off.</p> </important>",
          "shape": "IntegerOptional"
        },
        "SnapshotWindow": {
          "documentation": "<p>The daily time range (in UTC) during which ElastiCache begins taking a daily snapshot of your cluster.</p> <p>Example: <code>05:00-09:00</code> </p>",
          "shape": "String"
        },
        "TransitEncryptionEnabled": {
          "documentation": "<p>A flag that enables in-transit encryption when set to <code>true</code>.</p> <p>You cannot modify the value of <code>TransitEncryptionEnabled</code> after the cluster is created. To enable in-transit encryption on a cluster you must set <code>TransitEncryptionEnabled</code> to <code>true</code> when you create a cluster.</p> <p> <b>Required:</b> Only available when creating a replication group in an Amazon VPC using redis version <code>3.2.6</code>, <code>4.x</code> or later.</p> <p>Default: <code>false</code> </p>",
          "shape": "BooleanOptional"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "CacheClusterAlreadyExistsFault": {
      "documentation": "<p>You already have a cluster with the given identifier.</p>",
      "error": {
        "code": "CacheClusterAlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CacheClusterIdList": {
      "max": 20,
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "CacheClusterList": {
      "member": {
        "locationName": "CacheCluster",
        "shape": "CacheCluster"
      },
      "type": "list"
    },
    "CacheClusterMessage": {
      "documentation": "<p>Represents the output of a <code>DescribeCacheClusters</code> operation.</p>",
      "members": {
        "CacheClusters": {
          "documentation": "<p>A list of clusters. Each item in the list contains detailed information about one cluster.</p>",
          "shape": "CacheClusterList"
        },
        "Marker": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheClusterNotFoundFault": {
      "documentation": "<p>The requested cluster ID does not refer to an existing cluster.</p>",
      "error": {
        "code": "CacheClusterNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CacheEngineVersion": {
      "documentation": "<p>Provides all of the details about a particular cache engine version.</p>",
      "members": {
        "CacheEngineDescription": {
          "documentation": "<p>The description of the cache engine.</p>",
          "shape": "String"
        },
        "CacheEngineVersionDescription": {
          "documentation": "<p>The description of the cache engine version.</p>",
          "shape": "String"
        },
        "CacheParameterGroupFamily": {
          "documentation": "<p>The name of the cache parameter group family associated with this cache engine.</p> <p>Valid values are: <code>memcached1.4</code> | <code>memcached1.5</code> | <code>redis2.6</code> | <code>redis2.8</code> | <code>redis3.2</code> | <code>redis4.0</code> | <code>redis5.0</code> | </p>",
          "shape": "String"
        },
        "Engine": {
          "documentation": "<p>The name of the cache engine.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>The version number of the cache engine.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheEngineVersionList": {
      "member": {
        "locationName": "CacheEngineVersion",
        "shape": "CacheEngineVersion"
      },
      "type": "list"
    },
    "CacheEngineVersionMessage": {
      "documentation": "<p>Represents the output of a <a>DescribeCacheEngineVersions</a> operation.</p>",
      "members": {
        "CacheEngineVersions": {
          "documentation": "<p>A list of cache engine version details. Each element in the list contains detailed information about one cache engine version.</p>",
          "shape": "CacheEngineVersionList"
        },
        "Marker": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheNode": {
      "documentation": "<p>Represents an individual cache node within a cluster. Each cache node runs its own instance of the cluster's protocol-compliant caching software - either Memcached or Redis.</p> <p>The following node types are supported by ElastiCache. Generally speaking, the current generation types provide more memory and computational power at lower cost when compared to their equivalent previous generation counterparts.</p> <ul> <li> <p>General purpose:</p> <ul> <li> <p>Current generation: </p> <p> <b>M5 node types:</b> <code>cache.m5.large</code>, <code>cache.m5.xlarge</code>, <code>cache.m5.2xlarge</code>, <code>cache.m5.4xlarge</code>, <code>cache.m5.12xlarge</code>, <code>cache.m5.24xlarge</code> </p> <p> <b>M4 node types:</b> <code>cache.m4.large</code>, <code>cache.m4.xlarge</code>, <code>cache.m4.2xlarge</code>, <code>cache.m4.4xlarge</code>, <code>cache.m4.10xlarge</code> </p> <p> <b>T3 node types:</b> <code>cache.t3.micro</code>, <code>cache.t3.small</code>, <code>cache.t3.medium</code> </p> <p> <b>T2 node types:</b> <code>cache.t2.micro</code>, <code>cache.t2.small</code>, <code>cache.t2.medium</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>T1 node types:</b> <code>cache.t1.micro</code> </p> <p> <b>M1 node types:</b> <code>cache.m1.small</code>, <code>cache.m1.medium</code>, <code>cache.m1.large</code>, <code>cache.m1.xlarge</code> </p> <p> <b>M3 node types:</b> <code>cache.m3.medium</code>, <code>cache.m3.large</code>, <code>cache.m3.xlarge</code>, <code>cache.m3.2xlarge</code> </p> </li> </ul> </li> <li> <p>Compute optimized:</p> <ul> <li> <p>Previous generation: (not recommended)</p> <p> <b>C1 node types:</b> <code>cache.c1.xlarge</code> </p> </li> </ul> </li> <li> <p>Memory optimized:</p> <ul> <li> <p>Current generation: </p> <p> <b>R5 node types:</b> <code>cache.r5.large</code>, <code>cache.r5.xlarge</code>, <code>cache.r5.2xlarge</code>, <code>cache.r5.4xlarge</code>, <code>cache.r5.12xlarge</code>, <code>cache.r5.24xlarge</code> </p> <p> <b>R4 node types:</b> <code>cache.r4.large</code>, <code>cache.r4.xlarge</code>, <code>cache.r4.2xlarge</code>, <code>cache.r4.4xlarge</code>, <code>cache.r4.8xlarge</code>, <code>cache.r4.16xlarge</code> </p> </li> <li> <p>Previous generation: (not recommended)</p> <p> <b>M2 node types:</b> <code>cache.m2.xlarge</code>, <code>cache.m2.2xlarge</code>, <code>cache.m2.4xlarge</code> </p> <p> <b>R3 node types:</b> <code>cache.r3.large</code>, <code>cache.r3.xlarge</code>, <code>cache.r3.2xlarge</code>, <code>cache.r3.4xlarge</code>, <code>cache.r3.8xlarge</code> </p> </li> </ul> </li> </ul> <p> <b>Additional node type info</b> </p> <ul> <li> <p>All current generation instance types are created in Amazon VPC by default.</p> </li> <li> <p>Redis append-only files (AOF) are not supported for T1 or T2 instances.</p> </li> <li> <p>Redis Multi-AZ with automatic failover is not supported on T1 instances.</p> </li> <li> <p>Redis configuration variables <code>appendonly</code> and <code>appendfsync</code> are not supported on Redis version 2.8.22 and later.</p> </li> </ul>",
      "members": {
        "CacheNodeCreateTime": {
          "documentation": "<p>The date and time when the cache node was created.</p>",
          "shape": "TStamp"
        },
        "CacheNodeId": {
          "documentation": "<p>The cache node identifier. A node ID is a numeric identifier (0001, 0002, etc.). The combination of cluster ID and node ID uniquely identifies every cache node used in a customer's AWS account.</p>",
          "shape": "String"
        },
        "CacheNodeStatus": {
          "documentation": "<p>The current state of this cache node, one of the following values: <code>available</code>, <code>creating</code>, <code>rebooting</code>, or <code>deleting</code>.</p>",
          "shape": "String"
        },
        "CustomerAvailabilityZone": {
          "documentation": "<p>The Availability Zone where this node was created and now resides.</p>",
          "shape": "String"
        },
        "Endpoint": {
          "documentation": "<p>The hostname for connecting to this cache node.</p>",
          "shape": "Endpoint"
        },
        "ParameterGroupStatus": {
          "documentation": "<p>The status of the parameter group applied to this cache node.</p>",
          "shape": "String"
        },
        "SourceCacheNodeId": {
          "documentation": "<p>The ID of the primary node to which this read replica node is synchronized. If this field is empty, this node is not associated with a primary cluster.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheNodeIdsList": {
      "member": {
        "locationName": "CacheNodeId",
        "shape": "String"
      },
      "type": "list"
    },
    "CacheNodeList": {
      "member": {
        "locationName": "CacheNode",
        "shape": "CacheNode"
      },
      "type": "list"
    },
    "CacheNodeTypeSpecificParameter": {
      "documentation": "<p>A parameter that has a different value for each cache node type it is applied to. For example, in a Redis cluster, a <code>cache.m1.large</code> cache node type would have a larger <code>maxmemory</code> value than a <code>cache.m1.small</code> type.</p>",
      "members": {
        "AllowedValues": {
          "documentation": "<p>The valid range of values for the parameter.</p>",
          "shape": "String"
        },
        "CacheNodeTypeSpecificValues": {
          "documentation": "<p>A list of cache node types and their corresponding values for this parameter.</p>",
          "shape": "CacheNodeTypeSpecificValueList"
        },
        "ChangeType": {
          "documentation": "<p>Indicates whether a change to the parameter is applied immediately or requires a reboot for the change to be applied. You can force a reboot or wait until the next maintenance window's reboot. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Clusters.Rebooting.html\">Rebooting a Cluster</a>.</p>",
          "shape": "ChangeType"
        },
        "DataType": {
          "documentation": "<p>The valid data type for the parameter.</p>",
          "shape": "String"
        },
        "Description": {
          "documentation": "<p>A description of the parameter.</p>",
          "shape": "String"
        },
        "IsModifiable": {
          "documentation": "<p>Indicates whether (<code>true</code>) or not (<code>false</code>) the parameter can be modified. Some parameters have security or operational implications that prevent them from being changed.</p>",
          "shape": "Boolean"
        },
        "MinimumEngineVersion": {
          "documentation": "<p>The earliest cache engine version to which the parameter can apply.</p>",
          "shape": "String"
        },
        "ParameterName": {
          "documentation": "<p>The name of the parameter.</p>",
          "shape": "String"
        },
        "Source": {
          "documentation": "<p>The source of the parameter value.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheNodeTypeSpecificParametersList": {
      "member": {
        "locationName": "CacheNodeTypeSpecificParameter",
        "shape": "CacheNodeTypeSpecificParameter"
      },
      "type": "list"
    },
    "CacheNodeTypeSpecificValue": {
      "documentation": "<p>A value that applies only to a certain cache node type.</p>",
      "members": {
        "CacheNodeType": {
          "documentation": "<p>The cache node type for which this value applies.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>The value for the cache node type.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CacheNodeTypeSpecificValueList": {
      "member": {
        "locationName": "CacheNodeTypeSpecificValue",
        "shape": "CacheNodeTypeSpecificValue"
      },
      "type": "list"
    },
    "CacheNodeUpdateStatus": {
      "documentation": "<p>The status of the service update on the cache node</p>",
      "members": {
        "CacheNodeId": {
          "documentation": "<p>The node ID of the cache cluster</p>",
          "shape": "String"
        },
        "NodeDeletionDate": {
          "documentation": "<p>The deletion date of the node</p>",
          "shape": "TStamp"
        },
        "NodeUpdateEndDate": {
          "documentation": "<p>The end date of the update for a node</p>",
          "shape": "TStamp"
        },
        "NodeUpdateInitiatedBy": {
          "documentation": "<p>Reflects whether the update was initiated by the customer or automatically applied</p>",
          "shape": "NodeUpdateInitiatedBy"
        },
        "NodeUpdateInitiatedDate": {
          "documentation": "<p>The date when the update is triggered</p>",
          "shape": "TStamp"
        },
        "NodeUpdateStartDate": {
          "documentation": "<p>The start date of the update for a node</p>",
          "shape": "TStamp"
        },
        "NodeUpdateStatus": {
          "documentation": "<p>The update status of the node</p>",
          "shape": "NodeUpdateStatus"
        },
        "NodeUpdateStatusModifiedDate": {
          "documentation": "<p>The date when the NodeUpdateStatus was last modified&gt;</p>",
          "shape": "TStamp"
        }
      },
      "type": "structure"
    },
    "CacheNodeUpdateStatusList": {
      "member": {
        "locationName": "CacheNodeUpdateStatus",
        "shape": "CacheNodeUpdateStatus"
      },
      "type": "list"
    },
    "CacheParameterGroup": {
      "documentation": "<p>Represents the output of a <code>CreateCacheParameterGroup</code> operation.</p>",
      "members": {
        "CacheParameterGroupFamily": {
          "documentation": "<p>The name of the cache parameter group family that this cache parameter group is compatible with.</p> <p>Valid values are: <code>memcached1.4</code> | <code>memcached1.5</code> | <code>redis2.6</code> | <code>redis2.8</code> | <code>redis3.2</code> | <code>redis4.0</code> | <code>redis5.0</code> | </p>",
          "shape": "String"
        },
        "CacheParameterGroupName": {
          "documentation": "<p>The name of the cache parameter group.</p>",
          "shape": "String"
        },
        "Description": {
[...]
