{
  "documentation": "<fullname>AWS CodeStar</fullname> <p>This is the API reference for AWS CodeStar. This reference provides descriptions of the operations and data types for the AWS CodeStar API along with usage examples.</p> <p>You can use the AWS CodeStar API to work with:</p> <p>Projects and their resources, by calling the following:</p> <ul> <li> <p> <code>DeleteProject</code>, which deletes a project.</p> </li> <li> <p> <code>DescribeProject</code>, which lists the attributes of a project.</p> </li> <li> <p> <code>ListProjects</code>, which lists all projects associated with your AWS account.</p> </li> <li> <p> <code>ListResources</code>, which lists the resources associated with a project.</p> </li> <li> <p> <code>ListTagsForProject</code>, which lists the tags associated with a project.</p> </li> <li> <p> <code>TagProject</code>, which adds tags to a project.</p> </li> <li> <p> <code>UntagProject</code>, which removes tags from a project.</p> </li> <li> <p> <code>UpdateProject</code>, which updates the attributes of a project.</p> </li> </ul> <p>Teams and team members, by calling the following:</p> <ul> <li> <p> <code>AssociateTeamMember</code>, which adds an IAM user to the team for a project.</p> </li> <li> <p> <code>DisassociateTeamMember</code>, which removes an IAM user from the team for a project.</p> </li> <li> <p> <code>ListTeamMembers</code>, which lists all the IAM users in the team for a project, including their roles and attributes.</p> </li> <li> <p> <code>UpdateTeamMember</code>, which updates a team member's attributes in a project.</p> </li> </ul> <p>Users, by calling the following:</p> <ul> <li> <p> <code>CreateUserProfile</code>, which creates a user profile that contains data associated with the user across all projects.</p> </li> <li> <p> <code>DeleteUserProfile</code>, which deletes all user profile information across all projects.</p> </li> <li> <p> <code>DescribeUserProfile</code>, which describes the profile of a user.</p> </li> <li> <p> <code>ListUserProfiles</code>, which lists all user profiles.</p> </li> <li> <p> <code>UpdateUserProfile</code>, which updates the profile for a user.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2017-04-19",
    "endpointPrefix": "codestar",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CodeStar",
    "serviceFullName": "AWS CodeStar",
    "serviceId": "CodeStar",
    "signatureVersion": "v4",
    "targetPrefix": "CodeStar_20170419",
    "uid": "codestar-2017-04-19"
  },
  "operations": {
    "AssociateTeamMember": {
      "documentation": "<p>Adds an IAM user to the team for an AWS CodeStar project.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "TeamMemberAlreadyAssociatedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidServiceRoleException"
        },
        {
          "shape": "ProjectConfigurationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTeamMemberRequest"
      },
      "name": "AssociateTeamMember",
      "output": {
        "shape": "AssociateTeamMemberResult"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates a project, including project resources. This action creates a project based on a submitted project request. A set of source code files and a toolchain template file can be included with the project request. If these are not provided, an empty project is created.</p>",
      "errors": [
        {
          "shape": "ProjectAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ProjectCreationFailedException"
        },
        {
          "shape": "InvalidServiceRoleException"
        },
        {
          "shape": "ProjectConfigurationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProjectRequest"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectResult"
      }
    },
    "CreateUserProfile": {
      "documentation": "<p>Creates a profile for a user that includes user preferences, such as the display name and email address assocciated with the user, in AWS CodeStar. The user profile is not project-specific. Information in the user profile is displayed wherever the user's information appears to other users in AWS CodeStar.</p>",
      "errors": [
        {
          "shape": "UserProfileAlreadyExistsException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserProfileRequest"
      },
      "name": "CreateUserProfile",
      "output": {
        "shape": "CreateUserProfileResult"
      }
    },
    "DeleteProject": {
      "documentation": "<p>Deletes a project, including project resources. Does not delete users associated with the project, but does delete the IAM roles that allowed access to the project.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidServiceRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProjectRequest"
      },
      "name": "DeleteProject",
      "output": {
        "shape": "DeleteProjectResult"
      }
    },
    "DeleteUserProfile": {
      "documentation": "<p>Deletes a user profile in AWS CodeStar, including all personal preference data associated with that profile, such as display name and email address. It does not delete the history of that user, for example the history of commits made by that user.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserProfileRequest"
      },
      "name": "DeleteUserProfile",
      "output": {
        "shape": "DeleteUserProfileResult"
      }
    },
    "DescribeProject": {
      "documentation": "<p>Describes a project and its resources.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidServiceRoleException"
        },
        {
          "shape": "ProjectConfigurationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProjectRequest"
      },
      "name": "DescribeProject",
      "output": {
        "shape": "DescribeProjectResult"
      }
    },
    "DescribeUserProfile": {
      "documentation": "<p>Describes a user in AWS CodeStar and the user attributes across all projects.</p>",
      "errors": [
        {
          "shape": "UserProfileNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserProfileRequest"
      },
      "name": "DescribeUserProfile",
      "output": {
        "shape": "DescribeUserProfileResult"
      }
    },
    "DisassociateTeamMember": {
      "documentation": "<p>Removes a user from a project. Removing a user from a project also removes the IAM policies from that user that allowed access to the project and its resources. Disassociating a team member does not remove that user's profile from AWS CodeStar. It does not remove the user from IAM.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidServiceRoleException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateTeamMemberRequest"
      },
      "name": "DisassociateTeamMember",
      "output": {
        "shape": "DisassociateTeamMemberResult"
      }
    },
    "ListProjects": {
      "documentation": "<p>Lists all projects in AWS CodeStar associated with your AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProjectsRequest"
      },
      "name": "ListProjects",
      "output": {
        "shape": "ListProjectsResult"
      }
    },
    "ListResources": {
      "documentation": "<p>Lists resources associated with a project in AWS CodeStar.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesRequest"
      },
      "name": "ListResources",
      "output": {
        "shape": "ListResourcesResult"
      }
    },
    "ListTagsForProject": {
      "documentation": "<p>Gets the tags for a project.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForProjectRequest"
      },
      "name": "ListTagsForProject",
      "output": {
        "shape": "ListTagsForProjectResult"
      }
    },
    "ListTeamMembers": {
      "documentation": "<p>Lists all team members associated with a project.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTeamMembersRequest"
      },
      "name": "ListTeamMembers",
      "output": {
        "shape": "ListTeamMembersResult"
      }
    },
    "ListUserProfiles": {
      "documentation": "<p>Lists all the user profiles configured for your AWS account in AWS CodeStar.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserProfilesRequest"
      },
      "name": "ListUserProfiles",
      "output": {
        "shape": "ListUserProfilesResult"
      }
    },
    "TagProject": {
      "documentation": "<p>Adds tags to a project.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagProjectRequest"
      },
      "name": "TagProject",
      "output": {
        "shape": "TagProjectResult"
      }
    },
    "UntagProject": {
      "documentation": "<p>Removes tags from a project.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagProjectRequest"
      },
      "name": "UntagProject",
      "output": {
        "shape": "UntagProjectResult"
      }
    },
    "UpdateProject": {
      "documentation": "<p>Updates a project in AWS CodeStar.</p>",
      "errors": [
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProjectRequest"
      },
      "name": "UpdateProject",
      "output": {
        "shape": "UpdateProjectResult"
      }
    },
    "UpdateTeamMember": {
      "documentation": "<p>Updates a team member's attributes in an AWS CodeStar project. For example, you can change a team member's role in the project, or change whether they have remote access to project resources.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ProjectNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidServiceRoleException"
        },
        {
          "shape": "ProjectConfigurationException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "TeamMemberNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTeamMemberRequest"
      },
      "name": "UpdateTeamMember",
      "output": {
        "shape": "UpdateTeamMemberResult"
      }
    },
    "UpdateUserProfile": {
      "documentation": "<p>Updates a user's profile in AWS CodeStar. The user profile is not project-specific. Information in the user profile is displayed wherever the user's information appears to other users in AWS CodeStar. </p>",
      "errors": [
        {
          "shape": "UserProfileNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserProfileRequest"
      },
      "name": "UpdateUserProfile",
      "output": {
        "shape": "UpdateUserProfileResult"
      }
    }
  },
  "shapes": {
    "AssociateTeamMemberRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>A user- or system-generated token that identifies the entity that requested the team member association to the project. This token can be used to repeat the request.</p>",
          "shape": "ClientRequestToken"
        },
        "projectId": {
          "documentation": "<p>The ID of the project to which you will add the IAM user.</p>",
          "shape": "ProjectId"
        },
        "projectRole": {
          "documentation": "<p>The AWS CodeStar project role that will apply to this user. This role determines what actions a user can take in an AWS CodeStar project.</p>",
          "shape": "Role"
        },
        "remoteAccessAllowed": {
          "box": true,
          "documentation": "<p>Whether the team member is allowed to use an SSH public/private key pair to remotely access project resources, for example Amazon EC2 instances.</p>",
          "shape": "RemoteAccessAllowed"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the IAM user you want to add to the AWS CodeStar project.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "projectId",
        "userArn",
        "projectRole"
      ],
      "type": "structure"
    },
    "AssociateTeamMemberResult": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>The user- or system-generated token from the initial request that can be used to repeat the request.</p>",
          "shape": "ClientRequestToken"
        }
      },
      "type": "structure"
    },
    "BucketKey": {
      "type": "string"
    },
    "BucketName": {
      "max": 63,
      "min": 3,
      "type": "string"
    },
    "ClientRequestToken": {
      "max": 256,
      "min": 1,
      "pattern": "^[\\w:/-]+$",
      "type": "string"
    },
    "Code": {
      "documentation": "<p>Location and destination information about the source code files provided with the project request. The source code is uploaded to the new project source repository after project creation.</p>",
      "members": {
        "destination": {
          "documentation": "<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.</p>",
          "shape": "CodeDestination"
        },
        "source": {
          "documentation": "<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>",
          "shape": "CodeSource"
        }
      },
      "required": [
        "source",
        "destination"
      ],
      "type": "structure"
    },
    "CodeCommitCodeDestination": {
      "documentation": "<p>Information about the AWS CodeCommit repository to be created in AWS CodeStar. This is where the source code files provided with the project request will be uploaded after project creation.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the AWS CodeCommit repository to be created in AWS CodeStar.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CodeDestination": {
      "documentation": "<p>The repository to be created in AWS CodeStar. Valid values are AWS CodeCommit or GitHub. After AWS CodeStar provisions the new repository, the source code files provided with the project request are placed in the repository.</p>",
      "members": {
        "codeCommit": {
          "documentation": "<p>Information about the AWS CodeCommit repository to be created in AWS CodeStar. This is where the source code files provided with the project request will be uploaded after project creation.</p>",
          "shape": "CodeCommitCodeDestination"
        },
        "gitHub": {
          "documentation": "<p>Information about the GitHub repository to be created in AWS CodeStar. This is where the source code files provided with the project request will be uploaded after project creation.</p>",
          "shape": "GitHubCodeDestination"
        }
      },
      "type": "structure"
    },
    "CodeSource": {
      "documentation": "<p>The location where the source code files provided with the project request are stored. AWS CodeStar retrieves the files during project creation.</p>",
      "members": {
        "s3": {
          "documentation": "<p>Information about the Amazon S3 location where the source code files provided with the project request are stored. </p>",
          "shape": "S3Location"
        }
      },
      "required": [
        "s3"
      ],
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Another modification is being made. That modification must complete before you can make your change.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CreateProjectRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>A user- or system-generated token that identifies the entity that requested project creation. This token can be used to repeat the request.</p>",
          "shape": "ClientRequestToken"
        },
        "description": {
          "documentation": "<p>The description of the project, if any.</p>",
          "shape": "ProjectDescription"
        },
        "id": {
          "documentation": "<p>The ID of the project to be created in AWS CodeStar.</p>",
          "shape": "ProjectId"
        },
        "name": {
          "documentation": "<p>The display name for the project to be created in AWS CodeStar.</p>",
          "shape": "ProjectName"
        },
        "sourceCode": {
          "documentation": "<p>A list of the Code objects submitted with the project request. If this parameter is specified, the request must also include the toolchain parameter.</p>",
          "shape": "SourceCode"
        },
        "tags": {
          "documentation": "<p>The tags created for the project.</p>",
          "shape": "Tags"
        },
        "toolchain": {
          "documentation": "<p>The name of the toolchain template file submitted with the project request. If this parameter is specified, the request must also include the sourceCode parameter.</p>",
          "shape": "Toolchain"
        }
      },
      "required": [
        "name",
        "id"
      ],
      "type": "structure"
    },
    "CreateProjectResult": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the created project.</p>",
          "shape": "ProjectArn"
        },
        "clientRequestToken": {
          "documentation": "<p>A user- or system-generated token that identifies the entity that requested project creation.</p>",
          "shape": "ClientRequestToken"
        },
        "id": {
          "documentation": "<p>The ID of the project.</p>",
          "shape": "ProjectId"
        },
        "projectTemplateId": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "ProjectTemplateId"
        }
      },
      "required": [
        "id",
        "arn"
      ],
      "type": "structure"
    },
    "CreateUserProfileRequest": {
      "members": {
        "displayName": {
          "documentation": "<p>The name that will be displayed as the friendly name for the user in AWS CodeStar. </p>",
          "shape": "UserProfileDisplayName"
        },
        "emailAddress": {
          "documentation": "<p>The email address that will be displayed as part of the user's profile in AWS CodeStar.</p>",
          "shape": "Email"
        },
        "sshPublicKey": {
          "documentation": "<p>The SSH public key associated with the user in AWS CodeStar. If a project owner allows the user remote access to project resources, this public key will be used along with the user's private key for SSH access.</p>",
          "shape": "SshPublicKey"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn",
        "displayName",
        "emailAddress"
      ],
      "type": "structure"
    },
    "CreateUserProfileResult": {
      "members": {
        "createdTimestamp": {
          "documentation": "<p>The date the user profile was created, in timestamp format.</p>",
          "shape": "CreatedTimestamp"
        },
        "displayName": {
          "documentation": "<p>The name that is displayed as the friendly name for the user in AWS CodeStar.</p>",
          "shape": "UserProfileDisplayName"
        },
        "emailAddress": {
          "documentation": "<p>The email address that is displayed as part of the user's profile in AWS CodeStar.</p>",
          "shape": "Email"
        },
        "lastModifiedTimestamp": {
          "documentation": "<p>The date the user profile was last modified, in timestamp format.</p>",
          "shape": "LastModifiedTimestamp"
        },
        "sshPublicKey": {
          "documentation": "<p>The SSH public key associated with the user in AWS CodeStar. This is the public portion of the public/private keypair the user can use to access project resources if a project owner allows the user remote access to those resources.</p>",
          "shape": "SshPublicKey"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn"
      ],
      "type": "structure"
    },
    "CreatedTimestamp": {
      "type": "timestamp"
    },
    "DeleteProjectRequest": {
      "members": {
        "clientRequestToken": {
          "documentation": "<p>A user- or system-generated token that identifies the entity that requested project deletion. This token can be used to repeat the request. </p>",
          "shape": "ClientRequestToken"
        },
        "deleteStack": {
          "documentation": "<p>Whether to send a delete request for the primary stack in AWS CloudFormation originally used to generate the project and its resources. This option will delete all AWS resources for the project (except for any buckets in Amazon S3) as well as deleting the project itself. Recommended for most use cases.</p>",
          "shape": "DeleteStack"
        },
        "id": {
          "documentation": "<p>The ID of the project to be deleted in AWS CodeStar.</p>",
          "shape": "ProjectId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DeleteProjectResult": {
      "members": {
        "projectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deleted project.</p>",
          "shape": "ProjectArn"
        },
        "stackId": {
          "documentation": "<p>The ID of the primary stack in AWS CloudFormation that will be deleted as part of deleting the project and its resources.</p>",
          "shape": "StackId"
        }
      },
      "type": "structure"
    },
    "DeleteStack": {
      "type": "boolean"
    },
    "DeleteUserProfileRequest": {
      "members": {
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user to delete from AWS CodeStar.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn"
      ],
      "type": "structure"
    },
    "DeleteUserProfileResult": {
      "members": {
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user deleted from AWS CodeStar.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn"
      ],
      "type": "structure"
    },
    "DescribeProjectRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the project.</p>",
          "shape": "ProjectId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "DescribeProjectResult": {
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the project.</p>",
          "shape": "ProjectArn"
        },
        "clientRequestToken": {
          "documentation": "<p>A user- or system-generated token that identifies the entity that requested project creation. </p>",
          "shape": "ClientRequestToken"
        },
        "createdTimeStamp": {
          "documentation": "<p>The date and time the project was created, in timestamp format.</p>",
          "shape": "CreatedTimestamp"
        },
        "description": {
          "documentation": "<p>The description of the project, if any.</p>",
          "shape": "ProjectDescription"
        },
        "id": {
          "documentation": "<p>The ID of the project.</p>",
          "shape": "ProjectId"
        },
        "name": {
          "documentation": "<p>The display name for the project.</p>",
          "shape": "ProjectName"
        },
        "projectTemplateId": {
          "documentation": "<p>The ID for the AWS CodeStar project template used to create the project.</p>",
          "shape": "ProjectTemplateId"
        },
        "stackId": {
          "documentation": "<p>The ID of the primary stack in AWS CloudFormation used to generate resources for the project.</p>",
          "shape": "StackId"
        },
        "status": {
          "documentation": "<p>The project creation or deletion status.</p>",
          "shape": "ProjectStatus"
        }
      },
      "type": "structure"
    },
    "DescribeUserProfileRequest": {
      "members": {
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn"
      ],
      "type": "structure"
    },
    "DescribeUserProfileResult": {
      "members": {
        "createdTimestamp": {
          "documentation": "<p>The date and time when the user profile was created in AWS CodeStar, in timestamp format.</p>",
          "shape": "CreatedTimestamp"
        },
        "displayName": {
          "documentation": "<p>The display name shown for the user in AWS CodeStar projects. For example, this could be set to both first and last name (\"Mary Major\") or a single name (\"Mary\"). The display name is also used to generate the initial icon associated with the user in AWS CodeStar projects. If spaces are included in the display name, the first character that appears after the space will be used as the second character in the user initial icon. The initial icon displays a maximum of two characters, so a display name with more than one space (for example \"Mary Jane Major\") would generate an initial icon using the first character and the first character after the space (\"MJ\", not \"MM\").</p>",
          "shape": "UserProfileDisplayName"
        },
        "emailAddress": {
          "documentation": "<p>The email address for the user. Optional.</p>",
          "shape": "Email"
        },
        "lastModifiedTimestamp": {
          "documentation": "<p>The date and time when the user profile was last modified, in timestamp format.</p>",
          "shape": "LastModifiedTimestamp"
        },
        "sshPublicKey": {
          "documentation": "<p>The SSH public key associated with the user. This SSH public key is associated with the user profile, and can be used in conjunction with the associated private key for access to project resources, such as Amazon EC2 instances, if a project owner grants remote access to those resources.</p>",
          "shape": "SshPublicKey"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn",
        "createdTimestamp",
        "lastModifiedTimestamp"
      ],
      "type": "structure"
    },
    "DisassociateTeamMemberRequest": {
      "members": {
        "projectId": {
          "documentation": "<p>The ID of the AWS CodeStar project from which you want to remove a team member.</p>",
          "shape": "ProjectId"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM user or group whom you want to remove from the project.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "projectId",
        "userArn"
      ],
      "type": "structure"
    },
    "DisassociateTeamMemberResult": {
      "members": {},
      "type": "structure"
    },
    "Email": {
      "max": 128,
      "min": 3,
      "pattern": "^[\\w-.+]+@[\\w-.+]+$",
      "sensitive": true,
      "type": "string"
    },
    "GitHubCodeDestination": {
      "documentation": "<p>Information about the GitHub repository to be created in AWS CodeStar. This is where the source code files provided with the project request will be uploaded after project creation.</p>",
      "members": {
        "description": {
          "documentation": "<p>Description for the GitHub repository to be created in AWS CodeStar. This description displays in GitHub after the repository is created.</p>",
          "shape": "RepositoryDescription"
        },
        "issuesEnabled": {
          "documentation": "<p>Whether to enable issues for the GitHub repository.</p>",
          "shape": "RepositoryEnableIssues"
        },
        "name": {
          "documentation": "<p>Name of the GitHub repository to be created in AWS CodeStar.</p>",
          "shape": "RepositoryName"
        },
        "owner": {
          "documentation": "<p>The GitHub username for the owner of the GitHub repository to be created in AWS CodeStar. If this repository should be owned by a GitHub organization, provide its name.</p>",
          "shape": "RepositoryOwner"
        },
        "privateRepository": {
          "documentation": "<p>Whether the GitHub repository is to be a private repository.</p>",
          "shape": "RepositoryIsPrivate"
        },
        "token": {
          "documentation": "<p>The GitHub user's personal access token for the GitHub repository.</p>",
          "shape": "GitHubPersonalToken"
        },
        "type": {
          "documentation": "<p>The type of GitHub repository to be created in AWS CodeStar. Valid values are User or Organization.</p>",
          "shape": "RepositoryType"
        }
      },
      "required": [
        "name",
        "type",
        "owner",
        "privateRepository",
        "issuesEnabled",
        "token"
      ],
      "type": "structure"
    },
    "GitHubPersonalToken": {
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The next token is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidServiceRoleException": {
      "documentation": "<p>The service role is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "LastModifiedTimestamp": {
      "type": "timestamp"
    },
    "LimitExceededException": {
      "documentation": "<p>A resource limit has been exceeded.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ListProjectsRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum amount of data that can be contained in a single set of results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The continuation token to be used to return the next set of results, if the results cannot be returned in one response.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListProjectsResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The continuation token to use when requesting the next set of results, if there are more results to be returned.</p>",
          "shape": "PaginationToken"
        },
        "projects": {
          "documentation": "<p>A list of projects.</p>",
          "shape": "ProjectsList"
        }
      },
      "required": [
        "projects"
      ],
      "type": "structure"
    },
    "ListResourcesRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum amount of data that can be contained in a single set of results.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The continuation token for the next set of results, if the results cannot be returned in one response.</p>",
          "shape": "PaginationToken"
        },
        "projectId": {
          "documentation": "<p>The ID of the project.</p>",
          "shape": "ProjectId"
        }
      },
      "required": [
        "projectId"
      ],
      "type": "structure"
    },
    "ListResourcesResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The continuation token to use when requesting the next set of results, if there are more results to be returned.</p>",
          "shape": "PaginationToken"
        },
        "resources": {
          "documentation": "<p>An array of resources associated with the project. </p>",
          "shape": "ResourcesResult"
        }
      },
      "type": "structure"
    },
    "ListTagsForProjectRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the project to get tags for.</p>",
          "shape": "ProjectId"
        },
        "maxResults": {
          "box": true,
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "ListTagsForProjectResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "PaginationToken"
        },
        "tags": {
          "documentation": "<p>The tags for the project.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "ListTeamMembersRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of team members you want returned in a response.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The continuation token for the next set of results, if the results cannot be returned in one response.</p>",
          "shape": "PaginationToken"
        },
        "projectId": {
          "documentation": "<p>The ID of the project for which you want to list team members.</p>",
          "shape": "ProjectId"
        }
      },
      "required": [
        "projectId"
      ],
      "type": "structure"
    },
    "ListTeamMembersResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The continuation token to use when requesting the next set of results, if there are more results to be returned.</p>",
          "shape": "PaginationToken"
        },
        "teamMembers": {
          "documentation": "<p>A list of team member objects for the project.</p>",
          "shape": "TeamMemberResult"
        }
      },
      "required": [
        "teamMembers"
      ],
      "type": "structure"
    },
    "ListUserProfilesRequest": {
      "members": {
        "maxResults": {
          "box": true,
          "documentation": "<p>The maximum number of results to return in a response.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The continuation token for the next set of results, if the results cannot be returned in one response.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListUserProfilesResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>The continuation token to use when requesting the next set of results, if there are more results to be returned.</p>",
          "shape": "PaginationToken"
        },
        "userProfiles": {
          "documentation": "<p>All the user profiles configured in AWS CodeStar for an AWS account.</p>",
          "shape": "UserProfilesList"
        }
      },
      "required": [
        "userProfiles"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "PaginationToken": {
      "max": 512,
      "min": 1,
      "pattern": "^[\\w/+=]+$",
      "type": "string"
    },
    "ProjectAlreadyExistsException": {
      "documentation": "<p>An AWS CodeStar project with the same ID already exists in this region for the AWS account. AWS CodeStar project IDs must be unique within a region for the AWS account.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ProjectArn": {
      "pattern": "^arn:aws[^:\\s]*:codestar:[^:\\s]+:[0-9]{12}:project\\/[a-z]([a-z0-9|-])+$",
      "type": "string"
    },
    "ProjectConfigurationException": {
      "documentation": "<p>Project configuration information is required but not specified.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ProjectCreationFailedException": {
      "documentation": "<p>The project creation request was valid, but a nonspecific exception or error occurred during project creation. The project could not be created in AWS CodeStar.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ProjectDescription": {
      "max": 1024,
      "pattern": "^$|^\\S(.*\\S)?$",
      "sensitive": true,
      "type": "string"
    },
    "ProjectId": {
      "max": 15,
      "min": 2,
      "pattern": "^[a-z][a-z0-9-]+$",
      "type": "string"
    },
    "ProjectName": {
      "max": 100,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "sensitive": true,
      "type": "string"
    },
    "ProjectNotFoundException": {
      "documentation": "<p>The specified AWS CodeStar project was not found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ProjectStatus": {
      "documentation": "<p>An indication of whether a project creation or deletion is failed or successful.</p>",
      "members": {
        "reason": {
          "documentation": "<p>In the case of a project creation or deletion failure, a reason for the failure.</p>",
          "shape": "Reason"
        },
        "state": {
          "documentation": "<p>The phase of completion for a project creation or deletion.</p>",
          "shape": "State"
        }
      },
      "required": [
        "state"
      ],
      "type": "structure"
    },
    "ProjectSummary": {
      "documentation": "<p>Information about the metadata for a project.</p>",
      "members": {
        "projectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the project.</p>",
          "shape": "ProjectArn"
        },
        "projectId": {
          "documentation": "<p>The ID of the project.</p>",
          "shape": "ProjectId"
        }
      },
      "type": "structure"
    },
    "ProjectTemplateId": {
      "min": 1,
      "pattern": "^arn:aws[^:\\s]{0,5}:codestar:[^:\\s]+::project-template(\\/(github|codecommit))?\\/[a-z0-9-]+$",
      "type": "string"
    },
    "ProjectsList": {
      "member": {
        "shape": "ProjectSummary"
      },
      "type": "list"
    },
    "Reason": {
      "max": 1024,
      "pattern": "^$|^\\S(.*\\S)?$",
      "type": "string"
    },
    "RemoteAccessAllowed": {
      "type": "boolean"
    },
    "RepositoryDescription": {
      "max": 1000,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "type": "string"
    },
    "RepositoryEnableIssues": {
      "type": "boolean"
    },
    "RepositoryIsPrivate": {
      "type": "boolean"
    },
    "RepositoryName": {
      "max": 100,
      "min": 1,
      "pattern": "^\\S[\\w.-]*$",
      "type": "string"
    },
    "RepositoryOwner": {
      "max": 100,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "type": "string"
    },
    "RepositoryType": {
      "pattern": "^(user|organization|User|Organization)$",
      "type": "string"
    },
    "Resource": {
      "documentation": "<p>Information about a resource for a project.</p>",
      "members": {
        "id": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "ResourceId": {
      "min": 11,
      "pattern": "^arn\\:aws\\:\\S.*\\:.*",
      "type": "string"
    },
    "ResourcesResult": {
      "member": {
        "shape": "Resource"
      },
      "type": "list"
    },
    "Role": {
      "pattern": "^(Owner|Viewer|Contributor)$",
      "type": "string"
    },
    "RoleArn": {
      "max": 1224,
      "min": 1,
      "type": "string"
    },
    "S3Location": {
      "documentation": "<p>The Amazon S3 location where the source code files provided with the project request are stored.</p>",
      "members": {
        "bucketKey": {
          "documentation": "<p>The Amazon S3 object key where the source code files provided with the project request are stored.</p>",
          "shape": "BucketKey"
        },
        "bucketName": {
          "documentation": "<p>The Amazon S3 bucket name where the source code files provided with the project request are stored.</p>",
          "shape": "BucketName"
        }
      },
      "type": "structure"
    },
    "SourceCode": {
      "member": {
        "shape": "Code"
      },
      "type": "list"
    },
    "SshPublicKey": {
      "max": 16384,
      "pattern": "^[\\t\\r\\n\\u0020-\\u00FF]*$",
      "type": "string"
    },
    "StackId": {
      "pattern": "^arn:aws[^:\\s]*:cloudformation:[^:\\s]+:[0-9]{12}:stack\\/[^:\\s]+\\/[^:\\s]+$",
      "type": "string"
    },
    "State": {
      "pattern": "^(CreateInProgress|CreateComplete|CreateFailed|DeleteComplete|DeleteFailed|DeleteInProgress|UpdateComplete|UpdateInProgress|UpdateFailed|Unknown)$",
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeys": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagProjectRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the project you want to add a tag to.</p>",
          "shape": "ProjectId"
        },
        "tags": {
          "documentation": "<p>The tags you want to add to the project.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "id",
        "tags"
      ],
      "type": "structure"
    },
    "TagProjectResult": {
      "members": {
        "tags": {
          "documentation": "<p>The tags for the project.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "Tags": {
      "key": {
        "shape": "TagKey"
      },
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TeamMember": {
      "documentation": "<p>Information about a team member in a project.</p>",
      "members": {
        "projectRole": {
          "documentation": "<p>The role assigned to the user in the project. Project roles have different levels of access. For more information, see <a href=\"http://docs.aws.amazon.com/codestar/latest/userguide/working-with-teams.html\">Working with Teams</a> in the <i>AWS CodeStar User Guide</i>. </p>",
          "shape": "Role"
        },
        "remoteAccessAllowed": {
          "box": true,
          "documentation": "<p>Whether the user is allowed to remotely access project resources using an SSH public/private key pair.</p>",
          "shape": "RemoteAccessAllowed"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn",
        "projectRole"
      ],
      "type": "structure"
    },
    "TeamMemberAlreadyAssociatedException": {
      "documentation": "<p>The team member is already associated with a role in this project.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "TeamMemberNotFoundException": {
      "documentation": "<p>The specified team member was not found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "TeamMemberResult": {
      "member": {
        "shape": "TeamMember"
      },
      "type": "list"
    },
    "TemplateParameterKey": {
      "max": 30,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "type": "string"
    },
    "TemplateParameterMap": {
      "key": {
        "shape": "TemplateParameterKey"
      },
      "max": 25,
      "type": "map",
      "value": {
        "shape": "TemplateParameterValue"
      }
    },
    "TemplateParameterValue": {
      "max": 100,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "sensitive": true,
      "type": "string"
    },
    "Toolchain": {
      "documentation": "<p>The toolchain template file provided with the project request. AWS CodeStar uses the template to provision the toolchain stack in AWS CloudFormation.</p>",
      "members": {
        "roleArn": {
          "documentation": "<p>The service role ARN for AWS CodeStar to use for the toolchain template during stack provisioning.</p>",
          "shape": "RoleArn"
        },
        "source": {
          "documentation": "<p>The Amazon S3 location where the toolchain template file provided with the project request is stored. AWS CodeStar retrieves the file during project creation.</p>",
          "shape": "ToolchainSource"
        },
        "stackParameters": {
          "documentation": "<p>The list of parameter overrides to be passed into the toolchain template during stack provisioning, if any.</p>",
          "shape": "TemplateParameterMap"
        }
      },
      "required": [
        "source"
      ],
      "type": "structure"
    },
    "ToolchainSource": {
      "documentation": "<p>The Amazon S3 location where the toolchain template file provided with the project request is stored. AWS CodeStar retrieves the file during project creation.</p>",
      "members": {
        "s3": {
          "documentation": "<p>The Amazon S3 bucket where the toolchain template file provided with the project request is stored.</p>",
          "shape": "S3Location"
        }
      },
      "required": [
        "s3"
      ],
      "type": "structure"
    },
    "UntagProjectRequest": {
      "members": {
        "id": {
          "documentation": "<p>The ID of the project to remove tags from.</p>",
          "shape": "ProjectId"
        },
        "tags": {
          "documentation": "<p>The tags to remove from the project.</p>",
          "shape": "TagKeys"
        }
      },
      "required": [
        "id",
        "tags"
      ],
      "type": "structure"
    },
    "UntagProjectResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateProjectRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the project, if any.</p>",
          "shape": "ProjectDescription"
        },
        "id": {
          "documentation": "<p>The ID of the project you want to update.</p>",
          "shape": "ProjectId"
        },
        "name": {
          "documentation": "<p>The name of the project you want to update.</p>",
          "shape": "ProjectName"
        }
      },
      "required": [
        "id"
      ],
      "type": "structure"
    },
    "UpdateProjectResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateTeamMemberRequest": {
      "members": {
        "projectId": {
          "documentation": "<p>The ID of the project.</p>",
          "shape": "ProjectId"
        },
        "projectRole": {
          "documentation": "<p>The role assigned to the user in the project. Project roles have different levels of access. For more information, see <a href=\"http://docs.aws.amazon.com/codestar/latest/userguide/working-with-teams.html\">Working with Teams</a> in the <i>AWS CodeStar User Guide</i>.</p>",
          "shape": "Role"
        },
        "remoteAccessAllowed": {
          "box": true,
          "documentation": "<p>Whether a team member is allowed to remotely access project resources using the SSH public key associated with the user's profile. Even if this is set to True, the user must associate a public key with their profile before the user can access resources.</p>",
          "shape": "RemoteAccessAllowed"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user for whom you want to change team membership attributes.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "projectId",
        "userArn"
      ],
      "type": "structure"
    },
    "UpdateTeamMemberResult": {
      "members": {
        "projectRole": {
          "documentation": "<p>The project role granted to the user.</p>",
          "shape": "Role"
        },
        "remoteAccessAllowed": {
          "box": true,
          "documentation": "<p>Whether a team member is allowed to remotely access project resources using the SSH public key associated with the user's profile.</p>",
          "shape": "RemoteAccessAllowed"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user whose team membership attributes were updated.</p>",
          "shape": "UserArn"
        }
      },
      "type": "structure"
    },
    "UpdateUserProfileRequest": {
      "members": {
        "displayName": {
          "documentation": "<p>The name that is displayed as the friendly name for the user in AWS CodeStar.</p>",
          "shape": "UserProfileDisplayName"
        },
        "emailAddress": {
          "documentation": "<p>The email address that is displayed as part of the user's profile in AWS CodeStar.</p>",
          "shape": "Email"
        },
        "sshPublicKey": {
          "documentation": "<p>The SSH public key associated with the user in AWS CodeStar. If a project owner allows the user remote access to project resources, this public key will be used along with the user's private key for SSH access.</p>",
          "shape": "SshPublicKey"
        },
        "userArn": {
          "documentation": "<p>The name that will be displayed as the friendly name for the user in AWS CodeStar.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn"
      ],
      "type": "structure"
    },
    "UpdateUserProfileResult": {
      "members": {
        "createdTimestamp": {
          "documentation": "<p>The date the user profile was created, in timestamp format.</p>",
          "shape": "CreatedTimestamp"
        },
        "displayName": {
          "documentation": "<p>The name that is displayed as the friendly name for the user in AWS CodeStar.</p>",
          "shape": "UserProfileDisplayName"
        },
        "emailAddress": {
          "documentation": "<p>The email address that is displayed as part of the user's profile in AWS CodeStar.</p>",
          "shape": "Email"
        },
        "lastModifiedTimestamp": {
          "documentation": "<p>The date the user profile was last modified, in timestamp format.</p>",
          "shape": "LastModifiedTimestamp"
        },
        "sshPublicKey": {
          "documentation": "<p>The SSH public key associated with the user in AWS CodeStar. This is the public portion of the public/private keypair the user can use to access project resources if a project owner allows the user remote access to those resources.</p>",
          "shape": "SshPublicKey"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
          "shape": "UserArn"
        }
      },
      "required": [
        "userArn"
      ],
      "type": "structure"
    },
    "UserArn": {
      "max": 95,
      "min": 32,
      "pattern": "^arn:aws:iam::\\d{12}:user(?:(\\u002F)|(\\u002F[\\u0021-\\u007E]+\\u002F))[\\w+=,.@-]+$",
      "type": "string"
    },
    "UserProfileAlreadyExistsException": {
      "documentation": "<p>A user profile with that name already exists in this region for the AWS account. AWS CodeStar user profile names must be unique within a region for the AWS account. </p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "UserProfileDisplayName": {
      "max": 64,
      "min": 1,
      "pattern": "^\\S(.*\\S)?$",
      "sensitive": true,
      "type": "string"
    },
    "UserProfileNotFoundException": {
      "documentation": "<p>The user profile was not found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "UserProfileSummary": {
      "documentation": "<p>Information about a user's profile in AWS CodeStar.</p>",
      "members": {
        "displayName": {
          "documentation": "<p>The display name of a user in AWS CodeStar. For example, this could be set to both first and last name (\"Mary Major\") or a single name (\"Mary\"). The display name is also used to generate the initial icon associated with the user in AWS CodeStar projects. If spaces are included in the display name, the first character that appears after the space will be used as the second character in the user initial icon. The initial icon displays a maximum of two characters, so a display name with more than one space (for example \"Mary Jane Major\") would generate an initial icon using the first character and the first character after the space (\"MJ\", not \"MM\").</p>",
          "shape": "UserProfileDisplayName"
        },
        "emailAddress": {
          "documentation": "<p>The email address associated with the user.</p>",
          "shape": "Email"
        },
        "sshPublicKey": {
          "documentation": "<p>The SSH public key associated with the user in AWS CodeStar. If a project owner allows the user remote access to project resources, this public key will be used along with the user's private key for SSH access.</p>",
          "shape": "SshPublicKey"
        },
        "userArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the user in IAM.</p>",
          "shape": "UserArn"
        }
      },
      "type": "structure"
    },
    "UserProfilesList": {
      "member": {
        "shape": "UserProfileSummary"
      },
      "type": "list"
    },
    "ValidationException": {
      "documentation": "<p>The specified input is either not valid, or it could not be validated.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    }
  },
  "version": "2.0"
}
