{
  "documentation": "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control containerized microservices. App Mesh standardizes how your microservices\n         communicate, giving you end-to-end visibility and helping to ensure high-availability for\n         your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with Amazon ECS\n         (using the Amazon EC2 launch type), Amazon EKS, and Kubernetes on AWS.</p>\n         <note>\n            <p>App Mesh supports containerized microservice applications that use service discovery\n            naming for their components. To use App Mesh, you must have a containerized application\n            running on Amazon EC2 instances, hosted in either Amazon ECS, Amazon EKS, or Kubernetes on AWS. For\n            more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> is supported.\n            For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
  "metadata": {
    "apiVersion": "2018-10-01",
    "endpointPrefix": "appmesh",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS App Mesh",
    "serviceId": "App Mesh",
    "signatureVersion": "v4",
    "signingName": "appmesh",
    "uid": "appmesh-2018-10-01"
  },
  "operations": {
    "CreateMesh": {
      "documentation": "<p>Creates a new service mesh. A service mesh is a logical boundary for network traffic\n         between the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual nodes, virtual routers, and\n         routes to distribute traffic between the applications in your mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateMeshInput"
      },
      "name": "CreateMesh",
      "output": {
        "shape": "CreateMeshOutput"
      }
    },
    "CreateRoute": {
      "documentation": "<p>Creates a new route that is associated with a virtual router.</p>\n         <p>You can use the <code>prefix</code> parameter in your route specification for path-based\n         routing of requests. For example, if your virtual router service name is\n            <code>my-service.local</code>, and you want the route to match requests to\n            <code>my-service.local/metrics</code>, then your prefix should be\n         <code>/metrics</code>.</p>\n         <p>If your route matches a request, you can distribute traffic to one or more target\n         virtual nodes with relative weighting.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateRouteInput"
      },
      "name": "CreateRoute",
      "output": {
        "shape": "CreateRouteOutput"
      }
    },
    "CreateVirtualNode": {
      "documentation": "<p>Creates a new virtual node within a service mesh.</p>\n         <p>A virtual node acts as logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you must specify the\n         DNS service discovery name for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>, as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualNodeInput"
      },
      "name": "CreateVirtualNode",
      "output": {
        "shape": "CreateVirtualNodeOutput"
      }
    },
    "CreateVirtualRouter": {
      "documentation": "<p>Creates a new virtual router within a service mesh.</p>\n         <p>Virtual routers handle traffic for one or more service names within your mesh. After you\n         create your virtual router, create and associate routes for your virtual router that direct\n         incoming requests to different virtual nodes.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualRouterInput"
      },
      "name": "CreateVirtualRouter",
      "output": {
        "shape": "CreateVirtualRouterOutput"
      }
    },
    "DeleteMesh": {
      "documentation": "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (routes, virtual routers, virtual nodes) in the service\n         mesh before you can delete the mesh itself.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meshes/{meshName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMeshInput"
      },
      "name": "DeleteMesh",
      "output": {
        "shape": "DeleteMeshOutput"
      }
    },
    "DeleteRoute": {
      "documentation": "<p>Deletes an existing route.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRouteInput"
      },
      "name": "DeleteRoute",
      "output": {
        "shape": "DeleteRouteOutput"
      }
    },
    "DeleteVirtualNode": {
      "documentation": "<p>Deletes an existing virtual node.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualNodeInput"
      },
      "name": "DeleteVirtualNode",
      "output": {
        "shape": "DeleteVirtualNodeOutput"
      }
    },
    "DeleteVirtualRouter": {
      "documentation": "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualRouterInput"
      },
      "name": "DeleteVirtualRouter",
      "output": {
        "shape": "DeleteVirtualRouterOutput"
      }
    },
    "DescribeMesh": {
      "documentation": "<p>Describes an existing service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMeshInput"
      },
      "name": "DescribeMesh",
      "output": {
        "shape": "DescribeMeshOutput"
      }
    },
    "DescribeRoute": {
      "documentation": "<p>Describes an existing route.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRouteInput"
      },
      "name": "DescribeRoute",
      "output": {
        "shape": "DescribeRouteOutput"
      }
    },
    "DescribeVirtualNode": {
      "documentation": "<p>Describes an existing virtual node.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualNodeInput"
      },
      "name": "DescribeVirtualNode",
      "output": {
        "shape": "DescribeVirtualNodeOutput"
      }
    },
    "DescribeVirtualRouter": {
      "documentation": "<p>Describes an existing virtual router.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualRouterInput"
      },
      "name": "DescribeVirtualRouter",
      "output": {
        "shape": "DescribeVirtualRouterOutput"
      }
    },
    "ListMeshes": {
      "documentation": "<p>Returns a list of existing service meshes.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMeshesInput"
      },
      "name": "ListMeshes",
      "output": {
        "shape": "ListMeshesOutput"
      }
    },
    "ListRoutes": {
      "documentation": "<p>Returns a list of existing routes in a service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutesInput"
      },
      "name": "ListRoutes",
      "output": {
        "shape": "ListRoutesOutput"
      }
    },
    "ListVirtualNodes": {
      "documentation": "<p>Returns a list of existing virtual nodes.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualNodesInput"
      },
      "name": "ListVirtualNodes",
      "output": {
        "shape": "ListVirtualNodesOutput"
      }
    },
    "ListVirtualRouters": {
      "documentation": "<p>Returns a list of existing virtual routers in a service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualRoutersInput"
      },
      "name": "ListVirtualRouters",
      "output": {
        "shape": "ListVirtualRoutersOutput"
      }
    },
    "UpdateRoute": {
      "documentation": "<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRouteInput"
      },
      "name": "UpdateRoute",
      "output": {
        "shape": "UpdateRouteOutput"
      }
    },
    "UpdateVirtualNode": {
      "documentation": "<p>Updates an existing virtual node in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualNodeInput"
      },
      "name": "UpdateVirtualNode",
      "output": {
        "shape": "UpdateVirtualNodeOutput"
      }
    },
    "UpdateVirtualRouter": {
      "documentation": "<p>Updates an existing virtual router in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualRouterInput"
      },
      "name": "UpdateVirtualRouter",
      "output": {
        "shape": "UpdateVirtualRouterOutput"
      }
    }
  },
  "shapes": {
    "Arn": {
      "type": "string"
    },
    "Backends": {
      "member": {
        "shape": "ServiceName"
      },
      "type": "list"
    },
    "BadRequestException": {
      "documentation": "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
      "error": {
        "code": "BadRequestException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
      "error": {
        "code": "ConflictException",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateMeshInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name to use for the service mesh.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "CreateMeshOutput": {
      "documentation": "",
      "members": {
        "mesh": {
          "documentation": "<p>The full description of your service mesh following the create call.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "type": "structure"
    },
    "CreateRouteInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to create the route.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "routeName": {
          "documentation": "<p>The name to use for the route.</p>",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The route specification to apply.</p>",
          "shape": "RouteSpec"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router in which to create the route.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "CreateRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>The full description of your mesh following the create call.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "type": "structure"
    },
    "CreateVirtualNodeInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to create the virtual node.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The virtual node specification to apply.</p>",
          "shape": "VirtualNodeSpec"
        },
        "virtualNodeName": {
          "documentation": "<p>The name to use for the virtual node.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "CreateVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>The full description of your virtual node following the create call.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "type": "structure"
    },
    "CreateVirtualRouterInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to create the virtual router.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The virtual router specification to apply.</p>",
          "shape": "VirtualRouterSpec"
        },
        "virtualRouterName": {
          "documentation": "<p>The name to use for the virtual router.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "CreateVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The full description of your virtual router following the create call.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "type": "structure"
    },
    "DeleteMeshInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "DeleteMeshOutput": {
      "documentation": "",
      "members": {
        "mesh": {
          "documentation": "<p>The service mesh that was deleted.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "type": "structure"
    },
    "DeleteRouteInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to delete the route.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "routeName": {
          "documentation": "<p>The name of the route to delete.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router in which to delete the route.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DeleteRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>The route that was deleted.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "type": "structure"
    },
    "DeleteVirtualNodeInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to delete the virtual node.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to delete.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "DeleteVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>The virtual node that was deleted.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "type": "structure"
    },
    "DeleteVirtualRouterInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to delete the virtual router.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to delete.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DeleteVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The virtual router that was deleted.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "type": "structure"
    },
    "DescribeMeshInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to describe.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "DescribeMeshOutput": {
      "documentation": "",
      "members": {
        "mesh": {
          "documentation": "<p>The full description of your service mesh.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "type": "structure"
    },
    "DescribeRouteInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the route resides.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "routeName": {
          "documentation": "<p>The name of the route to describe.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router with which the route is associated.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DescribeRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>The full description of your route.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "type": "structure"
    },
    "DescribeVirtualNodeInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual node resides.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to describe.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "DescribeVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>The full description of your virtual node.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "type": "structure"
    },
    "DescribeVirtualRouterInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual router resides.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to describe.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DescribeVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The full description of your virtual router.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "type": "structure"
    },
    "DnsServiceDiscovery": {
      "documentation": "<p>The DNS service discovery information for your virtual node.</p>",
      "members": {
        "serviceName": {
          "documentation": "<p>The DNS service name for your virtual node.</p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "ForbiddenException": {
      "documentation": "<p>You do not have permissions to perform this action.</p>",
      "error": {
        "code": "ForbiddenException",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "HealthCheckIntervalMillis": {
      "box": true,
      "max": 300000,
      "min": 5000,
      "type": "long"
    },
    "HealthCheckPolicy": {
      "documentation": "<p>An object representing the health check policy for a virtual node's listener.</p>",
      "members": {
        "healthyThreshold": {
          "documentation": "<p>The number of consecutive successful health checks that must occur before declaring\n         listener healthy.</p>",
          "shape": "HealthCheckThreshold"
        },
        "intervalMillis": {
          "documentation": "<p>The time period in milliseconds between each health check execution.</p>",
          "shape": "HealthCheckIntervalMillis"
        },
        "path": {
          "documentation": "<p>The destination path for the health check request. This is only required if the\n         specified protocol is HTTP; if the protocol is TCP, then this parameter is ignored.</p>",
          "shape": "String"
        },
        "port": {
          "documentation": "<p>The destination port for the health check request. This port must match the port defined\n         in the <a>PortMapping</a> for the listener.</p>",
          "shape": "PortNumber"
        },
        "protocol": {
          "documentation": "<p>The protocol for the health check request.</p>",
          "shape": "PortProtocol"
        },
        "timeoutMillis": {
          "documentation": "<p>The amount of time to wait when receiving a response from the health check, in\n         milliseconds.</p>",
          "shape": "HealthCheckTimeoutMillis"
        },
        "unhealthyThreshold": {
          "documentation": "<p>The number of consecutive failed health checks that must occur before declaring a\n         virtual node unhealthy. </p>",
          "shape": "HealthCheckThreshold"
        }
      },
      "required": [
        "healthyThreshold",
        "intervalMillis",
        "protocol",
        "timeoutMillis",
        "unhealthyThreshold"
      ],
      "type": "structure"
    },
    "HealthCheckThreshold": {
      "max": 10,
      "min": 2,
      "type": "integer"
    },
    "HealthCheckTimeoutMillis": {
      "box": true,
      "max": 60000,
      "min": 2000,
      "type": "long"
    },
    "HttpRoute": {
      "documentation": "<p>An object representing the HTTP routing specification for a route.</p>",
      "members": {
        "action": {
          "documentation": "<p>The action to take if a match is determined.</p>",
          "shape": "HttpRouteAction"
        },
        "match": {
          "documentation": "<p>The criteria for determining an HTTP request match.</p>",
          "shape": "HttpRouteMatch"
        }
      },
      "type": "structure"
    },
    "HttpRouteAction": {
      "documentation": "<p>An object representing the traffic distribution requirements for matched HTTP\n         requests.</p>",
      "members": {
        "weightedTargets": {
          "documentation": "<p>The targets that traffic is routed to when a request matches the route. You can specify\n         one or more targets and their relative weights with which to distribute traffic.</p>",
          "shape": "WeightedTargets"
        }
      },
      "type": "structure"
    },
    "HttpRouteMatch": {
      "documentation": "<p>An object representing the requirements for a route to match HTTP requests for a virtual\n         router.</p>",
      "members": {
        "prefix": {
          "documentation": "<p>Specifies the path with which to match requests. This parameter must always start with\n            <code>/</code>, which by itself matches all requests to the virtual router service name.\n         You can also match for path-based routing of requests. For example, if your virtual router\n         service name is <code>my-service.local</code>, and you want the route to match requests to\n            <code>my-service.local/metrics</code>, then your prefix should be\n         <code>/metrics</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InternalServerErrorException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
      "error": {
        "code": "InternalServerErrorException",
        "fault": true,
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
      "error": {
        "code": "LimitExceededException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListMeshesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of mesh results returned by <code>ListMeshes</code> in paginated\n         output. When this parameter is used, <code>ListMeshes</code> only returns\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. The remaining results of the initial request can be seen by sending another\n            <code>ListMeshes</code> request with the returned <code>nextToken</code> value. This\n         value can be between 1 and 100. If this parameter is not\n         used, then <code>ListMeshes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListMeshesLimit"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListMeshes</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>\n         <note>\n            <p>This token should be treated as an opaque identifier that is only used to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListMeshesLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListMeshesOutput": {
      "documentation": "",
      "members": {
        "meshes": {
          "documentation": "<p>The list of existing service meshes.</p>",
          "shape": "MeshList"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListMeshes</code>\n         request. When the results of a <code>ListMeshes</code> request exceed\n         <code>limit</code>, this value can be used to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>",
          "shape": "String"
        }
      },
      "required": [
        "meshes"
      ],
      "type": "structure"
    },
    "ListRoutesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of mesh results returned by <code>ListRoutes</code> in paginated\n         output. When this parameter is used, <code>ListRoutes</code> only returns\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. The remaining results of the initial request can be seen by sending another\n            <code>ListRoutes</code> request with the returned <code>nextToken</code> value. This\n         value can be between 1 and 100. If this parameter is not\n         used, then <code>ListRoutes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListRoutesLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to list routes.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListRoutes</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router in which to list routes.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "ListRoutesLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListRoutesOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListRoutes</code>\n         request. When the results of a <code>ListRoutes</code> request exceed\n         <code>limit</code>, this value can be used to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>",
          "shape": "String"
        },
        "routes": {
          "documentation": "<p>The list of existing routes for the specified service mesh and virtual router.</p>",
          "shape": "RouteList"
        }
      },
      "required": [
        "routes"
      ],
      "type": "structure"
    },
    "ListVirtualNodesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of mesh results returned by <code>ListVirtualNodes</code> in\n         paginated output. When this parameter is used, <code>ListVirtualNodes</code> only returns\n         <code>limit</code> results in a single page along with a <code>nextToken</code>\n         response element. The remaining results of the initial request can be seen by sending\n         another <code>ListVirtualNodes</code> request with the returned <code>nextToken</code>\n         value. This value can be between 1 and 100. If this\n         parameter is not used, then <code>ListVirtualNodes</code> returns up to\n         100 results and a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListVirtualNodesLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to list virtual nodes.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListVirtualNodes</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "ListVirtualNodesLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListVirtualNodesOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualNodes</code>\n         request. When the results of a <code>ListVirtualNodes</code> request exceed\n         <code>limit</code>, this value can be used to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>",
          "shape": "String"
        },
        "virtualNodes": {
          "documentation": "<p>The list of existing virtual nodes for the specified service mesh.</p>",
          "shape": "VirtualNodeList"
        }
      },
      "required": [
        "virtualNodes"
      ],
      "type": "structure"
    },
    "ListVirtualRoutersInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of mesh results returned by <code>ListVirtualRouters</code> in\n         paginated output. When this parameter is used, <code>ListVirtualRouters</code> only returns\n         <code>limit</code> results in a single page along with a <code>nextToken</code>\n         response element. The remaining results of the initial request can be seen by sending\n         another <code>ListVirtualRouters</code> request with the returned <code>nextToken</code>\n         value. This value can be between 1 and 100. If this\n         parameter is not used, then <code>ListVirtualRouters</code> returns up to\n         100 results and a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListVirtualRoutersLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which to list virtual routers.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n         <code>ListVirtualRouters</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "ListVirtualRoutersLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListVirtualRoutersOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualRouters</code>\n         request. When the results of a <code>ListVirtualRouters</code> request exceed\n         <code>limit</code>, this value can be used to retrieve the next page of\n         results. This value is <code>null</code> when there are no more results to\n         return.</p>",
          "shape": "String"
        },
        "virtualRouters": {
          "documentation": "<p>The list of existing virtual routers for the specified service mesh.</p>",
          "shape": "VirtualRouterList"
        }
      },
      "required": [
        "virtualRouters"
      ],
      "type": "structure"
    },
    "Listener": {
      "documentation": "<p>An object representing a listener for a virtual node.</p>",
      "members": {
        "healthCheck": {
          "documentation": "<p>The health check information for the listener.</p>",
          "shape": "HealthCheckPolicy"
        },
        "portMapping": {
          "documentation": "<p>The port mapping information for the listener.</p>",
          "shape": "PortMapping"
        }
      },
      "type": "structure"
    },
    "Listeners": {
      "member": {
        "shape": "Listener"
      },
      "type": "list"
    },
    "Long": {
      "box": true,
      "type": "long"
    },
    "MeshData": {
      "documentation": "<p>An object representing a service mesh returned by a describe operation.</p>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh.</p>",
          "shape": "ResourceName"
        },
        "metadata": {
          "documentation": "<p>The associated metadata for the service mesh.</p>",
          "shape": "ResourceMetadata"
        },
        "status": {
          "documentation": "<p>The status of the service mesh.</p>",
          "shape": "MeshStatus"
        }
      },
      "required": [
        "meshName",
        "metadata"
      ],
      "type": "structure"
    },
    "MeshList": {
      "member": {
        "shape": "MeshRef"
      },
      "type": "list"
    },
    "MeshRef": {
      "documentation": "<p>An object representing a service mesh returned by a list operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The full Amazon Resource Name (ARN) of the service mesh.</p>",
          "shape": "Arn"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "MeshStatus": {
      "documentation": "<p>An object representing the status of a service mesh.</p>",
      "members": {
        "status": {
          "documentation": "<p>The current mesh status.</p>",
          "shape": "MeshStatusCode"
        }
      },
      "type": "structure"
    },
    "MeshStatusCode": {
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ],
      "type": "string"
    },
    "NotFoundException": {
      "documentation": "<p>The specified resource does not exist. Check your request syntax and try again.</p>",
      "error": {
        "code": "NotFoundException",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PercentInt": {
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "PortMapping": {
      "documentation": "<p>An object representing a virtual node listener port mapping.</p>",
      "members": {
        "port": {
          "documentation": "<p>The port used for the port mapping.</p>",
          "shape": "PortNumber"
        },
        "protocol": {
          "documentation": "<p>The protocol used for the port mapping.</p>",
          "shape": "PortProtocol"
        }
      },
      "type": "structure"
    },
    "PortNumber": {
      "max": 65535,
      "min": 1,
      "type": "integer"
    },
    "PortProtocol": {
      "enum": [
        "http",
        "tcp"
      ],
      "type": "string"
    },
    "ResourceInUseException": {
      "documentation": "<p>You cannot delete the specified resource because it is in use or required by another resource.</p>",
      "error": {
        "code": "ResourceInUseException",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceMetadata": {
      "documentation": "<p>An object representing metadata for a resource.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The full Amazon Resource Name (ARN) for the resource.</p>\n         <note>\n            <p>After you create a virtual node, set this value (either the full ARN or the\n            truncated resource name, for example, <code>mesh/default/virtualNode/simpleapp</code>,\n            as the <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's\n            Envoy proxy container in your task definition or pod spec. This is then mapped to the\n               <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The Unix epoch timestamp in seconds for when the resource was last updated.</p>",
          "shape": "Timestamp"
        },
        "uid": {
          "documentation": "<p>The unique identifier for the resource.</p>",
          "shape": "String"
        },
        "version": {
          "documentation": "<p>The version of the resource. Resources are created at version 1, and this version is\n         incremented each time they are updated.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "ResourceName": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "RouteData": {
      "documentation": "<p>An object representing a route returned by a describe operation.</p>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the route resides.</p>",
          "shape": "ResourceName"
        },
        "metadata": {
          "documentation": "<p>The associated metadata for the route.</p>",
          "shape": "ResourceMetadata"
        },
        "routeName": {
          "documentation": "<p>The name of the route.</p>",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The specifications of the route.</p>",
          "shape": "RouteSpec"
        },
        "status": {
          "documentation": "<p>The status of the route.</p>",
          "shape": "RouteStatus"
        },
        "virtualRouterName": {
          "documentation": "<p>The virtual router with which the route is associated.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "RouteList": {
      "member": {
        "shape": "RouteRef"
      },
      "type": "list"
    },
    "RouteRef": {
      "documentation": "<p>An object representing a route returned by a list operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The full Amazon Resource Name (ARN) for the route.</p>",
          "shape": "Arn"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the route resides.</p>",
          "shape": "ResourceName"
        },
        "routeName": {
          "documentation": "<p>The name of the route.</p>",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The virtual router with which the route is associated.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "RouteSpec": {
      "documentation": "<p>An object representing the specification of a route.</p>",
      "members": {
        "httpRoute": {
          "documentation": "<p>The HTTP routing information for the route.</p>",
          "shape": "HttpRoute"
        }
      },
      "type": "structure"
    },
    "RouteStatus": {
      "documentation": "<p>An object representing the current status of a route.</p>",
      "members": {
        "status": {
          "documentation": "<p>The current status for the route.</p>",
          "shape": "RouteStatusCode"
        }
      },
      "type": "structure"
    },
    "RouteStatusCode": {
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ],
      "type": "string"
    },
    "ServiceDiscovery": {
      "documentation": "<p>An object representing the service discovery information for a virtual node.</p>",
      "members": {
        "dns": {
          "documentation": "<p>Specifies the DNS service name for the virtual node.</p>",
          "shape": "DnsServiceDiscovery"
        }
      },
      "type": "structure"
    },
    "ServiceName": {
      "type": "string"
    },
    "ServiceNames": {
      "max": 10,
      "member": {
        "shape": "ServiceName"
      },
      "type": "list"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The request has failed due to a temporary failure of the service.</p>",
      "error": {
        "code": "ServiceUnavailableException",
        "fault": true,
        "httpStatusCode": 503
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TooManyRequestsException": {
      "documentation": "<p>The maximum request rate permitted by the App Mesh APIs has been exceeded for your\n         account. For best results, use an increasing or variable sleep interval between requests.</p>",
      "error": {
        "code": "TooManyRequestsException",
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UpdateRouteInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the route resides.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "routeName": {
          "documentation": "<p>The name of the route to update.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The new route specification to apply. This overwrites the existing data.</p>",
          "shape": "RouteSpec"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router with which the route is associated.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "UpdateRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>A full description of the route that was updated.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "type": "structure"
    },
    "UpdateVirtualNodeInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual node resides.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The new virtual node specification to apply. This overwrites the existing data.</p>",
          "shape": "VirtualNodeSpec"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to update.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "UpdateVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>A full description of the virtual node that was updated.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "type": "structure"
    },
    "UpdateVirtualRouterInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual router resides.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The new virtual router specification to apply. This overwrites the existing data.</p>",
          "shape": "VirtualRouterSpec"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to update.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "UpdateVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>A full description of the virtual router that was updated.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "type": "structure"
    },
    "VirtualNodeData": {
      "documentation": "<p>An object representing a virtual node returned by a describe operation.</p>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual node resides.</p>",
          "shape": "ResourceName"
        },
        "metadata": {
          "documentation": "<p>The associated metadata for the virtual node.</p>",
          "shape": "ResourceMetadata"
        },
        "spec": {
          "documentation": "<p>The specifications of the virtual node.</p>",
          "shape": "VirtualNodeSpec"
        },
        "status": {
          "documentation": "<p>The current status for the virtual node.</p>",
          "shape": "VirtualNodeStatus"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "VirtualNodeList": {
      "member": {
        "shape": "VirtualNodeRef"
      },
      "type": "list"
    },
    "VirtualNodeRef": {
      "documentation": "<p>An object representing a virtual node returned by a list operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The full Amazon Resource Name (ARN) for the virtual node.</p>",
          "shape": "Arn"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual node resides.</p>",
          "shape": "ResourceName"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "VirtualNodeSpec": {
      "documentation": "<p>An object representing the specification of a virtual node.</p>",
      "members": {
        "backends": {
          "documentation": "<p>The backends to which the virtual node is expected to send outbound traffic.</p>",
          "shape": "Backends"
        },
        "listeners": {
          "documentation": "<p>The listeners from which the virtual node is expected to receive inbound traffic.</p>",
          "shape": "Listeners"
        },
        "serviceDiscovery": {
          "documentation": "<p>The service discovery information for the virtual node.</p>",
          "shape": "ServiceDiscovery"
        }
      },
      "type": "structure"
    },
    "VirtualNodeStatus": {
      "documentation": "<p>An object representing the current status of the virtual node.</p>",
      "members": {
        "status": {
          "documentation": "<p>The current status of the virtual node.</p>",
          "shape": "VirtualNodeStatusCode"
        }
      },
      "type": "structure"
    },
    "VirtualNodeStatusCode": {
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ],
      "type": "string"
    },
    "VirtualRouterData": {
      "documentation": "<p>An object representing a virtual router returned by a describe operation.</p>",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual router resides.</p>",
          "shape": "ResourceName"
        },
        "metadata": {
          "documentation": "<p>The associated metadata for the virtual router.</p>",
          "shape": "ResourceMetadata"
        },
        "spec": {
          "documentation": "<p>The specifications of the virtual router.</p>",
          "shape": "VirtualRouterSpec"
        },
        "status": {
          "documentation": "<p>The current status of the virtual router.</p>",
          "shape": "VirtualRouterStatus"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "VirtualRouterList": {
      "member": {
        "shape": "VirtualRouterRef"
      },
      "type": "list"
    },
    "VirtualRouterRef": {
      "documentation": "<p>An object representing a virtual router returned by a list operation.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The full Amazon Resource Name (ARN) for the virtual router.</p>",
          "shape": "Arn"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh in which the virtual router resides.</p>",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "VirtualRouterSpec": {
      "documentation": "<p>An object representing the specification of a virtual router.</p>",
      "members": {
        "serviceNames": {
          "documentation": "<p>The service mesh service names to associate with the virtual router.</p>",
          "shape": "ServiceNames"
        }
      },
      "type": "structure"
    },
    "VirtualRouterStatus": {
      "documentation": "<p>An object representing the status of a virtual router. </p>",
      "members": {
        "status": {
          "documentation": "<p>The current status of the virtual router.</p>",
          "shape": "VirtualRouterStatusCode"
        }
      },
      "type": "structure"
    },
    "VirtualRouterStatusCode": {
      "enum": [
        "ACTIVE",
        "DELETED",
        "INACTIVE"
      ],
      "type": "string"
    },
    "WeightedTarget": {
      "documentation": "<p>An object representing a target and its relative weight. Traffic is distributed across\n         targets according to their relative weight. For example, a weighted target with a relative\n         weight of 50 receives five times as much traffic as one with a relative weight of\n         10.</p>",
      "members": {
        "virtualNode": {
          "documentation": "<p>The virtual node to associate with the weighted target.</p>",
          "shape": "ResourceName"
        },
        "weight": {
          "documentation": "<p>The relative weight of the weighted target.</p>",
          "shape": "PercentInt"
        }
      },
      "type": "structure"
    },
    "WeightedTargets": {
      "member": {
        "shape": "WeightedTarget"
      },
      "type": "list"
    }
  },
  "version": "2.0"
}
