{
  "documentation": "<p>For more information about AWS CloudHSM, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS CloudHSM</a> and the <a href=\"https://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS CloudHSM User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2017-04-28",
    "endpointPrefix": "cloudhsmv2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CloudHSM V2",
    "serviceFullName": "AWS CloudHSM V2",
    "serviceId": "CloudHSM V2",
    "signatureVersion": "v4",
    "signingName": "cloudhsm",
    "targetPrefix": "BaldrApiService",
    "uid": "cloudhsmv2-2017-04-28"
  },
  "operations": {
    "CopyBackupToRegion": {
      "documentation": "<p>Copy an AWS CloudHSM cluster backup to a different region.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyBackupToRegionRequest"
      },
      "name": "CopyBackupToRegion",
      "output": {
        "shape": "CopyBackupToRegionResponse"
      }
    },
    "CreateCluster": {
      "documentation": "<p>Creates a new AWS CloudHSM cluster.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "name": "CreateCluster",
      "output": {
        "shape": "CreateClusterResponse"
      }
    },
    "CreateHsm": {
      "documentation": "<p>Creates a new hardware security module (HSM) in the specified AWS CloudHSM cluster.</p>",
      "errors": [
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHsmRequest"
      },
      "name": "CreateHsm",
      "output": {
        "shape": "CreateHsmResponse"
      }
    },
    "DeleteBackup": {
      "documentation": "<p>Deletes a specified AWS CloudHSM backup. A backup can be restored up to 7 days after the DeleteBackup request is made. For more information on restoring a backup, see <a>RestoreBackup</a>.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBackupRequest"
      },
      "name": "DeleteBackup",
      "output": {
        "shape": "DeleteBackupResponse"
      }
    },
    "DeleteCluster": {
      "documentation": "<p>Deletes the specified AWS CloudHSM cluster. Before you can delete a cluster, you must delete all HSMs in the cluster. To see if the cluster contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "name": "DeleteCluster",
      "output": {
        "shape": "DeleteClusterResponse"
      }
    },
    "DeleteHsm": {
      "documentation": "<p>Deletes the specified HSM. To specify an HSM, you can use its identifier (ID), the IP address of the HSM's elastic network interface (ENI), or the ID of the HSM's ENI. You need to specify only one of these values. To find these values, use <a>DescribeClusters</a>.</p>",
      "errors": [
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteHsmRequest"
      },
      "name": "DeleteHsm",
      "output": {
        "shape": "DeleteHsmResponse"
      }
    },
    "DescribeBackups": {
      "documentation": "<p>Gets information about backups of AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the backups. When the response contains only a subset of backups, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more backups to get.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeBackupsRequest"
      },
      "name": "DescribeBackups",
      "output": {
        "shape": "DescribeBackupsResponse"
      }
    },
    "DescribeClusters": {
      "documentation": "<p>Gets information about AWS CloudHSM clusters.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the clusters. When the response contains only a subset of clusters, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>DescribeClusters</code> request to get more clusters. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more clusters to get.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClustersRequest"
      },
      "name": "DescribeClusters",
      "output": {
        "shape": "DescribeClustersResponse"
      }
    },
    "InitializeCluster": {
      "documentation": "<p>Claims an AWS CloudHSM cluster by submitting the cluster certificate issued by your issuing certificate authority (CA) and the CA's root certificate. Before you can claim a cluster, you must sign the cluster's certificate signing request (CSR) with your issuing CA. To get the cluster's CSR, use <a>DescribeClusters</a>.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InitializeClusterRequest"
      },
      "name": "InitializeCluster",
      "output": {
        "shape": "InitializeClusterResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Gets a list of tags for the specified AWS CloudHSM cluster.</p> <p>This is a paginated operation, which means that each response might contain only a subset of all the tags. When the response contains only a subset of tags, it includes a <code>NextToken</code> value. Use this value in a subsequent <code>ListTags</code> request to get more tags. When you receive a response with no <code>NextToken</code> (or an empty or null value), that means there are no more tags to get.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "RestoreBackup": {
      "documentation": "<p>Restores a specified AWS CloudHSM backup that is in the <code>PENDING_DELETION</code> state. For mor information on deleting a backup, see <a>DeleteBackup</a>.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreBackupRequest"
      },
      "name": "RestoreBackup",
      "output": {
        "shape": "RestoreBackupResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified AWS CloudHSM cluster.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tag or tags from the specified AWS CloudHSM cluster.</p>",
      "errors": [
        {
          "shape": "CloudHsmAccessDeniedException"
        },
        {
          "shape": "CloudHsmInternalFailureException"
        },
        {
          "shape": "CloudHsmInvalidRequestException"
        },
        {
          "shape": "CloudHsmResourceNotFoundException"
        },
        {
          "shape": "CloudHsmServiceException"
        },
        {
          "shape": "CloudHsmTagException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "Backup": {
      "documentation": "<p>Contains information about a backup of an AWS CloudHSM cluster. All backup objects contain the BackupId, BackupState, ClusterId, and CreateTimestamp parameters. Backups that were copied into a destination region additionally contain the CopyTimestamp, SourceBackup, SourceCluster, and SourceRegion paramters. A backup that is pending deletion will include the DeleteTimestamp parameter.</p>",
      "members": {
        "BackupId": {
          "documentation": "<p>The identifier (ID) of the backup.</p>",
          "shape": "BackupId"
        },
        "BackupState": {
          "documentation": "<p>The state of the backup.</p>",
          "shape": "BackupState"
        },
        "ClusterId": {
          "documentation": "<p>The identifier (ID) of the cluster that was backed up.</p>",
          "shape": "ClusterId"
        },
        "CopyTimestamp": {
          "documentation": "<p>The date and time when the backup was copied from a source backup.</p>",
          "shape": "Timestamp"
        },
        "CreateTimestamp": {
          "documentation": "<p>The date and time when the backup was created.</p>",
          "shape": "Timestamp"
        },
        "DeleteTimestamp": {
          "documentation": "<p>The date and time when the backup will be permanently deleted.</p>",
          "shape": "Timestamp"
        },
        "SourceBackup": {
          "documentation": "<p>The identifier (ID) of the source backup from which the new backup was copied.</p>",
          "shape": "BackupId"
        },
        "SourceCluster": {
          "documentation": "<p>The identifier (ID) of the cluster containing the source backup from which the new backup was copied. .</p>",
          "shape": "ClusterId"
        },
        "SourceRegion": {
          "documentation": "<p>The AWS region that contains the source backup from which the new backup was copied.</p>",
          "shape": "Region"
        },
        "TagList": {
          "shape": "TagList"
        }
      },
      "required": [
        "BackupId"
      ],
      "type": "structure"
    },
    "BackupId": {
      "pattern": "backup-[2-7a-zA-Z]{11,16}",
      "type": "string"
    },
    "BackupPolicy": {
      "enum": [
        "DEFAULT"
      ],
      "type": "string"
    },
    "BackupState": {
      "enum": [
        "CREATE_IN_PROGRESS",
        "READY",
        "DELETED",
        "PENDING_DELETION"
      ],
      "type": "string"
    },
    "Backups": {
      "member": {
        "shape": "Backup"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Cert": {
      "max": 5000,
      "pattern": "[a-zA-Z0-9+-/=\\s]*",
      "type": "string"
    },
    "Certificates": {
      "documentation": "<p>Contains one or more certificates or a certificate signing request (CSR).</p>",
      "members": {
        "AwsHardwareCertificate": {
          "documentation": "<p>The HSM hardware certificate issued (signed) by AWS CloudHSM.</p>",
          "shape": "Cert"
        },
        "ClusterCertificate": {
          "documentation": "<p>The cluster certificate issued (signed) by the issuing certificate authority (CA) of the cluster's owner.</p>",
          "shape": "Cert"
        },
        "ClusterCsr": {
          "documentation": "<p>The cluster's certificate signing request (CSR). The CSR exists only when the cluster's state is <code>UNINITIALIZED</code>.</p>",
          "shape": "Cert"
        },
        "HsmCertificate": {
          "documentation": "<p>The HSM certificate issued (signed) by the HSM hardware.</p>",
          "shape": "Cert"
        },
        "ManufacturerHardwareCertificate": {
          "documentation": "<p>The HSM hardware certificate issued (signed) by the hardware manufacturer.</p>",
          "shape": "Cert"
        }
      },
      "type": "structure"
    },
    "CloudHsmAccessDeniedException": {
      "documentation": "<p>The request was rejected because the requester does not have permission to perform the requested operation.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CloudHsmInternalFailureException": {
      "documentation": "<p>The request was rejected because of an AWS CloudHSM internal failure. The request can be retried.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CloudHsmInvalidRequestException": {
      "documentation": "<p>The request was rejected because it is not a valid request.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CloudHsmResourceNotFoundException": {
      "documentation": "<p>The request was rejected because it refers to a resource that cannot be found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CloudHsmServiceException": {
      "documentation": "<p>The request was rejected because an error occurred.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "CloudHsmTagException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Cluster": {
      "documentation": "<p>Contains information about an AWS CloudHSM cluster.</p>",
      "members": {
        "BackupPolicy": {
          "documentation": "<p>The cluster's backup policy.</p>",
          "shape": "BackupPolicy"
        },
        "Certificates": {
          "documentation": "<p>Contains one or more certificates or a certificate signing request (CSR).</p>",
          "shape": "Certificates"
        },
        "ClusterId": {
          "documentation": "<p>The cluster's identifier (ID).</p>",
          "shape": "ClusterId"
        },
        "CreateTimestamp": {
          "documentation": "<p>The date and time when the cluster was created.</p>",
          "shape": "Timestamp"
        },
        "HsmType": {
          "documentation": "<p>The type of HSM that the cluster contains.</p>",
          "shape": "HsmType"
        },
        "Hsms": {
          "documentation": "<p>Contains information about the HSMs in the cluster.</p>",
          "shape": "Hsms"
        },
        "PreCoPassword": {
          "documentation": "<p>The default password for the cluster's Pre-Crypto Officer (PRECO) user.</p>",
          "shape": "PreCoPassword"
        },
        "SecurityGroup": {
          "documentation": "<p>The identifier (ID) of the cluster's security group.</p>",
          "shape": "SecurityGroup"
        },
        "SourceBackupId": {
          "documentation": "<p>The identifier (ID) of the backup used to create the cluster. This value exists only when the cluster was created from a backup.</p>",
          "shape": "BackupId"
        },
        "State": {
          "documentation": "<p>The cluster's state.</p>",
          "shape": "ClusterState"
        },
        "StateMessage": {
          "documentation": "<p>A description of the cluster's state.</p>",
          "shape": "StateMessage"
        },
        "SubnetMapping": {
          "documentation": "<p>A map from availability zone to the cluster\u2019s subnet in that availability zone.</p>",
          "shape": "ExternalSubnetMapping"
        },
        "TagList": {
          "shape": "TagList"
        },
        "VpcId": {
          "documentation": "<p>The identifier (ID) of the virtual private cloud (VPC) that contains the cluster.</p>",
          "shape": "VpcId"
        }
      },
      "type": "structure"
    },
    "ClusterId": {
      "pattern": "cluster-[2-7a-zA-Z]{11,16}",
      "type": "string"
    },
    "ClusterState": {
      "enum": [
        "CREATE_IN_PROGRESS",
        "UNINITIALIZED",
        "INITIALIZE_IN_PROGRESS",
        "INITIALIZED",
        "ACTIVE",
        "UPDATE_IN_PROGRESS",
        "DELETE_IN_PROGRESS",
        "DELETED",
        "DEGRADED"
      ],
      "type": "string"
    },
    "Clusters": {
      "member": {
        "shape": "Cluster"
      },
      "type": "list"
    },
    "CopyBackupToRegionRequest": {
      "members": {
        "BackupId": {
          "documentation": "<p>The ID of the backup that will be copied to the destination region. </p>",
          "shape": "BackupId"
        },
        "DestinationRegion": {
          "documentation": "<p>The AWS region that will contain your copied CloudHSM cluster backup.</p>",
          "shape": "Region"
        },
        "TagList": {
          "shape": "TagList"
        }
      },
      "required": [
        "DestinationRegion",
        "BackupId"
      ],
      "type": "structure"
    },
    "CopyBackupToRegionResponse": {
      "members": {
        "DestinationBackup": {
          "documentation": "<p>Information on the backup that will be copied to the destination region, including CreateTimestamp, SourceBackup, SourceCluster, and Source Region. CreateTimestamp of the destination backup will be the same as that of the source backup.</p> <p>You will need to use the <code>sourceBackupID</code> returned in this operation to use the <a>DescribeBackups</a> operation on the backup that will be copied to the destination region.</p>",
          "shape": "DestinationBackup"
        }
      },
      "type": "structure"
    },
    "CreateClusterRequest": {
      "members": {
        "HsmType": {
          "documentation": "<p>The type of HSM to use in the cluster. Currently the only allowed value is <code>hsm1.medium</code>.</p>",
          "shape": "HsmType"
        },
        "SourceBackupId": {
          "documentation": "<p>The identifier (ID) of the cluster backup to restore. Use this value to restore the cluster from a backup instead of creating a new cluster. To find the backup ID, use <a>DescribeBackups</a>.</p>",
          "shape": "BackupId"
        },
        "SubnetIds": {
          "documentation": "<p>The identifiers (IDs) of the subnets where you are creating the cluster. You must specify at least one subnet. If you specify multiple subnets, they must meet the following criteria:</p> <ul> <li> <p>All subnets must be in the same virtual private cloud (VPC).</p> </li> <li> <p>You can specify only one subnet per Availability Zone.</p> </li> </ul>",
          "shape": "SubnetIds"
        },
        "TagList": {
          "shape": "TagList"
        }
      },
      "required": [
        "SubnetIds",
        "HsmType"
      ],
      "type": "structure"
    },
    "CreateClusterResponse": {
      "members": {
        "Cluster": {
          "documentation": "<p>Information about the cluster that was created.</p>",
          "shape": "Cluster"
        }
      },
      "type": "structure"
    },
    "CreateHsmRequest": {
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone where you are creating the HSM. To find the cluster's Availability Zones, use <a>DescribeClusters</a>.</p>",
          "shape": "ExternalAz"
        },
        "ClusterId": {
          "documentation": "<p>The identifier (ID) of the HSM's cluster. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
          "shape": "ClusterId"
        },
        "IpAddress": {
          "documentation": "<p>The HSM's IP address. If you specify an IP address, use an available address from the subnet that maps to the Availability Zone where you are creating the HSM. If you don't specify an IP address, one is chosen for you from that subnet.</p>",
          "shape": "IpAddress"
        }
      },
      "required": [
        "ClusterId",
        "AvailabilityZone"
      ],
      "type": "structure"
    },
    "CreateHsmResponse": {
      "members": {
        "Hsm": {
          "documentation": "<p>Information about the HSM that was created.</p>",
          "shape": "Hsm"
        }
      },
      "type": "structure"
    },
    "DeleteBackupRequest": {
      "members": {
        "BackupId": {
          "documentation": "<p>The ID of the backup to be deleted. To find the ID of a backup, use the <a>DescribeBackups</a> operation.</p>",
          "shape": "BackupId"
        }
      },
      "required": [
        "BackupId"
      ],
      "type": "structure"
    },
    "DeleteBackupResponse": {
      "members": {
        "Backup": {
          "documentation": "<p>Information on the <code>Backup</code> object deleted.</p>",
          "shape": "Backup"
        }
      },
      "type": "structure"
    },
    "DeleteClusterRequest": {
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier (ID) of the cluster that you are deleting. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
          "shape": "ClusterId"
        }
      },
      "required": [
        "ClusterId"
      ],
      "type": "structure"
    },
    "DeleteClusterResponse": {
      "members": {
        "Cluster": {
          "documentation": "<p>Information about the cluster that was deleted.</p>",
          "shape": "Cluster"
        }
      },
      "type": "structure"
    },
    "DeleteHsmRequest": {
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier (ID) of the cluster that contains the HSM that you are deleting.</p>",
          "shape": "ClusterId"
        },
        "EniId": {
          "documentation": "<p>The identifier (ID) of the elastic network interface (ENI) of the HSM that you are deleting.</p>",
          "shape": "EniId"
        },
        "EniIp": {
          "documentation": "<p>The IP address of the elastic network interface (ENI) of the HSM that you are deleting.</p>",
          "shape": "IpAddress"
        },
        "HsmId": {
          "documentation": "<p>The identifier (ID) of the HSM that you are deleting.</p>",
          "shape": "HsmId"
        }
      },
      "required": [
        "ClusterId"
      ],
      "type": "structure"
    },
    "DeleteHsmResponse": {
      "members": {
        "HsmId": {
          "documentation": "<p>The identifier (ID) of the HSM that was deleted.</p>",
          "shape": "HsmId"
        }
      },
      "type": "structure"
    },
    "DescribeBackupsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>One or more filters to limit the items returned in the response.</p> <p>Use the <code>backupIds</code> filter to return only the specified backups. Specify backups by their backup identifier (ID).</p> <p>Use the <code>sourceBackupIds</code> filter to return only the backups created from a source backup. The <code>sourceBackupID</code> of a source backup is returned by the <a>CopyBackupToRegion</a> operation.</p> <p>Use the <code>clusterIds</code> filter to return only the backups for the specified clusters. Specify clusters by their cluster identifier (ID).</p> <p>Use the <code>states</code> filter to return only backups that match the specified state.</p>",
          "shape": "Filters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of backups to return in the response. When there are more backups than the number you specify, the response contains a <code>NextToken</code> value.</p>",
          "shape": "MaxSize"
        },
        "NextToken": {
          "documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this value to get more backups.</p>",
          "shape": "NextToken"
        },
        "SortAscending": {
          "documentation": "<p>Designates whether or not to sort the return backups by ascending chronological order of generation.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "DescribeBackupsResponse": {
      "members": {
        "Backups": {
          "documentation": "<p>A list of backups.</p>",
          "shape": "Backups"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates that the response contains only a subset of backups. Use this value in a subsequent <code>DescribeBackups</code> request to get more backups.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeClustersRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>One or more filters to limit the items returned in the response.</p> <p>Use the <code>clusterIds</code> filter to return only the specified clusters. Specify clusters by their cluster identifier (ID).</p> <p>Use the <code>vpcIds</code> filter to return only the clusters in the specified virtual private clouds (VPCs). Specify VPCs by their VPC identifier (ID).</p> <p>Use the <code>states</code> filter to return only clusters that match the specified state.</p>",
          "shape": "Filters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of clusters to return in the response. When there are more clusters than the number you specify, the response contains a <code>NextToken</code> value.</p>",
          "shape": "MaxSize"
        },
        "NextToken": {
          "documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this value to get more clusters.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeClustersResponse": {
      "members": {
        "Clusters": {
          "documentation": "<p>A list of clusters.</p>",
          "shape": "Clusters"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates that the response contains only a subset of clusters. Use this value in a subsequent <code>DescribeClusters</code> request to get more clusters.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DestinationBackup": {
      "documentation": "<p>Contains information about the backup that will be copied and created by the <a>CopyBackupToRegion</a> operation.</p>",
      "members": {
        "CreateTimestamp": {
          "documentation": "<p>The date and time when both the source backup was created.</p>",
          "shape": "Timestamp"
        },
        "SourceBackup": {
          "documentation": "<p>The identifier (ID) of the source backup from which the new backup was copied.</p>",
          "shape": "BackupId"
        },
        "SourceCluster": {
          "documentation": "<p>The identifier (ID) of the cluster containing the source backup from which the new backup was copied.</p>",
          "shape": "ClusterId"
        },
        "SourceRegion": {
          "documentation": "<p>The AWS region that contains the source backup from which the new backup was copied.</p>",
          "shape": "Region"
        }
      },
      "type": "structure"
    },
    "EniId": {
      "pattern": "eni-[0-9a-fA-F]{8,17}",
      "type": "string"
    },
    "ExternalAz": {
      "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d[a-z]",
      "type": "string"
    },
    "ExternalSubnetMapping": {
      "key": {
        "shape": "ExternalAz"
      },
      "type": "map",
      "value": {
        "shape": "SubnetId"
      }
    },
    "Field": {
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "Filters": {
      "key": {
        "shape": "Field"
      },
      "type": "map",
      "value": {
        "shape": "Strings"
      }
    },
    "Hsm": {
      "documentation": "<p>Contains information about a hardware security module (HSM) in an AWS CloudHSM cluster.</p>",
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone that contains the HSM.</p>",
          "shape": "ExternalAz"
        },
        "ClusterId": {
          "documentation": "<p>The identifier (ID) of the cluster that contains the HSM.</p>",
          "shape": "ClusterId"
        },
        "EniId": {
          "documentation": "<p>The identifier (ID) of the HSM's elastic network interface (ENI).</p>",
          "shape": "EniId"
        },
        "EniIp": {
          "documentation": "<p>The IP address of the HSM's elastic network interface (ENI).</p>",
          "shape": "IpAddress"
        },
        "HsmId": {
          "documentation": "<p>The HSM's identifier (ID).</p>",
          "shape": "HsmId"
        },
        "State": {
          "documentation": "<p>The HSM's state.</p>",
          "shape": "HsmState"
        },
        "StateMessage": {
          "documentation": "<p>A description of the HSM's state.</p>",
          "shape": "String"
        },
        "SubnetId": {
          "documentation": "<p>The subnet that contains the HSM's elastic network interface (ENI).</p>",
          "shape": "SubnetId"
        }
      },
      "required": [
        "HsmId"
      ],
      "type": "structure"
    },
    "HsmId": {
      "pattern": "hsm-[2-7a-zA-Z]{11,16}",
      "type": "string"
    },
    "HsmState": {
      "enum": [
        "CREATE_IN_PROGRESS",
        "ACTIVE",
        "DEGRADED",
        "DELETE_IN_PROGRESS",
        "DELETED"
      ],
      "type": "string"
    },
    "HsmType": {
      "pattern": "(hsm1\\.medium)",
      "type": "string"
    },
    "Hsms": {
      "member": {
        "shape": "Hsm"
      },
      "type": "list"
    },
    "InitializeClusterRequest": {
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier (ID) of the cluster that you are claiming. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
          "shape": "ClusterId"
        },
        "SignedCert": {
          "documentation": "<p>The cluster certificate issued (signed) by your issuing certificate authority (CA). The certificate must be in PEM format and can contain a maximum of 5000 characters.</p>",
          "shape": "Cert"
        },
        "TrustAnchor": {
          "documentation": "<p>The issuing certificate of the issuing certificate authority (CA) that issued (signed) the cluster certificate. You must use a self-signed certificate. The certificate used to sign the HSM CSR must be directly available, and thus must be the root certificate. The certificate must be in PEM format and can contain a maximum of 5000 characters.</p>",
          "shape": "Cert"
        }
      },
      "required": [
        "ClusterId",
        "SignedCert",
        "TrustAnchor"
      ],
      "type": "structure"
    },
    "InitializeClusterResponse": {
      "members": {
        "State": {
          "documentation": "<p>The cluster's state.</p>",
          "shape": "ClusterState"
        },
        "StateMessage": {
          "documentation": "<p>A description of the cluster's state.</p>",
          "shape": "StateMessage"
        }
      },
      "type": "structure"
    },
    "IpAddress": {
      "pattern": "\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}",
      "type": "string"
    },
    "ListTagsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of tags to return in the response. When there are more tags than the number you specify, the response contains a <code>NextToken</code> value.</p>",
          "shape": "MaxSize"
        },
        "NextToken": {
          "documentation": "<p>The <code>NextToken</code> value that you received in the previous response. Use this value to get more tags.</p>",
          "shape": "NextToken"
        },
        "ResourceId": {
          "documentation": "<p>The cluster identifier (ID) for the cluster whose tags you are getting. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResourceId"
      ],
      "type": "structure"
    },
    "ListTagsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>An opaque string that indicates that the response contains only a subset of tags. Use this value in a subsequent <code>ListTags</code> request to get more tags.</p>",
          "shape": "NextToken"
        },
        "TagList": {
          "documentation": "<p>A list of tags.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "TagList"
      ],
      "type": "structure"
    },
    "MaxSize": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "max": 256,
      "pattern": ".*",
      "type": "string"
    },
    "PreCoPassword": {
      "max": 32,
      "min": 7,
      "type": "string"
    },
    "Region": {
      "pattern": "[a-z]{2}(-(gov))?-(east|west|north|south|central){1,2}-\\d",
      "type": "string"
    },
    "ResourceId": {
      "pattern": "(?:cluster|backup)-[2-7a-zA-Z]{11,16}",
      "type": "string"
    },
    "RestoreBackupRequest": {
      "members": {
        "BackupId": {
          "documentation": "<p>The ID of the backup to be restored. To find the ID of a backup, use the <a>DescribeBackups</a> operation.</p>",
          "shape": "BackupId"
        }
      },
      "required": [
        "BackupId"
      ],
      "type": "structure"
    },
    "RestoreBackupResponse": {
      "members": {
        "Backup": {
          "documentation": "<p>Information on the <code>Backup</code> object created.</p>",
          "shape": "Backup"
        }
      },
      "type": "structure"
    },
    "SecurityGroup": {
      "pattern": "sg-[0-9a-fA-F]{8,17}",
      "type": "string"
    },
    "StateMessage": {
      "max": 300,
      "pattern": ".*",
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "Strings": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "SubnetId": {
      "pattern": "subnet-[0-9a-fA-F]{8,17}",
      "type": "string"
    },
    "SubnetIds": {
      "max": 10,
      "member": {
        "shape": "SubnetId"
      },
      "min": 1,
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>Contains a tag. A tag is a key-value pair.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key of the tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 1,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The cluster identifier (ID) for the cluster that you are tagging. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
          "shape": "ResourceId"
        },
        "TagList": {
          "documentation": "<p>A list of one or more tags.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceId",
        "TagList"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The cluster identifier (ID) for the cluster whose tags you are removing. To find the cluster ID, use <a>DescribeClusters</a>.</p>",
          "shape": "ResourceId"
        },
        "TagKeyList": {
          "documentation": "<p>A list of one or more tag keys for the tags that you are removing. Specify only the tag keys, not the tag values.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceId",
        "TagKeyList"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "VpcId": {
      "pattern": "vpc-[0-9a-fA-F]",
      "type": "string"
    },
    "errorMessage": {
      "type": "string"
    }
  },
  "version": "2.0"
}
