{
  "documentation": "<fullname>AWS Directory Service</fullname> <p>AWS Directory Service is a web service that makes it easy for you to setup and run directories in the AWS cloud, or connect your AWS resources with an existing on-premises Microsoft Active Directory. This guide provides detailed information about AWS Directory Service operations, data types, parameters, and errors. For information about AWS Directory Services features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory Service</a> and the <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/what_is.html\">AWS Directory Service Administration Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWS Directory Service and other AWS services. For more information about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> </note>",
  "metadata": {
    "apiVersion": "2015-04-16",
    "endpointPrefix": "ds",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Directory Service",
    "serviceFullName": "AWS Directory Service",
    "serviceId": "Directory Service",
    "signatureVersion": "v4",
    "targetPrefix": "DirectoryService_20150416",
    "uid": "ds-2015-04-16"
  },
  "operations": {
    "AcceptSharedDirectory": {
      "documentation": "<p>Accepts a directory sharing request that was sent from the directory owner account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryAlreadySharedException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptSharedDirectoryRequest"
      },
      "name": "AcceptSharedDirectory",
      "output": {
        "shape": "AcceptSharedDirectoryResult"
      }
    },
    "AddIpRoutes": {
      "documentation": "<p>If the DNS server for your on-premises domain uses a publicly addressable IP address, you must add a CIDR address block to correctly route traffic to and from your Microsoft AD on Amazon Web Services. <i>AddIpRoutes</i> adds this address block. You can also use <i>AddIpRoutes</i> to facilitate routing traffic that uses public IP ranges from your Microsoft AD on AWS to a peer VPC. </p> <p>Before you call <i>AddIpRoutes</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>AddIpRoutes</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "IpRouteLimitExceededException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddIpRoutesRequest"
      },
      "name": "AddIpRoutes",
      "output": {
        "shape": "AddIpRoutesResult"
      }
    },
    "AddTagsToResource": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified directory. Each directory can have a maximum of 50 tags. Each tag consists of a key and optional value. Tag keys must be unique to each resource.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceRequest"
      },
      "name": "AddTagsToResource",
      "output": {
        "shape": "AddTagsToResourceResult"
      }
    },
    "CancelSchemaExtension": {
      "documentation": "<p>Cancels an in-progress schema extension to a Microsoft AD directory. Once a schema extension has started replicating to all domain controllers, the task can no longer be canceled. A schema extension can be canceled during any of the following states; <code>Initializing</code>, <code>CreatingSnapshot</code>, and <code>UpdatingSchema</code>.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelSchemaExtensionRequest"
      },
      "name": "CancelSchemaExtension",
      "output": {
        "shape": "CancelSchemaExtensionResult"
      }
    },
    "ConnectDirectory": {
      "documentation": "<p>Creates an AD Connector to connect to an on-premises directory.</p> <p>Before you call <code>ConnectDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>ConnectDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "errors": [
        {
          "shape": "DirectoryLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConnectDirectoryRequest"
      },
      "name": "ConnectDirectory",
      "output": {
        "shape": "ConnectDirectoryResult"
      }
    },
    "CreateAlias": {
      "documentation": "<p>Creates an alias for a directory and assigns the alias to the directory. The alias is used to construct the access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.</p> <important> <p>After an alias has been created, it cannot be deleted or reused, so this operation should only be used when absolutely necessary.</p> </important>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAliasRequest"
      },
      "name": "CreateAlias",
      "output": {
        "shape": "CreateAliasResult"
      }
    },
    "CreateComputer": {
      "documentation": "<p>Creates a computer account in the specified directory, and joins the computer to the directory.</p>",
      "errors": [
        {
          "shape": "AuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateComputerRequest"
      },
      "name": "CreateComputer",
      "output": {
        "shape": "CreateComputerResult"
      }
    },
    "CreateConditionalForwarder": {
      "documentation": "<p>Creates a conditional forwarder associated with your AWS directory. Conditional forwarders are required in order to set up a trust relationship with another domain. The conditional forwarder points to the trusted domain.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConditionalForwarderRequest"
      },
      "name": "CreateConditionalForwarder",
      "output": {
        "shape": "CreateConditionalForwarderResult"
      }
    },
    "CreateDirectory": {
      "documentation": "<p>Creates a Simple AD directory. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_simple_ad.html\">Simple Active Directory</a> in the <i>AWS Directory Service Admin Guide</i>.</p> <p>Before you call <code>CreateDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>CreateDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "errors": [
        {
          "shape": "DirectoryLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDirectoryRequest"
      },
      "name": "CreateDirectory",
      "output": {
        "shape": "CreateDirectoryResult"
      }
    },
    "CreateLogSubscription": {
      "documentation": "<p>Creates a subscription to forward real-time Directory Service domain controller security logs to the specified Amazon CloudWatch log group in your AWS account.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLogSubscriptionRequest"
      },
      "name": "CreateLogSubscription",
      "output": {
        "shape": "CreateLogSubscriptionResult"
      }
    },
    "CreateMicrosoftAD": {
      "documentation": "<p>Creates a Microsoft AD directory in the AWS Cloud. For more information, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/directory_microsoft_ad.html\">AWS Managed Microsoft AD</a> in the <i>AWS Directory Service Admin Guide</i>.</p> <p>Before you call <i>CreateMicrosoftAD</i>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <i>CreateMicrosoftAD</i> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "errors": [
        {
          "shape": "DirectoryLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMicrosoftADRequest"
      },
      "name": "CreateMicrosoftAD",
      "output": {
        "shape": "CreateMicrosoftADResult"
      }
    },
    "CreateSnapshot": {
      "documentation": "<p>Creates a snapshot of a Simple AD or Microsoft AD directory in the AWS cloud.</p> <note> <p>You cannot take snapshots of AD Connector directories.</p> </note>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "SnapshotLimitExceededException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSnapshotRequest"
      },
      "name": "CreateSnapshot",
      "output": {
        "shape": "CreateSnapshotResult"
      }
    },
    "CreateTrust": {
      "documentation": "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your AWS Managed Microsoft AD directory, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between an AWS Managed Microsoft AD directory and an external domain. You can create either a forest trust or an external trust.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTrustRequest"
      },
      "name": "CreateTrust",
      "output": {
        "shape": "CreateTrustResult"
      }
    },
    "DeleteConditionalForwarder": {
      "documentation": "<p>Deletes a conditional forwarder that has been set up for your AWS directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConditionalForwarderRequest"
      },
      "name": "DeleteConditionalForwarder",
      "output": {
        "shape": "DeleteConditionalForwarderResult"
      }
    },
    "DeleteDirectory": {
      "documentation": "<p>Deletes an AWS Directory Service directory.</p> <p>Before you call <code>DeleteDirectory</code>, ensure that all of the required permissions have been explicitly granted through a policy. For details about what permissions are required to run the <code>DeleteDirectory</code> operation, see <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/UsingWithDS_IAM_ResourcePermissions.html\">AWS Directory Service API Permissions: Actions, Resources, and Conditions Reference</a>.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDirectoryRequest"
      },
      "name": "DeleteDirectory",
      "output": {
        "shape": "DeleteDirectoryResult"
      }
    },
    "DeleteLogSubscription": {
      "documentation": "<p>Deletes the specified log subscription.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLogSubscriptionRequest"
      },
      "name": "DeleteLogSubscription",
      "output": {
        "shape": "DeleteLogSubscriptionResult"
      }
    },
    "DeleteSnapshot": {
      "documentation": "<p>Deletes a directory snapshot.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSnapshotRequest"
      },
      "name": "DeleteSnapshot",
      "output": {
        "shape": "DeleteSnapshotResult"
      }
    },
    "DeleteTrust": {
      "documentation": "<p>Deletes an existing trust relationship between your AWS Managed Microsoft AD directory and an external domain.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTrustRequest"
      },
      "name": "DeleteTrust",
      "output": {
        "shape": "DeleteTrustResult"
      }
    },
    "DeregisterCertificate": {
      "documentation": "<p>Deletes from the system the certificate that was registered for a secured LDAP connection.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "CertificateDoesNotExistException"
        },
        {
          "shape": "CertificateInUseException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterCertificateRequest"
      },
      "name": "DeregisterCertificate",
      "output": {
        "shape": "DeregisterCertificateResult"
      }
    },
    "DeregisterEventTopic": {
      "documentation": "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterEventTopicRequest"
      },
      "name": "DeregisterEventTopic",
      "output": {
        "shape": "DeregisterEventTopicResult"
      }
    },
    "DescribeCertificate": {
      "documentation": "<p>Displays information about the certificate registered for a secured LDAP connection.</p>",
      "errors": [
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "CertificateDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificateRequest"
      },
      "name": "DescribeCertificate",
      "output": {
        "shape": "DescribeCertificateResult"
      }
    },
    "DescribeConditionalForwarders": {
      "documentation": "<p>Obtains information about the conditional forwarders for this account.</p> <p>If no input parameters are provided for RemoteDomainNames, this request describes all conditional forwarders for the specified directory ID.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConditionalForwardersRequest"
      },
      "name": "DescribeConditionalForwarders",
      "output": {
        "shape": "DescribeConditionalForwardersResult"
      }
    },
    "DescribeDirectories": {
      "documentation": "<p>Obtains information about the directories that belong to this account.</p> <p>You can retrieve information about specific directories by passing the directory identifiers in the <code>DirectoryIds</code> parameter. Otherwise, all directories that belong to the current account are returned.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> request and response parameters. If more results are available, the <code>DescribeDirectoriesResult.NextToken</code> member contains a token that you pass in the next call to <a>DescribeDirectories</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <code>Limit</code> parameter.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectoriesRequest"
      },
      "name": "DescribeDirectories",
      "output": {
        "shape": "DescribeDirectoriesResult"
      }
    },
    "DescribeDomainControllers": {
      "documentation": "<p>Provides information about any domain controllers in your directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDomainControllersRequest"
      },
      "name": "DescribeDomainControllers",
      "output": {
        "shape": "DescribeDomainControllersResult"
      }
    },
    "DescribeEventTopics": {
      "documentation": "<p>Obtains information about which SNS topics receive status messages from the specified directory.</p> <p>If no input parameters are provided, such as DirectoryId or TopicName, this request describes all of the associations in the account.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventTopicsRequest"
      },
      "name": "DescribeEventTopics",
      "output": {
        "shape": "DescribeEventTopicsResult"
      }
    },
    "DescribeLDAPSSettings": {
      "documentation": "<p>Describes the status of LDAP security for the specified directory.</p>",
      "errors": [
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLDAPSSettingsRequest"
      },
      "name": "DescribeLDAPSSettings",
      "output": {
        "shape": "DescribeLDAPSSettingsResult"
      }
    },
    "DescribeSharedDirectories": {
      "documentation": "<p>Returns the shared directories in your account. </p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSharedDirectoriesRequest"
      },
      "name": "DescribeSharedDirectories",
      "output": {
        "shape": "DescribeSharedDirectoriesResult"
      }
    },
    "DescribeSnapshots": {
      "documentation": "<p>Obtains information about the directory snapshots that belong to this account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> request and response parameters. If more results are available, the <i>DescribeSnapshots.NextToken</i> member contains a token that you pass in the next call to <a>DescribeSnapshots</a> to retrieve the next set of items.</p> <p>You can also specify a maximum number of return results with the <i>Limit</i> parameter.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSnapshotsRequest"
      },
      "name": "DescribeSnapshots",
      "output": {
        "shape": "DescribeSnapshotsResult"
      }
    },
    "DescribeTrusts": {
      "documentation": "<p>Obtains information about the trust relationships for this account.</p> <p>If no input parameters are provided, such as DirectoryId or TrustIds, this request describes all the trust relationships belonging to the account.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrustsRequest"
      },
      "name": "DescribeTrusts",
      "output": {
        "shape": "DescribeTrustsResult"
      }
    },
    "DisableLDAPS": {
      "documentation": "<p>Deactivates LDAP secure calls for the specified directory.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "InvalidLDAPSStatusException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableLDAPSRequest"
      },
      "name": "DisableLDAPS",
      "output": {
        "shape": "DisableLDAPSResult"
      }
    },
    "DisableRadius": {
      "documentation": "<p>Disables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector or Microsoft AD directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableRadiusRequest"
      },
      "name": "DisableRadius",
      "output": {
        "shape": "DisableRadiusResult"
      }
    },
    "DisableSso": {
      "documentation": "<p>Disables single-sign on for a directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "AuthenticationFailedException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableSsoRequest"
      },
      "name": "DisableSso",
      "output": {
        "shape": "DisableSsoResult"
      }
    },
    "EnableLDAPS": {
      "documentation": "<p>Activates the switch for the specific directory to always use LDAP secure calls.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "NoAvailableCertificateException"
        },
        {
          "shape": "InvalidLDAPSStatusException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableLDAPSRequest"
      },
      "name": "EnableLDAPS",
      "output": {
        "shape": "EnableLDAPSResult"
      }
    },
    "EnableRadius": {
      "documentation": "<p>Enables multi-factor authentication (MFA) with the Remote Authentication Dial In User Service (RADIUS) server for an AD Connector or Microsoft AD directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableRadiusRequest"
      },
      "name": "EnableRadius",
      "output": {
        "shape": "EnableRadiusResult"
      }
    },
    "EnableSso": {
      "documentation": "<p>Enables single sign-on for a directory. Single sign-on allows users in your directory to access certain AWS services from a computer joined to the directory without having to enter their credentials separately.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "AuthenticationFailedException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableSsoRequest"
      },
      "name": "EnableSso",
      "output": {
        "shape": "EnableSsoResult"
      }
    },
    "GetDirectoryLimits": {
      "documentation": "<p>Obtains directory limit information for the current Region.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDirectoryLimitsRequest"
      },
      "name": "GetDirectoryLimits",
      "output": {
        "shape": "GetDirectoryLimitsResult"
      }
    },
    "GetSnapshotLimits": {
      "documentation": "<p>Obtains the manual snapshot limits for a directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSnapshotLimitsRequest"
      },
      "name": "GetSnapshotLimits",
      "output": {
        "shape": "GetSnapshotLimitsResult"
      }
    },
    "ListCertificates": {
      "documentation": "<p>For the specified directory, lists all the certificates registered for a secured LDAP connection.</p>",
      "errors": [
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCertificatesRequest"
      },
      "name": "ListCertificates",
      "output": {
        "shape": "ListCertificatesResult"
      }
    },
    "ListIpRoutes": {
      "documentation": "<p>Lists the address blocks that you have added to a directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIpRoutesRequest"
      },
      "name": "ListIpRoutes",
      "output": {
        "shape": "ListIpRoutesResult"
      }
    },
    "ListLogSubscriptions": {
      "documentation": "<p>Lists the active log subscriptions for the AWS account.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLogSubscriptionsRequest"
      },
      "name": "ListLogSubscriptions",
      "output": {
        "shape": "ListLogSubscriptionsResult"
      }
    },
    "ListSchemaExtensions": {
      "documentation": "<p>Lists all schema extensions applied to a Microsoft AD Directory.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSchemaExtensionsRequest"
      },
      "name": "ListSchemaExtensions",
      "output": {
        "shape": "ListSchemaExtensionsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags on a directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "RegisterCertificate": {
      "documentation": "<p>Registers a certificate for secured LDAP connection.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "DirectoryDoesNotExistException"
        },
        {
          "shape": "InvalidCertificateException"
        },
        {
          "shape": "CertificateLimitExceededException"
        },
        {
          "shape": "CertificateAlreadyExistsException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterCertificateRequest"
      },
      "name": "RegisterCertificate",
      "output": {
        "shape": "RegisterCertificateResult"
      }
    },
    "RegisterEventTopic": {
      "documentation": "<p>Associates a directory with an SNS topic. This establishes the directory as a publisher to the specified SNS topic. You can then receive email or text (SMS) messages when the status of your directory changes. You get notified if your directory goes from an Active status to an Impaired or Inoperable status. You also receive a notification when the directory returns to an Active status.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterEventTopicRequest"
      },
      "name": "RegisterEventTopic",
      "output": {
        "shape": "RegisterEventTopicResult"
      }
    },
    "RejectSharedDirectory": {
      "documentation": "<p>Rejects a directory sharing request that was sent from the directory owner account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryAlreadySharedException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RejectSharedDirectoryRequest"
      },
      "name": "RejectSharedDirectory",
      "output": {
        "shape": "RejectSharedDirectoryResult"
      }
    },
    "RemoveIpRoutes": {
      "documentation": "<p>Removes IP address blocks from a directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveIpRoutesRequest"
      },
      "name": "RemoveIpRoutes",
      "output": {
        "shape": "RemoveIpRoutesResult"
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p>Removes tags from a directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromResourceRequest"
      },
      "name": "RemoveTagsFromResource",
      "output": {
        "shape": "RemoveTagsFromResourceResult"
      }
    },
    "ResetUserPassword": {
      "documentation": "<p>Resets the password for any user in your AWS Managed Microsoft AD or Simple AD directory.</p> <p>You can reset the password for any user in your directory with the following exceptions:</p> <ul> <li> <p>For Simple AD, you cannot reset the password for any user that is a member of either the <b>Domain Admins</b> or <b>Enterprise Admins</b> group except for the administrator user.</p> </li> <li> <p>For AWS Managed Microsoft AD, you can only reset the password for a user that is in an OU based off of the NetBIOS name that you typed when you created your directory. For example, you cannot reset the password for a user in the <b>AWS Reserved</b> OU. For more information about the OU structure for an AWS Managed Microsoft AD directory, see <a href=\"https://docs.aws.amazon.com/directoryservice/latest/admin-guide/ms_ad_getting_started_what_gets_created.html\">What Gets Created</a> in the <i>AWS Directory Service Administration Guide</i>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "UserDoesNotExistException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetUserPasswordRequest"
      },
      "name": "ResetUserPassword",
      "output": {
        "shape": "ResetUserPasswordResult"
      }
    },
    "RestoreFromSnapshot": {
      "documentation": "<p>Restores a directory using an existing directory snapshot.</p> <p>When you restore a directory from a snapshot, any changes made to the directory after the snapshot date are overwritten.</p> <p>This action returns as soon as the restore operation is initiated. You can monitor the progress of the restore operation by calling the <a>DescribeDirectories</a> operation with the directory identifier. When the <b>DirectoryDescription.Stage</b> value changes to <code>Active</code>, the restore operation is complete.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreFromSnapshotRequest"
      },
      "name": "RestoreFromSnapshot",
      "output": {
        "shape": "RestoreFromSnapshotResult"
      }
    },
    "ShareDirectory": {
      "documentation": "<p>Shares a specified directory (<code>DirectoryId</code>) in your AWS account (directory owner) with another AWS account (directory consumer). With this operation you can use your directory from any AWS account and from any Amazon VPC within an AWS Region.</p> <p>When you share your AWS Managed Microsoft AD directory, AWS Directory Service creates a shared directory in the directory consumer account. This shared directory contains the metadata to provide access to the directory within the directory owner account. The shared directory is visible in all VPCs in the directory consumer account.</p> <p>The <code>ShareMethod</code> parameter determines whether the specified directory can be shared between AWS accounts inside the same AWS organization (<code>ORGANIZATIONS</code>). It also determines whether you can share the directory with any other AWS account either inside or outside of the organization (<code>HANDSHAKE</code>).</p> <p>The <code>ShareNotes</code> parameter is only used when <code>HANDSHAKE</code> is called, which sends a directory sharing request to the directory consumer. </p>",
      "errors": [
        {
          "shape": "DirectoryAlreadySharedException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidTargetException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ShareLimitExceededException"
        },
        {
          "shape": "OrganizationsException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ShareDirectoryRequest"
      },
      "name": "ShareDirectory",
      "output": {
        "shape": "ShareDirectoryResult"
      }
    },
    "StartSchemaExtension": {
      "documentation": "<p>Applies a schema extension to a Microsoft AD directory.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "SnapshotLimitExceededException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartSchemaExtensionRequest"
      },
      "name": "StartSchemaExtension",
      "output": {
        "shape": "StartSchemaExtensionResult"
      }
    },
    "UnshareDirectory": {
      "documentation": "<p>Stops the directory sharing between the directory owner and consumer accounts. </p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidTargetException"
        },
        {
          "shape": "DirectoryNotSharedException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UnshareDirectoryRequest"
      },
      "name": "UnshareDirectory",
      "output": {
        "shape": "UnshareDirectoryResult"
      }
    },
    "UpdateConditionalForwarder": {
      "documentation": "<p>Updates a conditional forwarder that has been set up for your AWS directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConditionalForwarderRequest"
      },
      "name": "UpdateConditionalForwarder",
      "output": {
        "shape": "UpdateConditionalForwarderResult"
      }
    },
    "UpdateNumberOfDomainControllers": {
      "documentation": "<p>Adds or removes domain controllers to or from the directory. Based on the difference between current value and new value (provided through this API call), domain controllers will be added or removed. It may take up to 45 minutes for any new domain controllers to become fully active once the requested number of domain controllers is updated. During this time, you cannot make another update request.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "DomainControllerLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNumberOfDomainControllersRequest"
      },
      "name": "UpdateNumberOfDomainControllers",
      "output": {
        "shape": "UpdateNumberOfDomainControllersResult"
      }
    },
    "UpdateRadius": {
      "documentation": "<p>Updates the Remote Authentication Dial In User Service (RADIUS) server information for an AD Connector or Microsoft AD directory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRadiusRequest"
      },
      "name": "UpdateRadius",
      "output": {
        "shape": "UpdateRadiusResult"
      }
    },
    "UpdateTrust": {
      "documentation": "<p>Updates the trust that has been set up between your AWS Managed Microsoft AD directory and an on-premises Active Directory.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTrustRequest"
      },
      "name": "UpdateTrust",
      "output": {
        "shape": "UpdateTrustResult"
      }
    },
    "VerifyTrust": {
      "documentation": "<p>AWS Directory Service for Microsoft Active Directory allows you to configure and verify trust relationships.</p> <p>This action verifies a trust relationship between your AWS Managed Microsoft AD directory and an external domain.</p>",
      "errors": [
        {
          "shape": "EntityDoesNotExistException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ClientException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "VerifyTrustRequest"
      },
      "name": "VerifyTrust",
      "output": {
        "shape": "VerifyTrustResult"
      }
    }
  },
  "shapes": {
    "AcceptSharedDirectoryRequest": {
      "members": {
        "SharedDirectoryId": {
          "documentation": "<p>Identifier of the shared directory in the directory consumer account. This identifier is different for each directory owner account. </p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "SharedDirectoryId"
      ],
      "type": "structure"
    },
    "AcceptSharedDirectoryResult": {
      "members": {
        "SharedDirectory": {
          "documentation": "<p>The shared directory in the directory consumer account.</p>",
          "shape": "SharedDirectory"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "AccessUrl": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AddIpRoutesRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>Identifier (ID) of the directory to which to add the address block.</p>",
          "shape": "DirectoryId"
        },
        "IpRoutes": {
          "documentation": "<p>IP address blocks, using CIDR format, of the traffic to route. This is often the IP address block of the DNS server used for your on-premises domain.</p>",
          "shape": "IpRoutes"
        },
        "UpdateSecurityGroupForDirectoryControllers": {
          "documentation": "<p>If set to true, updates the inbound and outbound rules of the security group that has the description: \"AWS created security group for <i>directory ID</i> directory controllers.\" Following are the new rules: </p> <p>Inbound:</p> <ul> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 123, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 138, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom UDP Rule, Protocol: UDP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 135, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 636, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source: 0.0.0.0/0</p> </li> <li> <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source: 0.0.0.0/0</p> </li> <li> <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: 0.0.0.0/0</p> </li> <li> <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: 0.0.0.0/0</p> </li> <li> <p>Type: LDAP, Protocol: TCP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type: All ICMP, Protocol: All, Range: N/A, Source: 0.0.0.0/0</p> </li> </ul> <p/> <p>Outbound:</p> <ul> <li> <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p> </li> </ul> <p>These security rules impact an internal network interface that is not exposed publicly.</p>",
          "shape": "UpdateSecurityGroupForDirectoryControllers"
        }
      },
      "required": [
        "DirectoryId",
        "IpRoutes"
      ],
      "type": "structure"
    },
    "AddIpRoutesResult": {
      "members": {},
      "type": "structure"
    },
    "AddTagsToResourceRequest": {
      "members": {
        "ResourceId": {
          "documentation": "<p>Identifier (ID) for the directory to which to add the tag.</p>",
          "shape": "ResourceId"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the directory.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ResourceId",
        "Tags"
      ],
      "type": "structure"
    },
    "AddTagsToResourceResult": {
      "members": {},
      "type": "structure"
    },
    "AddedDateTime": {
      "type": "timestamp"
    },
    "AliasName": {
      "max": 62,
      "min": 1,
      "pattern": "^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*",
      "type": "string"
    },
    "Attribute": {
      "documentation": "<p>Represents a named directory attribute.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the attribute.</p>",
          "shape": "AttributeName"
        },
        "Value": {
          "documentation": "<p>The value of the attribute.</p>",
          "shape": "AttributeValue"
        }
      },
      "type": "structure"
    },
    "AttributeName": {
      "min": 1,
      "type": "string"
    },
    "AttributeValue": {
      "type": "string"
    },
    "Attributes": {
      "member": {
        "shape": "Attribute"
      },
      "type": "list"
    },
    "AuthenticationFailedException": {
      "documentation": "<p>An authentication error occurred.</p>",
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The textual message for the exception.</p>",
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "documentation": "<p>The identifier of the request that caused the exception.</p>",
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "AvailabilityZone": {
      "type": "string"
    },
    "AvailabilityZones": {
      "member": {
        "shape": "AvailabilityZone"
      },
      "type": "list"
    },
    "CancelSchemaExtensionRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory whose schema extension will be canceled.</p>",
          "shape": "DirectoryId"
        },
        "SchemaExtensionId": {
          "documentation": "<p>The identifier of the schema extension that will be canceled.</p>",
          "shape": "SchemaExtensionId"
        }
      },
      "required": [
        "DirectoryId",
        "SchemaExtensionId"
      ],
      "type": "structure"
    },
    "CancelSchemaExtensionResult": {
      "members": {},
      "type": "structure"
    },
    "Certificate": {
      "documentation": "<p>Information about the certificate.</p>",
      "members": {
        "CertificateId": {
          "documentation": "<p>The identifier of the certificate.</p>",
          "shape": "CertificateId"
        },
        "CommonName": {
          "documentation": "<p>The common name for the certificate.</p>",
          "shape": "CertificateCN"
        },
        "ExpiryDateTime": {
          "documentation": "<p>The date and time when the certificate will expire.</p>",
          "shape": "CertificateExpiryDateTime"
        },
        "RegisteredDateTime": {
          "documentation": "<p>The date and time that the certificate was registered.</p>",
          "shape": "CertificateRegisteredDateTime"
        },
        "State": {
          "documentation": "<p>The state of the certificate.</p>",
          "shape": "CertificateState"
        },
        "StateReason": {
          "documentation": "<p>Describes a state change for the certificate.</p>",
          "shape": "CertificateStateReason"
        }
      },
      "type": "structure"
    },
    "CertificateAlreadyExistsException": {
      "documentation": "<p>The certificate has already been registered into the system.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "CertificateCN": {
      "type": "string"
    },
    "CertificateData": {
      "max": 8192,
      "min": 1,
      "type": "string"
    },
    "CertificateDoesNotExistException": {
      "documentation": "<p>The certificate is not present in the system for describe or deregister activities.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "CertificateExpiryDateTime": {
      "type": "timestamp"
    },
    "CertificateId": {
      "pattern": "^c-[0-9a-f]{10}$",
      "type": "string"
    },
    "CertificateInUseException": {
      "documentation": "<p>The certificate is being used for the LDAP security connection and cannot be removed without disabling LDAP security.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "CertificateInfo": {
      "documentation": "<p>Contains general information about a certificate.</p>",
      "members": {
        "CertificateId": {
          "documentation": "<p>The identifier of the certificate.</p>",
          "shape": "CertificateId"
        },
        "CommonName": {
          "documentation": "<p>The common name for the certificate.</p>",
          "shape": "CertificateCN"
        },
        "ExpiryDateTime": {
          "documentation": "<p>The date and time when the certificate will expire.</p>",
          "shape": "CertificateExpiryDateTime"
        },
        "State": {
          "documentation": "<p>The state of the certificate.</p>",
          "shape": "CertificateState"
        }
      },
      "type": "structure"
    },
    "CertificateLimitExceededException": {
      "documentation": "<p>The certificate could not be added because the certificate limit has been reached.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "CertificateRegisteredDateTime": {
      "type": "timestamp"
    },
    "CertificateState": {
      "enum": [
        "Registering",
        "Registered",
        "RegisterFailed",
        "Deregistering",
        "Deregistered",
        "DeregisterFailed"
      ],
      "type": "string"
    },
    "CertificateStateReason": {
      "type": "string"
    },
    "CertificatesInfo": {
      "member": {
        "shape": "CertificateInfo"
      },
      "type": "list"
    },
    "CidrIp": {
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([1-9]|[1-2][0-9]|3[0-2]))$",
      "type": "string"
    },
    "CidrIps": {
      "member": {
        "shape": "CidrIp"
      },
      "type": "list"
    },
    "ClientException": {
      "documentation": "<p>A client exception has occurred.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        },
        "RequestId": {
          "shape": "RequestId"
        }
      },
      "type": "structure"
    },
    "CloudOnlyDirectoriesLimitReached": {
      "type": "boolean"
    },
    "Computer": {
      "documentation": "<p>Contains information about a computer account in a directory.</p>",
      "members": {
        "ComputerAttributes": {
          "documentation": "<p>An array of <a>Attribute</a> objects containing the LDAP attributes that belong to the computer account.</p>",
          "shape": "Attributes"
        },
        "ComputerId": {
          "documentation": "<p>The identifier of the computer.</p>",
          "shape": "SID"
        },
        "ComputerName": {
          "documentation": "<p>The computer name.</p>",
          "shape": "ComputerName"
        }
      },
      "type": "structure"
    },
    "ComputerName": {
      "max": 15,
      "min": 1,
      "type": "string"
    },
    "ComputerPassword": {
      "max": 64,
      "min": 8,
      "pattern": "[\\u0020-\\u00FF]+",
      "sensitive": true,
      "type": "string"
    },
    "ConditionalForwarder": {
      "documentation": "<p>Points to a remote domain with which you are setting up a trust relationship. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>",
      "members": {
        "DnsIpAddrs": {
          "documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName. This is the IP address of the DNS server that your conditional forwarder points to.</p>",
          "shape": "DnsIpAddrs"
        },
        "RemoteDomainName": {
          "documentation": "<p>The fully qualified domain name (FQDN) of the remote domains pointed to by the conditional forwarder.</p>",
          "shape": "RemoteDomainName"
        },
        "ReplicationScope": {
          "documentation": "<p>The replication scope of the conditional forwarder. The only allowed value is <code>Domain</code>, which will replicate the conditional forwarder to all of the domain controllers for your AWS directory.</p>",
          "shape": "ReplicationScope"
        }
      },
      "type": "structure"
    },
    "ConditionalForwarders": {
      "member": {
        "shape": "ConditionalForwarder"
      },
      "type": "list"
    },
    "ConnectDirectoryRequest": {
      "documentation": "<p>Contains the inputs for the <a>ConnectDirectory</a> operation.</p>",
      "members": {
        "ConnectSettings": {
          "documentation": "<p>A <a>DirectoryConnectSettings</a> object that contains additional information for the operation.</p>",
          "shape": "DirectoryConnectSettings"
        },
        "Description": {
          "documentation": "<p>A description for the directory.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The fully qualified name of the on-premises directory, such as <code>corp.example.com</code>.</p>",
          "shape": "DirectoryName"
        },
        "Password": {
          "documentation": "<p>The password for the on-premises user account.</p>",
          "shape": "ConnectPassword"
        },
        "ShortName": {
          "documentation": "<p>The NetBIOS name of the on-premises directory, such as <code>CORP</code>.</p>",
          "shape": "DirectoryShortName"
        },
        "Size": {
          "documentation": "<p>The size of the directory.</p>",
          "shape": "DirectorySize"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to AD Connector.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Name",
        "Password",
        "Size",
        "ConnectSettings"
      ],
      "type": "structure"
    },
    "ConnectDirectoryResult": {
      "documentation": "<p>Contains the results of the <a>ConnectDirectory</a> operation.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the new directory.</p>",
          "shape": "DirectoryId"
        }
      },
      "type": "structure"
    },
    "ConnectPassword": {
      "max": 128,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ConnectedDirectoriesLimitReached": {
      "type": "boolean"
    },
    "CreateAliasRequest": {
      "documentation": "<p>Contains the inputs for the <a>CreateAlias</a> operation.</p>",
      "members": {
        "Alias": {
          "documentation": "<p>The requested alias.</p> <p>The alias must be unique amongst all aliases in AWS. This operation throws an <code>EntityAlreadyExistsException</code> error if the alias already exists.</p>",
          "shape": "AliasName"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory for which to create the alias.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "DirectoryId",
        "Alias"
      ],
      "type": "structure"
    },
    "CreateAliasResult": {
      "documentation": "<p>Contains the results of the <a>CreateAlias</a> operation.</p>",
      "members": {
        "Alias": {
          "documentation": "<p>The alias for the directory.</p>",
          "shape": "AliasName"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        }
      },
      "type": "structure"
    },
    "CreateComputerRequest": {
      "documentation": "<p>Contains the inputs for the <a>CreateComputer</a> operation.</p>",
      "members": {
        "ComputerAttributes": {
          "documentation": "<p>An array of <a>Attribute</a> objects that contain any LDAP attributes to apply to the computer account.</p>",
          "shape": "Attributes"
        },
        "ComputerName": {
          "documentation": "<p>The name of the computer account.</p>",
          "shape": "ComputerName"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory in which to create the computer account.</p>",
          "shape": "DirectoryId"
        },
        "OrganizationalUnitDistinguishedName": {
          "documentation": "<p>The fully-qualified distinguished name of the organizational unit to place the computer account in.</p>",
          "shape": "OrganizationalUnitDN"
        },
        "Password": {
          "documentation": "<p>A one-time password that is used to join the computer to the directory. You should generate a random, strong password to use for this parameter.</p>",
          "shape": "ComputerPassword"
        }
      },
      "required": [
        "DirectoryId",
        "ComputerName",
        "Password"
      ],
      "type": "structure"
    },
    "CreateComputerResult": {
      "documentation": "<p>Contains the results for the <a>CreateComputer</a> operation.</p>",
      "members": {
        "Computer": {
          "documentation": "<p>A <a>Computer</a> object that represents the computer account.</p>",
          "shape": "Computer"
        }
      },
      "type": "structure"
    },
    "CreateConditionalForwarderRequest": {
      "documentation": "<p>Initiates the creation of a conditional forwarder for your AWS Directory Service for Microsoft Active Directory. Conditional forwarders are required in order to set up a trust relationship with another domain.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The directory ID of the AWS directory for which you are creating the conditional forwarder.</p>",
          "shape": "DirectoryId"
        },
        "DnsIpAddrs": {
          "documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>",
          "shape": "DnsIpAddrs"
        },
        "RemoteDomainName": {
          "documentation": "<p>The fully qualified domain name (FQDN) of the remote domain with which you will set up a trust relationship.</p>",
          "shape": "RemoteDomainName"
        }
      },
      "required": [
        "DirectoryId",
        "RemoteDomainName",
        "DnsIpAddrs"
      ],
      "type": "structure"
    },
    "CreateConditionalForwarderResult": {
      "documentation": "<p>The result of a CreateConditinalForwarder request.</p>",
      "members": {},
      "type": "structure"
    },
    "CreateDirectoryRequest": {
      "documentation": "<p>Contains the inputs for the <a>CreateDirectory</a> operation. </p>",
      "members": {
        "Description": {
          "documentation": "<p>A description for the directory.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The fully qualified name for the directory, such as <code>corp.example.com</code>.</p>",
          "shape": "DirectoryName"
        },
        "Password": {
          "documentation": "<p>The password for the directory administrator. The directory creation process creates a directory administrator account with the user name <code>Administrator</code> and this password.</p> <p>If you need to change the password for the administrator account, you can use the <a>ResetUserPassword</a> API call.</p>",
          "shape": "Password"
        },
        "ShortName": {
          "documentation": "<p>The NetBIOS name of the directory, such as <code>CORP</code>.</p>",
          "shape": "DirectoryShortName"
        },
        "Size": {
          "documentation": "<p>The size of the directory.</p>",
          "shape": "DirectorySize"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the Simple AD directory.</p>",
          "shape": "Tags"
        },
        "VpcSettings": {
          "documentation": "<p>A <a>DirectoryVpcSettings</a> object that contains additional information for the operation.</p>",
          "shape": "DirectoryVpcSettings"
        }
      },
      "required": [
        "Name",
        "Password",
        "Size"
      ],
      "type": "structure"
    },
    "CreateDirectoryResult": {
      "documentation": "<p>Contains the results of the <a>CreateDirectory</a> operation.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory that was created.</p>",
          "shape": "DirectoryId"
        }
      },
      "type": "structure"
    },
    "CreateLogSubscriptionRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>Identifier of the directory to which you want to subscribe and receive real-time logs to your specified CloudWatch log group.</p>",
          "shape": "DirectoryId"
        },
        "LogGroupName": {
          "documentation": "<p>The name of the CloudWatch log group where the real-time domain controller logs are forwarded.</p>",
          "shape": "LogGroupName"
        }
      },
      "required": [
        "DirectoryId",
        "LogGroupName"
      ],
      "type": "structure"
    },
    "CreateLogSubscriptionResult": {
      "members": {},
      "type": "structure"
    },
    "CreateMicrosoftADRequest": {
      "documentation": "<p>Creates an AWS Managed Microsoft AD directory.</p>",
      "members": {
        "Description": {
          "documentation": "<p>A description for the directory. This label will appear on the AWS console <code>Directory Details</code> page after the directory is created.</p>",
          "shape": "Description"
        },
        "Edition": {
          "documentation": "<p>AWS Managed Microsoft AD is available in two editions: <code>Standard</code> and <code>Enterprise</code>. <code>Enterprise</code> is the default.</p>",
          "shape": "DirectoryEdition"
        },
        "Name": {
          "documentation": "<p>The fully qualified domain name for the AWS Managed Microsoft AD directory, such as <code>corp.example.com</code>. This name will resolve inside your VPC only. It does not need to be publicly resolvable.</p>",
          "shape": "DirectoryName"
        },
        "Password": {
          "documentation": "<p>The password for the default administrative user named <code>Admin</code>.</p> <p>If you need to change the password for the administrator account, you can use the <a>ResetUserPassword</a> API call.</p>",
          "shape": "Password"
        },
        "ShortName": {
          "documentation": "<p>The NetBIOS name for your domain, such as <code>CORP</code>. If you don't specify a NetBIOS name, it will default to the first part of your directory DNS. For example, <code>CORP</code> for the directory DNS <code>corp.example.com</code>. </p>",
          "shape": "DirectoryShortName"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the AWS Managed Microsoft AD directory.</p>",
          "shape": "Tags"
        },
        "VpcSettings": {
          "documentation": "<p>Contains VPC information for the <a>CreateDirectory</a> or <a>CreateMicrosoftAD</a> operation.</p>",
          "shape": "DirectoryVpcSettings"
        }
      },
      "required": [
        "Name",
        "Password",
        "VpcSettings"
      ],
      "type": "structure"
    },
    "CreateMicrosoftADResult": {
      "documentation": "<p>Result of a CreateMicrosoftAD request.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory that was created.</p>",
          "shape": "DirectoryId"
        }
      },
      "type": "structure"
    },
    "CreateSnapshotBeforeSchemaExtension": {
      "type": "boolean"
    },
    "CreateSnapshotRequest": {
      "documentation": "<p>Contains the inputs for the <a>CreateSnapshot</a> operation.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory of which to take a snapshot.</p>",
          "shape": "DirectoryId"
        },
        "Name": {
          "documentation": "<p>The descriptive name to apply to the snapshot.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "CreateSnapshotResult": {
      "documentation": "<p>Contains the results of the <a>CreateSnapshot</a> operation.</p>",
      "members": {
        "SnapshotId": {
          "documentation": "<p>The identifier of the snapshot that was created.</p>",
          "shape": "SnapshotId"
        }
      },
      "type": "structure"
    },
    "CreateTrustRequest": {
      "documentation": "<p>AWS Directory Service for Microsoft Active Directory allows you to configure trust relationships. For example, you can establish a trust between your AWS Managed Microsoft AD directory, and your existing on-premises Microsoft Active Directory. This would allow you to provide users and groups access to resources in either domain, with a single set of credentials.</p> <p>This action initiates the creation of the AWS side of a trust relationship between an AWS Managed Microsoft AD directory and an external domain.</p>",
      "members": {
        "ConditionalForwarderIpAddrs": {
          "documentation": "<p>The IP addresses of the remote DNS server associated with RemoteDomainName.</p>",
          "shape": "DnsIpAddrs"
        },
        "DirectoryId": {
          "documentation": "<p>The Directory ID of the AWS Managed Microsoft AD directory for which to establish the trust relationship.</p>",
          "shape": "DirectoryId"
        },
        "RemoteDomainName": {
          "documentation": "<p>The Fully Qualified Domain Name (FQDN) of the external domain for which to create the trust relationship.</p>",
          "shape": "RemoteDomainName"
        },
        "SelectiveAuth": {
          "documentation": "<p>Optional parameter to enable selective authentication for the trust.</p>",
          "shape": "SelectiveAuth"
        },
        "TrustDirection": {
          "documentation": "<p>The direction of the trust relationship.</p>",
          "shape": "TrustDirection"
        },
        "TrustPassword": {
          "documentation": "<p>The trust password. The must be the same password that was used when creating the trust relationship on the external domain.</p>",
          "shape": "TrustPassword"
        },
        "TrustType": {
          "documentation": "<p>The trust relationship type. <code>Forest</code> is the default.</p>",
          "shape": "TrustType"
        }
      },
      "required": [
        "DirectoryId",
        "RemoteDomainName",
        "TrustPassword",
        "TrustDirection"
      ],
      "type": "structure"
    },
    "CreateTrustResult": {
      "documentation": "<p>The result of a CreateTrust request.</p>",
      "members": {
        "TrustId": {
          "documentation": "<p>A unique identifier for the trust relationship that was created.</p>",
          "shape": "TrustId"
        }
      },
      "type": "structure"
    },
    "CreatedDateTime": {
      "type": "timestamp"
    },
    "CustomerId": {
      "pattern": "^(\\d{12})$",
      "type": "string"
    },
    "CustomerUserName": {
      "max": 64,
      "min": 1,
      "pattern": "^(?!.*\\\\|.*\"|.*\\/|.*\\[|.*\\]|.*:|.*;|.*\\||.*=|.*,|.*\\+|.*\\*|.*\\?|.*<|.*>|.*@).*$",
      "type": "string"
    },
    "DeleteAssociatedConditionalForwarder": {
      "type": "boolean"
    },
    "DeleteConditionalForwarderRequest": {
      "documentation": "<p>Deletes a conditional forwarder.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The directory ID for which you are deleting the conditional forwarder.</p>",
          "shape": "DirectoryId"
        },
        "RemoteDomainName": {
          "documentation": "<p>The fully qualified domain name (FQDN) of the remote domain with which you are deleting the conditional forwarder.</p>",
          "shape": "RemoteDomainName"
        }
      },
      "required": [
        "DirectoryId",
        "RemoteDomainName"
      ],
      "type": "structure"
    },
    "DeleteConditionalForwarderResult": {
      "documentation": "<p>The result of a DeleteConditionalForwarder request.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteDirectoryRequest": {
      "documentation": "<p>Contains the inputs for the <a>DeleteDirectory</a> operation.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory to delete.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "DeleteDirectoryResult": {
      "documentation": "<p>Contains the results of the <a>DeleteDirectory</a> operation.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The directory identifier.</p>",
          "shape": "DirectoryId"
        }
      },
      "type": "structure"
    },
    "DeleteLogSubscriptionRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>Identifier of the directory whose log subscription you want to delete.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "DeleteLogSubscriptionResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteSnapshotRequest": {
      "documentation": "<p>Contains the inputs for the <a>DeleteSnapshot</a> operation.</p>",
      "members": {
        "SnapshotId": {
          "documentation": "<p>The identifier of the directory snapshot to be deleted.</p>",
          "shape": "SnapshotId"
        }
      },
      "required": [
        "SnapshotId"
      ],
      "type": "structure"
    },
    "DeleteSnapshotResult": {
      "documentation": "<p>Contains the results of the <a>DeleteSnapshot</a> operation.</p>",
      "members": {
        "SnapshotId": {
          "documentation": "<p>The identifier of the directory snapshot that was deleted.</p>",
          "shape": "SnapshotId"
        }
      },
      "type": "structure"
    },
    "DeleteTrustRequest": {
      "documentation": "<p>Deletes the local side of an existing trust relationship between the AWS Managed Microsoft AD directory and the external domain.</p>",
      "members": {
        "DeleteAssociatedConditionalForwarder": {
          "documentation": "<p>Delete a conditional forwarder as part of a DeleteTrustRequest.</p>",
          "shape": "DeleteAssociatedConditionalForwarder"
        },
        "TrustId": {
          "documentation": "<p>The Trust ID of the trust relationship to be deleted.</p>",
          "shape": "TrustId"
        }
      },
      "required": [
        "TrustId"
      ],
      "type": "structure"
    },
    "DeleteTrustResult": {
      "documentation": "<p>The result of a DeleteTrust request.</p>",
      "members": {
        "TrustId": {
          "documentation": "<p>The Trust ID of the trust relationship that was deleted.</p>",
          "shape": "TrustId"
        }
      },
      "type": "structure"
    },
    "DeregisterCertificateRequest": {
      "members": {
        "CertificateId": {
          "documentation": "<p>The identifier of the certificate.</p>",
          "shape": "CertificateId"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "DirectoryId",
        "CertificateId"
      ],
      "type": "structure"
    },
    "DeregisterCertificateResult": {
      "members": {},
      "type": "structure"
    },
    "DeregisterEventTopicRequest": {
      "documentation": "<p>Removes the specified directory as a publisher to the specified SNS topic.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The Directory ID to remove as a publisher. This directory will no longer send messages to the specified SNS topic.</p>",
          "shape": "DirectoryId"
        },
        "TopicName": {
          "documentation": "<p>The name of the SNS topic from which to remove the directory as a publisher.</p>",
          "shape": "TopicName"
        }
      },
      "required": [
        "DirectoryId",
        "TopicName"
      ],
      "type": "structure"
    },
    "DeregisterEventTopicResult": {
      "documentation": "<p>The result of a DeregisterEventTopic request.</p>",
      "members": {},
      "type": "structure"
    },
    "DescribeCertificateRequest": {
      "members": {
        "CertificateId": {
          "documentation": "<p>The identifier of the certificate.</p>",
          "shape": "CertificateId"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        }
      },
      "required": [
        "DirectoryId",
        "CertificateId"
      ],
      "type": "structure"
    },
    "DescribeCertificateResult": {
      "members": {
        "Certificate": {
          "documentation": "<p>Information about the certificate, including registered date time, certificate state, the reason for the state, expiration date time, and certificate common name.</p>",
          "shape": "Certificate"
        }
      },
      "type": "structure"
    },
    "DescribeConditionalForwardersRequest": {
      "documentation": "<p>Describes a conditional forwarder.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The directory ID for which to get the list of associated conditional forwarders.</p>",
          "shape": "DirectoryId"
        },
        "RemoteDomainNames": {
          "documentation": "<p>The fully qualified domain names (FQDN) of the remote domains for which to get the list of associated conditional forwarders. If this member is null, all conditional forwarders are returned.</p>",
          "shape": "RemoteDomainNames"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "DescribeConditionalForwardersResult": {
      "documentation": "<p>The result of a DescribeConditionalForwarder request.</p>",
      "members": {
        "ConditionalForwarders": {
          "documentation": "<p>The list of conditional forwarders that have been created.</p>",
          "shape": "ConditionalForwarders"
        }
      },
      "type": "structure"
    },
    "DescribeDirectoriesRequest": {
      "documentation": "<p>Contains the inputs for the <a>DescribeDirectories</a> operation.</p>",
      "members": {
        "DirectoryIds": {
          "documentation": "<p>A list of identifiers of the directories for which to obtain the information. If this member is null, all directories that belong to the current account are returned.</p> <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>",
          "shape": "DirectoryIds"
        },
        "Limit": {
          "documentation": "<p>The maximum number of items to return. If this value is zero, the maximum number of items is specified by the limitations of the operation.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>The <code>DescribeDirectoriesResult.NextToken</code> value from a previous call to <a>DescribeDirectories</a>. Pass null if this is the first call.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeDirectoriesResult": {
      "documentation": "<p>Contains the results of the <a>DescribeDirectories</a> operation.</p>",
      "members": {
        "DirectoryDescriptions": {
          "documentation": "<p>The list of <a>DirectoryDescription</a> objects that were retrieved.</p> <p>It is possible that this list contains less than the number of items specified in the <code>Limit</code> member of the request. This occurs if there are less than the requested number of items left to retrieve, or if the limitations of the operation have been exceeded.</p>",
          "shape": "DirectoryDescriptions"
        },
        "NextToken": {
          "documentation": "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to <a>DescribeDirectories</a> to retrieve the next set of items.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeDomainControllersRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>Identifier of the directory for which to retrieve the domain controller information.</p>",
          "shape": "DirectoryId"
        },
        "DomainControllerIds": {
          "documentation": "<p>A list of identifiers for the domain controllers whose information will be provided.</p>",
          "shape": "DomainControllerIds"
        },
        "Limit": {
          "documentation": "<p>The maximum number of items to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>The <i>DescribeDomainControllers.NextToken</i> value from a previous call to <a>DescribeDomainControllers</a>. Pass null if this is the first call. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "DescribeDomainControllersResult": {
      "members": {
        "DomainControllers": {
          "documentation": "<p>List of the <a>DomainController</a> objects that were retrieved.</p>",
          "shape": "DomainControllers"
        },
        "NextToken": {
          "documentation": "<p>If not null, more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to <a>DescribeDomainControllers</a> retrieve the next set of items.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeEventTopicsRequest": {
      "documentation": "<p>Describes event topics.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The Directory ID for which to get the list of associated SNS topics. If this member is null, associations for all Directory IDs are returned.</p>",
          "shape": "DirectoryId"
        },
        "TopicNames": {
          "documentation": "<p>A list of SNS topic names for which to obtain the information. If this member is null, all associations for the specified Directory ID are returned.</p> <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>",
          "shape": "TopicNames"
        }
      },
      "type": "structure"
    },
    "DescribeEventTopicsResult": {
      "documentation": "<p>The result of a DescribeEventTopic request.</p>",
      "members": {
        "EventTopics": {
          "documentation": "<p>A list of SNS topic names that receive status messages from the specified Directory ID.</p>",
          "shape": "EventTopics"
        }
      },
      "type": "structure"
    },
    "DescribeLDAPSSettingsRequest": {
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory.</p>",
          "shape": "DirectoryId"
        },
        "Limit": {
          "documentation": "<p>Specifies the number of items that should be displayed on one page.</p>",
          "shape": "PageLimit"
        },
        "NextToken": {
          "documentation": "<p>The type of next token used for pagination.</p>",
          "shape": "NextToken"
        },
        "Type": {
          "documentation": "<p>The type of LDAP security to enable. Currently only the value <code>Client</code> is supported.</p>",
          "shape": "LDAPSType"
        }
      },
      "required": [
        "DirectoryId"
      ],
      "type": "structure"
    },
    "DescribeLDAPSSettingsResult": {
      "members": {
        "LDAPSSettingsInfo": {
          "documentation": "<p>Information about LDAP security for the specified directory, including status of enablement, state last updated date time, and the reason for the state.</p>",
          "shape": "LDAPSSettingsInfo"
        },
        "NextToken": {
          "documentation": "<p>The next token used to retrieve the LDAPS settings if the number of setting types exceeds page limit and there is another page.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeSharedDirectoriesRequest": {
      "members": {
        "Limit": {
          "documentation": "<p>The number of shared directories to return in the response object.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>The <code>DescribeSharedDirectoriesResult.NextToken</code> value from a previous call to <a>DescribeSharedDirectories</a>. Pass null if this is the first call. </p>",
          "shape": "NextToken"
        },
        "OwnerDirectoryId": {
          "documentation": "<p>Returns the identifier of the directory in the directory owner account. </p>",
          "shape": "DirectoryId"
        },
        "SharedDirectoryIds": {
          "documentation": "<p>A list of identifiers of all shared directories in your account. </p>",
          "shape": "DirectoryIds"
        }
      },
      "required": [
        "OwnerDirectoryId"
      ],
      "type": "structure"
    },
    "DescribeSharedDirectoriesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>If not null, token that indicates that more results are available. Pass this value for the <code>NextToken</code> parameter in a subsequent call to <a>DescribeSharedDirectories</a> to retrieve the next set of items.</p>",
          "shape": "NextToken"
        },
        "SharedDirectories": {
          "documentation": "<p>A list of all shared directories in your account.</p>",
          "shape": "SharedDirectories"
        }
      },
      "type": "structure"
    },
    "DescribeSnapshotsRequest": {
      "documentation": "<p>Contains the inputs for the <a>DescribeSnapshots</a> operation.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The identifier of the directory for which to retrieve snapshot information.</p>",
          "shape": "DirectoryId"
        },
        "Limit": {
          "documentation": "<p>The maximum number of objects to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
          "documentation": "<p>The <i>DescribeSnapshotsResult.NextToken</i> value from a previous call to <a>DescribeSnapshots</a>. Pass null if this is the first call.</p>",
          "shape": "NextToken"
        },
        "SnapshotIds": {
          "documentation": "<p>A list of identifiers of the snapshots to obtain the information for. If this member is null or empty, all snapshots are returned using the <i>Limit</i> and <i>NextToken</i> members.</p>",
          "shape": "SnapshotIds"
        }
      },
      "type": "structure"
    },
    "DescribeSnapshotsResult": {
      "documentation": "<p>Contains the results of the <a>DescribeSnapshots</a> operation.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>If not null, more results are available. Pass this value in the <i>NextToken</i> member of a subsequent call to <a>DescribeSnapshots</a>.</p>",
          "shape": "NextToken"
        },
        "Snapshots": {
          "documentation": "<p>The list of <a>Snapshot</a> objects that were retrieved.</p> <p>It is possible that this list contains less than the number of items specified in the <i>Limit</i> member of the request. This occurs if there are less than the requested number of items left to retrieve, or if the limitations of the operation have been exceeded.</p>",
          "shape": "Snapshots"
        }
      },
      "type": "structure"
    },
    "DescribeTrustsRequest": {
      "documentation": "<p>Describes the trust relationships for a particular AWS Managed Microsoft AD directory. If no input parameters are are provided, such as directory ID or trust ID, this request describes all the trust relationships.</p>",
      "members": {
        "DirectoryId": {
          "documentation": "<p>The Directory ID of the AWS directory that is a part of the requested trust relationship.</p>",
          "shape": "DirectoryId"
        },
        "Limit": {
          "documentation": "<p>The maximum number of objects to return.</p>",
          "shape": "Limit"
        },
        "NextToken": {
[...]
