{
  "documentation": "<p>Amazon Route 53 API actions let you register domain names and perform related operations.</p>",
  "metadata": {
    "apiVersion": "2014-05-15",
    "endpointPrefix": "route53domains",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Route 53 Domains",
    "serviceId": "Route 53 Domains",
    "signatureVersion": "v4",
    "targetPrefix": "Route53Domains_v20140515",
    "uid": "route53domains-2014-05-15"
  },
  "operations": {
    "CheckDomainAvailability": {
      "documentation": "<p>This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckDomainAvailabilityRequest"
      },
      "name": "CheckDomainAvailability",
      "output": {
        "shape": "CheckDomainAvailabilityResponse"
      }
    },
    "CheckDomainTransferability": {
      "documentation": "<p>Checks whether a domain name can be transferred to Amazon Route 53. </p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckDomainTransferabilityRequest"
      },
      "name": "CheckDomainTransferability",
      "output": {
        "shape": "CheckDomainTransferabilityResponse"
      }
    },
    "DeleteTagsForDomain": {
      "documentation": "<p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsForDomainRequest"
      },
      "name": "DeleteTagsForDomain",
      "output": {
        "shape": "DeleteTagsForDomainResponse"
      }
    },
    "DisableDomainAutoRenew": {
      "documentation": "<p>This operation disables automatic renewal of domain registration for the specified domain.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableDomainAutoRenewRequest"
      },
      "name": "DisableDomainAutoRenew",
      "output": {
        "shape": "DisableDomainAutoRenewResponse"
      }
    },
    "DisableDomainTransferLock": {
      "documentation": "<p>This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableDomainTransferLockRequest"
      },
      "name": "DisableDomainTransferLock",
      "output": {
        "shape": "DisableDomainTransferLockResponse"
      }
    },
    "EnableDomainAutoRenew": {
      "documentation": "<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href=\"http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times\">\"Renewal, restoration, and deletion times\"</a> on the website for our registrar associate, Gandi. Amazon Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        },
        {
          "shape": "TLDRulesViolation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableDomainAutoRenewRequest"
      },
      "name": "EnableDomainAutoRenew",
      "output": {
        "shape": "EnableDomainAutoRenewResponse"
      }
    },
    "EnableDomainTransferLock": {
      "documentation": "<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableDomainTransferLockRequest"
      },
      "name": "EnableDomainTransferLock",
      "output": {
        "shape": "EnableDomainTransferLockResponse"
      }
    },
    "GetContactReachabilityStatus": {
      "documentation": "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactReachabilityStatusRequest"
      },
      "name": "GetContactReachabilityStatus",
      "output": {
        "shape": "GetContactReachabilityStatusResponse"
      }
    },
    "GetDomainDetail": {
      "documentation": "<p>This operation returns detailed information about a specified domain that is associated with the current AWS account. Contact information for the domain is also returned as part of the output.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDomainDetailRequest"
      },
      "name": "GetDomainDetail",
      "output": {
        "shape": "GetDomainDetailResponse"
      }
    },
    "GetDomainSuggestions": {
      "documentation": "<p>The GetDomainSuggestions operation returns a list of suggested domain names given a string, which can either be a domain name or simply a word or phrase (without spaces).</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDomainSuggestionsRequest"
      },
      "name": "GetDomainSuggestions",
      "output": {
        "shape": "GetDomainSuggestionsResponse"
      }
    },
    "GetOperationDetail": {
      "documentation": "<p>This operation returns the current status of an operation that is not completed.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOperationDetailRequest"
      },
      "name": "GetOperationDetail",
      "output": {
        "shape": "GetOperationDetailResponse"
      }
    },
    "ListDomains": {
      "documentation": "<p>This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDomainsRequest"
      },
      "name": "ListDomains",
      "output": {
        "shape": "ListDomainsResponse"
      }
    },
    "ListOperations": {
      "documentation": "<p>This operation returns the operation IDs of operations that are not yet complete.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOperationsRequest"
      },
      "name": "ListOperations",
      "output": {
        "shape": "ListOperationsResponse"
      }
    },
    "ListTagsForDomain": {
      "documentation": "<p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForDomainRequest"
      },
      "name": "ListTagsForDomain",
      "output": {
        "shape": "ListTagsForDomainResponse"
      }
    },
    "RegisterDomain": {
      "documentation": "<p>This operation registers a domain. Domains are registered either by Amazon Registrar (for .com, .net, and .org domains) or by our registrar associate, Gandi (for all other domains). For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</p> </li> <li> <p>Enables autorenew, so your domain registration will renew automatically each year. We'll notify you in advance of the renewal date so you can choose whether to renew the registration.</p> </li> <li> <p>Optionally enables privacy protection, so WHOIS queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you don't enable privacy protection, WHOIS queries return the information that you entered for the registrant, admin, and tech contacts.</p> </li> <li> <p>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</p> </li> <li> <p>Charges your AWS account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "DomainLimitExceeded"
        },
        {
          "shape": "OperationLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterDomainRequest"
      },
      "name": "RegisterDomain",
      "output": {
        "shape": "RegisterDomainResponse"
      }
    },
    "RenewDomain": {
      "documentation": "<p>This operation renews a domain for the specified number of years. The cost of renewing your domain is billed to your AWS account.</p> <p>We recommend that you renew your domain several weeks before the expiration date. Some TLD registries delete domains before the expiration date if you haven't renewed far enough in advance. For more information about renewing domain registration, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-renew.html\">Renewing Registration for a Domain</a> in the Amazon Route 53 Developer Guide.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "OperationLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RenewDomainRequest"
      },
      "name": "RenewDomain",
      "output": {
        "shape": "RenewDomainResponse"
      }
    },
    "ResendContactReachabilityEmail": {
      "documentation": "<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResendContactReachabilityEmailRequest"
      },
      "name": "ResendContactReachabilityEmail",
      "output": {
        "shape": "ResendContactReachabilityEmailResponse"
      }
    },
    "RetrieveDomainAuthCode": {
      "documentation": "<p>This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetrieveDomainAuthCodeRequest"
      },
      "name": "RetrieveDomainAuthCode",
      "output": {
        "shape": "RetrieveDomainAuthCodeResponse"
      }
    },
    "TransferDomain": {
      "documentation": "<p>This operation transfers a domain from another registrar to Amazon Route 53. When the transfer is complete, the domain is registered either with Amazon Registrar (for .com, .net, and .org domains) or with our registrar associate, Gandi (for all other TLDs).</p> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain transfer, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html\">Transferring Registration for a Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you consider transferring your DNS service to Amazon Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <important> <p>If the registrar for your domain is also the DNS service provider for the domain and you don't transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</p> </important> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn't complete successfully, the domain registrant will be notified by email.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "UnsupportedTLD"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "DomainLimitExceeded"
        },
        {
          "shape": "OperationLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TransferDomainRequest"
      },
      "name": "TransferDomain",
      "output": {
        "shape": "TransferDomainResponse"
      }
    },
    "UpdateDomainContact": {
      "documentation": "<p>This operation updates the contact information for a particular domain. You must specify information for at least one contact: registrant, administrator, or technical.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDomainContactRequest"
      },
      "name": "UpdateDomainContact",
      "output": {
        "shape": "UpdateDomainContactResponse"
      }
    },
    "UpdateDomainContactPrivacy": {
      "documentation": "<p>This operation updates the specified domain contact's privacy setting. When privacy protection is enabled, contact information such as email address is replaced either with contact information for Amazon Registrar (for .com, .net, and .org domains) or with contact information for our registrar associate, Gandi.</p> <p>This operation affects only the contact information for the specified contact type (registrant, administrator, or tech). If the request succeeds, Amazon Route 53 returns an operation ID that you can use with <a>GetOperationDetail</a> to track the progress and completion of the action. If the request doesn't complete successfully, the domain registrant will be notified by email.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDomainContactPrivacyRequest"
      },
      "name": "UpdateDomainContactPrivacy",
      "output": {
        "shape": "UpdateDomainContactPrivacyResponse"
      }
    },
    "UpdateDomainNameservers": {
      "documentation": "<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "TLDRulesViolation"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDomainNameserversRequest"
      },
      "name": "UpdateDomainNameservers",
      "output": {
        "shape": "UpdateDomainNameserversResponse"
      }
    },
    "UpdateTagsForDomain": {
      "documentation": "<p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationLimitExceeded"
        },
        {
          "shape": "UnsupportedTLD"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTagsForDomainRequest"
      },
      "name": "UpdateTagsForDomain",
      "output": {
        "shape": "UpdateTagsForDomainResponse"
      }
    },
    "ViewBilling": {
      "documentation": "<p>Returns all the domain-related billing records for the current AWS account for a specified period</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ViewBillingRequest"
      },
      "name": "ViewBilling",
      "output": {
        "shape": "ViewBillingResponse"
      }
    }
  },
  "shapes": {
    "AddressLine": {
      "max": 255,
      "type": "string"
    },
    "BillingRecord": {
      "documentation": "<p>Information for one billing record.</p>",
      "members": {
        "BillDate": {
          "documentation": "<p>The date that the operation was billed, in Unix format.</p>",
          "shape": "Timestamp"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html\">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.</p>",
          "shape": "DomainName"
        },
        "InvoiceId": {
          "documentation": "<p>The ID of the invoice that is associated with the billing record.</p>",
          "shape": "InvoiceId"
        },
        "Operation": {
          "documentation": "<p>The operation that you were charged for.</p>",
          "shape": "OperationType"
        },
        "Price": {
          "documentation": "<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>",
          "shape": "Price"
        }
      },
      "type": "structure"
    },
    "BillingRecords": {
      "member": {
        "shape": "BillingRecord"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CheckDomainAvailabilityRequest": {
      "documentation": "<p>The CheckDomainAvailability request contains the following elements.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to get availability for.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>",
          "shape": "DomainName"
        },
        "IdnLangCode": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "LangCode"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CheckDomainAvailabilityResponse": {
      "documentation": "<p>The CheckDomainAvailability response includes the following elements.</p>",
      "members": {
        "Availability": {
          "documentation": "<p>Whether the domain name is available for registering.</p> <note> <p>You can register only domains designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>",
          "shape": "DomainAvailability"
        }
      },
      "required": [
        "Availability"
      ],
      "type": "structure"
    },
    "CheckDomainTransferabilityRequest": {
      "documentation": "<p>The CheckDomainTransferability request contains the following elements.</p>",
      "members": {
        "AuthCode": {
          "documentation": "<p>If the registrar for the top-level domain (TLD) requires an authorization code to transfer the domain, the code that you got from the current registrar for the domain.</p>",
          "shape": "DomainAuthCode"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CheckDomainTransferabilityResponse": {
      "documentation": "<p>The CheckDomainTransferability response includes the following elements.</p>",
      "members": {
        "Transferability": {
          "documentation": "<p>A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.</p>",
          "shape": "DomainTransferability"
        }
      },
      "required": [
        "Transferability"
      ],
      "type": "structure"
    },
    "City": {
      "max": 255,
      "type": "string"
    },
    "ContactDetail": {
      "documentation": "<p>ContactDetail includes the following elements.</p>",
      "members": {
        "AddressLine1": {
          "documentation": "<p>First line of the contact's address.</p>",
          "shape": "AddressLine"
        },
        "AddressLine2": {
          "documentation": "<p>Second line of contact's address, if any.</p>",
          "shape": "AddressLine"
        },
        "City": {
          "documentation": "<p>The city of the contact's address.</p>",
          "shape": "City"
        },
        "ContactType": {
          "documentation": "<p>Indicates whether the contact is a person, company, association, or public organization. If you choose an option other than <code>PERSON</code>, you must enter an organization name, and you can't enable privacy protection for the contact.</p>",
          "shape": "ContactType"
        },
        "CountryCode": {
          "documentation": "<p>Code for the country of the contact's address.</p>",
          "shape": "CountryCode"
        },
        "Email": {
          "documentation": "<p>Email address of the contact.</p>",
          "shape": "Email"
        },
        "ExtraParams": {
          "documentation": "<p>A list of name-value pairs for parameters required by certain top-level domains.</p>",
          "shape": "ExtraParamList"
        },
        "Fax": {
          "documentation": "<p>Fax number of the contact.</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>",
          "shape": "ContactNumber"
        },
        "FirstName": {
          "documentation": "<p>First name of contact.</p>",
          "shape": "ContactName"
        },
        "LastName": {
          "documentation": "<p>Last name of contact.</p>",
          "shape": "ContactName"
        },
        "OrganizationName": {
          "documentation": "<p>Name of the organization for contact types other than <code>PERSON</code>.</p>",
          "shape": "ContactName"
        },
        "PhoneNumber": {
          "documentation": "<p>The phone number of the contact.</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code&gt;]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p>",
          "shape": "ContactNumber"
        },
        "State": {
          "documentation": "<p>The state or province of the contact's city.</p>",
          "shape": "State"
        },
        "ZipCode": {
          "documentation": "<p>The zip or postal code of the contact's address.</p>",
          "shape": "ZipCode"
        }
      },
      "sensitive": true,
      "type": "structure"
    },
    "ContactName": {
      "max": 255,
      "type": "string"
    },
    "ContactNumber": {
      "max": 30,
      "type": "string"
    },
    "ContactType": {
      "enum": [
        "PERSON",
        "COMPANY",
        "ASSOCIATION",
        "PUBLIC_BODY",
        "RESELLER"
      ],
      "type": "string"
    },
    "CountryCode": {
      "enum": [
        "AD",
        "AE",
        "AF",
        "AG",
        "AI",
        "AL",
        "AM",
        "AN",
        "AO",
        "AQ",
        "AR",
        "AS",
        "AT",
        "AU",
        "AW",
        "AZ",
        "BA",
        "BB",
        "BD",
        "BE",
        "BF",
        "BG",
        "BH",
        "BI",
        "BJ",
        "BL",
        "BM",
        "BN",
        "BO",
        "BR",
        "BS",
        "BT",
        "BW",
        "BY",
        "BZ",
        "CA",
        "CC",
        "CD",
        "CF",
        "CG",
        "CH",
        "CI",
        "CK",
        "CL",
        "CM",
        "CN",
        "CO",
        "CR",
        "CU",
        "CV",
        "CX",
        "CY",
        "CZ",
        "DE",
        "DJ",
        "DK",
        "DM",
        "DO",
        "DZ",
        "EC",
        "EE",
        "EG",
        "ER",
        "ES",
        "ET",
        "FI",
        "FJ",
        "FK",
        "FM",
        "FO",
        "FR",
        "GA",
        "GB",
        "GD",
        "GE",
        "GH",
        "GI",
        "GL",
        "GM",
        "GN",
        "GQ",
        "GR",
        "GT",
        "GU",
        "GW",
        "GY",
        "HK",
        "HN",
        "HR",
        "HT",
        "HU",
        "ID",
        "IE",
        "IL",
        "IM",
        "IN",
        "IQ",
        "IR",
        "IS",
        "IT",
        "JM",
        "JO",
        "JP",
        "KE",
        "KG",
        "KH",
        "KI",
        "KM",
        "KN",
        "KP",
        "KR",
        "KW",
        "KY",
        "KZ",
        "LA",
        "LB",
        "LC",
        "LI",
        "LK",
        "LR",
        "LS",
        "LT",
        "LU",
        "LV",
        "LY",
        "MA",
        "MC",
        "MD",
        "ME",
        "MF",
        "MG",
        "MH",
        "MK",
        "ML",
        "MM",
        "MN",
        "MO",
        "MP",
        "MR",
        "MS",
        "MT",
        "MU",
        "MV",
        "MW",
        "MX",
        "MY",
        "MZ",
        "NA",
        "NC",
        "NE",
        "NG",
        "NI",
        "NL",
        "NO",
        "NP",
        "NR",
        "NU",
        "NZ",
        "OM",
        "PA",
        "PE",
        "PF",
        "PG",
        "PH",
        "PK",
        "PL",
        "PM",
        "PN",
        "PR",
        "PT",
        "PW",
        "PY",
        "QA",
        "RO",
        "RS",
        "RU",
        "RW",
        "SA",
        "SB",
        "SC",
        "SD",
        "SE",
        "SG",
        "SH",
        "SI",
        "SK",
        "SL",
        "SM",
        "SN",
        "SO",
        "SR",
        "ST",
        "SV",
        "SY",
        "SZ",
        "TC",
        "TD",
        "TG",
        "TH",
        "TJ",
        "TK",
        "TL",
        "TM",
        "TN",
        "TO",
        "TR",
        "TT",
        "TV",
        "TW",
        "TZ",
        "UA",
        "UG",
        "US",
        "UY",
        "UZ",
        "VA",
        "VC",
        "VE",
        "VG",
        "VI",
        "VN",
        "VU",
        "WF",
        "WS",
        "YE",
        "YT",
        "ZA",
        "ZM",
        "ZW"
      ],
      "type": "string"
    },
    "CurrentExpiryYear": {
      "type": "integer"
    },
    "DNSSec": {
      "type": "string"
    },
    "DeleteTagsForDomainRequest": {
      "documentation": "<p>The DeleteTagsForDomainRequest includes the following elements.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The domain for which you want to delete one or more tags.</p>",
          "shape": "DomainName"
        },
        "TagsToDelete": {
          "documentation": "<p>A list of tag keys to delete.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "DomainName",
        "TagsToDelete"
      ],
      "type": "structure"
    },
    "DeleteTagsForDomainResponse": {
      "members": {},
      "type": "structure"
    },
    "DisableDomainAutoRenewRequest": {
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to disable automatic renewal for.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DisableDomainAutoRenewResponse": {
      "members": {},
      "type": "structure"
    },
    "DisableDomainTransferLockRequest": {
      "documentation": "<p>The DisableDomainTransferLock request includes the following element.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to remove the transfer lock for.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DisableDomainTransferLockResponse": {
      "documentation": "<p>The DisableDomainTransferLock response includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "DomainAuthCode": {
      "max": 1024,
      "sensitive": true,
      "type": "string"
    },
    "DomainAvailability": {
      "enum": [
        "AVAILABLE",
        "AVAILABLE_RESERVED",
        "AVAILABLE_PREORDER",
        "UNAVAILABLE",
        "UNAVAILABLE_PREMIUM",
        "UNAVAILABLE_RESTRICTED",
        "RESERVED",
        "DONT_KNOW"
      ],
      "type": "string"
    },
    "DomainLimitExceeded": {
      "documentation": "<p>The number of domains has exceeded the allowed threshold for the account.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The number of domains has exceeded the allowed threshold for the account.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DomainName": {
      "max": 255,
      "type": "string"
    },
    "DomainStatus": {
      "type": "string"
    },
    "DomainStatusList": {
      "member": {
        "shape": "DomainStatus"
      },
      "type": "list"
    },
    "DomainSuggestion": {
      "documentation": "<p>Information about one suggested domain name.</p>",
      "members": {
        "Availability": {
          "documentation": "<p>Whether the domain name is available for registering.</p> <note> <p>You can register only the domains that are designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn't reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn't return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>",
          "shape": "String"
        },
        "DomainName": {
          "documentation": "<p>A suggested domain name.</p>",
          "shape": "DomainName"
        }
      },
      "type": "structure"
    },
    "DomainSuggestionsList": {
      "member": {
        "shape": "DomainSuggestion"
      },
      "type": "list"
    },
    "DomainSummary": {
      "documentation": "<p>Summary information about one domain.</p>",
      "members": {
        "AutoRenew": {
          "documentation": "<p>Indicates whether the domain is automatically renewed upon expiration.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that the summary information applies to.</p>",
          "shape": "DomainName"
        },
        "Expiry": {
          "documentation": "<p>Expiration date of the domain in Coordinated Universal Time (UTC).</p>",
          "shape": "Timestamp"
        },
        "TransferLock": {
          "documentation": "<p>Indicates whether a domain is locked from unauthorized transfer to another party.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DomainSummaryList": {
      "member": {
        "shape": "DomainSummary"
      },
      "type": "list"
    },
    "DomainTransferability": {
      "documentation": "<p>A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.</p>",
      "members": {
        "Transferable": {
          "shape": "Transferable"
        }
      },
      "type": "structure"
    },
    "DuplicateRequest": {
      "documentation": "<p>The request is already in progress for the domain.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The request is already in progress for the domain.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DurationInYears": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "Email": {
      "max": 254,
      "type": "string"
    },
    "EnableDomainAutoRenewRequest": {
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to enable automatic renewal for.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "EnableDomainAutoRenewResponse": {
      "members": {},
      "type": "structure"
    },
    "EnableDomainTransferLockRequest": {
      "documentation": "<p>A request to set the transfer lock for the specified domain.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to set the transfer lock for.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "EnableDomainTransferLockResponse": {
      "documentation": "<p>The EnableDomainTransferLock response includes the following elements.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ExtraParam": {
      "documentation": "<p>ExtraParam includes the following elements.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Name of the additional parameter required by the top-level domain. Here are the top-level domains that require additional parameters and which parameters they require:</p> <ul> <li> <p> <b>.com.au and .net.au:</b> <code>AU_ID_NUMBER</code> and <code>AU_ID_TYPE</code> </p> </li> <li> <p> <b>.ca:</b> <code>BRAND_NUMBER</code>, <code>CA_LEGAL_TYPE</code>, and <code>CA_BUSINESS_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.es:</b> <code>ES_IDENTIFICATION</code>, <code>ES_IDENTIFICATION_TYPE</code>, and <code>ES_LEGAL_FORM</code> </p> </li> <li> <p> <b>.fi:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>FI_BUSINESS_NUMBER</code>, <code>FI_ID_NUMBER</code>, <code>FI_NATIONALITY</code>, and <code>FI_ORGANIZATION_TYPE</code> </p> </li> <li> <p> <b>.fr:</b> <code>BRAND_NUMBER</code>, <code>BIRTH_DEPARTMENT</code>, <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>BIRTH_COUNTRY</code>, and <code>BIRTH_CITY</code> </p> </li> <li> <p> <b>.it:</b> <code>BIRTH_COUNTRY</code>, <code>IT_PIN</code>, and <code>IT_REGISTRANT_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.ru:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code> and <code>RU_PASSPORT_DATA</code> </p> </li> <li> <p> <b>.se:</b> <code>BIRTH_COUNTRY</code> and <code>SE_ID_NUMBER</code> </p> </li> <li> <p> <b>.sg:</b> <code>SG_ID_NUMBER</code> </p> </li> <li> <p> <b>.co.uk, .me.uk, and .org.uk:</b> <code>UK_CONTACT_TYPE</code> and <code>UK_COMPANY_NUMBER</code> </p> </li> </ul> <p>In addition, many TLDs require <code>VAT_NUMBER</code>.</p>",
          "shape": "ExtraParamName"
        },
        "Value": {
          "documentation": "<p>Values corresponding to the additional parameter names required by some top-level domains.</p>",
          "shape": "ExtraParamValue"
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "ExtraParamList": {
      "member": {
        "shape": "ExtraParam"
      },
      "type": "list"
    },
    "ExtraParamName": {
      "enum": [
        "DUNS_NUMBER",
        "BRAND_NUMBER",
        "BIRTH_DEPARTMENT",
        "BIRTH_DATE_IN_YYYY_MM_DD",
        "BIRTH_COUNTRY",
        "BIRTH_CITY",
        "DOCUMENT_NUMBER",
        "AU_ID_NUMBER",
        "AU_ID_TYPE",
        "CA_LEGAL_TYPE",
        "CA_BUSINESS_ENTITY_TYPE",
        "ES_IDENTIFICATION",
        "ES_IDENTIFICATION_TYPE",
        "ES_LEGAL_FORM",
        "FI_BUSINESS_NUMBER",
        "FI_ID_NUMBER",
        "FI_NATIONALITY",
        "FI_ORGANIZATION_TYPE",
        "IT_PIN",
        "IT_REGISTRANT_ENTITY_TYPE",
        "RU_PASSPORT_DATA",
        "SE_ID_NUMBER",
        "SG_ID_NUMBER",
        "VAT_NUMBER",
        "UK_CONTACT_TYPE",
        "UK_COMPANY_NUMBER"
      ],
      "type": "string"
    },
    "ExtraParamValue": {
      "max": 2048,
      "type": "string"
    },
    "FIAuthKey": {
      "type": "string"
    },
    "GetContactReachabilityStatusRequest": {
      "members": {
        "domainName": {
          "documentation": "<p>The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.</p>",
          "shape": "DomainName"
        }
      },
      "type": "structure"
    },
    "GetContactReachabilityStatusResponse": {
      "members": {
        "domainName": {
          "documentation": "<p>The domain name for which you requested the reachability status.</p>",
          "shape": "DomainName"
        },
        "status": {
          "documentation": "<p>Whether the registrant contact has responded. Values include the following:</p> <dl> <dt>PENDING</dt> <dd> <p>We sent the confirmation email and haven't received a response yet.</p> </dd> <dt>DONE</dt> <dd> <p>We sent the email and got confirmation from the registrant contact.</p> </dd> <dt>EXPIRED</dt> <dd> <p>The time limit expired before the registrant contact responded.</p> </dd> </dl>",
          "shape": "ReachabilityStatus"
        }
      },
      "type": "structure"
    },
    "GetDomainDetailRequest": {
      "documentation": "<p>The GetDomainDetail request includes the following element.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to get detailed information about.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "GetDomainDetailResponse": {
      "documentation": "<p>The GetDomainDetail response includes the following elements.</p>",
      "members": {
        "AbuseContactEmail": {
          "documentation": "<p>Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse.</p>",
          "shape": "Email"
        },
        "AbuseContactPhone": {
          "documentation": "<p>Phone number for reporting abuse.</p>",
          "shape": "ContactNumber"
        },
        "AdminContact": {
          "documentation": "<p>Provides details about the domain administrative contact.</p>",
          "shape": "ContactDetail"
        },
        "AdminPrivacy": {
          "documentation": "<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p>",
          "shape": "Boolean"
        },
        "AutoRenew": {
          "documentation": "<p>Specifies whether the domain registration is set to renew automatically.</p>",
          "shape": "Boolean"
        },
        "CreationDate": {
          "documentation": "<p>The date when the domain was created as found in the response to a WHOIS query. The date and time is in Coordinated Universal time (UTC).</p>",
          "shape": "Timestamp"
        },
        "DnsSec": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "DNSSec"
        },
        "DomainName": {
          "documentation": "<p>The name of a domain.</p>",
          "shape": "DomainName"
        },
        "ExpirationDate": {
          "documentation": "<p>The date when the registration for the domain is set to expire. The date and time is in Coordinated Universal time (UTC).</p>",
          "shape": "Timestamp"
        },
        "Nameservers": {
          "documentation": "<p>The name of the domain.</p>",
          "shape": "NameserverList"
        },
        "RegistrantContact": {
          "documentation": "<p>Provides details about the domain registrant.</p>",
          "shape": "ContactDetail"
        },
        "RegistrantPrivacy": {
          "documentation": "<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).</p>",
          "shape": "Boolean"
        },
        "RegistrarName": {
          "documentation": "<p>Name of the registrar of the domain as identified in the registry. Domains with a .com, .net, or .org TLD are registered by Amazon Registrar. All other domains are registered by our registrar associate, Gandi. The value for domains that are registered by Gandi is <code>\"GANDI SAS\"</code>. </p>",
          "shape": "RegistrarName"
        },
        "RegistrarUrl": {
          "documentation": "<p>Web address of the registrar.</p>",
          "shape": "RegistrarUrl"
        },
        "RegistryDomainId": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "RegistryDomainId"
        },
        "Reseller": {
          "documentation": "<p>Reseller of the domain. Domains registered or transferred using Amazon Route 53 domains will have <code>\"Amazon\"</code> as the reseller. </p>",
          "shape": "Reseller"
        },
        "StatusList": {
          "documentation": "<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p> <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name status codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, transferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars use this same set of status codes.</p> <p>For a current list of domain name status codes and an explanation of what each code means, go to the <a href=\"https://www.icann.org/\">ICANN website</a> and search for <code>epp status codes</code>. (Search on the ICANN website; web searches sometimes return an old version of the document.)</p>",
          "shape": "DomainStatusList"
        },
        "TechContact": {
          "documentation": "<p>Provides details about the domain technical contact.</p>",
          "shape": "ContactDetail"
        },
        "TechPrivacy": {
          "documentation": "<p>Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p>",
          "shape": "Boolean"
        },
        "UpdatedDate": {
          "documentation": "<p>The last updated date of the domain as found in the response to a WHOIS query. The date and time is in Coordinated Universal time (UTC).</p>",
          "shape": "Timestamp"
        },
        "WhoIsServer": {
          "documentation": "<p>The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.</p>",
          "shape": "RegistrarWhoIsServer"
        }
      },
      "required": [
        "DomainName",
        "Nameservers",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "type": "structure"
    },
    "GetDomainSuggestionsRequest": {
      "members": {
        "DomainName": {
          "documentation": "<p>A domain name that you want to use as the basis for a list of possible domain names. The domain name must contain a top-level domain (TLD), such as .com, that Amazon Route 53 supports. For a list of TLDs, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p>",
          "shape": "DomainName"
        },
        "OnlyAvailable": {
          "documentation": "<p>If <code>OnlyAvailable</code> is <code>true</code>, Amazon Route 53 returns only domain names that are available. If <code>OnlyAvailable</code> is <code>false</code>, Amazon Route 53 returns domain names without checking whether they're available to be registered. To determine whether the domain is available, you can call <code>checkDomainAvailability</code> for each suggestion.</p>",
          "shape": "Boolean"
        },
        "SuggestionCount": {
          "documentation": "<p>The number of suggested domain names that you want Amazon Route 53 to return.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "DomainName",
        "SuggestionCount",
        "OnlyAvailable"
      ],
      "type": "structure"
    },
    "GetDomainSuggestionsResponse": {
      "members": {
        "SuggestionsList": {
          "documentation": "<p>A list of possible domain names. If you specified <code>true</code> for <code>OnlyAvailable</code> in the request, the list contains only domains that are available for registration.</p>",
          "shape": "DomainSuggestionsList"
        }
      },
      "type": "structure"
    },
    "GetOperationDetailRequest": {
      "documentation": "<p>The <a>GetOperationDetail</a> request includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>The identifier for the operation for which you want to get the status. Amazon Route 53 returned the identifier in the response to the original request.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "GetOperationDetailResponse": {
      "documentation": "<p>The GetOperationDetail response includes the following elements.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of a domain.</p>",
          "shape": "DomainName"
        },
        "Message": {
          "documentation": "<p>Detailed information on the status including possible errors.</p>",
          "shape": "ErrorMessage"
        },
        "OperationId": {
          "documentation": "<p>The identifier for the operation.</p>",
          "shape": "OperationId"
        },
        "Status": {
          "documentation": "<p>The current status of the requested operation in the system.</p>",
          "shape": "OperationStatus"
        },
        "SubmittedDate": {
          "documentation": "<p>The date when the request was submitted.</p>",
          "shape": "Timestamp"
        },
        "Type": {
          "documentation": "<p>The type of operation that was requested.</p>",
          "shape": "OperationType"
        }
      },
      "type": "structure"
    },
    "GlueIp": {
      "max": 45,
      "type": "string"
    },
    "GlueIpList": {
      "member": {
        "shape": "GlueIp"
      },
      "type": "list"
    },
    "HostName": {
      "max": 255,
      "pattern": "[a-zA-Z0-9_\\-.]*",
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidInput": {
      "documentation": "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvoiceId": {
      "type": "string"
    },
    "LangCode": {
      "max": 3,
      "type": "string"
    },
    "ListDomainsRequest": {
      "documentation": "<p>The ListDomains request includes the following elements.</p>",
      "members": {
        "Marker": {
          "documentation": "<p>For an initial request for a list of domains, omit this element. If the number of domains that are associated with the current AWS account is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional domains. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Constraints: The marker must match the value specified in the previous request.</p>",
          "shape": "PageMarker"
        },
        "MaxItems": {
          "documentation": "<p>Number of domains to be returned.</p> <p>Default: 20</p>",
          "shape": "PageMaxItems"
        }
      },
      "type": "structure"
    },
    "ListDomainsResponse": {
      "documentation": "<p>The ListDomains response includes the following elements.</p>",
      "members": {
        "Domains": {
          "documentation": "<p>A summary of domains.</p>",
          "shape": "DomainSummaryList"
        },
        "NextPageMarker": {
          "documentation": "<p>If there are more domains than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p>",
          "shape": "PageMarker"
        }
      },
      "required": [
        "Domains"
      ],
      "type": "structure"
    },
    "ListOperationsRequest": {
      "documentation": "<p>The ListOperations request includes the following elements.</p>",
      "members": {
        "Marker": {
          "documentation": "<p>For an initial request for a list of operations, omit this element. If the number of operations that are not yet complete is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional operations. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p>",
          "shape": "PageMarker"
        },
        "MaxItems": {
          "documentation": "<p>Number of domains to be returned.</p> <p>Default: 20</p>",
          "shape": "PageMaxItems"
        },
        "SubmittedSince": {
          "documentation": "<p>An optional parameter that lets you get information about all the operations that you submitted after a specified date and time. Specify the date and time in Coordinated Universal time (UTC).</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ListOperationsResponse": {
      "documentation": "<p>The ListOperations response includes the following elements.</p>",
      "members": {
        "NextPageMarker": {
          "documentation": "<p>If there are more operations than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p>",
          "shape": "PageMarker"
        },
        "Operations": {
          "documentation": "<p>Lists summaries of the operations.</p>",
          "shape": "OperationSummaryList"
        }
      },
      "required": [
        "Operations"
      ],
      "type": "structure"
    },
    "ListTagsForDomainRequest": {
      "documentation": "<p>The ListTagsForDomainRequest includes the following elements.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The domain for which you want to get a list of tags.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "ListTagsForDomainResponse": {
      "documentation": "<p>The ListTagsForDomain response includes the following elements.</p>",
      "members": {
        "TagList": {
          "documentation": "<p>A list of the tags that are associated with the specified domain.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "TagList"
      ],
      "type": "structure"
    },
    "Nameserver": {
      "documentation": "<p>Nameserver includes the following elements.</p>",
      "members": {
        "GlueIps": {
          "documentation": "<p>Glue IP address of a name server entry. Glue IP addresses are required only when the name of the name server is a subdomain of the domain. For example, if your domain is example.com and the name server for the domain is ns.example.com, you need to specify the IP address for ns.example.com.</p> <p>Constraints: The list can contain only one IPv4 and one IPv6 address.</p>",
          "shape": "GlueIpList"
        },
        "Name": {
          "documentation": "<p>The fully qualified host name of the name server.</p> <p>Constraint: Maximum 255 characters</p>",
          "shape": "HostName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "NameserverList": {
      "member": {
        "shape": "Nameserver"
      },
      "type": "list"
    },
    "OperationId": {
      "max": 255,
      "type": "string"
    },
    "OperationLimitExceeded": {
      "documentation": "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "OperationStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "ERROR",
        "SUCCESSFUL",
        "FAILED"
      ],
      "type": "string"
    },
    "OperationSummary": {
      "documentation": "<p>OperationSummary includes the following elements.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier returned to track the requested action.</p>",
          "shape": "OperationId"
        },
        "Status": {
          "documentation": "<p>The current status of the requested operation in the system.</p>",
          "shape": "OperationStatus"
        },
        "SubmittedDate": {
          "documentation": "<p>The date when the request was submitted.</p>",
          "shape": "Timestamp"
        },
        "Type": {
          "documentation": "<p>Type of the action requested.</p>",
          "shape": "OperationType"
        }
      },
      "required": [
        "OperationId",
        "Status",
        "Type",
        "SubmittedDate"
      ],
      "type": "structure"
    },
    "OperationSummaryList": {
      "member": {
        "shape": "OperationSummary"
      },
      "type": "list"
    },
    "OperationType": {
      "enum": [
        "REGISTER_DOMAIN",
        "DELETE_DOMAIN",
        "TRANSFER_IN_DOMAIN",
        "UPDATE_DOMAIN_CONTACT",
        "UPDATE_NAMESERVER",
        "CHANGE_PRIVACY_PROTECTION",
        "DOMAIN_LOCK",
        "ENABLE_AUTORENEW",
        "DISABLE_AUTORENEW",
        "ADD_DNSSEC",
        "REMOVE_DNSSEC",
        "EXPIRE_DOMAIN",
        "TRANSFER_OUT_DOMAIN",
        "CHANGE_DOMAIN_OWNER",
        "RENEW_DOMAIN",
        "PUSH_DOMAIN"
      ],
      "type": "string"
    },
    "PageMarker": {
      "max": 4096,
      "type": "string"
    },
    "PageMaxItems": {
      "max": 100,
      "type": "integer"
    },
    "Price": {
      "type": "double"
    },
    "ReachabilityStatus": {
      "enum": [
        "PENDING",
        "DONE",
        "EXPIRED"
      ],
      "type": "string"
    },
    "RegisterDomainRequest": {
      "documentation": "<p>The RegisterDomain request includes the following elements.</p>",
      "members": {
        "AdminContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        },
        "AutoRenew": {
          "documentation": "<p>Indicates whether the domain will be automatically renewed (<code>true</code>) or not (<code>false</code>). Autorenewal only takes effect after the account is charged.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The domain name that you want to register.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>",
          "shape": "DomainName"
        },
        "DurationInYears": {
          "documentation": "<p>The number of years that you want to register the domain for. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain. For the range of valid values for your domain, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Default: 1</p>",
          "shape": "DurationInYears"
        },
        "IdnLangCode": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "LangCode"
        },
        "PrivacyProtectAdminContact": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "PrivacyProtectRegistrantContact": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (the domain owner).</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "PrivacyProtectTechContact": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "RegistrantContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        },
        "TechContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        }
      },
      "required": [
        "DomainName",
        "DurationInYears",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "type": "structure"
    },
    "RegisterDomainResponse": {
      "documentation": "<p>The RegisterDomain response includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "RegistrarName": {
      "type": "string"
    },
    "RegistrarUrl": {
      "type": "string"
    },
    "RegistrarWhoIsServer": {
      "type": "string"
    },
    "RegistryDomainId": {
      "type": "string"
    },
    "RenewDomainRequest": {
      "documentation": "<p>A <code>RenewDomain</code> request includes the number of years that you want to renew for and the current expiration year.</p>",
      "members": {
        "CurrentExpiryYear": {
          "documentation": "<p>The year when the registration for the domain is set to expire. This value must match the current expiration date for the domain.</p>",
          "shape": "CurrentExpiryYear"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to renew.</p>",
          "shape": "DomainName"
        },
        "DurationInYears": {
          "documentation": "<p>The number of years that you want to renew the domain for. The maximum number of years depends on the top-level domain. For the range of valid values for your domain, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html\">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Default: 1</p>",
          "shape": "DurationInYears"
        }
      },
      "required": [
        "DomainName",
        "CurrentExpiryYear"
      ],
      "type": "structure"
    },
    "RenewDomainResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>The identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "Reseller": {
      "type": "string"
    },
    "ResendContactReachabilityEmailRequest": {
      "members": {
        "domainName": {
          "documentation": "<p>The name of the domain for which you want Amazon Route 53 to resend a confirmation email to the registrant contact.</p>",
          "shape": "DomainName"
        }
      },
      "type": "structure"
    },
    "ResendContactReachabilityEmailResponse": {
      "members": {
        "domainName": {
          "documentation": "<p>The domain name for which you requested a confirmation email.</p>",
          "shape": "DomainName"
        },
        "emailAddress": {
          "documentation": "<p>The email address for the registrant contact at the time that we sent the verification email.</p>",
          "shape": "Email"
        },
        "isAlreadyVerified": {
          "documentation": "<p> <code>True</code> if the email address for the registrant contact has already been verified, and <code>false</code> otherwise. If the email address has already been verified, we don't send another confirmation email.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "RetrieveDomainAuthCodeRequest": {
      "documentation": "<p>A request for the authorization code for the specified domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to get an authorization code for.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "RetrieveDomainAuthCodeResponse": {
      "documentation": "<p>The RetrieveDomainAuthCode response includes the following element.</p>",
      "members": {
        "AuthCode": {
          "documentation": "<p>The authorization code for the domain.</p>",
          "shape": "DomainAuthCode"
        }
      },
      "required": [
        "AuthCode"
      ],
      "type": "structure"
    },
    "State": {
      "max": 255,
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "TLDRulesViolation": {
      "documentation": "<p>The top-level domain does not support this operation.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The top-level domain does not support this operation.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Tag": {
      "documentation": "<p>Each tag includes the following elements.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key (name) of a tag.</p> <p>Valid values: A-Z, a-z, 0-9, space, \".:/=+\\-@\"</p> <p>Constraints: Each key can be 1-128 characters long.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of a tag.</p> <p>Valid values: A-Z, a-z, 0-9, space, \".:/=+\\-@\"</p> <p>Constraints: Each value can be 0-256 characters long.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagValue": {
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TransferDomainRequest": {
      "documentation": "<p>The TransferDomain request includes the following elements.</p>",
      "members": {
        "AdminContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        },
        "AuthCode": {
          "documentation": "<p>The authorization code for the domain. You get this value from the current registrar.</p>",
          "shape": "DomainAuthCode"
        },
        "AutoRenew": {
          "documentation": "<p>Indicates whether the domain will be automatically renewed (true) or not (false). Autorenewal only takes effect after the account is charged.</p> <p>Default: true</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>",
          "shape": "DomainName"
        },
        "DurationInYears": {
          "documentation": "<p>The number of years that you want to register the domain for. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Default: 1</p>",
          "shape": "DurationInYears"
        },
        "IdnLangCode": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "LangCode"
        },
        "Nameservers": {
          "documentation": "<p>Contains details for the host and glue IP addresses.</p>",
          "shape": "NameserverList"
        },
        "PrivacyProtectAdminContact": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "PrivacyProtectRegistrantContact": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "PrivacyProtectTechContact": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p> <p>Default: <code>true</code> </p>",
          "shape": "Boolean"
        },
        "RegistrantContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        },
        "TechContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        }
      },
      "required": [
        "DomainName",
        "DurationInYears",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "type": "structure"
    },
    "TransferDomainResponse": {
      "documentation": "<p>The TranserDomain response includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "Transferable": {
      "documentation": "<p>Whether the domain name can be transferred to Amazon Route 53.</p> <note> <p>You can transfer only domains that have a value of <code>TRANSFERABLE</code> for <code>Transferable</code>.</p> </note> <p>Valid values:</p> <dl> <dt>TRANSFERABLE</dt> <dd> <p>The domain name can be transferred to Amazon Route 53.</p> </dd> <dt>UNTRANSFERRABLE</dt> <dd> <p>The domain name can't be transferred to Amazon Route 53.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>Reserved for future use.</p> </dd> </dl>",
      "enum": [
        "TRANSFERABLE",
        "UNTRANSFERABLE",
        "DONT_KNOW"
      ],
      "type": "string"
    },
    "UnsupportedTLD": {
      "documentation": "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Amazon Route 53 does not support this top-level domain (TLD).</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UpdateDomainContactPrivacyRequest": {
      "documentation": "<p>The UpdateDomainContactPrivacy request includes the following elements.</p>",
      "members": {
        "AdminPrivacy": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to update the privacy setting for.</p>",
          "shape": "DomainName"
        },
        "RegistrantPrivacy": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).</p>",
          "shape": "Boolean"
        },
        "TechPrivacy": {
          "documentation": "<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS (\"who is\") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "UpdateDomainContactPrivacyResponse": {
      "documentation": "<p>The UpdateDomainContactPrivacy response includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "UpdateDomainContactRequest": {
      "documentation": "<p>The UpdateDomainContact request includes the following elements.</p>",
      "members": {
        "AdminContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to update contact information for.</p>",
          "shape": "DomainName"
        },
        "RegistrantContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        },
        "TechContact": {
          "documentation": "<p>Provides detailed contact information.</p>",
          "shape": "ContactDetail"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "UpdateDomainContactResponse": {
      "documentation": "<p>The UpdateDomainContact response includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "UpdateDomainNameserversRequest": {
      "documentation": "<p>Replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to change name servers for.</p>",
          "shape": "DomainName"
        },
        "FIAuthKey": {
          "deprecated": true,
          "documentation": "<p>The authorization key for .fi domains</p>",
          "shape": "FIAuthKey"
        },
        "Nameservers": {
          "documentation": "<p>A list of new name servers for the domain.</p>",
          "shape": "NameserverList"
        }
      },
      "required": [
        "DomainName",
        "Nameservers"
      ],
      "type": "structure"
    },
    "UpdateDomainNameserversResponse": {
      "documentation": "<p>The UpdateDomainNameservers response includes the following element.</p>",
      "members": {
        "OperationId": {
          "documentation": "<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.</p>",
          "shape": "OperationId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "UpdateTagsForDomainRequest": {
      "documentation": "<p>The UpdateTagsForDomainRequest includes the following elements.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The domain for which you want to add or update tags.</p>",
          "shape": "DomainName"
        },
        "TagsToUpdate": {
          "documentation": "<p>A list of the tag keys and values that you want to add or update. If you specify a key that already exists, the corresponding value will be replaced.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "UpdateTagsForDomainResponse": {
      "members": {},
      "type": "structure"
    },
    "ViewBillingRequest": {
      "documentation": "<p>The ViewBilling request includes the following elements.</p>",
      "members": {
        "End": {
          "documentation": "<p>The end date and time for the time period for which you want a list of billing records. Specify the date and time in Coordinated Universal time (UTC).</p>",
          "shape": "Timestamp"
        },
        "Marker": {
          "documentation": "<p>For an initial request for a list of billing records, omit this element. If the number of billing records that are associated with the current AWS account during the specified period is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional billing records. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element. </p> <p>Constraints: The marker must match the value of <code>NextPageMarker</code> that was returned in the previous response.</p>",
          "shape": "PageMarker"
        },
        "MaxItems": {
          "documentation": "<p>The number of billing records to be returned.</p> <p>Default: 20</p>",
          "shape": "PageMaxItems"
        },
        "Start": {
          "documentation": "<p>The beginning date and time for the time period for which you want a list of billing records. Specify the date and time in Coordinated Universal time (UTC).</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ViewBillingResponse": {
      "documentation": "<p>The ViewBilling response includes the following elements.</p>",
      "members": {
        "BillingRecords": {
          "documentation": "<p>A summary of billing records.</p>",
          "shape": "BillingRecords"
        },
        "NextPageMarker": {
          "documentation": "<p>If there are more billing records than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p>",
          "shape": "PageMarker"
        }
      },
      "type": "structure"
    },
    "ZipCode": {
      "max": 255,
      "type": "string"
    }
  },
  "version": "2.0"
}
