{
  "documentation": "<p>AWS X-Ray provides APIs for managing debug traces and retrieving service maps and other data created by processing those traces.</p>",
  "metadata": {
    "apiVersion": "2016-04-12",
    "endpointPrefix": "xray",
    "protocol": "rest-json",
    "serviceFullName": "AWS X-Ray",
    "serviceId": "XRay",
    "signatureVersion": "v4",
    "uid": "xray-2016-04-12"
  },
  "operations": {
    "BatchGetTraces": {
      "documentation": "<p>Retrieves a list of traces specified by ID. Each trace is a collection of segment documents that originates from a single request. Use <code>GetTraceSummaries</code> to get a list of trace IDs.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/Traces"
      },
      "input": {
        "shape": "BatchGetTracesRequest"
      },
      "name": "BatchGetTraces",
      "output": {
        "shape": "BatchGetTracesResult"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a group resource with a name and a filter expression. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateGroup"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResult"
      }
    },
    "CreateSamplingRule": {
      "documentation": "<p>Creates a rule to control sampling behavior for instrumented applications. Services retrieve rules with <a>GetSamplingRules</a>, and evaluate each rule in ascending order of <i>priority</i> for each request. If a rule matches, the service records a trace, borrowing it from the reservoir size. After 10 seconds, the service reports back to X-Ray with <a>GetSamplingTargets</a> to get updated versions of each in-use rule. The updated rule contains a trace quota that the service can use instead of borrowing from the reservoir.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "RuleLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateSamplingRule"
      },
      "input": {
        "shape": "CreateSamplingRuleRequest"
      },
      "name": "CreateSamplingRule",
      "output": {
        "shape": "CreateSamplingRuleResult"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteGroup"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResult"
      }
    },
    "DeleteSamplingRule": {
      "documentation": "<p>Deletes a sampling rule.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DeleteSamplingRule"
      },
      "input": {
        "shape": "DeleteSamplingRuleRequest"
      },
      "name": "DeleteSamplingRule",
      "output": {
        "shape": "DeleteSamplingRuleResult"
      }
    },
    "GetEncryptionConfig": {
      "documentation": "<p>Retrieves the current encryption configuration for X-Ray data.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/EncryptionConfig"
      },
      "input": {
        "shape": "GetEncryptionConfigRequest"
      },
      "name": "GetEncryptionConfig",
      "output": {
        "shape": "GetEncryptionConfigResult"
      }
    },
    "GetGroup": {
      "documentation": "<p>Retrieves group resource details.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetGroup"
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupResult"
      }
    },
    "GetGroups": {
      "documentation": "<p>Retrieves all active group details.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/Groups"
      },
      "input": {
        "shape": "GetGroupsRequest"
      },
      "name": "GetGroups",
      "output": {
        "shape": "GetGroupsResult"
      }
    },
    "GetSamplingRules": {
      "documentation": "<p>Retrieves all sampling rules.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/GetSamplingRules"
      },
      "input": {
        "shape": "GetSamplingRulesRequest"
      },
      "name": "GetSamplingRules",
      "output": {
        "shape": "GetSamplingRulesResult"
      }
    },
    "GetSamplingStatisticSummaries": {
      "documentation": "<p>Retrieves information about recent sampling results for all sampling rules.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/SamplingStatisticSummaries"
      },
      "input": {
        "shape": "GetSamplingStatisticSummariesRequest"
      },
      "name": "GetSamplingStatisticSummaries",
      "output": {
        "shape": "GetSamplingStatisticSummariesResult"
      }
    },
    "GetSamplingTargets": {
      "documentation": "<p>Requests a sampling quota for rules that the service is using to sample requests. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/SamplingTargets"
      },
      "input": {
        "shape": "GetSamplingTargetsRequest"
      },
      "name": "GetSamplingTargets",
      "output": {
        "shape": "GetSamplingTargetsResult"
      }
    },
    "GetServiceGraph": {
      "documentation": "<p>Retrieves a document that describes services that process incoming requests, and downstream services that they call as a result. Root services process incoming requests and make calls to downstream services. Root services are applications that use the <a href=\"https://docs.aws.amazon.com/xray/index.html\">AWS X-Ray SDK</a>. Downstream services can be other applications, AWS resources, HTTP web APIs, or SQL databases.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ServiceGraph"
      },
      "input": {
        "shape": "GetServiceGraphRequest"
      },
      "name": "GetServiceGraph",
      "output": {
        "shape": "GetServiceGraphResult"
      }
    },
    "GetTimeSeriesServiceStatistics": {
      "documentation": "<p>Get an aggregation of service statistics defined by a specific time range.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TimeSeriesServiceStatistics"
      },
      "input": {
        "shape": "GetTimeSeriesServiceStatisticsRequest"
      },
      "name": "GetTimeSeriesServiceStatistics",
      "output": {
        "shape": "GetTimeSeriesServiceStatisticsResult"
      }
    },
    "GetTraceGraph": {
      "documentation": "<p>Retrieves a service graph for one or more specific trace IDs.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TraceGraph"
      },
      "input": {
        "shape": "GetTraceGraphRequest"
      },
      "name": "GetTraceGraph",
      "output": {
        "shape": "GetTraceGraphResult"
      }
    },
    "GetTraceSummaries": {
      "documentation": "<p>Retrieves IDs and annotations for traces available for a specified time frame using an optional filter. To get the full traces, pass the trace IDs to <code>BatchGetTraces</code>.</p> <p>A filter expression can target traced requests that hit specific service nodes or edges, have errors, or come from a known user. For example, the following filter expression targets traces that pass through <code>api.example.com</code>:</p> <p> <code>service(\"api.example.com\")</code> </p> <p>This filter expression finds traces that have an annotation named <code>account</code> with the value <code>12345</code>:</p> <p> <code>annotation.account = \"12345\"</code> </p> <p>For a full list of indexed fields and keywords that you can use in filter expressions, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-console-filters.html\">Using Filter Expressions</a> in the <i>AWS X-Ray Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TraceSummaries"
      },
      "input": {
        "shape": "GetTraceSummariesRequest"
      },
      "name": "GetTraceSummaries",
      "output": {
        "shape": "GetTraceSummariesResult"
      }
    },
    "PutEncryptionConfig": {
      "documentation": "<p>Updates the encryption configuration for X-Ray data.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/PutEncryptionConfig"
      },
      "input": {
        "shape": "PutEncryptionConfigRequest"
      },
      "name": "PutEncryptionConfig",
      "output": {
        "shape": "PutEncryptionConfigResult"
      }
    },
    "PutTelemetryRecords": {
      "documentation": "<p>Used by the AWS X-Ray daemon to upload telemetry.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TelemetryRecords"
      },
      "input": {
        "shape": "PutTelemetryRecordsRequest"
      },
      "name": "PutTelemetryRecords",
      "output": {
        "shape": "PutTelemetryRecordsResult"
      }
    },
    "PutTraceSegments": {
      "documentation": "<p>Uploads segment documents to AWS X-Ray. The <a href=\"https://docs.aws.amazon.com/xray/index.html\">X-Ray SDK</a> generates segment documents and sends them to the X-Ray daemon, which uploads them in batches. A segment document can be a completed segment, an in-progress segment, or an array of subsegments.</p> <p>Segments must include the following fields. For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">AWS X-Ray Segment Documents</a> in the <i>AWS X-Ray Developer Guide</i>.</p> <p class=\"title\"> <b>Required Segment Document Fields</b> </p> <ul> <li> <p> <code>name</code> - The name of the service that handled the request.</p> </li> <li> <p> <code>id</code> - A 64-bit identifier for the segment, unique among segments in the same trace, in 16 hexadecimal digits.</p> </li> <li> <p> <code>trace_id</code> - A unique identifier that connects all segments and subsegments originating from a single client request.</p> </li> <li> <p> <code>start_time</code> - Time the segment or subsegment was created, in floating point seconds in epoch time, accurate to milliseconds. For example, <code>1480615200.010</code> or <code>1.480615200010E9</code>.</p> </li> <li> <p> <code>end_time</code> - Time the segment or subsegment was closed. For example, <code>1480615200.090</code> or <code>1.480615200090E9</code>. Specify either an <code>end_time</code> or <code>in_progress</code>.</p> </li> <li> <p> <code>in_progress</code> - Set to <code>true</code> instead of specifying an <code>end_time</code> to record that a segment has been started, but is not complete. Send an in progress segment when your application receives a request that will take a long time to serve, to trace the fact that the request was received. When the response is sent, send the complete segment to overwrite the in-progress segment.</p> </li> </ul> <p>A <code>trace_id</code> consists of three numbers separated by hyphens. For example, 1-58406520-a006649127e371903a2de979. This includes:</p> <p class=\"title\"> <b>Trace ID Format</b> </p> <ul> <li> <p>The version number, i.e. <code>1</code>.</p> </li> <li> <p>The time of the original request, in Unix epoch time, in 8 hexadecimal digits. For example, 10:00AM December 2nd, 2016 PST in epoch time is <code>1480615200</code> seconds, or <code>58406520</code> in hexadecimal.</p> </li> <li> <p>A 96-bit identifier for the trace, globally unique, in 24 hexadecimal digits.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TraceSegments"
      },
      "input": {
        "shape": "PutTraceSegmentsRequest"
      },
      "name": "PutTraceSegments",
      "output": {
        "shape": "PutTraceSegmentsResult"
      }
    },
    "UpdateGroup": {
      "documentation": "<p>Updates a group resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateGroup"
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "name": "UpdateGroup",
      "output": {
        "shape": "UpdateGroupResult"
      }
    },
    "UpdateSamplingRule": {
      "documentation": "<p>Modifies a sampling rule's configuration.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UpdateSamplingRule"
      },
      "input": {
        "shape": "UpdateSamplingRuleRequest"
      },
      "name": "UpdateSamplingRule",
      "output": {
        "shape": "UpdateSamplingRuleResult"
      }
    }
  },
  "shapes": {
    "Alias": {
      "documentation": "<p>An alias for an edge.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The canonical name of the alias.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A list of names for the alias, including the canonical name.</p>",
          "shape": "AliasNames"
        },
        "Type": {
          "documentation": "<p>The type of the alias.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AliasList": {
      "member": {
        "shape": "Alias"
      },
      "type": "list"
    },
    "AliasNames": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "AnnotationKey": {
      "type": "string"
    },
    "AnnotationValue": {
      "documentation": "<p>Value of a segment annotation. Has one of three value types: Number, Boolean or String.</p>",
      "members": {
        "BooleanValue": {
          "documentation": "<p>Value for a Boolean annotation.</p>",
          "shape": "NullableBoolean"
        },
        "NumberValue": {
          "documentation": "<p>Value for a Number annotation.</p>",
          "shape": "NullableDouble"
        },
        "StringValue": {
          "documentation": "<p>Value for a String annotation.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Annotations": {
      "key": {
        "shape": "AnnotationKey"
      },
      "type": "map",
      "value": {
        "shape": "ValuesWithServiceIds"
      }
    },
    "AttributeKey": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "AttributeMap": {
      "key": {
        "shape": "AttributeKey"
      },
      "max": 5,
      "type": "map",
      "value": {
        "shape": "AttributeValue"
      }
    },
    "AttributeValue": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "AvailabilityZoneDetail": {
      "documentation": "<p>A list of availability zones corresponding to the segments in a trace.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of a corresponding availability zone.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BackendConnectionErrors": {
      "documentation": "<p/>",
      "members": {
        "ConnectionRefusedCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "HTTPCode4XXCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "HTTPCode5XXCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "OtherCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "TimeoutCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "UnknownHostCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        }
      },
      "type": "structure"
    },
    "BatchGetTracesRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "TraceIds": {
          "documentation": "<p>Specify the trace IDs of requests for which to retrieve segments.</p>",
          "shape": "TraceIdList"
        }
      },
      "required": [
        "TraceIds"
      ],
      "type": "structure"
    },
    "BatchGetTracesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Traces": {
          "documentation": "<p>Full traces for the specified requests.</p>",
          "shape": "TraceList"
        },
        "UnprocessedTraceIds": {
          "documentation": "<p>Trace IDs of requests that haven't been processed.</p>",
          "shape": "UnprocessedTraceIdList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BorrowCount": {
      "min": 0,
      "type": "integer"
    },
    "ClientID": {
      "max": 24,
      "min": 24,
      "type": "string"
    },
    "CreateGroupRequest": {
      "members": {
        "FilterExpression": {
          "documentation": "<p>The filter expression defining criteria by which to group traces.</p>",
          "shape": "FilterExpression"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the new group. Default is a reserved name and names must be unique.</p>",
          "shape": "GroupName"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "CreateGroupResult": {
      "members": {
        "Group": {
          "documentation": "<p>The group that was created. Contains the name of the group that was created, the ARN of the group that was generated based on the group name, and the filter expression that was assigned to the group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "CreateSamplingRuleRequest": {
      "members": {
        "SamplingRule": {
          "documentation": "<p>The rule definition.</p>",
          "shape": "SamplingRule"
        }
      },
      "required": [
        "SamplingRule"
      ],
      "type": "structure"
    },
    "CreateSamplingRuleResult": {
      "members": {
        "SamplingRuleRecord": {
          "documentation": "<p>The saved rule definition and metadata.</p>",
          "shape": "SamplingRuleRecord"
        }
      },
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupARN": {
          "documentation": "<p>The ARN of the group that was generated on creation.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "DeleteGroupResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteSamplingRuleRequest": {
      "members": {
        "RuleARN": {
          "documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeleteSamplingRuleResult": {
      "members": {
        "SamplingRuleRecord": {
          "documentation": "<p>The deleted rule definition and metadata.</p>",
          "shape": "SamplingRuleRecord"
        }
      },
      "type": "structure"
    },
    "Double": {
      "type": "double"
    },
    "EC2InstanceId": {
      "max": 20,
      "type": "string"
    },
    "Edge": {
      "documentation": "<p>Information about a connection between two services.</p>",
      "members": {
        "Aliases": {
          "documentation": "<p>Aliases for the edge.</p>",
          "shape": "AliasList"
        },
        "EndTime": {
          "documentation": "<p>The end time of the last segment on the edge.</p>",
          "shape": "Timestamp"
        },
        "ReferenceId": {
          "documentation": "<p>Identifier of the edge. Unique within a service map.</p>",
          "shape": "NullableInteger"
        },
        "ResponseTimeHistogram": {
          "documentation": "<p>A histogram that maps the spread of client response times on an edge.</p>",
          "shape": "Histogram"
        },
        "StartTime": {
          "documentation": "<p>The start time of the first segment on the edge.</p>",
          "shape": "Timestamp"
        },
        "SummaryStatistics": {
          "documentation": "<p>Response statistics for segments on the edge.</p>",
          "shape": "EdgeStatistics"
        }
      },
      "type": "structure"
    },
    "EdgeList": {
      "member": {
        "shape": "Edge"
      },
      "type": "list"
    },
    "EdgeStatistics": {
      "documentation": "<p>Response statistics for an edge.</p>",
      "members": {
        "ErrorStatistics": {
          "documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>",
          "shape": "ErrorStatistics"
        },
        "FaultStatistics": {
          "documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>",
          "shape": "FaultStatistics"
        },
        "OkCount": {
          "documentation": "<p>The number of requests that completed with a 2xx Success status code.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of completed requests.</p>",
          "shape": "NullableLong"
        },
        "TotalResponseTime": {
          "documentation": "<p>The aggregate response time of completed requests.</p>",
          "shape": "NullableDouble"
        }
      },
      "type": "structure"
    },
    "EncryptionConfig": {
      "documentation": "<p>A configuration document that specifies encryption configuration settings.</p>",
      "members": {
        "KeyId": {
          "documentation": "<p>The ID of the customer master key (CMK) used for encryption, if applicable.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The encryption status. While the status is <code>UPDATING</code>, X-Ray may encrypt data with a combination of the new and old settings.</p>",
          "shape": "EncryptionStatus"
        },
        "Type": {
          "documentation": "<p>The type of encryption. Set to <code>KMS</code> for encryption with CMKs. Set to <code>NONE</code> for default encryption.</p>",
          "shape": "EncryptionType"
        }
      },
      "type": "structure"
    },
    "EncryptionKeyId": {
      "max": 3000,
      "min": 1,
      "type": "string"
    },
    "EncryptionStatus": {
      "enum": [
        "UPDATING",
        "ACTIVE"
      ],
      "type": "string"
    },
    "EncryptionType": {
      "enum": [
        "NONE",
        "KMS"
      ],
      "type": "string"
    },
    "EntitySelectorExpression": {
      "max": 500,
      "min": 1,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorRootCause": {
      "documentation": "<p>The root cause of a trace summary error.</p>",
      "members": {
        "ClientImpacting": {
          "documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>",
          "shape": "NullableBoolean"
        },
        "Services": {
          "documentation": "<p>A list of services corresponding to an error. A service identifies a segment and it contains a name, account ID, type, and inferred flag.</p>",
          "shape": "ErrorRootCauseServices"
        }
      },
      "type": "structure"
    },
    "ErrorRootCauseEntity": {
      "documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary error.</p>",
      "members": {
        "Exceptions": {
          "documentation": "<p>The types and messages of the exceptions.</p>",
          "shape": "RootCauseExceptions"
        },
        "Name": {
          "documentation": "<p>The name of the entity.</p>",
          "shape": "String"
        },
        "Remote": {
          "documentation": "<p>A flag that denotes a remote subsegment.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "ErrorRootCauseEntityPath": {
      "member": {
        "shape": "ErrorRootCauseEntity"
      },
      "type": "list"
    },
    "ErrorRootCauseService": {
      "documentation": "<p>A collection of fields identifying the services in a trace summary error.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID associated to the service.</p>",
          "shape": "String"
        },
        "EntityPath": {
          "documentation": "<p>The path of root cause entities found on the service. </p>",
          "shape": "ErrorRootCauseEntityPath"
        },
        "Inferred": {
          "documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>",
          "shape": "NullableBoolean"
        },
        "Name": {
          "documentation": "<p>The service name.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A collection of associated service names.</p>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p>The type associated to the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ErrorRootCauseServices": {
      "member": {
        "shape": "ErrorRootCauseService"
      },
      "type": "list"
    },
    "ErrorRootCauses": {
      "member": {
        "shape": "ErrorRootCause"
      },
      "type": "list"
    },
    "ErrorStatistics": {
      "documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>",
      "members": {
        "OtherCount": {
          "documentation": "<p>The number of requests that failed with untracked 4xx Client Error status codes.</p>",
          "shape": "NullableLong"
        },
        "ThrottleCount": {
          "documentation": "<p>The number of requests that failed with a 419 throttling status code.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of requests that failed with a 4xx Client Error status code.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "FaultRootCause": {
      "documentation": "<p>The root cause information for a trace summary fault.</p>",
      "members": {
        "ClientImpacting": {
          "documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>",
          "shape": "NullableBoolean"
        },
        "Services": {
          "documentation": "<p>A list of corresponding services. A service identifies a segment and it contains a name, account ID, type, and inferred flag.</p>",
          "shape": "FaultRootCauseServices"
        }
      },
      "type": "structure"
    },
    "FaultRootCauseEntity": {
      "documentation": "<p>A collection of segments and corresponding subsegments associated to a trace summary fault error.</p>",
      "members": {
        "Exceptions": {
          "documentation": "<p>The types and messages of the exceptions.</p>",
          "shape": "RootCauseExceptions"
        },
        "Name": {
          "documentation": "<p>The name of the entity.</p>",
          "shape": "String"
        },
        "Remote": {
          "documentation": "<p>A flag that denotes a remote subsegment.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "FaultRootCauseEntityPath": {
      "member": {
        "shape": "FaultRootCauseEntity"
      },
      "type": "list"
    },
    "FaultRootCauseService": {
      "documentation": "<p>A collection of fields identifying the services in a trace summary fault.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID associated to the service.</p>",
          "shape": "String"
        },
        "EntityPath": {
          "documentation": "<p>The path of root cause entities found on the service. </p>",
          "shape": "FaultRootCauseEntityPath"
        },
        "Inferred": {
          "documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>",
          "shape": "NullableBoolean"
        },
        "Name": {
          "documentation": "<p>The service name.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A collection of associated service names.</p>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p>The type associated to the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FaultRootCauseServices": {
      "member": {
        "shape": "FaultRootCauseService"
      },
      "type": "list"
    },
    "FaultRootCauses": {
      "member": {
        "shape": "FaultRootCause"
      },
      "type": "list"
    },
    "FaultStatistics": {
      "documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>",
      "members": {
        "OtherCount": {
          "documentation": "<p>The number of requests that failed with untracked 5xx Server Error status codes.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of requests that failed with a 5xx Server Error status code.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "FilterExpression": {
      "type": "string"
    },
    "FixedRate": {
      "max": 1,
      "min": 0,
      "type": "double"
    },
    "GetEncryptionConfigRequest": {
      "members": {},
      "type": "structure"
    },
    "GetEncryptionConfigResult": {
      "members": {
        "EncryptionConfig": {
          "documentation": "<p>The encryption configuration document.</p>",
          "shape": "EncryptionConfig"
        }
      },
      "type": "structure"
    },
    "GetGroupRequest": {
      "members": {
        "GroupARN": {
          "documentation": "<p>The ARN of the group that was generated on creation.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "GetGroupResult": {
      "members": {
        "Group": {
          "documentation": "<p>The group that was requested. Contains the name of the group, the ARN of the group, and the filter expression that assigned to the group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "GetGroupsNextToken": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "GetGroupsRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "GetGroupsNextToken"
        }
      },
      "type": "structure"
    },
    "GetGroupsResult": {
      "members": {
        "Groups": {
          "documentation": "<p>The collection of all active groups.</p>",
          "shape": "GroupSummaryList"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetSamplingRulesRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetSamplingRulesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "SamplingRuleRecords": {
          "documentation": "<p>Rule definitions and metadata.</p>",
          "shape": "SamplingRuleRecordList"
        }
      },
      "type": "structure"
    },
    "GetSamplingStatisticSummariesRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetSamplingStatisticSummariesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "SamplingStatisticSummaries": {
          "documentation": "<p>Information about the number of requests instrumented for each sampling rule.</p>",
          "shape": "SamplingStatisticSummaryList"
        }
      },
      "type": "structure"
    },
    "GetSamplingTargetsRequest": {
      "members": {
        "SamplingStatisticsDocuments": {
          "documentation": "<p>Information about rules that the service is using to sample requests.</p>",
          "shape": "SamplingStatisticsDocumentList"
        }
      },
      "required": [
        "SamplingStatisticsDocuments"
      ],
      "type": "structure"
    },
    "GetSamplingTargetsResult": {
      "members": {
        "LastRuleModification": {
          "documentation": "<p>The last time a user changed the sampling rule configuration. If the sampling rule configuration changed since the service last retrieved it, the service should call <a>GetSamplingRules</a> to get the latest version.</p>",
          "shape": "Timestamp"
        },
        "SamplingTargetDocuments": {
          "documentation": "<p>Updated rules that the service should use to sample requests.</p>",
          "shape": "SamplingTargetDocumentList"
        },
        "UnprocessedStatistics": {
          "documentation": "<p>Information about <a>SamplingStatisticsDocument</a> that X-Ray could not process.</p>",
          "shape": "UnprocessedStatisticsList"
        }
      },
      "type": "structure"
    },
    "GetServiceGraphRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the timeframe for which to generate a graph.</p>",
          "shape": "Timestamp"
        },
        "GroupARN": {
          "documentation": "<p>The ARN of a group to generate a graph based on.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The name of a group to generate a graph based on.</p>",
          "shape": "GroupName"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which to generate a graph.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetServiceGraphResult": {
      "members": {
        "ContainsOldGroupVersions": {
          "documentation": "<p>A flag indicating whether the group's filter expression has been consistent, or if the returned service graph may show traces from an older version of the group's filter expression.</p>",
          "shape": "Boolean"
        },
        "EndTime": {
          "documentation": "<p>The end of the time frame for which the graph was generated.</p>",
          "shape": "Timestamp"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Services": {
          "documentation": "<p>The services that have processed a traced request during the specified time frame.</p>",
          "shape": "ServiceList"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which the graph was generated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetTimeSeriesServiceStatisticsRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time frame for which to aggregate statistics.</p>",
          "shape": "Timestamp"
        },
        "EntitySelectorExpression": {
          "documentation": "<p>A filter expression defining entities that will be aggregated for statistics. Supports ID, service, and edge functions. If no selector expression is specified, edge statistics are returned. </p>",
          "shape": "EntitySelectorExpression"
        },
        "GroupARN": {
          "documentation": "<p>The ARN of the group for which to pull statistics from.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group for which to pull statistics from.</p>",
          "shape": "GroupName"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Period": {
          "documentation": "<p>Aggregation period in seconds.</p>",
          "shape": "NullableInteger"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which to aggregate statistics.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetTimeSeriesServiceStatisticsResult": {
      "members": {
        "ContainsOldGroupVersions": {
          "documentation": "<p>A flag indicating whether or not a group's filter expression has been consistent, or if a returned aggregation may show statistics from an older version of the group's filter expression.</p>",
          "shape": "Boolean"
        },
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "TimeSeriesServiceStatistics": {
          "documentation": "<p>The collection of statistics.</p>",
          "shape": "TimeSeriesServiceStatisticsList"
        }
      },
      "type": "structure"
    },
    "GetTraceGraphRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "TraceIds": {
          "documentation": "<p>Trace IDs of requests for which to generate a service graph.</p>",
          "shape": "TraceIdList"
        }
      },
      "required": [
        "TraceIds"
      ],
      "type": "structure"
    },
    "GetTraceGraphResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token.</p>",
          "shape": "String"
        },
        "Services": {
          "documentation": "<p>The services that have processed one of the specified requests.</p>",
          "shape": "ServiceList"
        }
      },
      "type": "structure"
    },
    "GetTraceSummariesRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time frame for which to retrieve traces.</p>",
          "shape": "Timestamp"
        },
        "FilterExpression": {
          "documentation": "<p>Specify a filter expression to retrieve trace summaries for services or requests that meet certain requirements.</p>",
          "shape": "FilterExpression"
        },
        "NextToken": {
          "documentation": "<p>Specify the pagination token returned by a previous request to retrieve the next page of results.</p>",
          "shape": "String"
        },
        "Sampling": {
          "documentation": "<p>Set to <code>true</code> to get summaries for only a subset of available traces.</p>",
          "shape": "NullableBoolean"
        },
        "SamplingStrategy": {
          "documentation": "<p>A paramater to indicate whether to enable sampling on trace summaries. Input parameters are Name and Value.</p>",
          "shape": "SamplingStrategy"
        },
        "StartTime": {
          "documentation": "<p>The start of the time frame for which to retrieve traces.</p>",
          "shape": "Timestamp"
        },
        "TimeRangeType": {
          "documentation": "<p>A parameter to indicate whether to query trace summaries by TraceId or Event time.</p>",
          "shape": "TimeRangeType"
        }
      },
      "required": [
        "StartTime",
        "EndTime"
      ],
      "type": "structure"
    },
    "GetTraceSummariesResult": {
      "members": {
        "ApproximateTime": {
          "documentation": "<p>The start time of this page of results.</p>",
          "shape": "Timestamp"
        },
        "NextToken": {
          "documentation": "<p>If the requested time frame contained more than one page of results, you can use this token to retrieve the next page. The first page contains the most most recent results, closest to the end of the time frame.</p>",
          "shape": "String"
        },
        "TraceSummaries": {
          "documentation": "<p>Trace IDs and annotations for traces that were found in the specified time frame.</p>",
          "shape": "TraceSummaryList"
        },
        "TracesProcessedCount": {
          "documentation": "<p>The total number of traces processed, including traces that did not match the specified filter expression.</p>",
          "shape": "NullableLong"
        }
      },
      "type": "structure"
    },
    "Group": {
      "documentation": "<p>Details and metadata for a group.</p>",
      "members": {
        "FilterExpression": {
          "documentation": "<p>The filter expression defining the parameters to include traces.</p>",
          "shape": "String"
        },
        "GroupARN": {
          "documentation": "<p>The ARN of the group generated based on the GroupName.</p>",
          "shape": "String"
        },
        "GroupName": {
          "documentation": "<p>The unique case-sensitive name of the group.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GroupARN": {
      "max": 400,
      "min": 1,
      "type": "string"
    },
    "GroupName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "GroupSummary": {
      "documentation": "<p>Details for a group without metadata.</p>",
      "members": {
        "FilterExpression": {
          "documentation": "<p>The filter expression defining the parameters to include traces.</p>",
          "shape": "String"
        },
        "GroupARN": {
          "documentation": "<p>The ARN of the group generated based on the GroupName.</p>",
          "shape": "String"
        },
        "GroupName": {
          "documentation": "<p>The unique case-sensitive name of the group.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GroupSummaryList": {
      "member": {
        "shape": "GroupSummary"
      },
      "type": "list"
    },
    "HTTPMethod": {
      "max": 10,
      "type": "string"
    },
    "Histogram": {
      "member": {
        "shape": "HistogramEntry"
      },
      "type": "list"
    },
    "HistogramEntry": {
      "documentation": "<p>An entry in a histogram for a statistic. A histogram maps the range of observed values on the X axis, and the prevalence of each value on the Y axis.</p>",
      "members": {
        "Count": {
          "documentation": "<p>The prevalence of the entry.</p>",
          "shape": "Integer"
        },
        "Value": {
          "documentation": "<p>The value of the entry.</p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "Host": {
      "max": 64,
      "type": "string"
    },
    "Hostname": {
      "max": 255,
      "type": "string"
    },
    "Http": {
      "documentation": "<p>Information about an HTTP request.</p>",
      "members": {
        "ClientIp": {
          "documentation": "<p>The IP address of the requestor.</p>",
          "shape": "String"
        },
        "HttpMethod": {
          "documentation": "<p>The request method.</p>",
          "shape": "String"
        },
        "HttpStatus": {
          "documentation": "<p>The response status.</p>",
          "shape": "NullableInteger"
        },
        "HttpURL": {
          "documentation": "<p>The request URL.</p>",
          "shape": "String"
        },
        "UserAgent": {
          "documentation": "<p>The request's user agent string.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InstanceIdDetail": {
      "documentation": "<p>A list of EC2 instance IDs corresponding to the segments in a trace. </p>",
      "members": {
        "Id": {
          "documentation": "<p>The ID of a corresponding EC2 instance.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request is missing required parameters or has invalid parameters.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NullableBoolean": {
      "type": "boolean"
    },
    "NullableDouble": {
      "type": "double"
    },
    "NullableInteger": {
      "type": "integer"
    },
    "NullableLong": {
      "type": "long"
    },
    "Priority": {
      "max": 9999,
      "min": 1,
      "type": "integer"
    },
    "PutEncryptionConfigRequest": {
      "members": {
        "KeyId": {
          "documentation": "<p>An AWS KMS customer master key (CMK) in one of the following formats:</p> <ul> <li> <p> <b>Alias</b> - The name of the key. For example, <code>alias/MyKey</code>.</p> </li> <li> <p> <b>Key ID</b> - The KMS key ID of the key. For example, <code>ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>. AWS X-Ray does not support asymmetric CMKs.</p> </li> <li> <p> <b>ARN</b> - The full Amazon Resource Name of the key ID or alias. For example, <code>arn:aws:kms:us-east-2:123456789012:key/ae4aa6d49-a4d8-9df9-a475-4ff6d7898456</code>. Use this format to specify a key in a different account.</p> </li> </ul> <p>Omit this key if you set <code>Type</code> to <code>NONE</code>.</p>",
          "shape": "EncryptionKeyId"
        },
        "Type": {
          "documentation": "<p>The type of encryption. Set to <code>KMS</code> to use your own key for encryption. Set to <code>NONE</code> for default encryption.</p>",
          "shape": "EncryptionType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "PutEncryptionConfigResult": {
      "members": {
        "EncryptionConfig": {
          "documentation": "<p>The new encryption configuration.</p>",
          "shape": "EncryptionConfig"
        }
      },
      "type": "structure"
    },
    "PutTelemetryRecordsRequest": {
      "members": {
        "EC2InstanceId": {
          "documentation": "<p/>",
          "shape": "EC2InstanceId"
        },
        "Hostname": {
          "documentation": "<p/>",
          "shape": "Hostname"
        },
        "ResourceARN": {
          "documentation": "<p/>",
          "shape": "ResourceARN"
        },
        "TelemetryRecords": {
          "documentation": "<p/>",
          "shape": "TelemetryRecordList"
        }
      },
      "required": [
        "TelemetryRecords"
      ],
      "type": "structure"
    },
    "PutTelemetryRecordsResult": {
      "members": {},
      "type": "structure"
    },
    "PutTraceSegmentsRequest": {
      "members": {
        "TraceSegmentDocuments": {
          "documentation": "<p>A string containing a JSON document defining one or more segments or subsegments.</p>",
          "shape": "TraceSegmentDocumentList"
        }
      },
      "required": [
        "TraceSegmentDocuments"
      ],
      "type": "structure"
    },
    "PutTraceSegmentsResult": {
      "members": {
        "UnprocessedTraceSegments": {
          "documentation": "<p>Segments that failed processing.</p>",
          "shape": "UnprocessedTraceSegmentList"
        }
      },
      "type": "structure"
    },
    "RequestCount": {
      "min": 0,
      "type": "integer"
    },
    "ReservoirSize": {
      "min": 0,
      "type": "integer"
    },
    "ResourceARN": {
      "max": 500,
      "type": "string"
    },
    "ResourceARNDetail": {
      "documentation": "<p>A list of resources ARNs corresponding to the segments in a trace.</p>",
      "members": {
        "ARN": {
          "documentation": "<p>The ARN of a corresponding resource.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCause": {
      "documentation": "<p>The root cause information for a response time warning.</p>",
      "members": {
        "ClientImpacting": {
          "documentation": "<p>A flag that denotes that the root cause impacts the trace client.</p>",
          "shape": "NullableBoolean"
        },
        "Services": {
          "documentation": "<p>A list of corresponding services. A service identifies a segment and contains a name, account ID, type, and inferred flag.</p>",
          "shape": "ResponseTimeRootCauseServices"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCauseEntity": {
      "documentation": "<p>A collection of segments and corresponding subsegments associated to a response time warning.</p>",
      "members": {
        "Coverage": {
          "documentation": "<p>The types and messages of the exceptions.</p>",
          "shape": "NullableDouble"
        },
        "Name": {
          "documentation": "<p>The name of the entity.</p>",
          "shape": "String"
        },
        "Remote": {
          "documentation": "<p>A flag that denotes a remote subsegment.</p>",
          "shape": "NullableBoolean"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCauseEntityPath": {
      "member": {
        "shape": "ResponseTimeRootCauseEntity"
      },
      "type": "list"
    },
    "ResponseTimeRootCauseService": {
      "documentation": "<p>A collection of fields identifying the service in a response time warning.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID associated to the service.</p>",
          "shape": "String"
        },
        "EntityPath": {
          "documentation": "<p>The path of root cause entities found on the service. </p>",
          "shape": "ResponseTimeRootCauseEntityPath"
        },
        "Inferred": {
          "documentation": "<p>A Boolean value indicating if the service is inferred from the trace.</p>",
          "shape": "NullableBoolean"
        },
        "Name": {
          "documentation": "<p>The service name.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A collection of associated service names.</p>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p>The type associated to the service.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResponseTimeRootCauseServices": {
      "member": {
        "shape": "ResponseTimeRootCauseService"
      },
      "type": "list"
    },
    "ResponseTimeRootCauses": {
      "member": {
        "shape": "ResponseTimeRootCause"
      },
      "type": "list"
    },
    "RootCauseException": {
      "documentation": "<p>The exception associated with a root cause.</p>",
      "members": {
        "Message": {
          "documentation": "<p>The message of the exception.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the exception.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RootCauseExceptions": {
      "member": {
        "shape": "RootCauseException"
      },
      "type": "list"
    },
    "RuleLimitExceededException": {
      "documentation": "<p>You have reached the maximum number of sampling rules.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "RuleName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "SampledCount": {
      "min": 0,
      "type": "integer"
    },
    "SamplingRule": {
      "documentation": "<p>A sampling rule that services use to decide whether to instrument a request. Rule fields can match properties of the service, or properties of a request. The service can ignore rules that don't match its properties.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Matches attributes derived from the request.</p>",
          "shape": "AttributeMap"
        },
        "FixedRate": {
          "documentation": "<p>The percentage of matching requests to instrument, after the reservoir is exhausted.</p>",
          "shape": "FixedRate"
        },
        "HTTPMethod": {
          "documentation": "<p>Matches the HTTP method of a request.</p>",
          "shape": "HTTPMethod"
        },
        "Host": {
          "documentation": "<p>Matches the hostname from a request URL.</p>",
          "shape": "Host"
        },
        "Priority": {
          "documentation": "<p>The priority of the sampling rule.</p>",
          "shape": "Priority"
        },
        "ReservoirSize": {
          "documentation": "<p>A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.</p>",
          "shape": "ReservoirSize"
        },
        "ResourceARN": {
          "documentation": "<p>Matches the ARN of the AWS resource on which the service runs.</p>",
          "shape": "ResourceARN"
        },
        "RuleARN": {
          "documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "RuleName"
        },
        "ServiceName": {
          "documentation": "<p>Matches the <code>name</code> that the service uses to identify itself in segments.</p>",
          "shape": "ServiceName"
        },
        "ServiceType": {
          "documentation": "<p>Matches the <code>origin</code> that the service uses to identify its type in segments.</p>",
          "shape": "ServiceType"
        },
        "URLPath": {
          "documentation": "<p>Matches the path from a request URL.</p>",
          "shape": "URLPath"
        },
        "Version": {
          "documentation": "<p>The version of the sampling rule format (<code>1</code>).</p>",
          "shape": "Version"
        }
      },
      "required": [
        "ResourceARN",
        "Priority",
        "FixedRate",
        "ReservoirSize",
        "ServiceName",
        "ServiceType",
        "Host",
        "HTTPMethod",
        "URLPath",
        "Version"
      ],
      "type": "structure"
    },
    "SamplingRuleRecord": {
      "documentation": "<p>A <a>SamplingRule</a> and its metadata.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>When the rule was created.</p>",
          "shape": "Timestamp"
        },
        "ModifiedAt": {
          "documentation": "<p>When the rule was last modified.</p>",
          "shape": "Timestamp"
        },
        "SamplingRule": {
          "documentation": "<p>The sampling rule.</p>",
          "shape": "SamplingRule"
        }
      },
      "type": "structure"
    },
    "SamplingRuleRecordList": {
      "member": {
        "shape": "SamplingRuleRecord"
      },
      "type": "list"
    },
    "SamplingRuleUpdate": {
      "documentation": "<p>A document specifying changes to a sampling rule's configuration.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Matches attributes derived from the request.</p>",
          "shape": "AttributeMap"
        },
        "FixedRate": {
          "documentation": "<p>The percentage of matching requests to instrument, after the reservoir is exhausted.</p>",
          "shape": "NullableDouble"
        },
        "HTTPMethod": {
          "documentation": "<p>Matches the HTTP method of a request.</p>",
          "shape": "HTTPMethod"
        },
        "Host": {
          "documentation": "<p>Matches the hostname from a request URL.</p>",
          "shape": "Host"
        },
        "Priority": {
          "documentation": "<p>The priority of the sampling rule.</p>",
          "shape": "NullableInteger"
        },
        "ReservoirSize": {
          "documentation": "<p>A fixed number of matching requests to instrument per second, prior to applying the fixed rate. The reservoir is not used directly by services, but applies to all services using the rule collectively.</p>",
          "shape": "NullableInteger"
        },
        "ResourceARN": {
          "documentation": "<p>Matches the ARN of the AWS resource on which the service runs.</p>",
          "shape": "ResourceARN"
        },
        "RuleARN": {
          "documentation": "<p>The ARN of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule. Specify a rule by either name or ARN, but not both.</p>",
          "shape": "RuleName"
        },
        "ServiceName": {
          "documentation": "<p>Matches the <code>name</code> that the service uses to identify itself in segments.</p>",
          "shape": "ServiceName"
        },
        "ServiceType": {
          "documentation": "<p>Matches the <code>origin</code> that the service uses to identify its type in segments.</p>",
          "shape": "ServiceType"
        },
        "URLPath": {
          "documentation": "<p>Matches the path from a request URL.</p>",
          "shape": "URLPath"
        }
      },
      "type": "structure"
    },
    "SamplingStatisticSummary": {
      "documentation": "<p>Aggregated request sampling data for a sampling rule across all services for a 10 second window.</p>",
      "members": {
        "BorrowCount": {
          "documentation": "<p>The number of requests recorded with borrowed reservoir quota.</p>",
          "shape": "Integer"
        },
        "RequestCount": {
          "documentation": "<p>The number of requests that matched the rule.</p>",
          "shape": "Integer"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "String"
        },
        "SampledCount": {
          "documentation": "<p>The number of requests recorded.</p>",
          "shape": "Integer"
        },
        "Timestamp": {
          "documentation": "<p>The start time of the reporting window.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "SamplingStatisticSummaryList": {
      "member": {
        "shape": "SamplingStatisticSummary"
      },
      "type": "list"
    },
    "SamplingStatisticsDocument": {
      "documentation": "<p>Request sampling results for a single rule from a service. Results are for the last 10 seconds unless the service has been assigned a longer reporting interval after a previous call to <a>GetSamplingTargets</a>.</p>",
      "members": {
        "BorrowCount": {
          "documentation": "<p>The number of requests recorded with borrowed reservoir quota.</p>",
          "shape": "BorrowCount"
        },
        "ClientID": {
          "documentation": "<p>A unique identifier for the service in hexadecimal.</p>",
          "shape": "ClientID"
        },
        "RequestCount": {
          "documentation": "<p>The number of requests that matched the rule.</p>",
          "shape": "RequestCount"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "RuleName"
        },
        "SampledCount": {
          "documentation": "<p>The number of requests recorded.</p>",
          "shape": "SampledCount"
        },
        "Timestamp": {
          "documentation": "<p>The current time.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "RuleName",
        "ClientID",
        "Timestamp",
        "RequestCount",
        "SampledCount"
      ],
      "type": "structure"
    },
    "SamplingStatisticsDocumentList": {
      "max": 25,
      "member": {
        "shape": "SamplingStatisticsDocument"
      },
      "type": "list"
    },
    "SamplingStrategy": {
      "documentation": "<p>The name and value of a sampling rule to apply to a trace summary.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of a sampling rule.</p>",
          "shape": "SamplingStrategyName"
        },
        "Value": {
          "documentation": "<p>The value of a sampling rule.</p>",
          "shape": "NullableDouble"
        }
      },
      "type": "structure"
    },
    "SamplingStrategyName": {
      "enum": [
        "PartialScan",
        "FixedRate"
      ],
      "type": "string"
    },
    "SamplingTargetDocument": {
      "documentation": "<p>Temporary changes to a sampling rule configuration. To meet the global sampling target for a rule, X-Ray calculates a new reservoir for each service based on the recent sampling results of all services that called <a>GetSamplingTargets</a>.</p>",
      "members": {
        "FixedRate": {
          "documentation": "<p>The percentage of matching requests to instrument, after the reservoir is exhausted.</p>",
          "shape": "Double"
        },
        "Interval": {
          "documentation": "<p>The number of seconds for the service to wait before getting sampling targets again.</p>",
          "shape": "NullableInteger"
        },
        "ReservoirQuota": {
          "documentation": "<p>The number of requests per second that X-Ray allocated this service.</p>",
          "shape": "NullableInteger"
        },
        "ReservoirQuotaTTL": {
          "documentation": "<p>When the reservoir quota expires.</p>",
          "shape": "Timestamp"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SamplingTargetDocumentList": {
      "member": {
        "shape": "SamplingTargetDocument"
      },
      "type": "list"
    },
    "Segment": {
      "documentation": "<p>A segment from a trace that has been ingested by the X-Ray service. The segment can be compiled from documents uploaded with <a>PutTraceSegments</a>, or an <code>inferred</code> segment for a downstream service, generated from a subsegment sent by the service that called it.</p> <p>For the full segment document schema, see <a href=\"https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html\">AWS X-Ray Segment Documents</a> in the <i>AWS X-Ray Developer Guide</i>.</p>",
      "members": {
        "Document": {
          "documentation": "<p>The segment document.</p>",
          "shape": "SegmentDocument"
        },
        "Id": {
          "documentation": "<p>The segment's ID.</p>",
          "shape": "SegmentId"
        }
      },
      "type": "structure"
    },
    "SegmentDocument": {
      "min": 1,
      "type": "string"
    },
    "SegmentId": {
      "type": "string"
    },
    "SegmentList": {
      "member": {
        "shape": "Segment"
      },
      "type": "list"
    },
    "Service": {
      "documentation": "<p>Information about an application that processed requests, users that made requests, or downstream services, resources and applications that an application used.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>Identifier of the AWS account in which the service runs.</p>",
          "shape": "String"
        },
        "DurationHistogram": {
          "documentation": "<p>A histogram that maps the spread of service durations.</p>",
          "shape": "Histogram"
        },
        "Edges": {
          "documentation": "<p>Connections to downstream services.</p>",
          "shape": "EdgeList"
        },
        "EndTime": {
          "documentation": "<p>The end time of the last segment that the service generated.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The canonical name of the service.</p>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p>A list of names for the service, including the canonical name.</p>",
          "shape": "ServiceNames"
        },
        "ReferenceId": {
          "documentation": "<p>Identifier for the service. Unique within the service map.</p>",
          "shape": "NullableInteger"
        },
        "ResponseTimeHistogram": {
          "documentation": "<p>A histogram that maps the spread of service response times.</p>",
          "shape": "Histogram"
        },
        "Root": {
          "documentation": "<p>Indicates that the service was the first service to process a request.</p>",
          "shape": "NullableBoolean"
        },
        "StartTime": {
          "documentation": "<p>The start time of the first segment that the service generated.</p>",
          "shape": "Timestamp"
        },
        "State": {
          "documentation": "<p>The service's state.</p>",
          "shape": "String"
        },
        "SummaryStatistics": {
          "documentation": "<p>Aggregated statistics for the service.</p>",
          "shape": "ServiceStatistics"
        },
        "Type": {
          "documentation": "<p>The type of service.</p> <ul> <li> <p>AWS Resource - The type of an AWS resource. For example, <code>AWS::EC2::Instance</code> for a application running on Amazon EC2 or <code>AWS::DynamoDB::Table</code> for an Amazon DynamoDB table that the application used.</p> </li> <li> <p>AWS Service - The type of an AWS service. For example, <code>AWS::DynamoDB</code> for downstream calls to Amazon DynamoDB that didn't target a specific table.</p> </li> <li> <p> <code>client</code> - Represents the clients that sent requests to a root service.</p> </li> <li> <p> <code>remote</code> - A downstream service of indeterminate type.</p> </li> </ul>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ServiceId": {
      "documentation": "<p/>",
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p/>",
          "shape": "String"
        },
        "Names": {
          "documentation": "<p/>",
          "shape": "ServiceNames"
        },
        "Type": {
          "documentation": "<p/>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ServiceIds": {
      "member": {
        "shape": "ServiceId"
      },
      "type": "list"
    },
    "ServiceList": {
      "member": {
        "shape": "Service"
      },
      "type": "list"
    },
    "ServiceName": {
      "max": 64,
      "type": "string"
    },
    "ServiceNames": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ServiceStatistics": {
      "documentation": "<p>Response statistics for a service.</p>",
      "members": {
        "ErrorStatistics": {
          "documentation": "<p>Information about requests that failed with a 4xx Client Error status code.</p>",
          "shape": "ErrorStatistics"
        },
        "FaultStatistics": {
          "documentation": "<p>Information about requests that failed with a 5xx Server Error status code.</p>",
          "shape": "FaultStatistics"
        },
        "OkCount": {
          "documentation": "<p>The number of requests that completed with a 2xx Success status code.</p>",
          "shape": "NullableLong"
        },
        "TotalCount": {
          "documentation": "<p>The total number of completed requests.</p>",
          "shape": "NullableLong"
        },
        "TotalResponseTime": {
          "documentation": "<p>The aggregate response time of completed requests.</p>",
          "shape": "NullableDouble"
        }
      },
      "type": "structure"
    },
    "ServiceType": {
      "max": 64,
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "TelemetryRecord": {
      "documentation": "<p/>",
      "members": {
        "BackendConnectionErrors": {
          "documentation": "<p/>",
          "shape": "BackendConnectionErrors"
        },
        "SegmentsReceivedCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "SegmentsRejectedCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "SegmentsSentCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "SegmentsSpilloverCount": {
          "documentation": "<p/>",
          "shape": "NullableInteger"
        },
        "Timestamp": {
          "documentation": "<p/>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "Timestamp"
      ],
      "type": "structure"
    },
    "TelemetryRecordList": {
      "member": {
        "shape": "TelemetryRecord"
      },
      "type": "list"
    },
    "ThrottledException": {
      "documentation": "<p>The request exceeds the maximum number of requests per second.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "TimeRangeType": {
      "enum": [
        "TraceId",
        "Event"
      ],
      "type": "string"
    },
    "TimeSeriesServiceStatistics": {
      "documentation": "<p>A list of TimeSeriesStatistic structures.</p>",
      "members": {
        "EdgeSummaryStatistics": {
          "shape": "EdgeStatistics"
        },
        "ResponseTimeHistogram": {
          "documentation": "<p>The response time histogram for the selected entities.</p>",
          "shape": "Histogram"
        },
        "ServiceSummaryStatistics": {
          "shape": "ServiceStatistics"
        },
        "Timestamp": {
          "documentation": "<p>Timestamp of the window for which statistics are aggregated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "TimeSeriesServiceStatisticsList": {
      "member": {
        "shape": "TimeSeriesServiceStatistics"
      },
      "type": "list"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Trace": {
      "documentation": "<p>A collection of segment documents with matching trace IDs.</p>",
      "members": {
        "Duration": {
          "documentation": "<p>The length of time in seconds between the start time of the root segment and the end time of the last segment that completed.</p>",
          "shape": "NullableDouble"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the request that generated the trace's segments and subsegments.</p>",
          "shape": "TraceId"
        },
        "Segments": {
          "documentation": "<p>Segment documents for the segments and subsegments that comprise the trace.</p>",
          "shape": "SegmentList"
        }
      },
      "type": "structure"
    },
    "TraceAvailabilityZones": {
      "member": {
        "shape": "AvailabilityZoneDetail"
      },
      "type": "list"
    },
    "TraceId": {
      "max": 35,
      "min": 1,
      "type": "string"
    },
    "TraceIdList": {
      "member": {
        "shape": "TraceId"
      },
      "type": "list"
    },
    "TraceInstanceIds": {
      "member": {
        "shape": "InstanceIdDetail"
      },
      "type": "list"
    },
    "TraceList": {
      "member": {
        "shape": "Trace"
      },
      "type": "list"
    },
    "TraceResourceARNs": {
      "member": {
        "shape": "ResourceARNDetail"
      },
      "type": "list"
    },
    "TraceSegmentDocument": {
      "type": "string"
    },
    "TraceSegmentDocumentList": {
      "member": {
        "shape": "TraceSegmentDocument"
      },
      "type": "list"
    },
    "TraceSummary": {
      "documentation": "<p>Metadata generated from the segment documents in a trace.</p>",
      "members": {
        "Annotations": {
          "documentation": "<p>Annotations from the trace's segment documents.</p>",
          "shape": "Annotations"
        },
        "AvailabilityZones": {
          "documentation": "<p>A list of availability zones for any zone corresponding to the trace segments.</p>",
          "shape": "TraceAvailabilityZones"
        },
        "Duration": {
          "documentation": "<p>The length of time in seconds between the start time of the root segment and the end time of the last segment that completed.</p>",
          "shape": "NullableDouble"
        },
        "EntryPoint": {
          "documentation": "<p>The root of a trace.</p>",
          "shape": "ServiceId"
        },
        "ErrorRootCauses": {
          "documentation": "<p>A collection of ErrorRootCause structures corresponding to the trace segments.</p>",
          "shape": "ErrorRootCauses"
        },
        "FaultRootCauses": {
          "documentation": "<p>A collection of FaultRootCause structures corresponding to the the trace segments.</p>",
          "shape": "FaultRootCauses"
        },
        "HasError": {
          "documentation": "<p>The root segment document has a 400 series error.</p>",
          "shape": "NullableBoolean"
        },
        "HasFault": {
          "documentation": "<p>The root segment document has a 500 series error.</p>",
          "shape": "NullableBoolean"
        },
        "HasThrottle": {
          "documentation": "<p>One or more of the segment documents has a 429 throttling error.</p>",
          "shape": "NullableBoolean"
        },
        "Http": {
          "documentation": "<p>Information about the HTTP request served by the trace.</p>",
          "shape": "Http"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the request that generated the trace's segments and subsegments.</p>",
          "shape": "TraceId"
        },
        "InstanceIds": {
          "documentation": "<p>A list of EC2 instance IDs for any instance corresponding to the trace segments.</p>",
          "shape": "TraceInstanceIds"
        },
        "IsPartial": {
          "documentation": "<p>One or more of the segment documents is in progress.</p>",
          "shape": "NullableBoolean"
        },
        "MatchedEventTime": {
          "documentation": "<p>The matched time stamp of a defined event.</p>",
          "shape": "Timestamp"
        },
        "ResourceARNs": {
          "documentation": "<p>A list of resource ARNs for any resource corresponding to the trace segments.</p>",
          "shape": "TraceResourceARNs"
        },
        "ResponseTime": {
          "documentation": "<p>The length of time in seconds between the start and end times of the root segment. If the service performs work asynchronously, the response time measures the time before the response is sent to the user, while the duration measures the amount of time before the last traced activity completes.</p>",
          "shape": "NullableDouble"
        },
        "ResponseTimeRootCauses": {
          "documentation": "<p>A collection of ResponseTimeRootCause structures corresponding to the trace segments.</p>",
          "shape": "ResponseTimeRootCauses"
        },
        "Revision": {
          "documentation": "<p>The revision number of a trace.</p>",
          "shape": "Integer"
        },
        "ServiceIds": {
          "documentation": "<p>Service IDs from the trace's segment documents.</p>",
          "shape": "ServiceIds"
        },
        "Users": {
          "documentation": "<p>Users from the trace's segment documents.</p>",
          "shape": "TraceUsers"
        }
      },
      "type": "structure"
    },
    "TraceSummaryList": {
      "member": {
        "shape": "TraceSummary"
      },
      "type": "list"
    },
    "TraceUser": {
      "documentation": "<p>Information about a user recorded in segment documents.</p>",
      "members": {
        "ServiceIds": {
          "documentation": "<p>Services that the user's request hit.</p>",
          "shape": "ServiceIds"
        },
        "UserName": {
          "documentation": "<p>The user's name.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TraceUsers": {
      "member": {
        "shape": "TraceUser"
      },
      "type": "list"
    },
    "URLPath": {
      "max": 128,
      "type": "string"
    },
    "UnprocessedStatistics": {
      "documentation": "<p>Sampling statistics from a call to <a>GetSamplingTargets</a> that X-Ray could not process.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "String"
        },
        "Message": {
          "documentation": "<p>The error message.</p>",
          "shape": "String"
        },
        "RuleName": {
          "documentation": "<p>The name of the sampling rule.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UnprocessedStatisticsList": {
      "member": {
        "shape": "UnprocessedStatistics"
      },
      "type": "list"
    },
    "UnprocessedTraceIdList": {
      "member": {
        "shape": "TraceId"
      },
      "type": "list"
    },
    "UnprocessedTraceSegment": {
      "documentation": "<p>Information about a segment that failed processing.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error that caused processing to fail.</p>",
          "shape": "String"
        },
        "Id": {
          "documentation": "<p>The segment's ID.</p>",
          "shape": "String"
        },
        "Message": {
          "documentation": "<p>The error message.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UnprocessedTraceSegmentList": {
      "member": {
        "shape": "UnprocessedTraceSegment"
      },
      "type": "list"
    },
    "UpdateGroupRequest": {
      "members": {
        "FilterExpression": {
          "documentation": "<p>The updated filter expression defining criteria by which to group traces.</p>",
          "shape": "FilterExpression"
        },
        "GroupARN": {
          "documentation": "<p>The ARN that was generated upon creation.</p>",
          "shape": "GroupARN"
        },
        "GroupName": {
          "documentation": "<p>The case-sensitive name of the group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "UpdateGroupResult": {
      "members": {
        "Group": {
          "documentation": "<p>The group that was updated. Contains the name of the group that was updated, the ARN of the group that was updated, and the updated filter expression assigned to the group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "UpdateSamplingRuleRequest": {
      "members": {
        "SamplingRuleUpdate": {
          "documentation": "<p>The rule and fields to change.</p>",
          "shape": "SamplingRuleUpdate"
        }
      },
      "required": [
        "SamplingRuleUpdate"
      ],
      "type": "structure"
    },
    "UpdateSamplingRuleResult": {
      "members": {
        "SamplingRuleRecord": {
          "documentation": "<p>The updated rule definition and metadata.</p>",
          "shape": "SamplingRuleRecord"
        }
      },
      "type": "structure"
    },
    "ValueWithServiceIds": {
      "documentation": "<p>Information about a segment annotation.</p>",
      "members": {
        "AnnotationValue": {
          "documentation": "<p>Values of the annotation.</p>",
          "shape": "AnnotationValue"
        },
        "ServiceIds": {
          "documentation": "<p>Services to which the annotation applies.</p>",
          "shape": "ServiceIds"
        }
      },
      "type": "structure"
    },
    "ValuesWithServiceIds": {
      "member": {
        "shape": "ValueWithServiceIds"
      },
      "type": "list"
    },
    "Version": {
      "min": 1,
      "type": "integer"
    }
  },
  "version": "2.0"
}
