{
  "documentation": "<p>AWS Cloud Map lets you configure public DNS, private DNS, or HTTP namespaces that your microservice applications run in. When an instance of the service becomes available, you can call the AWS Cloud Map API to register the instance with AWS Cloud Map. For public or private DNS namespaces, AWS Cloud Map automatically creates DNS records and an optional health check. Clients that submit public or private DNS queries, or HTTP requests, for the service receive an answer that contains up to eight healthy records. </p>",
  "metadata": {
    "apiVersion": "2017-03-14",
    "endpointPrefix": "servicediscovery",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ServiceDiscovery",
    "serviceFullName": "AWS Cloud Map",
    "serviceId": "ServiceDiscovery",
    "signatureVersion": "v4",
    "targetPrefix": "Route53AutoNaming_v20170314",
    "uid": "servicediscovery-2017-03-14"
  },
  "operations": {
    "CreateHttpNamespace": {
      "documentation": "<p>Creates an HTTP namespace. Service instances that you register using an HTTP namespace can be discovered using a <code>DiscoverInstances</code> request but can't be discovered using DNS. </p> <p>For the current limit on the number of namespaces that you can create using the same AWS account, see <a href=\"http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceAlreadyExists"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateHttpNamespaceRequest"
      },
      "name": "CreateHttpNamespace",
      "output": {
        "shape": "CreateHttpNamespaceResponse"
      }
    },
    "CreatePrivateDnsNamespace": {
      "documentation": "<p>Creates a private namespace based on DNS, which will be visible only inside a specified Amazon VPC. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. For the current limit on the number of namespaces that you can create using the same AWS account, see <a href=\"http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceAlreadyExists"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePrivateDnsNamespaceRequest"
      },
      "name": "CreatePrivateDnsNamespace",
      "output": {
        "shape": "CreatePrivateDnsNamespaceResponse"
      }
    },
    "CreatePublicDnsNamespace": {
      "documentation": "<p>Creates a public namespace based on DNS, which will be visible on the internet. The namespace defines your service naming scheme. For example, if you name your namespace <code>example.com</code> and name your service <code>backend</code>, the resulting DNS name for the service will be <code>backend.example.com</code>. For the current limit on the number of namespaces that you can create using the same AWS account, see <a href=\"http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceAlreadyExists"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePublicDnsNamespaceRequest"
      },
      "name": "CreatePublicDnsNamespace",
      "output": {
        "shape": "CreatePublicDnsNamespaceResponse"
      }
    },
    "CreateService": {
      "documentation": "<p>Creates a service, which defines the configuration for the following entities:</p> <ul> <li> <p>For public and private DNS namespaces, one of the following combinations of DNS records in Amazon Route 53:</p> <ul> <li> <p>A</p> </li> <li> <p>AAAA</p> </li> <li> <p>A and AAAA</p> </li> <li> <p>SRV</p> </li> <li> <p>CNAME</p> </li> </ul> </li> <li> <p>Optionally, a health check</p> </li> </ul> <p>After you create the service, you can submit a <a>RegisterInstance</a> request, and AWS Cloud Map uses the values in the configuration to create the specified entities.</p> <p>For the current limit on the number of instances that you can register using the same namespace and using the same service, see <a href=\"http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ServiceAlreadyExists"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServiceRequest"
      },
      "name": "CreateService",
      "output": {
        "shape": "CreateServiceResponse"
      }
    },
    "DeleteNamespace": {
      "documentation": "<p>Deletes a namespace from the current account. If the namespace still contains one or more services, the request fails.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "DuplicateRequest"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNamespaceRequest"
      },
      "name": "DeleteNamespace",
      "output": {
        "shape": "DeleteNamespaceResponse"
      }
    },
    "DeleteService": {
      "documentation": "<p>Deletes a specified service. If the service still contains one or more registered instances, the request fails.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "ResourceInUse"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceRequest"
      },
      "name": "DeleteService",
      "output": {
        "shape": "DeleteServiceResponse"
      }
    },
    "DeregisterInstance": {
      "documentation": "<p>Deletes the Amazon Route 53 DNS records and health check, if any, that AWS Cloud Map created for the specified instance.</p>",
      "errors": [
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterInstanceRequest"
      },
      "name": "DeregisterInstance",
      "output": {
        "shape": "DeregisterInstanceResponse"
      }
    },
    "DiscoverInstances": {
      "documentation": "<p>Discovers registered instances for a specified namespace and service.</p>",
      "endpoint": {
        "hostPrefix": "data-"
      },
      "errors": [
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "NamespaceNotFound"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DiscoverInstancesRequest"
      },
      "name": "DiscoverInstances",
      "output": {
        "shape": "DiscoverInstancesResponse"
      }
    },
    "GetInstance": {
      "documentation": "<p>Gets information about a specified instance.</p>",
      "errors": [
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceRequest"
      },
      "name": "GetInstance",
      "output": {
        "shape": "GetInstanceResponse"
      }
    },
    "GetInstancesHealthStatus": {
      "documentation": "<p>Gets the current health status (<code>Healthy</code>, <code>Unhealthy</code>, or <code>Unknown</code>) of one or more instances that are associated with a specified service.</p> <note> <p>There is a brief delay between when you register an instance and when the health status for the instance is available. </p> </note>",
      "errors": [
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstancesHealthStatusRequest"
      },
      "name": "GetInstancesHealthStatus",
      "output": {
        "shape": "GetInstancesHealthStatusResponse"
      }
    },
    "GetNamespace": {
      "documentation": "<p>Gets information about a namespace.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "NamespaceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNamespaceRequest"
      },
      "name": "GetNamespace",
      "output": {
        "shape": "GetNamespaceResponse"
      }
    },
    "GetOperation": {
      "documentation": "<p>Gets information about any operation that returns an operation ID in the response, such as a <code>CreateService</code> request.</p> <note> <p>To get a list of operations that match specified criteria, see <a>ListOperations</a>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "OperationNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOperationRequest"
      },
      "name": "GetOperation",
      "output": {
        "shape": "GetOperationResponse"
      }
    },
    "GetService": {
      "documentation": "<p>Gets the settings for a specified service.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceRequest"
      },
      "name": "GetService",
      "output": {
        "shape": "GetServiceResponse"
      }
    },
    "ListInstances": {
      "documentation": "<p>Lists summary information about the instances that you registered by using a specified service.</p>",
      "errors": [
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstancesRequest"
      },
      "name": "ListInstances",
      "output": {
        "shape": "ListInstancesResponse"
      }
    },
    "ListNamespaces": {
      "documentation": "<p>Lists summary information about the namespaces that were created by the current AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListNamespacesRequest"
      },
      "name": "ListNamespaces",
      "output": {
        "shape": "ListNamespacesResponse"
      }
    },
    "ListOperations": {
      "documentation": "<p>Lists operations that match the criteria that you specify.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOperationsRequest"
      },
      "name": "ListOperations",
      "output": {
        "shape": "ListOperationsResponse"
      }
    },
    "ListServices": {
      "documentation": "<p>Lists summary information for all the services that are associated with one or more specified namespaces.</p>",
      "errors": [
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicesRequest"
      },
      "name": "ListServices",
      "output": {
        "shape": "ListServicesResponse"
      }
    },
    "RegisterInstance": {
      "documentation": "<p>Creates or updates one or more records and, optionally, creates a health check based on the settings in a specified service. When you submit a <code>RegisterInstance</code> request, the following occurs:</p> <ul> <li> <p>For each DNS record that you define in the service that is specified by <code>ServiceId</code>, a record is created or updated in the hosted zone that is associated with the corresponding namespace.</p> </li> <li> <p>If the service includes <code>HealthCheckConfig</code>, a health check is created based on the settings in the health check configuration.</p> </li> <li> <p>The health check, if any, is associated with each of the new or updated records.</p> </li> </ul> <important> <p>One <code>RegisterInstance</code> request must complete before you can submit another request and specify the same service ID and instance ID.</p> </important> <p>For more information, see <a>CreateService</a>.</p> <p>When AWS Cloud Map receives a DNS query for the specified DNS name, it returns the applicable value:</p> <ul> <li> <p> <b>If the health check is healthy</b>: returns all the records</p> </li> <li> <p> <b>If the health check is unhealthy</b>: returns the applicable value for the last healthy instance</p> </li> <li> <p> <b>If you didn't specify a health check configuration</b>: returns all the records</p> </li> </ul> <p>For the current limit on the number of instances that you can register using the same namespace and using the same service, see <a href=\"http://docs.aws.amazon.com/cloud-map/latest/dg/cloud-map-limits.html\">AWS Cloud Map Limits</a> in the <i>AWS Cloud Map Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ResourceInUse"
        },
        {
          "shape": "ResourceLimitExceeded"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterInstanceRequest"
      },
      "name": "RegisterInstance",
      "output": {
        "shape": "RegisterInstanceResponse"
      }
    },
    "UpdateInstanceCustomHealthStatus": {
      "documentation": "<p>Submits a request to change the health status of a custom health check to healthy or unhealthy.</p> <p>You can use <code>UpdateInstanceCustomHealthStatus</code> to change the status only for custom health checks, which you define using <code>HealthCheckCustomConfig</code> when you create a service. You can't use it to change the status for Route 53 health checks, which you define using <code>HealthCheckConfig</code>.</p> <p>For more information, see <a>HealthCheckCustomConfig</a>.</p>",
      "errors": [
        {
          "shape": "InstanceNotFound"
        },
        {
          "shape": "ServiceNotFound"
        },
        {
          "shape": "CustomHealthNotFound"
        },
        {
          "shape": "InvalidInput"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateInstanceCustomHealthStatusRequest"
      },
      "name": "UpdateInstanceCustomHealthStatus"
    },
    "UpdateService": {
      "documentation": "<p>Submits a request to perform the following operations:</p> <ul> <li> <p>Add or delete <code>DnsRecords</code> configurations</p> </li> <li> <p>Update the TTL setting for existing <code>DnsRecords</code> configurations</p> </li> <li> <p>Add, update, or delete <code>HealthCheckConfig</code> for a specified service</p> </li> </ul> <p>For public and private DNS namespaces, you must specify all <code>DnsRecords</code> configurations (and, optionally, <code>HealthCheckConfig</code>) that you want to appear in the updated service. Any current configurations that don't appear in an <code>UpdateService</code> request are deleted.</p> <p>When you update the TTL setting for a service, AWS Cloud Map also updates the corresponding settings in all the records and health checks that were created by using the specified service.</p>",
      "errors": [
        {
          "shape": "DuplicateRequest"
        },
        {
          "shape": "InvalidInput"
        },
        {
          "shape": "ServiceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceRequest"
      },
      "name": "UpdateService",
      "output": {
        "shape": "UpdateServiceResponse"
      }
    }
  },
  "shapes": {
    "Arn": {
      "max": 255,
      "type": "string"
    },
    "AttrKey": {
      "max": 255,
      "type": "string"
    },
    "AttrValue": {
      "max": 1024,
      "type": "string"
    },
    "Attributes": {
      "key": {
        "shape": "AttrKey"
      },
      "type": "map",
      "value": {
        "shape": "AttrValue"
      }
    },
    "Code": {
      "type": "string"
    },
    "CreateHttpNamespaceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateHttpNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to this namespace.</p>",
          "shape": "NamespaceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateHttpNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "CreatePrivateDnsNamespaceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreatePrivateDnsNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to this namespace. When you create a private DNS namespace, AWS Cloud Map automatically creates an Amazon Route 53 private hosted zone that has the same name as the namespace.</p>",
          "shape": "NamespaceName"
        },
        "Vpc": {
          "documentation": "<p>The ID of the Amazon VPC that you want to associate the namespace with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Name",
        "Vpc"
      ],
      "type": "structure"
    },
    "CreatePrivateDnsNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "CreatePublicDnsNamespaceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreatePublicDnsNamespace</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to this namespace.</p>",
          "shape": "NamespaceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreatePublicDnsNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "CreateServiceRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>CreateService</code> requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>A description for the service.</p>",
          "shape": "ResourceDescription"
        },
        "DnsConfig": {
          "documentation": "<p>A complex type that contains information about the Amazon Route 53 records that you want AWS Cloud Map to create when you register an instance. </p>",
          "shape": "DnsConfig"
        },
        "HealthCheckConfig": {
          "documentation": "<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional Route 53 health check. If you specify settings for a health check, AWS Cloud Map associates the health check with all the Route 53 DNS records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/cloud-map/pricing/\">AWS Cloud Map Pricing</a>.</p>",
          "shape": "HealthCheckConfig"
        },
        "HealthCheckCustomConfig": {
          "documentation": "<p>A complex type that contains information about an optional custom health check.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important>",
          "shape": "HealthCheckCustomConfig"
        },
        "Name": {
          "documentation": "<p>The name that you want to assign to the service.</p>",
          "shape": "ServiceName"
        },
        "NamespaceId": {
          "documentation": "<p>The ID of the namespace that you want to use to create the service.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateServiceResponse": {
      "members": {
        "Service": {
          "documentation": "<p>A complex type that contains information about the new service.</p>",
          "shape": "Service"
        }
      },
      "type": "structure"
    },
    "CustomHealthNotFound": {
      "documentation": "<p>The health check for the instance that is specified by <code>ServiceId</code> and <code>InstanceId</code> is not a custom health check. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CustomHealthStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "DeleteNamespaceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the namespace that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteNamespaceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "DeleteServiceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the service that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteServiceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeregisterInstanceRequest": {
      "members": {
        "InstanceId": {
          "documentation": "<p>The value that you specified for <code>Id</code> in the <a>RegisterInstance</a> request.</p>",
          "shape": "ResourceId"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that the instance is associated with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId",
        "InstanceId"
      ],
      "type": "structure"
    },
    "DeregisterInstanceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. For more information, see <a>GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "DiscoverInstancesRequest": {
      "members": {
        "HealthStatus": {
          "documentation": "<p>The health status of the instances that you want to discover.</p>",
          "shape": "HealthStatusFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of instances that you want Cloud Map to return in the response to a <code>DiscoverInstances</code> request. If you don't specify a value for <code>MaxResults</code>, Cloud Map returns up to 100 instances.</p>",
          "shape": "MaxResults"
        },
        "NamespaceName": {
          "documentation": "<p>The name of the namespace that you specified when you registered the instance.</p>",
          "shape": "NamespaceName"
        },
        "QueryParameters": {
          "documentation": "<p>A string map that contains attributes with values that you can use to filter instances by any custom attribute that you specified when you registered the instance. Only instances that match all the specified key/value pairs will be returned.</p>",
          "shape": "Attributes"
        },
        "ServiceName": {
          "documentation": "<p>The name of the service that you specified when you registered the instance.</p>",
          "shape": "ServiceName"
        }
      },
      "required": [
        "NamespaceName",
        "ServiceName"
      ],
      "type": "structure"
    },
    "DiscoverInstancesResponse": {
      "members": {
        "Instances": {
          "documentation": "<p>A complex type that contains one <code>HttpInstanceSummary</code> for each registered instance.</p>",
          "shape": "HttpInstanceSummaryList"
        }
      },
      "type": "structure"
    },
    "DnsConfig": {
      "documentation": "<p>A complex type that contains information about the Amazon Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.</p>",
      "members": {
        "DnsRecords": {
          "documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route 53 DNS record that you want AWS Cloud Map to create when you register an instance.</p>",
          "shape": "DnsRecordList"
        },
        "NamespaceId": {
          "deprecated": true,
          "deprecatedMessage": "Top level attribute in request should be used to reference namespace-id",
          "documentation": "<p>The ID of the namespace to use for DNS configuration.</p>",
          "shape": "ResourceId"
        },
        "RoutingPolicy": {
          "documentation": "<p>The routing policy that you want to apply to all Route 53 DNS records that AWS Cloud Map creates when you register an instance and specify this service.</p> <note> <p>If you want to use this service to register instances that create alias records, specify <code>WEIGHTED</code> for the routing policy.</p> </note> <p>You can specify the following values:</p> <p> <b>MULTIVALUE</b> </p> <p>If you define a health check for the service and the health check is healthy, Route 53 returns the applicable value for up to eight instances.</p> <p>For example, suppose the service includes configurations for one A record and a health check, and you use the service to register 10 instances. Route 53 responds to DNS queries with IP addresses for up to eight healthy instances. If fewer than eight instances are healthy, Route 53 responds to every DNS query with the IP addresses for all of the healthy instances.</p> <p>If you don't define a health check for the service, Route 53 assumes that all instances are healthy and returns the values for up to eight instances.</p> <p>For more information about the multivalue routing policy, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-multivalue\">Multivalue Answer Routing</a> in the <i>Route 53 Developer Guide</i>.</p> <p> <b>WEIGHTED</b> </p> <p>Route 53 returns the applicable value from one randomly selected instance from among the instances that you registered using the same service. Currently, all records have the same weight, so you can't route more or less traffic to any instances.</p> <p>For example, suppose the service includes configurations for one A record and a health check, and you use the service to register 10 instances. Route 53 responds to DNS queries with the IP address for one randomly selected instance from among the healthy instances. If no instances are healthy, Route 53 responds to DNS queries as if all of the instances were healthy.</p> <p>If you don't define a health check for the service, Route 53 assumes that all instances are healthy and returns the applicable value for one randomly selected instance.</p> <p>For more information about the weighted routing policy, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/routing-policy.html#routing-policy-weighted\">Weighted Routing</a> in the <i>Route 53 Developer Guide</i>.</p>",
          "shape": "RoutingPolicy"
        }
      },
      "required": [
        "DnsRecords"
      ],
      "type": "structure"
    },
    "DnsConfigChange": {
      "documentation": "<p>A complex type that contains information about changes to the Route 53 DNS records that AWS Cloud Map creates when you register an instance.</p>",
      "members": {
        "DnsRecords": {
          "documentation": "<p>An array that contains one <code>DnsRecord</code> object for each Route 53 record that you want AWS Cloud Map to create when you register an instance.</p>",
          "shape": "DnsRecordList"
        }
      },
      "required": [
        "DnsRecords"
      ],
      "type": "structure"
    },
    "DnsProperties": {
      "documentation": "<p>A complex type that contains the ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.</p>",
      "members": {
        "HostedZoneId": {
          "documentation": "<p>The ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "DnsRecord": {
      "documentation": "<p>A complex type that contains information about the Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.</p>",
      "members": {
        "TTL": {
          "documentation": "<p>The amount of time, in seconds, that you want DNS resolvers to cache the settings for this record.</p> <note> <p>Alias records don't include a TTL because Route 53 uses the TTL for the AWS resource that an alias record routes traffic to. If you include the <code>AWS_ALIAS_DNS_NAME</code> attribute when you submit a <a>RegisterInstance</a> request, the <code>TTL</code> value is ignored. Always specify a TTL for the service; you can use a service to register instances that create either alias or non-alias records.</p> </note>",
          "shape": "RecordTTL"
        },
        "Type": {
          "documentation": "<p>The type of the resource, which indicates the type of value that Route 53 returns in response to DNS queries.</p> <p>Note the following:</p> <ul> <li> <p> <b>A, AAAA, and SRV records:</b> You can specify settings for a maximum of one A, one AAAA, and one SRV record. You can specify them in any combination.</p> </li> <li> <p> <b>CNAME records:</b> If you specify <code>CNAME</code> for <code>Type</code>, you can't define any other records. This is a limitation of DNS: you can't create a CNAME record and any other type of record that has the same name as a CNAME record.</p> </li> <li> <p> <b>Alias records:</b> If you want AWS Cloud Map to create a Route 53 alias record when you register an instance, specify <code>A</code> or <code>AAAA</code> for <code>Type</code>.</p> </li> <li> <p> <b>All records:</b> You specify settings other than <code>TTL</code> and <code>Type</code> when you register an instance.</p> </li> </ul> <p>The following values are supported:</p> <p> <b>A</b> </p> <p>Route 53 returns the IP address of the resource in IPv4 format, such as 192.0.2.44.</p> <p> <b>AAAA</b> </p> <p>Route 53 returns the IP address of the resource in IPv6 format, such as 2001:0db8:85a3:0000:0000:abcd:0001:2345.</p> <p> <b>CNAME</b> </p> <p>Route 53 returns the domain name of the resource, such as www.example.com. Note the following:</p> <ul> <li> <p>You specify the domain name that you want to route traffic to when you register an instance. For more information, see <a>RegisterInstanceRequest$Attributes</a>.</p> </li> <li> <p>You must specify <code>WEIGHTED</code> for the value of <code>RoutingPolicy</code>.</p> </li> <li> <p>You can't specify both <code>CNAME</code> for <code>Type</code> and settings for <code>HealthCheckConfig</code>. If you do, the request will fail with an <code>InvalidInput</code> error.</p> </li> </ul> <p> <b>SRV</b> </p> <p>Route 53 returns the value for an SRV record. The value for an SRV record uses the following values:</p> <p> <code>priority weight port service-hostname</code> </p> <p>Note the following about the values:</p> <ul> <li> <p>The values of <code>priority</code> and <code>weight</code> are both set to <code>1</code> and can't be changed. </p> </li> <li> <p>The value of <code>port</code> comes from the value that you specify for the <code>AWS_INSTANCE_PORT</code> attribute when you submit a <a>RegisterInstance</a> request. </p> </li> <li> <p>The value of <code>service-hostname</code> is a concatenation of the following values:</p> <ul> <li> <p>The value that you specify for <code>InstanceId</code> when you register an instance.</p> </li> <li> <p>The name of the service.</p> </li> <li> <p>The name of the namespace. </p> </li> </ul> <p>For example, if the value of <code>InstanceId</code> is <code>test</code>, the name of the service is <code>backend</code>, and the name of the namespace is <code>example.com</code>, the value of <code>service-hostname</code> is:</p> <p> <code>test.backend.example.com</code> </p> </li> </ul> <p>If you specify settings for an SRV record and if you specify values for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both in the <code>RegisterInstance</code> request, AWS Cloud Map automatically creates <code>A</code> and/or <code>AAAA</code> records that have the same name as the value of <code>service-hostname</code> in the SRV record. You can ignore these records.</p>",
          "shape": "RecordType"
        }
      },
      "required": [
        "Type",
        "TTL"
      ],
      "type": "structure"
    },
    "DnsRecordList": {
      "member": {
        "shape": "DnsRecord"
      },
      "type": "list"
    },
    "DuplicateRequest": {
      "documentation": "<p>The operation is already in progress.</p>",
      "exception": true,
      "members": {
        "DuplicateOperationId": {
          "documentation": "<p>The ID of the operation that is already in progress.</p>",
          "shape": "ResourceId"
        },
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FailureThreshold": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "FilterCondition": {
      "enum": [
        "EQ",
        "IN",
        "BETWEEN"
      ],
      "type": "string"
    },
    "FilterValue": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "FilterValues": {
      "member": {
        "shape": "FilterValue"
      },
      "type": "list"
    },
    "GetInstanceRequest": {
      "members": {
        "InstanceId": {
          "documentation": "<p>The ID of the instance that you want to get information about.</p>",
          "shape": "ResourceId"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that the instance is associated with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId",
        "InstanceId"
      ],
      "type": "structure"
    },
    "GetInstanceResponse": {
      "members": {
        "Instance": {
          "documentation": "<p>A complex type that contains information about a specified instance.</p>",
          "shape": "Instance"
        }
      },
      "type": "structure"
    },
    "GetInstancesHealthStatusRequest": {
      "members": {
        "Instances": {
          "documentation": "<p>An array that contains the IDs of all the instances that you want to get the health status for.</p> <p>If you omit <code>Instances</code>, AWS Cloud Map returns the health status for all the instances that are associated with the specified service.</p> <note> <p>To get the IDs for the instances that you've registered by using a specified service, submit a <a>ListInstances</a> request.</p> </note>",
          "shape": "InstanceIdList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>GetInstancesHealthStatus</code> request. If you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>GetInstancesHealthStatus</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that the instance is associated with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId"
      ],
      "type": "structure"
    },
    "GetInstancesHealthStatusResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>GetInstancesHealthStatus</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        },
        "Status": {
          "documentation": "<p>A complex type that contains the IDs and the health status of the instances that you specified in the <code>GetInstancesHealthStatus</code> request.</p>",
          "shape": "InstanceHealthStatusMap"
        }
      },
      "type": "structure"
    },
    "GetNamespaceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the namespace that you want to get information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetNamespaceResponse": {
      "members": {
        "Namespace": {
          "documentation": "<p>A complex type that contains information about the specified namespace.</p>",
          "shape": "Namespace"
        }
      },
      "type": "structure"
    },
    "GetOperationRequest": {
      "members": {
        "OperationId": {
          "documentation": "<p>The ID of the operation that you want to get more information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OperationId"
      ],
      "type": "structure"
    },
    "GetOperationResponse": {
      "members": {
        "Operation": {
          "documentation": "<p>A complex type that contains information about the operation.</p>",
          "shape": "Operation"
        }
      },
      "type": "structure"
    },
    "GetServiceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The ID of the service that you want to get settings for.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetServiceResponse": {
      "members": {
        "Service": {
          "documentation": "<p>A complex type that contains information about the service.</p>",
          "shape": "Service"
        }
      },
      "type": "structure"
    },
    "HealthCheckConfig": {
      "documentation": "<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, AWS Cloud Map associates the health check with the records that you specify in <code>DnsConfig</code>.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>Health checks are basic Route 53 health checks that monitor an AWS endpoint. For information about pricing for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p> <p>Note the following about configuring health checks.</p> <p> <b>A and AAAA records</b> </p> <p>If <code>DnsConfig</code> includes configurations for both A and AAAA records, AWS Cloud Map creates a health check that uses the IPv4 address to check the health of the resource. If the endpoint that is specified by the IPv4 address is unhealthy, Route 53 considers both the A and AAAA records to be unhealthy. </p> <p> <b>CNAME records</b> </p> <p>You can't specify settings for <code>HealthCheckConfig</code> when the <code>DNSConfig</code> includes <code>CNAME</code> for the value of <code>Type</code>. If you do, the <code>CreateService</code> request will fail with an <code>InvalidInput</code> error.</p> <p> <b>Request interval</b> </p> <p>A Route 53 health checker in each health-checking region sends a health check request to an endpoint every 30 seconds. On average, your endpoint receives a health check request about every two seconds. However, health checkers don't coordinate with one another, so you'll sometimes see several requests per second followed by a few seconds with no health checks at all.</p> <p> <b>Health checking regions</b> </p> <p>Health checkers perform checks from all Route 53 health-checking regions. For a list of the current regions, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_HealthCheckConfig.html#Route53-Type-HealthCheckConfig-Regions\">Regions</a>.</p> <p> <b>Alias records</b> </p> <p>When you register an instance, if you include the <code>AWS_ALIAS_DNS_NAME</code> attribute, AWS Cloud Map creates a Route 53 alias record. Note the following:</p> <ul> <li> <p>Route 53 automatically sets <code>EvaluateTargetHealth</code> to true for alias records. When <code>EvaluateTargetHealth</code> is true, the alias record inherits the health of the referenced AWS resource. such as an ELB load balancer. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html#Route53-Type-AliasTarget-EvaluateTargetHealth\">EvaluateTargetHealth</a>.</p> </li> <li> <p>If you include <code>HealthCheckConfig</code> and then use the service to register an instance that creates an alias record, Route 53 doesn't create the health check.</p> </li> </ul> <p> <b>Charges for health checks</b> </p> <p>Health checks are basic Route 53 health checks that monitor an AWS endpoint. For information about pricing for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>",
      "members": {
        "FailureThreshold": {
          "documentation": "<p>The number of consecutive health checks that an endpoint must pass or fail for Route 53 to change the current status of the endpoint from unhealthy to healthy or vice versa. For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Route 53 Developer Guide</i>.</p>",
          "shape": "FailureThreshold"
        },
        "ResourcePath": {
          "documentation": "<p>The path that you want Route 53 to request when performing health checks. The path can be any value for which your endpoint will return an HTTP status code of 2xx or 3xx when the endpoint is healthy, such as the file <code>/docs/route53-health-check.html</code>. Route 53 automatically adds the DNS name for the service. If you don't specify a value for <code>ResourcePath</code>, the default value is <code>/</code>.</p> <p>If you specify <code>TCP</code> for <code>Type</code>, you must <i>not</i> specify a value for <code>ResourcePath</code>.</p>",
          "shape": "ResourcePath"
        },
        "Type": {
          "documentation": "<p>The type of health check that you want to create, which indicates how Route 53 determines whether an endpoint is healthy.</p> <important> <p>You can't change the value of <code>Type</code> after you create a health check.</p> </important> <p>You can create the following types of health checks:</p> <ul> <li> <p> <b>HTTP</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTP request and waits for an HTTP status code of 200 or greater and less than 400.</p> </li> <li> <p> <b>HTTPS</b>: Route 53 tries to establish a TCP connection. If successful, Route 53 submits an HTTPS request and waits for an HTTP status code of 200 or greater and less than 400.</p> <important> <p>If you specify HTTPS for the value of <code>Type</code>, the endpoint must support TLS v1.0 or later.</p> </important> </li> <li> <p> <b>TCP</b>: Route 53 tries to establish a TCP connection.</p> <p>If you specify <code>TCP</code> for <code>Type</code>, don't specify a value for <code>ResourcePath</code>.</p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/dns-failover-determining-health-of-endpoints.html\">How Route 53 Determines Whether an Endpoint Is Healthy</a> in the <i>Route 53 Developer Guide</i>.</p>",
          "shape": "HealthCheckType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "HealthCheckCustomConfig": {
      "documentation": "<p>A complex type that contains information about an optional custom health check. A custom health check, which requires that you use a third-party health checker to evaluate the health of your resources, is useful in the following circumstances:</p> <ul> <li> <p>You can't use a health check that is defined by <code>HealthCheckConfig</code> because the resource isn't available over the internet. For example, you can use a custom health check when the instance is in an Amazon VPC. (To check the health of resources in a VPC, the health checker must also be in the VPC.)</p> </li> <li> <p>You want to use a third-party health checker regardless of where your resources are.</p> </li> </ul> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important> <p>To change the status of a custom health check, submit an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map doesn't monitor the status of the resource, it just keeps a record of the status specified in the most recent <code>UpdateInstanceCustomHealthStatus</code> request.</p> <p>Here's how custom health checks work:</p> <ol> <li> <p>You create a service and specify a value for <code>FailureThreshold</code>. </p> <p>The failure threshold indicates the number of 30-second intervals you want AWS Cloud Map to wait between the time that your application sends an <a>UpdateInstanceCustomHealthStatus</a> request and the time that AWS Cloud Map stops routing internet traffic to the corresponding resource.</p> </li> <li> <p>You register an instance.</p> </li> <li> <p>You configure a third-party health checker to monitor the resource that is associated with the new instance. </p> <note> <p>AWS Cloud Map doesn't check the health of the resource directly. </p> </note> </li> <li> <p>The third-party health-checker determines that the resource is unhealthy and notifies your application.</p> </li> <li> <p>Your application submits an <code>UpdateInstanceCustomHealthStatus</code> request.</p> </li> <li> <p>AWS Cloud Map waits for (<code>FailureThreshold</code> x 30) seconds.</p> </li> <li> <p>If another <code>UpdateInstanceCustomHealthStatus</code> request doesn't arrive during that time to change the status back to healthy, AWS Cloud Map stops routing traffic to the resource.</p> </li> </ol> <p>Note the following about configuring custom health checks.</p>",
      "members": {
        "FailureThreshold": {
          "documentation": "<p>The number of 30-second intervals that you want Cloud Map to wait after receiving an <code>UpdateInstanceCustomHealthStatus</code> request before it changes the health status of a service instance. For example, suppose you specify a value of <code>2</code> for <code>FailureTheshold</code>, and then your application sends an <code>UpdateInstanceCustomHealthStatus</code> request. Cloud Map waits for approximately 60 seconds (2 x 30) before changing the status of the service instance based on that request.</p> <p>Sending a second or subsequent <code>UpdateInstanceCustomHealthStatus</code> request with the same value before <code>FailureThreshold x 30</code> seconds has passed doesn't accelerate the change. Cloud Map still waits <code>FailureThreshold x 30</code> seconds after the first request to make the change.</p>",
          "shape": "FailureThreshold"
        }
      },
      "type": "structure"
    },
    "HealthCheckType": {
      "enum": [
        "HTTP",
        "HTTPS",
        "TCP"
      ],
      "type": "string"
    },
    "HealthStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "HealthStatusFilter": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY",
        "ALL"
      ],
      "type": "string"
    },
    "HttpInstanceSummary": {
      "documentation": "<p>In a response to a <a>DiscoverInstance</a> request, <code>HttpInstanceSummary</code> contains information about one instance that matches the values that you specified in the request.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>If you included any attributes when you registered the instance, the values of those attributes.</p>",
          "shape": "Attributes"
        },
        "HealthStatus": {
          "documentation": "<p>If you configured health checking in the service, the current health status of the service instance.</p>",
          "shape": "HealthStatus"
        },
        "InstanceId": {
          "documentation": "<p>The ID of an instance that matches the values that you specified in the request.</p>",
          "shape": "ResourceId"
        },
        "NamespaceName": {
          "documentation": "<p>The name of the namespace that you specified when you registered the instance.</p>",
          "shape": "NamespaceName"
        },
        "ServiceName": {
          "documentation": "<p>The name of the service that you specified when you registered the instance.</p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "HttpInstanceSummaryList": {
      "member": {
        "shape": "HttpInstanceSummary"
      },
      "type": "list"
    },
    "HttpProperties": {
      "documentation": "<p>A complex type that contains the name of an HTTP namespace.</p>",
      "members": {
        "HttpName": {
          "documentation": "<p>The name of an HTTP namespace.</p>",
          "shape": "NamespaceName"
        }
      },
      "type": "structure"
    },
    "Instance": {
      "documentation": "<p>A complex type that contains information about an instance that AWS Cloud Map creates when you submit a <code>RegisterInstance</code> request.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A string map that contains the following information for the service that you specify in <code>ServiceId</code>:</p> <ul> <li> <p>The attributes that apply to the records that are defined in the service. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <p> <b>AWS_ALIAS_DNS_NAME</b> </p> <p> <b/> </p> <p>If you want AWS Cloud Map to create a Route 53 alias record that routes traffic to an Elastic Load Balancing load balancer, specify the DNS name that is associated with the load balancer. For information about how to get the DNS name, see \"DNSName\" in the topic <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html\">AliasTarget</a>.</p> <p>Note the following:</p> <ul> <li> <p>The configuration for the service that is specified by <code>ServiceId</code> must include settings for an A record, an AAAA record, or both.</p> </li> <li> <p>In the service that is specified by <code>ServiceId</code>, the value of <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p> </li> <li> <p>If the service that is specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code> settings, AWS Cloud Map will create the health check, but it won't associate the health check with the alias record.</p> </li> <li> <p>Auto naming currently doesn't support creating alias records that route traffic to AWS resources other than ELB load balancers.</p> </li> <li> <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't specify values for any of the <code>AWS_INSTANCE</code> attributes.</p> </li> </ul> <p> <b>AWS_INSTANCE_CNAME</b> </p> <p>If the service configuration includes a CNAME record, the domain name that you want Route 53 to return in response to DNS queries, for example, <code>example.com</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an CNAME record.</p> <p> <b>AWS_INSTANCE_IPV4</b> </p> <p>If the service configuration includes an A record, the IPv4 address that you want Route 53 to return in response to DNS queries, for example, <code>192.0.2.44</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an A record. If the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_IPV6</b> </p> <p>If the service configuration includes an AAAA record, the IPv6 address that you want Route 53 to return in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an AAAA record. If the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_PORT</b> </p> <p>If the service includes an SRV record, the value that you want Route 53 to return for the port.</p> <p>If the service includes <code>HealthCheckConfig</code>, the port on the endpoint that you want Route 53 to send requests to. </p> <p>This value is required if you specified settings for an SRV record when you created the service.</p>",
          "shape": "Attributes"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>RegisterInstance</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CreatorRequestId</code> string every time you submit a <code>RegisterInstance</code> request if you're registering additional instances for the same namespace and service. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "shape": "ResourceId"
        },
        "Id": {
          "documentation": "<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>If the service that is specified by <code>ServiceId</code> includes settings for an SRV record, the value of <code>InstanceId</code> is automatically included as part of the value for the SRV record. For more information, see <a>DnsRecord$Type</a>.</p> </li> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To register a new instance, you must specify a value that is unique among instances that you register by using the same service. </p> </li> <li> <p>If you specify an existing <code>InstanceId</code> and <code>ServiceId</code>, AWS Cloud Map updates the existing DNS records. If there's also an existing health check, AWS Cloud Map deletes the old health check and creates a new one. </p> <note> <p>The health check isn't deleted immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code> request, for example.</p> </note> </li> </ul>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "InstanceHealthStatusMap": {
      "key": {
        "shape": "ResourceId"
      },
      "type": "map",
      "value": {
        "shape": "HealthStatus"
      }
    },
    "InstanceIdList": {
      "member": {
        "shape": "ResourceId"
      },
      "min": 1,
      "type": "list"
    },
    "InstanceNotFound": {
      "documentation": "<p>No instance exists with the specified ID, or the instance was recently registered, and information about the instance hasn't propagated yet.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InstanceSummary": {
      "documentation": "<p>A complex type that contains information about the instances that you registered by using a specified service.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A string map that contains the following information:</p> <ul> <li> <p>The attributes that are associate with the instance. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <ul> <li> <p> <code>AWS_ALIAS_DNS_NAME</code>: For an alias record that routes traffic to an Elastic Load Balancing load balancer, the DNS name that is associated with the load balancer. </p> </li> <li> <p> <code>AWS_INSTANCE_CNAME</code>: For a CNAME record, the domain name that Route 53 returns in response to DNS queries, for example, <code>example.com</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV4</code>: For an A record, the IPv4 address that Route 53 returns in response to DNS queries, for example, <code>192.0.2.44</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_IPV6</code>: For an AAAA record, the IPv6 address that Route 53 returns in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p> </li> <li> <p> <code>AWS_INSTANCE_PORT</code>: For an SRV record, the value that Route 53 returns for the port. In addition, if the service includes <code>HealthCheckConfig</code>, the port on the endpoint that Route 53 sends requests to.</p> </li> </ul>",
          "shape": "Attributes"
        },
        "Id": {
          "documentation": "<p>The ID for an instance that you created by using a specified service.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "InstanceSummaryList": {
      "member": {
        "shape": "InstanceSummary"
      },
      "type": "list"
    },
    "InvalidInput": {
      "documentation": "<p>One or more specified values aren't valid. For example, a required value might be missing, a numeric value might be outside the allowed range, or a string value might exceed length constraints.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListInstancesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of instances that you want AWS Cloud Map to return in the response to a <code>ListInstances</code> request. If you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 instances.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListInstances</code> request, omit this value.</p> <p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that you want to list instances for.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId"
      ],
      "type": "structure"
    },
    "ListInstancesResponse": {
      "members": {
        "Instances": {
          "documentation": "<p>Summary information about the instances that are associated with the specified service.</p>",
          "shape": "InstanceSummaryList"
        },
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> instances match the specified criteria, you can submit another <code>ListInstances</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListNamespacesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>A complex type that contains specifications for the namespaces that you want to list.</p> <p>If you specify more than one filter, a namespace must match all filters to be returned by <code>ListNamespaces</code>.</p>",
          "shape": "NamespaceFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of namespaces that you want AWS Cloud Map to return in the response to a <code>ListNamespaces</code> request. If you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 namespaces.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListNamespaces</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It's possible that no namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListNamespacesResponse": {
      "members": {
        "Namespaces": {
          "documentation": "<p>An array that contains one <code>NamespaceSummary</code> object for each namespace that matches the specified filter criteria.</p>",
          "shape": "NamespaceSummariesList"
        },
        "NextToken": {
          "documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListNamespaces</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> namespaces and then filters them based on the specified criteria. It's possible that no namespaces in the first <code>MaxResults</code> namespaces matched the specified criteria but that subsequent groups of <code>MaxResults</code> namespaces do contain namespaces that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOperationsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>A complex type that contains specifications for the operations that you want to list, for example, operations that you started between a specified start date and end date.</p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListOperations</code>.</p>",
          "shape": "OperationFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of items that you want AWS Cloud Map to return in the response to a <code>ListOperations</code> request. If you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 operations.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListOperations</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It's possible that no operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of <code>MaxResults</code> operations do contain operations that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOperationsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListOperations</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> operations and then filters them based on the specified criteria. It's possible that no operations in the first <code>MaxResults</code> operations matched the specified criteria but that subsequent groups of <code>MaxResults</code> operations do contain operations that match the criteria.</p> </note>",
          "shape": "NextToken"
        },
        "Operations": {
          "documentation": "<p>Summary information about the operations that match the specified criteria.</p>",
          "shape": "OperationSummaryList"
        }
      },
      "type": "structure"
    },
    "ListServicesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>A complex type that contains specifications for the namespaces that you want to list services for. </p> <p>If you specify more than one filter, an operation must match all filters to be returned by <code>ListServices</code>.</p>",
          "shape": "ServiceFilters"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of services that you want AWS Cloud Map to return in the response to a <code>ListServices</code> request. If you don't specify a value for <code>MaxResults</code>, AWS Cloud Map returns up to 100 services.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>For the first <code>ListServices</code> request, omit this value.</p> <p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It's possible that no services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of <code>MaxResults</code> services do contain services that match the criteria.</p> </note>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListServicesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the response contains <code>NextToken</code>, submit another <code>ListServices</code> request to get the next group of results. Specify the value of <code>NextToken</code> from the previous response in the next request.</p> <note> <p>AWS Cloud Map gets <code>MaxResults</code> services and then filters them based on the specified criteria. It's possible that no services in the first <code>MaxResults</code> services matched the specified criteria but that subsequent groups of <code>MaxResults</code> services do contain services that match the criteria.</p> </note>",
          "shape": "NextToken"
        },
        "Services": {
          "documentation": "<p>An array that contains one <code>ServiceSummary</code> object for each service that matches the specified filter criteria.</p>",
          "shape": "ServiceSummariesList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "Namespace": {
      "documentation": "<p>A complex type that contains information about a specified namespace.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that AWS Cloud Map assigns to the namespace when you create it.</p>",
          "shape": "Arn"
        },
        "CreateDate": {
          "documentation": "<p>The date that the namespace was created, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing an operation twice. </p>",
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>The description that you specify for the namespace when you create it.</p>",
          "shape": "ResourceDescription"
        },
        "Id": {
          "documentation": "<p>The ID of a namespace.</p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>The name of the namespace, such as <code>example.com</code>.</p>",
          "shape": "NamespaceName"
        },
        "Properties": {
          "documentation": "<p>A complex type that contains information that's specific to the type of the namespace.</p>",
          "shape": "NamespaceProperties"
        },
        "ServiceCount": {
          "documentation": "<p>The number of services that are associated with the namespace.</p>",
          "shape": "ResourceCount"
        },
        "Type": {
          "documentation": "<p>The type of the namespace. Valid values are <code>DNS_PUBLIC</code> and <code>DNS_PRIVATE</code>.</p>",
          "shape": "NamespaceType"
        }
      },
      "type": "structure"
    },
    "NamespaceAlreadyExists": {
      "documentation": "<p>The namespace that you're trying to create already exists.</p>",
      "exception": true,
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>The <code>CreatorRequestId</code> that was used to create the namespace.</p>",
          "shape": "ResourceId"
        },
        "Message": {
          "shape": "ErrorMessage"
        },
        "NamespaceId": {
          "documentation": "<p>The ID of the existing namespace.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "NamespaceFilter": {
      "documentation": "<p>A complex type that identifies the namespaces that you want to list. You can choose to list public or private namespaces.</p>",
      "members": {
        "Condition": {
          "documentation": "<p>The operator that you want to use to determine whether <code>ListNamespaces</code> returns a namespace. Valid values for <code>condition</code> include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can choose to list only public namespaces or private namespaces, but not both. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can choose to list public namespaces, private namespaces, or both. </p> </li> <li> <p> <code>BETWEEN</code>: Not applicable</p> </li> </ul>",
          "shape": "FilterCondition"
        },
        "Name": {
          "documentation": "<p>Specify <code>TYPE</code>.</p>",
          "shape": "NamespaceFilterName"
        },
        "Values": {
          "documentation": "<p>If you specify <code>EQ</code> for <code>Condition</code>, specify either <code>DNS_PUBLIC</code> or <code>DNS_PRIVATE</code>.</p> <p>If you specify <code>IN</code> for <code>Condition</code>, you can specify <code>DNS_PUBLIC</code>, <code>DNS_PRIVATE</code>, or both.</p>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "NamespaceFilterName": {
      "enum": [
        "TYPE"
      ],
      "type": "string"
    },
    "NamespaceFilters": {
      "member": {
        "shape": "NamespaceFilter"
      },
      "type": "list"
    },
    "NamespaceName": {
      "max": 1024,
      "type": "string"
    },
    "NamespaceNotFound": {
      "documentation": "<p>No namespace exists with the specified ID.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NamespaceProperties": {
      "documentation": "<p>A complex type that contains information that is specific to the namespace type.</p>",
      "members": {
        "DnsProperties": {
          "documentation": "<p>A complex type that contains the ID for the Route 53 hosted zone that AWS Cloud Map creates when you create a namespace.</p>",
          "shape": "DnsProperties"
        },
        "HttpProperties": {
          "documentation": "<p>A complex type that contains the name of an HTTP namespace.</p>",
          "shape": "HttpProperties"
        }
      },
      "type": "structure"
    },
    "NamespaceSummariesList": {
      "member": {
        "shape": "NamespaceSummary"
      },
      "type": "list"
    },
    "NamespaceSummary": {
      "documentation": "<p>A complex type that contains information about a namespace.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that AWS Cloud Map assigns to the namespace when you create it.</p>",
          "shape": "Arn"
        },
        "CreateDate": {
          "documentation": "<p>The date and time that the namespace was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>A description for the namespace.</p>",
          "shape": "ResourceDescription"
        },
        "Id": {
          "documentation": "<p>The ID of the namespace.</p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>The name of the namespace. When you create a namespace, AWS Cloud Map automatically creates a Route 53 hosted zone that has the same name as the namespace.</p>",
          "shape": "NamespaceName"
        },
        "Properties": {
          "shape": "NamespaceProperties"
        },
        "ServiceCount": {
          "documentation": "<p>The number of services that were created using the namespace.</p>",
          "shape": "ResourceCount"
        },
        "Type": {
          "documentation": "<p>The type of the namespace, either public or private.</p>",
          "shape": "NamespaceType"
        }
      },
      "type": "structure"
    },
    "NamespaceType": {
      "enum": [
        "DNS_PUBLIC",
        "DNS_PRIVATE",
        "HTTP"
      ],
      "type": "string"
    },
    "NextToken": {
      "max": 4096,
      "type": "string"
    },
    "Operation": {
      "documentation": "<p>A complex type that contains information about a specified operation.</p>",
      "members": {
        "CreateDate": {
          "documentation": "<p>The date and time that the request was submitted, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        },
        "ErrorCode": {
          "documentation": "<p>The code associated with <code>ErrorMessage</code>. Values for <code>ErrorCode</code> include the following:</p> <ul> <li> <p> <code>ACCESS_DENIED</code> </p> </li> <li> <p> <code>CANNOT_CREATE_HOSTED_ZONE</code> </p> </li> <li> <p> <code>EXPIRED_TOKEN</code> </p> </li> <li> <p> <code>HOSTED_ZONE_NOT_FOUND</code> </p> </li> <li> <p> <code>INTERNAL_FAILURE</code> </p> </li> <li> <p> <code>INVALID_CHANGE_BATCH</code> </p> </li> <li> <p> <code>THROTTLED_REQUEST</code> </p> </li> </ul>",
          "shape": "Code"
        },
        "ErrorMessage": {
          "documentation": "<p>If the value of <code>Status</code> is <code>FAIL</code>, the reason that the operation failed.</p>",
          "shape": "Message"
        },
        "Id": {
          "documentation": "<p>The ID of the operation that you want to get information about.</p>",
          "shape": "OperationId"
        },
        "Status": {
          "documentation": "<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: AWS Cloud Map is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>",
          "shape": "OperationStatus"
        },
        "Targets": {
          "documentation": "<p>The name of the target entity that is associated with the operation:</p> <ul> <li> <p> <b>NAMESPACE</b>: The namespace ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>SERVICE</b>: The service ID is returned in the <code>ResourceId</code> property.</p> </li> <li> <p> <b>INSTANCE</b>: The instance ID is returned in the <code>ResourceId</code> property.</p> </li> </ul>",
          "shape": "OperationTargetsMap"
        },
        "Type": {
          "documentation": "<p>The name of the operation that is associated with the specified ID.</p>",
          "shape": "OperationType"
        },
        "UpdateDate": {
          "documentation": "<p>The date and time that the value of <code>Status</code> changed to the current value, in Unix date/time format and Coordinated Universal Time (UTC). The value of <code>UpdateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "OperationFilter": {
      "documentation": "<p>A complex type that lets you select the operations that you want to list.</p>",
      "members": {
        "Condition": {
          "documentation": "<p>The operator that you want to use to determine whether an operation matches the specified value. Valid values for condition include:</p> <ul> <li> <p> <code>EQ</code>: When you specify <code>EQ</code> for the condition, you can specify only one value. <code>EQ</code> is supported for <code>NAMESPACE_ID</code>, <code>SERVICE_ID</code>, <code>STATUS</code>, and <code>TYPE</code>. <code>EQ</code> is the default condition and can be omitted.</p> </li> <li> <p> <code>IN</code>: When you specify <code>IN</code> for the condition, you can specify a list of one or more values. <code>IN</code> is supported for <code>STATUS</code> and <code>TYPE</code>. An operation must match one of the specified values to be returned in the response.</p> </li> <li> <p> <code>BETWEEN</code>: Specify a start date and an end date in Unix date/time format and Coordinated Universal Time (UTC). The start date must be the first value. <code>BETWEEN</code> is supported for <code>UPDATE_DATE</code>. </p> </li> </ul>",
          "shape": "FilterCondition"
        },
        "Name": {
          "documentation": "<p>Specify the operations that you want to get:</p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Gets operations related to specified namespaces.</p> </li> <li> <p> <b>SERVICE_ID</b>: Gets operations related to specified services.</p> </li> <li> <p> <b>STATUS</b>: Gets operations based on the status of the operations: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Gets specified types of operation.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Gets operations that changed status during a specified date/time range. </p> </li> </ul>",
          "shape": "OperationFilterName"
        },
        "Values": {
          "documentation": "<p>Specify values that are applicable to the value that you specify for <code>Name</code>: </p> <ul> <li> <p> <b>NAMESPACE_ID</b>: Specify one namespace ID.</p> </li> <li> <p> <b>SERVICE_ID</b>: Specify one service ID.</p> </li> <li> <p> <b>STATUS</b>: Specify one or more statuses: <code>SUBMITTED</code>, <code>PENDING</code>, <code>SUCCEED</code>, or <code>FAIL</code>.</p> </li> <li> <p> <b>TYPE</b>: Specify one or more of the following types: <code>CREATE_NAMESPACE</code>, <code>DELETE_NAMESPACE</code>, <code>UPDATE_SERVICE</code>, <code>REGISTER_INSTANCE</code>, or <code>DEREGISTER_INSTANCE</code>.</p> </li> <li> <p> <b>UPDATE_DATE</b>: Specify a start date and an end date in Unix date/time format and Coordinated Universal Time (UTC). The start date must be the first value.</p> </li> </ul>",
          "shape": "FilterValues"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "OperationFilterName": {
      "enum": [
        "NAMESPACE_ID",
        "SERVICE_ID",
        "STATUS",
        "TYPE",
        "UPDATE_DATE"
      ],
      "type": "string"
    },
    "OperationFilters": {
      "member": {
        "shape": "OperationFilter"
      },
      "type": "list"
    },
    "OperationId": {
      "max": 255,
      "type": "string"
    },
    "OperationNotFound": {
      "documentation": "<p>No operation exists with the specified ID.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "OperationStatus": {
      "enum": [
        "SUBMITTED",
        "PENDING",
        "SUCCESS",
        "FAIL"
      ],
      "type": "string"
    },
    "OperationSummary": {
      "documentation": "<p>A complex type that contains information about an operation that matches the criteria that you specified in a <a>ListOperations</a> request.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The ID for an operation.</p>",
          "shape": "OperationId"
        },
        "Status": {
          "documentation": "<p>The status of the operation. Values include the following:</p> <ul> <li> <p> <b>SUBMITTED</b>: This is the initial state immediately after you submit a request.</p> </li> <li> <p> <b>PENDING</b>: AWS Cloud Map is performing the operation.</p> </li> <li> <p> <b>SUCCESS</b>: The operation succeeded.</p> </li> <li> <p> <b>FAIL</b>: The operation failed. For the failure reason, see <code>ErrorMessage</code>.</p> </li> </ul>",
          "shape": "OperationStatus"
        }
      },
      "type": "structure"
    },
    "OperationSummaryList": {
      "member": {
        "shape": "OperationSummary"
      },
      "type": "list"
    },
    "OperationTargetType": {
      "enum": [
        "NAMESPACE",
        "SERVICE",
        "INSTANCE"
      ],
      "type": "string"
    },
    "OperationTargetsMap": {
      "key": {
        "shape": "OperationTargetType"
      },
      "type": "map",
      "value": {
        "shape": "ResourceId"
      }
    },
    "OperationType": {
      "enum": [
        "CREATE_NAMESPACE",
        "DELETE_NAMESPACE",
        "UPDATE_SERVICE",
        "REGISTER_INSTANCE",
        "DEREGISTER_INSTANCE"
      ],
      "type": "string"
    },
    "RecordTTL": {
      "max": 2147483647,
      "min": 0,
      "type": "long"
    },
    "RecordType": {
      "enum": [
        "SRV",
        "A",
        "AAAA",
        "CNAME"
      ],
      "type": "string"
    },
    "RegisterInstanceRequest": {
      "members": {
        "Attributes": {
          "documentation": "<p>A string map that contains the following information for the service that you specify in <code>ServiceId</code>:</p> <ul> <li> <p>The attributes that apply to the records that are defined in the service. </p> </li> <li> <p>For each attribute, the applicable value.</p> </li> </ul> <p>Supported attribute keys include the following:</p> <p> <b>AWS_ALIAS_DNS_NAME</b> </p> <p> <b/> </p> <p>If you want AWS Cloud Map to create an Amazon Route 53 alias record that routes traffic to an Elastic Load Balancing load balancer, specify the DNS name that is associated with the load balancer. For information about how to get the DNS name, see \"DNSName\" in the topic <a href=\"http://docs.aws.amazon.com/Route53/latest/APIReference/API_AliasTarget.html\">AliasTarget</a> in the <i>Route 53 API Reference</i>.</p> <p>Note the following:</p> <ul> <li> <p>The configuration for the service that is specified by <code>ServiceId</code> must include settings for an A record, an AAAA record, or both.</p> </li> <li> <p>In the service that is specified by <code>ServiceId</code>, the value of <code>RoutingPolicy</code> must be <code>WEIGHTED</code>.</p> </li> <li> <p>If the service that is specified by <code>ServiceId</code> includes <code>HealthCheckConfig</code> settings, AWS Cloud Map will create the Route 53 health check, but it won't associate the health check with the alias record.</p> </li> <li> <p>Auto naming currently doesn't support creating alias records that route traffic to AWS resources other than ELB load balancers.</p> </li> <li> <p>If you specify a value for <code>AWS_ALIAS_DNS_NAME</code>, don't specify values for any of the <code>AWS_INSTANCE</code> attributes.</p> </li> </ul> <p> <b>AWS_INIT_HEALTH_STATUS</b> </p> <p>If the service configuration includes <code>HealthCheckCustomConfig</code>, you can optionally use <code>AWS_INIT_HEALTH_STATUS</code> to specify the initial status of the custom health check, <code>HEALTHY</code> or <code>UNHEALTHY</code>. If you don't specify a value for <code>AWS_INIT_HEALTH_STATUS</code>, the initial status is <code>HEALTHY</code>.</p> <p> <b>AWS_INSTANCE_CNAME</b> </p> <p>If the service configuration includes a CNAME record, the domain name that you want Route 53 to return in response to DNS queries, for example, <code>example.com</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an CNAME record.</p> <p> <b>AWS_INSTANCE_IPV4</b> </p> <p>If the service configuration includes an A record, the IPv4 address that you want Route 53 to return in response to DNS queries, for example, <code>192.0.2.44</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an A record. If the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_IPV6</b> </p> <p>If the service configuration includes an AAAA record, the IPv6 address that you want Route 53 to return in response to DNS queries, for example, <code>2001:0db8:85a3:0000:0000:abcd:0001:2345</code>.</p> <p>This value is required if the service specified by <code>ServiceId</code> includes settings for an AAAA record. If the service includes settings for an SRV record, you must specify a value for <code>AWS_INSTANCE_IPV4</code>, <code>AWS_INSTANCE_IPV6</code>, or both.</p> <p> <b>AWS_INSTANCE_PORT</b> </p> <p>If the service includes an SRV record, the value that you want Route 53 to return for the port.</p> <p>If the service includes <code>HealthCheckConfig</code>, the port on the endpoint that you want Route 53 to send requests to. </p> <p>This value is required if you specified settings for an SRV record when you created the service.</p> <p> <b>Custom attributes</b> </p> <p>You can add up to 30 custom attributes. For each key-value pair, the maximum length of the attribute name is 255 characters, and the maximum length of the attribute value is 1,024 characters. </p>",
          "shape": "Attributes"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed <code>RegisterInstance</code> requests to be retried without the risk of executing the operation twice. You must use a unique <code>CreatorRequestId</code> string every time you submit a <code>RegisterInstance</code> request if you're registering additional instances for the same namespace and service. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "idempotencyToken": true,
          "shape": "ResourceId"
        },
        "InstanceId": {
          "documentation": "<p>An identifier that you want to associate with the instance. Note the following:</p> <ul> <li> <p>If the service that is specified by <code>ServiceId</code> includes settings for an SRV record, the value of <code>InstanceId</code> is automatically included as part of the value for the SRV record. For more information, see <a>DnsRecord$Type</a>.</p> </li> <li> <p>You can use this value to update an existing instance.</p> </li> <li> <p>To register a new instance, you must specify a value that is unique among instances that you register by using the same service. </p> </li> <li> <p>If you specify an existing <code>InstanceId</code> and <code>ServiceId</code>, AWS Cloud Map updates the existing DNS records, if any. If there's also an existing health check, AWS Cloud Map deletes the old health check and creates a new one. </p> <note> <p>The health check isn't deleted immediately, so it will still appear for a while if you submit a <code>ListHealthChecks</code> request, for example.</p> </note> </li> </ul>",
          "shape": "ResourceId"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the service that you want to use for settings for the instance.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ServiceId",
        "InstanceId",
        "Attributes"
      ],
      "type": "structure"
    },
    "RegisterInstanceResponse": {
      "members": {
        "OperationId": {
          "documentation": "<p>A value that you can use to determine whether the request completed successfully. To get the status of the operation, see <a>GetOperation</a>.</p>",
          "shape": "OperationId"
        }
      },
      "type": "structure"
    },
    "ResourceCount": {
      "type": "integer"
    },
    "ResourceDescription": {
      "max": 1024,
      "type": "string"
    },
    "ResourceId": {
      "max": 64,
      "type": "string"
    },
    "ResourceInUse": {
      "documentation": "<p>The specified resource can't be deleted because it contains other resources. For example, you can't delete a service that contains any instances.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceLimitExceeded": {
      "documentation": "<p>The resource can't be created because you've reached the limit on the number of resources.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourcePath": {
      "max": 255,
      "type": "string"
    },
    "RoutingPolicy": {
      "enum": [
        "MULTIVALUE",
        "WEIGHTED"
      ],
      "type": "string"
    },
    "Service": {
      "documentation": "<p>A complex type that contains information about the specified service.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that AWS Cloud Map assigns to the service when you create it.</p>",
          "shape": "Arn"
        },
        "CreateDate": {
          "documentation": "<p>The date and time that the service was created, in Unix format and Coordinated Universal Time (UTC). The value of <code>CreateDate</code> is accurate to milliseconds. For example, the value <code>1516925490.087</code> represents Friday, January 26, 2018 12:11:30.087 AM.</p>",
          "shape": "Timestamp"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp.</p>",
          "shape": "ResourceId"
        },
        "Description": {
          "documentation": "<p>The description of the service.</p>",
          "shape": "ResourceDescription"
        },
        "DnsConfig": {
          "documentation": "<p>A complex type that contains information about the Route 53 DNS records that you want AWS Cloud Map to create when you register an instance.</p>",
          "shape": "DnsConfig"
        },
        "HealthCheckConfig": {
          "documentation": "<p> <i>Public DNS namespaces only.</i> A complex type that contains settings for an optional health check. If you specify settings for a health check, AWS Cloud Map associates the health check with the records that you specify in <code>DnsConfig</code>.</p> <p>For information about the charges for health checks, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</p>",
          "shape": "HealthCheckConfig"
        },
        "HealthCheckCustomConfig": {
          "documentation": "<p>A complex type that contains information about an optional custom health check.</p> <important> <p>If you specify a health check configuration, you can specify either <code>HealthCheckCustomConfig</code> or <code>HealthCheckConfig</code> but not both.</p> </important>",
          "shape": "HealthCheckCustomConfig"
        },
        "Id": {
          "documentation": "<p>The ID that AWS Cloud Map assigned to the service when you created it.</p>",
          "shape": "ResourceId"
        },
        "InstanceCount": {
          "documentation": "<p>The number of instances that are currently associated with the service. Instances that were previously associated with the service but that have been deleted are not included in the count.</p>",
          "shape": "ResourceCount"
        },
        "Name": {
          "documentation": "<p>The name of the service.</p>",
          "shape": "ServiceName"
        },
        "NamespaceId": {
          "documentation": "<p>The ID of the namespace that was used to create the service.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "ServiceAlreadyExists": {
      "documentation": "<p>The service can't be created because a service with the same name already exists.</p>",
      "exception": true,
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>The <code>CreatorRequestId</code> that was used to create the service.</p>",
          "shape": "ResourceId"
        },
        "Message": {
          "shape": "ErrorMessage"
        },
        "ServiceId": {
          "documentation": "<p>The ID of the existing service.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
[...]
