{
  "documentation": "<fullname>AWS IoT</fullname> <p>AWS IoT provides secure, bi-directional communication between Internet-connected devices (such as sensors, actuators, embedded devices, or smart appliances) and the AWS cloud. You can discover your custom IoT-Data endpoint to communicate with, configure rules for data processing and integration with other services, organize resources associated with each device (Registry), configure logging, and create and manage policies and credentials to authenticate devices.</p> <p>The service endpoints that expose this API are listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/iot-core.html\">AWS IoT Core Endpoints and Quotas</a>. You must use the endpoint for the region that has the resources you want to access.</p> <p>The service name used by <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">AWS Signature Version 4</a> to sign the request is: <i>execute-api</i>.</p> <p>For more information about how AWS IoT works, see the <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/aws-iot-how-it-works.html\">Developer Guide</a>.</p> <p>For information about how to use the credentials provider for AWS IoT, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/authorizing-direct-aws.html\">Authorizing Direct Calls to AWS Services</a>.</p>",
  "metadata": {
    "apiVersion": "2015-05-28",
    "endpointPrefix": "iot",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT",
    "serviceId": "IoT",
    "signatureVersion": "v4",
    "signingName": "execute-api",
    "uid": "iot-2015-05-28"
  },
  "operations": {
    "AcceptCertificateTransfer": {
      "documentation": "<p>Accepts a pending certificate transfer. The default state of the certificate is INACTIVE.</p> <p>To check for pending certificate transfers, call <a>ListCertificates</a> to enumerate your certificates.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TransferAlreadyCompletedException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/accept-certificate-transfer/{certificateId}"
      },
      "input": {
        "shape": "AcceptCertificateTransferRequest"
      },
      "name": "AcceptCertificateTransfer"
    },
    "AddThingToBillingGroup": {
      "documentation": "<p>Adds a thing to a billing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/billing-groups/addThingToBillingGroup"
      },
      "input": {
        "shape": "AddThingToBillingGroupRequest"
      },
      "name": "AddThingToBillingGroup",
      "output": {
        "shape": "AddThingToBillingGroupResponse"
      }
    },
    "AddThingToThingGroup": {
      "documentation": "<p>Adds a thing to a thing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/thing-groups/addThingToThingGroup"
      },
      "input": {
        "shape": "AddThingToThingGroupRequest"
      },
      "name": "AddThingToThingGroup",
      "output": {
        "shape": "AddThingToThingGroupResponse"
      }
    },
    "AssociateTargetsWithJob": {
      "documentation": "<p>Associates a group with a continuous job. The following criteria must be met: </p> <ul> <li> <p>The job must have been created with the <code>targetSelection</code> field set to \"CONTINUOUS\".</p> </li> <li> <p>The job status must currently be \"IN_PROGRESS\".</p> </li> <li> <p>The total number of targets associated with a job must not exceed 100.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/jobs/{jobId}/targets"
      },
      "input": {
        "shape": "AssociateTargetsWithJobRequest"
      },
      "name": "AssociateTargetsWithJob",
      "output": {
        "shape": "AssociateTargetsWithJobResponse"
      }
    },
    "AttachPolicy": {
      "documentation": "<p>Attaches a policy to the specified target.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/target-policies/{policyName}"
      },
      "input": {
        "shape": "AttachPolicyRequest"
      },
      "name": "AttachPolicy"
    },
    "AttachPrincipalPolicy": {
      "deprecated": true,
      "documentation": "<p>Attaches the specified policy to the specified principal (certificate or other credential).</p> <p> <b>Note:</b> This API is deprecated. Please use <a>AttachPolicy</a> instead.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/principal-policies/{policyName}"
      },
      "input": {
        "shape": "AttachPrincipalPolicyRequest"
      },
      "name": "AttachPrincipalPolicy"
    },
    "AttachSecurityProfile": {
      "documentation": "<p>Associates a Device Defender security profile with a thing group or this account. Each thing group or account can have up to five security profiles associated with it.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "VersionConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/security-profiles/{securityProfileName}/targets"
      },
      "input": {
        "shape": "AttachSecurityProfileRequest"
      },
      "name": "AttachSecurityProfile",
      "output": {
        "shape": "AttachSecurityProfileResponse"
      }
    },
    "AttachThingPrincipal": {
      "documentation": "<p>Attaches the specified principal to the specified thing. A principal can be X.509 certificates, IAM users, groups, and roles, Amazon Cognito identities or federated identities.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/things/{thingName}/principals"
      },
      "input": {
        "shape": "AttachThingPrincipalRequest"
      },
      "name": "AttachThingPrincipal",
      "output": {
        "shape": "AttachThingPrincipalResponse"
      }
    },
    "CancelAuditMitigationActionsTask": {
      "documentation": "<p>Cancels a mitigation action task that is in progress. If the task is not in progress, an InvalidRequestException occurs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/audit/mitigationactions/tasks/{taskId}/cancel"
      },
      "input": {
        "shape": "CancelAuditMitigationActionsTaskRequest"
      },
      "name": "CancelAuditMitigationActionsTask",
      "output": {
        "shape": "CancelAuditMitigationActionsTaskResponse"
      }
    },
    "CancelAuditTask": {
      "documentation": "<p>Cancels an audit that is in progress. The audit can be either scheduled or on-demand. If the audit is not in progress, an \"InvalidRequestException\" occurs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/audit/tasks/{taskId}/cancel"
      },
      "input": {
        "shape": "CancelAuditTaskRequest"
      },
      "name": "CancelAuditTask",
      "output": {
        "shape": "CancelAuditTaskResponse"
      }
    },
    "CancelCertificateTransfer": {
      "documentation": "<p>Cancels a pending transfer for the specified certificate.</p> <p> <b>Note</b> Only the transfer source account can use this operation to cancel a transfer. (Transfer destinations can use <a>RejectCertificateTransfer</a> instead.) After transfer, AWS IoT returns the certificate to the source account in the INACTIVE state. After the destination account has accepted the transfer, the transfer cannot be cancelled.</p> <p>After a certificate transfer is cancelled, the status of the certificate changes from PENDING_TRANSFER to INACTIVE.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TransferAlreadyCompletedException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/cancel-certificate-transfer/{certificateId}"
      },
      "input": {
        "shape": "CancelCertificateTransferRequest"
      },
      "name": "CancelCertificateTransfer"
    },
    "CancelJob": {
      "documentation": "<p>Cancels a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/jobs/{jobId}/cancel"
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "name": "CancelJob",
      "output": {
        "shape": "CancelJobResponse"
      }
    },
    "CancelJobExecution": {
      "documentation": "<p>Cancels the execution of a job for a given thing.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "VersionConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/things/{thingName}/jobs/{jobId}/cancel"
      },
      "input": {
        "shape": "CancelJobExecutionRequest"
      },
      "name": "CancelJobExecution"
    },
    "ClearDefaultAuthorizer": {
      "documentation": "<p>Clears the default authorizer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/default-authorizer"
      },
      "input": {
        "shape": "ClearDefaultAuthorizerRequest"
      },
      "name": "ClearDefaultAuthorizer",
      "output": {
        "shape": "ClearDefaultAuthorizerResponse"
      }
    },
    "ConfirmTopicRuleDestination": {
      "documentation": "<p>Confirms a topic rule destination. When you create a rule requiring a destination, AWS IoT sends a confirmation message to the endpoint or base address you specify. The message includes a token which you pass back when calling <code>ConfirmTopicRuleDestination</code> to confirm that you own or have access to the endpoint.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/confirmdestination/{confirmationToken+}"
      },
      "input": {
        "shape": "ConfirmTopicRuleDestinationRequest"
      },
      "name": "ConfirmTopicRuleDestination",
      "output": {
        "shape": "ConfirmTopicRuleDestinationResponse"
      }
    },
    "CreateAuthorizer": {
      "documentation": "<p>Creates an authorizer.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/authorizer/{authorizerName}"
      },
      "input": {
        "shape": "CreateAuthorizerRequest"
      },
      "name": "CreateAuthorizer",
      "output": {
        "shape": "CreateAuthorizerResponse"
      }
    },
    "CreateBillingGroup": {
      "documentation": "<p>Creates a billing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/billing-groups/{billingGroupName}"
      },
      "input": {
        "shape": "CreateBillingGroupRequest"
      },
      "name": "CreateBillingGroup",
      "output": {
        "shape": "CreateBillingGroupResponse"
      }
    },
    "CreateCertificateFromCsr": {
      "documentation": "<p>Creates an X.509 certificate using the specified certificate signing request.</p> <p> <b>Note:</b> The CSR must include a public key that is either an RSA key with a length of at least 2048 bits or an ECC key from NIST P-256 or NIST P-384 curves. </p> <p> <b>Note:</b> Reusing the same certificate signing request (CSR) results in a distinct certificate.</p> <p>You can create multiple certificates in a batch by creating a directory, copying multiple .csr files into that directory, and then specifying that directory on the command line. The following commands show how to create a batch of certificates given a batch of CSRs.</p> <p>Assuming a set of CSRs are located inside of the directory my-csr-directory:</p> <p>On Linux and OS X, the command is:</p> <p>$ ls my-csr-directory/ | xargs -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{}</p> <p>This command lists all of the CSRs in my-csr-directory and pipes each CSR file name to the aws iot create-certificate-from-csr AWS CLI command to create a certificate for the corresponding CSR.</p> <p>The aws iot create-certificate-from-csr part of the command can also be run in parallel to speed up the certificate creation process:</p> <p>$ ls my-csr-directory/ | xargs -P 10 -I {} aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/{}</p> <p>On Windows PowerShell, the command to create certificates for all CSRs in my-csr-directory is:</p> <p>&gt; ls -Name my-csr-directory | %{aws iot create-certificate-from-csr --certificate-signing-request file://my-csr-directory/$_}</p> <p>On a Windows command prompt, the command to create certificates for all CSRs in my-csr-directory is:</p> <p>&gt; forfiles /p my-csr-directory /c \"cmd /c aws iot create-certificate-from-csr --certificate-signing-request file://@path\"</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/certificates"
      },
      "input": {
        "shape": "CreateCertificateFromCsrRequest"
      },
      "name": "CreateCertificateFromCsr",
      "output": {
        "shape": "CreateCertificateFromCsrResponse"
      }
    },
    "CreateDimension": {
      "documentation": "<p>Create a dimension that you can use to limit the scope of a metric used in a security profile for AWS IoT Device Defender. For example, using a <code>TOPIC_FILTER</code> dimension, you can narrow down the scope of the metric only to MQTT topics whose name match the pattern specified in the dimension.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/dimensions/{name}"
      },
      "input": {
        "shape": "CreateDimensionRequest"
      },
      "name": "CreateDimension",
      "output": {
        "shape": "CreateDimensionResponse"
      }
    },
    "CreateDomainConfiguration": {
      "documentation": "<p>Creates a domain configuration.</p> <note> <p>The domain configuration feature is in public preview and is subject to change.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "CertificateValidationException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/domainConfigurations/{domainConfigurationName}"
      },
      "input": {
        "shape": "CreateDomainConfigurationRequest"
      },
      "name": "CreateDomainConfiguration",
      "output": {
        "shape": "CreateDomainConfigurationResponse"
      }
    },
    "CreateDynamicThingGroup": {
      "documentation": "<p>Creates a dynamic thing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidQueryException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/dynamic-thing-groups/{thingGroupName}"
      },
      "input": {
        "shape": "CreateDynamicThingGroupRequest"
      },
      "name": "CreateDynamicThingGroup",
      "output": {
        "shape": "CreateDynamicThingGroupResponse"
      }
    },
    "CreateJob": {
      "documentation": "<p>Creates a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/jobs/{jobId}"
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateKeysAndCertificate": {
      "documentation": "<p>Creates a 2048-bit RSA key pair and issues an X.509 certificate using the issued public key. You can also call <code>CreateKeysAndCertificate</code> over MQTT from a device, for more information, see <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/provision-wo-cert.html#provision-mqtt-api\">Provisioning MQTT API</a>.</p> <p> <b>Note</b> This is the only time AWS IoT issues the private key for this certificate, so it is important to keep it in a secure location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/keys-and-certificate"
      },
      "input": {
        "shape": "CreateKeysAndCertificateRequest"
      },
      "name": "CreateKeysAndCertificate",
      "output": {
        "shape": "CreateKeysAndCertificateResponse"
      }
    },
    "CreateMitigationAction": {
      "documentation": "<p>Defines an action that can be applied to audit findings by using StartAuditMitigationActionsTask. Each mitigation action can apply only one type of change.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/mitigationactions/actions/{actionName}"
      },
      "input": {
        "shape": "CreateMitigationActionRequest"
      },
      "name": "CreateMitigationAction",
      "output": {
        "shape": "CreateMitigationActionResponse"
      }
    },
    "CreateOTAUpdate": {
      "documentation": "<p>Creates an AWS IoT OTAUpdate on a target group of things or groups.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/otaUpdates/{otaUpdateId}"
      },
      "input": {
        "shape": "CreateOTAUpdateRequest"
      },
      "name": "CreateOTAUpdate",
      "output": {
        "shape": "CreateOTAUpdateResponse"
      }
    },
    "CreatePolicy": {
      "documentation": "<p>Creates an AWS IoT policy.</p> <p>The created policy is the default version for the policy. This operation creates a policy version with a version identifier of <b>1</b> and sets <b>1</b> as the policy's default version.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "MalformedPolicyException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policies/{policyName}"
      },
      "input": {
        "shape": "CreatePolicyRequest"
      },
      "name": "CreatePolicy",
      "output": {
        "shape": "CreatePolicyResponse"
      }
    },
    "CreatePolicyVersion": {
      "documentation": "<p>Creates a new version of the specified AWS IoT policy. To update a policy, create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must use <a>DeletePolicyVersion</a> to delete an existing version before you create a new one.</p> <p>Optionally, you can set the new version as the policy's default version. The default version is the operative version (that is, the version that is in effect for the certificates to which the policy is attached).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "MalformedPolicyException"
        },
        {
          "shape": "VersionsLimitExceededException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/policies/{policyName}/version"
      },
      "input": {
        "shape": "CreatePolicyVersionRequest"
      },
      "name": "CreatePolicyVersion",
      "output": {
        "shape": "CreatePolicyVersionResponse"
      }
    },
    "CreateProvisioningClaim": {
      "documentation": "<p>Creates a provisioning claim.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/provisioning-templates/{templateName}/provisioning-claim"
      },
      "input": {
        "shape": "CreateProvisioningClaimRequest"
      },
      "name": "CreateProvisioningClaim",
      "output": {
        "shape": "CreateProvisioningClaimResponse"
      }
    },
    "CreateProvisioningTemplate": {
      "documentation": "<p>Creates a fleet provisioning template.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/provisioning-templates"
      },
      "input": {
        "shape": "CreateProvisioningTemplateRequest"
      },
      "name": "CreateProvisioningTemplate",
      "output": {
        "shape": "CreateProvisioningTemplateResponse"
      }
    },
    "CreateProvisioningTemplateVersion": {
      "documentation": "<p>Creates a new version of a fleet provisioning template.</p>",
      "errors": [
        {
          "shape": "VersionsLimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/provisioning-templates/{templateName}/versions"
      },
      "input": {
        "shape": "CreateProvisioningTemplateVersionRequest"
      },
      "name": "CreateProvisioningTemplateVersion",
      "output": {
        "shape": "CreateProvisioningTemplateVersionResponse"
      }
    },
    "CreateRoleAlias": {
      "documentation": "<p>Creates a role alias.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/role-aliases/{roleAlias}"
      },
      "input": {
        "shape": "CreateRoleAliasRequest"
      },
      "name": "CreateRoleAlias",
      "output": {
        "shape": "CreateRoleAliasResponse"
      }
    },
    "CreateScheduledAudit": {
      "documentation": "<p>Creates a scheduled audit that is run at a specified time interval.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/audit/scheduledaudits/{scheduledAuditName}"
      },
      "input": {
        "shape": "CreateScheduledAuditRequest"
      },
      "name": "CreateScheduledAudit",
      "output": {
        "shape": "CreateScheduledAuditResponse"
      }
    },
    "CreateSecurityProfile": {
      "documentation": "<p>Creates a Device Defender security profile.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/security-profiles/{securityProfileName}"
      },
      "input": {
        "shape": "CreateSecurityProfileRequest"
      },
      "name": "CreateSecurityProfile",
      "output": {
        "shape": "CreateSecurityProfileResponse"
      }
    },
    "CreateStream": {
      "documentation": "<p>Creates a stream for delivering one or more large files in chunks over MQTT. A stream transports data bytes in chunks or blocks packaged as MQTT messages from a source like S3. You can have one or more files associated with a stream.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/streams/{streamId}"
      },
      "input": {
        "shape": "CreateStreamRequest"
      },
      "name": "CreateStream",
      "output": {
        "shape": "CreateStreamResponse"
      }
    },
    "CreateThing": {
      "documentation": "<p>Creates a thing record in the registry. If this call is made multiple times using the same thing name and configuration, the call will succeed. If this call is made with the same thing name but different configuration a <code>ResourceAlreadyExistsException</code> is thrown.</p> <note> <p>This is a control plane operation. See <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/iot-authorization.html\">Authorization</a> for information about authorizing control plane actions.</p> </note>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/things/{thingName}"
      },
      "input": {
        "shape": "CreateThingRequest"
      },
      "name": "CreateThing",
      "output": {
        "shape": "CreateThingResponse"
      }
    },
    "CreateThingGroup": {
      "documentation": "<p>Create a thing group.</p> <note> <p>This is a control plane operation. See <a href=\"https://docs.aws.amazon.com/iot/latest/developerguide/iot-authorization.html\">Authorization</a> for information about authorizing control plane actions.</p> </note>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/thing-groups/{thingGroupName}"
      },
      "input": {
        "shape": "CreateThingGroupRequest"
      },
      "name": "CreateThingGroup",
      "output": {
        "shape": "CreateThingGroupResponse"
      }
    },
    "CreateThingType": {
      "documentation": "<p>Creates a new thing type.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/thing-types/{thingTypeName}"
      },
      "input": {
        "shape": "CreateThingTypeRequest"
      },
      "name": "CreateThingType",
      "output": {
        "shape": "CreateThingTypeResponse"
      }
    },
    "CreateTopicRule": {
      "documentation": "<p>Creates a rule. Creating rules is an administrator-level action. Any user who has permission to create rules will be able to access data processed by the rule.</p>",
      "errors": [
        {
          "shape": "SqlParseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rules/{ruleName}"
      },
      "input": {
        "shape": "CreateTopicRuleRequest"
      },
      "name": "CreateTopicRule"
    },
    "CreateTopicRuleDestination": {
      "documentation": "<p>Creates a topic rule destination. The destination must be confirmed prior to use.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/destinations"
      },
      "input": {
        "shape": "CreateTopicRuleDestinationRequest"
      },
      "name": "CreateTopicRuleDestination",
      "output": {
        "shape": "CreateTopicRuleDestinationResponse"
      }
    },
    "DeleteAccountAuditConfiguration": {
      "documentation": "<p>Restores the default settings for Device Defender audits for this account. Any configuration data you entered is deleted and all audit checks are reset to disabled. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/audit/configuration"
      },
      "input": {
        "shape": "DeleteAccountAuditConfigurationRequest"
      },
      "name": "DeleteAccountAuditConfiguration",
      "output": {
        "shape": "DeleteAccountAuditConfigurationResponse"
      }
    },
    "DeleteAuthorizer": {
      "documentation": "<p>Deletes an authorizer.</p>",
      "errors": [
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/authorizer/{authorizerName}"
      },
      "input": {
        "shape": "DeleteAuthorizerRequest"
      },
      "name": "DeleteAuthorizer",
      "output": {
        "shape": "DeleteAuthorizerResponse"
      }
    },
    "DeleteBillingGroup": {
      "documentation": "<p>Deletes the billing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "VersionConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/billing-groups/{billingGroupName}"
      },
      "input": {
        "shape": "DeleteBillingGroupRequest"
      },
      "name": "DeleteBillingGroup",
      "output": {
        "shape": "DeleteBillingGroupResponse"
      }
    },
    "DeleteCACertificate": {
      "documentation": "<p>Deletes a registered CA certificate.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "CertificateStateException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/cacertificate/{caCertificateId}"
      },
      "input": {
        "shape": "DeleteCACertificateRequest"
      },
      "name": "DeleteCACertificate",
      "output": {
        "shape": "DeleteCACertificateResponse"
      }
    },
    "DeleteCertificate": {
      "documentation": "<p>Deletes the specified certificate.</p> <p>A certificate cannot be deleted if it has a policy or IoT thing attached to it or if its status is set to ACTIVE. To delete a certificate, first use the <a>DetachPrincipalPolicy</a> API to detach all policies. Next, use the <a>UpdateCertificate</a> API to set the certificate to the INACTIVE status.</p>",
      "errors": [
        {
          "shape": "CertificateStateException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/certificates/{certificateId}"
      },
      "input": {
        "shape": "DeleteCertificateRequest"
      },
      "name": "DeleteCertificate"
    },
    "DeleteDimension": {
      "documentation": "<p>Removes the specified dimension from your AWS account.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/dimensions/{name}"
      },
      "input": {
        "shape": "DeleteDimensionRequest"
      },
      "name": "DeleteDimension",
      "output": {
        "shape": "DeleteDimensionResponse"
      }
    },
    "DeleteDomainConfiguration": {
      "documentation": "<p>Deletes the specified domain configuration.</p> <note> <p>The domain configuration feature is in public preview and is subject to change.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/domainConfigurations/{domainConfigurationName}"
      },
      "input": {
        "shape": "DeleteDomainConfigurationRequest"
      },
      "name": "DeleteDomainConfiguration",
      "output": {
        "shape": "DeleteDomainConfigurationResponse"
      }
    },
    "DeleteDynamicThingGroup": {
      "documentation": "<p>Deletes a dynamic thing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "VersionConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/dynamic-thing-groups/{thingGroupName}"
      },
      "input": {
        "shape": "DeleteDynamicThingGroupRequest"
      },
      "name": "DeleteDynamicThingGroup",
      "output": {
        "shape": "DeleteDynamicThingGroupResponse"
      }
    },
    "DeleteJob": {
      "documentation": "<p>Deletes a job and its related job executions.</p> <p>Deleting a job may take time, depending on the number of job executions created for the job and various other factors. While the job is being deleted, the status of the job will be shown as \"DELETION_IN_PROGRESS\". Attempting to delete or cancel a job whose status is already \"DELETION_IN_PROGRESS\" will result in an error.</p> <p>Only 10 jobs may have status \"DELETION_IN_PROGRESS\" at the same time, or a LimitExceededException will occur.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/jobs/{jobId}"
      },
      "input": {
        "shape": "DeleteJobRequest"
      },
      "name": "DeleteJob"
    },
    "DeleteJobExecution": {
      "documentation": "<p>Deletes a job execution.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/things/{thingName}/jobs/{jobId}/executionNumber/{executionNumber}"
      },
      "input": {
        "shape": "DeleteJobExecutionRequest"
      },
      "name": "DeleteJobExecution"
    },
    "DeleteMitigationAction": {
      "documentation": "<p>Deletes a defined mitigation action from your AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/mitigationactions/actions/{actionName}"
      },
      "input": {
        "shape": "DeleteMitigationActionRequest"
      },
      "name": "DeleteMitigationAction",
      "output": {
        "shape": "DeleteMitigationActionResponse"
      }
    },
    "DeleteOTAUpdate": {
      "documentation": "<p>Delete an OTA update.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "VersionConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/otaUpdates/{otaUpdateId}"
      },
      "input": {
        "shape": "DeleteOTAUpdateRequest"
      },
      "name": "DeleteOTAUpdate",
      "output": {
        "shape": "DeleteOTAUpdateResponse"
      }
    },
    "DeletePolicy": {
      "documentation": "<p>Deletes the specified policy.</p> <p>A policy cannot be deleted if it has non-default versions or it is attached to any certificate.</p> <p>To delete a policy, use the DeletePolicyVersion API to delete all non-default versions of the policy; use the DetachPrincipalPolicy API to detach the policy from any certificate; and then use the DeletePolicy API to delete the policy.</p> <p>When a policy is deleted using DeletePolicy, its default version is deleted with it.</p>",
      "errors": [
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/policies/{policyName}"
      },
      "input": {
        "shape": "DeletePolicyRequest"
      },
      "name": "DeletePolicy"
    },
    "DeletePolicyVersion": {
      "documentation": "<p>Deletes the specified version of the specified policy. You cannot delete the default version of a policy using this API. To delete the default version of a policy, use <a>DeletePolicy</a>. To find out which version of a policy is marked as the default version, use ListPolicyVersions.</p>",
      "errors": [
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/policies/{policyName}/version/{policyVersionId}"
      },
      "input": {
        "shape": "DeletePolicyVersionRequest"
      },
      "name": "DeletePolicyVersion"
    },
    "DeleteProvisioningTemplate": {
      "documentation": "<p>Deletes a fleet provisioning template.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/provisioning-templates/{templateName}"
      },
      "input": {
        "shape": "DeleteProvisioningTemplateRequest"
      },
      "name": "DeleteProvisioningTemplate",
      "output": {
        "shape": "DeleteProvisioningTemplateResponse"
      }
    },
    "DeleteProvisioningTemplateVersion": {
      "documentation": "<p>Deletes a fleet provisioning template version.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "DeleteConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/provisioning-templates/{templateName}/versions/{versionId}"
      },
      "input": {
        "shape": "DeleteProvisioningTemplateVersionRequest"
      },
      "name": "DeleteProvisioningTemplateVersion",
      "output": {
        "shape": "DeleteProvisioningTemplateVersionResponse"
      }
    },
    "DeleteRegistrationCode": {
      "documentation": "<p>Deletes a CA certificate registration code.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/registrationcode"
      },
      "input": {
        "shape": "DeleteRegistrationCodeRequest"
      },
      "name": "DeleteRegistrationCode",
      "output": {
        "shape": "DeleteRegistrationCodeResponse"
      }
    },
    "DeleteRoleAlias": {
      "documentation": "<p>Deletes a role alias</p>",
      "errors": [
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/role-aliases/{roleAlias}"
      },
      "input": {
        "shape": "DeleteRoleAliasRequest"
      },
      "name": "DeleteRoleAlias",
      "output": {
        "shape": "DeleteRoleAliasResponse"
      }
    },
    "DeleteScheduledAudit": {
      "documentation": "<p>Deletes a scheduled audit.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/audit/scheduledaudits/{scheduledAuditName}"
      },
      "input": {
        "shape": "DeleteScheduledAuditRequest"
      },
      "name": "DeleteScheduledAudit",
      "output": {
        "shape": "DeleteScheduledAuditResponse"
      }
    },
    "DeleteSecurityProfile": {
      "documentation": "<p>Deletes a Device Defender security profile.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "VersionConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/security-profiles/{securityProfileName}"
      },
      "input": {
        "shape": "DeleteSecurityProfileRequest"
      },
      "name": "DeleteSecurityProfile",
      "output": {
        "shape": "DeleteSecurityProfileResponse"
      }
    },
    "DeleteStream": {
      "documentation": "<p>Deletes a stream.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/streams/{streamId}"
      },
      "input": {
        "shape": "DeleteStreamRequest"
      },
      "name": "DeleteStream",
      "output": {
        "shape": "DeleteStreamResponse"
      }
    },
    "DeleteThing": {
      "documentation": "<p>Deletes the specified thing. Returns successfully with no error if the deletion is successful or you specify a thing that doesn't exist.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "VersionConflictException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/things/{thingName}"
      },
      "input": {
        "shape": "DeleteThingRequest"
      },
      "name": "DeleteThing",
      "output": {
        "shape": "DeleteThingResponse"
      }
    },
    "DeleteThingGroup": {
      "documentation": "<p>Deletes a thing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "VersionConflictException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/thing-groups/{thingGroupName}"
      },
      "input": {
        "shape": "DeleteThingGroupRequest"
      },
      "name": "DeleteThingGroup",
      "output": {
        "shape": "DeleteThingGroupResponse"
      }
    },
    "DeleteThingType": {
      "documentation": "<p>Deletes the specified thing type. You cannot delete a thing type if it has things associated with it. To delete a thing type, first mark it as deprecated by calling <a>DeprecateThingType</a>, then remove any associated things by calling <a>UpdateThing</a> to change the thing type on any associated thing, and finally use <a>DeleteThingType</a> to delete the thing type.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/thing-types/{thingTypeName}"
      },
      "input": {
        "shape": "DeleteThingTypeRequest"
      },
      "name": "DeleteThingType",
      "output": {
        "shape": "DeleteThingTypeResponse"
      }
    },
    "DeleteTopicRule": {
      "documentation": "<p>Deletes the rule.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/rules/{ruleName}"
      },
      "input": {
        "shape": "DeleteTopicRuleRequest"
      },
      "name": "DeleteTopicRule"
    },
    "DeleteTopicRuleDestination": {
      "documentation": "<p>Deletes a topic rule destination.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/destinations/{arn+}"
      },
      "input": {
        "shape": "DeleteTopicRuleDestinationRequest"
      },
      "name": "DeleteTopicRuleDestination",
      "output": {
        "shape": "DeleteTopicRuleDestinationResponse"
      }
    },
    "DeleteV2LoggingLevel": {
      "documentation": "<p>Deletes a logging level.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2LoggingLevel"
      },
      "input": {
        "shape": "DeleteV2LoggingLevelRequest"
      },
      "name": "DeleteV2LoggingLevel"
    },
    "DeprecateThingType": {
      "documentation": "<p>Deprecates a thing type. You can not associate new things with deprecated thing type.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/thing-types/{thingTypeName}/deprecate"
      },
      "input": {
        "shape": "DeprecateThingTypeRequest"
      },
      "name": "DeprecateThingType",
      "output": {
        "shape": "DeprecateThingTypeResponse"
      }
    },
    "DescribeAccountAuditConfiguration": {
      "documentation": "<p>Gets information about the Device Defender audit settings for this account. Settings include how audit notifications are sent and which audit checks are enabled or disabled.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/configuration"
      },
      "input": {
        "shape": "DescribeAccountAuditConfigurationRequest"
      },
      "name": "DescribeAccountAuditConfiguration",
      "output": {
        "shape": "DescribeAccountAuditConfigurationResponse"
      }
    },
    "DescribeAuditFinding": {
      "documentation": "<p>Gets information about a single audit finding. Properties include the reason for noncompliance, the severity of the issue, and when the audit that returned the finding was started.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/findings/{findingId}"
      },
      "input": {
        "shape": "DescribeAuditFindingRequest"
      },
      "name": "DescribeAuditFinding",
      "output": {
        "shape": "DescribeAuditFindingResponse"
      }
    },
    "DescribeAuditMitigationActionsTask": {
      "documentation": "<p>Gets information about an audit mitigation task that is used to apply mitigation actions to a set of audit findings. Properties include the actions being applied, the audit checks to which they're being applied, the task status, and aggregated task statistics.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/mitigationactions/tasks/{taskId}"
      },
      "input": {
        "shape": "DescribeAuditMitigationActionsTaskRequest"
      },
      "name": "DescribeAuditMitigationActionsTask",
      "output": {
        "shape": "DescribeAuditMitigationActionsTaskResponse"
      }
    },
    "DescribeAuditTask": {
      "documentation": "<p>Gets information about a Device Defender audit.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/tasks/{taskId}"
      },
      "input": {
        "shape": "DescribeAuditTaskRequest"
      },
      "name": "DescribeAuditTask",
      "output": {
        "shape": "DescribeAuditTaskResponse"
      }
    },
    "DescribeAuthorizer": {
      "documentation": "<p>Describes an authorizer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/authorizer/{authorizerName}"
      },
      "input": {
        "shape": "DescribeAuthorizerRequest"
      },
      "name": "DescribeAuthorizer",
      "output": {
        "shape": "DescribeAuthorizerResponse"
      }
    },
    "DescribeBillingGroup": {
      "documentation": "<p>Returns information about a billing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/billing-groups/{billingGroupName}"
      },
      "input": {
        "shape": "DescribeBillingGroupRequest"
      },
      "name": "DescribeBillingGroup",
      "output": {
        "shape": "DescribeBillingGroupResponse"
      }
    },
    "DescribeCACertificate": {
      "documentation": "<p>Describes a registered CA certificate.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/cacertificate/{caCertificateId}"
      },
      "input": {
        "shape": "DescribeCACertificateRequest"
      },
      "name": "DescribeCACertificate",
      "output": {
        "shape": "DescribeCACertificateResponse"
      }
    },
    "DescribeCertificate": {
      "documentation": "<p>Gets information about the specified certificate.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/certificates/{certificateId}"
      },
      "input": {
        "shape": "DescribeCertificateRequest"
      },
      "name": "DescribeCertificate",
      "output": {
        "shape": "DescribeCertificateResponse"
      }
    },
    "DescribeDefaultAuthorizer": {
      "documentation": "<p>Describes the default authorizer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/default-authorizer"
      },
      "input": {
        "shape": "DescribeDefaultAuthorizerRequest"
      },
      "name": "DescribeDefaultAuthorizer",
      "output": {
        "shape": "DescribeDefaultAuthorizerResponse"
      }
    },
    "DescribeDimension": {
      "documentation": "<p>Provides details about a dimension that is defined in your AWS account.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/dimensions/{name}"
      },
      "input": {
        "shape": "DescribeDimensionRequest"
      },
      "name": "DescribeDimension",
      "output": {
        "shape": "DescribeDimensionResponse"
      }
    },
    "DescribeDomainConfiguration": {
      "documentation": "<p>Gets summary information about a domain configuration.</p> <note> <p>The domain configuration feature is in public preview and is subject to change.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainConfigurations/{domainConfigurationName}"
      },
      "input": {
        "shape": "DescribeDomainConfigurationRequest"
      },
      "name": "DescribeDomainConfiguration",
      "output": {
        "shape": "DescribeDomainConfigurationResponse"
      }
    },
    "DescribeEndpoint": {
      "documentation": "<p>Returns a unique endpoint specific to the AWS account making the call.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/endpoint"
      },
      "input": {
        "shape": "DescribeEndpointRequest"
      },
      "name": "DescribeEndpoint",
      "output": {
        "shape": "DescribeEndpointResponse"
      }
    },
    "DescribeEventConfigurations": {
      "documentation": "<p>Describes event configurations.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/event-configurations"
      },
      "input": {
        "shape": "DescribeEventConfigurationsRequest"
      },
      "name": "DescribeEventConfigurations",
      "output": {
        "shape": "DescribeEventConfigurationsResponse"
      }
    },
    "DescribeIndex": {
      "documentation": "<p>Describes a search index.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/indices/{indexName}"
      },
      "input": {
        "shape": "DescribeIndexRequest"
      },
      "name": "DescribeIndex",
      "output": {
        "shape": "DescribeIndexResponse"
      }
    },
    "DescribeJob": {
      "documentation": "<p>Describes a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}"
      },
      "input": {
        "shape": "DescribeJobRequest"
      },
      "name": "DescribeJob",
      "output": {
        "shape": "DescribeJobResponse"
      }
    },
    "DescribeJobExecution": {
      "documentation": "<p>Describes a job execution.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/things/{thingName}/jobs/{jobId}"
      },
      "input": {
        "shape": "DescribeJobExecutionRequest"
      },
      "name": "DescribeJobExecution",
      "output": {
        "shape": "DescribeJobExecutionResponse"
      }
    },
    "DescribeMitigationAction": {
      "documentation": "<p>Gets information about a mitigation action.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/mitigationactions/actions/{actionName}"
      },
      "input": {
        "shape": "DescribeMitigationActionRequest"
      },
      "name": "DescribeMitigationAction",
      "output": {
        "shape": "DescribeMitigationActionResponse"
      }
    },
    "DescribeProvisioningTemplate": {
      "documentation": "<p>Returns information about a fleet provisioning template.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/provisioning-templates/{templateName}"
      },
      "input": {
        "shape": "DescribeProvisioningTemplateRequest"
      },
      "name": "DescribeProvisioningTemplate",
      "output": {
        "shape": "DescribeProvisioningTemplateResponse"
      }
    },
    "DescribeProvisioningTemplateVersion": {
      "documentation": "<p>Returns information about a fleet provisioning template version.</p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/provisioning-templates/{templateName}/versions/{versionId}"
      },
      "input": {
        "shape": "DescribeProvisioningTemplateVersionRequest"
      },
      "name": "DescribeProvisioningTemplateVersion",
      "output": {
        "shape": "DescribeProvisioningTemplateVersionResponse"
      }
    },
    "DescribeRoleAlias": {
      "documentation": "<p>Describes a role alias.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/role-aliases/{roleAlias}"
      },
      "input": {
        "shape": "DescribeRoleAliasRequest"
      },
      "name": "DescribeRoleAlias",
      "output": {
        "shape": "DescribeRoleAliasResponse"
      }
    },
    "DescribeScheduledAudit": {
      "documentation": "<p>Gets information about a scheduled audit.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/audit/scheduledaudits/{scheduledAuditName}"
      },
      "input": {
        "shape": "DescribeScheduledAuditRequest"
      },
      "name": "DescribeScheduledAudit",
      "output": {
        "shape": "DescribeScheduledAuditResponse"
      }
    },
    "DescribeSecurityProfile": {
      "documentation": "<p>Gets information about a Device Defender security profile.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/security-profiles/{securityProfileName}"
      },
      "input": {
        "shape": "DescribeSecurityProfileRequest"
      },
      "name": "DescribeSecurityProfile",
      "output": {
        "shape": "DescribeSecurityProfileResponse"
      }
    },
    "DescribeStream": {
      "documentation": "<p>Gets information about a stream.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/streams/{streamId}"
      },
      "input": {
        "shape": "DescribeStreamRequest"
      },
      "name": "DescribeStream",
      "output": {
        "shape": "DescribeStreamResponse"
      }
    },
    "DescribeThing": {
      "documentation": "<p>Gets information about the specified thing.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/things/{thingName}"
      },
      "input": {
        "shape": "DescribeThingRequest"
      },
      "name": "DescribeThing",
      "output": {
        "shape": "DescribeThingResponse"
      }
    },
    "DescribeThingGroup": {
      "documentation": "<p>Describe a thing group.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/thing-groups/{thingGroupName}"
      },
      "input": {
        "shape": "DescribeThingGroupRequest"
      },
      "name": "DescribeThingGroup",
      "output": {
        "shape": "DescribeThingGroupResponse"
      }
    },
    "DescribeThingRegistrationTask": {
      "documentation": "<p>Describes a bulk thing provisioning task.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/thing-registration-tasks/{taskId}"
      },
      "input": {
        "shape": "DescribeThingRegistrationTaskRequest"
      },
      "name": "DescribeThingRegistrationTask",
      "output": {
        "shape": "DescribeThingRegistrationTaskResponse"
      }
    },
    "DescribeThingType": {
      "documentation": "<p>Gets information about the specified thing type.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/thing-types/{thingTypeName}"
      },
      "input": {
        "shape": "DescribeThingTypeRequest"
      },
      "name": "DescribeThingType",
      "output": {
        "shape": "DescribeThingTypeResponse"
      }
    },
    "DetachPolicy": {
      "documentation": "<p>Detaches a policy from the specified target.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/target-policies/{policyName}"
      },
      "input": {
        "shape": "DetachPolicyRequest"
      },
      "name": "DetachPolicy"
    },
    "DetachPrincipalPolicy": {
      "deprecated": true,
      "documentation": "<p>Removes the specified policy from the specified certificate.</p> <p> <b>Note:</b> This API is deprecated. Please use <a>DetachPolicy</a> instead.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/principal-policies/{policyName}"
      },
      "input": {
        "shape": "DetachPrincipalPolicyRequest"
      },
      "name": "DetachPrincipalPolicy"
    },
    "DetachSecurityProfile": {
      "documentation": "<p>Disassociates a Device Defender security profile from a thing group or from this account.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/security-profiles/{securityProfileName}/targets"
      },
      "input": {
        "shape": "DetachSecurityProfileRequest"
      },
      "name": "DetachSecurityProfile",
      "output": {
        "shape": "DetachSecurityProfileResponse"
      }
    },
    "DetachThingPrincipal": {
      "documentation": "<p>Detaches the specified principal from the specified thing. A principal can be X.509 certificates, IAM users, groups, and roles, Amazon Cognito identities or federated identities.</p> <note> <p>This call is asynchronous. It might take several seconds for the detachment to propagate.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/things/{thingName}/principals"
      },
      "input": {
        "shape": "DetachThingPrincipalRequest"
      },
      "name": "DetachThingPrincipal",
      "output": {
        "shape": "DetachThingPrincipalResponse"
      }
    },
    "DisableTopicRule": {
      "documentation": "<p>Disables the rule.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rules/{ruleName}/disable"
      },
      "input": {
        "shape": "DisableTopicRuleRequest"
      },
      "name": "DisableTopicRule"
    },
    "EnableTopicRule": {
      "documentation": "<p>Enables the rule.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictingResourceUpdateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/rules/{ruleName}/enable"
      },
      "input": {
        "shape": "EnableTopicRuleRequest"
      },
      "name": "EnableTopicRule"
    },
    "GetCardinality": {
      "documentation": "<p>Returns the approximate count of unique values that match the query.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidQueryException"
        },
        {
          "shape": "InvalidAggregationException"
        },
        {
          "shape": "IndexNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/indices/cardinality"
      },
      "input": {
        "shape": "GetCardinalityRequest"
      },
      "name": "GetCardinality",
      "output": {
        "shape": "GetCardinalityResponse"
      }
    },
    "GetEffectivePolicies": {
      "documentation": "<p>Gets a list of the policies that have an effect on the authorization behavior of the specified device when it connects to the AWS IoT device gateway.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/effective-policies"
      },
      "input": {
        "shape": "GetEffectivePoliciesRequest"
      },
      "name": "GetEffectivePolicies",
      "output": {
        "shape": "GetEffectivePoliciesResponse"
      }
    },
    "GetIndexingConfiguration": {
      "documentation": "<p>Gets the indexing configuration.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/indexing/config"
      },
      "input": {
        "shape": "GetIndexingConfigurationRequest"
      },
      "name": "GetIndexingConfiguration",
      "output": {
        "shape": "GetIndexingConfigurationResponse"
      }
    },
    "GetJobDocument": {
      "documentation": "<p>Gets a job document.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/jobs/{jobId}/job-document"
      },
      "input": {
        "shape": "GetJobDocumentRequest"
      },
      "name": "GetJobDocument",
      "output": {
        "shape": "GetJobDocumentResponse"
      }
    },
    "GetLoggingOptions": {
      "documentation": "<p>Gets the logging options.</p> <p>NOTE: use of this command is not recommended. Use <code>GetV2LoggingOptions</code> instead.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/loggingOptions"
      },
      "input": {
        "shape": "GetLoggingOptionsRequest"
      },
      "name": "GetLoggingOptions",
      "output": {
        "shape": "GetLoggingOptionsResponse"
      }
    },
    "GetOTAUpdate": {
      "documentation": "<p>Gets an OTA update.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/otaUpdates/{otaUpdateId}"
      },
      "input": {
        "shape": "GetOTAUpdateRequest"
      },
      "name": "GetOTAUpdate",
      "output": {
        "shape": "GetOTAUpdateResponse"
      }
    },
    "GetPercentiles": {
      "documentation": "<p>Groups the aggregated values that match the query into percentile groupings. The default percentile groupings are: 1,5,25,50,75,95,99, although you can specify your own when you call <code>GetPercentiles</code>. This function returns a value for each percentile group specified (or the default percentile groupings). The percentile group \"1\" contains the aggregated field value that occurs in approximately one percent of the values that match the query. The percentile group \"5\" contains the aggregated field value that occurs in approximately five percent of the values that match the query, and so on. The result is an approximation, the more values that match the query, the more accurate the percentile values.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidQueryException"
        },
        {
          "shape": "InvalidAggregationException"
        },
        {
          "shape": "IndexNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/indices/percentiles"
      },
      "input": {
        "shape": "GetPercentilesRequest"
      },
      "name": "GetPercentiles",
      "output": {
        "shape": "GetPercentilesResponse"
      }
    },
    "GetPolicy": {
      "documentation": "<p>Gets information about the specified policy with the policy document of the default version.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policies/{policyName}"
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyResponse"
      }
    },
    "GetPolicyVersion": {
      "documentation": "<p>Gets information about the specified policy version.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/policies/{policyName}/version/{policyVersionId}"
      },
      "input": {
        "shape": "GetPolicyVersionRequest"
      },
      "name": "GetPolicyVersion",
      "output": {
        "shape": "GetPolicyVersionResponse"
      }
    },
    "GetRegistrationCode": {
      "documentation": "<p>Gets a registration code used to register a CA certificate with AWS IoT.</p>",
      "errors": [
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/registrationcode"
      },
      "input": {
        "shape": "GetRegistrationCodeRequest"
      },
      "name": "GetRegistrationCode",
      "output": {
        "shape": "GetRegistrationCodeResponse"
      }
    },
    "GetStatistics": {
      "documentation": "<p>Returns the count, average, sum, minimum, maximum, sum of squares, variance, and standard deviation for the specified aggregated field. If the aggregation field is of type <code>String</code>, only the count statistic is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidQueryException"
        },
        {
          "shape": "InvalidAggregationException"
        },
        {
          "shape": "IndexNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/indices/statistics"
      },
      "input": {
        "shape": "GetStatisticsRequest"
      },
      "name": "GetStatistics",
      "output": {
        "shape": "GetStatisticsResponse"
      }
    },
    "GetTopicRule": {
      "documentation": "<p>Gets information about the rule.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/rules/{ruleName}"
      },
      "input": {
        "shape": "GetTopicRuleRequest"
      },
      "name": "GetTopicRule",
      "output": {
        "shape": "GetTopicRuleResponse"
      }
    },
    "GetTopicRuleDestination": {
      "documentation": "<p>Gets information about a topic rule destination.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/destinations/{arn+}"
      },
      "input": {
        "shape": "GetTopicRuleDestinationRequest"
      },
      "name": "GetTopicRuleDestination",
      "output": {
        "shape": "GetTopicRuleDestinationResponse"
      }
    },
    "GetV2LoggingOptions": {
      "documentation": "<p>Gets the fine grained logging options.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "NotConfiguredException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
[...]
