{
  "documentation": "<p>Amazon Kendra is a service for indexing large document sets.</p>",
  "metadata": {
    "apiVersion": "2019-02-03",
    "endpointPrefix": "kendra",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "kendra",
    "serviceFullName": "AWSKendraFrontendService",
    "serviceId": "kendra",
    "signatureVersion": "v4",
    "signingName": "kendra",
    "targetPrefix": "AWSKendraFrontendService",
    "uid": "kendra-2019-02-03"
  },
  "operations": {
    "BatchDeleteDocument": {
      "documentation": "<p>Removes one or more documents from an index. The documents must have been added with the <a>BatchPutDocument</a> operation.</p> <p>The documents are deleted asynchronously. You can see the progress of the deletion by using AWS CloudWatch. Any error messages releated to the processing of the batch are sent to you CloudWatch log.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteDocumentRequest"
      },
      "name": "BatchDeleteDocument",
      "output": {
        "shape": "BatchDeleteDocumentResponse"
      }
    },
    "BatchPutDocument": {
      "documentation": "<p>Adds one or more documents to an index.</p> <p>The <code>BatchPutDocument</code> operation enables you to ingest inline documents or a set of documents stored in an Amazon S3 bucket. Use this operation to ingest your text and unstructured text into an index, add custom attributes to the documents, and to attach an access control list to the documents added to the index.</p> <p>The documents are indexed asynchronously. You can see the progress of the batch using AWS CloudWatch. Any error messages related to processing the batch are sent to your AWS CloudWatch log.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchPutDocumentRequest"
      },
      "name": "BatchPutDocument",
      "output": {
        "shape": "BatchPutDocumentResponse"
      }
    },
    "CreateDataSource": {
      "documentation": "<p>Creates a data source that you use to with an Amazon Kendra index. </p> <p>You specify a name, connector type and description for your data source. You can choose between an S3 connector, a SharePoint Online connector, and a database connector.</p> <p>You also specify configuration information such as document metadata (author, source URI, and so on) and user context information.</p> <p> <code>CreateDataSource</code> is a synchronous operation. The operation returns 200 if the data source was successfully created. Otherwise, an exception is raised.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDataSourceRequest"
      },
      "name": "CreateDataSource",
      "output": {
        "shape": "CreateDataSourceResponse"
      }
    },
    "CreateFaq": {
      "documentation": "<p>Creates an new set of frequently asked question (FAQ) questions and answers.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFaqRequest"
      },
      "name": "CreateFaq",
      "output": {
        "shape": "CreateFaqResponse"
      }
    },
    "CreateIndex": {
      "documentation": "<p>Creates a new Amazon Kendra index. Index creation is an asynchronous operation. To determine if index creation has completed, check the <code>Status</code> field returned from a call to . The <code>Status</code> field is set to <code>ACTIVE</code> when the index is ready to use.</p> <p>Once the index is active you can index your documents using the operation or using one of the supported data sources. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceAlreadyExistException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIndexRequest"
      },
      "name": "CreateIndex",
      "output": {
        "shape": "CreateIndexResponse"
      }
    },
    "DeleteFaq": {
      "documentation": "<p>Removes an FAQ from an index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFaqRequest"
      },
      "name": "DeleteFaq"
    },
    "DeleteIndex": {
      "documentation": "<p>Deletes an existing Amazon Kendra index. An exception is not thrown if the index is already being deleted. While the index is being deleted, the <code>Status</code> field returned by a call to the <a>DescribeIndex</a> operation is set to <code>DELETING</code>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIndexRequest"
      },
      "name": "DeleteIndex"
    },
    "DescribeDataSource": {
      "documentation": "<p>Gets information about a Amazon Kendra data source.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDataSourceRequest"
      },
      "name": "DescribeDataSource",
      "output": {
        "shape": "DescribeDataSourceResponse"
      }
    },
    "DescribeFaq": {
      "documentation": "<p>Gets information about an FAQ list.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFaqRequest"
      },
      "name": "DescribeFaq",
      "output": {
        "shape": "DescribeFaqResponse"
      }
    },
    "DescribeIndex": {
      "documentation": "<p>Describes an existing Amazon Kendra index</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIndexRequest"
      },
      "name": "DescribeIndex",
      "output": {
        "shape": "DescribeIndexResponse"
      }
    },
    "ListDataSourceSyncJobs": {
      "documentation": "<p>Gets statistics about synchronizing Amazon Kendra with a data source.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataSourceSyncJobsRequest"
      },
      "name": "ListDataSourceSyncJobs",
      "output": {
        "shape": "ListDataSourceSyncJobsResponse"
      }
    },
    "ListDataSources": {
      "documentation": "<p>Lists the data sources that you have created.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "name": "ListDataSources",
      "output": {
        "shape": "ListDataSourcesResponse"
      }
    },
    "ListFaqs": {
      "documentation": "<p>Gets a list of FAQ lists associated with an index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFaqsRequest"
      },
      "name": "ListFaqs",
      "output": {
        "shape": "ListFaqsResponse"
      }
    },
    "ListIndices": {
      "documentation": "<p>Lists the Amazon Kendra indexes that you have created.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIndicesRequest"
      },
      "name": "ListIndices",
      "output": {
        "shape": "ListIndicesResponse"
      }
    },
    "Query": {
      "documentation": "<p>Searches an active index. Use this API to search your documents using query. The <code>Query</code> operation enables to do faceted search and to filter results based on document attributes.</p> <p>It also enables you to provide user context that Amazon Kendra uses to enforce document access control in the search results. </p> <p>Amazon Kendra searches your index for text content and question and answer (FAQ) content. By default the response contains three types of results.</p> <ul> <li> <p>Relevant passages</p> </li> <li> <p>Matching FAQs</p> </li> <li> <p>Relevant documents</p> </li> </ul> <p>You can specify that the query return only one type of result using the <code>QueryResultTypeConfig</code> parameter.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "QueryRequest"
      },
      "name": "Query",
      "output": {
        "shape": "QueryResult"
      }
    },
    "StartDataSourceSyncJob": {
      "documentation": "<p>Starts a synchronization job for a data source. If a synchronization job is already in progress, Amazon Kendra returns a <code>ResourceInUseException</code> exception.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDataSourceSyncJobRequest"
      },
      "name": "StartDataSourceSyncJob",
      "output": {
        "shape": "StartDataSourceSyncJobResponse"
      }
    },
    "StopDataSourceSyncJob": {
      "documentation": "<p>Stops a running synchronization job. You can't stop a scheduled synchronization job.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDataSourceSyncJobRequest"
      },
      "name": "StopDataSourceSyncJob"
    },
    "SubmitFeedback": {
      "documentation": "<p>Enables you to provide feedback to Amazon Kendra to improve the performance of the service. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SubmitFeedbackRequest"
      },
      "name": "SubmitFeedback"
    },
    "UpdateDataSource": {
      "documentation": "<p>Updates an existing Amazon Kendra data source.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDataSourceRequest"
      },
      "name": "UpdateDataSource"
    },
    "UpdateIndex": {
      "documentation": "<p>Updates an existing Amazon Kendra index.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIndexRequest"
      },
      "name": "UpdateIndex"
    }
  },
  "shapes": {
    "AccessControlListConfiguration": {
      "documentation": "<p>Access Control List files for the documents in a data source.</p>",
      "members": {
        "KeyPath": {
          "documentation": "<p>Path to the AWS S3 bucket that contains the ACL files.</p>",
          "shape": "S3ObjectKey"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AclConfiguration": {
      "documentation": "<p>Provides information about the column that should be used for filtering the query response by groups.</p>",
      "members": {
        "AllowedGroupsColumnName": {
          "documentation": "<p>A list of groups, separated by semi-colons, that filters a query response based on user context. The document is only returned to users that are in one of the groups specified in the <code>UserContext</code> field of the <a>Query</a> operation.</p>",
          "shape": "ColumnName"
        }
      },
      "required": [
        "AllowedGroupsColumnName"
      ],
      "type": "structure"
    },
    "AdditionalResultAttribute": {
      "documentation": "<p/>",
      "members": {
        "Key": {
          "documentation": "<p/>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p/>",
          "shape": "AdditionalResultAttributeValue"
        },
        "ValueType": {
          "documentation": "<p/>",
          "shape": "AdditionalResultAttributeValueType"
        }
      },
      "required": [
        "Key",
        "ValueType",
        "Value"
      ],
      "type": "structure"
    },
    "AdditionalResultAttributeList": {
      "member": {
        "shape": "AdditionalResultAttribute"
      },
      "type": "list"
    },
    "AdditionalResultAttributeValue": {
      "documentation": "<p>An attribute returned with a document from a search.</p>",
      "members": {
        "TextWithHighlightsValue": {
          "documentation": "<p>The text associated with the attribute and information about the highlight to apply to the text.</p>",
          "shape": "TextWithHighlights"
        }
      },
      "type": "structure"
    },
    "AdditionalResultAttributeValueType": {
      "enum": [
        "TEXT_WITH_HIGHLIGHTS_VALUE"
      ],
      "type": "string"
    },
    "AttributeFilter": {
      "documentation": "<p>Provides filtering the query results based on document attributes.</p> <p>When you use the <code>AndAllFilters</code> or <code>OrAllFilters</code>, filters you can use a total of 3 layers. For example, you can use:</p> <ol> <li> <p> <code>&lt;AndAllFilters&gt;</code> </p> </li> <li> <p> <code> &lt;OrAllFilters&gt;</code> </p> </li> <li> <p> <code> &lt;EqualTo&gt;</code> </p> </li> </ol>",
      "members": {
        "AndAllFilters": {
          "documentation": "<p>Performs a logical <code>AND</code> operation on all supplied filters.</p>",
          "shape": "AttributeFilterList"
        },
        "ContainsAll": {
          "documentation": "<p>Returns true when a document contains all of the specified document attributes.</p>",
          "shape": "DocumentAttribute"
        },
        "ContainsAny": {
          "documentation": "<p>Returns true when a document contains any of the specified document attributes.</p>",
          "shape": "DocumentAttribute"
        },
        "EqualsTo": {
          "documentation": "<p>Performs an equals operation on two document attributes.</p>",
          "shape": "DocumentAttribute"
        },
        "GreaterThan": {
          "documentation": "<p>Performs a greater than operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "GreaterThanOrEquals": {
          "documentation": "<p>Performs a greater or equals than operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "LessThan": {
          "documentation": "<p>Performs a less than operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "LessThanOrEquals": {
          "documentation": "<p>Performs a less than or equals operation on two document attributes. Use with a document attribute of type <code>Integer</code> or <code>Long</code>.</p>",
          "shape": "DocumentAttribute"
        },
        "NotFilter": {
          "documentation": "<p>Performs a logical <code>NOT</code> operation on all supplied filters.</p>",
          "shape": "AttributeFilter"
        },
        "OrAllFilters": {
          "documentation": "<p>Performs a logical <code>OR</code> operation on all supplied filters.</p>",
          "shape": "AttributeFilterList"
        }
      },
      "type": "structure"
    },
    "AttributeFilterList": {
      "max": 5,
      "member": {
        "shape": "AttributeFilter"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteDocumentRequest": {
      "members": {
        "DocumentIdList": {
          "documentation": "<p>One or more identifiers for documents to delete from the index.</p>",
          "shape": "DocumentIdList"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the documents to delete.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "IndexId",
        "DocumentIdList"
      ],
      "type": "structure"
    },
    "BatchDeleteDocumentResponse": {
      "members": {
        "FailedDocuments": {
          "documentation": "<p>A list of documents that could not be removed from the index. Each entry contains an error message that indicates why the document couldn't be removed from the index.</p>",
          "shape": "BatchDeleteDocumentResponseFailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDocumentResponseFailedDocument": {
      "documentation": "<p>Provides information about documents that could not be removed from an index by the <a>BatchDeleteDocument</a> operation.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code for why the document couldn't be removed from the index.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>An explanation for why the document couldn't be removed from the index.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>The identifier of the document that couldn't be removed from the index.</p>",
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "BatchDeleteDocumentResponseFailedDocuments": {
      "member": {
        "shape": "BatchDeleteDocumentResponseFailedDocument"
      },
      "type": "list"
    },
    "BatchPutDocumentRequest": {
      "members": {
        "Documents": {
          "documentation": "<p>One or more documents to add to the index. </p> <p>Each document is limited to 5 Mb, the total size of the list is limited to 50 Mb.</p>",
          "shape": "DocumentList"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index to add the documents to. You need to create the index first using the <a>CreateIndex</a> operation.</p>",
          "shape": "IndexId"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a role that is allowed to run the <code>BatchPutDocument</code> operation. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "IndexId",
        "Documents"
      ],
      "type": "structure"
    },
    "BatchPutDocumentResponse": {
      "members": {
        "FailedDocuments": {
          "documentation": "<p>A list of documents that were not added to the index because the document failed a validation check. Each document contains an error message that indicates why the document couldn't be added to the index.</p> <p>If there was an error adding a document to an index the error is reported in your AWS CloudWatch log.</p>",
          "shape": "BatchPutDocumentResponseFailedDocuments"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentResponseFailedDocument": {
      "documentation": "<p>Provides information about a document that could not be indexed.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The type of error that caused the document to fail to be indexed.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>A description of the reason why the document could not be indexed.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>The unique identifier of the document.</p>",
          "shape": "DocumentId"
        }
      },
      "type": "structure"
    },
    "BatchPutDocumentResponseFailedDocuments": {
      "member": {
        "shape": "BatchPutDocumentResponseFailedDocument"
      },
      "type": "list"
    },
    "Blob": {
      "max": 153600,
      "min": 1,
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ChangeDetectingColumns": {
      "max": 5,
      "member": {
        "shape": "ColumnName"
      },
      "min": 1,
      "type": "list"
    },
    "ClickFeedback": {
      "documentation": "<p>Gathers information about when a particular result was clicked by a user. Your application uses the <a>SubmitFeedback</a> operation to provide click information.</p>",
      "members": {
        "ClickTime": {
          "documentation": "<p>The Unix timestamp of the data and time that the result was clicked.</p>",
          "shape": "Timestamp"
        },
        "ResultId": {
          "documentation": "<p>The unique identifier of the search result that was clicked.</p>",
          "shape": "ResultId"
        }
      },
      "required": [
        "ResultId",
        "ClickTime"
      ],
      "type": "structure"
    },
    "ClickFeedbackList": {
      "member": {
        "shape": "ClickFeedback"
      },
      "type": "list"
    },
    "ClientTokenName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ColumnConfiguration": {
      "documentation": "<p>Provides information about how Amazon Kendra should use the columns of a database in an index.</p>",
      "members": {
        "ChangeDetectingColumns": {
          "documentation": "<p>One to five columns that indicate when a document in the database has changed.</p>",
          "shape": "ChangeDetectingColumns"
        },
        "DocumentDataColumnName": {
          "documentation": "<p>The column that contains the contents of the document.</p>",
          "shape": "ColumnName"
        },
        "DocumentIdColumnName": {
          "documentation": "<p>The column that provides the document's unique identifier.</p>",
          "shape": "ColumnName"
        },
        "DocumentTitleColumnName": {
          "documentation": "<p>The column that contains the title of the document.</p>",
          "shape": "ColumnName"
        },
        "FieldMappings": {
          "documentation": "<p>An array of objects that map database column names to the corresponding fields in an index. You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        }
      },
      "required": [
        "DocumentIdColumnName",
        "DocumentDataColumnName",
        "ChangeDetectingColumns"
      ],
      "type": "structure"
    },
    "ColumnName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConnectionConfiguration": {
      "documentation": "<p>Provides the information necessary to connect to a database.</p>",
      "members": {
        "DatabaseHost": {
          "documentation": "<p>The name of the host for the database. Can be either a string (host.subdomain.domain.tld) or an IPv4 or IPv6 address.</p>",
          "shape": "DatabaseHost"
        },
        "DatabaseName": {
          "documentation": "<p>The name of the database containing the document data.</p>",
          "shape": "DatabaseName"
        },
        "DatabasePort": {
          "documentation": "<p>The port that the database uses for connections.</p>",
          "shape": "DatabasePort"
        },
        "SecretArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of credentials stored in AWS Secrets Manager. The credentials should be a user/password pair. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-database.html\">Using a Database Data Source</a>. For more information about AWS Secrets Manager, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What Is AWS Secrets Manager </a> in the <i>AWS Secrets Manager</i> user guide.</p>",
          "shape": "SecretArn"
        },
        "TableName": {
          "documentation": "<p>The name of the table that contains the document data.</p>",
          "shape": "TableName"
        }
      },
      "required": [
        "DatabaseHost",
        "DatabasePort",
        "DatabaseName",
        "TableName",
        "SecretArn"
      ],
      "type": "structure"
    },
    "ContentType": {
      "enum": [
        "PDF",
        "HTML",
        "MS_WORD",
        "PLAIN_TEXT",
        "PPT"
      ],
      "type": "string"
    },
    "CreateDataSourceRequest": {
      "members": {
        "Configuration": {
          "documentation": "<p>The connector configuration information that is required to access the repository.</p>",
          "shape": "DataSourceConfiguration"
        },
        "Description": {
          "documentation": "<p>A description for the data source.</p>",
          "shape": "Description"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that should be associated with this data source.</p>",
          "shape": "IndexId"
        },
        "Name": {
          "documentation": "<p>A unique name for the data source. A data source name can't be changed without deleting and recreating the data source.</p>",
          "shape": "DataSourceName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the data source. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>",
          "shape": "RoleArn"
        },
        "Schedule": {
          "documentation": "<p>Sets the frequency that Amazon Kendra will check the documents in your repository and update the index. If you don't set a schedule Amazon Kendra will not periodically update the index. You can call the <code>StartDataSourceSyncJob</code> operation to update the index.</p>",
          "shape": "ScanSchedule"
        },
        "Type": {
          "documentation": "<p>The type of repository that contains the data source.</p>",
          "shape": "DataSourceType"
        }
      },
      "required": [
        "Name",
        "IndexId",
        "Type",
        "Configuration",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateDataSourceResponse": {
      "members": {
        "Id": {
          "documentation": "<p>A unique identifier for the data source.</p>",
          "shape": "DataSourceId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "CreateFaqRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the FAQ.</p>",
          "shape": "Description"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the FAQ.</p>",
          "shape": "IndexId"
        },
        "Name": {
          "documentation": "<p>The name that should be associated with the FAQ.</p>",
          "shape": "FaqName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a role with permission to access the S3 bucket that contains the FAQs. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/iam-roles.html\">IAM Roles for Amazon Kendra</a>.</p>",
          "shape": "RoleArn"
        },
        "S3Path": {
          "documentation": "<p>The S3 location of the FAQ input data.</p>",
          "shape": "S3Path"
        }
      },
      "required": [
        "IndexId",
        "Name",
        "S3Path",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateFaqResponse": {
      "members": {
        "Id": {
          "documentation": "<p>The unique identifier of the FAQ.</p>",
          "shape": "FaqId"
        }
      },
      "type": "structure"
    },
    "CreateIndexRequest": {
      "members": {
        "ClientToken": {
          "documentation": "<p>A token that you provide to identify the request to create an index. Multiple calls to the <code>CreateIndex</code> operation with the same client token will create only one index.\u201d</p>",
          "idempotencyToken": true,
          "shape": "ClientTokenName"
        },
        "Description": {
          "documentation": "<p>A description for the index.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name for the new index.</p>",
          "shape": "IndexName"
        },
        "RoleArn": {
          "documentation": "<p>An IAM role that gives Amazon Kendra permissions to access your Amazon CloudWatch logs and metrics. This is also the role used when you use the <code>BatchPutDocument</code> operation to index documents from an Amazon S3 bucket.</p>",
          "shape": "RoleArn"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The identifier of the AWS KMS customer managed key (CMK) to use to encrypt data indexed by Amazon Kendra. Amazon Kendra doesn't support asymmetric CMKs.</p>",
          "shape": "ServerSideEncryptionConfiguration"
        }
      },
      "required": [
        "Name",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateIndexResponse": {
      "members": {
        "Id": {
          "documentation": "<p>The unique identifier of the index. Use this identifier when you query an index, set up a data source, or index a document.</p>",
          "shape": "IndexId"
        }
      },
      "type": "structure"
    },
    "DataSourceConfiguration": {
      "documentation": "<p>Configuration information for a Amazon Kendra data source.</p>",
      "members": {
        "DatabaseConfiguration": {
          "documentation": "<p>Provides information necessary to create a connector for a database.</p>",
          "shape": "DatabaseConfiguration"
        },
        "S3Configuration": {
          "documentation": "<p>Provides information to create a connector for a document repository in an Amazon S3 bucket.</p>",
          "shape": "S3DataSourceConfiguration"
        },
        "SharePointConfiguration": {
          "documentation": "<p>Provides information necessary to create a connector for a Microsoft SharePoint site.</p>",
          "shape": "SharePointConfiguration"
        }
      },
      "type": "structure"
    },
    "DataSourceDateFieldFormat": {
      "max": 40,
      "min": 4,
      "type": "string"
    },
    "DataSourceFieldName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_.]*$",
      "type": "string"
    },
    "DataSourceId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DataSourceInclusionsExclusionsStrings": {
      "max": 100,
      "member": {
        "shape": "DataSourceInclusionsExclusionsStringsMember"
      },
      "min": 0,
      "type": "list"
    },
    "DataSourceInclusionsExclusionsStringsMember": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "DataSourceName": {
      "max": 1000,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DataSourceStatus": {
      "enum": [
        "CREATING",
        "DELETING",
        "FAILED",
        "UPDATING",
        "ACTIVE"
      ],
      "type": "string"
    },
    "DataSourceSummary": {
      "documentation": "<p>Summary information for a Amazon Kendra data source. Returned in a call to .</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The UNIX datetime that the data source was created.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data source.</p>",
          "shape": "DataSourceId"
        },
        "Name": {
          "documentation": "<p>The name of the data source.</p>",
          "shape": "DataSourceName"
        },
        "Status": {
          "documentation": "<p>The status of the data source. When the status is <code>ATIVE</code> the data source is ready to use.</p>",
          "shape": "DataSourceStatus"
        },
        "Type": {
          "documentation": "<p>The type of the data source.</p>",
          "shape": "DataSourceType"
        },
        "UpdatedAt": {
          "documentation": "<p>The UNIX datetime that the data source was lasted updated. </p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DataSourceSummaryList": {
      "member": {
        "shape": "DataSourceSummary"
      },
      "type": "list"
    },
    "DataSourceSyncJob": {
      "documentation": "<p>Provides information about a synchronization job.</p>",
      "members": {
        "DataSourceErrorCode": {
          "documentation": "<p>If the reason that the synchronization failed is due to an error with the underlying data source, this field contains a code that identifies the error.</p>",
          "shape": "String"
        },
        "EndTime": {
          "documentation": "<p>The UNIX datetime that the synchronization job was completed.</p>",
          "shape": "Timestamp"
        },
        "ErrorCode": {
          "documentation": "<p>If the <code>Status</code> field is set to <code>FAILED</code>, the <code>ErrorCode</code> field contains a the reason that the synchronization failed.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>If the <code>Status</code> field is set to <code>ERROR</code>, the <code>ErrorMessage</code> field contains a description of the error that caused the synchronization to fail.</p>",
          "shape": "ErrorMessage"
        },
        "ExecutionId": {
          "documentation": "<p>A unique identifier for the synchronization job.</p>",
          "shape": "String"
        },
        "StartTime": {
          "documentation": "<p>The UNIX datetime that the synchronization job was started.</p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>The execution status of the synchronization job. When the <code>Status</code> field is set to <code>SUCCEEDED</code>, the synchronization job is done. If the status code is set to <code>FAILED</code>, the <code>ErrorCode</code> and <code>ErrorMessage</code> fields give you the reason for the failure.</p>",
          "shape": "DataSourceSyncJobStatus"
        }
      },
      "type": "structure"
    },
    "DataSourceSyncJobHistoryList": {
      "member": {
        "shape": "DataSourceSyncJob"
      },
      "type": "list"
    },
    "DataSourceSyncJobStatus": {
      "enum": [
        "FAILED",
        "SUCCEEDED",
        "SYNCING",
        "INCOMPLETE",
        "STOPPING",
        "ABORTED"
      ],
      "type": "string"
    },
    "DataSourceToIndexFieldMapping": {
      "documentation": "<p>Maps a column or attribute in the data source to an index field. You must first create the fields in the index using the <a>UpdateIndex</a> operation.</p>",
      "members": {
        "DataSourceFieldName": {
          "documentation": "<p>The name of the column or attribute in the data source.</p>",
          "shape": "DataSourceFieldName"
        },
        "DateFieldFormat": {
          "documentation": "<p>The type of data stored in the column or attribute.</p>",
          "shape": "DataSourceDateFieldFormat"
        },
        "IndexFieldName": {
          "documentation": "<p>The name of the field in the index.</p>",
          "shape": "IndexFieldName"
        }
      },
      "required": [
        "DataSourceFieldName",
        "IndexFieldName"
      ],
      "type": "structure"
    },
    "DataSourceToIndexFieldMappingList": {
      "max": 100,
      "member": {
        "shape": "DataSourceToIndexFieldMapping"
      },
      "min": 1,
      "type": "list"
    },
    "DataSourceType": {
      "enum": [
        "S3",
        "SHAREPOINT",
        "DATABASE"
      ],
      "type": "string"
    },
    "DataSourceVpcConfiguration": {
      "documentation": "<p>Provides information for connecting to an Amazon VPC.</p>",
      "members": {
        "SecurityGroupIds": {
          "documentation": "<p>A list of identifiers of security groups within your Amazon VPC. The security groups should enable Amazon Kendra to connect to the data source.</p>",
          "shape": "SecurityGroupIdList"
        },
        "SubnetIds": {
          "documentation": "<p>A list of identifiers for subnets within your Amazon VPC. The subnets should be able to connect to each other in the VPC, and they should have outgoing access to the Internet through a NAT device.</p>",
          "shape": "SubnetIdList"
        }
      },
      "required": [
        "SubnetIds",
        "SecurityGroupIds"
      ],
      "type": "structure"
    },
    "DatabaseConfiguration": {
      "documentation": "<p>Provides the information necessary to connect a database to an index. </p>",
      "members": {
        "AclConfiguration": {
          "documentation": "<p>Information about the database column that provides information for user context filtering.</p>",
          "shape": "AclConfiguration"
        },
        "ColumnConfiguration": {
          "documentation": "<p>Information about where the index should get the document information from the database.</p>",
          "shape": "ColumnConfiguration"
        },
        "ConnectionConfiguration": {
          "documentation": "<p>The information necessary to connect to a database.</p>",
          "shape": "ConnectionConfiguration"
        },
        "DatabaseEngineType": {
          "documentation": "<p>The type of database engine that runs the database.</p>",
          "shape": "DatabaseEngineType"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "required": [
        "DatabaseEngineType",
        "ConnectionConfiguration",
        "ColumnConfiguration"
      ],
      "type": "structure"
    },
    "DatabaseEngineType": {
      "enum": [
        "RDS_AURORA_MYSQL",
        "RDS_AURORA_POSTGRESQL",
        "RDS_MYSQL",
        "RDS_POSTGRESQL"
      ],
      "type": "string"
    },
    "DatabaseHost": {
      "max": 253,
      "min": 1,
      "type": "string"
    },
    "DatabaseName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "DatabasePort": {
      "max": 65535,
      "min": 1,
      "type": "integer"
    },
    "DeleteFaqRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the FAQ to remove.</p>",
          "shape": "FaqId"
        },
        "IndexId": {
          "documentation": "<p>The index to remove the FAQ from.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DeleteIndexRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the index to delete.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeDataSourceRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The unique identifier of the data source to describe.</p>",
          "shape": "DataSourceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the data source.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeDataSourceResponse": {
      "members": {
        "Configuration": {
          "documentation": "<p>Information that describes where the data source is located and how the data source is configured. The specific information in the description depends on the data source provider.</p>",
          "shape": "DataSourceConfiguration"
        },
        "CreatedAt": {
          "documentation": "<p>The Unix timestamp of when the data source was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the data source.</p>",
          "shape": "Description"
        },
        "ErrorMessage": {
          "documentation": "<p>When the <code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field contains a description of the error that caused the data source to fail.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>The identifier of the data source.</p>",
          "shape": "DataSourceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the data source.</p>",
          "shape": "IndexId"
        },
        "Name": {
          "documentation": "<p>The name that you gave the data source when it was created.</p>",
          "shape": "DataSourceName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role that enables the data source to access its resources.</p>",
          "shape": "RoleArn"
        },
        "Schedule": {
          "documentation": "<p>The schedule that Amazon Kendra will update the data source.</p>",
          "shape": "ScanSchedule"
        },
        "Status": {
          "documentation": "<p>The current status of the data source. When the status is <code>ACTIVE</code> the data source is ready to use. When the status is <code>FAILED</code>, the <code>ErrorMessage</code> field contains the reason that the data source failed.</p>",
          "shape": "DataSourceStatus"
        },
        "Type": {
          "documentation": "<p>The type of the data source.</p>",
          "shape": "DataSourceType"
        },
        "UpdatedAt": {
          "documentation": "<p>The Unix timestamp of when the data source was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeFaqRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The unique identifier of the FAQ.</p>",
          "shape": "FaqId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the FAQ.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "DescribeFaqResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p>The date and time that the FAQ was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the FAQ that you provided when it was created.</p>",
          "shape": "Description"
        },
        "ErrorMessage": {
          "documentation": "<p>If the <code>Status</code> field is <code>FAILED</code>, the <code>ErrorMessage</code> field contains the reason why the FAQ failed.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>The identifier of the FAQ.</p>",
          "shape": "FaqId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the FAQ.</p>",
          "shape": "IndexId"
        },
        "Name": {
          "documentation": "<p>The name that you gave the FAQ when it was created.</p>",
          "shape": "FaqName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role that provides access to the S3 bucket containing the input files for the FAQ.</p>",
          "shape": "RoleArn"
        },
        "S3Path": {
          "shape": "S3Path"
        },
        "Status": {
          "documentation": "<p>The status of the FAQ. It is ready to use when the status is <code>ACTIVE</code>.</p>",
          "shape": "FaqStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the FAQ was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DescribeIndexRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The name of the index to describe.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeIndexResponse": {
      "members": {
        "CreatedAt": {
          "documentation": "<p>The Unix datetime that the index was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description of the index.</p>",
          "shape": "Description"
        },
        "DocumentMetadataConfigurations": {
          "documentation": "<p>Configuration settings for any metadata applied to the documents in the index.</p>",
          "shape": "DocumentMetadataConfigurationList"
        },
        "ErrorMessage": {
          "documentation": "<p>When th e<code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field contains a message that explains why.</p>",
          "shape": "ErrorMessage"
        },
        "Id": {
          "documentation": "<p>the name of the index.</p>",
          "shape": "IndexId"
        },
        "IndexStatistics": {
          "documentation": "<p>Provides information about the number of FAQ questions and answers and the number of text documents indexed.</p>",
          "shape": "IndexStatistics"
        },
        "Name": {
          "documentation": "<p>The name of the index.</p>",
          "shape": "IndexName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that gives Amazon Kendra permission to write to your Amazon Cloudwatch logs.</p>",
          "shape": "RoleArn"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The identifier of the AWS KMS customer master key (CMK) used to encrypt your data. Amazon Kendra doesn't support asymmetric CMKs.</p>",
          "shape": "ServerSideEncryptionConfiguration"
        },
        "Status": {
          "documentation": "<p>The current status of the index. When the value is <code>ACTIVE</code>, the index is ready for use. If the <code>Status</code> field value is <code>FAILED</code>, the <code>ErrorMessage</code> field contains a message that explains why.</p>",
          "shape": "IndexStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>The Unix datetime that the index was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 1000,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "Document": {
      "documentation": "<p>A document in an index.</p>",
      "members": {
        "AccessControlList": {
          "documentation": "<p>Information to use for user context filtering.</p>",
          "shape": "PrincipalList"
        },
        "Attributes": {
          "documentation": "<p>Custom attributes to apply to the document. Use the custom attributes to provide additional information for searching, to provide facets for refining searches, and to provide additional information in the query response.</p>",
          "shape": "DocumentAttributeList"
        },
        "Blob": {
          "documentation": "<p>The contents of the document. </p> <p>Documents passed to the <code>Blob</code> parameter must be base64 encoded. Your code might not need to encode the document file bytes if you're using an AWS SDK to call Amazon Kendra operations. If you are calling the Amazon Kendra endpoint directly using REST, you must base64 encode the contents before sending.</p>",
          "shape": "Blob"
        },
        "ContentType": {
          "documentation": "<p>The file type of the document in the <code>Blob</code> field.</p>",
          "shape": "ContentType"
        },
        "Id": {
          "documentation": "<p>A unique identifier of the document in the index.</p>",
          "shape": "DocumentId"
        },
        "S3Path": {
          "shape": "S3Path"
        },
        "Title": {
          "documentation": "<p>The title of the document.</p>",
          "shape": "Title"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DocumentAttribute": {
      "documentation": "<p>A custom attribute value assigned to a document. </p>",
      "members": {
        "Key": {
          "documentation": "<p>The identifier for the attribute.</p>",
          "shape": "DocumentAttributeKey"
        },
        "Value": {
          "documentation": "<p>The value of the attribute.</p>",
          "shape": "DocumentAttributeValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "DocumentAttributeKey": {
      "max": 200,
      "min": 1,
      "pattern": "[a-zA-Z0-9_][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "DocumentAttributeKeyList": {
      "max": 100,
      "member": {
        "shape": "DocumentAttributeKey"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentAttributeList": {
      "max": 100,
      "member": {
        "shape": "DocumentAttribute"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentAttributeStringListValue": {
      "max": 5,
      "member": {
        "shape": "String"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentAttributeStringValue": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "DocumentAttributeValue": {
      "documentation": "<p>The value of a custom document attribute. You can only provide one value for a custom attribute.</p>",
      "members": {
        "DateValue": {
          "documentation": "<p>A date value expressed as seconds from the Unix epoch.</p>",
          "shape": "Timestamp"
        },
        "LongValue": {
          "documentation": "<p>A long integer value.</p>",
          "shape": "Long"
        },
        "StringListValue": {
          "documentation": "<p>A list of strings. </p>",
          "shape": "DocumentAttributeStringListValue"
        },
        "StringValue": {
          "documentation": "<p>A string, such as \"department\".</p>",
          "shape": "DocumentAttributeStringValue"
        }
      },
      "type": "structure"
    },
    "DocumentAttributeValueCountPair": {
      "documentation": "<p>Provides the count of documents that match a particular attribute when doing a faceted search.</p>",
      "members": {
        "Count": {
          "documentation": "<p>The number of documents in the response that have the attribute value for the key.</p>",
          "shape": "Integer"
        },
        "DocumentAttributeValue": {
          "documentation": "<p>The value of the attribute. For example, \"HR.\"</p>",
          "shape": "DocumentAttributeValue"
        }
      },
      "type": "structure"
    },
    "DocumentAttributeValueCountPairList": {
      "member": {
        "shape": "DocumentAttributeValueCountPair"
      },
      "type": "list"
    },
    "DocumentAttributeValueType": {
      "enum": [
        "STRING_VALUE",
        "STRING_LIST_VALUE",
        "LONG_VALUE",
        "DATE_VALUE"
      ],
      "type": "string"
    },
    "DocumentId": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "DocumentIdList": {
      "max": 10,
      "member": {
        "shape": "DocumentId"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentList": {
      "max": 10,
      "member": {
        "shape": "Document"
      },
      "min": 1,
      "type": "list"
    },
    "DocumentMetadataBoolean": {
      "type": "boolean"
    },
    "DocumentMetadataConfiguration": {
      "documentation": "<p>Specifies the properties of a custom index field.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the index field.</p>",
          "shape": "DocumentMetadataConfigurationName"
        },
        "Relevance": {
          "documentation": "<p>Provides manual tuning parameters to determine how the field affects the search results.</p>",
          "shape": "Relevance"
        },
        "Search": {
          "documentation": "<p>Provides information about how the field is used during a search.</p>",
          "shape": "Search"
        },
        "Type": {
          "documentation": "<p>The data type of the index field. </p>",
          "shape": "DocumentAttributeValueType"
        }
      },
      "required": [
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "DocumentMetadataConfigurationList": {
      "max": 500,
      "member": {
        "shape": "DocumentMetadataConfiguration"
      },
      "min": 0,
      "type": "list"
    },
    "DocumentMetadataConfigurationName": {
      "max": 30,
      "min": 1,
      "type": "string"
    },
    "DocumentsMetadataConfiguration": {
      "documentation": "<p>Document metadata files that contain information such as the document access control information, source URI, document author, and custom attributes. Each metadata file contains metadata about a single document.</p>",
      "members": {
        "S3Prefix": {
          "documentation": "<p>A prefix used to filter metadata configuration files in the AWS S3 bucket. The S3 bucket might contain multiple metadata files. Use <code>S3Prefix</code> to include only the desired metadata files.</p>",
          "shape": "S3ObjectKey"
        }
      },
      "type": "structure"
    },
    "Duration": {
      "max": 10,
      "min": 1,
      "pattern": "[0-9]+[s]",
      "type": "string"
    },
    "ErrorCode": {
      "enum": [
        "InternalError",
        "InvalidRequest"
      ],
      "type": "string"
    },
    "ErrorMessage": {
      "max": 2048,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "Facet": {
      "documentation": "<p>Information a document attribute</p>",
      "members": {
        "DocumentAttributeKey": {
          "documentation": "<p>The unique key for the document attribute.</p>",
          "shape": "DocumentAttributeKey"
        }
      },
      "type": "structure"
    },
    "FacetList": {
      "member": {
        "shape": "Facet"
      },
      "type": "list"
    },
    "FacetResult": {
      "documentation": "<p>The facet values for the documents in the response.</p>",
      "members": {
        "DocumentAttributeKey": {
          "documentation": "<p>The key for the facet values. This is the same as the <code>DocumentAttributeKey</code> provided in the query.</p>",
          "shape": "DocumentAttributeKey"
        },
        "DocumentAttributeValueCountPairs": {
          "documentation": "<p>An array of key/value pairs, where the key is the value of the attribute and the count is the number of documents that share the key value.</p>",
          "shape": "DocumentAttributeValueCountPairList"
        }
      },
      "type": "structure"
    },
    "FacetResultList": {
      "member": {
        "shape": "FacetResult"
      },
      "type": "list"
    },
    "FaqId": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "FaqName": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "FaqStatistics": {
      "documentation": "<p>Provides statistical information about the FAQ questions and answers contained in an index.</p>",
      "members": {
        "IndexedQuestionAnswersCount": {
          "documentation": "<p>The total number of FAQ questions and answers contained in the index.</p>",
          "shape": "IndexedQuestionAnswersCount"
        }
      },
      "required": [
        "IndexedQuestionAnswersCount"
      ],
      "type": "structure"
    },
    "FaqStatus": {
      "enum": [
        "CREATING",
        "UPDATING",
        "ACTIVE",
        "DELETING",
        "FAILED"
      ],
      "type": "string"
    },
    "FaqSummary": {
      "documentation": "<p>Provides information about a frequently asked questions and answer contained in an index.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The UNIX datetime that the FAQ was added to the index.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The unique identifier of the FAQ.</p>",
          "shape": "FaqId"
        },
        "Name": {
          "documentation": "<p>The name that you assigned the FAQ when you created or updated the FAQ.</p>",
          "shape": "FaqName"
        },
        "Status": {
          "documentation": "<p>The current status of the FAQ. When the status is <code>ACTIVE</code> the FAQ is ready for use.</p>",
          "shape": "FaqStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>The UNIX datetime that the FAQ was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "FaqSummaryItems": {
      "member": {
        "shape": "FaqSummary"
      },
      "type": "list"
    },
    "Highlight": {
      "documentation": "<p>Provides information that you can use to highlight a search result so that your users can quickly identify terms in the response.</p>",
      "members": {
        "BeginOffset": {
          "documentation": "<p>The zero-based location in the response string where the highlight starts.</p>",
          "shape": "Integer"
        },
        "EndOffset": {
          "documentation": "<p>The zero-based location in the response string where the highlight ends.</p>",
          "shape": "Integer"
        },
        "TopAnswer": {
          "documentation": "<p>Indicates whether the response is the best response. True if this is the best response; otherwise, false.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "BeginOffset",
        "EndOffset"
      ],
      "type": "structure"
    },
    "HighlightList": {
      "member": {
        "shape": "Highlight"
      },
      "type": "list"
    },
    "Importance": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "IndexConfigurationSummary": {
      "documentation": "<p>A summary of information about an index.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The Unix timestamp when the index was created.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>A unique identifier for the index. Use this to identify the index when you are using operations such as <code>Query</code>, <code>DescribeIndex</code>, <code>UpdateIndex</code>, and <code>DeleteIndex</code>.</p>",
          "shape": "IndexId"
        },
        "Name": {
          "documentation": "<p>The name of the index.</p>",
          "shape": "IndexName"
        },
        "Status": {
          "documentation": "<p>The current status of the index. When the status is <code>ACTIVE</code>, the index is ready to search.</p>",
          "shape": "IndexStatus"
        },
        "UpdatedAt": {
          "documentation": "<p>The Unix timestamp when the index was last updated by the <code>UpdateIndex</code> operation.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "CreatedAt",
        "UpdatedAt",
        "Status"
      ],
      "type": "structure"
    },
    "IndexConfigurationSummaryList": {
      "member": {
        "shape": "IndexConfigurationSummary"
      },
      "type": "list"
    },
    "IndexFieldName": {
      "max": 30,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "IndexId": {
      "max": 36,
      "min": 36,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9-]*",
      "type": "string"
    },
    "IndexName": {
      "max": 1000,
      "min": 1,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "IndexStatistics": {
      "documentation": "<p>Provides information about the number of documents and the number of questions and answers in an index.</p>",
      "members": {
        "FaqStatistics": {
          "documentation": "<p>The number of question and answer topics in the index.</p>",
          "shape": "FaqStatistics"
        },
        "TextDocumentStatistics": {
          "documentation": "<p>The number of text documents indexed.</p>",
          "shape": "TextDocumentStatistics"
        }
      },
      "required": [
        "FaqStatistics",
        "TextDocumentStatistics"
      ],
      "type": "structure"
    },
    "IndexStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "SYSTEM_UPDATING"
      ],
      "type": "string"
    },
    "IndexedQuestionAnswersCount": {
      "min": 0,
      "type": "integer"
    },
    "IndexedTextDocumentsCount": {
      "min": 0,
      "type": "integer"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p/>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KmsKeyId": {
      "max": 2048,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "ListDataSourceSyncJobsRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the data source.</p>",
          "shape": "DataSourceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the data source.</p>",
          "shape": "IndexId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of synchronization jobs to return in the response. If there are fewer results in the list, this response contains only the actual results.</p>",
          "shape": "MaxResultsIntegerForListDataSourceSyncJobsRequest"
        },
        "NextToken": {
          "documentation": "<p>If the result of the previous request to <code>GetDataSourceSyncJobHistory</code> was truncated, include the <code>NextToken</code> to fetch the next set of jobs.</p>",
          "shape": "NextToken"
        },
        "StartTimeFilter": {
          "documentation": "<p>When specified, the synchronization jobs returned in the list are limited to jobs between the specified dates. </p>",
          "shape": "TimeRange"
        },
        "StatusFilter": {
          "documentation": "<p>When specified, only returns synchronization jobs with the <code>Status</code> field equal to the specified status.</p>",
          "shape": "DataSourceSyncJobStatus"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "ListDataSourceSyncJobsResponse": {
      "members": {
        "History": {
          "documentation": "<p>A history of synchronization jobs for the data source.</p>",
          "shape": "DataSourceSyncJobHistoryList"
        },
        "NextToken": {
          "documentation": "<p>The <code>GetDataSourceSyncJobHistory</code> operation returns a page of vocabularies at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Kendra returns the NextPage token. Include the token in the next request to the <code>GetDataSourceSyncJobHistory</code> operation to return in the next page of jobs.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDataSourcesRequest": {
      "members": {
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the data source.</p>",
          "shape": "IndexId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of data sources to return.</p>",
          "shape": "MaxResultsIntegerForListDataSourcesRequest"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more data to retrieve), Amazon Kendra returns a pagination token in the response. You can use this pagination token to retrieve the next set of data sources (<code>DataSourceSummaryItems</code>). </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "IndexId"
      ],
      "type": "structure"
    },
    "ListDataSourcesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If the response is truncated, Amazon Kendra returns this token that you can use in the subsequent request to retrieve the next set of data sources. </p>",
          "shape": "NextToken"
        },
        "SummaryItems": {
          "documentation": "<p>An array of summary information for one or more data sources.</p>",
          "shape": "DataSourceSummaryList"
        }
      },
      "type": "structure"
    },
    "ListFaqsRequest": {
      "members": {
        "IndexId": {
          "documentation": "<p>The index that contains the FAQ lists.</p>",
          "shape": "IndexId"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of FAQs to return in the response. If there are fewer results in the list, this response contains only the actual results.</p>",
          "shape": "MaxResultsIntegerForListFaqsRequest"
        },
        "NextToken": {
          "documentation": "<p>If the result of the previous request to <code>ListFaqs</code> was truncated, include the <code>NextToken</code> to fetch the next set of FAQs.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "IndexId"
      ],
      "type": "structure"
    },
    "ListFaqsResponse": {
      "members": {
        "FaqSummaryItems": {
          "documentation": "<p>information about the FAQs associated with the specified index.</p>",
          "shape": "FaqSummaryItems"
        },
        "NextToken": {
          "documentation": "<p>The <code>ListFaqs</code> operation returns a page of FAQs at a time. The maximum size of the page is set by the <code>MaxResults</code> parameter. If there are more jobs in the list than the page size, Amazon Kendra returns the <code>NextPage</code> token. Include the token in the next request to the <code>ListFaqs</code> operation to return the next page of FAQs.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListIndicesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of data sources to return.</p>",
          "shape": "MaxResultsIntegerForListIndicesRequest"
        },
        "NextToken": {
          "documentation": "<p>If the previous response was incomplete (because there is more data to retrieve), Amazon Kendra returns a pagination token in the response. You can use this pagination token to retrieve the next set of indexes (<code>DataSourceSummaryItems</code>). </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListIndicesResponse": {
      "members": {
        "IndexConfigurationSummaryItems": {
          "documentation": "<p>An array of summary information for one or more indexes.</p>",
          "shape": "IndexConfigurationSummaryList"
        },
        "NextToken": {
          "documentation": "<p>If the response is truncated, Amazon Kendra returns this token that you can use in the subsequent request to retrieve the next set of indexes.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "Long": {
      "type": "long"
    },
    "MaxResultsIntegerForListDataSourceSyncJobsRequest": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "MaxResultsIntegerForListDataSourcesRequest": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxResultsIntegerForListFaqsRequest": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MaxResultsIntegerForListIndicesRequest": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "max": 800,
      "min": 1,
      "type": "string"
    },
    "Order": {
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ],
      "type": "string"
    },
    "Principal": {
      "documentation": "<p>Provides user and group information for document access filtering.</p>",
      "members": {
        "Access": {
          "documentation": "<p>Whether to allow or deny access to the principal.</p>",
          "shape": "ReadAccessType"
        },
        "Name": {
          "documentation": "<p>The name of the user or group.</p>",
          "shape": "PrincipalName"
        },
        "Type": {
          "documentation": "<p>The type of principal.</p>",
          "shape": "PrincipalType"
        }
      },
      "required": [
        "Name",
        "Type",
        "Access"
      ],
      "type": "structure"
    },
    "PrincipalList": {
      "max": 200,
      "member": {
        "shape": "Principal"
      },
      "min": 1,
      "type": "list"
    },
    "PrincipalName": {
      "max": 200,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "PrincipalType": {
      "enum": [
        "USER",
        "GROUP"
      ],
      "type": "string"
    },
    "QueryId": {
      "max": 36,
      "min": 1,
      "type": "string"
    },
    "QueryRequest": {
      "members": {
        "AttributeFilter": {
          "documentation": "<p>Enables filtered searches based on document attributes. You can only provide one attribute filter; however, the <code>AndAllFilters</code>, <code>NotFilter</code>, and <code>OrAllFilters</code> parameters contain a list of other filters.</p> <p>The <code>AttributeFilter</code> parameter enables you to create a set of filtering rules that a document must satisfy to be included in the query results.</p>",
          "shape": "AttributeFilter"
        },
        "Facets": {
          "documentation": "<p>An array of documents attributes. Amazon Kendra returns a count for each attribute key specified. You can use this information to help narrow the search for your user.</p>",
          "shape": "FacetList"
        },
        "IndexId": {
          "documentation": "<p>The unique identifier of the index to search. The identifier is returned in the response from the operation.</p>",
          "shape": "IndexId"
        },
        "PageNumber": {
          "documentation": "<p>Query results are returned in pages the size of the <code>PageSize</code> parameter. By default, Amazon Kendra returns the first page of results. Use this parameter to get result pages after the first one.</p>",
          "shape": "Integer"
        },
        "PageSize": {
          "documentation": "<p>Sets the number of results that are returned in each page of results. The default page size is 100.</p>",
          "shape": "Integer"
        },
        "QueryResultTypeFilter": {
          "documentation": "<p>Sets the type of query. Only results for the specified query type are returned.</p>",
          "shape": "QueryResultType"
        },
        "QueryText": {
          "documentation": "<p>The text to search for.</p>",
          "shape": "QueryText"
        },
        "RequestedDocumentAttributes": {
          "documentation": "<p>An array of document attributes to include in the response. No other document attributes are included in the response. By default all document attributes are included in the response. </p>",
          "shape": "DocumentAttributeKeyList"
        }
      },
      "required": [
        "IndexId",
        "QueryText"
      ],
      "type": "structure"
    },
    "QueryResult": {
      "members": {
        "FacetResults": {
          "documentation": "<p>Contains the facet results. A <code>FacetResult</code> contains the counts for each attribute key that was specified in the <code>Facets</code> input parameter.</p>",
          "shape": "FacetResultList"
        },
        "QueryId": {
          "documentation": "<p>The unique identifier for the search. You use <code>QueryId</code> to identify the search when using the feedback API.</p>",
          "shape": "QueryId"
        },
        "ResultItems": {
          "documentation": "<p>The results of the search.</p>",
          "shape": "QueryResultItemList"
        },
        "TotalNumberOfResults": {
          "documentation": "<p>The number of items returned by the search. Use this to determine when you have requested the last set of results.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "QueryResultItem": {
      "documentation": "<p>A single query result.</p> <p>A query result contains information about a document returned by the query. This includes the original location of the document, a list of attributes assigned to the document, and relevant text from the document that satisfies the query.</p>",
      "members": {
        "AdditionalAttributes": {
          "documentation": "<p/>",
          "shape": "AdditionalResultAttributeList"
        },
        "DocumentAttributes": {
          "documentation": "<p>An array of document attributes for the document that the query result maps to. For example, the document author (Author) or the source URI (SourceUri) of the document.</p>",
          "shape": "DocumentAttributeList"
        },
        "DocumentExcerpt": {
          "documentation": "<p>An extract of the text in the document. Contains information about highlighting the relevant terms in the excerpt.</p>",
          "shape": "TextWithHighlights"
        },
        "DocumentId": {
          "documentation": "<p>The unique identifier for the document.</p>",
          "shape": "DocumentId"
        },
        "DocumentTitle": {
          "documentation": "<p>The title of the document. Contains the text of the title and information for highlighting the relevant terms in the title.</p>",
          "shape": "TextWithHighlights"
        },
        "DocumentURI": {
          "documentation": "<p>The URI of the original location of the document.</p>",
          "shape": "Url"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the query result.</p>",
          "shape": "ResultId"
        },
        "Type": {
          "documentation": "<p>The type of document. </p>",
          "shape": "QueryResultType"
        }
      },
      "type": "structure"
    },
    "QueryResultItemList": {
      "member": {
        "shape": "QueryResultItem"
      },
      "type": "list"
    },
    "QueryResultType": {
      "enum": [
        "DOCUMENT",
        "QUESTION_ANSWER",
        "ANSWER"
      ],
      "type": "string"
    },
    "QueryText": {
      "max": 1000,
      "min": 1,
      "pattern": "^\\P{C}*$",
      "type": "string"
    },
    "ReadAccessType": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "Relevance": {
      "documentation": "<p>Provides information for manually tuning the relevance of a field in a search. When a query includes terms that match the field, the results are given a boost in the response based on these tuning parameters.</p>",
      "members": {
        "Duration": {
          "documentation": "<p>Specifies the time period that the boost applies to. For example, to make the boost apply to documents with the field value within the last month, you would use \"2628000s\". Once the field value is beyond the specified range, the effect of the boost drops off. The higher the importance, the faster the effect drops off. If you don't specify a value, the default is 3 months. The value of the field is a numeric string followed by the character \"s\", for example \"86400s\" for one day, or \"604800s\" for one week. </p> <p>Only applies to <code>DATE</code> fields.</p>",
          "shape": "Duration"
        },
        "Freshness": {
          "documentation": "<p>Indicates that this field determines how \"fresh\" a document is. For example, if document 1 was created on November 5, and document 2 was created on October 31, document 1 is \"fresher\" than document 2. You can only set the <code>Freshness</code> field on one <code>DATE</code> type field. Only applies to <code>DATE</code> fields.</p>",
          "shape": "DocumentMetadataBoolean"
        },
        "Importance": {
          "documentation": "<p>The relative importance of the field in the search. Larger numbers provide more of a boost than smaller numbers.</p>",
          "shape": "Importance"
        },
        "RankOrder": {
          "documentation": "<p>Determines how values should be interpreted.</p> <p>When the <code>RankOrder</code> field is <code>ASCENDING</code>, higher numbers are better. For example, a document with a rating score of 10 is higher ranking than a document with a rating score of 1.</p> <p>When the <code>RankOrder</code> field is <code>DESCENDING</code>, lower numbers are better. For example, in a task tracking application, a priority 1 task is more important than a priority 5 task.</p> <p>Only applies to <code>LONG</code> and <code>DOUBLE</code> fields.</p>",
          "shape": "Order"
        },
        "ValueImportanceMap": {
          "documentation": "<p>A list of values that should be given a different boost when they appear in the result list. For example, if you are boosting a field called \"department,\" query terms that match the department field are boosted in the result. However, you can add entries from the department field to boost documents with those values higher. </p> <p>For example, you can add entries to the map with names of departments. If you add \"HR\",5 and \"Legal\",3 those departments are given special attention when they appear in the metadata of a document. When those terms appear they are given the specified importance instead of the regular importance for the boost.</p>",
          "shape": "ValueImportanceMap"
        }
      },
      "type": "structure"
    },
    "RelevanceFeedback": {
      "documentation": "<p>Provides feedback on how relevant a document is to a search. Your application uses the <a>SubmitFeedback</a> operation to provide relevance information.</p>",
      "members": {
        "RelevanceValue": {
          "documentation": "<p>Whether to document was relevant or not relevant to the search.</p>",
          "shape": "RelevanceType"
        },
        "ResultId": {
          "documentation": "<p>The unique identifier of the search result that the user provided relevance feedback for.</p>",
          "shape": "ResultId"
        }
      },
      "required": [
        "ResultId",
        "RelevanceValue"
      ],
      "type": "structure"
    },
    "RelevanceFeedbackList": {
      "member": {
        "shape": "RelevanceFeedback"
      },
      "type": "list"
    },
    "RelevanceType": {
      "enum": [
        "RELEVANT",
        "NOT_RELEVANT"
      ],
      "type": "string"
    },
    "ResourceAlreadyExistException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceInUseException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceUnavailableException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ResultId": {
      "max": 73,
      "min": 1,
      "type": "string"
    },
    "RoleArn": {
      "max": 1284,
      "min": 1,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "S3BucketName": {
      "max": 63,
      "min": 3,
      "pattern": "[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9]",
      "type": "string"
    },
    "S3DataSourceConfiguration": {
      "documentation": "<p>Provides configuration information for a data source to index documents in an Amazon S3 bucket.</p>",
      "members": {
        "AccessControlListConfiguration": {
          "documentation": "<p>Provides the path to the S3 bucket that contains the user context filtering files for the data source.</p>",
          "shape": "AccessControlListConfiguration"
        },
        "BucketName": {
          "documentation": "<p>The name of the bucket that contains the documents.</p>",
          "shape": "S3BucketName"
        },
        "DocumentsMetadataConfiguration": {
          "shape": "DocumentsMetadataConfiguration"
        },
        "ExclusionPatterns": {
          "documentation": "<p>A list of glob patterns for documents that should not be indexed. If a document that matches an inclusion prefix also matches an exclusion pattern, the document is not indexed.</p> <p>For more information about glob patterns, see <a href=\"http://wikipedia.org/wiki/Glob_%28programming%29\">glob (programming)</a> in <i>Wikipedia</i>.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "InclusionPrefixes": {
          "documentation": "<p>A list of S3 prefixes for the documents that should be included in the index.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        }
      },
      "required": [
        "BucketName"
      ],
      "type": "structure"
    },
    "S3ObjectKey": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "S3Path": {
      "documentation": "<p>Information required to find a specific file in an Amazon S3 bucket.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The name of the S3 bucket that contains the file.</p>",
          "shape": "S3BucketName"
        },
        "Key": {
          "documentation": "<p>The name of the file.</p>",
          "shape": "S3ObjectKey"
        }
      },
      "required": [
        "Bucket",
        "Key"
      ],
      "type": "structure"
    },
    "ScanSchedule": {
      "type": "string"
    },
    "Search": {
      "documentation": "<p>Provides information about how a custom index field is used during a search.</p>",
      "members": {
        "Displayable": {
          "documentation": "<p>Determines whether the field is returned in the query response. The default is <code>true</code>.</p>",
          "shape": "Boolean"
        },
        "Facetable": {
          "documentation": "<p>Indicates that the field can be used to create search facets, a count of results for each value in the field. The default is <code>false</code> .</p>",
          "shape": "Boolean"
        },
        "Searchable": {
          "documentation": "<p>Determines whether the field is used in the search. If the <code>Searchable</code> field is <code>true</code>, you can use relevance tuning to manually tune how Amazon Kendra weights the field in the search. The default is <code>true</code> for string fields and <code>false</code> for number and date fields.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "SecretArn": {
      "max": 1284,
      "min": 1,
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "SecurityGroupIdList": {
      "max": 10,
      "member": {
        "shape": "VpcSecurityGroupId"
      },
      "min": 1,
      "type": "list"
    },
    "ServerSideEncryptionConfiguration": {
      "documentation": "<p>Provides the identifier of the AWS KMS customer master key (CMK) used to encrypt data indexed by Amazon Kendra. Amazon Kendra doesn't support asymmetric CMKs.</p>",
      "members": {
        "KmsKeyId": {
          "documentation": "<p>The identifier of the AWS KMS customer master key (CMK). Amazon Kendra doesn't support asymmetric CMKs.</p>",
          "shape": "KmsKeyId"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "SharePointConfiguration": {
      "documentation": "<p>Provides configuration information for connecting to a Microsoft SharePoint data source.</p>",
      "members": {
        "CrawlAttachments": {
          "documentation": "<p> <code>TRUE</code> to include attachments to documents stored in your Microsoft SharePoint site in the index; otherwise, <code>FALSE</code>.</p>",
          "shape": "Boolean"
        },
        "DocumentTitleFieldName": {
          "documentation": "<p>The Microsoft SharePoint attribute field that contains the title of the document.</p>",
          "shape": "DataSourceFieldName"
        },
        "ExclusionPatterns": {
          "documentation": "<p>A list of regular expression patterns. Documents that match the patterns are excluded from the index. Documents that don't match the patterns are included in the index. If a document matches both an exclusion pattern and an inclusion pattern, the document is not included in the index.</p> <p>The regex is applied to the display URL of the SharePoint document.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "FieldMappings": {
          "documentation": "<p>A list of <code>DataSourceToIndexFieldMapping</code> objects that map Microsoft SharePoint attributes to custom fields in the Amazon Kendra index. You must first create the index fields using the operation before you map SharePoint attributes. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/field-mapping.html\">Mapping Data Source Fields</a>.</p>",
          "shape": "DataSourceToIndexFieldMappingList"
        },
        "InclusionPatterns": {
          "documentation": "<p>A list of regular expression patterns. Documents that match the patterns are included in the index. Documents that don't match the patterns are excluded from the index. If a document matches both an inclusion pattern and an exclusion pattern, the document is not included in the index.</p> <p>The regex is applied to the display URL of the SharePoint document.</p>",
          "shape": "DataSourceInclusionsExclusionsStrings"
        },
        "SecretArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of credentials stored in AWS Secrets Manager. The credentials should be a user/password pair. For more information, see <a href=\"https://docs.aws.amazon.com/kendra/latest/dg/data-source-sharepoint.html\">Using a Microsoft SharePoint Data Source</a>. For more information about AWS Secrets Manager, see <a href=\"https://docs.aws.amazon.com/secretsmanager/latest/userguide/intro.html\"> What Is AWS Secrets Manager </a> in the <i>AWS Secrets Manager</i> user guide.</p>",
          "shape": "SecretArn"
        },
        "SharePointVersion": {
          "documentation": "<p>The version of Microsoft SharePoint that you are using as a data source.</p>",
          "shape": "SharePointVersion"
        },
        "Urls": {
          "documentation": "<p>The URLs of the Microsoft SharePoint site that contains the documents that should be indexed.</p>",
          "shape": "SharePointUrlList"
        },
        "UseChangeLog": {
          "documentation": "<p>Set to <code>TRUE</code> to use the Microsoft SharePoint change log to determine the documents that need to be updated in the index. Depending on the size of the SharePoint change log, it may take longer for Amazon Kendra to use the change log than it takes it to determine the changed documents using the Amazon Kendra document crawler.</p>",
          "shape": "Boolean"
        },
        "VpcConfiguration": {
          "shape": "DataSourceVpcConfiguration"
        }
      },
      "required": [
        "SharePointVersion",
        "Urls",
        "SecretArn"
      ],
      "type": "structure"
    },
    "SharePointUrlList": {
      "max": 100,
      "member": {
        "shape": "Url"
      },
      "min": 1,
      "type": "list"
    },
    "SharePointVersion": {
      "enum": [
        "SHAREPOINT_ONLINE"
      ],
      "type": "string"
    },
    "StartDataSourceSyncJobRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the data source to synchronize.</p>",
          "shape": "DataSourceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the data source.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "StartDataSourceSyncJobResponse": {
      "members": {
        "ExecutionId": {
          "documentation": "<p>Identifies a particular synchronization job.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "StopDataSourceSyncJobRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The identifier of the data source for which to stop the synchronization jobs.</p>",
          "shape": "DataSourceId"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that contains the data source.</p>",
          "shape": "IndexId"
        }
      },
      "required": [
        "Id",
        "IndexId"
      ],
      "type": "structure"
    },
    "String": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "SubmitFeedbackRequest": {
      "members": {
        "ClickFeedbackItems": {
          "documentation": "<p>Tells Amazon Kendra that a particular search result link was chosen by the user. </p>",
          "shape": "ClickFeedbackList"
        },
        "IndexId": {
          "documentation": "<p>The identifier of the index that was queried.</p>",
          "shape": "IndexId"
        },
        "QueryId": {
          "documentation": "<p>The identifier of the specific query for which you are submitting feedback. The query ID is returned in the response to the operation.</p>",
          "shape": "QueryId"
        },
        "RelevanceFeedbackItems": {
          "documentation": "<p>Provides Amazon Kendra with relevant or not relevant feedback for whether a particular item was relevant to the search.</p>",
          "shape": "RelevanceFeedbackList"
        }
      },
      "required": [
        "IndexId",
        "QueryId"
      ],
      "type": "structure"
    },
    "SubnetId": {
      "max": 200,
      "min": 1,
      "pattern": "[\\-0-9a-zA-Z]+",
      "type": "string"
    },
    "SubnetIdList": {
      "max": 6,
      "member": {
        "shape": "SubnetId"
      },
      "min": 1,
      "type": "list"
    },
    "TableName": {
      "max": 100,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "TextDocumentStatistics": {
      "documentation": "<p>Provides information about text documents indexed in an index.</p>",
      "members": {
        "IndexedTextDocumentsCount": {
          "documentation": "<p>The number of text documents indexed.</p>",
          "shape": "IndexedTextDocumentsCount"
        }
      },
      "required": [
        "IndexedTextDocumentsCount"
      ],
      "type": "structure"
    },
    "TextWithHighlights": {
      "documentation": "<p>Provides text and information about where to highlight the text.</p>",
      "members": {
        "Highlights": {
          "documentation": "<p>The beginning and end of the text that should be highlighted.</p>",
          "shape": "HighlightList"
        },
        "Text": {
          "documentation": "<p>The text to display to the user.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ThrottlingException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
[...]
