{
  "documentation": "<fullname>AWS DataSync</fullname> <p>AWS DataSync is a managed data transfer service that makes it simpler for you to automate moving data between on-premises storage and Amazon Simple Storage Service (Amazon S3) or Amazon Elastic File System (Amazon EFS). </p> <p>This API interface reference for AWS DataSync contains documentation for a programming interface that you can use to manage AWS DataSync.</p>",
  "metadata": {
    "apiVersion": "2018-11-09",
    "endpointPrefix": "datasync",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "DataSync",
    "serviceFullName": "AWS DataSync",
    "serviceId": "DataSync",
    "signatureVersion": "v4",
    "signingName": "datasync",
    "targetPrefix": "FmrsService",
    "uid": "datasync-2018-11-09"
  },
  "operations": {
    "CancelTaskExecution": {
      "documentation": "<p>Cancels execution of a task. </p> <p>When you cancel a task execution, the transfer of some files are abruptly interrupted. The contents of files that are transferred to the destination might be incomplete or inconsistent with the source files. However, if you start a new task execution on the same task and you allow the task execution to complete, file content on the destination is complete and consistent. This applies to other unexpected failures that interrupt a task execution. In all of these cases, AWS DataSync successfully complete the transfer when you start the next task execution.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelTaskExecutionRequest"
      },
      "name": "CancelTaskExecution",
      "output": {
        "shape": "CancelTaskExecutionResponse"
      }
    },
    "CreateAgent": {
      "documentation": "<p>Activates an AWS DataSync agent that you have deployed on your host. The activation process associates your agent with your account. In the activation process, you specify information such as the AWS Region that you want to activate the agent in. You activate the agent in the AWS Region where your target locations (in Amazon S3 or Amazon EFS) reside. Your tasks are created in this AWS Region.</p> <p>You can activate the agent in a VPC (Virtual private Cloud) or provide the agent access to a VPC endpoint so you can run tasks without going over the public Internet.</p> <p>You can use an agent for more than one location. If a task uses multiple agents, all of them need to have status AVAILABLE for the task to run. If you use multiple agents for a source location, the status of all the agents must be AVAILABLE for the task to run. </p> <p>Agents are automatically updated by AWS on a regular basis, using a mechanism that ensures minimal interruption to your tasks.</p> <p/>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAgentRequest"
      },
      "name": "CreateAgent",
      "output": {
        "shape": "CreateAgentResponse"
      }
    },
    "CreateLocationEfs": {
      "documentation": "<p>Creates an endpoint for an Amazon EFS file system.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocationEfsRequest"
      },
      "name": "CreateLocationEfs",
      "output": {
        "shape": "CreateLocationEfsResponse"
      }
    },
    "CreateLocationFsxWindows": {
      "documentation": "<p>Creates an endpoint for an Amazon FSx for Windows file system.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocationFsxWindowsRequest"
      },
      "name": "CreateLocationFsxWindows",
      "output": {
        "shape": "CreateLocationFsxWindowsResponse"
      }
    },
    "CreateLocationNfs": {
      "documentation": "<p>Defines a file system on a Network File System (NFS) server that can be read from or written to</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocationNfsRequest"
      },
      "name": "CreateLocationNfs",
      "output": {
        "shape": "CreateLocationNfsResponse"
      }
    },
    "CreateLocationS3": {
      "documentation": "<p>Creates an endpoint for an Amazon S3 bucket.</p> <p>For AWS DataSync to access a destination S3 bucket, it needs an AWS Identity and Access Management (IAM) role that has the required permissions. You can set up the required permissions by creating an IAM policy that grants the required permissions and attaching the policy to the role. An example of such a policy is shown in the examples section.</p> <p>For more information, see https://docs.aws.amazon.com/datasync/latest/userguide/working-with-locations.html#create-s3-location in the <i>AWS DataSync User Guide.</i> </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocationS3Request"
      },
      "name": "CreateLocationS3",
      "output": {
        "shape": "CreateLocationS3Response"
      }
    },
    "CreateLocationSmb": {
      "documentation": "<p>Defines a file system on an Server Message Block (SMB) server that can be read from or written to.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLocationSmbRequest"
      },
      "name": "CreateLocationSmb",
      "output": {
        "shape": "CreateLocationSmbResponse"
      }
    },
    "CreateTask": {
      "documentation": "<p>Creates a task. A task is a set of two locations (source and destination) and a set of Options that you use to control the behavior of a task. If you don't specify Options when you create a task, AWS DataSync populates them with service defaults.</p> <p>When you create a task, it first enters the CREATING state. During CREATING AWS DataSync attempts to mount the on-premises Network File System (NFS) location. The task transitions to the AVAILABLE state without waiting for the AWS location to become mounted. If required, AWS DataSync mounts the AWS location before each task execution.</p> <p>If an agent that is associated with a source (NFS) location goes offline, the task transitions to the UNAVAILABLE status. If the status of the task remains in the CREATING status for more than a few minutes, it means that your agent might be having trouble mounting the source NFS file system. Check the task's ErrorCode and ErrorDetail. Mount issues are often caused by either a misconfigured firewall or a mistyped NFS server host name.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTaskRequest"
      },
      "name": "CreateTask",
      "output": {
        "shape": "CreateTaskResponse"
      }
    },
    "DeleteAgent": {
      "documentation": "<p>Deletes an agent. To specify which agent to delete, use the Amazon Resource Name (ARN) of the agent in your request. The operation disassociates the agent from your AWS account. However, it doesn't delete the agent virtual machine (VM) from your on-premises environment.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAgentRequest"
      },
      "name": "DeleteAgent",
      "output": {
        "shape": "DeleteAgentResponse"
      }
    },
    "DeleteLocation": {
      "documentation": "<p>Deletes the configuration of a location used by AWS DataSync. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLocationRequest"
      },
      "name": "DeleteLocation",
      "output": {
        "shape": "DeleteLocationResponse"
      }
    },
    "DeleteTask": {
      "documentation": "<p>Deletes a task.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTaskRequest"
      },
      "name": "DeleteTask",
      "output": {
        "shape": "DeleteTaskResponse"
      }
    },
    "DescribeAgent": {
      "documentation": "<p>Returns metadata such as the name, the network interfaces, and the status (that is, whether the agent is running or not) for an agent. To specify which agent to describe, use the Amazon Resource Name (ARN) of the agent in your request. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAgentRequest"
      },
      "name": "DescribeAgent",
      "output": {
        "shape": "DescribeAgentResponse"
      }
    },
    "DescribeLocationEfs": {
      "documentation": "<p>Returns metadata, such as the path information about an Amazon EFS location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocationEfsRequest"
      },
      "name": "DescribeLocationEfs",
      "output": {
        "shape": "DescribeLocationEfsResponse"
      }
    },
    "DescribeLocationFsxWindows": {
      "documentation": "<p>Returns metadata, such as the path information about an Amazon FSx for Windows location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocationFsxWindowsRequest"
      },
      "name": "DescribeLocationFsxWindows",
      "output": {
        "shape": "DescribeLocationFsxWindowsResponse"
      }
    },
    "DescribeLocationNfs": {
      "documentation": "<p>Returns metadata, such as the path information, about a NFS location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocationNfsRequest"
      },
      "name": "DescribeLocationNfs",
      "output": {
        "shape": "DescribeLocationNfsResponse"
      }
    },
    "DescribeLocationS3": {
      "documentation": "<p>Returns metadata, such as bucket name, about an Amazon S3 bucket location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocationS3Request"
      },
      "name": "DescribeLocationS3",
      "output": {
        "shape": "DescribeLocationS3Response"
      }
    },
    "DescribeLocationSmb": {
      "documentation": "<p>Returns metadata, such as the path and user information about a SMB location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLocationSmbRequest"
      },
      "name": "DescribeLocationSmb",
      "output": {
        "shape": "DescribeLocationSmbResponse"
      }
    },
    "DescribeTask": {
      "documentation": "<p>Returns metadata about a task.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTaskRequest"
      },
      "name": "DescribeTask",
      "output": {
        "shape": "DescribeTaskResponse"
      }
    },
    "DescribeTaskExecution": {
      "documentation": "<p>Returns detailed metadata about a task that is being executed.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTaskExecutionRequest"
      },
      "name": "DescribeTaskExecution",
      "output": {
        "shape": "DescribeTaskExecutionResponse"
      }
    },
    "ListAgents": {
      "documentation": "<p>Returns a list of agents owned by an AWS account in the AWS Region specified in the request. The returned list is ordered by agent Amazon Resource Name (ARN).</p> <p>By default, this operation returns a maximum of 100 agents. This operation supports pagination that enables you to optionally reduce the number of agents returned in a response.</p> <p>If you have more agents than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a marker that you can specify in your next request to fetch the next page of agents.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAgentsRequest"
      },
      "name": "ListAgents",
      "output": {
        "shape": "ListAgentsResponse"
      }
    },
    "ListLocations": {
      "documentation": "<p>Returns a lists of source and destination locations.</p> <p>If you have more locations than are returned in a response (that is, the response returns only a truncated list of your agents), the response contains a token that you can specify in your next request to fetch the next page of locations.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLocationsRequest"
      },
      "name": "ListLocations",
      "output": {
        "shape": "ListLocationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns all the tags associated with a specified resources. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTaskExecutions": {
      "documentation": "<p>Returns a list of executed tasks.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTaskExecutionsRequest"
      },
      "name": "ListTaskExecutions",
      "output": {
        "shape": "ListTaskExecutionsResponse"
      }
    },
    "ListTasks": {
      "documentation": "<p>Returns a list of all the tasks.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTasksRequest"
      },
      "name": "ListTasks",
      "output": {
        "shape": "ListTasksResponse"
      }
    },
    "StartTaskExecution": {
      "documentation": "<p>Starts a specific invocation of a task. A <code>TaskExecution</code> value represents an individual run of a task. Each task can have at most one <code>TaskExecution</code> at a time.</p> <p> <code>TaskExecution</code> has the following transition phases: INITIALIZING | PREPARING | TRANSFERRING | VERIFYING | SUCCESS/FAILURE. </p> <p>For detailed information, see the Task Execution section in the Components and Terminology topic in the <i>AWS DataSync User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartTaskExecutionRequest"
      },
      "name": "StartTaskExecution",
      "output": {
        "shape": "StartTaskExecutionResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies a key-value pair to an AWS resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from an AWS resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAgent": {
      "documentation": "<p>Updates the name of an agent.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAgentRequest"
      },
      "name": "UpdateAgent",
      "output": {
        "shape": "UpdateAgentResponse"
      }
    },
    "UpdateTask": {
      "documentation": "<p>Updates the metadata associated with a task.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTaskRequest"
      },
      "name": "UpdateTask",
      "output": {
        "shape": "UpdateTaskResponse"
      }
    }
  },
  "shapes": {
    "ActivationKey": {
      "max": 29,
      "pattern": "[A-Z0-9]{5}(-[A-Z0-9]{5}){4}",
      "type": "string"
    },
    "AgentArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$",
      "type": "string"
    },
    "AgentArnList": {
      "max": 64,
      "member": {
        "shape": "AgentArn"
      },
      "min": 1,
      "type": "list"
    },
    "AgentList": {
      "member": {
        "shape": "AgentListEntry"
      },
      "type": "list"
    },
    "AgentListEntry": {
      "documentation": "<p>Represents a single entry in a list of agents. <code>AgentListEntry</code> returns an array that contains a list of agents when the <a>ListAgents</a> operation is called.</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>",
          "shape": "AgentArn"
        },
        "Name": {
          "documentation": "<p>The name of the agent.</p>",
          "shape": "TagValue"
        },
        "Status": {
          "documentation": "<p>The status of the agent.</p>",
          "shape": "AgentStatus"
        }
      },
      "type": "structure"
    },
    "AgentStatus": {
      "enum": [
        "ONLINE",
        "OFFLINE"
      ],
      "type": "string"
    },
    "Atime": {
      "enum": [
        "NONE",
        "BEST_EFFORT"
      ],
      "type": "string"
    },
    "BytesPerSecond": {
      "min": -1,
      "type": "long"
    },
    "CancelTaskExecutionRequest": {
      "documentation": "<p>CancelTaskExecutionRequest</p>",
      "members": {
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task execution to cancel.</p>",
          "shape": "TaskExecutionArn"
        }
      },
      "required": [
        "TaskExecutionArn"
      ],
      "type": "structure"
    },
    "CancelTaskExecutionResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateAgentRequest": {
      "documentation": "<p>CreateAgentRequest</p>",
      "members": {
        "ActivationKey": {
          "documentation": "<p>Your agent activation key. You can get the activation key either by sending an HTTP GET request with redirects that enable you to get the agent IP address (port 80). Alternatively, you can get it from the AWS DataSync console.</p> <p>The redirect URL returned in the response provides you the activation key for your agent in the query string parameter <code>activationKey</code>. It might also include other activation-related parameters; however, these are merely defaults. The arguments you pass to this API call determine the actual configuration of your agent.</p> <p>For more information, see Activating an Agent in the <i>AWS DataSync User Guide.</i> </p>",
          "shape": "ActivationKey"
        },
        "AgentName": {
          "documentation": "<p>The name you configured for your agent. This value is a text reference that is used to identify the agent in the console.</p>",
          "shape": "TagValue"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The ARNs of the security groups used to protect your data transfer task subnets. See <a>CreateAgentRequest$SubnetArns</a>.</p>",
          "shape": "PLSecurityGroupArnList"
        },
        "SubnetArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the subnets in which DataSync will create elastic network interfaces for each data transfer task. The agent that runs a task must be private. When you start a task that is associated with an agent created in a VPC, or one that has access to an IP address in a VPC, then the task is also private. In this case, DataSync creates four network interfaces for each task in your subnet. For a data transfer to work, the agent must be able to route to all these four network interfaces.</p>",
          "shape": "PLSubnetArnList"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to associate with the agent. The value can be an empty string. This value helps you manage, filter, and search for your agents.</p> <note> <p>Valid characters for key and value are letters, spaces, and numbers representable in UTF-8 format, and the following special characters: + - = . _ : / @. </p> </note>",
          "shape": "TagList"
        },
        "VpcEndpointId": {
          "documentation": "<p>The ID of the VPC (Virtual Private Cloud) endpoint that the agent has access to. This is the client-side VPC endpoint, also called a PrivateLink. If you don't have a PrivateLink VPC endpoint, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/endpoint-service.html#create-endpoint-service\">Creating a VPC Endpoint Service Configuration</a> in the AWS VPC User Guide.</p> <p>VPC endpoint ID looks like this: <code>vpce-01234d5aff67890e1</code>.</p>",
          "shape": "VpcEndpointId"
        }
      },
      "required": [
        "ActivationKey"
      ],
      "type": "structure"
    },
    "CreateAgentResponse": {
      "documentation": "<p>CreateAgentResponse</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent. Use the <code>ListAgents</code> operation to return a list of agents for your account and AWS Region.</p>",
          "shape": "AgentArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationEfsRequest": {
      "documentation": "<p>CreateLocationEfsRequest</p>",
      "members": {
        "Ec2Config": {
          "documentation": "<p>The subnet and security group that the Amazon EFS file system uses. The security group that you provide needs to be able to communicate with the security group on the mount target in the subnet specified.</p> <p>The exact relationship between security group M (of the mount target) and security group S (which you provide for DataSync to use at this stage) is as follows: </p> <ul> <li> <p> Security group M (which you associate with the mount target) must allow inbound access for the Transmission Control Protocol (TCP) on the NFS port (2049) from security group S. You can enable inbound connections either by IP address (CIDR range) or security group. </p> </li> <li> <p>Security group S (provided to DataSync to access EFS) should have a rule that enables outbound connections to the NFS port on one of the file system\u2019s mount targets. You can enable outbound connections either by IP address (CIDR range) or security group.</p> <p>For information about security groups and mount targets, see Security Groups for Amazon EC2 Instances and Mount Targets in the <i>Amazon EFS User Guide.</i> </p> </li> </ul>",
          "shape": "Ec2Config"
        },
        "EfsFilesystemArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the Amazon EFS file system.</p>",
          "shape": "EfsFilesystemArn"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the location\u2019s path. This subdirectory in the EFS file system is used to read data from the EFS source location or write data to the EFS destination. By default, AWS DataSync uses the root directory.</p> <note> <p> <code>Subdirectory</code> must be specified with forward slashes. For example <code>/path/to/folder</code>.</p> </note>",
          "shape": "EfsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "EfsFilesystemArn",
        "Ec2Config"
      ],
      "type": "structure"
    },
    "CreateLocationEfsResponse": {
      "documentation": "<p>CreateLocationEfs</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon EFS file system location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationFsxWindowsRequest": {
      "members": {
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the FSx for Windows server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "FsxFilesystemArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the FSx for Windows file system.</p>",
          "shape": "FsxFilesystemArn"
        },
        "Password": {
          "documentation": "<p>The password of the user who has the permissions to access files and folders in the FSx for Windows file system.</p>",
          "shape": "SmbPassword"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are to use to configure the FSx for Windows file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the location\u2019s path. This subdirectory in the Amazon FSx for Windows file system is used to read data from the Amazon FSx for Windows source location or write data to the FSx for Windows destination.</p>",
          "shape": "FsxWindowsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents a tag that you want to add to the resource. The value can be an empty string. This value helps you manage, filter, and search for your resources. We recommend that you create a name tag for your location.</p>",
          "shape": "TagList"
        },
        "User": {
          "documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows file system.</p>",
          "shape": "SmbUser"
        }
      },
      "required": [
        "FsxFilesystemArn",
        "SecurityGroupArns",
        "User",
        "Password"
      ],
      "type": "structure"
    },
    "CreateLocationFsxWindowsResponse": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows file system location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationNfsRequest": {
      "documentation": "<p>CreateLocationNfsRequest</p>",
      "members": {
        "MountOptions": {
          "documentation": "<p>The NFS mount options that DataSync can use to mount your NFS share.</p>",
          "shape": "NfsMountOptions"
        },
        "OnPremConfig": {
          "documentation": "<p>Contains a list of Amazon Resource Names (ARNs) of agents that are used to connect to an NFS server.</p>",
          "shape": "OnPremConfig"
        },
        "ServerHostname": {
          "documentation": "<p>The name of the NFS server. This value is the IP address or Domain Name Service (DNS) name of the NFS server. An agent that is installed on-premises uses this host name to mount the NFS server in a network. </p> <note> <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p> </note>",
          "shape": "ServerHostname"
        },
        "Subdirectory": {
          "documentation": "<p>The subdirectory in the NFS file system that is used to read data from the NFS source location or write data to the NFS destination. The NFS path should be a path that's exported by the NFS server, or a subdirectory of that path. The path should be such that it can be mounted by other NFS clients in your network. </p> <p>To see all the paths exported by your NFS server. run \"<code>showmount -e nfs-server-name</code>\" from an NFS client that has access to your server. You can specify any directory that appears in the results, and any subdirectory of that directory. Ensure that the NFS export is accessible without Kerberos authentication. </p> <p>To transfer all the data in the folder you specified, DataSync needs to have permissions to read all the data. To ensure this, either configure the NFS export with <code>no_root_squash,</code> or ensure that the permissions for all of the files that you want DataSync allow read access for all users. Doing either enables the agent to read the files. For the agent to access directories, you must additionally enable all execute access.</p> <p>For information about NFS export configuration, see 18.7. The /etc/exports Configuration File in the Red Hat Enterprise Linux documentation.</p>",
          "shape": "NfsSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Subdirectory",
        "ServerHostname",
        "OnPremConfig"
      ],
      "type": "structure"
    },
    "CreateLocationNfsResponse": {
      "documentation": "<p>CreateLocationNfsResponse</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source NFS file system location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationS3Request": {
      "documentation": "<p>CreateLocationS3Request</p>",
      "members": {
        "S3BucketArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket.</p>",
          "shape": "S3BucketArn"
        },
        "S3Config": {
          "shape": "S3Config"
        },
        "S3StorageClass": {
          "documentation": "<p>The Amazon S3 storage class that you want to store your files in when this location is used as a task destination. For more information about S3 storage classes, see <a href=\"https://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a> in the <i>Amazon Simple Storage Service Developer Guide</i>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a>using-storage-classes</a>.</p>",
          "shape": "S3StorageClass"
        },
        "Subdirectory": {
          "documentation": "<p>A subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to read data from the S3 source location or write data to the S3 destination.</p>",
          "shape": "S3Subdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "S3BucketArn",
        "S3Config"
      ],
      "type": "structure"
    },
    "CreateLocationS3Response": {
      "documentation": "<p>CreateLocationS3Response</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateLocationSmbRequest": {
      "documentation": "<p>CreateLocationSmbRequest</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of agents to use for a Simple Message Block (SMB) location. </p>",
          "shape": "AgentArnList"
        },
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "MountOptions": {
          "documentation": "<p>The mount options used by DataSync to access the SMB server.</p>",
          "shape": "SmbMountOptions"
        },
        "Password": {
          "documentation": "<p>The password of the user who can mount the share, has the permissions to access files and folders in the SMB share.</p>",
          "shape": "SmbPassword"
        },
        "ServerHostname": {
          "documentation": "<p>The name of the SMB server. This value is the IP address or Domain Name Service (DNS) name of the SMB server. An agent that is installed on-premises uses this hostname to mount the SMB server in a network.</p> <note> <p>This name must either be DNS-compliant or must be an IP version 4 (IPv4) address.</p> </note>",
          "shape": "ServerHostname"
        },
        "Subdirectory": {
          "documentation": "<p>The subdirectory in the SMB file system that is used to read data from the SMB source location or write data to the SMB destination. The SMB path should be a path that's exported by the SMB server, or a subdirectory of that path. The path should be such that it can be mounted by other SMB clients in your network.</p> <note> <p> <code>Subdirectory</code> must be specified with forward slashes. For example <code>/path/to/folder</code>.</p> </note> <p>To transfer all the data in the folder you specified, DataSync needs to have permissions to mount the SMB share, as well as to access all the data in that share. To ensure this, either ensure that the user/password specified belongs to the user who can mount the share, and who has the appropriate permissions for all of the files and directories that you want DataSync to access, or use credentials of a member of the Backup Operators group to mount the share. Doing either enables the agent to access the data. For the agent to access directories, you must additionally enable all execute access.</p>",
          "shape": "SmbSubdirectory"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the location. The value can be an empty string. We recommend using tags to name your resources.</p>",
          "shape": "TagList"
        },
        "User": {
          "documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the SMB share.</p>",
          "shape": "SmbUser"
        }
      },
      "required": [
        "Subdirectory",
        "ServerHostname",
        "User",
        "Password",
        "AgentArns"
      ],
      "type": "structure"
    },
    "CreateLocationSmbResponse": {
      "documentation": "<p>CreateLocationSmbResponse</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is created.</p>",
          "shape": "LocationArn"
        }
      },
      "type": "structure"
    },
    "CreateTaskRequest": {
      "documentation": "<p>CreateTaskRequest</p>",
      "members": {
        "CloudWatchLogGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to monitor and log events in the task. </p> <p>For more information on these groups, see Working with Log Groups and Log Streams in the <i>Amazon CloudWatch User Guide.</i> </p> <p>For more information about how to use CloudWatch Logs with DataSync, see Monitoring Your Task in the <i>AWS DataSync User Guide.</i> </p>",
          "shape": "LogGroupArn"
        },
        "DestinationLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an AWS storage resource's location. </p>",
          "shape": "LocationArn"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example, <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "Name": {
          "documentation": "<p>The name of a task. This value is a text reference that is used to identify the task in the console. </p>",
          "shape": "TagValue"
        },
        "Options": {
          "documentation": "<p>The set of configuration options that control the behavior of a single execution of the task that occurs when you call <code>StartTaskExecution</code>. You can configure these options to preserve metadata such as user ID (UID) and group ID (GID), file permissions, data integrity verification, and so on.</p> <p>For each individual task execution, you can override these options by specifying the <code>OverrideOptions</code> before starting a the task execution. For more information, see the operation. </p>",
          "shape": "Options"
        },
        "Schedule": {
          "documentation": "<p>Specifies a schedule used to periodically transfer files from a source to a destination location. The schedule should be specified in UTC time. For more information, see <a>task-scheduling</a>.</p>",
          "shape": "TaskSchedule"
        },
        "SourceLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source location for the task.</p>",
          "shape": "LocationArn"
        },
        "Tags": {
          "documentation": "<p>The key-value pair that represents the tag that you want to add to the resource. The value can be an empty string. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "SourceLocationArn",
        "DestinationLocationArn"
      ],
      "type": "structure"
    },
    "CreateTaskResponse": {
      "documentation": "<p>CreateTaskResponse</p>",
      "members": {
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>",
          "shape": "TaskArn"
        }
      },
      "type": "structure"
    },
    "DeleteAgentRequest": {
      "documentation": "<p>DeleteAgentRequest</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code> operation to return a list of agents for your account and AWS Region.</p>",
          "shape": "AgentArn"
        }
      },
      "required": [
        "AgentArn"
      ],
      "type": "structure"
    },
    "DeleteAgentResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteLocationRequest": {
      "documentation": "<p>DeleteLocation</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the location to delete.</p>",
          "shape": "LocationArn"
        }
      },
      "required": [
        "LocationArn"
      ],
      "type": "structure"
    },
    "DeleteLocationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteTaskRequest": {
      "documentation": "<p>DeleteTask</p>",
      "members": {
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task to delete.</p>",
          "shape": "TaskArn"
        }
      },
      "required": [
        "TaskArn"
      ],
      "type": "structure"
    },
    "DeleteTaskResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeAgentRequest": {
      "documentation": "<p>DescribeAgent</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent to describe.</p>",
          "shape": "AgentArn"
        }
      },
      "required": [
        "AgentArn"
      ],
      "type": "structure"
    },
    "DescribeAgentResponse": {
      "documentation": "<p>DescribeAgentResponse</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent.</p>",
          "shape": "AgentArn"
        },
        "CreationTime": {
          "documentation": "<p>The time that the agent was activated (that is, created in your account).</p>",
          "shape": "Time"
        },
        "EndpointType": {
          "documentation": "<p>The type of endpoint that your agent is connected to. If the endpoint is a VPC endpoint, the agent is not accessible over the public Internet. </p>",
          "shape": "EndpointType"
        },
        "LastConnectionTime": {
          "documentation": "<p>The time that the agent last connected to DataSyc.</p>",
          "shape": "Time"
        },
        "Name": {
          "documentation": "<p>The name of the agent.</p>",
          "shape": "TagValue"
        },
        "PrivateLinkConfig": {
          "documentation": "<p>The subnet and the security group that DataSync used to access a VPC endpoint.</p>",
          "shape": "PrivateLinkConfig"
        },
        "Status": {
          "documentation": "<p>The status of the agent. If the status is ONLINE, then the agent is configured properly and is available to use. The Running status is the normal running status for an agent. If the status is OFFLINE, the agent's VM is turned off or the agent is in an unhealthy state. When the issue that caused the unhealthy state is resolved, the agent returns to ONLINE status.</p>",
          "shape": "AgentStatus"
        }
      },
      "type": "structure"
    },
    "DescribeLocationEfsRequest": {
      "documentation": "<p>DescribeLocationEfsRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the EFS location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": [
        "LocationArn"
      ],
      "type": "structure"
    },
    "DescribeLocationEfsResponse": {
      "documentation": "<p>DescribeLocationEfsResponse</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the EFS location was created.</p>",
          "shape": "Time"
        },
        "Ec2Config": {
          "shape": "Ec2Config"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon resource Name (ARN) of the EFS location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the EFS location that was described.</p>",
          "shape": "LocationUri"
        }
      },
      "type": "structure"
    },
    "DescribeLocationFsxWindowsRequest": {
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FSx for Windows location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": [
        "LocationArn"
      ],
      "type": "structure"
    },
    "DescribeLocationFsxWindowsResponse": {
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the FSx for Windows location was created.</p>",
          "shape": "Time"
        },
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the FSx for Windows server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon resource Name (ARN) of the FSx for Windows location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the FSx for Windows location that was described.</p>",
          "shape": "LocationUri"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the for the FSx for Windows file system.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "User": {
          "documentation": "<p>The user who has the permissions to access files and folders in the FSx for Windows file system.</p>",
          "shape": "SmbUser"
        }
      },
      "type": "structure"
    },
    "DescribeLocationNfsRequest": {
      "documentation": "<p>DescribeLocationNfsRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon resource Name (ARN) of the NFS location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": [
        "LocationArn"
      ],
      "type": "structure"
    },
    "DescribeLocationNfsResponse": {
      "documentation": "<p>DescribeLocationNfsResponse</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the NFS location was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon resource Name (ARN) of the NFS location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the source NFS location that was described.</p>",
          "shape": "LocationUri"
        },
        "MountOptions": {
          "documentation": "<p>The NFS mount options that DataSync used to mount your NFS share.</p>",
          "shape": "NfsMountOptions"
        },
        "OnPremConfig": {
          "shape": "OnPremConfig"
        }
      },
      "type": "structure"
    },
    "DescribeLocationS3Request": {
      "documentation": "<p>DescribeLocationS3Request</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": [
        "LocationArn"
      ],
      "type": "structure"
    },
    "DescribeLocationS3Response": {
      "documentation": "<p>DescribeLocationS3Response</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>The time that the Amazon S3 bucket location was created.</p>",
          "shape": "Time"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon S3 bucket location.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the Amazon S3 location that was described.</p>",
          "shape": "LocationUri"
        },
        "S3Config": {
          "shape": "S3Config"
        },
        "S3StorageClass": {
          "documentation": "<p>The Amazon S3 storage class that you chose to store your files in when this location is used as a task destination. For more information about S3 storage classes, see <a href=\"https://aws.amazon.com/s3/storage-classes/\">Amazon S3 Storage Classes</a> in the <i>Amazon Simple Storage Service Developer Guide</i>. Some storage classes have behaviors that can affect your S3 storage cost. For detailed information, see <a>using-storage-classes</a>.</p>",
          "shape": "S3StorageClass"
        }
      },
      "type": "structure"
    },
    "DescribeLocationSmbRequest": {
      "documentation": "<p>DescribeLocationSmbRequest</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon resource Name (ARN) of the SMB location to describe.</p>",
          "shape": "LocationArn"
        }
      },
      "required": [
        "LocationArn"
      ],
      "type": "structure"
    },
    "DescribeLocationSmbResponse": {
      "documentation": "<p>DescribeLocationSmbResponse</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source SMB file system location that is created.</p>",
          "shape": "AgentArnList"
        },
        "CreationTime": {
          "documentation": "<p>The time that the SMB location was created.</p>",
          "shape": "Time"
        },
        "Domain": {
          "documentation": "<p>The name of the Windows domain that the SMB server belongs to.</p>",
          "shape": "SmbDomain"
        },
        "LocationArn": {
          "documentation": "<p>The Amazon resource Name (ARN) of the SMB location that was described.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>The URL of the source SBM location that was described.</p>",
          "shape": "LocationUri"
        },
        "MountOptions": {
          "documentation": "<p>The mount options that are available for DataSync to use to access an SMB location.</p>",
          "shape": "SmbMountOptions"
        },
        "User": {
          "documentation": "<p>The user who can mount the share, has the permissions to access files and folders in the SMB share.</p>",
          "shape": "SmbUser"
        }
      },
      "type": "structure"
    },
    "DescribeTaskExecutionRequest": {
      "documentation": "<p>DescribeTaskExecutionRequest</p>",
      "members": {
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task that is being executed.</p>",
          "shape": "TaskExecutionArn"
        }
      },
      "required": [
        "TaskExecutionArn"
      ],
      "type": "structure"
    },
    "DescribeTaskExecutionResponse": {
      "documentation": "<p>DescribeTaskExecutionResponse</p>",
      "members": {
        "BytesTransferred": {
          "documentation": "<p>The physical number of bytes transferred over the network.</p>",
          "shape": "long"
        },
        "BytesWritten": {
          "documentation": "<p>The number of logical bytes written to the destination AWS storage resource.</p>",
          "shape": "long"
        },
        "EstimatedBytesToTransfer": {
          "documentation": "<p>The estimated physical number of bytes that is to be transferred over the network.</p>",
          "shape": "long"
        },
        "EstimatedFilesToTransfer": {
          "documentation": "<p>The expected number of files that is to be transferred over the network. This value is calculated during the PREPARING phase, before the TRANSFERRING phase. This value is the expected number of files to be transferred. It's calculated based on comparing the content of the source and destination locations and finding the delta that needs to be transferred. </p>",
          "shape": "long"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "FilesTransferred": {
          "documentation": "<p>The actual number of files that was transferred over the network. This value is calculated and updated on an ongoing basis during the TRANSFERRING phase. It's updated periodically when each file is read from the source and sent over the network. </p> <p>If failures occur during a transfer, this value can be less than <code>EstimatedFilesToTransfer</code>. This value can also be greater than <code>EstimatedFilesTransferred</code> in some cases. This element is implementation-specific for some location types, so don't use it as an indicator for a correct file number or to monitor your task execution.</p>",
          "shape": "long"
        },
        "Includes": {
          "documentation": "<p>A list of filter rules that determines which files to include when running a task. The list should contain a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "Options": {
          "shape": "Options"
        },
        "Result": {
          "documentation": "<p>The result of the task execution.</p>",
          "shape": "TaskExecutionResultDetail"
        },
        "StartTime": {
          "documentation": "<p>The time that the task execution was started.</p>",
          "shape": "Time"
        },
        "Status": {
          "documentation": "<p>The status of the task execution. </p> <p>For detailed information about task execution statuses, see Understanding Task Statuses in the <i>AWS DataSync User Guide.</i> </p>",
          "shape": "TaskExecutionStatus"
        },
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task execution that was described. <code>TaskExecutionArn</code> is hierarchical and includes <code>TaskArn</code> for the task that was executed. </p> <p>For example, a <code>TaskExecution</code> value with the ARN <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2/execution/exec-08ef1e88ec491019b</code> executed the task with the ARN <code>arn:aws:datasync:us-east-1:111222333444:task/task-0208075f79cedf4a2</code>. </p>",
          "shape": "TaskExecutionArn"
        }
      },
      "type": "structure"
    },
    "DescribeTaskRequest": {
      "documentation": "<p>DescribeTaskRequest</p>",
      "members": {
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task to describe.</p>",
          "shape": "TaskArn"
        }
      },
      "required": [
        "TaskArn"
      ],
      "type": "structure"
    },
    "DescribeTaskResponse": {
      "documentation": "<p>DescribeTaskResponse</p>",
      "members": {
        "CloudWatchLogGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon CloudWatch log group that was used to monitor and log events in the task.</p> <p>For more information on these groups, see Working with Log Groups and Log Streams in the <i>Amazon CloudWatch User Guide</i>.</p>",
          "shape": "LogGroupArn"
        },
        "CreationTime": {
          "documentation": "<p>The time that the task was created.</p>",
          "shape": "Time"
        },
        "CurrentTaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task execution that is syncing files.</p>",
          "shape": "TaskExecutionArn"
        },
        "DestinationLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS storage resource's location.</p>",
          "shape": "LocationArn"
        },
        "DestinationNetworkInterfaceArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the destination ENIs (Elastic Network Interface) that was created for your subnet.</p>",
          "shape": "DestinationNetworkInterfaceArns"
        },
        "ErrorCode": {
          "documentation": "<p>Errors that AWS DataSync encountered during execution of the task. You can use this error code to help troubleshoot issues.</p>",
          "shape": "string"
        },
        "ErrorDetail": {
          "documentation": "<p>Detailed description of an error that was encountered during the task execution. You can use this information to help troubleshoot issues. </p>",
          "shape": "string"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "Name": {
          "documentation": "<p>The name of the task that was described.</p>",
          "shape": "TagValue"
        },
        "Options": {
          "documentation": "<p>The set of configuration options that control the behavior of a single execution of the task that occurs when you call <code>StartTaskExecution</code>. You can configure these options to preserve metadata such as user ID (UID) and group (GID), file permissions, data integrity verification, and so on.</p> <p>For each individual task execution, you can override these options by specifying the overriding <code>OverrideOptions</code> value to operation. </p>",
          "shape": "Options"
        },
        "Schedule": {
          "documentation": "<p>The schedule used to periodically transfer files from a source to a destination location.</p>",
          "shape": "TaskSchedule"
        },
        "SourceLocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source file system's location.</p>",
          "shape": "LocationArn"
        },
        "SourceNetworkInterfaceArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source ENIs (Elastic Network Interface) that was created for your subnet.</p>",
          "shape": "SourceNetworkInterfaceArns"
        },
        "Status": {
          "documentation": "<p>The status of the task that was described.</p> <p>For detailed information about task execution statuses, see Understanding Task Statuses in the <i>AWS DataSync User Guide.</i> </p>",
          "shape": "TaskStatus"
        },
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task that was described.</p>",
          "shape": "TaskArn"
        }
      },
      "type": "structure"
    },
    "DestinationNetworkInterfaceArns": {
      "member": {
        "shape": "NetworkInterfaceArn"
      },
      "type": "list"
    },
    "Duration": {
      "min": 0,
      "type": "long"
    },
    "Ec2Config": {
      "documentation": "<p>The subnet and the security group that DataSync uses to access target EFS file system. The subnet must have at least one mount target for that file system. The security group that you provide needs to be able to communicate with the security group on the mount target in the subnet specified. </p>",
      "members": {
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the Amazon EC2 resource.</p>",
          "shape": "Ec2SecurityGroupArnList"
        },
        "SubnetArn": {
          "documentation": "<p>The ARN of the subnet and the security group that DataSync uses to access the target EFS file system.</p>",
          "shape": "Ec2SubnetArn"
        }
      },
      "required": [
        "SubnetArn",
        "SecurityGroupArns"
      ],
      "type": "structure"
    },
    "Ec2SecurityGroupArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:security-group/.*$",
      "type": "string"
    },
    "Ec2SecurityGroupArnList": {
      "max": 5,
      "member": {
        "shape": "Ec2SecurityGroupArn"
      },
      "min": 1,
      "type": "list"
    },
    "Ec2SubnetArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):ec2:[a-z\\-0-9]*:[0-9]{12}:subnet/.*$",
      "type": "string"
    },
    "EfsFilesystemArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):elasticfilesystem:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$",
      "type": "string"
    },
    "EfsSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\p{Zs}]*$",
      "type": "string"
    },
    "Endpoint": {
      "max": 15,
      "min": 7,
      "pattern": "\\A(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)(\\.(25[0-5]|2[0-4]\\d|[0-1]?\\d?\\d)){3}\\z",
      "type": "string"
    },
    "EndpointType": {
      "enum": [
        "PUBLIC",
        "PRIVATE_LINK",
        "FIPS"
      ],
      "type": "string"
    },
    "FilterList": {
      "max": 1,
      "member": {
        "shape": "FilterRule"
      },
      "min": 0,
      "type": "list"
    },
    "FilterRule": {
      "documentation": "<p>Specifies which files, folders and objects to include or exclude when transferring files from source to destination.</p>",
      "members": {
        "FilterType": {
          "documentation": "<p>The type of filter rule to apply. AWS DataSync only supports the SIMPLE_PATTERN rule type.</p>",
          "shape": "FilterType"
        },
        "Value": {
          "documentation": "<p>A single filter string that consists of the patterns to include or exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>/folder1|/folder2</code> </p> <p> </p>",
          "shape": "FilterValue"
        }
      },
      "type": "structure"
    },
    "FilterType": {
      "enum": [
        "SIMPLE_PATTERN"
      ],
      "max": 128,
      "pattern": "^[A-Z0-9_]+$",
      "type": "string"
    },
    "FilterValue": {
      "max": 409600,
      "pattern": "^[^\\x00]+$",
      "type": "string"
    },
    "FsxFilesystemArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):fsx:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$",
      "type": "string"
    },
    "FsxWindowsSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$",
      "type": "string"
    },
    "Gid": {
      "enum": [
        "NONE",
        "INT_VALUE",
        "NAME",
        "BOTH"
      ],
      "type": "string"
    },
    "IamRoleArn": {
      "max": 2048,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):iam::[0-9]{12}:role/.*$",
      "type": "string"
    },
    "InternalException": {
      "documentation": "<p>This exception is thrown when an error occurs in the AWS DataSync service.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "errorCode": {
          "shape": "string"
        },
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>This exception is thrown when the client submits a malformed request.</p>",
      "exception": true,
      "members": {
        "errorCode": {
          "shape": "string"
        },
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ListAgentsRequest": {
      "documentation": "<p>ListAgentsRequest</p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of agents to list.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin the next list of agents.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAgentsResponse": {
      "documentation": "<p>ListAgentsResponse</p>",
      "members": {
        "Agents": {
          "documentation": "<p>A list of agents in your account.</p>",
          "shape": "AgentList"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin returning the next list of agents.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListLocationsRequest": {
      "documentation": "<p>ListLocationsRequest</p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of locations to return.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin the next list of locations.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListLocationsResponse": {
      "documentation": "<p>ListLocationsResponse</p>",
      "members": {
        "Locations": {
          "documentation": "<p>An array that contains a list of locations.</p>",
          "shape": "LocationList"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin returning the next list of locations.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "documentation": "<p>ListTagsForResourceRequest</p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of locations to return.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin the next list of locations.</p>",
          "shape": "NextToken"
        },
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource whose tags to list.</p>",
          "shape": "TaggableResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "documentation": "<p>ListTagsForResourceResponse</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin returning the next list of resource tags.</p>",
          "shape": "NextToken"
        },
        "Tags": {
          "documentation": "<p>Array of resource tags.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListTaskExecutionsRequest": {
      "documentation": "<p>ListTaskExecutions</p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of executed tasks to list.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin the next list of the executed tasks.</p>",
          "shape": "NextToken"
        },
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task whose tasks you want to list.</p>",
          "shape": "TaskArn"
        }
      },
      "type": "structure"
    },
    "ListTaskExecutionsResponse": {
      "documentation": "<p>ListTaskExecutionsResponse</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin returning the next list of executed tasks.</p>",
          "shape": "NextToken"
        },
        "TaskExecutions": {
          "documentation": "<p>A list of executed tasks.</p>",
          "shape": "TaskExecutionList"
        }
      },
      "type": "structure"
    },
    "ListTasksRequest": {
      "documentation": "<p>ListTasksRequest</p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of tasks to return.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin the next list of tasks.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTasksResponse": {
      "documentation": "<p>ListTasksResponse</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>An opaque string that indicates the position at which to begin returning the next list of tasks.</p>",
          "shape": "NextToken"
        },
        "Tasks": {
          "documentation": "<p>A list of all the tasks that are returned.</p>",
          "shape": "TaskList"
        }
      },
      "type": "structure"
    },
    "LocationArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:location/loc-[0-9a-z]{17}$",
      "type": "string"
    },
    "LocationList": {
      "member": {
        "shape": "LocationListEntry"
      },
      "type": "list"
    },
    "LocationListEntry": {
      "documentation": "<p>Represents a single entry in a list of locations. <code>LocationListEntry</code> returns an array that contains a list of locations when the <a>ListLocations</a> operation is called.</p>",
      "members": {
        "LocationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the location. For Network File System (NFS) or Amazon EFS, the location is the export path. For Amazon S3, the location is the prefix path that you want to mount and use as the root of the location.</p>",
          "shape": "LocationArn"
        },
        "LocationUri": {
          "documentation": "<p>Represents a list of URLs of a location. <code>LocationUri</code> returns an array that contains a list of locations when the <a>ListLocations</a> operation is called.</p> <p>Format: <code>TYPE://GLOBAL_ID/SUBDIR</code>.</p> <p>TYPE designates the type of location. Valid values: NFS | EFS | S3.</p> <p>GLOBAL_ID is the globally unique identifier of the resource that backs the location. An example for EFS is <code>us-east-2.fs-abcd1234</code>. An example for Amazon S3 is the bucket name, such as <code>myBucket</code>. An example for NFS is a valid IPv4 address or a host name compliant with Domain Name Service (DNS).</p> <p>SUBDIR is a valid file system path, delimited by forward slashes as is the *nix convention. For NFS and Amazon EFS, it's the export path to mount the location. For Amazon S3, it's the prefix path that you mount to and treat as the root of the location.</p> <p/>",
          "shape": "LocationUri"
        }
      },
      "type": "structure"
    },
    "LocationUri": {
      "max": 4356,
      "pattern": "^(efs|nfs|s3|smb|fsxw)://[a-zA-Z0-9.\\-]+$",
      "type": "string"
    },
    "LogGroupArn": {
      "max": 562,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):logs:[a-z\\-0-9]*:[0-9]{12}:log-group:([^:\\*]*)$",
      "type": "string"
    },
    "LogLevel": {
      "enum": [
        "OFF",
        "BASIC",
        "TRANSFER"
      ],
      "type": "string"
    },
    "MaxResults": {
      "max": 100,
      "min": 0,
      "type": "integer"
    },
    "Mtime": {
      "enum": [
        "NONE",
        "PRESERVE"
      ],
      "type": "string"
    },
    "NetworkInterfaceArn": {
      "max": 128,
      "pattern": "^arn:aws[\\-a-z]{0,}:ec2:[a-z\\-0-9]*:[0-9]{12}:network-interface/eni-[0-9a-f]+$",
      "type": "string"
    },
    "NextToken": {
      "max": 65535,
      "pattern": "[a-zA-Z0-9=_-]+",
      "type": "string"
    },
    "NfsMountOptions": {
      "documentation": "<p>Represents the mount options that are available for DataSync to access an NFS location.</p>",
      "members": {
        "Version": {
          "documentation": "<p>The specific NFS version that you want DataSync to use to mount your NFS share. If the server refuses to use the version specified, the sync will fail. If you don't specify a version, DataSync defaults to <code>AUTOMATIC</code>. That is, DataSync automatically selects a version based on negotiation with the NFS server.</p> <p>You can specify the following NFS versions:</p> <ul> <li> <p> <b> <a href=\"https://tools.ietf.org/html/rfc1813\">NFSv3</a> </b> - stateless protocol version that allows for asynchronous writes on the server.</p> </li> <li> <p> <b> <a href=\"https://tools.ietf.org/html/rfc3530\">NFSv4.0</a> </b> - stateful, firewall-friendly protocol version that supports delegations and pseudo filesystems.</p> </li> <li> <p> <b> <a href=\"https://tools.ietf.org/html/rfc5661\">NFSv4.1</a> </b> - stateful protocol version that supports sessions, directory delegations, and parallel data processing. Version 4.1 also includes all features available in version 4.0.</p> </li> </ul>",
          "shape": "NfsVersion"
        }
      },
      "type": "structure"
    },
    "NfsSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\p{Zs}]+$",
      "type": "string"
    },
    "NfsVersion": {
      "enum": [
        "AUTOMATIC",
        "NFS3",
        "NFS4_0",
        "NFS4_1"
      ],
      "type": "string"
    },
    "OnPremConfig": {
      "documentation": "<p>A list of Amazon Resource Names (ARNs) of agents to use for a Network File System (NFS) location.</p>",
      "members": {
        "AgentArns": {
          "documentation": "<p>ARNs)of the agents to use for an NFS location.</p>",
          "shape": "AgentArnList"
        }
      },
      "required": [
        "AgentArns"
      ],
      "type": "structure"
    },
    "Options": {
      "documentation": "<p>Represents the options that are available to control the behavior of a <a>StartTaskExecution</a> operation. Behavior includes preserving metadata such as user ID (UID), group ID (GID), and file permissions, and also overwriting files in the destination, data integrity verification, and so on.</p> <p>A task has a set of default options associated with it. If you don't specify an option in <a>StartTaskExecution</a>, the default value is used. You can override the defaults options on each task execution by specifying an overriding <code>Options</code> value to <a>StartTaskExecution</a>.</p>",
      "members": {
        "Atime": {
          "documentation": "<p>A file metadata value that shows the last time a file was accessed (that is, when the file was read or written to). If you set <code>Atime</code> to BEST_EFFORT, DataSync attempts to preserve the original <code>Atime</code> attribute on all source files (that is, the version before the PREPARING phase). However, <code>Atime</code>'s behavior is not fully standard across platforms, so AWS DataSync can only do this on a best-effort basis. </p> <p>Default value: BEST_EFFORT.</p> <p>BEST_EFFORT: Attempt to preserve the per-file <code>Atime</code> value (recommended).</p> <p>NONE: Ignore <code>Atime</code>.</p> <note> <p>If <code>Atime</code> is set to BEST_EFFORT, <code>Mtime</code> must be set to PRESERVE. </p> <p>If <code>Atime</code> is set to NONE, <code>Mtime</code> must also be NONE. </p> </note>",
          "shape": "Atime"
        },
        "BytesPerSecond": {
          "documentation": "<p>A value that limits the bandwidth used by AWS DataSync. For example, if you want AWS DataSync to use a maximum of 1 MB, set this value to <code>1048576</code> (<code>=1024*1024</code>).</p>",
          "shape": "BytesPerSecond"
        },
        "Gid": {
          "documentation": "<p>The group ID (GID) of the file's owners. </p> <p>Default value: INT_VALUE. This preserves the integer value of the ID.</p> <p>INT_VALUE: Preserve the integer value of user ID (UID) and GID (recommended).</p> <p>NONE: Ignore UID and GID. </p>",
          "shape": "Gid"
        },
        "LogLevel": {
          "documentation": "<p>A value that determines the type of logs DataSync will deliver to your AWS CloudWatch Logs file. If set to <code>OFF</code>, no logs will be delivered. <code>BASIC</code> will deliver a few logs per transfer operation and <code>TRANSFER</code> will deliver a verbose log that contains logs for every file that is transferred.</p>",
          "shape": "LogLevel"
        },
        "Mtime": {
          "documentation": "<p>A value that indicates the last time that a file was modified (that is, a file was written to) before the PREPARING phase. </p> <p>Default value: PRESERVE. </p> <p>PRESERVE: Preserve original <code>Mtime</code> (recommended)</p> <p> NONE: Ignore <code>Mtime</code>. </p> <note> <p>If <code>Mtime</code> is set to PRESERVE, <code>Atime</code> must be set to BEST_EFFORT.</p> <p>If <code>Mtime</code> is set to NONE, <code>Atime</code> must also be set to NONE. </p> </note>",
          "shape": "Mtime"
        },
        "OverwriteMode": {
          "documentation": "<p>A value that determines whether files at the destination should be overwritten or preserved when copying files. If set to <code>NEVER</code> a destination file will not be replaced by a source file, even if the destination file differs from the source file. If you modify files in the destination and you sync the files, you can use this value to protect against overwriting those changes. </p> <p>Some storage classes have specific behaviors that can affect your S3 storage cost. For detailed information, see <a>using-storage-classes</a> in the <i>AWS DataSync User Guide</i>.</p>",
          "shape": "OverwriteMode"
        },
        "PosixPermissions": {
          "documentation": "<p>A value that determines which users or groups can access a file for a specific purpose such as reading, writing, or execution of the file. </p> <p>Default value: PRESERVE.</p> <p>PRESERVE: Preserve POSIX-style permissions (recommended).</p> <p>NONE: Ignore permissions. </p> <note> <p>AWS DataSync can preserve extant permissions of a source location.</p> </note>",
          "shape": "PosixPermissions"
        },
        "PreserveDeletedFiles": {
          "documentation": "<p>A value that specifies whether files in the destination that don't exist in the source file system should be preserved. This option can affect your storage cost. If your task deletes objects, you might incur minimum storage duration charges for certain storage classes. For detailed information, see <a>using-storage-classes</a> in the <i>AWS DataSync User Guide</i>.</p> <p>Default value: PRESERVE.</p> <p>PRESERVE: Ignore such destination files (recommended). </p> <p>REMOVE: Delete destination files that aren\u2019t present in the source.</p>",
          "shape": "PreserveDeletedFiles"
        },
        "PreserveDevices": {
          "documentation": "<p>A value that determines whether AWS DataSync should preserve the metadata of block and character devices in the source file system, and recreate the files with that device name and metadata on the destination.</p> <note> <p>AWS DataSync can't sync the actual contents of such devices, because they are nonterminal and don't return an end-of-file (EOF) marker.</p> </note> <p>Default value: NONE.</p> <p>NONE: Ignore special devices (recommended). </p> <p>PRESERVE: Preserve character and block device metadata. This option isn't currently supported for Amazon EFS. </p>",
          "shape": "PreserveDevices"
        },
        "TaskQueueing": {
          "documentation": "<p>A value that determines whether tasks should be queued before executing the tasks. If set to <code>ENABLED</code>, the tasks will be queued. The default is <code>ENABLED</code>.</p> <p>If you use the same agent to run multiple tasks you can enable the tasks to run in series. For more information see <a>queue-task-execution</a>.</p>",
          "shape": "TaskQueueing"
        },
        "Uid": {
          "documentation": "<p>The user ID (UID) of the file's owner. </p> <p>Default value: INT_VALUE. This preserves the integer value of the ID.</p> <p>INT_VALUE: Preserve the integer value of UID and group ID (GID) (recommended).</p> <p>NONE: Ignore UID and GID. </p>",
          "shape": "Uid"
        },
        "VerifyMode": {
          "documentation": "<p>A value that determines whether a data integrity verification should be performed at the end of a task execution after all data and metadata have been transferred. </p> <p>Default value: POINT_IN_TIME_CONSISTENT.</p> <p>POINT_IN_TIME_CONSISTENT: Perform verification (recommended). </p> <p>ONLY_FILES_TRANSFERRED: Perform verification on only files that were transferred.</p> <p>NONE: Skip verification.</p>",
          "shape": "VerifyMode"
        }
      },
      "type": "structure"
    },
    "OverwriteMode": {
      "enum": [
        "ALWAYS",
        "NEVER"
      ],
      "type": "string"
    },
    "PLSecurityGroupArnList": {
      "max": 1,
      "member": {
        "shape": "Ec2SecurityGroupArn"
      },
      "min": 1,
      "type": "list"
    },
    "PLSubnetArnList": {
      "max": 1,
      "member": {
        "shape": "Ec2SubnetArn"
      },
      "min": 1,
      "type": "list"
    },
    "PhaseStatus": {
      "enum": [
        "PENDING",
        "SUCCESS",
        "ERROR"
      ],
      "type": "string"
    },
    "PosixPermissions": {
      "enum": [
        "NONE",
        "PRESERVE"
      ],
      "type": "string"
    },
    "PreserveDeletedFiles": {
      "enum": [
        "PRESERVE",
        "REMOVE"
      ],
      "type": "string"
    },
    "PreserveDevices": {
      "enum": [
        "NONE",
        "PRESERVE"
      ],
      "type": "string"
    },
    "PrivateLinkConfig": {
      "documentation": "<p>The VPC endpoint, subnet and security group that an agent uses to access IP addresses in a VPC (Virtual Private Cloud).</p>",
      "members": {
        "PrivateLinkEndpoint": {
          "documentation": "<p>The private endpoint that is configured for an agent that has access to IP addresses in a <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/endpoint-service.html\">PrivateLink</a>. An agent that is configured with this endpoint will not be accessible over the public Internet.</p>",
          "shape": "Endpoint"
        },
        "SecurityGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the security groups that are configured for the EC2 resource that hosts an agent activated in a VPC or an agent that has access to a VPC endpoint.</p>",
          "shape": "PLSecurityGroupArnList"
        },
        "SubnetArns": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of the subnets that are configured for an agent activated in a VPC or an agent that has access to a VPC endpoint.</p>",
          "shape": "PLSubnetArnList"
        },
        "VpcEndpointId": {
          "documentation": "<p>The ID of the VPC endpoint that is configured for an agent. An agent that is configured with a VPC endpoint will not be accessible over the public Internet.</p>",
          "shape": "VpcEndpointId"
        }
      },
      "type": "structure"
    },
    "S3BucketArn": {
      "max": 76,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):s3:::([^/]*)$",
      "type": "string"
    },
    "S3Config": {
      "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that is used to access an Amazon S3 bucket.</p> <p>For detailed information about using such a role, see Creating a Location for Amazon S3 in the <i>AWS DataSync User Guide</i>.</p>",
      "members": {
        "BucketAccessRoleArn": {
          "documentation": "<p>The Amazon S3 bucket to access. This bucket is used as a parameter in the <a>CreateLocationS3</a> operation. </p>",
          "shape": "IamRoleArn"
        }
      },
      "required": [
        "BucketAccessRoleArn"
      ],
      "type": "structure"
    },
    "S3StorageClass": {
      "enum": [
        "STANDARD",
        "STANDARD_IA",
        "ONEZONE_IA",
        "INTELLIGENT_TIERING",
        "GLACIER",
        "DEEP_ARCHIVE"
      ],
      "type": "string"
    },
    "S3Subdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\p{Zs}]*$",
      "type": "string"
    },
    "ScheduleExpressionCron": {
      "max": 256,
      "pattern": "^[a-zA-Z0-9\\ \\_\\*\\?\\,\\|\\^\\-\\/\\#\\s\\(\\)\\+]*$",
      "type": "string"
    },
    "ServerHostname": {
      "max": 255,
      "pattern": "^(([a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9\\-]*[A-Za-z0-9])$",
      "type": "string"
    },
    "SmbDomain": {
      "max": 253,
      "pattern": "^([A-Za-z0-9]+[A-Za-z0-9-.]*)*[A-Za-z0-9-]*[A-Za-z0-9]$",
      "type": "string"
    },
    "SmbMountOptions": {
      "documentation": "<p>Represents the mount options that are available for DataSync to access an SMB location.</p>",
      "members": {
        "Version": {
          "documentation": "<p>The specific SMB version that you want DataSync to use to mount your SMB share. If you don't specify a version, DataSync defaults to <code>AUTOMATIC</code>. That is, DataSync automatically selects a version based on negotiation with the SMB server.</p>",
          "shape": "SmbVersion"
        }
      },
      "type": "structure"
    },
    "SmbPassword": {
      "max": 104,
      "pattern": "^.{0,104}$",
      "sensitive": true,
      "type": "string"
    },
    "SmbSubdirectory": {
      "max": 4096,
      "pattern": "^[a-zA-Z0-9_\\-\\+\\./\\(\\)\\$\\p{Zs}]+$",
      "type": "string"
    },
    "SmbUser": {
      "max": 104,
      "pattern": "^[^\\x5B\\x5D\\\\/:;|=,+*?]{1,104}$",
      "type": "string"
    },
    "SmbVersion": {
      "enum": [
        "AUTOMATIC",
        "SMB2",
        "SMB3"
      ],
      "type": "string"
    },
    "SourceNetworkInterfaceArns": {
      "member": {
        "shape": "NetworkInterfaceArn"
      },
      "type": "list"
    },
    "StartTaskExecutionRequest": {
      "documentation": "<p>StartTaskExecutionRequest</p>",
      "members": {
        "Includes": {
          "documentation": "<p>A list of filter rules that determines which files to include when running a task. The pattern should contain a single filter string that consists of the patterns to include. The patterns are delimited by \"|\" (that is, a pipe). For example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "OverrideOptions": {
          "shape": "Options"
        },
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task to start.</p>",
          "shape": "TaskArn"
        }
      },
      "required": [
        "TaskArn"
      ],
      "type": "structure"
    },
    "StartTaskExecutionResponse": {
      "documentation": "<p>StartTaskExecutionResponse</p>",
      "members": {
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the specific task execution that was started.</p>",
          "shape": "TaskExecutionArn"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\s+=._:/-]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagList": {
      "max": 55,
      "member": {
        "shape": "TagListEntry"
      },
      "min": 0,
      "type": "list"
    },
    "TagListEntry": {
      "documentation": "<p>Represents a single entry in a list of AWS resource tags. <code>TagListEntry</code> returns an array that contains a list of tasks when the <a>ListTagsForResource</a> operation is called.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key for an AWS resource tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value for an AWS resource tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key"
      ],
      "type": "structure"
    },
    "TagResourceRequest": {
      "documentation": "<p>TagResourceRequest</p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to apply the tag to.</p>",
          "shape": "TaggableResourceArn"
        },
        "Tags": {
          "documentation": "<p>The tags to apply.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\s+=._:@/-]+$",
      "type": "string"
    },
    "TaggableResourceArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]+:[0-9]{12}:(agent|task|location)/(agent|task|loc)-[0-9a-z]{17}$",
      "type": "string"
    },
    "TaskArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]*:[0-9]{12}:task/task-[0-9a-f]{17}$",
      "type": "string"
    },
    "TaskExecutionArn": {
      "max": 128,
      "pattern": "^arn:(aws|aws-cn|aws-us-gov|aws-iso|aws-iso-b):datasync:[a-z\\-0-9]*:[0-9]{12}:task/task-[0-9a-f]{17}/execution/exec-[0-9a-f]{17}$",
      "type": "string"
    },
    "TaskExecutionList": {
      "member": {
        "shape": "TaskExecutionListEntry"
      },
      "type": "list"
    },
    "TaskExecutionListEntry": {
      "documentation": "<p>Represents a single entry in a list of task executions. <code>TaskExecutionListEntry</code> returns an array that contains a list of specific invocations of a task when <a>ListTaskExecutions</a> operation is called.</p>",
      "members": {
        "Status": {
          "documentation": "<p>The status of a task execution.</p>",
          "shape": "TaskExecutionStatus"
        },
        "TaskExecutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task that was executed.</p>",
          "shape": "TaskExecutionArn"
        }
      },
      "type": "structure"
    },
    "TaskExecutionResultDetail": {
      "documentation": "<p>Describes the detailed result of a <code>TaskExecution</code> operation. This result includes the time in milliseconds spent in each phase, the status of the task execution, and the errors encountered.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>Errors that AWS DataSync encountered during execution of the task. You can use this error code to help troubleshoot issues.</p>",
          "shape": "string"
        },
        "ErrorDetail": {
          "documentation": "<p>Detailed description of an error that was encountered during the task execution. You can use this information to help troubleshoot issues. </p>",
          "shape": "string"
        },
        "PrepareDuration": {
          "documentation": "<p>The total time in milliseconds that AWS DataSync spent in the PREPARING phase. </p>",
          "shape": "Duration"
        },
        "PrepareStatus": {
          "documentation": "<p>The status of the PREPARING phase.</p>",
          "shape": "PhaseStatus"
        },
        "TotalDuration": {
          "documentation": "<p>The total time in milliseconds that AWS DataSync took to transfer the file from the source to the destination location.</p>",
          "shape": "Duration"
        },
        "TransferDuration": {
          "documentation": "<p>The total time in milliseconds that AWS DataSync spent in the TRANSFERRING phase.</p>",
          "shape": "Duration"
        },
        "TransferStatus": {
          "documentation": "<p>The status of the TRANSFERRING Phase.</p>",
          "shape": "PhaseStatus"
        },
        "VerifyDuration": {
          "documentation": "<p>The total time in milliseconds that AWS DataSync spent in the VERIFYING phase.</p>",
          "shape": "Duration"
        },
        "VerifyStatus": {
          "documentation": "<p>The status of the VERIFYING Phase.</p>",
          "shape": "PhaseStatus"
        }
      },
      "type": "structure"
    },
    "TaskExecutionStatus": {
      "enum": [
        "QUEUED",
        "LAUNCHING",
        "PREPARING",
        "TRANSFERRING",
        "VERIFYING",
        "SUCCESS",
        "ERROR"
      ],
      "type": "string"
    },
    "TaskList": {
      "member": {
        "shape": "TaskListEntry"
      },
      "type": "list"
    },
    "TaskListEntry": {
      "documentation": "<p>Represents a single entry in a list of tasks. <code>TaskListEntry</code> returns an array that contains a list of tasks when the <a>ListTasks</a> operation is called. A task includes the source and destination file systems to sync and the options to use for the tasks.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the task.</p>",
          "shape": "TagValue"
        },
        "Status": {
          "documentation": "<p>The status of the task.</p>",
          "shape": "TaskStatus"
        },
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the task.</p>",
          "shape": "TaskArn"
        }
      },
      "type": "structure"
    },
    "TaskQueueing": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "TaskSchedule": {
      "documentation": "<p>Specifies the schedule you want your task to use for repeated executions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/events/ScheduledEvents.html\">Schedule Expressions for Rules</a>.</p>",
      "members": {
        "ScheduleExpression": {
          "documentation": "<p>A cron expression that specifies when AWS DataSync initiates a scheduled transfer from a source to a destination location. </p>",
          "shape": "ScheduleExpressionCron"
        }
      },
      "required": [
        "ScheduleExpression"
      ],
      "type": "structure"
    },
    "TaskStatus": {
      "enum": [
        "AVAILABLE",
        "CREATING",
        "QUEUED",
        "RUNNING",
        "UNAVAILABLE"
      ],
      "type": "string"
    },
    "Time": {
      "type": "timestamp"
    },
    "Uid": {
      "enum": [
        "NONE",
        "INT_VALUE",
        "NAME",
        "BOTH"
      ],
      "type": "string"
    },
    "UntagResourceRequest": {
      "documentation": "<p>UntagResourceRequest</p>",
      "members": {
        "Keys": {
          "documentation": "<p>The keys in the key-value pair in the tag to remove.</p>",
          "shape": "TagKeyList"
        },
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to remove the tag from.</p>",
          "shape": "TaggableResourceArn"
        }
      },
      "required": [
        "ResourceArn",
        "Keys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateAgentRequest": {
      "documentation": "<p>UpdateAgentRequest</p>",
      "members": {
        "AgentArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the agent to update.</p>",
          "shape": "AgentArn"
        },
        "Name": {
          "documentation": "<p>The name that you want to use to configure the agent.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "AgentArn"
      ],
      "type": "structure"
    },
    "UpdateAgentResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateTaskRequest": {
      "documentation": "<p>UpdateTaskResponse</p>",
      "members": {
        "CloudWatchLogGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource name of the CloudWatch LogGroup.</p>",
          "shape": "LogGroupArn"
        },
        "Excludes": {
          "documentation": "<p>A list of filter rules that determines which files to exclude from a task. The list should contain a single filter string that consists of the patterns to exclude. The patterns are delimited by \"|\" (that is, a pipe), for example: <code>\"/folder1|/folder2\"</code> </p> <p> </p>",
          "shape": "FilterList"
        },
        "Name": {
          "documentation": "<p>The name of the task to update.</p>",
          "shape": "TagValue"
        },
        "Options": {
          "shape": "Options"
        },
        "Schedule": {
          "documentation": "<p>Specifies a schedule used to periodically transfer files from a source to a destination location. You can configure your task to execute hourly, daily, weekly or on specific days of the week. You control when in the day or hour you want the task to execute. The time you specify is UTC time. For more information, see <a>task-scheduling</a>.</p>",
          "shape": "TaskSchedule"
        },
        "TaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource name of the task to update.</p>",
          "shape": "TaskArn"
        }
      },
      "required": [
        "TaskArn"
      ],
      "type": "structure"
    },
    "UpdateTaskResponse": {
      "members": {},
      "type": "structure"
    },
[...]
