{
  "documentation": "<fullname>Amazon Elasticsearch Configuration Service</fullname> <p>Use the Amazon Elasticsearch Configuration API to create, configure, and manage Elasticsearch domains.</p> <p>For sample code that uses the Configuration API, see the <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-configuration-samples.html\">Amazon Elasticsearch Service Developer Guide</a>. The guide also contains <a href=\"https://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-request-signing.html\">sample code for sending signed HTTP requests to the Elasticsearch APIs</a>.</p> <p>The endpoint for configuration service requests is region-specific: es.<i>region</i>.amazonaws.com. For example, es.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticsearch-service-regions\" target=\"_blank\">Regions and Endpoints</a>.</p>",
  "metadata": {
    "apiVersion": "2015-01-01",
    "endpointPrefix": "es",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Elasticsearch Service",
    "serviceId": "Elasticsearch Service",
    "signatureVersion": "v4",
    "uid": "es-2015-01-01"
  },
  "operations": {
    "AddTags": {
      "documentation": "<p>Attaches tags to an existing Elasticsearch domain. Tags are a set of case-sensitive key value pairs. An Elasticsearch domain may have up to 10 tags. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-awsresorcetagging\" target=\"_blank\"> Tagging Amazon Elasticsearch Service Domains for more information.</a></p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/tags"
      },
      "input": {
        "shape": "AddTagsRequest"
      },
      "name": "AddTags"
    },
    "AssociatePackage": {
      "documentation": "<p>Associates a package with an Amazon ES domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/packages/associate/{PackageID}/{DomainName}"
      },
      "input": {
        "shape": "AssociatePackageRequest"
      },
      "name": "AssociatePackage",
      "output": {
        "shape": "AssociatePackageResponse"
      }
    },
    "CancelElasticsearchServiceSoftwareUpdate": {
      "documentation": "<p>Cancels a scheduled service software update for an Amazon ES domain. You can only perform this operation before the <code>AutomatedUpdateDate</code> and when the <code>UpdateStatus</code> is in the <code>PENDING_UPDATE</code> state.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/serviceSoftwareUpdate/cancel"
      },
      "input": {
        "shape": "CancelElasticsearchServiceSoftwareUpdateRequest"
      },
      "name": "CancelElasticsearchServiceSoftwareUpdate",
      "output": {
        "shape": "CancelElasticsearchServiceSoftwareUpdateResponse"
      }
    },
    "CreateElasticsearchDomain": {
      "documentation": "<p>Creates a new Elasticsearch domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/domain"
      },
      "input": {
        "shape": "CreateElasticsearchDomainRequest"
      },
      "name": "CreateElasticsearchDomain",
      "output": {
        "shape": "CreateElasticsearchDomainResponse"
      }
    },
    "CreatePackage": {
      "documentation": "<p>Create a package for use with Amazon ES domains.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/packages"
      },
      "input": {
        "shape": "CreatePackageRequest"
      },
      "name": "CreatePackage",
      "output": {
        "shape": "CreatePackageResponse"
      }
    },
    "DeleteElasticsearchDomain": {
      "documentation": "<p>Permanently deletes the specified Elasticsearch domain and all of its data. Once a domain is deleted, it cannot be recovered.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-01-01/es/domain/{DomainName}"
      },
      "input": {
        "shape": "DeleteElasticsearchDomainRequest"
      },
      "name": "DeleteElasticsearchDomain",
      "output": {
        "shape": "DeleteElasticsearchDomainResponse"
      }
    },
    "DeleteElasticsearchServiceRole": {
      "documentation": "<p>Deletes the service-linked role that Elasticsearch Service uses to manage and maintain VPC domains. Role deletion will fail if any existing VPC domains use the role. You must delete any such Elasticsearch domains before deleting the role. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-enabling-slr\" target=\"_blank\">Deleting Elasticsearch Service Role</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-01-01/es/role"
      },
      "name": "DeleteElasticsearchServiceRole"
    },
    "DeletePackage": {
      "documentation": "<p>Delete the package.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-01-01/packages/{PackageID}"
      },
      "input": {
        "shape": "DeletePackageRequest"
      },
      "name": "DeletePackage",
      "output": {
        "shape": "DeletePackageResponse"
      }
    },
    "DescribeElasticsearchDomain": {
      "documentation": "<p>Returns domain configuration information about the specified Elasticsearch domain, including the domain ID, domain endpoint, and domain ARN.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/domain/{DomainName}"
      },
      "input": {
        "shape": "DescribeElasticsearchDomainRequest"
      },
      "name": "DescribeElasticsearchDomain",
      "output": {
        "shape": "DescribeElasticsearchDomainResponse"
      }
    },
    "DescribeElasticsearchDomainConfig": {
      "documentation": "<p>Provides cluster configuration information about the specified Elasticsearch domain, such as the state, creation date, update version, and update date for cluster options.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/domain/{DomainName}/config"
      },
      "input": {
        "shape": "DescribeElasticsearchDomainConfigRequest"
      },
      "name": "DescribeElasticsearchDomainConfig",
      "output": {
        "shape": "DescribeElasticsearchDomainConfigResponse"
      }
    },
    "DescribeElasticsearchDomains": {
      "documentation": "<p>Returns domain configuration information about the specified Elasticsearch domains, including the domain ID, domain endpoint, and domain ARN.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/domain-info"
      },
      "input": {
        "shape": "DescribeElasticsearchDomainsRequest"
      },
      "name": "DescribeElasticsearchDomains",
      "output": {
        "shape": "DescribeElasticsearchDomainsResponse"
      }
    },
    "DescribeElasticsearchInstanceTypeLimits": {
      "documentation": "<p> Describe Elasticsearch Limits for a given InstanceType and ElasticsearchVersion. When modifying existing Domain, specify the <code> <a>DomainName</a> </code> to know what Limits are supported for modifying. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/instanceTypeLimits/{ElasticsearchVersion}/{InstanceType}"
      },
      "input": {
        "shape": "DescribeElasticsearchInstanceTypeLimitsRequest"
      },
      "name": "DescribeElasticsearchInstanceTypeLimits",
      "output": {
        "shape": "DescribeElasticsearchInstanceTypeLimitsResponse"
      }
    },
    "DescribePackages": {
      "documentation": "<p>Describes all packages available to Amazon ES. Includes options for filtering, limiting the number of results, and pagination.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/packages/describe"
      },
      "input": {
        "shape": "DescribePackagesRequest"
      },
      "name": "DescribePackages",
      "output": {
        "shape": "DescribePackagesResponse"
      }
    },
    "DescribeReservedElasticsearchInstanceOfferings": {
      "documentation": "<p>Lists available reserved Elasticsearch instance offerings.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/reservedInstanceOfferings"
      },
      "input": {
        "shape": "DescribeReservedElasticsearchInstanceOfferingsRequest"
      },
      "name": "DescribeReservedElasticsearchInstanceOfferings",
      "output": {
        "shape": "DescribeReservedElasticsearchInstanceOfferingsResponse"
      }
    },
    "DescribeReservedElasticsearchInstances": {
      "documentation": "<p>Returns information about reserved Elasticsearch instances for this account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/reservedInstances"
      },
      "input": {
        "shape": "DescribeReservedElasticsearchInstancesRequest"
      },
      "name": "DescribeReservedElasticsearchInstances",
      "output": {
        "shape": "DescribeReservedElasticsearchInstancesResponse"
      }
    },
    "DissociatePackage": {
      "documentation": "<p>Dissociates a package from the Amazon ES domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/packages/dissociate/{PackageID}/{DomainName}"
      },
      "input": {
        "shape": "DissociatePackageRequest"
      },
      "name": "DissociatePackage",
      "output": {
        "shape": "DissociatePackageResponse"
      }
    },
    "GetCompatibleElasticsearchVersions": {
      "documentation": "<p> Returns a list of upgrade compatible Elastisearch versions. You can optionally pass a <code> <a>DomainName</a> </code> to get all upgrade compatible Elasticsearch versions for that specific domain. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/compatibleVersions"
      },
      "input": {
        "shape": "GetCompatibleElasticsearchVersionsRequest"
      },
      "name": "GetCompatibleElasticsearchVersions",
      "output": {
        "shape": "GetCompatibleElasticsearchVersionsResponse"
      }
    },
    "GetUpgradeHistory": {
      "documentation": "<p>Retrieves the complete history of the last 10 upgrades that were performed on the domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/upgradeDomain/{DomainName}/history"
      },
      "input": {
        "shape": "GetUpgradeHistoryRequest"
      },
      "name": "GetUpgradeHistory",
      "output": {
        "shape": "GetUpgradeHistoryResponse"
      }
    },
    "GetUpgradeStatus": {
      "documentation": "<p>Retrieves the latest status of the last upgrade or upgrade eligibility check that was performed on the domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/upgradeDomain/{DomainName}/status"
      },
      "input": {
        "shape": "GetUpgradeStatusRequest"
      },
      "name": "GetUpgradeStatus",
      "output": {
        "shape": "GetUpgradeStatusResponse"
      }
    },
    "ListDomainNames": {
      "documentation": "<p>Returns the name of all Elasticsearch domains owned by the current user's account. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/domain"
      },
      "name": "ListDomainNames",
      "output": {
        "shape": "ListDomainNamesResponse"
      }
    },
    "ListDomainsForPackage": {
      "documentation": "<p>Lists all Amazon ES domains associated with the package.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/packages/{PackageID}/domains"
      },
      "input": {
        "shape": "ListDomainsForPackageRequest"
      },
      "name": "ListDomainsForPackage",
      "output": {
        "shape": "ListDomainsForPackageResponse"
      }
    },
    "ListElasticsearchInstanceTypes": {
      "documentation": "<p>List all Elasticsearch instance types that are supported for given ElasticsearchVersion</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/instanceTypes/{ElasticsearchVersion}"
      },
      "input": {
        "shape": "ListElasticsearchInstanceTypesRequest"
      },
      "name": "ListElasticsearchInstanceTypes",
      "output": {
        "shape": "ListElasticsearchInstanceTypesResponse"
      }
    },
    "ListElasticsearchVersions": {
      "documentation": "<p>List all supported Elasticsearch versions</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/es/versions"
      },
      "input": {
        "shape": "ListElasticsearchVersionsRequest"
      },
      "name": "ListElasticsearchVersions",
      "output": {
        "shape": "ListElasticsearchVersionsResponse"
      }
    },
    "ListPackagesForDomain": {
      "documentation": "<p>Lists all packages associated with the Amazon ES domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/domain/{DomainName}/packages"
      },
      "input": {
        "shape": "ListPackagesForDomainRequest"
      },
      "name": "ListPackagesForDomain",
      "output": {
        "shape": "ListPackagesForDomainResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Returns all tags for the given Elasticsearch domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-01-01/tags/"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "PurchaseReservedElasticsearchInstanceOffering": {
      "documentation": "<p>Allows you to purchase reserved Elasticsearch instances.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/purchaseReservedInstanceOffering"
      },
      "input": {
        "shape": "PurchaseReservedElasticsearchInstanceOfferingRequest"
      },
      "name": "PurchaseReservedElasticsearchInstanceOffering",
      "output": {
        "shape": "PurchaseReservedElasticsearchInstanceOfferingResponse"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes the specified set of tags from the specified Elasticsearch domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/tags-removal"
      },
      "input": {
        "shape": "RemoveTagsRequest"
      },
      "name": "RemoveTags"
    },
    "StartElasticsearchServiceSoftwareUpdate": {
      "documentation": "<p>Schedules a service software update for an Amazon ES domain.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/serviceSoftwareUpdate/start"
      },
      "input": {
        "shape": "StartElasticsearchServiceSoftwareUpdateRequest"
      },
      "name": "StartElasticsearchServiceSoftwareUpdate",
      "output": {
        "shape": "StartElasticsearchServiceSoftwareUpdateResponse"
      }
    },
    "UpdateElasticsearchDomainConfig": {
      "documentation": "<p>Modifies the cluster configuration of the specified Elasticsearch domain, setting as setting the instance type and the number of instances. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/domain/{DomainName}/config"
      },
      "input": {
        "shape": "UpdateElasticsearchDomainConfigRequest"
      },
      "name": "UpdateElasticsearchDomainConfig",
      "output": {
        "shape": "UpdateElasticsearchDomainConfigResponse"
      }
    },
    "UpgradeElasticsearchDomain": {
      "documentation": "<p>Allows you to either upgrade your domain or perform an Upgrade eligibility check to a compatible Elasticsearch version.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-01-01/es/upgradeDomain"
      },
      "input": {
        "shape": "UpgradeElasticsearchDomainRequest"
      },
      "name": "UpgradeElasticsearchDomain",
      "output": {
        "shape": "UpgradeElasticsearchDomainResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "documentation": "<p>The Amazon Resource Name (ARN) of the Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>An error occurred because user does not have permissions to access the resource. Returns HTTP status code 403.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AccessPoliciesStatus": {
      "documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "members": {
        "Options": {
          "documentation": "<p>The access policy configured for the Elasticsearch domain. Access policies may be resource-based, IP-based, or IAM-based. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-access-policies\" target=\"_blank\"> Configuring Access Policies</a>for more information.</p>",
          "shape": "PolicyDocument"
        },
        "Status": {
          "documentation": "<p>The status of the access policy for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AddTagsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>AddTags</a></code> operation. Specify the tags that you want to attach to the Elasticsearch domain.</p>",
      "members": {
        "ARN": {
          "documentation": "<p> Specify the <code>ARN</code> for which you want to add the tags.</p>",
          "shape": "ARN"
        },
        "TagList": {
          "documentation": "<p> List of <code>Tag</code> that need to be added for the Elasticsearch domain. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ARN",
        "TagList"
      ],
      "type": "structure"
    },
    "AdditionalLimit": {
      "documentation": "<p> List of limits that are specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> . </p>",
      "members": {
        "LimitName": {
          "documentation": "<p> Name of Additional Limit is specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> etc. <br/> Attributes and their details: <br/> <ul> <li>MaximumNumberOfDataNodesSupported</li> This attribute will be present in Master node only to specify how much data nodes upto which given <code> <a>ESPartitionInstanceType</a> </code> can support as master node. <li>MaximumNumberOfDataNodesWithoutMasterNode</li> This attribute will be present in Data node only to specify how much data nodes of given <code> <a>ESPartitionInstanceType</a> </code> upto which you don't need any master nodes to govern them. </ul> </p>",
          "shape": "LimitName"
        },
        "LimitValues": {
          "documentation": "<p> Value for given <code> <a>AdditionalLimit$LimitName</a> </code> . </p>",
          "shape": "LimitValueList"
        }
      },
      "type": "structure"
    },
    "AdditionalLimitList": {
      "member": {
        "shape": "AdditionalLimit"
      },
      "type": "list"
    },
    "AdvancedOptions": {
      "documentation": "<p> Exposes select native Elasticsearch configuration values from <code>elasticsearch.yml</code>. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "AdvancedOptionsStatus": {
      "documentation": "<p> Status of the advanced options for the specified Elasticsearch domain. Currently, the following advanced options are available:</p> <ul> <li>Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</li> <li>Option to specify the percentage of heap space that is allocated to field data. By default, this setting is unbounded.</li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\">Configuring Advanced Options</a>.</p>",
      "members": {
        "Options": {
          "documentation": "<p> Specifies the status of advanced options for the specified Elasticsearch domain.</p>",
          "shape": "AdvancedOptions"
        },
        "Status": {
          "documentation": "<p> Specifies the status of <code>OptionStatus</code> for advanced options for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AdvancedSecurityOptions": {
      "documentation": "<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>True if advanced security is enabled.</p>",
          "shape": "Boolean"
        },
        "InternalUserDatabaseEnabled": {
          "documentation": "<p>True if the internal user database is enabled.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AdvancedSecurityOptionsInput": {
      "documentation": "<p>Specifies the advanced security configuration: whether advanced security is enabled, whether the internal database option is enabled, master username and password (if internal database is enabled), and master user ARN (if IAM is enabled).</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>True if advanced security is enabled.</p>",
          "shape": "Boolean"
        },
        "InternalUserDatabaseEnabled": {
          "documentation": "<p>True if the internal user database is enabled.</p>",
          "shape": "Boolean"
        },
        "MasterUserOptions": {
          "documentation": "<p>Credentials for the master user: username and password, ARN, or both.</p>",
          "shape": "MasterUserOptions"
        }
      },
      "type": "structure"
    },
    "AdvancedSecurityOptionsStatus": {
      "documentation": "<p> Specifies the status of advanced security options for the specified Elasticsearch domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p> Specifies advanced security options for the specified Elasticsearch domain.</p>",
          "shape": "AdvancedSecurityOptions"
        },
        "Status": {
          "documentation": "<p> Status of the advanced security options for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AssociatePackageRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>AssociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>Name of the domain that you want to associate the package with.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "PackageID": {
          "documentation": "<p>Internal ID of the package that you want to associate with a domain. Use <code>DescribePackages</code> to find this value.</p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID",
        "DomainName"
      ],
      "type": "structure"
    },
    "AssociatePackageResponse": {
      "documentation": "<p> Container for response returned by <code> <a>AssociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainPackageDetails": {
          "documentation": "<p><code>DomainPackageDetails</code></p>",
          "shape": "DomainPackageDetails"
        }
      },
      "type": "structure"
    },
    "BaseException": {
      "documentation": "<p>An error occurred while processing the request.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A description of the error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CancelElasticsearchServiceSoftwareUpdateRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>CancelElasticsearchServiceSoftwareUpdate</a></code> operation. Specifies the name of the Elasticsearch domain that you wish to cancel a service software update on.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain that you want to stop the latest service software update on.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CancelElasticsearchServiceSoftwareUpdateResponse": {
      "documentation": "<p>The result of a <code>CancelElasticsearchServiceSoftwareUpdate</code> operation. Contains the status of the update.</p>",
      "members": {
        "ServiceSoftwareOptions": {
          "documentation": "<p>The current status of the Elasticsearch service software update.</p>",
          "shape": "ServiceSoftwareOptions"
        }
      },
      "type": "structure"
    },
    "CloudWatchLogsLogGroupArn": {
      "documentation": "<p>ARN of the Cloudwatch log group to which log needs to be published.</p>",
      "type": "string"
    },
    "CognitoOptions": {
      "documentation": "<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Specifies the option to enable Cognito for Kibana authentication.</p>",
          "shape": "Boolean"
        },
        "IdentityPoolId": {
          "documentation": "<p>Specifies the Cognito identity pool ID for Kibana authentication.</p>",
          "shape": "IdentityPoolId"
        },
        "RoleArn": {
          "documentation": "<p>Specifies the role ARN that provides Elasticsearch permissions for accessing Cognito resources.</p>",
          "shape": "RoleArn"
        },
        "UserPoolId": {
          "documentation": "<p>Specifies the Cognito user pool ID for Kibana authentication.</p>",
          "shape": "UserPoolId"
        }
      },
      "type": "structure"
    },
    "CognitoOptionsStatus": {
      "documentation": "<p>Status of the Cognito options for the specified Elasticsearch domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p>Specifies the Cognito options for the specified Elasticsearch domain.</p>",
          "shape": "CognitoOptions"
        },
        "Status": {
          "documentation": "<p>Specifies the status of the Cognito options for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "CompatibleElasticsearchVersionsList": {
      "member": {
        "shape": "CompatibleVersionsMap"
      },
      "type": "list"
    },
    "CompatibleVersionsMap": {
      "documentation": "<p> A map from an <code> <a>ElasticsearchVersion</a> </code> to a list of compatible <code> <a>ElasticsearchVersion</a> </code> s to which the domain can be upgraded. </p>",
      "members": {
        "SourceVersion": {
          "documentation": "<p>The current version of Elasticsearch on which a domain is.</p>",
          "shape": "ElasticsearchVersionString"
        },
        "TargetVersions": {
          "shape": "ElasticsearchVersionList"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>An error occurred because the client attempts to remove a resource that is currently in use. Returns HTTP status code 409.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CreateElasticsearchDomainRequest": {
      "members": {
        "AccessPolicies": {
          "documentation": "<p> IAM access policy as a JSON-formatted string.</p>",
          "shape": "PolicyDocument"
        },
        "AdvancedOptions": {
          "documentation": "<p> Option to allow references to indices in an HTTP request body. Must be <code>false</code> when configuring access to individual sub-resources. By default, the value is <code>true</code>. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuration Advanced Options</a> for more information.</p>",
          "shape": "AdvancedOptions"
        },
        "AdvancedSecurityOptions": {
          "documentation": "<p>Specifies advanced security options.</p>",
          "shape": "AdvancedSecurityOptionsInput"
        },
        "CognitoOptions": {
          "documentation": "<p>Options to specify the Cognito user and identity pools for Kibana authentication. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>",
          "shape": "CognitoOptions"
        },
        "DomainEndpointOptions": {
          "documentation": "<p>Options to specify configuration that will be applied to the domain endpoint.</p>",
          "shape": "DomainEndpointOptions"
        },
        "DomainName": {
          "documentation": "<p>The name of the Elasticsearch domain that you are creating. Domain names are unique across the domains owned by an account within an AWS region. Domain names must start with a lowercase letter and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
          "shape": "DomainName"
        },
        "EBSOptions": {
          "documentation": "<p>Options to enable, disable and specify the type and size of EBS storage volumes. </p>",
          "shape": "EBSOptions"
        },
        "ElasticsearchClusterConfig": {
          "documentation": "<p>Configuration options for an Elasticsearch domain. Specifies the instance type and number of instances in the domain cluster. </p>",
          "shape": "ElasticsearchClusterConfig"
        },
        "ElasticsearchVersion": {
          "documentation": "<p>String of format X.Y to specify version for the Elasticsearch domain eg. \"1.5\" or \"2.3\". For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomains\" target=\"_blank\">Creating Elasticsearch Domains</a> in the <i>Amazon Elasticsearch Service Developer Guide</i>.</p>",
          "shape": "ElasticsearchVersionString"
        },
        "EncryptionAtRestOptions": {
          "documentation": "<p>Specifies the Encryption At Rest Options.</p>",
          "shape": "EncryptionAtRestOptions"
        },
        "LogPublishingOptions": {
          "documentation": "<p>Map of <code>LogType</code> and <code>LogPublishingOption</code>, each containing options to publish a given type of Elasticsearch log.</p>",
          "shape": "LogPublishingOptions"
        },
        "NodeToNodeEncryptionOptions": {
          "documentation": "<p>Specifies the NodeToNodeEncryptionOptions.</p>",
          "shape": "NodeToNodeEncryptionOptions"
        },
        "SnapshotOptions": {
          "documentation": "<p>Option to set time, in UTC format, of the daily automated snapshot. Default value is 0 hours. </p>",
          "shape": "SnapshotOptions"
        },
        "VPCOptions": {
          "documentation": "<p>Options to specify the subnets and security groups for VPC endpoint. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html#es-creating-vpc\" target=\"_blank\">Creating a VPC</a> in <i>VPC Endpoints for Amazon Elasticsearch Service Domains</i></p>",
          "shape": "VPCOptions"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CreateElasticsearchDomainResponse": {
      "documentation": "<p>The result of a <code>CreateElasticsearchDomain</code> operation. Contains the status of the newly created Elasticsearch domain.</p>",
      "members": {
        "DomainStatus": {
          "documentation": "<p>The status of the newly created Elasticsearch domain. </p>",
          "shape": "ElasticsearchDomainStatus"
        }
      },
      "type": "structure"
    },
    "CreatePackageRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>CreatePackage</a> </code> operation. </p>",
      "members": {
        "PackageDescription": {
          "documentation": "<p>Description of the package.</p>",
          "shape": "PackageDescription"
        },
        "PackageName": {
          "documentation": "<p>Unique identifier for the package.</p>",
          "shape": "PackageName"
        },
        "PackageSource": {
          "documentation": "<p>The customer S3 location <code>PackageSource</code> for importing the package.</p>",
          "shape": "PackageSource"
        },
        "PackageType": {
          "documentation": "<p>Type of package. Currently supports only TXT-DICTIONARY.</p>",
          "shape": "PackageType"
        }
      },
      "required": [
        "PackageName",
        "PackageType",
        "PackageSource"
      ],
      "type": "structure"
    },
    "CreatePackageResponse": {
      "documentation": "<p> Container for response returned by <code> <a>CreatePackage</a> </code> operation. </p>",
      "members": {
        "PackageDetails": {
          "documentation": "<p>Information about the package <code>PackageDetails</code>.</p>",
          "shape": "PackageDetails"
        }
      },
      "type": "structure"
    },
    "CreatedAt": {
      "type": "timestamp"
    },
    "DeleteElasticsearchDomainRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DeleteElasticsearchDomain</a></code> operation. Specifies the name of the Elasticsearch domain that you want to delete.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the Elasticsearch domain that you want to permanently delete.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DeleteElasticsearchDomainResponse": {
      "documentation": "<p>The result of a <code>DeleteElasticsearchDomain</code> request. Contains the status of the pending deletion, or no status if the domain and all of its resources have been deleted.</p>",
      "members": {
        "DomainStatus": {
          "documentation": "<p>The status of the Elasticsearch domain being deleted.</p>",
          "shape": "ElasticsearchDomainStatus"
        }
      },
      "type": "structure"
    },
    "DeletePackageRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>DeletePackage</a> </code> operation. </p>",
      "members": {
        "PackageID": {
          "documentation": "<p>Internal ID of the package that you want to delete. Use <code>DescribePackages</code> to find this value.</p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID"
      ],
      "type": "structure"
    },
    "DeletePackageResponse": {
      "documentation": "<p> Container for response parameters to <code> <a>DeletePackage</a> </code> operation. </p>",
      "members": {
        "PackageDetails": {
          "documentation": "<p><code>PackageDetails</code></p>",
          "shape": "PackageDetails"
        }
      },
      "type": "structure"
    },
    "DeploymentCloseDateTimeStamp": {
      "type": "timestamp"
    },
    "DeploymentStatus": {
      "enum": [
        "PENDING_UPDATE",
        "IN_PROGRESS",
        "COMPLETED",
        "NOT_ELIGIBLE",
        "ELIGIBLE"
      ],
      "type": "string"
    },
    "DescribeElasticsearchDomainConfigRequest": {
      "documentation": "<p> Container for the parameters to the <code>DescribeElasticsearchDomainConfig</code> operation. Specifies the domain name for which you want configuration information.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The Elasticsearch domain that you want to get information about.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchDomainConfigResponse": {
      "documentation": "<p>The result of a <code>DescribeElasticsearchDomainConfig</code> request. Contains the configuration information of the requested domain.</p>",
      "members": {
        "DomainConfig": {
          "documentation": "<p>The configuration information of the domain requested in the <code>DescribeElasticsearchDomainConfig</code> request.</p>",
          "shape": "ElasticsearchDomainConfig"
        }
      },
      "required": [
        "DomainConfig"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchDomainRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomain</a></code> operation.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the Elasticsearch domain for which you want information.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchDomainResponse": {
      "documentation": "<p>The result of a <code>DescribeElasticsearchDomain</code> request. Contains the status of the domain specified in the request.</p>",
      "members": {
        "DomainStatus": {
          "documentation": "<p>The current status of the Elasticsearch domain.</p>",
          "shape": "ElasticsearchDomainStatus"
        }
      },
      "required": [
        "DomainStatus"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchDomainsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeElasticsearchDomains</a></code> operation. By default, the API returns the status of all Elasticsearch domains.</p>",
      "members": {
        "DomainNames": {
          "documentation": "<p>The Elasticsearch domains for which you want information.</p>",
          "shape": "DomainNameList"
        }
      },
      "required": [
        "DomainNames"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchDomainsResponse": {
      "documentation": "<p>The result of a <code>DescribeElasticsearchDomains</code> request. Contains the status of the specified domains or all domains owned by the account.</p>",
      "members": {
        "DomainStatusList": {
          "documentation": "<p>The status of the domains requested in the <code>DescribeElasticsearchDomains</code> request.</p>",
          "shape": "ElasticsearchDomainStatusList"
        }
      },
      "required": [
        "DomainStatusList"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchInstanceTypeLimitsRequest": {
      "documentation": "<p> Container for the parameters to <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p> DomainName represents the name of the Domain that we are trying to modify. This should be present only if we are querying for Elasticsearch <code> <a>Limits</a> </code> for existing domain. </p>",
          "location": "querystring",
          "locationName": "domainName",
          "shape": "DomainName"
        },
        "ElasticsearchVersion": {
          "documentation": "<p> Version of Elasticsearch for which <code> <a>Limits</a> </code> are needed. </p>",
          "location": "uri",
          "locationName": "ElasticsearchVersion",
          "shape": "ElasticsearchVersionString"
        },
        "InstanceType": {
          "documentation": "<p> The instance type for an Elasticsearch cluster for which Elasticsearch <code> <a>Limits</a> </code> are needed. </p>",
          "location": "uri",
          "locationName": "InstanceType",
          "shape": "ESPartitionInstanceType"
        }
      },
      "required": [
        "InstanceType",
        "ElasticsearchVersion"
      ],
      "type": "structure"
    },
    "DescribeElasticsearchInstanceTypeLimitsResponse": {
      "documentation": "<p> Container for the parameters received from <code> <a>DescribeElasticsearchInstanceTypeLimits</a> </code> operation. </p>",
      "members": {
        "LimitsByRole": {
          "shape": "LimitsByRole"
        }
      },
      "type": "structure"
    },
    "DescribePackagesFilter": {
      "documentation": "<p>Filter to apply in <code>DescribePackage</code> response.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Any field from <code>PackageDetails</code>.</p>",
          "shape": "DescribePackagesFilterName"
        },
        "Value": {
          "documentation": "<p>A list of values for the specified field.</p>",
          "shape": "DescribePackagesFilterValues"
        }
      },
      "type": "structure"
    },
    "DescribePackagesFilterList": {
      "documentation": "<p>A list of <code>DescribePackagesFilter</code> to filter the packages included in a <code>DescribePackages</code> response.</p>",
      "member": {
        "shape": "DescribePackagesFilter"
      },
      "type": "list"
    },
    "DescribePackagesFilterName": {
      "enum": [
        "PackageID",
        "PackageName",
        "PackageStatus"
      ],
      "type": "string"
    },
    "DescribePackagesFilterValue": {
      "pattern": "^[0-9a-zA-Z\\*\\.\\\\/\\?-]*$",
      "type": "string"
    },
    "DescribePackagesFilterValues": {
      "member": {
        "shape": "DescribePackagesFilterValue"
      },
      "type": "list"
    },
    "DescribePackagesRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>DescribePackage</a> </code> operation. </p>",
      "members": {
        "Filters": {
          "documentation": "<p>Only returns packages that match the <code>DescribePackagesFilterList</code> values.</p>",
          "shape": "DescribePackagesFilterList"
        },
        "MaxResults": {
          "documentation": "<p>Limits results to a maximum number of packages.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribePackagesResponse": {
      "documentation": "<p> Container for response returned by <code> <a>DescribePackages</a> </code> operation. </p>",
      "members": {
        "NextToken": {
          "shape": "String"
        },
        "PackageDetailsList": {
          "documentation": "<p>List of <code>PackageDetails</code> objects.</p>",
          "shape": "PackageDetailsList"
        }
      },
      "type": "structure"
    },
    "DescribeReservedElasticsearchInstanceOfferingsRequest": {
      "documentation": "<p>Container for parameters to <code>DescribeReservedElasticsearchInstanceOfferings</code></p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>NextToken should be sent in case if earlier API call produced result containing NextToken. It is used for pagination.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "ReservedElasticsearchInstanceOfferingId": {
          "documentation": "<p>The offering identifier filter value. Use this parameter to show only the available offering that matches the specified reservation identifier.</p>",
          "location": "querystring",
          "locationName": "offeringId",
          "shape": "GUID"
        }
      },
      "type": "structure"
    },
    "DescribeReservedElasticsearchInstanceOfferingsResponse": {
      "documentation": "<p>Container for results from <code>DescribeReservedElasticsearchInstanceOfferings</code></p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "NextToken"
        },
        "ReservedElasticsearchInstanceOfferings": {
          "documentation": "<p>List of reserved Elasticsearch instance offerings</p>",
          "shape": "ReservedElasticsearchInstanceOfferingList"
        }
      },
      "type": "structure"
    },
    "DescribeReservedElasticsearchInstancesRequest": {
      "documentation": "<p>Container for parameters to <code>DescribeReservedElasticsearchInstances</code></p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>Set this value to limit the number of results returned. If not specified, defaults to 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>NextToken should be sent in case if earlier API call produced result containing NextToken. It is used for pagination.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "ReservedElasticsearchInstanceId": {
          "documentation": "<p>The reserved instance identifier filter value. Use this parameter to show only the reservation that matches the specified reserved Elasticsearch instance ID.</p>",
          "location": "querystring",
          "locationName": "reservationId",
          "shape": "GUID"
        }
      },
      "type": "structure"
    },
    "DescribeReservedElasticsearchInstancesResponse": {
      "documentation": "<p>Container for results from <code>DescribeReservedElasticsearchInstances</code></p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Provides an identifier to allow retrieval of paginated results.</p>",
          "shape": "String"
        },
        "ReservedElasticsearchInstances": {
          "documentation": "<p>List of reserved Elasticsearch instances.</p>",
          "shape": "ReservedElasticsearchInstanceList"
        }
      },
      "type": "structure"
    },
    "DisabledOperationException": {
      "documentation": "<p>An error occured because the client wanted to access a not supported operation. Gives http status code of 409.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DissociatePackageRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>DissociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>Name of the domain that you want to associate the package with.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "PackageID": {
          "documentation": "<p>Internal ID of the package that you want to associate with a domain. Use <code>DescribePackages</code> to find this value.</p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID",
        "DomainName"
      ],
      "type": "structure"
    },
    "DissociatePackageResponse": {
      "documentation": "<p> Container for response returned by <code> <a>DissociatePackage</a> </code> operation. </p>",
      "members": {
        "DomainPackageDetails": {
          "documentation": "<p><code>DomainPackageDetails</code></p>",
          "shape": "DomainPackageDetails"
        }
      },
      "type": "structure"
    },
    "DomainEndpointOptions": {
      "documentation": "<p>Options to configure endpoint for the Elasticsearch domain.</p>",
      "members": {
        "EnforceHTTPS": {
          "documentation": "<p>Specify if only HTTPS endpoint should be enabled for the Elasticsearch domain.</p>",
          "shape": "Boolean"
        },
        "TLSSecurityPolicy": {
          "documentation": "<p>Specify the TLS security policy that needs to be applied to the HTTPS endpoint of Elasticsearch domain. <br/> It can be one of the following values: <ul> <li><b>Policy-Min-TLS-1-0-2019-07: </b> TLS security policy which supports TLSv1.0 and higher.</li> <li><b>Policy-Min-TLS-1-2-2019-07: </b> TLS security policy which supports only TLSv1.2</li> </ul> </p>",
          "shape": "TLSSecurityPolicy"
        }
      },
      "type": "structure"
    },
    "DomainEndpointOptionsStatus": {
      "documentation": "<p>The configured endpoint options for the domain and their current status.</p>",
      "members": {
        "Options": {
          "documentation": "<p>Options to configure endpoint for the Elasticsearch domain.</p>",
          "shape": "DomainEndpointOptions"
        },
        "Status": {
          "documentation": "<p>The status of the endpoint options for the Elasticsearch domain. See <code>OptionStatus</code> for the status information that's included. </p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "DomainId": {
      "documentation": "<p>Unique identifier for an Elasticsearch domain.</p>",
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "DomainInfo": {
      "members": {
        "DomainName": {
          "documentation": "<p> Specifies the <code>DomainName</code>.</p>",
          "shape": "DomainName"
        }
      },
      "type": "structure"
    },
    "DomainInfoList": {
      "documentation": "<p> Contains the list of Elasticsearch domain information.</p>",
      "member": {
        "shape": "DomainInfo"
      },
      "type": "list"
    },
    "DomainName": {
      "documentation": "<p>The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
      "max": 28,
      "min": 3,
      "pattern": "[a-z][a-z0-9\\-]+",
      "type": "string"
    },
    "DomainNameList": {
      "documentation": "<p>A list of Elasticsearch domain names.</p>",
      "member": {
        "shape": "DomainName"
      },
      "type": "list"
    },
    "DomainPackageDetails": {
      "documentation": "<p>Information on a package that is associated with a domain.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>Name of the domain you've associated a package with.</p>",
          "shape": "DomainName"
        },
        "DomainPackageStatus": {
          "documentation": "<p>State of the association. Values are ASSOCIATING/ASSOCIATION_FAILED/ACTIVE/DISSOCIATING/DISSOCIATION_FAILED.</p>",
          "shape": "DomainPackageStatus"
        },
        "ErrorDetails": {
          "documentation": "<p>Additional information if the package is in an error state. Null otherwise.</p>",
          "shape": "ErrorDetails"
        },
        "LastUpdated": {
          "documentation": "<p>Timestamp of the most-recent update to the association status.</p>",
          "shape": "LastUpdated"
        },
        "PackageID": {
          "documentation": "<p>Internal ID of the package.</p>",
          "shape": "PackageID"
        },
        "PackageName": {
          "documentation": "<p>User specified name of the package.</p>",
          "shape": "PackageName"
        },
        "PackageType": {
          "documentation": "<p>Currently supports only TXT-DICTIONARY.</p>",
          "shape": "PackageType"
        },
        "ReferencePath": {
          "documentation": "<p>The relative path on Amazon ES nodes, which can be used as synonym_path when the package is synonym file.</p>",
          "shape": "ReferencePath"
        }
      },
      "type": "structure"
    },
    "DomainPackageDetailsList": {
      "member": {
        "shape": "DomainPackageDetails"
      },
      "type": "list"
    },
    "DomainPackageStatus": {
      "enum": [
        "ASSOCIATING",
        "ASSOCIATION_FAILED",
        "ACTIVE",
        "DISSOCIATING",
        "DISSOCIATION_FAILED"
      ],
      "type": "string"
    },
    "Double": {
      "type": "double"
    },
    "EBSOptions": {
      "documentation": "<p>Options to enable, disable, and specify the properties of EBS storage volumes. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\"> Configuring EBS-based Storage</a>.</p>",
      "members": {
        "EBSEnabled": {
          "documentation": "<p>Specifies whether EBS-based storage is enabled.</p>",
          "shape": "Boolean"
        },
        "Iops": {
          "documentation": "<p>Specifies the IOPD for a Provisioned IOPS EBS volume (SSD).</p>",
          "shape": "IntegerClass"
        },
        "VolumeSize": {
          "documentation": "<p> Integer to specify the size of an EBS volume.</p>",
          "shape": "IntegerClass"
        },
        "VolumeType": {
          "documentation": "<p> Specifies the volume type for EBS-based storage.</p>",
          "shape": "VolumeType"
        }
      },
      "type": "structure"
    },
    "EBSOptionsStatus": {
      "documentation": "<p> Status of the EBS options for the specified Elasticsearch domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p> Specifies the EBS options for the specified Elasticsearch domain.</p>",
          "shape": "EBSOptions"
        },
        "Status": {
          "documentation": "<p> Specifies the status of the EBS options for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "ESPartitionInstanceType": {
      "enum": [
        "m3.medium.elasticsearch",
        "m3.large.elasticsearch",
        "m3.xlarge.elasticsearch",
        "m3.2xlarge.elasticsearch",
        "m4.large.elasticsearch",
        "m4.xlarge.elasticsearch",
        "m4.2xlarge.elasticsearch",
        "m4.4xlarge.elasticsearch",
        "m4.10xlarge.elasticsearch",
        "m5.large.elasticsearch",
        "m5.xlarge.elasticsearch",
        "m5.2xlarge.elasticsearch",
        "m5.4xlarge.elasticsearch",
        "m5.12xlarge.elasticsearch",
        "r5.large.elasticsearch",
        "r5.xlarge.elasticsearch",
        "r5.2xlarge.elasticsearch",
        "r5.4xlarge.elasticsearch",
        "r5.12xlarge.elasticsearch",
        "c5.large.elasticsearch",
        "c5.xlarge.elasticsearch",
        "c5.2xlarge.elasticsearch",
        "c5.4xlarge.elasticsearch",
        "c5.9xlarge.elasticsearch",
        "c5.18xlarge.elasticsearch",
        "ultrawarm1.medium.elasticsearch",
        "ultrawarm1.large.elasticsearch",
        "t2.micro.elasticsearch",
        "t2.small.elasticsearch",
        "t2.medium.elasticsearch",
        "r3.large.elasticsearch",
        "r3.xlarge.elasticsearch",
        "r3.2xlarge.elasticsearch",
        "r3.4xlarge.elasticsearch",
        "r3.8xlarge.elasticsearch",
        "i2.xlarge.elasticsearch",
        "i2.2xlarge.elasticsearch",
        "d2.xlarge.elasticsearch",
        "d2.2xlarge.elasticsearch",
        "d2.4xlarge.elasticsearch",
        "d2.8xlarge.elasticsearch",
        "c4.large.elasticsearch",
        "c4.xlarge.elasticsearch",
        "c4.2xlarge.elasticsearch",
        "c4.4xlarge.elasticsearch",
        "c4.8xlarge.elasticsearch",
        "r4.large.elasticsearch",
        "r4.xlarge.elasticsearch",
        "r4.2xlarge.elasticsearch",
        "r4.4xlarge.elasticsearch",
        "r4.8xlarge.elasticsearch",
        "r4.16xlarge.elasticsearch",
        "i3.large.elasticsearch",
        "i3.xlarge.elasticsearch",
        "i3.2xlarge.elasticsearch",
        "i3.4xlarge.elasticsearch",
        "i3.8xlarge.elasticsearch",
        "i3.16xlarge.elasticsearch"
      ],
      "type": "string"
    },
    "ESWarmPartitionInstanceType": {
      "enum": [
        "ultrawarm1.medium.elasticsearch",
        "ultrawarm1.large.elasticsearch"
      ],
      "type": "string"
    },
    "ElasticsearchClusterConfig": {
      "documentation": "<p>Specifies the configuration for the domain cluster, such as the type and number of instances.</p>",
      "members": {
        "DedicatedMasterCount": {
          "documentation": "<p>Total number of dedicated master nodes, active and on standby, for the cluster.</p>",
          "shape": "IntegerClass"
        },
        "DedicatedMasterEnabled": {
          "documentation": "<p>A boolean value to indicate whether a dedicated master node is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-dedicatedmasternodes\" target=\"_blank\">About Dedicated Master Nodes</a> for more information.</p>",
          "shape": "Boolean"
        },
        "DedicatedMasterType": {
          "documentation": "<p>The instance type for a dedicated master node.</p>",
          "shape": "ESPartitionInstanceType"
        },
        "InstanceCount": {
          "documentation": "<p>The number of instances in the specified domain cluster.</p>",
          "shape": "IntegerClass"
        },
        "InstanceType": {
          "documentation": "<p>The instance type for an Elasticsearch cluster. UltraWarm instance types are not supported for data instances.</p>",
          "shape": "ESPartitionInstanceType"
        },
        "WarmCount": {
          "documentation": "<p>The number of warm nodes in the cluster.</p>",
          "shape": "IntegerClass"
        },
        "WarmEnabled": {
          "documentation": "<p>True to enable warm storage.</p>",
          "shape": "Boolean"
        },
        "WarmType": {
          "documentation": "<p>The instance type for the Elasticsearch cluster's warm nodes.</p>",
          "shape": "ESWarmPartitionInstanceType"
        },
        "ZoneAwarenessConfig": {
          "documentation": "<p>Specifies the zone awareness configuration for a domain when zone awareness is enabled.</p>",
          "shape": "ZoneAwarenessConfig"
        },
        "ZoneAwarenessEnabled": {
          "documentation": "<p>A boolean value to indicate whether zone awareness is enabled. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-managedomains.html#es-managedomains-zoneawareness\" target=\"_blank\">About Zone Awareness</a> for more information.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ElasticsearchClusterConfigStatus": {
      "documentation": "<p> Specifies the configuration status for the specified Elasticsearch domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p> Specifies the cluster configuration for the specified Elasticsearch domain.</p>",
          "shape": "ElasticsearchClusterConfig"
        },
        "Status": {
          "documentation": "<p> Specifies the status of the configuration for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "ElasticsearchDomainConfig": {
      "documentation": "<p>The configuration of an Elasticsearch domain.</p>",
      "members": {
        "AccessPolicies": {
          "documentation": "<p>IAM access policy as a JSON-formatted string.</p>",
          "shape": "AccessPoliciesStatus"
        },
        "AdvancedOptions": {
          "documentation": "<p>Specifies the <code>AdvancedOptions</code> for the domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-advanced-options\" target=\"_blank\">Configuring Advanced Options</a> for more information.</p>",
          "shape": "AdvancedOptionsStatus"
        },
        "AdvancedSecurityOptions": {
          "documentation": "<p>Specifies <code>AdvancedSecurityOptions</code> for the domain. </p>",
          "shape": "AdvancedSecurityOptionsStatus"
        },
        "CognitoOptions": {
          "documentation": "<p>The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>",
          "shape": "CognitoOptionsStatus"
        },
        "DomainEndpointOptions": {
          "documentation": "<p>Specifies the <code>DomainEndpointOptions</code> for the Elasticsearch domain.</p>",
          "shape": "DomainEndpointOptionsStatus"
        },
        "EBSOptions": {
          "documentation": "<p>Specifies the <code>EBSOptions</code> for the Elasticsearch domain.</p>",
          "shape": "EBSOptionsStatus"
        },
        "ElasticsearchClusterConfig": {
          "documentation": "<p>Specifies the <code>ElasticsearchClusterConfig</code> for the Elasticsearch domain.</p>",
          "shape": "ElasticsearchClusterConfigStatus"
        },
        "ElasticsearchVersion": {
          "documentation": "<p>String of format X.Y to specify version for the Elasticsearch domain.</p>",
          "shape": "ElasticsearchVersionStatus"
        },
        "EncryptionAtRestOptions": {
          "documentation": "<p>Specifies the <code>EncryptionAtRestOptions</code> for the Elasticsearch domain.</p>",
          "shape": "EncryptionAtRestOptionsStatus"
        },
        "LogPublishingOptions": {
          "documentation": "<p>Log publishing options for the given domain.</p>",
          "shape": "LogPublishingOptionsStatus"
        },
        "NodeToNodeEncryptionOptions": {
          "documentation": "<p>Specifies the <code>NodeToNodeEncryptionOptions</code> for the Elasticsearch domain.</p>",
          "shape": "NodeToNodeEncryptionOptionsStatus"
        },
        "SnapshotOptions": {
          "documentation": "<p>Specifies the <code>SnapshotOptions</code> for the Elasticsearch domain.</p>",
          "shape": "SnapshotOptionsStatus"
        },
        "VPCOptions": {
          "documentation": "<p>The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.</p>",
          "shape": "VPCDerivedInfoStatus"
        }
      },
      "type": "structure"
    },
    "ElasticsearchDomainStatus": {
      "documentation": "<p>The current status of an Elasticsearch domain.</p>",
      "members": {
        "ARN": {
          "documentation": "<p>The Amazon resource name (ARN) of an Elasticsearch domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>",
          "shape": "ARN"
        },
        "AccessPolicies": {
          "documentation": "<p> IAM access policy as a JSON-formatted string.</p>",
          "shape": "PolicyDocument"
        },
        "AdvancedOptions": {
          "documentation": "<p>Specifies the status of the <code>AdvancedOptions</code></p>",
          "shape": "AdvancedOptions"
        },
        "AdvancedSecurityOptions": {
          "documentation": "<p>The current status of the Elasticsearch domain's advanced security options.</p>",
          "shape": "AdvancedSecurityOptions"
        },
        "CognitoOptions": {
          "documentation": "<p>The <code>CognitoOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-cognito-auth.html\" target=\"_blank\">Amazon Cognito Authentication for Kibana</a>.</p>",
          "shape": "CognitoOptions"
        },
        "Created": {
          "documentation": "<p>The domain creation status. <code>True</code> if the creation of an Elasticsearch domain is complete. <code>False</code> if domain creation is still in progress.</p>",
          "shape": "Boolean"
        },
        "Deleted": {
          "documentation": "<p>The domain deletion status. <code>True</code> if a delete request has been received for the domain but resource cleanup is still in progress. <code>False</code> if the domain has not been deleted. Once domain deletion is complete, the status of the domain is no longer returned.</p>",
          "shape": "Boolean"
        },
        "DomainEndpointOptions": {
          "documentation": "<p>The current status of the Elasticsearch domain's endpoint options.</p>",
          "shape": "DomainEndpointOptions"
        },
        "DomainId": {
          "documentation": "<p>The unique identifier for the specified Elasticsearch domain.</p>",
          "shape": "DomainId"
        },
        "DomainName": {
          "documentation": "<p>The name of an Elasticsearch domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
          "shape": "DomainName"
        },
        "EBSOptions": {
          "documentation": "<p>The <code>EBSOptions</code> for the specified domain. See <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-createupdatedomains.html#es-createdomain-configure-ebs\" target=\"_blank\">Configuring EBS-based Storage</a> for more information.</p>",
          "shape": "EBSOptions"
        },
        "ElasticsearchClusterConfig": {
          "documentation": "<p>The type and number of instances in the domain cluster.</p>",
          "shape": "ElasticsearchClusterConfig"
        },
        "ElasticsearchVersion": {
          "shape": "ElasticsearchVersionString"
        },
        "EncryptionAtRestOptions": {
          "documentation": "<p> Specifies the status of the <code>EncryptionAtRestOptions</code>.</p>",
          "shape": "EncryptionAtRestOptions"
        },
        "Endpoint": {
          "documentation": "<p>The Elasticsearch domain endpoint that you use to submit index and search requests.</p>",
          "shape": "ServiceUrl"
        },
        "Endpoints": {
          "documentation": "<p>Map containing the Elasticsearch domain endpoints used to submit index and search requests. Example <code>key, value</code>: <code>'vpc','vpc-endpoint-h2dsd34efgyghrtguk5gt6j2foh4.us-east-1.es.amazonaws.com'</code>.</p>",
          "shape": "EndpointsMap"
        },
        "LogPublishingOptions": {
          "documentation": "<p>Log publishing options for the given domain.</p>",
          "shape": "LogPublishingOptions"
        },
        "NodeToNodeEncryptionOptions": {
          "documentation": "<p>Specifies the status of the <code>NodeToNodeEncryptionOptions</code>.</p>",
          "shape": "NodeToNodeEncryptionOptions"
        },
        "Processing": {
          "documentation": "<p>The status of the Elasticsearch domain configuration. <code>True</code> if Amazon Elasticsearch Service is processing configuration changes. <code>False</code> if the configuration is active.</p>",
          "shape": "Boolean"
        },
        "ServiceSoftwareOptions": {
          "documentation": "<p>The current status of the Elasticsearch domain's service software.</p>",
          "shape": "ServiceSoftwareOptions"
        },
        "SnapshotOptions": {
          "documentation": "<p>Specifies the status of the <code>SnapshotOptions</code></p>",
          "shape": "SnapshotOptions"
        },
        "UpgradeProcessing": {
          "documentation": "<p>The status of an Elasticsearch domain version upgrade. <code>True</code> if Amazon Elasticsearch Service is undergoing a version upgrade. <code>False</code> if the configuration is active.</p>",
          "shape": "Boolean"
        },
        "VPCOptions": {
          "documentation": "<p>The <code>VPCOptions</code> for the specified domain. For more information, see <a href=\"http://docs.aws.amazon.com/elasticsearch-service/latest/developerguide/es-vpc.html\" target=\"_blank\">VPC Endpoints for Amazon Elasticsearch Service Domains</a>.</p>",
          "shape": "VPCDerivedInfo"
        }
      },
      "required": [
        "DomainId",
        "DomainName",
        "ARN",
        "ElasticsearchClusterConfig"
      ],
      "type": "structure"
    },
    "ElasticsearchDomainStatusList": {
      "documentation": "<p>A list that contains the status of each requested Elasticsearch domain.</p>",
      "member": {
        "shape": "ElasticsearchDomainStatus"
      },
      "type": "list"
    },
    "ElasticsearchInstanceTypeList": {
      "documentation": "<p> List of instance types supported by Amazon Elasticsearch service. </p>",
      "member": {
        "shape": "ESPartitionInstanceType"
      },
      "type": "list"
    },
    "ElasticsearchVersionList": {
      "documentation": "<p>List of supported elastic search versions. </p>",
      "member": {
        "shape": "ElasticsearchVersionString"
      },
      "type": "list"
    },
    "ElasticsearchVersionStatus": {
      "documentation": "<p> Status of the Elasticsearch version options for the specified Elasticsearch domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p> Specifies the Elasticsearch version for the specified Elasticsearch domain.</p>",
          "shape": "ElasticsearchVersionString"
        },
        "Status": {
          "documentation": "<p> Specifies the status of the Elasticsearch version options for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "ElasticsearchVersionString": {
      "type": "string"
    },
    "EncryptionAtRestOptions": {
      "documentation": "<p>Specifies the Encryption At Rest Options.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Specifies the option to enable Encryption At Rest.</p>",
          "shape": "Boolean"
        },
        "KmsKeyId": {
          "documentation": "<p> Specifies the KMS Key ID for Encryption At Rest options.</p>",
          "shape": "KmsKeyId"
        }
      },
      "type": "structure"
    },
    "EncryptionAtRestOptionsStatus": {
      "documentation": "<p> Status of the Encryption At Rest options for the specified Elasticsearch domain.</p>",
      "members": {
        "Options": {
          "documentation": "<p> Specifies the Encryption At Rest options for the specified Elasticsearch domain.</p>",
          "shape": "EncryptionAtRestOptions"
        },
        "Status": {
          "documentation": "<p> Specifies the status of the Encryption At Rest options for the specified Elasticsearch domain.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "EndpointsMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "ServiceUrl"
      }
    },
    "ErrorDetails": {
      "members": {
        "ErrorMessage": {
          "shape": "ErrorMessage"
        },
        "ErrorType": {
          "shape": "ErrorType"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorType": {
      "type": "string"
    },
    "GUID": {
      "pattern": "\\p{XDigit}{8}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{4}-\\p{XDigit}{12}",
      "type": "string"
    },
    "GetCompatibleElasticsearchVersionsRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "location": "querystring",
          "locationName": "domainName",
          "shape": "DomainName"
        }
      },
      "type": "structure"
    },
    "GetCompatibleElasticsearchVersionsResponse": {
      "documentation": "<p> Container for response returned by <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. </p>",
      "members": {
        "CompatibleElasticsearchVersions": {
          "documentation": "<p> A map of compatible Elasticsearch versions returned as part of the <code> <a>GetCompatibleElasticsearchVersions</a> </code> operation. </p>",
          "shape": "CompatibleElasticsearchVersionsList"
        }
      },
      "type": "structure"
    },
    "GetUpgradeHistoryRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>GetUpgradeHistory</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "MaxResults": {
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "GetUpgradeHistoryResponse": {
      "documentation": "<p> Container for response returned by <code> <a>GetUpgradeHistory</a> </code> operation. </p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Pagination token that needs to be supplied to the next call to get the next page of results</p>",
          "shape": "String"
        },
        "UpgradeHistories": {
          "documentation": "<p> A list of <code> <a>UpgradeHistory</a> </code> objects corresponding to each Upgrade or Upgrade Eligibility Check performed on a domain returned as part of <code> <a>GetUpgradeHistoryResponse</a> </code> object. </p>",
          "shape": "UpgradeHistoryList"
        }
      },
      "type": "structure"
    },
    "GetUpgradeStatusRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>GetUpgradeStatus</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "GetUpgradeStatusResponse": {
      "documentation": "<p> Container for response returned by <code> <a>GetUpgradeStatus</a> </code> operation. </p>",
      "members": {
        "StepStatus": {
          "documentation": "<p> One of 4 statuses that a step can go through returned as part of the <code> <a>GetUpgradeStatusResponse</a> </code> object. The status can take one of the following values: <ul> <li>In Progress</li> <li>Succeeded</li> <li>Succeeded with Issues</li> <li>Failed</li> </ul> </p>",
          "shape": "UpgradeStatus"
        },
        "UpgradeName": {
          "documentation": "<p>A string that describes the update briefly</p>",
          "shape": "UpgradeName"
        },
        "UpgradeStep": {
          "documentation": "<p> Represents one of 3 steps that an Upgrade or Upgrade Eligibility Check does through: <ul> <li>PreUpgradeCheck</li> <li>Snapshot</li> <li>Upgrade</li> </ul> </p>",
          "shape": "UpgradeStep"
        }
      },
      "type": "structure"
    },
    "IdentityPoolId": {
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+",
      "type": "string"
    },
    "InstanceCount": {
      "documentation": "<p>Specifies the number of EC2 instances in the Elasticsearch domain.</p>",
      "min": 1,
      "type": "integer"
    },
    "InstanceCountLimits": {
      "documentation": "<p> InstanceCountLimits represents the limits on number of instances that be created in Amazon Elasticsearch for given InstanceType. </p>",
      "members": {
        "MaximumInstanceCount": {
          "shape": "MaximumInstanceCount"
        },
        "MinimumInstanceCount": {
          "shape": "MinimumInstanceCount"
        }
      },
      "type": "structure"
    },
    "InstanceLimits": {
      "documentation": "<p>InstanceLimits represents the list of instance related attributes that are available for given InstanceType. </p>",
      "members": {
        "InstanceCountLimits": {
          "shape": "InstanceCountLimits"
        }
      },
      "type": "structure"
    },
    "InstanceRole": {
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "IntegerClass": {
      "type": "integer"
    },
    "InternalException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception or failure (the failure is internal to the service) . Gives http status code of 500.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTypeException": {
      "documentation": "<p>An exception for trying to create or access sub-resource that is either invalid or not supported. Gives http status code of 409.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Issue": {
      "type": "string"
    },
    "Issues": {
      "member": {
        "shape": "Issue"
      },
      "type": "list"
    },
    "KmsKeyId": {
      "max": 500,
      "min": 1,
      "type": "string"
    },
    "LastUpdated": {
      "type": "timestamp"
    },
    "LimitExceededException": {
      "documentation": "<p>An exception for trying to create more than allowed resources or sub-resources. Gives http status code of 409.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "LimitName": {
      "type": "string"
    },
    "LimitValue": {
      "type": "string"
    },
    "LimitValueList": {
      "member": {
        "shape": "LimitValue"
      },
      "type": "list"
    },
    "Limits": {
      "documentation": "<p> Limits for given InstanceType and for each of it's role. <br/> Limits contains following <code> <a>StorageTypes,</a> </code> <code> <a>InstanceLimits</a> </code> and <code> <a>AdditionalLimits</a> </code> </p>",
      "members": {
        "AdditionalLimits": {
          "documentation": "<p> List of additional limits that are specific to a given InstanceType and for each of it's <code> <a>InstanceRole</a> </code> . </p>",
          "shape": "AdditionalLimitList"
        },
        "InstanceLimits": {
          "shape": "InstanceLimits"
        },
        "StorageTypes": {
          "documentation": "<p>StorageType represents the list of storage related types and attributes that are available for given InstanceType. </p>",
          "shape": "StorageTypeList"
        }
      },
      "type": "structure"
    },
    "LimitsByRole": {
      "documentation": "<p> Map of Role of the Instance and Limits that are applicable. Role performed by given Instance in Elasticsearch can be one of the following: <ul> <li>data: If the given InstanceType is used as data node</li> <li>master: If the given InstanceType is used as master node</li> <li>ultra_warm: If the given InstanceType is used as warm node</li> </ul> </p>",
      "key": {
        "shape": "InstanceRole"
      },
      "type": "map",
      "value": {
        "shape": "Limits"
      }
    },
    "ListDomainNamesResponse": {
      "documentation": "<p>The result of a <code>ListDomainNames</code> operation. Contains the names of all Elasticsearch domains owned by this account.</p>",
      "members": {
        "DomainNames": {
          "documentation": "<p>List of Elasticsearch domain names.</p>",
          "shape": "DomainInfoList"
        }
      },
      "type": "structure"
    },
    "ListDomainsForPackageRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>ListDomainsForPackage</a> </code> operation. </p>",
      "members": {
        "MaxResults": {
          "documentation": "<p>Limits results to a maximum number of domains.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "PackageID": {
          "documentation": "<p>The package for which to list domains.</p>",
          "location": "uri",
          "locationName": "PackageID",
          "shape": "PackageID"
        }
      },
      "required": [
        "PackageID"
      ],
      "type": "structure"
    },
    "ListDomainsForPackageResponse": {
      "documentation": "<p> Container for response parameters to <code> <a>ListDomainsForPackage</a> </code> operation. </p>",
      "members": {
        "DomainPackageDetailsList": {
          "documentation": "<p>List of <code>DomainPackageDetails</code> objects.</p>",
          "shape": "DomainPackageDetailsList"
        },
        "NextToken": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListElasticsearchInstanceTypesRequest": {
      "documentation": "<p> Container for the parameters to the <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>DomainName represents the name of the Domain that we are trying to modify. This should be present only if we are querying for list of available Elasticsearch instance types when modifying existing domain. </p>",
          "location": "querystring",
          "locationName": "domainName",
          "shape": "DomainName"
        },
        "ElasticsearchVersion": {
          "documentation": "<p>Version of Elasticsearch for which list of supported elasticsearch instance types are needed. </p>",
          "location": "uri",
          "locationName": "ElasticsearchVersion",
          "shape": "ElasticsearchVersionString"
        },
        "MaxResults": {
          "documentation": "<p> Set this value to limit the number of results returned. Value provided must be greater than 30 else it wont be honored. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>NextToken should be sent in case if earlier API call produced result containing NextToken. It is used for pagination. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "ElasticsearchVersion"
      ],
      "type": "structure"
    },
    "ListElasticsearchInstanceTypesResponse": {
      "documentation": "<p> Container for the parameters returned by <code> <a>ListElasticsearchInstanceTypes</a> </code> operation. </p>",
      "members": {
        "ElasticsearchInstanceTypes": {
          "documentation": "<p> List of instance types supported by Amazon Elasticsearch service for given <code> <a>ElasticsearchVersion</a> </code> </p>",
          "shape": "ElasticsearchInstanceTypeList"
        },
        "NextToken": {
          "documentation": "<p>In case if there are more results available NextToken would be present, make further request to the same API with received NextToken to paginate remaining results. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListElasticsearchVersionsRequest": {
      "documentation": "<p> Container for the parameters to the <code> <a>ListElasticsearchVersions</a> </code> operation. <p> Use <code> <a>MaxResults</a> </code> to control the maximum number of results to retrieve in a single call. </p> <p> Use <code> <a>NextToken</a> </code> in response to retrieve more results. If the received response does not contain a NextToken, then there are no more results to retrieve. </p> </p>",
      "members": {
        "MaxResults": {
          "documentation": "<p> Set this value to limit the number of results returned. Value provided must be greater than 10 else it wont be honored. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListElasticsearchVersionsResponse": {
      "documentation": "<p> Container for the parameters for response received from <code> <a>ListElasticsearchVersions</a> </code> operation. </p>",
      "members": {
        "ElasticsearchVersions": {
          "shape": "ElasticsearchVersionList"
        },
        "NextToken": {
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListPackagesForDomainRequest": {
      "documentation": "<p> Container for request parameters to <code> <a>ListPackagesForDomain</a> </code> operation. </p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain for which you want to list associated packages.</p>",
          "location": "uri",
          "locationName": "DomainName",
          "shape": "DomainName"
        },
        "MaxResults": {
          "documentation": "<p>Limits results to a maximum number of packages.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>Used for pagination. Only necessary if a previous API call includes a non-null NextToken value. If provided, returns results for the next page.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "ListPackagesForDomainResponse": {
      "documentation": "<p> Container for response parameters to <code> <a>ListPackagesForDomain</a> </code> operation. </p>",
      "members": {
        "DomainPackageDetailsList": {
          "documentation": "<p>List of <code>DomainPackageDetails</code> objects.</p>",
          "shape": "DomainPackageDetailsList"
        },
        "NextToken": {
          "documentation": "<p>Pagination token that needs to be supplied to the next call to get the next page of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListTagsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>ListTags</a></code> operation. Specify the <code>ARN</code> for the Elasticsearch domain to which the tags are attached that you want to view are attached.</p>",
      "members": {
        "ARN": {
[...]
