{
  "documentation": "<fullname>AWS Step Functions</fullname> <p>AWS Step Functions is a service that lets you coordinate the components of distributed applications and microservices using visual workflows.</p> <p>You can use Step Functions to build applications from individual components, each of which performs a discrete function, or <i>task</i>, allowing you to scale and change applications quickly. Step Functions provides a console that helps visualize the components of your application as a series of steps. Step Functions automatically triggers and tracks each step, and retries steps when there are errors, so your application executes predictably and in the right order every time. Step Functions logs the state of each step, so you can quickly diagnose and debug any issues.</p> <p>Step Functions manages operations and underlying infrastructure to ensure your application is available at any scale. You can run tasks on AWS, your own servers, or any system that has access to AWS. You can access and use Step Functions using the console, the AWS SDKs, or an HTTP API. For more information about Step Functions, see the <i> <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/welcome.html\">AWS Step Functions Developer Guide</a> </i>.</p>",
  "metadata": {
    "apiVersion": "2016-11-23",
    "endpointPrefix": "states",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceAbbreviation": "AWS SFN",
    "serviceFullName": "AWS Step Functions",
    "serviceId": "SFN",
    "signatureVersion": "v4",
    "targetPrefix": "AWSStepFunctions",
    "uid": "states-2016-11-23"
  },
  "operations": {
    "CreateActivity": {
      "documentation": "<p>Creates an activity. An activity is a task that you write in any programming language and host on any machine that has access to AWS Step Functions. Activities must poll Step Functions using the <code>GetActivityTask</code> API action and respond using <code>SendTask*</code> API actions. This function lets Step Functions know the existence of your activity and returns an identifier for use in a state machine and when polling from the activity.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note> <note> <p> <code>CreateActivity</code> is an idempotent API. Subsequent requests won\u2019t create a duplicate resource if it was already created. <code>CreateActivity</code>'s idempotency check is based on the activity <code>name</code>. If a following request has different <code>tags</code> values, Step Functions will ignore these differences and treat it as an idempotent request of the previous. In this case, <code>tags</code> will not be updated, even if they are different.</p> </note>",
      "errors": [
        {
          "shape": "ActivityLimitExceeded"
        },
        {
          "shape": "InvalidName"
        },
        {
          "shape": "TooManyTags"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateActivityInput"
      },
      "name": "CreateActivity",
      "output": {
        "shape": "CreateActivityOutput"
      }
    },
    "CreateStateMachine": {
      "documentation": "<p>Creates a state machine. A state machine consists of a collection of states that can do work (<code>Task</code> states), determine to which states to transition next (<code>Choice</code> states), stop an execution with an error (<code>Fail</code> states), and so on. State machines are specified using a JSON-based, structured language. For more information, see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States Language</a> in the AWS Step Functions User Guide.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note> <note> <p> <code>CreateStateMachine</code> is an idempotent API. Subsequent requests won\u2019t create a duplicate resource if it was already created. <code>CreateStateMachine</code>'s idempotency check is based on the state machine <code>name</code>, <code>definition</code>, <code>type</code>, and <code>LoggingConfiguration</code>. If a following request has a different <code>roleArn</code> or <code>tags</code>, Step Functions will ignore these differences and treat it as an idempotent request of the previous. In this case, <code>roleArn</code> and <code>tags</code> will not be updated, even if they are different.</p> </note>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "InvalidDefinition"
        },
        {
          "shape": "InvalidName"
        },
        {
          "shape": "InvalidLoggingConfiguration"
        },
        {
          "shape": "StateMachineAlreadyExists"
        },
        {
          "shape": "StateMachineDeleting"
        },
        {
          "shape": "StateMachineLimitExceeded"
        },
        {
          "shape": "StateMachineTypeNotSupported"
        },
        {
          "shape": "TooManyTags"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateStateMachineInput"
      },
      "name": "CreateStateMachine",
      "output": {
        "shape": "CreateStateMachineOutput"
      }
    },
    "DeleteActivity": {
      "documentation": "<p>Deletes an activity.</p>",
      "errors": [
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteActivityInput"
      },
      "name": "DeleteActivity",
      "output": {
        "shape": "DeleteActivityOutput"
      }
    },
    "DeleteStateMachine": {
      "documentation": "<p>Deletes a state machine. This is an asynchronous operation: It sets the state machine's status to <code>DELETING</code> and begins the deletion process. </p> <note> <p>For <code>EXPRESS</code>state machines, the deletion will happen eventually (usually less than a minute). Running executions may emit logs after <code>DeleteStateMachine</code> API is called.</p> </note>",
      "errors": [
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStateMachineInput"
      },
      "name": "DeleteStateMachine",
      "output": {
        "shape": "DeleteStateMachineOutput"
      }
    },
    "DescribeActivity": {
      "documentation": "<p>Describes an activity.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note>",
      "errors": [
        {
          "shape": "ActivityDoesNotExist"
        },
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeActivityInput"
      },
      "name": "DescribeActivity",
      "output": {
        "shape": "DescribeActivityOutput"
      }
    },
    "DescribeExecution": {
      "documentation": "<p>Describes an execution.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note> <p>This API action is not supported by <code>EXPRESS</code> state machines.</p>",
      "errors": [
        {
          "shape": "ExecutionDoesNotExist"
        },
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExecutionInput"
      },
      "name": "DescribeExecution",
      "output": {
        "shape": "DescribeExecutionOutput"
      }
    },
    "DescribeStateMachine": {
      "documentation": "<p>Describes a state machine.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "StateMachineDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStateMachineInput"
      },
      "name": "DescribeStateMachine",
      "output": {
        "shape": "DescribeStateMachineOutput"
      }
    },
    "DescribeStateMachineForExecution": {
      "documentation": "<p>Describes the state machine associated with a specific execution.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note> <p>This API action is not supported by <code>EXPRESS</code> state machines.</p>",
      "errors": [
        {
          "shape": "ExecutionDoesNotExist"
        },
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStateMachineForExecutionInput"
      },
      "name": "DescribeStateMachineForExecution",
      "output": {
        "shape": "DescribeStateMachineForExecutionOutput"
      }
    },
    "GetActivityTask": {
      "documentation": "<p>Used by workers to retrieve a task (with the specified activity ARN) which has been scheduled for execution by a running state machine. This initiates a long poll, where the service holds the HTTP connection open and responds as soon as a task becomes available (i.e. an execution of a task of this type is needed.) The maximum time the service holds on to the request before responding is 60 seconds. If no task is available within 60 seconds, the poll returns a <code>taskToken</code> with a null string.</p> <important> <p>Workers should set their client side socket timeout to at least 65 seconds (5 seconds higher than the maximum time the service may hold the poll request).</p> <p>Polling with <code>GetActivityTask</code> can cause latency in some implementations. See <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/bp-activity-pollers.html\">Avoid Latency When Polling for Activity Tasks</a> in the Step Functions Developer Guide.</p> </important>",
      "errors": [
        {
          "shape": "ActivityDoesNotExist"
        },
        {
          "shape": "ActivityWorkerLimitExceeded"
        },
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetActivityTaskInput"
      },
      "name": "GetActivityTask",
      "output": {
        "shape": "GetActivityTaskOutput"
      }
    },
    "GetExecutionHistory": {
      "documentation": "<p>Returns the history of the specified execution as a list of events. By default, the results are returned in ascending order of the <code>timeStamp</code> of the events. Use the <code>reverseOrder</code> parameter to get the latest events first.</p> <p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p> <p>This API action is not supported by <code>EXPRESS</code> state machines.</p>",
      "errors": [
        {
          "shape": "ExecutionDoesNotExist"
        },
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "InvalidToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetExecutionHistoryInput"
      },
      "name": "GetExecutionHistory",
      "output": {
        "shape": "GetExecutionHistoryOutput"
      }
    },
    "ListActivities": {
      "documentation": "<p>Lists the existing activities.</p> <p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note>",
      "errors": [
        {
          "shape": "InvalidToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListActivitiesInput"
      },
      "name": "ListActivities",
      "output": {
        "shape": "ListActivitiesOutput"
      }
    },
    "ListExecutions": {
      "documentation": "<p>Lists the executions of a state machine that meet the filtering criteria. Results are sorted by time, with the most recent execution first.</p> <p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note> <p>This API action is not supported by <code>EXPRESS</code> state machines.</p>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "InvalidToken"
        },
        {
          "shape": "StateMachineDoesNotExist"
        },
        {
          "shape": "StateMachineTypeNotSupported"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExecutionsInput"
      },
      "name": "ListExecutions",
      "output": {
        "shape": "ListExecutionsOutput"
      }
    },
    "ListStateMachines": {
      "documentation": "<p>Lists the existing state machines.</p> <p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p> <note> <p>This operation is eventually consistent. The results are best effort and may not reflect very recent updates and changes.</p> </note>",
      "errors": [
        {
          "shape": "InvalidToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStateMachinesInput"
      },
      "name": "ListStateMachines",
      "output": {
        "shape": "ListStateMachinesOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List tags for a given resource.</p> <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "SendTaskFailure": {
      "documentation": "<p>Used by activity workers and task states using the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/connect-to-resource.html#connect-wait-token\">callback</a> pattern to report that the task identified by the <code>taskToken</code> failed.</p>",
      "errors": [
        {
          "shape": "TaskDoesNotExist"
        },
        {
          "shape": "InvalidToken"
        },
        {
          "shape": "TaskTimedOut"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendTaskFailureInput"
      },
      "name": "SendTaskFailure",
      "output": {
        "shape": "SendTaskFailureOutput"
      }
    },
    "SendTaskHeartbeat": {
      "documentation": "<p>Used by activity workers and task states using the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/connect-to-resource.html#connect-wait-token\">callback</a> pattern to report to Step Functions that the task represented by the specified <code>taskToken</code> is still making progress. This action resets the <code>Heartbeat</code> clock. The <code>Heartbeat</code> threshold is specified in the state machine's Amazon States Language definition (<code>HeartbeatSeconds</code>). This action does not in itself create an event in the execution history. However, if the task times out, the execution history contains an <code>ActivityTimedOut</code> entry for activities, or a <code>TaskTimedOut</code> entry for for tasks using the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/connect-to-resource.html#connect-sync\">job run</a> or <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/connect-to-resource.html#connect-wait-token\">callback</a> pattern.</p> <note> <p>The <code>Timeout</code> of a task, defined in the state machine's Amazon States Language definition, is its maximum allowed duration, regardless of the number of <a>SendTaskHeartbeat</a> requests received. Use <code>HeartbeatSeconds</code> to configure the timeout interval for heartbeats.</p> </note>",
      "errors": [
        {
          "shape": "TaskDoesNotExist"
        },
        {
          "shape": "InvalidToken"
        },
        {
          "shape": "TaskTimedOut"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendTaskHeartbeatInput"
      },
      "name": "SendTaskHeartbeat",
      "output": {
        "shape": "SendTaskHeartbeatOutput"
      }
    },
    "SendTaskSuccess": {
      "documentation": "<p>Used by activity workers and task states using the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/connect-to-resource.html#connect-wait-token\">callback</a> pattern to report that the task identified by the <code>taskToken</code> completed successfully.</p>",
      "errors": [
        {
          "shape": "TaskDoesNotExist"
        },
        {
          "shape": "InvalidOutput"
        },
        {
          "shape": "InvalidToken"
        },
        {
          "shape": "TaskTimedOut"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendTaskSuccessInput"
      },
      "name": "SendTaskSuccess",
      "output": {
        "shape": "SendTaskSuccessOutput"
      }
    },
    "StartExecution": {
      "documentation": "<p>Starts a state machine execution.</p> <note> <p> <code>StartExecution</code> is idempotent. If <code>StartExecution</code> is called with the same name and input as a running execution, the call will succeed and return the same response as the original request. If the execution is closed or if the input is different, it will return a 400 <code>ExecutionAlreadyExists</code> error. Names can be reused after 90 days. </p> </note>",
      "errors": [
        {
          "shape": "ExecutionLimitExceeded"
        },
        {
          "shape": "ExecutionAlreadyExists"
        },
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "InvalidExecutionInput"
        },
        {
          "shape": "InvalidName"
        },
        {
          "shape": "StateMachineDoesNotExist"
        },
        {
          "shape": "StateMachineDeleting"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartExecutionInput"
      },
      "name": "StartExecution",
      "output": {
        "shape": "StartExecutionOutput"
      }
    },
    "StopExecution": {
      "documentation": "<p>Stops an execution.</p> <p>This API action is not supported by <code>EXPRESS</code> state machines.</p>",
      "errors": [
        {
          "shape": "ExecutionDoesNotExist"
        },
        {
          "shape": "InvalidArn"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopExecutionInput"
      },
      "name": "StopExecution",
      "output": {
        "shape": "StopExecutionOutput"
      }
    },
    "TagResource": {
      "documentation": "<p>Add a tag to a Step Functions resource.</p> <p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>, and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p> <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "ResourceNotFound"
        },
        {
          "shape": "TooManyTags"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p>Remove a tag from a Step Functions resource</p>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "ResourceNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateStateMachine": {
      "documentation": "<p>Updates an existing state machine by modifying its <code>definition</code>, <code>roleArn</code>, or <code>loggingConfiguration</code>. Running executions will continue to use the previous <code>definition</code> and <code>roleArn</code>. You must include at least one of <code>definition</code> or <code>roleArn</code> or you will receive a <code>MissingRequiredParameter</code> error.</p> <note> <p>All <code>StartExecution</code> calls within a few seconds will use the updated <code>definition</code> and <code>roleArn</code>. Executions started immediately after calling <code>UpdateStateMachine</code> may use the previous state machine <code>definition</code> and <code>roleArn</code>. </p> </note>",
      "errors": [
        {
          "shape": "InvalidArn"
        },
        {
          "shape": "InvalidDefinition"
        },
        {
          "shape": "InvalidLoggingConfiguration"
        },
        {
          "shape": "MissingRequiredParameter"
        },
        {
          "shape": "StateMachineDeleting"
        },
        {
          "shape": "StateMachineDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateStateMachineInput"
      },
      "name": "UpdateStateMachine",
      "output": {
        "shape": "UpdateStateMachineOutput"
      }
    }
  },
  "shapes": {
    "ActivityDoesNotExist": {
      "documentation": "<p>The specified activity does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ActivityFailedEventDetails": {
      "documentation": "<p>Contains details about an activity that failed during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "ActivityLimitExceeded": {
      "documentation": "<p>The maximum number of activities has been reached. Existing activities must be deleted before a new activity can be created.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ActivityList": {
      "member": {
        "shape": "ActivityListItem"
      },
      "type": "list"
    },
    "ActivityListItem": {
      "documentation": "<p>Contains details about an activity.</p>",
      "members": {
        "activityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
          "shape": "Arn"
        },
        "creationDate": {
          "documentation": "<p>The date the activity is created.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "activityArn",
        "name",
        "creationDate"
      ],
      "type": "structure"
    },
    "ActivityScheduleFailedEventDetails": {
      "documentation": "<p>Contains details about an activity schedule failure that occurred during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "ActivityScheduledEventDetails": {
      "documentation": "<p>Contains details about an activity scheduled during an execution.</p>",
      "members": {
        "heartbeatInSeconds": {
          "box": true,
          "documentation": "<p>The maximum allowed duration between two heartbeats for the activity task.</p>",
          "shape": "TimeoutInSeconds"
        },
        "input": {
          "documentation": "<p>The JSON data input to the activity task.</p>",
          "shape": "SensitiveData"
        },
        "resource": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the scheduled activity.</p>",
          "shape": "Arn"
        },
        "timeoutInSeconds": {
          "box": true,
          "documentation": "<p>The maximum allowed duration of the activity task.</p>",
          "shape": "TimeoutInSeconds"
        }
      },
      "required": [
        "resource"
      ],
      "type": "structure"
    },
    "ActivityStartedEventDetails": {
      "documentation": "<p>Contains details about the start of an activity during an execution.</p>",
      "members": {
        "workerName": {
          "documentation": "<p>The name of the worker that the task is assigned to. These names are provided by the workers when calling <a>GetActivityTask</a>.</p>",
          "shape": "Identity"
        }
      },
      "type": "structure"
    },
    "ActivitySucceededEventDetails": {
      "documentation": "<p>Contains details about an activity that successfully terminated during an execution.</p>",
      "members": {
        "output": {
          "documentation": "<p>The JSON data output by the activity task.</p>",
          "shape": "SensitiveData"
        }
      },
      "type": "structure"
    },
    "ActivityTimedOutEventDetails": {
      "documentation": "<p>Contains details about an activity timeout that occurred during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the timeout.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "ActivityWorkerLimitExceeded": {
      "documentation": "<p>The maximum number of workers concurrently polling for activity tasks has been reached.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "CloudWatchLogsLogGroup": {
      "documentation": "<p/>",
      "members": {
        "logGroupArn": {
          "documentation": "<p>The ARN of the the CloudWatch log group to which you want your logs emitted to. The ARN must end with <code>:*</code> </p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "ConnectorParameters": {
      "max": 32768,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "CreateActivityInput": {
      "members": {
        "name": {
          "documentation": "<p>The name of the activity to create. This name must be unique for your AWS account and region for 90 days. For more information, see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/limits.html#service-limits-state-machine-executions\"> Limits Related to State Machine Executions</a> in the <i>AWS Step Functions Developer Guide</i>.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "tags": {
          "documentation": "<p>The list of tags to add to a resource.</p> <p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>, and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p> <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateActivityOutput": {
      "members": {
        "activityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the created activity.</p>",
          "shape": "Arn"
        },
        "creationDate": {
          "documentation": "<p>The date the activity is created.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "activityArn",
        "creationDate"
      ],
      "type": "structure"
    },
    "CreateStateMachineInput": {
      "members": {
        "definition": {
          "documentation": "<p>The Amazon States Language definition of the state machine. See <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States Language</a>.</p>",
          "shape": "Definition"
        },
        "loggingConfiguration": {
          "documentation": "<p>Defines what execution history events are logged and where they are logged.</p> <note> <p>By default, the <code>level</code> is set to <code>OFF</code>. For more information see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/cloudwatch-log-level.html\">Log Levels</a> in the AWS Step Functions User Guide.</p> </note>",
          "shape": "LoggingConfiguration"
        },
        "name": {
          "documentation": "<p>The name of the state machine. </p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to use for this state machine.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>Tags to be added when creating a state machine.</p> <p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>, and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p> <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>",
          "shape": "TagList"
        },
        "type": {
          "documentation": "<p>Determines whether a Standard or Express state machine is created. The default is <code>STANDARD</code>. You cannot update the <code>type</code> of a state machine once it has been created.</p>",
          "shape": "StateMachineType"
        }
      },
      "required": [
        "name",
        "definition",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateStateMachineOutput": {
      "members": {
        "creationDate": {
          "documentation": "<p>The date the state machine is created.</p>",
          "shape": "Timestamp"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the created state machine.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "stateMachineArn",
        "creationDate"
      ],
      "type": "structure"
    },
    "Definition": {
      "max": 1048576,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "DeleteActivityInput": {
      "members": {
        "activityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the activity to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "activityArn"
      ],
      "type": "structure"
    },
    "DeleteActivityOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteStateMachineInput": {
      "members": {
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the state machine to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "stateMachineArn"
      ],
      "type": "structure"
    },
    "DeleteStateMachineOutput": {
      "members": {},
      "type": "structure"
    },
    "DescribeActivityInput": {
      "members": {
        "activityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the activity to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "activityArn"
      ],
      "type": "structure"
    },
    "DescribeActivityOutput": {
      "members": {
        "activityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the activity.</p>",
          "shape": "Arn"
        },
        "creationDate": {
          "documentation": "<p>The date the activity is created.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the activity.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "activityArn",
        "name",
        "creationDate"
      ],
      "type": "structure"
    },
    "DescribeExecutionInput": {
      "members": {
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the execution to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "executionArn"
      ],
      "type": "structure"
    },
    "DescribeExecutionOutput": {
      "members": {
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that id entifies the execution.</p>",
          "shape": "Arn"
        },
        "input": {
          "documentation": "<p>The string that contains the JSON input data of the execution.</p>",
          "shape": "SensitiveData"
        },
        "name": {
          "documentation": "<p>The name of the execution.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "output": {
          "documentation": "<p>The JSON output data of the execution.</p> <note> <p>This field is set only if the execution succeeds. If the execution fails, this field is null.</p> </note>",
          "shape": "SensitiveData"
        },
        "startDate": {
          "documentation": "<p>The date the execution is started.</p>",
          "shape": "Timestamp"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the executed stated machine.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The current status of the execution.</p>",
          "shape": "ExecutionStatus"
        },
        "stopDate": {
          "documentation": "<p>If the execution has already ended, the date the execution stopped.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "executionArn",
        "stateMachineArn",
        "status",
        "startDate",
        "input"
      ],
      "type": "structure"
    },
    "DescribeStateMachineForExecutionInput": {
      "members": {
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the execution you want state machine information for.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "executionArn"
      ],
      "type": "structure"
    },
    "DescribeStateMachineForExecutionOutput": {
      "members": {
        "definition": {
          "documentation": "<p>The Amazon States Language definition of the state machine. See <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States Language</a>.</p>",
          "shape": "Definition"
        },
        "loggingConfiguration": {
          "shape": "LoggingConfiguration"
        },
        "name": {
          "documentation": "<p>The name of the state machine associated with the execution.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role of the State Machine for the execution. </p>",
          "shape": "Arn"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the state machine associated with the execution.</p>",
          "shape": "Arn"
        },
        "updateDate": {
          "documentation": "<p>The date and time the state machine associated with an execution was updated. For a newly created state machine, this is the creation date.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "stateMachineArn",
        "name",
        "definition",
        "roleArn",
        "updateDate"
      ],
      "type": "structure"
    },
    "DescribeStateMachineInput": {
      "members": {
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the state machine to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "stateMachineArn"
      ],
      "type": "structure"
    },
    "DescribeStateMachineOutput": {
      "members": {
        "creationDate": {
          "documentation": "<p>The date the state machine is created.</p>",
          "shape": "Timestamp"
        },
        "definition": {
          "documentation": "<p>The Amazon States Language definition of the state machine. See <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States Language</a>.</p>",
          "shape": "Definition"
        },
        "loggingConfiguration": {
          "shape": "LoggingConfiguration"
        },
        "name": {
          "documentation": "<p>The name of the state machine.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used when creating this state machine. (The IAM role maintains security by granting Step Functions access to AWS resources.)</p>",
          "shape": "Arn"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the state machine.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The current status of the state machine.</p>",
          "shape": "StateMachineStatus"
        },
        "type": {
          "documentation": "<p>The <code>type</code> of the state machine (<code>STANDARD</code> or <code>EXPRESS</code>).</p>",
          "shape": "StateMachineType"
        }
      },
      "required": [
        "stateMachineArn",
        "name",
        "definition",
        "roleArn",
        "type",
        "creationDate"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EventId": {
      "type": "long"
    },
    "ExecutionAbortedEventDetails": {
      "documentation": "<p>Contains details about an abort of an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "ExecutionAlreadyExists": {
      "documentation": "<p>The execution has the same <code>name</code> as another execution (but a different <code>input</code>).</p> <note> <p>Executions with the same <code>name</code> and <code>input</code> are considered idempotent.</p> </note>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ExecutionDoesNotExist": {
      "documentation": "<p>The specified execution does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ExecutionFailedEventDetails": {
      "documentation": "<p>Contains details about an execution failure event.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "ExecutionLimitExceeded": {
      "documentation": "<p>The maximum number of running executions has been reached. Running executions must end or be stopped before a new execution can be started.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ExecutionList": {
      "member": {
        "shape": "ExecutionListItem"
      },
      "type": "list"
    },
    "ExecutionListItem": {
      "documentation": "<p>Contains details about an execution.</p>",
      "members": {
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that id entifies the execution.</p>",
          "shape": "Arn"
        },
        "name": {
          "documentation": "<p>The name of the execution.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "startDate": {
          "documentation": "<p>The date the execution started.</p>",
          "shape": "Timestamp"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the executed state machine.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The current status of the execution.</p>",
          "shape": "ExecutionStatus"
        },
        "stopDate": {
          "documentation": "<p>If the execution already ended, the date the execution stopped.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "executionArn",
        "stateMachineArn",
        "name",
        "status",
        "startDate"
      ],
      "type": "structure"
    },
    "ExecutionStartedEventDetails": {
      "documentation": "<p>Contains details about the start of the execution.</p>",
      "members": {
        "input": {
          "documentation": "<p>The JSON data input to the execution.</p>",
          "shape": "SensitiveData"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role used for executing AWS Lambda tasks.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "ExecutionStatus": {
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "TIMED_OUT",
        "ABORTED"
      ],
      "type": "string"
    },
    "ExecutionSucceededEventDetails": {
      "documentation": "<p>Contains details about the successful termination of the execution.</p>",
      "members": {
        "output": {
          "documentation": "<p>The JSON data output by the execution.</p>",
          "shape": "SensitiveData"
        }
      },
      "type": "structure"
    },
    "ExecutionTimedOutEventDetails": {
      "documentation": "<p>Contains details about the execution timeout that occurred during the execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the timeout.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "GetActivityTaskInput": {
      "members": {
        "activityArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the activity to retrieve tasks from (assigned when you create the task using <a>CreateActivity</a>.)</p>",
          "shape": "Arn"
        },
        "workerName": {
          "documentation": "<p>You can provide an arbitrary name in order to identify the worker that the task is assigned to. This name is used when it is logged in the execution history.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "activityArn"
      ],
      "type": "structure"
    },
    "GetActivityTaskOutput": {
      "members": {
        "input": {
          "documentation": "<p>The string that contains the JSON input data for the task.</p>",
          "shape": "SensitiveDataJobInput"
        },
        "taskToken": {
          "documentation": "<p>A token that identifies the scheduled task. This token must be copied and included in subsequent calls to <a>SendTaskHeartbeat</a>, <a>SendTaskSuccess</a> or <a>SendTaskFailure</a> in order to report the progress or completion of the task.</p>",
          "shape": "TaskToken"
        }
      },
      "type": "structure"
    },
    "GetExecutionHistoryInput": {
      "members": {
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the execution.</p>",
          "shape": "Arn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>nextToken</code> to obtain further pages of results. The default is 100 and the maximum allowed page size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit. The actual number of results returned per call might be fewer than the specified maximum.</p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "PageToken"
        },
        "reverseOrder": {
          "documentation": "<p>Lists events in descending order of their <code>timeStamp</code>.</p>",
          "shape": "ReverseOrder"
        }
      },
      "required": [
        "executionArn"
      ],
      "type": "structure"
    },
    "GetExecutionHistoryOutput": {
      "members": {
        "events": {
          "documentation": "<p>The list of events that occurred in the execution.</p>",
          "shape": "HistoryEventList"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "PageToken"
        }
      },
      "required": [
        "events"
      ],
      "type": "structure"
    },
    "HistoryEvent": {
      "documentation": "<p>Contains details about the events of an execution.</p>",
      "members": {
        "activityFailedEventDetails": {
          "shape": "ActivityFailedEventDetails"
        },
        "activityScheduleFailedEventDetails": {
          "documentation": "<p>Contains details about an activity schedule event that failed during an execution.</p>",
          "shape": "ActivityScheduleFailedEventDetails"
        },
        "activityScheduledEventDetails": {
          "shape": "ActivityScheduledEventDetails"
        },
        "activityStartedEventDetails": {
          "shape": "ActivityStartedEventDetails"
        },
        "activitySucceededEventDetails": {
          "shape": "ActivitySucceededEventDetails"
        },
        "activityTimedOutEventDetails": {
          "shape": "ActivityTimedOutEventDetails"
        },
        "executionAbortedEventDetails": {
          "shape": "ExecutionAbortedEventDetails"
        },
        "executionFailedEventDetails": {
          "shape": "ExecutionFailedEventDetails"
        },
        "executionStartedEventDetails": {
          "shape": "ExecutionStartedEventDetails"
        },
        "executionSucceededEventDetails": {
          "shape": "ExecutionSucceededEventDetails"
        },
        "executionTimedOutEventDetails": {
          "shape": "ExecutionTimedOutEventDetails"
        },
        "id": {
          "documentation": "<p>The id of the event. Events are numbered sequentially, starting at one.</p>",
          "shape": "EventId"
        },
        "lambdaFunctionFailedEventDetails": {
          "shape": "LambdaFunctionFailedEventDetails"
        },
        "lambdaFunctionScheduleFailedEventDetails": {
          "shape": "LambdaFunctionScheduleFailedEventDetails"
        },
        "lambdaFunctionScheduledEventDetails": {
          "shape": "LambdaFunctionScheduledEventDetails"
        },
        "lambdaFunctionStartFailedEventDetails": {
          "documentation": "<p>Contains details about a lambda function that failed to start during an execution.</p>",
          "shape": "LambdaFunctionStartFailedEventDetails"
        },
        "lambdaFunctionSucceededEventDetails": {
          "documentation": "<p>Contains details about a lambda function that terminated successfully during an execution.</p>",
          "shape": "LambdaFunctionSucceededEventDetails"
        },
        "lambdaFunctionTimedOutEventDetails": {
          "shape": "LambdaFunctionTimedOutEventDetails"
        },
        "mapIterationAbortedEventDetails": {
          "documentation": "<p>Contains details about an iteration of a Map state that was aborted.</p>",
          "shape": "MapIterationEventDetails"
        },
        "mapIterationFailedEventDetails": {
          "documentation": "<p>Contains details about an iteration of a Map state that failed.</p>",
          "shape": "MapIterationEventDetails"
        },
        "mapIterationStartedEventDetails": {
          "documentation": "<p>Contains details about an iteration of a Map state that was started.</p>",
          "shape": "MapIterationEventDetails"
        },
        "mapIterationSucceededEventDetails": {
          "documentation": "<p>Contains details about an iteration of a Map state that succeeded.</p>",
          "shape": "MapIterationEventDetails"
        },
        "mapStateStartedEventDetails": {
          "documentation": "<p>Contains details about Map state that was started.</p>",
          "shape": "MapStateStartedEventDetails"
        },
        "previousEventId": {
          "documentation": "<p>The id of the previous event.</p>",
          "shape": "EventId"
        },
        "stateEnteredEventDetails": {
          "shape": "StateEnteredEventDetails"
        },
        "stateExitedEventDetails": {
          "shape": "StateExitedEventDetails"
        },
        "taskFailedEventDetails": {
          "documentation": "<p>Contains details about the failure of a task.</p>",
          "shape": "TaskFailedEventDetails"
        },
        "taskScheduledEventDetails": {
          "documentation": "<p>Contains details about a task that was scheduled.</p>",
          "shape": "TaskScheduledEventDetails"
        },
        "taskStartFailedEventDetails": {
          "documentation": "<p>Contains details about a task that failed to start.</p>",
          "shape": "TaskStartFailedEventDetails"
        },
        "taskStartedEventDetails": {
          "documentation": "<p>Contains details about a task that was started.</p>",
          "shape": "TaskStartedEventDetails"
        },
        "taskSubmitFailedEventDetails": {
          "documentation": "<p>Contains details about a task that where the submit failed.</p>",
          "shape": "TaskSubmitFailedEventDetails"
        },
        "taskSubmittedEventDetails": {
          "documentation": "<p>Contains details about a submitted task.</p>",
          "shape": "TaskSubmittedEventDetails"
        },
        "taskSucceededEventDetails": {
          "documentation": "<p>Contains details about a task that succeeded.</p>",
          "shape": "TaskSucceededEventDetails"
        },
        "taskTimedOutEventDetails": {
          "documentation": "<p>Contains details about a task that timed out.</p>",
          "shape": "TaskTimedOutEventDetails"
        },
        "timestamp": {
          "documentation": "<p>The date and time the event occurred.</p>",
          "shape": "Timestamp"
        },
        "type": {
          "documentation": "<p>The type of the event.</p>",
          "shape": "HistoryEventType"
        }
      },
      "required": [
        "timestamp",
        "type",
        "id"
      ],
      "type": "structure"
    },
    "HistoryEventList": {
      "documentation": "<p>Contains details about the events that occurred during an execution.</p>",
      "member": {
        "shape": "HistoryEvent"
      },
      "type": "list"
    },
    "HistoryEventType": {
      "enum": [
        "ActivityFailed",
        "ActivityScheduled",
        "ActivityScheduleFailed",
        "ActivityStarted",
        "ActivitySucceeded",
        "ActivityTimedOut",
        "ChoiceStateEntered",
        "ChoiceStateExited",
        "ExecutionAborted",
        "ExecutionFailed",
        "ExecutionStarted",
        "ExecutionSucceeded",
        "ExecutionTimedOut",
        "FailStateEntered",
        "LambdaFunctionFailed",
        "LambdaFunctionScheduled",
        "LambdaFunctionScheduleFailed",
        "LambdaFunctionStarted",
        "LambdaFunctionStartFailed",
        "LambdaFunctionSucceeded",
        "LambdaFunctionTimedOut",
        "MapIterationAborted",
        "MapIterationFailed",
        "MapIterationStarted",
        "MapIterationSucceeded",
        "MapStateAborted",
        "MapStateEntered",
        "MapStateExited",
        "MapStateFailed",
        "MapStateStarted",
        "MapStateSucceeded",
        "ParallelStateAborted",
        "ParallelStateEntered",
        "ParallelStateExited",
        "ParallelStateFailed",
        "ParallelStateStarted",
        "ParallelStateSucceeded",
        "PassStateEntered",
        "PassStateExited",
        "SucceedStateEntered",
        "SucceedStateExited",
        "TaskFailed",
        "TaskScheduled",
        "TaskStarted",
        "TaskStartFailed",
        "TaskStateAborted",
        "TaskStateEntered",
        "TaskStateExited",
        "TaskSubmitFailed",
        "TaskSubmitted",
        "TaskSucceeded",
        "TaskTimedOut",
        "WaitStateAborted",
        "WaitStateEntered",
        "WaitStateExited"
      ],
      "type": "string"
    },
    "Identity": {
      "max": 256,
      "type": "string"
    },
    "IncludeExecutionData": {
      "type": "boolean"
    },
    "InvalidArn": {
      "documentation": "<p>The provided Amazon Resource Name (ARN) is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidDefinition": {
      "documentation": "<p>The provided Amazon States Language definition is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidExecutionInput": {
      "documentation": "<p>The provided JSON input data is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidLoggingConfiguration": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidName": {
      "documentation": "<p>The provided name is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidOutput": {
      "documentation": "<p>The provided JSON output data is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidToken": {
      "documentation": "<p>The provided token is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "LambdaFunctionFailedEventDetails": {
      "documentation": "<p>Contains details about a lambda function that failed during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "LambdaFunctionScheduleFailedEventDetails": {
      "documentation": "<p>Contains details about a failed lambda function schedule event that occurred during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "LambdaFunctionScheduledEventDetails": {
      "documentation": "<p>Contains details about a lambda function scheduled during an execution.</p>",
      "members": {
        "input": {
          "documentation": "<p>The JSON data input to the lambda function.</p>",
          "shape": "SensitiveData"
        },
        "resource": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the scheduled lambda function.</p>",
          "shape": "Arn"
        },
        "timeoutInSeconds": {
          "box": true,
          "documentation": "<p>The maximum allowed duration of the lambda function.</p>",
          "shape": "TimeoutInSeconds"
        }
      },
      "required": [
        "resource"
      ],
      "type": "structure"
    },
    "LambdaFunctionStartFailedEventDetails": {
      "documentation": "<p>Contains details about a lambda function that failed to start during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "LambdaFunctionSucceededEventDetails": {
      "documentation": "<p>Contains details about a lambda function that successfully terminated during an execution.</p>",
      "members": {
        "output": {
          "documentation": "<p>The JSON data output by the lambda function.</p>",
          "shape": "SensitiveData"
        }
      },
      "type": "structure"
    },
    "LambdaFunctionTimedOutEventDetails": {
      "documentation": "<p>Contains details about a lambda function timeout that occurred during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the timeout.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        }
      },
      "type": "structure"
    },
    "ListActivitiesInput": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>nextToken</code> to obtain further pages of results. The default is 100 and the maximum allowed page size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit. The actual number of results returned per call might be fewer than the specified maximum.</p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "PageToken"
        }
      },
      "type": "structure"
    },
    "ListActivitiesOutput": {
      "members": {
        "activities": {
          "documentation": "<p>The list of activities.</p>",
          "shape": "ActivityList"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "PageToken"
        }
      },
      "required": [
        "activities"
      ],
      "type": "structure"
    },
    "ListExecutionsInput": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>nextToken</code> to obtain further pages of results. The default is 100 and the maximum allowed page size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit. The actual number of results returned per call might be fewer than the specified maximum.</p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "ListExecutionsPageToken"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the state machine whose executions is listed.</p>",
          "shape": "Arn"
        },
        "statusFilter": {
          "documentation": "<p>If specified, only list the executions whose current execution status matches the given filter.</p>",
          "shape": "ExecutionStatus"
        }
      },
      "required": [
        "stateMachineArn"
      ],
      "type": "structure"
    },
    "ListExecutionsOutput": {
      "members": {
        "executions": {
          "documentation": "<p>The list of matching executions.</p>",
          "shape": "ExecutionList"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "ListExecutionsPageToken"
        }
      },
      "required": [
        "executions"
      ],
      "type": "structure"
    },
    "ListExecutionsPageToken": {
      "max": 3096,
      "min": 1,
      "type": "string"
    },
    "ListStateMachinesInput": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results that are returned per call. You can use <code>nextToken</code> to obtain further pages of results. The default is 100 and the maximum allowed page size is 1000. A value of 0 uses the default.</p> <p>This is only an upper limit. The actual number of results returned per call might be fewer than the specified maximum.</p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "PageToken"
        }
      },
      "type": "structure"
    },
    "ListStateMachinesOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p>If <code>nextToken</code> is returned, there are more results available. The value of <code>nextToken</code> is a unique pagination token for each page. Make the call again using the returned token to retrieve the next page. Keep all other arguments unchanged. Each pagination token expires after 24 hours. Using an expired pagination token will return an <i>HTTP 400 InvalidToken</i> error.</p>",
          "shape": "PageToken"
        },
        "stateMachines": {
          "shape": "StateMachineList"
        }
      },
      "required": [
        "stateMachines"
      ],
      "type": "structure"
    },
    "ListTagsForResourceInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the Step Functions state machine or activity.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "members": {
        "tags": {
          "documentation": "<p>An array of tags associated with the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "LogDestination": {
      "documentation": "<p/>",
      "members": {
        "cloudWatchLogsLogGroup": {
          "documentation": "<p>An object describing a CloudWatch log group. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-logs-loggroup.html\">AWS::Logs::LogGroup</a> in the AWS CloudFormation User Guide.</p>",
          "shape": "CloudWatchLogsLogGroup"
        }
      },
      "type": "structure"
    },
    "LogDestinationList": {
      "member": {
        "shape": "LogDestination"
      },
      "type": "list"
    },
    "LogLevel": {
      "enum": [
        "ALL",
        "ERROR",
        "FATAL",
        "OFF"
      ],
      "type": "string"
    },
    "LoggingConfiguration": {
      "documentation": "<p>The <code>LoggingConfiguration</code> data type is used to set CloudWatch Logs options.</p>",
      "members": {
        "destinations": {
          "documentation": "<p>An array of objects that describes where your execution history events will be logged. Limited to size 1. Required, if your log level is not set to <code>OFF</code>.</p>",
          "shape": "LogDestinationList"
        },
        "includeExecutionData": {
          "documentation": "<p>Determines whether execution data is included in your log. When set to <code>FALSE</code>, data is excluded.</p>",
          "shape": "IncludeExecutionData"
        },
        "level": {
          "documentation": "<p>Defines which category of execution history events are logged.</p>",
          "shape": "LogLevel"
        }
      },
      "type": "structure"
    },
    "MapIterationEventDetails": {
      "documentation": "<p>Contains details about an iteration of a Map state.</p>",
      "members": {
        "index": {
          "documentation": "<p>The index of the array belonging to the Map state iteration.</p>",
          "shape": "UnsignedInteger"
        },
        "name": {
          "documentation": "<p>The name of the iteration\u2019s parent Map state.</p>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "MapStateStartedEventDetails": {
      "documentation": "<p>Details about a Map state that was started.</p>",
      "members": {
        "length": {
          "documentation": "<p>The size of the array for Map state iterations.</p>",
          "shape": "UnsignedInteger"
        }
      },
      "type": "structure"
    },
    "MissingRequiredParameter": {
      "documentation": "<p>Request is missing a required parameter. This error occurs if both <code>definition</code> and <code>roleArn</code> are not specified.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Name": {
      "max": 80,
      "min": 1,
      "type": "string"
    },
    "PageSize": {
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "PageToken": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "ResourceNotFound": {
      "documentation": "<p>Could not find the referenced resource. Only state machine and activity ARNs are supported.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "resourceName": {
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "ReverseOrder": {
      "type": "boolean"
    },
    "SendTaskFailureInput": {
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        },
        "taskToken": {
          "documentation": "<p>The token that represents this task. Task tokens are generated by Step Functions when tasks are assigned to a worker, or in the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/input-output-contextobject.html\">context object</a> when a workflow enters a task state. See <a>GetActivityTaskOutput$taskToken</a>.</p>",
          "shape": "TaskToken"
        }
      },
      "required": [
        "taskToken"
      ],
      "type": "structure"
    },
    "SendTaskFailureOutput": {
      "members": {},
      "type": "structure"
    },
    "SendTaskHeartbeatInput": {
      "members": {
        "taskToken": {
          "documentation": "<p>The token that represents this task. Task tokens are generated by Step Functions when tasks are assigned to a worker, or in the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/input-output-contextobject.html\">context object</a> when a workflow enters a task state. See <a>GetActivityTaskOutput$taskToken</a>.</p>",
          "shape": "TaskToken"
        }
      },
      "required": [
        "taskToken"
      ],
      "type": "structure"
    },
    "SendTaskHeartbeatOutput": {
      "members": {},
      "type": "structure"
    },
    "SendTaskSuccessInput": {
      "members": {
        "output": {
          "documentation": "<p>The JSON output of the task.</p>",
          "shape": "SensitiveData"
        },
        "taskToken": {
          "documentation": "<p>The token that represents this task. Task tokens are generated by Step Functions when tasks are assigned to a worker, or in the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/input-output-contextobject.html\">context object</a> when a workflow enters a task state. See <a>GetActivityTaskOutput$taskToken</a>.</p>",
          "shape": "TaskToken"
        }
      },
      "required": [
        "taskToken",
        "output"
      ],
      "type": "structure"
    },
    "SendTaskSuccessOutput": {
      "members": {},
      "type": "structure"
    },
    "SensitiveCause": {
      "max": 32768,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "SensitiveData": {
      "max": 32768,
      "sensitive": true,
      "type": "string"
    },
    "SensitiveDataJobInput": {
      "max": 65536,
      "sensitive": true,
      "type": "string"
    },
    "SensitiveError": {
      "max": 256,
      "min": 0,
      "sensitive": true,
      "type": "string"
    },
    "StartExecutionInput": {
      "members": {
        "input": {
          "documentation": "<p>The string that contains the JSON input data for the execution, for example:</p> <p> <code>\"input\": \"{\\\"first_name\\\" : \\\"test\\\"}\"</code> </p> <note> <p>If you don't include any JSON input data, you still must include the two braces, for example: <code>\"input\": \"{}\"</code> </p> </note>",
          "shape": "SensitiveData"
        },
        "name": {
          "documentation": "<p>The name of the execution. This name must be unique for your AWS account, region, and state machine for 90 days. For more information, see <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/limits.html#service-limits-state-machine-executions\"> Limits Related to State Machine Executions</a> in the <i>AWS Step Functions Developer Guide</i>.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the state machine to execute.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "stateMachineArn"
      ],
      "type": "structure"
    },
    "StartExecutionOutput": {
      "members": {
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that id entifies the execution.</p>",
          "shape": "Arn"
        },
        "startDate": {
          "documentation": "<p>The date the execution is started.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "executionArn",
        "startDate"
      ],
      "type": "structure"
    },
    "StateEnteredEventDetails": {
      "documentation": "<p>Contains details about a state entered during an execution.</p>",
      "members": {
        "input": {
          "documentation": "<p>The string that contains the JSON input data for the state.</p>",
          "shape": "SensitiveData"
        },
        "name": {
          "documentation": "<p>The name of the state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "StateExitedEventDetails": {
      "documentation": "<p>Contains details about an exit from a state during an execution.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the state.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "output": {
          "documentation": "<p>The JSON output data of the state.</p>",
          "shape": "SensitiveData"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "StateMachineAlreadyExists": {
      "documentation": "<p>A state machine with the same name but a different definition or role ARN already exists.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StateMachineDeleting": {
      "documentation": "<p>The specified state machine is being deleted.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StateMachineDoesNotExist": {
      "documentation": "<p>The specified state machine does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StateMachineLimitExceeded": {
      "documentation": "<p>The maximum number of state machines has been reached. Existing state machines must be deleted before a new state machine can be created.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StateMachineList": {
      "member": {
        "shape": "StateMachineListItem"
      },
      "type": "list"
    },
    "StateMachineListItem": {
      "documentation": "<p>Contains details about the state machine.</p>",
      "members": {
        "creationDate": {
          "documentation": "<p>The date the state machine is created.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the state machine.</p> <p>A name must <i>not</i> contain:</p> <ul> <li> <p>white space</p> </li> <li> <p>brackets <code>&lt; &gt; { } [ ]</code> </p> </li> <li> <p>wildcard characters <code>? *</code> </p> </li> <li> <p>special characters <code>\" # % \\ ^ | ~ ` $ &amp; , ; : /</code> </p> </li> <li> <p>control characters (<code>U+0000-001F</code>, <code>U+007F-009F</code>)</p> </li> </ul> <p>To enable logging with CloudWatch Logs, the name should only contain 0-9, A-Z, a-z, - and _.</p>",
          "shape": "Name"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the state machine.</p>",
          "shape": "Arn"
        },
        "type": {
          "documentation": "<p/>",
          "shape": "StateMachineType"
        }
      },
      "required": [
        "stateMachineArn",
        "name",
        "type",
        "creationDate"
      ],
      "type": "structure"
    },
    "StateMachineStatus": {
      "enum": [
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "StateMachineType": {
      "enum": [
        "STANDARD",
        "EXPRESS"
      ],
      "type": "string"
    },
    "StateMachineTypeNotSupported": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StopExecutionInput": {
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        },
        "executionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the execution to stop.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "executionArn"
      ],
      "type": "structure"
    },
    "StopExecutionOutput": {
      "members": {
        "stopDate": {
          "documentation": "<p>The date the execution is stopped.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "stopDate"
      ],
      "type": "structure"
    },
    "Tag": {
      "documentation": "<p>Tags are key-value pairs that can be associated with Step Functions state machines and activities.</p> <p>An array of key-value pairs. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>, and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_iam-tags.html\">Controlling Access Using IAM Tags</a>.</p> <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>",
      "members": {
        "key": {
          "documentation": "<p>The key of a tag.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>The value of a tag.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagResourceInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the Step Functions state machine or activity.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>The list of tags to add to a resource.</p> <p>Tags may only contain Unicode letters, digits, white space, or these symbols: <code>_ . : / = + - @</code>.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "TaskDoesNotExist": {
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "TaskFailedEventDetails": {
      "documentation": "<p>Contains details about a task failure event.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskScheduledEventDetails": {
      "documentation": "<p>Contains details about a task scheduled during an execution.</p>",
      "members": {
        "parameters": {
          "documentation": "<p>The JSON data passed to the resource referenced in a task state.</p>",
          "shape": "ConnectorParameters"
        },
        "region": {
          "documentation": "<p>The region of the scheduled task</p>",
          "shape": "Name"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        },
        "timeoutInSeconds": {
          "box": true,
          "documentation": "<p>The maximum allowed duration of the task.</p>",
          "shape": "TimeoutInSeconds"
        }
      },
      "required": [
        "resourceType",
        "resource",
        "region",
        "parameters"
      ],
      "type": "structure"
    },
    "TaskStartFailedEventDetails": {
      "documentation": "<p>Contains details about a task that failed to start during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskStartedEventDetails": {
      "documentation": "<p>Contains details about the start of a task during an execution.</p>",
      "members": {
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskSubmitFailedEventDetails": {
      "documentation": "<p>Contains details about a task that failed to submit during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskSubmittedEventDetails": {
      "documentation": "<p>Contains details about a task submitted to a resource .</p>",
      "members": {
        "output": {
          "documentation": "<p>The response from a resource when a task has started.</p>",
          "shape": "SensitiveData"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskSucceededEventDetails": {
      "documentation": "<p>Contains details about the successful completion of a task state.</p>",
      "members": {
        "output": {
          "documentation": "<p>The full JSON response from a resource when a task has succeeded. This response becomes the output of the related task.</p>",
          "shape": "SensitiveData"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskTimedOut": {
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "TaskTimedOutEventDetails": {
      "documentation": "<p>Contains details about a resource timeout that occurred during an execution.</p>",
      "members": {
        "cause": {
          "documentation": "<p>A more detailed explanation of the cause of the failure.</p>",
          "shape": "SensitiveCause"
        },
        "error": {
          "documentation": "<p>The error code of the failure.</p>",
          "shape": "SensitiveError"
        },
        "resource": {
          "documentation": "<p>The service name of the resource in a task state.</p>",
          "shape": "Name"
        },
        "resourceType": {
          "documentation": "<p>The action of the resource called by a task state.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "resourceType",
        "resource"
      ],
      "type": "structure"
    },
    "TaskToken": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "TimeoutInSeconds": {
      "type": "long"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TooManyTags": {
      "documentation": "<p>You've exceeded the number of tags allowed for a resource. See the <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/limits.html\"> Limits Topic</a> in the AWS Step Functions Developer Guide.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        },
        "resourceName": {
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "UnsignedInteger": {
      "min": 0,
      "type": "integer"
    },
    "UntagResourceInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the Step Functions state machine or activity.</p>",
          "shape": "Arn"
        },
        "tagKeys": {
          "documentation": "<p>The list of tags to remove from the resource.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "UpdateStateMachineInput": {
      "members": {
        "definition": {
          "documentation": "<p>The Amazon States Language definition of the state machine. See <a href=\"https://docs.aws.amazon.com/step-functions/latest/dg/concepts-amazon-states-language.html\">Amazon States Language</a>.</p>",
          "shape": "Definition"
        },
        "loggingConfiguration": {
          "documentation": "<p>The <code>LoggingConfiguration</code> data type is used to set CloudWatch Logs options.</p>",
          "shape": "LoggingConfiguration"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role of the state machine.</p>",
          "shape": "Arn"
        },
        "stateMachineArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the state machine.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "stateMachineArn"
      ],
      "type": "structure"
    },
    "UpdateStateMachineOutput": {
      "members": {
        "updateDate": {
          "documentation": "<p>The date and time the state machine was updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "updateDate"
      ],
      "type": "structure"
    }
  },
  "version": "2.0"
}
