{
  "documentation": "<p>AWS AppSync provides API actions for creating and interacting with data sources using GraphQL from your application.</p>",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "appsync",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWSAppSync",
    "serviceFullName": "AWS AppSync",
    "serviceId": "AppSync",
    "signatureVersion": "v4",
    "signingName": "appsync",
    "uid": "appsync-2017-07-25"
  },
  "operations": {
    "CreateApiCache": {
      "documentation": "<p>Creates a cache for the GraphQL API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/ApiCaches"
      },
      "input": {
        "shape": "CreateApiCacheRequest"
      },
      "name": "CreateApiCache",
      "output": {
        "shape": "CreateApiCacheResponse"
      }
    },
    "CreateApiKey": {
      "documentation": "<p>Creates a unique key that you can distribute to clients who are executing your API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ApiKeyLimitExceededException"
        },
        {
          "shape": "ApiKeyValidityOutOfBoundsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/apikeys"
      },
      "input": {
        "shape": "CreateApiKeyRequest"
      },
      "name": "CreateApiKey",
      "output": {
        "shape": "CreateApiKeyResponse"
      }
    },
    "CreateDataSource": {
      "documentation": "<p>Creates a <code>DataSource</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/datasources"
      },
      "input": {
        "shape": "CreateDataSourceRequest"
      },
      "name": "CreateDataSource",
      "output": {
        "shape": "CreateDataSourceResponse"
      }
    },
    "CreateFunction": {
      "documentation": "<p>Creates a <code>Function</code> object.</p> <p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/functions"
      },
      "input": {
        "shape": "CreateFunctionRequest"
      },
      "name": "CreateFunction",
      "output": {
        "shape": "CreateFunctionResponse"
      }
    },
    "CreateGraphqlApi": {
      "documentation": "<p>Creates a <code>GraphqlApi</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ApiLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis"
      },
      "input": {
        "shape": "CreateGraphqlApiRequest"
      },
      "name": "CreateGraphqlApi",
      "output": {
        "shape": "CreateGraphqlApiResponse"
      }
    },
    "CreateResolver": {
      "documentation": "<p>Creates a <code>Resolver</code> object.</p> <p>A resolver converts incoming requests into a format that a data source can understand and converts the data source's responses into GraphQL.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input": {
        "shape": "CreateResolverRequest"
      },
      "name": "CreateResolver",
      "output": {
        "shape": "CreateResolverResponse"
      }
    },
    "CreateType": {
      "documentation": "<p>Creates a <code>Type</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/types"
      },
      "input": {
        "shape": "CreateTypeRequest"
      },
      "name": "CreateType",
      "output": {
        "shape": "CreateTypeResponse"
      }
    },
    "DeleteApiCache": {
      "documentation": "<p>Deletes an <code>ApiCache</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/ApiCaches"
      },
      "input": {
        "shape": "DeleteApiCacheRequest"
      },
      "name": "DeleteApiCache",
      "output": {
        "shape": "DeleteApiCacheResponse"
      }
    },
    "DeleteApiKey": {
      "documentation": "<p>Deletes an API key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
      },
      "input": {
        "shape": "DeleteApiKeyRequest"
      },
      "name": "DeleteApiKey",
      "output": {
        "shape": "DeleteApiKeyResponse"
      }
    },
    "DeleteDataSource": {
      "documentation": "<p>Deletes a <code>DataSource</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "shape": "DeleteDataSourceRequest"
      },
      "name": "DeleteDataSource",
      "output": {
        "shape": "DeleteDataSourceResponse"
      }
    },
    "DeleteFunction": {
      "documentation": "<p>Deletes a <code>Function</code>.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
      },
      "input": {
        "shape": "DeleteFunctionRequest"
      },
      "name": "DeleteFunction",
      "output": {
        "shape": "DeleteFunctionResponse"
      }
    },
    "DeleteGraphqlApi": {
      "documentation": "<p>Deletes a <code>GraphqlApi</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "shape": "DeleteGraphqlApiRequest"
      },
      "name": "DeleteGraphqlApi",
      "output": {
        "shape": "DeleteGraphqlApiResponse"
      }
    },
    "DeleteResolver": {
      "documentation": "<p>Deletes a <code>Resolver</code> object.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "shape": "DeleteResolverRequest"
      },
      "name": "DeleteResolver",
      "output": {
        "shape": "DeleteResolverResponse"
      }
    },
    "DeleteType": {
      "documentation": "<p>Deletes a <code>Type</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "shape": "DeleteTypeRequest"
      },
      "name": "DeleteType",
      "output": {
        "shape": "DeleteTypeResponse"
      }
    },
    "FlushApiCache": {
      "documentation": "<p>Flushes an <code>ApiCache</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/apis/{apiId}/FlushCache"
      },
      "input": {
        "shape": "FlushApiCacheRequest"
      },
      "name": "FlushApiCache",
      "output": {
        "shape": "FlushApiCacheResponse"
      }
    },
    "GetApiCache": {
      "documentation": "<p>Retrieves an <code>ApiCache</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/ApiCaches"
      },
      "input": {
        "shape": "GetApiCacheRequest"
      },
      "name": "GetApiCache",
      "output": {
        "shape": "GetApiCacheResponse"
      }
    },
    "GetDataSource": {
      "documentation": "<p>Retrieves a <code>DataSource</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "shape": "GetDataSourceRequest"
      },
      "name": "GetDataSource",
      "output": {
        "shape": "GetDataSourceResponse"
      }
    },
    "GetFunction": {
      "documentation": "<p>Get a <code>Function</code>.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
      },
      "input": {
        "shape": "GetFunctionRequest"
      },
      "name": "GetFunction",
      "output": {
        "shape": "GetFunctionResponse"
      }
    },
    "GetGraphqlApi": {
      "documentation": "<p>Retrieves a <code>GraphqlApi</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "shape": "GetGraphqlApiRequest"
      },
      "name": "GetGraphqlApi",
      "output": {
        "shape": "GetGraphqlApiResponse"
      }
    },
    "GetIntrospectionSchema": {
      "documentation": "<p>Retrieves the introspection schema for a GraphQL API.</p>",
      "errors": [
        {
          "shape": "GraphQLSchemaException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/schema"
      },
      "input": {
        "shape": "GetIntrospectionSchemaRequest"
      },
      "name": "GetIntrospectionSchema",
      "output": {
        "shape": "GetIntrospectionSchemaResponse"
      }
    },
    "GetResolver": {
      "documentation": "<p>Retrieves a <code>Resolver</code> object.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "shape": "GetResolverRequest"
      },
      "name": "GetResolver",
      "output": {
        "shape": "GetResolverResponse"
      }
    },
    "GetSchemaCreationStatus": {
      "documentation": "<p>Retrieves the current status of a schema creation operation.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/schemacreation"
      },
      "input": {
        "shape": "GetSchemaCreationStatusRequest"
      },
      "name": "GetSchemaCreationStatus",
      "output": {
        "shape": "GetSchemaCreationStatusResponse"
      }
    },
    "GetType": {
      "documentation": "<p>Retrieves a <code>Type</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "shape": "GetTypeRequest"
      },
      "name": "GetType",
      "output": {
        "shape": "GetTypeResponse"
      }
    },
    "ListApiKeys": {
      "documentation": "<p>Lists the API keys for a given API.</p> <note> <p>API keys are deleted automatically sometime after they expire. However, they may still be included in the response until they have actually been deleted. You can safely call <code>DeleteApiKey</code> to manually delete a key before it's automatically deleted.</p> </note>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/apikeys"
      },
      "input": {
        "shape": "ListApiKeysRequest"
      },
      "name": "ListApiKeys",
      "output": {
        "shape": "ListApiKeysResponse"
      }
    },
    "ListDataSources": {
      "documentation": "<p>Lists the data sources for a given API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/datasources"
      },
      "input": {
        "shape": "ListDataSourcesRequest"
      },
      "name": "ListDataSources",
      "output": {
        "shape": "ListDataSourcesResponse"
      }
    },
    "ListFunctions": {
      "documentation": "<p>List multiple functions.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/functions"
      },
      "input": {
        "shape": "ListFunctionsRequest"
      },
      "name": "ListFunctions",
      "output": {
        "shape": "ListFunctionsResponse"
      }
    },
    "ListGraphqlApis": {
      "documentation": "<p>Lists your GraphQL APIs.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis"
      },
      "input": {
        "shape": "ListGraphqlApisRequest"
      },
      "name": "ListGraphqlApis",
      "output": {
        "shape": "ListGraphqlApisResponse"
      }
    },
    "ListResolvers": {
      "documentation": "<p>Lists the resolvers for a given API and type.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers"
      },
      "input": {
        "shape": "ListResolversRequest"
      },
      "name": "ListResolvers",
      "output": {
        "shape": "ListResolversResponse"
      }
    },
    "ListResolversByFunction": {
      "documentation": "<p>List the resolvers that are associated with a specific function.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}/resolvers"
      },
      "input": {
        "shape": "ListResolversByFunctionRequest"
      },
      "name": "ListResolversByFunction",
      "output": {
        "shape": "ListResolversByFunctionResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for a resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTypes": {
      "documentation": "<p>Lists the types for a given API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/apis/{apiId}/types"
      },
      "input": {
        "shape": "ListTypesRequest"
      },
      "name": "ListTypes",
      "output": {
        "shape": "ListTypesResponse"
      }
    },
    "StartSchemaCreation": {
      "documentation": "<p>Adds a new schema to your GraphQL API.</p> <p>This operation is asynchronous. Use to determine when it has completed.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/schemacreation"
      },
      "input": {
        "shape": "StartSchemaCreationRequest"
      },
      "name": "StartSchemaCreation",
      "output": {
        "shape": "StartSchemaCreationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Tags a resource with user-supplied tags.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Untags a resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApiCache": {
      "documentation": "<p>Updates the cache for the GraphQL API.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/ApiCaches/update"
      },
      "input": {
        "shape": "UpdateApiCacheRequest"
      },
      "name": "UpdateApiCache",
      "output": {
        "shape": "UpdateApiCacheResponse"
      }
    },
    "UpdateApiKey": {
      "documentation": "<p>Updates an API key.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ApiKeyValidityOutOfBoundsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/apikeys/{id}"
      },
      "input": {
        "shape": "UpdateApiKeyRequest"
      },
      "name": "UpdateApiKey",
      "output": {
        "shape": "UpdateApiKeyResponse"
      }
    },
    "UpdateDataSource": {
      "documentation": "<p>Updates a <code>DataSource</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/datasources/{name}"
      },
      "input": {
        "shape": "UpdateDataSourceRequest"
      },
      "name": "UpdateDataSource",
      "output": {
        "shape": "UpdateDataSourceResponse"
      }
    },
    "UpdateFunction": {
      "documentation": "<p>Updates a <code>Function</code> object.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/functions/{functionId}"
      },
      "input": {
        "shape": "UpdateFunctionRequest"
      },
      "name": "UpdateFunction",
      "output": {
        "shape": "UpdateFunctionResponse"
      }
    },
    "UpdateGraphqlApi": {
      "documentation": "<p>Updates a <code>GraphqlApi</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}"
      },
      "input": {
        "shape": "UpdateGraphqlApiRequest"
      },
      "name": "UpdateGraphqlApi",
      "output": {
        "shape": "UpdateGraphqlApiResponse"
      }
    },
    "UpdateResolver": {
      "documentation": "<p>Updates a <code>Resolver</code> object.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}"
      },
      "input": {
        "shape": "UpdateResolverRequest"
      },
      "name": "UpdateResolver",
      "output": {
        "shape": "UpdateResolverResponse"
      }
    },
    "UpdateType": {
      "documentation": "<p>Updates a <code>Type</code> object.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/apis/{apiId}/types/{typeName}"
      },
      "input": {
        "shape": "UpdateTypeRequest"
      },
      "name": "UpdateType",
      "output": {
        "shape": "UpdateTypeResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have access to perform this operation on this resource.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AdditionalAuthenticationProvider": {
      "documentation": "<p>Describes an additional authentication provider.</p>",
      "members": {
        "authenticationType": {
          "documentation": "<p>The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.</p>",
          "shape": "AuthenticationType"
        },
        "openIDConnectConfig": {
          "documentation": "<p>The OpenID Connect configuration.</p>",
          "shape": "OpenIDConnectConfig"
        },
        "userPoolConfig": {
          "documentation": "<p>The Amazon Cognito user pool configuration.</p>",
          "shape": "CognitoUserPoolConfig"
        }
      },
      "type": "structure"
    },
    "AdditionalAuthenticationProviders": {
      "member": {
        "shape": "AdditionalAuthenticationProvider"
      },
      "type": "list"
    },
    "ApiCache": {
      "documentation": "<p>The <code>ApiCache</code> object.</p>",
      "members": {
        "apiCachingBehavior": {
          "documentation": "<p>Caching behavior.</p> <ul> <li> <p> <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p> </li> <li> <p> <b>PER_RESOLVER_CACHING</b>: Individual resovlers that you specify are cached.</p> </li> </ul>",
          "shape": "ApiCachingBehavior"
        },
        "atRestEncryptionEnabled": {
          "documentation": "<p>At rest encryption flag for cache. This setting cannot be updated after creation.</p>",
          "shape": "Boolean"
        },
        "status": {
          "documentation": "<p>The cache instance status.</p> <ul> <li> <p> <b>AVAILABLE</b>: The instance is available for use.</p> </li> <li> <p> <b>CREATING</b>: The instance is currently creating.</p> </li> <li> <p> <b>DELETING</b>: The instance is currently deleting.</p> </li> <li> <p> <b>MODIFYING</b>: The instance is currently modifying.</p> </li> <li> <p> <b>FAILED</b>: The instance has failed creation.</p> </li> </ul>",
          "shape": "ApiCacheStatus"
        },
        "transitEncryptionEnabled": {
          "documentation": "<p>Transit encryption flag when connecting to cache. This setting cannot be updated after creation.</p>",
          "shape": "Boolean"
        },
        "ttl": {
          "documentation": "<p>TTL in seconds for cache entries.</p> <p>Valid values are between 1 and 3600 seconds.</p>",
          "shape": "Long"
        },
        "type": {
          "documentation": "<p>The cache instance type.</p> <ul> <li> <p> <b>T2_SMALL</b>: A t2.small instance type.</p> </li> <li> <p> <b>T2_MEDIUM</b>: A t2.medium instance type.</p> </li> <li> <p> <b>R4_LARGE</b>: A r4.large instance type.</p> </li> <li> <p> <b>R4_XLARGE</b>: A r4.xlarge instance type.</p> </li> <li> <p> <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p> </li> <li> <p> <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p> </li> <li> <p> <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p> </li> </ul>",
          "shape": "ApiCacheType"
        }
      },
      "type": "structure"
    },
    "ApiCacheStatus": {
      "enum": [
        "AVAILABLE",
        "CREATING",
        "DELETING",
        "MODIFYING",
        "FAILED"
      ],
      "type": "string"
    },
    "ApiCacheType": {
      "enum": [
        "T2_SMALL",
        "T2_MEDIUM",
        "R4_LARGE",
        "R4_XLARGE",
        "R4_2XLARGE",
        "R4_4XLARGE",
        "R4_8XLARGE"
      ],
      "type": "string"
    },
    "ApiCachingBehavior": {
      "enum": [
        "FULL_REQUEST_CACHING",
        "PER_RESOLVER_CACHING"
      ],
      "type": "string"
    },
    "ApiKey": {
      "documentation": "<p>Describes an API key.</p> <p>Customers invoke AWS AppSync GraphQL API operations with API keys as an identity mechanism. There are two key versions:</p> <p> <b>da1</b>: This version was introduced at launch in November 2017. These keys always expire after 7 days. Key expiration is managed by Amazon DynamoDB TTL. The keys ceased to be valid after February 21, 2018 and should not be used after that date.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>UpdateApiKey</code> is not available for this key version.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as milliseconds. This results in a bug where keys are not automatically deleted because DynamoDB expects the TTL to be stored in seconds. As a one-time action, we will delete these keys from the table after February 21, 2018.</p> </li> </ul> <p> <b>da2</b>: This version was introduced in February 2018 when AppSync added support to extend key expiration.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in seconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds.</p> </li> <li> <p> <code>UpdateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds. Key expiration can only be updated while the key has not expired.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as seconds.</p> </li> </ul>",
      "members": {
        "description": {
          "documentation": "<p>A description of the purpose of the API key.</p>",
          "shape": "String"
        },
        "expires": {
          "documentation": "<p>The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.</p>",
          "shape": "Long"
        },
        "id": {
          "documentation": "<p>The API key ID.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApiKeyLimitExceededException": {
      "documentation": "<p>The API key exceeded a limit. Try your request again.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApiKeyValidityOutOfBoundsException": {
      "documentation": "<p>The API key expiration must be set to a value between 1 and 365 days from creation (for <code>CreateApiKey</code>) or from update (for <code>UpdateApiKey</code>).</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApiKeys": {
      "member": {
        "shape": "ApiKey"
      },
      "type": "list"
    },
    "ApiLimitExceededException": {
      "documentation": "<p>The GraphQL API exceeded a limit. Try your request again.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AuthenticationType": {
      "enum": [
        "API_KEY",
        "AWS_IAM",
        "AMAZON_COGNITO_USER_POOLS",
        "OPENID_CONNECT"
      ],
      "type": "string"
    },
    "AuthorizationConfig": {
      "documentation": "<p>The authorization config in case the HTTP endpoint requires authorization.</p>",
      "members": {
        "authorizationType": {
          "documentation": "<p>The authorization type required by the HTTP endpoint.</p> <ul> <li> <p> <b>AWS_IAM</b>: The authorization type is Sigv4.</p> </li> </ul>",
          "shape": "AuthorizationType"
        },
        "awsIamConfig": {
          "documentation": "<p>The AWS IAM settings.</p>",
          "shape": "AwsIamConfig"
        }
      },
      "required": [
        "authorizationType"
      ],
      "type": "structure"
    },
    "AuthorizationType": {
      "enum": [
        "AWS_IAM"
      ],
      "type": "string"
    },
    "AwsIamConfig": {
      "documentation": "<p>The AWS IAM configuration.</p>",
      "members": {
        "signingRegion": {
          "documentation": "<p>The signing region for AWS IAM authorization.</p>",
          "shape": "String"
        },
        "signingServiceName": {
          "documentation": "<p>The signing service name for AWS IAM authorization.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>The request is not well formed. For example, a value is invalid or a required field is missing. Check the field values, and then try again. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Blob": {
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanValue": {
      "type": "boolean"
    },
    "CachingConfig": {
      "documentation": "<p>The caching configuration for a resolver that has caching enabled.</p>",
      "members": {
        "cachingKeys": {
          "documentation": "<p>The caching keys for a resolver that has caching enabled.</p> <p>Valid values are entries from the <code>$context.identity</code> and <code>$context.arguments</code> maps.</p>",
          "shape": "CachingKeys"
        },
        "ttl": {
          "documentation": "<p>The TTL in seconds for a resolver that has caching enabled.</p> <p>Valid values are between 1 and 3600 seconds.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "CachingKeys": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "CognitoUserPoolConfig": {
      "documentation": "<p>Describes an Amazon Cognito user pool configuration.</p>",
      "members": {
        "appIdClientRegex": {
          "documentation": "<p>A regular expression for validating the incoming Amazon Cognito user pool app client ID.</p>",
          "shape": "String"
        },
        "awsRegion": {
          "documentation": "<p>The AWS Region in which the user pool was created.</p>",
          "shape": "String"
        },
        "userPoolId": {
          "documentation": "<p>The user pool ID.</p>",
          "shape": "String"
        }
      },
      "required": [
        "userPoolId",
        "awsRegion"
      ],
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Another modification is in progress at this time and it must complete before you can make your change. </p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConflictDetectionType": {
      "enum": [
        "VERSION",
        "NONE"
      ],
      "type": "string"
    },
    "ConflictHandlerType": {
      "enum": [
        "OPTIMISTIC_CONCURRENCY",
        "LAMBDA",
        "AUTOMERGE",
        "NONE"
      ],
      "type": "string"
    },
    "CreateApiCacheRequest": {
      "documentation": "<p>Represents the input of a <code>CreateApiCache</code> operation.</p>",
      "members": {
        "apiCachingBehavior": {
          "documentation": "<p>Caching behavior.</p> <ul> <li> <p> <b>FULL_REQUEST_CACHING</b>: All requests are fully cached.</p> </li> <li> <p> <b>PER_RESOLVER_CACHING</b>: Individual resovlers that you specify are cached.</p> </li> </ul>",
          "shape": "ApiCachingBehavior"
        },
        "apiId": {
          "documentation": "<p>The GraphQL API Id.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "atRestEncryptionEnabled": {
          "documentation": "<p>At rest encryption flag for cache. This setting cannot be updated after creation.</p>",
          "shape": "Boolean"
        },
        "transitEncryptionEnabled": {
          "documentation": "<p>Transit encryption flag when connecting to cache. This setting cannot be updated after creation.</p>",
          "shape": "Boolean"
        },
        "ttl": {
          "documentation": "<p>TTL in seconds for cache entries.</p> <p>Valid values are between 1 and 3600 seconds.</p>",
          "shape": "Long"
        },
        "type": {
          "documentation": "<p>The cache instance type.</p> <ul> <li> <p> <b>T2_SMALL</b>: A t2.small instance type.</p> </li> <li> <p> <b>T2_MEDIUM</b>: A t2.medium instance type.</p> </li> <li> <p> <b>R4_LARGE</b>: A r4.large instance type.</p> </li> <li> <p> <b>R4_XLARGE</b>: A r4.xlarge instance type.</p> </li> <li> <p> <b>R4_2XLARGE</b>: A r4.2xlarge instance type.</p> </li> <li> <p> <b>R4_4XLARGE</b>: A r4.4xlarge instance type.</p> </li> <li> <p> <b>R4_8XLARGE</b>: A r4.8xlarge instance type.</p> </li> </ul>",
          "shape": "ApiCacheType"
        }
      },
      "required": [
        "apiId",
        "ttl",
        "apiCachingBehavior",
        "type"
      ],
      "type": "structure"
    },
    "CreateApiCacheResponse": {
      "documentation": "<p>Represents the output of a <code>CreateApiCache</code> operation.</p>",
      "members": {
        "apiCache": {
          "documentation": "<p>The <code>ApiCache</code> object.</p>",
          "shape": "ApiCache"
        }
      },
      "type": "structure"
    },
    "CreateApiKeyRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The ID for your GraphQL API.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>A description of the purpose of the API key.</p>",
          "shape": "String"
        },
        "expires": {
          "documentation": "<p>The time from creation time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour. The default value for this parameter is 7 days from creation time. For more information, see .</p>",
          "shape": "Long"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "CreateApiKeyResponse": {
      "members": {
        "apiKey": {
          "documentation": "<p>The API key.</p>",
          "shape": "ApiKey"
        }
      },
      "type": "structure"
    },
    "CreateDataSourceRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID for the GraphQL API for the <code>DataSource</code>.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>A description of the <code>DataSource</code>.</p>",
          "shape": "String"
        },
        "dynamodbConfig": {
          "documentation": "<p>Amazon DynamoDB settings.</p>",
          "shape": "DynamodbDataSourceConfig"
        },
        "elasticsearchConfig": {
          "documentation": "<p>Amazon Elasticsearch Service settings.</p>",
          "shape": "ElasticsearchDataSourceConfig"
        },
        "httpConfig": {
          "documentation": "<p>HTTP endpoint settings.</p>",
          "shape": "HttpDataSourceConfig"
        },
        "lambdaConfig": {
          "documentation": "<p>AWS Lambda settings.</p>",
          "shape": "LambdaDataSourceConfig"
        },
        "name": {
          "documentation": "<p>A user-supplied name for the <code>DataSource</code>.</p>",
          "shape": "ResourceName"
        },
        "relationalDatabaseConfig": {
          "documentation": "<p>Relational database settings.</p>",
          "shape": "RelationalDatabaseDataSourceConfig"
        },
        "serviceRoleArn": {
          "documentation": "<p>The AWS IAM service role ARN for the data source. The system assumes this role when accessing the data source.</p>",
          "shape": "String"
        },
        "type": {
          "documentation": "<p>The type of the <code>DataSource</code>.</p>",
          "shape": "DataSourceType"
        }
      },
      "required": [
        "apiId",
        "name",
        "type"
      ],
      "type": "structure"
    },
    "CreateDataSourceResponse": {
      "members": {
        "dataSource": {
          "documentation": "<p>The <code>DataSource</code> object.</p>",
          "shape": "DataSource"
        }
      },
      "type": "structure"
    },
    "CreateFunctionRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The GraphQL API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "dataSourceName": {
          "documentation": "<p>The <code>Function</code> <code>DataSource</code> name.</p>",
          "shape": "ResourceName"
        },
        "description": {
          "documentation": "<p>The <code>Function</code> description.</p>",
          "shape": "String"
        },
        "functionVersion": {
          "documentation": "<p>The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. </p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The <code>Function</code> name. The function name does not have to be unique.</p>",
          "shape": "ResourceName"
        },
        "requestMappingTemplate": {
          "documentation": "<p>The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.</p>",
          "shape": "MappingTemplate"
        },
        "responseMappingTemplate": {
          "documentation": "<p>The <code>Function</code> response mapping template. </p>",
          "shape": "MappingTemplate"
        }
      },
      "required": [
        "apiId",
        "name",
        "dataSourceName",
        "requestMappingTemplate",
        "functionVersion"
      ],
      "type": "structure"
    },
    "CreateFunctionResponse": {
      "members": {
        "functionConfiguration": {
          "documentation": "<p>The <code>Function</code> object.</p>",
          "shape": "FunctionConfiguration"
        }
      },
      "type": "structure"
    },
    "CreateGraphqlApiRequest": {
      "members": {
        "additionalAuthenticationProviders": {
          "documentation": "<p>A list of additional authentication providers for the <code>GraphqlApi</code> API.</p>",
          "shape": "AdditionalAuthenticationProviders"
        },
        "authenticationType": {
          "documentation": "<p>The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.</p>",
          "shape": "AuthenticationType"
        },
        "logConfig": {
          "documentation": "<p>The Amazon CloudWatch Logs configuration.</p>",
          "shape": "LogConfig"
        },
        "name": {
          "documentation": "<p>A user-supplied name for the <code>GraphqlApi</code>.</p>",
          "shape": "String"
        },
        "openIDConnectConfig": {
          "documentation": "<p>The OpenID Connect configuration.</p>",
          "shape": "OpenIDConnectConfig"
        },
        "tags": {
          "documentation": "<p>A <code>TagMap</code> object.</p>",
          "shape": "TagMap"
        },
        "userPoolConfig": {
          "documentation": "<p>The Amazon Cognito user pool configuration.</p>",
          "shape": "UserPoolConfig"
        },
        "xrayEnabled": {
          "documentation": "<p>A flag indicating whether to enable X-Ray tracing for the <code>GraphqlApi</code>.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "name",
        "authenticationType"
      ],
      "type": "structure"
    },
    "CreateGraphqlApiResponse": {
      "members": {
        "graphqlApi": {
          "documentation": "<p>The <code>GraphqlApi</code>.</p>",
          "shape": "GraphqlApi"
        }
      },
      "type": "structure"
    },
    "CreateResolverRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The ID for the GraphQL API for which the resolver is being created.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "cachingConfig": {
          "documentation": "<p>The caching configuration for the resolver.</p>",
          "shape": "CachingConfig"
        },
        "dataSourceName": {
          "documentation": "<p>The name of the data source for which the resolver is being created.</p>",
          "shape": "ResourceName"
        },
        "fieldName": {
          "documentation": "<p>The name of the field to attach the resolver to.</p>",
          "shape": "ResourceName"
        },
        "kind": {
          "documentation": "<p>The resolver type.</p> <ul> <li> <p> <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is the default resolver type. A UNIT resolver enables you to execute a GraphQL query against a single data source.</p> </li> <li> <p> <b>PIPELINE</b>: A PIPELINE resolver type. A PIPELINE resolver enables you to execute a series of <code>Function</code> in a serial manner. You can use a pipeline resolver to execute a GraphQL query against multiple data sources.</p> </li> </ul>",
          "shape": "ResolverKind"
        },
        "pipelineConfig": {
          "documentation": "<p>The <code>PipelineConfig</code>.</p>",
          "shape": "PipelineConfig"
        },
        "requestMappingTemplate": {
          "documentation": "<p>The mapping template to be used for requests.</p> <p>A resolver uses a request mapping template to convert a GraphQL expression into a format that a data source can understand. Mapping templates are written in Apache Velocity Template Language (VTL).</p>",
          "shape": "MappingTemplate"
        },
        "responseMappingTemplate": {
          "documentation": "<p>The mapping template to be used for responses from the data source.</p>",
          "shape": "MappingTemplate"
        },
        "syncConfig": {
          "documentation": "<p>The <code>SyncConfig</code> for a resolver attached to a versioned datasource.</p>",
          "shape": "SyncConfig"
        },
        "typeName": {
          "documentation": "<p>The name of the <code>Type</code>.</p>",
          "location": "uri",
          "locationName": "typeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "typeName",
        "fieldName",
        "requestMappingTemplate"
      ],
      "type": "structure"
    },
    "CreateResolverResponse": {
      "members": {
        "resolver": {
          "documentation": "<p>The <code>Resolver</code> object.</p>",
          "shape": "Resolver"
        }
      },
      "type": "structure"
    },
    "CreateTypeRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "definition": {
          "documentation": "<p>The type definition, in GraphQL Schema Definition Language (SDL) format.</p> <p>For more information, see the <a href=\"http://graphql.org/learn/schema/\">GraphQL SDL documentation</a>.</p>",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>The type format: SDL or JSON.</p>",
          "shape": "TypeDefinitionFormat"
        }
      },
      "required": [
        "apiId",
        "definition",
        "format"
      ],
      "type": "structure"
    },
    "CreateTypeResponse": {
      "members": {
        "type": {
          "documentation": "<p>The <code>Type</code> object.</p>",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "DataSource": {
      "documentation": "<p>Describes a data source.</p>",
      "members": {
        "dataSourceArn": {
          "documentation": "<p>The data source ARN.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The description of the data source.</p>",
          "shape": "String"
        },
        "dynamodbConfig": {
          "documentation": "<p>Amazon DynamoDB settings.</p>",
          "shape": "DynamodbDataSourceConfig"
        },
        "elasticsearchConfig": {
          "documentation": "<p>Amazon Elasticsearch Service settings.</p>",
          "shape": "ElasticsearchDataSourceConfig"
        },
        "httpConfig": {
          "documentation": "<p>HTTP endpoint settings.</p>",
          "shape": "HttpDataSourceConfig"
        },
        "lambdaConfig": {
          "documentation": "<p>AWS Lambda settings.</p>",
          "shape": "LambdaDataSourceConfig"
        },
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "shape": "ResourceName"
        },
        "relationalDatabaseConfig": {
          "documentation": "<p>Relational database settings.</p>",
          "shape": "RelationalDatabaseDataSourceConfig"
        },
        "serviceRoleArn": {
          "documentation": "<p>The AWS IAM service role ARN for the data source. The system assumes this role when accessing the data source.</p>",
          "shape": "String"
        },
        "type": {
          "documentation": "<p>The type of the data source.</p> <ul> <li> <p> <b>AMAZON_DYNAMODB</b>: The data source is an Amazon DynamoDB table.</p> </li> <li> <p> <b>AMAZON_ELASTICSEARCH</b>: The data source is an Amazon Elasticsearch Service domain.</p> </li> <li> <p> <b>AWS_LAMBDA</b>: The data source is an AWS Lambda function.</p> </li> <li> <p> <b>NONE</b>: There is no data source. This type is used when you wish to invoke a GraphQL operation without connecting to a data source, such as performing data transformation with resolvers or triggering a subscription to be invoked from a mutation.</p> </li> <li> <p> <b>HTTP</b>: The data source is an HTTP endpoint.</p> </li> <li> <p> <b>RELATIONAL_DATABASE</b>: The data source is a relational database.</p> </li> </ul>",
          "shape": "DataSourceType"
        }
      },
      "type": "structure"
    },
    "DataSourceType": {
      "enum": [
        "AWS_LAMBDA",
        "AMAZON_DYNAMODB",
        "AMAZON_ELASTICSEARCH",
        "NONE",
        "HTTP",
        "RELATIONAL_DATABASE"
      ],
      "type": "string"
    },
    "DataSources": {
      "member": {
        "shape": "DataSource"
      },
      "type": "list"
    },
    "DefaultAction": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "DeleteApiCacheRequest": {
      "documentation": "<p>Represents the input of a <code>DeleteApiCache</code> operation.</p>",
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "DeleteApiCacheResponse": {
      "documentation": "<p>Represents the output of a <code>DeleteApiCache</code> operation.</p>",
      "members": {},
      "type": "structure"
    },
    "DeleteApiKeyRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID for the API key.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "String"
        }
      },
      "required": [
        "apiId",
        "id"
      ],
      "type": "structure"
    },
    "DeleteApiKeyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDataSourceRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "name"
      ],
      "type": "structure"
    },
    "DeleteDataSourceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteFunctionRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The GraphQL API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "functionId": {
          "documentation": "<p>The <code>Function</code> ID.</p>",
          "location": "uri",
          "locationName": "functionId",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "functionId"
      ],
      "type": "structure"
    },
    "DeleteFunctionResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGraphqlApiRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "DeleteGraphqlApiResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteResolverRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "fieldName": {
          "documentation": "<p>The resolver field name.</p>",
          "location": "uri",
          "locationName": "fieldName",
          "shape": "ResourceName"
        },
        "typeName": {
          "documentation": "<p>The name of the resolver type.</p>",
          "location": "uri",
          "locationName": "typeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "typeName",
        "fieldName"
      ],
      "type": "structure"
    },
    "DeleteResolverResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteTypeRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "typeName": {
          "documentation": "<p>The type name.</p>",
          "location": "uri",
          "locationName": "typeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "typeName"
      ],
      "type": "structure"
    },
    "DeleteTypeResponse": {
      "members": {},
      "type": "structure"
    },
    "DeltaSyncConfig": {
      "documentation": "<p>Describes a Delta Sync configuration.</p>",
      "members": {
        "baseTableTTL": {
          "documentation": "<p>The number of minutes an Item is stored in the datasource.</p>",
          "shape": "Long"
        },
        "deltaSyncTableName": {
          "documentation": "<p>The Delta Sync table name.</p>",
          "shape": "String"
        },
        "deltaSyncTableTTL": {
          "documentation": "<p>The number of minutes a Delta Sync log entry is stored in the Delta Sync table.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "DynamodbDataSourceConfig": {
      "documentation": "<p>Describes an Amazon DynamoDB data source configuration.</p>",
      "members": {
        "awsRegion": {
          "documentation": "<p>The AWS Region.</p>",
          "shape": "String"
        },
        "deltaSyncConfig": {
          "documentation": "<p>The <code>DeltaSyncConfig</code> for a versioned datasource.</p>",
          "shape": "DeltaSyncConfig"
        },
        "tableName": {
          "documentation": "<p>The table name.</p>",
          "shape": "String"
        },
        "useCallerCredentials": {
          "documentation": "<p>Set to TRUE to use Amazon Cognito credentials with this data source.</p>",
          "shape": "Boolean"
        },
        "versioned": {
          "documentation": "<p>Set to TRUE to use Conflict Detection and Resolution with this data source.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "tableName",
        "awsRegion"
      ],
      "type": "structure"
    },
    "ElasticsearchDataSourceConfig": {
      "documentation": "<p>Describes an Elasticsearch data source configuration.</p>",
      "members": {
        "awsRegion": {
          "documentation": "<p>The AWS Region.</p>",
          "shape": "String"
        },
        "endpoint": {
          "documentation": "<p>The endpoint.</p>",
          "shape": "String"
        }
      },
      "required": [
        "endpoint",
        "awsRegion"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FieldLogLevel": {
      "enum": [
        "NONE",
        "ERROR",
        "ALL"
      ],
      "type": "string"
    },
    "FlushApiCacheRequest": {
      "documentation": "<p>Represents the input of a <code>FlushApiCache</code> operation.</p>",
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "FlushApiCacheResponse": {
      "documentation": "<p>Represents the output of a <code>FlushApiCache</code> operation.</p>",
      "members": {},
      "type": "structure"
    },
    "FunctionConfiguration": {
      "documentation": "<p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>",
      "members": {
        "dataSourceName": {
          "documentation": "<p>The name of the <code>DataSource</code>.</p>",
          "shape": "ResourceName"
        },
        "description": {
          "documentation": "<p>The <code>Function</code> description.</p>",
          "shape": "String"
        },
        "functionArn": {
          "documentation": "<p>The ARN of the <code>Function</code> object.</p>",
          "shape": "String"
        },
        "functionId": {
          "documentation": "<p>A unique ID representing the <code>Function</code> object.</p>",
          "shape": "String"
        },
        "functionVersion": {
          "documentation": "<p>The version of the request mapping template. Currently only the 2018-05-29 version of the template is supported.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the <code>Function</code> object.</p>",
          "shape": "ResourceName"
        },
        "requestMappingTemplate": {
          "documentation": "<p>The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.</p>",
          "shape": "MappingTemplate"
        },
        "responseMappingTemplate": {
          "documentation": "<p>The <code>Function</code> response mapping template.</p>",
          "shape": "MappingTemplate"
        }
      },
      "type": "structure"
    },
    "Functions": {
      "member": {
        "shape": "FunctionConfiguration"
      },
      "type": "list"
    },
    "FunctionsIds": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "GetApiCacheRequest": {
      "documentation": "<p>Represents the input of a <code>GetApiCache</code> operation.</p>",
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "GetApiCacheResponse": {
      "documentation": "<p>Represents the output of a <code>GetApiCache</code> operation.</p>",
      "members": {
        "apiCache": {
          "documentation": "<p>The <code>ApiCache</code> object.</p>",
          "shape": "ApiCache"
        }
      },
      "type": "structure"
    },
    "GetDataSourceRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the data source.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "name"
      ],
      "type": "structure"
    },
    "GetDataSourceResponse": {
      "members": {
        "dataSource": {
          "documentation": "<p>The <code>DataSource</code> object.</p>",
          "shape": "DataSource"
        }
      },
      "type": "structure"
    },
    "GetFunctionRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The GraphQL API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "functionId": {
          "documentation": "<p>The <code>Function</code> ID.</p>",
          "location": "uri",
          "locationName": "functionId",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "functionId"
      ],
      "type": "structure"
    },
    "GetFunctionResponse": {
      "members": {
        "functionConfiguration": {
          "documentation": "<p>The <code>Function</code> object.</p>",
          "shape": "FunctionConfiguration"
        }
      },
      "type": "structure"
    },
    "GetGraphqlApiRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID for the GraphQL API.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "GetGraphqlApiResponse": {
      "members": {
        "graphqlApi": {
          "documentation": "<p>The <code>GraphqlApi</code> object.</p>",
          "shape": "GraphqlApi"
        }
      },
      "type": "structure"
    },
    "GetIntrospectionSchemaRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>The schema format: SDL or JSON.</p>",
          "location": "querystring",
          "locationName": "format",
          "shape": "OutputType"
        },
        "includeDirectives": {
          "documentation": "<p>A flag that specifies whether the schema introspection should contain directives.</p>",
          "location": "querystring",
          "locationName": "includeDirectives",
          "shape": "BooleanValue"
        }
      },
      "required": [
        "apiId",
        "format"
      ],
      "type": "structure"
    },
    "GetIntrospectionSchemaResponse": {
      "members": {
        "schema": {
          "documentation": "<p>The schema, in GraphQL Schema Definition Language (SDL) format.</p> <p>For more information, see the <a href=\"http://graphql.org/learn/schema/\">GraphQL SDL documentation</a>.</p>",
          "shape": "Blob"
        }
      },
      "payload": "schema",
      "type": "structure"
    },
    "GetResolverRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "fieldName": {
          "documentation": "<p>The resolver field name.</p>",
          "location": "uri",
          "locationName": "fieldName",
          "shape": "ResourceName"
        },
        "typeName": {
          "documentation": "<p>The resolver type name.</p>",
          "location": "uri",
          "locationName": "typeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "typeName",
        "fieldName"
      ],
      "type": "structure"
    },
    "GetResolverResponse": {
      "members": {
        "resolver": {
          "documentation": "<p>The <code>Resolver</code> object.</p>",
          "shape": "Resolver"
        }
      },
      "type": "structure"
    },
    "GetSchemaCreationStatusRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "GetSchemaCreationStatusResponse": {
      "members": {
        "details": {
          "documentation": "<p>Detailed information about the status of the schema creation operation.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The current state of the schema (PROCESSING, FAILED, SUCCESS, or NOT_APPLICABLE). When the schema is in the ACTIVE state, you can add data.</p>",
          "shape": "SchemaStatus"
        }
      },
      "type": "structure"
    },
    "GetTypeRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>The type format: SDL or JSON.</p>",
          "location": "querystring",
          "locationName": "format",
          "shape": "TypeDefinitionFormat"
        },
        "typeName": {
          "documentation": "<p>The type name.</p>",
          "location": "uri",
          "locationName": "typeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "apiId",
        "typeName",
        "format"
      ],
      "type": "structure"
    },
    "GetTypeResponse": {
      "members": {
        "type": {
          "documentation": "<p>The <code>Type</code> object.</p>",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "GraphQLSchemaException": {
      "documentation": "<p>The GraphQL schema is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "GraphqlApi": {
      "documentation": "<p>Describes a GraphQL API.</p>",
      "members": {
        "additionalAuthenticationProviders": {
          "documentation": "<p>A list of additional authentication providers for the <code>GraphqlApi</code> API.</p>",
          "shape": "AdditionalAuthenticationProviders"
        },
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "shape": "String"
        },
        "arn": {
          "documentation": "<p>The ARN.</p>",
          "shape": "String"
        },
        "authenticationType": {
          "documentation": "<p>The authentication type.</p>",
          "shape": "AuthenticationType"
        },
        "logConfig": {
          "documentation": "<p>The Amazon CloudWatch Logs configuration.</p>",
          "shape": "LogConfig"
        },
        "name": {
          "documentation": "<p>The API name.</p>",
          "shape": "ResourceName"
        },
        "openIDConnectConfig": {
          "documentation": "<p>The OpenID Connect configuration.</p>",
          "shape": "OpenIDConnectConfig"
        },
        "tags": {
          "documentation": "<p>The tags.</p>",
          "shape": "TagMap"
        },
        "uris": {
          "documentation": "<p>The URIs.</p>",
          "shape": "MapOfStringToString"
        },
        "userPoolConfig": {
          "documentation": "<p>The Amazon Cognito user pool configuration.</p>",
          "shape": "UserPoolConfig"
        },
        "xrayEnabled": {
          "documentation": "<p>A flag representing whether X-Ray tracing is enabled for this <code>GraphqlApi</code>.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "GraphqlApis": {
      "member": {
        "shape": "GraphqlApi"
      },
      "type": "list"
    },
    "HttpDataSourceConfig": {
      "documentation": "<p>Describes an HTTP data source configuration.</p>",
      "members": {
        "authorizationConfig": {
          "documentation": "<p>The authorization config in case the HTTP endpoint requires authorization.</p>",
          "shape": "AuthorizationConfig"
        },
        "endpoint": {
          "documentation": "<p>The HTTP URL endpoint. You can either specify the domain name or IP, and port combination, and the URL scheme must be HTTP or HTTPS. If the port is not specified, AWS AppSync uses the default port 80 for the HTTP endpoint and port 443 for HTTPS endpoints.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InternalFailureException": {
      "documentation": "<p>An internal AWS AppSync error occurred. Try your request again.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LambdaConflictHandlerConfig": {
      "documentation": "<p>The <code>LambdaConflictHandlerConfig</code> object when configuring LAMBDA as the Conflict Handler.</p>",
      "members": {
        "lambdaConflictHandlerArn": {
          "documentation": "<p>The Arn for the Lambda function to use as the Conflict Handler.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LambdaDataSourceConfig": {
      "documentation": "<p>Describes an AWS Lambda data source configuration.</p>",
      "members": {
        "lambdaFunctionArn": {
          "documentation": "<p>The ARN for the Lambda function.</p>",
          "shape": "String"
        }
      },
      "required": [
        "lambdaFunctionArn"
      ],
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>The request exceeded a limit. Try your request again.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListApiKeysRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "ListApiKeysResponse": {
      "members": {
        "apiKeys": {
          "documentation": "<p>The <code>ApiKey</code> objects.</p>",
          "shape": "ApiKeys"
        },
        "nextToken": {
          "documentation": "<p>An identifier to be passed in the next request to this operation to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListDataSourcesRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "ListDataSourcesResponse": {
      "members": {
        "dataSources": {
          "documentation": "<p>The <code>DataSource</code> objects.</p>",
          "shape": "DataSources"
        },
        "nextToken": {
          "documentation": "<p>An identifier to be passed in the next request to this operation to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListFunctionsRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The GraphQL API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "apiId"
      ],
      "type": "structure"
    },
    "ListFunctionsResponse": {
      "members": {
        "functions": {
          "documentation": "<p>A list of <code>Function</code> objects.</p>",
          "shape": "Functions"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGraphqlApisRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGraphqlApisResponse": {
      "members": {
        "graphqlApis": {
          "documentation": "<p>The <code>GraphqlApi</code> objects.</p>",
          "shape": "GraphqlApis"
        },
        "nextToken": {
          "documentation": "<p>An identifier to be passed in the next request to this operation to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListResolversByFunctionRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "functionId": {
          "documentation": "<p>The Function ID.</p>",
          "location": "uri",
          "locationName": "functionId",
          "shape": "String"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which you can use to return the next set of items in the list.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "apiId",
        "functionId"
      ],
      "type": "structure"
    },
    "ListResolversByFunctionResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>An identifier that can be used to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        },
        "resolvers": {
          "documentation": "<p>The list of resolvers.</p>",
          "shape": "Resolvers"
        }
      },
      "type": "structure"
    },
    "ListResolversRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        },
        "typeName": {
          "documentation": "<p>The type name.</p>",
          "location": "uri",
          "locationName": "typeName",
          "shape": "String"
        }
      },
      "required": [
        "apiId",
        "typeName"
      ],
      "type": "structure"
    },
    "ListResolversResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>An identifier to be passed in the next request to this operation to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        },
        "resolvers": {
          "documentation": "<p>The <code>Resolver</code> objects.</p>",
          "shape": "Resolvers"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The <code>GraphqlApi</code> ARN.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>A <code>TagMap</code> object.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ListTypesRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>The type format: SDL or JSON.</p>",
          "location": "querystring",
          "locationName": "format",
          "shape": "TypeDefinitionFormat"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results you want the request to return.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "apiId",
        "format"
      ],
      "type": "structure"
    },
    "ListTypesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>An identifier to be passed in the next request to this operation to return the next set of items in the list.</p>",
          "shape": "PaginationToken"
        },
        "types": {
          "documentation": "<p>The <code>Type</code> objects.</p>",
          "shape": "TypeList"
        }
      },
      "type": "structure"
    },
    "LogConfig": {
      "documentation": "<p>The CloudWatch Logs configuration.</p>",
      "members": {
        "cloudWatchLogsRoleArn": {
          "documentation": "<p>The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. </p>",
          "shape": "String"
        },
        "excludeVerboseContent": {
          "documentation": "<p>Set to TRUE to exclude sections that contain information such as headers, context, and evaluated mapping templates, regardless of logging level.</p>",
          "shape": "Boolean"
        },
        "fieldLogLevel": {
          "documentation": "<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>",
          "shape": "FieldLogLevel"
        }
      },
      "required": [
        "fieldLogLevel",
        "cloudWatchLogsRoleArn"
      ],
      "type": "structure"
    },
    "Long": {
      "type": "long"
    },
    "MapOfStringToString": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "MappingTemplate": {
      "max": 65536,
      "min": 1,
      "type": "string"
    },
    "MaxResults": {
      "max": 25,
      "min": 0,
      "type": "integer"
    },
    "NotFoundException": {
      "documentation": "<p>The resource specified in the request was not found. Check the resource, and then try again.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "OpenIDConnectConfig": {
      "documentation": "<p>Describes an OpenID Connect configuration.</p>",
      "members": {
        "authTTL": {
          "documentation": "<p>The number of milliseconds a token is valid after being authenticated.</p>",
          "shape": "Long"
        },
        "clientId": {
          "documentation": "<p>The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.</p>",
          "shape": "String"
        },
        "iatTTL": {
          "documentation": "<p>The number of milliseconds a token is valid after being issued to a user.</p>",
          "shape": "Long"
        },
        "issuer": {
          "documentation": "<p>The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.</p>",
          "shape": "String"
        }
      },
      "required": [
        "issuer"
      ],
      "type": "structure"
    },
    "OutputType": {
      "enum": [
        "SDL",
        "JSON"
      ],
      "type": "string"
    },
    "PaginationToken": {
      "max": 65536,
      "min": 1,
      "pattern": "[\\\\S]+",
      "type": "string"
    },
    "PipelineConfig": {
      "documentation": "<p>The pipeline configuration for a resolver of kind <code>PIPELINE</code>.</p>",
      "members": {
        "functions": {
          "documentation": "<p>A list of <code>Function</code> objects.</p>",
          "shape": "FunctionsIds"
        }
      },
      "type": "structure"
    },
    "RdsHttpEndpointConfig": {
      "documentation": "<p>The Amazon RDS HTTP endpoint configuration.</p>",
      "members": {
        "awsRegion": {
          "documentation": "<p>AWS Region for RDS HTTP endpoint.</p>",
          "shape": "String"
        },
        "awsSecretStoreArn": {
          "documentation": "<p>AWS secret store ARN for database credentials.</p>",
          "shape": "String"
        },
        "databaseName": {
          "documentation": "<p>Logical database name.</p>",
          "shape": "String"
        },
        "dbClusterIdentifier": {
          "documentation": "<p>Amazon RDS cluster identifier.</p>",
          "shape": "String"
        },
        "schema": {
          "documentation": "<p>Logical schema name.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RelationalDatabaseDataSourceConfig": {
      "documentation": "<p>Describes a relational database data source configuration.</p>",
      "members": {
        "rdsHttpEndpointConfig": {
          "documentation": "<p>Amazon RDS HTTP endpoint settings.</p>",
          "shape": "RdsHttpEndpointConfig"
        },
        "relationalDatabaseSourceType": {
          "documentation": "<p>Source type for the relational database.</p> <ul> <li> <p> <b>RDS_HTTP_ENDPOINT</b>: The relational database source type is an Amazon RDS HTTP endpoint.</p> </li> </ul>",
          "shape": "RelationalDatabaseSourceType"
        }
      },
      "type": "structure"
    },
    "RelationalDatabaseSourceType": {
      "enum": [
        "RDS_HTTP_ENDPOINT"
      ],
      "type": "string"
    },
    "Resolver": {
      "documentation": "<p>Describes a resolver.</p>",
      "members": {
        "cachingConfig": {
          "documentation": "<p>The caching configuration for the resolver.</p>",
          "shape": "CachingConfig"
        },
        "dataSourceName": {
          "documentation": "<p>The resolver data source name.</p>",
          "shape": "ResourceName"
        },
        "fieldName": {
          "documentation": "<p>The resolver field name.</p>",
          "shape": "ResourceName"
        },
        "kind": {
          "documentation": "<p>The resolver type.</p> <ul> <li> <p> <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is the default resolver type. A UNIT resolver enables you to execute a GraphQL query against a single data source.</p> </li> <li> <p> <b>PIPELINE</b>: A PIPELINE resolver type. A PIPELINE resolver enables you to execute a series of <code>Function</code> in a serial manner. You can use a pipeline resolver to execute a GraphQL query against multiple data sources.</p> </li> </ul>",
          "shape": "ResolverKind"
        },
        "pipelineConfig": {
          "documentation": "<p>The <code>PipelineConfig</code>.</p>",
          "shape": "PipelineConfig"
        },
        "requestMappingTemplate": {
          "documentation": "<p>The request mapping template.</p>",
          "shape": "MappingTemplate"
        },
        "resolverArn": {
          "documentation": "<p>The resolver ARN.</p>",
          "shape": "String"
        },
        "responseMappingTemplate": {
          "documentation": "<p>The response mapping template.</p>",
          "shape": "MappingTemplate"
        },
        "syncConfig": {
          "documentation": "<p>The <code>SyncConfig</code> for a resolver attached to a versioned datasource.</p>",
          "shape": "SyncConfig"
        },
        "typeName": {
          "documentation": "<p>The resolver type name.</p>",
          "shape": "ResourceName"
        }
      },
      "type": "structure"
    },
    "ResolverKind": {
      "enum": [
        "UNIT",
        "PIPELINE"
      ],
      "type": "string"
    },
    "Resolvers": {
      "member": {
        "shape": "Resolver"
      },
      "type": "list"
    },
    "ResourceArn": {
      "max": 75,
      "min": 70,
      "pattern": "^arn:aws:appsync:[A-Za-z0-9_/.-]{0,63}:\\d{12}:apis/[0-9A-Za-z_-]{26}$",
      "type": "string"
    },
    "ResourceName": {
      "max": 65536,
      "min": 1,
      "pattern": "[_A-Za-z][_0-9A-Za-z]*",
      "type": "string"
    },
    "SchemaStatus": {
      "enum": [
        "PROCESSING",
        "ACTIVE",
        "DELETING",
        "FAILED",
        "SUCCESS",
        "NOT_APPLICABLE"
      ],
      "type": "string"
    },
    "StartSchemaCreationRequest": {
      "members": {
        "apiId": {
          "documentation": "<p>The API ID.</p>",
          "location": "uri",
          "locationName": "apiId",
          "shape": "String"
        },
        "definition": {
          "documentation": "<p>The schema definition, in GraphQL schema language format.</p>",
          "shape": "Blob"
        }
      },
      "required": [
        "apiId",
        "definition"
      ],
      "type": "structure"
    },
    "StartSchemaCreationResponse": {
      "members": {
        "status": {
          "documentation": "<p>The current state of the schema (PROCESSING, FAILED, SUCCESS, or NOT_APPLICABLE). When the schema is in the ACTIVE state, you can add data.</p>",
          "shape": "SchemaStatus"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "SyncConfig": {
      "documentation": "<p>Describes a Sync configuration for a resolver.</p> <p>Contains information on which Conflict Detection as well as Resolution strategy should be performed when the resolver is invoked.</p>",
      "members": {
        "conflictDetection": {
          "documentation": "<p>The Conflict Detection strategy to use.</p> <ul> <li> <p> <b>VERSION</b>: Detect conflicts based on object versions for this resolver.</p> </li> <li> <p> <b>NONE</b>: Do not detect conflicts when executing this resolver.</p> </li> </ul>",
          "shape": "ConflictDetectionType"
        },
        "conflictHandler": {
          "documentation": "<p>The Conflict Resolution strategy to perform in the event of a conflict.</p> <ul> <li> <p> <b>OPTIMISTIC_CONCURRENCY</b>: Resolve conflicts by rejecting mutations when versions do not match the latest version at the server.</p> </li> <li> <p> <b>AUTOMERGE</b>: Resolve conflicts with the Automerge conflict resolution strategy.</p> </li> <li> <p> <b>LAMBDA</b>: Resolve conflicts with a Lambda function supplied in the LambdaConflictHandlerConfig.</p> </li> </ul>",
          "shape": "ConflictHandlerType"
        },
        "lambdaConflictHandlerConfig": {
          "documentation": "<p>The <code>LambdaConflictHandlerConfig</code> when configuring LAMBDA as the Conflict Handler.</p>",
          "shape": "LambdaConflictHandlerConfig"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "documentation": "<p>The key for the tag.</p>",
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "documentation": "<p>A map with keys of <code>TagKey</code> objects and values of <code>TagValue</code> objects.</p>",
      "key": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The <code>GraphqlApi</code> ARN.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        },
        "tags": {
          "documentation": "<p>A <code>TagMap</code> object.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "documentation": "<p>The value for the tag.</p>",
      "max": 256,
      "type": "string"
    },
    "Type": {
      "documentation": "<p>Describes a type.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The type ARN.</p>",
          "shape": "String"
        },
        "definition": {
          "documentation": "<p>The type definition.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The type description.</p>",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>The type format: SDL or JSON.</p>",
[...]
