{
  "documentation": "<fullname>Amazon Kinesis Analytics</fullname> <p> <b>Overview</b> </p> <note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>This is the <i>Amazon Kinesis Analytics v1 API Reference</i>. The Amazon Kinesis Analytics Developer Guide provides additional information. </p>",
  "metadata": {
    "apiVersion": "2015-08-14",
    "endpointPrefix": "kinesisanalytics",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Kinesis Analytics",
    "serviceFullName": "Amazon Kinesis Analytics",
    "serviceId": "Kinesis Analytics",
    "signatureVersion": "v4",
    "targetPrefix": "KinesisAnalytics_20150814",
    "uid": "kinesisanalytics-2015-08-14"
  },
  "operations": {
    "AddApplicationCloudWatchLoggingOption": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds a CloudWatch log stream to monitor application configuration errors. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "name": "AddApplicationCloudWatchLoggingOption",
      "output": {
        "shape": "AddApplicationCloudWatchLoggingOptionResponse"
      }
    },
    "AddApplicationInput": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p> Adds a streaming source to your Amazon Kinesis application. For conceptual information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p> <p>You can add a streaming source either when you create an application or you can use this operation to add a streaming source after you create an application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_CreateApplication.html\">CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to find the current application version. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationInput</code> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationInputRequest"
      },
      "name": "AddApplicationInput",
      "output": {
        "shape": "AddApplicationInputResponse"
      }
    },
    "AddApplicationInputProcessingConfiguration": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds an <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html\">InputProcessingConfiguration</a> to an application. An input processor preprocesses records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationInputProcessingConfigurationRequest"
      },
      "name": "AddApplicationInputProcessingConfiguration",
      "output": {
        "shape": "AddApplicationInputProcessingConfigurationResponse"
      }
    },
    "AddApplicationOutput": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds an external destination to your Amazon Kinesis Analytics application.</p> <p>If you want Amazon Kinesis Analytics to deliver data from an in-application stream within your application to an external destination (such as an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Understanding Application Output (Destination)</a>. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to find the current application version.</p> <p>For the limits on the number of application inputs and outputs you can configure, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationOutputRequest"
      },
      "name": "AddApplicationOutput",
      "output": {
        "shape": "AddApplicationOutputResponse"
      }
    },
    "AddApplicationReferenceDataSource": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Adds a reference data source to an existing application.</p> <p>Amazon Kinesis Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in Amazon S3 object maps to columns in the resulting in-application table.</p> <p> For conceptual information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. For the limits on data sources you can add to your application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:AddApplicationOutput</code> action. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationReferenceDataSourceRequest"
      },
      "name": "AddApplicationReferenceDataSource",
      "output": {
        "shape": "AddApplicationReferenceDataSourceResponse"
      }
    },
    "CreateApplication": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p> Creates an Amazon Kinesis Analytics application. You can configure each application with one streaming source as input, application code to process the input, and up to three destinations where you want Amazon Kinesis Analytics to write the output data from your application. For an overview, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works.html\">How it Works</a>. </p> <p>In the input configuration, you map the streaming source to an in-application stream, which you can think of as a constantly updating table. In the mapping, you must provide a schema for the in-application stream and map each data column in the in-application stream to a data element in the streaming source.</p> <p>Your application code is one or more SQL statements that read input data, transform it, and generate output. Your application code can create one or more SQL artifacts like SQL streams or pumps.</p> <p>In the output configuration, you can configure the application to write data from in-application streams created in your applications to up to three destinations.</p> <p> To read data from your source stream or write data to destination streams, Amazon Kinesis Analytics needs your permissions. You grant these permissions by creating IAM roles. This operation requires permissions to perform the <code>kinesisanalytics:CreateApplication</code> action. </p> <p> For introductory exercises to create an Amazon Kinesis Analytics application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/getting-started.html\">Getting Started</a>. </p>",
      "errors": [
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResponse"
      }
    },
    "DeleteApplication": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes the specified application. Amazon Kinesis Analytics halts application execution and deletes the application, including any application artifacts (such as in-application streams, reference table, and application code).</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplication</code> action.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResponse"
      }
    },
    "DeleteApplicationCloudWatchLoggingOption": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes a CloudWatch log stream from an application. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationCloudWatchLoggingOptionRequest"
      },
      "name": "DeleteApplicationCloudWatchLoggingOption",
      "output": {
        "shape": "DeleteApplicationCloudWatchLoggingOptionResponse"
      }
    },
    "DeleteApplicationInputProcessingConfiguration": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes an <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html\">InputProcessingConfiguration</a> from an input.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationInputProcessingConfigurationRequest"
      },
      "name": "DeleteApplicationInputProcessingConfiguration",
      "output": {
        "shape": "DeleteApplicationInputProcessingConfigurationResponse"
      }
    },
    "DeleteApplicationOutput": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes output destination configuration from your application configuration. Amazon Kinesis Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DeleteApplicationOutput</code> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationOutputRequest"
      },
      "name": "DeleteApplicationOutput",
      "output": {
        "shape": "DeleteApplicationOutputResponse"
      }
    },
    "DeleteApplicationReferenceDataSource": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Deletes a reference data source configuration from the specified application configuration.</p> <p>If the application is running, Amazon Kinesis Analytics immediately removes the in-application table that you created using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_AddApplicationReferenceDataSource.html\">AddApplicationReferenceDataSource</a> operation. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics.DeleteApplicationReferenceDataSource</code> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationReferenceDataSourceRequest"
      },
      "name": "DeleteApplicationReferenceDataSource",
      "output": {
        "shape": "DeleteApplicationReferenceDataSourceResponse"
      }
    },
    "DescribeApplication": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Returns information about a specific Amazon Kinesis Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_ListApplications.html\">ListApplications</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:DescribeApplication</code> action. You can use <code>DescribeApplication</code> to get the current application versionId, which you need to call other operations such as <code>Update</code>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationRequest"
      },
      "name": "DescribeApplication",
      "output": {
        "shape": "DescribeApplicationResponse"
      }
    },
    "DiscoverInputSchema": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Infers a schema by evaluating sample records on the specified streaming source (Amazon Kinesis stream or Amazon Kinesis Firehose delivery stream) or S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. For conceptual information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. Note that when you create an application using the Amazon Kinesis Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p> <p> This operation requires permissions to perform the <code>kinesisanalytics:DiscoverInputSchema</code> action. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnableToDetectSchemaException"
        },
        {
          "shape": "ResourceProvisionedThroughputExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DiscoverInputSchemaRequest"
      },
      "name": "DiscoverInputSchema",
      "output": {
        "shape": "DiscoverInputSchemaResponse"
      }
    },
    "ListApplications": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Returns a list of Amazon Kinesis Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. If the response returns the <code>HasMoreApplications</code> value as true, you can send another request by adding the <code>ExclusiveStartApplicationName</code> in the request body, and set the value of this to the last application name from the previous response. </p> <p>If you want detailed information about a specific application, use <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a>.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:ListApplications</code> action.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationsRequest"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the list of key-value tags assigned to the application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartApplication": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Starts the specified Amazon Kinesis Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <p>After the application starts, it begins consuming the input data, processes it, and writes the output to the configured destination.</p> <p> The application status must be <code>READY</code> for you to start an application. You can get the application status in the console or using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation.</p> <p>After you start the application, you can stop the application from processing the input by calling the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_StopApplication.html\">StopApplication</a> operation.</p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StartApplication</code> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartApplicationRequest"
      },
      "name": "StartApplication",
      "output": {
        "shape": "StartApplicationResponse"
      }
    },
    "StopApplication": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Stops the application from processing input data. You can stop an application only if it is in the running state. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to find the application state. After the application is stopped, Amazon Kinesis Analytics stops reading data from the input, the application stops processing data, and there is no output written to the destination. </p> <p>This operation requires permissions to perform the <code>kinesisanalytics:StopApplication</code> action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopApplicationRequest"
      },
      "name": "StopApplication",
      "output": {
        "shape": "StopApplicationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more key-value tags to a Kinesis Analytics application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a Kinesis Analytics application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApplication": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Updates an existing Amazon Kinesis Analytics application. Using this API, you can update application code, input configuration, and output configuration. </p> <p>Note that Amazon Kinesis Analytics updates the <code>CurrentApplicationVersionId</code> each time you update your application. </p> <p>This operation requires permission for the <code>kinesisanalytics:UpdateApplication</code> action.</p>",
      "errors": [
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResponse"
      }
    }
  },
  "shapes": {
    "AddApplicationCloudWatchLoggingOptionRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The Kinesis Analytics application name.</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOption": {
          "documentation": "<p>Provides the CloudWatch log stream Amazon Resource Name (ARN) and the IAM role ARN. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>",
          "shape": "CloudWatchLoggingOption"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the Kinesis Analytics application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "CloudWatchLoggingOption"
      ],
      "type": "structure"
    },
    "AddApplicationCloudWatchLoggingOptionResponse": {
      "members": {},
      "type": "structure"
    },
    "AddApplicationInputProcessingConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of the application to which you want to add the input processing configuration.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>Version of the application to which you want to add the input processing configuration. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation.</p>",
          "shape": "Id"
        },
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html\">InputProcessingConfiguration</a> to add to the application.</p>",
          "shape": "InputProcessingConfiguration"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId",
        "InputProcessingConfiguration"
      ],
      "type": "structure"
    },
    "AddApplicationInputProcessingConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "AddApplicationInputRequest": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of your existing Amazon Kinesis Analytics application to which you want to add the streaming source.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>Current version of your Amazon Kinesis Analytics application. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to find the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "Input": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_Input.html\">Input</a> to add.</p>",
          "shape": "Input"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Input"
      ],
      "type": "structure"
    },
    "AddApplicationInputResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "AddApplicationOutputRequest": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of the application to which you want to add the output configuration.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>Version of the application to which you want to add the output configuration. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "Output": {
          "documentation": "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, an Amazon Kinesis stream, an Amazon Kinesis Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.</p>",
          "shape": "Output"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Output"
      ],
      "type": "structure"
    },
    "AddApplicationOutputResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "AddApplicationReferenceDataSourceRequest": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>Version of the application for which you are adding the reference data source. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceDataSource": {
          "documentation": "<p>The reference data source can be an object in your Amazon S3 bucket. Amazon Kinesis Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. You must also provide an IAM role with the necessary permissions that Amazon Kinesis Analytics can assume to read the object from your S3 bucket on your behalf.</p>",
          "shape": "ReferenceDataSource"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceDataSource"
      ],
      "type": "structure"
    },
    "AddApplicationReferenceDataSourceResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "ApplicationCode": {
      "max": 102400,
      "min": 0,
      "type": "string"
    },
    "ApplicationDescription": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "ApplicationDetail": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Provides a description of the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configuration.</p>",
      "members": {
        "ApplicationARN": {
          "documentation": "<p>ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationCode": {
          "documentation": "<p>Returns the application code that you provided to perform data analysis on any of the in-application streams in your application.</p>",
          "shape": "ApplicationCode"
        },
        "ApplicationDescription": {
          "documentation": "<p>Description of the application.</p>",
          "shape": "ApplicationDescription"
        },
        "ApplicationName": {
          "documentation": "<p>Name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationStatus": {
          "documentation": "<p>Status of the application.</p>",
          "shape": "ApplicationStatus"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>Describes the CloudWatch log streams that are configured to receive application messages. For more information about using CloudWatch log streams with Amazon Kinesis Analytics applications, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>. </p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        },
        "CreateTimestamp": {
          "documentation": "<p>Time stamp when the application version was created.</p>",
          "shape": "Timestamp"
        },
        "InputDescriptions": {
          "documentation": "<p>Describes the application input configuration. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p>",
          "shape": "InputDescriptions"
        },
        "LastUpdateTimestamp": {
          "documentation": "<p>Time stamp when the application was last updated.</p>",
          "shape": "Timestamp"
        },
        "OutputDescriptions": {
          "documentation": "<p>Describes the application output configuration. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. </p>",
          "shape": "OutputDescriptions"
        },
        "ReferenceDataSourceDescriptions": {
          "documentation": "<p>Describes reference data sources configured for the application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p>",
          "shape": "ReferenceDataSourceDescriptions"
        }
      },
      "required": [
        "ApplicationName",
        "ApplicationARN",
        "ApplicationStatus",
        "ApplicationVersionId"
      ],
      "type": "structure"
    },
    "ApplicationName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ApplicationStatus": {
      "enum": [
        "DELETING",
        "STARTING",
        "STOPPING",
        "READY",
        "RUNNING",
        "UPDATING"
      ],
      "type": "string"
    },
    "ApplicationSummaries": {
      "member": {
        "shape": "ApplicationSummary"
      },
      "type": "list"
    },
    "ApplicationSummary": {
      "documentation": "<note> <p>This documentation is for version 1 of the Amazon Kinesis Data Analytics API, which only supports SQL applications. Version 2 of the API supports SQL and Java applications. For more information about version 2, see <a href=\"/kinesisanalytics/latest/apiv2/Welcome.html\">Amazon Kinesis Data Analytics API V2 Documentation</a>.</p> </note> <p>Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.</p>",
      "members": {
        "ApplicationARN": {
          "documentation": "<p>ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationName": {
          "documentation": "<p>Name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationStatus": {
          "documentation": "<p>Status of the application.</p>",
          "shape": "ApplicationStatus"
        }
      },
      "required": [
        "ApplicationName",
        "ApplicationARN",
        "ApplicationStatus"
      ],
      "type": "structure"
    },
    "ApplicationUpdate": {
      "documentation": "<p>Describes updates to apply to an existing Amazon Kinesis Analytics application.</p>",
      "members": {
        "ApplicationCodeUpdate": {
          "documentation": "<p>Describes application code updates.</p>",
          "shape": "ApplicationCode"
        },
        "CloudWatchLoggingOptionUpdates": {
          "documentation": "<p>Describes application CloudWatch logging option updates.</p>",
          "shape": "CloudWatchLoggingOptionUpdates"
        },
        "InputUpdates": {
          "documentation": "<p>Describes application input configuration updates.</p>",
          "shape": "InputUpdates"
        },
        "OutputUpdates": {
          "documentation": "<p>Describes application output configuration updates.</p>",
          "shape": "OutputUpdates"
        },
        "ReferenceDataSourceUpdates": {
          "documentation": "<p>Describes application reference data source updates.</p>",
          "shape": "ReferenceDataSourceUpdates"
        }
      },
      "type": "structure"
    },
    "ApplicationVersionId": {
      "max": 999999999,
      "min": 1,
      "type": "long"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BucketARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "CSVMappingParameters": {
      "documentation": "<p>Provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>'\\n'</i> as the row delimiter and a comma (\",\") as the column delimiter: </p> <p> <code>\"name1\", \"address1\"</code> </p> <p> <code>\"name2\", \"address2\"</code> </p>",
      "members": {
        "RecordColumnDelimiter": {
          "documentation": "<p>Column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.</p>",
          "shape": "RecordColumnDelimiter"
        },
        "RecordRowDelimiter": {
          "documentation": "<p>Row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.</p>",
          "shape": "RecordRowDelimiter"
        }
      },
      "required": [
        "RecordRowDelimiter",
        "RecordColumnDelimiter"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOption": {
      "documentation": "<p>Provides a description of CloudWatch logging options, including the log stream Amazon Resource Name (ARN) and the role ARN.</p>",
      "members": {
        "LogStreamARN": {
          "documentation": "<p>ARN of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        },
        "RoleARN": {
          "documentation": "<p>IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role that is used must have the <code>PutLogEvents</code> policy action enabled.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "LogStreamARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionDescription": {
      "documentation": "<p>Description of the CloudWatch logging option.</p>",
      "members": {
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>ID of the CloudWatch logging option description.</p>",
          "shape": "Id"
        },
        "LogStreamARN": {
          "documentation": "<p>ARN of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        },
        "RoleARN": {
          "documentation": "<p>IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role used must have the <code>PutLogEvents</code> policy action enabled.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "LogStreamARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionDescriptions": {
      "member": {
        "shape": "CloudWatchLoggingOptionDescription"
      },
      "type": "list"
    },
    "CloudWatchLoggingOptionUpdate": {
      "documentation": "<p>Describes CloudWatch logging option updates.</p>",
      "members": {
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>ID of the CloudWatch logging option to update</p>",
          "shape": "Id"
        },
        "LogStreamARNUpdate": {
          "documentation": "<p>ARN of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>IAM ARN of the role to use to send application messages. Note: To write application messages to CloudWatch, the IAM role used must have the <code>PutLogEvents</code> policy action enabled.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "CloudWatchLoggingOptionId"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionUpdates": {
      "member": {
        "shape": "CloudWatchLoggingOptionUpdate"
      },
      "type": "list"
    },
    "CloudWatchLoggingOptions": {
      "member": {
        "shape": "CloudWatchLoggingOption"
      },
      "type": "list"
    },
    "CodeValidationException": {
      "documentation": "<p>User-provided application code (query) is invalid. This can be a simple syntax error.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Test</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Exception thrown as a result of concurrent modification to an application. For example, two individuals attempting to edit the same application at the same time.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p/>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateApplicationRequest": {
      "documentation": "<p>TBD</p>",
      "members": {
        "ApplicationCode": {
          "documentation": "<p>One or more SQL statements that read input data, transform it, and generate output. For example, you can write a SQL statement that reads data from one in-application stream, generates a running average of the number of advertisement clicks by vendor, and insert resulting rows in another in-application stream using pumps. For more information about the typical pattern, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-app-code.html\">Application Code</a>. </p> <p>You can provide such series of SQL statements, where output of one statement can be used as the input for the next statement. You store intermediate results by creating in-application streams and pumps.</p> <p>Note that the application code must create the streams with names specified in the <code>Outputs</code>. For example, if your <code>Outputs</code> defines output streams named <code>ExampleOutputStream1</code> and <code>ExampleOutputStream2</code>, then your application code must create these streams. </p>",
          "shape": "ApplicationCode"
        },
        "ApplicationDescription": {
          "documentation": "<p>Summary description of the application.</p>",
          "shape": "ApplicationDescription"
        },
        "ApplicationName": {
          "documentation": "<p>Name of your Amazon Kinesis Analytics application (for example, <code>sample-app</code>).</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>Use this parameter to configure a CloudWatch log stream to monitor application configuration errors. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/cloudwatch-logs.html\">Working with Amazon CloudWatch Logs</a>.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "Inputs": {
          "documentation": "<p>Use this parameter to configure the application input.</p> <p>You can configure your application to receive input from a single streaming source. In this configuration, you map this streaming source to an in-application stream that is created. Your application code can then query the in-application stream like a table (you can think of it as a constantly updating table).</p> <p>For the streaming source, you provide its Amazon Resource Name (ARN) and format of data on the stream (for example, JSON, CSV, etc.). You also must provide an IAM role that Amazon Kinesis Analytics can assume to read this stream on your behalf.</p> <p>To create the in-application stream, you need to specify a schema to transform your data into a schematized version used in SQL. In the schema, you provide the necessary mapping of the data elements in the streaming source to record columns in the in-app stream.</p>",
          "shape": "Inputs"
        },
        "Outputs": {
          "documentation": "<p>You can configure application output to write data from any of the in-application streams to up to three destinations.</p> <p>These destinations can be Amazon Kinesis streams, Amazon Kinesis Firehose delivery streams, AWS Lambda destinations, or any combination of the three.</p> <p>In the configuration, you specify the in-application stream name, the destination stream or Lambda function Amazon Resource Name (ARN), and the format to use when writing data. You must also provide an IAM role that Amazon Kinesis Analytics can assume to write to the destination stream or Lambda function on your behalf.</p> <p>In the output configuration, you also provide the output stream or Lambda function ARN. For stream destinations, you provide the format of data in the stream (for example, JSON, CSV). You also must provide an IAM role that Amazon Kinesis Analytics can assume to write to the stream or Lambda function on your behalf.</p>",
          "shape": "Outputs"
        },
        "Tags": {
          "documentation": "<p>A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-tagging.html\">Using Tagging</a>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "CreateApplicationResponse": {
      "documentation": "<p>TBD</p>",
      "members": {
        "ApplicationSummary": {
          "documentation": "<p>In response to your <code>CreateApplication</code> request, Amazon Kinesis Analytics returns a response with a summary of the application it created, including the application Amazon Resource Name (ARN), name, and status.</p>",
          "shape": "ApplicationSummary"
        }
      },
      "required": [
        "ApplicationSummary"
      ],
      "type": "structure"
    },
    "DeleteApplicationCloudWatchLoggingOptionRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The Kinesis Analytics application name.</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The <code>CloudWatchLoggingOptionId</code> of the CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation. </p>",
          "shape": "Id"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the Kinesis Analytics application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "CloudWatchLoggingOptionId"
      ],
      "type": "structure"
    },
    "DeleteApplicationCloudWatchLoggingOptionResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationInputProcessingConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The Kinesis Analytics application name.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the Kinesis Analytics application.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId"
      ],
      "type": "structure"
    },
    "DeleteApplicationInputProcessingConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationOutputRequest": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Amazon Kinesis Analytics application name.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>Amazon Kinesis Analytics application version. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "OutputId": {
          "documentation": "<p>The ID of the configuration to delete. Each output configuration that is added to the application, either when the application is created or later using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_AddApplicationOutput.html\">AddApplicationOutput</a> operation, has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the specific <code>OutputId</code>. </p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "OutputId"
      ],
      "type": "structure"
    },
    "DeleteApplicationOutputResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationReferenceDataSourceRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>Version of the application. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceId": {
          "documentation": "<p>ID of the reference data source. When you add a reference data source to your application using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_AddApplicationReferenceDataSource.html\">AddApplicationReferenceDataSource</a>, Amazon Kinesis Analytics assigns an ID. You can use the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation to get the reference ID. </p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceId"
      ],
      "type": "structure"
    },
    "DeleteApplicationReferenceDataSourceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationRequest": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of the Amazon Kinesis Analytics application to delete.</p>",
          "shape": "ApplicationName"
        },
        "CreateTimestamp": {
          "documentation": "<p> You can use the <code>DescribeApplication</code> operation to get this value. </p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "ApplicationName",
        "CreateTimestamp"
      ],
      "type": "structure"
    },
    "DeleteApplicationResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "DescribeApplicationRequest": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Name of the application.</p>",
          "shape": "ApplicationName"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "DescribeApplicationResponse": {
      "documentation": "<p/>",
      "members": {
        "ApplicationDetail": {
          "documentation": "<p>Provides a description of the application, such as the application Amazon Resource Name (ARN), status, latest version, and input and output configuration details.</p>",
          "shape": "ApplicationDetail"
        }
      },
      "required": [
        "ApplicationDetail"
      ],
      "type": "structure"
    },
    "DestinationSchema": {
      "documentation": "<p>Describes the data format when records are written to the destination. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. </p>",
      "members": {
        "RecordFormatType": {
          "documentation": "<p>Specifies the format of the records on the output stream.</p>",
          "shape": "RecordFormatType"
        }
      },
      "required": [
        "RecordFormatType"
      ],
      "type": "structure"
    },
    "DiscoverInputSchemaRequest": {
      "members": {
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html\">InputProcessingConfiguration</a> to use to preprocess the records before discovering the schema of the records.</p>",
          "shape": "InputProcessingConfiguration"
        },
        "InputStartingPositionConfiguration": {
          "documentation": "<p>Point at which you want Amazon Kinesis Analytics to start reading records from the specified streaming source discovery purposes.</p>",
          "shape": "InputStartingPositionConfiguration"
        },
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the streaming source.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf.</p>",
          "shape": "RoleARN"
        },
        "S3Configuration": {
          "documentation": "<p>Specify this parameter to discover a schema from data in an Amazon S3 object.</p>",
          "shape": "S3Configuration"
        }
      },
      "type": "structure"
    },
    "DiscoverInputSchemaResponse": {
      "documentation": "<p/>",
      "members": {
        "InputSchema": {
          "documentation": "<p>Schema inferred from the streaming source. It identifies the format of the data in the streaming source and how each data element maps to corresponding columns in the in-application stream that you can create.</p>",
          "shape": "SourceSchema"
        },
        "ParsedInputRecords": {
          "documentation": "<p>An array of elements, where each element corresponds to a row in a stream record (a stream record can have more than one row).</p>",
          "shape": "ParsedInputRecords"
        },
        "ProcessedInputRecords": {
          "documentation": "<p>Stream data that was modified by the processor specified in the <code>InputProcessingConfiguration</code> parameter.</p>",
          "shape": "ProcessedInputRecords"
        },
        "RawInputRecords": {
          "documentation": "<p>Raw stream data that was sampled to infer the schema.</p>",
          "shape": "RawInputRecords"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FileKey": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "Id": {
      "max": 50,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "InAppStreamName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "InAppStreamNames": {
      "member": {
        "shape": "InAppStreamName"
      },
      "type": "list"
    },
    "InAppTableName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "Input": {
      "documentation": "<p>When you configure the application input, you specify the streaming source, the in-application stream name that is created, and the mapping between the two. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p>",
      "members": {
        "InputParallelism": {
          "documentation": "<p>Describes the number of in-application streams to create. </p> <p>Data from your source is routed to these in-application input streams.</p> <p> (see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>.</p>",
          "shape": "InputParallelism"
        },
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html\">InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application's SQL code executes. Currently, the only input processing configuration available is <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html\">InputLambdaProcessor</a>.</p>",
          "shape": "InputProcessingConfiguration"
        },
        "InputSchema": {
          "documentation": "<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>",
          "shape": "SourceSchema"
        },
        "KinesisFirehoseInput": {
          "documentation": "<p>If the streaming source is an Amazon Kinesis Firehose delivery stream, identifies the delivery stream's ARN and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code> or <code>KinesisFirehoseInput</code> is required.</p>",
          "shape": "KinesisFirehoseInput"
        },
        "KinesisStreamsInput": {
          "documentation": "<p>If the streaming source is an Amazon Kinesis stream, identifies the stream's Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p> <p>Note: Either <code>KinesisStreamsInput</code> or <code>KinesisFirehoseInput</code> is required.</p>",
          "shape": "KinesisStreamsInput"
        },
        "NamePrefix": {
          "documentation": "<p>Name prefix to use when creating an in-application stream. Suppose that you specify a prefix \"MyInApplicationStream.\" Amazon Kinesis Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with names \"MyInApplicationStream_001,\" \"MyInApplicationStream_002,\" and so on. </p>",
          "shape": "InAppStreamName"
        }
      },
      "required": [
        "NamePrefix",
        "InputSchema"
      ],
      "type": "structure"
    },
    "InputConfiguration": {
      "documentation": "<p>When you start your application, you provide this configuration, which identifies the input source and the point in the input source at which you want the application to start processing records.</p>",
      "members": {
        "Id": {
          "documentation": "<p>Input source ID. You can get this ID by calling the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_DescribeApplication.html\">DescribeApplication</a> operation.</p>",
          "shape": "Id"
        },
        "InputStartingPositionConfiguration": {
          "documentation": "<p>Point at which you want the application to start processing records from the streaming source.</p>",
          "shape": "InputStartingPositionConfiguration"
        }
      },
      "required": [
        "Id",
        "InputStartingPositionConfiguration"
      ],
      "type": "structure"
    },
    "InputConfigurations": {
      "member": {
        "shape": "InputConfiguration"
      },
      "type": "list"
    },
    "InputDescription": {
      "documentation": "<p>Describes the application input configuration. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p>",
      "members": {
        "InAppStreamNames": {
          "documentation": "<p>Returns the in-application stream names that are mapped to the stream source.</p>",
          "shape": "InAppStreamNames"
        },
        "InputId": {
          "documentation": "<p>Input ID associated with the application input. This is the ID that Amazon Kinesis Analytics assigns to each input configuration you add to your application. </p>",
          "shape": "Id"
        },
        "InputParallelism": {
          "documentation": "<p>Describes the configured parallelism (number of in-application streams mapped to the streaming source).</p>",
          "shape": "InputParallelism"
        },
        "InputProcessingConfigurationDescription": {
          "documentation": "<p>The description of the preprocessor that executes on records in this input before the application's code is run.</p>",
          "shape": "InputProcessingConfigurationDescription"
        },
        "InputSchema": {
          "documentation": "<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created. </p>",
          "shape": "SourceSchema"
        },
        "InputStartingPositionConfiguration": {
          "documentation": "<p>Point at which the application is configured to read from the input stream.</p>",
          "shape": "InputStartingPositionConfiguration"
        },
        "KinesisFirehoseInputDescription": {
          "documentation": "<p>If an Amazon Kinesis Firehose delivery stream is configured as a streaming source, provides the delivery stream's ARN and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p>",
          "shape": "KinesisFirehoseInputDescription"
        },
        "KinesisStreamsInputDescription": {
          "documentation": "<p>If an Amazon Kinesis stream is configured as streaming source, provides Amazon Kinesis stream's Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to access the stream on your behalf.</p>",
          "shape": "KinesisStreamsInputDescription"
        },
        "NamePrefix": {
          "documentation": "<p>In-application name prefix.</p>",
          "shape": "InAppStreamName"
        }
      },
      "type": "structure"
    },
    "InputDescriptions": {
      "member": {
        "shape": "InputDescription"
      },
      "type": "list"
    },
    "InputLambdaProcessor": {
      "documentation": "<p>An object that contains the Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a> function that is used to preprocess records in the stream, and the ARN of the IAM role that is used to access the AWS Lambda function. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a> function that operates on records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>The ARN of the IAM role that is used to access the AWS Lambda function.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "InputLambdaProcessorDescription": {
      "documentation": "<p>An object that contains the Amazon Resource Name (ARN) of the <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a> function that is used to preprocess records in the stream, and the ARN of the IAM role that is used to access the AWS Lambda expression.</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a> function that is used to preprocess the records in the stream.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>The ARN of the IAM role that is used to access the AWS Lambda function.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "InputLambdaProcessorUpdate": {
      "documentation": "<p>Represents an update to the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html\">InputLambdaProcessor</a> that is used to preprocess the records in the stream.</p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the new <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a> function that is used to preprocess the records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>The ARN of the new IAM role that is used to access the AWS Lambda function.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "InputParallelism": {
      "documentation": "<p>Describes the number of in-application streams to create for a given streaming source. For information about parallelism, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-input.html\">Configuring Application Input</a>. </p>",
      "members": {
        "Count": {
          "documentation": "<p>Number of in-application streams to create. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/limits.html\">Limits</a>. </p>",
          "shape": "InputParallelismCount"
        }
      },
      "type": "structure"
    },
    "InputParallelismCount": {
      "max": 64,
      "min": 1,
      "type": "integer"
    },
    "InputParallelismUpdate": {
      "documentation": "<p>Provides updates to the parallelism count.</p>",
      "members": {
        "CountUpdate": {
          "documentation": "<p>Number of in-application streams to create for the specified streaming source.</p>",
          "shape": "InputParallelismCount"
        }
      },
      "type": "structure"
    },
    "InputProcessingConfiguration": {
      "documentation": "<p>Provides a description of a processor that is used to preprocess the records in the stream before being processed by your application code. Currently, the only input processor available is <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a>.</p>",
      "members": {
        "InputLambdaProcessor": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html\">InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.</p>",
          "shape": "InputLambdaProcessor"
        }
      },
      "required": [
        "InputLambdaProcessor"
      ],
      "type": "structure"
    },
    "InputProcessingConfigurationDescription": {
      "documentation": "<p>Provides configuration information about an input processor. Currently, the only input processor available is <a href=\"https://docs.aws.amazon.com/lambda/\">AWS Lambda</a>.</p>",
      "members": {
        "InputLambdaProcessorDescription": {
          "documentation": "<p>Provides configuration information about the associated <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessorDescription.html\">InputLambdaProcessorDescription</a>.</p>",
          "shape": "InputLambdaProcessorDescription"
        }
      },
      "type": "structure"
    },
    "InputProcessingConfigurationUpdate": {
      "documentation": "<p>Describes updates to an <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputProcessingConfiguration.html\">InputProcessingConfiguration</a>. </p>",
      "members": {
        "InputLambdaProcessorUpdate": {
          "documentation": "<p>Provides update information for an <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_InputLambdaProcessor.html\">InputLambdaProcessor</a>.</p>",
          "shape": "InputLambdaProcessorUpdate"
        }
      },
      "required": [
        "InputLambdaProcessorUpdate"
      ],
      "type": "structure"
    },
    "InputSchemaUpdate": {
      "documentation": "<p>Describes updates for the application's input schema.</p>",
      "members": {
        "RecordColumnUpdates": {
          "documentation": "<p>A list of <code>RecordColumn</code> objects. Each object describes the mapping of the streaming source element to the corresponding column in the in-application stream. </p>",
          "shape": "RecordColumns"
        },
        "RecordEncodingUpdate": {
          "documentation": "<p>Specifies the encoding of the records in the streaming source. For example, UTF-8.</p>",
          "shape": "RecordEncoding"
        },
        "RecordFormatUpdate": {
          "documentation": "<p>Specifies the format of the records on the streaming source.</p>",
          "shape": "RecordFormat"
        }
      },
      "type": "structure"
    },
    "InputStartingPosition": {
      "enum": [
        "NOW",
        "TRIM_HORIZON",
        "LAST_STOPPED_POINT"
      ],
      "type": "string"
    },
    "InputStartingPositionConfiguration": {
      "documentation": "<p>Describes the point at which the application reads from the streaming source.</p>",
      "members": {
        "InputStartingPosition": {
          "documentation": "<p>The starting position on the stream.</p> <ul> <li> <p> <code>NOW</code> - Start reading just after the most recent record in the stream, start at the request time stamp that the customer issued.</p> </li> <li> <p> <code>TRIM_HORIZON</code> - Start reading at the last untrimmed record in the stream, which is the oldest record available in the stream. This option is not available for an Amazon Kinesis Firehose delivery stream.</p> </li> <li> <p> <code>LAST_STOPPED_POINT</code> - Resume reading from where the application last stopped reading.</p> </li> </ul>",
          "shape": "InputStartingPosition"
        }
      },
      "type": "structure"
    },
    "InputUpdate": {
      "documentation": "<p>Describes updates to a specific input configuration (identified by the <code>InputId</code> of an application). </p>",
      "members": {
        "InputId": {
          "documentation": "<p>Input ID of the application input to be updated.</p>",
          "shape": "Id"
        },
        "InputParallelismUpdate": {
          "documentation": "<p>Describes the parallelism updates (the number in-application streams Amazon Kinesis Analytics creates for the specific streaming source).</p>",
          "shape": "InputParallelismUpdate"
        },
        "InputProcessingConfigurationUpdate": {
          "documentation": "<p>Describes updates for an input processing configuration.</p>",
          "shape": "InputProcessingConfigurationUpdate"
        },
        "InputSchemaUpdate": {
          "documentation": "<p>Describes the data format on the streaming source, and how record elements on the streaming source map to columns of the in-application stream that is created.</p>",
          "shape": "InputSchemaUpdate"
        },
        "KinesisFirehoseInputUpdate": {
          "documentation": "<p>If an Amazon Kinesis Firehose delivery stream is the streaming source to be updated, provides an updated stream ARN and IAM role ARN.</p>",
          "shape": "KinesisFirehoseInputUpdate"
        },
        "KinesisStreamsInputUpdate": {
          "documentation": "<p>If an Amazon Kinesis stream is the streaming source to be updated, provides an updated stream Amazon Resource Name (ARN) and IAM role ARN.</p>",
          "shape": "KinesisStreamsInputUpdate"
        },
        "NamePrefixUpdate": {
          "documentation": "<p>Name prefix for in-application streams that Amazon Kinesis Analytics creates for the specific streaming source.</p>",
          "shape": "InAppStreamName"
        }
      },
      "required": [
        "InputId"
      ],
      "type": "structure"
    },
    "InputUpdates": {
      "member": {
        "shape": "InputUpdate"
      },
      "type": "list"
    },
    "Inputs": {
      "member": {
        "shape": "Input"
      },
      "type": "list"
    },
    "InvalidApplicationConfigurationException": {
      "documentation": "<p>User-provided application configuration is not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>test</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidArgumentException": {
      "documentation": "<p>Specified input parameter value is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p/>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "JSONMappingParameters": {
      "documentation": "<p>Provides additional mapping information when JSON is the record format on the streaming source.</p>",
      "members": {
        "RecordRowPath": {
          "documentation": "<p>Path to the top-level parent that contains the records.</p>",
          "shape": "RecordRowPath"
        }
      },
      "required": [
        "RecordRowPath"
      ],
      "type": "structure"
    },
    "KinesisAnalyticsARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:aws:kinesisanalytics:[a-z]{2}-[a-z]+-\\d{1}+:\\d{12}+:application/[a-zA-Z0-9_.-]{1,128}",
      "type": "string"
    },
    "KinesisFirehoseInput": {
      "documentation": "<p> Identifies an Amazon Kinesis Firehose delivery stream as the streaming source. You provide the delivery stream's Amazon Resource Name (ARN) and an IAM role ARN that enables Amazon Kinesis Analytics to access the stream on your behalf.</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>ARN of the input delivery stream.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to make sure that the role has the necessary permissions to access the stream.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "KinesisFirehoseInputDescription": {
      "documentation": "<p> Describes the Amazon Kinesis Firehose delivery stream that is configured as the streaming source in the application input configuration. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics assumes to access the stream.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisFirehoseInputUpdate": {
      "documentation": "<p>When updating application input configuration, provides information about an Amazon Kinesis Firehose delivery stream as the streaming source.</p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>Amazon Resource Name (ARN) of the input Amazon Kinesis Firehose delivery stream to read.</p>",
          "shape": "ResourceARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisFirehoseOutput": {
      "documentation": "<p>When configuring application output, identifies an Amazon Kinesis Firehose delivery stream as the destination. You provide the stream Amazon Resource Name (ARN) and an IAM role that enables Amazon Kinesis Analytics to write to the stream on your behalf.</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>ARN of the destination Amazon Kinesis Firehose delivery stream to write to.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "KinesisFirehoseOutputDescription": {
      "documentation": "<p> For an application output, describes the Amazon Kinesis Firehose delivery stream configured as its destination. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisFirehoseOutputUpdate": {
      "documentation": "<p> When updating an output configuration using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_UpdateApplication.html\">UpdateApplication</a> operation, provides information about an Amazon Kinesis Firehose delivery stream configured as the destination. </p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon Kinesis Firehose delivery stream to write to.</p>",
          "shape": "ResourceARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisStreamsInput": {
      "documentation": "<p> Identifies an Amazon Kinesis stream as the streaming source. You provide the stream's Amazon Resource Name (ARN) and an IAM role ARN that enables Amazon Kinesis Analytics to access the stream on your behalf.</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>ARN of the input Amazon Kinesis stream to read.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "KinesisStreamsInputDescription": {
      "documentation": "<p> Describes the Amazon Kinesis stream that is configured as the streaming source in the application input configuration. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon Kinesis stream.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisStreamsInputUpdate": {
      "documentation": "<p>When updating application input configuration, provides information about an Amazon Kinesis stream as the streaming source.</p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>Amazon Resource Name (ARN) of the input Amazon Kinesis stream to read.</p>",
          "shape": "ResourceARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisStreamsOutput": {
      "documentation": "<p>When configuring application output, identifies an Amazon Kinesis stream as the destination. You provide the stream Amazon Resource Name (ARN) and also an IAM role ARN that Amazon Kinesis Analytics can use to write to the stream on your behalf.</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>ARN of the destination Amazon Kinesis stream to write to.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "KinesisStreamsOutputDescription": {
      "documentation": "<p> For an application output, describes the Amazon Kinesis stream configured as its destination. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon Kinesis stream.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "KinesisStreamsOutputUpdate": {
      "documentation": "<p> When updating an output configuration using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_UpdateApplication.html\">UpdateApplication</a> operation, provides information about an Amazon Kinesis stream configured as the destination. </p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon Kinesis stream where you want to write the output.</p>",
          "shape": "ResourceARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to access the stream on your behalf. You need to grant the necessary permissions to this role.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "LambdaOutput": {
      "documentation": "<p>When configuring application output, identifies an AWS Lambda function as the destination. You provide the function Amazon Resource Name (ARN) and also an IAM role ARN that Amazon Kinesis Analytics can use to write to the function on your behalf. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the destination Lambda function to write to.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination function on your behalf. You need to grant the necessary permissions to this role. </p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "LambdaOutputDescription": {
      "documentation": "<p>For an application output, describes the AWS Lambda function configured as its destination. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>Amazon Resource Name (ARN) of the destination Lambda function.</p>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination function.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "LambdaOutputUpdate": {
      "documentation": "<p>When updating an output configuration using the <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/API_UpdateApplication.html\">UpdateApplication</a> operation, provides information about an AWS Lambda function configured as the destination.</p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>Amazon Resource Name (ARN) of the destination Lambda function.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        },
        "RoleARNUpdate": {
          "documentation": "<p>ARN of the IAM role that Amazon Kinesis Analytics can assume to write to the destination function on your behalf. You need to grant the necessary permissions to this role. </p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>Exceeded the number of applications allowed.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p/>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListApplicationsInputLimit": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListApplicationsRequest": {
      "documentation": "<p/>",
      "members": {
        "ExclusiveStartApplicationName": {
          "documentation": "<p>Name of the application to start the list with. When using pagination to retrieve the list, you don't need to specify this parameter in the first request. However, in subsequent requests, you add the last application name from the previous response to get the next page of applications.</p>",
          "shape": "ApplicationName"
        },
        "Limit": {
          "documentation": "<p>Maximum number of applications to list.</p>",
          "shape": "ListApplicationsInputLimit"
        }
      },
      "type": "structure"
    },
    "ListApplicationsResponse": {
      "documentation": "<p/>",
      "members": {
        "ApplicationSummaries": {
          "documentation": "<p>List of <code>ApplicationSummary</code> objects. </p>",
          "shape": "ApplicationSummaries"
        },
        "HasMoreApplications": {
          "documentation": "<p>Returns true if there are more applications to retrieve.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "ApplicationSummaries",
        "HasMoreApplications"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the application for which to retrieve tags.</p>",
          "shape": "KinesisAnalyticsARN"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The key-value tags assigned to the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "LogStreamARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "MappingParameters": {
      "documentation": "<p>When configuring application input at the time of creating or updating an application, provides additional mapping information specific to the record format (such as JSON, CSV, or record fields delimited by some delimiter) on the streaming source.</p>",
      "members": {
        "CSVMappingParameters": {
          "documentation": "<p>Provides additional mapping information when the record format uses delimiters (for example, CSV).</p>",
          "shape": "CSVMappingParameters"
        },
        "JSONMappingParameters": {
[...]
