{
  "documentation": "<fullname>AWS Elastic Beanstalk</fullname> <p>AWS Elastic Beanstalk makes it easy for you to create, deploy, and manage scalable, fault-tolerant applications running on the Amazon Web Services cloud.</p> <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page. The location of the latest AWS Elastic Beanstalk WSDL is <a href=\"http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>. To install the Software Development Kits (SDKs), Integrated Development Environment (IDE) Toolkits, and command line tools that enable you to access the API, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p> <p> <b>Endpoints</b> </p> <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p>",
  "metadata": {
    "apiVersion": "2010-12-01",
    "endpointPrefix": "elasticbeanstalk",
    "protocol": "query",
    "serviceAbbreviation": "Elastic Beanstalk",
    "serviceFullName": "AWS Elastic Beanstalk",
    "serviceId": "Elastic Beanstalk",
    "signatureVersion": "v4",
    "uid": "elasticbeanstalk-2010-12-01",
    "xmlNamespace": "http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/"
  },
  "operations": {
    "AbortEnvironmentUpdate": {
      "documentation": "<p>Cancels in-progress environment configuration update or application version deployment.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AbortEnvironmentUpdateMessage"
      },
      "name": "AbortEnvironmentUpdate"
    },
    "ApplyEnvironmentManagedAction": {
      "documentation": "<p>Applies a scheduled managed action immediately. A managed action can be applied only if its status is <code>Scheduled</code>. Get the status and action ID of a managed action with <a>DescribeEnvironmentManagedActions</a>.</p>",
      "errors": [
        {
          "shape": "ElasticBeanstalkServiceException"
        },
        {
          "shape": "ManagedActionInvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApplyEnvironmentManagedActionRequest"
      },
      "name": "ApplyEnvironmentManagedAction",
      "output": {
        "resultWrapper": "ApplyEnvironmentManagedActionResult",
        "shape": "ApplyEnvironmentManagedActionResult"
      }
    },
    "CheckDNSAvailability": {
      "documentation": "<p>Checks if the specified CNAME is available.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckDNSAvailabilityMessage"
      },
      "name": "CheckDNSAvailability",
      "output": {
        "resultWrapper": "CheckDNSAvailabilityResult",
        "shape": "CheckDNSAvailabilityResultMessage"
      }
    },
    "ComposeEnvironments": {
      "documentation": "<p>Create or update a group of environments that each run a separate component of a single application. Takes a list of version labels that specify application source bundles for each of the environments to create or update. The name of each environment and other required information must be included in the source bundles in an environment manifest named <code>env.yaml</code>. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-mgmt-compose.html\">Compose Environments</a> for details.</p>",
      "errors": [
        {
          "shape": "TooManyEnvironmentsException"
        },
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ComposeEnvironmentsMessage"
      },
      "name": "ComposeEnvironments",
      "output": {
        "resultWrapper": "ComposeEnvironmentsResult",
        "shape": "EnvironmentDescriptionsMessage"
      }
    },
    "CreateApplication": {
      "documentation": "<p> Creates an application that has one configuration template named <code>default</code> and no application versions. </p>",
      "errors": [
        {
          "shape": "TooManyApplicationsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationMessage"
      },
      "name": "CreateApplication",
      "output": {
        "resultWrapper": "CreateApplicationResult",
        "shape": "ApplicationDescriptionMessage"
      }
    },
    "CreateApplicationVersion": {
      "documentation": "<p>Creates an application version for the specified application. You can create an application version from a source bundle in Amazon S3, a commit in AWS CodeCommit, or the output of an AWS CodeBuild build as follows:</p> <p>Specify a commit in an AWS CodeCommit repository with <code>SourceBuildInformation</code>.</p> <p>Specify a build in an AWS CodeBuild with <code>SourceBuildInformation</code> and <code>BuildConfiguration</code>.</p> <p>Specify a source bundle in S3 with <code>SourceBundle</code> </p> <p>Omit both <code>SourceBuildInformation</code> and <code>SourceBundle</code> to use the default sample application.</p> <note> <p>Once you create an application version with a specified Amazon S3 bucket and key location, you cannot change that Amazon S3 location. If you change the Amazon S3 location, you receive an exception when you attempt to launch an environment from the application version.</p> </note>",
      "errors": [
        {
          "shape": "TooManyApplicationsException"
        },
        {
          "shape": "TooManyApplicationVersionsException"
        },
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "S3LocationNotInServiceRegionException"
        },
        {
          "shape": "CodeBuildNotInServiceRegionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationVersionMessage"
      },
      "name": "CreateApplicationVersion",
      "output": {
        "resultWrapper": "CreateApplicationVersionResult",
        "shape": "ApplicationVersionDescriptionMessage"
      }
    },
    "CreateConfigurationTemplate": {
      "documentation": "<p>Creates a configuration template. Templates are associated with a specific application and are used to deploy different versions of the application with the same configuration settings.</p> <p>Templates aren't associated with any environment. The <code>EnvironmentName</code> response element is always <code>null</code>.</p> <p>Related Topics</p> <ul> <li> <p> <a>DescribeConfigurationOptions</a> </p> </li> <li> <p> <a>DescribeConfigurationSettings</a> </p> </li> <li> <p> <a>ListAvailableSolutionStacks</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "TooManyBucketsException"
        },
        {
          "shape": "TooManyConfigurationTemplatesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConfigurationTemplateMessage"
      },
      "name": "CreateConfigurationTemplate",
      "output": {
        "resultWrapper": "CreateConfigurationTemplateResult",
        "shape": "ConfigurationSettingsDescription"
      }
    },
    "CreateEnvironment": {
      "documentation": "<p>Launches an environment for the specified application using the specified configuration.</p>",
      "errors": [
        {
          "shape": "TooManyEnvironmentsException"
        },
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEnvironmentMessage"
      },
      "name": "CreateEnvironment",
      "output": {
        "resultWrapper": "CreateEnvironmentResult",
        "shape": "EnvironmentDescription"
      }
    },
    "CreatePlatformVersion": {
      "documentation": "<p>Create a new version of your custom platform.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "ElasticBeanstalkServiceException"
        },
        {
          "shape": "TooManyPlatformsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePlatformVersionRequest"
      },
      "name": "CreatePlatformVersion",
      "output": {
        "resultWrapper": "CreatePlatformVersionResult",
        "shape": "CreatePlatformVersionResult"
      }
    },
    "CreateStorageLocation": {
      "documentation": "<p>Creates a bucket in Amazon S3 to store application versions, logs, and other files used by Elastic Beanstalk environments. The Elastic Beanstalk console and EB CLI call this API the first time you create an environment in a region. If the storage location already exists, <code>CreateStorageLocation</code> still returns the bucket name but does not create a new bucket.</p>",
      "errors": [
        {
          "shape": "TooManyBucketsException"
        },
        {
          "shape": "S3SubscriptionRequiredException"
        },
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "CreateStorageLocation",
      "output": {
        "resultWrapper": "CreateStorageLocationResult",
        "shape": "CreateStorageLocationResultMessage"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes the specified application along with all associated versions and configurations. The application versions will not be deleted from your Amazon S3 bucket.</p> <note> <p>You cannot delete an application that has a running environment.</p> </note>",
      "errors": [
        {
          "shape": "OperationInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationMessage"
      },
      "name": "DeleteApplication"
    },
    "DeleteApplicationVersion": {
      "documentation": "<p>Deletes the specified version from the specified application.</p> <note> <p>You cannot delete an application version that is associated with a running environment.</p> </note>",
      "errors": [
        {
          "shape": "SourceBundleDeletionException"
        },
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "S3LocationNotInServiceRegionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationVersionMessage"
      },
      "name": "DeleteApplicationVersion"
    },
    "DeleteConfigurationTemplate": {
      "documentation": "<p>Deletes the specified configuration template.</p> <note> <p>When you launch an environment using a configuration template, the environment gets a copy of the template. You can delete or modify the environment's copy of the template without affecting the running environment.</p> </note>",
      "errors": [
        {
          "shape": "OperationInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConfigurationTemplateMessage"
      },
      "name": "DeleteConfigurationTemplate"
    },
    "DeleteEnvironmentConfiguration": {
      "documentation": "<p>Deletes the draft configuration associated with the running environment.</p> <p>Updating a running environment with any configuration changes creates a draft configuration set. You can get the draft configuration using <a>DescribeConfigurationSettings</a> while the update is in progress or if the update fails. The <code>DeploymentStatus</code> for the draft configuration indicates whether the deployment is in process or has failed. The draft configuration remains in existence until it is deleted with this action.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEnvironmentConfigurationMessage"
      },
      "name": "DeleteEnvironmentConfiguration"
    },
    "DeletePlatformVersion": {
      "documentation": "<p>Deletes the specified version of a custom platform.</p>",
      "errors": [
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "ElasticBeanstalkServiceException"
        },
        {
          "shape": "PlatformVersionStillReferencedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePlatformVersionRequest"
      },
      "name": "DeletePlatformVersion",
      "output": {
        "resultWrapper": "DeletePlatformVersionResult",
        "shape": "DeletePlatformVersionResult"
      }
    },
    "DescribeAccountAttributes": {
      "documentation": "<p>Returns attributes related to AWS Elastic Beanstalk that are associated with the calling AWS account.</p> <p>The result currently has one set of attributes\u2014resource quotas.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAccountAttributes",
      "output": {
        "resultWrapper": "DescribeAccountAttributesResult",
        "shape": "DescribeAccountAttributesResult"
      }
    },
    "DescribeApplicationVersions": {
      "documentation": "<p>Retrieve a list of application versions.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationVersionsMessage"
      },
      "name": "DescribeApplicationVersions",
      "output": {
        "resultWrapper": "DescribeApplicationVersionsResult",
        "shape": "ApplicationVersionDescriptionsMessage"
      }
    },
    "DescribeApplications": {
      "documentation": "<p>Returns the descriptions of existing applications.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationsMessage"
      },
      "name": "DescribeApplications",
      "output": {
        "resultWrapper": "DescribeApplicationsResult",
        "shape": "ApplicationDescriptionsMessage"
      }
    },
    "DescribeConfigurationOptions": {
      "documentation": "<p>Describes the configuration options that are used in a particular configuration template or environment, or that a specified solution stack defines. The description includes the values the options, their default values, and an indication of the required action on a running environment if an option value is changed.</p>",
      "errors": [
        {
          "shape": "TooManyBucketsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationOptionsMessage"
      },
      "name": "DescribeConfigurationOptions",
      "output": {
        "resultWrapper": "DescribeConfigurationOptionsResult",
        "shape": "ConfigurationOptionsDescription"
      }
    },
    "DescribeConfigurationSettings": {
      "documentation": "<p>Returns a description of the settings for the specified configuration set, that is, either a configuration template or the configuration set associated with a running environment.</p> <p>When describing the settings for the configuration set associated with a running environment, it is possible to receive two sets of setting descriptions. One is the deployed configuration set, and the other is a draft configuration of an environment that is either in the process of deployment or that failed to deploy.</p> <p>Related Topics</p> <ul> <li> <p> <a>DeleteEnvironmentConfiguration</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "TooManyBucketsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationSettingsMessage"
      },
      "name": "DescribeConfigurationSettings",
      "output": {
        "resultWrapper": "DescribeConfigurationSettingsResult",
        "shape": "ConfigurationSettingsDescriptions"
      }
    },
    "DescribeEnvironmentHealth": {
      "documentation": "<p>Returns information about the overall health of the specified environment. The <b>DescribeEnvironmentHealth</b> operation is only available with AWS Elastic Beanstalk Enhanced Health.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ElasticBeanstalkServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEnvironmentHealthRequest"
      },
      "name": "DescribeEnvironmentHealth",
      "output": {
        "resultWrapper": "DescribeEnvironmentHealthResult",
        "shape": "DescribeEnvironmentHealthResult"
      }
    },
    "DescribeEnvironmentManagedActionHistory": {
      "documentation": "<p>Lists an environment's completed and failed managed actions.</p>",
      "errors": [
        {
          "shape": "ElasticBeanstalkServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEnvironmentManagedActionHistoryRequest"
      },
      "name": "DescribeEnvironmentManagedActionHistory",
      "output": {
        "resultWrapper": "DescribeEnvironmentManagedActionHistoryResult",
        "shape": "DescribeEnvironmentManagedActionHistoryResult"
      }
    },
    "DescribeEnvironmentManagedActions": {
      "documentation": "<p>Lists an environment's upcoming and in-progress managed actions.</p>",
      "errors": [
        {
          "shape": "ElasticBeanstalkServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEnvironmentManagedActionsRequest"
      },
      "name": "DescribeEnvironmentManagedActions",
      "output": {
        "resultWrapper": "DescribeEnvironmentManagedActionsResult",
        "shape": "DescribeEnvironmentManagedActionsResult"
      }
    },
    "DescribeEnvironmentResources": {
      "documentation": "<p>Returns AWS resources for this environment.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEnvironmentResourcesMessage"
      },
      "name": "DescribeEnvironmentResources",
      "output": {
        "resultWrapper": "DescribeEnvironmentResourcesResult",
        "shape": "EnvironmentResourceDescriptionsMessage"
      }
    },
    "DescribeEnvironments": {
      "documentation": "<p>Returns descriptions for existing environments.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEnvironmentsMessage"
      },
      "name": "DescribeEnvironments",
      "output": {
        "resultWrapper": "DescribeEnvironmentsResult",
        "shape": "EnvironmentDescriptionsMessage"
      }
    },
    "DescribeEvents": {
      "documentation": "<p>Returns list of event descriptions matching criteria up to the last 6 weeks.</p> <note> <p>This action returns the most recent 1,000 events from the specified <code>NextToken</code>.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "shape": "EventDescriptionsMessage"
      }
    },
    "DescribeInstancesHealth": {
      "documentation": "<p>Retrieves detailed information about the health of instances in your AWS Elastic Beanstalk. This operation requires <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/health-enhanced.html\">enhanced health reporting</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ElasticBeanstalkServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancesHealthRequest"
      },
      "name": "DescribeInstancesHealth",
      "output": {
        "resultWrapper": "DescribeInstancesHealthResult",
        "shape": "DescribeInstancesHealthResult"
      }
    },
    "DescribePlatformVersion": {
      "documentation": "<p>Describes the version of the platform.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "ElasticBeanstalkServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePlatformVersionRequest"
      },
      "name": "DescribePlatformVersion",
      "output": {
        "resultWrapper": "DescribePlatformVersionResult",
        "shape": "DescribePlatformVersionResult"
      }
    },
    "ListAvailableSolutionStacks": {
      "documentation": "<p>Returns a list of the available solution stack names, with the public version first and then in reverse chronological order.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "ListAvailableSolutionStacks",
      "output": {
        "resultWrapper": "ListAvailableSolutionStacksResult",
        "shape": "ListAvailableSolutionStacksResultMessage"
      }
    },
    "ListPlatformVersions": {
      "documentation": "<p>Lists the available platforms.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "ElasticBeanstalkServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPlatformVersionsRequest"
      },
      "name": "ListPlatformVersions",
      "output": {
        "resultWrapper": "ListPlatformVersionsResult",
        "shape": "ListPlatformVersionsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns the tags applied to an AWS Elastic Beanstalk resource. The response contains a list of tag key-value pairs.</p> <p>Currently, Elastic Beanstalk only supports tagging of Elastic Beanstalk environments. For details about environment tagging, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.tagging.html\">Tagging Resources in Your Elastic Beanstalk Environment</a>.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceTypeNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceMessage"
      },
      "name": "ListTagsForResource",
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "ResourceTagsDescriptionMessage"
      }
    },
    "RebuildEnvironment": {
      "documentation": "<p>Deletes and recreates all of the AWS resources (for example: the Auto Scaling group, load balancer, etc.) for a specified environment and forces a restart.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebuildEnvironmentMessage"
      },
      "name": "RebuildEnvironment"
    },
    "RequestEnvironmentInfo": {
      "documentation": "<p>Initiates a request to compile the specified type of information of the deployed environment.</p> <p> Setting the <code>InfoType</code> to <code>tail</code> compiles the last lines from the application server log files of every Amazon EC2 instance in your environment. </p> <p> Setting the <code>InfoType</code> to <code>bundle</code> compresses the application server log files for every Amazon EC2 instance into a <code>.zip</code> file. Legacy and .NET containers do not support bundle logs. </p> <p> Use <a>RetrieveEnvironmentInfo</a> to obtain the set of logs. </p> <p>Related Topics</p> <ul> <li> <p> <a>RetrieveEnvironmentInfo</a> </p> </li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RequestEnvironmentInfoMessage"
      },
      "name": "RequestEnvironmentInfo"
    },
    "RestartAppServer": {
      "documentation": "<p>Causes the environment to restart the application container server running on each Amazon EC2 instance.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestartAppServerMessage"
      },
      "name": "RestartAppServer"
    },
    "RetrieveEnvironmentInfo": {
      "documentation": "<p>Retrieves the compiled information from a <a>RequestEnvironmentInfo</a> request.</p> <p>Related Topics</p> <ul> <li> <p> <a>RequestEnvironmentInfo</a> </p> </li> </ul>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetrieveEnvironmentInfoMessage"
      },
      "name": "RetrieveEnvironmentInfo",
      "output": {
        "resultWrapper": "RetrieveEnvironmentInfoResult",
        "shape": "RetrieveEnvironmentInfoResultMessage"
      }
    },
    "SwapEnvironmentCNAMEs": {
      "documentation": "<p>Swaps the CNAMEs of two environments.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SwapEnvironmentCNAMEsMessage"
      },
      "name": "SwapEnvironmentCNAMEs"
    },
    "TerminateEnvironment": {
      "documentation": "<p>Terminates the specified environment.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateEnvironmentMessage"
      },
      "name": "TerminateEnvironment",
      "output": {
        "resultWrapper": "TerminateEnvironmentResult",
        "shape": "EnvironmentDescription"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Updates the specified application to have the specified properties.</p> <note> <p>If a property (for example, <code>description</code>) is not provided, the value remains unchanged. To clear these properties, specify an empty string.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationMessage"
      },
      "name": "UpdateApplication",
      "output": {
        "resultWrapper": "UpdateApplicationResult",
        "shape": "ApplicationDescriptionMessage"
      }
    },
    "UpdateApplicationResourceLifecycle": {
      "documentation": "<p>Modifies lifecycle settings for an application.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationResourceLifecycleMessage"
      },
      "name": "UpdateApplicationResourceLifecycle",
      "output": {
        "resultWrapper": "UpdateApplicationResourceLifecycleResult",
        "shape": "ApplicationResourceLifecycleDescriptionMessage"
      }
    },
    "UpdateApplicationVersion": {
      "documentation": "<p>Updates the specified application version to have the specified properties.</p> <note> <p>If a property (for example, <code>description</code>) is not provided, the value remains unchanged. To clear properties, specify an empty string.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationVersionMessage"
      },
      "name": "UpdateApplicationVersion",
      "output": {
        "resultWrapper": "UpdateApplicationVersionResult",
        "shape": "ApplicationVersionDescriptionMessage"
      }
    },
    "UpdateConfigurationTemplate": {
      "documentation": "<p>Updates the specified configuration template to have the specified properties or configuration option values.</p> <note> <p>If a property (for example, <code>ApplicationName</code>) is not provided, its value remains unchanged. To clear such properties, specify an empty string.</p> </note> <p>Related Topics</p> <ul> <li> <p> <a>DescribeConfigurationOptions</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "TooManyBucketsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConfigurationTemplateMessage"
      },
      "name": "UpdateConfigurationTemplate",
      "output": {
        "resultWrapper": "UpdateConfigurationTemplateResult",
        "shape": "ConfigurationSettingsDescription"
      }
    },
    "UpdateEnvironment": {
      "documentation": "<p>Updates the environment description, deploys a new application version, updates the configuration settings to an entirely new configuration template, or updates select configuration option values in the running environment.</p> <p> Attempting to update both the release and configuration is not allowed and AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p> <p> When updating the configuration settings to a new template or individual settings, a draft configuration is created and <a>DescribeConfigurationSettings</a> for this environment returns two setting descriptions with different <code>DeploymentStatus</code> values. </p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "TooManyBucketsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEnvironmentMessage"
      },
      "name": "UpdateEnvironment",
      "output": {
        "resultWrapper": "UpdateEnvironmentResult",
        "shape": "EnvironmentDescription"
      }
    },
    "UpdateTagsForResource": {
      "documentation": "<p>Update the list of tags applied to an AWS Elastic Beanstalk resource. Two lists can be passed: <code>TagsToAdd</code> for tags to add or update, and <code>TagsToRemove</code>.</p> <p>Currently, Elastic Beanstalk only supports tagging of Elastic Beanstalk environments. For details about environment tagging, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.tagging.html\">Tagging Resources in Your Elastic Beanstalk Environment</a>.</p> <p>If you create a custom IAM user policy to control permission to this operation, specify one of the following two virtual actions (or both) instead of the API operation name:</p> <dl> <dt>elasticbeanstalk:AddTags</dt> <dd> <p>Controls permission to call <code>UpdateTagsForResource</code> and pass a list of tags to add in the <code>TagsToAdd</code> parameter.</p> </dd> <dt>elasticbeanstalk:RemoveTags</dt> <dd> <p>Controls permission to call <code>UpdateTagsForResource</code> and pass a list of tag keys to remove in the <code>TagsToRemove</code> parameter.</p> </dd> </dl> <p>For details about creating a custom user policy, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/AWSHowTo.iam.managed-policies.html#AWSHowTo.iam.policies\">Creating a Custom User Policy</a>.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceTypeNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTagsForResourceMessage"
      },
      "name": "UpdateTagsForResource"
    },
    "ValidateConfigurationSettings": {
      "documentation": "<p>Takes a set of configuration settings and either a configuration template or environment, and determines whether those values are valid.</p> <p>This action returns a list of messages indicating any errors or warnings associated with the selection of option values.</p>",
      "errors": [
        {
          "shape": "InsufficientPrivilegesException"
        },
        {
          "shape": "TooManyBucketsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ValidateConfigurationSettingsMessage"
      },
      "name": "ValidateConfigurationSettings",
      "output": {
        "resultWrapper": "ValidateConfigurationSettingsResult",
        "shape": "ConfigurationSettingsValidationMessages"
      }
    }
  },
  "shapes": {
    "ARN": {
      "type": "string"
    },
    "AbortEnvironmentUpdateMessage": {
      "documentation": "<p/>",
      "members": {
        "EnvironmentId": {
          "documentation": "<p>This specifies the ID of the environment with the in-progress update that you want to cancel.</p>",
          "shape": "EnvironmentId"
        },
        "EnvironmentName": {
          "documentation": "<p>This specifies the name of the environment with the in-progress update that you want to cancel.</p>",
          "shape": "EnvironmentName"
        }
      },
      "type": "structure"
    },
    "AbortableOperationInProgress": {
      "type": "boolean"
    },
    "ActionHistoryStatus": {
      "enum": [
        "Completed",
        "Failed",
        "Unknown"
      ],
      "type": "string"
    },
    "ActionStatus": {
      "enum": [
        "Scheduled",
        "Pending",
        "Running",
        "Unknown"
      ],
      "type": "string"
    },
    "ActionType": {
      "enum": [
        "InstanceRefresh",
        "PlatformUpdate",
        "Unknown"
      ],
      "type": "string"
    },
    "ApplicationArn": {
      "type": "string"
    },
    "ApplicationDescription": {
      "documentation": "<p>Describes the properties of an application.</p>",
      "members": {
        "ApplicationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ApplicationArn"
        },
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ConfigurationTemplates": {
          "documentation": "<p>The names of the configuration templates associated with this application.</p>",
          "shape": "ConfigurationTemplateNamesList"
        },
        "DateCreated": {
          "documentation": "<p>The date when the application was created.</p>",
          "shape": "CreationDate"
        },
        "DateUpdated": {
          "documentation": "<p>The date when the application was last modified.</p>",
          "shape": "UpdateDate"
        },
        "Description": {
          "documentation": "<p>User-defined description of the application.</p>",
          "shape": "Description"
        },
        "ResourceLifecycleConfig": {
          "documentation": "<p>The lifecycle settings for the application.</p>",
          "shape": "ApplicationResourceLifecycleConfig"
        },
        "Versions": {
          "documentation": "<p>The names of the versions for this application.</p>",
          "shape": "VersionLabelsList"
        }
      },
      "type": "structure"
    },
    "ApplicationDescriptionList": {
      "member": {
        "shape": "ApplicationDescription"
      },
      "type": "list"
    },
    "ApplicationDescriptionMessage": {
      "documentation": "<p>Result message containing a single description of an application.</p>",
      "members": {
        "Application": {
          "documentation": "<p> The <a>ApplicationDescription</a> of the application. </p>",
          "shape": "ApplicationDescription"
        }
      },
      "type": "structure"
    },
    "ApplicationDescriptionsMessage": {
      "documentation": "<p>Result message containing a list of application descriptions.</p>",
      "members": {
        "Applications": {
          "documentation": "<p>This parameter contains a list of <a>ApplicationDescription</a>.</p>",
          "shape": "ApplicationDescriptionList"
        }
      },
      "type": "structure"
    },
    "ApplicationMetrics": {
      "documentation": "<p>Application request metrics for an AWS Elastic Beanstalk environment.</p>",
      "members": {
        "Duration": {
          "documentation": "<p>The amount of time that the metrics cover (usually 10 seconds). For example, you might have 5 requests (<code>request_count</code>) within the most recent time slice of 10 seconds (<code>duration</code>).</p>",
          "shape": "NullableInteger"
        },
        "Latency": {
          "documentation": "<p>Represents the average latency for the slowest X percent of requests over the last 10 seconds. Latencies are in seconds with one millisecond resolution.</p>",
          "shape": "Latency"
        },
        "RequestCount": {
          "documentation": "<p>Average number of requests handled by the web server per second over the last 10 seconds.</p>",
          "shape": "RequestCount"
        },
        "StatusCodes": {
          "documentation": "<p>Represents the percentage of requests over the last 10 seconds that resulted in each type of status code response.</p>",
          "shape": "StatusCodes"
        }
      },
      "type": "structure"
    },
    "ApplicationName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ApplicationNamesList": {
      "member": {
        "shape": "ApplicationName"
      },
      "type": "list"
    },
    "ApplicationResourceLifecycleConfig": {
      "documentation": "<p>The resource lifecycle configuration for an application. Defines lifecycle settings for resources that belong to the application, and the service role that Elastic Beanstalk assumes in order to apply lifecycle settings. The version lifecycle configuration defines lifecycle settings for application versions.</p>",
      "members": {
        "ServiceRole": {
          "documentation": "<p>The ARN of an IAM service role that Elastic Beanstalk has permission to assume.</p> <p>The <code>ServiceRole</code> property is required the first time that you provide a <code>VersionLifecycleConfig</code> for the application in one of the supporting calls (<code>CreateApplication</code> or <code>UpdateApplicationResourceLifecycle</code>). After you provide it once, in either one of the calls, Elastic Beanstalk persists the Service Role with the application, and you don't need to specify it again in subsequent <code>UpdateApplicationResourceLifecycle</code> calls. You can, however, specify it in subsequent calls to change the Service Role to another value.</p>",
          "shape": "String"
        },
        "VersionLifecycleConfig": {
          "documentation": "<p>The application version lifecycle configuration.</p>",
          "shape": "ApplicationVersionLifecycleConfig"
        }
      },
      "type": "structure"
    },
    "ApplicationResourceLifecycleDescriptionMessage": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ResourceLifecycleConfig": {
          "documentation": "<p>The lifecycle configuration.</p>",
          "shape": "ApplicationResourceLifecycleConfig"
        }
      },
      "type": "structure"
    },
    "ApplicationVersionArn": {
      "type": "string"
    },
    "ApplicationVersionDescription": {
      "documentation": "<p>Describes the properties of an application version.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which the application version belongs.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application version.</p>",
          "shape": "ApplicationVersionArn"
        },
        "BuildArn": {
          "documentation": "<p>Reference to the artifact from the AWS CodeBuild build.</p>",
          "shape": "String"
        },
        "DateCreated": {
          "documentation": "<p>The creation date of the application version.</p>",
          "shape": "CreationDate"
        },
        "DateUpdated": {
          "documentation": "<p>The last modified date of the application version.</p>",
          "shape": "UpdateDate"
        },
        "Description": {
          "documentation": "<p>The description of the application version.</p>",
          "shape": "Description"
        },
        "SourceBuildInformation": {
          "documentation": "<p>If the version's source code was retrieved from AWS CodeCommit, the location of the source code for the application version.</p>",
          "shape": "SourceBuildInformation"
        },
        "SourceBundle": {
          "documentation": "<p>The storage location of the application version's source bundle in Amazon S3.</p>",
          "shape": "S3Location"
        },
        "Status": {
          "documentation": "<p>The processing status of the application version. Reflects the state of the application version during its creation. Many of the values are only applicable if you specified <code>True</code> for the <code>Process</code> parameter of the <code>CreateApplicationVersion</code> action. The following list describes the possible values.</p> <ul> <li> <p> <code>Unprocessed</code> \u2013 Application version wasn't pre-processed or validated. Elastic Beanstalk will validate configuration files during deployment of the application version to an environment.</p> </li> <li> <p> <code>Processing</code> \u2013 Elastic Beanstalk is currently processing the application version.</p> </li> <li> <p> <code>Building</code> \u2013 Application version is currently undergoing an AWS CodeBuild build.</p> </li> <li> <p> <code>Processed</code> \u2013 Elastic Beanstalk was successfully pre-processed and validated.</p> </li> <li> <p> <code>Failed</code> \u2013 Either the AWS CodeBuild build failed or configuration files didn't pass validation. This application version isn't usable.</p> </li> </ul>",
          "shape": "ApplicationVersionStatus"
        },
        "VersionLabel": {
          "documentation": "<p>A unique identifier for the application version.</p>",
          "shape": "VersionLabel"
        }
      },
      "type": "structure"
    },
    "ApplicationVersionDescriptionList": {
      "member": {
        "shape": "ApplicationVersionDescription"
      },
      "type": "list"
    },
    "ApplicationVersionDescriptionMessage": {
      "documentation": "<p>Result message wrapping a single description of an application version.</p>",
      "members": {
        "ApplicationVersion": {
          "documentation": "<p> The <a>ApplicationVersionDescription</a> of the application version. </p>",
          "shape": "ApplicationVersionDescription"
        }
      },
      "type": "structure"
    },
    "ApplicationVersionDescriptionsMessage": {
      "documentation": "<p>Result message wrapping a list of application version descriptions.</p>",
      "members": {
        "ApplicationVersions": {
          "documentation": "<p>List of <code>ApplicationVersionDescription</code> objects sorted in order of creation.</p>",
          "shape": "ApplicationVersionDescriptionList"
        },
        "NextToken": {
          "documentation": "<p>In a paginated request, the token that you can pass in a subsequent request to get the next response page.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ApplicationVersionLifecycleConfig": {
      "documentation": "<p>The application version lifecycle settings for an application. Defines the rules that Elastic Beanstalk applies to an application's versions in order to avoid hitting the per-region limit for application versions.</p> <p>When Elastic Beanstalk deletes an application version from its database, you can no longer deploy that version to an environment. The source bundle remains in S3 unless you configure the rule to delete it.</p>",
      "members": {
        "MaxAgeRule": {
          "documentation": "<p>Specify a max age rule to restrict the length of time that application versions are retained for an application.</p>",
          "shape": "MaxAgeRule"
        },
        "MaxCountRule": {
          "documentation": "<p>Specify a max count rule to restrict the number of application versions that are retained for an application.</p>",
          "shape": "MaxCountRule"
        }
      },
      "type": "structure"
    },
    "ApplicationVersionProccess": {
      "type": "boolean"
    },
    "ApplicationVersionStatus": {
      "enum": [
        "Processed",
        "Unprocessed",
        "Failed",
        "Processing",
        "Building"
      ],
      "type": "string"
    },
    "ApplyEnvironmentManagedActionRequest": {
      "documentation": "<p>Request to execute a scheduled managed action immediately.</p>",
      "members": {
        "ActionId": {
          "documentation": "<p>The action ID of the scheduled managed action to execute.</p>",
          "shape": "String"
        },
        "EnvironmentId": {
          "documentation": "<p>The environment ID of the target environment.</p>",
          "shape": "String"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the target environment.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ActionId"
      ],
      "type": "structure"
    },
    "ApplyEnvironmentManagedActionResult": {
      "documentation": "<p>The result message containing information about the managed action.</p>",
      "members": {
        "ActionDescription": {
          "documentation": "<p>A description of the managed action.</p>",
          "shape": "String"
        },
        "ActionId": {
          "documentation": "<p>The action ID of the managed action.</p>",
          "shape": "String"
        },
        "ActionType": {
          "documentation": "<p>The type of managed action.</p>",
          "shape": "ActionType"
        },
        "Status": {
          "documentation": "<p>The status of the managed action.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AutoCreateApplication": {
      "type": "boolean"
    },
    "AutoScalingGroup": {
      "documentation": "<p>Describes an Auto Scaling launch configuration.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the <code>AutoScalingGroup</code> . </p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroupList": {
      "member": {
        "shape": "AutoScalingGroup"
      },
      "type": "list"
    },
    "AvailableSolutionStackDetailsList": {
      "member": {
        "shape": "SolutionStackDescription"
      },
      "type": "list"
    },
    "AvailableSolutionStackNamesList": {
      "member": {
        "shape": "SolutionStackName"
      },
      "type": "list"
    },
    "BoxedBoolean": {
      "type": "boolean"
    },
    "BoxedInt": {
      "type": "integer"
    },
    "BuildConfiguration": {
      "documentation": "<p>Settings for an AWS CodeBuild build.</p>",
      "members": {
        "ArtifactName": {
          "documentation": "<p>The name of the artifact of the CodeBuild build. If provided, Elastic Beanstalk stores the build artifact in the S3 location <i>S3-bucket</i>/resources/<i>application-name</i>/codebuild/codebuild-<i>version-label</i>-<i>artifact-name</i>.zip. If not provided, Elastic Beanstalk stores the build artifact in the S3 location <i>S3-bucket</i>/resources/<i>application-name</i>/codebuild/codebuild-<i>version-label</i>.zip. </p>",
          "shape": "String"
        },
        "CodeBuildServiceRole": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>",
          "shape": "NonEmptyString"
        },
        "ComputeType": {
          "documentation": "<p>Information about the compute resources the build project will use.</p> <ul> <li> <p> <code>BUILD_GENERAL1_SMALL: Use up to 3 GB memory and 2 vCPUs for builds</code> </p> </li> <li> <p> <code>BUILD_GENERAL1_MEDIUM: Use up to 7 GB memory and 4 vCPUs for builds</code> </p> </li> <li> <p> <code>BUILD_GENERAL1_LARGE: Use up to 15 GB memory and 8 vCPUs for builds</code> </p> </li> </ul>",
          "shape": "ComputeType"
        },
        "Image": {
          "documentation": "<p>The ID of the Docker image to use for this build project.</p>",
          "shape": "NonEmptyString"
        },
        "TimeoutInMinutes": {
          "documentation": "<p>How long in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait until timing out any related build that does not get marked as completed. The default is 60 minutes.</p>",
          "shape": "BoxedInt"
        }
      },
      "required": [
        "CodeBuildServiceRole",
        "Image"
      ],
      "type": "structure"
    },
    "Builder": {
      "documentation": "<p>The builder used to build the custom platform.</p>",
      "members": {
        "ARN": {
          "documentation": "<p>The ARN of the builder.</p>",
          "shape": "ARN"
        }
      },
      "type": "structure"
    },
    "CPUUtilization": {
      "documentation": "<p>CPU utilization metrics for an instance.</p>",
      "members": {
        "IOWait": {
          "documentation": "<p>Available on Linux environments only.</p> <p>Percentage of time that the CPU has spent in the <code>I/O Wait</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "IRQ": {
          "documentation": "<p>Available on Linux environments only.</p> <p>Percentage of time that the CPU has spent in the <code>IRQ</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "Idle": {
          "documentation": "<p>Percentage of time that the CPU has spent in the <code>Idle</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "Nice": {
          "documentation": "<p>Available on Linux environments only.</p> <p>Percentage of time that the CPU has spent in the <code>Nice</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "Privileged": {
          "documentation": "<p>Available on Windows environments only.</p> <p>Percentage of time that the CPU has spent in the <code>Privileged</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "SoftIRQ": {
          "documentation": "<p>Available on Linux environments only.</p> <p>Percentage of time that the CPU has spent in the <code>SoftIRQ</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "System": {
          "documentation": "<p>Available on Linux environments only.</p> <p>Percentage of time that the CPU has spent in the <code>System</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        },
        "User": {
          "documentation": "<p>Percentage of time that the CPU has spent in the <code>User</code> state over the last 10 seconds.</p>",
          "shape": "NullableDouble"
        }
      },
      "type": "structure"
    },
    "Cause": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "Causes": {
      "member": {
        "shape": "Cause"
      },
      "type": "list"
    },
    "CheckDNSAvailabilityMessage": {
      "documentation": "<p>Results message indicating whether a CNAME is available.</p>",
      "members": {
        "CNAMEPrefix": {
          "documentation": "<p>The prefix used when this CNAME is reserved.</p>",
          "shape": "DNSCnamePrefix"
        }
      },
      "required": [
        "CNAMEPrefix"
      ],
      "type": "structure"
    },
    "CheckDNSAvailabilityResultMessage": {
      "documentation": "<p>Indicates if the specified CNAME is available.</p>",
      "members": {
        "Available": {
          "documentation": "<p>Indicates if the specified CNAME is available:</p> <ul> <li> <p> <code>true</code> : The CNAME is available.</p> </li> <li> <p> <code>false</code> : The CNAME is not available.</p> </li> </ul>",
          "shape": "CnameAvailability"
        },
        "FullyQualifiedCNAME": {
          "documentation": "<p>The fully qualified CNAME to reserve when <a>CreateEnvironment</a> is called with the provided prefix.</p>",
          "shape": "DNSCname"
        }
      },
      "type": "structure"
    },
    "CnameAvailability": {
      "type": "boolean"
    },
    "CodeBuildNotInServiceRegionException": {
      "documentation": "<p>AWS CodeBuild is not available in the specified region.</p>",
      "error": {
        "code": "CodeBuildNotInServiceRegionException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ComposeEnvironmentsMessage": {
      "documentation": "<p>Request to create or update a group of environments.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which the specified source bundles belong.</p>",
          "shape": "ApplicationName"
        },
        "GroupName": {
          "documentation": "<p>The name of the group to which the target environments belong. Specify a group name only if the environment name defined in each target environment's manifest ends with a + (plus) character. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-manifest.html\">Environment Manifest (env.yaml)</a> for details.</p>",
          "shape": "GroupName"
        },
        "VersionLabels": {
          "documentation": "<p>A list of version labels, specifying one or more application source bundles that belong to the target application. Each source bundle must include an environment manifest that specifies the name of the environment and the name of the solution stack to use, and optionally can specify environment links to create.</p>",
          "shape": "VersionLabels"
        }
      },
      "type": "structure"
    },
    "ComputeType": {
      "enum": [
        "BUILD_GENERAL1_SMALL",
        "BUILD_GENERAL1_MEDIUM",
        "BUILD_GENERAL1_LARGE"
      ],
      "type": "string"
    },
    "ConfigurationDeploymentStatus": {
      "enum": [
        "deployed",
        "pending",
        "failed"
      ],
      "type": "string"
    },
    "ConfigurationOptionDefaultValue": {
      "type": "string"
    },
    "ConfigurationOptionDescription": {
      "documentation": "<p>Describes the possible values for a configuration option.</p>",
      "members": {
        "ChangeSeverity": {
          "documentation": "<p>An indication of which action is required if the value for this configuration option changes:</p> <ul> <li> <p> <code>NoInterruption</code> : There is no interruption to the environment or application availability.</p> </li> <li> <p> <code>RestartEnvironment</code> : The environment is entirely restarted, all AWS resources are deleted and recreated, and the environment is unavailable during the process.</p> </li> <li> <p> <code>RestartApplicationServer</code> : The environment is available the entire time. However, a short application outage occurs when the application servers on the running Amazon EC2 instances are restarted.</p> </li> </ul>",
          "shape": "ConfigurationOptionSeverity"
        },
        "DefaultValue": {
          "documentation": "<p>The default value for this configuration option.</p>",
          "shape": "ConfigurationOptionDefaultValue"
        },
        "MaxLength": {
          "documentation": "<p>If specified, the configuration option must be a string value no longer than this value.</p>",
          "shape": "OptionRestrictionMaxLength"
        },
        "MaxValue": {
          "documentation": "<p>If specified, the configuration option must be a numeric value less than this value.</p>",
          "shape": "OptionRestrictionMaxValue"
        },
        "MinValue": {
          "documentation": "<p>If specified, the configuration option must be a numeric value greater than this value.</p>",
          "shape": "OptionRestrictionMinValue"
        },
        "Name": {
          "documentation": "<p>The name of the configuration option.</p>",
          "shape": "ConfigurationOptionName"
        },
        "Namespace": {
          "documentation": "<p>A unique namespace identifying the option's associated AWS resource.</p>",
          "shape": "OptionNamespace"
        },
        "Regex": {
          "documentation": "<p>If specified, the configuration option must be a string value that satisfies this regular expression.</p>",
          "shape": "OptionRestrictionRegex"
        },
        "UserDefined": {
          "documentation": "<p>An indication of whether the user defined this configuration option:</p> <ul> <li> <p> <code>true</code> : This configuration option was defined by the user. It is a valid choice for specifying if this as an <code>Option to Remove</code> when updating configuration settings. </p> </li> <li> <p> <code>false</code> : This configuration was not defined by the user.</p> </li> </ul> <p> Constraint: You can remove only <code>UserDefined</code> options from a configuration. </p> <p> Valid Values: <code>true</code> | <code>false</code> </p>",
          "shape": "UserDefinedOption"
        },
        "ValueOptions": {
          "documentation": "<p>If specified, values for the configuration option are selected from this list.</p>",
          "shape": "ConfigurationOptionPossibleValues"
        },
        "ValueType": {
          "documentation": "<p>An indication of which type of values this option has and whether it is allowable to select one or more than one of the possible values:</p> <ul> <li> <p> <code>Scalar</code> : Values for this option are a single selection from the possible values, or an unformatted string, or numeric value governed by the <code>MIN/MAX/Regex</code> constraints.</p> </li> <li> <p> <code>List</code> : Values for this option are multiple selections from the possible values.</p> </li> <li> <p> <code>Boolean</code> : Values for this option are either <code>true</code> or <code>false</code> .</p> </li> <li> <p> <code>Json</code> : Values for this option are a JSON representation of a <code>ConfigDocument</code>.</p> </li> </ul>",
          "shape": "ConfigurationOptionValueType"
        }
      },
      "type": "structure"
    },
    "ConfigurationOptionDescriptionsList": {
      "member": {
        "shape": "ConfigurationOptionDescription"
      },
      "type": "list"
    },
    "ConfigurationOptionName": {
      "type": "string"
    },
    "ConfigurationOptionPossibleValue": {
      "type": "string"
    },
    "ConfigurationOptionPossibleValues": {
      "member": {
        "shape": "ConfigurationOptionPossibleValue"
      },
      "type": "list"
    },
    "ConfigurationOptionSetting": {
      "documentation": "<p> A specification identifying an individual configuration option along with its current value. For a list of possible option values, go to <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html\">Option Values</a> in the <i>AWS Elastic Beanstalk Developer Guide</i>. </p>",
      "members": {
        "Namespace": {
          "documentation": "<p>A unique namespace identifying the option's associated AWS resource.</p>",
          "shape": "OptionNamespace"
        },
        "OptionName": {
          "documentation": "<p>The name of the configuration option.</p>",
          "shape": "ConfigurationOptionName"
        },
        "ResourceName": {
          "documentation": "<p>A unique resource name for a time-based scaling configuration option.</p>",
          "shape": "ResourceName"
        },
        "Value": {
          "documentation": "<p>The current value for the configuration option.</p>",
          "shape": "ConfigurationOptionValue"
        }
      },
      "type": "structure"
    },
    "ConfigurationOptionSettingsList": {
      "member": {
        "shape": "ConfigurationOptionSetting"
      },
      "type": "list"
    },
    "ConfigurationOptionSeverity": {
      "type": "string"
    },
    "ConfigurationOptionValue": {
      "type": "string"
    },
    "ConfigurationOptionValueType": {
      "enum": [
        "Scalar",
        "List"
      ],
      "type": "string"
    },
    "ConfigurationOptionsDescription": {
      "documentation": "<p>Describes the settings for a specified configuration set.</p>",
      "members": {
        "Options": {
          "documentation": "<p> A list of <a>ConfigurationOptionDescription</a>. </p>",
          "shape": "ConfigurationOptionDescriptionsList"
        },
        "PlatformArn": {
          "documentation": "<p>The ARN of the platform.</p>",
          "shape": "PlatformArn"
        },
        "SolutionStackName": {
          "documentation": "<p>The name of the solution stack these configuration options belong to.</p>",
          "shape": "SolutionStackName"
        }
      },
      "type": "structure"
    },
    "ConfigurationSettingsDescription": {
      "documentation": "<p>Describes the settings for a configuration set.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application associated with this configuration set.</p>",
          "shape": "ApplicationName"
        },
        "DateCreated": {
          "documentation": "<p>The date (in UTC time) when this configuration set was created.</p>",
          "shape": "CreationDate"
        },
        "DateUpdated": {
          "documentation": "<p>The date (in UTC time) when this configuration set was last modified.</p>",
          "shape": "UpdateDate"
        },
        "DeploymentStatus": {
          "documentation": "<p> If this configuration set is associated with an environment, the <code>DeploymentStatus</code> parameter indicates the deployment status of this configuration set: </p> <ul> <li> <p> <code>null</code>: This configuration is not associated with a running environment.</p> </li> <li> <p> <code>pending</code>: This is a draft configuration that is not deployed to the associated environment but is in the process of deploying.</p> </li> <li> <p> <code>deployed</code>: This is the configuration that is currently deployed to the associated running environment.</p> </li> <li> <p> <code>failed</code>: This is a draft configuration that failed to successfully deploy.</p> </li> </ul>",
          "shape": "ConfigurationDeploymentStatus"
        },
        "Description": {
          "documentation": "<p>Describes this configuration set.</p>",
          "shape": "Description"
        },
        "EnvironmentName": {
          "documentation": "<p> If not <code>null</code>, the name of the environment for this configuration set. </p>",
          "shape": "EnvironmentName"
        },
        "OptionSettings": {
          "documentation": "<p>A list of the configuration options and their values in this configuration set.</p>",
          "shape": "ConfigurationOptionSettingsList"
        },
        "PlatformArn": {
          "documentation": "<p>The ARN of the platform.</p>",
          "shape": "PlatformArn"
        },
        "SolutionStackName": {
          "documentation": "<p>The name of the solution stack this configuration set uses.</p>",
          "shape": "SolutionStackName"
        },
        "TemplateName": {
          "documentation": "<p> If not <code>null</code>, the name of the configuration template for this configuration set. </p>",
          "shape": "ConfigurationTemplateName"
        }
      },
      "type": "structure"
    },
    "ConfigurationSettingsDescriptionList": {
      "member": {
        "shape": "ConfigurationSettingsDescription"
      },
      "type": "list"
    },
    "ConfigurationSettingsDescriptions": {
      "documentation": "<p>The results from a request to change the configuration settings of an environment.</p>",
      "members": {
        "ConfigurationSettings": {
          "documentation": "<p> A list of <a>ConfigurationSettingsDescription</a>. </p>",
          "shape": "ConfigurationSettingsDescriptionList"
        }
      },
      "type": "structure"
    },
    "ConfigurationSettingsValidationMessages": {
      "documentation": "<p>Provides a list of validation messages.</p>",
      "members": {
        "Messages": {
          "documentation": "<p> A list of <a>ValidationMessage</a>. </p>",
          "shape": "ValidationMessagesList"
        }
      },
      "type": "structure"
    },
    "ConfigurationTemplateName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ConfigurationTemplateNamesList": {
      "member": {
        "shape": "ConfigurationTemplateName"
      },
      "type": "list"
    },
    "CreateApplicationMessage": {
      "documentation": "<p>Request to create an application.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p> <p>Constraint: This name must be unique within your account. If the specified name already exists, the action returns an <code>InvalidParameterValue</code> error.</p>",
          "shape": "ApplicationName"
        },
        "Description": {
          "documentation": "<p>Describes the application.</p>",
          "shape": "Description"
        },
        "ResourceLifecycleConfig": {
          "documentation": "<p>Specify an application resource lifecycle configuration to prevent your application from accumulating too many versions.</p>",
          "shape": "ApplicationResourceLifecycleConfig"
        },
        "Tags": {
          "documentation": "<p>Specifies the tags applied to the application.</p> <p>Elastic Beanstalk applies these tags only to the application. Environments that you create in the application don't inherit the tags.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "CreateApplicationVersionMessage": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p> The name of the application. If no application is found with this name, and <code>AutoCreateApplication</code> is <code>false</code>, returns an <code>InvalidParameterValue</code> error. </p>",
          "shape": "ApplicationName"
        },
        "AutoCreateApplication": {
          "documentation": "<p>Set to <code>true</code> to create an application with the specified name if it doesn't already exist.</p>",
          "shape": "AutoCreateApplication"
        },
        "BuildConfiguration": {
          "documentation": "<p>Settings for an AWS CodeBuild build.</p>",
          "shape": "BuildConfiguration"
        },
        "Description": {
          "documentation": "<p>Describes this version.</p>",
          "shape": "Description"
        },
        "Process": {
          "documentation": "<p>Pre-processes and validates the environment manifest (<code>env.yaml</code>) and configuration files (<code>*.config</code> files in the <code>.ebextensions</code> folder) in the source bundle. Validating configuration files can identify issues prior to deploying the application version to an environment.</p> <p>You must turn processing on for application versions that you create using AWS CodeBuild or AWS CodeCommit. For application versions built from a source bundle in Amazon S3, processing is optional.</p> <note> <p>The <code>Process</code> option validates Elastic Beanstalk configuration files. It doesn't validate your application's configuration files, like proxy server or Docker configuration.</p> </note>",
          "shape": "ApplicationVersionProccess"
        },
        "SourceBuildInformation": {
          "documentation": "<p>Specify a commit in an AWS CodeCommit Git repository to use as the source code for the application version.</p>",
          "shape": "SourceBuildInformation"
        },
        "SourceBundle": {
          "documentation": "<p>The Amazon S3 bucket and key that identify the location of the source bundle for this version.</p> <note> <p>The Amazon S3 bucket must be in the same region as the environment.</p> </note> <p>Specify a source bundle in S3 or a commit in an AWS CodeCommit repository (with <code>SourceBuildInformation</code>), but not both. If neither <code>SourceBundle</code> nor <code>SourceBuildInformation</code> are provided, Elastic Beanstalk uses a sample application.</p>",
          "shape": "S3Location"
        },
        "Tags": {
          "documentation": "<p>Specifies the tags applied to the application version.</p> <p>Elastic Beanstalk applies these tags only to the application version. Environments that use the application version don't inherit the tags.</p>",
          "shape": "Tags"
        },
        "VersionLabel": {
          "documentation": "<p>A label identifying this version.</p> <p>Constraint: Must be unique per application. If an application version already exists with this label for the specified application, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>",
          "shape": "VersionLabel"
        }
      },
      "required": [
        "ApplicationName",
        "VersionLabel"
      ],
      "type": "structure"
    },
    "CreateConfigurationTemplateMessage": {
      "documentation": "<p>Request to create a configuration template.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to associate with this configuration template. If no application is found with this name, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>",
          "shape": "ApplicationName"
        },
        "Description": {
          "documentation": "<p>Describes this configuration.</p>",
          "shape": "Description"
        },
        "EnvironmentId": {
          "documentation": "<p>The ID of the environment used with this configuration template.</p>",
          "shape": "EnvironmentId"
        },
        "OptionSettings": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk sets the specified configuration option to the requested value. The new value overrides the value obtained from the solution stack or the source configuration template.</p>",
          "shape": "ConfigurationOptionSettingsList"
        },
        "PlatformArn": {
          "documentation": "<p>The ARN of the custom platform.</p>",
          "shape": "PlatformArn"
        },
        "SolutionStackName": {
          "documentation": "<p>The name of the solution stack used by this configuration. The solution stack specifies the operating system, architecture, and application server for a configuration template. It determines the set of configuration options as well as the possible and default values.</p> <p> Use <a>ListAvailableSolutionStacks</a> to obtain a list of available solution stacks. </p> <p> A solution stack name or a source configuration parameter must be specified, otherwise AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p> <p>If a solution stack name is not specified and the source configuration parameter is specified, AWS Elastic Beanstalk uses the same solution stack as the source configuration template.</p>",
          "shape": "SolutionStackName"
        },
        "SourceConfiguration": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk uses the configuration values from the specified configuration template to create a new configuration.</p> <p> Values specified in the <code>OptionSettings</code> parameter of this call overrides any values obtained from the <code>SourceConfiguration</code>. </p> <p> If no configuration template is found, returns an <code>InvalidParameterValue</code> error. </p> <p> Constraint: If both the solution stack name parameter and the source configuration parameters are specified, the solution stack of the source configuration template must match the specified solution stack name or else AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p>",
          "shape": "SourceConfiguration"
        },
        "Tags": {
          "documentation": "<p>Specifies the tags applied to the configuration template.</p>",
          "shape": "Tags"
        },
        "TemplateName": {
          "documentation": "<p>The name of the configuration template.</p> <p>Constraint: This name must be unique per application.</p> <p>Default: If a configuration template already exists with this name, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>",
          "shape": "ConfigurationTemplateName"
        }
      },
      "required": [
        "ApplicationName",
        "TemplateName"
      ],
      "type": "structure"
    },
    "CreateEnvironmentMessage": {
      "documentation": "<p/>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application that contains the version to be deployed.</p> <p> If no application is found with this name, <code>CreateEnvironment</code> returns an <code>InvalidParameterValue</code> error. </p>",
          "shape": "ApplicationName"
        },
        "CNAMEPrefix": {
          "documentation": "<p>If specified, the environment attempts to use this value as the prefix for the CNAME. If not specified, the CNAME is generated automatically by appending a random alphanumeric string to the environment name.</p>",
          "shape": "DNSCnamePrefix"
        },
        "Description": {
          "documentation": "<p>Describes this environment.</p>",
          "shape": "Description"
        },
        "EnvironmentName": {
          "documentation": "<p>A unique name for the deployment environment. Used in the application URL.</p> <p>Constraint: Must be from 4 to 40 characters in length. The name can contain only letters, numbers, and hyphens. It cannot start or end with a hyphen. This name must be unique within a region in your account. If the specified name already exists in the region, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p> <p>Default: If the CNAME parameter is not specified, the environment name becomes part of the CNAME, and therefore part of the visible URL for your application.</p>",
          "shape": "EnvironmentName"
        },
        "GroupName": {
          "documentation": "<p>The name of the group to which the target environment belongs. Specify a group name only if the environment's name is specified in an environment manifest and not with the environment name parameter. See <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/environment-cfg-manifest.html\">Environment Manifest (env.yaml)</a> for details.</p>",
          "shape": "GroupName"
        },
        "OptionSettings": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk sets the specified configuration options to the requested value in the configuration set for the new environment. These override the values obtained from the solution stack or the configuration template.</p>",
          "shape": "ConfigurationOptionSettingsList"
        },
        "OptionsToRemove": {
          "documentation": "<p>A list of custom user-defined configuration options to remove from the configuration set for this new environment.</p>",
          "shape": "OptionsSpecifierList"
        },
        "PlatformArn": {
          "documentation": "<p>The ARN of the platform.</p>",
          "shape": "PlatformArn"
        },
        "SolutionStackName": {
          "documentation": "<p>This is an alternative to specifying a template name. If specified, AWS Elastic Beanstalk sets the configuration values to the default values associated with the specified solution stack.</p> <p>For a list of current solution stacks, see <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/concepts.platforms.html\">Elastic Beanstalk Supported Platforms</a>.</p>",
          "shape": "SolutionStackName"
        },
        "Tags": {
          "documentation": "<p>Specifies the tags applied to resources in the environment.</p>",
          "shape": "Tags"
        },
        "TemplateName": {
          "documentation": "<p> The name of the configuration template to use in deployment. If no configuration template is found with this name, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>",
          "shape": "ConfigurationTemplateName"
        },
        "Tier": {
          "documentation": "<p>This specifies the tier to use for creating this environment.</p>",
          "shape": "EnvironmentTier"
        },
        "VersionLabel": {
          "documentation": "<p>The name of the application version to deploy.</p> <p> If the specified application has no associated application versions, AWS Elastic Beanstalk <code>UpdateEnvironment</code> returns an <code>InvalidParameterValue</code> error. </p> <p>Default: If not specified, AWS Elastic Beanstalk attempts to launch the sample application in the container.</p>",
          "shape": "VersionLabel"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "CreatePlatformVersionRequest": {
      "documentation": "<p>Request to create a new platform version.</p>",
      "members": {
        "EnvironmentName": {
          "documentation": "<p>The name of the builder environment.</p>",
          "shape": "EnvironmentName"
        },
        "OptionSettings": {
          "documentation": "<p>The configuration option settings to apply to the builder environment.</p>",
          "shape": "ConfigurationOptionSettingsList"
        },
        "PlatformDefinitionBundle": {
          "documentation": "<p>The location of the platform definition archive in Amazon S3.</p>",
          "shape": "S3Location"
        },
        "PlatformName": {
          "documentation": "<p>The name of your custom platform.</p>",
          "shape": "PlatformName"
        },
        "PlatformVersion": {
          "documentation": "<p>The number, such as 1.0.2, for the new platform version.</p>",
          "shape": "PlatformVersion"
        },
        "Tags": {
          "documentation": "<p>Specifies the tags applied to the new platform version.</p> <p>Elastic Beanstalk applies these tags only to the platform version. Environments that you create using the platform version don't inherit the tags.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "PlatformName",
        "PlatformVersion",
        "PlatformDefinitionBundle"
      ],
      "type": "structure"
    },
    "CreatePlatformVersionResult": {
      "members": {
        "Builder": {
          "documentation": "<p>The builder used to create the custom platform.</p>",
          "shape": "Builder"
        },
        "PlatformSummary": {
          "documentation": "<p>Detailed information about the new version of the custom platform.</p>",
          "shape": "PlatformSummary"
        }
      },
      "type": "structure"
    },
    "CreateStorageLocationResultMessage": {
      "documentation": "<p>Results of a <a>CreateStorageLocationResult</a> call.</p>",
      "members": {
        "S3Bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket created.</p>",
          "shape": "S3Bucket"
        }
      },
      "type": "structure"
    },
    "CreationDate": {
      "type": "timestamp"
    },
    "CustomAmi": {
      "documentation": "<p>A custom AMI available to platforms.</p>",
      "members": {
        "ImageId": {
          "documentation": "<p>THe ID of the image used to create the custom AMI.</p>",
          "shape": "ImageId"
        },
        "VirtualizationType": {
          "documentation": "<p>The type of virtualization used to create the custom AMI.</p>",
          "shape": "VirtualizationType"
        }
      },
      "type": "structure"
    },
    "CustomAmiList": {
      "member": {
        "shape": "CustomAmi"
      },
      "type": "list"
    },
    "DNSCname": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "DNSCnamePrefix": {
      "max": 63,
      "min": 4,
      "type": "string"
    },
    "DeleteApplicationMessage": {
      "documentation": "<p>Request to delete an application.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to delete.</p>",
          "shape": "ApplicationName"
        },
        "TerminateEnvByForce": {
          "documentation": "<p>When set to true, running environments will be terminated before deleting the application.</p>",
          "shape": "TerminateEnvForce"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "DeleteApplicationVersionMessage": {
      "documentation": "<p>Request to delete an application version.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which the version belongs.</p>",
          "shape": "ApplicationName"
        },
        "DeleteSourceBundle": {
          "documentation": "<p>Set to <code>true</code> to delete the source bundle from your storage bucket. Otherwise, the application version is deleted only from Elastic Beanstalk and the source bundle remains in Amazon S3.</p>",
          "shape": "DeleteSourceBundle"
        },
        "VersionLabel": {
          "documentation": "<p>The label of the version to delete.</p>",
          "shape": "VersionLabel"
        }
      },
      "required": [
        "ApplicationName",
        "VersionLabel"
      ],
      "type": "structure"
    },
    "DeleteConfigurationTemplateMessage": {
      "documentation": "<p>Request to delete a configuration template.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to delete the configuration template from.</p>",
          "shape": "ApplicationName"
        },
        "TemplateName": {
          "documentation": "<p>The name of the configuration template to delete.</p>",
          "shape": "ConfigurationTemplateName"
        }
      },
      "required": [
        "ApplicationName",
        "TemplateName"
      ],
      "type": "structure"
    },
    "DeleteEnvironmentConfigurationMessage": {
      "documentation": "<p>Request to delete a draft environment configuration.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application the environment is associated with.</p>",
          "shape": "ApplicationName"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the environment to delete the draft configuration from.</p>",
          "shape": "EnvironmentName"
        }
      },
      "required": [
        "ApplicationName",
        "EnvironmentName"
      ],
      "type": "structure"
    },
    "DeletePlatformVersionRequest": {
      "members": {
        "PlatformArn": {
          "documentation": "<p>The ARN of the version of the custom platform.</p>",
          "shape": "PlatformArn"
        }
      },
      "type": "structure"
    },
    "DeletePlatformVersionResult": {
      "members": {
        "PlatformSummary": {
          "documentation": "<p>Detailed information about the version of the custom platform.</p>",
          "shape": "PlatformSummary"
        }
      },
      "type": "structure"
    },
    "DeleteSourceBundle": {
      "type": "boolean"
    },
    "Deployment": {
      "documentation": "<p>Information about an application version deployment.</p>",
      "members": {
        "DeploymentId": {
          "documentation": "<p>The ID of the deployment. This number increases by one each time that you deploy source code or change instance configuration settings.</p>",
          "shape": "NullableLong"
        },
        "DeploymentTime": {
          "documentation": "<p>For in-progress deployments, the time that the deployment started.</p> <p>For completed deployments, the time that the deployment ended.</p>",
          "shape": "DeploymentTimestamp"
        },
        "Status": {
          "documentation": "<p>The status of the deployment:</p> <ul> <li> <p> <code>In Progress</code> : The deployment is in progress.</p> </li> <li> <p> <code>Deployed</code> : The deployment succeeded.</p> </li> <li> <p> <code>Failed</code> : The deployment failed.</p> </li> </ul>",
          "shape": "String"
        },
        "VersionLabel": {
          "documentation": "<p>The version label of the application version in the deployment.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeploymentTimestamp": {
      "type": "timestamp"
    },
    "DescribeAccountAttributesResult": {
      "members": {
        "ResourceQuotas": {
          "documentation": "<p>The Elastic Beanstalk resource quotas associated with the calling AWS account.</p>",
          "shape": "ResourceQuotas"
        }
      },
      "type": "structure"
    },
    "DescribeApplicationVersionsMessage": {
      "documentation": "<p>Request to describe application versions.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>Specify an application name to show only application versions for that application.</p>",
          "shape": "ApplicationName"
        },
        "MaxRecords": {
          "documentation": "<p>For a paginated request. Specify a maximum number of application versions to include in each response.</p> <p>If no <code>MaxRecords</code> is specified, all available application versions are retrieved in a single response.</p>",
          "shape": "MaxRecords"
        },
        "NextToken": {
          "documentation": "<p>For a paginated request. Specify a token from a previous response page to retrieve the next response page. All other parameter values must be identical to the ones specified in the initial request.</p> <p>If no <code>NextToken</code> is specified, the first page is retrieved.</p>",
          "shape": "Token"
        },
        "VersionLabels": {
          "documentation": "<p>Specify a version label to show a specific application version.</p>",
          "shape": "VersionLabelsList"
        }
      },
      "type": "structure"
    },
    "DescribeApplicationsMessage": {
      "documentation": "<p>Request to describe one or more applications.</p>",
      "members": {
        "ApplicationNames": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk restricts the returned descriptions to only include those with the specified names.</p>",
          "shape": "ApplicationNamesList"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationOptionsMessage": {
      "documentation": "<p>Result message containing a list of application version descriptions.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application associated with the configuration template or environment. Only needed if you want to describe the configuration options associated with either the configuration template or environment.</p>",
          "shape": "ApplicationName"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the environment whose configuration options you want to describe.</p>",
          "shape": "EnvironmentName"
        },
        "Options": {
          "documentation": "<p>If specified, restricts the descriptions to only the specified options.</p>",
          "shape": "OptionsSpecifierList"
        },
        "PlatformArn": {
          "documentation": "<p>The ARN of the custom platform.</p>",
          "shape": "PlatformArn"
        },
        "SolutionStackName": {
          "documentation": "<p>The name of the solution stack whose configuration options you want to describe.</p>",
          "shape": "SolutionStackName"
        },
        "TemplateName": {
          "documentation": "<p>The name of the configuration template whose configuration options you want to describe.</p>",
          "shape": "ConfigurationTemplateName"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationSettingsMessage": {
      "documentation": "<p>Result message containing all of the configuration settings for a specified solution stack or configuration template.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>The application for the environment or configuration template.</p>",
          "shape": "ApplicationName"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the environment to describe.</p> <p> Condition: You must specify either this or a TemplateName, but not both. If you specify both, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>",
          "shape": "EnvironmentName"
        },
        "TemplateName": {
          "documentation": "<p>The name of the configuration template to describe.</p> <p> Conditional: You must specify either this parameter or an EnvironmentName, but not both. If you specify both, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. If you do not specify either, AWS Elastic Beanstalk returns a <code>MissingRequiredParameter</code> error. </p>",
          "shape": "ConfigurationTemplateName"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "DescribeEnvironmentHealthRequest": {
      "documentation": "<p>See the example below to learn how to create a request body.</p>",
      "members": {
        "AttributeNames": {
          "documentation": "<p>Specify the response elements to return. To retrieve all attributes, set to <code>All</code>. If no attribute names are specified, returns the name of the environment.</p>",
          "shape": "EnvironmentHealthAttributes"
        },
        "EnvironmentId": {
          "documentation": "<p>Specify the environment by ID.</p> <p>You must specify either this or an EnvironmentName, or both.</p>",
          "shape": "EnvironmentId"
        },
        "EnvironmentName": {
          "documentation": "<p>Specify the environment by name.</p> <p>You must specify either this or an EnvironmentName, or both.</p>",
          "shape": "EnvironmentName"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentHealthResult": {
      "documentation": "<p>Health details for an AWS Elastic Beanstalk environment.</p>",
      "members": {
        "ApplicationMetrics": {
          "documentation": "<p>Application request metrics for the environment.</p>",
          "shape": "ApplicationMetrics"
        },
        "Causes": {
          "documentation": "<p>Descriptions of the data that contributed to the environment's current health status.</p>",
          "shape": "Causes"
        },
        "Color": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/health-enhanced-status.html\">health color</a> of the environment.</p>",
          "shape": "String"
        },
        "EnvironmentName": {
          "documentation": "<p>The environment's name.</p>",
          "shape": "EnvironmentName"
        },
        "HealthStatus": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/health-enhanced-status.html\">health status</a> of the environment. For example, <code>Ok</code>.</p>",
          "shape": "String"
        },
        "InstancesHealth": {
          "documentation": "<p>Summary health information for the instances in the environment.</p>",
          "shape": "InstanceHealthSummary"
        },
        "RefreshedAt": {
          "documentation": "<p>The date and time that the health information was retrieved.</p>",
          "shape": "RefreshedAt"
        },
        "Status": {
          "documentation": "<p>The environment's operational status. <code>Ready</code>, <code>Launching</code>, <code>Updating</code>, <code>Terminating</code>, or <code>Terminated</code>.</p>",
          "shape": "EnvironmentHealth"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentManagedActionHistoryRequest": {
      "documentation": "<p>Request to list completed and failed managed actions.</p>",
      "members": {
        "EnvironmentId": {
          "documentation": "<p>The environment ID of the target environment.</p>",
          "shape": "EnvironmentId"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the target environment.</p>",
          "shape": "EnvironmentName"
        },
        "MaxItems": {
          "documentation": "<p>The maximum number of items to return for a single request.</p>",
          "shape": "Integer"
        },
        "NextToken": {
          "documentation": "<p>The pagination token returned by a previous request.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentManagedActionHistoryResult": {
      "documentation": "<p>A result message containing a list of completed and failed managed actions.</p>",
      "members": {
        "ManagedActionHistoryItems": {
          "documentation": "<p>A list of completed and failed managed actions.</p>",
          "shape": "ManagedActionHistoryItems"
        },
        "NextToken": {
          "documentation": "<p>A pagination token that you pass to <a>DescribeEnvironmentManagedActionHistory</a> to get the next page of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentManagedActionsRequest": {
      "documentation": "<p>Request to list an environment's upcoming and in-progress managed actions.</p>",
      "members": {
        "EnvironmentId": {
          "documentation": "<p>The environment ID of the target environment.</p>",
          "shape": "String"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the target environment.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>To show only actions with a particular status, specify a status.</p>",
          "shape": "ActionStatus"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentManagedActionsResult": {
      "documentation": "<p>The result message containing a list of managed actions.</p>",
      "members": {
        "ManagedActions": {
          "documentation": "<p>A list of upcoming and in-progress managed actions.</p>",
          "shape": "ManagedActions"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentResourcesMessage": {
      "documentation": "<p>Request to describe the resources in an environment.</p>",
      "members": {
        "EnvironmentId": {
          "documentation": "<p>The ID of the environment to retrieve AWS resource usage data.</p> <p> Condition: You must specify either this or an EnvironmentName, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>",
          "shape": "EnvironmentId"
        },
        "EnvironmentName": {
          "documentation": "<p>The name of the environment to retrieve AWS resource usage data.</p> <p> Condition: You must specify either this or an EnvironmentId, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>",
          "shape": "EnvironmentName"
        }
      },
      "type": "structure"
    },
    "DescribeEnvironmentsMessage": {
      "documentation": "<p>Request to describe one or more environments.</p>",
      "members": {
        "ApplicationName": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that are associated with this application.</p>",
          "shape": "ApplicationName"
        },
        "EnvironmentIds": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that have the specified IDs.</p>",
          "shape": "EnvironmentIdList"
        },
        "EnvironmentNames": {
          "documentation": "<p>If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that have the specified names.</p>",
          "shape": "EnvironmentNamesList"
        },
        "IncludeDeleted": {
          "documentation": "<p>Indicates whether to include deleted environments:</p> <p> <code>true</code>: Environments that have been deleted after <code>IncludedDeletedBackTo</code> are displayed.</p> <p> <code>false</code>: Do not include deleted environments.</p>",
          "shape": "IncludeDeleted"
        },
        "IncludedDeletedBackTo": {
          "documentation": "<p> If specified when <code>IncludeDeleted</code> is set to <code>true</code>, then environments deleted after this date are displayed. </p>",
          "shape": "IncludeDeletedBackTo"
        },
        "MaxRecords": {
          "documentation": "<p>For a paginated request. Specify a maximum number of environments to include in each response.</p> <p>If no <code>MaxRecords</code> is specified, all available environments are retrieved in a single response.</p>",
          "shape": "MaxRecords"
        },
        "NextToken": {
          "documentation": "<p>For a paginated request. Specify a token from a previous response page to retrieve the next response page. All other parameter values must be identical to the ones specified in the initial request.</p> <p>If no <code>NextToken</code> is specified, the first page is retrieved.</p>",
          "shape": "Token"
        },
        "VersionLabel": {
[...]
