{
  "documentation": "<fullname>Amazon Elastic Container Registry</fullname> <p>Amazon Elastic Container Registry (Amazon ECR) is a managed Docker registry service. Customers can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories with resource-based permissions using IAM so that specific users or Amazon EC2 instances can access repositories and images. Developers can use the Docker CLI to author and manage images.</p>",
  "metadata": {
    "apiVersion": "2015-09-21",
    "endpointPrefix": "api.ecr",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon ECR",
    "serviceFullName": "Amazon EC2 Container Registry",
    "serviceId": "ECR",
    "signatureVersion": "v4",
    "signingName": "ecr",
    "targetPrefix": "AmazonEC2ContainerRegistry_V20150921",
    "uid": "ecr-2015-09-21"
  },
  "operations": {
    "BatchCheckLayerAvailability": {
      "documentation": "<p>Checks the availability of one or more image layers in a repository.</p> <p>When an image is pushed to a repository, each image layer is checked to verify if it has been uploaded before. If it is, then the image layer is skipped.</p> <p>When an image is pulled from a repository, each image layer is checked once to verify it is available to be pulled.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "errors": [
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchCheckLayerAvailabilityRequest"
      },
      "name": "BatchCheckLayerAvailability",
      "output": {
        "shape": "BatchCheckLayerAvailabilityResponse"
      }
    },
    "BatchDeleteImage": {
      "documentation": "<p>Deletes a list of specified images within a repository. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>You can remove a tag from an image by specifying the image's tag in your request. When you remove the last tag from an image, the image is deleted from your repository.</p> <p>You can completely delete an image (and all of its tags) by specifying the image's digest in your request.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteImageRequest"
      },
      "name": "BatchDeleteImage",
      "output": {
        "shape": "BatchDeleteImageResponse"
      }
    },
    "BatchGetImage": {
      "documentation": "<p>Gets detailed information for an image. Images are specified with either an <code>imageTag</code> or <code>imageDigest</code>.</p> <p>When an image is pulled, the BatchGetImage API is called once to retrieve the image manifest.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetImageRequest"
      },
      "name": "BatchGetImage",
      "output": {
        "shape": "BatchGetImageResponse"
      }
    },
    "CompleteLayerUpload": {
      "documentation": "<p>Informs Amazon ECR that the image layer upload has completed for a specified registry, repository name, and upload ID. You can optionally provide a <code>sha256</code> digest of the image layer for data validation purposes.</p> <p>When an image is pushed, the CompleteLayerUpload API is called once per each new image layer to verify that the upload has completed.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "UploadNotFoundException"
        },
        {
          "shape": "InvalidLayerException"
        },
        {
          "shape": "LayerPartTooSmallException"
        },
        {
          "shape": "LayerAlreadyExistsException"
        },
        {
          "shape": "EmptyUploadException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CompleteLayerUploadRequest"
      },
      "name": "CompleteLayerUpload",
      "output": {
        "shape": "CompleteLayerUploadResponse"
      }
    },
    "CreateRepository": {
      "documentation": "<p>Creates a repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Repositories.html\">Amazon ECR Repositories</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidTagParameterException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "RepositoryAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRepositoryRequest"
      },
      "name": "CreateRepository",
      "output": {
        "shape": "CreateRepositoryResponse"
      }
    },
    "DeleteLifecyclePolicy": {
      "documentation": "<p>Deletes the lifecycle policy associated with the specified repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "LifecyclePolicyNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLifecyclePolicyRequest"
      },
      "name": "DeleteLifecyclePolicy",
      "output": {
        "shape": "DeleteLifecyclePolicyResponse"
      }
    },
    "DeleteRepository": {
      "documentation": "<p>Deletes a repository. If the repository contains images, you must either delete all images in the repository or use the <code>force</code> option to delete the repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "RepositoryNotEmptyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRepositoryRequest"
      },
      "name": "DeleteRepository",
      "output": {
        "shape": "DeleteRepositoryResponse"
      }
    },
    "DeleteRepositoryPolicy": {
      "documentation": "<p>Deletes the repository policy associated with the specified repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "RepositoryPolicyNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRepositoryPolicyRequest"
      },
      "name": "DeleteRepositoryPolicy",
      "output": {
        "shape": "DeleteRepositoryPolicyResponse"
      }
    },
    "DescribeImageScanFindings": {
      "documentation": "<p>Returns the scan findings for the specified image.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ImageNotFoundException"
        },
        {
          "shape": "ScanNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImageScanFindingsRequest"
      },
      "name": "DescribeImageScanFindings",
      "output": {
        "shape": "DescribeImageScanFindingsResponse"
      }
    },
    "DescribeImages": {
      "documentation": "<p>Returns metadata about the images in a repository.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ImageNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "name": "DescribeImages",
      "output": {
        "shape": "DescribeImagesResponse"
      }
    },
    "DescribeRepositories": {
      "documentation": "<p>Describes image repositories in a registry.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRepositoriesRequest"
      },
      "name": "DescribeRepositories",
      "output": {
        "shape": "DescribeRepositoriesResponse"
      }
    },
    "GetAuthorizationToken": {
      "documentation": "<p>Retrieves an authorization token. An authorization token represents your IAM authentication credentials and can be used to access any Amazon ECR registry that your IAM principal has access to. The authorization token is valid for 12 hours.</p> <p>The <code>authorizationToken</code> returned is a base64 encoded string that can be decoded and used in a <code>docker login</code> command to authenticate to a registry. The AWS CLI offers an <code>get-login-password</code> command that simplifies the login process. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/Registries.html#registry_auth\">Registry Authentication</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAuthorizationTokenRequest"
      },
      "name": "GetAuthorizationToken",
      "output": {
        "shape": "GetAuthorizationTokenResponse"
      }
    },
    "GetDownloadUrlForLayer": {
      "documentation": "<p>Retrieves the pre-signed Amazon S3 download URL corresponding to an image layer. You can only get URLs for image layers that are referenced in an image.</p> <p>When an image is pulled, the GetDownloadUrlForLayer API is called once per image layer.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "LayersNotFoundException"
        },
        {
          "shape": "LayerInaccessibleException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDownloadUrlForLayerRequest"
      },
      "name": "GetDownloadUrlForLayer",
      "output": {
        "shape": "GetDownloadUrlForLayerResponse"
      }
    },
    "GetLifecyclePolicy": {
      "documentation": "<p>Retrieves the lifecycle policy for the specified repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "LifecyclePolicyNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLifecyclePolicyRequest"
      },
      "name": "GetLifecyclePolicy",
      "output": {
        "shape": "GetLifecyclePolicyResponse"
      }
    },
    "GetLifecyclePolicyPreview": {
      "documentation": "<p>Retrieves the results of the lifecycle policy preview request for the specified repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "LifecyclePolicyPreviewNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLifecyclePolicyPreviewRequest"
      },
      "name": "GetLifecyclePolicyPreview",
      "output": {
        "shape": "GetLifecyclePolicyPreviewResponse"
      }
    },
    "GetRepositoryPolicy": {
      "documentation": "<p>Retrieves the repository policy for the specified repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "RepositoryPolicyNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRepositoryPolicyRequest"
      },
      "name": "GetRepositoryPolicy",
      "output": {
        "shape": "GetRepositoryPolicyResponse"
      }
    },
    "InitiateLayerUpload": {
      "documentation": "<p>Notifies Amazon ECR that you intend to upload an image layer.</p> <p>When an image is pushed, the InitiateLayerUpload API is called once per image layer that has not already been uploaded. Whether an image layer has been uploaded before is determined by the <a>BatchCheckLayerAvailability</a> API action.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InitiateLayerUploadRequest"
      },
      "name": "InitiateLayerUpload",
      "output": {
        "shape": "InitiateLayerUploadResponse"
      }
    },
    "ListImages": {
      "documentation": "<p>Lists all the image IDs for the specified repository.</p> <p>You can filter images based on whether or not they are tagged by using the <code>tagStatus</code> filter and specifying either <code>TAGGED</code>, <code>UNTAGGED</code> or <code>ANY</code>. For example, you can filter your results to return only <code>UNTAGGED</code> images and then pipe that result to a <a>BatchDeleteImage</a> operation to delete them. Or, you can filter your results to return only <code>TAGGED</code> images to list all of the tags in your repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListImagesRequest"
      },
      "name": "ListImages",
      "output": {
        "shape": "ListImagesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List the tags for an Amazon ECR resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutImage": {
      "documentation": "<p>Creates or updates the image manifest and tags associated with an image.</p> <p>When an image is pushed and all new image layers have been uploaded, the PutImage API is called once to create or update the image manifest and tags associated with the image.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ImageAlreadyExistsException"
        },
        {
          "shape": "LayersNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ImageTagAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutImageRequest"
      },
      "name": "PutImage",
      "output": {
        "shape": "PutImageResponse"
      }
    },
    "PutImageScanningConfiguration": {
      "documentation": "<p>Updates the image scanning configuration for the specified repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutImageScanningConfigurationRequest"
      },
      "name": "PutImageScanningConfiguration",
      "output": {
        "shape": "PutImageScanningConfigurationResponse"
      }
    },
    "PutImageTagMutability": {
      "documentation": "<p>Updates the image tag mutability settings for the specified repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-tag-mutability.html\">Image Tag Mutability</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutImageTagMutabilityRequest"
      },
      "name": "PutImageTagMutability",
      "output": {
        "shape": "PutImageTagMutabilityResponse"
      }
    },
    "PutLifecyclePolicy": {
      "documentation": "<p>Creates or updates the lifecycle policy for the specified repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html\">Lifecycle Policy Template</a>.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLifecyclePolicyRequest"
      },
      "name": "PutLifecyclePolicy",
      "output": {
        "shape": "PutLifecyclePolicyResponse"
      }
    },
    "SetRepositoryPolicy": {
      "documentation": "<p>Applies a repository policy to the specified repository to control access permissions. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/RepositoryPolicies.html\">Amazon ECR Repository Policies</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetRepositoryPolicyRequest"
      },
      "name": "SetRepositoryPolicy",
      "output": {
        "shape": "SetRepositoryPolicyResponse"
      }
    },
    "StartImageScan": {
      "documentation": "<p>Starts an image vulnerability scan. An image scan can only be started once per day on an individual image. This limit includes if an image was scanned on initial push. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/image-scanning.html\">Image Scanning</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ImageNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartImageScanRequest"
      },
      "name": "StartImageScan",
      "output": {
        "shape": "StartImageScanResponse"
      }
    },
    "StartLifecyclePolicyPreview": {
      "documentation": "<p>Starts a preview of a lifecycle policy for the specified repository. This allows you to see the results before associating the lifecycle policy with the repository.</p>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "LifecyclePolicyNotFoundException"
        },
        {
          "shape": "LifecyclePolicyPreviewInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartLifecyclePolicyPreviewRequest"
      },
      "name": "StartLifecyclePolicyPreview",
      "output": {
        "shape": "StartLifecyclePolicyPreviewResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds specified tags to a resource with the specified ARN. Existing tags on a resource are not changed if they are not specified in the request parameters.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidTagParameterException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes specified tags from a resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidTagParameterException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "ServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UploadLayerPart": {
      "documentation": "<p>Uploads an image layer part to Amazon ECR.</p> <p>When an image is pushed, each new image layer is uploaded in parts. The maximum size of each image layer part can be 20971520 bytes (or about 20MB). The UploadLayerPart API is called once per each new image layer part.</p> <note> <p>This operation is used by the Amazon ECR proxy, and it is not intended for general use by customers for pulling and pushing images. In most cases, you should use the <code>docker</code> CLI to pull, tag, and push images.</p> </note>",
      "errors": [
        {
          "shape": "ServerException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidLayerPartException"
        },
        {
          "shape": "RepositoryNotFoundException"
        },
        {
          "shape": "UploadNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UploadLayerPartRequest"
      },
      "name": "UploadLayerPart",
      "output": {
        "shape": "UploadLayerPartResponse"
      }
    }
  },
  "shapes": {
    "Arn": {
      "type": "string"
    },
    "Attribute": {
      "documentation": "<p>This data type is used in the <a>ImageScanFinding</a> data type.</p>",
      "members": {
        "key": {
          "documentation": "<p>The attribute key.</p>",
          "shape": "AttributeKey"
        },
        "value": {
          "documentation": "<p>The value assigned to the attribute key.</p>",
          "shape": "AttributeValue"
        }
      },
      "required": [
        "key"
      ],
      "type": "structure"
    },
    "AttributeKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AttributeList": {
      "max": 50,
      "member": {
        "shape": "Attribute"
      },
      "min": 0,
      "type": "list"
    },
    "AttributeValue": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "AuthorizationData": {
      "documentation": "<p>An object representing authorization data for an Amazon ECR registry.</p>",
      "members": {
        "authorizationToken": {
          "documentation": "<p>A base64-encoded string that contains authorization data for the specified Amazon ECR registry. When the string is decoded, it is presented in the format <code>user:password</code> for private registry authentication using <code>docker login</code>.</p>",
          "shape": "Base64"
        },
        "expiresAt": {
          "documentation": "<p>The Unix time in seconds and milliseconds when the authorization token expires. Authorization tokens are valid for 12 hours.</p>",
          "shape": "ExpirationTimestamp"
        },
        "proxyEndpoint": {
          "documentation": "<p>The registry URL to use for this authorization token in a <code>docker login</code> command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>. For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>.. </p>",
          "shape": "ProxyEndpoint"
        }
      },
      "type": "structure"
    },
    "AuthorizationDataList": {
      "member": {
        "shape": "AuthorizationData"
      },
      "type": "list"
    },
    "Base64": {
      "pattern": "^\\S+$",
      "type": "string"
    },
    "BatchCheckLayerAvailabilityRequest": {
      "members": {
        "layerDigests": {
          "documentation": "<p>The digests of the image layers to check.</p>",
          "shape": "BatchedOperationLayerDigestList"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the image layers to check. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository that is associated with the image layers to check.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "layerDigests"
      ],
      "type": "structure"
    },
    "BatchCheckLayerAvailabilityResponse": {
      "members": {
        "failures": {
          "documentation": "<p>Any failures associated with the call.</p>",
          "shape": "LayerFailureList"
        },
        "layers": {
          "documentation": "<p>A list of image layer objects corresponding to the image layer references in the request.</p>",
          "shape": "LayerList"
        }
      },
      "type": "structure"
    },
    "BatchDeleteImageRequest": {
      "documentation": "<p>Deletes specified images within a specified repository. Images are specified with either the <code>imageTag</code> or <code>imageDigest</code>.</p>",
      "members": {
        "imageIds": {
          "documentation": "<p>A list of image ID references that correspond to images to delete. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.</p>",
          "shape": "ImageIdentifierList"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the image to delete. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository that contains the image to delete.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageIds"
      ],
      "type": "structure"
    },
    "BatchDeleteImageResponse": {
      "members": {
        "failures": {
          "documentation": "<p>Any failures associated with the call.</p>",
          "shape": "ImageFailureList"
        },
        "imageIds": {
          "documentation": "<p>The image IDs of the deleted images.</p>",
          "shape": "ImageIdentifierList"
        }
      },
      "type": "structure"
    },
    "BatchGetImageRequest": {
      "members": {
        "acceptedMediaTypes": {
          "documentation": "<p>The accepted media types for the request.</p> <p>Valid values: <code>application/vnd.docker.distribution.manifest.v1+json</code> | <code>application/vnd.docker.distribution.manifest.v2+json</code> | <code>application/vnd.oci.image.manifest.v1+json</code> </p>",
          "shape": "MediaTypeList"
        },
        "imageIds": {
          "documentation": "<p>A list of image ID references that correspond to images to describe. The format of the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.</p>",
          "shape": "ImageIdentifierList"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the images to describe. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository that contains the images to describe.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageIds"
      ],
      "type": "structure"
    },
    "BatchGetImageResponse": {
      "members": {
        "failures": {
          "documentation": "<p>Any failures associated with the call.</p>",
          "shape": "ImageFailureList"
        },
        "images": {
          "documentation": "<p>A list of image objects corresponding to the image references in the request.</p>",
          "shape": "ImageList"
        }
      },
      "type": "structure"
    },
    "BatchedOperationLayerDigest": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "BatchedOperationLayerDigestList": {
      "max": 100,
      "member": {
        "shape": "BatchedOperationLayerDigest"
      },
      "min": 1,
      "type": "list"
    },
    "CompleteLayerUploadRequest": {
      "members": {
        "layerDigests": {
          "documentation": "<p>The <code>sha256</code> digest of the image layer.</p>",
          "shape": "LayerDigestList"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry to which to upload layers. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository to associate with the image layer.</p>",
          "shape": "RepositoryName"
        },
        "uploadId": {
          "documentation": "<p>The upload ID from a previous <a>InitiateLayerUpload</a> operation to associate with the image layer.</p>",
          "shape": "UploadId"
        }
      },
      "required": [
        "repositoryName",
        "uploadId",
        "layerDigests"
      ],
      "type": "structure"
    },
    "CompleteLayerUploadResponse": {
      "members": {
        "layerDigest": {
          "documentation": "<p>The <code>sha256</code> digest of the image layer.</p>",
          "shape": "LayerDigest"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        },
        "uploadId": {
          "documentation": "<p>The upload ID associated with the layer.</p>",
          "shape": "UploadId"
        }
      },
      "type": "structure"
    },
    "CreateRepositoryRequest": {
      "members": {
        "imageScanningConfiguration": {
          "documentation": "<p>The image scanning configuration for the repository. This setting determines whether images are scanned for known vulnerabilities after being pushed to the repository.</p>",
          "shape": "ImageScanningConfiguration"
        },
        "imageTagMutability": {
          "documentation": "<p>The tag mutability setting for the repository. If this parameter is omitted, the default setting of <code>MUTABLE</code> will be used which will allow image tags to be overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the repository will be immutable which will prevent them from being overwritten.</p>",
          "shape": "ImageTagMutability"
        },
        "repositoryName": {
          "documentation": "<p>The name to use for the repository. The repository name may be specified on its own (such as <code>nginx-web-app</code>) or it can be prepended with a namespace to group the repository into a category (such as <code>project-a/nginx-web-app</code>).</p>",
          "shape": "RepositoryName"
        },
        "tags": {
          "documentation": "<p>The metadata that you apply to the repository to help you categorize and organize them. Each tag consists of a key and an optional value, both of which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "CreateRepositoryResponse": {
      "members": {
        "repository": {
          "documentation": "<p>The repository that was created.</p>",
          "shape": "Repository"
        }
      },
      "type": "structure"
    },
    "CreationTimestamp": {
      "type": "timestamp"
    },
    "DeleteLifecyclePolicyRequest": {
      "members": {
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "DeleteLifecyclePolicyResponse": {
      "members": {
        "lastEvaluatedAt": {
          "documentation": "<p>The time stamp of the last time that the lifecycle policy was run.</p>",
          "shape": "EvaluationTimestamp"
        },
        "lifecyclePolicyText": {
          "documentation": "<p>The JSON lifecycle policy text.</p>",
          "shape": "LifecyclePolicyText"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "DeleteRepositoryPolicyRequest": {
      "members": {
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository policy to delete. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository that is associated with the repository policy to delete.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "DeleteRepositoryPolicyResponse": {
      "members": {
        "policyText": {
          "documentation": "<p>The JSON repository policy that was deleted from the repository.</p>",
          "shape": "RepositoryPolicyText"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "DeleteRepositoryRequest": {
      "members": {
        "force": {
          "documentation": "<p> If a repository contains images, forces the deletion.</p>",
          "shape": "ForceFlag"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository to delete. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository to delete.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "DeleteRepositoryResponse": {
      "members": {
        "repository": {
          "documentation": "<p>The repository that was deleted.</p>",
          "shape": "Repository"
        }
      },
      "type": "structure"
    },
    "DescribeImageScanFindingsRequest": {
      "members": {
        "imageId": {
          "shape": "ImageIdentifier"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of image scan results returned by <code>DescribeImageScanFindings</code> in paginated output. When this parameter is used, <code>DescribeImageScanFindings</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeImageScanFindings</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeImageScanFindings</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeImageScanFindings</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to describe the image scan findings for. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository for the image for which to describe the scan findings.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageId"
      ],
      "type": "structure"
    },
    "DescribeImageScanFindingsResponse": {
      "members": {
        "imageId": {
          "shape": "ImageIdentifier"
        },
        "imageScanFindings": {
          "documentation": "<p>The information contained in the image scan findings.</p>",
          "shape": "ImageScanFindings"
        },
        "imageScanStatus": {
          "documentation": "<p>The current state of the scan.</p>",
          "shape": "ImageScanStatus"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeImageScanFindings</code> request. When the results of a <code>DescribeImageScanFindings</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "DescribeImagesFilter": {
      "documentation": "<p>An object representing a filter on a <a>DescribeImages</a> operation.</p>",
      "members": {
        "tagStatus": {
          "documentation": "<p>The tag status with which to filter your <a>DescribeImages</a> results. You can filter results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.</p>",
          "shape": "TagStatus"
        }
      },
      "type": "structure"
    },
    "DescribeImagesRequest": {
      "members": {
        "filter": {
          "documentation": "<p>The filter key and value with which to filter your <code>DescribeImages</code> results.</p>",
          "shape": "DescribeImagesFilter"
        },
        "imageIds": {
          "documentation": "<p>The list of image IDs for the requested repository.</p>",
          "shape": "ImageIdentifierList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of repository results returned by <code>DescribeImages</code> in paginated output. When this parameter is used, <code>DescribeImages</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeImages</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeImages</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify images with <code>imageIds</code>.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeImages</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return. This option cannot be used when you specify images with <code>imageIds</code>.</p>",
          "shape": "NextToken"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to describe images. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository that contains the images to describe.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "DescribeImagesResponse": {
      "members": {
        "imageDetails": {
          "documentation": "<p>A list of <a>ImageDetail</a> objects that contain data about the image.</p>",
          "shape": "ImageDetailList"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeImages</code> request. When the results of a <code>DescribeImages</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeRepositoriesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of repository results returned by <code>DescribeRepositories</code> in paginated output. When this parameter is used, <code>DescribeRepositories</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeRepositories</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>DescribeRepositories</code> returns up to 100 results and a <code>nextToken</code> value, if applicable. This option cannot be used when you specify repositories with <code>repositoryNames</code>.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeRepositories</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return. This option cannot be used when you specify repositories with <code>repositoryNames</code>.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "shape": "NextToken"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repositories to be described. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryNames": {
          "documentation": "<p>A list of repositories to describe. If this parameter is omitted, then all repositories in a registry are described.</p>",
          "shape": "RepositoryNameList"
        }
      },
      "type": "structure"
    },
    "DescribeRepositoriesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>DescribeRepositories</code> request. When the results of a <code>DescribeRepositories</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "repositories": {
          "documentation": "<p>A list of repository objects corresponding to valid repositories.</p>",
          "shape": "RepositoryList"
        }
      },
      "type": "structure"
    },
    "EmptyUploadException": {
      "documentation": "<p>The specified layer upload does not contain any layer parts.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "EvaluationTimestamp": {
      "type": "timestamp"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "ExpirationTimestamp": {
      "type": "timestamp"
    },
    "FindingDescription": {
      "type": "string"
    },
    "FindingName": {
      "type": "string"
    },
    "FindingSeverity": {
      "enum": [
        "INFORMATIONAL",
        "LOW",
        "MEDIUM",
        "HIGH",
        "CRITICAL",
        "UNDEFINED"
      ],
      "type": "string"
    },
    "FindingSeverityCounts": {
      "key": {
        "shape": "FindingSeverity"
      },
      "type": "map",
      "value": {
        "shape": "SeverityCount"
      }
    },
    "ForceFlag": {
      "type": "boolean"
    },
    "GetAuthorizationTokenRegistryIdList": {
      "max": 10,
      "member": {
        "shape": "RegistryId"
      },
      "min": 1,
      "type": "list"
    },
    "GetAuthorizationTokenRequest": {
      "members": {
        "registryIds": {
          "documentation": "<p>A list of AWS account IDs that are associated with the registries for which to get AuthorizationData objects. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "GetAuthorizationTokenRegistryIdList"
        }
      },
      "type": "structure"
    },
    "GetAuthorizationTokenResponse": {
      "members": {
        "authorizationData": {
          "documentation": "<p>A list of authorization token data objects that correspond to the <code>registryIds</code> values in the request.</p>",
          "shape": "AuthorizationDataList"
        }
      },
      "type": "structure"
    },
    "GetDownloadUrlForLayerRequest": {
      "members": {
        "layerDigest": {
          "documentation": "<p>The digest of the image layer to download.</p>",
          "shape": "LayerDigest"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the image layer to download. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository that is associated with the image layer to download.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "layerDigest"
      ],
      "type": "structure"
    },
    "GetDownloadUrlForLayerResponse": {
      "members": {
        "downloadUrl": {
          "documentation": "<p>The pre-signed Amazon S3 download URL for the requested layer.</p>",
          "shape": "Url"
        },
        "layerDigest": {
          "documentation": "<p>The digest of the image layer to download.</p>",
          "shape": "LayerDigest"
        }
      },
      "type": "structure"
    },
    "GetLifecyclePolicyPreviewRequest": {
      "members": {
        "filter": {
          "documentation": "<p>An optional parameter that filters results based on image tag status and all tags, if tagged.</p>",
          "shape": "LifecyclePolicyPreviewFilter"
        },
        "imageIds": {
          "documentation": "<p>The list of imageIDs to be included.</p>",
          "shape": "ImageIdentifierList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of repository results returned by <code>GetLifecyclePolicyPreviewRequest</code> in&#x2028; paginated output. When this parameter is used, <code>GetLifecyclePolicyPreviewRequest</code> only returns&#x2028; <code>maxResults</code> results in a single page along with a <code>nextToken</code>&#x2028; response element. The remaining results of the initial request can be seen by sending&#x2028; another <code>GetLifecyclePolicyPreviewRequest</code> request with the returned <code>nextToken</code>&#x2028; value. This value can be between 1 and 1000. If this&#x2028; parameter is not used, then <code>GetLifecyclePolicyPreviewRequest</code> returns up to&#x2028; 100 results and a <code>nextToken</code> value, if&#x2028; applicable. This option cannot be used when you specify images with <code>imageIds</code>.</p>",
          "shape": "LifecyclePreviewMaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated&#x2028; <code>GetLifecyclePolicyPreviewRequest</code> request where <code>maxResults</code> was used and the&#x2028; results exceeded the value of that parameter. Pagination continues from the end of the&#x2028; previous results that returned the <code>nextToken</code> value. This value is&#x2028; <code>null</code> when there are no more results to return. This option cannot be used when you specify images with <code>imageIds</code>.</p>",
          "shape": "NextToken"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "GetLifecyclePolicyPreviewResponse": {
      "members": {
        "lifecyclePolicyText": {
          "documentation": "<p>The JSON lifecycle policy text.</p>",
          "shape": "LifecyclePolicyText"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>GetLifecyclePolicyPreview</code> request. When the results of a <code>GetLifecyclePolicyPreview</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "previewResults": {
          "documentation": "<p>The results of the lifecycle policy preview request.</p>",
          "shape": "LifecyclePolicyPreviewResultList"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        },
        "status": {
          "documentation": "<p>The status of the lifecycle policy preview request.</p>",
          "shape": "LifecyclePolicyPreviewStatus"
        },
        "summary": {
          "documentation": "<p>The list of images that is returned as a result of the action.</p>",
          "shape": "LifecyclePolicyPreviewSummary"
        }
      },
      "type": "structure"
    },
    "GetLifecyclePolicyRequest": {
      "members": {
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "GetLifecyclePolicyResponse": {
      "members": {
        "lastEvaluatedAt": {
          "documentation": "<p>The time stamp of the last time that the lifecycle policy was run.</p>",
          "shape": "EvaluationTimestamp"
        },
        "lifecyclePolicyText": {
          "documentation": "<p>The JSON lifecycle policy text.</p>",
          "shape": "LifecyclePolicyText"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "GetRepositoryPolicyRequest": {
      "members": {
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository with the policy to retrieve.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "GetRepositoryPolicyResponse": {
      "members": {
        "policyText": {
          "documentation": "<p>The JSON repository policy text associated with the repository.</p>",
          "shape": "RepositoryPolicyText"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "Image": {
      "documentation": "<p>An object representing an Amazon ECR image.</p>",
      "members": {
        "imageId": {
          "documentation": "<p>An object containing the image tag and image digest associated with an image.</p>",
          "shape": "ImageIdentifier"
        },
        "imageManifest": {
          "documentation": "<p>The image manifest associated with the image.</p>",
          "shape": "ImageManifest"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry containing the image.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository associated with the image.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "ImageActionType": {
      "enum": [
        "EXPIRE"
      ],
      "type": "string"
    },
    "ImageAlreadyExistsException": {
      "documentation": "<p>The specified image has already been pushed, and there were no changes to the manifest or image tag after the last push.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ImageCount": {
      "min": 0,
      "type": "integer"
    },
    "ImageDetail": {
      "documentation": "<p>An object that describes an image returned by a <a>DescribeImages</a> operation.</p>",
      "members": {
        "imageDigest": {
          "documentation": "<p>The <code>sha256</code> digest of the image manifest.</p>",
          "shape": "ImageDigest"
        },
        "imagePushedAt": {
          "documentation": "<p>The date and time, expressed in standard JavaScript date format, at which the current image was pushed to the repository. </p>",
          "shape": "PushTimestamp"
        },
        "imageScanFindingsSummary": {
          "documentation": "<p>A summary of the last completed image scan.</p>",
          "shape": "ImageScanFindingsSummary"
        },
        "imageScanStatus": {
          "documentation": "<p>The current state of the scan.</p>",
          "shape": "ImageScanStatus"
        },
        "imageSizeInBytes": {
          "documentation": "<p>The size, in bytes, of the image in the repository.</p> <note> <p>Beginning with Docker version 1.9, the Docker client compresses image layers before pushing them to a V2 Docker registry. The output of the <code>docker images</code> command shows the uncompressed image size, so it may return a larger image size than the image sizes returned by <a>DescribeImages</a>.</p> </note>",
          "shape": "ImageSizeInBytes"
        },
        "imageTags": {
          "documentation": "<p>The list of tags associated with this image.</p>",
          "shape": "ImageTagList"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry to which this image belongs.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository to which this image belongs.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "ImageDetailList": {
      "member": {
        "shape": "ImageDetail"
      },
      "type": "list"
    },
    "ImageDigest": {
      "type": "string"
    },
    "ImageFailure": {
      "documentation": "<p>An object representing an Amazon ECR image failure.</p>",
      "members": {
        "failureCode": {
          "documentation": "<p>The code associated with the failure.</p>",
          "shape": "ImageFailureCode"
        },
        "failureReason": {
          "documentation": "<p>The reason for the failure.</p>",
          "shape": "ImageFailureReason"
        },
        "imageId": {
          "documentation": "<p>The image ID associated with the failure.</p>",
          "shape": "ImageIdentifier"
        }
      },
      "type": "structure"
    },
    "ImageFailureCode": {
      "enum": [
        "InvalidImageDigest",
        "InvalidImageTag",
        "ImageTagDoesNotMatchDigest",
        "ImageNotFound",
        "MissingDigestAndTag"
      ],
      "type": "string"
    },
    "ImageFailureList": {
      "member": {
        "shape": "ImageFailure"
      },
      "type": "list"
    },
    "ImageFailureReason": {
      "type": "string"
    },
    "ImageIdentifier": {
      "documentation": "<p>An object with identifying information for an Amazon ECR image.</p>",
      "members": {
        "imageDigest": {
          "documentation": "<p>The <code>sha256</code> digest of the image manifest.</p>",
          "shape": "ImageDigest"
        },
        "imageTag": {
          "documentation": "<p>The tag used for the image.</p>",
          "shape": "ImageTag"
        }
      },
      "type": "structure"
    },
    "ImageIdentifierList": {
      "max": 100,
      "member": {
        "shape": "ImageIdentifier"
      },
      "min": 1,
      "type": "list"
    },
    "ImageList": {
      "member": {
        "shape": "Image"
      },
      "type": "list"
    },
    "ImageManifest": {
      "max": 4194304,
      "min": 1,
      "type": "string"
    },
    "ImageNotFoundException": {
      "documentation": "<p>The image requested does not exist in the specified repository.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ImageScanFinding": {
      "documentation": "<p>Contains information about an image scan finding.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>",
          "shape": "AttributeList"
        },
        "description": {
          "documentation": "<p>The description of the finding.</p>",
          "shape": "FindingDescription"
        },
        "name": {
          "documentation": "<p>The name associated with the finding, usually a CVE number.</p>",
          "shape": "FindingName"
        },
        "severity": {
          "documentation": "<p>The finding severity.</p>",
          "shape": "FindingSeverity"
        },
        "uri": {
          "documentation": "<p>A link containing additional details about the security vulnerability.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "ImageScanFindingList": {
      "member": {
        "shape": "ImageScanFinding"
      },
      "type": "list"
    },
    "ImageScanFindings": {
      "documentation": "<p>The details of an image scan.</p>",
      "members": {
        "findingSeverityCounts": {
          "documentation": "<p>The image vulnerability counts, sorted by severity.</p>",
          "shape": "FindingSeverityCounts"
        },
        "findings": {
          "documentation": "<p>The findings from the image scan.</p>",
          "shape": "ImageScanFindingList"
        },
        "imageScanCompletedAt": {
          "documentation": "<p>The time of the last completed image scan.</p>",
          "shape": "ScanTimestamp"
        },
        "vulnerabilitySourceUpdatedAt": {
          "documentation": "<p>The time when the vulnerability data was last scanned.</p>",
          "shape": "VulnerabilitySourceUpdateTimestamp"
        }
      },
      "type": "structure"
    },
    "ImageScanFindingsSummary": {
      "documentation": "<p>A summary of the last completed image scan.</p>",
      "members": {
        "findingSeverityCounts": {
          "documentation": "<p>The image vulnerability counts, sorted by severity.</p>",
          "shape": "FindingSeverityCounts"
        },
        "imageScanCompletedAt": {
          "documentation": "<p>The time of the last completed image scan.</p>",
          "shape": "ScanTimestamp"
        },
        "vulnerabilitySourceUpdatedAt": {
          "documentation": "<p>The time when the vulnerability data was last scanned.</p>",
          "shape": "VulnerabilitySourceUpdateTimestamp"
        }
      },
      "type": "structure"
    },
    "ImageScanStatus": {
      "documentation": "<p>The current status of an image scan.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the image scan status.</p>",
          "shape": "ScanStatusDescription"
        },
        "status": {
          "documentation": "<p>The current state of an image scan.</p>",
          "shape": "ScanStatus"
        }
      },
      "type": "structure"
    },
    "ImageScanningConfiguration": {
      "documentation": "<p>The image scanning configuration for a repository.</p>",
      "members": {
        "scanOnPush": {
          "documentation": "<p>The setting that determines whether images are scanned after being pushed to a repository. If set to <code>true</code>, images will be scanned after being pushed. If this parameter is not specified, it will default to <code>false</code> and images will not be scanned unless a scan is manually started with the <a>StartImageScan</a> API.</p>",
          "shape": "ScanOnPushFlag"
        }
      },
      "type": "structure"
    },
    "ImageSizeInBytes": {
      "type": "long"
    },
    "ImageTag": {
      "max": 300,
      "min": 1,
      "type": "string"
    },
    "ImageTagAlreadyExistsException": {
      "documentation": "<p>The specified image is tagged with a tag that already exists. The repository is configured for tag immutability.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ImageTagList": {
      "member": {
        "shape": "ImageTag"
      },
      "type": "list"
    },
    "ImageTagMutability": {
      "enum": [
        "MUTABLE",
        "IMMUTABLE"
      ],
      "type": "string"
    },
    "InitiateLayerUploadRequest": {
      "members": {
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry to which you intend to upload layers. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository to which you intend to upload layers.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "InitiateLayerUploadResponse": {
      "members": {
        "partSize": {
          "documentation": "<p>The size, in bytes, that Amazon ECR expects future layer part uploads to be.</p>",
          "shape": "PartSize"
        },
        "uploadId": {
          "documentation": "<p>The upload ID for the layer upload. This parameter is passed to further <a>UploadLayerPart</a> and <a>CompleteLayerUpload</a> operations.</p>",
          "shape": "UploadId"
        }
      },
      "type": "structure"
    },
    "InvalidLayerException": {
      "documentation": "<p>The layer digest calculation performed by Amazon ECR upon receipt of the image layer does not match the digest specified.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidLayerPartException": {
      "documentation": "<p>The layer part size is not valid, or the first byte specified is not consecutive to the last byte of a previous layer part upload.</p>",
      "exception": true,
      "members": {
        "lastValidByteReceived": {
          "documentation": "<p>The last valid byte received from the layer part upload that is associated with the exception.</p>",
          "shape": "PartSize"
        },
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the exception.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the exception.</p>",
          "shape": "RepositoryName"
        },
        "uploadId": {
          "documentation": "<p>The upload ID associated with the exception.</p>",
          "shape": "UploadId"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>The specified parameter is invalid. Review the available parameters for the API request.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidTagParameterException": {
      "documentation": "<p>An invalid parameter has been specified. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Layer": {
      "documentation": "<p>An object representing an Amazon ECR image layer.</p>",
      "members": {
        "layerAvailability": {
          "documentation": "<p>The availability status of the image layer.</p>",
          "shape": "LayerAvailability"
        },
        "layerDigest": {
          "documentation": "<p>The <code>sha256</code> digest of the image layer.</p>",
          "shape": "LayerDigest"
        },
        "layerSize": {
          "documentation": "<p>The size, in bytes, of the image layer.</p>",
          "shape": "LayerSizeInBytes"
        },
        "mediaType": {
          "documentation": "<p>The media type of the layer, such as <code>application/vnd.docker.image.rootfs.diff.tar.gzip</code> or <code>application/vnd.oci.image.layer.v1.tar+gzip</code>.</p>",
          "shape": "MediaType"
        }
      },
      "type": "structure"
    },
    "LayerAlreadyExistsException": {
      "documentation": "<p>The image layer already exists in the associated repository.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LayerAvailability": {
      "enum": [
        "AVAILABLE",
        "UNAVAILABLE"
      ],
      "type": "string"
    },
    "LayerDigest": {
      "pattern": "[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+",
      "type": "string"
    },
    "LayerDigestList": {
      "max": 100,
      "member": {
        "shape": "LayerDigest"
      },
      "min": 1,
      "type": "list"
    },
    "LayerFailure": {
      "documentation": "<p>An object representing an Amazon ECR image layer failure.</p>",
      "members": {
        "failureCode": {
          "documentation": "<p>The failure code associated with the failure.</p>",
          "shape": "LayerFailureCode"
        },
        "failureReason": {
          "documentation": "<p>The reason for the failure.</p>",
          "shape": "LayerFailureReason"
        },
        "layerDigest": {
          "documentation": "<p>The layer digest associated with the failure.</p>",
          "shape": "BatchedOperationLayerDigest"
        }
      },
      "type": "structure"
    },
    "LayerFailureCode": {
      "enum": [
        "InvalidLayerDigest",
        "MissingLayerDigest"
      ],
      "type": "string"
    },
    "LayerFailureList": {
      "member": {
        "shape": "LayerFailure"
      },
      "type": "list"
    },
    "LayerFailureReason": {
      "type": "string"
    },
    "LayerInaccessibleException": {
      "documentation": "<p>The specified layer is not available because it is not associated with an image. Unassociated image layers may be cleaned up at any time.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LayerList": {
      "member": {
        "shape": "Layer"
      },
      "type": "list"
    },
    "LayerPartBlob": {
      "max": 20971520,
      "min": 0,
      "type": "blob"
    },
    "LayerPartTooSmallException": {
      "documentation": "<p>Layer parts must be at least 5 MiB in size.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LayerSizeInBytes": {
      "type": "long"
    },
    "LayersNotFoundException": {
      "documentation": "<p>The specified layers could not be found, or the specified layer is not valid for this repository.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyNotFoundException": {
      "documentation": "<p>The lifecycle policy could not be found, and no policy is set to the repository.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyPreviewFilter": {
      "documentation": "<p>The filter for the lifecycle policy preview.</p>",
      "members": {
        "tagStatus": {
          "documentation": "<p>The tag status of the image.</p>",
          "shape": "TagStatus"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyPreviewInProgressException": {
      "documentation": "<p>The previous lifecycle policy preview request has not completed. Please try again later.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyPreviewNotFoundException": {
      "documentation": "<p>There is no dry run for this repository.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyPreviewResult": {
      "documentation": "<p>The result of the lifecycle policy preview.</p>",
      "members": {
        "action": {
          "documentation": "<p>The type of action to be taken.</p>",
          "shape": "LifecyclePolicyRuleAction"
        },
        "appliedRulePriority": {
          "documentation": "<p>The priority of the applied rule.</p>",
          "shape": "LifecyclePolicyRulePriority"
        },
        "imageDigest": {
          "documentation": "<p>The <code>sha256</code> digest of the image manifest.</p>",
          "shape": "ImageDigest"
        },
        "imagePushedAt": {
          "documentation": "<p>The date and time, expressed in standard JavaScript date format, at which the current image was pushed to the repository.</p>",
          "shape": "PushTimestamp"
        },
        "imageTags": {
          "documentation": "<p>The list of tags associated with this image.</p>",
          "shape": "ImageTagList"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyPreviewResultList": {
      "member": {
        "shape": "LifecyclePolicyPreviewResult"
      },
      "type": "list"
    },
    "LifecyclePolicyPreviewStatus": {
      "enum": [
        "IN_PROGRESS",
        "COMPLETE",
        "EXPIRED",
        "FAILED"
      ],
      "type": "string"
    },
    "LifecyclePolicyPreviewSummary": {
      "documentation": "<p>The summary of the lifecycle policy preview request.</p>",
      "members": {
        "expiringImageTotalCount": {
          "documentation": "<p>The number of expiring images.</p>",
          "shape": "ImageCount"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyRuleAction": {
      "documentation": "<p>The type of action to be taken.</p>",
      "members": {
        "type": {
          "documentation": "<p>The type of action to be taken.</p>",
          "shape": "ImageActionType"
        }
      },
      "type": "structure"
    },
    "LifecyclePolicyRulePriority": {
      "min": 1,
      "type": "integer"
    },
    "LifecyclePolicyText": {
      "max": 30720,
      "min": 100,
      "type": "string"
    },
    "LifecyclePreviewMaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "LimitExceededException": {
      "documentation": "<p>The operation did not succeed because it would have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon ECR Default Service Limits</a> in the Amazon Elastic Container Registry User Guide.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ListImagesFilter": {
      "documentation": "<p>An object representing a filter on a <a>ListImages</a> operation.</p>",
      "members": {
        "tagStatus": {
          "documentation": "<p>The tag status with which to filter your <a>ListImages</a> results. You can filter results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.</p>",
          "shape": "TagStatus"
        }
      },
      "type": "structure"
    },
    "ListImagesRequest": {
      "members": {
        "filter": {
          "documentation": "<p>The filter key and value with which to filter your <code>ListImages</code> results.</p>",
          "shape": "ListImagesFilter"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of image results returned by <code>ListImages</code> in paginated output. When this parameter is used, <code>ListImages</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListImages</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 1000. If this parameter is not used, then <code>ListImages</code> returns up to 100 results and a <code>nextToken</code> value, if applicable.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated <code>ListImages</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>",
          "shape": "NextToken"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to list images. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository with image IDs to be listed.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName"
      ],
      "type": "structure"
    },
    "ListImagesResponse": {
      "members": {
        "imageIds": {
          "documentation": "<p>The list of image IDs for the requested repository.</p>",
          "shape": "ImageIdentifierList"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListImages</code> request. When the results of a <code>ListImages</code> request exceed <code>maxResults</code>, this value can be used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the resource for which to list the tags. Currently, the only supported resource is an Amazon ECR repository.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The tags for the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "MediaType": {
      "type": "string"
    },
    "MediaTypeList": {
      "max": 100,
      "member": {
        "shape": "MediaType"
      },
      "min": 1,
      "type": "list"
    },
    "NextToken": {
      "type": "string"
    },
    "PartSize": {
      "min": 0,
      "type": "long"
    },
    "ProxyEndpoint": {
      "type": "string"
    },
    "PushTimestamp": {
      "type": "timestamp"
    },
    "PutImageRequest": {
      "members": {
        "imageManifest": {
          "documentation": "<p>The image manifest corresponding to the image to be uploaded.</p>",
          "shape": "ImageManifest"
        },
        "imageTag": {
          "documentation": "<p>The tag to associate with the image. This parameter is required for images that use the Docker Image Manifest V2 Schema 2 or OCI formats.</p>",
          "shape": "ImageTag"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to put the image. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository in which to put the image.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageManifest"
      ],
      "type": "structure"
    },
    "PutImageResponse": {
      "members": {
        "image": {
          "documentation": "<p>Details of the image uploaded.</p>",
          "shape": "Image"
        }
      },
      "type": "structure"
    },
    "PutImageScanningConfigurationRequest": {
      "members": {
        "imageScanningConfiguration": {
          "documentation": "<p>The image scanning configuration for the repository. This setting determines whether images are scanned for known vulnerabilities after being pushed to the repository.</p>",
          "shape": "ImageScanningConfiguration"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to update the image scanning configuration setting. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository in which to update the image scanning configuration setting.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageScanningConfiguration"
      ],
      "type": "structure"
    },
    "PutImageScanningConfigurationResponse": {
      "members": {
        "imageScanningConfiguration": {
          "documentation": "<p>The image scanning configuration setting for the repository.</p>",
          "shape": "ImageScanningConfiguration"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "PutImageTagMutabilityRequest": {
      "members": {
        "imageTagMutability": {
          "documentation": "<p>The tag mutability setting for the repository. If <code>MUTABLE</code> is specified, image tags can be overwritten. If <code>IMMUTABLE</code> is specified, all image tags within the repository will be immutable which will prevent them from being overwritten.</p>",
          "shape": "ImageTagMutability"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to update the image tag mutability settings. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository in which to update the image tag mutability settings.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageTagMutability"
      ],
      "type": "structure"
    },
    "PutImageTagMutabilityResponse": {
      "members": {
        "imageTagMutability": {
          "documentation": "<p>The image tag mutability setting for the repository.</p>",
          "shape": "ImageTagMutability"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "PutLifecyclePolicyRequest": {
      "members": {
        "lifecyclePolicyText": {
          "documentation": "<p>The JSON repository policy text to apply to the repository.</p>",
          "shape": "LifecyclePolicyText"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository. If you do&#x2028; not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository to receive the policy.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "lifecyclePolicyText"
      ],
      "type": "structure"
    },
    "PutLifecyclePolicyResponse": {
      "members": {
        "lifecyclePolicyText": {
          "documentation": "<p>The JSON repository policy text.</p>",
          "shape": "LifecyclePolicyText"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "RegistryId": {
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "Repository": {
      "documentation": "<p>An object representing a repository.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The date and time, in JavaScript date format, when the repository was created.</p>",
          "shape": "CreationTimestamp"
        },
        "imageScanningConfiguration": {
          "shape": "ImageScanningConfiguration"
        },
        "imageTagMutability": {
          "documentation": "<p>The tag mutability setting for the repository.</p>",
          "shape": "ImageTagMutability"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository.</p>",
          "shape": "RegistryId"
        },
        "repositoryArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the repository. The ARN contains the <code>arn:aws:ecr</code> namespace, followed by the region of the repository, AWS account ID of the repository owner, repository namespace, and repository name. For example, <code>arn:aws:ecr:region:012345678910:repository/test</code>.</p>",
          "shape": "Arn"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository.</p>",
          "shape": "RepositoryName"
        },
        "repositoryUri": {
          "documentation": "<p>The URI for the repository. You can use this URI for Docker <code>push</code> or <code>pull</code> operations.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "RepositoryAlreadyExistsException": {
      "documentation": "<p>The specified repository already exists in the specified registry.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "RepositoryList": {
      "member": {
        "shape": "Repository"
      },
      "type": "list"
    },
    "RepositoryName": {
      "max": 256,
      "min": 2,
      "pattern": "(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*",
      "type": "string"
    },
    "RepositoryNameList": {
      "max": 100,
      "member": {
        "shape": "RepositoryName"
      },
      "min": 1,
      "type": "list"
    },
    "RepositoryNotEmptyException": {
      "documentation": "<p>The specified repository contains images. To delete a repository that contains images, you must force the deletion with the <code>force</code> parameter.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "RepositoryNotFoundException": {
      "documentation": "<p>The specified repository could not be found. Check the spelling of the specified repository and ensure that you are performing operations on the correct registry.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "RepositoryPolicyNotFoundException": {
      "documentation": "<p>The specified repository and registry combination does not have an associated repository policy.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "RepositoryPolicyText": {
      "max": 10240,
      "min": 0,
      "type": "string"
    },
    "ScanNotFoundException": {
      "documentation": "<p>The specified image scan could not be found. Ensure that image scanning is enabled on the repository and try again.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ScanOnPushFlag": {
      "type": "boolean"
    },
    "ScanStatus": {
      "enum": [
        "IN_PROGRESS",
        "COMPLETE",
        "FAILED"
      ],
      "type": "string"
    },
    "ScanStatusDescription": {
      "type": "string"
    },
    "ScanTimestamp": {
      "type": "timestamp"
    },
    "ServerException": {
      "documentation": "<p>These errors are usually caused by a server-side issue.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The error message associated with the exception.</p>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "SetRepositoryPolicyRequest": {
      "members": {
        "force": {
          "documentation": "<p>If the policy you are attempting to set on a repository policy would prevent you from setting another policy in the future, you must force the <a>SetRepositoryPolicy</a> operation. This is intended to prevent accidental repository lock outs.</p>",
          "shape": "ForceFlag"
        },
        "policyText": {
          "documentation": "<p>The JSON repository policy text to apply to the repository. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECR/latest/userguide/RepositoryPolicyExamples.html\">Amazon ECR Repository Policy Examples</a> in the <i>Amazon Elastic Container Registry User Guide</i>.</p>",
          "shape": "RepositoryPolicyText"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository to receive the policy.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "policyText"
      ],
      "type": "structure"
    },
    "SetRepositoryPolicyResponse": {
      "members": {
        "policyText": {
          "documentation": "<p>The JSON repository policy text applied to the repository.</p>",
          "shape": "RepositoryPolicyText"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
      },
      "type": "structure"
    },
    "SeverityCount": {
      "min": 0,
      "type": "integer"
    },
    "StartImageScanRequest": {
      "members": {
        "imageId": {
          "shape": "ImageIdentifier"
        },
        "registryId": {
          "documentation": "<p>The AWS account ID associated with the registry that contains the repository in which to start an image scan request. If you do not specify a registry, the default registry is assumed.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The name of the repository that contains the images to scan.</p>",
          "shape": "RepositoryName"
        }
      },
      "required": [
        "repositoryName",
        "imageId"
      ],
      "type": "structure"
    },
    "StartImageScanResponse": {
      "members": {
        "imageId": {
          "shape": "ImageIdentifier"
        },
        "imageScanStatus": {
          "documentation": "<p>The current state of the scan.</p>",
          "shape": "ImageScanStatus"
        },
        "registryId": {
          "documentation": "<p>The registry ID associated with the request.</p>",
          "shape": "RegistryId"
        },
        "repositoryName": {
          "documentation": "<p>The repository name associated with the request.</p>",
          "shape": "RepositoryName"
        }
[...]
