{
  "documentation": "<fullname>Amazon Relational Database Service</fullname> <p> Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and scale a relational database in the cloud. It provides cost-efficient, resizable capacity for an industry-standard relational database and manages common database administration tasks, freeing up developers to focus on what makes their applications and businesses unique. </p> <p> Amazon RDS gives you access to the capabilities of a MySQL, PostgreSQL, Microsoft SQL Server, or Oracle database server. This means the code, applications, and tools you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS is flexible: you can scale your database instance's compute resources and storage capacity to meet your application's demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for the resources you use. </p> <p> This is an interface reference for Amazon RDS. It contains documentation for a programming or command line interface you can use to manage Amazon RDS. Note that Amazon RDS is asynchronous, which means that some interfaces may require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. For a summary of the Amazon RDS interfaces, go to <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces\">Available RDS Interfaces</a>. </p>",
  "metadata": {
    "apiVersion": "2014-09-01",
    "endpointPrefix": "rds",
    "protocol": "query",
    "serviceAbbreviation": "Amazon RDS",
    "serviceFullName": "Amazon Relational Database Service",
    "serviceId": "RDS",
    "signatureVersion": "v4",
    "xmlNamespace": "http://rds.amazonaws.com/doc/2014-09-01/"
  },
  "operations": {
    "AddSourceIdentifierToSubscription": {
      "documentation": "<p>Adds a source identifier to an existing RDS event notification subscription.</p>",
      "errors": [
        {
          "documentation": "<p>The subscription name does not exist.</p>",
          "error": {
            "code": "SubscriptionNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionNotFoundFault"
        },
        {
          "documentation": "<p>The requested source could not be found.</p>",
          "error": {
            "code": "SourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "AddSourceIdentifierToSubscriptionMessage"
      },
      "name": "AddSourceIdentifierToSubscription",
      "output": {
        "documentation": "<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
        "shape": "AddSourceIdentifierToSubscriptionResult",
        "wrapper": true
      }
    },
    "AddTagsToResource": {
      "documentation": "<p> Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in Condition statement in IAM policy for Amazon RDS.</p> <p>For an overview on tagging Amazon RDS resources, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. </p>",
          "error": {
            "code": "DBSnapshotNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "AddTagsToResourceMessage"
      },
      "name": "AddTagsToResource"
    },
    "AuthorizeDBSecurityGroupIngress": {
      "documentation": "<p> Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC). </p> <note> You cannot authorize ingress from an EC2 security group in one Region to an Amazon RDS DB instance in another. You cannot authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another. </note> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSecurityGroupName</i> does not refer to an existing DB security group. </p>",
          "error": {
            "code": "DBSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p> The state of the DB security group does not allow deletion. </p>",
          "error": {
            "code": "InvalidDBSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "documentation": "<p> The specified CIDRIP or EC2 security group is already authorized for the specified DB security group. </p>",
          "error": {
            "code": "AuthorizationAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "AuthorizationAlreadyExistsFault"
        },
        {
          "documentation": "<p> DB security group authorization quota has been reached. </p>",
          "error": {
            "code": "AuthorizationQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "AuthorizationQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "AuthorizeDBSecurityGroupIngressMessage"
      },
      "name": "AuthorizeDBSecurityGroupIngress",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>DescribeDBSecurityGroups</a></li> <li><a>AuthorizeDBSecurityGroupIngress</a></li> <li><a>CreateDBSecurityGroup</a></li> <li><a>RevokeDBSecurityGroupIngress</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSecurityGroups</a> action.</p>",
        "resultWrapper": "AuthorizeDBSecurityGroupIngressResult",
        "shape": "AuthorizeDBSecurityGroupIngressResult",
        "wrapper": true
      }
    },
    "CopyDBParameterGroup": {
      "documentation": "<p> Copies the specified DB parameter group. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p> A DB parameter group with the same name exists. </p>",
          "error": {
            "code": "DBParameterGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB parameter groups. </p>",
          "error": {
            "code": "DBParameterGroupQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CopyDBParameterGroupMessage"
      },
      "name": "CopyDBParameterGroup",
      "output": {
        "documentation": "<p>Contains the result of a successful invocation of the <a>CreateDBParameterGroup</a> action. </p> <p>This data type is used as a request parameter in the <a>DeleteDBParameterGroup</a> action, and as a response element in the <a>DescribeDBParameterGroups</a> action. </p>",
        "resultWrapper": "CopyDBParameterGroupResult",
        "shape": "CopyDBParameterGroupResult",
        "wrapper": true
      }
    },
    "CopyDBSnapshot": {
      "documentation": "<p> Copies the specified DBSnapshot. The source DBSnapshot must be in the \"available\" state. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> is already used by an existing snapshot. </p>",
          "error": {
            "code": "DBSnapshotAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. </p>",
          "error": {
            "code": "DBSnapshotNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "documentation": "<p> The state of the DB snapshot does not allow deletion. </p>",
          "error": {
            "code": "InvalidDBSnapshotState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSnapshotStateFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB snapshots. </p>",
          "error": {
            "code": "SnapshotQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CopyDBSnapshotMessage"
      },
      "name": "CopyDBSnapshot",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBSnapshot</a></li> <li><a>DeleteDBSnapshot</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSnapshots</a> action.</p>",
        "resultWrapper": "CopyDBSnapshotResult",
        "shape": "CopyDBSnapshotResult",
        "wrapper": true
      }
    },
    "CopyOptionGroup": {
      "documentation": "<p>Copies the specified option group. </p>",
      "errors": [
        {
          "documentation": "<p> The option group you are trying to create already exists. </p>",
          "error": {
            "code": "OptionGroupAlreadyExistsFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "documentation": "<p> The quota of 20 option groups was exceeded for this AWS account. </p>",
          "error": {
            "code": "OptionGroupQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CopyOptionGroupMessage"
      },
      "name": "CopyOptionGroup",
      "output": {
        "documentation": "<p> </p>",
        "resultWrapper": "CopyOptionGroupResult",
        "shape": "CopyOptionGroupResult",
        "wrapper": true
      }
    },
    "CreateDBInstance": {
      "documentation": "<p> Creates a new DB instance. </p>",
      "errors": [
        {
          "documentation": "<p> User already has a DB instance with the given identifier. </p>",
          "error": {
            "code": "DBInstanceAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "documentation": "<p> Specified DB instance class is not available in the specified Availability Zone. </p>",
          "error": {
            "code": "InsufficientDBInstanceCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBSecurityGroupName</i> does not refer to an existing DB security group. </p>",
          "error": {
            "code": "DBSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB instances. </p>",
          "error": {
            "code": "InstanceQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InstanceQuotaExceededFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed amount of storage available across all DB instances. </p>",
          "error": {
            "code": "StorageQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "StorageQuotaExceededFault"
        },
        {
          "documentation": "<p> <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group. </p>",
          "error": {
            "code": "DBSubnetGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "documentation": "<p> Subnets in the DB subnet group should cover at least two Availability Zones unless there is only one Availability Zone. </p>",
          "error": {
            "code": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "documentation": "<p> The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. </p>",
          "error": {
            "code": "InvalidSubnet",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSubnet"
        },
        {
          "documentation": "<p> DB subnet group does not cover all Availability Zones after it is created because users' change. </p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p> Provisioned IOPS not available in the specified Availability Zone. </p>",
          "error": {
            "code": "ProvisionedIopsNotAvailableInAZFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "documentation": "<p> <i>StorageType</i> specified cannot be associated with the DB Instance. </p>",
          "error": {
            "code": "StorageTypeNotSupported",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "StorageTypeNotSupportedFault"
        },
        {
          "documentation": "<p> Specified CIDRIP or EC2 security group is not authorized for the specified DB security group. </p> <p>RDS may not also be authorized via IAM to perform necessary actions on your behalf.</p>",
          "error": {
            "code": "AuthorizationNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "AuthorizationNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CreateDBInstanceMessage"
      },
      "name": "CreateDBInstance",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBInstance</a></li> <li><a>DeleteDBInstance</a></li> <li><a>ModifyDBInstance</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper": "CreateDBInstanceResult",
        "shape": "CreateDBInstanceResult",
        "wrapper": true
      }
    },
    "CreateDBInstanceReadReplica": {
      "documentation": "<p> Creates a DB instance that acts as a Read Replica of a source DB instance. </p> <p> All Read Replica DB instances are created as Single-AZ deployments with backups disabled. All other DB instance attributes (including DB security groups and DB parameter groups) are inherited from the source DB instance, except as specified below. </p> <important> <p> The source DB instance must have backup retention enabled. </p> </important>",
      "errors": [
        {
          "documentation": "<p> User already has a DB instance with the given identifier. </p>",
          "error": {
            "code": "DBInstanceAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "documentation": "<p> Specified DB instance class is not available in the specified Availability Zone. </p>",
          "error": {
            "code": "InsufficientDBInstanceCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBSecurityGroupName</i> does not refer to an existing DB security group. </p>",
          "error": {
            "code": "DBSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB instances. </p>",
          "error": {
            "code": "InstanceQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InstanceQuotaExceededFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed amount of storage available across all DB instances. </p>",
          "error": {
            "code": "StorageQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "StorageQuotaExceededFault"
        },
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> The specified DB instance is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBInstanceState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "documentation": "<p> <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group. </p>",
          "error": {
            "code": "DBSubnetGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "documentation": "<p> Subnets in the DB subnet group should cover at least two Availability Zones unless there is only one Availability Zone. </p>",
          "error": {
            "code": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "documentation": "<p> The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. </p>",
          "error": {
            "code": "InvalidSubnet",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSubnet"
        },
        {
          "documentation": "<p> DB subnet group does not cover all Availability Zones after it is created because users' change. </p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p> Provisioned IOPS not available in the specified Availability Zone. </p>",
          "error": {
            "code": "ProvisionedIopsNotAvailableInAZFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "documentation": "<p> Indicates that the DBSubnetGroup should not be specified while creating read replicas that lie in the same region as the source instance. </p>",
          "error": {
            "code": "DBSubnetGroupNotAllowedFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupNotAllowedFault"
        },
        {
          "documentation": "<p> Indicates the DBSubnetGroup does not belong to the same VPC as that of an existing cross region read replica of the same source instance. </p>",
          "error": {
            "code": "InvalidDBSubnetGroupFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSubnetGroupFault"
        },
        {
          "documentation": "<p> <i>StorageType</i> specified cannot be associated with the DB Instance. </p>",
          "error": {
            "code": "StorageTypeNotSupported",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "StorageTypeNotSupportedFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceReadReplicaMessage"
      },
      "name": "CreateDBInstanceReadReplica",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBInstance</a></li> <li><a>DeleteDBInstance</a></li> <li><a>ModifyDBInstance</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper": "CreateDBInstanceReadReplicaResult",
        "shape": "CreateDBInstanceReadReplicaResult",
        "wrapper": true
      }
    },
    "CreateDBParameterGroup": {
      "documentation": "<p> Creates a new DB parameter group. </p> <p> A DB parameter group is initially created with the default parameters for the database engine used by the DB instance. To provide custom values for any of the parameters, you must modify the group after creating it using <i>ModifyDBParameterGroup</i>. Once you've created a DB parameter group, you need to associate it with your DB instance using <i>ModifyDBInstance</i>. When you associate a new DB parameter group with a running DB instance, you need to reboot the DB instance without failover for the new DB parameter group and associated settings to take effect. </p> <important> <p>After you create a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>",
      "errors": [
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB parameter groups. </p>",
          "error": {
            "code": "DBParameterGroupQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupQuotaExceededFault"
        },
        {
          "documentation": "<p> A DB parameter group with the same name exists. </p>",
          "error": {
            "code": "DBParameterGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CreateDBParameterGroupMessage"
      },
      "name": "CreateDBParameterGroup",
      "output": {
        "documentation": "<p>Contains the result of a successful invocation of the <a>CreateDBParameterGroup</a> action. </p> <p>This data type is used as a request parameter in the <a>DeleteDBParameterGroup</a> action, and as a response element in the <a>DescribeDBParameterGroups</a> action. </p>",
        "resultWrapper": "CreateDBParameterGroupResult",
        "shape": "CreateDBParameterGroupResult",
        "wrapper": true
      }
    },
    "CreateDBSecurityGroup": {
      "documentation": "<p> Creates a new DB security group. DB security groups control access to a DB instance. </p>",
      "errors": [
        {
          "documentation": "<p> A DB security group with the name specified in <i>DBSecurityGroupName</i> already exists. </p>",
          "error": {
            "code": "DBSecurityGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB security groups. </p>",
          "error": {
            "code": "QuotaExceeded.DBSecurityGroup",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupQuotaExceededFault"
        },
        {
          "documentation": "<p> A DB security group is not allowed for this action. </p>",
          "error": {
            "code": "DBSecurityGroupNotSupported",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotSupportedFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CreateDBSecurityGroupMessage"
      },
      "name": "CreateDBSecurityGroup",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>DescribeDBSecurityGroups</a></li> <li><a>AuthorizeDBSecurityGroupIngress</a></li> <li><a>CreateDBSecurityGroup</a></li> <li><a>RevokeDBSecurityGroupIngress</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSecurityGroups</a> action.</p>",
        "resultWrapper": "CreateDBSecurityGroupResult",
        "shape": "CreateDBSecurityGroupResult",
        "wrapper": true
      }
    },
    "CreateDBSnapshot": {
      "documentation": "<p> Creates a DBSnapshot. The source DBInstance must be in \"available\" state. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> is already used by an existing snapshot. </p>",
          "error": {
            "code": "DBSnapshotAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p> The specified DB instance is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBInstanceState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB snapshots. </p>",
          "error": {
            "code": "SnapshotQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CreateDBSnapshotMessage"
      },
      "name": "CreateDBSnapshot",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBSnapshot</a></li> <li><a>DeleteDBSnapshot</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSnapshots</a> action.</p>",
        "resultWrapper": "CreateDBSnapshotResult",
        "shape": "CreateDBSnapshotResult",
        "wrapper": true
      }
    },
    "CreateDBSubnetGroup": {
      "documentation": "<p> Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the region. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSubnetGroupName</i> is already used by an existing DB subnet group. </p>",
          "error": {
            "code": "DBSubnetGroupAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB subnet groups. </p>",
          "error": {
            "code": "DBSubnetGroupQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupQuotaExceededFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of subnets in a DB subnet groups. </p>",
          "error": {
            "code": "DBSubnetQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetQuotaExceededFault"
        },
        {
          "documentation": "<p> Subnets in the DB subnet group should cover at least two Availability Zones unless there is only one Availability Zone. </p>",
          "error": {
            "code": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "documentation": "<p> The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. </p>",
          "error": {
            "code": "InvalidSubnet",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "CreateDBSubnetGroupMessage"
      },
      "name": "CreateDBSubnetGroup",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBSubnetGroup</a></li> <li><a>ModifyDBSubnetGroup</a></li> <li><a>DescribeDBSubnetGroups</a></li> <li><a>DeleteDBSubnetGroup</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSubnetGroups</a> action.</p>",
        "resultWrapper": "CreateDBSubnetGroupResult",
        "shape": "CreateDBSubnetGroupResult",
        "wrapper": true
      }
    },
    "CreateEventSubscription": {
      "documentation": "<p>Creates an RDS event notification subscription. This action requires a topic ARN (Amazon Resource Name) created by either the RDS console, the SNS console, or the SNS API. To obtain an ARN with SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the type of source (SourceType) you want to be notified of, provide a list of RDS sources (SourceIds) that triggers the events, and provide a list of event categories (EventCategories) for events you want to be notified of. For example, you can specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and EventCategories = Availability, Backup.</p> <p>If you specify both the SourceType and SourceIds, such as SourceType = db-instance and SourceIdentifier = myDBInstance1, you will be notified of all the db-instance events for the specified source. If you specify a SourceType but do not specify a SourceIdentifier, you will receive notice of the events for that source type for all your RDS sources. If you do not specify either the SourceType nor the SourceIdentifier, you will be notified of events generated from all RDS sources belonging to your customer account.</p>",
      "errors": [
        {
          "documentation": "<p>You have reached the maximum number of event subscriptions.</p>",
          "error": {
            "code": "EventSubscriptionQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "EventSubscriptionQuotaExceededFault"
        },
        {
          "documentation": "<p>The supplied subscription name already exists.</p>",
          "error": {
            "code": "SubscriptionAlreadyExist",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionAlreadyExistFault"
        },
        {
          "documentation": "<p>SNS has responded that there is a problem with the SND topic specified.</p>",
          "error": {
            "code": "SNSInvalidTopic",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SNSInvalidTopicFault"
        },
        {
          "documentation": "<p>You do not have permission to publish to the SNS topic ARN.</p>",
          "error": {
            "code": "SNSNoAuthorization",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SNSNoAuthorizationFault"
        },
        {
          "documentation": "<p>The SNS topic ARN does not exist.</p>",
          "error": {
            "code": "SNSTopicArnNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SNSTopicArnNotFoundFault"
        },
        {
          "documentation": "<p>The supplied category does not exist.</p>",
          "error": {
            "code": "SubscriptionCategoryNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionCategoryNotFoundFault"
        },
        {
          "documentation": "<p>The requested source could not be found.</p>",
          "error": {
            "code": "SourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "CreateEventSubscriptionMessage"
      },
      "name": "CreateEventSubscription",
      "output": {
        "documentation": "<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper": "CreateEventSubscriptionResult",
        "shape": "CreateEventSubscriptionResult",
        "wrapper": true
      }
    },
    "CreateOptionGroup": {
      "documentation": "<p> Creates a new option group. You can create up to 20 option groups. </p>",
      "errors": [
        {
          "documentation": "<p> The option group you are trying to create already exists. </p>",
          "error": {
            "code": "OptionGroupAlreadyExistsFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupAlreadyExistsFault"
        },
        {
          "documentation": "<p> The quota of 20 option groups was exceeded for this AWS account. </p>",
          "error": {
            "code": "OptionGroupQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "CreateOptionGroupMessage"
      },
      "name": "CreateOptionGroup",
      "output": {
        "documentation": "<p> </p>",
        "resultWrapper": "CreateOptionGroupResult",
        "shape": "CreateOptionGroupResult",
        "wrapper": true
      }
    },
    "DeleteDBInstance": {
      "documentation": "<p> The DeleteDBInstance action deletes a previously provisioned DB instance. A successful response from the web service indicates the request was received correctly. When you delete a DB instance, all automated backups for that instance are deleted and cannot be recovered. Manual DB snapshots of the DB instance to be deleted are not deleted. </p> <p> If a final DB snapshot is requested the status of the RDS instance will be \"deleting\" until the DB snapshot is created. The API action <code>DescribeDBInstance</code> is used to monitor the status of this operation. The action cannot be canceled or reverted once submitted. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> The specified DB instance is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBInstanceState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> is already used by an existing snapshot. </p>",
          "error": {
            "code": "DBSnapshotAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of DB snapshots. </p>",
          "error": {
            "code": "SnapshotQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SnapshotQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DeleteDBInstanceMessage"
      },
      "name": "DeleteDBInstance",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBInstance</a></li> <li><a>DeleteDBInstance</a></li> <li><a>ModifyDBInstance</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper": "DeleteDBInstanceResult",
        "shape": "DeleteDBInstanceResult",
        "wrapper": true
      }
    },
    "DeleteDBParameterGroup": {
      "documentation": "<p> Deletes a specified DBParameterGroup. The DBParameterGroup to be deleted cannot be associated with any DB instances. </p> <note> The specified DB parameter group cannot be associated with any DB instances. </note>",
      "errors": [
        {
          "documentation": "<p> The DB parameter group cannot be deleted because it is in use. </p>",
          "error": {
            "code": "InvalidDBParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBParameterGroupStateFault"
        },
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DeleteDBParameterGroupMessage"
      },
      "name": "DeleteDBParameterGroup"
    },
    "DeleteDBSecurityGroup": {
      "documentation": "<p> Deletes a DB security group. </p> <note>The specified DB security group must not be associated with any DB instances.</note>",
      "errors": [
        {
          "documentation": "<p> The state of the DB security group does not allow deletion. </p>",
          "error": {
            "code": "InvalidDBSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "documentation": "<p> <i>DBSecurityGroupName</i> does not refer to an existing DB security group. </p>",
          "error": {
            "code": "DBSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DeleteDBSecurityGroupMessage"
      },
      "name": "DeleteDBSecurityGroup"
    },
    "DeleteDBSnapshot": {
      "documentation": "<p> Deletes a DBSnapshot. If the snapshot is being copied, the copy operation is terminated. </p> <note>The DBSnapshot must be in the <code>available</code> state to be deleted.</note>",
      "errors": [
        {
          "documentation": "<p> The state of the DB snapshot does not allow deletion. </p>",
          "error": {
            "code": "InvalidDBSnapshotState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSnapshotStateFault"
        },
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. </p>",
          "error": {
            "code": "DBSnapshotNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DeleteDBSnapshotMessage"
      },
      "name": "DeleteDBSnapshot",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBSnapshot</a></li> <li><a>DeleteDBSnapshot</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSnapshots</a> action.</p>",
        "resultWrapper": "DeleteDBSnapshotResult",
        "shape": "DeleteDBSnapshotResult",
        "wrapper": true
      }
    },
    "DeleteDBSubnetGroup": {
      "documentation": "<p> Deletes a DB subnet group. </p> <note>The specified database subnet group must not be associated with any DB instances.</note>",
      "errors": [
        {
          "documentation": "<p> The DB subnet group cannot be deleted because it is in use. </p>",
          "error": {
            "code": "InvalidDBSubnetGroupStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "documentation": "<p> The DB subnet is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBSubnetStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSubnetStateFault"
        },
        {
          "documentation": "<p> <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group. </p>",
          "error": {
            "code": "DBSubnetGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DeleteDBSubnetGroupMessage"
      },
      "name": "DeleteDBSubnetGroup"
    },
    "DeleteEventSubscription": {
      "documentation": "<p>Deletes an RDS event notification subscription.</p>",
      "errors": [
        {
          "documentation": "<p>The subscription name does not exist.</p>",
          "error": {
            "code": "SubscriptionNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionNotFoundFault"
        },
        {
          "documentation": "<p>This error can occur if someone else is modifying a subscription. You should retry the action.</p>",
          "error": {
            "code": "InvalidEventSubscriptionState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidEventSubscriptionStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "DeleteEventSubscriptionMessage"
      },
      "name": "DeleteEventSubscription",
      "output": {
        "documentation": "<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper": "DeleteEventSubscriptionResult",
        "shape": "DeleteEventSubscriptionResult",
        "wrapper": true
      }
    },
    "DeleteOptionGroup": {
      "documentation": "<p> Deletes an existing option group. </p>",
      "errors": [
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "documentation": "<p> The option group is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidOptionGroupStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidOptionGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DeleteOptionGroupMessage"
      },
      "name": "DeleteOptionGroup"
    },
    "DescribeDBEngineVersions": {
      "documentation": "<p> Returns a list of the available DB engines. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBEngineVersionsMessage"
      },
      "name": "DescribeDBEngineVersions",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBEngineVersions</a> action. </p>",
        "resultWrapper": "DescribeDBEngineVersionsResult",
        "shape": "DBEngineVersionMessage"
      }
    },
    "DescribeDBInstances": {
      "documentation": "<p> Returns information about provisioned RDS instances. This API supports pagination. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeDBInstancesMessage"
      },
      "name": "DescribeDBInstances",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBInstances</a> action. </p>",
        "resultWrapper": "DescribeDBInstancesResult",
        "shape": "DBInstanceMessage"
      }
    },
    "DescribeDBLogFiles": {
      "documentation": "<p> Returns a list of DB log files for the DB instance. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeDBLogFilesMessage"
      },
      "name": "DescribeDBLogFiles",
      "output": {
        "documentation": "<p> The response from a call to <a>DescribeDBLogFiles</a>. </p>",
        "resultWrapper": "DescribeDBLogFilesResult",
        "shape": "DescribeDBLogFilesResponse"
      }
    },
    "DescribeDBParameterGroups": {
      "documentation": "<p> Returns a list of <code>DBParameterGroup</code> descriptions. If a <code>DBParameterGroupName</code> is specified, the list will contain only the description of the specified DB parameter group. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeDBParameterGroupsMessage"
      },
      "name": "DescribeDBParameterGroups",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBParameterGroups</a> action. </p>",
        "resultWrapper": "DescribeDBParameterGroupsResult",
        "shape": "DBParameterGroupsMessage"
      }
    },
    "DescribeDBParameters": {
      "documentation": "<p> Returns the detailed parameter list for a particular DB parameter group. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParametersMessage"
      },
      "name": "DescribeDBParameters",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBParameters</a> action. </p>",
        "resultWrapper": "DescribeDBParametersResult",
        "shape": "DBParameterGroupDetails"
      }
    },
    "DescribeDBSecurityGroups": {
      "documentation": "<p> Returns a list of <code>DBSecurityGroup</code> descriptions. If a <code>DBSecurityGroupName</code> is specified, the list will contain only the descriptions of the specified DB security group. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSecurityGroupName</i> does not refer to an existing DB security group. </p>",
          "error": {
            "code": "DBSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeDBSecurityGroupsMessage"
      },
      "name": "DescribeDBSecurityGroups",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBSecurityGroups</a> action. </p>",
        "resultWrapper": "DescribeDBSecurityGroupsResult",
        "shape": "DBSecurityGroupMessage"
      }
    },
    "DescribeDBSnapshots": {
      "documentation": "<p> Returns information about DB snapshots. This API supports pagination. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. </p>",
          "error": {
            "code": "DBSnapshotNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeDBSnapshotsMessage"
      },
      "name": "DescribeDBSnapshots",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBSnapshots</a> action. </p>",
        "resultWrapper": "DescribeDBSnapshotsResult",
        "shape": "DBSnapshotMessage"
      }
    },
    "DescribeDBSubnetGroups": {
      "documentation": "<p> Returns a list of DBSubnetGroup descriptions. If a DBSubnetGroupName is specified, the list will contain only the descriptions of the specified DBSubnetGroup. </p> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group. </p>",
          "error": {
            "code": "DBSubnetGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeDBSubnetGroupsMessage"
      },
      "name": "DescribeDBSubnetGroups",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeDBSubnetGroups</a> action. </p>",
        "resultWrapper": "DescribeDBSubnetGroupsResult",
        "shape": "DBSubnetGroupMessage"
      }
    },
    "DescribeEngineDefaultParameters": {
      "documentation": "<p> Returns the default engine and system parameter information for the specified database engine. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeEngineDefaultParametersMessage"
      },
      "name": "DescribeEngineDefaultParameters",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeEngineDefaultParameters</a> action. </p>",
        "resultWrapper": "DescribeEngineDefaultParametersResult",
        "shape": "DescribeEngineDefaultParametersResult",
        "wrapper": true
      }
    },
    "DescribeEventCategories": {
      "documentation": "<p>Displays a list of categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in the <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\"> Events</a> topic in the Amazon RDS User Guide.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "DescribeEventCategoriesMessage"
      },
      "name": "DescribeEventCategories",
      "output": {
        "documentation": "<p>Data returned from the <b>DescribeEventCategories</b> action.</p>",
        "resultWrapper": "DescribeEventCategoriesResult",
        "shape": "EventCategoriesMessage"
      }
    },
    "DescribeEventSubscriptions": {
      "documentation": "<p>Lists all the subscription descriptions for a customer account. The description for a subscription includes SubscriptionName, SNSTopicARN, CustomerID, SourceType, SourceID, CreationTime, and Status. </p> <p>If you specify a SubscriptionName, lists the description for that subscription.</p>",
      "errors": [
        {
          "documentation": "<p>The subscription name does not exist.</p>",
          "error": {
            "code": "SubscriptionNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "DescribeEventSubscriptionsMessage"
      },
      "name": "DescribeEventSubscriptions",
      "output": {
        "documentation": "<p>Data returned by the <b>DescribeEventSubscriptions</b> action.</p>",
        "resultWrapper": "DescribeEventSubscriptionsResult",
        "shape": "EventSubscriptionsMessage"
      }
    },
    "DescribeEvents": {
      "documentation": "<p> Returns events related to DB instances, DB security groups, DB snapshots, and DB parameter groups for the past 14 days. Events specific to a particular DB instance, DB security group, database snapshot, or DB parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeEvents</a> action. </p>",
        "resultWrapper": "DescribeEventsResult",
        "shape": "EventsMessage"
      }
    },
    "DescribeOptionGroupOptions": {
      "documentation": "<p> Describes all available options. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeOptionGroupOptionsMessage"
      },
      "name": "DescribeOptionGroupOptions",
      "output": {
        "documentation": "<p> </p>",
        "resultWrapper": "DescribeOptionGroupOptionsResult",
        "shape": "OptionGroupOptionsMessage"
      }
    },
    "DescribeOptionGroups": {
      "documentation": "<p> Describes the available option groups. </p>",
      "errors": [
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeOptionGroupsMessage"
      },
      "name": "DescribeOptionGroups",
      "output": {
        "documentation": "<p> List of option groups. </p>",
        "resultWrapper": "DescribeOptionGroupsResult",
        "shape": "OptionGroups"
      }
    },
    "DescribeOrderableDBInstanceOptions": {
      "documentation": "<p> Returns a list of orderable DB instance options for the specified engine. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeOrderableDBInstanceOptionsMessage"
      },
      "name": "DescribeOrderableDBInstanceOptions",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeOrderableDBInstanceOptions</a> action. </p>",
        "resultWrapper": "DescribeOrderableDBInstanceOptionsResult",
        "shape": "OrderableDBInstanceOptionsMessage"
      }
    },
    "DescribeReservedDBInstances": {
      "documentation": "<p> Returns information about reserved DB instances for this account, or about a specified reserved DB instance. </p>",
      "errors": [
        {
          "documentation": "<p> The specified reserved DB Instance not found. </p>",
          "error": {
            "code": "ReservedDBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedDBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeReservedDBInstancesMessage"
      },
      "name": "DescribeReservedDBInstances",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeReservedDBInstances</a> action. </p>",
        "resultWrapper": "DescribeReservedDBInstancesResult",
        "shape": "ReservedDBInstanceMessage"
      }
    },
    "DescribeReservedDBInstancesOfferings": {
      "documentation": "<p> Lists available reserved DB instance offerings. </p>",
      "errors": [
        {
          "documentation": "<p> Specified offering does not exist. </p>",
          "error": {
            "code": "ReservedDBInstancesOfferingNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedDBInstancesOfferingNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DescribeReservedDBInstancesOfferingsMessage"
      },
      "name": "DescribeReservedDBInstancesOfferings",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>DescribeReservedDBInstancesOfferings</a> action. </p>",
        "resultWrapper": "DescribeReservedDBInstancesOfferingsResult",
        "shape": "ReservedDBInstancesOfferingMessage"
      }
    },
    "DownloadDBLogFilePortion": {
      "documentation": "<p> Downloads all or a portion of the specified log file. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "DownloadDBLogFilePortionMessage"
      },
      "name": "DownloadDBLogFilePortion",
      "output": {
        "documentation": "<p>This data type is used as a response element to <a>DownloadDBLogFilePortion</a>.</p>",
        "resultWrapper": "DownloadDBLogFilePortionResult",
        "shape": "DownloadDBLogFilePortionDetails"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> Lists all tags on an Amazon RDS resource.</p> <p>For an overview on tagging an Amazon RDS resource, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. </p>",
          "error": {
            "code": "DBSnapshotNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "ListTagsForResourceMessage"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "<p></p>",
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "TagListMessage"
      }
    },
    "ModifyDBInstance": {
      "documentation": "<p> Modify settings for a DB instance. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. </p>",
      "errors": [
        {
          "documentation": "<p> The specified DB instance is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBInstanceState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "documentation": "<p> The state of the DB security group does not allow deletion. </p>",
          "error": {
            "code": "InvalidDBSecurityGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "documentation": "<p> User already has a DB instance with the given identifier. </p>",
          "error": {
            "code": "DBInstanceAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBSecurityGroupName</i> does not refer to an existing DB security group. </p>",
          "error": {
            "code": "DBSecurityGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p> Specified DB instance class is not available in the specified Availability Zone. </p>",
          "error": {
            "code": "InsufficientDBInstanceCapacity",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed amount of storage available across all DB instances. </p>",
          "error": {
            "code": "StorageQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "StorageQuotaExceededFault"
        },
        {
          "documentation": "<p> DB subnet group does not cover all Availability Zones after it is created because users' change. </p>",
          "error": {
            "code": "InvalidVPCNetworkStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "documentation": "<p> Provisioned IOPS not available in the specified Availability Zone. </p>",
          "error": {
            "code": "ProvisionedIopsNotAvailableInAZFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "documentation": "<p> The DB upgrade failed because a resource the DB depends on could not be modified. </p>",
          "error": {
            "code": "DBUpgradeDependencyFailure",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBUpgradeDependencyFailureFault"
        },
        {
          "documentation": "<p> <i>StorageType</i> specified cannot be associated with the DB Instance. </p>",
          "error": {
            "code": "StorageTypeNotSupported",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "StorageTypeNotSupportedFault"
        },
        {
          "documentation": "<p> Specified CIDRIP or EC2 security group is not authorized for the specified DB security group. </p> <p>RDS may not also be authorized via IAM to perform necessary actions on your behalf.</p>",
          "error": {
            "code": "AuthorizationNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "AuthorizationNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "ModifyDBInstanceMessage"
      },
      "name": "ModifyDBInstance",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBInstance</a></li> <li><a>DeleteDBInstance</a></li> <li><a>ModifyDBInstance</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper": "ModifyDBInstanceResult",
        "shape": "ModifyDBInstanceResult",
        "wrapper": true
      }
    },
    "ModifyDBParameterGroup": {
      "documentation": "<p> Modifies the parameters of a DB parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request. </p> <note> <p> Changes to dynamic parameters are applied immediately. Changes to static parameters require a reboot without failover to the DB instance associated with the parameter group before the change can take effect. </p> </note> <important> <p>After you modify a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon RDS to fully complete the modify action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>",
      "errors": [
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "documentation": "<p> The DB parameter group cannot be deleted because it is in use. </p>",
          "error": {
            "code": "InvalidDBParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBParameterGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "ModifyDBParameterGroupMessage"
      },
      "name": "ModifyDBParameterGroup",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>ModifyDBParameterGroup</a> or <a>ResetDBParameterGroup</a> action. </p>",
        "resultWrapper": "ModifyDBParameterGroupResult",
        "shape": "DBParameterGroupNameMessage"
      }
    },
    "ModifyDBSubnetGroup": {
      "documentation": "<p> Modifies an existing DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the region. </p>",
      "errors": [
        {
          "documentation": "<p> <i>DBSubnetGroupName</i> does not refer to an existing DB subnet group. </p>",
          "error": {
            "code": "DBSubnetGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "documentation": "<p> Request would result in user exceeding the allowed number of subnets in a DB subnet groups. </p>",
          "error": {
            "code": "DBSubnetQuotaExceededFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetQuotaExceededFault"
        },
        {
          "documentation": "<p> The DB subnet is already in use in the Availability Zone. </p>",
          "error": {
            "code": "SubnetAlreadyInUse",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubnetAlreadyInUse"
        },
        {
          "documentation": "<p> Subnets in the DB subnet group should cover at least two Availability Zones unless there is only one Availability Zone. </p>",
          "error": {
            "code": "DBSubnetGroupDoesNotCoverEnoughAZs",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "documentation": "<p> The requested subnet is invalid, or multiple subnets were requested that are not all in a common VPC. </p>",
          "error": {
            "code": "InvalidSubnet",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "ModifyDBSubnetGroupMessage"
      },
      "name": "ModifyDBSubnetGroup",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBSubnetGroup</a></li> <li><a>ModifyDBSubnetGroup</a></li> <li><a>DescribeDBSubnetGroups</a></li> <li><a>DeleteDBSubnetGroup</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBSubnetGroups</a> action.</p>",
        "resultWrapper": "ModifyDBSubnetGroupResult",
        "shape": "ModifyDBSubnetGroupResult",
        "wrapper": true
      }
    },
    "ModifyEventSubscription": {
      "documentation": "<p>Modifies an existing RDS event notification subscription. Note that you cannot modify the source identifiers using this call; to change source identifiers for a subscription, use the <a>AddSourceIdentifierToSubscription</a> and <a>RemoveSourceIdentifierFromSubscription</a> calls.</p> <p>You can see a list of the event categories for a given SourceType in the <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\">Events</a> topic in the Amazon RDS User Guide or by using the <b>DescribeEventCategories</b> action.</p>",
      "errors": [
        {
          "documentation": "<p>You have reached the maximum number of event subscriptions.</p>",
          "error": {
            "code": "EventSubscriptionQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "EventSubscriptionQuotaExceededFault"
        },
        {
          "documentation": "<p>The subscription name does not exist.</p>",
          "error": {
            "code": "SubscriptionNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionNotFoundFault"
        },
        {
          "documentation": "<p>SNS has responded that there is a problem with the SND topic specified.</p>",
          "error": {
            "code": "SNSInvalidTopic",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SNSInvalidTopicFault"
        },
        {
          "documentation": "<p>You do not have permission to publish to the SNS topic ARN.</p>",
          "error": {
            "code": "SNSNoAuthorization",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "SNSNoAuthorizationFault"
        },
        {
          "documentation": "<p>The SNS topic ARN does not exist.</p>",
          "error": {
            "code": "SNSTopicArnNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SNSTopicArnNotFoundFault"
        },
        {
          "documentation": "<p>The supplied category does not exist.</p>",
          "error": {
            "code": "SubscriptionCategoryNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionCategoryNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "ModifyEventSubscriptionMessage"
      },
      "name": "ModifyEventSubscription",
      "output": {
        "documentation": "<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper": "ModifyEventSubscriptionResult",
        "shape": "ModifyEventSubscriptionResult",
        "wrapper": true
      }
    },
    "ModifyOptionGroup": {
      "documentation": "<p> Modifies an existing option group. </p>",
      "errors": [
        {
          "documentation": "<p> The option group is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidOptionGroupStateFault",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidOptionGroupStateFault"
        },
        {
          "documentation": "<p> The specified option group could not be found. </p>",
          "error": {
            "code": "OptionGroupNotFoundFault",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "OptionGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "ModifyOptionGroupMessage"
      },
      "name": "ModifyOptionGroup",
      "output": {
        "documentation": "<p> </p>",
        "resultWrapper": "ModifyOptionGroupResult",
        "shape": "ModifyOptionGroupResult",
        "wrapper": true
      }
    },
    "PromoteReadReplica": {
      "documentation": "<p> Promotes a Read Replica DB instance to a standalone DB instance. </p> <note><p>We recommend that you enable automated backups on your Read Replica before promoting the Read Replica. This ensures that no backup is taken during the promotion process. Once the instance is promoted to a primary instance, backups are taken based on your backup settings.</p></note>",
      "errors": [
        {
          "documentation": "<p> The specified DB instance is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBInstanceState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "PromoteReadReplicaMessage"
      },
      "name": "PromoteReadReplica",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBInstance</a></li> <li><a>DeleteDBInstance</a></li> <li><a>ModifyDBInstance</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper": "PromoteReadReplicaResult",
        "shape": "PromoteReadReplicaResult",
        "wrapper": true
      }
    },
    "PurchaseReservedDBInstancesOffering": {
      "documentation": "<p> Purchases a reserved DB instance offering. </p>",
      "errors": [
        {
          "documentation": "<p> Specified offering does not exist. </p>",
          "error": {
            "code": "ReservedDBInstancesOfferingNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedDBInstancesOfferingNotFoundFault"
        },
        {
          "documentation": "<p> User already has a reservation with the given identifier. </p>",
          "error": {
            "code": "ReservedDBInstanceAlreadyExists",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedDBInstanceAlreadyExistsFault"
        },
        {
          "documentation": "<p> Request would exceed the user's DB Instance quota. </p>",
          "error": {
            "code": "ReservedDBInstanceQuotaExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ReservedDBInstanceQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "PurchaseReservedDBInstancesOfferingMessage"
      },
      "name": "PurchaseReservedDBInstancesOffering",
      "output": {
        "documentation": "<p> This data type is used as a response element in the <a>DescribeReservedDBInstances</a> and <a>PurchaseReservedDBInstancesOffering</a> actions. </p>",
        "resultWrapper": "PurchaseReservedDBInstancesOfferingResult",
        "shape": "PurchaseReservedDBInstancesOfferingResult",
        "wrapper": true
      }
    },
    "RebootDBInstance": {
      "documentation": "<p> Rebooting a DB instance restarts the database engine service. A reboot also applies to the DB instance any modifications to the associated DB parameter group that were pending. Rebooting a DB instance results in a momentary outage of the instance, during which the DB instance status is set to rebooting. If the RDS instance is configured for MultiAZ, it is possible that the reboot will be conducted through a failover. An Amazon RDS event is created when the reboot is completed. </p> <p> If your DB instance is deployed in multiple Availability Zones, you can force a failover from one AZ to the other during the reboot. You might force a failover to test the availability of your DB instance deployment or to restore operations to the original AZ after a failover occurs. </p> <p> The time required to reboot is a function of the specific database engine's crash recovery process. To improve the reboot time, we recommend that you reduce database activities as much as possible during the reboot process to reduce rollback activity for in-transit transactions. </p>",
      "errors": [
        {
          "documentation": "<p> The specified DB instance is not in the <i>available</i> state. </p>",
          "error": {
            "code": "InvalidDBInstanceState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "RebootDBInstanceMessage"
      },
      "name": "RebootDBInstance",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the following actions: </p> <ul> <li><a>CreateDBInstance</a></li> <li><a>DeleteDBInstance</a></li> <li><a>ModifyDBInstance</a></li> </ul> <p>This data type is used as a response element in the <a>DescribeDBInstances</a> action.</p>",
        "resultWrapper": "RebootDBInstanceResult",
        "shape": "RebootDBInstanceResult",
        "wrapper": true
      }
    },
    "RemoveSourceIdentifierFromSubscription": {
      "documentation": "<p>Removes a source identifier from an existing RDS event notification subscription.</p>",
      "errors": [
        {
          "documentation": "<p>The subscription name does not exist.</p>",
          "error": {
            "code": "SubscriptionNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SubscriptionNotFoundFault"
        },
        {
          "documentation": "<p>The requested source could not be found.</p>",
          "error": {
            "code": "SourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "SourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "RemoveSourceIdentifierFromSubscriptionMessage"
      },
      "name": "RemoveSourceIdentifierFromSubscription",
      "output": {
        "documentation": "<p>Contains the results of a successful invocation of the <a>DescribeEventSubscriptions</a> action.</p>",
        "resultWrapper": "RemoveSourceIdentifierFromSubscriptionResult",
        "shape": "RemoveSourceIdentifierFromSubscriptionResult",
        "wrapper": true
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p> Removes metadata tags from an Amazon RDS resource.</p> <p>For an overview on tagging an Amazon RDS resource, see <a href=\"http://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
      "errors": [
        {
          "documentation": "<p> <i>DBInstanceIdentifier</i> does not refer to an existing DB instance. </p>",
          "error": {
            "code": "DBInstanceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "documentation": "<p> <i>DBSnapshotIdentifier</i> does not refer to an existing DB snapshot. </p>",
          "error": {
            "code": "DBSnapshotNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p></p>",
        "shape": "RemoveTagsFromResourceMessage"
      },
      "name": "RemoveTagsFromResource"
    },
    "ResetDBParameterGroup": {
      "documentation": "<p> Modifies the parameters of a DB parameter group to the engine/system default value. To reset specific parameters submit a list of the following: <code>ParameterName</code> and <code>ApplyMethod</code>. To reset the entire DB parameter group, specify the <code>DBParameterGroup</code> name and <code>ResetAllParameters</code> parameters. When resetting the entire group, dynamic parameters are updated immediately and static parameters are set to <code>pending-reboot</code> to take effect on the next DB instance restart or <code>RebootDBInstance</code> request. </p>",
      "errors": [
        {
          "documentation": "<p> The DB parameter group cannot be deleted because it is in use. </p>",
          "error": {
            "code": "InvalidDBParameterGroupState",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidDBParameterGroupStateFault"
        },
        {
          "documentation": "<p> <i>DBParameterGroupName</i> does not refer to an existing DB parameter group. </p>",
          "error": {
            "code": "DBParameterGroupNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "documentation": "<p> </p>",
        "shape": "ResetDBParameterGroupMessage"
      },
      "name": "ResetDBParameterGroup",
      "output": {
        "documentation": "<p> Contains the result of a successful invocation of the <a>ModifyDBParameterGroup</a> or <a>ResetDBParameterGroup</a> action. </p>",
        "resultWrapper": "ResetDBParameterGroupResult",
        "shape": "DBParameterGroupNameMessage"
      }
    },
    "RestoreDBInstanceFromDBSnapshot": {
      "documentation": "<p>Creates a new DB instance from a DB snapshot. The target database is created from the source database restore point with the same configuration as the original source database, except that the new RDS instance is created with the default security group. </p> <p>If your intent is to replace your original DB instance with the new, restored DB instance, then rename your original DB instance before you call the RestoreDBInstanceFromDBSnapshot action. RDS does not allow two DB instances with the same name. Once you have renamed your original DB instance with a different identifier, then you can pass the original name of the DB instance as the DBInstanceIdentifier in the call to the RestoreDBInstanceFromDBSnapshot action. The result is that you will replace the original DB instance with the DB instance created from the snapshot.</p>",
      "errors": [
        {
          "documentation": "<p> User already has a DB instance with the given identifier. </p>",
          "error": {
            "code": "DBInstanceAlreadyExists",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
[...]
