{
  "documentation": "<fullname>AWS Systems Manager</fullname> <p>AWS Systems Manager is a collection of capabilities that helps you automate management tasks such as collecting system inventory, applying operating system (OS) patches, automating the creation of Amazon Machine Images (AMIs), and configuring operating systems (OSs) and applications at scale. Systems Manager lets you remotely and securely manage the configuration of your managed instances. A <i>managed instance</i> is any Amazon EC2 instance or on-premises machine in your hybrid environment that has been configured for Systems Manager.</p> <p>This reference is intended to be used with the <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/\">AWS Systems Manager User Guide</a>.</p> <p>To get started, verify prerequisites and configure managed instances. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-setting-up.html\">Setting Up AWS Systems Manager</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>For information about other API actions you can perform on Amazon EC2 instances, see the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/\">Amazon EC2 API Reference</a>. For information about how to use a Query API, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/making-api-requests.html\">Making API Requests</a>. </p>",
  "metadata": {
    "apiVersion": "2014-11-06",
    "endpointPrefix": "ssm",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon SSM",
    "serviceFullName": "Amazon Simple Systems Manager (SSM)",
    "serviceId": "SSM",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonSSM",
    "uid": "ssm-2014-11-06"
  },
  "operations": {
    "AddTagsToResource": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified resource. Tags are metadata that you can assign to your documents, managed instances, maintenance windows, Parameter Store parameters, and patch baselines. Tags enable you to categorize your resources in different ways, for example, by purpose, owner, or environment. Each tag consists of a key and an optional value, both of which you define. For example, you could define a set of tags for your account's managed instances that helps you track each instance's owner and stack level. For example: Key=Owner and Value=DbAdmin, SysAdmin, or Dev. Or Key=Stack and Value=Production, Pre-Production, or Test.</p> <p>Each resource can have a maximum of 50 tags. </p> <p>We recommend that you devise a set of tag keys that meets your needs for each resource type. Using a consistent set of tag keys makes it easier for you to manage your resources. You can search and filter the resources based on the tags you add. Tags don't have any semantic meaning to Amazon EC2 and are interpreted strictly as a string of characters. </p> <p>For more information about tags, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html\">Tagging Your Amazon EC2 Resources</a> in the <i>Amazon EC2 User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyTagsError"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceRequest"
      },
      "name": "AddTagsToResource",
      "output": {
        "shape": "AddTagsToResourceResult"
      }
    },
    "CancelCommand": {
      "documentation": "<p>Attempts to cancel the command specified by the Command ID. There is no guarantee that the command will be terminated and the underlying process stopped.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "DuplicateInstanceId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelCommandRequest"
      },
      "name": "CancelCommand",
      "output": {
        "shape": "CancelCommandResult"
      }
    },
    "CancelMaintenanceWindowExecution": {
      "documentation": "<p>Stops a maintenance window execution that is already in progress and cancels any tasks in the window that have not already starting running. (Tasks already in progress will continue to completion.)</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "DoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelMaintenanceWindowExecutionRequest"
      },
      "name": "CancelMaintenanceWindowExecution",
      "output": {
        "shape": "CancelMaintenanceWindowExecutionResult"
      }
    },
    "CreateActivation": {
      "documentation": "<p>Generates an activation code and activation ID you can use to register your on-premises server or virtual machine (VM) with Systems Manager. Registering these machines with Systems Manager makes it possible to manage them using Systems Manager capabilities. You use the activation code and ID when installing SSM Agent on machines in your hybrid environment. For more information about requirements for managing on-premises instances and VMs using Systems Manager, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-managedinstances.html\">Setting Up AWS Systems Manager for Hybrid Environments</a> in the <i>AWS Systems Manager User Guide</i>. </p> <note> <p>On-premises servers or VMs that are registered with Systems Manager and Amazon EC2 instances that you manage with Systems Manager are all called <i>managed instances</i>.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateActivationRequest"
      },
      "name": "CreateActivation",
      "output": {
        "shape": "CreateActivationResult"
      }
    },
    "CreateAssociation": {
      "documentation": "<p>Associates the specified Systems Manager document with the specified instances or targets.</p> <p>When you associate a document with one or more instances using instance IDs or tags, SSM Agent running on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system returns the AssociationAlreadyExists exception.</p>",
      "errors": [
        {
          "shape": "AssociationAlreadyExists"
        },
        {
          "shape": "AssociationLimitExceeded"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "UnsupportedPlatformType"
        },
        {
          "shape": "InvalidOutputLocation"
        },
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "InvalidTarget"
        },
        {
          "shape": "InvalidSchedule"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssociationRequest"
      },
      "name": "CreateAssociation",
      "output": {
        "shape": "CreateAssociationResult"
      }
    },
    "CreateAssociationBatch": {
      "documentation": "<p>Associates the specified Systems Manager document with the specified instances or targets.</p> <p>When you associate a document with one or more instances using instance IDs or tags, SSM Agent running on the instance processes the document and configures the instance as specified.</p> <p>If you associate a document with an instance that already has an associated document, the system returns the AssociationAlreadyExists exception.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "DuplicateInstanceId"
        },
        {
          "shape": "AssociationLimitExceeded"
        },
        {
          "shape": "UnsupportedPlatformType"
        },
        {
          "shape": "InvalidOutputLocation"
        },
        {
          "shape": "InvalidTarget"
        },
        {
          "shape": "InvalidSchedule"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssociationBatchRequest"
      },
      "name": "CreateAssociationBatch",
      "output": {
        "shape": "CreateAssociationBatchResult"
      }
    },
    "CreateDocument": {
      "documentation": "<p>Creates a Systems Manager document.</p> <p>After you create a document, you can use CreateAssociation to associate it with one or more running instances.</p>",
      "errors": [
        {
          "shape": "DocumentAlreadyExists"
        },
        {
          "shape": "MaxDocumentSizeExceeded"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocumentContent"
        },
        {
          "shape": "DocumentLimitExceeded"
        },
        {
          "shape": "InvalidDocumentSchemaVersion"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDocumentRequest"
      },
      "name": "CreateDocument",
      "output": {
        "shape": "CreateDocumentResult"
      }
    },
    "CreateMaintenanceWindow": {
      "documentation": "<p>Creates a new maintenance window.</p> <note> <p>The value you specify for <code>Duration</code> determines the specific end time for the maintenance window based on the time it begins. No maintenance window tasks are permitted to start after the resulting endtime minus the number of hours you specify for <code>Cutoff</code>. For example, if the maintenance window starts at 3 PM, the duration is three hours, and the value you specify for <code>Cutoff</code> is one hour, no maintenance window tasks can start after 5 PM.</p> </note>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMaintenanceWindowRequest"
      },
      "name": "CreateMaintenanceWindow",
      "output": {
        "shape": "CreateMaintenanceWindowResult"
      }
    },
    "CreateOpsItem": {
      "documentation": "<p>Creates a new OpsItem. You must have permission in AWS Identity and Access Management (IAM) to create a new OpsItem. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html\">Getting Started with OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their AWS resources. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html\">AWS Systems Manager OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemAlreadyExistsException"
        },
        {
          "shape": "OpsItemLimitExceededException"
        },
        {
          "shape": "OpsItemInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOpsItemRequest"
      },
      "name": "CreateOpsItem",
      "output": {
        "shape": "CreateOpsItemResponse"
      }
    },
    "CreatePatchBaseline": {
      "documentation": "<p>Creates a patch baseline.</p> <note> <p>For information about valid key and value pairs in <code>PatchFilters</code> for each supported operating system type, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/APIReference/API_PatchFilter.html\">PatchFilter</a>.</p> </note>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePatchBaselineRequest"
      },
      "name": "CreatePatchBaseline",
      "output": {
        "shape": "CreatePatchBaselineResult"
      }
    },
    "CreateResourceDataSync": {
      "documentation": "<p>A resource data sync helps you view data from multiple sources in a single location. Systems Manager offers two types of resource data sync: <code>SyncToDestination</code> and <code>SyncFromSource</code>.</p> <p>You can configure Systems Manager Inventory to use the <code>SyncToDestination</code> type to synchronize Inventory data from multiple AWS Regions to a single Amazon S3 bucket. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-inventory-datasync.html\">Configuring Resource Data Sync for Inventory</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>You can configure Systems Manager Explorer to use the <code>SyncFromSource</code> type to synchronize operational work items (OpsItems) and operational data (OpsData) from multiple AWS Regions to a single Amazon S3 bucket. This type can synchronize OpsItems and OpsData from multiple AWS accounts and Regions or <code>EntireOrganization</code> by using AWS Organizations. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/Explorer-resource-data-sync.html\">Setting Up Explorer to Display Data from Multiple Accounts and Regions</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>A resource data sync is an asynchronous operation that returns immediately. After a successful initial sync is completed, the system continuously syncs data. To check the status of a sync, use the <a>ListResourceDataSync</a>.</p> <note> <p>By default, data is not encrypted in Amazon S3. We strongly recommend that you enable encryption in Amazon S3 to ensure secure data storage. We also recommend that you secure access to the Amazon S3 bucket by creating a restrictive bucket policy. </p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceDataSyncCountExceededException"
        },
        {
          "shape": "ResourceDataSyncAlreadyExistsException"
        },
        {
          "shape": "ResourceDataSyncInvalidConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceDataSyncRequest"
      },
      "name": "CreateResourceDataSync",
      "output": {
        "shape": "CreateResourceDataSyncResult"
      }
    },
    "DeleteActivation": {
      "documentation": "<p>Deletes an activation. You are not required to delete an activation. If you delete an activation, you can no longer use it to register additional managed instances. Deleting an activation does not de-register managed instances. You must manually de-register managed instances.</p>",
      "errors": [
        {
          "shape": "InvalidActivationId"
        },
        {
          "shape": "InvalidActivation"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteActivationRequest"
      },
      "name": "DeleteActivation",
      "output": {
        "shape": "DeleteActivationResult"
      }
    },
    "DeleteAssociation": {
      "documentation": "<p>Disassociates the specified Systems Manager document from the specified instance.</p> <p>When you disassociate a document from an instance, it does not change the configuration of the instance. To change the configuration state of an instance after you disassociate a document, you must create a new document with the desired configuration and associate it with the instance.</p>",
      "errors": [
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssociationRequest"
      },
      "name": "DeleteAssociation",
      "output": {
        "shape": "DeleteAssociationResult"
      }
    },
    "DeleteDocument": {
      "documentation": "<p>Deletes the Systems Manager document and all instance associations to the document.</p> <p>Before you delete the document, we recommend that you use <a>DeleteAssociation</a> to disassociate all instances that are associated with the document.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentOperation"
        },
        {
          "shape": "AssociatedInstances"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDocumentRequest"
      },
      "name": "DeleteDocument",
      "output": {
        "shape": "DeleteDocumentResult"
      }
    },
    "DeleteInventory": {
      "documentation": "<p>Delete a custom inventory type, or the data associated with a custom Inventory type. Deleting a custom inventory type is also referred to as deleting a custom inventory schema.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidOptionException"
        },
        {
          "shape": "InvalidDeleteInventoryParametersException"
        },
        {
          "shape": "InvalidInventoryRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInventoryRequest"
      },
      "name": "DeleteInventory",
      "output": {
        "shape": "DeleteInventoryResult"
      }
    },
    "DeleteMaintenanceWindow": {
      "documentation": "<p>Deletes a maintenance window.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMaintenanceWindowRequest"
      },
      "name": "DeleteMaintenanceWindow",
      "output": {
        "shape": "DeleteMaintenanceWindowResult"
      }
    },
    "DeleteParameter": {
      "documentation": "<p>Delete a parameter from the system.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ParameterNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteParameterRequest"
      },
      "name": "DeleteParameter",
      "output": {
        "shape": "DeleteParameterResult"
      }
    },
    "DeleteParameters": {
      "documentation": "<p>Delete a list of parameters.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteParametersRequest"
      },
      "name": "DeleteParameters",
      "output": {
        "shape": "DeleteParametersResult"
      }
    },
    "DeletePatchBaseline": {
      "documentation": "<p>Deletes a patch baseline.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePatchBaselineRequest"
      },
      "name": "DeletePatchBaseline",
      "output": {
        "shape": "DeletePatchBaselineResult"
      }
    },
    "DeleteResourceDataSync": {
      "documentation": "<p>Deletes a Resource Data Sync configuration. After the configuration is deleted, changes to data on managed instances are no longer synced to or from the target. Deleting a sync configuration does not delete data.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceDataSyncNotFoundException"
        },
        {
          "shape": "ResourceDataSyncInvalidConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceDataSyncRequest"
      },
      "name": "DeleteResourceDataSync",
      "output": {
        "shape": "DeleteResourceDataSyncResult"
      }
    },
    "DeregisterManagedInstance": {
      "documentation": "<p>Removes the server or virtual machine from the list of registered servers. You can reregister the instance again at any time. If you don't plan to use Run Command on the server, we suggest uninstalling SSM Agent first.</p>",
      "errors": [
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterManagedInstanceRequest"
      },
      "name": "DeregisterManagedInstance",
      "output": {
        "shape": "DeregisterManagedInstanceResult"
      }
    },
    "DeregisterPatchBaselineForPatchGroup": {
      "documentation": "<p>Removes a patch group from a patch baseline.</p>",
      "errors": [
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterPatchBaselineForPatchGroupRequest"
      },
      "name": "DeregisterPatchBaselineForPatchGroup",
      "output": {
        "shape": "DeregisterPatchBaselineForPatchGroupResult"
      }
    },
    "DeregisterTargetFromMaintenanceWindow": {
      "documentation": "<p>Removes a target from a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TargetInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTargetFromMaintenanceWindowRequest"
      },
      "name": "DeregisterTargetFromMaintenanceWindow",
      "output": {
        "shape": "DeregisterTargetFromMaintenanceWindowResult"
      }
    },
    "DeregisterTaskFromMaintenanceWindow": {
      "documentation": "<p>Removes a task from a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTaskFromMaintenanceWindowRequest"
      },
      "name": "DeregisterTaskFromMaintenanceWindow",
      "output": {
        "shape": "DeregisterTaskFromMaintenanceWindowResult"
      }
    },
    "DescribeActivations": {
      "documentation": "<p>Describes details about the activation, such as the date and time the activation was created, its expiration date, the IAM role assigned to the instances in the activation, and the number of instances registered by using this activation.</p>",
      "errors": [
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeActivationsRequest"
      },
      "name": "DescribeActivations",
      "output": {
        "shape": "DescribeActivationsResult"
      }
    },
    "DescribeAssociation": {
      "documentation": "<p>Describes the association for the specified target or instance. If you created the association by using the <code>Targets</code> parameter, then you must retrieve the association by using the association ID. If you created the association by specifying an instance ID and a Systems Manager document, then you retrieve the association by specifying the document name and the instance ID. </p>",
      "errors": [
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidAssociationVersion"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidInstanceId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssociationRequest"
      },
      "name": "DescribeAssociation",
      "output": {
        "shape": "DescribeAssociationResult"
      }
    },
    "DescribeAssociationExecutionTargets": {
      "documentation": "<p>Use this API action to view information about a specific execution of a specific association.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "AssociationExecutionDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssociationExecutionTargetsRequest"
      },
      "name": "DescribeAssociationExecutionTargets",
      "output": {
        "shape": "DescribeAssociationExecutionTargetsResult"
      }
    },
    "DescribeAssociationExecutions": {
      "documentation": "<p>Use this API action to view all executions for a specific association ID. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssociationExecutionsRequest"
      },
      "name": "DescribeAssociationExecutions",
      "output": {
        "shape": "DescribeAssociationExecutionsResult"
      }
    },
    "DescribeAutomationExecutions": {
      "documentation": "<p>Provides details about all active and terminated Automation executions.</p>",
      "errors": [
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutomationExecutionsRequest"
      },
      "name": "DescribeAutomationExecutions",
      "output": {
        "shape": "DescribeAutomationExecutionsResult"
      }
    },
    "DescribeAutomationStepExecutions": {
      "documentation": "<p>Information about all active and terminated step executions in an Automation workflow.</p>",
      "errors": [
        {
          "shape": "AutomationExecutionNotFoundException"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutomationStepExecutionsRequest"
      },
      "name": "DescribeAutomationStepExecutions",
      "output": {
        "shape": "DescribeAutomationStepExecutionsResult"
      }
    },
    "DescribeAvailablePatches": {
      "documentation": "<p>Lists all patches eligible to be included in a patch baseline.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAvailablePatchesRequest"
      },
      "name": "DescribeAvailablePatches",
      "output": {
        "shape": "DescribeAvailablePatchesResult"
      }
    },
    "DescribeDocument": {
      "documentation": "<p>Describes the specified Systems Manager document.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentRequest"
      },
      "name": "DescribeDocument",
      "output": {
        "shape": "DescribeDocumentResult"
      }
    },
    "DescribeDocumentPermission": {
      "documentation": "<p>Describes the permissions for a Systems Manager document. If you created the document, you are the owner. If a document is shared, it can either be shared privately (by specifying a user's AWS account ID) or publicly (<i>All</i>). </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidPermissionType"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentPermissionRequest"
      },
      "name": "DescribeDocumentPermission",
      "output": {
        "shape": "DescribeDocumentPermissionResponse"
      }
    },
    "DescribeEffectiveInstanceAssociations": {
      "documentation": "<p>All associations for the instance(s).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEffectiveInstanceAssociationsRequest"
      },
      "name": "DescribeEffectiveInstanceAssociations",
      "output": {
        "shape": "DescribeEffectiveInstanceAssociationsResult"
      }
    },
    "DescribeEffectivePatchesForPatchBaseline": {
      "documentation": "<p>Retrieves the current effective patches (the patch and the approval state) for the specified patch baseline. Note that this API applies only to Windows patch baselines.</p>",
      "errors": [
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "UnsupportedOperatingSystem"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEffectivePatchesForPatchBaselineRequest"
      },
      "name": "DescribeEffectivePatchesForPatchBaseline",
      "output": {
        "shape": "DescribeEffectivePatchesForPatchBaselineResult"
      }
    },
    "DescribeInstanceAssociationsStatus": {
      "documentation": "<p>The status of the associations for the instance(s).</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstanceAssociationsStatusRequest"
      },
      "name": "DescribeInstanceAssociationsStatus",
      "output": {
        "shape": "DescribeInstanceAssociationsStatusResult"
      }
    },
    "DescribeInstanceInformation": {
      "documentation": "<p>Describes one or more of your instances. You can use this to get information about instances like the operating system platform, the SSM Agent version (Linux), status etc. If you specify one or more instance IDs, it returns information for those instances. If you do not specify instance IDs, it returns information for all your instances. If you specify an instance ID that is not valid or an instance that you do not own, you receive an error. </p> <note> <p>The IamRole field for this API action is the Amazon Identity and Access Management (IAM) role assigned to on-premises instances. This call does not return the IAM role for Amazon EC2 instances.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidInstanceInformationFilterValue"
        },
        {
          "shape": "InvalidFilterKey"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstanceInformationRequest"
      },
      "name": "DescribeInstanceInformation",
      "output": {
        "shape": "DescribeInstanceInformationResult"
      }
    },
    "DescribeInstancePatchStates": {
      "documentation": "<p>Retrieves the high-level patch state of one or more instances.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancePatchStatesRequest"
      },
      "name": "DescribeInstancePatchStates",
      "output": {
        "shape": "DescribeInstancePatchStatesResult"
      }
    },
    "DescribeInstancePatchStatesForPatchGroup": {
      "documentation": "<p>Retrieves the high-level patch state for the instances in the specified patch group.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancePatchStatesForPatchGroupRequest"
      },
      "name": "DescribeInstancePatchStatesForPatchGroup",
      "output": {
        "shape": "DescribeInstancePatchStatesForPatchGroupResult"
      }
    },
    "DescribeInstancePatches": {
      "documentation": "<p>Retrieves information about the patches on the specified instance and their state relative to the patch baseline being used for the instance.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstancePatchesRequest"
      },
      "name": "DescribeInstancePatches",
      "output": {
        "shape": "DescribeInstancePatchesResult"
      }
    },
    "DescribeInventoryDeletions": {
      "documentation": "<p>Describes a specific delete inventory operation.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDeletionIdException"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInventoryDeletionsRequest"
      },
      "name": "DescribeInventoryDeletions",
      "output": {
        "shape": "DescribeInventoryDeletionsResult"
      }
    },
    "DescribeMaintenanceWindowExecutionTaskInvocations": {
      "documentation": "<p>Retrieves the individual task executions (one per target) for a particular task run as part of a maintenance window execution.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowExecutionTaskInvocationsRequest"
      },
      "name": "DescribeMaintenanceWindowExecutionTaskInvocations",
      "output": {
        "shape": "DescribeMaintenanceWindowExecutionTaskInvocationsResult"
      }
    },
    "DescribeMaintenanceWindowExecutionTasks": {
      "documentation": "<p>For a given maintenance window execution, lists the tasks that were run.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowExecutionTasksRequest"
      },
      "name": "DescribeMaintenanceWindowExecutionTasks",
      "output": {
        "shape": "DescribeMaintenanceWindowExecutionTasksResult"
      }
    },
    "DescribeMaintenanceWindowExecutions": {
      "documentation": "<p>Lists the executions of a maintenance window. This includes information about when the maintenance window was scheduled to be active, and information about tasks registered and run with the maintenance window.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowExecutionsRequest"
      },
      "name": "DescribeMaintenanceWindowExecutions",
      "output": {
        "shape": "DescribeMaintenanceWindowExecutionsResult"
      }
    },
    "DescribeMaintenanceWindowSchedule": {
      "documentation": "<p>Retrieves information about upcoming executions of a maintenance window.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "DoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowScheduleRequest"
      },
      "name": "DescribeMaintenanceWindowSchedule",
      "output": {
        "shape": "DescribeMaintenanceWindowScheduleResult"
      }
    },
    "DescribeMaintenanceWindowTargets": {
      "documentation": "<p>Lists the targets registered with the maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowTargetsRequest"
      },
      "name": "DescribeMaintenanceWindowTargets",
      "output": {
        "shape": "DescribeMaintenanceWindowTargetsResult"
      }
    },
    "DescribeMaintenanceWindowTasks": {
      "documentation": "<p>Lists the tasks in a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowTasksRequest"
      },
      "name": "DescribeMaintenanceWindowTasks",
      "output": {
        "shape": "DescribeMaintenanceWindowTasksResult"
      }
    },
    "DescribeMaintenanceWindows": {
      "documentation": "<p>Retrieves the maintenance windows in an AWS account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowsRequest"
      },
      "name": "DescribeMaintenanceWindows",
      "output": {
        "shape": "DescribeMaintenanceWindowsResult"
      }
    },
    "DescribeMaintenanceWindowsForTarget": {
      "documentation": "<p>Retrieves information about the maintenance window targets or tasks that an instance is associated with.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeMaintenanceWindowsForTargetRequest"
      },
      "name": "DescribeMaintenanceWindowsForTarget",
      "output": {
        "shape": "DescribeMaintenanceWindowsForTargetResult"
      }
    },
    "DescribeOpsItems": {
      "documentation": "<p>Query a set of OpsItems. You must have permission in AWS Identity and Access Management (IAM) to query a list of OpsItems. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html\">Getting Started with OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their AWS resources. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html\">AWS Systems Manager OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOpsItemsRequest"
      },
      "name": "DescribeOpsItems",
      "output": {
        "shape": "DescribeOpsItemsResponse"
      }
    },
    "DescribeParameters": {
      "documentation": "<p>Get information about a parameter.</p> <note> <p>Request results are returned on a best-effort basis. If you specify <code>MaxResults</code> in the request, the response includes information up to the limit specified. The number of items returned, however, can be between zero and the value of <code>MaxResults</code>. If the service reaches an internal limit while processing the results, it stops the operation and returns the matching values up to that point and a <code>NextToken</code>. You can specify the <code>NextToken</code> in a subsequent call to get the next set of results.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterOption"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeParametersRequest"
      },
      "name": "DescribeParameters",
      "output": {
        "shape": "DescribeParametersResult"
      }
    },
    "DescribePatchBaselines": {
      "documentation": "<p>Lists the patch baselines in your AWS account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchBaselinesRequest"
      },
      "name": "DescribePatchBaselines",
      "output": {
        "shape": "DescribePatchBaselinesResult"
      }
    },
    "DescribePatchGroupState": {
      "documentation": "<p>Returns high-level aggregated patch compliance state for a patch group.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchGroupStateRequest"
      },
      "name": "DescribePatchGroupState",
      "output": {
        "shape": "DescribePatchGroupStateResult"
      }
    },
    "DescribePatchGroups": {
      "documentation": "<p>Lists all patch groups that have been registered with patch baselines.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchGroupsRequest"
      },
      "name": "DescribePatchGroups",
      "output": {
        "shape": "DescribePatchGroupsResult"
      }
    },
    "DescribePatchProperties": {
      "documentation": "<p>Lists the properties of available patches organized by product, product family, classification, severity, and other properties of available patches. You can use the reported properties in the filters you specify in requests for actions such as <a>CreatePatchBaseline</a>, <a>UpdatePatchBaseline</a>, <a>DescribeAvailablePatches</a>, and <a>DescribePatchBaselines</a>.</p> <p>The following section lists the properties that can be used in filters for each major operating system type:</p> <dl> <dt>WINDOWS</dt> <dd> <p>Valid properties: PRODUCT, PRODUCT_FAMILY, CLASSIFICATION, MSRC_SEVERITY</p> </dd> <dt>AMAZON_LINUX</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>AMAZON_LINUX_2</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>UBUNTU </dt> <dd> <p>Valid properties: PRODUCT, PRIORITY</p> </dd> <dt>REDHAT_ENTERPRISE_LINUX</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>SUSE</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> <dt>CENTOS</dt> <dd> <p>Valid properties: PRODUCT, CLASSIFICATION, SEVERITY</p> </dd> </dl>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePatchPropertiesRequest"
      },
      "name": "DescribePatchProperties",
      "output": {
        "shape": "DescribePatchPropertiesResult"
      }
    },
    "DescribeSessions": {
      "documentation": "<p>Retrieves a list of all active sessions (both connected and disconnected) or terminated sessions from the past 30 days.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSessionsRequest"
      },
      "name": "DescribeSessions",
      "output": {
        "shape": "DescribeSessionsResponse"
      }
    },
    "GetAutomationExecution": {
      "documentation": "<p>Get detailed information about a particular Automation execution.</p>",
      "errors": [
        {
          "shape": "AutomationExecutionNotFoundException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAutomationExecutionRequest"
      },
      "name": "GetAutomationExecution",
      "output": {
        "shape": "GetAutomationExecutionResult"
      }
    },
    "GetCalendarState": {
      "documentation": "<p>Gets the state of the AWS Systems Manager Change Calendar at an optional, specified time. If you specify a time, <code>GetCalendarState</code> returns the state of the calendar at a specific time, and returns the next time that the Change Calendar state will transition. If you do not specify a time, <code>GetCalendarState</code> assumes the current time. Change Calendar entries have two possible states: <code>OPEN</code> or <code>CLOSED</code>. For more information about Systems Manager Change Calendar, see <a href=\"https://docs.aws.amazon.com/systems-manager/latest/userguide/systems-manager-change-calendar.html\">AWS Systems Manager Change Calendar</a> in the <i>AWS Systems Manager User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentType"
        },
        {
          "shape": "UnsupportedCalendarException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCalendarStateRequest"
      },
      "name": "GetCalendarState",
      "output": {
        "shape": "GetCalendarStateResponse"
      }
    },
    "GetCommandInvocation": {
      "documentation": "<p>Returns detailed information about command execution for an invocation or plugin. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidPluginName"
        },
        {
          "shape": "InvocationDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCommandInvocationRequest"
      },
      "name": "GetCommandInvocation",
      "output": {
        "shape": "GetCommandInvocationResult"
      }
    },
    "GetConnectionStatus": {
      "documentation": "<p>Retrieves the Session Manager connection status for an instance to determine whether it is connected and ready to receive Session Manager connections.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectionStatusRequest"
      },
      "name": "GetConnectionStatus",
      "output": {
        "shape": "GetConnectionStatusResponse"
      }
    },
    "GetDefaultPatchBaseline": {
      "documentation": "<p>Retrieves the default patch baseline. Note that Systems Manager supports creating multiple default patch baselines. For example, you can create a default patch baseline for each operating system.</p> <p>If you do not specify an operating system value, the default patch baseline for Windows is returned.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDefaultPatchBaselineRequest"
      },
      "name": "GetDefaultPatchBaseline",
      "output": {
        "shape": "GetDefaultPatchBaselineResult"
      }
    },
    "GetDeployablePatchSnapshotForInstance": {
      "documentation": "<p>Retrieves the current snapshot for the patch baseline the instance uses. This API is primarily used by the AWS-RunPatchBaseline Systems Manager document. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "UnsupportedOperatingSystem"
        },
        {
          "shape": "UnsupportedFeatureRequiredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeployablePatchSnapshotForInstanceRequest"
      },
      "name": "GetDeployablePatchSnapshotForInstance",
      "output": {
        "shape": "GetDeployablePatchSnapshotForInstanceResult"
      }
    },
    "GetDocument": {
      "documentation": "<p>Gets the contents of the specified Systems Manager document.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDocumentRequest"
      },
      "name": "GetDocument",
      "output": {
        "shape": "GetDocumentResult"
      }
    },
    "GetInventory": {
      "documentation": "<p>Query inventory information.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidInventoryGroupException"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidAggregatorException"
        },
        {
          "shape": "InvalidResultAttributeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInventoryRequest"
      },
      "name": "GetInventory",
      "output": {
        "shape": "GetInventoryResult"
      }
    },
    "GetInventorySchema": {
      "documentation": "<p>Return a list of inventory type names for the account, or return a list of attribute names for a specific Inventory item type. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInventorySchemaRequest"
      },
      "name": "GetInventorySchema",
      "output": {
        "shape": "GetInventorySchemaResult"
      }
    },
    "GetMaintenanceWindow": {
      "documentation": "<p>Retrieves a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowRequest"
      },
      "name": "GetMaintenanceWindow",
      "output": {
        "shape": "GetMaintenanceWindowResult"
      }
    },
    "GetMaintenanceWindowExecution": {
      "documentation": "<p>Retrieves details about a specific a maintenance window execution.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowExecutionRequest"
      },
      "name": "GetMaintenanceWindowExecution",
      "output": {
        "shape": "GetMaintenanceWindowExecutionResult"
      }
    },
    "GetMaintenanceWindowExecutionTask": {
      "documentation": "<p>Retrieves the details about a specific task run as part of a maintenance window execution.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowExecutionTaskRequest"
      },
      "name": "GetMaintenanceWindowExecutionTask",
      "output": {
        "shape": "GetMaintenanceWindowExecutionTaskResult"
      }
    },
    "GetMaintenanceWindowExecutionTaskInvocation": {
      "documentation": "<p>Retrieves information about a specific task running on a specific target.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowExecutionTaskInvocationRequest"
      },
      "name": "GetMaintenanceWindowExecutionTaskInvocation",
      "output": {
        "shape": "GetMaintenanceWindowExecutionTaskInvocationResult"
      }
    },
    "GetMaintenanceWindowTask": {
      "documentation": "<p>Lists the tasks in a maintenance window.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMaintenanceWindowTaskRequest"
      },
      "name": "GetMaintenanceWindowTask",
      "output": {
        "shape": "GetMaintenanceWindowTaskResult"
      }
    },
    "GetOpsItem": {
      "documentation": "<p>Get information about an OpsItem by using the ID. You must have permission in AWS Identity and Access Management (IAM) to view information about an OpsItem. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter-getting-started.html\">Getting Started with OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>Operations engineers and IT professionals use OpsCenter to view, investigate, and remediate operational issues impacting the performance and health of their AWS resources. For more information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/OpsCenter.html\">AWS Systems Manager OpsCenter</a> in the <i>AWS Systems Manager User Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "OpsItemNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOpsItemRequest"
      },
      "name": "GetOpsItem",
      "output": {
        "shape": "GetOpsItemResponse"
      }
    },
    "GetOpsSummary": {
      "documentation": "<p>View a summary of OpsItems based on specified filters and aggregators.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ResourceDataSyncNotFoundException"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOpsSummaryRequest"
      },
      "name": "GetOpsSummary",
      "output": {
        "shape": "GetOpsSummaryResult"
      }
    },
    "GetParameter": {
      "documentation": "<p>Get information about a parameter by using the parameter name. Don't confuse this API action with the <a>GetParameters</a> API action.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "ParameterNotFound"
        },
        {
          "shape": "ParameterVersionNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParameterRequest"
      },
      "name": "GetParameter",
      "output": {
        "shape": "GetParameterResult"
      }
    },
    "GetParameterHistory": {
      "documentation": "<p>Query a list of all parameters used by the AWS account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ParameterNotFound"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidKeyId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParameterHistoryRequest"
      },
      "name": "GetParameterHistory",
      "output": {
        "shape": "GetParameterHistoryResult"
      }
    },
    "GetParameters": {
      "documentation": "<p>Get details of a parameter. Don't confuse this API action with the <a>GetParameter</a> API action.</p>",
      "errors": [
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParametersRequest"
      },
      "name": "GetParameters",
      "output": {
        "shape": "GetParametersResult"
      }
    },
    "GetParametersByPath": {
      "documentation": "<p>Retrieve information about one or more parameters in a specific hierarchy. </p> <note> <p>Request results are returned on a best-effort basis. If you specify <code>MaxResults</code> in the request, the response includes information up to the limit specified. The number of items returned, however, can be between zero and the value of <code>MaxResults</code>. If the service reaches an internal limit while processing the results, it stops the operation and returns the matching values up to that point and a <code>NextToken</code>. You can specify the <code>NextToken</code> in a subsequent call to get the next set of results.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidFilterOption"
        },
        {
          "shape": "InvalidFilterValue"
        },
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetParametersByPathRequest"
      },
      "name": "GetParametersByPath",
      "output": {
        "shape": "GetParametersByPathResult"
      }
    },
    "GetPatchBaseline": {
      "documentation": "<p>Retrieves information about a patch baseline.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPatchBaselineRequest"
      },
      "name": "GetPatchBaseline",
      "output": {
        "shape": "GetPatchBaselineResult"
      }
    },
    "GetPatchBaselineForPatchGroup": {
      "documentation": "<p>Retrieves the patch baseline that should be used for the specified patch group.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPatchBaselineForPatchGroupRequest"
      },
      "name": "GetPatchBaselineForPatchGroup",
      "output": {
        "shape": "GetPatchBaselineForPatchGroupResult"
      }
    },
    "GetServiceSetting": {
      "documentation": "<p> <code>ServiceSetting</code> is an account-level setting for an AWS service. This setting defines how a user interacts with or uses a service or a feature of a service. For example, if an AWS service charges money to the account based on feature or service usage, then the AWS service team might create a default setting of \"false\". This means the user can't use this feature unless they change the setting to \"true\" and intentionally opt in for a paid feature.</p> <p>Services map a <code>SettingId</code> object to a setting value. AWS services teams define the default value for a <code>SettingId</code>. You can't create a new <code>SettingId</code>, but you can overwrite the default value if you have the <code>ssm:UpdateServiceSetting</code> permission for the setting. Use the <a>UpdateServiceSetting</a> API action to change the default setting. Or use the <a>ResetServiceSetting</a> to change the value back to the original value defined by the AWS service team.</p> <p>Query the current service setting for the account. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ServiceSettingNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceSettingRequest"
      },
      "name": "GetServiceSetting",
      "output": {
        "shape": "GetServiceSettingResult"
      }
    },
    "LabelParameterVersion": {
      "documentation": "<p>A parameter label is a user-defined alias to help you manage different versions of a parameter. When you modify a parameter, Systems Manager automatically saves a new version and increments the version number by one. A label can help you remember the purpose of a parameter when there are multiple versions. </p> <p>Parameter labels have the following requirements and restrictions.</p> <ul> <li> <p>A version of a parameter can have a maximum of 10 labels.</p> </li> <li> <p>You can't attach the same label to different versions of the same parameter. For example, if version 1 has the label Production, then you can't attach Production to version 2.</p> </li> <li> <p>You can move a label from one version of a parameter to another.</p> </li> <li> <p>You can't create a label when you create a new parameter. You must attach a label to a specific version of a parameter.</p> </li> <li> <p>You can't delete a parameter label. If you no longer want to use a parameter label, then you must move it to a different version of a parameter.</p> </li> <li> <p>A label can have a maximum of 100 characters.</p> </li> <li> <p>Labels can contain letters (case sensitive), numbers, periods (.), hyphens (-), or underscores (_).</p> </li> <li> <p>Labels can't begin with a number, \"aws,\" or \"ssm\" (not case sensitive). If a label fails to meet these requirements, then the label is not associated with a parameter and the system displays it in the list of InvalidLabels.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyUpdates"
        },
        {
          "shape": "ParameterNotFound"
        },
        {
          "shape": "ParameterVersionNotFound"
        },
        {
          "shape": "ParameterVersionLabelLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LabelParameterVersionRequest"
      },
      "name": "LabelParameterVersion",
      "output": {
        "shape": "LabelParameterVersionResult"
      }
    },
    "ListAssociationVersions": {
      "documentation": "<p>Retrieves all versions of an association for a specific association ID.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "AssociationDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociationVersionsRequest"
      },
      "name": "ListAssociationVersions",
      "output": {
        "shape": "ListAssociationVersionsResult"
      }
    },
    "ListAssociations": {
      "documentation": "<p>Returns all State Manager associations in the current AWS account and Region. You can limit the results to a specific State Manager association document or instance by specifying a filter.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociationsRequest"
      },
      "name": "ListAssociations",
      "output": {
        "shape": "ListAssociationsResult"
      }
    },
    "ListCommandInvocations": {
      "documentation": "<p>An invocation is copy of a command sent to a specific instance. A command can apply to one or more instances. A command invocation applies to one instance. For example, if a user runs SendCommand against three instances, then a command invocation is created for each requested instance ID. ListCommandInvocations provide status about command execution.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCommandInvocationsRequest"
      },
      "name": "ListCommandInvocations",
      "output": {
        "shape": "ListCommandInvocationsResult"
      }
    },
    "ListCommands": {
      "documentation": "<p>Lists the commands requested by users of the AWS account.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidCommandId"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidFilterKey"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCommandsRequest"
      },
      "name": "ListCommands",
      "output": {
        "shape": "ListCommandsResult"
      }
    },
    "ListComplianceItems": {
      "documentation": "<p>For a specified resource ID, this API action returns a list of compliance statuses for different resource types. Currently, you can only specify one resource ID per call. List results depend on the criteria specified in the filter. </p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComplianceItemsRequest"
      },
      "name": "ListComplianceItems",
      "output": {
        "shape": "ListComplianceItemsResult"
      }
    },
    "ListComplianceSummaries": {
      "documentation": "<p>Returns a summary count of compliant and non-compliant resources for a compliance type. For example, this call can return State Manager associations, patches, or custom compliance types according to the filter criteria that you specify. </p>",
      "errors": [
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListComplianceSummariesRequest"
      },
      "name": "ListComplianceSummaries",
      "output": {
        "shape": "ListComplianceSummariesResult"
      }
    },
    "ListDocumentVersions": {
      "documentation": "<p>List all versions for a document.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidDocument"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentVersionsRequest"
      },
      "name": "ListDocumentVersions",
      "output": {
        "shape": "ListDocumentVersionsResult"
      }
    },
    "ListDocuments": {
      "documentation": "<p>Returns all Systems Manager (SSM) documents in the current AWS account and Region. You can limit the results of this request by using a filter.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InvalidFilterKey"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentsRequest"
      },
      "name": "ListDocuments",
      "output": {
        "shape": "ListDocumentsResult"
      }
    },
    "ListInventoryEntries": {
      "documentation": "<p>A list of inventory items returned by the request.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInventoryEntriesRequest"
      },
      "name": "ListInventoryEntries",
      "output": {
        "shape": "ListInventoryEntriesResult"
      }
    },
    "ListResourceComplianceSummaries": {
      "documentation": "<p>Returns a resource-level summary count. The summary includes information about compliant and non-compliant statuses and detailed compliance-item severity counts, according to the filter criteria you specify.</p>",
      "errors": [
        {
          "shape": "InvalidFilter"
        },
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceComplianceSummariesRequest"
      },
      "name": "ListResourceComplianceSummaries",
      "output": {
        "shape": "ListResourceComplianceSummariesResult"
      }
    },
    "ListResourceDataSync": {
      "documentation": "<p>Lists your resource data sync configurations. Includes information about the last time a sync attempted to start, the last sync status, and the last time a sync successfully completed.</p> <p>The number of sync configurations might be too large to return using a single call to <code>ListResourceDataSync</code>. You can limit the number of sync configurations returned by using the <code>MaxResults</code> parameter. To determine whether there are more sync configurations to list, check the value of <code>NextToken</code> in the output. If there are more sync configurations to list, you can request them by specifying the <code>NextToken</code> returned in the call to the parameter of a subsequent call. </p>",
      "errors": [
        {
          "shape": "ResourceDataSyncInvalidConfigurationException"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidNextToken"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceDataSyncRequest"
      },
      "name": "ListResourceDataSync",
      "output": {
        "shape": "ListResourceDataSyncResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of the tags assigned to the specified resource.</p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "ModifyDocumentPermission": {
      "documentation": "<p>Shares a Systems Manager document publicly or privately. If you share a document privately, you must specify the AWS user account IDs for those people who can use the document. If you share a document publicly, you must specify <i>All</i> as the account ID.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidPermissionType"
        },
        {
          "shape": "DocumentPermissionLimit"
        },
        {
          "shape": "DocumentLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDocumentPermissionRequest"
      },
      "name": "ModifyDocumentPermission",
      "output": {
        "shape": "ModifyDocumentPermissionResponse"
      }
    },
    "PutComplianceItems": {
      "documentation": "<p>Registers a compliance type and other compliance details on a designated resource. This action lets you register custom compliance details with a resource. This call overwrites existing compliance information on the resource, so you must provide a full list of compliance items each time that you send the request.</p> <p>ComplianceType can be one of the following:</p> <ul> <li> <p>ExecutionId: The execution ID when the patch, association, or custom compliance item was applied.</p> </li> <li> <p>ExecutionType: Specify patch, association, or Custom:<code>string</code>.</p> </li> <li> <p>ExecutionTime. The time the patch, association, or custom compliance item was applied to the instance.</p> </li> <li> <p>Id: The patch, association, or custom compliance ID.</p> </li> <li> <p>Title: A title.</p> </li> <li> <p>Status: The status of the compliance item. For example, <code>approved</code> for patches, or <code>Failed</code> for associations.</p> </li> <li> <p>Severity: A patch severity. For example, <code>critical</code>.</p> </li> <li> <p>DocumentName: A SSM document name. For example, AWS-RunPatchBaseline.</p> </li> <li> <p>DocumentVersion: An SSM document version number. For example, 4.</p> </li> <li> <p>Classification: A patch classification. For example, <code>security updates</code>.</p> </li> <li> <p>PatchBaselineId: A patch baseline ID.</p> </li> <li> <p>PatchSeverity: A patch severity. For example, <code>Critical</code>.</p> </li> <li> <p>PatchState: A patch state. For example, <code>InstancesWithFailedPatches</code>.</p> </li> <li> <p>PatchGroup: The name of a patch group.</p> </li> <li> <p>InstalledTime: The time the association, patch, or custom compliance item was applied to the resource. Specify the time by using the following format: yyyy-MM-dd'T'HH:mm:ss'Z'</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidItemContentException"
        },
        {
          "shape": "TotalSizeLimitExceededException"
        },
        {
          "shape": "ItemSizeLimitExceededException"
        },
        {
          "shape": "ComplianceTypeCountLimitExceededException"
        },
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutComplianceItemsRequest"
      },
      "name": "PutComplianceItems",
      "output": {
        "shape": "PutComplianceItemsResult"
      }
    },
    "PutInventory": {
      "documentation": "<p>Bulk update custom inventory items on one more instance. The request adds an inventory item, if it doesn't already exist, or updates an inventory item, if it does exist.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidTypeNameException"
        },
        {
          "shape": "InvalidItemContentException"
        },
        {
          "shape": "TotalSizeLimitExceededException"
        },
        {
          "shape": "ItemSizeLimitExceededException"
        },
        {
          "shape": "ItemContentMismatchException"
        },
        {
          "shape": "CustomSchemaCountLimitExceededException"
        },
        {
          "shape": "UnsupportedInventorySchemaVersionException"
        },
        {
          "shape": "UnsupportedInventoryItemContextException"
        },
        {
          "shape": "InvalidInventoryItemContextException"
        },
        {
          "shape": "SubTypeCountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutInventoryRequest"
      },
      "name": "PutInventory",
      "output": {
        "shape": "PutInventoryResult"
      }
    },
    "PutParameter": {
      "documentation": "<p>Add a parameter to the system.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidKeyId"
        },
        {
          "shape": "ParameterLimitExceeded"
        },
        {
          "shape": "TooManyUpdates"
        },
        {
          "shape": "ParameterAlreadyExists"
        },
        {
          "shape": "HierarchyLevelLimitExceededException"
        },
        {
          "shape": "HierarchyTypeMismatchException"
        },
        {
          "shape": "InvalidAllowedPatternException"
        },
        {
          "shape": "ParameterMaxVersionLimitExceeded"
        },
        {
          "shape": "ParameterPatternMismatchException"
        },
        {
          "shape": "UnsupportedParameterType"
        },
        {
          "shape": "PoliciesLimitExceededException"
        },
        {
          "shape": "InvalidPolicyTypeException"
        },
        {
          "shape": "InvalidPolicyAttributeException"
        },
        {
          "shape": "IncompatiblePolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutParameterRequest"
      },
      "name": "PutParameter",
      "output": {
        "shape": "PutParameterResult"
      }
    },
    "RegisterDefaultPatchBaseline": {
      "documentation": "<p>Defines the default patch baseline for the relevant operating system.</p> <p>To reset the AWS predefined patch baseline as the default, specify the full patch baseline ARN as the baseline ID value. For example, for CentOS, specify <code>arn:aws:ssm:us-east-2:733109147000:patchbaseline/pb-0574b43a65ea646ed</code> instead of <code>pb-0574b43a65ea646ed</code>.</p>",
      "errors": [
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterDefaultPatchBaselineRequest"
      },
      "name": "RegisterDefaultPatchBaseline",
      "output": {
        "shape": "RegisterDefaultPatchBaselineResult"
      }
    },
    "RegisterPatchBaselineForPatchGroup": {
      "documentation": "<p>Registers a patch baseline for a patch group.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterPatchBaselineForPatchGroupRequest"
      },
      "name": "RegisterPatchBaselineForPatchGroup",
      "output": {
        "shape": "RegisterPatchBaselineForPatchGroupResult"
      }
    },
    "RegisterTargetWithMaintenanceWindow": {
      "documentation": "<p>Registers a target with a maintenance window.</p>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterTargetWithMaintenanceWindowRequest"
      },
      "name": "RegisterTargetWithMaintenanceWindow",
      "output": {
        "shape": "RegisterTargetWithMaintenanceWindowResult"
      }
    },
    "RegisterTaskWithMaintenanceWindow": {
      "documentation": "<p>Adds a new task to a maintenance window.</p>",
      "errors": [
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "FeatureNotAvailableException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterTaskWithMaintenanceWindowRequest"
      },
      "name": "RegisterTaskWithMaintenanceWindow",
      "output": {
        "shape": "RegisterTaskWithMaintenanceWindowResult"
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p>Removes tag keys from the specified resource.</p>",
      "errors": [
        {
          "shape": "InvalidResourceType"
        },
        {
          "shape": "InvalidResourceId"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromResourceRequest"
      },
      "name": "RemoveTagsFromResource",
      "output": {
        "shape": "RemoveTagsFromResourceResult"
      }
    },
    "ResetServiceSetting": {
      "documentation": "<p> <code>ServiceSetting</code> is an account-level setting for an AWS service. This setting defines how a user interacts with or uses a service or a feature of a service. For example, if an AWS service charges money to the account based on feature or service usage, then the AWS service team might create a default setting of \"false\". This means the user can't use this feature unless they change the setting to \"true\" and intentionally opt in for a paid feature.</p> <p>Services map a <code>SettingId</code> object to a setting value. AWS services teams define the default value for a <code>SettingId</code>. You can't create a new <code>SettingId</code>, but you can overwrite the default value if you have the <code>ssm:UpdateServiceSetting</code> permission for the setting. Use the <a>GetServiceSetting</a> API action to view the current value. Use the <a>UpdateServiceSetting</a> API action to change the default setting. </p> <p>Reset the service setting for the account to the default value as provisioned by the AWS service team. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "ServiceSettingNotFound"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetServiceSettingRequest"
      },
      "name": "ResetServiceSetting",
      "output": {
        "shape": "ResetServiceSettingResult"
      }
    },
    "ResumeSession": {
      "documentation": "<p>Reconnects a session to an instance after it has been disconnected. Connections can be resumed for disconnected sessions, but not terminated sessions.</p> <note> <p>This command is primarily for use by client machines to automatically reconnect during intermittent network issues. It is not intended for any other use.</p> </note>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResumeSessionRequest"
      },
      "name": "ResumeSession",
      "output": {
        "shape": "ResumeSessionResponse"
      }
    },
    "SendAutomationSignal": {
      "documentation": "<p>Sends a signal to an Automation execution to change the current behavior or status of the execution. </p>",
      "errors": [
        {
          "shape": "AutomationExecutionNotFoundException"
        },
        {
          "shape": "AutomationStepNotFoundException"
        },
        {
          "shape": "InvalidAutomationSignalException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendAutomationSignalRequest"
      },
      "name": "SendAutomationSignal",
      "output": {
        "shape": "SendAutomationSignalResult"
      }
    },
    "SendCommand": {
      "documentation": "<p>Runs commands on one or more managed instances.</p>",
      "errors": [
        {
          "shape": "DuplicateInstanceId"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidOutputFolder"
        },
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "UnsupportedPlatformType"
        },
        {
          "shape": "MaxDocumentSizeExceeded"
        },
        {
          "shape": "InvalidRole"
        },
        {
          "shape": "InvalidNotificationConfig"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendCommandRequest"
      },
      "name": "SendCommand",
      "output": {
        "shape": "SendCommandResult"
      }
    },
    "StartAssociationsOnce": {
      "documentation": "<p>Use this API action to run an association immediately and only one time. This action can be helpful when troubleshooting associations.</p>",
      "errors": [
        {
          "shape": "InvalidAssociation"
        },
        {
          "shape": "AssociationDoesNotExist"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartAssociationsOnceRequest"
      },
      "name": "StartAssociationsOnce",
      "output": {
        "shape": "StartAssociationsOnceResult"
      }
    },
    "StartAutomationExecution": {
      "documentation": "<p>Initiates execution of an Automation document.</p>",
      "errors": [
        {
          "shape": "AutomationDefinitionNotFoundException"
        },
        {
          "shape": "InvalidAutomationExecutionParametersException"
        },
        {
          "shape": "AutomationExecutionLimitExceededException"
        },
        {
          "shape": "AutomationDefinitionVersionNotFoundException"
        },
        {
          "shape": "IdempotentParameterMismatch"
        },
        {
          "shape": "InvalidTarget"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartAutomationExecutionRequest"
      },
      "name": "StartAutomationExecution",
      "output": {
        "shape": "StartAutomationExecutionResult"
      }
    },
    "StartSession": {
      "documentation": "<p>Initiates a connection to a target (for example, an instance) for a Session Manager session. Returns a URL and token that can be used to open a WebSocket connection for sending input and receiving outputs.</p> <note> <p>AWS CLI usage: <code>start-session</code> is an interactive command that requires the Session Manager plugin to be installed on the client machine making the call. For information, see <a href=\"http://docs.aws.amazon.com/systems-manager/latest/userguide/session-manager-working-with-install-plugin.html\"> Install the Session Manager Plugin for the AWS CLI</a> in the <i>AWS Systems Manager User Guide</i>.</p> <p>AWS Tools for PowerShell usage: Start-SSMSession is not currently supported by AWS Tools for PowerShell on Windows local machines.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "TargetNotConnected"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartSessionRequest"
      },
      "name": "StartSession",
      "output": {
        "shape": "StartSessionResponse"
      }
    },
    "StopAutomationExecution": {
      "documentation": "<p>Stop an Automation that is currently running.</p>",
      "errors": [
        {
          "shape": "AutomationExecutionNotFoundException"
        },
        {
          "shape": "InvalidAutomationStatusUpdateException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopAutomationExecutionRequest"
      },
      "name": "StopAutomationExecution",
      "output": {
        "shape": "StopAutomationExecutionResult"
      }
    },
    "TerminateSession": {
      "documentation": "<p>Permanently ends a session and closes the data connection between the Session Manager client and SSM Agent on the instance. A terminated session cannot be resumed.</p>",
      "errors": [
        {
          "shape": "DoesNotExistException"
        },
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateSessionRequest"
      },
      "name": "TerminateSession",
      "output": {
        "shape": "TerminateSessionResponse"
      }
    },
    "UpdateAssociation": {
      "documentation": "<p>Updates an association. You can update the association name and version, the document version, schedule, parameters, and Amazon S3 output. </p> <p>In order to call this API action, your IAM user account, group, or role must be configured with permission to call the <a>DescribeAssociation</a> API action. If you don't have permission to call DescribeAssociation, then you receive the following error: <code>An error occurred (AccessDeniedException) when calling the UpdateAssociation operation: User: &lt;user_arn&gt; is not authorized to perform: ssm:DescribeAssociation on resource: &lt;resource_arn&gt;</code> </p> <important> <p>When you update an association, the association immediately runs against the specified targets.</p> </important>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidSchedule"
        },
        {
          "shape": "InvalidParameters"
        },
        {
          "shape": "InvalidOutputLocation"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "InvalidUpdate"
        },
        {
          "shape": "TooManyUpdates"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidTarget"
        },
        {
          "shape": "InvalidAssociationVersion"
        },
        {
          "shape": "AssociationVersionLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAssociationRequest"
      },
      "name": "UpdateAssociation",
      "output": {
        "shape": "UpdateAssociationResult"
      }
    },
    "UpdateAssociationStatus": {
      "documentation": "<p>Updates the status of the Systems Manager document associated with the specified instance.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidInstanceId"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "AssociationDoesNotExist"
        },
        {
          "shape": "StatusUnchanged"
        },
        {
          "shape": "TooManyUpdates"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAssociationStatusRequest"
      },
      "name": "UpdateAssociationStatus",
      "output": {
        "shape": "UpdateAssociationStatusResult"
      }
    },
    "UpdateDocument": {
      "documentation": "<p>Updates one or more values for an SSM document.</p>",
      "errors": [
        {
          "shape": "MaxDocumentSizeExceeded"
        },
        {
          "shape": "DocumentVersionLimitExceeded"
        },
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "DuplicateDocumentContent"
        },
        {
          "shape": "DuplicateDocumentVersionName"
        },
        {
          "shape": "InvalidDocumentContent"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidDocumentSchemaVersion"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentOperation"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDocumentRequest"
      },
      "name": "UpdateDocument",
      "output": {
        "shape": "UpdateDocumentResult"
      }
    },
    "UpdateDocumentDefaultVersion": {
      "documentation": "<p>Set the default version of a document. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidDocument"
        },
        {
          "shape": "InvalidDocumentVersion"
        },
        {
          "shape": "InvalidDocumentSchemaVersion"
        }
      ],
      "http": {
[...]
