{
  "authorizers": {
    "create_job_authorizer": {
      "name": "create_job_authorizer",
      "placement": {
        "location": "header",
        "name": "Authorization"
      },
      "type": "provided"
    },
    "start_cancel_get_job_authorizer": {
      "name": "start_cancel_get_job_authorizer",
      "placement": {
        "location": "header",
        "name": "Authorization"
      },
      "type": "provided"
    }
  },
  "documentation": "<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p><p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIS to download or copy your entitled data sets to Amazon S3 for use across a variety of AWS analytics and machine learning services.</p><p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the AWS Data Exchange User Guide.</p><p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set.  A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "dataexchange",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Data Exchange",
    "serviceId": "DataExchange",
    "signatureVersion": "v4",
    "signingName": "dataexchange",
    "uid": "dataexchange-2017-07-25"
  },
  "operations": {
    "CancelJob": {
      "documentation": "<p>This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/jobs/{JobId}",
        "responseCode": 204
      },
      "input": {
        "shape": "CancelJobRequest"
      },
      "name": "CancelJob"
    },
    "CreateDataSet": {
      "documentation": "<p>This operation creates a data set.</p>",
      "errors": [
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>402 response</p>",
          "shape": "ServiceLimitExceededException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/data-sets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDataSetRequest"
      },
      "name": "CreateDataSet",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateDataSetResponse"
      }
    },
    "CreateJob": {
      "documentation": "<p>This operation creates a job.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/jobs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateJobResponse"
      }
    },
    "CreateRevision": {
      "documentation": "<p>This operation creates a revision for a data set.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRevisionRequest"
      },
      "name": "CreateRevision",
      "output": {
        "documentation": "<p>201 response</p>",
        "shape": "CreateRevisionResponse"
      }
    },
    "DeleteAsset": {
      "documentation": "<p>This operation deletes an asset.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAssetRequest"
      },
      "name": "DeleteAsset"
    },
    "DeleteDataSet": {
      "documentation": "<p>This operation deletes a data set.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/data-sets/{DataSetId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDataSetRequest"
      },
      "name": "DeleteDataSet"
    },
    "DeleteRevision": {
      "documentation": "<p>This operation deletes a revision.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRevisionRequest"
      },
      "name": "DeleteRevision"
    },
    "GetAsset": {
      "documentation": "<p>This operation returns information about an asset.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAssetRequest"
      },
      "name": "GetAsset",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetAssetResponse"
      }
    },
    "GetDataSet": {
      "documentation": "<p>This operation returns information about a data set.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDataSetRequest"
      },
      "name": "GetDataSet",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetDataSetResponse"
      }
    },
    "GetJob": {
      "documentation": "<p>This operation returns information about a job.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/jobs/{JobId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetJobResponse"
      }
    },
    "GetRevision": {
      "documentation": "<p>This operation returns information about a revision.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRevisionRequest"
      },
      "name": "GetRevision",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "GetRevisionResponse"
      }
    },
    "ListDataSetRevisions": {
      "documentation": "<p>This operation lists a data set's revisions sorted by CreatedAt in descending order.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDataSetRevisionsRequest"
      },
      "name": "ListDataSetRevisions",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListDataSetRevisionsResponse"
      }
    },
    "ListDataSets": {
      "documentation": "<p>This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDataSetsRequest"
      },
      "name": "ListDataSets",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListDataSetsResponse"
      }
    },
    "ListJobs": {
      "documentation": "<p>This operation lists your jobs sorted by CreatedAt in descending order.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/jobs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListJobsResponse"
      }
    },
    "ListRevisionAssets": {
      "documentation": "<p>This operation lists a revision's assets sorted alphabetically in descending order.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRevisionAssetsRequest"
      },
      "name": "ListRevisionAssets",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListRevisionAssetsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>This operation lists the tags on the resource.</p>",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartJob": {
      "documentation": "<p>This operation starts a job.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/jobs/{JobId}",
        "responseCode": 202
      },
      "input": {
        "shape": "StartJobRequest"
      },
      "name": "StartJob",
      "output": {
        "documentation": "<p>202 response</p>",
        "shape": "StartJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>This operation tags a resource.</p>",
      "errors": [],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>This operation removes one or more tags from a resource.</p>",
      "errors": [],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAsset": {
      "documentation": "<p>This operation updates an asset.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAssetRequest"
      },
      "name": "UpdateAsset",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateAssetResponse"
      }
    },
    "UpdateDataSet": {
      "documentation": "<p>This operation updates a data set.</p>",
      "errors": [
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/data-sets/{DataSetId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDataSetRequest"
      },
      "name": "UpdateDataSet",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateDataSetResponse"
      }
    },
    "UpdateRevision": {
      "documentation": "<p>This operation updates a revision.</p>",
      "errors": [
        {
          "documentation": "<p>400 response</p>",
          "shape": "ValidationException"
        },
        {
          "documentation": "<p>500 response</p>",
          "shape": "InternalServerException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        },
        {
          "documentation": "<p>404 response</p>",
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "<p>429 response</p>",
          "shape": "ThrottlingException"
        },
        {
          "documentation": "<p>409 response</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v1/data-sets/{DataSetId}/revisions/{RevisionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRevisionRequest"
      },
      "name": "UpdateRevision",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateRevisionResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>Access to the resource is denied.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>Access to the resource is denied.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Arn": {
      "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
      "type": "string"
    },
    "AssetDestinationEntry": {
      "documentation": "<p>The destination for the asset.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Bucket": {
          "documentation": "<p>The S3 bucket that is the destination for the asset.</p>",
          "shape": "__string"
        },
        "Key": {
          "documentation": "<p>The name of the object in Amazon S3 for the asset.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Bucket",
        "AssetId"
      ],
      "type": "structure"
    },
    "AssetDetails": {
      "members": {
        "S3SnapshotAsset": {
          "shape": "S3SnapshotAsset"
        }
      },
      "type": "structure"
    },
    "AssetEntry": {
      "documentation": "<p>An asset in AWS Data Exchange is a piece of data that can be stored as an S3 object. The asset can be a structured data file, an image file, or some other data file. When you create an import job for your files, you create an asset in AWS Data Exchange for each of those files.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the asset.</p>",
          "shape": "Arn"
        },
        "AssetDetails": {
          "documentation": "<p>Information about the asset, including its size.</p>",
          "shape": "AssetDetails"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
          "shape": "Id"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
          "shape": "AssetName"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "AssetType",
        "CreatedAt",
        "DataSetId",
        "Id",
        "Arn",
        "AssetDetails",
        "UpdatedAt",
        "RevisionId",
        "Name"
      ],
      "type": "structure"
    },
    "AssetName": {
      "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
      "type": "string"
    },
    "AssetSourceEntry": {
      "documentation": "<p>The source of the assets.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The S3 bucket that's part of the source of the asset.</p>",
          "shape": "__string"
        },
        "Key": {
          "documentation": "<p>The name of the object in Amazon S3 for the asset.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Bucket",
        "Key"
      ],
      "type": "structure"
    },
    "AssetType": {
      "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
      "enum": [
        "S3_SNAPSHOT"
      ],
      "type": "string"
    },
    "CancelJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The unique identifier for a job.</p>",
          "location": "uri",
          "locationName": "JobId",
          "shape": "__string"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "Code": {
      "enum": [
        "ACCESS_DENIED_EXCEPTION",
        "INTERNAL_SERVER_EXCEPTION",
        "MALWARE_DETECTED",
        "RESOURCE_NOT_FOUND_EXCEPTION",
        "SERVICE_QUOTA_EXCEEDED_EXCEPTION",
        "VALIDATION_EXCEPTION",
        "MALWARE_SCAN_ENCRYPTED_FILE"
      ],
      "type": "string"
    },
    "ConflictException": {
      "documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The request couldn't be completed because it conflicted with the current state of the resource.</p>",
          "shape": "__string"
        },
        "ResourceId": {
          "documentation": "<p>The unique identifier for the resource with the conflict.</p>",
          "shape": "__string"
        },
        "ResourceType": {
          "documentation": "<p>The type of the resource with the conflict.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "CreateDataSetRequest": {
      "documentation": "<p>The request body for CreateDataSet.</p>",
      "members": {
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "Description": {
          "documentation": "<p>A description for the data set. This value can be up to 16,348 characters long.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>",
          "shape": "MapOf__string"
        }
      },
      "required": [
        "AssetType",
        "Description",
        "Name"
      ],
      "type": "structure"
    },
    "CreateDataSetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the data set.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CreateJobRequest": {
      "documentation": "<p>The request body for CreateJob.</p>",
      "members": {
        "Details": {
          "documentation": "<p>The details for the CreateJob request.</p>",
          "shape": "RequestDetails"
        },
        "Type": {
          "documentation": "<p>The type of job to be created.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "Type",
        "Details"
      ],
      "type": "structure"
    },
    "CreateJobResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the job.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Details": {
          "documentation": "<p>Details about the job.</p>",
          "shape": "ResponseDetails"
        },
        "Errors": {
          "documentation": "<p>The errors associated with jobs.</p>",
          "shape": "ListOfJobError"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the job.</p>",
          "shape": "Id"
        },
        "State": {
          "documentation": "<p>The state of the job.</p>",
          "shape": "State"
        },
        "Type": {
          "documentation": "<p>The job type.</p>",
          "shape": "Type"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "CreateRevisionRequest": {
      "documentation": "<p>The request body for CreateRevision.</p>",
      "members": {
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "<p>A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.</p>",
          "shape": "MapOf__string"
        }
      },
      "required": [
        "DataSetId"
      ],
      "type": "structure"
    },
    "CreateRevisionResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the revision</p>",
          "shape": "Arn"
        },
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
          "shape": "Id"
        },
        "Finalized": {
          "documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>",
          "shape": "__boolean"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the revision.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the revision.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DataSetEntry": {
      "documentation": "<p>A data set is an AWS resource with one or more revisions.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "Origin",
        "AssetType",
        "Description",
        "CreatedAt",
        "Id",
        "Arn",
        "UpdatedAt",
        "Name"
      ],
      "type": "structure"
    },
    "DeleteAssetRequest": {
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for an asset.</p>",
          "location": "uri",
          "locationName": "AssetId",
          "shape": "__string"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "AssetId",
        "DataSetId"
      ],
      "type": "structure"
    },
    "DeleteDataSetRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        }
      },
      "required": [
        "DataSetId"
      ],
      "type": "structure"
    },
    "DeleteRevisionRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "DataSetId"
      ],
      "type": "structure"
    },
    "Description": {
      "documentation": "<p>A description of a resource.</p>",
      "type": "string"
    },
    "Details": {
      "members": {
        "ImportAssetFromSignedUrlJobErrorDetails": {
          "shape": "ImportAssetFromSignedUrlJobErrorDetails"
        },
        "ImportAssetsFromS3JobErrorDetails": {
          "shape": "ListOfAssetSourceEntry"
        }
      },
      "type": "structure"
    },
    "ExportAssetToSignedUrlRequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for the asset that is exported to a signed URL.</p>",
          "shape": "Id"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "DataSetId",
        "AssetId",
        "RevisionId"
      ],
      "type": "structure"
    },
    "ExportAssetToSignedUrlResponseDetails": {
      "documentation": "<p>The details of the export to signed URL response.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for the asset associated with this export job.</p>",
          "shape": "Id"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
          "shape": "Id"
        },
        "SignedUrl": {
          "documentation": "<p>The signed URL for the export request.</p>",
          "shape": "__string"
        },
        "SignedUrlExpiresAt": {
          "documentation": "<p>The date and time that the signed URL expires, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "DataSetId",
        "AssetId",
        "RevisionId"
      ],
      "type": "structure"
    },
    "ExportAssetsToS3RequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetDestinations": {
          "documentation": "<p>The destination for the asset.</p>",
          "shape": "ListOfAssetDestinationEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export request.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "AssetDestinations",
        "DataSetId",
        "RevisionId"
      ],
      "type": "structure"
    },
    "ExportAssetsToS3ResponseDetails": {
      "documentation": "<p>Details about the export to Amazon S3 response.</p>",
      "members": {
        "AssetDestinations": {
          "documentation": "<p>The destination in Amazon S3 where the asset is exported.</p>",
          "shape": "ListOfAssetDestinationEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this export job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this export response.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "AssetDestinations",
        "DataSetId",
        "RevisionId"
      ],
      "type": "structure"
    },
    "GetAssetRequest": {
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for an asset.</p>",
          "location": "uri",
          "locationName": "AssetId",
          "shape": "__string"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "AssetId",
        "DataSetId"
      ],
      "type": "structure"
    },
    "GetAssetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the asset.</p>",
          "shape": "Arn"
        },
        "AssetDetails": {
          "documentation": "<p>Information about the asset, including its size.</p>",
          "shape": "AssetDetails"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
          "shape": "Id"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the asset When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
          "shape": "AssetName"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetDataSetRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        }
      },
      "required": [
        "DataSetId"
      ],
      "type": "structure"
    },
    "GetDataSetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the data set.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The unique identifier for a job.</p>",
          "location": "uri",
          "locationName": "JobId",
          "shape": "__string"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "GetJobResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the job.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Details": {
          "documentation": "<p>Details about the job.</p>",
          "shape": "ResponseDetails"
        },
        "Errors": {
          "documentation": "<p>The errors associated with jobs.</p>",
          "shape": "ListOfJobError"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the job.</p>",
          "shape": "Id"
        },
        "State": {
          "documentation": "<p>The state of the job.</p>",
          "shape": "State"
        },
        "Type": {
          "documentation": "<p>The job type.</p>",
          "shape": "Type"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetRevisionRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "DataSetId"
      ],
      "type": "structure"
    },
    "GetRevisionResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the revision</p>",
          "shape": "Arn"
        },
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
          "shape": "Id"
        },
        "Finalized": {
          "documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>",
          "shape": "__boolean"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the revision.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>",
          "shape": "Id"
        },
        "Tags": {
          "documentation": "<p>The tags for the revision.</p>",
          "shape": "MapOf__string"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "Id": {
      "documentation": "<p>A unique identifier.</p>",
      "type": "string"
    },
    "ImportAssetFromSignedUrlJobErrorDetails": {
      "members": {
        "AssetName": {
          "shape": "AssetName"
        }
      },
      "required": [
        "AssetName"
      ],
      "type": "structure"
    },
    "ImportAssetFromSignedUrlRequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetName": {
          "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name.</p>",
          "shape": "AssetName"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "Md5Hash": {
          "documentation": "<p>The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.</p>",
          "shape": "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import request.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "DataSetId",
        "Md5Hash",
        "RevisionId",
        "AssetName"
      ],
      "type": "structure"
    },
    "ImportAssetFromSignedUrlResponseDetails": {
      "documentation": "<p>The details in the response for an import request, including the signed URL and other information.</p>",
      "members": {
        "AssetName": {
          "documentation": "<p>The name for the asset associated with this import response.</p>",
          "shape": "AssetName"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "Md5Hash": {
          "documentation": "<p>The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.</p>",
          "shape": "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import response.</p>",
          "shape": "Id"
        },
        "SignedUrl": {
          "documentation": "<p>The signed URL.</p>",
          "shape": "__string"
        },
        "SignedUrlExpiresAt": {
          "documentation": "<p>The time and date at which the signed URL expires, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "DataSetId",
        "AssetName",
        "RevisionId"
      ],
      "type": "structure"
    },
    "ImportAssetsFromS3RequestDetails": {
      "documentation": "<p>Details of the operation to be performed by the job.</p>",
      "members": {
        "AssetSources": {
          "documentation": "<p>Is a list of S3 bucket and object key pairs.</p>",
          "shape": "ListOfAssetSourceEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import request.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "DataSetId",
        "AssetSources",
        "RevisionId"
      ],
      "type": "structure"
    },
    "ImportAssetsFromS3ResponseDetails": {
      "documentation": "<p>Details from an import from Amazon S3 response.</p>",
      "members": {
        "AssetSources": {
          "documentation": "<p>Is a list of Amazon S3 bucket and object key pairs.</p>",
          "shape": "ListOfAssetSourceEntry"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this import job.</p>",
          "shape": "Id"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this import response.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "DataSetId",
        "AssetSources",
        "RevisionId"
      ],
      "type": "structure"
    },
    "InternalServerException": {
      "documentation": "An exception occurred with the service.",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "The message identifying the service exception that occurred.",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "JobEntry": {
      "documentation": "AWS Data Exchange Jobs are asynchronous import or export operations used to create or copy assets. A data set owner can both import and export as they see fit. Someone with an entitlement to a data set can only export. Jobs are deleted 90 days after they are created.",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the job.</p>",
          "shape": "Arn"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the job was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Details": {
          "documentation": "<p>Details of the operation to be performed by the job, such as export destination details or import source details.</p>",
          "shape": "ResponseDetails"
        },
        "Errors": {
          "documentation": "<p>Errors for jobs.</p>",
          "shape": "ListOfJobError"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the job.</p>",
          "shape": "Id"
        },
        "State": {
          "documentation": "<p>The state of the job.</p>",
          "shape": "State"
        },
        "Type": {
          "documentation": "<p>The job type.</p>",
          "shape": "Type"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the job was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "Type",
        "Details",
        "State",
        "CreatedAt",
        "Id",
        "Arn",
        "UpdatedAt"
      ],
      "type": "structure"
    },
    "JobError": {
      "documentation": "An error that occurred with the job request.",
      "members": {
        "Code": {
          "documentation": "The code for the job error.",
          "shape": "Code"
        },
        "Details": {
          "shape": "Details"
        },
        "LimitName": {
          "documentation": "<p>The name of the limit that was reached.</p>",
          "shape": "JobErrorLimitName"
        },
        "LimitValue": {
          "documentation": "The value of the exceeded limit.",
          "shape": "__double"
        },
        "Message": {
          "documentation": "The message related to the job error.",
          "shape": "__string"
        },
        "ResourceId": {
          "documentation": "The unqiue identifier for the resource related to the error.",
          "shape": "__string"
        },
        "ResourceType": {
          "documentation": "The type of resource related to the error.",
          "shape": "JobErrorResourceTypes"
        }
      },
      "required": [
        "Message",
        "Code"
      ],
      "type": "structure"
    },
    "JobErrorLimitName": {
      "documentation": "The name of the limit that was reached.",
      "enum": [
        "Assets per revision",
        "Asset size in GB"
      ],
      "type": "string"
    },
    "JobErrorResourceTypes": {
      "documentation": "The types of resource which the job error can apply to.",
      "enum": [
        "REVISION",
        "ASSET"
      ],
      "type": "string"
    },
    "LimitName": {
      "enum": [
        "Products per account",
        "Data sets per account",
        "Data sets per product",
        "Revisions per data set",
        "Assets per revision",
        "Assets per import job from Amazon S3",
        "Asset per export job from Amazon S3",
        "Asset size in GB",
        "Concurrent in progress jobs to import assets from Amazon S3",
        "Concurrent in progress jobs to import assets from a signed URL",
        "Concurrent in progress jobs to export assets to Amazon S3",
        "Concurrent in progress jobs to export assets to a signed URL"
      ],
      "type": "string"
    },
    "ListDataSetRevisionsRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": [
        "DataSetId"
      ],
      "type": "structure"
    },
    "ListDataSetRevisionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        },
        "Revisions": {
          "documentation": "<p>The asset objects listed by the request.</p>",
          "shape": "ListOfRevisionEntry"
        }
      },
      "type": "structure"
    },
    "ListDataSetsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "location": "querystring",
          "locationName": "origin",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListDataSetsResponse": {
      "members": {
        "DataSets": {
          "documentation": "<p>The data set objects listed by the request.</p>",
          "shape": "ListOfDataSetEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListJobsRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "querystring",
          "locationName": "dataSetId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "querystring",
          "locationName": "revisionId",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListJobsResponse": {
      "members": {
        "Jobs": {
          "documentation": "<p>The jobs listed by the request.</p>",
          "shape": "ListOfJobEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOfAssetDestinationEntry": {
      "documentation": "<p>The destination where the assets will be exported.</p>",
      "member": {
        "shape": "AssetDestinationEntry"
      },
      "type": "list"
    },
    "ListOfAssetEntry": {
      "member": {
        "shape": "AssetEntry"
      },
      "type": "list"
    },
    "ListOfAssetSourceEntry": {
      "documentation": "<p>The list of sources for the assets.</p>",
      "member": {
        "shape": "AssetSourceEntry"
      },
      "type": "list"
    },
    "ListOfDataSetEntry": {
      "member": {
        "shape": "DataSetEntry"
      },
      "type": "list"
    },
    "ListOfJobEntry": {
      "member": {
        "shape": "JobEntry"
      },
      "type": "list"
    },
    "ListOfJobError": {
      "member": {
        "shape": "JobError"
      },
      "type": "list"
    },
    "ListOfRevisionEntry": {
      "member": {
        "shape": "RevisionEntry"
      },
      "type": "list"
    },
    "ListOf__string": {
      "member": {
        "shape": "__string"
      },
      "type": "list"
    },
    "ListRevisionAssetsRequest": {
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "DataSetId"
      ],
      "type": "structure"
    },
    "ListRevisionAssetsResponse": {
      "members": {
        "Assets": {
          "documentation": "<p>The asset objects listed by the request.</p>",
          "shape": "ListOfAssetEntry"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "A label that consists of a customer-defined key and an optional value.",
          "locationName": "tags",
          "shape": "MapOf__string"
        }
      },
      "type": "structure"
    },
    "MapOf__string": {
      "key": {
        "shape": "__string"
      },
      "type": "map",
      "value": {
        "shape": "__string"
      }
    },
    "MaxResults": {
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "documentation": "The name of the model.",
      "type": "string"
    },
    "NextToken": {
      "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
      "type": "string"
    },
    "Origin": {
      "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers). When an owned data set is published in a product, AWS Data Exchange creates a copy of the data set. Subscribers can access that copy of the data set as an entitled data set.</p>",
      "enum": [
        "OWNED",
        "ENTITLED"
      ],
      "type": "string"
    },
    "OriginDetails": {
      "members": {
        "ProductId": {
          "shape": "__string"
        }
      },
      "required": [
        "ProductId"
      ],
      "type": "structure"
    },
    "RequestDetails": {
      "documentation": "<p>The details for the request.</p>",
      "members": {
        "ExportAssetToSignedUrl": {
          "documentation": "<p>Details about the export to signed URL request.</p>",
          "shape": "ExportAssetToSignedUrlRequestDetails"
        },
        "ExportAssetsToS3": {
          "documentation": "<p>Details about the export to Amazon S3 request.</p>",
          "shape": "ExportAssetsToS3RequestDetails"
        },
        "ImportAssetFromSignedUrl": {
          "documentation": "<p>Details about the import from signed URL request.</p>",
          "shape": "ImportAssetFromSignedUrlRequestDetails"
        },
        "ImportAssetsFromS3": {
          "documentation": "<p>Details about the import from Amazon S3 request.</p>",
          "shape": "ImportAssetsFromS3RequestDetails"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource couldn't be found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The resource couldn't be found.</p>",
          "shape": "__string"
        },
        "ResourceId": {
          "documentation": "<p>The unique identifier for the resource that couldn't be found.</p>",
          "shape": "__string"
        },
        "ResourceType": {
          "documentation": "<p>The type of resource that couldn't be found.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "DATA_SET",
        "REVISION",
        "ASSET",
        "JOB"
      ],
      "type": "string"
    },
    "ResponseDetails": {
      "documentation": "<p>Details for the response.</p>",
      "members": {
        "ExportAssetToSignedUrl": {
          "documentation": "<p>Details for the export to signed URL response.</p>",
          "shape": "ExportAssetToSignedUrlResponseDetails"
        },
        "ExportAssetsToS3": {
          "documentation": "<p>Details for the export to Amazon S3 response.</p>",
          "shape": "ExportAssetsToS3ResponseDetails"
        },
        "ImportAssetFromSignedUrl": {
          "documentation": "<p>Details for the import from signed URL response.</p>",
          "shape": "ImportAssetFromSignedUrlResponseDetails"
        },
        "ImportAssetsFromS3": {
          "documentation": "<p>Details for the import from Amazon S3 response.</p>",
          "shape": "ImportAssetsFromS3ResponseDetails"
        }
      },
      "type": "structure"
    },
    "RevisionEntry": {
      "documentation": "<p>A revision is a container for one or more assets.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the revision.</p>",
          "shape": "Arn"
        },
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
          "shape": "Id"
        },
        "Finalized": {
          "documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>",
          "shape": "__boolean"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the revision.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "CreatedAt",
        "DataSetId",
        "Id",
        "Arn",
        "UpdatedAt"
      ],
      "type": "structure"
    },
    "S3SnapshotAsset": {
      "documentation": "<p>The S3 object that is the asset.</p>",
      "members": {
        "Size": {
          "documentation": "<p>The size of the S3 object that is the object.</p>",
          "shape": "__doubleMin0"
        }
      },
      "required": [
        "Size"
      ],
      "type": "structure"
    },
    "ServiceLimitExceededException": {
      "documentation": "<p>The request has exceeded the quotas imposed by the service.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "LimitName": {
          "documentation": "<p>The name of the quota that was exceeded.</p>",
          "shape": "LimitName"
        },
        "LimitValue": {
          "documentation": "<p>The maximum value for the service-specific limit.</p>",
          "shape": "__double"
        },
        "Message": {
          "documentation": "<p>The request has exceeded the quotas imposed by the service.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "StartJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The unique identifier for a job.</p>",
          "location": "uri",
          "locationName": "JobId",
          "shape": "__string"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "StartJobResponse": {
      "members": {},
      "type": "structure"
    },
    "State": {
      "enum": [
        "WAITING",
        "IN_PROGRESS",
        "ERROR",
        "COMPLETED",
        "CANCELLED",
        "TIMED_OUT"
      ],
      "type": "string"
    },
    "TagResourceRequest": {
      "documentation": "<p>The request body for TagResource.</p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "A label that consists of a customer-defined key and an optional value.",
          "locationName": "tags",
          "shape": "MapOf__string"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "ThrottlingException": {
      "documentation": "<p>The limit on the number of requests per second was exceeded.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The limit on the number of requests per second was exceeded.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "Timestamp": {
      "documentation": "<p>Dates and times in AWS Data Exchange are recorded in ISO 8601 format.</p>",
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "Type": {
      "enum": [
        "IMPORT_ASSETS_FROM_S3",
        "IMPORT_ASSET_FROM_SIGNED_URL",
        "EXPORT_ASSETS_TO_S3",
        "EXPORT_ASSET_TO_SIGNED_URL"
      ],
      "type": "string"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.</p>",
          "location": "uri",
          "locationName": "resource-arn",
          "shape": "__string"
        },
        "TagKeys": {
          "documentation": "The key tags.",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "ListOf__string"
        }
      },
      "required": [
        "TagKeys",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "UpdateAssetRequest": {
      "documentation": "<p>The request body for UpdateAsset.</p>",
      "members": {
        "AssetId": {
          "documentation": "<p>The unique identifier for an asset.</p>",
          "location": "uri",
          "locationName": "AssetId",
          "shape": "__string"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "Name": {
          "documentation": "<p>The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
          "shape": "AssetName"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "AssetId",
        "DataSetId",
        "Name"
      ],
      "type": "structure"
    },
    "UpdateAssetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the asset.</p>",
          "shape": "Arn"
        },
        "AssetDetails": {
          "documentation": "<p>Information about the asset, including its size.</p>",
          "shape": "AssetDetails"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the asset was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this asset.</p>",
          "shape": "Id"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the asset.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the asset When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.</p>",
          "shape": "AssetName"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for the revision associated with this asset.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the asset was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "UpdateDataSetRequest": {
      "documentation": "<p>The request body for UpdateDataSet.</p>",
      "members": {
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "DataSetId"
      ],
      "type": "structure"
    },
    "UpdateDataSetResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the data set.</p>",
          "shape": "Arn"
        },
        "AssetType": {
          "documentation": "<p>The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.</p>",
          "shape": "AssetType"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the data set was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description for the data set.</p>",
          "shape": "Description"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the data set.</p>",
          "shape": "Id"
        },
        "Name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "Name"
        },
        "Origin": {
          "documentation": "<p>A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).</p>",
          "shape": "Origin"
        },
        "OriginDetails": {
          "documentation": "<p>If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.</p>",
          "shape": "OriginDetails"
        },
        "SourceId": {
          "documentation": "<p>The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the data set was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "UpdateRevisionRequest": {
      "documentation": "<p>The request body for UpdateRevision.</p>",
      "members": {
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for a data set.</p>",
          "location": "uri",
          "locationName": "DataSetId",
          "shape": "__string"
        },
        "Finalized": {
          "documentation": "<p>Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p>",
          "shape": "__boolean"
        },
        "RevisionId": {
          "documentation": "<p>The unique identifier for a revision.</p>",
          "location": "uri",
          "locationName": "RevisionId",
          "shape": "__string"
        }
      },
      "required": [
        "RevisionId",
        "DataSetId"
      ],
      "type": "structure"
    },
    "UpdateRevisionResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN for the revision.</p>",
          "shape": "Arn"
        },
        "Comment": {
          "documentation": "<p>An optional comment about the revision.</p>",
          "shape": "__stringMin0Max16384"
        },
        "CreatedAt": {
          "documentation": "<p>The date and time that the revision was created, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        },
        "DataSetId": {
          "documentation": "<p>The unique identifier for the data set associated with this revision.</p>",
          "shape": "Id"
        },
        "Finalized": {
          "documentation": "<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that changes to the assets in the revision are complete. After it's in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>",
          "shape": "__boolean"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the revision.</p>",
          "shape": "Id"
        },
        "SourceId": {
          "documentation": "<p>The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.</p>",
          "shape": "Id"
        },
        "UpdatedAt": {
          "documentation": "<p>The date and time that the revision was last updated, in ISO 8601 format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>The request was invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>The message that informs you about what was invalid about the request.</p>",
          "shape": "__string"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "__boolean": {
      "type": "boolean"
    },
    "__double": {
      "type": "double"
    },
    "__doubleMin0": {
      "type": "double"
    },
    "__string": {
      "type": "string"
    },
    "__stringMin0Max16384": {
      "max": 16384,
      "min": 0,
      "type": "string"
    },
    "__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093": {
      "max": 24,
      "min": 24,
      "pattern": "/^(?:[A-Za-z0-9+\\/]{4})*(?:[A-Za-z0-9+\\/]{2}==|[A-Za-z0-9+\\/]{3}=)?$/",
      "type": "string"
    }
  }
}
