{
  "documentation": "<fullname>AWS CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application deployments to Amazon EC2 instances, on-premises instances running in your own facility, serverless AWS Lambda functions, or applications in an Amazon ECS service.</p> <p>You can deploy a nearly unlimited variety of application content, such as an updated Lambda function, updated applications in an Amazon ECS service, code, web and configuration files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy can deploy application content stored in Amazon S3 buckets, GitHub repositories, or Bitbucket repositories. You do not need to make changes to your existing code before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you to rapidly release new features, helps you avoid downtime during application deployment, and handles the complexity of updating your applications, without many of the risks associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b> </p> <p>Use the information in this guide to help you work with the following AWS CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely identifies the application you want to deploy. AWS CodeDeploy uses this name, which functions as a container, to ensure the correct combination of revision, deployment configuration, and deployment group are referenced during a deployment.</p> </li> <li> <p> <b>Deployment group</b>: A set of individual instances, CodeDeploy Lambda deployment configuration settings, or an Amazon ECS service and network details. A Lambda deployment group specifies how to route traffic to a new version of a Lambda function. An Amazon ECS deployment group specifies the service created in Amazon ECS to deploy, a load balancer, and a listener to reroute production traffic to an updated containerized application. An EC2/On-premises deployment group contains individually tagged instances, Amazon EC2 instances in Amazon EC2 Auto Scaling groups, or both. All deployment groups can specify optional trigger, alarm, and rollback settings.</p> </li> <li> <p> <b>Deployment configuration</b>: A set of deployment rules and deployment success and failure conditions used by AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process and the components used when updating a Lambda function, a containerized application in an Amazon ECS service, or of installing content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>: For an AWS Lambda deployment, this is an AppSpec file that specifies the Lambda function to be updated and one or more functions to validate deployment lifecycle events. For an Amazon ECS deployment, this is an AppSpec file that specifies the Amazon ECS task definition, container, and port where production traffic is rerouted. For an EC2/On-premises deployment, this is an archive file that contains source content\u2014source code, webpages, executable files, and deployment scripts\u2014along with an AppSpec file. Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon S3, a revision is uniquely identified by its Amazon S3 object key and its ETag, version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p> </li> </ul> <p>This guide also contains information to help you get details about the instances in your deployments, to make on-premises instances available for AWS CodeDeploy deployments, to get details about a Lambda function deployment, and to get details about Amazon ECS service deployments.</p> <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide\">AWS CodeDeploy User Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/codedeploy/latest/APIReference/\">AWS CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/cli/latest/reference/deploy/index.html\">AWS CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href=\"https://forums.aws.amazon.com/forum.jspa?forumID=179\">AWS CodeDeploy Developer Forum</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2014-10-06",
    "endpointPrefix": "codedeploy",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CodeDeploy",
    "serviceFullName": "AWS CodeDeploy",
    "serviceId": "CodeDeploy",
    "signatureVersion": "v4",
    "targetPrefix": "CodeDeploy_20141006",
    "uid": "codedeploy-2014-10-06"
  },
  "operations": {
    "AddTagsToOnPremisesInstances": {
      "documentation": "<p>Adds tags to on-premises instances.</p>",
      "errors": [
        {
          "shape": "InstanceNameRequiredException"
        },
        {
          "shape": "InvalidInstanceNameException"
        },
        {
          "shape": "TagRequiredException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "InstanceLimitExceededException"
        },
        {
          "shape": "InstanceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToOnPremisesInstancesInput"
      },
      "name": "AddTagsToOnPremisesInstances"
    },
    "BatchGetApplicationRevisions": {
      "documentation": "<p>Gets information about one or more application revisions. The maximum number of application revisions that can be returned is 25.</p>",
      "errors": [
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "RevisionRequiredException"
        },
        {
          "shape": "InvalidRevisionException"
        },
        {
          "shape": "BatchLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetApplicationRevisionsInput"
      },
      "name": "BatchGetApplicationRevisions",
      "output": {
        "shape": "BatchGetApplicationRevisionsOutput"
      }
    },
    "BatchGetApplications": {
      "documentation": "<p>Gets information about one or more applications. The maximum number of applications that can be returned is 25.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "BatchLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetApplicationsInput"
      },
      "name": "BatchGetApplications",
      "output": {
        "shape": "BatchGetApplicationsOutput"
      }
    },
    "BatchGetDeploymentGroups": {
      "documentation": "<p>Gets information about one or more deployment groups.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "BatchLimitExceededException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDeploymentGroupsInput"
      },
      "name": "BatchGetDeploymentGroups",
      "output": {
        "shape": "BatchGetDeploymentGroupsOutput"
      }
    },
    "BatchGetDeploymentInstances": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use BatchGetDeploymentTargets instead.",
      "documentation": "<note> <p> This method works, but is deprecated. Use <code>BatchGetDeploymentTargets</code> instead. </p> </note> <p> Returns an array of one or more instances associated with a deployment. This method works with EC2/On-premises and AWS Lambda compute platforms. The newer <code>BatchGetDeploymentTargets</code> works with all compute platforms. The maximum number of instances that can be returned is 25.</p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "InstanceIdRequiredException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "InvalidInstanceNameException"
        },
        {
          "shape": "BatchLimitExceededException"
        },
        {
          "shape": "InvalidComputePlatformException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDeploymentInstancesInput"
      },
      "name": "BatchGetDeploymentInstances",
      "output": {
        "shape": "BatchGetDeploymentInstancesOutput"
      }
    },
    "BatchGetDeploymentTargets": {
      "documentation": "<p> Returns an array of one or more targets associated with a deployment. This method works with all compute types and should be used instead of the deprecated <code>BatchGetDeploymentInstances</code>. The maximum number of targets that can be returned is 25.</p> <p> The type of targets returned depends on the deployment's compute platform: </p> <ul> <li> <p> <b>EC2/On-premises</b>: Information about EC2 instance targets. </p> </li> <li> <p> <b>AWS Lambda</b>: Information about Lambda functions targets. </p> </li> <li> <p> <b>Amazon ECS</b>: Information about Amazon ECS service targets. </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentNotStartedException"
        },
        {
          "shape": "DeploymentTargetIdRequiredException"
        },
        {
          "shape": "InvalidDeploymentTargetIdException"
        },
        {
          "shape": "DeploymentTargetDoesNotExistException"
        },
        {
          "shape": "DeploymentTargetListSizeExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDeploymentTargetsInput"
      },
      "name": "BatchGetDeploymentTargets",
      "output": {
        "shape": "BatchGetDeploymentTargetsOutput"
      }
    },
    "BatchGetDeployments": {
      "documentation": "<p>Gets information about one or more deployments. The maximum number of deployments that can be returned is 25.</p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "BatchLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDeploymentsInput"
      },
      "name": "BatchGetDeployments",
      "output": {
        "shape": "BatchGetDeploymentsOutput"
      }
    },
    "BatchGetOnPremisesInstances": {
      "documentation": "<p>Gets information about one or more on-premises instances. The maximum number of on-premises instances that can be returned is 25.</p>",
      "errors": [
        {
          "shape": "InstanceNameRequiredException"
        },
        {
          "shape": "InvalidInstanceNameException"
        },
        {
          "shape": "BatchLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetOnPremisesInstancesInput"
      },
      "name": "BatchGetOnPremisesInstances",
      "output": {
        "shape": "BatchGetOnPremisesInstancesOutput"
      }
    },
    "ContinueDeployment": {
      "documentation": "<p>For a blue/green deployment, starts the process of rerouting traffic from instances in the original environment to instances in the replacement environment without waiting for a specified wait time to elapse. (Traffic rerouting, which is achieved by registering instances in the replacement environment with the load balancer, can start as soon as all instances have a status of Ready.) </p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentAlreadyCompletedException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "DeploymentIsNotInReadyStateException"
        },
        {
          "shape": "UnsupportedActionForDeploymentTypeException"
        },
        {
          "shape": "InvalidDeploymentWaitTypeException"
        },
        {
          "shape": "InvalidDeploymentStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ContinueDeploymentInput"
      },
      "name": "ContinueDeployment"
    },
    "CreateApplication": {
      "documentation": "<p>Creates an application.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationAlreadyExistsException"
        },
        {
          "shape": "ApplicationLimitExceededException"
        },
        {
          "shape": "InvalidComputePlatformException"
        },
        {
          "shape": "InvalidTagsToAddException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationInput"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationOutput"
      }
    },
    "CreateDeployment": {
      "documentation": "<p>Deploys an application revision through the specified deployment group.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "RevisionRequiredException"
        },
        {
          "shape": "RevisionDoesNotExistException"
        },
        {
          "shape": "InvalidRevisionException"
        },
        {
          "shape": "InvalidDeploymentConfigNameException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        },
        {
          "shape": "DescriptionTooLongException"
        },
        {
          "shape": "DeploymentLimitExceededException"
        },
        {
          "shape": "InvalidTargetInstancesException"
        },
        {
          "shape": "InvalidAutoRollbackConfigException"
        },
        {
          "shape": "InvalidLoadBalancerInfoException"
        },
        {
          "shape": "InvalidFileExistsBehaviorException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "InvalidAutoScalingGroupException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidUpdateOutdatedInstancesOnlyValueException"
        },
        {
          "shape": "InvalidIgnoreApplicationStopFailuresValueException"
        },
        {
          "shape": "InvalidGitHubAccountTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDeploymentInput"
      },
      "name": "CreateDeployment",
      "output": {
        "shape": "CreateDeploymentOutput"
      }
    },
    "CreateDeploymentConfig": {
      "documentation": "<p> Creates a deployment configuration. </p>",
      "errors": [
        {
          "shape": "InvalidDeploymentConfigNameException"
        },
        {
          "shape": "DeploymentConfigNameRequiredException"
        },
        {
          "shape": "DeploymentConfigAlreadyExistsException"
        },
        {
          "shape": "InvalidMinimumHealthyHostValueException"
        },
        {
          "shape": "DeploymentConfigLimitExceededException"
        },
        {
          "shape": "InvalidComputePlatformException"
        },
        {
          "shape": "InvalidTrafficRoutingConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDeploymentConfigInput"
      },
      "name": "CreateDeploymentConfig",
      "output": {
        "shape": "CreateDeploymentConfigOutput"
      }
    },
    "CreateDeploymentGroup": {
      "documentation": "<p>Creates a deployment group to which application revisions are deployed.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "DeploymentGroupAlreadyExistsException"
        },
        {
          "shape": "InvalidEC2TagException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "InvalidAutoScalingGroupException"
        },
        {
          "shape": "InvalidDeploymentConfigNameException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        },
        {
          "shape": "RoleRequiredException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "DeploymentGroupLimitExceededException"
        },
        {
          "shape": "LifecycleHookLimitExceededException"
        },
        {
          "shape": "InvalidTriggerConfigException"
        },
        {
          "shape": "TriggerTargetsLimitExceededException"
        },
        {
          "shape": "InvalidAlarmConfigException"
        },
        {
          "shape": "AlarmsLimitExceededException"
        },
        {
          "shape": "InvalidAutoRollbackConfigException"
        },
        {
          "shape": "InvalidLoadBalancerInfoException"
        },
        {
          "shape": "InvalidDeploymentStyleException"
        },
        {
          "shape": "InvalidBlueGreenDeploymentConfigurationException"
        },
        {
          "shape": "InvalidEC2TagCombinationException"
        },
        {
          "shape": "InvalidOnPremisesTagCombinationException"
        },
        {
          "shape": "TagSetListLimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidECSServiceException"
        },
        {
          "shape": "InvalidTargetGroupPairException"
        },
        {
          "shape": "ECSServiceMappingLimitExceededException"
        },
        {
          "shape": "InvalidTagsToAddException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDeploymentGroupInput"
      },
      "name": "CreateDeploymentGroup",
      "output": {
        "shape": "CreateDeploymentGroupOutput"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes an application.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "InvalidRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationInput"
      },
      "name": "DeleteApplication"
    },
    "DeleteDeploymentConfig": {
      "documentation": "<p>Deletes a deployment configuration.</p> <note> <p>A deployment configuration cannot be deleted if it is currently in use. Predefined configurations cannot be deleted.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDeploymentConfigNameException"
        },
        {
          "shape": "DeploymentConfigNameRequiredException"
        },
        {
          "shape": "DeploymentConfigInUseException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeploymentConfigInput"
      },
      "name": "DeleteDeploymentConfig"
    },
    "DeleteDeploymentGroup": {
      "documentation": "<p>Deletes a deployment group.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "InvalidRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeploymentGroupInput"
      },
      "name": "DeleteDeploymentGroup",
      "output": {
        "shape": "DeleteDeploymentGroupOutput"
      }
    },
    "DeleteGitHubAccountToken": {
      "documentation": "<p>Deletes a GitHub account connection.</p>",
      "errors": [
        {
          "shape": "GitHubAccountTokenNameRequiredException"
        },
        {
          "shape": "GitHubAccountTokenDoesNotExistException"
        },
        {
          "shape": "InvalidGitHubAccountTokenNameException"
        },
        {
          "shape": "ResourceValidationException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGitHubAccountTokenInput"
      },
      "name": "DeleteGitHubAccountToken",
      "output": {
        "shape": "DeleteGitHubAccountTokenOutput"
      }
    },
    "DeregisterOnPremisesInstance": {
      "documentation": "<p>Deregisters an on-premises instance.</p>",
      "errors": [
        {
          "shape": "InstanceNameRequiredException"
        },
        {
          "shape": "InvalidInstanceNameException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterOnPremisesInstanceInput"
      },
      "name": "DeregisterOnPremisesInstance"
    },
    "GetApplication": {
      "documentation": "<p>Gets information about an application.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetApplicationInput"
      },
      "name": "GetApplication",
      "output": {
        "shape": "GetApplicationOutput"
      }
    },
    "GetApplicationRevision": {
      "documentation": "<p>Gets information about an application revision.</p>",
      "errors": [
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "RevisionDoesNotExistException"
        },
        {
          "shape": "RevisionRequiredException"
        },
        {
          "shape": "InvalidRevisionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetApplicationRevisionInput"
      },
      "name": "GetApplicationRevision",
      "output": {
        "shape": "GetApplicationRevisionOutput"
      }
    },
    "GetDeployment": {
      "documentation": "<p>Gets information about a deployment.</p> <note> <p> The <code>content</code> property of the <code>appSpecContent</code> object in the returned revision is always null. Use <code>GetApplicationRevision</code> and the <code>sha256</code> property of the returned <code>appSpecContent</code> object to get the content of the deployment\u2019s AppSpec file. </p> </note>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeploymentInput"
      },
      "name": "GetDeployment",
      "output": {
        "shape": "GetDeploymentOutput"
      }
    },
    "GetDeploymentConfig": {
      "documentation": "<p>Gets information about a deployment configuration.</p>",
      "errors": [
        {
          "shape": "InvalidDeploymentConfigNameException"
        },
        {
          "shape": "DeploymentConfigNameRequiredException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        },
        {
          "shape": "InvalidComputePlatformException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeploymentConfigInput"
      },
      "name": "GetDeploymentConfig",
      "output": {
        "shape": "GetDeploymentConfigOutput"
      }
    },
    "GetDeploymentGroup": {
      "documentation": "<p>Gets information about a deployment group.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeploymentGroupInput"
      },
      "name": "GetDeploymentGroup",
      "output": {
        "shape": "GetDeploymentGroupOutput"
      }
    },
    "GetDeploymentInstance": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use GetDeploymentTarget instead.",
      "documentation": "<p>Gets information about an instance as part of a deployment.</p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "InstanceIdRequiredException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "InstanceDoesNotExistException"
        },
        {
          "shape": "InvalidInstanceNameException"
        },
        {
          "shape": "InvalidComputePlatformException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeploymentInstanceInput"
      },
      "name": "GetDeploymentInstance",
      "output": {
        "shape": "GetDeploymentInstanceOutput"
      }
    },
    "GetDeploymentTarget": {
      "documentation": "<p> Returns information about a deployment target. </p>",
      "errors": [
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentNotStartedException"
        },
        {
          "shape": "DeploymentTargetIdRequiredException"
        },
        {
          "shape": "InvalidDeploymentTargetIdException"
        },
        {
          "shape": "DeploymentTargetDoesNotExistException"
        },
        {
          "shape": "InvalidInstanceNameException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeploymentTargetInput"
      },
      "name": "GetDeploymentTarget",
      "output": {
        "shape": "GetDeploymentTargetOutput"
      }
    },
    "GetOnPremisesInstance": {
      "documentation": "<p> Gets information about an on-premises instance. </p>",
      "errors": [
        {
          "shape": "InstanceNameRequiredException"
        },
        {
          "shape": "InstanceNotRegisteredException"
        },
        {
          "shape": "InvalidInstanceNameException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOnPremisesInstanceInput"
      },
      "name": "GetOnPremisesInstance",
      "output": {
        "shape": "GetOnPremisesInstanceOutput"
      }
    },
    "ListApplicationRevisions": {
      "documentation": "<p>Lists information about revisions for an application.</p>",
      "errors": [
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "InvalidSortByException"
        },
        {
          "shape": "InvalidSortOrderException"
        },
        {
          "shape": "InvalidBucketNameFilterException"
        },
        {
          "shape": "InvalidKeyPrefixFilterException"
        },
        {
          "shape": "BucketNameFilterRequiredException"
        },
        {
          "shape": "InvalidDeployedStateFilterException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationRevisionsInput"
      },
      "name": "ListApplicationRevisions",
      "output": {
        "shape": "ListApplicationRevisionsOutput"
      }
    },
    "ListApplications": {
      "documentation": "<p>Lists the applications registered with the IAM user or AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationsInput"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsOutput"
      }
    },
    "ListDeploymentConfigs": {
      "documentation": "<p>Lists the deployment configurations with the IAM user or AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeploymentConfigsInput"
      },
      "name": "ListDeploymentConfigs",
      "output": {
        "shape": "ListDeploymentConfigsOutput"
      }
    },
    "ListDeploymentGroups": {
      "documentation": "<p>Lists the deployment groups for an application registered with the IAM user or AWS account.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeploymentGroupsInput"
      },
      "name": "ListDeploymentGroups",
      "output": {
        "shape": "ListDeploymentGroupsOutput"
      }
    },
    "ListDeploymentInstances": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use ListDeploymentTargets instead.",
      "documentation": "<note> <p> The newer BatchGetDeploymentTargets should be used instead because it works with all compute types. <code>ListDeploymentInstances</code> throws an exception if it is used with a compute platform other than EC2/On-premises or AWS Lambda. </p> </note> <p> Lists the instance for a deployment associated with the IAM user or AWS account. </p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentNotStartedException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "InvalidInstanceStatusException"
        },
        {
          "shape": "InvalidInstanceTypeException"
        },
        {
          "shape": "InvalidDeploymentInstanceTypeException"
        },
        {
          "shape": "InvalidTargetFilterNameException"
        },
        {
          "shape": "InvalidComputePlatformException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeploymentInstancesInput"
      },
      "name": "ListDeploymentInstances",
      "output": {
        "shape": "ListDeploymentInstancesOutput"
      }
    },
    "ListDeploymentTargets": {
      "documentation": "<p> Returns an array of target IDs that are associated a deployment. </p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentNotStartedException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "InvalidInstanceStatusException"
        },
        {
          "shape": "InvalidInstanceTypeException"
        },
        {
          "shape": "InvalidDeploymentInstanceTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeploymentTargetsInput"
      },
      "name": "ListDeploymentTargets",
      "output": {
        "shape": "ListDeploymentTargetsOutput"
      }
    },
    "ListDeployments": {
      "documentation": "<p>Lists the deployments in a deployment group for an application registered with the IAM user or AWS account.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "InvalidTimeRangeException"
        },
        {
          "shape": "InvalidDeploymentStatusException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeploymentsInput"
      },
      "name": "ListDeployments",
      "output": {
        "shape": "ListDeploymentsOutput"
      }
    },
    "ListGitHubAccountTokenNames": {
      "documentation": "<p>Lists the names of stored connections to GitHub accounts.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ResourceValidationException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGitHubAccountTokenNamesInput"
      },
      "name": "ListGitHubAccountTokenNames",
      "output": {
        "shape": "ListGitHubAccountTokenNamesOutput"
      }
    },
    "ListOnPremisesInstances": {
      "documentation": "<p>Gets a list of names for one or more on-premises instances.</p> <p>Unless otherwise specified, both registered and deregistered on-premises instance names are listed. To list only registered or deregistered on-premises instance names, use the registration status parameter.</p>",
      "errors": [
        {
          "shape": "InvalidRegistrationStatusException"
        },
        {
          "shape": "InvalidTagFilterException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOnPremisesInstancesInput"
      },
      "name": "ListOnPremisesInstances",
      "output": {
        "shape": "ListOnPremisesInstancesOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> Returns a list of tags for the resource identified by a specified ARN. Tags are used to organize and categorize your CodeDeploy resources. </p>",
      "errors": [
        {
          "shape": "ArnNotSupportedException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "ResourceArnRequiredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "PutLifecycleEventHookExecutionStatus": {
      "documentation": "<p> Sets the result of a Lambda validation function. The function validates one or both lifecycle events (<code>BeforeAllowTraffic</code> and <code>AfterAllowTraffic</code>) and returns <code>Succeeded</code> or <code>Failed</code>. </p>",
      "errors": [
        {
          "shape": "InvalidLifecycleEventHookExecutionStatusException"
        },
        {
          "shape": "InvalidLifecycleEventHookExecutionIdException"
        },
        {
          "shape": "LifecycleEventAlreadyCompletedException"
        },
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "UnsupportedActionForDeploymentTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLifecycleEventHookExecutionStatusInput"
      },
      "name": "PutLifecycleEventHookExecutionStatus",
      "output": {
        "shape": "PutLifecycleEventHookExecutionStatusOutput"
      }
    },
    "RegisterApplicationRevision": {
      "documentation": "<p>Registers with AWS CodeDeploy a revision for the specified application.</p>",
      "errors": [
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "DescriptionTooLongException"
        },
        {
          "shape": "RevisionRequiredException"
        },
        {
          "shape": "InvalidRevisionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterApplicationRevisionInput"
      },
      "name": "RegisterApplicationRevision"
    },
    "RegisterOnPremisesInstance": {
      "documentation": "<p>Registers an on-premises instance.</p> <note> <p>Only one IAM ARN (an IAM session ARN or IAM user ARN) is supported in the request. You cannot use both.</p> </note>",
      "errors": [
        {
          "shape": "InstanceNameAlreadyRegisteredException"
        },
        {
          "shape": "IamArnRequiredException"
        },
        {
          "shape": "IamSessionArnAlreadyRegisteredException"
        },
        {
          "shape": "IamUserArnAlreadyRegisteredException"
        },
        {
          "shape": "InstanceNameRequiredException"
        },
        {
          "shape": "IamUserArnRequiredException"
        },
        {
          "shape": "InvalidInstanceNameException"
        },
        {
          "shape": "InvalidIamSessionArnException"
        },
        {
          "shape": "InvalidIamUserArnException"
        },
        {
          "shape": "MultipleIamArnsProvidedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterOnPremisesInstanceInput"
      },
      "name": "RegisterOnPremisesInstance"
    },
    "RemoveTagsFromOnPremisesInstances": {
      "documentation": "<p>Removes one or more tags from one or more on-premises instances.</p>",
      "errors": [
        {
          "shape": "InstanceNameRequiredException"
        },
        {
          "shape": "InvalidInstanceNameException"
        },
        {
          "shape": "TagRequiredException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "InstanceLimitExceededException"
        },
        {
          "shape": "InstanceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromOnPremisesInstancesInput"
      },
      "name": "RemoveTagsFromOnPremisesInstances"
    },
    "SkipWaitTimeForInstanceTermination": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use ContinueDeployment with DeploymentWaitType instead.",
      "documentation": "<p>In a blue/green deployment, overrides any specified wait time and starts terminating instances immediately after the traffic routing is complete.</p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentAlreadyCompletedException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        },
        {
          "shape": "DeploymentNotStartedException"
        },
        {
          "shape": "UnsupportedActionForDeploymentTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SkipWaitTimeForInstanceTerminationInput"
      },
      "name": "SkipWaitTimeForInstanceTermination"
    },
    "StopDeployment": {
      "documentation": "<p>Attempts to stop an ongoing deployment.</p>",
      "errors": [
        {
          "shape": "DeploymentIdRequiredException"
        },
        {
          "shape": "DeploymentDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "DeploymentAlreadyCompletedException"
        },
        {
          "shape": "InvalidDeploymentIdException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDeploymentInput"
      },
      "name": "StopDeployment",
      "output": {
        "shape": "StopDeploymentOutput"
      }
    },
    "TagResource": {
      "documentation": "<p> Associates the list of tags in the input <code>Tags</code> parameter with the resource identified by the <code>ResourceArn</code> input parameter. </p>",
      "errors": [
        {
          "shape": "ResourceArnRequiredException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        },
        {
          "shape": "TagRequiredException"
        },
        {
          "shape": "InvalidTagsToAddException"
        },
        {
          "shape": "ArnNotSupportedException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p> Disassociates a resource from a list of tags. The resource is identified by the <code>ResourceArn</code> input parameter. The tags are identfied by the list of keys in the <code>TagKeys</code> input parameter. </p>",
      "errors": [
        {
          "shape": "ResourceArnRequiredException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        },
        {
          "shape": "TagRequiredException"
        },
        {
          "shape": "InvalidTagsToAddException"
        },
        {
          "shape": "ArnNotSupportedException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Changes the name of an application.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationAlreadyExistsException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationInput"
      },
      "name": "UpdateApplication"
    },
    "UpdateDeploymentGroup": {
      "documentation": "<p>Changes information about a deployment group.</p>",
      "errors": [
        {
          "shape": "ApplicationNameRequiredException"
        },
        {
          "shape": "InvalidApplicationNameException"
        },
        {
          "shape": "ApplicationDoesNotExistException"
        },
        {
          "shape": "InvalidDeploymentGroupNameException"
        },
        {
          "shape": "DeploymentGroupAlreadyExistsException"
        },
        {
          "shape": "DeploymentGroupNameRequiredException"
        },
        {
          "shape": "DeploymentGroupDoesNotExistException"
        },
        {
          "shape": "InvalidEC2TagException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "InvalidAutoScalingGroupException"
        },
        {
          "shape": "InvalidDeploymentConfigNameException"
        },
        {
          "shape": "DeploymentConfigDoesNotExistException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "LifecycleHookLimitExceededException"
        },
        {
          "shape": "InvalidTriggerConfigException"
        },
        {
          "shape": "TriggerTargetsLimitExceededException"
        },
        {
          "shape": "InvalidAlarmConfigException"
        },
        {
          "shape": "AlarmsLimitExceededException"
        },
        {
          "shape": "InvalidAutoRollbackConfigException"
        },
        {
          "shape": "InvalidLoadBalancerInfoException"
        },
        {
          "shape": "InvalidDeploymentStyleException"
        },
        {
          "shape": "InvalidBlueGreenDeploymentConfigurationException"
        },
        {
          "shape": "InvalidEC2TagCombinationException"
        },
        {
          "shape": "InvalidOnPremisesTagCombinationException"
        },
        {
          "shape": "TagSetListLimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InvalidECSServiceException"
        },
        {
          "shape": "InvalidTargetGroupPairException"
        },
        {
          "shape": "ECSServiceMappingLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDeploymentGroupInput"
      },
      "name": "UpdateDeploymentGroup",
      "output": {
        "shape": "UpdateDeploymentGroupOutput"
      }
    }
  },
  "shapes": {
    "AddTagsToOnPremisesInstancesInput": {
      "documentation": "<p>Represents the input of, and adds tags to, an on-premises instance operation.</p>",
      "members": {
        "instanceNames": {
          "documentation": "<p>The names of the on-premises instances to which to add tags.</p>",
          "shape": "InstanceNameList"
        },
        "tags": {
          "documentation": "<p>The tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values are both required. Keys cannot be null or empty strings. Value-only tags are not allowed.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "tags",
        "instanceNames"
      ],
      "type": "structure"
    },
    "AdditionalDeploymentStatusInfo": {
      "deprecated": true,
      "deprecatedMessage": "AdditionalDeploymentStatusInfo is deprecated, use DeploymentStatusMessageList instead.",
      "type": "string"
    },
    "Alarm": {
      "documentation": "<p>Information about an alarm.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the alarm. Maximum length is 255 characters. Each alarm name can be used only once in a list of alarms.</p>",
          "shape": "AlarmName"
        }
      },
      "type": "structure"
    },
    "AlarmConfiguration": {
      "documentation": "<p>Information about alarms associated with the deployment group.</p>",
      "members": {
        "alarms": {
          "documentation": "<p>A list of alarms configured for the deployment group. A maximum of 10 alarms can be added to a deployment group.</p>",
          "shape": "AlarmList"
        },
        "enabled": {
          "documentation": "<p>Indicates whether the alarm configuration is enabled.</p>",
          "shape": "Boolean"
        },
        "ignorePollAlarmFailure": {
          "documentation": "<p>Indicates whether a deployment should continue if information about the current state of alarms cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul> <li> <p>true: The deployment proceeds even if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> <li> <p>false: The deployment stops if alarm status information can't be retrieved from Amazon CloudWatch.</p> </li> </ul>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AlarmList": {
      "member": {
        "shape": "Alarm"
      },
      "type": "list"
    },
    "AlarmName": {
      "type": "string"
    },
    "AlarmsLimitExceededException": {
      "documentation": "<p>The maximum number of alarms for a deployment group (10) was exceeded.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AppSpecContent": {
      "documentation": "<p> A revision for an AWS Lambda or Amazon ECS deployment that is a YAML-formatted or JSON-formatted string. For AWS Lambda and Amazon ECS deployments, the revision is the same as the AppSpec file. This method replaces the deprecated <code>RawString</code> data type. </p>",
      "members": {
        "content": {
          "documentation": "<p> The YAML-formatted or JSON-formatted revision string. </p> <p> For an AWS Lambda deployment, the content includes a Lambda function name, the alias for its original version, and the alias for its replacement version. The deployment shifts traffic from the original version of the Lambda function to the replacement version. </p> <p> For an Amazon ECS deployment, the content includes the task name, information about the load balancer that serves traffic to the container, and more. </p> <p> For both types of deployments, the content can specify Lambda functions that run at specified hooks, such as <code>BeforeInstall</code>, during a deployment. </p>",
          "shape": "RawStringContent"
        },
        "sha256": {
          "documentation": "<p> The SHA256 hash value of the revision content. </p>",
          "shape": "RawStringSha256"
        }
      },
      "type": "structure"
    },
    "ApplicationAlreadyExistsException": {
      "documentation": "<p>An application with the specified name with the IAM user or AWS account already exists.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ApplicationDoesNotExistException": {
      "documentation": "<p>The application does not exist with the IAM user or AWS account.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ApplicationId": {
      "type": "string"
    },
    "ApplicationInfo": {
      "documentation": "<p>Information about an application.</p>",
      "members": {
        "applicationId": {
          "documentation": "<p>The application ID.</p>",
          "shape": "ApplicationId"
        },
        "applicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "computePlatform": {
          "documentation": "<p>The destination platform type for deployment of the application (<code>Lambda</code> or <code>Server</code>).</p>",
          "shape": "ComputePlatform"
        },
        "createTime": {
          "documentation": "<p>The time at which the application was created.</p>",
          "shape": "Timestamp"
        },
        "gitHubAccountName": {
          "documentation": "<p>The name for a connection to a GitHub account.</p>",
          "shape": "GitHubAccountTokenName"
        },
        "linkedToGitHub": {
          "documentation": "<p>True if the user has authenticated with GitHub for the specified application. Otherwise, false.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ApplicationLimitExceededException": {
      "documentation": "<p>More applications were attempted to be created than are allowed.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ApplicationName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ApplicationNameRequiredException": {
      "documentation": "<p>The minimum number of required application names was not specified.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ApplicationRevisionSortBy": {
      "enum": [
        "registerTime",
        "firstUsedTime",
        "lastUsedTime"
      ],
      "type": "string"
    },
    "ApplicationsInfoList": {
      "member": {
        "shape": "ApplicationInfo"
      },
      "type": "list"
    },
    "ApplicationsList": {
      "member": {
        "shape": "ApplicationName"
      },
      "type": "list"
    },
    "Arn": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "ArnNotSupportedException": {
      "documentation": "<p> The specified ARN is not supported. For example, it might be an ARN for a resource that is not expected. </p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AutoRollbackConfiguration": {
      "documentation": "<p>Information about a configuration for automatically rolling back to a previous version of an application revision when a deployment is not completed successfully.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>Indicates whether a defined automatic rollback configuration is currently enabled.</p>",
          "shape": "Boolean"
        },
        "events": {
          "documentation": "<p>The event type or types that trigger a rollback.</p>",
          "shape": "AutoRollbackEventsList"
        }
      },
      "type": "structure"
    },
    "AutoRollbackEvent": {
      "enum": [
        "DEPLOYMENT_FAILURE",
        "DEPLOYMENT_STOP_ON_ALARM",
        "DEPLOYMENT_STOP_ON_REQUEST"
      ],
      "type": "string"
    },
    "AutoRollbackEventsList": {
      "member": {
        "shape": "AutoRollbackEvent"
      },
      "type": "list"
    },
    "AutoScalingGroup": {
      "documentation": "<p>Information about an Auto Scaling group.</p>",
      "members": {
        "hook": {
          "documentation": "<p>An Auto Scaling lifecycle event hook name.</p>",
          "shape": "AutoScalingGroupHook"
        },
        "name": {
          "documentation": "<p>The Auto Scaling group name.</p>",
          "shape": "AutoScalingGroupName"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroupHook": {
      "type": "string"
    },
    "AutoScalingGroupList": {
      "member": {
        "shape": "AutoScalingGroup"
      },
      "type": "list"
    },
    "AutoScalingGroupName": {
      "type": "string"
    },
    "AutoScalingGroupNameList": {
      "member": {
        "shape": "AutoScalingGroupName"
      },
      "type": "list"
    },
    "BatchGetApplicationRevisionsInput": {
      "documentation": "<p>Represents the input of a BatchGetApplicationRevisions operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of an AWS CodeDeploy application about which to get revision information.</p>",
          "shape": "ApplicationName"
        },
        "revisions": {
          "documentation": "<p>An array of <code>RevisionLocation</code> objects that specify information to get about the application revisions, including type and location. The maximum number of <code>RevisionLocation</code> objects you can specify is 25.</p>",
          "shape": "RevisionLocationList"
        }
      },
      "required": [
        "applicationName",
        "revisions"
      ],
      "type": "structure"
    },
    "BatchGetApplicationRevisionsOutput": {
      "documentation": "<p>Represents the output of a BatchGetApplicationRevisions operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of the application that corresponds to the revisions.</p>",
          "shape": "ApplicationName"
        },
        "errorMessage": {
          "documentation": "<p>Information about errors that might have occurred during the API call.</p>",
          "shape": "ErrorMessage"
        },
        "revisions": {
          "documentation": "<p>Additional information about the revisions, including the type and location.</p>",
          "shape": "RevisionInfoList"
        }
      },
      "type": "structure"
    },
    "BatchGetApplicationsInput": {
      "documentation": "<p>Represents the input of a BatchGetApplications operation.</p>",
      "members": {
        "applicationNames": {
          "documentation": "<p>A list of application names separated by spaces. The maximum number of application names you can specify is 25.</p>",
          "shape": "ApplicationsList"
        }
      },
      "required": [
        "applicationNames"
      ],
      "type": "structure"
    },
    "BatchGetApplicationsOutput": {
      "documentation": "<p>Represents the output of a BatchGetApplications operation.</p>",
      "members": {
        "applicationsInfo": {
          "documentation": "<p>Information about the applications.</p>",
          "shape": "ApplicationsInfoList"
        }
      },
      "type": "structure"
    },
    "BatchGetDeploymentGroupsInput": {
      "documentation": "<p>Represents the input of a BatchGetDeploymentGroups operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of an AWS CodeDeploy application associated with the applicable IAM user or AWS account.</p>",
          "shape": "ApplicationName"
        },
        "deploymentGroupNames": {
          "documentation": "<p>The names of the deployment groups.</p>",
          "shape": "DeploymentGroupsList"
        }
      },
      "required": [
        "applicationName",
        "deploymentGroupNames"
      ],
      "type": "structure"
    },
    "BatchGetDeploymentGroupsOutput": {
      "documentation": "<p>Represents the output of a BatchGetDeploymentGroups operation.</p>",
      "members": {
        "deploymentGroupsInfo": {
          "documentation": "<p>Information about the deployment groups.</p>",
          "shape": "DeploymentGroupInfoList"
        },
        "errorMessage": {
          "documentation": "<p>Information about errors that might have occurred during the API call.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "BatchGetDeploymentInstancesInput": {
      "documentation": "<p> Represents the input of a BatchGetDeploymentInstances operation. </p>",
      "members": {
        "deploymentId": {
          "documentation": "<p> The unique ID of a deployment. </p>",
          "shape": "DeploymentId"
        },
        "instanceIds": {
          "documentation": "<p>The unique IDs of instances used in the deployment. The maximum number of instance IDs you can specify is 25.</p>",
          "shape": "InstancesList"
        }
      },
      "required": [
        "deploymentId",
        "instanceIds"
      ],
      "type": "structure"
    },
    "BatchGetDeploymentInstancesOutput": {
      "documentation": "<p>Represents the output of a BatchGetDeploymentInstances operation.</p>",
      "members": {
        "errorMessage": {
          "documentation": "<p>Information about errors that might have occurred during the API call.</p>",
          "shape": "ErrorMessage"
        },
        "instancesSummary": {
          "documentation": "<p>Information about the instance.</p>",
          "shape": "InstanceSummaryList"
        }
      },
      "type": "structure"
    },
    "BatchGetDeploymentTargetsInput": {
      "members": {
        "deploymentId": {
          "documentation": "<p> The unique ID of a deployment. </p>",
          "shape": "DeploymentId"
        },
        "targetIds": {
          "documentation": "<p> The unique IDs of the deployment targets. The compute platform of the deployment determines the type of the targets and their formats. The maximum number of deployment target IDs you can specify is 25.</p> <ul> <li> <p> For deployments that use the EC2/On-premises compute platform, the target IDs are EC2 or on-premises instances IDs, and their target type is <code>instanceTarget</code>. </p> </li> <li> <p> For deployments that use the AWS Lambda compute platform, the target IDs are the names of Lambda functions, and their target type is <code>instanceTarget</code>. </p> </li> <li> <p> For deployments that use the Amazon ECS compute platform, the target IDs are pairs of Amazon ECS clusters and services specified using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. Their target type is <code>ecsTarget</code>. </p> </li> </ul>",
          "shape": "TargetIdList"
        }
      },
      "type": "structure"
    },
    "BatchGetDeploymentTargetsOutput": {
      "members": {
        "deploymentTargets": {
          "documentation": "<p> A list of target objects for a deployment. Each target object contains details about the target, such as its status and lifecycle events. The type of the target objects depends on the deployment' compute platform. </p> <ul> <li> <p> <b>EC2/On-premises</b>: Each target object is an EC2 or on-premises instance. </p> </li> <li> <p> <b>AWS Lambda</b>: The target object is a specific version of an AWS Lambda function. </p> </li> <li> <p> <b>Amazon ECS</b>: The target object is an Amazon ECS service. </p> </li> </ul>",
          "shape": "DeploymentTargetList"
        }
      },
      "type": "structure"
    },
    "BatchGetDeploymentsInput": {
      "documentation": "<p> Represents the input of a BatchGetDeployments operation. </p>",
      "members": {
        "deploymentIds": {
          "documentation": "<p> A list of deployment IDs, separated by spaces. The maximum number of deployment IDs you can specify is 25.</p>",
          "shape": "DeploymentsList"
        }
      },
      "required": [
        "deploymentIds"
      ],
      "type": "structure"
    },
    "BatchGetDeploymentsOutput": {
      "documentation": "<p> Represents the output of a BatchGetDeployments operation. </p>",
      "members": {
        "deploymentsInfo": {
          "documentation": "<p> Information about the deployments. </p>",
          "shape": "DeploymentsInfoList"
        }
      },
      "type": "structure"
    },
    "BatchGetOnPremisesInstancesInput": {
      "documentation": "<p>Represents the input of a BatchGetOnPremisesInstances operation.</p>",
      "members": {
        "instanceNames": {
          "documentation": "<p>The names of the on-premises instances about which to get information. The maximum number of instance names you can specify is 25.</p>",
          "shape": "InstanceNameList"
        }
      },
      "required": [
        "instanceNames"
      ],
      "type": "structure"
    },
    "BatchGetOnPremisesInstancesOutput": {
      "documentation": "<p>Represents the output of a BatchGetOnPremisesInstances operation.</p>",
      "members": {
        "instanceInfos": {
          "documentation": "<p>Information about the on-premises instances.</p>",
          "shape": "InstanceInfoList"
        }
      },
      "type": "structure"
    },
    "BatchLimitExceededException": {
      "documentation": "<p>The maximum number of names or IDs allowed for this request (100) was exceeded.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "BlueGreenDeploymentConfiguration": {
      "documentation": "<p>Information about blue/green deployment options for a deployment group.</p>",
      "members": {
        "deploymentReadyOption": {
          "documentation": "<p>Information about the action to take when newly provisioned instances are ready to receive traffic in a blue/green deployment.</p>",
          "shape": "DeploymentReadyOption"
        },
        "greenFleetProvisioningOption": {
          "documentation": "<p>Information about how instances are provisioned for a replacement environment in a blue/green deployment.</p>",
          "shape": "GreenFleetProvisioningOption"
        },
        "terminateBlueInstancesOnDeploymentSuccess": {
          "documentation": "<p>Information about whether to terminate instances in the original fleet during a blue/green deployment.</p>",
          "shape": "BlueInstanceTerminationOption"
        }
      },
      "type": "structure"
    },
    "BlueInstanceTerminationOption": {
      "documentation": "<p>Information about whether instances in the original environment are terminated when a blue/green deployment is successful. <code>BlueInstanceTerminationOption</code> does not apply to Lambda deployments. </p>",
      "members": {
        "action": {
          "documentation": "<p>The action to take on instances in the original environment after a successful blue/green deployment.</p> <ul> <li> <p>TERMINATE: Instances are terminated after a specified wait time.</p> </li> <li> <p>KEEP_ALIVE: Instances are left running after they are deregistered from the load balancer and removed from the deployment group.</p> </li> </ul>",
          "shape": "InstanceAction"
        },
        "terminationWaitTimeInMinutes": {
          "documentation": "<p>For an Amazon EC2 deployment, the number of minutes to wait after a successful blue/green deployment before terminating instances from the original environment.</p> <p> For an Amazon ECS deployment, the number of minutes before deleting the original (blue) task set. During an Amazon ECS deployment, CodeDeploy shifts traffic from the original (blue) task set to a replacement (green) task set. </p> <p> The maximum setting is 2880 minutes (2 days). </p>",
          "shape": "Duration"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BucketNameFilterRequiredException": {
      "documentation": "<p>A bucket name is required, but was not provided.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "BundleType": {
      "enum": [
        "tar",
        "tgz",
        "zip",
        "YAML",
        "JSON"
      ],
      "type": "string"
    },
    "CommitId": {
      "type": "string"
    },
    "ComputePlatform": {
      "enum": [
        "Server",
        "Lambda",
        "ECS"
      ],
      "type": "string"
    },
    "ContinueDeploymentInput": {
      "members": {
        "deploymentId": {
          "documentation": "<p> The unique ID of a blue/green deployment for which you want to start rerouting traffic to the replacement environment. </p>",
          "shape": "DeploymentId"
        },
        "deploymentWaitType": {
          "documentation": "<p> The status of the deployment's waiting period. READY_WAIT indicates the deployment is ready to start shifting traffic. TERMINATION_WAIT indicates the traffic is shifted, but the original target is not terminated. </p>",
          "shape": "DeploymentWaitType"
        }
      },
      "type": "structure"
    },
    "CreateApplicationInput": {
      "documentation": "<p>Represents the input of a CreateApplication operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of the application. This name must be unique with the applicable IAM user or AWS account.</p>",
          "shape": "ApplicationName"
        },
        "computePlatform": {
          "documentation": "<p> The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>",
          "shape": "ComputePlatform"
        },
        "tags": {
          "documentation": "<p> The metadata that you apply to CodeDeploy applications to help you organize and categorize them. Each tag consists of a key and an optional value, both of which you define. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "applicationName"
      ],
      "type": "structure"
    },
    "CreateApplicationOutput": {
      "documentation": "<p>Represents the output of a CreateApplication operation.</p>",
      "members": {
        "applicationId": {
          "documentation": "<p>A unique application ID.</p>",
          "shape": "ApplicationId"
        }
      },
      "type": "structure"
    },
    "CreateDeploymentConfigInput": {
      "documentation": "<p>Represents the input of a CreateDeploymentConfig operation.</p>",
      "members": {
        "computePlatform": {
          "documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>",
          "shape": "ComputePlatform"
        },
        "deploymentConfigName": {
          "documentation": "<p>The name of the deployment configuration to create.</p>",
          "shape": "DeploymentConfigName"
        },
        "minimumHealthyHosts": {
          "documentation": "<p>The minimum number of healthy instances that should be available at any time during the deployment. There are two parameters expected in the input: type and value.</p> <p>The type parameter takes either of the following values:</p> <ul> <li> <p>HOST_COUNT: The value parameter represents the minimum number of healthy instances as an absolute value.</p> </li> <li> <p>FLEET_PERCENT: The value parameter represents the minimum number of healthy instances as a percentage of the total number of instances in the deployment. If you specify FLEET_PERCENT, at the start of the deployment, AWS CodeDeploy converts the percentage to the equivalent number of instance and rounds up fractional instances.</p> </li> </ul> <p>The value parameter takes an integer.</p> <p>For example, to set a minimum of 95% healthy instance, specify a type of FLEET_PERCENT and a value of 95.</p>",
          "shape": "MinimumHealthyHosts"
        },
        "trafficRoutingConfig": {
          "documentation": "<p>The configuration that specifies how the deployment traffic is routed.</p>",
          "shape": "TrafficRoutingConfig"
        }
      },
      "required": [
        "deploymentConfigName"
      ],
      "type": "structure"
    },
    "CreateDeploymentConfigOutput": {
      "documentation": "<p>Represents the output of a CreateDeploymentConfig operation.</p>",
      "members": {
        "deploymentConfigId": {
          "documentation": "<p>A unique deployment configuration ID.</p>",
          "shape": "DeploymentConfigId"
        }
      },
      "type": "structure"
    },
    "CreateDeploymentGroupInput": {
      "documentation": "<p>Represents the input of a CreateDeploymentGroup operation.</p>",
      "members": {
        "alarmConfiguration": {
          "documentation": "<p>Information to add about Amazon CloudWatch alarms when the deployment group is created.</p>",
          "shape": "AlarmConfiguration"
        },
        "applicationName": {
          "documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS account.</p>",
          "shape": "ApplicationName"
        },
        "autoRollbackConfiguration": {
          "documentation": "<p>Configuration information for an automatic rollback that is added when a deployment group is created.</p>",
          "shape": "AutoRollbackConfiguration"
        },
        "autoScalingGroups": {
          "documentation": "<p>A list of associated Amazon EC2 Auto Scaling groups.</p>",
          "shape": "AutoScalingGroupNameList"
        },
        "blueGreenDeploymentConfiguration": {
          "documentation": "<p>Information about blue/green deployment options for a deployment group.</p>",
          "shape": "BlueGreenDeploymentConfiguration"
        },
        "deploymentConfigName": {
          "documentation": "<p>If specified, the deployment configuration name can be either one of the predefined configurations provided with AWS CodeDeploy or a custom deployment configuration that you create by calling the create deployment configuration operation.</p> <p>CodeDeployDefault.OneAtATime is the default deployment configuration. It is used if a configuration isn't specified for the deployment or deployment group.</p> <p>For more information about the predefined deployment configurations in AWS CodeDeploy, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/deployment-configurations.html\">Working with Deployment Groups in AWS CodeDeploy</a> in the AWS CodeDeploy User Guide.</p>",
          "shape": "DeploymentConfigName"
        },
        "deploymentGroupName": {
          "documentation": "<p>The name of a new deployment group for the specified application.</p>",
          "shape": "DeploymentGroupName"
        },
        "deploymentStyle": {
          "documentation": "<p>Information about the type of deployment, in-place or blue/green, that you want to run and whether to route deployment traffic behind a load balancer.</p>",
          "shape": "DeploymentStyle"
        },
        "ec2TagFilters": {
          "documentation": "<p>The Amazon EC2 tags on which to filter. The deployment group includes EC2 instances with any of the specified tags. Cannot be used in the same call as ec2TagSet.</p>",
          "shape": "EC2TagFilterList"
        },
        "ec2TagSet": {
          "documentation": "<p>Information about groups of tags applied to EC2 instances. The deployment group includes only EC2 instances identified by all the tag groups. Cannot be used in the same call as ec2TagFilters.</p>",
          "shape": "EC2TagSet"
        },
        "ecsServices": {
          "documentation": "<p> The target Amazon ECS services in the deployment group. This applies only to deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service is specified as an Amazon ECS cluster and service name pair using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. </p>",
          "shape": "ECSServiceList"
        },
        "loadBalancerInfo": {
          "documentation": "<p>Information about the load balancer used in a deployment.</p>",
          "shape": "LoadBalancerInfo"
        },
        "onPremisesInstanceTagFilters": {
          "documentation": "<p>The on-premises instance tags on which to filter. The deployment group includes on-premises instances with any of the specified tags. Cannot be used in the same call as OnPremisesTagSet.</p>",
          "shape": "TagFilterList"
        },
        "onPremisesTagSet": {
          "documentation": "<p>Information about groups of tags applied to on-premises instances. The deployment group includes only on-premises instances identified by all of the tag groups. Cannot be used in the same call as onPremisesInstanceTagFilters.</p>",
          "shape": "OnPremisesTagSet"
        },
        "serviceRoleArn": {
          "documentation": "<p>A service role ARN that allows AWS CodeDeploy to act on the user's behalf when interacting with AWS services.</p>",
          "shape": "Role"
        },
        "tags": {
          "documentation": "<p> The metadata that you apply to CodeDeploy deployment groups to help you organize and categorize them. Each tag consists of a key and an optional value, both of which you define. </p>",
          "shape": "TagList"
        },
        "triggerConfigurations": {
          "documentation": "<p>Information about triggers to create when the deployment group is created. For examples, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/how-to-notify-sns.html\">Create a Trigger for an AWS CodeDeploy Event</a> in the AWS CodeDeploy User Guide.</p>",
          "shape": "TriggerConfigList"
        }
      },
      "required": [
        "applicationName",
        "deploymentGroupName",
        "serviceRoleArn"
      ],
      "type": "structure"
    },
    "CreateDeploymentGroupOutput": {
      "documentation": "<p>Represents the output of a CreateDeploymentGroup operation.</p>",
      "members": {
        "deploymentGroupId": {
          "documentation": "<p>A unique deployment group ID.</p>",
          "shape": "DeploymentGroupId"
        }
      },
      "type": "structure"
    },
    "CreateDeploymentInput": {
      "documentation": "<p>Represents the input of a CreateDeployment operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS account.</p>",
          "shape": "ApplicationName"
        },
        "autoRollbackConfiguration": {
          "documentation": "<p>Configuration information for an automatic rollback that is added when a deployment is created.</p>",
          "shape": "AutoRollbackConfiguration"
        },
        "deploymentConfigName": {
          "documentation": "<p>The name of a deployment configuration associated with the IAM user or AWS account.</p> <p>If not specified, the value configured in the deployment group is used as the default. If the deployment group does not have a deployment configuration associated with it, CodeDeployDefault.OneAtATime is used by default.</p>",
          "shape": "DeploymentConfigName"
        },
        "deploymentGroupName": {
          "documentation": "<p>The name of the deployment group.</p>",
          "shape": "DeploymentGroupName"
        },
        "description": {
          "documentation": "<p>A comment about the deployment.</p>",
          "shape": "Description"
        },
        "fileExistsBehavior": {
          "documentation": "<p>Information about how AWS CodeDeploy handles files that already exist in a deployment target location but weren't part of the previous successful deployment.</p> <p>The fileExistsBehavior parameter takes any of the following values:</p> <ul> <li> <p>DISALLOW: The deployment fails. This is also the default behavior if no option is specified.</p> </li> <li> <p>OVERWRITE: The version of the file from the application revision currently being deployed replaces the version already on the instance.</p> </li> <li> <p>RETAIN: The version of the file already on the instance is kept and used as part of the new deployment.</p> </li> </ul>",
          "shape": "FileExistsBehavior"
        },
        "ignoreApplicationStopFailures": {
          "documentation": "<p> If true, then if an ApplicationStop, BeforeBlockTraffic, or AfterBlockTraffic deployment lifecycle event to an instance fails, then the deployment continues to the next deployment lifecycle event. For example, if ApplicationStop fails, the deployment continues with DownloadBundle. If BeforeBlockTraffic fails, the deployment continues with BlockTraffic. If AfterBlockTraffic fails, the deployment continues with ApplicationStop. </p> <p> If false or not specified, then if a lifecycle event fails during a deployment to an instance, that deployment fails. If deployment to that instance is part of an overall deployment and the number of healthy hosts is not less than the minimum number of healthy hosts, then a deployment to the next instance is attempted. </p> <p> During a deployment, the AWS CodeDeploy agent runs the scripts specified for ApplicationStop, BeforeBlockTraffic, and AfterBlockTraffic in the AppSpec file from the previous successful deployment. (All other scripts are run from the AppSpec file in the current deployment.) If one of these scripts contains an error and does not run successfully, the deployment can fail. </p> <p> If the cause of the failure is a script from the last successful deployment that will never run successfully, create a new deployment and use <code>ignoreApplicationStopFailures</code> to specify that the ApplicationStop, BeforeBlockTraffic, and AfterBlockTraffic failures should be ignored. </p>",
          "shape": "Boolean"
        },
        "revision": {
          "documentation": "<p> The type and location of the revision to deploy. </p>",
          "shape": "RevisionLocation"
        },
        "targetInstances": {
          "documentation": "<p> Information about the instances that belong to the replacement environment in a blue/green deployment. </p>",
          "shape": "TargetInstances"
        },
        "updateOutdatedInstancesOnly": {
          "documentation": "<p> Indicates whether to deploy to all instances or only to instances that are not running the latest application revision. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "applicationName"
      ],
      "type": "structure"
    },
    "CreateDeploymentOutput": {
      "documentation": "<p> Represents the output of a CreateDeployment operation. </p>",
      "members": {
        "deploymentId": {
          "documentation": "<p> The unique ID of a deployment. </p>",
          "shape": "DeploymentId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationInput": {
      "documentation": "<p>Represents the input of a DeleteApplication operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS account.</p>",
          "shape": "ApplicationName"
        }
      },
      "required": [
        "applicationName"
      ],
      "type": "structure"
    },
    "DeleteDeploymentConfigInput": {
      "documentation": "<p>Represents the input of a DeleteDeploymentConfig operation.</p>",
      "members": {
        "deploymentConfigName": {
          "documentation": "<p>The name of a deployment configuration associated with the IAM user or AWS account.</p>",
          "shape": "DeploymentConfigName"
        }
      },
      "required": [
        "deploymentConfigName"
      ],
      "type": "structure"
    },
    "DeleteDeploymentGroupInput": {
      "documentation": "<p>Represents the input of a DeleteDeploymentGroup operation.</p>",
      "members": {
        "applicationName": {
          "documentation": "<p>The name of an AWS CodeDeploy application associated with the IAM user or AWS account.</p>",
          "shape": "ApplicationName"
        },
        "deploymentGroupName": {
          "documentation": "<p>The name of a deployment group for the specified application.</p>",
          "shape": "DeploymentGroupName"
        }
      },
      "required": [
        "applicationName",
        "deploymentGroupName"
      ],
      "type": "structure"
    },
    "DeleteDeploymentGroupOutput": {
      "documentation": "<p>Represents the output of a DeleteDeploymentGroup operation.</p>",
      "members": {
        "hooksNotCleanedUp": {
          "documentation": "<p>If the output contains no data, and the corresponding deployment group contained at least one Auto Scaling group, AWS CodeDeploy successfully removed all corresponding Auto Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group. If the output contains data, AWS CodeDeploy could not remove some Auto Scaling lifecycle event hooks from the Amazon EC2 instances in the Auto Scaling group.</p>",
          "shape": "AutoScalingGroupList"
        }
      },
      "type": "structure"
    },
    "DeleteGitHubAccountTokenInput": {
      "documentation": "<p>Represents the input of a DeleteGitHubAccount operation.</p>",
      "members": {
        "tokenName": {
          "documentation": "<p>The name of the GitHub account connection to delete.</p>",
          "shape": "GitHubAccountTokenName"
        }
      },
      "type": "structure"
    },
    "DeleteGitHubAccountTokenOutput": {
      "documentation": "<p>Represents the output of a DeleteGitHubAccountToken operation.</p>",
      "members": {
        "tokenName": {
          "documentation": "<p>The name of the GitHub account connection that was deleted.</p>",
          "shape": "GitHubAccountTokenName"
        }
      },
      "type": "structure"
    },
    "DeploymentAlreadyCompletedException": {
      "documentation": "<p>The deployment is already complete.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentAlreadyStartedException": {
      "documentation": "<p> A deployment to a target was attempted while another deployment was in progress. </p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentConfigAlreadyExistsException": {
      "documentation": "<p>A deployment configuration with the specified name with the IAM user or AWS account already exists .</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentConfigDoesNotExistException": {
      "documentation": "<p>The deployment configuration does not exist with the IAM user or AWS account.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentConfigId": {
      "type": "string"
    },
    "DeploymentConfigInUseException": {
      "documentation": "<p>The deployment configuration is still in use.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentConfigInfo": {
      "documentation": "<p>Information about a deployment configuration.</p>",
      "members": {
        "computePlatform": {
          "documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>",
          "shape": "ComputePlatform"
        },
        "createTime": {
          "documentation": "<p>The time at which the deployment configuration was created.</p>",
          "shape": "Timestamp"
        },
        "deploymentConfigId": {
          "documentation": "<p>The deployment configuration ID.</p>",
          "shape": "DeploymentConfigId"
        },
        "deploymentConfigName": {
          "documentation": "<p>The deployment configuration name.</p>",
          "shape": "DeploymentConfigName"
        },
        "minimumHealthyHosts": {
          "documentation": "<p>Information about the number or percentage of minimum healthy instance.</p>",
          "shape": "MinimumHealthyHosts"
        },
        "trafficRoutingConfig": {
          "documentation": "<p>The configuration that specifies how the deployment traffic is routed. Only deployments with a Lambda compute platform can specify this.</p>",
          "shape": "TrafficRoutingConfig"
        }
      },
      "type": "structure"
    },
    "DeploymentConfigLimitExceededException": {
      "documentation": "<p>The deployment configurations limit was exceeded.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentConfigName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "DeploymentConfigNameRequiredException": {
      "documentation": "<p>The deployment configuration name was not specified.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentConfigsList": {
      "member": {
        "shape": "DeploymentConfigName"
      },
      "type": "list"
    },
    "DeploymentCreator": {
      "enum": [
        "user",
        "autoscaling",
        "codeDeployRollback"
      ],
      "type": "string"
    },
    "DeploymentDoesNotExistException": {
      "documentation": "<p>The deployment with the IAM user or AWS account does not exist.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentGroupAlreadyExistsException": {
      "documentation": "<p>A deployment group with the specified name with the IAM user or AWS account already exists.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentGroupDoesNotExistException": {
      "documentation": "<p>The named deployment group with the IAM user or AWS account does not exist.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentGroupId": {
      "type": "string"
    },
    "DeploymentGroupInfo": {
      "documentation": "<p>Information about a deployment group.</p>",
      "members": {
        "alarmConfiguration": {
          "documentation": "<p>A list of alarms associated with the deployment group.</p>",
          "shape": "AlarmConfiguration"
        },
        "applicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "autoRollbackConfiguration": {
          "documentation": "<p>Information about the automatic rollback configuration associated with the deployment group.</p>",
          "shape": "AutoRollbackConfiguration"
        },
        "autoScalingGroups": {
          "documentation": "<p>A list of associated Auto Scaling groups.</p>",
          "shape": "AutoScalingGroupList"
        },
        "blueGreenDeploymentConfiguration": {
          "documentation": "<p>Information about blue/green deployment options for a deployment group.</p>",
          "shape": "BlueGreenDeploymentConfiguration"
        },
        "computePlatform": {
          "documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>",
          "shape": "ComputePlatform"
        },
        "deploymentConfigName": {
          "documentation": "<p>The deployment configuration name.</p>",
          "shape": "DeploymentConfigName"
        },
        "deploymentGroupId": {
          "documentation": "<p>The deployment group ID.</p>",
          "shape": "DeploymentGroupId"
        },
        "deploymentGroupName": {
          "documentation": "<p>The deployment group name.</p>",
          "shape": "DeploymentGroupName"
        },
        "deploymentStyle": {
          "documentation": "<p>Information about the type of deployment, either in-place or blue/green, you want to run and whether to route deployment traffic behind a load balancer.</p>",
          "shape": "DeploymentStyle"
        },
        "ec2TagFilters": {
          "documentation": "<p>The Amazon EC2 tags on which to filter. The deployment group includes EC2 instances with any of the specified tags.</p>",
          "shape": "EC2TagFilterList"
        },
        "ec2TagSet": {
          "documentation": "<p>Information about groups of tags applied to an EC2 instance. The deployment group includes only EC2 instances identified by all of the tag groups. Cannot be used in the same call as ec2TagFilters.</p>",
          "shape": "EC2TagSet"
        },
        "ecsServices": {
          "documentation": "<p> The target Amazon ECS services in the deployment group. This applies only to deployment groups that use the Amazon ECS compute platform. A target Amazon ECS service is specified as an Amazon ECS cluster and service name pair using the format <code>&lt;clustername&gt;:&lt;servicename&gt;</code>. </p>",
          "shape": "ECSServiceList"
        },
        "lastAttemptedDeployment": {
          "documentation": "<p>Information about the most recent attempted deployment to the deployment group.</p>",
          "shape": "LastDeploymentInfo"
        },
        "lastSuccessfulDeployment": {
          "documentation": "<p>Information about the most recent successful deployment to the deployment group.</p>",
          "shape": "LastDeploymentInfo"
        },
        "loadBalancerInfo": {
          "documentation": "<p>Information about the load balancer to use in a deployment.</p>",
          "shape": "LoadBalancerInfo"
        },
        "onPremisesInstanceTagFilters": {
          "documentation": "<p>The on-premises instance tags on which to filter. The deployment group includes on-premises instances with any of the specified tags.</p>",
          "shape": "TagFilterList"
        },
        "onPremisesTagSet": {
          "documentation": "<p>Information about groups of tags applied to an on-premises instance. The deployment group includes only on-premises instances identified by all the tag groups. Cannot be used in the same call as onPremisesInstanceTagFilters.</p>",
          "shape": "OnPremisesTagSet"
        },
        "serviceRoleArn": {
          "documentation": "<p>A service role Amazon Resource Name (ARN) that grants CodeDeploy permission to make calls to AWS services on your behalf. For more information, see <a href=\"https://docs.aws.amazon.com/codedeploy/latest/userguide/getting-started-create-service-role.html\">Create a Service Role for AWS CodeDeploy</a> in the <i>AWS CodeDeploy User Guide</i>.</p>",
          "shape": "Role"
        },
        "targetRevision": {
          "documentation": "<p>Information about the deployment group's target revision, including type and location.</p>",
          "shape": "RevisionLocation"
        },
        "triggerConfigurations": {
          "documentation": "<p>Information about triggers associated with the deployment group.</p>",
          "shape": "TriggerConfigList"
        }
      },
      "type": "structure"
    },
    "DeploymentGroupInfoList": {
      "member": {
        "shape": "DeploymentGroupInfo"
      },
      "type": "list"
    },
    "DeploymentGroupLimitExceededException": {
      "documentation": "<p> The deployment groups limit was exceeded.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentGroupName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "DeploymentGroupNameRequiredException": {
      "documentation": "<p>The deployment group name was not specified.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentGroupsList": {
      "member": {
        "shape": "DeploymentGroupName"
      },
      "type": "list"
    },
    "DeploymentId": {
      "type": "string"
    },
    "DeploymentIdRequiredException": {
      "documentation": "<p>At least one deployment ID must be specified.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DeploymentInfo": {
      "documentation": "<p>Information about a deployment.</p>",
      "members": {
        "additionalDeploymentStatusInfo": {
          "documentation": "<p>Provides information about the results of a deployment, such as whether instances in the original environment in a blue/green deployment were not terminated.</p>",
          "shape": "AdditionalDeploymentStatusInfo"
        },
        "applicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "autoRollbackConfiguration": {
          "documentation": "<p>Information about the automatic rollback configuration associated with the deployment.</p>",
          "shape": "AutoRollbackConfiguration"
        },
        "blueGreenDeploymentConfiguration": {
          "documentation": "<p>Information about blue/green deployment options for this deployment.</p>",
          "shape": "BlueGreenDeploymentConfiguration"
        },
        "completeTime": {
          "documentation": "<p>A timestamp that indicates when the deployment was complete.</p>",
          "shape": "Timestamp"
        },
        "computePlatform": {
          "documentation": "<p>The destination platform type for the deployment (<code>Lambda</code>, <code>Server</code>, or <code>ECS</code>).</p>",
          "shape": "ComputePlatform"
        },
        "createTime": {
          "documentation": "<p>A timestamp that indicates when the deployment was created.</p>",
          "shape": "Timestamp"
        },
        "creator": {
          "documentation": "<p>The means by which the deployment was created:</p> <ul> <li> <p>user: A user created the deployment.</p> </li> <li> <p>autoscaling: Amazon EC2 Auto Scaling created the deployment.</p> </li> <li> <p>codeDeployRollback: A rollback process created the deployment.</p> </li> </ul>",
          "shape": "DeploymentCreator"
        },
[...]
