{
  "documentation": "<fullname>Amazon Cognito Sync</fullname> <p>Amazon Cognito Sync provides an AWS service and client library that enable cross-device syncing of application-related user data. High-level client libraries are available for both iOS and Android. You can use these libraries to persist data locally so that it's available even if the device is offline. Developer credentials don't need to be stored on the mobile device to access the service. You can use Amazon Cognito to obtain a normalized user ID and credentials. User data is persisted in a dataset that can store up to 1 MB of key-value pairs, and you can have up to 20 datasets per user identity.</p> <p>With Amazon Cognito Sync, the data stored for each identity is accessible only to credentials assigned to that identity. In order to use the Cognito Sync service, you need to make API calls using credentials retrieved with <a href=\"http://docs.aws.amazon.com/cognitoidentity/latest/APIReference/Welcome.html\">Amazon Cognito Identity service</a>.</p> <p>If you want to use Cognito Sync in an Android or iOS application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href=\"http://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-sync.html\">Developer Guide for Android</a> and the <a href=\"http://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-sync.html\">Developer Guide for iOS</a>.</p>",
  "examples": {},
  "metadata": {
    "apiVersion": "2014-06-30",
    "endpointPrefix": "cognito-sync",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Cognito Sync",
    "serviceId": "Cognito Sync",
    "signatureVersion": "v4",
    "uid": "cognito-sync-2014-06-30"
  },
  "operations": {
    "BulkPublish": {
      "documentation": "<p>Initiates a bulk publish of all existing datasets for an Identity Pool to the configured stream. Customers are limited to one successful bulk publish per 24 hours. Bulk publish is an asynchronous request, customers can see the status of the request via the GetBulkPublishDetails operation.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "An exception thrown when there is an IN_PROGRESS bulk publish operation for the given identity pool.",
          "error": {
            "code": "DuplicateRequest",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "DuplicateRequestException"
        },
        {
          "documentation": "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
          "error": {
            "code": "AlreadyStreamed",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "AlreadyStreamedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/bulkpublish",
        "responseCode": 200
      },
      "input": {
        "documentation": "The input for the BulkPublish operation.",
        "shape": "BulkPublishRequest"
      },
      "name": "BulkPublish",
      "output": {
        "documentation": "The output for the BulkPublish operation.",
        "shape": "BulkPublishResponse"
      }
    },
    "DeleteDataset": {
      "documentation": "<p>Deletes the specific dataset. The dataset will be deleted permanently, and the action can't be undone. Datasets that this dataset was merged with will no longer report the merge. Any subsequent operation on this dataset will result in a ResourceNotFoundException.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
          "error": {
            "code": "ResourceConflict",
            "httpStatusCode": 409,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request to delete the specific dataset.",
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset",
      "output": {
        "documentation": "Response to a successful DeleteDataset request.",
        "shape": "DeleteDatasetResponse"
      }
    },
    "DescribeDataset": {
      "documentation": "<p>Gets meta data about a dataset by identity and dataset name. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request for meta data about a dataset (creation date, number of records, size) by owner and dataset name.",
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "documentation": "Response to a successful DescribeDataset request.",
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeIdentityPoolUsage": {
      "documentation": "<p>Gets usage details (for example, data storage) about a particular identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request for usage information about the identity pool.",
        "shape": "DescribeIdentityPoolUsageRequest"
      },
      "name": "DescribeIdentityPoolUsage",
      "output": {
        "documentation": "Response to a successful DescribeIdentityPoolUsage request.",
        "shape": "DescribeIdentityPoolUsageResponse"
      }
    },
    "DescribeIdentityUsage": {
      "documentation": "<p>Gets usage information for an identity, including number of datasets and data usage.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request for information about the usage of an identity pool.",
        "shape": "DescribeIdentityUsageRequest"
      },
      "name": "DescribeIdentityUsage",
      "output": {
        "documentation": "The response to a successful DescribeIdentityUsage request.",
        "shape": "DescribeIdentityUsageResponse"
      }
    },
    "GetBulkPublishDetails": {
      "documentation": "<p>Get the status of the last BulkPublish operation for an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/getBulkPublishDetails",
        "responseCode": 200
      },
      "input": {
        "documentation": "The input for the GetBulkPublishDetails operation.",
        "shape": "GetBulkPublishDetailsRequest"
      },
      "name": "GetBulkPublishDetails",
      "output": {
        "documentation": "The output for the GetBulkPublishDetails operation.",
        "shape": "GetBulkPublishDetailsResponse"
      }
    },
    "GetCognitoEvents": {
      "documentation": "<p>Gets the events and the corresponding Lambda functions associated with an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}/events",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>A request for a list of the configured Cognito Events</p>",
        "shape": "GetCognitoEventsRequest"
      },
      "name": "GetCognitoEvents",
      "output": {
        "documentation": "<p>The response from the GetCognitoEvents request</p>",
        "shape": "GetCognitoEventsResponse"
      }
    },
    "GetIdentityPoolConfiguration": {
      "documentation": "<p>Gets the configuration settings of an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}/configuration",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>The input for the GetIdentityPoolConfiguration operation.</p>",
        "shape": "GetIdentityPoolConfigurationRequest"
      },
      "name": "GetIdentityPoolConfiguration",
      "output": {
        "documentation": "<p>The output for the GetIdentityPoolConfiguration operation.</p>",
        "shape": "GetIdentityPoolConfigurationResponse"
      }
    },
    "ListDatasets": {
      "documentation": "<p>Lists datasets for an identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListDatasets can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use the Cognito Identity credentials to make this API call.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets",
        "responseCode": 200
      },
      "input": {
        "documentation": "Request for a list of datasets for an identity.",
        "shape": "ListDatasetsRequest"
      },
      "name": "ListDatasets",
      "output": {
        "documentation": "Returned for a successful ListDatasets request.",
        "shape": "ListDatasetsResponse"
      }
    },
    "ListIdentityPoolUsage": {
      "documentation": "<p>Gets a list of identity pools registered with Cognito.</p> <p>ListIdentityPoolUsage can only be called with developer credentials. You cannot make this API call with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request for usage information on an identity pool.",
        "shape": "ListIdentityPoolUsageRequest"
      },
      "name": "ListIdentityPoolUsage",
      "output": {
        "documentation": "Returned for a successful ListIdentityPoolUsage request.",
        "shape": "ListIdentityPoolUsageResponse"
      }
    },
    "ListRecords": {
      "documentation": "<p>Gets paginated records, optionally changed after a particular sync count for a dataset and identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListRecords can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>",
      "errors": [
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request for a list of records.",
        "shape": "ListRecordsRequest"
      },
      "name": "ListRecords",
      "output": {
        "documentation": "Returned for a successful ListRecordsRequest.",
        "shape": "ListRecordsResponse"
      }
    },
    "RegisterDevice": {
      "documentation": "<p>Registers a device to receive push sync notifications.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "error": {
            "code": "InvalidConfiguration",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidConfigurationException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/identity/{IdentityId}/device",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>A request to RegisterDevice.</p>",
        "shape": "RegisterDeviceRequest"
      },
      "name": "RegisterDevice",
      "output": {
        "documentation": "<p>Response to a RegisterDevice request.</p>",
        "shape": "RegisterDeviceResponse"
      }
    },
    "SetCognitoEvents": {
      "documentation": "<p>Sets the AWS Lambda function for a given event type for an identity pool. This request only updates the key/value pair specified. Other key/values pairs are not updated. To remove a key value pair, pass a empty value for the particular key.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/events",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>A request to configure Cognito Events\"</p>\"",
        "shape": "SetCognitoEventsRequest"
      },
      "name": "SetCognitoEvents"
    },
    "SetIdentityPoolConfiguration": {
      "documentation": "<p>Sets the necessary configuration for push sync.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>Thrown if there are parallel requests to modify a resource.</p>",
          "error": {
            "code": "ConcurrentModification",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/configuration",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>The input for the SetIdentityPoolConfiguration operation.</p>",
        "shape": "SetIdentityPoolConfigurationRequest"
      },
      "name": "SetIdentityPoolConfiguration",
      "output": {
        "documentation": "<p>The output for the SetIdentityPoolConfiguration operation</p>",
        "shape": "SetIdentityPoolConfigurationResponse"
      }
    },
    "SubscribeToDataset": {
      "documentation": "<p>Subscribes to receive notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "error": {
            "code": "InvalidConfiguration",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidConfigurationException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>A request to SubscribeToDatasetRequest.</p>",
        "shape": "SubscribeToDatasetRequest"
      },
      "name": "SubscribeToDataset",
      "output": {
        "documentation": "<p>Response to a SubscribeToDataset request.</p>",
        "shape": "SubscribeToDatasetResponse"
      }
    },
    "UnsubscribeFromDataset": {
      "documentation": "<p>Unsubscribes from receiving notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>",
      "errors": [
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        },
        {
          "error": {
            "code": "InvalidConfiguration",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidConfigurationException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}",
        "responseCode": 200
      },
      "input": {
        "documentation": "<p>A request to UnsubscribeFromDataset.</p>",
        "shape": "UnsubscribeFromDatasetRequest"
      },
      "name": "UnsubscribeFromDataset",
      "output": {
        "documentation": "<p>Response to an UnsubscribeFromDataset request.</p>",
        "shape": "UnsubscribeFromDatasetResponse"
      }
    },
    "UpdateRecords": {
      "documentation": "<p>Posts updates to records and adds and deletes records for a dataset and user.</p> <p>The sync count in the record patch is your last known sync count for that record. The server will reject an UpdateRecords request with a ResourceConflictException if you try to patch a record with a new value but a stale sync count.</p> <p>For example, if the sync count on the server is 5 for a key called highScore and you try and submit a new highScore with sync count of 4, the request will be rejected. To obtain the current sync count for a record, call ListRecords. On a successful update of the record, the response returns the new sync count for that record. You should present that sync count the next time you try to update that same record. When the record does not exist, specify the sync count as 0.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>",
      "errors": [
        {
          "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
          "error": {
            "code": "InvalidParameter",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidParameterException"
        },
        {
          "documentation": "Thrown when the limit on the number of objects or operations has been exceeded.",
          "error": {
            "code": "LimitExceeded",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "LimitExceededException"
        },
        {
          "documentation": "Thrown when a user is not authorized to access the requested resource.",
          "error": {
            "code": "NotAuthorizedError",
            "httpStatusCode": 403,
            "senderFault": true
          },
          "exception": true,
          "shape": "NotAuthorizedException"
        },
        {
          "documentation": "Thrown if the resource doesn't exist.",
          "error": {
            "code": "ResourceNotFound",
            "httpStatusCode": 404,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceNotFoundException"
        },
        {
          "documentation": "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
          "error": {
            "code": "ResourceConflict",
            "httpStatusCode": 409,
            "senderFault": true
          },
          "exception": true,
          "shape": "ResourceConflictException"
        },
        {
          "documentation": "<p>The AWS Lambda function returned invalid output or an exception.</p>",
          "error": {
            "code": "InvalidLambdaFunctionOutput",
            "httpStatusCode": 400,
            "senderFault": true
          },
          "exception": true,
          "shape": "InvalidLambdaFunctionOutputException"
        },
        {
          "documentation": "<p>AWS Lambda throttled your account, please contact AWS Support</p>",
          "error": {
            "code": "LambdaThrottled",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "LambdaThrottledException"
        },
        {
          "documentation": "Thrown if the request is throttled.",
          "error": {
            "code": "TooManyRequests",
            "httpStatusCode": 429,
            "senderFault": true
          },
          "exception": true,
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Indicates an internal service error.",
          "error": {
            "code": "InternalError",
            "httpStatusCode": 500
          },
          "exception": true,
          "fault": true,
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}",
        "responseCode": 200
      },
      "input": {
        "documentation": "A request to post updates to records or add and delete records for a dataset and user.",
        "shape": "UpdateRecordsRequest"
      },
      "name": "UpdateRecords",
      "output": {
        "documentation": "Returned for a successful UpdateRecordsRequest.",
        "shape": "UpdateRecordsResponse"
      }
    }
  },
  "shapes": {
    "AlreadyStreamedException": {
      "documentation": "An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.",
      "error": {
        "code": "AlreadyStreamed",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "The message associated with the AlreadyStreamedException exception.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ApplicationArn": {
      "pattern": "arn:aws:sns:[-0-9a-z]+:\\d+:app/[A-Z_]+/[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ApplicationArnList": {
      "member": {
        "shape": "ApplicationArn"
      },
      "type": "list"
    },
    "AssumeRoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws:iam::\\d+:role/.*",
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BulkPublishRequest": {
      "documentation": "The input for the BulkPublish operation.",
      "members": {
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "BulkPublishResponse": {
      "documentation": "The output for the BulkPublish operation.",
      "members": {
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "shape": "IdentityPoolId"
        }
      },
      "type": "structure"
    },
    "BulkPublishStatus": {
      "enum": [
        "NOT_STARTED",
        "IN_PROGRESS",
        "FAILED",
        "SUCCEEDED"
      ],
      "type": "string"
    },
    "ClientContext": {
      "type": "string"
    },
    "CognitoEventType": {
      "type": "string"
    },
    "CognitoStreams": {
      "documentation": "Configuration options for configure Cognito streams.",
      "members": {
        "RoleArn": {
          "documentation": "The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.",
          "shape": "AssumeRoleArn"
        },
        "StreamName": {
          "documentation": "The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.",
          "shape": "StreamName"
        },
        "StreamingStatus": {
          "documentation": "Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>",
          "shape": "StreamingStatus"
        }
      },
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Thrown if there are parallel requests to modify a resource.</p>",
      "error": {
        "code": "ConcurrentModification",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message returned by a ConcurrentModicationException.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Dataset": {
      "documentation": "A collection of data for an identity pool. An identity pool can have multiple datasets. A dataset is per identity and can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don't exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.",
      "members": {
        "CreationDate": {
          "documentation": "Date on which the dataset was created.",
          "shape": "Date"
        },
        "DataStorage": {
          "documentation": "Total size in bytes of the records in this dataset.",
          "shape": "Long"
        },
        "DatasetName": {
          "documentation": "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "shape": "DatasetName"
        },
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "shape": "IdentityId"
        },
        "LastModifiedBy": {
          "documentation": "The device that made the last change to this dataset.",
          "shape": "String"
        },
        "LastModifiedDate": {
          "documentation": "Date when the dataset was last modified.",
          "shape": "Date"
        },
        "NumRecords": {
          "documentation": "Number of records in this dataset.",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "DatasetList": {
      "member": {
        "shape": "Dataset"
      },
      "type": "list"
    },
    "DatasetName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.:-]+",
      "type": "string"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeleteDatasetRequest": {
      "documentation": "A request to delete the specific dataset.",
      "members": {
        "DatasetName": {
          "documentation": "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "location": "uri",
          "locationName": "DatasetName",
          "shape": "DatasetName"
        },
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "DatasetName"
      ],
      "type": "structure"
    },
    "DeleteDatasetResponse": {
      "documentation": "Response to a successful DeleteDataset request.",
      "members": {
        "Dataset": {
          "documentation": "A collection of data for an identity pool. An identity pool can have multiple datasets. A dataset is per identity and can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don't exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.",
          "shape": "Dataset"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetRequest": {
      "documentation": "A request for meta data about a dataset (creation date, number of records, size) by owner and dataset name.",
      "members": {
        "DatasetName": {
          "documentation": "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "location": "uri",
          "locationName": "DatasetName",
          "shape": "DatasetName"
        },
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "DatasetName"
      ],
      "type": "structure"
    },
    "DescribeDatasetResponse": {
      "documentation": "Response to a successful DescribeDataset request.",
      "members": {
        "Dataset": {
          "documentation": "Meta data for a collection of data for an identity. An identity can have multiple datasets. A dataset can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don't exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.",
          "shape": "Dataset"
        }
      },
      "type": "structure"
    },
    "DescribeIdentityPoolUsageRequest": {
      "documentation": "A request for usage information about the identity pool.",
      "members": {
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "DescribeIdentityPoolUsageResponse": {
      "documentation": "Response to a successful DescribeIdentityPoolUsage request.",
      "members": {
        "IdentityPoolUsage": {
          "documentation": "Information about the usage of the identity pool.",
          "shape": "IdentityPoolUsage"
        }
      },
      "type": "structure"
    },
    "DescribeIdentityUsageRequest": {
      "documentation": "A request for information about the usage of an identity pool.",
      "members": {
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId"
      ],
      "type": "structure"
    },
    "DescribeIdentityUsageResponse": {
      "documentation": "The response to a successful DescribeIdentityUsage request.",
      "members": {
        "IdentityUsage": {
          "documentation": "Usage information for the identity.",
          "shape": "IdentityUsage"
        }
      },
      "type": "structure"
    },
    "DeviceId": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "DuplicateRequestException": {
      "documentation": "An exception thrown when there is an IN_PROGRESS bulk publish operation for the given identity pool.",
      "error": {
        "code": "DuplicateRequest",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "The message associated with the DuplicateRequestException exception.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Events": {
      "key": {
        "shape": "CognitoEventType"
      },
      "max": 1,
      "type": "map",
      "value": {
        "shape": "LambdaFunctionArn"
      }
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "GetBulkPublishDetailsRequest": {
      "documentation": "The input for the GetBulkPublishDetails operation.",
      "members": {
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "GetBulkPublishDetailsResponse": {
      "documentation": "The output for the GetBulkPublishDetails operation.",
      "members": {
        "BulkPublishCompleteTime": {
          "documentation": "If BulkPublishStatus is SUCCEEDED, the time the last bulk publish operation completed.",
          "shape": "Date"
        },
        "BulkPublishStartTime": {
          "documentation": "The date/time at which the last bulk publish was initiated.",
          "shape": "Date"
        },
        "BulkPublishStatus": {
          "documentation": "Status of the last bulk publish operation, valid values are: <p>NOT_STARTED - No bulk publish has been requested for this identity pool</p> <p>IN_PROGRESS - Data is being published to the configured stream</p> <p>SUCCEEDED - All data for the identity pool has been published to the configured stream</p> <p>FAILED - Some portion of the data has failed to publish, check FailureMessage for the cause.</p>",
          "shape": "BulkPublishStatus"
        },
        "FailureMessage": {
          "documentation": "If BulkPublishStatus is FAILED this field will contain the error message that caused the bulk publish to fail.",
          "shape": "String"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "shape": "IdentityPoolId"
        }
      },
      "type": "structure"
    },
    "GetCognitoEventsRequest": {
      "documentation": "<p>A request for a list of the configured Cognito Events</p>",
      "members": {
        "IdentityPoolId": {
          "documentation": "<p>The Cognito Identity Pool ID for the request</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "GetCognitoEventsResponse": {
      "documentation": "<p>The response from the GetCognitoEvents request</p>",
      "members": {
        "Events": {
          "documentation": "<p>The Cognito Events returned from the GetCognitoEvents request</p>",
          "shape": "Events"
        }
      },
      "type": "structure"
    },
    "GetIdentityPoolConfigurationRequest": {
      "documentation": "<p>The input for the GetIdentityPoolConfiguration operation.</p>",
      "members": {
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. This is the ID of the pool for which to return a configuration.</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "GetIdentityPoolConfigurationResponse": {
      "documentation": "<p>The output for the GetIdentityPoolConfiguration operation.</p>",
      "members": {
        "CognitoStreams": {
          "documentation": "Options to apply to this identity pool for Amazon Cognito streams.",
          "shape": "CognitoStreams"
        },
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.</p>",
          "shape": "IdentityPoolId"
        },
        "PushSync": {
          "documentation": "<p>Options to apply to this identity pool for push synchronization.</p>",
          "shape": "PushSync"
        }
      },
      "type": "structure"
    },
    "IdentityId": {
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+",
      "type": "string"
    },
    "IdentityPoolId": {
      "max": 55,
      "min": 1,
      "pattern": "[\\w-]+:[0-9a-f-]+",
      "type": "string"
    },
    "IdentityPoolUsage": {
      "documentation": "Usage information for the identity pool.",
      "members": {
        "DataStorage": {
          "documentation": "Data storage information for the identity pool.",
          "shape": "Long"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "shape": "IdentityPoolId"
        },
        "LastModifiedDate": {
          "documentation": "Date on which the identity pool was last modified.",
          "shape": "Date"
        },
        "SyncSessionsCount": {
          "documentation": "Number of sync sessions for the identity pool.",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "IdentityPoolUsageList": {
      "member": {
        "shape": "IdentityPoolUsage"
      },
      "type": "list"
    },
    "IdentityUsage": {
      "documentation": "Usage information for the identity.",
      "members": {
        "DataStorage": {
          "documentation": "Total data storage for this identity.",
          "shape": "Long"
        },
        "DatasetCount": {
          "documentation": "Number of datasets for the identity.",
          "shape": "Integer"
        },
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "shape": "IdentityPoolId"
        },
        "LastModifiedDate": {
          "documentation": "Date on which the identity was last modified.",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "IntegerString": {
      "type": "integer"
    },
    "InternalErrorException": {
      "documentation": "Indicates an internal service error.",
      "error": {
        "code": "InternalError",
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "Message returned by InternalErrorException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidConfigurationException": {
      "error": {
        "code": "InvalidConfiguration",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "Message returned by InvalidConfigurationException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidLambdaFunctionOutputException": {
      "documentation": "<p>The AWS Lambda function returned invalid output or an exception.</p>",
      "error": {
        "code": "InvalidLambdaFunctionOutput",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A message returned when an InvalidLambdaFunctionOutputException occurs</p>",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "Thrown when a request parameter does not comply with the associated constraints.",
      "error": {
        "code": "InvalidParameter",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "Message returned by InvalidParameterException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "LambdaFunctionArn": {
      "type": "string"
    },
    "LambdaThrottledException": {
      "documentation": "<p>AWS Lambda throttled your account, please contact AWS Support</p>",
      "error": {
        "code": "LambdaThrottled",
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A message returned when an LambdaThrottledException is thrown</p>",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "Thrown when the limit on the number of objects or operations has been exceeded.",
      "error": {
        "code": "LimitExceeded",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "Message returned by LimitExceededException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ListDatasetsRequest": {
      "documentation": "Request for a list of datasets for an identity.",
      "members": {
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        },
        "MaxResults": {
          "documentation": "The maximum number of results to be returned.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "IntegerString"
        },
        "NextToken": {
          "documentation": "A pagination token for obtaining the next page of results.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "IdentityId",
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "ListDatasetsResponse": {
      "documentation": "Returned for a successful ListDatasets request.",
      "members": {
        "Count": {
          "documentation": "Number of datasets returned.",
          "shape": "Integer"
        },
        "Datasets": {
          "documentation": "A set of datasets.",
          "shape": "DatasetList"
        },
        "NextToken": {
          "documentation": "A pagination token for obtaining the next page of results.",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListIdentityPoolUsageRequest": {
      "documentation": "A request for usage information on an identity pool.",
      "members": {
        "MaxResults": {
          "documentation": "The maximum number of results to be returned.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "IntegerString"
        },
        "NextToken": {
          "documentation": "A pagination token for obtaining the next page of results.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListIdentityPoolUsageResponse": {
      "documentation": "Returned for a successful ListIdentityPoolUsage request.",
      "members": {
        "Count": {
          "documentation": "Total number of identities for the identity pool.",
          "shape": "Integer"
        },
        "IdentityPoolUsages": {
          "documentation": "Usage information for the identity pools.",
          "shape": "IdentityPoolUsageList"
        },
        "MaxResults": {
          "documentation": "The maximum number of results to be returned.",
          "shape": "Integer"
        },
        "NextToken": {
          "documentation": "A pagination token for obtaining the next page of results.",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListRecordsRequest": {
      "documentation": "A request for a list of records.",
      "members": {
        "DatasetName": {
          "documentation": "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "location": "uri",
          "locationName": "DatasetName",
          "shape": "DatasetName"
        },
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        },
        "LastSyncCount": {
          "documentation": "The last server sync count for this record.",
          "location": "querystring",
          "locationName": "lastSyncCount",
          "shape": "Long"
        },
        "MaxResults": {
          "documentation": "The maximum number of results to be returned.",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "IntegerString"
        },
        "NextToken": {
          "documentation": "A pagination token for obtaining the next page of results.",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        },
        "SyncSessionToken": {
          "documentation": "A token containing a session ID, identity ID, and expiration.",
          "location": "querystring",
          "locationName": "syncSessionToken",
          "shape": "SyncSessionToken"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "DatasetName"
      ],
      "type": "structure"
    },
    "ListRecordsResponse": {
      "documentation": "Returned for a successful ListRecordsRequest.",
      "members": {
        "Count": {
          "documentation": "Total number of records.",
          "shape": "Integer"
        },
        "DatasetDeletedAfterRequestedSyncCount": {
          "documentation": "A boolean value specifying whether to delete the dataset locally.",
          "shape": "Boolean"
        },
        "DatasetExists": {
          "documentation": "Indicates whether the dataset exists.",
          "shape": "Boolean"
        },
        "DatasetSyncCount": {
          "documentation": "Server sync count for this dataset.",
          "shape": "Long"
        },
        "LastModifiedBy": {
          "documentation": "The user/device that made the last change to this record.",
          "shape": "String"
        },
        "MergedDatasetNames": {
          "documentation": "Names of merged datasets.",
          "shape": "MergedDatasetNameList"
        },
        "NextToken": {
          "documentation": "A pagination token for obtaining the next page of results.",
          "shape": "String"
        },
        "Records": {
          "documentation": "A list of all records.",
          "shape": "RecordList"
        },
        "SyncSessionToken": {
          "documentation": "A token containing a session ID, identity ID, and expiration.",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Long": {
      "type": "long"
    },
    "MergedDatasetNameList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "NotAuthorizedException": {
      "documentation": "Thrown when a user is not authorized to access the requested resource.",
      "error": {
        "code": "NotAuthorizedError",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "The message returned by a NotAuthorizedException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Operation": {
      "enum": [
        "replace",
        "remove"
      ],
      "type": "string"
    },
    "Platform": {
      "enum": [
        "APNS",
        "APNS_SANDBOX",
        "GCM",
        "ADM"
      ],
      "type": "string"
    },
    "PushSync": {
      "documentation": "<p>Configuration options to be applied to the identity pool.</p>",
      "members": {
        "ApplicationArns": {
          "documentation": "<p>List of SNS platform application ARNs that could be used by clients.</p>",
          "shape": "ApplicationArnList"
        },
        "RoleArn": {
          "documentation": "<p>A role configured to allow Cognito to call SNS on behalf of the developer.</p>",
          "shape": "AssumeRoleArn"
        }
      },
      "type": "structure"
    },
    "PushToken": {
      "type": "string"
    },
    "Record": {
      "documentation": "The basic data structure of a dataset.",
      "members": {
        "DeviceLastModifiedDate": {
          "documentation": "The last modified date of the client device.",
          "shape": "Date"
        },
        "Key": {
          "documentation": "The key for the record.",
          "shape": "RecordKey"
        },
        "LastModifiedBy": {
          "documentation": "The user/device that made the last change to this record.",
          "shape": "String"
        },
        "LastModifiedDate": {
          "documentation": "The date on which the record was last modified.",
          "shape": "Date"
        },
        "SyncCount": {
          "documentation": "The server sync count for this record.",
          "shape": "Long"
        },
        "Value": {
          "documentation": "The value for the record.",
          "shape": "RecordValue"
        }
      },
      "type": "structure"
    },
    "RecordKey": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "RecordList": {
      "member": {
        "shape": "Record"
      },
      "type": "list"
    },
    "RecordPatch": {
      "documentation": "An update operation for a record.",
      "members": {
        "DeviceLastModifiedDate": {
          "documentation": "The last modified date of the client device.",
          "shape": "Date"
        },
        "Key": {
          "documentation": "The key associated with the record patch.",
          "shape": "RecordKey"
        },
        "Op": {
          "documentation": "An operation, either replace or remove.",
          "shape": "Operation"
        },
        "SyncCount": {
          "documentation": "Last known server sync count for this record. Set to 0 if unknown.",
          "shape": "Long"
        },
        "Value": {
          "documentation": "The value associated with the record patch.",
          "shape": "RecordValue"
        }
      },
      "required": [
        "Op",
        "Key",
        "SyncCount"
      ],
      "type": "structure"
    },
    "RecordPatchList": {
      "member": {
        "shape": "RecordPatch"
      },
      "type": "list"
    },
    "RecordValue": {
      "max": 1048575,
      "type": "string"
    },
    "RegisterDeviceRequest": {
      "documentation": "<p>A request to RegisterDevice.</p>",
      "members": {
        "IdentityId": {
          "documentation": "<p>The unique ID for this identity.</p>",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. Here, the ID of the pool that the identity belongs to.</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        },
        "Platform": {
          "documentation": "<p>The SNS platform type (e.g. GCM, SDM, APNS, APNS_SANDBOX).</p>",
          "shape": "Platform"
        },
        "Token": {
          "documentation": "<p>The push token.</p>",
          "shape": "PushToken"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "Platform",
        "Token"
      ],
      "type": "structure"
    },
    "RegisterDeviceResponse": {
      "documentation": "<p>Response to a RegisterDevice request.</p>",
      "members": {
        "DeviceId": {
          "documentation": "<p>The unique ID generated for this device by Cognito.</p>",
          "shape": "DeviceId"
        }
      },
      "type": "structure"
    },
    "ResourceConflictException": {
      "documentation": "Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.",
      "error": {
        "code": "ResourceConflict",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "The message returned by a ResourceConflictException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "Thrown if the resource doesn't exist.",
      "error": {
        "code": "ResourceNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "Message returned by a ResourceNotFoundException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "SetCognitoEventsRequest": {
      "documentation": "<p>A request to configure Cognito Events\"</p>\"",
      "members": {
        "Events": {
          "documentation": "<p>The events to configure</p>",
          "shape": "Events"
        },
        "IdentityPoolId": {
          "documentation": "<p>The Cognito Identity Pool to use when configuring Cognito Events</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId",
        "Events"
      ],
      "type": "structure"
    },
    "SetIdentityPoolConfigurationRequest": {
      "documentation": "<p>The input for the SetIdentityPoolConfiguration operation.</p>",
      "members": {
        "CognitoStreams": {
          "documentation": "Options to apply to this identity pool for Amazon Cognito streams.",
          "shape": "CognitoStreams"
        },
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. This is the ID of the pool to modify.</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        },
        "PushSync": {
          "documentation": "<p>Options to apply to this identity pool for push synchronization.</p>",
          "shape": "PushSync"
        }
      },
      "required": [
        "IdentityPoolId"
      ],
      "type": "structure"
    },
    "SetIdentityPoolConfigurationResponse": {
      "documentation": "<p>The output for the SetIdentityPoolConfiguration operation</p>",
      "members": {
        "CognitoStreams": {
          "documentation": "Options to apply to this identity pool for Amazon Cognito streams.",
          "shape": "CognitoStreams"
        },
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.</p>",
          "shape": "IdentityPoolId"
        },
        "PushSync": {
          "documentation": "<p>Options to apply to this identity pool for push synchronization.</p>",
          "shape": "PushSync"
        }
      },
      "type": "structure"
    },
    "StreamName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "StreamingStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "SubscribeToDatasetRequest": {
      "documentation": "<p>A request to SubscribeToDatasetRequest.</p>",
      "members": {
        "DatasetName": {
          "documentation": "<p>The name of the dataset to subcribe to.</p>",
          "location": "uri",
          "locationName": "DatasetName",
          "shape": "DatasetName"
        },
        "DeviceId": {
          "documentation": "<p>The unique ID generated for this device by Cognito.</p>",
          "location": "uri",
          "locationName": "DeviceId",
          "shape": "DeviceId"
        },
        "IdentityId": {
          "documentation": "<p>Unique ID for this identity.</p>",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. The ID of the pool to which the identity belongs.</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "DatasetName",
        "DeviceId"
      ],
      "type": "structure"
    },
    "SubscribeToDatasetResponse": {
      "documentation": "<p>Response to a SubscribeToDataset request.</p>",
      "members": {},
      "type": "structure"
    },
    "SyncSessionToken": {
      "type": "string"
    },
    "TooManyRequestsException": {
      "documentation": "Thrown if the request is throttled.",
      "error": {
        "code": "TooManyRequests",
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "Message returned by a TooManyRequestsException.",
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "UnsubscribeFromDatasetRequest": {
      "documentation": "<p>A request to UnsubscribeFromDataset.</p>",
      "members": {
        "DatasetName": {
          "documentation": "<p>The name of the dataset from which to unsubcribe.</p>",
          "location": "uri",
          "locationName": "DatasetName",
          "shape": "DatasetName"
        },
        "DeviceId": {
          "documentation": "<p>The unique ID generated for this device by Cognito.</p>",
          "location": "uri",
          "locationName": "DeviceId",
          "shape": "DeviceId"
        },
        "IdentityId": {
          "documentation": "<p>Unique ID for this identity.</p>",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "<p>A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. The ID of the pool to which this identity belongs.</p>",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "DatasetName",
        "DeviceId"
      ],
      "type": "structure"
    },
    "UnsubscribeFromDatasetResponse": {
      "documentation": "<p>Response to an UnsubscribeFromDataset request.</p>",
      "members": {},
      "type": "structure"
    },
    "UpdateRecordsRequest": {
      "documentation": "A request to post updates to records or add and delete records for a dataset and user.",
      "members": {
        "ClientContext": {
          "documentation": "Intended to supply a device ID that will populate the lastModifiedBy field referenced in other methods. The ClientContext field is not yet implemented.",
          "location": "header",
          "locationName": "x-amz-Client-Context",
          "shape": "ClientContext"
        },
        "DatasetName": {
          "documentation": "A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (dash), and '.' (dot).",
          "location": "uri",
          "locationName": "DatasetName",
          "shape": "DatasetName"
        },
        "DeviceId": {
          "documentation": "<p>The unique ID generated for this device by Cognito.</p>",
          "shape": "DeviceId"
        },
        "IdentityId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityId",
          "shape": "IdentityId"
        },
        "IdentityPoolId": {
          "documentation": "A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.",
          "location": "uri",
          "locationName": "IdentityPoolId",
          "shape": "IdentityPoolId"
        },
        "RecordPatches": {
          "documentation": "A list of patch operations.",
          "shape": "RecordPatchList"
        },
        "SyncSessionToken": {
          "documentation": "The SyncSessionToken returned by a previous call to ListRecords for this dataset and identity.",
          "shape": "SyncSessionToken"
        }
      },
      "required": [
        "IdentityPoolId",
        "IdentityId",
        "DatasetName",
        "SyncSessionToken"
      ],
      "type": "structure"
    },
    "UpdateRecordsResponse": {
      "documentation": "Returned for a successful UpdateRecordsRequest.",
      "members": {
        "Records": {
          "documentation": "A list of records that have been updated.",
          "shape": "RecordList"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
