{
  "documentation": "<fullname>Amazon AppStream 2.0</fullname> <p>This is the <i>Amazon AppStream 2.0 API Reference</i>. This documentation provides descriptions and syntax for each of the actions and data types in AppStream 2.0. AppStream 2.0 is a fully managed, secure application streaming service that lets you stream desktop applications to users without rewriting applications. AppStream 2.0 manages the AWS resources that are required to host and run your applications, scales automatically, and provides access to your users on demand. </p> <note> <p>You can call the AppStream 2.0 API operations by using an interface VPC endpoint (interface endpoint). For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/access-api-cli-through-interface-vpc-endpoint.html\">Access AppStream 2.0 API Operations and CLI Commands Through an Interface VPC Endpoint</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p> </note> <p>To learn more about AppStream 2.0, see the following resources:</p> <ul> <li> <p> <a href=\"http://aws.amazon.com/appstream2\">Amazon AppStream 2.0 product page</a> </p> </li> <li> <p> <a href=\"http://aws.amazon.com/documentation/appstream2\">Amazon AppStream 2.0 documentation</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2016-12-01",
    "endpointPrefix": "appstream2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon AppStream",
    "serviceId": "AppStream",
    "signatureVersion": "v4",
    "signingName": "appstream",
    "targetPrefix": "PhotonAdminProxyService",
    "uid": "appstream-2016-12-01"
  },
  "operations": {
    "AssociateFleet": {
      "documentation": "<p>Associates the specified fleet with the specified stack.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateFleetRequest"
      },
      "name": "AssociateFleet",
      "output": {
        "shape": "AssociateFleetResult"
      }
    },
    "BatchAssociateUserStack": {
      "documentation": "<p>Associates the specified users with the specified stacks. Users in a user pool cannot be assigned to stacks with fleets that are joined to an Active Directory domain.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchAssociateUserStackRequest"
      },
      "name": "BatchAssociateUserStack",
      "output": {
        "shape": "BatchAssociateUserStackResult"
      }
    },
    "BatchDisassociateUserStack": {
      "documentation": "<p>Disassociates the specified users from the specified stacks.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDisassociateUserStackRequest"
      },
      "name": "BatchDisassociateUserStack",
      "output": {
        "shape": "BatchDisassociateUserStackResult"
      }
    },
    "CopyImage": {
      "documentation": "<p>Copies the image within the same region or to a new region within the same AWS account. Note that any tags you added to the image will not be copied.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "IncompatibleImageException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyImageRequest"
      },
      "name": "CopyImage",
      "output": {
        "shape": "CopyImageResponse"
      }
    },
    "CreateDirectoryConfig": {
      "documentation": "<p>Creates a Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDirectoryConfigRequest"
      },
      "name": "CreateDirectoryConfig",
      "output": {
        "shape": "CreateDirectoryConfigResult"
      }
    },
    "CreateFleet": {
      "documentation": "<p>Creates a fleet. A fleet consists of streaming instances that run a specified image.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateFleetRequest"
      },
      "name": "CreateFleet",
      "output": {
        "shape": "CreateFleetResult"
      }
    },
    "CreateImageBuilder": {
      "documentation": "<p>Creates an image builder. An image builder is a virtual machine that is used to create an image.</p> <p>The initial state of the builder is <code>PENDING</code>. When it is ready, the state is <code>RUNNING</code>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImageBuilderRequest"
      },
      "name": "CreateImageBuilder",
      "output": {
        "shape": "CreateImageBuilderResult"
      }
    },
    "CreateImageBuilderStreamingURL": {
      "documentation": "<p>Creates a URL to start an image builder streaming session.</p>",
      "errors": [
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateImageBuilderStreamingURLRequest"
      },
      "name": "CreateImageBuilderStreamingURL",
      "output": {
        "shape": "CreateImageBuilderStreamingURLResult"
      }
    },
    "CreateStack": {
      "documentation": "<p>Creates a stack to start streaming applications to users. A stack consists of an associated fleet, user access policies, and storage configurations. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStackRequest"
      },
      "name": "CreateStack",
      "output": {
        "shape": "CreateStackResult"
      }
    },
    "CreateStreamingURL": {
      "documentation": "<p>Creates a temporary URL to start an AppStream 2.0 streaming session for the specified user. A streaming URL enables application streaming to be tested without user setup. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStreamingURLRequest"
      },
      "name": "CreateStreamingURL",
      "output": {
        "shape": "CreateStreamingURLResult"
      }
    },
    "CreateUsageReportSubscription": {
      "documentation": "<p>Creates a usage report subscription. Usage reports are generated daily.</p>",
      "errors": [
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUsageReportSubscriptionRequest"
      },
      "name": "CreateUsageReportSubscription",
      "output": {
        "shape": "CreateUsageReportSubscriptionResult"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a new user in the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResult"
      }
    },
    "DeleteDirectoryConfig": {
      "documentation": "<p>Deletes the specified Directory Config object from AppStream 2.0. This object includes the information required to join streaming instances to an Active Directory domain.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDirectoryConfigRequest"
      },
      "name": "DeleteDirectoryConfig",
      "output": {
        "shape": "DeleteDirectoryConfigResult"
      }
    },
    "DeleteFleet": {
      "documentation": "<p>Deletes the specified fleet.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFleetRequest"
      },
      "name": "DeleteFleet",
      "output": {
        "shape": "DeleteFleetResult"
      }
    },
    "DeleteImage": {
      "documentation": "<p>Deletes the specified image. You cannot delete an image when it is in use. After you delete an image, you cannot provision new capacity using the image.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImageRequest"
      },
      "name": "DeleteImage",
      "output": {
        "shape": "DeleteImageResult"
      }
    },
    "DeleteImageBuilder": {
      "documentation": "<p>Deletes the specified image builder and releases the capacity.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImageBuilderRequest"
      },
      "name": "DeleteImageBuilder",
      "output": {
        "shape": "DeleteImageBuilderResult"
      }
    },
    "DeleteImagePermissions": {
      "documentation": "<p>Deletes permissions for the specified private image. After you delete permissions for an image, AWS accounts to which you previously granted these permissions can no longer use the image.</p>",
      "errors": [
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteImagePermissionsRequest"
      },
      "name": "DeleteImagePermissions",
      "output": {
        "shape": "DeleteImagePermissionsResult"
      }
    },
    "DeleteStack": {
      "documentation": "<p>Deletes the specified stack. After the stack is deleted, the application streaming environment provided by the stack is no longer available to users. Also, any reservations made for application streaming sessions for the stack are released.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStackRequest"
      },
      "name": "DeleteStack",
      "output": {
        "shape": "DeleteStackResult"
      }
    },
    "DeleteUsageReportSubscription": {
      "documentation": "<p>Disables usage report generation.</p>",
      "errors": [
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUsageReportSubscriptionRequest"
      },
      "name": "DeleteUsageReportSubscription",
      "output": {
        "shape": "DeleteUsageReportSubscriptionResult"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes a user from the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResult"
      }
    },
    "DescribeDirectoryConfigs": {
      "documentation": "<p>Retrieves a list that describes one or more specified Directory Config objects for AppStream 2.0, if the names for these objects are provided. Otherwise, all Directory Config objects in the account are described. These objects include the configuration information required to join fleets and image builders to Microsoft Active Directory domains. </p> <p>Although the response syntax in this topic includes the account password, this password is not returned in the actual response.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectoryConfigsRequest"
      },
      "name": "DescribeDirectoryConfigs",
      "output": {
        "shape": "DescribeDirectoryConfigsResult"
      }
    },
    "DescribeFleets": {
      "documentation": "<p>Retrieves a list that describes one or more specified fleets, if the fleet names are provided. Otherwise, all fleets in the account are described.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFleetsRequest"
      },
      "name": "DescribeFleets",
      "output": {
        "shape": "DescribeFleetsResult"
      }
    },
    "DescribeImageBuilders": {
      "documentation": "<p>Retrieves a list that describes one or more specified image builders, if the image builder names are provided. Otherwise, all image builders in the account are described.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImageBuildersRequest"
      },
      "name": "DescribeImageBuilders",
      "output": {
        "shape": "DescribeImageBuildersResult"
      }
    },
    "DescribeImagePermissions": {
      "documentation": "<p>Retrieves a list that describes the permissions for shared AWS account IDs on a private image that you own. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImagePermissionsRequest"
      },
      "name": "DescribeImagePermissions",
      "output": {
        "shape": "DescribeImagePermissionsResult"
      }
    },
    "DescribeImages": {
      "documentation": "<p>Retrieves a list that describes one or more specified images, if the image names or image ARNs are provided. Otherwise, all images in the account are described.</p>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeImagesRequest"
      },
      "name": "DescribeImages",
      "output": {
        "shape": "DescribeImagesResult"
      }
    },
    "DescribeSessions": {
      "documentation": "<p>Retrieves a list that describes the streaming sessions for a specified stack and fleet. If a UserId is provided for the stack and fleet, only streaming sessions for that user are described. If an authentication type is not provided, the default is to authenticate users using a streaming URL.</p>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSessionsRequest"
      },
      "name": "DescribeSessions",
      "output": {
        "shape": "DescribeSessionsResult"
      }
    },
    "DescribeStacks": {
      "documentation": "<p>Retrieves a list that describes one or more specified stacks, if the stack names are provided. Otherwise, all stacks in the account are described.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStacksRequest"
      },
      "name": "DescribeStacks",
      "output": {
        "shape": "DescribeStacksResult"
      }
    },
    "DescribeUsageReportSubscriptions": {
      "documentation": "<p>Retrieves a list that describes one or more usage report subscriptions.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccountStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUsageReportSubscriptionsRequest"
      },
      "name": "DescribeUsageReportSubscriptions",
      "output": {
        "shape": "DescribeUsageReportSubscriptionsResult"
      }
    },
    "DescribeUserStackAssociations": {
      "documentation": "<p>Retrieves a list that describes the UserStackAssociation objects. You must specify either or both of the following:</p> <ul> <li> <p>The stack name</p> </li> <li> <p>The user name (email address of the user associated with the stack) and the authentication type for the user</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserStackAssociationsRequest"
      },
      "name": "DescribeUserStackAssociations",
      "output": {
        "shape": "DescribeUserStackAssociationsResult"
      }
    },
    "DescribeUsers": {
      "documentation": "<p>Retrieves a list that describes one or more specified users in the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUsersRequest"
      },
      "name": "DescribeUsers",
      "output": {
        "shape": "DescribeUsersResult"
      }
    },
    "DisableUser": {
      "documentation": "<p>Disables the specified user in the user pool. Users can't sign in to AppStream 2.0 until they are re-enabled. This action does not delete the user. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableUserRequest"
      },
      "name": "DisableUser",
      "output": {
        "shape": "DisableUserResult"
      }
    },
    "DisassociateFleet": {
      "documentation": "<p>Disassociates the specified fleet from the specified stack.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateFleetRequest"
      },
      "name": "DisassociateFleet",
      "output": {
        "shape": "DisassociateFleetResult"
      }
    },
    "EnableUser": {
      "documentation": "<p>Enables a user in the user pool. After being enabled, users can sign in to AppStream 2.0 and open applications from the stacks to which they are assigned.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccountStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableUserRequest"
      },
      "name": "EnableUser",
      "output": {
        "shape": "EnableUserResult"
      }
    },
    "ExpireSession": {
      "documentation": "<p>Immediately stops the specified streaming session.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExpireSessionRequest"
      },
      "name": "ExpireSession",
      "output": {
        "shape": "ExpireSessionResult"
      }
    },
    "ListAssociatedFleets": {
      "documentation": "<p>Retrieves the name of the fleet that is associated with the specified stack.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociatedFleetsRequest"
      },
      "name": "ListAssociatedFleets",
      "output": {
        "shape": "ListAssociatedFleetsResult"
      }
    },
    "ListAssociatedStacks": {
      "documentation": "<p>Retrieves the name of the stack with which the specified fleet is associated.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociatedStacksRequest"
      },
      "name": "ListAssociatedStacks",
      "output": {
        "shape": "ListAssociatedStacksResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves a list of all tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartFleet": {
      "documentation": "<p>Starts the specified fleet.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "InvalidRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartFleetRequest"
      },
      "name": "StartFleet",
      "output": {
        "shape": "StartFleetResult"
      }
    },
    "StartImageBuilder": {
      "documentation": "<p>Starts the specified image builder.</p>",
      "errors": [
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "IncompatibleImageException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartImageBuilderRequest"
      },
      "name": "StartImageBuilder",
      "output": {
        "shape": "StartImageBuilderResult"
      }
    },
    "StopFleet": {
      "documentation": "<p>Stops the specified fleet.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopFleetRequest"
      },
      "name": "StopFleet",
      "output": {
        "shape": "StopFleetResult"
      }
    },
    "StopImageBuilder": {
      "documentation": "<p>Stops the specified image builder.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopImageBuilderRequest"
      },
      "name": "StopImageBuilder",
      "output": {
        "shape": "StopImageBuilderResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or overwrites one or more tags for the specified AppStream 2.0 resource. You can tag AppStream 2.0 image builders, images, fleets, and stacks.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, this operation updates its value.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>. To disassociate tags from your resources, use <a>UntagResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Disassociates one or more specified tags from the specified AppStream 2.0 resource.</p> <p>To list the current tags for your resources, use <a>ListTagsForResource</a>.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDirectoryConfig": {
      "documentation": "<p>Updates the specified Directory Config object in AppStream 2.0. This object includes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDirectoryConfigRequest"
      },
      "name": "UpdateDirectoryConfig",
      "output": {
        "shape": "UpdateDirectoryConfigResult"
      }
    },
    "UpdateFleet": {
      "documentation": "<p>Updates the specified fleet.</p> <p>If the fleet is in the <code>STOPPED</code> state, you can update any attribute except the fleet name. If the fleet is in the <code>RUNNING</code> state, you can update the <code>DisplayName</code>, <code>ComputeCapacity</code>, <code>ImageARN</code>, <code>ImageName</code>, <code>IdleDisconnectTimeoutInSeconds</code>, and <code>DisconnectTimeoutInSeconds</code> attributes. If the fleet is in the <code>STARTING</code> or <code>STOPPING</code> state, you can't update it.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateFleetRequest"
      },
      "name": "UpdateFleet",
      "output": {
        "shape": "UpdateFleetResult"
      }
    },
    "UpdateImagePermissions": {
      "documentation": "<p>Adds or updates permissions for the specified private image. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceNotAvailableException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateImagePermissionsRequest"
      },
      "name": "UpdateImagePermissions",
      "output": {
        "shape": "UpdateImagePermissionsResult"
      }
    },
    "UpdateStack": {
      "documentation": "<p>Updates the specified fields for the specified stack.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccountStatusException"
        },
        {
          "shape": "IncompatibleImageException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStackRequest"
      },
      "name": "UpdateStack",
      "output": {
        "shape": "UpdateStackResult"
      }
    }
  },
  "shapes": {
    "AccessEndpoint": {
      "documentation": "<p>Describes an interface VPC endpoint (interface endpoint) that lets you create a private connection between the virtual private cloud (VPC) that you specify and AppStream 2.0. When you specify an interface endpoint for a stack, users of the stack can connect to AppStream 2.0 only through that endpoint. When you specify an interface endpoint for an image builder, administrators can connect to the image builder only through that endpoint.</p>",
      "members": {
        "EndpointType": {
          "documentation": "<p>The type of interface endpoint.</p>",
          "shape": "AccessEndpointType"
        },
        "VpceId": {
          "documentation": "<p>The identifier (ID) of the VPC in which the interface endpoint is used.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointType"
      ],
      "type": "structure"
    },
    "AccessEndpointList": {
      "max": 4,
      "member": {
        "shape": "AccessEndpoint"
      },
      "min": 1,
      "type": "list"
    },
    "AccessEndpointType": {
      "enum": [
        "STREAMING"
      ],
      "type": "string"
    },
    "AccountName": {
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "AccountPassword": {
      "max": 127,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "Action": {
      "enum": [
        "CLIPBOARD_COPY_FROM_LOCAL_DEVICE",
        "CLIPBOARD_COPY_TO_LOCAL_DEVICE",
        "FILE_UPLOAD",
        "FILE_DOWNLOAD",
        "PRINTING_TO_LOCAL_DEVICE"
      ],
      "type": "string"
    },
    "Application": {
      "documentation": "<p>Describes an application in the application catalog.</p>",
      "members": {
        "DisplayName": {
          "documentation": "<p>The application name to display.</p>",
          "shape": "String"
        },
        "Enabled": {
          "documentation": "<p>If there is a problem, the application can be disabled after image creation.</p>",
          "shape": "Boolean"
        },
        "IconURL": {
          "documentation": "<p>The URL for the application icon. This URL might be time-limited.</p>",
          "shape": "String"
        },
        "LaunchParameters": {
          "documentation": "<p>The arguments that are passed to the application at launch.</p>",
          "shape": "String"
        },
        "LaunchPath": {
          "documentation": "<p>The path to the application executable in the instance.</p>",
          "shape": "String"
        },
        "Metadata": {
          "documentation": "<p>Additional attributes that describe the application.</p>",
          "shape": "Metadata"
        },
        "Name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApplicationSettings": {
      "documentation": "<p>The persistent application settings for users of a stack.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Enables or disables persistent application settings for users during their streaming sessions. </p>",
          "shape": "Boolean"
        },
        "SettingsGroup": {
          "documentation": "<p>The path prefix for the S3 bucket where users\u2019 persistent application settings are stored. You can allow the same persistent application settings to be used across multiple stacks by specifying the same settings group for each stack. </p>",
          "shape": "SettingsGroup"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "ApplicationSettingsResponse": {
      "documentation": "<p>Describes the persistent application settings for users of a stack.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Specifies whether persistent application settings are enabled for users during their streaming sessions.</p>",
          "shape": "Boolean"
        },
        "S3BucketName": {
          "documentation": "<p>The S3 bucket where users\u2019 persistent application settings are stored. When persistent application settings are enabled for the first time for an account in an AWS Region, an S3 bucket is created. The bucket is unique to the AWS account and the Region. </p>",
          "shape": "String"
        },
        "SettingsGroup": {
          "documentation": "<p>The path prefix for the S3 bucket where users\u2019 persistent application settings are stored.</p>",
          "shape": "SettingsGroup"
        }
      },
      "type": "structure"
    },
    "Applications": {
      "member": {
        "shape": "Application"
      },
      "type": "list"
    },
    "AppstreamAgentVersion": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "Arn": {
      "pattern": "^arn:aws:[A-Za-z0-9][A-Za-z0-9_/.-]{0,62}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9_/.-]{0,63}:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}$",
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AssociateFleetRequest": {
      "members": {
        "FleetName": {
          "documentation": "<p>The name of the fleet. </p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "String"
        }
      },
      "required": [
        "FleetName",
        "StackName"
      ],
      "type": "structure"
    },
    "AssociateFleetResult": {
      "members": {},
      "type": "structure"
    },
    "AuthenticationType": {
      "enum": [
        "API",
        "SAML",
        "USERPOOL"
      ],
      "type": "string"
    },
    "AwsAccountId": {
      "pattern": "^\\d+$",
      "type": "string"
    },
    "AwsAccountIdList": {
      "max": 5,
      "member": {
        "shape": "AwsAccountId"
      },
      "min": 1,
      "type": "list"
    },
    "BatchAssociateUserStackRequest": {
      "members": {
        "UserStackAssociations": {
          "documentation": "<p>The list of UserStackAssociation objects.</p>",
          "shape": "UserStackAssociationList"
        }
      },
      "required": [
        "UserStackAssociations"
      ],
      "type": "structure"
    },
    "BatchAssociateUserStackResult": {
      "members": {
        "errors": {
          "documentation": "<p>The list of UserStackAssociationError objects.</p>",
          "shape": "UserStackAssociationErrorList"
        }
      },
      "type": "structure"
    },
    "BatchDisassociateUserStackRequest": {
      "members": {
        "UserStackAssociations": {
          "documentation": "<p>The list of UserStackAssociation objects.</p>",
          "shape": "UserStackAssociationList"
        }
      },
      "required": [
        "UserStackAssociations"
      ],
      "type": "structure"
    },
    "BatchDisassociateUserStackResult": {
      "members": {
        "errors": {
          "documentation": "<p>The list of UserStackAssociationError objects.</p>",
          "shape": "UserStackAssociationErrorList"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "ComputeCapacity": {
      "documentation": "<p>Describes the capacity for a fleet.</p>",
      "members": {
        "DesiredInstances": {
          "documentation": "<p>The desired number of streaming instances.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "DesiredInstances"
      ],
      "type": "structure"
    },
    "ComputeCapacityStatus": {
      "documentation": "<p>Describes the capacity status for a fleet.</p>",
      "members": {
        "Available": {
          "documentation": "<p>The number of currently available instances that can be used to stream sessions.</p>",
          "shape": "Integer"
        },
        "Desired": {
          "documentation": "<p>The desired number of streaming instances.</p>",
          "shape": "Integer"
        },
        "InUse": {
          "documentation": "<p>The number of instances in use for streaming.</p>",
          "shape": "Integer"
        },
        "Running": {
          "documentation": "<p>The total number of simultaneous streaming instances that are running.</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "Desired"
      ],
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>An API error occurred. Wait a few minutes and try again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CopyImageRequest": {
      "members": {
        "DestinationImageDescription": {
          "documentation": "<p>The description that the image will have when it is copied to the destination.</p>",
          "shape": "Description"
        },
        "DestinationImageName": {
          "documentation": "<p>The name that the image will have when it is copied to the destination.</p>",
          "shape": "Name"
        },
        "DestinationRegion": {
          "documentation": "<p>The destination region to which the image will be copied. This parameter is required, even if you are copying an image within the same region.</p>",
          "shape": "RegionName"
        },
        "SourceImageName": {
          "documentation": "<p>The name of the image to copy.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "SourceImageName",
        "DestinationImageName",
        "DestinationRegion"
      ],
      "type": "structure"
    },
    "CopyImageResponse": {
      "members": {
        "DestinationImageName": {
          "documentation": "<p>The name of the destination image.</p>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "CreateDirectoryConfigRequest": {
      "members": {
        "DirectoryName": {
          "documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
          "shape": "DirectoryName"
        },
        "OrganizationalUnitDistinguishedNames": {
          "documentation": "<p>The distinguished names of the organizational units for computer accounts.</p>",
          "shape": "OrganizationalUnitDistinguishedNamesList"
        },
        "ServiceAccountCredentials": {
          "documentation": "<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>",
          "shape": "ServiceAccountCredentials"
        }
      },
      "required": [
        "DirectoryName",
        "OrganizationalUnitDistinguishedNames",
        "ServiceAccountCredentials"
      ],
      "type": "structure"
    },
    "CreateDirectoryConfigResult": {
      "members": {
        "DirectoryConfig": {
          "documentation": "<p>Information about the directory configuration.</p>",
          "shape": "DirectoryConfig"
        }
      },
      "type": "structure"
    },
    "CreateFleetRequest": {
      "members": {
        "ComputeCapacity": {
          "documentation": "<p>The desired capacity for the fleet.</p>",
          "shape": "ComputeCapacity"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "Description"
        },
        "DisconnectTimeoutInSeconds": {
          "documentation": "<p>The amount of time that a streaming session remains active after users disconnect. If users try to reconnect to the streaming session after a disconnection or network interruption within this time interval, they are connected to their previous session. Otherwise, they are connected to a new session with a new streaming instance. </p> <p>Specify a value between 60 and 360000.</p>",
          "shape": "Integer"
        },
        "DisplayName": {
          "documentation": "<p>The fleet name to display.</p>",
          "shape": "DisplayName"
        },
        "DomainJoinInfo": {
          "documentation": "<p>The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. </p>",
          "shape": "DomainJoinInfo"
        },
        "EnableDefaultInternetAccess": {
          "documentation": "<p>Enables or disables default internet access for the fleet.</p>",
          "shape": "BooleanObject"
        },
        "FleetType": {
          "documentation": "<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>",
          "shape": "FleetType"
        },
        "IamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the fleet. To assume a role, a fleet instance calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>AppStream_Machine_Role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Arn"
        },
        "IdleDisconnectTimeoutInSeconds": {
          "documentation": "<p>The amount of time that users can be idle (inactive) before they are disconnected from their streaming session and the <code>DisconnectTimeoutInSeconds</code> time interval begins. Users are notified before they are disconnected due to inactivity. If they try to reconnect to the streaming session before the time interval specified in <code>DisconnectTimeoutInSeconds</code> elapses, they are connected to their previous session. Users are considered idle when they stop providing keyboard or mouse input during their streaming session. File uploads and downloads, audio in, audio out, and pixels changing do not qualify as user activity. If users continue to be idle after the time interval in <code>IdleDisconnectTimeoutInSeconds</code> elapses, they are disconnected.</p> <p>To prevent users from being disconnected due to inactivity, specify a value of 0. Otherwise, specify a value between 60 and 3600. The default value is 0.</p> <note> <p>If you enable this feature, we recommend that you specify a value that corresponds exactly to a whole number of minutes (for example, 60, 120, and 180). If you don't do this, the value is rounded to the nearest minute. For example, if you specify a value of 70, users are disconnected after 1 minute of inactivity. If you specify a value that is at the midpoint between two different minutes, the value is rounded up. For example, if you specify a value of 90, users are disconnected after 2 minutes of inactivity. </p> </note>",
          "shape": "Integer"
        },
        "ImageArn": {
          "documentation": "<p>The ARN of the public, private, or shared image to use.</p>",
          "shape": "Arn"
        },
        "ImageName": {
          "documentation": "<p>The name of the image used to create the fleet.</p>",
          "shape": "String"
        },
        "InstanceType": {
          "documentation": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>",
          "shape": "String"
        },
        "MaxUserDurationInSeconds": {
          "documentation": "<p>The maximum amount of time that a streaming session can remain active, in seconds. If users are still connected to a streaming instance five minutes before this limit is reached, they are prompted to save any open documents before being disconnected. After this time elapses, the instance is terminated and replaced by a new instance.</p> <p>Specify a value between 600 and 360000.</p>",
          "shape": "Integer"
        },
        "Name": {
          "documentation": "<p>A unique name for the fleet.</p>",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the fleet. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        },
        "VpcConfig": {
          "documentation": "<p>The VPC configuration for the fleet.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "Name",
        "InstanceType",
        "ComputeCapacity"
      ],
      "type": "structure"
    },
    "CreateFleetResult": {
      "members": {
        "Fleet": {
          "documentation": "<p>Information about the fleet.</p>",
          "shape": "Fleet"
        }
      },
      "type": "structure"
    },
    "CreateImageBuilderRequest": {
      "members": {
        "AccessEndpoints": {
          "documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Administrators can connect to the image builder only through the specified endpoints.</p>",
          "shape": "AccessEndpointList"
        },
        "AppstreamAgentVersion": {
          "documentation": "<p>The version of the AppStream 2.0 agent to use for this image builder. To use the latest version of the AppStream 2.0 agent, specify [LATEST]. </p>",
          "shape": "AppstreamAgentVersion"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "Description"
        },
        "DisplayName": {
          "documentation": "<p>The image builder name to display.</p>",
          "shape": "DisplayName"
        },
        "DomainJoinInfo": {
          "documentation": "<p>The name of the directory and organizational unit (OU) to use to join the image builder to a Microsoft Active Directory domain. </p>",
          "shape": "DomainJoinInfo"
        },
        "EnableDefaultInternetAccess": {
          "documentation": "<p>Enables or disables default internet access for the image builder.</p>",
          "shape": "BooleanObject"
        },
        "IamRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to apply to the image builder. To assume a role, the image builder calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>AppStream_Machine_Role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Arn"
        },
        "ImageArn": {
          "documentation": "<p>The ARN of the public, private, or shared image to use.</p>",
          "shape": "Arn"
        },
        "ImageName": {
          "documentation": "<p>The name of the image used to create the image builder.</p>",
          "shape": "String"
        },
        "InstanceType": {
          "documentation": "<p>The instance type to use when launching the image builder. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>A unique name for the image builder.</p>",
          "shape": "Name"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the image builder. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        },
        "VpcConfig": {
          "documentation": "<p>The VPC configuration for the image builder. You can specify only one subnet.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "Name",
        "InstanceType"
      ],
      "type": "structure"
    },
    "CreateImageBuilderResult": {
      "members": {
        "ImageBuilder": {
          "documentation": "<p>Information about the image builder.</p>",
          "shape": "ImageBuilder"
        }
      },
      "type": "structure"
    },
    "CreateImageBuilderStreamingURLRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the image builder.</p>",
          "shape": "String"
        },
        "Validity": {
          "documentation": "<p>The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 3600 seconds.</p>",
          "shape": "Long"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateImageBuilderStreamingURLResult": {
      "members": {
        "Expires": {
          "documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>",
          "shape": "Timestamp"
        },
        "StreamingURL": {
          "documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateStackRequest": {
      "members": {
        "AccessEndpoints": {
          "documentation": "<p>The list of interface VPC endpoint (interface endpoint) objects. Users of the stack can connect to AppStream 2.0 only through the specified endpoints.</p>",
          "shape": "AccessEndpointList"
        },
        "ApplicationSettings": {
          "documentation": "<p>The persistent application settings for users of a stack. When these settings are enabled, changes that users make to applications and Windows settings are automatically saved after each session and applied to the next session.</p>",
          "shape": "ApplicationSettings"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "Description"
        },
        "DisplayName": {
          "documentation": "<p>The stack name to display.</p>",
          "shape": "DisplayName"
        },
        "EmbedHostDomains": {
          "documentation": "<p>The domains where AppStream 2.0 streaming sessions can be embedded in an iframe. You must approve the domains that you want to host embedded AppStream 2.0 streaming sessions.</p>",
          "shape": "EmbedHostDomains"
        },
        "FeedbackURL": {
          "documentation": "<p>The URL that users are redirected to after they click the Send Feedback link. If no URL is specified, no Send Feedback link is displayed.</p>",
          "shape": "FeedbackURL"
        },
        "Name": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "Name"
        },
        "RedirectURL": {
          "documentation": "<p>The URL that users are redirected to after their streaming session ends.</p>",
          "shape": "RedirectURL"
        },
        "StorageConnectors": {
          "documentation": "<p>The storage connectors to enable.</p>",
          "shape": "StorageConnectorList"
        },
        "Tags": {
          "documentation": "<p>The tags to associate with the stack. A tag is a key-value pair, and the value is optional. For example, Environment=Test. If you do not specify a value, Environment=. </p> <p>If you do not specify a value, the value is set to an empty string.</p> <p>Generally allowed characters are: letters, numbers, and spaces representable in UTF-8, and the following special characters: </p> <p>_ . : / = + \\ - @</p> <p>For more information about tags, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/tagging-basic.html\">Tagging Your Resources</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Tags"
        },
        "UserSettings": {
          "documentation": "<p>The actions that are enabled or disabled for users during their streaming sessions. By default, these actions are enabled. </p>",
          "shape": "UserSettingList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateStackResult": {
      "members": {
        "Stack": {
          "documentation": "<p>Information about the stack.</p>",
          "shape": "Stack"
        }
      },
      "type": "structure"
    },
    "CreateStreamingURLRequest": {
      "members": {
        "ApplicationId": {
          "documentation": "<p>The name of the application to launch after the session starts. This is the name that you specified as <b>Name</b> in the Image Assistant.</p>",
          "shape": "String"
        },
        "FleetName": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "String"
        },
        "SessionContext": {
          "documentation": "<p>The session context. For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/managing-stacks-fleets.html#managing-stacks-fleets-parameters\">Session Context</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "String"
        },
        "UserId": {
          "documentation": "<p>The identifier of the user.</p>",
          "shape": "StreamingUrlUserId"
        },
        "Validity": {
          "documentation": "<p>The time that the streaming URL will be valid, in seconds. Specify a value between 1 and 604800 seconds. The default is 60 seconds.</p>",
          "shape": "Long"
        }
      },
      "required": [
        "StackName",
        "FleetName",
        "UserId"
      ],
      "type": "structure"
    },
    "CreateStreamingURLResult": {
      "members": {
        "Expires": {
          "documentation": "<p>The elapsed time, in seconds after the Unix epoch, when this URL expires.</p>",
          "shape": "Timestamp"
        },
        "StreamingURL": {
          "documentation": "<p>The URL to start the AppStream 2.0 streaming session.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateUsageReportSubscriptionRequest": {
      "members": {},
      "type": "structure"
    },
    "CreateUsageReportSubscriptionResult": {
      "members": {
        "S3BucketName": {
          "documentation": "<p>The Amazon S3 bucket where generated reports are stored.</p> <p>If you enabled on-instance session scripts and Amazon S3 logging for your session script configuration, AppStream 2.0 created an S3 bucket to store the script output. The bucket is unique to your account and Region. When you enable usage reporting in this case, AppStream 2.0 uses the same bucket to store your usage reports. If you haven't already enabled on-instance session scripts, when you enable usage reports, AppStream 2.0 creates a new S3 bucket.</p>",
          "shape": "String"
        },
        "Schedule": {
          "documentation": "<p>The schedule for generating usage reports.</p>",
          "shape": "UsageReportSchedule"
        }
      },
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the user. You must specify USERPOOL. </p>",
          "shape": "AuthenticationType"
        },
        "FirstName": {
          "documentation": "<p>The first name, or given name, of the user.</p>",
          "shape": "UserAttributeValue"
        },
        "LastName": {
          "documentation": "<p>The last name, or surname, of the user.</p>",
          "shape": "UserAttributeValue"
        },
        "MessageAction": {
          "documentation": "<p>The action to take for the welcome email that is sent to a user after the user is created in the user pool. If you specify SUPPRESS, no email is sent. If you specify RESEND, do not specify the first name or last name of the user. If the value is null, the email is sent. </p> <note> <p>The temporary password in the welcome email is valid for only 7 days. If users don\u2019t set their passwords within 7 days, you must send them a new welcome email.</p> </note>",
          "shape": "MessageAction"
        },
        "UserName": {
          "documentation": "<p>The email address of the user.</p> <note> <p>Users' email addresses are case-sensitive. During login, if they specify an email address that doesn't use the same capitalization as the email address specified when their user pool account was created, a \"user does not exist\" error message displays.</p> </note>",
          "shape": "Username"
        }
      },
      "required": [
        "UserName",
        "AuthenticationType"
      ],
      "type": "structure"
    },
    "CreateUserResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteDirectoryConfigRequest": {
      "members": {
        "DirectoryName": {
          "documentation": "<p>The name of the directory configuration.</p>",
          "shape": "DirectoryName"
        }
      },
      "required": [
        "DirectoryName"
      ],
      "type": "structure"
    },
    "DeleteDirectoryConfigResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteFleetRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteFleetResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteImageBuilderRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the image builder.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteImageBuilderResult": {
      "members": {
        "ImageBuilder": {
          "documentation": "<p>Information about the image builder.</p>",
          "shape": "ImageBuilder"
        }
      },
      "type": "structure"
    },
    "DeleteImagePermissionsRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the private image.</p>",
          "shape": "Name"
        },
        "SharedAccountId": {
          "documentation": "<p>The 12-digit identifier of the AWS account for which to delete image permissions.</p>",
          "shape": "AwsAccountId"
        }
      },
      "required": [
        "Name",
        "SharedAccountId"
      ],
      "type": "structure"
    },
    "DeleteImagePermissionsResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteImageRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the image.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteImageResult": {
      "members": {
        "Image": {
          "documentation": "<p>Information about the image.</p>",
          "shape": "Image"
        }
      },
      "type": "structure"
    },
    "DeleteStackRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteStackResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteUsageReportSubscriptionRequest": {
      "members": {},
      "type": "structure"
    },
    "DeleteUsageReportSubscriptionResult": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the user. You must specify USERPOOL.</p>",
          "shape": "AuthenticationType"
        },
        "UserName": {
          "documentation": "<p>The email address of the user.</p> <note> <p>Users' email addresses are case-sensitive.</p> </note>",
          "shape": "Username"
        }
      },
      "required": [
        "UserName",
        "AuthenticationType"
      ],
      "type": "structure"
    },
    "DeleteUserResult": {
      "members": {},
      "type": "structure"
    },
    "DescribeDirectoryConfigsRequest": {
      "members": {
        "DirectoryNames": {
          "documentation": "<p>The directory names.</p>",
          "shape": "DirectoryNameList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "Integer"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeDirectoryConfigsResult": {
      "members": {
        "DirectoryConfigs": {
          "documentation": "<p>Information about the directory configurations. Note that although the response syntax in this topic includes the account password, this password is not returned in the actual response. </p>",
          "shape": "DirectoryConfigList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeFleetsRequest": {
      "members": {
        "Names": {
          "documentation": "<p>The names of the fleets to describe.</p>",
          "shape": "StringList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeFleetsResult": {
      "members": {
        "Fleets": {
          "documentation": "<p>Information about the fleets.</p>",
          "shape": "FleetList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeImageBuildersRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "Integer"
        },
        "Names": {
          "documentation": "<p>The names of the image builders to describe.</p>",
          "shape": "StringList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeImageBuildersResult": {
      "members": {
        "ImageBuilders": {
          "documentation": "<p>Information about the image builders.</p>",
          "shape": "ImageBuilderList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeImagePermissionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "MaxResults"
        },
        "Name": {
          "documentation": "<p>The name of the private image for which to describe permissions. The image must be one that you own. </p>",
          "shape": "Name"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        },
        "SharedAwsAccountIds": {
          "documentation": "<p>The 12-digit identifier of one or more AWS accounts with which the image is shared.</p>",
          "shape": "AwsAccountIdList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeImagePermissionsResult": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the private image.</p>",
          "shape": "Name"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        },
        "SharedImagePermissionsList": {
          "documentation": "<p>The permissions for a private image that you own. </p>",
          "shape": "SharedImagePermissionsList"
        }
      },
      "type": "structure"
    },
    "DescribeImagesMaxResults": {
      "box": true,
      "max": 25,
      "min": 0,
      "type": "integer"
    },
    "DescribeImagesRequest": {
      "members": {
        "Arns": {
          "documentation": "<p>The ARNs of the public, private, and shared images to describe.</p>",
          "shape": "ArnList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "DescribeImagesMaxResults"
        },
        "Names": {
          "documentation": "<p>The names of the public or private images to describe.</p>",
          "shape": "StringList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>The type of image (public, private, or shared) to describe. </p>",
          "shape": "VisibilityType"
        }
      },
      "type": "structure"
    },
    "DescribeImagesResult": {
      "members": {
        "Images": {
          "documentation": "<p>Information about the images.</p>",
          "shape": "ImageList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeSessionsRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication method. Specify <code>API</code> for a user authenticated using a streaming URL or <code>SAML</code> for a SAML federated user. The default is to authenticate users using a streaming URL.</p>",
          "shape": "AuthenticationType"
        },
        "FleetName": {
          "documentation": "<p>The name of the fleet. This value is case-sensitive.</p>",
          "shape": "String"
        },
        "Limit": {
          "documentation": "<p>The size of each page of results. The default value is 20 and the maximum value is 50.</p>",
          "shape": "Integer"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack. This value is case-sensitive.</p>",
          "shape": "String"
        },
        "UserId": {
          "documentation": "<p>The user identifier.</p>",
          "shape": "UserId"
        }
      },
      "required": [
        "StackName",
        "FleetName"
      ],
      "type": "structure"
    },
    "DescribeSessionsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        },
        "Sessions": {
          "documentation": "<p>Information about the streaming sessions.</p>",
          "shape": "SessionList"
        }
      },
      "type": "structure"
    },
    "DescribeStacksRequest": {
      "members": {
        "Names": {
          "documentation": "<p>The names of the stacks to describe.</p>",
          "shape": "StringList"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeStacksResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        },
        "Stacks": {
          "documentation": "<p>Information about the stacks.</p>",
          "shape": "StackList"
        }
      },
      "type": "structure"
    },
    "DescribeUsageReportSubscriptionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "Integer"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeUsageReportSubscriptionsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        },
        "UsageReportSubscriptions": {
          "documentation": "<p>Information about the usage report subscription.</p>",
          "shape": "UsageReportSubscriptionList"
        }
      },
      "type": "structure"
    },
    "DescribeUserStackAssociationsRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the user who is associated with the stack. You must specify USERPOOL.</p>",
          "shape": "AuthenticationType"
        },
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack that is associated with the user.</p>",
          "shape": "String"
        },
        "UserName": {
          "documentation": "<p>The email address of the user who is associated with the stack.</p> <note> <p>Users' email addresses are case-sensitive.</p> </note>",
          "shape": "Username"
        }
      },
      "type": "structure"
    },
    "DescribeUserStackAssociationsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        },
        "UserStackAssociations": {
          "documentation": "<p>The UserStackAssociation objects.</p>",
          "shape": "UserStackAssociationList"
        }
      },
      "type": "structure"
    },
    "DescribeUsersRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the users in the user pool to describe. You must specify USERPOOL.</p>",
          "shape": "AuthenticationType"
        },
        "MaxResults": {
          "documentation": "<p>The maximum size of each page of results.</p>",
          "shape": "Integer"
        },
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If this value is null, it retrieves the first page.</p>",
          "shape": "String"
        }
      },
      "required": [
        "AuthenticationType"
      ],
      "type": "structure"
    },
    "DescribeUsersResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>The pagination token to use to retrieve the next page of results for this operation. If there are no more pages, this value is null.</p>",
          "shape": "String"
        },
        "Users": {
          "documentation": "<p>Information about users in the user pool.</p>",
          "shape": "UserList"
        }
      },
      "type": "structure"
    },
    "Description": {
      "max": 256,
      "type": "string"
    },
    "DirectoryConfig": {
      "documentation": "<p>Describes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>",
      "members": {
        "CreatedTime": {
          "documentation": "<p>The time the directory configuration was created.</p>",
          "shape": "Timestamp"
        },
        "DirectoryName": {
          "documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
          "shape": "DirectoryName"
        },
        "OrganizationalUnitDistinguishedNames": {
          "documentation": "<p>The distinguished names of the organizational units for computer accounts.</p>",
          "shape": "OrganizationalUnitDistinguishedNamesList"
        },
        "ServiceAccountCredentials": {
          "documentation": "<p>The credentials for the service account used by the fleet or image builder to connect to the directory.</p>",
          "shape": "ServiceAccountCredentials"
        }
      },
      "required": [
        "DirectoryName"
      ],
      "type": "structure"
    },
    "DirectoryConfigList": {
      "member": {
        "shape": "DirectoryConfig"
      },
      "type": "list"
    },
    "DirectoryName": {
      "type": "string"
    },
    "DirectoryNameList": {
      "member": {
        "shape": "DirectoryName"
      },
      "type": "list"
    },
    "DisableUserRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the user. You must specify USERPOOL.</p>",
          "shape": "AuthenticationType"
        },
        "UserName": {
          "documentation": "<p>The email address of the user.</p> <note> <p>Users' email addresses are case-sensitive.</p> </note>",
          "shape": "Username"
        }
      },
      "required": [
        "UserName",
        "AuthenticationType"
      ],
      "type": "structure"
    },
    "DisableUserResult": {
      "members": {},
      "type": "structure"
    },
    "DisassociateFleetRequest": {
      "members": {
        "FleetName": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "String"
        },
        "StackName": {
          "documentation": "<p>The name of the stack.</p>",
          "shape": "String"
        }
      },
      "required": [
        "FleetName",
        "StackName"
      ],
      "type": "structure"
    },
    "DisassociateFleetResult": {
      "members": {},
      "type": "structure"
    },
    "DisplayName": {
      "max": 100,
      "type": "string"
    },
    "Domain": {
      "documentation": "GSuite domain for GDrive integration.",
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "DomainJoinInfo": {
      "documentation": "<p>Describes the configuration information required to join fleets and image builders to Microsoft Active Directory domains.</p>",
      "members": {
        "DirectoryName": {
          "documentation": "<p>The fully qualified name of the directory (for example, corp.example.com).</p>",
          "shape": "DirectoryName"
        },
        "OrganizationalUnitDistinguishedName": {
          "documentation": "<p>The distinguished name of the organizational unit for computer accounts.</p>",
          "shape": "OrganizationalUnitDistinguishedName"
        }
      },
      "type": "structure"
    },
    "DomainList": {
      "max": 10,
      "member": {
        "shape": "Domain"
      },
      "type": "list"
    },
    "EmbedHostDomain": {
      "documentation": "Specifies a valid domain that can embed AppStream. Valid examples include: [\"testorigin.tt--com\", \"testingorigin.com.us\", \"test.com.us\"] Invalid examples include: [\"test,com\", \".com\", \"h*llo.com\". \"\"]",
      "max": 128,
      "pattern": "(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.)+[a-z0-9][a-z0-9-]{0,61}[a-z0-9]",
      "type": "string"
    },
    "EmbedHostDomains": {
      "max": 20,
      "member": {
        "shape": "EmbedHostDomain"
      },
      "min": 1,
      "type": "list"
    },
    "EnableUserRequest": {
      "members": {
        "AuthenticationType": {
          "documentation": "<p>The authentication type for the user. You must specify USERPOOL.</p>",
          "shape": "AuthenticationType"
        },
        "UserName": {
          "documentation": "<p>The email address of the user.</p> <note> <p>Users' email addresses are case-sensitive. During login, if they specify an email address that doesn't use the same capitalization as the email address specified when their user pool account was created, a \"user does not exist\" error message displays. </p> </note>",
          "shape": "Username"
        }
      },
      "required": [
        "UserName",
        "AuthenticationType"
      ],
      "type": "structure"
    },
    "EnableUserResult": {
      "members": {},
      "type": "structure"
    },
    "ErrorMessage": {
      "documentation": "<p>The error message in the exception.</p>",
      "type": "string"
    },
    "ExpireSessionRequest": {
      "members": {
        "SessionId": {
          "documentation": "<p>The identifier of the streaming session.</p>",
          "shape": "String"
        }
      },
      "required": [
        "SessionId"
      ],
      "type": "structure"
    },
    "ExpireSessionResult": {
      "members": {},
      "type": "structure"
    },
    "FeedbackURL": {
      "max": 1000,
      "type": "string"
    },
    "Fleet": {
      "documentation": "<p>Describes a fleet.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the fleet.</p>",
          "shape": "Arn"
        },
        "ComputeCapacityStatus": {
          "documentation": "<p>The capacity status for the fleet.</p>",
          "shape": "ComputeCapacityStatus"
        },
        "CreatedTime": {
          "documentation": "<p>The time the fleet was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "String"
        },
        "DisconnectTimeoutInSeconds": {
          "documentation": "<p>The amount of time that a streaming session remains active after users disconnect. If they try to reconnect to the streaming session after a disconnection or network interruption within this time interval, they are connected to their previous session. Otherwise, they are connected to a new session with a new streaming instance.</p> <p>Specify a value between 60 and 360000.</p>",
          "shape": "Integer"
        },
        "DisplayName": {
          "documentation": "<p>The fleet name to display.</p>",
          "shape": "String"
        },
        "DomainJoinInfo": {
          "documentation": "<p>The name of the directory and organizational unit (OU) to use to join the fleet to a Microsoft Active Directory domain. </p>",
          "shape": "DomainJoinInfo"
        },
        "EnableDefaultInternetAccess": {
          "documentation": "<p>Indicates whether default internet access is enabled for the fleet.</p>",
          "shape": "BooleanObject"
        },
        "FleetErrors": {
          "documentation": "<p>The fleet errors.</p>",
          "shape": "FleetErrors"
        },
        "FleetType": {
          "documentation": "<p>The fleet type.</p> <dl> <dt>ALWAYS_ON</dt> <dd> <p>Provides users with instant-on access to their apps. You are charged for all running instances in your fleet, even if no users are streaming apps.</p> </dd> <dt>ON_DEMAND</dt> <dd> <p>Provide users with access to applications after they connect, which takes one to two minutes. You are charged for instance streaming when users are connected and a small hourly fee for instances that are not streaming apps.</p> </dd> </dl>",
          "shape": "FleetType"
        },
        "IamRoleArn": {
          "documentation": "<p>The ARN of the IAM role that is applied to the fleet. To assume a role, the fleet instance calls the AWS Security Token Service (STS) <code>AssumeRole</code> API operation and passes the ARN of the role to use. The operation creates a new session with temporary credentials. AppStream 2.0 retrieves the temporary credentials and creates the <b>AppStream_Machine_Role</b> credential profile on the instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/appstream2/latest/developerguide/using-iam-roles-to-grant-permissions-to-applications-scripts-streaming-instances.html\">Using an IAM Role to Grant Permissions to Applications and Scripts Running on AppStream 2.0 Streaming Instances</a> in the <i>Amazon AppStream 2.0 Administration Guide</i>.</p>",
          "shape": "Arn"
        },
        "IdleDisconnectTimeoutInSeconds": {
          "documentation": "<p>The amount of time that users can be idle (inactive) before they are disconnected from their streaming session and the <code>DisconnectTimeoutInSeconds</code> time interval begins. Users are notified before they are disconnected due to inactivity. If users try to reconnect to the streaming session before the time interval specified in <code>DisconnectTimeoutInSeconds</code> elapses, they are connected to their previous session. Users are considered idle when they stop providing keyboard or mouse input during their streaming session. File uploads and downloads, audio in, audio out, and pixels changing do not qualify as user activity. If users continue to be idle after the time interval in <code>IdleDisconnectTimeoutInSeconds</code> elapses, they are disconnected.</p> <p>To prevent users from being disconnected due to inactivity, specify a value of 0. Otherwise, specify a value between 60 and 3600. The default value is 0.</p> <note> <p>If you enable this feature, we recommend that you specify a value that corresponds exactly to a whole number of minutes (for example, 60, 120, and 180). If you don't do this, the value is rounded to the nearest minute. For example, if you specify a value of 70, users are disconnected after 1 minute of inactivity. If you specify a value that is at the midpoint between two different minutes, the value is rounded up. For example, if you specify a value of 90, users are disconnected after 2 minutes of inactivity. </p> </note>",
          "shape": "Integer"
        },
        "ImageArn": {
          "documentation": "<p>The ARN for the public, private, or shared image.</p>",
          "shape": "Arn"
        },
        "ImageName": {
          "documentation": "<p>The name of the image used to create the fleet.</p>",
          "shape": "String"
        },
        "InstanceType": {
          "documentation": "<p>The instance type to use when launching fleet instances. The following instance types are available:</p> <ul> <li> <p>stream.standard.medium</p> </li> <li> <p>stream.standard.large</p> </li> <li> <p>stream.compute.large</p> </li> <li> <p>stream.compute.xlarge</p> </li> <li> <p>stream.compute.2xlarge</p> </li> <li> <p>stream.compute.4xlarge</p> </li> <li> <p>stream.compute.8xlarge</p> </li> <li> <p>stream.memory.large</p> </li> <li> <p>stream.memory.xlarge</p> </li> <li> <p>stream.memory.2xlarge</p> </li> <li> <p>stream.memory.4xlarge</p> </li> <li> <p>stream.memory.8xlarge</p> </li> <li> <p>stream.graphics-design.large</p> </li> <li> <p>stream.graphics-design.xlarge</p> </li> <li> <p>stream.graphics-design.2xlarge</p> </li> <li> <p>stream.graphics-design.4xlarge</p> </li> <li> <p>stream.graphics-desktop.2xlarge</p> </li> <li> <p>stream.graphics-pro.4xlarge</p> </li> <li> <p>stream.graphics-pro.8xlarge</p> </li> <li> <p>stream.graphics-pro.16xlarge</p> </li> </ul>",
          "shape": "String"
        },
        "MaxUserDurationInSeconds": {
          "documentation": "<p>The maximum amount of time that a streaming session can remain active, in seconds. If users are still connected to a streaming instance five minutes before this limit is reached, they are prompted to save any open documents before being disconnected. After this time elapses, the instance is terminated and replaced by a new instance. </p> <p>Specify a value between 600 and 360000.</p>",
          "shape": "Integer"
        },
        "Name": {
          "documentation": "<p>The name of the fleet.</p>",
          "shape": "String"
        },
        "State": {
          "documentation": "<p>The current state for the fleet.</p>",
          "shape": "FleetState"
        },
        "VpcConfig": {
          "documentation": "<p>The VPC configuration for the fleet.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "Arn",
        "Name",
        "InstanceType",
        "ComputeCapacityStatus",
        "State"
      ],
      "type": "structure"
    },
    "FleetAttribute": {
      "documentation": "<p>The fleet attribute.</p>",
      "enum": [
        "VPC_CONFIGURATION",
        "VPC_CONFIGURATION_SECURITY_GROUP_IDS",
        "DOMAIN_JOIN_INFO",
        "IAM_ROLE_ARN"
      ],
      "type": "string"
    },
    "FleetAttributes": {
      "documentation": "<p>The fleet attributes.</p>",
      "member": {
        "shape": "FleetAttribute"
      },
      "type": "list"
    },
    "FleetError": {
      "documentation": "<p>Describes a fleet error.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "FleetErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FleetErrorCode": {
      "enum": [
        "IAM_SERVICE_ROLE_MISSING_ENI_DESCRIBE_ACTION",
        "IAM_SERVICE_ROLE_MISSING_ENI_CREATE_ACTION",
        "IAM_SERVICE_ROLE_MISSING_ENI_DELETE_ACTION",
        "NETWORK_INTERFACE_LIMIT_EXCEEDED",
        "INTERNAL_SERVICE_ERROR",
        "IAM_SERVICE_ROLE_IS_MISSING",
        "MACHINE_ROLE_IS_MISSING",
        "STS_DISABLED_IN_REGION",
        "SUBNET_HAS_INSUFFICIENT_IP_ADDRESSES",
        "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SUBNET_ACTION",
        "SUBNET_NOT_FOUND",
        "IMAGE_NOT_FOUND",
        "INVALID_SUBNET_CONFIGURATION",
        "SECURITY_GROUPS_NOT_FOUND",
        "IGW_NOT_ATTACHED",
        "IAM_SERVICE_ROLE_MISSING_DESCRIBE_SECURITY_GROUPS_ACTION",
        "DOMAIN_JOIN_ERROR_FILE_NOT_FOUND",
        "DOMAIN_JOIN_ERROR_ACCESS_DENIED",
        "DOMAIN_JOIN_ERROR_LOGON_FAILURE",
        "DOMAIN_JOIN_ERROR_INVALID_PARAMETER",
        "DOMAIN_JOIN_ERROR_MORE_DATA",
        "DOMAIN_JOIN_ERROR_NO_SUCH_DOMAIN",
        "DOMAIN_JOIN_ERROR_NOT_SUPPORTED",
        "DOMAIN_JOIN_NERR_INVALID_WORKGROUP_NAME",
        "DOMAIN_JOIN_NERR_WORKSTATION_NOT_STARTED",
        "DOMAIN_JOIN_ERROR_DS_MACHINE_ACCOUNT_QUOTA_EXCEEDED",
        "DOMAIN_JOIN_NERR_PASSWORD_EXPIRED",
        "DOMAIN_JOIN_INTERNAL_SERVICE_ERROR"
      ],
      "type": "string"
    },
    "FleetErrors": {
      "member": {
        "shape": "FleetError"
      },
      "type": "list"
    },
    "FleetList": {
      "documentation": "<p>The fleets.</p>",
      "member": {
        "shape": "Fleet"
      },
      "type": "list"
    },
    "FleetState": {
      "enum": [
        "STARTING",
        "RUNNING",
        "STOPPING",
        "STOPPED"
      ],
      "type": "string"
    },
    "FleetType": {
      "enum": [
        "ALWAYS_ON",
        "ON_DEMAND"
      ],
      "type": "string"
    },
    "Image": {
      "documentation": "<p>Describes an image.</p>",
      "members": {
        "Applications": {
          "documentation": "<p>The applications associated with the image.</p>",
          "shape": "Applications"
        },
        "AppstreamAgentVersion": {
          "documentation": "<p>The version of the AppStream 2.0 agent to use for instances that are launched from this image. </p>",
          "shape": "AppstreamAgentVersion"
        },
        "Arn": {
          "documentation": "<p>The ARN of the image.</p>",
          "shape": "Arn"
        },
        "BaseImageArn": {
          "documentation": "<p>The ARN of the image from which this image was created.</p>",
          "shape": "Arn"
        },
        "CreatedTime": {
          "documentation": "<p>The time the image was created.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The description to display.</p>",
          "shape": "String"
[...]
