{
  "documentation": "<p>Amazon Personalize is a machine learning service that makes it easy to add individualized recommendations to customers.</p>",
  "metadata": {
    "apiVersion": "2018-05-22",
    "endpointPrefix": "personalize",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Personalize",
    "serviceId": "Personalize",
    "signatureVersion": "v4",
    "signingName": "personalize",
    "targetPrefix": "AmazonPersonalize",
    "uid": "personalize-2018-05-22"
  },
  "operations": {
    "CreateBatchInferenceJob": {
      "documentation": "<p>Creates a batch inference job. The operation can handle up to 50 million records and the input file must be in JSON format. For more information, see <a>recommendations-batch</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBatchInferenceJobRequest"
      },
      "name": "CreateBatchInferenceJob",
      "output": {
        "shape": "CreateBatchInferenceJobResponse"
      }
    },
    "CreateCampaign": {
      "documentation": "<p>Creates a campaign by deploying a solution version. When a client calls the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> and <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetPersonalizedRanking.html\">GetPersonalizedRanking</a> APIs, a campaign is specified in the request.</p> <p> <b>Minimum Provisioned TPS and Auto-Scaling</b> </p> <p>A transaction is a single <code>GetRecommendations</code> or <code>GetPersonalizedRanking</code> call. Transactions per second (TPS) is the throughput and unit of billing for Amazon Personalize. The minimum provisioned TPS (<code>minProvisionedTPS</code>) specifies the baseline throughput provisioned by Amazon Personalize, and thus, the minimum billing charge. If your TPS increases beyond <code>minProvisionedTPS</code>, Amazon Personalize auto-scales the provisioned capacity up and down, but never below <code>minProvisionedTPS</code>, to maintain a 70% utilization. There's a short time delay while the capacity is increased that might cause loss of transactions. It's recommended to start with a low <code>minProvisionedTPS</code>, track your usage using Amazon CloudWatch metrics, and then increase the <code>minProvisionedTPS</code> as necessary.</p> <p> <b>Status</b> </p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the campaign status, call <a>DescribeCampaign</a>.</p> <note> <p>Wait until the <code>status</code> of the campaign is <code>ACTIVE</code> before asking the campaign for recommendations.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListCampaigns</a> </p> </li> <li> <p> <a>DescribeCampaign</a> </p> </li> <li> <p> <a>UpdateCampaign</a> </p> </li> <li> <p> <a>DeleteCampaign</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateCampaignRequest"
      },
      "name": "CreateCampaign",
      "output": {
        "shape": "CreateCampaignResponse"
      }
    },
    "CreateDataset": {
      "documentation": "<p>Creates an empty dataset and adds it to the specified dataset group. Use <a>CreateDatasetImportJob</a> to import your training data to a dataset.</p> <p>There are three types of datasets:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul> <p>Each dataset type has an associated schema with required field types. Only the <code>Interactions</code> dataset is required in order to train a model (also referred to as creating a solution).</p> <p>A dataset can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the dataset, call <a>DescribeDataset</a>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>CreateDatasetGroup</a> </p> </li> <li> <p> <a>ListDatasets</a> </p> </li> <li> <p> <a>DescribeDataset</a> </p> </li> <li> <p> <a>DeleteDataset</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateDatasetRequest"
      },
      "name": "CreateDataset",
      "output": {
        "shape": "CreateDatasetResponse"
      }
    },
    "CreateDatasetGroup": {
      "documentation": "<p>Creates an empty dataset group. A dataset group contains related datasets that supply data for training a model. A dataset group can contain at most three datasets, one for each type of dataset:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul> <p>To train a model (create a solution), a dataset group that contains an <code>Interactions</code> dataset is required. Call <a>CreateDataset</a> to add a dataset to the group.</p> <p>A dataset group can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING</p> </li> </ul> <p>To get the status of the dataset group, call <a>DescribeDatasetGroup</a>. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the creation failed.</p> <note> <p>You must wait until the <code>status</code> of the dataset group is <code>ACTIVE</code> before adding a dataset to the group.</p> </note> <p>You can specify an AWS Key Management Service (KMS) key to encrypt the datasets in the group. If you specify a KMS key, you must also include an AWS Identity and Access Management (IAM) role that has permission to access the key.</p> <p class=\"title\"> <b>APIs that require a dataset group ARN in the request</b> </p> <ul> <li> <p> <a>CreateDataset</a> </p> </li> <li> <p> <a>CreateEventTracker</a> </p> </li> <li> <p> <a>CreateSolution</a> </p> </li> </ul> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListDatasetGroups</a> </p> </li> <li> <p> <a>DescribeDatasetGroup</a> </p> </li> <li> <p> <a>DeleteDatasetGroup</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetGroupRequest"
      },
      "name": "CreateDatasetGroup",
      "output": {
        "shape": "CreateDatasetGroupResponse"
      }
    },
    "CreateDatasetImportJob": {
      "documentation": "<p>Creates a job that imports training data from your data source (an Amazon S3 bucket) to an Amazon Personalize dataset. To allow Amazon Personalize to import the training data, you must specify an AWS Identity and Access Management (IAM) role that has permission to read from the data source.</p> <important> <p>The dataset import job replaces any previous data in the dataset.</p> </important> <p> <b>Status</b> </p> <p>A dataset import job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul> <p>To get the status of the import job, call <a>DescribeDatasetImportJob</a>, providing the Amazon Resource Name (ARN) of the dataset import job. The dataset import is complete when the status shows as ACTIVE. If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed.</p> <note> <p>Importing takes time. You must wait until the status shows as ACTIVE before training a model using the dataset.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListDatasetImportJobs</a> </p> </li> <li> <p> <a>DescribeDatasetImportJob</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatasetImportJobRequest"
      },
      "name": "CreateDatasetImportJob",
      "output": {
        "shape": "CreateDatasetImportJobResponse"
      }
    },
    "CreateEventTracker": {
      "documentation": "<p>Creates an event tracker that you use when sending event data to the specified dataset group using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p> <p>When Amazon Personalize creates an event tracker, it also creates an <i>event-interactions</i> dataset in the dataset group associated with the event tracker. The event-interactions dataset stores the event data from the <code>PutEvents</code> call. The contents of this dataset are not available to the user.</p> <note> <p>Only one event tracker can be associated with a dataset group. You will get an error if you call <code>CreateEventTracker</code> using the same dataset group as an existing event tracker.</p> </note> <p>When you send event data you include your tracking ID. The tracking ID identifies the customer and authorizes the customer to send the data.</p> <p>The event tracker can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the event tracker, call <a>DescribeEventTracker</a>.</p> <note> <p>The event tracker must be in the ACTIVE state before using the tracking ID.</p> </note> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListEventTrackers</a> </p> </li> <li> <p> <a>DescribeEventTracker</a> </p> </li> <li> <p> <a>DeleteEventTracker</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateEventTrackerRequest"
      },
      "name": "CreateEventTracker",
      "output": {
        "shape": "CreateEventTrackerResponse"
      }
    },
    "CreateSchema": {
      "documentation": "<p>Creates an Amazon Personalize schema from the specified schema string. The schema you create must be in Avro JSON format.</p> <p>Amazon Personalize recognizes three schema variants. Each schema is associated with a dataset type and has a set of required field and keywords. You specify a schema when you call <a>CreateDataset</a>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListSchemas</a> </p> </li> <li> <p> <a>DescribeSchema</a> </p> </li> <li> <p> <a>DeleteSchema</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateSchemaRequest"
      },
      "name": "CreateSchema",
      "output": {
        "shape": "CreateSchemaResponse"
      }
    },
    "CreateSolution": {
      "documentation": "<p>Creates the configuration for training a model. A trained model is known as a solution. After the configuration is created, you train the model (create a solution) by calling the <a>CreateSolutionVersion</a> operation. Every time you call <code>CreateSolutionVersion</code>, a new version of the solution is created.</p> <p>After creating a solution version, you check its accuracy by calling <a>GetSolutionMetrics</a>. When you are satisfied with the version, you deploy it using <a>CreateCampaign</a>. The campaign provides recommendations to a client through the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p> <p>To train a model, Amazon Personalize requires training data and a recipe. The training data comes from the dataset group that you provide in the request. A recipe specifies the training algorithm and a feature transformation. You can specify one of the predefined recipes provided by Amazon Personalize. Alternatively, you can specify <code>performAutoML</code> and Amazon Personalize will analyze your data and select the optimum USER_PERSONALIZATION recipe for you.</p> <p> <b>Status</b> </p> <p>A solution can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>To get the status of the solution, call <a>DescribeSolution</a>. Wait until the status shows as ACTIVE before calling <code>CreateSolutionVersion</code>.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListSolutions</a> </p> </li> <li> <p> <a>CreateSolutionVersion</a> </p> </li> <li> <p> <a>DescribeSolution</a> </p> </li> <li> <p> <a>DeleteSolution</a> </p> </li> </ul> <ul> <li> <p> <a>ListSolutionVersions</a> </p> </li> <li> <p> <a>DescribeSolutionVersion</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSolutionRequest"
      },
      "name": "CreateSolution",
      "output": {
        "shape": "CreateSolutionResponse"
      }
    },
    "CreateSolutionVersion": {
      "documentation": "<p>Trains or retrains an active solution. A solution is created using the <a>CreateSolution</a> operation and must be in the ACTIVE state before calling <code>CreateSolutionVersion</code>. A new version of the solution is created every time you call this operation.</p> <p> <b>Status</b> </p> <p>A solution version can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul> <p>To get the status of the version, call <a>DescribeSolutionVersion</a>. Wait until the status shows as ACTIVE before calling <code>CreateCampaign</code>.</p> <p>If the status shows as CREATE FAILED, the response includes a <code>failureReason</code> key, which describes why the job failed.</p> <p class=\"title\"> <b>Related APIs</b> </p> <ul> <li> <p> <a>ListSolutionVersions</a> </p> </li> <li> <p> <a>DescribeSolutionVersion</a> </p> </li> </ul> <ul> <li> <p> <a>ListSolutions</a> </p> </li> <li> <p> <a>CreateSolution</a> </p> </li> <li> <p> <a>DescribeSolution</a> </p> </li> <li> <p> <a>DeleteSolution</a> </p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSolutionVersionRequest"
      },
      "name": "CreateSolutionVersion",
      "output": {
        "shape": "CreateSolutionVersionResponse"
      }
    },
    "DeleteCampaign": {
      "documentation": "<p>Removes a campaign by deleting the solution deployment. The solution that the campaign is based on is not deleted and can be redeployed when needed. A deleted campaign can no longer be specified in a <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> request. For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteCampaignRequest"
      },
      "name": "DeleteCampaign"
    },
    "DeleteDataset": {
      "documentation": "<p>Deletes a dataset. You can't delete a dataset if an associated <code>DatasetImportJob</code> or <code>SolutionVersion</code> is in the CREATE PENDING or IN PROGRESS state. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset"
    },
    "DeleteDatasetGroup": {
      "documentation": "<p>Deletes a dataset group. Before you delete a dataset group, you must delete the following:</p> <ul> <li> <p>All associated event trackers.</p> </li> <li> <p>All associated solutions.</p> </li> <li> <p>All datasets in the dataset group.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteDatasetGroupRequest"
      },
      "name": "DeleteDatasetGroup"
    },
    "DeleteEventTracker": {
      "documentation": "<p>Deletes the event tracker. Does not delete the event-interactions dataset from the associated dataset group. For more information on event trackers, see <a>CreateEventTracker</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteEventTrackerRequest"
      },
      "name": "DeleteEventTracker"
    },
    "DeleteSchema": {
      "documentation": "<p>Deletes a schema. Before deleting a schema, you must delete all datasets referencing the schema. For more information on schemas, see <a>CreateSchema</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSchemaRequest"
      },
      "name": "DeleteSchema"
    },
    "DeleteSolution": {
      "documentation": "<p>Deletes all versions of a solution and the <code>Solution</code> object itself. Before deleting a solution, you must delete all campaigns based on the solution. To determine what campaigns are using the solution, call <a>ListCampaigns</a> and supply the Amazon Resource Name (ARN) of the solution. You can't delete a solution if an associated <code>SolutionVersion</code> is in the CREATE PENDING or IN PROGRESS state. For more information on solutions, see <a>CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteSolutionRequest"
      },
      "name": "DeleteSolution"
    },
    "DescribeAlgorithm": {
      "documentation": "<p>Describes the given algorithm.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeAlgorithmRequest"
      },
      "name": "DescribeAlgorithm",
      "output": {
        "shape": "DescribeAlgorithmResponse"
      }
    },
    "DescribeBatchInferenceJob": {
      "documentation": "<p>Gets the properties of a batch inference job including name, Amazon Resource Name (ARN), status, input and output configurations, and the ARN of the solution version used to generate the recommendations.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeBatchInferenceJobRequest"
      },
      "name": "DescribeBatchInferenceJob",
      "output": {
        "shape": "DescribeBatchInferenceJobResponse"
      }
    },
    "DescribeCampaign": {
      "documentation": "<p>Describes the given campaign, including its status.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul> <p>When the <code>status</code> is <code>CREATE FAILED</code>, the response includes the <code>failureReason</code> key, which describes why.</p> <p>For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeCampaignRequest"
      },
      "name": "DescribeCampaign",
      "output": {
        "shape": "DescribeCampaignResponse"
      }
    },
    "DescribeDataset": {
      "documentation": "<p>Describes the given dataset. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeDatasetGroup": {
      "documentation": "<p>Describes the given dataset group. For more information on dataset groups, see <a>CreateDatasetGroup</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetGroupRequest"
      },
      "name": "DescribeDatasetGroup",
      "output": {
        "shape": "DescribeDatasetGroupResponse"
      }
    },
    "DescribeDatasetImportJob": {
      "documentation": "<p>Describes the dataset import job created by <a>CreateDatasetImportJob</a>, including the import job status.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeDatasetImportJobRequest"
      },
      "name": "DescribeDatasetImportJob",
      "output": {
        "shape": "DescribeDatasetImportJobResponse"
      }
    },
    "DescribeEventTracker": {
      "documentation": "<p>Describes an event tracker. The response includes the <code>trackingId</code> and <code>status</code> of the event tracker. For more information on event trackers, see <a>CreateEventTracker</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeEventTrackerRequest"
      },
      "name": "DescribeEventTracker",
      "output": {
        "shape": "DescribeEventTrackerResponse"
      }
    },
    "DescribeFeatureTransformation": {
      "documentation": "<p>Describes the given feature transformation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeFeatureTransformationRequest"
      },
      "name": "DescribeFeatureTransformation",
      "output": {
        "shape": "DescribeFeatureTransformationResponse"
      }
    },
    "DescribeRecipe": {
      "documentation": "<p>Describes a recipe.</p> <p>A recipe contains three items:</p> <ul> <li> <p>An algorithm that trains a model.</p> </li> <li> <p>Hyperparameters that govern the training.</p> </li> <li> <p>Feature transformation information for modifying the input data before training.</p> </li> </ul> <p>Amazon Personalize provides a set of predefined recipes. You specify a recipe when you create a solution with the <a>CreateSolution</a> API. <code>CreateSolution</code> trains a model by using the algorithm in the specified recipe and a training dataset. The solution, when deployed as a campaign, can provide recommendations using the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_RS_GetRecommendations.html\">GetRecommendations</a> API.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeRecipeRequest"
      },
      "name": "DescribeRecipe",
      "output": {
        "shape": "DescribeRecipeResponse"
      }
    },
    "DescribeSchema": {
      "documentation": "<p>Describes a schema. For more information on schemas, see <a>CreateSchema</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeSchemaRequest"
      },
      "name": "DescribeSchema",
      "output": {
        "shape": "DescribeSchemaResponse"
      }
    },
    "DescribeSolution": {
      "documentation": "<p>Describes a solution. For more information on solutions, see <a>CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeSolutionRequest"
      },
      "name": "DescribeSolution",
      "output": {
        "shape": "DescribeSolutionResponse"
      }
    },
    "DescribeSolutionVersion": {
      "documentation": "<p>Describes a specific version of a solution. For more information on solutions, see <a>CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeSolutionVersionRequest"
      },
      "name": "DescribeSolutionVersion",
      "output": {
        "shape": "DescribeSolutionVersionResponse"
      }
    },
    "GetSolutionMetrics": {
      "documentation": "<p>Gets the metrics for the specified solution version.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSolutionMetricsRequest"
      },
      "name": "GetSolutionMetrics",
      "output": {
        "shape": "GetSolutionMetricsResponse"
      }
    },
    "ListBatchInferenceJobs": {
      "documentation": "<p>Gets a list of the batch inference jobs that have been performed off of a solution version.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListBatchInferenceJobsRequest"
      },
      "name": "ListBatchInferenceJobs",
      "output": {
        "shape": "ListBatchInferenceJobsResponse"
      }
    },
    "ListCampaigns": {
      "documentation": "<p>Returns a list of campaigns that use the given solution. When a solution is not specified, all the campaigns associated with the account are listed. The response provides the properties for each campaign, including the Amazon Resource Name (ARN). For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListCampaignsRequest"
      },
      "name": "ListCampaigns",
      "output": {
        "shape": "ListCampaignsResponse"
      }
    },
    "ListDatasetGroups": {
      "documentation": "<p>Returns a list of dataset groups. The response provides the properties for each dataset group, including the Amazon Resource Name (ARN). For more information on dataset groups, see <a>CreateDatasetGroup</a>.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetGroupsRequest"
      },
      "name": "ListDatasetGroups",
      "output": {
        "shape": "ListDatasetGroupsResponse"
      }
    },
    "ListDatasetImportJobs": {
      "documentation": "<p>Returns a list of dataset import jobs that use the given dataset. When a dataset is not specified, all the dataset import jobs associated with the account are listed. The response provides the properties for each dataset import job, including the Amazon Resource Name (ARN). For more information on dataset import jobs, see <a>CreateDatasetImportJob</a>. For more information on datasets, see <a>CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetImportJobsRequest"
      },
      "name": "ListDatasetImportJobs",
      "output": {
        "shape": "ListDatasetImportJobsResponse"
      }
    },
    "ListDatasets": {
      "documentation": "<p>Returns the list of datasets contained in the given dataset group. The response provides the properties for each dataset, including the Amazon Resource Name (ARN). For more information on datasets, see <a>CreateDataset</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListDatasetsRequest"
      },
      "name": "ListDatasets",
      "output": {
        "shape": "ListDatasetsResponse"
      }
    },
    "ListEventTrackers": {
      "documentation": "<p>Returns the list of event trackers associated with the account. The response provides the properties for each event tracker, including the Amazon Resource Name (ARN) and tracking ID. For more information on event trackers, see <a>CreateEventTracker</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListEventTrackersRequest"
      },
      "name": "ListEventTrackers",
      "output": {
        "shape": "ListEventTrackersResponse"
      }
    },
    "ListRecipes": {
      "documentation": "<p>Returns a list of available recipes. The response provides the properties for each recipe, including the recipe's Amazon Resource Name (ARN).</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListRecipesRequest"
      },
      "name": "ListRecipes",
      "output": {
        "shape": "ListRecipesResponse"
      }
    },
    "ListSchemas": {
      "documentation": "<p>Returns the list of schemas associated with the account. The response provides the properties for each schema, including the Amazon Resource Name (ARN). For more information on schemas, see <a>CreateSchema</a>.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListSchemasRequest"
      },
      "name": "ListSchemas",
      "output": {
        "shape": "ListSchemasResponse"
      }
    },
    "ListSolutionVersions": {
      "documentation": "<p>Returns a list of solution versions for the given solution. When a solution is not specified, all the solution versions associated with the account are listed. The response provides the properties for each solution version, including the Amazon Resource Name (ARN). For more information on solutions, see <a>CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListSolutionVersionsRequest"
      },
      "name": "ListSolutionVersions",
      "output": {
        "shape": "ListSolutionVersionsResponse"
      }
    },
    "ListSolutions": {
      "documentation": "<p>Returns a list of solutions that use the given dataset group. When a dataset group is not specified, all the solutions associated with the account are listed. The response provides the properties for each solution, including the Amazon Resource Name (ARN). For more information on solutions, see <a>CreateSolution</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListSolutionsRequest"
      },
      "name": "ListSolutions",
      "output": {
        "shape": "ListSolutionsResponse"
      }
    },
    "UpdateCampaign": {
      "documentation": "<p>Updates a campaign by either deploying a new solution or changing the value of the campaign's <code>minProvisionedTPS</code> parameter.</p> <p>To update a campaign, the campaign status must be ACTIVE or CREATE FAILED. Check the campaign status using the <a>DescribeCampaign</a> API.</p> <note> <p>You must wait until the <code>status</code> of the updated campaign is <code>ACTIVE</code> before asking the campaign for recommendations.</p> </note> <p>For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateCampaignRequest"
      },
      "name": "UpdateCampaign",
      "output": {
        "shape": "UpdateCampaignResponse"
      }
    }
  },
  "shapes": {
    "AccountId": {
      "max": 256,
      "type": "string"
    },
    "Algorithm": {
      "documentation": "<p>Describes a custom algorithm.</p>",
      "members": {
        "algorithmArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm.</p>",
          "shape": "Arn"
        },
        "algorithmImage": {
          "documentation": "<p>The URI of the Docker container for the algorithm image.</p>",
          "shape": "AlgorithmImage"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the algorithm was created.</p>",
          "shape": "Date"
        },
        "defaultHyperParameterRanges": {
          "documentation": "<p>Specifies the default hyperparameters, their ranges, and whether they are tunable. A tunable hyperparameter can have its value determined during hyperparameter optimization (HPO).</p>",
          "shape": "DefaultHyperParameterRanges"
        },
        "defaultHyperParameters": {
          "documentation": "<p>Specifies the default hyperparameters.</p>",
          "shape": "HyperParameters"
        },
        "defaultResourceConfig": {
          "documentation": "<p>Specifies the default maximum number of training jobs and parallel training jobs.</p>",
          "shape": "ResourceConfig"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the algorithm was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the algorithm.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role.</p>",
          "shape": "Arn"
        },
        "trainingInputMode": {
          "documentation": "<p>The training input mode.</p>",
          "shape": "TrainingInputMode"
        }
      },
      "type": "structure"
    },
    "AlgorithmImage": {
      "documentation": "<p>Describes an algorithm image.</p>",
      "members": {
        "dockerURI": {
          "documentation": "<p>The URI of the Docker container for the algorithm image.</p>",
          "shape": "DockerURI"
        },
        "name": {
          "documentation": "<p>The name of the algorithm image.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "dockerURI"
      ],
      "type": "structure"
    },
    "Arn": {
      "max": 256,
      "pattern": "arn:([a-z\\d-]+):personalize:.*:.*:.+",
      "type": "string"
    },
    "ArnList": {
      "max": 100,
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AutoMLConfig": {
      "documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in <a>CreateSolution</a>), Amazon Personalize determines which recipe, from the specified list, optimizes the given metric. Amazon Personalize then uses that recipe for the solution.</p>",
      "members": {
        "metricName": {
          "documentation": "<p>The metric to optimize.</p>",
          "shape": "MetricName"
        },
        "recipeList": {
          "documentation": "<p>The list of candidate recipes.</p>",
          "shape": "ArnList"
        }
      },
      "type": "structure"
    },
    "AutoMLResult": {
      "documentation": "<p>When the solution performs AutoML (<code>performAutoML</code> is true in <a>CreateSolution</a>), specifies the recipe that best optimized the specified metric.</p>",
      "members": {
        "bestRecipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the best recipe.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "AvroSchema": {
      "max": 10000,
      "type": "string"
    },
    "BatchInferenceJob": {
      "documentation": "<p>Contains information on a batch inference job.</p>",
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The time at which the batch inference job was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If the batch inference job failed, the reason for the failure.</p>",
          "shape": "FailureReason"
        },
        "jobInput": {
          "documentation": "<p>The Amazon S3 path that leads to the input data used to generate the batch inference job.</p>",
          "shape": "BatchInferenceJobInput"
        },
        "jobName": {
          "documentation": "<p>The name of the batch inference job.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The Amazon S3 bucket that contains the output data generated by the batch inference job.</p>",
          "shape": "BatchInferenceJobOutput"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The time at which the batch inference job was last updated.</p>",
          "shape": "Date"
        },
        "numResults": {
          "documentation": "<p>The number of recommendations generated by the batch inference job. This number includes the error messages generated for failed input records.</p>",
          "shape": "NumBatchResults"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Amazon Identity and Access Management (IAM) role that requested the batch inference job.</p>",
          "shape": "RoleArn"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version from which the batch inference job was created.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the batch inference job. The status is one of the following values:</p> <ul> <li> <p>PENDING</p> </li> <li> <p>IN PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "BatchInferenceJobInput": {
      "documentation": "<p>The input configuration of a batch inference job.</p>",
      "members": {
        "s3DataSource": {
          "documentation": "<p>The URI of the Amazon S3 location that contains your input data. The Amazon S3 bucket must be in the same region as the API endpoint you are calling.</p>",
          "shape": "S3DataConfig"
        }
      },
      "required": [
        "s3DataSource"
      ],
      "type": "structure"
    },
    "BatchInferenceJobOutput": {
      "documentation": "<p>The output configuration parameters of a batch inference job.</p>",
      "members": {
        "s3DataDestination": {
          "documentation": "<p>Information on the Amazon S3 bucket in which the batch inference job's output is stored.</p>",
          "shape": "S3DataConfig"
        }
      },
      "required": [
        "s3DataDestination"
      ],
      "type": "structure"
    },
    "BatchInferenceJobSummary": {
      "documentation": "<p>A truncated version of the <a>BatchInferenceJob</a> datatype. The <a>ListBatchInferenceJobs</a> operation returns a list of batch inference job summaries.</p>",
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the batch inference job.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The time at which the batch inference job was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If the batch inference job failed, the reason for the failure.</p>",
          "shape": "FailureReason"
        },
        "jobName": {
          "documentation": "<p>The name of the batch inference job.</p>",
          "shape": "Name"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The time at which the batch inference job was last updated.</p>",
          "shape": "Date"
        },
        "solutionVersionArn": {
          "documentation": "<p>The ARN of the solution version used by the batch inference job.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the batch inference job. The status is one of the following values:</p> <ul> <li> <p>PENDING</p> </li> <li> <p>IN PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "BatchInferenceJobs": {
      "max": 100,
      "member": {
        "shape": "BatchInferenceJobSummary"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Campaign": {
      "documentation": "<p>Describes a deployed solution version, otherwise known as a campaign. For more information on campaigns, see <a>CreateCampaign</a>.</p>",
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign. </p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix format) that the campaign was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If a campaign fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix format) that the campaign was last updated.</p>",
          "shape": "Date"
        },
        "latestCampaignUpdate": {
          "shape": "CampaignUpdateSummary"
        },
        "minProvisionedTPS": {
          "documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second.</p>",
          "shape": "TransactionsPerSecond"
        },
        "name": {
          "documentation": "<p>The name of the campaign.</p>",
          "shape": "Name"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a specific version of the solution.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the campaign.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CampaignSummary": {
      "documentation": "<p>Provides a summary of the properties of a campaign. For a complete listing, call the <a>DescribeCampaign</a> API.</p>",
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>",
          "shape": "Arn"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If a campaign fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the campaign.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the campaign.</p> <p>A campaign can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CampaignUpdateSummary": {
      "documentation": "<p>Provides a summary of the properties of a campaign update. For a complete listing, call the <a>DescribeCampaign</a> API.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign update was created.</p>",
          "shape": "Date"
        },
        "failureReason": {
          "documentation": "<p>If a campaign update fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the campaign update was last updated.</p>",
          "shape": "Date"
        },
        "minProvisionedTPS": {
          "documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that Amazon Personalize will support.</p>",
          "shape": "TransactionsPerSecond"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deployed solution version.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the campaign update.</p> <p>A campaign update can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "Campaigns": {
      "max": 100,
      "member": {
        "shape": "CampaignSummary"
      },
      "type": "list"
    },
    "CategoricalHyperParameterRange": {
      "documentation": "<p>Provides the name and range of a categorical hyperparameter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        },
        "values": {
          "documentation": "<p>A list of the categories for the hyperparameter.</p>",
          "shape": "CategoricalValues"
        }
      },
      "type": "structure"
    },
    "CategoricalHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "CategoricalHyperParameterRange"
      },
      "type": "list"
    },
    "CategoricalValue": {
      "max": 1000,
      "type": "string"
    },
    "CategoricalValues": {
      "max": 100,
      "member": {
        "shape": "CategoricalValue"
      },
      "type": "list"
    },
    "ContinuousHyperParameterRange": {
      "documentation": "<p>Provides the name and range of a continuous hyperparameter.</p>",
      "members": {
        "maxValue": {
          "documentation": "<p>The maximum allowable value for the hyperparameter.</p>",
          "shape": "ContinuousMaxValue"
        },
        "minValue": {
          "documentation": "<p>The minimum allowable value for the hyperparameter.</p>",
          "shape": "ContinuousMinValue"
        },
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        }
      },
      "type": "structure"
    },
    "ContinuousHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "ContinuousHyperParameterRange"
      },
      "type": "list"
    },
    "ContinuousMaxValue": {
      "min": -1000000,
      "type": "double"
    },
    "ContinuousMinValue": {
      "min": -1000000,
      "type": "double"
    },
    "CreateBatchInferenceJobRequest": {
      "members": {
        "jobInput": {
          "documentation": "<p>The Amazon S3 path that leads to the input file to base your recommendations on. The input material must be in JSON format.</p>",
          "shape": "BatchInferenceJobInput"
        },
        "jobName": {
          "documentation": "<p>The name of the batch inference job to create.</p>",
          "shape": "Name"
        },
        "jobOutput": {
          "documentation": "<p>The path to the Amazon S3 bucket where the job's output will be stored.</p>",
          "shape": "BatchInferenceJobOutput"
        },
        "numResults": {
          "documentation": "<p>The number of recommendations to retreive.</p>",
          "shape": "NumBatchResults"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the Amazon Identity and Access Management role that has permissions to read and write to your input and out Amazon S3 buckets respectively.</p>",
          "shape": "RoleArn"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version that will be used to generate the batch inference recommendations.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "jobName",
        "solutionVersionArn",
        "jobInput",
        "jobOutput",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateBatchInferenceJobResponse": {
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The ARN of the batch inference job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateCampaignRequest": {
      "members": {
        "minProvisionedTPS": {
          "documentation": "<p>Specifies the requested minimum provisioned transactions (recommendations) per second that Amazon Personalize will support.</p>",
          "shape": "TransactionsPerSecond"
        },
        "name": {
          "documentation": "<p>A name for the new campaign. The campaign name must be unique within your account.</p>",
          "shape": "Name"
        },
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version to deploy.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "name",
        "solutionVersionArn",
        "minProvisionedTPS"
      ],
      "type": "structure"
    },
    "CreateCampaignResponse": {
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetGroupRequest": {
      "members": {
        "kmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a KMS key used to encrypt the datasets.</p>",
          "shape": "KmsKeyArn"
        },
        "name": {
          "documentation": "<p>The name for the new dataset group.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM role that has permissions to access the KMS key. Supplying an IAM role is only valid when also specifying a KMS key.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateDatasetGroupResponse": {
      "members": {
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the new dataset group.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetImportJobRequest": {
      "members": {
        "dataSource": {
          "documentation": "<p>The Amazon S3 bucket that contains the training data to import.</p>",
          "shape": "DataSource"
        },
        "datasetArn": {
          "documentation": "<p>The ARN of the dataset that receives the imported data.</p>",
          "shape": "Arn"
        },
        "jobName": {
          "documentation": "<p>The name for the dataset import job.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM role that has permissions to read from the Amazon S3 data source.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "jobName",
        "datasetArn",
        "dataSource",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateDatasetImportJobResponse": {
      "members": {
        "datasetImportJobArn": {
          "documentation": "<p>The ARN of the dataset import job.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateDatasetRequest": {
      "members": {
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group to add the dataset to.</p>",
          "shape": "Arn"
        },
        "datasetType": {
          "documentation": "<p>The type of dataset.</p> <p>One of the following (case insensitive) values:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul>",
          "shape": "DatasetType"
        },
        "name": {
          "documentation": "<p>The name for the dataset.</p>",
          "shape": "Name"
        },
        "schemaArn": {
          "documentation": "<p>The ARN of the schema to associate with the dataset. The schema defines the dataset fields.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "name",
        "schemaArn",
        "datasetGroupArn",
        "datasetType"
      ],
      "type": "structure"
    },
    "CreateDatasetResponse": {
      "members": {
        "datasetArn": {
          "documentation": "<p>The ARN of the dataset.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateEventTrackerRequest": {
      "members": {
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group that receives the event data.</p>",
          "shape": "Arn"
        },
        "name": {
          "documentation": "<p>The name for the event tracker.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "name",
        "datasetGroupArn"
      ],
      "type": "structure"
    },
    "CreateEventTrackerResponse": {
      "members": {
        "eventTrackerArn": {
          "documentation": "<p>The ARN of the event tracker.</p>",
          "shape": "Arn"
        },
        "trackingId": {
          "documentation": "<p>The ID of the event tracker. Include this ID in requests to the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p>",
          "shape": "TrackingId"
        }
      },
      "type": "structure"
    },
    "CreateSchemaRequest": {
      "members": {
        "name": {
          "documentation": "<p>The name for the schema.</p>",
          "shape": "Name"
        },
        "schema": {
          "documentation": "<p>A schema in Avro JSON format.</p>",
          "shape": "AvroSchema"
        }
      },
      "required": [
        "name",
        "schema"
      ],
      "type": "structure"
    },
    "CreateSchemaResponse": {
      "members": {
        "schemaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the created schema.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateSolutionRequest": {
      "members": {
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group that provides the training data.</p>",
          "shape": "Arn"
        },
        "eventType": {
          "documentation": "<p>When your have multiple event types (using an <code>EVENT_TYPE</code> schema field), this parameter specifies which event type (for example, 'click' or 'like') is used for training the model.</p>",
          "shape": "EventType"
        },
        "name": {
          "documentation": "<p>The name for the solution.</p>",
          "shape": "Name"
        },
        "performAutoML": {
          "documentation": "<p>Whether to perform automated machine learning (AutoML). The default is <code>false</code>. For this case, you must specify <code>recipeArn</code>.</p> <p>When set to <code>true</code>, Amazon Personalize analyzes your training data and selects the optimal USER_PERSONALIZATION recipe and hyperparameters. In this case, you must omit <code>recipeArn</code>. Amazon Personalize determines the optimal recipe by running tests with different values for the hyperparameters. AutoML lengthens the training process as compared to selecting a specific recipe.</p>",
          "shape": "PerformAutoML"
        },
        "performHPO": {
          "documentation": "<p>Whether to perform hyperparameter optimization (HPO) on the specified or selected recipe. The default is <code>false</code>.</p> <p>When performing AutoML, this parameter is always <code>true</code> and you should not set it to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "recipeArn": {
          "documentation": "<p>The ARN of the recipe to use for model training. Only specified when <code>performAutoML</code> is false.</p>",
          "shape": "Arn"
        },
        "solutionConfig": {
          "documentation": "<p>The configuration to use with the solution. When <code>performAutoML</code> is set to true, Amazon Personalize only evaluates the <code>autoMLConfig</code> section of the solution configuration.</p>",
          "shape": "SolutionConfig"
        }
      },
      "required": [
        "name",
        "datasetGroupArn"
      ],
      "type": "structure"
    },
    "CreateSolutionResponse": {
      "members": {
        "solutionArn": {
          "documentation": "<p>The ARN of the solution.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateSolutionVersionRequest": {
      "members": {
        "solutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution containing the training configuration information.</p>",
          "shape": "Arn"
        },
        "trainingMode": {
          "documentation": "<p>The scope of training to be performed when creating the solution version. The <code>FULL</code> option trains the solution version based on the entirety of the input solution's training data, while the <code>UPDATE</code> option processes only the data that has changed in comparison to the input solution. Choose <code>UPDATE</code> when you want to incrementally update your solution version instead of creating an entirely new one.</p> <important> <p>The <code>UPDATE</code> option can only be used when you already have an active solution version created from the input solution using the <code>FULL</code> option and the input solution was trained with the <a>native-recipe-hrnn-coldstart</a> recipe.</p> </important>",
          "shape": "TrainingMode"
        }
      },
      "required": [
        "solutionArn"
      ],
      "type": "structure"
    },
    "CreateSolutionVersionResponse": {
      "members": {
        "solutionVersionArn": {
          "documentation": "<p>The ARN of the new solution version.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DataSource": {
      "documentation": "<p>Describes the data source that contains the data to upload to a dataset.</p>",
      "members": {
        "dataLocation": {
          "documentation": "<p>The path to the Amazon S3 bucket where the data that you want to upload to your dataset is stored. For example: </p> <p> <code>s3://bucket-name/training-data.csv</code> </p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "Dataset": {
      "documentation": "<p>Provides metadata for a dataset.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The creation date and time (in Unix time) of the dataset.</p>",
          "shape": "Date"
        },
        "datasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset that you want metadata for.</p>",
          "shape": "Arn"
        },
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        },
        "datasetType": {
          "documentation": "<p>One of the following values:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> </ul>",
          "shape": "DatasetType"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>A time stamp that shows when the dataset was updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the dataset.</p>",
          "shape": "Name"
        },
        "schemaArn": {
          "documentation": "<p>The ARN of the associated schema.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the dataset.</p> <p>A dataset can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetGroup": {
      "documentation": "<p>A dataset group is a collection of related datasets (Interactions, User, and Item). You create a dataset group by calling <a>CreateDatasetGroup</a>. You then create a dataset and add it to a dataset group by calling <a>CreateDataset</a>. The dataset group is used to create and train a solution by calling <a>CreateSolution</a>. A dataset group can contain only one of each type of dataset.</p> <p>You can specify an AWS Key Management Service (KMS) key to encrypt the datasets in the group.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The creation date and time (in Unix time) of the dataset group.</p>",
          "shape": "Date"
        },
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        },
        "failureReason": {
          "documentation": "<p>If creating a dataset group fails, provides the reason why.</p>",
          "shape": "FailureReason"
        },
        "kmsKeyArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the KMS key used to encrypt the datasets.</p>",
          "shape": "KmsKeyArn"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The last update date and time (in Unix time) of the dataset group.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the dataset group.</p>",
          "shape": "Name"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM role that has permissions to create the dataset group.</p>",
          "shape": "RoleArn"
        },
        "status": {
          "documentation": "<p>The current status of the dataset group.</p> <p>A dataset group can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetGroupSummary": {
      "documentation": "<p>Provides a summary of the properties of a dataset group. For a complete listing, call the <a>DescribeDatasetGroup</a> API.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the dataset group was created.</p>",
          "shape": "Date"
        },
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group.</p>",
          "shape": "Arn"
        },
        "failureReason": {
          "documentation": "<p>If creating a dataset group fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the dataset group was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the dataset group.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the dataset group.</p> <p>A dataset group can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetGroups": {
      "max": 100,
      "member": {
        "shape": "DatasetGroupSummary"
      },
      "type": "list"
    },
    "DatasetImportJob": {
      "documentation": "<p>Describes a job that imports training data from a data source (Amazon S3 bucket) to an Amazon Personalize dataset. For more information, see <a>CreateDatasetImportJob</a>.</p> <p>A dataset import job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The creation date and time (in Unix time) of the dataset import job.</p>",
          "shape": "Date"
        },
        "dataSource": {
          "documentation": "<p>The Amazon S3 bucket that contains the training data to import.</p>",
          "shape": "DataSource"
        },
        "datasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset that receives the imported data.</p>",
          "shape": "Arn"
        },
        "datasetImportJobArn": {
          "documentation": "<p>The ARN of the dataset import job.</p>",
          "shape": "Arn"
        },
        "failureReason": {
          "documentation": "<p>If a dataset import job fails, provides the reason why.</p>",
          "shape": "FailureReason"
        },
        "jobName": {
          "documentation": "<p>The name of the import job.</p>",
          "shape": "Name"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) the dataset was last updated.</p>",
          "shape": "Date"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that has permissions to read from the Amazon S3 data source.</p>",
          "shape": "Arn"
        },
        "status": {
          "documentation": "<p>The status of the dataset import job.</p> <p>A dataset import job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetImportJobSummary": {
      "documentation": "<p>Provides a summary of the properties of a dataset import job. For a complete listing, call the <a>DescribeDatasetImportJob</a> API.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the dataset import job was created.</p>",
          "shape": "Date"
        },
        "datasetImportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job.</p>",
          "shape": "Arn"
        },
        "failureReason": {
          "documentation": "<p>If a dataset import job fails, the reason behind the failure.</p>",
          "shape": "FailureReason"
        },
        "jobName": {
          "documentation": "<p>The name of the dataset import job.</p>",
          "shape": "Name"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the dataset was last updated.</p>",
          "shape": "Date"
        },
        "status": {
          "documentation": "<p>The status of the dataset import job.</p> <p>A dataset import job can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetImportJobs": {
      "max": 100,
      "member": {
        "shape": "DatasetImportJobSummary"
      },
      "type": "list"
    },
    "DatasetSchema": {
      "documentation": "<p>Describes the schema for a dataset. For more information on schemas, see <a>CreateSchema</a>.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the schema was created.</p>",
          "shape": "Date"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the schema was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "Name"
        },
        "schema": {
          "documentation": "<p>The schema.</p>",
          "shape": "AvroSchema"
        },
        "schemaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the schema.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DatasetSchemaSummary": {
      "documentation": "<p>Provides a summary of the properties of a dataset schema. For a complete listing, call the <a>DescribeSchema</a> API.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the schema was created.</p>",
          "shape": "Date"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the schema was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the schema.</p>",
          "shape": "Name"
        },
        "schemaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the schema.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DatasetSummary": {
      "documentation": "<p>Provides a summary of the properties of a dataset. For a complete listing, call the <a>DescribeDataset</a> API.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the dataset was created.</p>",
          "shape": "Date"
        },
        "datasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset.</p>",
          "shape": "Arn"
        },
        "datasetType": {
          "documentation": "<p>The dataset type. One of the following values:</p> <ul> <li> <p>Interactions</p> </li> <li> <p>Items</p> </li> <li> <p>Users</p> </li> <li> <p>Event-Interactions</p> </li> </ul>",
          "shape": "DatasetType"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the dataset was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the dataset.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the dataset.</p> <p>A dataset can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DatasetType": {
      "max": 256,
      "type": "string"
    },
    "Datasets": {
      "max": 100,
      "member": {
        "shape": "DatasetSummary"
      },
      "type": "list"
    },
    "Date": {
      "type": "timestamp"
    },
    "DefaultCategoricalHyperParameterRange": {
      "documentation": "<p>Provides the name and default range of a categorical hyperparameter and whether the hyperparameter is tunable. A tunable hyperparameter can have its value determined during hyperparameter optimization (HPO).</p>",
      "members": {
        "isTunable": {
          "documentation": "<p>Whether the hyperparameter is tunable.</p>",
          "shape": "Tunable"
        },
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        },
        "values": {
          "documentation": "<p>A list of the categories for the hyperparameter.</p>",
          "shape": "CategoricalValues"
        }
      },
      "type": "structure"
    },
    "DefaultCategoricalHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "DefaultCategoricalHyperParameterRange"
      },
      "type": "list"
    },
    "DefaultContinuousHyperParameterRange": {
      "documentation": "<p>Provides the name and default range of a continuous hyperparameter and whether the hyperparameter is tunable. A tunable hyperparameter can have its value determined during hyperparameter optimization (HPO).</p>",
      "members": {
        "isTunable": {
          "documentation": "<p>Whether the hyperparameter is tunable.</p>",
          "shape": "Tunable"
        },
        "maxValue": {
          "documentation": "<p>The maximum allowable value for the hyperparameter.</p>",
          "shape": "ContinuousMaxValue"
        },
        "minValue": {
          "documentation": "<p>The minimum allowable value for the hyperparameter.</p>",
          "shape": "ContinuousMinValue"
        },
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        }
      },
      "type": "structure"
    },
    "DefaultContinuousHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "DefaultContinuousHyperParameterRange"
      },
      "type": "list"
    },
    "DefaultHyperParameterRanges": {
      "documentation": "<p>Specifies the hyperparameters and their default ranges. Hyperparameters can be categorical, continuous, or integer-valued.</p>",
      "members": {
        "categoricalHyperParameterRanges": {
          "documentation": "<p>The categorical hyperparameters and their default ranges.</p>",
          "shape": "DefaultCategoricalHyperParameterRanges"
        },
        "continuousHyperParameterRanges": {
          "documentation": "<p>The continuous hyperparameters and their default ranges.</p>",
          "shape": "DefaultContinuousHyperParameterRanges"
        },
        "integerHyperParameterRanges": {
          "documentation": "<p>The integer-valued hyperparameters and their default ranges.</p>",
          "shape": "DefaultIntegerHyperParameterRanges"
        }
      },
      "type": "structure"
    },
    "DefaultIntegerHyperParameterRange": {
      "documentation": "<p>Provides the name and default range of a integer-valued hyperparameter and whether the hyperparameter is tunable. A tunable hyperparameter can have its value determined during hyperparameter optimization (HPO).</p>",
      "members": {
        "isTunable": {
          "documentation": "<p>Indicates whether the hyperparameter is tunable.</p>",
          "shape": "Tunable"
        },
        "maxValue": {
          "documentation": "<p>The maximum allowable value for the hyperparameter.</p>",
          "shape": "IntegerMaxValue"
        },
        "minValue": {
          "documentation": "<p>The minimum allowable value for the hyperparameter.</p>",
          "shape": "IntegerMinValue"
        },
        "name": {
          "documentation": "<p>The name of the hyperparameter.</p>",
          "shape": "ParameterName"
        }
      },
      "type": "structure"
    },
    "DefaultIntegerHyperParameterRanges": {
      "max": 100,
      "member": {
        "shape": "DefaultIntegerHyperParameterRange"
      },
      "type": "list"
    },
    "DeleteCampaignRequest": {
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "campaignArn"
      ],
      "type": "structure"
    },
    "DeleteDatasetGroupRequest": {
      "members": {
        "datasetGroupArn": {
          "documentation": "<p>The ARN of the dataset group to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "datasetGroupArn"
      ],
      "type": "structure"
    },
    "DeleteDatasetRequest": {
      "members": {
        "datasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "datasetArn"
      ],
      "type": "structure"
    },
    "DeleteEventTrackerRequest": {
      "members": {
        "eventTrackerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the event tracker to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "eventTrackerArn"
      ],
      "type": "structure"
    },
    "DeleteSchemaRequest": {
      "members": {
        "schemaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the schema to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "schemaArn"
      ],
      "type": "structure"
    },
    "DeleteSolutionRequest": {
      "members": {
        "solutionArn": {
          "documentation": "<p>The ARN of the solution to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "solutionArn"
      ],
      "type": "structure"
    },
    "DescribeAlgorithmRequest": {
      "members": {
        "algorithmArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the algorithm to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "algorithmArn"
      ],
      "type": "structure"
    },
    "DescribeAlgorithmResponse": {
      "members": {
        "algorithm": {
          "documentation": "<p>A listing of the properties of the algorithm.</p>",
          "shape": "Algorithm"
        }
      },
      "type": "structure"
    },
    "DescribeBatchInferenceJobRequest": {
      "members": {
        "batchInferenceJobArn": {
          "documentation": "<p>The ARN of the batch inference job to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "batchInferenceJobArn"
      ],
      "type": "structure"
    },
    "DescribeBatchInferenceJobResponse": {
      "members": {
        "batchInferenceJob": {
          "documentation": "<p>Information on the specified batch inference job.</p>",
          "shape": "BatchInferenceJob"
        }
      },
      "type": "structure"
    },
    "DescribeCampaignRequest": {
      "members": {
        "campaignArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the campaign.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "campaignArn"
      ],
      "type": "structure"
    },
    "DescribeCampaignResponse": {
      "members": {
        "campaign": {
          "documentation": "<p>The properties of the campaign.</p>",
          "shape": "Campaign"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetGroupRequest": {
      "members": {
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "datasetGroupArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetGroupResponse": {
      "members": {
        "datasetGroup": {
          "documentation": "<p>A listing of the dataset group's properties.</p>",
          "shape": "DatasetGroup"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetImportJobRequest": {
      "members": {
        "datasetImportJobArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset import job to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "datasetImportJobArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetImportJobResponse": {
      "members": {
        "datasetImportJob": {
          "documentation": "<p>Information about the dataset import job, including the status.</p> <p>The status is one of the following values:</p> <ul> <li> <p>CREATE PENDING</p> </li> <li> <p>CREATE IN_PROGRESS</p> </li> <li> <p>ACTIVE</p> </li> <li> <p>CREATE FAILED</p> </li> </ul>",
          "shape": "DatasetImportJob"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetRequest": {
      "members": {
        "datasetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "datasetArn"
      ],
      "type": "structure"
    },
    "DescribeDatasetResponse": {
      "members": {
        "dataset": {
          "documentation": "<p>A listing of the dataset's properties.</p>",
          "shape": "Dataset"
        }
      },
      "type": "structure"
    },
    "DescribeEventTrackerRequest": {
      "members": {
        "eventTrackerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the event tracker to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "eventTrackerArn"
      ],
      "type": "structure"
    },
    "DescribeEventTrackerResponse": {
      "members": {
        "eventTracker": {
          "documentation": "<p>An object that describes the event tracker.</p>",
          "shape": "EventTracker"
        }
      },
      "type": "structure"
    },
    "DescribeFeatureTransformationRequest": {
      "members": {
        "featureTransformationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the feature transformation to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "featureTransformationArn"
      ],
      "type": "structure"
    },
    "DescribeFeatureTransformationResponse": {
      "members": {
        "featureTransformation": {
          "documentation": "<p>A listing of the FeatureTransformation properties.</p>",
          "shape": "FeatureTransformation"
        }
      },
      "type": "structure"
    },
    "DescribeRecipeRequest": {
      "members": {
        "recipeArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the recipe to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "recipeArn"
      ],
      "type": "structure"
    },
    "DescribeRecipeResponse": {
      "members": {
        "recipe": {
          "documentation": "<p>An object that describes the recipe.</p>",
          "shape": "Recipe"
        }
      },
      "type": "structure"
    },
    "DescribeSchemaRequest": {
      "members": {
        "schemaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the schema to retrieve.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "schemaArn"
      ],
      "type": "structure"
    },
    "DescribeSchemaResponse": {
      "members": {
        "schema": {
          "documentation": "<p>The requested schema.</p>",
          "shape": "DatasetSchema"
        }
      },
      "type": "structure"
    },
    "DescribeSolutionRequest": {
      "members": {
        "solutionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "solutionArn"
      ],
      "type": "structure"
    },
    "DescribeSolutionResponse": {
      "members": {
        "solution": {
          "documentation": "<p>An object that describes the solution.</p>",
          "shape": "Solution"
        }
      },
      "type": "structure"
    },
    "DescribeSolutionVersionRequest": {
      "members": {
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "solutionVersionArn"
      ],
      "type": "structure"
    },
    "DescribeSolutionVersionResponse": {
      "members": {
        "solutionVersion": {
          "documentation": "<p>The solution version.</p>",
          "shape": "SolutionVersion"
        }
      },
      "type": "structure"
    },
    "Description": {
      "type": "string"
    },
    "DockerURI": {
      "max": 256,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EventTracker": {
      "documentation": "<p>Provides information about an event tracker.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The Amazon AWS account that owns the event tracker.</p>",
          "shape": "AccountId"
        },
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix format) that the event tracker was created.</p>",
          "shape": "Date"
        },
        "datasetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the dataset group that receives the event data.</p>",
          "shape": "Arn"
        },
        "eventTrackerArn": {
          "documentation": "<p>The ARN of the event tracker.</p>",
          "shape": "Arn"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the event tracker was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the event tracker.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the event tracker.</p> <p>An event tracker can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        },
        "trackingId": {
          "documentation": "<p>The ID of the event tracker. Include this ID in requests to the <a href=\"https://docs.aws.amazon.com/personalize/latest/dg/API_UBS_PutEvents.html\">PutEvents</a> API.</p>",
          "shape": "TrackingId"
        }
      },
      "type": "structure"
    },
    "EventTrackerSummary": {
      "documentation": "<p>Provides a summary of the properties of an event tracker. For a complete listing, call the <a>DescribeEventTracker</a> API.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the event tracker was created.</p>",
          "shape": "Date"
        },
        "eventTrackerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the event tracker.</p>",
          "shape": "Arn"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The date and time (in Unix time) that the event tracker was last updated.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the event tracker.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the event tracker.</p> <p>An event tracker can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> <li> <p>DELETE PENDING &gt; DELETE IN_PROGRESS</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "EventTrackers": {
      "max": 100,
      "member": {
        "shape": "EventTrackerSummary"
      },
      "type": "list"
    },
    "EventType": {
      "max": 256,
      "type": "string"
    },
    "EventValueThreshold": {
      "max": 256,
      "type": "string"
    },
    "FailureReason": {
      "type": "string"
    },
    "FeatureTransformation": {
      "documentation": "<p>Provides feature transformation information. Feature transformation is the process of modifying raw input data into a form more suitable for model training.</p>",
      "members": {
        "creationDateTime": {
          "documentation": "<p>The creation date and time (in Unix time) of the feature transformation.</p>",
          "shape": "Date"
        },
        "defaultParameters": {
          "documentation": "<p>Provides the default parameters for feature transformation.</p>",
          "shape": "FeaturizationParameters"
        },
        "featureTransformationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the FeatureTransformation object.</p>",
          "shape": "Arn"
        },
        "lastUpdatedDateTime": {
          "documentation": "<p>The last update date and time (in Unix time) of the feature transformation.</p>",
          "shape": "Date"
        },
        "name": {
          "documentation": "<p>The name of the feature transformation.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the feature transformation.</p> <p>A feature transformation can be in one of the following states:</p> <ul> <li> <p>CREATE PENDING &gt; CREATE IN_PROGRESS &gt; ACTIVE -or- CREATE FAILED</p> </li> </ul>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "FeatureTransformationParameters": {
      "key": {
        "shape": "ParameterName"
      },
      "max": 100,
      "type": "map",
      "value": {
        "shape": "ParameterValue"
      }
    },
    "FeaturizationParameters": {
      "key": {
        "shape": "ParameterName"
      },
      "max": 100,
      "type": "map",
      "value": {
        "shape": "ParameterValue"
      }
    },
    "GetSolutionMetricsRequest": {
      "members": {
        "solutionVersionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the solution version for which to get metrics.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "solutionVersionArn"
      ],
      "type": "structure"
    },
    "GetSolutionMetricsResponse": {
      "members": {
        "metrics": {
          "documentation": "<p>The metrics for the solution version.</p>",
          "shape": "Metrics"
        },
        "solutionVersionArn": {
          "documentation": "<p>The same solution version ARN as specified in the request.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "HPOConfig": {
      "documentation": "<p>Describes the properties for hyperparameter optimization (HPO). For use with the bring-your-own-recipe feature. Do not use for Amazon Personalize native recipes.</p>",
      "members": {
        "algorithmHyperParameterRanges": {
          "documentation": "<p>The hyperparameters and their allowable ranges.</p>",
          "shape": "HyperParameterRanges"
        },
        "hpoObjective": {
          "documentation": "<p>The metric to optimize during HPO.</p>",
          "shape": "HPOObjective"
        },
        "hpoResourceConfig": {
          "documentation": "<p>Describes the resource configuration for HPO.</p>",
          "shape": "HPOResourceConfig"
        }
      },
      "type": "structure"
    },
    "HPOObjective": {
      "documentation": "<p>The metric to optimize during hyperparameter optimization (HPO).</p>",
      "members": {
        "metricName": {
          "documentation": "<p>The name of the metric.</p>",
          "shape": "MetricName"
        },
        "metricRegex": {
          "documentation": "<p>A regular expression for finding the metric in the training job logs.</p>",
          "shape": "MetricRegex"
        },
        "type": {
          "documentation": "<p>The type of the metric. Valid values are <code>Maximize</code> and <code>Minimize</code>.</p>",
          "shape": "HPOObjectiveType"
        }
      },
      "type": "structure"
    },
    "HPOObjectiveType": {
      "max": 256,
      "type": "string"
    },
    "HPOResource": {
      "max": 256,
      "type": "string"
    },
    "HPOResourceConfig": {
      "documentation": "<p>Describes the resource configuration for hyperparameter optimization (HPO).</p>",
      "members": {
        "maxNumberOfTrainingJobs": {
          "documentation": "<p>The maximum number of training jobs when you create a solution version. The maximum value for <code>maxNumberOfTrainingJobs</code> is <code>40</code>.</p>",
          "shape": "HPOResource"
        },
        "maxParallelTrainingJobs": {
[...]
