{
  "documentation": "<p>Detective uses machine learning and purpose-built visualizations to help you analyze and investigate security issues across your Amazon Web Services (AWS) workloads. Detective automatically extracts time-based events such as login attempts, API calls, and network traffic from AWS CloudTrail and Amazon Virtual Private Cloud (Amazon VPC) flow logs. It also extracts findings detected by Amazon GuardDuty.</p> <p>The Detective API primarily supports the creation and management of behavior graphs. A behavior graph contains the extracted data from a set of member accounts, and is created and managed by a master account.</p> <p>Every behavior graph is specific to a Region. You can only use the API to manage graphs that belong to the Region that is associated with the currently selected endpoint.</p> <p>A Detective master account can use the Detective API to do the following:</p> <ul> <li> <p>Enable and disable Detective. Enabling Detective creates a new behavior graph.</p> </li> <li> <p>View the list of member accounts in a behavior graph.</p> </li> <li> <p>Add member accounts to a behavior graph.</p> </li> <li> <p>Remove member accounts from a behavior graph.</p> </li> </ul> <p>A member account can use the Detective API to do the following:</p> <ul> <li> <p>View the list of behavior graphs that they are invited to.</p> </li> <li> <p>Accept an invitation to contribute to a behavior graph.</p> </li> <li> <p>Decline an invitation to contribute to a behavior graph.</p> </li> <li> <p>Remove their account from a behavior graph.</p> </li> </ul> <p>All API actions are logged as CloudTrail events. See <a href=\"https://docs.aws.amazon.com/detective/latest/adminguide/logging-using-cloudtrail.html\">Logging Detective API Calls with CloudTrail</a>.</p>",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "api.detective",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Detective",
    "serviceId": "Detective",
    "signatureVersion": "v4",
    "signingName": "detective",
    "uid": "detective-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "documentation": "<p>Accepts an invitation for the member account to contribute data to a behavior graph. This operation can only be called by an invited member account. </p> <p>The request provides the ARN of behavior graph.</p> <p>The member account status in the graph must be <code>INVITED</code>.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/invitation"
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "name": "AcceptInvitation"
    },
    "CreateGraph": {
      "documentation": "<p>Creates a new behavior graph for the calling account, and sets that account as the master account. This operation is called by the account that is enabling Detective.</p> <p>Before you try to enable Detective, make sure that your account has been enrolled in Amazon GuardDuty for at least 48 hours. If you do not meet this requirement, you cannot enable Detective. If you do meet the GuardDuty prerequisite, then when you make the request to enable Detective, it checks whether your data volume is within the Detective quota. If it exceeds the quota, then you cannot enable Detective. </p> <p>The operation also enables Detective for the calling account in the currently selected Region. It returns the ARN of the new behavior graph.</p> <p> <code>CreateGraph</code> triggers a process to create the corresponding data tables for the new behavior graph.</p> <p>An account can only be the master account for one behavior graph within a Region. If the same account calls <code>CreateGraph</code> with the same master account, it always returns the same behavior graph ARN. It does not create a new behavior graph.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph"
      },
      "name": "CreateGraph",
      "output": {
        "shape": "CreateGraphResponse"
      }
    },
    "CreateMembers": {
      "documentation": "<p>Sends a request to invite the specified AWS accounts to be member accounts in the behavior graph. This operation can only be called by the master account for a behavior graph. </p> <p> <code>CreateMembers</code> verifies the accounts and then sends invitations to the verified accounts.</p> <p>The request provides the behavior graph ARN and the list of accounts to invite.</p> <p>The response separates the requested accounts into two lists:</p> <ul> <li> <p>The accounts that <code>CreateMembers</code> was able to start the verification for. This list includes member accounts that are being verified, that have passed verification and are being sent an invitation, and that have failed verification.</p> </li> <li> <p>The accounts that <code>CreateMembers</code> was unable to process. This list includes accounts that were already invited to be member accounts in the behavior graph.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members"
      },
      "input": {
        "shape": "CreateMembersRequest"
      },
      "name": "CreateMembers",
      "output": {
        "shape": "CreateMembersResponse"
      }
    },
    "DeleteGraph": {
      "documentation": "<p>Disables the specified behavior graph and queues it to be deleted. This operation removes the graph from each member account's list of behavior graphs.</p> <p> <code>DeleteGraph</code> can only be called by the master account for a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/removal"
      },
      "input": {
        "shape": "DeleteGraphRequest"
      },
      "name": "DeleteGraph"
    },
    "DeleteMembers": {
      "documentation": "<p>Deletes one or more member accounts from the master account behavior graph. This operation can only be called by a Detective master account. That account cannot use <code>DeleteMembers</code> to delete their own account from the behavior graph. To disable a behavior graph, the master account uses the <code>DeleteGraph</code> API method.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members/removal"
      },
      "input": {
        "shape": "DeleteMembersRequest"
      },
      "name": "DeleteMembers",
      "output": {
        "shape": "DeleteMembersResponse"
      }
    },
    "DisassociateMembership": {
      "documentation": "<p>Removes the member account from the specified behavior graph. This operation can only be called by a member account that has the <code>ENABLED</code> status.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/membership/removal"
      },
      "input": {
        "shape": "DisassociateMembershipRequest"
      },
      "name": "DisassociateMembership"
    },
    "GetMembers": {
      "documentation": "<p>Returns the membership details for specified member accounts for a behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members/get"
      },
      "input": {
        "shape": "GetMembersRequest"
      },
      "name": "GetMembers",
      "output": {
        "shape": "GetMembersResponse"
      }
    },
    "ListGraphs": {
      "documentation": "<p>Returns the list of behavior graphs that the calling account is a master of. This operation can only be called by a master account.</p> <p>Because an account can currently only be the master of one behavior graph within a Region, the results always contain a single graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graphs/list"
      },
      "input": {
        "shape": "ListGraphsRequest"
      },
      "name": "ListGraphs",
      "output": {
        "shape": "ListGraphsResponse"
      }
    },
    "ListInvitations": {
      "documentation": "<p>Retrieves the list of open and accepted behavior graph invitations for the member account. This operation can only be called by a member account.</p> <p>Open invitations are invitations that the member account has not responded to.</p> <p>The results do not include behavior graphs for which the member account declined the invitation. The results also do not include behavior graphs that the member account resigned from or was removed from.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/list"
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "name": "ListInvitations",
      "output": {
        "shape": "ListInvitationsResponse"
      }
    },
    "ListMembers": {
      "documentation": "<p>Retrieves the list of member accounts for a behavior graph. Does not return member accounts that were removed from the behavior graph.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/members/list"
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "name": "ListMembers",
      "output": {
        "shape": "ListMembersResponse"
      }
    },
    "RejectInvitation": {
      "documentation": "<p>Rejects an invitation to contribute the account data to a behavior graph. This operation must be called by a member account that has the <code>INVITED</code> status.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitation/removal"
      },
      "input": {
        "shape": "RejectInvitationRequest"
      },
      "name": "RejectInvitation"
    },
    "StartMonitoringMember": {
      "documentation": "<p>Sends a request to enable data ingest for a member account that has a status of <code>ACCEPTED_BUT_DISABLED</code>.</p> <p>For valid member accounts, the status is updated as follows.</p> <ul> <li> <p>If Detective enabled the member account, then the new status is <code>ENABLED</code>.</p> </li> <li> <p>If Detective cannot enable the member account, the status remains <code>ACCEPTED_BUT_DISABLED</code>. </p> </li> </ul>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/graph/member/monitoringstate"
      },
      "input": {
        "shape": "StartMonitoringMemberRequest"
      },
      "name": "StartMonitoringMember"
    }
  },
  "shapes": {
    "AcceptInvitationRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph that the member account is accepting the invitation for.</p> <p>The member account status in the behavior graph must be <code>INVITED</code>.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "Account": {
      "documentation": "<p>An AWS account that is the master of or a member of a behavior graph.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The account identifier of the AWS account.</p>",
          "shape": "AccountId"
        },
        "EmailAddress": {
          "documentation": "<p>The AWS account root user email address for the AWS account.</p>",
          "shape": "EmailAddress"
        }
      },
      "required": [
        "AccountId",
        "EmailAddress"
      ],
      "type": "structure"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "pattern": "^[0-9]+$",
      "type": "string"
    },
    "AccountIdList": {
      "max": 50,
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AccountList": {
      "max": 50,
      "member": {
        "shape": "Account"
      },
      "min": 1,
      "type": "list"
    },
    "ConflictException": {
      "documentation": "<p>The request attempted an invalid action.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateGraphResponse": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the new behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "type": "structure"
    },
    "CreateMembersRequest": {
      "members": {
        "Accounts": {
          "documentation": "<p>The list of AWS accounts to invite to become member accounts in the behavior graph. For each invited account, the account list contains the account identifier and the AWS account root user email address.</p>",
          "shape": "AccountList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to invite the member accounts to contribute their data to.</p>",
          "shape": "GraphArn"
        },
        "Message": {
          "documentation": "<p>Customized message text to include in the invitation email message to the invited member accounts.</p>",
          "shape": "EmailMessage"
        }
      },
      "required": [
        "GraphArn",
        "Accounts"
      ],
      "type": "structure"
    },
    "CreateMembersResponse": {
      "members": {
        "Members": {
          "documentation": "<p>The set of member account invitation requests that Detective was able to process. This includes accounts that are being verified, that failed verification, and that passed verification and are being sent an invitation.</p>",
          "shape": "MemberDetailList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>The list of accounts for which Detective was unable to process the invitation request. For each account, the list provides the reason why the request could not be processed. The list includes accounts that are already member accounts in the behavior graph.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "DeleteGraphRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to disable.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "DeleteMembersRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of AWS account identifiers for the member accounts to delete from the behavior graph.</p>",
          "shape": "AccountIdList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to delete members from.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "DeleteMembersResponse": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of AWS account identifiers for the member accounts that Detective successfully deleted from the behavior graph.</p>",
          "shape": "AccountIdList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>The list of member accounts that Detective was not able to delete from the behavior graph. For each member account, provides the reason that the deletion could not be processed.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "DisassociateMembershipRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to remove the member account from.</p> <p>The member account's member status in the behavior graph must be <code>ENABLED</code>.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "EmailAddress": {
      "max": 64,
      "min": 1,
      "pattern": "^.+@.+$",
      "type": "string"
    },
    "EmailMessage": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "GetMembersRequest": {
      "members": {
        "AccountIds": {
          "documentation": "<p>The list of AWS account identifiers for the member account for which to return member details.</p> <p>You cannot use <code>GetMembers</code> to retrieve information about member accounts that were removed from the behavior graph.</p>",
          "shape": "AccountIdList"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph for which to request the member details.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountIds"
      ],
      "type": "structure"
    },
    "GetMembersResponse": {
      "members": {
        "MemberDetails": {
          "documentation": "<p>The member account details that Detective is returning in response to the request.</p>",
          "shape": "MemberDetailList"
        },
        "UnprocessedAccounts": {
          "documentation": "<p>The requested member accounts for which Detective was unable to return member details.</p> <p>For each account, provides the reason why the request could not be processed.</p>",
          "shape": "UnprocessedAccountList"
        }
      },
      "type": "structure"
    },
    "Graph": {
      "documentation": "<p>A behavior graph in Detective.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time that the behavior graph was created. The value is in milliseconds since the epoch.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GraphArn": {
      "pattern": "^arn:aws[-\\w]{0,10}?:detective:[-\\w]{2,20}?:\\d{12}?:graph:[abcdef\\d]{32}?$",
      "type": "string"
    },
    "GraphList": {
      "member": {
        "shape": "Graph"
      },
      "type": "list"
    },
    "InternalServerException": {
      "documentation": "<p>The request was valid but failed because of a problem with the service.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListGraphsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of graphs to return at a time. The total must be less than the overall limit on the number of results to return, which is currently 200.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListGraphsResponse": {
      "members": {
        "GraphList": {
          "documentation": "<p>A list of behavior graphs that the account is a master for.</p>",
          "shape": "GraphList"
        },
        "NextToken": {
          "documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination token to use to request the next page of behavior graphs.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListInvitationsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of behavior graph invitations to return in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to retrieve the next page of results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListInvitationsResponse": {
      "members": {
        "Invitations": {
          "documentation": "<p>The list of behavior graphs for which the member account has open or accepted invitations.</p>",
          "shape": "MemberDetailList"
        },
        "NextToken": {
          "documentation": "<p>If there are more behavior graphs remaining in the results, then this is the pagination token to use to request the next page of behavior graphs.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListMembersRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph for which to retrieve the list of member accounts.</p>",
          "shape": "GraphArn"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of member accounts to include in the response. The total must be less than the overall limit on the number of results to return, which is currently 200.</p>",
          "shape": "MemberResultsLimit"
        },
        "NextToken": {
          "documentation": "<p>For requests to retrieve the next page of member account results, the pagination token that was returned with the previous page of results. The initial request does not include a pagination token.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "ListMembersResponse": {
      "members": {
        "MemberDetails": {
          "documentation": "<p>The list of member accounts in the behavior graph.</p> <p>The results include member accounts that did not pass verification and member accounts that have not yet accepted the invitation to the behavior graph. The results do not include member accounts that were removed from the behavior graph.</p>",
          "shape": "MemberDetailList"
        },
        "NextToken": {
          "documentation": "<p>If there are more member accounts remaining in the results, then this is the pagination token to use to request the next page of member accounts.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "MemberDetail": {
      "documentation": "<p>Details about a member account that was invited to contribute to a behavior graph.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The AWS account identifier for the member account.</p>",
          "shape": "AccountId"
        },
        "DisabledReason": {
          "documentation": "<p>For member accounts with a status of <code>ACCEPTED_BUT_DISABLED</code>, the reason that the member account is not enabled.</p> <p>The reason can have one of the following values:</p> <ul> <li> <p> <code>VOLUME_TOO_HIGH</code> - Indicates that adding the member account would cause the data volume for the behavior graph to be too high.</p> </li> <li> <p> <code>VOLUME_UNKNOWN</code> - Indicates that Detective is unable to verify the data volume for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty. </p> </li> </ul>",
          "shape": "MemberDisabledReason"
        },
        "EmailAddress": {
          "documentation": "<p>The AWS account root user email address for the member account.</p>",
          "shape": "EmailAddress"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph that the member account was invited to.</p>",
          "shape": "GraphArn"
        },
        "InvitedTime": {
          "documentation": "<p>The date and time that Detective sent the invitation to the member account. The value is in milliseconds since the epoch.</p>",
          "shape": "Timestamp"
        },
        "MasterId": {
          "documentation": "<p>The AWS account identifier of the master account for the behavior graph.</p>",
          "shape": "AccountId"
        },
        "PercentOfGraphUtilization": {
          "documentation": "<p>The member account data volume as a percentage of the maximum allowed data volume. 0 indicates 0 percent, and 100 indicates 100 percent.</p> <p>Note that this is not the percentage of the behavior graph data volume.</p> <p>For example, the data volume for the behavior graph is 80 GB per day. The maximum data volume is 160 GB per day. If the data volume for the member account is 40 GB per day, then <code>PercentOfGraphUtilization</code> is 25. It represents 25% of the maximum allowed data volume. </p>",
          "shape": "Percentage"
        },
        "PercentOfGraphUtilizationUpdatedTime": {
          "documentation": "<p>The date and time when the graph utilization percentage was last updated.</p>",
          "shape": "Timestamp"
        },
        "Status": {
          "documentation": "<p>The current membership status of the member account. The status can have one of the following values:</p> <ul> <li> <p> <code>INVITED</code> - Indicates that the member was sent an invitation but has not yet responded.</p> </li> <li> <p> <code>VERIFICATION_IN_PROGRESS</code> - Indicates that Detective is verifying that the account identifier and email address provided for the member account match. If they do match, then Detective sends the invitation. If the email address and account identifier don't match, then the member cannot be added to the behavior graph.</p> </li> <li> <p> <code>VERIFICATION_FAILED</code> - Indicates that the account and email address provided for the member account do not match, and Detective did not send an invitation to the account.</p> </li> <li> <p> <code>ENABLED</code> - Indicates that the member account accepted the invitation to contribute to the behavior graph.</p> </li> <li> <p> <code>ACCEPTED_BUT_DISABLED</code> - Indicates that the member account accepted the invitation but is prevented from contributing data to the behavior graph. <code>DisabledReason</code> provides the reason why the member account is not enabled.</p> </li> </ul> <p>Member accounts that declined an invitation or that were removed from the behavior graph are not included.</p>",
          "shape": "MemberStatus"
        },
        "UpdatedTime": {
          "documentation": "<p>The date and time that the member account was last updated. The value is in milliseconds since the epoch.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "MemberDetailList": {
      "member": {
        "shape": "MemberDetail"
      },
      "type": "list"
    },
    "MemberDisabledReason": {
      "enum": [
        "VOLUME_TOO_HIGH",
        "VOLUME_UNKNOWN"
      ],
      "type": "string"
    },
    "MemberResultsLimit": {
      "box": true,
      "max": 200,
      "min": 1,
      "type": "integer"
    },
    "MemberStatus": {
      "enum": [
        "INVITED",
        "VERIFICATION_IN_PROGRESS",
        "VERIFICATION_FAILED",
        "ENABLED",
        "ACCEPTED_BUT_DISABLED"
      ],
      "type": "string"
    },
    "PaginationToken": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "Percentage": {
      "type": "double"
    },
    "RejectInvitationRequest": {
      "members": {
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph to reject the invitation to.</p> <p>The member account's current member status in the behavior graph must be <code>INVITED</code>.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The request refers to a nonexistent resource.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>This request cannot be completed for one of the following reasons.</p> <ul> <li> <p>The request would cause the number of member accounts in the behavior graph to exceed the maximum allowed. A behavior graph cannot have more than 1000 member accounts.</p> </li> <li> <p>The request would cause the data rate for the behavior graph to exceed the maximum allowed.</p> </li> <li> <p>Detective is unable to verify the data rate for the member account. This is usually because the member account is not enrolled in Amazon GuardDuty. </p> </li> </ul>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "StartMonitoringMemberRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID of the member account to try to enable.</p> <p>The account must be an invited member account with a status of <code>ACCEPTED_BUT_DISABLED</code>. </p>",
          "shape": "AccountId"
        },
        "GraphArn": {
          "documentation": "<p>The ARN of the behavior graph.</p>",
          "shape": "GraphArn"
        }
      },
      "required": [
        "GraphArn",
        "AccountId"
      ],
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "UnprocessedAccount": {
      "documentation": "<p>A member account that was included in a request but for which the request could not be processed.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The AWS account identifier of the member account that was not processed.</p>",
          "shape": "AccountId"
        },
        "Reason": {
          "documentation": "<p>The reason that the member account request could not be processed.</p>",
          "shape": "UnprocessedReason"
        }
      },
      "type": "structure"
    },
    "UnprocessedAccountList": {
      "member": {
        "shape": "UnprocessedAccount"
      },
      "type": "list"
    },
    "UnprocessedReason": {
      "type": "string"
    },
    "ValidationException": {
      "documentation": "<p>The request parameters are invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
