{
  "documentation": "<fullname>AAWS Sever Migration Service</fullname> <p>This is the <i>AWS Sever Migration Service API Reference</i>. It provides descriptions, syntax, and usage examples for each of the actions and data types for the AWS Sever Migration Service (AWS SMS). The topic for each action shows the Query API request parameters and the XML response. You can also view the XML request elements in the WSDL.</p> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>To learn more about the Server Migration Service, see the following resources:</p> <ul> <li> <p> <a href=\"https://aws.amazon.com/server-migration-service/\">AWS Sever Migration Service product page</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/server-migration-service/latest/userguide/server-migration.html\">AWS Sever Migration Service User Guide</a> </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2016-10-24",
    "endpointPrefix": "sms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "SMS",
    "serviceFullName": "AWS Server Migration Service",
    "serviceId": "SMS",
    "signatureVersion": "v4",
    "targetPrefix": "AWSServerMigrationService_V2016_10_24",
    "uid": "sms-2016-10-24"
  },
  "operations": {
    "CreateApp": {
      "documentation": "<p>Creates an application. An application consists of one or more server groups. Each server group contain one or more servers.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "name": "CreateApp",
      "output": {
        "shape": "CreateAppResponse"
      }
    },
    "CreateReplicationJob": {
      "documentation": "<p>Creates a replication job. The replication job schedules periodic replication runs to replicate your server to AWS. Each replication run creates an Amazon Machine Image (AMI).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ServerCannotBeReplicatedException"
        },
        {
          "shape": "ReplicationJobAlreadyExistsException"
        },
        {
          "shape": "NoConnectorsAvailableException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "TemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReplicationJobRequest"
      },
      "name": "CreateReplicationJob",
      "output": {
        "shape": "CreateReplicationJobResponse"
      }
    },
    "DeleteApp": {
      "documentation": "<p>Deletes an existing application. Optionally deletes the launched stack associated with the application and all AWS SMS replication jobs for servers in the application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "name": "DeleteApp",
      "output": {
        "shape": "DeleteAppResponse"
      }
    },
    "DeleteAppLaunchConfiguration": {
      "documentation": "<p>Deletes existing launch configuration for an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppLaunchConfigurationRequest"
      },
      "name": "DeleteAppLaunchConfiguration",
      "output": {
        "shape": "DeleteAppLaunchConfigurationResponse"
      }
    },
    "DeleteAppReplicationConfiguration": {
      "documentation": "<p>Deletes existing replication configuration for an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAppReplicationConfigurationRequest"
      },
      "name": "DeleteAppReplicationConfiguration",
      "output": {
        "shape": "DeleteAppReplicationConfigurationResponse"
      }
    },
    "DeleteReplicationJob": {
      "documentation": "<p>Deletes the specified replication job.</p> <p>After you delete a replication job, there are no further replication runs. AWS deletes the contents of the Amazon S3 bucket used to store AWS SMS artifacts. The AMIs created by the replication runs are not deleted.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ReplicationJobNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReplicationJobRequest"
      },
      "name": "DeleteReplicationJob",
      "output": {
        "shape": "DeleteReplicationJobResponse"
      }
    },
    "DeleteServerCatalog": {
      "documentation": "<p>Deletes all servers from your server catalog.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServerCatalogRequest"
      },
      "name": "DeleteServerCatalog",
      "output": {
        "shape": "DeleteServerCatalogResponse"
      }
    },
    "DisassociateConnector": {
      "documentation": "<p>Disassociates the specified connector from AWS SMS.</p> <p>After you disassociate a connector, it is no longer available to support replication jobs.</p>",
      "errors": [
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateConnectorRequest"
      },
      "name": "DisassociateConnector",
      "output": {
        "shape": "DisassociateConnectorResponse"
      }
    },
    "GenerateChangeSet": {
      "documentation": "<p>Generates a target change set for a currently launched stack and writes it to an Amazon S3 object in the customer\u2019s Amazon S3 bucket.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateChangeSetRequest"
      },
      "name": "GenerateChangeSet",
      "output": {
        "shape": "GenerateChangeSetResponse"
      }
    },
    "GenerateTemplate": {
      "documentation": "<p>Generates an Amazon CloudFormation template based on the current launch configuration and writes it to an Amazon S3 object in the customer\u2019s Amazon S3 bucket.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateTemplateRequest"
      },
      "name": "GenerateTemplate",
      "output": {
        "shape": "GenerateTemplateResponse"
      }
    },
    "GetApp": {
      "documentation": "<p>Retrieve information about an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppRequest"
      },
      "name": "GetApp",
      "output": {
        "shape": "GetAppResponse"
      }
    },
    "GetAppLaunchConfiguration": {
      "documentation": "<p>Retrieves the application launch configuration associated with an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppLaunchConfigurationRequest"
      },
      "name": "GetAppLaunchConfiguration",
      "output": {
        "shape": "GetAppLaunchConfigurationResponse"
      }
    },
    "GetAppReplicationConfiguration": {
      "documentation": "<p>Retrieves an application replication configuration associatd with an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAppReplicationConfigurationRequest"
      },
      "name": "GetAppReplicationConfiguration",
      "output": {
        "shape": "GetAppReplicationConfigurationResponse"
      }
    },
    "GetConnectors": {
      "documentation": "<p>Describes the connectors registered with the AWS SMS.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectorsRequest"
      },
      "name": "GetConnectors",
      "output": {
        "shape": "GetConnectorsResponse"
      }
    },
    "GetReplicationJobs": {
      "documentation": "<p>Describes the specified replication job or all of your replication jobs.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReplicationJobsRequest"
      },
      "name": "GetReplicationJobs",
      "output": {
        "shape": "GetReplicationJobsResponse"
      }
    },
    "GetReplicationRuns": {
      "documentation": "<p>Describes the replication runs for the specified replication job.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReplicationRunsRequest"
      },
      "name": "GetReplicationRuns",
      "output": {
        "shape": "GetReplicationRunsResponse"
      }
    },
    "GetServers": {
      "documentation": "<p>Describes the servers in your server catalog.</p> <p>Before you can describe your servers, you must import them using <a>ImportServerCatalog</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServersRequest"
      },
      "name": "GetServers",
      "output": {
        "shape": "GetServersResponse"
      }
    },
    "ImportServerCatalog": {
      "documentation": "<p>Gathers a complete list of on-premises servers. Connectors must be installed and monitoring all servers that you want to import.</p> <p>This call returns immediately, but might take additional time to retrieve all the servers.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "NoConnectorsAvailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportServerCatalogRequest"
      },
      "name": "ImportServerCatalog",
      "output": {
        "shape": "ImportServerCatalogResponse"
      }
    },
    "LaunchApp": {
      "documentation": "<p>Launches an application stack.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LaunchAppRequest"
      },
      "name": "LaunchApp",
      "output": {
        "shape": "LaunchAppResponse"
      }
    },
    "ListApps": {
      "documentation": "<p>Returns a list of summaries for all applications.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAppsRequest"
      },
      "name": "ListApps",
      "output": {
        "shape": "ListAppsResponse"
      }
    },
    "PutAppLaunchConfiguration": {
      "documentation": "<p>Creates a launch configuration for an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAppLaunchConfigurationRequest"
      },
      "name": "PutAppLaunchConfiguration",
      "output": {
        "shape": "PutAppLaunchConfigurationResponse"
      }
    },
    "PutAppReplicationConfiguration": {
      "documentation": "<p>Creates or updates a replication configuration for an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAppReplicationConfigurationRequest"
      },
      "name": "PutAppReplicationConfiguration",
      "output": {
        "shape": "PutAppReplicationConfigurationResponse"
      }
    },
    "StartAppReplication": {
      "documentation": "<p>Starts replicating an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartAppReplicationRequest"
      },
      "name": "StartAppReplication",
      "output": {
        "shape": "StartAppReplicationResponse"
      }
    },
    "StartOnDemandReplicationRun": {
      "documentation": "<p>Starts an on-demand replication run for the specified replication job. This replication run starts immediately. This replication run is in addition to the ones already scheduled.</p> <p>There is a limit on the number of on-demand replications runs you can request in a 24-hour period.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ReplicationRunLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartOnDemandReplicationRunRequest"
      },
      "name": "StartOnDemandReplicationRun",
      "output": {
        "shape": "StartOnDemandReplicationRunResponse"
      }
    },
    "StopAppReplication": {
      "documentation": "<p>Stops replicating an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopAppReplicationRequest"
      },
      "name": "StopAppReplication",
      "output": {
        "shape": "StopAppReplicationResponse"
      }
    },
    "TerminateApp": {
      "documentation": "<p>Terminates the stack for an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateAppRequest"
      },
      "name": "TerminateApp",
      "output": {
        "shape": "TerminateAppResponse"
      }
    },
    "UpdateApp": {
      "documentation": "<p>Updates an application.</p>",
      "errors": [
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAppRequest"
      },
      "name": "UpdateApp",
      "output": {
        "shape": "UpdateAppResponse"
      }
    },
    "UpdateReplicationJob": {
      "documentation": "<p>Updates the specified settings for the specified replication job.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MissingRequiredParameterException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "UnauthorizedOperationException"
        },
        {
          "shape": "ServerCannotBeReplicatedException"
        },
        {
          "shape": "ReplicationJobNotFoundException"
        },
        {
          "shape": "InternalError"
        },
        {
          "shape": "TemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateReplicationJobRequest"
      },
      "name": "UpdateReplicationJob",
      "output": {
        "shape": "UpdateReplicationJobResponse"
      }
    }
  },
  "shapes": {
    "AmiId": {
      "type": "string"
    },
    "AppDescription": {
      "type": "string"
    },
    "AppId": {
      "type": "string"
    },
    "AppIds": {
      "member": {
        "shape": "AppId"
      },
      "type": "list"
    },
    "AppLaunchStatus": {
      "enum": [
        "READY_FOR_CONFIGURATION",
        "CONFIGURATION_IN_PROGRESS",
        "CONFIGURATION_INVALID",
        "READY_FOR_LAUNCH",
        "VALIDATION_IN_PROGRESS",
        "LAUNCH_PENDING",
        "LAUNCH_IN_PROGRESS",
        "LAUNCHED",
        "DELTA_LAUNCH_IN_PROGRESS",
        "DELTA_LAUNCH_FAILED",
        "LAUNCH_FAILED",
        "TERMINATE_IN_PROGRESS",
        "TERMINATE_FAILED",
        "TERMINATED"
      ],
      "type": "string"
    },
    "AppLaunchStatusMessage": {
      "type": "string"
    },
    "AppName": {
      "type": "string"
    },
    "AppReplicationStatus": {
      "enum": [
        "READY_FOR_CONFIGURATION",
        "CONFIGURATION_IN_PROGRESS",
        "CONFIGURATION_INVALID",
        "READY_FOR_REPLICATION",
        "VALIDATION_IN_PROGRESS",
        "REPLICATION_PENDING",
        "REPLICATION_IN_PROGRESS",
        "REPLICATED",
        "DELTA_REPLICATION_IN_PROGRESS",
        "DELTA_REPLICATED",
        "DELTA_REPLICATION_FAILED",
        "REPLICATION_FAILED",
        "REPLICATION_STOPPING",
        "REPLICATION_STOP_FAILED",
        "REPLICATION_STOPPED"
      ],
      "type": "string"
    },
    "AppReplicationStatusMessage": {
      "type": "string"
    },
    "AppStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "UPDATING",
        "DELETING",
        "DELETED",
        "DELETE_FAILED"
      ],
      "type": "string"
    },
    "AppStatusMessage": {
      "type": "string"
    },
    "AppSummary": {
      "documentation": "<p>Information about the application.</p>",
      "members": {
        "appId": {
          "documentation": "<p>Unique ID of the application.</p>",
          "shape": "AppId"
        },
        "creationTime": {
          "documentation": "<p>Time of creation of this application.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>Description of the application.</p>",
          "shape": "AppDescription"
        },
        "lastModified": {
          "documentation": "<p>Timestamp of the application's creation.</p>",
          "shape": "Timestamp"
        },
        "latestReplicationTime": {
          "documentation": "<p>Timestamp of the application's most recent successful replication.</p>",
          "shape": "Timestamp"
        },
        "launchDetails": {
          "documentation": "<p>Details about the latest launch of the application.</p>",
          "shape": "LaunchDetails"
        },
        "launchStatus": {
          "documentation": "<p>Launch status of the application.</p>",
          "shape": "AppLaunchStatus"
        },
        "launchStatusMessage": {
          "documentation": "<p>A message related to the launch status of the application.</p>",
          "shape": "AppLaunchStatusMessage"
        },
        "name": {
          "documentation": "<p>Name of the application.</p>",
          "shape": "AppName"
        },
        "replicationStatus": {
          "documentation": "<p>Replication status of the application.</p>",
          "shape": "AppReplicationStatus"
        },
        "replicationStatusMessage": {
          "documentation": "<p>A message related to the replication status of the application.</p>",
          "shape": "AppReplicationStatusMessage"
        },
        "roleName": {
          "documentation": "<p>Name of the service role in the customer's account used by AWS SMS.</p>",
          "shape": "RoleName"
        },
        "status": {
          "documentation": "<p>Status of the application.</p>",
          "shape": "AppStatus"
        },
        "statusMessage": {
          "documentation": "<p>A message related to the status of the application</p>",
          "shape": "AppStatusMessage"
        },
        "totalServerGroups": {
          "documentation": "<p>Number of server groups present in the application.</p>",
          "shape": "TotalServerGroups"
        },
        "totalServers": {
          "documentation": "<p>Number of servers present in the application.</p>",
          "shape": "TotalServers"
        }
      },
      "type": "structure"
    },
    "Apps": {
      "member": {
        "shape": "AppSummary"
      },
      "type": "list"
    },
    "AssociatePublicIpAddress": {
      "type": "boolean"
    },
    "BucketName": {
      "type": "string"
    },
    "ClientToken": {
      "type": "string"
    },
    "Connector": {
      "documentation": "<p>Represents a connector.</p>",
      "members": {
        "associatedOn": {
          "documentation": "<p>The time the connector was associated.</p>",
          "shape": "Timestamp"
        },
        "capabilityList": {
          "documentation": "<p>The capabilities of the connector.</p>",
          "shape": "ConnectorCapabilityList"
        },
        "connectorId": {
          "documentation": "<p>The identifier of the connector.</p>",
          "shape": "ConnectorId"
        },
        "ipAddress": {
          "documentation": "<p>The IP address of the connector.</p>",
          "shape": "IpAddress"
        },
        "macAddress": {
          "documentation": "<p>The MAC address of the connector.</p>",
          "shape": "MacAddress"
        },
        "status": {
          "documentation": "<p>The status of the connector.</p>",
          "shape": "ConnectorStatus"
        },
        "version": {
          "documentation": "<p>The connector version.</p>",
          "shape": "ConnectorVersion"
        },
        "vmManagerId": {
          "documentation": "<p>The identifier of the VM manager.</p>",
          "shape": "VmManagerId"
        },
        "vmManagerName": {
          "documentation": "<p>The name of the VM manager.</p>",
          "shape": "VmManagerName"
        },
        "vmManagerType": {
          "documentation": "<p>The VM management product.</p>",
          "shape": "VmManagerType"
        }
      },
      "type": "structure"
    },
    "ConnectorCapability": {
      "enum": [
        "VSPHERE",
        "SCVMM",
        "HYPERV-MANAGER",
        "SNAPSHOT_BATCHING"
      ],
      "type": "string"
    },
    "ConnectorCapabilityList": {
      "member": {
        "shape": "ConnectorCapability"
      },
      "type": "list"
    },
    "ConnectorId": {
      "type": "string"
    },
    "ConnectorList": {
      "member": {
        "shape": "Connector"
      },
      "type": "list"
    },
    "ConnectorStatus": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY"
      ],
      "type": "string"
    },
    "ConnectorVersion": {
      "type": "string"
    },
    "CreateAppRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>A unique, case-sensitive identifier you provide to ensure idempotency of application creation.</p>",
          "shape": "ClientToken"
        },
        "description": {
          "documentation": "<p>Description of the new application</p>",
          "shape": "AppDescription"
        },
        "name": {
          "documentation": "<p>Name of the new application.</p>",
          "shape": "AppName"
        },
        "roleName": {
          "documentation": "<p>Name of service role in customer's account to be used by AWS SMS.</p>",
          "shape": "RoleName"
        },
        "serverGroups": {
          "documentation": "<p>List of server groups to include in the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>List of tags to be associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateAppResponse": {
      "members": {
        "appSummary": {
          "documentation": "<p>Summary description of the application.</p>",
          "shape": "AppSummary"
        },
        "serverGroups": {
          "documentation": "<p>List of server groups included in the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>List of taags associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateReplicationJobRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the replication job.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>When <i>true</i>, the replication job produces encrypted AMIs. See also <code>KmsKeyId</code> below.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The time between consecutive replication runs, in hours.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer's default KMS key for EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "licenseType": {
          "documentation": "<p>The license type to be used for the AMI created by a successful replication run.</p>",
          "shape": "LicenseType"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>The maximum number of SMS-created AMIs to retain. The oldest will be deleted once the maximum number is reached and a new AMI is created.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "roleName": {
          "documentation": "<p>The name of the IAM role to be used by the AWS SMS.</p>",
          "shape": "RoleName"
        },
        "runOnce": {
          "documentation": "<p/>",
          "shape": "RunOnce"
        },
        "seedReplicationTime": {
          "documentation": "<p>The seed replication time.</p>",
          "shape": "Timestamp"
        },
        "serverId": {
          "documentation": "<p>The identifier of the server.</p>",
          "shape": "ServerId"
        }
      },
      "required": [
        "serverId",
        "seedReplicationTime"
      ],
      "type": "structure"
    },
    "CreateReplicationJobResponse": {
      "members": {
        "replicationJobId": {
          "documentation": "<p>The unique identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "type": "structure"
    },
    "DeleteAppLaunchConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the launch configuration.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "DeleteAppLaunchConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAppReplicationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the replication configuration.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "DeleteAppReplicationConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application to delete.</p>",
          "shape": "AppId"
        },
        "forceStopAppReplication": {
          "documentation": "<p>While deleting the application, stop all replication jobs corresponding to the servers in the application.</p>",
          "shape": "ForceStopAppReplication"
        },
        "forceTerminateApp": {
          "documentation": "<p>While deleting the application, terminate the stack corresponding to the application.</p>",
          "shape": "ForceTerminateApp"
        }
      },
      "type": "structure"
    },
    "DeleteAppResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteReplicationJobRequest": {
      "members": {
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "DeleteReplicationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteServerCatalogRequest": {
      "members": {},
      "type": "structure"
    },
    "DeleteServerCatalogResponse": {
      "members": {},
      "type": "structure"
    },
    "Description": {
      "type": "string"
    },
    "DisassociateConnectorRequest": {
      "members": {
        "connectorId": {
          "documentation": "<p>The identifier of the connector.</p>",
          "shape": "ConnectorId"
        }
      },
      "required": [
        "connectorId"
      ],
      "type": "structure"
    },
    "DisassociateConnectorResponse": {
      "members": {},
      "type": "structure"
    },
    "EC2KeyName": {
      "type": "string"
    },
    "Encrypted": {
      "type": "boolean"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ForceStopAppReplication": {
      "type": "boolean"
    },
    "ForceTerminateApp": {
      "type": "boolean"
    },
    "Frequency": {
      "type": "integer"
    },
    "GenerateChangeSetRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the change set.</p>",
          "shape": "AppId"
        },
        "changesetFormat": {
          "documentation": "<p>Format for the change set.</p>",
          "shape": "OutputFormat"
        }
      },
      "type": "structure"
    },
    "GenerateChangeSetResponse": {
      "members": {
        "s3Location": {
          "documentation": "<p>Location of the Amazon S3 object.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "GenerateTemplateRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the Amazon CloudFormation template.</p>",
          "shape": "AppId"
        },
        "templateFormat": {
          "documentation": "<p>Format for generating the Amazon CloudFormation template.</p>",
          "shape": "OutputFormat"
        }
      },
      "type": "structure"
    },
    "GenerateTemplateResponse": {
      "members": {
        "s3Location": {
          "documentation": "<p>Location of the Amazon S3 object.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "GetAppLaunchConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application launch configuration.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "GetAppLaunchConfigurationResponse": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the launch configuration.</p>",
          "shape": "AppId"
        },
        "roleName": {
          "documentation": "<p>Name of the service role in the customer's account that Amazon CloudFormation uses to launch the application.</p>",
          "shape": "RoleName"
        },
        "serverGroupLaunchConfigurations": {
          "documentation": "<p>List of launch configurations for server groups in this application.</p>",
          "shape": "ServerGroupLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "GetAppReplicationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the replication configuration.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "GetAppReplicationConfigurationResponse": {
      "members": {
        "serverGroupReplicationConfigurations": {
          "documentation": "<p>Replication configurations associated with server groups in this application.</p>",
          "shape": "ServerGroupReplicationConfigurations"
        }
      },
      "type": "structure"
    },
    "GetAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application whose information is being retrieved.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "GetAppResponse": {
      "members": {
        "appSummary": {
          "documentation": "<p>Information about the application.</p>",
          "shape": "AppSummary"
        },
        "serverGroups": {
          "documentation": "<p>List of server groups belonging to the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>List of tags associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "GetConnectorsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetConnectorsResponse": {
      "members": {
        "connectorList": {
          "documentation": "<p>Information about the registered connectors.</p>",
          "shape": "ConnectorList"
        },
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetReplicationJobsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        },
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "type": "structure"
    },
    "GetReplicationJobsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "replicationJobList": {
          "documentation": "<p>Information about the replication jobs.</p>",
          "shape": "ReplicationJobList"
        }
      },
      "type": "structure"
    },
    "GetReplicationRunsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        },
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "GetReplicationRunsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "replicationJob": {
          "documentation": "<p>Information about the replication job.</p>",
          "shape": "ReplicationJob"
        },
        "replicationRunList": {
          "documentation": "<p>Information about the replication runs.</p>",
          "shape": "ReplicationRunList"
        }
      },
      "type": "structure"
    },
    "GetServersRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        },
        "vmServerAddressList": {
          "documentation": "<p>List of <code>VmServerAddress</code> objects</p>",
          "shape": "VmServerAddressList"
        }
      },
      "type": "structure"
    },
    "GetServersResponse": {
      "members": {
        "lastModifiedOn": {
          "documentation": "<p>The time when the server was last modified.</p>",
          "shape": "Timestamp"
        },
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "serverCatalogStatus": {
          "documentation": "<p>The status of the server catalog.</p>",
          "shape": "ServerCatalogStatus"
        },
        "serverList": {
          "documentation": "<p>Information about the servers.</p>",
          "shape": "ServerList"
        }
      },
      "type": "structure"
    },
    "ImportServerCatalogRequest": {
      "members": {},
      "type": "structure"
    },
    "ImportServerCatalogResponse": {
      "members": {},
      "type": "structure"
    },
    "InstanceType": {
      "type": "string"
    },
    "InternalError": {
      "documentation": "<p>An internal error occurred.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>A specified parameter is not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "IpAddress": {
      "type": "string"
    },
    "KeyName": {
      "type": "string"
    },
    "KmsKeyId": {
      "type": "string"
    },
    "LaunchAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application to launch.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "LaunchAppResponse": {
      "members": {},
      "type": "structure"
    },
    "LaunchDetails": {
      "documentation": "<p>Details about the latest launch of an application.</p>",
      "members": {
        "latestLaunchTime": {
          "documentation": "<p>Latest time this application was launched successfully.</p>",
          "shape": "Timestamp"
        },
        "stackId": {
          "documentation": "<p>Identifier of the latest stack launched for this application.</p>",
          "shape": "StackId"
        },
        "stackName": {
          "documentation": "<p>Name of the latest stack launched for this application.</p>",
          "shape": "StackName"
        }
      },
      "type": "structure"
    },
    "LaunchOrder": {
      "type": "integer"
    },
    "LicenseType": {
      "enum": [
        "AWS",
        "BYOL"
      ],
      "type": "string"
    },
    "ListAppsRequest": {
      "members": {
        "appIds": {
          "documentation": "<p/>",
          "shape": "AppIds"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. The default value is 50. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value. </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppsResponse": {
      "members": {
        "apps": {
          "documentation": "<p>A list of application summaries.</p>",
          "shape": "Apps"
        },
        "nextToken": {
          "documentation": "<p>The token required to retrieve the next set of results. This value is null when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "LogicalId": {
      "type": "string"
    },
    "MacAddress": {
      "type": "string"
    },
    "MaxResults": {
      "type": "integer"
    },
    "MissingRequiredParameterException": {
      "documentation": "<p>A required parameter is missing.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "type": "string"
    },
    "NoConnectorsAvailableException": {
      "documentation": "<p>There are no connectors available.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NumberOfRecentAmisToKeep": {
      "type": "integer"
    },
    "OperationNotPermittedException": {
      "documentation": "<p>This operation is not allowed.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "OutputFormat": {
      "enum": [
        "JSON",
        "YAML"
      ],
      "type": "string"
    },
    "PutAppLaunchConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application associated with the launch configuration.</p>",
          "shape": "AppId"
        },
        "roleName": {
          "documentation": "<p>Name of service role in the customer's account that Amazon CloudFormation uses to launch the application.</p>",
          "shape": "RoleName"
        },
        "serverGroupLaunchConfigurations": {
          "documentation": "<p>Launch configurations for server groups in the application.</p>",
          "shape": "ServerGroupLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "PutAppLaunchConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "PutAppReplicationConfigurationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application tassociated with the replication configuration.</p>",
          "shape": "AppId"
        },
        "serverGroupReplicationConfigurations": {
          "documentation": "<p>Replication configurations for server groups in the application.</p>",
          "shape": "ServerGroupReplicationConfigurations"
        }
      },
      "type": "structure"
    },
    "PutAppReplicationConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "ReplicationJob": {
      "documentation": "<p>Represents a replication job.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the replication job.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>Whether the replication job should produce encrypted AMIs or not. See also <code>KmsKeyId</code> below.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The time between consecutive replication runs, in hours.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer's default KMS key for EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "latestAmiId": {
          "documentation": "<p>The ID of the latest Amazon Machine Image (AMI).</p>",
          "shape": "AmiId"
        },
        "licenseType": {
          "documentation": "<p>The license type to be used for the AMI created by a successful replication run.</p>",
          "shape": "LicenseType"
        },
        "nextReplicationRunStartTime": {
          "documentation": "<p>The start time of the next replication run.</p>",
          "shape": "Timestamp"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>Number of recent AMIs to keep in the customer's account for a replication job. By default the value is set to zero, meaning that all AMIs are kept.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        },
        "replicationRunList": {
          "documentation": "<p>Information about the replication runs.</p>",
          "shape": "ReplicationRunList"
        },
        "roleName": {
          "documentation": "<p>The name of the IAM role to be used by the Server Migration Service.</p>",
          "shape": "RoleName"
        },
        "runOnce": {
          "documentation": "<p/>",
          "shape": "RunOnce"
        },
        "seedReplicationTime": {
          "documentation": "<p>The seed replication time.</p>",
          "shape": "Timestamp"
        },
        "serverId": {
          "documentation": "<p>The identifier of the server.</p>",
          "shape": "ServerId"
        },
        "serverType": {
          "documentation": "<p>The type of server.</p>",
          "shape": "ServerType"
        },
        "state": {
          "documentation": "<p>The state of the replication job.</p>",
          "shape": "ReplicationJobState"
        },
        "statusMessage": {
          "documentation": "<p>The description of the current status of the replication job.</p>",
          "shape": "ReplicationJobStatusMessage"
        },
        "vmServer": {
          "documentation": "<p>Information about the VM server.</p>",
          "shape": "VmServer"
        }
      },
      "type": "structure"
    },
    "ReplicationJobAlreadyExistsException": {
      "documentation": "<p>The specified replication job already exists.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ReplicationJobId": {
      "type": "string"
    },
    "ReplicationJobList": {
      "member": {
        "shape": "ReplicationJob"
      },
      "type": "list"
    },
    "ReplicationJobNotFoundException": {
      "documentation": "<p>The specified replication job does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ReplicationJobState": {
      "enum": [
        "PENDING",
        "ACTIVE",
        "FAILED",
        "DELETING",
        "DELETED",
        "COMPLETED",
        "PAUSED_ON_FAILURE",
        "FAILING"
      ],
      "type": "string"
    },
    "ReplicationJobStatusMessage": {
      "type": "string"
    },
    "ReplicationJobTerminated": {
      "type": "boolean"
    },
    "ReplicationRun": {
      "documentation": "<p>Represents a replication run.</p>",
      "members": {
        "amiId": {
          "documentation": "<p>The identifier of the Amazon Machine Image (AMI) from the replication run.</p>",
          "shape": "AmiId"
        },
        "completedTime": {
          "documentation": "<p>The completion time of the last replication run.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the replication run.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>Whether the replication run should produce encrypted AMI or not. See also <code>KmsKeyId</code> below.</p>",
          "shape": "Encrypted"
        },
        "kmsKeyId": {
          "documentation": "<p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer's default KMS key for EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "replicationRunId": {
          "documentation": "<p>The identifier of the replication run.</p>",
          "shape": "ReplicationRunId"
        },
        "scheduledStartTime": {
          "documentation": "<p>The start time of the next replication run.</p>",
          "shape": "Timestamp"
        },
        "stageDetails": {
          "documentation": "<p>Details of the current stage of the replication run.</p>",
          "shape": "ReplicationRunStageDetails"
        },
        "state": {
          "documentation": "<p>The state of the replication run.</p>",
          "shape": "ReplicationRunState"
        },
        "statusMessage": {
          "documentation": "<p>The description of the current status of the replication job.</p>",
          "shape": "ReplicationRunStatusMessage"
        },
        "type": {
          "documentation": "<p>The type of replication run.</p>",
          "shape": "ReplicationRunType"
        }
      },
      "type": "structure"
    },
    "ReplicationRunId": {
      "type": "string"
    },
    "ReplicationRunLimitExceededException": {
      "documentation": "<p>You have exceeded the number of on-demand replication runs you can request in a 24-hour period.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ReplicationRunList": {
      "member": {
        "shape": "ReplicationRun"
      },
      "type": "list"
    },
    "ReplicationRunStage": {
      "type": "string"
    },
    "ReplicationRunStageDetails": {
      "documentation": "<p>Details of the current stage of a replication run.</p>",
      "members": {
        "stage": {
          "documentation": "<p>String describing the current stage of a replication run.</p>",
          "shape": "ReplicationRunStage"
        },
        "stageProgress": {
          "documentation": "<p>String describing the progress of the current stage of a replication run.</p>",
          "shape": "ReplicationRunStageProgress"
        }
      },
      "type": "structure"
    },
    "ReplicationRunStageProgress": {
      "type": "string"
    },
    "ReplicationRunState": {
      "enum": [
        "PENDING",
        "MISSED",
        "ACTIVE",
        "FAILED",
        "COMPLETED",
        "DELETING",
        "DELETED"
      ],
      "type": "string"
    },
    "ReplicationRunStatusMessage": {
      "type": "string"
    },
    "ReplicationRunType": {
      "enum": [
        "ON_DEMAND",
        "AUTOMATIC"
      ],
      "type": "string"
    },
    "RoleName": {
      "type": "string"
    },
    "RunOnce": {
      "type": "boolean"
    },
    "S3Location": {
      "documentation": "<p>Location of the Amazon S3 object in the customer's account.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>Amazon S3 bucket name.</p>",
          "shape": "BucketName"
        },
        "key": {
          "documentation": "<p>Amazon S3 bucket key.</p>",
          "shape": "KeyName"
        }
      },
      "type": "structure"
    },
    "SecurityGroup": {
      "type": "string"
    },
    "Server": {
      "documentation": "<p>Represents a server.</p>",
      "members": {
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        },
        "replicationJobTerminated": {
          "documentation": "<p>Indicates whether the replication job is deleted or failed.</p>",
          "shape": "ReplicationJobTerminated"
        },
        "serverId": {
          "documentation": "<p>The identifier of the server.</p>",
          "shape": "ServerId"
        },
        "serverType": {
          "documentation": "<p>The type of server.</p>",
          "shape": "ServerType"
        },
        "vmServer": {
          "documentation": "<p>Information about the VM server.</p>",
          "shape": "VmServer"
        }
      },
      "type": "structure"
    },
    "ServerCannotBeReplicatedException": {
      "documentation": "<p>The specified server cannot be replicated.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ServerCatalogStatus": {
      "enum": [
        "NOT_IMPORTED",
        "IMPORTING",
        "AVAILABLE",
        "DELETED",
        "EXPIRED"
      ],
      "type": "string"
    },
    "ServerGroup": {
      "documentation": "<p>A logical grouping of servers.</p>",
      "members": {
        "name": {
          "documentation": "<p>Name of a server group.</p>",
          "shape": "ServerGroupName"
        },
        "serverGroupId": {
          "documentation": "<p>Identifier of a server group.</p>",
          "shape": "ServerGroupId"
        },
        "serverList": {
          "documentation": "<p>List of servers belonging to a server group.</p>",
          "shape": "ServerList"
        }
      },
      "type": "structure"
    },
    "ServerGroupId": {
      "type": "string"
    },
    "ServerGroupLaunchConfiguration": {
      "documentation": "<p>Launch configuration for a server group.</p>",
      "members": {
        "launchOrder": {
          "documentation": "<p>Launch order of servers in the server group.</p>",
          "shape": "LaunchOrder"
        },
        "serverGroupId": {
          "documentation": "<p>Identifier of the server group the launch configuration is associated with.</p>",
          "shape": "ServerGroupId"
        },
        "serverLaunchConfigurations": {
          "documentation": "<p>Launch configuration for servers in the server group.</p>",
          "shape": "ServerLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "ServerGroupLaunchConfigurations": {
      "member": {
        "shape": "ServerGroupLaunchConfiguration"
      },
      "type": "list"
    },
    "ServerGroupName": {
      "type": "string"
    },
    "ServerGroupReplicationConfiguration": {
      "documentation": "<p>Replication configuration for a server group.</p>",
      "members": {
        "serverGroupId": {
          "documentation": "<p>Identifier of the server group this replication configuration is associated with.</p>",
          "shape": "ServerGroupId"
        },
        "serverReplicationConfigurations": {
          "documentation": "<p>Replication configuration for servers in the server group.</p>",
          "shape": "ServerReplicationConfigurations"
        }
      },
      "type": "structure"
    },
    "ServerGroupReplicationConfigurations": {
      "member": {
        "shape": "ServerGroupReplicationConfiguration"
      },
      "type": "list"
    },
    "ServerGroups": {
      "member": {
        "shape": "ServerGroup"
      },
      "type": "list"
    },
    "ServerId": {
      "type": "string"
    },
    "ServerLaunchConfiguration": {
      "documentation": "<p>Launch configuration for a server.</p>",
      "members": {
        "associatePublicIpAddress": {
          "documentation": "<p>If true, a publicly accessible IP address is created when launching the server.</p>",
          "shape": "AssociatePublicIpAddress"
        },
        "ec2KeyName": {
          "documentation": "<p>Name of the EC2 SSH Key to be used for connecting to the launched server.</p>",
          "shape": "EC2KeyName"
        },
        "instanceType": {
          "documentation": "<p>Instance type to be used for launching the server.</p>",
          "shape": "InstanceType"
        },
        "logicalId": {
          "documentation": "<p>Logical ID of the server in the Amazon CloudFormation template.</p>",
          "shape": "LogicalId"
        },
        "securityGroup": {
          "documentation": "<p>Identifier of the security group that applies to the launched server.</p>",
          "shape": "SecurityGroup"
        },
        "server": {
          "documentation": "<p>Identifier of the server the launch configuration is associated with.</p>",
          "shape": "Server"
        },
        "subnet": {
          "documentation": "<p>Identifier of the subnet the server should be launched into.</p>",
          "shape": "Subnet"
        },
        "userData": {
          "documentation": "<p>Location of the user-data script to be executed when launching the server.</p>",
          "shape": "UserData"
        },
        "vpc": {
          "documentation": "<p>Identifier of the VPC the server should be launched into.</p>",
          "shape": "VPC"
        }
      },
      "type": "structure"
    },
    "ServerLaunchConfigurations": {
      "member": {
        "shape": "ServerLaunchConfiguration"
      },
      "type": "list"
    },
    "ServerList": {
      "member": {
        "shape": "Server"
      },
      "type": "list"
    },
    "ServerReplicationConfiguration": {
      "documentation": "<p>Replication configuration of a server.</p>",
      "members": {
        "server": {
          "documentation": "<p>Identifier of the server this replication configuration is associated with.</p>",
          "shape": "Server"
        },
        "serverReplicationParameters": {
          "documentation": "<p>Parameters for replicating the server.</p>",
          "shape": "ServerReplicationParameters"
        }
      },
      "type": "structure"
    },
    "ServerReplicationConfigurations": {
      "member": {
        "shape": "ServerReplicationConfiguration"
      },
      "type": "list"
    },
    "ServerReplicationParameters": {
      "documentation": "<p>Replication parameters for replicating a server.</p>",
      "members": {
        "encrypted": {
          "documentation": "<p>When true, the replication job produces encrypted AMIs. See also <code>KmsKeyId</code> below.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>Frequency of creating replication jobs for the server.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p/> <p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer's default KMS key for EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "licenseType": {
          "documentation": "<p>License type for creating a replication job for the server.</p>",
          "shape": "LicenseType"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>Number of recent AMIs to keep when creating a replication job for this server.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "runOnce": {
          "documentation": "<p/>",
          "shape": "RunOnce"
        },
        "seedTime": {
          "documentation": "<p>Seed time for creating a replication job for the server.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ServerType": {
      "enum": [
        "VIRTUAL_MACHINE"
      ],
      "type": "string"
    },
    "StackId": {
      "type": "string"
    },
    "StackName": {
      "type": "string"
    },
    "StartAppReplicationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application to replicate.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "StartAppReplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "StartOnDemandReplicationRunRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the replication run.</p>",
          "shape": "Description"
        },
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "StartOnDemandReplicationRunResponse": {
      "members": {
        "replicationRunId": {
          "documentation": "<p>The identifier of the replication run.</p>",
          "shape": "ReplicationRunId"
        }
      },
      "type": "structure"
    },
    "StopAppReplicationRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application to stop replicating.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "StopAppReplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "Subnet": {
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>A label that can be assigned to an application.</p>",
      "members": {
        "key": {
          "documentation": "<p>Tag key.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>Tag value.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "type": "string"
    },
    "TagValue": {
      "type": "string"
    },
    "Tags": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TemporarilyUnavailableException": {
      "documentation": "<p>The service is temporarily unavailable.</p>",
      "exception": true,
      "fault": true,
      "members": {},
      "type": "structure"
    },
    "TerminateAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application to terminate.</p>",
          "shape": "AppId"
        }
      },
      "type": "structure"
    },
    "TerminateAppResponse": {
      "members": {},
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TotalServerGroups": {
      "type": "integer"
    },
    "TotalServers": {
      "type": "integer"
    },
    "UnauthorizedOperationException": {
      "documentation": "<p>You lack permissions needed to perform this operation. Check your IAM policies, and ensure that you are using the correct access keys.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UpdateAppRequest": {
      "members": {
        "appId": {
          "documentation": "<p>ID of the application to update.</p>",
          "shape": "AppId"
        },
        "description": {
          "documentation": "<p>New description of the application.</p>",
          "shape": "AppDescription"
        },
        "name": {
          "documentation": "<p>New name of the application.</p>",
          "shape": "AppName"
        },
        "roleName": {
          "documentation": "<p>Name of the service role in the customer's account used by AWS SMS.</p>",
          "shape": "RoleName"
        },
        "serverGroups": {
          "documentation": "<p>List of server groups in the application to update.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>List of tags to associate with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "UpdateAppResponse": {
      "members": {
        "appSummary": {
          "documentation": "<p>Summary description of the application.</p>",
          "shape": "AppSummary"
        },
        "serverGroups": {
          "documentation": "<p>List of updated server groups in the application.</p>",
          "shape": "ServerGroups"
        },
        "tags": {
          "documentation": "<p>List of tags associated with the application.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "UpdateReplicationJobRequest": {
      "members": {
        "description": {
          "documentation": "<p>The description of the replication job.</p>",
          "shape": "Description"
        },
        "encrypted": {
          "documentation": "<p>When true, the replication job produces encrypted AMIs . See also <code>KmsKeyId</code> below.</p>",
          "shape": "Encrypted"
        },
        "frequency": {
          "documentation": "<p>The time between consecutive replication runs, in hours.</p>",
          "shape": "Frequency"
        },
        "kmsKeyId": {
          "documentation": "<p/> <p>KMS key ID for replication jobs that produce encrypted AMIs. Can be any of the following: </p> <ul> <li> <p>KMS key ID</p> </li> <li> <p>KMS key alias</p> </li> <li> <p>ARN referring to KMS key ID</p> </li> <li> <p>ARN referring to KMS key alias</p> </li> </ul> <p> If encrypted is <i>true</i> but a KMS key id is not specified, the customer's default KMS key for EBS is used. </p>",
          "shape": "KmsKeyId"
        },
        "licenseType": {
          "documentation": "<p>The license type to be used for the AMI created by a successful replication run.</p>",
          "shape": "LicenseType"
        },
        "nextReplicationRunStartTime": {
          "documentation": "<p>The start time of the next replication run.</p>",
          "shape": "Timestamp"
        },
        "numberOfRecentAmisToKeep": {
          "documentation": "<p>The maximum number of SMS-created AMIs to retain. The oldest will be deleted once the maximum number is reached and a new AMI is created.</p>",
          "shape": "NumberOfRecentAmisToKeep"
        },
        "replicationJobId": {
          "documentation": "<p>The identifier of the replication job.</p>",
          "shape": "ReplicationJobId"
        },
        "roleName": {
          "documentation": "<p>The name of the IAM role to be used by AWS SMS.</p>",
          "shape": "RoleName"
        }
      },
      "required": [
        "replicationJobId"
      ],
      "type": "structure"
    },
    "UpdateReplicationJobResponse": {
      "members": {},
      "type": "structure"
    },
    "UserData": {
      "documentation": "<p>A script that runs on first launch of an Amazon EC2 instance. Used for configuring the server during launch.</p>",
      "members": {
        "s3Location": {
          "documentation": "<p>Amazon S3 location of the user-data script.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "VPC": {
      "type": "string"
    },
    "VmId": {
      "type": "string"
    },
    "VmManagerId": {
      "type": "string"
    },
    "VmManagerName": {
      "type": "string"
    },
    "VmManagerType": {
      "enum": [
        "VSPHERE",
        "SCVMM",
        "HYPERV-MANAGER"
      ],
      "type": "string"
    },
    "VmName": {
      "type": "string"
    },
    "VmPath": {
      "type": "string"
    },
    "VmServer": {
      "documentation": "<p>Represents a VM server.</p>",
      "members": {
        "vmManagerName": {
          "documentation": "<p>The name of the VM manager.</p>",
          "shape": "VmManagerName"
        },
        "vmManagerType": {
          "documentation": "<p>The type of VM management product.</p>",
          "shape": "VmManagerType"
        },
        "vmName": {
          "documentation": "<p>The name of the VM.</p>",
          "shape": "VmName"
        },
        "vmPath": {
          "documentation": "<p>The VM folder path in the vCenter Server virtual machine inventory tree.</p>",
          "shape": "VmPath"
        },
        "vmServerAddress": {
          "documentation": "<p>Information about the VM server location.</p>",
          "shape": "VmServerAddress"
        }
      },
      "type": "structure"
    },
    "VmServerAddress": {
      "documentation": "<p>Represents a VM server location.</p>",
      "members": {
        "vmId": {
          "documentation": "<p>The identifier of the VM.</p>",
          "shape": "VmId"
        },
        "vmManagerId": {
          "documentation": "<p>The identifier of the VM manager.</p>",
          "shape": "VmManagerId"
        }
      },
      "type": "structure"
    },
    "VmServerAddressList": {
      "member": {
        "shape": "VmServerAddress"
      },
      "type": "list"
    }
  },
  "version": "2.0"
}
