{
  "documentation": "<fullname>Amazon API Gateway</fullname> <p>Amazon API Gateway helps developers deliver robust, secure, and scalable mobile and web application back ends. API Gateway allows developers to securely connect mobile and web applications to APIs that run on AWS Lambda, Amazon EC2, or other publicly addressable web services that are hosted outside of AWS.</p>",
  "metadata": {
    "apiVersion": "2015-07-09",
    "endpointPrefix": "apigateway",
    "protocol": "rest-json",
    "serviceFullName": "Amazon API Gateway",
    "serviceId": "API Gateway",
    "signatureVersion": "v4",
    "uid": "apigateway-2015-07-09"
  },
  "operations": {
    "CreateApiKey": {
      "documentation": "<p>Create an <a>ApiKey</a> resource. </p> <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-api-key.html\">AWS CLI</a></div>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apikeys",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateApiKeyRequest"
      },
      "name": "CreateApiKey",
      "output": {
        "shape": "ApiKey"
      }
    },
    "CreateAuthorizer": {
      "documentation": "<p>Adds a new <a>Authorizer</a> resource to an existing <a>RestApi</a> resource.</p> <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/create-authorizer.html\">AWS CLI</a></div>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/authorizers",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAuthorizerRequest"
      },
      "name": "CreateAuthorizer",
      "output": {
        "shape": "Authorizer"
      }
    },
    "CreateBasePathMapping": {
      "documentation": "<p>Creates a new <a>BasePathMapping</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/domainnames/{domain_name}/basepathmappings",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateBasePathMappingRequest"
      },
      "name": "CreateBasePathMapping",
      "output": {
        "shape": "BasePathMapping"
      }
    },
    "CreateDeployment": {
      "documentation": "<p>Creates a <a>Deployment</a> resource, which makes a specified <a>RestApi</a> callable over the internet.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/deployments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "name": "CreateDeployment",
      "output": {
        "shape": "Deployment"
      }
    },
    "CreateDocumentationPart": {
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/documentation/parts",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDocumentationPartRequest"
      },
      "name": "CreateDocumentationPart",
      "output": {
        "shape": "DocumentationPart"
      }
    },
    "CreateDocumentationVersion": {
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/documentation/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDocumentationVersionRequest"
      },
      "name": "CreateDocumentationVersion",
      "output": {
        "shape": "DocumentationVersion"
      }
    },
    "CreateDomainName": {
      "documentation": "<p>Creates a new domain name.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/domainnames",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDomainNameRequest"
      },
      "name": "CreateDomainName",
      "output": {
        "shape": "DomainName"
      }
    },
    "CreateModel": {
      "documentation": "<p>Adds a new <a>Model</a> resource to an existing <a>RestApi</a> resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/models",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "name": "CreateModel",
      "output": {
        "shape": "Model"
      }
    },
    "CreateRequestValidator": {
      "documentation": "<p>Creates a <a>ReqeustValidator</a> of a given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/requestvalidators",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRequestValidatorRequest"
      },
      "name": "CreateRequestValidator",
      "output": {
        "shape": "RequestValidator"
      }
    },
    "CreateResource": {
      "documentation": "<p>Creates a <a>Resource</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/resources/{parent_id}",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateResourceRequest"
      },
      "name": "CreateResource",
      "output": {
        "shape": "Resource"
      }
    },
    "CreateRestApi": {
      "documentation": "<p>Creates a new <a>RestApi</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRestApiRequest"
      },
      "name": "CreateRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "CreateStage": {
      "documentation": "<p>Creates a new <a>Stage</a> resource that references a pre-existing <a>Deployment</a> for the API. </p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/stages",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStageRequest"
      },
      "name": "CreateStage",
      "output": {
        "shape": "Stage"
      }
    },
    "CreateUsagePlan": {
      "documentation": "<p>Creates a usage plan with the throttle and quota limits, as well as the associated API stages, specified in the payload. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/usageplans",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateUsagePlanRequest"
      },
      "name": "CreateUsagePlan",
      "output": {
        "shape": "UsagePlan"
      }
    },
    "CreateUsagePlanKey": {
      "documentation": "<p>Creates a usage plan key for adding an existing API key to a usage plan.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/usageplans/{usageplanId}/keys",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateUsagePlanKeyRequest"
      },
      "name": "CreateUsagePlanKey",
      "output": {
        "shape": "UsagePlanKey"
      }
    },
    "CreateVpcLink": {
      "documentation": "<p>Creates a VPC link, under the caller's account in a selected region, in an asynchronous operation that typically takes 2-4 minutes to complete and become operational. The caller must have permissions to create and update VPC Endpoint services.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/vpclinks",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateVpcLinkRequest"
      },
      "name": "CreateVpcLink",
      "output": {
        "shape": "VpcLink"
      }
    },
    "DeleteApiKey": {
      "documentation": "<p>Deletes the <a>ApiKey</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apikeys/{api_Key}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteApiKeyRequest"
      },
      "name": "DeleteApiKey"
    },
    "DeleteAuthorizer": {
      "documentation": "<p>Deletes an existing <a>Authorizer</a> resource.</p> <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/delete-authorizer.html\">AWS CLI</a></div>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteAuthorizerRequest"
      },
      "name": "DeleteAuthorizer"
    },
    "DeleteBasePathMapping": {
      "documentation": "<p>Deletes the <a>BasePathMapping</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/domainnames/{domain_name}/basepathmappings/{base_path}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteBasePathMappingRequest"
      },
      "name": "DeleteBasePathMapping"
    },
    "DeleteClientCertificate": {
      "documentation": "<p>Deletes the <a>ClientCertificate</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/clientcertificates/{clientcertificate_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteClientCertificateRequest"
      },
      "name": "DeleteClientCertificate"
    },
    "DeleteDeployment": {
      "documentation": "<p>Deletes a <a>Deployment</a> resource. Deleting a deployment will only succeed if there are no <a>Stage</a> resources associated with it.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/deployments/{deployment_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDeploymentRequest"
      },
      "name": "DeleteDeployment"
    },
    "DeleteDocumentationPart": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/documentation/parts/{part_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDocumentationPartRequest"
      },
      "name": "DeleteDocumentationPart"
    },
    "DeleteDocumentationVersion": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/documentation/versions/{doc_version}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDocumentationVersionRequest"
      },
      "name": "DeleteDocumentationVersion"
    },
    "DeleteDomainName": {
      "documentation": "<p>Deletes the <a>DomainName</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/domainnames/{domain_name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteDomainNameRequest"
      },
      "name": "DeleteDomainName"
    },
    "DeleteGatewayResponse": {
      "documentation": "<p>Clears any customization of a <a>GatewayResponse</a> of a specified response type on the given <a>RestApi</a> and resets it with the default settings.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteGatewayResponseRequest"
      },
      "name": "DeleteGatewayResponse"
    },
    "DeleteIntegration": {
      "documentation": "<p>Represents a delete integration.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationRequest"
      },
      "name": "DeleteIntegration"
    },
    "DeleteIntegrationResponse": {
      "documentation": "<p>Represents a delete integration response.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationResponseRequest"
      },
      "name": "DeleteIntegrationResponse"
    },
    "DeleteMethod": {
      "documentation": "<p>Deletes an existing <a>Method</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMethodRequest"
      },
      "name": "DeleteMethod"
    },
    "DeleteMethodResponse": {
      "documentation": "<p>Deletes an existing <a>MethodResponse</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMethodResponseRequest"
      },
      "name": "DeleteMethodResponse"
    },
    "DeleteModel": {
      "documentation": "<p>Deletes a model.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "name": "DeleteModel"
    },
    "DeleteRequestValidator": {
      "documentation": "<p>Deletes a <a>RequestValidator</a> of a given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/requestvalidators/{requestvalidator_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteRequestValidatorRequest"
      },
      "name": "DeleteRequestValidator"
    },
    "DeleteResource": {
      "documentation": "<p>Deletes a <a>Resource</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteResourceRequest"
      },
      "name": "DeleteResource"
    },
    "DeleteRestApi": {
      "documentation": "<p>Deletes the specified API.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteRestApiRequest"
      },
      "name": "DeleteRestApi"
    },
    "DeleteStage": {
      "documentation": "<p>Deletes a <a>Stage</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteStageRequest"
      },
      "name": "DeleteStage"
    },
    "DeleteUsagePlan": {
      "documentation": "<p>Deletes a usage plan of a given plan Id.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/usageplans/{usageplanId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteUsagePlanRequest"
      },
      "name": "DeleteUsagePlan"
    },
    "DeleteUsagePlanKey": {
      "documentation": "<p>Deletes a usage plan key and remove the underlying API key from the associated usage plan.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/usageplans/{usageplanId}/keys/{keyId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteUsagePlanKeyRequest"
      },
      "name": "DeleteUsagePlanKey"
    },
    "DeleteVpcLink": {
      "documentation": "<p>Deletes an existing <a>VpcLink</a> of a specified identifier.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/vpclinks/{vpclink_id}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteVpcLinkRequest"
      },
      "name": "DeleteVpcLink"
    },
    "FlushStageAuthorizersCache": {
      "documentation": "<p>Flushes all authorizer cache entries on a stage.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/cache/authorizers",
        "responseCode": 202
      },
      "input": {
        "shape": "FlushStageAuthorizersCacheRequest"
      },
      "name": "FlushStageAuthorizersCache"
    },
    "FlushStageCache": {
      "documentation": "<p>Flushes a stage's cache.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/cache/data",
        "responseCode": 202
      },
      "input": {
        "shape": "FlushStageCacheRequest"
      },
      "name": "FlushStageCache"
    },
    "GenerateClientCertificate": {
      "documentation": "<p>Generates a <a>ClientCertificate</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/clientcertificates",
        "responseCode": 201
      },
      "input": {
        "shape": "GenerateClientCertificateRequest"
      },
      "name": "GenerateClientCertificate",
      "output": {
        "shape": "ClientCertificate"
      }
    },
    "GetAccount": {
      "documentation": "<p>Gets information about the current <a>Account</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/account"
      },
      "input": {
        "shape": "GetAccountRequest"
      },
      "name": "GetAccount",
      "output": {
        "shape": "Account"
      }
    },
    "GetApiKey": {
      "documentation": "<p>Gets information about the current <a>ApiKey</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apikeys/{api_Key}"
      },
      "input": {
        "shape": "GetApiKeyRequest"
      },
      "name": "GetApiKey",
      "output": {
        "shape": "ApiKey"
      }
    },
    "GetApiKeys": {
      "documentation": "<p>Gets information about the current <a>ApiKeys</a> resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apikeys"
      },
      "input": {
        "shape": "GetApiKeysRequest"
      },
      "name": "GetApiKeys",
      "output": {
        "shape": "ApiKeys"
      }
    },
    "GetAuthorizer": {
      "documentation": "<p>Describe an existing <a>Authorizer</a> resource.</p> <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-authorizer.html\">AWS CLI</a></div>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}"
      },
      "input": {
        "shape": "GetAuthorizerRequest"
      },
      "name": "GetAuthorizer",
      "output": {
        "shape": "Authorizer"
      }
    },
    "GetAuthorizers": {
      "documentation": "<p>Describe an existing <a>Authorizers</a> resource.</p> <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-authorizers.html\">AWS CLI</a></div>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/authorizers"
      },
      "input": {
        "shape": "GetAuthorizersRequest"
      },
      "name": "GetAuthorizers",
      "output": {
        "shape": "Authorizers"
      }
    },
    "GetBasePathMapping": {
      "documentation": "<p>Describe a <a>BasePathMapping</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames/{domain_name}/basepathmappings/{base_path}"
      },
      "input": {
        "shape": "GetBasePathMappingRequest"
      },
      "name": "GetBasePathMapping",
      "output": {
        "shape": "BasePathMapping"
      }
    },
    "GetBasePathMappings": {
      "documentation": "<p>Represents a collection of <a>BasePathMapping</a> resources.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames/{domain_name}/basepathmappings"
      },
      "input": {
        "shape": "GetBasePathMappingsRequest"
      },
      "name": "GetBasePathMappings",
      "output": {
        "shape": "BasePathMappings"
      }
    },
    "GetClientCertificate": {
      "documentation": "<p>Gets information about the current <a>ClientCertificate</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/clientcertificates/{clientcertificate_id}"
      },
      "input": {
        "shape": "GetClientCertificateRequest"
      },
      "name": "GetClientCertificate",
      "output": {
        "shape": "ClientCertificate"
      }
    },
    "GetClientCertificates": {
      "documentation": "<p>Gets a collection of <a>ClientCertificate</a> resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/clientcertificates"
      },
      "input": {
        "shape": "GetClientCertificatesRequest"
      },
      "name": "GetClientCertificates",
      "output": {
        "shape": "ClientCertificates"
      }
    },
    "GetDeployment": {
      "documentation": "<p>Gets information about a <a>Deployment</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/deployments/{deployment_id}"
      },
      "input": {
        "shape": "GetDeploymentRequest"
      },
      "name": "GetDeployment",
      "output": {
        "shape": "Deployment"
      }
    },
    "GetDeployments": {
      "documentation": "<p>Gets information about a <a>Deployments</a> collection.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/deployments"
      },
      "input": {
        "shape": "GetDeploymentsRequest"
      },
      "name": "GetDeployments",
      "output": {
        "shape": "Deployments"
      }
    },
    "GetDocumentationPart": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/parts/{part_id}"
      },
      "input": {
        "shape": "GetDocumentationPartRequest"
      },
      "name": "GetDocumentationPart",
      "output": {
        "shape": "DocumentationPart"
      }
    },
    "GetDocumentationParts": {
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/parts"
      },
      "input": {
        "shape": "GetDocumentationPartsRequest"
      },
      "name": "GetDocumentationParts",
      "output": {
        "shape": "DocumentationParts"
      }
    },
    "GetDocumentationVersion": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/versions/{doc_version}"
      },
      "input": {
        "shape": "GetDocumentationVersionRequest"
      },
      "name": "GetDocumentationVersion",
      "output": {
        "shape": "DocumentationVersion"
      }
    },
    "GetDocumentationVersions": {
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/documentation/versions"
      },
      "input": {
        "shape": "GetDocumentationVersionsRequest"
      },
      "name": "GetDocumentationVersions",
      "output": {
        "shape": "DocumentationVersions"
      }
    },
    "GetDomainName": {
      "documentation": "<p>Represents a domain name that is contained in a simpler, more intuitive URL that can be called.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames/{domain_name}"
      },
      "input": {
        "shape": "GetDomainNameRequest"
      },
      "name": "GetDomainName",
      "output": {
        "shape": "DomainName"
      }
    },
    "GetDomainNames": {
      "documentation": "<p>Represents a collection of <a>DomainName</a> resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/domainnames"
      },
      "input": {
        "shape": "GetDomainNamesRequest"
      },
      "name": "GetDomainNames",
      "output": {
        "shape": "DomainNames"
      }
    },
    "GetExport": {
      "documentation": "<p>Exports a deployed version of a <a>RestApi</a> in a specified format.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/exports/{export_type}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetExportRequest"
      },
      "name": "GetExport",
      "output": {
        "shape": "ExportResponse"
      }
    },
    "GetGatewayResponse": {
      "documentation": "<p>Gets a <a>GatewayResponse</a> of a specified response type on the given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}"
      },
      "input": {
        "shape": "GetGatewayResponseRequest"
      },
      "name": "GetGatewayResponse",
      "output": {
        "shape": "GatewayResponse"
      }
    },
    "GetGatewayResponses": {
      "documentation": "<p>Gets the <a>GatewayResponses</a> collection on the given <a>RestApi</a>. If an API developer has not added any definitions for gateway responses, the result will be the API Gateway-generated default <a>GatewayResponses</a> collection for the supported response types.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses"
      },
      "input": {
        "shape": "GetGatewayResponsesRequest"
      },
      "name": "GetGatewayResponses",
      "output": {
        "shape": "GatewayResponses"
      }
    },
    "GetIntegration": {
      "documentation": "<p>Get the integration settings.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input": {
        "shape": "GetIntegrationRequest"
      },
      "name": "GetIntegration",
      "output": {
        "shape": "Integration"
      }
    },
    "GetIntegrationResponse": {
      "documentation": "<p>Represents a get integration response.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}"
      },
      "input": {
        "shape": "GetIntegrationResponseRequest"
      },
      "name": "GetIntegrationResponse",
      "output": {
        "shape": "IntegrationResponse"
      }
    },
    "GetMethod": {
      "documentation": "<p>Describe an existing <a>Method</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input": {
        "shape": "GetMethodRequest"
      },
      "name": "GetMethod",
      "output": {
        "shape": "Method"
      }
    },
    "GetMethodResponse": {
      "documentation": "<p>Describes a <a>MethodResponse</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}"
      },
      "input": {
        "shape": "GetMethodResponseRequest"
      },
      "name": "GetMethodResponse",
      "output": {
        "shape": "MethodResponse"
      }
    },
    "GetModel": {
      "documentation": "<p>Describes an existing model defined for a <a>RestApi</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}"
      },
      "input": {
        "shape": "GetModelRequest"
      },
      "name": "GetModel",
      "output": {
        "shape": "Model"
      }
    },
    "GetModelTemplate": {
      "documentation": "<p>Generates a sample mapping template that can be used to transform a payload into the structure of a model.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}/default_template"
      },
      "input": {
        "shape": "GetModelTemplateRequest"
      },
      "name": "GetModelTemplate",
      "output": {
        "shape": "Template"
      }
    },
    "GetModels": {
      "documentation": "<p>Describes existing <a>Models</a> defined for a <a>RestApi</a> resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/models"
      },
      "input": {
        "shape": "GetModelsRequest"
      },
      "name": "GetModels",
      "output": {
        "shape": "Models"
      }
    },
    "GetRequestValidator": {
      "documentation": "<p>Gets a <a>RequestValidator</a> of a given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/requestvalidators/{requestvalidator_id}"
      },
      "input": {
        "shape": "GetRequestValidatorRequest"
      },
      "name": "GetRequestValidator",
      "output": {
        "shape": "RequestValidator"
      }
    },
    "GetRequestValidators": {
      "documentation": "<p>Gets the <a>RequestValidators</a> collection of a given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/requestvalidators"
      },
      "input": {
        "shape": "GetRequestValidatorsRequest"
      },
      "name": "GetRequestValidators",
      "output": {
        "shape": "RequestValidators"
      }
    },
    "GetResource": {
      "documentation": "<p>Lists information about a resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}"
      },
      "input": {
        "shape": "GetResourceRequest"
      },
      "name": "GetResource",
      "output": {
        "shape": "Resource"
      }
    },
    "GetResources": {
      "documentation": "<p>Lists information about a collection of <a>Resource</a> resources.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/resources"
      },
      "input": {
        "shape": "GetResourcesRequest"
      },
      "name": "GetResources",
      "output": {
        "shape": "Resources"
      }
    },
    "GetRestApi": {
      "documentation": "<p>Lists the <a>RestApi</a> resource in the collection.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}"
      },
      "input": {
        "shape": "GetRestApiRequest"
      },
      "name": "GetRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "GetRestApis": {
      "documentation": "<p>Lists the <a>RestApis</a> resources for your collection.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis"
      },
      "input": {
        "shape": "GetRestApisRequest"
      },
      "name": "GetRestApis",
      "output": {
        "shape": "RestApis"
      }
    },
    "GetSdk": {
      "documentation": "<p>Generates a client SDK for a <a>RestApi</a> and <a>Stage</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}/sdks/{sdk_type}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSdkRequest"
      },
      "name": "GetSdk",
      "output": {
        "shape": "SdkResponse"
      }
    },
    "GetSdkType": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sdktypes/{sdktype_id}"
      },
      "input": {
        "shape": "GetSdkTypeRequest"
      },
      "name": "GetSdkType",
      "output": {
        "shape": "SdkType"
      }
    },
    "GetSdkTypes": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/sdktypes"
      },
      "input": {
        "shape": "GetSdkTypesRequest"
      },
      "name": "GetSdkTypes",
      "output": {
        "shape": "SdkTypes"
      }
    },
    "GetStage": {
      "documentation": "<p>Gets information about a <a>Stage</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}"
      },
      "input": {
        "shape": "GetStageRequest"
      },
      "name": "GetStage",
      "output": {
        "shape": "Stage"
      }
    },
    "GetStages": {
      "documentation": "<p>Gets information about one or more <a>Stage</a> resources.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/restapis/{restapi_id}/stages"
      },
      "input": {
        "shape": "GetStagesRequest"
      },
      "name": "GetStages",
      "output": {
        "shape": "Stages"
      }
    },
    "GetTags": {
      "documentation": "<p>Gets the <a>Tags</a> collection for a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource_arn}"
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "shape": "Tags"
      }
    },
    "GetUsage": {
      "documentation": "<p>Gets the usage data of a usage plan in a specified time interval.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}/usage"
      },
      "input": {
        "shape": "GetUsageRequest"
      },
      "name": "GetUsage",
      "output": {
        "shape": "Usage"
      }
    },
    "GetUsagePlan": {
      "documentation": "<p>Gets a usage plan of a given plan identifier.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}"
      },
      "input": {
        "shape": "GetUsagePlanRequest"
      },
      "name": "GetUsagePlan",
      "output": {
        "shape": "UsagePlan"
      }
    },
    "GetUsagePlanKey": {
      "documentation": "<p>Gets a usage plan key of a given key identifier.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}/keys/{keyId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUsagePlanKeyRequest"
      },
      "name": "GetUsagePlanKey",
      "output": {
        "shape": "UsagePlanKey"
      }
    },
    "GetUsagePlanKeys": {
      "documentation": "<p>Gets all the usage plan keys representing the API keys added to a specified usage plan.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans/{usageplanId}/keys"
      },
      "input": {
        "shape": "GetUsagePlanKeysRequest"
      },
      "name": "GetUsagePlanKeys",
      "output": {
        "shape": "UsagePlanKeys"
      }
    },
    "GetUsagePlans": {
      "documentation": "<p>Gets all the usage plans of the caller's account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/usageplans"
      },
      "input": {
        "shape": "GetUsagePlansRequest"
      },
      "name": "GetUsagePlans",
      "output": {
        "shape": "UsagePlans"
      }
    },
    "GetVpcLink": {
      "documentation": "<p>Gets a specified VPC link under the caller's account in a region.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/vpclinks/{vpclink_id}"
      },
      "input": {
        "shape": "GetVpcLinkRequest"
      },
      "name": "GetVpcLink",
      "output": {
        "shape": "VpcLink"
      }
    },
    "GetVpcLinks": {
      "documentation": "<p>Gets the <a>VpcLinks</a> collection under the caller's account in a selected region.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/vpclinks"
      },
      "input": {
        "shape": "GetVpcLinksRequest"
      },
      "name": "GetVpcLinks",
      "output": {
        "shape": "VpcLinks"
      }
    },
    "ImportApiKeys": {
      "documentation": "<p>Import API keys from an external source, such as a CSV-formatted file.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apikeys?mode=import",
        "responseCode": 201
      },
      "input": {
        "shape": "ImportApiKeysRequest"
      },
      "name": "ImportApiKeys",
      "output": {
        "shape": "ApiKeyIds"
      }
    },
    "ImportDocumentationParts": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/documentation/parts"
      },
      "input": {
        "shape": "ImportDocumentationPartsRequest"
      },
      "name": "ImportDocumentationParts",
      "output": {
        "shape": "DocumentationPartIds"
      }
    },
    "ImportRestApi": {
      "documentation": "<p>A feature of the API Gateway control service for creating a new API from an external API definition file.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis?mode=import",
        "responseCode": 201
      },
      "input": {
        "shape": "ImportRestApiRequest"
      },
      "name": "ImportRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "PutGatewayResponse": {
      "documentation": "<p>Creates a customization of a <a>GatewayResponse</a> of a specified response type and status code on the given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutGatewayResponseRequest"
      },
      "name": "PutGatewayResponse",
      "output": {
        "shape": "GatewayResponse"
      }
    },
    "PutIntegration": {
      "documentation": "<p>Sets up a method's integration.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration",
        "responseCode": 201
      },
      "input": {
        "shape": "PutIntegrationRequest"
      },
      "name": "PutIntegration",
      "output": {
        "shape": "Integration"
      }
    },
    "PutIntegrationResponse": {
      "documentation": "<p>Represents a put integration.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutIntegrationResponseRequest"
      },
      "name": "PutIntegrationResponse",
      "output": {
        "shape": "IntegrationResponse"
      }
    },
    "PutMethod": {
      "documentation": "<p>Add a method to an existing <a>Resource</a> resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutMethodRequest"
      },
      "name": "PutMethod",
      "output": {
        "shape": "Method"
      }
    },
    "PutMethodResponse": {
      "documentation": "<p>Adds a <a>MethodResponse</a> to an existing <a>Method</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}",
        "responseCode": 201
      },
      "input": {
        "shape": "PutMethodResponseRequest"
      },
      "name": "PutMethodResponse",
      "output": {
        "shape": "MethodResponse"
      }
    },
    "PutRestApi": {
      "documentation": "<p>A feature of the API Gateway control service for updating an existing API with an input of external API definitions. The update can take the form of merging the supplied definition into the existing API or overwriting the existing API.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/restapis/{restapi_id}"
      },
      "input": {
        "shape": "PutRestApiRequest"
      },
      "name": "PutRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds or updates a tag on a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/tags/{resource_arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "TestInvokeAuthorizer": {
      "documentation": "<p>Simulate the execution of an <a>Authorizer</a> in your <a>RestApi</a> with headers, parameters, and an incoming request body.</p> <div class=\"seeAlso\"> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html\">Use Lambda Function as Authorizer</a> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html\">Use Cognito User Pool as Authorizer</a> </div>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}"
      },
      "input": {
        "shape": "TestInvokeAuthorizerRequest"
      },
      "name": "TestInvokeAuthorizer",
      "output": {
        "shape": "TestInvokeAuthorizerResponse"
      }
    },
    "TestInvokeMethod": {
      "documentation": "<p>Simulate the execution of a <a>Method</a> in your <a>RestApi</a> with headers, parameters, and an incoming request body.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input": {
        "shape": "TestInvokeMethodRequest"
      },
      "name": "TestInvokeMethod",
      "output": {
        "shape": "TestInvokeMethodResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from a given resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource_arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAccount": {
      "documentation": "<p>Changes information about the current <a>Account</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/account"
      },
      "input": {
        "shape": "UpdateAccountRequest"
      },
      "name": "UpdateAccount",
      "output": {
        "shape": "Account"
      }
    },
    "UpdateApiKey": {
      "documentation": "<p>Changes information about an <a>ApiKey</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/apikeys/{api_Key}"
      },
      "input": {
        "shape": "UpdateApiKeyRequest"
      },
      "name": "UpdateApiKey",
      "output": {
        "shape": "ApiKey"
      }
    },
    "UpdateAuthorizer": {
      "documentation": "<p>Updates an existing <a>Authorizer</a> resource.</p> <div class=\"seeAlso\"><a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/update-authorizer.html\">AWS CLI</a></div>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/authorizers/{authorizer_id}"
      },
      "input": {
        "shape": "UpdateAuthorizerRequest"
      },
      "name": "UpdateAuthorizer",
      "output": {
        "shape": "Authorizer"
      }
    },
    "UpdateBasePathMapping": {
      "documentation": "<p>Changes information about the <a>BasePathMapping</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/domainnames/{domain_name}/basepathmappings/{base_path}"
      },
      "input": {
        "shape": "UpdateBasePathMappingRequest"
      },
      "name": "UpdateBasePathMapping",
      "output": {
        "shape": "BasePathMapping"
      }
    },
    "UpdateClientCertificate": {
      "documentation": "<p>Changes information about an <a>ClientCertificate</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/clientcertificates/{clientcertificate_id}"
      },
      "input": {
        "shape": "UpdateClientCertificateRequest"
      },
      "name": "UpdateClientCertificate",
      "output": {
        "shape": "ClientCertificate"
      }
    },
    "UpdateDeployment": {
      "documentation": "<p>Changes information about a <a>Deployment</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/deployments/{deployment_id}"
      },
      "input": {
        "shape": "UpdateDeploymentRequest"
      },
      "name": "UpdateDeployment",
      "output": {
        "shape": "Deployment"
      }
    },
    "UpdateDocumentationPart": {
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/documentation/parts/{part_id}"
      },
      "input": {
        "shape": "UpdateDocumentationPartRequest"
      },
      "name": "UpdateDocumentationPart",
      "output": {
        "shape": "DocumentationPart"
      }
    },
    "UpdateDocumentationVersion": {
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/documentation/versions/{doc_version}"
      },
      "input": {
        "shape": "UpdateDocumentationVersionRequest"
      },
      "name": "UpdateDocumentationVersion",
      "output": {
        "shape": "DocumentationVersion"
      }
    },
    "UpdateDomainName": {
      "documentation": "<p>Changes information about the <a>DomainName</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/domainnames/{domain_name}"
      },
      "input": {
        "shape": "UpdateDomainNameRequest"
      },
      "name": "UpdateDomainName",
      "output": {
        "shape": "DomainName"
      }
    },
    "UpdateGatewayResponse": {
      "documentation": "<p>Updates a <a>GatewayResponse</a> of a specified response type on the given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/gatewayresponses/{response_type}"
      },
      "input": {
        "shape": "UpdateGatewayResponseRequest"
      },
      "name": "UpdateGatewayResponse",
      "output": {
        "shape": "GatewayResponse"
      }
    },
    "UpdateIntegration": {
      "documentation": "<p>Represents an update integration.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration"
      },
      "input": {
        "shape": "UpdateIntegrationRequest"
      },
      "name": "UpdateIntegration",
      "output": {
        "shape": "Integration"
      }
    },
    "UpdateIntegrationResponse": {
      "documentation": "<p>Represents an update integration response.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/integration/responses/{status_code}"
      },
      "input": {
        "shape": "UpdateIntegrationResponseRequest"
      },
      "name": "UpdateIntegrationResponse",
      "output": {
        "shape": "IntegrationResponse"
      }
    },
    "UpdateMethod": {
      "documentation": "<p>Updates an existing <a>Method</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}"
      },
      "input": {
        "shape": "UpdateMethodRequest"
      },
      "name": "UpdateMethod",
      "output": {
        "shape": "Method"
      }
    },
    "UpdateMethodResponse": {
      "documentation": "<p>Updates an existing <a>MethodResponse</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}/methods/{http_method}/responses/{status_code}",
        "responseCode": 201
      },
      "input": {
        "shape": "UpdateMethodResponseRequest"
      },
      "name": "UpdateMethodResponse",
      "output": {
        "shape": "MethodResponse"
      }
    },
    "UpdateModel": {
      "documentation": "<p>Changes information about a model.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/models/{model_name}"
      },
      "input": {
        "shape": "UpdateModelRequest"
      },
      "name": "UpdateModel",
      "output": {
        "shape": "Model"
      }
    },
    "UpdateRequestValidator": {
      "documentation": "<p>Updates a <a>RequestValidator</a> of a given <a>RestApi</a>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/requestvalidators/{requestvalidator_id}"
      },
      "input": {
        "shape": "UpdateRequestValidatorRequest"
      },
      "name": "UpdateRequestValidator",
      "output": {
        "shape": "RequestValidator"
      }
    },
    "UpdateResource": {
      "documentation": "<p>Changes information about a <a>Resource</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/resources/{resource_id}"
      },
      "input": {
        "shape": "UpdateResourceRequest"
      },
      "name": "UpdateResource",
      "output": {
        "shape": "Resource"
      }
    },
    "UpdateRestApi": {
      "documentation": "<p>Changes information about the specified API.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}"
      },
      "input": {
        "shape": "UpdateRestApiRequest"
      },
      "name": "UpdateRestApi",
      "output": {
        "shape": "RestApi"
      }
    },
    "UpdateStage": {
      "documentation": "<p>Changes information about a <a>Stage</a> resource.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/restapis/{restapi_id}/stages/{stage_name}"
      },
      "input": {
        "shape": "UpdateStageRequest"
      },
      "name": "UpdateStage",
      "output": {
        "shape": "Stage"
      }
    },
    "UpdateUsage": {
      "documentation": "<p>Grants a temporary extension to the remaining quota of a usage plan associated with a specified API key.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/usageplans/{usageplanId}/keys/{keyId}/usage"
      },
      "input": {
        "shape": "UpdateUsageRequest"
      },
      "name": "UpdateUsage",
      "output": {
        "shape": "Usage"
      }
    },
    "UpdateUsagePlan": {
      "documentation": "<p>Updates a usage plan of a given plan Id.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/usageplans/{usageplanId}"
      },
      "input": {
        "shape": "UpdateUsagePlanRequest"
      },
      "name": "UpdateUsagePlan",
      "output": {
        "shape": "UsagePlan"
      }
    },
    "UpdateVpcLink": {
      "documentation": "<p>Updates an existing <a>VpcLink</a> of a specified identifier.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/vpclinks/{vpclink_id}"
      },
      "input": {
        "shape": "UpdateVpcLinkRequest"
      },
      "name": "UpdateVpcLink",
      "output": {
        "shape": "VpcLink"
      }
    }
  },
  "shapes": {
    "AccessLogSettings": {
      "documentation": "<p>Access log settings, including the access log format and access log destination ARN.</p>",
      "members": {
        "destinationArn": {
          "documentation": "<p>The ARN of the CloudWatch Logs log group to receive access logs.</p>",
          "shape": "String"
        },
        "format": {
          "documentation": "<p>A single line format of the access logs of data, as specified by selected <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-mapping-template-reference.html#context-variable-reference\">$context variables</a>. The format must include at least <code>$context.requestId</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Account": {
      "documentation": "<p>Represents an AWS account that is associated with API Gateway.</p> <div class=\"remarks\"> <p>To view the account info, call <code>GET</code> on this resource.</p> <h4>Error Codes</h4> <p>The following exception may be thrown when the request fails.</p> <ul> <li>UnauthorizedException</li> <li>NotFoundException</li> <li>TooManyRequestsException</li> </ul> <p>For detailed error code information, including the corresponding HTTP Status Codes, see <a href=\"https://docs.aws.amazon.com/apigateway/api-reference/handling-errors/#api-error-codes\">API Gateway Error Codes</a></p> <h4>Example: Get the information about an account.</h4> <h5>Request</h5> <pre><code>GET /account HTTP/1.1 Content-Type: application/json Host: apigateway.us-east-1.amazonaws.com X-Amz-Date: 20160531T184618Z Authorization: AWS4-HMAC-SHA256 Credential={access_key_ID}/us-east-1/apigateway/aws4_request, SignedHeaders=content-type;host;x-amz-date, Signature={sig4_hash} </code></pre> <h5>Response</h5> <p>The successful response returns a <code>200 OK</code> status code and a payload similar to the following:</p> <pre><code>{ \"_links\": { \"curies\": { \"href\": \"https://docs.aws.amazon.com/apigateway/latest/developerguide/account-apigateway-{rel}.html\", \"name\": \"account\", \"templated\": true }, \"self\": { \"href\": \"/account\" }, \"account:update\": { \"href\": \"/account\" } }, \"cloudwatchRoleArn\": \"arn:aws:iam::123456789012:role/apigAwsProxyRole\", \"throttleSettings\": { \"rateLimit\": 500, \"burstLimit\": 1000 } } </code></pre> <p>In addition to making the REST API call directly, you can use the AWS CLI and an AWS SDK to access this resource.</p> </div> <div class=\"seeAlso\"> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/api-gateway-limits.html\">API Gateway Limits</a> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/welcome.html\">Developer Guide</a>, <a href=\"https://docs.aws.amazon.com/cli/latest/reference/apigateway/get-account.html\">AWS CLI</a> </div>",
      "members": {
        "apiKeyVersion": {
          "documentation": "<p>The version of the API keys used for the account.</p>",
          "shape": "String"
        },
        "cloudwatchRoleArn": {
          "documentation": "<p>The ARN of an Amazon CloudWatch role for the current <a>Account</a>. </p>",
          "shape": "String"
        },
        "features": {
          "documentation": "<p>A list of features supported for the account. When usage plans are enabled, the features list will include an entry of <code>\"UsagePlans\"</code>.</p>",
          "shape": "ListOfString"
        },
        "throttleSettings": {
          "documentation": "<p>Specifies the API request limits configured for the current <a>Account</a>.</p>",
          "shape": "ThrottleSettings"
        }
      },
      "type": "structure"
    },
    "ApiKey": {
      "documentation": "<p>A resource that can be distributed to callers for executing <a>Method</a> resources that require an API key. API keys can be mapped to any <a>Stage</a> on any <a>RestApi</a>, which indicates that the callers with the API key can make requests to that stage.</p> <div class=\"seeAlso\"> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use API Keys</a> </div>",
      "members": {
        "createdDate": {
          "documentation": "<p>The timestamp when the API Key was created.</p>",
          "shape": "Timestamp"
        },
        "customerId": {
          "documentation": "<p>An AWS Marketplace customer identifier , when integrating with the AWS SaaS Marketplace.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The description of the API Key.</p>",
          "shape": "String"
        },
        "enabled": {
          "documentation": "<p>Specifies whether the API Key can be used by callers.</p>",
          "shape": "Boolean"
        },
        "id": {
          "documentation": "<p>The identifier of the API Key.</p>",
          "shape": "String"
        },
        "lastUpdatedDate": {
          "documentation": "<p>The timestamp when the API Key was last updated.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the API Key.</p>",
          "shape": "String"
        },
        "stageKeys": {
          "documentation": "<p>A list of <a>Stage</a> resources that are associated with the <a>ApiKey</a> resource.</p>",
          "shape": "ListOfString"
        },
        "tags": {
          "documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>",
          "shape": "MapOfStringToString"
        },
        "value": {
          "documentation": "<p>The value of the API Key.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApiKeyIds": {
      "documentation": "<p>The identifier of an <a>ApiKey</a> used in a <a>UsagePlan</a>.</p>",
      "members": {
        "ids": {
          "documentation": "<p>A list of all the <a>ApiKey</a> identifiers.</p>",
          "shape": "ListOfString"
        },
        "warnings": {
          "documentation": "<p>A list of warning messages.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "ApiKeySourceType": {
      "enum": [
        "HEADER",
        "AUTHORIZER"
      ],
      "type": "string"
    },
    "ApiKeys": {
      "documentation": "<p>Represents a collection of API keys as represented by an <a>ApiKeys</a> resource.</p> <div class=\"seeAlso\"> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/how-to-api-keys.html\">Use API Keys</a> </div>",
      "members": {
        "items": {
          "documentation": "<p>The current page of elements from this collection.</p>",
          "locationName": "item",
          "shape": "ListOfApiKey"
        },
        "position": {
          "shape": "String"
        },
        "warnings": {
          "documentation": "<p>A list of warning messages logged during the import of API keys when the <code>failOnWarnings</code> option is set to true.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "ApiKeysFormat": {
      "enum": [
        "csv"
      ],
      "type": "string"
    },
    "ApiStage": {
      "documentation": "<p>API stage name of the associated API stage in a usage plan.</p>",
      "members": {
        "apiId": {
          "documentation": "<p>API Id of the associated API stage in a usage plan.</p>",
          "shape": "String"
        },
        "stage": {
          "documentation": "<p>API stage name of the associated API stage in a usage plan.</p>",
          "shape": "String"
        },
        "throttle": {
          "documentation": "<p>Map containing method level throttling information for API stage in a usage plan.</p>",
          "shape": "MapOfApiStageThrottleSettings"
        }
      },
      "type": "structure"
    },
    "Authorizer": {
      "documentation": "<p>Represents an authorization layer for methods. If enabled on a method, API Gateway will activate the authorizer when a client calls the method.</p> <div class=\"seeAlso\"> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-use-lambda-authorizer.html\">Use Lambda Function as Authorizer</a> <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-integrate-with-cognito.html\">Use Cognito User Pool as Authorizer</a> </div>",
      "members": {
        "authType": {
          "documentation": "<p>Optional customer-defined field, used in OpenAPI imports and exports without functional impact.</p>",
          "shape": "String"
        },
        "authorizerCredentials": {
          "documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null.</p>",
          "shape": "String"
        },
        "authorizerResultTtlInSeconds": {
          "documentation": "<p>The TTL in seconds of cached authorizer results. If it equals 0, authorization caching is disabled. If it is greater than 0, API Gateway will cache authorizer responses. If this field is not set, the default value is 300. The maximum value is 3600, or 1 hour.</p>",
          "shape": "NullableInteger"
        },
        "authorizerUri": {
          "documentation": "<p>Specifies the authorizer's Uniform Resource Identifier (URI). For <code>TOKEN</code> or <code>REQUEST</code> authorizers, this must be a well-formed Lambda function URI, for example, <code>arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:{account_id}:function:{lambda_function_name}/invocations</code>. In general, the URI has this form <code>arn:aws:apigateway:{region}:lambda:path/{service_api}</code>, where <code>{region}</code> is the same as the region hosting the Lambda function, <code>path</code> indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial <code>/</code>. For Lambda functions, this is usually of the form <code>/2015-03-31/functions/[FunctionARN]/invocations</code>.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The identifier for the authorizer resource.</p>",
          "shape": "String"
        },
        "identitySource": {
          "documentation": "<p>The identity source for which authorization is requested. <ul><li>For a <code>TOKEN</code> or <code>COGNITO_USER_POOLS</code> authorizer, this is required and specifies the request header mapping expression for the custom header holding the authorization token submitted by the client. For example, if the token header name is <code>Auth</code>, the header mapping expression is <code>method.request.header.Auth</code>.</li><li>For the <code>REQUEST</code> authorizer, this is required when authorization caching is enabled. The value is a comma-separated string of one or more mapping expressions of the specified request parameters. For example, if an <code>Auth</code> header, a <code>Name</code> query string parameter are defined as identity sources, this value is <code>method.request.header.Auth, method.request.querystring.Name</code>. These parameters will be used to derive the authorization caching key and to perform runtime validation of the <code>REQUEST</code> authorizer by verifying all of the identity-related request parameters are present, not null and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function, otherwise, it returns a 401 Unauthorized response without calling the Lambda function. The valid value is a string of comma-separated mapping expressions of the specified request parameters. When the authorization caching is not enabled, this property is optional.</li></ul></p>",
          "shape": "String"
        },
        "identityValidationExpression": {
          "documentation": "<p>A validation expression for the incoming identity token. For <code>TOKEN</code> authorizers, this value is a regular expression. For <code>COGNITO_USER_POOLS</code> authorizers, API Gateway will match the <code>aud</code> field of the incoming token from the client against the specified regular expression. It will invoke the authorizer's Lambda function when there is a match. Otherwise, it will return a 401 Unauthorized response without calling the Lambda function. The validation expression does not apply to the <code>REQUEST</code> authorizer.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>[Required] The name of the authorizer.</p>",
          "shape": "String"
        },
        "providerARNs": {
          "documentation": "<p>A list of the Amazon Cognito user pool ARNs for the <code>COGNITO_USER_POOLS</code> authorizer. Each element is of this format: <code>arn:aws:cognito-idp:{region}:{account_id}:userpool/{user_pool_id}</code>. For a <code>TOKEN</code> or <code>REQUEST</code> authorizer, this is not defined. </p>",
          "shape": "ListOfARNs"
        },
        "type": {
          "documentation": "<p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>",
          "shape": "AuthorizerType"
        }
      },
      "type": "structure"
    },
    "AuthorizerType": {
      "documentation": "<p>The authorizer type. Valid values are <code>TOKEN</code> for a Lambda function using a single authorization token submitted in a custom header, <code>REQUEST</code> for a Lambda function using incoming request parameters, and <code>COGNITO_USER_POOLS</code> for using an Amazon Cognito user pool.</p>",
      "enum": [
        "TOKEN",
        "REQUEST",
        "COGNITO_USER_POOLS"
      ],
      "type": "string"
    },
    "Authorizers": {
[...]
