{
  "documentation": "<p>Amazon Comprehend is an AWS service for gaining insight into the content of documents. Use these actions to determine the topics contained in your documents, the topics they discuss, the predominant sentiment expressed in them, the predominant language used, and more.</p>",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "comprehend",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Comprehend",
    "serviceId": "Comprehend",
    "signatureVersion": "v4",
    "signingName": "comprehend",
    "targetPrefix": "Comprehend_20171127",
    "uid": "comprehend-2017-11-27"
  },
  "operations": {
    "BatchDetectDominantLanguage": {
      "documentation": "<p>Determines the dominant language of the input text for a batch of documents. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectDominantLanguageRequest"
      },
      "name": "BatchDetectDominantLanguage",
      "output": {
        "shape": "BatchDetectDominantLanguageResponse"
      }
    },
    "BatchDetectEntities": {
      "documentation": "<p>Inspects the text of a batch of documents for named entities and returns information about them. For more information about named entities, see <a>how-entities</a> </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectEntitiesRequest"
      },
      "name": "BatchDetectEntities",
      "output": {
        "shape": "BatchDetectEntitiesResponse"
      }
    },
    "BatchDetectKeyPhrases": {
      "documentation": "<p>Detects the key noun phrases found in a batch of documents.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectKeyPhrasesRequest"
      },
      "name": "BatchDetectKeyPhrases",
      "output": {
        "shape": "BatchDetectKeyPhrasesResponse"
      }
    },
    "BatchDetectSentiment": {
      "documentation": "<p>Inspects a batch of documents and returns an inference of the prevailing sentiment, <code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>, in each one.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectSentimentRequest"
      },
      "name": "BatchDetectSentiment",
      "output": {
        "shape": "BatchDetectSentimentResponse"
      }
    },
    "BatchDetectSyntax": {
      "documentation": "<p>Inspects the text of a batch of documents for the syntax and part of speech of the words in the document and returns information about them. For more information, see <a>how-syntax</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "BatchSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDetectSyntaxRequest"
      },
      "name": "BatchDetectSyntax",
      "output": {
        "shape": "BatchDetectSyntaxResponse"
      }
    },
    "ClassifyDocument": {
      "documentation": "<p>Creates a new document classification request to analyze a single document in real-time, using a previously created and trained custom model and an endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ClassifyDocumentRequest"
      },
      "name": "ClassifyDocument",
      "output": {
        "shape": "ClassifyDocumentResponse"
      }
    },
    "CreateDocumentClassifier": {
      "documentation": "<p>Creates a new document classifier that you can use to categorize documents. To create a classifier you provide a set of training documents that labeled with the categories that you want to use. After the classifier is trained you can use it to categorize a set of labeled documents into the categories. For more information, see <a>how-document-classification</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDocumentClassifierRequest"
      },
      "name": "CreateDocumentClassifier",
      "output": {
        "shape": "CreateDocumentClassifierResponse"
      }
    },
    "CreateEndpoint": {
      "documentation": "<p>Creates a model-specific endpoint for synchronous inference for a previously trained custom model </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointRequest"
      },
      "name": "CreateEndpoint",
      "output": {
        "shape": "CreateEndpointResponse"
      }
    },
    "CreateEntityRecognizer": {
      "documentation": "<p>Creates an entity recognizer using submitted files. After your <code>CreateEntityRecognizer</code> request is submitted, you can check job status using the API. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEntityRecognizerRequest"
      },
      "name": "CreateEntityRecognizer",
      "output": {
        "shape": "CreateEntityRecognizerResponse"
      }
    },
    "DeleteDocumentClassifier": {
      "documentation": "<p>Deletes a previously created document classifier</p> <p>Only those classifiers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the classifier into a DELETING state, and it is then removed by a background job. Once removed, the classifier disappears from your account and is no longer available for use. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDocumentClassifierRequest"
      },
      "name": "DeleteDocumentClassifier",
      "output": {
        "shape": "DeleteDocumentClassifierResponse"
      }
    },
    "DeleteEndpoint": {
      "documentation": "<p>Deletes a model-specific endpoint for a previously-trained custom model. All endpoints must be deleted in order for the model to be deleted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointRequest"
      },
      "name": "DeleteEndpoint",
      "output": {
        "shape": "DeleteEndpointResponse"
      }
    },
    "DeleteEntityRecognizer": {
      "documentation": "<p>Deletes an entity recognizer.</p> <p>Only those recognizers that are in terminated states (IN_ERROR, TRAINED) will be deleted. If an active inference job is using the model, a <code>ResourceInUseException</code> will be returned.</p> <p>This is an asynchronous action that puts the recognizer into a DELETING state, and it is then removed by a background job. Once removed, the recognizer disappears from your account and is no longer available for use. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEntityRecognizerRequest"
      },
      "name": "DeleteEntityRecognizer",
      "output": {
        "shape": "DeleteEntityRecognizerResponse"
      }
    },
    "DescribeDocumentClassificationJob": {
      "documentation": "<p>Gets the properties associated with a document classification job. Use this operation to get the status of a classification job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentClassificationJobRequest"
      },
      "name": "DescribeDocumentClassificationJob",
      "output": {
        "shape": "DescribeDocumentClassificationJobResponse"
      }
    },
    "DescribeDocumentClassifier": {
      "documentation": "<p>Gets the properties associated with a document classifier.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDocumentClassifierRequest"
      },
      "name": "DescribeDocumentClassifier",
      "output": {
        "shape": "DescribeDocumentClassifierResponse"
      }
    },
    "DescribeDominantLanguageDetectionJob": {
      "documentation": "<p>Gets the properties associated with a dominant language detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDominantLanguageDetectionJobRequest"
      },
      "name": "DescribeDominantLanguageDetectionJob",
      "output": {
        "shape": "DescribeDominantLanguageDetectionJobResponse"
      }
    },
    "DescribeEndpoint": {
      "documentation": "<p>Gets the properties associated with a specific endpoint. Use this operation to get the status of an endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointRequest"
      },
      "name": "DescribeEndpoint",
      "output": {
        "shape": "DescribeEndpointResponse"
      }
    },
    "DescribeEntitiesDetectionJob": {
      "documentation": "<p>Gets the properties associated with an entities detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEntitiesDetectionJobRequest"
      },
      "name": "DescribeEntitiesDetectionJob",
      "output": {
        "shape": "DescribeEntitiesDetectionJobResponse"
      }
    },
    "DescribeEntityRecognizer": {
      "documentation": "<p>Provides details about an entity recognizer including status, S3 buckets containing training data, recognizer metadata, metrics, and so on.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEntityRecognizerRequest"
      },
      "name": "DescribeEntityRecognizer",
      "output": {
        "shape": "DescribeEntityRecognizerResponse"
      }
    },
    "DescribeKeyPhrasesDetectionJob": {
      "documentation": "<p>Gets the properties associated with a key phrases detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeKeyPhrasesDetectionJobRequest"
      },
      "name": "DescribeKeyPhrasesDetectionJob",
      "output": {
        "shape": "DescribeKeyPhrasesDetectionJobResponse"
      }
    },
    "DescribeSentimentDetectionJob": {
      "documentation": "<p>Gets the properties associated with a sentiment detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSentimentDetectionJobRequest"
      },
      "name": "DescribeSentimentDetectionJob",
      "output": {
        "shape": "DescribeSentimentDetectionJobResponse"
      }
    },
    "DescribeTopicsDetectionJob": {
      "documentation": "<p>Gets the properties associated with a topic detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTopicsDetectionJobRequest"
      },
      "name": "DescribeTopicsDetectionJob",
      "output": {
        "shape": "DescribeTopicsDetectionJobResponse"
      }
    },
    "DetectDominantLanguage": {
      "documentation": "<p>Determines the dominant language of the input text. For a list of languages that Amazon Comprehend can detect, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/how-languages.html\">Amazon Comprehend Supported Languages</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectDominantLanguageRequest"
      },
      "name": "DetectDominantLanguage",
      "output": {
        "shape": "DetectDominantLanguageResponse"
      }
    },
    "DetectEntities": {
      "documentation": "<p>Inspects text for named entities, and returns information about them. For more information, about named entities, see <a>how-entities</a>. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectEntitiesRequest"
      },
      "name": "DetectEntities",
      "output": {
        "shape": "DetectEntitiesResponse"
      }
    },
    "DetectKeyPhrases": {
      "documentation": "<p>Detects the key noun phrases found in the text. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectKeyPhrasesRequest"
      },
      "name": "DetectKeyPhrases",
      "output": {
        "shape": "DetectKeyPhrasesResponse"
      }
    },
    "DetectSentiment": {
      "documentation": "<p>Inspects text and returns an inference of the prevailing sentiment (<code>POSITIVE</code>, <code>NEUTRAL</code>, <code>MIXED</code>, or <code>NEGATIVE</code>). </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectSentimentRequest"
      },
      "name": "DetectSentiment",
      "output": {
        "shape": "DetectSentimentResponse"
      }
    },
    "DetectSyntax": {
      "documentation": "<p>Inspects text for syntax and the part of speech of words in the document. For more information, <a>how-syntax</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        },
        {
          "shape": "UnsupportedLanguageException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectSyntaxRequest"
      },
      "name": "DetectSyntax",
      "output": {
        "shape": "DetectSyntaxResponse"
      }
    },
    "ListDocumentClassificationJobs": {
      "documentation": "<p>Gets a list of the documentation classification jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentClassificationJobsRequest"
      },
      "name": "ListDocumentClassificationJobs",
      "output": {
        "shape": "ListDocumentClassificationJobsResponse"
      }
    },
    "ListDocumentClassifiers": {
      "documentation": "<p>Gets a list of the document classifiers that you have created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDocumentClassifiersRequest"
      },
      "name": "ListDocumentClassifiers",
      "output": {
        "shape": "ListDocumentClassifiersResponse"
      }
    },
    "ListDominantLanguageDetectionJobs": {
      "documentation": "<p>Gets a list of the dominant language detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDominantLanguageDetectionJobsRequest"
      },
      "name": "ListDominantLanguageDetectionJobs",
      "output": {
        "shape": "ListDominantLanguageDetectionJobsResponse"
      }
    },
    "ListEndpoints": {
      "documentation": "<p>Gets a list of all existing endpoints that you've created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointsRequest"
      },
      "name": "ListEndpoints",
      "output": {
        "shape": "ListEndpointsResponse"
      }
    },
    "ListEntitiesDetectionJobs": {
      "documentation": "<p>Gets a list of the entity detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntitiesDetectionJobsRequest"
      },
      "name": "ListEntitiesDetectionJobs",
      "output": {
        "shape": "ListEntitiesDetectionJobsResponse"
      }
    },
    "ListEntityRecognizers": {
      "documentation": "<p>Gets a list of the properties of all entity recognizers that you created, including recognizers currently in training. Allows you to filter the list of recognizers based on criteria such as status and submission time. This call returns up to 500 entity recognizers in the list, with a default number of 100 recognizers in the list.</p> <p>The results of this list are not in any particular order. Please get the list and sort locally if needed.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntityRecognizersRequest"
      },
      "name": "ListEntityRecognizers",
      "output": {
        "shape": "ListEntityRecognizersResponse"
      }
    },
    "ListKeyPhrasesDetectionJobs": {
      "documentation": "<p>Get a list of key phrase detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListKeyPhrasesDetectionJobsRequest"
      },
      "name": "ListKeyPhrasesDetectionJobs",
      "output": {
        "shape": "ListKeyPhrasesDetectionJobsResponse"
      }
    },
    "ListSentimentDetectionJobs": {
      "documentation": "<p>Gets a list of sentiment detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSentimentDetectionJobsRequest"
      },
      "name": "ListSentimentDetectionJobs",
      "output": {
        "shape": "ListSentimentDetectionJobsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with a given Amazon Comprehend resource. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTopicsDetectionJobs": {
      "documentation": "<p>Gets a list of the topic detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidFilterException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTopicsDetectionJobsRequest"
      },
      "name": "ListTopicsDetectionJobs",
      "output": {
        "shape": "ListTopicsDetectionJobsResponse"
      }
    },
    "StartDocumentClassificationJob": {
      "documentation": "<p>Starts an asynchronous document classification job. Use the operation to track the progress of the job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDocumentClassificationJobRequest"
      },
      "name": "StartDocumentClassificationJob",
      "output": {
        "shape": "StartDocumentClassificationJobResponse"
      }
    },
    "StartDominantLanguageDetectionJob": {
      "documentation": "<p>Starts an asynchronous dominant language detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDominantLanguageDetectionJobRequest"
      },
      "name": "StartDominantLanguageDetectionJob",
      "output": {
        "shape": "StartDominantLanguageDetectionJobResponse"
      }
    },
    "StartEntitiesDetectionJob": {
      "documentation": "<p>Starts an asynchronous entity detection job for a collection of documents. Use the operation to track the status of a job.</p> <p>This API can be used for either standard entity detection or custom entity recognition. In order to be used for custom entity recognition, the optional <code>EntityRecognizerArn</code> must be used in order to provide access to the recognizer being used to detect the custom entity.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartEntitiesDetectionJobRequest"
      },
      "name": "StartEntitiesDetectionJob",
      "output": {
        "shape": "StartEntitiesDetectionJobResponse"
      }
    },
    "StartKeyPhrasesDetectionJob": {
      "documentation": "<p>Starts an asynchronous key phrase detection job for a collection of documents. Use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartKeyPhrasesDetectionJobRequest"
      },
      "name": "StartKeyPhrasesDetectionJob",
      "output": {
        "shape": "StartKeyPhrasesDetectionJobResponse"
      }
    },
    "StartSentimentDetectionJob": {
      "documentation": "<p>Starts an asynchronous sentiment detection job for a collection of documents. use the operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartSentimentDetectionJobRequest"
      },
      "name": "StartSentimentDetectionJob",
      "output": {
        "shape": "StartSentimentDetectionJobResponse"
      }
    },
    "StartTopicsDetectionJob": {
      "documentation": "<p>Starts an asynchronous topic detection job. Use the <code>DescribeTopicDetectionJob</code> operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "KmsKeyValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartTopicsDetectionJobRequest"
      },
      "name": "StartTopicsDetectionJob",
      "output": {
        "shape": "StartTopicsDetectionJobResponse"
      }
    },
    "StopDominantLanguageDetectionJob": {
      "documentation": "<p>Stops a dominant language detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDominantLanguageDetectionJobRequest"
      },
      "name": "StopDominantLanguageDetectionJob",
      "output": {
        "shape": "StopDominantLanguageDetectionJobResponse"
      }
    },
    "StopEntitiesDetectionJob": {
      "documentation": "<p>Stops an entities detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopEntitiesDetectionJobRequest"
      },
      "name": "StopEntitiesDetectionJob",
      "output": {
        "shape": "StopEntitiesDetectionJobResponse"
      }
    },
    "StopKeyPhrasesDetectionJob": {
      "documentation": "<p>Stops a key phrases detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopKeyPhrasesDetectionJobRequest"
      },
      "name": "StopKeyPhrasesDetectionJob",
      "output": {
        "shape": "StopKeyPhrasesDetectionJobResponse"
      }
    },
    "StopSentimentDetectionJob": {
      "documentation": "<p>Stops a sentiment detection job in progress.</p> <p>If the job state is <code>IN_PROGRESS</code> the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the job completes before it can be stopped, it is put into the <code>COMPLETED</code> state; otherwise the job is be stopped and put into the <code>STOPPED</code> state.</p> <p>If the job is in the <code>COMPLETED</code> or <code>FAILED</code> state when you call the <code>StopDominantLanguageDetectionJob</code> operation, the operation returns a 400 Internal Request Exception. </p> <p>When a job is stopped, any documents already processed are written to the output location.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopSentimentDetectionJobRequest"
      },
      "name": "StopSentimentDetectionJob",
      "output": {
        "shape": "StopSentimentDetectionJobResponse"
      }
    },
    "StopTrainingDocumentClassifier": {
      "documentation": "<p>Stops a document classifier training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and put into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTrainingDocumentClassifierRequest"
      },
      "name": "StopTrainingDocumentClassifier",
      "output": {
        "shape": "StopTrainingDocumentClassifierResponse"
      }
    },
    "StopTrainingEntityRecognizer": {
      "documentation": "<p>Stops an entity recognizer training job while in progress.</p> <p>If the training job state is <code>TRAINING</code>, the job is marked for termination and put into the <code>STOP_REQUESTED</code> state. If the training job completes before it can be stopped, it is put into the <code>TRAINED</code>; otherwise the training job is stopped and putted into the <code>STOPPED</code> state and the service sends back an HTTP 200 response with an empty HTTP body.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTrainingEntityRecognizerRequest"
      },
      "name": "StopTrainingEntityRecognizer",
      "output": {
        "shape": "StopTrainingEntityRecognizerResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a specific tag with an Amazon Comprehend resource. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a specific tag associated with an Amazon Comprehend resource. </p>",
      "errors": [
        {
          "shape": "TooManyTagKeysException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateEndpoint": {
      "documentation": "<p>Updates information about the specified endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEndpointRequest"
      },
      "name": "UpdateEndpoint",
      "output": {
        "shape": "UpdateEndpointResponse"
      }
    }
  },
  "shapes": {
    "AnyLengthString": {
      "type": "string"
    },
    "BatchDetectDominantLanguageItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "Languages": {
          "documentation": "<p>One or more <a>DominantLanguage</a> objects describing the dominant languages in the document.</p>",
          "shape": "ListOfDominantLanguages"
        }
      },
      "type": "structure"
    },
    "BatchDetectDominantLanguageRequest": {
      "members": {
        "TextList": {
          "documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document should contain at least 20 characters and must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "TextList"
      ],
      "type": "structure"
    },
    "BatchDetectDominantLanguageResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectDominantLanguageResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "structure"
    },
    "BatchDetectEntitiesItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Entities": {
          "documentation": "<p>One or more <a>Entity</a> objects, one for each entity detected in the document.</p>",
          "shape": "ListOfEntities"
        },
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchDetectEntitiesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectEntitiesResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectEntitiesResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "structure"
    },
    "BatchDetectKeyPhrasesItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "KeyPhrases": {
          "documentation": "<p>One or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.</p>",
          "shape": "ListOfKeyPhrases"
        }
      },
      "type": "structure"
    },
    "BatchDetectKeyPhrasesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectKeyPhrasesResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectKeyPhrasesResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "structure"
    },
    "BatchDetectSentimentItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object for each document that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "Sentiment": {
          "documentation": "<p>The sentiment detected in the document.</p>",
          "shape": "SentimentType"
        },
        "SentimentScore": {
          "documentation": "<p>The level of confidence that Amazon Comprehend has in the accuracy of its sentiment detection.</p>",
          "shape": "SentimentScore"
        }
      },
      "type": "structure"
    },
    "BatchDetectSentimentRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectSentimentResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectSentimentResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "structure"
    },
    "BatchDetectSyntaxItemResult": {
      "documentation": "<p>The result of calling the operation. The operation returns one object that is successfully processed by the operation.</p>",
      "members": {
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        },
        "SyntaxTokens": {
          "documentation": "<p>The syntax tokens for the words in the document, one token for each word.</p>",
          "shape": "ListOfSyntaxTokens"
        }
      },
      "type": "structure"
    },
    "BatchDetectSyntaxRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
          "shape": "SyntaxLanguageCode"
        },
        "TextList": {
          "documentation": "<p>A list containing the text of the input documents. The list can contain a maximum of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "TextList",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "BatchDetectSyntaxResponse": {
      "members": {
        "ErrorList": {
          "documentation": "<p>A list containing one object for each document that contained an error. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code> is empty.</p>",
          "shape": "BatchItemErrorList"
        },
        "ResultList": {
          "documentation": "<p>A list of objects containing the results of the operation. The results are sorted in ascending order by the <code>Index</code> field and match the order of the documents in the input list. If all of the documents contain an error, the <code>ResultList</code> is empty.</p>",
          "shape": "ListOfDetectSyntaxResult"
        }
      },
      "required": [
        "ResultList",
        "ErrorList"
      ],
      "type": "structure"
    },
    "BatchItemError": {
      "documentation": "<p>Describes an error that occurred while processing a document in a batch. The operation returns on <code>BatchItemError</code> object for each document that contained an error.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The numeric error code of the error.</p>",
          "shape": "String"
        },
        "ErrorMessage": {
          "documentation": "<p>A text description of the error.</p>",
          "shape": "String"
        },
        "Index": {
          "documentation": "<p>The zero-based index of the document in the input list.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchItemErrorList": {
      "member": {
        "shape": "BatchItemError"
      },
      "type": "list"
    },
    "BatchSizeLimitExceededException": {
      "documentation": "<p>The number of documents in the request exceeds the limit of 25. Try your request again with fewer documents.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ClassifierEvaluationMetrics": {
      "documentation": "<p>Describes the result metrics for the test data associated with an documentation classifier.</p>",
      "members": {
        "Accuracy": {
          "documentation": "<p>The fraction of the labels that were correct recognized. It is computed by dividing the number of labels in the test documents that were correctly recognized by the total number of labels in the test documents.</p>",
          "shape": "Double"
        },
        "F1Score": {
          "documentation": "<p>A measure of how accurate the classifier results are for the test data. It is derived from the <code>Precision</code> and <code>Recall</code> values. The <code>F1Score</code> is the harmonic average of the two scores. The highest score is 1, and the worst score is 0. </p>",
          "shape": "Double"
        },
        "HammingLoss": {
          "documentation": "<p>Indicates the fraction of labels that are incorrectly predicted. Also seen as the fraction of wrong labels compared to the total number of labels. Scores closer to zero are better.</p>",
          "shape": "Double"
        },
        "MicroF1Score": {
          "documentation": "<p>A measure of how accurate the classifier results are for the test data. It is a combination of the <code>Micro Precision</code> and <code>Micro Recall</code> values. The <code>Micro F1Score</code> is the harmonic mean of the two scores. The highest score is 1, and the worst score is 0.</p>",
          "shape": "Double"
        },
        "MicroPrecision": {
          "documentation": "<p>A measure of the usefulness of the recognizer results in the test data. High precision means that the recognizer returned substantially more relevant results than irrelevant ones. Unlike the Precision metric which comes from averaging the precision of all available labels, this is based on the overall score of all precision scores added together.</p>",
          "shape": "Double"
        },
        "MicroRecall": {
          "documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. Specifically, this indicates how many of the correct categories in the text that the model can predict. It is a percentage of correct categories in the text that can found. Instead of averaging the recall scores of all labels (as with Recall), micro Recall is based on the overall score of all recall scores added together.</p>",
          "shape": "Double"
        },
        "Precision": {
          "documentation": "<p>A measure of the usefulness of the classifier results in the test data. High precision means that the classifier returned substantially more relevant results than irrelevant ones.</p>",
          "shape": "Double"
        },
        "Recall": {
          "documentation": "<p>A measure of how complete the classifier results are for the test data. High recall means that the classifier returned most of the relevant results. </p>",
          "shape": "Double"
        }
      },
      "type": "structure"
    },
    "ClassifierMetadata": {
      "documentation": "<p>Provides information about a document classifier.</p>",
      "members": {
        "EvaluationMetrics": {
          "documentation": "<p> Describes the result metrics for the test data associated with an documentation classifier.</p>",
          "shape": "ClassifierEvaluationMetrics"
        },
        "NumberOfLabels": {
          "documentation": "<p>The number of labels in the input data. </p>",
          "shape": "Integer"
        },
        "NumberOfTestDocuments": {
          "documentation": "<p>The number of documents in the input data that were used to test the classifier. Typically this is 10 to 20 percent of the input documents.</p>",
          "shape": "Integer"
        },
        "NumberOfTrainedDocuments": {
          "documentation": "<p>The number of documents in the input data that were used to train the classifier. Typically this is 80 to 90 percent of the input documents.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "ClassifyDocumentRequest": {
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the endpoint.</p>",
          "shape": "DocumentClassifierEndpointArn"
        },
        "Text": {
          "documentation": "<p>The document text to be analyzed.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text",
        "EndpointArn"
      ],
      "type": "structure"
    },
    "ClassifyDocumentResponse": {
      "members": {
        "Classes": {
          "documentation": "<p>The classes used by the document being analyzed. These are used for multi-class trained models. Individual classes are mutually exclusive and each document is expected to have only a single class assigned to it. For example, an animal can be a dog or a cat, but not both at the same time. </p>",
          "shape": "ListOfClasses"
        },
        "Labels": {
          "documentation": "<p>The labels used the document being analyzed. These are used for multi-label trained models. Individual labels represent different categories that are related in some manner and are not multually exclusive. For example, a movie can be just an action movie, or it can be an action movie, a science fiction movie, and a comedy, all at the same time. </p>",
          "shape": "ListOfLabels"
        }
      },
      "type": "structure"
    },
    "ClientRequestTokenString": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "ComprehendArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:[a-zA-Z0-9-]{1,64}/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "ComprehendArnName": {
      "max": 63,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "ComprehendEndpointArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier-endpoint/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "ComprehendEndpointName": {
      "max": 40,
      "pattern": "^[a-zA-Z0-9](-*[a-zA-Z0-9])*$",
      "type": "string"
    },
    "ComprehendModelArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Concurrent modification of the tags associated with an Amazon Comprehend resource is not supported. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateDocumentClassifierRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "DocumentClassifierName": {
          "documentation": "<p>The name of the document classifier.</p>",
          "shape": "ComprehendArnName"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input data for the job.</p>",
          "shape": "DocumentClassifierInputDataConfig"
        },
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\"). All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "Mode": {
          "documentation": "<p>Indicates the mode in which the classifier will be trained. The classifier can be trained in multi-class mode, which identifies one and only one class for each document, or multi-label mode, which identifies one or more labels for each document. In multi-label mode, multiple labels for an individual document are separated by a delimiter. The default delimiter between labels is a pipe (|).</p>",
          "shape": "DocumentClassifierMode"
        },
        "OutputDataConfig": {
          "documentation": "<p>Enables the addition of output results configuration parameters for custom classifier jobs.</p>",
          "shape": "DocumentClassifierOutputDataConfig"
        },
        "Tags": {
          "documentation": "<p>Tags to be associated with the document classifier being created. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>",
          "shape": "TagList"
        },
        "VolumeKmsKeyId": {
          "documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt data on the storage volume attached to the ML compute instance(s) that process the analysis job. The VolumeKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>",
          "shape": "KmsKeyId"
        },
        "VpcConfig": {
          "documentation": "<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing the resources you are using for your custom classifier. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon VPC</a>. </p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "DocumentClassifierName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "CreateDocumentClassifierResponse": {
      "members": {
        "DocumentClassifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier.</p>",
          "shape": "DocumentClassifierArn"
        }
      },
      "type": "structure"
    },
    "CreateEndpointRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>An idempotency token provided by the customer. If this token matches a previous endpoint creation request, Amazon Comprehend will not return a <code>ResourceInUseException</code>. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DesiredInferenceUnits": {
          "documentation": "<p> The desired number of inference units to be used by the model using this endpoint. Each inference unit represents of a throughput of 100 characters per second.</p>",
          "shape": "InferenceUnitsInteger"
        },
        "EndpointName": {
          "documentation": "<p>This is the descriptive suffix that becomes part of the <code>EndpointArn</code> used for all subsequent requests to this resource. </p>",
          "shape": "ComprehendEndpointName"
        },
        "ModelArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the model to which the endpoint will be attached.</p>",
          "shape": "ComprehendModelArn"
        },
        "Tags": {
          "documentation": "<p>Tags associated with the endpoint being created. A tag is a key-value pair that adds metadata to the endpoint. For example, a tag with \"Sales\" as the key might be added to an endpoint to indicate its use by the sales department. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "EndpointName",
        "ModelArn",
        "DesiredInferenceUnits"
      ],
      "type": "structure"
    },
    "CreateEndpointResponse": {
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being created.</p>",
          "shape": "ComprehendEndpointArn"
        }
      },
      "type": "structure"
    },
    "CreateEntityRecognizerRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p> A unique identifier for the request. If you don't set the client request token, Amazon Comprehend generates one.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input data. The S3 bucket containing the input data must be located in the same region as the entity recognizer being created. </p>",
          "shape": "EntityRecognizerInputDataConfig"
        },
        "LanguageCode": {
          "documentation": "<p> The language of the input documents. All documents must be in the same language. Only English (\"en\") is currently supported. </p>",
          "shape": "LanguageCode"
        },
        "RecognizerName": {
          "documentation": "<p>The name given to the newly created recognizer. Recognizer names can be a maximum of 256 characters. Alphanumeric characters, hyphens (-) and underscores (_) are allowed. The name must be unique in the account/region.</p>",
          "shape": "ComprehendArnName"
        },
        "Tags": {
          "documentation": "<p>Tags to be associated with the entity recognizer being created. A tag is a key-value pair that adds as a metadata to a resource used by Amazon Comprehend. For example, a tag with \"Sales\" as the key might be added to a resource to indicate its use by the sales department. </p>",
          "shape": "TagList"
        },
        "VolumeKmsKeyId": {
          "documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt data on the storage volume attached to the ML compute instance(s) that process the analysis job. The VolumeKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>",
          "shape": "KmsKeyId"
        },
        "VpcConfig": {
          "documentation": "<p>Configuration parameters for an optional private Virtual Private Cloud (VPC) containing the resources you are using for your custom entity recognizer. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon VPC</a>. </p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "RecognizerName",
        "DataAccessRoleArn",
        "InputDataConfig",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "CreateEntityRecognizerResponse": {
      "members": {
        "EntityRecognizerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>",
          "shape": "EntityRecognizerArn"
        }
      },
      "type": "structure"
    },
    "DeleteDocumentClassifierRequest": {
      "members": {
        "DocumentClassifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier. </p>",
          "shape": "DocumentClassifierArn"
        }
      },
      "required": [
        "DocumentClassifierArn"
      ],
      "type": "structure"
    },
    "DeleteDocumentClassifierResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteEndpointRequest": {
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being deleted.</p>",
          "shape": "ComprehendEndpointArn"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DeleteEndpointResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteEntityRecognizerRequest": {
      "members": {
        "EntityRecognizerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>",
          "shape": "EntityRecognizerArn"
        }
      },
      "required": [
        "EntityRecognizerArn"
      ],
      "type": "structure"
    },
    "DeleteEntityRecognizerResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeDocumentClassificationJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeDocumentClassificationJobResponse": {
      "members": {
        "DocumentClassificationJobProperties": {
          "documentation": "<p>An object that describes the properties associated with the document classification job.</p>",
          "shape": "DocumentClassificationJobProperties"
        }
      },
      "type": "structure"
    },
    "DescribeDocumentClassifierRequest": {
      "members": {
        "DocumentClassifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier. The operation returns this identifier in its response.</p>",
          "shape": "DocumentClassifierArn"
        }
      },
      "required": [
        "DocumentClassifierArn"
      ],
      "type": "structure"
    },
    "DescribeDocumentClassifierResponse": {
      "members": {
        "DocumentClassifierProperties": {
          "documentation": "<p>An object that contains the properties associated with a document classifier.</p>",
          "shape": "DocumentClassifierProperties"
        }
      },
      "type": "structure"
    },
    "DescribeDominantLanguageDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeDominantLanguageDetectionJobResponse": {
      "members": {
        "DominantLanguageDetectionJobProperties": {
          "documentation": "<p>An object that contains the properties associated with a dominant language detection job.</p>",
          "shape": "DominantLanguageDetectionJobProperties"
        }
      },
      "type": "structure"
    },
    "DescribeEndpointRequest": {
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the endpoint being described.</p>",
          "shape": "ComprehendEndpointArn"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DescribeEndpointResponse": {
      "members": {
        "EndpointProperties": {
          "documentation": "<p>Describes information associated with the specific endpoint.</p>",
          "shape": "EndpointProperties"
        }
      },
      "type": "structure"
    },
    "DescribeEntitiesDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeEntitiesDetectionJobResponse": {
      "members": {
        "EntitiesDetectionJobProperties": {
          "documentation": "<p>An object that contains the properties associated with an entities detection job.</p>",
          "shape": "EntitiesDetectionJobProperties"
        }
      },
      "type": "structure"
    },
    "DescribeEntityRecognizerRequest": {
      "members": {
        "EntityRecognizerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the entity recognizer.</p>",
          "shape": "EntityRecognizerArn"
        }
      },
      "required": [
        "EntityRecognizerArn"
      ],
      "type": "structure"
    },
    "DescribeEntityRecognizerResponse": {
      "members": {
        "EntityRecognizerProperties": {
          "documentation": "<p>Describes information associated with an entity recognizer.</p>",
          "shape": "EntityRecognizerProperties"
        }
      },
      "type": "structure"
    },
    "DescribeKeyPhrasesDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeKeyPhrasesDetectionJobResponse": {
      "members": {
        "KeyPhrasesDetectionJobProperties": {
          "documentation": "<p>An object that contains the properties associated with a key phrases detection job. </p>",
          "shape": "KeyPhrasesDetectionJobProperties"
        }
      },
      "type": "structure"
    },
    "DescribeSentimentDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend generated for the job. The operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeSentimentDetectionJobResponse": {
      "members": {
        "SentimentDetectionJobProperties": {
          "documentation": "<p>An object that contains the properties associated with a sentiment detection job.</p>",
          "shape": "SentimentDetectionJobProperties"
        }
      },
      "type": "structure"
    },
    "DescribeTopicsDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier assigned by the user to the detection job.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeTopicsDetectionJobResponse": {
      "members": {
        "TopicsDetectionJobProperties": {
          "documentation": "<p>The list of properties for the requested job.</p>",
          "shape": "TopicsDetectionJobProperties"
        }
      },
      "type": "structure"
    },
    "DetectDominantLanguageRequest": {
      "members": {
        "Text": {
          "documentation": "<p>A UTF-8 text string. Each string should contain at least 20 characters and must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text"
      ],
      "type": "structure"
    },
    "DetectDominantLanguageResponse": {
      "members": {
        "Languages": {
          "documentation": "<p>The languages that Amazon Comprehend detected in the input text. For each language, the response returns the RFC 5646 language code and the level of confidence that Amazon Comprehend has in the accuracy of its inference. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a> on the <i>IETF Tools</i> web site.</p>",
          "shape": "ListOfDominantLanguages"
        }
      },
      "type": "structure"
    },
    "DetectEntitiesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "Text": {
          "documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "DetectEntitiesResponse": {
      "members": {
        "Entities": {
          "documentation": "<p>A collection of entities identified in the input text. For each entity, the response provides the entity text, entity type, where the entity text begins and ends, and the level of confidence that Amazon Comprehend has in the detection. For a list of entity types, see <a>how-entities</a>. </p>",
          "shape": "ListOfEntities"
        }
      },
      "type": "structure"
    },
    "DetectKeyPhrasesRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "Text": {
          "documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "DetectKeyPhrasesResponse": {
      "members": {
        "KeyPhrases": {
          "documentation": "<p>A collection of key phrases that Amazon Comprehend identified in the input text. For each key phrase, the response provides the text of the key phrase, where the key phrase begins and ends, and the level of confidence that Amazon Comprehend has in the accuracy of the detection. </p>",
          "shape": "ListOfKeyPhrases"
        }
      },
      "type": "structure"
    },
    "DetectSentimentRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. You can specify any of the primary languages supported by Amazon Comprehend. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "Text": {
          "documentation": "<p>A UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "DetectSentimentResponse": {
      "members": {
        "Sentiment": {
          "documentation": "<p>The inferred sentiment that Amazon Comprehend has the highest level of confidence in.</p>",
          "shape": "SentimentType"
        },
        "SentimentScore": {
          "documentation": "<p>An object that lists the sentiments, and their corresponding confidence levels.</p>",
          "shape": "SentimentScore"
        }
      },
      "type": "structure"
    },
    "DetectSyntaxRequest": {
      "members": {
        "LanguageCode": {
          "documentation": "<p>The language code of the input documents. You can specify any of the following languages supported by Amazon Comprehend: German (\"de\"), English (\"en\"), Spanish (\"es\"), French (\"fr\"), Italian (\"it\"), or Portuguese (\"pt\").</p>",
          "shape": "SyntaxLanguageCode"
        },
        "Text": {
          "documentation": "<p>A UTF-8 string. Each string must contain fewer that 5,000 bytes of UTF encoded characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Text",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "DetectSyntaxResponse": {
      "members": {
        "SyntaxTokens": {
          "documentation": "<p>A collection of syntax tokens describing the text. For each token, the response provides the text, the token type, where the text begins and ends, and the level of confidence that Amazon Comprehend has that the token is correct. For a list of token types, see <a>how-syntax</a>.</p>",
          "shape": "ListOfSyntaxTokens"
        }
      },
      "type": "structure"
    },
    "DocumentClass": {
      "documentation": "<p>Specifies the class that categorizes the document being analyzed</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the class.</p>",
          "shape": "String"
        },
        "Score": {
          "documentation": "<p>The confidence score that Amazon Comprehend has this class correctly attributed.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "DocumentClassificationJobFilter": {
      "documentation": "<p>Provides information for filtering a list of document classification jobs. For more information, see the operation. You can provide only one filter parameter in each request.</p>",
      "members": {
        "JobName": {
          "documentation": "<p>Filters on the name of the job.</p>",
          "shape": "JobName"
        },
        "JobStatus": {
          "documentation": "<p>Filters the list based on job status. Returns only jobs with the specified status.</p>",
          "shape": "JobStatus"
        },
        "SubmitTimeAfter": {
          "documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in descending order, newest to oldest.</p>",
          "shape": "Timestamp"
        },
        "SubmitTimeBefore": {
          "documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in ascending order, oldest to newest.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DocumentClassificationJobProperties": {
      "documentation": "<p>Provides information about a document classification job.</p>",
      "members": {
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS identity and Access Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "DocumentClassifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier. </p>",
          "shape": "DocumentClassifierArn"
        },
        "EndTime": {
          "documentation": "<p>The time that the document classification job completed.</p>",
          "shape": "Timestamp"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data configuration that you supplied when you created the document classification job.</p>",
          "shape": "InputDataConfig"
        },
        "JobId": {
          "documentation": "<p>The identifier assigned to the document classification job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The name that you assigned to the document classification job.</p>",
          "shape": "JobName"
        },
        "JobStatus": {
          "documentation": "<p>The current status of the document classification job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure.</p>",
          "shape": "JobStatus"
        },
        "Message": {
          "documentation": "<p>A description of the status of the job.</p>",
          "shape": "AnyLengthString"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output data configuration that you supplied when you created the document classification job.</p>",
          "shape": "OutputDataConfig"
        },
        "SubmitTime": {
          "documentation": "<p>The time that the document classification job was submitted for processing.</p>",
          "shape": "Timestamp"
        },
        "VolumeKmsKeyId": {
          "documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt data on the storage volume attached to the ML compute instance(s) that process the analysis job. The VolumeKmsKeyId can be either of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> </ul>",
          "shape": "KmsKeyId"
        },
        "VpcConfig": {
          "documentation": "<p> Configuration parameters for a private Virtual Private Cloud (VPC) containing the resources you are using for your document classification job. For more information, see <a href=\"https://docs.aws.amazon.com/vpc/latest/userguide/what-is-amazon-vpc.html\">Amazon VPC</a>. </p>",
          "shape": "VpcConfig"
        }
      },
      "type": "structure"
    },
    "DocumentClassificationJobPropertiesList": {
      "member": {
        "shape": "DocumentClassificationJobProperties"
      },
      "type": "list"
    },
    "DocumentClassifierArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "DocumentClassifierEndpointArn": {
      "max": 256,
      "pattern": "arn:aws(-[^:]+)?:comprehend:[a-zA-Z0-9-]*:[0-9]{12}:document-classifier-endpoint/[a-zA-Z0-9](-*[a-zA-Z0-9])*",
      "type": "string"
    },
    "DocumentClassifierFilter": {
      "documentation": "<p>Provides information for filtering a list of document classifiers. You can only specify one filtering parameter in a request. For more information, see the operation.</p>",
      "members": {
        "Status": {
          "documentation": "<p>Filters the list of classifiers based on status. </p>",
          "shape": "ModelStatus"
        },
        "SubmitTimeAfter": {
          "documentation": "<p>Filters the list of classifiers based on the time that the classifier was submitted for processing. Returns only classifiers submitted after the specified time. Classifiers are returned in descending order, newest to oldest.</p>",
          "shape": "Timestamp"
        },
        "SubmitTimeBefore": {
          "documentation": "<p>Filters the list of classifiers based on the time that the classifier was submitted for processing. Returns only classifiers submitted before the specified time. Classifiers are returned in ascending order, oldest to newest.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "DocumentClassifierInputDataConfig": {
      "documentation": "<p>The input properties for training a document classifier. </p> <p>For more information on how the input file is formatted, see <a>how-document-classification-training-data</a>. </p>",
      "members": {
        "LabelDelimiter": {
          "documentation": "<p>Indicates the delimiter used to separate each label for training a multi-label classifier. The default delimiter between labels is a pipe (|). You can use a different character as a delimiter (if it's an allowed character) by specifying it under Delimiter for labels. If the training documents use a delimiter other than the default or the delimiter you specify, the labels on that line will be combined to make a single unique label, such as LABELLABELLABEL.</p>",
          "shape": "LabelDelimiter"
        },
        "S3Uri": {
          "documentation": "<p>The Amazon S3 URI for the input data. The S3 bucket must be in the same region as the API endpoint that you are calling. The URI can point to a single input file or it can provide the prefix for a collection of input files.</p> <p>For example, if you use the URI <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend uses that file as input. If more than one file begins with the prefix, Amazon Comprehend uses all of them as input.</p>",
          "shape": "S3Uri"
        }
      },
      "required": [
        "S3Uri"
      ],
      "type": "structure"
    },
    "DocumentClassifierMode": {
      "enum": [
        "MULTI_CLASS",
        "MULTI_LABEL"
      ],
      "type": "string"
    },
    "DocumentClassifierOutputDataConfig": {
      "documentation": "<p>Provides output results configuration parameters for custom classifier jobs. </p>",
      "members": {
        "KmsKeyId": {
          "documentation": "<p>ID for the AWS Key Management Service (KMS) key that Amazon Comprehend uses to encrypt the output results from an analysis job. The KmsKeyId can be one of the following formats:</p> <ul> <li> <p>KMS Key ID: <code>\"1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>Amazon Resource Name (ARN) of a KMS Key: <code>\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\"</code> </p> </li> <li> <p>KMS Key Alias: <code>\"alias/ExampleAlias\"</code> </p> </li> <li> <p>ARN of a KMS Key Alias: <code>\"arn:aws:kms:us-west-2:111122223333:alias/ExampleAlias\"</code> </p> </li> </ul>",
          "shape": "KmsKeyId"
        },
        "S3Uri": {
          "documentation": "<p>When you use the <code>OutputDataConfig</code> object while creating a custom classifier, you specify the Amazon S3 location where you want to write the confusion matrix. The URI must be in the same region as the API endpoint that you are calling. The location is used as the prefix for the actual location of this output file.</p> <p>When the custom classifier job is finished, the service creates the output file in a directory specific to the job. The <code>S3Uri</code> field contains the location of the output file, called <code>output.tar.gz</code>. It is a compressed archive that contains the confusion matrix.</p>",
          "shape": "S3Uri"
        }
      },
      "type": "structure"
    },
    "DocumentClassifierProperties": {
      "documentation": "<p>Provides information about a document classifier.</p>",
      "members": {
        "ClassifierMetadata": {
          "documentation": "<p>Information about the document classifier, including the number of documents used for training the classifier, the number of documents used for test the classifier, and an accuracy rating.</p>",
          "shape": "ClassifierMetadata"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Management (IAM) role that grants Amazon Comprehend read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "DocumentClassifierArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the document classifier.</p>",
          "shape": "DocumentClassifierArn"
        },
        "EndTime": {
          "documentation": "<p>The time that training the document classifier completed.</p>",
          "shape": "Timestamp"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data configuration that you supplied when you created the document classifier for training.</p>",
          "shape": "DocumentClassifierInputDataConfig"
        },
        "LanguageCode": {
          "documentation": "<p>The language code for the language of the documents that the classifier was trained on.</p>",
          "shape": "LanguageCode"
        },
        "Message": {
          "documentation": "<p>Additional information about the status of the classifier.</p>",
          "shape": "AnyLengthString"
        },
        "Mode": {
          "documentation": "<p>Indicates the mode in which the specific classifier was trained. This also indicates the format of input documents and the format of the confusion matrix. Each classifier can only be trained in one mode and this cannot be changed once the classifier is trained.</p>",
          "shape": "DocumentClassifierMode"
        },
        "OutputDataConfig": {
          "documentation": "<p> Provides output results configuration parameters for custom classifier jobs.</p>",
          "shape": "DocumentClassifierOutputDataConfig"
        },
        "Status": {
          "documentation": "<p>The status of the document classifier. If the status is <code>TRAINED</code> the classifier is ready to use. If the status is <code>FAILED</code> you can see additional information about why the classifier wasn't trained in the <code>Message</code> field.</p>",
          "shape": "ModelStatus"
        },
        "SubmitTime": {
          "documentation": "<p>The time that the document classifier was submitted for training.</p>",
          "shape": "Timestamp"
        },
        "TrainingEndTime": {
          "documentation": "<p>The time that training of the document classifier was completed. Indicates the time when the training completes on documentation classifiers. You are billed for the time interval between this time and the value of TrainingStartTime.</p>",
          "shape": "Timestamp"
        },
        "TrainingStartTime": {
          "documentation": "<p>Indicates the time when the training starts on documentation classifiers. You are billed for the time interval between this time and the value of TrainingEndTime. </p>",
          "shape": "Timestamp"
        },
        "VolumeKmsKeyId": {
[...]
