{
  "documentation": "<p>Amazon Kinesis Data Analytics is a fully managed service that you can use to process and analyze streaming data using SQL or Java. The service enables you to quickly author and run SQL or Java code against streaming sources to perform time series analytics, feed real-time dashboards, and create real-time metrics.</p>",
  "metadata": {
    "apiVersion": "2018-05-23",
    "endpointPrefix": "kinesisanalytics",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Kinesis Analytics V2",
    "serviceFullName": "Amazon Kinesis Analytics",
    "serviceId": "Kinesis Analytics V2",
    "signatureVersion": "v4",
    "signingName": "kinesisanalytics",
    "targetPrefix": "KinesisAnalytics_20180523",
    "uid": "kinesisanalyticsv2-2018-05-23"
  },
  "operations": {
    "AddApplicationCloudWatchLoggingOption": {
      "documentation": "<p>Adds an Amazon CloudWatch log stream to monitor application configuration errors.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationCloudWatchLoggingOptionRequest"
      },
      "name": "AddApplicationCloudWatchLoggingOption",
      "output": {
        "shape": "AddApplicationCloudWatchLoggingOptionResponse"
      }
    },
    "AddApplicationInput": {
      "documentation": "<p> Adds a streaming source to your SQL-based Amazon Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationInputRequest"
      },
      "name": "AddApplicationInput",
      "output": {
        "shape": "AddApplicationInputResponse"
      }
    },
    "AddApplicationInputProcessingConfiguration": {
      "documentation": "<p>Adds an <a>InputProcessingConfiguration</a> to an SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application's SQL code executes. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationInputProcessingConfigurationRequest"
      },
      "name": "AddApplicationInputProcessingConfiguration",
      "output": {
        "shape": "AddApplicationInputProcessingConfigurationResponse"
      }
    },
    "AddApplicationOutput": {
      "documentation": "<p>Adds an external destination to your SQL-based Amazon Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationOutputRequest"
      },
      "name": "AddApplicationOutput",
      "output": {
        "shape": "AddApplicationOutputResponse"
      }
    },
    "AddApplicationReferenceDataSource": {
      "documentation": "<p>Adds a reference data source to an existing SQL-based Amazon Kinesis Data Analytics application.</p> <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in an Amazon S3 object maps to columns in the resulting in-application table.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationReferenceDataSourceRequest"
      },
      "name": "AddApplicationReferenceDataSource",
      "output": {
        "shape": "AddApplicationReferenceDataSourceResponse"
      }
    },
    "AddApplicationVpcConfiguration": {
      "documentation": "<p>Adds a Virtual Private Cloud (VPC) configuration to the application. Applications can use VPCs to store and access resources securely.</p> <p>Note the following about VPC configurations for Kinesis Data Analytics applications:</p> <ul> <li> <p>VPC configurations are not supported for SQL applications.</p> </li> <li> <p>When a VPC is added to a Kinesis Data Analytics application, the application can no longer be accessed from the Internet directly. To enable Internet access to the application, add an Internet gateway to your VPC.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddApplicationVpcConfigurationRequest"
      },
      "name": "AddApplicationVpcConfiguration",
      "output": {
        "shape": "AddApplicationVpcConfigurationResponse"
      }
    },
    "CreateApplication": {
      "documentation": "<p>Creates an Amazon Kinesis Data Analytics application. For information about creating a Kinesis Data Analytics application, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/getting-started.html\">Creating an Application</a>. </p>",
      "errors": [
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResponse"
      }
    },
    "CreateApplicationSnapshot": {
      "documentation": "<p>Creates a snapshot of the application's state data.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationSnapshotRequest"
      },
      "name": "CreateApplicationSnapshot",
      "output": {
        "shape": "CreateApplicationSnapshotResponse"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes the specified application. Kinesis Data Analytics halts application execution and deletes the application.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResponse"
      }
    },
    "DeleteApplicationCloudWatchLoggingOption": {
      "documentation": "<p>Deletes an Amazon CloudWatch log stream from an Amazon Kinesis Data Analytics application. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationCloudWatchLoggingOptionRequest"
      },
      "name": "DeleteApplicationCloudWatchLoggingOption",
      "output": {
        "shape": "DeleteApplicationCloudWatchLoggingOptionResponse"
      }
    },
    "DeleteApplicationInputProcessingConfiguration": {
      "documentation": "<p>Deletes an <a>InputProcessingConfiguration</a> from an input.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationInputProcessingConfigurationRequest"
      },
      "name": "DeleteApplicationInputProcessingConfiguration",
      "output": {
        "shape": "DeleteApplicationInputProcessingConfigurationResponse"
      }
    },
    "DeleteApplicationOutput": {
      "documentation": "<p>Deletes the output destination configuration from your SQL-based Amazon Kinesis Data Analytics application's configuration. Kinesis Data Analytics will no longer write data from the corresponding in-application stream to the external output destination.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationOutputRequest"
      },
      "name": "DeleteApplicationOutput",
      "output": {
        "shape": "DeleteApplicationOutputResponse"
      }
    },
    "DeleteApplicationReferenceDataSource": {
      "documentation": "<p>Deletes a reference data source configuration from the specified SQL-based Amazon Kinesis Data Analytics application's configuration.</p> <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationReferenceDataSourceRequest"
      },
      "name": "DeleteApplicationReferenceDataSource",
      "output": {
        "shape": "DeleteApplicationReferenceDataSourceResponse"
      }
    },
    "DeleteApplicationSnapshot": {
      "documentation": "<p>Deletes a snapshot of application state.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationSnapshotRequest"
      },
      "name": "DeleteApplicationSnapshot",
      "output": {
        "shape": "DeleteApplicationSnapshotResponse"
      }
    },
    "DeleteApplicationVpcConfiguration": {
      "documentation": "<p>Removes a VPC configuration from a Kinesis Data Analytics application.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationVpcConfigurationRequest"
      },
      "name": "DeleteApplicationVpcConfiguration",
      "output": {
        "shape": "DeleteApplicationVpcConfigurationResponse"
      }
    },
    "DescribeApplication": {
      "documentation": "<p>Returns information about a specific Amazon Kinesis Data Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationRequest"
      },
      "name": "DescribeApplication",
      "output": {
        "shape": "DescribeApplicationResponse"
      }
    },
    "DescribeApplicationSnapshot": {
      "documentation": "<p>Returns information about a snapshot of application state data.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationSnapshotRequest"
      },
      "name": "DescribeApplicationSnapshot",
      "output": {
        "shape": "DescribeApplicationSnapshotResponse"
      }
    },
    "DiscoverInputSchema": {
      "documentation": "<p>Infers a schema for an SQL-based Amazon Kinesis Data Analytics application by evaluating sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose delivery stream) or Amazon S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. When you create an application using the Kinesis Data Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnableToDetectSchemaException"
        },
        {
          "shape": "ResourceProvisionedThroughputExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DiscoverInputSchemaRequest"
      },
      "name": "DiscoverInputSchema",
      "output": {
        "shape": "DiscoverInputSchemaResponse"
      }
    },
    "ListApplicationSnapshots": {
      "documentation": "<p>Lists information about the current application snapshots.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationSnapshotsRequest"
      },
      "name": "ListApplicationSnapshots",
      "output": {
        "shape": "ListApplicationSnapshotsResponse"
      }
    },
    "ListApplications": {
      "documentation": "<p>Returns a list of Amazon Kinesis Data Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationsRequest"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves the list of key-value tags assigned to the application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartApplication": {
      "documentation": "<p>Starts the specified Amazon Kinesis Data Analytics application. After creating an application, you must exclusively call this operation to start your application.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartApplicationRequest"
      },
      "name": "StartApplication",
      "output": {
        "shape": "StartApplicationResponse"
      }
    },
    "StopApplication": {
      "documentation": "<p>Stops the application from processing data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopApplicationRequest"
      },
      "name": "StopApplication",
      "output": {
        "shape": "StopApplicationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more key-value tags to a Kinesis Analytics application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a Kinesis Analytics application. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Updates an existing Amazon Kinesis Data Analytics application. Using this operation, you can update application code, input configuration, and output configuration. </p> <p>Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update your application. </p>",
      "errors": [
        {
          "shape": "CodeValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidApplicationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResponse"
      }
    }
  },
  "shapes": {
    "AddApplicationCloudWatchLoggingOptionRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The Kinesis Data Analytics application name.</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOption": {
          "documentation": "<p>Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). </p>",
          "shape": "CloudWatchLoggingOption"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "CloudWatchLoggingOption"
      ],
      "type": "structure"
    },
    "AddApplicationCloudWatchLoggingOptionResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application's ARN.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. </p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.</p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationInputProcessingConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which you want to add the input processing configuration.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.</p>",
          "shape": "Id"
        },
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a>InputProcessingConfiguration</a> to add to the application.</p>",
          "shape": "InputProcessingConfiguration"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId",
        "InputProcessingConfiguration"
      ],
      "type": "structure"
    },
    "AddApplicationInputProcessingConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The input ID that is associated with the application input. This is the ID that Amazon Kinesis Data Analytics assigns to each input configuration that you add to your application.</p>",
          "shape": "Id"
        },
        "InputProcessingConfigurationDescription": {
          "documentation": "<p>The description of the preprocessor that executes on records in this input before the application's code is run.</p>",
          "shape": "InputProcessingConfigurationDescription"
        }
      },
      "type": "structure"
    },
    "AddApplicationInputRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of your existing application to which you want to add the streaming source.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The current version of your application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "Input": {
          "documentation": "<p>The <a>Input</a> to add.</p>",
          "shape": "Input"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Input"
      ],
      "type": "structure"
    },
    "AddApplicationInputResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "InputDescriptions": {
          "documentation": "<p>Describes the application input configuration. </p>",
          "shape": "InputDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationOutputRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to which you want to add the output configuration.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "Output": {
          "documentation": "<p>An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, a Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.</p>",
          "shape": "Output"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "Output"
      ],
      "type": "structure"
    },
    "AddApplicationOutputResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.</p>",
          "shape": "ApplicationVersionId"
        },
        "OutputDescriptions": {
          "documentation": "<p>Describes the application output configuration. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html\">Configuring Application Output</a>. </p>",
          "shape": "OutputDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationReferenceDataSourceRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceDataSource": {
          "documentation": "<p>The reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. </p>",
          "shape": "ReferenceDataSource"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceDataSource"
      ],
      "type": "structure"
    },
    "AddApplicationReferenceDataSourceResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated application version ID. Amazon Kinesis Data Analytics increments this ID when the application is updated.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceDataSourceDescriptions": {
          "documentation": "<p>Describes reference data sources configured for the application. </p>",
          "shape": "ReferenceDataSourceDescriptions"
        }
      },
      "type": "structure"
    },
    "AddApplicationVpcConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "VpcConfiguration": {
          "documentation": "<p>Description of the VPC to add to the application.</p>",
          "shape": "VpcConfiguration"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "VpcConfiguration"
      ],
      "type": "structure"
    },
    "AddApplicationVpcConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version. Kinesis Data Analytics updates the ApplicationVersionId each time you update the application. </p>",
          "shape": "ApplicationVersionId"
        },
        "VpcConfigurationDescription": {
          "documentation": "<p>The parameters of the new VPC configuration.</p>",
          "shape": "VpcConfigurationDescription"
        }
      },
      "type": "structure"
    },
    "ApplicationCodeConfiguration": {
      "documentation": "<p>Describes code configuration for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "CodeContent": {
          "documentation": "<p>The location and type of the application code.</p>",
          "shape": "CodeContent"
        },
        "CodeContentType": {
          "documentation": "<p>Specifies whether the code content is in text or zip format.</p>",
          "shape": "CodeContentType"
        }
      },
      "required": [
        "CodeContentType"
      ],
      "type": "structure"
    },
    "ApplicationCodeConfigurationDescription": {
      "documentation": "<p>Describes code configuration for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "CodeContentDescription": {
          "documentation": "<p>Describes details about the location and format of the application code.</p>",
          "shape": "CodeContentDescription"
        },
        "CodeContentType": {
          "documentation": "<p>Specifies whether the code content is in text or zip format.</p>",
          "shape": "CodeContentType"
        }
      },
      "required": [
        "CodeContentType"
      ],
      "type": "structure"
    },
    "ApplicationCodeConfigurationUpdate": {
      "documentation": "<p>Describes updates to a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "CodeContentTypeUpdate": {
          "documentation": "<p>Describes updates to the code content type.</p>",
          "shape": "CodeContentType"
        },
        "CodeContentUpdate": {
          "documentation": "<p>Describes updates to the code content of an application.</p>",
          "shape": "CodeContentUpdate"
        }
      },
      "type": "structure"
    },
    "ApplicationConfiguration": {
      "documentation": "<p>Specifies the creation parameters for an Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "ApplicationCodeConfiguration": {
          "documentation": "<p>The code location and type parameters for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationCodeConfiguration"
        },
        "ApplicationSnapshotConfiguration": {
          "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationSnapshotConfiguration"
        },
        "EnvironmentProperties": {
          "documentation": "<p>Describes execution properties for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "EnvironmentProperties"
        },
        "FlinkApplicationConfiguration": {
          "documentation": "<p>The creation and update parameters for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "FlinkApplicationConfiguration"
        },
        "SqlApplicationConfiguration": {
          "documentation": "<p>The creation and update parameters for an SQL-based Kinesis Data Analytics application.</p>",
          "shape": "SqlApplicationConfiguration"
        },
        "VpcConfigurations": {
          "documentation": "<p>The array of descriptions of VPC configurations available to the application.</p>",
          "shape": "VpcConfigurations"
        }
      },
      "required": [
        "ApplicationCodeConfiguration"
      ],
      "type": "structure"
    },
    "ApplicationConfigurationDescription": {
      "documentation": "<p>Describes details about the application code and starting parameters for an Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "ApplicationCodeConfigurationDescription": {
          "documentation": "<p>The details about the application code for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationCodeConfigurationDescription"
        },
        "ApplicationSnapshotConfigurationDescription": {
          "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationSnapshotConfigurationDescription"
        },
        "EnvironmentPropertyDescriptions": {
          "documentation": "<p>Describes execution properties for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "EnvironmentPropertyDescriptions"
        },
        "FlinkApplicationConfigurationDescription": {
          "documentation": "<p>The details about a Java-based Kinesis Data Analytics application.</p>",
          "shape": "FlinkApplicationConfigurationDescription"
        },
        "RunConfigurationDescription": {
          "documentation": "<p>The details about the starting properties for a Kinesis Data Analytics application.</p>",
          "shape": "RunConfigurationDescription"
        },
        "SqlApplicationConfigurationDescription": {
          "documentation": "<p>The details about inputs, outputs, and reference data sources for an SQL-based Kinesis Data Analytics application.</p>",
          "shape": "SqlApplicationConfigurationDescription"
        },
        "VpcConfigurationDescriptions": {
          "documentation": "<p>The array of descriptions of VPC configurations available to the application.</p>",
          "shape": "VpcConfigurationDescriptions"
        }
      },
      "type": "structure"
    },
    "ApplicationConfigurationUpdate": {
      "documentation": "<p>Describes updates to an application's configuration.</p>",
      "members": {
        "ApplicationCodeConfigurationUpdate": {
          "documentation": "<p>Describes updates to a Java-based Kinesis Data Analytics application's code configuration.</p>",
          "shape": "ApplicationCodeConfigurationUpdate"
        },
        "ApplicationSnapshotConfigurationUpdate": {
          "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "ApplicationSnapshotConfigurationUpdate"
        },
        "EnvironmentPropertyUpdates": {
          "documentation": "<p>Describes updates to the environment properties for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "EnvironmentPropertyUpdates"
        },
        "FlinkApplicationConfigurationUpdate": {
          "documentation": "<p>Describes updates to a Java-based Kinesis Data Analytics application's configuration.</p>",
          "shape": "FlinkApplicationConfigurationUpdate"
        },
        "SqlApplicationConfigurationUpdate": {
          "documentation": "<p>Describes updates to an SQL-based Kinesis Data Analytics application's configuration.</p>",
          "shape": "SqlApplicationConfigurationUpdate"
        },
        "VpcConfigurationUpdates": {
          "documentation": "<p>Updates to the array of descriptions of VPC configurations available to the application.</p>",
          "shape": "VpcConfigurationUpdates"
        }
      },
      "type": "structure"
    },
    "ApplicationDescription": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "ApplicationDetail": {
      "documentation": "<p>Describes the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configurations.</p>",
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationConfigurationDescription": {
          "documentation": "<p>Provides details about the application's SQL or Java code and starting parameters.</p>",
          "shape": "ApplicationConfigurationDescription"
        },
        "ApplicationDescription": {
          "documentation": "<p>The description of the application.</p>",
          "shape": "ApplicationDescription"
        },
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationStatus": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "ApplicationStatus"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update the application.</p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>Describes the application Amazon CloudWatch logging options.</p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        },
        "CreateTimestamp": {
          "documentation": "<p>The current timestamp when the application was created.</p>",
          "shape": "Timestamp"
        },
        "LastUpdateTimestamp": {
          "documentation": "<p>The current timestamp when the application was last updated.</p>",
          "shape": "Timestamp"
        },
        "RuntimeEnvironment": {
          "documentation": "<p>The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).</p>",
          "shape": "RuntimeEnvironment"
        },
        "ServiceExecutionRole": {
          "documentation": "<p>Specifies the IAM role that the application uses to access external resources.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ApplicationARN",
        "ApplicationName",
        "RuntimeEnvironment",
        "ApplicationStatus",
        "ApplicationVersionId"
      ],
      "type": "structure"
    },
    "ApplicationName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "ApplicationRestoreConfiguration": {
      "documentation": "<p>Specifies the method and snapshot to use when restarting an application using previously saved application state.</p>",
      "members": {
        "ApplicationRestoreType": {
          "documentation": "<p>Specifies how the application should be restored.</p>",
          "shape": "ApplicationRestoreType"
        },
        "SnapshotName": {
          "documentation": "<p>The identifier of an existing snapshot of application state to use to restart an application. The application uses this value if <code>RESTORE_FROM_CUSTOM_SNAPSHOT</code> is specified for the <code>ApplicationRestoreType</code>.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationRestoreType"
      ],
      "type": "structure"
    },
    "ApplicationRestoreType": {
      "enum": [
        "SKIP_RESTORE_FROM_SNAPSHOT",
        "RESTORE_FROM_LATEST_SNAPSHOT",
        "RESTORE_FROM_CUSTOM_SNAPSHOT"
      ],
      "type": "string"
    },
    "ApplicationSnapshotConfiguration": {
      "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "SnapshotsEnabled": {
          "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "SnapshotsEnabled"
      ],
      "type": "structure"
    },
    "ApplicationSnapshotConfigurationDescription": {
      "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "SnapshotsEnabled": {
          "documentation": "<p>Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "SnapshotsEnabled"
      ],
      "type": "structure"
    },
    "ApplicationSnapshotConfigurationUpdate": {
      "documentation": "<p>Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "SnapshotsEnabledUpdate": {
          "documentation": "<p>Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "SnapshotsEnabledUpdate"
      ],
      "type": "structure"
    },
    "ApplicationStatus": {
      "enum": [
        "DELETING",
        "STARTING",
        "STOPPING",
        "READY",
        "RUNNING",
        "UPDATING"
      ],
      "type": "string"
    },
    "ApplicationSummaries": {
      "member": {
        "shape": "ApplicationSummary"
      },
      "type": "list"
    },
    "ApplicationSummary": {
      "documentation": "<p>Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.</p>",
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "ApplicationStatus": {
          "documentation": "<p>The status of the application.</p>",
          "shape": "ApplicationStatus"
        },
        "ApplicationVersionId": {
          "documentation": "<p>Provides the current application version.</p>",
          "shape": "ApplicationVersionId"
        },
        "RuntimeEnvironment": {
          "documentation": "<p>The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).</p>",
          "shape": "RuntimeEnvironment"
        }
      },
      "required": [
        "ApplicationName",
        "ApplicationARN",
        "ApplicationStatus",
        "ApplicationVersionId",
        "RuntimeEnvironment"
      ],
      "type": "structure"
    },
    "ApplicationVersionId": {
      "max": 999999999,
      "min": 1,
      "type": "long"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BucketARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "CSVMappingParameters": {
      "documentation": "<p>For an SQL-based application, provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>'\\n'</i> as the row delimiter and a comma (\",\") as the column delimiter: </p> <p> <code>\"name1\", \"address1\"</code> </p> <p> <code>\"name2\", \"address2\"</code> </p>",
      "members": {
        "RecordColumnDelimiter": {
          "documentation": "<p>The column delimiter. For example, in a CSV format, a comma (\",\") is the typical column delimiter.</p>",
          "shape": "RecordColumnDelimiter"
        },
        "RecordRowDelimiter": {
          "documentation": "<p>The row delimiter. For example, in a CSV format, <i>'\\n'</i> is the typical row delimiter.</p>",
          "shape": "RecordRowDelimiter"
        }
      },
      "required": [
        "RecordRowDelimiter",
        "RecordColumnDelimiter"
      ],
      "type": "structure"
    },
    "CheckpointConfiguration": {
      "documentation": "<p>Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/concepts/programming-model.html#checkpoints-for-fault-tolerance\"> Checkpoints for Fault Tolerance</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/\">Apache Flink Documentation</a>.</p>",
      "members": {
        "CheckpointInterval": {
          "documentation": "<p>Describes the interval in milliseconds between checkpoint operations. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> vaue of 60000, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "CheckpointInterval"
        },
        "CheckpointingEnabled": {
          "documentation": "<p>Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "BooleanObject"
        },
        "ConfigurationType": {
          "documentation": "<p>Describes whether the application uses Amazon Kinesis Data Analytics' default checkpointing behavior. You must set this property to <code>CUSTOM</code> in order to set the <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters.</p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>",
          "shape": "ConfigurationType"
        },
        "MinPauseBetweenCheckpoints": {
          "documentation": "<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. If a checkpoint operation takes longer than the <code>CheckpointInterval</code>, the application otherwise performs continual checkpoint operations. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-stable/ops/state/large_state_tuning.html#tuning-checkpointing\"> Tuning Checkpointing</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/\">Apache Flink Documentation</a>.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>",
          "shape": "MinPauseBetweenCheckpoints"
        }
      },
      "required": [
        "ConfigurationType"
      ],
      "type": "structure"
    },
    "CheckpointConfigurationDescription": {
      "documentation": "<p>Describes checkpointing parameters for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointInterval": {
          "documentation": "<p>Describes the interval in milliseconds between checkpoint operations. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> vaue of 60000, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "CheckpointInterval"
        },
        "CheckpointingEnabled": {
          "documentation": "<p>Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "BooleanObject"
        },
        "ConfigurationType": {
          "documentation": "<p>Describes whether the application uses the default checkpointing behavior in Kinesis Data Analytics. </p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>",
          "shape": "ConfigurationType"
        },
        "MinPauseBetweenCheckpoints": {
          "documentation": "<p>Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. </p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>",
          "shape": "MinPauseBetweenCheckpoints"
        }
      },
      "type": "structure"
    },
    "CheckpointConfigurationUpdate": {
      "documentation": "<p>Describes updates to the checkpointing parameters for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointIntervalUpdate": {
          "documentation": "<p>Describes updates to the interval in milliseconds between checkpoint operations.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointInterval</code> vaue of 60000, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "CheckpointInterval"
        },
        "CheckpointingEnabledUpdate": {
          "documentation": "<p>Describes updates to whether checkpointing is enabled for an application.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>CheckpointingEnabled</code> value of <code>true</code>, even if this value is set to another value using this API or in application code.</p> </note>",
          "shape": "BooleanObject"
        },
        "ConfigurationTypeUpdate": {
          "documentation": "<p>Describes updates to whether the application uses the default checkpointing behavior of Kinesis Data Analytics. You must set this property to <code>CUSTOM</code> in order to set the <code>CheckpointingEnabled</code>, <code>CheckpointInterval</code>, or <code>MinPauseBetweenCheckpoints</code> parameters. </p> <note> <p>If this value is set to <code>DEFAULT</code>, the application will use the following values, even if they are set to other values using APIs or application code:</p> <ul> <li> <p> <b>CheckpointingEnabled:</b> true</p> </li> <li> <p> <b>CheckpointInterval:</b> 60000</p> </li> <li> <p> <b>MinPauseBetweenCheckpoints:</b> 5000</p> </li> </ul> </note>",
          "shape": "ConfigurationType"
        },
        "MinPauseBetweenCheckpointsUpdate": {
          "documentation": "<p>Describes updates to the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start.</p> <note> <p>If <code>CheckpointConfiguration.ConfigurationType</code> is <code>DEFAULT</code>, the application will use a <code>MinPauseBetweenCheckpoints</code> value of 5000, even if this value is set using this API or in application code.</p> </note>",
          "shape": "MinPauseBetweenCheckpoints"
        }
      },
      "type": "structure"
    },
    "CheckpointInterval": {
      "min": 1,
      "type": "long"
    },
    "CloudWatchLoggingOption": {
      "documentation": "<p>Provides a description of Amazon CloudWatch logging options, including the log stream Amazon Resource Name (ARN). </p>",
      "members": {
        "LogStreamARN": {
          "documentation": "<p>The ARN of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        }
      },
      "required": [
        "LogStreamARN"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionDescription": {
      "documentation": "<p>Describes the Amazon CloudWatch logging option.</p>",
      "members": {
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The ID of the CloudWatch logging option description.</p>",
          "shape": "Id"
        },
        "LogStreamARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        },
        "RoleARN": {
          "documentation": "<p>The IAM ARN of the role to use to send application messages. </p> <note> <p>Provided for backward compatibility. Applications created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "LogStreamARN"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionDescriptions": {
      "member": {
        "shape": "CloudWatchLoggingOptionDescription"
      },
      "type": "list"
    },
    "CloudWatchLoggingOptionUpdate": {
      "documentation": "<p>Describes the Amazon CloudWatch logging option updates.</p>",
      "members": {
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The ID of the CloudWatch logging option to update</p>",
          "shape": "Id"
        },
        "LogStreamARNUpdate": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.</p>",
          "shape": "LogStreamARN"
        }
      },
      "required": [
        "CloudWatchLoggingOptionId"
      ],
      "type": "structure"
    },
    "CloudWatchLoggingOptionUpdates": {
      "member": {
        "shape": "CloudWatchLoggingOptionUpdate"
      },
      "type": "list"
    },
    "CloudWatchLoggingOptions": {
      "member": {
        "shape": "CloudWatchLoggingOption"
      },
      "type": "list"
    },
    "CodeContent": {
      "documentation": "<p>Specifies either the application code, or the location of the application code, for a Java-based Amazon Kinesis Data Analytics application. </p>",
      "members": {
        "S3ContentLocation": {
          "documentation": "<p>Information about the Amazon S3 bucket containing the application code.</p>",
          "shape": "S3ContentLocation"
        },
        "TextContent": {
          "documentation": "<p>The text-format code for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "TextContent"
        },
        "ZipFileContent": {
          "documentation": "<p>The zip-format code for a Java-based Kinesis Data Analytics application.</p>",
          "shape": "ZipFileContent"
        }
      },
      "type": "structure"
    },
    "CodeContentDescription": {
      "documentation": "<p>Describes details about the application code for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "CodeMD5": {
          "documentation": "<p>The checksum that can be used to validate zip-format code.</p>",
          "shape": "CodeMD5"
        },
        "CodeSize": {
          "documentation": "<p>The size in bytes of the application code. Can be used to validate zip-format code.</p>",
          "shape": "CodeSize"
        },
        "S3ApplicationCodeLocationDescription": {
          "documentation": "<p>The S3 bucket Amazon Resource Name (ARN), file key, and object version of the application code stored in Amazon S3.</p>",
          "shape": "S3ApplicationCodeLocationDescription"
        },
        "TextContent": {
          "documentation": "<p>The text-format code</p>",
          "shape": "TextContent"
        }
      },
      "type": "structure"
    },
    "CodeContentType": {
      "enum": [
        "PLAINTEXT",
        "ZIPFILE"
      ],
      "type": "string"
    },
    "CodeContentUpdate": {
      "documentation": "<p>Describes an update to the code of a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "S3ContentLocationUpdate": {
          "documentation": "<p>Describes an update to the location of code for an application.</p>",
          "shape": "S3ContentLocationUpdate"
        },
        "TextContentUpdate": {
          "documentation": "<p>Describes an update to the text code for an application.</p>",
          "shape": "TextContent"
        },
        "ZipFileContentUpdate": {
          "documentation": "<p>Describes an update to the zipped code for an application.</p>",
          "shape": "ZipFileContent"
        }
      },
      "type": "structure"
    },
    "CodeMD5": {
      "max": 128,
      "min": 128,
      "type": "string"
    },
    "CodeSize": {
      "max": 52428800,
      "min": 0,
      "type": "long"
    },
    "CodeValidationException": {
      "documentation": "<p>The user-provided application code (query) is not valid. This can be a simple syntax error.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Exception thrown as a result of concurrent modifications to an application. This error can be the result of attempting to modify an application without using the current application ID.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConfigurationType": {
      "enum": [
        "DEFAULT",
        "CUSTOM"
      ],
      "type": "string"
    },
    "CreateApplicationRequest": {
      "members": {
        "ApplicationConfiguration": {
          "documentation": "<p>Use this parameter to configure the application.</p>",
          "shape": "ApplicationConfiguration"
        },
        "ApplicationDescription": {
          "documentation": "<p>A summary description of the application.</p>",
          "shape": "ApplicationDescription"
        },
        "ApplicationName": {
          "documentation": "<p>The name of your application (for example, <code>sample-app</code>).</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>Use this parameter to configure an Amazon CloudWatch log stream to monitor application configuration errors. </p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "RuntimeEnvironment": {
          "documentation": "<p>The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).</p>",
          "shape": "RuntimeEnvironment"
        },
        "ServiceExecutionRole": {
          "documentation": "<p>The IAM role used by the application to access Kinesis data streams, Kinesis Data Firehose delivery streams, Amazon S3 objects, and other external resources.</p>",
          "shape": "RoleARN"
        },
        "Tags": {
          "documentation": "<p>A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href=\"https://docs.aws.amazon.com/kinesisanalytics/latest/java/how-tagging.html\">Using Tagging</a>.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "ApplicationName",
        "RuntimeEnvironment",
        "ServiceExecutionRole"
      ],
      "type": "structure"
    },
    "CreateApplicationResponse": {
      "members": {
        "ApplicationDetail": {
          "documentation": "<p>In response to your <code>CreateApplication</code> request, Kinesis Data Analytics returns a response with details of the application it created.</p>",
          "shape": "ApplicationDetail"
        }
      },
      "required": [
        "ApplicationDetail"
      ],
      "type": "structure"
    },
    "CreateApplicationSnapshotRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application</p>",
          "shape": "ApplicationName"
        },
        "SnapshotName": {
          "documentation": "<p>An identifier for the application snapshot.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationName",
        "SnapshotName"
      ],
      "type": "structure"
    },
    "CreateApplicationSnapshotResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationCloudWatchLoggingOptionRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "CloudWatchLoggingOptionId": {
          "documentation": "<p>The <code>CloudWatchLoggingOptionId</code> of the Amazon CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a> operation. </p>",
          "shape": "Id"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The version ID of the application. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "CloudWatchLoggingOptionId"
      ],
      "type": "structure"
    },
    "DeleteApplicationCloudWatchLoggingOptionResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application's Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The version ID of the application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.</p>",
          "shape": "ApplicationVersionId"
        },
        "CloudWatchLoggingOptionDescriptions": {
          "documentation": "<p>The descriptions of the remaining CloudWatch logging options for the application.</p>",
          "shape": "CloudWatchLoggingOptionDescriptions"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationInputProcessingConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "InputId": {
          "documentation": "<p>The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a>DescribeApplication</a> operation.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "InputId"
      ],
      "type": "structure"
    },
    "DeleteApplicationInputProcessingConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The current application version ID.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationOutputRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The application name.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. </p>",
          "shape": "ApplicationVersionId"
        },
        "OutputId": {
          "documentation": "<p>The ID of the configuration to delete. Each output configuration that is added to the application (either when the application is created or later) using the <a>AddApplicationOutput</a> operation has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a>DescribeApplication</a> operation to get the specific <code>OutputId</code>. </p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "OutputId"
      ],
      "type": "structure"
    },
    "DeleteApplicationOutputResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The current application version ID.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationReferenceDataSourceRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The current application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.</p>",
          "shape": "ApplicationVersionId"
        },
        "ReferenceId": {
          "documentation": "<p>The ID of the reference data source. When you add a reference data source to your application using the <a>AddApplicationReferenceDataSource</a>, Kinesis Data Analytics assigns an ID. You can use the <a>DescribeApplication</a> operation to get the reference ID. </p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "ReferenceId"
      ],
      "type": "structure"
    },
    "DeleteApplicationReferenceDataSourceResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The application Amazon Resource Name (ARN).</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated version ID of the application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application to delete.</p>",
          "shape": "ApplicationName"
        },
        "CreateTimestamp": {
          "documentation": "<p>Use the <code>DescribeApplication</code> operation to get this value.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "ApplicationName",
        "CreateTimestamp"
      ],
      "type": "structure"
    },
    "DeleteApplicationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationSnapshotRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "SnapshotCreationTimestamp": {
          "documentation": "<p>The creation timestamp of the application snapshot to delete. You can retrieve this value using or .</p>",
          "shape": "Timestamp"
        },
        "SnapshotName": {
          "documentation": "<p>The identifier for the snapshot delete.</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationName",
        "SnapshotName",
        "SnapshotCreationTimestamp"
      ],
      "type": "structure"
    },
    "DeleteApplicationSnapshotResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteApplicationVpcConfigurationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "CurrentApplicationVersionId": {
          "documentation": "<p>The current application version ID. You can retrieve the application version ID using <a>DescribeApplication</a>.</p>",
          "shape": "ApplicationVersionId"
        },
        "VpcConfigurationId": {
          "documentation": "<p>The ID of the VPC configuration to delete.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ApplicationName",
        "CurrentApplicationVersionId",
        "VpcConfigurationId"
      ],
      "type": "structure"
    },
    "DeleteApplicationVpcConfigurationResponse": {
      "members": {
        "ApplicationARN": {
          "documentation": "<p>The ARN of the Kinesis Data Analytics application.</p>",
          "shape": "ResourceARN"
        },
        "ApplicationVersionId": {
          "documentation": "<p>The updated version ID of the application.</p>",
          "shape": "ApplicationVersionId"
        }
      },
      "type": "structure"
    },
    "DescribeApplicationRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "ApplicationName"
        },
        "IncludeAdditionalDetails": {
          "documentation": "<p>Displays verbose information about a Kinesis Data Analytics application, including the application's job plan.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "ApplicationName"
      ],
      "type": "structure"
    },
    "DescribeApplicationResponse": {
      "members": {
        "ApplicationDetail": {
          "documentation": "<p>Provides a description of the application, such as the application's Amazon Resource Name (ARN), status, and latest version.</p>",
          "shape": "ApplicationDetail"
        }
      },
      "required": [
        "ApplicationDetail"
      ],
      "type": "structure"
    },
    "DescribeApplicationSnapshotRequest": {
      "members": {
        "ApplicationName": {
          "documentation": "<p>The name of an existing application.</p>",
          "shape": "ApplicationName"
        },
        "SnapshotName": {
          "documentation": "<p>The identifier of an application snapshot. You can retrieve this value using .</p>",
          "shape": "SnapshotName"
        }
      },
      "required": [
        "ApplicationName",
        "SnapshotName"
      ],
      "type": "structure"
    },
    "DescribeApplicationSnapshotResponse": {
      "members": {
        "SnapshotDetails": {
          "documentation": "<p>An object containing information about the application snapshot.</p>",
          "shape": "SnapshotDetails"
        }
      },
      "required": [
        "SnapshotDetails"
      ],
      "type": "structure"
    },
    "DestinationSchema": {
      "documentation": "<p>Describes the data format when records are written to the destination in an SQL-based Amazon Kinesis Data Analytics application. </p>",
      "members": {
        "RecordFormatType": {
          "documentation": "<p>Specifies the format of the records on the output stream.</p>",
          "shape": "RecordFormatType"
        }
      },
      "required": [
        "RecordFormatType"
      ],
      "type": "structure"
    },
    "DiscoverInputSchemaRequest": {
      "members": {
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a>InputProcessingConfiguration</a> to use to preprocess the records before discovering the schema of the records.</p>",
          "shape": "InputProcessingConfiguration"
        },
        "InputStartingPositionConfiguration": {
          "documentation": "<p>The point at which you want Kinesis Data Analytics to start reading records from the specified streaming source discovery purposes.</p>",
          "shape": "InputStartingPositionConfiguration"
        },
        "ResourceARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the streaming source.</p>",
          "shape": "ResourceARN"
        },
        "S3Configuration": {
          "documentation": "<p>Specify this parameter to discover a schema from data in an Amazon S3 object.</p>",
          "shape": "S3Configuration"
        },
        "ServiceExecutionRole": {
          "documentation": "<p>The ARN of the role that is used to access the streaming source.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ServiceExecutionRole"
      ],
      "type": "structure"
    },
    "DiscoverInputSchemaResponse": {
      "members": {
        "InputSchema": {
          "documentation": "<p>The schema inferred from the streaming source. It identifies the format of the data in the streaming source and how each data element maps to corresponding columns in the in-application stream that you can create.</p>",
          "shape": "SourceSchema"
        },
        "ParsedInputRecords": {
          "documentation": "<p>An array of elements, where each element corresponds to a row in a stream record (a stream record can have more than one row).</p>",
          "shape": "ParsedInputRecords"
        },
        "ProcessedInputRecords": {
          "documentation": "<p>The stream data that was modified by the processor specified in the <code>InputProcessingConfiguration</code> parameter.</p>",
          "shape": "ProcessedInputRecords"
        },
        "RawInputRecords": {
          "documentation": "<p>The raw stream data that was sampled to infer the schema.</p>",
          "shape": "RawInputRecords"
        }
      },
      "type": "structure"
    },
    "EnvironmentProperties": {
      "documentation": "<p>Describes execution properties for a Java-based Kinesis Data Analytics application.</p>",
      "members": {
        "PropertyGroups": {
          "documentation": "<p>Describes the execution property groups.</p>",
          "shape": "PropertyGroups"
        }
      },
      "required": [
        "PropertyGroups"
      ],
      "type": "structure"
    },
    "EnvironmentPropertyDescriptions": {
      "documentation": "<p>Describes the execution properties for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "PropertyGroupDescriptions": {
          "documentation": "<p>Describes the execution property groups.</p>",
          "shape": "PropertyGroups"
        }
      },
      "type": "structure"
    },
    "EnvironmentPropertyUpdates": {
      "documentation": "<p>Describes updates to the execution property groups for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "PropertyGroups": {
          "documentation": "<p>Describes updates to the execution property groups.</p>",
          "shape": "PropertyGroups"
        }
      },
      "required": [
        "PropertyGroups"
      ],
      "type": "structure"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FileKey": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "FlinkApplicationConfiguration": {
      "documentation": "<p>Describes configuration parameters for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointConfiguration": {
          "documentation": "<p>Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/concepts/programming-model.html#checkpoints-for-fault-tolerance\"> Checkpoints for Fault Tolerance</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/\">Apache Flink Documentation</a>. </p>",
          "shape": "CheckpointConfiguration"
        },
        "MonitoringConfiguration": {
          "documentation": "<p>Describes configuration parameters for Amazon CloudWatch logging for an application.</p>",
          "shape": "MonitoringConfiguration"
        },
        "ParallelismConfiguration": {
          "documentation": "<p>Describes parameters for how an application executes multiple tasks simultaneously.</p>",
          "shape": "ParallelismConfiguration"
        }
      },
      "type": "structure"
    },
    "FlinkApplicationConfigurationDescription": {
      "documentation": "<p>Describes configuration parameters for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointConfigurationDescription": {
          "documentation": "<p>Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.</p>",
          "shape": "CheckpointConfigurationDescription"
        },
        "JobPlanDescription": {
          "documentation": "<p>The job plan for an application. For more information about the job plan, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-stable/internals/job_scheduling.html\">Jobs and Scheduling</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.6/\">Apache Flink Documentation</a>. To retrieve the job plan for the application, use the <a>DescribeApplicationRequest$IncludeAdditionalDetails</a> parameter of the <a>DescribeApplication</a> operation.</p>",
          "shape": "JobPlanDescription"
        },
        "MonitoringConfigurationDescription": {
          "documentation": "<p>Describes configuration parameters for Amazon CloudWatch logging for an application.</p>",
          "shape": "MonitoringConfigurationDescription"
        },
        "ParallelismConfigurationDescription": {
          "documentation": "<p>Describes parameters for how an application executes multiple tasks simultaneously.</p>",
          "shape": "ParallelismConfigurationDescription"
        }
      },
      "type": "structure"
    },
    "FlinkApplicationConfigurationUpdate": {
      "documentation": "<p>Describes updates to the configuration parameters for a Java-based Amazon Kinesis Data Analytics application.</p>",
      "members": {
        "CheckpointConfigurationUpdate": {
          "documentation": "<p>Describes updates to an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.</p>",
          "shape": "CheckpointConfigurationUpdate"
        },
        "MonitoringConfigurationUpdate": {
          "documentation": "<p>Describes updates to the configuration parameters for Amazon CloudWatch logging for an application.</p>",
          "shape": "MonitoringConfigurationUpdate"
        },
        "ParallelismConfigurationUpdate": {
          "documentation": "<p>Describes updates to the parameters for how an application executes multiple tasks simultaneously.</p>",
          "shape": "ParallelismConfigurationUpdate"
        }
      },
      "type": "structure"
    },
    "FlinkRunConfiguration": {
      "documentation": "<p>Describes the starting parameters for an Apache Flink-based Kinesis Data Analytics application.</p>",
      "members": {
        "AllowNonRestoredState": {
          "documentation": "<p>When restoring from a savepoint, specifies whether the runtime is allowed to skip a state that cannot be mapped to the new program. This will happen if the program is updated between savepoints to remove stateful parameters, and state data in the savepoint no longer corresponds to valid application data. For more information, see <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.8/ops/state/savepoints.html#allowing-non-restored-state\"> Allowing Non-Restored State</a> in the <a href=\"https://ci.apache.org/projects/flink/flink-docs-release-1.8/\">Apache Flink documentation</a>.</p>",
          "shape": "BooleanObject"
        }
      },
      "type": "structure"
    },
    "Id": {
      "max": 50,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "InAppStreamName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "InAppStreamNames": {
      "member": {
        "shape": "InAppStreamName"
      },
      "type": "list"
    },
    "InAppTableName": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "Input": {
      "documentation": "<p>When you configure the application input for an SQL-based Amazon Kinesis Data Analytics application, you specify the streaming source, the in-application stream name that is created, and the mapping between the two. </p>",
      "members": {
        "InputParallelism": {
          "documentation": "<p>Describes the number of in-application streams to create. </p>",
          "shape": "InputParallelism"
        },
        "InputProcessingConfiguration": {
          "documentation": "<p>The <a>InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application's SQL code executes. Currently, the only input processing configuration available is <a>InputLambdaProcessor</a>. </p>",
          "shape": "InputProcessingConfiguration"
        },
        "InputSchema": {
          "documentation": "<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>",
          "shape": "SourceSchema"
        },
        "KinesisFirehoseInput": {
          "documentation": "<p>If the streaming source is an Amazon Kinesis Data Firehose delivery stream, identifies the delivery stream's ARN.</p>",
          "shape": "KinesisFirehoseInput"
        },
        "KinesisStreamsInput": {
          "documentation": "<p>If the streaming source is an Amazon Kinesis data stream, identifies the stream's Amazon Resource Name (ARN). </p>",
          "shape": "KinesisStreamsInput"
        },
        "NamePrefix": {
          "documentation": "<p>The name prefix to use when creating an in-application stream. Suppose that you specify a prefix \"<code>MyInApplicationStream</code>.\" Kinesis Data Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with the names \"<code>MyInApplicationStream_001</code>,\" \"<code>MyInApplicationStream_002</code>,\" and so on. </p>",
          "shape": "InAppStreamName"
        }
      },
      "required": [
        "NamePrefix",
        "InputSchema"
      ],
      "type": "structure"
    },
    "InputDescription": {
      "documentation": "<p>Describes the application input configuration for an SQL-based Amazon Kinesis Data Analytics application. </p>",
      "members": {
        "InAppStreamNames": {
          "documentation": "<p>Returns the in-application stream names that are mapped to the stream source. </p>",
          "shape": "InAppStreamNames"
        },
        "InputId": {
          "documentation": "<p>The input ID that is associated with the application input. This is the ID that Kinesis Data Analytics assigns to each input configuration that you add to your application. </p>",
          "shape": "Id"
        },
        "InputParallelism": {
          "documentation": "<p>Describes the configured parallelism (number of in-application streams mapped to the streaming source). </p>",
          "shape": "InputParallelism"
        },
        "InputProcessingConfigurationDescription": {
          "documentation": "<p>The description of the preprocessor that executes on records in this input before the application's code is run. </p>",
          "shape": "InputProcessingConfigurationDescription"
        },
        "InputSchema": {
          "documentation": "<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created. </p>",
          "shape": "SourceSchema"
        },
        "InputStartingPositionConfiguration": {
          "documentation": "<p>The point at which the application is configured to read from the input stream.</p>",
          "shape": "InputStartingPositionConfiguration"
        },
        "KinesisFirehoseInputDescription": {
          "documentation": "<p>If a Kinesis Data Firehose delivery stream is configured as a streaming source, provides the delivery stream's ARN. </p>",
          "shape": "KinesisFirehoseInputDescription"
        },
        "KinesisStreamsInputDescription": {
          "documentation": "<p>If a Kinesis data stream is configured as a streaming source, provides the Kinesis data stream's Amazon Resource Name (ARN). </p>",
          "shape": "KinesisStreamsInputDescription"
        },
        "NamePrefix": {
          "documentation": "<p>The in-application name prefix.</p>",
          "shape": "InAppStreamName"
        }
      },
      "type": "structure"
    },
    "InputDescriptions": {
      "member": {
        "shape": "InputDescription"
      },
      "type": "list"
    },
    "InputLambdaProcessor": {
      "documentation": "<p>An object that contains the Amazon Resource Name (ARN) of the AWS Lambda function that is used to preprocess records in the stream in an SQL-based Amazon Kinesis Data Analytics application. </p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the AWS Lambda function that operates on records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "InputLambdaProcessorDescription": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, an object that contains the Amazon Resource Name (ARN) of the AWS Lambda function that is used to preprocess records in the stream.</p>",
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the AWS Lambda function that is used to preprocess the records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        },
        "RoleARN": {
          "documentation": "<p>The ARN of the IAM role that is used to access the AWS Lambda function.</p> <note> <p>Provided for backward compatibility. Applications that are created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "InputLambdaProcessorUpdate": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, represents an update to the <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream.</p>",
      "members": {
        "ResourceARNUpdate": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the new AWS Lambda function that is used to preprocess the records in the stream.</p> <note> <p>To specify an earlier version of the Lambda function than the latest, include the Lambda function version in the Lambda function ARN. For more information about Lambda ARNs, see <a href=\"/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-lambda\">Example ARNs: AWS Lambda</a> </p> </note>",
          "shape": "ResourceARN"
        }
      },
      "required": [
        "ResourceARNUpdate"
      ],
      "type": "structure"
    },
    "InputParallelism": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, describes the number of in-application streams to create for a given streaming source. </p>",
      "members": {
        "Count": {
          "documentation": "<p>The number of in-application streams to create.</p>",
          "shape": "InputParallelismCount"
        }
      },
      "type": "structure"
    },
    "InputParallelismCount": {
      "max": 64,
      "min": 1,
      "type": "integer"
    },
    "InputParallelismUpdate": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, provides updates to the parallelism count.</p>",
      "members": {
        "CountUpdate": {
          "documentation": "<p>The number of in-application streams to create for the specified streaming source.</p>",
          "shape": "InputParallelismCount"
        }
      },
      "required": [
        "CountUpdate"
      ],
      "type": "structure"
    },
    "InputProcessingConfiguration": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, describes a processor that is used to preprocess the records in the stream before being processed by your application code. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.</p>",
      "members": {
        "InputLambdaProcessor": {
          "documentation": "<p>The <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.</p>",
          "shape": "InputLambdaProcessor"
        }
      },
      "required": [
        "InputLambdaProcessor"
      ],
      "type": "structure"
    },
    "InputProcessingConfigurationDescription": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, provides the configuration information about an input processor. Currently, the only input processor available is <a href=\"https://aws.amazon.com/documentation/lambda/\">AWS Lambda</a>.</p>",
      "members": {
        "InputLambdaProcessorDescription": {
          "documentation": "<p>Provides configuration information about the associated <a>InputLambdaProcessorDescription</a> </p>",
          "shape": "InputLambdaProcessorDescription"
        }
      },
      "type": "structure"
    },
    "InputProcessingConfigurationUpdate": {
      "documentation": "<p>For an SQL-based Amazon Kinesis Data Analytics application, describes updates to an <a>InputProcessingConfiguration</a>.</p>",
      "members": {
        "InputLambdaProcessorUpdate": {
          "documentation": "<p>Provides update information for an <a>InputLambdaProcessor</a>.</p>",
[...]
