{
  "documentation": "<p>Alexa for Business helps you use Alexa in your organization. Alexa for Business provides you with the tools to manage Alexa devices, enroll your users, and assign skills, at scale. You can build your own context-aware voice skills using the Alexa Skills Kit and the Alexa for Business API operations. You can also make these available as private skills for your organization. Alexa for Business makes it efficient to voice-enable your products and services, thus providing context-aware voice experiences for your customers. Device makers building with the Alexa Voice Service (AVS) can create fully integrated solutions, register their products with Alexa for Business, and manage them as shared devices in their organization. </p>",
  "metadata": {
    "apiVersion": "2017-11-09",
    "endpointPrefix": "a4b",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Alexa For Business",
    "serviceId": "Alexa For Business",
    "signatureVersion": "v4",
    "targetPrefix": "AlexaForBusiness",
    "uid": "alexaforbusiness-2017-11-09"
  },
  "operations": {
    "ApproveSkill": {
      "documentation": "<p>Associates a skill with the organization under the customer's AWS account. If a skill is private, the user implicitly accepts access to this skill during enablement.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApproveSkillRequest"
      },
      "name": "ApproveSkill",
      "output": {
        "shape": "ApproveSkillResponse"
      }
    },
    "AssociateContactWithAddressBook": {
      "documentation": "<p>Associates a contact with a given address book.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateContactWithAddressBookRequest"
      },
      "name": "AssociateContactWithAddressBook",
      "output": {
        "shape": "AssociateContactWithAddressBookResponse"
      }
    },
    "AssociateDeviceWithNetworkProfile": {
      "documentation": "<p>Associates a device with the specified network profile.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateDeviceWithNetworkProfileRequest"
      },
      "name": "AssociateDeviceWithNetworkProfile",
      "output": {
        "shape": "AssociateDeviceWithNetworkProfileResponse"
      }
    },
    "AssociateDeviceWithRoom": {
      "documentation": "<p>Associates a device with a given room. This applies all the settings from the room profile to the device, and all the skills in any skill groups added to that room. This operation requires the device to be online, or else a manual sync is required. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateDeviceWithRoomRequest"
      },
      "name": "AssociateDeviceWithRoom",
      "output": {
        "shape": "AssociateDeviceWithRoomResponse"
      }
    },
    "AssociateSkillGroupWithRoom": {
      "documentation": "<p>Associates a skill group with a given room. This enables all skills in the associated skill group on all devices in the room.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSkillGroupWithRoomRequest"
      },
      "name": "AssociateSkillGroupWithRoom",
      "output": {
        "shape": "AssociateSkillGroupWithRoomResponse"
      }
    },
    "AssociateSkillWithSkillGroup": {
      "documentation": "<p>Associates a skill with a skill group.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "SkillNotLinkedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSkillWithSkillGroupRequest"
      },
      "name": "AssociateSkillWithSkillGroup",
      "output": {
        "shape": "AssociateSkillWithSkillGroupResponse"
      }
    },
    "AssociateSkillWithUsers": {
      "documentation": "<p>Makes a private skill available for enrolled users to enable on their devices.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSkillWithUsersRequest"
      },
      "name": "AssociateSkillWithUsers",
      "output": {
        "shape": "AssociateSkillWithUsersResponse"
      }
    },
    "CreateAddressBook": {
      "documentation": "<p>Creates an address book with the specified details.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAddressBookRequest"
      },
      "name": "CreateAddressBook",
      "output": {
        "shape": "CreateAddressBookResponse"
      }
    },
    "CreateBusinessReportSchedule": {
      "documentation": "<p>Creates a recurring schedule for usage reports to deliver to the specified S3 location with a specified daily or weekly interval.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBusinessReportScheduleRequest"
      },
      "name": "CreateBusinessReportSchedule",
      "output": {
        "shape": "CreateBusinessReportScheduleResponse"
      }
    },
    "CreateConferenceProvider": {
      "documentation": "<p>Adds a new conference provider under the user's AWS account.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConferenceProviderRequest"
      },
      "name": "CreateConferenceProvider",
      "output": {
        "shape": "CreateConferenceProviderResponse"
      }
    },
    "CreateContact": {
      "documentation": "<p>Creates a contact with the specified details.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateContactRequest"
      },
      "name": "CreateContact",
      "output": {
        "shape": "CreateContactResponse"
      }
    },
    "CreateGatewayGroup": {
      "documentation": "<p>Creates a gateway group with the specified details.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGatewayGroupRequest"
      },
      "name": "CreateGatewayGroup",
      "output": {
        "shape": "CreateGatewayGroupResponse"
      }
    },
    "CreateNetworkProfile": {
      "documentation": "<p>Creates a network profile with the specified details.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidCertificateAuthorityException"
        },
        {
          "shape": "InvalidServiceLinkedRoleStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateNetworkProfileRequest"
      },
      "name": "CreateNetworkProfile",
      "output": {
        "shape": "CreateNetworkProfileResponse"
      }
    },
    "CreateProfile": {
      "documentation": "<p>Creates a new room profile with the specified details.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProfileRequest"
      },
      "name": "CreateProfile",
      "output": {
        "shape": "CreateProfileResponse"
      }
    },
    "CreateRoom": {
      "documentation": "<p>Creates a room with the specified details.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRoomRequest"
      },
      "name": "CreateRoom",
      "output": {
        "shape": "CreateRoomResponse"
      }
    },
    "CreateSkillGroup": {
      "documentation": "<p>Creates a skill group with a specified name and description.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSkillGroupRequest"
      },
      "name": "CreateSkillGroup",
      "output": {
        "shape": "CreateSkillGroupResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a user.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "DeleteAddressBook": {
      "documentation": "<p>Deletes an address book by the address book ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAddressBookRequest"
      },
      "name": "DeleteAddressBook",
      "output": {
        "shape": "DeleteAddressBookResponse"
      }
    },
    "DeleteBusinessReportSchedule": {
      "documentation": "<p>Deletes the recurring report delivery schedule with the specified schedule ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBusinessReportScheduleRequest"
      },
      "name": "DeleteBusinessReportSchedule",
      "output": {
        "shape": "DeleteBusinessReportScheduleResponse"
      }
    },
    "DeleteConferenceProvider": {
      "documentation": "<p>Deletes a conference provider.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConferenceProviderRequest"
      },
      "name": "DeleteConferenceProvider",
      "output": {
        "shape": "DeleteConferenceProviderResponse"
      }
    },
    "DeleteContact": {
      "documentation": "<p>Deletes a contact by the contact ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteContactRequest"
      },
      "name": "DeleteContact",
      "output": {
        "shape": "DeleteContactResponse"
      }
    },
    "DeleteDevice": {
      "documentation": "<p>Removes a device from Alexa For Business.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidCertificateAuthorityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeviceRequest"
      },
      "name": "DeleteDevice",
      "output": {
        "shape": "DeleteDeviceResponse"
      }
    },
    "DeleteDeviceUsageData": {
      "documentation": "<p>When this action is called for a specified shared device, it allows authorized users to delete the device's entire previous history of voice input data and associated response data. This action can be called once every 24 hours for a specific shared device.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeviceUsageDataRequest"
      },
      "name": "DeleteDeviceUsageData",
      "output": {
        "shape": "DeleteDeviceUsageDataResponse"
      }
    },
    "DeleteGatewayGroup": {
      "documentation": "<p>Deletes a gateway group.</p>",
      "errors": [
        {
          "shape": "ResourceAssociatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGatewayGroupRequest"
      },
      "name": "DeleteGatewayGroup",
      "output": {
        "shape": "DeleteGatewayGroupResponse"
      }
    },
    "DeleteNetworkProfile": {
      "documentation": "<p>Deletes a network profile by the network profile ARN.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNetworkProfileRequest"
      },
      "name": "DeleteNetworkProfile",
      "output": {
        "shape": "DeleteNetworkProfileResponse"
      }
    },
    "DeleteProfile": {
      "documentation": "<p>Deletes a room profile by the profile ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProfileRequest"
      },
      "name": "DeleteProfile",
      "output": {
        "shape": "DeleteProfileResponse"
      }
    },
    "DeleteRoom": {
      "documentation": "<p>Deletes a room by the room ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRoomRequest"
      },
      "name": "DeleteRoom",
      "output": {
        "shape": "DeleteRoomResponse"
      }
    },
    "DeleteRoomSkillParameter": {
      "documentation": "<p>Deletes room skill parameter details by room, skill, and parameter key ID.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRoomSkillParameterRequest"
      },
      "name": "DeleteRoomSkillParameter",
      "output": {
        "shape": "DeleteRoomSkillParameterResponse"
      }
    },
    "DeleteSkillAuthorization": {
      "documentation": "<p>Unlinks a third-party account from a skill.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSkillAuthorizationRequest"
      },
      "name": "DeleteSkillAuthorization",
      "output": {
        "shape": "DeleteSkillAuthorizationResponse"
      }
    },
    "DeleteSkillGroup": {
      "documentation": "<p>Deletes a skill group by skill group ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSkillGroupRequest"
      },
      "name": "DeleteSkillGroup",
      "output": {
        "shape": "DeleteSkillGroupResponse"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes a specified user by user ARN and enrollment ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DisassociateContactFromAddressBook": {
      "documentation": "<p>Disassociates a contact from a given address book.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateContactFromAddressBookRequest"
      },
      "name": "DisassociateContactFromAddressBook",
      "output": {
        "shape": "DisassociateContactFromAddressBookResponse"
      }
    },
    "DisassociateDeviceFromRoom": {
      "documentation": "<p>Disassociates a device from its current room. The device continues to be connected to the Wi-Fi network and is still registered to the account. The device settings and skills are removed from the room.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateDeviceFromRoomRequest"
      },
      "name": "DisassociateDeviceFromRoom",
      "output": {
        "shape": "DisassociateDeviceFromRoomResponse"
      }
    },
    "DisassociateSkillFromSkillGroup": {
      "documentation": "<p>Disassociates a skill from a skill group.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateSkillFromSkillGroupRequest"
      },
      "name": "DisassociateSkillFromSkillGroup",
      "output": {
        "shape": "DisassociateSkillFromSkillGroupResponse"
      }
    },
    "DisassociateSkillFromUsers": {
      "documentation": "<p>Makes a private skill unavailable for enrolled users and prevents them from enabling it on their devices.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateSkillFromUsersRequest"
      },
      "name": "DisassociateSkillFromUsers",
      "output": {
        "shape": "DisassociateSkillFromUsersResponse"
      }
    },
    "DisassociateSkillGroupFromRoom": {
      "documentation": "<p>Disassociates a skill group from a specified room. This disables all skills in the skill group on all devices in the room.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateSkillGroupFromRoomRequest"
      },
      "name": "DisassociateSkillGroupFromRoom",
      "output": {
        "shape": "DisassociateSkillGroupFromRoomResponse"
      }
    },
    "ForgetSmartHomeAppliances": {
      "documentation": "<p>Forgets smart home appliances associated to a room.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ForgetSmartHomeAppliancesRequest"
      },
      "name": "ForgetSmartHomeAppliances",
      "output": {
        "shape": "ForgetSmartHomeAppliancesResponse"
      }
    },
    "GetAddressBook": {
      "documentation": "<p>Gets address the book details by the address book ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAddressBookRequest"
      },
      "name": "GetAddressBook",
      "output": {
        "shape": "GetAddressBookResponse"
      }
    },
    "GetConferencePreference": {
      "documentation": "<p>Retrieves the existing conference preferences.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConferencePreferenceRequest"
      },
      "name": "GetConferencePreference",
      "output": {
        "shape": "GetConferencePreferenceResponse"
      }
    },
    "GetConferenceProvider": {
      "documentation": "<p>Gets details about a specific conference provider.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConferenceProviderRequest"
      },
      "name": "GetConferenceProvider",
      "output": {
        "shape": "GetConferenceProviderResponse"
      }
    },
    "GetContact": {
      "documentation": "<p>Gets the contact details by the contact ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactRequest"
      },
      "name": "GetContact",
      "output": {
        "shape": "GetContactResponse"
      }
    },
    "GetDevice": {
      "documentation": "<p>Gets the details of a device by device ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeviceRequest"
      },
      "name": "GetDevice",
      "output": {
        "shape": "GetDeviceResponse"
      }
    },
    "GetGateway": {
      "documentation": "<p>Retrieves the details of a gateway.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGatewayRequest"
      },
      "name": "GetGateway",
      "output": {
        "shape": "GetGatewayResponse"
      }
    },
    "GetGatewayGroup": {
      "documentation": "<p>Retrieves the details of a gateway group.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGatewayGroupRequest"
      },
      "name": "GetGatewayGroup",
      "output": {
        "shape": "GetGatewayGroupResponse"
      }
    },
    "GetInvitationConfiguration": {
      "documentation": "<p>Retrieves the configured values for the user enrollment invitation email template.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInvitationConfigurationRequest"
      },
      "name": "GetInvitationConfiguration",
      "output": {
        "shape": "GetInvitationConfigurationResponse"
      }
    },
    "GetNetworkProfile": {
      "documentation": "<p>Gets the network profile details by the network profile ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidSecretsManagerResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetNetworkProfileRequest"
      },
      "name": "GetNetworkProfile",
      "output": {
        "shape": "GetNetworkProfileResponse"
      }
    },
    "GetProfile": {
      "documentation": "<p>Gets the details of a room profile by profile ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetProfileRequest"
      },
      "name": "GetProfile",
      "output": {
        "shape": "GetProfileResponse"
      }
    },
    "GetRoom": {
      "documentation": "<p>Gets room details by room ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRoomRequest"
      },
      "name": "GetRoom",
      "output": {
        "shape": "GetRoomResponse"
      }
    },
    "GetRoomSkillParameter": {
      "documentation": "<p>Gets room skill parameter details by room, skill, and parameter key ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRoomSkillParameterRequest"
      },
      "name": "GetRoomSkillParameter",
      "output": {
        "shape": "GetRoomSkillParameterResponse"
      }
    },
    "GetSkillGroup": {
      "documentation": "<p>Gets skill group details by skill group ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSkillGroupRequest"
      },
      "name": "GetSkillGroup",
      "output": {
        "shape": "GetSkillGroupResponse"
      }
    },
    "ListBusinessReportSchedules": {
      "documentation": "<p>Lists the details of the schedules that a user configured. A download URL of the report associated with each schedule is returned every time this action is called. A new download URL is returned each time, and is valid for 24 hours.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBusinessReportSchedulesRequest"
      },
      "name": "ListBusinessReportSchedules",
      "output": {
        "shape": "ListBusinessReportSchedulesResponse"
      }
    },
    "ListConferenceProviders": {
      "documentation": "<p>Lists conference providers under a specific AWS account.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListConferenceProvidersRequest"
      },
      "name": "ListConferenceProviders",
      "output": {
        "shape": "ListConferenceProvidersResponse"
      }
    },
    "ListDeviceEvents": {
      "documentation": "<p>Lists the device event history, including device connection status, for up to 30 days.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeviceEventsRequest"
      },
      "name": "ListDeviceEvents",
      "output": {
        "shape": "ListDeviceEventsResponse"
      }
    },
    "ListGatewayGroups": {
      "documentation": "<p>Retrieves a list of gateway group summaries. Use GetGatewayGroup to retrieve details of a specific gateway group.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGatewayGroupsRequest"
      },
      "name": "ListGatewayGroups",
      "output": {
        "shape": "ListGatewayGroupsResponse"
      }
    },
    "ListGateways": {
      "documentation": "<p>Retrieves a list of gateway summaries. Use GetGateway to retrieve details of a specific gateway. An optional gateway group ARN can be provided to only retrieve gateway summaries of gateways that are associated with that gateway group ARN.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGatewaysRequest"
      },
      "name": "ListGateways",
      "output": {
        "shape": "ListGatewaysResponse"
      }
    },
    "ListSkills": {
      "documentation": "<p>Lists all enabled skills in a specific skill group.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSkillsRequest"
      },
      "name": "ListSkills",
      "output": {
        "shape": "ListSkillsResponse"
      }
    },
    "ListSkillsStoreCategories": {
      "documentation": "<p>Lists all categories in the Alexa skill store.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSkillsStoreCategoriesRequest"
      },
      "name": "ListSkillsStoreCategories",
      "output": {
        "shape": "ListSkillsStoreCategoriesResponse"
      }
    },
    "ListSkillsStoreSkillsByCategory": {
      "documentation": "<p>Lists all skills in the Alexa skill store by category.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSkillsStoreSkillsByCategoryRequest"
      },
      "name": "ListSkillsStoreSkillsByCategory",
      "output": {
        "shape": "ListSkillsStoreSkillsByCategoryResponse"
      }
    },
    "ListSmartHomeAppliances": {
      "documentation": "<p>Lists all of the smart home appliances associated with a room.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSmartHomeAppliancesRequest"
      },
      "name": "ListSmartHomeAppliances",
      "output": {
        "shape": "ListSmartHomeAppliancesResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Lists all tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "PutConferencePreference": {
      "documentation": "<p>Sets the conference preferences on a specific conference provider at the account level.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutConferencePreferenceRequest"
      },
      "name": "PutConferencePreference",
      "output": {
        "shape": "PutConferencePreferenceResponse"
      }
    },
    "PutInvitationConfiguration": {
      "documentation": "<p>Configures the email template for the user enrollment invitation with the specified attributes.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutInvitationConfigurationRequest"
      },
      "name": "PutInvitationConfiguration",
      "output": {
        "shape": "PutInvitationConfigurationResponse"
      }
    },
    "PutRoomSkillParameter": {
      "documentation": "<p>Updates room skill parameter details by room, skill, and parameter key ID. Not all skills have a room skill parameter.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRoomSkillParameterRequest"
      },
      "name": "PutRoomSkillParameter",
      "output": {
        "shape": "PutRoomSkillParameterResponse"
      }
    },
    "PutSkillAuthorization": {
      "documentation": "<p>Links a user's account to a third-party skill provider. If this API operation is called by an assumed IAM role, the skill being linked must be a private skill. Also, the skill must be owned by the AWS account that assumed the IAM role.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutSkillAuthorizationRequest"
      },
      "name": "PutSkillAuthorization",
      "output": {
        "shape": "PutSkillAuthorizationResponse"
      }
    },
    "RegisterAVSDevice": {
      "documentation": "<p>Registers an Alexa-enabled device built by an Original Equipment Manufacturer (OEM) using Alexa Voice Service (AVS).</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidDeviceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterAVSDeviceRequest"
      },
      "name": "RegisterAVSDevice",
      "output": {
        "shape": "RegisterAVSDeviceResponse"
      }
    },
    "RejectSkill": {
      "documentation": "<p>Disassociates a skill from the organization under a user's AWS account. If the skill is a private skill, it moves to an AcceptStatus of PENDING. Any private or public skill that is rejected can be added later by calling the ApproveSkill API. </p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RejectSkillRequest"
      },
      "name": "RejectSkill",
      "output": {
        "shape": "RejectSkillResponse"
      }
    },
    "ResolveRoom": {
      "documentation": "<p>Determines the details for the room from which a skill request was invoked. This operation is used by skill developers.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResolveRoomRequest"
      },
      "name": "ResolveRoom",
      "output": {
        "shape": "ResolveRoomResponse"
      }
    },
    "RevokeInvitation": {
      "documentation": "<p>Revokes an invitation and invalidates the enrollment URL.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RevokeInvitationRequest"
      },
      "name": "RevokeInvitation",
      "output": {
        "shape": "RevokeInvitationResponse"
      }
    },
    "SearchAddressBooks": {
      "documentation": "<p>Searches address books and lists the ones that meet a set of filter and sort criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchAddressBooksRequest"
      },
      "name": "SearchAddressBooks",
      "output": {
        "shape": "SearchAddressBooksResponse"
      }
    },
    "SearchContacts": {
      "documentation": "<p>Searches contacts and lists the ones that meet a set of filter and sort criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchContactsRequest"
      },
      "name": "SearchContacts",
      "output": {
        "shape": "SearchContactsResponse"
      }
    },
    "SearchDevices": {
      "documentation": "<p>Searches devices and lists the ones that meet a set of filter criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchDevicesRequest"
      },
      "name": "SearchDevices",
      "output": {
        "shape": "SearchDevicesResponse"
      }
    },
    "SearchNetworkProfiles": {
      "documentation": "<p>Searches network profiles and lists the ones that meet a set of filter and sort criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchNetworkProfilesRequest"
      },
      "name": "SearchNetworkProfiles",
      "output": {
        "shape": "SearchNetworkProfilesResponse"
      }
    },
    "SearchProfiles": {
      "documentation": "<p>Searches room profiles and lists the ones that meet a set of filter criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchProfilesRequest"
      },
      "name": "SearchProfiles",
      "output": {
        "shape": "SearchProfilesResponse"
      }
    },
    "SearchRooms": {
      "documentation": "<p>Searches rooms and lists the ones that meet a set of filter and sort criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchRoomsRequest"
      },
      "name": "SearchRooms",
      "output": {
        "shape": "SearchRoomsResponse"
      }
    },
    "SearchSkillGroups": {
      "documentation": "<p>Searches skill groups and lists the ones that meet a set of filter and sort criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchSkillGroupsRequest"
      },
      "name": "SearchSkillGroups",
      "output": {
        "shape": "SearchSkillGroupsResponse"
      }
    },
    "SearchUsers": {
      "documentation": "<p>Searches users and lists the ones that meet a set of filter and sort criteria.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchUsersRequest"
      },
      "name": "SearchUsers",
      "output": {
        "shape": "SearchUsersResponse"
      }
    },
    "SendAnnouncement": {
      "documentation": "<p>Triggers an asynchronous flow to send text, SSML, or audio announcements to rooms that are identified by a search or filter. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendAnnouncementRequest"
      },
      "name": "SendAnnouncement",
      "output": {
        "shape": "SendAnnouncementResponse"
      }
    },
    "SendInvitation": {
      "documentation": "<p>Sends an enrollment invitation email with a URL to a user. The URL is valid for 30 days or until you call this operation again, whichever comes first. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidUserStatusException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SendInvitationRequest"
      },
      "name": "SendInvitation",
      "output": {
        "shape": "SendInvitationResponse"
      }
    },
    "StartDeviceSync": {
      "documentation": "<p>Resets a device and its account to the known default settings. This clears all information and settings set by previous users in the following ways:</p> <ul> <li> <p>Bluetooth - This unpairs all bluetooth devices paired with your echo device.</p> </li> <li> <p>Volume - This resets the echo device's volume to the default value.</p> </li> <li> <p>Notifications - This clears all notifications from your echo device.</p> </li> <li> <p>Lists - This clears all to-do items from your echo device.</p> </li> <li> <p>Settings - This internally syncs the room's profile (if the device is assigned to a room), contacts, address books, delegation access for account linking, and communications (if enabled on the room profile).</p> </li> </ul>",
      "errors": [
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDeviceSyncRequest"
      },
      "name": "StartDeviceSync",
      "output": {
        "shape": "StartDeviceSyncResponse"
      }
    },
    "StartSmartHomeApplianceDiscovery": {
      "documentation": "<p>Initiates the discovery of any smart home appliances associated with the room.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartSmartHomeApplianceDiscoveryRequest"
      },
      "name": "StartSmartHomeApplianceDiscovery",
      "output": {
        "shape": "StartSmartHomeApplianceDiscoveryResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds metadata tags to a specified resource.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes metadata tags from a specified resource.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAddressBook": {
      "documentation": "<p>Updates address book details by the address book ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAddressBookRequest"
      },
      "name": "UpdateAddressBook",
      "output": {
        "shape": "UpdateAddressBookResponse"
      }
    },
    "UpdateBusinessReportSchedule": {
      "documentation": "<p>Updates the configuration of the report delivery schedule with the specified schedule ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateBusinessReportScheduleRequest"
      },
      "name": "UpdateBusinessReportSchedule",
      "output": {
        "shape": "UpdateBusinessReportScheduleResponse"
      }
    },
    "UpdateConferenceProvider": {
      "documentation": "<p>Updates an existing conference provider's settings.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConferenceProviderRequest"
      },
      "name": "UpdateConferenceProvider",
      "output": {
        "shape": "UpdateConferenceProviderResponse"
      }
    },
    "UpdateContact": {
      "documentation": "<p>Updates the contact details by the contact ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateContactRequest"
      },
      "name": "UpdateContact",
      "output": {
        "shape": "UpdateContactResponse"
      }
    },
    "UpdateDevice": {
      "documentation": "<p>Updates the device name by device ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "DeviceNotRegisteredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDeviceRequest"
      },
      "name": "UpdateDevice",
      "output": {
        "shape": "UpdateDeviceResponse"
      }
    },
    "UpdateGateway": {
      "documentation": "<p>Updates the details of a gateway. If any optional field is not provided, the existing corresponding value is left unmodified.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGatewayRequest"
      },
      "name": "UpdateGateway",
      "output": {
        "shape": "UpdateGatewayResponse"
      }
    },
    "UpdateGatewayGroup": {
      "documentation": "<p>Updates the details of a gateway group. If any optional field is not provided, the existing corresponding value is left unmodified.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGatewayGroupRequest"
      },
      "name": "UpdateGatewayGroup",
      "output": {
        "shape": "UpdateGatewayGroupResponse"
      }
    },
    "UpdateNetworkProfile": {
      "documentation": "<p>Updates a network profile by the network profile ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidCertificateAuthorityException"
        },
        {
          "shape": "InvalidSecretsManagerResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateNetworkProfileRequest"
      },
      "name": "UpdateNetworkProfile",
      "output": {
        "shape": "UpdateNetworkProfileResponse"
      }
    },
    "UpdateProfile": {
      "documentation": "<p>Updates an existing room profile by room profile ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProfileRequest"
      },
      "name": "UpdateProfile",
      "output": {
        "shape": "UpdateProfileResponse"
      }
    },
    "UpdateRoom": {
      "documentation": "<p>Updates room details by room ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRoomRequest"
      },
      "name": "UpdateRoom",
      "output": {
        "shape": "UpdateRoomResponse"
      }
    },
    "UpdateSkillGroup": {
      "documentation": "<p>Updates skill group details by skill group ARN.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "NameInUseException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSkillGroupRequest"
      },
      "name": "UpdateSkillGroup",
      "output": {
        "shape": "UpdateSkillGroupResponse"
      }
    }
  },
  "shapes": {
    "Address": {
      "max": 500,
      "min": 1,
      "type": "string"
    },
    "AddressBook": {
      "documentation": "<p>An address book with attributes.</p>",
      "members": {
        "AddressBookArn": {
          "documentation": "<p>The ARN of the address book.</p>",
          "shape": "Arn"
        },
        "Description": {
          "documentation": "<p>The description of the address book.</p>",
          "shape": "AddressBookDescription"
        },
        "Name": {
          "documentation": "<p>The name of the address book.</p>",
          "shape": "AddressBookName"
        }
      },
      "type": "structure"
    },
    "AddressBookData": {
      "documentation": "<p>Information related to an address book.</p>",
      "members": {
        "AddressBookArn": {
          "documentation": "<p>The ARN of the address book.</p>",
          "shape": "Arn"
        },
        "Description": {
          "documentation": "<p>The description of the address book.</p>",
          "shape": "AddressBookDescription"
        },
        "Name": {
          "documentation": "<p>The name of the address book.</p>",
          "shape": "AddressBookName"
        }
      },
      "type": "structure"
    },
    "AddressBookDataList": {
      "member": {
        "shape": "AddressBookData"
      },
      "type": "list"
    },
    "AddressBookDescription": {
      "max": 200,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "type": "string"
    },
    "AddressBookName": {
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "type": "string"
    },
    "AlreadyExistsException": {
      "documentation": "<p>The resource being created already exists.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AmazonId": {
      "pattern": "[a-zA-Z0-9]{1,18}",
      "type": "string"
    },
    "ApplianceDescription": {
      "type": "string"
    },
    "ApplianceFriendlyName": {
      "type": "string"
    },
    "ApplianceManufacturerName": {
      "type": "string"
    },
    "ApproveSkillRequest": {
      "members": {
        "SkillId": {
          "documentation": "<p>The unique identifier of the skill.</p>",
          "shape": "SkillId"
        }
      },
      "required": [
        "SkillId"
      ],
      "type": "structure"
    },
    "ApproveSkillResponse": {
      "members": {},
      "type": "structure"
    },
    "Arn": {
      "pattern": "arn:[a-z0-9-\\.]{1,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[a-z0-9-\\.]{0,63}:[^/].{0,1023}",
      "type": "string"
    },
    "AssociateContactWithAddressBookRequest": {
      "members": {
        "AddressBookArn": {
          "documentation": "<p>The ARN of the address book with which to associate the contact.</p>",
          "shape": "Arn"
        },
        "ContactArn": {
          "documentation": "<p>The ARN of the contact to associate with an address book.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ContactArn",
        "AddressBookArn"
      ],
      "type": "structure"
    },
    "AssociateContactWithAddressBookResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateDeviceWithNetworkProfileRequest": {
      "members": {
        "DeviceArn": {
          "documentation": "<p>The device ARN.</p>",
          "shape": "Arn"
        },
        "NetworkProfileArn": {
          "documentation": "<p>The ARN of the network profile to associate with a device.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DeviceArn",
        "NetworkProfileArn"
      ],
      "type": "structure"
    },
    "AssociateDeviceWithNetworkProfileResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateDeviceWithRoomRequest": {
      "members": {
        "DeviceArn": {
          "documentation": "<p>The ARN of the device to associate to a room. Required.</p>",
          "shape": "Arn"
        },
        "RoomArn": {
          "documentation": "<p>The ARN of the room with which to associate the device. Required.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "AssociateDeviceWithRoomResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateSkillGroupWithRoomRequest": {
      "members": {
        "RoomArn": {
          "documentation": "<p>The ARN of the room with which to associate the skill group. Required.</p>",
          "shape": "Arn"
        },
        "SkillGroupArn": {
          "documentation": "<p>The ARN of the skill group to associate with a room. Required.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "AssociateSkillGroupWithRoomResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateSkillWithSkillGroupRequest": {
      "members": {
        "SkillGroupArn": {
          "documentation": "<p>The ARN of the skill group to associate the skill to. Required.</p>",
          "shape": "Arn"
        },
        "SkillId": {
          "documentation": "<p>The unique identifier of the skill.</p>",
          "shape": "SkillId"
        }
      },
      "required": [
        "SkillId"
      ],
      "type": "structure"
    },
    "AssociateSkillWithSkillGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateSkillWithUsersRequest": {
      "members": {
        "SkillId": {
          "documentation": "<p>The private skill ID you want to make available to enrolled users.</p>",
          "shape": "SkillId"
        }
      },
      "required": [
        "SkillId"
      ],
      "type": "structure"
    },
    "AssociateSkillWithUsersResponse": {
      "members": {},
      "type": "structure"
    },
    "Audio": {
      "documentation": "<p>The audio message. There is a 1 MB limit on the audio file input and the only supported format is MP3. To convert your MP3 audio files to an Alexa-friendly, </p> <p>required codec version (MPEG version 2) and bit rate (48 kbps), you might use converter software. One option for this is a command-line tool, FFmpeg. For more information, see <a href=\"https://www.ffmpeg.org/\">FFmpeg</a>. The following command converts the provided &lt;input-file&gt; to an MP3 file that is played in the announcement:</p> <p> <code>ffmpeg -i &lt;input-file&gt; -ac 2 -codec:a libmp3lame -b:a 48k -ar 16000 &lt;output-file.mp3&gt;</code> </p>",
      "members": {
        "Locale": {
          "documentation": "<p>The locale of the audio message. Currently, en-US is supported.</p>",
          "shape": "Locale"
        },
        "Location": {
          "documentation": "<p>The location of the audio file. Currently, S3 URLs are supported. Only S3 locations comprised of safe characters are valid. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#Safe%20Characters\">Safe Characters</a>.</p>",
          "shape": "AudioLocation"
        }
      },
      "required": [
        "Locale",
        "Location"
      ],
      "type": "structure"
    },
    "AudioList": {
      "max": 1,
      "member": {
        "shape": "Audio"
      },
      "type": "list"
    },
    "AudioLocation": {
      "max": 1200,
      "min": 0,
      "pattern": "https://([A-Za-z0-9_.-]+)?(s3-[A-Za-z0-9-]+|s3\\.([A-Za-z0-9-])+|s3|s3.dualstack\\.([A-Za-z0-9-])+)+.amazonaws.com/.*",
      "type": "string"
    },
    "AuthorizationResult": {
      "key": {
        "shape": "Key"
      },
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "Value"
      }
    },
    "Boolean": {
      "type": "boolean"
    },
    "BulletPoint": {
      "type": "string"
    },
    "BulletPoints": {
      "member": {
        "shape": "BulletPoint"
      },
      "type": "list"
    },
    "BusinessReport": {
      "documentation": "<p>Usage report with specified parameters.</p>",
      "members": {
        "DeliveryTime": {
          "documentation": "<p>The time of report delivery.</p>",
          "shape": "BusinessReportDeliveryTime"
        },
        "DownloadUrl": {
          "documentation": "<p>The download link where a user can download the report.</p>",
          "shape": "BusinessReportDownloadUrl"
        },
        "FailureCode": {
          "documentation": "<p>The failure code.</p>",
          "shape": "BusinessReportFailureCode"
        },
        "S3Location": {
          "documentation": "<p>The S3 location of the output reports.</p>",
          "shape": "BusinessReportS3Location"
        },
        "Status": {
          "documentation": "<p>The status of the report generation execution (RUNNING, SUCCEEDED, or FAILED).</p>",
          "shape": "BusinessReportStatus"
        }
      },
      "type": "structure"
    },
    "BusinessReportContentRange": {
      "documentation": "<p>The content range of the report.</p>",
      "members": {
        "Interval": {
          "documentation": "<p>The interval of the content range.</p>",
          "shape": "BusinessReportInterval"
        }
      },
      "type": "structure"
    },
    "BusinessReportDeliveryTime": {
      "type": "timestamp"
    },
    "BusinessReportDownloadUrl": {
      "type": "string"
    },
    "BusinessReportFailureCode": {
      "enum": [
        "ACCESS_DENIED",
        "NO_SUCH_BUCKET",
        "INTERNAL_FAILURE"
      ],
      "type": "string"
    },
    "BusinessReportFormat": {
      "enum": [
        "CSV",
        "CSV_ZIP"
      ],
      "type": "string"
    },
    "BusinessReportInterval": {
      "enum": [
        "ONE_DAY",
        "ONE_WEEK",
        "THIRTY_DAYS"
      ],
      "type": "string"
    },
    "BusinessReportRecurrence": {
      "documentation": "<p>The recurrence of the reports.</p>",
      "members": {
        "StartDate": {
          "documentation": "<p>The start date.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "BusinessReportS3Location": {
      "documentation": "<p>The S3 location of the output reports.</p>",
      "members": {
        "BucketName": {
          "documentation": "<p>The S3 bucket name of the output reports.</p>",
          "shape": "CustomerS3BucketName"
        },
        "Path": {
          "documentation": "<p>The path of the business report.</p>",
          "shape": "BusinessReportS3Path"
        }
      },
      "type": "structure"
    },
    "BusinessReportS3Path": {
      "type": "string"
    },
    "BusinessReportSchedule": {
      "documentation": "<p>The schedule of the usage report.</p>",
      "members": {
        "ContentRange": {
          "documentation": "<p>The content range of the reports.</p>",
          "shape": "BusinessReportContentRange"
        },
        "Format": {
          "documentation": "<p>The format of the generated report (individual CSV files or zipped files of individual files).</p>",
          "shape": "BusinessReportFormat"
        },
        "LastBusinessReport": {
          "documentation": "<p>The details of the last business report delivery for a specified time interval.</p>",
          "shape": "BusinessReport"
        },
        "Recurrence": {
          "documentation": "<p>The recurrence of the reports.</p>",
          "shape": "BusinessReportRecurrence"
        },
        "S3BucketName": {
          "documentation": "<p>The S3 bucket name of the output reports.</p>",
          "shape": "CustomerS3BucketName"
        },
        "S3KeyPrefix": {
          "documentation": "<p>The S3 key where the report is delivered.</p>",
          "shape": "S3KeyPrefix"
        },
        "ScheduleArn": {
          "documentation": "<p>The ARN of the business report schedule.</p>",
          "shape": "Arn"
        },
        "ScheduleName": {
          "documentation": "<p>The name identifier of the schedule.</p>",
          "shape": "BusinessReportScheduleName"
        }
      },
      "type": "structure"
    },
    "BusinessReportScheduleList": {
      "member": {
        "shape": "BusinessReportSchedule"
      },
      "type": "list"
    },
    "BusinessReportScheduleName": {
      "max": 64,
      "min": 0,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "type": "string"
    },
    "BusinessReportStatus": {
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED"
      ],
      "type": "string"
    },
    "Category": {
      "documentation": "<p>The skill store category that is shown. Alexa skills are assigned a specific skill category during creation, such as News, Social, and Sports.</p>",
      "members": {
        "CategoryId": {
          "documentation": "<p>The ID of the skill store category.</p>",
          "shape": "CategoryId"
        },
        "CategoryName": {
          "documentation": "<p>The name of the skill store category.</p>",
          "shape": "CategoryName"
        }
      },
      "type": "structure"
    },
    "CategoryId": {
      "min": 1,
      "type": "long"
    },
    "CategoryList": {
      "member": {
        "shape": "Category"
      },
      "type": "list"
    },
    "CategoryName": {
      "type": "string"
    },
    "CertificateTime": {
      "type": "timestamp"
    },
    "ClientId": {
      "pattern": "^\\S+{1,256}$",
      "type": "string"
    },
    "ClientRequestToken": {
      "documentation": "<p>A unique, user-specified identifier for the request that ensures idempotency.</p>",
      "max": 150,
      "min": 10,
      "pattern": "[a-zA-Z0-9][a-zA-Z0-9_-]*",
      "type": "string"
    },
    "CommsProtocol": {
      "enum": [
        "SIP",
        "SIPS",
        "H323"
      ],
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>There is a concurrent modification of resources.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ConferencePreference": {
      "documentation": "<p>The default conference provider that is used if no other scheduled meetings are detected.</p>",
      "members": {
        "DefaultConferenceProviderArn": {
          "documentation": "<p>The ARN of the default conference provider.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "ConferenceProvider": {
      "documentation": "<p>An entity that provides a conferencing solution. Alexa for Business acts as the voice interface and mediator that connects users to their preferred conference provider. Examples of conference providers include Amazon Chime, Zoom, Cisco, and Polycom. </p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the newly created conference provider.</p>",
          "shape": "Arn"
        },
        "IPDialIn": {
          "documentation": "<p>The IP endpoint and protocol for calling.</p>",
          "shape": "IPDialIn"
        },
        "MeetingSetting": {
          "documentation": "<p>The meeting settings for the conference provider.</p>",
          "shape": "MeetingSetting"
        },
        "Name": {
          "documentation": "<p>The name of the conference provider.</p>",
          "shape": "ConferenceProviderName"
        },
        "PSTNDialIn": {
          "documentation": "<p>The information for PSTN conferencing.</p>",
          "shape": "PSTNDialIn"
        },
        "Type": {
          "documentation": "<p>The type of conference providers.</p>",
          "shape": "ConferenceProviderType"
        }
      },
      "type": "structure"
    },
    "ConferenceProviderName": {
      "max": 50,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "type": "string"
    },
    "ConferenceProviderType": {
      "enum": [
        "CHIME",
        "BLUEJEANS",
        "FUZE",
        "GOOGLE_HANGOUTS",
        "POLYCOM",
        "RINGCENTRAL",
        "SKYPE_FOR_BUSINESS",
        "WEBEX",
        "ZOOM",
        "CUSTOM"
      ],
      "type": "string"
    },
    "ConferenceProvidersList": {
      "member": {
        "shape": "ConferenceProvider"
      },
      "type": "list"
    },
    "ConnectionStatus": {
      "enum": [
        "ONLINE",
        "OFFLINE"
      ],
      "type": "string"
    },
    "ConnectionStatusUpdatedTime": {
      "type": "timestamp"
    },
    "Contact": {
      "documentation": "<p>A contact with attributes.</p>",
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the contact.</p>",
          "shape": "Arn"
        },
        "DisplayName": {
          "documentation": "<p>The name of the contact to display on the console.</p>",
          "shape": "ContactName"
        },
        "FirstName": {
          "documentation": "<p>The first name of the contact, used to call the contact on the device.</p>",
          "shape": "ContactName"
        },
        "LastName": {
          "documentation": "<p>The last name of the contact, used to call the contact on the device.</p>",
          "shape": "ContactName"
        },
        "PhoneNumber": {
          "documentation": "<p>The phone number of the contact. The phone number type defaults to WORK. You can either specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which lets you specify the phone number type and multiple numbers.</p>",
          "shape": "RawPhoneNumber"
        },
        "PhoneNumbers": {
          "documentation": "<p>The list of phone numbers for the contact.</p>",
          "shape": "PhoneNumberList"
        },
        "SipAddresses": {
          "documentation": "<p>The list of SIP addresses for the contact.</p>",
          "shape": "SipAddressList"
        }
      },
      "type": "structure"
    },
    "ContactData": {
      "documentation": "<p>Information related to a contact.</p>",
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the contact.</p>",
          "shape": "Arn"
        },
        "DisplayName": {
          "documentation": "<p>The name of the contact to display on the console.</p>",
          "shape": "ContactName"
        },
        "FirstName": {
          "documentation": "<p>The first name of the contact, used to call the contact on the device.</p>",
          "shape": "ContactName"
        },
        "LastName": {
          "documentation": "<p>The last name of the contact, used to call the contact on the device.</p>",
          "shape": "ContactName"
        },
        "PhoneNumber": {
          "documentation": "<p>The phone number of the contact. The phone number type defaults to WORK. You can specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which lets you specify the phone number type and multiple numbers.</p>",
          "shape": "RawPhoneNumber"
        },
        "PhoneNumbers": {
          "documentation": "<p>The list of phone numbers for the contact.</p>",
          "shape": "PhoneNumberList"
        },
        "SipAddresses": {
          "documentation": "<p>The list of SIP addresses for the contact.</p>",
          "shape": "SipAddressList"
        }
      },
      "type": "structure"
    },
    "ContactDataList": {
      "member": {
        "shape": "ContactData"
      },
      "type": "list"
    },
    "ContactName": {
      "max": 100,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u0085\\u00A0-\\uD7FF\\uE000-\\uFFFD\\u10000-\\u10FFFF]*",
      "type": "string"
    },
    "Content": {
      "documentation": "<p>The content definition. This can contain only one text, SSML, or audio list object.</p>",
      "members": {
        "AudioList": {
          "documentation": "<p>The list of audio messages.</p>",
          "shape": "AudioList"
        },
        "SsmlList": {
          "documentation": "<p>The list of SSML messages.</p>",
          "shape": "SsmlList"
        },
        "TextList": {
          "documentation": "<p>The list of text messages.</p>",
          "shape": "TextList"
        }
      },
      "type": "structure"
    },
    "CountryCode": {
      "pattern": "\\d{1,3}",
      "type": "string"
    },
    "CreateAddressBookRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique, user-specified identifier for the request that ensures idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "documentation": "<p>The description of the address book.</p>",
          "shape": "AddressBookDescription"
        },
        "Name": {
          "documentation": "<p>The name of the address book.</p>",
          "shape": "AddressBookName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateAddressBookResponse": {
      "members": {
        "AddressBookArn": {
          "documentation": "<p>The ARN of the newly created address book.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateBusinessReportScheduleRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>The client request token.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "ContentRange": {
          "documentation": "<p>The content range of the reports.</p>",
          "shape": "BusinessReportContentRange"
        },
        "Format": {
          "documentation": "<p>The format of the generated report (individual CSV files or zipped files of individual files).</p>",
          "shape": "BusinessReportFormat"
        },
        "Recurrence": {
          "documentation": "<p>The recurrence of the reports. If this isn't specified, the report will only be delivered one time when the API is called. </p>",
          "shape": "BusinessReportRecurrence"
        },
        "S3BucketName": {
          "documentation": "<p>The S3 bucket name of the output reports. If this isn't specified, the report can be retrieved from a download link by calling ListBusinessReportSchedule. </p>",
          "shape": "CustomerS3BucketName"
        },
        "S3KeyPrefix": {
          "documentation": "<p>The S3 key where the report is delivered.</p>",
          "shape": "S3KeyPrefix"
        },
        "ScheduleName": {
          "documentation": "<p>The name identifier of the schedule.</p>",
          "shape": "BusinessReportScheduleName"
        }
      },
      "required": [
        "Format",
        "ContentRange"
      ],
      "type": "structure"
    },
    "CreateBusinessReportScheduleResponse": {
      "members": {
        "ScheduleArn": {
          "documentation": "<p>The ARN of the business report schedule.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateConferenceProviderRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>The request token of the client.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "ConferenceProviderName": {
          "documentation": "<p>The name of the conference provider.</p>",
          "shape": "ConferenceProviderName"
        },
        "ConferenceProviderType": {
          "documentation": "<p>Represents a type within a list of predefined types.</p>",
          "shape": "ConferenceProviderType"
        },
        "IPDialIn": {
          "documentation": "<p>The IP endpoint and protocol for calling.</p>",
          "shape": "IPDialIn"
        },
        "MeetingSetting": {
          "documentation": "<p>The meeting settings for the conference provider.</p>",
          "shape": "MeetingSetting"
        },
        "PSTNDialIn": {
          "documentation": "<p>The information for PSTN conferencing.</p>",
          "shape": "PSTNDialIn"
        }
      },
      "required": [
        "ConferenceProviderName",
        "ConferenceProviderType",
        "MeetingSetting"
      ],
      "type": "structure"
    },
    "CreateConferenceProviderResponse": {
      "members": {
        "ConferenceProviderArn": {
          "documentation": "<p>The ARN of the newly-created conference provider.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateContactRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "DisplayName": {
          "documentation": "<p>The name of the contact to display on the console.</p>",
          "shape": "ContactName"
        },
        "FirstName": {
          "documentation": "<p>The first name of the contact that is used to call the contact on the device.</p>",
          "shape": "ContactName"
        },
        "LastName": {
          "documentation": "<p>The last name of the contact that is used to call the contact on the device.</p>",
          "shape": "ContactName"
        },
        "PhoneNumber": {
          "documentation": "<p>The phone number of the contact in E.164 format. The phone number type defaults to WORK. You can specify PhoneNumber or PhoneNumbers. We recommend that you use PhoneNumbers, which lets you specify the phone number type and multiple numbers.</p>",
          "shape": "RawPhoneNumber"
        },
        "PhoneNumbers": {
          "documentation": "<p>The list of phone numbers for the contact.</p>",
          "shape": "PhoneNumberList"
        },
        "SipAddresses": {
          "documentation": "<p>The list of SIP addresses for the contact.</p>",
          "shape": "SipAddressList"
        }
      },
      "required": [
        "FirstName"
      ],
      "type": "structure"
    },
    "CreateContactResponse": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the newly created address book.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateEndOfMeetingReminder": {
      "documentation": "<p>Creates settings for the end of meeting reminder feature that are applied to a room profile. The end of meeting reminder enables Alexa to remind users when a meeting is ending.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Whether an end of meeting reminder is enabled or not.</p>",
          "shape": "Boolean"
        },
        "ReminderAtMinutes": {
          "documentation": "<p> A range of 3 to 15 minutes that determines when the reminder begins.</p>",
          "shape": "EndOfMeetingReminderMinutesList"
        },
        "ReminderType": {
          "documentation": "<p>The type of sound that users hear during the end of meeting reminder. </p>",
          "shape": "EndOfMeetingReminderType"
        }
      },
      "required": [
        "ReminderAtMinutes",
        "ReminderType",
        "Enabled"
      ],
      "type": "structure"
    },
    "CreateGatewayGroupRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p> A unique, user-specified identifier for the request that ensures idempotency.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "documentation": "<p>The description of the gateway group.</p>",
          "shape": "GatewayGroupDescription"
        },
        "Name": {
          "documentation": "<p>The name of the gateway group.</p>",
          "shape": "GatewayGroupName"
        }
      },
      "required": [
        "Name",
        "ClientRequestToken"
      ],
      "type": "structure"
    },
    "CreateGatewayGroupResponse": {
      "members": {
        "GatewayGroupArn": {
          "documentation": "<p>The ARN of the created gateway group.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateInstantBooking": {
      "documentation": "<p>Creates settings for the instant booking feature that are applied to a room profile. When users start their meeting with Alexa, Alexa automatically books the room for the configured duration if the room is available.</p>",
      "members": {
        "DurationInMinutes": {
          "documentation": "<p>Duration between 15 and 240 minutes at increments of 15 that determines how long to book an available room when a meeting is started with Alexa.</p>",
          "shape": "Minutes"
        },
        "Enabled": {
          "documentation": "<p>Whether instant booking is enabled or not.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "DurationInMinutes",
        "Enabled"
      ],
      "type": "structure"
    },
    "CreateMeetingRoomConfiguration": {
      "documentation": "<p>Creates meeting room settings of a room profile.</p>",
      "members": {
        "EndOfMeetingReminder": {
          "shape": "CreateEndOfMeetingReminder"
        },
        "InstantBooking": {
          "documentation": "<p>Settings to automatically book a room for a configured duration if it's free when joining a meeting with Alexa.</p>",
          "shape": "CreateInstantBooking"
        },
        "RequireCheckIn": {
          "documentation": "<p>Settings for requiring a check in when a room is reserved. Alexa can cancel a room reservation if it's not checked into to make the room available for others. Users can check in by joining the meeting with Alexa or an AVS device, or by saying \u201cAlexa, check in.\u201d</p>",
          "shape": "CreateRequireCheckIn"
        },
        "RoomUtilizationMetricsEnabled": {
          "documentation": "<p>Whether room utilization metrics are enabled or not.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "CreateNetworkProfileRequest": {
      "members": {
        "CertificateAuthorityArn": {
          "documentation": "<p>The ARN of the Private Certificate Authority (PCA) created in AWS Certificate Manager (ACM). This is used to issue certificates to the devices. </p>",
          "shape": "Arn"
        },
        "ClientRequestToken": {
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "CurrentPassword": {
          "documentation": "<p>The current password of the Wi-Fi network.</p>",
          "shape": "CurrentWiFiPassword"
        },
        "Description": {
          "documentation": "<p>Detailed information about a device's network profile.</p>",
          "shape": "NetworkProfileDescription"
        },
        "EapMethod": {
          "documentation": "<p>The authentication standard that is used in the EAP framework. Currently, EAP_TLS is supported.</p>",
          "shape": "NetworkEapMethod"
        },
        "NetworkProfileName": {
          "documentation": "<p>The name of the network profile associated with a device.</p>",
          "shape": "NetworkProfileName"
        },
        "NextPassword": {
          "documentation": "<p>The next, or subsequent, password of the Wi-Fi network. This password is asynchronously transmitted to the device and is used when the password of the network changes to NextPassword. </p>",
          "shape": "NextWiFiPassword"
        },
        "SecurityType": {
          "documentation": "<p>The security type of the Wi-Fi network. This can be WPA2_ENTERPRISE, WPA2_PSK, WPA_PSK, WEP, or OPEN.</p>",
          "shape": "NetworkSecurityType"
        },
        "Ssid": {
          "documentation": "<p>The SSID of the Wi-Fi network.</p>",
          "shape": "NetworkSsid"
        },
        "TrustAnchors": {
          "documentation": "<p>The root certificates of your authentication server that is installed on your devices and used to trust your authentication server during EAP negotiation. </p>",
          "shape": "TrustAnchorList"
        }
      },
      "required": [
        "NetworkProfileName",
        "Ssid",
        "SecurityType",
        "ClientRequestToken"
      ],
      "type": "structure"
    },
    "CreateNetworkProfileResponse": {
      "members": {
        "NetworkProfileArn": {
          "documentation": "<p>The ARN of the network profile associated with a device.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateProfileRequest": {
      "members": {
        "Address": {
          "documentation": "<p>The valid address for the room.</p>",
          "shape": "Address"
        },
        "ClientRequestToken": {
          "documentation": "<p>The user-specified token that is used during the creation of a profile.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "DistanceUnit": {
          "documentation": "<p>The distance unit to be used by devices in the profile.</p>",
          "shape": "DistanceUnit"
        },
        "Locale": {
          "documentation": "<p>The locale of the room profile. (This is currently only available to a limited preview audience.)</p>",
          "shape": "DeviceLocale"
        },
        "MaxVolumeLimit": {
          "documentation": "<p>The maximum volume limit for a room profile.</p>",
          "shape": "MaxVolumeLimit"
        },
        "MeetingRoomConfiguration": {
          "documentation": "<p>The meeting room settings of a room profile.</p>",
          "shape": "CreateMeetingRoomConfiguration"
        },
        "PSTNEnabled": {
          "documentation": "<p>Whether PSTN calling is enabled.</p>",
          "shape": "Boolean"
        },
        "ProfileName": {
          "documentation": "<p>The name of a room profile.</p>",
          "shape": "ProfileName"
        },
        "SetupModeDisabled": {
          "documentation": "<p>Whether room profile setup is enabled.</p>",
          "shape": "Boolean"
        },
        "TemperatureUnit": {
          "documentation": "<p>The temperature unit to be used by devices in the profile.</p>",
          "shape": "TemperatureUnit"
        },
        "Timezone": {
          "documentation": "<p>The time zone used by a room profile.</p>",
          "shape": "Timezone"
        },
        "WakeWord": {
          "documentation": "<p>A wake word for Alexa, Echo, Amazon, or a computer.</p>",
          "shape": "WakeWord"
        }
      },
      "required": [
        "ProfileName",
        "Timezone",
        "Address",
        "DistanceUnit",
        "TemperatureUnit",
        "WakeWord"
      ],
      "type": "structure"
    },
    "CreateProfileResponse": {
      "members": {
        "ProfileArn": {
          "documentation": "<p>The ARN of the newly created room profile in the response.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateRequireCheckIn": {
      "documentation": "<p>Creates settings for the require check in feature that are applied to a room profile. Require check in allows a meeting room\u2019s Alexa or AVS device to prompt the user to check in; otherwise, the room will be released.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Whether require check in is enabled or not.</p>",
          "shape": "Boolean"
        },
        "ReleaseAfterMinutes": {
          "documentation": "<p>Duration between 5 and 20 minutes to determine when to release the room if it's not checked into.</p>",
          "shape": "Minutes"
        }
      },
      "required": [
        "ReleaseAfterMinutes",
        "Enabled"
      ],
      "type": "structure"
    },
    "CreateRoomRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "documentation": "<p>The description for the room.</p>",
          "shape": "RoomDescription"
        },
        "ProfileArn": {
          "documentation": "<p>The profile ARN for the room.</p>",
          "shape": "Arn"
        },
        "ProviderCalendarId": {
          "documentation": "<p>The calendar ARN for the room.</p>",
          "shape": "ProviderCalendarId"
        },
        "RoomName": {
          "documentation": "<p>The name for the room.</p>",
          "shape": "RoomName"
        },
        "Tags": {
          "documentation": "<p>The tags for the room.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "RoomName"
      ],
      "type": "structure"
    },
    "CreateRoomResponse": {
      "members": {
        "RoomArn": {
          "documentation": "<p>The ARN of the newly created room in the response.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateSkillGroupRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Description": {
          "documentation": "<p>The description for the skill group.</p>",
          "shape": "SkillGroupDescription"
        },
        "SkillGroupName": {
          "documentation": "<p>The name for the skill group.</p>",
          "shape": "SkillGroupName"
        }
      },
      "required": [
        "SkillGroupName"
      ],
      "type": "structure"
    },
    "CreateSkillGroupResponse": {
      "members": {
        "SkillGroupArn": {
          "documentation": "<p>The ARN of the newly created skill group in the response.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique, user-specified identifier for this request that ensures idempotency. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "Email": {
          "documentation": "<p>The email address for the user.</p>",
          "shape": "Email"
        },
        "FirstName": {
          "documentation": "<p>The first name for the user.</p>",
          "shape": "user_FirstName"
        },
        "LastName": {
          "documentation": "<p>The last name for the user.</p>",
          "shape": "user_LastName"
        },
        "Tags": {
          "documentation": "<p>The tags for the user.</p>",
          "shape": "TagList"
        },
        "UserId": {
          "documentation": "<p>The ARN for the user.</p>",
          "shape": "user_UserId"
        }
      },
      "required": [
        "UserId"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {
        "UserArn": {
          "documentation": "<p>The ARN of the newly created user in the response.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CurrentWiFiPassword": {
      "max": 128,
      "min": 5,
      "pattern": "[\\x00-\\x7F]*",
      "sensitive": true,
      "type": "string"
    },
    "CustomerS3BucketName": {
      "pattern": "[a-z0-9-\\.]{3,63}",
      "type": "string"
    },
    "Date": {
      "pattern": "^\\d{4}\\-(0?[1-9]|1[012])\\-(0?[1-9]|[12][0-9]|3[01])$",
      "type": "string"
    },
    "DeleteAddressBookRequest": {
      "members": {
        "AddressBookArn": {
          "documentation": "<p>The ARN of the address book to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "AddressBookArn"
      ],
      "type": "structure"
    },
    "DeleteAddressBookResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteBusinessReportScheduleRequest": {
      "members": {
        "ScheduleArn": {
          "documentation": "<p>The ARN of the business report schedule.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ScheduleArn"
      ],
      "type": "structure"
    },
    "DeleteBusinessReportScheduleResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteConferenceProviderRequest": {
      "members": {
        "ConferenceProviderArn": {
          "documentation": "<p>The ARN of the conference provider.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ConferenceProviderArn"
      ],
      "type": "structure"
    },
    "DeleteConferenceProviderResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteContactRequest": {
      "members": {
        "ContactArn": {
          "documentation": "<p>The ARN of the contact to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ContactArn"
      ],
      "type": "structure"
    },
    "DeleteContactResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDeviceRequest": {
      "members": {
        "DeviceArn": {
          "documentation": "<p>The ARN of the device for which to request details.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "DeviceArn"
      ],
      "type": "structure"
    },
    "DeleteDeviceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteDeviceUsageDataRequest": {
      "members": {
        "DeviceArn": {
          "documentation": "<p>The ARN of the device.</p>",
          "shape": "Arn"
        },
        "DeviceUsageType": {
          "documentation": "<p>The type of usage data to delete.</p>",
          "shape": "DeviceUsageType"
        }
      },
      "required": [
        "DeviceArn",
        "DeviceUsageType"
      ],
      "type": "structure"
    },
    "DeleteDeviceUsageDataResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGatewayGroupRequest": {
      "members": {
        "GatewayGroupArn": {
          "documentation": "<p>The ARN of the gateway group to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "GatewayGroupArn"
      ],
      "type": "structure"
    },
    "DeleteGatewayGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteNetworkProfileRequest": {
      "members": {
        "NetworkProfileArn": {
          "documentation": "<p>The ARN of the network profile associated with a device.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "NetworkProfileArn"
      ],
      "type": "structure"
    },
    "DeleteNetworkProfileResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteProfileRequest": {
      "members": {
        "ProfileArn": {
          "documentation": "<p>The ARN of the room profile to delete. Required.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DeleteProfileResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRoomRequest": {
      "members": {
        "RoomArn": {
          "documentation": "<p>The ARN of the room to delete. Required.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DeleteRoomResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRoomSkillParameterRequest": {
      "members": {
        "ParameterKey": {
          "documentation": "<p>The room skill parameter key for which to remove details.</p>",
          "shape": "RoomSkillParameterKey"
        },
        "RoomArn": {
          "documentation": "<p>The ARN of the room from which to remove the room skill parameter details.</p>",
          "shape": "Arn"
        },
        "SkillId": {
          "documentation": "<p>The ID of the skill from which to remove the room skill parameter details.</p>",
          "shape": "SkillId"
        }
      },
      "required": [
        "SkillId",
        "ParameterKey"
      ],
      "type": "structure"
    },
    "DeleteRoomSkillParameterResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSkillAuthorizationRequest": {
      "members": {
        "RoomArn": {
          "documentation": "<p>The room that the skill is authorized for.</p>",
          "shape": "Arn"
        },
        "SkillId": {
          "documentation": "<p>The unique identifier of a skill.</p>",
          "shape": "SkillId"
        }
      },
      "required": [
        "SkillId"
      ],
      "type": "structure"
    },
    "DeleteSkillAuthorizationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSkillGroupRequest": {
      "members": {
        "SkillGroupArn": {
          "documentation": "<p>The ARN of the skill group to delete. Required.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DeleteSkillGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "EnrollmentId": {
          "documentation": "<p>The ARN of the user's enrollment in the organization. Required.</p>",
          "shape": "EnrollmentId"
        },
        "UserArn": {
          "documentation": "<p>The ARN of the user to delete in the organization. Required.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "EnrollmentId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DeveloperInfo": {
      "documentation": "<p>The details about the developer that published the skill.</p>",
      "members": {
        "DeveloperName": {
          "documentation": "<p>The name of the developer.</p>",
          "shape": "DeveloperName"
        },
        "Email": {
          "documentation": "<p>The email of the developer.</p>",
          "shape": "Email"
        },
        "PrivacyPolicy": {
          "documentation": "<p>The URL of the privacy policy.</p>",
          "shape": "PrivacyPolicy"
        },
        "Url": {
          "documentation": "<p>The website of the developer.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "DeveloperName": {
      "type": "string"
    },
    "Device": {
      "documentation": "<p>A device with attributes.</p>",
      "members": {
        "DeviceArn": {
          "documentation": "<p>The ARN of a device.</p>",
          "shape": "Arn"
        },
        "DeviceName": {
          "documentation": "<p>The name of a device.</p>",
          "shape": "DeviceName"
        },
        "DeviceSerialNumber": {
          "documentation": "<p>The serial number of a device.</p>",
          "shape": "DeviceSerialNumber"
        },
        "DeviceStatus": {
          "documentation": "<p>The status of a device. If the status is not READY, check the DeviceStatusInfo value for details.</p>",
          "shape": "DeviceStatus"
        },
        "DeviceStatusInfo": {
          "documentation": "<p>Detailed information about a device's status.</p>",
          "shape": "DeviceStatusInfo"
        },
        "DeviceType": {
          "documentation": "<p>The type of a device.</p>",
          "shape": "DeviceType"
        },
        "MacAddress": {
          "documentation": "<p>The MAC address of a device.</p>",
          "shape": "MacAddress"
        },
        "NetworkProfileInfo": {
          "documentation": "<p>Detailed information about a device's network profile.</p>",
          "shape": "DeviceNetworkProfileInfo"
        },
        "RoomArn": {
          "documentation": "<p>The room ARN of a device.</p>",
          "shape": "Arn"
        },
        "SoftwareVersion": {
          "documentation": "<p>The software version of a device.</p>",
          "shape": "SoftwareVersion"
        }
      },
      "type": "structure"
    },
    "DeviceData": {
      "documentation": "<p>Device attributes.</p>",
      "members": {
        "CreatedTime": {
          "documentation": "<p>The time (in epoch) when the device data was created.</p>",
          "shape": "DeviceDataCreatedTime"
        },
        "DeviceArn": {
          "documentation": "<p>The ARN of a device.</p>",
          "shape": "Arn"
        },
        "DeviceName": {
          "documentation": "<p>The name of a device.</p>",
          "shape": "DeviceName"
        },
        "DeviceSerialNumber": {
          "documentation": "<p>The serial number of a device.</p>",
          "shape": "DeviceSerialNumber"
        },
        "DeviceStatus": {
          "documentation": "<p>The status of a device.</p>",
          "shape": "DeviceStatus"
        },
        "DeviceStatusInfo": {
          "documentation": "<p>Detailed information about a device's status.</p>",
          "shape": "DeviceStatusInfo"
        },
        "DeviceType": {
[...]
