{
  "documentation": "<p>This is the <i>AWS WAF Regional API Reference</i> for using AWS WAF with Elastic Load Balancing (ELB) Application Load Balancers. The AWS WAF actions and data types listed in the reference are available for protecting Application Load Balancers. You can use these actions and data types by means of the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Regions and Endpoints</a>. This guide is for developers who need detailed information about the AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use the AWS WAF API, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2016-11-28",
    "endpointPrefix": "waf-regional",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "WAF Regional",
    "serviceFullName": "AWS WAF Regional",
    "serviceId": "WAF Regional",
    "signatureVersion": "v4",
    "targetPrefix": "AWSWAF_Regional_20161128",
    "uid": "waf-regional-2016-11-28"
  },
  "operations": {
    "AssociateWebACL": {
      "documentation": "<p>Associates a web ACL with a resource, either an application load balancer or Amazon API Gateway stage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateWebACLRequest"
      },
      "name": "AssociateWebACL",
      "output": {
        "shape": "AssociateWebACLResponse"
      }
    },
    "CreateByteMatchSet": {
      "documentation": "<p>Creates a <code>ByteMatchSet</code>. You then use <a>UpdateByteMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>ByteMatchSet</code> that matches any requests with <code>User-Agent</code> headers that contain the string <code>BadBot</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateByteMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateByteMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateByteMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateByteMatchSetRequest"
      },
      "name": "CreateByteMatchSet",
      "output": {
        "shape": "CreateByteMatchSetResponse"
      }
    },
    "CreateGeoMatchSet": {
      "documentation": "<p>Creates an <a>GeoMatchSet</a>, which you use to specify which web requests you want to allow or block based on the country that the requests originate from. For example, if you're receiving a lot of requests from one or more countries and you want to block the requests, you can create an <code>GeoMatchSet</code> that contains those countries and then configure AWS WAF to block the requests. </p> <p>To create and configure a <code>GeoMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateGeoMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateGeoMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateGeoMatchSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateGeoMatchSetSet</code> request to specify the countries that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGeoMatchSetRequest"
      },
      "name": "CreateGeoMatchSet",
      "output": {
        "shape": "CreateGeoMatchSetResponse"
      }
    },
    "CreateIPSet": {
      "documentation": "<p>Creates an <a>IPSet</a>, which you use to specify which web requests that you want to allow or block based on the IP addresses that the requests originate from. For example, if you're receiving a lot of requests from one or more individual IP addresses or one or more ranges of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that contains those IP addresses and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateIPSet</code> request.</p> </li> <li> <p>Submit a <code>CreateIPSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIPSetRequest"
      },
      "name": "CreateIPSet",
      "output": {
        "shape": "CreateIPSetResponse"
      }
    },
    "CreateRateBasedRule": {
      "documentation": "<p>Creates a <a>RateBasedRule</a>. The <code>RateBasedRule</code> contains a <code>RateLimit</code>, which specifies the maximum number of requests that AWS WAF allows from a specified IP address in a five-minute period. The <code>RateBasedRule</code> also contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to count or block if these requests exceed the <code>RateLimit</code>.</p> <p>If you add more than one predicate to a <code>RateBasedRule</code>, a request not only must exceed the <code>RateLimit</code>, but it also must match all the specifications to be counted or blocked. For example, suppose you add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>You then add the <code>RateBasedRule</code> to a <code>WebACL</code> and specify that you want to block requests that meet the conditions in the rule. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>. Further, requests that match these two conditions must be received at a rate of more than 15,000 requests every five minutes. If both conditions are met and the rate is exceeded, AWS WAF blocks the requests. If the rate drops below 15,000 for a five-minute period, AWS WAF no longer blocks the requests.</p> <p>As a second example, suppose you want to limit requests to a particular page on your site. To do this, you could add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>A <code>ByteMatchSet</code> with <code>FieldToMatch</code> of <code>URI</code> </p> </li> <li> <p>A <code>PositionalConstraint</code> of <code>STARTS_WITH</code> </p> </li> <li> <p>A <code>TargetString</code> of <code>login</code> </p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>By adding this <code>RateBasedRule</code> to a <code>WebACL</code>, you could limit requests to your login page without affecting the rest of your site.</p> <p>To create and configure a <code>RateBasedRule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the rule. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</p> </li> <li> <p>Submit a <code>CreateRateBasedRule</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRateBasedRule</code> request to specify the predicates that you want to include in the rule.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>RateBasedRule</code>. For more information, see <a>CreateWebACL</a>.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFBadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRateBasedRuleRequest"
      },
      "name": "CreateRateBasedRule",
      "output": {
        "shape": "CreateRateBasedRuleResponse"
      }
    },
    "CreateRegexMatchSet": {
      "documentation": "<p>Creates a <a>RegexMatchSet</a>. You then use <a>UpdateRegexMatchSet</a> to identify the part of a web request that you want AWS WAF to inspect, such as the values of the <code>User-Agent</code> header or the query string. For example, you can create a <code>RegexMatchSet</code> that contains a <code>RegexMatchTuple</code> that looks for any requests with <code>User-Agent</code> headers that match a <code>RegexPatternSet</code> with pattern <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>RegexMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRegexMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateRegexMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateRegexMatchSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateRegexMatchSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value, using a <code>RegexPatternSet</code>, that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRegexMatchSetRequest"
      },
      "name": "CreateRegexMatchSet",
      "output": {
        "shape": "CreateRegexMatchSetResponse"
      }
    },
    "CreateRegexPatternSet": {
      "documentation": "<p>Creates a <code>RegexPatternSet</code>. You then use <a>UpdateRegexPatternSet</a> to specify the regular expression (regex) pattern that you want AWS WAF to search for, such as <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>RegexPatternSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRegexPatternSet</code> request.</p> </li> <li> <p>Submit a <code>CreateRegexPatternSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateRegexPatternSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateRegexPatternSet</a> request to specify the string that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRegexPatternSetRequest"
      },
      "name": "CreateRegexPatternSet",
      "output": {
        "shape": "CreateRegexPatternSetResponse"
      }
    },
    "CreateRule": {
      "documentation": "<p>Creates a <code>Rule</code>, which contains the <code>IPSet</code> objects, <code>ByteMatchSet</code> objects, and other predicates that identify the requests that you want to block. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed or blocked. For example, suppose that you add the following to a <code>Rule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to blocks requests that satisfy the <code>Rule</code>. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the <code>Rule</code>. For more information, see <a>CreateByteMatchSet</a>, <a>CreateIPSet</a>, and <a>CreateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateRule</code> request.</p> </li> <li> <p>Submit a <code>CreateRule</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRule</code> request to specify the predicates that you want to include in the <code>Rule</code>.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. For more information, see <a>CreateWebACL</a>.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFBadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleRequest"
      },
      "name": "CreateRule",
      "output": {
        "shape": "CreateRuleResponse"
      }
    },
    "CreateRuleGroup": {
      "documentation": "<p>Creates a <code>RuleGroup</code>. A rule group is a collection of predefined rules that you add to a web ACL. You use <a>UpdateRuleGroup</a> to add rules to the rule group.</p> <p>Rule groups are subject to the following limits:</p> <ul> <li> <p>Three rule groups per account. You can request an increase to this limit by contacting customer support.</p> </li> <li> <p>One rule group per web ACL.</p> </li> <li> <p>Ten rules per rule group.</p> </li> </ul> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFBadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleGroupRequest"
      },
      "name": "CreateRuleGroup",
      "output": {
        "shape": "CreateRuleGroupResponse"
      }
    },
    "CreateSizeConstraintSet": {
      "documentation": "<p>Creates a <code>SizeConstraintSet</code>. You then use <a>UpdateSizeConstraintSet</a> to identify the part of a web request that you want AWS WAF to check for length, such as the length of the <code>User-Agent</code> header or the length of the query string. For example, you can create a <code>SizeConstraintSet</code> that matches any requests that have a query string that is longer than 100 bytes. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSizeConstraintSet</code> request.</p> </li> <li> <p>Submit a <code>CreateSizeConstraintSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateSizeConstraintSet</code> request.</p> </li> <li> <p>Submit an <a>UpdateSizeConstraintSet</a> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSizeConstraintSetRequest"
      },
      "name": "CreateSizeConstraintSet",
      "output": {
        "shape": "CreateSizeConstraintSetResponse"
      }
    },
    "CreateSqlInjectionMatchSet": {
      "documentation": "<p>Creates a <a>SqlInjectionMatchSet</a>, which you use to allow, block, or count requests that contain snippets of SQL code in a specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure a <code>SqlInjectionMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateSqlInjectionMatchSet</a> request.</p> </li> <li> <p>Submit an <a>UpdateSqlInjectionMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count malicious SQL code.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSqlInjectionMatchSetRequest"
      },
      "name": "CreateSqlInjectionMatchSet",
      "output": {
        "shape": "CreateSqlInjectionMatchSetResponse"
      }
    },
    "CreateWebACL": {
      "documentation": "<p>Creates a <code>WebACL</code>, which contains the <code>Rules</code> that identify the CloudFront web requests that you want to allow, block, or count. AWS WAF evaluates <code>Rules</code> in order based on the value of <code>Priority</code> for each <code>Rule</code>.</p> <p>You also specify a default action, either <code>ALLOW</code> or <code>BLOCK</code>. If a web request doesn't match any of the <code>Rules</code> in a <code>WebACL</code>, AWS WAF responds to the request with the default action. </p> <p>To create and configure a <code>WebACL</code>, perform the following steps:</p> <ol> <li> <p>Create and update the <code>ByteMatchSet</code> objects and other predicates that you want to include in <code>Rules</code>. For more information, see <a>CreateByteMatchSet</a>, <a>UpdateByteMatchSet</a>, <a>CreateIPSet</a>, <a>UpdateIPSet</a>, <a>CreateSqlInjectionMatchSet</a>, and <a>UpdateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Create and update the <code>Rules</code> that you want to include in the <code>WebACL</code>. For more information, see <a>CreateRule</a> and <a>UpdateRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateWebACL</code> request.</p> </li> <li> <p>Submit a <code>CreateWebACL</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateWebACL</a> request.</p> </li> <li> <p>Submit an <a>UpdateWebACL</a> request to specify the <code>Rules</code> that you want to include in the <code>WebACL</code>, to specify the default action, and to associate the <code>WebACL</code> with a CloudFront distribution.</p> </li> </ol> <p>For more information about how to use the AWS WAF API, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFBadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWebACLRequest"
      },
      "name": "CreateWebACL",
      "output": {
        "shape": "CreateWebACLResponse"
      }
    },
    "CreateXssMatchSet": {
      "documentation": "<p>Creates an <a>XssMatchSet</a>, which you use to allow, block, or count requests that contain cross-site scripting attacks in the specified part of web requests. AWS WAF searches for character sequences that are likely to be malicious strings.</p> <p>To create and configure an <code>XssMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>CreateXssMatchSet</code> request.</p> </li> <li> <p>Submit a <code>CreateXssMatchSet</code> request.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateXssMatchSet</a> request.</p> </li> <li> <p>Submit an <a>UpdateXssMatchSet</a> request to specify the parts of web requests in which you want to allow, block, or count cross-site scripting attacks.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateXssMatchSetRequest"
      },
      "name": "CreateXssMatchSet",
      "output": {
        "shape": "CreateXssMatchSetResponse"
      }
    },
    "DeleteByteMatchSet": {
      "documentation": "<p>Permanently deletes a <a>ByteMatchSet</a>. You can't delete a <code>ByteMatchSet</code> if it's still used in any <code>Rules</code> or if it still includes any <a>ByteMatchTuple</a> objects (any filters).</p> <p>If you just want to remove a <code>ByteMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>ByteMatchSet</code> to remove filters, if any. For more information, see <a>UpdateByteMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteByteMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteByteMatchSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteByteMatchSetRequest"
      },
      "name": "DeleteByteMatchSet",
      "output": {
        "shape": "DeleteByteMatchSetResponse"
      }
    },
    "DeleteGeoMatchSet": {
      "documentation": "<p>Permanently deletes a <a>GeoMatchSet</a>. You can't delete a <code>GeoMatchSet</code> if it's still used in any <code>Rules</code> or if it still includes any countries.</p> <p>If you just want to remove a <code>GeoMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>GeoMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>GeoMatchSet</code> to remove any countries. For more information, see <a>UpdateGeoMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteGeoMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteGeoMatchSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGeoMatchSetRequest"
      },
      "name": "DeleteGeoMatchSet",
      "output": {
        "shape": "DeleteGeoMatchSetResponse"
      }
    },
    "DeleteIPSet": {
      "documentation": "<p>Permanently deletes an <a>IPSet</a>. You can't delete an <code>IPSet</code> if it's still used in any <code>Rules</code> or if it still includes any IP addresses.</p> <p>If you just want to remove an <code>IPSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>IPSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>IPSet</code> to remove IP address ranges, if any. For more information, see <a>UpdateIPSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteIPSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteIPSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIPSetRequest"
      },
      "name": "DeleteIPSet",
      "output": {
        "shape": "DeleteIPSetResponse"
      }
    },
    "DeleteLoggingConfiguration": {
      "documentation": "<p>Permanently deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFStaleDataException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoggingConfigurationRequest"
      },
      "name": "DeleteLoggingConfiguration",
      "output": {
        "shape": "DeleteLoggingConfigurationResponse"
      }
    },
    "DeletePermissionPolicy": {
      "documentation": "<p>Permanently deletes an IAM policy from the specified RuleGroup.</p> <p>The user making the request must be the owner of the RuleGroup.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePermissionPolicyRequest"
      },
      "name": "DeletePermissionPolicy",
      "output": {
        "shape": "DeletePermissionPolicyResponse"
      }
    },
    "DeleteRateBasedRule": {
      "documentation": "<p>Permanently deletes a <a>RateBasedRule</a>. You can't delete a rule if it's still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a rule from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>RateBasedRule</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>RateBasedRule</code> to remove predicates, if any. For more information, see <a>UpdateRateBasedRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRateBasedRule</code> request.</p> </li> <li> <p>Submit a <code>DeleteRateBasedRule</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRateBasedRuleRequest"
      },
      "name": "DeleteRateBasedRule",
      "output": {
        "shape": "DeleteRateBasedRuleResponse"
      }
    },
    "DeleteRegexMatchSet": {
      "documentation": "<p>Permanently deletes a <a>RegexMatchSet</a>. You can't delete a <code>RegexMatchSet</code> if it's still used in any <code>Rules</code> or if it still includes any <code>RegexMatchTuples</code> objects (any filters).</p> <p>If you just want to remove a <code>RegexMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>RegexMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>RegexMatchSet</code> to remove filters, if any. For more information, see <a>UpdateRegexMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRegexMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteRegexMatchSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRegexMatchSetRequest"
      },
      "name": "DeleteRegexMatchSet",
      "output": {
        "shape": "DeleteRegexMatchSetResponse"
      }
    },
    "DeleteRegexPatternSet": {
      "documentation": "<p>Permanently deletes a <a>RegexPatternSet</a>. You can't delete a <code>RegexPatternSet</code> if it's still used in any <code>RegexMatchSet</code> or if the <code>RegexPatternSet</code> is not empty. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRegexPatternSetRequest"
      },
      "name": "DeleteRegexPatternSet",
      "output": {
        "shape": "DeleteRegexPatternSetResponse"
      }
    },
    "DeleteRule": {
      "documentation": "<p>Permanently deletes a <a>Rule</a>. You can't delete a <code>Rule</code> if it's still used in any <code>WebACL</code> objects or if it still includes any predicates, such as <code>ByteMatchSet</code> objects.</p> <p>If you just want to remove a <code>Rule</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>Rule</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>Rule</code> to remove predicates, if any. For more information, see <a>UpdateRule</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRule</code> request.</p> </li> <li> <p>Submit a <code>DeleteRule</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleRequest"
      },
      "name": "DeleteRule",
      "output": {
        "shape": "DeleteRuleResponse"
      }
    },
    "DeleteRuleGroup": {
      "documentation": "<p>Permanently deletes a <a>RuleGroup</a>. You can't delete a <code>RuleGroup</code> if it's still used in any <code>WebACL</code> objects or if it still includes any rules.</p> <p>If you just want to remove a <code>RuleGroup</code> from a <code>WebACL</code>, use <a>UpdateWebACL</a>.</p> <p>To permanently delete a <code>RuleGroup</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>RuleGroup</code> to remove rules, if any. For more information, see <a>UpdateRuleGroup</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteRuleGroup</code> request.</p> </li> <li> <p>Submit a <code>DeleteRuleGroup</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleGroupRequest"
      },
      "name": "DeleteRuleGroup",
      "output": {
        "shape": "DeleteRuleGroupResponse"
      }
    },
    "DeleteSizeConstraintSet": {
      "documentation": "<p>Permanently deletes a <a>SizeConstraintSet</a>. You can't delete a <code>SizeConstraintSet</code> if it's still used in any <code>Rules</code> or if it still includes any <a>SizeConstraint</a> objects (any filters).</p> <p>If you just want to remove a <code>SizeConstraintSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SizeConstraintSet</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>SizeConstraintSet</code> to remove filters, if any. For more information, see <a>UpdateSizeConstraintSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSizeConstraintSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteSizeConstraintSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSizeConstraintSetRequest"
      },
      "name": "DeleteSizeConstraintSet",
      "output": {
        "shape": "DeleteSizeConstraintSetResponse"
      }
    },
    "DeleteSqlInjectionMatchSet": {
      "documentation": "<p>Permanently deletes a <a>SqlInjectionMatchSet</a>. You can't delete a <code>SqlInjectionMatchSet</code> if it's still used in any <code>Rules</code> or if it still contains any <a>SqlInjectionMatchTuple</a> objects.</p> <p>If you just want to remove a <code>SqlInjectionMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete a <code>SqlInjectionMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>SqlInjectionMatchSet</code> to remove filters, if any. For more information, see <a>UpdateSqlInjectionMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteSqlInjectionMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteSqlInjectionMatchSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSqlInjectionMatchSetRequest"
      },
      "name": "DeleteSqlInjectionMatchSet",
      "output": {
        "shape": "DeleteSqlInjectionMatchSetResponse"
      }
    },
    "DeleteWebACL": {
      "documentation": "<p>Permanently deletes a <a>WebACL</a>. You can't delete a <code>WebACL</code> if it still contains any <code>Rules</code>.</p> <p>To delete a <code>WebACL</code>, perform the following steps:</p> <ol> <li> <p>Update the <code>WebACL</code> to remove <code>Rules</code>, if any. For more information, see <a>UpdateWebACL</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteWebACL</code> request.</p> </li> <li> <p>Submit a <code>DeleteWebACL</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWebACLRequest"
      },
      "name": "DeleteWebACL",
      "output": {
        "shape": "DeleteWebACLResponse"
      }
    },
    "DeleteXssMatchSet": {
      "documentation": "<p>Permanently deletes an <a>XssMatchSet</a>. You can't delete an <code>XssMatchSet</code> if it's still used in any <code>Rules</code> or if it still contains any <a>XssMatchTuple</a> objects.</p> <p>If you just want to remove an <code>XssMatchSet</code> from a <code>Rule</code>, use <a>UpdateRule</a>.</p> <p>To permanently delete an <code>XssMatchSet</code> from AWS WAF, perform the following steps:</p> <ol> <li> <p>Update the <code>XssMatchSet</code> to remove filters, if any. For more information, see <a>UpdateXssMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of a <code>DeleteXssMatchSet</code> request.</p> </li> <li> <p>Submit a <code>DeleteXssMatchSet</code> request.</p> </li> </ol>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonEmptyEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteXssMatchSetRequest"
      },
      "name": "DeleteXssMatchSet",
      "output": {
        "shape": "DeleteXssMatchSetResponse"
      }
    },
    "DisassociateWebACL": {
      "documentation": "<p>Removes a web ACL from the specified resource, either an application load balancer or Amazon API Gateway stage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateWebACLRequest"
      },
      "name": "DisassociateWebACL",
      "output": {
        "shape": "DisassociateWebACLResponse"
      }
    },
    "GetByteMatchSet": {
      "documentation": "<p>Returns the <a>ByteMatchSet</a> specified by <code>ByteMatchSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetByteMatchSetRequest"
      },
      "name": "GetByteMatchSet",
      "output": {
        "shape": "GetByteMatchSetResponse"
      }
    },
    "GetChangeToken": {
      "documentation": "<p>When you want to create, update, or delete AWS WAF objects, get a change token and include the change token in the create, update, or delete request. Change tokens ensure that your application doesn't submit conflicting requests to AWS WAF.</p> <p>Each create, update, or delete request must use a unique change token. If your application submits a <code>GetChangeToken</code> request and then submits a second <code>GetChangeToken</code> request before submitting a create, update, or delete request, the second <code>GetChangeToken</code> request returns the same value as the first <code>GetChangeToken</code> request.</p> <p>When you use a change token in a create, update, or delete request, the status of the change token changes to <code>PENDING</code>, which indicates that AWS WAF is propagating the change to all AWS WAF servers. Use <code>GetChangeTokenStatus</code> to determine the status of your change token.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetChangeTokenRequest"
      },
      "name": "GetChangeToken",
      "output": {
        "shape": "GetChangeTokenResponse"
      }
    },
    "GetChangeTokenStatus": {
      "documentation": "<p>Returns the status of a <code>ChangeToken</code> that you got by calling <a>GetChangeToken</a>. <code>ChangeTokenStatus</code> is one of the following values:</p> <ul> <li> <p> <code>PROVISIONED</code>: You requested the change token by calling <code>GetChangeToken</code>, but you haven't used it yet in a call to create, update, or delete an AWS WAF object.</p> </li> <li> <p> <code>PENDING</code>: AWS WAF is propagating the create, update, or delete request to all AWS WAF servers.</p> </li> <li> <p> <code>INSYNC</code>: Propagation is complete.</p> </li> </ul>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetChangeTokenStatusRequest"
      },
      "name": "GetChangeTokenStatus",
      "output": {
        "shape": "GetChangeTokenStatusResponse"
      }
    },
    "GetGeoMatchSet": {
      "documentation": "<p>Returns the <a>GeoMatchSet</a> that is specified by <code>GeoMatchSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGeoMatchSetRequest"
      },
      "name": "GetGeoMatchSet",
      "output": {
        "shape": "GetGeoMatchSetResponse"
      }
    },
    "GetIPSet": {
      "documentation": "<p>Returns the <a>IPSet</a> that is specified by <code>IPSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetIPSetRequest"
      },
      "name": "GetIPSet",
      "output": {
        "shape": "GetIPSetResponse"
      }
    },
    "GetLoggingConfiguration": {
      "documentation": "<p>Returns the <a>LoggingConfiguration</a> for the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoggingConfigurationRequest"
      },
      "name": "GetLoggingConfiguration",
      "output": {
        "shape": "GetLoggingConfigurationResponse"
      }
    },
    "GetPermissionPolicy": {
      "documentation": "<p>Returns the IAM policy attached to the RuleGroup.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPermissionPolicyRequest"
      },
      "name": "GetPermissionPolicy",
      "output": {
        "shape": "GetPermissionPolicyResponse"
      }
    },
    "GetRateBasedRule": {
      "documentation": "<p>Returns the <a>RateBasedRule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRateBasedRule</code> request.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRateBasedRuleRequest"
      },
      "name": "GetRateBasedRule",
      "output": {
        "shape": "GetRateBasedRuleResponse"
      }
    },
    "GetRateBasedRuleManagedKeys": {
      "documentation": "<p>Returns an array of IP addresses currently being blocked by the <a>RateBasedRule</a> that is specified by the <code>RuleId</code>. The maximum number of managed keys that will be blocked is 10,000. If more than 10,000 addresses exceed the rate limit, the 10,000 addresses with the highest rates will be blocked.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRateBasedRuleManagedKeysRequest"
      },
      "name": "GetRateBasedRuleManagedKeys",
      "output": {
        "shape": "GetRateBasedRuleManagedKeysResponse"
      }
    },
    "GetRegexMatchSet": {
      "documentation": "<p>Returns the <a>RegexMatchSet</a> specified by <code>RegexMatchSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRegexMatchSetRequest"
      },
      "name": "GetRegexMatchSet",
      "output": {
        "shape": "GetRegexMatchSetResponse"
      }
    },
    "GetRegexPatternSet": {
      "documentation": "<p>Returns the <a>RegexPatternSet</a> specified by <code>RegexPatternSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRegexPatternSetRequest"
      },
      "name": "GetRegexPatternSet",
      "output": {
        "shape": "GetRegexPatternSetResponse"
      }
    },
    "GetRule": {
      "documentation": "<p>Returns the <a>Rule</a> that is specified by the <code>RuleId</code> that you included in the <code>GetRule</code> request.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRuleRequest"
      },
      "name": "GetRule",
      "output": {
        "shape": "GetRuleResponse"
      }
    },
    "GetRuleGroup": {
      "documentation": "<p>Returns the <a>RuleGroup</a> that is specified by the <code>RuleGroupId</code> that you included in the <code>GetRuleGroup</code> request.</p> <p>To view the rules in a rule group, use <a>ListActivatedRulesInRuleGroup</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRuleGroupRequest"
      },
      "name": "GetRuleGroup",
      "output": {
        "shape": "GetRuleGroupResponse"
      }
    },
    "GetSampledRequests": {
      "documentation": "<p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSampledRequestsRequest"
      },
      "name": "GetSampledRequests",
      "output": {
        "shape": "GetSampledRequestsResponse"
      }
    },
    "GetSizeConstraintSet": {
      "documentation": "<p>Returns the <a>SizeConstraintSet</a> specified by <code>SizeConstraintSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSizeConstraintSetRequest"
      },
      "name": "GetSizeConstraintSet",
      "output": {
        "shape": "GetSizeConstraintSetResponse"
      }
    },
    "GetSqlInjectionMatchSet": {
      "documentation": "<p>Returns the <a>SqlInjectionMatchSet</a> that is specified by <code>SqlInjectionMatchSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSqlInjectionMatchSetRequest"
      },
      "name": "GetSqlInjectionMatchSet",
      "output": {
        "shape": "GetSqlInjectionMatchSetResponse"
      }
    },
    "GetWebACL": {
      "documentation": "<p>Returns the <a>WebACL</a> that is specified by <code>WebACLId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWebACLRequest"
      },
      "name": "GetWebACL",
      "output": {
        "shape": "GetWebACLResponse"
      }
    },
    "GetWebACLForResource": {
      "documentation": "<p>Returns the web ACL for the specified resource, either an application load balancer or Amazon API Gateway stage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWebACLForResourceRequest"
      },
      "name": "GetWebACLForResource",
      "output": {
        "shape": "GetWebACLForResourceResponse"
      }
    },
    "GetXssMatchSet": {
      "documentation": "<p>Returns the <a>XssMatchSet</a> that is specified by <code>XssMatchSetId</code>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetXssMatchSetRequest"
      },
      "name": "GetXssMatchSet",
      "output": {
        "shape": "GetXssMatchSetResponse"
      }
    },
    "ListActivatedRulesInRuleGroup": {
      "documentation": "<p>Returns an array of <a>ActivatedRule</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListActivatedRulesInRuleGroupRequest"
      },
      "name": "ListActivatedRulesInRuleGroup",
      "output": {
        "shape": "ListActivatedRulesInRuleGroupResponse"
      }
    },
    "ListByteMatchSets": {
      "documentation": "<p>Returns an array of <a>ByteMatchSetSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListByteMatchSetsRequest"
      },
      "name": "ListByteMatchSets",
      "output": {
        "shape": "ListByteMatchSetsResponse"
      }
    },
    "ListGeoMatchSets": {
      "documentation": "<p>Returns an array of <a>GeoMatchSetSummary</a> objects in the response.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGeoMatchSetsRequest"
      },
      "name": "ListGeoMatchSets",
      "output": {
        "shape": "ListGeoMatchSetsResponse"
      }
    },
    "ListIPSets": {
      "documentation": "<p>Returns an array of <a>IPSetSummary</a> objects in the response.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIPSetsRequest"
      },
      "name": "ListIPSets",
      "output": {
        "shape": "ListIPSetsResponse"
      }
    },
    "ListLoggingConfigurations": {
      "documentation": "<p>Returns an array of <a>LoggingConfiguration</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLoggingConfigurationsRequest"
      },
      "name": "ListLoggingConfigurations",
      "output": {
        "shape": "ListLoggingConfigurationsResponse"
      }
    },
    "ListRateBasedRules": {
      "documentation": "<p>Returns an array of <a>RuleSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRateBasedRulesRequest"
      },
      "name": "ListRateBasedRules",
      "output": {
        "shape": "ListRateBasedRulesResponse"
      }
    },
    "ListRegexMatchSets": {
      "documentation": "<p>Returns an array of <a>RegexMatchSetSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRegexMatchSetsRequest"
      },
      "name": "ListRegexMatchSets",
      "output": {
        "shape": "ListRegexMatchSetsResponse"
      }
    },
    "ListRegexPatternSets": {
      "documentation": "<p>Returns an array of <a>RegexPatternSetSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRegexPatternSetsRequest"
      },
      "name": "ListRegexPatternSets",
      "output": {
        "shape": "ListRegexPatternSetsResponse"
      }
    },
    "ListResourcesForWebACL": {
      "documentation": "<p>Returns an array of resources associated with the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesForWebACLRequest"
      },
      "name": "ListResourcesForWebACL",
      "output": {
        "shape": "ListResourcesForWebACLResponse"
      }
    },
    "ListRuleGroups": {
      "documentation": "<p>Returns an array of <a>RuleGroup</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRuleGroupsRequest"
      },
      "name": "ListRuleGroups",
      "output": {
        "shape": "ListRuleGroupsResponse"
      }
    },
    "ListRules": {
      "documentation": "<p>Returns an array of <a>RuleSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRulesRequest"
      },
      "name": "ListRules",
      "output": {
        "shape": "ListRulesResponse"
      }
    },
    "ListSizeConstraintSets": {
      "documentation": "<p>Returns an array of <a>SizeConstraintSetSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSizeConstraintSetsRequest"
      },
      "name": "ListSizeConstraintSets",
      "output": {
        "shape": "ListSizeConstraintSetsResponse"
      }
    },
    "ListSqlInjectionMatchSets": {
      "documentation": "<p>Returns an array of <a>SqlInjectionMatchSet</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSqlInjectionMatchSetsRequest"
      },
      "name": "ListSqlInjectionMatchSets",
      "output": {
        "shape": "ListSqlInjectionMatchSetsResponse"
      }
    },
    "ListSubscribedRuleGroups": {
      "documentation": "<p>Returns an array of <a>RuleGroup</a> objects that you are subscribed to.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscribedRuleGroupsRequest"
      },
      "name": "ListSubscribedRuleGroups",
      "output": {
        "shape": "ListSubscribedRuleGroupsResponse"
      }
    },
    "ListTagsForResource": {
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFBadRequestException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWebACLs": {
      "documentation": "<p>Returns an array of <a>WebACLSummary</a> objects in the response.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWebACLsRequest"
      },
      "name": "ListWebACLs",
      "output": {
        "shape": "ListWebACLsResponse"
      }
    },
    "ListXssMatchSets": {
      "documentation": "<p>Returns an array of <a>XssMatchSet</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListXssMatchSetsRequest"
      },
      "name": "ListXssMatchSets",
      "output": {
        "shape": "ListXssMatchSetsResponse"
      }
    },
    "PutLoggingConfiguration": {
      "documentation": "<p>Associates a <a>LoggingConfiguration</a> with a specified web ACL.</p> <p>You can access information about all traffic that AWS WAF inspects using the following steps:</p> <ol> <li> <p>Create an Amazon Kinesis Data Firehose. </p> <p>Create the data firehose with a PUT source and in the region that you are operating. However, if you are capturing logs for Amazon CloudFront, always create the firehose in US East (N. Virginia). </p> <note> <p>Do not create the data firehose using a <code>Kinesis stream</code> as your source.</p> </note> </li> <li> <p>Associate that firehose to your web ACL using a <code>PutLoggingConfiguration</code> request.</p> </li> </ol> <p>When you successfully enable logging using a <code>PutLoggingConfiguration</code> request, AWS WAF will create a service linked role with the necessary permissions to write logs to the Amazon Kinesis Data Firehose. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging Web ACL Traffic Information</a> in the <i>AWS WAF Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFServiceLinkedRoleErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLoggingConfigurationRequest"
      },
      "name": "PutLoggingConfiguration",
      "output": {
        "shape": "PutLoggingConfigurationResponse"
      }
    },
    "PutPermissionPolicy": {
      "documentation": "<p>Attaches a IAM policy to the specified resource. The only supported use for this action is to share a RuleGroup across accounts.</p> <p>The <code>PutPermissionPolicy</code> is subject to the following restrictions:</p> <ul> <li> <p>You can attach only one policy with each <code>PutPermissionPolicy</code> request.</p> </li> <li> <p>The policy must include an <code>Effect</code>, <code>Action</code> and <code>Principal</code>. </p> </li> <li> <p> <code>Effect</code> must specify <code>Allow</code>.</p> </li> <li> <p>The <code>Action</code> in the policy must be <code>waf:UpdateWebACL</code>, <code>waf-regional:UpdateWebACL</code>, <code>waf:GetRuleGroup</code> and <code>waf-regional:GetRuleGroup</code> . Any extra or wildcard actions in the policy will be rejected.</p> </li> <li> <p>The policy cannot include a <code>Resource</code> parameter.</p> </li> <li> <p>The ARN in the request must be a valid WAF RuleGroup ARN and the RuleGroup must exist in the same region.</p> </li> <li> <p>The user making the request must be the owner of the RuleGroup.</p> </li> <li> <p>Your policy must be composed using IAM Policy version 2012-10-17.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies.html\">IAM Policies</a>. </p> <p>An example of a valid policy parameter is shown in the Examples section below.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidPermissionPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPermissionPolicyRequest"
      },
      "name": "PutPermissionPolicy",
      "output": {
        "shape": "PutPermissionPolicyResponse"
      }
    },
    "TagResource": {
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFBadRequestException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFBadRequestException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateByteMatchSet": {
      "documentation": "<p>Inserts or deletes <a>ByteMatchTuple</a> objects (filters) in a <a>ByteMatchSet</a>. For each <code>ByteMatchTuple</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the object from the array. If you want to change a <code>ByteMatchSetUpdate</code> object, you delete the existing object and add a new one.</p> </li> <li> <p>The part of a web request that you want AWS WAF to inspect, such as a query string or the value of the <code>User-Agent</code> header. </p> </li> <li> <p>The bytes (typically a string that corresponds with ASCII characters) that you want AWS WAF to look for. For more information, including how you specify the values for the AWS WAF API and the AWS CLI or SDKs, see <code>TargetString</code> in the <a>ByteMatchTuple</a> data type. </p> </li> <li> <p>Where to look, such as at the beginning or the end of a query string.</p> </li> <li> <p>Whether to perform any conversions on the request, such as converting it to lowercase, before inspecting it for the specified string.</p> </li> </ul> <p>For example, you can add a <code>ByteMatchSetUpdate</code> object that matches web requests in which <code>User-Agent</code> headers contain the string <code>BadBot</code>. You can then configure AWS WAF to block those requests.</p> <p>To create and configure a <code>ByteMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Create a <code>ByteMatchSet.</code> For more information, see <a>CreateByteMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateByteMatchSet</code> request.</p> </li> <li> <p>Submit an <code>UpdateByteMatchSet</code> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the value that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateByteMatchSetRequest"
      },
      "name": "UpdateByteMatchSet",
      "output": {
        "shape": "UpdateByteMatchSetResponse"
      }
    },
    "UpdateGeoMatchSet": {
      "documentation": "<p>Inserts or deletes <a>GeoMatchConstraint</a> objects in an <code>GeoMatchSet</code>. For each <code>GeoMatchConstraint</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the object from the array. If you want to change an <code>GeoMatchConstraint</code> object, you delete the existing object and add a new one.</p> </li> <li> <p>The <code>Type</code>. The only valid value for <code>Type</code> is <code>Country</code>.</p> </li> <li> <p>The <code>Value</code>, which is a two character code for the country to add to the <code>GeoMatchConstraint</code> object. Valid codes are listed in <a>GeoMatchConstraint$Value</a>.</p> </li> </ul> <p>To create and configure an <code>GeoMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Submit a <a>CreateGeoMatchSet</a> request.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateGeoMatchSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateGeoMatchSet</code> request to specify the country that you want AWS WAF to watch for.</p> </li> </ol> <p>When you update an <code>GeoMatchSet</code>, you specify the country that you want to add and/or the country that you want to delete. If you want to change a country, you delete the existing country and add the new one.</p> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGeoMatchSetRequest"
      },
      "name": "UpdateGeoMatchSet",
      "output": {
        "shape": "UpdateGeoMatchSetResponse"
      }
    },
    "UpdateIPSet": {
      "documentation": "<p>Inserts or deletes <a>IPSetDescriptor</a> objects in an <code>IPSet</code>. For each <code>IPSetDescriptor</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the object from the array. If you want to change an <code>IPSetDescriptor</code> object, you delete the existing object and add a new one.</p> </li> <li> <p>The IP address version, <code>IPv4</code> or <code>IPv6</code>. </p> </li> <li> <p>The IP address in CIDR notation, for example, <code>192.0.2.0/24</code> (for the range of IP addresses from <code>192.0.2.0</code> to <code>192.0.2.255</code>) or <code>192.0.2.44/32</code> (for the individual IP address <code>192.0.2.44</code>). </p> </li> </ul> <p>AWS WAF supports IPv4 address ranges: /8 and any range between /16 through /32. AWS WAF supports IPv6 address ranges: /24, /32, /48, /56, /64, and /128. For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p> <p>IPv6 addresses can be represented using any of the following formats:</p> <ul> <li> <p>1111:0000:0000:0000:0000:0000:0000:0111/128</p> </li> <li> <p>1111:0:0:0:0:0:0:0111/128</p> </li> <li> <p>1111::0111/128</p> </li> <li> <p>1111::111/128</p> </li> </ul> <p>You use an <code>IPSet</code> to specify which web requests you want to allow or block based on the IP addresses that the requests originated from. For example, if you're receiving a lot of requests from one or a small number of IP addresses and you want to block the requests, you can create an <code>IPSet</code> that specifies those IP addresses, and then configure AWS WAF to block the requests. </p> <p>To create and configure an <code>IPSet</code>, perform the following steps:</p> <ol> <li> <p>Submit a <a>CreateIPSet</a> request.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateIPSet</a> request.</p> </li> <li> <p>Submit an <code>UpdateIPSet</code> request to specify the IP addresses that you want AWS WAF to watch for.</p> </li> </ol> <p>When you update an <code>IPSet</code>, you specify the IP addresses that you want to add and/or the IP addresses that you want to delete. If you want to change an IP address, you delete the existing IP address and add the new one.</p> <p>You can insert a maximum of 1000 addresses in a single request.</p> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIPSetRequest"
      },
      "name": "UpdateIPSet",
      "output": {
        "shape": "UpdateIPSetResponse"
      }
    },
    "UpdateRateBasedRule": {
      "documentation": "<p>Inserts or deletes <a>Predicate</a> objects in a rule and updates the <code>RateLimit</code> in the rule. </p> <p>Each <code>Predicate</code> object identifies a predicate, such as a <a>ByteMatchSet</a> or an <a>IPSet</a>, that specifies the web requests that you want to block or count. The <code>RateLimit</code> specifies the number of requests every five minutes that triggers the rule.</p> <p>If you add more than one predicate to a <code>RateBasedRule</code>, a request must match all the predicates and exceed the <code>RateLimit</code> to be counted or blocked. For example, suppose you add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44/32</code> </p> </li> <li> <p>A <code>ByteMatchSet</code> that matches <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>You then add the <code>RateBasedRule</code> to a <code>WebACL</code> and specify that you want to block requests that satisfy the rule. For a request to be blocked, it must come from the IP address 192.0.2.44 <i>and</i> the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code>. Further, requests that match these two conditions much be received at a rate of more than 15,000 every five minutes. If the rate drops below this limit, AWS WAF no longer blocks the requests.</p> <p>As a second example, suppose you want to limit requests to a particular page on your site. To do this, you could add the following to a <code>RateBasedRule</code>:</p> <ul> <li> <p>A <code>ByteMatchSet</code> with <code>FieldToMatch</code> of <code>URI</code> </p> </li> <li> <p>A <code>PositionalConstraint</code> of <code>STARTS_WITH</code> </p> </li> <li> <p>A <code>TargetString</code> of <code>login</code> </p> </li> </ul> <p>Further, you specify a <code>RateLimit</code> of 15,000.</p> <p>By adding this <code>RateBasedRule</code> to a <code>WebACL</code>, you could limit requests to your login page without affecting the rest of your site.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRateBasedRuleRequest"
      },
      "name": "UpdateRateBasedRule",
      "output": {
        "shape": "UpdateRateBasedRuleResponse"
      }
    },
    "UpdateRegexMatchSet": {
      "documentation": "<p>Inserts or deletes <a>RegexMatchTuple</a> objects (filters) in a <a>RegexMatchSet</a>. For each <code>RegexMatchSetUpdate</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the object from the array. If you want to change a <code>RegexMatchSetUpdate</code> object, you delete the existing object and add a new one.</p> </li> <li> <p>The part of a web request that you want AWS WAF to inspectupdate, such as a query string or the value of the <code>User-Agent</code> header. </p> </li> <li> <p>The identifier of the pattern (a regular expression) that you want AWS WAF to look for. For more information, see <a>RegexPatternSet</a>. </p> </li> <li> <p>Whether to perform any conversions on the request, such as converting it to lowercase, before inspecting it for the specified string.</p> </li> </ul> <p> For example, you can create a <code>RegexPatternSet</code> that matches any requests with <code>User-Agent</code> headers that contain the string <code>B[a@]dB[o0]t</code>. You can then configure AWS WAF to reject those requests.</p> <p>To create and configure a <code>RegexMatchSet</code>, perform the following steps:</p> <ol> <li> <p>Create a <code>RegexMatchSet.</code> For more information, see <a>CreateRegexMatchSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateRegexMatchSet</code> request.</p> </li> <li> <p>Submit an <code>UpdateRegexMatchSet</code> request to specify the part of the request that you want AWS WAF to inspect (for example, the header or the URI) and the identifier of the <code>RegexPatternSet</code> that contain the regular expression patters you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFDisallowedNameException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRegexMatchSetRequest"
      },
      "name": "UpdateRegexMatchSet",
      "output": {
        "shape": "UpdateRegexMatchSetResponse"
      }
    },
    "UpdateRegexPatternSet": {
      "documentation": "<p>Inserts or deletes <code>RegexPatternString</code> objects in a <a>RegexPatternSet</a>. For each <code>RegexPatternString</code> object, you specify the following values: </p> <ul> <li> <p>Whether to insert or delete the <code>RegexPatternString</code>.</p> </li> <li> <p>The regular expression pattern that you want to insert or delete. For more information, see <a>RegexPatternSet</a>. </p> </li> </ul> <p> For example, you can create a <code>RegexPatternString</code> such as <code>B[a@]dB[o0]t</code>. AWS WAF will match this <code>RegexPatternString</code> to:</p> <ul> <li> <p>BadBot</p> </li> <li> <p>BadB0t</p> </li> <li> <p>B@dBot</p> </li> <li> <p>B@dB0t</p> </li> </ul> <p>To create and configure a <code>RegexPatternSet</code>, perform the following steps:</p> <ol> <li> <p>Create a <code>RegexPatternSet.</code> For more information, see <a>CreateRegexPatternSet</a>.</p> </li> <li> <p>Use <a>GetChangeToken</a> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <code>UpdateRegexPatternSet</code> request.</p> </li> <li> <p>Submit an <code>UpdateRegexPatternSet</code> request to specify the regular expression pattern that you want AWS WAF to watch for.</p> </li> </ol> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidRegexPatternException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRegexPatternSetRequest"
      },
      "name": "UpdateRegexPatternSet",
      "output": {
        "shape": "UpdateRegexPatternSetResponse"
      }
    },
    "UpdateRule": {
      "documentation": "<p>Inserts or deletes <a>Predicate</a> objects in a <code>Rule</code>. Each <code>Predicate</code> object identifies a predicate, such as a <a>ByteMatchSet</a> or an <a>IPSet</a>, that specifies the web requests that you want to allow, block, or count. If you add more than one predicate to a <code>Rule</code>, a request must match all of the specifications to be allowed, blocked, or counted. For example, suppose that you add the following to a <code>Rule</code>: </p> <ul> <li> <p>A <code>ByteMatchSet</code> that matches the value <code>BadBot</code> in the <code>User-Agent</code> header</p> </li> <li> <p>An <code>IPSet</code> that matches the IP address <code>192.0.2.44</code> </p> </li> </ul> <p>You then add the <code>Rule</code> to a <code>WebACL</code> and specify that you want to block requests that satisfy the <code>Rule</code>. For a request to be blocked, the <code>User-Agent</code> header in the request must contain the value <code>BadBot</code> <i>and</i> the request must originate from the IP address 192.0.2.44.</p> <p>To create and configure a <code>Rule</code>, perform the following steps:</p> <ol> <li> <p>Create and update the predicates that you want to include in the <code>Rule</code>.</p> </li> <li> <p>Create the <code>Rule</code>. See <a>CreateRule</a>.</p> </li> <li> <p>Use <code>GetChangeToken</code> to get the change token that you provide in the <code>ChangeToken</code> parameter of an <a>UpdateRule</a> request.</p> </li> <li> <p>Submit an <code>UpdateRule</code> request to add predicates to the <code>Rule</code>.</p> </li> <li> <p>Create and update a <code>WebACL</code> that contains the <code>Rule</code>. See <a>CreateWebACL</a>.</p> </li> </ol> <p>If you want to replace one <code>ByteMatchSet</code> or <code>IPSet</code> with another, you delete the existing one and add the new one.</p> <p>For more information about how to use the AWS WAF API to allow or block HTTP requests, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p>",
      "errors": [
        {
          "shape": "WAFStaleDataException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidAccountException"
        },
        {
          "shape": "WAFInvalidOperationException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentContainerException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFReferencedItemException"
        },
        {
          "shape": "WAFLimitsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRuleRequest"
      },
      "name": "UpdateRule",
      "output": {
        "shape": "UpdateRuleResponse"
      }
    },
    "UpdateRuleGroup": {
[...]
