{
  "documentation": "<fullname>Amazon CloudFront</fullname> <p>This is the <i>Amazon CloudFront API Reference</i>. This guide is for developers who need detailed information about CloudFront API actions, data types, and errors. For detailed information about CloudFront features, see the <i>Amazon CloudFront Developer Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2019-03-26",
    "endpointPrefix": "cloudfront",
    "globalEndpoint": "cloudfront.amazonaws.com",
    "protocol": "rest-xml",
    "serviceAbbreviation": "CloudFront",
    "serviceFullName": "Amazon CloudFront",
    "serviceId": "CloudFront",
    "signatureVersion": "v4",
    "uid": "cloudfront-2019-03-26"
  },
  "operations": {
    "CreateCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Creates a new origin access identity. If you're using Amazon S3 for your origin, you can use an origin access identity to require users to access your content using a CloudFront URL instead of the Amazon S3 URL. For more information about how to use origin access identities, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "CloudFrontOriginAccessIdentityAlreadyExists"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyCloudFrontOriginAccessIdentities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/origin-access-identity/cloudfront",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "name": "CreateCloudFrontOriginAccessIdentity2019_03_26",
      "output": {
        "shape": "CreateCloudFrontOriginAccessIdentityResult"
      }
    },
    "CreateDistribution": {
      "documentation": "<p>Creates a new web distribution. You create a CloudFront distribution to tell CloudFront where you want content to be delivered from, and the details about how to track and manage content delivery. Send a <code>POST</code> request to the <code>/<i>CloudFront API version</i>/distribution</code>/<code>distribution ID</code> resource.</p> <important> <p>When you update a distribution, there are more required fields than when you create a distribution. When you update your distribution by using <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>, follow the steps included in the documentation to get the current configuration and then make your updates. This helps to make sure that you include all of the required fields. To view a summary, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-overview-required-fields.html\">Required Fields for Create Distribution and Update Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> </important>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "DistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "InvalidViewerCertificate"
        },
        {
          "shape": "InvalidMinimumProtocolVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "shape": "TooManyDistributions"
        },
        {
          "shape": "InvalidDefaultRootObject"
        },
        {
          "shape": "InvalidRelativePath"
        },
        {
          "shape": "InvalidErrorCode"
        },
        {
          "shape": "InvalidResponseCode"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidRequiredProtocol"
        },
        {
          "shape": "NoSuchOrigin"
        },
        {
          "shape": "TooManyOrigins"
        },
        {
          "shape": "TooManyOriginGroupsPerDistribution"
        },
        {
          "shape": "TooManyCacheBehaviors"
        },
        {
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "shape": "InvalidForwardCookies"
        },
        {
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "TooManyCertificates"
        },
        {
          "shape": "InvalidLocationCode"
        },
        {
          "shape": "InvalidGeoRestrictionParameter"
        },
        {
          "shape": "InvalidProtocolSettings"
        },
        {
          "shape": "InvalidTTLOrder"
        },
        {
          "shape": "InvalidWebACLId"
        },
        {
          "shape": "TooManyOriginCustomHeaders"
        },
        {
          "shape": "TooManyQueryStringParameters"
        },
        {
          "shape": "InvalidQueryStringParameters"
        },
        {
          "shape": "TooManyDistributionsWithLambdaAssociations"
        },
        {
          "shape": "TooManyLambdaFunctionAssociations"
        },
        {
          "shape": "InvalidLambdaFunctionAssociation"
        },
        {
          "shape": "InvalidOriginReadTimeout"
        },
        {
          "shape": "InvalidOriginKeepaliveTimeout"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "shape": "TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/distribution",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDistributionRequest"
      },
      "name": "CreateDistribution2019_03_26",
      "output": {
        "shape": "CreateDistributionResult"
      }
    },
    "CreateDistributionWithTags": {
      "documentation": "<p>Create a new distribution with tags.</p>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "DistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "InvalidViewerCertificate"
        },
        {
          "shape": "InvalidMinimumProtocolVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "shape": "TooManyDistributions"
        },
        {
          "shape": "InvalidDefaultRootObject"
        },
        {
          "shape": "InvalidRelativePath"
        },
        {
          "shape": "InvalidErrorCode"
        },
        {
          "shape": "InvalidResponseCode"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidRequiredProtocol"
        },
        {
          "shape": "NoSuchOrigin"
        },
        {
          "shape": "TooManyOrigins"
        },
        {
          "shape": "TooManyOriginGroupsPerDistribution"
        },
        {
          "shape": "TooManyCacheBehaviors"
        },
        {
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "shape": "InvalidForwardCookies"
        },
        {
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "TooManyCertificates"
        },
        {
          "shape": "InvalidLocationCode"
        },
        {
          "shape": "InvalidGeoRestrictionParameter"
        },
        {
          "shape": "InvalidProtocolSettings"
        },
        {
          "shape": "InvalidTTLOrder"
        },
        {
          "shape": "InvalidWebACLId"
        },
        {
          "shape": "TooManyOriginCustomHeaders"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "TooManyQueryStringParameters"
        },
        {
          "shape": "InvalidQueryStringParameters"
        },
        {
          "shape": "TooManyDistributionsWithLambdaAssociations"
        },
        {
          "shape": "TooManyLambdaFunctionAssociations"
        },
        {
          "shape": "InvalidLambdaFunctionAssociation"
        },
        {
          "shape": "InvalidOriginReadTimeout"
        },
        {
          "shape": "InvalidOriginKeepaliveTimeout"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "shape": "TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/distribution?WithTags",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDistributionWithTagsRequest"
      },
      "name": "CreateDistributionWithTags2019_03_26",
      "output": {
        "shape": "CreateDistributionWithTagsResult"
      }
    },
    "CreateFieldLevelEncryptionConfig": {
      "documentation": "<p>Create a new field-level encryption configuration.</p>",
      "errors": [
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        },
        {
          "shape": "FieldLevelEncryptionConfigAlreadyExists"
        },
        {
          "shape": "TooManyFieldLevelEncryptionConfigs"
        },
        {
          "shape": "TooManyFieldLevelEncryptionQueryArgProfiles"
        },
        {
          "shape": "TooManyFieldLevelEncryptionContentTypeProfiles"
        },
        {
          "shape": "QueryArgProfileEmpty"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/field-level-encryption",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFieldLevelEncryptionConfigRequest"
      },
      "name": "CreateFieldLevelEncryptionConfig2019_03_26",
      "output": {
        "shape": "CreateFieldLevelEncryptionConfigResult"
      }
    },
    "CreateFieldLevelEncryptionProfile": {
      "documentation": "<p>Create a field-level encryption profile.</p>",
      "errors": [
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchPublicKey"
        },
        {
          "shape": "FieldLevelEncryptionProfileAlreadyExists"
        },
        {
          "shape": "FieldLevelEncryptionProfileSizeExceeded"
        },
        {
          "shape": "TooManyFieldLevelEncryptionProfiles"
        },
        {
          "shape": "TooManyFieldLevelEncryptionEncryptionEntities"
        },
        {
          "shape": "TooManyFieldLevelEncryptionFieldPatterns"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/field-level-encryption-profile",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFieldLevelEncryptionProfileRequest"
      },
      "name": "CreateFieldLevelEncryptionProfile2019_03_26",
      "output": {
        "shape": "CreateFieldLevelEncryptionProfileResult"
      }
    },
    "CreateInvalidation": {
      "documentation": "<p>Create a new invalidation. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "BatchTooLarge"
        },
        {
          "shape": "TooManyInvalidationsInProgress"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/distribution/{DistributionId}/invalidation",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInvalidationRequest"
      },
      "name": "CreateInvalidation2019_03_26",
      "output": {
        "shape": "CreateInvalidationResult"
      }
    },
    "CreatePublicKey": {
      "documentation": "<p>Add a new public key to CloudFront to use, for example, for field-level encryption. You can add a maximum of 10 public keys with one AWS account.</p>",
      "errors": [
        {
          "shape": "PublicKeyAlreadyExists"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "TooManyPublicKeys"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/public-key",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePublicKeyRequest"
      },
      "name": "CreatePublicKey2019_03_26",
      "output": {
        "shape": "CreatePublicKeyResult"
      }
    },
    "CreateStreamingDistribution": {
      "documentation": "<p>Creates a new RTMP distribution. An RTMP distribution is similar to a web distribution, but an RTMP distribution streams media files using the Adobe Real-Time Messaging Protocol (RTMP) instead of serving files using HTTP. </p> <p>To create a new distribution, submit a <code>POST</code> request to the <i>CloudFront API version</i>/distribution resource. The request body must include a document with a <i>StreamingDistributionConfig</i> element. The response echoes the <code>StreamingDistributionConfig</code> element and returns other information about the RTMP distribution.</p> <p>To get the status of your request, use the <i>GET StreamingDistribution</i> API action. When the value of <code>Enabled</code> is <code>true</code> and the value of <code>Status</code> is <code>Deployed</code>, your distribution is ready. A distribution usually deploys in less than 15 minutes.</p> <p>For more information about web distributions, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-rtmp.html\">Working with RTMP Distributions</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <important> <p>Beginning with the 2012-05-05 version of the CloudFront API, we made substantial changes to the format of the XML document that you include in the request body when you create or update a web distribution or an RTMP distribution, and when you invalidate objects. With previous versions of the API, we discovered that it was too easy to accidentally delete one or more values for an element that accepts multiple values, for example, CNAMEs and trusted signers. Our changes for the 2012-05-05 release are intended to prevent these accidental deletions and to notify you when there's a mismatch between the number of values you say you're specifying in the <code>Quantity</code> element and the number of values specified.</p> </important>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "StreamingDistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "shape": "TooManyStreamingDistributions"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/streaming-distribution",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStreamingDistributionRequest"
      },
      "name": "CreateStreamingDistribution2019_03_26",
      "output": {
        "shape": "CreateStreamingDistributionResult"
      }
    },
    "CreateStreamingDistributionWithTags": {
      "documentation": "<p>Create a new streaming distribution with tags.</p>",
      "errors": [
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "StreamingDistributionAlreadyExists"
        },
        {
          "shape": "InvalidOrigin"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "shape": "TooManyStreamingDistributions"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidTagging"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/streaming-distribution?WithTags",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStreamingDistributionWithTagsRequest"
      },
      "name": "CreateStreamingDistributionWithTags2019_03_26",
      "output": {
        "shape": "CreateStreamingDistributionWithTagsResult"
      }
    },
    "DeleteCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Delete an origin access identity. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "CloudFrontOriginAccessIdentityInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "name": "DeleteCloudFrontOriginAccessIdentity2019_03_26"
    },
    "DeleteDistribution": {
      "documentation": "<p>Delete a distribution. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "DistributionNotDisabled"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-03-26/distribution/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDistributionRequest"
      },
      "name": "DeleteDistribution2019_03_26"
    },
    "DeleteFieldLevelEncryptionConfig": {
      "documentation": "<p>Remove a field-level encryption configuration.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "FieldLevelEncryptionConfigInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-03-26/field-level-encryption/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFieldLevelEncryptionConfigRequest"
      },
      "name": "DeleteFieldLevelEncryptionConfig2019_03_26"
    },
    "DeleteFieldLevelEncryptionProfile": {
      "documentation": "<p>Remove a field-level encryption profile.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "FieldLevelEncryptionProfileInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFieldLevelEncryptionProfileRequest"
      },
      "name": "DeleteFieldLevelEncryptionProfile2019_03_26"
    },
    "DeletePublicKey": {
      "documentation": "<p>Remove a public key you previously added to CloudFront.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "PublicKeyInUse"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchPublicKey"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-03-26/public-key/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeletePublicKeyRequest"
      },
      "name": "DeletePublicKey2019_03_26"
    },
    "DeleteStreamingDistribution": {
      "documentation": "<p>Delete a streaming distribution. To delete an RTMP distribution using the CloudFront API, perform the following steps.</p> <p> <b>To delete an RTMP distribution using the CloudFront API</b>:</p> <ol> <li> <p>Disable the RTMP distribution.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to get the current configuration and the <code>Etag</code> header for the distribution. </p> </li> <li> <p>Update the XML document that was returned in the response to your <code>GET Streaming Distribution Config</code> request to change the value of <code>Enabled</code> to <code>false</code>.</p> </li> <li> <p>Submit a <code>PUT Streaming Distribution Config</code> request to update the configuration for your distribution. In the request body, include the XML document that you updated in Step 3. Then set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to the <code>PUT Streaming Distribution Config</code> request to confirm that the distribution was successfully disabled.</p> </li> <li> <p>Submit a <code>GET Streaming Distribution Config</code> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> <li> <p>Submit a <code>DELETE Streaming Distribution</code> request. Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GET Streaming Distribution Config</code> request in Step 2.</p> </li> <li> <p>Review the response to your <code>DELETE Streaming Distribution</code> request to confirm that the distribution was successfully deleted.</p> </li> </ol> <p>For information about deleting a distribution using the CloudFront console, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/HowToDeleteDistribution.html\">Deleting a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "StreamingDistributionNotDisabled"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-03-26/streaming-distribution/{Id}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteStreamingDistributionRequest"
      },
      "name": "DeleteStreamingDistribution2019_03_26"
    },
    "GetCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Get the information about an origin access identity. </p>",
      "errors": [
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}"
      },
      "input": {
        "shape": "GetCloudFrontOriginAccessIdentityRequest"
      },
      "name": "GetCloudFrontOriginAccessIdentity2019_03_26",
      "output": {
        "shape": "GetCloudFrontOriginAccessIdentityResult"
      }
    },
    "GetCloudFrontOriginAccessIdentityConfig": {
      "documentation": "<p>Get the configuration information about an origin access identity. </p>",
      "errors": [
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}/config"
      },
      "input": {
        "shape": "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "name": "GetCloudFrontOriginAccessIdentityConfig2019_03_26",
      "output": {
        "shape": "GetCloudFrontOriginAccessIdentityConfigResult"
      }
    },
    "GetDistribution": {
      "documentation": "<p>Get the information about a distribution.</p>",
      "errors": [
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/distribution/{Id}"
      },
      "input": {
        "shape": "GetDistributionRequest"
      },
      "name": "GetDistribution2019_03_26",
      "output": {
        "shape": "GetDistributionResult"
      }
    },
    "GetDistributionConfig": {
      "documentation": "<p>Get the configuration information about a distribution. </p>",
      "errors": [
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/distribution/{Id}/config"
      },
      "input": {
        "shape": "GetDistributionConfigRequest"
      },
      "name": "GetDistributionConfig2019_03_26",
      "output": {
        "shape": "GetDistributionConfigResult"
      }
    },
    "GetFieldLevelEncryption": {
      "documentation": "<p>Get the field-level encryption configuration information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/field-level-encryption/{Id}"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionRequest"
      },
      "name": "GetFieldLevelEncryption2019_03_26",
      "output": {
        "shape": "GetFieldLevelEncryptionResult"
      }
    },
    "GetFieldLevelEncryptionConfig": {
      "documentation": "<p>Get the field-level encryption configuration information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/field-level-encryption/{Id}/config"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionConfigRequest"
      },
      "name": "GetFieldLevelEncryptionConfig2019_03_26",
      "output": {
        "shape": "GetFieldLevelEncryptionConfigResult"
      }
    },
    "GetFieldLevelEncryptionProfile": {
      "documentation": "<p>Get the field-level encryption profile information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionProfileRequest"
      },
      "name": "GetFieldLevelEncryptionProfile2019_03_26",
      "output": {
        "shape": "GetFieldLevelEncryptionProfileResult"
      }
    },
    "GetFieldLevelEncryptionProfileConfig": {
      "documentation": "<p>Get the field-level encryption profile configuration information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}/config"
      },
      "input": {
        "shape": "GetFieldLevelEncryptionProfileConfigRequest"
      },
      "name": "GetFieldLevelEncryptionProfileConfig2019_03_26",
      "output": {
        "shape": "GetFieldLevelEncryptionProfileConfigResult"
      }
    },
    "GetInvalidation": {
      "documentation": "<p>Get the information about an invalidation. </p>",
      "errors": [
        {
          "shape": "NoSuchInvalidation"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/distribution/{DistributionId}/invalidation/{Id}"
      },
      "input": {
        "shape": "GetInvalidationRequest"
      },
      "name": "GetInvalidation2019_03_26",
      "output": {
        "shape": "GetInvalidationResult"
      }
    },
    "GetPublicKey": {
      "documentation": "<p>Get the public key information.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchPublicKey"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/public-key/{Id}"
      },
      "input": {
        "shape": "GetPublicKeyRequest"
      },
      "name": "GetPublicKey2019_03_26",
      "output": {
        "shape": "GetPublicKeyResult"
      }
    },
    "GetPublicKeyConfig": {
      "documentation": "<p>Return public key configuration informaation</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "NoSuchPublicKey"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/public-key/{Id}/config"
      },
      "input": {
        "shape": "GetPublicKeyConfigRequest"
      },
      "name": "GetPublicKeyConfig2019_03_26",
      "output": {
        "shape": "GetPublicKeyConfigResult"
      }
    },
    "GetStreamingDistribution": {
      "documentation": "<p>Gets information about a specified RTMP distribution, including the distribution configuration.</p>",
      "errors": [
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/streaming-distribution/{Id}"
      },
      "input": {
        "shape": "GetStreamingDistributionRequest"
      },
      "name": "GetStreamingDistribution2019_03_26",
      "output": {
        "shape": "GetStreamingDistributionResult"
      }
    },
    "GetStreamingDistributionConfig": {
      "documentation": "<p>Get the configuration information about a streaming distribution. </p>",
      "errors": [
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/streaming-distribution/{Id}/config"
      },
      "input": {
        "shape": "GetStreamingDistributionConfigRequest"
      },
      "name": "GetStreamingDistributionConfig2019_03_26",
      "output": {
        "shape": "GetStreamingDistributionConfigResult"
      }
    },
    "ListCloudFrontOriginAccessIdentities": {
      "documentation": "<p>Lists origin access identities.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/origin-access-identity/cloudfront"
      },
      "input": {
        "shape": "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "name": "ListCloudFrontOriginAccessIdentities2019_03_26",
      "output": {
        "shape": "ListCloudFrontOriginAccessIdentitiesResult"
      }
    },
    "ListDistributions": {
      "documentation": "<p>List CloudFront distributions.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/distribution"
      },
      "input": {
        "shape": "ListDistributionsRequest"
      },
      "name": "ListDistributions2019_03_26",
      "output": {
        "shape": "ListDistributionsResult"
      }
    },
    "ListDistributionsByWebACLId": {
      "documentation": "<p>List the distributions that are associated with a specified AWS WAF web ACL. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidWebACLId"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/distributionsByWebACLId/{WebACLId}"
      },
      "input": {
        "shape": "ListDistributionsByWebACLIdRequest"
      },
      "name": "ListDistributionsByWebACLId2019_03_26",
      "output": {
        "shape": "ListDistributionsByWebACLIdResult"
      }
    },
    "ListFieldLevelEncryptionConfigs": {
      "documentation": "<p>List all field-level encryption configurations that have been created in CloudFront for this account.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/field-level-encryption"
      },
      "input": {
        "shape": "ListFieldLevelEncryptionConfigsRequest"
      },
      "name": "ListFieldLevelEncryptionConfigs2019_03_26",
      "output": {
        "shape": "ListFieldLevelEncryptionConfigsResult"
      }
    },
    "ListFieldLevelEncryptionProfiles": {
      "documentation": "<p>Request a list of field-level encryption profiles that have been created in CloudFront for this account.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/field-level-encryption-profile"
      },
      "input": {
        "shape": "ListFieldLevelEncryptionProfilesRequest"
      },
      "name": "ListFieldLevelEncryptionProfiles2019_03_26",
      "output": {
        "shape": "ListFieldLevelEncryptionProfilesResult"
      }
    },
    "ListInvalidations": {
      "documentation": "<p>Lists invalidation batches. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/distribution/{DistributionId}/invalidation"
      },
      "input": {
        "shape": "ListInvalidationsRequest"
      },
      "name": "ListInvalidations2019_03_26",
      "output": {
        "shape": "ListInvalidationsResult"
      }
    },
    "ListPublicKeys": {
      "documentation": "<p>List all public keys that have been added to CloudFront for this account.</p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/public-key"
      },
      "input": {
        "shape": "ListPublicKeysRequest"
      },
      "name": "ListPublicKeys2019_03_26",
      "output": {
        "shape": "ListPublicKeysResult"
      }
    },
    "ListStreamingDistributions": {
      "documentation": "<p>List streaming distributions. </p>",
      "errors": [
        {
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/streaming-distribution"
      },
      "input": {
        "shape": "ListStreamingDistributionsRequest"
      },
      "name": "ListStreamingDistributions2019_03_26",
      "output": {
        "shape": "ListStreamingDistributionsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List tags for a CloudFront resource.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-03-26/tagging"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource2019_03_26",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Add tags to a CloudFront resource.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/tagging?Operation=Tag",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource2019_03_26"
    },
    "UntagResource": {
      "documentation": "<p>Remove tags from a CloudFront resource.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidTagging"
        },
        {
          "shape": "NoSuchResource"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-03-26/tagging?Operation=Untag",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource2019_03_26"
    },
    "UpdateCloudFrontOriginAccessIdentity": {
      "documentation": "<p>Update an origin access identity. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-03-26/origin-access-identity/cloudfront/{Id}/config"
      },
      "input": {
        "shape": "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "name": "UpdateCloudFrontOriginAccessIdentity2019_03_26",
      "output": {
        "shape": "UpdateCloudFrontOriginAccessIdentityResult"
      }
    },
    "UpdateDistribution": {
      "documentation": "<p>Updates the configuration for a web distribution. </p> <important> <p>When you update a distribution, there are more required fields than when you create a distribution. When you update your distribution by using this API action, follow the steps here to get the current configuration and then make your updates, to make sure that you include all of the required fields. To view a summary, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-overview-required-fields.html\">Required Fields for Create Distribution and Update Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> </important> <p>The update process includes getting the current distribution configuration, updating the XML document that is returned to make your changes, and then submitting an <code>UpdateDistribution</code> request to make the updates.</p> <p>For information about updating a distribution using the CloudFront console instead, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-creating-console.html\">Creating a Distribution</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <p> <b>To update a web distribution using the CloudFront API</b> </p> <ol> <li> <p>Submit a <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_GetDistributionConfig.html\">GetDistributionConfig</a> request to get the current configuration and an <code>Etag</code> header for the distribution.</p> <note> <p>If you update the distribution again, you must get a new <code>Etag</code> header.</p> </note> </li> <li> <p>Update the XML document that was returned in the response to your <code>GetDistributionConfig</code> request to include your changes. </p> <important> <p>When you edit the XML file, be aware of the following:</p> <ul> <li> <p>You must strip out the ETag parameter that is returned.</p> </li> <li> <p>Additional fields are required when you update a distribution. There may be fields included in the XML file for features that you haven't configured for your distribution. This is expected and required to successfully update the distribution.</p> </li> <li> <p>You can't change the value of <code>CallerReference</code>. If you try to change this value, CloudFront returns an <code>IllegalUpdate</code> error. </p> </li> <li> <p>The new configuration replaces the existing configuration; the values that you specify in an <code>UpdateDistribution</code> request are not merged into your existing configuration. When you add, delete, or replace values in an element that allows multiple values (for example, <code>CNAME</code>), you must specify all of the values that you want to appear in the updated distribution. In addition, you must update the corresponding <code>Quantity</code> element.</p> </li> </ul> </important> </li> <li> <p>Submit an <code>UpdateDistribution</code> request to update the configuration for your distribution:</p> <ul> <li> <p>In the request body, include the XML document that you updated in Step 2. The request body must include an XML document with a <code>DistributionConfig</code> element.</p> </li> <li> <p>Set the value of the HTTP <code>If-Match</code> header to the value of the <code>ETag</code> header that CloudFront returned when you submitted the <code>GetDistributionConfig</code> request in Step 1.</p> </li> </ul> </li> <li> <p>Review the response to the <code>UpdateDistribution</code> request to confirm that the configuration was successfully updated.</p> </li> <li> <p>Optional: Submit a <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_GetDistribution.html\">GetDistribution</a> request to confirm that your changes have propagated. When propagation is complete, the value of <code>Status</code> is <code>Deployed</code>.</p> </li> </ol>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "NoSuchDistribution"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "shape": "InvalidDefaultRootObject"
        },
        {
          "shape": "InvalidRelativePath"
        },
        {
          "shape": "InvalidErrorCode"
        },
        {
          "shape": "InvalidResponseCode"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "InvalidViewerCertificate"
        },
        {
          "shape": "InvalidMinimumProtocolVersion"
        },
        {
          "shape": "InvalidRequiredProtocol"
        },
        {
          "shape": "NoSuchOrigin"
        },
        {
          "shape": "TooManyOrigins"
        },
        {
          "shape": "TooManyOriginGroupsPerDistribution"
        },
        {
          "shape": "TooManyCacheBehaviors"
        },
        {
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "shape": "InvalidForwardCookies"
        },
        {
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "TooManyCertificates"
        },
        {
          "shape": "InvalidLocationCode"
        },
        {
          "shape": "InvalidGeoRestrictionParameter"
        },
        {
          "shape": "InvalidTTLOrder"
        },
        {
          "shape": "InvalidWebACLId"
        },
        {
          "shape": "TooManyOriginCustomHeaders"
        },
        {
          "shape": "TooManyQueryStringParameters"
        },
        {
          "shape": "InvalidQueryStringParameters"
        },
        {
          "shape": "TooManyDistributionsWithLambdaAssociations"
        },
        {
          "shape": "TooManyLambdaFunctionAssociations"
        },
        {
          "shape": "InvalidLambdaFunctionAssociation"
        },
        {
          "shape": "InvalidOriginReadTimeout"
        },
        {
          "shape": "InvalidOriginKeepaliveTimeout"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "IllegalFieldLevelEncryptionConfigAssociationWithCacheBehavior"
        },
        {
          "shape": "TooManyDistributionsAssociatedToFieldLevelEncryptionConfig"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-03-26/distribution/{Id}/config"
      },
      "input": {
        "shape": "UpdateDistributionRequest"
      },
      "name": "UpdateDistribution2019_03_26",
      "output": {
        "shape": "UpdateDistributionResult"
      }
    },
    "UpdateFieldLevelEncryptionConfig": {
      "documentation": "<p>Update a field-level encryption configuration. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionConfig"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "TooManyFieldLevelEncryptionQueryArgProfiles"
        },
        {
          "shape": "TooManyFieldLevelEncryptionContentTypeProfiles"
        },
        {
          "shape": "QueryArgProfileEmpty"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-03-26/field-level-encryption/{Id}/config"
      },
      "input": {
        "shape": "UpdateFieldLevelEncryptionConfigRequest"
      },
      "name": "UpdateFieldLevelEncryptionConfig2019_03_26",
      "output": {
        "shape": "UpdateFieldLevelEncryptionConfigResult"
      }
    },
    "UpdateFieldLevelEncryptionProfile": {
      "documentation": "<p>Update a field-level encryption profile. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "FieldLevelEncryptionProfileAlreadyExists"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InconsistentQuantities"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "NoSuchPublicKey"
        },
        {
          "shape": "NoSuchFieldLevelEncryptionProfile"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "FieldLevelEncryptionProfileSizeExceeded"
        },
        {
          "shape": "TooManyFieldLevelEncryptionEncryptionEntities"
        },
        {
          "shape": "TooManyFieldLevelEncryptionFieldPatterns"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-03-26/field-level-encryption-profile/{Id}/config"
      },
      "input": {
        "shape": "UpdateFieldLevelEncryptionProfileRequest"
      },
      "name": "UpdateFieldLevelEncryptionProfile2019_03_26",
      "output": {
        "shape": "UpdateFieldLevelEncryptionProfileResult"
      }
    },
    "UpdatePublicKey": {
      "documentation": "<p>Update public key information. Note that the only value you can change is the comment.</p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "CannotChangeImmutablePublicKeyFields"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "NoSuchPublicKey"
        },
        {
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-03-26/public-key/{Id}/config"
      },
      "input": {
        "shape": "UpdatePublicKeyRequest"
      },
      "name": "UpdatePublicKey2019_03_26",
      "output": {
        "shape": "UpdatePublicKeyResult"
      }
    },
    "UpdateStreamingDistribution": {
      "documentation": "<p>Update a streaming distribution. </p>",
      "errors": [
        {
          "shape": "AccessDenied"
        },
        {
          "shape": "CNAMEAlreadyExists"
        },
        {
          "shape": "IllegalUpdate"
        },
        {
          "shape": "InvalidIfMatchVersion"
        },
        {
          "shape": "MissingBody"
        },
        {
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "shape": "PreconditionFailed"
        },
        {
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "shape": "InvalidArgument"
        },
        {
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "shape": "TooManyTrustedSigners"
        },
        {
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-03-26/streaming-distribution/{Id}/config"
      },
      "input": {
        "shape": "UpdateStreamingDistributionRequest"
      },
      "name": "UpdateStreamingDistribution2019_03_26",
      "output": {
        "shape": "UpdateStreamingDistributionResult"
      }
    }
  },
  "shapes": {
    "AccessDenied": {
      "documentation": "<p>Access denied.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ActiveTrustedSigners": {
      "documentation": "<p>A complex type that lists the AWS accounts, if any, that you included in the <code>TrustedSigners</code> complex type for this distribution. These are the accounts that you want to allow to create signed URLs for private content.</p> <p>The <code>Signer</code> complex type lists the AWS account number of the trusted signer or <code>self</code> if the signer is the AWS account that created the distribution. The <code>Signer</code> element also includes the IDs of any active CloudFront key pairs that are associated with the trusted signer's AWS account. If no <code>KeyPairId</code> element appears for a <code>Signer</code>, that signer can't create signed URLs. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Enabled is <code>true</code> if any of the AWS accounts listed in the <code>TrustedSigners</code> complex type for this distribution have active CloudFront key pairs. If not, <code>Enabled</code> is <code>false</code>.</p>",
          "shape": "boolean"
        },
        "Items": {
          "documentation": "<p>A complex type that contains one <code>Signer</code> complex type for each trusted signer that is specified in the <code>TrustedSigners</code> complex type.</p>",
          "shape": "SignerList"
        },
        "Quantity": {
          "documentation": "<p>The number of trusted signers specified in the <code>TrustedSigners</code> complex type.</p>",
          "shape": "integer"
        }
      },
      "required": [
        "Enabled",
        "Quantity"
      ],
      "type": "structure"
    },
    "AliasICPRecordal": {
      "documentation": "<p>AWS services in China customers must file for an Internet Content Provider (ICP) recordal if they want to serve content publicly on an alternate domain name, also known as a CNAME, that they've added to CloudFront. AliasICPRecordal provides the ICP recordal status for CNAMEs associated with distributions. The status is returned in the CloudFront response; you can't configure it yourself.</p> <p>For more information about ICP recordals, see <a href=\"https://docs.amazonaws.cn/en_us/aws/latest/userguide/accounts-and-credentials.html\"> Signup, Accounts, and Credentials</a> in <i>Getting Started with AWS services in China</i>.</p>",
      "members": {
        "CNAME": {
          "documentation": "<p>A domain name associated with a distribution. </p>",
          "shape": "string"
        },
        "ICPRecordalStatus": {
          "documentation": "<p>The Internet Content Provider (ICP) recordal status for a CNAME. The ICPRecordalStatus is set to APPROVED for all CNAMEs (aliases) in regions outside of China. </p> <p>The status values returned are the following:</p> <ul> <li> <p> <b>APPROVED</b> indicates that the associated CNAME has a valid ICP recordal number. Multiple CNAMEs can be associated with a distribution, and CNAMEs can correspond to different ICP recordals. To be marked as APPROVED, that is, valid to use with China region, a CNAME must have one ICP recordal number associated with it.</p> </li> <li> <p> <b>SUSPENDED</b> indicates that the associated CNAME does not have a valid ICP recordal number.</p> </li> <li> <p> <b>PENDING</b> indicates that CloudFront can't determine the ICP recordal status of the CNAME associated with the distribution because there was an error in trying to determine the status. You can try again to see if the error is resolved in which case CloudFront returns an APPROVED or SUSPENDED status.</p> </li> </ul>",
          "shape": "ICPRecordalStatus"
        }
      },
      "type": "structure"
    },
    "AliasICPRecordals": {
      "member": {
        "locationName": "AliasICPRecordal",
        "shape": "AliasICPRecordal"
      },
      "type": "list"
    },
    "AliasList": {
      "member": {
        "locationName": "CNAME",
        "shape": "string"
      },
      "type": "list"
    },
    "Aliases": {
      "documentation": "<p>A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution. </p>",
      "members": {
        "Items": {
          "documentation": "<p>A complex type that contains the CNAME aliases, if any, that you want to associate with this distribution.</p>",
          "shape": "AliasList"
        },
        "Quantity": {
          "documentation": "<p>The number of CNAME aliases, if any, that you want to associate with this distribution.</p>",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "AllowedMethods": {
      "documentation": "<p>A complex type that controls which HTTP methods CloudFront processes and forwards to your Amazon S3 bucket or your custom origin. There are three choices:</p> <ul> <li> <p>CloudFront forwards only <code>GET</code> and <code>HEAD</code> requests.</p> </li> <li> <p>CloudFront forwards only <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> requests.</p> </li> <li> <p>CloudFront forwards <code>GET, HEAD, OPTIONS, PUT, PATCH, POST</code>, and <code>DELETE</code> requests.</p> </li> </ul> <p>If you pick the third choice, you may need to restrict access to your Amazon S3 bucket or to your custom origin so users can't perform operations that you don't want them to. For example, you might not want users to have permissions to delete objects from your origin.</p>",
      "members": {
        "CachedMethods": {
          "shape": "CachedMethods"
        },
        "Items": {
          "documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to process and forward to your origin.</p>",
          "shape": "MethodsList"
        },
        "Quantity": {
          "documentation": "<p>The number of HTTP methods that you want CloudFront to forward to your origin. Valid values are 2 (for <code>GET</code> and <code>HEAD</code> requests), 3 (for <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> requests) and 7 (for <code>GET, HEAD, OPTIONS, PUT, PATCH, POST</code>, and <code>DELETE</code> requests).</p>",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity",
        "Items"
      ],
      "type": "structure"
    },
    "AwsAccountNumberList": {
      "member": {
        "locationName": "AwsAccountNumber",
        "shape": "string"
      },
      "type": "list"
    },
    "BatchTooLarge": {
      "documentation": "<p>Invalidation batch specified is too large.</p>",
      "error": {
        "httpStatusCode": 413
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CNAMEAlreadyExists": {
      "documentation": "<p>The CNAME specified is already defined for CloudFront.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CacheBehavior": {
      "documentation": "<p>A complex type that describes how CloudFront processes requests.</p> <p>You must create at least as many cache behaviors (including the default cache behavior) as you have origins if you want CloudFront to distribute objects from all of the origins. Each cache behavior specifies the one origin from which you want CloudFront to get objects. If you have two origins and only the default cache behavior, the default cache behavior will cause CloudFront to get objects from one of the origins, but the other origin is never used.</p> <p>For the current limit on the number of cache behaviors that you can add to a distribution, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_cloudfront\">Amazon CloudFront Limits</a> in the <i>AWS General Reference</i>.</p> <p>If you don't want to specify any cache behaviors, include only an empty <code>CacheBehaviors</code> element. Don't include an empty <code>CacheBehavior</code> element, or CloudFront returns a <code>MalformedXML</code> error.</p> <p>To delete all cache behaviors in an existing distribution, update the distribution configuration and include only an empty <code>CacheBehaviors</code> element.</p> <p>To add, change, or remove one or more cache behaviors, update the distribution configuration and specify all of the cache behaviors that you want to include in the updated distribution.</p> <p>For more information about cache behaviors, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesCacheBehavior\">Cache Behaviors</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "members": {
        "AllowedMethods": {
          "shape": "AllowedMethods"
        },
        "Compress": {
          "documentation": "<p>Whether you want CloudFront to automatically compress certain files for this cache behavior. If so, specify true; if not, specify false. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/ServingCompressedFiles.html\">Serving Compressed Files</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
          "shape": "boolean"
        },
        "DefaultTTL": {
          "documentation": "<p>The default amount of time that you want objects to stay in CloudFront caches before CloudFront forwards another request to your origin to determine whether the object has been updated. The value that you specify applies only when your origin does not add HTTP headers such as <code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and <code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
          "shape": "long"
        },
        "FieldLevelEncryptionId": {
          "documentation": "<p>The value of <code>ID</code> for the field-level encryption configuration that you want CloudFront to use for encrypting specific fields of data for a cache behavior or for the default cache behavior in your distribution.</p>",
          "shape": "string"
        },
        "ForwardedValues": {
          "documentation": "<p>A complex type that specifies how CloudFront handles query strings, cookies, and HTTP headers.</p>",
          "shape": "ForwardedValues"
        },
        "LambdaFunctionAssociations": {
          "documentation": "<p>A complex type that contains zero or more Lambda function associations for a cache behavior.</p>",
          "shape": "LambdaFunctionAssociations"
        },
        "MaxTTL": {
          "documentation": "<p>The maximum amount of time that you want objects to stay in CloudFront caches before CloudFront forwards another request to your origin to determine whether the object has been updated. The value that you specify applies only when your origin adds HTTP headers such as <code>Cache-Control max-age</code>, <code>Cache-Control s-maxage</code>, and <code>Expires</code> to objects. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
          "shape": "long"
        },
        "MinTTL": {
          "documentation": "<p>The minimum amount of time that you want objects to stay in CloudFront caches before CloudFront forwards another request to your origin to determine whether the object has been updated. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\"> Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the <i> Amazon CloudFront Developer Guide</i>.</p> <p>You must specify <code>0</code> for <code>MinTTL</code> if you configure CloudFront to forward all headers to your origin (under <code>Headers</code>, if you specify <code>1</code> for <code>Quantity</code> and <code>*</code> for <code>Name</code>).</p>",
          "shape": "long"
        },
        "PathPattern": {
          "documentation": "<p>The pattern (for example, <code>images/*.jpg</code>) that specifies which requests to apply the behavior to. When CloudFront receives a viewer request, the requested path is compared with path patterns in the order in which cache behaviors are listed in the distribution.</p> <note> <p>You can optionally include a slash (<code>/</code>) at the beginning of the path pattern. For example, <code>/images/*.jpg</code>. CloudFront behavior is the same with or without the leading <code>/</code>.</p> </note> <p>The path pattern for the default cache behavior is <code>*</code> and cannot be changed. If the request for an object does not match the path pattern for any cache behaviors, CloudFront applies the behavior in the default cache behavior.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/distribution-web-values-specify.html#DownloadDistValuesPathPattern\">Path Pattern</a> in the <i> Amazon CloudFront Developer Guide</i>.</p>",
          "shape": "string"
        },
        "SmoothStreaming": {
          "documentation": "<p>Indicates whether you want to distribute media files in the Microsoft Smooth Streaming format using the origin that is associated with this cache behavior. If so, specify <code>true</code>; if not, specify <code>false</code>. If you specify <code>true</code> for <code>SmoothStreaming</code>, you can still distribute other content using this cache behavior if the content matches the value of <code>PathPattern</code>. </p>",
          "shape": "boolean"
        },
        "TargetOriginId": {
          "documentation": "<p>The value of <code>ID</code> for the origin that you want CloudFront to route requests to when a request matches the path pattern either for a cache behavior or for the default cache behavior in your distribution.</p>",
          "shape": "string"
        },
        "TrustedSigners": {
          "documentation": "<p>A complex type that specifies the AWS accounts, if any, that you want to allow to create signed URLs for private content.</p> <p>If you want to require signed URLs in requests for objects in the target origin that match the <code>PathPattern</code> for this cache behavior, specify <code>true</code> for <code>Enabled</code>, and specify the applicable values for <code>Quantity</code> and <code>Items</code>. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/PrivateContent.html\">Serving Private Content through CloudFront</a> in the <i>Amazon CloudFront Developer Guide</i>. </p> <p>If you don't want to require signed URLs in requests for objects that match <code>PathPattern</code>, specify <code>false</code> for <code>Enabled</code> and <code>0</code> for <code>Quantity</code>. Omit <code>Items</code>.</p> <p>To add, change, or remove one or more trusted signers, change <code>Enabled</code> to <code>true</code> (if it's currently <code>false</code>), change <code>Quantity</code> as applicable, and specify all of the trusted signers that you want to include in the updated distribution.</p>",
          "shape": "TrustedSigners"
        },
        "ViewerProtocolPolicy": {
          "documentation": "<p>The protocol that viewers can use to access the files in the origin specified by <code>TargetOriginId</code> when a request matches the path pattern in <code>PathPattern</code>. You can specify the following options:</p> <ul> <li> <p> <code>allow-all</code>: Viewers can use HTTP or HTTPS.</p> </li> <li> <p> <code>redirect-to-https</code>: If a viewer submits an HTTP request, CloudFront returns an HTTP status code of 301 (Moved Permanently) to the viewer along with the HTTPS URL. The viewer then resubmits the request using the new URL. </p> </li> <li> <p> <code>https-only</code>: If a viewer sends an HTTP request, CloudFront returns an HTTP status code of 403 (Forbidden). </p> </li> </ul> <p>For more information about requiring the HTTPS protocol, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/SecureConnections.html\">Using an HTTPS Connection to Access Your Objects</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> <note> <p>The only way to guarantee that viewers retrieve an object that was fetched from the origin using HTTPS is never to use any other protocol to fetch the object. If you have recently changed from HTTP to HTTPS, we recommend that you clear your objects' cache because cached objects are protocol agnostic. That means that an edge location will return an object from the cache regardless of whether the current request protocol matches the protocol used previously. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Expiration.html\">Managing How Long Content Stays in an Edge Cache (Expiration)</a> in the <i>Amazon CloudFront Developer Guide</i>.</p> </note>",
          "shape": "ViewerProtocolPolicy"
        }
      },
      "required": [
        "PathPattern",
        "TargetOriginId",
        "ForwardedValues",
        "TrustedSigners",
        "ViewerProtocolPolicy",
        "MinTTL"
      ],
      "type": "structure"
    },
    "CacheBehaviorList": {
      "member": {
        "locationName": "CacheBehavior",
        "shape": "CacheBehavior"
      },
      "type": "list"
    },
    "CacheBehaviors": {
      "documentation": "<p>A complex type that contains zero or more <code>CacheBehavior</code> elements. </p>",
      "members": {
        "Items": {
          "documentation": "<p>Optional: A complex type that contains cache behaviors for this distribution. If <code>Quantity</code> is <code>0</code>, you can omit <code>Items</code>.</p>",
          "shape": "CacheBehaviorList"
        },
        "Quantity": {
          "documentation": "<p>The number of cache behaviors for this distribution. </p>",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "CachedMethods": {
      "documentation": "<p>A complex type that controls whether CloudFront caches the response to requests using the specified HTTP methods. There are two choices:</p> <ul> <li> <p>CloudFront caches responses to <code>GET</code> and <code>HEAD</code> requests.</p> </li> <li> <p>CloudFront caches responses to <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> requests.</p> </li> </ul> <p>If you pick the second choice for your Amazon S3 Origin, you may need to forward Access-Control-Request-Method, Access-Control-Request-Headers, and Origin headers for the responses to be cached correctly. </p>",
      "members": {
        "Items": {
          "documentation": "<p>A complex type that contains the HTTP methods that you want CloudFront to cache responses to.</p>",
          "shape": "MethodsList"
        },
        "Quantity": {
          "documentation": "<p>The number of HTTP methods for which you want CloudFront to cache responses. Valid values are <code>2</code> (for caching responses to <code>GET</code> and <code>HEAD</code> requests) and <code>3</code> (for caching responses to <code>GET</code>, <code>HEAD</code>, and <code>OPTIONS</code> requests).</p>",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity",
        "Items"
      ],
      "type": "structure"
    },
    "CannotChangeImmutablePublicKeyFields": {
      "documentation": "<p>You can't change the value of a public key.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CertificateSource": {
      "enum": [
        "cloudfront",
        "iam",
        "acm"
      ],
      "type": "string"
    },
    "CloudFrontOriginAccessIdentity": {
      "documentation": "<p>CloudFront origin access identity.</p>",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "documentation": "<p>The current configuration information for the identity. </p>",
          "shape": "CloudFrontOriginAccessIdentityConfig"
        },
        "Id": {
          "documentation": "<p>The ID for the origin access identity, for example, <code>E74FTE3AJFJ256A</code>. </p>",
          "shape": "string"
        },
        "S3CanonicalUserId": {
          "documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, used when giving the origin access identity read permission to an object in Amazon S3. </p>",
          "shape": "string"
        }
      },
      "required": [
        "Id",
        "S3CanonicalUserId"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityAlreadyExists": {
      "documentation": "<p>If the <code>CallerReference</code> is a value you already sent in a previous request to create an identity but the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, CloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityConfig": {
      "documentation": "<p>Origin access identity configuration. Send a <code>GET</code> request to the <code>/<i>CloudFront API version</i>/CloudFront/identity ID/config</code> resource. </p>",
      "members": {
        "CallerReference": {
          "documentation": "<p>A unique value (for example, a date-time stamp) that ensures that the request can't be replayed.</p> <p>If the value of <code>CallerReference</code> is new (regardless of the content of the <code>CloudFrontOriginAccessIdentityConfig</code> object), a new origin access identity is created.</p> <p>If the <code>CallerReference</code> is a value already sent in a previous identity request, and the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is identical to the original request (ignoring white space), the response includes the same information returned to the original request. </p> <p>If the <code>CallerReference</code> is a value you already sent in a previous request to create an identity, but the content of the <code>CloudFrontOriginAccessIdentityConfig</code> is different from the original request, CloudFront returns a <code>CloudFrontOriginAccessIdentityAlreadyExists</code> error. </p>",
          "shape": "string"
        },
        "Comment": {
          "documentation": "<p>Any comments you want to include about the origin access identity. </p>",
          "shape": "string"
        }
      },
      "required": [
        "CallerReference",
        "Comment"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityInUse": {
      "documentation": "<p>The Origin Access Identity specified is already in use.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityList": {
      "documentation": "<p>Lists the origin access identities for CloudFront.Send a <code>GET</code> request to the <code>/<i>CloudFront API version</i>/origin-access-identity/cloudfront</code> resource. The response includes a <code>CloudFrontOriginAccessIdentityList</code> element with zero or more <code>CloudFrontOriginAccessIdentitySummary</code> child elements. By default, your entire list of origin access identities is returned in one single page. If the list is long, you can paginate it using the <code>MaxItems</code> and <code>Marker</code> parameters.</p>",
      "members": {
        "IsTruncated": {
          "documentation": "<p>A flag that indicates whether more origin access identities remain to be listed. If your results were truncated, you can make a follow-up pagination request using the <code>Marker</code> request parameter to retrieve more items in the list.</p>",
          "shape": "boolean"
        },
        "Items": {
          "documentation": "<p>A complex type that contains one <code>CloudFrontOriginAccessIdentitySummary</code> element for each origin access identity that was created by the current AWS account.</p>",
          "shape": "CloudFrontOriginAccessIdentitySummaryList"
        },
        "Marker": {
          "documentation": "<p>Use this when paginating results to indicate where to begin in your list of origin access identities. The results include identities in the list that occur after the marker. To get the next page of results, set the <code>Marker</code> to the value of the <code>NextMarker</code> from the current page's response (which is also the ID of the last identity on that page). </p>",
          "shape": "string"
        },
        "MaxItems": {
          "documentation": "<p>The maximum number of origin access identities you want in the response body. </p>",
          "shape": "integer"
        },
        "NextMarker": {
          "documentation": "<p>If <code>IsTruncated</code> is <code>true</code>, this element is present and contains the value you can use for the <code>Marker</code> request parameter to continue listing your origin access identities where they left off. </p>",
          "shape": "string"
        },
        "Quantity": {
          "documentation": "<p>The number of CloudFront origin access identities that were created by the current AWS account. </p>",
          "shape": "integer"
        }
      },
      "required": [
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentitySummary": {
      "documentation": "<p>Summary of the information about a CloudFront origin access identity.</p>",
      "members": {
        "Comment": {
          "documentation": "<p>The comment for this origin access identity, as originally specified when created.</p>",
          "shape": "string"
        },
        "Id": {
          "documentation": "<p>The ID for the origin access identity. For example: <code>E74FTE3AJFJ256A</code>.</p>",
          "shape": "string"
        },
        "S3CanonicalUserId": {
          "documentation": "<p>The Amazon S3 canonical user ID for the origin access identity, which you use when giving the origin access identity read permission to an object in Amazon S3.</p>",
          "shape": "string"
        }
      },
      "required": [
        "Id",
        "S3CanonicalUserId",
        "Comment"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentitySummaryList": {
      "member": {
        "locationName": "CloudFrontOriginAccessIdentitySummary",
        "shape": "CloudFrontOriginAccessIdentitySummary"
      },
      "type": "list"
    },
    "CommentType": {
      "sensitive": true,
      "type": "string"
    },
    "ContentTypeProfile": {
      "documentation": "<p>A field-level encryption content type profile. </p>",
      "members": {
        "ContentType": {
          "documentation": "<p>The content type for a field-level encryption content type-profile mapping. </p>",
          "shape": "string"
        },
        "Format": {
          "documentation": "<p>The format for a field-level encryption content type-profile mapping. </p>",
          "shape": "Format"
        },
        "ProfileId": {
          "documentation": "<p>The profile ID for a field-level encryption content type-profile mapping. </p>",
          "shape": "string"
        }
      },
      "required": [
        "Format",
        "ContentType"
      ],
      "type": "structure"
    },
    "ContentTypeProfileConfig": {
      "documentation": "<p>The configuration for a field-level encryption content type-profile mapping. </p>",
      "members": {
        "ContentTypeProfiles": {
          "documentation": "<p>The configuration for a field-level encryption content type-profile. </p>",
          "shape": "ContentTypeProfiles"
        },
        "ForwardWhenContentTypeIsUnknown": {
          "documentation": "<p>The setting in a field-level encryption content type-profile mapping that specifies what to do when an unknown content type is provided for the profile. If true, content is forwarded without being encrypted when the content type is unknown. If false (the default), an error is returned when the content type is unknown. </p>",
          "shape": "boolean"
        }
      },
      "required": [
        "ForwardWhenContentTypeIsUnknown"
      ],
      "type": "structure"
    },
    "ContentTypeProfileList": {
      "member": {
        "locationName": "ContentTypeProfile",
        "shape": "ContentTypeProfile"
      },
      "type": "list"
    },
    "ContentTypeProfiles": {
      "documentation": "<p>Field-level encryption content type-profile. </p>",
      "members": {
        "Items": {
          "documentation": "<p>Items in a field-level encryption content type-profile mapping. </p>",
          "shape": "ContentTypeProfileList"
        },
        "Quantity": {
          "documentation": "<p>The number of field-level encryption content type-profile mappings. </p>",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "CookieNameList": {
      "member": {
        "locationName": "Name",
        "shape": "string"
      },
      "type": "list"
    },
    "CookieNames": {
      "documentation": "<p>A complex type that specifies whether you want CloudFront to forward cookies to the origin and, if so, which ones. For more information about forwarding cookies to the origin, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/header-caching.html\"> Caching Content Based on Request Headers</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "members": {
        "Items": {
          "documentation": "<p>A complex type that contains one <code>Name</code> element for each cookie that you want CloudFront to forward to the origin for this cache behavior. It must contain the same number of items that is specified in the <code>Quantity</code> field.</p> <p>When you set <code>Forward = whitelist</code> (in the <code>CookiePreferences</code> object), this field must contain at least one item.</p>",
          "shape": "CookieNameList"
        },
        "Quantity": {
          "documentation": "<p>The number of different cookies that you want CloudFront to forward to the origin for this cache behavior. The value must equal the number of items that are in the <code>Items</code> field.</p> <p>When you set <code>Forward = whitelist</code> (in the <code>CookiePreferences</code> object), this value must be <code>1</code> or higher.</p>",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "CookiePreference": {
      "documentation": "<p>A complex type that specifies whether you want CloudFront to forward cookies to the origin and, if so, which ones. For more information about forwarding cookies to the origin, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Cookies.html\">Caching Content Based on Cookies</a> in the <i>Amazon CloudFront Developer Guide</i>.</p>",
      "members": {
        "Forward": {
          "documentation": "<p>Specifies which cookies to forward to the origin for this cache behavior: all, none, or the list of cookies specified in the <code>WhitelistedNames</code> complex type.</p> <p>Amazon S3 doesn't process cookies. When the cache behavior is forwarding requests to an Amazon S3 origin, specify none for the <code>Forward</code> element.</p>",
          "shape": "ItemSelection"
        },
        "WhitelistedNames": {
          "documentation": "<p>Required if you specify <code>whitelist</code> for the value of <code>Forward</code>. A complex type that specifies how many different cookies you want CloudFront to forward to the origin for this cache behavior and, if you want to forward selected cookies, the names of those cookies.</p> <p>If you specify <code>all</code> or <code>none</code> for the value of <code>Forward</code>, omit <code>WhitelistedNames</code>. If you change the value of <code>Forward</code> from <code>whitelist</code> to <code>all</code> or <code>none</code> and you don't delete the <code>WhitelistedNames</code> element and its child elements, CloudFront deletes them automatically.</p> <p>For the current limit on the number of cookie names that you can whitelist for each cache behavior, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/xrefaws_service_limits.html#limits_cloudfront\"> CloudFront Limits</a> in the <i>AWS General Reference</i>.</p>",
          "shape": "CookieNames"
        }
      },
      "required": [
        "Forward"
      ],
      "type": "structure"
    },
    "CreateCloudFrontOriginAccessIdentityRequest": {
      "documentation": "<p>The request to create a new origin access identity (OAI). An origin access identity is a special CloudFront user that you can associate with Amazon S3 origins, so that you can secure all or just some of your Amazon S3 content. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/private-content-restricting-access-to-s3.html\"> Restricting Access to Amazon S3 Content by Using an Origin Access Identity</a> in the <i>Amazon CloudFront Developer Guide</i>. </p>",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "documentation": "<p>The current configuration information for the identity.</p>",
          "locationName": "CloudFrontOriginAccessIdentityConfig",
          "shape": "CloudFrontOriginAccessIdentityConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "CloudFrontOriginAccessIdentityConfig",
      "required": [
        "CloudFrontOriginAccessIdentityConfig"
      ],
      "type": "structure"
    },
    "CreateCloudFrontOriginAccessIdentityResult": {
      "documentation": "<p>The returned result of the corresponding request.</p>",
      "members": {
        "CloudFrontOriginAccessIdentity": {
          "documentation": "<p>The origin access identity's information.</p>",
          "shape": "CloudFrontOriginAccessIdentity"
        },
        "ETag": {
          "documentation": "<p>The current version of the origin access identity created.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new origin access identity just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/origin-access-identity/cloudfront/E74FTE3AJFJ256A</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "CloudFrontOriginAccessIdentity",
      "type": "structure"
    },
    "CreateDistributionRequest": {
      "documentation": "<p>The request to create a new distribution.</p>",
      "members": {
        "DistributionConfig": {
          "documentation": "<p>The distribution's configuration information.</p>",
          "locationName": "DistributionConfig",
          "shape": "DistributionConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "DistributionConfig",
      "required": [
        "DistributionConfig"
      ],
      "type": "structure"
    },
    "CreateDistributionResult": {
      "documentation": "<p>The returned result of the corresponding request.</p>",
      "members": {
        "Distribution": {
          "documentation": "<p>The distribution's information.</p>",
          "shape": "Distribution"
        },
        "ETag": {
          "documentation": "<p>The current version of the distribution created.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new distribution resource just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/distribution/EDFDVBD632BHDS5</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "Distribution",
      "type": "structure"
    },
    "CreateDistributionWithTagsRequest": {
      "documentation": "<p>The request to create a new distribution with tags. </p>",
      "members": {
        "DistributionConfigWithTags": {
          "documentation": "<p>The distribution's configuration information. </p>",
          "locationName": "DistributionConfigWithTags",
          "shape": "DistributionConfigWithTags",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "DistributionConfigWithTags",
      "required": [
        "DistributionConfigWithTags"
      ],
      "type": "structure"
    },
    "CreateDistributionWithTagsResult": {
      "documentation": "<p>The returned result of the corresponding request. </p>",
      "members": {
        "Distribution": {
          "documentation": "<p>The distribution's information. </p>",
          "shape": "Distribution"
        },
        "ETag": {
          "documentation": "<p>The current version of the distribution created.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new distribution resource just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/distribution/EDFDVBD632BHDS5</code>. </p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "Distribution",
      "type": "structure"
    },
    "CreateFieldLevelEncryptionConfigRequest": {
      "members": {
        "FieldLevelEncryptionConfig": {
          "documentation": "<p>The request to create a new field-level encryption configuration.</p>",
          "locationName": "FieldLevelEncryptionConfig",
          "shape": "FieldLevelEncryptionConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "FieldLevelEncryptionConfig",
      "required": [
        "FieldLevelEncryptionConfig"
      ],
      "type": "structure"
    },
    "CreateFieldLevelEncryptionConfigResult": {
      "members": {
        "ETag": {
          "documentation": "<p>The current version of the field level encryption configuration. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "FieldLevelEncryption": {
          "documentation": "<p>Returned when you create a new field-level encryption configuration.</p>",
          "shape": "FieldLevelEncryption"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new configuration resource just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/field-level-encryption-config/EDFDVBD632BHDS5</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "FieldLevelEncryption",
      "type": "structure"
    },
    "CreateFieldLevelEncryptionProfileRequest": {
      "members": {
        "FieldLevelEncryptionProfileConfig": {
          "documentation": "<p>The request to create a field-level encryption profile.</p>",
          "locationName": "FieldLevelEncryptionProfileConfig",
          "shape": "FieldLevelEncryptionProfileConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "FieldLevelEncryptionProfileConfig",
      "required": [
        "FieldLevelEncryptionProfileConfig"
      ],
      "type": "structure"
    },
    "CreateFieldLevelEncryptionProfileResult": {
      "members": {
        "ETag": {
          "documentation": "<p>The current version of the field level encryption profile. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "FieldLevelEncryptionProfile": {
          "documentation": "<p>Returned when you create a new field-level encryption profile.</p>",
          "shape": "FieldLevelEncryptionProfile"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new profile resource just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/field-level-encryption-profile/EDFDVBD632BHDS5</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "FieldLevelEncryptionProfile",
      "type": "structure"
    },
    "CreateInvalidationRequest": {
      "documentation": "<p>The request to create an invalidation.</p>",
      "members": {
        "DistributionId": {
          "documentation": "<p>The distribution's id.</p>",
          "location": "uri",
          "locationName": "DistributionId",
          "shape": "string"
        },
        "InvalidationBatch": {
          "documentation": "<p>The batch information for the invalidation.</p>",
          "locationName": "InvalidationBatch",
          "shape": "InvalidationBatch",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "InvalidationBatch",
      "required": [
        "DistributionId",
        "InvalidationBatch"
      ],
      "type": "structure"
    },
    "CreateInvalidationResult": {
      "documentation": "<p>The returned result of the corresponding request.</p>",
      "members": {
        "Invalidation": {
          "documentation": "<p>The invalidation's information.</p>",
          "shape": "Invalidation"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the distribution and invalidation batch request, including the <code>Invalidation ID</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "Invalidation",
      "type": "structure"
    },
    "CreatePublicKeyRequest": {
      "members": {
        "PublicKeyConfig": {
          "documentation": "<p>The request to add a public key to CloudFront.</p>",
          "locationName": "PublicKeyConfig",
          "shape": "PublicKeyConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "PublicKeyConfig",
      "required": [
        "PublicKeyConfig"
      ],
      "type": "structure"
    },
    "CreatePublicKeyResult": {
      "members": {
        "ETag": {
          "documentation": "<p>The current version of the public key. For example: <code>E2QWRUHAPOMQZL</code>.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new public key resource just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/cloudfront-public-key/EDFDVBD632BHDS5</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        },
        "PublicKey": {
          "documentation": "<p>Returned when you add a public key.</p>",
          "shape": "PublicKey"
        }
      },
      "payload": "PublicKey",
      "type": "structure"
    },
    "CreateStreamingDistributionRequest": {
      "documentation": "<p>The request to create a new streaming distribution.</p>",
      "members": {
        "StreamingDistributionConfig": {
          "documentation": "<p>The streaming distribution's configuration information.</p>",
          "locationName": "StreamingDistributionConfig",
          "shape": "StreamingDistributionConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "StreamingDistributionConfig",
      "required": [
        "StreamingDistributionConfig"
      ],
      "type": "structure"
    },
    "CreateStreamingDistributionResult": {
      "documentation": "<p>The returned result of the corresponding request.</p>",
      "members": {
        "ETag": {
          "documentation": "<p>The current version of the streaming distribution created.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "<p>The fully qualified URI of the new streaming distribution resource just created. For example: <code>https://cloudfront.amazonaws.com/2010-11-01/streaming-distribution/EGTXBD79H29TRA8</code>.</p>",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        },
        "StreamingDistribution": {
          "documentation": "<p>The streaming distribution's information.</p>",
          "shape": "StreamingDistribution"
        }
      },
      "payload": "StreamingDistribution",
      "type": "structure"
    },
    "CreateStreamingDistributionWithTagsRequest": {
      "documentation": "<p>The request to create a new streaming distribution with tags.</p>",
      "members": {
        "StreamingDistributionConfigWithTags": {
          "documentation": "<p> The streaming distribution's configuration information. </p>",
          "locationName": "StreamingDistributionConfigWithTags",
          "shape": "StreamingDistributionConfigWithTags",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2019-03-26/"
          }
        }
      },
      "payload": "StreamingDistributionConfigWithTags",
      "required": [
        "StreamingDistributionConfigWithTags"
      ],
      "type": "structure"
    },
    "CreateStreamingDistributionWithTagsResult": {
      "documentation": "<p>The returned result of the corresponding request. </p>",
      "members": {
        "ETag": {
          "documentation": "<p>The current version of the distribution created.</p>",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
[...]
