{
  "documentation": "<p>Amazon API Gateway V2</p>",
  "metadata": {
    "apiVersion": "2018-11-29",
    "endpointPrefix": "apigateway",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AmazonApiGatewayV2",
    "serviceId": "ApiGatewayV2",
    "signatureVersion": "v4",
    "signingName": "apigateway",
    "uid": "apigatewayv2-2018-11-29"
  },
  "operations": {
    "CreateApi": {
      "documentation": "<p>Creates an Api resource.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateApiRequest"
      },
      "name": "CreateApi",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateApiResponse"
      }
    },
    "CreateApiMapping": {
      "documentation": "<p>Creates an API mapping.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/domainnames/{domainName}/apimappings",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateApiMappingRequest"
      },
      "name": "CreateApiMapping",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateApiMappingResponse"
      }
    },
    "CreateAuthorizer": {
      "documentation": "<p>Creates an Authorizer for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/authorizers",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAuthorizerRequest"
      },
      "name": "CreateAuthorizer",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateAuthorizerResponse"
      }
    },
    "CreateDeployment": {
      "documentation": "<p>Creates a Deployment for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/deployments",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "name": "CreateDeployment",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateDeploymentResponse"
      }
    },
    "CreateDomainName": {
      "documentation": "<p>Creates a domain name.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        },
        {
          "documentation": "<p>403 response</p>",
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/domainnames",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDomainNameRequest"
      },
      "name": "CreateDomainName",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateDomainNameResponse"
      }
    },
    "CreateIntegration": {
      "documentation": "<p>Creates an Integration.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/integrations",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateIntegrationRequest"
      },
      "name": "CreateIntegration",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateIntegrationResult"
      }
    },
    "CreateIntegrationResponse": {
      "documentation": "<p>Creates an IntegrationResponses.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateIntegrationResponseRequest"
      },
      "name": "CreateIntegrationResponse",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateIntegrationResponseResponse"
      }
    },
    "CreateModel": {
      "documentation": "<p>Creates a Model for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/models",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateModelRequest"
      },
      "name": "CreateModel",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateModelResponse"
      }
    },
    "CreateRoute": {
      "documentation": "<p>Creates a Route for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/routes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRouteRequest"
      },
      "name": "CreateRoute",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateRouteResult"
      }
    },
    "CreateRouteResponse": {
      "documentation": "<p>Creates a RouteResponse for a Route.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRouteResponseRequest"
      },
      "name": "CreateRouteResponse",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateRouteResponseResponse"
      }
    },
    "CreateStage": {
      "documentation": "<p>Creates a Stage for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/apis/{apiId}/stages",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateStageRequest"
      },
      "name": "CreateStage",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateStageResponse"
      }
    },
    "CreateVpcLink": {
      "documentation": "<p>Creates a VPC link.</p>",
      "errors": [
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/vpclinks",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVpcLinkRequest"
      },
      "name": "CreateVpcLink",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "CreateVpcLinkResponse"
      }
    },
    "DeleteAccessLogSettings": {
      "documentation": "<p>Deletes the AccessLogSettings for a Stage. To disable access logging for a Stage, delete its AccessLogSettings.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}/accesslogsettings",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAccessLogSettingsRequest"
      },
      "name": "DeleteAccessLogSettings"
    },
    "DeleteApi": {
      "documentation": "<p>Deletes an Api resource.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteApiRequest"
      },
      "name": "DeleteApi"
    },
    "DeleteApiMapping": {
      "documentation": "<p>Deletes an API mapping.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteApiMappingRequest"
      },
      "name": "DeleteApiMapping"
    },
    "DeleteAuthorizer": {
      "documentation": "<p>Deletes an Authorizer.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAuthorizerRequest"
      },
      "name": "DeleteAuthorizer"
    },
    "DeleteCorsConfiguration": {
      "documentation": "<p>Deletes a CORS configuration.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/cors",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteCorsConfigurationRequest"
      },
      "name": "DeleteCorsConfiguration"
    },
    "DeleteDeployment": {
      "documentation": "<p>Deletes a Deployment.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDeploymentRequest"
      },
      "name": "DeleteDeployment"
    },
    "DeleteDomainName": {
      "documentation": "<p>Deletes a domain name.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/domainnames/{domainName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDomainNameRequest"
      },
      "name": "DeleteDomainName"
    },
    "DeleteIntegration": {
      "documentation": "<p>Deletes an Integration.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationRequest"
      },
      "name": "DeleteIntegration"
    },
    "DeleteIntegrationResponse": {
      "documentation": "<p>Deletes an IntegrationResponses.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteIntegrationResponseRequest"
      },
      "name": "DeleteIntegrationResponse"
    },
    "DeleteModel": {
      "documentation": "<p>Deletes a Model.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteModelRequest"
      },
      "name": "DeleteModel"
    },
    "DeleteRoute": {
      "documentation": "<p>Deletes a Route.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteRequest"
      },
      "name": "DeleteRoute"
    },
    "DeleteRouteRequestParameter": {
      "documentation": "<p>Deletes a route request parameter.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/requestparameters/{requestParameterKey}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteRequestParameterRequest"
      },
      "name": "DeleteRouteRequestParameter"
    },
    "DeleteRouteResponse": {
      "documentation": "<p>Deletes a RouteResponse.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteResponseRequest"
      },
      "name": "DeleteRouteResponse"
    },
    "DeleteRouteSettings": {
      "documentation": "<p>Deletes the RouteSettings for a stage.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}/routesettings/{routeKey}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRouteSettingsRequest"
      },
      "name": "DeleteRouteSettings"
    },
    "DeleteStage": {
      "documentation": "<p>Deletes a Stage.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteStageRequest"
      },
      "name": "DeleteStage"
    },
    "DeleteVpcLink": {
      "documentation": "<p>Deletes a VPC link.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/vpclinks/{vpcLinkId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteVpcLinkRequest"
      },
      "name": "DeleteVpcLink",
      "output": {
        "documentation": "<p>202 response</p>",
        "shape": "DeleteVpcLinkResponse"
      }
    },
    "GetApi": {
      "documentation": "<p>Gets an Api resource.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApiRequest"
      },
      "name": "GetApi",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetApiResponse"
      }
    },
    "GetApiMapping": {
      "documentation": "<p>Gets an API mapping.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApiMappingRequest"
      },
      "name": "GetApiMapping",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetApiMappingResponse"
      }
    },
    "GetApiMappings": {
      "documentation": "<p>Gets API mappings.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}/apimappings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApiMappingsRequest"
      },
      "name": "GetApiMappings",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetApiMappingsResponse"
      }
    },
    "GetApis": {
      "documentation": "<p>Gets a collection of Api resources.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis",
        "responseCode": 200
      },
      "input": {
        "shape": "GetApisRequest"
      },
      "name": "GetApis",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetApisResponse"
      }
    },
    "GetAuthorizer": {
      "documentation": "<p>Gets an Authorizer.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAuthorizerRequest"
      },
      "name": "GetAuthorizer",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetAuthorizerResponse"
      }
    },
    "GetAuthorizers": {
      "documentation": "<p>Gets the Authorizers for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/authorizers",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAuthorizersRequest"
      },
      "name": "GetAuthorizers",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetAuthorizersResponse"
      }
    },
    "GetDeployment": {
      "documentation": "<p>Gets a Deployment.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeploymentRequest"
      },
      "name": "GetDeployment",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetDeploymentResponse"
      }
    },
    "GetDeployments": {
      "documentation": "<p>Gets the Deployments for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeploymentsRequest"
      },
      "name": "GetDeployments",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetDeploymentsResponse"
      }
    },
    "GetDomainName": {
      "documentation": "<p>Gets a domain name.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames/{domainName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDomainNameRequest"
      },
      "name": "GetDomainName",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetDomainNameResponse"
      }
    },
    "GetDomainNames": {
      "documentation": "<p>Gets the domain names for an AWS account.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/domainnames",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDomainNamesRequest"
      },
      "name": "GetDomainNames",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetDomainNamesResponse"
      }
    },
    "GetIntegration": {
      "documentation": "<p>Gets an Integration.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationRequest"
      },
      "name": "GetIntegration",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetIntegrationResult"
      }
    },
    "GetIntegrationResponse": {
      "documentation": "<p>Gets an IntegrationResponses.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationResponseRequest"
      },
      "name": "GetIntegrationResponse",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetIntegrationResponseResponse"
      }
    },
    "GetIntegrationResponses": {
      "documentation": "<p>Gets the IntegrationResponses for an Integration.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationResponsesRequest"
      },
      "name": "GetIntegrationResponses",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetIntegrationResponsesResponse"
      }
    },
    "GetIntegrations": {
      "documentation": "<p>Gets the Integrations for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/integrations",
        "responseCode": 200
      },
      "input": {
        "shape": "GetIntegrationsRequest"
      },
      "name": "GetIntegrations",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetIntegrationsResponse"
      }
    },
    "GetModel": {
      "documentation": "<p>Gets a Model.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetModelRequest"
      },
      "name": "GetModel",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetModelResponse"
      }
    },
    "GetModelTemplate": {
      "documentation": "<p>Gets a model template.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}/template",
        "responseCode": 200
      },
      "input": {
        "shape": "GetModelTemplateRequest"
      },
      "name": "GetModelTemplate",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetModelTemplateResponse"
      }
    },
    "GetModels": {
      "documentation": "<p>Gets the Models for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/models",
        "responseCode": 200
      },
      "input": {
        "shape": "GetModelsRequest"
      },
      "name": "GetModels",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetModelsResponse"
      }
    },
    "GetRoute": {
      "documentation": "<p>Gets a Route.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRouteRequest"
      },
      "name": "GetRoute",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetRouteResult"
      }
    },
    "GetRouteResponse": {
      "documentation": "<p>Gets a RouteResponse.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRouteResponseRequest"
      },
      "name": "GetRouteResponse",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetRouteResponseResponse"
      }
    },
    "GetRouteResponses": {
      "documentation": "<p>Gets the RouteResponses for a Route.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRouteResponsesRequest"
      },
      "name": "GetRouteResponses",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetRouteResponsesResponse"
      }
    },
    "GetRoutes": {
      "documentation": "<p>Gets the Routes for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRoutesRequest"
      },
      "name": "GetRoutes",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetRoutesResponse"
      }
    },
    "GetStage": {
      "documentation": "<p>Gets a Stage.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStageRequest"
      },
      "name": "GetStage",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetStageResponse"
      }
    },
    "GetStages": {
      "documentation": "<p>Gets the Stages for an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/apis/{apiId}/stages",
        "responseCode": 200
      },
      "input": {
        "shape": "GetStagesRequest"
      },
      "name": "GetStages",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetStagesResponse"
      }
    },
    "GetTags": {
      "documentation": "<p>Gets a collection of Tag resources.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetTagsResponse"
      }
    },
    "GetVpcLink": {
      "documentation": "<p>Gets a VPC link.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/vpclinks/{vpcLinkId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVpcLinkRequest"
      },
      "name": "GetVpcLink",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetVpcLinkResponse"
      }
    },
    "GetVpcLinks": {
      "documentation": "<p>Gets a collection of VPC links.</p>",
      "errors": [
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v2/vpclinks",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVpcLinksRequest"
      },
      "name": "GetVpcLinks",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "GetVpcLinksResponse"
      }
    },
    "ImportApi": {
      "documentation": "<p>Imports an API.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/apis",
        "responseCode": 201
      },
      "input": {
        "shape": "ImportApiRequest"
      },
      "name": "ImportApi",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "ImportApiResponse"
      }
    },
    "ReimportApi": {
      "documentation": "<p>Puts an Api resource.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 201
      },
      "input": {
        "shape": "ReimportApiRequest"
      },
      "name": "ReimportApi",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "ReimportApiResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Creates a new Tag resource to represent a tag.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v2/tags/{resource-arn}",
        "responseCode": 201
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "documentation": "<p>The request has succeeded and has resulted in the creation of a resource.</p>",
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes a Tag.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v2/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateApi": {
      "documentation": "<p>Updates an Api resource.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApiRequest"
      },
      "name": "UpdateApi",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateApiResponse"
      }
    },
    "UpdateApiMapping": {
      "documentation": "<p>The API mapping.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/domainnames/{domainName}/apimappings/{apiMappingId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateApiMappingRequest"
      },
      "name": "UpdateApiMapping",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateApiMappingResponse"
      }
    },
    "UpdateAuthorizer": {
      "documentation": "<p>Updates an Authorizer.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/authorizers/{authorizerId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAuthorizerRequest"
      },
      "name": "UpdateAuthorizer",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateAuthorizerResponse"
      }
    },
    "UpdateDeployment": {
      "documentation": "<p>Updates a Deployment.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/deployments/{deploymentId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDeploymentRequest"
      },
      "name": "UpdateDeployment",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateDeploymentResponse"
      }
    },
    "UpdateDomainName": {
      "documentation": "<p>Updates a domain name.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/domainnames/{domainName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDomainNameRequest"
      },
      "name": "UpdateDomainName",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateDomainNameResponse"
      }
    },
    "UpdateIntegration": {
      "documentation": "<p>Updates an Integration.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIntegrationRequest"
      },
      "name": "UpdateIntegration",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateIntegrationResult"
      }
    },
    "UpdateIntegrationResponse": {
      "documentation": "<p>Updates an IntegrationResponses.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/integrations/{integrationId}/integrationresponses/{integrationResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateIntegrationResponseRequest"
      },
      "name": "UpdateIntegrationResponse",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateIntegrationResponseResponse"
      }
    },
    "UpdateModel": {
      "documentation": "<p>Updates a Model.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/models/{modelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateModelRequest"
      },
      "name": "UpdateModel",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateModelResponse"
      }
    },
    "UpdateRoute": {
      "documentation": "<p>Updates a Route.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRouteRequest"
      },
      "name": "UpdateRoute",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateRouteResult"
      }
    },
    "UpdateRouteResponse": {
      "documentation": "<p>Updates a RouteResponse.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/routes/{routeId}/routeresponses/{routeResponseId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRouteResponseRequest"
      },
      "name": "UpdateRouteResponse",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateRouteResponseResponse"
      }
    },
    "UpdateStage": {
      "documentation": "<p>Updates a Stage.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        },
        {
          "documentation": "<p>The resource already exists.</p>",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/apis/{apiId}/stages/{stageName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateStageRequest"
      },
      "name": "UpdateStage",
      "output": {
        "documentation": "<p>Success</p>",
        "shape": "UpdateStageResponse"
      }
    },
    "UpdateVpcLink": {
      "documentation": "<p>Updates a VPC link.</p>",
      "errors": [
        {
          "documentation": "<p>The resource specified in the request was not found.</p>",
          "shape": "NotFoundException"
        },
        {
          "documentation": "<p>The client is sending more than the allowed number of requests per unit of time.</p>",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "<p>One of the parameters in the request is invalid.</p>",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/v2/vpclinks/{vpcLinkId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateVpcLinkRequest"
      },
      "name": "UpdateVpcLink",
      "output": {
        "documentation": "<p>200 response</p>",
        "shape": "UpdateVpcLinkResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "AccessLogSettings": {
      "documentation": "<p>Settings for logging access in a stage.</p>",
      "members": {
        "DestinationArn": {
          "documentation": "<p>The ARN of the CloudWatch Logs log group to receive access logs.</p>",
          "locationName": "destinationArn",
          "shape": "Arn"
        },
        "Format": {
          "documentation": "<p>A single line format of the access logs of data, as specified by selected $context variables. The format must include at least $context.requestId.</p>",
          "locationName": "format",
          "shape": "StringWithLengthBetween1And1024"
        }
      },
      "type": "structure"
    },
    "Api": {
      "documentation": "<p>Represents an API.</p>",
      "members": {
        "ApiEndpoint": {
          "documentation": "<p>The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The stage name is typically appended to this URI to form a complete path to a deployed API stage.</p>",
          "locationName": "apiEndpoint",
          "shape": "__string"
        },
        "ApiId": {
          "documentation": "<p>The API ID.</p>",
          "locationName": "apiId",
          "shape": "Id"
        },
        "ApiKeySelectionExpression": {
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
          "locationName": "apiKeySelectionExpression",
          "shape": "SelectionExpression"
        },
        "CorsConfiguration": {
          "documentation": "<p>A CORS configuration. Supported only for HTTP APIs.</p>",
          "locationName": "corsConfiguration",
          "shape": "Cors"
        },
        "CreatedDate": {
          "documentation": "<p>The timestamp when the API was created.</p>",
          "locationName": "createdDate",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "<p>The description of the API.</p>",
          "locationName": "description",
          "shape": "StringWithLengthBetween0And1024"
        },
        "DisableSchemaValidation": {
          "documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
          "locationName": "disableSchemaValidation",
          "shape": "__boolean"
        },
        "ImportInfo": {
          "documentation": "<p>The validation information during API import. This may include particular properties of your OpenAPI definition which are ignored during import. Supported only for HTTP APIs.</p>",
          "locationName": "importInfo",
          "shape": "__listOf__string"
        },
        "Name": {
          "documentation": "<p>The name of the API.</p>",
          "locationName": "name",
          "shape": "StringWithLengthBetween1And128"
        },
        "ProtocolType": {
          "documentation": "<p>The API protocol.</p>",
          "locationName": "protocolType",
          "shape": "ProtocolType"
        },
        "RouteSelectionExpression": {
          "documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
          "locationName": "routeSelectionExpression",
          "shape": "SelectionExpression"
        },
        "Tags": {
          "documentation": "<p>A collection of tags associated with the API.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Version": {
          "documentation": "<p>A version identifier for the API.</p>",
          "locationName": "version",
          "shape": "StringWithLengthBetween1And64"
        },
        "Warnings": {
          "documentation": "<p>The warning messages reported when failonwarnings is turned on during API import.</p>",
          "locationName": "warnings",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "RouteSelectionExpression",
        "Name",
        "ProtocolType"
      ],
      "type": "structure"
    },
    "ApiMapping": {
      "documentation": "<p>Represents an API mapping.</p>",
      "members": {
        "ApiId": {
          "documentation": "<p>The API identifier.</p>",
          "locationName": "apiId",
          "shape": "Id"
        },
        "ApiMappingId": {
          "documentation": "<p>The API mapping identifier.</p>",
          "locationName": "apiMappingId",
          "shape": "Id"
        },
        "ApiMappingKey": {
          "documentation": "<p>The API mapping key.</p>",
          "locationName": "apiMappingKey",
          "shape": "SelectionKey"
        },
        "Stage": {
          "documentation": "<p>The API stage.</p>",
          "locationName": "stage",
          "shape": "StringWithLengthBetween1And128"
        }
      },
      "required": [
        "Stage",
        "ApiId"
      ],
      "type": "structure"
    },
    "ApiMappings": {
      "documentation": "<p>Represents a collection of ApiMappings resources.</p>",
      "members": {
        "Items": {
          "documentation": "<p>The elements from this collection.</p>",
          "locationName": "items",
          "shape": "__listOfApiMapping"
        },
        "NextToken": {
          "documentation": "<p>The next page of elements from this collection. Not valid for the last element of the collection.</p>",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "Apis": {
      "documentation": "<p>Represents a collection of APIs.</p>",
      "members": {
        "Items": {
          "documentation": "<p>The elements from this collection.</p>",
          "locationName": "items",
          "shape": "__listOfApi"
        },
        "NextToken": {
          "documentation": "<p>The next page of elements from this collection. Not valid for the last element of the collection.</p>",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "documentation": "<p>Represents an Amazon Resource Name (ARN).</p>",
      "type": "string"
    },
    "AuthorizationScopes": {
      "documentation": "<p>A list of authorization scopes configured on a route. The scopes are used with a JWT authorizer to authorize the method invocation. The authorization works by matching the route scopes against the scopes parsed from the access token in the incoming request. The method invocation is authorized if any route scope matches a claimed scope in the access token. Otherwise, the invocation is not authorized. When the route scope is configured, the client must provide an access token instead of an identity token for authorization purposes.</p>",
      "member": {
        "shape": "StringWithLengthBetween1And64"
      },
      "type": "list"
    },
    "AuthorizationType": {
      "documentation": "<p>The authorization type. For WebSocket APIs, valid values are NONE for open access, AWS_IAM for using AWS IAM permissions, and CUSTOM for using a Lambda authorizer. For HTTP APIs, valid values are NONE for open access, or JWT for using JSON Web Tokens.</p>",
      "enum": [
        "NONE",
        "AWS_IAM",
        "CUSTOM",
        "JWT"
      ],
      "type": "string"
    },
    "Authorizer": {
      "documentation": "<p>Represents an authorizer.</p>",
      "members": {
        "AuthorizerCredentialsArn": {
          "documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null. Supported only for REQUEST authorizers.</p>",
          "locationName": "authorizerCredentialsArn",
          "shape": "Arn"
        },
        "AuthorizerId": {
          "documentation": "<p>The authorizer identifier.</p>",
          "locationName": "authorizerId",
          "shape": "Id"
        },
        "AuthorizerResultTtlInSeconds": {
          "documentation": "<p>Authorizer caching is not currently supported. Don't specify this value for authorizers.</p>",
          "locationName": "authorizerResultTtlInSeconds",
          "shape": "IntegerWithLengthBetween0And3600"
        },
        "AuthorizerType": {
          "documentation": "<p>The authorizer type. For WebSocket APIs, specify REQUEST for a Lambda function using incoming request parameters. For HTTP APIs, specify JWT to use JSON Web Tokens.</p>",
          "locationName": "authorizerType",
          "shape": "AuthorizerType"
        },
        "AuthorizerUri": {
          "documentation": "<p>The authorizer's Uniform Resource Identifier (URI). ForREQUEST authorizers, this must be a well-formed Lambda function URI, for example, arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:<replaceable>{account_id}</replaceable>:function:<replaceable>{lambda_function_name}</replaceable>/invocations. In general, the URI has this form: arn:aws:apigateway:<replaceable>{region}</replaceable>:lambda:path/<replaceable>{service_api}</replaceable>\n               , where <replaceable></replaceable>{region} is the same as the region hosting the Lambda function, path indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial /. For Lambda functions, this is usually of the form /2015-03-31/functions/[FunctionARN]/invocations. Supported only for REQUEST authorizers.</p>",
          "locationName": "authorizerUri",
          "shape": "UriWithLengthBetween1And2048"
        },
        "IdentitySource": {
          "documentation": "<p>The identity source for which authorization is requested.</p> <p>For a REQUEST authorizer, this is optional. The value is a set of one or more mapping expressions of the specified request parameters. Currently, the identity source can be headers, query string parameters, stage variables, and context parameters. For example, if an Auth header and a Name query string parameter are defined as identity sources, this value is route.request.header.Auth, route.request.querystring.Name. These parameters will be used to perform runtime validation for Lambda-based authorizers by verifying all of the identity-related request parameters are present in the request, not null, and non-empty. Only when this is true does the authorizer invoke the authorizer Lambda function. Otherwise, it returns a 401 Unauthorized response without calling the Lambda function.</p> <p>For JWT, a single entry that specifies where to extract the JSON Web Token (JWT) from inbound requests. Currently only header-based and query parameter-based selections are supported, for example \"$request.header.Authorization\".</p>",
          "locationName": "identitySource",
          "shape": "IdentitySourceList"
        },
        "IdentityValidationExpression": {
          "documentation": "<p>The validation expression does not apply to the REQUEST authorizer.</p>",
          "locationName": "identityValidationExpression",
          "shape": "StringWithLengthBetween0And1024"
        },
        "JwtConfiguration": {
          "documentation": "<p>Represents the configuration of a JWT authorizer. Required for the JWT authorizer type. Supported only for HTTP APIs.</p>",
          "locationName": "jwtConfiguration",
          "shape": "JWTConfiguration"
        },
        "Name": {
          "documentation": "<p>The name of the authorizer.</p>",
          "locationName": "name",
          "shape": "StringWithLengthBetween1And128"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "AuthorizerType": {
      "documentation": "<p>The authorizer type. For WebSocket APIs, specify REQUEST for a Lambda function using incoming request parameters. For HTTP APIs, specify JWT to use JSON Web Tokens.</p>",
      "enum": [
        "REQUEST",
        "JWT"
      ],
      "type": "string"
    },
    "Authorizers": {
      "documentation": "<p>Represents a collection of authorizers.</p>",
      "members": {
        "Items": {
          "documentation": "<p>The elements from this collection.</p>",
          "locationName": "items",
          "shape": "__listOfAuthorizer"
        },
        "NextToken": {
          "documentation": "<p>The next page of elements from this collection. Not valid for the last element of the collection.</p>",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "<p>The request is not valid, for example, the input is incomplete or incorrect. See the accompanying error message for details.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>Describes the error encountered.</p>",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The requested operation would cause a conflict with the current state of a service resource associated with the request. Resolve the conflict before retrying this request. See the accompanying error message for details.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>Describes the error encountered.</p>",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ConnectionType": {
      "documentation": "<p>Represents a connection type.</p>",
      "enum": [
        "INTERNET",
        "VPC_LINK"
      ],
      "type": "string"
    },
    "ContentHandlingStrategy": {
      "documentation": "<p>Specifies how to handle response payload content type conversions. Supported only for WebSocket APIs.</p>",
      "enum": [
        "CONVERT_TO_BINARY",
        "CONVERT_TO_TEXT"
      ],
      "type": "string"
    },
    "Cors": {
      "documentation": "<p>Represents a CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>",
      "members": {
        "AllowCredentials": {
          "documentation": "<p>Specifies whether credentials are included in the CORS request. Supported only for HTTP APIs.</p>",
          "locationName": "allowCredentials",
          "shape": "__boolean"
        },
        "AllowHeaders": {
          "documentation": "<p>Represents a collection of allowed headers. Supported only for HTTP APIs.</p>",
          "locationName": "allowHeaders",
          "shape": "CorsHeaderList"
        },
        "AllowMethods": {
          "documentation": "<p>Represents a collection of allowed HTTP methods. Supported only for HTTP APIs.</p>",
          "locationName": "allowMethods",
          "shape": "CorsMethodList"
        },
        "AllowOrigins": {
          "documentation": "<p>Represents a collection of allowed origins. Supported only for HTTP APIs.</p>",
          "locationName": "allowOrigins",
          "shape": "CorsOriginList"
        },
        "ExposeHeaders": {
          "documentation": "<p>Represents a collection of exposed headers. Supported only for HTTP APIs.</p>",
          "locationName": "exposeHeaders",
          "shape": "CorsHeaderList"
        },
        "MaxAge": {
          "documentation": "<p>The number of seconds that the browser should cache preflight request results. Supported only for HTTP APIs.</p>",
          "locationName": "maxAge",
          "shape": "IntegerWithLengthBetweenMinus1And86400"
        }
      },
      "type": "structure"
    },
    "CorsHeaderList": {
      "documentation": "<p>Represents a collection of allowed headers. Supported only for HTTP APIs.</p>",
      "member": {
        "shape": "__string"
      },
      "type": "list"
    },
    "CorsMethodList": {
      "documentation": "<p>Represents a collection of methods. Supported only for HTTP APIs.</p>",
      "member": {
        "shape": "StringWithLengthBetween1And64"
      },
      "type": "list"
    },
    "CorsOriginList": {
      "documentation": "<p>Represents a collection of origins. Supported only for HTTP APIs.</p>",
      "member": {
        "shape": "__string"
      },
      "type": "list"
    },
    "CreateApiInput": {
      "documentation": "<p>Represents the input parameters for a CreateApi request.</p>",
      "members": {
        "ApiKeySelectionExpression": {
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
          "locationName": "apiKeySelectionExpression",
          "shape": "SelectionExpression"
        },
        "CorsConfiguration": {
          "documentation": "<p>A CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>",
          "locationName": "corsConfiguration",
          "shape": "Cors"
        },
        "CredentialsArn": {
          "documentation": "<p>This property is part of quick create. It specifies the credentials required for the integration, if any. For a Lambda integration, three options are available. To specify an IAM Role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To require that the caller's identity be passed through from the request, specify arn:aws:iam::*:user/*. To use resource-based permissions on supported AWS services, specify null. Currently, this property is not used for HTTP integrations. Supported only for HTTP APIs.</p>",
          "locationName": "credentialsArn",
          "shape": "Arn"
        },
        "Description": {
          "documentation": "<p>The description of the API.</p>",
          "locationName": "description",
          "shape": "StringWithLengthBetween0And1024"
        },
        "DisableSchemaValidation": {
          "documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
          "locationName": "disableSchemaValidation",
          "shape": "__boolean"
        },
        "Name": {
          "documentation": "<p>The name of the API.</p>",
          "locationName": "name",
          "shape": "StringWithLengthBetween1And128"
        },
        "ProtocolType": {
          "documentation": "<p>The API protocol.</p>",
          "locationName": "protocolType",
          "shape": "ProtocolType"
        },
        "RouteKey": {
          "documentation": "<p>This property is part of quick create. If you don't specify a routeKey, a default route of $default is created. The $default route acts as a catch-all for any request made to your API, for a particular stage. The $default route key can't be modified. You can add routes after creating the API, and you can update the route keys of additional routes. Supported only for HTTP APIs.</p>",
          "locationName": "routeKey",
          "shape": "SelectionKey"
        },
        "RouteSelectionExpression": {
          "documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
          "locationName": "routeSelectionExpression",
          "shape": "SelectionExpression"
        },
        "Tags": {
          "documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Target": {
          "documentation": "<p>This property is part of quick create. Quick create produces an API with an integration, a default catch-all route, and a default stage which is configured to automatically deploy changes. For HTTP integrations, specify a fully qualified URL. For Lambda integrations, specify a function ARN. The type of the integration will be HTTP_PROXY or AWS_PROXY, respectively. Supported only for HTTP APIs.</p>",
          "locationName": "target",
          "shape": "UriWithLengthBetween1And2048"
        },
        "Version": {
          "documentation": "<p>A version identifier for the API.</p>",
          "locationName": "version",
          "shape": "StringWithLengthBetween1And64"
        }
      },
      "required": [
        "ProtocolType",
        "Name"
      ],
      "type": "structure"
    },
    "CreateApiMappingInput": {
      "documentation": "<p>Represents the input parameters for a CreateApiMapping request.</p>",
      "members": {
        "ApiId": {
          "documentation": "<p>The API identifier.</p>",
          "locationName": "apiId",
          "shape": "Id"
        },
        "ApiMappingKey": {
          "documentation": "The API mapping key.",
          "locationName": "apiMappingKey",
          "shape": "SelectionKey"
        },
        "Stage": {
          "documentation": "<p>The API stage.</p>",
          "locationName": "stage",
          "shape": "StringWithLengthBetween1And128"
        }
      },
      "required": [
        "Stage",
        "ApiId"
      ],
      "type": "structure"
    },
    "CreateApiMappingRequest": {
      "documentation": "<p>Creates a new ApiMapping resource to represent an API mapping.</p>",
      "members": {
        "ApiId": {
          "documentation": "<p>The API identifier.</p>",
          "locationName": "apiId",
          "shape": "Id"
        },
        "ApiMappingKey": {
          "documentation": "The API mapping key.",
          "locationName": "apiMappingKey",
          "shape": "SelectionKey"
        },
        "DomainName": {
          "documentation": "<p>The domain name.</p>",
          "location": "uri",
          "locationName": "domainName",
          "shape": "__string"
        },
        "Stage": {
          "documentation": "<p>The API stage.</p>",
          "locationName": "stage",
          "shape": "StringWithLengthBetween1And128"
        }
      },
      "required": [
        "DomainName",
        "Stage",
        "ApiId"
      ],
      "type": "structure"
    },
    "CreateApiMappingResponse": {
      "members": {
        "ApiId": {
          "documentation": "<p>The API identifier.</p>",
          "locationName": "apiId",
          "shape": "Id"
        },
        "ApiMappingId": {
          "documentation": "<p>The API mapping identifier.</p>",
          "locationName": "apiMappingId",
          "shape": "Id"
        },
        "ApiMappingKey": {
          "documentation": "<p>The API mapping key.</p>",
          "locationName": "apiMappingKey",
          "shape": "SelectionKey"
        },
        "Stage": {
          "documentation": "<p>The API stage.</p>",
          "locationName": "stage",
          "shape": "StringWithLengthBetween1And128"
        }
      },
      "type": "structure"
    },
    "CreateApiRequest": {
      "documentation": "<p>Creates a new Api resource to represent an API.</p>",
      "members": {
        "ApiKeySelectionExpression": {
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
          "locationName": "apiKeySelectionExpression",
          "shape": "SelectionExpression"
        },
        "CorsConfiguration": {
          "documentation": "<p>A CORS configuration. Supported only for HTTP APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/http-api-cors.html\">Configuring CORS</a> for more information.</p>",
          "locationName": "corsConfiguration",
          "shape": "Cors"
        },
        "CredentialsArn": {
          "documentation": "<p>This property is part of quick create. It specifies the credentials required for the integration, if any. For a Lambda integration, three options are available. To specify an IAM Role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To require that the caller's identity be passed through from the request, specify arn:aws:iam::*:user/*. To use resource-based permissions on supported AWS services, specify null. Currently, this property is not used for HTTP integrations. Supported only for HTTP APIs.</p>",
          "locationName": "credentialsArn",
          "shape": "Arn"
        },
        "Description": {
          "documentation": "<p>The description of the API.</p>",
          "locationName": "description",
          "shape": "StringWithLengthBetween0And1024"
        },
        "DisableSchemaValidation": {
          "documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
          "locationName": "disableSchemaValidation",
          "shape": "__boolean"
        },
        "Name": {
          "documentation": "<p>The name of the API.</p>",
          "locationName": "name",
          "shape": "StringWithLengthBetween1And128"
        },
        "ProtocolType": {
          "documentation": "<p>The API protocol.</p>",
          "locationName": "protocolType",
          "shape": "ProtocolType"
        },
        "RouteKey": {
          "documentation": "<p>This property is part of quick create. If you don't specify a routeKey, a default route of $default is created. The $default route acts as a catch-all for any request made to your API, for a particular stage. The $default route key can't be modified. You can add routes after creating the API, and you can update the route keys of additional routes. Supported only for HTTP APIs.</p>",
          "locationName": "routeKey",
          "shape": "SelectionKey"
        },
        "RouteSelectionExpression": {
          "documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
          "locationName": "routeSelectionExpression",
          "shape": "SelectionExpression"
        },
        "Tags": {
          "documentation": "<p>The collection of tags. Each tag element is associated with a given resource.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Target": {
          "documentation": "<p>This property is part of quick create. Quick create produces an API with an integration, a default catch-all route, and a default stage which is configured to automatically deploy changes. For HTTP integrations, specify a fully qualified URL. For Lambda integrations, specify a function ARN. The type of the integration will be HTTP_PROXY or AWS_PROXY, respectively. Supported only for HTTP APIs.</p>",
          "locationName": "target",
          "shape": "UriWithLengthBetween1And2048"
        },
        "Version": {
          "documentation": "<p>A version identifier for the API.</p>",
          "locationName": "version",
          "shape": "StringWithLengthBetween1And64"
        }
      },
      "required": [
        "ProtocolType",
        "Name"
      ],
      "type": "structure"
    },
    "CreateApiResponse": {
      "members": {
        "ApiEndpoint": {
          "documentation": "<p>The URI of the API, of the form {api-id}.execute-api.{region}.amazonaws.com. The stage name is typically appended to this URI to form a complete path to a deployed API stage.</p>",
          "locationName": "apiEndpoint",
          "shape": "__string"
        },
        "ApiId": {
          "documentation": "<p>The API ID.</p>",
          "locationName": "apiId",
          "shape": "Id"
        },
        "ApiKeySelectionExpression": {
          "documentation": "<p>An API key selection expression. Supported only for WebSocket APIs. See <a href=\"https://docs.aws.amazon.com/apigateway/latest/developerguide/apigateway-websocket-api-selection-expressions.html#apigateway-websocket-api-apikey-selection-expressions\">API Key Selection Expressions</a>.</p>",
          "locationName": "apiKeySelectionExpression",
          "shape": "SelectionExpression"
        },
        "CorsConfiguration": {
          "documentation": "<p>A CORS configuration. Supported only for HTTP APIs.</p>",
          "locationName": "corsConfiguration",
          "shape": "Cors"
        },
        "CreatedDate": {
          "documentation": "<p>The timestamp when the API was created.</p>",
          "locationName": "createdDate",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "<p>The description of the API.</p>",
          "locationName": "description",
          "shape": "StringWithLengthBetween0And1024"
        },
        "DisableSchemaValidation": {
          "documentation": "<p>Avoid validating models when creating a deployment. Supported only for WebSocket APIs.</p>",
          "locationName": "disableSchemaValidation",
          "shape": "__boolean"
        },
        "ImportInfo": {
          "documentation": "<p>The validation information during API import. This may include particular properties of your OpenAPI definition which are ignored during import. Supported only for HTTP APIs.</p>",
          "locationName": "importInfo",
          "shape": "__listOf__string"
        },
        "Name": {
          "documentation": "<p>The name of the API.</p>",
          "locationName": "name",
          "shape": "StringWithLengthBetween1And128"
        },
        "ProtocolType": {
          "documentation": "<p>The API protocol.</p>",
          "locationName": "protocolType",
          "shape": "ProtocolType"
        },
        "RouteSelectionExpression": {
          "documentation": "<p>The route selection expression for the API. For HTTP APIs, the routeSelectionExpression must be ${request.method} ${request.path}. If not provided, this will be the default for HTTP APIs. This property is required for WebSocket APIs.</p>",
          "locationName": "routeSelectionExpression",
          "shape": "SelectionExpression"
        },
        "Tags": {
          "documentation": "<p>A collection of tags associated with the API.</p>",
          "locationName": "tags",
          "shape": "Tags"
        },
        "Version": {
          "documentation": "<p>A version identifier for the API.</p>",
          "locationName": "version",
          "shape": "StringWithLengthBetween1And64"
        },
        "Warnings": {
          "documentation": "<p>The warning messages reported when failonwarnings is turned on during API import.</p>",
          "locationName": "warnings",
          "shape": "__listOf__string"
        }
      },
      "type": "structure"
    },
    "CreateAuthorizerInput": {
      "documentation": "<p>Represents the input parameters for a CreateAuthorizer request.</p>",
      "members": {
        "AuthorizerCredentialsArn": {
          "documentation": "<p>Specifies the required credentials as an IAM role for API Gateway to invoke the authorizer. To specify an IAM role for API Gateway to assume, use the role's Amazon Resource Name (ARN). To use resource-based permissions on the Lambda function, specify null. Supported only for REQUEST authorizers.</p>",
          "locationName": "authorizerCredentialsArn",
          "shape": "Arn"
        },
        "AuthorizerResultTtlInSeconds": {
          "documentation": "<p>Authorizer caching is not currently supported. Don't specify this value for authorizers.</p>",
          "locationName": "authorizerResultTtlInSeconds",
          "shape": "IntegerWithLengthBetween0And3600"
        },
        "AuthorizerType": {
          "documentation": "<p>The authorizer type. For WebSocket APIs, specify REQUEST for a Lambda function using incoming request parameters. For HTTP APIs, specify JWT to use JSON Web Tokens.</p>",
          "locationName": "authorizerType",
          "shape": "AuthorizerType"
        },
        "AuthorizerUri": {
          "documentation": "<p>The authorizer's Uniform Resource Identifier (URI). For REQUEST authorizers, this must be a well-formed Lambda function URI, for example, arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:<replaceable>{account_id}</replaceable>:function:<replaceable>{lambda_function_name}</replaceable>/invocations. In general, the URI has this form: arn:aws:apigateway:<replaceable>{region}</replaceable>:lambda:path/<replaceable>{service_api}</replaceable>\n               , where <replaceable></replaceable>{region} is the same as the region hosting the Lambda function, path indicates that the remaining substring in the URI should be treated as the path to the resource, including the initial /. For Lambda functions, this is usually of the form /2015-03-31/functions/[FunctionARN]/invocations. Supported only for REQUEST authorizers.</p>",
          "locationName": "authorizerUri",
          "shape": "UriWithLengthBetween1And2048"
        },
        "IdentitySource": {
[...]
