{
  "documentation": "<p>The Amazon Chime API (application programming interface) is designed for developers to perform key tasks, such as creating and managing Amazon Chime accounts, users, and Voice Connectors. This guide provides detailed information about the Amazon Chime API, including operations, types, inputs and outputs, and error codes. It also includes some server-side API actions to use with the Amazon Chime SDK. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p> <p>You can use an AWS SDK, the AWS Command Line Interface (AWS CLI), or the REST API to make API calls. We recommend using an AWS SDK or the AWS CLI. Each API operation includes links to information about using it with a language-specific AWS SDK or the AWS CLI.</p> <dl> <dt>Using an AWS SDK</dt> <dd> <p>You don't need to write code to calculate a signature for request authentication. The SDK clients authenticate your requests by using access keys that you provide. For more information about AWS SDKs, see the <a href=\"http://aws.amazon.com/developer/\">AWS Developer Center</a>.</p> </dd> <dt>Using the AWS CLI</dt> <dd> <p>Use your access keys with the AWS CLI to make API calls. For information about setting up the AWS CLI, see <a href=\"https://docs.aws.amazon.com/cli/latest/userguide/installing.html\">Installing the AWS Command Line Interface</a> in the <i>AWS Command Line Interface User Guide</i>. For a list of available Amazon Chime commands, see the <a href=\"https://docs.aws.amazon.com/cli/latest/reference/chime/index.html\">Amazon Chime commands</a> in the <i>AWS CLI Command Reference</i>.</p> </dd> <dt>Using REST API</dt> <dd> <p>If you use REST to make API calls, you must authenticate your request by providing a signature. Amazon Chime supports signature version 4. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a> in the <i>Amazon Web Services General Reference</i>.</p> <p>When making REST API calls, use the service name <code>chime</code> and REST endpoint <code>https://service.chime.aws.amazon.com</code>.</p> </dd> </dl> <p>Administrative permissions are controlled using AWS Identity and Access Management (IAM). For more information, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/security-iam.html\">Identity and Access Management for Amazon Chime</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2018-05-01",
    "endpointPrefix": "chime",
    "protocol": "rest-json",
    "serviceFullName": "Amazon Chime",
    "serviceId": "Chime",
    "signatureVersion": "v4",
    "uid": "chime-2018-05-01"
  },
  "operations": {
    "AssociatePhoneNumberWithUser": {
      "documentation": "<p>Associates a phone number with the specified Amazon Chime user.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=associate-phone-number",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociatePhoneNumberWithUserRequest"
      },
      "name": "AssociatePhoneNumberWithUser",
      "output": {
        "shape": "AssociatePhoneNumberWithUserResponse"
      }
    },
    "AssociatePhoneNumbersWithVoiceConnector": {
      "documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorRequest"
      },
      "name": "AssociatePhoneNumbersWithVoiceConnector",
      "output": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorResponse"
      }
    },
    "AssociatePhoneNumbersWithVoiceConnectorGroup": {
      "documentation": "<p>Associates phone numbers with the specified Amazon Chime Voice Connector group.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=associate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorGroupRequest"
      },
      "name": "AssociatePhoneNumbersWithVoiceConnectorGroup",
      "output": {
        "shape": "AssociatePhoneNumbersWithVoiceConnectorGroupResponse"
      }
    },
    "AssociateSigninDelegateGroupsWithAccount": {
      "documentation": "<p>Associates the specified sign-in delegate groups with the specified Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}?operation=associate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateSigninDelegateGroupsWithAccountRequest"
      },
      "name": "AssociateSigninDelegateGroupsWithAccount",
      "output": {
        "shape": "AssociateSigninDelegateGroupsWithAccountResponse"
      }
    },
    "BatchCreateAttendee": {
      "documentation": "<p>Creates up to 100 new attendees for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings/{meetingId}/attendees?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "shape": "BatchCreateAttendeeRequest"
      },
      "name": "BatchCreateAttendee",
      "output": {
        "shape": "BatchCreateAttendeeResponse"
      }
    },
    "BatchCreateRoomMembership": {
      "documentation": "<p>Adds up to 50 members to a chat room in an Amazon Chime Enterprise account. Members can be either users or bots. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships?operation=batch-create",
        "responseCode": 201
      },
      "input": {
        "shape": "BatchCreateRoomMembershipRequest"
      },
      "name": "BatchCreateRoomMembership",
      "output": {
        "shape": "BatchCreateRoomMembershipResponse"
      }
    },
    "BatchDeletePhoneNumber": {
      "documentation": "<p>Moves phone numbers into the <b>Deletion queue</b>. Phone numbers must be disassociated from any users or Amazon Chime Voice Connectors before they can be deleted.</p> <p>Phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-numbers?operation=batch-delete",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchDeletePhoneNumberRequest"
      },
      "name": "BatchDeletePhoneNumber",
      "output": {
        "shape": "BatchDeletePhoneNumberResponse"
      }
    },
    "BatchSuspendUser": {
      "documentation": "<p>Suspends up to 50 users from a <code>Team</code> or <code>EnterpriseLWA</code> Amazon Chime account. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Users suspended from a <code>Team</code> account are disassociated from the account, but they can continue to use Amazon Chime as free users. To remove the suspension from suspended <code>Team</code> account users, invite them to the <code>Team</code> account again. You can use the <a>InviteUsers</a> action to do so.</p> <p>Users suspended from an <code>EnterpriseLWA</code> account are immediately signed out of Amazon Chime and can no longer sign in. To remove the suspension from suspended <code>EnterpriseLWA</code> account users, use the <a>BatchUnsuspendUser</a> action. </p> <p>To sign out users without suspending them, use the <a>LogoutUser</a> action.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=suspend",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchSuspendUserRequest"
      },
      "name": "BatchSuspendUser",
      "output": {
        "shape": "BatchSuspendUserResponse"
      }
    },
    "BatchUnsuspendUser": {
      "documentation": "<p>Removes the suspension from up to 50 previously suspended users for the specified Amazon Chime <code>EnterpriseLWA</code> account. Only users on <code>EnterpriseLWA</code> accounts can be unsuspended using this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p> <p>Previously suspended users who are unsuspended using this action are returned to <code>Registered</code> status. Users who are not previously suspended are ignored.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=unsuspend",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUnsuspendUserRequest"
      },
      "name": "BatchUnsuspendUser",
      "output": {
        "shape": "BatchUnsuspendUserResponse"
      }
    },
    "BatchUpdatePhoneNumber": {
      "documentation": "<p>Updates phone number product types or calling names. You can update one attribute at a time for each <code>UpdatePhoneNumberRequestItem</code>. For example, you can update either the product type or the calling name.</p> <p>For product types, choose from Amazon Chime Business Calling and Amazon Chime Voice Connector. For toll-free numbers, you must use the Amazon Chime Voice Connector product type.</p> <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-numbers?operation=batch-update",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdatePhoneNumberRequest"
      },
      "name": "BatchUpdatePhoneNumber",
      "output": {
        "shape": "BatchUpdatePhoneNumberResponse"
      }
    },
    "BatchUpdateUser": {
      "documentation": "<p>Updates user details within the <a>UpdateUserRequestItem</a> object for up to 20 users for the specified Amazon Chime account. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateUserRequest"
      },
      "name": "BatchUpdateUser",
      "output": {
        "shape": "BatchUpdateUserResponse"
      }
    },
    "CreateAccount": {
      "documentation": "<p>Creates an Amazon Chime account under the administrator's AWS account. Only <code>Team</code> account types are currently supported for this action. For more information about different account types, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/manage-chime-account.html\">Managing Your Amazon Chime Accounts</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAccountRequest"
      },
      "name": "CreateAccount",
      "output": {
        "shape": "CreateAccountResponse"
      }
    },
    "CreateAttendee": {
      "documentation": "<p>Creates a new attendee for an active Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAttendeeRequest"
      },
      "name": "CreateAttendee",
      "output": {
        "shape": "CreateAttendeeResponse"
      }
    },
    "CreateBot": {
      "documentation": "<p>Creates a bot for an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateBotRequest"
      },
      "name": "CreateBot",
      "output": {
        "shape": "CreateBotResponse"
      }
    },
    "CreateMeeting": {
      "documentation": "<p>Creates a new Amazon Chime SDK meeting in the specified media Region with no initial attendees. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/meetings",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMeetingRequest"
      },
      "name": "CreateMeeting",
      "output": {
        "shape": "CreateMeetingResponse"
      }
    },
    "CreatePhoneNumberOrder": {
      "documentation": "<p>Creates an order for phone numbers to be provisioned. Choose from Amazon Chime Business Calling and Amazon Chime Voice Connector product types. For toll-free numbers, you must use the Amazon Chime Voice Connector product type.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-number-orders",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePhoneNumberOrderRequest"
      },
      "name": "CreatePhoneNumberOrder",
      "output": {
        "shape": "CreatePhoneNumberOrderResponse"
      }
    },
    "CreateRoom": {
      "documentation": "<p>Creates a chat room for the specified Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRoomRequest"
      },
      "name": "CreateRoom",
      "output": {
        "shape": "CreateRoomResponse"
      }
    },
    "CreateRoomMembership": {
      "documentation": "<p>Adds a member to a chat room in an Amazon Chime Enterprise account. A member can be either a user or a bot. The member role designates whether the member is a chat room administrator or a general chat room member.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateRoomMembershipRequest"
      },
      "name": "CreateRoomMembership",
      "output": {
        "shape": "CreateRoomMembershipResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a user under the specified Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=create",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "CreateVoiceConnector": {
      "documentation": "<p>Creates an Amazon Chime Voice Connector under the administrator's AWS account. You can choose to create an Amazon Chime Voice Connector in a specific AWS Region.</p> <p>Enabling <a>CreateVoiceConnectorRequest$RequireEncryption</a> configures your Amazon Chime Voice Connector to use TLS transport for SIP signaling and Secure RTP (SRTP) for media. Inbound calls use TLS transport, and unencrypted outbound calls are blocked.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVoiceConnectorRequest"
      },
      "name": "CreateVoiceConnector",
      "output": {
        "shape": "CreateVoiceConnectorResponse"
      }
    },
    "CreateVoiceConnectorGroup": {
      "documentation": "<p>Creates an Amazon Chime Voice Connector group under the administrator's AWS account. You can associate Amazon Chime Voice Connectors with the Amazon Chime Voice Connector group by including <code>VoiceConnectorItems</code> in the request.</p> <p>You can include Amazon Chime Voice Connectors from different AWS Regions in your group. This creates a fault tolerant mechanism for fallback in case of availability events.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connector-groups",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateVoiceConnectorGroupRequest"
      },
      "name": "CreateVoiceConnectorGroup",
      "output": {
        "shape": "CreateVoiceConnectorGroupResponse"
      }
    },
    "DeleteAccount": {
      "documentation": "<p>Deletes the specified Amazon Chime account. You must suspend all users before deleting a <code>Team</code> account. You can use the <a>BatchSuspendUser</a> action to do so.</p> <p>For <code>EnterpriseLWA</code> and <code>EnterpriseAD</code> accounts, you must release the claimed domains for your Amazon Chime account before deletion. As soon as you release the domain, all users under that account are suspended.</p> <p>Deleted accounts appear in your <code>Disabled</code> accounts list for 90 days. To restore a deleted account from your <code>Disabled</code> accounts list, you must contact AWS Support.</p> <p>After 90 days, deleted accounts are permanently removed from your <code>Disabled</code> accounts list.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnprocessableEntityException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAccountRequest"
      },
      "name": "DeleteAccount",
      "output": {
        "shape": "DeleteAccountResponse"
      }
    },
    "DeleteAttendee": {
      "documentation": "<p>Deletes an attendee from the specified Amazon Chime SDK meeting and deletes their <code>JoinToken</code>. Attendees are automatically deleted when a Amazon Chime SDK meeting is deleted. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAttendeeRequest"
      },
      "name": "DeleteAttendee"
    },
    "DeleteEventsConfiguration": {
      "documentation": "<p>Deletes the events configuration that allows a bot to receive outgoing events.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteEventsConfigurationRequest"
      },
      "name": "DeleteEventsConfiguration"
    },
    "DeleteMeeting": {
      "documentation": "<p>Deletes the specified Amazon Chime SDK meeting. When a meeting is deleted, its attendees are also deleted and clients can no longer join it. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteMeetingRequest"
      },
      "name": "DeleteMeeting"
    },
    "DeletePhoneNumber": {
      "documentation": "<p>Moves the specified phone number into the <b>Deletion queue</b>. A phone number must be disassociated from any users or Amazon Chime Voice Connectors before it can be deleted.</p> <p>Deleted phone numbers remain in the <b>Deletion queue</b> for 7 days before they are deleted permanently.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeletePhoneNumberRequest"
      },
      "name": "DeletePhoneNumber"
    },
    "DeleteRoom": {
      "documentation": "<p>Deletes a chat room in an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRoomRequest"
      },
      "name": "DeleteRoom"
    },
    "DeleteRoomMembership": {
      "documentation": "<p>Removes a member from a chat room in an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteRoomMembershipRequest"
      },
      "name": "DeleteRoomMembership"
    },
    "DeleteVoiceConnector": {
      "documentation": "<p>Deletes the specified Amazon Chime Voice Connector. Any phone numbers associated with the Amazon Chime Voice Connector must be disassociated from it before it can be deleted.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorRequest"
      },
      "name": "DeleteVoiceConnector"
    },
    "DeleteVoiceConnectorGroup": {
      "documentation": "<p>Deletes the specified Amazon Chime Voice Connector group. Any <code>VoiceConnectorItems</code> and phone numbers associated with the group must be removed before it can be deleted.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorGroupRequest"
      },
      "name": "DeleteVoiceConnectorGroup"
    },
    "DeleteVoiceConnectorOrigination": {
      "documentation": "<p>Deletes the origination settings for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorOriginationRequest"
      },
      "name": "DeleteVoiceConnectorOrigination"
    },
    "DeleteVoiceConnectorStreamingConfiguration": {
      "documentation": "<p>Deletes the streaming configuration for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorStreamingConfigurationRequest"
      },
      "name": "DeleteVoiceConnectorStreamingConfiguration"
    },
    "DeleteVoiceConnectorTermination": {
      "documentation": "<p>Deletes the termination settings for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorTerminationRequest"
      },
      "name": "DeleteVoiceConnectorTermination"
    },
    "DeleteVoiceConnectorTerminationCredentials": {
      "documentation": "<p>Deletes the specified SIP credentials used by your equipment to authenticate during call termination.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=delete",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteVoiceConnectorTerminationCredentialsRequest"
      },
      "name": "DeleteVoiceConnectorTerminationCredentials"
    },
    "DisassociatePhoneNumberFromUser": {
      "documentation": "<p>Disassociates the primary provisioned phone number from the specified Amazon Chime user.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=disassociate-phone-number",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociatePhoneNumberFromUserRequest"
      },
      "name": "DisassociatePhoneNumberFromUser",
      "output": {
        "shape": "DisassociatePhoneNumberFromUserResponse"
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnector": {
      "documentation": "<p>Disassociates the specified phone numbers from the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorRequest"
      },
      "name": "DisassociatePhoneNumbersFromVoiceConnector",
      "output": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorResponse"
      }
    },
    "DisassociatePhoneNumbersFromVoiceConnectorGroup": {
      "documentation": "<p>Disassociates the specified phone numbers from the specified Amazon Chime Voice Connector group.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}?operation=disassociate-phone-numbers",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorGroupRequest"
      },
      "name": "DisassociatePhoneNumbersFromVoiceConnectorGroup",
      "output": {
        "shape": "DisassociatePhoneNumbersFromVoiceConnectorGroupResponse"
      }
    },
    "DisassociateSigninDelegateGroupsFromAccount": {
      "documentation": "<p>Disassociates the specified sign-in delegate groups from the specified Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}?operation=disassociate-signin-delegate-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateSigninDelegateGroupsFromAccountRequest"
      },
      "name": "DisassociateSigninDelegateGroupsFromAccount",
      "output": {
        "shape": "DisassociateSigninDelegateGroupsFromAccountResponse"
      }
    },
    "GetAccount": {
      "documentation": "<p>Retrieves details for the specified Amazon Chime account, such as account type and supported licenses.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}"
      },
      "input": {
        "shape": "GetAccountRequest"
      },
      "name": "GetAccount",
      "output": {
        "shape": "GetAccountResponse"
      }
    },
    "GetAccountSettings": {
      "documentation": "<p>Retrieves account settings for the specified Amazon Chime account ID, such as remote control and dial out settings. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/settings"
      },
      "input": {
        "shape": "GetAccountSettingsRequest"
      },
      "name": "GetAccountSettings",
      "output": {
        "shape": "GetAccountSettingsResponse"
      }
    },
    "GetAttendee": {
      "documentation": "<p>Gets the Amazon Chime SDK attendee details for a specified meeting ID and attendee ID. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees/{attendeeId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAttendeeRequest"
      },
      "name": "GetAttendee",
      "output": {
        "shape": "GetAttendeeResponse"
      }
    },
    "GetBot": {
      "documentation": "<p>Retrieves details for the specified bot, such as bot email address, bot type, status, and display name.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBotRequest"
      },
      "name": "GetBot",
      "output": {
        "shape": "GetBotResponse"
      }
    },
    "GetEventsConfiguration": {
      "documentation": "<p>Gets details for an events configuration that allows a bot to receive outgoing events, such as an HTTPS endpoint or Lambda function ARN. </p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventsConfigurationRequest"
      },
      "name": "GetEventsConfiguration",
      "output": {
        "shape": "GetEventsConfigurationResponse"
      }
    },
    "GetGlobalSettings": {
      "documentation": "<p>Retrieves global settings for the administrator's AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/settings",
        "responseCode": 200
      },
      "name": "GetGlobalSettings",
      "output": {
        "shape": "GetGlobalSettingsResponse"
      }
    },
    "GetMeeting": {
      "documentation": "<p>Gets the Amazon Chime SDK meeting details for the specified meeting ID. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetMeetingRequest"
      },
      "name": "GetMeeting",
      "output": {
        "shape": "GetMeetingResponse"
      }
    },
    "GetPhoneNumber": {
      "documentation": "<p>Retrieves details for the specified phone number ID, such as associations, capabilities, and product type.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers/{phoneNumberId}"
      },
      "input": {
        "shape": "GetPhoneNumberRequest"
      },
      "name": "GetPhoneNumber",
      "output": {
        "shape": "GetPhoneNumberResponse"
      }
    },
    "GetPhoneNumberOrder": {
      "documentation": "<p>Retrieves details for the specified phone number order, such as order creation timestamp, phone numbers in E.164 format, product type, and order status.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders/{phoneNumberOrderId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPhoneNumberOrderRequest"
      },
      "name": "GetPhoneNumberOrder",
      "output": {
        "shape": "GetPhoneNumberOrderResponse"
      }
    },
    "GetPhoneNumberSettings": {
      "documentation": "<p>Retrieves the phone number settings for the administrator's AWS account, such as the default outbound calling name.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/settings/phone-number",
        "responseCode": 200
      },
      "name": "GetPhoneNumberSettings",
      "output": {
        "shape": "GetPhoneNumberSettingsResponse"
      }
    },
    "GetRoom": {
      "documentation": "<p>Retrieves room details, such as the room name, for a room in an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetRoomRequest"
      },
      "name": "GetRoom",
      "output": {
        "shape": "GetRoomResponse"
      }
    },
    "GetUser": {
      "documentation": "<p>Retrieves details for the specified user ID, such as primary email address, license type, and personal meeting PIN.</p> <p>To retrieve user details with an email address instead of a user ID, use the <a>ListUsers</a> action, and then filter by email address.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUserRequest"
      },
      "name": "GetUser",
      "output": {
        "shape": "GetUserResponse"
      }
    },
    "GetUserSettings": {
      "documentation": "<p>Retrieves settings for the specified user ID, such as any associated phone number settings.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users/{userId}/settings",
        "responseCode": 200
      },
      "input": {
        "shape": "GetUserSettingsRequest"
      },
      "name": "GetUserSettings",
      "output": {
        "shape": "GetUserSettingsResponse"
      }
    },
    "GetVoiceConnector": {
      "documentation": "<p>Retrieves details for the specified Amazon Chime Voice Connector, such as timestamps, name, outbound host, and encryption requirements.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorRequest"
      },
      "name": "GetVoiceConnector",
      "output": {
        "shape": "GetVoiceConnectorResponse"
      }
    },
    "GetVoiceConnectorGroup": {
      "documentation": "<p>Retrieves details for the specified Amazon Chime Voice Connector group, such as timestamps, name, and associated <code>VoiceConnectorItems</code>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups/{voiceConnectorGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorGroupRequest"
      },
      "name": "GetVoiceConnectorGroup",
      "output": {
        "shape": "GetVoiceConnectorGroupResponse"
      }
    },
    "GetVoiceConnectorLoggingConfiguration": {
      "documentation": "<p>Retrieves the logging configuration details for the specified Amazon Chime Voice Connector. Shows whether SIP message logs are enabled for sending to Amazon CloudWatch Logs.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorLoggingConfigurationRequest"
      },
      "name": "GetVoiceConnectorLoggingConfiguration",
      "output": {
        "shape": "GetVoiceConnectorLoggingConfigurationResponse"
      }
    },
    "GetVoiceConnectorOrigination": {
      "documentation": "<p>Retrieves origination setting details for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorOriginationRequest"
      },
      "name": "GetVoiceConnectorOrigination",
      "output": {
        "shape": "GetVoiceConnectorOriginationResponse"
      }
    },
    "GetVoiceConnectorStreamingConfiguration": {
      "documentation": "<p>Retrieves the streaming configuration details for the specified Amazon Chime Voice Connector. Shows whether media streaming is enabled for sending to Amazon Kinesis. It also shows the retention period, in hours, for the Amazon Kinesis data.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorStreamingConfigurationRequest"
      },
      "name": "GetVoiceConnectorStreamingConfiguration",
      "output": {
        "shape": "GetVoiceConnectorStreamingConfigurationResponse"
      }
    },
    "GetVoiceConnectorTermination": {
      "documentation": "<p>Retrieves termination setting details for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorTerminationRequest"
      },
      "name": "GetVoiceConnectorTermination",
      "output": {
        "shape": "GetVoiceConnectorTerminationResponse"
      }
    },
    "GetVoiceConnectorTerminationHealth": {
      "documentation": "<p>Retrieves information about the last time a SIP <code>OPTIONS</code> ping was received from your SIP infrastructure for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/health",
        "responseCode": 200
      },
      "input": {
        "shape": "GetVoiceConnectorTerminationHealthRequest"
      },
      "name": "GetVoiceConnectorTerminationHealth",
      "output": {
        "shape": "GetVoiceConnectorTerminationHealthResponse"
      }
    },
    "InviteUsers": {
      "documentation": "<p>Sends email to a maximum of 50 users, inviting them to the specified Amazon Chime <code>Team</code> account. Only <code>Team</code> account types are currently supported for this action. </p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users?operation=add",
        "responseCode": 201
      },
      "input": {
        "shape": "InviteUsersRequest"
      },
      "name": "InviteUsers",
      "output": {
        "shape": "InviteUsersResponse"
      }
    },
    "ListAccounts": {
      "documentation": "<p>Lists the Amazon Chime accounts under the administrator's AWS account. You can filter accounts by account name prefix. To find out which Amazon Chime account a user belongs to, you can filter by the user's email address, which returns one account result.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "ListAccountsRequest"
      },
      "name": "ListAccounts",
      "output": {
        "shape": "ListAccountsResponse"
      }
    },
    "ListAttendees": {
      "documentation": "<p>Lists the attendees for the specified Amazon Chime SDK meeting. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meetings/{meetingId}/attendees",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAttendeesRequest"
      },
      "name": "ListAttendees",
      "output": {
        "shape": "ListAttendeesResponse"
      }
    },
    "ListBots": {
      "documentation": "<p>Lists the bots associated with the administrator's Amazon Chime Enterprise account ID.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/bots",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBotsRequest"
      },
      "name": "ListBots",
      "output": {
        "shape": "ListBotsResponse"
      }
    },
    "ListMeetings": {
      "documentation": "<p>Lists up to 100 active Amazon Chime SDK meetings. For more information about the Amazon Chime SDK, see <a href=\"https://docs.aws.amazon.com/chime/latest/dg/meetings-sdk.html\">Using the Amazon Chime SDK</a> in the <i>Amazon Chime Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/meetings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMeetingsRequest"
      },
      "name": "ListMeetings",
      "output": {
        "shape": "ListMeetingsResponse"
      }
    },
    "ListPhoneNumberOrders": {
      "documentation": "<p>Lists the phone number orders for the administrator's Amazon Chime account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/phone-number-orders",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPhoneNumberOrdersRequest"
      },
      "name": "ListPhoneNumberOrders",
      "output": {
        "shape": "ListPhoneNumberOrdersResponse"
      }
    },
    "ListPhoneNumbers": {
      "documentation": "<p>Lists the phone numbers for the specified Amazon Chime account, Amazon Chime user, Amazon Chime Voice Connector, or Amazon Chime Voice Connector group.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/phone-numbers"
      },
      "input": {
        "shape": "ListPhoneNumbersRequest"
      },
      "name": "ListPhoneNumbers",
      "output": {
        "shape": "ListPhoneNumbersResponse"
      }
    },
    "ListRoomMemberships": {
      "documentation": "<p>Lists the membership details for the specified room in an Amazon Chime Enterprise account, such as the members' IDs, email addresses, and names.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoomMembershipsRequest"
      },
      "name": "ListRoomMemberships",
      "output": {
        "shape": "ListRoomMembershipsResponse"
      }
    },
    "ListRooms": {
      "documentation": "<p>Lists the room details for the specified Amazon Chime Enterprise account. Optionally, filter the results by a member ID (user ID or bot ID) to see a list of rooms that the member belongs to.</p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/rooms",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoomsRequest"
      },
      "name": "ListRooms",
      "output": {
        "shape": "ListRoomsResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Lists the users that belong to the specified Amazon Chime account. You can specify an email address to list only the user that the email address belongs to.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts/{accountId}/users",
        "responseCode": 200
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "ListVoiceConnectorGroups": {
      "documentation": "<p>Lists the Amazon Chime Voice Connector groups for the administrator's AWS account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connector-groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVoiceConnectorGroupsRequest"
      },
      "name": "ListVoiceConnectorGroups",
      "output": {
        "shape": "ListVoiceConnectorGroupsResponse"
      }
    },
    "ListVoiceConnectorTerminationCredentials": {
      "documentation": "<p>Lists the SIP credentials for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVoiceConnectorTerminationCredentialsRequest"
      },
      "name": "ListVoiceConnectorTerminationCredentials",
      "output": {
        "shape": "ListVoiceConnectorTerminationCredentialsResponse"
      }
    },
    "ListVoiceConnectors": {
      "documentation": "<p>Lists the Amazon Chime Voice Connectors for the administrator's AWS account.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/voice-connectors",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVoiceConnectorsRequest"
      },
      "name": "ListVoiceConnectors",
      "output": {
        "shape": "ListVoiceConnectorsResponse"
      }
    },
    "LogoutUser": {
      "documentation": "<p>Logs out the specified user from all of the devices they are currently logged into.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=logout",
        "responseCode": 204
      },
      "input": {
        "shape": "LogoutUserRequest"
      },
      "name": "LogoutUser",
      "output": {
        "shape": "LogoutUserResponse"
      }
    },
    "PutEventsConfiguration": {
      "documentation": "<p>Creates an events configuration that allows a bot to receive outgoing events sent by Amazon Chime. Choose either an HTTPS endpoint or a Lambda function ARN. For more information, see <a>Bot</a>.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/bots/{botId}/events-configuration",
        "responseCode": 201
      },
      "input": {
        "shape": "PutEventsConfigurationRequest"
      },
      "name": "PutEventsConfiguration",
      "output": {
        "shape": "PutEventsConfigurationResponse"
      }
    },
    "PutVoiceConnectorLoggingConfiguration": {
      "documentation": "<p>Adds a logging configuration for the specified Amazon Chime Voice Connector. The logging configuration specifies whether SIP message logs are enabled for sending to Amazon CloudWatch Logs.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/logging-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutVoiceConnectorLoggingConfigurationRequest"
      },
      "name": "PutVoiceConnectorLoggingConfiguration",
      "output": {
        "shape": "PutVoiceConnectorLoggingConfigurationResponse"
      }
    },
    "PutVoiceConnectorOrigination": {
      "documentation": "<p>Adds origination settings for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/origination",
        "responseCode": 200
      },
      "input": {
        "shape": "PutVoiceConnectorOriginationRequest"
      },
      "name": "PutVoiceConnectorOrigination",
      "output": {
        "shape": "PutVoiceConnectorOriginationResponse"
      }
    },
    "PutVoiceConnectorStreamingConfiguration": {
      "documentation": "<p>Adds a streaming configuration for the specified Amazon Chime Voice Connector. The streaming configuration specifies whether media streaming is enabled for sending to Amazon Kinesis. It also sets the retention period, in hours, for the Amazon Kinesis data.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/streaming-configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "PutVoiceConnectorStreamingConfigurationRequest"
      },
      "name": "PutVoiceConnectorStreamingConfiguration",
      "output": {
        "shape": "PutVoiceConnectorStreamingConfigurationResponse"
      }
    },
    "PutVoiceConnectorTermination": {
      "documentation": "<p>Adds termination settings for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination",
        "responseCode": 200
      },
      "input": {
        "shape": "PutVoiceConnectorTerminationRequest"
      },
      "name": "PutVoiceConnectorTermination",
      "output": {
        "shape": "PutVoiceConnectorTerminationResponse"
      }
    },
    "PutVoiceConnectorTerminationCredentials": {
      "documentation": "<p>Adds termination SIP credentials for the specified Amazon Chime Voice Connector.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/voice-connectors/{voiceConnectorId}/termination/credentials?operation=put",
        "responseCode": 204
      },
      "input": {
        "shape": "PutVoiceConnectorTerminationCredentialsRequest"
      },
      "name": "PutVoiceConnectorTerminationCredentials"
    },
    "RegenerateSecurityToken": {
      "documentation": "<p>Regenerates the security token for a bot.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/bots/{botId}?operation=regenerate-security-token",
        "responseCode": 200
      },
      "input": {
        "shape": "RegenerateSecurityTokenRequest"
      },
      "name": "RegenerateSecurityToken",
      "output": {
        "shape": "RegenerateSecurityTokenResponse"
      }
    },
    "ResetPersonalPIN": {
      "documentation": "<p>Resets the personal meeting PIN for the specified user on an Amazon Chime account. Returns the <a>User</a> object with the updated personal meeting PIN.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/users/{userId}?operation=reset-personal-pin",
        "responseCode": 200
      },
      "input": {
        "shape": "ResetPersonalPINRequest"
      },
      "name": "ResetPersonalPIN",
      "output": {
        "shape": "ResetPersonalPINResponse"
      }
    },
    "RestorePhoneNumber": {
      "documentation": "<p>Moves a phone number from the <b>Deletion queue</b> back into the phone number <b>Inventory</b>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-numbers/{phoneNumberId}?operation=restore",
        "responseCode": 200
      },
      "input": {
        "shape": "RestorePhoneNumberRequest"
      },
      "name": "RestorePhoneNumber",
      "output": {
        "shape": "RestorePhoneNumberResponse"
      }
    },
    "SearchAvailablePhoneNumbers": {
      "documentation": "<p>Searches phone numbers that can be ordered.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/search?type=phone-numbers"
      },
      "input": {
        "shape": "SearchAvailablePhoneNumbersRequest"
      },
      "name": "SearchAvailablePhoneNumbers",
      "output": {
        "shape": "SearchAvailablePhoneNumbersResponse"
      }
    },
    "UpdateAccount": {
      "documentation": "<p>Updates account details for the specified Amazon Chime account. Currently, only account name updates are supported for this action.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAccountRequest"
      },
      "name": "UpdateAccount",
      "output": {
        "shape": "UpdateAccountResponse"
      }
    },
    "UpdateAccountSettings": {
      "documentation": "<p>Updates the settings for the specified Amazon Chime account. You can update settings for remote control of shared screens, or for the dial-out option. For more information about these settings, see <a href=\"https://docs.aws.amazon.com/chime/latest/ag/policies.html\">Use the Policies Page</a> in the <i>Amazon Chime Administration Guide</i>.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/accounts/{accountId}/settings",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateAccountSettingsRequest"
      },
      "name": "UpdateAccountSettings",
      "output": {
        "shape": "UpdateAccountSettingsResponse"
      }
    },
    "UpdateBot": {
      "documentation": "<p>Updates the status of the specified bot, such as starting or stopping the bot from running in your Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ThrottledClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/bots/{botId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBotRequest"
      },
      "name": "UpdateBot",
      "output": {
        "shape": "UpdateBotResponse"
      }
    },
    "UpdateGlobalSettings": {
      "documentation": "<p>Updates global settings for the administrator's AWS account, such as Amazon Chime Business Calling and Amazon Chime Voice Connector settings.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/settings",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdateGlobalSettingsRequest"
      },
      "name": "UpdateGlobalSettings"
    },
    "UpdatePhoneNumber": {
      "documentation": "<p>Updates phone number details, such as product type or calling name, for the specified phone number ID. You can update one phone number detail at a time. For example, you can update either the product type or the calling name in one action.</p> <p>For toll-free numbers, you must use the Amazon Chime Voice Connector product type.</p> <p>Updates to outbound calling names can take up to 72 hours to complete. Pending updates to outbound calling names must be complete before you can request another update.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/phone-numbers/{phoneNumberId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdatePhoneNumberRequest"
      },
      "name": "UpdatePhoneNumber",
      "output": {
        "shape": "UpdatePhoneNumberResponse"
      }
    },
    "UpdatePhoneNumberSettings": {
      "documentation": "<p>Updates the phone number settings for the administrator's AWS account, such as the default outbound calling name. You can update the default outbound calling name once every seven days. Outbound calling names can take up to 72 hours to update.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/settings/phone-number",
        "responseCode": 204
      },
      "input": {
        "shape": "UpdatePhoneNumberSettingsRequest"
      },
      "name": "UpdatePhoneNumberSettings"
    },
    "UpdateRoom": {
      "documentation": "<p>Updates room details, such as the room name, for a room in an Amazon Chime Enterprise account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRoomRequest"
      },
      "name": "UpdateRoom",
      "output": {
        "shape": "UpdateRoomResponse"
      }
    },
    "UpdateRoomMembership": {
      "documentation": "<p>Updates room membership details, such as the member role, for a room in an Amazon Chime Enterprise account. The member role designates whether the member is a chat room administrator or a general chat room member. The member role can be updated only for user IDs.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts/{accountId}/rooms/{roomId}/memberships/{memberId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateRoomMembershipRequest"
      },
      "name": "UpdateRoomMembership",
      "output": {
        "shape": "UpdateRoomMembershipResponse"
      }
    },
    "UpdateUser": {
      "documentation": "<p>Updates user details for a specified user ID. Currently, only <code>LicenseType</code> updates are supported for this action.</p>",
      "errors": [
        {
          "shape": "UnauthorizedClientException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ThrottledClientException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
[...]
