{
  "documentation": "<fullname>Amazon Macie</fullname> <p>Amazon Macie is a security service that uses machine learning to automatically discover, classify, and protect sensitive data in AWS. Macie recognizes sensitive data such as personally identifiable information (PII) or intellectual property, and provides you with dashboards and alerts that give visibility into how this data is being accessed or moved. For more information, see the <a href=\"https://docs.aws.amazon.com/macie/latest/userguide/what-is-macie.html\">Macie User Guide</a>. </p>",
  "metadata": {
    "apiVersion": "2017-12-19",
    "endpointPrefix": "macie",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Macie",
    "serviceId": "Macie",
    "signatureVersion": "v4",
    "targetPrefix": "MacieService",
    "uid": "macie-2017-12-19"
  },
  "operations": {
    "AssociateMemberAccount": {
      "documentation": "<p>Associates a specified AWS account with Amazon Macie as a member account.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateMemberAccountRequest"
      },
      "name": "AssociateMemberAccount"
    },
    "AssociateS3Resources": {
      "documentation": "<p>Associates specified S3 resources with Amazon Macie for monitoring and data classification. If memberAccountId isn't specified, the action associates specified S3 resources with Macie for the current master account. If memberAccountId is specified, the action associates specified S3 resources with Macie for the specified member account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateS3ResourcesRequest"
      },
      "name": "AssociateS3Resources",
      "output": {
        "shape": "AssociateS3ResourcesResult"
      }
    },
    "DisassociateMemberAccount": {
      "documentation": "<p>Removes the specified member account from Amazon Macie.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateMemberAccountRequest"
      },
      "name": "DisassociateMemberAccount"
    },
    "DisassociateS3Resources": {
      "documentation": "<p>Removes specified S3 resources from being monitored by Amazon Macie. If memberAccountId isn't specified, the action removes specified S3 resources from Macie for the current master account. If memberAccountId is specified, the action removes specified S3 resources from Macie for the specified member account.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateS3ResourcesRequest"
      },
      "name": "DisassociateS3Resources",
      "output": {
        "shape": "DisassociateS3ResourcesResult"
      }
    },
    "ListMemberAccounts": {
      "documentation": "<p>Lists all Amazon Macie member accounts for the current Amazon Macie master account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMemberAccountsRequest"
      },
      "name": "ListMemberAccounts",
      "output": {
        "shape": "ListMemberAccountsResult"
      }
    },
    "ListS3Resources": {
      "documentation": "<p>Lists all the S3 resources associated with Amazon Macie. If memberAccountId isn't specified, the action lists the S3 resources associated with Amazon Macie for the current master account. If memberAccountId is specified, the action lists the S3 resources associated with Amazon Macie for the specified member account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListS3ResourcesRequest"
      },
      "name": "ListS3Resources",
      "output": {
        "shape": "ListS3ResourcesResult"
      }
    },
    "UpdateS3Resources": {
      "documentation": "<p>Updates the classification types for the specified S3 resources. If memberAccountId isn't specified, the action updates the classification types of the S3 resources associated with Amazon Macie for the current master account. If memberAccountId is specified, the action updates the classification types of the S3 resources associated with Amazon Macie for the specified member account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateS3ResourcesRequest"
      },
      "name": "UpdateS3Resources",
      "output": {
        "shape": "UpdateS3ResourcesResult"
      }
    }
  },
  "shapes": {
    "AWSAccountId": {
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have required permissions to access the requested resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ExceptionMessage"
        },
        "resourceType": {
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "AssociateMemberAccountRequest": {
      "members": {
        "memberAccountId": {
          "documentation": "<p>The ID of the AWS account that you want to associate with Amazon Macie as a member account.</p>",
          "shape": "AWSAccountId"
        }
      },
      "required": [
        "memberAccountId"
      ],
      "type": "structure"
    },
    "AssociateS3ResourcesRequest": {
      "members": {
        "memberAccountId": {
          "documentation": "<p>The ID of the Amazon Macie member account whose resources you want to associate with Macie. </p>",
          "shape": "AWSAccountId"
        },
        "s3Resources": {
          "documentation": "<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. </p>",
          "shape": "S3ResourcesClassification"
        }
      },
      "required": [
        "s3Resources"
      ],
      "type": "structure"
    },
    "AssociateS3ResourcesResult": {
      "members": {
        "failedS3Resources": {
          "documentation": "<p>S3 resources that couldn't be associated with Amazon Macie. An error code and an error message are provided for each failed item. </p>",
          "shape": "FailedS3Resources"
        }
      },
      "type": "structure"
    },
    "BucketName": {
      "max": 500,
      "type": "string"
    },
    "ClassificationType": {
      "documentation": "<p>The classification type that Amazon Macie applies to the associated S3 resources. </p>",
      "members": {
        "continuous": {
          "documentation": "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
          "shape": "S3ContinuousClassificationType"
        },
        "oneTime": {
          "documentation": "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
          "shape": "S3OneTimeClassificationType"
        }
      },
      "required": [
        "oneTime",
        "continuous"
      ],
      "type": "structure"
    },
    "ClassificationTypeUpdate": {
      "documentation": "<p>The classification type that Amazon Macie applies to the associated S3 resources. At least one of the classification types (oneTime or continuous) must be specified. </p>",
      "members": {
        "continuous": {
          "documentation": "<p>A continuous classification of the objects that are added to a specified S3 bucket. Amazon Macie begins performing continuous classification after a bucket is successfully associated with Amazon Macie. </p>",
          "shape": "S3ContinuousClassificationType"
        },
        "oneTime": {
          "documentation": "<p>A one-time classification of all of the existing objects in a specified S3 bucket. </p>",
          "shape": "S3OneTimeClassificationType"
        }
      },
      "type": "structure"
    },
    "DisassociateMemberAccountRequest": {
      "members": {
        "memberAccountId": {
          "documentation": "<p>The ID of the member account that you want to remove from Amazon Macie.</p>",
          "shape": "AWSAccountId"
        }
      },
      "required": [
        "memberAccountId"
      ],
      "type": "structure"
    },
    "DisassociateS3ResourcesRequest": {
      "members": {
        "associatedS3Resources": {
          "documentation": "<p>The S3 resources (buckets or prefixes) that you want to remove from being monitored and classified by Amazon Macie. </p>",
          "shape": "S3Resources"
        },
        "memberAccountId": {
          "documentation": "<p>The ID of the Amazon Macie member account whose resources you want to remove from being monitored by Amazon Macie. </p>",
          "shape": "AWSAccountId"
        }
      },
      "required": [
        "associatedS3Resources"
      ],
      "type": "structure"
    },
    "DisassociateS3ResourcesResult": {
      "members": {
        "failedS3Resources": {
          "documentation": "<p>S3 resources that couldn't be removed from being monitored and classified by Amazon Macie. An error code and an error message are provided for each failed item. </p>",
          "shape": "FailedS3Resources"
        }
      },
      "type": "structure"
    },
    "ErrorCode": {
      "documentation": "Error code for the exception",
      "max": 10,
      "type": "string"
    },
    "ExceptionMessage": {
      "max": 10000,
      "type": "string"
    },
    "FailedS3Resource": {
      "documentation": "<p>Includes details about the failed S3 resources.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The status code of a failed item.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>The error message of a failed item.</p>",
          "shape": "ExceptionMessage"
        },
        "failedItem": {
          "documentation": "<p>The failed S3 resources.</p>",
          "shape": "S3Resource"
        }
      },
      "type": "structure"
    },
    "FailedS3Resources": {
      "member": {
        "shape": "FailedS3Resource"
      },
      "type": "list"
    },
    "FieldName": {
      "documentation": "Field that has invalid input",
      "max": 1000,
      "type": "string"
    },
    "InternalException": {
      "documentation": "<p>Internal server error.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "errorCode": {
          "shape": "ErrorCode"
        },
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidInputException": {
      "documentation": "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter. </p>",
      "exception": true,
      "members": {
        "errorCode": {
          "shape": "ErrorCode"
        },
        "fieldName": {
          "shape": "FieldName"
        },
        "message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded. </p>",
      "exception": true,
      "members": {
        "errorCode": {
          "shape": "ErrorCode"
        },
        "message": {
          "shape": "ExceptionMessage"
        },
        "resourceType": {
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ListMemberAccountsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Use this parameter to indicate the maximum number of items that you want in the response. The default value is 250. </p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>Use this parameter when paginating results. Set the value of this parameter to null on your first call to the ListMemberAccounts action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListMemberAccountsResult": {
      "members": {
        "memberAccounts": {
          "documentation": "<p>A list of the Amazon Macie member accounts returned by the action. The current master account is also included in this list. </p>",
          "shape": "MemberAccounts"
        },
        "nextToken": {
          "documentation": "<p>When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the nextToken parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListS3ResourcesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>Use this parameter to indicate the maximum number of items that you want in the response. The default value is 250. </p>",
          "shape": "MaxResults"
        },
        "memberAccountId": {
          "documentation": "<p>The Amazon Macie member account ID whose associated S3 resources you want to list. </p>",
          "shape": "AWSAccountId"
        },
        "nextToken": {
          "documentation": "<p>Use this parameter when paginating results. Set its value to null on your first call to the ListS3Resources action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListS3ResourcesResult": {
      "members": {
        "nextToken": {
          "documentation": "<p>When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the nextToken parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null. </p>",
          "shape": "NextToken"
        },
        "s3Resources": {
          "documentation": "<p>A list of the associated S3 resources returned by the action.</p>",
          "shape": "S3ResourcesClassification"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "box": true,
      "max": 250,
      "type": "integer"
    },
    "MemberAccount": {
      "documentation": "<p>Contains information about the Amazon Macie member account.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The AWS account ID of the Amazon Macie member account.</p>",
          "shape": "AWSAccountId"
        }
      },
      "type": "structure"
    },
    "MemberAccounts": {
      "member": {
        "shape": "MemberAccount"
      },
      "type": "list"
    },
    "NextToken": {
      "max": 500,
      "type": "string"
    },
    "Prefix": {
      "max": 10000,
      "type": "string"
    },
    "ResourceType": {
      "documentation": "Resource type that caused the exception",
      "max": 1000,
      "type": "string"
    },
    "S3ContinuousClassificationType": {
      "enum": [
        "FULL"
      ],
      "type": "string"
    },
    "S3OneTimeClassificationType": {
      "enum": [
        "FULL",
        "NONE"
      ],
      "type": "string"
    },
    "S3Resource": {
      "documentation": "<p>Contains information about the S3 resource. This data type is used as a request parameter in the DisassociateS3Resources action and can be used as a response parameter in the AssociateS3Resources and UpdateS3Resources actions. </p>",
      "members": {
        "bucketName": {
          "documentation": "<p>The name of the S3 bucket.</p>",
          "shape": "BucketName"
        },
        "prefix": {
          "documentation": "<p>The prefix of the S3 bucket. </p>",
          "shape": "Prefix"
        }
      },
      "required": [
        "bucketName"
      ],
      "type": "structure"
    },
    "S3ResourceClassification": {
      "documentation": "<p>The S3 resources that you want to associate with Amazon Macie for monitoring and data classification. This data type is used as a request parameter in the AssociateS3Resources action and a response parameter in the ListS3Resources action. </p>",
      "members": {
        "bucketName": {
          "documentation": "<p>The name of the S3 bucket that you want to associate with Amazon Macie.</p>",
          "shape": "BucketName"
        },
        "classificationType": {
          "documentation": "<p>The classification type that you want to specify for the resource associated with Amazon Macie. </p>",
          "shape": "ClassificationType"
        },
        "prefix": {
          "documentation": "<p>The prefix of the S3 bucket that you want to associate with Amazon Macie.</p>",
          "shape": "Prefix"
        }
      },
      "required": [
        "bucketName",
        "classificationType"
      ],
      "type": "structure"
    },
    "S3ResourceClassificationUpdate": {
      "documentation": "<p>The S3 resources whose classification types you want to update. This data type is used as a request parameter in the UpdateS3Resources action. </p>",
      "members": {
        "bucketName": {
          "documentation": "<p>The name of the S3 bucket whose classification types you want to update.</p>",
          "shape": "BucketName"
        },
        "classificationTypeUpdate": {
          "documentation": "<p>The classification type that you want to update for the resource associated with Amazon Macie. </p>",
          "shape": "ClassificationTypeUpdate"
        },
        "prefix": {
          "documentation": "<p>The prefix of the S3 bucket whose classification types you want to update.</p>",
          "shape": "Prefix"
        }
      },
      "required": [
        "bucketName",
        "classificationTypeUpdate"
      ],
      "type": "structure"
    },
    "S3Resources": {
      "member": {
        "shape": "S3Resource"
      },
      "type": "list"
    },
    "S3ResourcesClassification": {
      "member": {
        "shape": "S3ResourceClassification"
      },
      "type": "list"
    },
    "S3ResourcesClassificationUpdate": {
      "member": {
        "shape": "S3ResourceClassificationUpdate"
      },
      "type": "list"
    },
    "UpdateS3ResourcesRequest": {
      "members": {
        "memberAccountId": {
          "documentation": "<p>The AWS ID of the Amazon Macie member account whose S3 resources' classification types you want to update. </p>",
          "shape": "AWSAccountId"
        },
        "s3ResourcesUpdate": {
          "documentation": "<p>The S3 resources whose classification types you want to update.</p>",
          "shape": "S3ResourcesClassificationUpdate"
        }
      },
      "required": [
        "s3ResourcesUpdate"
      ],
      "type": "structure"
    },
    "UpdateS3ResourcesResult": {
      "members": {
        "failedS3Resources": {
          "documentation": "<p>The S3 resources whose classification types can't be updated. An error code and an error message are provided for each failed item. </p>",
          "shape": "FailedS3Resources"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
