{
  "documentation": "<p>Using the Amazon Cognito User Pools API, you can create a user pool to manage directories and users. You can authenticate a user to obtain tokens related to user identity and access policies.</p> <p>This API reference provides information about user pools in Amazon Cognito User Pools.</p> <p>For more information, see the Amazon Cognito Documentation.</p>",
  "metadata": {
    "apiVersion": "2016-04-18",
    "endpointPrefix": "cognito-idp",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Cognito Identity Provider",
    "serviceId": "Cognito Identity Provider",
    "signatureVersion": "v4",
    "targetPrefix": "AWSCognitoIdentityProviderService",
    "uid": "cognito-idp-2016-04-18"
  },
  "operations": {
    "AddCustomAttributes": {
      "documentation": "<p>Adds additional user attributes to the user pool schema.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserImportInProgressException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddCustomAttributesRequest"
      },
      "name": "AddCustomAttributes",
      "output": {
        "shape": "AddCustomAttributesResponse"
      }
    },
    "AdminAddUserToGroup": {
      "documentation": "<p>Adds the specified user to the specified group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminAddUserToGroupRequest"
      },
      "name": "AdminAddUserToGroup"
    },
    "AdminConfirmSignUp": {
      "documentation": "<p>Confirms user registration as an admin without using a confirmation code. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyFailedAttemptsException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminConfirmSignUpRequest"
      },
      "name": "AdminConfirmSignUp",
      "output": {
        "shape": "AdminConfirmSignUpResponse"
      }
    },
    "AdminCreateUser": {
      "documentation": "<p>Creates a new user in the specified user pool.</p> <p>If <code>MessageAction</code> is not set, the default is to send a welcome message via email or phone (SMS).</p> <note> <p>This message is based on a template that you configured in your call to or . This template includes your custom sign-up instructions and placeholders for user name and temporary password.</p> </note> <p>Alternatively, you can call AdminCreateUser with \u201cSUPPRESS\u201d for the <code>MessageAction</code> parameter, and Amazon Cognito will not send any email. </p> <p>In either case, the user will be in the <code>FORCE_CHANGE_PASSWORD</code> state until they sign in and change their password.</p> <p>AdminCreateUser requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UsernameExistsException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UnsupportedUserStateException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminCreateUserRequest"
      },
      "name": "AdminCreateUser",
      "output": {
        "shape": "AdminCreateUserResponse"
      }
    },
    "AdminDeleteUser": {
      "documentation": "<p>Deletes a user as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDeleteUserRequest"
      },
      "name": "AdminDeleteUser"
    },
    "AdminDeleteUserAttributes": {
      "documentation": "<p>Deletes the user attributes in a user pool as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDeleteUserAttributesRequest"
      },
      "name": "AdminDeleteUserAttributes",
      "output": {
        "shape": "AdminDeleteUserAttributesResponse"
      }
    },
    "AdminDisableProviderForUser": {
      "documentation": "<p>Disables the user from signing in with the specified external (SAML or social) identity provider. If the user to disable is a Cognito User Pools native username + password user, they are not permitted to use their password to sign-in. If the user to disable is a linked external IdP user, any link between that user and an existing user is removed. The next time the external user (no longer attached to the previously linked <code>DestinationUser</code>) signs in, they must create a new user account. See .</p> <p>This action is enabled only for admin access and requires developer credentials.</p> <p>The <code>ProviderName</code> must match the value specified when creating an IdP for the pool. </p> <p>To disable a native username + password user, the <code>ProviderName</code> value must be <code>Cognito</code> and the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code>, with the <code>ProviderAttributeValue</code> being the name that is used in the user pool for the user.</p> <p>The <code>ProviderAttributeName</code> must always be <code>Cognito_Subject</code> for social identity providers. The <code>ProviderAttributeValue</code> must always be the exact subject that was used when the user was originally linked as a source user.</p> <p>For de-linking a SAML identity, there are two scenarios. If the linked identity has not yet been used to sign-in, the <code>ProviderAttributeName</code> and <code>ProviderAttributeValue</code> must be the same values that were used for the <code>SourceUser</code> when the identities were originally linked in the call. (If the linking was done with <code>ProviderAttributeName</code> set to <code>Cognito_Subject</code>, the same applies here). However, if the user has already signed in, the <code>ProviderAttributeName</code> must be <code>Cognito_Subject</code> and <code>ProviderAttributeValue</code> must be the subject of the SAML assertion.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDisableProviderForUserRequest"
      },
      "name": "AdminDisableProviderForUser",
      "output": {
        "shape": "AdminDisableProviderForUserResponse"
      }
    },
    "AdminDisableUser": {
      "documentation": "<p>Disables the specified user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminDisableUserRequest"
      },
      "name": "AdminDisableUser",
      "output": {
        "shape": "AdminDisableUserResponse"
      }
    },
    "AdminEnableUser": {
      "documentation": "<p>Enables the specified user as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminEnableUserRequest"
      },
      "name": "AdminEnableUser",
      "output": {
        "shape": "AdminEnableUserResponse"
      }
    },
    "AdminForgetDevice": {
      "documentation": "<p>Forgets the device, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminForgetDeviceRequest"
      },
      "name": "AdminForgetDevice"
    },
    "AdminGetDevice": {
      "documentation": "<p>Gets the device, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotAuthorizedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminGetDeviceRequest"
      },
      "name": "AdminGetDevice",
      "output": {
        "shape": "AdminGetDeviceResponse"
      }
    },
    "AdminGetUser": {
      "documentation": "<p>Gets the specified user by user name in a user pool as an administrator. Works on any user.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminGetUserRequest"
      },
      "name": "AdminGetUser",
      "output": {
        "shape": "AdminGetUserResponse"
      }
    },
    "AdminInitiateAuth": {
      "documentation": "<p>Initiates the authentication flow, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "MFAMethodNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminInitiateAuthRequest"
      },
      "name": "AdminInitiateAuth",
      "output": {
        "shape": "AdminInitiateAuthResponse"
      }
    },
    "AdminLinkProviderForUser": {
      "documentation": "<p>Links an existing user account in a user pool (<code>DestinationUser</code>) to an identity from an external identity provider (<code>SourceUser</code>) based on a specified attribute name and value from the external identity provider. This allows you to create a link from the existing user account to an external federated user identity that has not yet been used to sign in, so that the federated user identity can be used to sign in as the existing user account. </p> <p> For example, if there is an existing user with a username and password, this API links that user to a federated user identity, so that when the federated user identity is used, the user signs in as the existing user account. </p> <important> <p>Because this API allows a user with an external federated identity to sign in as an existing user in the user pool, it is critical that it only be used with external identity providers and provider attributes that have been trusted by the application owner.</p> </important> <p>See also .</p> <p>This action is enabled only for admin access and requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminLinkProviderForUserRequest"
      },
      "name": "AdminLinkProviderForUser",
      "output": {
        "shape": "AdminLinkProviderForUserResponse"
      }
    },
    "AdminListDevices": {
      "documentation": "<p>Lists devices, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotAuthorizedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminListDevicesRequest"
      },
      "name": "AdminListDevices",
      "output": {
        "shape": "AdminListDevicesResponse"
      }
    },
    "AdminListGroupsForUser": {
      "documentation": "<p>Lists the groups that the user belongs to.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminListGroupsForUserRequest"
      },
      "name": "AdminListGroupsForUser",
      "output": {
        "shape": "AdminListGroupsForUserResponse"
      }
    },
    "AdminListUserAuthEvents": {
      "documentation": "<p>Lists a history of user activity and any risks detected as part of Amazon Cognito advanced security.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminListUserAuthEventsRequest"
      },
      "name": "AdminListUserAuthEvents",
      "output": {
        "shape": "AdminListUserAuthEventsResponse"
      }
    },
    "AdminRemoveUserFromGroup": {
      "documentation": "<p>Removes the specified user from the specified group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminRemoveUserFromGroupRequest"
      },
      "name": "AdminRemoveUserFromGroup"
    },
    "AdminResetUserPassword": {
      "documentation": "<p>Resets the specified user's password in a user pool as an administrator. Works on any user.</p> <p>When a developer calls this API, the current password is invalidated, so it must be changed. If a user tries to sign in after the API is called, the app will get a PasswordResetRequiredException exception back and should direct the user down the flow to reset the password, which is the same as the forgot password flow. In addition, if the user pool has phone verification selected and a verified phone number exists for the user, or if email verification is selected and a verified email exists for the user, calling this API will also result in sending a message to the end user with the code to change their password.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminResetUserPasswordRequest"
      },
      "name": "AdminResetUserPassword",
      "output": {
        "shape": "AdminResetUserPasswordResponse"
      }
    },
    "AdminRespondToAuthChallenge": {
      "documentation": "<p>Responds to an authentication challenge, as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "MFAMethodNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "SoftwareTokenMFANotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminRespondToAuthChallengeRequest"
      },
      "name": "AdminRespondToAuthChallenge",
      "output": {
        "shape": "AdminRespondToAuthChallengeResponse"
      }
    },
    "AdminSetUserMFAPreference": {
      "documentation": "<p>Sets the user's multi-factor authentication (MFA) preference, including which MFA options are enabled and if any are preferred. Only one factor can be set as preferred. The preferred MFA factor will be used to authenticate a user if multiple factors are enabled. If multiple options are enabled and no preference is set, a challenge to choose an MFA option will be returned during sign in.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminSetUserMFAPreferenceRequest"
      },
      "name": "AdminSetUserMFAPreference",
      "output": {
        "shape": "AdminSetUserMFAPreferenceResponse"
      }
    },
    "AdminSetUserPassword": {
      "documentation": "<p>Sets the specified user's password in a user pool as an administrator. Works on any user. </p> <p>The password can be temporary or permanent. If it is temporary, the user status will be placed into the <code>FORCE_CHANGE_PASSWORD</code> state. When the user next tries to sign in, the InitiateAuth/AdminInitiateAuth response will contain the <code>NEW_PASSWORD_REQUIRED</code> challenge. If the user does not sign in before it expires, the user will not be able to sign in and their password will need to be reset by an administrator. </p> <p>Once the user has set a new password, or the password is permanent, the user status will be set to <code>Confirmed</code>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminSetUserPasswordRequest"
      },
      "name": "AdminSetUserPassword",
      "output": {
        "shape": "AdminSetUserPasswordResponse"
      }
    },
    "AdminSetUserSettings": {
      "documentation": "<p> <i>This action is no longer supported.</i> You can use it to configure only SMS MFA. You can't use it to configure TOTP software token MFA. To configure either type of MFA, use the <a>AdminSetUserMFAPreference</a> action instead.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminSetUserSettingsRequest"
      },
      "name": "AdminSetUserSettings",
      "output": {
        "shape": "AdminSetUserSettingsResponse"
      }
    },
    "AdminUpdateAuthEventFeedback": {
      "documentation": "<p>Provides feedback for an authentication event as to whether it was from a valid user. This feedback is used for improving the risk evaluation decision for the user pool as part of Amazon Cognito advanced security.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUpdateAuthEventFeedbackRequest"
      },
      "name": "AdminUpdateAuthEventFeedback",
      "output": {
        "shape": "AdminUpdateAuthEventFeedbackResponse"
      }
    },
    "AdminUpdateDeviceStatus": {
      "documentation": "<p>Updates the device status as an administrator.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUpdateDeviceStatusRequest"
      },
      "name": "AdminUpdateDeviceStatus",
      "output": {
        "shape": "AdminUpdateDeviceStatusResponse"
      }
    },
    "AdminUpdateUserAttributes": {
      "documentation": "<p>Updates the specified user's attributes, including developer attributes, as an administrator. Works on any user.</p> <p>For custom attributes, you must prepend the <code>custom:</code> prefix to the attribute name.</p> <p>In addition to updating user attributes, this API can also be used to mark phone and email as verified.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUpdateUserAttributesRequest"
      },
      "name": "AdminUpdateUserAttributes",
      "output": {
        "shape": "AdminUpdateUserAttributesResponse"
      }
    },
    "AdminUserGlobalSignOut": {
      "documentation": "<p>Signs out users from all devices, as an administrator. It also invalidates all refresh tokens issued to a user. The user's current access and Id tokens remain valid until their expiry. Access and Id tokens expire one hour after they are issued.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AdminUserGlobalSignOutRequest"
      },
      "name": "AdminUserGlobalSignOut",
      "output": {
        "shape": "AdminUserGlobalSignOutResponse"
      }
    },
    "AssociateSoftwareToken": {
      "documentation": "<p>Returns a unique generated shared secret key code for the user account. The request takes an access token or a session string, but not both.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "SoftwareTokenMFANotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateSoftwareTokenRequest"
      },
      "name": "AssociateSoftwareToken",
      "output": {
        "shape": "AssociateSoftwareTokenResponse"
      }
    },
    "ChangePassword": {
      "authtype": "none",
      "documentation": "<p>Changes the password for a specified user in a user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ChangePasswordRequest"
      },
      "name": "ChangePassword",
      "output": {
        "shape": "ChangePasswordResponse"
      }
    },
    "ConfirmDevice": {
      "documentation": "<p>Confirms tracking of the device. This API call is the call that begins device tracking.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "UsernameExistsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmDeviceRequest"
      },
      "name": "ConfirmDevice",
      "output": {
        "shape": "ConfirmDeviceResponse"
      }
    },
    "ConfirmForgotPassword": {
      "authtype": "none",
      "documentation": "<p>Allows a user to enter a confirmation code to reset a forgotten password.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "TooManyFailedAttemptsException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmForgotPasswordRequest"
      },
      "name": "ConfirmForgotPassword",
      "output": {
        "shape": "ConfirmForgotPasswordResponse"
      }
    },
    "ConfirmSignUp": {
      "authtype": "none",
      "documentation": "<p>Confirms registration of a user and handles the existing alias from a previous user.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyFailedAttemptsException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmSignUpRequest"
      },
      "name": "ConfirmSignUp",
      "output": {
        "shape": "ConfirmSignUpResponse"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a new group in the specified user pool.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "GroupExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateIdentityProvider": {
      "documentation": "<p>Creates an identity provider for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "DuplicateProviderException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIdentityProviderRequest"
      },
      "name": "CreateIdentityProvider",
      "output": {
        "shape": "CreateIdentityProviderResponse"
      }
    },
    "CreateResourceServer": {
      "documentation": "<p>Creates a new OAuth2.0 resource server and defines custom scopes in it.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceServerRequest"
      },
      "name": "CreateResourceServer",
      "output": {
        "shape": "CreateResourceServerResponse"
      }
    },
    "CreateUserImportJob": {
      "documentation": "<p>Creates the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserImportJobRequest"
      },
      "name": "CreateUserImportJob",
      "output": {
        "shape": "CreateUserImportJobResponse"
      }
    },
    "CreateUserPool": {
      "documentation": "<p>Creates a new Amazon Cognito user pool and sets the password policy for the pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolTaggingException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserPoolRequest"
      },
      "name": "CreateUserPool",
      "output": {
        "shape": "CreateUserPoolResponse"
      }
    },
    "CreateUserPoolClient": {
      "documentation": "<p>Creates the user pool client.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ScopeDoesNotExistException"
        },
        {
          "shape": "InvalidOAuthFlowException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserPoolClientRequest"
      },
      "name": "CreateUserPoolClient",
      "output": {
        "shape": "CreateUserPoolClientResponse"
      }
    },
    "CreateUserPoolDomain": {
      "documentation": "<p>Creates a new domain for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserPoolDomainRequest"
      },
      "name": "CreateUserPoolDomain",
      "output": {
        "shape": "CreateUserPoolDomainResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group. Currently only groups with no members can be deleted.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup"
    },
    "DeleteIdentityProvider": {
      "documentation": "<p>Deletes an identity provider for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedIdentityProviderException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIdentityProviderRequest"
      },
      "name": "DeleteIdentityProvider"
    },
    "DeleteResourceServer": {
      "documentation": "<p>Deletes a resource server.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceServerRequest"
      },
      "name": "DeleteResourceServer"
    },
    "DeleteUser": {
      "authtype": "none",
      "documentation": "<p>Allows a user to delete himself or herself.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser"
    },
    "DeleteUserAttributes": {
      "authtype": "none",
      "documentation": "<p>Deletes the attributes for a user.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserAttributesRequest"
      },
      "name": "DeleteUserAttributes",
      "output": {
        "shape": "DeleteUserAttributesResponse"
      }
    },
    "DeleteUserPool": {
      "documentation": "<p>Deletes the specified Amazon Cognito user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserImportInProgressException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPoolRequest"
      },
      "name": "DeleteUserPool"
    },
    "DeleteUserPoolClient": {
      "documentation": "<p>Allows the developer to delete the user pool client.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPoolClientRequest"
      },
      "name": "DeleteUserPoolClient"
    },
    "DeleteUserPoolDomain": {
      "documentation": "<p>Deletes a domain for a user pool.</p>",
      "errors": [
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPoolDomainRequest"
      },
      "name": "DeleteUserPoolDomain",
      "output": {
        "shape": "DeleteUserPoolDomainResponse"
      }
    },
    "DescribeIdentityProvider": {
      "documentation": "<p>Gets information about a specific identity provider.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIdentityProviderRequest"
      },
      "name": "DescribeIdentityProvider",
      "output": {
        "shape": "DescribeIdentityProviderResponse"
      }
    },
    "DescribeResourceServer": {
      "documentation": "<p>Describes a resource server.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourceServerRequest"
      },
      "name": "DescribeResourceServer",
      "output": {
        "shape": "DescribeResourceServerResponse"
      }
    },
    "DescribeRiskConfiguration": {
      "documentation": "<p>Describes the risk configuration.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRiskConfigurationRequest"
      },
      "name": "DescribeRiskConfiguration",
      "output": {
        "shape": "DescribeRiskConfigurationResponse"
      }
    },
    "DescribeUserImportJob": {
      "documentation": "<p>Describes the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserImportJobRequest"
      },
      "name": "DescribeUserImportJob",
      "output": {
        "shape": "DescribeUserImportJobResponse"
      }
    },
    "DescribeUserPool": {
      "documentation": "<p>Returns the configuration information and metadata of the specified user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolTaggingException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserPoolRequest"
      },
      "name": "DescribeUserPool",
      "output": {
        "shape": "DescribeUserPoolResponse"
      }
    },
    "DescribeUserPoolClient": {
      "documentation": "<p>Client method for returning the configuration information and metadata of the specified user pool app client.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserPoolClientRequest"
      },
      "name": "DescribeUserPoolClient",
      "output": {
        "shape": "DescribeUserPoolClientResponse"
      }
    },
    "DescribeUserPoolDomain": {
      "documentation": "<p>Gets information about a domain.</p>",
      "errors": [
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeUserPoolDomainRequest"
      },
      "name": "DescribeUserPoolDomain",
      "output": {
        "shape": "DescribeUserPoolDomainResponse"
      }
    },
    "ForgetDevice": {
      "documentation": "<p>Forgets the specified device.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ForgetDeviceRequest"
      },
      "name": "ForgetDevice"
    },
    "ForgotPassword": {
      "authtype": "none",
      "documentation": "<p>Calling this API causes a message to be sent to the end user with a confirmation code that is required to change the user's password. For the <code>Username</code> parameter, you can use the username or user alias. The method used to send the confirmation code is sent according to the specified AccountRecoverySetting. For more information, see <a href=\"\">Recovering User Accounts</a> in the <i>Amazon Cognito Developer Guide</i>. If neither a verified phone number nor a verified email exists, an <code>InvalidParameterException</code> is thrown. To use the confirmation code for resetting the password, call .</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ForgotPasswordRequest"
      },
      "name": "ForgotPassword",
      "output": {
        "shape": "ForgotPasswordResponse"
      }
    },
    "GetCSVHeader": {
      "documentation": "<p>Gets the header information for the .csv file to be used as input for the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCSVHeaderRequest"
      },
      "name": "GetCSVHeader",
      "output": {
        "shape": "GetCSVHeaderResponse"
      }
    },
    "GetDevice": {
      "documentation": "<p>Gets the device.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDeviceRequest"
      },
      "name": "GetDevice",
      "output": {
        "shape": "GetDeviceResponse"
      }
    },
    "GetGroup": {
      "documentation": "<p>Gets a group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupResponse"
      }
    },
    "GetIdentityProviderByIdentifier": {
      "documentation": "<p>Gets the specified identity provider.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetIdentityProviderByIdentifierRequest"
      },
      "name": "GetIdentityProviderByIdentifier",
      "output": {
        "shape": "GetIdentityProviderByIdentifierResponse"
      }
    },
    "GetSigningCertificate": {
      "documentation": "<p>This method takes a user pool ID, and returns the signing certificate.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSigningCertificateRequest"
      },
      "name": "GetSigningCertificate",
      "output": {
        "shape": "GetSigningCertificateResponse"
      }
    },
    "GetUICustomization": {
      "documentation": "<p>Gets the UI Customization information for a particular app client's app UI, if there is something set. If nothing is set for the particular client, but there is an existing pool level customization (app <code>clientId</code> will be <code>ALL</code>), then that is returned. If nothing is present, then an empty shape is returned.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUICustomizationRequest"
      },
      "name": "GetUICustomization",
      "output": {
        "shape": "GetUICustomizationResponse"
      }
    },
    "GetUser": {
      "authtype": "none",
      "documentation": "<p>Gets the user attributes and metadata for a user.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserRequest"
      },
      "name": "GetUser",
      "output": {
        "shape": "GetUserResponse"
      }
    },
    "GetUserAttributeVerificationCode": {
      "authtype": "none",
      "documentation": "<p>Gets the user attribute verification code for the specified attribute name.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserAttributeVerificationCodeRequest"
      },
      "name": "GetUserAttributeVerificationCode",
      "output": {
        "shape": "GetUserAttributeVerificationCodeResponse"
      }
    },
    "GetUserPoolMfaConfig": {
      "documentation": "<p>Gets the user pool multi-factor authentication (MFA) configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserPoolMfaConfigRequest"
      },
      "name": "GetUserPoolMfaConfig",
      "output": {
        "shape": "GetUserPoolMfaConfigResponse"
      }
    },
    "GlobalSignOut": {
      "documentation": "<p>Signs out users from all devices. It also invalidates all refresh tokens issued to a user. The user's current access and Id tokens remain valid until their expiry. Access and Id tokens expire one hour after they are issued.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GlobalSignOutRequest"
      },
      "name": "GlobalSignOut",
      "output": {
        "shape": "GlobalSignOutResponse"
      }
    },
    "InitiateAuth": {
      "documentation": "<p>Initiates the authentication flow.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InitiateAuthRequest"
      },
      "name": "InitiateAuth",
      "output": {
        "shape": "InitiateAuthResponse"
      }
    },
    "ListDevices": {
      "documentation": "<p>Lists the devices.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDevicesRequest"
      },
      "name": "ListDevices",
      "output": {
        "shape": "ListDevicesResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Lists the groups associated with a user pool.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListIdentityProviders": {
      "documentation": "<p>Lists information about all identity providers for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIdentityProvidersRequest"
      },
      "name": "ListIdentityProviders",
      "output": {
        "shape": "ListIdentityProvidersResponse"
      }
    },
    "ListResourceServers": {
      "documentation": "<p>Lists the resource servers for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceServersRequest"
      },
      "name": "ListResourceServers",
      "output": {
        "shape": "ListResourceServersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that are assigned to an Amazon Cognito user pool.</p> <p>A tag is a label that you can apply to user pools to categorize and manage them in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>You can use this action up to 10 times per second, per account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUserImportJobs": {
      "documentation": "<p>Lists the user import jobs.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserImportJobsRequest"
      },
      "name": "ListUserImportJobs",
      "output": {
        "shape": "ListUserImportJobsResponse"
      }
    },
    "ListUserPoolClients": {
      "documentation": "<p>Lists the clients that have been created for the specified user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserPoolClientsRequest"
      },
      "name": "ListUserPoolClients",
      "output": {
        "shape": "ListUserPoolClientsResponse"
      }
    },
    "ListUserPools": {
      "documentation": "<p>Lists the user pools associated with an AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUserPoolsRequest"
      },
      "name": "ListUserPools",
      "output": {
        "shape": "ListUserPoolsResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Lists the users in the Amazon Cognito user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "ListUsersInGroup": {
      "documentation": "<p>Lists the users in the specified group.</p> <p>Calling this action requires developer credentials.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsersInGroupRequest"
      },
      "name": "ListUsersInGroup",
      "output": {
        "shape": "ListUsersInGroupResponse"
      }
    },
    "ResendConfirmationCode": {
      "authtype": "none",
      "documentation": "<p>Resends the confirmation (for confirmation of registration) to a specific user in the user pool.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResendConfirmationCodeRequest"
      },
      "name": "ResendConfirmationCode",
      "output": {
        "shape": "ResendConfirmationCodeResponse"
      }
    },
    "RespondToAuthChallenge": {
      "documentation": "<p>Responds to the authentication challenge.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "MFAMethodNotFoundException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "SoftwareTokenMFANotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RespondToAuthChallengeRequest"
      },
      "name": "RespondToAuthChallenge",
      "output": {
        "shape": "RespondToAuthChallengeResponse"
      }
    },
    "SetRiskConfiguration": {
      "documentation": "<p>Configures actions on detected risks. To delete the risk configuration for <code>UserPoolId</code> or <code>ClientId</code>, pass null values for all four configuration types.</p> <p>To enable Amazon Cognito advanced security features, update the user pool to include the <code>UserPoolAddOns</code> key<code>AdvancedSecurityMode</code>.</p> <p>See .</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetRiskConfigurationRequest"
      },
      "name": "SetRiskConfiguration",
      "output": {
        "shape": "SetRiskConfigurationResponse"
      }
    },
    "SetUICustomization": {
      "documentation": "<p>Sets the UI customization information for a user pool's built-in app UI.</p> <p>You can specify app UI customization settings for a single client (with a specific <code>clientId</code>) or for all clients (by setting the <code>clientId</code> to <code>ALL</code>). If you specify <code>ALL</code>, the default configuration will be used for every client that has no UI customization set previously. If you specify UI customization settings for a particular client, it will no longer fall back to the <code>ALL</code> configuration. </p> <note> <p>To use this API, your user pool must have a domain associated with it. Otherwise, there is no place to host the app's pages, and the service will throw an error.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetUICustomizationRequest"
      },
      "name": "SetUICustomization",
      "output": {
        "shape": "SetUICustomizationResponse"
      }
    },
    "SetUserMFAPreference": {
      "documentation": "<p>Set the user's multi-factor authentication (MFA) method preference, including which MFA factors are enabled and if any are preferred. Only one factor can be set as preferred. The preferred MFA factor will be used to authenticate a user if multiple factors are enabled. If multiple options are enabled and no preference is set, a challenge to choose an MFA option will be returned during sign in.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetUserMFAPreferenceRequest"
      },
      "name": "SetUserMFAPreference",
      "output": {
        "shape": "SetUserMFAPreferenceResponse"
      }
    },
    "SetUserPoolMfaConfig": {
      "documentation": "<p>Set the user pool multi-factor authentication (MFA) configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetUserPoolMfaConfigRequest"
      },
      "name": "SetUserPoolMfaConfig",
      "output": {
        "shape": "SetUserPoolMfaConfigResponse"
      }
    },
    "SetUserSettings": {
      "authtype": "none",
      "documentation": "<p> <i>This action is no longer supported.</i> You can use it to configure only SMS MFA. You can't use it to configure TOTP software token MFA. To configure either type of MFA, use the <a>SetUserMFAPreference</a> action instead.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetUserSettingsRequest"
      },
      "name": "SetUserSettings",
      "output": {
        "shape": "SetUserSettingsResponse"
      }
    },
    "SignUp": {
      "authtype": "none",
      "documentation": "<p>Registers the user in the specified user pool and creates a user name, password, and user attributes.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "UsernameExistsException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SignUpRequest"
      },
      "name": "SignUp",
      "output": {
        "shape": "SignUpResponse"
      }
    },
    "StartUserImportJob": {
      "documentation": "<p>Starts the user import.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "NotAuthorizedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartUserImportJobRequest"
      },
      "name": "StartUserImportJob",
      "output": {
        "shape": "StartUserImportJobResponse"
      }
    },
    "StopUserImportJob": {
      "documentation": "<p>Stops the user import job.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "PreconditionNotMetException"
        },
        {
          "shape": "NotAuthorizedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopUserImportJobRequest"
      },
      "name": "StopUserImportJob",
      "output": {
        "shape": "StopUserImportJobResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns a set of tags to an Amazon Cognito user pool. A tag is a label that you can use to categorize and manage user pools in different ways, such as by purpose, owner, environment, or other criteria.</p> <p>Each tag consists of a key and value, both of which you define. A key is a general category for more specific values. For example, if you have two versions of a user pool, one for testing and another for production, you might assign an <code>Environment</code> tag key to both user pools. The value of this key might be <code>Test</code> for one user pool and <code>Production</code> for the other.</p> <p>Tags are useful for cost tracking and access control. You can activate your tags so that they appear on the Billing and Cost Management console, where you can track the costs associated with your user pools. In an IAM policy, you can constrain permissions for user pools based on specific tags or tag values.</p> <p>You can use this action up to 5 times per second, per account. A user pool can have as many as 50 tags.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from an Amazon Cognito user pool. You can use this action up to 5 times per second, per account</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateAuthEventFeedback": {
      "documentation": "<p>Provides the feedback for an authentication event whether it was from a valid user or not. This feedback is used for improving the risk evaluation decision for the user pool as part of Amazon Cognito advanced security.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserPoolAddOnNotEnabledException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAuthEventFeedbackRequest"
      },
      "name": "UpdateAuthEventFeedback",
      "output": {
        "shape": "UpdateAuthEventFeedbackResponse"
      }
    },
    "UpdateDeviceStatus": {
      "documentation": "<p>Updates the device status.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InvalidUserPoolConfigurationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDeviceStatusRequest"
      },
      "name": "UpdateDeviceStatus",
      "output": {
        "shape": "UpdateDeviceStatusResponse"
      }
    },
    "UpdateGroup": {
      "documentation": "<p>Updates the specified group with the specified attributes.</p> <p>Calling this action requires developer credentials.</p> <important> <p>If you don't provide a value for an attribute, it will be set to the default value.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "name": "UpdateGroup",
      "output": {
        "shape": "UpdateGroupResponse"
      }
    },
    "UpdateIdentityProvider": {
      "documentation": "<p>Updates identity provider information for a user pool.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnsupportedIdentityProviderException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIdentityProviderRequest"
      },
      "name": "UpdateIdentityProvider",
      "output": {
        "shape": "UpdateIdentityProviderResponse"
      }
    },
    "UpdateResourceServer": {
      "documentation": "<p>Updates the name and scopes of resource server. All other fields are read-only.</p> <important> <p>If you don't provide a value for an attribute, it will be set to the default value.</p> </important>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResourceServerRequest"
      },
      "name": "UpdateResourceServer",
      "output": {
        "shape": "UpdateResourceServerResponse"
      }
    },
    "UpdateUserAttributes": {
      "authtype": "none",
      "documentation": "<p>Allows a user to update a specific attribute (one at a time).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "CodeMismatchException"
        },
        {
          "shape": "ExpiredCodeException"
        },
        {
          "shape": "NotAuthorizedException"
        },
        {
          "shape": "UnexpectedLambdaException"
        },
        {
          "shape": "UserLambdaValidationException"
        },
        {
          "shape": "InvalidLambdaResponseException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "AliasExistsException"
        },
        {
          "shape": "InvalidSmsRoleAccessPolicyException"
        },
        {
          "shape": "InvalidSmsRoleTrustRelationshipException"
        },
        {
          "shape": "InvalidEmailRoleAccessPolicyException"
        },
        {
          "shape": "CodeDeliveryFailureException"
        },
        {
          "shape": "PasswordResetRequiredException"
        },
        {
          "shape": "UserNotFoundException"
        },
        {
          "shape": "UserNotConfirmedException"
        },
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserAttributesRequest"
      },
      "name": "UpdateUserAttributes",
      "output": {
        "shape": "UpdateUserAttributesResponse"
      }
    },
    "UpdateUserPool": {
      "documentation": "<p>Updates the specified user pool with the specified attributes. You can get a list of the current user pool settings with .</p> <important> <p>If you don't provide a value for an attribute, it will be set to the default value.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
[...]
