{
  "documentation": "<p>AWS IAM Access Analyzer helps identify potential resource-access risks by enabling you to identify any policies that grant access to an external principal. It does this by using logic-based reasoning to analyze resource-based policies in your AWS environment. An external principal can be another AWS account, a root user, an IAM user or role, a federated user, an AWS service, or an anonymous user. This guide describes the AWS IAM Access Analyzer operations that you can call programmatically. For general information about Access Analyzer, see the <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/what-is-access-analyzer.html\">AWS IAM Access Analyzer section of the IAM User Guide</a>.</p> <p>To start using Access Analyzer, you first need to create an analyzer.</p>",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "access-analyzer",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "Access Analyzer",
    "serviceId": "AccessAnalyzer",
    "signatureVersion": "v4",
    "signingName": "access-analyzer",
    "uid": "accessanalyzer-2019-11-01"
  },
  "operations": {
    "CreateAnalyzer": {
      "documentation": "<p>Creates an analyzer for your account.</p>",
      "errors": [
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAnalyzerRequest"
      },
      "name": "CreateAnalyzer",
      "output": {
        "shape": "CreateAnalyzerResponse"
      }
    },
    "CreateArchiveRule": {
      "documentation": "<p>Creates an archive rule for the specified analyzer. Archive rules automatically archive findings that meet the criteria you define when you create the rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateArchiveRuleRequest"
      },
      "name": "CreateArchiveRule"
    },
    "DeleteAnalyzer": {
      "documentation": "<p>Deletes the specified analyzer. When you delete an analyzer, Access Analyzer is disabled for the account in the current or specific Region. All findings that were generated by the analyzer are deleted. You cannot undo this action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAnalyzerRequest"
      },
      "name": "DeleteAnalyzer"
    },
    "DeleteArchiveRule": {
      "documentation": "<p>Deletes the specified archive rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteArchiveRuleRequest"
      },
      "name": "DeleteArchiveRule"
    },
    "GetAnalyzedResource": {
      "documentation": "<p>Retrieves information about a resource that was analyzed.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalyzedResourceRequest"
      },
      "name": "GetAnalyzedResource",
      "output": {
        "shape": "GetAnalyzedResourceResponse"
      }
    },
    "GetAnalyzer": {
      "documentation": "<p>Retrieves information about the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAnalyzerRequest"
      },
      "name": "GetAnalyzer",
      "output": {
        "shape": "GetAnalyzerResponse"
      }
    },
    "GetArchiveRule": {
      "documentation": "<p>Retrieves information about an archive rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetArchiveRuleRequest"
      },
      "name": "GetArchiveRule",
      "output": {
        "shape": "GetArchiveRuleResponse"
      }
    },
    "GetFinding": {
      "documentation": "<p>Retrieves information about the specified finding.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/finding/{id}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFindingRequest"
      },
      "name": "GetFinding",
      "output": {
        "shape": "GetFindingResponse"
      }
    },
    "ListAnalyzedResources": {
      "documentation": "<p>Retrieves a list of resources of the specified type that have been analyzed by the specified analyzer..</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/analyzed-resource",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalyzedResourcesRequest"
      },
      "name": "ListAnalyzedResources",
      "output": {
        "shape": "ListAnalyzedResourcesResponse"
      }
    },
    "ListAnalyzers": {
      "documentation": "<p>Retrieves a list of analyzers.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAnalyzersRequest"
      },
      "name": "ListAnalyzers",
      "output": {
        "shape": "ListAnalyzersResponse"
      }
    },
    "ListArchiveRules": {
      "documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/analyzer/{analyzerName}/archive-rule",
        "responseCode": 200
      },
      "input": {
        "shape": "ListArchiveRulesRequest"
      },
      "name": "ListArchiveRules",
      "output": {
        "shape": "ListArchiveRulesResponse"
      }
    },
    "ListFindings": {
      "documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "name": "ListFindings",
      "output": {
        "shape": "ListFindingsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "StartResourceScan": {
      "documentation": "<p>Immediately starts a scan of the policies applied to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/resource/scan",
        "responseCode": 200
      },
      "input": {
        "shape": "StartResourceScanRequest"
      },
      "name": "StartResourceScan"
    },
    "TagResource": {
      "documentation": "<p>Adds a tag to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes a tag from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateArchiveRule": {
      "documentation": "<p>Updates the criteria and values for the specified archive rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/analyzer/{analyzerName}/archive-rule/{ruleName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateArchiveRuleRequest"
      },
      "name": "UpdateArchiveRule"
    },
    "UpdateFindings": {
      "documentation": "<p>Updates the status for the specified findings.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/finding",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateFindingsRequest"
      },
      "name": "UpdateFindings"
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "error": {
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ActionList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "AnalyzedResource": {
      "documentation": "<p>Contains details about the analyzed resource.</p>",
      "members": {
        "actions": {
          "documentation": "<p>The actions that an external principal is granted permission to use by the policy that generated the finding.</p>",
          "shape": "ActionList"
        },
        "analyzedAt": {
          "documentation": "<p>The time at which the resource was analyzed.</p>",
          "shape": "Timestamp"
        },
        "createdAt": {
          "documentation": "<p>The time at which the finding was created.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>An error message.</p>",
          "shape": "String"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the policy that generated the finding grants public access to the resource.</p>",
          "shape": "Boolean"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource that was analyzed.</p>",
          "shape": "ResourceArn"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The AWS account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that was analyzed.</p>",
          "shape": "ResourceType"
        },
        "sharedVia": {
          "documentation": "<p>Indicates how the access that generated the finding is granted.</p>",
          "shape": "SharedViaList"
        },
        "status": {
          "documentation": "<p>The current status of the finding generated from the analyzed resource.</p>",
          "shape": "FindingStatus"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the finding was updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "analyzedAt",
        "createdAt",
        "isPublic",
        "resourceArn",
        "resourceOwnerAccount",
        "resourceType",
        "updatedAt"
      ],
      "type": "structure"
    },
    "AnalyzedResourceSummary": {
      "documentation": "<p>Contains the ARN of the analyzed resource.</p>",
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the analyzed resource.</p>",
          "shape": "ResourceArn"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The AWS account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of resource that was analyzed.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "resourceArn",
        "resourceOwnerAccount",
        "resourceType"
      ],
      "type": "structure"
    },
    "AnalyzedResourcesList": {
      "member": {
        "shape": "AnalyzedResourceSummary"
      },
      "type": "list"
    },
    "AnalyzerArn": {
      "pattern": "^[^:]*:[^:]*:[^:]*:[^:]*:[^:]*:analyzer/.{1,255}$",
      "type": "string"
    },
    "AnalyzerStatus": {
      "enum": [
        "ACTIVE",
        "CREATING",
        "DISABLED",
        "FAILED"
      ],
      "type": "string"
    },
    "AnalyzerSummary": {
      "documentation": "<p>Contains information about the analyzer.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the analyzer.</p>",
          "shape": "AnalyzerArn"
        },
        "createdAt": {
          "documentation": "<p>A timestamp for the time at which the analyzer was created.</p>",
          "shape": "Timestamp"
        },
        "lastResourceAnalyzed": {
          "documentation": "<p>The resource that was most recently analyzed by the analyzer.</p>",
          "shape": "String"
        },
        "lastResourceAnalyzedAt": {
          "documentation": "<p>The time at which the most recently analyzed resource was analyzed.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the analyzer.</p>",
          "shape": "Name"
        },
        "status": {
          "documentation": "<p>The status of the analyzer. An <code>Active</code> analyzer successfully monitors supported resources and generates new findings. The analyzer is <code>Disabled</code> when a user action, such as removing trusted access for IAM Access Analyzer from AWS Organizations, causes the analyzer to stop generating new findings. The status is <code>Creating</code> when the analyzer creation is in progress and <code>Failed</code> when the analyzer creation has failed. </p>",
          "shape": "AnalyzerStatus"
        },
        "statusReason": {
          "documentation": "<p>The <code>statusReason</code> provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is displayed. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the AWS organization.</p>",
          "shape": "StatusReason"
        },
        "tags": {
          "documentation": "<p>The tags added to the analyzer.</p>",
          "shape": "TagsMap"
        },
        "type": {
          "documentation": "<p>The type of analyzer, which corresponds to the zone of trust chosen for the analyzer.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "arn",
        "createdAt",
        "name",
        "status",
        "type"
      ],
      "type": "structure"
    },
    "AnalyzersList": {
      "member": {
        "shape": "AnalyzerSummary"
      },
      "type": "list"
    },
    "ArchiveRuleSummary": {
      "documentation": "<p>Contains information about an archive rule.</p>",
      "members": {
        "createdAt": {
          "documentation": "<p>The time at which the archive rule was created.</p>",
          "shape": "Timestamp"
        },
        "filter": {
          "documentation": "<p>A filter used to define the archive rule.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the archive rule.</p>",
          "shape": "Name"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the archive rule was last updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "createdAt",
        "filter",
        "ruleName",
        "updatedAt"
      ],
      "type": "structure"
    },
    "ArchiveRulesList": {
      "member": {
        "shape": "ArchiveRuleSummary"
      },
      "type": "list"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "ConditionKeyMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "ConflictException": {
      "documentation": "<p>A conflict exception error.</p>",
      "error": {
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The resource type.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "CreateAnalyzerRequest": {
      "documentation": "<p>Creates an analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to create.</p>",
          "shape": "Name"
        },
        "archiveRules": {
          "documentation": "<p>Specifies the archive rules to add for the analyzer. Archive rules automatically archive findings that meet the criteria you define for the rule.</p>",
          "shape": "InlineArchiveRulesList"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>The tags to apply to the analyzer.</p>",
          "shape": "TagsMap"
        },
        "type": {
          "documentation": "<p>The type of analyzer to create. Only ACCOUNT analyzers are supported. You can create only one analyzer per account per Region.</p>",
          "shape": "Type"
        }
      },
      "required": [
        "analyzerName",
        "type"
      ],
      "type": "structure"
    },
    "CreateAnalyzerResponse": {
      "documentation": "<p>The response to the request to create an analyzer.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the analyzer that was created by the request.</p>",
          "shape": "AnalyzerArn"
        }
      },
      "type": "structure"
    },
    "CreateArchiveRuleRequest": {
      "documentation": "<p>Creates an archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the created analyzer.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "filter": {
          "documentation": "<p>The criteria for the rule.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to create.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "filter",
        "ruleName"
      ],
      "type": "structure"
    },
    "Criterion": {
      "documentation": "<p>The criteria to use in the filter that defines the archive rule.</p>",
      "members": {
        "contains": {
          "documentation": "<p>A \"contains\" operator to match for the filter used to create the rule.</p>",
          "shape": "ValueList"
        },
        "eq": {
          "documentation": "<p>An \"equals\" operator to match for the filter used to create the rule.</p>",
          "shape": "ValueList"
        },
        "exists": {
          "documentation": "<p>An \"exists\" operator to match for the filter used to create the rule. </p>",
          "shape": "Boolean"
        },
        "neq": {
          "documentation": "<p>A \"not equals\" operator to match for the filter used to create the rule.</p>",
          "shape": "ValueList"
        }
      },
      "type": "structure"
    },
    "DeleteAnalyzerRequest": {
      "documentation": "<p>Deletes an analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to delete.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "String"
        }
      },
      "required": [
        "analyzerName"
      ],
      "type": "structure"
    },
    "DeleteArchiveRuleRequest": {
      "documentation": "<p>Deletes an archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer that associated with the archive rule to delete.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "location": "querystring",
          "locationName": "clientToken",
          "shape": "String"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to delete.</p>",
          "location": "uri",
          "locationName": "ruleName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "ruleName"
      ],
      "type": "structure"
    },
    "FilterCriteriaMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "Criterion"
      }
    },
    "Finding": {
      "documentation": "<p>Contains information about a finding.</p>",
      "members": {
        "action": {
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to use.</p>",
          "shape": "ActionList"
        },
        "analyzedAt": {
          "documentation": "<p>The time at which the resource was analyzed.</p>",
          "shape": "Timestamp"
        },
        "condition": {
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
          "shape": "ConditionKeyMap"
        },
        "createdAt": {
          "documentation": "<p>The time at which the finding was generated.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>An error.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the finding.</p>",
          "shape": "FindingId"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the policy that generated the finding allows public access to the resource.</p>",
          "shape": "Boolean"
        },
        "principal": {
          "documentation": "<p>The external principal that access to a resource within the zone of trust.</p>",
          "shape": "PrincipalMap"
        },
        "resource": {
          "documentation": "<p>The resource that an external principal has access to.</p>",
          "shape": "String"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The AWS account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource reported in the finding.</p>",
          "shape": "ResourceType"
        },
        "status": {
          "documentation": "<p>The current status of the finding.</p>",
          "shape": "FindingStatus"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the finding was updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "analyzedAt",
        "condition",
        "createdAt",
        "id",
        "resourceOwnerAccount",
        "resourceType",
        "status",
        "updatedAt"
      ],
      "type": "structure"
    },
    "FindingId": {
      "type": "string"
    },
    "FindingIdList": {
      "member": {
        "shape": "FindingId"
      },
      "type": "list"
    },
    "FindingStatus": {
      "enum": [
        "ACTIVE",
        "ARCHIVED",
        "RESOLVED"
      ],
      "type": "string"
    },
    "FindingStatusUpdate": {
      "enum": [
        "ACTIVE",
        "ARCHIVED"
      ],
      "type": "string"
    },
    "FindingSummary": {
      "documentation": "<p>Contains information about a finding.</p>",
      "members": {
        "action": {
          "documentation": "<p>The action in the analyzed policy statement that an external principal has permission to use.</p>",
          "shape": "ActionList"
        },
        "analyzedAt": {
          "documentation": "<p>The time at which the resource-based policy that generated the finding was analyzed.</p>",
          "shape": "Timestamp"
        },
        "condition": {
          "documentation": "<p>The condition in the analyzed policy statement that resulted in a finding.</p>",
          "shape": "ConditionKeyMap"
        },
        "createdAt": {
          "documentation": "<p>The time at which the finding was created.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>The error that resulted in an Error finding.</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The ID of the finding.</p>",
          "shape": "FindingId"
        },
        "isPublic": {
          "documentation": "<p>Indicates whether the finding reports a resource that has a policy that allows public access.</p>",
          "shape": "Boolean"
        },
        "principal": {
          "documentation": "<p>The external principal that has access to a resource within the zone of trust.</p>",
          "shape": "PrincipalMap"
        },
        "resource": {
          "documentation": "<p>The resource that the external principal has access to.</p>",
          "shape": "String"
        },
        "resourceOwnerAccount": {
          "documentation": "<p>The AWS account ID that owns the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource that the external principal has access to.</p>",
          "shape": "ResourceType"
        },
        "status": {
          "documentation": "<p>The status of the finding.</p>",
          "shape": "FindingStatus"
        },
        "updatedAt": {
          "documentation": "<p>The time at which the finding was most recently updated.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "analyzedAt",
        "condition",
        "createdAt",
        "id",
        "resourceOwnerAccount",
        "resourceType",
        "status",
        "updatedAt"
      ],
      "type": "structure"
    },
    "FindingsList": {
      "member": {
        "shape": "FindingSummary"
      },
      "type": "list"
    },
    "GetAnalyzedResourceRequest": {
      "documentation": "<p>Retrieves an analyzed resource.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer to retrieve information from.</p>",
          "location": "querystring",
          "locationName": "analyzerArn",
          "shape": "AnalyzerArn"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource to retrieve information about.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "analyzerArn",
        "resourceArn"
      ],
      "type": "structure"
    },
    "GetAnalyzedResourceResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "resource": {
          "documentation": "<p>An <code>AnalyedResource</code> object that contains information that Access Analyzer found when it analyzed the resource.</p>",
          "shape": "AnalyzedResource"
        }
      },
      "type": "structure"
    },
    "GetAnalyzerRequest": {
      "documentation": "<p>Retrieves an analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer retrieved.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName"
      ],
      "type": "structure"
    },
    "GetAnalyzerResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "analyzer": {
          "documentation": "<p>An <code>AnalyzerSummary</code> object that contains information about the analyzer.</p>",
          "shape": "AnalyzerSummary"
        }
      },
      "required": [
        "analyzer"
      ],
      "type": "structure"
    },
    "GetArchiveRuleRequest": {
      "documentation": "<p>Retrieves an archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to retrieve.</p>",
          "location": "uri",
          "locationName": "ruleName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "ruleName"
      ],
      "type": "structure"
    },
    "GetArchiveRuleResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "archiveRule": {
          "shape": "ArchiveRuleSummary"
        }
      },
      "required": [
        "archiveRule"
      ],
      "type": "structure"
    },
    "GetFindingRequest": {
      "documentation": "<p>Retrieves a finding.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer that generated the finding.</p>",
          "location": "querystring",
          "locationName": "analyzerArn",
          "shape": "AnalyzerArn"
        },
        "id": {
          "documentation": "<p>The ID of the finding to retrieve.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "FindingId"
        }
      },
      "required": [
        "analyzerArn",
        "id"
      ],
      "type": "structure"
    },
    "GetFindingResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "finding": {
          "documentation": "<p>A <code>finding</code> object that contains finding details.</p>",
          "shape": "Finding"
        }
      },
      "type": "structure"
    },
    "InlineArchiveRule": {
      "documentation": "<p>An criterion statement in an archive rule. Each archive rule may have multiple criteria.</p>",
      "members": {
        "filter": {
          "documentation": "<p>The condition and values for a criterion.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "filter",
        "ruleName"
      ],
      "type": "structure"
    },
    "InlineArchiveRulesList": {
      "member": {
        "shape": "InlineArchiveRule"
      },
      "type": "list"
    },
    "Integer": {
      "box": true,
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p>Internal server error.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "retryAfterSeconds": {
          "documentation": "<p>The seconds to wait to retry.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "Integer"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "ListAnalyzedResourcesRequest": {
      "documentation": "<p>Retrieves a list of resources that have been analyzed.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer to retrieve a list of analyzed resources from.</p>",
          "shape": "AnalyzerArn"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        },
        "resourceType": {
          "documentation": "<p>The type of resource.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "analyzerArn"
      ],
      "type": "structure"
    },
    "ListAnalyzedResourcesResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "analyzedResources": {
          "documentation": "<p>A list of resources that were analyzed.</p>",
          "shape": "AnalyzedResourcesList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "analyzedResources"
      ],
      "type": "structure"
    },
    "ListAnalyzersRequest": {
      "documentation": "<p>Retrieves a list of analyzers.</p>",
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        },
        "type": {
          "documentation": "<p>The type of analyzer.</p>",
          "location": "querystring",
          "locationName": "type",
          "shape": "Type"
        }
      },
      "type": "structure"
    },
    "ListAnalyzersResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "analyzers": {
          "documentation": "<p>The analyzers retrieved.</p>",
          "shape": "AnalyzersList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "analyzers"
      ],
      "type": "structure"
    },
    "ListArchiveRulesRequest": {
      "documentation": "<p>Retrieves a list of archive rules created for the specified analyzer.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to retrieve rules from.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "Token"
        }
      },
      "required": [
        "analyzerName"
      ],
      "type": "structure"
    },
    "ListArchiveRulesResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "archiveRules": {
          "documentation": "<p>A list of archive rules created for the specified analyzer.</p>",
          "shape": "ArchiveRulesList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "archiveRules"
      ],
      "type": "structure"
    },
    "ListFindingsRequest": {
      "documentation": "<p>Retrieves a list of findings generated by the specified analyzer.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer to retrieve findings from.</p>",
          "shape": "AnalyzerArn"
        },
        "filter": {
          "documentation": "<p>A filter to match for the findings to return.</p>",
          "shape": "FilterCriteriaMap"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in the response.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        },
        "sort": {
          "documentation": "<p>The sort order for the findings returned.</p>",
          "shape": "SortCriteria"
        }
      },
      "required": [
        "analyzerArn"
      ],
      "type": "structure"
    },
    "ListFindingsResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "findings": {
          "documentation": "<p>A list of findings retrieved from the analyzer that match the filter criteria specified, if any.</p>",
          "shape": "FindingsList"
        },
        "nextToken": {
          "documentation": "<p>A token used for pagination of results returned.</p>",
          "shape": "Token"
        }
      },
      "required": [
        "findings"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "documentation": "<p>Retrieves a list of tags applied to the specified resource.</p>",
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource to retrieve tags from.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "String"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {
        "tags": {
          "documentation": "<p>The tags that are applied to the specified resource.</p>",
          "shape": "TagsMap"
        }
      },
      "type": "structure"
    },
    "Name": {
      "max": 255,
      "min": 1,
      "pattern": "^[A-Za-z][A-Za-z0-9_.-]*$",
      "type": "string"
    },
    "OrderBy": {
      "enum": [
        "ASC",
        "DESC"
      ],
      "type": "string"
    },
    "PrincipalMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "ReasonCode": {
      "enum": [
        "AWS_SERVICE_ACCESS_DISABLED",
        "DELEGATED_ADMINISTRATOR_DEREGISTERED",
        "ORGANIZATION_DELETED",
        "SERVICE_LINKED_ROLE_CREATION_FAILED"
      ],
      "type": "string"
    },
    "ResourceArn": {
      "pattern": "arn:[^:]*:[^:]*:[^:]*:[^:]*:.*$",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource could not be found.</p>",
      "error": {
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The type of the resource.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "AWS::IAM::Role",
        "AWS::KMS::Key",
        "AWS::Lambda::Function",
        "AWS::Lambda::LayerVersion",
        "AWS::S3::Bucket",
        "AWS::SQS::Queue"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>Service quote met error.</p>",
      "error": {
        "httpStatusCode": 402,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>The resource ID.</p>",
          "shape": "String"
        },
        "resourceType": {
          "documentation": "<p>The resource type.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "resourceId",
        "resourceType"
      ],
      "type": "structure"
    },
    "SharedViaList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "SortCriteria": {
      "documentation": "<p>The criteria used to sort.</p>",
      "members": {
        "attributeName": {
          "documentation": "<p>The name of the attribute to sort on.</p>",
          "shape": "String"
        },
        "orderBy": {
          "documentation": "<p>The sort order, ascending or descending.</p>",
          "shape": "OrderBy"
        }
      },
      "type": "structure"
    },
    "StartResourceScanRequest": {
      "documentation": "<p>Starts a scan of the policies applied to the specified resource.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer to use to scan the policies applied to the specified resource.</p>",
          "shape": "AnalyzerArn"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource to scan.</p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "analyzerArn",
        "resourceArn"
      ],
      "type": "structure"
    },
    "StatusReason": {
      "documentation": "<p>Provides more details about the current status of the analyzer. For example, if the creation for the analyzer fails, a <code>Failed</code> status is displayed. For an analyzer with organization as the type, this failure can be due to an issue with creating the service-linked roles required in the member accounts of the AWS organization.</p>",
      "members": {
        "code": {
          "documentation": "<p>The reason code for the current status of the analyzer.</p>",
          "shape": "ReasonCode"
        }
      },
      "required": [
        "code"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "TagKeys": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "documentation": "<p>Adds a tag to the specified resource.</p>",
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource to add the tag to.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>The tags to add to the resource.</p>",
          "shape": "TagsMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {},
      "type": "structure"
    },
    "TagsMap": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "ThrottlingException": {
      "documentation": "<p>Throttling limit exceeded error.</p>",
      "error": {
        "httpStatusCode": 429,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        },
        "retryAfterSeconds": {
          "documentation": "<p>The seconds to wait to retry.</p>",
          "location": "header",
          "locationName": "Retry-After",
          "shape": "Integer"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "Timestamp": {
      "timestampFormat": "iso8601",
      "type": "timestamp"
    },
    "Token": {
      "type": "string"
    },
    "Type": {
      "enum": [
        "ACCOUNT",
        "ORGANIZATION"
      ],
      "type": "string"
    },
    "UntagResourceRequest": {
      "documentation": "<p>Removes a tag from the specified resource.</p>",
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource to remove the tag from.</p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "String"
        },
        "tagKeys": {
          "documentation": "<p>The key for the tag to add.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeys"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "documentation": "<p>The response to the request.</p>",
      "members": {},
      "type": "structure"
    },
    "UpdateArchiveRuleRequest": {
      "documentation": "<p>Updates the specified archive rule.</p>",
      "members": {
        "analyzerName": {
          "documentation": "<p>The name of the analyzer to update the archive rules for.</p>",
          "location": "uri",
          "locationName": "analyzerName",
          "shape": "Name"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "filter": {
          "documentation": "<p>A filter to match for the rules to update. Only rules that match the filter are updated.</p>",
          "shape": "FilterCriteriaMap"
        },
        "ruleName": {
          "documentation": "<p>The name of the rule to update.</p>",
          "location": "uri",
          "locationName": "ruleName",
          "shape": "Name"
        }
      },
      "required": [
        "analyzerName",
        "filter",
        "ruleName"
      ],
      "type": "structure"
    },
    "UpdateFindingsRequest": {
      "documentation": "<p>Updates findings with the new values provided in the request.</p>",
      "members": {
        "analyzerArn": {
          "documentation": "<p>The ARN of the analyzer that generated the findings to update.</p>",
          "shape": "AnalyzerArn"
        },
        "clientToken": {
          "documentation": "<p>A client token.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "ids": {
          "documentation": "<p>The IDs of the findings to update.</p>",
          "shape": "FindingIdList"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource identified in the finding.</p>",
          "shape": "ResourceArn"
        },
        "status": {
          "documentation": "<p>The state represents the action to take to update the finding Status. Use <code>ARCHIVE</code> to change an Active finding to an Archived finding. Use <code>ACTIVE</code> to change an Archived finding to an Active finding.</p>",
          "shape": "FindingStatusUpdate"
        }
      },
      "required": [
        "analyzerArn",
        "status"
      ],
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>Validation exception error.</p>",
      "error": {
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "fieldList": {
          "documentation": "<p>A list of fields that didn't validate.</p>",
          "shape": "ValidationExceptionFieldList"
        },
        "message": {
          "shape": "String"
        },
        "reason": {
          "documentation": "<p>The reason for the exception.</p>",
          "shape": "ValidationExceptionReason"
        }
      },
      "required": [
        "message",
        "reason"
      ],
      "type": "structure"
    },
    "ValidationExceptionField": {
      "documentation": "<p>Contains information about a validation exception.</p>",
      "members": {
        "message": {
          "documentation": "<p>A message about the validation exception.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the validation exception.</p>",
          "shape": "String"
        }
      },
      "required": [
        "message",
        "name"
      ],
      "type": "structure"
    },
    "ValidationExceptionFieldList": {
      "member": {
        "shape": "ValidationExceptionField"
      },
      "type": "list"
    },
    "ValidationExceptionReason": {
      "enum": [
        "cannotParse",
        "fieldValidationFailed",
        "other",
        "unknownOperation"
      ],
      "type": "string"
    },
    "ValueList": {
      "max": 20,
      "member": {
        "shape": "String"
      },
      "min": 1,
      "type": "list"
    }
  },
  "version": "2.0"
}
