{
  "documentation": "<fullname>Amazon Kinesis Data Firehose API Reference</fullname> <p>Amazon Kinesis Data Firehose is a fully managed service that delivers real-time streaming data to destinations such as Amazon Simple Storage Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), Amazon Redshift, and Splunk.</p>",
  "metadata": {
    "apiVersion": "2015-08-04",
    "endpointPrefix": "firehose",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Firehose",
    "serviceFullName": "Amazon Kinesis Firehose",
    "serviceId": "Firehose",
    "signatureVersion": "v4",
    "targetPrefix": "Firehose_20150804",
    "uid": "firehose-2015-08-04"
  },
  "operations": {
    "CreateDeliveryStream": {
      "documentation": "<p>Creates a Kinesis Data Firehose delivery stream.</p> <p>By default, you can create up to 50 delivery streams per AWS Region.</p> <p>This is an asynchronous operation that immediately returns. The initial status of the delivery stream is <code>CREATING</code>. After the delivery stream is created, its status is <code>ACTIVE</code> and it now accepts data. If the delivery stream creation fails, the status transitions to <code>CREATING_FAILED</code>. Attempts to send data to a delivery stream that is not in the <code>ACTIVE</code> state cause an exception. To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p> <p>A Kinesis Data Firehose delivery stream can be configured to receive records directly from providers using <a>PutRecord</a> or <a>PutRecordBatch</a>, or it can be configured to use an existing Kinesis stream as its source. To specify a Kinesis data stream as input, set the <code>DeliveryStreamType</code> parameter to <code>KinesisStreamAsSource</code>, and provide the Kinesis stream Amazon Resource Name (ARN) and role ARN in the <code>KinesisStreamSourceConfiguration</code> parameter.</p> <p>To create a delivery stream with server-side encryption (SSE) enabled, include <a>DeliveryStreamEncryptionConfigurationInput</a> in your request. This is optional. You can also invoke <a>StartDeliveryStreamEncryption</a> to turn on SSE for an existing delivery stream that doesn't have SSE enabled.</p> <p>A delivery stream is configured with a single destination: Amazon S3, Amazon ES, Amazon Redshift, or Splunk. You must specify only one of the following destination configuration parameters: <code>ExtendedS3DestinationConfiguration</code>, <code>S3DestinationConfiguration</code>, <code>ElasticsearchDestinationConfiguration</code>, <code>RedshiftDestinationConfiguration</code>, or <code>SplunkDestinationConfiguration</code>.</p> <p>When you specify <code>S3DestinationConfiguration</code>, you can also provide the following optional values: BufferingHints, <code>EncryptionConfiguration</code>, and <code>CompressionFormat</code>. By default, if no <code>BufferingHints</code> value is provided, Kinesis Data Firehose buffers data up to 5 MB or for 5 minutes, whichever condition is satisfied first. <code>BufferingHints</code> is a hint, so there are some cases where the service cannot adhere to these conditions strictly. For example, record boundaries might be such that the size is a little over or under the configured buffering size. By default, no encryption is performed. We strongly recommend that you enable encryption to ensure secure data storage in Amazon S3.</p> <p>A few notes about Amazon Redshift as a destination:</p> <ul> <li> <p>An Amazon Redshift destination requires an S3 bucket as intermediate location. Kinesis Data Firehose first delivers data to Amazon S3 and then uses <code>COPY</code> syntax to load data into an Amazon Redshift table. This is specified in the <code>RedshiftDestinationConfiguration.S3Configuration</code> parameter.</p> </li> <li> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified in <code>RedshiftDestinationConfiguration.S3Configuration</code> because the Amazon Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support these compression formats.</p> </li> <li> <p>We strongly recommend that you use the user name and password you provide exclusively with Kinesis Data Firehose, and that the permissions for the account are restricted for Amazon Redshift <code>INSERT</code> permissions.</p> </li> </ul> <p>Kinesis Data Firehose assumes the IAM role that is configured as part of the destination. The role should allow the Kinesis Data Firehose principal to assume the role, and the role should have permissions that allow the service to deliver the data. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> in the <i>Amazon Kinesis Data Firehose Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidKMSResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDeliveryStreamInput"
      },
      "name": "CreateDeliveryStream",
      "output": {
        "shape": "CreateDeliveryStreamOutput"
      }
    },
    "DeleteDeliveryStream": {
      "documentation": "<p>Deletes a delivery stream and its data.</p> <p>To check the state of a delivery stream, use <a>DescribeDeliveryStream</a>. You can delete a delivery stream only if it is in one of the following states: <code>ACTIVE</code>, <code>DELETING</code>, <code>CREATING_FAILED</code>, or <code>DELETING_FAILED</code>. You can't delete a delivery stream that is in the <code>CREATING</code> state. While the deletion request is in process, the delivery stream is in the <code>DELETING</code> state.</p> <p>While the delivery stream is in the <code>DELETING</code> state, the service might continue to accept records, but it doesn't make any guarantees with respect to delivering the data. Therefore, as a best practice, first stop any applications that are sending records before you delete a delivery stream.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeliveryStreamInput"
      },
      "name": "DeleteDeliveryStream",
      "output": {
        "shape": "DeleteDeliveryStreamOutput"
      }
    },
    "DescribeDeliveryStream": {
      "documentation": "<p>Describes the specified delivery stream and its status. For example, after your delivery stream is created, call <code>DescribeDeliveryStream</code> to see whether the delivery stream is <code>ACTIVE</code> and therefore ready for data to be sent to it. </p> <p>If the status of a delivery stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <a>CreateDeliveryStream</a> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it. If the status is <code>DELETING_FAILED</code>, you can force deletion by invoking <a>DeleteDeliveryStream</a> again but with <a>DeleteDeliveryStreamInput$AllowForceDelete</a> set to true.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDeliveryStreamInput"
      },
      "name": "DescribeDeliveryStream",
      "output": {
        "shape": "DescribeDeliveryStreamOutput"
      }
    },
    "ListDeliveryStreams": {
      "documentation": "<p>Lists your delivery streams in alphabetical order of their names.</p> <p>The number of delivery streams might be too large to return using a single call to <code>ListDeliveryStreams</code>. You can limit the number of delivery streams returned, using the <code>Limit</code> parameter. To determine whether there are more delivery streams to list, check the value of <code>HasMoreDeliveryStreams</code> in the output. If there are more delivery streams to list, you can request them by calling this operation again and setting the <code>ExclusiveStartDeliveryStreamName</code> parameter to the name of the last delivery stream returned in the last call.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDeliveryStreamsInput"
      },
      "name": "ListDeliveryStreams",
      "output": {
        "shape": "ListDeliveryStreamsOutput"
      }
    },
    "ListTagsForDeliveryStream": {
      "documentation": "<p>Lists the tags for the specified delivery stream. This operation has a limit of five transactions per second per account. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForDeliveryStreamInput"
      },
      "name": "ListTagsForDeliveryStream",
      "output": {
        "shape": "ListTagsForDeliveryStreamOutput"
      }
    },
    "PutRecord": {
      "documentation": "<p>Writes a single data record into an Amazon Kinesis Data Firehose delivery stream. To write multiple data records into a delivery stream, use <a>PutRecordBatch</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits and how to request an increase, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>. </p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it can be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <code>PutRecord</code> operation returns a <code>RecordId</code>, which is a unique string assigned to each record. Producer applications can use this ID for purposes such as auditability and investigation.</p> <p>If the <code>PutRecord</code> operation throws a <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream. </p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it tries to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidKMSResourceException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRecordInput"
      },
      "name": "PutRecord",
      "output": {
        "shape": "PutRecordOutput"
      }
    },
    "PutRecordBatch": {
      "documentation": "<p>Writes multiple data records into a delivery stream in a single call, which can achieve higher throughput per producer than when writing single records. To write single data records into a delivery stream, use <a>PutRecord</a>. Applications using these operations are referred to as producers.</p> <p>By default, each delivery stream can take in up to 2,000 transactions per second, 5,000 records per second, or 5 MB per second. If you use <a>PutRecord</a> and <a>PutRecordBatch</a>, the limits are an aggregate across these two operations for each delivery stream. For more information about limits, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon Kinesis Data Firehose Limits</a>.</p> <p>Each <a>PutRecordBatch</a> request supports up to 500 records. Each record in the request can be as large as 1,000 KB (before 64-bit encoding), up to a limit of 4 MB for the entire request. These limits cannot be changed.</p> <p>You must specify the name of the delivery stream and the data record when using <a>PutRecord</a>. The data record consists of a data blob that can be up to 1,000 KB in size, and any kind of data. For example, it could be a segment from a log file, geographic location data, website clickstream data, and so on.</p> <p>Kinesis Data Firehose buffers records before delivering them to the destination. To disambiguate the data blobs at the destination, a common solution is to use delimiters in the data, such as a newline (<code>\\n</code>) or some other character unique within the data. This allows the consumer application to parse individual data items when reading the data from the destination.</p> <p>The <a>PutRecordBatch</a> response includes a count of failed records, <code>FailedPutCount</code>, and an array of responses, <code>RequestResponses</code>. Even if the <a>PutRecordBatch</a> call succeeds, the value of <code>FailedPutCount</code> may be greater than 0, indicating that there are records for which the operation didn't succeed. Each entry in the <code>RequestResponses</code> array provides additional information about the processed record. It directly correlates with a record in the request array using the same ordering, from the top to the bottom. The response array always includes the same number of records as the request array. <code>RequestResponses</code> includes both successfully and unsuccessfully processed records. Kinesis Data Firehose tries to process all records in each <a>PutRecordBatch</a> request. A single record failure does not stop the processing of subsequent records. </p> <p>A successfully processed record includes a <code>RecordId</code> value, which is unique for the record. An unsuccessfully processed record includes <code>ErrorCode</code> and <code>ErrorMessage</code> values. <code>ErrorCode</code> reflects the type of error, and is one of the following values: <code>ServiceUnavailableException</code> or <code>InternalFailure</code>. <code>ErrorMessage</code> provides more detailed information about the error.</p> <p>If there is an internal server error or a timeout, the write might have completed or it might have failed. If <code>FailedPutCount</code> is greater than 0, retry the request, resending only those records that might have failed processing. This minimizes the possible duplicate records and also reduces the total bytes sent (and corresponding charges). We recommend that you handle any duplicates at the destination.</p> <p>If <a>PutRecordBatch</a> throws <code>ServiceUnavailableException</code>, back off and retry. If the exception persists, it is possible that the throughput limits have been exceeded for the delivery stream.</p> <p>Data records sent to Kinesis Data Firehose are stored for 24 hours from the time they are added to a delivery stream as it attempts to send the records to the destination. If the destination is unreachable for more than 24 hours, the data is no longer available.</p> <important> <p>Don't concatenate two or more base64 strings to form the data fields of your records. Instead, concatenate the raw data, then perform base64 encoding.</p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "InvalidKMSResourceException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRecordBatchInput"
      },
      "name": "PutRecordBatch",
      "output": {
        "shape": "PutRecordBatchOutput"
      }
    },
    "StartDeliveryStreamEncryption": {
      "documentation": "<p>Enables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the encryption status of the stream to <code>ENABLING</code>, and then to <code>ENABLED</code>. The encryption status of a delivery stream is the <code>Status</code> property in <a>DeliveryStreamEncryptionConfiguration</a>. If the operation fails, the encryption status changes to <code>ENABLING_FAILED</code>. You can continue to read and write data to your delivery stream while the encryption status is <code>ENABLING</code>, but the data is not encrypted. It can take up to 5 seconds after the encryption status changes to <code>ENABLED</code> before all records written to the delivery stream are encrypted. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption status of a delivery stream, use <a>DescribeDeliveryStream</a>.</p> <p>Even if encryption is currently enabled for a delivery stream, you can still invoke this operation on it to change the ARN of the CMK or both its type and ARN. In this case, Kinesis Data Firehose schedules the grant it had on the old CMK for retirement and creates a grant that enables it to use the new CMK to encrypt and decrypt data and to manage the grant.</p> <p>If a delivery stream already has encryption enabled and then you invoke this operation to change the ARN of the CMK or both its type and ARN and you get <code>ENABLING_FAILED</code>, this only means that the attempt to change the CMK failed. In this case, encryption remains enabled with the old CMK.</p> <p>If the encryption status of your delivery stream is <code>ENABLING_FAILED</code>, you can invoke this operation again. </p> <p>You can only enable SSE for a delivery stream that uses <code>DirectPut</code> as its source. </p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidKMSResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDeliveryStreamEncryptionInput"
      },
      "name": "StartDeliveryStreamEncryption",
      "output": {
        "shape": "StartDeliveryStreamEncryptionOutput"
      }
    },
    "StopDeliveryStreamEncryption": {
      "documentation": "<p>Disables server-side encryption (SSE) for the delivery stream. </p> <p>This operation is asynchronous. It returns immediately. When you invoke it, Kinesis Data Firehose first sets the encryption status of the stream to <code>DISABLING</code>, and then to <code>DISABLED</code>. You can continue to read and write data to your stream while its status is <code>DISABLING</code>. It can take up to 5 seconds after the encryption status changes to <code>DISABLED</code> before all records written to the delivery stream are no longer subject to encryption. To find out whether a record or a batch of records was encrypted, check the response elements <a>PutRecordOutput$Encrypted</a> and <a>PutRecordBatchOutput$Encrypted</a>, respectively.</p> <p>To check the encryption state of a delivery stream, use <a>DescribeDeliveryStream</a>. </p> <p>If SSE is enabled using a customer managed CMK and then you invoke <code>StopDeliveryStreamEncryption</code>, Kinesis Data Firehose schedules the related KMS grant for retirement and then retires it after it ensures that it is finished delivering records to the destination.</p> <p>The <code>StartDeliveryStreamEncryption</code> and <code>StopDeliveryStreamEncryption</code> operations have a combined limit of 25 calls per delivery stream per 24 hours. For example, you reach the limit if you call <code>StartDeliveryStreamEncryption</code> 13 times and <code>StopDeliveryStreamEncryption</code> 12 times for the same delivery stream in a 24-hour period.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDeliveryStreamEncryptionInput"
      },
      "name": "StopDeliveryStreamEncryption",
      "output": {
        "shape": "StopDeliveryStreamEncryptionOutput"
      }
    },
    "TagDeliveryStream": {
      "documentation": "<p>Adds or updates tags for the specified delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. If you specify a tag that already exists, the tag value is replaced with the value that you specify in the request. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management User Guide</i>. </p> <p>Each delivery stream can have up to 50 tags. </p> <p>This operation has a limit of five transactions per second per account. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagDeliveryStreamInput"
      },
      "name": "TagDeliveryStream",
      "output": {
        "shape": "TagDeliveryStreamOutput"
      }
    },
    "UntagDeliveryStream": {
      "documentation": "<p>Removes tags from the specified delivery stream. Removed tags are deleted, and you can't recover them after this operation successfully completes.</p> <p>If you specify a tag that doesn't exist, the operation ignores it.</p> <p>This operation has a limit of five transactions per second per account. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagDeliveryStreamInput"
      },
      "name": "UntagDeliveryStream",
      "output": {
        "shape": "UntagDeliveryStreamOutput"
      }
    },
    "UpdateDestination": {
      "documentation": "<p>Updates the specified destination of the specified delivery stream.</p> <p>Use this operation to change the destination type (for example, to replace the Amazon S3 destination with Amazon Redshift) or change the parameters associated with a destination (for example, to change the bucket name of the Amazon S3 destination). The update might not occur immediately. The target delivery stream remains active while the configurations are updated, so data writes to the delivery stream can continue during this process. The updated configurations are usually effective within a few minutes.</p> <p>Switching between Amazon ES and other services is not supported. For an Amazon ES destination, you can only update to another Amazon ES destination.</p> <p>If the destination type is the same, Kinesis Data Firehose merges the configuration parameters specified with the destination configuration that already exists on the delivery stream. If any of the parameters are not specified in the call, the existing values are retained. For example, in the Amazon S3 destination, if <a>EncryptionConfiguration</a> is not specified, then the existing <code>EncryptionConfiguration</code> is maintained on the destination.</p> <p>If the destination type is not the same, for example, changing the destination from Amazon S3 to Amazon Redshift, Kinesis Data Firehose does not merge any parameters. In this case, all parameters must be specified.</p> <p>Kinesis Data Firehose uses <code>CurrentDeliveryStreamVersionId</code> to avoid race conditions and conflicting merges. This is a required field, and the service updates the configuration only if the existing configuration has a version ID that matches. After the update is applied successfully, the version ID is updated, and can be retrieved using <a>DescribeDeliveryStream</a>. Use the new version ID to set <code>CurrentDeliveryStreamVersionId</code> in the next call.</p>",
      "errors": [
        {
          "shape": "InvalidArgumentException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDestinationInput"
      },
      "name": "UpdateDestination",
      "output": {
        "shape": "UpdateDestinationOutput"
      }
    }
  },
  "shapes": {
    "AWSKMSKeyARN": {
      "max": 512,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "BlockSizeBytes": {
      "min": 67108864,
      "type": "integer"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BucketARN": {
      "max": 2048,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "BufferingHints": {
      "documentation": "<p>Describes hints for the buffering to perform before delivering data to the destination. These options are treated as hints, and therefore Kinesis Data Firehose might choose to use different values when it is optimal. The <code>SizeInMBs</code> and <code>IntervalInSeconds</code> parameters are optional. However, if specify a value for one of them, you must also provide a value for the other.</p>",
      "members": {
        "IntervalInSeconds": {
          "documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300. This parameter is optional but if you specify a value for it, you must also specify a value for <code>SizeInMBs</code>, and vice versa.</p>",
          "shape": "IntervalInSeconds"
        },
        "SizeInMBs": {
          "documentation": "<p>Buffer incoming data to the specified size, in MiBs, before delivering it to the destination. The default value is 5. This parameter is optional but if you specify a value for it, you must also specify a value for <code>IntervalInSeconds</code>, and vice versa.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MiB/sec, the value should be 10 MiB or higher.</p>",
          "shape": "SizeInMBs"
        }
      },
      "type": "structure"
    },
    "CloudWatchLoggingOptions": {
      "documentation": "<p>Describes the Amazon CloudWatch logging options for your delivery stream.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Enables or disables CloudWatch logging.</p>",
          "shape": "BooleanObject"
        },
        "LogGroupName": {
          "documentation": "<p>The CloudWatch group name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "shape": "LogGroupName"
        },
        "LogStreamName": {
          "documentation": "<p>The CloudWatch log stream name for logging. This value is required if CloudWatch logging is enabled.</p>",
          "shape": "LogStreamName"
        }
      },
      "type": "structure"
    },
    "ClusterJDBCURL": {
      "min": 1,
      "pattern": "jdbc:(redshift|postgresql)://((?!-)[A-Za-z0-9-]{1,63}(?<!-)\\.)+redshift\\.([a-zA-Z0-9\\.]+):\\d{1,5}/[a-zA-Z0-9_$]+",
      "type": "string"
    },
    "ColumnToJsonKeyMappings": {
      "key": {
        "shape": "NonEmptyStringWithoutWhitespace"
      },
      "type": "map",
      "value": {
        "shape": "NonEmptyString"
      }
    },
    "CompressionFormat": {
      "enum": [
        "UNCOMPRESSED",
        "GZIP",
        "ZIP",
        "Snappy"
      ],
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Another modification has already happened. Fetch <code>VersionId</code> again and use it to update the destination.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A message that provides information about the error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CopyCommand": {
      "documentation": "<p>Describes a <code>COPY</code> command for Amazon Redshift.</p>",
      "members": {
        "CopyOptions": {
          "documentation": "<p>Optional parameters to use with the Amazon Redshift <code>COPY</code> command. For more information, see the \"Optional Parameters\" section of <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon Redshift COPY command</a>. Some possible examples that would apply to Kinesis Data Firehose are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p> <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p> <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code> - fields are fixed width in the source, with each width specified after every column in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is in JSON format, and the path specified is the format of the data.</p> <p>For more examples, see <a href=\"https://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon Redshift COPY command examples</a>.</p>",
          "shape": "CopyOptions"
        },
        "DataTableColumns": {
          "documentation": "<p>A comma-separated list of column names.</p>",
          "shape": "DataTableColumns"
        },
        "DataTableName": {
          "documentation": "<p>The name of the target table. The table must already exist in the database.</p>",
          "shape": "DataTableName"
        }
      },
      "required": [
        "DataTableName"
      ],
      "type": "structure"
    },
    "CopyOptions": {
      "type": "string"
    },
    "CreateDeliveryStreamInput": {
      "members": {
        "DeliveryStreamEncryptionConfigurationInput": {
          "documentation": "<p>Used to specify the type and Amazon Resource Name (ARN) of the KMS key needed for Server-Side Encryption (SSE).</p>",
          "shape": "DeliveryStreamEncryptionConfigurationInput"
        },
        "DeliveryStreamName": {
          "documentation": "<p>The name of the delivery stream. This name must be unique per AWS account in the same AWS Region. If the delivery streams are in different accounts or different Regions, you can have multiple delivery streams with the same name.</p>",
          "shape": "DeliveryStreamName"
        },
        "DeliveryStreamType": {
          "documentation": "<p>The delivery stream type. This parameter can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul>",
          "shape": "DeliveryStreamType"
        },
        "ElasticsearchDestinationConfiguration": {
          "documentation": "<p>The destination in Amazon ES. You can specify only one destination.</p>",
          "shape": "ElasticsearchDestinationConfiguration"
        },
        "ExtendedS3DestinationConfiguration": {
          "documentation": "<p>The destination in Amazon S3. You can specify only one destination.</p>",
          "shape": "ExtendedS3DestinationConfiguration"
        },
        "KinesisStreamSourceConfiguration": {
          "documentation": "<p>When a Kinesis data stream is used as the source for the delivery stream, a <a>KinesisStreamSourceConfiguration</a> containing the Kinesis data stream Amazon Resource Name (ARN) and the role ARN for the source stream.</p>",
          "shape": "KinesisStreamSourceConfiguration"
        },
        "RedshiftDestinationConfiguration": {
          "documentation": "<p>The destination in Amazon Redshift. You can specify only one destination.</p>",
          "shape": "RedshiftDestinationConfiguration"
        },
        "S3DestinationConfiguration": {
          "deprecated": true,
          "documentation": "<p>[Deprecated] The destination in Amazon S3. You can specify only one destination.</p>",
          "shape": "S3DestinationConfiguration"
        },
        "SplunkDestinationConfiguration": {
          "documentation": "<p>The destination in Splunk. You can specify only one destination.</p>",
          "shape": "SplunkDestinationConfiguration"
        },
        "Tags": {
          "documentation": "<p>A set of tags to assign to the delivery stream. A tag is a key-value pair that you can define and assign to AWS resources. Tags are metadata. For example, you can add friendly names and descriptions or other types of information that can help you distinguish the delivery stream. For more information about tags, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html\">Using Cost Allocation Tags</a> in the AWS Billing and Cost Management User Guide.</p> <p>You can specify up to 50 tags when creating a delivery stream.</p>",
          "shape": "TagDeliveryStreamInputTagList"
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "type": "structure"
    },
    "CreateDeliveryStreamOutput": {
      "members": {
        "DeliveryStreamARN": {
          "documentation": "<p>The ARN of the delivery stream.</p>",
          "shape": "DeliveryStreamARN"
        }
      },
      "type": "structure"
    },
    "Data": {
      "max": 1024000,
      "min": 0,
      "type": "blob"
    },
    "DataFormatConversionConfiguration": {
      "documentation": "<p>Specifies that you want Kinesis Data Firehose to convert data from the JSON format to the Parquet or ORC format before writing it to Amazon S3. Kinesis Data Firehose uses the serializer and deserializer that you specify, in addition to the column information from the AWS Glue table, to deserialize your input data from JSON and then serialize it to the Parquet or ORC format. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/record-format-conversion.html\">Kinesis Data Firehose Record Format Conversion</a>.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Defaults to <code>true</code>. Set it to <code>false</code> if you want to disable format conversion while preserving the configuration details.</p>",
          "shape": "BooleanObject"
        },
        "InputFormatConfiguration": {
          "documentation": "<p>Specifies the deserializer that you want Kinesis Data Firehose to use to convert the format of your data from JSON.</p>",
          "shape": "InputFormatConfiguration"
        },
        "OutputFormatConfiguration": {
          "documentation": "<p>Specifies the serializer that you want Kinesis Data Firehose to use to convert the format of your data to the Parquet or ORC format.</p>",
          "shape": "OutputFormatConfiguration"
        },
        "SchemaConfiguration": {
          "documentation": "<p>Specifies the AWS Glue Data Catalog table that contains the column information.</p>",
          "shape": "SchemaConfiguration"
        }
      },
      "type": "structure"
    },
    "DataTableColumns": {
      "type": "string"
    },
    "DataTableName": {
      "min": 1,
      "type": "string"
    },
    "DeleteDeliveryStreamInput": {
      "members": {
        "AllowForceDelete": {
          "documentation": "<p>Set this to true if you want to delete the delivery stream even if Kinesis Data Firehose is unable to retire the grant for the CMK. Kinesis Data Firehose might be unable to retire the grant due to a customer error, such as when the CMK or the grant are in an invalid state. If you force deletion, you can then use the <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_RevokeGrant.html\">RevokeGrant</a> operation to revoke the grant you gave to Kinesis Data Firehose. If a failure to retire the grant happens due to an AWS KMS issue, Kinesis Data Firehose keeps retrying the delete operation.</p> <p>The default value is false.</p>",
          "shape": "BooleanObject"
        },
        "DeliveryStreamName": {
          "documentation": "<p>The name of the delivery stream.</p>",
          "shape": "DeliveryStreamName"
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "type": "structure"
    },
    "DeleteDeliveryStreamOutput": {
      "members": {},
      "type": "structure"
    },
    "DeliveryStartTimestamp": {
      "type": "timestamp"
    },
    "DeliveryStreamARN": {
      "max": 512,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "DeliveryStreamDescription": {
      "documentation": "<p>Contains information about a delivery stream.</p>",
      "members": {
        "CreateTimestamp": {
          "documentation": "<p>The date and time that the delivery stream was created.</p>",
          "shape": "Timestamp"
        },
        "DeliveryStreamARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the delivery stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "DeliveryStreamARN"
        },
        "DeliveryStreamEncryptionConfiguration": {
          "documentation": "<p>Indicates the server-side encryption (SSE) status for the delivery stream.</p>",
          "shape": "DeliveryStreamEncryptionConfiguration"
        },
        "DeliveryStreamName": {
          "documentation": "<p>The name of the delivery stream.</p>",
          "shape": "DeliveryStreamName"
        },
        "DeliveryStreamStatus": {
          "documentation": "<p>The status of the delivery stream. If the status of a delivery stream is <code>CREATING_FAILED</code>, this status doesn't change, and you can't invoke <code>CreateDeliveryStream</code> again on it. However, you can invoke the <a>DeleteDeliveryStream</a> operation to delete it.</p>",
          "shape": "DeliveryStreamStatus"
        },
        "DeliveryStreamType": {
          "documentation": "<p>The delivery stream type. This can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul>",
          "shape": "DeliveryStreamType"
        },
        "Destinations": {
          "documentation": "<p>The destinations.</p>",
          "shape": "DestinationDescriptionList"
        },
        "FailureDescription": {
          "documentation": "<p>Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>",
          "shape": "FailureDescription"
        },
        "HasMoreDestinations": {
          "documentation": "<p>Indicates whether there are more destinations available to list.</p>",
          "shape": "BooleanObject"
        },
        "LastUpdateTimestamp": {
          "documentation": "<p>The date and time that the delivery stream was last updated.</p>",
          "shape": "Timestamp"
        },
        "Source": {
          "documentation": "<p>If the <code>DeliveryStreamType</code> parameter is <code>KinesisStreamAsSource</code>, a <a>SourceDescription</a> object describing the source Kinesis data stream.</p>",
          "shape": "SourceDescription"
        },
        "VersionId": {
          "documentation": "<p>Each time the destination is updated for a delivery stream, the version ID is changed, and the current version ID is required when updating the destination. This is so that the service knows it is applying the changes to the correct version of the delivery stream.</p>",
          "shape": "DeliveryStreamVersionId"
        }
      },
      "required": [
        "DeliveryStreamName",
        "DeliveryStreamARN",
        "DeliveryStreamStatus",
        "DeliveryStreamType",
        "VersionId",
        "Destinations",
        "HasMoreDestinations"
      ],
      "type": "structure"
    },
    "DeliveryStreamEncryptionConfiguration": {
      "documentation": "<p>Contains information about the server-side encryption (SSE) status for the delivery stream, the type customer master key (CMK) in use, if any, and the ARN of the CMK. You can get <code>DeliveryStreamEncryptionConfiguration</code> by invoking the <a>DescribeDeliveryStream</a> operation. </p>",
      "members": {
        "FailureDescription": {
          "documentation": "<p>Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>",
          "shape": "FailureDescription"
        },
        "KeyARN": {
          "documentation": "<p>If <code>KeyType</code> is <code>CUSTOMER_MANAGED_CMK</code>, this field contains the ARN of the customer managed CMK. If <code>KeyType</code> is <code>AWS_OWNED_CMK</code>, <code>DeliveryStreamEncryptionConfiguration</code> doesn't contain a value for <code>KeyARN</code>.</p>",
          "shape": "AWSKMSKeyARN"
        },
        "KeyType": {
          "documentation": "<p>Indicates the type of customer master key (CMK) that is used for encryption. The default setting is <code>AWS_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>.</p>",
          "shape": "KeyType"
        },
        "Status": {
          "documentation": "<p>This is the server-side encryption (SSE) status for the delivery stream. For a full description of the different values of this status, see <a>StartDeliveryStreamEncryption</a> and <a>StopDeliveryStreamEncryption</a>. If this status is <code>ENABLING_FAILED</code> or <code>DISABLING_FAILED</code>, it is the status of the most recent attempt to enable or disable SSE, respectively.</p>",
          "shape": "DeliveryStreamEncryptionStatus"
        }
      },
      "type": "structure"
    },
    "DeliveryStreamEncryptionConfigurationInput": {
      "documentation": "<p>Used to specify the type and Amazon Resource Name (ARN) of the CMK needed for Server-Side Encryption (SSE). </p>",
      "members": {
        "KeyARN": {
          "documentation": "<p>If you set <code>KeyType</code> to <code>CUSTOMER_MANAGED_CMK</code>, you must specify the Amazon Resource Name (ARN) of the CMK. If you set <code>KeyType</code> to <code>AWS_OWNED_CMK</code>, Kinesis Data Firehose uses a service-account CMK.</p>",
          "shape": "AWSKMSKeyARN"
        },
        "KeyType": {
          "documentation": "<p>Indicates the type of customer master key (CMK) to use for encryption. The default setting is <code>AWS_OWNED_CMK</code>. For more information about CMKs, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer Master Keys (CMKs)</a>. When you invoke <a>CreateDeliveryStream</a> or <a>StartDeliveryStreamEncryption</a> with <code>KeyType</code> set to CUSTOMER_MANAGED_CMK, Kinesis Data Firehose invokes the Amazon KMS operation <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_CreateGrant.html\">CreateGrant</a> to create a grant that allows the Kinesis Data Firehose service to use the customer managed CMK to perform encryption and decryption. Kinesis Data Firehose manages that grant. </p> <p>When you invoke <a>StartDeliveryStreamEncryption</a> to change the CMK for a delivery stream that is already encrypted with a customer managed CMK, Kinesis Data Firehose schedules the grant it had on the old CMK for retirement.</p>",
          "shape": "KeyType"
        }
      },
      "required": [
        "KeyType"
      ],
      "type": "structure"
    },
    "DeliveryStreamEncryptionStatus": {
      "enum": [
        "ENABLED",
        "ENABLING",
        "ENABLING_FAILED",
        "DISABLED",
        "DISABLING",
        "DISABLING_FAILED"
      ],
      "type": "string"
    },
    "DeliveryStreamFailureType": {
      "enum": [
        "RETIRE_KMS_GRANT_FAILED",
        "CREATE_KMS_GRANT_FAILED",
        "KMS_ACCESS_DENIED",
        "DISABLED_KMS_KEY",
        "INVALID_KMS_KEY",
        "KMS_KEY_NOT_FOUND",
        "KMS_OPT_IN_REQUIRED",
        "UNKNOWN_ERROR"
      ],
      "type": "string"
    },
    "DeliveryStreamName": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_.-]+",
      "type": "string"
    },
    "DeliveryStreamNameList": {
      "member": {
        "shape": "DeliveryStreamName"
      },
      "type": "list"
    },
    "DeliveryStreamStatus": {
      "enum": [
        "CREATING",
        "CREATING_FAILED",
        "DELETING",
        "DELETING_FAILED",
        "ACTIVE"
      ],
      "type": "string"
    },
    "DeliveryStreamType": {
      "enum": [
        "DirectPut",
        "KinesisStreamAsSource"
      ],
      "type": "string"
    },
    "DeliveryStreamVersionId": {
      "max": 50,
      "min": 1,
      "pattern": "[0-9]+",
      "type": "string"
    },
    "DescribeDeliveryStreamInput": {
      "members": {
        "DeliveryStreamName": {
          "documentation": "<p>The name of the delivery stream.</p>",
          "shape": "DeliveryStreamName"
        },
        "ExclusiveStartDestinationId": {
          "documentation": "<p>The ID of the destination to start returning the destination information. Kinesis Data Firehose supports one destination per delivery stream.</p>",
          "shape": "DestinationId"
        },
        "Limit": {
          "documentation": "<p>The limit on the number of destinations to return. You can have one destination per delivery stream.</p>",
          "shape": "DescribeDeliveryStreamInputLimit"
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "type": "structure"
    },
    "DescribeDeliveryStreamInputLimit": {
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "DescribeDeliveryStreamOutput": {
      "members": {
        "DeliveryStreamDescription": {
          "documentation": "<p>Information about the delivery stream.</p>",
          "shape": "DeliveryStreamDescription"
        }
      },
      "required": [
        "DeliveryStreamDescription"
      ],
      "type": "structure"
    },
    "Deserializer": {
      "documentation": "<p>The deserializer you want Kinesis Data Firehose to use for converting the input data from JSON. Kinesis Data Firehose then serializes the data to its final format using the <a>Serializer</a>. Kinesis Data Firehose supports two types of deserializers: the <a href=\"https://cwiki.apache.org/confluence/display/Hive/LanguageManual+DDL#LanguageManualDDL-JSON\">Apache Hive JSON SerDe</a> and the <a href=\"https://github.com/rcongiu/Hive-JSON-Serde\">OpenX JSON SerDe</a>.</p>",
      "members": {
        "HiveJsonSerDe": {
          "documentation": "<p>The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the OpenX SerDe.</p>",
          "shape": "HiveJsonSerDe"
        },
        "OpenXJsonSerDe": {
          "documentation": "<p>The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the native Hive / HCatalog JsonSerDe.</p>",
          "shape": "OpenXJsonSerDe"
        }
      },
      "type": "structure"
    },
    "DestinationDescription": {
      "documentation": "<p>Describes the destination for a delivery stream.</p>",
      "members": {
        "DestinationId": {
          "documentation": "<p>The ID of the destination.</p>",
          "shape": "DestinationId"
        },
        "ElasticsearchDestinationDescription": {
          "documentation": "<p>The destination in Amazon ES.</p>",
          "shape": "ElasticsearchDestinationDescription"
        },
        "ExtendedS3DestinationDescription": {
          "documentation": "<p>The destination in Amazon S3.</p>",
          "shape": "ExtendedS3DestinationDescription"
        },
        "RedshiftDestinationDescription": {
          "documentation": "<p>The destination in Amazon Redshift.</p>",
          "shape": "RedshiftDestinationDescription"
        },
        "S3DestinationDescription": {
          "documentation": "<p>[Deprecated] The destination in Amazon S3.</p>",
          "shape": "S3DestinationDescription"
        },
        "SplunkDestinationDescription": {
          "documentation": "<p>The destination in Splunk.</p>",
          "shape": "SplunkDestinationDescription"
        }
      },
      "required": [
        "DestinationId"
      ],
      "type": "structure"
    },
    "DestinationDescriptionList": {
      "member": {
        "shape": "DestinationDescription"
      },
      "type": "list"
    },
    "DestinationId": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "ElasticsearchBufferingHints": {
      "documentation": "<p>Describes the buffering to perform before delivering data to the Amazon ES destination.</p>",
      "members": {
        "IntervalInSeconds": {
          "documentation": "<p>Buffer incoming data for the specified period of time, in seconds, before delivering it to the destination. The default value is 300 (5 minutes).</p>",
          "shape": "ElasticsearchBufferingIntervalInSeconds"
        },
        "SizeInMBs": {
          "documentation": "<p>Buffer incoming data to the specified size, in MBs, before delivering it to the destination. The default value is 5.</p> <p>We recommend setting this parameter to a value greater than the amount of data you typically ingest into the delivery stream in 10 seconds. For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB or higher.</p>",
          "shape": "ElasticsearchBufferingSizeInMBs"
        }
      },
      "type": "structure"
    },
    "ElasticsearchBufferingIntervalInSeconds": {
      "max": 900,
      "min": 60,
      "type": "integer"
    },
    "ElasticsearchBufferingSizeInMBs": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ElasticsearchClusterEndpoint": {
      "max": 512,
      "min": 1,
      "pattern": "https:.*",
      "type": "string"
    },
    "ElasticsearchDestinationConfiguration": {
      "documentation": "<p>Describes the configuration of a destination in Amazon ES.</p>",
      "members": {
        "BufferingHints": {
          "documentation": "<p>The buffering options. If no value is specified, the default values for <code>ElasticsearchBufferingHints</code> are used.</p>",
          "shape": "ElasticsearchBufferingHints"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "ClusterEndpoint": {
          "documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field.</p>",
          "shape": "ElasticsearchClusterEndpoint"
        },
        "DomainARN": {
          "documentation": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions for\u00a0<code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\u00a0after assuming the role specified in <b>RoleARN</b>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>",
          "shape": "ElasticsearchDomainARN"
        },
        "IndexName": {
          "documentation": "<p>The Elasticsearch index name.</p>",
          "shape": "ElasticsearchIndexName"
        },
        "IndexRotationPeriod": {
          "documentation": "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to the <code>IndexName</code> to facilitate the expiration of old data. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the Amazon ES Destination</a>. The default value is\u00a0<code>OneDay</code>.</p>",
          "shape": "ElasticsearchIndexRotationPeriod"
        },
        "ProcessingConfiguration": {
          "documentation": "<p>The data processing configuration.</p>",
          "shape": "ProcessingConfiguration"
        },
        "RetryOptions": {
          "documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES. The default value is 300 (5 minutes).</p>",
          "shape": "ElasticsearchRetryOptions"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "RoleARN"
        },
        "S3BackupMode": {
          "documentation": "<p>Defines how documents should be delivered to Amazon S3. When it is set to <code>FailedDocumentsOnly</code>, Kinesis Data Firehose writes any documents that could not be indexed to the configured Amazon S3 destination, with <code>elasticsearch-failed/</code> appended to the key prefix. When set to <code>AllDocuments</code>, Kinesis Data Firehose delivers all incoming records to Amazon S3, and also writes failed documents with <code>elasticsearch-failed/</code> appended to the prefix. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon S3 Backup for the Amazon ES Destination</a>. Default value is <code>FailedDocumentsOnly</code>.</p>",
          "shape": "ElasticsearchS3BackupMode"
        },
        "S3Configuration": {
          "documentation": "<p>The configuration for the backup Amazon S3 location.</p>",
          "shape": "S3DestinationConfiguration"
        },
        "TypeName": {
          "documentation": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Kinesis Data Firehose returns an error during run time.</p> <p>For Elasticsearch 7.x, don't specify a <code>TypeName</code>.</p>",
          "shape": "ElasticsearchTypeName"
        }
      },
      "required": [
        "RoleARN",
        "IndexName",
        "S3Configuration"
      ],
      "type": "structure"
    },
    "ElasticsearchDestinationDescription": {
      "documentation": "<p>The destination description in Amazon ES.</p>",
      "members": {
        "BufferingHints": {
          "documentation": "<p>The buffering options.</p>",
          "shape": "ElasticsearchBufferingHints"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>The Amazon CloudWatch logging options.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "ClusterEndpoint": {
          "documentation": "<p>The endpoint to use when communicating with the cluster. Kinesis Data Firehose uses either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field to send data to Amazon ES.</p>",
          "shape": "ElasticsearchClusterEndpoint"
        },
        "DomainARN": {
          "documentation": "<p>The ARN of the Amazon ES domain. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> <p>Kinesis Data Firehose uses either <code>ClusterEndpoint</code> or <code>DomainARN</code> to send data to Amazon ES.</p>",
          "shape": "ElasticsearchDomainARN"
        },
        "IndexName": {
          "documentation": "<p>The Elasticsearch index name.</p>",
          "shape": "ElasticsearchIndexName"
        },
        "IndexRotationPeriod": {
          "documentation": "<p>The Elasticsearch index rotation period</p>",
          "shape": "ElasticsearchIndexRotationPeriod"
        },
        "ProcessingConfiguration": {
          "documentation": "<p>The data processing configuration.</p>",
          "shape": "ProcessingConfiguration"
        },
        "RetryOptions": {
          "documentation": "<p>The Amazon ES retry options.</p>",
          "shape": "ElasticsearchRetryOptions"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "RoleARN"
        },
        "S3BackupMode": {
          "documentation": "<p>The Amazon S3 backup mode.</p>",
          "shape": "ElasticsearchS3BackupMode"
        },
        "S3DestinationDescription": {
          "documentation": "<p>The Amazon S3 destination.</p>",
          "shape": "S3DestinationDescription"
        },
        "TypeName": {
          "documentation": "<p>The Elasticsearch type name. This applies to Elasticsearch 6.x and lower versions. For Elasticsearch 7.x, there's no value for <code>TypeName</code>.</p>",
          "shape": "ElasticsearchTypeName"
        }
      },
      "type": "structure"
    },
    "ElasticsearchDestinationUpdate": {
      "documentation": "<p>Describes an update for a destination in Amazon ES.</p>",
      "members": {
        "BufferingHints": {
          "documentation": "<p>The buffering options. If no value is specified, <code>ElasticsearchBufferingHints</code> object default values are used. </p>",
          "shape": "ElasticsearchBufferingHints"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>The CloudWatch logging options for your delivery stream.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "ClusterEndpoint": {
          "documentation": "<p>The endpoint to use when communicating with the cluster. Specify either this <code>ClusterEndpoint</code> or the <code>DomainARN</code> field.</p>",
          "shape": "ElasticsearchClusterEndpoint"
        },
        "DomainARN": {
          "documentation": "<p>The ARN of the Amazon ES domain. The IAM role must have permissions for\u00a0<code>DescribeElasticsearchDomain</code>, <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\u00a0after assuming the IAM role specified in <code>RoleARN</code>. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p> <p>Specify either <code>ClusterEndpoint</code> or <code>DomainARN</code>.</p>",
          "shape": "ElasticsearchDomainARN"
        },
        "IndexName": {
          "documentation": "<p>The Elasticsearch index name.</p>",
          "shape": "ElasticsearchIndexName"
        },
        "IndexRotationPeriod": {
          "documentation": "<p>The Elasticsearch index rotation period. Index rotation appends a timestamp to <code>IndexName</code> to facilitate the expiration of old data. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index Rotation for the Amazon ES Destination</a>. Default value is\u00a0<code>OneDay</code>.</p>",
          "shape": "ElasticsearchIndexRotationPeriod"
        },
        "ProcessingConfiguration": {
          "documentation": "<p>The data processing configuration.</p>",
          "shape": "ProcessingConfiguration"
        },
        "RetryOptions": {
          "documentation": "<p>The retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES. The default value is 300 (5 minutes).</p>",
          "shape": "ElasticsearchRetryOptions"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role to be assumed by Kinesis Data Firehose for calling the Amazon ES Configuration API and for indexing documents. For more information, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Grant Kinesis Data Firehose Access to an Amazon S3 Destination</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "RoleARN"
        },
        "S3Update": {
          "documentation": "<p>The Amazon S3 destination.</p>",
          "shape": "S3DestinationUpdate"
        },
        "TypeName": {
          "documentation": "<p>The Elasticsearch type name. For Elasticsearch 6.x, there can be only one type per index. If you try to specify a new type for an existing index that already has another type, Kinesis Data Firehose returns an error during runtime.</p> <p>If you upgrade Elasticsearch from 6.x to 7.x and don\u2019t update your delivery stream, Kinesis Data Firehose still delivers data to Elasticsearch with the old index name and type name. If you want to update your delivery stream with a new index name, provide an empty string for <code>TypeName</code>. </p>",
          "shape": "ElasticsearchTypeName"
        }
      },
      "type": "structure"
    },
    "ElasticsearchDomainARN": {
      "max": 512,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "ElasticsearchIndexName": {
      "max": 80,
      "min": 1,
      "type": "string"
    },
    "ElasticsearchIndexRotationPeriod": {
      "enum": [
        "NoRotation",
        "OneHour",
        "OneDay",
        "OneWeek",
        "OneMonth"
      ],
      "type": "string"
    },
    "ElasticsearchRetryDurationInSeconds": {
      "max": 7200,
      "min": 0,
      "type": "integer"
    },
    "ElasticsearchRetryOptions": {
      "documentation": "<p>Configures retry behavior in case Kinesis Data Firehose is unable to deliver documents to Amazon ES.</p>",
      "members": {
        "DurationInSeconds": {
          "documentation": "<p>After an initial failure to deliver to Amazon ES, the total amount of time during which Kinesis Data Firehose retries delivery (including the first attempt). After this time has elapsed, the failed documents are written to Amazon S3. Default value is 300 seconds (5 minutes). A value of 0 (zero) results in no retries.</p>",
          "shape": "ElasticsearchRetryDurationInSeconds"
        }
      },
      "type": "structure"
    },
    "ElasticsearchS3BackupMode": {
      "enum": [
        "FailedDocumentsOnly",
        "AllDocuments"
      ],
      "type": "string"
    },
    "ElasticsearchTypeName": {
      "max": 100,
      "min": 0,
      "type": "string"
    },
    "EncryptionConfiguration": {
      "documentation": "<p>Describes the encryption for a destination in Amazon S3.</p>",
      "members": {
        "KMSEncryptionConfig": {
          "documentation": "<p>The encryption key.</p>",
          "shape": "KMSEncryptionConfig"
        },
        "NoEncryptionConfig": {
          "documentation": "<p>Specifically override existing encryption information to ensure that no encryption is used.</p>",
          "shape": "NoEncryptionConfig"
        }
      },
      "type": "structure"
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorOutputPrefix": {
      "type": "string"
    },
    "ExtendedS3DestinationConfiguration": {
      "documentation": "<p>Describes the configuration of a destination in Amazon S3.</p>",
      "members": {
        "BucketARN": {
          "documentation": "<p>The ARN of the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "BucketARN"
        },
        "BufferingHints": {
          "documentation": "<p>The buffering option.</p>",
          "shape": "BufferingHints"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "CompressionFormat": {
          "documentation": "<p>The compression format. If no value is specified, the default is UNCOMPRESSED.</p>",
          "shape": "CompressionFormat"
        },
        "DataFormatConversionConfiguration": {
          "documentation": "<p>The serializer, deserializer, and schema for converting data from the JSON format to the Parquet or ORC format before writing it to Amazon S3.</p>",
          "shape": "DataFormatConversionConfiguration"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>The encryption configuration. If no value is specified, the default is no encryption.</p>",
          "shape": "EncryptionConfiguration"
        },
        "ErrorOutputPrefix": {
          "documentation": "<p>A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing them to S3. This prefix appears immediately following the bucket name. For information about how to specify this prefix, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>",
          "shape": "ErrorOutputPrefix"
        },
        "Prefix": {
          "documentation": "<p>The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered Amazon S3 files. You can also specify a custom prefix, as described in <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>",
          "shape": "Prefix"
        },
        "ProcessingConfiguration": {
          "documentation": "<p>The data processing configuration.</p>",
          "shape": "ProcessingConfiguration"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "RoleARN"
        },
        "S3BackupConfiguration": {
          "documentation": "<p>The configuration for backup in Amazon S3.</p>",
          "shape": "S3DestinationConfiguration"
        },
        "S3BackupMode": {
          "documentation": "<p>The Amazon S3 backup mode.</p>",
          "shape": "S3BackupMode"
        }
      },
      "required": [
        "RoleARN",
        "BucketARN"
      ],
      "type": "structure"
    },
    "ExtendedS3DestinationDescription": {
      "documentation": "<p>Describes a destination in Amazon S3.</p>",
      "members": {
        "BucketARN": {
          "documentation": "<p>The ARN of the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "BucketARN"
        },
        "BufferingHints": {
          "documentation": "<p>The buffering option.</p>",
          "shape": "BufferingHints"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "CompressionFormat": {
          "documentation": "<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p>",
          "shape": "CompressionFormat"
        },
        "DataFormatConversionConfiguration": {
          "documentation": "<p>The serializer, deserializer, and schema for converting data from the JSON format to the Parquet or ORC format before writing it to Amazon S3.</p>",
          "shape": "DataFormatConversionConfiguration"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>The encryption configuration. If no value is specified, the default is no encryption.</p>",
          "shape": "EncryptionConfiguration"
        },
        "ErrorOutputPrefix": {
          "documentation": "<p>A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing them to S3. This prefix appears immediately following the bucket name. For information about how to specify this prefix, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>",
          "shape": "ErrorOutputPrefix"
        },
        "Prefix": {
          "documentation": "<p>The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered Amazon S3 files. You can also specify a custom prefix, as described in <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>",
          "shape": "Prefix"
        },
        "ProcessingConfiguration": {
          "documentation": "<p>The data processing configuration.</p>",
          "shape": "ProcessingConfiguration"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "RoleARN"
        },
        "S3BackupDescription": {
          "documentation": "<p>The configuration for backup in Amazon S3.</p>",
          "shape": "S3DestinationDescription"
        },
        "S3BackupMode": {
          "documentation": "<p>The Amazon S3 backup mode.</p>",
          "shape": "S3BackupMode"
        }
      },
      "required": [
        "RoleARN",
        "BucketARN",
        "BufferingHints",
        "CompressionFormat",
        "EncryptionConfiguration"
      ],
      "type": "structure"
    },
    "ExtendedS3DestinationUpdate": {
      "documentation": "<p>Describes an update for a destination in Amazon S3.</p>",
      "members": {
        "BucketARN": {
          "documentation": "<p>The ARN of the S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "BucketARN"
        },
        "BufferingHints": {
          "documentation": "<p>The buffering option.</p>",
          "shape": "BufferingHints"
        },
        "CloudWatchLoggingOptions": {
          "documentation": "<p>The Amazon CloudWatch logging options for your delivery stream.</p>",
          "shape": "CloudWatchLoggingOptions"
        },
        "CompressionFormat": {
          "documentation": "<p>The compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>. </p>",
          "shape": "CompressionFormat"
        },
        "DataFormatConversionConfiguration": {
          "documentation": "<p>The serializer, deserializer, and schema for converting data from the JSON format to the Parquet or ORC format before writing it to Amazon S3.</p>",
          "shape": "DataFormatConversionConfiguration"
        },
        "EncryptionConfiguration": {
          "documentation": "<p>The encryption configuration. If no value is specified, the default is no encryption.</p>",
          "shape": "EncryptionConfiguration"
        },
        "ErrorOutputPrefix": {
          "documentation": "<p>A prefix that Kinesis Data Firehose evaluates and adds to failed records before writing them to S3. This prefix appears immediately following the bucket name. For information about how to specify this prefix, see <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>",
          "shape": "ErrorOutputPrefix"
        },
        "Prefix": {
          "documentation": "<p>The \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered Amazon S3 files. You can also specify a custom prefix, as described in <a href=\"https://docs.aws.amazon.com/firehose/latest/dev/s3-prefixes.html\">Custom Prefixes for Amazon S3 Objects</a>.</p>",
          "shape": "Prefix"
        },
        "ProcessingConfiguration": {
          "documentation": "<p>The data processing configuration.</p>",
          "shape": "ProcessingConfiguration"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS credentials. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "RoleARN"
        },
        "S3BackupMode": {
          "documentation": "<p>Enables or disables Amazon S3 backup mode.</p>",
          "shape": "S3BackupMode"
        },
        "S3BackupUpdate": {
          "documentation": "<p>The Amazon S3 destination for backup.</p>",
          "shape": "S3DestinationUpdate"
        }
      },
      "type": "structure"
    },
    "FailureDescription": {
      "documentation": "<p>Provides details in case one of the following operations fails due to an error related to KMS: <a>CreateDeliveryStream</a>, <a>DeleteDeliveryStream</a>, <a>StartDeliveryStreamEncryption</a>, <a>StopDeliveryStreamEncryption</a>.</p>",
      "members": {
        "Details": {
          "documentation": "<p>A message providing details about the error that caused the failure.</p>",
          "shape": "NonEmptyString"
        },
        "Type": {
          "documentation": "<p>The type of error that caused the failure.</p>",
          "shape": "DeliveryStreamFailureType"
        }
      },
      "required": [
        "Type",
        "Details"
      ],
      "type": "structure"
    },
    "HECAcknowledgmentTimeoutInSeconds": {
      "max": 600,
      "min": 180,
      "type": "integer"
    },
    "HECEndpoint": {
      "type": "string"
    },
    "HECEndpointType": {
      "enum": [
        "Raw",
        "Event"
      ],
      "type": "string"
    },
    "HECToken": {
      "type": "string"
    },
    "HiveJsonSerDe": {
      "documentation": "<p>The native Hive / HCatalog JsonSerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the OpenX SerDe.</p>",
      "members": {
        "TimestampFormats": {
          "documentation": "<p>Indicates how you want Kinesis Data Firehose to parse the date and timestamps that may be present in your input data JSON. To specify these format strings, follow the pattern syntax of JodaTime's DateTimeFormat format strings. For more information, see <a href=\"https://www.joda.org/joda-time/apidocs/org/joda/time/format/DateTimeFormat.html\">Class DateTimeFormat</a>. You can also use the special value <code>millis</code> to parse timestamps in epoch milliseconds. If you don't specify a format, Kinesis Data Firehose uses <code>java.sql.Timestamp::valueOf</code> by default.</p>",
          "shape": "ListOfNonEmptyStrings"
        }
      },
      "type": "structure"
    },
    "InputFormatConfiguration": {
      "documentation": "<p>Specifies the deserializer you want to use to convert the format of the input data.</p>",
      "members": {
        "Deserializer": {
          "documentation": "<p>Specifies which deserializer to use. You can choose either the Apache Hive JSON SerDe or the OpenX JSON SerDe. If both are non-null, the server rejects the request.</p>",
          "shape": "Deserializer"
        }
      },
      "type": "structure"
    },
    "IntervalInSeconds": {
      "max": 900,
      "min": 60,
      "type": "integer"
    },
    "InvalidArgumentException": {
      "documentation": "<p>The specified input parameter has a value that is not valid.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A message that provides information about the error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidKMSResourceException": {
      "documentation": "<p>Kinesis Data Firehose throws this exception when an attempt to put records or to start or stop delivery stream encryption fails. This happens when the KMS service throws one of the following exception types: <code>AccessDeniedException</code>, <code>InvalidStateException</code>, <code>DisabledException</code>, or <code>NotFoundException</code>.</p>",
      "exception": true,
      "members": {
        "code": {
          "shape": "ErrorCode"
        },
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "KMSEncryptionConfig": {
      "documentation": "<p>Describes an encryption key for a destination in Amazon S3.</p>",
      "members": {
        "AWSKMSKeyARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the encryption key. Must belong to the same AWS Region as the destination Amazon S3 bucket. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon Resource Names (ARNs) and AWS Service Namespaces</a>.</p>",
          "shape": "AWSKMSKeyARN"
        }
      },
      "required": [
        "AWSKMSKeyARN"
      ],
      "type": "structure"
    },
    "KeyType": {
      "enum": [
        "AWS_OWNED_CMK",
        "CUSTOMER_MANAGED_CMK"
      ],
      "type": "string"
    },
    "KinesisStreamARN": {
      "max": 512,
      "min": 1,
      "pattern": "arn:.*",
      "type": "string"
    },
    "KinesisStreamSourceConfiguration": {
      "documentation": "<p>The stream and role Amazon Resource Names (ARNs) for a Kinesis data stream used as the source for a delivery stream.</p>",
      "members": {
        "KinesisStreamARN": {
          "documentation": "<p>The ARN of the source Kinesis data stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Kinesis Data Streams ARN Format</a>.</p>",
          "shape": "KinesisStreamARN"
        },
        "RoleARN": {
          "documentation": "<p>The ARN of the role that provides access to the source Kinesis data stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM) ARN Format</a>.</p>",
          "shape": "RoleARN"
        }
      },
      "required": [
        "KinesisStreamARN",
        "RoleARN"
      ],
      "type": "structure"
    },
    "KinesisStreamSourceDescription": {
      "documentation": "<p>Details about a Kinesis data stream used as the source for a Kinesis Data Firehose delivery stream.</p>",
      "members": {
        "DeliveryStartTimestamp": {
          "documentation": "<p>Kinesis Data Firehose starts retrieving records from the Kinesis data stream starting with this timestamp.</p>",
          "shape": "DeliveryStartTimestamp"
        },
        "KinesisStreamARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source Kinesis data stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kinesis-streams\">Amazon Kinesis Data Streams ARN Format</a>.</p>",
          "shape": "KinesisStreamARN"
        },
        "RoleARN": {
          "documentation": "<p>The ARN of the role used by the source Kinesis data stream. For more information, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS Identity and Access Management (IAM) ARN Format</a>.</p>",
          "shape": "RoleARN"
        }
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>You have already reached the limit for a requested resource.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A message that provides information about the error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListDeliveryStreamsInput": {
      "members": {
        "DeliveryStreamType": {
          "documentation": "<p>The delivery stream type. This can be one of the following values:</p> <ul> <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis data stream as a source.</p> </li> </ul> <p>This parameter is optional. If this parameter is omitted, delivery streams of all types are returned.</p>",
          "shape": "DeliveryStreamType"
        },
        "ExclusiveStartDeliveryStreamName": {
          "documentation": "<p>The list of delivery streams returned by this call to <code>ListDeliveryStreams</code> will start with the delivery stream whose name comes alphabetically immediately after the name you specify in <code>ExclusiveStartDeliveryStreamName</code>.</p>",
          "shape": "DeliveryStreamName"
        },
        "Limit": {
          "documentation": "<p>The maximum number of delivery streams to list. The default value is 10.</p>",
          "shape": "ListDeliveryStreamsInputLimit"
        }
      },
      "type": "structure"
    },
    "ListDeliveryStreamsInputLimit": {
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "ListDeliveryStreamsOutput": {
      "members": {
        "DeliveryStreamNames": {
          "documentation": "<p>The names of the delivery streams.</p>",
          "shape": "DeliveryStreamNameList"
        },
        "HasMoreDeliveryStreams": {
          "documentation": "<p>Indicates whether there are more delivery streams available to list.</p>",
          "shape": "BooleanObject"
        }
      },
      "required": [
        "DeliveryStreamNames",
        "HasMoreDeliveryStreams"
      ],
      "type": "structure"
    },
    "ListOfNonEmptyStrings": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "ListOfNonEmptyStringsWithoutWhitespace": {
      "member": {
        "shape": "NonEmptyStringWithoutWhitespace"
      },
      "type": "list"
    },
    "ListTagsForDeliveryStreamInput": {
      "members": {
        "DeliveryStreamName": {
          "documentation": "<p>The name of the delivery stream whose tags you want to list.</p>",
          "shape": "DeliveryStreamName"
        },
        "ExclusiveStartTagKey": {
          "documentation": "<p>The key to use as the starting point for the list of tags. If you set this parameter, <code>ListTagsForDeliveryStream</code> gets all tags that occur after <code>ExclusiveStartTagKey</code>.</p>",
          "shape": "TagKey"
        },
        "Limit": {
          "documentation": "<p>The number of tags to return. If this number is less than the total number of tags associated with the delivery stream, <code>HasMoreTags</code> is set to <code>true</code> in the response. To list additional tags, set <code>ExclusiveStartTagKey</code> to the last key in the response. </p>",
          "shape": "ListTagsForDeliveryStreamInputLimit"
        }
      },
      "required": [
        "DeliveryStreamName"
      ],
      "type": "structure"
    },
    "ListTagsForDeliveryStreamInputLimit": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "ListTagsForDeliveryStreamOutput": {
      "members": {
        "HasMoreTags": {
          "documentation": "<p>If this is <code>true</code> in the response, more tags are available. To list the remaining tags, set <code>ExclusiveStartTagKey</code> to the key of the last tag returned and call <code>ListTagsForDeliveryStream</code> again.</p>",
          "shape": "BooleanObject"
        },
        "Tags": {
          "documentation": "<p>A list of tags associated with <code>DeliveryStreamName</code>, starting with the first tag after <code>ExclusiveStartTagKey</code> and up to the specified <code>Limit</code>.</p>",
          "shape": "ListTagsForDeliveryStreamOutputTagList"
        }
      },
      "required": [
        "Tags",
        "HasMoreTags"
      ],
      "type": "structure"
    },
    "ListTagsForDeliveryStreamOutputTagList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "LogGroupName": {
      "type": "string"
    },
    "LogStreamName": {
      "type": "string"
    },
    "NoEncryptionConfig": {
      "enum": [
        "NoEncryption"
      ],
      "type": "string"
    },
    "NonEmptyString": {
      "pattern": "^(?!\\s*$).+",
      "type": "string"
    },
    "NonEmptyStringWithoutWhitespace": {
      "pattern": "^\\S+$",
      "type": "string"
    },
    "NonNegativeIntegerObject": {
      "min": 0,
      "type": "integer"
    },
    "OpenXJsonSerDe": {
      "documentation": "<p>The OpenX SerDe. Used by Kinesis Data Firehose for deserializing data, which means converting it from the JSON format in preparation for serializing it to the Parquet or ORC format. This is one of two deserializers you can choose, depending on which one offers the functionality you need. The other option is the native Hive / HCatalog JsonSerDe.</p>",
      "members": {
        "CaseInsensitive": {
          "documentation": "<p>When set to <code>true</code>, which is the default, Kinesis Data Firehose converts JSON keys to lowercase before deserializing them.</p>",
          "shape": "BooleanObject"
        },
        "ColumnToJsonKeyMappings": {
          "documentation": "<p>Maps column names to JSON keys that aren't identical to the column names. This is useful when the JSON contains keys that are Hive keywords. For example, <code>timestamp</code> is a Hive keyword. If you have a JSON key named <code>timestamp</code>, set this parameter to <code>{\"ts\": \"timestamp\"}</code> to map this key to a column named <code>ts</code>.</p>",
          "shape": "ColumnToJsonKeyMappings"
        },
        "ConvertDotsInJsonKeysToUnderscores": {
          "documentation": "<p>When set to <code>true</code>, specifies that the names of the keys include dots and that you want Kinesis Data Firehose to replace them with underscores. This is useful because Apache Hive does not allow dots in column names. For example, if the JSON contains a key whose name is \"a.b\", you can define the column name to be \"a_b\" when using this option.</p> <p>The default is <code>false</code>.</p>",
          "shape": "BooleanObject"
        }
      },
      "type": "structure"
    },
    "OrcCompression": {
      "enum": [
        "NONE",
        "ZLIB",
        "SNAPPY"
      ],
      "type": "string"
    },
    "OrcFormatVersion": {
      "enum": [
        "V0_11",
        "V0_12"
      ],
      "type": "string"
    },
    "OrcRowIndexStride": {
      "min": 1000,
      "type": "integer"
    },
    "OrcSerDe": {
      "documentation": "<p>A serializer to use for converting data to the ORC format before storing it in Amazon S3. For more information, see <a href=\"https://orc.apache.org/docs/\">Apache ORC</a>.</p>",
      "members": {
        "BlockSizeBytes": {
          "documentation": "<p>The Hadoop Distributed File System (HDFS) block size. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is 256 MiB and the minimum is 64 MiB. Kinesis Data Firehose uses this value for padding calculations.</p>",
          "shape": "BlockSizeBytes"
        },
        "BloomFilterColumns": {
          "documentation": "<p>The column names for which you want Kinesis Data Firehose to create bloom filters. The default is <code>null</code>.</p>",
          "shape": "ListOfNonEmptyStringsWithoutWhitespace"
        },
        "BloomFilterFalsePositiveProbability": {
          "documentation": "<p>The Bloom filter false positive probability (FPP). The lower the FPP, the bigger the Bloom filter. The default value is 0.05, the minimum is 0, and the maximum is 1.</p>",
          "shape": "Proportion"
        },
        "Compression": {
          "documentation": "<p>The compression code to use over data blocks. The default is <code>SNAPPY</code>.</p>",
          "shape": "OrcCompression"
        },
        "DictionaryKeyThreshold": {
          "documentation": "<p>Represents the fraction of the total number of non-null rows. To turn off dictionary encoding, set this fraction to a number that is less than the number of distinct keys in a dictionary. To always use dictionary encoding, set this threshold to 1.</p>",
          "shape": "Proportion"
        },
        "EnablePadding": {
          "documentation": "<p>Set this to <code>true</code> to indicate that you want stripes to be padded to the HDFS block boundaries. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is <code>false</code>.</p>",
          "shape": "BooleanObject"
        },
        "FormatVersion": {
          "documentation": "<p>The version of the file to write. The possible values are <code>V0_11</code> and <code>V0_12</code>. The default is <code>V0_12</code>.</p>",
          "shape": "OrcFormatVersion"
        },
        "PaddingTolerance": {
          "documentation": "<p>A number between 0 and 1 that defines the tolerance for block padding as a decimal fraction of stripe size. The default value is 0.05, which means 5 percent of stripe size.</p> <p>For the default values of 64 MiB ORC stripes and 256 MiB HDFS blocks, the default block padding tolerance of 5 percent reserves a maximum of 3.2 MiB for padding within the 256 MiB block. In such a case, if the available size within the block is more than 3.2 MiB, a new, smaller stripe is inserted to fit within that space. This ensures that no stripe crosses block boundaries and causes remote reads within a node-local task.</p> <p>Kinesis Data Firehose ignores this parameter when <a>OrcSerDe$EnablePadding</a> is <code>false</code>.</p>",
          "shape": "Proportion"
        },
        "RowIndexStride": {
          "documentation": "<p>The number of rows between index entries. The default is 10,000 and the minimum is 1,000.</p>",
          "shape": "OrcRowIndexStride"
        },
        "StripeSizeBytes": {
          "documentation": "<p>The number of bytes in each stripe. The default is 64 MiB and the minimum is 8 MiB.</p>",
          "shape": "OrcStripeSizeBytes"
        }
      },
      "type": "structure"
    },
    "OrcStripeSizeBytes": {
      "min": 8388608,
      "type": "integer"
    },
    "OutputFormatConfiguration": {
      "documentation": "<p>Specifies the serializer that you want Kinesis Data Firehose to use to convert the format of your data before it writes it to Amazon S3.</p>",
      "members": {
        "Serializer": {
          "documentation": "<p>Specifies which serializer to use. You can choose either the ORC SerDe or the Parquet SerDe. If both are non-null, the server rejects the request.</p>",
          "shape": "Serializer"
        }
      },
      "type": "structure"
    },
    "ParquetCompression": {
      "enum": [
        "UNCOMPRESSED",
        "GZIP",
        "SNAPPY"
      ],
      "type": "string"
    },
    "ParquetPageSizeBytes": {
      "min": 65536,
      "type": "integer"
    },
    "ParquetSerDe": {
      "documentation": "<p>A serializer to use for converting data to the Parquet format before storing it in Amazon S3. For more information, see <a href=\"https://parquet.apache.org/documentation/latest/\">Apache Parquet</a>.</p>",
      "members": {
        "BlockSizeBytes": {
          "documentation": "<p>The Hadoop Distributed File System (HDFS) block size. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is 256 MiB and the minimum is 64 MiB. Kinesis Data Firehose uses this value for padding calculations.</p>",
          "shape": "BlockSizeBytes"
        },
        "Compression": {
          "documentation": "<p>The compression code to use over data blocks. The possible values are <code>UNCOMPRESSED</code>, <code>SNAPPY</code>, and <code>GZIP</code>, with the default being <code>SNAPPY</code>. Use <code>SNAPPY</code> for higher decompression speed. Use <code>GZIP</code> if the compression ratio is more important than speed.</p>",
          "shape": "ParquetCompression"
        },
        "EnableDictionaryCompression": {
          "documentation": "<p>Indicates whether to enable dictionary compression.</p>",
          "shape": "BooleanObject"
        },
        "MaxPaddingBytes": {
          "documentation": "<p>The maximum amount of padding to apply. This is useful if you intend to copy the data from Amazon S3 to HDFS before querying. The default is 0.</p>",
          "shape": "NonNegativeIntegerObject"
        },
        "PageSizeBytes": {
          "documentation": "<p>The Parquet page size. Column chunks are divided into pages. A page is conceptually an indivisible unit (in terms of compression and encoding). The minimum value is 64 KiB and the default is 1 MiB.</p>",
          "shape": "ParquetPageSizeBytes"
        },
        "WriterVersion": {
          "documentation": "<p>Indicates the version of row format to output. The possible values are <code>V1</code> and <code>V2</code>. The default is <code>V1</code>.</p>",
          "shape": "ParquetWriterVersion"
        }
      },
      "type": "structure"
    },
    "ParquetWriterVersion": {
      "enum": [
        "V1",
        "V2"
      ],
      "type": "string"
    },
    "Password": {
      "min": 6,
      "sensitive": true,
      "type": "string"
    },
    "Prefix": {
      "type": "string"
    },
    "ProcessingConfiguration": {
      "documentation": "<p>Describes a data processing configuration.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Enables or disables data processing.</p>",
          "shape": "BooleanObject"
        },
        "Processors": {
          "documentation": "<p>The data processors.</p>",
          "shape": "ProcessorList"
        }
      },
      "type": "structure"
    },
    "Processor": {
      "documentation": "<p>Describes a data processor.</p>",
      "members": {
        "Parameters": {
          "documentation": "<p>The processor parameters.</p>",
          "shape": "ProcessorParameterList"
        },
        "Type": {
          "documentation": "<p>The type of processor.</p>",
          "shape": "ProcessorType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "ProcessorList": {
      "member": {
        "shape": "Processor"
      },
      "type": "list"
    },
    "ProcessorParameter": {
      "documentation": "<p>Describes the processor parameter.</p>",
      "members": {
        "ParameterName": {
          "documentation": "<p>The name of the parameter.</p>",
          "shape": "ProcessorParameterName"
        },
        "ParameterValue": {
          "documentation": "<p>The parameter value.</p>",
          "shape": "ProcessorParameterValue"
        }
      },
      "required": [
        "ParameterName",
        "ParameterValue"
      ],
      "type": "structure"
    },
    "ProcessorParameterList": {
      "member": {
        "shape": "ProcessorParameter"
      },
      "type": "list"
    },
    "ProcessorParameterName": {
      "enum": [
        "LambdaArn",
        "NumberOfRetries",
        "RoleArn",
        "BufferSizeInMBs",
        "BufferIntervalInSeconds"
      ],
      "type": "string"
    },
    "ProcessorParameterValue": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "ProcessorType": {
      "enum": [
        "Lambda"
      ],
      "type": "string"
    },
[...]
