{
  "documentation": "<fullname>AWS Support</fullname> <p>The AWS Support API reference is intended for programmers who need detailed information about the AWS Support operations and data types. This service enables you to manage your AWS Support cases programmatically. It uses HTTP methods that return results in JSON format.</p> <p>The AWS Support service also exposes a set of <a href=\"http://aws.amazon.com/premiumsupport/trustedadvisor/\">Trusted Advisor</a> features. You can retrieve a list of checks and their descriptions, get check results, specify checks to refresh, and get the refresh status of checks.</p> <p>The following list describes the AWS Support case management operations:</p> <ul> <li> <p> <b>Service names, issue categories, and available severity levels. </b>The <a>DescribeServices</a> and <a>DescribeSeverityLevels</a> operations return AWS service names, service codes, service categories, and problem severity levels. You use these values when you call the <a>CreateCase</a> operation.</p> </li> <li> <p> <b>Case creation, case details, and case resolution.</b> The <a>CreateCase</a>, <a>DescribeCases</a>, <a>DescribeAttachment</a>, and <a>ResolveCase</a> operations create AWS Support cases, retrieve information about cases, and resolve cases.</p> </li> <li> <p> <b>Case communication.</b> The <a>DescribeCommunications</a>, <a>AddCommunicationToCase</a>, and <a>AddAttachmentsToSet</a> operations retrieve and add communications and attachments to AWS Support cases.</p> </li> </ul> <p>The following list describes the operations available from the AWS Support service for Trusted Advisor:</p> <ul> <li> <p> <a>DescribeTrustedAdvisorChecks</a> returns the list of checks that run against your AWS resources.</p> </li> <li> <p>Using the <code>checkId</code> for a specific check returned by <a>DescribeTrustedAdvisorChecks</a>, you can call <a>DescribeTrustedAdvisorCheckResult</a> to obtain the results for the check you specified.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckSummaries</a> returns summarized results for one or more Trusted Advisor checks.</p> </li> <li> <p> <a>RefreshTrustedAdvisorCheck</a> requests that Trusted Advisor rerun a specified check.</p> </li> <li> <p> <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> reports the refresh status of one or more checks.</p> </li> </ul> <p>For authentication of requests, AWS Support uses <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>.</p> <p>See <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/Welcome.html\">About the AWS Support API</a> in the <i>AWS Support User Guide</i> for information about how to use this service to create and manage your support cases, and how to call Trusted Advisor for results of checks on your resources.</p>",
  "metadata": {
    "apiVersion": "2013-04-15",
    "endpointPrefix": "support",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Support",
    "serviceId": "Support",
    "signatureVersion": "v4",
    "targetPrefix": "AWSSupport_20130415",
    "uid": "support-2013-04-15"
  },
  "operations": {
    "AddAttachmentsToSet": {
      "documentation": "<p>Adds one or more attachments to an attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p> <p>An attachment set is a temporary container for attachments that are to be added to a case or case communication. The set is available for one hour after it is created; the <code>expiryTime</code> returned in the response indicates when the set expires. The maximum number of attachments in a set is 3, and the maximum size of any attachment in the set is 5 MB.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "AttachmentSetIdNotFound"
        },
        {
          "shape": "AttachmentSetExpired"
        },
        {
          "shape": "AttachmentSetSizeLimitExceeded"
        },
        {
          "shape": "AttachmentLimitExceeded"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddAttachmentsToSetRequest"
      },
      "name": "AddAttachmentsToSet",
      "output": {
        "shape": "AddAttachmentsToSetResponse"
      }
    },
    "AddCommunicationToCase": {
      "documentation": "<p>Adds additional customer communication to an AWS Support case. You use the <code>caseId</code> value to identify the case to add communication to. You can list a set of email addresses to copy on the communication using the <code>ccEmailAddresses</code> value. The <code>communicationBody</code> value contains the text of the communication.</p> <p>The response indicates the success or failure of the request.</p> <p>This operation implements a subset of the features of the AWS Support Center.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "CaseIdNotFound"
        },
        {
          "shape": "AttachmentSetIdNotFound"
        },
        {
          "shape": "AttachmentSetExpired"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddCommunicationToCaseRequest"
      },
      "name": "AddCommunicationToCase",
      "output": {
        "shape": "AddCommunicationToCaseResponse"
      }
    },
    "CreateCase": {
      "documentation": "<p>Creates a new case in the AWS Support Center. This operation is modeled on the behavior of the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. Its parameters require you to specify the following information:</p> <ul> <li> <p> <b>issueType.</b> The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\"</p> <note> <p>Service limit increases are not supported by the Support API; you must submit service limit increase requests in <a href=\"https://console.aws.amazon.com/support\">Support Center</a>.</p> <p>The <code>caseId</code> is not the <code>displayId</code> that appears in <a href=\"https://console.aws.amazon.com/support\">Support Center</a>. You can use the <a>DescribeCases</a> API to get the <code>displayId</code>.</p> </note> </li> <li> <p> <b>serviceCode.</b> The code for an AWS service. You can get the possible <code>serviceCode</code> values by calling <a>DescribeServices</a>.</p> </li> <li> <p> <b>categoryCode.</b> The category for the service defined for the <code>serviceCode</code> value. You also get the category code for a service by calling <a>DescribeServices</a>. Each AWS service defines its own set of category codes.</p> </li> <li> <p> <b>severityCode.</b> A value that indicates the urgency of the case, which in turn determines the response time according to your service level agreement with AWS Support. You can get the possible <code>severityCode</code> values by calling <a>DescribeSeverityLevels</a>. For more information about the meaning of the codes, see <a>SeverityLevel</a> and <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\">Choosing a Severity</a>.</p> </li> <li> <p> <b>subject.</b> The <b>Subject</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p> <b>communicationBody.</b> The <b>Description</b> field on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page.</p> </li> <li> <p> <b>attachmentSetId.</b> The ID of a set of attachments that has been created by using <a>AddAttachmentsToSet</a>.</p> </li> <li> <p> <b>language.</b> The human language in which AWS Support handles the case. English and Japanese are currently supported.</p> </li> <li> <p> <b>ccEmailAddresses.</b> The AWS Support Center <b>CC</b> field on the <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. You can list email addresses to be copied on any correspondence about the case. The account that opens the case is already identified by passing the AWS Credentials in the HTTP POST method or in a method or function call from one of the programming languages supported by an <a href=\"http://aws.amazon.com/tools/\">AWS SDK</a>. </p> </li> </ul> <note> <p>To add additional communication or attachments to an existing case, use <a>AddCommunicationToCase</a>.</p> </note> <p>A successful <a>CreateCase</a> request returns an AWS Support case number. Case numbers are used by the <a>DescribeCases</a> operation to retrieve existing AWS Support cases.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "CaseCreationLimitExceeded"
        },
        {
          "shape": "AttachmentSetIdNotFound"
        },
        {
          "shape": "AttachmentSetExpired"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCaseRequest"
      },
      "name": "CreateCase",
      "output": {
        "shape": "CreateCaseResponse"
      }
    },
    "DescribeAttachment": {
      "documentation": "<p>Returns the attachment that has the specified ID. Attachment IDs are generated by the case management system when you add an attachment to a case or case communication. Attachment IDs are returned in the <a>AttachmentDetails</a> objects that are returned by the <a>DescribeCommunications</a> operation.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "DescribeAttachmentLimitExceeded"
        },
        {
          "shape": "AttachmentIdNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAttachmentRequest"
      },
      "name": "DescribeAttachment",
      "output": {
        "shape": "DescribeAttachmentResponse"
      }
    },
    "DescribeCases": {
      "documentation": "<p>Returns a list of cases that you specify by passing one or more case IDs. In addition, you can filter the cases by date by setting values for the <code>afterTime</code> and <code>beforeTime</code> request parameters. You can set values for the <code>includeResolvedCases</code> and <code>includeCommunications</code> request parameters to control how much information is returned.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>The response returns the following in JSON format:</p> <ul> <li> <p>One or more <a>CaseDetails</a> data types.</p> </li> <li> <p>One or more <code>nextToken</code> values, which specify where to paginate the returned records represented by the <code>CaseDetails</code> objects.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "CaseIdNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCasesRequest"
      },
      "name": "DescribeCases",
      "output": {
        "shape": "DescribeCasesResponse"
      }
    },
    "DescribeCommunications": {
      "documentation": "<p>Returns communications (and attachments) for one or more support cases. You can use the <code>afterTime</code> and <code>beforeTime</code> parameters to filter by date. You can use the <code>caseId</code> parameter to restrict the results to a particular case.</p> <p>Case data is available for 12 months after creation. If a case was created more than 12 months ago, a request for data might cause an error.</p> <p>You can use the <code>maxResults</code> and <code>nextToken</code> parameters to control the pagination of the result set. Set <code>maxResults</code> to the number of cases you want displayed on each page, and use <code>nextToken</code> to specify the resumption of pagination.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "CaseIdNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCommunicationsRequest"
      },
      "name": "DescribeCommunications",
      "output": {
        "shape": "DescribeCommunicationsResponse"
      }
    },
    "DescribeServices": {
      "documentation": "<p>Returns the current list of AWS services and a list of service categories that applies to each one. You then use service names and categories in your <a>CreateCase</a> requests. Each AWS service has its own set of categories.</p> <p>The service codes and category codes correspond to the values that are displayed in the <b>Service</b> and <b>Category</b> drop-down lists on the AWS Support Center <a href=\"https://console.aws.amazon.com/support/home#/case/create\">Create Case</a> page. The values in those fields, however, do not necessarily match the service codes and categories returned by the <code>DescribeServices</code> request. Always use the service codes and categories obtained programmatically. This practice ensures that you always have the most recent set of service and category codes.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServicesRequest"
      },
      "name": "DescribeServices",
      "output": {
        "shape": "DescribeServicesResponse"
      }
    },
    "DescribeSeverityLevels": {
      "documentation": "<p>Returns the list of severity levels that you can assign to an AWS Support case. The severity level for a case is also a field in the <a>CaseDetails</a> data type included in any <a>CreateCase</a> request.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSeverityLevelsRequest"
      },
      "name": "DescribeSeverityLevels",
      "output": {
        "shape": "DescribeSeverityLevelsResponse"
      }
    },
    "DescribeTrustedAdvisorCheckRefreshStatuses": {
      "documentation": "<p>Returns the refresh status of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and their refresh statuses cannot be retrieved by using this operation. Use of the <code>DescribeTrustedAdvisorCheckRefreshStatuses</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrustedAdvisorCheckRefreshStatusesRequest"
      },
      "name": "DescribeTrustedAdvisorCheckRefreshStatuses",
      "output": {
        "shape": "DescribeTrustedAdvisorCheckRefreshStatusesResponse"
      }
    },
    "DescribeTrustedAdvisorCheckResult": {
      "documentation": "<p>Returns the results of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains a <a>TrustedAdvisorCheckResult</a> object, which contains these three objects:</p> <ul> <li> <p> <a>TrustedAdvisorCategorySpecificSummary</a> </p> </li> <li> <p> <a>TrustedAdvisorResourceDetail</a> </p> </li> <li> <p> <a>TrustedAdvisorResourcesSummary</a> </p> </li> </ul> <p>In addition, the response contains these fields:</p> <ul> <li> <p> <b>status.</b> The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p> </li> <li> <p> <b>timestamp.</b> The time of the last refresh of the check.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrustedAdvisorCheckResultRequest"
      },
      "name": "DescribeTrustedAdvisorCheckResult",
      "output": {
        "shape": "DescribeTrustedAdvisorCheckResultResponse"
      }
    },
    "DescribeTrustedAdvisorCheckSummaries": {
      "documentation": "<p>Returns the summaries of the results of the Trusted Advisor checks that have the specified check IDs. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <p>The response contains an array of <a>TrustedAdvisorCheckSummary</a> objects.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrustedAdvisorCheckSummariesRequest"
      },
      "name": "DescribeTrustedAdvisorCheckSummaries",
      "output": {
        "shape": "DescribeTrustedAdvisorCheckSummariesResponse"
      }
    },
    "DescribeTrustedAdvisorChecks": {
      "documentation": "<p>Returns information about all available Trusted Advisor checks, including name, ID, category, description, and metadata. You must specify a language code; English (\"en\") and Japanese (\"ja\") are currently supported. The response contains a <a>TrustedAdvisorCheckDescription</a> for each check. The region must be set to us-east-1.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTrustedAdvisorChecksRequest"
      },
      "name": "DescribeTrustedAdvisorChecks",
      "output": {
        "shape": "DescribeTrustedAdvisorChecksResponse"
      }
    },
    "RefreshTrustedAdvisorCheck": {
      "documentation": "<p>Requests a refresh of the Trusted Advisor check that has the specified check ID. Check IDs can be obtained by calling <a>DescribeTrustedAdvisorChecks</a>.</p> <note> <p>Some checks are refreshed automatically, and they cannot be refreshed by using this operation. Use of the <code>RefreshTrustedAdvisorCheck</code> operation for these checks causes an <code>InvalidParameterValue</code> error.</p> </note> <p>The response contains a <a>TrustedAdvisorCheckRefreshStatus</a> object, which contains these fields:</p> <ul> <li> <p> <b>status.</b> The refresh status of the check: </p> <ul> <li> <p> <code>none:</code> The check is not refreshed or the non-success status exceeds the timeout</p> </li> <li> <p> <code>enqueued:</code> The check refresh requests has entered the refresh queue</p> </li> <li> <p> <code>processing:</code> The check refresh request is picked up by the rule processing engine</p> </li> <li> <p> <code>success:</code> The check is successfully refreshed</p> </li> <li> <p> <code>abandoned:</code> The check refresh has failed</p> </li> </ul> </li> <li> <p> <b>millisUntilNextRefreshable.</b> The amount of time, in milliseconds, until the check is eligible for refresh.</p> </li> <li> <p> <b>checkId.</b> The unique identifier for the check.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RefreshTrustedAdvisorCheckRequest"
      },
      "name": "RefreshTrustedAdvisorCheck",
      "output": {
        "shape": "RefreshTrustedAdvisorCheckResponse"
      }
    },
    "ResolveCase": {
      "documentation": "<p>Takes a <code>caseId</code> and returns the initial state of the case along with the state of the case after the call to <a>ResolveCase</a> completed.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "CaseIdNotFound"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResolveCaseRequest"
      },
      "name": "ResolveCase",
      "output": {
        "shape": "ResolveCaseResponse"
      }
    }
  },
  "shapes": {
    "AddAttachmentsToSetRequest": {
      "documentation": "<p/>",
      "members": {
        "attachmentSetId": {
          "documentation": "<p>The ID of the attachment set. If an <code>attachmentSetId</code> is not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> is specified, the attachments are added to the specified set, if it exists.</p>",
          "shape": "AttachmentSetId"
        },
        "attachments": {
          "documentation": "<p>One or more attachments to add to the set. The limit is 3 attachments per set, and the size limit is 5 MB per attachment.</p>",
          "shape": "Attachments"
        }
      },
      "required": [
        "attachments"
      ],
      "type": "structure"
    },
    "AddAttachmentsToSetResponse": {
      "documentation": "<p>The ID and expiry time of the attachment set returned by the <a>AddAttachmentsToSet</a> operation.</p>",
      "members": {
        "attachmentSetId": {
          "documentation": "<p>The ID of the attachment set. If an <code>attachmentSetId</code> was not specified, a new attachment set is created, and the ID of the set is returned in the response. If an <code>attachmentSetId</code> was specified, the attachments are added to the specified set, if it exists.</p>",
          "shape": "AttachmentSetId"
        },
        "expiryTime": {
          "documentation": "<p>The time and date when the attachment set expires.</p>",
          "shape": "ExpiryTime"
        }
      },
      "type": "structure"
    },
    "AddCommunicationToCaseRequest": {
      "documentation": "<p>To be written.</p>",
      "members": {
        "attachmentSetId": {
          "documentation": "<p>The ID of a set of one or more attachments for the communication to add to the case. Create the set by calling <a>AddAttachmentsToSet</a> </p>",
          "shape": "AttachmentSetId"
        },
        "caseId": {
          "documentation": "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "shape": "CaseId"
        },
        "ccEmailAddresses": {
          "documentation": "<p>The email addresses in the CC line of an email to be added to the support case.</p>",
          "shape": "CcEmailAddressList"
        },
        "communicationBody": {
          "documentation": "<p>The body of an email communication to add to the support case.</p>",
          "shape": "CommunicationBody"
        }
      },
      "required": [
        "communicationBody"
      ],
      "type": "structure"
    },
    "AddCommunicationToCaseResponse": {
      "documentation": "<p>The result of the <a>AddCommunicationToCase</a> operation.</p>",
      "members": {
        "result": {
          "documentation": "<p>True if <a>AddCommunicationToCase</a> succeeds. Otherwise, returns an error.</p>",
          "shape": "Result"
        }
      },
      "type": "structure"
    },
    "AfterTime": {
      "type": "string"
    },
    "Attachment": {
      "documentation": "<p>An attachment to a case communication. The attachment consists of the file name and the content of the file.</p>",
      "members": {
        "data": {
          "documentation": "<p>The content of the attachment file.</p>",
          "shape": "Data"
        },
        "fileName": {
          "documentation": "<p>The name of the attachment file.</p>",
          "shape": "FileName"
        }
      },
      "type": "structure"
    },
    "AttachmentDetails": {
      "documentation": "<p>The file name and ID of an attachment to a case communication. You can use the ID to retrieve the attachment with the <a>DescribeAttachment</a> operation.</p>",
      "members": {
        "attachmentId": {
          "documentation": "<p>The ID of the attachment.</p>",
          "shape": "AttachmentId"
        },
        "fileName": {
          "documentation": "<p>The file name of the attachment.</p>",
          "shape": "FileName"
        }
      },
      "type": "structure"
    },
    "AttachmentId": {
      "type": "string"
    },
    "AttachmentIdNotFound": {
      "documentation": "<p>An attachment with the specified ID could not be found.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>An attachment with the specified ID could not be found.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AttachmentLimitExceeded": {
      "documentation": "<p>The limit for the number of attachment sets created in a short period of time has been exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The limit for the number of attachment sets created in a short period of time has been exceeded.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AttachmentSet": {
      "member": {
        "shape": "AttachmentDetails"
      },
      "type": "list"
    },
    "AttachmentSetExpired": {
      "documentation": "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The expiration time of the attachment set has passed. The set expires 1 hour after it is created.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AttachmentSetId": {
      "type": "string"
    },
    "AttachmentSetIdNotFound": {
      "documentation": "<p>An attachment set with the specified ID could not be found.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>An attachment set with the specified ID could not be found.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "AttachmentSetSizeLimitExceeded": {
      "documentation": "<p>A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>A limit for the size of an attachment set has been exceeded. The limits are 3 attachments and 5 MB per attachment.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Attachments": {
      "member": {
        "shape": "Attachment"
      },
      "type": "list"
    },
    "BeforeTime": {
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CaseCreationLimitExceeded": {
      "documentation": "<p>The case creation limit for the account has been exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>An error message that indicates that you have exceeded the number of cases you can have open.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CaseDetails": {
      "documentation": "<p>A JSON-formatted object that contains the metadata for a support case. It is contained the response from a <a>DescribeCases</a> request. <b>CaseDetails</b> contains the following fields:</p> <ul> <li> <p> <b>caseId.</b> The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i>.</p> </li> <li> <p> <b>categoryCode.</b> The category of problem for the AWS Support case. Corresponds to the CategoryCode values returned by a call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>displayId.</b> The identifier for the case on pages in the AWS Support Center.</p> </li> <li> <p> <b>language.</b> The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p> </li> <li> <p> <b>recentCommunications.</b> One or more <a>Communication</a> objects. Fields of these objects are <code>attachments</code>, <code>body</code>, <code>caseId</code>, <code>submittedBy</code>, and <code>timeCreated</code>.</p> </li> <li> <p> <b>nextToken.</b> A resumption point for pagination.</p> </li> <li> <p> <b>serviceCode.</b> The identifier for the AWS service that corresponds to the service code defined in the call to <a>DescribeServices</a>.</p> </li> <li> <p> <b>severityCode.</b> The severity code assigned to the case. Contains one of the values returned by the call to <a>DescribeSeverityLevels</a>. The possible values are: <code>low</code>, <code>normal</code>, <code>high</code>, <code>urgent</code>, and <code>critical</code>.</p> </li> <li> <p> <b>status.</b> The status of the case in the AWS Support Center. The possible values are: <code>resolved</code>, <code>pending-customer-action</code>, <code>opened</code>, <code>unassigned</code>, and <code>work-in-progress</code>.</p> </li> <li> <p> <b>subject.</b> The subject line of the case.</p> </li> <li> <p> <b>submittedBy.</b> The email address of the account that submitted the case.</p> </li> <li> <p> <b>timeCreated.</b> The time the case was created, in ISO-8601 format.</p> </li> </ul>",
      "members": {
        "caseId": {
          "documentation": "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "shape": "CaseId"
        },
        "categoryCode": {
          "documentation": "<p>The category of problem for the AWS Support case.</p>",
          "shape": "CategoryCode"
        },
        "ccEmailAddresses": {
          "documentation": "<p>The email addresses that receive copies of communication about the case.</p>",
          "shape": "CcEmailAddressList"
        },
        "displayId": {
          "documentation": "<p>The ID displayed for the case in the AWS Support Center. This is a numeric string.</p>",
          "shape": "DisplayId"
        },
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "Language"
        },
        "recentCommunications": {
          "documentation": "<p>The five most recent communications between you and AWS Support Center, including the IDs of any attachments to the communications. Also includes a <code>nextToken</code> that you can use to retrieve earlier communications.</p>",
          "shape": "RecentCaseCommunications"
        },
        "serviceCode": {
          "documentation": "<p>The code for the AWS service. You can get a list of codes and the corresponding service names by calling <a>DescribeServices</a>.</p>",
          "shape": "ServiceCode"
        },
        "severityCode": {
          "documentation": "<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p>",
          "shape": "SeverityCode"
        },
        "status": {
          "documentation": "<p>The status of the case. Valid values: <code>resolved</code> | <code>pending-customer-action</code> | <code>opened</code> | <code>unassigned</code> | <code>work-in-progress</code>.</p>",
          "shape": "Status"
        },
        "subject": {
          "documentation": "<p>The subject line for the case in the AWS Support Center.</p>",
          "shape": "Subject"
        },
        "submittedBy": {
          "documentation": "<p>The email address of the account that submitted the case.</p>",
          "shape": "SubmittedBy"
        },
        "timeCreated": {
          "documentation": "<p>The time that the case was case created in the AWS Support Center.</p>",
          "shape": "TimeCreated"
        }
      },
      "type": "structure"
    },
    "CaseId": {
      "type": "string"
    },
    "CaseIdList": {
      "max": 100,
      "member": {
        "shape": "CaseId"
      },
      "min": 0,
      "type": "list"
    },
    "CaseIdNotFound": {
      "documentation": "<p>The requested <code>caseId</code> could not be located.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The requested <code>CaseId</code> could not be located.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CaseList": {
      "member": {
        "shape": "CaseDetails"
      },
      "type": "list"
    },
    "CaseStatus": {
      "type": "string"
    },
    "Category": {
      "documentation": "<p>A JSON-formatted name/value pair that represents the category name and category code of the problem, selected from the <a>DescribeServices</a> response for each AWS service.</p>",
      "members": {
        "code": {
          "documentation": "<p>The category code for the support case.</p>",
          "shape": "CategoryCode"
        },
        "name": {
          "documentation": "<p>The category name for the support case.</p>",
          "shape": "CategoryName"
        }
      },
      "type": "structure"
    },
    "CategoryCode": {
      "type": "string"
    },
    "CategoryList": {
      "member": {
        "shape": "Category"
      },
      "type": "list"
    },
    "CategoryName": {
      "type": "string"
    },
    "CcEmailAddress": {
      "type": "string"
    },
    "CcEmailAddressList": {
      "max": 10,
      "member": {
        "shape": "CcEmailAddress"
      },
      "min": 0,
      "type": "list"
    },
    "Communication": {
      "documentation": "<p>A communication associated with an AWS Support case. The communication consists of the case ID, the message body, attachment information, the submitter of the communication, and the date and time of the communication.</p>",
      "members": {
        "attachmentSet": {
          "documentation": "<p>Information about the attachments to the case communication.</p>",
          "shape": "AttachmentSet"
        },
        "body": {
          "documentation": "<p>The text of the communication between the customer and AWS Support.</p>",
          "shape": "CommunicationBody"
        },
        "caseId": {
          "documentation": "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "shape": "CaseId"
        },
        "submittedBy": {
          "documentation": "<p>The identity of the account that submitted, or responded to, the support case. Customer entries include the role or IAM user as well as the email address. For example, \"AdminRole (Role) &lt;someone@example.com&gt;. Entries from the AWS Support team display \"Amazon Web Services,\" and do not show an email address. </p>",
          "shape": "SubmittedBy"
        },
        "timeCreated": {
          "documentation": "<p>The time the communication was created.</p>",
          "shape": "TimeCreated"
        }
      },
      "type": "structure"
    },
    "CommunicationBody": {
      "max": 8000,
      "min": 1,
      "type": "string"
    },
    "CommunicationList": {
      "member": {
        "shape": "Communication"
      },
      "type": "list"
    },
    "CreateCaseRequest": {
      "members": {
        "attachmentSetId": {
          "documentation": "<p>The ID of a set of one or more attachments for the case. Create the set by using <a>AddAttachmentsToSet</a>.</p>",
          "shape": "AttachmentSetId"
        },
        "categoryCode": {
          "documentation": "<p>The category of problem for the AWS Support case.</p>",
          "shape": "CategoryCode"
        },
        "ccEmailAddresses": {
          "documentation": "<p>A list of email addresses that AWS Support copies on case correspondence.</p>",
          "shape": "CcEmailAddressList"
        },
        "communicationBody": {
          "documentation": "<p>The communication body text when you create an AWS Support case by calling <a>CreateCase</a>.</p>",
          "shape": "CommunicationBody"
        },
        "issueType": {
          "documentation": "<p>The type of issue for the case. You can specify either \"customer-service\" or \"technical.\" If you do not indicate a value, the default is \"technical.\"</p> <note> <p>Service limit increases are not supported by the Support API; you must submit service limit increase requests in <a href=\"https://console.aws.amazon.com/support\">Support Center</a>.</p> </note>",
          "shape": "IssueType"
        },
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "Language"
        },
        "serviceCode": {
          "documentation": "<p>The code for the AWS service returned by the call to <a>DescribeServices</a>.</p>",
          "shape": "ServiceCode"
        },
        "severityCode": {
          "documentation": "<p>The code for the severity level returned by the call to <a>DescribeSeverityLevels</a>.</p> <note> <p>The availability of severity levels depends on the support plan for the account.</p> </note>",
          "shape": "SeverityCode"
        },
        "subject": {
          "documentation": "<p>The title of the AWS Support case.</p>",
          "shape": "Subject"
        }
      },
      "required": [
        "subject",
        "communicationBody"
      ],
      "type": "structure"
    },
    "CreateCaseResponse": {
      "documentation": "<p>The AWS Support case ID returned by a successful completion of the <a>CreateCase</a> operation.</p>",
      "members": {
        "caseId": {
          "documentation": "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "shape": "CaseId"
        }
      },
      "type": "structure"
    },
    "Data": {
      "type": "blob"
    },
    "DescribeAttachmentLimitExceeded": {
      "documentation": "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The limit for the number of <a>DescribeAttachment</a> requests in a short period of time has been exceeded.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DescribeAttachmentRequest": {
      "members": {
        "attachmentId": {
          "documentation": "<p>The ID of the attachment to return. Attachment IDs are returned by the <a>DescribeCommunications</a> operation.</p>",
          "shape": "AttachmentId"
        }
      },
      "required": [
        "attachmentId"
      ],
      "type": "structure"
    },
    "DescribeAttachmentResponse": {
      "documentation": "<p>The content and file name of the attachment returned by the <a>DescribeAttachment</a> operation.</p>",
      "members": {
        "attachment": {
          "documentation": "<p>The attachment content and file name.</p>",
          "shape": "Attachment"
        }
      },
      "type": "structure"
    },
    "DescribeCasesRequest": {
      "members": {
        "afterTime": {
          "documentation": "<p>The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.</p>",
          "shape": "AfterTime"
        },
        "beforeTime": {
          "documentation": "<p>The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.</p>",
          "shape": "BeforeTime"
        },
        "caseIdList": {
          "documentation": "<p>A list of ID numbers of the support cases you want returned. The maximum number of cases is 100.</p>",
          "shape": "CaseIdList"
        },
        "displayId": {
          "documentation": "<p>The ID displayed for a case in the AWS Support Center user interface.</p>",
          "shape": "DisplayId"
        },
        "includeCommunications": {
          "documentation": "<p>Specifies whether communications should be included in the <a>DescribeCases</a> results. The default is <i>true</i>.</p>",
          "shape": "IncludeCommunications"
        },
        "includeResolvedCases": {
          "documentation": "<p>Specifies whether resolved support cases should be included in the <a>DescribeCases</a> results. The default is <i>false</i>.</p>",
          "shape": "IncludeResolvedCases"
        },
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "Language"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return before paginating.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>A resumption point for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeCasesResponse": {
      "documentation": "<p>Returns an array of <a>CaseDetails</a> objects and a <code>nextToken</code> that defines a point for pagination in the result set.</p>",
      "members": {
        "cases": {
          "documentation": "<p>The details for the cases that match the request.</p>",
          "shape": "CaseList"
        },
        "nextToken": {
          "documentation": "<p>A resumption point for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeCommunicationsRequest": {
      "members": {
        "afterTime": {
          "documentation": "<p>The start date for a filtered date search on support case communications. Case communications are available for 12 months after creation.</p>",
          "shape": "AfterTime"
        },
        "beforeTime": {
          "documentation": "<p>The end date for a filtered date search on support case communications. Case communications are available for 12 months after creation.</p>",
          "shape": "BeforeTime"
        },
        "caseId": {
          "documentation": "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "shape": "CaseId"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return before paginating.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>A resumption point for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "caseId"
      ],
      "type": "structure"
    },
    "DescribeCommunicationsResponse": {
      "documentation": "<p>The communications returned by the <a>DescribeCommunications</a> operation.</p>",
      "members": {
        "communications": {
          "documentation": "<p>The communications for the case.</p>",
          "shape": "CommunicationList"
        },
        "nextToken": {
          "documentation": "<p>A resumption point for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "DescribeServicesRequest": {
      "members": {
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "Language"
        },
        "serviceCodeList": {
          "documentation": "<p>A JSON-formatted list of service codes available for AWS services.</p>",
          "shape": "ServiceCodeList"
        }
      },
      "type": "structure"
    },
    "DescribeServicesResponse": {
      "documentation": "<p>The list of AWS services returned by the <a>DescribeServices</a> operation.</p>",
      "members": {
        "services": {
          "documentation": "<p>A JSON-formatted list of AWS services.</p>",
          "shape": "ServiceList"
        }
      },
      "type": "structure"
    },
    "DescribeSeverityLevelsRequest": {
      "members": {
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "Language"
        }
      },
      "type": "structure"
    },
    "DescribeSeverityLevelsResponse": {
      "documentation": "<p>The list of severity levels returned by the <a>DescribeSeverityLevels</a> operation.</p>",
      "members": {
        "severityLevels": {
          "documentation": "<p>The available severity levels for the support case. Available severity levels are defined by your service level agreement with AWS.</p>",
          "shape": "SeverityLevelsList"
        }
      },
      "type": "structure"
    },
    "DescribeTrustedAdvisorCheckRefreshStatusesRequest": {
      "documentation": "<p/>",
      "members": {
        "checkIds": {
          "documentation": "<p>The IDs of the Trusted Advisor checks to get the status of. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "checkIds"
      ],
      "type": "structure"
    },
    "DescribeTrustedAdvisorCheckRefreshStatusesResponse": {
      "documentation": "<p>The statuses of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckRefreshStatuses</a> operation.</p>",
      "members": {
        "statuses": {
          "documentation": "<p>The refresh status of the specified Trusted Advisor checks.</p>",
          "shape": "TrustedAdvisorCheckRefreshStatusList"
        }
      },
      "required": [
        "statuses"
      ],
      "type": "structure"
    },
    "DescribeTrustedAdvisorCheckResultRequest": {
      "documentation": "<p/>",
      "members": {
        "checkId": {
          "documentation": "<p>The unique identifier for the Trusted Advisor check.</p>",
          "shape": "String"
        },
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "String"
        }
      },
      "required": [
        "checkId"
      ],
      "type": "structure"
    },
    "DescribeTrustedAdvisorCheckResultResponse": {
      "documentation": "<p>The result of the Trusted Advisor check returned by the <a>DescribeTrustedAdvisorCheckResult</a> operation.</p>",
      "members": {
        "result": {
          "documentation": "<p>The detailed results of the Trusted Advisor check.</p>",
          "shape": "TrustedAdvisorCheckResult"
        }
      },
      "type": "structure"
    },
    "DescribeTrustedAdvisorCheckSummariesRequest": {
      "members": {
        "checkIds": {
          "documentation": "<p>The IDs of the Trusted Advisor checks.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "checkIds"
      ],
      "type": "structure"
    },
    "DescribeTrustedAdvisorCheckSummariesResponse": {
      "documentation": "<p>The summaries of the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorCheckSummaries</a> operation.</p>",
      "members": {
        "summaries": {
          "documentation": "<p>The summary information for the requested Trusted Advisor checks.</p>",
          "shape": "TrustedAdvisorCheckSummaryList"
        }
      },
      "required": [
        "summaries"
      ],
      "type": "structure"
    },
    "DescribeTrustedAdvisorChecksRequest": {
      "documentation": "<p/>",
      "members": {
        "language": {
          "documentation": "<p>The ISO 639-1 code for the language in which AWS provides support. AWS Support currently supports English (\"en\") and Japanese (\"ja\"). Language parameters must be passed explicitly for operations that take them.</p>",
          "shape": "String"
        }
      },
      "required": [
        "language"
      ],
      "type": "structure"
    },
    "DescribeTrustedAdvisorChecksResponse": {
      "documentation": "<p>Information about the Trusted Advisor checks returned by the <a>DescribeTrustedAdvisorChecks</a> operation.</p>",
      "members": {
        "checks": {
          "documentation": "<p>Information about all available Trusted Advisor checks.</p>",
          "shape": "TrustedAdvisorCheckList"
        }
      },
      "required": [
        "checks"
      ],
      "type": "structure"
    },
    "DisplayId": {
      "type": "string"
    },
    "Double": {
      "type": "double"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ExpiryTime": {
      "type": "string"
    },
    "FileName": {
      "type": "string"
    },
    "IncludeCommunications": {
      "type": "boolean"
    },
    "IncludeResolvedCases": {
      "type": "boolean"
    },
    "InternalServerError": {
      "documentation": "<p>An internal server error occurred.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>An internal server error occurred.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "IssueType": {
      "type": "string"
    },
    "Language": {
      "type": "string"
    },
    "Long": {
      "type": "long"
    },
    "MaxResults": {
      "max": 100,
      "min": 10,
      "type": "integer"
    },
    "NextToken": {
      "type": "string"
    },
    "RecentCaseCommunications": {
      "documentation": "<p>The five most recent communications associated with the case.</p>",
      "members": {
        "communications": {
          "documentation": "<p>The five most recent communications associated with the case.</p>",
          "shape": "CommunicationList"
        },
        "nextToken": {
          "documentation": "<p>A resumption point for pagination.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "RefreshTrustedAdvisorCheckRequest": {
      "documentation": "<p/>",
      "members": {
        "checkId": {
          "documentation": "<p>The unique identifier for the Trusted Advisor check to refresh. <b>Note:</b> Specifying the check ID of a check that is automatically refreshed causes an <code>InvalidParameterValue</code> error.</p>",
          "shape": "String"
        }
      },
      "required": [
        "checkId"
      ],
      "type": "structure"
    },
    "RefreshTrustedAdvisorCheckResponse": {
      "documentation": "<p>The current refresh status of a Trusted Advisor check.</p>",
      "members": {
        "status": {
          "documentation": "<p>The current refresh status for a check, including the amount of time until the check is eligible for refresh.</p>",
          "shape": "TrustedAdvisorCheckRefreshStatus"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "ResolveCaseRequest": {
      "members": {
        "caseId": {
          "documentation": "<p>The AWS Support case ID requested or returned in the call. The case ID is an alphanumeric string formatted as shown in this example: case-<i>12345678910-2013-c4c1d2bf33c5cf47</i> </p>",
          "shape": "CaseId"
        }
      },
      "type": "structure"
    },
    "ResolveCaseResponse": {
      "documentation": "<p>The status of the case returned by the <a>ResolveCase</a> operation.</p>",
      "members": {
        "finalCaseStatus": {
          "documentation": "<p>The status of the case after the <a>ResolveCase</a> request was processed.</p>",
          "shape": "CaseStatus"
        },
        "initialCaseStatus": {
          "documentation": "<p>The status of the case when the <a>ResolveCase</a> request was sent.</p>",
          "shape": "CaseStatus"
        }
      },
      "type": "structure"
    },
    "Result": {
      "type": "boolean"
    },
    "Service": {
      "documentation": "<p>Information about an AWS service returned by the <a>DescribeServices</a> operation.</p>",
      "members": {
        "categories": {
          "documentation": "<p>A list of categories that describe the type of support issue a case describes. Categories consist of a category name and a category code. Category names and codes are passed to AWS Support when you call <a>CreateCase</a>.</p>",
          "shape": "CategoryList"
        },
        "code": {
          "documentation": "<p>The code for an AWS service returned by the <a>DescribeServices</a> response. The <code>name</code> element contains the corresponding friendly name.</p>",
          "shape": "ServiceCode"
        },
        "name": {
          "documentation": "<p>The friendly name for an AWS service. The <code>code</code> element contains the corresponding code.</p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "ServiceCode": {
      "type": "string"
    },
    "ServiceCodeList": {
      "max": 100,
      "member": {
        "shape": "ServiceCode"
      },
      "min": 0,
      "type": "list"
    },
    "ServiceList": {
      "member": {
        "shape": "Service"
      },
      "type": "list"
    },
    "ServiceName": {
      "type": "string"
    },
    "SeverityCode": {
      "type": "string"
    },
    "SeverityLevel": {
      "documentation": "<p>A code and name pair that represents the severity level of a support case. The available values depend on the support plan for the account. For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\">Choosing a Severity</a>.</p>",
      "members": {
        "code": {
          "documentation": "<p>The code for case severity level.</p> <p>Valid values: <code>low</code> | <code>normal</code> | <code>high</code> | <code>urgent</code> | <code>critical</code> </p>",
          "shape": "SeverityLevelCode"
        },
        "name": {
          "documentation": "<p>The name of the severity level that corresponds to the severity level code.</p> <note> <p>The values returned by the API differ from the values that are displayed in the AWS Support Center. For example, for the code \"low\", the API name is \"Low\", but the name in the Support Center is \"General guidance\". These are the Support Center code/name mappings:</p> <ul> <li> <p> <code>low</code>: General guidance</p> </li> <li> <p> <code>normal</code>: System impaired</p> </li> <li> <p> <code>high</code>: Production system impaired</p> </li> <li> <p> <code>urgent</code>: Production system down</p> </li> <li> <p> <code>critical</code>: Business-critical system down</p> </li> </ul> </note> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awssupport/latest/user/getting-started.html#choosing-severity\">Choosing a Severity</a> </p>",
          "shape": "SeverityLevelName"
        }
      },
      "type": "structure"
    },
    "SeverityLevelCode": {
      "type": "string"
    },
    "SeverityLevelName": {
      "type": "string"
    },
    "SeverityLevelsList": {
      "member": {
        "shape": "SeverityLevel"
      },
      "type": "list"
    },
    "Status": {
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Subject": {
      "type": "string"
    },
    "SubmittedBy": {
      "type": "string"
    },
    "TimeCreated": {
      "type": "string"
    },
    "TrustedAdvisorCategorySpecificSummary": {
      "documentation": "<p>The container for summary information that relates to the category of the Trusted Advisor check.</p>",
      "members": {
        "costOptimizing": {
          "documentation": "<p>The summary information about cost savings for a Trusted Advisor check that is in the Cost Optimizing category.</p>",
          "shape": "TrustedAdvisorCostOptimizingSummary"
        }
      },
      "type": "structure"
    },
    "TrustedAdvisorCheckDescription": {
      "documentation": "<p>The description and metadata for a Trusted Advisor check.</p>",
      "members": {
        "category": {
          "documentation": "<p>The category of the Trusted Advisor check.</p>",
          "shape": "String"
        },
        "description": {
          "documentation": "<p>The description of the Trusted Advisor check, which includes the alert criteria and recommended actions (contains HTML markup).</p>",
          "shape": "String"
        },
        "id": {
          "documentation": "<p>The unique identifier for the Trusted Advisor check.</p>",
          "shape": "String"
        },
        "metadata": {
          "documentation": "<p>The column headings for the data returned by the Trusted Advisor check. The order of the headings corresponds to the order of the data in the <b>Metadata</b> element of the <a>TrustedAdvisorResourceDetail</a> for the check. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data. </p>",
          "shape": "StringList"
        },
        "name": {
          "documentation": "<p>The display name for the Trusted Advisor check.</p>",
          "shape": "String"
        }
      },
      "required": [
        "id",
        "name",
        "description",
        "category",
        "metadata"
      ],
      "type": "structure"
    },
    "TrustedAdvisorCheckList": {
      "member": {
        "shape": "TrustedAdvisorCheckDescription"
      },
      "type": "list"
    },
    "TrustedAdvisorCheckRefreshStatus": {
      "documentation": "<p>The refresh status of a Trusted Advisor check.</p>",
      "members": {
        "checkId": {
          "documentation": "<p>The unique identifier for the Trusted Advisor check.</p>",
          "shape": "String"
        },
        "millisUntilNextRefreshable": {
          "documentation": "<p>The amount of time, in milliseconds, until the Trusted Advisor check is eligible for refresh.</p>",
          "shape": "Long"
        },
        "status": {
          "documentation": "<p>The status of the Trusted Advisor check for which a refresh has been requested: </p> <ul> <li> <p> <code>none:</code> The check is not refreshed or the non-success status exceeds the timeout</p> </li> <li> <p> <code>enqueued:</code> The check refresh requests has entered the refresh queue</p> </li> <li> <p> <code>processing:</code> The check refresh request is picked up by the rule processing engine</p> </li> <li> <p> <code>success:</code> The check is successfully refreshed</p> </li> <li> <p> <code>abandoned:</code> The check refresh has failed</p> </li> </ul>",
          "shape": "String"
        }
      },
      "required": [
        "checkId",
        "status",
        "millisUntilNextRefreshable"
      ],
      "type": "structure"
    },
    "TrustedAdvisorCheckRefreshStatusList": {
      "member": {
        "shape": "TrustedAdvisorCheckRefreshStatus"
      },
      "type": "list"
    },
    "TrustedAdvisorCheckResult": {
      "documentation": "<p>The results of a Trusted Advisor check returned by <a>DescribeTrustedAdvisorCheckResult</a>.</p>",
      "members": {
        "categorySpecificSummary": {
          "documentation": "<p>Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.</p>",
          "shape": "TrustedAdvisorCategorySpecificSummary"
        },
        "checkId": {
          "documentation": "<p>The unique identifier for the Trusted Advisor check.</p>",
          "shape": "String"
        },
        "flaggedResources": {
          "documentation": "<p>The details about each resource listed in the check result.</p>",
          "shape": "TrustedAdvisorResourceDetailList"
        },
        "resourcesSummary": {
          "shape": "TrustedAdvisorResourcesSummary"
        },
        "status": {
          "documentation": "<p>The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p>",
          "shape": "String"
        },
        "timestamp": {
          "documentation": "<p>The time of the last refresh of the check.</p>",
          "shape": "String"
        }
      },
      "required": [
        "checkId",
        "timestamp",
        "status",
        "resourcesSummary",
        "categorySpecificSummary",
        "flaggedResources"
      ],
      "type": "structure"
    },
    "TrustedAdvisorCheckSummary": {
      "documentation": "<p>A summary of a Trusted Advisor check result, including the alert status, last refresh, and number of resources examined.</p>",
      "members": {
        "categorySpecificSummary": {
          "documentation": "<p>Summary information that relates to the category of the check. Cost Optimizing is the only category that is currently supported.</p>",
          "shape": "TrustedAdvisorCategorySpecificSummary"
        },
        "checkId": {
          "documentation": "<p>The unique identifier for the Trusted Advisor check.</p>",
          "shape": "String"
        },
        "hasFlaggedResources": {
          "documentation": "<p>Specifies whether the Trusted Advisor check has flagged resources.</p>",
          "shape": "Boolean"
        },
        "resourcesSummary": {
          "shape": "TrustedAdvisorResourcesSummary"
        },
        "status": {
          "documentation": "<p>The alert status of the check: \"ok\" (green), \"warning\" (yellow), \"error\" (red), or \"not_available\".</p>",
          "shape": "String"
        },
        "timestamp": {
          "documentation": "<p>The time of the last refresh of the check.</p>",
          "shape": "String"
        }
      },
      "required": [
        "checkId",
        "timestamp",
        "status",
        "resourcesSummary",
        "categorySpecificSummary"
      ],
      "type": "structure"
    },
    "TrustedAdvisorCheckSummaryList": {
      "member": {
        "shape": "TrustedAdvisorCheckSummary"
      },
      "type": "list"
    },
    "TrustedAdvisorCostOptimizingSummary": {
      "documentation": "<p>The estimated cost savings that might be realized if the recommended actions are taken.</p>",
      "members": {
        "estimatedMonthlySavings": {
          "documentation": "<p>The estimated monthly savings that might be realized if the recommended actions are taken.</p>",
          "shape": "Double"
        },
        "estimatedPercentMonthlySavings": {
          "documentation": "<p>The estimated percentage of savings that might be realized if the recommended actions are taken.</p>",
          "shape": "Double"
        }
      },
      "required": [
        "estimatedMonthlySavings",
        "estimatedPercentMonthlySavings"
      ],
      "type": "structure"
    },
    "TrustedAdvisorResourceDetail": {
      "documentation": "<p>Contains information about a resource identified by a Trusted Advisor check.</p>",
      "members": {
        "isSuppressed": {
          "documentation": "<p>Specifies whether the AWS resource was ignored by Trusted Advisor because it was marked as suppressed by the user.</p>",
          "shape": "Boolean"
        },
        "metadata": {
          "documentation": "<p>Additional information about the identified resource. The exact metadata and its order can be obtained by inspecting the <a>TrustedAdvisorCheckDescription</a> object returned by the call to <a>DescribeTrustedAdvisorChecks</a>. <b>Metadata</b> contains all the data that is shown in the Excel download, even in those cases where the UI shows just summary data.</p>",
          "shape": "StringList"
        },
        "region": {
          "documentation": "<p>The AWS region in which the identified resource is located.</p>",
          "shape": "String"
        },
        "resourceId": {
          "documentation": "<p>The unique identifier for the identified resource.</p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The status code for the resource identified in the Trusted Advisor check.</p>",
          "shape": "String"
        }
      },
      "required": [
        "status",
        "resourceId",
        "metadata"
      ],
      "type": "structure"
    },
    "TrustedAdvisorResourceDetailList": {
      "member": {
        "shape": "TrustedAdvisorResourceDetail"
      },
      "type": "list"
    },
    "TrustedAdvisorResourcesSummary": {
      "documentation": "<p>Details about AWS resources that were analyzed in a call to Trusted Advisor <a>DescribeTrustedAdvisorCheckSummaries</a>.</p>",
      "members": {
        "resourcesFlagged": {
          "documentation": "<p>The number of AWS resources that were flagged (listed) by the Trusted Advisor check.</p>",
          "shape": "Long"
        },
        "resourcesIgnored": {
          "documentation": "<p>The number of AWS resources ignored by Trusted Advisor because information was unavailable.</p>",
          "shape": "Long"
        },
        "resourcesProcessed": {
          "documentation": "<p>The number of AWS resources that were analyzed by the Trusted Advisor check.</p>",
          "shape": "Long"
        },
        "resourcesSuppressed": {
          "documentation": "<p>The number of AWS resources ignored by Trusted Advisor because they were marked as suppressed by the user.</p>",
          "shape": "Long"
        }
      },
      "required": [
        "resourcesProcessed",
        "resourcesFlagged",
        "resourcesIgnored",
        "resourcesSuppressed"
      ],
      "type": "structure"
    }
  },
  "version": "2.0"
}
