{
  "documentation": "<fullname>AWS Resource Groups</fullname> <p>AWS Resource Groups lets you organize AWS resources such as Amazon EC2 instances, Amazon Relational Database Service databases, and Amazon S3 buckets into groups using criteria that you define as tags. A resource group is a collection of resources that match the resource types specified in a query, and share one or more tags or portions of tags. You can create a group of resources based on their roles in your cloud infrastructure, lifecycle stages, regions, application layers, or virtually any criteria. Resource groups enable you to automate management tasks, such as those in AWS Systems Manager Automation documents, on tag-related resources in AWS Systems Manager. Groups of tagged resources also let you quickly view a custom console in AWS Systems Manager that shows AWS Config compliance and other monitoring data about member resources.</p> <p>To create a resource group, build a resource query, and specify tags that identify the criteria that members of the group have in common. Tags are key-value pairs.</p> <p>For more information about Resource Groups, see the <a href=\"https://docs.aws.amazon.com/ARG/latest/userguide/welcome.html\">AWS Resource Groups User Guide</a>.</p> <p>AWS Resource Groups uses a REST-compliant API that you can use to perform the following types of operations.</p> <ul> <li> <p>Create, Read, Update, and Delete (CRUD) operations on resource groups and resource query entities</p> </li> <li> <p>Applying, editing, and removing tags from resource groups</p> </li> <li> <p>Resolving resource group member ARNs so they can be returned as search results</p> </li> <li> <p>Getting data about resources that are members of a group</p> </li> <li> <p>Searching AWS resources based on a resource query</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "resource-groups",
    "protocol": "rest-json",
    "serviceAbbreviation": "Resource Groups",
    "serviceFullName": "AWS Resource Groups",
    "serviceId": "Resource Groups",
    "signatureVersion": "v4",
    "signingName": "resource-groups",
    "uid": "resource-groups-2017-11-27"
  },
  "operations": {
    "CreateGroup": {
      "documentation": "<p>Creates a group with a specified name, description, and resource query.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/groups"
      },
      "input": {
        "shape": "CreateGroupInput"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupOutput"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a specified resource group. Deleting a resource group does not delete resources that are members of the group; it only deletes the group structure.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/groups/{GroupName}"
      },
      "input": {
        "shape": "DeleteGroupInput"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupOutput"
      }
    },
    "GetGroup": {
      "documentation": "<p>Returns information about a specified resource group.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/groups/{GroupName}"
      },
      "input": {
        "shape": "GetGroupInput"
      },
      "name": "GetGroup",
      "output": {
        "shape": "GetGroupOutput"
      }
    },
    "GetGroupQuery": {
      "documentation": "<p>Returns the resource query associated with the specified resource group.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/groups/{GroupName}/query"
      },
      "input": {
        "shape": "GetGroupQueryInput"
      },
      "name": "GetGroupQuery",
      "output": {
        "shape": "GetGroupQueryOutput"
      }
    },
    "GetTags": {
      "documentation": "<p>Returns a list of tags that are associated with a resource group, specified by an ARN.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/resources/{Arn}/tags"
      },
      "input": {
        "shape": "GetTagsInput"
      },
      "name": "GetTags",
      "output": {
        "shape": "GetTagsOutput"
      }
    },
    "ListGroupResources": {
      "documentation": "<p>Returns a list of ARNs of resources that are members of a specified resource group.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/groups/{GroupName}/resource-identifiers-list"
      },
      "input": {
        "shape": "ListGroupResourcesInput"
      },
      "name": "ListGroupResources",
      "output": {
        "shape": "ListGroupResourcesOutput"
      }
    },
    "ListGroups": {
      "documentation": "<p>Returns a list of existing resource groups in your account.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/groups-list"
      },
      "input": {
        "shape": "ListGroupsInput"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsOutput"
      }
    },
    "SearchResources": {
      "documentation": "<p>Returns a list of AWS resource identifiers that matches a specified query. The query uses the same format as a resource query in a CreateGroup or UpdateGroupQuery operation.</p>",
      "errors": [
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/resources/search"
      },
      "input": {
        "shape": "SearchResourcesInput"
      },
      "name": "SearchResources",
      "output": {
        "shape": "SearchResourcesOutput"
      }
    },
    "Tag": {
      "documentation": "<p>Adds tags to a resource group with the specified ARN. Existing tags on a resource group are not changed if they are not specified in the request parameters.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/resources/{Arn}/tags"
      },
      "input": {
        "shape": "TagInput"
      },
      "name": "Tag",
      "output": {
        "shape": "TagOutput"
      }
    },
    "Untag": {
      "documentation": "<p>Deletes specified tags from a specified resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/resources/{Arn}/tags"
      },
      "input": {
        "shape": "UntagInput"
      },
      "name": "Untag",
      "output": {
        "shape": "UntagOutput"
      }
    },
    "UpdateGroup": {
      "documentation": "<p>Updates an existing group with a new or changed description. You cannot update the name of a resource group.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/groups/{GroupName}"
      },
      "input": {
        "shape": "UpdateGroupInput"
      },
      "name": "UpdateGroup",
      "output": {
        "shape": "UpdateGroupOutput"
      }
    },
    "UpdateGroupQuery": {
      "documentation": "<p>Updates the resource query of a group.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "MethodNotAllowedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/groups/{GroupName}/query"
      },
      "input": {
        "shape": "UpdateGroupQueryInput"
      },
      "name": "UpdateGroupQuery",
      "output": {
        "shape": "UpdateGroupQueryOutput"
      }
    }
  },
  "shapes": {
    "BadRequestException": {
      "documentation": "<p>The request does not comply with validation rules that are defined for the request parameters.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CreateGroupInput": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>",
          "shape": "GroupDescription"
        },
        "Name": {
          "documentation": "<p>The name of the group, which is the identifier of the group in other operations. A resource group name cannot be updated after it is created. A resource group name can have a maximum of 128 characters, including letters, numbers, hyphens, dots, and underscores. The name cannot start with <code>AWS</code> or <code>aws</code>; these are reserved. A resource group name must be unique within your account.</p>",
          "shape": "GroupName"
        },
        "ResourceQuery": {
          "documentation": "<p>The resource query that determines which AWS resources are members of this group.</p>",
          "shape": "ResourceQuery"
        },
        "Tags": {
          "documentation": "<p>The tags to add to the group. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Name",
        "ResourceQuery"
      ],
      "type": "structure"
    },
    "CreateGroupOutput": {
      "members": {
        "Group": {
          "documentation": "<p>A full description of the resource group after it is created.</p>",
          "shape": "Group"
        },
        "ResourceQuery": {
          "documentation": "<p>The resource query associated with the group.</p>",
          "shape": "ResourceQuery"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the group.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "DeleteGroupInput": {
      "members": {
        "GroupName": {
          "documentation": "<p>The name of the resource group to delete.</p>",
          "location": "uri",
          "locationName": "GroupName",
          "shape": "GroupName"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "DeleteGroupOutput": {
      "members": {
        "Group": {
          "documentation": "<p>A full description of the deleted resource group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "ForbiddenException": {
      "documentation": "<p>The caller is not authorized to make the request.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "GetGroupInput": {
      "members": {
        "GroupName": {
          "documentation": "<p>The name of the resource group.</p>",
          "location": "uri",
          "locationName": "GroupName",
          "shape": "GroupName"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "GetGroupOutput": {
      "members": {
        "Group": {
          "documentation": "<p>A full description of the resource group.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "GetGroupQueryInput": {
      "members": {
        "GroupName": {
          "documentation": "<p>The name of the resource group.</p>",
          "location": "uri",
          "locationName": "GroupName",
          "shape": "GroupName"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "GetGroupQueryOutput": {
      "members": {
        "GroupQuery": {
          "documentation": "<p>The resource query associated with the specified group.</p>",
          "shape": "GroupQuery"
        }
      },
      "type": "structure"
    },
    "GetTagsInput": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the resource group for which you want a list of tags. The resource must exist within the account you are using.</p>",
          "location": "uri",
          "locationName": "Arn",
          "shape": "GroupArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "GetTagsOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the tagged resource group.</p>",
          "shape": "GroupArn"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the specified resource group.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "Group": {
      "documentation": "<p>A resource group.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the resource group.</p>",
          "shape": "GroupDescription"
        },
        "GroupArn": {
          "documentation": "<p>The ARN of a resource group.</p>",
          "shape": "GroupArn"
        },
        "Name": {
          "documentation": "<p>The name of a resource group.</p>",
          "shape": "GroupName"
        }
      },
      "required": [
        "GroupArn",
        "Name"
      ],
      "type": "structure"
    },
    "GroupArn": {
      "max": 1600,
      "min": 12,
      "pattern": "arn:aws(-[a-z]+)*:resource-groups:[a-z]{2}-[a-z]+-\\d{1}:[0-9]{12}:group/[a-zA-Z0-9_\\.-]{1,128}",
      "type": "string"
    },
    "GroupDescription": {
      "max": 512,
      "pattern": "[\\sa-zA-Z0-9_\\.-]*",
      "type": "string"
    },
    "GroupFilter": {
      "documentation": "<p>A filter name and value pair that is used to obtain more specific results from a list of groups.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the filter. Filter names are case-sensitive.</p>",
          "shape": "GroupFilterName"
        },
        "Values": {
          "documentation": "<p>One or more filter values. Allowed filter values vary by group filter name, and are case-sensitive.</p>",
          "shape": "GroupFilterValues"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "GroupFilterList": {
      "member": {
        "shape": "GroupFilter"
      },
      "type": "list"
    },
    "GroupFilterName": {
      "enum": [
        "resource-type"
      ],
      "type": "string"
    },
    "GroupFilterValue": {
      "max": 128,
      "min": 1,
      "pattern": "AWS::(AllSupported|[a-zA-Z0-9]+::[a-zA-Z0-9]+)",
      "type": "string"
    },
    "GroupFilterValues": {
      "max": 5,
      "member": {
        "shape": "GroupFilterValue"
      },
      "min": 1,
      "type": "list"
    },
    "GroupIdentifier": {
      "documentation": "<p>The ARN and group name of a group.</p>",
      "members": {
        "GroupArn": {
          "documentation": "<p>The ARN of a resource group.</p>",
          "shape": "GroupArn"
        },
        "GroupName": {
          "documentation": "<p>The name of a resource group.</p>",
          "shape": "GroupName"
        }
      },
      "type": "structure"
    },
    "GroupIdentifierList": {
      "member": {
        "shape": "GroupIdentifier"
      },
      "type": "list"
    },
    "GroupList": {
      "member": {
        "shape": "Group"
      },
      "type": "list"
    },
    "GroupName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\.-]+",
      "type": "string"
    },
    "GroupQuery": {
      "documentation": "<p>The underlying resource query of a resource group. Resources that match query results are part of the group.</p>",
      "members": {
        "GroupName": {
          "documentation": "<p>The name of a resource group that is associated with a specific resource query.</p>",
          "shape": "GroupName"
        },
        "ResourceQuery": {
          "documentation": "<p>The resource query which determines which AWS resources are members of the associated resource group.</p>",
          "shape": "ResourceQuery"
        }
      },
      "required": [
        "GroupName",
        "ResourceQuery"
      ],
      "type": "structure"
    },
    "InternalServerErrorException": {
      "documentation": "<p>An internal error occurred while processing the request.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListGroupResourcesInput": {
      "members": {
        "Filters": {
          "documentation": "<p>Filters, formatted as ResourceFilter objects, that you want to apply to a ListGroupResources operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter resources by their type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType. For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>",
          "shape": "ResourceFilterList"
        },
        "GroupName": {
          "documentation": "<p>The name of the resource group.</p>",
          "location": "uri",
          "locationName": "GroupName",
          "shape": "GroupName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of group member ARNs that are returned in a single call by ListGroupResources, in paginated output. By default, this number is 50.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The NextToken value that is returned in a paginated ListGroupResources request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "ListGroupResourcesOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>The NextToken value to include in a subsequent <code>ListGroupResources</code> request, to get more results.</p>",
          "shape": "NextToken"
        },
        "QueryErrors": {
          "documentation": "<p>A list of <code>QueryError</code> objects. Each error is an object that contains <code>ErrorCode</code> and <code>Message</code> structures. Possible values for <code>ErrorCode</code> are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.</p>",
          "shape": "QueryErrorList"
        },
        "ResourceIdentifiers": {
          "documentation": "<p>The ARNs and resource types of resources that are members of the group that you specified.</p>",
          "shape": "ResourceIdentifierList"
        }
      },
      "type": "structure"
    },
    "ListGroupsInput": {
      "members": {
        "Filters": {
          "documentation": "<p>Filters, formatted as GroupFilter objects, that you want to apply to a ListGroups operation.</p> <ul> <li> <p> <code>resource-type</code> - Filter groups by resource type. Specify up to five resource types in the format AWS::ServiceCode::ResourceType. For example, AWS::EC2::Instance, or AWS::S3::Bucket.</p> </li> </ul>",
          "shape": "GroupFilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of resource group results that are returned by ListGroups in paginated output. By default, this number is 50.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The NextToken value that is returned in a paginated <code>ListGroups</code> request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListGroupsOutput": {
      "members": {
        "GroupIdentifiers": {
          "documentation": "<p>A list of GroupIdentifier objects. Each identifier is an object that contains both the GroupName and the GroupArn.</p>",
          "shape": "GroupIdentifierList"
        },
        "Groups": {
          "deprecated": true,
          "deprecatedMessage": "This field is deprecated, use GroupIdentifiers instead.",
          "documentation": "<p>A list of resource groups.</p>",
          "shape": "GroupList"
        },
        "NextToken": {
          "documentation": "<p>The NextToken value to include in a subsequent <code>ListGroups</code> request, to get more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "MethodNotAllowedException": {
      "documentation": "<p>The request uses an HTTP method which is not allowed for the specified resource.</p>",
      "error": {
        "httpStatusCode": 405
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 8192,
      "min": 0,
      "pattern": "^[a-zA-Z0-9+/]*={0,2}$",
      "type": "string"
    },
    "NotFoundException": {
      "documentation": "<p>One or more resources specified in the request do not exist.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Query": {
      "max": 4096,
      "pattern": "[\\s\\S]*",
      "type": "string"
    },
    "QueryError": {
      "documentation": "<p>A two-part error structure that can occur in <code>ListGroupResources</code> or <code>SearchResources</code> operations on CloudFormation stack-based queries. The error occurs if the CloudFormation stack on which the query is based either does not exist, or has a status that renders the stack inactive. A <code>QueryError</code> occurrence does not necessarily mean that AWS Resource Groups could not complete the operation, but the resulting group might have no member resources.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>Possible values are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.</p>",
          "shape": "QueryErrorCode"
        },
        "Message": {
          "documentation": "<p>A message that explains the <code>ErrorCode</code> value. Messages might state that the specified CloudFormation stack does not exist (or no longer exists). For <code>CLOUDFORMATION_STACK_INACTIVE</code>, the message typically states that the CloudFormation stack has a status that is not (or no longer) active, such as <code>CREATE_FAILED</code>.</p>",
          "shape": "QueryErrorMessage"
        }
      },
      "type": "structure"
    },
    "QueryErrorCode": {
      "enum": [
        "CLOUDFORMATION_STACK_INACTIVE",
        "CLOUDFORMATION_STACK_NOT_EXISTING"
      ],
      "type": "string"
    },
    "QueryErrorList": {
      "member": {
        "shape": "QueryError"
      },
      "type": "list"
    },
    "QueryErrorMessage": {
      "type": "string"
    },
    "QueryType": {
      "enum": [
        "TAG_FILTERS_1_0",
        "CLOUDFORMATION_STACK_1_0"
      ],
      "max": 128,
      "min": 1,
      "pattern": "^\\w+$",
      "type": "string"
    },
    "ResourceArn": {
      "pattern": "arn:aws(-[a-z]+)*:[a-z0-9\\-]*:([a-z]{2}-[a-z]+-\\d{1})?:([0-9]{12})?:.+",
      "type": "string"
    },
    "ResourceFilter": {
      "documentation": "<p>A filter name and value pair that is used to obtain more specific results from a list of resources.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the filter. Filter names are case-sensitive.</p>",
          "shape": "ResourceFilterName"
        },
        "Values": {
          "documentation": "<p>One or more filter values. Allowed filter values vary by resource filter name, and are case-sensitive.</p>",
          "shape": "ResourceFilterValues"
        }
      },
      "required": [
        "Name",
        "Values"
      ],
      "type": "structure"
    },
    "ResourceFilterList": {
      "member": {
        "shape": "ResourceFilter"
      },
      "type": "list"
    },
    "ResourceFilterName": {
      "enum": [
        "resource-type"
      ],
      "type": "string"
    },
    "ResourceFilterValue": {
      "max": 128,
      "min": 1,
      "pattern": "AWS::[a-zA-Z0-9]+::[a-zA-Z0-9]+",
      "type": "string"
    },
    "ResourceFilterValues": {
      "max": 5,
      "member": {
        "shape": "ResourceFilterValue"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceIdentifier": {
      "documentation": "<p>The ARN of a resource, and its resource type.</p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of a resource.</p>",
          "shape": "ResourceArn"
        },
        "ResourceType": {
          "documentation": "<p>The resource type of a resource, such as <code>AWS::EC2::Instance</code>.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ResourceIdentifierList": {
      "member": {
        "shape": "ResourceIdentifier"
      },
      "type": "list"
    },
    "ResourceQuery": {
      "documentation": "<p>The query that is used to define a resource group or a search for resources.</p>",
      "members": {
        "Query": {
          "documentation": "<p>The query that defines a group or a search.</p>",
          "shape": "Query"
        },
        "Type": {
          "documentation": "<p>The type of the query. The valid values in this release are <code>TAG_FILTERS_1_0</code> and <code>CLOUDFORMATION_STACK_1_0</code>.</p> <p> <i> <code>TAG_FILTERS_1_0:</code> </i> A JSON syntax that lets you specify a collection of simple tag filters for resource types and tags, as supported by the AWS Tagging API <a href=\"https://docs.aws.amazon.com/resourcegroupstagging/latest/APIReference/API_GetResources.html\">GetResources</a> operation. If you specify more than one tag key, only resources that match all tag keys, and at least one value of each specified tag key, are returned in your query. If you specify more than one value for a tag key, a resource matches the filter if it has a tag key value that matches <i>any</i> of the specified values.</p> <p>For example, consider the following sample query for resources that have two tags, <code>Stage</code> and <code>Version</code>, with two values each. (<code>[{\"Key\":\"Stage\",\"Values\":[\"Test\",\"Deploy\"]},{\"Key\":\"Version\",\"Values\":[\"1\",\"2\"]}]</code>) The results of this query might include the following.</p> <ul> <li> <p>An EC2 instance that has the following two tags: <code>{\"Key\":\"Stage\",\"Value\":\"Deploy\"}</code>, and <code>{\"Key\":\"Version\",\"Value\":\"2\"}</code> </p> </li> <li> <p>An S3 bucket that has the following two tags: {\"Key\":\"Stage\",\"Value\":\"Test\"}, and {\"Key\":\"Version\",\"Value\":\"1\"}</p> </li> </ul> <p>The query would not return the following results, however. The following EC2 instance does not have all tag keys specified in the filter, so it is rejected. The RDS database has all of the tag keys, but no values that match at least one of the specified tag key values in the filter.</p> <ul> <li> <p>An EC2 instance that has only the following tag: <code>{\"Key\":\"Stage\",\"Value\":\"Deploy\"}</code>.</p> </li> <li> <p>An RDS database that has the following two tags: <code>{\"Key\":\"Stage\",\"Value\":\"Archived\"}</code>, and <code>{\"Key\":\"Version\",\"Value\":\"4\"}</code> </p> </li> </ul> <p> <i> <code>CLOUDFORMATION_STACK_1_0:</code> </i> A JSON syntax that lets you specify a CloudFormation stack ARN.</p>",
          "shape": "QueryType"
        }
      },
      "required": [
        "Type",
        "Query"
      ],
      "type": "structure"
    },
    "ResourceType": {
      "pattern": "AWS::[a-zA-Z0-9]+::\\w+",
      "type": "string"
    },
    "SearchResourcesInput": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of group member ARNs returned by <code>SearchResources</code> in paginated output. By default, this number is 50.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The NextToken value that is returned in a paginated <code>SearchResources</code> request. To get the next page of results, run the call again, add the NextToken parameter, and specify the NextToken value.</p>",
          "shape": "NextToken"
        },
        "ResourceQuery": {
          "documentation": "<p>The search query, using the same formats that are supported for resource group definition.</p>",
          "shape": "ResourceQuery"
        }
      },
      "required": [
        "ResourceQuery"
      ],
      "type": "structure"
    },
    "SearchResourcesOutput": {
      "members": {
        "NextToken": {
          "documentation": "<p>The NextToken value to include in a subsequent <code>SearchResources</code> request, to get more results.</p>",
          "shape": "NextToken"
        },
        "QueryErrors": {
          "documentation": "<p>A list of <code>QueryError</code> objects. Each error is an object that contains <code>ErrorCode</code> and <code>Message</code> structures. Possible values for <code>ErrorCode</code> are <code>CLOUDFORMATION_STACK_INACTIVE</code> and <code>CLOUDFORMATION_STACK_NOT_EXISTING</code>.</p>",
          "shape": "QueryErrorList"
        },
        "ResourceIdentifiers": {
          "documentation": "<p>The ARNs and resource types of resources that are members of the group that you specified.</p>",
          "shape": "ResourceIdentifierList"
        }
      },
      "type": "structure"
    },
    "TagInput": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the resource to which to add tags.</p>",
          "location": "uri",
          "locationName": "Arn",
          "shape": "GroupArn"
        },
        "Tags": {
          "documentation": "<p>The tags to add to the specified resource. A tag is a string-to-string map of key-value pairs. Tag keys can have a maximum character length of 128 characters, and tag values can have a maximum length of 256 characters.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Arn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the tagged resource.</p>",
          "shape": "GroupArn"
        },
        "Tags": {
          "documentation": "<p>The tags that have been added to the specified resource.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "Tags": {
      "key": {
        "shape": "TagKey"
      },
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TooManyRequestsException": {
      "documentation": "<p>The caller has exceeded throttling limits.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UnauthorizedException": {
      "documentation": "<p>The request has not been applied because it lacks valid authentication credentials for the target resource.</p>",
      "error": {
        "httpStatusCode": 401
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "UntagInput": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the resource from which to remove tags.</p>",
          "location": "uri",
          "locationName": "Arn",
          "shape": "GroupArn"
        },
        "Keys": {
          "documentation": "<p>The keys of the tags to be removed.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "Arn",
        "Keys"
      ],
      "type": "structure"
    },
    "UntagOutput": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the resource from which tags have been removed.</p>",
          "shape": "GroupArn"
        },
        "Keys": {
          "documentation": "<p>The keys of tags that have been removed.</p>",
          "shape": "TagKeyList"
        }
      },
      "type": "structure"
    },
    "UpdateGroupInput": {
      "members": {
        "Description": {
          "documentation": "<p>The description of the resource group. Descriptions can have a maximum of 511 characters, including letters, numbers, hyphens, underscores, punctuation, and spaces.</p>",
          "shape": "GroupDescription"
        },
        "GroupName": {
          "documentation": "<p>The name of the resource group for which you want to update its description.</p>",
          "location": "uri",
          "locationName": "GroupName",
          "shape": "GroupName"
        }
      },
      "required": [
        "GroupName"
      ],
      "type": "structure"
    },
    "UpdateGroupOutput": {
      "members": {
        "Group": {
          "documentation": "<p>The full description of the resource group after it has been updated.</p>",
          "shape": "Group"
        }
      },
      "type": "structure"
    },
    "UpdateGroupQueryInput": {
      "members": {
        "GroupName": {
          "documentation": "<p>The name of the resource group for which you want to edit the query.</p>",
          "location": "uri",
          "locationName": "GroupName",
          "shape": "GroupName"
        },
        "ResourceQuery": {
          "documentation": "<p>The resource query that determines which AWS resources are members of the resource group.</p>",
          "shape": "ResourceQuery"
        }
      },
      "required": [
        "GroupName",
        "ResourceQuery"
      ],
      "type": "structure"
    },
    "UpdateGroupQueryOutput": {
      "members": {
        "GroupQuery": {
          "documentation": "<p>The resource query associated with the resource group after the update.</p>",
          "shape": "GroupQuery"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
