{
  "documentation": "<p>AWS App Mesh is a service mesh based on the Envoy proxy that makes it easy to monitor and\n         control microservices. App Mesh standardizes how your microservices communicate, giving you\n         end-to-end visibility and helping to ensure high availability for your applications.</p>\n         <p>App Mesh gives you consistent visibility and network traffic controls for every\n         microservice in an application. You can use App Mesh with AWS Fargate, Amazon ECS, Amazon EKS,\n         Kubernetes on AWS, and Amazon EC2.</p>\n         <note>\n            <p>App Mesh supports microservice applications that use service discovery naming for their\n            components. For more information about service discovery on Amazon ECS, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service Discovery</a> in the\n               <i>Amazon Elastic Container Service Developer Guide</i>. Kubernetes <code>kube-dns</code> and\n               <code>coredns</code> are supported. For more information, see <a href=\"https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/\">DNS\n               for Services and Pods</a> in the Kubernetes documentation.</p>\n         </note>",
  "metadata": {
    "apiVersion": "2019-01-25",
    "endpointPrefix": "appmesh",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS App Mesh",
    "serviceId": "App Mesh",
    "signatureVersion": "v4",
    "signingName": "appmesh",
    "uid": "appmesh-2019-01-25"
  },
  "operations": {
    "CreateMesh": {
      "documentation": "<p>Creates a service mesh. A service mesh is a logical boundary for network traffic between\n         the services that reside within it.</p>\n         <p>After you create your service mesh, you can create virtual services, virtual nodes,\n         virtual routers, and routes to distribute traffic between the applications in your\n         mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateMeshInput"
      },
      "name": "CreateMesh",
      "output": {
        "shape": "CreateMeshOutput"
      }
    },
    "CreateRoute": {
      "documentation": "<p>Creates a route that is associated with a virtual router.</p>\n         <p>You can use the <code>prefix</code> parameter in your route specification for path-based\n         routing of requests. For example, if your virtual service name is\n            <code>my-service.local</code> and you want the route to match requests to\n            <code>my-service.local/metrics</code>, your prefix should be\n         <code>/metrics</code>.</p>\n         <p>If your route matches a request, you can distribute traffic to one or more target\n         virtual nodes with relative weighting.</p>\n         <p>For more information about routes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/routes.html\">Routes</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateRouteInput"
      },
      "name": "CreateRoute",
      "output": {
        "shape": "CreateRouteOutput"
      }
    },
    "CreateVirtualNode": {
      "documentation": "<p>Creates a virtual node within a service mesh.</p>\n         <p>A virtual node acts as a logical pointer to a particular task group, such as an Amazon ECS\n         service or a Kubernetes deployment. When you create a virtual node, you can specify the\n         service discovery information for your task group.</p>\n         <p>Any inbound traffic that your virtual node expects should be specified as a\n            <code>listener</code>. Any outbound traffic that your virtual node expects to reach\n         should be specified as a <code>backend</code>.</p>\n         <p>The response metadata for your new virtual node contains the <code>arn</code> that is\n         associated with the virtual node. Set this value (either the full ARN or the truncated\n         resource name: for example, <code>mesh/default/virtualNode/simpleapp</code>) as the\n            <code>APPMESH_VIRTUAL_NODE_NAME</code> environment variable for your task group's Envoy\n         proxy container in your task definition or pod spec. This is then mapped to the\n            <code>node.id</code> and <code>node.cluster</code> Envoy parameters.</p>\n         <note>\n            <p>If you require your Envoy stats or tracing to use a different name, you can override\n            the <code>node.cluster</code> value that is set by\n               <code>APPMESH_VIRTUAL_NODE_NAME</code> with the\n               <code>APPMESH_VIRTUAL_NODE_CLUSTER</code> environment variable.</p>\n         </note>\n         <p>For more information about virtual nodes, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_nodes.html\">Virtual Nodes</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualNodeInput"
      },
      "name": "CreateVirtualNode",
      "output": {
        "shape": "CreateVirtualNodeOutput"
      }
    },
    "CreateVirtualRouter": {
      "documentation": "<p>Creates a virtual router within a service mesh.</p>\n         <p>Any inbound traffic that your virtual router expects should be specified as a\n            <code>listener</code>. </p>\n         <p>Virtual routers handle traffic for one or more virtual services within your mesh. After\n         you create your virtual router, create and associate routes for your virtual router that\n         direct incoming requests to different virtual nodes.</p>\n         <p>For more information about virtual routers, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_routers.html\">Virtual Routers</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualRouterInput"
      },
      "name": "CreateVirtualRouter",
      "output": {
        "shape": "CreateVirtualRouterOutput"
      }
    },
    "CreateVirtualService": {
      "documentation": "<p>Creates a virtual service within a service mesh.</p>\n         <p>A virtual service is an abstraction of a real service that is provided by a virtual node\n         directly or indirectly by means of a virtual router. Dependent services call your virtual\n         service by its <code>virtualServiceName</code>, and those requests are routed to the\n         virtual node or virtual router that is specified as the provider for the virtual\n         service.</p>\n         <p>For more information about virtual services, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/virtual_services.html\">Virtual Services</a>.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "CreateVirtualServiceInput"
      },
      "name": "CreateVirtualService",
      "output": {
        "shape": "CreateVirtualServiceOutput"
      }
    },
    "DeleteMesh": {
      "documentation": "<p>Deletes an existing service mesh.</p>\n         <p>You must delete all resources (virtual services, routes, virtual routers, and virtual\n         nodes) in the service mesh before you can delete the mesh itself.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMeshInput"
      },
      "name": "DeleteMesh",
      "output": {
        "shape": "DeleteMeshOutput"
      }
    },
    "DeleteRoute": {
      "documentation": "<p>Deletes an existing route.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteRouteInput"
      },
      "name": "DeleteRoute",
      "output": {
        "shape": "DeleteRouteOutput"
      }
    },
    "DeleteVirtualNode": {
      "documentation": "<p>Deletes an existing virtual node.</p>\n         <p>You must delete any virtual services that list a virtual node as a service provider\n         before you can delete the virtual node itself.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualNodeInput"
      },
      "name": "DeleteVirtualNode",
      "output": {
        "shape": "DeleteVirtualNodeOutput"
      }
    },
    "DeleteVirtualRouter": {
      "documentation": "<p>Deletes an existing virtual router.</p>\n         <p>You must delete any routes associated with the virtual router before you can delete the\n         router itself.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualRouterInput"
      },
      "name": "DeleteVirtualRouter",
      "output": {
        "shape": "DeleteVirtualRouterOutput"
      }
    },
    "DeleteVirtualService": {
      "documentation": "<p>Deletes an existing virtual service.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteVirtualServiceInput"
      },
      "name": "DeleteVirtualService",
      "output": {
        "shape": "DeleteVirtualServiceOutput"
      }
    },
    "DescribeMesh": {
      "documentation": "<p>Describes an existing service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMeshInput"
      },
      "name": "DescribeMesh",
      "output": {
        "shape": "DescribeMeshOutput"
      }
    },
    "DescribeRoute": {
      "documentation": "<p>Describes an existing route.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeRouteInput"
      },
      "name": "DescribeRoute",
      "output": {
        "shape": "DescribeRouteOutput"
      }
    },
    "DescribeVirtualNode": {
      "documentation": "<p>Describes an existing virtual node.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualNodeInput"
      },
      "name": "DescribeVirtualNode",
      "output": {
        "shape": "DescribeVirtualNodeOutput"
      }
    },
    "DescribeVirtualRouter": {
      "documentation": "<p>Describes an existing virtual router.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualRouterInput"
      },
      "name": "DescribeVirtualRouter",
      "output": {
        "shape": "DescribeVirtualRouterOutput"
      }
    },
    "DescribeVirtualService": {
      "documentation": "<p>Describes an existing virtual service.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeVirtualServiceInput"
      },
      "name": "DescribeVirtualService",
      "output": {
        "shape": "DescribeVirtualServiceOutput"
      }
    },
    "ListMeshes": {
      "documentation": "<p>Returns a list of existing service meshes.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMeshesInput"
      },
      "name": "ListMeshes",
      "output": {
        "shape": "ListMeshesOutput"
      }
    },
    "ListRoutes": {
      "documentation": "<p>Returns a list of existing routes in a service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListRoutesInput"
      },
      "name": "ListRoutes",
      "output": {
        "shape": "ListRoutesOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List the tags for an App Mesh resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "ListVirtualNodes": {
      "documentation": "<p>Returns a list of existing virtual nodes.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualNodesInput"
      },
      "name": "ListVirtualNodes",
      "output": {
        "shape": "ListVirtualNodesOutput"
      }
    },
    "ListVirtualRouters": {
      "documentation": "<p>Returns a list of existing virtual routers in a service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualRoutersInput"
      },
      "name": "ListVirtualRouters",
      "output": {
        "shape": "ListVirtualRoutersOutput"
      }
    },
    "ListVirtualServices": {
      "documentation": "<p>Returns a list of existing virtual services in a service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVirtualServicesInput"
      },
      "name": "ListVirtualServices",
      "output": {
        "shape": "ListVirtualServicesOutput"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates the specified tags to a resource with the specified <code>resourceArn</code>.\n         If existing tags on a resource aren't specified in the request parameters, they aren't\n         changed. When a resource is deleted, the tags associated with that resource are also\n         deleted.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/tag",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p>Deletes specified tags from a resource.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/untag",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdateMesh": {
      "documentation": "<p>Updates an existing service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMeshInput"
      },
      "name": "UpdateMesh",
      "output": {
        "shape": "UpdateMeshOutput"
      }
    },
    "UpdateRoute": {
      "documentation": "<p>Updates an existing route for a specified service mesh and virtual router.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouter/{virtualRouterName}/routes/{routeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateRouteInput"
      },
      "name": "UpdateRoute",
      "output": {
        "shape": "UpdateRouteOutput"
      }
    },
    "UpdateVirtualNode": {
      "documentation": "<p>Updates an existing virtual node in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualNodes/{virtualNodeName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualNodeInput"
      },
      "name": "UpdateVirtualNode",
      "output": {
        "shape": "UpdateVirtualNodeOutput"
      }
    },
    "UpdateVirtualRouter": {
      "documentation": "<p>Updates an existing virtual router in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualRouters/{virtualRouterName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualRouterInput"
      },
      "name": "UpdateVirtualRouter",
      "output": {
        "shape": "UpdateVirtualRouterOutput"
      }
    },
    "UpdateVirtualService": {
      "documentation": "<p>Updates an existing virtual service in a specified service mesh.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ConflictException"
        },
        {
          "shape": "ForbiddenException"
        },
        {
          "shape": "InternalServerErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20190125/meshes/{meshName}/virtualServices/{virtualServiceName}",
        "responseCode": 200
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateVirtualServiceInput"
      },
      "name": "UpdateVirtualService",
      "output": {
        "shape": "UpdateVirtualServiceOutput"
      }
    }
  },
  "shapes": {
    "AccessLog": {
      "documentation": "<p>An object that represents the access logging information for a virtual node.</p>",
      "members": {
        "file": {
          "documentation": "<p>The file object to send virtual node access logs to.</p>",
          "shape": "FileAccessLog"
        }
      },
      "type": "structure"
    },
    "AccountId": {
      "max": 12,
      "min": 12,
      "type": "string"
    },
    "Arn": {
      "type": "string"
    },
    "AwsCloudMapInstanceAttribute": {
      "documentation": "<p>An object that represents the AWS Cloud Map attribute information for your virtual\n         node.</p>",
      "members": {
        "key": {
          "documentation": "<p>The name of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service\n         instance that contains the specified key and value is returned.</p>",
          "shape": "AwsCloudMapInstanceAttributeKey"
        },
        "value": {
          "documentation": "<p>The value of an AWS Cloud Map service instance attribute key. Any AWS Cloud Map service\n         instance that contains the specified key and value is returned.</p>",
          "shape": "AwsCloudMapInstanceAttributeValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "AwsCloudMapInstanceAttributeKey": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9!-~]+$",
      "type": "string"
    },
    "AwsCloudMapInstanceAttributeValue": {
      "max": 1024,
      "min": 1,
      "pattern": "^([a-zA-Z0-9!-~][ ta-zA-Z0-9!-~]*){0,1}[a-zA-Z0-9!-~]{0,1}$",
      "type": "string"
    },
    "AwsCloudMapInstanceAttributes": {
      "member": {
        "shape": "AwsCloudMapInstanceAttribute"
      },
      "type": "list"
    },
    "AwsCloudMapName": {
      "max": 1024,
      "min": 1,
      "pattern": "((?=^.{1,127}$)^([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9])(.([a-zA-Z0-9_][a-zA-Z0-9-_]{0,61}[a-zA-Z0-9_]|[a-zA-Z0-9]))*$)|(^.$)",
      "type": "string"
    },
    "AwsCloudMapServiceDiscovery": {
      "documentation": "<p>An object that represents the AWS Cloud Map service discovery information for your virtual\n         node.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>A string map that contains attributes with values that you can use to filter instances\n         by any custom attribute that you specified when you registered the instance. Only instances\n         that match all of the specified key/value pairs will be returned.</p>",
          "shape": "AwsCloudMapInstanceAttributes"
        },
        "namespaceName": {
          "documentation": "<p>The name of the AWS Cloud Map namespace to use.</p>",
          "shape": "AwsCloudMapName"
        },
        "serviceName": {
          "documentation": "<p>The name of the AWS Cloud Map service to use.</p>",
          "shape": "AwsCloudMapName"
        }
      },
      "required": [
        "namespaceName",
        "serviceName"
      ],
      "type": "structure"
    },
    "Backend": {
      "documentation": "<p>An object that represents the backends that a virtual node is expected to send outbound\n         traffic to. </p>",
      "members": {
        "virtualService": {
          "documentation": "<p>Specifies a virtual service to use as a backend for a virtual node. </p>",
          "shape": "VirtualServiceBackend"
        }
      },
      "type": "structure"
    },
    "BackendDefaults": {
      "documentation": "<p>An object that represents the default properties for a backend.</p>",
      "members": {
        "clientPolicy": {
          "documentation": "<p>A reference to an object that represents a client policy.</p>",
          "shape": "ClientPolicy"
        }
      },
      "type": "structure"
    },
    "Backends": {
      "member": {
        "shape": "Backend"
      },
      "type": "list"
    },
    "BadRequestException": {
      "documentation": "<p>The request syntax was malformed. Check your request syntax and try again.</p>",
      "error": {
        "code": "BadRequestException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "box": true,
      "type": "boolean"
    },
    "CertificateAuthorityArns": {
      "max": 3,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "ClientPolicy": {
      "documentation": "<p>An object that represents a client policy.</p>",
      "members": {
        "tls": {
          "documentation": "<p>A reference to an object that represents a Transport Layer Security (TLS) client policy.</p>",
          "shape": "ClientPolicyTls"
        }
      },
      "type": "structure"
    },
    "ClientPolicyTls": {
      "documentation": "<p>An object that represents a Transport Layer Security (TLS) client policy.</p>",
      "members": {
        "enforce": {
          "box": true,
          "documentation": "<p>Whether the policy is enforced. The default is <code>True</code>, if a value isn't specified.</p>",
          "shape": "Boolean"
        },
        "ports": {
          "documentation": "<p>The range of ports that the policy is enforced for.</p>",
          "shape": "PortSet"
        },
        "validation": {
          "documentation": "<p>A reference to an object that represents a TLS validation context.</p>",
          "shape": "TlsValidationContext"
        }
      },
      "required": [
        "validation"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "<p>The request contains a client token that was used for a previous update resource call\n         with different specifications. Try the request again with a new client token.</p>",
      "error": {
        "code": "ConflictException",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreateMeshInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name to use for the service mesh.</p>",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The service mesh specification to apply.</p>",
          "shape": "MeshSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the service mesh to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
          "shape": "TagList",
          "tags": [
            "not-preview"
          ]
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "CreateMeshOutput": {
      "documentation": "",
      "members": {
        "mesh": {
          "documentation": "<p>The full description of your service mesh following the create call.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "required": [
        "mesh"
      ],
      "type": "structure"
    },
    "CreateRouteInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the route in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "routeName": {
          "documentation": "<p>The name to use for the route.</p>",
          "shape": "ResourceName"
        },
        "spec": {
          "documentation": "<p>The route specification to apply.</p>",
          "shape": "RouteSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the route to assist with categorization and\n         organization. Each tag consists of a key and an optional value, both of which you define.\n         Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
          "shape": "TagList",
          "tags": [
            "not-preview"
          ]
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router in which to create the route. If the virtual router is in a shared mesh,\n         then you must be the owner of the virtual router resource.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "CreateRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>The full description of your mesh following the create call.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "required": [
        "route"
      ],
      "type": "structure"
    },
    "CreateVirtualNodeInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual node in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual node specification to apply.</p>",
          "shape": "VirtualNodeSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual node to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
          "shape": "TagList",
          "tags": [
            "not-preview"
          ]
        },
        "virtualNodeName": {
          "documentation": "<p>The name to use for the virtual node.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "CreateVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>The full description of your virtual node following the create call.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "required": [
        "virtualNode"
      ],
      "type": "structure"
    },
    "CreateVirtualRouterInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual router in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual router specification to apply.</p>",
          "shape": "VirtualRouterSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual router to assist with categorization\n         and organization. Each tag consists of a key and an optional value, both of which you\n         define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
          "shape": "TagList",
          "tags": [
            "not-preview"
          ]
        },
        "virtualRouterName": {
          "documentation": "<p>The name to use for the virtual router.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "CreateVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The full description of your virtual router following the create call.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "required": [
        "virtualRouter"
      ],
      "type": "structure"
    },
    "CreateVirtualServiceInput": {
      "documentation": "",
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the\nrequest. Up to 36 letters, numbers, hyphens, and underscores are allowed.</p>",
          "idempotencyToken": true,
          "shape": "String"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to create the virtual service in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then\n               the account that you specify must share the mesh with your account before you can create \n             the resource in the service mesh. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "spec": {
          "documentation": "<p>The virtual service specification to apply.</p>",
          "shape": "VirtualServiceSpec"
        },
        "tags": {
          "documentation": "<p>Optional metadata that you can apply to the virtual service to assist with\n         categorization and organization. Each tag consists of a key and an optional value, both of\n         which you define. Tag keys can have a maximum character length of 128 characters, and tag values can have\n            a maximum length of 256 characters.</p>",
          "shape": "TagList",
          "tags": [
            "not-preview"
          ]
        },
        "virtualServiceName": {
          "documentation": "<p>The name to use for the virtual service.</p>",
          "shape": "ServiceName"
        }
      },
      "required": [
        "meshName",
        "spec",
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "CreateVirtualServiceOutput": {
      "documentation": "",
      "members": {
        "virtualService": {
          "documentation": "<p>The full description of your virtual service following the create call.</p>",
          "shape": "VirtualServiceData"
        }
      },
      "payload": "virtualService",
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "DeleteMeshInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "DeleteMeshOutput": {
      "documentation": "",
      "members": {
        "mesh": {
          "documentation": "<p>The service mesh that was deleted.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "required": [
        "mesh"
      ],
      "type": "structure"
    },
    "DeleteRouteInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the route in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "routeName": {
          "documentation": "<p>The name of the route to delete.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to delete the route in.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DeleteRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>The route that was deleted.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "required": [
        "route"
      ],
      "type": "structure"
    },
    "DeleteVirtualNodeInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual node in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to delete.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "DeleteVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>The virtual node that was deleted.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "required": [
        "virtualNode"
      ],
      "type": "structure"
    },
    "DeleteVirtualRouterInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual router in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to delete.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DeleteVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The virtual router that was deleted.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "required": [
        "virtualRouter"
      ],
      "type": "structure"
    },
    "DeleteVirtualServiceInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to delete the virtual service in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualServiceName": {
          "documentation": "<p>The name of the virtual service to delete.</p>",
          "location": "uri",
          "locationName": "virtualServiceName",
          "shape": "ServiceName"
        }
      },
      "required": [
        "meshName",
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "DeleteVirtualServiceOutput": {
      "documentation": "",
      "members": {
        "virtualService": {
          "documentation": "<p>The virtual service that was deleted.</p>",
          "shape": "VirtualServiceData"
        }
      },
      "payload": "virtualService",
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "DescribeMeshInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh to describe.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "DescribeMeshOutput": {
      "documentation": "",
      "members": {
        "mesh": {
          "documentation": "<p>The full description of your service mesh.</p>",
          "shape": "MeshData"
        }
      },
      "payload": "mesh",
      "required": [
        "mesh"
      ],
      "type": "structure"
    },
    "DescribeRouteInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the route resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "routeName": {
          "documentation": "<p>The name of the route to describe.</p>",
          "location": "uri",
          "locationName": "routeName",
          "shape": "ResourceName"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router that the route is associated with.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "routeName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DescribeRouteOutput": {
      "documentation": "",
      "members": {
        "route": {
          "documentation": "<p>The full description of your route.</p>",
          "shape": "RouteData"
        }
      },
      "payload": "route",
      "required": [
        "route"
      ],
      "type": "structure"
    },
    "DescribeVirtualNodeInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the virtual node resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualNodeName": {
          "documentation": "<p>The name of the virtual node to describe.</p>",
          "location": "uri",
          "locationName": "virtualNodeName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualNodeName"
      ],
      "type": "structure"
    },
    "DescribeVirtualNodeOutput": {
      "documentation": "",
      "members": {
        "virtualNode": {
          "documentation": "<p>The full description of your virtual node.</p>",
          "shape": "VirtualNodeData"
        }
      },
      "payload": "virtualNode",
      "required": [
        "virtualNode"
      ],
      "type": "structure"
    },
    "DescribeVirtualRouterInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the virtual router resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to describe.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "DescribeVirtualRouterOutput": {
      "documentation": "",
      "members": {
        "virtualRouter": {
          "documentation": "<p>The full description of your virtual router.</p>",
          "shape": "VirtualRouterData"
        }
      },
      "payload": "virtualRouter",
      "required": [
        "virtualRouter"
      ],
      "type": "structure"
    },
    "DescribeVirtualServiceInput": {
      "documentation": "",
      "members": {
        "meshName": {
          "documentation": "<p>The name of the service mesh that the virtual service resides in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "virtualServiceName": {
          "documentation": "<p>The name of the virtual service to describe.</p>",
          "location": "uri",
          "locationName": "virtualServiceName",
          "shape": "ServiceName"
        }
      },
      "required": [
        "meshName",
        "virtualServiceName"
      ],
      "type": "structure"
    },
    "DescribeVirtualServiceOutput": {
      "documentation": "",
      "members": {
        "virtualService": {
          "documentation": "<p>The full description of your virtual service.</p>",
          "shape": "VirtualServiceData"
        }
      },
      "payload": "virtualService",
      "required": [
        "virtualService"
      ],
      "type": "structure"
    },
    "DnsServiceDiscovery": {
      "documentation": "<p>An object that represents the DNS service discovery information for your virtual\n         node.</p>",
      "members": {
        "hostname": {
          "documentation": "<p>Specifies the DNS service discovery hostname for the virtual node. </p>",
          "shape": "Hostname"
        }
      },
      "required": [
        "hostname"
      ],
      "type": "structure"
    },
    "Duration": {
      "documentation": "<p>An object that represents a duration of time.</p>",
      "members": {
        "unit": {
          "documentation": "<p>A unit of time.</p>",
          "shape": "DurationUnit"
        },
        "value": {
          "documentation": "<p>A number of time units.</p>",
          "shape": "DurationValue"
        }
      },
      "type": "structure"
    },
    "DurationUnit": {
      "enum": [
        "ms",
        "s"
      ],
      "type": "string"
    },
    "DurationValue": {
      "box": true,
      "min": 0,
      "type": "long"
    },
    "EgressFilter": {
      "documentation": "<p>An object that represents the egress filter rules for a service mesh.</p>",
      "members": {
        "type": {
          "documentation": "<p>The egress filter type. By default, the type is <code>DROP_ALL</code>, which allows\n         egress only from virtual nodes to other defined resources in the service mesh (and any\n         traffic to <code>*.amazonaws.com</code> for AWS API calls). You can set the egress filter\n         type to <code>ALLOW_ALL</code> to allow egress to any endpoint inside or outside of the\n         service mesh.</p>",
          "shape": "EgressFilterType"
        }
      },
      "required": [
        "type"
      ],
      "type": "structure"
    },
    "EgressFilterType": {
      "enum": [
        "ALLOW_ALL",
        "DROP_ALL"
      ],
      "type": "string"
    },
    "FileAccessLog": {
      "documentation": "<p>An object that represents an access log file.</p>",
      "members": {
        "path": {
          "documentation": "<p>The file path to write access logs to. You can use <code>/dev/stdout</code> to send\n         access logs to standard out and configure your Envoy container to use a log driver, such as\n            <code>awslogs</code>, to export the access logs to a log storage service such as Amazon\n         CloudWatch Logs. You can also specify a path in the Envoy container's file system to write\n         the files to disk.</p>\n         <note>\n            <p>The Envoy process must have write permissions to the path that you specify here.\n            Otherwise, Envoy fails to bootstrap properly.</p>\n         </note>",
          "shape": "FilePath"
        }
      },
      "required": [
        "path"
      ],
      "type": "structure"
    },
    "FilePath": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ForbiddenException": {
      "documentation": "<p>You don't have permissions to perform this action.</p>",
      "error": {
        "code": "ForbiddenException",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GrpcRetryPolicy": {
      "documentation": "<p>An object that represents a retry policy. Specify at least one value for at least one of the types of <code>RetryEvents</code>, a value for <code>maxRetries</code>, and a value for <code>perRetryTimeout</code>.</p>",
      "members": {
        "grpcRetryEvents": {
          "documentation": "<p>Specify at least one of the valid values.</p>",
          "shape": "GrpcRetryPolicyEvents"
        },
        "httpRetryEvents": {
          "documentation": "<p>Specify at least one of the following values.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>server-error</b> \u2013 HTTP status codes 500, 501,\n                  502, 503, 504, 505, 506, 507, 508, 510, and 511</p>\n            </li>\n            <li>\n               <p>\n                  <b>gateway-error</b> \u2013 HTTP status codes 502,\n                  503, and 504</p>\n            </li>\n            <li>\n               <p>\n                  <b>client-error</b> \u2013 HTTP status code 409</p>\n            </li>\n            <li>\n               <p>\n                  <b>stream-error</b> \u2013 Retry on refused\n                  stream</p>\n            </li>\n         </ul>",
          "shape": "HttpRetryPolicyEvents"
        },
        "maxRetries": {
          "documentation": "<p>The maximum number of retry attempts.</p>",
          "shape": "MaxRetries"
        },
        "perRetryTimeout": {
          "documentation": "<p>An object that represents a duration of time.</p>",
          "shape": "Duration"
        },
        "tcpRetryEvents": {
          "documentation": "<p>Specify a valid value.</p>",
          "shape": "TcpRetryPolicyEvents"
        }
      },
      "required": [
        "maxRetries",
        "perRetryTimeout"
      ],
      "type": "structure"
    },
    "GrpcRetryPolicyEvent": {
      "enum": [
        "cancelled",
        "deadline-exceeded",
        "internal",
        "resource-exhausted",
        "unavailable"
      ],
      "type": "string"
    },
    "GrpcRetryPolicyEvents": {
      "max": 5,
      "member": {
        "shape": "GrpcRetryPolicyEvent"
      },
      "min": 1,
      "type": "list"
    },
    "GrpcRoute": {
      "documentation": "<p>An object that represents a gRPC route type.</p>",
      "members": {
        "action": {
          "documentation": "<p>An object that represents the action to take if a match is determined.</p>",
          "shape": "GrpcRouteAction"
        },
        "match": {
          "documentation": "<p>An object that represents the criteria for determining a request match.</p>",
          "shape": "GrpcRouteMatch"
        },
        "retryPolicy": {
          "documentation": "<p>An object that represents a retry policy.</p>",
          "shape": "GrpcRetryPolicy"
        }
      },
      "required": [
        "action",
        "match"
      ],
      "type": "structure"
    },
    "GrpcRouteAction": {
      "documentation": "<p>An object that represents the action to take if a match is determined.</p>",
      "members": {
        "weightedTargets": {
          "documentation": "<p>An object that represents the targets that traffic is routed to when a request matches the route.</p>",
          "shape": "WeightedTargets"
        }
      },
      "required": [
        "weightedTargets"
      ],
      "type": "structure"
    },
    "GrpcRouteMatch": {
      "documentation": "<p>An object that represents the criteria for determining a request match.</p>",
      "members": {
        "metadata": {
          "documentation": "<p>An object that represents the data to match from the request.</p>",
          "shape": "GrpcRouteMetadataList"
        },
        "methodName": {
          "documentation": "<p>The method name to match from the request. If you specify a name, you must also specify a <code>serviceName</code>.</p>",
          "shape": "MethodName"
        },
        "serviceName": {
          "documentation": "<p>The fully qualified domain name for the service to match from the request.</p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "GrpcRouteMetadata": {
      "documentation": "<p>An object that represents the match metadata for the route.</p>",
      "members": {
        "invert": {
          "documentation": "<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>",
          "shape": "Boolean"
        },
        "match": {
          "documentation": "<p>An object that represents the data to match from the request.</p>",
          "shape": "GrpcRouteMetadataMatchMethod"
        },
        "name": {
          "documentation": "<p>The name of the route.</p>",
          "shape": "HeaderName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "GrpcRouteMetadataList": {
      "max": 10,
      "member": {
        "shape": "GrpcRouteMetadata"
      },
      "min": 1,
      "type": "list"
    },
    "GrpcRouteMetadataMatchMethod": {
      "documentation": "<p>An object that represents the match method. Specify one of the match values.</p>",
      "members": {
        "exact": {
          "documentation": "<p>The value sent by the client must match the specified value exactly.</p>",
          "shape": "HeaderMatch"
        },
        "prefix": {
          "documentation": "<p>The value sent by the client must begin with the specified characters.</p>",
          "shape": "HeaderMatch"
        },
        "range": {
          "documentation": "<p>An object that represents the range of values to match on.</p>",
          "shape": "MatchRange"
        },
        "regex": {
          "documentation": "<p>The value sent by the client must include the specified characters.</p>",
          "shape": "HeaderMatch"
        },
        "suffix": {
          "documentation": "<p>The value sent by the client must end with the specified characters.</p>",
          "shape": "HeaderMatch"
        }
      },
      "type": "structure"
    },
    "HeaderMatch": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "HeaderMatchMethod": {
      "documentation": "<p>An object that represents the method and value to match with the header value sent in a\n         request. Specify one match method.</p>",
      "members": {
        "exact": {
          "documentation": "<p>The value sent by the client must match the specified value exactly.</p>",
          "shape": "HeaderMatch"
        },
        "prefix": {
          "documentation": "<p>The value sent by the client must begin with the specified characters.</p>",
          "shape": "HeaderMatch"
        },
        "range": {
          "documentation": "<p>An object that represents the range of values to match on.</p>",
          "shape": "MatchRange"
        },
        "regex": {
          "documentation": "<p>The value sent by the client must include the specified characters.</p>",
          "shape": "HeaderMatch"
        },
        "suffix": {
          "documentation": "<p>The value sent by the client must end with the specified characters.</p>",
          "shape": "HeaderMatch"
        }
      },
      "type": "structure"
    },
    "HeaderName": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "HealthCheckIntervalMillis": {
      "box": true,
      "max": 300000,
      "min": 5000,
      "type": "long"
    },
    "HealthCheckPolicy": {
      "documentation": "<p>An object that represents the health check policy for a virtual node's listener.</p>",
      "members": {
        "healthyThreshold": {
          "documentation": "<p>The number of consecutive successful health checks that must occur before declaring\n         listener healthy.</p>",
          "shape": "HealthCheckThreshold"
        },
        "intervalMillis": {
          "documentation": "<p>The time period in milliseconds between each health check execution.</p>",
          "shape": "HealthCheckIntervalMillis"
        },
        "path": {
          "documentation": "<p>The destination path for the health check request. This value is only used if the specified \n         protocol is HTTP or HTTP/2. For any other protocol, this value is ignored.</p>",
          "shape": "String"
        },
        "port": {
          "documentation": "<p>The destination port for the health check request. This port must match the port defined\n         in the <a>PortMapping</a> for the listener.</p>",
          "shape": "PortNumber"
        },
        "protocol": {
          "documentation": "<p>The protocol for the health check request. If you specify <code>grpc</code>, then your service must conform to the <a href=\"https://github.com/grpc/grpc/blob/master/doc/health-checking.md\">GRPC Health Checking Protocol</a>.</p>",
          "shape": "PortProtocol"
        },
        "timeoutMillis": {
          "documentation": "<p>The amount of time to wait when receiving a response from the health check, in\n         milliseconds.</p>",
          "shape": "HealthCheckTimeoutMillis"
        },
        "unhealthyThreshold": {
          "documentation": "<p>The number of consecutive failed health checks that must occur before declaring a\n         virtual node unhealthy. </p>",
          "shape": "HealthCheckThreshold"
        }
      },
      "required": [
        "healthyThreshold",
        "intervalMillis",
        "protocol",
        "timeoutMillis",
        "unhealthyThreshold"
      ],
      "type": "structure"
    },
    "HealthCheckThreshold": {
      "max": 10,
      "min": 2,
      "type": "integer"
    },
    "HealthCheckTimeoutMillis": {
      "box": true,
      "max": 60000,
      "min": 2000,
      "type": "long"
    },
    "Hostname": {
      "type": "string"
    },
    "HttpMethod": {
      "enum": [
        "CONNECT",
        "DELETE",
        "GET",
        "HEAD",
        "OPTIONS",
        "PATCH",
        "POST",
        "PUT",
        "TRACE"
      ],
      "type": "string"
    },
    "HttpRetryPolicy": {
      "documentation": "<p>An object that represents a retry policy. Specify at least one value for at least one of the types of <code>RetryEvents</code>, a value for <code>maxRetries</code>, and a value for <code>perRetryTimeout</code>.</p>",
      "members": {
        "httpRetryEvents": {
          "documentation": "<p>Specify at least one of the following values.</p>\n         <ul>\n            <li>\n               <p>\n                  <b>server-error</b> \u2013 HTTP status codes 500, 501,\n                  502, 503, 504, 505, 506, 507, 508, 510, and 511</p>\n            </li>\n            <li>\n               <p>\n                  <b>gateway-error</b> \u2013 HTTP status codes 502,\n                  503, and 504</p>\n            </li>\n            <li>\n               <p>\n                  <b>client-error</b> \u2013 HTTP status code 409</p>\n            </li>\n            <li>\n               <p>\n                  <b>stream-error</b> \u2013 Retry on refused\n                  stream</p>\n            </li>\n         </ul>",
          "shape": "HttpRetryPolicyEvents"
        },
        "maxRetries": {
          "documentation": "<p>The maximum number of retry attempts.</p>",
          "shape": "MaxRetries"
        },
        "perRetryTimeout": {
          "documentation": "<p>An object that represents a duration of time.</p>",
          "shape": "Duration"
        },
        "tcpRetryEvents": {
          "documentation": "<p>Specify a valid value.</p>",
          "shape": "TcpRetryPolicyEvents"
        }
      },
      "required": [
        "maxRetries",
        "perRetryTimeout"
      ],
      "type": "structure"
    },
    "HttpRetryPolicyEvent": {
      "max": 25,
      "min": 1,
      "type": "string"
    },
    "HttpRetryPolicyEvents": {
      "max": 25,
      "member": {
        "shape": "HttpRetryPolicyEvent"
      },
      "min": 1,
      "type": "list"
    },
    "HttpRoute": {
      "documentation": "<p>An object that represents an HTTP or HTTP/2 route type.</p>",
      "members": {
        "action": {
          "documentation": "<p>An object that represents the action to take if a match is determined.</p>",
          "shape": "HttpRouteAction"
        },
        "match": {
          "documentation": "<p>An object that represents the criteria for determining a request match.</p>",
          "shape": "HttpRouteMatch"
        },
        "retryPolicy": {
          "documentation": "<p>An object that represents a retry policy.</p>",
          "shape": "HttpRetryPolicy"
        }
      },
      "required": [
        "action",
        "match"
      ],
      "type": "structure"
    },
    "HttpRouteAction": {
      "documentation": "<p>An object that represents the action to take if a match is determined.</p>",
      "members": {
        "weightedTargets": {
          "documentation": "<p>An object that represents the targets that traffic is routed to when a request matches the route.</p>",
          "shape": "WeightedTargets"
        }
      },
      "required": [
        "weightedTargets"
      ],
      "type": "structure"
    },
    "HttpRouteHeader": {
      "documentation": "<p>An object that represents the HTTP header in the request.</p>",
      "members": {
        "invert": {
          "documentation": "<p>Specify <code>True</code> to match anything except the match criteria. The default value is <code>False</code>.</p>",
          "shape": "Boolean"
        },
        "match": {
          "documentation": "<p>The <code>HeaderMatchMethod</code> object.</p>",
          "shape": "HeaderMatchMethod"
        },
        "name": {
          "documentation": "<p>A name for the HTTP header in the client request that will be matched on.</p>",
          "shape": "HeaderName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "HttpRouteHeaders": {
      "max": 10,
      "member": {
        "shape": "HttpRouteHeader"
      },
      "min": 1,
      "type": "list"
    },
    "HttpRouteMatch": {
      "documentation": "<p>An object that represents the requirements for a route to match HTTP requests for a virtual\n         router.</p>",
      "members": {
        "headers": {
          "documentation": "<p>An object that represents the client request headers to match on.</p>",
          "shape": "HttpRouteHeaders"
        },
        "method": {
          "documentation": "<p>The client request method to match on. Specify only one.</p>",
          "shape": "HttpMethod"
        },
        "prefix": {
          "documentation": "<p>Specifies the path to match requests with. This parameter must always start with\n            <code>/</code>, which by itself matches all requests to the virtual service name. You\n         can also match for path-based routing of requests. For example, if your virtual service\n         name is <code>my-service.local</code> and you want the route to match requests to\n            <code>my-service.local/metrics</code>, your prefix should be\n         <code>/metrics</code>.</p>",
          "shape": "String"
        },
        "scheme": {
          "documentation": "<p>The client request scheme to match on. Specify only one.</p>",
          "shape": "HttpScheme"
        }
      },
      "required": [
        "prefix"
      ],
      "type": "structure"
    },
    "HttpScheme": {
      "enum": [
        "http",
        "https"
      ],
      "type": "string"
    },
    "InternalServerErrorException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception, or\n         failure.</p>",
      "error": {
        "code": "InternalServerErrorException",
        "fault": true,
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>You have exceeded a service limit for your account. For more information, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/service_limits.html\">Service\n            Limits</a> in the <i>AWS App Mesh User Guide</i>.</p>",
      "error": {
        "code": "LimitExceededException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListMeshesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of results returned by <code>ListMeshes</code> in paginated output.\n         When you use this parameter, <code>ListMeshes</code> returns only <code>limit</code>\n         results in a single page along with a <code>nextToken</code> response element. You can see\n         the remaining results of the initial request by sending another <code>ListMeshes</code>\n         request with the returned <code>nextToken</code> value. This value can be between\n         1 and 100. If you don't use this parameter,\n            <code>ListMeshes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListMeshesLimit"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListMeshes</code> request where <code>limit</code> was used and the results\n         exceeded the value of that parameter. Pagination continues from the end of the previous\n         results that returned the <code>nextToken</code> value.</p> \n         <note>\n            <p>This token should be treated as an opaque identifier that is used only to\n                retrieve the next items in a list and not for other programmatic purposes.</p>\n        </note>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListMeshesLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListMeshesOutput": {
      "documentation": "",
      "members": {
        "meshes": {
          "documentation": "<p>The list of existing service meshes.</p>",
          "shape": "MeshList"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListMeshes</code> request.\n         When the results of a <code>ListMeshes</code> request exceed <code>limit</code>, you can\n         use this value to retrieve the next page of results. This value is <code>null</code> when\n         there are no more results to return.</p>",
          "shape": "String"
        }
      },
      "required": [
        "meshes"
      ],
      "type": "structure"
    },
    "ListRoutesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of results returned by <code>ListRoutes</code> in paginated output.\n         When you use this parameter, <code>ListRoutes</code> returns only <code>limit</code>\n         results in a single page along with a <code>nextToken</code> response element. You can see\n         the remaining results of the initial request by sending another <code>ListRoutes</code>\n         request with the returned <code>nextToken</code> value. This value can be between\n         1 and 100. If you don't use this parameter,\n            <code>ListRoutes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListRoutesLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to list routes in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListRoutes</code> request where <code>limit</code> was used and the results\n         exceeded the value of that parameter. Pagination continues from the end of the previous\n         results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        },
        "virtualRouterName": {
          "documentation": "<p>The name of the virtual router to list routes in.</p>",
          "location": "uri",
          "locationName": "virtualRouterName",
          "shape": "ResourceName"
        }
      },
      "required": [
        "meshName",
        "virtualRouterName"
      ],
      "type": "structure"
    },
    "ListRoutesLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListRoutesOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListRoutes</code> request.\n         When the results of a <code>ListRoutes</code> request exceed <code>limit</code>, you can\n         use this value to retrieve the next page of results. This value is <code>null</code> when\n         there are no more results to return.</p>",
          "shape": "String"
        },
        "routes": {
          "documentation": "<p>The list of existing routes for the specified service mesh and virtual router.</p>",
          "shape": "RouteList"
        }
      },
      "required": [
        "routes"
      ],
      "type": "structure"
    },
    "ListTagsForResourceInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of tag results returned by <code>ListTagsForResource</code> in\n         paginated output. When this parameter is used, <code>ListTagsForResource</code> returns\n         only <code>limit</code> results in a single page along with a <code>nextToken</code>\n         response element. You can see the remaining results of the initial request by sending\n         another <code>ListTagsForResource</code> request with the returned <code>nextToken</code>\n         value. This value can be between 1 and 100. If you don't use\n         this parameter, <code>ListTagsForResource</code> returns up to 100\n         results and a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "TagsLimit"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListTagsForResource</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        },
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that identifies the resource to list the tags for.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListTagsForResource</code>\n         request. When the results of a <code>ListTagsForResource</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>The tags for the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "tags"
      ],
      "type": "structure"
    },
    "ListVirtualNodesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of results returned by <code>ListVirtualNodes</code> in paginated\n         output. When you use this parameter, <code>ListVirtualNodes</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualNodes</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this\n         parameter, <code>ListVirtualNodes</code> returns up to 100 results and a\n            <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListVirtualNodesLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to list virtual nodes in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListVirtualNodes</code> request where <code>limit</code> was used and the results\n         exceeded the value of that parameter. Pagination continues from the end of the previous\n         results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "ListVirtualNodesLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListVirtualNodesOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualNodes</code>\n         request. When the results of a <code>ListVirtualNodes</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>",
          "shape": "String"
        },
        "virtualNodes": {
          "documentation": "<p>The list of existing virtual nodes for the specified service mesh.</p>",
          "shape": "VirtualNodeList"
        }
      },
      "required": [
        "virtualNodes"
      ],
      "type": "structure"
    },
    "ListVirtualRoutersInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of results returned by <code>ListVirtualRouters</code> in paginated\n         output. When you use this parameter, <code>ListVirtualRouters</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualRouters</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this\n         parameter, <code>ListVirtualRouters</code> returns up to 100 results and\n         a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListVirtualRoutersLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to list virtual routers in.</p>",
          "location": "uri",
          "locationName": "meshName",
          "shape": "ResourceName"
        },
        "meshOwner": {
          "documentation": "<p>The AWS IAM account ID of the service mesh owner. If the account ID is not your own, then it's\n               the ID of the account that shared the mesh with your account. For more information about mesh sharing, see <a href=\"https://docs.aws.amazon.com/app-mesh/latest/userguide/sharing.html\">Working with Shared Meshes</a>.</p>",
          "location": "querystring",
          "locationName": "meshOwner",
          "shape": "AccountId"
        },
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value returned from a previous paginated\n            <code>ListVirtualRouters</code> request where <code>limit</code> was used and the\n         results exceeded the value of that parameter. Pagination continues from the end of the\n         previous results that returned the <code>nextToken</code> value.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "String"
        }
      },
      "required": [
        "meshName"
      ],
      "type": "structure"
    },
    "ListVirtualRoutersLimit": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "ListVirtualRoutersOutput": {
      "documentation": "",
      "members": {
        "nextToken": {
          "documentation": "<p>The <code>nextToken</code> value to include in a future <code>ListVirtualRouters</code>\n         request. When the results of a <code>ListVirtualRouters</code> request exceed\n            <code>limit</code>, you can use this value to retrieve the next page of results. This\n         value is <code>null</code> when there are no more results to return.</p>",
          "shape": "String"
        },
        "virtualRouters": {
          "documentation": "<p>The list of existing virtual routers for the specified service mesh.</p>",
          "shape": "VirtualRouterList"
        }
      },
      "required": [
        "virtualRouters"
      ],
      "type": "structure"
    },
    "ListVirtualServicesInput": {
      "documentation": "",
      "members": {
        "limit": {
          "documentation": "<p>The maximum number of results returned by <code>ListVirtualServices</code> in paginated\n         output. When you use this parameter, <code>ListVirtualServices</code> returns only\n            <code>limit</code> results in a single page along with a <code>nextToken</code> response\n         element. You can see the remaining results of the initial request by sending another\n            <code>ListVirtualServices</code> request with the returned <code>nextToken</code> value.\n         This value can be between 1 and 100. If you don't use this\n         parameter, <code>ListVirtualServices</code> returns up to 100 results and\n         a <code>nextToken</code> value if applicable.</p>",
          "location": "querystring",
          "locationName": "limit",
          "shape": "ListVirtualServicesLimit"
        },
        "meshName": {
          "documentation": "<p>The name of the service mesh to list virtual services in.</p>",
[...]
