{
  "documentation": "<p> Amplify is a fully managed continuous deployment and hosting service for modern web apps. </p>",
  "metadata": {
    "apiVersion": "2017-07-25",
    "endpointPrefix": "amplify",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Amplify",
    "serviceFullName": "AWS Amplify",
    "serviceId": "Amplify",
    "signatureVersion": "v4",
    "signingName": "amplify",
    "uid": "amplify-2017-07-25"
  },
  "operations": {
    "CreateApp": {
      "documentation": "<p> Creates a new Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps"
      },
      "input": {
        "shape": "CreateAppRequest"
      },
      "name": "CreateApp",
      "output": {
        "shape": "CreateAppResult"
      }
    },
    "CreateBackendEnvironment": {
      "documentation": "<p> Creates a new backend environment for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/backendenvironments"
      },
      "input": {
        "shape": "CreateBackendEnvironmentRequest"
      },
      "name": "CreateBackendEnvironment",
      "output": {
        "shape": "CreateBackendEnvironmentResult"
      }
    },
    "CreateBranch": {
      "documentation": "<p> Creates a new Branch for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/branches"
      },
      "input": {
        "shape": "CreateBranchRequest"
      },
      "name": "CreateBranch",
      "output": {
        "shape": "CreateBranchResult"
      }
    },
    "CreateDeployment": {
      "documentation": "<p> Create a deployment for manual deploy apps. (Apps are not connected to repository) </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/branches/{branchName}/deployments"
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "name": "CreateDeployment",
      "output": {
        "shape": "CreateDeploymentResult"
      }
    },
    "CreateDomainAssociation": {
      "documentation": "<p> Create a new DomainAssociation on an App </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/domains"
      },
      "input": {
        "shape": "CreateDomainAssociationRequest"
      },
      "name": "CreateDomainAssociation",
      "output": {
        "shape": "CreateDomainAssociationResult"
      }
    },
    "CreateWebhook": {
      "documentation": "<p> Create a new webhook on an App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/webhooks"
      },
      "input": {
        "shape": "CreateWebhookRequest"
      },
      "name": "CreateWebhook",
      "output": {
        "shape": "CreateWebhookResult"
      }
    },
    "DeleteApp": {
      "documentation": "<p> Delete an existing Amplify App by appId. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apps/{appId}"
      },
      "input": {
        "shape": "DeleteAppRequest"
      },
      "name": "DeleteApp",
      "output": {
        "shape": "DeleteAppResult"
      }
    },
    "DeleteBackendEnvironment": {
      "documentation": "<p> Delete backend environment for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
      },
      "input": {
        "shape": "DeleteBackendEnvironmentRequest"
      },
      "name": "DeleteBackendEnvironment",
      "output": {
        "shape": "DeleteBackendEnvironmentResult"
      }
    },
    "DeleteBranch": {
      "documentation": "<p> Deletes a branch for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apps/{appId}/branches/{branchName}"
      },
      "input": {
        "shape": "DeleteBranchRequest"
      },
      "name": "DeleteBranch",
      "output": {
        "shape": "DeleteBranchResult"
      }
    },
    "DeleteDomainAssociation": {
      "documentation": "<p> Deletes a DomainAssociation. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apps/{appId}/domains/{domainName}"
      },
      "input": {
        "shape": "DeleteDomainAssociationRequest"
      },
      "name": "DeleteDomainAssociation",
      "output": {
        "shape": "DeleteDomainAssociationResult"
      }
    },
    "DeleteJob": {
      "documentation": "<p> Delete a job, for an Amplify branch, part of Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
      },
      "input": {
        "shape": "DeleteJobRequest"
      },
      "name": "DeleteJob",
      "output": {
        "shape": "DeleteJobResult"
      }
    },
    "DeleteWebhook": {
      "documentation": "<p> Deletes a webhook. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/webhooks/{webhookId}"
      },
      "input": {
        "shape": "DeleteWebhookRequest"
      },
      "name": "DeleteWebhook",
      "output": {
        "shape": "DeleteWebhookResult"
      }
    },
    "GenerateAccessLogs": {
      "documentation": "<p> Retrieve website access logs for a specific time range via a pre-signed URL. </p>",
      "errors": [
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/accesslogs"
      },
      "input": {
        "shape": "GenerateAccessLogsRequest"
      },
      "name": "GenerateAccessLogs",
      "output": {
        "shape": "GenerateAccessLogsResult"
      }
    },
    "GetApp": {
      "documentation": "<p> Retrieves an existing Amplify App by appId. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}"
      },
      "input": {
        "shape": "GetAppRequest"
      },
      "name": "GetApp",
      "output": {
        "shape": "GetAppResult"
      }
    },
    "GetArtifactUrl": {
      "documentation": "<p> Retrieves artifact info that corresponds to a artifactId. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/artifacts/{artifactId}"
      },
      "input": {
        "shape": "GetArtifactUrlRequest"
      },
      "name": "GetArtifactUrl",
      "output": {
        "shape": "GetArtifactUrlResult"
      }
    },
    "GetBackendEnvironment": {
      "documentation": "<p> Retrieves a backend environment for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/backendenvironments/{environmentName}"
      },
      "input": {
        "shape": "GetBackendEnvironmentRequest"
      },
      "name": "GetBackendEnvironment",
      "output": {
        "shape": "GetBackendEnvironmentResult"
      }
    },
    "GetBranch": {
      "documentation": "<p> Retrieves a branch for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/branches/{branchName}"
      },
      "input": {
        "shape": "GetBranchRequest"
      },
      "name": "GetBranch",
      "output": {
        "shape": "GetBranchResult"
      }
    },
    "GetDomainAssociation": {
      "documentation": "<p> Retrieves domain info that corresponds to an appId and domainName. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/domains/{domainName}"
      },
      "input": {
        "shape": "GetDomainAssociationRequest"
      },
      "name": "GetDomainAssociation",
      "output": {
        "shape": "GetDomainAssociationResult"
      }
    },
    "GetJob": {
      "documentation": "<p> Get a job for a branch, part of an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}"
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResult"
      }
    },
    "GetWebhook": {
      "documentation": "<p> Retrieves webhook info that corresponds to a webhookId. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/webhooks/{webhookId}"
      },
      "input": {
        "shape": "GetWebhookRequest"
      },
      "name": "GetWebhook",
      "output": {
        "shape": "GetWebhookResult"
      }
    },
    "ListApps": {
      "documentation": "<p> Lists existing Amplify Apps. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps"
      },
      "input": {
        "shape": "ListAppsRequest"
      },
      "name": "ListApps",
      "output": {
        "shape": "ListAppsResult"
      }
    },
    "ListArtifacts": {
      "documentation": "<p> List artifacts with an app, a branch, a job and an artifact type. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/artifacts"
      },
      "input": {
        "shape": "ListArtifactsRequest"
      },
      "name": "ListArtifacts",
      "output": {
        "shape": "ListArtifactsResult"
      }
    },
    "ListBackendEnvironments": {
      "documentation": "<p> Lists backend environments for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/backendenvironments"
      },
      "input": {
        "shape": "ListBackendEnvironmentsRequest"
      },
      "name": "ListBackendEnvironments",
      "output": {
        "shape": "ListBackendEnvironmentsResult"
      }
    },
    "ListBranches": {
      "documentation": "<p> Lists branches for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/branches"
      },
      "input": {
        "shape": "ListBranchesRequest"
      },
      "name": "ListBranches",
      "output": {
        "shape": "ListBranchesResult"
      }
    },
    "ListDomainAssociations": {
      "documentation": "<p> List domains with an app </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/domains"
      },
      "input": {
        "shape": "ListDomainAssociationsRequest"
      },
      "name": "ListDomainAssociations",
      "output": {
        "shape": "ListDomainAssociationsResult"
      }
    },
    "ListJobs": {
      "documentation": "<p> List Jobs for a branch, part of an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/branches/{branchName}/jobs"
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p> List tags for resource. </p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWebhooks": {
      "documentation": "<p> List webhooks with an app. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/apps/{appId}/webhooks"
      },
      "input": {
        "shape": "ListWebhooksRequest"
      },
      "name": "ListWebhooks",
      "output": {
        "shape": "ListWebhooksResult"
      }
    },
    "StartDeployment": {
      "documentation": "<p> Start a deployment for manual deploy apps. (Apps are not connected to repository) </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/branches/{branchName}/deployments/start"
      },
      "input": {
        "shape": "StartDeploymentRequest"
      },
      "name": "StartDeployment",
      "output": {
        "shape": "StartDeploymentResult"
      }
    },
    "StartJob": {
      "documentation": "<p> Starts a new job for a branch, part of an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/branches/{branchName}/jobs"
      },
      "input": {
        "shape": "StartJobRequest"
      },
      "name": "StartJob",
      "output": {
        "shape": "StartJobResult"
      }
    },
    "StopJob": {
      "documentation": "<p> Stop a job that is in progress, for an Amplify branch, part of Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/apps/{appId}/branches/{branchName}/jobs/{jobId}/stop"
      },
      "input": {
        "shape": "StopJobRequest"
      },
      "name": "StopJob",
      "output": {
        "shape": "StopJobResult"
      }
    },
    "TagResource": {
      "documentation": "<p> Tag resource with tag key and value. </p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p> Untag resource with resourceArn. </p>",
      "errors": [
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateApp": {
      "documentation": "<p> Updates an existing Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}"
      },
      "input": {
        "shape": "UpdateAppRequest"
      },
      "name": "UpdateApp",
      "output": {
        "shape": "UpdateAppResult"
      }
    },
    "UpdateBranch": {
      "documentation": "<p> Updates a branch for an Amplify App. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/branches/{branchName}"
      },
      "input": {
        "shape": "UpdateBranchRequest"
      },
      "name": "UpdateBranch",
      "output": {
        "shape": "UpdateBranchResult"
      }
    },
    "UpdateDomainAssociation": {
      "documentation": "<p> Create a new DomainAssociation on an App </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/apps/{appId}/domains/{domainName}"
      },
      "input": {
        "shape": "UpdateDomainAssociationRequest"
      },
      "name": "UpdateDomainAssociation",
      "output": {
        "shape": "UpdateDomainAssociationResult"
      }
    },
    "UpdateWebhook": {
      "documentation": "<p> Update a webhook. </p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "UnauthorizedException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "DependentServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/webhooks/{webhookId}"
      },
      "input": {
        "shape": "UpdateWebhookRequest"
      },
      "name": "UpdateWebhook",
      "output": {
        "shape": "UpdateWebhookResult"
      }
    }
  },
  "shapes": {
    "AccessToken": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "ActiveJobId": {
      "max": 1000,
      "type": "string"
    },
    "App": {
      "documentation": "<p> Amplify App represents different branches of a repository for building, deploying, and hosting. </p>",
      "members": {
        "appArn": {
          "documentation": "<p> ARN for the Amplify App. </p>",
          "shape": "AppArn"
        },
        "appId": {
          "documentation": "<p> Unique Id for the Amplify App. </p>",
          "shape": "AppId"
        },
        "autoBranchCreationConfig": {
          "documentation": "<p> Automated branch creation config for the Amplify App. </p>",
          "shape": "AutoBranchCreationConfig"
        },
        "autoBranchCreationPatterns": {
          "documentation": "<p> Automated branch creation glob patterns for the Amplify App. </p>",
          "shape": "AutoBranchCreationPatterns"
        },
        "basicAuthCredentials": {
          "documentation": "<p> Basic Authorization credentials for branches for the Amplify App. </p>",
          "shape": "BasicAuthCredentials"
        },
        "buildSpec": {
          "documentation": "<p> BuildSpec content for Amplify App. </p>",
          "shape": "BuildSpec"
        },
        "createTime": {
          "documentation": "<p> Create date / time for the Amplify App. </p>",
          "shape": "CreateTime"
        },
        "customRules": {
          "documentation": "<p> Custom redirect / rewrite rules for the Amplify App. </p>",
          "shape": "CustomRules"
        },
        "defaultDomain": {
          "documentation": "<p> Default domain for the Amplify App. </p>",
          "shape": "DefaultDomain"
        },
        "description": {
          "documentation": "<p> Description for the Amplify App. </p>",
          "shape": "Description"
        },
        "enableAutoBranchCreation": {
          "documentation": "<p> Enables automated branch creation for the Amplify App. </p>",
          "shape": "EnableAutoBranchCreation"
        },
        "enableBasicAuth": {
          "documentation": "<p> Enables Basic Authorization for branches for the Amplify App. </p>",
          "shape": "EnableBasicAuth"
        },
        "enableBranchAutoBuild": {
          "documentation": "<p> Enables auto-building of branches for the Amplify App. </p>",
          "shape": "EnableBranchAutoBuild"
        },
        "environmentVariables": {
          "documentation": "<p> Environment Variables for the Amplify App. </p>",
          "shape": "EnvironmentVariables"
        },
        "iamServiceRoleArn": {
          "documentation": "<p> IAM service role ARN for the Amplify App. </p>",
          "shape": "ServiceRoleArn"
        },
        "name": {
          "documentation": "<p> Name for the Amplify App. </p>",
          "shape": "Name"
        },
        "platform": {
          "documentation": "<p> Platform for the Amplify App. </p>",
          "shape": "Platform"
        },
        "productionBranch": {
          "documentation": "<p> Structure with Production Branch information. </p>",
          "shape": "ProductionBranch"
        },
        "repository": {
          "documentation": "<p> Repository for the Amplify App. </p>",
          "shape": "Repository"
        },
        "tags": {
          "documentation": "<p> Tag for Amplify App. </p>",
          "shape": "TagMap"
        },
        "updateTime": {
          "documentation": "<p> Update date / time for the Amplify App. </p>",
          "shape": "UpdateTime"
        }
      },
      "required": [
        "appId",
        "appArn",
        "name",
        "description",
        "repository",
        "platform",
        "createTime",
        "updateTime",
        "environmentVariables",
        "defaultDomain",
        "enableBranchAutoBuild",
        "enableBasicAuth"
      ],
      "type": "structure"
    },
    "AppArn": {
      "max": 1000,
      "type": "string"
    },
    "AppId": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "Apps": {
      "member": {
        "shape": "App"
      },
      "type": "list"
    },
    "Artifact": {
      "documentation": "<p> Structure for artifact. </p>",
      "members": {
        "artifactFileName": {
          "documentation": "<p> File name for the artifact. </p>",
          "shape": "ArtifactFileName"
        },
        "artifactId": {
          "documentation": "<p> Unique Id for a artifact. </p>",
          "shape": "ArtifactId"
        }
      },
      "required": [
        "artifactFileName",
        "artifactId"
      ],
      "type": "structure"
    },
    "ArtifactFileName": {
      "max": 1000,
      "type": "string"
    },
    "ArtifactId": {
      "max": 255,
      "type": "string"
    },
    "ArtifactUrl": {
      "max": 1000,
      "type": "string"
    },
    "Artifacts": {
      "member": {
        "shape": "Artifact"
      },
      "type": "list"
    },
    "ArtifactsUrl": {
      "max": 1000,
      "type": "string"
    },
    "AssociatedResource": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "AssociatedResources": {
      "member": {
        "shape": "AssociatedResource"
      },
      "type": "list"
    },
    "AutoBranchCreationConfig": {
      "documentation": "<p> Structure with auto branch creation config. </p>",
      "members": {
        "basicAuthCredentials": {
          "documentation": "<p> Basic Authorization credentials for the auto created branch. </p>",
          "shape": "BasicAuthCredentials"
        },
        "buildSpec": {
          "documentation": "<p> BuildSpec for the auto created branch. </p>",
          "shape": "BuildSpec"
        },
        "enableAutoBuild": {
          "documentation": "<p> Enables auto building for the auto created branch. </p>",
          "shape": "EnableAutoBuild"
        },
        "enableBasicAuth": {
          "documentation": "<p> Enables Basic Auth for the auto created branch. </p>",
          "shape": "EnableBasicAuth"
        },
        "enablePullRequestPreview": {
          "documentation": "<p> Enables Pull Request Preview for auto created branch. </p>",
          "shape": "EnablePullRequestPreview"
        },
        "environmentVariables": {
          "documentation": "<p> Environment Variables for the auto created branch. </p>",
          "shape": "EnvironmentVariables"
        },
        "framework": {
          "documentation": "<p> Framework for the auto created branch. </p>",
          "shape": "Framework"
        },
        "pullRequestEnvironmentName": {
          "documentation": "<p> The Amplify Environment name for the pull request. </p>",
          "shape": "PullRequestEnvironmentName"
        },
        "stage": {
          "documentation": "<p> Stage for the auto created branch. </p>",
          "shape": "Stage"
        }
      },
      "type": "structure"
    },
    "AutoBranchCreationPattern": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "AutoBranchCreationPatterns": {
      "member": {
        "shape": "AutoBranchCreationPattern"
      },
      "type": "list"
    },
    "BackendEnvironment": {
      "documentation": "<p> Backend environment for an Amplify App. </p>",
      "members": {
        "backendEnvironmentArn": {
          "documentation": "<p> Arn for a backend environment, part of an Amplify App. </p>",
          "shape": "BackendEnvironmentArn"
        },
        "createTime": {
          "documentation": "<p> Creation date and time for a backend environment, part of an Amplify App. </p>",
          "shape": "CreateTime"
        },
        "deploymentArtifacts": {
          "documentation": "<p> Name of deployment artifacts. </p>",
          "shape": "DeploymentArtifacts"
        },
        "environmentName": {
          "documentation": "<p> Name for a backend environment, part of an Amplify App. </p>",
          "shape": "EnvironmentName"
        },
        "stackName": {
          "documentation": "<p> CloudFormation stack name of backend environment. </p>",
          "shape": "StackName"
        },
        "updateTime": {
          "documentation": "<p> Last updated date and time for a backend environment, part of an Amplify App. </p>",
          "shape": "UpdateTime"
        }
      },
      "required": [
        "backendEnvironmentArn",
        "environmentName",
        "createTime",
        "updateTime"
      ],
      "type": "structure"
    },
    "BackendEnvironmentArn": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "BackendEnvironments": {
      "member": {
        "shape": "BackendEnvironment"
      },
      "type": "list"
    },
    "BadRequestException": {
      "documentation": "<p> Exception thrown when a request contains unexpected data. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "BasicAuthCredentials": {
      "max": 2000,
      "type": "string"
    },
    "Branch": {
      "documentation": "<p> Branch for an Amplify App, which maps to a 3rd party repository branch. </p>",
      "members": {
        "activeJobId": {
          "documentation": "<p> Id of the active job for a branch, part of an Amplify App. </p>",
          "shape": "ActiveJobId"
        },
        "associatedResources": {
          "documentation": "<p> List of custom resources that are linked to this branch. </p>",
          "shape": "AssociatedResources"
        },
        "backendEnvironmentArn": {
          "documentation": "<p> ARN for a Backend Environment, part of an Amplify App. </p>",
          "shape": "BackendEnvironmentArn"
        },
        "basicAuthCredentials": {
          "documentation": "<p> Basic Authorization credentials for a branch, part of an Amplify App. </p>",
          "shape": "BasicAuthCredentials"
        },
        "branchArn": {
          "documentation": "<p> ARN for a branch, part of an Amplify App. </p>",
          "shape": "BranchArn"
        },
        "branchName": {
          "documentation": "<p> Name for a branch, part of an Amplify App. </p>",
          "shape": "BranchName"
        },
        "buildSpec": {
          "documentation": "<p> BuildSpec content for branch for Amplify App. </p>",
          "shape": "BuildSpec"
        },
        "createTime": {
          "documentation": "<p> Creation date and time for a branch, part of an Amplify App. </p>",
          "shape": "CreateTime"
        },
        "customDomains": {
          "documentation": "<p> Custom domains for a branch, part of an Amplify App. </p>",
          "shape": "CustomDomains"
        },
        "description": {
          "documentation": "<p> Description for a branch, part of an Amplify App. </p>",
          "shape": "Description"
        },
        "destinationBranch": {
          "documentation": "<p> The destination branch if the branch is a pull request branch. </p>",
          "shape": "BranchName"
        },
        "displayName": {
          "documentation": "<p> Display name for a branch, will use as the default domain prefix. </p>",
          "shape": "DisplayName"
        },
        "enableAutoBuild": {
          "documentation": "<p> Enables auto-building on push for a branch, part of an Amplify App. </p>",
          "shape": "EnableAutoBuild"
        },
        "enableBasicAuth": {
          "documentation": "<p> Enables Basic Authorization for a branch, part of an Amplify App. </p>",
          "shape": "EnableBasicAuth"
        },
        "enableNotification": {
          "documentation": "<p> Enables notifications for a branch, part of an Amplify App. </p>",
          "shape": "EnableNotification"
        },
        "enablePullRequestPreview": {
          "documentation": "<p> Enables Pull Request Preview for this branch. </p>",
          "shape": "EnablePullRequestPreview"
        },
        "environmentVariables": {
          "documentation": "<p> Environment Variables specific to a branch, part of an Amplify App. </p>",
          "shape": "EnvironmentVariables"
        },
        "framework": {
          "documentation": "<p> Framework for a branch, part of an Amplify App. </p>",
          "shape": "Framework"
        },
        "pullRequestEnvironmentName": {
          "documentation": "<p> The Amplify Environment name for the pull request. </p>",
          "shape": "PullRequestEnvironmentName"
        },
        "sourceBranch": {
          "documentation": "<p> The source branch if the branch is a pull request branch. </p>",
          "shape": "BranchName"
        },
        "stage": {
          "documentation": "<p> Stage for a branch, part of an Amplify App. </p>",
          "shape": "Stage"
        },
        "tags": {
          "documentation": "<p> Tag for branch for Amplify App. </p>",
          "shape": "TagMap"
        },
        "thumbnailUrl": {
          "documentation": "<p> Thumbnail URL for the branch. </p>",
          "shape": "ThumbnailUrl"
        },
        "totalNumberOfJobs": {
          "documentation": "<p> Total number of Jobs part of an Amplify App. </p>",
          "shape": "TotalNumberOfJobs"
        },
        "ttl": {
          "documentation": "<p> The content TTL for the website in seconds. </p>",
          "shape": "TTL"
        },
        "updateTime": {
          "documentation": "<p> Last updated date and time for a branch, part of an Amplify App. </p>",
          "shape": "UpdateTime"
        }
      },
      "required": [
        "branchArn",
        "branchName",
        "description",
        "stage",
        "displayName",
        "enableNotification",
        "createTime",
        "updateTime",
        "environmentVariables",
        "enableAutoBuild",
        "customDomains",
        "framework",
        "activeJobId",
        "totalNumberOfJobs",
        "enableBasicAuth",
        "ttl",
        "enablePullRequestPreview"
      ],
      "type": "structure"
    },
    "BranchArn": {
      "max": 1000,
      "type": "string"
    },
    "BranchName": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "Branches": {
      "max": 255,
      "member": {
        "shape": "Branch"
      },
      "type": "list"
    },
    "BuildSpec": {
      "documentation": "<p> BuildSpec file for Amplify app build. </p>",
      "max": 25000,
      "min": 1,
      "type": "string"
    },
    "CertificateVerificationDNSRecord": {
      "max": 1000,
      "type": "string"
    },
    "Code": {
      "type": "string"
    },
    "CommitId": {
      "max": 255,
      "type": "string"
    },
    "CommitMessage": {
      "max": 10000,
      "type": "string"
    },
    "CommitTime": {
      "type": "timestamp"
    },
    "Condition": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "Context": {
      "type": "string"
    },
    "CreateAppRequest": {
      "documentation": "<p> Request structure used to create Apps in Amplify. </p>",
      "members": {
        "accessToken": {
          "documentation": "<p> Personal Access token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. Token is not stored. </p>",
          "shape": "AccessToken"
        },
        "autoBranchCreationConfig": {
          "documentation": "<p> Automated branch creation config for the Amplify App. </p>",
          "shape": "AutoBranchCreationConfig"
        },
        "autoBranchCreationPatterns": {
          "documentation": "<p> Automated branch creation glob patterns for the Amplify App. </p>",
          "shape": "AutoBranchCreationPatterns"
        },
        "basicAuthCredentials": {
          "documentation": "<p> Credentials for Basic Authorization for an Amplify App. </p>",
          "shape": "BasicAuthCredentials"
        },
        "buildSpec": {
          "documentation": "<p> BuildSpec for an Amplify App </p>",
          "shape": "BuildSpec"
        },
        "customRules": {
          "documentation": "<p> Custom rewrite / redirect rules for an Amplify App. </p>",
          "shape": "CustomRules"
        },
        "description": {
          "documentation": "<p> Description for an Amplify App </p>",
          "shape": "Description"
        },
        "enableAutoBranchCreation": {
          "documentation": "<p> Enables automated branch creation for the Amplify App. </p>",
          "shape": "EnableAutoBranchCreation"
        },
        "enableBasicAuth": {
          "documentation": "<p> Enable Basic Authorization for an Amplify App, this will apply to all branches part of this App. </p>",
          "shape": "EnableBasicAuth"
        },
        "enableBranchAutoBuild": {
          "documentation": "<p> Enable the auto building of branches for an Amplify App. </p>",
          "shape": "EnableBranchAutoBuild"
        },
        "environmentVariables": {
          "documentation": "<p> Environment variables map for an Amplify App. </p>",
          "shape": "EnvironmentVariables"
        },
        "iamServiceRoleArn": {
          "documentation": "<p> AWS IAM service role for an Amplify App </p>",
          "shape": "ServiceRoleArn"
        },
        "name": {
          "documentation": "<p> Name for the Amplify App </p>",
          "shape": "Name"
        },
        "oauthToken": {
          "documentation": "<p> OAuth token for 3rd party source control system for an Amplify App, used to create webhook and read-only deploy key. OAuth token is not stored. </p>",
          "shape": "OauthToken"
        },
        "platform": {
          "documentation": "<p> Platform / framework for an Amplify App </p>",
          "shape": "Platform"
        },
        "repository": {
          "documentation": "<p> Repository for an Amplify App </p>",
          "shape": "Repository"
        },
        "tags": {
          "documentation": "<p> Tag for an Amplify App </p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "CreateAppResult": {
      "members": {
        "app": {
          "shape": "App"
        }
      },
      "required": [
        "app"
      ],
      "type": "structure"
    },
    "CreateBackendEnvironmentRequest": {
      "documentation": "<p> Request structure for a backend environment create request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "deploymentArtifacts": {
          "documentation": "<p> Name of deployment artifacts. </p>",
          "shape": "DeploymentArtifacts"
        },
        "environmentName": {
          "documentation": "<p> Name for the backend environment. </p>",
          "shape": "EnvironmentName"
        },
        "stackName": {
          "documentation": "<p> CloudFormation stack name of backend environment. </p>",
          "shape": "StackName"
        }
      },
      "required": [
        "appId",
        "environmentName"
      ],
      "type": "structure"
    },
    "CreateBackendEnvironmentResult": {
      "documentation": "<p> Result structure for create backend environment. </p>",
      "members": {
        "backendEnvironment": {
          "documentation": "<p> Backend environment structure for an amplify App. </p>",
          "shape": "BackendEnvironment"
        }
      },
      "required": [
        "backendEnvironment"
      ],
      "type": "structure"
    },
    "CreateBranchRequest": {
      "documentation": "<p> Request structure for a branch create request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "backendEnvironmentArn": {
          "documentation": "<p> ARN for a Backend Environment, part of an Amplify App. </p>",
          "shape": "BackendEnvironmentArn"
        },
        "basicAuthCredentials": {
          "documentation": "<p> Basic Authorization credentials for the branch. </p>",
          "shape": "BasicAuthCredentials"
        },
        "branchName": {
          "documentation": "<p> Name for the branch. </p>",
          "shape": "BranchName"
        },
        "buildSpec": {
          "documentation": "<p> BuildSpec for the branch. </p>",
          "shape": "BuildSpec"
        },
        "description": {
          "documentation": "<p> Description for the branch. </p>",
          "shape": "Description"
        },
        "displayName": {
          "documentation": "<p> Display name for a branch, will use as the default domain prefix. </p>",
          "shape": "DisplayName"
        },
        "enableAutoBuild": {
          "documentation": "<p> Enables auto building for the branch. </p>",
          "shape": "EnableAutoBuild"
        },
        "enableBasicAuth": {
          "documentation": "<p> Enables Basic Auth for the branch. </p>",
          "shape": "EnableBasicAuth"
        },
        "enableNotification": {
          "documentation": "<p> Enables notifications for the branch. </p>",
          "shape": "EnableNotification"
        },
        "enablePullRequestPreview": {
          "documentation": "<p> Enables Pull Request Preview for this branch. </p>",
          "shape": "EnablePullRequestPreview"
        },
        "environmentVariables": {
          "documentation": "<p> Environment Variables for the branch. </p>",
          "shape": "EnvironmentVariables"
        },
        "framework": {
          "documentation": "<p> Framework for the branch. </p>",
          "shape": "Framework"
        },
        "pullRequestEnvironmentName": {
          "documentation": "<p> The Amplify Environment name for the pull request. </p>",
          "shape": "PullRequestEnvironmentName"
        },
        "stage": {
          "documentation": "<p> Stage for the branch. </p>",
          "shape": "Stage"
        },
        "tags": {
          "documentation": "<p> Tag for the branch. </p>",
          "shape": "TagMap"
        },
        "ttl": {
          "documentation": "<p> The content TTL for the website in seconds. </p>",
          "shape": "TTL"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "CreateBranchResult": {
      "documentation": "<p> Result structure for create branch request. </p>",
      "members": {
        "branch": {
          "documentation": "<p> Branch structure for an Amplify App. </p>",
          "shape": "Branch"
        }
      },
      "required": [
        "branch"
      ],
      "type": "structure"
    },
    "CreateDeploymentRequest": {
      "documentation": "<p> Request structure for create a new deployment. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch, for the Job. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "fileMap": {
          "documentation": "<p> Optional file map that contains file name as the key and file content md5 hash as the value. If this argument is provided, the service will generate different upload url per file. Otherwise, the service will only generate a single upload url for the zipped files. </p>",
          "shape": "FileMap"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "CreateDeploymentResult": {
      "documentation": "<p> Result structure for create a new deployment. </p>",
      "members": {
        "fileUploadUrls": {
          "documentation": "<p> When the fileMap argument is provided in the request, the fileUploadUrls will contain a map of file names to upload url. </p>",
          "shape": "FileUploadUrls"
        },
        "jobId": {
          "documentation": "<p> The jobId for this deployment, will supply to start deployment api. </p>",
          "shape": "JobId"
        },
        "zipUploadUrl": {
          "documentation": "<p> When the fileMap argument is NOT provided. This zipUploadUrl will be returned. </p>",
          "shape": "UploadUrl"
        }
      },
      "required": [
        "fileUploadUrls",
        "zipUploadUrl"
      ],
      "type": "structure"
    },
    "CreateDomainAssociationRequest": {
      "documentation": "<p> Request structure for create Domain Association request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "domainName": {
          "documentation": "<p> Domain name for the Domain Association. </p>",
          "shape": "DomainName"
        },
        "enableAutoSubDomain": {
          "documentation": "<p> Enables automated creation of Subdomains for branches. (Currently not supported) </p>",
          "shape": "EnableAutoSubDomain"
        },
        "subDomainSettings": {
          "documentation": "<p> Setting structure for the Subdomain. </p>",
          "shape": "SubDomainSettings"
        }
      },
      "required": [
        "appId",
        "domainName",
        "subDomainSettings"
      ],
      "type": "structure"
    },
    "CreateDomainAssociationResult": {
      "documentation": "<p> Result structure for the create Domain Association request. </p>",
      "members": {
        "domainAssociation": {
          "documentation": "<p> Domain Association structure. </p>",
          "shape": "DomainAssociation"
        }
      },
      "required": [
        "domainAssociation"
      ],
      "type": "structure"
    },
    "CreateTime": {
      "type": "timestamp"
    },
    "CreateWebhookRequest": {
      "documentation": "<p> Request structure for create webhook request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for a branch, part of an Amplify App. </p>",
          "shape": "BranchName"
        },
        "description": {
          "documentation": "<p> Description for a webhook. </p>",
          "shape": "Description"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "CreateWebhookResult": {
      "documentation": "<p> Result structure for the create webhook request. </p>",
      "members": {
        "webhook": {
          "documentation": "<p> Webhook structure. </p>",
          "shape": "Webhook"
        }
      },
      "required": [
        "webhook"
      ],
      "type": "structure"
    },
    "CustomDomain": {
      "max": 255,
      "type": "string"
    },
    "CustomDomains": {
      "max": 255,
      "member": {
        "shape": "CustomDomain"
      },
      "type": "list"
    },
    "CustomRule": {
      "documentation": "<p> Custom rewrite / redirect rule. </p>",
      "members": {
        "condition": {
          "documentation": "<p> The condition for a URL rewrite or redirect rule, e.g. country code. </p>",
          "shape": "Condition"
        },
        "source": {
          "documentation": "<p> The source pattern for a URL rewrite or redirect rule. </p>",
          "shape": "Source"
        },
        "status": {
          "documentation": "<p> The status code for a URL rewrite or redirect rule. </p>",
          "shape": "Status"
        },
        "target": {
          "documentation": "<p> The target pattern for a URL rewrite or redirect rule. </p>",
          "shape": "Target"
        }
      },
      "required": [
        "source",
        "target"
      ],
      "type": "structure"
    },
    "CustomRules": {
      "member": {
        "shape": "CustomRule"
      },
      "type": "list"
    },
    "DNSRecord": {
      "max": 1000,
      "type": "string"
    },
    "DefaultDomain": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "DeleteAppRequest": {
      "documentation": "<p> Request structure for an Amplify App delete request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "DeleteAppResult": {
      "documentation": "<p> Result structure for an Amplify App delete request. </p>",
      "members": {
        "app": {
          "shape": "App"
        }
      },
      "required": [
        "app"
      ],
      "type": "structure"
    },
    "DeleteBackendEnvironmentRequest": {
      "documentation": "<p> Request structure for delete backend environment request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id of an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "environmentName": {
          "documentation": "<p> Name of a backend environment of an Amplify App. </p>",
          "location": "uri",
          "locationName": "environmentName",
          "shape": "EnvironmentName"
        }
      },
      "required": [
        "appId",
        "environmentName"
      ],
      "type": "structure"
    },
    "DeleteBackendEnvironmentResult": {
      "documentation": "<p> Result structure of a delete backend environment result. </p>",
      "members": {
        "backendEnvironment": {
          "documentation": "<p> Backend environment structure for an Amplify App. </p>",
          "shape": "BackendEnvironment"
        }
      },
      "required": [
        "backendEnvironment"
      ],
      "type": "structure"
    },
    "DeleteBranchRequest": {
      "documentation": "<p> Request structure for delete branch request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "DeleteBranchResult": {
      "documentation": "<p> Result structure for delete branch request. </p>",
      "members": {
        "branch": {
          "documentation": "<p> Branch structure for an Amplify App. </p>",
          "shape": "Branch"
        }
      },
      "required": [
        "branch"
      ],
      "type": "structure"
    },
    "DeleteDomainAssociationRequest": {
      "documentation": "<p> Request structure for the delete Domain Association request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "domainName": {
          "documentation": "<p> Name of the domain. </p>",
          "location": "uri",
          "locationName": "domainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "appId",
        "domainName"
      ],
      "type": "structure"
    },
    "DeleteDomainAssociationResult": {
      "members": {
        "domainAssociation": {
          "shape": "DomainAssociation"
        }
      },
      "required": [
        "domainAssociation"
      ],
      "type": "structure"
    },
    "DeleteJobRequest": {
      "documentation": "<p> Request structure for delete job request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch, for the Job. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "jobId": {
          "documentation": "<p> Unique Id for the Job. </p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        }
      },
      "required": [
        "appId",
        "branchName",
        "jobId"
      ],
      "type": "structure"
    },
    "DeleteJobResult": {
      "documentation": "<p> Result structure for the delete job request. </p>",
      "members": {
        "jobSummary": {
          "shape": "JobSummary"
        }
      },
      "required": [
        "jobSummary"
      ],
      "type": "structure"
    },
    "DeleteWebhookRequest": {
      "documentation": "<p> Request structure for the delete webhook request. </p>",
      "members": {
        "webhookId": {
          "documentation": "<p> Unique Id for a webhook. </p>",
          "location": "uri",
          "locationName": "webhookId",
          "shape": "WebhookId"
        }
      },
      "required": [
        "webhookId"
      ],
      "type": "structure"
    },
    "DeleteWebhookResult": {
      "documentation": "<p> Result structure for the delete webhook request. </p>",
      "members": {
        "webhook": {
          "documentation": "<p> Webhook structure. </p>",
          "shape": "Webhook"
        }
      },
      "required": [
        "webhook"
      ],
      "type": "structure"
    },
    "DependentServiceFailureException": {
      "documentation": "<p> Exception thrown when an operation fails due to a dependent service throwing an exception. </p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DeploymentArtifacts": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "Description": {
      "max": 1000,
      "type": "string"
    },
    "DisplayName": {
      "max": 255,
      "type": "string"
    },
    "DomainAssociation": {
      "documentation": "<p> Structure for Domain Association, which associates a custom domain with an Amplify App. </p>",
      "members": {
        "certificateVerificationDNSRecord": {
          "documentation": "<p> DNS Record for certificate verification. </p>",
          "shape": "CertificateVerificationDNSRecord"
        },
        "domainAssociationArn": {
          "documentation": "<p> ARN for the Domain Association. </p>",
          "shape": "DomainAssociationArn"
        },
        "domainName": {
          "documentation": "<p> Name of the domain. </p>",
          "shape": "DomainName"
        },
        "domainStatus": {
          "documentation": "<p> Status fo the Domain Association. </p>",
          "shape": "DomainStatus"
        },
        "enableAutoSubDomain": {
          "documentation": "<p> Enables automated creation of Subdomains for branches. (Currently not supported) </p>",
          "shape": "EnableAutoSubDomain"
        },
        "statusReason": {
          "documentation": "<p> Reason for the current status of the Domain Association. </p>",
          "shape": "StatusReason"
        },
        "subDomains": {
          "documentation": "<p> Subdomains for the Domain Association. </p>",
          "shape": "SubDomains"
        }
      },
      "required": [
        "domainAssociationArn",
        "domainName",
        "enableAutoSubDomain",
        "domainStatus",
        "statusReason",
        "subDomains"
      ],
      "type": "structure"
    },
    "DomainAssociationArn": {
      "max": 1000,
      "type": "string"
    },
    "DomainAssociations": {
      "max": 255,
      "member": {
        "shape": "DomainAssociation"
      },
      "type": "list"
    },
    "DomainName": {
      "max": 255,
      "type": "string"
    },
    "DomainPrefix": {
      "max": 255,
      "type": "string"
    },
    "DomainStatus": {
      "enum": [
        "PENDING_VERIFICATION",
        "IN_PROGRESS",
        "AVAILABLE",
        "PENDING_DEPLOYMENT",
        "FAILED",
        "CREATING",
        "REQUESTING_CERTIFICATE",
        "UPDATING"
      ],
      "type": "string"
    },
    "EnableAutoBranchCreation": {
      "type": "boolean"
    },
    "EnableAutoBuild": {
      "type": "boolean"
    },
    "EnableAutoSubDomain": {
      "type": "boolean"
    },
    "EnableBasicAuth": {
      "type": "boolean"
    },
    "EnableBranchAutoBuild": {
      "type": "boolean"
    },
    "EnableNotification": {
      "type": "boolean"
    },
    "EnablePullRequestPreview": {
      "type": "boolean"
    },
    "EndTime": {
      "type": "timestamp"
    },
    "EnvKey": {
      "max": 255,
      "type": "string"
    },
    "EnvValue": {
      "max": 1000,
      "type": "string"
    },
    "EnvironmentName": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "EnvironmentVariables": {
      "key": {
        "shape": "EnvKey"
      },
      "type": "map",
      "value": {
        "shape": "EnvValue"
      }
    },
    "ErrorMessage": {
      "max": 255,
      "type": "string"
    },
    "FileMap": {
      "key": {
        "shape": "FileName"
      },
      "type": "map",
      "value": {
        "shape": "MD5Hash"
      }
    },
    "FileName": {
      "max": 255,
      "type": "string"
    },
    "FileUploadUrls": {
      "key": {
        "shape": "FileName"
      },
      "type": "map",
      "value": {
        "shape": "UploadUrl"
      }
    },
    "Framework": {
      "max": 255,
      "type": "string"
    },
    "GenerateAccessLogsRequest": {
      "documentation": "<p> Request structure for the generate access logs request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "domainName": {
          "documentation": "<p> Name of the domain. </p>",
          "shape": "DomainName"
        },
        "endTime": {
          "documentation": "<p> The time at which the logs should end, inclusive. </p>",
          "shape": "EndTime"
        },
        "startTime": {
          "documentation": "<p> The time at which the logs should start, inclusive. </p>",
          "shape": "StartTime"
        }
      },
      "required": [
        "domainName",
        "appId"
      ],
      "type": "structure"
    },
    "GenerateAccessLogsResult": {
      "documentation": "<p> Result structure for the generate access logs request. </p>",
      "members": {
        "logUrl": {
          "documentation": "<p> Pre-signed URL for the requested access logs. </p>",
          "shape": "LogUrl"
        }
      },
      "type": "structure"
    },
    "GetAppRequest": {
      "documentation": "<p> Request structure for get App request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "GetAppResult": {
      "members": {
        "app": {
          "shape": "App"
        }
      },
      "required": [
        "app"
      ],
      "type": "structure"
    },
    "GetArtifactUrlRequest": {
      "documentation": "<p> Request structure for the get artifact request. </p>",
      "members": {
        "artifactId": {
          "documentation": "<p> Unique Id for a artifact. </p>",
          "location": "uri",
          "locationName": "artifactId",
          "shape": "ArtifactId"
        }
      },
      "required": [
        "artifactId"
      ],
      "type": "structure"
    },
    "GetArtifactUrlResult": {
      "documentation": "<p> Result structure for the get artifact request. </p>",
      "members": {
        "artifactId": {
          "documentation": "<p> Unique Id for a artifact. </p>",
          "shape": "ArtifactId"
        },
        "artifactUrl": {
          "documentation": "<p> Presigned url for the artifact. </p>",
          "shape": "ArtifactUrl"
        }
      },
      "required": [
        "artifactId",
        "artifactUrl"
      ],
      "type": "structure"
    },
    "GetBackendEnvironmentRequest": {
      "documentation": "<p> Request structure for get backend environment request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "environmentName": {
          "documentation": "<p> Name for the backend environment. </p>",
          "location": "uri",
          "locationName": "environmentName",
          "shape": "EnvironmentName"
        }
      },
      "required": [
        "appId",
        "environmentName"
      ],
      "type": "structure"
    },
    "GetBackendEnvironmentResult": {
      "documentation": "<p> Result structure for get backend environment result. </p>",
      "members": {
        "backendEnvironment": {
          "documentation": "<p> Backend environment structure for an an Amplify App. </p>",
          "shape": "BackendEnvironment"
        }
      },
      "required": [
        "backendEnvironment"
      ],
      "type": "structure"
    },
    "GetBranchRequest": {
      "documentation": "<p> Request structure for get branch request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "GetBranchResult": {
      "members": {
        "branch": {
          "shape": "Branch"
        }
      },
      "required": [
        "branch"
      ],
      "type": "structure"
    },
    "GetDomainAssociationRequest": {
      "documentation": "<p> Request structure for the get Domain Association request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "domainName": {
          "documentation": "<p> Name of the domain. </p>",
          "location": "uri",
          "locationName": "domainName",
          "shape": "DomainName"
        }
      },
      "required": [
        "appId",
        "domainName"
      ],
      "type": "structure"
    },
    "GetDomainAssociationResult": {
      "documentation": "<p> Result structure for the get Domain Association request. </p>",
      "members": {
        "domainAssociation": {
          "documentation": "<p> Domain Association structure. </p>",
          "shape": "DomainAssociation"
        }
      },
      "required": [
        "domainAssociation"
      ],
      "type": "structure"
    },
    "GetJobRequest": {
      "documentation": "<p> Request structure for get job request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch, for the Job. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "jobId": {
          "documentation": "<p> Unique Id for the Job. </p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        }
      },
      "required": [
        "appId",
        "branchName",
        "jobId"
      ],
      "type": "structure"
    },
    "GetJobResult": {
      "members": {
        "job": {
          "shape": "Job"
        }
      },
      "required": [
        "job"
      ],
      "type": "structure"
    },
    "GetWebhookRequest": {
      "documentation": "<p> Request structure for the get webhook request. </p>",
      "members": {
        "webhookId": {
          "documentation": "<p> Unique Id for a webhook. </p>",
          "location": "uri",
          "locationName": "webhookId",
          "shape": "WebhookId"
        }
      },
      "required": [
        "webhookId"
      ],
      "type": "structure"
    },
    "GetWebhookResult": {
      "documentation": "<p> Result structure for the get webhook request. </p>",
      "members": {
        "webhook": {
          "documentation": "<p> Webhook structure. </p>",
          "shape": "Webhook"
        }
      },
      "required": [
        "webhook"
      ],
      "type": "structure"
    },
    "InternalFailureException": {
      "documentation": "<p> Exception thrown when the service fails to perform an operation due to an internal issue. </p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Job": {
      "documentation": "<p> Structure for an execution job for an Amplify App. </p>",
      "members": {
        "steps": {
          "documentation": "<p> Execution steps for an execution job, for an Amplify App. </p>",
          "shape": "Steps"
        },
        "summary": {
          "documentation": "<p> Summary for an execution job for an Amplify App. </p>",
          "shape": "JobSummary"
        }
      },
      "required": [
        "summary",
        "steps"
      ],
      "type": "structure"
    },
    "JobArn": {
      "max": 1000,
      "type": "string"
    },
    "JobId": {
      "max": 255,
      "type": "string"
    },
    "JobReason": {
      "max": 255,
      "type": "string"
    },
    "JobStatus": {
      "enum": [
        "PENDING",
        "PROVISIONING",
        "RUNNING",
        "FAILED",
        "SUCCEED",
        "CANCELLING",
        "CANCELLED"
      ],
      "type": "string"
    },
    "JobSummaries": {
      "member": {
        "shape": "JobSummary"
      },
      "type": "list"
    },
    "JobSummary": {
      "documentation": "<p> Structure for the summary of a Job. </p>",
      "members": {
        "commitId": {
          "documentation": "<p> Commit Id from 3rd party repository provider for the Job. </p>",
          "shape": "CommitId"
        },
        "commitMessage": {
          "documentation": "<p> Commit message from 3rd party repository provider for the Job. </p>",
          "shape": "CommitMessage"
        },
        "commitTime": {
          "documentation": "<p> Commit date / time for the Job. </p>",
          "shape": "CommitTime"
        },
        "endTime": {
          "documentation": "<p> End date / time for the Job. </p>",
          "shape": "EndTime"
        },
        "jobArn": {
          "documentation": "<p> Arn for the Job. </p>",
          "shape": "JobArn"
        },
        "jobId": {
          "documentation": "<p> Unique Id for the Job. </p>",
          "shape": "JobId"
        },
        "jobType": {
          "documentation": "<p> Type for the Job. \\n \"RELEASE\": Manually released from source by using StartJob API. \"RETRY\": Manually retried by using StartJob API. \"WEB_HOOK\": Automatically triggered by WebHooks. </p>",
          "shape": "JobType"
        },
        "startTime": {
          "documentation": "<p> Start date / time for the Job. </p>",
          "shape": "StartTime"
        },
        "status": {
          "documentation": "<p> Status for the Job. </p>",
          "shape": "JobStatus"
        }
      },
      "required": [
        "jobArn",
        "jobId",
        "commitId",
        "commitMessage",
        "commitTime",
        "startTime",
        "status",
        "jobType"
      ],
      "type": "structure"
    },
    "JobType": {
      "enum": [
        "RELEASE",
        "RETRY",
        "MANUAL",
        "WEB_HOOK"
      ],
      "max": 10,
      "type": "string"
    },
    "LastDeployTime": {
      "type": "timestamp"
    },
    "LimitExceededException": {
      "documentation": "<p> Exception thrown when a resource could not be created because of service limits. </p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ListAppsRequest": {
      "documentation": "<p> Request structure for an Amplify App list request. </p>",
      "members": {
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListAppsResult": {
      "documentation": "<p> Result structure for an Amplify App list request. </p>",
      "members": {
        "apps": {
          "documentation": "<p> List of Amplify Apps. </p>",
          "shape": "Apps"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "apps"
      ],
      "type": "structure"
    },
    "ListArtifactsRequest": {
      "documentation": "<p> Request structure for the list artifacts request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for a branch, part of an Amplify App. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "jobId": {
          "documentation": "<p> Unique Id for an Job. </p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        },
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing artifacts from start. If non-null pagination token is returned in a result, then pass its value in here to list more artifacts. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "appId",
        "branchName",
        "jobId"
      ],
      "type": "structure"
    },
    "ListArtifactsResult": {
      "documentation": "<p> Result structure for the list artifacts request. </p>",
      "members": {
        "artifacts": {
          "documentation": "<p> List of artifacts. </p>",
          "shape": "Artifacts"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "artifacts"
      ],
      "type": "structure"
    },
    "ListBackendEnvironmentsRequest": {
      "documentation": "<p> Request structure for list backend environments request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "environmentName": {
          "documentation": "<p> Name of the backend environment </p>",
          "shape": "EnvironmentName"
        },
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing backen environments from start. If a non-null pagination token is returned in a result, then pass its value in here to list more backend environments. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "ListBackendEnvironmentsResult": {
      "documentation": "<p> Result structure for list backend environments result. </p>",
      "members": {
        "backendEnvironments": {
          "documentation": "<p> List of backend environments for an Amplify App. </p>",
          "shape": "BackendEnvironments"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "backendEnvironments"
      ],
      "type": "structure"
    },
    "ListBranchesRequest": {
      "documentation": "<p> Request structure for list branches request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing branches from start. If a non-null pagination token is returned in a result, then pass its value in here to list more branches. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "ListBranchesResult": {
      "documentation": "<p> Result structure for list branches request. </p>",
      "members": {
        "branches": {
          "documentation": "<p> List of branches for an Amplify App. </p>",
          "shape": "Branches"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "branches"
      ],
      "type": "structure"
    },
    "ListDomainAssociationsRequest": {
      "documentation": "<p> Request structure for the list Domain Associations request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing Apps from start. If non-null pagination token is returned in a result, then pass its value in here to list more projects. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "ListDomainAssociationsResult": {
      "documentation": "<p> Result structure for the list Domain Association request. </p>",
      "members": {
        "domainAssociations": {
          "documentation": "<p> List of Domain Associations. </p>",
          "shape": "DomainAssociations"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "domainAssociations"
      ],
      "type": "structure"
    },
    "ListJobsRequest": {
      "documentation": "<p> Request structure for list job request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for a branch. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing steps from start. If a non-null pagination token is returned in a result, then pass its value in here to list more steps. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "ListJobsResult": {
      "documentation": "<p> Maximum number of records to list in a single response. </p>",
      "members": {
        "jobSummaries": {
          "documentation": "<p> Result structure for list job result request. </p>",
          "shape": "JobSummaries"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "jobSummaries"
      ],
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "documentation": "<p> Request structure used to list tags for resource. </p>",
      "members": {
        "resourceArn": {
          "documentation": "<p> Resource arn used to list tags. </p>",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "documentation": "<p> Response for list tags. </p>",
      "members": {
        "tags": {
          "documentation": "<p> Tags result for response. </p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "ListWebhooksRequest": {
      "documentation": "<p> Request structure for the list webhooks request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "maxResults": {
          "documentation": "<p> Maximum number of records to list in a single response. </p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p> Pagination token. Set to null to start listing webhooks from start. If non-null pagination token is returned in a result, then pass its value in here to list more webhooks. </p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "appId"
      ],
      "type": "structure"
    },
    "ListWebhooksResult": {
      "documentation": "<p> Result structure for the list webhooks request. </p>",
      "members": {
        "nextToken": {
          "documentation": "<p> Pagination token. If non-null pagination token is returned in a result, then pass its value in another request to fetch more entries. </p>",
          "shape": "NextToken"
        },
        "webhooks": {
          "documentation": "<p> List of webhooks. </p>",
          "shape": "Webhooks"
        }
      },
      "required": [
        "webhooks"
      ],
      "type": "structure"
    },
    "LogUrl": {
      "max": 1000,
      "type": "string"
    },
    "MD5Hash": {
      "max": 32,
      "type": "string"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "NextToken": {
      "max": 2000,
      "type": "string"
    },
    "NotFoundException": {
      "documentation": "<p> Exception thrown when an entity has not been found during an operation. </p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "OauthToken": {
      "max": 100,
      "type": "string"
    },
    "Platform": {
      "enum": [
        "WEB"
      ],
      "type": "string"
    },
    "ProductionBranch": {
      "documentation": "<p> Structure with Production Branch information. </p>",
      "members": {
        "branchName": {
          "documentation": "<p> Branch Name for Production Branch. </p>",
          "shape": "BranchName"
        },
        "lastDeployTime": {
          "documentation": "<p> Last Deploy Time of Production Branch. </p>",
          "shape": "LastDeployTime"
        },
        "status": {
          "documentation": "<p> Status of Production Branch. </p>",
          "shape": "Status"
        },
        "thumbnailUrl": {
          "documentation": "<p> Thumbnail URL for Production Branch. </p>",
          "shape": "ThumbnailUrl"
        }
      },
      "type": "structure"
    },
    "PullRequestEnvironmentName": {
      "max": 20,
      "type": "string"
    },
    "Repository": {
      "max": 1000,
      "type": "string"
    },
    "ResourceArn": {
      "pattern": "^arn:aws:amplify:.*",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p> Exception thrown when an operation fails due to non-existent resource. </p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "code": {
          "shape": "Code"
        },
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "code",
        "message"
      ],
      "type": "structure"
    },
    "Screenshots": {
      "key": {
        "shape": "ThumbnailName"
      },
      "type": "map",
      "value": {
        "shape": "ThumbnailUrl"
      }
    },
    "ServiceRoleArn": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "Source": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "SourceUrl": {
      "max": 1000,
      "type": "string"
    },
    "StackName": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "Stage": {
      "enum": [
        "PRODUCTION",
        "BETA",
        "DEVELOPMENT",
        "EXPERIMENTAL",
        "PULL_REQUEST"
      ],
      "type": "string"
    },
    "StartDeploymentRequest": {
      "documentation": "<p> Request structure for start a deployment. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch, for the Job. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "jobId": {
          "documentation": "<p> The job id for this deployment, generated by create deployment request. </p>",
          "shape": "JobId"
        },
        "sourceUrl": {
          "documentation": "<p> The sourceUrl for this deployment, used when calling start deployment without create deployment. SourceUrl can be any HTTP GET url that is public accessible and downloads a single zip. </p>",
          "shape": "SourceUrl"
        }
      },
      "required": [
        "appId",
        "branchName"
      ],
      "type": "structure"
    },
    "StartDeploymentResult": {
      "documentation": "<p> Result structure for start a deployment. </p>",
      "members": {
        "jobSummary": {
          "documentation": "<p> Summary for the Job. </p>",
          "shape": "JobSummary"
        }
      },
      "required": [
        "jobSummary"
      ],
      "type": "structure"
    },
    "StartJobRequest": {
      "documentation": "<p> Request structure for Start job request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch, for the Job. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "commitId": {
          "documentation": "<p> Commit Id from 3rd party repository provider for the Job. </p>",
          "shape": "CommitId"
        },
        "commitMessage": {
          "documentation": "<p> Commit message from 3rd party repository provider for the Job. </p>",
          "shape": "CommitMessage"
        },
        "commitTime": {
          "documentation": "<p> Commit date / time for the Job. </p>",
          "shape": "CommitTime"
        },
        "jobId": {
          "documentation": "<p> Unique Id for an existing job. Required for \"RETRY\" JobType. </p>",
          "shape": "JobId"
        },
        "jobReason": {
          "documentation": "<p> Descriptive reason for starting this job. </p>",
          "shape": "JobReason"
        },
        "jobType": {
          "documentation": "<p> Type for the Job. Available JobTypes are: \\n \"RELEASE\": Start a new job with the latest change from the specified branch. Only available for apps that have connected to a repository. \"RETRY\": Retry an existing job. JobId is required for this type of job. </p>",
          "shape": "JobType"
        }
      },
      "required": [
        "appId",
        "branchName",
        "jobType"
      ],
      "type": "structure"
    },
    "StartJobResult": {
      "documentation": "<p> Result structure for run job request. </p>",
      "members": {
        "jobSummary": {
          "documentation": "<p> Summary for the Job. </p>",
          "shape": "JobSummary"
        }
      },
      "required": [
        "jobSummary"
      ],
      "type": "structure"
    },
    "StartTime": {
      "type": "timestamp"
    },
    "Status": {
      "max": 7,
      "min": 3,
      "type": "string"
    },
    "StatusReason": {
      "max": 1000,
      "type": "string"
    },
    "Step": {
      "documentation": "<p> Structure for an execution step for an execution job, for an Amplify App. </p>",
      "members": {
        "artifactsUrl": {
          "documentation": "<p> URL to the artifact for the execution step. </p>",
          "shape": "ArtifactsUrl"
        },
        "context": {
          "documentation": "<p> The context for current step, will include build image if step is build. </p>",
          "shape": "Context"
        },
        "endTime": {
          "documentation": "<p> End date/ time of the execution step. </p>",
          "shape": "EndTime"
        },
        "logUrl": {
          "documentation": "<p> URL to the logs for the execution step. </p>",
          "shape": "LogUrl"
        },
        "screenshots": {
          "documentation": "<p> List of screenshot URLs for the execution step, if relevant. </p>",
          "shape": "Screenshots"
        },
        "startTime": {
          "documentation": "<p> Start date/ time of the execution step. </p>",
          "shape": "StartTime"
        },
        "status": {
          "documentation": "<p> Status of the execution step. </p>",
          "shape": "JobStatus"
        },
        "statusReason": {
          "documentation": "<p> The reason for current step status. </p>",
          "shape": "StatusReason"
        },
        "stepName": {
          "documentation": "<p> Name of the execution step. </p>",
          "shape": "StepName"
        },
        "testArtifactsUrl": {
          "documentation": "<p> URL to the test artifact for the execution step. </p>",
          "shape": "TestArtifactsUrl"
        },
        "testConfigUrl": {
          "documentation": "<p> URL to the test config for the execution step. </p>",
          "shape": "TestConfigUrl"
        }
      },
      "required": [
        "stepName",
        "startTime",
        "status",
        "endTime"
      ],
      "type": "structure"
    },
    "StepName": {
      "max": 255,
      "type": "string"
    },
    "Steps": {
      "member": {
        "shape": "Step"
      },
      "type": "list"
    },
    "StopJobRequest": {
      "documentation": "<p> Request structure for stop job request. </p>",
      "members": {
        "appId": {
          "documentation": "<p> Unique Id for an Amplify App. </p>",
          "location": "uri",
          "locationName": "appId",
          "shape": "AppId"
        },
        "branchName": {
          "documentation": "<p> Name for the branch, for the Job. </p>",
          "location": "uri",
          "locationName": "branchName",
          "shape": "BranchName"
        },
        "jobId": {
          "documentation": "<p> Unique Id for the Job. </p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        }
      },
      "required": [
        "appId",
        "branchName",
        "jobId"
      ],
      "type": "structure"
    },
    "StopJobResult": {
      "documentation": "<p> Result structure for the stop job request. </p>",
      "members": {
        "jobSummary": {
          "documentation": "<p> Summary for the Job. </p>",
          "shape": "JobSummary"
        }
      },
      "required": [
        "jobSummary"
      ],
      "type": "structure"
    },
    "SubDomain": {
      "documentation": "<p> Subdomain for the Domain Association. </p>",
      "members": {
        "dnsRecord": {
          "documentation": "<p> DNS record for the Subdomain. </p>",
          "shape": "DNSRecord"
        },
        "subDomainSetting": {
          "documentation": "<p> Setting structure for the Subdomain. </p>",
          "shape": "SubDomainSetting"
        },
        "verified": {
          "documentation": "<p> Verified status of the Subdomain </p>",
          "shape": "Verified"
        }
      },
      "required": [
        "subDomainSetting",
        "verified",
        "dnsRecord"
      ],
      "type": "structure"
    },
    "SubDomainSetting": {
      "documentation": "<p> Setting for the Subdomain. </p>",
      "members": {
        "branchName": {
          "documentation": "<p> Branch name setting for the Subdomain. </p>",
          "shape": "BranchName"
        },
        "prefix": {
          "documentation": "<p> Prefix setting for the Subdomain. </p>",
          "shape": "DomainPrefix"
        }
      },
      "required": [
        "prefix",
        "branchName"
      ],
      "type": "structure"
    },
    "SubDomainSettings": {
      "max": 255,
      "member": {
        "shape": "SubDomainSetting"
      },
      "type": "list"
    },
    "SubDomains": {
      "max": 255,
      "member": {
        "shape": "SubDomain"
      },
      "type": "list"
    },
    "TTL": {
      "documentation": "<p> The content TTL for the website in seconds. </p>",
      "type": "string"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^(?!aws:)[a-zA-Z+-=._:/]+$",
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 1,
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "max": 50,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
[...]
