{
  "documentation": "<fullname>AWS Config</fullname> <p>AWS Config provides a way to keep track of the configurations of all the AWS resources associated with your AWS account. You can use AWS Config to get the current and historical configurations of each AWS resource and also to get information about the relationship between the resources. An AWS resource can be an Amazon Compute Cloud (Amazon EC2) instance, an Elastic Block Store (EBS) volume, an elastic network Interface (ENI), or a security group. For a complete list of resources currently supported by AWS Config, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/resource-config-reference.html#supported-resources\">Supported AWS Resources</a>.</p> <p>You can access and manage AWS Config through the AWS Management Console, the AWS Command Line Interface (AWS CLI), the AWS Config API, or the AWS SDKs for AWS Config. This reference guide contains documentation for the AWS Config API and the AWS CLI commands that you can use to manage AWS Config. The AWS Config API uses the Signature Version 4 protocol for signing requests. For more information about how to sign a request with this protocol, see <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4 Signing Process</a>. For detailed information about AWS Config features and their associated actions or commands, as well as how to work with AWS Management Console, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/WhatIsConfig.html\">What Is AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>",
  "metadata": {
    "apiVersion": "2014-11-12",
    "endpointPrefix": "config",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Config Service",
    "serviceFullName": "AWS Config",
    "serviceId": "Config Service",
    "signatureVersion": "v4",
    "targetPrefix": "StarlingDoveService",
    "uid": "config-2014-11-12"
  },
  "operations": {
    "BatchGetAggregateResourceConfig": {
      "documentation": "<p>Returns the current configuration items for resources that are present in your AWS Config aggregator. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty <code>unprocessedResourceIdentifiers</code> list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return tags and relationships.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetAggregateResourceConfigRequest"
      },
      "name": "BatchGetAggregateResourceConfig",
      "output": {
        "shape": "BatchGetAggregateResourceConfigResponse"
      }
    },
    "BatchGetResourceConfig": {
      "documentation": "<p>Returns the current configuration for one or more requested resources. The operation also returns a list of resources that are not processed in the current request. If there are no unprocessed resources, the operation returns an empty unprocessedResourceKeys list. </p> <note> <ul> <li> <p>The API does not return results for deleted resources.</p> </li> <li> <p> The API does not return any tags for the requested resources. This information is filtered out of the supplementaryConfiguration section of the API response.</p> </li> </ul> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "NoAvailableConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetResourceConfigRequest"
      },
      "name": "BatchGetResourceConfig",
      "output": {
        "shape": "BatchGetResourceConfigResponse"
      }
    },
    "DeleteAggregationAuthorization": {
      "documentation": "<p>Deletes the authorization granted to the specified configuration aggregator account in a specified region.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAggregationAuthorizationRequest"
      },
      "name": "DeleteAggregationAuthorization"
    },
    "DeleteConfigRule": {
      "documentation": "<p>Deletes the specified AWS Config rule and all of its evaluation results.</p> <p>AWS Config sets the state of a rule to <code>DELETING</code> until the deletion is complete. You cannot update a rule while it is in this state. If you make a <code>PutConfigRule</code> or <code>DeleteConfigRule</code> request for the rule, you will receive a <code>ResourceInUseException</code>.</p> <p>You can check the state of a rule by using the <code>DescribeConfigRules</code> request.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigRuleException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConfigRuleRequest"
      },
      "name": "DeleteConfigRule"
    },
    "DeleteConfigurationAggregator": {
      "documentation": "<p>Deletes the specified configuration aggregator and the aggregated data associated with the aggregator.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConfigurationAggregatorRequest"
      },
      "name": "DeleteConfigurationAggregator"
    },
    "DeleteConfigurationRecorder": {
      "documentation": "<p>Deletes the configuration recorder.</p> <p>After the configuration recorder is deleted, AWS Config will not record resource configuration changes until you create a new configuration recorder.</p> <p>This action does not delete the configuration information that was previously recorded. You will be able to access the previously recorded information by using the <code>GetResourceConfigHistory</code> action, but you will not be able to access this information in the AWS Config console until you create a new configuration recorder.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConfigurationRecorderRequest"
      },
      "name": "DeleteConfigurationRecorder"
    },
    "DeleteConformancePack": {
      "documentation": "<p>Deletes the specified conformance pack and all the AWS Config rules, remediation actions, and all evaluation results within that conformance pack.</p> <p>AWS Config sets the conformance pack to <code>DELETE_IN_PROGRESS</code> until the deletion is complete. You cannot update a conformance pack while it is in this state.</p>",
      "errors": [
        {
          "shape": "NoSuchConformancePackException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConformancePackRequest"
      },
      "name": "DeleteConformancePack"
    },
    "DeleteDeliveryChannel": {
      "documentation": "<p>Deletes the delivery channel.</p> <p>Before you can delete the delivery channel, you must stop the configuration recorder by using the <a>StopConfigurationRecorder</a> action.</p>",
      "errors": [
        {
          "shape": "NoSuchDeliveryChannelException"
        },
        {
          "shape": "LastDeliveryChannelDeleteFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDeliveryChannelRequest"
      },
      "name": "DeleteDeliveryChannel"
    },
    "DeleteEvaluationResults": {
      "documentation": "<p>Deletes the evaluation results for the specified AWS Config rule. You can specify one AWS Config rule per request. After you delete the evaluation results, you can call the <a>StartConfigRulesEvaluation</a> API to start evaluating your AWS resources against the rule.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigRuleException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEvaluationResultsRequest"
      },
      "name": "DeleteEvaluationResults",
      "output": {
        "shape": "DeleteEvaluationResultsResponse"
      }
    },
    "DeleteOrganizationConfigRule": {
      "documentation": "<p>Deletes the specified organization config rule and all of its evaluation results from all member accounts in that organization. Only a master account can delete an organization config rule.</p> <p>AWS Config sets the state of a rule to DELETE_IN_PROGRESS until the deletion is complete. You cannot update a rule while it is in this state.</p>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConfigRuleException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOrganizationConfigRuleRequest"
      },
      "name": "DeleteOrganizationConfigRule"
    },
    "DeleteOrganizationConformancePack": {
      "documentation": "<p>Deletes the specified organization conformance pack and all of the config rules and remediation actions from all member accounts in that organization. Only a master account can delete an organization conformance pack.</p> <p>AWS Config sets the state of a conformance pack to DELETE_IN_PROGRESS until the deletion is complete. You cannot update a conformance pack while it is in this state. </p>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConformancePackException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOrganizationConformancePackRequest"
      },
      "name": "DeleteOrganizationConformancePack"
    },
    "DeletePendingAggregationRequest": {
      "documentation": "<p>Deletes pending authorization requests for a specified aggregator account in a specified region.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePendingAggregationRequestRequest"
      },
      "name": "DeletePendingAggregationRequest"
    },
    "DeleteRemediationConfiguration": {
      "documentation": "<p>Deletes the remediation configuration.</p>",
      "errors": [
        {
          "shape": "NoSuchRemediationConfigurationException"
        },
        {
          "shape": "RemediationInProgressException"
        },
        {
          "shape": "InsufficientPermissionsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRemediationConfigurationRequest"
      },
      "name": "DeleteRemediationConfiguration",
      "output": {
        "shape": "DeleteRemediationConfigurationResponse"
      }
    },
    "DeleteRemediationExceptions": {
      "documentation": "<p>Deletes one or more remediation exceptions mentioned in the resource keys.</p>",
      "errors": [
        {
          "shape": "NoSuchRemediationExceptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRemediationExceptionsRequest"
      },
      "name": "DeleteRemediationExceptions",
      "output": {
        "shape": "DeleteRemediationExceptionsResponse"
      }
    },
    "DeleteResourceConfig": {
      "documentation": "<p>Records the configuration state for a custom resource that has been deleted. This API records a new ConfigurationItem with a ResourceDeleted status. You can retrieve the ConfigurationItems recorded for this resource in your AWS Config History. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "NoRunningConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourceConfigRequest"
      },
      "name": "DeleteResourceConfig"
    },
    "DeleteRetentionConfiguration": {
      "documentation": "<p>Deletes the retention configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "NoSuchRetentionConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRetentionConfigurationRequest"
      },
      "name": "DeleteRetentionConfiguration"
    },
    "DeliverConfigSnapshot": {
      "documentation": "<p>Schedules delivery of a configuration snapshot to the Amazon S3 bucket in the specified delivery channel. After the delivery has started, AWS Config sends the following notifications using an Amazon SNS topic that you have specified.</p> <ul> <li> <p>Notification of the start of the delivery.</p> </li> <li> <p>Notification of the completion of the delivery, if the delivery was successfully completed.</p> </li> <li> <p>Notification of delivery failure, if the delivery failed.</p> </li> </ul>",
      "errors": [
        {
          "shape": "NoSuchDeliveryChannelException"
        },
        {
          "shape": "NoAvailableConfigurationRecorderException"
        },
        {
          "shape": "NoRunningConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeliverConfigSnapshotRequest"
      },
      "name": "DeliverConfigSnapshot",
      "output": {
        "shape": "DeliverConfigSnapshotResponse"
      }
    },
    "DescribeAggregateComplianceByConfigRules": {
      "documentation": "<p>Returns a list of compliant and noncompliant rules with the number of resources for compliant and noncompliant rules. </p> <note> <p>The results can return an empty result page, but if you have a <code>nextToken</code>, the results are displayed on the next page.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAggregateComplianceByConfigRulesRequest"
      },
      "name": "DescribeAggregateComplianceByConfigRules",
      "output": {
        "shape": "DescribeAggregateComplianceByConfigRulesResponse"
      }
    },
    "DescribeAggregationAuthorizations": {
      "documentation": "<p>Returns a list of authorizations granted to various aggregator accounts and regions.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidLimitException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAggregationAuthorizationsRequest"
      },
      "name": "DescribeAggregationAuthorizations",
      "output": {
        "shape": "DescribeAggregationAuthorizationsResponse"
      }
    },
    "DescribeComplianceByConfigRule": {
      "documentation": "<p>Indicates whether the specified AWS Config rules are compliant. If a rule is noncompliant, this action returns the number of AWS resources that do not comply with the rule.</p> <p>A rule is compliant if all of the evaluated resources comply with it. It is noncompliant if any of these resources do not comply.</p> <p>If AWS Config has no current evaluation results for the rule, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "NoSuchConfigRuleException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeComplianceByConfigRuleRequest"
      },
      "name": "DescribeComplianceByConfigRule",
      "output": {
        "shape": "DescribeComplianceByConfigRuleResponse"
      }
    },
    "DescribeComplianceByResource": {
      "documentation": "<p>Indicates whether the specified AWS resources are compliant. If a resource is noncompliant, this action returns the number of AWS Config rules that the resource does not comply with.</p> <p>A resource is compliant if it complies with all the AWS Config rules that evaluate it. It is noncompliant if it does not comply with one or more of these rules.</p> <p>If AWS Config has no current evaluation results for the resource, it returns <code>INSUFFICIENT_DATA</code>. This result might indicate one of the following conditions about the rules that evaluate the resource:</p> <ul> <li> <p>AWS Config has never invoked an evaluation for the rule. To check whether it has, use the <code>DescribeConfigRuleEvaluationStatus</code> action to get the <code>LastSuccessfulInvocationTime</code> and <code>LastFailedInvocationTime</code>.</p> </li> <li> <p>The rule's AWS Lambda function is failing to send evaluation results to AWS Config. Verify that the role that you assigned to your configuration recorder includes the <code>config:PutEvaluations</code> permission. If the rule is a custom rule, verify that the AWS Lambda execution role includes the <code>config:PutEvaluations</code> permission.</p> </li> <li> <p>The rule's AWS Lambda function has returned <code>NOT_APPLICABLE</code> for all evaluation results. This can occur if the resources were deleted or removed from the rule's scope.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeComplianceByResourceRequest"
      },
      "name": "DescribeComplianceByResource",
      "output": {
        "shape": "DescribeComplianceByResourceResponse"
      }
    },
    "DescribeConfigRuleEvaluationStatus": {
      "documentation": "<p>Returns status information for each of your AWS managed Config rules. The status includes information such as the last time AWS Config invoked the rule, the last time AWS Config failed to invoke the rule, and the related error for the last failure.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigRuleException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigRuleEvaluationStatusRequest"
      },
      "name": "DescribeConfigRuleEvaluationStatus",
      "output": {
        "shape": "DescribeConfigRuleEvaluationStatusResponse"
      }
    },
    "DescribeConfigRules": {
      "documentation": "<p>Returns details about your AWS Config rules.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigRuleException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigRulesRequest"
      },
      "name": "DescribeConfigRules",
      "output": {
        "shape": "DescribeConfigRulesResponse"
      }
    },
    "DescribeConfigurationAggregatorSourcesStatus": {
      "documentation": "<p>Returns status information for sources within an aggregator. The status includes information about the last time AWS Config verified authorization between the source account and an aggregator account. In case of a failure, the status contains the related error code or message. </p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidLimitException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationAggregatorSourcesStatusRequest"
      },
      "name": "DescribeConfigurationAggregatorSourcesStatus",
      "output": {
        "shape": "DescribeConfigurationAggregatorSourcesStatusResponse"
      }
    },
    "DescribeConfigurationAggregators": {
      "documentation": "<p>Returns the details of one or more configuration aggregators. If the configuration aggregator is not specified, this action returns the details for all the configuration aggregators associated with the account. </p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidLimitException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationAggregatorsRequest"
      },
      "name": "DescribeConfigurationAggregators",
      "output": {
        "shape": "DescribeConfigurationAggregatorsResponse"
      }
    },
    "DescribeConfigurationRecorderStatus": {
      "documentation": "<p>Returns the current status of the specified configuration recorder. If a configuration recorder is not specified, this action returns the status of all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationRecorderStatusRequest"
      },
      "name": "DescribeConfigurationRecorderStatus",
      "output": {
        "shape": "DescribeConfigurationRecorderStatusResponse"
      }
    },
    "DescribeConfigurationRecorders": {
      "documentation": "<p>Returns the details for the specified configuration recorders. If the configuration recorder is not specified, this action returns the details for all configuration recorders associated with the account.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConfigurationRecordersRequest"
      },
      "name": "DescribeConfigurationRecorders",
      "output": {
        "shape": "DescribeConfigurationRecordersResponse"
      }
    },
    "DescribeConformancePackCompliance": {
      "documentation": "<p>Returns compliance details for each rule in that conformance pack.</p> <note> <p>You must provide exact rule names.</p> </note>",
      "errors": [
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "NoSuchConfigRuleInConformancePackException"
        },
        {
          "shape": "NoSuchConformancePackException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConformancePackComplianceRequest"
      },
      "name": "DescribeConformancePackCompliance",
      "output": {
        "shape": "DescribeConformancePackComplianceResponse"
      }
    },
    "DescribeConformancePackStatus": {
      "documentation": "<p>Provides one or more conformance packs deployment status.</p> <note> <p>If there are no conformance packs then you will see an empty result.</p> </note>",
      "errors": [
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConformancePackStatusRequest"
      },
      "name": "DescribeConformancePackStatus",
      "output": {
        "shape": "DescribeConformancePackStatusResponse"
      }
    },
    "DescribeConformancePacks": {
      "documentation": "<p>Returns a list of one or more conformance packs.</p>",
      "errors": [
        {
          "shape": "NoSuchConformancePackException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConformancePacksRequest"
      },
      "name": "DescribeConformancePacks",
      "output": {
        "shape": "DescribeConformancePacksResponse"
      }
    },
    "DescribeDeliveryChannelStatus": {
      "documentation": "<p>Returns the current status of the specified delivery channel. If a delivery channel is not specified, this action returns the current status of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchDeliveryChannelException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDeliveryChannelStatusRequest"
      },
      "name": "DescribeDeliveryChannelStatus",
      "output": {
        "shape": "DescribeDeliveryChannelStatusResponse"
      }
    },
    "DescribeDeliveryChannels": {
      "documentation": "<p>Returns details about the specified delivery channel. If a delivery channel is not specified, this action returns the details of all delivery channels associated with the account.</p> <note> <p>Currently, you can specify only one delivery channel per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchDeliveryChannelException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDeliveryChannelsRequest"
      },
      "name": "DescribeDeliveryChannels",
      "output": {
        "shape": "DescribeDeliveryChannelsResponse"
      }
    },
    "DescribeOrganizationConfigRuleStatuses": {
      "documentation": "<p>Provides organization config rule deployment status for an organization.</p> <note> <p>The status is not considered successful until organization config rule is successfully deployed in all the member accounts with an exception of excluded accounts.</p> <p>When you specify the limit and the next token, you receive a paginated response. Limit and next token are not applicable if you specify organization config rule names. It is only applicable, when you request all the organization config rules.</p> <p>Only a master account can call this API.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConfigRuleException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrganizationConfigRuleStatusesRequest"
      },
      "name": "DescribeOrganizationConfigRuleStatuses",
      "output": {
        "shape": "DescribeOrganizationConfigRuleStatusesResponse"
      }
    },
    "DescribeOrganizationConfigRules": {
      "documentation": "<p>Returns a list of organization config rules.</p> <note> <p>When you specify the limit and the next token, you receive a paginated response. Limit and next token are not applicable if you specify organization config rule names. It is only applicable, when you request all the organization config rules.</p> <p>Only a master account can call this API.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConfigRuleException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrganizationConfigRulesRequest"
      },
      "name": "DescribeOrganizationConfigRules",
      "output": {
        "shape": "DescribeOrganizationConfigRulesResponse"
      }
    },
    "DescribeOrganizationConformancePackStatuses": {
      "documentation": "<p>Provides organization conformance pack deployment status for an organization.</p> <note> <p>The status is not considered successful until organization conformance pack is successfully deployed in all the member accounts with an exception of excluded accounts.</p> <p>When you specify the limit and the next token, you receive a paginated response. Limit and next token are not applicable if you specify organization conformance pack names. They are only applicable, when you request all the organization conformance packs.</p> <p>Only a master account can call this API.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConformancePackException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrganizationConformancePackStatusesRequest"
      },
      "name": "DescribeOrganizationConformancePackStatuses",
      "output": {
        "shape": "DescribeOrganizationConformancePackStatusesResponse"
      }
    },
    "DescribeOrganizationConformancePacks": {
      "documentation": "<p>Returns a list of organization conformance packs.</p> <note> <p>When you specify the limit and the next token, you receive a paginated response. </p> <p>Limit and next token are not applicable if you specify organization conformance packs names. They are only applicable, when you request all the organization conformance packs. </p> <p>Only a master account can call this API.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConformancePackException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrganizationConformancePacksRequest"
      },
      "name": "DescribeOrganizationConformancePacks",
      "output": {
        "shape": "DescribeOrganizationConformancePacksResponse"
      }
    },
    "DescribePendingAggregationRequests": {
      "documentation": "<p>Returns a list of all pending aggregation requests.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidLimitException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePendingAggregationRequestsRequest"
      },
      "name": "DescribePendingAggregationRequests",
      "output": {
        "shape": "DescribePendingAggregationRequestsResponse"
      }
    },
    "DescribeRemediationConfigurations": {
      "documentation": "<p>Returns the details of one or more remediation configurations.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRemediationConfigurationsRequest"
      },
      "name": "DescribeRemediationConfigurations",
      "output": {
        "shape": "DescribeRemediationConfigurationsResponse"
      }
    },
    "DescribeRemediationExceptions": {
      "documentation": "<p>Returns the details of one or more remediation exceptions. A detailed view of a remediation exception for a set of resources that includes an explanation of an exception and the time when the exception will be deleted. When you specify the limit and the next token, you receive a paginated response. </p> <note> <p>When you specify the limit and the next token, you receive a paginated response. </p> <p>Limit and next token are not applicable if you request resources in batch. It is only applicable, when you request all resources.</p> </note>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRemediationExceptionsRequest"
      },
      "name": "DescribeRemediationExceptions",
      "output": {
        "shape": "DescribeRemediationExceptionsResponse"
      }
    },
    "DescribeRemediationExecutionStatus": {
      "documentation": "<p>Provides a detailed view of a Remediation Execution for a set of resources including state, timestamps for when steps for the remediation execution occur, and any error messages for steps that have failed. When you specify the limit and the next token, you receive a paginated response.</p>",
      "errors": [
        {
          "shape": "NoSuchRemediationConfigurationException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRemediationExecutionStatusRequest"
      },
      "name": "DescribeRemediationExecutionStatus",
      "output": {
        "shape": "DescribeRemediationExecutionStatusResponse"
      }
    },
    "DescribeRetentionConfigurations": {
      "documentation": "<p>Returns the details of one or more retention configurations. If the retention configuration name is not specified, this action returns the details for all the retention configurations for that account.</p> <note> <p>Currently, AWS Config supports only one retention configuration per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "NoSuchRetentionConfigurationException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRetentionConfigurationsRequest"
      },
      "name": "DescribeRetentionConfigurations",
      "output": {
        "shape": "DescribeRetentionConfigurationsResponse"
      }
    },
    "GetAggregateComplianceDetailsByConfigRule": {
      "documentation": "<p>Returns the evaluation results for the specified AWS Config rule for a specific resource in a rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule. </p> <note> <p>The results can return an empty result page. But if you have a <code>nextToken</code>, the results are displayed on the next page.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAggregateComplianceDetailsByConfigRuleRequest"
      },
      "name": "GetAggregateComplianceDetailsByConfigRule",
      "output": {
        "shape": "GetAggregateComplianceDetailsByConfigRuleResponse"
      }
    },
    "GetAggregateConfigRuleComplianceSummary": {
      "documentation": "<p>Returns the number of compliant and noncompliant rules for one or more accounts and regions in an aggregator.</p> <note> <p>The results can return an empty result page, but if you have a nextToken, the results are displayed on the next page.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAggregateConfigRuleComplianceSummaryRequest"
      },
      "name": "GetAggregateConfigRuleComplianceSummary",
      "output": {
        "shape": "GetAggregateConfigRuleComplianceSummaryResponse"
      }
    },
    "GetAggregateDiscoveredResourceCounts": {
      "documentation": "<p>Returns the resource counts across accounts and regions that are present in your AWS Config aggregator. You can request the resource counts by providing filters and GroupByKey.</p> <p>For example, if the input contains accountID 12345678910 and region us-east-1 in filters, the API returns the count of resources in account ID 12345678910 and region us-east-1. If the input contains ACCOUNT_ID as a GroupByKey, the API returns resource counts for all source accounts that are present in your aggregator.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAggregateDiscoveredResourceCountsRequest"
      },
      "name": "GetAggregateDiscoveredResourceCounts",
      "output": {
        "shape": "GetAggregateDiscoveredResourceCountsResponse"
      }
    },
    "GetAggregateResourceConfig": {
      "documentation": "<p>Returns configuration item that is aggregated for your specific resource in a specific source account and region.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        },
        {
          "shape": "OversizedConfigurationItemException"
        },
        {
          "shape": "ResourceNotDiscoveredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAggregateResourceConfigRequest"
      },
      "name": "GetAggregateResourceConfig",
      "output": {
        "shape": "GetAggregateResourceConfigResponse"
      }
    },
    "GetComplianceDetailsByConfigRule": {
      "documentation": "<p>Returns the evaluation results for the specified AWS Config rule. The results indicate which AWS resources were evaluated by the rule, when each resource was last evaluated, and whether each resource complies with the rule.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConfigRuleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetComplianceDetailsByConfigRuleRequest"
      },
      "name": "GetComplianceDetailsByConfigRule",
      "output": {
        "shape": "GetComplianceDetailsByConfigRuleResponse"
      }
    },
    "GetComplianceDetailsByResource": {
      "documentation": "<p>Returns the evaluation results for the specified AWS resource. The results indicate which AWS Config rules were used to evaluate the resource, when each rule was last used, and whether the resource complies with each rule.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetComplianceDetailsByResourceRequest"
      },
      "name": "GetComplianceDetailsByResource",
      "output": {
        "shape": "GetComplianceDetailsByResourceResponse"
      }
    },
    "GetComplianceSummaryByConfigRule": {
      "documentation": "<p>Returns the number of AWS Config rules that are compliant and noncompliant, up to a maximum of 25 for each.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "GetComplianceSummaryByConfigRule",
      "output": {
        "shape": "GetComplianceSummaryByConfigRuleResponse"
      }
    },
    "GetComplianceSummaryByResourceType": {
      "documentation": "<p>Returns the number of resources that are compliant and the number that are noncompliant. You can specify one or more resource types to get these numbers for each resource type. The maximum number returned is 100.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetComplianceSummaryByResourceTypeRequest"
      },
      "name": "GetComplianceSummaryByResourceType",
      "output": {
        "shape": "GetComplianceSummaryByResourceTypeResponse"
      }
    },
    "GetConformancePackComplianceDetails": {
      "documentation": "<p>Returns compliance details of a conformance pack for all AWS resources that are monitered by conformance pack.</p>",
      "errors": [
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConformancePackException"
        },
        {
          "shape": "NoSuchConfigRuleInConformancePackException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConformancePackComplianceDetailsRequest"
      },
      "name": "GetConformancePackComplianceDetails",
      "output": {
        "shape": "GetConformancePackComplianceDetailsResponse"
      }
    },
    "GetConformancePackComplianceSummary": {
      "documentation": "<p>Returns compliance details for the conformance pack based on the cumulative compliance results of all the rules in that conformance pack.</p>",
      "errors": [
        {
          "shape": "NoSuchConformancePackException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConformancePackComplianceSummaryRequest"
      },
      "name": "GetConformancePackComplianceSummary",
      "output": {
        "shape": "GetConformancePackComplianceSummaryResponse"
      }
    },
    "GetDiscoveredResourceCounts": {
      "documentation": "<p>Returns the resource types, the number of each resource type, and the total number of resources that AWS Config is recording in this region for your AWS account. </p> <p class=\"title\"> <b>Example</b> </p> <ol> <li> <p>AWS Config is recording three resource types in the US East (Ohio) Region for your account: 25 EC2 instances, 20 IAM users, and 15 S3 buckets.</p> </li> <li> <p>You make a call to the <code>GetDiscoveredResourceCounts</code> action and specify that you want all resource types. </p> </li> <li> <p>AWS Config returns the following:</p> <ul> <li> <p>The resource types (EC2 instances, IAM users, and S3 buckets).</p> </li> <li> <p>The number of each resource type (25, 20, and 15).</p> </li> <li> <p>The total number of all resources (60).</p> </li> </ul> </li> </ol> <p>The response is paginated. By default, AWS Config lists 100 <a>ResourceCount</a> objects on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>If you make a call to the <a>GetDiscoveredResourceCounts</a> action, you might not immediately receive resource counts in the following situations:</p> <ul> <li> <p>You are a new AWS Config customer.</p> </li> <li> <p>You just enabled resource recording.</p> </li> </ul> <p>It might take a few minutes for AWS Config to record and count your resources. Wait a few minutes and then retry the <a>GetDiscoveredResourceCounts</a> action. </p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDiscoveredResourceCountsRequest"
      },
      "name": "GetDiscoveredResourceCounts",
      "output": {
        "shape": "GetDiscoveredResourceCountsResponse"
      }
    },
    "GetOrganizationConfigRuleDetailedStatus": {
      "documentation": "<p>Returns detailed status for each member account within an organization for a given organization config rule.</p> <note> <p>Only a master account can call this API.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConfigRuleException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOrganizationConfigRuleDetailedStatusRequest"
      },
      "name": "GetOrganizationConfigRuleDetailedStatus",
      "output": {
        "shape": "GetOrganizationConfigRuleDetailedStatusResponse"
      }
    },
    "GetOrganizationConformancePackDetailedStatus": {
      "documentation": "<p>Returns detailed status for each member account within an organization for a given organization conformance pack.</p> <p>Only a master account can call this API.</p>",
      "errors": [
        {
          "shape": "NoSuchOrganizationConformancePackException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOrganizationConformancePackDetailedStatusRequest"
      },
      "name": "GetOrganizationConformancePackDetailedStatus",
      "output": {
        "shape": "GetOrganizationConformancePackDetailedStatusResponse"
      }
    },
    "GetResourceConfigHistory": {
      "documentation": "<p>Returns a list of configuration items for the specified resource. The list contains details about each state of the resource during the specified time interval. If you specified a retention period to retain your <code>ConfigurationItems</code> between a minimum of 30 days and a maximum of 7 years (2557 days), AWS Config returns the <code>ConfigurationItems</code> for the specified retention period. </p> <p>The response is paginated. By default, AWS Config returns a limit of 10 configuration items per page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p> <note> <p>Each call to the API is limited to span a duration of seven days. It is likely that the number of records returned is smaller than the specified <code>limit</code>. In such cases, you can make another call, using the <code>nextToken</code>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidTimeRangeException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoAvailableConfigurationRecorderException"
        },
        {
          "shape": "ResourceNotDiscoveredException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourceConfigHistoryRequest"
      },
      "name": "GetResourceConfigHistory",
      "output": {
        "shape": "GetResourceConfigHistoryResponse"
      }
    },
    "ListAggregateDiscoveredResources": {
      "documentation": "<p>Accepts a resource type and returns a list of resource identifiers that are aggregated for a specific resource type across accounts and regions. A resource identifier includes the resource type, ID, (if available) the custom resource name, source account, and source region. You can narrow the results to include only resources that have specific resource IDs, or a resource name, or source account ID, or source region.</p> <p>For example, if the input consists of accountID 12345678910 and the region is us-east-1 for resource type <code>AWS::EC2::Instance</code> then the API returns all the EC2 instance identifiers of accountID 12345678910 and region us-east-1.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAggregateDiscoveredResourcesRequest"
      },
      "name": "ListAggregateDiscoveredResources",
      "output": {
        "shape": "ListAggregateDiscoveredResourcesResponse"
      }
    },
    "ListDiscoveredResources": {
      "documentation": "<p>Accepts a resource type and returns a list of resource identifiers for the resources of that type. A resource identifier includes the resource type, ID, and (if available) the custom resource name. The results consist of resources that AWS Config has discovered, including those that AWS Config is not currently recording. You can narrow the results to include only resources that have specific resource IDs or a resource name.</p> <note> <p>You can specify either resource IDs or a resource name, but not both, in the same request.</p> </note> <p>The response is paginated. By default, AWS Config lists 100 resource identifiers on each page. You can customize this number with the <code>limit</code> parameter. The response includes a <code>nextToken</code> string. To get the next page of results, run the request again and specify the string for the <code>nextToken</code> parameter.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NoAvailableConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDiscoveredResourcesRequest"
      },
      "name": "ListDiscoveredResources",
      "output": {
        "shape": "ListDiscoveredResourcesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List the tags for AWS Config resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutAggregationAuthorization": {
      "documentation": "<p>Authorizes the aggregator account and region to collect data from the source account and region. </p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAggregationAuthorizationRequest"
      },
      "name": "PutAggregationAuthorization",
      "output": {
        "shape": "PutAggregationAuthorizationResponse"
      }
    },
    "PutConfigRule": {
      "documentation": "<p>Adds or updates an AWS Config rule for evaluating whether your AWS resources comply with your desired configurations.</p> <p>You can use this action for custom AWS Config rules and AWS managed Config rules. A custom AWS Config rule is a rule that you develop and maintain. An AWS managed Config rule is a customizable, predefined rule that AWS Config provides.</p> <p>If you are adding a new custom AWS Config rule, you must first create the AWS Lambda function that the rule invokes to evaluate your resources. When you use the <code>PutConfigRule</code> action to add the rule to AWS Config, you must specify the Amazon Resource Name (ARN) that AWS Lambda assigns to the function. Specify the ARN for the <code>SourceIdentifier</code> key. This key is part of the <code>Source</code> object, which is part of the <code>ConfigRule</code> object. </p> <p>If you are adding an AWS managed Config rule, specify the rule's identifier for the <code>SourceIdentifier</code> key. To reference AWS managed Config rule identifiers, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config_use-managed-rules.html\">About AWS Managed Config Rules</a>.</p> <p>For any new rule that you add, specify the <code>ConfigRuleName</code> in the <code>ConfigRule</code> object. Do not specify the <code>ConfigRuleArn</code> or the <code>ConfigRuleId</code>. These values are generated by AWS Config for new rules.</p> <p>If you are updating a rule that you added previously, you can specify the rule by <code>ConfigRuleName</code>, <code>ConfigRuleId</code>, or <code>ConfigRuleArn</code> in the <code>ConfigRule</code> data type that you use in this request.</p> <p>The maximum number of rules that AWS Config supports is 150.</p> <p>For information about requesting a rule limit increase, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws_service_limits.html#limits_config\">AWS Config Limits</a> in the <i>AWS General Reference Guide</i>.</p> <p>For more information about developing and using AWS Config rules, see <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/evaluate-config.html\">Evaluating AWS Resource Configurations with AWS Config</a> in the <i>AWS Config Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MaxNumberOfConfigRulesExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "NoAvailableConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutConfigRuleRequest"
      },
      "name": "PutConfigRule"
    },
    "PutConfigurationAggregator": {
      "documentation": "<p>Creates and updates the configuration aggregator with the selected source accounts and regions. The source account can be individual account(s) or an organization.</p> <note> <p>AWS Config should be enabled in source accounts and regions you want to aggregate.</p> <p>If your source type is an organization, you must be signed in to the master account and all features must be enabled in your organization. AWS Config calls <code>EnableAwsServiceAccess</code> API to enable integration between AWS Config and AWS Organizations. </p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        },
        {
          "shape": "OrganizationAllFeaturesNotEnabledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutConfigurationAggregatorRequest"
      },
      "name": "PutConfigurationAggregator",
      "output": {
        "shape": "PutConfigurationAggregatorResponse"
      }
    },
    "PutConfigurationRecorder": {
      "documentation": "<p>Creates a new configuration recorder to record the selected resource configurations.</p> <p>You can use this action to change the role <code>roleARN</code> or the <code>recordingGroup</code> of an existing recorder. To change the role, call the action on the existing configuration recorder and specify a role.</p> <note> <p>Currently, you can specify only one configuration recorder per region in your account.</p> <p>If <code>ConfigurationRecorder</code> does not have the <b>recordingGroup</b> parameter specified, the default is to record all supported resource types.</p> </note>",
      "errors": [
        {
          "shape": "MaxNumberOfConfigurationRecordersExceededException"
        },
        {
          "shape": "InvalidConfigurationRecorderNameException"
        },
        {
          "shape": "InvalidRoleException"
        },
        {
          "shape": "InvalidRecordingGroupException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutConfigurationRecorderRequest"
      },
      "name": "PutConfigurationRecorder"
    },
    "PutConformancePack": {
      "documentation": "<p>Creates or updates a conformance pack. A conformance pack is a collection of AWS Config rules that can be easily deployed in an account and a region and across AWS Organization.</p> <p>This API creates a service linked role <code>AWSServiceRoleForConfigConforms</code> in your account. The service linked role is created only when the role does not exist in your account. AWS Config verifies the existence of role with <code>GetRole</code> action.</p> <note> <p>You must specify either the <code>TemplateS3Uri</code> or the <code>TemplateBody</code> parameter, but not both. If you provide both AWS Config uses the <code>TemplateS3Uri</code> parameter and ignores the <code>TemplateBody</code> parameter.</p> </note>",
      "errors": [
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "ConformancePackTemplateValidationException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MaxNumberOfConformancePacksExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutConformancePackRequest"
      },
      "name": "PutConformancePack",
      "output": {
        "shape": "PutConformancePackResponse"
      }
    },
    "PutDeliveryChannel": {
      "documentation": "<p>Creates a delivery channel object to deliver configuration information to an Amazon S3 bucket and Amazon SNS topic.</p> <p>Before you can create a delivery channel, you must create a configuration recorder.</p> <p>You can use this action to change the Amazon S3 bucket or an Amazon SNS topic of the existing delivery channel. To change the Amazon S3 bucket or an Amazon SNS topic, call this action and specify the changed values for the S3 bucket and the SNS topic. If you specify a different value for either the S3 bucket or the SNS topic, this action will keep the existing value for the parameter that is not changed.</p> <note> <p>You can have only one delivery channel per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "MaxNumberOfDeliveryChannelsExceededException"
        },
        {
          "shape": "NoAvailableConfigurationRecorderException"
        },
        {
          "shape": "InvalidDeliveryChannelNameException"
        },
        {
          "shape": "NoSuchBucketException"
        },
        {
          "shape": "InvalidS3KeyPrefixException"
        },
        {
          "shape": "InvalidSNSTopicARNException"
        },
        {
          "shape": "InsufficientDeliveryPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutDeliveryChannelRequest"
      },
      "name": "PutDeliveryChannel"
    },
    "PutEvaluations": {
      "documentation": "<p>Used by an AWS Lambda function to deliver evaluation results to AWS Config. This action is required in every AWS Lambda function that is invoked by an AWS Config rule.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidResultTokenException"
        },
        {
          "shape": "NoSuchConfigRuleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutEvaluationsRequest"
      },
      "name": "PutEvaluations",
      "output": {
        "shape": "PutEvaluationsResponse"
      }
    },
    "PutOrganizationConfigRule": {
      "documentation": "<p>Adds or updates organization config rule for your entire organization evaluating whether your AWS resources comply with your desired configurations. Only a master account can create or update an organization config rule.</p> <p>This API enables organization service access through the <code>EnableAWSServiceAccess</code> action and creates a service linked role <code>AWSServiceRoleForConfigMultiAccountSetup</code> in the master account of your organization. The service linked role is created only when the role does not exist in the master account. AWS Config verifies the existence of role with <code>GetRole</code> action.</p> <p>You can use this action to create both custom AWS Config rules and AWS managed Config rules. If you are adding a new custom AWS Config rule, you must first create AWS Lambda function in the master account that the rule invokes to evaluate your resources. When you use the <code>PutOrganizationConfigRule</code> action to add the rule to AWS Config, you must specify the Amazon Resource Name (ARN) that AWS Lambda assigns to the function. If you are adding an AWS managed Config rule, specify the rule's identifier for the <code>RuleIdentifier</code> key.</p> <p>The maximum number of organization config rules that AWS Config supports is 150.</p> <note> <p>Specify either <code>OrganizationCustomRuleMetadata</code> or <code>OrganizationManagedRuleMetadata</code>.</p> </note>",
      "errors": [
        {
          "shape": "MaxNumberOfOrganizationConfigRulesExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        },
        {
          "shape": "OrganizationAllFeaturesNotEnabledException"
        },
        {
          "shape": "InsufficientPermissionsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutOrganizationConfigRuleRequest"
      },
      "name": "PutOrganizationConfigRule",
      "output": {
        "shape": "PutOrganizationConfigRuleResponse"
      }
    },
    "PutOrganizationConformancePack": {
      "documentation": "<p>Deploys conformance packs across member accounts in an AWS Organization.</p> <p>This API enables organization service access for <code>config-multiaccountsetup.amazonaws.com</code> through the <code>EnableAWSServiceAccess</code> action and creates a service linked role <code>AWSServiceRoleForConfigMultiAccountSetup</code> in the master account of your organization. The service linked role is created only when the role does not exist in the master account. AWS Config verifies the existence of role with GetRole action.</p> <note> <p>You must specify either the <code>TemplateS3Uri</code> or the <code>TemplateBody</code> parameter, but not both. If you provide both AWS Config uses the <code>TemplateS3Uri</code> parameter and ignores the <code>TemplateBody</code> parameter.</p> <p>AWS Config sets the state of a conformance pack to CREATE_IN_PROGRESS and UPDATE_IN_PROGRESS until the confomance pack is created or updated. You cannot update a conformance pack while it is in this state.</p> <p>You can create 6 conformance packs with 25 AWS Config rules in each pack.</p> </note>",
      "errors": [
        {
          "shape": "MaxNumberOfOrganizationConformancePacksExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "OrganizationAccessDeniedException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "OrganizationConformancePackTemplateValidationException"
        },
        {
          "shape": "OrganizationAllFeaturesNotEnabledException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutOrganizationConformancePackRequest"
      },
      "name": "PutOrganizationConformancePack",
      "output": {
        "shape": "PutOrganizationConformancePackResponse"
      }
    },
    "PutRemediationConfigurations": {
      "documentation": "<p>Adds or updates the remediation configuration with a specific AWS Config rule with the selected target or action. The API creates the <code>RemediationConfiguration</code> object for the AWS Config rule. The AWS Config rule must already exist for you to add a remediation configuration. The target (SSM document) must exist and have permissions to use the target. </p>",
      "errors": [
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRemediationConfigurationsRequest"
      },
      "name": "PutRemediationConfigurations",
      "output": {
        "shape": "PutRemediationConfigurationsResponse"
      }
    },
    "PutRemediationExceptions": {
      "documentation": "<p>A remediation exception is when a specific resource is no longer considered for auto-remediation. This API adds a new exception or updates an exisiting exception for a specific resource with a specific AWS Config rule. </p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRemediationExceptionsRequest"
      },
      "name": "PutRemediationExceptions",
      "output": {
        "shape": "PutRemediationExceptionsResponse"
      }
    },
    "PutResourceConfig": {
      "documentation": "<p>Records the configuration state for the resource provided in the request. The configuration state of a resource is represented in AWS Config as Configuration Items. Once this API records the configuration item, you can retrieve the list of configuration items for the custom resource type using existing AWS Config APIs. </p> <note> <p>The custom resource type must be registered with AWS CloudFormation. This API accepts the configuration item registered with AWS CloudFormation.</p> <p>When you call this API, AWS Config only stores configuration state of the resource provided in the request. This API does not change or remediate the configuration of the resource. </p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "NoRunningConfigurationRecorderException"
        },
        {
          "shape": "MaxActiveResourcesExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourceConfigRequest"
      },
      "name": "PutResourceConfig"
    },
    "PutRetentionConfiguration": {
      "documentation": "<p>Creates and updates the retention configuration with details about retention period (number of days) that AWS Config stores your historical information. The API creates the <code>RetentionConfiguration</code> object and names the object as <b>default</b>. When you have a <code>RetentionConfiguration</code> object named <b>default</b>, calling the API modifies the default object. </p> <note> <p>Currently, AWS Config supports only one retention configuration per region in your account.</p> </note>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MaxNumberOfRetentionConfigurationsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRetentionConfigurationRequest"
      },
      "name": "PutRetentionConfiguration",
      "output": {
        "shape": "PutRetentionConfigurationResponse"
      }
    },
    "SelectAggregateResourceConfig": {
      "documentation": "<p>Accepts a structured query language (SQL) SELECT command and an aggregator to query configuration state of AWS resources across multiple accounts and regions, performs the corresponding search, and returns resource configurations matching the properties.</p> <p>For more information about query components, see the <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/query-components.html\"> <b>Query Components</b> </a> section in the AWS Config Developer Guide.</p>",
      "errors": [
        {
          "shape": "InvalidExpressionException"
        },
        {
          "shape": "NoSuchConfigurationAggregatorException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SelectAggregateResourceConfigRequest"
      },
      "name": "SelectAggregateResourceConfig",
      "output": {
        "shape": "SelectAggregateResourceConfigResponse"
      }
    },
    "SelectResourceConfig": {
      "documentation": "<p>Accepts a structured query language (SQL) <code>SELECT</code> command, performs the corresponding search, and returns resource configurations matching the properties.</p> <p>For more information about query components, see the <a href=\"https://docs.aws.amazon.com/config/latest/developerguide/query-components.html\"> <b>Query Components</b> </a> section in the AWS Config Developer Guide.</p>",
      "errors": [
        {
          "shape": "InvalidExpressionException"
        },
        {
          "shape": "InvalidLimitException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SelectResourceConfigRequest"
      },
      "name": "SelectResourceConfig",
      "output": {
        "shape": "SelectResourceConfigResponse"
      }
    },
    "StartConfigRulesEvaluation": {
      "documentation": "<p>Runs an on-demand evaluation for the specified AWS Config rules against the last known configuration state of the resources. Use <code>StartConfigRulesEvaluation</code> when you want to test that a rule you updated is working as expected. <code>StartConfigRulesEvaluation</code> does not re-record the latest configuration state for your resources. It re-runs an evaluation against the last known state of your resources. </p> <p>You can specify up to 25 AWS Config rules per request. </p> <p>An existing <code>StartConfigRulesEvaluation</code> call for the specified rules must complete before you can call the API again. If you chose to have AWS Config stream to an Amazon SNS topic, you will receive a <code>ConfigRuleEvaluationStarted</code> notification when the evaluation starts.</p> <note> <p>You don't need to call the <code>StartConfigRulesEvaluation</code> API to run an evaluation for a new rule. When you create a rule, AWS Config evaluates your resources against the rule automatically. </p> </note> <p>The <code>StartConfigRulesEvaluation</code> API is useful if you want to run on-demand evaluations, such as the following example:</p> <ol> <li> <p>You have a custom rule that evaluates your IAM resources every 24 hours.</p> </li> <li> <p>You update your Lambda function to add additional conditions to your rule.</p> </li> <li> <p>Instead of waiting for the next periodic evaluation, you call the <code>StartConfigRulesEvaluation</code> API.</p> </li> <li> <p>AWS Config invokes your Lambda function and evaluates your IAM resources.</p> </li> <li> <p>Your custom rule will still run periodic evaluations every 24 hours.</p> </li> </ol>",
      "errors": [
        {
          "shape": "NoSuchConfigRuleException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartConfigRulesEvaluationRequest"
      },
      "name": "StartConfigRulesEvaluation",
      "output": {
        "shape": "StartConfigRulesEvaluationResponse"
      }
    },
    "StartConfigurationRecorder": {
      "documentation": "<p>Starts recording configurations of the AWS resources you have selected to record in your AWS account.</p> <p>You must have created at least one delivery channel to successfully start the configuration recorder.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigurationRecorderException"
        },
        {
          "shape": "NoAvailableDeliveryChannelException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartConfigurationRecorderRequest"
      },
      "name": "StartConfigurationRecorder"
    },
    "StartRemediationExecution": {
      "documentation": "<p>Runs an on-demand remediation for the specified AWS Config rules against the last known remediation configuration. It runs an execution against the current state of your resources. Remediation execution is asynchronous.</p> <p>You can specify up to 100 resource keys per request. An existing StartRemediationExecution call for the specified resource keys must complete before you can call the API again.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InsufficientPermissionsException"
        },
        {
          "shape": "NoSuchRemediationConfigurationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartRemediationExecutionRequest"
      },
      "name": "StartRemediationExecution",
      "output": {
        "shape": "StartRemediationExecutionResponse"
      }
    },
    "StopConfigurationRecorder": {
      "documentation": "<p>Stops recording configurations of the AWS resources you have selected to record in your AWS account.</p>",
      "errors": [
        {
          "shape": "NoSuchConfigurationRecorderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopConfigurationRecorderRequest"
      },
      "name": "StopConfigurationRecorder"
    },
    "TagResource": {
      "documentation": "<p>Associates the specified tags to a resource with the specified resourceArn. If existing tags on a resource are not specified in the request parameters, they are not changed. When a resource is deleted, the tags associated with that resource are deleted as well.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Deletes specified tags from a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    }
  },
  "shapes": {
    "ARN": {
      "type": "string"
    },
    "AccountAggregationSource": {
      "documentation": "<p>A collection of accounts and regions.</p>",
      "members": {
        "AccountIds": {
          "documentation": "<p>The 12-digit account ID of the account being aggregated. </p>",
          "shape": "AccountAggregationSourceAccountList"
        },
        "AllAwsRegions": {
          "documentation": "<p>If true, aggregate existing AWS Config regions and future regions.</p>",
          "shape": "Boolean"
        },
        "AwsRegions": {
          "documentation": "<p>The source regions being aggregated.</p>",
          "shape": "AggregatorRegionList"
        }
      },
      "required": [
        "AccountIds"
      ],
      "type": "structure"
    },
    "AccountAggregationSourceAccountList": {
      "member": {
        "shape": "AccountId"
      },
      "min": 1,
      "type": "list"
    },
    "AccountAggregationSourceList": {
      "max": 1,
      "member": {
        "shape": "AccountAggregationSource"
      },
      "min": 0,
      "type": "list"
    },
    "AccountId": {
      "pattern": "\\d{12}",
      "type": "string"
    },
    "AggregateComplianceByConfigRule": {
      "documentation": "<p>Indicates whether an AWS Config rule is compliant based on account ID, region, compliance, and rule name.</p> <p>A rule is compliant if all of the resources that the rule evaluated comply with it. It is noncompliant if any of these resources do not comply.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The 12-digit account ID of the source account.</p>",
          "shape": "AccountId"
        },
        "AwsRegion": {
          "documentation": "<p>The source region from where the data is aggregated.</p>",
          "shape": "AwsRegion"
        },
        "Compliance": {
          "documentation": "<p>Indicates whether an AWS resource or AWS Config rule is compliant and provides the number of contributors that affect the compliance.</p>",
          "shape": "Compliance"
        },
        "ConfigRuleName": {
          "documentation": "<p>The name of the AWS Config rule.</p>",
          "shape": "ConfigRuleName"
        }
      },
      "type": "structure"
    },
    "AggregateComplianceByConfigRuleList": {
      "member": {
        "shape": "AggregateComplianceByConfigRule"
      },
      "type": "list"
    },
    "AggregateComplianceCount": {
      "documentation": "<p>Returns the number of compliant and noncompliant rules for one or more accounts and regions in an aggregator.</p>",
      "members": {
        "ComplianceSummary": {
          "documentation": "<p>The number of compliant and noncompliant AWS Config rules.</p>",
          "shape": "ComplianceSummary"
        },
        "GroupName": {
          "documentation": "<p>The 12-digit account ID or region based on the GroupByKey value.</p>",
          "shape": "StringWithCharLimit256"
        }
      },
      "type": "structure"
    },
    "AggregateComplianceCountList": {
      "member": {
        "shape": "AggregateComplianceCount"
      },
      "type": "list"
    },
    "AggregateEvaluationResult": {
      "documentation": "<p>The details of an AWS Config evaluation for an account ID and region in an aggregator. Provides the AWS resource that was evaluated, the compliance of the resource, related time stamps, and supplementary information. </p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The 12-digit account ID of the source account.</p>",
          "shape": "AccountId"
        },
        "Annotation": {
          "documentation": "<p>Supplementary information about how the agrregate evaluation determined the compliance.</p>",
          "shape": "StringWithCharLimit256"
        },
        "AwsRegion": {
          "documentation": "<p>The source region from where the data is aggregated.</p>",
          "shape": "AwsRegion"
        },
        "ComplianceType": {
          "documentation": "<p>The resource compliance status.</p> <p>For the <code>AggregationEvaluationResult</code> data type, AWS Config supports only the <code>COMPLIANT</code> and <code>NON_COMPLIANT</code>. AWS Config does not support the <code>NOT_APPLICABLE</code> and <code>INSUFFICIENT_DATA</code> value.</p>",
          "shape": "ComplianceType"
        },
        "ConfigRuleInvokedTime": {
          "documentation": "<p>The time when the AWS Config rule evaluated the AWS resource.</p>",
          "shape": "Date"
        },
        "EvaluationResultIdentifier": {
          "documentation": "<p>Uniquely identifies the evaluation result.</p>",
          "shape": "EvaluationResultIdentifier"
        },
        "ResultRecordedTime": {
          "documentation": "<p>The time when AWS Config recorded the aggregate evaluation result.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "AggregateEvaluationResultList": {
      "member": {
        "shape": "AggregateEvaluationResult"
      },
      "type": "list"
    },
    "AggregateResourceIdentifier": {
      "documentation": "<p>The details that identify a resource that is collected by AWS Config aggregator, including the resource type, ID, (if available) the custom resource name, the source account, and source region.</p>",
      "members": {
        "ResourceId": {
          "documentation": "<p>The ID of the AWS resource.</p>",
          "shape": "ResourceId"
        },
        "ResourceName": {
          "documentation": "<p>The name of the AWS resource.</p>",
          "shape": "ResourceName"
        },
        "ResourceType": {
          "documentation": "<p>The type of the AWS resource.</p>",
          "shape": "ResourceType"
        },
        "SourceAccountId": {
          "documentation": "<p>The 12-digit account ID of the source account.</p>",
          "shape": "AccountId"
        },
        "SourceRegion": {
          "documentation": "<p>The source region where data is aggregated.</p>",
          "shape": "AwsRegion"
        }
      },
      "required": [
        "SourceAccountId",
        "SourceRegion",
        "ResourceId",
        "ResourceType"
      ],
      "type": "structure"
    },
    "AggregatedSourceStatus": {
      "documentation": "<p>The current sync status between the source and the aggregator account.</p>",
      "members": {
        "AwsRegion": {
          "documentation": "<p>The region authorized to collect aggregated data.</p>",
          "shape": "AwsRegion"
        },
        "LastErrorCode": {
          "documentation": "<p>The error code that AWS Config returned when the source account aggregation last failed.</p>",
          "shape": "String"
        },
        "LastErrorMessage": {
          "documentation": "<p>The message indicating that the source account aggregation failed due to an error.</p>",
          "shape": "String"
        },
        "LastUpdateStatus": {
          "documentation": "<p>Filters the last updated status type.</p> <ul> <li> <p>Valid value FAILED indicates errors while moving data.</p> </li> <li> <p>Valid value SUCCEEDED indicates the data was successfully moved.</p> </li> <li> <p>Valid value OUTDATED indicates the data is not the most recent.</p> </li> </ul>",
          "shape": "AggregatedSourceStatusType"
        },
        "LastUpdateTime": {
          "documentation": "<p>The time of the last update.</p>",
          "shape": "Date"
        },
        "SourceId": {
          "documentation": "<p>The source account ID or an organization.</p>",
          "shape": "String"
        },
        "SourceType": {
          "documentation": "<p>The source account or an organization.</p>",
          "shape": "AggregatedSourceType"
        }
      },
      "type": "structure"
    },
    "AggregatedSourceStatusList": {
      "member": {
        "shape": "AggregatedSourceStatus"
      },
      "type": "list"
    },
    "AggregatedSourceStatusType": {
      "enum": [
        "FAILED",
        "SUCCEEDED",
        "OUTDATED"
      ],
      "type": "string"
    },
    "AggregatedSourceStatusTypeList": {
      "member": {
        "shape": "AggregatedSourceStatusType"
      },
      "min": 1,
      "type": "list"
    },
    "AggregatedSourceType": {
      "enum": [
        "ACCOUNT",
        "ORGANIZATION"
      ],
      "type": "string"
    },
    "AggregationAuthorization": {
      "documentation": "<p>An object that represents the authorizations granted to aggregator accounts and regions.</p>",
      "members": {
        "AggregationAuthorizationArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the aggregation object.</p>",
          "shape": "String"
        },
        "AuthorizedAccountId": {
          "documentation": "<p>The 12-digit account ID of the account authorized to aggregate data.</p>",
          "shape": "AccountId"
        },
        "AuthorizedAwsRegion": {
          "documentation": "<p>The region authorized to collect aggregated data.</p>",
          "shape": "AwsRegion"
        },
        "CreationTime": {
          "documentation": "<p>The time stamp when the aggregation authorization was created.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "AggregationAuthorizationList": {
      "member": {
        "shape": "AggregationAuthorization"
      },
      "type": "list"
    },
    "AggregatorRegionList": {
      "member": {
        "shape": "String"
      },
      "min": 1,
      "type": "list"
    },
    "AllSupported": {
      "type": "boolean"
    },
    "AmazonResourceName": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "Annotation": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "AutoRemediationAttemptSeconds": {
      "box": true,
      "max": 2678000,
      "min": 1,
      "type": "long"
    },
    "AutoRemediationAttempts": {
      "box": true,
      "max": 25,
      "min": 1,
      "type": "integer"
    },
    "AvailabilityZone": {
      "type": "string"
    },
    "AwsRegion": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "BaseConfigurationItem": {
      "documentation": "<p>The detailed configuration of a specified resource.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The 12-digit AWS account ID associated with the resource.</p>",
          "shape": "AccountId"
        },
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "ARN"
        },
        "availabilityZone": {
          "documentation": "<p>The Availability Zone associated with the resource.</p>",
          "shape": "AvailabilityZone"
        },
        "awsRegion": {
          "documentation": "<p>The region where the resource resides.</p>",
          "shape": "AwsRegion"
        },
        "configuration": {
          "documentation": "<p>The description of the resource configuration.</p>",
          "shape": "Configuration"
        },
        "configurationItemCaptureTime": {
          "documentation": "<p>The time when the configuration recording was initiated.</p>",
          "shape": "ConfigurationItemCaptureTime"
        },
        "configurationItemStatus": {
          "documentation": "<p>The configuration item status.</p>",
          "shape": "ConfigurationItemStatus"
        },
        "configurationStateId": {
          "documentation": "<p>An identifier that indicates the ordering of the configuration items of a resource.</p>",
          "shape": "ConfigurationStateId"
        },
        "resourceCreationTime": {
          "documentation": "<p>The time stamp when the resource was created.</p>",
          "shape": "ResourceCreationTime"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource (for example., sg-xxxxxx).</p>",
          "shape": "ResourceId"
        },
        "resourceName": {
          "documentation": "<p>The custom name of the resource, if available.</p>",
          "shape": "ResourceName"
        },
        "resourceType": {
          "documentation": "<p>The type of AWS resource.</p>",
          "shape": "ResourceType"
        },
        "supplementaryConfiguration": {
          "documentation": "<p>Configuration attributes that AWS Config returns for certain resource types to supplement the information returned for the configuration parameter.</p>",
          "shape": "SupplementaryConfiguration"
        },
        "version": {
          "documentation": "<p>The version number of the resource configuration.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "BaseConfigurationItems": {
      "member": {
        "shape": "BaseConfigurationItem"
      },
      "type": "list"
    },
    "BaseResourceId": {
      "max": 768,
      "min": 1,
      "type": "string"
    },
    "BatchGetAggregateResourceConfigRequest": {
      "members": {
        "ConfigurationAggregatorName": {
          "documentation": "<p>The name of the configuration aggregator.</p>",
          "shape": "ConfigurationAggregatorName"
        },
        "ResourceIdentifiers": {
          "documentation": "<p>A list of aggregate ResourceIdentifiers objects. </p>",
          "shape": "ResourceIdentifiersList"
        }
      },
      "required": [
        "ConfigurationAggregatorName",
        "ResourceIdentifiers"
      ],
      "type": "structure"
    },
    "BatchGetAggregateResourceConfigResponse": {
      "members": {
        "BaseConfigurationItems": {
          "documentation": "<p>A list that contains the current configuration of one or more resources.</p>",
          "shape": "BaseConfigurationItems"
        },
        "UnprocessedResourceIdentifiers": {
          "documentation": "<p>A list of resource identifiers that were not processed with current scope. The list is empty if all the resources are processed.</p>",
          "shape": "UnprocessedResourceIdentifierList"
        }
      },
      "type": "structure"
    },
    "BatchGetResourceConfigRequest": {
      "members": {
        "resourceKeys": {
          "documentation": "<p>A list of resource keys to be processed with the current request. Each element in the list consists of the resource type and resource ID.</p>",
          "shape": "ResourceKeys"
        }
      },
      "required": [
        "resourceKeys"
      ],
      "type": "structure"
    },
    "BatchGetResourceConfigResponse": {
      "members": {
        "baseConfigurationItems": {
          "documentation": "<p>A list that contains the current configuration of one or more resources.</p>",
          "shape": "BaseConfigurationItems"
        },
        "unprocessedResourceKeys": {
          "documentation": "<p>A list of resource keys that were not processed with the current response. The unprocessesResourceKeys value is in the same form as ResourceKeys, so the value can be directly provided to a subsequent BatchGetResourceConfig operation. If there are no unprocessed resource keys, the response contains an empty unprocessedResourceKeys list. </p>",
          "shape": "ResourceKeys"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ChannelName": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ChronologicalOrder": {
      "enum": [
        "Reverse",
        "Forward"
      ],
      "type": "string"
    },
    "Compliance": {
      "documentation": "<p>Indicates whether an AWS resource or AWS Config rule is compliant and provides the number of contributors that affect the compliance.</p>",
      "members": {
        "ComplianceContributorCount": {
          "documentation": "<p>The number of AWS resources or AWS Config rules that cause a result of <code>NON_COMPLIANT</code>, up to a maximum number.</p>",
          "shape": "ComplianceContributorCount"
        },
        "ComplianceType": {
          "documentation": "<p>Indicates whether an AWS resource or AWS Config rule is compliant.</p> <p>A resource is compliant if it complies with all of the AWS Config rules that evaluate it. A resource is noncompliant if it does not comply with one or more of these rules.</p> <p>A rule is compliant if all of the resources that the rule evaluates comply with it. A rule is noncompliant if any of these resources do not comply.</p> <p>AWS Config returns the <code>INSUFFICIENT_DATA</code> value when no evaluation results are available for the AWS resource or AWS Config rule.</p> <p>For the <code>Compliance</code> data type, AWS Config supports only <code>COMPLIANT</code>, <code>NON_COMPLIANT</code>, and <code>INSUFFICIENT_DATA</code> values. AWS Config does not support the <code>NOT_APPLICABLE</code> value for the <code>Compliance</code> data type.</p>",
          "shape": "ComplianceType"
        }
      },
      "type": "structure"
    },
    "ComplianceByConfigRule": {
      "documentation": "<p>Indicates whether an AWS Config rule is compliant. A rule is compliant if all of the resources that the rule evaluated comply with it. A rule is noncompliant if any of these resources do not comply.</p>",
      "members": {
        "Compliance": {
          "documentation": "<p>Indicates whether the AWS Config rule is compliant.</p>",
          "shape": "Compliance"
        },
        "ConfigRuleName": {
          "documentation": "<p>The name of the AWS Config rule.</p>",
          "shape": "StringWithCharLimit64"
        }
      },
      "type": "structure"
    },
    "ComplianceByConfigRules": {
      "member": {
        "shape": "ComplianceByConfigRule"
      },
      "type": "list"
    },
    "ComplianceByResource": {
      "documentation": "<p>Indicates whether an AWS resource that is evaluated according to one or more AWS Config rules is compliant. A resource is compliant if it complies with all of the rules that evaluate it. A resource is noncompliant if it does not comply with one or more of these rules.</p>",
      "members": {
        "Compliance": {
          "documentation": "<p>Indicates whether the AWS resource complies with all of the AWS Config rules that evaluated it.</p>",
          "shape": "Compliance"
        },
        "ResourceId": {
          "documentation": "<p>The ID of the AWS resource that was evaluated.</p>",
          "shape": "BaseResourceId"
        },
        "ResourceType": {
          "documentation": "<p>The type of the AWS resource that was evaluated.</p>",
          "shape": "StringWithCharLimit256"
        }
      },
      "type": "structure"
    },
    "ComplianceByResources": {
      "member": {
        "shape": "ComplianceByResource"
      },
      "type": "list"
    },
    "ComplianceContributorCount": {
      "documentation": "<p>The number of AWS resources or AWS Config rules responsible for the current compliance of the item, up to a maximum number.</p>",
      "members": {
        "CapExceeded": {
[...]
