{
  "documentation": "<p>AWS Direct Connect links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router. With this connection in place, you can create virtual interfaces directly to the AWS cloud (for example, to Amazon EC2 and Amazon S3) and to Amazon VPC, bypassing Internet service providers in your network path. A connection provides access to all AWS Regions except the China (Beijing) and (China) Ningxia Regions. AWS resources in the China Regions can only be accessed through locations associated with those Regions.</p>",
  "metadata": {
    "apiVersion": "2012-10-25",
    "endpointPrefix": "directconnect",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Direct Connect",
    "serviceId": "Direct Connect",
    "signatureVersion": "v4",
    "targetPrefix": "OvertureService",
    "uid": "directconnect-2012-10-25"
  },
  "operations": {
    "AcceptDirectConnectGatewayAssociationProposal": {
      "documentation": "<p>Accepts a proposal request to attach a virtual private gateway or transit gateway to a Direct Connect gateway.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptDirectConnectGatewayAssociationProposalRequest"
      },
      "name": "AcceptDirectConnectGatewayAssociationProposal",
      "output": {
        "shape": "AcceptDirectConnectGatewayAssociationProposalResult"
      }
    },
    "AllocateConnectionOnInterconnect": {
      "deprecated": true,
      "documentation": "<p>Deprecated. Use <a>AllocateHostedConnection</a> instead.</p> <p>Creates a hosted connection on an interconnect.</p> <p>Allocates a VLAN number and a specified amount of bandwidth for use by a hosted connection on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllocateConnectionOnInterconnectRequest"
      },
      "name": "AllocateConnectionOnInterconnect",
      "output": {
        "shape": "Connection"
      }
    },
    "AllocateHostedConnection": {
      "documentation": "<p>Creates a hosted connection on the specified interconnect or a link aggregation group (LAG) of interconnects.</p> <p>Allocates a VLAN number and a specified amount of capacity (bandwidth) for use by a hosted connection on the specified interconnect or LAG of interconnects. AWS polices the hosted connection for the specified capacity and the AWS Direct Connect Partner must also police the hosted connection for the specified capacity.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllocateHostedConnectionRequest"
      },
      "name": "AllocateHostedConnection",
      "output": {
        "shape": "Connection"
      }
    },
    "AllocatePrivateVirtualInterface": {
      "documentation": "<p>Provisions a private virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this action must be confirmed by the owner using <a>ConfirmPrivateVirtualInterface</a>. Until then, the virtual interface is in the <code>Confirming</code> state and is not available to handle traffic.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllocatePrivateVirtualInterfaceRequest"
      },
      "name": "AllocatePrivateVirtualInterface",
      "output": {
        "shape": "VirtualInterface"
      }
    },
    "AllocatePublicVirtualInterface": {
      "documentation": "<p>Provisions a public virtual interface to be owned by the specified AWS account.</p> <p>The owner of a connection calls this function to provision a public virtual interface to be owned by the specified AWS account.</p> <p>Virtual interfaces created using this function must be confirmed by the owner using <a>ConfirmPublicVirtualInterface</a>. Until this step has been completed, the virtual interface is in the <code>confirming</code> state and is not available to handle traffic.</p> <p>When creating an IPv6 public virtual interface, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllocatePublicVirtualInterfaceRequest"
      },
      "name": "AllocatePublicVirtualInterface",
      "output": {
        "shape": "VirtualInterface"
      }
    },
    "AllocateTransitVirtualInterface": {
      "documentation": "<p>Provisions a transit virtual interface to be owned by the specified AWS account. Use this type of interface to connect a transit gateway to your Direct Connect gateway.</p> <p>The owner of a connection provisions a transit virtual interface to be owned by the specified AWS account.</p> <p>After you create a transit virtual interface, it must be confirmed by the owner using <a>ConfirmTransitVirtualInterface</a>. Until this step has been completed, the transit virtual interface is in the <code>requested</code> state and is not available to handle traffic.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllocateTransitVirtualInterfaceRequest"
      },
      "name": "AllocateTransitVirtualInterface",
      "output": {
        "shape": "AllocateTransitVirtualInterfaceResult"
      }
    },
    "AssociateConnectionWithLag": {
      "documentation": "<p>Associates an existing connection with a link aggregation group (LAG). The connection is interrupted and re-established as a member of the LAG (connectivity to AWS is interrupted). The connection must be hosted on the same AWS Direct Connect endpoint as the LAG, and its bandwidth must match the bandwidth for the LAG. You can re-associate a connection that's currently associated with a different LAG; however, if removing the connection would cause the original LAG to fall below its setting for minimum number of operational connections, the request fails.</p> <p>Any virtual interfaces that are directly associated with the connection are automatically re-associated with the LAG. If the connection was originally associated with a different LAG, the virtual interfaces remain associated with the original LAG.</p> <p>For interconnects, any hosted connections are automatically re-associated with the LAG. If the interconnect was originally associated with a different LAG, the hosted connections remain associated with the original LAG.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateConnectionWithLagRequest"
      },
      "name": "AssociateConnectionWithLag",
      "output": {
        "shape": "Connection"
      }
    },
    "AssociateHostedConnection": {
      "documentation": "<p>Associates a hosted connection and its virtual interfaces with a link aggregation group (LAG) or interconnect. If the target interconnect or LAG has an existing hosted connection with a conflicting VLAN number or IP address, the operation fails. This action temporarily interrupts the hosted connection's connectivity to AWS as it is being migrated.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateHostedConnectionRequest"
      },
      "name": "AssociateHostedConnection",
      "output": {
        "shape": "Connection"
      }
    },
    "AssociateVirtualInterface": {
      "documentation": "<p>Associates a virtual interface with a specified link aggregation group (LAG) or connection. Connectivity to AWS is temporarily interrupted as the virtual interface is being migrated. If the target connection or LAG has an associated virtual interface with a conflicting VLAN number or a conflicting IP address, the operation fails.</p> <p>Virtual interfaces associated with a hosted connection cannot be associated with a LAG; hosted connections must be migrated along with their virtual interfaces using <a>AssociateHostedConnection</a>.</p> <p>To reassociate a virtual interface to a new connection or LAG, the requester must own either the virtual interface itself or the connection to which the virtual interface is currently associated. Additionally, the requester must own the connection or LAG for the association.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateVirtualInterfaceRequest"
      },
      "name": "AssociateVirtualInterface",
      "output": {
        "shape": "VirtualInterface"
      }
    },
    "ConfirmConnection": {
      "documentation": "<p>Confirms the creation of the specified hosted connection on an interconnect.</p> <p>Upon creation, the hosted connection is initially in the <code>Ordering</code> state, and remains in this state until the owner confirms creation of the hosted connection.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmConnectionRequest"
      },
      "name": "ConfirmConnection",
      "output": {
        "shape": "ConfirmConnectionResponse"
      }
    },
    "ConfirmPrivateVirtualInterface": {
      "documentation": "<p>Accepts ownership of a private virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the virtual interface is created and attached to the specified virtual private gateway or Direct Connect gateway, and is made available to handle traffic.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmPrivateVirtualInterfaceRequest"
      },
      "name": "ConfirmPrivateVirtualInterface",
      "output": {
        "shape": "ConfirmPrivateVirtualInterfaceResponse"
      }
    },
    "ConfirmPublicVirtualInterface": {
      "documentation": "<p>Accepts ownership of a public virtual interface created by another AWS account.</p> <p>After the virtual interface owner makes this call, the specified virtual interface is created and made available to handle traffic.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmPublicVirtualInterfaceRequest"
      },
      "name": "ConfirmPublicVirtualInterface",
      "output": {
        "shape": "ConfirmPublicVirtualInterfaceResponse"
      }
    },
    "ConfirmTransitVirtualInterface": {
      "documentation": "<p>Accepts ownership of a transit virtual interface created by another AWS account.</p> <p> After the owner of the transit virtual interface makes this call, the specified transit virtual interface is created and made available to handle traffic.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmTransitVirtualInterfaceRequest"
      },
      "name": "ConfirmTransitVirtualInterface",
      "output": {
        "shape": "ConfirmTransitVirtualInterfaceResponse"
      }
    },
    "CreateBGPPeer": {
      "documentation": "<p>Creates a BGP peer on the specified virtual interface.</p> <p>You must create a BGP peer for the corresponding address family (IPv4/IPv6) in order to access AWS resources that also use that address family.</p> <p>If logical redundancy is not supported by the connection, interconnect, or LAG, the BGP peer cannot be in the same address family as an existing BGP peer on the virtual interface.</p> <p>When creating a IPv6 BGP peer, omit the Amazon address and customer address. IPv6 addresses are automatically assigned from the Amazon pool of IPv6 addresses; you cannot specify custom IPv6 addresses.</p> <p>For a public virtual interface, the Autonomous System Number (ASN) must be private or already whitelisted for the virtual interface.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateBGPPeerRequest"
      },
      "name": "CreateBGPPeer",
      "output": {
        "shape": "CreateBGPPeerResponse"
      }
    },
    "CreateConnection": {
      "documentation": "<p>Creates a connection between a customer network and a specific AWS Direct Connect location.</p> <p>A connection links your internal network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end of the cable is connected to your router, the other to an AWS Direct Connect router.</p> <p>To find the locations for your Region, use <a>DescribeLocations</a>.</p> <p>You can automatically add the new connection to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new connection is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no connection is created.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectionRequest"
      },
      "name": "CreateConnection",
      "output": {
        "shape": "Connection"
      }
    },
    "CreateDirectConnectGateway": {
      "documentation": "<p>Creates a Direct Connect gateway, which is an intermediate object that enables you to connect a set of virtual interfaces and virtual private gateways. A Direct Connect gateway is global and visible in any AWS Region after it is created. The virtual interfaces and virtual private gateways that are connected through a Direct Connect gateway can be in different AWS Regions. This enables you to connect to a VPC in any Region, regardless of the Region in which the virtual interfaces are located, and pass traffic between them.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDirectConnectGatewayRequest"
      },
      "name": "CreateDirectConnectGateway",
      "output": {
        "shape": "CreateDirectConnectGatewayResult"
      }
    },
    "CreateDirectConnectGatewayAssociation": {
      "documentation": "<p>Creates an association between a Direct Connect gateway and a virtual private gateway. The virtual private gateway must be attached to a VPC and must not be associated with another Direct Connect gateway.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDirectConnectGatewayAssociationRequest"
      },
      "name": "CreateDirectConnectGatewayAssociation",
      "output": {
        "shape": "CreateDirectConnectGatewayAssociationResult"
      }
    },
    "CreateDirectConnectGatewayAssociationProposal": {
      "documentation": "<p>Creates a proposal to associate the specified virtual private gateway or transit gateway with the specified Direct Connect gateway.</p> <p>You can only associate a Direct Connect gateway and virtual private gateway or transit gateway when the account that owns the Direct Connect gateway and the account that owns the virtual private gateway or transit gateway have the same AWS Payer ID.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDirectConnectGatewayAssociationProposalRequest"
      },
      "name": "CreateDirectConnectGatewayAssociationProposal",
      "output": {
        "shape": "CreateDirectConnectGatewayAssociationProposalResult"
      }
    },
    "CreateInterconnect": {
      "documentation": "<p>Creates an interconnect between an AWS Direct Connect Partner's network and a specific AWS Direct Connect location.</p> <p>An interconnect is a connection that is capable of hosting other connections. The AWS Direct Connect partner can use an interconnect to provide AWS Direct Connect hosted connections to customers through their own network services. Like a standard connection, an interconnect links the partner's network to an AWS Direct Connect location over a standard Ethernet fiber-optic cable. One end is connected to the partner's router, the other to an AWS Direct Connect router.</p> <p>You can automatically add the new interconnect to a link aggregation group (LAG) by specifying a LAG ID in the request. This ensures that the new interconnect is allocated on the same AWS Direct Connect endpoint that hosts the specified LAG. If there are no available ports on the endpoint, the request fails and no interconnect is created.</p> <p>For each end customer, the AWS Direct Connect Partner provisions a connection on their interconnect by calling <a>AllocateHostedConnection</a>. The end customer can then connect to AWS resources by creating a virtual interface on their connection, using the VLAN assigned to them by the AWS Direct Connect Partner.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInterconnectRequest"
      },
      "name": "CreateInterconnect",
      "output": {
        "shape": "Interconnect"
      }
    },
    "CreateLag": {
      "documentation": "<p>Creates a link aggregation group (LAG) with the specified number of bundled physical connections between the customer network and a specific AWS Direct Connect location. A LAG is a logical interface that uses the Link Aggregation Control Protocol (LACP) to aggregate multiple interfaces, enabling you to treat them as a single interface.</p> <p>All connections in a LAG must use the same bandwidth and must terminate at the same AWS Direct Connect endpoint.</p> <p>You can have up to 10 connections per LAG. Regardless of this limit, if you request more connections for the LAG than AWS Direct Connect can allocate on a single endpoint, no LAG is created.</p> <p>You can specify an existing physical connection or interconnect to include in the LAG (which counts towards the total number of connections). Doing so interrupts the current physical connection or hosted connections, and re-establishes them as a member of the LAG. The LAG will be created on the same AWS Direct Connect endpoint to which the connection terminates. Any virtual interfaces associated with the connection are automatically disassociated and re-associated with the LAG. The connection ID does not change.</p> <p>If the AWS account used to create a LAG is a registered AWS Direct Connect Partner, the LAG is automatically enabled to host sub-connections. For a LAG owned by a partner, any associated virtual interfaces cannot be directly configured.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLagRequest"
      },
      "name": "CreateLag",
      "output": {
        "shape": "Lag"
      }
    },
    "CreatePrivateVirtualInterface": {
      "documentation": "<p>Creates a private virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A private virtual interface can be connected to either a Direct Connect gateway or a Virtual Private Gateway (VGW). Connecting the private virtual interface to a Direct Connect gateway enables the possibility for connecting to multiple VPCs, including VPCs in different AWS Regions. Connecting the private virtual interface to a VGW only provides access to a single VPC within the same Region.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePrivateVirtualInterfaceRequest"
      },
      "name": "CreatePrivateVirtualInterface",
      "output": {
        "shape": "VirtualInterface"
      }
    },
    "CreatePublicVirtualInterface": {
      "documentation": "<p>Creates a public virtual interface. A virtual interface is the VLAN that transports AWS Direct Connect traffic. A public virtual interface supports sending traffic to public services of AWS such as Amazon S3.</p> <p>When creating an IPv6 public virtual interface (<code>addressFamily</code> is <code>ipv6</code>), leave the <code>customer</code> and <code>amazon</code> address fields blank to use auto-assigned IPv6 space. Custom IPv6 addresses are not supported.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePublicVirtualInterfaceRequest"
      },
      "name": "CreatePublicVirtualInterface",
      "output": {
        "shape": "VirtualInterface"
      }
    },
    "CreateTransitVirtualInterface": {
      "documentation": "<p>Creates a transit virtual interface. A transit virtual interface should be used to access one or more transit gateways associated with Direct Connect gateways. A transit virtual interface enables the connection of multiple VPCs attached to a transit gateway to a Direct Connect gateway.</p> <important> <p>If you associate your transit gateway with one or more Direct Connect gateways, the Autonomous System Number (ASN) used by the transit gateway and the Direct Connect gateway must be different. For example, if you use the default ASN 64512 for both your the transit gateway and Direct Connect gateway, the association request fails.</p> </important>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTransitVirtualInterfaceRequest"
      },
      "name": "CreateTransitVirtualInterface",
      "output": {
        "shape": "CreateTransitVirtualInterfaceResult"
      }
    },
    "DeleteBGPPeer": {
      "documentation": "<p>Deletes the specified BGP peer on the specified virtual interface with the specified customer address and ASN.</p> <p>You cannot delete the last BGP peer from a virtual interface.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteBGPPeerRequest"
      },
      "name": "DeleteBGPPeer",
      "output": {
        "shape": "DeleteBGPPeerResponse"
      }
    },
    "DeleteConnection": {
      "documentation": "<p>Deletes the specified connection.</p> <p>Deleting a connection only stops the AWS Direct Connect port hour and data transfer charges. If you are partnering with any third parties to connect with the AWS Direct Connect location, you must cancel your service with them separately.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectionRequest"
      },
      "name": "DeleteConnection",
      "output": {
        "shape": "Connection"
      }
    },
    "DeleteDirectConnectGateway": {
      "documentation": "<p>Deletes the specified Direct Connect gateway. You must first delete all virtual interfaces that are attached to the Direct Connect gateway and disassociate all virtual private gateways associated with the Direct Connect gateway.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDirectConnectGatewayRequest"
      },
      "name": "DeleteDirectConnectGateway",
      "output": {
        "shape": "DeleteDirectConnectGatewayResult"
      }
    },
    "DeleteDirectConnectGatewayAssociation": {
      "documentation": "<p>Deletes the association between the specified Direct Connect gateway and virtual private gateway.</p> <p>We recommend that you specify the <code>associationID</code> to delete the association. Alternatively, if you own virtual gateway and a Direct Connect gateway association, you can specify the <code>virtualGatewayId</code> and <code>directConnectGatewayId</code> to delete an association.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDirectConnectGatewayAssociationRequest"
      },
      "name": "DeleteDirectConnectGatewayAssociation",
      "output": {
        "shape": "DeleteDirectConnectGatewayAssociationResult"
      }
    },
    "DeleteDirectConnectGatewayAssociationProposal": {
      "documentation": "<p>Deletes the association proposal request between the specified Direct Connect gateway and virtual private gateway or transit gateway.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDirectConnectGatewayAssociationProposalRequest"
      },
      "name": "DeleteDirectConnectGatewayAssociationProposal",
      "output": {
        "shape": "DeleteDirectConnectGatewayAssociationProposalResult"
      }
    },
    "DeleteInterconnect": {
      "documentation": "<p>Deletes the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInterconnectRequest"
      },
      "name": "DeleteInterconnect",
      "output": {
        "shape": "DeleteInterconnectResponse"
      }
    },
    "DeleteLag": {
      "documentation": "<p>Deletes the specified link aggregation group (LAG). You cannot delete a LAG if it has active virtual interfaces or hosted connections.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLagRequest"
      },
      "name": "DeleteLag",
      "output": {
        "shape": "Lag"
      }
    },
    "DeleteVirtualInterface": {
      "documentation": "<p>Deletes a virtual interface.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVirtualInterfaceRequest"
      },
      "name": "DeleteVirtualInterface",
      "output": {
        "shape": "DeleteVirtualInterfaceResponse"
      }
    },
    "DescribeConnectionLoa": {
      "deprecated": true,
      "documentation": "<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for a connection.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that your APN partner or service provider uses when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectionLoaRequest"
      },
      "name": "DescribeConnectionLoa",
      "output": {
        "shape": "DescribeConnectionLoaResponse"
      }
    },
    "DescribeConnections": {
      "documentation": "<p>Displays the specified connection or all connections in this Region.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectionsRequest"
      },
      "name": "DescribeConnections",
      "output": {
        "shape": "Connections"
      }
    },
    "DescribeConnectionsOnInterconnect": {
      "deprecated": true,
      "documentation": "<p>Deprecated. Use <a>DescribeHostedConnections</a> instead.</p> <p>Lists the connections that have been provisioned on the specified interconnect.</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectionsOnInterconnectRequest"
      },
      "name": "DescribeConnectionsOnInterconnect",
      "output": {
        "shape": "Connections"
      }
    },
    "DescribeDirectConnectGatewayAssociationProposals": {
      "documentation": "<p>Describes one or more association proposals for connection between a virtual private gateway or transit gateway and a Direct Connect gateway. </p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectConnectGatewayAssociationProposalsRequest"
      },
      "name": "DescribeDirectConnectGatewayAssociationProposals",
      "output": {
        "shape": "DescribeDirectConnectGatewayAssociationProposalsResult"
      }
    },
    "DescribeDirectConnectGatewayAssociations": {
      "documentation": "<p>Lists the associations between your Direct Connect gateways and virtual private gateways. You must specify a Direct Connect gateway, a virtual private gateway, or both. If you specify a Direct Connect gateway, the response contains all virtual private gateways associated with the Direct Connect gateway. If you specify a virtual private gateway, the response contains all Direct Connect gateways associated with the virtual private gateway. If you specify both, the response contains the association between the Direct Connect gateway and the virtual private gateway.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectConnectGatewayAssociationsRequest"
      },
      "name": "DescribeDirectConnectGatewayAssociations",
      "output": {
        "shape": "DescribeDirectConnectGatewayAssociationsResult"
      }
    },
    "DescribeDirectConnectGatewayAttachments": {
      "documentation": "<p>Lists the attachments between your Direct Connect gateways and virtual interfaces. You must specify a Direct Connect gateway, a virtual interface, or both. If you specify a Direct Connect gateway, the response contains all virtual interfaces attached to the Direct Connect gateway. If you specify a virtual interface, the response contains all Direct Connect gateways attached to the virtual interface. If you specify both, the response contains the attachment between the Direct Connect gateway and the virtual interface.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectConnectGatewayAttachmentsRequest"
      },
      "name": "DescribeDirectConnectGatewayAttachments",
      "output": {
        "shape": "DescribeDirectConnectGatewayAttachmentsResult"
      }
    },
    "DescribeDirectConnectGateways": {
      "documentation": "<p>Lists all your Direct Connect gateways or only the specified Direct Connect gateway. Deleted Direct Connect gateways are not returned.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDirectConnectGatewaysRequest"
      },
      "name": "DescribeDirectConnectGateways",
      "output": {
        "shape": "DescribeDirectConnectGatewaysResult"
      }
    },
    "DescribeHostedConnections": {
      "documentation": "<p>Lists the hosted connections that have been provisioned on the specified interconnect or link aggregation group (LAG).</p> <note> <p>Intended for use by AWS Direct Connect Partners only.</p> </note>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeHostedConnectionsRequest"
      },
      "name": "DescribeHostedConnections",
      "output": {
        "shape": "Connections"
      }
    },
    "DescribeInterconnectLoa": {
      "deprecated": true,
      "documentation": "<p>Deprecated. Use <a>DescribeLoa</a> instead.</p> <p>Gets the LOA-CFA for the specified interconnect.</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInterconnectLoaRequest"
      },
      "name": "DescribeInterconnectLoa",
      "output": {
        "shape": "DescribeInterconnectLoaResponse"
      }
    },
    "DescribeInterconnects": {
      "documentation": "<p>Lists the interconnects owned by the AWS account or only the specified interconnect.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInterconnectsRequest"
      },
      "name": "DescribeInterconnects",
      "output": {
        "shape": "Interconnects"
      }
    },
    "DescribeLags": {
      "documentation": "<p>Describes all your link aggregation groups (LAG) or the specified LAG.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLagsRequest"
      },
      "name": "DescribeLags",
      "output": {
        "shape": "Lags"
      }
    },
    "DescribeLoa": {
      "documentation": "<p>Gets the LOA-CFA for a connection, interconnect, or link aggregation group (LAG).</p> <p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA) is a document that is used when establishing your cross connect to AWS at the colocation facility. For more information, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/Colocation.html\">Requesting Cross Connects at AWS Direct Connect Locations</a> in the <i>AWS Direct Connect User Guide</i>.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoaRequest"
      },
      "name": "DescribeLoa",
      "output": {
        "shape": "Loa"
      }
    },
    "DescribeLocations": {
      "documentation": "<p>Lists the AWS Direct Connect locations in the current AWS Region. These are the locations that can be selected when calling <a>CreateConnection</a> or <a>CreateInterconnect</a>.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeLocations",
      "output": {
        "shape": "Locations"
      }
    },
    "DescribeTags": {
      "documentation": "<p>Describes the tags associated with the specified AWS Direct Connect resources.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagsRequest"
      },
      "name": "DescribeTags",
      "output": {
        "shape": "DescribeTagsResponse"
      }
    },
    "DescribeVirtualGateways": {
      "documentation": "<p>Lists the virtual private gateways owned by the AWS account.</p> <p>You can create one or more AWS Direct Connect private virtual interfaces linked to a virtual private gateway.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeVirtualGateways",
      "output": {
        "shape": "VirtualGateways"
      }
    },
    "DescribeVirtualInterfaces": {
      "documentation": "<p>Displays all virtual interfaces for an AWS account. Virtual interfaces deleted fewer than 15 minutes before you make the request are also returned. If you specify a connection ID, only the virtual interfaces associated with the connection are returned. If you specify a virtual interface ID, then only a single virtual interface is returned.</p> <p>A virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location and the customer network.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeVirtualInterfacesRequest"
      },
      "name": "DescribeVirtualInterfaces",
      "output": {
        "shape": "VirtualInterfaces"
      }
    },
    "DisassociateConnectionFromLag": {
      "documentation": "<p>Disassociates a connection from a link aggregation group (LAG). The connection is interrupted and re-established as a standalone connection (the connection is not deleted; to delete the connection, use the <a>DeleteConnection</a> request). If the LAG has associated virtual interfaces or hosted connections, they remain associated with the LAG. A disassociated connection owned by an AWS Direct Connect Partner is automatically converted to an interconnect.</p> <p>If disassociating the connection would cause the LAG to fall below its setting for minimum number of operational connections, the request fails, except when it's the last member of the LAG. If all connections are disassociated, the LAG continues to exist as an empty LAG with no physical connections. </p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateConnectionFromLagRequest"
      },
      "name": "DisassociateConnectionFromLag",
      "output": {
        "shape": "Connection"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified AWS Direct Connect resource. Each resource can have a maximum of 50 tags.</p> <p>Each tag consists of a key and an optional value. If a tag with the same key is already associated with the resource, this action updates its value.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified AWS Direct Connect resource.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDirectConnectGatewayAssociation": {
      "documentation": "<p>Updates the specified attributes of the Direct Connect gateway association.</p> <p>Add or remove prefixes from the association.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDirectConnectGatewayAssociationRequest"
      },
      "name": "UpdateDirectConnectGatewayAssociation",
      "output": {
        "shape": "UpdateDirectConnectGatewayAssociationResult"
      }
    },
    "UpdateLag": {
      "documentation": "<p>Updates the attributes of the specified link aggregation group (LAG).</p> <p>You can update the following attributes:</p> <ul> <li> <p>The name of the LAG.</p> </li> <li> <p>The value for the minimum number of connections that must be operational for the LAG itself to be operational. </p> </li> </ul> <p>When you create a LAG, the default value for the minimum number of operational connections is zero (0). If you update this value and the number of operational connections falls below the specified value, the LAG automatically goes down to avoid over-utilization of the remaining connections. Adjust this value with care, as it could force the LAG down if it is set higher than the current number of operational connections.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateLagRequest"
      },
      "name": "UpdateLag",
      "output": {
        "shape": "Lag"
      }
    },
    "UpdateVirtualInterfaceAttributes": {
      "documentation": "<p>Updates the specified attributes of the specified virtual private interface.</p> <p>Setting the MTU of a virtual interface to 9001 (jumbo frames) can cause an update to the underlying physical connection if it wasn't updated to support jumbo frames. Updating the connection disrupts network connectivity for all virtual interfaces associated with the connection for up to 30 seconds. To check whether your connection supports jumbo frames, call <a>DescribeConnections</a>. To check whether your virtual interface supports jumbo frames, call <a>DescribeVirtualInterfaces</a>.</p>",
      "errors": [
        {
          "shape": "DirectConnectServerException"
        },
        {
          "shape": "DirectConnectClientException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateVirtualInterfaceAttributesRequest"
      },
      "name": "UpdateVirtualInterfaceAttributes",
      "output": {
        "shape": "VirtualInterface"
      }
    }
  },
  "shapes": {
    "ASN": {
      "type": "integer"
    },
    "AcceptDirectConnectGatewayAssociationProposalRequest": {
      "members": {
        "associatedGatewayOwnerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the virtual private gateway or transit gateway.</p>",
          "shape": "OwnerAccount"
        },
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "overrideAllowedPrefixesToDirectConnectGateway": {
          "documentation": "<p>Overrides the Amazon VPC prefixes advertised to the Direct Connect gateway.</p> <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>AWS Direct Connect User Guide</i>.</p>",
          "shape": "RouteFilterPrefixList"
        },
        "proposalId": {
          "documentation": "<p>The ID of the request proposal.</p>",
          "shape": "DirectConnectGatewayAssociationProposalId"
        }
      },
      "required": [
        "directConnectGatewayId",
        "proposalId",
        "associatedGatewayOwnerAccount"
      ],
      "type": "structure"
    },
    "AcceptDirectConnectGatewayAssociationProposalResult": {
      "members": {
        "directConnectGatewayAssociation": {
          "shape": "DirectConnectGatewayAssociation"
        }
      },
      "type": "structure"
    },
    "AddressFamily": {
      "enum": [
        "ipv4",
        "ipv6"
      ],
      "type": "string"
    },
    "AllocateConnectionOnInterconnectRequest": {
      "members": {
        "bandwidth": {
          "documentation": "<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those AWS Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection.</p>",
          "shape": "Bandwidth"
        },
        "connectionName": {
          "documentation": "<p>The name of the provisioned connection.</p>",
          "shape": "ConnectionName"
        },
        "interconnectId": {
          "documentation": "<p>The ID of the interconnect on which the connection will be provisioned.</p>",
          "shape": "InterconnectId"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account of the customer for whom the connection will be provisioned.</p>",
          "shape": "OwnerAccount"
        },
        "vlan": {
          "documentation": "<p>The dedicated VLAN provisioned to the connection.</p>",
          "shape": "VLAN"
        }
      },
      "required": [
        "bandwidth",
        "connectionName",
        "ownerAccount",
        "interconnectId",
        "vlan"
      ],
      "type": "structure"
    },
    "AllocateHostedConnectionRequest": {
      "members": {
        "bandwidth": {
          "documentation": "<p>The bandwidth of the connection. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. Note that only those AWS Direct Connect Partners who have met specific requirements are allowed to create a 1Gbps, 2Gbps, 5Gbps or 10Gbps hosted connection. </p>",
          "shape": "Bandwidth"
        },
        "connectionId": {
          "documentation": "<p>The ID of the interconnect or LAG.</p>",
          "shape": "ConnectionId"
        },
        "connectionName": {
          "documentation": "<p>The name of the hosted connection.</p>",
          "shape": "ConnectionName"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account ID of the customer for the connection.</p>",
          "shape": "OwnerAccount"
        },
        "tags": {
          "documentation": "<p>The tags associated with the connection.</p>",
          "shape": "TagList"
        },
        "vlan": {
          "documentation": "<p>The dedicated VLAN provisioned to the hosted connection.</p>",
          "shape": "VLAN"
        }
      },
      "required": [
        "connectionId",
        "ownerAccount",
        "bandwidth",
        "connectionName",
        "vlan"
      ],
      "type": "structure"
    },
    "AllocatePrivateVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection on which the private virtual interface is provisioned.</p>",
          "shape": "ConnectionId"
        },
        "newPrivateVirtualInterfaceAllocation": {
          "documentation": "<p>Information about the private virtual interface.</p>",
          "shape": "NewPrivateVirtualInterfaceAllocation"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the virtual private interface.</p>",
          "shape": "OwnerAccount"
        }
      },
      "required": [
        "connectionId",
        "ownerAccount",
        "newPrivateVirtualInterfaceAllocation"
      ],
      "type": "structure"
    },
    "AllocatePublicVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection on which the public virtual interface is provisioned.</p>",
          "shape": "ConnectionId"
        },
        "newPublicVirtualInterfaceAllocation": {
          "documentation": "<p>Information about the public virtual interface.</p>",
          "shape": "NewPublicVirtualInterfaceAllocation"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the public virtual interface.</p>",
          "shape": "OwnerAccount"
        }
      },
      "required": [
        "connectionId",
        "ownerAccount",
        "newPublicVirtualInterfaceAllocation"
      ],
      "type": "structure"
    },
    "AllocateTransitVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection on which the transit virtual interface is provisioned.</p>",
          "shape": "ConnectionId"
        },
        "newTransitVirtualInterfaceAllocation": {
          "documentation": "<p>Information about the transit virtual interface.</p>",
          "shape": "NewTransitVirtualInterfaceAllocation"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the transit virtual interface.</p>",
          "shape": "OwnerAccount"
        }
      },
      "required": [
        "connectionId",
        "ownerAccount",
        "newTransitVirtualInterfaceAllocation"
      ],
      "type": "structure"
    },
    "AllocateTransitVirtualInterfaceResult": {
      "members": {
        "virtualInterface": {
          "shape": "VirtualInterface"
        }
      },
      "type": "structure"
    },
    "AmazonAddress": {
      "type": "string"
    },
    "AssociateConnectionWithLagRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "lagId": {
          "documentation": "<p>The ID of the LAG with which to associate the connection.</p>",
          "shape": "LagId"
        }
      },
      "required": [
        "connectionId",
        "lagId"
      ],
      "type": "structure"
    },
    "AssociateHostedConnectionRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the hosted connection.</p>",
          "shape": "ConnectionId"
        },
        "parentConnectionId": {
          "documentation": "<p>The ID of the interconnect or the LAG.</p>",
          "shape": "ConnectionId"
        }
      },
      "required": [
        "connectionId",
        "parentConnectionId"
      ],
      "type": "structure"
    },
    "AssociateVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the LAG or connection.</p>",
          "shape": "ConnectionId"
        },
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "required": [
        "virtualInterfaceId",
        "connectionId"
      ],
      "type": "structure"
    },
    "AssociatedGateway": {
      "documentation": "<p>Information about the associated gateway.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the associated gateway.</p>",
          "shape": "GatewayIdentifier"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the associated virtual private gateway or transit gateway.</p>",
          "shape": "OwnerAccount"
        },
        "region": {
          "documentation": "<p>The Region where the associated gateway is located.</p>",
          "shape": "Region"
        },
        "type": {
          "documentation": "<p>The type of associated gateway.</p>",
          "shape": "GatewayType"
        }
      },
      "type": "structure"
    },
    "AssociatedGatewayId": {
      "type": "string"
    },
    "AvailablePortSpeeds": {
      "member": {
        "shape": "PortSpeed"
      },
      "type": "list"
    },
    "AwsDevice": {
      "deprecated": true,
      "type": "string"
    },
    "AwsDeviceV2": {
      "type": "string"
    },
    "BGPAuthKey": {
      "type": "string"
    },
    "BGPPeer": {
      "documentation": "<p>Information about a BGP peer.</p>",
      "members": {
        "addressFamily": {
          "documentation": "<p>The address family for the BGP peer.</p>",
          "shape": "AddressFamily"
        },
        "amazonAddress": {
          "documentation": "<p>The IP address assigned to the Amazon interface.</p>",
          "shape": "AmazonAddress"
        },
        "asn": {
          "documentation": "<p>The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>",
          "shape": "ASN"
        },
        "authKey": {
          "documentation": "<p>The authentication key for BGP configuration. This string has a minimum length of 6 characters and and a maximun lenth of 80 characters.</p>",
          "shape": "BGPAuthKey"
        },
        "awsDeviceV2": {
          "documentation": "<p>The Direct Connect endpoint on which the BGP peer terminates.</p>",
          "shape": "AwsDeviceV2"
        },
        "bgpPeerId": {
          "documentation": "<p>The ID of the BGP peer.</p>",
          "shape": "BGPPeerId"
        },
        "bgpPeerState": {
          "documentation": "<p>The state of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>verifying</code>: The BGP peering addresses or ASN require validation before the BGP peer can be created. This state applies only to public virtual interfaces.</p> </li> <li> <p> <code>pending</code>: The BGP peer is created, and remains in this state until it is ready to be established.</p> </li> <li> <p> <code>available</code>: The BGP peer is ready to be established.</p> </li> <li> <p> <code>deleting</code>: The BGP peer is being deleted.</p> </li> <li> <p> <code>deleted</code>: The BGP peer is deleted and cannot be established.</p> </li> </ul>",
          "shape": "BGPPeerState"
        },
        "bgpStatus": {
          "documentation": "<p>The status of the BGP peer. The following are the possible values:</p> <ul> <li> <p> <code>up</code>: The BGP peer is established. This state does not indicate the state of the routing function. Ensure that you are receiving routes over the BGP session.</p> </li> <li> <p> <code>down</code>: The BGP peer is down.</p> </li> <li> <p> <code>unknown</code>: The BGP peer status is not available.</p> </li> </ul>",
          "shape": "BGPStatus"
        },
        "customerAddress": {
          "documentation": "<p>The IP address assigned to the customer interface.</p>",
          "shape": "CustomerAddress"
        }
      },
      "type": "structure"
    },
    "BGPPeerId": {
      "type": "string"
    },
    "BGPPeerList": {
      "member": {
        "shape": "BGPPeer"
      },
      "type": "list"
    },
    "BGPPeerState": {
      "enum": [
        "verifying",
        "pending",
        "available",
        "deleting",
        "deleted"
      ],
      "type": "string"
    },
    "BGPStatus": {
      "enum": [
        "up",
        "down",
        "unknown"
      ],
      "type": "string"
    },
    "Bandwidth": {
      "type": "string"
    },
    "BooleanFlag": {
      "type": "boolean"
    },
    "CIDR": {
      "type": "string"
    },
    "ConfirmConnectionRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the hosted connection.</p>",
          "shape": "ConnectionId"
        }
      },
      "required": [
        "connectionId"
      ],
      "type": "structure"
    },
    "ConfirmConnectionResponse": {
      "members": {
        "connectionState": {
          "documentation": "<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>",
          "shape": "ConnectionState"
        }
      },
      "type": "structure"
    },
    "ConfirmPrivateVirtualInterfaceRequest": {
      "members": {
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "virtualGatewayId": {
          "documentation": "<p>The ID of the virtual private gateway.</p>",
          "shape": "VirtualGatewayId"
        },
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "required": [
        "virtualInterfaceId"
      ],
      "type": "structure"
    },
    "ConfirmPrivateVirtualInterfaceResponse": {
      "members": {
        "virtualInterfaceState": {
          "documentation": "<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>",
          "shape": "VirtualInterfaceState"
        }
      },
      "type": "structure"
    },
    "ConfirmPublicVirtualInterfaceRequest": {
      "members": {
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "required": [
        "virtualInterfaceId"
      ],
      "type": "structure"
    },
    "ConfirmPublicVirtualInterfaceResponse": {
      "members": {
        "virtualInterfaceState": {
          "documentation": "<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>",
          "shape": "VirtualInterfaceState"
        }
      },
      "type": "structure"
    },
    "ConfirmTransitVirtualInterfaceRequest": {
      "members": {
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "required": [
        "virtualInterfaceId",
        "directConnectGatewayId"
      ],
      "type": "structure"
    },
    "ConfirmTransitVirtualInterfaceResponse": {
      "members": {
        "virtualInterfaceState": {
          "documentation": "<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>",
          "shape": "VirtualInterfaceState"
        }
      },
      "type": "structure"
    },
    "Connection": {
      "documentation": "<p>Information about an AWS Direct Connect connection.</p>",
      "members": {
        "awsDevice": {
          "documentation": "<p>The Direct Connect endpoint on which the physical connection terminates.</p>",
          "shape": "AwsDevice"
        },
        "awsDeviceV2": {
          "documentation": "<p>The Direct Connect endpoint on which the physical connection terminates.</p>",
          "shape": "AwsDeviceV2"
        },
        "bandwidth": {
          "documentation": "<p>The bandwidth of the connection.</p>",
          "shape": "Bandwidth"
        },
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "connectionName": {
          "documentation": "<p>The name of the connection.</p>",
          "shape": "ConnectionName"
        },
        "connectionState": {
          "documentation": "<p>The state of the connection. The following are the possible values:</p> <ul> <li> <p> <code>ordering</code>: The initial state of a hosted connection provisioned on an interconnect. The connection stays in the ordering state until the owner of the hosted connection confirms or declines the connection order.</p> </li> <li> <p> <code>requested</code>: The initial state of a standard connection. The connection stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The connection has been approved and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up and the connection is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The connection is being deleted.</p> </li> <li> <p> <code>deleted</code>: The connection has been deleted.</p> </li> <li> <p> <code>rejected</code>: A hosted connection in the <code>ordering</code> state enters the <code>rejected</code> state if it is deleted by the customer.</p> </li> <li> <p> <code>unknown</code>: The state of the connection is not available.</p> </li> </ul>",
          "shape": "ConnectionState"
        },
        "hasLogicalRedundancy": {
          "documentation": "<p>Indicates whether the connection supports a secondary BGP peer in the same address family (IPv4/IPv6).</p>",
          "shape": "HasLogicalRedundancy"
        },
        "jumboFrameCapable": {
          "documentation": "<p>Indicates whether jumbo frames (9001 MTU) are supported.</p>",
          "shape": "JumboFrameCapable"
        },
        "lagId": {
          "documentation": "<p>The ID of the LAG.</p>",
          "shape": "LagId"
        },
        "loaIssueTime": {
          "documentation": "<p>The time of the most recent call to <a>DescribeLoa</a> for this connection.</p>",
          "shape": "LoaIssueTime"
        },
        "location": {
          "documentation": "<p>The location of the connection.</p>",
          "shape": "LocationCode"
        },
        "ownerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the connection.</p>",
          "shape": "OwnerAccount"
        },
        "partnerName": {
          "documentation": "<p>The name of the AWS Direct Connect service provider associated with the connection.</p>",
          "shape": "PartnerName"
        },
        "providerName": {
          "documentation": "<p>The name of the service provider associated with the connection.</p>",
          "shape": "ProviderName"
        },
        "region": {
          "documentation": "<p>The AWS Region where the connection is located.</p>",
          "shape": "Region"
        },
        "tags": {
          "documentation": "<p>The tags associated with the connection.</p>",
          "shape": "TagList"
        },
        "vlan": {
          "documentation": "<p>The ID of the VLAN.</p>",
          "shape": "VLAN"
        }
      },
      "type": "structure"
    },
    "ConnectionId": {
      "type": "string"
    },
    "ConnectionList": {
      "member": {
        "shape": "Connection"
      },
      "type": "list"
    },
    "ConnectionName": {
      "type": "string"
    },
    "ConnectionState": {
      "enum": [
        "ordering",
        "requested",
        "pending",
        "available",
        "down",
        "deleting",
        "deleted",
        "rejected",
        "unknown"
      ],
      "type": "string"
    },
    "Connections": {
      "members": {
        "connections": {
          "documentation": "<p>The connections.</p>",
          "shape": "ConnectionList"
        }
      },
      "type": "structure"
    },
    "Count": {
      "type": "integer"
    },
    "CreateBGPPeerRequest": {
      "members": {
        "newBGPPeer": {
          "documentation": "<p>Information about the BGP peer.</p>",
          "shape": "NewBGPPeer"
        },
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "type": "structure"
    },
    "CreateBGPPeerResponse": {
      "members": {
        "virtualInterface": {
          "documentation": "<p>The virtual interface.</p>",
          "shape": "VirtualInterface"
        }
      },
      "type": "structure"
    },
    "CreateConnectionRequest": {
      "members": {
        "bandwidth": {
          "documentation": "<p>The bandwidth of the connection.</p>",
          "shape": "Bandwidth"
        },
        "connectionName": {
          "documentation": "<p>The name of the connection.</p>",
          "shape": "ConnectionName"
        },
        "lagId": {
          "documentation": "<p>The ID of the LAG.</p>",
          "shape": "LagId"
        },
        "location": {
          "documentation": "<p>The location of the connection.</p>",
          "shape": "LocationCode"
        },
        "providerName": {
          "documentation": "<p>The name of the service provider associated with the requested connection.</p>",
          "shape": "ProviderName"
        },
        "tags": {
          "documentation": "<p>The tags to associate with the lag.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "location",
        "bandwidth",
        "connectionName"
      ],
      "type": "structure"
    },
    "CreateDirectConnectGatewayAssociationProposalRequest": {
      "members": {
        "addAllowedPrefixesToDirectConnectGateway": {
          "documentation": "<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway.</p>",
          "shape": "RouteFilterPrefixList"
        },
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "directConnectGatewayOwnerAccount": {
          "documentation": "<p>The ID of the AWS account that owns the Direct Connect gateway.</p>",
          "shape": "OwnerAccount"
        },
        "gatewayId": {
          "documentation": "<p>The ID of the virtual private gateway or transit gateway.</p>",
          "shape": "GatewayIdToAssociate"
        },
        "removeAllowedPrefixesToDirectConnectGateway": {
          "documentation": "<p>The Amazon VPC prefixes to no longer advertise to the Direct Connect gateway.</p>",
          "shape": "RouteFilterPrefixList"
        }
      },
      "required": [
        "directConnectGatewayId",
        "directConnectGatewayOwnerAccount",
        "gatewayId"
      ],
      "type": "structure"
    },
    "CreateDirectConnectGatewayAssociationProposalResult": {
      "members": {
        "directConnectGatewayAssociationProposal": {
          "documentation": "<p>Information about the Direct Connect gateway proposal.</p>",
          "shape": "DirectConnectGatewayAssociationProposal"
        }
      },
      "type": "structure"
    },
    "CreateDirectConnectGatewayAssociationRequest": {
      "members": {
        "addAllowedPrefixesToDirectConnectGateway": {
          "documentation": "<p>The Amazon VPC prefixes to advertise to the Direct Connect gateway</p> <p>This parameter is required when you create an association to a transit gateway.</p> <p>For information about how to set the prefixes, see <a href=\"https://docs.aws.amazon.com/directconnect/latest/UserGuide/multi-account-associate-vgw.html#allowed-prefixes\">Allowed Prefixes</a> in the <i>AWS Direct Connect User Guide</i>.</p>",
          "shape": "RouteFilterPrefixList"
        },
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "gatewayId": {
          "documentation": "<p>The ID of the virtual private gateway or transit gateway.</p>",
          "shape": "GatewayIdToAssociate"
        },
        "virtualGatewayId": {
          "documentation": "<p>The ID of the virtual private gateway.</p>",
          "shape": "VirtualGatewayId"
        }
      },
      "required": [
        "directConnectGatewayId"
      ],
      "type": "structure"
    },
    "CreateDirectConnectGatewayAssociationResult": {
      "members": {
        "directConnectGatewayAssociation": {
          "documentation": "<p>The association to be created.</p>",
          "shape": "DirectConnectGatewayAssociation"
        }
      },
      "type": "structure"
    },
    "CreateDirectConnectGatewayRequest": {
      "members": {
        "amazonSideAsn": {
          "documentation": "<p>The autonomous system number (ASN) for Border Gateway Protocol (BGP) to be configured on the Amazon side of the connection. The ASN must be in the private range of 64,512 to 65,534 or 4,200,000,000 to 4,294,967,294. The default is 64512.</p>",
          "shape": "LongAsn"
        },
        "directConnectGatewayName": {
          "documentation": "<p>The name of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayName"
        }
      },
      "required": [
        "directConnectGatewayName"
      ],
      "type": "structure"
    },
    "CreateDirectConnectGatewayResult": {
      "members": {
        "directConnectGateway": {
          "documentation": "<p>The Direct Connect gateway.</p>",
          "shape": "DirectConnectGateway"
        }
      },
      "type": "structure"
    },
    "CreateInterconnectRequest": {
      "members": {
        "bandwidth": {
          "documentation": "<p>The port bandwidth, in Gbps. The possible values are 1 and 10.</p>",
          "shape": "Bandwidth"
        },
        "interconnectName": {
          "documentation": "<p>The name of the interconnect.</p>",
          "shape": "InterconnectName"
        },
        "lagId": {
          "documentation": "<p>The ID of the LAG.</p>",
          "shape": "LagId"
        },
        "location": {
          "documentation": "<p>The location of the interconnect.</p>",
          "shape": "LocationCode"
        },
        "providerName": {
          "documentation": "<p>The name of the service provider associated with the interconnect.</p>",
          "shape": "ProviderName"
        },
        "tags": {
          "documentation": "<p>The tags to associate with the interconnect.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "interconnectName",
        "bandwidth",
        "location"
      ],
      "type": "structure"
    },
    "CreateLagRequest": {
      "members": {
        "childConnectionTags": {
          "documentation": "<p>The tags to associate with the automtically created LAGs.</p>",
          "shape": "TagList"
        },
        "connectionId": {
          "documentation": "<p>The ID of an existing connection to migrate to the LAG.</p>",
          "shape": "ConnectionId"
        },
        "connectionsBandwidth": {
          "documentation": "<p>The bandwidth of the individual physical connections bundled by the LAG. The possible values are 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, 500Mbps, 1Gbps, 2Gbps, 5Gbps, and 10Gbps. </p>",
          "shape": "Bandwidth"
        },
        "lagName": {
          "documentation": "<p>The name of the LAG.</p>",
          "shape": "LagName"
        },
        "location": {
          "documentation": "<p>The location for the LAG.</p>",
          "shape": "LocationCode"
        },
        "numberOfConnections": {
          "documentation": "<p>The number of physical connections initially provisioned and bundled by the LAG.</p>",
          "shape": "Count"
        },
        "providerName": {
          "documentation": "<p>The name of the service provider associated with the LAG.</p>",
          "shape": "ProviderName"
        },
        "tags": {
          "documentation": "<p>The tags to associate with the LAG.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "numberOfConnections",
        "location",
        "connectionsBandwidth",
        "lagName"
      ],
      "type": "structure"
    },
    "CreatePrivateVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "newPrivateVirtualInterface": {
          "documentation": "<p>Information about the private virtual interface.</p>",
          "shape": "NewPrivateVirtualInterface"
        }
      },
      "required": [
        "connectionId",
        "newPrivateVirtualInterface"
      ],
      "type": "structure"
    },
    "CreatePublicVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "newPublicVirtualInterface": {
          "documentation": "<p>Information about the public virtual interface.</p>",
          "shape": "NewPublicVirtualInterface"
        }
      },
      "required": [
        "connectionId",
        "newPublicVirtualInterface"
      ],
      "type": "structure"
    },
    "CreateTransitVirtualInterfaceRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "newTransitVirtualInterface": {
          "documentation": "<p>Information about the transit virtual interface.</p>",
          "shape": "NewTransitVirtualInterface"
        }
      },
      "required": [
        "connectionId",
        "newTransitVirtualInterface"
      ],
      "type": "structure"
    },
    "CreateTransitVirtualInterfaceResult": {
      "members": {
        "virtualInterface": {
          "shape": "VirtualInterface"
        }
      },
      "type": "structure"
    },
    "CustomerAddress": {
      "type": "string"
    },
    "DeleteBGPPeerRequest": {
      "members": {
        "asn": {
          "documentation": "<p>The autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>",
          "shape": "ASN"
        },
        "bgpPeerId": {
          "documentation": "<p>The ID of the BGP peer.</p>",
          "shape": "BGPPeerId"
        },
        "customerAddress": {
          "documentation": "<p>The IP address assigned to the customer interface.</p>",
          "shape": "CustomerAddress"
        },
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "type": "structure"
    },
    "DeleteBGPPeerResponse": {
      "members": {
        "virtualInterface": {
          "documentation": "<p>The virtual interface.</p>",
          "shape": "VirtualInterface"
        }
      },
      "type": "structure"
    },
    "DeleteConnectionRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        }
      },
      "required": [
        "connectionId"
      ],
      "type": "structure"
    },
    "DeleteDirectConnectGatewayAssociationProposalRequest": {
      "members": {
        "proposalId": {
          "documentation": "<p>The ID of the proposal.</p>",
          "shape": "DirectConnectGatewayAssociationProposalId"
        }
      },
      "required": [
        "proposalId"
      ],
      "type": "structure"
    },
    "DeleteDirectConnectGatewayAssociationProposalResult": {
      "members": {
        "directConnectGatewayAssociationProposal": {
          "documentation": "<p>The ID of the associated gateway.</p>",
          "shape": "DirectConnectGatewayAssociationProposal"
        }
      },
      "type": "structure"
    },
    "DeleteDirectConnectGatewayAssociationRequest": {
      "members": {
        "associationId": {
          "documentation": "<p>The ID of the Direct Connect gateway association.</p>",
          "shape": "DirectConnectGatewayAssociationId"
        },
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "virtualGatewayId": {
          "documentation": "<p>The ID of the virtual private gateway.</p>",
          "shape": "VirtualGatewayId"
        }
      },
      "type": "structure"
    },
    "DeleteDirectConnectGatewayAssociationResult": {
      "members": {
        "directConnectGatewayAssociation": {
          "documentation": "<p>Information about the deleted association.</p>",
          "shape": "DirectConnectGatewayAssociation"
        }
      },
      "type": "structure"
    },
    "DeleteDirectConnectGatewayRequest": {
      "members": {
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        }
      },
      "required": [
        "directConnectGatewayId"
      ],
      "type": "structure"
    },
    "DeleteDirectConnectGatewayResult": {
      "members": {
        "directConnectGateway": {
          "documentation": "<p>The Direct Connect gateway.</p>",
          "shape": "DirectConnectGateway"
        }
      },
      "type": "structure"
    },
    "DeleteInterconnectRequest": {
      "members": {
        "interconnectId": {
          "documentation": "<p>The ID of the interconnect.</p>",
          "shape": "InterconnectId"
        }
      },
      "required": [
        "interconnectId"
      ],
      "type": "structure"
    },
    "DeleteInterconnectResponse": {
      "members": {
        "interconnectState": {
          "documentation": "<p>The state of the interconnect. The following are the possible values:</p> <ul> <li> <p> <code>requested</code>: The initial state of an interconnect. The interconnect stays in the requested state until the Letter of Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <code>pending</code>: The interconnect is approved, and is being initialized.</p> </li> <li> <p> <code>available</code>: The network link is up, and the interconnect is ready for use.</p> </li> <li> <p> <code>down</code>: The network link is down.</p> </li> <li> <p> <code>deleting</code>: The interconnect is being deleted.</p> </li> <li> <p> <code>deleted</code>: The interconnect is deleted.</p> </li> <li> <p> <code>unknown</code>: The state of the interconnect is not available.</p> </li> </ul>",
          "shape": "InterconnectState"
        }
      },
      "type": "structure"
    },
    "DeleteLagRequest": {
      "members": {
        "lagId": {
          "documentation": "<p>The ID of the LAG.</p>",
          "shape": "LagId"
        }
      },
      "required": [
        "lagId"
      ],
      "type": "structure"
    },
    "DeleteVirtualInterfaceRequest": {
      "members": {
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
          "shape": "VirtualInterfaceId"
        }
      },
      "required": [
        "virtualInterfaceId"
      ],
      "type": "structure"
    },
    "DeleteVirtualInterfaceResponse": {
      "members": {
        "virtualInterfaceState": {
          "documentation": "<p>The state of the virtual interface. The following are the possible values:</p> <ul> <li> <p> <code>confirming</code>: The creation of the virtual interface is pending confirmation from the virtual interface owner. If the owner of the virtual interface is different from the owner of the connection on which it is provisioned, then the virtual interface will remain in this state until it is confirmed by the virtual interface owner.</p> </li> <li> <p> <code>verifying</code>: This state only applies to public virtual interfaces. Each public virtual interface needs validation before the virtual interface can be created.</p> </li> <li> <p> <code>pending</code>: A virtual interface is in this state from the time that it is created until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <code>available</code>: A virtual interface that is able to forward traffic.</p> </li> <li> <p> <code>down</code>: A virtual interface that is BGP down.</p> </li> <li> <p> <code>deleting</code>: A virtual interface is in this state immediately after calling <a>DeleteVirtualInterface</a> until it can no longer forward traffic.</p> </li> <li> <p> <code>deleted</code>: A virtual interface that cannot forward traffic.</p> </li> <li> <p> <code>rejected</code>: The virtual interface owner has declined creation of the virtual interface. If a virtual interface in the <code>Confirming</code> state is deleted by the virtual interface owner, the virtual interface enters the <code>Rejected</code> state.</p> </li> <li> <p> <code>unknown</code>: The state of the virtual interface is not available.</p> </li> </ul>",
          "shape": "VirtualInterfaceState"
        }
      },
      "type": "structure"
    },
    "DescribeConnectionLoaRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        },
        "loaContentType": {
          "documentation": "<p>The standard media type for the LOA-CFA document. The only supported value is application/pdf.</p>",
          "shape": "LoaContentType"
        },
        "providerName": {
          "documentation": "<p>The name of the APN partner or service provider who establishes connectivity on your behalf. If you specify this parameter, the LOA-CFA lists the provider name alongside your company name as the requester of the cross connect.</p>",
          "shape": "ProviderName"
        }
      },
      "required": [
        "connectionId"
      ],
      "type": "structure"
    },
    "DescribeConnectionLoaResponse": {
      "members": {
        "loa": {
          "documentation": "<p>The Letter of Authorization - Connecting Facility Assignment (LOA-CFA).</p>",
          "shape": "Loa"
        }
      },
      "type": "structure"
    },
    "DescribeConnectionsOnInterconnectRequest": {
      "members": {
        "interconnectId": {
          "documentation": "<p>The ID of the interconnect.</p>",
          "shape": "InterconnectId"
        }
      },
      "required": [
        "interconnectId"
      ],
      "type": "structure"
    },
    "DescribeConnectionsRequest": {
      "members": {
        "connectionId": {
          "documentation": "<p>The ID of the connection.</p>",
          "shape": "ConnectionId"
        }
      },
      "type": "structure"
    },
    "DescribeDirectConnectGatewayAssociationProposalsRequest": {
      "members": {
        "associatedGatewayId": {
          "documentation": "<p>The ID of the associated gateway.</p>",
          "shape": "AssociatedGatewayId"
        },
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p> <p>If <code>MaxResults</code> is given a value larger than 100, only 100 results are returned.</p>",
          "shape": "MaxResultSetSize"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "proposalId": {
          "documentation": "<p>The ID of the proposal.</p>",
          "shape": "DirectConnectGatewayAssociationProposalId"
        }
      },
      "type": "structure"
    },
    "DescribeDirectConnectGatewayAssociationProposalsResult": {
      "members": {
        "directConnectGatewayAssociationProposals": {
          "documentation": "<p>Describes the Direct Connect gateway association proposals.</p>",
          "shape": "DirectConnectGatewayAssociationProposalList"
        },
        "nextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeDirectConnectGatewayAssociationsRequest": {
      "members": {
        "associatedGatewayId": {
          "documentation": "<p>The ID of the associated gateway.</p>",
          "shape": "AssociatedGatewayId"
        },
        "associationId": {
          "documentation": "<p>The ID of the Direct Connect gateway association.</p>",
          "shape": "DirectConnectGatewayAssociationId"
        },
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p> <p>If <code>MaxResults</code> is given a value larger than 100, only 100 results are returned.</p>",
          "shape": "MaxResultSetSize"
        },
        "nextToken": {
          "documentation": "<p>The token provided in the previous call to retrieve the next page.</p>",
          "shape": "PaginationToken"
        },
        "virtualGatewayId": {
          "documentation": "<p>The ID of the virtual private gateway.</p>",
          "shape": "VirtualGatewayId"
        }
      },
      "type": "structure"
    },
    "DescribeDirectConnectGatewayAssociationsResult": {
      "members": {
        "directConnectGatewayAssociations": {
          "documentation": "<p>Information about the associations.</p>",
          "shape": "DirectConnectGatewayAssociationList"
        },
        "nextToken": {
          "documentation": "<p>The token to retrieve the next page.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "DescribeDirectConnectGatewayAttachmentsRequest": {
      "members": {
        "directConnectGatewayId": {
          "documentation": "<p>The ID of the Direct Connect gateway.</p>",
          "shape": "DirectConnectGatewayId"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.</p> <p>If <code>MaxResults</code> is given a value larger than 100, only 100 results are returned.</p>",
          "shape": "MaxResultSetSize"
        },
        "nextToken": {
          "documentation": "<p>The token provided in the previous call to retrieve the next page.</p>",
          "shape": "PaginationToken"
        },
        "virtualInterfaceId": {
          "documentation": "<p>The ID of the virtual interface.</p>",
[...]
