{
  "documentation": "<p>AWS Compute Optimizer is a service that analyzes the configuration and utilization metrics of your AWS resources, such as EC2 instances and Auto Scaling groups. It reports whether your resources are optimal, and generates optimization recommendations to reduce the cost and improve the performance of your workloads. Compute Optimizer also provides recent utilization metric data, as well as projected utilization metric data for the recommendations, which you can use to evaluate which recommendation provides the best price-performance trade-off. The analysis of your usage patterns can help you decide when to move or resize your running resources, and still meet your performance and capacity requirements. For more information about Compute Optimizer, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/\">AWS Compute Optimizer User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2019-11-01",
    "endpointPrefix": "compute-optimizer",
    "jsonVersion": "1.0",
    "protocol": "json",
    "serviceFullName": "AWS Compute Optimizer",
    "serviceId": "Compute Optimizer",
    "signatureVersion": "v4",
    "signingName": "compute-optimizer",
    "targetPrefix": "ComputeOptimizerService",
    "uid": "compute-optimizer-2019-11-01"
  },
  "operations": {
    "GetAutoScalingGroupRecommendations": {
      "documentation": "<p>Returns Auto Scaling group recommendations.</p> <p>AWS Compute Optimizer currently generates recommendations for Auto Scaling groups that are configured to run instances of the M, C, R, T, and X instance families. The service does not generate recommendations for Auto Scaling groups that have a scaling policy attached to them, or that do not have the same values for desired, minimum, and maximum capacity. In order for Compute Optimizer to analyze your Auto Scaling groups, they must be of a fixed size. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/what-is.html\">AWS Compute Optimizer User Guide</a>.</p>",
      "errors": [
        {
          "shape": "OptInRequiredException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "MissingAuthenticationToken"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAutoScalingGroupRecommendationsRequest"
      },
      "name": "GetAutoScalingGroupRecommendations",
      "output": {
        "shape": "GetAutoScalingGroupRecommendationsResponse"
      }
    },
    "GetEC2InstanceRecommendations": {
      "documentation": "<p>Returns Amazon EC2 instance recommendations.</p> <p>AWS Compute Optimizer currently generates recommendations for Amazon Elastic Compute Cloud (Amazon EC2) and Amazon EC2 Auto Scaling. It generates recommendations for M, C, R, T, and X instance families. For more information, see the <a href=\"https://docs.aws.amazon.com/compute-optimizer/latest/ug/what-is.html\">AWS Compute Optimizer User Guide</a>.</p>",
      "errors": [
        {
          "shape": "OptInRequiredException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "MissingAuthenticationToken"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEC2InstanceRecommendationsRequest"
      },
      "name": "GetEC2InstanceRecommendations",
      "output": {
        "shape": "GetEC2InstanceRecommendationsResponse"
      }
    },
    "GetEC2RecommendationProjectedMetrics": {
      "documentation": "<p>Returns the projected utilization metrics of Amazon EC2 instance recommendations.</p>",
      "errors": [
        {
          "shape": "OptInRequiredException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "MissingAuthenticationToken"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEC2RecommendationProjectedMetricsRequest"
      },
      "name": "GetEC2RecommendationProjectedMetrics",
      "output": {
        "shape": "GetEC2RecommendationProjectedMetricsResponse"
      }
    },
    "GetEnrollmentStatus": {
      "documentation": "<p>Returns the enrollment (opt in) status of an account to the AWS Compute Optimizer service.</p> <p>If the account is a master account of an organization, this operation also confirms the enrollment status of member accounts within the organization.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingAuthenticationToken"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEnrollmentStatusRequest"
      },
      "name": "GetEnrollmentStatus",
      "output": {
        "shape": "GetEnrollmentStatusResponse"
      }
    },
    "GetRecommendationSummaries": {
      "documentation": "<p>Returns the optimization findings for an account.</p> <p>For example, it returns the number of Amazon EC2 instances in an account that are under-provisioned, over-provisioned, or optimized. It also returns the number of Auto Scaling groups in an account that are not optimized, or optimized.</p>",
      "errors": [
        {
          "shape": "OptInRequiredException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingAuthenticationToken"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRecommendationSummariesRequest"
      },
      "name": "GetRecommendationSummaries",
      "output": {
        "shape": "GetRecommendationSummariesResponse"
      }
    },
    "UpdateEnrollmentStatus": {
      "documentation": "<p>Updates the enrollment (opt in) status of an account to the AWS Compute Optimizer service.</p> <p>If the account is a master account of an organization, this operation can also enroll member accounts within the organization.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "MissingAuthenticationToken"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEnrollmentStatusRequest"
      },
      "name": "UpdateEnrollmentStatus",
      "output": {
        "shape": "UpdateEnrollmentStatusResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "AccountId": {
      "type": "string"
    },
    "AccountIds": {
      "member": {
        "shape": "AccountId"
      },
      "type": "list"
    },
    "AutoScalingGroupArn": {
      "type": "string"
    },
    "AutoScalingGroupArns": {
      "member": {
        "shape": "AutoScalingGroupArn"
      },
      "type": "list"
    },
    "AutoScalingGroupConfiguration": {
      "documentation": "<p>Describes the configuration of an Auto Scaling group.</p>",
      "members": {
        "desiredCapacity": {
          "documentation": "<p>The desired capacity, or number of instances, for the Auto Scaling group.</p>",
          "shape": "DesiredCapacity"
        },
        "instanceType": {
          "documentation": "<p>The instance type for the Auto Scaling group.</p>",
          "shape": "InstanceType"
        },
        "maxSize": {
          "documentation": "<p>The maximum size, or maximum number of instances, for the Auto Scaling group.</p>",
          "shape": "MaxSize"
        },
        "minSize": {
          "documentation": "<p>The minimum size, or minimum number of instances, for the Auto Scaling group.</p>",
          "shape": "MinSize"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroupName": {
      "type": "string"
    },
    "AutoScalingGroupRecommendation": {
      "documentation": "<p>Describes an Auto Scaling group recommendation.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The AWS account ID of the Auto Scaling group.</p>",
          "shape": "AccountId"
        },
        "autoScalingGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
          "shape": "AutoScalingGroupArn"
        },
        "autoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "AutoScalingGroupName"
        },
        "currentConfiguration": {
          "documentation": "<p>An array of objects that describe the current configuration of the Auto Scaling group.</p>",
          "shape": "AutoScalingGroupConfiguration"
        },
        "finding": {
          "documentation": "<p>The finding classification for the Auto Scaling group.</p> <p>Findings for Auto Scaling groups include:</p> <ul> <li> <p> <b> <code>NotOptimized</code> </b>\u2014An Auto Scaling group is considered not optimized when AWS Compute Optimizer identifies a recommendation that can provide better performance for your workload.</p> </li> <li> <p> <b> <code>Optimized</code> </b>\u2014An Auto Scaling group is considered optimized when Compute Optimizer determines that the group is correctly provisioned to run your workload based on the chosen instance type. For optimized resources, Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>NOT_OPTIMIZED</code> or <code>OPTIMIZED</code>.</p> </note>",
          "shape": "Finding"
        },
        "lastRefreshTimestamp": {
          "documentation": "<p>The time stamp of when the Auto Scaling group recommendation was last refreshed.</p>",
          "shape": "LastRefreshTimestamp"
        },
        "lookBackPeriodInDays": {
          "documentation": "<p>The number of days for which utilization metrics were analyzed for the Auto Scaling group.</p>",
          "shape": "LookBackPeriodInDays"
        },
        "recommendationOptions": {
          "documentation": "<p>An array of objects that describe the recommendation options for the Auto Scaling group.</p>",
          "shape": "AutoScalingGroupRecommendationOptions"
        },
        "utilizationMetrics": {
          "documentation": "<p>An array of objects that describe the utilization metrics of the Auto Scaling group.</p>",
          "shape": "UtilizationMetrics"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroupRecommendationOption": {
      "documentation": "<p>Describes a recommendation option for an Auto Scaling group.</p>",
      "members": {
        "configuration": {
          "documentation": "<p>An array of objects that describe an Auto Scaling group configuration.</p>",
          "shape": "AutoScalingGroupConfiguration"
        },
        "performanceRisk": {
          "documentation": "<p>The performance risk of the Auto Scaling group configuration recommendation.</p> <p>Performance risk is the likelihood of the recommended instance type not meeting the performance requirement of your workload.</p> <p>The lowest performance risk is categorized as <code>0</code>, and the highest as <code>5</code>.</p>",
          "shape": "PerformanceRisk"
        },
        "projectedUtilizationMetrics": {
          "documentation": "<p>An array of objects that describe the projected utilization metrics of the Auto Scaling group recommendation option.</p>",
          "shape": "ProjectedUtilizationMetrics"
        },
        "rank": {
          "documentation": "<p>The rank of the Auto Scaling group recommendation option.</p> <p>The top recommendation option is ranked as <code>1</code>.</p>",
          "shape": "Rank"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroupRecommendationOptions": {
      "member": {
        "shape": "AutoScalingGroupRecommendationOption"
      },
      "type": "list"
    },
    "AutoScalingGroupRecommendations": {
      "member": {
        "shape": "AutoScalingGroupRecommendation"
      },
      "type": "list"
    },
    "Code": {
      "type": "string"
    },
    "CurrentInstanceType": {
      "type": "string"
    },
    "DesiredCapacity": {
      "type": "integer"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Filter": {
      "documentation": "<p>Describes a filter that returns a more specific list of recommendations.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the filter.</p> <p>Specify <code>Finding</code> to filter the results to a specific findings classification.</p> <p>Specify <code>RecommendationSourceType</code> to filter the results to a specific resource type.</p>",
          "shape": "FilterName"
        },
        "values": {
          "documentation": "<p>The value of the filter.</p> <p>If you specify the <code>name</code> parameter as <code>Finding</code>, and you're recommendations for an <i>instance</i>, then the valid values are <code>Underprovisioned</code>, <code>Overprovisioned</code>, <code>NotOptimized</code>, or <code>Optimized</code>.</p> <p>If you specify the <code>name</code> parameter as <code>Finding</code>, and you're recommendations for an <i>Auto Scaling group</i>, then the valid values are <code>Optimized</code>, or <code>NotOptimized</code>.</p> <p>If you specify the <code>name</code> parameter as <code>RecommendationSourceType</code>, then the valid values are <code>EC2Instance</code>, or <code>AutoScalingGroup</code>.</p>",
          "shape": "FilterValues"
        }
      },
      "type": "structure"
    },
    "FilterName": {
      "enum": [
        "Finding",
        "RecommendationSourceType"
      ],
      "type": "string"
    },
    "FilterValue": {
      "type": "string"
    },
    "FilterValues": {
      "member": {
        "shape": "FilterValue"
      },
      "type": "list"
    },
    "Filters": {
      "member": {
        "shape": "Filter"
      },
      "type": "list"
    },
    "Finding": {
      "enum": [
        "Underprovisioned",
        "Overprovisioned",
        "Optimized",
        "NotOptimized"
      ],
      "type": "string"
    },
    "GetAutoScalingGroupRecommendationsRequest": {
      "members": {
        "accountIds": {
          "documentation": "<p>The AWS account IDs for which to return Auto Scaling group recommendations.</p> <p>Only one account ID can be specified per request.</p>",
          "shape": "AccountIds"
        },
        "autoScalingGroupArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling groups for which to return recommendations.</p>",
          "shape": "AutoScalingGroupArns"
        },
        "filters": {
          "documentation": "<p>An array of objects that describe a filter that returns a more specific list of Auto Scaling group recommendations.</p>",
          "shape": "Filters"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of Auto Scaling group recommendations to return with a single call.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token to advance to the next page of Auto Scaling group recommendations.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetAutoScalingGroupRecommendationsResponse": {
      "members": {
        "autoScalingGroupRecommendations": {
          "documentation": "<p>An array of objects that describe Auto Scaling group recommendations.</p>",
          "shape": "AutoScalingGroupRecommendations"
        },
        "errors": {
          "documentation": "<p>An array of objects that describe errors of the request.</p> <p>For example, an error is returned if you request recommendations for an unsupported Auto Scaling group.</p>",
          "shape": "GetRecommendationErrors"
        },
        "nextToken": {
          "documentation": "<p>The token to use to advance to the next page of Auto Scaling group recommendations.</p> <p>This value is null when there are no more pages of Auto Scaling group recommendations to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetEC2InstanceRecommendationsRequest": {
      "members": {
        "accountIds": {
          "documentation": "<p>The AWS account IDs for which to return instance recommendations.</p> <p>Only one account ID can be specified per request.</p>",
          "shape": "AccountIds"
        },
        "filters": {
          "documentation": "<p>An array of objects that describe a filter that returns a more specific list of instance recommendations.</p>",
          "shape": "Filters"
        },
        "instanceArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the instances for which to return recommendations.</p>",
          "shape": "InstanceArns"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of instance recommendations to return with a single call.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token to advance to the next page of instance recommendations.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetEC2InstanceRecommendationsResponse": {
      "members": {
        "errors": {
          "documentation": "<p>An array of objects that describe errors of the request.</p> <p>For example, an error is returned if you request recommendations for an instance of an unsupported instance family.</p>",
          "shape": "GetRecommendationErrors"
        },
        "instanceRecommendations": {
          "documentation": "<p>An array of objects that describe instance recommendations.</p>",
          "shape": "InstanceRecommendations"
        },
        "nextToken": {
          "documentation": "<p>The token to use to advance to the next page of instance recommendations.</p> <p>This value is null when there are no more pages of instance recommendations to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetEC2RecommendationProjectedMetricsRequest": {
      "members": {
        "endTime": {
          "documentation": "<p>The time stamp of the last projected metrics data point to return.</p>",
          "shape": "Timestamp"
        },
        "instanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the instances for which to return recommendation projected metrics.</p>",
          "shape": "InstanceArn"
        },
        "period": {
          "documentation": "<p>The granularity, in seconds, of the projected metrics data points.</p>",
          "shape": "Period"
        },
        "startTime": {
          "documentation": "<p>The time stamp of the first projected metrics data point to return.</p>",
          "shape": "Timestamp"
        },
        "stat": {
          "documentation": "<p>The statistic of the projected metrics.</p>",
          "shape": "MetricStatistic"
        }
      },
      "required": [
        "instanceArn",
        "stat",
        "period",
        "startTime",
        "endTime"
      ],
      "type": "structure"
    },
    "GetEC2RecommendationProjectedMetricsResponse": {
      "members": {
        "recommendedOptionProjectedMetrics": {
          "documentation": "<p>An array of objects that describe a projected metrics.</p>",
          "shape": "RecommendedOptionProjectedMetrics"
        }
      },
      "type": "structure"
    },
    "GetEnrollmentStatusRequest": {
      "members": {},
      "type": "structure"
    },
    "GetEnrollmentStatusResponse": {
      "members": {
        "memberAccountsEnrolled": {
          "documentation": "<p>Confirms the enrollment status of member accounts within the organization, if the account is a master account of an organization.</p>",
          "shape": "MemberAccountsEnrolled"
        },
        "status": {
          "documentation": "<p>The enrollment status of the account.</p>",
          "shape": "Status"
        },
        "statusReason": {
          "documentation": "<p>The reason for the enrollment status of the account.</p> <p>For example, an account might show a status of <code>Pending</code> because member accounts of an organization require more time to be enrolled in the service.</p>",
          "shape": "StatusReason"
        }
      },
      "type": "structure"
    },
    "GetRecommendationError": {
      "documentation": "<p>Describes an error experienced when getting recommendations.</p> <p>For example, an error is returned if you request recommendations for an unsupported Auto Scaling group, or if you request recommendations for an instance of an unsupported instance family.</p>",
      "members": {
        "code": {
          "documentation": "<p>The error code.</p>",
          "shape": "Code"
        },
        "identifier": {
          "documentation": "<p>The ID of the error.</p>",
          "shape": "Identifier"
        },
        "message": {
          "documentation": "<p>The message, or reason, for the error.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "GetRecommendationErrors": {
      "member": {
        "shape": "GetRecommendationError"
      },
      "type": "list"
    },
    "GetRecommendationSummariesRequest": {
      "members": {
        "accountIds": {
          "documentation": "<p>The AWS account IDs for which to return recommendation summaries.</p> <p>Only one account ID can be specified per request.</p>",
          "shape": "AccountIds"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of recommendation summaries to return with a single call.</p> <p>To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token to advance to the next page of recommendation summaries.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "GetRecommendationSummariesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to use to advance to the next page of recommendation summaries.</p> <p>This value is null when there are no more pages of recommendation summaries to return.</p>",
          "shape": "NextToken"
        },
        "recommendationSummaries": {
          "documentation": "<p>An array of objects that summarize a recommendation.</p>",
          "shape": "RecommendationSummaries"
        }
      },
      "type": "structure"
    },
    "Identifier": {
      "type": "string"
    },
    "IncludeMemberAccounts": {
      "type": "boolean"
    },
    "InstanceArn": {
      "type": "string"
    },
    "InstanceArns": {
      "member": {
        "shape": "InstanceArn"
      },
      "type": "list"
    },
    "InstanceName": {
      "type": "string"
    },
    "InstanceRecommendation": {
      "documentation": "<p>Describes an Amazon EC2 instance recommendation.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The AWS account ID of the instance recommendation.</p>",
          "shape": "AccountId"
        },
        "currentInstanceType": {
          "documentation": "<p>The instance type of the current instance.</p>",
          "shape": "CurrentInstanceType"
        },
        "finding": {
          "documentation": "<p>The finding classification for the instance.</p> <p>Findings for instances include:</p> <ul> <li> <p> <b> <code>Underprovisioned</code> </b>\u2014An instance is considered under-provisioned when at least one specification of your instance, such as CPU, memory, or network, does not meet the performance requirements of your workload. Under-provisioned instances may lead to poor application performance.</p> </li> <li> <p> <b> <code>Overprovisioned</code> </b>\u2014An instance is considered over-provisioned when at least one specification of your instance, such as CPU, memory, or network, can be sized down while still meeting the performance requirements of your workload, and no specification is under-provisioned. Over-provisioned instances may lead to unnecessary infrastructure cost.</p> </li> <li> <p> <b> <code>Optimized</code> </b>\u2014An instance is considered optimized when all specifications of your instance, such as CPU, memory, and network, meet the performance requirements of your workload and is not over provisioned. An optimized instance runs your workloads with optimal performance and infrastructure cost. For optimized resources, AWS Compute Optimizer might recommend a new generation instance type.</p> </li> </ul> <note> <p>The values that are returned might be <code>UNDER_PROVISIONED</code>, <code>OVER_PROVISIONED</code>, or <code>OPTIMIZED</code>.</p> </note>",
          "shape": "Finding"
        },
        "instanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the current instance.</p>",
          "shape": "InstanceArn"
        },
        "instanceName": {
          "documentation": "<p>The name of the current instance.</p>",
          "shape": "InstanceName"
        },
        "lastRefreshTimestamp": {
          "documentation": "<p>The time stamp of when the instance recommendation was last refreshed.</p>",
          "shape": "LastRefreshTimestamp"
        },
        "lookBackPeriodInDays": {
          "documentation": "<p>The number of days for which utilization metrics were analyzed for the instance.</p>",
          "shape": "LookBackPeriodInDays"
        },
        "recommendationOptions": {
          "documentation": "<p>An array of objects that describe the recommendation options for the instance.</p>",
          "shape": "RecommendationOptions"
        },
        "recommendationSources": {
          "documentation": "<p>An array of objects that describe the source resource of the recommendation.</p>",
          "shape": "RecommendationSources"
        },
        "utilizationMetrics": {
          "documentation": "<p>An array of objects that describe the utilization metrics of the instance.</p>",
          "shape": "UtilizationMetrics"
        }
      },
      "type": "structure"
    },
    "InstanceRecommendationOption": {
      "documentation": "<p>Describes a recommendation option for an Amazon EC2 instance.</p>",
      "members": {
        "instanceType": {
          "documentation": "<p>The instance type of the instance recommendation.</p>",
          "shape": "InstanceType"
        },
        "performanceRisk": {
          "documentation": "<p>The performance risk of the instance recommendation option.</p> <p>Performance risk is the likelihood of the recommended instance type not meeting the performance requirement of your workload.</p> <p>The lowest performance risk is categorized as <code>0</code>, and the highest as <code>5</code>.</p>",
          "shape": "PerformanceRisk"
        },
        "projectedUtilizationMetrics": {
          "documentation": "<p>An array of objects that describe the projected utilization metrics of the instance recommendation option.</p>",
          "shape": "ProjectedUtilizationMetrics"
        },
        "rank": {
          "documentation": "<p>The rank of the instance recommendation option.</p> <p>The top recommendation option is ranked as <code>1</code>.</p>",
          "shape": "Rank"
        }
      },
      "type": "structure"
    },
    "InstanceRecommendations": {
      "member": {
        "shape": "InstanceRecommendation"
      },
      "type": "list"
    },
    "InstanceType": {
      "type": "string"
    },
    "InternalServerException": {
      "documentation": "<p>The request processing has failed because of an unknown error, exception, or failure.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidParameterValueException": {
      "documentation": "<p>An invalid or out-of-range value was supplied for the input parameter.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "LastRefreshTimestamp": {
      "type": "timestamp"
    },
    "LookBackPeriodInDays": {
      "type": "double"
    },
    "MaxResults": {
      "box": true,
      "type": "integer"
    },
    "MaxSize": {
      "type": "integer"
    },
    "MemberAccountsEnrolled": {
      "type": "boolean"
    },
    "Message": {
      "type": "string"
    },
    "MetricName": {
      "enum": [
        "Cpu",
        "Memory"
      ],
      "type": "string"
    },
    "MetricStatistic": {
      "enum": [
        "Maximum",
        "Average"
      ],
      "type": "string"
    },
    "MetricValue": {
      "type": "double"
    },
    "MetricValues": {
      "member": {
        "shape": "MetricValue"
      },
      "type": "list"
    },
    "MinSize": {
      "type": "integer"
    },
    "MissingAuthenticationToken": {
      "documentation": "<p>The request must contain either a valid (registered) AWS access key ID or X.509 certificate.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "NextToken": {
      "type": "string"
    },
    "OptInRequiredException": {
      "documentation": "<p>You must opt in to the service to perform this action.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "PerformanceRisk": {
      "max": 5,
      "min": 0,
      "type": "double"
    },
    "Period": {
      "type": "integer"
    },
    "ProjectedMetric": {
      "documentation": "<p>Describes a projected utilization metric of a recommendation option, such as an Amazon EC2 instance.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the projected utilization metric.</p> <note> <p>Memory metrics are only returned for resources that have the unified CloudWatch agent installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Install-CloudWatch-Agent.html\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p> </note>",
          "shape": "MetricName"
        },
        "timestamps": {
          "documentation": "<p>The time stamps of the projected utilization metric.</p>",
          "shape": "Timestamps"
        },
        "values": {
          "documentation": "<p>The values of the projected utilization metrics.</p>",
          "shape": "MetricValues"
        }
      },
      "type": "structure"
    },
    "ProjectedMetrics": {
      "member": {
        "shape": "ProjectedMetric"
      },
      "type": "list"
    },
    "ProjectedUtilizationMetrics": {
      "member": {
        "shape": "UtilizationMetric"
      },
      "type": "list"
    },
    "Rank": {
      "type": "integer"
    },
    "RecommendationOptions": {
      "member": {
        "shape": "InstanceRecommendationOption"
      },
      "type": "list"
    },
    "RecommendationSource": {
      "documentation": "<p>Describes the source of a recommendation, such as an Amazon EC2 instance or Auto Scaling group.</p>",
      "members": {
        "recommendationSourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the recommendation source.</p>",
          "shape": "RecommendationSourceArn"
        },
        "recommendationSourceType": {
          "documentation": "<p>The resource type of the recommendation source.</p>",
          "shape": "RecommendationSourceType"
        }
      },
      "type": "structure"
    },
    "RecommendationSourceArn": {
      "type": "string"
    },
    "RecommendationSourceType": {
      "enum": [
        "Ec2Instance",
        "AutoScalingGroup"
      ],
      "type": "string"
    },
    "RecommendationSources": {
      "member": {
        "shape": "RecommendationSource"
      },
      "type": "list"
    },
    "RecommendationSummaries": {
      "member": {
        "shape": "RecommendationSummary"
      },
      "type": "list"
    },
    "RecommendationSummary": {
      "documentation": "<p>A summary of a recommendation.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The AWS account ID of the recommendation summary.</p>",
          "shape": "AccountId"
        },
        "recommendationResourceType": {
          "documentation": "<p>The resource type of the recommendation.</p>",
          "shape": "RecommendationSourceType"
        },
        "summaries": {
          "documentation": "<p>An array of objects that describe a recommendation summary.</p>",
          "shape": "Summaries"
        }
      },
      "type": "structure"
    },
    "RecommendedInstanceType": {
      "type": "string"
    },
    "RecommendedOptionProjectedMetric": {
      "documentation": "<p>Describes a projected utilization metric of a recommendation option.</p>",
      "members": {
        "projectedMetrics": {
          "documentation": "<p>An array of objects that describe a projected utilization metric.</p>",
          "shape": "ProjectedMetrics"
        },
        "rank": {
          "documentation": "<p>The rank of the recommendation option projected metric.</p> <p>The top recommendation option is ranked as <code>1</code>.</p> <p>The projected metric rank correlates to the recommendation option rank. For example, the projected metric ranked as <code>1</code> is related to the recommendation option that is also ranked as <code>1</code> in the same response.</p>",
          "shape": "Rank"
        },
        "recommendedInstanceType": {
          "documentation": "<p>The recommended instance type.</p>",
          "shape": "RecommendedInstanceType"
        }
      },
      "type": "structure"
    },
    "RecommendedOptionProjectedMetrics": {
      "member": {
        "shape": "RecommendedOptionProjectedMetric"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource was not found.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The request has failed due to a temporary failure of the server.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Status": {
      "enum": [
        "Active",
        "Inactive",
        "Pending",
        "Failed"
      ],
      "type": "string"
    },
    "StatusReason": {
      "type": "string"
    },
    "Summaries": {
      "member": {
        "shape": "Summary"
      },
      "type": "list"
    },
    "Summary": {
      "documentation": "<p>The summary of a recommendation.</p>",
      "members": {
        "name": {
          "documentation": "<p>The finding classification of the recommendation.</p>",
          "shape": "Finding"
        },
        "value": {
          "documentation": "<p>The value of the recommendation summary.</p>",
          "shape": "SummaryValue"
        }
      },
      "type": "structure"
    },
    "SummaryValue": {
      "type": "double"
    },
    "ThrottlingException": {
      "documentation": "<p>The limit on the number of requests per second was exceeded.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message"
      ],
      "synthetic": true,
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Timestamps": {
      "member": {
        "shape": "Timestamp"
      },
      "type": "list"
    },
    "UpdateEnrollmentStatusRequest": {
      "members": {
        "includeMemberAccounts": {
          "documentation": "<p>Indicates whether to enroll member accounts within the organization, if the account is a master account of an organization.</p>",
          "shape": "IncludeMemberAccounts"
        },
        "status": {
          "documentation": "<p>The new enrollment status of the account.</p> <p>Accepted options are <code>Active</code> or <code>Inactive</code>. You will get an error if <code>Pending</code> or <code>Failed</code> are specified.</p>",
          "shape": "Status"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "UpdateEnrollmentStatusResponse": {
      "members": {
        "status": {
          "documentation": "<p>The enrollment status of the account.</p>",
          "shape": "Status"
        },
        "statusReason": {
          "documentation": "<p>The reason for the enrollment status of the account. For example, an account might show a status of <code>Pending</code> because member accounts of an organization require more time to be enrolled in the service.</p>",
          "shape": "StatusReason"
        }
      },
      "type": "structure"
    },
    "UtilizationMetric": {
      "documentation": "<p>Describes a utilization metric of a resource, such as an Amazon EC2 instance.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the utilization metric.</p> <note> <p>Memory metrics are only returned for resources that have the unified CloudWatch agent installed on them. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/Install-CloudWatch-Agent.html\">Enabling Memory Utilization with the CloudWatch Agent</a>.</p> </note>",
          "shape": "MetricName"
        },
        "statistic": {
          "documentation": "<p>The statistic of the utilization metric.</p>",
          "shape": "MetricStatistic"
        },
        "value": {
          "documentation": "<p>The value of the utilization metric.</p>",
          "shape": "MetricValue"
        }
      },
      "type": "structure"
    },
    "UtilizationMetrics": {
      "member": {
        "shape": "UtilizationMetric"
      },
      "type": "list"
    }
  },
  "version": "2.0"
}
