{
  "documentation": "<p> Amazon Comprehend Medical extracts structured information from unstructured clinical text. Use these actions to gain insight in your documents. </p>",
  "metadata": {
    "apiVersion": "2018-10-30",
    "endpointPrefix": "comprehendmedical",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "ComprehendMedical",
    "serviceFullName": "AWS Comprehend Medical",
    "serviceId": "ComprehendMedical",
    "signatureVersion": "v4",
    "signingName": "comprehendmedical",
    "targetPrefix": "ComprehendMedical_20181030",
    "uid": "comprehendmedical-2018-10-30"
  },
  "operations": {
    "DescribeEntitiesDetectionV2Job": {
      "documentation": "<p>Gets the properties associated with a medical entities detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEntitiesDetectionV2JobRequest"
      },
      "name": "DescribeEntitiesDetectionV2Job",
      "output": {
        "shape": "DescribeEntitiesDetectionV2JobResponse"
      }
    },
    "DescribePHIDetectionJob": {
      "documentation": "<p>Gets the properties associated with a protected health information (PHI) detection job. Use this operation to get the status of a detection job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePHIDetectionJobRequest"
      },
      "name": "DescribePHIDetectionJob",
      "output": {
        "shape": "DescribePHIDetectionJobResponse"
      }
    },
    "DetectEntities": {
      "deprecated": true,
      "deprecatedMessage": "This operation is deprecated, use DetectEntitiesV2 instead.",
      "documentation": "<p>The <code>DetectEntities</code> operation is deprecated. You should use the <a>DetectEntitiesV2</a> operation instead.</p> <p> Inspects the clinical text for a variety of medical entities and returns specific information about them such as entity category, location, and confidence score on that information .</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidEncodingException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectEntitiesRequest"
      },
      "name": "DetectEntities",
      "output": {
        "shape": "DetectEntitiesResponse"
      }
    },
    "DetectEntitiesV2": {
      "documentation": "<p>Inspects the clinical text for a variety of medical entities and returns specific information about them such as entity category, location, and confidence score on that information. Amazon Comprehend Medical only detects medical entities in English language texts.</p> <p>The <code>DetectEntitiesV2</code> operation replaces the <a>DetectEntities</a> operation. This new action uses a different model for determining the entities in your medical text and changes the way that some entities are returned in the output. You should use the <code>DetectEntitiesV2</code> operation in all new applications.</p> <p>The <code>DetectEntitiesV2</code> operation returns the <code>Acuity</code> and <code>Direction</code> entities as attributes instead of types. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidEncodingException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectEntitiesV2Request"
      },
      "name": "DetectEntitiesV2",
      "output": {
        "shape": "DetectEntitiesV2Response"
      }
    },
    "DetectPHI": {
      "documentation": "<p> Inspects the clinical text for protected health information (PHI) entities and returns the entity category, location, and confidence score for each entity. Amazon Comprehend Medical only detects entities in English language texts.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidEncodingException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectPHIRequest"
      },
      "name": "DetectPHI",
      "output": {
        "shape": "DetectPHIResponse"
      }
    },
    "InferICD10CM": {
      "documentation": "<p>InferICD10CM detects medical conditions as entities listed in a patient record and links those entities to normalized concept identifiers in the ICD-10-CM knowledge base from the Centers for Disease Control. Amazon Comprehend Medical only detects medical entities in English language texts.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidEncodingException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InferICD10CMRequest"
      },
      "name": "InferICD10CM",
      "output": {
        "shape": "InferICD10CMResponse"
      }
    },
    "InferRxNorm": {
      "documentation": "<p>InferRxNorm detects medications as entities listed in a patient record and links to the normalized concept identifiers in the RxNorm database from the National Library of Medicine. Amazon Comprehend Medical only detects medical entities in English language texts.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidEncodingException"
        },
        {
          "shape": "TextSizeLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InferRxNormRequest"
      },
      "name": "InferRxNorm",
      "output": {
        "shape": "InferRxNormResponse"
      }
    },
    "ListEntitiesDetectionV2Jobs": {
      "documentation": "<p>Gets a list of medical entity detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEntitiesDetectionV2JobsRequest"
      },
      "name": "ListEntitiesDetectionV2Jobs",
      "output": {
        "shape": "ListEntitiesDetectionV2JobsResponse"
      }
    },
    "ListPHIDetectionJobs": {
      "documentation": "<p>Gets a list of protected health information (PHI) detection jobs that you have submitted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPHIDetectionJobsRequest"
      },
      "name": "ListPHIDetectionJobs",
      "output": {
        "shape": "ListPHIDetectionJobsResponse"
      }
    },
    "StartEntitiesDetectionV2Job": {
      "documentation": "<p>Starts an asynchronous medical entity detection job for a collection of documents. Use the <code>DescribeEntitiesDetectionV2Job</code> operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartEntitiesDetectionV2JobRequest"
      },
      "name": "StartEntitiesDetectionV2Job",
      "output": {
        "shape": "StartEntitiesDetectionV2JobResponse"
      }
    },
    "StartPHIDetectionJob": {
      "documentation": "<p>Starts an asynchronous job to detect protected health information (PHI). Use the <code>DescribePHIDetectionJob</code> operation to track the status of a job.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartPHIDetectionJobRequest"
      },
      "name": "StartPHIDetectionJob",
      "output": {
        "shape": "StartPHIDetectionJobResponse"
      }
    },
    "StopEntitiesDetectionV2Job": {
      "documentation": "<p>Stops a medical entities detection job in progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopEntitiesDetectionV2JobRequest"
      },
      "name": "StopEntitiesDetectionV2Job",
      "output": {
        "shape": "StopEntitiesDetectionV2JobResponse"
      }
    },
    "StopPHIDetectionJob": {
      "documentation": "<p>Stops a protected health information (PHI) detection job in progress.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopPHIDetectionJobRequest"
      },
      "name": "StopPHIDetectionJob",
      "output": {
        "shape": "StopPHIDetectionJobResponse"
      }
    }
  },
  "shapes": {
    "AnyLengthString": {
      "type": "string"
    },
    "Attribute": {
      "documentation": "<p> An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the dosage of a medication taken. It contains information about the attribute such as id, begin and end offset within the input text, and the segment of the input text. </p>",
      "members": {
        "BeginOffset": {
          "documentation": "<p> The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string. </p>",
          "shape": "Integer"
        },
        "Category": {
          "documentation": "<p> The category of attribute. </p>",
          "shape": "EntityType"
        },
        "EndOffset": {
          "documentation": "<p> The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "Id": {
          "documentation": "<p> The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
          "shape": "Integer"
        },
        "RelationshipScore": {
          "documentation": "<p> The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity. </p>",
          "shape": "Float"
        },
        "RelationshipType": {
          "documentation": "<p>The type of relationship between the entity and attribute. Type for the relationship is <code>OVERLAP</code>, indicating that the entity occurred at the same time as the <code>Date_Expression</code>. </p>",
          "shape": "RelationshipType"
        },
        "Score": {
          "documentation": "<p> The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute. </p>",
          "shape": "Float"
        },
        "Text": {
          "documentation": "<p> The segment of input text extracted as this attribute.</p>",
          "shape": "String"
        },
        "Traits": {
          "documentation": "<p> Contextual information for this attribute. </p>",
          "shape": "TraitList"
        },
        "Type": {
          "documentation": "<p> The type of attribute. </p>",
          "shape": "EntitySubType"
        }
      },
      "type": "structure"
    },
    "AttributeList": {
      "member": {
        "shape": "Attribute"
      },
      "type": "list"
    },
    "AttributeName": {
      "enum": [
        "SIGN",
        "SYMPTOM",
        "DIAGNOSIS",
        "NEGATION"
      ],
      "type": "string"
    },
    "BoundedLengthString": {
      "max": 20000,
      "min": 1,
      "type": "string"
    },
    "ClientRequestTokenString": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "ComprehendMedicalAsyncJobFilter": {
      "documentation": "<p>Provides information for filtering a list of detection jobs.</p>",
      "members": {
        "JobName": {
          "documentation": "<p>Filters on the name of the job.</p>",
          "shape": "JobName"
        },
        "JobStatus": {
          "documentation": "<p>Filters the list of jobs based on job status. Returns only jobs with the specified status.</p>",
          "shape": "JobStatus"
        },
        "SubmitTimeAfter": {
          "documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted after the specified time. Jobs are returned in descending order, newest to oldest.</p>",
          "shape": "Timestamp"
        },
        "SubmitTimeBefore": {
          "documentation": "<p>Filters the list of jobs based on the time that the job was submitted for processing. Returns only jobs submitted before the specified time. Jobs are returned in ascending order, oldest to newest.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ComprehendMedicalAsyncJobProperties": {
      "documentation": "<p>Provides information about a detection job.</p>",
      "members": {
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that gives Amazon Comprehend Medical read access to your input data.</p>",
          "shape": "IamRoleArn"
        },
        "EndTime": {
          "documentation": "<p>The time that the detection job completed.</p>",
          "shape": "Timestamp"
        },
        "ExpirationTime": {
          "documentation": "<p>The date and time that job metadata is deleted from the server. Output files in your S3 bucket will not be deleted. After the metadata is deleted, the job will no longer appear in the results of the <code>ListEntitiesDetectionV2Job</code> or the <code>ListPHIDetectionJobs</code> operation.</p>",
          "shape": "Timestamp"
        },
        "InputDataConfig": {
          "documentation": "<p>The input data configuration that you supplied when you created the detection job.</p>",
          "shape": "InputDataConfig"
        },
        "JobId": {
          "documentation": "<p>The identifier assigned to the detection job.</p>",
          "shape": "JobId"
        },
        "JobName": {
          "documentation": "<p>The name that you assigned to the detection job.</p>",
          "shape": "JobName"
        },
        "JobStatus": {
          "documentation": "<p>The current status of the detection job. If the status is <code>FAILED</code>, the <code>Message</code> field shows the reason for the failure.</p>",
          "shape": "JobStatus"
        },
        "KMSKey": {
          "documentation": "<p>The AWS Key Management Service key, if any, used to encrypt the output files. </p>",
          "shape": "KMSKey"
        },
        "LanguageCode": {
          "documentation": "<p>The language code of the input documents.</p>",
          "shape": "LanguageCode"
        },
        "ManifestFilePath": {
          "documentation": "<p>The path to the file that describes the results of a batch job.</p>",
          "shape": "ManifestFilePath"
        },
        "Message": {
          "documentation": "<p>A description of the status of a job.</p>",
          "shape": "AnyLengthString"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used to analyze the documents. The version number looks like X.X.X. You can use this information to track the model used for a particular batch of documents.</p>",
          "shape": "ModelVersion"
        },
        "OutputDataConfig": {
          "documentation": "<p>The output data configuration that you supplied when you created the detection job.</p>",
          "shape": "OutputDataConfig"
        },
        "SubmitTime": {
          "documentation": "<p>The time that the detection job was submitted for processing.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "ComprehendMedicalAsyncJobPropertiesList": {
      "member": {
        "shape": "ComprehendMedicalAsyncJobProperties"
      },
      "type": "list"
    },
    "DescribeEntitiesDetectionV2JobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. The <code>StartEntitiesDetectionV2Job</code> operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeEntitiesDetectionV2JobResponse": {
      "members": {
        "ComprehendMedicalAsyncJobProperties": {
          "documentation": "<p>An object that contains the properties associated with a detection job.</p>",
          "shape": "ComprehendMedicalAsyncJobProperties"
        }
      },
      "type": "structure"
    },
    "DescribePHIDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier that Amazon Comprehend Medical generated for the job. The <code>StartPHIDetectionJob</code> operation returns this identifier in its response.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "DescribePHIDetectionJobResponse": {
      "members": {
        "ComprehendMedicalAsyncJobProperties": {
          "documentation": "<p>An object that contains the properties associated with a detection job.</p>",
          "shape": "ComprehendMedicalAsyncJobProperties"
        }
      },
      "type": "structure"
    },
    "DetectEntitiesRequest": {
      "members": {
        "Text": {
          "documentation": "<p> A UTF-8 text string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Text"
      ],
      "type": "structure"
    },
    "DetectEntitiesResponse": {
      "members": {
        "Entities": {
          "documentation": "<p> The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Amazon Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned.</p>",
          "shape": "EntityList"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used to analyze the documents. The version number looks like X.X.X. You can use this information to track the model used for a particular batch of documents.</p>",
          "shape": "String"
        },
        "PaginationToken": {
          "documentation": "<p> If the result of the previous request to <code>DetectEntities</code> was truncated, include the <code>PaginationToken</code> to fetch the next page of entities.</p>",
          "shape": "String"
        },
        "UnmappedAttributes": {
          "documentation": "<p> Attributes extracted from the input text that we were unable to relate to an entity.</p>",
          "shape": "UnmappedAttributeList"
        }
      },
      "required": [
        "Entities",
        "ModelVersion"
      ],
      "type": "structure"
    },
    "DetectEntitiesV2Request": {
      "members": {
        "Text": {
          "documentation": "<p>A UTF-8 string containing the clinical content being examined for entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Text"
      ],
      "type": "structure"
    },
    "DetectEntitiesV2Response": {
      "members": {
        "Entities": {
          "documentation": "<p>The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence in the detection and analysis. Attributes and traits of the entity are also returned.</p>",
          "shape": "EntityList"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used to analyze the documents. The version number looks like X.X.X. You can use this information to track the model used for a particular batch of documents.</p>",
          "shape": "String"
        },
        "PaginationToken": {
          "documentation": "<p>If the result to the <code>DetectEntitiesV2</code> operation was truncated, include the <code>PaginationToken</code> to fetch the next page of entities.</p>",
          "shape": "String"
        },
        "UnmappedAttributes": {
          "documentation": "<p>Attributes extracted from the input text that couldn't be related to an entity.</p>",
          "shape": "UnmappedAttributeList"
        }
      },
      "required": [
        "Entities",
        "ModelVersion"
      ],
      "type": "structure"
    },
    "DetectPHIRequest": {
      "members": {
        "Text": {
          "documentation": "<p> A UTF-8 text string containing the clinical content being examined for PHI entities. Each string must contain fewer than 20,000 bytes of characters.</p>",
          "shape": "BoundedLengthString"
        }
      },
      "required": [
        "Text"
      ],
      "type": "structure"
    },
    "DetectPHIResponse": {
      "members": {
        "Entities": {
          "documentation": "<p> The collection of PHI entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Amazon Comprehend Medical has in its detection. </p>",
          "shape": "EntityList"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used to analyze the documents. The version number looks like X.X.X. You can use this information to track the model used for a particular batch of documents.</p>",
          "shape": "String"
        },
        "PaginationToken": {
          "documentation": "<p> If the result of the previous request to <code>DetectPHI</code> was truncated, include the <code>PaginationToken</code> to fetch the next page of PHI entities. </p>",
          "shape": "String"
        }
      },
      "required": [
        "Entities",
        "ModelVersion"
      ],
      "type": "structure"
    },
    "Entity": {
      "documentation": "<p> Provides information about an extracted medical entity.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p> The extracted attributes that relate to this entity.</p>",
          "shape": "AttributeList"
        },
        "BeginOffset": {
          "documentation": "<p> The 0-based character offset in the input text that shows where the entity begins. The offset returns the UTF-8 code point in the string. </p>",
          "shape": "Integer"
        },
        "Category": {
          "documentation": "<p> The category of the entity.</p>",
          "shape": "EntityType"
        },
        "EndOffset": {
          "documentation": "<p> The 0-based character offset in the input text that shows where the entity ends. The offset returns the UTF-8 code point in the string. </p>",
          "shape": "Integer"
        },
        "Id": {
          "documentation": "<p> The numeric identifier for the entity. This is a monotonically increasing id unique within this response rather than a global unique identifier. </p>",
          "shape": "Integer"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detection.</p>",
          "shape": "Float"
        },
        "Text": {
          "documentation": "<p> The segment of input text extracted as this entity.</p>",
          "shape": "String"
        },
        "Traits": {
          "documentation": "<p>Contextual information for the entity.</p>",
          "shape": "TraitList"
        },
        "Type": {
          "documentation": "<p> Describes the specific type of entity with category of entities.</p>",
          "shape": "EntitySubType"
        }
      },
      "type": "structure"
    },
    "EntityList": {
      "member": {
        "shape": "Entity"
      },
      "type": "list"
    },
    "EntitySubType": {
      "enum": [
        "NAME",
        "DOSAGE",
        "ROUTE_OR_MODE",
        "FORM",
        "FREQUENCY",
        "DURATION",
        "GENERIC_NAME",
        "BRAND_NAME",
        "STRENGTH",
        "RATE",
        "ACUITY",
        "TEST_NAME",
        "TEST_VALUE",
        "TEST_UNITS",
        "PROCEDURE_NAME",
        "TREATMENT_NAME",
        "DATE",
        "AGE",
        "CONTACT_POINT",
        "EMAIL",
        "IDENTIFIER",
        "URL",
        "ADDRESS",
        "PROFESSION",
        "SYSTEM_ORGAN_SITE",
        "DIRECTION",
        "QUALITY",
        "QUANTITY",
        "TIME_EXPRESSION",
        "TIME_TO_MEDICATION_NAME",
        "TIME_TO_DX_NAME",
        "TIME_TO_TEST_NAME",
        "TIME_TO_PROCEDURE_NAME",
        "TIME_TO_TREATMENT_NAME"
      ],
      "type": "string"
    },
    "EntityType": {
      "enum": [
        "MEDICATION",
        "MEDICAL_CONDITION",
        "PROTECTED_HEALTH_INFORMATION",
        "TEST_TREATMENT_PROCEDURE",
        "ANATOMY",
        "TIME_EXPRESSION"
      ],
      "type": "string"
    },
    "Float": {
      "type": "float"
    },
    "ICD10CMAttribute": {
      "documentation": "<p>The detected attributes that relate to an entity. This includes an extracted segment of the text that is an attribute of an entity, or otherwise related to an entity. InferICD10CM detects the following attributes: <code>Direction</code>, <code>System, Organ or Site</code>, and <code>Acuity</code>.</p>",
      "members": {
        "BeginOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "EndOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "Id": {
          "documentation": "<p>The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.</p>",
          "shape": "Integer"
        },
        "RelationshipScore": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has that this attribute is correctly related to this entity.</p>",
          "shape": "Float"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as an attribute.</p>",
          "shape": "Float"
        },
        "Text": {
          "documentation": "<p>The segment of input text which contains the detected attribute.</p>",
          "shape": "String"
        },
        "Traits": {
          "documentation": "<p>The contextual information for the attribute. The traits recognized by InferICD10CM are <code>DIAGNOSIS</code>, <code>SIGN</code>, <code>SYMPTOM</code>, and <code>NEGATION</code>.</p>",
          "shape": "ICD10CMTraitList"
        },
        "Type": {
          "documentation": "<p>The type of attribute. InferICD10CM detects entities of the type <code>DX_NAME</code>. </p>",
          "shape": "ICD10CMAttributeType"
        }
      },
      "type": "structure"
    },
    "ICD10CMAttributeList": {
      "member": {
        "shape": "ICD10CMAttribute"
      },
      "type": "list"
    },
    "ICD10CMAttributeType": {
      "enum": [
        "ACUITY",
        "DIRECTION",
        "SYSTEM_ORGAN_SITE",
        "QUALITY",
        "QUANTITY"
      ],
      "type": "string"
    },
    "ICD10CMConcept": {
      "documentation": "<p> The ICD-10-CM concepts that the entity could refer to, along with a score indicating the likelihood of the match.</p>",
      "members": {
        "Code": {
          "documentation": "<p>The ICD-10-CM code that identifies the concept found in the knowledge base from the Centers for Disease Control.</p>",
          "shape": "String"
        },
        "Description": {
          "documentation": "<p>The long description of the ICD-10-CM code in the ontology.</p>",
          "shape": "String"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the entity is accurately linked to an ICD-10-CM concept.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "ICD10CMConceptList": {
      "member": {
        "shape": "ICD10CMConcept"
      },
      "type": "list"
    },
    "ICD10CMEntity": {
      "documentation": "<p>The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Amazon Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned. </p>",
      "members": {
        "Attributes": {
          "documentation": "<p>The detected attributes that relate to the entity. An extracted segment of the text that is an attribute of an entity, or otherwise related to an entity, such as the nature of a medical condition.</p>",
          "shape": "ICD10CMAttributeList"
        },
        "BeginOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the entity begins. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "Category": {
          "documentation": "<p> The category of the entity. InferICD10CM detects entities in the <code>MEDICAL_CONDITION</code> category. </p>",
          "shape": "ICD10CMEntityCategory"
        },
        "EndOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the entity ends. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "ICD10CMConcepts": {
          "documentation": "<p>The ICD-10-CM concepts that the entity could refer to, along with a score indicating the likelihood of the match.</p>",
          "shape": "ICD10CMConceptList"
        },
        "Id": {
          "documentation": "<p>The numeric identifier for the entity. This is a monotonically increasing id unique within this response rather than a global unique identifier.</p>",
          "shape": "Integer"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detection.</p>",
          "shape": "Float"
        },
        "Text": {
          "documentation": "<p>The segment of input text that is matched to the detected entity.</p>",
          "shape": "OntologyLinkingBoundedLengthString"
        },
        "Traits": {
          "documentation": "<p>Provides Contextual information for the entity. The traits recognized by InferICD10CM are <code>DIAGNOSIS</code>, <code>SIGN</code>, <code>SYMPTOM</code>, and <code>NEGATION.</code> </p>",
          "shape": "ICD10CMTraitList"
        },
        "Type": {
          "documentation": "<p>Describes the specific type of entity with category of entities. InferICD10CM detects entities of the type <code>DX_NAME</code>.</p>",
          "shape": "ICD10CMEntityType"
        }
      },
      "type": "structure"
    },
    "ICD10CMEntityCategory": {
      "enum": [
        "MEDICAL_CONDITION"
      ],
      "type": "string"
    },
    "ICD10CMEntityList": {
      "member": {
        "shape": "ICD10CMEntity"
      },
      "type": "list"
    },
    "ICD10CMEntityType": {
      "enum": [
        "DX_NAME"
      ],
      "type": "string"
    },
    "ICD10CMTrait": {
      "documentation": "<p>Contextual information for the entity. The traits recognized by InferICD10CM are <code>DIAGNOSIS</code>, <code>SIGN</code>, <code>SYMPTOM</code>, and <code>NEGATION</code>.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Provides a name or contextual description about the trait.</p>",
          "shape": "ICD10CMTraitName"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the segment of text is correctly recognized as a trait.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "ICD10CMTraitList": {
      "member": {
        "shape": "ICD10CMTrait"
      },
      "type": "list"
    },
    "ICD10CMTraitName": {
      "enum": [
        "NEGATION",
        "DIAGNOSIS",
        "SIGN",
        "SYMPTOM"
      ],
      "type": "string"
    },
    "IamRoleArn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+",
      "type": "string"
    },
    "InferICD10CMRequest": {
      "members": {
        "Text": {
          "documentation": "<p>The input text used for analysis. The input for InferICD10CM is a string from 1 to 10000 characters.</p>",
          "shape": "OntologyLinkingBoundedLengthString"
        }
      },
      "required": [
        "Text"
      ],
      "type": "structure"
    },
    "InferICD10CMResponse": {
      "members": {
        "Entities": {
          "documentation": "<p>The medical conditions detected in the text linked to ICD-10-CM concepts. If the action is successful, the service sends back an HTTP 200 response, as well as the entities detected.</p>",
          "shape": "ICD10CMEntityList"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used to analyze the documents, in the format <i>n</i>.<i>n</i>.<i>n</i> You can use this information to track the model used for a particular batch of documents.</p>",
          "shape": "String"
        },
        "PaginationToken": {
          "documentation": "<p>If the result of the previous request to <code>InferICD10CM</code> was truncated, include the <code>PaginationToken</code> to fetch the next page of medical condition entities. </p>",
          "shape": "String"
        }
      },
      "required": [
        "Entities"
      ],
      "type": "structure"
    },
    "InferRxNormRequest": {
      "members": {
        "Text": {
          "documentation": "<p>The input text used for analysis. The input for InferRxNorm is a string from 1 to 10000 characters.</p>",
          "shape": "OntologyLinkingBoundedLengthString"
        }
      },
      "required": [
        "Text"
      ],
      "type": "structure"
    },
    "InferRxNormResponse": {
      "members": {
        "Entities": {
          "documentation": "<p>The medication entities detected in the text linked to RxNorm concepts. If the action is successful, the service sends back an HTTP 200 response, as well as the entities detected.</p>",
          "shape": "RxNormEntityList"
        },
        "ModelVersion": {
          "documentation": "<p>The version of the model used to analyze the documents, in the format <i>n</i>.<i>n</i>.<i>n</i> You can use this information to track the model used for a particular batch of documents.</p>",
          "shape": "String"
        },
        "PaginationToken": {
          "documentation": "<p>If the result of the previous request to <code>InferRxNorm</code> was truncated, include the <code>PaginationToken</code> to fetch the next page of medication entities.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Entities"
      ],
      "type": "structure"
    },
    "InputDataConfig": {
      "documentation": "<p>The input properties for an entities detection job.</p>",
      "members": {
        "S3Bucket": {
          "documentation": "<p>The URI of the S3 bucket that contains the input data. The bucket must be in the same region as the API endpoint that you are calling.</p> <p>Each file in the document collection must be less than 40 KB. You can store a maximum of 30 GB in the bucket.</p>",
          "shape": "S3Bucket"
        },
        "S3Key": {
          "documentation": "<p>The path to the input data files in the S3 bucket.</p>",
          "shape": "S3Key"
        }
      },
      "required": [
        "S3Bucket"
      ],
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalServerException": {
      "documentation": "<p> An internal server error occurred. Retry your request. </p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidEncodingException": {
      "documentation": "<p> The input text was not in valid UTF-8 character encoding. Check your text then retry your request.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p> The request that you made is invalid. Check your request to determine why it's invalid and then retry the request.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "JobId": {
      "max": 32,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobName": {
      "max": 256,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$",
      "type": "string"
    },
    "JobStatus": {
      "enum": [
        "SUBMITTED",
        "IN_PROGRESS",
        "COMPLETED",
        "PARTIAL_SUCCESS",
        "FAILED",
        "STOP_REQUESTED",
        "STOPPED"
      ],
      "type": "string"
    },
    "KMSKey": {
      "max": 2048,
      "min": 1,
      "pattern": ".*",
      "type": "string"
    },
    "LanguageCode": {
      "enum": [
        "en"
      ],
      "type": "string"
    },
    "ListEntitiesDetectionV2JobsRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters the jobs that are returned. You can filter jobs based on their names, status, or the date and time that they were submitted. You can only set one filter at a time.</p>",
          "shape": "ComprehendMedicalAsyncJobFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in each page. The default is 100.</p>",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>Identifies the next page of results to return.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListEntitiesDetectionV2JobsResponse": {
      "members": {
        "ComprehendMedicalAsyncJobPropertiesList": {
          "documentation": "<p>A list containing the properties of each job returned.</p>",
          "shape": "ComprehendMedicalAsyncJobPropertiesList"
        },
        "NextToken": {
          "documentation": "<p>Identifies the next page of results to return.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListPHIDetectionJobsRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters the jobs that are returned. You can filter jobs based on their names, status, or the date and time that they were submitted. You can only set one filter at a time.</p>",
          "shape": "ComprehendMedicalAsyncJobFilter"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in each page. The default is 100.</p>",
          "shape": "MaxResultsInteger"
        },
        "NextToken": {
          "documentation": "<p>Identifies the next page of results to return.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListPHIDetectionJobsResponse": {
      "members": {
        "ComprehendMedicalAsyncJobPropertiesList": {
          "documentation": "<p>A list containing the properties of each job returned.</p>",
          "shape": "ComprehendMedicalAsyncJobPropertiesList"
        },
        "NextToken": {
          "documentation": "<p>Identifies the next page of results to return.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ManifestFilePath": {
      "max": 4096,
      "min": 1,
      "type": "string"
    },
    "MaxResultsInteger": {
      "max": 500,
      "min": 1,
      "type": "integer"
    },
    "ModelVersion": {
      "type": "string"
    },
    "OntologyLinkingBoundedLengthString": {
      "max": 10000,
      "min": 1,
      "type": "string"
    },
    "OutputDataConfig": {
      "documentation": "<p>The output properties for a detection job.</p>",
      "members": {
        "S3Bucket": {
          "documentation": "<p>When you use the <code>OutputDataConfig</code> object with asynchronous operations, you specify the Amazon S3 location where you want to write the output data. The URI must be in the same region as the API endpoint that you are calling. The location is used as the prefix for the actual location of the output.</p>",
          "shape": "S3Bucket"
        },
        "S3Key": {
          "documentation": "<p>The path to the output data files in the S3 bucket. Amazon Comprehend Medical creates an output directory using the job ID so that the output from one job does not overwrite the output of another.</p>",
          "shape": "S3Key"
        }
      },
      "required": [
        "S3Bucket"
      ],
      "type": "structure"
    },
    "RelationshipType": {
      "enum": [
        "EVERY",
        "WITH_DOSAGE",
        "ADMINISTERED_VIA",
        "FOR",
        "NEGATIVE",
        "OVERLAP",
        "DOSAGE",
        "ROUTE_OR_MODE",
        "FORM",
        "FREQUENCY",
        "DURATION",
        "STRENGTH",
        "RATE",
        "ACUITY",
        "TEST_VALUE",
        "TEST_UNITS",
        "DIRECTION"
      ],
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource identified by the specified Amazon Resource Name (ARN) was not found. Check the ARN and try your request again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "RxNormAttribute": {
      "documentation": "<p>The extracted attributes that relate to this entity. The attributes recognized by InferRxNorm are <code>DOSAGE</code>, <code>DURATION</code>, <code>FORM</code>, <code>FREQUENCY</code>, <code>RATE</code>, <code>ROUTE_OR_MODE</code>.</p>",
      "members": {
        "BeginOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the attribute begins. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "EndOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the attribute ends. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "Id": {
          "documentation": "<p>The numeric identifier for this attribute. This is a monotonically increasing id unique within this response rather than a global unique identifier.</p>",
          "shape": "Integer"
        },
        "RelationshipScore": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the attribute is accurately linked to an entity.</p>",
          "shape": "Float"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Comprehend Medical has that the segment of text is correctly recognized as an attribute.</p>",
          "shape": "Float"
        },
        "Text": {
          "documentation": "<p>The segment of input text which corresponds to the detected attribute.</p>",
          "shape": "String"
        },
        "Traits": {
          "documentation": "<p>Contextual information for the attribute. InferRxNorm recognizes the trait <code>NEGATION</code> for attributes, i.e. that the patient is not taking a specific dose or form of a medication.</p>",
          "shape": "RxNormTraitList"
        },
        "Type": {
          "documentation": "<p>The type of attribute. The types of attributes recognized by InferRxNorm are <code>BRAND_NAME</code> and <code>GENERIC_NAME</code>.</p>",
          "shape": "RxNormAttributeType"
        }
      },
      "type": "structure"
    },
    "RxNormAttributeList": {
      "member": {
        "shape": "RxNormAttribute"
      },
      "type": "list"
    },
    "RxNormAttributeType": {
      "enum": [
        "DOSAGE",
        "DURATION",
        "FORM",
        "FREQUENCY",
        "RATE",
        "ROUTE_OR_MODE",
        "STRENGTH"
      ],
      "type": "string"
    },
    "RxNormConcept": {
      "documentation": "<p>The RxNorm concept that the entity could refer to, along with a score indicating the likelihood of the match.</p>",
      "members": {
        "Code": {
          "documentation": "<p>RxNorm concept ID, also known as the RxCUI.</p>",
          "shape": "String"
        },
        "Description": {
          "documentation": "<p>The description of the RxNorm concept.</p>",
          "shape": "String"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has that the entity is accurately linked to the reported RxNorm concept.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "RxNormConceptList": {
      "member": {
        "shape": "RxNormConcept"
      },
      "type": "list"
    },
    "RxNormEntity": {
      "documentation": "<p>The collection of medical entities extracted from the input text and their associated information. For each entity, the response provides the entity text, the entity category, where the entity text begins and ends, and the level of confidence that Amazon Comprehend Medical has in the detection and analysis. Attributes and traits of the entity are also returned. </p>",
      "members": {
        "Attributes": {
          "documentation": "<p>The extracted attributes that relate to the entity. The attributes recognized by InferRxNorm are <code>DOSAGE</code>, <code>DURATION</code>, <code>FORM</code>, <code>FREQUENCY</code>, <code>RATE</code>, <code>ROUTE_OR_MODE</code>, and <code>STRENGTH</code>.</p>",
          "shape": "RxNormAttributeList"
        },
        "BeginOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the entity begins. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "Category": {
          "documentation": "<p>The category of the entity. The recognized categories are <code>GENERIC</code> or <code>BRAND_NAME</code>.</p>",
          "shape": "RxNormEntityCategory"
        },
        "EndOffset": {
          "documentation": "<p>The 0-based character offset in the input text that shows where the entity ends. The offset returns the UTF-8 code point in the string.</p>",
          "shape": "Integer"
        },
        "Id": {
          "documentation": "<p>The numeric identifier for the entity. This is a monotonically increasing id unique within this response rather than a global unique identifier.</p>",
          "shape": "Integer"
        },
        "RxNormConcepts": {
          "documentation": "<p> The RxNorm concepts that the entity could refer to, along with a score indicating the likelihood of the match.</p>",
          "shape": "RxNormConceptList"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detected entity.</p>",
          "shape": "Float"
        },
        "Text": {
          "documentation": "<p>The segment of input text extracted from which the entity was detected.</p>",
          "shape": "OntologyLinkingBoundedLengthString"
        },
        "Traits": {
          "documentation": "<p> Contextual information for the entity.</p>",
          "shape": "RxNormTraitList"
        },
        "Type": {
          "documentation": "<p> Describes the specific type of entity. For InferRxNorm, the recognized entity type is <code>MEDICATION</code>.</p>",
          "shape": "RxNormEntityType"
        }
      },
      "type": "structure"
    },
    "RxNormEntityCategory": {
      "enum": [
        "MEDICATION"
      ],
      "type": "string"
    },
    "RxNormEntityList": {
      "member": {
        "shape": "RxNormEntity"
      },
      "type": "list"
    },
    "RxNormEntityType": {
      "enum": [
        "BRAND_NAME",
        "GENERIC_NAME"
      ],
      "type": "string"
    },
    "RxNormTrait": {
      "documentation": "<p>The contextual information for the entity. InferRxNorm recognizes the trait <code>NEGATION</code>, which is any indication that the patient is not taking a medication. </p>",
      "members": {
        "Name": {
          "documentation": "<p>Provides a name or contextual description about the trait.</p>",
          "shape": "RxNormTraitName"
        },
        "Score": {
          "documentation": "<p>The level of confidence that Amazon Comprehend Medical has in the accuracy of the detected trait.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "RxNormTraitList": {
      "member": {
        "shape": "RxNormTrait"
      },
      "type": "list"
    },
    "RxNormTraitName": {
      "enum": [
        "NEGATION"
      ],
      "type": "string"
    },
    "S3Bucket": {
      "max": 63,
      "min": 3,
      "pattern": "^[0-9a-z\\.\\-_]*(?!\\.)$",
      "type": "string"
    },
    "S3Key": {
      "max": 1024,
      "pattern": ".*",
      "type": "string"
    },
    "ServiceUnavailableException": {
      "documentation": "<p> The Amazon Comprehend Medical service is temporarily unavailable. Please wait and then retry your request. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "StartEntitiesDetectionV2JobRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend Medical generates one.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that grants Amazon Comprehend Medical read access to your input data. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions-med.html#auth-role-permissions-med\"> Role-Based Permissions Required for Asynchronous Operations</a>.</p>",
          "shape": "IamRoleArn"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input data for the job.</p>",
          "shape": "InputDataConfig"
        },
        "JobName": {
          "documentation": "<p>The identifier of the job.</p>",
          "shape": "JobName"
        },
        "KMSKey": {
          "documentation": "<p>An AWS Key Management Service key to encrypt your output files. If you do not specify a key, the files are written in plain text.</p>",
          "shape": "KMSKey"
        },
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "OutputDataConfig": {
          "documentation": "<p>Specifies where to send the output files.</p>",
          "shape": "OutputDataConfig"
        }
      },
      "required": [
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "StartEntitiesDetectionV2JobResponse": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier generated for the job. To get the status of a job, use this identifier with the <code>DescribeEntitiesDetectionV2Job</code> operation.</p>",
          "shape": "JobId"
        }
      },
      "type": "structure"
    },
    "StartPHIDetectionJobRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for the request. If you don't set the client request token, Amazon Comprehend Medical generates one.</p>",
          "idempotencyToken": true,
          "shape": "ClientRequestTokenString"
        },
        "DataAccessRoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role that grants Amazon Comprehend Medical read access to your input data. For more information, see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions-med.html#auth-role-permissions-med\"> Role-Based Permissions Required for Asynchronous Operations</a>.</p>",
          "shape": "IamRoleArn"
        },
        "InputDataConfig": {
          "documentation": "<p>Specifies the format and location of the input data for the job.</p>",
          "shape": "InputDataConfig"
        },
        "JobName": {
          "documentation": "<p>The identifier of the job.</p>",
          "shape": "JobName"
        },
        "KMSKey": {
          "documentation": "<p>An AWS Key Management Service key to encrypt your output files. If you do not specify a key, the files are written in plain text.</p>",
          "shape": "KMSKey"
        },
        "LanguageCode": {
          "documentation": "<p>The language of the input documents. All documents must be in the same language.</p>",
          "shape": "LanguageCode"
        },
        "OutputDataConfig": {
          "documentation": "<p>Specifies where to send the output files.</p>",
          "shape": "OutputDataConfig"
        }
      },
      "required": [
        "InputDataConfig",
        "OutputDataConfig",
        "DataAccessRoleArn",
        "LanguageCode"
      ],
      "type": "structure"
    },
    "StartPHIDetectionJobResponse": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier generated for the job. To get the status of a job, use this identifier with the <code>DescribePHIDetectionJob</code> operation.</p>",
          "shape": "JobId"
        }
      },
      "type": "structure"
    },
    "StopEntitiesDetectionV2JobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier of the medical entities job to stop.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "StopEntitiesDetectionV2JobResponse": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier of the medical entities detection job that was stopped.</p>",
          "shape": "JobId"
        }
      },
      "type": "structure"
    },
    "StopPHIDetectionJobRequest": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier of the PHI detection job to stop.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "JobId"
      ],
      "type": "structure"
    },
    "StopPHIDetectionJobResponse": {
      "members": {
        "JobId": {
          "documentation": "<p>The identifier of the PHI detection job that was stopped.</p>",
          "shape": "JobId"
        }
      },
      "type": "structure"
    },
    "String": {
      "min": 1,
      "type": "string"
    },
    "TextSizeLimitExceededException": {
      "documentation": "<p> The size of the text you submitted exceeds the size limit. Reduce the size of the text or use a smaller document and then retry your request. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TooManyRequestsException": {
      "documentation": "<p> You have made too many requests within a short period of time. Wait for a short time and then try your request again. Contact customer support for more information about a service limit increase. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Trait": {
      "documentation": "<p> Provides contextual information about the extracted entity. </p>",
      "members": {
        "Name": {
          "documentation": "<p> Provides a name or contextual description about the trait. </p>",
          "shape": "AttributeName"
        },
        "Score": {
          "documentation": "<p> The level of confidence that Amazon Comprehend Medical has in the accuracy of this trait.</p>",
          "shape": "Float"
        }
      },
      "type": "structure"
    },
    "TraitList": {
      "member": {
        "shape": "Trait"
      },
      "type": "list"
    },
    "UnmappedAttribute": {
      "documentation": "<p> An attribute that we extracted, but were unable to relate to an entity. </p>",
      "members": {
        "Attribute": {
          "documentation": "<p> The specific attribute that has been extracted but not mapped to an entity. </p>",
          "shape": "Attribute"
        },
        "Type": {
          "documentation": "<p> The type of the attribute, could be one of the following values: \"MEDICATION\", \"MEDICAL_CONDITION\", \"ANATOMY\", \"TEST_AND_TREATMENT_PROCEDURE\" or \"PROTECTED_HEALTH_INFORMATION\". </p>",
          "shape": "EntityType"
        }
      },
      "type": "structure"
    },
    "UnmappedAttributeList": {
      "member": {
        "shape": "UnmappedAttribute"
      },
      "type": "list"
    },
    "ValidationException": {
      "documentation": "<p>The filter that you specified for the operation is invalid. Check the filter values that you entered and try your request again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
