{
  "documentation": "\n               <p>The operations for managing an Amazon MSK cluster.</p>\n            ",
  "metadata": {
    "apiVersion": "2018-11-14",
    "endpointPrefix": "kafka",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "Kafka",
    "serviceFullName": "Managed Streaming for Kafka",
    "serviceId": "Kafka",
    "signatureVersion": "v4",
    "signingName": "kafka",
    "uid": "kafka-2018-11-14"
  },
  "operations": {
    "CreateCluster": {
      "documentation": "\n            <p>Creates a new MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateClusterRequest"
      },
      "name": "CreateCluster",
      "output": {
        "shape": "CreateClusterResponse"
      }
    },
    "CreateConfiguration": {
      "documentation": "\n            <p>Creates a new MSK configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>429 response</p>\n         ",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConfigurationRequest"
      },
      "name": "CreateConfiguration",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "CreateConfigurationResponse"
      }
    },
    "DeleteCluster": {
      "documentation": "\n            <p>Deletes the MSK cluster specified by the Amazon Resource Name (ARN) in the request.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteClusterRequest"
      },
      "name": "DeleteCluster",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "DeleteClusterResponse"
      }
    },
    "DescribeCluster": {
      "documentation": "\n            <p>Returns a description of the MSK cluster whose Amazon Resource Name (ARN) is specified in the request.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterRequest"
      },
      "name": "DescribeCluster",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "DescribeClusterResponse"
      }
    },
    "DescribeClusterOperation": {
      "documentation": "\n            <p>Returns a description of the cluster operation specified by the ARN.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/operations/{clusterOperationArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeClusterOperationRequest"
      },
      "name": "DescribeClusterOperation",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "DescribeClusterOperationResponse"
      }
    },
    "DescribeConfiguration": {
      "documentation": "\n            <p>Returns a description of this MSK configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRequest"
      },
      "name": "DescribeConfiguration",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "DescribeConfigurationResponse"
      }
    },
    "DescribeConfigurationRevision": {
      "documentation": "\n            <p>Returns a description of this revision of the configuration.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions/{revision}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeConfigurationRevisionRequest"
      },
      "name": "DescribeConfigurationRevision",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "DescribeConfigurationRevisionResponse"
      }
    },
    "GetBootstrapBrokers": {
      "documentation": "\n            <p>A list of brokers that a client application can use to bootstrap.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>This cluster name already exists. Retry your request using another name.</p>\n         ",
          "shape": "ConflictException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/bootstrap-brokers",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBootstrapBrokersRequest"
      },
      "name": "GetBootstrapBrokers",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "GetBootstrapBrokersResponse"
      }
    },
    "ListClusterOperations": {
      "documentation": "\n            <p>Returns a list of all the operations that have been performed on the specified MSK cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/operations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClusterOperationsRequest"
      },
      "name": "ListClusterOperations",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListClusterOperationsResponse"
      }
    },
    "ListClusters": {
      "documentation": "\n            <p>Returns a list of all the MSK clusters in the current Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters",
        "responseCode": 200
      },
      "input": {
        "shape": "ListClustersRequest"
      },
      "name": "ListClusters",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListClustersResponse"
      }
    },
    "ListConfigurationRevisions": {
      "documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations/{arn}/revisions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationRevisionsRequest"
      },
      "name": "ListConfigurationRevisions",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "ListConfigurationRevisionsResponse"
      }
    },
    "ListConfigurations": {
      "documentation": "\n            <p>Returns a list of all the MSK configurations in this Region.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/configurations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConfigurationsRequest"
      },
      "name": "ListConfigurations",
      "output": {
        "documentation": "\n            <p>200 response</p>\n         ",
        "shape": "ListConfigurationsResponse"
      }
    },
    "ListKafkaVersions": {
      "documentation": "\n            <p>Returns a list of Kafka versions.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/kafka-versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListKafkaVersionsRequest"
      },
      "name": "ListKafkaVersions",
      "output": {
        "shape": "ListKafkaVersionsResponse"
      }
    },
    "ListNodes": {
      "documentation": "\n            <p>Returns a list of the broker nodes in the cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/clusters/{clusterArn}/nodes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListNodesRequest"
      },
      "name": "ListNodes",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "ListNodesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "\n            <p>Returns a list of the tags associated with the specified resource.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "\n            <p>Success response.</p>\n         ",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "\n            <p>Adds tags to the specified MSK resource.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "\n            <p>Removes the tags associated with the keys that are provided in the query.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v1/tags/{resourceArn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateBrokerCount": {
      "documentation": "\n            <p>Updates the number of broker nodes in the cluster.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/count",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerCountRequest"
      },
      "name": "UpdateBrokerCount",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateBrokerCountResponse"
      }
    },
    "UpdateBrokerStorage": {
      "documentation": "\n            <p>Updates the EBS storage associated with MSK brokers.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/nodes/storage",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateBrokerStorageRequest"
      },
      "name": "UpdateBrokerStorage",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateBrokerStorageResponse"
      }
    },
    "UpdateClusterConfiguration": {
      "documentation": "\n            <p>Updates the cluster with the configuration that is specified in the request body.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>The request isn't valid because the input is incorrect. Correct your input and then submit it again.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>The request is not authorized. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>There was an unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>Access forbidden. Check your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "\n            <p>The resource could not be found due to incorrect input. Correct the input, then retry the request.</p>\n         ",
          "shape": "NotFoundException"
        },
        {
          "documentation": "\n            <p>503 response</p>\n         ",
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateClusterConfigurationRequest"
      },
      "name": "UpdateClusterConfiguration",
      "output": {
        "documentation": "\n            <p>Successful response.</p>\n         ",
        "shape": "UpdateClusterConfigurationResponse"
      }
    },
    "UpdateMonitoring": {
      "documentation": "\n            <p>Updates the monitoring settings for the cluster. You can use this operation to specify which Apache Kafka metrics you want Amazon MSK to send to Amazon CloudWatch. You can also specify settings for open monitoring with Prometheus.</p>\n         ",
      "errors": [
        {
          "documentation": "\n            <p>HTTP Status Code 503: Service Unavailable. Retrying your request in some time might resolve the issue.</p>\n         ",
          "shape": "ServiceUnavailableException"
        },
        {
          "documentation": "\n            <p>HTTP Status Code 400: Bad request due to incorrect input. Correct your request and then retry it.</p>\n         ",
          "shape": "BadRequestException"
        },
        {
          "documentation": "\n            <p>HTTP Status Code 401: Unauthorized request. The provided credentials couldn't be validated.</p>\n         ",
          "shape": "UnauthorizedException"
        },
        {
          "documentation": "\n            <p>HTTP Status Code 500: Unexpected internal server error. Retrying your request might resolve the issue.</p>\n         ",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "\n            <p>HTTP Status Code 403: Access forbidden. Correct your credentials and then retry your request.</p>\n         ",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v1/clusters/{clusterArn}/monitoring",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMonitoringRequest"
      },
      "name": "UpdateMonitoring",
      "output": {
        "documentation": "\n            <p>HTTP Status Code 200: OK.</p>\n         ",
        "shape": "UpdateMonitoringResponse"
      }
    }
  },
  "shapes": {
    "BadRequestException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BrokerAZDistribution": {
      "documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
      "enum": [
        "DEFAULT"
      ],
      "type": "string"
    },
    "BrokerEBSVolumeInfo": {
      "documentation": "\n            <p>Specifies the EBS volume upgrade information. The broker identifier must be set to the keyword ALL. This means the changes apply to all the brokers in the cluster.</p>\n         ",
      "members": {
        "KafkaBrokerNodeId": {
          "documentation": "\n            <p>The ID of the broker to update.</p>\n         ",
          "locationName": "kafkaBrokerNodeId",
          "shape": "__string"
        },
        "VolumeSizeGB": {
          "documentation": "\n            <p>Size of the EBS volume to update.</p>\n         ",
          "locationName": "volumeSizeGB",
          "shape": "__integer"
        }
      },
      "required": [
        "VolumeSizeGB",
        "KafkaBrokerNodeId"
      ],
      "type": "structure"
    },
    "BrokerLogs": {
      "members": {
        "CloudWatchLogs": {
          "locationName": "cloudWatchLogs",
          "shape": "CloudWatchLogs"
        },
        "Firehose": {
          "locationName": "firehose",
          "shape": "Firehose"
        },
        "S3": {
          "locationName": "s3",
          "shape": "S3"
        }
      },
      "type": "structure"
    },
    "BrokerNodeGroupInfo": {
      "documentation": "\n            <p>Describes the setup to be used for Kafka broker nodes in the cluster.</p>\n         ",
      "members": {
        "BrokerAZDistribution": {
          "documentation": "\n            <p>The distribution of broker nodes across Availability Zones. This is an optional parameter. If you don't specify it, Amazon MSK gives it the value DEFAULT. You can also explicitly set this parameter to the value DEFAULT. No other values are currently allowed.</p>\n         <p>Amazon MSK distributes the broker nodes evenly across the Availability Zones that correspond to the subnets you provide when you create the cluster.</p>\n         ",
          "locationName": "brokerAZDistribution",
          "shape": "BrokerAZDistribution"
        },
        "ClientSubnets": {
          "documentation": "\n            <p>The list of subnets to connect to in the client virtual private cloud (VPC). AWS creates elastic network interfaces inside these subnets. Client applications use elastic network interfaces to produce and consume data. Client subnets can't be in Availability Zone us-east-1e.</p>\n         ",
          "locationName": "clientSubnets",
          "shape": "__listOf__string"
        },
        "InstanceType": {
          "documentation": "\n            <p>The type of Amazon EC2 instances to use for Kafka brokers. The following instance types are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge, kafka.m5.12xlarge, and kafka.m5.24xlarge.</p>\n         ",
          "locationName": "instanceType",
          "shape": "__stringMin5Max32"
        },
        "SecurityGroups": {
          "documentation": "\n            <p>The AWS security groups to associate with the elastic network interfaces in order to specify who can connect to and communicate with the Amazon MSK cluster. If you don't specify a security group, Amazon MSK uses the default security group associated with the VPC.</p>\n         ",
          "locationName": "securityGroups",
          "shape": "__listOf__string"
        },
        "StorageInfo": {
          "documentation": "\n            <p>Contains information about storage volumes attached to MSK broker nodes.</p>\n         ",
          "locationName": "storageInfo",
          "shape": "StorageInfo"
        }
      },
      "required": [
        "ClientSubnets",
        "InstanceType"
      ],
      "type": "structure"
    },
    "BrokerNodeInfo": {
      "documentation": "\n            <p>BrokerNodeInfo</p>\n         ",
      "members": {
        "AttachedENIId": {
          "documentation": "\n            <p>The attached elastic network interface of the broker.</p>\n         ",
          "locationName": "attachedENIId",
          "shape": "__string"
        },
        "BrokerId": {
          "documentation": "\n            <p>The ID of the broker.</p>\n         ",
          "locationName": "brokerId",
          "shape": "__double"
        },
        "ClientSubnet": {
          "documentation": "\n            <p>The client subnet to which this broker node belongs.</p>\n         ",
          "locationName": "clientSubnet",
          "shape": "__string"
        },
        "ClientVpcIpAddress": {
          "documentation": "\n            <p>The virtual private cloud (VPC) of the client.</p>\n         ",
          "locationName": "clientVpcIpAddress",
          "shape": "__string"
        },
        "CurrentBrokerSoftwareInfo": {
          "documentation": "\n            <p>Information about the version of software currently deployed on the Kafka brokers in the cluster.</p>\n         ",
          "locationName": "currentBrokerSoftwareInfo",
          "shape": "BrokerSoftwareInfo"
        },
        "Endpoints": {
          "documentation": "\n            <p>Endpoints for accessing the broker.</p>\n         ",
          "locationName": "endpoints",
          "shape": "__listOf__string"
        }
      },
      "type": "structure"
    },
    "BrokerSoftwareInfo": {
      "documentation": "\n            <p>Information about the current software installed on the cluster.</p>\n         ",
      "members": {
        "ConfigurationArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration used for the cluster. This field isn't visible in this preview release.</p>\n         ",
          "locationName": "configurationArn",
          "shape": "__string"
        },
        "ConfigurationRevision": {
          "documentation": "\n            <p>The revision of the configuration to use. This field isn't visible in this preview release.</p>\n         ",
          "locationName": "configurationRevision",
          "shape": "__long"
        },
        "KafkaVersion": {
          "documentation": "\n            <p>The version of Apache Kafka.</p>\n         ",
          "locationName": "kafkaVersion",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ClientAuthentication": {
      "documentation": "\n            <p>Includes all client authentication information.</p>\n         ",
      "members": {
        "Tls": {
          "documentation": "\n            <p>Details for ClientAuthentication using TLS.</p>\n         ",
          "locationName": "tls",
          "shape": "Tls"
        }
      },
      "type": "structure"
    },
    "ClientBroker": {
      "documentation": "\n            <p>Client-broker encryption in transit setting.</p>\n         ",
      "enum": [
        "TLS",
        "TLS_PLAINTEXT",
        "PLAINTEXT"
      ],
      "type": "string"
    },
    "CloudWatchLogs": {
      "members": {
        "Enabled": {
          "locationName": "enabled",
          "shape": "__boolean"
        },
        "LogGroup": {
          "locationName": "logGroup",
          "shape": "__string"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "ClusterInfo": {
      "documentation": "\n            <p>Returns information about a cluster.</p>\n         ",
      "members": {
        "ActiveOperationArn": {
          "documentation": "\n            <p>Arn of active cluster operation.</p>\n         ",
          "locationName": "activeOperationArn",
          "shape": "__string"
        },
        "BrokerNodeGroupInfo": {
          "documentation": "\n            <p>Information about the broker nodes.</p>\n         ",
          "locationName": "brokerNodeGroupInfo",
          "shape": "BrokerNodeGroupInfo"
        },
        "ClientAuthentication": {
          "documentation": "\n            <p>Includes all client authentication information.</p>\n         ",
          "locationName": "clientAuthentication",
          "shape": "ClientAuthentication"
        },
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the cluster was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "CurrentBrokerSoftwareInfo": {
          "documentation": "\n            <p>Information about the version of software currently deployed on the Kafka brokers in the cluster.</p>\n         ",
          "locationName": "currentBrokerSoftwareInfo",
          "shape": "BrokerSoftwareInfo"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
          "locationName": "currentVersion",
          "shape": "__string"
        },
        "EncryptionInfo": {
          "documentation": "\n            <p>Includes all encryption-related information.</p>\n         ",
          "locationName": "encryptionInfo",
          "shape": "EncryptionInfo"
        },
        "EnhancedMonitoring": {
          "documentation": "\n            <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>\n         ",
          "locationName": "enhancedMonitoring",
          "shape": "EnhancedMonitoring"
        },
        "LoggingInfo": {
          "locationName": "loggingInfo",
          "shape": "LoggingInfo"
        },
        "NumberOfBrokerNodes": {
          "documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
          "locationName": "numberOfBrokerNodes",
          "shape": "__integer"
        },
        "OpenMonitoring": {
          "documentation": "\n            <p>Settings for open monitoring using Prometheus.</p>\n         ",
          "locationName": "openMonitoring",
          "shape": "OpenMonitoring"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        },
        "StateInfo": {
          "locationName": "stateInfo",
          "shape": "StateInfo"
        },
        "Tags": {
          "documentation": "\n            <p>Tags attached to the cluster.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        },
        "ZookeeperConnectString": {
          "documentation": "\n            <p>The connection string to use to connect to the Apache ZooKeeper cluster.</p>\n         ",
          "locationName": "zookeeperConnectString",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ClusterOperationInfo": {
      "documentation": "\n            <p>Returns information about a cluster operation.</p>\n         ",
      "members": {
        "ClientRequestId": {
          "documentation": "\n            <p>The ID of the API request that triggered this operation.</p>\n         ",
          "locationName": "clientRequestId",
          "shape": "__string"
        },
        "ClusterArn": {
          "documentation": "\n            <p>ARN of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time that the operation was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "EndTime": {
          "documentation": "\n            <p>The time at which the operation finished.</p>\n         ",
          "locationName": "endTime",
          "shape": "__timestampIso8601"
        },
        "ErrorInfo": {
          "documentation": "\n            <p>Describes the error if the operation fails.</p>\n         ",
          "locationName": "errorInfo",
          "shape": "ErrorInfo"
        },
        "OperationArn": {
          "documentation": "\n            <p>ARN of the cluster operation.</p>\n         ",
          "locationName": "operationArn",
          "shape": "__string"
        },
        "OperationState": {
          "documentation": "\n            <p>State of the cluster operation.</p>\n         ",
          "locationName": "operationState",
          "shape": "__string"
        },
        "OperationType": {
          "documentation": "\n            <p>Type of the cluster operation.</p>\n         ",
          "locationName": "operationType",
          "shape": "__string"
        },
        "SourceClusterInfo": {
          "documentation": "\n            <p>Information about cluster attributes before a cluster is updated.</p>\n         ",
          "locationName": "sourceClusterInfo",
          "shape": "MutableClusterInfo"
        },
        "TargetClusterInfo": {
          "documentation": "\n            <p>Information about cluster attributes after a cluster is updated.</p>\n         ",
          "locationName": "targetClusterInfo",
          "shape": "MutableClusterInfo"
        }
      },
      "type": "structure"
    },
    "ClusterState": {
      "documentation": "\n            <p>The state of a Kafka cluster.</p>\n         ",
      "enum": [
        "ACTIVE",
        "CREATING",
        "UPDATING",
        "DELETING",
        "FAILED"
      ],
      "type": "string"
    },
    "Configuration": {
      "documentation": "\n            <p>Represents an MSK Configuration.</p>\n         ",
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "\n            <p>The description of the configuration.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "KafkaVersions": {
          "documentation": "\n            <p>An array of the versions of Apache Kafka with which you can use this MSK configuration. You can use this configuration for an MSK cluster only if the Apache Kafka version specified for the cluster appears in this array.</p>\n         ",
          "locationName": "kafkaVersions",
          "shape": "__listOf__string"
        },
        "LatestRevision": {
          "documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "required": [
        "Description",
        "LatestRevision",
        "CreationTime",
        "KafkaVersions",
        "Arn",
        "Name"
      ],
      "type": "structure"
    },
    "ConfigurationInfo": {
      "documentation": "\n            <p>Specifies the configuration to use for the brokers.</p>\n         ",
      "members": {
        "Arn": {
          "documentation": "\n            <p>ARN of the configuration to use.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "\n            <p>The revision of the configuration to use.</p>\n         ",
          "locationName": "revision",
          "shape": "__long"
        }
      },
      "required": [
        "Revision",
        "Arn"
      ],
      "type": "structure"
    },
    "ConfigurationRevision": {
      "documentation": "\n            <p>Describes a configuration revision.</p>\n         ",
      "members": {
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration revision was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "\n            <p>The description of the configuration revision.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "\n            <p>The revision number.</p>\n         ",
          "locationName": "revision",
          "shape": "__long"
        }
      },
      "required": [
        "Revision",
        "CreationTime"
      ],
      "type": "structure"
    },
    "ConflictException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateClusterRequest": {
      "members": {
        "BrokerNodeGroupInfo": {
          "documentation": "\n            <p>Information about the broker nodes in the cluster.</p>\n         ",
          "locationName": "brokerNodeGroupInfo",
          "shape": "BrokerNodeGroupInfo"
        },
        "ClientAuthentication": {
          "documentation": "\n            <p>Includes all client authentication related information.</p>\n         ",
          "locationName": "clientAuthentication",
          "shape": "ClientAuthentication"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__stringMin1Max64"
        },
        "ConfigurationInfo": {
          "documentation": "\n            <p>Represents the configuration that you want MSK to use for the brokers in a cluster.</p>\n         ",
          "locationName": "configurationInfo",
          "shape": "ConfigurationInfo"
        },
        "EncryptionInfo": {
          "documentation": "\n            <p>Includes all encryption-related information.</p>\n         ",
          "locationName": "encryptionInfo",
          "shape": "EncryptionInfo"
        },
        "EnhancedMonitoring": {
          "documentation": "\n            <p>Specifies the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER.</p>\n         ",
          "locationName": "enhancedMonitoring",
          "shape": "EnhancedMonitoring"
        },
        "KafkaVersion": {
          "documentation": "\n            <p>The version of Apache Kafka.</p>\n         ",
          "locationName": "kafkaVersion",
          "shape": "__stringMin1Max128"
        },
        "LoggingInfo": {
          "locationName": "loggingInfo",
          "shape": "LoggingInfo"
        },
        "NumberOfBrokerNodes": {
          "documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
          "locationName": "numberOfBrokerNodes",
          "shape": "__integerMin1Max15"
        },
        "OpenMonitoring": {
          "documentation": "\n            <p>The settings for open monitoring.</p>\n         ",
          "locationName": "openMonitoring",
          "shape": "OpenMonitoringInfo"
        },
        "Tags": {
          "documentation": "\n            <p>Create tags when creating the cluster.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "BrokerNodeGroupInfo",
        "KafkaVersion",
        "NumberOfBrokerNodes",
        "ClusterName"
      ],
      "type": "structure"
    },
    "CreateClusterResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterName": {
          "documentation": "\n            <p>The name of the MSK cluster.</p>\n         ",
          "locationName": "clusterName",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        }
      },
      "type": "structure"
    },
    "CreateConfigurationRequest": {
      "members": {
        "Description": {
          "documentation": "\n            <p>The description of the configuration.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "KafkaVersions": {
          "documentation": "\n            <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>\n         ",
          "locationName": "kafkaVersions",
          "shape": "__listOf__string"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        },
        "ServerProperties": {
          "documentation": "\n            <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>\n         ",
          "locationName": "serverProperties",
          "shape": "__blob"
        }
      },
      "required": [
        "ServerProperties",
        "KafkaVersions",
        "Name"
      ],
      "type": "structure"
    },
    "CreateConfigurationResponse": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "LatestRevision": {
          "documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DeleteClusterRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The current version of the MSK cluster.</p>\n         ",
          "location": "querystring",
          "locationName": "currentVersion",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "DeleteClusterResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "State": {
          "documentation": "\n            <p>The state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.</p>\n         ",
          "locationName": "state",
          "shape": "ClusterState"
        }
      },
      "type": "structure"
    },
    "DescribeClusterOperationRequest": {
      "members": {
        "ClusterOperationArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the MSK cluster operation.</p>\n         ",
          "location": "uri",
          "locationName": "clusterOperationArn",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterOperationArn"
      ],
      "type": "structure"
    },
    "DescribeClusterOperationResponse": {
      "members": {
        "ClusterOperationInfo": {
          "documentation": "\n            <p>Cluster operation information</p>\n         ",
          "locationName": "clusterOperationInfo",
          "shape": "ClusterOperationInfo"
        }
      },
      "type": "structure"
    },
    "DescribeClusterRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "DescribeClusterResponse": {
      "members": {
        "ClusterInfo": {
          "documentation": "\n            <p>The cluster information.</p>\n         ",
          "locationName": "clusterInfo",
          "shape": "ClusterInfo"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationRequest": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>\n         ",
          "location": "uri",
          "locationName": "arn",
          "shape": "__string"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DescribeConfigurationResponse": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "\n            <p>The description of the configuration.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "KafkaVersions": {
          "documentation": "\n            <p>The versions of Apache Kafka with which you can use this MSK configuration.</p>\n         ",
          "locationName": "kafkaVersions",
          "shape": "__listOf__string"
        },
        "LatestRevision": {
          "documentation": "\n            <p>Latest revision of the configuration.</p>\n         ",
          "locationName": "latestRevision",
          "shape": "ConfigurationRevision"
        },
        "Name": {
          "documentation": "\n            <p>The name of the configuration.</p>\n         ",
          "locationName": "name",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "DescribeConfigurationRevisionRequest": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>\n         ",
          "location": "uri",
          "locationName": "arn",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "\n            <p>A string that uniquely identifies a revision of an MSK configuration.</p>\n         ",
          "location": "uri",
          "locationName": "revision",
          "shape": "__long"
        }
      },
      "required": [
        "Revision",
        "Arn"
      ],
      "type": "structure"
    },
    "DescribeConfigurationRevisionResponse": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the configuration.</p>\n         ",
          "locationName": "arn",
          "shape": "__string"
        },
        "CreationTime": {
          "documentation": "\n            <p>The time when the configuration was created.</p>\n         ",
          "locationName": "creationTime",
          "shape": "__timestampIso8601"
        },
        "Description": {
          "documentation": "\n            <p>The description of the configuration.</p>\n         ",
          "locationName": "description",
          "shape": "__string"
        },
        "Revision": {
          "documentation": "\n            <p>The revision number.</p>\n         ",
          "locationName": "revision",
          "shape": "__long"
        },
        "ServerProperties": {
          "documentation": "\n            <p>Contents of the <filename>server.properties</filename> file. When using the API, you must ensure that the contents of the file are base64 encoded. \n               When using the AWS Management Console, the SDK, or the AWS CLI, the contents of <filename>server.properties</filename> can be in plaintext.</p>\n         ",
          "locationName": "serverProperties",
          "shape": "__blob"
        }
      },
      "type": "structure"
    },
    "EBSStorageInfo": {
      "documentation": "\n            <p>Contains information about the EBS storage volumes attached to Kafka broker nodes.</p>\n         ",
      "members": {
        "VolumeSize": {
          "documentation": "\n            <p>The size in GiB of the EBS volume for the data drive on each broker node.</p>\n         ",
          "locationName": "volumeSize",
          "shape": "__integerMin1Max16384"
        }
      },
      "type": "structure"
    },
    "EncryptionAtRest": {
      "documentation": "\n            <p>The data-volume encryption details.</p>\n         ",
      "members": {
        "DataVolumeKMSKeyId": {
          "documentation": "\n            <p>The ARN of the AWS KMS key for encrypting data at rest. If you don't specify a KMS key, MSK creates one for you and uses it.</p>\n         ",
          "locationName": "dataVolumeKMSKeyId",
          "shape": "__string"
        }
      },
      "required": [
        "DataVolumeKMSKeyId"
      ],
      "type": "structure"
    },
    "EncryptionInTransit": {
      "documentation": "\n            <p>The settings for encrypting data in transit.</p>\n         ",
      "members": {
        "ClientBroker": {
          "documentation": "\n            <p>Indicates the encryption setting for data in transit between clients and brokers. The following are the possible values.</p>\n            <p>\n               TLS means that client-broker communication is enabled with TLS only.</p>\n            <p>\n               TLS_PLAINTEXT means that client-broker communication is enabled for both TLS-encrypted, as well as plaintext data.</p>\n            <p>\n               PLAINTEXT means that client-broker communication is enabled in plaintext only.</p>\n            <p>The default value is TLS_PLAINTEXT.</p>\n         ",
          "locationName": "clientBroker",
          "shape": "ClientBroker"
        },
        "InCluster": {
          "documentation": "\n            <p>When set to true, it indicates that data communication among the broker nodes of the cluster is encrypted. When set to false, the communication happens in plaintext.</p>\n            <p>The default value is true.</p>\n         ",
          "locationName": "inCluster",
          "shape": "__boolean"
        }
      },
      "type": "structure"
    },
    "EncryptionInfo": {
      "documentation": "\n            <p>Includes encryption-related information, such as the AWS KMS key used for encrypting data at rest and whether you want MSK to encrypt your data in transit.</p>\n         ",
      "members": {
        "EncryptionAtRest": {
          "documentation": "\n            <p>The data-volume encryption details.</p>\n         ",
          "locationName": "encryptionAtRest",
          "shape": "EncryptionAtRest"
        },
        "EncryptionInTransit": {
          "documentation": "\n            <p>The details for encryption in transit.</p>\n         ",
          "locationName": "encryptionInTransit",
          "shape": "EncryptionInTransit"
        }
      },
      "type": "structure"
    },
    "EnhancedMonitoring": {
      "documentation": "\n            <p>Specifies which metrics are gathered for the MSK cluster. This property has three possible values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER. For a list of the metrics associated with each of these three levels of monitoring, see <a href=\"https://docs.aws.amazon.com/msk/latest/developerguide/monitoring.html\">Monitoring</a>.</p>\n         ",
      "enum": [
        "DEFAULT",
        "PER_BROKER",
        "PER_TOPIC_PER_BROKER"
      ],
      "type": "string"
    },
    "Error": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ErrorInfo": {
      "documentation": "\n            <p>Returns information about an error state of the cluster.</p>\n         ",
      "members": {
        "ErrorCode": {
          "documentation": "\n            <p>A number describing the error programmatically.</p>\n         ",
          "locationName": "errorCode",
          "shape": "__string"
        },
        "ErrorString": {
          "documentation": "\n            <p>An optional field to provide more details about the error.</p>\n         ",
          "locationName": "errorString",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "Firehose": {
      "members": {
        "DeliveryStream": {
          "locationName": "deliveryStream",
          "shape": "__string"
        },
        "Enabled": {
          "locationName": "enabled",
          "shape": "__boolean"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "ForbiddenException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "GetBootstrapBrokersRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "GetBootstrapBrokersResponse": {
      "members": {
        "BootstrapBrokerString": {
          "documentation": "\n            <p>A string containing one or more hostname:port pairs.</p>\n         ",
          "locationName": "bootstrapBrokerString",
          "shape": "__string"
        },
        "BootstrapBrokerStringTls": {
          "documentation": "\n            <p>A string containing one or more DNS names (or IP) and TLS port pairs.</p>\n         ",
          "locationName": "bootstrapBrokerStringTls",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "InternalServerErrorException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "JmxExporter": {
      "documentation": "\n            <p>Indicates whether you want to enable or disable the JMX Exporter.</p>\n         ",
      "members": {
        "EnabledInBroker": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the JMX Exporter.</p>\n         ",
          "locationName": "enabledInBroker",
          "shape": "__boolean"
        }
      },
      "required": [
        "EnabledInBroker"
      ],
      "type": "structure"
    },
    "JmxExporterInfo": {
      "documentation": "\n            <p>Indicates whether you want to enable or disable the JMX Exporter.</p>\n         ",
      "members": {
        "EnabledInBroker": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the JMX Exporter.</p>\n         ",
          "locationName": "enabledInBroker",
          "shape": "__boolean"
        }
      },
      "required": [
        "EnabledInBroker"
      ],
      "type": "structure"
    },
    "KafkaVersion": {
      "members": {
        "Status": {
          "locationName": "status",
          "shape": "KafkaVersionStatus"
        },
        "Version": {
          "locationName": "version",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "KafkaVersionStatus": {
      "enum": [
        "ACTIVE",
        "DEPRECATED"
      ],
      "type": "string"
    },
    "ListClusterOperationsRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "ListClusterOperationsResponse": {
      "members": {
        "ClusterOperationInfoList": {
          "documentation": "\n            <p>An array of cluster operation information objects.</p>\n         ",
          "locationName": "clusterOperationInfoList",
          "shape": "__listOfClusterOperationInfo"
        },
        "NextToken": {
          "documentation": "\n            <p>If the response of ListClusterOperations is truncated, it returns a NextToken in the response. This Nexttoken should be sent in the subsequent request to ListClusterOperations.</p>\n         ",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListClustersRequest": {
      "members": {
        "ClusterNameFilter": {
          "documentation": "\n            <p>Specify a prefix of the name of the clusters that you want to list. The service lists all the clusters whose names start with this prefix.</p>\n         ",
          "location": "querystring",
          "locationName": "clusterNameFilter",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListClustersResponse": {
      "members": {
        "ClusterInfoList": {
          "documentation": "\n            <p>Information on each of the MSK clusters in the response.</p>\n         ",
          "locationName": "clusterInfoList",
          "shape": "__listOfClusterInfo"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of a ListClusters operation is truncated, the call returns NextToken in the response. \n               To get another batch of clusters, provide this token in your next request.</p>\n         ",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListConfigurationRevisionsRequest": {
      "members": {
        "Arn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies an MSK configuration and all of its revisions.</p>\n         ",
          "location": "uri",
          "locationName": "arn",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "ListConfigurationRevisionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "\n            <p>Paginated results marker.</p>\n         ",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "Revisions": {
          "documentation": "\n            <p>List of ConfigurationRevision objects.</p>\n         ",
          "locationName": "revisions",
          "shape": "__listOfConfigurationRevision"
        }
      },
      "type": "structure"
    },
    "ListConfigurationsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListConfigurationsResponse": {
      "members": {
        "Configurations": {
          "documentation": "\n            <p>An array of MSK configurations.</p>\n         ",
          "locationName": "configurations",
          "shape": "__listOfConfiguration"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of a ListConfigurations operation is truncated, the call returns NextToken in the response. \n               To get another batch of configurations, provide this token in your next request.</p>\n         ",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListKafkaVersionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. To get the next batch, provide this token in your next request.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListKafkaVersionsResponse": {
      "members": {
        "KafkaVersions": {
          "locationName": "kafkaVersions",
          "shape": "__listOfKafkaVersion"
        },
        "NextToken": {
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "ListNodesRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "MaxResults": {
          "documentation": "\n            <p>The maximum number of results to return in the response. If there are more results, the response includes a NextToken parameter.</p>\n         ",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of the operation is truncated, the call returns NextToken in the response. \n            To get the next batch, provide this token in your next request.</p>\n         ",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "__string"
        }
      },
      "required": [
        "ClusterArn"
      ],
      "type": "structure"
    },
    "ListNodesResponse": {
      "members": {
        "NextToken": {
          "documentation": "\n            <p>The paginated results marker. When the result of a ListNodes operation is truncated, the call returns NextToken in the response. \n               To get another batch of nodes, provide this token in your next request.</p>\n         ",
          "locationName": "nextToken",
          "shape": "__string"
        },
        "NodeInfoList": {
          "documentation": "\n            <p>List containing a NodeInfo object.</p>\n         ",
          "locationName": "nodeInfoList",
          "shape": "__listOfNodeInfo"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>\n         ",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "__string"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "\n            <p>The key-value pair for the resource tag.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "type": "structure"
    },
    "LoggingInfo": {
      "members": {
        "BrokerLogs": {
          "locationName": "brokerLogs",
          "shape": "BrokerLogs"
        }
      },
      "required": [
        "BrokerLogs"
      ],
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MutableClusterInfo": {
      "documentation": "\n            <p>Information about cluster attributes that can be updated via update APIs.</p>\n         ",
      "members": {
        "BrokerEBSVolumeInfo": {
          "documentation": "\n            <p>Specifies the size of the EBS volume and the ID of the associated broker.</p>\n         ",
          "locationName": "brokerEBSVolumeInfo",
          "shape": "__listOfBrokerEBSVolumeInfo"
        },
        "ConfigurationInfo": {
          "documentation": "\n            <p>Information about the changes in the configuration of the brokers.</p>\n         ",
          "locationName": "configurationInfo",
          "shape": "ConfigurationInfo"
        },
        "EnhancedMonitoring": {
          "documentation": "\n            <p>Specifies which Apache Kafka metrics Amazon MSK gathers and sends to Amazon CloudWatch for this cluster.</p>\n         ",
          "locationName": "enhancedMonitoring",
          "shape": "EnhancedMonitoring"
        },
        "LoggingInfo": {
          "locationName": "loggingInfo",
          "shape": "LoggingInfo"
        },
        "NumberOfBrokerNodes": {
          "documentation": "\n            <p>The number of broker nodes in the cluster.</p>\n         ",
          "locationName": "numberOfBrokerNodes",
          "shape": "__integer"
        },
        "OpenMonitoring": {
          "documentation": "\n            <p>The settings for open monitoring.</p>\n         ",
          "locationName": "openMonitoring",
          "shape": "OpenMonitoring"
        }
      },
      "type": "structure"
    },
    "NodeExporter": {
      "documentation": "\n            <p>Indicates whether you want to enable or disable the Node Exporter.</p>\n         ",
      "members": {
        "EnabledInBroker": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the Node Exporter.</p>\n         ",
          "locationName": "enabledInBroker",
          "shape": "__boolean"
        }
      },
      "required": [
        "EnabledInBroker"
      ],
      "type": "structure"
    },
    "NodeExporterInfo": {
      "documentation": "\n            <p>Indicates whether you want to enable or disable the Node Exporter.</p>\n         ",
      "members": {
        "EnabledInBroker": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the Node Exporter.</p>\n         ",
          "locationName": "enabledInBroker",
          "shape": "__boolean"
        }
      },
      "required": [
        "EnabledInBroker"
      ],
      "type": "structure"
    },
    "NodeInfo": {
      "documentation": "\n            <p>The node information object.</p>\n         ",
      "members": {
        "AddedToClusterTime": {
          "documentation": "\n            <p>The start time.</p>\n         ",
          "locationName": "addedToClusterTime",
          "shape": "__string"
        },
        "BrokerNodeInfo": {
          "documentation": "\n            <p>The broker node info.</p>\n         ",
          "locationName": "brokerNodeInfo",
          "shape": "BrokerNodeInfo"
        },
        "InstanceType": {
          "documentation": "\n            <p>The instance type.</p>\n         ",
          "locationName": "instanceType",
          "shape": "__string"
        },
        "NodeARN": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the node.</p>\n         ",
          "locationName": "nodeARN",
          "shape": "__string"
        },
        "NodeType": {
          "documentation": "\n            <p>The node type.</p>\n         ",
          "locationName": "nodeType",
          "shape": "NodeType"
        },
        "ZookeeperNodeInfo": {
          "documentation": "\n            <p>The ZookeeperNodeInfo.</p>\n         ",
          "locationName": "zookeeperNodeInfo",
          "shape": "ZookeeperNodeInfo"
        }
      },
      "type": "structure"
    },
    "NodeType": {
      "documentation": "\n            <p>The broker or Zookeeper node.</p>\n         ",
      "enum": [
        "BROKER"
      ],
      "type": "string"
    },
    "NotFoundException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "OpenMonitoring": {
      "documentation": "\n            <p>JMX and Node monitoring for the MSK cluster.</p>\n         ",
      "members": {
        "Prometheus": {
          "documentation": "\n            <p>Prometheus settings.</p>\n         ",
          "locationName": "prometheus",
          "shape": "Prometheus"
        }
      },
      "required": [
        "Prometheus"
      ],
      "type": "structure"
    },
    "OpenMonitoringInfo": {
      "documentation": "\n            <p>JMX and Node monitoring for the MSK cluster.</p>\n         ",
      "members": {
        "Prometheus": {
          "documentation": "\n            <p>Prometheus settings.</p>\n         ",
          "locationName": "prometheus",
          "shape": "PrometheusInfo"
        }
      },
      "required": [
        "Prometheus"
      ],
      "type": "structure"
    },
    "Prometheus": {
      "documentation": "\n            <p>Prometheus settings.</p>\n         ",
      "members": {
        "JmxExporter": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the JMX Exporter.</p>\n         ",
          "locationName": "jmxExporter",
          "shape": "JmxExporter"
        },
        "NodeExporter": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the Node Exporter.</p>\n         ",
          "locationName": "nodeExporter",
          "shape": "NodeExporter"
        }
      },
      "type": "structure"
    },
    "PrometheusInfo": {
      "documentation": "\n            <p>Prometheus settings.</p>\n         ",
      "members": {
        "JmxExporter": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the JMX Exporter.</p>\n         ",
          "locationName": "jmxExporter",
          "shape": "JmxExporterInfo"
        },
        "NodeExporter": {
          "documentation": "\n            <p>Indicates whether you want to enable or disable the Node Exporter.</p>\n         ",
          "locationName": "nodeExporter",
          "shape": "NodeExporterInfo"
        }
      },
      "type": "structure"
    },
    "S3": {
      "members": {
        "Bucket": {
          "locationName": "bucket",
          "shape": "__string"
        },
        "Enabled": {
          "locationName": "enabled",
          "shape": "__boolean"
        },
        "Prefix": {
          "locationName": "prefix",
          "shape": "__string"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "ServiceUnavailableException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "StateInfo": {
      "members": {
        "Code": {
          "locationName": "code",
          "shape": "__string"
        },
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "StorageInfo": {
      "documentation": "\n            <p>Contains information about storage volumes attached to MSK broker nodes.</p>\n         ",
      "members": {
        "EbsStorageInfo": {
          "documentation": "\n            <p>EBS volume information.</p>\n         ",
          "locationName": "ebsStorageInfo",
          "shape": "EBSStorageInfo"
        }
      },
      "type": "structure"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>\n         ",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "__string"
        },
        "Tags": {
          "documentation": "\n            <p>The key-value pair for the resource tag.</p>\n         ",
          "locationName": "tags",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "Tls": {
      "documentation": "\n            <p>Details for client authentication using TLS.</p>\n         ",
      "members": {
        "CertificateAuthorityArnList": {
          "documentation": "\n            <p>List of ACM Certificate Authority ARNs.</p>\n         ",
          "locationName": "certificateAuthorityArnList",
          "shape": "__listOf__string"
        }
      },
      "type": "structure"
    },
    "TooManyRequestsException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "UnauthorizedException": {
      "documentation": "\n            <p>Returns information about an error.</p>\n         ",
      "error": {
        "httpStatusCode": 401
      },
      "exception": true,
      "members": {
        "InvalidParameter": {
          "documentation": "\n            <p>The parameter that caused the error.</p>\n         ",
          "locationName": "invalidParameter",
          "shape": "__string"
        },
        "Message": {
          "documentation": "\n            <p>The description of the error.</p>\n         ",
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the resource that's associated with the tags.</p>\n         ",
          "location": "uri",
          "locationName": "resourceArn",
          "shape": "__string"
        },
        "TagKeys": {
          "documentation": "\n            <p>Tag keys must be unique for a given cluster. In addition, the following restrictions apply:</p>\n            <ul>\n               <li>\n                  <p>Each tag key must be unique. If you add a tag with a key that's already in\n                  use, your new tag overwrites the existing key-value pair. </p>\n               </li>\n               <li>\n                  <p>You can't start a tag key with aws: because this prefix is reserved for use\n                  by  AWS.  AWS creates tags that begin with this prefix on your behalf, but\n                  you can't edit or delete them.</p>\n               </li>\n               <li>\n                  <p>Tag keys must be between 1 and 128 Unicode characters in length.</p>\n               </li>\n               <li>\n                  <p>Tag keys must consist of the following characters: Unicode letters, digits,\n                  white space, and the following special characters: _ . / = + -\n                     @.</p>\n               </li>\n            </ul>\n         ",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "TagKeys",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "UpdateBrokerCountRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The version of cluster to update from. A successful operation will then generate a new version.</p>\n         ",
          "locationName": "currentVersion",
          "shape": "__string"
        },
        "TargetNumberOfBrokerNodes": {
          "documentation": "\n            <p>The number of broker nodes that you want the cluster to have after this operation completes successfully.</p>\n         ",
          "locationName": "targetNumberOfBrokerNodes",
          "shape": "__integerMin1Max15"
        }
      },
      "required": [
        "ClusterArn",
        "CurrentVersion",
        "TargetNumberOfBrokerNodes"
      ],
      "type": "structure"
    },
    "UpdateBrokerCountResponse": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster.</p>\n         ",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "ClusterOperationArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) of the cluster operation.</p>\n         ",
          "locationName": "clusterOperationArn",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "UpdateBrokerStorageRequest": {
      "members": {
        "ClusterArn": {
          "documentation": "\n            <p>The Amazon Resource Name (ARN) that uniquely identifies the cluster.</p>\n         ",
          "location": "uri",
          "locationName": "clusterArn",
          "shape": "__string"
        },
        "CurrentVersion": {
          "documentation": "\n            <p>The version of cluster to update from. A successful operation will then generate a new version.</p>\n         ",
          "locationName": "currentVersion",
          "shape": "__string"
        },
        "TargetBrokerEBSVolumeInfo": {
[...]
