{
  "documentation": "<p> AWS S3 Control provides access to Amazon S3 control plane operations. </p>",
  "metadata": {
    "apiVersion": "2018-08-20",
    "endpointPrefix": "s3-control",
    "protocol": "rest-xml",
    "serviceFullName": "AWS S3 Control",
    "serviceId": "S3 Control",
    "signatureVersion": "s3v4",
    "signingName": "s3",
    "uid": "s3control-2018-08-20"
  },
  "operations": {
    "CreateAccessPoint": {
      "documentation": "<p>Creates an access point and associates it with the specified bucket.</p>",
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/accesspoint/{name}"
      },
      "input": {
        "locationName": "CreateAccessPointRequest",
        "shape": "CreateAccessPointRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        }
      },
      "name": "CreateAccessPoint"
    },
    "CreateJob": {
      "documentation": "<p>Creates an Amazon S3 batch operations job.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "IdempotencyException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v20180820/jobs"
      },
      "input": {
        "locationName": "CreateJobRequest",
        "shape": "CreateJobRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        }
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResult"
      }
    },
    "DeleteAccessPoint": {
      "documentation": "<p>Deletes the specified access point.</p>",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/accesspoint/{name}"
      },
      "input": {
        "shape": "DeleteAccessPointRequest"
      },
      "name": "DeleteAccessPoint"
    },
    "DeleteAccessPointPolicy": {
      "documentation": "<p>Deletes the access point policy for the specified access point.</p>",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/accesspoint/{name}/policy"
      },
      "input": {
        "shape": "DeleteAccessPointPolicyRequest"
      },
      "name": "DeleteAccessPointPolicy"
    },
    "DeleteJobTagging": {
      "documentation": "<p>Delete the tags on a Amazon S3 batch operations job, if any.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/jobs/{id}/tagging"
      },
      "input": {
        "shape": "DeleteJobTaggingRequest"
      },
      "name": "DeleteJobTagging",
      "output": {
        "shape": "DeleteJobTaggingResult"
      }
    },
    "DeletePublicAccessBlock": {
      "documentation": "<p>Removes the <code>PublicAccessBlock</code> configuration for an Amazon Web Services account.</p>",
      "http": {
        "method": "DELETE",
        "requestUri": "/v20180820/configuration/publicAccessBlock"
      },
      "input": {
        "shape": "DeletePublicAccessBlockRequest"
      },
      "name": "DeletePublicAccessBlock"
    },
    "DescribeJob": {
      "documentation": "<p>Retrieves the configuration parameters and status for a batch operations job.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/jobs/{id}"
      },
      "input": {
        "shape": "DescribeJobRequest"
      },
      "name": "DescribeJob",
      "output": {
        "shape": "DescribeJobResult"
      }
    },
    "GetAccessPoint": {
      "documentation": "<p>Returns configuration information about the specified access point.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint/{name}"
      },
      "input": {
        "shape": "GetAccessPointRequest"
      },
      "name": "GetAccessPoint",
      "output": {
        "shape": "GetAccessPointResult"
      }
    },
    "GetAccessPointPolicy": {
      "documentation": "<p>Returns the access point policy associated with the specified access point.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint/{name}/policy"
      },
      "input": {
        "shape": "GetAccessPointPolicyRequest"
      },
      "name": "GetAccessPointPolicy",
      "output": {
        "shape": "GetAccessPointPolicyResult"
      }
    },
    "GetAccessPointPolicyStatus": {
      "documentation": "<p>Indicates whether the specified access point currently has a policy that allows public access. For more information about public access through access points, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-points.html\">Managing Data Access with Amazon S3 Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint/{name}/policyStatus"
      },
      "input": {
        "shape": "GetAccessPointPolicyStatusRequest"
      },
      "name": "GetAccessPointPolicyStatus",
      "output": {
        "shape": "GetAccessPointPolicyStatusResult"
      }
    },
    "GetJobTagging": {
      "documentation": "<p>Retrieve the tags on a Amazon S3 batch operations job.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/jobs/{id}/tagging"
      },
      "input": {
        "shape": "GetJobTaggingRequest"
      },
      "name": "GetJobTagging",
      "output": {
        "shape": "GetJobTaggingResult"
      }
    },
    "GetPublicAccessBlock": {
      "documentation": "<p>Retrieves the <code>PublicAccessBlock</code> configuration for an Amazon Web Services account.</p>",
      "errors": [
        {
          "shape": "NoSuchPublicAccessBlockConfiguration"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/configuration/publicAccessBlock"
      },
      "input": {
        "shape": "GetPublicAccessBlockRequest"
      },
      "name": "GetPublicAccessBlock",
      "output": {
        "shape": "GetPublicAccessBlockOutput"
      }
    },
    "ListAccessPoints": {
      "documentation": "<p>Returns a list of the access points currently associated with the specified bucket. You can retrieve up to 1000 access points per call. If the specified bucket has more than 1000 access points (or the number specified in <code>maxResults</code>, whichever is less), then the response will include a continuation token that you can use to list the additional access points.</p>",
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/accesspoint"
      },
      "input": {
        "shape": "ListAccessPointsRequest"
      },
      "name": "ListAccessPoints",
      "output": {
        "shape": "ListAccessPointsResult"
      }
    },
    "ListJobs": {
      "documentation": "<p>Lists current jobs and jobs that have ended within the last 30 days for the AWS account making the request.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/v20180820/jobs"
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResult"
      }
    },
    "PutAccessPointPolicy": {
      "documentation": "<p>Associates an access policy with the specified access point. Each access point can have only one policy, so a request made to this API replaces any existing policy associated with the specified access point.</p>",
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/accesspoint/{name}/policy"
      },
      "input": {
        "locationName": "PutAccessPointPolicyRequest",
        "shape": "PutAccessPointPolicyRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        }
      },
      "name": "PutAccessPointPolicy"
    },
    "PutJobTagging": {
      "documentation": "<p>Replace the set of tags on a Amazon S3 batch operations job.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/jobs/{id}/tagging"
      },
      "input": {
        "locationName": "PutJobTaggingRequest",
        "shape": "PutJobTaggingRequest",
        "xmlNamespace": {
          "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
        }
      },
      "name": "PutJobTagging",
      "output": {
        "shape": "PutJobTaggingResult"
      }
    },
    "PutPublicAccessBlock": {
      "documentation": "<p>Creates or modifies the <code>PublicAccessBlock</code> configuration for an Amazon Web Services account.</p>",
      "http": {
        "method": "PUT",
        "requestUri": "/v20180820/configuration/publicAccessBlock"
      },
      "input": {
        "shape": "PutPublicAccessBlockRequest"
      },
      "name": "PutPublicAccessBlock"
    },
    "UpdateJobPriority": {
      "documentation": "<p>Updates an existing job's priority.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v20180820/jobs/{id}/priority"
      },
      "input": {
        "shape": "UpdateJobPriorityRequest"
      },
      "name": "UpdateJobPriority",
      "output": {
        "shape": "UpdateJobPriorityResult"
      }
    },
    "UpdateJobStatus": {
      "documentation": "<p>Updates the status for the specified job. Use this operation to confirm that you want to run a job or to cancel an existing job.</p>",
      "errors": [
        {
          "shape": "BadRequestException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "JobStatusException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/v20180820/jobs/{id}/status"
      },
      "input": {
        "shape": "UpdateJobStatusRequest"
      },
      "name": "UpdateJobStatus",
      "output": {
        "shape": "UpdateJobStatusResult"
      }
    }
  },
  "shapes": {
    "AccessPoint": {
      "documentation": "<p>An access point used to access a bucket.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The name of the bucket associated with this access point.</p>",
          "shape": "BucketName"
        },
        "Name": {
          "documentation": "<p>The name of this access point.</p>",
          "shape": "AccessPointName"
        },
        "NetworkOrigin": {
          "documentation": "<p>Indicates whether this access point allows access from the public Internet. If <code>VpcConfiguration</code> is specified for this access point, then <code>NetworkOrigin</code> is <code>VPC</code>, and the access point doesn't allow access from the public Internet. Otherwise, <code>NetworkOrigin</code> is <code>Internet</code>, and the access point allows access from the public Internet, subject to the access point and bucket access policies.</p>",
          "shape": "NetworkOrigin"
        },
        "VpcConfiguration": {
          "documentation": "<p>The Virtual Private Cloud (VPC) configuration for this access point, if one exists.</p>",
          "shape": "VpcConfiguration"
        }
      },
      "required": [
        "Name",
        "NetworkOrigin",
        "Bucket"
      ],
      "type": "structure"
    },
    "AccessPointList": {
      "member": {
        "locationName": "AccessPoint",
        "shape": "AccessPoint"
      },
      "type": "list"
    },
    "AccessPointName": {
      "max": 50,
      "min": 3,
      "type": "string"
    },
    "AccountId": {
      "max": 64,
      "type": "string"
    },
    "BadRequestException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BucketName": {
      "max": 255,
      "min": 3,
      "type": "string"
    },
    "ConfirmationRequired": {
      "type": "boolean"
    },
    "CreateAccessPointRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The AWS account ID for the owner of the bucket for which you want to create an access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Bucket": {
          "documentation": "<p>The name of the bucket that you want to associate this access point with.</p>",
          "shape": "BucketName"
        },
        "Name": {
          "documentation": "<p>The name you want to assign to this access point.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        },
        "PublicAccessBlockConfiguration": {
          "shape": "PublicAccessBlockConfiguration"
        },
        "VpcConfiguration": {
          "documentation": "<p>If you include this field, Amazon S3 restricts access to this access point to requests from the specified Virtual Private Cloud (VPC).</p>",
          "shape": "VpcConfiguration"
        }
      },
      "required": [
        "AccountId",
        "Name",
        "Bucket"
      ],
      "type": "structure"
    },
    "CreateJobRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "ClientRequestToken": {
          "documentation": "<p>An idempotency token to ensure that you don't accidentally submit the same request twice. You can use any string up to the maximum length.</p>",
          "idempotencyToken": true,
          "shape": "NonEmptyMaxLength64String"
        },
        "ConfirmationRequired": {
          "box": true,
          "documentation": "<p>Indicates whether confirmation is required before Amazon S3 runs the job. Confirmation is only required for jobs created through the Amazon S3 console.</p>",
          "shape": "ConfirmationRequired"
        },
        "Description": {
          "documentation": "<p>A description for this job. You can use any string within the permitted length. Descriptions don't need to be unique and can be used for multiple jobs.</p>",
          "shape": "NonEmptyMaxLength256String"
        },
        "Manifest": {
          "documentation": "<p>Configuration parameters for the manifest.</p>",
          "shape": "JobManifest"
        },
        "Operation": {
          "documentation": "<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
          "shape": "JobOperation"
        },
        "Priority": {
          "box": true,
          "documentation": "<p>The numerical priority for this job. Higher numbers indicate higher priority.</p>",
          "shape": "JobPriority"
        },
        "Report": {
          "documentation": "<p>Configuration parameters for the optional job-completion report.</p>",
          "shape": "JobReport"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role that batch operations will use to execute this job's operation on each object in the manifest.</p>",
          "shape": "IAMRoleArn"
        },
        "Tags": {
          "documentation": "<p>An optional set of tags to associate with the job when it is created.</p>",
          "shape": "S3TagSet"
        }
      },
      "required": [
        "AccountId",
        "Operation",
        "Report",
        "ClientRequestToken",
        "Manifest",
        "Priority",
        "RoleArn"
      ],
      "type": "structure"
    },
    "CreateJobResult": {
      "members": {
        "JobId": {
          "documentation": "<p>The ID for this job. Amazon S3 generates this ID automatically and returns it after a successful <code>Create Job</code> request.</p>",
          "shape": "JobId"
        }
      },
      "type": "structure"
    },
    "CreationDate": {
      "type": "timestamp"
    },
    "DeleteAccessPointPolicyRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the account that owns the specified access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the access point whose policy you want to delete.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        }
      },
      "required": [
        "AccountId",
        "Name"
      ],
      "type": "structure"
    },
    "DeleteAccessPointRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the account that owns the specified access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the access point you want to delete.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        }
      },
      "required": [
        "AccountId",
        "Name"
      ],
      "type": "structure"
    },
    "DeleteJobTaggingRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the Amazon Web Services account associated with the Amazon S3 batch operations job you want to remove tags from.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobId": {
          "documentation": "<p>The ID for the job whose tags you want to delete.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "JobId"
        }
      },
      "required": [
        "AccountId",
        "JobId"
      ],
      "type": "structure"
    },
    "DeleteJobTaggingResult": {
      "members": {},
      "type": "structure"
    },
    "DeletePublicAccessBlockRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the Amazon Web Services account whose <code>PublicAccessBlock</code> configuration you want to remove.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "DescribeJobRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobId": {
          "documentation": "<p>The ID for the job whose information you want to retrieve.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "JobId"
        }
      },
      "required": [
        "AccountId",
        "JobId"
      ],
      "type": "structure"
    },
    "DescribeJobResult": {
      "members": {
        "Job": {
          "documentation": "<p>Contains the configuration parameters and status for the job specified in the <code>Describe Job</code> request.</p>",
          "shape": "JobDescriptor"
        }
      },
      "type": "structure"
    },
    "ExceptionMessage": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "GetAccessPointPolicyRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the account that owns the specified access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the access point whose policy you want to retrieve.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        }
      },
      "required": [
        "AccountId",
        "Name"
      ],
      "type": "structure"
    },
    "GetAccessPointPolicyResult": {
      "members": {
        "Policy": {
          "documentation": "<p>The access point policy associated with the specified access point.</p>",
          "shape": "Policy"
        }
      },
      "type": "structure"
    },
    "GetAccessPointPolicyStatusRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the account that owns the specified access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the access point whose policy status you want to retrieve.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        }
      },
      "required": [
        "AccountId",
        "Name"
      ],
      "type": "structure"
    },
    "GetAccessPointPolicyStatusResult": {
      "members": {
        "PolicyStatus": {
          "documentation": "<p>Indicates the current policy status of the specified access point.</p>",
          "shape": "PolicyStatus"
        }
      },
      "type": "structure"
    },
    "GetAccessPointRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the account that owns the specified access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the access point whose configuration information you want to retrieve.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        }
      },
      "required": [
        "AccountId",
        "Name"
      ],
      "type": "structure"
    },
    "GetAccessPointResult": {
      "members": {
        "Bucket": {
          "documentation": "<p>The name of the bucket associated with the specified access point.</p>",
          "shape": "BucketName"
        },
        "CreationDate": {
          "documentation": "<p>The date and time when the specified access point was created.</p>",
          "shape": "CreationDate"
        },
        "Name": {
          "documentation": "<p>The name of the specified access point.</p>",
          "shape": "AccessPointName"
        },
        "NetworkOrigin": {
          "documentation": "<p>Indicates whether this access point allows access from the public Internet. If <code>VpcConfiguration</code> is specified for this access point, then <code>NetworkOrigin</code> is <code>VPC</code>, and the access point doesn't allow access from the public Internet. Otherwise, <code>NetworkOrigin</code> is <code>Internet</code>, and the access point allows access from the public Internet, subject to the access point and bucket access policies.</p>",
          "shape": "NetworkOrigin"
        },
        "PublicAccessBlockConfiguration": {
          "shape": "PublicAccessBlockConfiguration"
        },
        "VpcConfiguration": {
          "documentation": "<p>Contains the Virtual Private Cloud (VPC) configuration for the specified access point.</p>",
          "shape": "VpcConfiguration"
        }
      },
      "type": "structure"
    },
    "GetJobTaggingRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the Amazon Web Services account associated with the Amazon S3 batch operations job you want to retrieve tags for.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobId": {
          "documentation": "<p>The ID for the job whose tags you want to retrieve.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "JobId"
        }
      },
      "required": [
        "AccountId",
        "JobId"
      ],
      "type": "structure"
    },
    "GetJobTaggingResult": {
      "members": {
        "Tags": {
          "documentation": "<p>The set of tags associated with the job.</p>",
          "shape": "S3TagSet"
        }
      },
      "type": "structure"
    },
    "GetPublicAccessBlockOutput": {
      "members": {
        "PublicAccessBlockConfiguration": {
          "documentation": "<p>The <code>PublicAccessBlock</code> configuration currently in effect for this Amazon Web Services account.</p>",
          "shape": "PublicAccessBlockConfiguration"
        }
      },
      "payload": "PublicAccessBlockConfiguration",
      "type": "structure"
    },
    "GetPublicAccessBlockRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the Amazon Web Services account whose <code>PublicAccessBlock</code> configuration you want to retrieve.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "IAMRoleArn": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "IdempotencyException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InternalServiceException": {
      "documentation": "<p/>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "IsPublic": {
      "type": "boolean"
    },
    "JobArn": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "JobCreationTime": {
      "type": "timestamp"
    },
    "JobDescriptor": {
      "documentation": "<p>A container element for the job configuration and status information returned by a <code>Describe Job</code> request.</p>",
      "members": {
        "ConfirmationRequired": {
          "box": true,
          "documentation": "<p>Indicates whether confirmation is required before Amazon S3 begins running the specified job. Confirmation is required only for jobs created through the Amazon S3 console.</p>",
          "shape": "ConfirmationRequired"
        },
        "CreationTime": {
          "documentation": "<p>A timestamp indicating when this job was created.</p>",
          "shape": "JobCreationTime"
        },
        "Description": {
          "box": true,
          "documentation": "<p>The description for this job, if one was provided in this job's <code>Create Job</code> request.</p>",
          "shape": "NonEmptyMaxLength256String"
        },
        "FailureReasons": {
          "box": true,
          "documentation": "<p>If the specified job failed, this field contains information describing the failure.</p>",
          "shape": "JobFailureList"
        },
        "JobArn": {
          "box": true,
          "documentation": "<p>The Amazon Resource Name (ARN) for this job.</p>",
          "shape": "JobArn"
        },
        "JobId": {
          "documentation": "<p>The ID for the specified job.</p>",
          "shape": "JobId"
        },
        "Manifest": {
          "box": true,
          "documentation": "<p>The configuration information for the specified job's manifest object.</p>",
          "shape": "JobManifest"
        },
        "Operation": {
          "box": true,
          "documentation": "<p>The operation that the specified job is configured to execute on the objects listed in the manifest.</p>",
          "shape": "JobOperation"
        },
        "Priority": {
          "documentation": "<p>The priority of the specified job.</p>",
          "shape": "JobPriority"
        },
        "ProgressSummary": {
          "box": true,
          "documentation": "<p>Describes the total number of tasks that the specified job has executed, the number of tasks that succeeded, and the number of tasks that failed.</p>",
          "shape": "JobProgressSummary"
        },
        "Report": {
          "box": true,
          "documentation": "<p>Contains the configuration information for the job-completion report if you requested one in the <code>Create Job</code> request.</p>",
          "shape": "JobReport"
        },
        "RoleArn": {
          "box": true,
          "documentation": "<p>The Amazon Resource Name (ARN) for the Identity and Access Management (IAM) Role assigned to execute the tasks for this job.</p>",
          "shape": "IAMRoleArn"
        },
        "Status": {
          "documentation": "<p>The current status of the specified job.</p>",
          "shape": "JobStatus"
        },
        "StatusUpdateReason": {
          "box": true,
          "documentation": "<p/>",
          "shape": "JobStatusUpdateReason"
        },
        "SuspendedCause": {
          "box": true,
          "documentation": "<p>The reason why the specified job was suspended. A job is only suspended if you create it through the Amazon S3 console. When you create the job, it enters the <code>Suspended</code> state to await confirmation before running. After you confirm the job, it automatically exits the <code>Suspended</code> state.</p>",
          "shape": "SuspendedCause"
        },
        "SuspendedDate": {
          "box": true,
          "documentation": "<p>The timestamp when this job was suspended, if it has been suspended.</p>",
          "shape": "SuspendedDate"
        },
        "TerminationDate": {
          "box": true,
          "documentation": "<p>A timestamp indicating when this job terminated. A job's termination date is the date and time when it succeeded, failed, or was canceled.</p>",
          "shape": "JobTerminationDate"
        }
      },
      "type": "structure"
    },
    "JobFailure": {
      "documentation": "<p>If this job failed, this element indicates why the job failed.</p>",
      "members": {
        "FailureCode": {
          "documentation": "<p>The failure code, if any, for the specified job.</p>",
          "shape": "JobFailureCode"
        },
        "FailureReason": {
          "documentation": "<p>The failure reason, if any, for the specified job.</p>",
          "shape": "JobFailureReason"
        }
      },
      "type": "structure"
    },
    "JobFailureCode": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "JobFailureList": {
      "member": {
        "shape": "JobFailure"
      },
      "type": "list"
    },
    "JobFailureReason": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "JobId": {
      "max": 36,
      "min": 5,
      "type": "string"
    },
    "JobListDescriptor": {
      "documentation": "<p>Contains the configuration and status information for a single job retrieved as part of a job list.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>A timestamp indicating when the specified job was created.</p>",
          "shape": "JobCreationTime"
        },
        "Description": {
          "documentation": "<p>The user-specified description that was included in the specified job's <code>Create Job</code> request.</p>",
          "shape": "NonEmptyMaxLength256String"
        },
        "JobId": {
          "documentation": "<p>The ID for the specified job.</p>",
          "shape": "JobId"
        },
        "Operation": {
          "documentation": "<p>The operation that the specified job is configured to run on each object listed in the manifest.</p>",
          "shape": "OperationName"
        },
        "Priority": {
          "documentation": "<p>The current priority for the specified job.</p>",
          "shape": "JobPriority"
        },
        "ProgressSummary": {
          "documentation": "<p>Describes the total number of tasks that the specified job has executed, the number of tasks that succeeded, and the number of tasks that failed.</p>",
          "shape": "JobProgressSummary"
        },
        "Status": {
          "documentation": "<p>The specified job's current status.</p>",
          "shape": "JobStatus"
        },
        "TerminationDate": {
          "documentation": "<p>A timestamp indicating when the specified job terminated. A job's termination date is the date and time when it succeeded, failed, or was canceled.</p>",
          "shape": "JobTerminationDate"
        }
      },
      "type": "structure"
    },
    "JobListDescriptorList": {
      "member": {
        "shape": "JobListDescriptor"
      },
      "type": "list"
    },
    "JobManifest": {
      "documentation": "<p>Contains the configuration information for a job's manifest.</p>",
      "members": {
        "Location": {
          "documentation": "<p>Contains the information required to locate the specified job's manifest.</p>",
          "shape": "JobManifestLocation"
        },
        "Spec": {
          "documentation": "<p>Describes the format of the specified job's manifest. If the manifest is in CSV format, also describes the columns contained within the manifest.</p>",
          "shape": "JobManifestSpec"
        }
      },
      "required": [
        "Spec",
        "Location"
      ],
      "type": "structure"
    },
    "JobManifestFieldList": {
      "member": {
        "shape": "JobManifestFieldName"
      },
      "type": "list"
    },
    "JobManifestFieldName": {
      "enum": [
        "Ignore",
        "Bucket",
        "Key",
        "VersionId"
      ],
      "type": "string"
    },
    "JobManifestFormat": {
      "enum": [
        "S3BatchOperations_CSV_20180820",
        "S3InventoryReport_CSV_20161130"
      ],
      "type": "string"
    },
    "JobManifestLocation": {
      "documentation": "<p>Contains the information required to locate a manifest object.</p>",
      "members": {
        "ETag": {
          "documentation": "<p>The ETag for the specified manifest object.</p>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ObjectArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for a manifest object.</p>",
          "shape": "S3KeyArnString"
        },
        "ObjectVersionId": {
          "box": true,
          "documentation": "<p>The optional version ID to identify a specific version of the manifest object.</p>",
          "shape": "S3ObjectVersionId"
        }
      },
      "required": [
        "ObjectArn",
        "ETag"
      ],
      "type": "structure"
    },
    "JobManifestSpec": {
      "documentation": "<p>Describes the format of a manifest. If the manifest is in CSV format, also describes the columns contained within the manifest.</p>",
      "members": {
        "Fields": {
          "box": true,
          "documentation": "<p>If the specified manifest object is in the <code>S3BatchOperations_CSV_20180820</code> format, this element describes which columns contain the required data.</p>",
          "shape": "JobManifestFieldList"
        },
        "Format": {
          "documentation": "<p>Indicates which of the available formats the specified manifest uses.</p>",
          "shape": "JobManifestFormat"
        }
      },
      "required": [
        "Format"
      ],
      "type": "structure"
    },
    "JobNumberOfTasksFailed": {
      "min": 0,
      "type": "long"
    },
    "JobNumberOfTasksSucceeded": {
      "min": 0,
      "type": "long"
    },
    "JobOperation": {
      "documentation": "<p>The operation that you want this job to perform on each object listed in the manifest. For more information about the available operations, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/batch-ops-operations.html\">Available Operations</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
      "members": {
        "LambdaInvoke": {
          "box": true,
          "documentation": "<p>Directs the specified job to invoke an AWS Lambda function on each object in the manifest.</p>",
          "shape": "LambdaInvokeOperation"
        },
        "S3InitiateRestoreObject": {
          "box": true,
          "documentation": "<p>Directs the specified job to execute an Initiate Glacier Restore call on each object in the manifest.</p>",
          "shape": "S3InitiateRestoreObjectOperation"
        },
        "S3PutObjectAcl": {
          "box": true,
          "documentation": "<p>Directs the specified job to execute a PUT Object acl call on each object in the manifest.</p>",
          "shape": "S3SetObjectAclOperation"
        },
        "S3PutObjectCopy": {
          "box": true,
          "documentation": "<p>Directs the specified job to execute a PUT Copy object call on each object in the manifest.</p>",
          "shape": "S3CopyObjectOperation"
        },
        "S3PutObjectTagging": {
          "box": true,
          "documentation": "<p>Directs the specified job to execute a PUT Object tagging call on each object in the manifest.</p>",
          "shape": "S3SetObjectTaggingOperation"
        }
      },
      "type": "structure"
    },
    "JobPriority": {
      "max": 2147483647,
      "min": 0,
      "type": "integer"
    },
    "JobProgressSummary": {
      "documentation": "<p>Describes the total number of tasks that the specified job has executed, the number of tasks that succeeded, and the number of tasks that failed.</p>",
      "members": {
        "NumberOfTasksFailed": {
          "box": true,
          "documentation": "<p/>",
          "shape": "JobNumberOfTasksFailed"
        },
        "NumberOfTasksSucceeded": {
          "box": true,
          "documentation": "<p/>",
          "shape": "JobNumberOfTasksSucceeded"
        },
        "TotalNumberOfTasks": {
          "box": true,
          "documentation": "<p/>",
          "shape": "JobTotalNumberOfTasks"
        }
      },
      "type": "structure"
    },
    "JobReport": {
      "documentation": "<p>Contains the configuration parameters for a job-completion report.</p>",
      "members": {
        "Bucket": {
          "box": true,
          "documentation": "<p>The Amazon Resource Name (ARN) for the bucket where specified job-completion report will be stored.</p>",
          "shape": "S3BucketArnString"
        },
        "Enabled": {
          "documentation": "<p>Indicates whether the specified job will generate a job-completion report.</p>",
          "shape": "Boolean"
        },
        "Format": {
          "box": true,
          "documentation": "<p>The format of the specified job-completion report.</p>",
          "shape": "JobReportFormat"
        },
        "Prefix": {
          "box": true,
          "documentation": "<p>An optional prefix to describe where in the specified bucket the job-completion report will be stored. Amazon S3 will store the job-completion report at &lt;prefix&gt;/job-&lt;job-id&gt;/report.json.</p>",
          "shape": "ReportPrefixString"
        },
        "ReportScope": {
          "box": true,
          "documentation": "<p>Indicates whether the job-completion report will include details of all tasks or only failed tasks.</p>",
          "shape": "JobReportScope"
        }
      },
      "required": [
        "Enabled"
      ],
      "type": "structure"
    },
    "JobReportFormat": {
      "enum": [
        "Report_CSV_20180820"
      ],
      "type": "string"
    },
    "JobReportScope": {
      "enum": [
        "AllTasks",
        "FailedTasksOnly"
      ],
      "type": "string"
    },
    "JobStatus": {
      "enum": [
        "Active",
        "Cancelled",
        "Cancelling",
        "Complete",
        "Completing",
        "Failed",
        "Failing",
        "New",
        "Paused",
        "Pausing",
        "Preparing",
        "Ready",
        "Suspended"
      ],
      "type": "string"
    },
    "JobStatusException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "JobStatusList": {
      "member": {
        "shape": "JobStatus"
      },
      "type": "list"
    },
    "JobStatusUpdateReason": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "JobTerminationDate": {
      "type": "timestamp"
    },
    "JobTotalNumberOfTasks": {
      "min": 0,
      "type": "long"
    },
    "KmsKeyArnString": {
      "max": 2000,
      "min": 1,
      "type": "string"
    },
    "LambdaInvokeOperation": {
      "documentation": "<p>Contains the configuration parameters for a <code>Lambda Invoke</code> operation.</p>",
      "members": {
        "FunctionArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the AWS Lambda function that the specified job will invoke for each object in the manifest.</p>",
          "shape": "NonEmptyMaxLength1024String"
        }
      },
      "type": "structure"
    },
    "ListAccessPointsRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The AWS account ID for owner of the bucket whose access points you want to list.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Bucket": {
          "documentation": "<p>The name of the bucket whose associated access points you want to list.</p>",
          "location": "querystring",
          "locationName": "bucket",
          "shape": "BucketName"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of access points that you want to include in the list. If the specified bucket has more than this number of access points, then the response will include a continuation token in the <code>NextToken</code> field that you can use to retrieve the next page of access points.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A continuation token. If a previous call to <code>ListAccessPoints</code> returned a continuation token in the <code>NextToken</code> field, then providing that value here causes Amazon S3 to retrieve the next page of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NonEmptyMaxLength1024String"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "ListAccessPointsResult": {
      "members": {
        "AccessPointList": {
          "documentation": "<p>Contains identification and configuration information for one or more access points associated with the specified bucket.</p>",
          "shape": "AccessPointList"
        },
        "NextToken": {
          "documentation": "<p>If the specified bucket has more access points than can be returned in one call to this API, then this field contains a continuation token that you can provide in subsequent calls to this API to retrieve additional access points.</p>",
          "shape": "NonEmptyMaxLength1024String"
        }
      },
      "type": "structure"
    },
    "ListJobsRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobStatuses": {
          "documentation": "<p>The <code>List Jobs</code> request returns jobs that match the statuses listed in this element.</p>",
          "location": "querystring",
          "locationName": "jobStatuses",
          "shape": "JobStatusList"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The maximum number of jobs that Amazon S3 will include in the <code>List Jobs</code> response. If there are more jobs than this number, the response will include a pagination token in the <code>NextToken</code> field to enable you to retrieve the next page of results.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>A pagination token to request the next page of results. Use the token that Amazon S3 returned in the <code>NextToken</code> element of the <code>ListJobsResult</code> from the previous <code>List Jobs</code> request.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NonEmptyMaxLength1024String"
        }
      },
      "required": [
        "AccountId"
      ],
      "type": "structure"
    },
    "ListJobsResult": {
      "members": {
        "Jobs": {
          "documentation": "<p>The list of current jobs and jobs that have ended within the last 30 days.</p>",
          "shape": "JobListDescriptorList"
        },
        "NextToken": {
          "documentation": "<p>If the <code>List Jobs</code> request produced more than the maximum number of results, you can pass this value into a subsequent <code>List Jobs</code> request in order to retrieve the next page of results.</p>",
          "shape": "NonEmptyMaxLength1024String"
        }
      },
      "type": "structure"
    },
    "MaxLength1024String": {
      "max": 1024,
      "type": "string"
    },
    "MaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "NetworkOrigin": {
      "enum": [
        "Internet",
        "VPC"
      ],
      "type": "string"
    },
    "NoSuchPublicAccessBlockConfiguration": {
      "documentation": "<p>Amazon S3 throws this exception if you make a <code>GetPublicAccessBlock</code> request against an account that doesn't have a <code>PublicAccessBlockConfiguration</code> set.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "NoSuchPublicAccessBlockConfigurationMessage"
        }
      },
      "type": "structure"
    },
    "NoSuchPublicAccessBlockConfigurationMessage": {
      "type": "string"
    },
    "NonEmptyMaxLength1024String": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "NonEmptyMaxLength2048String": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "NonEmptyMaxLength256String": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "NonEmptyMaxLength64String": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "NotFoundException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "OperationName": {
      "enum": [
        "LambdaInvoke",
        "S3PutObjectCopy",
        "S3PutObjectAcl",
        "S3PutObjectTagging",
        "S3InitiateRestoreObject"
      ],
      "type": "string"
    },
    "Policy": {
      "type": "string"
    },
    "PolicyStatus": {
      "documentation": "<p>Indicates whether this access point policy is public. For more information about how Amazon S3 evaluates policies to determine whether they are public, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status\">The Meaning of \"Public\"</a> in the <i>Amazon Simple Storage Service Developer Guide</i>. </p>",
      "members": {
        "IsPublic": {
          "documentation": "<p/>",
          "locationName": "IsPublic",
          "shape": "IsPublic"
        }
      },
      "type": "structure"
    },
    "PublicAccessBlockConfiguration": {
      "documentation": "<p>The <code>PublicAccessBlock</code> configuration that you want to apply to this Amazon S3 bucket. You can enable the configuration options in any combination. For more information about when Amazon S3 considers a bucket or object public, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status\">The Meaning of \"Public\"</a> in the Amazon Simple Storage Service Developer Guide.</p>",
      "members": {
        "BlockPublicAcls": {
          "documentation": "<p>Specifies whether Amazon S3 should block public access control lists (ACLs) for buckets in this account. Setting this element to <code>TRUE</code> causes the following behavior:</p> <ul> <li> <p>PUT Bucket acl and PUT Object acl calls fail if the specified ACL is public.</p> </li> <li> <p>PUT Object calls fail if the request includes a public ACL.</p> </li> <li> <p>PUT Bucket calls fail if the request includes a public ACL.</p> </li> </ul> <p>Enabling this setting doesn't affect existing policies or ACLs.</p>",
          "locationName": "BlockPublicAcls",
          "shape": "Setting"
        },
        "BlockPublicPolicy": {
          "documentation": "<p>Specifies whether Amazon S3 should block public bucket policies for buckets in this account. Setting this element to <code>TRUE</code> causes Amazon S3 to reject calls to PUT Bucket policy if the specified bucket policy allows public access. </p> <p>Enabling this setting doesn't affect existing bucket policies.</p>",
          "locationName": "BlockPublicPolicy",
          "shape": "Setting"
        },
        "IgnorePublicAcls": {
          "documentation": "<p>Specifies whether Amazon S3 should ignore public ACLs for buckets in this account. Setting this element to <code>TRUE</code> causes Amazon S3 to ignore all public ACLs on buckets in this account and any objects that they contain. </p> <p>Enabling this setting doesn't affect the persistence of any existing ACLs and doesn't prevent new public ACLs from being set.</p>",
          "locationName": "IgnorePublicAcls",
          "shape": "Setting"
        },
        "RestrictPublicBuckets": {
          "documentation": "<p>Specifies whether Amazon S3 should restrict public bucket policies for buckets in this account. Setting this element to <code>TRUE</code> restricts access to buckets with public policies to only AWS services and authorized users within this account.</p> <p>Enabling this setting doesn't affect previously stored bucket policies, except that public and cross-account access within any public bucket policy, including non-public delegation to specific accounts, is blocked.</p>",
          "locationName": "RestrictPublicBuckets",
          "shape": "Setting"
        }
      },
      "type": "structure"
    },
    "PutAccessPointPolicyRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The AWS account ID for owner of the bucket associated with the specified access point.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the access point that you want to associate with the specified policy.</p>",
          "location": "uri",
          "locationName": "name",
          "shape": "AccessPointName"
        },
        "Policy": {
          "documentation": "<p>The policy that you want to apply to the specified access point. For more information about access point policies, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-points.html\">Managing Data Access with Amazon S3 Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
          "shape": "Policy"
        }
      },
      "required": [
        "AccountId",
        "Name",
        "Policy"
      ],
      "type": "structure"
    },
    "PutJobTaggingRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the Amazon Web Services account associated with the Amazon S3 batch operations job you want to replace tags on.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobId": {
          "documentation": "<p>The ID for the job whose tags you want to replace.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "JobId"
        },
        "Tags": {
          "documentation": "<p>The set of tags to associate with the job.</p>",
          "shape": "S3TagSet"
        }
      },
      "required": [
        "AccountId",
        "JobId",
        "Tags"
      ],
      "type": "structure"
    },
    "PutJobTaggingResult": {
      "members": {},
      "type": "structure"
    },
    "PutPublicAccessBlockRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID for the Amazon Web Services account whose <code>PublicAccessBlock</code> configuration you want to set.</p>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "PublicAccessBlockConfiguration": {
          "documentation": "<p>The <code>PublicAccessBlock</code> configuration that you want to apply to the specified Amazon Web Services account.</p>",
          "locationName": "PublicAccessBlockConfiguration",
          "shape": "PublicAccessBlockConfiguration",
          "xmlNamespace": {
            "uri": "http://awss3control.amazonaws.com/doc/2018-08-20/"
          }
        }
      },
      "payload": "PublicAccessBlockConfiguration",
      "required": [
        "PublicAccessBlockConfiguration",
        "AccountId"
      ],
      "type": "structure"
    },
    "ReportPrefixString": {
      "max": 512,
      "min": 1,
      "type": "string"
    },
    "RequestedJobStatus": {
      "enum": [
        "Cancelled",
        "Ready"
      ],
      "type": "string"
    },
    "S3AccessControlList": {
      "documentation": "<p/>",
      "members": {
        "Grants": {
          "documentation": "<p/>",
          "shape": "S3GrantList"
        },
        "Owner": {
          "documentation": "<p/>",
          "shape": "S3ObjectOwner"
        }
      },
      "required": [
        "Owner"
      ],
      "type": "structure"
    },
    "S3AccessControlPolicy": {
      "documentation": "<p/>",
      "members": {
        "AccessControlList": {
          "box": true,
          "documentation": "<p/>",
          "shape": "S3AccessControlList"
        },
        "CannedAccessControlList": {
          "box": true,
          "documentation": "<p/>",
          "shape": "S3CannedAccessControlList"
        }
      },
      "type": "structure"
    },
    "S3BucketArnString": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "S3CannedAccessControlList": {
      "enum": [
        "private",
        "public-read",
        "public-read-write",
        "aws-exec-read",
        "authenticated-read",
        "bucket-owner-read",
        "bucket-owner-full-control"
      ],
      "type": "string"
    },
    "S3ContentLength": {
      "min": 0,
      "type": "long"
    },
    "S3CopyObjectOperation": {
      "documentation": "<p>Contains the configuration parameters for a PUT Copy object operation. Amazon S3 batch operations passes each value through to the underlying PUT Copy object API. For more information about the parameters for this operation, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectCOPY.html\">PUT Object - Copy</a>.</p>",
      "members": {
        "AccessControlGrants": {
          "box": true,
          "documentation": "<p/>",
          "shape": "S3GrantList"
        },
        "CannedAccessControlList": {
          "box": true,
          "documentation": "<p/>",
          "shape": "S3CannedAccessControlList"
        },
        "MetadataDirective": {
          "documentation": "<p/>",
          "shape": "S3MetadataDirective"
        },
        "ModifiedSinceConstraint": {
          "documentation": "<p/>",
          "shape": "TimeStamp"
        },
        "NewObjectMetadata": {
          "documentation": "<p/>",
          "shape": "S3ObjectMetadata"
        },
        "NewObjectTagging": {
          "documentation": "<p/>",
          "shape": "S3TagSet"
        },
        "ObjectLockLegalHoldStatus": {
          "documentation": "<p/>",
          "shape": "S3ObjectLockLegalHoldStatus"
        },
        "ObjectLockMode": {
          "documentation": "<p/>",
          "shape": "S3ObjectLockMode"
        },
        "ObjectLockRetainUntilDate": {
          "documentation": "<p/>",
          "shape": "TimeStamp"
        },
        "RedirectLocation": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength2048String"
        },
        "RequesterPays": {
          "documentation": "<p/>",
          "shape": "Boolean"
        },
        "SSEAwsKmsKeyId": {
          "documentation": "<p/>",
          "shape": "KmsKeyArnString"
        },
        "StorageClass": {
          "documentation": "<p/>",
          "shape": "S3StorageClass"
        },
        "TargetKeyPrefix": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "TargetResource": {
          "documentation": "<p/>",
          "shape": "S3BucketArnString"
        },
        "UnModifiedSinceConstraint": {
          "documentation": "<p/>",
          "shape": "TimeStamp"
        }
      },
      "type": "structure"
    },
    "S3ExpirationInDays": {
      "min": 0,
      "type": "integer"
    },
    "S3GlacierJobTier": {
      "enum": [
        "BULK",
        "STANDARD"
      ],
      "type": "string"
    },
    "S3Grant": {
      "documentation": "<p/>",
      "members": {
        "Grantee": {
          "documentation": "<p/>",
          "shape": "S3Grantee"
        },
        "Permission": {
          "documentation": "<p/>",
          "shape": "S3Permission"
        }
      },
      "type": "structure"
    },
    "S3GrantList": {
      "member": {
        "shape": "S3Grant"
      },
      "type": "list"
    },
    "S3Grantee": {
      "documentation": "<p/>",
      "members": {
        "DisplayName": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "Identifier": {
          "box": true,
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "TypeIdentifier": {
          "documentation": "<p/>",
          "shape": "S3GranteeTypeIdentifier"
        }
      },
      "type": "structure"
    },
    "S3GranteeTypeIdentifier": {
      "enum": [
        "id",
        "emailAddress",
        "uri"
      ],
      "type": "string"
    },
    "S3InitiateRestoreObjectOperation": {
      "documentation": "<p>Contains the configuration parameters for an Initiate Glacier Restore job. Amazon S3 batch operations passes each value through to the underlying POST Object restore API. For more information about the parameters for this operation, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPOSTrestore.html#RESTObjectPOSTrestore-restore-request\">Restoring Archives</a>.</p>",
      "members": {
        "ExpirationInDays": {
          "documentation": "<p/>",
          "shape": "S3ExpirationInDays"
        },
        "GlacierJobTier": {
          "documentation": "<p/>",
          "shape": "S3GlacierJobTier"
        }
      },
      "type": "structure"
    },
    "S3KeyArnString": {
      "max": 2000,
      "min": 1,
      "type": "string"
    },
    "S3MetadataDirective": {
      "enum": [
        "COPY",
        "REPLACE"
      ],
      "type": "string"
    },
    "S3ObjectLockLegalHoldStatus": {
      "enum": [
        "OFF",
        "ON"
      ],
      "type": "string"
    },
    "S3ObjectLockMode": {
      "enum": [
        "COMPLIANCE",
        "GOVERNANCE"
      ],
      "type": "string"
    },
    "S3ObjectMetadata": {
      "documentation": "<p/>",
      "members": {
        "CacheControl": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ContentDisposition": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ContentEncoding": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ContentLanguage": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ContentLength": {
          "box": true,
          "documentation": "<p/>",
          "shape": "S3ContentLength"
        },
        "ContentMD5": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ContentType": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "HttpExpiresDate": {
          "documentation": "<p/>",
          "shape": "TimeStamp"
        },
        "RequesterCharged": {
          "documentation": "<p/>",
          "shape": "Boolean"
        },
        "SSEAlgorithm": {
          "documentation": "<p/>",
          "shape": "S3SSEAlgorithm"
        },
        "UserMetadata": {
          "documentation": "<p/>",
          "shape": "S3UserMetadata"
        }
      },
      "type": "structure"
    },
    "S3ObjectOwner": {
      "documentation": "<p/>",
      "members": {
        "DisplayName": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "ID": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        }
      },
      "type": "structure"
    },
    "S3ObjectVersionId": {
      "max": 2000,
      "min": 1,
      "type": "string"
    },
    "S3Permission": {
      "enum": [
        "FULL_CONTROL",
        "READ",
        "WRITE",
        "READ_ACP",
        "WRITE_ACP"
      ],
      "type": "string"
    },
    "S3SSEAlgorithm": {
      "enum": [
        "AES256",
        "KMS"
      ],
      "type": "string"
    },
    "S3SetObjectAclOperation": {
      "documentation": "<p>Contains the configuration parameters for a Set Object ACL operation. Amazon S3 batch operations passes each value through to the underlying PUT Object acl API. For more information about the parameters for this operation, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTacl.html\">PUT Object acl</a>.</p>",
      "members": {
        "AccessControlPolicy": {
          "documentation": "<p/>",
          "shape": "S3AccessControlPolicy"
        }
      },
      "type": "structure"
    },
    "S3SetObjectTaggingOperation": {
      "documentation": "<p>Contains the configuration parameters for a Set Object Tagging operation. Amazon S3 batch operations passes each value through to the underlying PUT Object tagging API. For more information about the parameters for this operation, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/RESTObjectPUTtagging.html\">PUT Object tagging</a>.</p>",
      "members": {
        "TagSet": {
          "documentation": "<p/>",
          "shape": "S3TagSet"
        }
      },
      "type": "structure"
    },
    "S3StorageClass": {
      "enum": [
        "STANDARD",
        "STANDARD_IA",
        "ONEZONE_IA",
        "GLACIER",
        "INTELLIGENT_TIERING",
        "DEEP_ARCHIVE"
      ],
      "type": "string"
    },
    "S3Tag": {
      "documentation": "<p/>",
      "members": {
        "Key": {
          "documentation": "<p/>",
          "shape": "NonEmptyMaxLength1024String"
        },
        "Value": {
          "documentation": "<p/>",
          "shape": "MaxLength1024String"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "S3TagSet": {
      "member": {
        "shape": "S3Tag"
      },
      "type": "list"
    },
    "S3UserMetadata": {
      "key": {
        "shape": "NonEmptyMaxLength1024String"
      },
      "max": 8192,
      "type": "map",
      "value": {
        "shape": "MaxLength1024String"
      }
    },
    "Setting": {
      "type": "boolean"
    },
    "SuspendedCause": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "SuspendedDate": {
      "type": "timestamp"
    },
    "TimeStamp": {
      "type": "timestamp"
    },
    "TooManyRequestsException": {
      "documentation": "<p/>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "TooManyTagsException": {
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "UpdateJobPriorityRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobId": {
          "documentation": "<p>The ID for the job whose priority you want to update.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "JobId"
        },
        "Priority": {
          "documentation": "<p>The priority you want to assign to this job.</p>",
          "location": "querystring",
          "locationName": "priority",
          "shape": "JobPriority"
        }
      },
      "required": [
        "AccountId",
        "JobId",
        "Priority"
      ],
      "type": "structure"
    },
    "UpdateJobPriorityResult": {
      "members": {
        "JobId": {
          "documentation": "<p>The ID for the job whose priority Amazon S3 updated.</p>",
          "shape": "JobId"
        },
        "Priority": {
          "documentation": "<p>The new priority assigned to the specified job.</p>",
          "shape": "JobPriority"
        }
      },
      "required": [
        "JobId",
        "Priority"
      ],
      "type": "structure"
    },
    "UpdateJobStatusRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p/>",
          "location": "header",
          "locationName": "x-amz-account-id",
          "shape": "AccountId"
        },
        "JobId": {
          "documentation": "<p>The ID of the job whose status you want to update.</p>",
          "location": "uri",
          "locationName": "id",
          "shape": "JobId"
        },
        "RequestedJobStatus": {
          "documentation": "<p>The status that you want to move the specified job to.</p>",
          "location": "querystring",
          "locationName": "requestedJobStatus",
          "shape": "RequestedJobStatus"
        },
        "StatusUpdateReason": {
          "documentation": "<p>A description of the reason why you want to change the specified job's status. This field can be any string up to the maximum length.</p>",
          "location": "querystring",
          "locationName": "statusUpdateReason",
          "shape": "JobStatusUpdateReason"
        }
      },
      "required": [
        "AccountId",
        "JobId",
        "RequestedJobStatus"
      ],
      "type": "structure"
    },
    "UpdateJobStatusResult": {
      "members": {
        "JobId": {
          "documentation": "<p>The ID for the job whose status was updated.</p>",
          "shape": "JobId"
        },
        "Status": {
          "documentation": "<p>The current status for the specified job.</p>",
          "shape": "JobStatus"
        },
        "StatusUpdateReason": {
          "documentation": "<p>The reason that the specified job's status was updated.</p>",
          "shape": "JobStatusUpdateReason"
        }
      },
      "type": "structure"
    },
    "VpcConfiguration": {
      "documentation": "<p>The Virtual Private Cloud (VPC) configuration for an access point.</p>",
      "members": {
        "VpcId": {
          "documentation": "<p>If this field is specified, this access point will only allow connections from the specified VPC ID.</p>",
          "shape": "VpcId"
        }
      },
      "required": [
        "VpcId"
      ],
      "type": "structure"
    },
    "VpcId": {
      "max": 1024,
      "min": 1,
      "type": "string"
    }
  },
  "version": "2.0"
}
