{
  "documentation": "<note> <p>This is the latest version of the <b>AWS WAF</b> API, released in November, 2019. The names of the entities that you use to access this API, like endpoints and namespaces, all have the versioning information added, like \"V2\" or \"v2\", to distinguish from the prior version. We recommend migrating your resources to this version, because it has a number of significant improvements.</p> <p>If you used AWS WAF prior to this release, you can't use this AWS WAFV2 API to access any AWS WAF resources that you created before. You can access your old rules, web ACLs, and other AWS WAF resources only through the AWS WAF Classic APIs. The AWS WAF Classic APIs have retained the prior names, endpoints, and namespaces. </p> <p>For information, including how to migrate your AWS WAF resources to this version, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>AWS WAF is a web application firewall that lets you monitor the HTTP and HTTPS requests that are forwarded to Amazon CloudFront, an Amazon API Gateway API, or an Application Load Balancer. AWS WAF also lets you control access to your content. Based on conditions that you specify, such as the IP addresses that requests originate from or the values of query strings, API Gateway, CloudFront, or the Application Load Balancer responds to requests either with the requested content or with an HTTP 403 status code (Forbidden). You also can configure CloudFront to return a custom error page when a request is blocked.</p> <p>This API guide is for developers who need detailed information about AWS WAF API actions, data types, and errors. For detailed information about AWS WAF features and an overview of how to use AWS WAF, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF Developer Guide</a>.</p> <p>You can make calls using the endpoints listed in <a href=\"https://docs.aws.amazon.com/general/latest/gr/rande.html#waf_region\">AWS Service Endpoints for AWS WAF</a>. </p> <ul> <li> <p>For regional applications, you can use any of the endpoints in the list. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> </li> <li> <p>For AWS CloudFront applications, you must use the API endpoint listed for US East (N. Virginia): us-east-1.</p> </li> </ul> <p>Alternatively, you can use one of the AWS SDKs to access an API that's tailored to the programming language or platform that you're using. For more information, see <a href=\"http://aws.amazon.com/tools/#SDKs\">AWS SDKs</a>.</p> <p>We currently provide two versions of the AWS WAF API: this API and the prior versions, the classic AWS WAF APIs. This new API provides the same functionality as the older versions, with the following major improvements:</p> <ul> <li> <p>You use one API for both global and regional applications. Where you need to distinguish the scope, you specify a <code>Scope</code> parameter and set it to <code>CLOUDFRONT</code> or <code>REGIONAL</code>. </p> </li> <li> <p>You can define a Web ACL or rule group with a single call, and update it with a single call. You define all rule specifications in JSON format, and pass them to your rule group or Web ACL calls.</p> </li> <li> <p>The limits AWS WAF places on the use of rules more closely reflects the cost of running each type of rule. Rule groups include capacity settings, so you know the maximum cost of a rule group when you use it.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2019-07-29",
    "endpointPrefix": "wafv2",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "WAFV2",
    "serviceFullName": "AWS WAFV2",
    "serviceId": "WAFV2",
    "signatureVersion": "v4",
    "targetPrefix": "AWSWAF_20190729",
    "uid": "wafv2-2019-07-29"
  },
  "operations": {
    "AssociateWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Associates a Web ACL with a regional application resource, to protect the resource. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>For AWS CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To associate a Web ACL, in the CloudFront call <code>UpdateDistribution</code>, set the web ACL ID to the Amazon Resource Name (ARN) of the Web ACL. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateWebACLRequest"
      },
      "name": "AssociateWebACL",
      "output": {
        "shape": "AssociateWebACLResponse"
      }
    },
    "CheckCapacity": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Returns the web ACL capacity unit (WCU) requirements for a specified scope and set of rules. You can use this to check the capacity requirements for the rules you want to use in a <a>RuleGroup</a> or <a>WebACL</a>. </p> <p>AWS WAF uses WCUs to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. AWS WAF calculates capacity differently for each rule type, to reflect the relative cost of each rule. Simple rules that cost little to run use fewer WCUs than more complex rules that use more processing power. Rule group capacity is fixed at creation, which helps users plan their web ACL WCU usage when they use a rule group. The WCU limit for web ACLs is 1,500. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckCapacityRequest"
      },
      "name": "CheckCapacity",
      "output": {
        "shape": "CheckCapacityResponse"
      }
    },
    "CreateIPSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates an <a>IPSet</a>, which you use to identify web requests that originate from specific IP addresses or ranges of IP addresses. For example, if you're receiving a lot of requests from a ranges of IP addresses, you can configure AWS WAF to block them using an IPSet that lists those IP addresses. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateIPSetRequest"
      },
      "name": "CreateIPSet",
      "output": {
        "shape": "CreateIPSetResponse"
      }
    },
    "CreateRegexPatternSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>RegexPatternSet</a>, which you reference in a <a>RegexPatternSetReferenceStatement</a>, to have AWS WAF inspect a web request component for the specified patterns.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRegexPatternSetRequest"
      },
      "name": "CreateRegexPatternSet",
      "output": {
        "shape": "CreateRegexPatternSetResponse"
      }
    },
    "CreateRuleGroup": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>RuleGroup</a> per the specifications provided. </p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleGroupRequest"
      },
      "name": "CreateRuleGroup",
      "output": {
        "shape": "CreateRuleGroupResponse"
      }
    },
    "CreateWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Creates a <a>WebACL</a> per the specifications provided.</p> <p> A Web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the Web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a Web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a Web ACL with one or more AWS resources to protect. The resources can be Amazon CloudFront, an Amazon API Gateway API, or an Application Load Balancer. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWebACLRequest"
      },
      "name": "CreateWebACL",
      "output": {
        "shape": "CreateWebACLResponse"
      }
    },
    "DeleteFirewallManagerRuleGroups": {
      "documentation": "<p>Deletes all rule groups that are managed by AWS Firewall Manager for the specified web ACL. </p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified <a>WebACL</a>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteFirewallManagerRuleGroupsRequest"
      },
      "name": "DeleteFirewallManagerRuleGroups",
      "output": {
        "shape": "DeleteFirewallManagerRuleGroupsResponse"
      }
    },
    "DeleteIPSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>IPSet</a>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIPSetRequest"
      },
      "name": "DeleteIPSet",
      "output": {
        "shape": "DeleteIPSetResponse"
      }
    },
    "DeleteLoggingConfiguration": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the <a>LoggingConfiguration</a> from the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoggingConfigurationRequest"
      },
      "name": "DeleteLoggingConfiguration",
      "output": {
        "shape": "DeleteLoggingConfigurationResponse"
      }
    },
    "DeletePermissionPolicy": {
      "documentation": "<p>Permanently deletes an IAM policy from the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePermissionPolicyRequest"
      },
      "name": "DeletePermissionPolicy",
      "output": {
        "shape": "DeletePermissionPolicyResponse"
      }
    },
    "DeleteRegexPatternSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>RegexPatternSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRegexPatternSetRequest"
      },
      "name": "DeleteRegexPatternSet",
      "output": {
        "shape": "DeleteRegexPatternSetResponse"
      }
    },
    "DeleteRuleGroup": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>RuleGroup</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleGroupRequest"
      },
      "name": "DeleteRuleGroup",
      "output": {
        "shape": "DeleteRuleGroupResponse"
      }
    },
    "DeleteWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Deletes the specified <a>WebACL</a>.</p> <p>You can only use this if <code>ManagedByFirewallManager</code> is false in the specified <a>WebACL</a>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFAssociatedItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWebACLRequest"
      },
      "name": "DeleteWebACL",
      "output": {
        "shape": "DeleteWebACLResponse"
      }
    },
    "DescribeManagedRuleGroup": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Provides high-level information for a managed rule group, including descriptions of the rules. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeManagedRuleGroupRequest"
      },
      "name": "DescribeManagedRuleGroup",
      "output": {
        "shape": "DescribeManagedRuleGroupResponse"
      }
    },
    "DisassociateWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Disassociates a Web ACL from a regional application resource. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>For AWS CloudFront, don't use this call. Instead, use your CloudFront distribution configuration. To disassociate a Web ACL, provide an empty web ACL ID in the CloudFront call <code>UpdateDistribution</code>. For information, see <a href=\"https://docs.aws.amazon.com/cloudfront/latest/APIReference/API_UpdateDistribution.html\">UpdateDistribution</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateWebACLRequest"
      },
      "name": "DisassociateWebACL",
      "output": {
        "shape": "DisassociateWebACLResponse"
      }
    },
    "GetIPSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>IPSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetIPSetRequest"
      },
      "name": "GetIPSet",
      "output": {
        "shape": "GetIPSetResponse"
      }
    },
    "GetLoggingConfiguration": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Returns the <a>LoggingConfiguration</a> for the specified web ACL.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoggingConfigurationRequest"
      },
      "name": "GetLoggingConfiguration",
      "output": {
        "shape": "GetLoggingConfigurationResponse"
      }
    },
    "GetPermissionPolicy": {
      "documentation": "<p>Returns the IAM policy that is attached to the specified rule group.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPermissionPolicyRequest"
      },
      "name": "GetPermissionPolicy",
      "output": {
        "shape": "GetPermissionPolicyResponse"
      }
    },
    "GetRateBasedStatementManagedKeys": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the keys that are currently blocked by a rate-based rule. The maximum number of managed keys that can be blocked for a single rate-based rule is 10,000. If more than 10,000 addresses exceed the rate limit, those with the highest rates are blocked.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRateBasedStatementManagedKeysRequest"
      },
      "name": "GetRateBasedStatementManagedKeys",
      "output": {
        "shape": "GetRateBasedStatementManagedKeysResponse"
      }
    },
    "GetRegexPatternSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>RegexPatternSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRegexPatternSetRequest"
      },
      "name": "GetRegexPatternSet",
      "output": {
        "shape": "GetRegexPatternSetResponse"
      }
    },
    "GetRuleGroup": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>RuleGroup</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRuleGroupRequest"
      },
      "name": "GetRuleGroup",
      "output": {
        "shape": "GetRuleGroupResponse"
      }
    },
    "GetSampledRequests": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Gets detailed information about a specified number of requests--a sample--that AWS WAF randomly selects from among the first 5,000 requests that your AWS resource received during a time range that you choose. You can specify a sample size of up to 500 requests, and you can specify any time range in the previous three hours.</p> <p> <code>GetSampledRequests</code> returns a time range, which is usually the time range that you specified. However, if your resource (such as a CloudFront distribution) received 5,000 requests before the specified time range elapsed, <code>GetSampledRequests</code> returns an updated time range. This new time range indicates the actual period during which AWS WAF selected the requests in the sample.</p>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSampledRequestsRequest"
      },
      "name": "GetSampledRequests",
      "output": {
        "shape": "GetSampledRequestsResponse"
      }
    },
    "GetWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the specified <a>WebACL</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWebACLRequest"
      },
      "name": "GetWebACL",
      "output": {
        "shape": "GetWebACLResponse"
      }
    },
    "GetWebACLForResource": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the <a>WebACL</a> for the specified resource. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWebACLForResourceRequest"
      },
      "name": "GetWebACLForResource",
      "output": {
        "shape": "GetWebACLForResourceResponse"
      }
    },
    "ListAvailableManagedRuleGroups": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of managed rule groups that are available for you to use. This list includes all AWS Managed Rules rule groups and the AWS Marketplace managed rule groups that you're subscribed to.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAvailableManagedRuleGroupsRequest"
      },
      "name": "ListAvailableManagedRuleGroups",
      "output": {
        "shape": "ListAvailableManagedRuleGroupsResponse"
      }
    },
    "ListIPSets": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>IPSetSummary</a> objects for the IP sets that you manage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListIPSetsRequest"
      },
      "name": "ListIPSets",
      "output": {
        "shape": "ListIPSetsResponse"
      }
    },
    "ListLoggingConfigurations": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of your <a>LoggingConfiguration</a> objects.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLoggingConfigurationsRequest"
      },
      "name": "ListLoggingConfigurations",
      "output": {
        "shape": "ListLoggingConfigurationsResponse"
      }
    },
    "ListRegexPatternSets": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>RegexPatternSetSummary</a> objects for the regex pattern sets that you manage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRegexPatternSetsRequest"
      },
      "name": "ListRegexPatternSets",
      "output": {
        "shape": "ListRegexPatternSetsResponse"
      }
    },
    "ListResourcesForWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of the Amazon Resource Names (ARNs) for the regional resources that are associated with the specified web ACL. If you want the list of AWS CloudFront resources, use the AWS CloudFront call <code>ListDistributionsByWebACLId</code>. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesForWebACLRequest"
      },
      "name": "ListResourcesForWebACL",
      "output": {
        "shape": "ListResourcesForWebACLResponse"
      }
    },
    "ListRuleGroups": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>RuleGroupSummary</a> objects for the rule groups that you manage. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRuleGroupsRequest"
      },
      "name": "ListRuleGroups",
      "output": {
        "shape": "ListRuleGroupsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves the <a>TagInfoForResource</a> for the specified resource. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListWebACLs": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Retrieves an array of <a>WebACLSummary</a> objects for the web ACLs that you manage.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWebACLsRequest"
      },
      "name": "ListWebACLs",
      "output": {
        "shape": "ListWebACLsResponse"
      }
    },
    "PutLoggingConfiguration": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Enables the specified <a>LoggingConfiguration</a>, to start logging from a web ACL, according to the configuration provided.</p> <p>You can access information about all traffic that AWS WAF inspects using the following steps:</p> <ol> <li> <p>Create an Amazon Kinesis Data Firehose. </p> <p>Create the data firehose with a PUT source and in the Region that you are operating. If you are capturing logs for Amazon CloudFront, always create the firehose in US East (N. Virginia). </p> <note> <p>Do not create the data firehose using a <code>Kinesis stream</code> as your source.</p> </note> </li> <li> <p>Associate that firehose to your web ACL using a <code>PutLoggingConfiguration</code> request.</p> </li> </ol> <p>When you successfully enable logging using a <code>PutLoggingConfiguration</code> request, AWS WAF will create a service linked role with the necessary permissions to write logs to the Amazon Kinesis Data Firehose. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/logging.html\">Logging Web ACL Traffic Information</a> in the <i>AWS WAF Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFServiceLinkedRoleErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLoggingConfigurationRequest"
      },
      "name": "PutLoggingConfiguration",
      "output": {
        "shape": "PutLoggingConfigurationResponse"
      }
    },
    "PutPermissionPolicy": {
      "documentation": "<p>Attaches an IAM policy to the specified resource. Use this to share a rule group across accounts.</p> <p>You must be the owner of the rule group to perform this operation.</p> <p>This action is subject to the following restrictions:</p> <ul> <li> <p>You can attach only one policy with each <code>PutPermissionPolicy</code> request.</p> </li> <li> <p>The ARN in the request must be a valid WAF <a>RuleGroup</a> ARN and the rule group must exist in the same region.</p> </li> <li> <p>The user making the request must be the owner of the rule group.</p> </li> </ul>",
      "errors": [
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFInvalidPermissionPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPermissionPolicyRequest"
      },
      "name": "PutPermissionPolicy",
      "output": {
        "shape": "PutPermissionPolicyResponse"
      }
    },
    "TagResource": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Associates tags with the specified AWS resource. Tags are key:value pairs that you can associate with AWS resources. For example, the tag key might be \"customer\" and the tag value might be \"companyA.\" You can specify one or more tags to add to each container. You can add up to 50 tags to each AWS resource.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Disassociates tags from an AWS resource. Tags are key:value pairs that you can associate with AWS resources. For example, the tag key might be \"customer\" and the tag value might be \"companyA.\" You can specify one or more tags to add to each container. You can add up to 50 tags to each AWS resource.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFTagOperationException"
        },
        {
          "shape": "WAFTagOperationInternalErrorException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateIPSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Updates the specified <a>IPSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateIPSetRequest"
      },
      "name": "UpdateIPSet",
      "output": {
        "shape": "UpdateIPSetResponse"
      }
    },
    "UpdateRegexPatternSet": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Updates the specified <a>RegexPatternSet</a>.</p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRegexPatternSetRequest"
      },
      "name": "UpdateRegexPatternSet",
      "output": {
        "shape": "UpdateRegexPatternSetResponse"
      }
    },
    "UpdateRuleGroup": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Updates the specified <a>RuleGroup</a>.</p> <p> A rule group defines a collection of rules to inspect and control web requests that you can use in a <a>WebACL</a>. When you create a rule group, you define an immutable capacity limit. If you update a rule group, you must stay within the capacity. This allows others to reuse the rule group with confidence in its capacity requirements. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateRuleGroupRequest"
      },
      "name": "UpdateRuleGroup",
      "output": {
        "shape": "UpdateRuleGroupResponse"
      }
    },
    "UpdateWebACL": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Updates the specified <a>WebACL</a>.</p> <p> A Web ACL defines a collection of rules to use to inspect and control web requests. Each rule has an action defined (allow, block, or count) for requests that match the statement of the rule. In the Web ACL, you assign a default action to take (allow, block) for any request that does not match any of the rules. The rules in a Web ACL can be a combination of the types <a>Rule</a>, <a>RuleGroup</a>, and managed rule group. You can associate a Web ACL with one or more AWS resources to protect. The resources can be Amazon CloudFront, an Amazon API Gateway API, or an Application Load Balancer. </p>",
      "errors": [
        {
          "shape": "WAFInternalErrorException"
        },
        {
          "shape": "WAFInvalidParameterException"
        },
        {
          "shape": "WAFNonexistentItemException"
        },
        {
          "shape": "WAFDuplicateItemException"
        },
        {
          "shape": "WAFOptimisticLockException"
        },
        {
          "shape": "WAFLimitsExceededException"
        },
        {
          "shape": "WAFInvalidResourceException"
        },
        {
          "shape": "WAFUnavailableEntityException"
        },
        {
          "shape": "WAFSubscriptionNotFoundException"
        },
        {
          "shape": "WAFInvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWebACLRequest"
      },
      "name": "UpdateWebACL",
      "output": {
        "shape": "UpdateWebACLResponse"
      }
    }
  },
  "shapes": {
    "Action": {
      "type": "string"
    },
    "AllQueryArguments": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>All query arguments of a web request. </p> <p>This is used only to indicate the web request component for AWS WAF to inspect, in the <a>FieldToMatch</a> specification. </p>",
      "members": {},
      "type": "structure"
    },
    "AllowAction": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Specifies that AWS WAF should allow requests.</p> <p>This is used only in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>",
      "members": {},
      "type": "structure"
    },
    "AndStatement": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>A logical rule statement used to combine other rule statements with AND logic. You provide more than one <a>Statement</a> within the <code>AndStatement</code>. </p>",
      "members": {
        "Statements": {
          "documentation": "<p>The statements to combine with AND logic. You can use any statements that can be nested. </p>",
          "shape": "Statements"
        }
      },
      "required": [
        "Statements"
      ],
      "type": "structure"
    },
    "AssociateWebACLRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to associate with the web ACL. </p> <p>The ARN must be in one of the following formats:</p> <ul> <li> <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i> </code> </p> </li> <li> <p>For an Amazon API Gateway stage: <code>arn:aws:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i> </code> </p> </li> </ul>",
          "shape": "ResourceArn"
        },
        "WebACLArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Web ACL that you want to associate with the resource.</p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "WebACLArn",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "AssociateWebACLResponse": {
      "members": {},
      "type": "structure"
    },
    "BlockAction": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Specifies that AWS WAF should block requests.</p> <p>This is used only in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>",
      "members": {},
      "type": "structure"
    },
    "Body": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>The body of a web request. This immediately follows the request headers.</p> <p>This is used only to indicate the web request component for AWS WAF to inspect, in the <a>FieldToMatch</a> specification. </p>",
      "members": {},
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ByteMatchStatement": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>A rule statement that defines a string match search for AWS WAF to apply to web requests. The byte match statement provides the bytes to search for, the location in requests that you want AWS WAF to search, and other settings. The bytes to search for are typically a string that corresponds with ASCII characters. In the AWS WAF console and the developer guide, this is refered to as a string match statement.</p>",
      "members": {
        "FieldToMatch": {
          "documentation": "<p>The part of a web request that you want AWS WAF to inspect. For more information, see <a>FieldToMatch</a>. </p>",
          "shape": "FieldToMatch"
        },
        "PositionalConstraint": {
          "documentation": "<p>The area within the portion of a web request that you want AWS WAF to search for <code>SearchString</code>. Valid values include the following:</p> <p> <b>CONTAINS</b> </p> <p>The specified part of the web request must include the value of <code>SearchString</code>, but the location doesn't matter.</p> <p> <b>CONTAINS_WORD</b> </p> <p>The specified part of the web request must include the value of <code>SearchString</code>, and <code>SearchString</code> must contain only alphanumeric characters or underscore (A-Z, a-z, 0-9, or _). In addition, <code>SearchString</code> must be a word, which means that both of the following are true:</p> <ul> <li> <p> <code>SearchString</code> is at the beginning of the specified part of the web request or is preceded by a character other than an alphanumeric character or underscore (_). Examples include the value of a header and <code>;BadBot</code>.</p> </li> <li> <p> <code>SearchString</code> is at the end of the specified part of the web request or is followed by a character other than an alphanumeric character or underscore (_), for example, <code>BadBot;</code> and <code>-BadBot;</code>.</p> </li> </ul> <p> <b>EXACTLY</b> </p> <p>The value of the specified part of the web request must exactly match the value of <code>SearchString</code>.</p> <p> <b>STARTS_WITH</b> </p> <p>The value of <code>SearchString</code> must appear at the beginning of the specified part of the web request.</p> <p> <b>ENDS_WITH</b> </p> <p>The value of <code>SearchString</code> must appear at the end of the specified part of the web request.</p>",
          "shape": "PositionalConstraint"
        },
        "SearchString": {
          "documentation": "<p>A string value that you want AWS WAF to search for. AWS WAF searches only in the part of web requests that you designate for inspection in <a>FieldToMatch</a>. The maximum length of the value is 50 bytes.</p> <p>Valid values depend on the component that you specify for inspection in <code>FieldToMatch</code>:</p> <ul> <li> <p> <code>Method</code>: The HTTP method that you want AWS WAF to search for. This indicates the type of operation specified in the request. </p> </li> <li> <p> <code>UriPath</code>: The value that you want AWS WAF to search for in the URI path, for example, <code>/images/daily-ad.jpg</code>. </p> </li> </ul> <p>If <code>SearchString</code> includes alphabetic characters A-Z and a-z, note that the value is case sensitive.</p> <p> <b>If you're using the AWS WAF API</b> </p> <p>Specify a base64-encoded version of the value. The maximum length of the value before you base64-encode it is 50 bytes.</p> <p>For example, suppose the value of <code>Type</code> is <code>HEADER</code> and the value of <code>Data</code> is <code>User-Agent</code>. If you want to search the <code>User-Agent</code> header for the value <code>BadBot</code>, you base64-encode <code>BadBot</code> using MIME base64-encoding and include the resulting value, <code>QmFkQm90</code>, in the value of <code>SearchString</code>.</p> <p> <b>If you're using the AWS CLI or one of the AWS SDKs</b> </p> <p>The value that you want AWS WAF to search for. The SDK automatically base64 encodes the value.</p>",
          "shape": "SearchString"
        },
        "TextTransformations": {
          "documentation": "<p>Text transformations eliminate some of the unusual formatting that attackers use in web requests in an effort to bypass detection. If you specify one or more transformations in a rule statement, AWS WAF performs all transformations on the content of the request component identified by <code>FieldToMatch</code>, starting from the lowest priority setting, before inspecting the content for a match.</p>",
          "shape": "TextTransformations"
        }
      },
      "required": [
        "SearchString",
        "FieldToMatch",
        "TextTransformations",
        "PositionalConstraint"
      ],
      "type": "structure"
    },
    "CapacityUnit": {
      "min": 1,
      "type": "long"
    },
    "CheckCapacityRequest": {
      "members": {
        "Rules": {
          "documentation": "<p>An array of <a>Rule</a> that you're configuring to use in a rule group or web ACL. </p>",
          "shape": "Rules"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        }
      },
      "required": [
        "Scope",
        "Rules"
      ],
      "type": "structure"
    },
    "CheckCapacityResponse": {
      "members": {
        "Capacity": {
          "documentation": "<p>The capacity required by the rules and scope.</p>",
          "shape": "ConsumedCapacity"
        }
      },
      "type": "structure"
    },
    "ComparisonOperator": {
      "enum": [
        "EQ",
        "NE",
        "LE",
        "LT",
        "GE",
        "GT"
      ],
      "type": "string"
    },
    "ConsumedCapacity": {
      "min": 0,
      "type": "long"
    },
    "CountAction": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Specifies that AWS WAF should count requests.</p> <p>This is used only in the context of other settings, for example to specify values for <a>RuleAction</a> and web ACL <a>DefaultAction</a>. </p>",
      "members": {},
      "type": "structure"
    },
    "Country": {
      "type": "string"
    },
    "CountryCode": {
      "enum": [
        "AF",
        "AX",
        "AL",
        "DZ",
        "AS",
        "AD",
        "AO",
        "AI",
        "AQ",
        "AG",
        "AR",
        "AM",
        "AW",
        "AU",
        "AT",
        "AZ",
        "BS",
        "BH",
        "BD",
        "BB",
        "BY",
        "BE",
        "BZ",
        "BJ",
        "BM",
        "BT",
        "BO",
        "BQ",
        "BA",
        "BW",
        "BV",
        "BR",
        "IO",
        "BN",
        "BG",
        "BF",
        "BI",
        "KH",
        "CM",
        "CA",
        "CV",
        "KY",
        "CF",
        "TD",
        "CL",
        "CN",
        "CX",
        "CC",
        "CO",
        "KM",
        "CG",
        "CD",
        "CK",
        "CR",
        "CI",
        "HR",
        "CU",
        "CW",
        "CY",
        "CZ",
        "DK",
        "DJ",
        "DM",
        "DO",
        "EC",
        "EG",
        "SV",
        "GQ",
        "ER",
        "EE",
        "ET",
        "FK",
        "FO",
        "FJ",
        "FI",
        "FR",
        "GF",
        "PF",
        "TF",
        "GA",
        "GM",
        "GE",
        "DE",
        "GH",
        "GI",
        "GR",
        "GL",
        "GD",
        "GP",
        "GU",
        "GT",
        "GG",
        "GN",
        "GW",
        "GY",
        "HT",
        "HM",
        "VA",
        "HN",
        "HK",
        "HU",
        "IS",
        "IN",
        "ID",
        "IR",
        "IQ",
        "IE",
        "IM",
        "IL",
        "IT",
        "JM",
        "JP",
        "JE",
        "JO",
        "KZ",
        "KE",
        "KI",
        "KP",
        "KR",
        "KW",
        "KG",
        "LA",
        "LV",
        "LB",
        "LS",
        "LR",
        "LY",
        "LI",
        "LT",
        "LU",
        "MO",
        "MK",
        "MG",
        "MW",
        "MY",
        "MV",
        "ML",
        "MT",
        "MH",
        "MQ",
        "MR",
        "MU",
        "YT",
        "MX",
        "FM",
        "MD",
        "MC",
        "MN",
        "ME",
        "MS",
        "MA",
        "MZ",
        "MM",
        "NA",
        "NR",
        "NP",
        "NL",
        "NC",
        "NZ",
        "NI",
        "NE",
        "NG",
        "NU",
        "NF",
        "MP",
        "NO",
        "OM",
        "PK",
        "PW",
        "PS",
        "PA",
        "PG",
        "PY",
        "PE",
        "PH",
        "PN",
        "PL",
        "PT",
        "PR",
        "QA",
        "RE",
        "RO",
        "RU",
        "RW",
        "BL",
        "SH",
        "KN",
        "LC",
        "MF",
        "PM",
        "VC",
        "WS",
        "SM",
        "ST",
        "SA",
        "SN",
        "RS",
        "SC",
        "SL",
        "SG",
        "SX",
        "SK",
        "SI",
        "SB",
        "SO",
        "ZA",
        "GS",
        "SS",
        "ES",
        "LK",
        "SD",
        "SR",
        "SJ",
        "SZ",
        "SE",
        "CH",
        "SY",
        "TW",
        "TJ",
        "TZ",
        "TH",
        "TL",
        "TG",
        "TK",
        "TO",
        "TT",
        "TN",
        "TR",
        "TM",
        "TC",
        "TV",
        "UG",
        "UA",
        "AE",
        "GB",
        "US",
        "UM",
        "UY",
        "UZ",
        "VU",
        "VE",
        "VN",
        "VG",
        "VI",
        "WF",
        "EH",
        "YE",
        "ZM",
        "ZW"
      ],
      "type": "string"
    },
    "CountryCodes": {
      "member": {
        "shape": "CountryCode"
      },
      "min": 1,
      "type": "list"
    },
    "CreateIPSetRequest": {
      "members": {
        "Addresses": {
          "documentation": "<p>Contains an array of strings that specify one or more IP addresses or blocks of IP addresses in Classless Inter-Domain Routing (CIDR) notation. AWS WAF supports all address ranges for IP versions IPv4 and IPv6. </p> <p>Examples: </p> <ul> <li> <p>To configure AWS WAF to allow, block, or count requests that originated from the IP address 192.0.2.44, specify <code>192.0.2.44/32</code>.</p> </li> <li> <p>To configure AWS WAF to allow, block, or count requests that originated from IP addresses from 192.0.2.0 to 192.0.2.255, specify <code>192.0.2.0/24</code>.</p> </li> <li> <p>To configure AWS WAF to allow, block, or count requests that originated from the IP address 1111:0000:0000:0000:0000:0000:0000:0111, specify <code>1111:0000:0000:0000:0000:0000:0000:0111/128</code>.</p> </li> <li> <p>To configure AWS WAF to allow, block, or count requests that originated from IP addresses 1111:0000:0000:0000:0000:0000:0000:0000 to 1111:0000:0000:0000:ffff:ffff:ffff:ffff, specify <code>1111:0000:0000:0000:0000:0000:0000:0000/64</code>.</p> </li> </ul> <p>For more information about CIDR notation, see the Wikipedia entry <a href=\"https://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Classless Inter-Domain Routing</a>.</p>",
          "shape": "IPAddresses"
        },
        "Description": {
          "documentation": "<p>A description of the IP set that helps with identification. You cannot change the description of an IP set after you create it.</p>",
          "shape": "EntityDescription"
        },
        "IPAddressVersion": {
          "documentation": "<p>Specify IPV4 or IPV6. </p>",
          "shape": "IPAddressVersion"
        },
        "Name": {
          "documentation": "<p>The name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "Tags": {
          "documentation": "<p>An array of key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "Scope",
        "IPAddressVersion",
        "Addresses"
      ],
      "type": "structure"
    },
    "CreateIPSetResponse": {
      "members": {
        "Summary": {
          "documentation": "<p>High-level information about an <a>IPSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage an <code>IPSet</code>, and the ARN, that you provide to the <a>IPSetReferenceStatement</a> to use the address set in a <a>Rule</a>.</p>",
          "shape": "IPSetSummary"
        }
      },
      "type": "structure"
    },
    "CreateRegexPatternSetRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the set that helps with identification. You cannot change the description of a set after you create it.</p>",
          "shape": "EntityDescription"
        },
        "Name": {
          "documentation": "<p>The name of the set. You cannot change the name after you create the set.</p>",
          "shape": "EntityName"
        },
        "RegularExpressionList": {
          "documentation": "<p>Array of regular expression strings. </p>",
          "shape": "RegularExpressionList"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "Tags": {
          "documentation": "<p>An array of key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "Scope",
        "RegularExpressionList"
      ],
      "type": "structure"
    },
    "CreateRegexPatternSetResponse": {
      "members": {
        "Summary": {
          "documentation": "<p>High-level information about a <a>RegexPatternSet</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>RegexPatternSet</code>, and the ARN, that you provide to the <a>RegexPatternSetReferenceStatement</a> to use the pattern set in a <a>Rule</a>.</p>",
          "shape": "RegexPatternSetSummary"
        }
      },
      "type": "structure"
    },
    "CreateRuleGroupRequest": {
      "members": {
        "Capacity": {
          "documentation": "<p>The web ACL capacity units (WCUs) required for this rule group.</p> <p>When you create your own rule group, you define this, and you cannot change it after creation. When you add or modify the rules in a rule group, AWS WAF enforces this limit. You can check the capacity for a set of rules using <a>CheckCapacity</a>.</p> <p>AWS WAF uses WCUs to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. AWS WAF calculates capacity differently for each rule type, to reflect the relative cost of each rule. Simple rules that cost little to run use fewer WCUs than more complex rules that use more processing power. Rule group capacity is fixed at creation, which helps users plan their web ACL WCU usage when they use a rule group. The WCU limit for web ACLs is 1,500. </p>",
          "shape": "CapacityUnit"
        },
        "Description": {
          "documentation": "<p>A description of the rule group that helps with identification. You cannot change the description of a rule group after you create it.</p>",
          "shape": "EntityDescription"
        },
        "Name": {
          "documentation": "<p>The name of the rule group. You cannot change the name of a rule group after you create it.</p>",
          "shape": "EntityName"
        },
        "Rules": {
          "documentation": "<p>The <a>Rule</a> statements used to identify the web requests that you want to allow, block, or count. Each rule includes one top-level statement that AWS WAF uses to identify matching web requests, and parameters that govern how AWS WAF handles them. </p>",
          "shape": "Rules"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "Tags": {
          "documentation": "<p>An array of key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        },
        "VisibilityConfig": {
          "documentation": "<p>Defines and enables Amazon CloudWatch metrics and web request sample collection. </p>",
          "shape": "VisibilityConfig"
        }
      },
      "required": [
        "Name",
        "Scope",
        "Capacity",
        "VisibilityConfig"
      ],
      "type": "structure"
    },
    "CreateRuleGroupResponse": {
      "members": {
        "Summary": {
          "documentation": "<p>High-level information about a <a>RuleGroup</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>RuleGroup</code>, and the ARN, that you provide to the <a>RuleGroupReferenceStatement</a> to use the rule group in a <a>Rule</a>.</p>",
          "shape": "RuleGroupSummary"
        }
      },
      "type": "structure"
    },
    "CreateWebACLRequest": {
      "members": {
        "DefaultAction": {
          "documentation": "<p>The action to perform if none of the <code>Rules</code> contained in the <code>WebACL</code> match. </p>",
          "shape": "DefaultAction"
        },
        "Description": {
          "documentation": "<p>A description of the Web ACL that helps with identification. You cannot change the description of a Web ACL after you create it.</p>",
          "shape": "EntityDescription"
        },
        "Name": {
          "documentation": "<p>The name of the Web ACL. You cannot change the name of a Web ACL after you create it.</p>",
          "shape": "EntityName"
        },
        "Rules": {
          "documentation": "<p>The <a>Rule</a> statements used to identify the web requests that you want to allow, block, or count. Each rule includes one top-level statement that AWS WAF uses to identify matching web requests, and parameters that govern how AWS WAF handles them. </p>",
          "shape": "Rules"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "Tags": {
          "documentation": "<p>An array of key:value pairs to associate with the resource.</p>",
          "shape": "TagList"
        },
        "VisibilityConfig": {
          "documentation": "<p>Defines and enables Amazon CloudWatch metrics and web request sample collection. </p>",
          "shape": "VisibilityConfig"
        }
      },
      "required": [
        "Name",
        "Scope",
        "DefaultAction",
        "VisibilityConfig"
      ],
      "type": "structure"
    },
    "CreateWebACLResponse": {
      "members": {
        "Summary": {
          "documentation": "<p>High-level information about a <a>WebACL</a>, returned by operations like create and list. This provides information like the ID, that you can use to retrieve and manage a <code>WebACL</code>, and the ARN, that you provide to operations like <a>AssociateWebACL</a>.</p>",
          "shape": "WebACLSummary"
        }
      },
      "type": "structure"
    },
    "DefaultAction": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>In a <a>WebACL</a>, this is the action that you want AWS WAF to perform when a web request doesn't match any of the rules in the <code>WebACL</code>. The default action must be a terminating action, so count is not allowed.</p>",
      "members": {
        "Allow": {
          "documentation": "<p>Specifies that AWS WAF should allow requests by default.</p>",
          "shape": "AllowAction"
        },
        "Block": {
          "documentation": "<p>Specifies that AWS WAF should block requests by default. </p>",
          "shape": "BlockAction"
        }
      },
      "type": "structure"
    },
    "DeleteFirewallManagerRuleGroupsRequest": {
      "members": {
        "WebACLArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the web ACL.</p>",
          "shape": "ResourceArn"
        },
        "WebACLLockToken": {
          "documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
          "shape": "LockToken"
        }
      },
      "required": [
        "WebACLArn",
        "WebACLLockToken"
      ],
      "type": "structure"
    },
    "DeleteFirewallManagerRuleGroupsResponse": {
      "members": {
        "NextWebACLLockToken": {
          "documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
          "shape": "LockToken"
        }
      },
      "type": "structure"
    },
    "DeleteIPSetRequest": {
      "members": {
        "Id": {
          "documentation": "<p>A unique identifier for the set. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
          "shape": "EntityId"
        },
        "LockToken": {
          "documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
          "shape": "LockToken"
        },
        "Name": {
          "documentation": "<p>The name of the IP set. You cannot change the name of an <code>IPSet</code> after you create it.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        }
      },
      "required": [
        "Name",
        "Scope",
        "Id",
        "LockToken"
      ],
      "type": "structure"
    },
    "DeleteIPSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteLoggingConfigurationRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the web ACL from which you want to delete the <a>LoggingConfiguration</a>.</p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DeleteLoggingConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "DeletePermissionPolicyRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule group from which you want to delete the policy.</p> <p>You must be the owner of the rule group to perform this operation.</p>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DeletePermissionPolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRegexPatternSetRequest": {
      "members": {
        "Id": {
          "documentation": "<p>A unique identifier for the set. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
          "shape": "EntityId"
        },
        "LockToken": {
          "documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
          "shape": "LockToken"
        },
        "Name": {
          "documentation": "<p>The name of the set. You cannot change the name after you create the set.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        }
      },
      "required": [
        "Name",
        "Scope",
        "Id",
        "LockToken"
      ],
      "type": "structure"
    },
    "DeleteRegexPatternSetResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteRuleGroupRequest": {
      "members": {
        "Id": {
          "documentation": "<p>A unique identifier for the rule group. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
          "shape": "EntityId"
        },
        "LockToken": {
          "documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
          "shape": "LockToken"
        },
        "Name": {
          "documentation": "<p>The name of the rule group. You cannot change the name of a rule group after you create it.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        }
      },
      "required": [
        "Name",
        "Scope",
        "Id",
        "LockToken"
      ],
      "type": "structure"
    },
    "DeleteRuleGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteWebACLRequest": {
      "members": {
        "Id": {
          "documentation": "<p>The unique identifier for the Web ACL. This ID is returned in the responses to create and list commands. You provide it to operations like update and delete.</p>",
          "shape": "EntityId"
        },
        "LockToken": {
          "documentation": "<p>A token used for optimistic locking. AWS WAF returns a token to your get and list requests, to mark the state of the entity at the time of the request. To make changes to the entity associated with the token, you provide the token to operations like update and delete. AWS WAF uses the token to ensure that no changes have been made to the entity since you last retrieved it. If a change has been made, the update fails with a <code>WAFOptimisticLockException</code>. If this happens, perform another get, and use the new token returned by that operation. </p>",
          "shape": "LockToken"
        },
        "Name": {
          "documentation": "<p>The name of the Web ACL. You cannot change the name of a Web ACL after you create it.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        }
      },
      "required": [
        "Name",
        "Scope",
        "Id",
        "LockToken"
      ],
      "type": "structure"
    },
    "DeleteWebACLResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeManagedRuleGroupRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the managed rule group. You use this, along with the vendor name, to identify the rule group.</p>",
          "shape": "EntityName"
        },
        "Scope": {
          "documentation": "<p>Specifies whether this is for an AWS CloudFront distribution or for a regional application. A regional application can be an Application Load Balancer (ALB) or an API Gateway stage. </p> <p>To work with CloudFront, you must also specify the Region US East (N. Virginia) as follows: </p> <ul> <li> <p>CLI - Specify the Region when you use the CloudFront scope: <code>--scope=CLOUDFRONT --region=us-east-1</code>. </p> </li> <li> <p>API and SDKs - For all calls, use the Region endpoint us-east-1. </p> </li> </ul>",
          "shape": "Scope"
        },
        "VendorName": {
          "documentation": "<p>The name of the managed rule group vendor. You use this, along with the rule group name, to identify the rule group.</p>",
          "shape": "VendorName"
        }
      },
      "required": [
        "VendorName",
        "Name",
        "Scope"
      ],
      "type": "structure"
    },
    "DescribeManagedRuleGroupResponse": {
      "members": {
        "Capacity": {
          "documentation": "<p>The web ACL capacity units (WCUs) required for this rule group. AWS WAF uses web ACL capacity units (WCU) to calculate and control the operating resources that are used to run your rules, rule groups, and web ACLs. AWS WAF calculates capacity differently for each rule type, to reflect each rule's relative cost. Rule group capacity is fixed at creation, so users can plan their web ACL WCU usage when they use a rule group. The WCU limit for web ACLs is 1,500. </p>",
          "shape": "CapacityUnit"
        },
        "Rules": {
          "documentation": "<p/>",
          "shape": "RuleSummaries"
        }
      },
      "type": "structure"
    },
    "DisassociateWebACLRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to disassociate from the web ACL. </p> <p>The ARN must be in one of the following formats:</p> <ul> <li> <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i> </code> </p> </li> <li> <p>For an Amazon API Gateway stage: <code>arn:aws:apigateway:<i>region</i>::/restapis/<i>api-id</i>/stages/<i>stage-name</i> </code> </p> </li> </ul>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "DisassociateWebACLResponse": {
      "members": {},
      "type": "structure"
    },
    "EntityDescription": {
      "max": 256,
      "min": 1,
      "pattern": "^[\\w+=:#@/\\-,\\.][\\w+=:#@/\\-,\\.\\s]+[\\w+=:#@/\\-,\\.]$",
      "type": "string"
    },
    "EntityId": {
      "max": 36,
      "min": 1,
      "pattern": "^[0-9a-f]{8}-(?:[0-9a-f]{4}-){3}[0-9a-f]{12}$",
      "type": "string"
    },
    "EntityName": {
      "max": 128,
      "min": 1,
      "pattern": "^[\\w\\-]+$",
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorReason": {
      "type": "string"
    },
    "ExcludedRule": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>Specifies a single rule to exclude from the rule group. Excluding a rule overrides its action setting for the rule group in the web ACL, setting it to <code>COUNT</code>. This effectively excludes the rule from acting on web requests. </p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the rule to exclude.</p>",
          "shape": "EntityName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "ExcludedRules": {
      "member": {
        "shape": "ExcludedRule"
      },
      "type": "list"
    },
    "FieldToMatch": {
      "documentation": "<note> <p>This is the latest version of <b>AWS WAF</b>, named AWS WAFV2, released in November, 2019. For information, including how to migrate your AWS WAF resources from the prior release, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/waf-chapter.html\">AWS WAF Developer Guide</a>. </p> </note> <p>The part of a web request that you want AWS WAF to inspect. Include the single <code>FieldToMatch</code> type that you want to inspect, with additional specifications as needed, according to the type. You specify a single request component in <code>FieldToMatch</code> for each rule statement that requires it. To inspect more than one component of a web request, create a separate rule statement for each component.</p>",
      "members": {
        "AllQueryArguments": {
          "documentation": "<p>Inspect all query arguments. </p>",
          "shape": "AllQueryArguments"
        },
        "Body": {
          "documentation": "<p>Inspect the request body, which immediately follows the request headers. This is the part of a request that contains any additional data that you want to send to your web server as the HTTP request body, such as data from a form. </p> <p>Note that only the first 8 KB (8192 bytes) of the request body are forwarded to AWS WAF for inspection by the underlying host service. If you don't need to inspect more than 8 KB, you can guarantee that you don't allow additional bytes in by combining a statement that inspects the body of the web request, such as <a>ByteMatchStatement</a> or <a>RegexPatternSetReferenceStatement</a>, with a <a>SizeConstraintStatement</a> that enforces an 8 KB size limit on the body of the request. AWS WAF doesn't support inspecting the entire contents of web requests whose bodies exceed the 8 KB limit.</p>",
          "shape": "Body"
        },
        "Method": {
          "documentation": "<p>Inspect the HTTP method. The method indicates the type of operation that the request is asking the origin to perform. </p>",
          "shape": "Method"
        },
        "QueryString": {
[...]
