{
  "documentation": "<p>AWS IoT Jobs is a service that allows you to define a set of jobs \u2014 remote operations that are sent to and executed on one or more devices connected to AWS IoT. For example, you can define a job that instructs a set of devices to download and install application or firmware updates, reboot, rotate certificates, or perform remote troubleshooting operations.</p> <p> To create a job, you make a job document which is a description of the remote operations to be performed, and you specify a list of targets that should perform the operations. The targets can be individual things, thing groups or both.</p> <p> AWS IoT Jobs sends a message to inform the targets that a job is available. The target starts the execution of the job by downloading the job document, performing the operations it specifies, and reporting its progress to AWS IoT. The Jobs service provides commands to track the progress of a job on a specific target and for all the targets of the job</p>",
  "metadata": {
    "apiVersion": "2017-09-29",
    "endpointPrefix": "data.jobs.iot",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Jobs Data Plane",
    "serviceId": "IoT Jobs Data Plane",
    "signatureVersion": "v4",
    "signingName": "iot-jobs-data",
    "uid": "iot-jobs-data-2017-09-29"
  },
  "operations": {
    "DescribeJobExecution": {
      "documentation": "<p>Gets details of a job execution.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "CertificateValidationException"
        },
        {
          "shape": "TerminalStateException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/things/{thingName}/jobs/{jobId}"
      },
      "input": {
        "shape": "DescribeJobExecutionRequest"
      },
      "name": "DescribeJobExecution",
      "output": {
        "shape": "DescribeJobExecutionResponse"
      }
    },
    "GetPendingJobExecutions": {
      "documentation": "<p>Gets the list of all jobs for a thing that are not in a terminal status.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "CertificateValidationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/things/{thingName}/jobs"
      },
      "input": {
        "shape": "GetPendingJobExecutionsRequest"
      },
      "name": "GetPendingJobExecutions",
      "output": {
        "shape": "GetPendingJobExecutionsResponse"
      }
    },
    "StartNextPendingJobExecution": {
      "documentation": "<p>Gets and starts the next pending (status IN_PROGRESS or QUEUED) job execution for a thing.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "CertificateValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/things/{thingName}/jobs/$next"
      },
      "input": {
        "shape": "StartNextPendingJobExecutionRequest"
      },
      "name": "StartNextPendingJobExecution",
      "output": {
        "shape": "StartNextPendingJobExecutionResponse"
      }
    },
    "UpdateJobExecution": {
      "documentation": "<p>Updates the status of a job execution.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "CertificateValidationException"
        },
        {
          "shape": "InvalidStateTransitionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/things/{thingName}/jobs/{jobId}"
      },
      "input": {
        "shape": "UpdateJobExecutionRequest"
      },
      "name": "UpdateJobExecution",
      "output": {
        "shape": "UpdateJobExecutionResponse"
      }
    }
  },
  "shapes": {
    "ApproximateSecondsBeforeTimedOut": {
      "type": "long"
    },
    "BinaryBlob": {
      "type": "blob"
    },
    "CertificateValidationException": {
      "documentation": "<p>The certificate is invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Additional information about the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "DescribeJobExecutionJobId": {
      "pattern": "[a-zA-Z0-9_-]+|^\\$next",
      "type": "string"
    },
    "DescribeJobExecutionRequest": {
      "members": {
        "executionNumber": {
          "documentation": "<p>Optional. A number that identifies a particular job execution on a particular device. If not specified, the latest job execution is returned.</p>",
          "location": "querystring",
          "locationName": "executionNumber",
          "shape": "ExecutionNumber"
        },
        "includeJobDocument": {
          "documentation": "<p>Optional. When set to true, the response contains the job document. The default is false.</p>",
          "location": "querystring",
          "locationName": "includeJobDocument",
          "shape": "IncludeJobDocument"
        },
        "jobId": {
          "documentation": "<p>The unique identifier assigned to this job when it was created.</p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "DescribeJobExecutionJobId"
        },
        "thingName": {
          "documentation": "<p>The thing name associated with the device the job execution is running on.</p>",
          "location": "uri",
          "locationName": "thingName",
          "shape": "ThingName"
        }
      },
      "required": [
        "jobId",
        "thingName"
      ],
      "type": "structure"
    },
    "DescribeJobExecutionResponse": {
      "members": {
        "execution": {
          "documentation": "<p>Contains data about a job execution.</p>",
          "shape": "JobExecution"
        }
      },
      "type": "structure"
    },
    "DetailsKey": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9:_-]+",
      "type": "string"
    },
    "DetailsMap": {
      "key": {
        "shape": "DetailsKey"
      },
      "type": "map",
      "value": {
        "shape": "DetailsValue"
      }
    },
    "DetailsValue": {
      "max": 1024,
      "min": 1,
      "pattern": "[^\\p{C}]*+",
      "type": "string"
    },
    "ExecutionNumber": {
      "type": "long"
    },
    "ExpectedVersion": {
      "type": "long"
    },
    "GetPendingJobExecutionsRequest": {
      "members": {
        "thingName": {
          "documentation": "<p>The name of the thing that is executing the job.</p>",
          "location": "uri",
          "locationName": "thingName",
          "shape": "ThingName"
        }
      },
      "required": [
        "thingName"
      ],
      "type": "structure"
    },
    "GetPendingJobExecutionsResponse": {
      "members": {
        "inProgressJobs": {
          "documentation": "<p>A list of JobExecutionSummary objects with status IN_PROGRESS.</p>",
          "shape": "JobExecutionSummaryList"
        },
        "queuedJobs": {
          "documentation": "<p>A list of JobExecutionSummary objects with status QUEUED.</p>",
          "shape": "JobExecutionSummaryList"
        }
      },
      "type": "structure"
    },
    "IncludeExecutionState": {
      "type": "boolean"
    },
    "IncludeJobDocument": {
      "type": "boolean"
    },
    "InvalidRequestException": {
      "documentation": "<p>The contents of the request were invalid. For example, this code is returned when an UpdateJobExecution request contains invalid status details. The message contains details about the error.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidStateTransitionException": {
      "documentation": "<p>An update attempted to change the job execution to a state that is invalid because of the job execution's current state (for example, an attempt to change a request in state SUCCESS to state IN_PROGRESS). In this case, the body of the error message also contains the executionState field.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "JobDocument": {
      "max": 32768,
      "type": "string"
    },
    "JobExecution": {
      "documentation": "<p>Contains data about a job execution.</p>",
      "members": {
        "approximateSecondsBeforeTimedOut": {
          "documentation": "<p>The estimated number of seconds that remain before the job execution status will be changed to <code>TIMED_OUT</code>.</p>",
          "shape": "ApproximateSecondsBeforeTimedOut"
        },
        "executionNumber": {
          "documentation": "<p>A number that identifies a particular job execution on a particular device. It can be used later in commands that return or update job execution information.</p>",
          "shape": "ExecutionNumber"
        },
        "jobDocument": {
          "documentation": "<p>The content of the job document.</p>",
          "shape": "JobDocument"
        },
        "jobId": {
          "documentation": "<p>The unique identifier you assigned to this job when it was created.</p>",
          "shape": "JobId"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the job execution was last updated. </p>",
          "shape": "LastUpdatedAt"
        },
        "queuedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the job execution was enqueued.</p>",
          "shape": "QueuedAt"
        },
        "startedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the job execution was started.</p>",
          "shape": "StartedAt"
        },
        "status": {
          "documentation": "<p>The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".</p>",
          "shape": "JobExecutionStatus"
        },
        "statusDetails": {
          "documentation": "<p>A collection of name/value pairs that describe the status of the job execution.</p>",
          "shape": "DetailsMap"
        },
        "thingName": {
          "documentation": "<p>The name of the thing that is executing the job.</p>",
          "shape": "ThingName"
        },
        "versionNumber": {
          "documentation": "<p>The version of the job execution. Job execution versions are incremented each time they are updated by a device.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "JobExecutionState": {
      "documentation": "<p>Contains data about the state of a job execution.</p>",
      "members": {
        "status": {
          "documentation": "<p>The status of the job execution. Can be one of: \"QUEUED\", \"IN_PROGRESS\", \"FAILED\", \"SUCCESS\", \"CANCELED\", \"REJECTED\", or \"REMOVED\".</p>",
          "shape": "JobExecutionStatus"
        },
        "statusDetails": {
          "documentation": "<p>A collection of name/value pairs that describe the status of the job execution.</p>",
          "shape": "DetailsMap"
        },
        "versionNumber": {
          "documentation": "<p>The version of the job execution. Job execution versions are incremented each time they are updated by a device.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "JobExecutionStatus": {
      "enum": [
        "QUEUED",
        "IN_PROGRESS",
        "SUCCEEDED",
        "FAILED",
        "TIMED_OUT",
        "REJECTED",
        "REMOVED",
        "CANCELED"
      ],
      "type": "string"
    },
    "JobExecutionSummary": {
      "documentation": "<p>Contains a subset of information about a job execution.</p>",
      "members": {
        "executionNumber": {
          "documentation": "<p>A number that identifies a particular job execution on a particular device.</p>",
          "shape": "ExecutionNumber"
        },
        "jobId": {
          "documentation": "<p>The unique identifier you assigned to this job when it was created.</p>",
          "shape": "JobId"
        },
        "lastUpdatedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the job execution was last updated.</p>",
          "shape": "LastUpdatedAt"
        },
        "queuedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the job execution was enqueued.</p>",
          "shape": "QueuedAt"
        },
        "startedAt": {
          "documentation": "<p>The time, in milliseconds since the epoch, when the job execution started.</p>",
          "shape": "StartedAt"
        },
        "versionNumber": {
          "documentation": "<p>The version of the job execution. Job execution versions are incremented each time AWS IoT Jobs receives an update from a device.</p>",
          "shape": "VersionNumber"
        }
      },
      "type": "structure"
    },
    "JobExecutionSummaryList": {
      "member": {
        "shape": "JobExecutionSummary"
      },
      "type": "list"
    },
    "JobId": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "LastUpdatedAt": {
      "type": "long"
    },
    "QueuedAt": {
      "type": "long"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource does not exist.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The service is temporarily unavailable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "StartNextPendingJobExecutionRequest": {
      "members": {
        "statusDetails": {
          "documentation": "<p>A collection of name/value pairs that describe the status of the job execution. If not specified, the statusDetails are unchanged.</p>",
          "shape": "DetailsMap"
        },
        "stepTimeoutInMinutes": {
          "documentation": "<p>Specifies the amount of time this device has to finish execution of this job. If the job execution status is not set to a terminal state before this timer expires, or before the timer is reset (by calling <code>UpdateJobExecution</code>, setting the status to <code>IN_PROGRESS</code> and specifying a new timeout value in field <code>stepTimeoutInMinutes</code>) the job execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting this timeout has no effect on that job execution timeout which may have been specified when the job was created (<code>CreateJob</code> using field <code>timeoutConfig</code>).</p>",
          "shape": "StepTimeoutInMinutes"
        },
        "thingName": {
          "documentation": "<p>The name of the thing associated with the device.</p>",
          "location": "uri",
          "locationName": "thingName",
          "shape": "ThingName"
        }
      },
      "required": [
        "thingName"
      ],
      "type": "structure"
    },
    "StartNextPendingJobExecutionResponse": {
      "members": {
        "execution": {
          "documentation": "<p>A JobExecution object.</p>",
          "shape": "JobExecution"
        }
      },
      "type": "structure"
    },
    "StartedAt": {
      "type": "long"
    },
    "StepTimeoutInMinutes": {
      "type": "long"
    },
    "TerminalStateException": {
      "documentation": "<p>The job is in a terminal state.</p>",
      "error": {
        "httpStatusCode": 410
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ThingName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9:_-]+",
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>The rate exceeds the limit.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message associated with the exception.</p>",
          "shape": "errorMessage"
        },
        "payload": {
          "documentation": "<p>The payload associated with the exception.</p>",
          "shape": "BinaryBlob"
        }
      },
      "type": "structure"
    },
    "UpdateJobExecutionRequest": {
      "members": {
        "executionNumber": {
          "documentation": "<p>Optional. A number that identifies a particular job execution on a particular device.</p>",
          "shape": "ExecutionNumber"
        },
        "expectedVersion": {
          "documentation": "<p>Optional. The expected current version of the job execution. Each time you update the job execution, its version is incremented. If the version of the job execution stored in Jobs does not match, the update is rejected with a VersionMismatch error, and an ErrorResponse that contains the current job execution status data is returned. (This makes it unnecessary to perform a separate DescribeJobExecution request in order to obtain the job execution status data.)</p>",
          "shape": "ExpectedVersion"
        },
        "includeJobDocument": {
          "documentation": "<p>Optional. When set to true, the response contains the job document. The default is false.</p>",
          "shape": "IncludeJobDocument"
        },
        "includeJobExecutionState": {
          "documentation": "<p>Optional. When included and set to true, the response contains the JobExecutionState data. The default is false.</p>",
          "shape": "IncludeExecutionState"
        },
        "jobId": {
          "documentation": "<p>The unique identifier assigned to this job when it was created.</p>",
          "location": "uri",
          "locationName": "jobId",
          "shape": "JobId"
        },
        "status": {
          "documentation": "<p>The new status for the job execution (IN_PROGRESS, FAILED, SUCCESS, or REJECTED). This must be specified on every update.</p>",
          "shape": "JobExecutionStatus"
        },
        "statusDetails": {
          "documentation": "<p> Optional. A collection of name/value pairs that describe the status of the job execution. If not specified, the statusDetails are unchanged.</p>",
          "shape": "DetailsMap"
        },
        "stepTimeoutInMinutes": {
          "documentation": "<p>Specifies the amount of time this device has to finish execution of this job. If the job execution status is not set to a terminal state before this timer expires, or before the timer is reset (by again calling <code>UpdateJobExecution</code>, setting the status to <code>IN_PROGRESS</code> and specifying a new timeout value in this field) the job execution status will be automatically set to <code>TIMED_OUT</code>. Note that setting or resetting this timeout has no effect on that job execution timeout which may have been specified when the job was created (<code>CreateJob</code> using field <code>timeoutConfig</code>).</p>",
          "shape": "StepTimeoutInMinutes"
        },
        "thingName": {
          "documentation": "<p>The name of the thing associated with the device.</p>",
          "location": "uri",
          "locationName": "thingName",
          "shape": "ThingName"
        }
      },
      "required": [
        "jobId",
        "thingName",
        "status"
      ],
      "type": "structure"
    },
    "UpdateJobExecutionResponse": {
      "members": {
        "executionState": {
          "documentation": "<p>A JobExecutionState object.</p>",
          "shape": "JobExecutionState"
        },
        "jobDocument": {
          "documentation": "<p>The contents of the Job Documents.</p>",
          "shape": "JobDocument"
        }
      },
      "type": "structure"
    },
    "VersionNumber": {
      "type": "long"
    },
    "errorMessage": {
      "type": "string"
    }
  },
  "version": "2.0"
}
