{
  "documentation": "<p>This AWS CodeStar Notifications API Reference provides descriptions and usage examples of the operations and data types for the AWS CodeStar Notifications API. You can use the AWS CodeStar Notifications API to work with the following objects:</p> <p>Notification rules, by calling the following: </p> <ul> <li> <p> <a>CreateNotificationRule</a>, which creates a notification rule for a resource in your account. </p> </li> <li> <p> <a>DeleteNotificationRule</a>, which deletes a notification rule. </p> </li> <li> <p> <a>DescribeNotificationRule</a>, which provides information about a notification rule. </p> </li> <li> <p> <a>ListNotificationRules</a>, which lists the notification rules associated with your account. </p> </li> <li> <p> <a>UpdateNotificationRule</a>, which changes the name, events, or targets associated with a notification rule. </p> </li> <li> <p> <a>Subscribe</a>, which subscribes a target to a notification rule. </p> </li> <li> <p> <a>Unsubscribe</a>, which removes a target from a notification rule. </p> </li> </ul> <p>Targets, by calling the following: </p> <ul> <li> <p> <a>DeleteTarget</a>, which removes a notification rule target (SNS topic) from a notification rule. </p> </li> <li> <p> <a>ListTargets</a>, which lists the targets associated with a notification rule. </p> </li> </ul> <p>Events, by calling the following: </p> <ul> <li> <p> <a>ListEventTypes</a>, which lists the event types you can include in a notification rule. </p> </li> </ul> <p>Tags, by calling the following: </p> <ul> <li> <p> <a>ListTagsForResource</a>, which lists the tags already associated with a notification rule in your account. </p> </li> <li> <p> <a>TagResource</a>, which associates a tag you provide with a notification rule in your account. </p> </li> <li> <p> <a>UntagResource</a>, which removes a tag from a notification rule in your account. </p> </li> </ul> <p> For information about how to use AWS CodeStar Notifications, see link in the CodeStarNotifications User Guide. </p>",
  "metadata": {
    "apiVersion": "2019-10-15",
    "endpointPrefix": "codestar-notifications",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS CodeStar Notifications",
    "serviceId": "codestar notifications",
    "signatureVersion": "v4",
    "signingName": "codestar-notifications",
    "uid": "codestar-notifications-2019-10-15"
  },
  "operations": {
    "CreateNotificationRule": {
      "documentation": "<p>Creates a notification rule for a resource. The rule specifies the events you want notifications about and the targets (such as SNS topics) where you want to receive them.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConfigurationException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/createNotificationRule"
      },
      "input": {
        "shape": "CreateNotificationRuleRequest"
      },
      "name": "CreateNotificationRule",
      "output": {
        "shape": "CreateNotificationRuleResult"
      }
    },
    "DeleteNotificationRule": {
      "documentation": "<p>Deletes a notification rule for a resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteNotificationRule"
      },
      "input": {
        "shape": "DeleteNotificationRuleRequest"
      },
      "name": "DeleteNotificationRule",
      "output": {
        "shape": "DeleteNotificationRuleResult"
      }
    },
    "DeleteTarget": {
      "documentation": "<p>Deletes a specified target for notifications.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/deleteTarget"
      },
      "input": {
        "shape": "DeleteTargetRequest"
      },
      "name": "DeleteTarget",
      "output": {
        "shape": "DeleteTargetResult"
      }
    },
    "DescribeNotificationRule": {
      "documentation": "<p>Returns information about a specified notification rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/describeNotificationRule"
      },
      "input": {
        "shape": "DescribeNotificationRuleRequest"
      },
      "name": "DescribeNotificationRule",
      "output": {
        "shape": "DescribeNotificationRuleResult"
      }
    },
    "ListEventTypes": {
      "documentation": "<p>Returns information about the event types available for configuring notifications.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listEventTypes"
      },
      "input": {
        "shape": "ListEventTypesRequest"
      },
      "name": "ListEventTypes",
      "output": {
        "shape": "ListEventTypesResult"
      }
    },
    "ListNotificationRules": {
      "documentation": "<p>Returns a list of the notification rules for an AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listNotificationRules"
      },
      "input": {
        "shape": "ListNotificationRulesRequest"
      },
      "name": "ListNotificationRules",
      "output": {
        "shape": "ListNotificationRulesResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of the tags associated with a notification rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listTagsForResource"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResult"
      }
    },
    "ListTargets": {
      "documentation": "<p>Returns a list of the notification rule targets for an AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/listTargets"
      },
      "input": {
        "shape": "ListTargetsRequest"
      },
      "name": "ListTargets",
      "output": {
        "shape": "ListTargetsResult"
      }
    },
    "Subscribe": {
      "documentation": "<p>Creates an association between a notification rule and an SNS topic so that the associated target can receive notifications when the events described in the rule are triggered.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/subscribe"
      },
      "input": {
        "shape": "SubscribeRequest"
      },
      "name": "Subscribe",
      "output": {
        "shape": "SubscribeResult"
      }
    },
    "TagResource": {
      "documentation": "<p>Associates a set of provided tags with a notification rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tagResource"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResult"
      }
    },
    "Unsubscribe": {
      "documentation": "<p>Removes an association between a notification rule and an Amazon SNS topic so that subscribers to that topic stop receiving notifications when the events described in the rule are triggered.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/unsubscribe"
      },
      "input": {
        "shape": "UnsubscribeRequest"
      },
      "name": "Unsubscribe",
      "output": {
        "shape": "UnsubscribeResult"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the association between one or more provided tags and a notification rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/untagResource"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResult"
      }
    },
    "UpdateNotificationRule": {
      "documentation": "<p>Updates a notification rule for a resource. You can change the events that trigger the notification rule, the status of the rule, and the targets that receive the notifications.</p> <note> <p>To add or remove tags for a notification rule, you must use <a>TagResource</a> and <a>UntagResource</a>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/updateNotificationRule"
      },
      "input": {
        "shape": "UpdateNotificationRuleRequest"
      },
      "name": "UpdateNotificationRule",
      "output": {
        "shape": "UpdateNotificationRuleResult"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>AWS CodeStar Notifications can't create the notification rule because you do not have sufficient permissions.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ClientRequestToken": {
      "max": 256,
      "min": 1,
      "pattern": "^[\\w:/-]+$",
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>AWS CodeStar Notifications can't complete the request because the resource is being modified by another process. Wait a few minutes and try again.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ConfigurationException": {
      "documentation": "<p>Some or all of the configuration is incomplete, missing, or not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "CreateNotificationRuleRequest": {
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique, client-generated idempotency token that, when provided in a request, ensures the request cannot be repeated with a changed parameter. If a request with the same parameters is received and a token is included, the request returns information about the initial request that used that token.</p> <note> <p>The AWS SDKs prepopulate client request tokens. If you are using an AWS SDK, an idempotency token is created for you.</p> </note>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "DetailType": {
          "documentation": "<p>The level of detail to include in the notifications for this resource. BASIC will include only the contents of the event as it would appear in AWS CloudWatch. FULL will include any supplemental information provided by AWS CodeStar Notifications and/or the service for the resource for which the notification is created.</p>",
          "shape": "DetailType"
        },
        "EventTypeIds": {
          "documentation": "<p>A list of event types associated with this notification rule. For a list of allowed events, see <a>EventTypeSummary</a>.</p>",
          "shape": "EventTypeIds"
        },
        "Name": {
          "documentation": "<p>The name for the notification rule. Notifictaion rule names must be unique in your AWS account.</p>",
          "shape": "NotificationRuleName"
        },
        "Resource": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource to associate with the notification rule. Supported resources include pipelines in AWS CodePipeline, repositories in AWS CodeCommit, and build projects in AWS CodeBuild.</p>",
          "shape": "NotificationRuleResource"
        },
        "Status": {
          "documentation": "<p>The status of the notification rule. The default value is ENABLED. If the status is set to DISABLED, notifications aren't sent for the notification rule.</p>",
          "shape": "NotificationRuleStatus"
        },
        "Tags": {
          "documentation": "<p>A list of tags to apply to this notification rule. Key names cannot start with \"aws\". </p>",
          "shape": "Tags"
        },
        "Targets": {
          "documentation": "<p>A list of Amazon Resource Names (ARNs) of SNS topics to associate with the notification rule.</p>",
          "shape": "Targets"
        }
      },
      "required": [
        "Name",
        "EventTypeIds",
        "Resource",
        "Targets",
        "DetailType"
      ],
      "type": "structure"
    },
    "CreateNotificationRuleResult": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "type": "structure"
    },
    "CreatedTimestamp": {
      "type": "timestamp"
    },
    "DeleteNotificationRuleRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule you want to delete.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DeleteNotificationRuleResult": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deleted notification rule.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "type": "structure"
    },
    "DeleteTargetRequest": {
      "members": {
        "ForceUnsubscribeAll": {
          "documentation": "<p>A Boolean value that can be used to delete all associations with this SNS topic. The default value is FALSE. If set to TRUE, all associations between that target and every notification rule in your AWS account are deleted.</p>",
          "shape": "ForceUnsubscribeAll"
        },
        "TargetAddress": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the SNS topic to delete.</p>",
          "shape": "TargetAddress"
        }
      },
      "required": [
        "TargetAddress"
      ],
      "type": "structure"
    },
    "DeleteTargetResult": {
      "members": {},
      "type": "structure"
    },
    "DescribeNotificationRuleRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DescribeNotificationRuleResult": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
          "shape": "NotificationRuleArn"
        },
        "CreatedBy": {
          "documentation": "<p>The name or email alias of the person who created the notification rule.</p>",
          "shape": "NotificationRuleCreatedBy"
        },
        "CreatedTimestamp": {
          "documentation": "<p>The date and time the notification rule was created, in timestamp format.</p>",
          "shape": "CreatedTimestamp"
        },
        "DetailType": {
          "documentation": "<p>The level of detail included in the notifications for this resource. BASIC will include only the contents of the event as it would appear in AWS CloudWatch. FULL will include any supplemental information provided by AWS CodeStar Notifications and/or the service for the resource for which the notification is created.</p>",
          "shape": "DetailType"
        },
        "EventTypes": {
          "documentation": "<p>A list of the event types associated with the notification rule.</p>",
          "shape": "EventTypeBatch"
        },
        "LastModifiedTimestamp": {
          "documentation": "<p>The date and time the notification rule was most recently updated, in timestamp format.</p>",
          "shape": "LastModifiedTimestamp"
        },
        "Name": {
          "documentation": "<p>The name of the notification rule.</p>",
          "shape": "NotificationRuleName"
        },
        "Resource": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource associated with the notification rule.</p>",
          "shape": "NotificationRuleResource"
        },
        "Status": {
          "documentation": "<p>The status of the notification rule. Valid statuses are on (sending notifications) or off (not sending notifications).</p>",
          "shape": "NotificationRuleStatus"
        },
        "Tags": {
          "documentation": "<p>The tags associated with the notification rule.</p>",
          "shape": "Tags"
        },
        "Targets": {
          "documentation": "<p>A list of the SNS topics associated with the notification rule.</p>",
          "shape": "TargetsBatch"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "DetailType": {
      "enum": [
        "BASIC",
        "FULL"
      ],
      "type": "string"
    },
    "EventTypeBatch": {
      "member": {
        "shape": "EventTypeSummary"
      },
      "type": "list"
    },
    "EventTypeId": {
      "max": 200,
      "min": 1,
      "type": "string"
    },
    "EventTypeIds": {
      "member": {
        "shape": "EventTypeId"
      },
      "type": "list"
    },
    "EventTypeName": {
      "type": "string"
    },
    "EventTypeSummary": {
      "documentation": "<p>Returns information about an event that has triggered a notification rule.</p>",
      "members": {
        "EventTypeId": {
          "documentation": "<p>The system-generated ID of the event.</p>",
          "shape": "EventTypeId"
        },
        "EventTypeName": {
          "documentation": "<p>The name of the event.</p>",
          "shape": "EventTypeName"
        },
        "ResourceType": {
          "documentation": "<p>The resource type of the event.</p>",
          "shape": "ResourceType"
        },
        "ServiceName": {
          "documentation": "<p>The name of the service for which the event applies.</p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "ForceUnsubscribeAll": {
      "type": "boolean"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The value for the enumeration token used in the request to return the next batch of the results is not valid. </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "LastModifiedTimestamp": {
      "type": "timestamp"
    },
    "LimitExceededException": {
      "documentation": "<p>One of the AWS CodeStar Notifications limits has been exceeded. Limits apply to accounts, notification rules, notifications, resources, and targets. For more information, see Limits.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ListEventTypesFilter": {
      "documentation": "<p>Information about a filter to apply to the list of returned event types. You can filter by resource type or service name.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The system-generated name of the filter type you want to filter by.</p>",
          "shape": "ListEventTypesFilterName"
        },
        "Value": {
          "documentation": "<p>The name of the resource type (for example, pipeline) or service name (for example, CodePipeline) that you want to filter by.</p>",
          "shape": "ListEventTypesFilterValue"
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "ListEventTypesFilterName": {
      "enum": [
        "RESOURCE_TYPE",
        "SERVICE_NAME"
      ],
      "type": "string"
    },
    "ListEventTypesFilterValue": {
      "type": "string"
    },
    "ListEventTypesFilters": {
      "member": {
        "shape": "ListEventTypesFilter"
      },
      "type": "list"
    },
    "ListEventTypesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>The filters to use to return information by service or resource type.</p>",
          "shape": "ListEventTypesFilters"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>A non-negative integer used to limit the number of returned results. The default number is 50. The maximum number of results that can be returned is 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An enumeration token that, when provided in a request, returns the next batch of the results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEventTypesResult": {
      "members": {
        "EventTypes": {
          "documentation": "<p>Information about each event, including service name, resource type, event ID, and event name.</p>",
          "shape": "EventTypeBatch"
        },
        "NextToken": {
          "documentation": "<p>An enumeration token that can be used in a request to return the next batch of the results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListNotificationRulesFilter": {
      "documentation": "<p>Information about a filter to apply to the list of returned notification rules. You can filter by event type, owner, resource, or target.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the attribute you want to use to filter the returned notification rules.</p>",
          "shape": "ListNotificationRulesFilterName"
        },
        "Value": {
          "documentation": "<p>The value of the attribute you want to use to filter the returned notification rules. For example, if you specify filtering by <i>RESOURCE</i> in Name, you might specify the ARN of a pipeline in AWS CodePipeline for the value.</p>",
          "shape": "ListNotificationRulesFilterValue"
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "ListNotificationRulesFilterName": {
      "enum": [
        "EVENT_TYPE_ID",
        "CREATED_BY",
        "RESOURCE",
        "TARGET_ADDRESS"
      ],
      "type": "string"
    },
    "ListNotificationRulesFilterValue": {
      "type": "string"
    },
    "ListNotificationRulesFilters": {
      "member": {
        "shape": "ListNotificationRulesFilter"
      },
      "type": "list"
    },
    "ListNotificationRulesRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>The filters to use to return information by service or resource type. For valid values, see <a>ListNotificationRulesFilter</a>.</p> <note> <p>A filter with the same name can appear more than once when used with OR statements. Filters with different names should be applied with AND statements.</p> </note>",
          "shape": "ListNotificationRulesFilters"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>A non-negative integer used to limit the number of returned results. The maximum number of results that can be returned is 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An enumeration token that, when provided in a request, returns the next batch of the results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListNotificationRulesResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>An enumeration token that can be used in a request to return the next batch of the results.</p>",
          "shape": "NextToken"
        },
        "NotificationRules": {
          "documentation": "<p>The list of notification rules for the AWS account, by Amazon Resource Name (ARN) and ID. </p>",
          "shape": "NotificationRuleBatch"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the notification rule.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResult": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags associated with the notification rule.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "ListTargetsFilter": {
      "documentation": "<p>Information about a filter to apply to the list of returned targets. You can filter by target type, address, or status. For example, to filter results to notification rules that have active Amazon SNS topics as targets, you could specify a ListTargetsFilter Name as TargetType and a Value of SNS, and a Name of TARGET_STATUS and a Value of ACTIVE.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the attribute you want to use to filter the returned targets.</p>",
          "shape": "ListTargetsFilterName"
        },
        "Value": {
          "documentation": "<p>The value of the attribute you want to use to filter the returned targets. For example, if you specify <i>SNS</i> for the Target type, you could specify an Amazon Resource Name (ARN) for a topic as the value.</p>",
          "shape": "ListTargetsFilterValue"
        }
      },
      "required": [
        "Name",
        "Value"
      ],
      "type": "structure"
    },
    "ListTargetsFilterName": {
      "enum": [
        "TARGET_TYPE",
        "TARGET_ADDRESS",
        "TARGET_STATUS"
      ],
      "type": "string"
    },
    "ListTargetsFilterValue": {
      "type": "string"
    },
    "ListTargetsFilters": {
      "member": {
        "shape": "ListTargetsFilter"
      },
      "type": "list"
    },
    "ListTargetsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>The filters to use to return information by service or resource type. Valid filters include target type, target address, and target status.</p> <note> <p>A filter with the same name can appear more than once when used with OR statements. Filters with different names should be applied with AND statements.</p> </note>",
          "shape": "ListTargetsFilters"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>A non-negative integer used to limit the number of returned results. The maximum number of results that can be returned is 100.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>An enumeration token that, when provided in a request, returns the next batch of the results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTargetsResult": {
      "members": {
        "NextToken": {
          "documentation": "<p>An enumeration token that can be used in a request to return the next batch of results.</p>",
          "shape": "NextToken"
        },
        "Targets": {
          "documentation": "<p>The list of notification rule targets. </p>",
          "shape": "TargetsBatch"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "min": 1,
      "type": "string"
    },
    "NextToken": {
      "pattern": "^[\\w/+=]+$",
      "type": "string"
    },
    "NotificationRuleArn": {
      "pattern": "^arn:aws[^:\\s]*:codestar-notifications:[^:\\s]+:\\d{12}:notificationrule\\/(.*\\S)?$",
      "type": "string"
    },
    "NotificationRuleBatch": {
      "member": {
        "shape": "NotificationRuleSummary"
      },
      "type": "list"
    },
    "NotificationRuleCreatedBy": {
      "min": 1,
      "type": "string"
    },
    "NotificationRuleId": {
      "max": 40,
      "min": 1,
      "type": "string"
    },
    "NotificationRuleName": {
      "max": 64,
      "min": 1,
      "pattern": "[A-Za-z0-9\\-_ ]+$",
      "sensitive": true,
      "type": "string"
    },
    "NotificationRuleResource": {
      "pattern": "^arn:aws[^:\\s]*:[^:\\s]*:[^:\\s]*:[0-9]{12}:[^\\s]+$",
      "type": "string"
    },
    "NotificationRuleStatus": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "NotificationRuleSummary": {
      "documentation": "<p>Information about a specified notification rule.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
          "shape": "NotificationRuleArn"
        },
        "Id": {
          "documentation": "<p>The unique ID of the notification rule.</p>",
          "shape": "NotificationRuleId"
        }
      },
      "type": "structure"
    },
    "ResourceAlreadyExistsException": {
      "documentation": "<p>A resource with the same name or ID already exists. Notification rule names must be unique in your AWS account.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>AWS CodeStar Notifications can't find a resource that matches the provided ARN. </p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ResourceType": {
      "min": 1,
      "pattern": "^([a-zA-Z0-9-])+$",
      "type": "string"
    },
    "ServiceName": {
      "type": "string"
    },
    "SubscribeRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule for which you want to create the association.</p>",
          "shape": "NotificationRuleArn"
        },
        "ClientRequestToken": {
          "documentation": "<p>An enumeration token that, when provided in a request, returns the next batch of the results.</p>",
          "shape": "ClientRequestToken"
        },
        "Target": {
          "shape": "Target"
        }
      },
      "required": [
        "Arn",
        "Target"
      ],
      "type": "structure"
    },
    "SubscribeResult": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule for which you have created assocations.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "TagKeys": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule to tag.</p>",
          "shape": "NotificationRuleArn"
        },
        "Tags": {
          "documentation": "<p>The list of tags to associate with the resource. Tag key names cannot start with \"aws\".</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Arn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResult": {
      "members": {
        "Tags": {
          "documentation": "<p>The list of tags associated with the resource.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$",
      "type": "string"
    },
    "Tags": {
      "key": {
        "shape": "TagKey"
      },
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "Target": {
      "documentation": "<p>Information about the SNS topics associated with a notification rule.</p>",
      "members": {
        "TargetAddress": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the SNS topic.</p>",
          "shape": "TargetAddress"
        },
        "TargetType": {
          "documentation": "<p>The target type. Can be an Amazon SNS topic.</p>",
          "shape": "TargetType"
        }
      },
      "type": "structure"
    },
    "TargetAddress": {
      "max": 320,
      "min": 1,
      "sensitive": true,
      "type": "string"
    },
    "TargetStatus": {
      "enum": [
        "PENDING",
        "ACTIVE",
        "UNREACHABLE",
        "INACTIVE",
        "DEACTIVATED"
      ],
      "type": "string"
    },
    "TargetSummary": {
      "documentation": "<p>Information about the targets specified for a notification rule.</p>",
      "members": {
        "TargetAddress": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the SNS topic.</p>",
          "shape": "TargetAddress"
        },
        "TargetStatus": {
          "documentation": "<p>The status of the target.</p>",
          "shape": "TargetStatus"
        },
        "TargetType": {
          "documentation": "<p>The type of the target (for example, SNS).</p>",
          "shape": "TargetType"
        }
      },
      "type": "structure"
    },
    "TargetType": {
      "pattern": "^[A-Za-z]+$",
      "type": "string"
    },
    "Targets": {
      "max": 10,
      "member": {
        "shape": "Target"
      },
      "type": "list"
    },
    "TargetsBatch": {
      "member": {
        "shape": "TargetSummary"
      },
      "type": "list"
    },
    "UnsubscribeRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
          "shape": "NotificationRuleArn"
        },
        "TargetAddress": {
          "documentation": "<p>The ARN of the SNS topic to unsubscribe from the notification rule.</p>",
          "shape": "TargetAddress"
        }
      },
      "required": [
        "Arn",
        "TargetAddress"
      ],
      "type": "structure"
    },
    "UnsubscribeResult": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the the notification rule from which you have removed a subscription.</p>",
          "shape": "NotificationRuleArn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule from which to remove the tags.</p>",
          "shape": "NotificationRuleArn"
        },
        "TagKeys": {
          "documentation": "<p>The key names of the tags to remove.</p>",
          "shape": "TagKeys"
        }
      },
      "required": [
        "Arn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResult": {
      "members": {},
      "type": "structure"
    },
    "UpdateNotificationRuleRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the notification rule.</p>",
          "shape": "NotificationRuleArn"
        },
        "DetailType": {
          "documentation": "<p>The level of detail to include in the notifications for this resource. BASIC will include only the contents of the event as it would appear in AWS CloudWatch. FULL will include any supplemental information provided by AWS CodeStar Notifications and/or the service for the resource for which the notification is created.</p>",
          "shape": "DetailType"
        },
        "EventTypeIds": {
          "documentation": "<p>A list of event types associated with this notification rule.</p>",
          "shape": "EventTypeIds"
        },
        "Name": {
          "documentation": "<p>The name of the notification rule.</p>",
          "shape": "NotificationRuleName"
        },
        "Status": {
          "documentation": "<p>The status of the notification rule. Valid statuses include enabled (sending notifications) or disabled (not sending notifications).</p>",
          "shape": "NotificationRuleStatus"
        },
        "Targets": {
          "documentation": "<p>The address and type of the targets to receive notifications from this notification rule.</p>",
          "shape": "Targets"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "UpdateNotificationRuleResult": {
      "members": {},
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>One or more parameter values are not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
