{
  "documentation": "API for AWS Elemental MediaLive",
  "metadata": {
    "apiVersion": "2017-10-14",
    "endpointPrefix": "medialive",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "MediaLive",
    "serviceFullName": "AWS Elemental MediaLive",
    "serviceId": "MediaLive",
    "signatureVersion": "v4",
    "signingName": "medialive",
    "uid": "medialive-2017-10-14"
  },
  "operations": {
    "BatchUpdateSchedule": {
      "documentation": "Update a channel schedule",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The update schedule request failed validation.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the channel schedule.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The specified channel id does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on update schedule calls.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchUpdateScheduleRequest"
      },
      "name": "BatchUpdateSchedule",
      "output": {
        "documentation": "Successful update of the schedule.",
        "shape": "BatchUpdateScheduleResponse"
      }
    },
    "CreateChannel": {
      "documentation": "Creates a new channel",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The Channel failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to create the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on create channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to create due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "name": "CreateChannel",
      "output": {
        "documentation": "Creation of channel is started.",
        "shape": "CreateChannelResponse"
      }
    },
    "CreateInput": {
      "documentation": "Create an input",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "name": "CreateInput",
      "output": {
        "documentation": "Successfully created the input.",
        "shape": "CreateInputResponse"
      }
    },
    "CreateInputSecurityGroup": {
      "documentation": "Creates a Input Security Group",
      "errors": [
        {
          "documentation": "The request to create an Input Security Group was Invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to create an Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateInputSecurityGroupRequest"
      },
      "name": "CreateInputSecurityGroup",
      "output": {
        "documentation": "Successfully created the Input Security Group.",
        "shape": "CreateInputSecurityGroupResponse"
      }
    },
    "CreateMultiplex": {
      "documentation": "Create a new multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The Multiplex failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to create the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on create multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to create due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexRequest"
      },
      "name": "CreateMultiplex",
      "output": {
        "documentation": "Creation of the multiplex is in progress.",
        "shape": "CreateMultiplexResponse"
      }
    },
    "CreateMultiplexProgram": {
      "documentation": "Create a new program in the multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The Multiplex program failed validation and could not be created.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to create a program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on create multiplex program calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex program is unable to create due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateMultiplexProgramRequest"
      },
      "name": "CreateMultiplexProgram",
      "output": {
        "documentation": "Creation of the program is in progress.",
        "shape": "CreateMultiplexProgramResponse"
      }
    },
    "CreateTags": {
      "documentation": "Create tags for a resource",
      "errors": [
        {
          "documentation": "The arn was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "CreateTagsRequest"
      },
      "name": "CreateTags"
    },
    "DeleteChannel": {
      "documentation": "Starts deletion of channel. The associated outputs are also deleted.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to delete does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to delete due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "name": "DeleteChannel",
      "output": {
        "documentation": "Deletion was successfully initiated.",
        "shape": "DeleteChannelResponse"
      }
    },
    "DeleteInput": {
      "documentation": "Deletes the input end point",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Resource conflict",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "name": "DeleteInput",
      "output": {
        "documentation": "Successful deletion",
        "shape": "DeleteInputResponse"
      }
    },
    "DeleteInputSecurityGroup": {
      "documentation": "Deletes an Input Security Group",
      "errors": [
        {
          "documentation": "The request to delete the Input Security Group was Invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to delete this Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input Security Group not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteInputSecurityGroupRequest"
      },
      "name": "DeleteInputSecurityGroup",
      "output": {
        "documentation": "An Input Security Group",
        "shape": "DeleteInputSecurityGroupResponse"
      }
    },
    "DeleteMultiplex": {
      "documentation": "Delete a multiplex. The multiplex must be idle.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to delete the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to delete doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to delete due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteMultiplexRequest"
      },
      "name": "DeleteMultiplex",
      "output": {
        "documentation": "Deletion of the multiplex is in progress.",
        "shape": "DeleteMultiplexResponse"
      }
    },
    "DeleteMultiplexProgram": {
      "documentation": "Delete a program from a multiplex.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to delete the multiplex program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The program that you are trying to delete doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete multiplex program calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex program is unable to delete due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteMultiplexProgramRequest"
      },
      "name": "DeleteMultiplexProgram",
      "output": {
        "documentation": "Deletion of the program is in progress.",
        "shape": "DeleteMultiplexProgramResponse"
      }
    },
    "DeleteReservation": {
      "documentation": "Delete an expired reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete reservation",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Reservation you're attempting to delete does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete reservation request",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The reservation could not be deleted because it is currently active.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteReservationRequest"
      },
      "name": "DeleteReservation",
      "output": {
        "documentation": "Deleted reservation",
        "shape": "DeleteReservationResponse"
      }
    },
    "DeleteSchedule": {
      "documentation": "Delete all schedule actions on a channel.",
      "errors": [
        {
          "documentation": "This request to delete the schedule on this channel was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to delete the channel schedule.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The specified channel does not exist to have its schedule deleted.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on delete schedule calls.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteScheduleRequest"
      },
      "name": "DeleteSchedule",
      "output": {
        "documentation": "Successful delete of the schedule.",
        "shape": "DeleteScheduleResponse"
      }
    },
    "DeleteTags": {
      "documentation": "Removes tags for a resource",
      "errors": [
        {
          "documentation": "The arn was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteTagsRequest"
      },
      "name": "DeleteTags"
    },
    "DescribeChannel": {
      "documentation": "Gets details about a channel",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to describe does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe channel calls to channel service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "name": "DescribeChannel",
      "output": {
        "documentation": "Channel details",
        "shape": "DescribeChannelResponse"
      }
    },
    "DescribeInput": {
      "documentation": "Produces details about an input",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "name": "DescribeInput",
      "output": {
        "documentation": "Input details",
        "shape": "DescribeInputResponse"
      }
    },
    "DescribeInputSecurityGroup": {
      "documentation": "Produces a summary of an Input Security Group",
      "errors": [
        {
          "documentation": "The request to describe an Input Security Group was Invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to describe this Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Input Security Group not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeInputSecurityGroupRequest"
      },
      "name": "DescribeInputSecurityGroup",
      "output": {
        "documentation": "An Input Security Group",
        "shape": "DescribeInputSecurityGroupResponse"
      }
    },
    "DescribeMultiplex": {
      "documentation": "Gets details about a multiplex.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to describe the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to describe doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexRequest"
      },
      "name": "DescribeMultiplex",
      "output": {
        "documentation": "Details for one multiplex.",
        "shape": "DescribeMultiplexResponse"
      }
    },
    "DescribeMultiplexProgram": {
      "documentation": "Get the details for a program in a multiplex.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to describe the multiplex program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "MediaLive can't describe the program. The multiplex or the program that you specified doesn\u2019t exist. Check the IDs and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe multiplex program calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeMultiplexProgramRequest"
      },
      "name": "DescribeMultiplexProgram",
      "output": {
        "documentation": "The details of one program.",
        "shape": "DescribeMultiplexProgramResponse"
      }
    },
    "DescribeOffering": {
      "documentation": "Get details for an offering.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe offering",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Offering you're attempting to describe does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe offering request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings/{offeringId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeOfferingRequest"
      },
      "name": "DescribeOffering",
      "output": {
        "documentation": "Offering details",
        "shape": "DescribeOfferingResponse"
      }
    },
    "DescribeReservation": {
      "documentation": "Get details for a reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe reservation",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Reservation you're attempting to describe does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe reservation request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeReservationRequest"
      },
      "name": "DescribeReservation",
      "output": {
        "documentation": "Reservation details",
        "shape": "DescribeReservationResponse"
      }
    },
    "DescribeSchedule": {
      "documentation": "Get a channel schedule",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to describe the channel schedule.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting a schedule describe for does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on describe schedule calls.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels/{channelId}/schedule",
        "responseCode": 200
      },
      "input": {
        "shape": "DescribeScheduleRequest"
      },
      "name": "DescribeSchedule",
      "output": {
        "documentation": "An array of channel schedule actions.",
        "shape": "DescribeScheduleResponse"
      }
    },
    "ListChannels": {
      "documentation": "Produces list of channels that have been created",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list channels.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list channel calls to channel service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/channels",
        "responseCode": 200
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "name": "ListChannels",
      "output": {
        "documentation": "An array of channels",
        "shape": "ListChannelsResponse"
      }
    },
    "ListInputSecurityGroups": {
      "documentation": "Produces a list of Input Security Groups for an account",
      "errors": [
        {
          "documentation": "The request to list Input Security Groups was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to call ListInputSecurityGroups",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit Exceeded Error",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputSecurityGroups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputSecurityGroupsRequest"
      },
      "name": "ListInputSecurityGroups",
      "output": {
        "documentation": "An array of Input Security Groups",
        "shape": "ListInputSecurityGroupsResponse"
      }
    },
    "ListInputs": {
      "documentation": "Produces list of inputs that have been created",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Limit exceeded",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/inputs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "name": "ListInputs",
      "output": {
        "documentation": "An array of inputs",
        "shape": "ListInputsResponse"
      }
    },
    "ListMultiplexPrograms": {
      "documentation": "List the programs that currently exist for a specific multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list multiplex programs.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "MediaLive can't provide the list of programs. The multiplex that you specified doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexProgramsRequest"
      },
      "name": "ListMultiplexPrograms",
      "output": {
        "documentation": "An array of the programs for one multiplex.",
        "shape": "ListMultiplexProgramsResponse"
      }
    },
    "ListMultiplexes": {
      "documentation": "Retrieve a list of the existing multiplexes.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to list multiplexes.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/multiplexes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListMultiplexesRequest"
      },
      "name": "ListMultiplexes",
      "output": {
        "documentation": "An array of multiplexes.",
        "shape": "ListMultiplexesResponse"
      }
    },
    "ListOfferings": {
      "documentation": "List offerings available for purchase.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list offerings",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list offerings request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/offerings",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOfferingsRequest"
      },
      "name": "ListOfferings",
      "output": {
        "documentation": "List of offerings",
        "shape": "ListOfferingsResponse"
      }
    },
    "ListReservations": {
      "documentation": "List purchased reservations.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to list reservations",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on list reservations request",
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/reservations",
        "responseCode": 200
      },
      "input": {
        "shape": "ListReservationsRequest"
      },
      "name": "ListReservations",
      "output": {
        "documentation": "List of reservations",
        "shape": "ListReservationsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "Produces list of tags that have been created for a resource",
      "errors": [
        {
          "documentation": "The arn was not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "Access was denied",
          "shape": "ForbiddenException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/prod/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "An array of tags",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PurchaseOffering": {
      "documentation": "Purchase an offering and create a reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to purchase the offering",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Offering you're attempting to purchase does not exist",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on purchase offering request",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "Offering purchase prevented by service resource issue",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/offerings/{offeringId}/purchase",
        "responseCode": 201
      },
      "input": {
        "shape": "PurchaseOfferingRequest"
      },
      "name": "PurchaseOffering",
      "output": {
        "documentation": "Purchased reservation",
        "shape": "PurchaseOfferingResponse"
      }
    },
    "StartChannel": {
      "documentation": "Starts an existing channel",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to start the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to start does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on start channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to start due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/start",
        "responseCode": 200
      },
      "input": {
        "shape": "StartChannelRequest"
      },
      "name": "StartChannel",
      "output": {
        "documentation": "Successfully initiated start of the channel.",
        "shape": "StartChannelResponse"
      }
    },
    "StartMultiplex": {
      "documentation": "Start (run) the multiplex. Starting the multiplex does not start the channels. You must explicitly start each channel.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to start the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to start doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on start multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to start due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/start",
        "responseCode": 202
      },
      "input": {
        "shape": "StartMultiplexRequest"
      },
      "name": "StartMultiplex",
      "output": {
        "documentation": "The action to start the multiplex is in progress.",
        "shape": "StartMultiplexResponse"
      }
    },
    "StopChannel": {
      "documentation": "Stops a running channel",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to stop the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're requesting to stop does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on stop channel calls to channel service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel is unable to stop due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/channels/{channelId}/stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopChannelRequest"
      },
      "name": "StopChannel",
      "output": {
        "documentation": "Successfully initiated stop of the channel.",
        "shape": "StopChannelResponse"
      }
    },
    "StopMultiplex": {
      "documentation": "Stops a running multiplex. If the multiplex isn't running, this action has no effect.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to stop the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to stop doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on stop multiplex calls to multiplex service.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The multiplex is unable to stop due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/prod/multiplexes/{multiplexId}/stop",
        "responseCode": 202
      },
      "input": {
        "shape": "StopMultiplexRequest"
      },
      "name": "StopMultiplex",
      "output": {
        "documentation": "The action to stop the multiplex is in progress.",
        "shape": "StopMultiplexResponse"
      }
    },
    "UpdateChannel": {
      "documentation": "Updates a channel.",
      "errors": [
        {
          "documentation": "This request was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The channel configuration failed validation and could not be updated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The channel is unable to update due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "name": "UpdateChannel",
      "output": {
        "documentation": "Channel is successfully updated.",
        "shape": "UpdateChannelResponse"
      }
    },
    "UpdateChannelClass": {
      "documentation": "Changes the class of the channel.",
      "errors": [
        {
          "documentation": "This request to update the channel class was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The channel configuration failed validation when attempting to update the channel class.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update the class of this channel.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The channel you're trying to update the class on does not exist.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded on update channel class calls.",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The channel class cannot be updated due to an issue with channel resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/channels/{channelId}/channelClass",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateChannelClassRequest"
      },
      "name": "UpdateChannelClass",
      "output": {
        "documentation": "The class of the channel has been successfully updated.",
        "shape": "UpdateChannelClassResponse"
      }
    },
    "UpdateInput": {
      "documentation": "Updates an input.",
      "errors": [
        {
          "documentation": "This request to update the input was invalid.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Service Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to update an input.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The input was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The input was unable to be updated at this time due to an issue with input resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputs/{inputId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "name": "UpdateInput",
      "output": {
        "documentation": "The input update is successfully initiated.",
        "shape": "UpdateInputResponse"
      }
    },
    "UpdateInputSecurityGroup": {
      "documentation": "Update an Input Security Group's Whilelists.",
      "errors": [
        {
          "documentation": "The request to update the Input Security Group was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal Server Error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "The requester does not have permission to update an Input Security Group",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The Input Security Group was not found.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The Input Security Group was unable to be updated due to an issue with input security group resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/inputSecurityGroups/{inputSecurityGroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateInputSecurityGroupRequest"
      },
      "name": "UpdateInputSecurityGroup",
      "output": {
        "documentation": "Successfully initiated the update of the Input Security Group.",
        "shape": "UpdateInputSecurityGroupResponse"
      }
    },
    "UpdateMultiplex": {
      "documentation": "Updates a multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The multiplex configuration failed validation and could not be updated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to update the multiplex.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "The multiplex that you are trying to update doesn\u2019t exist. Check the ID and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The multiplex is unable to update due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexRequest"
      },
      "name": "UpdateMultiplex",
      "output": {
        "documentation": "The update to the multiplex has succeeded.",
        "shape": "UpdateMultiplexResponse"
      }
    },
    "UpdateMultiplexProgram": {
      "documentation": "Update a program in a multiplex.",
      "errors": [
        {
          "documentation": "MediaLive can't process your request because of a problem in the request. Please check your request form and syntax.",
          "shape": "BadRequestException"
        },
        {
          "documentation": "The multiplex program failed validation and could not be updated.",
          "shape": "UnprocessableEntityException"
        },
        {
          "documentation": "Unexpected internal service error.",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You don't have permission to update the multiplex program.",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad Gateway Error.",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "MediaLive can't update the program. The multiplex or the program that you specified doesn\u2019t exist. Check the IDs and try again.",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway Timeout Error.",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "The multiplex program is unable to update due to an issue with multiplex resources.",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/multiplexes/{multiplexId}/programs/{programName}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateMultiplexProgramRequest"
      },
      "name": "UpdateMultiplexProgram",
      "output": {
        "documentation": "The update to the program has succeeded.",
        "shape": "UpdateMultiplexProgramResponse"
      }
    },
    "UpdateReservation": {
      "documentation": "Update reservation.",
      "errors": [
        {
          "documentation": "This request was invalid",
          "shape": "BadRequestException"
        },
        {
          "documentation": "Internal service error",
          "shape": "InternalServerErrorException"
        },
        {
          "documentation": "You do not have permission to update reservation",
          "shape": "ForbiddenException"
        },
        {
          "documentation": "Bad gateway error",
          "shape": "BadGatewayException"
        },
        {
          "documentation": "Reservation not found",
          "shape": "NotFoundException"
        },
        {
          "documentation": "Gateway timeout error",
          "shape": "GatewayTimeoutException"
        },
        {
          "documentation": "Request limit exceeded",
          "shape": "TooManyRequestsException"
        },
        {
          "documentation": "The reservation could not be updated",
          "shape": "ConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/prod/reservations/{reservationId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateReservationRequest"
      },
      "name": "UpdateReservation",
      "output": {
        "documentation": "Updated reservation",
        "shape": "UpdateReservationResponse"
      }
    }
  },
  "shapes": {
    "AacCodingMode": {
      "documentation": "Aac Coding Mode",
      "enum": [
        "AD_RECEIVER_MIX",
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_5_1"
      ],
      "type": "string"
    },
    "AacInputType": {
      "documentation": "Aac Input Type",
      "enum": [
        "BROADCASTER_MIXED_AD",
        "NORMAL"
      ],
      "type": "string"
    },
    "AacProfile": {
      "documentation": "Aac Profile",
      "enum": [
        "HEV1",
        "HEV2",
        "LC"
      ],
      "type": "string"
    },
    "AacRateControlMode": {
      "documentation": "Aac Rate Control Mode",
      "enum": [
        "CBR",
        "VBR"
      ],
      "type": "string"
    },
    "AacRawFormat": {
      "documentation": "Aac Raw Format",
      "enum": [
        "LATM_LOAS",
        "NONE"
      ],
      "type": "string"
    },
    "AacSettings": {
      "documentation": "Aac Settings",
      "members": {
        "Bitrate": {
          "documentation": "Average bitrate in bits/second. Valid values depend on rate control mode and profile.",
          "locationName": "bitrate",
          "shape": "__double"
        },
        "CodingMode": {
          "documentation": "Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. The adReceiverMix setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.",
          "locationName": "codingMode",
          "shape": "AacCodingMode"
        },
        "InputType": {
          "documentation": "Set to \"broadcasterMixedAd\" when input contains pre-mixed main audio + AD (narration) as a stereo pair.  The Audio Type field (audioType) will be set to 3, which signals to downstream systems that this stream contains \"broadcaster mixed AD\". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. The values in audioTypeControl and audioType (in AudioDescription) are ignored when set to broadcasterMixedAd.\n\nLeave set to \"normal\" when input does not contain pre-mixed audio + AD.",
          "locationName": "inputType",
          "shape": "AacInputType"
        },
        "Profile": {
          "documentation": "AAC Profile.",
          "locationName": "profile",
          "shape": "AacProfile"
        },
        "RateControlMode": {
          "documentation": "Rate Control Mode.",
          "locationName": "rateControlMode",
          "shape": "AacRateControlMode"
        },
        "RawFormat": {
          "documentation": "Sets LATM / LOAS AAC output for raw containers.",
          "locationName": "rawFormat",
          "shape": "AacRawFormat"
        },
        "SampleRate": {
          "documentation": "Sample rate in Hz. Valid values depend on rate control mode and profile.",
          "locationName": "sampleRate",
          "shape": "__double"
        },
        "Spec": {
          "documentation": "Use MPEG-2 AAC audio instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.",
          "locationName": "spec",
          "shape": "AacSpec"
        },
        "VbrQuality": {
          "documentation": "VBR Quality Level - Only used if rateControlMode is VBR.",
          "locationName": "vbrQuality",
          "shape": "AacVbrQuality"
        }
      },
      "type": "structure"
    },
    "AacSpec": {
      "documentation": "Aac Spec",
      "enum": [
        "MPEG2",
        "MPEG4"
      ],
      "type": "string"
    },
    "AacVbrQuality": {
      "documentation": "Aac Vbr Quality",
      "enum": [
        "HIGH",
        "LOW",
        "MEDIUM_HIGH",
        "MEDIUM_LOW"
      ],
      "type": "string"
    },
    "Ac3BitstreamMode": {
      "documentation": "Ac3 Bitstream Mode",
      "enum": [
        "COMMENTARY",
        "COMPLETE_MAIN",
        "DIALOGUE",
        "EMERGENCY",
        "HEARING_IMPAIRED",
        "MUSIC_AND_EFFECTS",
        "VISUALLY_IMPAIRED",
        "VOICE_OVER"
      ],
      "type": "string"
    },
    "Ac3CodingMode": {
      "documentation": "Ac3 Coding Mode",
      "enum": [
        "CODING_MODE_1_0",
        "CODING_MODE_1_1",
        "CODING_MODE_2_0",
        "CODING_MODE_3_2_LFE"
      ],
      "type": "string"
    },
    "Ac3DrcProfile": {
      "documentation": "Ac3 Drc Profile",
      "enum": [
        "FILM_STANDARD",
        "NONE"
      ],
      "type": "string"
    },
    "Ac3LfeFilter": {
      "documentation": "Ac3 Lfe Filter",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "Ac3MetadataControl": {
      "documentation": "Ac3 Metadata Control",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "Ac3Settings": {
      "documentation": "Ac3 Settings",
      "members": {
        "Bitrate": {
          "documentation": "Average bitrate in bits/second. Valid bitrates depend on the coding mode.",
          "locationName": "bitrate",
          "shape": "__double"
        },
        "BitstreamMode": {
          "documentation": "Specifies the bitstream mode (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.",
          "locationName": "bitstreamMode",
          "shape": "Ac3BitstreamMode"
        },
        "CodingMode": {
          "documentation": "Dolby Digital coding mode. Determines number of channels.",
          "locationName": "codingMode",
          "shape": "Ac3CodingMode"
        },
        "Dialnorm": {
          "documentation": "Sets the dialnorm for the output. If excluded and input audio is Dolby Digital, dialnorm will be passed through.",
          "locationName": "dialnorm",
          "shape": "__integerMin1Max31"
        },
        "DrcProfile": {
          "documentation": "If set to filmStandard, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.",
          "locationName": "drcProfile",
          "shape": "Ac3DrcProfile"
        },
        "LfeFilter": {
          "documentation": "When set to enabled, applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid in codingMode32Lfe mode.",
          "locationName": "lfeFilter",
          "shape": "Ac3LfeFilter"
        },
        "MetadataControl": {
          "documentation": "When set to \"followInput\", encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.",
          "locationName": "metadataControl",
          "shape": "Ac3MetadataControl"
        }
      },
      "type": "structure"
    },
    "AccessDenied": {
      "documentation": "Placeholder documentation for AccessDenied",
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "AfdSignaling": {
      "documentation": "Afd Signaling",
      "enum": [
        "AUTO",
        "FIXED",
        "NONE"
      ],
      "type": "string"
    },
    "ArchiveContainerSettings": {
      "documentation": "Archive Container Settings",
      "members": {
        "M2tsSettings": {
          "locationName": "m2tsSettings",
          "shape": "M2tsSettings"
        }
      },
      "type": "structure"
    },
    "ArchiveGroupSettings": {
      "documentation": "Archive Group Settings",
      "members": {
        "Destination": {
          "documentation": "A directory and base filename where archive files should be written.",
          "locationName": "destination",
          "shape": "OutputLocationRef"
        },
        "RolloverInterval": {
          "documentation": "Number of seconds to write to archive file before closing and starting a new one.",
          "locationName": "rolloverInterval",
          "shape": "__integerMin1"
        }
      },
      "required": [
        "Destination"
      ],
      "type": "structure"
    },
    "ArchiveOutputSettings": {
      "documentation": "Archive Output Settings",
      "members": {
        "ContainerSettings": {
          "documentation": "Settings specific to the container type of the file.",
          "locationName": "containerSettings",
          "shape": "ArchiveContainerSettings"
        },
        "Extension": {
          "documentation": "Output file extension. If excluded, this will be auto-selected from the container type.",
          "locationName": "extension",
          "shape": "__string"
        },
        "NameModifier": {
          "documentation": "String concatenated to the end of the destination filename.  Required for multiple outputs of the same type.",
          "locationName": "nameModifier",
          "shape": "__string"
        }
      },
      "required": [
        "ContainerSettings"
      ],
      "type": "structure"
    },
    "AribDestinationSettings": {
      "documentation": "Arib Destination Settings",
      "members": {},
      "type": "structure"
    },
    "AribSourceSettings": {
      "documentation": "Arib Source Settings",
      "members": {},
      "type": "structure"
    },
    "AudioChannelMapping": {
      "documentation": "Audio Channel Mapping",
      "members": {
        "InputChannelLevels": {
          "documentation": "Indices and gain values for each input channel that should be remixed into this output channel.",
          "locationName": "inputChannelLevels",
          "shape": "__listOfInputChannelLevel"
        },
        "OutputChannel": {
          "documentation": "The index of the output channel being produced.",
          "locationName": "outputChannel",
          "shape": "__integerMin0Max7"
        }
      },
      "required": [
        "OutputChannel",
        "InputChannelLevels"
      ],
      "type": "structure"
    },
    "AudioCodecSettings": {
      "documentation": "Audio Codec Settings",
      "members": {
        "AacSettings": {
          "locationName": "aacSettings",
          "shape": "AacSettings"
        },
        "Ac3Settings": {
          "locationName": "ac3Settings",
          "shape": "Ac3Settings"
        },
        "Eac3Settings": {
          "locationName": "eac3Settings",
          "shape": "Eac3Settings"
        },
        "Mp2Settings": {
          "locationName": "mp2Settings",
          "shape": "Mp2Settings"
        },
        "PassThroughSettings": {
          "locationName": "passThroughSettings",
          "shape": "PassThroughSettings"
        }
      },
      "type": "structure"
    },
    "AudioDescription": {
      "documentation": "Audio Description",
      "members": {
        "AudioNormalizationSettings": {
          "documentation": "Advanced audio normalization settings.",
          "locationName": "audioNormalizationSettings",
          "shape": "AudioNormalizationSettings"
        },
        "AudioSelectorName": {
          "documentation": "The name of the AudioSelector used as the source for this AudioDescription.",
          "locationName": "audioSelectorName",
          "shape": "__string"
        },
        "AudioType": {
          "documentation": "Applies only if audioTypeControl is useConfigured. The values for audioType are defined in ISO-IEC 13818-1.",
          "locationName": "audioType",
          "shape": "AudioType"
        },
        "AudioTypeControl": {
          "documentation": "Determines how audio type is determined.\n  followInput: If the input contains an ISO 639 audioType, then that value is passed through to the output. If the input contains no ISO 639 audioType, the value in Audio Type is included in the output.\n  useConfigured: The value in Audio Type is included in the output.\nNote that this field and audioType are both ignored if inputType is broadcasterMixedAd.",
          "locationName": "audioTypeControl",
          "shape": "AudioDescriptionAudioTypeControl"
        },
        "CodecSettings": {
          "documentation": "Audio codec settings.",
          "locationName": "codecSettings",
          "shape": "AudioCodecSettings"
        },
        "LanguageCode": {
          "documentation": "Indicates the language of the audio output track. Only used if languageControlMode is useConfigured, or there is no ISO 639 language code specified in the input.",
          "locationName": "languageCode",
          "shape": "__stringMin3Max3"
        },
        "LanguageCodeControl": {
          "documentation": "Choosing followInput will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The languageCode will be used when useConfigured is set, or when followInput is selected but there is no ISO 639 language code specified by the input.",
          "locationName": "languageCodeControl",
          "shape": "AudioDescriptionLanguageCodeControl"
        },
        "Name": {
          "documentation": "The name of this AudioDescription. Outputs will use this name to uniquely identify this AudioDescription.  Description names should be unique within this Live Event.",
          "locationName": "name",
          "shape": "__string"
        },
        "RemixSettings": {
          "documentation": "Settings that control how input audio channels are remixed into the output audio channels.",
          "locationName": "remixSettings",
          "shape": "RemixSettings"
        },
        "StreamName": {
          "documentation": "Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary).",
          "locationName": "streamName",
          "shape": "__string"
        }
      },
      "required": [
        "AudioSelectorName",
        "Name"
      ],
      "type": "structure"
    },
    "AudioDescriptionAudioTypeControl": {
      "documentation": "Audio Description Audio Type Control",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "AudioDescriptionLanguageCodeControl": {
      "documentation": "Audio Description Language Code Control",
      "enum": [
        "FOLLOW_INPUT",
        "USE_CONFIGURED"
      ],
      "type": "string"
    },
    "AudioLanguageSelection": {
      "documentation": "Audio Language Selection",
      "members": {
        "LanguageCode": {
          "documentation": "Selects a specific three-letter language code from within an audio source.",
          "locationName": "languageCode",
          "shape": "__string"
        },
        "LanguageSelectionPolicy": {
          "documentation": "When set to \"strict\", the transport stream demux strictly identifies audio streams by their language descriptor. If a PMT update occurs such that an audio stream matching the initially selected language is no longer present then mute will be encoded until the language returns. If \"loose\", then on a PMT update the demux will choose another audio stream in the program with the same stream type if it can't find one with the same language.",
          "locationName": "languageSelectionPolicy",
          "shape": "AudioLanguageSelectionPolicy"
        }
      },
      "required": [
        "LanguageCode"
      ],
      "type": "structure"
    },
    "AudioLanguageSelectionPolicy": {
      "documentation": "Audio Language Selection Policy",
      "enum": [
        "LOOSE",
        "STRICT"
      ],
      "type": "string"
    },
    "AudioNormalizationAlgorithm": {
      "documentation": "Audio Normalization Algorithm",
      "enum": [
        "ITU_1770_1",
        "ITU_1770_2"
      ],
      "type": "string"
    },
    "AudioNormalizationAlgorithmControl": {
      "documentation": "Audio Normalization Algorithm Control",
      "enum": [
        "CORRECT_AUDIO"
      ],
      "type": "string"
    },
    "AudioNormalizationSettings": {
      "documentation": "Audio Normalization Settings",
      "members": {
        "Algorithm": {
          "documentation": "Audio normalization algorithm to use. itu17701 conforms to the CALM Act specification, itu17702 conforms to the EBU R-128 specification.",
          "locationName": "algorithm",
          "shape": "AudioNormalizationAlgorithm"
        },
        "AlgorithmControl": {
          "documentation": "When set to correctAudio the output audio is corrected using the chosen algorithm. If set to measureOnly, the audio will be measured but not adjusted.",
          "locationName": "algorithmControl",
          "shape": "AudioNormalizationAlgorithmControl"
        },
        "TargetLkfs": {
          "documentation": "Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm.  The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.",
          "locationName": "targetLkfs",
          "shape": "__doubleMinNegative59Max0"
        }
      },
      "type": "structure"
    },
    "AudioOnlyHlsSegmentType": {
      "documentation": "Audio Only Hls Segment Type",
      "enum": [
        "AAC",
        "FMP4"
      ],
      "type": "string"
    },
    "AudioOnlyHlsSettings": {
      "documentation": "Audio Only Hls Settings",
      "members": {
        "AudioGroupId": {
          "documentation": "Specifies the group to which the audio Rendition belongs.",
          "locationName": "audioGroupId",
          "shape": "__string"
        },
        "AudioOnlyImage": {
          "documentation": "Optional. Specifies the .jpg or .png image to use as the cover art for an audio-only output. We recommend a low bit-size file because the image increases the output audio bandwidth.\n\nThe image is attached to the audio as an ID3 tag, frame type APIC, picture type 0x10, as per the \"ID3 tag version 2.4.0 - Native Frames\" standard.",
          "locationName": "audioOnlyImage",
          "shape": "InputLocation"
        },
        "AudioTrackType": {
          "documentation": "Four types of audio-only tracks are supported:\n\nAudio-Only Variant Stream\nThe client can play back this audio-only stream instead of video in low-bandwidth scenarios. Represented as an EXT-X-STREAM-INF in the HLS manifest.\n\nAlternate Audio, Auto Select, Default\nAlternate rendition that the client should try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=YES, AUTOSELECT=YES\n\nAlternate Audio, Auto Select, Not Default\nAlternate rendition that the client may try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=YES\n\nAlternate Audio, not Auto Select\nAlternate rendition that the client will not try to play back by default. Represented as an EXT-X-MEDIA in the HLS manifest with DEFAULT=NO, AUTOSELECT=NO",
          "locationName": "audioTrackType",
          "shape": "AudioOnlyHlsTrackType"
        },
        "SegmentType": {
          "documentation": "Specifies the segment type.",
          "locationName": "segmentType",
          "shape": "AudioOnlyHlsSegmentType"
        }
      },
      "type": "structure"
    },
    "AudioOnlyHlsTrackType": {
      "documentation": "Audio Only Hls Track Type",
      "enum": [
        "ALTERNATE_AUDIO_AUTO_SELECT",
        "ALTERNATE_AUDIO_AUTO_SELECT_DEFAULT",
        "ALTERNATE_AUDIO_NOT_AUTO_SELECT",
        "AUDIO_ONLY_VARIANT_STREAM"
      ],
      "type": "string"
    },
    "AudioPidSelection": {
      "documentation": "Audio Pid Selection",
      "members": {
        "Pid": {
          "documentation": "Selects a specific PID from within a source.",
          "locationName": "pid",
          "shape": "__integerMin0Max8191"
        }
      },
      "required": [
        "Pid"
      ],
      "type": "structure"
    },
    "AudioSelector": {
      "documentation": "Audio Selector",
      "members": {
        "Name": {
          "documentation": "The name of this AudioSelector. AudioDescriptions will use this name to uniquely identify this Selector.  Selector names should be unique per input.",
          "locationName": "name",
          "shape": "__stringMin1"
        },
        "SelectorSettings": {
          "documentation": "The audio selector settings.",
          "locationName": "selectorSettings",
          "shape": "AudioSelectorSettings"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "AudioSelectorSettings": {
      "documentation": "Audio Selector Settings",
      "members": {
        "AudioLanguageSelection": {
          "locationName": "audioLanguageSelection",
          "shape": "AudioLanguageSelection"
        },
        "AudioPidSelection": {
          "locationName": "audioPidSelection",
          "shape": "AudioPidSelection"
        }
      },
      "type": "structure"
    },
    "AudioType": {
      "documentation": "Audio Type",
      "enum": [
        "CLEAN_EFFECTS",
        "HEARING_IMPAIRED",
        "UNDEFINED",
        "VISUAL_IMPAIRED_COMMENTARY"
      ],
      "type": "string"
    },
    "AuthenticationScheme": {
      "documentation": "Authentication Scheme",
      "enum": [
        "AKAMAI",
        "COMMON"
      ],
      "type": "string"
    },
    "AutomaticInputFailoverSettings": {
      "documentation": "The settings for Automatic Input Failover.",
      "members": {
        "InputPreference": {
          "documentation": "Input preference when deciding which input to make active when a previously failed input has recovered.",
          "locationName": "inputPreference",
          "shape": "InputPreference"
        },
        "SecondaryInputId": {
          "documentation": "The input ID of the secondary input in the automatic input failover pair.",
          "locationName": "secondaryInputId",
          "shape": "__string"
        }
      },
      "required": [
        "SecondaryInputId"
      ],
      "type": "structure"
    },
    "AvailBlanking": {
      "documentation": "Avail Blanking",
      "members": {
        "AvailBlankingImage": {
          "documentation": "Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.",
          "locationName": "availBlankingImage",
          "shape": "InputLocation"
        },
        "State": {
          "documentation": "When set to enabled, causes video, audio and captions to be blanked when insertion metadata is added.",
          "locationName": "state",
          "shape": "AvailBlankingState"
        }
      },
      "type": "structure"
    },
    "AvailBlankingState": {
      "documentation": "Avail Blanking State",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "AvailConfiguration": {
      "documentation": "Avail Configuration",
      "members": {
        "AvailSettings": {
          "documentation": "Ad avail settings.",
          "locationName": "availSettings",
          "shape": "AvailSettings"
        }
      },
      "type": "structure"
    },
    "AvailSettings": {
      "documentation": "Avail Settings",
      "members": {
        "Scte35SpliceInsert": {
          "locationName": "scte35SpliceInsert",
          "shape": "Scte35SpliceInsert"
        },
        "Scte35TimeSignalApos": {
          "locationName": "scte35TimeSignalApos",
          "shape": "Scte35TimeSignalApos"
        }
      },
      "type": "structure"
    },
    "BadGatewayException": {
      "documentation": "Placeholder documentation for BadGatewayException",
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "Placeholder documentation for BadRequestException",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Message": {
          "locationName": "message",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BatchScheduleActionCreateRequest": {
      "documentation": "A list of schedule actions to create (in a request) or that have been created (in a response).",
      "members": {
        "ScheduleActions": {
          "documentation": "A list of schedule actions to create.",
          "locationName": "scheduleActions",
          "shape": "__listOfScheduleAction"
        }
      },
      "required": [
        "ScheduleActions"
      ],
      "type": "structure"
    },
    "BatchScheduleActionCreateResult": {
      "documentation": "List of actions that have been created in the schedule.",
      "members": {
        "ScheduleActions": {
          "documentation": "List of actions that have been created in the schedule.",
          "locationName": "scheduleActions",
          "shape": "__listOfScheduleAction"
        }
      },
      "required": [
        "ScheduleActions"
      ],
      "type": "structure"
    },
    "BatchScheduleActionDeleteRequest": {
      "documentation": "A list of schedule actions to delete.",
      "members": {
        "ActionNames": {
          "documentation": "A list of schedule actions to delete.",
          "locationName": "actionNames",
          "shape": "__listOf__string"
        }
      },
      "required": [
        "ActionNames"
      ],
      "type": "structure"
    },
    "BatchScheduleActionDeleteResult": {
      "documentation": "List of actions that have been deleted from the schedule.",
      "members": {
        "ScheduleActions": {
          "documentation": "List of actions that have been deleted from the schedule.",
          "locationName": "scheduleActions",
          "shape": "__listOfScheduleAction"
        }
      },
      "required": [
        "ScheduleActions"
      ],
      "type": "structure"
    },
    "BatchUpdateScheduleRequest": {
      "documentation": "List of actions to create and list of actions to delete.",
      "members": {
        "ChannelId": {
          "documentation": "Id of the channel whose schedule is being updated.",
          "location": "uri",
          "locationName": "channelId",
          "shape": "__string"
        },
        "Creates": {
          "documentation": "Schedule actions to create in the schedule.",
          "locationName": "creates",
          "shape": "BatchScheduleActionCreateRequest"
        },
        "Deletes": {
          "documentation": "Schedule actions to delete from the schedule.",
          "locationName": "deletes",
          "shape": "BatchScheduleActionDeleteRequest"
        }
      },
      "required": [
        "ChannelId"
      ],
      "type": "structure"
    },
    "BatchUpdateScheduleResponse": {
      "documentation": "Placeholder documentation for BatchUpdateScheduleResponse",
      "members": {
        "Creates": {
          "documentation": "Schedule actions created in the schedule.",
          "locationName": "creates",
          "shape": "BatchScheduleActionCreateResult"
        },
        "Deletes": {
          "documentation": "Schedule actions deleted from the schedule.",
          "locationName": "deletes",
          "shape": "BatchScheduleActionDeleteResult"
        }
      },
      "type": "structure"
    },
    "BatchUpdateScheduleResult": {
      "documentation": "Results of a batch schedule update.",
      "members": {
        "Creates": {
          "documentation": "Schedule actions created in the schedule.",
          "locationName": "creates",
          "shape": "BatchScheduleActionCreateResult"
        },
        "Deletes": {
          "documentation": "Schedule actions deleted from the schedule.",
          "locationName": "deletes",
          "shape": "BatchScheduleActionDeleteResult"
        }
      },
      "type": "structure"
    },
    "BlackoutSlate": {
      "documentation": "Blackout Slate",
      "members": {
        "BlackoutSlateImage": {
          "documentation": "Blackout slate image to be used. Leave empty for solid black. Only bmp and png images are supported.",
          "locationName": "blackoutSlateImage",
          "shape": "InputLocation"
        },
        "NetworkEndBlackout": {
          "documentation": "Setting to enabled causes the encoder to blackout the video, audio, and captions, and raise the \"Network Blackout Image\" slate when an SCTE104/35 Network End Segmentation Descriptor is encountered. The blackout will be lifted when the Network Start Segmentation Descriptor is encountered. The Network End and Network Start descriptors must contain a network ID that matches the value entered in \"Network ID\".",
          "locationName": "networkEndBlackout",
          "shape": "BlackoutSlateNetworkEndBlackout"
        },
        "NetworkEndBlackoutImage": {
          "documentation": "Path to local file to use as Network End Blackout image. Image will be scaled to fill the entire output raster.",
          "locationName": "networkEndBlackoutImage",
          "shape": "InputLocation"
        },
        "NetworkId": {
          "documentation": "Provides Network ID that matches EIDR ID format (e.g., \"10.XXXX/XXXX-XXXX-XXXX-XXXX-XXXX-C\").",
          "locationName": "networkId",
          "shape": "__stringMin34Max34"
        },
        "State": {
          "documentation": "When set to enabled, causes video, audio and captions to be blanked when indicated by program metadata.",
          "locationName": "state",
          "shape": "BlackoutSlateState"
        }
      },
      "type": "structure"
    },
    "BlackoutSlateNetworkEndBlackout": {
      "documentation": "Blackout Slate Network End Blackout",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "BlackoutSlateState": {
      "documentation": "Blackout Slate State",
      "enum": [
        "DISABLED",
        "ENABLED"
      ],
      "type": "string"
    },
    "BurnInAlignment": {
      "documentation": "Burn In Alignment",
      "enum": [
        "CENTERED",
        "LEFT",
        "SMART"
      ],
      "type": "string"
    },
    "BurnInBackgroundColor": {
      "documentation": "Burn In Background Color",
      "enum": [
        "BLACK",
        "NONE",
        "WHITE"
      ],
      "type": "string"
    },
    "BurnInDestinationSettings": {
      "documentation": "Burn In Destination Settings",
      "members": {
        "Alignment": {
          "documentation": "If no explicit xPosition or yPosition is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. Selecting \"smart\" justification will left-justify live subtitles and center-justify pre-recorded subtitles.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "alignment",
          "shape": "BurnInAlignment"
        },
        "BackgroundColor": {
          "documentation": "Specifies the color of the rectangle behind the captions.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "backgroundColor",
          "shape": "BurnInBackgroundColor"
        },
        "BackgroundOpacity": {
          "documentation": "Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.",
          "locationName": "backgroundOpacity",
          "shape": "__integerMin0Max255"
        },
        "Font": {
          "documentation": "External font file used for caption burn-in. File extension must be 'ttf' or 'tte'.  Although the user can select output fonts for many different types of input captions,  embedded, STL and teletext sources use a strict grid system. Using external fonts with these caption sources could cause unexpected display of proportional fonts.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "font",
          "shape": "InputLocation"
        },
        "FontColor": {
          "documentation": "Specifies the color of the burned-in captions.  This option is not valid for source captions that are STL, 608/embedded or teletext.  These source settings are already pre-defined by the caption stream.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "fontColor",
          "shape": "BurnInFontColor"
        },
        "FontOpacity": {
          "documentation": "Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "fontOpacity",
          "shape": "__integerMin0Max255"
        },
        "FontResolution": {
          "documentation": "Font resolution in DPI (dots per inch); default is 96 dpi.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "fontResolution",
          "shape": "__integerMin96Max600"
        },
        "FontSize": {
          "documentation": "When set to 'auto' fontSize will scale depending on the size of the output.  Giving a positive integer will specify the exact font size in points.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "fontSize",
          "shape": "__string"
        },
        "OutlineColor": {
          "documentation": "Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "outlineColor",
          "shape": "BurnInOutlineColor"
        },
        "OutlineSize": {
          "documentation": "Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.",
          "locationName": "outlineSize",
          "shape": "__integerMin0Max10"
        },
        "ShadowColor": {
          "documentation": "Specifies the color of the shadow cast by the captions.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowColor",
          "shape": "BurnInShadowColor"
        },
        "ShadowOpacity": {
          "documentation": "Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter out is equivalent to setting it to 0 (transparent).  All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowOpacity",
          "shape": "__integerMin0Max255"
        },
        "ShadowXOffset": {
          "documentation": "Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowXOffset",
          "shape": "__integer"
        },
        "ShadowYOffset": {
          "documentation": "Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "shadowYOffset",
          "shape": "__integer"
        },
        "TeletextGridControl": {
          "documentation": "Controls whether a fixed grid size will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.",
          "locationName": "teletextGridControl",
          "shape": "BurnInTeletextGridControl"
        },
        "XPosition": {
          "documentation": "Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit xPosition is provided, the horizontal caption position will be determined by the alignment parameter.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "xPosition",
          "shape": "__integerMin0"
        },
        "YPosition": {
          "documentation": "Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit yPosition is provided, the caption will be positioned towards the bottom of the output.  All burn-in and DVB-Sub font settings must match.",
          "locationName": "yPosition",
          "shape": "__integerMin0"
        }
      },
      "type": "structure"
    },
    "BurnInFontColor": {
      "documentation": "Burn In Font Color",
      "enum": [
        "BLACK",
        "BLUE",
        "GREEN",
        "RED",
        "WHITE",
        "YELLOW"
      ],
      "type": "string"
    },
    "BurnInOutlineColor": {
      "documentation": "Burn In Outline Color",
      "enum": [
        "BLACK",
        "BLUE",
[...]
