{
  "documentation": "<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of the applications you run in AWS and to identify potential security issues. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html\"> Amazon Inspector User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2015-08-18",
    "endpointPrefix": "inspector",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Inspector",
    "serviceId": "Inspector",
    "signatureVersion": "v4",
    "targetPrefix": "InspectorService"
  },
  "operations": {
    "AddAttributesToFindings": {
      "documentation": "<p>Assigns attributes (key and value pair) to the findings specified by the findings' ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddAttributesToFindingsRequest"
      },
      "name": "AddAttributesToFindings",
      "output": {
        "shape": "AddAttributesToFindingsResponse"
      }
    },
    "AttachAssessmentAndRulesPackage": {
      "documentation": "<p>Attaches the rules package specified by the rules package ARN to the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachAssessmentAndRulesPackageRequest"
      },
      "name": "AttachAssessmentAndRulesPackage",
      "output": {
        "shape": "AttachAssessmentAndRulesPackageResponse"
      }
    },
    "CreateApplication": {
      "documentation": "<p>Creates a new application using the resource group ARN generated by <a>CreateResourceGroup</a>. You can create up to 50 applications per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\"> Inspector Applications.</a></p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateApplicationRequest"
      },
      "name": "CreateApplication",
      "output": {
        "shape": "CreateApplicationResponse"
      }
    },
    "CreateAssessment": {
      "documentation": "<p>Creates an assessment for the application specified by the application ARN. You can create up to 500 assessments per AWS account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssessmentRequest"
      },
      "name": "CreateAssessment",
      "output": {
        "shape": "CreateAssessmentResponse"
      }
    },
    "CreateResourceGroup": {
      "documentation": "<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Inspector application. The created resource group is then used to create an Inspector application.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceGroupRequest"
      },
      "name": "CreateResourceGroup",
      "output": {
        "shape": "CreateResourceGroupResponse"
      }
    },
    "DeleteApplication": {
      "documentation": "<p>Deletes the application specified by the application ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteApplicationRequest"
      },
      "name": "DeleteApplication",
      "output": {
        "shape": "DeleteApplicationResponse"
      }
    },
    "DeleteAssessment": {
      "documentation": "<p>Deletes the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssessmentRequest"
      },
      "name": "DeleteAssessment",
      "output": {
        "shape": "DeleteAssessmentResponse"
      }
    },
    "DeleteRun": {
      "documentation": "<p>Deletes the assessment run specified by the run ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRunRequest"
      },
      "name": "DeleteRun",
      "output": {
        "shape": "DeleteRunResponse"
      }
    },
    "DescribeApplication": {
      "documentation": "<p>Describes the application specified by the application ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeApplicationRequest"
      },
      "name": "DescribeApplication",
      "output": {
        "shape": "DescribeApplicationResponse"
      }
    },
    "DescribeAssessment": {
      "documentation": "<p>Describes the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssessmentRequest"
      },
      "name": "DescribeAssessment",
      "output": {
        "shape": "DescribeAssessmentResponse"
      }
    },
    "DescribeCrossAccountAccessRole": {
      "documentation": "<p>Describes the IAM role that enables Inspector to access your AWS account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeCrossAccountAccessRole",
      "output": {
        "shape": "DescribeCrossAccountAccessRoleResponse"
      }
    },
    "DescribeFinding": {
      "documentation": "<p>Describes the finding specified by the finding ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFindingRequest"
      },
      "name": "DescribeFinding",
      "output": {
        "shape": "DescribeFindingResponse"
      }
    },
    "DescribeResourceGroup": {
      "documentation": "<p>Describes the resource group specified by the resource group ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourceGroupRequest"
      },
      "name": "DescribeResourceGroup",
      "output": {
        "shape": "DescribeResourceGroupResponse"
      }
    },
    "DescribeRulesPackage": {
      "documentation": "<p>Describes the rules package specified by the rules package ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRulesPackageRequest"
      },
      "name": "DescribeRulesPackage",
      "output": {
        "shape": "DescribeRulesPackageResponse"
      }
    },
    "DescribeRun": {
      "documentation": "<p>Describes the assessment run specified by the run ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRunRequest"
      },
      "name": "DescribeRun",
      "output": {
        "shape": "DescribeRunResponse"
      }
    },
    "DetachAssessmentAndRulesPackage": {
      "documentation": "<p>Detaches the rules package specified by the rules package ARN from the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachAssessmentAndRulesPackageRequest"
      },
      "name": "DetachAssessmentAndRulesPackage",
      "output": {
        "shape": "DetachAssessmentAndRulesPackageResponse"
      }
    },
    "GetAssessmentTelemetry": {
      "documentation": "<p>Returns the metadata about the telemetry (application behavioral data) for the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAssessmentTelemetryRequest"
      },
      "name": "GetAssessmentTelemetry",
      "output": {
        "shape": "GetAssessmentTelemetryResponse"
      }
    },
    "ListApplications": {
      "documentation": "<p>Lists the ARNs of the applications within this AWS account. For more information about applications, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide//inspector_applications.html\">Inspector Applications</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListApplicationsRequest"
      },
      "name": "ListApplications",
      "output": {
        "shape": "ListApplicationsResponse"
      }
    },
    "ListAssessmentAgents": {
      "documentation": "<p>Lists the agents of the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssessmentAgentsRequest"
      },
      "name": "ListAssessmentAgents",
      "output": {
        "shape": "ListAssessmentAgentsResponse"
      }
    },
    "ListAssessments": {
      "documentation": "<p>Lists the assessments corresponding to applications specified by the applications' ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssessmentsRequest"
      },
      "name": "ListAssessments",
      "output": {
        "shape": "ListAssessmentsResponse"
      }
    },
    "ListAttachedAssessments": {
      "documentation": "<p>Lists the assessments attached to the rules package specified by the rules package ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAttachedAssessmentsRequest"
      },
      "name": "ListAttachedAssessments",
      "output": {
        "shape": "ListAttachedAssessmentsResponse"
      }
    },
    "ListAttachedRulesPackages": {
      "documentation": "<p>Lists the rules packages attached to the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAttachedRulesPackagesRequest"
      },
      "name": "ListAttachedRulesPackages",
      "output": {
        "shape": "ListAttachedRulesPackagesResponse"
      }
    },
    "ListFindings": {
      "documentation": "<p>Lists findings generated by the assessment run specified by the run ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "name": "ListFindings",
      "output": {
        "shape": "ListFindingsResponse"
      }
    },
    "ListRulesPackages": {
      "documentation": "<p>Lists all available Inspector rules packages.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRulesPackagesRequest"
      },
      "name": "ListRulesPackages",
      "output": {
        "shape": "ListRulesPackagesResponse"
      }
    },
    "ListRuns": {
      "documentation": "<p>Lists the assessment runs associated with the assessments specified by the assessment ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRunsRequest"
      },
      "name": "ListRuns",
      "output": {
        "shape": "ListRunsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "LocalizeText": {
      "documentation": "<p>Translates a textual identifier into a user-readable text in a specified locale.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LocalizeTextRequest"
      },
      "name": "LocalizeText",
      "output": {
        "shape": "LocalizeTextResponse"
      }
    },
    "PreviewAgentsForResourceGroup": {
      "documentation": "<p>Previews the agents installed on the EC2 instances that are included in the application created with the specified resource group.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PreviewAgentsForResourceGroupRequest"
      },
      "name": "PreviewAgentsForResourceGroup",
      "output": {
        "shape": "PreviewAgentsForResourceGroupResponse"
      }
    },
    "RegisterCrossAccountAccessRole": {
      "documentation": "<p>Register the role that Inspector uses to list your EC2 instances during the assessment.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterCrossAccountAccessRoleRequest"
      },
      "name": "RegisterCrossAccountAccessRole",
      "output": {
        "shape": "RegisterCrossAccountAccessRoleResponse"
      }
    },
    "RemoveAttributesFromFindings": {
      "documentation": "<p>Removes the entire attribute (key and value pair) from the findings specified by the finding ARNs where an attribute with the specified key exists.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveAttributesFromFindingsRequest"
      },
      "name": "RemoveAttributesFromFindings",
      "output": {
        "shape": "RemoveAttributesFromFindingsResponse"
      }
    },
    "RunAssessment": {
      "documentation": "<p>Starts the analysis of the application\u2019s behavior against selected rule packages for the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RunAssessmentRequest"
      },
      "name": "RunAssessment",
      "output": {
        "shape": "RunAssessmentResponse"
      }
    },
    "SetTagsForResource": {
      "documentation": "<p>Sets tags (key and value pairs) to the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTagsForResourceRequest"
      },
      "name": "SetTagsForResource",
      "output": {
        "shape": "SetTagsForResourceResponse"
      }
    },
    "StartDataCollection": {
      "documentation": "<p>Starts data collection for the assessment specified by the assessment ARN. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDataCollectionRequest"
      },
      "name": "StartDataCollection",
      "output": {
        "shape": "StartDataCollectionResponse"
      }
    },
    "StopDataCollection": {
      "documentation": "<p>Stop data collection for the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDataCollectionRequest"
      },
      "name": "StopDataCollection",
      "output": {
        "shape": "StopDataCollectionResponse"
      }
    },
    "UpdateApplication": {
      "documentation": "<p>Updates application specified by the application ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateApplicationRequest"
      },
      "name": "UpdateApplication",
      "output": {
        "shape": "UpdateApplicationResponse"
      }
    },
    "UpdateAssessment": {
      "documentation": "<p>Updates the assessment specified by the assessment ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAssessmentRequest"
      },
      "name": "UpdateAssessment",
      "output": {
        "shape": "UpdateAssessmentResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AddAttributesToFindingsRequest": {
      "members": {
        "attributes": {
          "documentation": "<p>The array of attributes that you want to assign to specified findings.</p>",
          "shape": "AttributeList"
        },
        "findingArns": {
          "documentation": "<p>The ARNs specifying the findings that you want to assign attributes to.</p>",
          "shape": "ArnList"
        }
      },
      "required": [
        "findingArns",
        "attributes"
      ],
      "type": "structure"
    },
    "AddAttributesToFindingsResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Agent": {
      "documentation": "<p>Contains information about an Inspector agent. This data type is used as a response element in the <a>ListAssessmentAgents</a> action.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>AWS account of the EC2 instance where the agent is installed.</p>",
          "shape": "AwsAccount"
        },
        "agentHealth": {
          "documentation": "<p>The current health state of the agent. Values can be set to <i>HEALTHY</i> or <i>UNHEALTHY</i>.</p>",
          "shape": "AgentHealth"
        },
        "agentHealthCode": {
          "documentation": "<p>The detailed health state of the agent. Values can be set to <i>RUNNING</i>, <i>HEALTHY</i>, <i>UNHEALTHY</i>, <i>UNKNOWN</i>, <i>BLACKLISTED</i>, <i>SHUTDOWN</i>, <i>THROTTLED</i>. </p>",
          "shape": "AgentHealthCode"
        },
        "agentHealthDetails": {
          "documentation": "<p>The description for the agent health code.</p>",
          "shape": "AgentHealthDetails"
        },
        "agentId": {
          "documentation": "<p>The EC2 instance ID where the agent is installed.</p>",
          "shape": "AgentId"
        },
        "assessmentArn": {
          "documentation": "<p>The ARN of the assessment that is associated with the agent.</p>",
          "shape": "Arn"
        },
        "autoScalingGroup": {
          "documentation": "<p>This data type property is currently not used.</p>",
          "shape": "AutoScalingGroup"
        },
        "telemetry": {
          "documentation": "<p>The Inspector application data metrics collected by the agent. </p>",
          "shape": "TelemetryList"
        }
      },
      "type": "structure"
    },
    "AgentHealth": {
      "type": "string"
    },
    "AgentHealthCode": {
      "type": "string"
    },
    "AgentHealthDetails": {
      "type": "string"
    },
    "AgentHealthList": {
      "member": {
        "shape": "AgentHealth"
      },
      "type": "list"
    },
    "AgentId": {
      "type": "string"
    },
    "AgentList": {
      "member": {
        "shape": "Agent"
      },
      "type": "list"
    },
    "AgentPreview": {
      "documentation": "<p>This data type is used as a response element in the <a>PreviewAgentsForResourceGroup</a> action.</p>",
      "members": {
        "agentId": {
          "documentation": "<p>The id of the EC2 instance where the agent is intalled.</p>",
          "shape": "AgentId"
        },
        "autoScalingGroup": {
          "documentation": "<p>The autoscaling group for the EC2 instance where the agent is installed.</p>",
          "shape": "AutoScalingGroup"
        }
      },
      "type": "structure"
    },
    "AgentPreviewList": {
      "member": {
        "shape": "AgentPreview"
      },
      "type": "list"
    },
    "AgentsFilter": {
      "documentation": "<p>This data type is used as a response element in the <a>ListAssessmentAgents</a> action.</p>",
      "members": {
        "agentHealthList": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>agentHealth</b> property of the <a>Agent</a> data type.</p>",
          "shape": "AgentHealthList"
        }
      },
      "type": "structure"
    },
    "Application": {
      "documentation": "<p>Contains information about an Inspector application.</p> <p>This data type is used as the response element in the <a>DescribeApplication</a> action.</p>",
      "members": {
        "applicationArn": {
          "documentation": "<p>The ARN specifying the Inspector application. </p>",
          "shape": "Arn"
        },
        "applicationName": {
          "documentation": "<p>The name of the Inspector application. </p>",
          "shape": "Name"
        },
        "resourceGroupArn": {
          "documentation": "<p>The ARN specifying the resource group that is associated with the application. </p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "ApplicationsFilter": {
      "documentation": "<p>This data type is used as the request parameter in the <a>ListApplications</a> action.</p>",
      "members": {
        "applicationNamePatterns": {
          "documentation": "<p>For a record to match a filter, an explicit value or a string containing a wildcard specified for this data type property must match the value of the <b>applicationName</b> property of the <a>Application</a> data type.</p>",
          "shape": "NamePatternList"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "type": "string"
    },
    "ArnList": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "Assessment": {
      "documentation": "<p>Contains information about an Inspector assessment.</p> <p>This data type is used as the response element in the <a>DescribeAssessment</a> action.</p>",
      "members": {
        "applicationArn": {
          "documentation": "<p>The ARN of the application that corresponds to this assessment.</p>",
          "shape": "Arn"
        },
        "assessmentArn": {
          "documentation": "<p>The ARN of the assessment.</p>",
          "shape": "Arn"
        },
        "assessmentName": {
          "documentation": "<p>The name of the assessment.</p>",
          "shape": "Name"
        },
        "assessmentState": {
          "documentation": "<p>The state of the assessment. Values can be set to <i>Created</i>, <i>Collecting Data</i>, <i>Stopping</i>, and <i>Completed</i>.</p>",
          "shape": "AssessmentState"
        },
        "dataCollected": {
          "documentation": "<p>Boolean value (true or false) specifying whether the data collection process is completed.</p>",
          "shape": "Bool"
        },
        "durationInSeconds": {
          "documentation": "<p>The assessment duration in seconds. The default value is 3600 seconds (one hour). The maximum value is 86400 seconds (one day).</p>",
          "shape": "Duration"
        },
        "endTime": {
          "documentation": "<p>The assessment end time.</p>",
          "shape": "Timestamp"
        },
        "failureMessage": {
          "documentation": "<p>This data type property is not currently used.</p>",
          "shape": "FailureMessage"
        },
        "startTime": {
          "documentation": "<p>The assessment start time.</p>",
          "shape": "Timestamp"
        },
        "userAttributesForFindings": {
          "documentation": "<p>The user-defined attributes that are assigned to every generated finding.</p>",
          "shape": "AttributeList"
        }
      },
      "type": "structure"
    },
    "AssessmentState": {
      "type": "string"
    },
    "AssessmentStateList": {
      "member": {
        "shape": "AssessmentState"
      },
      "type": "list"
    },
    "AssessmentsFilter": {
      "documentation": "<p>This data type is used as the request parameter in the <a>ListAssessments</a> and <a>ListAttachedAssessments</a> actions.</p>",
      "members": {
        "assessmentNamePatterns": {
          "documentation": "<p>For a record to match a filter, an explicit value or a string containing a wildcard specified for this data type property must match the value of the <b>assessmentName</b> property of the <a>Assessment</a> data type.</p>",
          "shape": "NamePatternList"
        },
        "assessmentStates": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>assessmentState</b> property of the <a>Assessment</a> data type.</p>",
          "shape": "AssessmentStateList"
        },
        "dataCollected": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>dataCollected</b> property of the <a>Assessment</a> data type.</p>",
          "shape": "Bool"
        },
        "durationRange": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>Assessment</a> data type.</p>",
          "shape": "DurationRange"
        },
        "endTimeRange": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>endTime</b> property of the <a>Assessment</a> data type.</p>",
          "shape": "TimestampRange"
        },
        "startTimeRange": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>startTime</b> property of the <a>Assessment</a> data type.</p>",
          "shape": "TimestampRange"
        }
      },
      "type": "structure"
    },
    "AttachAssessmentAndRulesPackageRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment to which you want to attach a rules package.</p>",
          "shape": "Arn"
        },
        "rulesPackageArn": {
          "documentation": "<p>The ARN specifying the rules package that you want to attach to the assessment.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn",
        "rulesPackageArn"
      ],
      "type": "structure"
    },
    "AttachAssessmentAndRulesPackageResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Attribute": {
      "documentation": "<p>This data type is used as a response element in the <a>AddAttributesToFindings</a> action and a request parameter in the <a>CreateAssessment</a> action.</p>",
      "members": {
        "key": {
          "documentation": "<p>The attribute key.</p>",
          "shape": "AttributeKey"
        },
        "value": {
          "documentation": "<p>The value assigned to the attribute key.</p>",
          "shape": "AttributeValue"
        }
      },
      "type": "structure"
    },
    "AttributeKey": {
      "type": "string"
    },
    "AttributeKeyList": {
      "member": {
        "shape": "AttributeKey"
      },
      "type": "list"
    },
    "AttributeList": {
      "member": {
        "shape": "Attribute"
      },
      "type": "list"
    },
    "AttributeValue": {
      "type": "string"
    },
    "AutoScalingGroup": {
      "type": "string"
    },
    "AwsAccount": {
      "type": "string"
    },
    "Bool": {
      "type": "boolean"
    },
    "CreateApplicationRequest": {
      "members": {
        "applicationName": {
          "documentation": "<p>The user-defined name identifying the application that you want to create. The name must be unique within the AWS account.</p>",
          "shape": "Name"
        },
        "resourceGroupArn": {
          "documentation": "<p>The ARN specifying the resource group that is used to create the application.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "applicationName",
        "resourceGroupArn"
      ],
      "type": "structure"
    },
    "CreateApplicationResponse": {
      "members": {
        "applicationArn": {
          "documentation": "<p>The ARN specifying the application that is created.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateAssessmentRequest": {
      "members": {
        "applicationArn": {
          "documentation": "<p>The ARN specifying the application for which you want to create an assessment.</p>",
          "shape": "Arn"
        },
        "assessmentName": {
          "documentation": "<p>The user-defined name identifying the assessment that you want to create. You can create several assessments for an application. The names of the assessments corresponding to a particular application must be unique.</p>",
          "shape": "Name"
        },
        "durationInSeconds": {
          "documentation": "<p>The duration of the assessment in seconds. The default value is 3600 seconds (one hour). The maximum value is 86400 seconds (one day).</p>",
          "shape": "Duration"
        },
        "userAttributesForFindings": {
          "documentation": "<p>The user-defined attributes that are assigned to every finding generated by running this assessment.</p>",
          "shape": "AttributeList"
        }
      },
      "required": [
        "applicationArn",
        "assessmentName",
        "durationInSeconds"
      ],
      "type": "structure"
    },
    "CreateAssessmentResponse": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment that is created.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "CreateResourceGroupRequest": {
      "members": {
        "resourceGroupTags": {
          "documentation": "<p>A collection of keys and an array of possible values in JSON format.</p> <p>For example, [{ \"key1\" : [\"Value1\",\"Value2\"]},{\"Key2\": [\"Value3\"]}]</p>",
          "shape": "ResourceGroupTags"
        }
      },
      "required": [
        "resourceGroupTags"
      ],
      "type": "structure"
    },
    "CreateResourceGroupResponse": {
      "members": {
        "resourceGroupArn": {
          "documentation": "<p>The ARN specifying the resource group that is created.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "DeleteApplicationRequest": {
      "members": {
        "applicationArn": {
          "documentation": "<p>The ARN specifying the application that you want to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "applicationArn"
      ],
      "type": "structure"
    },
    "DeleteApplicationResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "DeleteAssessmentRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment that you want to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "DeleteAssessmentResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "DeleteRunRequest": {
      "members": {
        "runArn": {
          "documentation": "<p>The ARN specifying the assessment run that you want to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "runArn"
      ],
      "type": "structure"
    },
    "DeleteRunResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "DescribeApplicationRequest": {
      "members": {
        "applicationArn": {
          "documentation": "<p>The ARN specifying the application that you want to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "applicationArn"
      ],
      "type": "structure"
    },
    "DescribeApplicationResponse": {
      "members": {
        "application": {
          "documentation": "<p>Information about the application.</p>",
          "shape": "Application"
        }
      },
      "type": "structure"
    },
    "DescribeAssessmentRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment that you want to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "DescribeAssessmentResponse": {
      "members": {
        "assessment": {
          "documentation": "<p>Information about the assessment.</p>",
          "shape": "Assessment"
        }
      },
      "type": "structure"
    },
    "DescribeCrossAccountAccessRoleResponse": {
      "members": {
        "roleArn": {
          "documentation": "<p>The ARN specifying the IAM role that Inspector uses to access your AWS account.</p>",
          "shape": "Arn"
        },
        "valid": {
          "documentation": "<p>A Boolean value that specifies whether the IAM role has the necessary policies attached to enable Inspector to access your AWS account.</p>",
          "shape": "Bool"
        }
      },
      "type": "structure"
    },
    "DescribeFindingRequest": {
      "members": {
        "findingArn": {
          "documentation": "<p>The ARN specifying the finding that you want to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "findingArn"
      ],
      "type": "structure"
    },
    "DescribeFindingResponse": {
      "members": {
        "finding": {
          "documentation": "<p>Information about the finding.</p>",
          "shape": "Finding"
        }
      },
      "type": "structure"
    },
    "DescribeResourceGroupRequest": {
      "members": {
        "resourceGroupArn": {
          "documentation": "<p>The ARN specifying the resource group that you want to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceGroupArn"
      ],
      "type": "structure"
    },
    "DescribeResourceGroupResponse": {
      "members": {
        "resourceGroup": {
          "documentation": "<p>Information about the resource group.</p>",
          "shape": "ResourceGroup"
        }
      },
      "type": "structure"
    },
    "DescribeRulesPackageRequest": {
      "members": {
        "rulesPackageArn": {
          "documentation": "<p>The ARN specifying the rules package that you want to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "rulesPackageArn"
      ],
      "type": "structure"
    },
    "DescribeRulesPackageResponse": {
      "members": {
        "rulesPackage": {
          "documentation": "<p>Information about the rules package.</p>",
          "shape": "RulesPackage"
        }
      },
      "type": "structure"
    },
    "DescribeRunRequest": {
      "members": {
        "runArn": {
          "documentation": "<p>The ARN specifying the assessment run that you want to describe.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "runArn"
      ],
      "type": "structure"
    },
    "DescribeRunResponse": {
      "members": {
        "run": {
          "documentation": "<p>Information about the assessment run.</p>",
          "shape": "Run"
        }
      },
      "type": "structure"
    },
    "DetachAssessmentAndRulesPackageRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment from which you want to detach a rules package.</p>",
          "shape": "Arn"
        },
        "rulesPackageArn": {
          "documentation": "<p>The ARN specifying the rules package that you want to detach from the assessment.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn",
        "rulesPackageArn"
      ],
      "type": "structure"
    },
    "DetachAssessmentAndRulesPackageResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Duration": {
      "type": "integer"
    },
    "DurationRange": {
      "documentation": "<p>This data type is used in the <a>AssessmentsFilter</a> data type.</p>",
      "members": {
        "maximum": {
          "documentation": "<p>The maximum value of the duration range. Must be less than or equal to 604800 seconds (1 week).</p>",
          "shape": "Duration"
        },
        "minimum": {
          "documentation": "<p>The minimum value of the duration range. Must be greater than zero.</p>",
          "shape": "Duration"
        }
      },
      "type": "structure"
    },
    "FailureMessage": {
      "type": "string"
    },
    "Finding": {
      "documentation": "<p>Contains information about an Inspector finding.</p> <p>This data type is used as the response element in the <a>DescribeFinding</a> action.</p>",
      "members": {
        "agentId": {
          "documentation": "<p>The EC2 instance ID where the agent is installed that is used during the assessment that generates the finding. </p>",
          "shape": "AgentId"
        },
        "attributes": {
          "documentation": "<p>The system-defined attributes for the finding. </p>",
          "shape": "AttributeList"
        },
        "autoScalingGroup": {
          "documentation": "<p>The autoscaling group of the EC2 instance where the agent is installed that is used during the assessment that generates the finding.</p>",
          "shape": "AutoScalingGroup"
        },
        "description": {
          "documentation": "<p>The description of the finding.</p>",
          "shape": "LocalizedText"
        },
        "finding": {
          "documentation": "<p>A short description that identifies the finding.</p>",
          "shape": "LocalizedText"
        },
        "findingArn": {
          "documentation": "<p>The ARN specifying the finding.</p>",
          "shape": "Arn"
        },
        "recommendation": {
          "documentation": "<p>The recommendation for the finding. </p>",
          "shape": "LocalizedText"
        },
        "ruleName": {
          "documentation": "<p>The rule name that is used to generate the finding.</p>",
          "shape": "Name"
        },
        "rulesPackageArn": {
          "documentation": "<p>The ARN of the rules package that is used to generate the finding.</p>",
          "shape": "Arn"
        },
        "runArn": {
          "documentation": "<p>The ARN of the assessment run that generated the finding.</p>",
          "shape": "Arn"
        },
        "severity": {
          "documentation": "<p>The finding severity. Values can be set to <i>High</i>, <i>Medium</i>, <i>Low</i>, and <i>Informational</i>.</p>",
          "shape": "Severity"
        },
        "userAttributes": {
          "documentation": "<p>The user-defined attributes that are assigned to the finding.</p>",
          "shape": "AttributeList"
        }
      },
      "type": "structure"
    },
    "FindingsFilter": {
      "documentation": "<p>This data type is used as a request parameter in the <a>ListFindings</a> action.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>attributes</b> property of the <a>Finding</a> data type.</p>",
          "shape": "AttributeList"
        },
        "ruleNames": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>ruleName</b> property of the <a>Finding</a> data type.</p>",
          "shape": "NameList"
        },
        "rulesPackageArns": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>rulesPackageArn</b> property of the <a>Finding</a> data type.</p>",
          "shape": "ArnList"
        },
        "severities": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>severity</b> property of the <a>Finding</a> data type.</p>",
          "shape": "SeverityList"
        },
        "userAttributes": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>userAttributes</b> property of the <a>Finding</a> data type.</p>",
          "shape": "AttributeList"
        }
      },
      "type": "structure"
    },
    "GetAssessmentTelemetryRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment the telemetry of which you want to obtain.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "GetAssessmentTelemetryResponse": {
      "members": {
        "telemetry": {
          "documentation": "<p>Telemetry details.</p>",
          "shape": "TelemetryList"
        }
      },
      "type": "structure"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalException": {
      "exception": true,
      "fault": true,
      "members": {},
      "type": "structure"
    },
    "InvalidCrossAccountRoleException": {
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidInputException": {
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ListApplicationsRequest": {
      "members": {
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "ApplicationsFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListApplications</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListApplicationsResponse": {
      "members": {
        "applicationArnList": {
          "documentation": "<p>A list of ARNs specifying the applications returned by the action.</p>",
          "shape": "ArnList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListAssessmentAgentsRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment whose agents you want to list.</p>",
          "shape": "Arn"
        },
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "AgentsFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListAssessmentAgents</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "ListAssessmentAgentsResponse": {
      "members": {
        "agentList": {
          "documentation": "<p>A list of ARNs specifying the agents returned by the action.</p>",
          "shape": "AgentList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListAssessmentsRequest": {
      "members": {
        "applicationArns": {
          "documentation": "<p>A list of ARNs specifying the applications the assessments of which you want to list.</p>",
          "shape": "ArnList"
        },
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "AssessmentsFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListAssessments</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListAssessmentsResponse": {
      "members": {
        "assessmentArnList": {
          "documentation": "<p>A list of ARNs specifying the assessments returned by the action.</p>",
          "shape": "ArnList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListAttachedAssessmentsRequest": {
      "members": {
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "AssessmentsFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListAttachedAssessments</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        },
        "rulesPackageArn": {
          "documentation": "<p>The ARN specifying the rules package whose assessments you want to list.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "rulesPackageArn"
      ],
      "type": "structure"
    },
    "ListAttachedAssessmentsResponse": {
      "members": {
        "assessmentArnList": {
          "documentation": "<p>A list of ARNs specifying the assessments returned by the action.</p>",
          "shape": "ArnList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListAttachedRulesPackagesRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN specifying the assessment whose rules packages you want to list.</p>",
          "shape": "Arn"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListAttachedRulesPackages</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "ListAttachedRulesPackagesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        },
        "rulesPackageArnList": {
          "documentation": "<p>A list of ARNs specifying the rules packages returned by the action.</p>",
          "shape": "ArnList"
        }
      },
      "type": "structure"
    },
    "ListFindingsRequest": {
      "members": {
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "FindingsFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListFindings</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        },
        "runArns": {
          "documentation": "<p>The ARNs of the assessment runs that generate the findings that you want to list.</p>",
          "shape": "ArnList"
        }
      },
      "type": "structure"
    },
    "ListFindingsResponse": {
      "members": {
        "findingArnList": {
          "documentation": "<p>A list of ARNs specifying the findings returned by the action.</p>",
          "shape": "ArnList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListRulesPackagesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListRulesPackages</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListRulesPackagesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        },
        "rulesPackageArnList": {
          "documentation": "<p>The list of ARNs specifying the rules packages returned by the action.</p>",
          "shape": "ArnList"
        }
      },
      "type": "structure"
    },
    "ListRunsRequest": {
      "members": {
        "assessmentArns": {
          "documentation": "<p>The ARNs specifying the assessments whose runs you want to list.</p>",
          "shape": "ArnList"
        },
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "RunsFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>ListRuns</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListRunsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        },
        "runArnList": {
          "documentation": "<p>A list of ARNs specifying the assessment runs returned by the action.</p>",
          "shape": "ArnList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN specifying the resource whose tags you want to list.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tagList": {
          "documentation": "<p>A collection of key and value pairs.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "Locale": {
      "type": "string"
    },
    "LocalizeTextRequest": {
      "members": {
        "locale": {
          "documentation": "<p>The locale that you want to translate a textual identifier into.</p>",
          "shape": "Locale"
        },
        "localizedTexts": {
          "documentation": "<p>A list of textual identifiers.</p>",
          "shape": "LocalizedTextList"
        }
      },
      "required": [
        "localizedTexts",
        "locale"
      ],
      "type": "structure"
    },
    "LocalizeTextResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        },
        "results": {
          "documentation": "<p>The resulting list of user-readable texts.</p>",
          "shape": "TextList"
        }
      },
      "type": "structure"
    },
    "LocalizedFacility": {
      "type": "string"
    },
    "LocalizedText": {
      "documentation": "<p>The textual identifier. This data type is used as the request parameter in the <a>LocalizeText</a> action.</p>",
      "members": {
        "key": {
          "documentation": "<p>The facility and id properties of the <a>LocalizedTextKey</a> data type.</p>",
          "shape": "LocalizedTextKey"
        },
        "parameters": {
          "documentation": "<p>Values for the dynamic elements of the string specified by the textual identifier.</p>",
          "shape": "ParameterList"
        }
      },
      "type": "structure"
    },
    "LocalizedTextId": {
      "type": "string"
    },
    "LocalizedTextKey": {
      "documentation": "<p>This data type is used in the <a>LocalizedText</a> data type.</p>",
      "members": {
        "facility": {
          "documentation": "<p>The module response source of the text.</p>",
          "shape": "LocalizedFacility"
        },
        "id": {
          "documentation": "<p>Part of the module response source of the text.</p>",
          "shape": "LocalizedTextId"
        }
      },
      "type": "structure"
    },
    "LocalizedTextList": {
      "member": {
        "shape": "LocalizedText"
      },
      "type": "list"
    },
    "Long": {
      "type": "long"
    },
    "Message": {
      "type": "string"
    },
    "MessageType": {
      "type": "string"
    },
    "MessageTypeTelemetry": {
      "documentation": "<p>This data type is used in the <a>Telemetry</a> data type.</p> <p>This is metadata about the behavioral data collected by the Inspector agent on your EC2 instances during an assessment and passed to the Inspector service for analysis. </p>",
      "members": {
        "count": {
          "documentation": "<p>The number of times that the behavioral data is collected by the agent during an assessment.</p>",
          "shape": "Long"
        },
        "dataSize": {
          "documentation": "<p>The total size of the behavioral data that is collected by the agent during an assessment.</p>",
          "shape": "Long"
        },
        "messageType": {
          "documentation": "<p>A specific type of behavioral data that is collected by the agent.</p>",
          "shape": "MessageType"
        }
      },
      "type": "structure"
    },
    "MessageTypeTelemetryList": {
      "member": {
        "shape": "MessageTypeTelemetry"
      },
      "type": "list"
    },
    "Name": {
      "type": "string"
    },
    "NameList": {
      "member": {
        "shape": "Name"
      },
      "type": "list"
    },
    "NamePattern": {
      "type": "string"
    },
    "NamePatternList": {
      "member": {
        "shape": "NamePattern"
      },
      "type": "list"
    },
    "NoSuchEntityException": {
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "OperationInProgressException": {
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "PaginationToken": {
      "type": "string"
    },
    "Parameter": {
      "documentation": "<p>This data type is used in the <a>LocalizedText</a> data type.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the variable that is being replaced.</p>",
          "shape": "ParameterName"
        },
        "value": {
          "documentation": "<p>The value assigned to the variable that is being replaced. </p>",
          "shape": "ParameterValue"
        }
      },
      "type": "structure"
    },
    "ParameterList": {
      "member": {
        "shape": "Parameter"
      },
      "type": "list"
    },
    "ParameterName": {
      "type": "string"
    },
    "ParameterValue": {
      "type": "string"
    },
    "PreviewAgentsForResourceGroupRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "Integer"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to 'null' on your first call to the <b>PreviewAgentsForResourceGroup</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        },
        "resourceGroupArn": {
          "documentation": "<p>The ARN of the resource group that is used to create an application.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceGroupArn"
      ],
      "type": "structure"
    },
    "PreviewAgentsForResourceGroupResponse": {
      "members": {
        "agentPreviewList": {
          "documentation": "<p>The resulting list of agents.</p>",
          "shape": "AgentPreviewList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to 'null'.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "RegisterCrossAccountAccessRoleRequest": {
      "members": {
        "roleArn": {
          "documentation": "The ARN of the IAM role that Inspector uses to list your EC2 instances during the assessment.",
          "shape": "Arn"
        }
      },
      "required": [
        "roleArn"
      ],
      "type": "structure"
    },
    "RegisterCrossAccountAccessRoleResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "RemoveAttributesFromFindingsRequest": {
      "members": {
        "attributeKeys": {
          "documentation": "<p>The array of attribute keys that you want to remove from specified findings.</p>",
          "shape": "AttributeKeyList"
        },
        "findingArns": {
          "documentation": "<p>The ARNs specifying the findings that you want to remove attributes from.</p>",
          "shape": "ArnList"
        }
      },
      "required": [
        "findingArns",
        "attributeKeys"
      ],
      "type": "structure"
    },
    "RemoveAttributesFromFindingsResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ResourceGroup": {
      "documentation": "<p>Contains information about a resource group. The resource group defines a set of tags that, when queried, identify the AWS resources that comprise the application.</p> <p>This data type is used as the response element in the <a>DescribeResourceGroup</a> action.</p>",
      "members": {
        "resourceGroupArn": {
          "documentation": "<p>The ARN of the resource group. </p>",
          "shape": "Arn"
        },
        "resourceGroupTags": {
          "documentation": "<p>The tags (key and value pairs) of the resource group.</p> <p>This data type property is used in the <a>CreateResourceGroup</a> action.</p> <p>A collection of keys and an array of possible values in JSON format.</p> <p>For example, [{ \"key1\" : [\"Value1\",\"Value2\"]},{\"Key2\": [\"Value3\"]}]</p>",
          "shape": "ResourceGroupTags"
        }
      },
      "type": "structure"
    },
    "ResourceGroupTags": {
      "type": "string"
    },
    "RulesPackage": {
      "documentation": "<p>Contains information about an Inspector rules package.</p> <p>This data type is used as the response element in the <a>DescribeRulesPackage</a> action.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the rules package.</p>",
          "shape": "LocalizedText"
        },
        "provider": {
          "documentation": "<p>The provider of the rules package.</p>",
          "shape": "Name"
        },
        "rulesPackageArn": {
          "documentation": "<p> The ARN of the rules package.</p>",
          "shape": "Arn"
        },
        "rulesPackageName": {
          "documentation": "<p>The name of the rules package.</p>",
          "shape": "Name"
        },
        "version": {
          "documentation": "<p>The version id of the rules package.</p>",
          "shape": "Version"
        }
      },
      "type": "structure"
    },
    "Run": {
      "documentation": "<p>A snapshot of an Inspector assessment that contains the assessment's findings.</p> <p>This data type is used as the response element in the <a>DescribeRun</a> action.</p>",
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN of the assessment that is associated with the run.</p>",
          "shape": "Arn"
        },
        "completionTime": {
          "documentation": "<p>Run completion time that corresponds to the rules packages evaluation completion time or failure.</p>",
          "shape": "Timestamp"
        },
        "creationTime": {
          "documentation": "<p>Run creation time that corresponds to the data collection completion time or failure.</p>",
          "shape": "Timestamp"
        },
        "rulesPackages": {
          "documentation": "<p>Rules packages selected for the run of the assessment.</p>",
          "shape": "ArnList"
        },
        "runArn": {
          "documentation": "<p>The ARN of the run.</p>",
          "shape": "Arn"
        },
        "runName": {
          "documentation": "<p>The auto-generated name for the run. </p>",
          "shape": "Name"
        },
        "runState": {
          "documentation": "<p>The state of the run. Values can be set to <i>DataCollectionComplete</i>, <i>EvaluatingPolicies</i>, <i>EvaluatingPoliciesErrorCanRetry</i>, <i>Completed</i>, <i>Failed</i>, <i>TombStoned</i>.</p>",
          "shape": "RunState"
        }
      },
      "type": "structure"
    },
    "RunAssessmentRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN of the assessment that you want to run.</p>",
          "shape": "Arn"
        },
        "runName": {
          "documentation": "<p>A name specifying the run of the assessment.</p>",
          "shape": "Name"
        }
      },
      "required": [
        "assessmentArn",
        "runName"
      ],
      "type": "structure"
    },
    "RunAssessmentResponse": {
      "members": {
        "runArn": {
          "documentation": "<p>The ARN specifying the run of the assessment.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "RunState": {
      "type": "string"
    },
    "RunStateList": {
      "member": {
        "shape": "RunState"
      },
      "type": "list"
    },
    "RunsFilter": {
      "documentation": "<p>This data type is used as the request parameter in the <a>ListRuns</a> action.</p>",
      "members": {
        "completionTime": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>completionTime</b> property of the <a>Run</a> data type.</p>",
          "shape": "TimestampRange"
        },
        "creationTime": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>creationTime</b> property of the <a>Run</a> data type.</p>",
          "shape": "TimestampRange"
        },
        "rulesPackages": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must match a list of values of the <b>rulesPackages</b> property of the <a>Run</a> data type.</p>",
          "shape": "ArnList"
        },
        "runNamePatterns": {
          "documentation": "<p>For a record to match a filter, an explicit value or a string containing a wildcard specified for this data type property must match the value of the <b>runName</b> property of the <a>Run</a> data type.</p>",
          "shape": "NamePatternList"
        },
        "runStates": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must be the exact match of the value of the <b>runState</b> property of the <a>Run</a> data type.</p>",
          "shape": "RunStateList"
        }
      },
      "type": "structure"
    },
    "SetTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the assessment that you want to set tags to.</p>",
          "shape": "Arn"
        },
        "tags": {
          "documentation": "<p>A collection of key and value pairs that you want to set to an assessment.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "SetTagsForResourceResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Severity": {
      "type": "string"
    },
    "SeverityList": {
      "member": {
        "shape": "Severity"
      },
      "type": "list"
    },
    "StartDataCollectionRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN of the assessment for which you want to start the data collection process.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "StartDataCollectionResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "StopDataCollectionRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>The ARN of the assessment for which you want to stop the data collection process.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentArn"
      ],
      "type": "structure"
    },
    "StopDataCollectionResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Tag": {
      "documentation": "<p>A key and value pair.</p> <p>This data type is used as a request parameter in the <a>SetTagsForResource</a> action and a response element in the <a>ListTagsForResource</a> action.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The tag key.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value assigned to a tag key.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "type": "string"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagValue": {
      "type": "string"
    },
    "Telemetry": {
      "documentation": "<p>The metadata about the Inspector application data metrics collected by the agent.</p> <p>This data type is used as the response element in the <a>GetAssessmentTelemetry</a> action.</p>",
      "members": {
        "messageTypeTelemetries": {
          "documentation": "<p>Counts of individual metrics received by Inspector from the agent.</p>",
          "shape": "MessageTypeTelemetryList"
        },
        "status": {
          "documentation": "<p>The category of the individual metrics that together constitute the telemetry that Inspector received from the agent.</p>",
          "shape": "TelemetryStatus"
        }
      },
      "type": "structure"
    },
    "TelemetryList": {
      "member": {
        "shape": "Telemetry"
      },
      "type": "list"
    },
    "TelemetryStatus": {
      "type": "string"
    },
    "Text": {
      "type": "string"
    },
    "TextList": {
      "member": {
        "shape": "Text"
      },
      "type": "list"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TimestampRange": {
      "documentation": "<p>This data type is used in the <a>AssessmentsFilter</a> and <a>RunsFilter</a> data types.</p>",
      "members": {
        "maximum": {
          "documentation": "<p>The maximum value of the timestamp range.</p>",
          "shape": "Timestamp"
        },
        "minimum": {
          "documentation": "<p>The minimum value of the timestamp range.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "UpdateApplicationRequest": {
      "members": {
        "applicationArn": {
          "documentation": "<p>Application ARN that you want to update.</p>",
          "shape": "Arn"
        },
        "applicationName": {
          "documentation": "<p>Application name that you want to update.</p>",
          "shape": "Name"
        },
        "resourceGroupArn": {
          "documentation": "<p>The resource group ARN that you want to update.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "applicationArn",
        "applicationName",
        "resourceGroupArn"
      ],
      "type": "structure"
    },
    "UpdateApplicationResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "UpdateAssessmentRequest": {
      "members": {
        "assessmentArn": {
          "documentation": "<p>Asessment ARN that you want to update.</p>",
          "shape": "Arn"
        },
        "assessmentName": {
          "documentation": "<p>Assessment name that you want to update.</p>",
          "shape": "Name"
        },
        "durationInSeconds": {
          "documentation": "<p>Assessment duration in seconds that you want to update. The default value is 3600 seconds (one hour). The maximum value is 86400 seconds (one day).</p>",
          "shape": "Duration"
        }
      },
      "required": [
        "assessmentArn",
        "assessmentName",
        "durationInSeconds"
      ],
      "type": "structure"
    },
    "UpdateAssessmentResponse": {
      "members": {
        "message": {
          "documentation": "<p>Confirmation details of the action performed.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Version": {
      "type": "string"
    }
  },
  "version": "2.0"
}
