{
  "documentation": "<fullname>Amazon Inspector</fullname> <p>Amazon Inspector enables you to analyze the behavior of your AWS resources and to identify potential security issues. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_introduction.html\"> Amazon Inspector User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2016-02-16",
    "endpointPrefix": "inspector",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Inspector",
    "serviceId": "Inspector",
    "signatureVersion": "v4",
    "targetPrefix": "InspectorService",
    "uid": "inspector-2016-02-16"
  },
  "operations": {
    "AddAttributesToFindings": {
      "documentation": "<p>Assigns attributes (key and value pairs) to the findings that are specified by the ARNs of the findings.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddAttributesToFindingsRequest"
      },
      "name": "AddAttributesToFindings",
      "output": {
        "shape": "AddAttributesToFindingsResponse"
      }
    },
    "CreateAssessmentTarget": {
      "documentation": "<p>Creates a new assessment target using the ARN of the resource group that is generated by <a>CreateResourceGroup</a>. If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn\u2019t already registered, this action also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments. You can create up to 50 assessment targets per AWS account. You can run up to 500 concurrent agents per AWS account. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\"> Amazon Inspector Assessment Targets</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssessmentTargetRequest"
      },
      "name": "CreateAssessmentTarget",
      "output": {
        "shape": "CreateAssessmentTargetResponse"
      }
    },
    "CreateAssessmentTemplate": {
      "documentation": "<p>Creates an assessment template for the assessment target that is specified by the ARN of the assessment target. If the <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_slr.html\">service-linked role</a> isn\u2019t already registered, this action also creates and registers a service-linked role to grant Amazon Inspector access to AWS Services needed to perform security assessments.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAssessmentTemplateRequest"
      },
      "name": "CreateAssessmentTemplate",
      "output": {
        "shape": "CreateAssessmentTemplateResponse"
      }
    },
    "CreateExclusionsPreview": {
      "documentation": "<p>Starts the generation of an exclusions preview for the specified assessment template. The exclusions preview lists the potential exclusions (ExclusionPreview) that Inspector can detect before it runs the assessment. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "PreviewGenerationInProgressException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateExclusionsPreviewRequest"
      },
      "name": "CreateExclusionsPreview",
      "output": {
        "shape": "CreateExclusionsPreviewResponse"
      }
    },
    "CreateResourceGroup": {
      "documentation": "<p>Creates a resource group using the specified set of tags (key and value pairs) that are used to select the EC2 instances to be included in an Amazon Inspector assessment target. The created resource group is then used to create an Amazon Inspector assessment target. For more information, see <a>CreateAssessmentTarget</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResourceGroupRequest"
      },
      "name": "CreateResourceGroup",
      "output": {
        "shape": "CreateResourceGroupResponse"
      }
    },
    "DeleteAssessmentRun": {
      "documentation": "<p>Deletes the assessment run that is specified by the ARN of the assessment run.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AssessmentRunInProgressException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssessmentRunRequest"
      },
      "name": "DeleteAssessmentRun"
    },
    "DeleteAssessmentTarget": {
      "documentation": "<p>Deletes the assessment target that is specified by the ARN of the assessment target.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AssessmentRunInProgressException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssessmentTargetRequest"
      },
      "name": "DeleteAssessmentTarget"
    },
    "DeleteAssessmentTemplate": {
      "documentation": "<p>Deletes the assessment template that is specified by the ARN of the assessment template.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AssessmentRunInProgressException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAssessmentTemplateRequest"
      },
      "name": "DeleteAssessmentTemplate"
    },
    "DescribeAssessmentRuns": {
      "documentation": "<p>Describes the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssessmentRunsRequest"
      },
      "name": "DescribeAssessmentRuns",
      "output": {
        "shape": "DescribeAssessmentRunsResponse"
      }
    },
    "DescribeAssessmentTargets": {
      "documentation": "<p>Describes the assessment targets that are specified by the ARNs of the assessment targets.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssessmentTargetsRequest"
      },
      "name": "DescribeAssessmentTargets",
      "output": {
        "shape": "DescribeAssessmentTargetsResponse"
      }
    },
    "DescribeAssessmentTemplates": {
      "documentation": "<p>Describes the assessment templates that are specified by the ARNs of the assessment templates.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAssessmentTemplatesRequest"
      },
      "name": "DescribeAssessmentTemplates",
      "output": {
        "shape": "DescribeAssessmentTemplatesResponse"
      }
    },
    "DescribeCrossAccountAccessRole": {
      "documentation": "<p>Describes the IAM role that enables Amazon Inspector to access your AWS account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeCrossAccountAccessRole",
      "output": {
        "shape": "DescribeCrossAccountAccessRoleResponse"
      }
    },
    "DescribeExclusions": {
      "documentation": "<p>Describes the exclusions that are specified by the exclusions' ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExclusionsRequest"
      },
      "name": "DescribeExclusions",
      "output": {
        "shape": "DescribeExclusionsResponse"
      }
    },
    "DescribeFindings": {
      "documentation": "<p>Describes the findings that are specified by the ARNs of the findings.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeFindingsRequest"
      },
      "name": "DescribeFindings",
      "output": {
        "shape": "DescribeFindingsResponse"
      }
    },
    "DescribeResourceGroups": {
      "documentation": "<p>Describes the resource groups that are specified by the ARNs of the resource groups.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeResourceGroupsRequest"
      },
      "name": "DescribeResourceGroups",
      "output": {
        "shape": "DescribeResourceGroupsResponse"
      }
    },
    "DescribeRulesPackages": {
      "documentation": "<p>Describes the rules packages that are specified by the ARNs of the rules packages.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRulesPackagesRequest"
      },
      "name": "DescribeRulesPackages",
      "output": {
        "shape": "DescribeRulesPackagesResponse"
      }
    },
    "GetAssessmentReport": {
      "documentation": "<p>Produces an assessment report that includes detailed and comprehensive results of a specified assessment run. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "AssessmentRunInProgressException"
        },
        {
          "shape": "UnsupportedFeatureException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAssessmentReportRequest"
      },
      "name": "GetAssessmentReport",
      "output": {
        "shape": "GetAssessmentReportResponse"
      }
    },
    "GetExclusionsPreview": {
      "documentation": "<p>Retrieves the exclusions preview (a list of ExclusionPreview objects) specified by the preview token. You can obtain the preview token by running the CreateExclusionsPreview API.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetExclusionsPreviewRequest"
      },
      "name": "GetExclusionsPreview",
      "output": {
        "shape": "GetExclusionsPreviewResponse"
      }
    },
    "GetTelemetryMetadata": {
      "documentation": "<p>Information about the data that is collected for the specified assessment run.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTelemetryMetadataRequest"
      },
      "name": "GetTelemetryMetadata",
      "output": {
        "shape": "GetTelemetryMetadataResponse"
      }
    },
    "ListAssessmentRunAgents": {
      "documentation": "<p>Lists the agents of the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssessmentRunAgentsRequest"
      },
      "name": "ListAssessmentRunAgents",
      "output": {
        "shape": "ListAssessmentRunAgentsResponse"
      }
    },
    "ListAssessmentRuns": {
      "documentation": "<p>Lists the assessment runs that correspond to the assessment templates that are specified by the ARNs of the assessment templates.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssessmentRunsRequest"
      },
      "name": "ListAssessmentRuns",
      "output": {
        "shape": "ListAssessmentRunsResponse"
      }
    },
    "ListAssessmentTargets": {
      "documentation": "<p>Lists the ARNs of the assessment targets within this AWS account. For more information about assessment targets, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_applications.html\">Amazon Inspector Assessment Targets</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssessmentTargetsRequest"
      },
      "name": "ListAssessmentTargets",
      "output": {
        "shape": "ListAssessmentTargetsResponse"
      }
    },
    "ListAssessmentTemplates": {
      "documentation": "<p>Lists the assessment templates that correspond to the assessment targets that are specified by the ARNs of the assessment targets.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssessmentTemplatesRequest"
      },
      "name": "ListAssessmentTemplates",
      "output": {
        "shape": "ListAssessmentTemplatesResponse"
      }
    },
    "ListEventSubscriptions": {
      "documentation": "<p>Lists all the event subscriptions for the assessment template that is specified by the ARN of the assessment template. For more information, see <a>SubscribeToEvent</a> and <a>UnsubscribeFromEvent</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEventSubscriptionsRequest"
      },
      "name": "ListEventSubscriptions",
      "output": {
        "shape": "ListEventSubscriptionsResponse"
      }
    },
    "ListExclusions": {
      "documentation": "<p>List exclusions that are generated by the assessment run.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExclusionsRequest"
      },
      "name": "ListExclusions",
      "output": {
        "shape": "ListExclusionsResponse"
      }
    },
    "ListFindings": {
      "documentation": "<p>Lists findings that are generated by the assessment runs that are specified by the ARNs of the assessment runs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFindingsRequest"
      },
      "name": "ListFindings",
      "output": {
        "shape": "ListFindingsResponse"
      }
    },
    "ListRulesPackages": {
      "documentation": "<p>Lists all available Amazon Inspector rules packages.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRulesPackagesRequest"
      },
      "name": "ListRulesPackages",
      "output": {
        "shape": "ListRulesPackagesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags associated with an assessment template.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PreviewAgents": {
      "documentation": "<p>Previews the agents installed on the EC2 instances that are part of the specified assessment target.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PreviewAgentsRequest"
      },
      "name": "PreviewAgents",
      "output": {
        "shape": "PreviewAgentsResponse"
      }
    },
    "RegisterCrossAccountAccessRole": {
      "documentation": "<p>Registers the IAM role that grants Amazon Inspector access to AWS Services needed to perform security assessments.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterCrossAccountAccessRoleRequest"
      },
      "name": "RegisterCrossAccountAccessRole"
    },
    "RemoveAttributesFromFindings": {
      "documentation": "<p>Removes entire attributes (key and value pairs) from the findings that are specified by the ARNs of the findings where an attribute with the specified key exists.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveAttributesFromFindingsRequest"
      },
      "name": "RemoveAttributesFromFindings",
      "output": {
        "shape": "RemoveAttributesFromFindingsResponse"
      }
    },
    "SetTagsForResource": {
      "documentation": "<p>Sets tags (key and value pairs) to the assessment template that is specified by the ARN of the assessment template.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTagsForResourceRequest"
      },
      "name": "SetTagsForResource"
    },
    "StartAssessmentRun": {
      "documentation": "<p>Starts the assessment run specified by the ARN of the assessment template. For this API to function properly, you must not exceed the limit of running up to 500 concurrent agents per AWS account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidCrossAccountRoleException"
        },
        {
          "shape": "AgentsAlreadyRunningAssessmentException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartAssessmentRunRequest"
      },
      "name": "StartAssessmentRun",
      "output": {
        "shape": "StartAssessmentRunResponse"
      }
    },
    "StopAssessmentRun": {
      "documentation": "<p>Stops the assessment run that is specified by the ARN of the assessment run.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopAssessmentRunRequest"
      },
      "name": "StopAssessmentRun"
    },
    "SubscribeToEvent": {
      "documentation": "<p>Enables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SubscribeToEventRequest"
      },
      "name": "SubscribeToEvent"
    },
    "UnsubscribeFromEvent": {
      "documentation": "<p>Disables the process of sending Amazon Simple Notification Service (SNS) notifications about a specified event to a specified SNS topic.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UnsubscribeFromEventRequest"
      },
      "name": "UnsubscribeFromEvent"
    },
    "UpdateAssessmentTarget": {
      "documentation": "<p>Updates the assessment target that is specified by the ARN of the assessment target.</p> <p>If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceTemporarilyUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAssessmentTargetRequest"
      },
      "name": "UpdateAssessmentTarget"
    }
  },
  "shapes": {
    "AccessDeniedErrorCode": {
      "enum": [
        "ACCESS_DENIED_TO_ASSESSMENT_TARGET",
        "ACCESS_DENIED_TO_ASSESSMENT_TEMPLATE",
        "ACCESS_DENIED_TO_ASSESSMENT_RUN",
        "ACCESS_DENIED_TO_FINDING",
        "ACCESS_DENIED_TO_RESOURCE_GROUP",
        "ACCESS_DENIED_TO_RULES_PACKAGE",
        "ACCESS_DENIED_TO_SNS_TOPIC",
        "ACCESS_DENIED_TO_IAM_ROLE"
      ],
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have required permissions to access the requested resource.</p>",
      "exception": true,
      "members": {
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "errorCode": {
          "documentation": "<p>Code that indicates the type of error that is generated.</p>",
          "shape": "AccessDeniedErrorCode"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "errorCode",
        "canRetry"
      ],
      "type": "structure"
    },
    "AddAttributesToFindingsRequest": {
      "members": {
        "attributes": {
          "documentation": "<p>The array of attributes that you want to assign to specified findings.</p>",
          "shape": "UserAttributeList"
        },
        "findingArns": {
          "documentation": "<p>The ARNs that specify the findings that you want to assign attributes to.</p>",
          "shape": "AddRemoveAttributesFindingArnList"
        }
      },
      "required": [
        "findingArns",
        "attributes"
      ],
      "type": "structure"
    },
    "AddAttributesToFindingsResponse": {
      "members": {
        "failedItems": {
          "documentation": "<p>Attribute details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        }
      },
      "required": [
        "failedItems"
      ],
      "type": "structure"
    },
    "AddRemoveAttributesFindingArnList": {
      "max": 10,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "AgentAlreadyRunningAssessment": {
      "documentation": "<p>Used in the exception error that is thrown if you start an assessment run for an assessment target that includes an EC2 instance that is already participating in another started assessment run.</p>",
      "members": {
        "agentId": {
          "documentation": "<p>ID of the agent that is running on an EC2 instance that is already participating in another started assessment run.</p>",
          "shape": "AgentId"
        },
        "assessmentRunArn": {
          "documentation": "<p>The ARN of the assessment run that has already been started.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "agentId",
        "assessmentRunArn"
      ],
      "type": "structure"
    },
    "AgentAlreadyRunningAssessmentList": {
      "max": 10,
      "member": {
        "shape": "AgentAlreadyRunningAssessment"
      },
      "min": 1,
      "type": "list"
    },
    "AgentFilter": {
      "documentation": "<p>Contains information about an Amazon Inspector agent. This data type is used as a request parameter in the <a>ListAssessmentRunAgents</a> action.</p>",
      "members": {
        "agentHealthCodes": {
          "documentation": "<p>The detailed health state of the agent. Values can be set to <b>IDLE</b>, <b>RUNNING</b>, <b>SHUTDOWN</b>, <b>UNHEALTHY</b>, <b>THROTTLED</b>, and <b>UNKNOWN</b>. </p>",
          "shape": "AgentHealthCodeList"
        },
        "agentHealths": {
          "documentation": "<p>The current health state of the agent. Values can be set to <b>HEALTHY</b> or <b>UNHEALTHY</b>.</p>",
          "shape": "AgentHealthList"
        }
      },
      "required": [
        "agentHealths",
        "agentHealthCodes"
      ],
      "type": "structure"
    },
    "AgentHealth": {
      "enum": [
        "HEALTHY",
        "UNHEALTHY",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "AgentHealthCode": {
      "enum": [
        "IDLE",
        "RUNNING",
        "SHUTDOWN",
        "UNHEALTHY",
        "THROTTLED",
        "UNKNOWN"
      ],
      "type": "string"
    },
    "AgentHealthCodeList": {
      "max": 10,
      "member": {
        "shape": "AgentHealthCode"
      },
      "min": 0,
      "type": "list"
    },
    "AgentHealthList": {
      "max": 10,
      "member": {
        "shape": "AgentHealth"
      },
      "min": 0,
      "type": "list"
    },
    "AgentId": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AgentIdList": {
      "max": 99,
      "member": {
        "shape": "AgentId"
      },
      "min": 0,
      "type": "list"
    },
    "AgentPreview": {
      "documentation": "<p>Used as a response element in the <a>PreviewAgents</a> action.</p>",
      "members": {
        "agentHealth": {
          "documentation": "<p>The health status of the Amazon Inspector Agent.</p>",
          "shape": "AgentHealth"
        },
        "agentId": {
          "documentation": "<p>The ID of the EC2 instance where the agent is installed.</p>",
          "shape": "AgentId"
        },
        "agentVersion": {
          "documentation": "<p>The version of the Amazon Inspector Agent.</p>",
          "shape": "AgentVersion"
        },
        "autoScalingGroup": {
          "documentation": "<p>The Auto Scaling group for the EC2 instance where the agent is installed.</p>",
          "shape": "AutoScalingGroup"
        },
        "hostname": {
          "documentation": "<p>The hostname of the EC2 instance on which the Amazon Inspector Agent is installed.</p>",
          "shape": "Hostname"
        },
        "ipv4Address": {
          "documentation": "<p>The IP address of the EC2 instance on which the Amazon Inspector Agent is installed.</p>",
          "shape": "Ipv4Address"
        },
        "kernelVersion": {
          "documentation": "<p>The kernel version of the operating system running on the EC2 instance on which the Amazon Inspector Agent is installed.</p>",
          "shape": "KernelVersion"
        },
        "operatingSystem": {
          "documentation": "<p>The operating system running on the EC2 instance on which the Amazon Inspector Agent is installed.</p>",
          "shape": "OperatingSystem"
        }
      },
      "required": [
        "agentId"
      ],
      "type": "structure"
    },
    "AgentPreviewList": {
      "max": 100,
      "member": {
        "shape": "AgentPreview"
      },
      "min": 0,
      "type": "list"
    },
    "AgentVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AgentsAlreadyRunningAssessmentException": {
      "documentation": "<p>You started an assessment run, but one of the instances is already participating in another assessment run.</p>",
      "exception": true,
      "members": {
        "agents": {
          "documentation": "<p/>",
          "shape": "AgentAlreadyRunningAssessmentList"
        },
        "agentsTruncated": {
          "documentation": "<p/>",
          "shape": "Bool"
        },
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "agents",
        "agentsTruncated",
        "canRetry"
      ],
      "type": "structure"
    },
    "AmiId": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "Arn": {
      "max": 300,
      "min": 1,
      "type": "string"
    },
    "ArnCount": {
      "type": "integer"
    },
    "AssessmentRulesPackageArnList": {
      "max": 50,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "AssessmentRun": {
      "documentation": "<p>A snapshot of an Amazon Inspector assessment run that contains the findings of the assessment run .</p> <p>Used as the response element in the <a>DescribeAssessmentRuns</a> action.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the assessment run.</p>",
          "shape": "Arn"
        },
        "assessmentTemplateArn": {
          "documentation": "<p>The ARN of the assessment template that is associated with the assessment run.</p>",
          "shape": "Arn"
        },
        "completedAt": {
          "documentation": "<p>The assessment run completion time that corresponds to the rules packages evaluation completion time or failure.</p>",
          "shape": "Timestamp"
        },
        "createdAt": {
          "documentation": "<p>The time when <a>StartAssessmentRun</a> was called.</p>",
          "shape": "Timestamp"
        },
        "dataCollected": {
          "documentation": "<p>A Boolean value (true or false) that specifies whether the process of collecting data from the agents is completed.</p>",
          "shape": "Bool"
        },
        "durationInSeconds": {
          "documentation": "<p>The duration of the assessment run.</p>",
          "shape": "AssessmentRunDuration"
        },
        "findingCounts": {
          "documentation": "<p>Provides a total count of generated findings per severity.</p>",
          "shape": "AssessmentRunFindingCounts"
        },
        "name": {
          "documentation": "<p>The auto-generated name for the assessment run.</p>",
          "shape": "AssessmentRunName"
        },
        "notifications": {
          "documentation": "<p>A list of notifications for the event subscriptions. A notification about a particular generated finding is added to this list only once.</p>",
          "shape": "AssessmentRunNotificationList"
        },
        "rulesPackageArns": {
          "documentation": "<p>The rules packages selected for the assessment run.</p>",
          "shape": "AssessmentRulesPackageArnList"
        },
        "startedAt": {
          "documentation": "<p>The time when <a>StartAssessmentRun</a> was called.</p>",
          "shape": "Timestamp"
        },
        "state": {
          "documentation": "<p>The state of the assessment run.</p>",
          "shape": "AssessmentRunState"
        },
        "stateChangedAt": {
          "documentation": "<p>The last time when the assessment run's state changed.</p>",
          "shape": "Timestamp"
        },
        "stateChanges": {
          "documentation": "<p>A list of the assessment run state changes.</p>",
          "shape": "AssessmentRunStateChangeList"
        },
        "userAttributesForFindings": {
          "documentation": "<p>The user-defined attributes that are assigned to every generated finding.</p>",
          "shape": "UserAttributeList"
        }
      },
      "required": [
        "arn",
        "name",
        "assessmentTemplateArn",
        "state",
        "durationInSeconds",
        "rulesPackageArns",
        "userAttributesForFindings",
        "createdAt",
        "stateChangedAt",
        "dataCollected",
        "stateChanges",
        "notifications",
        "findingCounts"
      ],
      "type": "structure"
    },
    "AssessmentRunAgent": {
      "documentation": "<p>Contains information about an Amazon Inspector agent. This data type is used as a response element in the <a>ListAssessmentRunAgents</a> action.</p>",
      "members": {
        "agentHealth": {
          "documentation": "<p>The current health state of the agent.</p>",
          "shape": "AgentHealth"
        },
        "agentHealthCode": {
          "documentation": "<p>The detailed health state of the agent.</p>",
          "shape": "AgentHealthCode"
        },
        "agentHealthDetails": {
          "documentation": "<p>The description for the agent health code.</p>",
          "shape": "Message"
        },
        "agentId": {
          "documentation": "<p>The AWS account of the EC2 instance where the agent is installed.</p>",
          "shape": "AgentId"
        },
        "assessmentRunArn": {
          "documentation": "<p>The ARN of the assessment run that is associated with the agent.</p>",
          "shape": "Arn"
        },
        "autoScalingGroup": {
          "documentation": "<p>The Auto Scaling group of the EC2 instance that is specified by the agent ID.</p>",
          "shape": "AutoScalingGroup"
        },
        "telemetryMetadata": {
          "documentation": "<p>The Amazon Inspector application data metrics that are collected by the agent.</p>",
          "shape": "TelemetryMetadataList"
        }
      },
      "required": [
        "agentId",
        "assessmentRunArn",
        "agentHealth",
        "agentHealthCode",
        "telemetryMetadata"
      ],
      "type": "structure"
    },
    "AssessmentRunAgentList": {
      "max": 500,
      "member": {
        "shape": "AssessmentRunAgent"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentRunDuration": {
      "max": 86400,
      "min": 180,
      "type": "integer"
    },
    "AssessmentRunFilter": {
      "documentation": "<p>Used as the request parameter in the <a>ListAssessmentRuns</a> action.</p>",
      "members": {
        "completionTimeRange": {
          "documentation": "<p>For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>completedAt</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "TimestampRange"
        },
        "durationRange": {
          "documentation": "<p>For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "DurationRange"
        },
        "namePattern": {
          "documentation": "<p>For a record to match a filter, an explicit value or a string containing a wildcard that is specified for this data type property must match the value of the <b>assessmentRunName</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "NamePattern"
        },
        "rulesPackageArns": {
          "documentation": "<p>For a record to match a filter, the value that is specified for this data type property must be contained in the list of values of the <b>rulesPackages</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "FilterRulesPackageArnList"
        },
        "startTimeRange": {
          "documentation": "<p>For a record to match a filter, the value that is specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>startTime</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "TimestampRange"
        },
        "stateChangeTimeRange": {
          "documentation": "<p>For a record to match a filter, the value that is specified for this data type property must match the <b>stateChangedAt</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "TimestampRange"
        },
        "states": {
          "documentation": "<p>For a record to match a filter, one of the values specified for this data type property must be the exact match of the value of the <b>assessmentRunState</b> property of the <a>AssessmentRun</a> data type.</p>",
          "shape": "AssessmentRunStateList"
        }
      },
      "type": "structure"
    },
    "AssessmentRunFindingCounts": {
      "key": {
        "shape": "Severity"
      },
      "type": "map",
      "value": {
        "shape": "FindingCount"
      }
    },
    "AssessmentRunInProgressArnList": {
      "max": 10,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "AssessmentRunInProgressException": {
      "documentation": "<p>You cannot perform a specified action if an assessment run is currently in progress.</p>",
      "exception": true,
      "members": {
        "assessmentRunArns": {
          "documentation": "<p>The ARNs of the assessment runs that are currently in progress.</p>",
          "shape": "AssessmentRunInProgressArnList"
        },
        "assessmentRunArnsTruncated": {
          "documentation": "<p>Boolean value that indicates whether the ARN list of the assessment runs is truncated.</p>",
          "shape": "Bool"
        },
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "assessmentRunArns",
        "assessmentRunArnsTruncated",
        "canRetry"
      ],
      "type": "structure"
    },
    "AssessmentRunList": {
      "max": 10,
      "member": {
        "shape": "AssessmentRun"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentRunName": {
      "max": 140,
      "min": 1,
      "type": "string"
    },
    "AssessmentRunNotification": {
      "documentation": "<p>Used as one of the elements of the <a>AssessmentRun</a> data type.</p>",
      "members": {
        "date": {
          "documentation": "<p>The date of the notification.</p>",
          "shape": "Timestamp"
        },
        "error": {
          "documentation": "<p>The Boolean value that specifies whether the notification represents an error.</p>",
          "shape": "Bool"
        },
        "event": {
          "documentation": "<p>The event for which a notification is sent.</p>",
          "shape": "InspectorEvent"
        },
        "message": {
          "documentation": "<p>The message included in the notification.</p>",
          "shape": "Message"
        },
        "snsPublishStatusCode": {
          "documentation": "<p>The status code of the SNS notification.</p>",
          "shape": "AssessmentRunNotificationSnsStatusCode"
        },
        "snsTopicArn": {
          "documentation": "<p>The SNS topic to which the SNS notification is sent.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "date",
        "event",
        "error"
      ],
      "type": "structure"
    },
    "AssessmentRunNotificationList": {
      "max": 50,
      "member": {
        "shape": "AssessmentRunNotification"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentRunNotificationSnsStatusCode": {
      "enum": [
        "SUCCESS",
        "TOPIC_DOES_NOT_EXIST",
        "ACCESS_DENIED",
        "INTERNAL_ERROR"
      ],
      "type": "string"
    },
    "AssessmentRunState": {
      "enum": [
        "CREATED",
        "START_DATA_COLLECTION_PENDING",
        "START_DATA_COLLECTION_IN_PROGRESS",
        "COLLECTING_DATA",
        "STOP_DATA_COLLECTION_PENDING",
        "DATA_COLLECTED",
        "START_EVALUATING_RULES_PENDING",
        "EVALUATING_RULES",
        "FAILED",
        "ERROR",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "CANCELED"
      ],
      "type": "string"
    },
    "AssessmentRunStateChange": {
      "documentation": "<p>Used as one of the elements of the <a>AssessmentRun</a> data type.</p>",
      "members": {
        "state": {
          "documentation": "<p>The assessment run state.</p>",
          "shape": "AssessmentRunState"
        },
        "stateChangedAt": {
          "documentation": "<p>The last time the assessment run state changed.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "stateChangedAt",
        "state"
      ],
      "type": "structure"
    },
    "AssessmentRunStateChangeList": {
      "max": 50,
      "member": {
        "shape": "AssessmentRunStateChange"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentRunStateList": {
      "max": 50,
      "member": {
        "shape": "AssessmentRunState"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentTarget": {
      "documentation": "<p>Contains information about an Amazon Inspector application. This data type is used as the response element in the <a>DescribeAssessmentTargets</a> action.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN that specifies the Amazon Inspector assessment target.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time at which the assessment target is created.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the Amazon Inspector assessment target.</p>",
          "shape": "AssessmentTargetName"
        },
        "resourceGroupArn": {
          "documentation": "<p>The ARN that specifies the resource group that is associated with the assessment target.</p>",
          "shape": "Arn"
        },
        "updatedAt": {
          "documentation": "<p>The time at which <a>UpdateAssessmentTarget</a> is called.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "arn",
        "name",
        "createdAt",
        "updatedAt"
      ],
      "type": "structure"
    },
    "AssessmentTargetFilter": {
      "documentation": "<p>Used as the request parameter in the <a>ListAssessmentTargets</a> action.</p>",
      "members": {
        "assessmentTargetNamePattern": {
          "documentation": "<p>For a record to match a filter, an explicit value or a string that contains a wildcard that is specified for this data type property must match the value of the <b>assessmentTargetName</b> property of the <a>AssessmentTarget</a> data type.</p>",
          "shape": "NamePattern"
        }
      },
      "type": "structure"
    },
    "AssessmentTargetList": {
      "max": 10,
      "member": {
        "shape": "AssessmentTarget"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentTargetName": {
      "max": 140,
      "min": 1,
      "type": "string"
    },
    "AssessmentTemplate": {
      "documentation": "<p>Contains information about an Amazon Inspector assessment template. This data type is used as the response element in the <a>DescribeAssessmentTemplates</a> action.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the assessment template.</p>",
          "shape": "Arn"
        },
        "assessmentRunCount": {
          "documentation": "<p>The number of existing assessment runs associated with this assessment template. This value can be zero or a positive integer.</p>",
          "shape": "ArnCount"
        },
        "assessmentTargetArn": {
          "documentation": "<p>The ARN of the assessment target that corresponds to this assessment template.</p>",
          "shape": "Arn"
        },
        "createdAt": {
          "documentation": "<p>The time at which the assessment template is created.</p>",
          "shape": "Timestamp"
        },
        "durationInSeconds": {
          "documentation": "<p>The duration in seconds specified for this assessment template. The default value is 3600 seconds (one hour). The maximum value is 86400 seconds (one day).</p>",
          "shape": "AssessmentRunDuration"
        },
        "lastAssessmentRunArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the most recent assessment run associated with this assessment template. This value exists only when the value of assessmentRunCount is greaterpa than zero.</p>",
          "shape": "Arn"
        },
        "name": {
          "documentation": "<p>The name of the assessment template.</p>",
          "shape": "AssessmentTemplateName"
        },
        "rulesPackageArns": {
          "documentation": "<p>The rules packages that are specified for this assessment template.</p>",
          "shape": "AssessmentTemplateRulesPackageArnList"
        },
        "userAttributesForFindings": {
          "documentation": "<p>The user-defined attributes that are assigned to every generated finding from the assessment run that uses this assessment template.</p>",
          "shape": "UserAttributeList"
        }
      },
      "required": [
        "arn",
        "name",
        "assessmentTargetArn",
        "durationInSeconds",
        "rulesPackageArns",
        "userAttributesForFindings",
        "assessmentRunCount",
        "createdAt"
      ],
      "type": "structure"
    },
    "AssessmentTemplateFilter": {
      "documentation": "<p>Used as the request parameter in the <a>ListAssessmentTemplates</a> action.</p>",
      "members": {
        "durationRange": {
          "documentation": "<p>For a record to match a filter, the value specified for this data type property must inclusively match any value between the specified minimum and maximum values of the <b>durationInSeconds</b> property of the <a>AssessmentTemplate</a> data type.</p>",
          "shape": "DurationRange"
        },
        "namePattern": {
          "documentation": "<p>For a record to match a filter, an explicit value or a string that contains a wildcard that is specified for this data type property must match the value of the <b>assessmentTemplateName</b> property of the <a>AssessmentTemplate</a> data type.</p>",
          "shape": "NamePattern"
        },
        "rulesPackageArns": {
          "documentation": "<p>For a record to match a filter, the values that are specified for this data type property must be contained in the list of values of the <b>rulesPackageArns</b> property of the <a>AssessmentTemplate</a> data type.</p>",
          "shape": "FilterRulesPackageArnList"
        }
      },
      "type": "structure"
    },
    "AssessmentTemplateList": {
      "max": 10,
      "member": {
        "shape": "AssessmentTemplate"
      },
      "min": 0,
      "type": "list"
    },
    "AssessmentTemplateName": {
      "max": 140,
      "min": 1,
      "type": "string"
    },
    "AssessmentTemplateRulesPackageArnList": {
      "max": 50,
      "member": {
        "shape": "Arn"
      },
      "min": 0,
      "type": "list"
    },
    "AssetAttributes": {
      "documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>",
      "members": {
        "agentId": {
          "documentation": "<p>The ID of the agent that is installed on the EC2 instance where the finding is generated.</p>",
          "shape": "AgentId"
        },
        "amiId": {
          "documentation": "<p>The ID of the Amazon Machine Image (AMI) that is installed on the EC2 instance where the finding is generated.</p>",
          "shape": "AmiId"
        },
        "autoScalingGroup": {
          "documentation": "<p>The Auto Scaling group of the EC2 instance where the finding is generated.</p>",
          "shape": "AutoScalingGroup"
        },
        "hostname": {
          "documentation": "<p>The hostname of the EC2 instance where the finding is generated.</p>",
          "shape": "Hostname"
        },
        "ipv4Addresses": {
          "documentation": "<p>The list of IP v4 addresses of the EC2 instance where the finding is generated.</p>",
          "shape": "Ipv4AddressList"
        },
        "networkInterfaces": {
          "documentation": "<p>An array of the network interfaces interacting with the EC2 instance where the finding is generated.</p>",
          "shape": "NetworkInterfaces"
        },
        "schemaVersion": {
          "documentation": "<p>The schema version of this data type.</p>",
          "shape": "NumericVersion"
        },
        "tags": {
          "documentation": "<p>The tags related to the EC2 instance where the finding is generated.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "schemaVersion"
      ],
      "type": "structure"
    },
    "AssetType": {
      "enum": [
        "ec2-instance"
      ],
      "type": "string"
    },
    "Attribute": {
      "documentation": "<p>This data type is used as a request parameter in the <a>AddAttributesToFindings</a> and <a>CreateAssessmentTemplate</a> actions.</p>",
      "members": {
        "key": {
          "documentation": "<p>The attribute key.</p>",
          "shape": "AttributeKey"
        },
        "value": {
          "documentation": "<p>The value assigned to the attribute key.</p>",
          "shape": "AttributeValue"
        }
      },
      "required": [
        "key"
      ],
      "type": "structure"
    },
    "AttributeKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AttributeList": {
      "max": 50,
      "member": {
        "shape": "Attribute"
      },
      "min": 0,
      "type": "list"
    },
    "AttributeValue": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "AutoScalingGroup": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "AutoScalingGroupList": {
      "max": 20,
      "member": {
        "shape": "AutoScalingGroup"
      },
      "min": 0,
      "type": "list"
    },
    "BatchDescribeArnList": {
      "max": 10,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDescribeExclusionsArnList": {
      "max": 100,
      "member": {
        "shape": "Arn"
      },
      "min": 1,
      "type": "list"
    },
    "Bool": {
      "type": "boolean"
    },
    "CreateAssessmentTargetRequest": {
      "members": {
        "assessmentTargetName": {
          "documentation": "<p>The user-defined name that identifies the assessment target that you want to create. The name must be unique within the AWS account.</p>",
          "shape": "AssessmentTargetName"
        },
        "resourceGroupArn": {
          "documentation": "<p>The ARN that specifies the resource group that is used to create the assessment target. If resourceGroupArn is not specified, all EC2 instances in the current AWS account and region are included in the assessment target.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentTargetName"
      ],
      "type": "structure"
    },
    "CreateAssessmentTargetResponse": {
      "members": {
        "assessmentTargetArn": {
          "documentation": "<p>The ARN that specifies the assessment target that is created.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentTargetArn"
      ],
      "type": "structure"
    },
    "CreateAssessmentTemplateRequest": {
      "members": {
        "assessmentTargetArn": {
          "documentation": "<p>The ARN that specifies the assessment target for which you want to create the assessment template.</p>",
          "shape": "Arn"
        },
        "assessmentTemplateName": {
          "documentation": "<p>The user-defined name that identifies the assessment template that you want to create. You can create several assessment templates for an assessment target. The names of the assessment templates that correspond to a particular assessment target must be unique.</p>",
          "shape": "AssessmentTemplateName"
        },
        "durationInSeconds": {
          "documentation": "<p>The duration of the assessment run in seconds.</p>",
          "shape": "AssessmentRunDuration"
        },
        "rulesPackageArns": {
          "documentation": "<p>The ARNs that specify the rules packages that you want to attach to the assessment template.</p>",
          "shape": "AssessmentTemplateRulesPackageArnList"
        },
        "userAttributesForFindings": {
          "documentation": "<p>The user-defined attributes that are assigned to every finding that is generated by the assessment run that uses this assessment template. An attribute is a key and value pair (an <a>Attribute</a> object). Within an assessment template, each key must be unique.</p>",
          "shape": "UserAttributeList"
        }
      },
      "required": [
        "assessmentTargetArn",
        "assessmentTemplateName",
        "durationInSeconds",
        "rulesPackageArns"
      ],
      "type": "structure"
    },
    "CreateAssessmentTemplateResponse": {
      "members": {
        "assessmentTemplateArn": {
          "documentation": "<p>The ARN that specifies the assessment template that is created.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentTemplateArn"
      ],
      "type": "structure"
    },
    "CreateExclusionsPreviewRequest": {
      "members": {
        "assessmentTemplateArn": {
          "documentation": "<p>The ARN that specifies the assessment template for which you want to create an exclusions preview.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentTemplateArn"
      ],
      "type": "structure"
    },
    "CreateExclusionsPreviewResponse": {
      "members": {
        "previewToken": {
          "documentation": "<p>Specifies the unique identifier of the requested exclusions preview. You can use the unique identifier to retrieve the exclusions preview when running the GetExclusionsPreview API.</p>",
          "shape": "UUID"
        }
      },
      "required": [
        "previewToken"
      ],
      "type": "structure"
    },
    "CreateResourceGroupRequest": {
      "members": {
        "resourceGroupTags": {
          "documentation": "<p>A collection of keys and an array of possible values, '[{\"key\":\"key1\",\"values\":[\"Value1\",\"Value2\"]},{\"key\":\"Key2\",\"values\":[\"Value3\"]}]'.</p> <p>For example,'[{\"key\":\"Name\",\"values\":[\"TestEC2Instance\"]}]'.</p>",
          "shape": "ResourceGroupTags"
        }
      },
      "required": [
        "resourceGroupTags"
      ],
      "type": "structure"
    },
    "CreateResourceGroupResponse": {
      "members": {
        "resourceGroupArn": {
          "documentation": "<p>The ARN that specifies the resource group that is created.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "resourceGroupArn"
      ],
      "type": "structure"
    },
    "DeleteAssessmentRunRequest": {
      "members": {
        "assessmentRunArn": {
          "documentation": "<p>The ARN that specifies the assessment run that you want to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentRunArn"
      ],
      "type": "structure"
    },
    "DeleteAssessmentTargetRequest": {
      "members": {
        "assessmentTargetArn": {
          "documentation": "<p>The ARN that specifies the assessment target that you want to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentTargetArn"
      ],
      "type": "structure"
    },
    "DeleteAssessmentTemplateRequest": {
      "members": {
        "assessmentTemplateArn": {
          "documentation": "<p>The ARN that specifies the assessment template that you want to delete.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentTemplateArn"
      ],
      "type": "structure"
    },
    "DescribeAssessmentRunsRequest": {
      "members": {
        "assessmentRunArns": {
          "documentation": "<p>The ARN that specifies the assessment run that you want to describe.</p>",
          "shape": "BatchDescribeArnList"
        }
      },
      "required": [
        "assessmentRunArns"
      ],
      "type": "structure"
    },
    "DescribeAssessmentRunsResponse": {
      "members": {
        "assessmentRuns": {
          "documentation": "<p>Information about the assessment run.</p>",
          "shape": "AssessmentRunList"
        },
        "failedItems": {
          "documentation": "<p>Assessment run details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        }
      },
      "required": [
        "assessmentRuns",
        "failedItems"
      ],
      "type": "structure"
    },
    "DescribeAssessmentTargetsRequest": {
      "members": {
        "assessmentTargetArns": {
          "documentation": "<p>The ARNs that specifies the assessment targets that you want to describe.</p>",
          "shape": "BatchDescribeArnList"
        }
      },
      "required": [
        "assessmentTargetArns"
      ],
      "type": "structure"
    },
    "DescribeAssessmentTargetsResponse": {
      "members": {
        "assessmentTargets": {
          "documentation": "<p>Information about the assessment targets.</p>",
          "shape": "AssessmentTargetList"
        },
        "failedItems": {
          "documentation": "<p>Assessment target details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        }
      },
      "required": [
        "assessmentTargets",
        "failedItems"
      ],
      "type": "structure"
    },
    "DescribeAssessmentTemplatesRequest": {
      "members": {
        "assessmentTemplateArns": {
          "shape": "BatchDescribeArnList"
        }
      },
      "required": [
        "assessmentTemplateArns"
      ],
      "type": "structure"
    },
    "DescribeAssessmentTemplatesResponse": {
      "members": {
        "assessmentTemplates": {
          "documentation": "<p>Information about the assessment templates.</p>",
          "shape": "AssessmentTemplateList"
        },
        "failedItems": {
          "documentation": "<p>Assessment template details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        }
      },
      "required": [
        "assessmentTemplates",
        "failedItems"
      ],
      "type": "structure"
    },
    "DescribeCrossAccountAccessRoleResponse": {
      "members": {
        "registeredAt": {
          "documentation": "<p>The date when the cross-account access role was registered.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN that specifies the IAM role that Amazon Inspector uses to access your AWS account.</p>",
          "shape": "Arn"
        },
        "valid": {
          "documentation": "<p>A Boolean value that specifies whether the IAM role has the necessary policies attached to enable Amazon Inspector to access your AWS account.</p>",
          "shape": "Bool"
        }
      },
      "required": [
        "roleArn",
        "valid",
        "registeredAt"
      ],
      "type": "structure"
    },
    "DescribeExclusionsRequest": {
      "members": {
        "exclusionArns": {
          "documentation": "<p>The list of ARNs that specify the exclusions that you want to describe.</p>",
          "shape": "BatchDescribeExclusionsArnList"
        },
        "locale": {
          "documentation": "<p>The locale into which you want to translate the exclusion's title, description, and recommendation.</p>",
          "shape": "Locale"
        }
      },
      "required": [
        "exclusionArns"
      ],
      "type": "structure"
    },
    "DescribeExclusionsResponse": {
      "members": {
        "exclusions": {
          "documentation": "<p>Information about the exclusions.</p>",
          "shape": "ExclusionMap"
        },
        "failedItems": {
          "documentation": "<p>Exclusion details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        }
      },
      "required": [
        "exclusions",
        "failedItems"
      ],
      "type": "structure"
    },
    "DescribeFindingsRequest": {
      "members": {
        "findingArns": {
          "documentation": "<p>The ARN that specifies the finding that you want to describe.</p>",
          "shape": "BatchDescribeArnList"
        },
        "locale": {
          "documentation": "<p>The locale into which you want to translate a finding description, recommendation, and the short description that identifies the finding.</p>",
          "shape": "Locale"
        }
      },
      "required": [
        "findingArns"
      ],
      "type": "structure"
    },
    "DescribeFindingsResponse": {
      "members": {
        "failedItems": {
          "documentation": "<p>Finding details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        },
        "findings": {
          "documentation": "<p>Information about the finding.</p>",
          "shape": "FindingList"
        }
      },
      "required": [
        "findings",
        "failedItems"
      ],
      "type": "structure"
    },
    "DescribeResourceGroupsRequest": {
      "members": {
        "resourceGroupArns": {
          "documentation": "<p>The ARN that specifies the resource group that you want to describe.</p>",
          "shape": "BatchDescribeArnList"
        }
      },
      "required": [
        "resourceGroupArns"
      ],
      "type": "structure"
    },
    "DescribeResourceGroupsResponse": {
      "members": {
        "failedItems": {
          "documentation": "<p>Resource group details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        },
        "resourceGroups": {
          "documentation": "<p>Information about a resource group.</p>",
          "shape": "ResourceGroupList"
        }
      },
      "required": [
        "resourceGroups",
        "failedItems"
      ],
      "type": "structure"
    },
    "DescribeRulesPackagesRequest": {
      "members": {
        "locale": {
          "documentation": "<p>The locale that you want to translate a rules package description into.</p>",
          "shape": "Locale"
        },
        "rulesPackageArns": {
          "documentation": "<p>The ARN that specifies the rules package that you want to describe.</p>",
          "shape": "BatchDescribeArnList"
        }
      },
      "required": [
        "rulesPackageArns"
      ],
      "type": "structure"
    },
    "DescribeRulesPackagesResponse": {
      "members": {
        "failedItems": {
          "documentation": "<p>Rules package details that cannot be described. An error code is provided for each failed item.</p>",
          "shape": "FailedItems"
        },
        "rulesPackages": {
          "documentation": "<p>Information about the rules package.</p>",
          "shape": "RulesPackageList"
        }
      },
      "required": [
        "rulesPackages",
        "failedItems"
      ],
      "type": "structure"
    },
    "DurationRange": {
      "documentation": "<p>This data type is used in the <a>AssessmentTemplateFilter</a> data type.</p>",
      "members": {
        "maxSeconds": {
          "documentation": "<p>The maximum value of the duration range. Must be less than or equal to 604800 seconds (1 week).</p>",
          "shape": "AssessmentRunDuration"
        },
        "minSeconds": {
          "documentation": "<p>The minimum value of the duration range. Must be greater than zero.</p>",
          "shape": "AssessmentRunDuration"
        }
      },
      "type": "structure"
    },
    "ErrorMessage": {
      "max": 1000,
      "min": 0,
      "type": "string"
    },
    "EventSubscription": {
      "documentation": "<p>This data type is used in the <a>Subscription</a> data type.</p>",
      "members": {
        "event": {
          "documentation": "<p>The event for which Amazon Simple Notification Service (SNS) notifications are sent.</p>",
          "shape": "InspectorEvent"
        },
        "subscribedAt": {
          "documentation": "<p>The time at which <a>SubscribeToEvent</a> is called.</p>",
          "shape": "Timestamp"
        }
      },
      "required": [
        "event",
        "subscribedAt"
      ],
      "type": "structure"
    },
    "EventSubscriptionList": {
      "max": 50,
      "member": {
        "shape": "EventSubscription"
      },
      "min": 1,
      "type": "list"
    },
    "Exclusion": {
      "documentation": "<p>Contains information about what was excluded from an assessment run.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN that specifies the exclusion.</p>",
          "shape": "Arn"
        },
        "attributes": {
          "documentation": "<p>The system-defined attributes for the exclusion.</p>",
          "shape": "AttributeList"
        },
        "description": {
          "documentation": "<p>The description of the exclusion.</p>",
          "shape": "Text"
        },
        "recommendation": {
          "documentation": "<p>The recommendation for the exclusion.</p>",
          "shape": "Text"
        },
        "scopes": {
          "documentation": "<p>The AWS resources for which the exclusion pertains.</p>",
          "shape": "ScopeList"
        },
        "title": {
          "documentation": "<p>The name of the exclusion.</p>",
          "shape": "Text"
        }
      },
      "required": [
        "arn",
        "title",
        "description",
        "recommendation",
        "scopes"
      ],
      "type": "structure"
    },
    "ExclusionMap": {
      "key": {
        "shape": "Arn"
      },
      "max": 100,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "Exclusion"
      }
    },
    "ExclusionPreview": {
      "documentation": "<p>Contains information about what is excluded from an assessment run given the current state of the assessment template.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The system-defined attributes for the exclusion preview.</p>",
          "shape": "AttributeList"
        },
        "description": {
          "documentation": "<p>The description of the exclusion preview.</p>",
          "shape": "Text"
        },
        "recommendation": {
          "documentation": "<p>The recommendation for the exclusion preview.</p>",
          "shape": "Text"
        },
        "scopes": {
          "documentation": "<p>The AWS resources for which the exclusion preview pertains.</p>",
          "shape": "ScopeList"
        },
        "title": {
          "documentation": "<p>The name of the exclusion preview.</p>",
          "shape": "Text"
        }
      },
      "required": [
        "title",
        "description",
        "recommendation",
        "scopes"
      ],
      "type": "structure"
    },
    "ExclusionPreviewList": {
      "max": 100,
      "member": {
        "shape": "ExclusionPreview"
      },
      "min": 0,
      "type": "list"
    },
    "FailedItemDetails": {
      "documentation": "<p>Includes details about the failed items.</p>",
      "members": {
        "failureCode": {
          "documentation": "<p>The status code of a failed item.</p>",
          "shape": "FailedItemErrorCode"
        },
        "retryable": {
          "documentation": "<p>Indicates whether you can immediately retry a request for this item for a specified resource.</p>",
          "shape": "Bool"
        }
      },
      "required": [
        "failureCode",
        "retryable"
      ],
      "type": "structure"
    },
    "FailedItemErrorCode": {
      "enum": [
        "INVALID_ARN",
        "DUPLICATE_ARN",
        "ITEM_DOES_NOT_EXIST",
        "ACCESS_DENIED",
        "LIMIT_EXCEEDED",
        "INTERNAL_ERROR"
      ],
      "type": "string"
    },
    "FailedItems": {
      "key": {
        "shape": "Arn"
      },
      "type": "map",
      "value": {
        "shape": "FailedItemDetails"
      }
    },
    "FilterRulesPackageArnList": {
      "max": 50,
      "member": {
        "shape": "Arn"
      },
      "min": 0,
      "type": "list"
    },
    "Finding": {
      "documentation": "<p>Contains information about an Amazon Inspector finding. This data type is used as the response element in the <a>DescribeFindings</a> action.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN that specifies the finding.</p>",
          "shape": "Arn"
        },
        "assetAttributes": {
          "documentation": "<p>A collection of attributes of the host from which the finding is generated.</p>",
          "shape": "AssetAttributes"
        },
        "assetType": {
          "documentation": "<p>The type of the host from which the finding is generated.</p>",
          "shape": "AssetType"
        },
        "attributes": {
          "documentation": "<p>The system-defined attributes for the finding.</p>",
          "shape": "AttributeList"
        },
        "confidence": {
          "documentation": "<p>This data element is currently not used.</p>",
          "shape": "IocConfidence"
        },
        "createdAt": {
          "documentation": "<p>The time when the finding was generated.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>The description of the finding.</p>",
          "shape": "Text"
        },
        "id": {
          "documentation": "<p>The ID of the finding.</p>",
          "shape": "FindingId"
        },
        "indicatorOfCompromise": {
          "documentation": "<p>This data element is currently not used.</p>",
          "shape": "Bool"
        },
        "numericSeverity": {
          "documentation": "<p>The numeric value of the finding severity.</p>",
          "shape": "NumericSeverity"
        },
        "recommendation": {
          "documentation": "<p>The recommendation for the finding.</p>",
          "shape": "Text"
        },
        "schemaVersion": {
          "documentation": "<p>The schema version of this data type.</p>",
          "shape": "NumericVersion"
        },
        "service": {
          "documentation": "<p>The data element is set to \"Inspector\".</p>",
          "shape": "ServiceName"
        },
        "serviceAttributes": {
          "documentation": "<p>This data type is used in the <a>Finding</a> data type.</p>",
          "shape": "InspectorServiceAttributes"
        },
        "severity": {
          "documentation": "<p>The finding severity. Values can be set to High, Medium, Low, and Informational.</p>",
          "shape": "Severity"
        },
        "title": {
          "documentation": "<p>The name of the finding.</p>",
          "shape": "Text"
        },
        "updatedAt": {
          "documentation": "<p>The time when <a>AddAttributesToFindings</a> is called.</p>",
          "shape": "Timestamp"
        },
        "userAttributes": {
          "documentation": "<p>The user-defined attributes that are assigned to the finding.</p>",
          "shape": "UserAttributeList"
        }
      },
      "required": [
        "arn",
        "attributes",
        "userAttributes",
        "createdAt",
        "updatedAt"
      ],
      "type": "structure"
    },
    "FindingCount": {
      "type": "integer"
    },
    "FindingFilter": {
      "documentation": "<p>This data type is used as a request parameter in the <a>ListFindings</a> action.</p>",
      "members": {
        "agentIds": {
          "documentation": "<p>For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>agentId</b> property of the <a>Finding</a> data type.</p>",
          "shape": "AgentIdList"
        },
        "attributes": {
          "documentation": "<p>For a record to match a filter, the list of values that are specified for this data type property must be contained in the list of values of the <b>attributes</b> property of the <a>Finding</a> data type.</p>",
          "shape": "AttributeList"
        },
        "autoScalingGroups": {
          "documentation": "<p>For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>autoScalingGroup</b> property of the <a>Finding</a> data type.</p>",
          "shape": "AutoScalingGroupList"
        },
        "creationTimeRange": {
          "documentation": "<p>The time range during which the finding is generated.</p>",
          "shape": "TimestampRange"
        },
        "ruleNames": {
          "documentation": "<p>For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>ruleName</b> property of the <a>Finding</a> data type.</p>",
          "shape": "RuleNameList"
        },
        "rulesPackageArns": {
          "documentation": "<p>For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>rulesPackageArn</b> property of the <a>Finding</a> data type.</p>",
          "shape": "FilterRulesPackageArnList"
        },
        "severities": {
          "documentation": "<p>For a record to match a filter, one of the values that is specified for this data type property must be the exact match of the value of the <b>severity</b> property of the <a>Finding</a> data type.</p>",
          "shape": "SeverityList"
        },
        "userAttributes": {
          "documentation": "<p>For a record to match a filter, the value that is specified for this data type property must be contained in the list of values of the <b>userAttributes</b> property of the <a>Finding</a> data type.</p>",
          "shape": "AttributeList"
        }
      },
      "type": "structure"
    },
    "FindingId": {
      "max": 128,
      "min": 0,
      "type": "string"
    },
    "FindingList": {
      "max": 100,
      "member": {
        "shape": "Finding"
      },
      "min": 0,
      "type": "list"
    },
    "GetAssessmentReportRequest": {
      "members": {
        "assessmentRunArn": {
          "documentation": "<p>The ARN that specifies the assessment run for which you want to generate a report.</p>",
          "shape": "Arn"
        },
        "reportFileFormat": {
          "documentation": "<p>Specifies the file format (html or pdf) of the assessment report that you want to generate.</p>",
          "shape": "ReportFileFormat"
        },
        "reportType": {
          "documentation": "<p>Specifies the type of the assessment report that you want to generate. There are two types of assessment reports: a finding report and a full report. For more information, see <a href=\"https://docs.aws.amazon.com/inspector/latest/userguide/inspector_reports.html\">Assessment Reports</a>. </p>",
          "shape": "ReportType"
        }
      },
      "required": [
        "assessmentRunArn",
        "reportFileFormat",
        "reportType"
      ],
      "type": "structure"
    },
    "GetAssessmentReportResponse": {
      "members": {
        "status": {
          "documentation": "<p>Specifies the status of the request to generate an assessment report. </p>",
          "shape": "ReportStatus"
        },
        "url": {
          "documentation": "<p>Specifies the URL where you can find the generated assessment report. This parameter is only returned if the report is successfully generated.</p>",
          "shape": "Url"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "GetExclusionsPreviewRequest": {
      "members": {
        "assessmentTemplateArn": {
          "documentation": "<p>The ARN that specifies the assessment template for which the exclusions preview was requested.</p>",
          "shape": "Arn"
        },
        "locale": {
          "documentation": "<p>The locale into which you want to translate the exclusion's title, description, and recommendation.</p>",
          "shape": "Locale"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 100. The maximum value is 500.</p>",
          "shape": "ListMaxResults"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the GetExclusionsPreviewRequest action. Subsequent calls to the action fill nextToken in the request with the value of nextToken from the previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        },
        "previewToken": {
          "documentation": "<p>The unique identifier associated of the exclusions preview.</p>",
          "shape": "UUID"
        }
      },
      "required": [
        "assessmentTemplateArn",
        "previewToken"
      ],
      "type": "structure"
    },
    "GetExclusionsPreviewResponse": {
      "members": {
        "exclusionPreviews": {
          "documentation": "<p>Information about the exclusions included in the preview.</p>",
          "shape": "ExclusionPreviewList"
        },
        "nextToken": {
          "documentation": "<p>When a response is generated, if there is more data to be listed, this parameters is present in the response and contains the value to use for the nextToken parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null.</p>",
          "shape": "PaginationToken"
        },
        "previewStatus": {
          "documentation": "<p>Specifies the status of the request to generate an exclusions preview.</p>",
          "shape": "PreviewStatus"
        }
      },
      "required": [
        "previewStatus"
      ],
      "type": "structure"
    },
    "GetTelemetryMetadataRequest": {
      "members": {
        "assessmentRunArn": {
          "documentation": "<p>The ARN that specifies the assessment run that has the telemetry data that you want to obtain.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "assessmentRunArn"
      ],
      "type": "structure"
    },
    "GetTelemetryMetadataResponse": {
      "members": {
        "telemetryMetadata": {
          "documentation": "<p>Telemetry details.</p>",
          "shape": "TelemetryMetadataList"
        }
      },
      "required": [
        "telemetryMetadata"
      ],
      "type": "structure"
    },
    "Hostname": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "InspectorEvent": {
      "enum": [
        "ASSESSMENT_RUN_STARTED",
        "ASSESSMENT_RUN_COMPLETED",
        "ASSESSMENT_RUN_STATE_CHANGED",
        "FINDING_REPORTED",
        "OTHER"
      ],
      "type": "string"
    },
    "InspectorServiceAttributes": {
      "documentation": "<p>This data type is used in the <a>Finding</a> data type.</p>",
      "members": {
        "assessmentRunArn": {
          "documentation": "<p>The ARN of the assessment run during which the finding is generated.</p>",
          "shape": "Arn"
        },
        "rulesPackageArn": {
          "documentation": "<p>The ARN of the rules package that is used to generate the finding.</p>",
          "shape": "Arn"
        },
        "schemaVersion": {
          "documentation": "<p>The schema version of this data type.</p>",
          "shape": "NumericVersion"
        }
      },
      "required": [
        "schemaVersion"
      ],
      "type": "structure"
    },
    "InternalException": {
      "documentation": "<p>Internal server error.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "canRetry"
      ],
      "type": "structure"
    },
    "InvalidCrossAccountRoleErrorCode": {
      "enum": [
        "ROLE_DOES_NOT_EXIST_OR_INVALID_TRUST_RELATIONSHIP",
        "ROLE_DOES_NOT_HAVE_CORRECT_POLICY"
      ],
      "type": "string"
    },
    "InvalidCrossAccountRoleException": {
      "documentation": "<p>Amazon Inspector cannot assume the cross-account role that it needs to list your EC2 instances during the assessment run.</p>",
      "exception": true,
      "members": {
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "errorCode": {
          "documentation": "<p>Code that indicates the type of error that is generated.</p>",
          "shape": "InvalidCrossAccountRoleErrorCode"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "errorCode",
        "canRetry"
      ],
      "type": "structure"
    },
    "InvalidInputErrorCode": {
      "enum": [
        "INVALID_ASSESSMENT_TARGET_ARN",
        "INVALID_ASSESSMENT_TEMPLATE_ARN",
        "INVALID_ASSESSMENT_RUN_ARN",
        "INVALID_FINDING_ARN",
        "INVALID_RESOURCE_GROUP_ARN",
        "INVALID_RULES_PACKAGE_ARN",
        "INVALID_RESOURCE_ARN",
        "INVALID_SNS_TOPIC_ARN",
        "INVALID_IAM_ROLE_ARN",
        "INVALID_ASSESSMENT_TARGET_NAME",
        "INVALID_ASSESSMENT_TARGET_NAME_PATTERN",
        "INVALID_ASSESSMENT_TEMPLATE_NAME",
        "INVALID_ASSESSMENT_TEMPLATE_NAME_PATTERN",
        "INVALID_ASSESSMENT_TEMPLATE_DURATION",
        "INVALID_ASSESSMENT_TEMPLATE_DURATION_RANGE",
        "INVALID_ASSESSMENT_RUN_DURATION_RANGE",
        "INVALID_ASSESSMENT_RUN_START_TIME_RANGE",
        "INVALID_ASSESSMENT_RUN_COMPLETION_TIME_RANGE",
        "INVALID_ASSESSMENT_RUN_STATE_CHANGE_TIME_RANGE",
        "INVALID_ASSESSMENT_RUN_STATE",
        "INVALID_TAG",
        "INVALID_TAG_KEY",
        "INVALID_TAG_VALUE",
        "INVALID_RESOURCE_GROUP_TAG_KEY",
        "INVALID_RESOURCE_GROUP_TAG_VALUE",
        "INVALID_ATTRIBUTE",
        "INVALID_USER_ATTRIBUTE",
        "INVALID_USER_ATTRIBUTE_KEY",
        "INVALID_USER_ATTRIBUTE_VALUE",
        "INVALID_PAGINATION_TOKEN",
        "INVALID_MAX_RESULTS",
        "INVALID_AGENT_ID",
        "INVALID_AUTO_SCALING_GROUP",
        "INVALID_RULE_NAME",
        "INVALID_SEVERITY",
        "INVALID_LOCALE",
        "INVALID_EVENT",
        "ASSESSMENT_TARGET_NAME_ALREADY_TAKEN",
        "ASSESSMENT_TEMPLATE_NAME_ALREADY_TAKEN",
        "INVALID_NUMBER_OF_ASSESSMENT_TARGET_ARNS",
        "INVALID_NUMBER_OF_ASSESSMENT_TEMPLATE_ARNS",
        "INVALID_NUMBER_OF_ASSESSMENT_RUN_ARNS",
        "INVALID_NUMBER_OF_FINDING_ARNS",
        "INVALID_NUMBER_OF_RESOURCE_GROUP_ARNS",
        "INVALID_NUMBER_OF_RULES_PACKAGE_ARNS",
        "INVALID_NUMBER_OF_ASSESSMENT_RUN_STATES",
        "INVALID_NUMBER_OF_TAGS",
        "INVALID_NUMBER_OF_RESOURCE_GROUP_TAGS",
        "INVALID_NUMBER_OF_ATTRIBUTES",
        "INVALID_NUMBER_OF_USER_ATTRIBUTES",
        "INVALID_NUMBER_OF_AGENT_IDS",
        "INVALID_NUMBER_OF_AUTO_SCALING_GROUPS",
        "INVALID_NUMBER_OF_RULE_NAMES",
        "INVALID_NUMBER_OF_SEVERITIES"
      ],
      "type": "string"
    },
    "InvalidInputException": {
      "documentation": "<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>",
      "exception": true,
      "members": {
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "errorCode": {
          "documentation": "<p>Code that indicates the type of error that is generated.</p>",
          "shape": "InvalidInputErrorCode"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "errorCode",
        "canRetry"
      ],
      "type": "structure"
    },
    "IocConfidence": {
      "max": 10,
      "min": 0,
      "type": "integer"
    },
    "Ipv4Address": {
      "max": 15,
      "min": 7,
      "type": "string"
    },
    "Ipv4AddressList": {
      "max": 50,
      "member": {
        "shape": "Ipv4Address"
      },
      "min": 0,
      "type": "list"
    },
    "Ipv6Addresses": {
      "member": {
        "shape": "Text"
      },
      "type": "list"
    },
    "KernelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "LimitExceededErrorCode": {
      "enum": [
        "ASSESSMENT_TARGET_LIMIT_EXCEEDED",
        "ASSESSMENT_TEMPLATE_LIMIT_EXCEEDED",
        "ASSESSMENT_RUN_LIMIT_EXCEEDED",
        "RESOURCE_GROUP_LIMIT_EXCEEDED",
        "EVENT_SUBSCRIPTION_LIMIT_EXCEEDED"
      ],
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>The request was rejected because it attempted to create resources beyond the current AWS account limits. The error code describes the limit exceeded.</p>",
      "exception": true,
      "members": {
        "canRetry": {
          "documentation": "<p>You can immediately retry your request.</p>",
          "shape": "Bool"
        },
        "errorCode": {
          "documentation": "<p>Code that indicates the type of error that is generated.</p>",
          "shape": "LimitExceededErrorCode"
        },
        "message": {
          "documentation": "<p>Details of the exception error.</p>",
          "shape": "ErrorMessage"
        }
      },
      "required": [
        "message",
        "errorCode",
        "canRetry"
      ],
      "type": "structure"
    },
    "ListAssessmentRunAgentsRequest": {
      "members": {
        "assessmentRunArn": {
          "documentation": "<p>The ARN that specifies the assessment run whose agents you want to list.</p>",
          "shape": "Arn"
        },
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "AgentFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items that you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "ListMaxResults"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the <b>ListAssessmentRunAgents</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from the previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "assessmentRunArn"
      ],
      "type": "structure"
    },
    "ListAssessmentRunAgentsResponse": {
      "members": {
        "assessmentRunAgents": {
          "documentation": "<p>A list of ARNs that specifies the agents returned by the action.</p>",
          "shape": "AssessmentRunAgentList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "assessmentRunAgents"
      ],
      "type": "structure"
    },
    "ListAssessmentRunsRequest": {
      "members": {
        "assessmentTemplateArns": {
          "documentation": "<p>The ARNs that specify the assessment templates whose assessment runs you want to list.</p>",
          "shape": "ListParentArnList"
        },
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "AssessmentRunFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items that you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "ListMaxResults"
        },
        "nextToken": {
          "documentation": "<p>You can use this parameter when paginating results. Set the value of this parameter to null on your first call to the <b>ListAssessmentRuns</b> action. Subsequent calls to the action fill <b>nextToken</b> in the request with the value of <b>NextToken</b> from the previous response to continue listing data.</p>",
          "shape": "PaginationToken"
        }
      },
      "type": "structure"
    },
    "ListAssessmentRunsResponse": {
      "members": {
        "assessmentRunArns": {
          "documentation": "<p>A list of ARNs that specifies the assessment runs that are returned by the action.</p>",
          "shape": "ListReturnedArnList"
        },
        "nextToken": {
          "documentation": "<p> When a response is generated, if there is more data to be listed, this parameter is present in the response and contains the value to use for the <b>nextToken</b> parameter in a subsequent pagination request. If there is no more data to be listed, this parameter is set to null.</p>",
          "shape": "PaginationToken"
        }
      },
      "required": [
        "assessmentRunArns"
      ],
      "type": "structure"
    },
    "ListAssessmentTargetsRequest": {
      "members": {
        "filter": {
          "documentation": "<p>You can use this parameter to specify a subset of data to be included in the action's response.</p> <p>For a record to match a filter, all specified filter attributes must match. When multiple values are specified for a filter attribute, any of the values can match.</p>",
          "shape": "AssessmentTargetFilter"
        },
        "maxResults": {
          "documentation": "<p>You can use this parameter to indicate the maximum number of items you want in the response. The default value is 10. The maximum value is 500.</p>",
          "shape": "ListMaxResults"
        },
        "nextToken": {
[...]
