{
  "documentation": "<p>Amazon WorkMail is a secure, managed business email and calendaring service with support for existing desktop and mobile email clients. You can access your email, contacts, and calendars using Microsoft Outlook, your browser, or other native iOS and Android email applications. You can integrate WorkMail with your existing corporate directory and control both the keys that encrypt your data and the location in which your data is stored.</p> <p>The WorkMail API is designed for the following scenarios:</p> <ul> <li> <p>Listing and describing organizations</p> </li> </ul> <ul> <li> <p>Managing users</p> </li> </ul> <ul> <li> <p>Managing groups</p> </li> </ul> <ul> <li> <p>Managing resources</p> </li> </ul> <p>All WorkMail API operations are Amazon-authenticated and certificate-signed. They not only require the use of the AWS SDK, but also allow for the exclusive use of AWS Identity and Access Management users and roles to help facilitate access, trust, and permission policies. By creating a role and allowing an IAM user to access the WorkMail site, the IAM user gains full administrative visibility into the entire WorkMail organization (or as set in the IAM policy). This includes, but is not limited to, the ability to create, update, and delete users, groups, and resources. This allows developers to perform the scenarios listed above, as well as give users the ability to grant access on a selective basis using the IAM model.</p>",
  "metadata": {
    "apiVersion": "2017-10-01",
    "endpointPrefix": "workmail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon WorkMail",
    "serviceId": "WorkMail",
    "signatureVersion": "v4",
    "targetPrefix": "WorkMailService",
    "uid": "workmail-2017-10-01"
  },
  "operations": {
    "AssociateDelegateToResource": {
      "documentation": "<p>Adds a member (user or group) to the resource's set of delegates.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateDelegateToResourceRequest"
      },
      "name": "AssociateDelegateToResource",
      "output": {
        "shape": "AssociateDelegateToResourceResponse"
      }
    },
    "AssociateMemberToGroup": {
      "documentation": "<p>Adds a member (user or group) to the group's set.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "AssociateMemberToGroupRequest"
      },
      "name": "AssociateMemberToGroup",
      "output": {
        "shape": "AssociateMemberToGroupResponse"
      }
    },
    "CreateAlias": {
      "documentation": "<p>Adds an alias to the set of a given member (user or group) of Amazon WorkMail.</p>",
      "errors": [
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateAliasRequest"
      },
      "name": "CreateAlias",
      "output": {
        "shape": "CreateAliasResponse"
      }
    },
    "CreateGroup": {
      "documentation": "<p>Creates a group that can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ReservedNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "shape": "CreateGroupResponse"
      }
    },
    "CreateResource": {
      "documentation": "<p>Creates a new Amazon WorkMail resource. </p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ReservedNameException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateResourceRequest"
      },
      "name": "CreateResource",
      "output": {
        "shape": "CreateResourceResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a user who can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "ReservedNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "shape": "CreateUserResponse"
      }
    },
    "DeleteAccessControlRule": {
      "documentation": "<p>Deletes an access control rule for the specified WorkMail organization.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccessControlRuleRequest"
      },
      "name": "DeleteAccessControlRule",
      "output": {
        "shape": "DeleteAccessControlRuleResponse"
      }
    },
    "DeleteAlias": {
      "documentation": "<p>Remove one or more specified aliases from a set of aliases for a given user.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteAliasRequest"
      },
      "name": "DeleteAlias",
      "output": {
        "shape": "DeleteAliasResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes a group from Amazon WorkMail.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteMailboxPermissions": {
      "documentation": "<p>Deletes permissions granted to a member (user or group).</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteMailboxPermissionsRequest"
      },
      "name": "DeleteMailboxPermissions",
      "output": {
        "shape": "DeleteMailboxPermissionsResponse"
      }
    },
    "DeleteResource": {
      "documentation": "<p>Deletes the specified resource. </p>",
      "errors": [
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteResourceRequest"
      },
      "name": "DeleteResource",
      "output": {
        "shape": "DeleteResourceResponse"
      }
    },
    "DeleteUser": {
      "documentation": "<p>Deletes a user from Amazon WorkMail and all subsequent systems. Before you can delete a user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a> action to confirm the user state.</p> <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for 30 days before they are permanently removed.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser",
      "output": {
        "shape": "DeleteUserResponse"
      }
    },
    "DeregisterFromWorkMail": {
      "documentation": "<p>Mark a user, group, or resource as no longer used in Amazon WorkMail. This action disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days before they are permanently removed. The functionality in the console is <i>Disable</i>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeregisterFromWorkMailRequest"
      },
      "name": "DeregisterFromWorkMail",
      "output": {
        "shape": "DeregisterFromWorkMailResponse"
      }
    },
    "DescribeGroup": {
      "documentation": "<p>Returns the data available for the group.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeGroupRequest"
      },
      "name": "DescribeGroup",
      "output": {
        "shape": "DescribeGroupResponse"
      }
    },
    "DescribeOrganization": {
      "documentation": "<p>Provides more information regarding a given organization based on its identifier.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeOrganizationRequest"
      },
      "name": "DescribeOrganization",
      "output": {
        "shape": "DescribeOrganizationResponse"
      }
    },
    "DescribeResource": {
      "documentation": "<p>Returns the data available for the resource.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeResourceRequest"
      },
      "name": "DescribeResource",
      "output": {
        "shape": "DescribeResourceResponse"
      }
    },
    "DescribeUser": {
      "documentation": "<p>Provides information regarding the user.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeUserRequest"
      },
      "name": "DescribeUser",
      "output": {
        "shape": "DescribeUserResponse"
      }
    },
    "DisassociateDelegateFromResource": {
      "documentation": "<p>Removes a member from the resource's set of delegates.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateDelegateFromResourceRequest"
      },
      "name": "DisassociateDelegateFromResource",
      "output": {
        "shape": "DisassociateDelegateFromResourceResponse"
      }
    },
    "DisassociateMemberFromGroup": {
      "documentation": "<p>Removes a member from a group.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DisassociateMemberFromGroupRequest"
      },
      "name": "DisassociateMemberFromGroup",
      "output": {
        "shape": "DisassociateMemberFromGroupResponse"
      }
    },
    "GetAccessControlEffect": {
      "documentation": "<p>Gets the effects of an organization's access control rules as they apply to a specified IPv4 address, access protocol action, or user ID. </p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccessControlEffectRequest"
      },
      "name": "GetAccessControlEffect",
      "output": {
        "shape": "GetAccessControlEffectResponse"
      }
    },
    "GetMailboxDetails": {
      "documentation": "<p>Requests a user's mailbox details for a specified organization and user.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetMailboxDetailsRequest"
      },
      "name": "GetMailboxDetails",
      "output": {
        "shape": "GetMailboxDetailsResponse"
      }
    },
    "ListAccessControlRules": {
      "documentation": "<p>Lists the access control rules for the specified organization.</p>",
      "errors": [
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAccessControlRulesRequest"
      },
      "name": "ListAccessControlRules",
      "output": {
        "shape": "ListAccessControlRulesResponse"
      }
    },
    "ListAliases": {
      "documentation": "<p>Creates a paginated call to list the aliases associated with a given entity.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListAliasesRequest"
      },
      "name": "ListAliases",
      "output": {
        "shape": "ListAliasesResponse"
      }
    },
    "ListGroupMembers": {
      "documentation": "<p>Returns an overview of the members of a group. Users and groups can be members of a group.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListGroupMembersRequest"
      },
      "name": "ListGroupMembers",
      "output": {
        "shape": "ListGroupMembersResponse"
      }
    },
    "ListGroups": {
      "documentation": "<p>Returns summaries of the organization's groups.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListMailboxPermissions": {
      "documentation": "<p>Lists the mailbox permissions associated with a user, group, or resource mailbox.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListMailboxPermissionsRequest"
      },
      "name": "ListMailboxPermissions",
      "output": {
        "shape": "ListMailboxPermissionsResponse"
      }
    },
    "ListOrganizations": {
      "documentation": "<p>Returns summaries of the customer's non-deleted organizations.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListOrganizationsRequest"
      },
      "name": "ListOrganizations",
      "output": {
        "shape": "ListOrganizationsResponse"
      }
    },
    "ListResourceDelegates": {
      "documentation": "<p>Lists the delegates associated with a resource. Users and groups can be resource delegates and answer requests on behalf of the resource.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListResourceDelegatesRequest"
      },
      "name": "ListResourceDelegates",
      "output": {
        "shape": "ListResourceDelegatesResponse"
      }
    },
    "ListResources": {
      "documentation": "<p>Returns summaries of the organization's resources.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListResourcesRequest"
      },
      "name": "ListResources",
      "output": {
        "shape": "ListResourcesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags applied to an Amazon WorkMail organization resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUsers": {
      "documentation": "<p>Returns summaries of the organization's users.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListUsersRequest"
      },
      "name": "ListUsers",
      "output": {
        "shape": "ListUsersResponse"
      }
    },
    "PutAccessControlRule": {
      "documentation": "<p>Adds a new access control rule for the specified organization. The rule allows or denies access to the organization for the specified IPv4 addresses, access protocol actions, and user IDs. Adding a new rule with the same name as an existing rule replaces the older rule.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAccessControlRuleRequest"
      },
      "name": "PutAccessControlRule",
      "output": {
        "shape": "PutAccessControlRuleResponse"
      }
    },
    "PutMailboxPermissions": {
      "documentation": "<p>Sets permissions for a user, group, or resource. This replaces any pre-existing permissions.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutMailboxPermissionsRequest"
      },
      "name": "PutMailboxPermissions",
      "output": {
        "shape": "PutMailboxPermissionsResponse"
      }
    },
    "RegisterToWorkMail": {
      "documentation": "<p>Registers an existing and disabled user, group, or resource for Amazon WorkMail use by associating a mailbox and calendaring capabilities. It performs no change if the user, group, or resource is enabled and fails if the user, group, or resource is deleted. This operation results in the accumulation of costs. For more information, see <a href=\"https://aws.amazon.com/workmail/pricing\">Pricing</a>. The equivalent console functionality for this operation is <i>Enable</i>. </p> <p>Users can either be created by calling the <a>CreateUser</a> API operation or they can be synchronized from your directory. For more information, see <a>DeregisterFromWorkMail</a>.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "EntityAlreadyRegisteredException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RegisterToWorkMailRequest"
      },
      "name": "RegisterToWorkMail",
      "output": {
        "shape": "RegisterToWorkMailResponse"
      }
    },
    "ResetPassword": {
      "documentation": "<p>Allows the administrator to reset the password for a user.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidPasswordException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ResetPasswordRequest"
      },
      "name": "ResetPassword",
      "output": {
        "shape": "ResetPasswordResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Applies the specified tags to the specified Amazon WorkMail organization resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Untags the specified tags from the specified Amazon WorkMail organization resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateMailboxQuota": {
      "documentation": "<p>Updates a user's current mailbox quota for a specified organization and user.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateMailboxQuotaRequest"
      },
      "name": "UpdateMailboxQuota",
      "output": {
        "shape": "UpdateMailboxQuotaResponse"
      }
    },
    "UpdatePrimaryEmailAddress": {
      "documentation": "<p>Updates the primary email for a user, group, or resource. The current email is moved into the list of aliases (or swapped between an existing alias and the current primary email), and the email provided in the input is promoted as the primary.</p>",
      "errors": [
        {
          "shape": "DirectoryServiceAuthenticationFailedException"
        },
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdatePrimaryEmailAddressRequest"
      },
      "name": "UpdatePrimaryEmailAddress",
      "output": {
        "shape": "UpdatePrimaryEmailAddressResponse"
      }
    },
    "UpdateResource": {
      "documentation": "<p>Updates data for the resource. To have the latest information, it must be preceded by a <a>DescribeResource</a> call. The dataset in the request should be the one expected when performing another <code>DescribeResource</code> call.</p>",
      "errors": [
        {
          "shape": "DirectoryUnavailableException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "EntityStateException"
        },
        {
          "shape": "InvalidConfigurationException"
        },
        {
          "shape": "EmailAddressInUseException"
        },
        {
          "shape": "MailDomainNotFoundException"
        },
        {
          "shape": "MailDomainStateException"
        },
        {
          "shape": "NameAvailabilityException"
        },
        {
          "shape": "OrganizationNotFoundException"
        },
        {
          "shape": "OrganizationStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateResourceRequest"
      },
      "name": "UpdateResource",
      "output": {
        "shape": "UpdateResourceResponse"
      }
    }
  },
  "shapes": {
    "AccessControlRule": {
      "documentation": "<p>A rule that controls access to an Amazon WorkMail organization.</p>",
      "members": {
        "Actions": {
          "documentation": "<p>Access protocol actions to include in the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "ActionsList"
        },
        "DateCreated": {
          "documentation": "<p>The date that the rule was created.</p>",
          "shape": "Timestamp"
        },
        "DateModified": {
          "documentation": "<p>The date that the rule was modified.</p>",
          "shape": "Timestamp"
        },
        "Description": {
          "documentation": "<p>The rule description.</p>",
          "shape": "AccessControlRuleDescription"
        },
        "Effect": {
          "documentation": "<p>The rule effect.</p>",
          "shape": "AccessControlRuleEffect"
        },
        "IpRanges": {
          "documentation": "<p>IPv4 CIDR ranges to include in the rule.</p>",
          "shape": "IpRangeList"
        },
        "Name": {
          "documentation": "<p>The rule name.</p>",
          "shape": "AccessControlRuleName"
        },
        "NotActions": {
          "documentation": "<p>Access protocol actions to exclude from the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "ActionsList"
        },
        "NotIpRanges": {
          "documentation": "<p>IPv4 CIDR ranges to exclude from the rule.</p>",
          "shape": "IpRangeList"
        },
        "NotUserIds": {
          "documentation": "<p>User IDs to exclude from the rule.</p>",
          "shape": "UserIdList"
        },
        "UserIds": {
          "documentation": "<p>User IDs to include in the rule.</p>",
          "shape": "UserIdList"
        }
      },
      "type": "structure"
    },
    "AccessControlRuleAction": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z]+",
      "type": "string"
    },
    "AccessControlRuleDescription": {
      "max": 255,
      "min": 0,
      "pattern": "[\\u0020-\\u00FF]+",
      "type": "string"
    },
    "AccessControlRuleEffect": {
      "enum": [
        "ALLOW",
        "DENY"
      ],
      "type": "string"
    },
    "AccessControlRuleName": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "AccessControlRuleNameList": {
      "max": 10,
      "member": {
        "shape": "AccessControlRuleName"
      },
      "min": 0,
      "type": "list"
    },
    "AccessControlRulesList": {
      "max": 10,
      "member": {
        "shape": "AccessControlRule"
      },
      "min": 0,
      "type": "list"
    },
    "ActionsList": {
      "max": 10,
      "member": {
        "shape": "AccessControlRuleAction"
      },
      "min": 0,
      "type": "list"
    },
    "Aliases": {
      "member": {
        "shape": "EmailAddress"
      },
      "type": "list"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AssociateDelegateToResourceRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The member (user or group) to associate to the resource.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the resource exists.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The resource for which members (users or groups) are associated.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId",
        "EntityId"
      ],
      "type": "structure"
    },
    "AssociateDelegateToResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateMemberToGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The group to which the member (user or group) is associated.</p>",
          "shape": "WorkMailIdentifier"
        },
        "MemberId": {
          "documentation": "<p>The member (user or group) to associate to the group.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the group exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "AssociateMemberToGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "BookingOptions": {
      "documentation": "<p>At least one delegate must be associated to the resource to disable automatic replies from the resource.</p>",
      "members": {
        "AutoAcceptRequests": {
          "documentation": "<p>The resource's ability to automatically reply to requests. If disabled, delegates must be associated to the resource.</p>",
          "shape": "Boolean"
        },
        "AutoDeclineConflictingRequests": {
          "documentation": "<p>The resource's ability to automatically decline any conflicting requests.</p>",
          "shape": "Boolean"
        },
        "AutoDeclineRecurringRequests": {
          "documentation": "<p>The resource's ability to automatically decline any recurring requests.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CreateAliasRequest": {
      "members": {
        "Alias": {
          "documentation": "<p>The alias to add to the member set.</p>",
          "shape": "EmailAddress"
        },
        "EntityId": {
          "documentation": "<p>The member (user or group) to which this alias is added.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the member (user or group) exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "type": "structure"
    },
    "CreateAliasResponse": {
      "members": {},
      "type": "structure"
    },
    "CreateGroupRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "GroupName"
        },
        "OrganizationId": {
          "documentation": "<p>The organization under which the group is to be created.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "Name"
      ],
      "type": "structure"
    },
    "CreateGroupResponse": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "type": "structure"
    },
    "CreateResourceRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the new resource.</p>",
          "shape": "ResourceName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization for which the resource is created.</p>",
          "shape": "OrganizationId"
        },
        "Type": {
          "documentation": "<p>The type of the new resource. The available types are <code>equipment</code> and <code>room</code>.</p>",
          "shape": "ResourceType"
        }
      },
      "required": [
        "OrganizationId",
        "Name",
        "Type"
      ],
      "type": "structure"
    },
    "CreateResourceResponse": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The identifier of the new resource.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "CreateUserRequest": {
      "members": {
        "DisplayName": {
          "documentation": "<p>The display name for the new user.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name for the new user. Simple AD or AD Connector user names have a maximum length of 20. All others have a maximum length of 64.</p>",
          "shape": "UserName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization for which the user is created.</p>",
          "shape": "OrganizationId"
        },
        "Password": {
          "documentation": "<p>The password for the new user.</p>",
          "shape": "Password"
        }
      },
      "required": [
        "OrganizationId",
        "Name",
        "DisplayName",
        "Password"
      ],
      "type": "structure"
    },
    "CreateUserResponse": {
      "members": {
        "UserId": {
          "documentation": "<p>The identifier for the new user.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "type": "structure"
    },
    "Delegate": {
      "documentation": "<p>The name of the attribute, which is one of the values defined in the UserAttribute enumeration.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The identifier for the user or group associated as the resource's delegate.</p>",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>The type of the delegate: user or group.</p>",
          "shape": "MemberType"
        }
      },
      "required": [
        "Id",
        "Type"
      ],
      "type": "structure"
    },
    "DeleteAccessControlRuleRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the access control rule.</p>",
          "shape": "AccessControlRuleName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteAccessControlRuleResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteAliasRequest": {
      "members": {
        "Alias": {
          "documentation": "<p>The aliases to be removed from the user's set of aliases. Duplicate entries in the list are collapsed into single entries (the list is transformed into a set).</p>",
          "shape": "EmailAddress"
        },
        "EntityId": {
          "documentation": "<p>The identifier for the member (user or group) from which to have the aliases removed.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the user exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "Alias"
      ],
      "type": "structure"
    },
    "DeleteAliasResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier of the group to be deleted.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization that contains the group.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DeleteGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteMailboxPermissionsRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier of the member (user or group)that owns the mailbox.</p>",
          "shape": "WorkMailIdentifier"
        },
        "GranteeId": {
          "documentation": "<p>The identifier of the member (user or group) for which to delete granted permissions.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization under which the member (user or group) exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "GranteeId"
      ],
      "type": "structure"
    },
    "DeleteMailboxPermissionsResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteResourceRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization from which the resource is deleted.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the resource to be deleted.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "DeleteResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteUserRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The organization that contains the user to be deleted.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The identifier of the user to be deleted.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId"
      ],
      "type": "structure"
    },
    "DeleteUserResponse": {
      "members": {},
      "type": "structure"
    },
    "DeregisterFromWorkMailRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier for the member (user or group) to be updated.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the Amazon WorkMail entity exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId"
      ],
      "type": "structure"
    },
    "DeregisterFromWorkMailResponse": {
      "members": {},
      "type": "structure"
    },
    "DescribeGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for the group to be described.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the group exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId"
      ],
      "type": "structure"
    },
    "DescribeGroupResponse": {
      "members": {
        "DisabledDate": {
          "documentation": "<p>The date and time when a user was deregistered from WorkMail, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "Email": {
          "documentation": "<p>The email of the described group.</p>",
          "shape": "EmailAddress"
        },
        "EnabledDate": {
          "documentation": "<p>The date and time when a user was registered to WorkMail, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "GroupId": {
          "documentation": "<p>The identifier of the described group.</p>",
          "shape": "WorkMailIdentifier"
        },
        "Name": {
          "documentation": "<p>The name of the described group.</p>",
          "shape": "GroupName"
        },
        "State": {
          "documentation": "<p>The state of the user: enabled (registered to Amazon WorkMail) or disabled (deregistered or never registered to WorkMail).</p>",
          "shape": "EntityState"
        }
      },
      "type": "structure"
    },
    "DescribeOrganizationRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization to be described.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId"
      ],
      "type": "structure"
    },
    "DescribeOrganizationResponse": {
      "members": {
        "ARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the organization.</p>",
          "shape": "AmazonResourceName"
        },
        "Alias": {
          "documentation": "<p>The alias for an organization.</p>",
          "shape": "OrganizationName"
        },
        "CompletedDate": {
          "documentation": "<p>The date at which the organization became usable in the WorkMail context, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "DefaultMailDomain": {
          "documentation": "<p>The default mail domain associated with the organization.</p>",
          "shape": "String"
        },
        "DirectoryId": {
          "documentation": "<p>The identifier for the directory associated with an Amazon WorkMail organization.</p>",
          "shape": "String"
        },
        "DirectoryType": {
          "documentation": "<p>The type of directory associated with the WorkMail organization.</p>",
          "shape": "String"
        },
        "ErrorMessage": {
          "documentation": "<p>(Optional) The error message indicating if unexpected behavior was encountered with regards to the organization.</p>",
          "shape": "String"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of an organization.</p>",
          "shape": "OrganizationId"
        },
        "State": {
          "documentation": "<p>The state of an organization.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeResourceRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization for which the resource is described.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the resource to be described.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "DescribeResourceResponse": {
      "members": {
        "BookingOptions": {
          "documentation": "<p>The booking options for the described resource.</p>",
          "shape": "BookingOptions"
        },
        "DisabledDate": {
          "documentation": "<p>The date and time when a resource was disabled from WorkMail, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "Email": {
          "documentation": "<p>The email of the described resource.</p>",
          "shape": "EmailAddress"
        },
        "EnabledDate": {
          "documentation": "<p>The date and time when a resource was enabled for WorkMail, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the described resource.</p>",
          "shape": "ResourceName"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the described resource.</p>",
          "shape": "ResourceId"
        },
        "State": {
          "documentation": "<p>The state of the resource: enabled (registered to Amazon WorkMail), disabled (deregistered or never registered to WorkMail), or deleted.</p>",
          "shape": "EntityState"
        },
        "Type": {
          "documentation": "<p>The type of the described resource.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "DescribeUserRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the user exists.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The identifier for the user to be described.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId"
      ],
      "type": "structure"
    },
    "DescribeUserResponse": {
      "members": {
        "DisabledDate": {
          "documentation": "<p>The date and time at which the user was disabled for Amazon WorkMail usage, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "DisplayName": {
          "documentation": "<p>The display name of the user.</p>",
          "shape": "String"
        },
        "Email": {
          "documentation": "<p>The email of the user.</p>",
          "shape": "EmailAddress"
        },
        "EnabledDate": {
          "documentation": "<p>The date and time at which the user was enabled for Amazon WorkMail usage, in UNIX epoch time format.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name for the user.</p>",
          "shape": "UserName"
        },
        "State": {
          "documentation": "<p>The state of a user: enabled (registered to Amazon WorkMail) or disabled (deregistered or never registered to WorkMail).</p>",
          "shape": "EntityState"
        },
        "UserId": {
          "documentation": "<p>The identifier for the described user.</p>",
          "shape": "WorkMailIdentifier"
        },
        "UserRole": {
          "documentation": "<p>In certain cases, other entities are modeled as users. If interoperability is enabled, resources are imported into Amazon WorkMail as users. Because different WorkMail organizations rely on different directory types, administrators can distinguish between an unregistered user (account is disabled and has a user role) and the directory administrators. The values are USER, RESOURCE, and SYSTEM_USER.</p>",
          "shape": "UserRole"
        }
      },
      "type": "structure"
    },
    "DirectoryServiceAuthenticationFailedException": {
      "documentation": "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DirectoryUnavailableException": {
      "documentation": "<p>The directory on which you are trying to perform operations isn't available.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DisassociateDelegateFromResourceRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier for the member (user, group) to be removed from the resource's delegates.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the resource exists.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the resource from which delegates' set members are removed. </p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId",
        "EntityId"
      ],
      "type": "structure"
    },
    "DisassociateDelegateFromResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "DisassociateMemberFromGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for the group from which members are removed.</p>",
          "shape": "WorkMailIdentifier"
        },
        "MemberId": {
          "documentation": "<p>The identifier for the member to be removed to the group.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the group exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId",
        "MemberId"
      ],
      "type": "structure"
    },
    "DisassociateMemberFromGroupResponse": {
      "members": {},
      "type": "structure"
    },
    "EmailAddress": {
      "max": 254,
      "min": 1,
      "pattern": "[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}",
      "type": "string"
    },
    "EmailAddressInUseException": {
      "documentation": "<p>The email address that you're trying to assign is already created for a different user, group, or resource.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EntityAlreadyRegisteredException": {
      "documentation": "<p>The user, group, or resource that you're trying to register is already registered.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EntityNotFoundException": {
      "documentation": "<p>The identifier supplied for the user, group, or resource does not exist in your organization.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EntityState": {
      "enum": [
        "ENABLED",
        "DISABLED",
        "DELETED"
      ],
      "type": "string"
    },
    "EntityStateException": {
      "documentation": "<p>You are performing an operation on a user, group, or resource that isn't in the expected state, such as trying to delete an active user.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetAccessControlEffectRequest": {
      "members": {
        "Action": {
          "documentation": "<p>The access protocol action. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "AccessControlRuleAction"
        },
        "IpAddress": {
          "documentation": "<p>The IPv4 address.</p>",
          "shape": "IpAddress"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The user ID.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "IpAddress",
        "Action",
        "UserId"
      ],
      "type": "structure"
    },
    "GetAccessControlEffectResponse": {
      "members": {
        "Effect": {
          "documentation": "<p>The rule effect.</p>",
          "shape": "AccessControlRuleEffect"
        },
        "MatchedRules": {
          "documentation": "<p>The rules that match the given parameters, resulting in an effect.</p>",
          "shape": "AccessControlRuleNameList"
        }
      },
      "type": "structure"
    },
    "GetMailboxDetailsRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization that contains the user whose mailbox details are being requested.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The identifier for the user whose mailbox details are being requested.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId"
      ],
      "type": "structure"
    },
    "GetMailboxDetailsResponse": {
      "members": {
        "MailboxQuota": {
          "documentation": "<p>The maximum allowed mailbox size, in MB, for the specified user.</p>",
          "shape": "MailboxQuota"
        },
        "MailboxSize": {
          "documentation": "<p>The current mailbox size, in MB, for the specified user.</p>",
          "shape": "MailboxSize"
        }
      },
      "type": "structure"
    },
    "Group": {
      "documentation": "<p>The representation of an Amazon WorkMail group.</p>",
      "members": {
        "DisabledDate": {
          "documentation": "<p>The date indicating when the group was disabled from Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "Email": {
          "documentation": "<p>The email of the group.</p>",
          "shape": "EmailAddress"
        },
        "EnabledDate": {
          "documentation": "<p>The date indicating when the group was enabled for Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The identifier of the group.</p>",
          "shape": "WorkMailIdentifier"
        },
        "Name": {
          "documentation": "<p>The name of the group.</p>",
          "shape": "GroupName"
        },
        "State": {
          "documentation": "<p>The state of the group, which can be ENABLED, DISABLED, or DELETED.</p>",
          "shape": "EntityState"
        }
      },
      "type": "structure"
    },
    "GroupName": {
      "max": 256,
      "min": 1,
      "pattern": "[\\u0020-\\u00FF]+",
      "type": "string"
    },
    "Groups": {
      "member": {
        "shape": "Group"
      },
      "type": "list"
    },
    "InvalidConfigurationException": {
      "documentation": "<p>The configuration for a resource isn't valid. A resource must either be able to auto-respond to requests or have at least one delegate associated that can do so on its behalf.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>One or more of the input parameters don't match the service's restrictions.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidPasswordException": {
      "documentation": "<p>The supplied password doesn't match the minimum security constraints, such as length or use of special characters.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "IpAddress": {
      "max": 15,
      "min": 1,
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$",
      "type": "string"
    },
    "IpRange": {
      "max": 18,
      "min": 1,
      "pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2])$",
      "type": "string"
    },
    "IpRangeList": {
      "max": 10,
      "member": {
        "shape": "IpRange"
      },
      "min": 0,
      "type": "list"
    },
    "LimitExceededException": {
      "documentation": "<p>The request exceeds the limit of the resource.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListAccessControlRulesRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId"
      ],
      "type": "structure"
    },
    "ListAccessControlRulesResponse": {
      "members": {
        "Rules": {
          "documentation": "<p>The access control rules.</p>",
          "shape": "AccessControlRulesList"
        }
      },
      "type": "structure"
    },
    "ListAliasesRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier for the entity for which to list the aliases.</p>",
          "shape": "WorkMailIdentifier"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the entity exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId"
      ],
      "type": "structure"
    },
    "ListAliasesResponse": {
      "members": {
        "Aliases": {
          "documentation": "<p>The entity's paginated aliases.</p>",
          "shape": "Aliases"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListGroupMembersRequest": {
      "members": {
        "GroupId": {
          "documentation": "<p>The identifier for the group to which the members (users or groups) are associated.</p>",
          "shape": "WorkMailIdentifier"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p> The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the group exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "GroupId"
      ],
      "type": "structure"
    },
    "ListGroupMembersResponse": {
      "members": {
        "Members": {
          "documentation": "<p>The members associated to the group.</p>",
          "shape": "Members"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListGroupsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the groups exist.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId"
      ],
      "type": "structure"
    },
    "ListGroupsResponse": {
      "members": {
        "Groups": {
          "documentation": "<p>The overview of groups for an organization.</p>",
          "shape": "Groups"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there are no more results to return.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListMailboxPermissionsRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier of the user, group, or resource for which to list mailbox permissions.</p>",
          "shape": "WorkMailIdentifier"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization under which the user, group, or resource exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId"
      ],
      "type": "structure"
    },
    "ListMailboxPermissionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "Permissions": {
          "documentation": "<p>One page of the user, group, or resource mailbox permissions.</p>",
          "shape": "Permissions"
        }
      },
      "type": "structure"
    },
    "ListOrganizationsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListOrganizationsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "OrganizationSummaries": {
          "documentation": "<p>The overview of owned organizations presented as a list of organization summaries.</p>",
          "shape": "OrganizationSummaries"
        }
      },
      "type": "structure"
    },
    "ListResourceDelegatesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The number of maximum results in a page.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token used to paginate through the delegates associated with a resource.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization that contains the resource for which delegates are listed.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier for the resource whose delegates are listed.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "ListResourceDelegatesResponse": {
      "members": {
        "Delegates": {
          "documentation": "<p>One page of the resource's delegates.</p>",
          "shape": "ResourceDelegates"
        },
        "NextToken": {
          "documentation": "<p>The token used to paginate through the delegates associated with a resource. While results are still available, it has an associated value. When the last page is reached, the token is empty. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListResourcesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the resources exist.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId"
      ],
      "type": "structure"
    },
    "ListResourcesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p> The token used to paginate through all the organization's resources. While results are still available, it has an associated value. When the last page is reached, the token is empty.</p>",
          "shape": "NextToken"
        },
        "Resources": {
          "documentation": "<p>One page of the organization's resource representation.</p>",
          "shape": "Resources"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>A list of tag key-value pairs.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListUsersRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of results to return in a single call.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. The first call does not contain any tokens.</p>",
          "shape": "NextToken"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the users exist.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId"
      ],
      "type": "structure"
    },
    "ListUsersResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p> The token to use to retrieve the next page of results. This value is `null` when there are no more results to return.</p>",
          "shape": "NextToken"
        },
        "Users": {
          "documentation": "<p>The overview of users for an organization.</p>",
          "shape": "Users"
        }
      },
      "type": "structure"
    },
    "MailDomainNotFoundException": {
      "documentation": "<p>For an email or alias to be created in Amazon WorkMail, the included domain must be defined in the organization.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "MailDomainStateException": {
      "documentation": "<p>After a domain has been added to the organization, it must be verified. The domain is not yet verified.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "MailboxQuota": {
      "box": true,
      "min": 1,
      "type": "integer"
    },
    "MailboxSize": {
      "min": 0,
      "type": "double"
    },
    "MaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Member": {
      "documentation": "<p>The representation of a user or group.</p>",
      "members": {
        "DisabledDate": {
          "documentation": "<p>The date indicating when the member was disabled from Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "EnabledDate": {
          "documentation": "<p>The date indicating when the member was enabled for Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The identifier of the member.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the member.</p>",
          "shape": "String"
        },
        "State": {
          "documentation": "<p>The state of the member, which can be ENABLED, DISABLED, or DELETED.</p>",
          "shape": "EntityState"
        },
        "Type": {
          "documentation": "<p>A member can be a user or group.</p>",
          "shape": "MemberType"
        }
      },
      "type": "structure"
    },
    "MemberType": {
      "enum": [
        "GROUP",
        "USER"
      ],
      "type": "string"
    },
    "Members": {
      "member": {
        "shape": "Member"
      },
      "type": "list"
    },
    "NameAvailabilityException": {
      "documentation": "<p>The user, group, or resource name isn't unique in Amazon WorkMail.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "OrganizationId": {
      "pattern": "^m-[0-9a-f]{32}$",
      "type": "string"
    },
    "OrganizationName": {
      "max": 62,
      "min": 1,
      "pattern": "^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*",
      "type": "string"
    },
    "OrganizationNotFoundException": {
      "documentation": "<p>An operation received a valid organization identifier that either doesn't belong or exist in the system.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "OrganizationStateException": {
      "documentation": "<p>The organization must have a valid state (Active or Synchronizing) to perform certain operations on the organization or its members.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "OrganizationSummaries": {
      "member": {
        "shape": "OrganizationSummary"
      },
      "type": "list"
    },
    "OrganizationSummary": {
      "documentation": "<p>The representation of an organization.</p>",
      "members": {
        "Alias": {
          "documentation": "<p>The alias associated with the organization.</p>",
          "shape": "OrganizationName"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message associated with the organization. It is only present if unexpected behavior has occurred with regards to the organization. It provides insight or solutions regarding unexpected behavior.</p>",
          "shape": "String"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization.</p>",
          "shape": "OrganizationId"
        },
        "State": {
          "documentation": "<p>The state associated with the organization.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Password": {
      "max": 256,
      "pattern": "[\\u0020-\\u00FF]+",
      "sensitive": true,
      "type": "string"
    },
    "Permission": {
      "documentation": "<p>Permission granted to a user, group, or resource to access a certain aspect of another user, group, or resource mailbox.</p>",
      "members": {
        "GranteeId": {
          "documentation": "<p>The identifier of the user, group, or resource to which the permissions are granted.</p>",
          "shape": "WorkMailIdentifier"
        },
        "GranteeType": {
          "documentation": "<p>The type of user, group, or resource referred to in GranteeId.</p>",
          "shape": "MemberType"
        },
        "PermissionValues": {
          "documentation": "<p>The permissions granted to the grantee. SEND_AS allows the grantee to send email as the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF allows the grantee to send email on behalf of the owner of the mailbox (the grantee is not mentioned as the physical sender of these emails). FULL_ACCESS allows the grantee full access to the mailbox, irrespective of other folder-level permissions set on the mailbox.</p>",
          "shape": "PermissionValues"
        }
      },
      "required": [
        "GranteeId",
        "GranteeType",
        "PermissionValues"
      ],
      "type": "structure"
    },
    "PermissionType": {
      "enum": [
        "FULL_ACCESS",
        "SEND_AS",
        "SEND_ON_BEHALF"
      ],
      "type": "string"
    },
    "PermissionValues": {
      "member": {
        "shape": "PermissionType"
      },
      "type": "list"
    },
    "Permissions": {
      "member": {
        "shape": "Permission"
      },
      "type": "list"
    },
    "PutAccessControlRuleRequest": {
      "members": {
        "Actions": {
          "documentation": "<p>Access protocol actions to include in the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "ActionsList"
        },
        "Description": {
          "documentation": "<p>The rule description.</p>",
          "shape": "AccessControlRuleDescription"
        },
        "Effect": {
          "documentation": "<p>The rule effect.</p>",
          "shape": "AccessControlRuleEffect"
        },
        "IpRanges": {
          "documentation": "<p>IPv4 CIDR ranges to include in the rule.</p>",
          "shape": "IpRangeList"
        },
        "Name": {
          "documentation": "<p>The rule name.</p>",
          "shape": "AccessControlRuleName"
        },
        "NotActions": {
          "documentation": "<p>Access protocol actions to exclude from the rule. Valid values include <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
          "shape": "ActionsList"
        },
        "NotIpRanges": {
          "documentation": "<p>IPv4 CIDR ranges to exclude from the rule.</p>",
          "shape": "IpRangeList"
        },
        "NotUserIds": {
          "documentation": "<p>User IDs to exclude from the rule.</p>",
          "shape": "UserIdList"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization.</p>",
          "shape": "OrganizationId"
        },
        "UserIds": {
          "documentation": "<p>User IDs to include in the rule.</p>",
          "shape": "UserIdList"
        }
      },
      "required": [
        "Name",
        "Effect",
        "Description",
        "OrganizationId"
      ],
      "type": "structure"
    },
    "PutAccessControlRuleResponse": {
      "members": {},
      "type": "structure"
    },
    "PutMailboxPermissionsRequest": {
      "members": {
        "EntityId": {
          "documentation": "<p>The identifier of the user, group, or resource for which to update mailbox permissions.</p>",
          "shape": "WorkMailIdentifier"
        },
        "GranteeId": {
          "documentation": "<p>The identifier of the user, group, or resource to which to grant the permissions.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization under which the user, group, or resource exists.</p>",
          "shape": "OrganizationId"
        },
        "PermissionValues": {
          "documentation": "<p>The permissions granted to the grantee. SEND_AS allows the grantee to send email as the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF allows the grantee to send email on behalf of the owner of the mailbox (the grantee is not mentioned as the physical sender of these emails). FULL_ACCESS allows the grantee full access to the mailbox, irrespective of other folder-level permissions set on the mailbox.</p>",
          "shape": "PermissionValues"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "GranteeId",
        "PermissionValues"
      ],
      "type": "structure"
    },
    "PutMailboxPermissionsResponse": {
      "members": {},
      "type": "structure"
    },
    "RegisterToWorkMailRequest": {
      "members": {
        "Email": {
          "documentation": "<p>The email for the user, group, or resource to be updated.</p>",
          "shape": "EmailAddress"
        },
        "EntityId": {
          "documentation": "<p>The identifier for the user, group, or resource to be updated.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization under which the user, group, or resource exists.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "Email"
      ],
      "type": "structure"
    },
    "RegisterToWorkMailResponse": {
      "members": {},
      "type": "structure"
    },
    "ReservedNameException": {
      "documentation": "<p>This user, group, or resource name is not allowed in Amazon WorkMail.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResetPasswordRequest": {
      "members": {
        "OrganizationId": {
          "documentation": "<p>The identifier of the organization that contains the user for which the password is reset.</p>",
          "shape": "OrganizationId"
        },
        "Password": {
          "documentation": "<p>The new password for the user.</p>",
          "shape": "Password"
        },
        "UserId": {
          "documentation": "<p>The identifier of the user for whom the password is reset.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId",
        "Password"
      ],
      "type": "structure"
    },
    "ResetPasswordResponse": {
      "members": {},
      "type": "structure"
    },
    "Resource": {
      "documentation": "<p>The representation of a resource.</p>",
      "members": {
        "DisabledDate": {
          "documentation": "<p>The date indicating when the resource was disabled from Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "Email": {
          "documentation": "<p>The email of the resource.</p>",
          "shape": "EmailAddress"
        },
        "EnabledDate": {
          "documentation": "<p>The date indicating when the resource was enabled for Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The identifier of the resource.</p>",
          "shape": "WorkMailIdentifier"
        },
        "Name": {
          "documentation": "<p>The name of the resource.</p>",
          "shape": "ResourceName"
        },
        "State": {
          "documentation": "<p>The state of the resource, which can be ENABLED, DISABLED, or DELETED.</p>",
          "shape": "EntityState"
        },
        "Type": {
          "documentation": "<p>The type of the resource: equipment or room.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ResourceDelegates": {
      "member": {
        "shape": "Delegate"
      },
      "type": "list"
    },
    "ResourceId": {
      "pattern": "^r-[0-9a-f]{32}$",
      "type": "string"
    },
    "ResourceName": {
      "max": 20,
      "min": 1,
      "pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource cannot be found.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "ROOM",
        "EQUIPMENT"
      ],
      "type": "string"
    },
    "Resources": {
      "member": {
        "shape": "Resource"
      },
      "type": "list"
    },
    "String": {
      "max": 256,
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>Describes a tag applied to a resource.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key of the tag.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value of the tag.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "max": 50,
      "member": {
        "shape": "TagKey"
      },
      "min": 0,
      "type": "list"
    },
    "TagList": {
      "max": 50,
      "member": {
        "shape": "Tag"
      },
      "min": 0,
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "AmazonResourceName"
        },
        "Tags": {
          "documentation": "<p>The tag key-value pairs.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceARN",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TooManyTagsException": {
      "documentation": "<p>The resource can have up to 50 user-applied tags.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UnsupportedOperationException": {
      "documentation": "<p>You can't perform a write operation against a read-only directory.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The resource ARN.</p>",
          "shape": "AmazonResourceName"
        },
        "TagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceARN",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateMailboxQuotaRequest": {
      "members": {
        "MailboxQuota": {
          "documentation": "<p>The updated mailbox quota, in MB, for the specified user.</p>",
          "shape": "MailboxQuota"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier for the organization that contains the user for whom to update the mailbox quota.</p>",
          "shape": "OrganizationId"
        },
        "UserId": {
          "documentation": "<p>The identifer for the user for whom to update the mailbox quota.</p>",
          "shape": "WorkMailIdentifier"
        }
      },
      "required": [
        "OrganizationId",
        "UserId",
        "MailboxQuota"
      ],
      "type": "structure"
    },
    "UpdateMailboxQuotaResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdatePrimaryEmailAddressRequest": {
      "members": {
        "Email": {
          "documentation": "<p>The value of the email to be updated as primary.</p>",
          "shape": "EmailAddress"
        },
        "EntityId": {
          "documentation": "<p>The user, group, or resource to update.</p>",
          "shape": "WorkMailIdentifier"
        },
        "OrganizationId": {
          "documentation": "<p>The organization that contains the user, group, or resource to update.</p>",
          "shape": "OrganizationId"
        }
      },
      "required": [
        "OrganizationId",
        "EntityId",
        "Email"
      ],
      "type": "structure"
    },
    "UpdatePrimaryEmailAddressResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateResourceRequest": {
      "members": {
        "BookingOptions": {
          "documentation": "<p>The resource's booking options to be updated.</p>",
          "shape": "BookingOptions"
        },
        "Name": {
          "documentation": "<p>The name of the resource to be updated.</p>",
          "shape": "ResourceName"
        },
        "OrganizationId": {
          "documentation": "<p>The identifier associated with the organization for which the resource is updated.</p>",
          "shape": "OrganizationId"
        },
        "ResourceId": {
          "documentation": "<p>The identifier of the resource to be updated.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "OrganizationId",
        "ResourceId"
      ],
      "type": "structure"
    },
    "UpdateResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "User": {
      "documentation": "<p>The representation of an Amazon WorkMail user.</p>",
      "members": {
        "DisabledDate": {
          "documentation": "<p>The date indicating when the user was disabled from Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "DisplayName": {
          "documentation": "<p>The display name of the user.</p>",
          "shape": "String"
        },
        "Email": {
          "documentation": "<p>The email of the user.</p>",
          "shape": "EmailAddress"
        },
        "EnabledDate": {
          "documentation": "<p>The date indicating when the user was enabled for Amazon WorkMail use.</p>",
          "shape": "Timestamp"
        },
        "Id": {
          "documentation": "<p>The identifier of the user.</p>",
          "shape": "WorkMailIdentifier"
        },
        "Name": {
          "documentation": "<p>The name of the user.</p>",
          "shape": "UserName"
        },
        "State": {
          "documentation": "<p>The state of the user, which can be ENABLED, DISABLED, or DELETED.</p>",
          "shape": "EntityState"
        },
        "UserRole": {
          "documentation": "<p>The role of the user.</p>",
          "shape": "UserRole"
        }
      },
      "type": "structure"
    },
    "UserIdList": {
      "max": 10,
      "member": {
        "shape": "WorkMailIdentifier"
      },
      "min": 0,
      "type": "list"
    },
    "UserName": {
      "max": 64,
      "min": 1,
      "pattern": "[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?",
      "type": "string"
    },
    "UserRole": {
      "enum": [
        "USER",
        "RESOURCE",
        "SYSTEM_USER"
      ],
      "type": "string"
    },
    "Users": {
      "member": {
        "shape": "User"
      },
      "type": "list"
    },
    "WorkMailIdentifier": {
      "max": 256,
      "min": 12,
      "type": "string"
    }
  },
  "version": "2.0"
}
