{
  "documentation": "<fullname>AWS Shield Advanced</fullname> <p>This is the <i>AWS Shield Advanced API Reference</i>. This guide is for developers who need detailed information about the AWS Shield Advanced API actions, data types, and errors. For detailed information about AWS WAF and AWS Shield Advanced features and an overview of how to use the AWS WAF and AWS Shield Advanced APIs, see the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2016-06-02",
    "endpointPrefix": "shield",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Shield",
    "serviceFullName": "AWS Shield",
    "serviceId": "Shield",
    "signatureVersion": "v4",
    "targetPrefix": "AWSShield_20160616",
    "uid": "shield-2016-06-02"
  },
  "operations": {
    "AssociateDRTLogBucket": {
      "documentation": "<p>Authorizes the DDoS Response team (DRT) to access the specified Amazon S3 bucket containing your AWS WAF logs. You can associate up to 10 Amazon S3 buckets with your subscription.</p> <p>To use the services of the DRT and make an <code>AssociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "NoAssociatedRoleException"
        },
        {
          "shape": "LimitsExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AccessDeniedForDependencyException"
        },
        {
          "shape": "OptimisticLockException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateDRTLogBucketRequest"
      },
      "name": "AssociateDRTLogBucket",
      "output": {
        "shape": "AssociateDRTLogBucketResponse"
      }
    },
    "AssociateDRTRole": {
      "documentation": "<p>Authorizes the DDoS Response team (DRT), using the specified role, to access your AWS account to assist with DDoS attack mitigation during potential attacks. This enables the DRT to inspect your AWS WAF configuration and create or update AWS WAF rules and web ACLs.</p> <p>You can associate only one <code>RoleArn</code> with your subscription. If you submit an <code>AssociateDRTRole</code> request for an account that already has an associated role, the new <code>RoleArn</code> will replace the existing <code>RoleArn</code>. </p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to the role you will specify in the request. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>. The role must also trust the service principal <code> drt.shield.amazonaws.com</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_elements_principal.html\">IAM JSON Policy Elements: Principal</a>.</p> <p>The DRT will have access only to your AWS WAF and Shield resources. By submitting this request, you authorize the DRT to inspect your AWS WAF and Shield configuration and create and update AWS WAF rules and web ACLs on your behalf. The DRT takes these actions only if explicitly authorized by you.</p> <p>You must have the <code>iam:PassRole</code> permission to make an <code>AssociateDRTRole</code> request. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p> <p>To use the services of the DRT and make an <code>AssociateDRTRole</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AccessDeniedForDependencyException"
        },
        {
          "shape": "OptimisticLockException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateDRTRoleRequest"
      },
      "name": "AssociateDRTRole",
      "output": {
        "shape": "AssociateDRTRoleResponse"
      }
    },
    "AssociateHealthCheck": {
      "documentation": "<p>Adds health-based detection to the Shield Advanced protection for a resource. Shield Advanced health-based detection uses the health of your AWS resource to improve responsiveness and accuracy in attack detection and mitigation. </p> <p>You define the health check in Route 53 and then associate it with your Shield Advanced protection. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-overview.html#ddos-advanced-health-check-option\">Shield Advanced Health-Based Detection</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "LimitsExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OptimisticLockException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateHealthCheckRequest"
      },
      "name": "AssociateHealthCheck",
      "output": {
        "shape": "AssociateHealthCheckResponse"
      }
    },
    "CreateProtection": {
      "documentation": "<p>Enables AWS Shield Advanced for a specific AWS resource. The resource can be an Amazon CloudFront distribution, Elastic Load Balancing load balancer, AWS Global Accelerator accelerator, Elastic IP Address, or an Amazon Route 53 hosted zone.</p> <p>You can add protection to only a single resource with each CreateProtection request. If you want to add protection to multiple resources at once, use the <a href=\"https://console.aws.amazon.com/waf/\">AWS WAF console</a>. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/getting-started-ddos.html\">Getting Started with AWS Shield Advanced</a> and <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/configure-new-protection.html\">Add AWS Shield Advanced Protection to more AWS Resources</a>.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidResourceException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "LimitsExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "OptimisticLockException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProtectionRequest"
      },
      "name": "CreateProtection",
      "output": {
        "shape": "CreateProtectionResponse"
      }
    },
    "CreateSubscription": {
      "documentation": "<p>Activates AWS Shield Advanced for an account.</p> <p>As part of this request you can specify <code>EmergencySettings</code> that automaticaly grant the DDoS response team (DRT) needed permissions to assist you during a suspected DDoS attack. For more information see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/authorize-DRT.html\">Authorize the DDoS Response Team to Create Rules and Web ACLs on Your Behalf</a>.</p> <p>To use the services of the DRT, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>.</p> <p>When you initally create a subscription, your subscription is set to be automatically renewed at the end of the existing subscription period. You can change this by submitting an <code>UpdateSubscription</code> request. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSubscriptionRequest"
      },
      "name": "CreateSubscription",
      "output": {
        "shape": "CreateSubscriptionResponse"
      }
    },
    "DeleteProtection": {
      "documentation": "<p>Deletes an AWS Shield Advanced <a>Protection</a>.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OptimisticLockException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProtectionRequest"
      },
      "name": "DeleteProtection",
      "output": {
        "shape": "DeleteProtectionResponse"
      }
    },
    "DeleteSubscription": {
      "deprecated": true,
      "documentation": "<p>Removes AWS Shield Advanced from an account. AWS Shield Advanced requires a 1-year subscription commitment. You cannot delete a subscription prior to the completion of that commitment. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "LockedSubscriptionException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSubscriptionRequest"
      },
      "name": "DeleteSubscription",
      "output": {
        "shape": "DeleteSubscriptionResponse"
      }
    },
    "DescribeAttack": {
      "documentation": "<p>Describes the details of a DDoS attack. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAttackRequest"
      },
      "name": "DescribeAttack",
      "output": {
        "shape": "DescribeAttackResponse"
      }
    },
    "DescribeDRTAccess": {
      "documentation": "<p>Returns the current role and list of Amazon S3 log buckets used by the DDoS Response team (DRT) to access your AWS account while assisting with attack mitigation.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDRTAccessRequest"
      },
      "name": "DescribeDRTAccess",
      "output": {
        "shape": "DescribeDRTAccessResponse"
      }
    },
    "DescribeEmergencyContactSettings": {
      "documentation": "<p>Lists the email addresses that the DRT can use to contact you during a suspected attack.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEmergencyContactSettingsRequest"
      },
      "name": "DescribeEmergencyContactSettings",
      "output": {
        "shape": "DescribeEmergencyContactSettingsResponse"
      }
    },
    "DescribeProtection": {
      "documentation": "<p>Lists the details of a <a>Protection</a> object.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProtectionRequest"
      },
      "name": "DescribeProtection",
      "output": {
        "shape": "DescribeProtectionResponse"
      }
    },
    "DescribeSubscription": {
      "documentation": "<p>Provides details about the AWS Shield Advanced subscription for an account.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSubscriptionRequest"
      },
      "name": "DescribeSubscription",
      "output": {
        "shape": "DescribeSubscriptionResponse"
      }
    },
    "DisassociateDRTLogBucket": {
      "documentation": "<p>Removes the DDoS Response team's (DRT) access to the specified Amazon S3 bucket containing your AWS WAF logs.</p> <p>To make a <code>DisassociateDRTLogBucket</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>. However, if you are not subscribed to one of these support plans, but had been previously and had granted the DRT access to your account, you can submit a <code>DisassociateDRTLogBucket</code> request to remove this access.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "NoAssociatedRoleException"
        },
        {
          "shape": "AccessDeniedForDependencyException"
        },
        {
          "shape": "OptimisticLockException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateDRTLogBucketRequest"
      },
      "name": "DisassociateDRTLogBucket",
      "output": {
        "shape": "DisassociateDRTLogBucketResponse"
      }
    },
    "DisassociateDRTRole": {
      "documentation": "<p>Removes the DDoS Response team's (DRT) access to your AWS account.</p> <p>To make a <code>DisassociateDRTRole</code> request, you must be subscribed to the <a href=\"https://aws.amazon.com/premiumsupport/business-support/\">Business Support plan</a> or the <a href=\"https://aws.amazon.com/premiumsupport/enterprise-support/\">Enterprise Support plan</a>. However, if you are not subscribed to one of these support plans, but had been previously and had granted the DRT access to your account, you can submit a <code>DisassociateDRTRole</code> request to remove this access.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "OptimisticLockException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateDRTRoleRequest"
      },
      "name": "DisassociateDRTRole",
      "output": {
        "shape": "DisassociateDRTRoleResponse"
      }
    },
    "DisassociateHealthCheck": {
      "documentation": "<p>Removes health-based detection from the Shield Advanced protection for a resource. Shield Advanced health-based detection uses the health of your AWS resource to improve responsiveness and accuracy in attack detection and mitigation. </p> <p>You define the health check in Route 53 and then associate or disassociate it with your Shield Advanced protection. For more information, see <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/ddos-overview.html#ddos-advanced-health-check-option\">Shield Advanced Health-Based Detection</a> in the <a href=\"https://docs.aws.amazon.com/waf/latest/developerguide/\">AWS WAF and AWS Shield Developer Guide</a>. </p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OptimisticLockException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateHealthCheckRequest"
      },
      "name": "DisassociateHealthCheck",
      "output": {
        "shape": "DisassociateHealthCheckResponse"
      }
    },
    "GetSubscriptionState": {
      "documentation": "<p>Returns the <code>SubscriptionState</code>, either <code>Active</code> or <code>Inactive</code>.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSubscriptionStateRequest"
      },
      "name": "GetSubscriptionState",
      "output": {
        "shape": "GetSubscriptionStateResponse"
      }
    },
    "ListAttacks": {
      "documentation": "<p>Returns all ongoing DDoS attacks or all DDoS attacks during a specified time period.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAttacksRequest"
      },
      "name": "ListAttacks",
      "output": {
        "shape": "ListAttacksResponse"
      }
    },
    "ListProtections": {
      "documentation": "<p>Lists all <a>Protection</a> objects for the account.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProtectionsRequest"
      },
      "name": "ListProtections",
      "output": {
        "shape": "ListProtectionsResponse"
      }
    },
    "UpdateEmergencyContactSettings": {
      "documentation": "<p>Updates the details of the list of email addresses that the DRT can use to contact you during a suspected attack.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OptimisticLockException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateEmergencyContactSettingsRequest"
      },
      "name": "UpdateEmergencyContactSettings",
      "output": {
        "shape": "UpdateEmergencyContactSettingsResponse"
      }
    },
    "UpdateSubscription": {
      "documentation": "<p>Updates the details of an existing subscription. Only enter values for parameters you want to change. Empty parameters are not updated.</p>",
      "errors": [
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "LockedSubscriptionException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "OptimisticLockException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateSubscriptionRequest"
      },
      "name": "UpdateSubscription",
      "output": {
        "shape": "UpdateSubscriptionResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>Exception that indicates the specified <code>AttackId</code> does not exist, or the requester does not have the appropriate permissions to access the <code>AttackId</code>.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "AccessDeniedForDependencyException": {
      "documentation": "<p>In order to grant the necessary access to the DDoS Response Team, the user submitting the request must have the <code>iam:PassRole</code> permission. This error indicates the user did not have the appropriate permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_passrole.html\">Granting a User Permissions to Pass a Role to an AWS Service</a>. </p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "AssociateDRTLogBucketRequest": {
      "members": {
        "LogBucket": {
          "documentation": "<p>The Amazon S3 bucket that contains your AWS WAF logs.</p>",
          "shape": "LogBucket"
        }
      },
      "required": [
        "LogBucket"
      ],
      "type": "structure"
    },
    "AssociateDRTLogBucketResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateDRTRoleRequest": {
      "members": {
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role the DRT will use to access your AWS account.</p> <p>Prior to making the <code>AssociateDRTRole</code> request, you must attach the <a href=\"https://console.aws.amazon.com/iam/home?#/policies/arn:aws:iam::aws:policy/service-role/AWSShieldDRTAccessPolicy\">AWSShieldDRTAccessPolicy</a> managed policy to this role. For more information see <a href=\" https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_manage-attach-detach.html\">Attaching and Detaching IAM Policies</a>.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "RoleArn"
      ],
      "type": "structure"
    },
    "AssociateDRTRoleResponse": {
      "members": {},
      "type": "structure"
    },
    "AssociateHealthCheckRequest": {
      "members": {
        "HealthCheckArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the health check to associate with the protection.</p>",
          "shape": "HealthCheckArn"
        },
        "ProtectionId": {
          "documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to add the health check association to. </p>",
          "shape": "ProtectionId"
        }
      },
      "required": [
        "ProtectionId",
        "HealthCheckArn"
      ],
      "type": "structure"
    },
    "AssociateHealthCheckResponse": {
      "members": {},
      "type": "structure"
    },
    "AttackDetail": {
      "documentation": "<p>The details of a DDoS attack.</p>",
      "members": {
        "AttackCounters": {
          "documentation": "<p>List of counters that describe the attack for the specified time period.</p>",
          "shape": "SummarizedCounterList"
        },
        "AttackId": {
          "documentation": "<p>The unique identifier (ID) of the attack.</p>",
          "shape": "AttackId"
        },
        "AttackProperties": {
          "documentation": "<p>The array of <a>AttackProperty</a> objects.</p>",
          "shape": "AttackProperties"
        },
        "EndTime": {
          "documentation": "<p>The time the attack ended, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "AttackTimestamp"
        },
        "Mitigations": {
          "documentation": "<p>List of mitigation actions taken for the attack.</p>",
          "shape": "MitigationList"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "shape": "ResourceArn"
        },
        "StartTime": {
          "documentation": "<p>The time the attack started, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "AttackTimestamp"
        },
        "SubResources": {
          "documentation": "<p>If applicable, additional detail about the resource being attacked, for example, IP address or URL.</p>",
          "shape": "SubResourceSummaryList"
        }
      },
      "type": "structure"
    },
    "AttackId": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9\\\\-]*",
      "type": "string"
    },
    "AttackLayer": {
      "enum": [
        "NETWORK",
        "APPLICATION"
      ],
      "type": "string"
    },
    "AttackProperties": {
      "member": {
        "shape": "AttackProperty"
      },
      "type": "list"
    },
    "AttackProperty": {
      "documentation": "<p>Details of the described attack.</p>",
      "members": {
        "AttackLayer": {
          "documentation": "<p>The type of distributed denial of service (DDoS) event that was observed. <code>NETWORK</code> indicates layer 3 and layer 4 events and <code>APPLICATION</code> indicates layer 7 events.</p>",
          "shape": "AttackLayer"
        },
        "AttackPropertyIdentifier": {
          "documentation": "<p>Defines the DDoS attack property information that is provided. The <code>WORDPRESS_PINGBACK_REFLECTOR</code> and <code>WORDPRESS_PINGBACK_SOURCE</code> values are valid only for WordPress reflective pingback DDoS attacks.</p>",
          "shape": "AttackPropertyIdentifier"
        },
        "TopContributors": {
          "documentation": "<p>The array of <a>Contributor</a> objects that includes the top five contributors to an attack. </p>",
          "shape": "TopContributors"
        },
        "Total": {
          "documentation": "<p>The total contributions made to this attack by all contributors, not just the five listed in the <code>TopContributors</code> list.</p>",
          "shape": "Long"
        },
        "Unit": {
          "documentation": "<p>The unit of the <code>Value</code> of the contributions.</p>",
          "shape": "Unit"
        }
      },
      "type": "structure"
    },
    "AttackPropertyIdentifier": {
      "enum": [
        "DESTINATION_URL",
        "REFERRER",
        "SOURCE_ASN",
        "SOURCE_COUNTRY",
        "SOURCE_IP_ADDRESS",
        "SOURCE_USER_AGENT",
        "WORDPRESS_PINGBACK_REFLECTOR",
        "WORDPRESS_PINGBACK_SOURCE"
      ],
      "type": "string"
    },
    "AttackSummaries": {
      "member": {
        "shape": "AttackSummary"
      },
      "type": "list"
    },
    "AttackSummary": {
      "documentation": "<p>Summarizes all DDoS attacks for a specified time period.</p>",
      "members": {
        "AttackId": {
          "documentation": "<p>The unique identifier (ID) of the attack.</p>",
          "shape": "String"
        },
        "AttackVectors": {
          "documentation": "<p>The list of attacks for a specified time period.</p>",
          "shape": "AttackVectorDescriptionList"
        },
        "EndTime": {
          "documentation": "<p>The end time of the attack, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "AttackTimestamp"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked.</p>",
          "shape": "String"
        },
        "StartTime": {
          "documentation": "<p>The start time of the attack, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "AttackTimestamp"
        }
      },
      "type": "structure"
    },
    "AttackTimestamp": {
      "type": "timestamp"
    },
    "AttackVectorDescription": {
      "documentation": "<p>Describes the attack.</p>",
      "members": {
        "VectorType": {
          "documentation": "<p>The attack type. Valid values:</p> <ul> <li> <p>UDP_TRAFFIC</p> </li> <li> <p>UDP_FRAGMENT</p> </li> <li> <p>GENERIC_UDP_REFLECTION</p> </li> <li> <p>DNS_REFLECTION</p> </li> <li> <p>NTP_REFLECTION</p> </li> <li> <p>CHARGEN_REFLECTION</p> </li> <li> <p>SSDP_REFLECTION</p> </li> <li> <p>PORT_MAPPER</p> </li> <li> <p>RIP_REFLECTION</p> </li> <li> <p>SNMP_REFLECTION</p> </li> <li> <p>MSSQL_REFLECTION</p> </li> <li> <p>NET_BIOS_REFLECTION</p> </li> <li> <p>SYN_FLOOD</p> </li> <li> <p>ACK_FLOOD</p> </li> <li> <p>REQUEST_FLOOD</p> </li> <li> <p>HTTP_REFLECTION</p> </li> <li> <p>UDS_REFLECTION</p> </li> <li> <p>MEMCACHED_REFLECTION</p> </li> </ul>",
          "shape": "String"
        }
      },
      "required": [
        "VectorType"
      ],
      "type": "structure"
    },
    "AttackVectorDescriptionList": {
      "member": {
        "shape": "AttackVectorDescription"
      },
      "type": "list"
    },
    "AutoRenew": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "Contributor": {
      "documentation": "<p>A contributor to the attack and their contribution.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the contributor. This is dependent on the <code>AttackPropertyIdentifier</code>. For example, if the <code>AttackPropertyIdentifier</code> is <code>SOURCE_COUNTRY</code>, the <code>Name</code> could be <code>United States</code>.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>The contribution of this contributor expressed in <a>Protection</a> units. For example <code>10,000</code>.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "CreateProtectionRequest": {
      "members": {
        "Name": {
          "documentation": "<p>Friendly name for the <code>Protection</code> you are creating.</p>",
          "shape": "ProtectionName"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN (Amazon Resource Name) of the resource to be protected.</p> <p>The ARN should be in one of the following formats:</p> <ul> <li> <p>For an Application Load Balancer: <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/app/<i>load-balancer-name</i>/<i>load-balancer-id</i> </code> </p> </li> <li> <p>For an Elastic Load Balancer (Classic Load Balancer): <code>arn:aws:elasticloadbalancing:<i>region</i>:<i>account-id</i>:loadbalancer/<i>load-balancer-name</i> </code> </p> </li> <li> <p>For an AWS CloudFront distribution: <code>arn:aws:cloudfront::<i>account-id</i>:distribution/<i>distribution-id</i> </code> </p> </li> <li> <p>For an AWS Global Accelerator accelerator: <code>arn:aws:globalaccelerator::<i>account-id</i>:accelerator/<i>accelerator-id</i> </code> </p> </li> <li> <p>For Amazon Route 53: <code>arn:aws:route53:::hostedzone/<i>hosted-zone-id</i> </code> </p> </li> <li> <p>For an Elastic IP address: <code>arn:aws:ec2:<i>region</i>:<i>account-id</i>:eip-allocation/<i>allocation-id</i> </code> </p> </li> </ul>",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "Name",
        "ResourceArn"
      ],
      "type": "structure"
    },
    "CreateProtectionResponse": {
      "members": {
        "ProtectionId": {
          "documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object that is created.</p>",
          "shape": "ProtectionId"
        }
      },
      "type": "structure"
    },
    "CreateSubscriptionRequest": {
      "members": {},
      "type": "structure"
    },
    "CreateSubscriptionResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteProtectionRequest": {
      "members": {
        "ProtectionId": {
          "documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to be deleted.</p>",
          "shape": "ProtectionId"
        }
      },
      "required": [
        "ProtectionId"
      ],
      "type": "structure"
    },
    "DeleteProtectionResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteSubscriptionRequest": {
      "deprecated": true,
      "members": {},
      "type": "structure"
    },
    "DeleteSubscriptionResponse": {
      "deprecated": true,
      "members": {},
      "type": "structure"
    },
    "DescribeAttackRequest": {
      "members": {
        "AttackId": {
          "documentation": "<p>The unique identifier (ID) for the attack that to be described.</p>",
          "shape": "AttackId"
        }
      },
      "required": [
        "AttackId"
      ],
      "type": "structure"
    },
    "DescribeAttackResponse": {
      "members": {
        "Attack": {
          "documentation": "<p>The attack that is described.</p>",
          "shape": "AttackDetail"
        }
      },
      "type": "structure"
    },
    "DescribeDRTAccessRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeDRTAccessResponse": {
      "members": {
        "LogBucketList": {
          "documentation": "<p>The list of Amazon S3 buckets accessed by the DRT.</p>",
          "shape": "LogBucketList"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role the DRT used to access your AWS account.</p>",
          "shape": "RoleArn"
        }
      },
      "type": "structure"
    },
    "DescribeEmergencyContactSettingsRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeEmergencyContactSettingsResponse": {
      "members": {
        "EmergencyContactList": {
          "documentation": "<p>A list of email addresses that the DRT can use to contact you during a suspected attack.</p>",
          "shape": "EmergencyContactList"
        }
      },
      "type": "structure"
    },
    "DescribeProtectionRequest": {
      "members": {
        "ProtectionId": {
          "documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object that is described. When submitting the <code>DescribeProtection</code> request you must provide either the <code>ResourceArn</code> or the <code>ProtectionID</code>, but not both.</p>",
          "shape": "ProtectionId"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN (Amazon Resource Name) of the AWS resource for the <a>Protection</a> object that is described. When submitting the <code>DescribeProtection</code> request you must provide either the <code>ResourceArn</code> or the <code>ProtectionID</code>, but not both.</p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "DescribeProtectionResponse": {
      "members": {
        "Protection": {
          "documentation": "<p>The <a>Protection</a> object that is described.</p>",
          "shape": "Protection"
        }
      },
      "type": "structure"
    },
    "DescribeSubscriptionRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeSubscriptionResponse": {
      "members": {
        "Subscription": {
          "documentation": "<p>The AWS Shield Advanced subscription details for an account.</p>",
          "shape": "Subscription"
        }
      },
      "type": "structure"
    },
    "DisassociateDRTLogBucketRequest": {
      "members": {
        "LogBucket": {
          "documentation": "<p>The Amazon S3 bucket that contains your AWS WAF logs.</p>",
          "shape": "LogBucket"
        }
      },
      "required": [
        "LogBucket"
      ],
      "type": "structure"
    },
    "DisassociateDRTLogBucketResponse": {
      "members": {},
      "type": "structure"
    },
    "DisassociateDRTRoleRequest": {
      "members": {},
      "type": "structure"
    },
    "DisassociateDRTRoleResponse": {
      "members": {},
      "type": "structure"
    },
    "DisassociateHealthCheckRequest": {
      "members": {
        "HealthCheckArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the health check that is associated with the protection.</p>",
          "shape": "HealthCheckArn"
        },
        "ProtectionId": {
          "documentation": "<p>The unique identifier (ID) for the <a>Protection</a> object to remove the health check association from. </p>",
          "shape": "ProtectionId"
        }
      },
      "required": [
        "ProtectionId",
        "HealthCheckArn"
      ],
      "type": "structure"
    },
    "DisassociateHealthCheckResponse": {
      "members": {},
      "type": "structure"
    },
    "Double": {
      "type": "double"
    },
    "DurationInSeconds": {
      "min": 0,
      "type": "long"
    },
    "EmailAddress": {
      "max": 150,
      "min": 1,
      "pattern": "^\\S+@\\S+\\.\\S+$",
      "type": "string"
    },
    "EmergencyContact": {
      "documentation": "<p>Contact information that the DRT can use to contact you during a suspected attack.</p>",
      "members": {
        "EmailAddress": {
          "documentation": "<p>An email address that the DRT can use to contact you during a suspected attack.</p>",
          "shape": "EmailAddress"
        }
      },
      "required": [
        "EmailAddress"
      ],
      "type": "structure"
    },
    "EmergencyContactList": {
      "max": 10,
      "member": {
        "shape": "EmergencyContact"
      },
      "min": 0,
      "type": "list"
    },
    "GetSubscriptionStateRequest": {
      "members": {},
      "type": "structure"
    },
    "GetSubscriptionStateResponse": {
      "members": {
        "SubscriptionState": {
          "documentation": "<p>The status of the subscription.</p>",
          "shape": "SubscriptionState"
        }
      },
      "required": [
        "SubscriptionState"
      ],
      "type": "structure"
    },
    "HealthCheckArn": {
      "max": 2048,
      "min": 1,
      "pattern": "^arn:aws:route53:::healthcheck/\\S{36}$",
      "type": "string"
    },
    "HealthCheckId": {
      "type": "string"
    },
    "HealthCheckIds": {
      "member": {
        "shape": "HealthCheckId"
      },
      "type": "list"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalErrorException": {
      "documentation": "<p>Exception that indicates that a problem occurred with the service infrastructure. You can retry the request.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidOperationException": {
      "documentation": "<p>Exception that indicates that the operation would not cause any change to occur.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidPaginationTokenException": {
      "documentation": "<p>Exception that indicates that the NextToken specified in the request is invalid. Submit the request using the NextToken value that was returned in the response.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>Exception that indicates that the parameters passed to the API are invalid. </p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidResourceException": {
      "documentation": "<p>Exception that indicates that the resource is invalid. You might not have access to the resource, or the resource might not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Limit": {
      "documentation": "<p>Specifies how many protections of a given type you can create.</p>",
      "members": {
        "Max": {
          "documentation": "<p>The maximum number of protections that can be created for the specified <code>Type</code>.</p>",
          "shape": "Long"
        },
        "Type": {
          "documentation": "<p>The type of protection.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LimitNumber": {
      "type": "long"
    },
    "LimitType": {
      "type": "string"
    },
    "Limits": {
      "member": {
        "shape": "Limit"
      },
      "type": "list"
    },
    "LimitsExceededException": {
      "documentation": "<p>Exception that indicates that the operation would exceed a limit.</p> <p> <code>Type</code> is the type of limit that would be exceeded.</p> <p> <code>Limit</code> is the threshold that would be exceeded.</p>",
      "exception": true,
      "members": {
        "Limit": {
          "shape": "LimitNumber"
        },
        "Type": {
          "shape": "LimitType"
        },
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListAttacksRequest": {
      "members": {
        "EndTime": {
          "documentation": "<p>The end of the time period for the attacks. This is a <code>timestamp</code> type. The sample request above indicates a <code>number</code> type because the default used by WAF is Unix time in seconds. However any valid <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp format</a> is allowed. </p>",
          "shape": "TimeRange"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of <a>AttackSummary</a> objects to be returned. If this is left blank, the first 20 results will be returned.</p> <p>This is a maximum value; it is possible that AWS WAF will return the results in smaller batches. That is, the number of <a>AttackSummary</a> objects returned could be less than <code>MaxResults</code>, even if there are still more <a>AttackSummary</a> objects yet to return. If there are more <a>AttackSummary</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The <code>ListAttacksRequest.NextMarker</code> value from a previous call to <code>ListAttacksRequest</code>. Pass null if this is the first call.</p>",
          "shape": "Token"
        },
        "ResourceArns": {
          "documentation": "<p>The ARN (Amazon Resource Name) of the resource that was attacked. If this is left blank, all applicable resources for this account will be included.</p>",
          "shape": "ResourceArnFilterList"
        },
        "StartTime": {
          "documentation": "<p>The start of the time period for the attacks. This is a <code>timestamp</code> type. The sample request above indicates a <code>number</code> type because the default used by WAF is Unix time in seconds. However any valid <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp format</a> is allowed. </p>",
          "shape": "TimeRange"
        }
      },
      "type": "structure"
    },
    "ListAttacksResponse": {
      "members": {
        "AttackSummaries": {
          "documentation": "<p>The attack information for the specified time range.</p>",
          "shape": "AttackSummaries"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to indicate that there is more data available. If not null, more results are available. Pass this value for the <code>NextMarker</code> parameter in a subsequent call to <code>ListAttacks</code> to retrieve the next set of items.</p> <p>AWS WAF might return the list of <a>AttackSummary</a> objects in batches smaller than the number specified by MaxResults. If there are more <a>AttackSummary</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListProtectionsRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The maximum number of <a>Protection</a> objects to be returned. If this is left blank the first 20 results will be returned.</p> <p>This is a maximum value; it is possible that AWS WAF will return the results in smaller batches. That is, the number of <a>Protection</a> objects returned could be less than <code>MaxResults</code>, even if there are still more <a>Protection</a> objects yet to return. If there are more <a>Protection</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The <code>ListProtectionsRequest.NextToken</code> value from a previous call to <code>ListProtections</code>. Pass null if this is the first call.</p>",
          "shape": "Token"
        }
      },
      "type": "structure"
    },
    "ListProtectionsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If you specify a value for <code>MaxResults</code> and you have more Protections than the value of MaxResults, AWS Shield Advanced returns a NextToken value in the response that allows you to list another group of Protections. For the second and subsequent ListProtections requests, specify the value of NextToken from the previous response to get information about another batch of Protections.</p> <p>AWS WAF might return the list of <a>Protection</a> objects in batches smaller than the number specified by MaxResults. If there are more <a>Protection</a> objects to return, AWS WAF will always also return a <code>NextToken</code>.</p>",
          "shape": "Token"
        },
        "Protections": {
          "documentation": "<p>The array of enabled <a>Protection</a> objects.</p>",
          "shape": "Protections"
        }
      },
      "type": "structure"
    },
    "LockedSubscriptionException": {
      "documentation": "<p>You are trying to update a subscription that has not yet completed the 1-year commitment. You can change the <code>AutoRenew</code> parameter during the last 30 days of your subscription. This exception indicates that you are attempting to change <code>AutoRenew</code> prior to that period.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "LogBucket": {
      "max": 63,
      "min": 3,
      "pattern": "^([a-z]|(\\d(?!\\d{0,2}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3})))([a-z\\d]|(\\.(?!(\\.|-)))|(-(?!\\.))){1,61}[a-z\\d]$",
      "type": "string"
    },
    "LogBucketList": {
      "max": 10,
      "member": {
        "shape": "LogBucket"
      },
      "min": 0,
      "type": "list"
    },
    "Long": {
      "type": "long"
    },
    "MaxResults": {
      "box": true,
      "max": 10000,
      "min": 0,
      "type": "integer"
    },
    "Mitigation": {
      "documentation": "<p>The mitigation applied to a DDoS attack.</p>",
      "members": {
        "MitigationName": {
          "documentation": "<p>The name of the mitigation taken for this attack.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "MitigationList": {
      "member": {
        "shape": "Mitigation"
      },
      "type": "list"
    },
    "NoAssociatedRoleException": {
      "documentation": "<p>The ARN of the role that you specifed does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "OptimisticLockException": {
      "documentation": "<p>Exception that indicates that the protection state has been modified by another client. You can retry the request.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "Protection": {
      "documentation": "<p>An object that represents a resource that is under DDoS protection.</p>",
      "members": {
        "HealthCheckIds": {
          "documentation": "<p>The unique identifier (ID) for the Route 53 health check that's associated with the protection. </p>",
          "shape": "HealthCheckIds"
        },
        "Id": {
          "documentation": "<p>The unique identifier (ID) of the protection.</p>",
          "shape": "ProtectionId"
        },
        "Name": {
          "documentation": "<p>The friendly name of the protection. For example, <code>My CloudFront distributions</code>.</p>",
          "shape": "ProtectionName"
        },
        "ResourceArn": {
          "documentation": "<p>The ARN (Amazon Resource Name) of the AWS resource that is protected.</p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "ProtectionId": {
      "max": 36,
      "min": 1,
      "pattern": "[a-zA-Z0-9\\\\-]*",
      "type": "string"
    },
    "ProtectionName": {
      "max": 128,
      "min": 1,
      "pattern": "[ a-zA-Z0-9_\\\\.\\\\-]*",
      "type": "string"
    },
    "Protections": {
      "member": {
        "shape": "Protection"
      },
      "type": "list"
    },
    "ResourceAlreadyExistsException": {
      "documentation": "<p>Exception indicating the specified resource already exists.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceArn": {
      "max": 2048,
      "min": 1,
      "pattern": "^arn:aws.*",
      "type": "string"
    },
    "ResourceArnFilterList": {
      "member": {
        "shape": "ResourceArn"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Exception indicating the specified resource does not exist.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "RoleArn": {
      "max": 2048,
      "min": 1,
      "pattern": "^arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+",
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "SubResourceSummary": {
      "documentation": "<p>The attack information for the specified SubResource.</p>",
      "members": {
        "AttackVectors": {
          "documentation": "<p>The list of attack types and associated counters.</p>",
          "shape": "SummarizedAttackVectorList"
        },
        "Counters": {
          "documentation": "<p>The counters that describe the details of the attack.</p>",
          "shape": "SummarizedCounterList"
        },
        "Id": {
          "documentation": "<p>The unique identifier (ID) of the <code>SubResource</code>.</p>",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>The <code>SubResource</code> type.</p>",
          "shape": "SubResourceType"
        }
      },
      "type": "structure"
    },
    "SubResourceSummaryList": {
      "member": {
        "shape": "SubResourceSummary"
      },
      "type": "list"
    },
    "SubResourceType": {
      "enum": [
        "IP",
        "URL"
      ],
      "type": "string"
    },
    "Subscription": {
      "documentation": "<p>Information about the AWS Shield Advanced subscription for an account.</p>",
      "members": {
        "AutoRenew": {
          "documentation": "<p>If <code>ENABLED</code>, the subscription will be automatically renewed at the end of the existing subscription period.</p> <p>When you initally create a subscription, <code>AutoRenew</code> is set to <code>ENABLED</code>. You can change this by submitting an <code>UpdateSubscription</code> request. If the <code>UpdateSubscription</code> request does not included a value for <code>AutoRenew</code>, the existing value for <code>AutoRenew</code> remains unchanged.</p>",
          "shape": "AutoRenew"
        },
        "EndTime": {
          "documentation": "<p>The date and time your subscription will end.</p>",
          "shape": "Timestamp"
        },
        "Limits": {
          "documentation": "<p>Specifies how many protections of a given type you can create.</p>",
          "shape": "Limits"
        },
        "StartTime": {
          "documentation": "<p>The start time of the subscription, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "Timestamp"
        },
        "TimeCommitmentInSeconds": {
          "documentation": "<p>The length, in seconds, of the AWS Shield Advanced subscription for the account.</p>",
          "shape": "DurationInSeconds"
        }
      },
      "type": "structure"
    },
    "SubscriptionState": {
      "enum": [
        "ACTIVE",
        "INACTIVE"
      ],
      "type": "string"
    },
    "SummarizedAttackVector": {
      "documentation": "<p>A summary of information about the attack.</p>",
      "members": {
        "VectorCounters": {
          "documentation": "<p>The list of counters that describe the details of the attack.</p>",
          "shape": "SummarizedCounterList"
        },
        "VectorType": {
          "documentation": "<p>The attack type, for example, SNMP reflection or SYN flood.</p>",
          "shape": "String"
        }
      },
      "required": [
        "VectorType"
      ],
      "type": "structure"
    },
    "SummarizedAttackVectorList": {
      "member": {
        "shape": "SummarizedAttackVector"
      },
      "type": "list"
    },
    "SummarizedCounter": {
      "documentation": "<p>The counter that describes a DDoS attack.</p>",
      "members": {
        "Average": {
          "documentation": "<p>The average value of the counter for a specified time period.</p>",
          "shape": "Double"
        },
        "Max": {
          "documentation": "<p>The maximum value of the counter for a specified time period.</p>",
          "shape": "Double"
        },
        "N": {
          "documentation": "<p>The number of counters for a specified time period.</p>",
          "shape": "Integer"
        },
        "Name": {
          "documentation": "<p>The counter name.</p>",
          "shape": "String"
        },
        "Sum": {
          "documentation": "<p>The total of counter values for a specified time period.</p>",
          "shape": "Double"
        },
        "Unit": {
          "documentation": "<p>The unit of the counters.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "SummarizedCounterList": {
      "member": {
        "shape": "SummarizedCounter"
      },
      "type": "list"
    },
    "TimeRange": {
      "documentation": "<p>The time range.</p>",
      "members": {
        "FromInclusive": {
          "documentation": "<p>The start time, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "AttackTimestamp"
        },
        "ToExclusive": {
          "documentation": "<p>The end time, in Unix time in seconds. For more information see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#parameter-types\">timestamp</a>.</p>",
          "shape": "AttackTimestamp"
        }
      },
      "type": "structure"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "Token": {
      "max": 4096,
      "min": 1,
      "pattern": "^.*$",
      "type": "string"
    },
    "TopContributors": {
      "member": {
        "shape": "Contributor"
      },
      "type": "list"
    },
    "Unit": {
      "enum": [
        "BITS",
        "BYTES",
        "PACKETS",
        "REQUESTS"
      ],
      "type": "string"
    },
    "UpdateEmergencyContactSettingsRequest": {
      "members": {
        "EmergencyContactList": {
          "documentation": "<p>A list of email addresses that the DRT can use to contact you during a suspected attack.</p>",
          "shape": "EmergencyContactList"
        }
      },
      "type": "structure"
    },
    "UpdateEmergencyContactSettingsResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateSubscriptionRequest": {
      "members": {
        "AutoRenew": {
          "documentation": "<p>When you initally create a subscription, <code>AutoRenew</code> is set to <code>ENABLED</code>. If <code>ENABLED</code>, the subscription will be automatically renewed at the end of the existing subscription period. You can change this by submitting an <code>UpdateSubscription</code> request. If the <code>UpdateSubscription</code> request does not included a value for <code>AutoRenew</code>, the existing value for <code>AutoRenew</code> remains unchanged.</p>",
          "shape": "AutoRenew"
        }
      },
      "type": "structure"
    },
    "UpdateSubscriptionResponse": {
      "members": {},
      "type": "structure"
    },
    "errorMessage": {
      "type": "string"
    }
  },
  "version": "2.0"
}
