{
  "documentation": "<fullname>AWS CodeBuild</fullname> <p>AWS CodeBuild is a fully managed build service in the cloud. AWS CodeBuild compiles your source code, runs unit tests, and produces artifacts that are ready to deploy. AWS CodeBuild eliminates the need to provision, manage, and scale your own build servers. It provides prepackaged build environments for the most popular programming languages and build tools, such as Apache Maven, Gradle, and more. You can also fully customize build environments in AWS CodeBuild to use your own build tools. AWS CodeBuild scales automatically to meet peak build requests. You pay only for the build time you consume. For more information about AWS CodeBuild, see the <i> <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/welcome.html\">AWS CodeBuild User Guide</a>.</i> </p> <p>AWS CodeBuild supports these operations:</p> <ul> <li> <p> <code>BatchDeleteBuilds</code>: Deletes one or more builds.</p> </li> <li> <p> <code>BatchGetBuilds</code>: Gets information about one or more builds.</p> </li> <li> <p> <code>BatchGetProjects</code>: Gets information about one or more build projects. A <i>build project</i> defines how AWS CodeBuild runs a build. This includes information such as where to get the source code to build, the build environment to use, the build commands to run, and where to store the build output. A <i>build environment</i> is a representation of operating system, programming language runtime, and tools that AWS CodeBuild uses to run a build. You can add tags to build projects to help manage your resources and costs.</p> </li> <li> <p> <code>BatchGetReportGroups</code>: Returns an array of report groups. </p> </li> <li> <p> <code>BatchGetReports</code>: Returns an array of reports. </p> </li> <li> <p> <code>CreateProject</code>: Creates a build project.</p> </li> <li> <p> <code>CreateReportGroup</code>: Creates a report group. A report group contains a collection of reports. </p> </li> <li> <p> <code>CreateWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>DeleteProject</code>: Deletes a build project.</p> </li> <li> <p> <code>DeleteReport</code>: Deletes a report. </p> </li> <li> <p> <code>DeleteReportGroup</code>: Deletes a report group. </p> </li> <li> <p> <code>DeleteResourcePolicy</code>: Deletes a resource policy that is identified by its resource ARN. </p> </li> <li> <p> <code>DeleteSourceCredentials</code>: Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials.</p> </li> <li> <p> <code>DeleteWebhook</code>: For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p> </li> <li> <p> <code>DescribeTestCases</code>: Returns a list of details about test cases for a report. </p> </li> <li> <p> <code>GetResourcePolicy</code>: Gets a resource policy that is identified by its resource ARN. </p> </li> <li> <p> <code>ImportSourceCredentials</code>: Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository.</p> </li> <li> <p> <code>InvalidateProjectCache</code>: Resets the cache for a project.</p> </li> <li> <p> <code>ListBuilds</code>: Gets a list of build IDs, with each build ID representing a single build.</p> </li> <li> <p> <code>ListBuildsForProject</code>: Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p> </li> <li> <p> <code>ListCuratedEnvironmentImages</code>: Gets information about Docker images that are managed by AWS CodeBuild.</p> </li> <li> <p> <code>ListProjects</code>: Gets a list of build project names, with each build project name representing a single build project.</p> </li> <li> <p> <code>ListReportGroups</code>: Gets a list ARNs for the report groups in the current AWS account. </p> </li> <li> <p> <code>ListReports</code>: Gets a list ARNs for the reports in the current AWS account. </p> </li> <li> <p> <code>ListReportsForReportGroup</code>: Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>. </p> </li> <li> <p> <code>ListSharedProjects</code>: Gets a list of ARNs associated with projects shared with the current AWS account or user.</p> </li> <li> <p> <code>ListSharedReportGroups</code>: Gets a list of ARNs associated with report groups shared with the current AWS account or user</p> </li> <li> <p> <code>ListSourceCredentials</code>: Returns a list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials.</p> </li> <li> <p> <code>PutResourcePolicy</code>: Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object. </p> </li> <li> <p> <code>StartBuild</code>: Starts running a build.</p> </li> <li> <p> <code>StopBuild</code>: Attempts to stop running a build.</p> </li> <li> <p> <code>UpdateProject</code>: Changes the settings of an existing build project.</p> </li> <li> <p> <code>UpdateReportGroup</code>: Changes a report group.</p> </li> <li> <p> <code>UpdateWebhook</code>: Changes the settings of an existing webhook.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2016-10-06",
    "endpointPrefix": "codebuild",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS CodeBuild",
    "serviceId": "CodeBuild",
    "signatureVersion": "v4",
    "targetPrefix": "CodeBuild_20161006",
    "uid": "codebuild-2016-10-06"
  },
  "operations": {
    "BatchDeleteBuilds": {
      "documentation": "<p>Deletes one or more builds.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteBuildsInput"
      },
      "name": "BatchDeleteBuilds",
      "output": {
        "shape": "BatchDeleteBuildsOutput"
      }
    },
    "BatchGetBuilds": {
      "documentation": "<p>Gets information about one or more builds.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetBuildsInput"
      },
      "name": "BatchGetBuilds",
      "output": {
        "shape": "BatchGetBuildsOutput"
      }
    },
    "BatchGetProjects": {
      "documentation": "<p>Gets information about one or more build projects.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetProjectsInput"
      },
      "name": "BatchGetProjects",
      "output": {
        "shape": "BatchGetProjectsOutput"
      }
    },
    "BatchGetReportGroups": {
      "documentation": "<p> Returns an array of report groups. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetReportGroupsInput"
      },
      "name": "BatchGetReportGroups",
      "output": {
        "shape": "BatchGetReportGroupsOutput"
      }
    },
    "BatchGetReports": {
      "documentation": "<p> Returns an array of reports. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetReportsInput"
      },
      "name": "BatchGetReports",
      "output": {
        "shape": "BatchGetReportsOutput"
      }
    },
    "CreateProject": {
      "documentation": "<p>Creates a build project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProjectInput"
      },
      "name": "CreateProject",
      "output": {
        "shape": "CreateProjectOutput"
      }
    },
    "CreateReportGroup": {
      "documentation": "<p> Creates a report group. A report group contains a collection of reports. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReportGroupInput"
      },
      "name": "CreateReportGroup",
      "output": {
        "shape": "CreateReportGroupOutput"
      }
    },
    "CreateWebhook": {
      "documentation": "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, enables AWS CodeBuild to start rebuilding the source code every time a code change is pushed to the repository.</p> <important> <p>If you enable webhooks for an AWS CodeBuild project, and the project is used as a build step in AWS CodePipeline, then two identical builds are created for each commit. One build is triggered through webhooks, and one through AWS CodePipeline. Because billing is on a per-build basis, you are billed for both builds. Therefore, if you are using AWS CodePipeline, we recommend that you disable webhooks in AWS CodeBuild. In the AWS CodeBuild console, clear the Webhook box. For more information, see step 5 in <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/change-project.html#change-project-console\">Change a Build Project's Settings</a>.</p> </important>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OAuthProviderException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWebhookInput"
      },
      "name": "CreateWebhook",
      "output": {
        "shape": "CreateWebhookOutput"
      }
    },
    "DeleteProject": {
      "documentation": "<p> Deletes a build project. When you delete a project, its builds are not deleted. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProjectInput"
      },
      "name": "DeleteProject",
      "output": {
        "shape": "DeleteProjectOutput"
      }
    },
    "DeleteReport": {
      "documentation": "<p> Deletes a report. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReportInput"
      },
      "name": "DeleteReport",
      "output": {
        "shape": "DeleteReportOutput"
      }
    },
    "DeleteReportGroup": {
      "documentation": "<p> <code>DeleteReportGroup</code>: Deletes a report group. Before you delete a report group, you must delete its reports. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_ListReportsForReportGroup.html\">ListReportsForReportGroup</a> to get the reports in a report group. Use <a href=\"https://docs.aws.amazon.com/codebuild/latest/APIReference/API_DeleteReport.html\">DeleteReport</a> to delete the reports. If you call <code>DeleteReportGroup</code> for a report group that contains one or more reports, an exception is thrown. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReportGroupInput"
      },
      "name": "DeleteReportGroup",
      "output": {
        "shape": "DeleteReportGroupOutput"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p> Deletes a resource policy that is identified by its resource ARN. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyInput"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyOutput"
      }
    },
    "DeleteSourceCredentials": {
      "documentation": "<p> Deletes a set of GitHub, GitHub Enterprise, or Bitbucket source credentials. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSourceCredentialsInput"
      },
      "name": "DeleteSourceCredentials",
      "output": {
        "shape": "DeleteSourceCredentialsOutput"
      }
    },
    "DeleteWebhook": {
      "documentation": "<p>For an existing AWS CodeBuild build project that has its source code stored in a GitHub or Bitbucket repository, stops AWS CodeBuild from rebuilding the source code every time a code change is pushed to the repository.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OAuthProviderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWebhookInput"
      },
      "name": "DeleteWebhook",
      "output": {
        "shape": "DeleteWebhookOutput"
      }
    },
    "DescribeTestCases": {
      "documentation": "<p> Returns a list of details about test cases for a report. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTestCasesInput"
      },
      "name": "DescribeTestCases",
      "output": {
        "shape": "DescribeTestCasesOutput"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p> Gets a resource policy that is identified by its resource ARN. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourcePolicyInput"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyOutput"
      }
    },
    "ImportSourceCredentials": {
      "documentation": "<p> Imports the source repository credentials for an AWS CodeBuild project that has its source code stored in a GitHub, GitHub Enterprise, or Bitbucket repository. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AccountLimitExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportSourceCredentialsInput"
      },
      "name": "ImportSourceCredentials",
      "output": {
        "shape": "ImportSourceCredentialsOutput"
      }
    },
    "InvalidateProjectCache": {
      "documentation": "<p>Resets the cache for a project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "InvalidateProjectCacheInput"
      },
      "name": "InvalidateProjectCache",
      "output": {
        "shape": "InvalidateProjectCacheOutput"
      }
    },
    "ListBuilds": {
      "documentation": "<p>Gets a list of build IDs, with each build ID representing a single build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBuildsInput"
      },
      "name": "ListBuilds",
      "output": {
        "shape": "ListBuildsOutput"
      }
    },
    "ListBuildsForProject": {
      "documentation": "<p>Gets a list of build IDs for the specified build project, with each build ID representing a single build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBuildsForProjectInput"
      },
      "name": "ListBuildsForProject",
      "output": {
        "shape": "ListBuildsForProjectOutput"
      }
    },
    "ListCuratedEnvironmentImages": {
      "documentation": "<p>Gets information about Docker images that are managed by AWS CodeBuild.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCuratedEnvironmentImagesInput"
      },
      "name": "ListCuratedEnvironmentImages",
      "output": {
        "shape": "ListCuratedEnvironmentImagesOutput"
      }
    },
    "ListProjects": {
      "documentation": "<p>Gets a list of build project names, with each build project name representing a single build project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProjectsInput"
      },
      "name": "ListProjects",
      "output": {
        "shape": "ListProjectsOutput"
      }
    },
    "ListReportGroups": {
      "documentation": "<p> Gets a list ARNs for the report groups in the current AWS account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReportGroupsInput"
      },
      "name": "ListReportGroups",
      "output": {
        "shape": "ListReportGroupsOutput"
      }
    },
    "ListReports": {
      "documentation": "<p> Returns a list of ARNs for the reports in the current AWS account. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReportsInput"
      },
      "name": "ListReports",
      "output": {
        "shape": "ListReportsOutput"
      }
    },
    "ListReportsForReportGroup": {
      "documentation": "<p> Returns a list of ARNs for the reports that belong to a <code>ReportGroup</code>. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListReportsForReportGroupInput"
      },
      "name": "ListReportsForReportGroup",
      "output": {
        "shape": "ListReportsForReportGroupOutput"
      }
    },
    "ListSharedProjects": {
      "documentation": "<p> Gets a list of projects that are shared with other AWS accounts or users. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSharedProjectsInput"
      },
      "name": "ListSharedProjects",
      "output": {
        "shape": "ListSharedProjectsOutput"
      }
    },
    "ListSharedReportGroups": {
      "documentation": "<p> Gets a list of report groups that are shared with other AWS accounts or users. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSharedReportGroupsInput"
      },
      "name": "ListSharedReportGroups",
      "output": {
        "shape": "ListSharedReportGroupsOutput"
      }
    },
    "ListSourceCredentials": {
      "documentation": "<p> Returns a list of <code>SourceCredentialsInfo</code> objects. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSourceCredentialsInput"
      },
      "name": "ListSourceCredentials",
      "output": {
        "shape": "ListSourceCredentialsOutput"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p> Stores a resource policy for the ARN of a <code>Project</code> or <code>ReportGroup</code> object. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyInput"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyOutput"
      }
    },
    "StartBuild": {
      "documentation": "<p>Starts running a build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "AccountLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartBuildInput"
      },
      "name": "StartBuild",
      "output": {
        "shape": "StartBuildOutput"
      }
    },
    "StopBuild": {
      "documentation": "<p>Attempts to stop running a build.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopBuildInput"
      },
      "name": "StopBuild",
      "output": {
        "shape": "StopBuildOutput"
      }
    },
    "UpdateProject": {
      "documentation": "<p>Changes the settings of a build project.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProjectInput"
      },
      "name": "UpdateProject",
      "output": {
        "shape": "UpdateProjectOutput"
      }
    },
    "UpdateReportGroup": {
      "documentation": "<p> Updates a report group. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateReportGroupInput"
      },
      "name": "UpdateReportGroup",
      "output": {
        "shape": "UpdateReportGroupOutput"
      }
    },
    "UpdateWebhook": {
      "documentation": "<p> Updates the webhook associated with an AWS CodeBuild build project. </p> <note> <p> If you use Bitbucket for your repository, <code>rotateSecret</code> is ignored. </p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OAuthProviderException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWebhookInput"
      },
      "name": "UpdateWebhook",
      "output": {
        "shape": "UpdateWebhookOutput"
      }
    }
  },
  "shapes": {
    "AccountLimitExceededException": {
      "documentation": "<p>An AWS service limit was exceeded for the calling AWS account.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ArtifactNamespace": {
      "enum": [
        "NONE",
        "BUILD_ID"
      ],
      "type": "string"
    },
    "ArtifactPackaging": {
      "enum": [
        "NONE",
        "ZIP"
      ],
      "type": "string"
    },
    "ArtifactsType": {
      "enum": [
        "CODEPIPELINE",
        "S3",
        "NO_ARTIFACTS"
      ],
      "type": "string"
    },
    "AuthType": {
      "enum": [
        "OAUTH",
        "BASIC_AUTH",
        "PERSONAL_ACCESS_TOKEN"
      ],
      "type": "string"
    },
    "BatchDeleteBuildsInput": {
      "members": {
        "ids": {
          "documentation": "<p>The IDs of the builds to delete.</p>",
          "shape": "BuildIds"
        }
      },
      "required": [
        "ids"
      ],
      "type": "structure"
    },
    "BatchDeleteBuildsOutput": {
      "members": {
        "buildsDeleted": {
          "documentation": "<p>The IDs of the builds that were successfully deleted.</p>",
          "shape": "BuildIds"
        },
        "buildsNotDeleted": {
          "documentation": "<p>Information about any builds that could not be successfully deleted.</p>",
          "shape": "BuildsNotDeleted"
        }
      },
      "type": "structure"
    },
    "BatchGetBuildsInput": {
      "members": {
        "ids": {
          "documentation": "<p>The IDs of the builds.</p>",
          "shape": "BuildIds"
        }
      },
      "required": [
        "ids"
      ],
      "type": "structure"
    },
    "BatchGetBuildsOutput": {
      "members": {
        "builds": {
          "documentation": "<p>Information about the requested builds.</p>",
          "shape": "Builds"
        },
        "buildsNotFound": {
          "documentation": "<p>The IDs of builds for which information could not be found.</p>",
          "shape": "BuildIds"
        }
      },
      "type": "structure"
    },
    "BatchGetProjectsInput": {
      "members": {
        "names": {
          "documentation": "<p>The names or ARNs of the build projects. To get information about a project shared with your AWS account, its ARN must be specified. You cannot specify a shared project using its name.</p>",
          "shape": "ProjectNames"
        }
      },
      "required": [
        "names"
      ],
      "type": "structure"
    },
    "BatchGetProjectsOutput": {
      "members": {
        "projects": {
          "documentation": "<p>Information about the requested build projects.</p>",
          "shape": "Projects"
        },
        "projectsNotFound": {
          "documentation": "<p>The names of build projects for which information could not be found.</p>",
          "shape": "ProjectNames"
        }
      },
      "type": "structure"
    },
    "BatchGetReportGroupsInput": {
      "members": {
        "reportGroupArns": {
          "documentation": "<p> An array of report group ARNs that identify the report groups to return. </p>",
          "shape": "ReportGroupArns"
        }
      },
      "required": [
        "reportGroupArns"
      ],
      "type": "structure"
    },
    "BatchGetReportGroupsOutput": {
      "members": {
        "reportGroups": {
          "documentation": "<p> The array of report groups returned by <code>BatchGetReportGroups</code>. </p>",
          "shape": "ReportGroups"
        },
        "reportGroupsNotFound": {
          "documentation": "<p> An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>ReportGroup</code>. </p>",
          "shape": "ReportGroupArns"
        }
      },
      "type": "structure"
    },
    "BatchGetReportsInput": {
      "members": {
        "reportArns": {
          "documentation": "<p> An array of ARNs that identify the <code>Report</code> objects to return. </p>",
          "shape": "ReportArns"
        }
      },
      "required": [
        "reportArns"
      ],
      "type": "structure"
    },
    "BatchGetReportsOutput": {
      "members": {
        "reports": {
          "documentation": "<p> The array of <code>Report</code> objects returned by <code>BatchGetReports</code>. </p>",
          "shape": "Reports"
        },
        "reportsNotFound": {
          "documentation": "<p> An array of ARNs passed to <code>BatchGetReportGroups</code> that are not associated with a <code>Report</code>. </p>",
          "shape": "ReportArns"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "Build": {
      "documentation": "<p>Information about a build.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the build.</p>",
          "shape": "NonEmptyString"
        },
        "artifacts": {
          "documentation": "<p>Information about the output artifacts for the build.</p>",
          "shape": "BuildArtifacts"
        },
        "buildComplete": {
          "documentation": "<p>Whether the build is complete. True if complete; otherwise, false.</p>",
          "shape": "Boolean"
        },
        "buildNumber": {
          "documentation": "<p>The number of the build. For each project, the <code>buildNumber</code> of its first build is <code>1</code>. The <code>buildNumber</code> of each subsequent build is incremented by <code>1</code>. If a build is deleted, the <code>buildNumber</code> of other builds does not change.</p>",
          "shape": "WrapperLong"
        },
        "buildStatus": {
          "documentation": "<p>The current status of the build. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build failed.</p> </li> <li> <p> <code>FAULT</code>: The build faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build is still in progress.</p> </li> <li> <p> <code>STOPPED</code>: The build stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build timed out.</p> </li> </ul>",
          "shape": "StatusType"
        },
        "cache": {
          "documentation": "<p>Information about the cache for the build.</p>",
          "shape": "ProjectCache"
        },
        "currentPhase": {
          "documentation": "<p>The current build phase.</p>",
          "shape": "String"
        },
        "encryptionKey": {
          "documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>",
          "shape": "NonEmptyString"
        },
        "endTime": {
          "documentation": "<p>When the build process ended, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "environment": {
          "documentation": "<p>Information about the build environment for this build.</p>",
          "shape": "ProjectEnvironment"
        },
        "exportedEnvironmentVariables": {
          "documentation": "<p> A list of exported environment variables for this build. </p>",
          "shape": "ExportedEnvironmentVariables"
        },
        "fileSystemLocations": {
          "documentation": "<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>",
          "shape": "ProjectFileSystemLocations"
        },
        "id": {
          "documentation": "<p>The unique ID for the build.</p>",
          "shape": "NonEmptyString"
        },
        "initiator": {
          "documentation": "<p>The entity that started the build. Valid values include:</p> <ul> <li> <p>If AWS CodePipeline started the build, the pipeline's name (for example, <code>codepipeline/my-demo-pipeline</code>).</p> </li> <li> <p>If an AWS Identity and Access Management (IAM) user started the build, the user's name (for example, <code>MyUserName</code>).</p> </li> <li> <p>If the Jenkins plugin for AWS CodeBuild started the build, the string <code>CodeBuild-Jenkins-Plugin</code>.</p> </li> </ul>",
          "shape": "String"
        },
        "logs": {
          "documentation": "<p>Information about the build's logs in Amazon CloudWatch Logs.</p>",
          "shape": "LogsLocation"
        },
        "networkInterface": {
          "documentation": "<p>Describes a network interface.</p>",
          "shape": "NetworkInterface"
        },
        "phases": {
          "documentation": "<p>Information about all previous build phases that are complete and information about any current build phase that is not yet complete.</p>",
          "shape": "BuildPhases"
        },
        "projectName": {
          "documentation": "<p>The name of the AWS CodeBuild project.</p>",
          "shape": "NonEmptyString"
        },
        "queuedTimeoutInMinutes": {
          "documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>",
          "shape": "WrapperInt"
        },
        "reportArns": {
          "documentation": "<p> An array of the ARNs associated with this build's reports. </p>",
          "shape": "BuildReportArns"
        },
        "resolvedSourceVersion": {
          "documentation": "<p> An identifier for the version of this build's source code. </p> <ul> <li> <p> For AWS CodeCommit, GitHub, GitHub Enterprise, and BitBucket, the commit ID. </p> </li> <li> <p> For AWS CodePipeline, the source revision provided by AWS CodePipeline. </p> </li> <li> <p> For Amazon Simple Storage Service (Amazon S3), this does not apply. </p> </li> </ul>",
          "shape": "NonEmptyString"
        },
        "secondaryArtifacts": {
          "documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>",
          "shape": "BuildArtifactsList"
        },
        "secondarySourceVersions": {
          "documentation": "<p> An array of <code>ProjectSourceVersion</code> objects. Each <code>ProjectSourceVersion</code> must be one of: </p> <ul> <li> <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example, <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul>",
          "shape": "ProjectSecondarySourceVersions"
        },
        "secondarySources": {
          "documentation": "<p> An array of <code>ProjectSource</code> objects. </p>",
          "shape": "ProjectSources"
        },
        "serviceRole": {
          "documentation": "<p>The name of a service role used for this build.</p>",
          "shape": "NonEmptyString"
        },
        "source": {
          "documentation": "<p>Information about the source code to be built.</p>",
          "shape": "ProjectSource"
        },
        "sourceVersion": {
          "documentation": "<p>Any version identifier for the version of the source code to be built. If <code>sourceVersion</code> is specified at the project level, then this <code>sourceVersion</code> (at the build level) takes precedence. </p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>AWS CodeBuild User Guide</i>. </p>",
          "shape": "NonEmptyString"
        },
        "startTime": {
          "documentation": "<p>When the build process started, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "timeoutInMinutes": {
          "documentation": "<p>How long, in minutes, for AWS CodeBuild to wait before timing out this build if it does not get marked as completed.</p>",
          "shape": "WrapperInt"
        },
        "vpcConfig": {
          "documentation": "<p>If your AWS CodeBuild project accesses resources in an Amazon VPC, you provide this parameter that identifies the VPC ID and the list of security group IDs and subnet IDs. The security groups and subnets must belong to the same VPC. You must provide at least one security group and one subnet ID.</p>",
          "shape": "VpcConfig"
        }
      },
      "type": "structure"
    },
    "BuildArtifacts": {
      "documentation": "<p>Information about build output artifacts.</p>",
      "members": {
        "artifactIdentifier": {
          "documentation": "<p> An identifier for this artifact definition. </p>",
          "shape": "String"
        },
        "encryptionDisabled": {
          "documentation": "<p> Information that tells you if encryption for build artifacts is disabled. </p>",
          "shape": "WrapperBoolean"
        },
        "location": {
          "documentation": "<p>Information about the location of the build artifacts.</p>",
          "shape": "String"
        },
        "md5sum": {
          "documentation": "<p>The MD5 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
          "shape": "String"
        },
        "overrideArtifactName": {
          "documentation": "<p> If this flag is set, a name specified in the buildspec file overrides the artifact name. The name specified in a buildspec file is calculated at build time and uses the Shell Command Language. For example, you can append a date and time to your artifact name so that it is always unique. </p>",
          "shape": "WrapperBoolean"
        },
        "sha256sum": {
          "documentation": "<p>The SHA-256 hash of the build artifact.</p> <p>You can use this hash along with a checksum tool to confirm file integrity and authenticity.</p> <note> <p>This value is available only if the build project's <code>packaging</code> value is set to <code>ZIP</code>.</p> </note>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BuildArtifactsList": {
      "max": 12,
      "member": {
        "shape": "BuildArtifacts"
      },
      "min": 0,
      "type": "list"
    },
    "BuildIds": {
      "max": 100,
      "member": {
        "shape": "NonEmptyString"
      },
      "min": 1,
      "type": "list"
    },
    "BuildNotDeleted": {
      "documentation": "<p>Information about a build that could not be successfully deleted.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID of the build that could not be successfully deleted.</p>",
          "shape": "NonEmptyString"
        },
        "statusCode": {
          "documentation": "<p>Additional information about the build that could not be successfully deleted.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "BuildPhase": {
      "documentation": "<p>Information about a stage for a build.</p>",
      "members": {
        "contexts": {
          "documentation": "<p>Additional information about a build phase, especially to help troubleshoot a failed build.</p>",
          "shape": "PhaseContexts"
        },
        "durationInSeconds": {
          "documentation": "<p>How long, in seconds, between the starting and ending times of the build's phase.</p>",
          "shape": "WrapperLong"
        },
        "endTime": {
          "documentation": "<p>When the build phase ended, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "phaseStatus": {
          "documentation": "<p>The current status of the build phase. Valid values include:</p> <ul> <li> <p> <code>FAILED</code>: The build phase failed.</p> </li> <li> <p> <code>FAULT</code>: The build phase faulted.</p> </li> <li> <p> <code>IN_PROGRESS</code>: The build phase is still in progress.</p> </li> <li> <p> <code>QUEUED</code>: The build has been submitted and is queued behind other submitted builds.</p> </li> <li> <p> <code>STOPPED</code>: The build phase stopped.</p> </li> <li> <p> <code>SUCCEEDED</code>: The build phase succeeded.</p> </li> <li> <p> <code>TIMED_OUT</code>: The build phase timed out.</p> </li> </ul>",
          "shape": "StatusType"
        },
        "phaseType": {
          "documentation": "<p>The name of the build phase. Valid values include:</p> <ul> <li> <p> <code>BUILD</code>: Core build activities typically occur in this build phase.</p> </li> <li> <p> <code>COMPLETED</code>: The build has been completed.</p> </li> <li> <p> <code>DOWNLOAD_SOURCE</code>: Source code is being downloaded in this build phase.</p> </li> <li> <p> <code>FINALIZING</code>: The build process is completing in this build phase.</p> </li> <li> <p> <code>INSTALL</code>: Installation activities typically occur in this build phase.</p> </li> <li> <p> <code>POST_BUILD</code>: Post-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PRE_BUILD</code>: Pre-build activities typically occur in this build phase.</p> </li> <li> <p> <code>PROVISIONING</code>: The build environment is being set up.</p> </li> <li> <p> <code>QUEUED</code>: The build has been submitted and is queued behind other submitted builds.</p> </li> <li> <p> <code>SUBMITTED</code>: The build has been submitted.</p> </li> <li> <p> <code>UPLOAD_ARTIFACTS</code>: Build output artifacts are being uploaded to the output location.</p> </li> </ul>",
          "shape": "BuildPhaseType"
        },
        "startTime": {
          "documentation": "<p>When the build phase started, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "BuildPhaseType": {
      "enum": [
        "SUBMITTED",
        "QUEUED",
        "PROVISIONING",
        "DOWNLOAD_SOURCE",
        "INSTALL",
        "PRE_BUILD",
        "BUILD",
        "POST_BUILD",
        "UPLOAD_ARTIFACTS",
        "FINALIZING",
        "COMPLETED"
      ],
      "type": "string"
    },
    "BuildPhases": {
      "member": {
        "shape": "BuildPhase"
      },
      "type": "list"
    },
    "BuildReportArns": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Builds": {
      "member": {
        "shape": "Build"
      },
      "type": "list"
    },
    "BuildsNotDeleted": {
      "member": {
        "shape": "BuildNotDeleted"
      },
      "type": "list"
    },
    "CacheMode": {
      "enum": [
        "LOCAL_DOCKER_LAYER_CACHE",
        "LOCAL_SOURCE_CACHE",
        "LOCAL_CUSTOM_CACHE"
      ],
      "type": "string"
    },
    "CacheType": {
      "enum": [
        "NO_CACHE",
        "S3",
        "LOCAL"
      ],
      "type": "string"
    },
    "CloudWatchLogsConfig": {
      "documentation": "<p> Information about Amazon CloudWatch Logs for a build project. </p>",
      "members": {
        "groupName": {
          "documentation": "<p> The group name of the logs in Amazon CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. </p>",
          "shape": "String"
        },
        "status": {
          "documentation": "<p>The current status of the logs in Amazon CloudWatch Logs for a build project. Valid values are:</p> <ul> <li> <p> <code>ENABLED</code>: Amazon CloudWatch Logs are enabled for this build project.</p> </li> <li> <p> <code>DISABLED</code>: Amazon CloudWatch Logs are not enabled for this build project.</p> </li> </ul>",
          "shape": "LogsConfigStatusType"
        },
        "streamName": {
          "documentation": "<p> The prefix of the stream name of the Amazon CloudWatch Logs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working with Log Groups and Log Streams</a>. </p>",
          "shape": "String"
        }
      },
      "required": [
        "status"
      ],
      "type": "structure"
    },
    "ComputeType": {
      "enum": [
        "BUILD_GENERAL1_SMALL",
        "BUILD_GENERAL1_MEDIUM",
        "BUILD_GENERAL1_LARGE",
        "BUILD_GENERAL1_2XLARGE"
      ],
      "type": "string"
    },
    "CreateProjectInput": {
      "members": {
        "artifacts": {
          "documentation": "<p>Information about the build output artifacts for the build project.</p>",
          "shape": "ProjectArtifacts"
        },
        "badgeEnabled": {
          "documentation": "<p>Set this to true to generate a publicly accessible URL for your project's build badge.</p>",
          "shape": "WrapperBoolean"
        },
        "cache": {
          "documentation": "<p>Stores recently used information so that it can be quickly accessed at a later time.</p>",
          "shape": "ProjectCache"
        },
        "description": {
          "documentation": "<p>A description that makes the build project easy to identify.</p>",
          "shape": "ProjectDescription"
        },
        "encryptionKey": {
          "documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>",
          "shape": "NonEmptyString"
        },
        "environment": {
          "documentation": "<p>Information about the build environment for the build project.</p>",
          "shape": "ProjectEnvironment"
        },
        "fileSystemLocations": {
          "documentation": "<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>",
          "shape": "ProjectFileSystemLocations"
        },
        "logsConfig": {
          "documentation": "<p> Information about logs for the build project. These can be logs in Amazon CloudWatch Logs, logs uploaded to a specified S3 bucket, or both. </p>",
          "shape": "LogsConfig"
        },
        "name": {
          "documentation": "<p>The name of the build project.</p>",
          "shape": "ProjectName"
        },
        "queuedTimeoutInMinutes": {
          "documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>",
          "shape": "TimeOut"
        },
        "secondaryArtifacts": {
          "documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>",
          "shape": "ProjectArtifactsList"
        },
        "secondarySourceVersions": {
          "documentation": "<p> An array of <code>ProjectSourceVersion</code> objects. If <code>secondarySourceVersions</code> is specified at the build level, then they take precedence over these <code>secondarySourceVersions</code> (at the project level). </p>",
          "shape": "ProjectSecondarySourceVersions"
        },
        "secondarySources": {
          "documentation": "<p> An array of <code>ProjectSource</code> objects. </p>",
          "shape": "ProjectSources"
        },
        "serviceRole": {
          "documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>",
          "shape": "NonEmptyString"
        },
        "source": {
          "documentation": "<p>Information about the build input source code for the build project.</p>",
          "shape": "ProjectSource"
        },
        "sourceVersion": {
          "documentation": "<p> A version of the build input to be built for this project. If not specified, the latest version is used. If specified, it must be one of: </p> <ul> <li> <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul> <p> If <code>sourceVersion</code> is specified at the build level, then that version takes precedence over this <code>sourceVersion</code> (at the project level). </p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>AWS CodeBuild User Guide</i>. </p>",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>A set of tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>",
          "shape": "TagList"
        },
        "timeoutInMinutes": {
          "documentation": "<p>How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before it times out any build that has not been marked as completed. The default is 60 minutes.</p>",
          "shape": "TimeOut"
        },
        "vpcConfig": {
          "documentation": "<p>VpcConfig enables AWS CodeBuild to access resources in an Amazon VPC.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "name",
        "source",
        "artifacts",
        "environment",
        "serviceRole"
      ],
      "type": "structure"
    },
    "CreateProjectOutput": {
      "members": {
        "project": {
          "documentation": "<p>Information about the build project that was created.</p>",
          "shape": "Project"
        }
      },
      "type": "structure"
    },
    "CreateReportGroupInput": {
      "members": {
        "exportConfig": {
          "documentation": "<p> A <code>ReportExportConfig</code> object that contains information about where the report group test results are exported. </p>",
          "shape": "ReportExportConfig"
        },
        "name": {
          "documentation": "<p> The name of the report group. </p>",
          "shape": "ReportGroupName"
        },
        "type": {
          "documentation": "<p> The type of report group. </p>",
          "shape": "ReportType"
        }
      },
      "required": [
        "name",
        "type",
        "exportConfig"
      ],
      "type": "structure"
    },
    "CreateReportGroupOutput": {
      "members": {
        "reportGroup": {
          "documentation": "<p> Information about the report group that was created. </p>",
          "shape": "ReportGroup"
        }
      },
      "type": "structure"
    },
    "CreateWebhookInput": {
      "members": {
        "branchFilter": {
          "documentation": "<p>A regular expression used to determine which repository branches are built when a webhook is triggered. If the name of a branch matches the regular expression, then it is built. If <code>branchFilter</code> is empty, then all branches are built.</p> <note> <p> It is recommended that you use <code>filterGroups</code> instead of <code>branchFilter</code>. </p> </note>",
          "shape": "String"
        },
        "filterGroups": {
          "documentation": "<p> An array of arrays of <code>WebhookFilter</code> objects used to determine which webhooks are triggered. At least one <code>WebhookFilter</code> in the array must specify <code>EVENT</code> as its <code>type</code>. </p> <p> For a build to be triggered, at least one filter group in the <code>filterGroups</code> array must pass. For a filter group to pass, each of its filters must pass. </p>",
          "shape": "FilterGroups"
        },
        "projectName": {
          "documentation": "<p>The name of the AWS CodeBuild project.</p>",
          "shape": "ProjectName"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "structure"
    },
    "CreateWebhookOutput": {
      "members": {
        "webhook": {
          "documentation": "<p>Information about a webhook that connects repository events to a build project in AWS CodeBuild.</p>",
          "shape": "Webhook"
        }
      },
      "type": "structure"
    },
    "CredentialProviderType": {
      "enum": [
        "SECRETS_MANAGER"
      ],
      "type": "string"
    },
    "DeleteProjectInput": {
      "members": {
        "name": {
          "documentation": "<p>The name of the build project.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteProjectOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteReportGroupInput": {
      "members": {
        "arn": {
          "documentation": "<p> The ARN of the report group to delete. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteReportGroupOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteReportInput": {
      "members": {
        "arn": {
          "documentation": "<p> The ARN of the report to delete. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteReportOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteResourcePolicyInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p> The ARN of the resource that is associated with the resource policy. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "DeleteResourcePolicyOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteSourceCredentialsInput": {
      "members": {
        "arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the token.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "arn"
      ],
      "type": "structure"
    },
    "DeleteSourceCredentialsOutput": {
      "members": {
        "arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the token. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "DeleteWebhookInput": {
      "members": {
        "projectName": {
          "documentation": "<p>The name of the AWS CodeBuild project.</p>",
          "shape": "ProjectName"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "structure"
    },
    "DeleteWebhookOutput": {
      "members": {},
      "type": "structure"
    },
    "DescribeTestCasesInput": {
      "members": {
        "filter": {
          "documentation": "<p> A <code>TestCaseFilter</code> object used to filter the returned reports. </p>",
          "shape": "TestCaseFilter"
        },
        "maxResults": {
          "documentation": "<p> The maximum number of paginated test cases returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>TestCase</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reportArn": {
          "documentation": "<p> The ARN of the report for which test cases are returned. </p>",
          "shape": "String"
        }
      },
      "required": [
        "reportArn"
      ],
      "type": "structure"
    },
    "DescribeTestCasesOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "testCases": {
          "documentation": "<p> The returned list of test cases. </p>",
          "shape": "TestCases"
        }
      },
      "type": "structure"
    },
    "EnvironmentImage": {
      "documentation": "<p>Information about a Docker image that is managed by AWS CodeBuild.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the Docker image.</p>",
          "shape": "String"
        },
        "name": {
          "documentation": "<p>The name of the Docker image.</p>",
          "shape": "String"
        },
        "versions": {
          "documentation": "<p>A list of environment image versions.</p>",
          "shape": "ImageVersions"
        }
      },
      "type": "structure"
    },
    "EnvironmentImages": {
      "member": {
        "shape": "EnvironmentImage"
      },
      "type": "list"
    },
    "EnvironmentLanguage": {
      "documentation": "<p>A set of Docker images that are related by programming language and are managed by AWS CodeBuild.</p>",
      "members": {
        "images": {
          "documentation": "<p>The list of Docker images that are related by the specified programming language.</p>",
          "shape": "EnvironmentImages"
        },
        "language": {
          "documentation": "<p>The programming language for the Docker images.</p>",
          "shape": "LanguageType"
        }
      },
      "type": "structure"
    },
    "EnvironmentLanguages": {
      "member": {
        "shape": "EnvironmentLanguage"
      },
      "type": "list"
    },
    "EnvironmentPlatform": {
      "documentation": "<p>A set of Docker images that are related by platform and are managed by AWS CodeBuild.</p>",
      "members": {
        "languages": {
          "documentation": "<p>The list of programming languages that are available for the specified platform.</p>",
          "shape": "EnvironmentLanguages"
        },
        "platform": {
          "documentation": "<p>The platform's name.</p>",
          "shape": "PlatformType"
        }
      },
      "type": "structure"
    },
    "EnvironmentPlatforms": {
      "member": {
        "shape": "EnvironmentPlatform"
      },
      "type": "list"
    },
    "EnvironmentType": {
      "enum": [
        "WINDOWS_CONTAINER",
        "LINUX_CONTAINER",
        "LINUX_GPU_CONTAINER",
        "ARM_CONTAINER"
      ],
      "type": "string"
    },
    "EnvironmentVariable": {
      "documentation": "<p>Information about an environment variable for a build project or a build.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name or key of the environment variable.</p>",
          "shape": "NonEmptyString"
        },
        "type": {
          "documentation": "<p>The type of environment variable. Valid values include:</p> <ul> <li> <p> <code>PARAMETER_STORE</code>: An environment variable stored in Amazon EC2 Systems Manager Parameter Store.</p> </li> <li> <p> <code>PLAINTEXT</code>: An environment variable in plain text format. This is the default value.</p> </li> <li> <p> <code>SECRETS_MANAGER</code>: An environment variable stored in AWS Secrets Manager.</p> </li> </ul>",
          "shape": "EnvironmentVariableType"
        },
        "value": {
          "documentation": "<p>The value of the environment variable.</p> <important> <p>We strongly discourage the use of <code>PLAINTEXT</code> environment variables to store sensitive values, especially AWS secret key IDs and secret access keys. <code>PLAINTEXT</code> environment variables can be displayed in plain text using the AWS CodeBuild console and the AWS Command Line Interface (AWS CLI). For sensitive values, we recommend you use an environment variable of type <code>PARAMETER_STORE</code> or <code>SECRETS_MANAGER</code>.</p> </important>",
          "shape": "String"
        }
      },
      "required": [
        "name",
        "value"
      ],
      "type": "structure"
    },
    "EnvironmentVariableType": {
      "enum": [
        "PLAINTEXT",
        "PARAMETER_STORE",
        "SECRETS_MANAGER"
      ],
      "type": "string"
    },
    "EnvironmentVariables": {
      "member": {
        "shape": "EnvironmentVariable"
      },
      "type": "list"
    },
    "ExportedEnvironmentVariable": {
      "documentation": "<p> Information about an exported environment variable. </p>",
      "members": {
        "name": {
          "documentation": "<p> The name of this exported environment variable. </p>",
          "shape": "NonEmptyString"
        },
        "value": {
          "documentation": "<p> The value assigned to this exported environment variable. </p> <note> <p> During a build, the value of a variable is available starting with the <code>install</code> phase. It can be updated between the start of the <code>install</code> phase and the end of the <code>post_build</code> phase. After the <code>post_build</code> phase ends, the value of exported variables cannot change.</p> </note>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ExportedEnvironmentVariables": {
      "member": {
        "shape": "ExportedEnvironmentVariable"
      },
      "type": "list"
    },
    "FileSystemType": {
      "enum": [
        "EFS"
      ],
      "type": "string"
    },
    "FilterGroup": {
      "member": {
        "shape": "WebhookFilter"
      },
      "type": "list"
    },
    "FilterGroups": {
      "member": {
        "shape": "FilterGroup"
      },
      "type": "list"
    },
    "GetResourcePolicyInput": {
      "members": {
        "resourceArn": {
          "documentation": "<p> The ARN of the resource that is associated with the resource policy. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "GetResourcePolicyOutput": {
      "members": {
        "policy": {
          "documentation": "<p> The resource policy for the resource identified by the input ARN parameter. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "GitCloneDepth": {
      "min": 0,
      "type": "integer"
    },
    "GitSubmodulesConfig": {
      "documentation": "<p> Information about the Git submodules configuration for an AWS CodeBuild build project. </p>",
      "members": {
        "fetchSubmodules": {
          "documentation": "<p> Set to true to fetch Git submodules for your AWS CodeBuild build project. </p>",
          "shape": "WrapperBoolean"
        }
      },
      "required": [
        "fetchSubmodules"
      ],
      "type": "structure"
    },
    "ImagePullCredentialsType": {
      "enum": [
        "CODEBUILD",
        "SERVICE_ROLE"
      ],
      "type": "string"
    },
    "ImageVersions": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ImportSourceCredentialsInput": {
      "members": {
        "authType": {
          "documentation": "<p> The type of authentication used to connect to a GitHub, GitHub Enterprise, or Bitbucket repository. An OAUTH connection is not supported by the API and must be created using the AWS CodeBuild console. </p>",
          "shape": "AuthType"
        },
        "serverType": {
          "documentation": "<p> The source provider used for this project. </p>",
          "shape": "ServerType"
        },
        "shouldOverwrite": {
          "documentation": "<p> Set to <code>false</code> to prevent overwriting the repository source credentials. Set to <code>true</code> to overwrite the repository source credentials. The default value is <code>true</code>. </p>",
          "shape": "WrapperBoolean"
        },
        "token": {
          "documentation": "<p> For GitHub or GitHub Enterprise, this is the personal access token. For Bitbucket, this is the app password. </p>",
          "shape": "SensitiveNonEmptyString"
        },
        "username": {
          "documentation": "<p> The Bitbucket username when the <code>authType</code> is BASIC_AUTH. This parameter is not valid for other types of source providers or connections. </p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "token",
        "serverType",
        "authType"
      ],
      "type": "structure"
    },
    "ImportSourceCredentialsOutput": {
      "members": {
        "arn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the token. </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "InvalidInputException": {
      "documentation": "<p>The input value that was provided is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidateProjectCacheInput": {
      "members": {
        "projectName": {
          "documentation": "<p>The name of the AWS CodeBuild build project that the cache is reset for.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "structure"
    },
    "InvalidateProjectCacheOutput": {
      "members": {},
      "type": "structure"
    },
    "KeyInput": {
      "max": 127,
      "min": 1,
      "pattern": "^([\\p{L}\\p{Z}\\p{N}_.:/=@+\\-]*)$",
      "type": "string"
    },
    "LanguageType": {
      "enum": [
        "JAVA",
        "PYTHON",
        "NODE_JS",
        "RUBY",
        "GOLANG",
        "DOCKER",
        "ANDROID",
        "DOTNET",
        "BASE",
        "PHP"
      ],
      "type": "string"
    },
    "ListBuildsForProjectInput": {
      "members": {
        "nextToken": {
          "documentation": "<p>During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.</p>",
          "shape": "String"
        },
        "projectName": {
          "documentation": "<p>The name of the AWS CodeBuild project.</p>",
          "shape": "NonEmptyString"
        },
        "sortOrder": {
          "documentation": "<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>",
          "shape": "SortOrderType"
        }
      },
      "required": [
        "projectName"
      ],
      "type": "structure"
    },
    "ListBuildsForProjectOutput": {
      "members": {
        "ids": {
          "documentation": "<p>A list of build IDs for the specified build project, with each build ID representing a single build.</p>",
          "shape": "BuildIds"
        },
        "nextToken": {
          "documentation": "<p>If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListBuildsInput": {
      "members": {
        "nextToken": {
          "documentation": "<p>During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.</p>",
          "shape": "String"
        },
        "sortOrder": {
          "documentation": "<p>The order to list build IDs. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List the build IDs in ascending order by build ID.</p> </li> <li> <p> <code>DESCENDING</code>: List the build IDs in descending order by build ID.</p> </li> </ul>",
          "shape": "SortOrderType"
        }
      },
      "type": "structure"
    },
    "ListBuildsOutput": {
      "members": {
        "ids": {
          "documentation": "<p>A list of build IDs, with each build ID representing a single build.</p>",
          "shape": "BuildIds"
        },
        "nextToken": {
          "documentation": "<p>If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListCuratedEnvironmentImagesInput": {
      "members": {},
      "type": "structure"
    },
    "ListCuratedEnvironmentImagesOutput": {
      "members": {
        "platforms": {
          "documentation": "<p>Information about supported platforms for Docker images that are managed by AWS CodeBuild.</p>",
          "shape": "EnvironmentPlatforms"
        }
      },
      "type": "structure"
    },
    "ListProjectsInput": {
      "members": {
        "nextToken": {
          "documentation": "<p>During a previous call, if there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned.</p>",
          "shape": "NonEmptyString"
        },
        "sortBy": {
          "documentation": "<p>The criterion to be used to list build project names. Valid values include:</p> <ul> <li> <p> <code>CREATED_TIME</code>: List based on when each build project was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List based on when information about each build project was last changed.</p> </li> <li> <p> <code>NAME</code>: List based on each build project's name.</p> </li> </ul> <p>Use <code>sortOrder</code> to specify in what order to list the build project names based on the preceding criteria.</p>",
          "shape": "ProjectSortByType"
        },
        "sortOrder": {
          "documentation": "<p>The order in which to list build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul> <p>Use <code>sortBy</code> to specify the criterion to be used to list build project names.</p>",
          "shape": "SortOrderType"
        }
      },
      "type": "structure"
    },
    "ListProjectsOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p>If there are more than 100 items in the list, only the first 100 items are returned, along with a unique string called a <i>nextToken</i>. To get the next batch of items in the list, call this operation again, adding the next token to the call.</p>",
          "shape": "String"
        },
        "projects": {
          "documentation": "<p>The list of build project names, with each build project name representing a single build project.</p>",
          "shape": "ProjectNames"
        }
      },
      "type": "structure"
    },
    "ListReportGroupsInput": {
      "members": {
        "maxResults": {
          "documentation": "<p> The maximum number of paginated report groups returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>ReportGroup</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "sortBy": {
          "documentation": "<p> The criterion to be used to list build report groups. Valid values include: </p> <ul> <li> <p> <code>CREATED_TIME</code>: List based on when each report group was created.</p> </li> <li> <p> <code>LAST_MODIFIED_TIME</code>: List based on when each report group was last changed.</p> </li> <li> <p> <code>NAME</code>: List based on each report group's name.</p> </li> </ul>",
          "shape": "ReportGroupSortByType"
        },
        "sortOrder": {
          "documentation": "<p> Used to specify the order to sort the list of returned report groups. Valid values are <code>ASCENDING</code> and <code>DESCENDING</code>. </p>",
          "shape": "SortOrderType"
        }
      },
      "type": "structure"
    },
    "ListReportGroupsOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reportGroups": {
          "documentation": "<p> The list of ARNs for the report groups in the current AWS account. </p>",
          "shape": "ReportGroupArns"
        }
      },
      "type": "structure"
    },
    "ListReportsForReportGroupInput": {
      "members": {
        "filter": {
          "documentation": "<p> A <code>ReportFilter</code> object used to filter the returned reports. </p>",
          "shape": "ReportFilter"
        },
        "maxResults": {
          "documentation": "<p> The maximum number of paginated reports in this report group returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>Report</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reportGroupArn": {
          "documentation": "<p> The ARN of the report group for which you want to return report ARNs. </p>",
          "shape": "String"
        },
        "sortOrder": {
          "documentation": "<p> Use to specify whether the results are returned in ascending or descending order. </p>",
          "shape": "SortOrderType"
        }
      },
      "required": [
        "reportGroupArn"
      ],
      "type": "structure"
    },
    "ListReportsForReportGroupOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reports": {
          "documentation": "<p> The list of returned report group ARNs. </p>",
          "shape": "ReportArns"
        }
      },
      "type": "structure"
    },
    "ListReportsInput": {
      "members": {
        "filter": {
          "documentation": "<p> A <code>ReportFilter</code> object used to filter the returned reports. </p>",
          "shape": "ReportFilter"
        },
        "maxResults": {
          "documentation": "<p> The maximum number of paginated reports returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>Report</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "sortOrder": {
          "documentation": "<p> Specifies the sort order for the list of returned reports. Valid values are: </p> <ul> <li> <p> <code>ASCENDING</code>: return reports in chronological order based on their creation date. </p> </li> <li> <p> <code>DESCENDING</code>: return reports in the reverse chronological order based on their creation date. </p> </li> </ul>",
          "shape": "SortOrderType"
        }
      },
      "type": "structure"
    },
    "ListReportsOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reports": {
          "documentation": "<p> The list of returned ARNs for the reports in the current AWS account. </p>",
          "shape": "ReportArns"
        }
      },
      "type": "structure"
    },
    "ListSharedProjectsInput": {
      "members": {
        "maxResults": {
          "documentation": "<p> The maximum number of paginated shared build projects returned per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>Project</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "NonEmptyString"
        },
        "sortBy": {
          "documentation": "<p> The criterion to be used to list build projects shared with the current AWS account or user. Valid values include: </p> <ul> <li> <p> <code>ARN</code>: List based on the ARN. </p> </li> <li> <p> <code>MODIFIED_TIME</code>: List based on when information about the shared project was last changed. </p> </li> </ul>",
          "shape": "SharedResourceSortByType"
        },
        "sortOrder": {
          "documentation": "<p>The order in which to list shared build projects. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul>",
          "shape": "SortOrderType"
        }
      },
      "type": "structure"
    },
    "ListSharedProjectsOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "projects": {
          "documentation": "<p> The list of ARNs for the build projects shared with the current AWS account or user. </p>",
          "shape": "ProjectArns"
        }
      },
      "type": "structure"
    },
    "ListSharedReportGroupsInput": {
      "members": {
        "maxResults": {
          "documentation": "<p> The maximum number of paginated shared report groups per response. Use <code>nextToken</code> to iterate pages in the list of returned <code>ReportGroup</code> objects. The default value is 100. </p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "sortBy": {
          "documentation": "<p> The criterion to be used to list report groups shared with the current AWS account or user. Valid values include: </p> <ul> <li> <p> <code>ARN</code>: List based on the ARN. </p> </li> <li> <p> <code>MODIFIED_TIME</code>: List based on when information about the shared report group was last changed. </p> </li> </ul>",
          "shape": "SharedResourceSortByType"
        },
        "sortOrder": {
          "documentation": "<p>The order in which to list shared report groups. Valid values include:</p> <ul> <li> <p> <code>ASCENDING</code>: List in ascending order.</p> </li> <li> <p> <code>DESCENDING</code>: List in descending order.</p> </li> </ul>",
          "shape": "SortOrderType"
        }
      },
      "type": "structure"
    },
    "ListSharedReportGroupsOutput": {
      "members": {
        "nextToken": {
          "documentation": "<p> During a previous call, the maximum number of items that can be returned is the value specified in <code>maxResults</code>. If there more items in the list, then a unique string called a <i>nextToken</i> is returned. To get the next batch of items in the list, call this operation again, adding the next token to the call. To get all of the items in the list, keep calling this operation with each subsequent next token that is returned, until no more next tokens are returned. </p>",
          "shape": "String"
        },
        "reportGroups": {
          "documentation": "<p> The list of ARNs for the report groups shared with the current AWS account or user. </p>",
          "shape": "ReportGroupArns"
        }
      },
      "type": "structure"
    },
    "ListSourceCredentialsInput": {
      "members": {},
      "type": "structure"
    },
    "ListSourceCredentialsOutput": {
      "members": {
        "sourceCredentialsInfos": {
          "documentation": "<p> A list of <code>SourceCredentialsInfo</code> objects. Each <code>SourceCredentialsInfo</code> object includes the authentication type, token ARN, and type of source provider for one set of credentials. </p>",
          "shape": "SourceCredentialsInfos"
        }
      },
      "type": "structure"
    },
    "LogsConfig": {
      "documentation": "<p> Information about logs for a build project. These can be logs in Amazon CloudWatch Logs, built in a specified S3 bucket, or both. </p>",
      "members": {
        "cloudWatchLogs": {
          "documentation": "<p> Information about Amazon CloudWatch Logs for a build project. Amazon CloudWatch Logs are enabled by default. </p>",
          "shape": "CloudWatchLogsConfig"
        },
        "s3Logs": {
          "documentation": "<p> Information about logs built to an S3 bucket for a build project. S3 logs are not enabled by default. </p>",
          "shape": "S3LogsConfig"
        }
      },
      "type": "structure"
    },
    "LogsConfigStatusType": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "LogsLocation": {
      "documentation": "<p>Information about build logs in Amazon CloudWatch Logs.</p>",
      "members": {
        "cloudWatchLogs": {
          "documentation": "<p> Information about Amazon CloudWatch Logs for a build project. </p>",
          "shape": "CloudWatchLogsConfig"
        },
        "cloudWatchLogsArn": {
          "documentation": "<p> The ARN of Amazon CloudWatch Logs for a build project. Its format is <code>arn:${Partition}:logs:${Region}:${Account}:log-group:${LogGroupName}:log-stream:${LogStreamName}</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazoncloudwatchlogs.html#amazoncloudwatchlogs-resources-for-iam-policies\">Resources Defined by Amazon CloudWatch Logs</a>. </p>",
          "shape": "String"
        },
        "deepLink": {
          "documentation": "<p>The URL to an individual build log in Amazon CloudWatch Logs.</p>",
          "shape": "String"
        },
        "groupName": {
          "documentation": "<p>The name of the Amazon CloudWatch Logs group for the build logs.</p>",
          "shape": "String"
        },
        "s3DeepLink": {
          "documentation": "<p> The URL to a build log in an S3 bucket. </p>",
          "shape": "String"
        },
        "s3Logs": {
          "documentation": "<p> Information about S3 logs for a build project. </p>",
          "shape": "S3LogsConfig"
        },
        "s3LogsArn": {
          "documentation": "<p> The ARN of S3 logs for a build project. Its format is <code>arn:${Partition}:s3:::${BucketName}/${ObjectName}</code>. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/list_amazons3.html#amazons3-resources-for-iam-policies\">Resources Defined by Amazon S3</a>. </p>",
          "shape": "String"
        },
        "streamName": {
          "documentation": "<p>The name of the Amazon CloudWatch Logs stream for the build logs.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "NetworkInterface": {
      "documentation": "<p>Describes a network interface.</p>",
      "members": {
        "networkInterfaceId": {
          "documentation": "<p>The ID of the network interface.</p>",
          "shape": "NonEmptyString"
        },
        "subnetId": {
          "documentation": "<p>The ID of the subnet.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "NonEmptyString": {
      "min": 1,
      "type": "string"
    },
    "OAuthProviderException": {
      "documentation": "<p>There was a problem with the underlying OAuth provider.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "PageSize": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "PhaseContext": {
      "documentation": "<p>Additional information about a build phase that has an error. You can use this information for troubleshooting.</p>",
      "members": {
        "message": {
          "documentation": "<p>An explanation of the build phase's context. This might include a command ID and an exit code.</p>",
          "shape": "String"
        },
        "statusCode": {
          "documentation": "<p>The status code for the context of the build phase.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PhaseContexts": {
      "member": {
        "shape": "PhaseContext"
      },
      "type": "list"
    },
    "PlatformType": {
      "enum": [
        "DEBIAN",
        "AMAZON_LINUX",
        "UBUNTU",
        "WINDOWS_SERVER"
      ],
      "type": "string"
    },
    "Project": {
      "documentation": "<p>Information about a build project.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the build project.</p>",
          "shape": "String"
        },
        "artifacts": {
          "documentation": "<p>Information about the build output artifacts for the build project.</p>",
          "shape": "ProjectArtifacts"
        },
        "badge": {
          "documentation": "<p>Information about the build badge for the build project.</p>",
          "shape": "ProjectBadge"
        },
        "cache": {
          "documentation": "<p>Information about the cache for the build project.</p>",
          "shape": "ProjectCache"
        },
        "created": {
          "documentation": "<p>When the build project was created, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "description": {
          "documentation": "<p>A description that makes the build project easy to identify.</p>",
          "shape": "ProjectDescription"
        },
        "encryptionKey": {
          "documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) to be used for encrypting the build output artifacts.</p> <note> <p> You can use a cross-account KMS key to encrypt the build output artifacts if your service role has permission to that key. </p> </note> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK's alias (using the format <code>alias/<i>alias-name</i> </code>).</p>",
          "shape": "NonEmptyString"
        },
        "environment": {
          "documentation": "<p>Information about the build environment for this build project.</p>",
          "shape": "ProjectEnvironment"
        },
        "fileSystemLocations": {
          "documentation": "<p> An array of <code>ProjectFileSystemLocation</code> objects for a CodeBuild build project. A <code>ProjectFileSystemLocation</code> object specifies the <code>identifier</code>, <code>location</code>, <code>mountOptions</code>, <code>mountPoint</code>, and <code>type</code> of a file system created using Amazon Elastic File System. </p>",
          "shape": "ProjectFileSystemLocations"
        },
        "lastModified": {
          "documentation": "<p>When the build project's settings were last modified, expressed in Unix time format.</p>",
          "shape": "Timestamp"
        },
        "logsConfig": {
          "documentation": "<p> Information about logs for the build project. A project can create logs in Amazon CloudWatch Logs, an S3 bucket, or both. </p>",
          "shape": "LogsConfig"
        },
        "name": {
          "documentation": "<p>The name of the build project.</p>",
          "shape": "ProjectName"
        },
        "queuedTimeoutInMinutes": {
          "documentation": "<p> The number of minutes a build is allowed to be queued before it times out. </p>",
          "shape": "TimeOut"
        },
        "secondaryArtifacts": {
          "documentation": "<p> An array of <code>ProjectArtifacts</code> objects. </p>",
          "shape": "ProjectArtifactsList"
        },
        "secondarySourceVersions": {
          "documentation": "<p> An array of <code>ProjectSourceVersion</code> objects. If <code>secondarySourceVersions</code> is specified at the build level, then they take over these <code>secondarySourceVersions</code> (at the project level). </p>",
          "shape": "ProjectSecondarySourceVersions"
        },
        "secondarySources": {
          "documentation": "<p> An array of <code>ProjectSource</code> objects. </p>",
          "shape": "ProjectSources"
        },
        "serviceRole": {
          "documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>",
          "shape": "NonEmptyString"
        },
        "source": {
          "documentation": "<p>Information about the build input source code for this build project.</p>",
          "shape": "ProjectSource"
        },
        "sourceVersion": {
          "documentation": "<p>A version of the build input to be built for this project. If not specified, the latest version is used. If specified, it must be one of:</p> <ul> <li> <p>For AWS CodeCommit: the commit ID, branch, or Git tag to use.</p> </li> <li> <p>For GitHub: the commit ID, pull request ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a pull request ID is specified, it must use the format <code>pr/pull-request-ID</code> (for example <code>pr/25</code>). If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Bitbucket: the commit ID, branch name, or tag name that corresponds to the version of the source code you want to build. If a branch name is specified, the branch's HEAD commit ID is used. If not specified, the default branch's HEAD commit ID is used.</p> </li> <li> <p>For Amazon Simple Storage Service (Amazon S3): the version ID of the object that represents the build input ZIP file to use.</p> </li> </ul> <p> If <code>sourceVersion</code> is specified at the build level, then that version takes precedence over this <code>sourceVersion</code> (at the project level). </p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/codebuild/latest/userguide/sample-source-version.html\">Source Version Sample with CodeBuild</a> in the <i>AWS CodeBuild User Guide</i>. </p>",
          "shape": "String"
        },
        "tags": {
          "documentation": "<p>The tags for this build project.</p> <p>These tags are available for use by AWS services that support AWS CodeBuild build project tags.</p>",
          "shape": "TagList"
        },
        "timeoutInMinutes": {
          "documentation": "<p>How long, in minutes, from 5 to 480 (8 hours), for AWS CodeBuild to wait before timing out any related build that did not get marked as completed. The default is 60 minutes.</p>",
          "shape": "TimeOut"
        },
        "vpcConfig": {
          "documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>",
          "shape": "VpcConfig"
        },
        "webhook": {
          "documentation": "<p>Information about a webhook that connects repository events to a build project in AWS CodeBuild.</p>",
          "shape": "Webhook"
        }
      },
      "type": "structure"
    },
    "ProjectArns": {
      "max": 100,
      "member": {
        "shape": "NonEmptyString"
      },
      "min": 1,
      "type": "list"
    },
    "ProjectArtifacts": {
      "documentation": "<p>Information about the build output artifacts for the build project.</p>",
      "members": {
        "artifactIdentifier": {
          "documentation": "<p> An identifier for this artifact definition. </p>",
          "shape": "String"
        },
        "encryptionDisabled": {
[...]
