{
  "documentation": "<fullname>AWS CloudTrail</fullname> <p>This is the CloudTrail API Reference. It provides descriptions of actions, data types, common parameters, and common errors for CloudTrail.</p> <p>CloudTrail is a web service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. The recorded information includes the identity of the user, the start time of the AWS API call, the source IP address, the request parameters, and the response elements returned by the service.</p> <note> <p>As an alternative to the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWSCloudTrail. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services page</a>.</p> </note> <p>See the <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-user-guide.html\">AWS CloudTrail User Guide</a> for information about the data that is included with each AWS API call listed in the log files.</p>",
  "metadata": {
    "apiVersion": "2013-11-01",
    "endpointPrefix": "cloudtrail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CloudTrail",
    "serviceFullName": "AWS CloudTrail",
    "serviceId": "CloudTrail",
    "signatureVersion": "v4",
    "targetPrefix": "com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101",
    "uid": "cloudtrail-2013-11-01"
  },
  "operations": {
    "AddTags": {
      "documentation": "<p>Adds one or more tags to a trail, up to a limit of 50. Overwrites an existing tag's value when a new value is specified for an existing tag key. Tag key names must be unique for a trail; you cannot have two keys with the same name but different values. If you specify a key without a value, the tag will be created with the specified key and a value of null. You can tag a trail that applies to all AWS Regions only from the Region in which the trail was created (also known as its home region).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "CloudTrailARNInvalidException"
        },
        {
          "shape": "ResourceTypeNotSupportedException"
        },
        {
          "shape": "TagsLimitExceededException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidTagParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "AddTagsRequest"
      },
      "name": "AddTags",
      "output": {
        "shape": "AddTagsResponse"
      }
    },
    "CreateTrail": {
      "documentation": "<p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. </p>",
      "errors": [
        {
          "shape": "MaximumNumberOfTrailsExceededException"
        },
        {
          "shape": "TrailAlreadyExistsException"
        },
        {
          "shape": "S3BucketDoesNotExistException"
        },
        {
          "shape": "InsufficientS3BucketPolicyException"
        },
        {
          "shape": "InsufficientSnsTopicPolicyException"
        },
        {
          "shape": "InsufficientEncryptionPolicyException"
        },
        {
          "shape": "InvalidS3BucketNameException"
        },
        {
          "shape": "InvalidS3PrefixException"
        },
        {
          "shape": "InvalidSnsTopicNameException"
        },
        {
          "shape": "InvalidKmsKeyIdException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "TrailNotProvidedException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "KmsKeyNotFoundException"
        },
        {
          "shape": "KmsKeyDisabledException"
        },
        {
          "shape": "KmsException"
        },
        {
          "shape": "InvalidCloudWatchLogsLogGroupArnException"
        },
        {
          "shape": "InvalidCloudWatchLogsRoleArnException"
        },
        {
          "shape": "CloudWatchLogsDeliveryUnavailableException"
        },
        {
          "shape": "InvalidTagParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "CloudTrailAccessNotEnabledException"
        },
        {
          "shape": "InsufficientDependencyServiceAccessPermissionException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        },
        {
          "shape": "OrganizationsNotInUseException"
        },
        {
          "shape": "OrganizationNotInAllFeaturesModeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "CreateTrailRequest"
      },
      "name": "CreateTrail",
      "output": {
        "shape": "CreateTrailResponse"
      }
    },
    "DeleteTrail": {
      "documentation": "<p>Deletes a trail. This operation must be called from the region in which the trail was created. <code>DeleteTrail</code> cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidHomeRegionException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        },
        {
          "shape": "InsufficientDependencyServiceAccessPermissionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeleteTrailRequest"
      },
      "name": "DeleteTrail",
      "output": {
        "shape": "DeleteTrailResponse"
      }
    },
    "DescribeTrails": {
      "documentation": "<p>Retrieves settings for one or more trails associated with the current region for your account.</p>",
      "errors": [
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidTrailNameException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeTrailsRequest"
      },
      "name": "DescribeTrails",
      "output": {
        "shape": "DescribeTrailsResponse"
      }
    },
    "GetEventSelectors": {
      "documentation": "<p>Describes the settings for the event selectors that you configured for your trail. The information returned for your event selectors includes the following:</p> <ul> <li> <p>If your event selector includes read-only events, write-only events, or all events. This applies to both management events and data events.</p> </li> <li> <p>If your event selector includes management events.</p> </li> <li> <p>If your event selector includes data events, the Amazon S3 objects or AWS Lambda functions that you are logging for data events.</p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html\">Logging Data and Management Events for Trails </a> in the <i>AWS CloudTrail User Guide</i>.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetEventSelectorsRequest"
      },
      "name": "GetEventSelectors",
      "output": {
        "shape": "GetEventSelectorsResponse"
      }
    },
    "GetInsightSelectors": {
      "documentation": "<p>Describes the settings for the Insights event selectors that you configured for your trail. <code>GetInsightSelectors</code> shows if CloudTrail Insights event logging is enabled on the trail, and if it is, which insight types are enabled. If you run <code>GetInsightSelectors</code> on a trail that does not have Insights events enabled, the operation throws the exception <code>InsightNotEnabledException</code> </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-insights-events-with-cloudtrail.html\">Logging CloudTrail Insights Events for Trails </a> in the <i>AWS CloudTrail User Guide</i>.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InsightNotEnabledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetInsightSelectorsRequest"
      },
      "name": "GetInsightSelectors",
      "output": {
        "shape": "GetInsightSelectorsResponse"
      }
    },
    "GetTrail": {
      "documentation": "<p>Returns settings information for a specified trail.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetTrailRequest"
      },
      "name": "GetTrail",
      "output": {
        "shape": "GetTrailResponse"
      }
    },
    "GetTrailStatus": {
      "documentation": "<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. This operation returns trail status from a single region. To return trail status from all regions, you must call the operation on each region.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "GetTrailStatusRequest"
      },
      "name": "GetTrailStatus",
      "output": {
        "shape": "GetTrailStatusResponse"
      }
    },
    "ListPublicKeys": {
      "documentation": "<p>Returns all public keys whose private keys were used to sign the digest files within the specified time range. The public key is needed to validate digest files that were signed with its corresponding private key.</p> <note> <p>CloudTrail uses different private/public key pairs per region. Each digest file is signed with a private key unique to its region. Therefore, when you validate a digest file from a particular region, you must look in the same region for its corresponding public key.</p> </note>",
      "errors": [
        {
          "shape": "InvalidTimeRangeException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListPublicKeysRequest"
      },
      "name": "ListPublicKeys",
      "output": {
        "shape": "ListPublicKeysResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Lists the tags for the trail in the current region.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "CloudTrailARNInvalidException"
        },
        {
          "shape": "ResourceTypeNotSupportedException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "InvalidTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "ListTrails": {
      "documentation": "<p>Lists trails that are in the current account.</p>",
      "errors": [
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTrailsRequest"
      },
      "name": "ListTrails",
      "output": {
        "shape": "ListTrailsResponse"
      }
    },
    "LookupEvents": {
      "documentation": "<p>Looks up <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-management-events\">management events</a> or <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-concepts.html#cloudtrail-concepts-insights-events\">CloudTrail Insights events</a> that are captured by CloudTrail. You can look up events that occurred in a region within the last 90 days. Lookup supports the following attributes for management events:</p> <ul> <li> <p>AWS access key</p> </li> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Event source</p> </li> <li> <p>Read only</p> </li> <li> <p>Resource name</p> </li> <li> <p>Resource type</p> </li> <li> <p>User name</p> </li> </ul> <p>Lookup supports the following attributes for Insights events:</p> <ul> <li> <p>Event ID</p> </li> <li> <p>Event name</p> </li> <li> <p>Event source</p> </li> </ul> <p>All attributes are optional. The default number of results returned is 50, with a maximum of 50 possible. The response includes a token that you can use to get the next page of results.</p> <important> <p>The rate of lookup requests is limited to two per second per account. If this limit is exceeded, a throttling error occurs.</p> </important>",
      "errors": [
        {
          "shape": "InvalidLookupAttributesException"
        },
        {
          "shape": "InvalidTimeRangeException"
        },
        {
          "shape": "InvalidMaxResultsException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidEventCategoryException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "LookupEventsRequest"
      },
      "name": "LookupEvents",
      "output": {
        "shape": "LookupEventsResponse"
      }
    },
    "PutEventSelectors": {
      "documentation": "<p>Configures an event selector for your trail. Use event selectors to further specify the management and data event settings for your trail. By default, trails created without specific event selectors will be configured to log all read and write management events, and no data events. </p> <p>When an event occurs in your account, CloudTrail evaluates the event selectors in all trails. For each trail, if the event matches any event selector, the trail processes and logs the event. If the event doesn't match any event selector, the trail doesn't log the event. </p> <p>Example</p> <ol> <li> <p>You create an event selector for a trail and specify that you want write-only events.</p> </li> <li> <p>The EC2 <code>GetConsoleOutput</code> and <code>RunInstances</code> API operations occur in your account.</p> </li> <li> <p>CloudTrail evaluates whether the events match your event selectors.</p> </li> <li> <p>The <code>RunInstances</code> is a write-only event and it matches your event selector. The trail logs the event.</p> </li> <li> <p>The <code>GetConsoleOutput</code> is a read-only event but it doesn't match your event selector. The trail doesn't log the event. </p> </li> </ol> <p>The <code>PutEventSelectors</code> operation must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p> <p>You can configure up to five event selectors for each trail. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html\">Logging Data and Management Events for Trails </a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/WhatIsCloudTrail-Limits.html\">Limits in AWS CloudTrail</a> in the <i>AWS CloudTrail User Guide</i>.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidHomeRegionException"
        },
        {
          "shape": "InvalidEventSelectorsException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        },
        {
          "shape": "InsufficientDependencyServiceAccessPermissionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutEventSelectorsRequest"
      },
      "name": "PutEventSelectors",
      "output": {
        "shape": "PutEventSelectorsResponse"
      }
    },
    "PutInsightSelectors": {
      "documentation": "<p>Lets you enable Insights event logging by specifying the Insights selectors that you want to enable on an existing trail. You also use <code>PutInsightSelectors</code> to turn off Insights event logging, by passing an empty list of insight types. In this release, only <code>ApiCallRateInsight</code> is supported as an Insights selector.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidHomeRegionException"
        },
        {
          "shape": "InvalidInsightSelectorsException"
        },
        {
          "shape": "InsufficientS3BucketPolicyException"
        },
        {
          "shape": "InsufficientEncryptionPolicyException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "PutInsightSelectorsRequest"
      },
      "name": "PutInsightSelectors",
      "output": {
        "shape": "PutInsightSelectorsResponse"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes the specified tags from a trail.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "CloudTrailARNInvalidException"
        },
        {
          "shape": "ResourceTypeNotSupportedException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidTagParameterException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RemoveTagsRequest"
      },
      "name": "RemoveTags",
      "output": {
        "shape": "RemoveTagsResponse"
      }
    },
    "StartLogging": {
      "documentation": "<p>Starts the recording of AWS API calls and log file delivery for a trail. For a trail that is enabled in all regions, this operation must be called from the region in which the trail was created. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail that is enabled in all regions.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidHomeRegionException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        },
        {
          "shape": "InsufficientDependencyServiceAccessPermissionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StartLoggingRequest"
      },
      "name": "StartLogging",
      "output": {
        "shape": "StartLoggingResponse"
      }
    },
    "StopLogging": {
      "documentation": "<p>Suspends the recording of AWS API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording. For a trail enabled in all regions, this operation must be called from the region in which the trail was created, or an <code>InvalidHomeRegionException</code> will occur. This operation cannot be called on the shadow trails (replicated trails in other regions) of a trail enabled in all regions.</p>",
      "errors": [
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "InvalidHomeRegionException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        },
        {
          "shape": "InsufficientDependencyServiceAccessPermissionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "StopLoggingRequest"
      },
      "name": "StopLogging",
      "output": {
        "shape": "StopLoggingResponse"
      }
    },
    "UpdateTrail": {
      "documentation": "<p>Updates the settings that specify delivery of log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. <code>UpdateTrail</code> must be called from the region in which the trail was created; otherwise, an <code>InvalidHomeRegionException</code> is thrown.</p>",
      "errors": [
        {
          "shape": "S3BucketDoesNotExistException"
        },
        {
          "shape": "InsufficientS3BucketPolicyException"
        },
        {
          "shape": "InsufficientSnsTopicPolicyException"
        },
        {
          "shape": "InsufficientEncryptionPolicyException"
        },
        {
          "shape": "TrailNotFoundException"
        },
        {
          "shape": "InvalidS3BucketNameException"
        },
        {
          "shape": "InvalidS3PrefixException"
        },
        {
          "shape": "InvalidSnsTopicNameException"
        },
        {
          "shape": "InvalidKmsKeyIdException"
        },
        {
          "shape": "InvalidTrailNameException"
        },
        {
          "shape": "TrailNotProvidedException"
        },
        {
          "shape": "InvalidEventSelectorsException"
        },
        {
          "shape": "InvalidParameterCombinationException"
        },
        {
          "shape": "InvalidHomeRegionException"
        },
        {
          "shape": "KmsKeyNotFoundException"
        },
        {
          "shape": "KmsKeyDisabledException"
        },
        {
          "shape": "KmsException"
        },
        {
          "shape": "InvalidCloudWatchLogsLogGroupArnException"
        },
        {
          "shape": "InvalidCloudWatchLogsRoleArnException"
        },
        {
          "shape": "CloudWatchLogsDeliveryUnavailableException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "CloudTrailAccessNotEnabledException"
        },
        {
          "shape": "InsufficientDependencyServiceAccessPermissionException"
        },
        {
          "shape": "OrganizationsNotInUseException"
        },
        {
          "shape": "NotOrganizationMasterAccountException"
        },
        {
          "shape": "OrganizationNotInAllFeaturesModeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "UpdateTrailRequest"
      },
      "name": "UpdateTrail",
      "output": {
        "shape": "UpdateTrailResponse"
      }
    }
  },
  "shapes": {
    "AddTagsRequest": {
      "documentation": "<p>Specifies the tags to add to a trail.</p>",
      "members": {
        "ResourceId": {
          "documentation": "<p>Specifies the ARN of the trail to which one or more tags will be added. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        },
        "TagsList": {
          "documentation": "<p>Contains a list of CloudTrail tags, up to a limit of 50</p>",
          "shape": "TagsList"
        }
      },
      "required": [
        "ResourceId"
      ],
      "type": "structure"
    },
    "AddTagsResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {},
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ByteBuffer": {
      "type": "blob"
    },
    "CloudTrailARNInvalidException": {
      "documentation": "<p>This exception is thrown when an operation is called with an invalid trail ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CloudTrailAccessNotEnabledException": {
      "documentation": "<p>This exception is thrown when trusted access has not been enabled between AWS CloudTrail and AWS Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_integrate_services.html\">Enabling Trusted Access with Other AWS Services</a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>. </p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CloudWatchLogsDeliveryUnavailableException": {
      "documentation": "<p>Cannot set a CloudWatch Logs delivery for this region.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CreateTrailRequest": {
      "documentation": "<p>Specifies the settings for each trail.</p>",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "documentation": "<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>",
          "shape": "String"
        },
        "CloudWatchLogsRoleArn": {
          "documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>",
          "shape": "String"
        },
        "EnableLogFileValidation": {
          "documentation": "<p>Specifies whether log file integrity validation is enabled. The default is false.</p> <note> <p>When you disable log file integrity validation, the chain of digest files is broken after one hour. CloudTrail will not create digest files for log files that were delivered during a period in which log file integrity validation was disabled. For example, if you enable log file integrity validation at noon on January 1, disable it at noon on January 2, and re-enable it at noon on January 10, digest files will not be created for the log files delivered from noon on January 2 to noon on January 10. The same applies whenever you stop CloudTrail logging or delete a trail.</p> </note>",
          "shape": "Boolean"
        },
        "IncludeGlobalServiceEvents": {
          "documentation": "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>",
          "shape": "Boolean"
        },
        "IsMultiRegionTrail": {
          "documentation": "<p>Specifies whether the trail is created in the current region or in all regions. The default is false, which creates a trail only in the region where you are signed in. As a best practice, consider creating trails that log events in all regions.</p>",
          "shape": "Boolean"
        },
        "IsOrganizationTrail": {
          "documentation": "<p>Specifies whether the trail is created for all accounts in an organization in AWS Organizations, or only for the current AWS account. The default is false, and cannot be true unless the call is made on behalf of an AWS account that is the master account for an organization in AWS Organizations.</p>",
          "shape": "Boolean"
        },
        "KmsKeyId": {
          "documentation": "<p>Specifies the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can be an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully specified ARN to a key, or a globally unique identifier.</p> <p>Examples:</p> <ul> <li> <p>alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-2:123456789012:alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>12345678-1234-1234-1234-123456789012</p> </li> </ul>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>Specifies the name of the trail. The name must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>",
          "shape": "String"
        },
        "S3BucketName": {
          "documentation": "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>",
          "shape": "String"
        },
        "S3KeyPrefix": {
          "documentation": "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>",
          "shape": "String"
        },
        "SnsTopicName": {
          "documentation": "<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>",
          "shape": "String"
        },
        "TagsList": {
          "shape": "TagsList"
        }
      },
      "required": [
        "Name",
        "S3BucketName"
      ],
      "type": "structure"
    },
    "CreateTrailResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "documentation": "<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>",
          "shape": "String"
        },
        "CloudWatchLogsRoleArn": {
          "documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>",
          "shape": "String"
        },
        "IncludeGlobalServiceEvents": {
          "documentation": "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>",
          "shape": "Boolean"
        },
        "IsMultiRegionTrail": {
          "documentation": "<p>Specifies whether the trail exists in one region or in all regions.</p>",
          "shape": "Boolean"
        },
        "IsOrganizationTrail": {
          "documentation": "<p>Specifies whether the trail is an organization trail.</p>",
          "shape": "Boolean"
        },
        "KmsKeyId": {
          "documentation": "<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the format:</p> <p> <code>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</code> </p>",
          "shape": "String"
        },
        "LogFileValidationEnabled": {
          "documentation": "<p>Specifies whether log file integrity validation is enabled.</p>",
          "shape": "Boolean"
        },
        "Name": {
          "documentation": "<p>Specifies the name of the trail.</p>",
          "shape": "String"
        },
        "S3BucketName": {
          "documentation": "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>",
          "shape": "String"
        },
        "S3KeyPrefix": {
          "documentation": "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.</p>",
          "shape": "String"
        },
        "SnsTopicARN": {
          "documentation": "<p>Specifies the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when log files are delivered. The format of a topic ARN is:</p> <p> <code>arn:aws:sns:us-east-2:123456789012:MyTopic</code> </p>",
          "shape": "String"
        },
        "SnsTopicName": {
          "deprecated": true,
          "documentation": "<p>This field is no longer in use. Use SnsTopicARN.</p>",
          "shape": "String"
        },
        "TrailARN": {
          "documentation": "<p>Specifies the ARN of the trail that was created. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DataResource": {
      "documentation": "<p>The Amazon S3 buckets or AWS Lambda functions that you specify in your event selectors for your trail to log data events. Data events provide information about the resource operations performed on or within a resource itself. These are also known as data plane operations. You can specify up to 250 data resources for a trail.</p> <note> <p>The total number of allowed data resources is 250. This number can be distributed between 1 and 5 event selectors, but the total cannot exceed 250 across all selectors.</p> </note> <p>The following example demonstrates how logging works when you configure logging of all data events for an S3 bucket named <code>bucket-1</code>. In this example, the CloudTrail user specified an empty prefix, and the option to log both <code>Read</code> and <code>Write</code> data events.</p> <ol> <li> <p>A user uploads an image file to <code>bucket-1</code>.</p> </li> <li> <p>The <code>PutObject</code> API operation is an Amazon S3 object-level API. It is recorded as a data event in CloudTrail. Because the CloudTrail user specified an S3 bucket with an empty prefix, events that occur on any object in that bucket are logged. The trail processes and logs the event.</p> </li> <li> <p>A user uploads an object to an Amazon S3 bucket named <code>arn:aws:s3:::bucket-2</code>.</p> </li> <li> <p>The <code>PutObject</code> API operation occurred for an object in an S3 bucket that the CloudTrail user didn't specify for the trail. The trail doesn\u2019t log the event.</p> </li> </ol> <p>The following example demonstrates how logging works when you configure logging of AWS Lambda data events for a Lambda function named <i>MyLambdaFunction</i>, but not for all AWS Lambda functions.</p> <ol> <li> <p>A user runs a script that includes a call to the <i>MyLambdaFunction</i> function and the <i>MyOtherLambdaFunction</i> function.</p> </li> <li> <p>The <code>Invoke</code> API operation on <i>MyLambdaFunction</i> is an AWS Lambda API. It is recorded as a data event in CloudTrail. Because the CloudTrail user specified logging data events for <i>MyLambdaFunction</i>, any invocations of that function are logged. The trail processes and logs the event. </p> </li> <li> <p>The <code>Invoke</code> API operation on <i>MyOtherLambdaFunction</i> is an AWS Lambda API. Because the CloudTrail user did not specify logging data events for all Lambda functions, the <code>Invoke</code> operation for <i>MyOtherLambdaFunction</i> does not match the function specified for the trail. The trail doesn\u2019t log the event. </p> </li> </ol>",
      "members": {
        "Type": {
          "documentation": "<p>The resource type in which you want to log data events. You can specify <code>AWS::S3::Object</code> or <code>AWS::Lambda::Function</code> resources.</p>",
          "shape": "String"
        },
        "Values": {
          "documentation": "<p>An array of Amazon Resource Name (ARN) strings or partial ARN strings for the specified objects.</p> <ul> <li> <p>To log data events for all objects in all S3 buckets in your AWS account, specify the prefix as <code>arn:aws:s3:::</code>. </p> <note> <p>This will also enable logging of data event activity performed by any user or role in your AWS account, even if that activity is performed on a bucket that belongs to another AWS account. </p> </note> </li> <li> <p>To log data events for all objects in an S3 bucket, specify the bucket and an empty object prefix such as <code>arn:aws:s3:::bucket-1/</code>. The trail logs data events for all objects in this S3 bucket.</p> </li> <li> <p>To log data events for specific objects, specify the S3 bucket and object prefix such as <code>arn:aws:s3:::bucket-1/example-images</code>. The trail logs data events for objects in this S3 bucket that match the prefix.</p> </li> <li> <p>To log data events for all functions in your AWS account, specify the prefix as <code>arn:aws:lambda</code>.</p> <note> <p>This will also enable logging of <code>Invoke</code> activity performed by any user or role in your AWS account, even if that activity is performed on a function that belongs to another AWS account. </p> </note> </li> <li> <p>To log data events for a specific Lambda function, specify the function ARN.</p> <note> <p>Lambda function ARNs are exact. For example, if you specify a function ARN <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld</i>, data events will only be logged for <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld</i>. They will not be logged for <i>arn:aws:lambda:us-west-2:111111111111:function:helloworld2</i>.</p> </note> </li> </ul>",
          "shape": "DataResourceValues"
        }
      },
      "type": "structure"
    },
    "DataResourceValues": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "DataResources": {
      "member": {
        "shape": "DataResource"
      },
      "type": "list"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeleteTrailRequest": {
      "documentation": "<p>The request that specifies the name of a trail to delete.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Specifies the name or the CloudTrail ARN of the trail to be deleted. The format of a trail ARN is: <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteTrailResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {},
      "type": "structure"
    },
    "DescribeTrailsRequest": {
      "documentation": "<p>Returns information about the trail.</p>",
      "members": {
        "includeShadowTrails": {
          "documentation": "<p>Specifies whether to include shadow trails in the response. A shadow trail is the replication in a region of a trail that was created in a different region, or in the case of an organization trail, the replication of an organization trail in member accounts. If you do not include shadow trails, organization trails in a member account and region replication trails will not be returned. The default is true.</p>",
          "shape": "Boolean"
        },
        "trailNameList": {
          "documentation": "<p>Specifies a list of trail names, trail ARNs, or both, of the trails to describe. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p> <p>If an empty list is specified, information for the trail in the current region is returned.</p> <ul> <li> <p>If an empty list is specified and <code>IncludeShadowTrails</code> is false, then information for all trails in the current region is returned.</p> </li> <li> <p>If an empty list is specified and IncludeShadowTrails is null or true, then information for all trails in the current region and any associated shadow trails in other regions is returned.</p> </li> </ul> <note> <p>If one or more trail names are specified, information is returned only if the names match the names of trails belonging only to the current region. To return information about a trail in another region, you must specify its trail ARN.</p> </note>",
          "shape": "TrailNameList"
        }
      },
      "type": "structure"
    },
    "DescribeTrailsResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {
        "trailList": {
          "documentation": "<p>The list of trail objects. Trail objects with string values are only returned if values for the objects exist in a trail's configuration. For example, <code>SNSTopicName</code> and <code>SNSTopicARN</code> are only returned in results if a trail is configured to send SNS notifications. Similarly, <code>KMSKeyId</code> only appears in results if a trail's log files are encrypted with AWS KMS-managed keys.</p>",
          "shape": "TrailList"
        }
      },
      "type": "structure"
    },
    "Event": {
      "documentation": "<p>Contains information about an event that was returned by a lookup request. The result includes a representation of a CloudTrail event.</p>",
      "members": {
        "AccessKeyId": {
          "documentation": "<p>The AWS access key ID that was used to sign the request. If the request was made with temporary security credentials, this is the access key ID of the temporary credentials.</p>",
          "shape": "String"
        },
        "CloudTrailEvent": {
          "documentation": "<p>A JSON string that contains a representation of the event returned.</p>",
          "shape": "String"
        },
        "EventId": {
          "documentation": "<p>The CloudTrail ID of the event returned.</p>",
          "shape": "String"
        },
        "EventName": {
          "documentation": "<p>The name of the event returned.</p>",
          "shape": "String"
        },
        "EventSource": {
          "documentation": "<p>The AWS service that the request was made to.</p>",
          "shape": "String"
        },
        "EventTime": {
          "documentation": "<p>The date and time of the event returned.</p>",
          "shape": "Date"
        },
        "ReadOnly": {
          "documentation": "<p>Information about whether the event is a write event or a read event. </p>",
          "shape": "String"
        },
        "Resources": {
          "documentation": "<p>A list of resources referenced by the event returned.</p>",
          "shape": "ResourceList"
        },
        "Username": {
          "documentation": "<p>A user name or role name of the requester that called the API in the event returned.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EventCategory": {
      "enum": [
        "insight"
      ],
      "type": "string"
    },
    "EventSelector": {
      "documentation": "<p>Use event selectors to further specify the management and data event settings for your trail. By default, trails created without specific event selectors will be configured to log all read and write management events, and no data events. When an event occurs in your account, CloudTrail evaluates the event selector for all trails. For each trail, if the event matches any event selector, the trail processes and logs the event. If the event doesn't match any event selector, the trail doesn't log the event.</p> <p>You can configure up to five event selectors for a trail.</p>",
      "members": {
        "DataResources": {
          "documentation": "<p>CloudTrail supports data event logging for Amazon S3 objects and AWS Lambda functions. You can specify up to 250 resources for an individual event selector, but the total number of data resources cannot exceed 250 across all event selectors in a trail. This limit does not apply if you configure resource logging for all data events. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-data-events\">Data Events</a> and <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/WhatIsCloudTrail-Limits.html\">Limits in AWS CloudTrail</a> in the <i>AWS CloudTrail User Guide</i>.</p>",
          "shape": "DataResources"
        },
        "ExcludeManagementEventSources": {
          "documentation": "<p>An optional list of service event sources from which you do not want management events to be logged on your trail. In this release, the list can be empty (disables the filter), or it can filter out AWS Key Management Service events by containing <code>\"kms.amazonaws.com\"</code>. By default, <code>ExcludeManagementEventSources</code> is empty, and AWS KMS events are included in events that are logged to your trail. </p>",
          "shape": "ExcludeManagementEventSources"
        },
        "IncludeManagementEvents": {
          "documentation": "<p>Specify if you want your event selector to include management events for your trail.</p> <p> For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/logging-management-and-data-events-with-cloudtrail.html#logging-management-events\">Management Events</a> in the <i>AWS CloudTrail User Guide</i>.</p> <p>By default, the value is <code>true</code>.</p>",
          "shape": "Boolean"
        },
        "ReadWriteType": {
          "documentation": "<p>Specify if you want your trail to log read-only events, write-only events, or all. For example, the EC2 <code>GetConsoleOutput</code> is a read-only API operation and <code>RunInstances</code> is a write-only API operation.</p> <p> By default, the value is <code>All</code>.</p>",
          "shape": "ReadWriteType"
        }
      },
      "type": "structure"
    },
    "EventSelectors": {
      "member": {
        "shape": "EventSelector"
      },
      "type": "list"
    },
    "EventsList": {
      "member": {
        "shape": "Event"
      },
      "type": "list"
    },
    "ExcludeManagementEventSources": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "GetEventSelectorsRequest": {
      "members": {
        "TrailName": {
          "documentation": "<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the string must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are not valid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "TrailName"
      ],
      "type": "structure"
    },
    "GetEventSelectorsResponse": {
      "members": {
        "EventSelectors": {
          "documentation": "<p>The event selectors that are configured for the trail.</p>",
          "shape": "EventSelectors"
        },
        "TrailARN": {
          "documentation": "<p>The specified trail ARN that has the event selectors.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetInsightSelectorsRequest": {
      "members": {
        "TrailName": {
          "documentation": "<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the string must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are not valid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "TrailName"
      ],
      "type": "structure"
    },
    "GetInsightSelectorsResponse": {
      "members": {
        "InsightSelectors": {
          "documentation": "<p>A JSON string that contains the insight types you want to log on a trail. In this release, only <code>ApiCallRateInsight</code> is supported as an insight type.</p>",
          "shape": "InsightSelectors"
        },
        "TrailARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a trail for which you want to get Insights selectors.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetTrailRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name or the Amazon Resource Name (ARN) of the trail for which you want to retrieve settings information.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetTrailResponse": {
      "members": {
        "Trail": {
          "shape": "Trail"
        }
      },
      "type": "structure"
    },
    "GetTrailStatusRequest": {
      "documentation": "<p>The name of a trail about which you want the current status.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Specifies the name or the CloudTrail ARN of the trail for which you are requesting status. To get the status of a shadow trail (a replication of the trail in another region), you must specify its ARN. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "GetTrailStatusResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {
        "IsLogging": {
          "documentation": "<p>Whether the CloudTrail is currently logging AWS API calls.</p>",
          "shape": "Boolean"
        },
        "LatestCloudWatchLogsDeliveryError": {
          "documentation": "<p>Displays any CloudWatch Logs error that CloudTrail encountered when attempting to deliver logs to CloudWatch Logs.</p>",
          "shape": "String"
        },
        "LatestCloudWatchLogsDeliveryTime": {
          "documentation": "<p>Displays the most recent date and time when CloudTrail delivered logs to CloudWatch Logs.</p>",
          "shape": "Date"
        },
        "LatestDeliveryAttemptSucceeded": {
          "documentation": "<p>This field is no longer in use.</p>",
          "shape": "String"
        },
        "LatestDeliveryAttemptTime": {
          "documentation": "<p>This field is no longer in use.</p>",
          "shape": "String"
        },
        "LatestDeliveryError": {
          "documentation": "<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver log files to the designated bucket. For more information see the topic <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p> <note> <p>This error occurs only when there is a problem with the destination S3 bucket and will not occur for timeouts. To resolve the issue, create a new bucket and call <code>UpdateTrail</code> to specify the new bucket, or fix the existing objects so that CloudTrail can again write to the bucket.</p> </note>",
          "shape": "String"
        },
        "LatestDeliveryTime": {
          "documentation": "<p>Specifies the date and time that CloudTrail last delivered log files to an account's Amazon S3 bucket.</p>",
          "shape": "Date"
        },
        "LatestDigestDeliveryError": {
          "documentation": "<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver a digest file to the designated bucket. For more information see the topic <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p> <note> <p>This error occurs only when there is a problem with the destination S3 bucket and will not occur for timeouts. To resolve the issue, create a new bucket and call <code>UpdateTrail</code> to specify the new bucket, or fix the existing objects so that CloudTrail can again write to the bucket.</p> </note>",
          "shape": "String"
        },
        "LatestDigestDeliveryTime": {
          "documentation": "<p>Specifies the date and time that CloudTrail last delivered a digest file to an account's Amazon S3 bucket.</p>",
          "shape": "Date"
        },
        "LatestNotificationAttemptSucceeded": {
          "documentation": "<p>This field is no longer in use.</p>",
          "shape": "String"
        },
        "LatestNotificationAttemptTime": {
          "documentation": "<p>This field is no longer in use.</p>",
          "shape": "String"
        },
        "LatestNotificationError": {
          "documentation": "<p>Displays any Amazon SNS error that CloudTrail encountered when attempting to send a notification. For more information about Amazon SNS errors, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/welcome.html\">Amazon SNS Developer Guide</a>. </p>",
          "shape": "String"
        },
        "LatestNotificationTime": {
          "documentation": "<p>Specifies the date and time of the most recent Amazon SNS notification that CloudTrail has written a new log file to an account's Amazon S3 bucket.</p>",
          "shape": "Date"
        },
        "StartLoggingTime": {
          "documentation": "<p>Specifies the most recent date and time when CloudTrail started recording API calls for an AWS account.</p>",
          "shape": "Date"
        },
        "StopLoggingTime": {
          "documentation": "<p>Specifies the most recent date and time when CloudTrail stopped recording API calls for an AWS account.</p>",
          "shape": "Date"
        },
        "TimeLoggingStarted": {
          "documentation": "<p>This field is no longer in use.</p>",
          "shape": "String"
        },
        "TimeLoggingStopped": {
          "documentation": "<p>This field is no longer in use.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InsightNotEnabledException": {
      "documentation": "<p>If you run <code>GetInsightSelectors</code> on a trail that does not have Insights events enabled, the operation throws the exception <code>InsightNotEnabledException</code>.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InsightSelector": {
      "documentation": "<p>A JSON string that contains a list of insight types that are logged on a trail.</p>",
      "members": {
        "InsightType": {
          "documentation": "<p>The type of insights to log on a trail. In this release, only <code>ApiCallRateInsight</code> is supported as an insight type.</p>",
          "shape": "InsightType"
        }
      },
      "type": "structure"
    },
    "InsightSelectors": {
      "member": {
        "shape": "InsightSelector"
      },
      "type": "list"
    },
    "InsightType": {
      "enum": [
        "ApiCallRateInsight"
      ],
      "type": "string"
    },
    "InsufficientDependencyServiceAccessPermissionException": {
      "documentation": "<p>This exception is thrown when the IAM user or role that is used to create the organization trail is lacking one or more required permissions for creating an organization trail in a required service. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InsufficientEncryptionPolicyException": {
      "documentation": "<p>This exception is thrown when the policy on the S3 bucket or KMS key is not sufficient.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InsufficientS3BucketPolicyException": {
      "documentation": "<p>This exception is thrown when the policy on the S3 bucket is not sufficient.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InsufficientSnsTopicPolicyException": {
      "documentation": "<p>This exception is thrown when the policy on the SNS topic is not sufficient.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidCloudWatchLogsLogGroupArnException": {
      "documentation": "<p>This exception is thrown when the provided CloudWatch log group is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidCloudWatchLogsRoleArnException": {
      "documentation": "<p>This exception is thrown when the provided role is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidEventCategoryException": {
      "documentation": "<p>Occurs if an event category that is not valid is specified as a value of <code>EventCategory</code>.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidEventSelectorsException": {
      "documentation": "<p>This exception is thrown when the <code>PutEventSelectors</code> operation is called with a number of event selectors or data resources that is not valid. The combination of event selectors and data resources is not valid. A trail can have up to 5 event selectors. A trail is limited to 250 data resources. These data resources can be distributed across event selectors, but the overall total cannot exceed 250.</p> <p>You can:</p> <ul> <li> <p>Specify a valid number of event selectors (1 to 5) for a trail.</p> </li> <li> <p>Specify a valid number of data resources (1 to 250) for an event selector. The limit of number of resources on an individual event selector is configurable up to 250. However, this upper limit is allowed only if the total number of data resources does not exceed 250 across all event selectors for a trail.</p> </li> <li> <p>Specify a valid value for a parameter. For example, specifying the <code>ReadWriteType</code> parameter with a value of <code>read-only</code> is invalid.</p> </li> </ul>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidHomeRegionException": {
      "documentation": "<p>This exception is thrown when an operation is called on a trail from a region other than the region in which the trail was created.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidInsightSelectorsException": {
      "documentation": "<p>The formatting or syntax of the <code>InsightSelectors</code> JSON statement in your <code>PutInsightSelectors</code> or <code>GetInsightSelectors</code> request is not valid, or the specified insight type in the <code>InsightSelectors</code> statement is not a valid insight type.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidKmsKeyIdException": {
      "documentation": "<p>This exception is thrown when the KMS key ARN is invalid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidLookupAttributesException": {
      "documentation": "<p>Occurs when an invalid lookup attribute is specified.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidMaxResultsException": {
      "documentation": "<p>This exception is thrown if the limit specified is invalid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>Invalid token or token that was previously used in a request with different parameters. This exception is thrown if the token is invalid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidParameterCombinationException": {
      "documentation": "<p>This exception is thrown when the combination of parameters provided is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidS3BucketNameException": {
      "documentation": "<p>This exception is thrown when the provided S3 bucket name is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidS3PrefixException": {
      "documentation": "<p>This exception is thrown when the provided S3 prefix is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidSnsTopicNameException": {
      "documentation": "<p>This exception is thrown when the provided SNS topic name is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTagParameterException": {
      "documentation": "<p>This exception is thrown when the specified tag key or values are not valid. It can also occur if there are duplicate tags or too many tags on the resource.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTimeRangeException": {
      "documentation": "<p>Occurs if the timestamp values are invalid. Either the start time occurs after the end time or the time range is outside the range of possible values.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTokenException": {
      "documentation": "<p>Reserved for future use.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTrailNameException": {
      "documentation": "<p>This exception is thrown when the provided trail name is not valid. Trail names must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "KmsException": {
      "documentation": "<p>This exception is thrown when there is an issue with the specified KMS key and the trail can\u2019t be updated.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "KmsKeyDisabledException": {
      "deprecated": true,
      "documentation": "<p>This exception is no longer in use.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "KmsKeyNotFoundException": {
      "documentation": "<p>This exception is thrown when the KMS key does not exist, or when the S3 bucket and the KMS key are not in the same region.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ListPublicKeysRequest": {
      "documentation": "<p>Requests the public keys for a specified time range.</p>",
      "members": {
        "EndTime": {
          "documentation": "<p>Optionally specifies, in UTC, the end of the time range to look up public keys for CloudTrail digest files. If not specified, the current time is used.</p>",
          "shape": "Date"
        },
        "NextToken": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "String"
        },
        "StartTime": {
          "documentation": "<p>Optionally specifies, in UTC, the start of the time range to look up public keys for CloudTrail digest files. If not specified, the current time is used, and the current public key is returned.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "ListPublicKeysResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "String"
        },
        "PublicKeyList": {
          "documentation": "<p>Contains an array of PublicKey objects.</p> <note> <p>The returned public keys may have validity time ranges that overlap.</p> </note>",
          "shape": "PublicKeyList"
        }
      },
      "type": "structure"
    },
    "ListTagsRequest": {
      "documentation": "<p>Specifies a list of trail tags to return.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "String"
        },
        "ResourceIdList": {
          "documentation": "<p>Specifies a list of trail ARNs whose tags will be listed. The list has a limit of 20 ARNs. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "ResourceIdList"
        }
      },
      "required": [
        "ResourceIdList"
      ],
      "type": "structure"
    },
    "ListTagsResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "String"
        },
        "ResourceTagList": {
          "documentation": "<p>A list of resource tags.</p>",
          "shape": "ResourceTagList"
        }
      },
      "type": "structure"
    },
    "ListTrailsRequest": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to get the next page of results after a previous API call. This token must be passed in with the same parameters that were specified in the the original call. For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListTrailsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to use to get the next page of results after a previous API call. If the token does not appear, there are no more results to return. The token must be passed in with the same parameters as the previous call. For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>",
          "shape": "String"
        },
        "Trails": {
          "documentation": "<p>Returns the name, ARN, and home region of trails in the current account.</p>",
          "shape": "Trails"
        }
      },
      "type": "structure"
    },
    "LookupAttribute": {
      "documentation": "<p>Specifies an attribute and value that filter the events returned.</p>",
      "members": {
        "AttributeKey": {
          "documentation": "<p>Specifies an attribute on which to filter the events returned.</p>",
          "shape": "LookupAttributeKey"
        },
        "AttributeValue": {
          "documentation": "<p>Specifies a value for the specified AttributeKey.</p>",
          "shape": "String"
        }
      },
      "required": [
        "AttributeKey",
        "AttributeValue"
      ],
      "type": "structure"
    },
    "LookupAttributeKey": {
      "enum": [
        "EventId",
        "EventName",
        "ReadOnly",
        "Username",
        "ResourceType",
        "ResourceName",
        "EventSource",
        "AccessKeyId"
      ],
      "type": "string"
    },
    "LookupAttributesList": {
      "member": {
        "shape": "LookupAttribute"
      },
      "type": "list"
    },
    "LookupEventsRequest": {
      "documentation": "<p>Contains a request for LookupEvents.</p>",
      "members": {
        "EndTime": {
          "documentation": "<p>Specifies that only events that occur before or at the specified time are returned. If the specified end time is before the specified start time, an error is returned.</p>",
          "shape": "Date"
        },
        "EventCategory": {
          "documentation": "<p>Specifies the event category. If you do not specify an event category, events of the category are not returned in the response. For example, if you do not specify <code>insight</code> as the value of <code>EventCategory</code>, no Insights events are returned.</p>",
          "shape": "EventCategory"
        },
        "LookupAttributes": {
          "documentation": "<p>Contains a list of lookup attributes. Currently the list can contain only one item.</p>",
          "shape": "LookupAttributesList"
        },
        "MaxResults": {
          "documentation": "<p>The number of events to return. Possible values are 1 through 50. The default is 50.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to use to get the next page of results after a previous API call. This token must be passed in with the same parameters that were specified in the the original call. For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>",
          "shape": "NextToken"
        },
        "StartTime": {
          "documentation": "<p>Specifies that only events that occur after or at the specified time are returned. If the specified start time is after the specified end time, an error is returned.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "LookupEventsResponse": {
      "documentation": "<p>Contains a response to a LookupEvents action.</p>",
      "members": {
        "Events": {
          "documentation": "<p>A list of events returned based on the lookup attributes specified and the CloudTrail event. The events list is sorted by time. The most recent event is listed first.</p>",
          "shape": "EventsList"
        },
        "NextToken": {
          "documentation": "<p>The token to use to get the next page of results after a previous API call. If the token does not appear, there are no more results to return. The token must be passed in with the same parameters as the previous call. For example, if the original call specified an AttributeKey of 'Username' with a value of 'root', the call with NextToken should include those same parameters.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 50,
      "min": 1,
      "type": "integer"
    },
    "MaximumNumberOfTrailsExceededException": {
      "documentation": "<p>This exception is thrown when the maximum number of trails is reached.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "NextToken": {
      "type": "string"
    },
    "NotOrganizationMasterAccountException": {
      "documentation": "<p>This exception is thrown when the AWS account making the request to create or update an organization trail is not the master account for an organization in AWS Organizations. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "OperationNotPermittedException": {
      "documentation": "<p>This exception is thrown when the requested operation is not permitted.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "OrganizationNotInAllFeaturesModeException": {
      "documentation": "<p>This exception is thrown when AWS Organizations is not configured to support all features. All features must be enabled in AWS Organization to support creating an organization trail. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/creating-an-organizational-trail-prepare.html\">Prepare For Creating a Trail For Your Organization</a>.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "OrganizationsNotInUseException": {
      "documentation": "<p>This exception is thrown when the request is made from an AWS account that is not a member of an organization. To make this request, sign in using the credentials of an account that belongs to an organization.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "PublicKey": {
      "documentation": "<p>Contains information about a returned public key.</p>",
      "members": {
        "Fingerprint": {
          "documentation": "<p>The fingerprint of the public key.</p>",
          "shape": "String"
        },
        "ValidityEndTime": {
          "documentation": "<p>The ending time of validity of the public key.</p>",
          "shape": "Date"
        },
        "ValidityStartTime": {
          "documentation": "<p>The starting time of validity of the public key.</p>",
          "shape": "Date"
        },
        "Value": {
          "documentation": "<p>The DER encoded public key value in PKCS#1 format.</p>",
          "shape": "ByteBuffer"
        }
      },
      "type": "structure"
    },
    "PublicKeyList": {
      "member": {
        "shape": "PublicKey"
      },
      "type": "list"
    },
    "PutEventSelectorsRequest": {
      "members": {
        "EventSelectors": {
          "documentation": "<p>Specifies the settings for your event selectors. You can configure up to five event selectors for a trail.</p>",
          "shape": "EventSelectors"
        },
        "TrailName": {
          "documentation": "<p>Specifies the name of the trail or trail ARN. If you specify a trail name, the string must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul> <p>If you specify a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "TrailName",
        "EventSelectors"
      ],
      "type": "structure"
    },
    "PutEventSelectorsResponse": {
      "members": {
        "EventSelectors": {
          "documentation": "<p>Specifies the event selectors configured for your trail.</p>",
          "shape": "EventSelectors"
        },
        "TrailARN": {
          "documentation": "<p>Specifies the ARN of the trail that was updated with event selectors. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PutInsightSelectorsRequest": {
      "members": {
        "InsightSelectors": {
          "documentation": "<p>A JSON string that contains the insight types you want to log on a trail. In this release, only <code>ApiCallRateInsight</code> is supported as an insight type.</p>",
          "shape": "InsightSelectors"
        },
        "TrailName": {
          "documentation": "<p>The name of the CloudTrail trail for which you want to change or add Insights selectors.</p>",
          "shape": "String"
        }
      },
      "required": [
        "TrailName",
        "InsightSelectors"
      ],
      "type": "structure"
    },
    "PutInsightSelectorsResponse": {
      "members": {
        "InsightSelectors": {
          "documentation": "<p>A JSON string that contains the insight types you want to log on a trail. In this release, only <code>ApiCallRateInsight</code> is supported as an insight type.</p>",
          "shape": "InsightSelectors"
        },
        "TrailARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a trail for which you want to change or add Insights selectors.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ReadWriteType": {
      "enum": [
        "ReadOnly",
        "WriteOnly",
        "All"
      ],
      "type": "string"
    },
    "RemoveTagsRequest": {
      "documentation": "<p>Specifies the tags to remove from a trail.</p>",
      "members": {
        "ResourceId": {
          "documentation": "<p>Specifies the ARN of the trail from which tags should be removed. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        },
        "TagsList": {
          "documentation": "<p>Specifies a list of tags to be removed.</p>",
          "shape": "TagsList"
        }
      },
      "required": [
        "ResourceId"
      ],
      "type": "structure"
    },
    "RemoveTagsResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {},
      "type": "structure"
    },
    "Resource": {
      "documentation": "<p>Specifies the type and name of a resource referenced by an event.</p>",
      "members": {
        "ResourceName": {
          "documentation": "<p>The name of the resource referenced by the event returned. These are user-created names whose values will depend on the environment. For example, the resource name might be \"auto-scaling-test-group\" for an Auto Scaling Group or \"i-1234567\" for an EC2 Instance.</p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>The type of a resource referenced by the event returned. When the resource type cannot be determined, null is returned. Some examples of resource types are: <b>Instance</b> for EC2, <b>Trail</b> for CloudTrail, <b>DBInstance</b> for RDS, and <b>AccessKey</b> for IAM. To learn more about how to look up and filter events by the resource types supported for a service, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/view-cloudtrail-events-console.html#filtering-cloudtrail-events\">Filtering CloudTrail Events</a>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceIdList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ResourceList": {
      "documentation": "<p>A list of resources referenced by the event returned.</p>",
      "member": {
        "shape": "Resource"
      },
      "type": "list"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>This exception is thrown when the specified resource is not found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ResourceTag": {
      "documentation": "<p>A resource tag.</p>",
      "members": {
        "ResourceId": {
          "documentation": "<p>Specifies the ARN of the resource.</p>",
          "shape": "String"
        },
        "TagsList": {
          "documentation": "<p>A list of tags.</p>",
          "shape": "TagsList"
        }
      },
      "type": "structure"
    },
    "ResourceTagList": {
      "member": {
        "shape": "ResourceTag"
      },
      "type": "list"
    },
    "ResourceTypeNotSupportedException": {
      "documentation": "<p>This exception is thrown when the specified resource type is not supported by CloudTrail.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "S3BucketDoesNotExistException": {
      "documentation": "<p>This exception is thrown when the specified S3 bucket does not exist.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "StartLoggingRequest": {
      "documentation": "<p>The request to CloudTrail to start logging AWS API calls for an account.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Specifies the name or the CloudTrail ARN of the trail for which CloudTrail logs AWS API calls. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "StartLoggingResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {},
      "type": "structure"
    },
    "StopLoggingRequest": {
      "documentation": "<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Specifies the name or the CloudTrail ARN of the trail for which CloudTrail will stop logging AWS API calls. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "StopLoggingResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {},
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>A custom key-value pair associated with a resource such as a CloudTrail trail.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key in a key-value pair. The key must be must be no longer than 128 Unicode characters. The key must be unique for the resource to which it applies.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>The value in a key-value pair of a tag. The value must be no longer than 256 Unicode characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Key"
      ],
      "type": "structure"
    },
    "TagsLimitExceededException": {
      "documentation": "<p>The number of tags per trail has exceeded the permitted amount. Currently, the limit is 50.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "TagsList": {
      "documentation": "<p>A list of tags.</p>",
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "Trail": {
      "documentation": "<p>The settings for a trail.</p>",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "documentation": "<p>Specifies an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered.</p>",
          "shape": "String"
        },
        "CloudWatchLogsRoleArn": {
          "documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>",
          "shape": "String"
        },
        "HasCustomEventSelectors": {
          "documentation": "<p>Specifies if the trail has custom event selectors.</p>",
          "shape": "Boolean"
        },
        "HasInsightSelectors": {
          "documentation": "<p>Specifies whether a trail has insight types specified in an <code>InsightSelector</code> list.</p>",
          "shape": "Boolean"
        },
        "HomeRegion": {
          "documentation": "<p>The region in which the trail was created.</p>",
          "shape": "String"
        },
        "IncludeGlobalServiceEvents": {
          "documentation": "<p>Set to <b>True</b> to include AWS API calls from AWS global services such as IAM. Otherwise, <b>False</b>.</p>",
          "shape": "Boolean"
        },
        "IsMultiRegionTrail": {
          "documentation": "<p>Specifies whether the trail exists only in one region or exists in all regions.</p>",
          "shape": "Boolean"
        },
        "IsOrganizationTrail": {
          "documentation": "<p>Specifies whether the trail is an organization trail.</p>",
          "shape": "Boolean"
        },
        "KmsKeyId": {
          "documentation": "<p>Specifies the KMS key ID that encrypts the logs delivered by CloudTrail. The value is a fully specified ARN to a KMS key in the format:</p> <p> <code>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</code> </p>",
          "shape": "String"
        },
        "LogFileValidationEnabled": {
          "documentation": "<p>Specifies whether log file validation is enabled.</p>",
          "shape": "Boolean"
        },
        "Name": {
          "documentation": "<p>Name of the trail set by calling <a>CreateTrail</a>. The maximum length is 128 characters.</p>",
          "shape": "String"
        },
        "S3BucketName": {
          "documentation": "<p>Name of the Amazon S3 bucket into which CloudTrail delivers your trail files. See <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>",
          "shape": "String"
        },
        "S3KeyPrefix": {
          "documentation": "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>.The maximum length is 200 characters.</p>",
          "shape": "String"
        },
        "SnsTopicARN": {
          "documentation": "<p>Specifies the ARN of the Amazon SNS topic that CloudTrail uses to send notifications when log files are delivered. The format of a topic ARN is:</p> <p> <code>arn:aws:sns:us-east-2:123456789012:MyTopic</code> </p>",
          "shape": "String"
        },
        "SnsTopicName": {
          "deprecated": true,
          "documentation": "<p>This field is no longer in use. Use SnsTopicARN.</p>",
          "shape": "String"
        },
        "TrailARN": {
          "documentation": "<p>Specifies the ARN of the trail. The format of a trail ARN is:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TrailAlreadyExistsException": {
      "documentation": "<p>This exception is thrown when the specified trail already exists.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "TrailInfo": {
      "documentation": "<p>Information about a CloudTrail trail, including the trail's name, home region, and Amazon Resource Name (ARN).</p>",
      "members": {
        "HomeRegion": {
          "documentation": "<p>The AWS region in which a trail was created.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of a trail.</p>",
          "shape": "String"
        },
        "TrailARN": {
          "documentation": "<p>The ARN of a trail.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TrailList": {
      "member": {
        "shape": "Trail"
      },
      "type": "list"
    },
    "TrailNameList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "TrailNotFoundException": {
      "documentation": "<p>This exception is thrown when the trail with the given name is not found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "TrailNotProvidedException": {
      "documentation": "<p>This exception is no longer in use.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Trails": {
      "member": {
        "shape": "TrailInfo"
      },
      "type": "list"
    },
    "UnsupportedOperationException": {
      "documentation": "<p>This exception is thrown when the requested operation is not supported.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "UpdateTrailRequest": {
      "documentation": "<p>Specifies settings to update for the trail.</p>",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "documentation": "<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>",
          "shape": "String"
        },
        "CloudWatchLogsRoleArn": {
          "documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>",
          "shape": "String"
        },
        "EnableLogFileValidation": {
          "documentation": "<p>Specifies whether log file validation is enabled. The default is false.</p> <note> <p>When you disable log file integrity validation, the chain of digest files is broken after one hour. CloudTrail will not create digest files for log files that were delivered during a period in which log file integrity validation was disabled. For example, if you enable log file integrity validation at noon on January 1, disable it at noon on January 2, and re-enable it at noon on January 10, digest files will not be created for the log files delivered from noon on January 2 to noon on January 10. The same applies whenever you stop CloudTrail logging or delete a trail.</p> </note>",
          "shape": "Boolean"
        },
        "IncludeGlobalServiceEvents": {
          "documentation": "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>",
          "shape": "Boolean"
        },
        "IsMultiRegionTrail": {
          "documentation": "<p>Specifies whether the trail applies only to the current region or to all regions. The default is false. If the trail exists only in the current region and this value is set to true, shadow trails (replications of the trail) will be created in the other regions. If the trail exists in all regions and this value is set to false, the trail will remain in the region where it was created, and its shadow trails in other regions will be deleted. As a best practice, consider using trails that log events in all regions.</p>",
          "shape": "Boolean"
        },
        "IsOrganizationTrail": {
          "documentation": "<p>Specifies whether the trail is applied to all accounts in an organization in AWS Organizations, or only for the current AWS account. The default is false, and cannot be true unless the call is made on behalf of an AWS account that is the master account for an organization in AWS Organizations. If the trail is not an organization trail and this is set to true, the trail will be created in all AWS accounts that belong to the organization. If the trail is an organization trail and this is set to false, the trail will remain in the current AWS account but be deleted from all member accounts in the organization.</p>",
          "shape": "Boolean"
        },
        "KmsKeyId": {
          "documentation": "<p>Specifies the KMS key ID to use to encrypt the logs delivered by CloudTrail. The value can be an alias name prefixed by \"alias/\", a fully specified ARN to an alias, a fully specified ARN to a key, or a globally unique identifier.</p> <p>Examples:</p> <ul> <li> <p>alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-2:123456789012:alias/MyAliasName</p> </li> <li> <p>arn:aws:kms:us-east-2:123456789012:key/12345678-1234-1234-1234-123456789012</p> </li> <li> <p>12345678-1234-1234-1234-123456789012</p> </li> </ul>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>Specifies the name of the trail or trail ARN. If <code>Name</code> is a trail name, the string must meet the following requirements:</p> <ul> <li> <p>Contain only ASCII letters (a-z, A-Z), numbers (0-9), periods (.), underscores (_), or dashes (-)</p> </li> <li> <p>Start with a letter or number, and end with a letter or number</p> </li> <li> <p>Be between 3 and 128 characters</p> </li> <li> <p>Have no adjacent periods, underscores or dashes. Names like <code>my-_namespace</code> and <code>my--namespace</code> are invalid.</p> </li> <li> <p>Not be in IP address format (for example, 192.168.5.4)</p> </li> </ul> <p>If <code>Name</code> is a trail ARN, it must be in the format:</p> <p> <code>arn:aws:cloudtrail:us-east-2:123456789012:trail/MyTrail</code> </p>",
          "shape": "String"
        },
        "S3BucketName": {
          "documentation": "<p>Specifies the name of the Amazon S3 bucket designated for publishing log files. See <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/create_trail_naming_policy.html\">Amazon S3 Bucket Naming Requirements</a>.</p>",
          "shape": "String"
        },
        "S3KeyPrefix": {
          "documentation": "<p>Specifies the Amazon S3 key prefix that comes after the name of the bucket you have designated for log file delivery. For more information, see <a href=\"https://docs.aws.amazon.com/awscloudtrail/latest/userguide/cloudtrail-find-log-files.html\">Finding Your CloudTrail Log Files</a>. The maximum length is 200 characters.</p>",
          "shape": "String"
        },
        "SnsTopicName": {
          "documentation": "<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery. The maximum length is 256 characters.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "UpdateTrailResponse": {
      "documentation": "<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>",
      "members": {
        "CloudWatchLogsLogGroupArn": {
          "documentation": "<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>",
          "shape": "String"
        },
        "CloudWatchLogsRoleArn": {
          "documentation": "<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user's log group.</p>",
          "shape": "String"
        },
        "IncludeGlobalServiceEvents": {
          "documentation": "<p>Specifies whether the trail is publishing events from global services such as IAM to the log files.</p>",
          "shape": "Boolean"
        },
        "IsMultiRegionTrail": {
          "documentation": "<p>Specifies whether the trail exists in one region or in all regions.</p>",
          "shape": "Boolean"
        },
        "IsOrganizationTrail": {
[...]
