{
  "documentation": "<p>Amazon DocumentDB API documentation</p>",
  "metadata": {
    "apiVersion": "2014-10-31",
    "endpointPrefix": "rds",
    "protocol": "query",
    "serviceAbbreviation": "Amazon DocDB",
    "serviceFullName": "Amazon DocumentDB with MongoDB compatibility",
    "serviceId": "DocDB",
    "signatureVersion": "v4",
    "signingName": "rds",
    "uid": "docdb-2014-10-31",
    "xmlNamespace": "http://rds.amazonaws.com/doc/2014-10-31/"
  },
  "operations": {
    "AddTagsToResource": {
      "documentation": "<p>Adds metadata tags to an Amazon DocumentDB resource. You can use these tags with cost allocation reporting to track costs that are associated with Amazon DocumentDB resources. or in a <code>Condition</code> statement in an AWS Identity and Access Management (IAM) policy for Amazon DocumentDB.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceMessage"
      },
      "name": "AddTagsToResource"
    },
    "ApplyPendingMaintenanceAction": {
      "documentation": "<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApplyPendingMaintenanceActionMessage"
      },
      "name": "ApplyPendingMaintenanceAction",
      "output": {
        "resultWrapper": "ApplyPendingMaintenanceActionResult",
        "shape": "ApplyPendingMaintenanceActionResult"
      }
    },
    "CopyDBClusterParameterGroup": {
      "documentation": "<p>Copies the specified cluster parameter group.</p>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "DBParameterGroupQuotaExceededFault"
        },
        {
          "shape": "DBParameterGroupAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBClusterParameterGroupMessage"
      },
      "name": "CopyDBClusterParameterGroup",
      "output": {
        "resultWrapper": "CopyDBClusterParameterGroupResult",
        "shape": "CopyDBClusterParameterGroupResult"
      }
    },
    "CopyDBClusterSnapshot": {
      "documentation": "<p>Copies a snapshot of a cluster.</p> <p>To copy a cluster snapshot from a shared manual cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared cluster snapshot.</p> <p>To cancel the copy operation after it is in progress, delete the target cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in the <i>copying</i> status.</p>",
      "errors": [
        {
          "shape": "DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBClusterSnapshotMessage"
      },
      "name": "CopyDBClusterSnapshot",
      "output": {
        "resultWrapper": "CopyDBClusterSnapshotResult",
        "shape": "CopyDBClusterSnapshotResult"
      }
    },
    "CreateDBCluster": {
      "documentation": "<p>Creates a new Amazon DocumentDB cluster.</p>",
      "errors": [
        {
          "shape": "DBClusterAlreadyExistsFault"
        },
        {
          "shape": "InsufficientStorageClusterCapacityFault"
        },
        {
          "shape": "DBClusterQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBClusterParameterGroupNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterMessage"
      },
      "name": "CreateDBCluster",
      "output": {
        "resultWrapper": "CreateDBClusterResult",
        "shape": "CreateDBClusterResult"
      }
    },
    "CreateDBClusterParameterGroup": {
      "documentation": "<p>Creates a new cluster parameter group.</p> <p>Parameters in a cluster parameter group apply to all of the instances in a DB cluster.</p> <p>A cluster parameter group is initially created with the default parameters for the database engine used by instances in the cluster. To provide custom values for any of the parameters, you must modify the group after you create it. After you create a DB cluster parameter group, you must associate it with your cluster. For the new DB cluster parameter group and associated settings to take effect, you must then reboot the instances in the cluster without failover.</p> <important> <p>After you create a cluster parameter group, you should wait at least 5 minutes before creating your first cluster that uses that cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the cluster parameter group is used as the default for a new cluster. This step is especially important for parameters that are critical when creating the default database for a cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>",
      "errors": [
        {
          "shape": "DBParameterGroupQuotaExceededFault"
        },
        {
          "shape": "DBParameterGroupAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterParameterGroupMessage"
      },
      "name": "CreateDBClusterParameterGroup",
      "output": {
        "resultWrapper": "CreateDBClusterParameterGroupResult",
        "shape": "CreateDBClusterParameterGroupResult"
      }
    },
    "CreateDBClusterSnapshot": {
      "documentation": "<p>Creates a snapshot of a cluster. </p>",
      "errors": [
        {
          "shape": "DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterSnapshotMessage"
      },
      "name": "CreateDBClusterSnapshot",
      "output": {
        "resultWrapper": "CreateDBClusterSnapshotResult",
        "shape": "CreateDBClusterSnapshotResult"
      }
    },
    "CreateDBInstance": {
      "documentation": "<p>Creates a new instance.</p>",
      "errors": [
        {
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "shape": "InstanceQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "StorageTypeNotSupportedFault"
        },
        {
          "shape": "AuthorizationNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceMessage"
      },
      "name": "CreateDBInstance",
      "output": {
        "resultWrapper": "CreateDBInstanceResult",
        "shape": "CreateDBInstanceResult"
      }
    },
    "CreateDBSubnetGroup": {
      "documentation": "<p>Creates a new subnet group. subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.</p>",
      "errors": [
        {
          "shape": "DBSubnetGroupAlreadyExistsFault"
        },
        {
          "shape": "DBSubnetGroupQuotaExceededFault"
        },
        {
          "shape": "DBSubnetQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSubnetGroupMessage"
      },
      "name": "CreateDBSubnetGroup",
      "output": {
        "resultWrapper": "CreateDBSubnetGroupResult",
        "shape": "CreateDBSubnetGroupResult"
      }
    },
    "DeleteDBCluster": {
      "documentation": "<p>Deletes a previously provisioned cluster. When you delete a cluster, all automated backups for that cluster are deleted and can't be recovered. Manual DB cluster snapshots of the specified cluster are not deleted.</p> <p/>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterMessage"
      },
      "name": "DeleteDBCluster",
      "output": {
        "resultWrapper": "DeleteDBClusterResult",
        "shape": "DeleteDBClusterResult"
      }
    },
    "DeleteDBClusterParameterGroup": {
      "documentation": "<p>Deletes a specified cluster parameter group. The cluster parameter group to be deleted can't be associated with any clusters.</p>",
      "errors": [
        {
          "shape": "InvalidDBParameterGroupStateFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterParameterGroupMessage"
      },
      "name": "DeleteDBClusterParameterGroup"
    },
    "DeleteDBClusterSnapshot": {
      "documentation": "<p>Deletes a cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterSnapshotMessage"
      },
      "name": "DeleteDBClusterSnapshot",
      "output": {
        "resultWrapper": "DeleteDBClusterSnapshotResult",
        "shape": "DeleteDBClusterSnapshotResult"
      }
    },
    "DeleteDBInstance": {
      "documentation": "<p>Deletes a previously provisioned instance. </p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBInstanceMessage"
      },
      "name": "DeleteDBInstance",
      "output": {
        "resultWrapper": "DeleteDBInstanceResult",
        "shape": "DeleteDBInstanceResult"
      }
    },
    "DeleteDBSubnetGroup": {
      "documentation": "<p>Deletes a subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "shape": "InvalidDBSubnetStateFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSubnetGroupMessage"
      },
      "name": "DeleteDBSubnetGroup"
    },
    "DescribeCertificates": {
      "documentation": "<p>Returns a list of certificate authority (CA) certificates provided by Amazon DocumentDB for this AWS account.</p>",
      "errors": [
        {
          "shape": "CertificateNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificatesMessage"
      },
      "name": "DescribeCertificates",
      "output": {
        "resultWrapper": "DescribeCertificatesResult",
        "shape": "CertificateMessage"
      }
    },
    "DescribeDBClusterParameterGroups": {
      "documentation": "<p>Returns a list of <code>DBClusterParameterGroup</code> descriptions. If a <code>DBClusterParameterGroupName</code> parameter is specified, the list contains only the description of the specified cluster parameter group. </p>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterParameterGroupsMessage"
      },
      "name": "DescribeDBClusterParameterGroups",
      "output": {
        "resultWrapper": "DescribeDBClusterParameterGroupsResult",
        "shape": "DBClusterParameterGroupsMessage"
      }
    },
    "DescribeDBClusterParameters": {
      "documentation": "<p>Returns the detailed parameter list for a particular cluster parameter group.</p>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterParametersMessage"
      },
      "name": "DescribeDBClusterParameters",
      "output": {
        "resultWrapper": "DescribeDBClusterParametersResult",
        "shape": "DBClusterParameterGroupDetails"
      }
    },
    "DescribeDBClusterSnapshotAttributes": {
      "documentation": "<p>Returns a list of cluster snapshot attribute names and values for a manual DB cluster snapshot.</p> <p>When you share snapshots with other AWS accounts, <code>DescribeDBClusterSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the AWS accounts that are authorized to copy or restore the manual cluster snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual cluster snapshot is public and can be copied or restored by all AWS accounts.</p>",
      "errors": [
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterSnapshotAttributesMessage"
      },
      "name": "DescribeDBClusterSnapshotAttributes",
      "output": {
        "resultWrapper": "DescribeDBClusterSnapshotAttributesResult",
        "shape": "DescribeDBClusterSnapshotAttributesResult"
      }
    },
    "DescribeDBClusterSnapshots": {
      "documentation": "<p>Returns information about cluster snapshots. This API operation supports pagination.</p>",
      "errors": [
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterSnapshotsMessage"
      },
      "name": "DescribeDBClusterSnapshots",
      "output": {
        "resultWrapper": "DescribeDBClusterSnapshotsResult",
        "shape": "DBClusterSnapshotMessage"
      }
    },
    "DescribeDBClusters": {
      "documentation": "<p>Returns information about provisioned Amazon DocumentDB clusters. This API operation supports pagination. For certain management features such as cluster and instance lifecycle management, Amazon DocumentDB leverages operational technology that is shared with Amazon RDS and Amazon Neptune. Use the <code>filterName=engine,Values=docdb</code> filter parameter to return only Amazon DocumentDB clusters.</p>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClustersMessage"
      },
      "name": "DescribeDBClusters",
      "output": {
        "resultWrapper": "DescribeDBClustersResult",
        "shape": "DBClusterMessage"
      }
    },
    "DescribeDBEngineVersions": {
      "documentation": "<p>Returns a list of the available engines.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBEngineVersionsMessage"
      },
      "name": "DescribeDBEngineVersions",
      "output": {
        "resultWrapper": "DescribeDBEngineVersionsResult",
        "shape": "DBEngineVersionMessage"
      }
    },
    "DescribeDBInstances": {
      "documentation": "<p>Returns information about provisioned Amazon DocumentDB instances. This API supports pagination.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBInstancesMessage"
      },
      "name": "DescribeDBInstances",
      "output": {
        "resultWrapper": "DescribeDBInstancesResult",
        "shape": "DBInstanceMessage"
      }
    },
    "DescribeDBSubnetGroups": {
      "documentation": "<p>Returns a list of <code>DBSubnetGroup</code> descriptions. If a <code>DBSubnetGroupName</code> is specified, the list will contain only the descriptions of the specified <code>DBSubnetGroup</code>.</p>",
      "errors": [
        {
          "shape": "DBSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSubnetGroupsMessage"
      },
      "name": "DescribeDBSubnetGroups",
      "output": {
        "resultWrapper": "DescribeDBSubnetGroupsResult",
        "shape": "DBSubnetGroupMessage"
      }
    },
    "DescribeEngineDefaultClusterParameters": {
      "documentation": "<p>Returns the default engine and system parameter information for the cluster database engine.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngineDefaultClusterParametersMessage"
      },
      "name": "DescribeEngineDefaultClusterParameters",
      "output": {
        "resultWrapper": "DescribeEngineDefaultClusterParametersResult",
        "shape": "DescribeEngineDefaultClusterParametersResult"
      }
    },
    "DescribeEventCategories": {
      "documentation": "<p>Displays a list of categories for all event source types, or, if specified, for a specified source type. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventCategoriesMessage"
      },
      "name": "DescribeEventCategories",
      "output": {
        "resultWrapper": "DescribeEventCategoriesResult",
        "shape": "EventCategoriesMessage"
      }
    },
    "DescribeEvents": {
      "documentation": "<p>Returns events related to instances, security groups, snapshots, and DB parameter groups for the past 14 days. You can obtain events specific to a particular DB instance, security group, snapshot, or parameter group by providing the name as a parameter. By default, the events of the past hour are returned.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "shape": "EventsMessage"
      }
    },
    "DescribeOrderableDBInstanceOptions": {
      "documentation": "<p>Returns a list of orderable instance options for the specified engine.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrderableDBInstanceOptionsMessage"
      },
      "name": "DescribeOrderableDBInstanceOptions",
      "output": {
        "resultWrapper": "DescribeOrderableDBInstanceOptionsResult",
        "shape": "OrderableDBInstanceOptionsMessage"
      }
    },
    "DescribePendingMaintenanceActions": {
      "documentation": "<p>Returns a list of resources (for example, instances) that have at least one pending maintenance action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePendingMaintenanceActionsMessage"
      },
      "name": "DescribePendingMaintenanceActions",
      "output": {
        "resultWrapper": "DescribePendingMaintenanceActionsResult",
        "shape": "PendingMaintenanceActionsMessage"
      }
    },
    "FailoverDBCluster": {
      "documentation": "<p>Forces a failover for a cluster.</p> <p>A failover for a cluster promotes one of the Amazon DocumentDB replicas (read-only instances) in the cluster to be the primary instance (the cluster writer).</p> <p>If the primary instance fails, Amazon DocumentDB automatically fails over to an Amazon DocumentDB replica, if one exists. You can force a failover when you want to simulate a failure of a primary instance for testing.</p>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "FailoverDBClusterMessage"
      },
      "name": "FailoverDBCluster",
      "output": {
        "resultWrapper": "FailoverDBClusterResult",
        "shape": "FailoverDBClusterResult"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags on an Amazon DocumentDB resource.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceMessage"
      },
      "name": "ListTagsForResource",
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "TagListMessage"
      }
    },
    "ModifyDBCluster": {
      "documentation": "<p>Modifies a setting for an Amazon DocumentDB cluster. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. </p>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "DBClusterParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBClusterAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterMessage"
      },
      "name": "ModifyDBCluster",
      "output": {
        "resultWrapper": "ModifyDBClusterResult",
        "shape": "ModifyDBClusterResult"
      }
    },
    "ModifyDBClusterParameterGroup": {
      "documentation": "<p> Modifies the parameters of a cluster parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request. </p> <note> <p>Changes to dynamic parameters are applied immediately. Changes to static parameters require a reboot or maintenance window before the change can take effect.</p> </note> <important> <p>After you create a cluster parameter group, you should wait at least 5 minutes before creating your first cluster that uses that cluster parameter group as the default parameter group. This allows Amazon DocumentDB to fully complete the create action before the parameter group is used as the default for a new cluster. This step is especially important for parameters that are critical when creating the default database for a cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter.</p> </important>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBParameterGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterParameterGroupMessage"
      },
      "name": "ModifyDBClusterParameterGroup",
      "output": {
        "resultWrapper": "ModifyDBClusterParameterGroupResult",
        "shape": "DBClusterParameterGroupNameMessage"
      }
    },
    "ModifyDBClusterSnapshotAttribute": {
      "documentation": "<p>Adds an attribute and values to, or removes an attribute and values from, a manual DB cluster snapshot.</p> <p>To share a manual cluster snapshot with other AWS accounts, specify <code>restore</code> as the <code>AttributeName</code>, and use the <code>ValuesToAdd</code> parameter to add a list of IDs of the AWS accounts that are authorized to restore the manual cluster snapshot. Use the value <code>all</code> to make the manual cluster snapshot public, which means that it can be copied or restored by all AWS accounts. Do not add the <code>all</code> value for any manual DB cluster snapshots that contain private information that you don't want available to all AWS accounts. If a manual cluster snapshot is encrypted, it can be shared, but only by specifying a list of authorized AWS account IDs for the <code>ValuesToAdd</code> parameter. You can't use <code>all</code> as a value for that parameter in this case.</p>",
      "errors": [
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "SharedSnapshotQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterSnapshotAttributeMessage"
      },
      "name": "ModifyDBClusterSnapshotAttribute",
      "output": {
        "resultWrapper": "ModifyDBClusterSnapshotAttributeResult",
        "shape": "ModifyDBClusterSnapshotAttributeResult"
      }
    },
    "ModifyDBInstance": {
      "documentation": "<p>Modifies settings for an instance. You can change one or more database configuration parameters by specifying these parameters and the new values in the request.</p>",
      "errors": [
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "DBUpgradeDependencyFailureFault"
        },
        {
          "shape": "StorageTypeNotSupportedFault"
        },
        {
          "shape": "AuthorizationNotFoundFault"
        },
        {
          "shape": "CertificateNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBInstanceMessage"
      },
      "name": "ModifyDBInstance",
      "output": {
        "resultWrapper": "ModifyDBInstanceResult",
        "shape": "ModifyDBInstanceResult"
      }
    },
    "ModifyDBSubnetGroup": {
      "documentation": "<p>Modifies an existing subnet group. subnet groups must contain at least one subnet in at least two Availability Zones in the AWS Region.</p>",
      "errors": [
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "DBSubnetQuotaExceededFault"
        },
        {
          "shape": "SubnetAlreadyInUse"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBSubnetGroupMessage"
      },
      "name": "ModifyDBSubnetGroup",
      "output": {
        "resultWrapper": "ModifyDBSubnetGroupResult",
        "shape": "ModifyDBSubnetGroupResult"
      }
    },
    "RebootDBInstance": {
      "documentation": "<p>You might need to reboot your instance, usually for maintenance reasons. For example, if you make certain changes, or if you change the cluster parameter group that is associated with the instance, you must reboot the instance for the changes to take effect. </p> <p>Rebooting an instance restarts the database engine service. Rebooting an instance results in a momentary outage, during which the instance status is set to <i>rebooting</i>. </p>",
      "errors": [
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootDBInstanceMessage"
      },
      "name": "RebootDBInstance",
      "output": {
        "resultWrapper": "RebootDBInstanceResult",
        "shape": "RebootDBInstanceResult"
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p>Removes metadata tags from an Amazon DocumentDB resource.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromResourceMessage"
      },
      "name": "RemoveTagsFromResource"
    },
    "ResetDBClusterParameterGroup": {
      "documentation": "<p> Modifies the parameters of a cluster parameter group to the default value. To reset specific parameters, submit a list of the following: <code>ParameterName</code> and <code>ApplyMethod</code>. To reset the entire cluster parameter group, specify the <code>DBClusterParameterGroupName</code> and <code>ResetAllParameters</code> parameters. </p> <p> When you reset the entire group, dynamic parameters are updated immediately and static parameters are set to <code>pending-reboot</code> to take effect on the next DB instance reboot.</p>",
      "errors": [
        {
          "shape": "InvalidDBParameterGroupStateFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetDBClusterParameterGroupMessage"
      },
      "name": "ResetDBClusterParameterGroup",
      "output": {
        "resultWrapper": "ResetDBClusterParameterGroupResult",
        "shape": "DBClusterParameterGroupNameMessage"
      }
    },
    "RestoreDBClusterFromSnapshot": {
      "documentation": "<p>Creates a new cluster from a snapshot or cluster snapshot.</p> <p>If a snapshot is specified, the target cluster is created from the source DB snapshot with a default configuration and default security group.</p> <p>If a cluster snapshot is specified, the target cluster is created from the source cluster restore point with the same configuration as the original source DB cluster, except that the new cluster is created with the default security group.</p>",
      "errors": [
        {
          "shape": "DBClusterAlreadyExistsFault"
        },
        {
          "shape": "DBClusterQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        },
        {
          "shape": "InsufficientDBClusterCapacityFault"
        },
        {
          "shape": "InsufficientStorageClusterCapacityFault"
        },
        {
          "shape": "InvalidDBSnapshotStateFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidRestoreFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreDBClusterFromSnapshotMessage"
      },
      "name": "RestoreDBClusterFromSnapshot",
      "output": {
        "resultWrapper": "RestoreDBClusterFromSnapshotResult",
        "shape": "RestoreDBClusterFromSnapshotResult"
      }
    },
    "RestoreDBClusterToPointInTime": {
      "documentation": "<p>Restores a cluster to an arbitrary point in time. Users can restore to any point in time before <code>LatestRestorableTime</code> for up to <code>BackupRetentionPeriod</code> days. The target cluster is created from the source cluster with the same configuration as the original cluster, except that the new cluster is created with the default security group. </p>",
      "errors": [
        {
          "shape": "DBClusterAlreadyExistsFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "DBClusterQuotaExceededFault"
        },
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "InsufficientDBClusterCapacityFault"
        },
        {
          "shape": "InsufficientStorageClusterCapacityFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBSnapshotStateFault"
        },
        {
          "shape": "InvalidRestoreFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RestoreDBClusterToPointInTimeMessage"
      },
      "name": "RestoreDBClusterToPointInTime",
      "output": {
        "resultWrapper": "RestoreDBClusterToPointInTimeResult",
        "shape": "RestoreDBClusterToPointInTimeResult"
      }
    },
    "StartDBCluster": {
      "documentation": "<p>Restarts the stopped cluster that is specified by <code>DBClusterIdentifier</code>. For more information, see <a href=\"https://docs.aws.amazon.com/documentdb/latest/developerguide/db-cluster-stop-start.html\">Stopping and Starting an Amazon DocumentDB Cluster</a>.</p>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartDBClusterMessage"
      },
      "name": "StartDBCluster",
      "output": {
        "resultWrapper": "StartDBClusterResult",
        "shape": "StartDBClusterResult"
      }
    },
    "StopDBCluster": {
      "documentation": "<p>Stops the running cluster that is specified by <code>DBClusterIdentifier</code>. The cluster must be in the <i>available</i> state. For more information, see <a href=\"https://docs.aws.amazon.com/documentdb/latest/developerguide/db-cluster-stop-start.html\">Stopping and Starting an Amazon DocumentDB Cluster</a>.</p>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopDBClusterMessage"
      },
      "name": "StopDBCluster",
      "output": {
        "resultWrapper": "StopDBClusterResult",
        "shape": "StopDBClusterResult"
      }
    }
  },
  "shapes": {
    "AddTagsToResourceMessage": {
      "documentation": "<p>Represents the input to <a>AddTagsToResource</a>.</p>",
      "members": {
        "ResourceName": {
          "documentation": "<p>The Amazon DocumentDB resource that the tags are added to. This value is an Amazon Resource Name (ARN).</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the Amazon DocumentDB resource. </p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceName",
        "Tags"
      ],
      "type": "structure"
    },
    "ApplyMethod": {
      "enum": [
        "immediate",
        "pending-reboot"
      ],
      "type": "string"
    },
    "ApplyPendingMaintenanceActionMessage": {
      "documentation": "<p>Represents the input to <a>ApplyPendingMaintenanceAction</a>.</p>",
      "members": {
        "ApplyAction": {
          "documentation": "<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code> </p>",
          "shape": "String"
        },
        "OptInType": {
          "documentation": "<p>A value that specifies the type of opt-in request or undoes an opt-in request. An opt-in request of type <code>immediate</code> can't be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>",
          "shape": "String"
        },
        "ResourceIdentifier": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ResourceIdentifier",
        "ApplyAction",
        "OptInType"
      ],
      "type": "structure"
    },
    "ApplyPendingMaintenanceActionResult": {
      "members": {
        "ResourcePendingMaintenanceActions": {
          "shape": "ResourcePendingMaintenanceActions"
        }
      },
      "type": "structure"
    },
    "AttributeValueList": {
      "member": {
        "locationName": "AttributeValue",
        "shape": "String"
      },
      "type": "list"
    },
    "AuthorizationNotFoundFault": {
      "documentation": "<p>The specified CIDR IP or Amazon EC2 security group isn't authorized for the specified security group.</p> <p>Amazon DocumentDB also might not be authorized to perform necessary actions on your behalf using IAM.</p>",
      "error": {
        "code": "AuthorizationNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AvailabilityZone": {
      "documentation": "<p>Information about an Availability Zone.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "AvailabilityZoneList": {
      "member": {
        "locationName": "AvailabilityZone",
        "shape": "AvailabilityZone"
      },
      "type": "list"
    },
    "AvailabilityZones": {
      "member": {
        "locationName": "AvailabilityZone",
        "shape": "String"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanOptional": {
      "type": "boolean"
    },
    "Certificate": {
      "documentation": "<p>A certificate authority (CA) certificate for an AWS account.</p>",
      "members": {
        "CertificateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p> <p>Example: <code>arn:aws:rds:us-east-1::cert:rds-ca-2019</code> </p>",
          "shape": "String"
        },
        "CertificateIdentifier": {
          "documentation": "<p>The unique key that identifies a certificate.</p> <p>Example: <code>rds-ca-2019</code> </p>",
          "shape": "String"
        },
        "CertificateType": {
          "documentation": "<p>The type of the certificate.</p> <p>Example: <code>CA</code> </p>",
          "shape": "String"
        },
        "Thumbprint": {
          "documentation": "<p>The thumbprint of the certificate.</p>",
          "shape": "String"
        },
        "ValidFrom": {
          "documentation": "<p>The starting date-time from which the certificate is valid.</p> <p>Example: <code>2019-07-31T17:57:09Z</code> </p>",
          "shape": "TStamp"
        },
        "ValidTill": {
          "documentation": "<p>The date-time after which the certificate is no longer valid.</p> <p>Example: <code>2024-07-31T17:57:09Z</code> </p>",
          "shape": "TStamp"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "CertificateList": {
      "member": {
        "locationName": "Certificate",
        "shape": "Certificate"
      },
      "type": "list"
    },
    "CertificateMessage": {
      "members": {
        "Certificates": {
          "documentation": "<p>A list of certificates for this AWS account.</p>",
          "shape": "CertificateList"
        },
        "Marker": {
          "documentation": "<p>An optional pagination token provided if the number of records retrieved is greater than <code>MaxRecords</code>. If this parameter is specified, the marker specifies the next record in the list. Including the value of <code>Marker</code> in the next call to <code>DescribeCertificates</code> results in the next page of certificates.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CertificateNotFoundFault": {
      "documentation": "<p> <code>CertificateIdentifier</code> doesn't refer to an existing certificate. </p>",
      "error": {
        "code": "CertificateNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "CloudwatchLogsExportConfiguration": {
      "documentation": "<p>The configuration setting for the log types to be enabled for export to Amazon CloudWatch Logs for a specific instance or cluster.</p> <p>The <code>EnableLogTypes</code> and <code>DisableLogTypes</code> arrays determine which logs are exported (or not exported) to CloudWatch Logs. The values within these arrays depend on the engine that is being used.</p>",
      "members": {
        "DisableLogTypes": {
          "documentation": "<p>The list of log types to disable.</p>",
          "shape": "LogTypeList"
        },
        "EnableLogTypes": {
          "documentation": "<p>The list of log types to enable.</p>",
          "shape": "LogTypeList"
        }
      },
      "type": "structure"
    },
    "CopyDBClusterParameterGroupMessage": {
      "documentation": "<p>Represents the input to <a>CopyDBClusterParameterGroup</a>.</p>",
      "members": {
        "SourceDBClusterParameterGroupIdentifier": {
          "documentation": "<p>The identifier or Amazon Resource Name (ARN) for the source cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid cluster parameter group.</p> </li> <li> <p>If the source cluster parameter group is in the same AWS Region as the copy, specify a valid parameter group identifier; for example, <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source parameter group is in a different AWS Region than the copy, specify a valid cluster parameter group ARN; for example, <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>The tags that are to be assigned to the parameter group.</p>",
          "shape": "TagList"
        },
        "TargetDBClusterParameterGroupDescription": {
          "documentation": "<p>A description for the copied cluster parameter group.</p>",
          "shape": "String"
        },
        "TargetDBClusterParameterGroupIdentifier": {
          "documentation": "<p>The identifier for the copied cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Cannot be null, empty, or blank.</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "SourceDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupIdentifier",
        "TargetDBClusterParameterGroupDescription"
      ],
      "type": "structure"
    },
    "CopyDBClusterParameterGroupResult": {
      "members": {
        "DBClusterParameterGroup": {
          "shape": "DBClusterParameterGroup"
        }
      },
      "type": "structure"
    },
    "CopyDBClusterSnapshotMessage": {
      "documentation": "<p>Represents the input to <a>CopyDBClusterSnapshot</a>.</p>",
      "members": {
        "CopyTags": {
          "documentation": "<p>Set to <code>true</code> to copy all tags from the source cluster snapshot to the target cluster snapshot, and otherwise <code>false</code>. The default is <code>false</code>.</p>",
          "shape": "BooleanOptional"
        },
        "KmsKeyId": {
          "documentation": "<p>The AWS KMS key ID for an encrypted cluster snapshot. The AWS KMS key ID is the Amazon Resource Name (ARN), AWS KMS key identifier, or the AWS KMS key alias for the AWS KMS encryption key. </p> <p>If you copy an encrypted cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new AWS KMS encryption key. If you don't specify a value for <code>KmsKeyId</code>, then the copy of the cluster snapshot is encrypted with the same AWS KMS key as the source cluster snapshot. </p> <p>If you copy an encrypted cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted cluster snapshot to another AWS Region, set <code>KmsKeyId</code> to the AWS KMS key ID that you want to use to encrypt the copy of the cluster snapshot in the destination Region. AWS KMS encryption keys are specific to the AWS Region that they are created in, and you can't use encryption keys from one Region in another Region.</p> <p>If you copy an unencrypted cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>",
          "shape": "String"
        },
        "PreSignedUrl": {
          "documentation": "<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source cluster snapshot to copy. You must use the <code>PreSignedUrl</code> parameter when copying an encrypted cluster snapshot from another AWS Region.</p> <p>The presigned URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The presigned URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The cluster snapshot identifier for the encrypted cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:my-cluster-snapshot-20161115</code>.</p> </li> </ul>",
          "shape": "String"
        },
        "SourceDBClusterSnapshotIdentifier": {
          "documentation": "<p>The identifier of the cluster snapshot to copy. This parameter is not case sensitive.</p> <p>You can't copy an encrypted, shared cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the \"available\" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid cluster snapshot ARN.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the cluster snapshot.</p>",
          "shape": "TagList"
        },
        "TargetDBClusterSnapshotIdentifier": {
          "documentation": "<p>The identifier of the new cluster snapshot to create from the source cluster snapshot. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>",
          "shape": "String"
        }
      },
      "required": [
        "SourceDBClusterSnapshotIdentifier",
        "TargetDBClusterSnapshotIdentifier"
      ],
      "type": "structure"
    },
    "CopyDBClusterSnapshotResult": {
      "members": {
        "DBClusterSnapshot": {
          "shape": "DBClusterSnapshot"
        }
      },
      "type": "structure"
    },
    "CreateDBClusterMessage": {
      "documentation": "<p>Represents the input to <a>CreateDBCluster</a>.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>A list of Amazon EC2 Availability Zones that instances in the cluster can be created in.</p>",
          "shape": "AvailabilityZones"
        },
        "BackupRetentionPeriod": {
          "documentation": "<p>The number of days for which automated backups are retained. You must specify a minimum value of 1.</p> <p>Default: 1</p> <p>Constraints:</p> <ul> <li> <p>Must be a value from 1 to 35.</p> </li> </ul>",
          "shape": "IntegerOptional"
        },
        "DBClusterIdentifier": {
          "documentation": "<p>The cluster identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>",
          "shape": "String"
        },
        "DBClusterParameterGroupName": {
          "documentation": "<p> The name of the cluster parameter group to associate with this cluster.</p>",
          "shape": "String"
        },
        "DBSubnetGroupName": {
          "documentation": "<p>A subnet group to associate with this cluster.</p> <p>Constraints: Must match the name of an existing <code>DBSubnetGroup</code>. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>",
          "shape": "String"
        },
        "DeletionProtection": {
          "documentation": "<p>Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is enabled, the cluster cannot be deleted unless it is modified and <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code> protects clusters from being accidentally deleted.</p>",
          "shape": "BooleanOptional"
        },
        "EnableCloudwatchLogsExports": {
          "documentation": "<p>A list of log types that need to be enabled for exporting to Amazon CloudWatch Logs.</p>",
          "shape": "LogTypeList"
        },
        "Engine": {
          "documentation": "<p>The name of the database engine to be used for this cluster.</p> <p>Valid values: <code>docdb</code> </p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>The version number of the database engine to use.</p>",
          "shape": "String"
        },
        "KmsKeyId": {
          "documentation": "<p>The AWS KMS key identifier for an encrypted cluster.</p> <p>The AWS KMS key identifier is the Amazon Resource Name (ARN) for the AWS KMS encryption key. If you are creating a cluster using the same AWS account that owns the AWS KMS encryption key that is used to encrypt the new cluster, you can use the AWS KMS key alias instead of the ARN for the AWS KMS encryption key.</p> <p>If an encryption key is not specified in <code>KmsKeyId</code>:</p> <ul> <li> <p>If <code>ReplicationSourceIdentifier</code> identifies an encrypted source, then Amazon DocumentDB uses the encryption key that is used to encrypt the source. Otherwise, Amazon DocumentDB uses your default encryption key. </p> </li> <li> <p>If the <code>StorageEncrypted</code> parameter is <code>true</code> and <code>ReplicationSourceIdentifier</code> is not specified, Amazon DocumentDB uses your default encryption key.</p> </li> </ul> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p> <p>If you create a replica of an encrypted cluster in another AWS Region, you must set <code>KmsKeyId</code> to a KMS key ID that is valid in the destination AWS Region. This key is used to encrypt the replica in that AWS Region.</p>",
          "shape": "String"
        },
        "MasterUserPassword": {
          "documentation": "<p>The password for the master database user. This password can contain any printable ASCII character except forward slash (/), double quote (\"), or the \"at\" symbol (@).</p> <p>Constraints: Must contain from 8 to 100 characters.</p>",
          "shape": "String"
        },
        "MasterUsername": {
          "documentation": "<p>The name of the master user for the cluster.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 63 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot be a reserved word for the chosen database engine.</p> </li> </ul>",
          "shape": "String"
        },
        "Port": {
          "documentation": "<p>The port number on which the instances in the cluster accept connections.</p>",
          "shape": "IntegerOptional"
        },
        "PreferredBackupWindow": {
          "documentation": "<p>The daily time range during which automated backups are created if automated backups are enabled using the <code>BackupRetentionPeriod</code> parameter. </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region. </p> <p>Constraints:</p> <ul> <li> <p>Must be in the format <code>hh24:mi-hh24:mi</code>.</p> </li> <li> <p>Must be in Universal Coordinated Time (UTC).</p> </li> <li> <p>Must not conflict with the preferred maintenance window.</p> </li> <li> <p>Must be at least 30 minutes.</p> </li> </ul>",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p>Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week.</p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>",
          "shape": "String"
        },
        "StorageEncrypted": {
          "documentation": "<p>Specifies whether the cluster is encrypted.</p>",
          "shape": "BooleanOptional"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the cluster.</p>",
          "shape": "TagList"
        },
        "VpcSecurityGroupIds": {
          "documentation": "<p>A list of EC2 VPC security groups to associate with this cluster.</p>",
          "shape": "VpcSecurityGroupIdList"
        }
      },
      "required": [
        "DBClusterIdentifier",
        "Engine",
        "MasterUsername",
        "MasterUserPassword"
      ],
      "type": "structure"
    },
    "CreateDBClusterParameterGroupMessage": {
      "documentation": "<p>Represents the input of <a>CreateDBClusterParameterGroup</a>.</p>",
      "members": {
        "DBClusterParameterGroupName": {
          "documentation": "<p>The name of the cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must not match the name of an existing <code>DBClusterParameterGroup</code>.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>",
          "shape": "String"
        },
        "DBParameterGroupFamily": {
          "documentation": "<p>The cluster parameter group family name.</p>",
          "shape": "String"
        },
        "Description": {
          "documentation": "<p>The description for the cluster parameter group.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the cluster parameter group.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "DBClusterParameterGroupName",
        "DBParameterGroupFamily",
        "Description"
      ],
      "type": "structure"
    },
    "CreateDBClusterParameterGroupResult": {
      "members": {
        "DBClusterParameterGroup": {
          "shape": "DBClusterParameterGroup"
        }
      },
      "type": "structure"
    },
    "CreateDBClusterResult": {
      "members": {
        "DBCluster": {
          "shape": "DBCluster"
        }
      },
      "type": "structure"
    },
    "CreateDBClusterSnapshotMessage": {
      "documentation": "<p>Represents the input of <a>CreateDBClusterSnapshot</a>.</p>",
      "members": {
        "DBClusterIdentifier": {
          "documentation": "<p>The identifier of the cluster to create a snapshot for. This parameter is not case sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must match the identifier of an existing <code>DBCluster</code>.</p> </li> </ul> <p>Example: <code>my-cluster</code> </p>",
          "shape": "String"
        },
        "DBClusterSnapshotIdentifier": {
          "documentation": "<p>The identifier of the cluster snapshot. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the cluster snapshot.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "DBClusterSnapshotIdentifier",
        "DBClusterIdentifier"
      ],
      "type": "structure"
    },
    "CreateDBClusterSnapshotResult": {
      "members": {
        "DBClusterSnapshot": {
          "shape": "DBClusterSnapshot"
        }
      },
      "type": "structure"
    },
    "CreateDBInstanceMessage": {
      "documentation": "<p>Represents the input to <a>CreateDBInstance</a>.</p>",
      "members": {
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>Indicates that minor engine upgrades are applied automatically to the instance during the maintenance window.</p> <p>Default: <code>true</code> </p>",
          "shape": "BooleanOptional"
        },
        "AvailabilityZone": {
          "documentation": "<p> The Amazon EC2 Availability Zone that the instance is created in.</p> <p>Default: A random, system-chosen Availability Zone in the endpoint's AWS Region.</p> <p> Example: <code>us-east-1d</code> </p> <p> Constraint: The <code>AvailabilityZone</code> parameter can't be specified if the <code>MultiAZ</code> parameter is set to <code>true</code>. The specified Availability Zone must be in the same AWS Region as the current endpoint. </p>",
          "shape": "String"
        },
        "DBClusterIdentifier": {
          "documentation": "<p>The identifier of the cluster that the instance will belong to.</p>",
          "shape": "String"
        },
        "DBInstanceClass": {
          "documentation": "<p>The compute and memory capacity of the instance; for example, <code>db.r5.large</code>. </p>",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "documentation": "<p>The instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>mydbinstance</code> </p>",
          "shape": "String"
        },
        "Engine": {
          "documentation": "<p>The name of the database engine to be used for this instance.</p> <p>Valid value: <code>docdb</code> </p>",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>The time range each week during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>The default is a 30-minute window selected at random from an 8-hour block of time for each AWS Region, occurring on a random day of the week. </p> <p>Valid days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>",
          "shape": "String"
        },
        "PromotionTier": {
          "documentation": "<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p> <p>Default: 1</p> <p>Valid values: 0-15</p>",
          "shape": "IntegerOptional"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the instance. You can assign up to 10 tags to an instance.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "DBInstanceIdentifier",
        "DBInstanceClass",
        "Engine",
        "DBClusterIdentifier"
      ],
      "type": "structure"
    },
    "CreateDBInstanceResult": {
      "members": {
        "DBInstance": {
          "shape": "DBInstance"
        }
      },
      "type": "structure"
    },
    "CreateDBSubnetGroupMessage": {
      "documentation": "<p>Represents the input to <a>CreateDBSubnetGroup</a>.</p>",
      "members": {
        "DBSubnetGroupDescription": {
          "documentation": "<p>The description for the subnet group.</p>",
          "shape": "String"
        },
        "DBSubnetGroupName": {
          "documentation": "<p>The name for the subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 letters, numbers, periods, underscores, spaces, or hyphens. Must not be default.</p> <p>Example: <code>mySubnetgroup</code> </p>",
          "shape": "String"
        },
        "SubnetIds": {
          "documentation": "<p>The Amazon EC2 subnet IDs for the subnet group.</p>",
          "shape": "SubnetIdentifierList"
        },
        "Tags": {
          "documentation": "<p>The tags to be assigned to the subnet group.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "DBSubnetGroupName",
        "DBSubnetGroupDescription",
        "SubnetIds"
      ],
      "type": "structure"
    },
    "CreateDBSubnetGroupResult": {
      "members": {
        "DBSubnetGroup": {
          "shape": "DBSubnetGroup"
        }
      },
      "type": "structure"
    },
    "DBCluster": {
      "documentation": "<p>Detailed information about a cluster. </p>",
      "members": {
        "AssociatedRoles": {
          "documentation": "<p>Provides a list of the AWS Identity and Access Management (IAM) roles that are associated with the cluster. IAM roles that are associated with a cluster grant permission for the cluster to access other AWS services on your behalf.</p>",
          "shape": "DBClusterRoles"
        },
        "AvailabilityZones": {
          "documentation": "<p>Provides the list of Amazon EC2 Availability Zones that instances in the cluster can be created in.</p>",
          "shape": "AvailabilityZones"
        },
        "BackupRetentionPeriod": {
          "documentation": "<p>Specifies the number of days for which automatic snapshots are retained.</p>",
          "shape": "IntegerOptional"
        },
        "ClusterCreateTime": {
          "documentation": "<p>Specifies the time when the cluster was created, in Universal Coordinated Time (UTC).</p>",
          "shape": "TStamp"
        },
        "DBClusterArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the cluster.</p>",
          "shape": "String"
        },
        "DBClusterIdentifier": {
          "documentation": "<p>Contains a user-supplied cluster identifier. This identifier is the unique key that identifies a cluster.</p>",
          "shape": "String"
        },
        "DBClusterMembers": {
          "documentation": "<p>Provides the list of instances that make up the cluster.</p>",
          "shape": "DBClusterMemberList"
        },
        "DBClusterParameterGroup": {
          "documentation": "<p>Specifies the name of the cluster parameter group for the cluster.</p>",
          "shape": "String"
        },
        "DBSubnetGroup": {
          "documentation": "<p>Specifies information on the subnet group that is associated with the cluster, including the name, description, and subnets in the subnet group.</p>",
          "shape": "String"
        },
        "DbClusterResourceId": {
          "documentation": "<p>The AWS Region-unique, immutable identifier for the cluster. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the cluster is accessed.</p>",
          "shape": "String"
        },
        "DeletionProtection": {
          "documentation": "<p>Specifies whether this cluster can be deleted. If <code>DeletionProtection</code> is enabled, the cluster cannot be deleted unless it is modified and <code>DeletionProtection</code> is disabled. <code>DeletionProtection</code> protects clusters from being accidentally deleted.</p>",
          "shape": "Boolean"
        },
        "EarliestRestorableTime": {
          "documentation": "<p>The earliest time to which a database can be restored with point-in-time restore.</p>",
          "shape": "TStamp"
        },
        "EnabledCloudwatchLogsExports": {
          "documentation": "<p>A list of log types that this cluster is configured to export to Amazon CloudWatch Logs.</p>",
          "shape": "LogTypeList"
        },
        "Endpoint": {
          "documentation": "<p>Specifies the connection endpoint for the primary instance of the cluster.</p>",
          "shape": "String"
        },
        "Engine": {
          "documentation": "<p>Provides the name of the database engine to be used for this cluster.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>Indicates the database engine version.</p>",
          "shape": "String"
        },
        "HostedZoneId": {
          "documentation": "<p>Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.</p>",
          "shape": "String"
        },
        "KmsKeyId": {
          "documentation": "<p>If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for the encrypted cluster.</p>",
          "shape": "String"
        },
        "LatestRestorableTime": {
          "documentation": "<p>Specifies the latest time to which a database can be restored with point-in-time restore.</p>",
          "shape": "TStamp"
        },
        "MasterUsername": {
          "documentation": "<p>Contains the master user name for the cluster.</p>",
          "shape": "String"
        },
        "MultiAZ": {
          "documentation": "<p>Specifies whether the cluster has instances in multiple Availability Zones.</p>",
          "shape": "Boolean"
        },
        "PercentProgress": {
          "documentation": "<p>Specifies the progress of the operation as a percentage.</p>",
          "shape": "String"
        },
        "Port": {
          "documentation": "<p>Specifies the port that the database engine is listening on.</p>",
          "shape": "IntegerOptional"
        },
        "PreferredBackupWindow": {
          "documentation": "<p>Specifies the daily time range during which automated backups are created if automated backups are enabled, as determined by the <code>BackupRetentionPeriod</code>. </p>",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>Specifies the weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p>",
          "shape": "String"
        },
        "ReaderEndpoint": {
          "documentation": "<p>The reader endpoint for the cluster. The reader endpoint for a cluster load balances connections across the Amazon DocumentDB replicas that are available in a cluster. As clients request new connections to the reader endpoint, Amazon DocumentDB distributes the connection requests among the Amazon DocumentDB replicas in the cluster. This functionality can help balance your read workload across multiple Amazon DocumentDB replicas in your cluster. </p> <p>If a failover occurs, and the Amazon DocumentDB replica that you are connected to is promoted to be the primary instance, your connection is dropped. To continue sending your read workload to other Amazon DocumentDB replicas in the cluster, you can then reconnect to the reader endpoint.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>Specifies the current state of this cluster.</p>",
          "shape": "String"
        },
        "StorageEncrypted": {
          "documentation": "<p>Specifies whether the cluster is encrypted.</p>",
          "shape": "Boolean"
        },
        "VpcSecurityGroups": {
          "documentation": "<p>Provides a list of virtual private cloud (VPC) security groups that the cluster belongs to.</p>",
          "shape": "VpcSecurityGroupMembershipList"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "DBClusterAlreadyExistsFault": {
      "documentation": "<p>You already have a cluster with the given identifier.</p>",
      "error": {
        "code": "DBClusterAlreadyExistsFault",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBClusterList": {
      "member": {
        "locationName": "DBCluster",
        "shape": "DBCluster"
      },
      "type": "list"
    },
    "DBClusterMember": {
      "documentation": "<p>Contains information about an instance that is part of a cluster.</p>",
      "members": {
        "DBClusterParameterGroupStatus": {
          "documentation": "<p>Specifies the status of the cluster parameter group for this member of the DB cluster.</p>",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "documentation": "<p>Specifies the instance identifier for this member of the cluster.</p>",
          "shape": "String"
        },
        "IsClusterWriter": {
          "documentation": "<p>A value that is <code>true</code> if the cluster member is the primary instance for the cluster and <code>false</code> otherwise.</p>",
          "shape": "Boolean"
        },
        "PromotionTier": {
          "documentation": "<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance. </p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "DBClusterMemberList": {
      "member": {
        "locationName": "DBClusterMember",
        "shape": "DBClusterMember"
      },
      "type": "list"
    },
    "DBClusterMessage": {
      "documentation": "<p>Represents the output of <a>DescribeDBClusters</a>.</p>",
      "members": {
        "DBClusters": {
          "documentation": "<p>A list of clusters.</p>",
          "shape": "DBClusterList"
        },
        "Marker": {
          "documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBClusterNotFoundFault": {
      "documentation": "<p> <code>DBClusterIdentifier</code> doesn't refer to an existing cluster. </p>",
      "error": {
        "code": "DBClusterNotFoundFault",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBClusterParameterGroup": {
      "documentation": "<p>Detailed information about a cluster parameter group. </p>",
      "members": {
        "DBClusterParameterGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the cluster parameter group.</p>",
          "shape": "String"
        },
        "DBClusterParameterGroupName": {
          "documentation": "<p>Provides the name of the cluster parameter group.</p>",
          "shape": "String"
        },
        "DBParameterGroupFamily": {
          "documentation": "<p>Provides the name of the parameter group family that this cluster parameter group is compatible with.</p>",
          "shape": "String"
        },
        "Description": {
          "documentation": "<p>Provides the customer-specified description for this cluster parameter group.</p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "DBClusterParameterGroupDetails": {
      "documentation": "<p>Represents the output of <a>DBClusterParameterGroup</a>.</p>",
      "members": {
        "Marker": {
          "documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        },
        "Parameters": {
          "documentation": "<p>Provides a list of parameters for the cluster parameter group.</p>",
          "shape": "ParametersList"
        }
      },
      "type": "structure"
    },
    "DBClusterParameterGroupList": {
      "member": {
        "locationName": "DBClusterParameterGroup",
        "shape": "DBClusterParameterGroup"
      },
      "type": "list"
    },
    "DBClusterParameterGroupNameMessage": {
      "documentation": "<p>Contains the name of a cluster parameter group.</p>",
      "members": {
        "DBClusterParameterGroupName": {
          "documentation": "<p>The name of a cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Must be from 1 to 255 letters or numbers.</p> </li> <li> <p>The first character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <note> <p>This value is stored as a lowercase string.</p> </note>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBClusterParameterGroupNotFoundFault": {
      "documentation": "<p> <code>DBClusterParameterGroupName</code> doesn't refer to an existing cluster parameter group. </p>",
      "error": {
        "code": "DBClusterParameterGroupNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBClusterParameterGroupsMessage": {
      "documentation": "<p>Represents the output of <a>DBClusterParameterGroups</a>.</p>",
      "members": {
        "DBClusterParameterGroups": {
          "documentation": "<p>A list of cluster parameter groups.</p>",
          "shape": "DBClusterParameterGroupList"
        },
        "Marker": {
          "documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBClusterQuotaExceededFault": {
      "documentation": "<p>The cluster can't be created because you have reached the maximum allowed quota of clusters.</p>",
      "error": {
        "code": "DBClusterQuotaExceededFault",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBClusterRole": {
      "documentation": "<p>Describes an AWS Identity and Access Management (IAM) role that is associated with a cluster.</p>",
      "members": {
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that is associated with the DB cluster.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>Describes the state of association between the IAM role and the cluster. The <code>Status</code> property returns one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - The IAM role ARN is associated with the cluster and can be used to access other AWS services on your behalf.</p> </li> <li> <p> <code>PENDING</code> - The IAM role ARN is being associated with the DB cluster.</p> </li> <li> <p> <code>INVALID</code> - The IAM role ARN is associated with the cluster, but the cluster cannot assume the IAM role to access other AWS services on your behalf.</p> </li> </ul>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBClusterRoles": {
      "member": {
        "locationName": "DBClusterRole",
        "shape": "DBClusterRole"
      },
      "type": "list"
    },
    "DBClusterSnapshot": {
      "documentation": "<p>Detailed information about a cluster snapshot. </p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>Provides the list of Amazon EC2 Availability Zones that instances in the cluster snapshot can be restored in.</p>",
          "shape": "AvailabilityZones"
        },
        "ClusterCreateTime": {
          "documentation": "<p>Specifies the time when the cluster was created, in Universal Coordinated Time (UTC).</p>",
          "shape": "TStamp"
        },
        "DBClusterIdentifier": {
          "documentation": "<p>Specifies the cluster identifier of the cluster that this cluster snapshot was created from.</p>",
          "shape": "String"
        },
        "DBClusterSnapshotArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the cluster snapshot.</p>",
          "shape": "String"
        },
        "DBClusterSnapshotIdentifier": {
          "documentation": "<p>Specifies the identifier for the cluster snapshot.</p>",
          "shape": "String"
        },
        "Engine": {
          "documentation": "<p>Specifies the name of the database engine.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>Provides the version of the database engine for this cluster snapshot.</p>",
          "shape": "String"
        },
        "KmsKeyId": {
          "documentation": "<p>If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for the encrypted cluster snapshot.</p>",
          "shape": "String"
        },
        "MasterUsername": {
          "documentation": "<p>Provides the master user name for the cluster snapshot.</p>",
          "shape": "String"
        },
        "PercentProgress": {
          "documentation": "<p>Specifies the percentage of the estimated data that has been transferred.</p>",
          "shape": "Integer"
        },
        "Port": {
          "documentation": "<p>Specifies the port that the cluster was listening on at the time of the snapshot.</p>",
          "shape": "Integer"
        },
        "SnapshotCreateTime": {
          "documentation": "<p>Provides the time when the snapshot was taken, in UTC.</p>",
          "shape": "TStamp"
        },
        "SnapshotType": {
          "documentation": "<p>Provides the type of the cluster snapshot.</p>",
          "shape": "String"
        },
        "SourceDBClusterSnapshotArn": {
          "documentation": "<p>If the cluster snapshot was copied from a source cluster snapshot, the ARN for the source cluster snapshot; otherwise, a null value.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>Specifies the status of this cluster snapshot.</p>",
          "shape": "String"
        },
        "StorageEncrypted": {
          "documentation": "<p>Specifies whether the cluster snapshot is encrypted.</p>",
          "shape": "Boolean"
        },
        "VpcId": {
          "documentation": "<p>Provides the virtual private cloud (VPC) ID that is associated with the cluster snapshot.</p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "DBClusterSnapshotAlreadyExistsFault": {
      "documentation": "<p>You already have a cluster snapshot with the given identifier.</p>",
      "error": {
        "code": "DBClusterSnapshotAlreadyExistsFault",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBClusterSnapshotAttribute": {
      "documentation": "<p>Contains the name and values of a manual cluster snapshot attribute.</p> <p>Manual cluster snapshot attributes are used to authorize other AWS accounts to restore a manual cluster snapshot.</p>",
      "members": {
        "AttributeName": {
          "documentation": "<p>The name of the manual cluster snapshot attribute.</p> <p>The attribute named <code>restore</code> refers to the list of AWS accounts that have permission to copy or restore the manual cluster snapshot.</p>",
          "shape": "String"
        },
        "AttributeValues": {
          "documentation": "<p>The values for the manual cluster snapshot attribute.</p> <p>If the <code>AttributeName</code> field is set to <code>restore</code>, then this element returns a list of IDs of the AWS accounts that are authorized to copy or restore the manual cluster snapshot. If a value of <code>all</code> is in the list, then the manual cluster snapshot is public and available for any AWS account to copy or restore.</p>",
          "shape": "AttributeValueList"
        }
      },
      "type": "structure"
    },
    "DBClusterSnapshotAttributeList": {
      "member": {
        "locationName": "DBClusterSnapshotAttribute",
        "shape": "DBClusterSnapshotAttribute"
      },
      "type": "list"
    },
    "DBClusterSnapshotAttributesResult": {
      "documentation": "<p>Detailed information about the attributes that are associated with a cluster snapshot.</p>",
      "members": {
        "DBClusterSnapshotAttributes": {
          "documentation": "<p>The list of attributes and values for the cluster snapshot.</p>",
          "shape": "DBClusterSnapshotAttributeList"
        },
        "DBClusterSnapshotIdentifier": {
          "documentation": "<p>The identifier of the cluster snapshot that the attributes apply to.</p>",
          "shape": "String"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "DBClusterSnapshotList": {
      "member": {
        "locationName": "DBClusterSnapshot",
        "shape": "DBClusterSnapshot"
      },
      "type": "list"
    },
    "DBClusterSnapshotMessage": {
      "documentation": "<p>Represents the output of <a>DescribeDBClusterSnapshots</a>.</p>",
      "members": {
        "DBClusterSnapshots": {
          "documentation": "<p>Provides a list of cluster snapshots.</p>",
          "shape": "DBClusterSnapshotList"
        },
        "Marker": {
          "documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBClusterSnapshotNotFoundFault": {
      "documentation": "<p> <code>DBClusterSnapshotIdentifier</code> doesn't refer to an existing cluster snapshot. </p>",
      "error": {
        "code": "DBClusterSnapshotNotFoundFault",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBEngineVersion": {
      "documentation": "<p> Detailed information about an engine version. </p>",
      "members": {
        "DBEngineDescription": {
          "documentation": "<p>The description of the database engine.</p>",
          "shape": "String"
        },
        "DBEngineVersionDescription": {
          "documentation": "<p>The description of the database engine version.</p>",
          "shape": "String"
        },
        "DBParameterGroupFamily": {
          "documentation": "<p>The name of the parameter group family for the database engine.</p>",
          "shape": "String"
        },
        "Engine": {
          "documentation": "<p>The name of the database engine.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>The version number of the database engine.</p>",
          "shape": "String"
        },
        "ExportableLogTypes": {
          "documentation": "<p>The types of logs that the database engine has available for export to Amazon CloudWatch Logs.</p>",
          "shape": "LogTypeList"
        },
        "SupportsLogExportsToCloudwatchLogs": {
          "documentation": "<p>A value that indicates whether the engine version supports exporting the log types specified by <code>ExportableLogTypes</code> to CloudWatch Logs.</p>",
          "shape": "Boolean"
        },
        "ValidUpgradeTarget": {
          "documentation": "<p>A list of engine versions that this database engine version can be upgraded to.</p>",
          "shape": "ValidUpgradeTargetList"
        }
      },
      "type": "structure"
    },
    "DBEngineVersionList": {
      "member": {
        "locationName": "DBEngineVersion",
        "shape": "DBEngineVersion"
      },
      "type": "list"
    },
    "DBEngineVersionMessage": {
      "documentation": "<p>Represents the output of <a>DescribeDBEngineVersions</a>.</p>",
      "members": {
        "DBEngineVersions": {
          "documentation": "<p>Detailed information about one or more engine versions.</p>",
          "shape": "DBEngineVersionList"
        },
        "Marker": {
          "documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBInstance": {
      "documentation": "<p>Detailed information about an instance. </p>",
      "members": {
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>Indicates that minor version patches are applied automatically.</p>",
          "shape": "Boolean"
        },
        "AvailabilityZone": {
          "documentation": "<p>Specifies the name of the Availability Zone that the instance is located in.</p>",
          "shape": "String"
        },
        "BackupRetentionPeriod": {
          "documentation": "<p>Specifies the number of days for which automatic snapshots are retained.</p>",
          "shape": "Integer"
        },
        "CACertificateIdentifier": {
          "documentation": "<p>The identifier of the CA certificate for this DB instance.</p>",
          "shape": "String"
        },
        "DBClusterIdentifier": {
          "documentation": "<p>Contains the name of the cluster that the instance is a member of if the instance is a member of a cluster.</p>",
          "shape": "String"
        },
        "DBInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the instance.</p>",
          "shape": "String"
        },
        "DBInstanceClass": {
          "documentation": "<p>Contains the name of the compute and memory capacity class of the instance.</p>",
          "shape": "String"
        },
        "DBInstanceIdentifier": {
          "documentation": "<p>Contains a user-provided database identifier. This identifier is the unique key that identifies an instance.</p>",
          "shape": "String"
        },
        "DBInstanceStatus": {
          "documentation": "<p>Specifies the current state of this database.</p>",
          "shape": "String"
        },
        "DBSubnetGroup": {
          "documentation": "<p>Specifies information on the subnet group that is associated with the instance, including the name, description, and subnets in the subnet group.</p>",
          "shape": "DBSubnetGroup"
        },
        "DbiResourceId": {
          "documentation": "<p>The AWS Region-unique, immutable identifier for the instance. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the instance is accessed.</p>",
          "shape": "String"
        },
        "EnabledCloudwatchLogsExports": {
          "documentation": "<p>A list of log types that this instance is configured to export to Amazon CloudWatch Logs.</p>",
          "shape": "LogTypeList"
        },
        "Endpoint": {
          "documentation": "<p>Specifies the connection endpoint.</p>",
          "shape": "Endpoint"
        },
        "Engine": {
          "documentation": "<p>Provides the name of the database engine to be used for this instance.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>Indicates the database engine version.</p>",
          "shape": "String"
        },
        "InstanceCreateTime": {
          "documentation": "<p>Provides the date and time that the instance was created.</p>",
          "shape": "TStamp"
        },
        "KmsKeyId": {
          "documentation": "<p> If <code>StorageEncrypted</code> is <code>true</code>, the AWS KMS key identifier for the encrypted instance. </p>",
          "shape": "String"
        },
        "LatestRestorableTime": {
          "documentation": "<p>Specifies the latest time to which a database can be restored with point-in-time restore.</p>",
          "shape": "TStamp"
        },
        "PendingModifiedValues": {
          "documentation": "<p>Specifies that changes to the instance are pending. This element is included only when changes are pending. Specific changes are identified by subelements.</p>",
          "shape": "PendingModifiedValues"
        },
        "PreferredBackupWindow": {
          "documentation": "<p> Specifies the daily time range during which automated backups are created if automated backups are enabled, as determined by the <code>BackupRetentionPeriod</code>. </p>",
          "shape": "String"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>Specifies the weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p>",
          "shape": "String"
        },
        "PromotionTier": {
          "documentation": "<p>A value that specifies the order in which an Amazon DocumentDB replica is promoted to the primary instance after a failure of the existing primary instance.</p>",
          "shape": "IntegerOptional"
        },
        "PubliclyAccessible": {
          "documentation": "<p>Not supported. Amazon DocumentDB does not currently support public endpoints. The value of <code>PubliclyAccessible</code> is always <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "StatusInfos": {
          "documentation": "<p>The status of a read replica. If the instance is not a read replica, this is blank.</p>",
          "shape": "DBInstanceStatusInfoList"
        },
        "StorageEncrypted": {
          "documentation": "<p>Specifies whether or not the instance is encrypted.</p>",
          "shape": "Boolean"
        },
        "VpcSecurityGroups": {
          "documentation": "<p>Provides a list of VPC security group elements that the instance belongs to.</p>",
          "shape": "VpcSecurityGroupMembershipList"
        }
      },
      "type": "structure",
      "wrapper": true
    },
    "DBInstanceAlreadyExistsFault": {
      "documentation": "<p>You already have a instance with the given identifier.</p>",
      "error": {
        "code": "DBInstanceAlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBInstanceList": {
      "member": {
        "locationName": "DBInstance",
        "shape": "DBInstance"
      },
      "type": "list"
    },
    "DBInstanceMessage": {
      "documentation": "<p>Represents the output of <a>DescribeDBInstances</a>.</p>",
      "members": {
        "DBInstances": {
          "documentation": "<p>Detailed information about one or more instances. </p>",
          "shape": "DBInstanceList"
        },
        "Marker": {
          "documentation": "<p>An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DBInstanceNotFoundFault": {
      "documentation": "<p> <code>DBInstanceIdentifier</code> doesn't refer to an existing instance. </p>",
      "error": {
        "code": "DBInstanceNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DBInstanceStatusInfo": {
      "documentation": "<p>Provides a list of status information for an instance.</p>",
      "members": {
        "Message": {
          "documentation": "<p>Details of the error if there is an error for the instance. If the instance is not in an error state, this value is blank.</p>",
          "shape": "String"
        },
        "Normal": {
          "documentation": "<p>A Boolean value that is <code>true</code> if the instance is operating normally, or <code>false</code> if the instance is in an error state.</p>",
          "shape": "Boolean"
        },
        "Status": {
[...]
