{
  "documentation": "<fullname>AWS Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>. The AWS Lambda Developer Guide provides additional information. For the service overview, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What is AWS Lambda</a>, and for information about how the service works, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS Lambda: How it Works</a> in the <b>AWS Lambda Developer Guide</b>.</p>",
  "metadata": {
    "apiVersion": "2015-03-31",
    "endpointPrefix": "lambda",
    "protocol": "rest-json",
    "serviceFullName": "AWS Lambda",
    "serviceId": "Lambda",
    "signatureVersion": "v4",
    "uid": "lambda-2015-03-31"
  },
  "operations": {
    "AddLayerVersionPermission": {
      "documentation": "<p>Adds permissions to the resource-based policy of a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. Use this action to grant layer usage permission to other accounts. You can grant permission to a single account, all AWS accounts, or all accounts in an organization.</p> <p>To revoke permission, call <a>RemoveLayerVersionPermission</a> with the statement ID that you specified when you added it.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "PolicyLengthExceededException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
        "responseCode": 201
      },
      "input": {
        "shape": "AddLayerVersionPermissionRequest"
      },
      "name": "AddLayerVersionPermission",
      "output": {
        "shape": "AddLayerVersionPermissionResponse"
      }
    },
    "AddPermission": {
      "documentation": "<p>Grants an AWS service or another account permission to use a function. You can apply the policy at the function level, or specify a qualifier to restrict access to a single version or alias. If you use a qualifier, the invoker must use the full Amazon Resource Name (ARN) of that version or alias to invoke the function.</p> <p>To grant permission to another account, specify the account ID as the <code>Principal</code>. For AWS services, the principal is a domain-style identifier defined by the service, like <code>s3.amazonaws.com</code> or <code>sns.amazonaws.com</code>. For AWS services, you can also specify the ARN of the associated resource as the <code>SourceArn</code>. If you grant permission to a service principal without specifying the source, other accounts could potentially configure resources in their account to invoke your Lambda function.</p> <p>This action adds a statement to a resource-based permissions policy for the function. For more information about function policies, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">Lambda Function Policies</a>. </p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "PolicyLengthExceededException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-03-31/functions/{FunctionName}/policy",
        "responseCode": 201
      },
      "input": {
        "shape": "AddPermissionRequest"
      },
      "name": "AddPermission",
      "output": {
        "shape": "AddPermissionResponse"
      }
    },
    "CreateAlias": {
      "documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a> for a Lambda function version. Use aliases to provide clients with a function identifier that you can update to invoke a different version.</p> <p>You can also map an alias to split invocation requests between two versions. Use the <code>RoutingConfig</code> parameter to specify a second version and the percentage of invocation requests that it receives.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateAliasRequest"
      },
      "name": "CreateAlias",
      "output": {
        "shape": "AliasConfiguration"
      }
    },
    "CreateEventSourceMapping": {
      "documentation": "<p>Creates a mapping between an event source and an AWS Lambda function. Lambda reads items from the event source and triggers the function.</p> <p>For details about each event source type, see the following topics.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-ddb.html\">Using AWS Lambda with Amazon DynamoDB</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-kinesis.html\">Using AWS Lambda with Amazon Kinesis</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/with-sqs.html\">Using AWS Lambda with Amazon SQS</a> </p> </li> </ul> <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p> <ul> <li> <p> <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p> </li> <li> <p> <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p> </li> <li> <p> <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age.</p> </li> <li> <p> <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries.</p> </li> <li> <p> <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-03-31/event-source-mappings/",
        "responseCode": 202
      },
      "input": {
        "shape": "CreateEventSourceMappingRequest"
      },
      "name": "CreateEventSourceMapping",
      "output": {
        "shape": "EventSourceMappingConfiguration"
      }
    },
    "CreateFunction": {
      "documentation": "<p>Creates a Lambda function. To create a function, you need a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/deployment-package-v2.html\">deployment package</a> and an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role\">execution role</a>. The deployment package contains your function code. The execution role grants the function permission to use AWS services, such as Amazon CloudWatch Logs for log streaming and AWS X-Ray for request tracing.</p> <p>When you create a function, Lambda provisions an instance of the function and its supporting resources. If your function connects to a VPC, this process can take a minute or so. During this time, you can't invoke or modify the function. The <code>State</code>, <code>StateReason</code>, and <code>StateReasonCode</code> fields in the response from <a>GetFunctionConfiguration</a> indicate when the function is ready to invoke. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function States</a>.</p> <p>A function has an unpublished version, and can have published versions and aliases. The unpublished version changes when you update your function's code and configuration. A published version is a snapshot of your function code and configuration that can't be changed. An alias is a named resource that maps to a version, and can be changed to map to a different version. Use the <code>Publish</code> parameter to create version <code>1</code> of your function from its initial configuration.</p> <p>The other parameters let you configure version-specific and function-level settings. You can modify version-specific settings later with <a>UpdateFunctionConfiguration</a>. Function-level settings apply to both the unpublished and published versions of the function, and include tags (<a>TagResource</a>) and per-function concurrency limits (<a>PutFunctionConcurrency</a>).</p> <p>If another account or an AWS service invokes your function, use <a>AddPermission</a> to grant permission by creating a resource-based IAM policy. You can grant permissions at the function level, on a version, or on an alias.</p> <p>To invoke your function directly, use <a>Invoke</a>. To invoke your function in response to events in other AWS services, create an event source mapping (<a>CreateEventSourceMapping</a>), or configure a function trigger in the other service. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-invocation.html\">Invoking Functions</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "CodeStorageExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-03-31/functions",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateFunctionRequest"
      },
      "name": "CreateFunction",
      "output": {
        "shape": "FunctionConfiguration"
      }
    },
    "DeleteAlias": {
      "documentation": "<p>Deletes a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteAliasRequest"
      },
      "name": "DeleteAlias"
    },
    "DeleteEventSourceMapping": {
      "documentation": "<p>Deletes an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/intro-invocation-modes.html\">event source mapping</a>. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p> <p>When you delete an event source mapping, it enters a <code>Deleting</code> state and might not be completely deleted for several seconds.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
        "responseCode": 202
      },
      "input": {
        "shape": "DeleteEventSourceMappingRequest"
      },
      "name": "DeleteEventSourceMapping",
      "output": {
        "shape": "EventSourceMappingConfiguration"
      }
    },
    "DeleteFunction": {
      "documentation": "<p>Deletes a Lambda function. To delete a specific function version, use the <code>Qualifier</code> parameter. Otherwise, all versions and aliases are deleted.</p> <p>To delete Lambda event source mappings that invoke a function, use <a>DeleteEventSourceMapping</a>. For AWS services and resources that invoke your function directly, delete the trigger in the service where you originally configured it.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/functions/{FunctionName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFunctionRequest"
      },
      "name": "DeleteFunction"
    },
    "DeleteFunctionConcurrency": {
      "documentation": "<p>Removes a concurrent execution limit from a function.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFunctionConcurrencyRequest"
      },
      "name": "DeleteFunctionConcurrency"
    },
    "DeleteFunctionEventInvokeConfig": {
      "documentation": "<p>Deletes the configuration for asynchronous invocation for a function, version, or alias.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteFunctionEventInvokeConfigRequest"
      },
      "name": "DeleteFunctionEventInvokeConfig"
    },
    "DeleteLayerVersion": {
      "documentation": "<p>Deletes a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. Deleted versions can no longer be viewed or added to functions. To avoid breaking functions, a copy of the version remains in Lambda until no functions refer to it.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteLayerVersionRequest"
      },
      "name": "DeleteLayerVersion"
    },
    "DeleteProvisionedConcurrencyConfig": {
      "documentation": "<p>Deletes the provisioned concurrency configuration for a function.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteProvisionedConcurrencyConfigRequest"
      },
      "name": "DeleteProvisionedConcurrencyConfig"
    },
    "GetAccountSettings": {
      "documentation": "<p>Retrieves details about your account's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limits</a> and usage in an AWS Region.</p>",
      "errors": [
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2016-08-19/account-settings/",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAccountSettingsRequest"
      },
      "name": "GetAccountSettings",
      "output": {
        "shape": "GetAccountSettingsResponse"
      }
    },
    "GetAlias": {
      "documentation": "<p>Returns details about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAliasRequest"
      },
      "name": "GetAlias",
      "output": {
        "shape": "AliasConfiguration"
      }
    },
    "GetEventSourceMapping": {
      "documentation": "<p>Returns details about an event source mapping. You can get the identifier of a mapping from the output of <a>ListEventSourceMappings</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetEventSourceMappingRequest"
      },
      "name": "GetEventSourceMapping",
      "output": {
        "shape": "EventSourceMappingConfiguration"
      }
    },
    "GetFunction": {
      "documentation": "<p>Returns information about the function or function version, with a link to download the deployment package that's valid for 10 minutes. If you specify a function version, only details that are specific to that version are returned.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionRequest"
      },
      "name": "GetFunction",
      "output": {
        "shape": "GetFunctionResponse"
      }
    },
    "GetFunctionConcurrency": {
      "documentation": "<p>Returns details about the reserved concurrency configuration for a function. To set a concurrency limit for a function, use <a>PutFunctionConcurrency</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-09-30/functions/{FunctionName}/concurrency",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionConcurrencyRequest"
      },
      "name": "GetFunctionConcurrency",
      "output": {
        "shape": "GetFunctionConcurrencyResponse"
      }
    },
    "GetFunctionConfiguration": {
      "documentation": "<p>Returns the version-specific settings of a Lambda function or version. The output includes only options that can vary between versions of a function. To modify these settings, use <a>UpdateFunctionConfiguration</a>.</p> <p>To get all of a function's details, including function-level settings, use <a>GetFunction</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionConfigurationRequest"
      },
      "name": "GetFunctionConfiguration",
      "output": {
        "shape": "FunctionConfiguration"
      }
    },
    "GetFunctionEventInvokeConfig": {
      "documentation": "<p>Retrieves the configuration for asynchronous invocation for a function, version, or alias.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionEventInvokeConfigRequest"
      },
      "name": "GetFunctionEventInvokeConfig",
      "output": {
        "shape": "FunctionEventInvokeConfig"
      }
    },
    "GetLayerVersion": {
      "documentation": "<p>Returns information about a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>, with a link to download the layer archive that's valid for 10 minutes.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLayerVersionRequest"
      },
      "name": "GetLayerVersion",
      "output": {
        "shape": "GetLayerVersionResponse"
      }
    },
    "GetLayerVersionByArn": {
      "documentation": "<p>Returns information about a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>, with a link to download the layer archive that's valid for 10 minutes.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2018-10-31/layers?find=LayerVersion",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLayerVersionByArnRequest"
      },
      "name": "GetLayerVersionByArn",
      "output": {
        "shape": "GetLayerVersionResponse"
      }
    },
    "GetLayerVersionPolicy": {
      "documentation": "<p>Returns the permission policy for a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. For more information, see <a>AddLayerVersionPermission</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLayerVersionPolicyRequest"
      },
      "name": "GetLayerVersionPolicy",
      "output": {
        "shape": "GetLayerVersionPolicyResponse"
      }
    },
    "GetPolicy": {
      "documentation": "<p>Returns the <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/access-control-resource-based.html\">resource-based IAM policy</a> for a function, version, or alias.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "shape": "GetPolicyResponse"
      }
    },
    "GetProvisionedConcurrencyConfig": {
      "documentation": "<p>Retrieves the provisioned concurrency configuration for a function's alias or version.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ProvisionedConcurrencyConfigNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode": 200
      },
      "input": {
        "shape": "GetProvisionedConcurrencyConfigRequest"
      },
      "name": "GetProvisionedConcurrencyConfig",
      "output": {
        "shape": "GetProvisionedConcurrencyConfigResponse"
      }
    },
    "Invoke": {
      "documentation": "<p>Invokes a Lambda function. You can invoke a function synchronously (and wait for the response), or asynchronously. To invoke a function asynchronously, set <code>InvocationType</code> to <code>Event</code>.</p> <p>For <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-sync.html\">synchronous invocation</a>, details about the function response, including errors, are included in the response body and headers. For either invocation type, you can find more information in the <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/monitoring-functions.html\">execution log</a> and <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-x-ray.html\">trace</a>.</p> <p>When an error occurs, your function may be invoked multiple times. Retry behavior varies by error type, client, event source, and invocation type. For example, if you invoke a function asynchronously and it returns an error, Lambda executes the function up to two more times. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/retries-on-errors.html\">Retry Behavior</a>.</p> <p>For <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html\">asynchronous invocation</a>, Lambda adds events to a queue before sending them to your function. If your function does not have enough capacity to keep up with the queue, events may be lost. Occasionally, your function may receive the same event multiple times, even if no error occurs. To retain events that were not processed, configure your function with a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a>.</p> <p>The status code in the API response doesn't reflect function errors. Error codes are reserved for errors that prevent your function from executing, such as permissions errors, <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">limit errors</a>, or issues with your function's code and configuration. For example, Lambda returns <code>TooManyRequestsException</code> if executing the function would cause you to exceed a concurrency limit at either the account level (<code>ConcurrentInvocationLimitExceeded</code>) or function level (<code>ReservedFunctionConcurrentInvocationLimitExceeded</code>).</p> <p>For functions with a long timeout, your client might be disconnected during synchronous invocation while it waits for a response. Configure your HTTP client, SDK, firewall, proxy, or operating system to allow for long connections with timeout or keep-alive settings.</p> <p>This operation requires permission for the <code>lambda:InvokeFunction</code> action.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestContentException"
        },
        {
          "shape": "RequestTooLargeException"
        },
        {
          "shape": "UnsupportedMediaTypeException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "EC2UnexpectedException"
        },
        {
          "shape": "SubnetIPAddressLimitReachedException"
        },
        {
          "shape": "ENILimitReachedException"
        },
        {
          "shape": "EC2ThrottledException"
        },
        {
          "shape": "EC2AccessDeniedException"
        },
        {
          "shape": "InvalidSubnetIDException"
        },
        {
          "shape": "InvalidSecurityGroupIDException"
        },
        {
          "shape": "InvalidZipFileException"
        },
        {
          "shape": "KMSDisabledException"
        },
        {
          "shape": "KMSInvalidStateException"
        },
        {
          "shape": "KMSAccessDeniedException"
        },
        {
          "shape": "KMSNotFoundException"
        },
        {
          "shape": "InvalidRuntimeException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ResourceNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-03-31/functions/{FunctionName}/invocations"
      },
      "input": {
        "shape": "InvocationRequest"
      },
      "name": "Invoke",
      "output": {
        "shape": "InvocationResponse"
      }
    },
    "InvokeAsync": {
      "deprecated": true,
      "documentation": "<important> <p>For asynchronous function invocation, use <a>Invoke</a>.</p> </important> <p>Invokes a function asynchronously.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestContentException"
        },
        {
          "shape": "InvalidRuntimeException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2014-11-13/functions/{FunctionName}/invoke-async/",
        "responseCode": 202
      },
      "input": {
        "shape": "InvokeAsyncRequest"
      },
      "name": "InvokeAsync",
      "output": {
        "shape": "InvokeAsyncResponse"
      }
    },
    "ListAliases": {
      "documentation": "<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">aliases</a> for a Lambda function.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAliasesRequest"
      },
      "name": "ListAliases",
      "output": {
        "shape": "ListAliasesResponse"
      }
    },
    "ListEventSourceMappings": {
      "documentation": "<p>Lists event source mappings. Specify an <code>EventSourceArn</code> to only show event source mappings for a single event source.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/event-source-mappings/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListEventSourceMappingsRequest"
      },
      "name": "ListEventSourceMappings",
      "output": {
        "shape": "ListEventSourceMappingsResponse"
      }
    },
    "ListFunctionEventInvokeConfigs": {
      "documentation": "<p>Retrieves a list of configurations for asynchronous invocation for a function.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-09-25/functions/{FunctionName}/event-invoke-config/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFunctionEventInvokeConfigsRequest"
      },
      "name": "ListFunctionEventInvokeConfigs",
      "output": {
        "shape": "ListFunctionEventInvokeConfigsResponse"
      }
    },
    "ListFunctions": {
      "documentation": "<p>Returns a list of Lambda functions, with the version-specific configuration of each. Lambda returns up to 50 functions per call.</p> <p>Set <code>FunctionVersion</code> to <code>ALL</code> to include all published versions of each function in addition to the unpublished version. To get more information about a function or version, use <a>GetFunction</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFunctionsRequest"
      },
      "name": "ListFunctions",
      "output": {
        "shape": "ListFunctionsResponse"
      }
    },
    "ListLayerVersions": {
      "documentation": "<p>Lists the versions of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. Versions that have been deleted aren't listed. Specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime identifier</a> to list only versions that indicate that they're compatible with that runtime.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLayerVersionsRequest"
      },
      "name": "ListLayerVersions",
      "output": {
        "shape": "ListLayerVersionsResponse"
      }
    },
    "ListLayers": {
      "documentation": "<p>Lists <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layers</a> and shows information about the latest version of each. Specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime identifier</a> to list only layers that indicate that they're compatible with that runtime.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2018-10-31/layers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLayersRequest"
      },
      "name": "ListLayers",
      "output": {
        "shape": "ListLayersResponse"
      }
    },
    "ListProvisionedConcurrencyConfigs": {
      "documentation": "<p>Retrieves a list of provisioned concurrency configurations for a function.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency?List=ALL",
        "responseCode": 200
      },
      "input": {
        "shape": "ListProvisionedConcurrencyConfigsRequest"
      },
      "name": "ListProvisionedConcurrencyConfigs",
      "output": {
        "shape": "ListProvisionedConcurrencyConfigsResponse"
      }
    },
    "ListTags": {
      "documentation": "<p>Returns a function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a>. You can also view tags with <a>GetFunction</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2017-03-31/tags/{ARN}"
      },
      "input": {
        "shape": "ListTagsRequest"
      },
      "name": "ListTags",
      "output": {
        "shape": "ListTagsResponse"
      }
    },
    "ListVersionsByFunction": {
      "documentation": "<p>Returns a list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">versions</a>, with the version-specific configuration of each. Lambda returns up to 50 versions per call.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2015-03-31/functions/{FunctionName}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListVersionsByFunctionRequest"
      },
      "name": "ListVersionsByFunction",
      "output": {
        "shape": "ListVersionsByFunctionResponse"
      }
    },
    "PublishLayerVersion": {
      "documentation": "<p>Creates an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a> from a ZIP archive. Each time you call <code>PublishLayerVersion</code> with the same layer name, a new version is created.</p> <p>Add layers to your function with <a>CreateFunction</a> or <a>UpdateFunctionConfiguration</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "CodeStorageExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "PublishLayerVersionRequest"
      },
      "name": "PublishLayerVersion",
      "output": {
        "shape": "PublishLayerVersionResponse"
      }
    },
    "PublishVersion": {
      "documentation": "<p>Creates a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">version</a> from the current code and configuration of a function. Use versions to create a snapshot of your function code and configuration that doesn't change.</p> <p>AWS Lambda doesn't publish a version if the function's configuration and code haven't changed since the last version. Use <a>UpdateFunctionCode</a> or <a>UpdateFunctionConfiguration</a> to update the function before publishing a version.</p> <p>Clients can invoke versions directly or with an alias. To create an alias, use <a>CreateAlias</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "CodeStorageExceededException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2015-03-31/functions/{FunctionName}/versions",
        "responseCode": 201
      },
      "input": {
        "shape": "PublishVersionRequest"
      },
      "name": "PublishVersion",
      "output": {
        "shape": "FunctionConfiguration"
      }
    },
    "PutFunctionConcurrency": {
      "documentation": "<p>Sets the maximum number of simultaneous executions for a function, and reserves capacity for that concurrency level.</p> <p>Concurrency settings apply to the function as a whole, including all published versions and the unpublished version. Reserving concurrency both ensures that your function has capacity to process the specified number of events simultaneously, and prevents it from scaling beyond that level. Use <a>GetFunction</a> to see the current setting for a function.</p> <p>Use <a>GetAccountSettings</a> to see your Regional concurrency limit. You can reserve concurrency for as many functions as you like, as long as you leave at least 100 simultaneous executions unreserved for functions that aren't configured with a per-function limit. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Managing Concurrency</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2017-10-31/functions/{FunctionName}/concurrency",
        "responseCode": 200
      },
      "input": {
        "shape": "PutFunctionConcurrencyRequest"
      },
      "name": "PutFunctionConcurrency",
      "output": {
        "shape": "Concurrency"
      }
    },
    "PutFunctionEventInvokeConfig": {
      "documentation": "<p>Configures options for <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html\">asynchronous invocation</a> on a function, version, or alias. If a configuration already exists for a function, version, or alias, this operation overwrites it. If you exclude any settings, they are removed. To set one option without affecting existing settings for other options, use <a>PutFunctionEventInvokeConfig</a>.</p> <p>By default, Lambda retries an asynchronous invocation twice if the function returns an error. It retains events in a queue for up to six hours. When an event fails all processing attempts or stays in the asynchronous invocation queue for too long, Lambda discards it. To retain discarded events, configure a dead-letter queue with <a>UpdateFunctionConfiguration</a>.</p> <p>To send an invocation record to a queue, topic, function, or event bus, specify a <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#invocation-async-destinations\">destination</a>. You can configure separate destinations for successful invocations (on-success) and events that fail all processing attempts (on-failure). You can configure destinations in addition to or instead of a dead-letter queue.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode": 200
      },
      "input": {
        "shape": "PutFunctionEventInvokeConfigRequest"
      },
      "name": "PutFunctionEventInvokeConfig",
      "output": {
        "shape": "FunctionEventInvokeConfig"
      }
    },
    "PutProvisionedConcurrencyConfig": {
      "documentation": "<p>Adds a provisioned concurrency configuration to a function's alias or version.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ServiceException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2019-09-30/functions/{FunctionName}/provisioned-concurrency",
        "responseCode": 202
      },
      "input": {
        "shape": "PutProvisionedConcurrencyConfigRequest"
      },
      "name": "PutProvisionedConcurrencyConfig",
      "output": {
        "shape": "PutProvisionedConcurrencyConfigResponse"
      }
    },
    "RemoveLayerVersionPermission": {
      "documentation": "<p>Removes a statement from the permissions policy for a version of an <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">AWS Lambda layer</a>. For more information, see <a>AddLayerVersionPermission</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2018-10-31/layers/{LayerName}/versions/{VersionNumber}/policy/{StatementId}",
        "responseCode": 204
      },
      "input": {
        "shape": "RemoveLayerVersionPermissionRequest"
      },
      "name": "RemoveLayerVersionPermission"
    },
    "RemovePermission": {
      "documentation": "<p>Revokes function-use permission from an AWS service or another account. You can get the ID of the statement from the output of <a>GetPolicy</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2015-03-31/functions/{FunctionName}/policy/{StatementId}",
        "responseCode": 204
      },
      "input": {
        "shape": "RemovePermissionRequest"
      },
      "name": "RemovePermission"
    },
    "TagResource": {
      "documentation": "<p>Adds <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to a function.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2017-03-31/tags/{ARN}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "<p>Removes <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> from a function.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2017-03-31/tags/{ARN}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateAlias": {
      "documentation": "<p>Updates the configuration of a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/functions/{FunctionName}/aliases/{Name}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateAliasRequest"
      },
      "name": "UpdateAlias",
      "output": {
        "shape": "AliasConfiguration"
      }
    },
    "UpdateEventSourceMapping": {
      "documentation": "<p>Updates an event source mapping. You can change the function that AWS Lambda invokes, or pause invocation and resume later from the same location.</p> <p>The following error handling options are only available for stream sources (DynamoDB and Kinesis):</p> <ul> <li> <p> <code>BisectBatchOnFunctionError</code> - If the function returns an error, split the batch in two and retry.</p> </li> <li> <p> <code>DestinationConfig</code> - Send discarded records to an Amazon SQS queue or Amazon SNS topic.</p> </li> <li> <p> <code>MaximumRecordAgeInSeconds</code> - Discard records older than the specified age.</p> </li> <li> <p> <code>MaximumRetryAttempts</code> - Discard records after the specified number of retries.</p> </li> <li> <p> <code>ParallelizationFactor</code> - Process multiple batches from each shard concurrently.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/event-source-mappings/{UUID}",
        "responseCode": 202
      },
      "input": {
        "shape": "UpdateEventSourceMappingRequest"
      },
      "name": "UpdateEventSourceMapping",
      "output": {
        "shape": "EventSourceMappingConfiguration"
      }
    },
    "UpdateFunctionCode": {
      "documentation": "<p>Updates a Lambda function's code.</p> <p>The function's code is locked when you publish a version. You can't modify the code of a published version, only the unpublished version.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "CodeStorageExceededException"
        },
        {
          "shape": "PreconditionFailedException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/functions/{FunctionName}/code",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFunctionCodeRequest"
      },
      "name": "UpdateFunctionCode",
      "output": {
        "shape": "FunctionConfiguration"
      }
    },
    "UpdateFunctionConfiguration": {
      "documentation": "<p>Modify the version-specific settings of a Lambda function.</p> <p>When you update a function, Lambda provisions an instance of the function and its supporting resources. If your function connects to a VPC, this process can take a minute. During this time, you can't modify the function, but you can still invoke it. The <code>LastUpdateStatus</code>, <code>LastUpdateStatusReason</code>, and <code>LastUpdateStatusReasonCode</code> fields in the response from <a>GetFunctionConfiguration</a> indicate when the update is complete and the function is processing events with the new configuration. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/functions-states.html\">Function States</a>.</p> <p>These settings can vary between versions of a function and are locked when you publish a version. You can't modify the configuration of a published version, only the unpublished version.</p> <p>To configure function concurrency, use <a>PutFunctionConcurrency</a>. To grant invoke permissions to an account or AWS service, use <a>AddPermission</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "PreconditionFailedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2015-03-31/functions/{FunctionName}/configuration",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFunctionConfigurationRequest"
      },
      "name": "UpdateFunctionConfiguration",
      "output": {
        "shape": "FunctionConfiguration"
      }
    },
    "UpdateFunctionEventInvokeConfig": {
      "documentation": "<p>Updates the configuration for asynchronous invocation for a function, version, or alias.</p> <p>To configure options for asynchronous invocation, use <a>PutFunctionEventInvokeConfig</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2019-09-25/functions/{FunctionName}/event-invoke-config",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFunctionEventInvokeConfigRequest"
      },
      "name": "UpdateFunctionEventInvokeConfig",
      "output": {
        "shape": "FunctionEventInvokeConfig"
      }
    }
  },
  "shapes": {
    "AccountLimit": {
      "documentation": "<p>Limits that are related to concurrency and storage. All file and storage sizes are in bytes.</p>",
      "members": {
        "CodeSizeUnzipped": {
          "documentation": "<p>The maximum size of a function's deployment package and layers when they're extracted.</p>",
          "shape": "Long"
        },
        "CodeSizeZipped": {
          "documentation": "<p>The maximum size of a deployment package when it's uploaded directly to AWS Lambda. Use Amazon S3 for larger files.</p>",
          "shape": "Long"
        },
        "ConcurrentExecutions": {
          "documentation": "<p>The maximum number of simultaneous function executions.</p>",
          "shape": "Integer"
        },
        "TotalCodeSize": {
          "documentation": "<p>The amount of storage space that you can use for all deployment packages and layer archives.</p>",
          "shape": "Long"
        },
        "UnreservedConcurrentExecutions": {
          "documentation": "<p>The maximum number of simultaneous function executions, minus the capacity that's reserved for individual functions with <a>PutFunctionConcurrency</a>.</p>",
          "shape": "UnreservedConcurrentExecutions"
        }
      },
      "type": "structure"
    },
    "AccountUsage": {
      "documentation": "<p>The number of functions and amount of storage in use.</p>",
      "members": {
        "FunctionCount": {
          "documentation": "<p>The number of Lambda functions.</p>",
          "shape": "Long"
        },
        "TotalCodeSize": {
          "documentation": "<p>The amount of storage space, in bytes, that's being used by deployment packages and layer archives.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "Action": {
      "pattern": "(lambda:[*]|lambda:[a-zA-Z]+|[*])",
      "type": "string"
    },
    "AddLayerVersionPermissionRequest": {
      "members": {
        "Action": {
          "documentation": "<p>The API action that grants access to the layer. For example, <code>lambda:GetLayerVersion</code>.</p>",
          "shape": "LayerPermissionAllowedAction"
        },
        "LayerName": {
          "documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
          "location": "uri",
          "locationName": "LayerName",
          "shape": "LayerName"
        },
        "OrganizationId": {
          "documentation": "<p>With the principal set to <code>*</code>, grant permission to all accounts in the specified organization.</p>",
          "shape": "OrganizationId"
        },
        "Principal": {
          "documentation": "<p>An account ID, or <code>*</code> to grant permission to all AWS accounts.</p>",
          "shape": "LayerPermissionAllowedPrincipal"
        },
        "RevisionId": {
          "documentation": "<p>Only update the policy if the revision ID matches the ID specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>",
          "location": "querystring",
          "locationName": "RevisionId",
          "shape": "String"
        },
        "StatementId": {
          "documentation": "<p>An identifier that distinguishes the policy from others on the same layer version.</p>",
          "shape": "StatementId"
        },
        "VersionNumber": {
          "documentation": "<p>The version number.</p>",
          "location": "uri",
          "locationName": "VersionNumber",
          "shape": "LayerVersionNumber"
        }
      },
      "required": [
        "LayerName",
        "VersionNumber",
        "StatementId",
        "Action",
        "Principal"
      ],
      "type": "structure"
    },
    "AddLayerVersionPermissionResponse": {
      "members": {
        "RevisionId": {
          "documentation": "<p>A unique identifier for the current revision of the policy.</p>",
          "shape": "String"
        },
        "Statement": {
          "documentation": "<p>The permission statement.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AddPermissionRequest": {
      "members": {
        "Action": {
          "documentation": "<p>The action that the principal can use on the function. For example, <code>lambda:InvokeFunction</code> or <code>lambda:GetFunction</code>.</p>",
          "shape": "Action"
        },
        "EventSourceToken": {
          "documentation": "<p>For Alexa Smart Home functions, a token that must be supplied by the invoker.</p>",
          "shape": "EventSourceToken"
        },
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function, version, or alias.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        },
        "Principal": {
          "documentation": "<p>The AWS service or account that invokes the function. If you specify a service, use <code>SourceArn</code> or <code>SourceAccount</code> to limit who can invoke the function through that service.</p>",
          "shape": "Principal"
        },
        "Qualifier": {
          "documentation": "<p>Specify a version or alias to add permissions to a published version of the function.</p>",
          "location": "querystring",
          "locationName": "Qualifier",
          "shape": "Qualifier"
        },
        "RevisionId": {
          "documentation": "<p>Only update the policy if the revision ID matches the ID that's specified. Use this option to avoid modifying a policy that has changed since you last read it.</p>",
          "shape": "String"
        },
        "SourceAccount": {
          "documentation": "<p>For Amazon S3, the ID of the account that owns the resource. Use this together with <code>SourceArn</code> to ensure that the resource is owned by the specified account. It is possible for an Amazon S3 bucket to be deleted by its owner and recreated by another account.</p>",
          "shape": "SourceOwner"
        },
        "SourceArn": {
          "documentation": "<p>For AWS services, the ARN of the AWS resource that invokes the function. For example, an Amazon S3 bucket or Amazon SNS topic.</p>",
          "shape": "Arn"
        },
        "StatementId": {
          "documentation": "<p>A statement identifier that differentiates the statement from others in the same policy.</p>",
          "shape": "StatementId"
        }
      },
      "required": [
        "FunctionName",
        "StatementId",
        "Action",
        "Principal"
      ],
      "type": "structure"
    },
    "AddPermissionResponse": {
      "members": {
        "Statement": {
          "documentation": "<p>The permission statement that's added to the function policy.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AdditionalVersion": {
      "max": 1024,
      "min": 1,
      "pattern": "[0-9]+",
      "type": "string"
    },
    "AdditionalVersionWeights": {
      "key": {
        "shape": "AdditionalVersion"
      },
      "type": "map",
      "value": {
        "shape": "Weight"
      }
    },
    "Alias": {
      "max": 128,
      "min": 1,
      "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_]+)",
      "type": "string"
    },
    "AliasConfiguration": {
      "documentation": "<p>Provides configuration information about a Lambda function <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">alias</a>.</p>",
      "members": {
        "AliasArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the alias.</p>",
          "shape": "FunctionArn"
        },
        "Description": {
          "documentation": "<p>A description of the alias.</p>",
          "shape": "Description"
        },
        "FunctionVersion": {
          "documentation": "<p>The function version that the alias invokes.</p>",
          "shape": "Version"
        },
        "Name": {
          "documentation": "<p>The name of the alias.</p>",
          "shape": "Alias"
        },
        "RevisionId": {
          "documentation": "<p>A unique identifier that changes when you update the alias.</p>",
          "shape": "String"
        },
        "RoutingConfig": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing configuration</a> of the alias.</p>",
          "shape": "AliasRoutingConfiguration"
        }
      },
      "type": "structure"
    },
    "AliasList": {
      "member": {
        "shape": "AliasConfiguration"
      },
      "type": "list"
    },
    "AliasRoutingConfiguration": {
      "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">traffic-shifting</a> configuration of a Lambda function alias.</p>",
      "members": {
        "AdditionalVersionWeights": {
          "documentation": "<p>The name of the second alias, and the percentage of traffic that's routed to it.</p>",
          "shape": "AdditionalVersionWeights"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "pattern": "arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
      "type": "string"
    },
    "BatchSize": {
      "max": 10000,
      "min": 1,
      "type": "integer"
    },
    "BisectBatchOnFunctionError": {
      "type": "boolean"
    },
    "Blob": {
      "sensitive": true,
      "type": "blob"
    },
    "BlobStream": {
      "streaming": true,
      "type": "blob"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CodeStorageExceededException": {
      "documentation": "<p>You have exceeded your maximum total code size per account. <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Learn more</a> </p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "Type": {
          "documentation": "<p>The exception type.</p>",
          "shape": "String"
        },
        "message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CompatibleRuntimes": {
      "max": 5,
      "member": {
        "shape": "Runtime"
      },
      "type": "list"
    },
    "Concurrency": {
      "members": {
        "ReservedConcurrentExecutions": {
          "documentation": "<p>The number of concurrent executions that are reserved for this function. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Managing Concurrency</a>.</p>",
          "shape": "ReservedConcurrentExecutions"
        }
      },
      "type": "structure"
    },
    "CreateAliasRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the alias.</p>",
          "shape": "Description"
        },
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        },
        "FunctionVersion": {
          "documentation": "<p>The function version that the alias invokes.</p>",
          "shape": "Version"
        },
        "Name": {
          "documentation": "<p>The name of the alias.</p>",
          "shape": "Alias"
        },
        "RoutingConfig": {
          "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-traffic-shifting-using-aliases.html\">routing configuration</a> of the alias.</p>",
          "shape": "AliasRoutingConfiguration"
        }
      },
      "required": [
        "FunctionName",
        "Name",
        "FunctionVersion"
      ],
      "type": "structure"
    },
    "CreateEventSourceMappingRequest": {
      "members": {
        "BatchSize": {
          "documentation": "<p>The maximum number of items to retrieve in a single batch.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - Default 100. Max 10,000.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - Default 100. Max 1,000.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - Default 10. Max 10.</p> </li> </ul>",
          "shape": "BatchSize"
        },
        "BisectBatchOnFunctionError": {
          "documentation": "<p>(Streams) If the function returns an error, split the batch in two and retry.</p>",
          "shape": "BisectBatchOnFunctionError"
        },
        "DestinationConfig": {
          "documentation": "<p>(Streams) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>",
          "shape": "DestinationConfig"
        },
        "Enabled": {
          "documentation": "<p>Disables the event source mapping to pause polling and invocation.</p>",
          "shape": "Enabled"
        },
        "EventSourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the event source.</p> <ul> <li> <p> <b>Amazon Kinesis</b> - The ARN of the data stream or a stream consumer.</p> </li> <li> <p> <b>Amazon DynamoDB Streams</b> - The ARN of the stream.</p> </li> <li> <p> <b>Amazon Simple Queue Service</b> - The ARN of the queue.</p> </li> </ul>",
          "shape": "Arn"
        },
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Version or Alias ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction:PROD</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it's limited to 64 characters in length.</p>",
          "shape": "FunctionName"
        },
        "MaximumBatchingWindowInSeconds": {
          "documentation": "<p>(Streams) The maximum amount of time to gather records before invoking the function, in seconds.</p>",
          "shape": "MaximumBatchingWindowInSeconds"
        },
        "MaximumRecordAgeInSeconds": {
          "documentation": "<p>(Streams) The maximum age of a record that Lambda sends to a function for processing.</p>",
          "shape": "MaximumRecordAgeInSeconds"
        },
        "MaximumRetryAttempts": {
          "documentation": "<p>(Streams) The maximum number of times to retry when the function returns an error.</p>",
          "shape": "MaximumRetryAttemptsEventSourceMapping"
        },
        "ParallelizationFactor": {
          "documentation": "<p>(Streams) The number of batches to process from each shard concurrently.</p>",
          "shape": "ParallelizationFactor"
        },
        "StartingPosition": {
          "documentation": "<p>The position in a stream from which to start reading. Required for Amazon Kinesis and Amazon DynamoDB Streams sources. <code>AT_TIMESTAMP</code> is only supported for Amazon Kinesis streams.</p>",
          "shape": "EventSourcePosition"
        },
        "StartingPositionTimestamp": {
          "documentation": "<p>With <code>StartingPosition</code> set to <code>AT_TIMESTAMP</code>, the time from which to start reading.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "EventSourceArn",
        "FunctionName"
      ],
      "type": "structure"
    },
    "CreateFunctionRequest": {
      "members": {
        "Code": {
          "documentation": "<p>The code for the function.</p>",
          "shape": "FunctionCode"
        },
        "DeadLetterConfig": {
          "documentation": "<p>A dead letter queue configuration that specifies the queue or topic where Lambda sends asynchronous events when they fail processing. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">Dead Letter Queues</a>.</p>",
          "shape": "DeadLetterConfig"
        },
        "Description": {
          "documentation": "<p>A description of the function.</p>",
          "shape": "Description"
        },
        "Environment": {
          "documentation": "<p>Environment variables that are accessible from function code during execution.</p>",
          "shape": "Environment"
        },
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "shape": "FunctionName"
        },
        "Handler": {
          "documentation": "<p>The name of the method within your code that Lambda calls to execute your function. The format includes the file name. It can also include namespaces and other qualifiers, depending on the runtime. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/programming-model-v2.html\">Programming Model</a>.</p>",
          "shape": "Handler"
        },
        "KMSKeyArn": {
          "documentation": "<p>The ARN of the AWS Key Management Service (AWS KMS) key that's used to encrypt your function's environment variables. If it's not provided, AWS Lambda uses a default service key.</p>",
          "shape": "KMSKeyArn"
        },
        "Layers": {
          "documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\">function layers</a> to add to the function's execution environment. Specify each layer by its ARN, including the version.</p>",
          "shape": "LayerList"
        },
        "MemorySize": {
          "documentation": "<p>The amount of memory that your function has access to. Increasing the function's memory also increases its CPU allocation. The default value is 128 MB. The value must be a multiple of 64 MB.</p>",
          "shape": "MemorySize"
        },
        "Publish": {
          "documentation": "<p>Set to true to publish the first version of the function during creation.</p>",
          "shape": "Boolean"
        },
        "Role": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the function's execution role.</p>",
          "shape": "RoleArn"
        },
        "Runtime": {
          "documentation": "<p>The identifier of the function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/lambda-runtimes.html\">runtime</a>.</p>",
          "shape": "Runtime"
        },
        "Tags": {
          "documentation": "<p>A list of <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">tags</a> to apply to the function.</p>",
          "shape": "Tags"
        },
        "Timeout": {
          "documentation": "<p>The amount of time that Lambda allows a function to run before stopping it. The default is 3 seconds. The maximum allowed value is 900 seconds.</p>",
          "shape": "Timeout"
        },
        "TracingConfig": {
          "documentation": "<p>Set <code>Mode</code> to <code>Active</code> to sample and trace a subset of incoming requests with AWS X-Ray.</p>",
          "shape": "TracingConfig"
        },
        "VpcConfig": {
          "documentation": "<p>For network connectivity to AWS resources in a VPC, specify a list of security groups and subnets in the VPC. When you connect a function to a VPC, it can only access resources and the internet through that VPC. For more information, see <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-vpc.html\">VPC Settings</a>.</p>",
          "shape": "VpcConfig"
        }
      },
      "required": [
        "FunctionName",
        "Runtime",
        "Role",
        "Handler",
        "Code"
      ],
      "type": "structure"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeadLetterConfig": {
      "documentation": "<p>The <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/invocation-async.html#dlq\">dead-letter queue</a> for failed asynchronous invocations.</p>",
      "members": {
        "TargetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>",
          "shape": "ResourceArn"
        }
      },
      "type": "structure"
    },
    "DeleteAliasRequest": {
      "members": {
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>MyFunction</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:MyFunction</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:MyFunction</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        },
        "Name": {
          "documentation": "<p>The name of the alias.</p>",
          "location": "uri",
          "locationName": "Name",
          "shape": "Alias"
        }
      },
      "required": [
        "FunctionName",
        "Name"
      ],
      "type": "structure"
    },
    "DeleteEventSourceMappingRequest": {
      "members": {
        "UUID": {
          "documentation": "<p>The identifier of the event source mapping.</p>",
          "location": "uri",
          "locationName": "UUID",
          "shape": "String"
        }
      },
      "required": [
        "UUID"
      ],
      "type": "structure"
    },
    "DeleteFunctionConcurrencyRequest": {
      "members": {
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        }
      },
      "required": [
        "FunctionName"
      ],
      "type": "structure"
    },
    "DeleteFunctionEventInvokeConfigRequest": {
      "members": {
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function, version, or alias.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:v1</code> (with alias).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        },
        "Qualifier": {
          "documentation": "<p>A version number or alias name.</p>",
          "location": "querystring",
          "locationName": "Qualifier",
          "shape": "Qualifier"
        }
      },
      "required": [
        "FunctionName"
      ],
      "type": "structure"
    },
    "DeleteFunctionRequest": {
      "members": {
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function or version.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code> (name-only), <code>my-function:1</code> (with version).</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>You can append a version number or alias to any of the formats. The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        },
        "Qualifier": {
          "documentation": "<p>Specify a version to delete. You can't delete a version that's referenced by an alias.</p>",
          "location": "querystring",
          "locationName": "Qualifier",
          "shape": "Qualifier"
        }
      },
      "required": [
        "FunctionName"
      ],
      "type": "structure"
    },
    "DeleteLayerVersionRequest": {
      "members": {
        "LayerName": {
          "documentation": "<p>The name or Amazon Resource Name (ARN) of the layer.</p>",
          "location": "uri",
          "locationName": "LayerName",
          "shape": "LayerName"
        },
        "VersionNumber": {
          "documentation": "<p>The version number.</p>",
          "location": "uri",
          "locationName": "VersionNumber",
          "shape": "LayerVersionNumber"
        }
      },
      "required": [
        "LayerName",
        "VersionNumber"
      ],
      "type": "structure"
    },
    "DeleteProvisionedConcurrencyConfigRequest": {
      "members": {
        "FunctionName": {
          "documentation": "<p>The name of the Lambda function.</p> <p class=\"title\"> <b>Name formats</b> </p> <ul> <li> <p> <b>Function name</b> - <code>my-function</code>.</p> </li> <li> <p> <b>Function ARN</b> - <code>arn:aws:lambda:us-west-2:123456789012:function:my-function</code>.</p> </li> <li> <p> <b>Partial ARN</b> - <code>123456789012:function:my-function</code>.</p> </li> </ul> <p>The length constraint applies only to the full ARN. If you specify only the function name, it is limited to 64 characters in length.</p>",
          "location": "uri",
          "locationName": "FunctionName",
          "shape": "FunctionName"
        },
        "Qualifier": {
          "documentation": "<p>The version number or alias name.</p>",
          "location": "querystring",
          "locationName": "Qualifier",
          "shape": "Qualifier"
        }
      },
      "required": [
        "FunctionName",
        "Qualifier"
      ],
      "type": "structure"
    },
    "Description": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "DestinationArn": {
      "max": 350,
      "min": 0,
      "pattern": "^$|arn:(aws[a-zA-Z0-9-]*):([a-zA-Z0-9\\-])+:([a-z]{2}(-gov)?-[a-z]+-\\d{1})?:(\\d{12})?:(.*)",
      "type": "string"
    },
    "DestinationConfig": {
      "documentation": "<p>A configuration object that specifies the destination of an event after Lambda processes it.</p>",
      "members": {
        "OnFailure": {
          "documentation": "<p>The destination configuration for failed invocations.</p>",
          "shape": "OnFailure"
        },
        "OnSuccess": {
          "documentation": "<p>The destination configuration for successful invocations.</p>",
          "shape": "OnSuccess"
        }
      },
      "type": "structure"
    },
    "EC2AccessDeniedException": {
      "documentation": "<p>Need additional permissions to configure VPC settings.</p>",
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EC2ThrottledException": {
      "documentation": "<p>AWS Lambda was throttled by Amazon EC2 during Lambda function initialization using the execution role provided for the Lambda function.</p>",
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EC2UnexpectedException": {
      "documentation": "<p>AWS Lambda received an unexpected EC2 client exception while setting up for the Lambda function.</p>",
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "members": {
        "EC2ErrorCode": {
          "shape": "String"
        },
        "Message": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ENILimitReachedException": {
      "documentation": "<p>AWS Lambda was not able to create an elastic network interface in the VPC, specified as part of Lambda function configuration, because the limit for network interfaces has been reached.</p>",
      "error": {
        "httpStatusCode": 502
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "Type": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Enabled": {
      "type": "boolean"
    },
    "Environment": {
      "documentation": "<p>A function's environment variable settings.</p>",
      "members": {
        "Variables": {
          "documentation": "<p>Environment variable key-value pairs.</p>",
          "shape": "EnvironmentVariables"
        }
      },
      "type": "structure"
    },
    "EnvironmentError": {
      "documentation": "<p>Error messages for environment variables that couldn't be applied.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "String"
        },
        "Message": {
          "documentation": "<p>The error message.</p>",
          "shape": "SensitiveString"
        }
      },
      "type": "structure"
    },
    "EnvironmentResponse": {
      "documentation": "<p>The results of an operation to update or read environment variables. If the operation is successful, the response contains the environment variables. If it failed, the response contains details about the error.</p>",
      "members": {
        "Error": {
          "documentation": "<p>Error messages for environment variables that couldn't be applied.</p>",
          "shape": "EnvironmentError"
        },
        "Variables": {
          "documentation": "<p>Environment variable key-value pairs.</p>",
          "shape": "EnvironmentVariables"
        }
      },
      "type": "structure"
    },
    "EnvironmentVariableName": {
      "pattern": "[a-zA-Z]([a-zA-Z0-9_])+",
      "sensitive": true,
      "type": "string"
    },
    "EnvironmentVariableValue": {
      "sensitive": true,
      "type": "string"
    },
    "EnvironmentVariables": {
      "key": {
        "shape": "EnvironmentVariableName"
      },
      "sensitive": true,
      "type": "map",
      "value": {
        "shape": "EnvironmentVariableValue"
      }
    },
    "EventSourceMappingConfiguration": {
      "documentation": "<p>A mapping between an AWS resource and an AWS Lambda function. See <a>CreateEventSourceMapping</a> for details.</p>",
      "members": {
        "BatchSize": {
          "documentation": "<p>The maximum number of items to retrieve in a single batch.</p>",
          "shape": "BatchSize"
        },
        "BisectBatchOnFunctionError": {
          "documentation": "<p>(Streams) If the function returns an error, split the batch in two and retry.</p>",
          "shape": "BisectBatchOnFunctionError"
        },
        "DestinationConfig": {
          "documentation": "<p>(Streams) An Amazon SQS queue or Amazon SNS topic destination for discarded records.</p>",
          "shape": "DestinationConfig"
        },
        "EventSourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the event source.</p>",
          "shape": "Arn"
        },
        "FunctionArn": {
          "documentation": "<p>The ARN of the Lambda function.</p>",
          "shape": "FunctionArn"
        },
        "LastModified": {
          "documentation": "<p>The date that the event source mapping was last updated, or its state changed.</p>",
          "shape": "Date"
        },
        "LastProcessingResult": {
          "documentation": "<p>The result of the last AWS Lambda invocation of your Lambda function.</p>",
          "shape": "String"
        },
        "MaximumBatchingWindowInSeconds": {
          "documentation": "<p>(Streams) The maximum amount of time to gather records before invoking the function, in seconds.</p>",
          "shape": "MaximumBatchingWindowInSeconds"
        },
        "MaximumRecordAgeInSeconds": {
          "documentation": "<p>(Streams) The maximum age of a record that Lambda sends to a function for processing.</p>",
          "shape": "MaximumRecordAgeInSeconds"
        },
        "MaximumRetryAttempts": {
          "documentation": "<p>(Streams) The maximum number of times to retry when the function returns an error.</p>",
          "shape": "MaximumRetryAttemptsEventSourceMapping"
        },
        "ParallelizationFactor": {
          "documentation": "<p>(Streams) The number of batches to process from each shard concurrently.</p>",
          "shape": "ParallelizationFactor"
        },
        "State": {
          "documentation": "<p>The state of the event source mapping. It can be one of the following: <code>Creating</code>, <code>Enabling</code>, <code>Enabled</code>, <code>Disabling</code>, <code>Disabled</code>, <code>Updating</code>, or <code>Deleting</code>.</p>",
          "shape": "String"
        },
        "StateTransitionReason": {
          "documentation": "<p>Indicates whether the last change to the event source mapping was made by a user, or by the Lambda service.</p>",
          "shape": "String"
        },
        "UUID": {
          "documentation": "<p>The identifier of the event source mapping.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EventSourceMappingsList": {
      "member": {
        "shape": "EventSourceMappingConfiguration"
      },
      "type": "list"
    },
    "EventSourcePosition": {
      "enum": [
        "TRIM_HORIZON",
        "LATEST",
        "AT_TIMESTAMP"
      ],
      "type": "string"
    },
    "EventSourceToken": {
      "max": 256,
      "min": 0,
      "pattern": "[a-zA-Z0-9._\\-]+",
      "type": "string"
    },
    "FunctionArn": {
      "pattern": "arn:(aws[a-zA-Z-]*)?:lambda:[a-z]{2}(-gov)?-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?",
      "type": "string"
    },
    "FunctionCode": {
      "documentation": "<p>The code for the Lambda function. You can specify either an object in Amazon S3, or upload a deployment package directly.</p>",
      "members": {
        "S3Bucket": {
          "documentation": "<p>An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.</p>",
          "shape": "S3Bucket"
        },
        "S3Key": {
          "documentation": "<p>The Amazon S3 key of the deployment package.</p>",
          "shape": "S3Key"
        },
        "S3ObjectVersion": {
          "documentation": "<p>For versioned objects, the version of the deployment package object to use.</p>",
          "shape": "S3ObjectVersion"
        },
        "ZipFile": {
          "documentation": "<p>The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.</p>",
          "shape": "Blob"
        }
      },
      "type": "structure"
    },
    "FunctionCodeLocation": {
      "documentation": "<p>Details about a function's deployment package.</p>",
      "members": {
        "Location": {
          "documentation": "<p>A presigned URL that you can use to download the deployment package.</p>",
          "shape": "String"
        },
        "RepositoryType": {
          "documentation": "<p>The service that's hosting the file.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "FunctionConfiguration": {
      "documentation": "<p>Details about a function's configuration.</p>",
      "members": {
        "CodeSha256": {
          "documentation": "<p>The SHA256 hash of the function's deployment package.</p>",
          "shape": "String"
        },
        "CodeSize": {
          "documentation": "<p>The size of the function's deployment package, in bytes.</p>",
          "shape": "Long"
        },
        "DeadLetterConfig": {
          "documentation": "<p>The function's dead letter queue.</p>",
          "shape": "DeadLetterConfig"
        },
        "Description": {
          "documentation": "<p>The function's description.</p>",
          "shape": "Description"
        },
        "Environment": {
          "documentation": "<p>The function's environment variables.</p>",
          "shape": "EnvironmentResponse"
        },
        "FunctionArn": {
          "documentation": "<p>The function's Amazon Resource Name (ARN).</p>",
          "shape": "NameSpacedFunctionArn"
        },
        "FunctionName": {
          "documentation": "<p>The name of the function.</p>",
          "shape": "NamespacedFunctionName"
        },
        "Handler": {
          "documentation": "<p>The function that Lambda calls to begin executing your function.</p>",
          "shape": "Handler"
        },
        "KMSKeyArn": {
          "documentation": "<p>The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've configured a customer managed CMK.</p>",
          "shape": "KMSKeyArn"
        },
        "LastModified": {
          "documentation": "<p>The date and time that the function was last updated, in <a href=\"https://www.w3.org/TR/NOTE-datetime\">ISO-8601 format</a> (YYYY-MM-DDThh:mm:ss.sTZD).</p>",
          "shape": "Timestamp"
        },
        "LastUpdateStatus": {
          "documentation": "<p>The status of the last update that was performed on the function. This is first set to <code>Successful</code> after function creation completes.</p>",
          "shape": "LastUpdateStatus"
        },
        "LastUpdateStatusReason": {
          "documentation": "<p>The reason for the last update that was performed on the function.</p>",
          "shape": "LastUpdateStatusReason"
        },
        "LastUpdateStatusReasonCode": {
          "documentation": "<p>The reason code for the last update that was performed on the function.</p>",
          "shape": "LastUpdateStatusReasonCode"
        },
        "Layers": {
          "documentation": "<p>The function's <a href=\"https://docs.aws.amazon.com/lambda/latest/dg/configuration-layers.html\"> layers</a>.</p>",
          "shape": "LayersReferenceList"
        },
        "MasterArn": {
          "documentation": "<p>For Lambda@Edge functions, the ARN of the master function.</p>",
          "shape": "FunctionArn"
        },
        "MemorySize": {
          "documentation": "<p>The memory that's allocated to the function.</p>",
          "shape": "MemorySize"
        },
        "RevisionId": {
          "documentation": "<p>The latest updated revision of the function or alias.</p>",
          "shape": "String"
        },
        "Role": {
          "documentation": "<p>The function's execution role.</p>",
          "shape": "RoleArn"
        },
        "Runtime": {
          "documentation": "<p>The runtime environment for the Lambda function.</p>",
          "shape": "Runtime"
        },
        "State": {
          "documentation": "<p>The current state of the function. When the state is <code>Inactive</code>, you can reactivate the function by invoking it.</p>",
          "shape": "State"
        },
        "StateReason": {
          "documentation": "<p>The reason for the function's current state.</p>",
          "shape": "StateReason"
        },
        "StateReasonCode": {
          "documentation": "<p>The reason code for the function's current state. When the code is <code>Creating</code>, you can't invoke or modify the function.</p>",
          "shape": "StateReasonCode"
        },
        "Timeout": {
          "documentation": "<p>The amount of time that Lambda allows a function to run before stopping it.</p>",
          "shape": "Timeout"
        },
        "TracingConfig": {
          "documentation": "<p>The function's AWS X-Ray tracing configuration.</p>",
          "shape": "TracingConfigResponse"
        },
        "Version": {
          "documentation": "<p>The version of the Lambda function.</p>",
          "shape": "Version"
        },
        "VpcConfig": {
          "documentation": "<p>The function's networking configuration.</p>",
          "shape": "VpcConfigResponse"
        }
      },
[...]
