{
  "metadata": {
    "apiVersion": "2014-05-31",
    "endpointPrefix": "cloudfront",
    "globalEndpoint": "cloudfront.amazonaws.com",
    "protocol": "rest-xml",
    "serviceAbbreviation": "CloudFront",
    "serviceFullName": "Amazon CloudFront",
    "serviceId": "CloudFront",
    "signatureVersion": "v4"
  },
  "operations": {
    "CreateCloudFrontOriginAccessIdentity": {
      "documentation": "Create a new origin access identity.",
      "errors": [
        {
          "documentation": "If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request, CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error.",
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "CloudFrontOriginAccessIdentityAlreadyExists"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "documentation": "Processing your request would cause you to exceed the maximum number of origin access identities allowed.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCloudFrontOriginAccessIdentities"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2014-05-31/origin-access-identity/cloudfront",
        "responseCode": 201
      },
      "input": {
        "documentation": "The request to create a new origin access identity.",
        "shape": "CreateCloudFrontOriginAccessIdentityRequest"
      },
      "name": "CreateCloudFrontOriginAccessIdentity2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "CreateCloudFrontOriginAccessIdentityResult"
      }
    },
    "CreateDistribution": {
      "documentation": "Create a new distribution.",
      "errors": [
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "CNAMEAlreadyExists"
        },
        {
          "documentation": "The caller reference you attempted to create the distribution with is associated with another distribution.",
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "DistributionAlreadyExists"
        },
        {
          "documentation": "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidOrigin"
        },
        {
          "documentation": "The origin access identity is not valid or doesn't exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "documentation": "Your request contains more trusted signers than are allowed per distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyTrustedSigners"
        },
        {
          "documentation": "One or more of your trusted signers do not exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidViewerCertificate"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "documentation": "Your request contains more CNAMEs than are allowed per distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "documentation": "Processing your request would cause you to exceed the maximum number of distributions allowed.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyDistributions"
        },
        {
          "documentation": "The default root object file name is too big or contains an invalid character.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidDefaultRootObject"
        },
        {
          "documentation": "The relative path is too big, is not URL-encoded, or does not begin with a slash (/).",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidRelativePath"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidErrorCode"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidResponseCode"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidRequiredProtocol"
        },
        {
          "documentation": "No origin exists with the specified Origin Id.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchOrigin"
        },
        {
          "documentation": "You cannot create anymore origins for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyOrigins"
        },
        {
          "documentation": "You cannot create anymore cache behaviors for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCacheBehaviors"
        },
        {
          "documentation": "Your request contains more cookie names in the whitelist than are allowed per cache behavior.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "documentation": "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidForwardCookies"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        },
        {
          "documentation": "You cannot create anymore custom ssl certificates.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCertificates"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidLocationCode"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidGeoRestrictionParameter"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2014-05-31/distribution",
        "responseCode": 201
      },
      "input": {
        "documentation": "The request to create a new distribution.",
        "shape": "CreateDistributionRequest"
      },
      "name": "CreateDistribution2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "CreateDistributionResult"
      }
    },
    "CreateInvalidation": {
      "documentation": "Create a new invalidation.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "error": {
            "httpStatusCode": 413
          },
          "exception": true,
          "shape": "BatchTooLarge"
        },
        {
          "documentation": "You have exceeded the maximum number of allowable InProgress invalidation batch requests, or invalidation objects.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyInvalidationsInProgress"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2014-05-31/distribution/{DistributionId}/invalidation",
        "responseCode": 201
      },
      "input": {
        "documentation": "The request to create an invalidation.",
        "shape": "CreateInvalidationRequest"
      },
      "name": "CreateInvalidation2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "CreateInvalidationResult"
      }
    },
    "CreateStreamingDistribution": {
      "documentation": "Create a new streaming distribution.",
      "errors": [
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "CNAMEAlreadyExists"
        },
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "StreamingDistributionAlreadyExists"
        },
        {
          "documentation": "The Amazon S3 origin server specified does not refer to a valid Amazon S3 bucket.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidOrigin"
        },
        {
          "documentation": "The origin access identity is not valid or doesn't exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "documentation": "Your request contains more trusted signers than are allowed per distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyTrustedSigners"
        },
        {
          "documentation": "One or more of your trusted signers do not exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "documentation": "Processing your request would cause you to exceed the maximum number of streaming distributions allowed.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyStreamingDistributions"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/2014-05-31/streaming-distribution",
        "responseCode": 201
      },
      "input": {
        "documentation": "The request to create a new streaming distribution.",
        "shape": "CreateStreamingDistributionRequest"
      },
      "name": "CreateStreamingDistribution2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "CreateStreamingDistributionResult"
      }
    },
    "DeleteCloudFrontOriginAccessIdentity": {
      "documentation": "Delete an origin access identity.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "documentation": "The If-Match version is missing or not valid for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidIfMatchVersion"
        },
        {
          "documentation": "The specified origin access identity does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "documentation": "The precondition given in one or more of the request-header fields evaluated to false.",
          "error": {
            "httpStatusCode": 412
          },
          "exception": true,
          "shape": "PreconditionFailed"
        },
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "CloudFrontOriginAccessIdentityInUse"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2014-05-31/origin-access-identity/cloudfront/{Id}",
        "responseCode": 204
      },
      "input": {
        "documentation": "The request to delete a origin access identity.",
        "shape": "DeleteCloudFrontOriginAccessIdentityRequest"
      },
      "name": "DeleteCloudFrontOriginAccessIdentity2014_05_31"
    },
    "DeleteDistribution": {
      "documentation": "Delete a distribution.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "DistributionNotDisabled"
        },
        {
          "documentation": "The If-Match version is missing or not valid for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidIfMatchVersion"
        },
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "documentation": "The precondition given in one or more of the request-header fields evaluated to false.",
          "error": {
            "httpStatusCode": 412
          },
          "exception": true,
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2014-05-31/distribution/{Id}",
        "responseCode": 204
      },
      "input": {
        "documentation": "The request to delete a distribution.",
        "shape": "DeleteDistributionRequest"
      },
      "name": "DeleteDistribution2014_05_31"
    },
    "DeleteStreamingDistribution": {
      "documentation": "Delete a streaming distribution.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "StreamingDistributionNotDisabled"
        },
        {
          "documentation": "The If-Match version is missing or not valid for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidIfMatchVersion"
        },
        {
          "documentation": "The specified streaming distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "documentation": "The precondition given in one or more of the request-header fields evaluated to false.",
          "error": {
            "httpStatusCode": 412
          },
          "exception": true,
          "shape": "PreconditionFailed"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/2014-05-31/streaming-distribution/{Id}",
        "responseCode": 204
      },
      "input": {
        "documentation": "The request to delete a streaming distribution.",
        "shape": "DeleteStreamingDistributionRequest"
      },
      "name": "DeleteStreamingDistribution2014_05_31"
    },
    "GetCloudFrontOriginAccessIdentity": {
      "documentation": "Get the information about an origin access identity.",
      "errors": [
        {
          "documentation": "The specified origin access identity does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/origin-access-identity/cloudfront/{Id}"
      },
      "input": {
        "documentation": "The request to get an origin access identity's information.",
        "shape": "GetCloudFrontOriginAccessIdentityRequest"
      },
      "name": "GetCloudFrontOriginAccessIdentity2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetCloudFrontOriginAccessIdentityResult"
      }
    },
    "GetCloudFrontOriginAccessIdentityConfig": {
      "documentation": "Get the configuration information about an origin access identity.",
      "errors": [
        {
          "documentation": "The specified origin access identity does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input": {
        "documentation": "The request to get an origin access identity's configuration.",
        "shape": "GetCloudFrontOriginAccessIdentityConfigRequest"
      },
      "name": "GetCloudFrontOriginAccessIdentityConfig2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetCloudFrontOriginAccessIdentityConfigResult"
      }
    },
    "GetDistribution": {
      "documentation": "Get the information about a distribution.",
      "errors": [
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/distribution/{Id}"
      },
      "input": {
        "documentation": "The request to get a distribution's information.",
        "shape": "GetDistributionRequest"
      },
      "name": "GetDistribution2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetDistributionResult"
      }
    },
    "GetDistributionConfig": {
      "documentation": "Get the configuration information about a distribution.",
      "errors": [
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/distribution/{Id}/config"
      },
      "input": {
        "documentation": "The request to get a distribution configuration.",
        "shape": "GetDistributionConfigRequest"
      },
      "name": "GetDistributionConfig2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetDistributionConfigResult"
      }
    },
    "GetInvalidation": {
      "documentation": "Get the information about an invalidation.",
      "errors": [
        {
          "documentation": "The specified invalidation does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchInvalidation"
        },
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/distribution/{DistributionId}/invalidation/{Id}"
      },
      "input": {
        "documentation": "The request to get an invalidation's information.",
        "shape": "GetInvalidationRequest"
      },
      "name": "GetInvalidation2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetInvalidationResult"
      }
    },
    "GetStreamingDistribution": {
      "documentation": "Get the information about a streaming distribution.",
      "errors": [
        {
          "documentation": "The specified streaming distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/streaming-distribution/{Id}"
      },
      "input": {
        "documentation": "The request to get a streaming distribution's information.",
        "shape": "GetStreamingDistributionRequest"
      },
      "name": "GetStreamingDistribution2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetStreamingDistributionResult"
      }
    },
    "GetStreamingDistributionConfig": {
      "documentation": "Get the configuration information about a streaming distribution.",
      "errors": [
        {
          "documentation": "The specified streaming distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/streaming-distribution/{Id}/config"
      },
      "input": {
        "documentation": "To request to get a streaming distribution configuration.",
        "shape": "GetStreamingDistributionConfigRequest"
      },
      "name": "GetStreamingDistributionConfig2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "GetStreamingDistributionConfigResult"
      }
    },
    "ListCloudFrontOriginAccessIdentities": {
      "documentation": "List origin access identities.",
      "errors": [
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/origin-access-identity/cloudfront"
      },
      "input": {
        "documentation": "The request to list origin access identities.",
        "shape": "ListCloudFrontOriginAccessIdentitiesRequest"
      },
      "name": "ListCloudFrontOriginAccessIdentities2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "ListCloudFrontOriginAccessIdentitiesResult"
      }
    },
    "ListDistributions": {
      "documentation": "List distributions.",
      "errors": [
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/distribution"
      },
      "input": {
        "documentation": "The request to list your distributions.",
        "shape": "ListDistributionsRequest"
      },
      "name": "ListDistributions2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "ListDistributionsResult"
      }
    },
    "ListInvalidations": {
      "documentation": "List invalidation batches.",
      "errors": [
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/distribution/{DistributionId}/invalidation"
      },
      "input": {
        "documentation": "The request to list invalidations.",
        "shape": "ListInvalidationsRequest"
      },
      "name": "ListInvalidations2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "ListInvalidationsResult"
      }
    },
    "ListStreamingDistributions": {
      "documentation": "List streaming distributions.",
      "errors": [
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/2014-05-31/streaming-distribution"
      },
      "input": {
        "documentation": "The request to list your streaming distributions.",
        "shape": "ListStreamingDistributionsRequest"
      },
      "name": "ListStreamingDistributions2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "ListStreamingDistributionsResult"
      }
    },
    "UpdateCloudFrontOriginAccessIdentity": {
      "documentation": "Update an origin access identity.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "documentation": "Origin and CallerReference cannot be updated.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "IllegalUpdate"
        },
        {
          "documentation": "The If-Match version is missing or not valid for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidIfMatchVersion"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "documentation": "The specified origin access identity does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchCloudFrontOriginAccessIdentity"
        },
        {
          "documentation": "The precondition given in one or more of the request-header fields evaluated to false.",
          "error": {
            "httpStatusCode": 412
          },
          "exception": true,
          "shape": "PreconditionFailed"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2014-05-31/origin-access-identity/cloudfront/{Id}/config"
      },
      "input": {
        "documentation": "The request to update an origin access identity.",
        "shape": "UpdateCloudFrontOriginAccessIdentityRequest"
      },
      "name": "UpdateCloudFrontOriginAccessIdentity2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "UpdateCloudFrontOriginAccessIdentityResult"
      }
    },
    "UpdateDistribution": {
      "documentation": "Update a distribution.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "CNAMEAlreadyExists"
        },
        {
          "documentation": "Origin and CallerReference cannot be updated.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "IllegalUpdate"
        },
        {
          "documentation": "The If-Match version is missing or not valid for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidIfMatchVersion"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "documentation": "The specified distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchDistribution"
        },
        {
          "documentation": "The precondition given in one or more of the request-header fields evaluated to false.",
          "error": {
            "httpStatusCode": 412
          },
          "exception": true,
          "shape": "PreconditionFailed"
        },
        {
          "documentation": "Your request contains more CNAMEs than are allowed per distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyDistributionCNAMEs"
        },
        {
          "documentation": "The default root object file name is too big or contains an invalid character.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidDefaultRootObject"
        },
        {
          "documentation": "The relative path is too big, is not URL-encoded, or does not begin with a slash (/).",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidRelativePath"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidErrorCode"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidResponseCode"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The origin access identity is not valid or doesn't exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "documentation": "Your request contains more trusted signers than are allowed per distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyTrustedSigners"
        },
        {
          "documentation": "One or more of your trusted signers do not exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidViewerCertificate"
        },
        {
          "documentation": "This operation requires the HTTPS protocol. Ensure that you specify the HTTPS protocol in your request, or omit the RequiredProtocols element from your distribution configuration.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidRequiredProtocol"
        },
        {
          "documentation": "No origin exists with the specified Origin Id.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchOrigin"
        },
        {
          "documentation": "You cannot create anymore origins for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyOrigins"
        },
        {
          "documentation": "You cannot create anymore cache behaviors for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCacheBehaviors"
        },
        {
          "documentation": "Your request contains more cookie names in the whitelist than are allowed per cache behavior.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCookieNamesInWhiteList"
        },
        {
          "documentation": "Your request contains forward cookies option which doesn't match with the expectation for the whitelisted list of cookie names. Either list of cookie names has been specified when not allowed or list of cookie names is missing when expected.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidForwardCookies"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyHeadersInForwardedValues"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidHeadersForS3Origin"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        },
        {
          "documentation": "You cannot create anymore custom ssl certificates.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyCertificates"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidLocationCode"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidGeoRestrictionParameter"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2014-05-31/distribution/{Id}/config"
      },
      "input": {
        "documentation": "The request to update a distribution.",
        "shape": "UpdateDistributionRequest"
      },
      "name": "UpdateDistribution2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "UpdateDistributionResult"
      }
    },
    "UpdateStreamingDistribution": {
      "documentation": "Update a streaming distribution.",
      "errors": [
        {
          "documentation": "Access denied.",
          "error": {
            "httpStatusCode": 403
          },
          "exception": true,
          "shape": "AccessDenied"
        },
        {
          "error": {
            "httpStatusCode": 409
          },
          "exception": true,
          "shape": "CNAMEAlreadyExists"
        },
        {
          "documentation": "Origin and CallerReference cannot be updated.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "IllegalUpdate"
        },
        {
          "documentation": "The If-Match version is missing or not valid for the distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidIfMatchVersion"
        },
        {
          "documentation": "This operation requires a body. Ensure that the body is present and the Content-Type header is set.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "MissingBody"
        },
        {
          "documentation": "The specified streaming distribution does not exist.",
          "error": {
            "httpStatusCode": 404
          },
          "exception": true,
          "shape": "NoSuchStreamingDistribution"
        },
        {
          "documentation": "The precondition given in one or more of the request-header fields evaluated to false.",
          "error": {
            "httpStatusCode": 412
          },
          "exception": true,
          "shape": "PreconditionFailed"
        },
        {
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyStreamingDistributionCNAMEs"
        },
        {
          "documentation": "The argument is invalid.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidArgument"
        },
        {
          "documentation": "The origin access identity is not valid or doesn't exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InvalidOriginAccessIdentity"
        },
        {
          "documentation": "Your request contains more trusted signers than are allowed per distribution.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TooManyTrustedSigners"
        },
        {
          "documentation": "One or more of your trusted signers do not exist.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "TrustedSignerDoesNotExist"
        },
        {
          "documentation": "The value of Quantity and the size of Items do not match.",
          "error": {
            "httpStatusCode": 400
          },
          "exception": true,
          "shape": "InconsistentQuantities"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/2014-05-31/streaming-distribution/{Id}/config"
      },
      "input": {
        "documentation": "The request to update a streaming distribution.",
        "shape": "UpdateStreamingDistributionRequest"
      },
      "name": "UpdateStreamingDistribution2014_05_31",
      "output": {
        "documentation": "The returned result of the corresponding request.",
        "shape": "UpdateStreamingDistributionResult"
      }
    }
  },
  "shapes": {
    "AccessDenied": {
      "documentation": "Access denied.",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ActiveTrustedSigners": {
      "documentation": "A complex type that lists the AWS accounts, if any, that you included in the TrustedSigners complex type for the default cache behavior or for any of the other cache behaviors for this distribution. These are accounts that you want to allow to create signed URLs for private content.",
      "members": {
        "Enabled": {
          "documentation": "Each active trusted signer.",
          "shape": "boolean"
        },
        "Items": {
          "documentation": "A complex type that contains one Signer complex type for each unique trusted signer that is specified in the TrustedSigners complex type, including trusted signers in the default cache behavior and in all of the other cache behaviors.",
          "shape": "SignerList"
        },
        "Quantity": {
          "documentation": "The number of unique trusted signers included in all cache behaviors. For example, if three cache behaviors all list the same three AWS accounts, the value of Quantity for ActiveTrustedSigners will be 3.",
          "shape": "integer"
        }
      },
      "required": [
        "Enabled",
        "Quantity"
      ],
      "type": "structure"
    },
    "AliasList": {
      "member": {
        "locationName": "CNAME",
        "shape": "string"
      },
      "type": "list"
    },
    "Aliases": {
      "documentation": "A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution.",
      "members": {
        "Items": {
          "documentation": "Optional: A complex type that contains CNAME elements, if any, for this distribution. If Quantity is 0, you can omit Items.",
          "shape": "AliasList"
        },
        "Quantity": {
          "documentation": "The number of CNAMEs, if any, for this distribution.",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "AllowedMethods": {
      "documentation": "A complex type that controls which HTTP methods CloudFront processes and forwards to your Amazon S3 bucket or your custom origin. There are two options: - CloudFront forwards only GET and HEAD requests. - CloudFront forwards DELETE, GET, HEAD, OPTIONS, PATCH, POST, and PUT requests. If you choose the second option, you may need to restrict access to your Amazon S3 bucket or to your custom origin so users can't perform operations that you don't want them to. For example, you may not want users to have permission to delete objects from your origin.",
      "members": {
        "Items": {
          "documentation": "A complex type that contains the HTTP methods that you want CloudFront to process and forward to your origin.",
          "shape": "AllowedMethodsList"
        },
        "Quantity": {
          "documentation": "The number of HTTP methods that you want CloudFront to forward to your origin. Valid values are 2 (for GET and HEAD requests) and 7 (for DELETE, GET, HEAD, OPTIONS, PATCH, POST, and PUT requests).",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "AllowedMethodsList": {
      "member": {
        "locationName": "Method",
        "shape": "Method"
      },
      "type": "list"
    },
    "AwsAccountNumberList": {
      "member": {
        "locationName": "AwsAccountNumber",
        "shape": "string"
      },
      "type": "list"
    },
    "BatchTooLarge": {
      "error": {
        "httpStatusCode": 413
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CNAMEAlreadyExists": {
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CacheBehavior": {
      "documentation": "A complex type that describes how CloudFront processes requests. You can create up to 10 cache behaviors.You must create at least as many cache behaviors (including the default cache behavior) as you have origins if you want CloudFront to distribute objects from all of the origins. Each cache behavior specifies the one origin from which you want CloudFront to get objects. If you have two origins and only the default cache behavior, the default cache behavior will cause CloudFront to get objects from one of the origins, but the other origin will never be used. If you don't want to specify any cache behaviors, include only an empty CacheBehaviors element. Don't include an empty CacheBehavior element, or CloudFront returns a MalformedXML error. To delete all cache behaviors in an existing distribution, update the distribution configuration and include only an empty CacheBehaviors element. To add, change, or remove one or more cache behaviors, update the distribution configuration and specify all of the cache behaviors that you want to include in the updated distribution.",
      "members": {
        "AllowedMethods": {
          "shape": "AllowedMethods"
        },
        "ForwardedValues": {
          "documentation": "A complex type that specifies how CloudFront handles query strings, cookies and headers.",
          "shape": "ForwardedValues"
        },
        "MinTTL": {
          "documentation": "The minimum amount of time that you want objects to stay in CloudFront caches before CloudFront queries your origin to see whether the object has been updated.You can specify a value from 0 to 3,153,600,000 seconds (100 years).",
          "shape": "long"
        },
        "PathPattern": {
          "documentation": "The pattern (for example, images/*.jpg) that specifies which requests you want this cache behavior to apply to. When CloudFront receives an end-user request, the requested path is compared with path patterns in the order in which cache behaviors are listed in the distribution. The path pattern for the default cache behavior is * and cannot be changed. If the request for an object does not match the path pattern for any cache behaviors, CloudFront applies the behavior in the default cache behavior.",
          "shape": "string"
        },
        "SmoothStreaming": {
          "documentation": "Indicates whether you want to distribute media files in Microsoft Smooth Streaming format using the origin that is associated with this cache behavior. If so, specify true; if not, specify false.",
          "shape": "boolean"
        },
        "TargetOriginId": {
          "documentation": "The value of ID for the origin that you want CloudFront to route requests to when a request matches the path pattern either for a cache behavior or for the default cache behavior.",
          "shape": "string"
        },
        "TrustedSigners": {
          "documentation": "A complex type that specifies the AWS accounts, if any, that you want to allow to create signed URLs for private content. If you want to require signed URLs in requests for objects in the target origin that match the PathPattern for this cache behavior, specify true for Enabled, and specify the applicable values for Quantity and Items. For more information, go to Using a Signed URL to Serve Private Content in the Amazon CloudFront Developer Guide. If you don't want to require signed URLs in requests for objects that match PathPattern, specify false for Enabled and 0 for Quantity. Omit Items. To add, change, or remove one or more trusted signers, change Enabled to true (if it's currently false), change Quantity as applicable, and specify all of the trusted signers that you want to include in the updated distribution.",
          "shape": "TrustedSigners"
        },
        "ViewerProtocolPolicy": {
          "documentation": "Use this element to specify the protocol that users can use to access the files in the origin specified by TargetOriginId when a request matches the path pattern in PathPattern. If you want CloudFront to allow end users to use any available protocol, specify allow-all. If you want CloudFront to require HTTPS, specify https. If you want CloudFront to respond to an HTTP request with an HTTP status code of 301 (Moved Permanently) and the HTTPS URL, specify redirect-to-https. The viewer then resubmits the request using the HTTPS URL.",
          "shape": "ViewerProtocolPolicy"
        }
      },
      "required": [
        "PathPattern",
        "TargetOriginId",
        "ForwardedValues",
        "TrustedSigners",
        "ViewerProtocolPolicy",
        "MinTTL"
      ],
      "type": "structure"
    },
    "CacheBehaviorList": {
      "member": {
        "locationName": "CacheBehavior",
        "shape": "CacheBehavior"
      },
      "type": "list"
    },
    "CacheBehaviors": {
      "documentation": "A complex type that contains zero or more CacheBehavior elements.",
      "members": {
        "Items": {
          "documentation": "Optional: A complex type that contains cache behaviors for this distribution. If Quantity is 0, you can omit Items.",
          "shape": "CacheBehaviorList"
        },
        "Quantity": {
          "documentation": "The number of cache behaviors for this distribution.",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentity": {
      "documentation": "CloudFront origin access identity.",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "documentation": "The current configuration information for the identity.",
          "shape": "CloudFrontOriginAccessIdentityConfig"
        },
        "Id": {
          "documentation": "The ID for the origin access identity. For example: E74FTE3AJFJ256A.",
          "shape": "string"
        },
        "S3CanonicalUserId": {
          "documentation": "The Amazon S3 canonical user ID for the origin access identity, which you use when giving the origin access identity read permission to an object in Amazon S3.",
          "shape": "string"
        }
      },
      "required": [
        "Id",
        "S3CanonicalUserId"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityAlreadyExists": {
      "documentation": "If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request, CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error.",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityConfig": {
      "documentation": "Origin access identity configuration.",
      "members": {
        "CallerReference": {
          "documentation": "A unique number that ensures the request can't be replayed. If the CallerReference is new (no matter the content of the CloudFrontOriginAccessIdentityConfig object), a new origin access identity is created. If the CallerReference is a value you already sent in a previous request to create an identity, and the content of the CloudFrontOriginAccessIdentityConfig is identical to the original request (ignoring white space), the response includes the same information returned to the original request. If the CallerReference is a value you already sent in a previous request to create an identity but the content of the CloudFrontOriginAccessIdentityConfig is different from the original request, CloudFront returns a CloudFrontOriginAccessIdentityAlreadyExists error.",
          "shape": "string"
        },
        "Comment": {
          "documentation": "Any comments you want to include about the origin access identity.",
          "shape": "string"
        }
      },
      "required": [
        "CallerReference",
        "Comment"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityInUse": {
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentityList": {
      "documentation": "The CloudFrontOriginAccessIdentityList type.",
      "members": {
        "IsTruncated": {
          "documentation": "A flag that indicates whether more origin access identities remain to be listed. If your results were truncated, you can make a follow-up pagination request using the Marker request parameter to retrieve more items in the list.",
          "shape": "boolean"
        },
        "Items": {
          "documentation": "A complex type that contains one CloudFrontOriginAccessIdentitySummary element for each origin access identity that was created by the current AWS account.",
          "shape": "CloudFrontOriginAccessIdentitySummaryList"
        },
        "Marker": {
          "documentation": "The value you provided for the Marker request parameter.",
          "shape": "string"
        },
        "MaxItems": {
          "documentation": "The value you provided for the MaxItems request parameter.",
          "shape": "integer"
        },
        "NextMarker": {
          "documentation": "If IsTruncated is true, this element is present and contains the value you can use for the Marker request parameter to continue listing your origin access identities where they left off.",
          "shape": "string"
        },
        "Quantity": {
          "documentation": "The number of CloudFront origin access identities that were created by the current AWS account.",
          "shape": "integer"
        }
      },
      "required": [
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentitySummary": {
      "documentation": "Summary of the information about a CloudFront origin access identity.",
      "members": {
        "Comment": {
          "documentation": "The comment for this origin access identity, as originally specified when created.",
          "shape": "string"
        },
        "Id": {
          "documentation": "The ID for the origin access identity. For example: E74FTE3AJFJ256A.",
          "shape": "string"
        },
        "S3CanonicalUserId": {
          "documentation": "The Amazon S3 canonical user ID for the origin access identity, which you use when giving the origin access identity read permission to an object in Amazon S3.",
          "shape": "string"
        }
      },
      "required": [
        "Id",
        "S3CanonicalUserId",
        "Comment"
      ],
      "type": "structure"
    },
    "CloudFrontOriginAccessIdentitySummaryList": {
      "member": {
        "locationName": "CloudFrontOriginAccessIdentitySummary",
        "shape": "CloudFrontOriginAccessIdentitySummary"
      },
      "type": "list"
    },
    "CookieNameList": {
      "member": {
        "locationName": "Name",
        "shape": "string"
      },
      "type": "list"
    },
    "CookieNames": {
      "documentation": "A complex type that specifies the whitelisted cookies, if any, that you want CloudFront to forward to your origin that is associated with this cache behavior.",
      "members": {
        "Items": {
          "documentation": "Optional: A complex type that contains whitelisted cookies for this cache behavior. If Quantity is 0, you can omit Items.",
          "shape": "CookieNameList"
        },
        "Quantity": {
          "documentation": "The number of whitelisted cookies for this cache behavior.",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "CookiePreference": {
      "documentation": "A complex type that specifies the cookie preferences associated with this cache behavior.",
      "members": {
        "Forward": {
          "documentation": "Use this element to specify whether you want CloudFront to forward cookies to the origin that is associated with this cache behavior. You can specify all, none or whitelist. If you choose All, CloudFront forwards all cookies regardless of how many your application uses.",
          "shape": "ItemSelection"
        },
        "WhitelistedNames": {
          "documentation": "A complex type that specifies the whitelisted cookies, if any, that you want CloudFront to forward to your origin that is associated with this cache behavior.",
          "shape": "CookieNames"
        }
      },
      "required": [
        "Forward"
      ],
      "type": "structure"
    },
    "CreateCloudFrontOriginAccessIdentityRequest": {
      "documentation": "The request to create a new origin access identity.",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "documentation": "The origin access identity's configuration information.",
          "locationName": "CloudFrontOriginAccessIdentityConfig",
          "shape": "CloudFrontOriginAccessIdentityConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2014-05-31/"
          }
        }
      },
      "payload": "CloudFrontOriginAccessIdentityConfig",
      "required": [
        "CloudFrontOriginAccessIdentityConfig"
      ],
      "type": "structure"
    },
    "CreateCloudFrontOriginAccessIdentityResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "CloudFrontOriginAccessIdentity": {
          "documentation": "The origin access identity's information.",
          "shape": "CloudFrontOriginAccessIdentity"
        },
        "ETag": {
          "documentation": "The current version of the origin access identity created.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "The fully qualified URI of the new origin access identity just created. For example: https://cloudfront.amazonaws.com/2010-11-01/origin-access-identity/cloudfront/E74FTE3AJFJ256A.",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "CloudFrontOriginAccessIdentity",
      "type": "structure"
    },
    "CreateDistributionRequest": {
      "documentation": "The request to create a new distribution.",
      "members": {
        "DistributionConfig": {
          "documentation": "The distribution's configuration information.",
          "locationName": "DistributionConfig",
          "shape": "DistributionConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2014-05-31/"
          }
        }
      },
      "payload": "DistributionConfig",
      "required": [
        "DistributionConfig"
      ],
      "type": "structure"
    },
    "CreateDistributionResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "Distribution": {
          "documentation": "The distribution's information.",
          "shape": "Distribution"
        },
        "ETag": {
          "documentation": "The current version of the distribution created.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "The fully qualified URI of the new distribution resource just created. For example: https://cloudfront.amazonaws.com/2010-11-01/distribution/EDFDVBD632BHDS5.",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "Distribution",
      "type": "structure"
    },
    "CreateInvalidationRequest": {
      "documentation": "The request to create an invalidation.",
      "members": {
        "DistributionId": {
          "documentation": "The distribution's id.",
          "location": "uri",
          "locationName": "DistributionId",
          "shape": "string"
        },
        "InvalidationBatch": {
          "documentation": "The batch information for the invalidation.",
          "locationName": "InvalidationBatch",
          "shape": "InvalidationBatch",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2014-05-31/"
          }
        }
      },
      "payload": "InvalidationBatch",
      "required": [
        "DistributionId",
        "InvalidationBatch"
      ],
      "type": "structure"
    },
    "CreateInvalidationResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "Invalidation": {
          "documentation": "The invalidation's information.",
          "shape": "Invalidation"
        },
        "Location": {
          "documentation": "The fully qualified URI of the distribution and invalidation batch request, including the Invalidation ID.",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        }
      },
      "payload": "Invalidation",
      "type": "structure"
    },
    "CreateStreamingDistributionRequest": {
      "documentation": "The request to create a new streaming distribution.",
      "members": {
        "StreamingDistributionConfig": {
          "documentation": "The streaming distribution's configuration information.",
          "locationName": "StreamingDistributionConfig",
          "shape": "StreamingDistributionConfig",
          "xmlNamespace": {
            "uri": "http://cloudfront.amazonaws.com/doc/2014-05-31/"
          }
        }
      },
      "payload": "StreamingDistributionConfig",
      "required": [
        "StreamingDistributionConfig"
      ],
      "type": "structure"
    },
    "CreateStreamingDistributionResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "ETag": {
          "documentation": "The current version of the streaming distribution created.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "Location": {
          "documentation": "The fully qualified URI of the new streaming distribution resource just created. For example: https://cloudfront.amazonaws.com/2010-11-01/streaming-distribution/EGTXBD79H29TRA8.",
          "location": "header",
          "locationName": "Location",
          "shape": "string"
        },
        "StreamingDistribution": {
          "documentation": "The streaming distribution's information.",
          "shape": "StreamingDistribution"
        }
      },
      "payload": "StreamingDistribution",
      "type": "structure"
    },
    "CustomErrorResponse": {
      "documentation": "A complex type that describes how you'd prefer CloudFront to respond to requests that result in either a 4xx or 5xx response. You can control whether a custom error page should be displayed, what the desired response code should be for this error page and how long should the error response be cached by CloudFront. If you don't want to specify any custom error responses, include only an empty CustomErrorResponses element. To delete all custom error responses in an existing distribution, update the distribution configuration and include only an empty CustomErrorResponses element. To add, change, or remove one or more custom error responses, update the distribution configuration and specify all of the custom error responses that you want to include in the updated distribution.",
      "members": {
        "ErrorCachingMinTTL": {
          "documentation": "The minimum amount of time you want HTTP error codes to stay in CloudFront caches before CloudFront queries your origin to see whether the object has been updated. You can specify a value from 0 to 31,536,000.",
          "shape": "long"
        },
        "ErrorCode": {
          "documentation": "The 4xx or 5xx HTTP status code that you want to customize. For a list of HTTP status codes that you can customize, see CloudFront documentation.",
          "shape": "integer"
        },
        "ResponseCode": {
          "documentation": "The HTTP status code that you want CloudFront to return with the custom error page to the viewer. For a list of HTTP status codes that you can replace, see CloudFront Documentation.",
          "shape": "string"
        },
        "ResponsePagePath": {
          "documentation": "The path of the custom error page (for example, /custom_404.html). The path is relative to the distribution and must begin with a slash (/). If the path includes any non-ASCII characters or unsafe characters as defined in RFC 1783 (http://www.ietf.org/rfc/rfc1738.txt), URL encode those characters. Do not URL encode any other characters in the path, or CloudFront will not return the custom error page to the viewer.",
          "shape": "string"
        }
      },
      "required": [
        "ErrorCode"
      ],
      "type": "structure"
    },
    "CustomErrorResponseList": {
      "member": {
        "locationName": "CustomErrorResponse",
        "shape": "CustomErrorResponse"
      },
      "type": "list"
    },
    "CustomErrorResponses": {
      "documentation": "A complex type that contains zero or more CustomErrorResponse elements.",
      "members": {
        "Items": {
          "documentation": "Optional: A complex type that contains custom error responses for this distribution. If Quantity is 0, you can omit Items.",
          "shape": "CustomErrorResponseList"
        },
        "Quantity": {
          "documentation": "The number of custom error responses for this distribution.",
          "shape": "integer"
        }
      },
      "required": [
        "Quantity"
      ],
      "type": "structure"
    },
    "CustomOriginConfig": {
      "documentation": "A customer origin.",
      "members": {
        "HTTPPort": {
          "documentation": "The HTTP port the custom origin listens on.",
          "shape": "integer"
        },
        "HTTPSPort": {
          "documentation": "The HTTPS port the custom origin listens on.",
          "shape": "integer"
        },
        "OriginProtocolPolicy": {
          "documentation": "The origin protocol policy to apply to your origin.",
          "shape": "OriginProtocolPolicy"
        }
      },
      "required": [
        "HTTPPort",
        "HTTPSPort",
        "OriginProtocolPolicy"
      ],
      "type": "structure"
    },
    "DefaultCacheBehavior": {
      "documentation": "A complex type that describes the default cache behavior if you do not specify a CacheBehavior element or if files don't match any of the values of PathPattern in CacheBehavior elements.You must create exactly one default cache behavior.",
      "members": {
        "AllowedMethods": {
          "shape": "AllowedMethods"
        },
        "ForwardedValues": {
          "documentation": "A complex type that specifies how CloudFront handles query strings, cookies and headers.",
          "shape": "ForwardedValues"
        },
        "MinTTL": {
          "documentation": "The minimum amount of time that you want objects to stay in CloudFront caches before CloudFront queries your origin to see whether the object has been updated.You can specify a value from 0 to 3,153,600,000 seconds (100 years).",
          "shape": "long"
        },
        "SmoothStreaming": {
          "documentation": "Indicates whether you want to distribute media files in Microsoft Smooth Streaming format using the origin that is associated with this cache behavior. If so, specify true; if not, specify false.",
          "shape": "boolean"
        },
        "TargetOriginId": {
          "documentation": "The value of ID for the origin that you want CloudFront to route requests to when a request matches the path pattern either for a cache behavior or for the default cache behavior.",
          "shape": "string"
        },
        "TrustedSigners": {
          "documentation": "A complex type that specifies the AWS accounts, if any, that you want to allow to create signed URLs for private content. If you want to require signed URLs in requests for objects in the target origin that match the PathPattern for this cache behavior, specify true for Enabled, and specify the applicable values for Quantity and Items. For more information, go to Using a Signed URL to Serve Private Content in the Amazon CloudFront Developer Guide. If you don't want to require signed URLs in requests for objects that match PathPattern, specify false for Enabled and 0 for Quantity. Omit Items. To add, change, or remove one or more trusted signers, change Enabled to true (if it's currently false), change Quantity as applicable, and specify all of the trusted signers that you want to include in the updated distribution.",
          "shape": "TrustedSigners"
        },
        "ViewerProtocolPolicy": {
          "documentation": "Use this element to specify the protocol that users can use to access the files in the origin specified by TargetOriginId when a request matches the path pattern in PathPattern. If you want CloudFront to allow end users to use any available protocol, specify allow-all. If you want CloudFront to require HTTPS, specify https. If you want CloudFront to respond to an HTTP request with an HTTP status code of 301 (Moved Permanently) and the HTTPS URL, specify redirect-to-https. The viewer then resubmits the request using the HTTPS URL.",
          "shape": "ViewerProtocolPolicy"
        }
      },
      "required": [
        "TargetOriginId",
        "ForwardedValues",
        "TrustedSigners",
        "ViewerProtocolPolicy",
        "MinTTL"
      ],
      "type": "structure"
    },
    "DeleteCloudFrontOriginAccessIdentityRequest": {
      "documentation": "The request to delete a origin access identity.",
      "members": {
        "Id": {
          "documentation": "The origin access identity's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        },
        "IfMatch": {
          "documentation": "The value of the ETag header you received from a previous GET or PUT request. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "If-Match",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteDistributionRequest": {
      "documentation": "The request to delete a distribution.",
      "members": {
        "Id": {
          "documentation": "The distribution id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        },
        "IfMatch": {
          "documentation": "The value of the ETag header you received when you disabled the distribution. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "If-Match",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteStreamingDistributionRequest": {
      "documentation": "The request to delete a streaming distribution.",
      "members": {
        "Id": {
          "documentation": "The distribution id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        },
        "IfMatch": {
          "documentation": "The value of the ETag header you received when you disabled the streaming distribution. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "If-Match",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "Distribution": {
      "documentation": "A distribution.",
      "members": {
        "ActiveTrustedSigners": {
          "documentation": "CloudFront automatically adds this element to the response only if you've set up the distribution to serve private content with signed URLs. The element lists the key pair IDs that CloudFront is aware of for each trusted signer. The Signer child element lists the AWS account number of the trusted signer (or an empty Self element if the signer is you). The Signer element also includes the IDs of any active key pairs associated with the trusted signer's AWS account. If no KeyPairId element appears for a Signer, that signer can't create working signed URLs.",
          "shape": "ActiveTrustedSigners"
        },
        "DistributionConfig": {
          "documentation": "The current configuration information for the distribution.",
          "shape": "DistributionConfig"
        },
        "DomainName": {
          "documentation": "The domain name corresponding to the distribution. For example: d604721fxaaqy9.cloudfront.net.",
          "shape": "string"
        },
        "Id": {
          "documentation": "The identifier for the distribution. For example: EDFDVBD632BHDS5.",
          "shape": "string"
        },
        "InProgressInvalidationBatches": {
          "documentation": "The number of invalidation batches currently in progress.",
          "shape": "integer"
        },
        "LastModifiedTime": {
          "documentation": "The date and time the distribution was last modified.",
          "shape": "timestamp"
        },
        "Status": {
          "documentation": "This response element indicates the current status of the distribution. When the status is Deployed, the distribution's information is fully propagated throughout the Amazon CloudFront system.",
          "shape": "string"
        }
      },
      "required": [
        "Id",
        "Status",
        "LastModifiedTime",
        "InProgressInvalidationBatches",
        "DomainName",
        "ActiveTrustedSigners",
        "DistributionConfig"
      ],
      "type": "structure"
    },
    "DistributionAlreadyExists": {
      "documentation": "The caller reference you attempted to create the distribution with is associated with another distribution.",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DistributionConfig": {
      "documentation": "A distribution Configuration.",
      "members": {
        "Aliases": {
          "documentation": "A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution.",
          "shape": "Aliases"
        },
        "CacheBehaviors": {
          "documentation": "A complex type that contains zero or more CacheBehavior elements.",
          "shape": "CacheBehaviors"
        },
        "CallerReference": {
          "documentation": "A unique number that ensures the request can't be replayed. If the CallerReference is new (no matter the content of the DistributionConfig object), a new distribution is created. If the CallerReference is a value you already sent in a previous request to create a distribution, and the content of the DistributionConfig is identical to the original request (ignoring white space), the response includes the same information returned to the original request. If the CallerReference is a value you already sent in a previous request to create a distribution but the content of the DistributionConfig is different from the original request, CloudFront returns a DistributionAlreadyExists error.",
          "shape": "string"
        },
        "Comment": {
          "documentation": "Any comments you want to include about the distribution.",
          "shape": "string"
        },
        "CustomErrorResponses": {
          "documentation": "A complex type that contains zero or more CustomErrorResponse elements.",
          "shape": "CustomErrorResponses"
        },
        "DefaultCacheBehavior": {
          "documentation": "A complex type that describes the default cache behavior if you do not specify a CacheBehavior element or if files don't match any of the values of PathPattern in CacheBehavior elements.You must create exactly one default cache behavior.",
          "shape": "DefaultCacheBehavior"
        },
        "DefaultRootObject": {
          "documentation": "The object that you want CloudFront to return (for example, index.html) when an end user requests the root URL for your distribution (http://www.example.com) instead of an object in your distribution (http://www.example.com/index.html). Specifying a default root object avoids exposing the contents of your distribution. If you don't want to specify a default root object when you create a distribution, include an empty DefaultRootObject element. To delete the default root object from an existing distribution, update the distribution configuration and include an empty DefaultRootObject element. To replace the default root object, update the distribution configuration and specify the new object.",
          "shape": "string"
        },
        "Enabled": {
          "documentation": "Whether the distribution is enabled to accept end user requests for content.",
          "shape": "boolean"
        },
        "Logging": {
          "documentation": "A complex type that controls whether access logs are written for the distribution.",
          "shape": "LoggingConfig"
        },
        "Origins": {
          "documentation": "A complex type that contains information about origins for this distribution.",
          "shape": "Origins"
        },
        "PriceClass": {
          "documentation": "A complex type that contains information about price class for this distribution.",
          "shape": "PriceClass"
        },
        "Restrictions": {
          "shape": "Restrictions"
        },
        "ViewerCertificate": {
          "shape": "ViewerCertificate"
        }
      },
      "required": [
        "CallerReference",
        "Aliases",
        "DefaultRootObject",
        "Origins",
        "DefaultCacheBehavior",
        "CacheBehaviors",
        "Comment",
        "Logging",
        "PriceClass",
        "Enabled"
      ],
      "type": "structure"
    },
    "DistributionList": {
      "documentation": "A distribution list.",
      "members": {
        "IsTruncated": {
          "documentation": "A flag that indicates whether more distributions remain to be listed. If your results were truncated, you can make a follow-up pagination request using the Marker request parameter to retrieve more distributions in the list.",
          "shape": "boolean"
        },
        "Items": {
          "documentation": "A complex type that contains one DistributionSummary element for each distribution that was created by the current AWS account.",
          "shape": "DistributionSummaryList"
        },
        "Marker": {
          "documentation": "The value you provided for the Marker request parameter.",
          "shape": "string"
        },
        "MaxItems": {
          "documentation": "The value you provided for the MaxItems request parameter.",
          "shape": "integer"
        },
        "NextMarker": {
          "documentation": "If IsTruncated is true, this element is present and contains the value you can use for the Marker request parameter to continue listing your distributions where they left off.",
          "shape": "string"
        },
        "Quantity": {
          "documentation": "The number of distributions that were created by the current AWS account.",
          "shape": "integer"
        }
      },
      "required": [
        "Marker",
        "MaxItems",
        "IsTruncated",
        "Quantity"
      ],
      "type": "structure"
    },
    "DistributionNotDisabled": {
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "DistributionSummary": {
      "documentation": "A summary of the information for an Amazon CloudFront distribution.",
      "members": {
        "Aliases": {
          "documentation": "A complex type that contains information about CNAMEs (alternate domain names), if any, for this distribution.",
          "shape": "Aliases"
        },
        "CacheBehaviors": {
          "documentation": "A complex type that contains zero or more CacheBehavior elements.",
          "shape": "CacheBehaviors"
        },
        "Comment": {
          "documentation": "The comment originally specified when this distribution was created.",
          "shape": "string"
        },
        "CustomErrorResponses": {
          "documentation": "A complex type that contains zero or more CustomErrorResponses elements.",
          "shape": "CustomErrorResponses"
        },
        "DefaultCacheBehavior": {
          "documentation": "A complex type that describes the default cache behavior if you do not specify a CacheBehavior element or if files don't match any of the values of PathPattern in CacheBehavior elements.You must create exactly one default cache behavior.",
          "shape": "DefaultCacheBehavior"
        },
        "DomainName": {
          "documentation": "The domain name corresponding to the distribution. For example: d604721fxaaqy9.cloudfront.net.",
          "shape": "string"
        },
        "Enabled": {
          "documentation": "Whether the distribution is enabled to accept end user requests for content.",
          "shape": "boolean"
        },
        "Id": {
          "documentation": "The identifier for the distribution. For example: EDFDVBD632BHDS5.",
          "shape": "string"
        },
        "LastModifiedTime": {
          "documentation": "The date and time the distribution was last modified.",
          "shape": "timestamp"
        },
        "Origins": {
          "documentation": "A complex type that contains information about origins for this distribution.",
          "shape": "Origins"
        },
        "PriceClass": {
          "shape": "PriceClass"
        },
        "Restrictions": {
          "shape": "Restrictions"
        },
        "Status": {
          "documentation": "This response element indicates the current status of the distribution. When the status is Deployed, the distribution's information is fully propagated throughout the Amazon CloudFront system.",
          "shape": "string"
        },
        "ViewerCertificate": {
          "shape": "ViewerCertificate"
        }
      },
      "required": [
        "Id",
        "Status",
        "LastModifiedTime",
        "DomainName",
        "Aliases",
        "Origins",
        "DefaultCacheBehavior",
        "CacheBehaviors",
        "CustomErrorResponses",
        "Comment",
        "PriceClass",
        "Enabled",
        "ViewerCertificate",
        "Restrictions"
      ],
      "type": "structure"
    },
    "DistributionSummaryList": {
      "member": {
        "locationName": "DistributionSummary",
        "shape": "DistributionSummary"
      },
      "type": "list"
    },
    "ForwardedValues": {
      "documentation": "A complex type that specifies how CloudFront handles query strings, cookies and headers.",
      "members": {
        "Cookies": {
          "documentation": "A complex type that specifies how CloudFront handles cookies.",
          "shape": "CookiePreference"
        },
        "Headers": {
          "documentation": "A complex type that specifies the Headers, if any, that you want CloudFront to vary upon for this cache behavior.",
          "shape": "Headers"
        },
        "QueryString": {
          "documentation": "Indicates whether you want CloudFront to forward query strings to the origin that is associated with this cache behavior. If so, specify true; if not, specify false.",
          "shape": "boolean"
        }
      },
      "required": [
        "QueryString",
        "Cookies"
      ],
      "type": "structure"
    },
    "GeoRestriction": {
      "documentation": "A complex type that controls the countries in which your content is distributed. For more information about geo restriction, go to Customizing Error Responses in the Amazon CloudFront Developer Guide. CloudFront determines the location of your users using MaxMind GeoIP databases. For information about the accuracy of these databases, see How accurate are your GeoIP databases? on the MaxMind website.",
      "members": {
        "Items": {
          "documentation": "A complex type that contains a Location element for each country in which you want CloudFront either to distribute your content (whitelist) or not distribute your content (blacklist). The Location element is a two-letter, uppercase country code for a country that you want to include in your blacklist or whitelist. Include one Location element for each country. CloudFront and MaxMind both use ISO 3166 country codes. For the current list of countries and the corresponding codes, see ISO 3166-1-alpha-2 code on the International Organization for Standardization website. You can also refer to the country list in the CloudFront console, which includes both country names and codes.",
          "shape": "LocationList"
        },
        "Quantity": {
          "documentation": "When geo restriction is enabled, this is the number of countries in your whitelist or blacklist. Otherwise, when it is not enabled, Quantity is 0, and you can omit Items.",
          "shape": "integer"
        },
        "RestrictionType": {
          "documentation": "The method that you want to use to restrict distribution of your content by country: - none: No geo restriction is enabled, meaning access to content is not restricted by client geo location. - blacklist: The Location elements specify the countries in which you do not want CloudFront to distribute your content. - whitelist: The Location elements specify the countries in which you want CloudFront to distribute your content.",
          "shape": "GeoRestrictionType"
        }
      },
      "required": [
        "RestrictionType",
        "Quantity"
      ],
      "type": "structure"
    },
    "GeoRestrictionType": {
      "enum": [
        "blacklist",
        "whitelist",
        "none"
      ],
      "type": "string"
    },
    "GetCloudFrontOriginAccessIdentityConfigRequest": {
      "documentation": "The request to get an origin access identity's configuration.",
      "members": {
        "Id": {
          "documentation": "The identity's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetCloudFrontOriginAccessIdentityConfigResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "CloudFrontOriginAccessIdentityConfig": {
          "documentation": "The origin access identity's configuration information.",
          "shape": "CloudFrontOriginAccessIdentityConfig"
        },
        "ETag": {
          "documentation": "The current version of the configuration. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        }
      },
      "payload": "CloudFrontOriginAccessIdentityConfig",
      "type": "structure"
    },
    "GetCloudFrontOriginAccessIdentityRequest": {
      "documentation": "The request to get an origin access identity's information.",
      "members": {
        "Id": {
          "documentation": "The identity's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetCloudFrontOriginAccessIdentityResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "CloudFrontOriginAccessIdentity": {
          "documentation": "The origin access identity's information.",
          "shape": "CloudFrontOriginAccessIdentity"
        },
        "ETag": {
          "documentation": "The current version of the origin access identity's information. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        }
      },
      "payload": "CloudFrontOriginAccessIdentity",
      "type": "structure"
    },
    "GetDistributionConfigRequest": {
      "documentation": "The request to get a distribution configuration.",
      "members": {
        "Id": {
          "documentation": "The distribution's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetDistributionConfigResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "DistributionConfig": {
          "documentation": "The distribution's configuration information.",
          "shape": "DistributionConfig"
        },
        "ETag": {
          "documentation": "The current version of the configuration. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        }
      },
      "payload": "DistributionConfig",
      "type": "structure"
    },
    "GetDistributionRequest": {
      "documentation": "The request to get a distribution's information.",
      "members": {
        "Id": {
          "documentation": "The distribution's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetDistributionResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "Distribution": {
          "documentation": "The distribution's information.",
          "shape": "Distribution"
        },
        "ETag": {
          "documentation": "The current version of the distribution's information. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        }
      },
      "payload": "Distribution",
      "type": "structure"
    },
    "GetInvalidationRequest": {
      "documentation": "The request to get an invalidation's information.",
      "members": {
        "DistributionId": {
          "documentation": "The distribution's id.",
          "location": "uri",
          "locationName": "DistributionId",
          "shape": "string"
        },
        "Id": {
          "documentation": "The invalidation's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "DistributionId",
        "Id"
      ],
      "type": "structure"
    },
    "GetInvalidationResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "Invalidation": {
          "documentation": "The invalidation's information.",
          "shape": "Invalidation"
        }
      },
      "payload": "Invalidation",
      "type": "structure"
    },
    "GetStreamingDistributionConfigRequest": {
      "documentation": "To request to get a streaming distribution configuration.",
      "members": {
        "Id": {
          "documentation": "The streaming distribution's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetStreamingDistributionConfigResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "ETag": {
          "documentation": "The current version of the configuration. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "StreamingDistributionConfig": {
          "documentation": "The streaming distribution's configuration information.",
          "shape": "StreamingDistributionConfig"
        }
      },
      "payload": "StreamingDistributionConfig",
      "type": "structure"
    },
    "GetStreamingDistributionRequest": {
      "documentation": "The request to get a streaming distribution's information.",
      "members": {
        "Id": {
          "documentation": "The streaming distribution's id.",
          "location": "uri",
          "locationName": "Id",
          "shape": "string"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "GetStreamingDistributionResult": {
      "documentation": "The returned result of the corresponding request.",
      "members": {
        "ETag": {
          "documentation": "The current version of the streaming distribution's information. For example: E2QWRUHAPOMQZL.",
          "location": "header",
          "locationName": "ETag",
          "shape": "string"
        },
        "StreamingDistribution": {
          "documentation": "The streaming distribution's information.",
          "shape": "StreamingDistribution"
        }
      },
      "payload": "StreamingDistribution",
      "type": "structure"
    },
    "HeaderList": {
      "member": {
        "locationName": "Name",
        "shape": "string"
      },
      "type": "list"
    },
    "Headers": {
[...]
