{
  "documentation": "<p>Amazon Lightsail is the easiest way to get started with AWS for developers who just need virtual private servers. Lightsail includes everything you need to launch your project quickly - a virtual machine, a managed database, SSD-based storage, data transfer, DNS management, and a static IP - for a low, predictable price. You manage those Lightsail servers through the Lightsail console or by using the API or command-line interface (CLI).</p> <p>For more information about Lightsail concepts and tasks, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/all\">Lightsail Dev Guide</a>.</p> <p>To use the Lightsail API or the CLI, you will need to use AWS Identity and Access Management (IAM) to generate access keys. For details about how to set this up, see the <a href=\"http://lightsail.aws.amazon.com/ls/docs/how-to/article/lightsail-how-to-set-up-access-keys-to-use-sdk-api-cli\">Lightsail Dev Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2016-11-28",
    "endpointPrefix": "lightsail",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon Lightsail",
    "serviceId": "Lightsail",
    "signatureVersion": "v4",
    "targetPrefix": "Lightsail_20161128",
    "uid": "lightsail-2016-11-28"
  },
  "operations": {
    "AllocateStaticIp": {
      "documentation": "<p>Allocates a static IP address.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AllocateStaticIpRequest"
      },
      "name": "AllocateStaticIp",
      "output": {
        "shape": "AllocateStaticIpResult"
      }
    },
    "AttachDisk": {
      "documentation": "<p>Attaches a block storage disk to a running or stopped Lightsail instance and exposes it to the instance with the specified disk name.</p> <p>The <code>attach disk</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>disk name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachDiskRequest"
      },
      "name": "AttachDisk",
      "output": {
        "shape": "AttachDiskResult"
      }
    },
    "AttachInstancesToLoadBalancer": {
      "documentation": "<p>Attaches one or more Lightsail instances to a load balancer.</p> <p>After some time, the instances are attached to the load balancer and the health check status is available.</p> <p>The <code>attach instances to load balancer</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>load balancer name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachInstancesToLoadBalancerRequest"
      },
      "name": "AttachInstancesToLoadBalancer",
      "output": {
        "shape": "AttachInstancesToLoadBalancerResult"
      }
    },
    "AttachLoadBalancerTlsCertificate": {
      "documentation": "<p>Attaches a Transport Layer Security (TLS) certificate to your load balancer. TLS is just an updated, more secure version of Secure Socket Layer (SSL).</p> <p>Once you create and validate your certificate, you can attach it to your load balancer. You can also use this API to rotate the certificates on your account. Use the <code>AttachLoadBalancerTlsCertificate</code> action with the non-attached certificate, and it will replace the existing one and become the attached certificate.</p> <p>The <code>AttachLoadBalancerTlsCertificate</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>load balancer name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachLoadBalancerTlsCertificateRequest"
      },
      "name": "AttachLoadBalancerTlsCertificate",
      "output": {
        "shape": "AttachLoadBalancerTlsCertificateResult"
      }
    },
    "AttachStaticIp": {
      "documentation": "<p>Attaches a static IP address to a specific Amazon Lightsail instance.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachStaticIpRequest"
      },
      "name": "AttachStaticIp",
      "output": {
        "shape": "AttachStaticIpResult"
      }
    },
    "CloseInstancePublicPorts": {
      "documentation": "<p>Closes the public ports on a specific Amazon Lightsail instance.</p> <p>The <code>close instance public ports</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>instance name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CloseInstancePublicPortsRequest"
      },
      "name": "CloseInstancePublicPorts",
      "output": {
        "shape": "CloseInstancePublicPortsResult"
      }
    },
    "CopySnapshot": {
      "documentation": "<p>Copies a manual snapshot of an instance or disk as another manual snapshot, or copies an automatic snapshot of an instance or disk as a manual snapshot. This operation can also be used to copy a manual or automatic snapshot of an instance or a disk from one AWS Region to another in Amazon Lightsail.</p> <p>When copying a <i>manual snapshot</i>, be sure to define the <code>source region</code>, <code>source snapshot name</code>, and <code>target snapshot name</code> parameters.</p> <p>When copying an <i>automatic snapshot</i>, be sure to define the <code>source region</code>, <code>source resource name</code>, <code>target snapshot name</code>, and either the <code>restore date</code> or the <code>use latest restorable auto snapshot</code> parameters.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopySnapshotRequest"
      },
      "name": "CopySnapshot",
      "output": {
        "shape": "CopySnapshotResult"
      }
    },
    "CreateCloudFormationStack": {
      "documentation": "<p>Creates an AWS CloudFormation stack, which creates a new Amazon EC2 instance from an exported Amazon Lightsail snapshot. This operation results in a CloudFormation stack record that can be used to track the AWS CloudFormation stack created. Use the <code>get cloud formation stack records</code> operation to get a list of the CloudFormation stacks created.</p> <important> <p>Wait until after your new Amazon EC2 instance is created before running the <code>create cloud formation stack</code> operation again with the same export snapshot record.</p> </important>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCloudFormationStackRequest"
      },
      "name": "CreateCloudFormationStack",
      "output": {
        "shape": "CreateCloudFormationStackResult"
      }
    },
    "CreateContactMethod": {
      "documentation": "<p>Creates an email or SMS text message contact method.</p> <p>A contact method is used to send you notifications about your Amazon Lightsail resources. You can add one email address and one mobile phone number contact method in each AWS Region. However, SMS text messaging is not supported in some AWS Regions, and SMS text messages cannot be sent to some countries/regions. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-notifications\">Notifications in Amazon Lightsail</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateContactMethodRequest"
      },
      "name": "CreateContactMethod",
      "output": {
        "shape": "CreateContactMethodResult"
      }
    },
    "CreateDisk": {
      "documentation": "<p>Creates a block storage disk that can be attached to an Amazon Lightsail instance in the same Availability Zone (e.g., <code>us-east-2a</code>).</p> <p>The <code>create disk</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDiskRequest"
      },
      "name": "CreateDisk",
      "output": {
        "shape": "CreateDiskResult"
      }
    },
    "CreateDiskFromSnapshot": {
      "documentation": "<p>Creates a block storage disk from a manual or automatic snapshot of a disk. The resulting disk can be attached to an Amazon Lightsail instance in the same Availability Zone (e.g., <code>us-east-2a</code>).</p> <p>The <code>create disk from snapshot</code> operation supports tag-based access control via request tags and resource tags applied to the resource identified by <code>disk snapshot name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDiskFromSnapshotRequest"
      },
      "name": "CreateDiskFromSnapshot",
      "output": {
        "shape": "CreateDiskFromSnapshotResult"
      }
    },
    "CreateDiskSnapshot": {
      "documentation": "<p>Creates a snapshot of a block storage disk. You can use snapshots for backups, to make copies of disks, and to save data before shutting down a Lightsail instance.</p> <p>You can take a snapshot of an attached disk that is in use; however, snapshots only capture data that has been written to your disk at the time the snapshot command is issued. This may exclude any data that has been cached by any applications or the operating system. If you can pause any file systems on the disk long enough to take a snapshot, your snapshot should be complete. Nevertheless, if you cannot pause all file writes to the disk, you should unmount the disk from within the Lightsail instance, issue the create disk snapshot command, and then remount the disk to ensure a consistent and complete snapshot. You may remount and use your disk while the snapshot status is pending.</p> <p>You can also use this operation to create a snapshot of an instance's system volume. You might want to do this, for example, to recover data from the system volume of a botched instance or to create a backup of the system volume like you would for a block storage disk. To create a snapshot of a system volume, just define the <code>instance name</code> parameter when issuing the snapshot command, and a snapshot of the defined instance's system volume will be created. After the snapshot is available, you can create a block storage disk from the snapshot and attach it to a running instance to access the data on the disk.</p> <p>The <code>create disk snapshot</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDiskSnapshotRequest"
      },
      "name": "CreateDiskSnapshot",
      "output": {
        "shape": "CreateDiskSnapshotResult"
      }
    },
    "CreateDomain": {
      "documentation": "<p>Creates a domain resource for the specified domain (e.g., example.com).</p> <p>The <code>create domain</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDomainRequest"
      },
      "name": "CreateDomain",
      "output": {
        "shape": "CreateDomainResult"
      }
    },
    "CreateDomainEntry": {
      "documentation": "<p>Creates one of the following entry records associated with the domain: Address (A), canonical name (CNAME), mail exchanger (MX), name server (NS), start of authority (SOA), service locator (SRV), or text (TXT).</p> <p>The <code>create domain entry</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>domain name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDomainEntryRequest"
      },
      "name": "CreateDomainEntry",
      "output": {
        "shape": "CreateDomainEntryResult"
      }
    },
    "CreateInstanceSnapshot": {
      "documentation": "<p>Creates a snapshot of a specific virtual private server, or <i>instance</i>. You can use a snapshot to create a new instance that is based on that snapshot.</p> <p>The <code>create instance snapshot</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInstanceSnapshotRequest"
      },
      "name": "CreateInstanceSnapshot",
      "output": {
        "shape": "CreateInstanceSnapshotResult"
      }
    },
    "CreateInstances": {
      "documentation": "<p>Creates one or more Amazon Lightsail instances.</p> <p>The <code>create instances</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInstancesRequest"
      },
      "name": "CreateInstances",
      "output": {
        "shape": "CreateInstancesResult"
      }
    },
    "CreateInstancesFromSnapshot": {
      "documentation": "<p>Creates one or more new instances from a manual or automatic snapshot of an instance.</p> <p>The <code>create instances from snapshot</code> operation supports tag-based access control via request tags and resource tags applied to the resource identified by <code>instance snapshot name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInstancesFromSnapshotRequest"
      },
      "name": "CreateInstancesFromSnapshot",
      "output": {
        "shape": "CreateInstancesFromSnapshotResult"
      }
    },
    "CreateKeyPair": {
      "documentation": "<p>Creates an SSH key pair.</p> <p>The <code>create key pair</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateKeyPairRequest"
      },
      "name": "CreateKeyPair",
      "output": {
        "shape": "CreateKeyPairResult"
      }
    },
    "CreateLoadBalancer": {
      "documentation": "<p>Creates a Lightsail load balancer. To learn more about deciding whether to load balance your application, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/how-to/article/configure-lightsail-instances-for-load-balancing\">Configure your Lightsail instances for load balancing</a>. You can create up to 5 load balancers per AWS Region in your account.</p> <p>When you create a load balancer, you can specify a unique name and port settings. To change additional load balancer settings, use the <code>UpdateLoadBalancerAttribute</code> operation.</p> <p>The <code>create load balancer</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLoadBalancerRequest"
      },
      "name": "CreateLoadBalancer",
      "output": {
        "shape": "CreateLoadBalancerResult"
      }
    },
    "CreateLoadBalancerTlsCertificate": {
      "documentation": "<p>Creates a Lightsail load balancer TLS certificate.</p> <p>TLS is just an updated, more secure version of Secure Socket Layer (SSL).</p> <p>The <code>CreateLoadBalancerTlsCertificate</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>load balancer name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLoadBalancerTlsCertificateRequest"
      },
      "name": "CreateLoadBalancerTlsCertificate",
      "output": {
        "shape": "CreateLoadBalancerTlsCertificateResult"
      }
    },
    "CreateRelationalDatabase": {
      "documentation": "<p>Creates a new database in Amazon Lightsail.</p> <p>The <code>create relational database</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRelationalDatabaseRequest"
      },
      "name": "CreateRelationalDatabase",
      "output": {
        "shape": "CreateRelationalDatabaseResult"
      }
    },
    "CreateRelationalDatabaseFromSnapshot": {
      "documentation": "<p>Creates a new database from an existing database snapshot in Amazon Lightsail.</p> <p>You can create a new database from a snapshot in if something goes wrong with your original database, or to change it to a different plan, such as a high availability or standard plan.</p> <p>The <code>create relational database from snapshot</code> operation supports tag-based access control via request tags and resource tags applied to the resource identified by relationalDatabaseSnapshotName. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRelationalDatabaseFromSnapshotRequest"
      },
      "name": "CreateRelationalDatabaseFromSnapshot",
      "output": {
        "shape": "CreateRelationalDatabaseFromSnapshotResult"
      }
    },
    "CreateRelationalDatabaseSnapshot": {
      "documentation": "<p>Creates a snapshot of your database in Amazon Lightsail. You can use snapshots for backups, to make copies of a database, and to save data before deleting a database.</p> <p>The <code>create relational database snapshot</code> operation supports tag-based access control via request tags. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRelationalDatabaseSnapshotRequest"
      },
      "name": "CreateRelationalDatabaseSnapshot",
      "output": {
        "shape": "CreateRelationalDatabaseSnapshotResult"
      }
    },
    "DeleteAlarm": {
      "documentation": "<p>Deletes an alarm.</p> <p>An alarm is used to monitor a single metric for one of your resources. When a metric condition is met, the alarm can notify you by email, SMS text message, and a banner displayed on the Amazon Lightsail console. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-alarms\">Alarms in Amazon Lightsail</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "UnauthenticatedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAlarmRequest"
      },
      "name": "DeleteAlarm",
      "output": {
        "shape": "DeleteAlarmResult"
      }
    },
    "DeleteAutoSnapshot": {
      "documentation": "<p>Deletes an automatic snapshot of an instance or disk. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAutoSnapshotRequest"
      },
      "name": "DeleteAutoSnapshot",
      "output": {
        "shape": "DeleteAutoSnapshotResult"
      }
    },
    "DeleteContactMethod": {
      "documentation": "<p>Deletes a contact method.</p> <p>A contact method is used to send you notifications about your Amazon Lightsail resources. You can add one email address and one mobile phone number contact method in each AWS Region. However, SMS text messaging is not supported in some AWS Regions, and SMS text messages cannot be sent to some countries/regions. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-notifications\">Notifications in Amazon Lightsail</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "UnauthenticatedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteContactMethodRequest"
      },
      "name": "DeleteContactMethod",
      "output": {
        "shape": "DeleteContactMethodResult"
      }
    },
    "DeleteDisk": {
      "documentation": "<p>Deletes the specified block storage disk. The disk must be in the <code>available</code> state (not attached to a Lightsail instance).</p> <note> <p>The disk may remain in the <code>deleting</code> state for several minutes.</p> </note> <p>The <code>delete disk</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>disk name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDiskRequest"
      },
      "name": "DeleteDisk",
      "output": {
        "shape": "DeleteDiskResult"
      }
    },
    "DeleteDiskSnapshot": {
      "documentation": "<p>Deletes the specified disk snapshot.</p> <p>When you make periodic snapshots of a disk, the snapshots are incremental, and only the blocks on the device that have changed since your last snapshot are saved in the new snapshot. When you delete a snapshot, only the data not needed for any other snapshot is removed. So regardless of which prior snapshots have been deleted, all active snapshots will have access to all the information needed to restore the disk.</p> <p>The <code>delete disk snapshot</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>disk snapshot name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDiskSnapshotRequest"
      },
      "name": "DeleteDiskSnapshot",
      "output": {
        "shape": "DeleteDiskSnapshotResult"
      }
    },
    "DeleteDomain": {
      "documentation": "<p>Deletes the specified domain recordset and all of its domain records.</p> <p>The <code>delete domain</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>domain name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDomainRequest"
      },
      "name": "DeleteDomain",
      "output": {
        "shape": "DeleteDomainResult"
      }
    },
    "DeleteDomainEntry": {
      "documentation": "<p>Deletes a specific domain entry.</p> <p>The <code>delete domain entry</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>domain name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDomainEntryRequest"
      },
      "name": "DeleteDomainEntry",
      "output": {
        "shape": "DeleteDomainEntryResult"
      }
    },
    "DeleteInstance": {
      "documentation": "<p>Deletes an Amazon Lightsail instance.</p> <p>The <code>delete instance</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>instance name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInstanceRequest"
      },
      "name": "DeleteInstance",
      "output": {
        "shape": "DeleteInstanceResult"
      }
    },
    "DeleteInstanceSnapshot": {
      "documentation": "<p>Deletes a specific snapshot of a virtual private server (or <i>instance</i>).</p> <p>The <code>delete instance snapshot</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>instance snapshot name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInstanceSnapshotRequest"
      },
      "name": "DeleteInstanceSnapshot",
      "output": {
        "shape": "DeleteInstanceSnapshotResult"
      }
    },
    "DeleteKeyPair": {
      "documentation": "<p>Deletes a specific SSH key pair.</p> <p>The <code>delete key pair</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>key pair name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteKeyPairRequest"
      },
      "name": "DeleteKeyPair",
      "output": {
        "shape": "DeleteKeyPairResult"
      }
    },
    "DeleteKnownHostKeys": {
      "documentation": "<p>Deletes the known host key or certificate used by the Amazon Lightsail browser-based SSH or RDP clients to authenticate an instance. This operation enables the Lightsail browser-based SSH or RDP clients to connect to the instance after a host key mismatch.</p> <important> <p>Perform this operation only if you were expecting the host key or certificate mismatch or if you are familiar with the new host key or certificate on the instance. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-troubleshooting-browser-based-ssh-rdp-client-connection\">Troubleshooting connection issues when using the Amazon Lightsail browser-based SSH or RDP client</a>.</p> </important>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteKnownHostKeysRequest"
      },
      "name": "DeleteKnownHostKeys",
      "output": {
        "shape": "DeleteKnownHostKeysResult"
      }
    },
    "DeleteLoadBalancer": {
      "documentation": "<p>Deletes a Lightsail load balancer and all its associated SSL/TLS certificates. Once the load balancer is deleted, you will need to create a new load balancer, create a new certificate, and verify domain ownership again.</p> <p>The <code>delete load balancer</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>load balancer name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoadBalancerRequest"
      },
      "name": "DeleteLoadBalancer",
      "output": {
        "shape": "DeleteLoadBalancerResult"
      }
    },
    "DeleteLoadBalancerTlsCertificate": {
      "documentation": "<p>Deletes an SSL/TLS certificate associated with a Lightsail load balancer.</p> <p>The <code>DeleteLoadBalancerTlsCertificate</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>load balancer name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoadBalancerTlsCertificateRequest"
      },
      "name": "DeleteLoadBalancerTlsCertificate",
      "output": {
        "shape": "DeleteLoadBalancerTlsCertificateResult"
      }
    },
    "DeleteRelationalDatabase": {
      "documentation": "<p>Deletes a database in Amazon Lightsail.</p> <p>The <code>delete relational database</code> operation supports tag-based access control via resource tags applied to the resource identified by relationalDatabaseName. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRelationalDatabaseRequest"
      },
      "name": "DeleteRelationalDatabase",
      "output": {
        "shape": "DeleteRelationalDatabaseResult"
      }
    },
    "DeleteRelationalDatabaseSnapshot": {
      "documentation": "<p>Deletes a database snapshot in Amazon Lightsail.</p> <p>The <code>delete relational database snapshot</code> operation supports tag-based access control via resource tags applied to the resource identified by relationalDatabaseName. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRelationalDatabaseSnapshotRequest"
      },
      "name": "DeleteRelationalDatabaseSnapshot",
      "output": {
        "shape": "DeleteRelationalDatabaseSnapshotResult"
      }
    },
    "DetachDisk": {
      "documentation": "<p>Detaches a stopped block storage disk from a Lightsail instance. Make sure to unmount any file systems on the device within your operating system before stopping the instance and detaching the disk.</p> <p>The <code>detach disk</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>disk name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachDiskRequest"
      },
      "name": "DetachDisk",
      "output": {
        "shape": "DetachDiskResult"
      }
    },
    "DetachInstancesFromLoadBalancer": {
      "documentation": "<p>Detaches the specified instances from a Lightsail load balancer.</p> <p>This operation waits until the instances are no longer needed before they are detached from the load balancer.</p> <p>The <code>detach instances from load balancer</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>load balancer name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachInstancesFromLoadBalancerRequest"
      },
      "name": "DetachInstancesFromLoadBalancer",
      "output": {
        "shape": "DetachInstancesFromLoadBalancerResult"
      }
    },
    "DetachStaticIp": {
      "documentation": "<p>Detaches a static IP from the Amazon Lightsail instance to which it is attached.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachStaticIpRequest"
      },
      "name": "DetachStaticIp",
      "output": {
        "shape": "DetachStaticIpResult"
      }
    },
    "DisableAddOn": {
      "documentation": "<p>Disables an add-on for an Amazon Lightsail resource. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableAddOnRequest"
      },
      "name": "DisableAddOn",
      "output": {
        "shape": "DisableAddOnResult"
      }
    },
    "DownloadDefaultKeyPair": {
      "documentation": "<p>Downloads the default SSH key pair from the user's account.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DownloadDefaultKeyPairRequest"
      },
      "name": "DownloadDefaultKeyPair",
      "output": {
        "shape": "DownloadDefaultKeyPairResult"
      }
    },
    "EnableAddOn": {
      "documentation": "<p>Enables or modifies an add-on for an Amazon Lightsail resource. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableAddOnRequest"
      },
      "name": "EnableAddOn",
      "output": {
        "shape": "EnableAddOnResult"
      }
    },
    "ExportSnapshot": {
      "documentation": "<p>Exports an Amazon Lightsail instance or block storage disk snapshot to Amazon Elastic Compute Cloud (Amazon EC2). This operation results in an export snapshot record that can be used with the <code>create cloud formation stack</code> operation to create new Amazon EC2 instances.</p> <p>Exported instance snapshots appear in Amazon EC2 as Amazon Machine Images (AMIs), and the instance system disk appears as an Amazon Elastic Block Store (Amazon EBS) volume. Exported disk snapshots appear in Amazon EC2 as Amazon EBS volumes. Snapshots are exported to the same Amazon Web Services Region in Amazon EC2 as the source Lightsail snapshot.</p> <p/> <p>The <code>export snapshot</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>source snapshot name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p> <note> <p>Use the <code>get instance snapshots</code> or <code>get disk snapshots</code> operations to get a list of snapshots that you can export to Amazon EC2.</p> </note>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExportSnapshotRequest"
      },
      "name": "ExportSnapshot",
      "output": {
        "shape": "ExportSnapshotResult"
      }
    },
    "GetActiveNames": {
      "documentation": "<p>Returns the names of all active (not deleted) resources.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetActiveNamesRequest"
      },
      "name": "GetActiveNames",
      "output": {
        "shape": "GetActiveNamesResult"
      }
    },
    "GetAlarms": {
      "documentation": "<p>Returns information about the configured alarms. Specify an alarm name in your request to return information about a specific alarm, or specify a monitored resource name to return information about all alarms for a specific resource.</p> <p>An alarm is used to monitor a single metric for one of your resources. When a metric condition is met, the alarm can notify you by email, SMS text message, and a banner displayed on the Amazon Lightsail console. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-alarms\">Alarms in Amazon Lightsail</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "UnauthenticatedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAlarmsRequest"
      },
      "name": "GetAlarms",
      "output": {
        "shape": "GetAlarmsResult"
      }
    },
    "GetAutoSnapshots": {
      "documentation": "<p>Returns the available automatic snapshots for an instance or disk. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-configuring-automatic-snapshots\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAutoSnapshotsRequest"
      },
      "name": "GetAutoSnapshots",
      "output": {
        "shape": "GetAutoSnapshotsResult"
      }
    },
    "GetBlueprints": {
      "documentation": "<p>Returns the list of available instance images, or <i>blueprints</i>. You can use a blueprint to create a new instance already running a specific operating system, as well as a preinstalled app or development stack. The software each instance is running depends on the blueprint image you choose.</p> <note> <p>Use active blueprints when creating new instances. Inactive blueprints are listed to support customers with existing instances and are not necessarily available to create new instances. Blueprints are marked inactive when they become outdated due to operating system updates or new application releases.</p> </note>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBlueprintsRequest"
      },
      "name": "GetBlueprints",
      "output": {
        "shape": "GetBlueprintsResult"
      }
    },
    "GetBundles": {
      "documentation": "<p>Returns the list of bundles that are available for purchase. A bundle describes the specs for your virtual private server (or <i>instance</i>).</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBundlesRequest"
      },
      "name": "GetBundles",
      "output": {
        "shape": "GetBundlesResult"
      }
    },
    "GetCloudFormationStackRecords": {
      "documentation": "<p>Returns the CloudFormation stack record created as a result of the <code>create cloud formation stack</code> operation.</p> <p>An AWS CloudFormation stack is used to create a new Amazon EC2 instance from an exported Lightsail snapshot.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCloudFormationStackRecordsRequest"
      },
      "name": "GetCloudFormationStackRecords",
      "output": {
        "shape": "GetCloudFormationStackRecordsResult"
      }
    },
    "GetContactMethods": {
      "documentation": "<p>Returns information about the configured contact methods. Specify a protocol in your request to return information about a specific contact method.</p> <p>A contact method is used to send you notifications about your Amazon Lightsail resources. You can add one email address and one mobile phone number contact method in each AWS Region. However, SMS text messaging is not supported in some AWS Regions, and SMS text messages cannot be sent to some countries/regions. For more information, see <a href=\"https://lightsail.aws.amazon.com/ls/docs/en_us/articles/amazon-lightsail-notifications\">Notifications in Amazon Lightsail</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContactMethodsRequest"
      },
      "name": "GetContactMethods",
      "output": {
        "shape": "GetContactMethodsResult"
      }
    },
    "GetDisk": {
      "documentation": "<p>Returns information about a specific block storage disk.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDiskRequest"
      },
      "name": "GetDisk",
      "output": {
        "shape": "GetDiskResult"
      }
    },
    "GetDiskSnapshot": {
      "documentation": "<p>Returns information about a specific block storage disk snapshot.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDiskSnapshotRequest"
      },
      "name": "GetDiskSnapshot",
      "output": {
        "shape": "GetDiskSnapshotResult"
      }
    },
    "GetDiskSnapshots": {
      "documentation": "<p>Returns information about all block storage disk snapshots in your AWS account and region.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDiskSnapshotsRequest"
      },
      "name": "GetDiskSnapshots",
      "output": {
        "shape": "GetDiskSnapshotsResult"
      }
    },
    "GetDisks": {
      "documentation": "<p>Returns information about all block storage disks in your AWS account and region.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDisksRequest"
      },
      "name": "GetDisks",
      "output": {
        "shape": "GetDisksResult"
      }
    },
    "GetDomain": {
      "documentation": "<p>Returns information about a specific domain recordset.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDomainRequest"
      },
      "name": "GetDomain",
      "output": {
        "shape": "GetDomainResult"
      }
    },
    "GetDomains": {
      "documentation": "<p>Returns a list of all domains in the user's account.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDomainsRequest"
      },
      "name": "GetDomains",
      "output": {
        "shape": "GetDomainsResult"
      }
    },
    "GetExportSnapshotRecords": {
      "documentation": "<p>Returns the export snapshot record created as a result of the <code>export snapshot</code> operation.</p> <p>An export snapshot record can be used to create a new Amazon EC2 instance and its related resources with the <code>create cloud formation stack</code> operation.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetExportSnapshotRecordsRequest"
      },
      "name": "GetExportSnapshotRecords",
      "output": {
        "shape": "GetExportSnapshotRecordsResult"
      }
    },
    "GetInstance": {
      "documentation": "<p>Returns information about a specific Amazon Lightsail instance, which is a virtual private server.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceRequest"
      },
      "name": "GetInstance",
      "output": {
        "shape": "GetInstanceResult"
      }
    },
    "GetInstanceAccessDetails": {
      "documentation": "<p>Returns temporary SSH keys you can use to connect to a specific virtual private server, or <i>instance</i>.</p> <p>The <code>get instance access details</code> operation supports tag-based access control via resource tags applied to the resource identified by <code>instance name</code>. For more information, see the <a href=\"https://lightsail.aws.amazon.com/ls/docs/en/articles/amazon-lightsail-controlling-access-using-tags\">Lightsail Dev Guide</a>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceAccessDetailsRequest"
      },
      "name": "GetInstanceAccessDetails",
      "output": {
        "shape": "GetInstanceAccessDetailsResult"
      }
    },
    "GetInstanceMetricData": {
      "documentation": "<p>Returns the data points for the specified Amazon Lightsail instance metric, given an instance name.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceMetricDataRequest"
      },
      "name": "GetInstanceMetricData",
      "output": {
        "shape": "GetInstanceMetricDataResult"
      }
    },
    "GetInstancePortStates": {
      "documentation": "<p>Returns the port states for a specific virtual private server, or <i>instance</i>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstancePortStatesRequest"
      },
      "name": "GetInstancePortStates",
      "output": {
        "shape": "GetInstancePortStatesResult"
      }
    },
    "GetInstanceSnapshot": {
      "documentation": "<p>Returns information about a specific instance snapshot.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceSnapshotRequest"
      },
      "name": "GetInstanceSnapshot",
      "output": {
        "shape": "GetInstanceSnapshotResult"
      }
    },
    "GetInstanceSnapshots": {
      "documentation": "<p>Returns all instance snapshots for the user's account.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceSnapshotsRequest"
      },
      "name": "GetInstanceSnapshots",
      "output": {
        "shape": "GetInstanceSnapshotsResult"
      }
    },
    "GetInstanceState": {
      "documentation": "<p>Returns the state of a specific instance. Works on one instance at a time.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceStateRequest"
      },
      "name": "GetInstanceState",
      "output": {
        "shape": "GetInstanceStateResult"
      }
    },
    "GetInstances": {
      "documentation": "<p>Returns information about all Amazon Lightsail virtual private servers, or <i>instances</i>.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstancesRequest"
      },
      "name": "GetInstances",
      "output": {
        "shape": "GetInstancesResult"
      }
    },
    "GetKeyPair": {
      "documentation": "<p>Returns information about a specific key pair.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetKeyPairRequest"
      },
      "name": "GetKeyPair",
      "output": {
        "shape": "GetKeyPairResult"
      }
    },
    "GetKeyPairs": {
      "documentation": "<p>Returns information about all key pairs in the user's account.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetKeyPairsRequest"
      },
      "name": "GetKeyPairs",
      "output": {
        "shape": "GetKeyPairsResult"
      }
    },
    "GetLoadBalancer": {
      "documentation": "<p>Returns information about the specified Lightsail load balancer.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoadBalancerRequest"
      },
      "name": "GetLoadBalancer",
      "output": {
        "shape": "GetLoadBalancerResult"
      }
    },
    "GetLoadBalancerMetricData": {
      "documentation": "<p>Returns information about health metrics for your Lightsail load balancer.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoadBalancerMetricDataRequest"
      },
      "name": "GetLoadBalancerMetricData",
      "output": {
        "shape": "GetLoadBalancerMetricDataResult"
      }
    },
    "GetLoadBalancerTlsCertificates": {
      "documentation": "<p>Returns information about the TLS certificates that are associated with the specified Lightsail load balancer.</p> <p>TLS is just an updated, more secure version of Secure Socket Layer (SSL).</p> <p>You can have a maximum of 2 certificates associated with a Lightsail load balancer. One is active and the other is inactive.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoadBalancerTlsCertificatesRequest"
      },
      "name": "GetLoadBalancerTlsCertificates",
      "output": {
        "shape": "GetLoadBalancerTlsCertificatesResult"
      }
    },
    "GetLoadBalancers": {
      "documentation": "<p>Returns information about all load balancers in an account.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoadBalancersRequest"
      },
      "name": "GetLoadBalancers",
      "output": {
        "shape": "GetLoadBalancersResult"
      }
    },
    "GetOperation": {
      "documentation": "<p>Returns information about a specific operation. Operations include events such as when you create an instance, allocate a static IP, attach a static IP, and so on.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOperationRequest"
      },
      "name": "GetOperation",
      "output": {
        "shape": "GetOperationResult"
      }
    },
    "GetOperations": {
      "documentation": "<p>Returns information about all operations.</p> <p>Results are returned from oldest to newest, up to a maximum of 200. Results can be paged by making each subsequent call to <code>GetOperations</code> use the maximum (last) <code>statusChangedAt</code> value from the previous request.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOperationsRequest"
      },
      "name": "GetOperations",
      "output": {
        "shape": "GetOperationsResult"
      }
    },
    "GetOperationsForResource": {
      "documentation": "<p>Gets operations for a specific resource (e.g., an instance or a static IP).</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOperationsForResourceRequest"
      },
      "name": "GetOperationsForResource",
      "output": {
        "shape": "GetOperationsForResourceResult"
      }
    },
    "GetRegions": {
      "documentation": "<p>Returns a list of all valid regions for Amazon Lightsail. Use the <code>include availability zones</code> parameter to also return the Availability Zones in a region.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRegionsRequest"
      },
      "name": "GetRegions",
      "output": {
        "shape": "GetRegionsResult"
      }
    },
    "GetRelationalDatabase": {
      "documentation": "<p>Returns information about a specific database in Amazon Lightsail.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseRequest"
      },
      "name": "GetRelationalDatabase",
      "output": {
        "shape": "GetRelationalDatabaseResult"
      }
    },
    "GetRelationalDatabaseBlueprints": {
      "documentation": "<p>Returns a list of available database blueprints in Amazon Lightsail. A blueprint describes the major engine version of a database.</p> <p>You can use a blueprint ID to create a new database that runs a specific database engine.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseBlueprintsRequest"
      },
      "name": "GetRelationalDatabaseBlueprints",
      "output": {
        "shape": "GetRelationalDatabaseBlueprintsResult"
      }
    },
    "GetRelationalDatabaseBundles": {
      "documentation": "<p>Returns the list of bundles that are available in Amazon Lightsail. A bundle describes the performance specifications for a database.</p> <p>You can use a bundle ID to create a new database with explicit performance specifications.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseBundlesRequest"
      },
      "name": "GetRelationalDatabaseBundles",
      "output": {
        "shape": "GetRelationalDatabaseBundlesResult"
      }
    },
    "GetRelationalDatabaseEvents": {
      "documentation": "<p>Returns a list of events for a specific database in Amazon Lightsail.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseEventsRequest"
      },
      "name": "GetRelationalDatabaseEvents",
      "output": {
        "shape": "GetRelationalDatabaseEventsResult"
      }
    },
    "GetRelationalDatabaseLogEvents": {
      "documentation": "<p>Returns a list of log events for a database in Amazon Lightsail.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseLogEventsRequest"
      },
      "name": "GetRelationalDatabaseLogEvents",
      "output": {
        "shape": "GetRelationalDatabaseLogEventsResult"
      }
    },
    "GetRelationalDatabaseLogStreams": {
      "documentation": "<p>Returns a list of available log streams for a specific database in Amazon Lightsail.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseLogStreamsRequest"
      },
      "name": "GetRelationalDatabaseLogStreams",
      "output": {
        "shape": "GetRelationalDatabaseLogStreamsResult"
      }
    },
    "GetRelationalDatabaseMasterUserPassword": {
      "documentation": "<p>Returns the current, previous, or pending versions of the master user password for a Lightsail database.</p> <p>The <code>GetRelationalDatabaseMasterUserPassword</code> operation supports tag-based access control via resource tags applied to the resource identified by relationalDatabaseName.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseMasterUserPasswordRequest"
      },
      "name": "GetRelationalDatabaseMasterUserPassword",
      "output": {
        "shape": "GetRelationalDatabaseMasterUserPasswordResult"
      }
    },
    "GetRelationalDatabaseMetricData": {
      "documentation": "<p>Returns the data points of the specified metric for a database in Amazon Lightsail.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseMetricDataRequest"
      },
      "name": "GetRelationalDatabaseMetricData",
      "output": {
        "shape": "GetRelationalDatabaseMetricDataResult"
      }
    },
    "GetRelationalDatabaseParameters": {
      "documentation": "<p>Returns all of the runtime parameters offered by the underlying database software, or engine, for a specific database in Amazon Lightsail.</p> <p>In addition to the parameter names and values, this operation returns other information about each parameter. This information includes whether changes require a reboot, whether the parameter is modifiable, the allowed values, and the data types.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseParametersRequest"
      },
      "name": "GetRelationalDatabaseParameters",
      "output": {
        "shape": "GetRelationalDatabaseParametersResult"
      }
    },
    "GetRelationalDatabaseSnapshot": {
      "documentation": "<p>Returns information about a specific database snapshot in Amazon Lightsail.</p>",
      "errors": [
        {
          "shape": "ServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "OperationFailureException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AccountSetupInProgressException"
        },
        {
          "shape": "UnauthenticatedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRelationalDatabaseSnapshotRequest"
      },
      "name": "GetRelationalDatabaseSnapshot",
      "output": {
[...]
