{
  "documentation": "<p>AWS IoT Events monitors your equipment or device fleets for failures or changes in operation, and triggers actions when such events occur. You can use AWS IoT Events API commands to create, read, update, and delete inputs and detector models, and to list their versions.</p>",
  "metadata": {
    "apiVersion": "2018-07-27",
    "endpointPrefix": "iotevents",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Events",
    "serviceId": "IoT Events",
    "signatureVersion": "v4",
    "signingName": "iotevents",
    "uid": "iotevents-2018-07-27"
  },
  "operations": {
    "CreateDetectorModel": {
      "documentation": "<p>Creates a detector model.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector-models"
      },
      "input": {
        "shape": "CreateDetectorModelRequest"
      },
      "name": "CreateDetectorModel",
      "output": {
        "shape": "CreateDetectorModelResponse"
      }
    },
    "CreateInput": {
      "documentation": "<p>Creates an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/inputs",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateInputRequest"
      },
      "name": "CreateInput",
      "output": {
        "shape": "CreateInputResponse"
      }
    },
    "DeleteDetectorModel": {
      "documentation": "<p>Deletes a detector model. Any active instances of the detector model are also deleted.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/detector-models/{detectorModelName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDetectorModelRequest"
      },
      "name": "DeleteDetectorModel",
      "output": {
        "shape": "DeleteDetectorModelResponse"
      }
    },
    "DeleteInput": {
      "documentation": "<p>Deletes an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/inputs/{inputName}"
      },
      "input": {
        "shape": "DeleteInputRequest"
      },
      "name": "DeleteInput",
      "output": {
        "shape": "DeleteInputResponse"
      }
    },
    "DescribeDetectorModel": {
      "documentation": "<p>Describes a detector model. If the <code>version</code> parameter is not specified, information about the latest version is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector-models/{detectorModelName}"
      },
      "input": {
        "shape": "DescribeDetectorModelRequest"
      },
      "name": "DescribeDetectorModel",
      "output": {
        "shape": "DescribeDetectorModelResponse"
      }
    },
    "DescribeInput": {
      "documentation": "<p>Describes an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/inputs/{inputName}"
      },
      "input": {
        "shape": "DescribeInputRequest"
      },
      "name": "DescribeInput",
      "output": {
        "shape": "DescribeInputResponse"
      }
    },
    "DescribeLoggingOptions": {
      "documentation": "<p>Retrieves the current settings of the AWS IoT Events logging options.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnsupportedOperationException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "DescribeLoggingOptionsRequest"
      },
      "name": "DescribeLoggingOptions",
      "output": {
        "shape": "DescribeLoggingOptionsResponse"
      }
    },
    "ListDetectorModelVersions": {
      "documentation": "<p>Lists all the versions of a detector model. Only the metadata associated with each detector model version is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector-models/{detectorModelName}/versions"
      },
      "input": {
        "shape": "ListDetectorModelVersionsRequest"
      },
      "name": "ListDetectorModelVersions",
      "output": {
        "shape": "ListDetectorModelVersionsResponse"
      }
    },
    "ListDetectorModels": {
      "documentation": "<p>Lists the detector models you have created. Only the metadata associated with each detector model is returned.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/detector-models"
      },
      "input": {
        "shape": "ListDetectorModelsRequest"
      },
      "name": "ListDetectorModels",
      "output": {
        "shape": "ListDetectorModelsResponse"
      }
    },
    "ListInputs": {
      "documentation": "<p>Lists the inputs you have created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/inputs"
      },
      "input": {
        "shape": "ListInputsRequest"
      },
      "name": "ListInputs",
      "output": {
        "shape": "ListInputsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags (metadata) you have assigned to the resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutLoggingOptions": {
      "documentation": "<p>Sets or updates the AWS IoT Events logging options.</p> <p>If you update the value of any <code>loggingOptions</code> field, it takes up to one minute for the change to take effect. If you change the policy attached to the role you specified in the <code>roleArn</code> field (for example, to correct an invalid policy), it takes up to five minutes for that change to take effect.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "UnsupportedOperationException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "PutLoggingOptionsRequest"
      },
      "name": "PutLoggingOptions"
    },
    "TagResource": {
      "documentation": "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the given tags (metadata) from the resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateDetectorModel": {
      "documentation": "<p>Updates a detector model. Detectors (instances) spawned by the previous version are deleted and then re-created as new inputs arrive.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/detector-models/{detectorModelName}"
      },
      "input": {
        "shape": "UpdateDetectorModelRequest"
      },
      "name": "UpdateDetectorModel",
      "output": {
        "shape": "UpdateDetectorModelResponse"
      }
    },
    "UpdateInput": {
      "documentation": "<p>Updates an input.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/inputs/{inputName}"
      },
      "input": {
        "shape": "UpdateInputRequest"
      },
      "name": "UpdateInput",
      "output": {
        "shape": "UpdateInputResponse"
      }
    }
  },
  "shapes": {
    "Action": {
      "documentation": "<p>An action to be performed when the <code>condition</code> is TRUE.</p>",
      "members": {
        "clearTimer": {
          "documentation": "<p>Information needed to clear the timer.</p>",
          "shape": "ClearTimerAction"
        },
        "firehose": {
          "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon Kinesis Data Firehose delivery stream.</p>",
          "shape": "FirehoseAction"
        },
        "iotEvents": {
          "documentation": "<p>Sends an AWS IoT Events input, passing in information about the detector model instance and the event that triggered the action.</p>",
          "shape": "IotEventsAction"
        },
        "iotTopicPublish": {
          "documentation": "<p>Publishes an MQTT message with the given topic to the AWS IoT message broker.</p>",
          "shape": "IotTopicPublishAction"
        },
        "lambda": {
          "documentation": "<p>Calls a Lambda function, passing in information about the detector model instance and the event that triggered the action.</p>",
          "shape": "LambdaAction"
        },
        "resetTimer": {
          "documentation": "<p>Information needed to reset the timer.</p>",
          "shape": "ResetTimerAction"
        },
        "setTimer": {
          "documentation": "<p>Information needed to set the timer.</p>",
          "shape": "SetTimerAction"
        },
        "setVariable": {
          "documentation": "<p>Sets a variable to a specified value.</p>",
          "shape": "SetVariableAction"
        },
        "sns": {
          "documentation": "<p>Sends an Amazon SNS message.</p>",
          "shape": "SNSTopicPublishAction"
        },
        "sqs": {
          "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon SQS queue.</p>",
          "shape": "SqsAction"
        }
      },
      "type": "structure"
    },
    "Actions": {
      "member": {
        "shape": "Action"
      },
      "type": "list"
    },
    "AmazonResourceName": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "Attribute": {
      "documentation": "<p>The attributes from the JSON payload that are made available by the input. Inputs are derived from messages sent to the AWS IoT Events system using <code>BatchPutMessage</code>. Each such message contains a JSON payload. Those attributes (and their paired values) specified here are available for use in the <code>condition</code> expressions used by detectors. </p>",
      "members": {
        "jsonPath": {
          "documentation": "<p>An expression that specifies an attribute-value pair in a JSON structure. Use this to specify an attribute from the JSON payload that is made available by the input. Inputs are derived from messages sent to AWS IoT Events (<code>BatchPutMessage</code>). Each such message contains a JSON payload. The attribute (and its paired value) specified here are available for use in the <code>condition</code> expressions used by detectors. </p> <p>Syntax: <code>&lt;field-name&gt;.&lt;field-name&gt;...</code> </p>",
          "shape": "AttributeJsonPath"
        }
      },
      "required": [
        "jsonPath"
      ],
      "type": "structure"
    },
    "AttributeJsonPath": {
      "max": 128,
      "min": 1,
      "pattern": "^((`[\\w\\- ]+`)|([\\w\\-]+))(\\.((`[\\w- ]+`)|([\\w\\-]+)))*$",
      "type": "string"
    },
    "Attributes": {
      "max": 200,
      "member": {
        "shape": "Attribute"
      },
      "min": 1,
      "type": "list"
    },
    "ClearTimerAction": {
      "documentation": "<p>Information needed to clear the timer.</p>",
      "members": {
        "timerName": {
          "documentation": "<p>The name of the timer to clear.</p>",
          "shape": "TimerName"
        }
      },
      "required": [
        "timerName"
      ],
      "type": "structure"
    },
    "Condition": {
      "max": 512,
      "type": "string"
    },
    "CreateDetectorModelRequest": {
      "members": {
        "detectorModelDefinition": {
          "documentation": "<p>Information that defines how the detectors operate.</p>",
          "shape": "DetectorModelDefinition"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "key": {
          "documentation": "<p>The input attribute key used to identify a device or system to create a detector (an instance of the detector model) and then to route each input received to the appropriate detector (instance). This parameter uses a JSON-path expression in the message payload of each input to specify the attribute-value pair that is used to identify the device associated with the input.</p>",
          "shape": "AttributeJsonPath"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>",
          "shape": "AmazonResourceName"
        },
        "tags": {
          "documentation": "<p>Metadata that can be used to manage the detector model.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "detectorModelName",
        "detectorModelDefinition",
        "roleArn"
      ],
      "type": "structure"
    },
    "CreateDetectorModelResponse": {
      "members": {
        "detectorModelConfiguration": {
          "documentation": "<p>Information about how the detector model is configured.</p>",
          "shape": "DetectorModelConfiguration"
        }
      },
      "type": "structure"
    },
    "CreateInputRequest": {
      "members": {
        "inputDefinition": {
          "documentation": "<p>The definition of the input.</p>",
          "shape": "InputDefinition"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name you want to give to the input.</p>",
          "shape": "InputName"
        },
        "tags": {
          "documentation": "<p>Metadata that can be used to manage the input.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "inputName",
        "inputDefinition"
      ],
      "type": "structure"
    },
    "CreateInputResponse": {
      "members": {
        "inputConfiguration": {
          "documentation": "<p>Information about the configuration of the input.</p>",
          "shape": "InputConfiguration"
        }
      },
      "type": "structure"
    },
    "DeleteDetectorModelRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model to be deleted.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DeleteDetectorModelResponse": {
      "members": {},
      "type": "structure"
    },
    "DeleteInputRequest": {
      "members": {
        "inputName": {
          "documentation": "<p>The name of the input to delete.</p>",
          "location": "uri",
          "locationName": "inputName",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "DeleteInputResponse": {
      "members": {},
      "type": "structure"
    },
    "DeliveryStreamName": {
      "type": "string"
    },
    "DescribeDetectorModelRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model.</p>",
          "location": "querystring",
          "locationName": "version",
          "shape": "DetectorModelVersion"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DescribeDetectorModelResponse": {
      "members": {
        "detectorModel": {
          "documentation": "<p>Information about the detector model.</p>",
          "shape": "DetectorModel"
        }
      },
      "type": "structure"
    },
    "DescribeInputRequest": {
      "members": {
        "inputName": {
          "documentation": "<p>The name of the input.</p>",
          "location": "uri",
          "locationName": "inputName",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "DescribeInputResponse": {
      "members": {
        "input": {
          "documentation": "<p>Information about the input.</p>",
          "shape": "Input"
        }
      },
      "type": "structure"
    },
    "DescribeLoggingOptionsRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeLoggingOptionsResponse": {
      "members": {
        "loggingOptions": {
          "documentation": "<p>The current settings of the AWS IoT Events logging options.</p>",
          "shape": "LoggingOptions"
        }
      },
      "type": "structure"
    },
    "DetectorDebugOption": {
      "documentation": "<p>The detector model and the specific detectors (instances) for which the logging level is given.</p>",
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "keyValue": {
          "documentation": "<p>The value of the input attribute key used to create the detector (the instance of the detector model).</p>",
          "shape": "KeyValue"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "DetectorDebugOptions": {
      "member": {
        "shape": "DetectorDebugOption"
      },
      "min": 1,
      "type": "list"
    },
    "DetectorModel": {
      "documentation": "<p>Information about the detector model.</p>",
      "members": {
        "detectorModelConfiguration": {
          "documentation": "<p>Information about how the detector is configured.</p>",
          "shape": "DetectorModelConfiguration"
        },
        "detectorModelDefinition": {
          "documentation": "<p>Information that defines how a detector operates.</p>",
          "shape": "DetectorModelDefinition"
        }
      },
      "type": "structure"
    },
    "DetectorModelArn": {
      "type": "string"
    },
    "DetectorModelConfiguration": {
      "documentation": "<p>Information about how the detector model is configured.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector model was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelArn": {
          "documentation": "<p>The ARN of the detector model.</p>",
          "shape": "DetectorModelArn"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The version of the detector model.</p>",
          "shape": "DetectorModelVersion"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "key": {
          "documentation": "<p>The input attribute key used to identify a device or system to create a detector (an instance of the detector model) and then to route each input received to the appropriate detector (instance). This parameter uses a JSON-path expression in the message payload of each input to specify the attribute-value pair that is used to identify the device associated with the input.</p>",
          "shape": "AttributeJsonPath"
        },
        "lastUpdateTime": {
          "documentation": "<p>The time the detector model was last updated.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>",
          "shape": "AmazonResourceName"
        },
        "status": {
          "documentation": "<p>The status of the detector model.</p>",
          "shape": "DetectorModelVersionStatus"
        }
      },
      "type": "structure"
    },
    "DetectorModelDefinition": {
      "documentation": "<p>Information that defines how a detector operates.</p>",
      "members": {
        "initialStateName": {
          "documentation": "<p>The state that is entered at the creation of each detector (instance).</p>",
          "shape": "StateName"
        },
        "states": {
          "documentation": "<p>Information about the states of the detector.</p>",
          "shape": "States"
        }
      },
      "required": [
        "states",
        "initialStateName"
      ],
      "type": "structure"
    },
    "DetectorModelDescription": {
      "max": 128,
      "type": "string"
    },
    "DetectorModelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "DetectorModelSummaries": {
      "member": {
        "shape": "DetectorModelSummary"
      },
      "type": "list"
    },
    "DetectorModelSummary": {
      "documentation": "<p>Information about the detector model.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector model was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        }
      },
      "type": "structure"
    },
    "DetectorModelVersion": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "DetectorModelVersionStatus": {
      "enum": [
        "ACTIVE",
        "ACTIVATING",
        "INACTIVE",
        "DEPRECATED",
        "DRAFT",
        "PAUSED",
        "FAILED"
      ],
      "type": "string"
    },
    "DetectorModelVersionSummaries": {
      "member": {
        "shape": "DetectorModelVersionSummary"
      },
      "type": "list"
    },
    "DetectorModelVersionSummary": {
      "documentation": "<p>Information about the detector model version.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the detector model version was created.</p>",
          "shape": "Timestamp"
        },
        "detectorModelArn": {
          "documentation": "<p>The ARN of the detector model version.</p>",
          "shape": "DetectorModelArn"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model.</p>",
          "shape": "DetectorModelName"
        },
        "detectorModelVersion": {
          "documentation": "<p>The ID of the detector model version.</p>",
          "shape": "DetectorModelVersion"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the detector model version was updated.</p>",
          "shape": "Timestamp"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants the detector model permission to perform its tasks.</p>",
          "shape": "AmazonResourceName"
        },
        "status": {
          "documentation": "<p>The status of the detector model version.</p>",
          "shape": "DetectorModelVersionStatus"
        }
      },
      "type": "structure"
    },
    "EvaluationMethod": {
      "enum": [
        "BATCH",
        "SERIAL"
      ],
      "type": "string"
    },
    "Event": {
      "documentation": "<p>Specifies the <code>actions</code> to be performed when the <code>condition</code> evaluates to TRUE.</p>",
      "members": {
        "actions": {
          "documentation": "<p>The actions to be performed.</p>",
          "shape": "Actions"
        },
        "condition": {
          "documentation": "<p>Optional. The Boolean expression that, when TRUE, causes the <code>actions</code> to be performed. If not present, the actions are performed (=TRUE). If the expression result is not a Boolean value, the actions are not performed (=FALSE).</p>",
          "shape": "Condition"
        },
        "eventName": {
          "documentation": "<p>The name of the event.</p>",
          "shape": "EventName"
        }
      },
      "required": [
        "eventName"
      ],
      "type": "structure"
    },
    "EventName": {
      "max": 128,
      "type": "string"
    },
    "Events": {
      "member": {
        "shape": "Event"
      },
      "type": "list"
    },
    "FirehoseAction": {
      "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon Kinesis Data Firehose delivery stream.</p>",
      "members": {
        "deliveryStreamName": {
          "documentation": "<p>The name of the Kinesis Data Firehose delivery stream where the data is written.</p>",
          "shape": "DeliveryStreamName"
        },
        "separator": {
          "documentation": "<p>A character separator that is used to separate records written to the Kinesis Data Firehose delivery stream. Valid values are: '\\n' (newline), '\\t' (tab), '\\r\\n' (Windows newline), ',' (comma).</p>",
          "shape": "FirehoseSeparator"
        }
      },
      "required": [
        "deliveryStreamName"
      ],
      "type": "structure"
    },
    "FirehoseSeparator": {
      "pattern": "([\\n\\t])|(\\r\\n)|(,)",
      "type": "string"
    },
    "Input": {
      "documentation": "<p>Information about the input.</p>",
      "members": {
        "inputConfiguration": {
          "documentation": "<p>Information about the configuration of an input.</p>",
          "shape": "InputConfiguration"
        },
        "inputDefinition": {
          "documentation": "<p>The definition of the input.</p>",
          "shape": "InputDefinition"
        }
      },
      "type": "structure"
    },
    "InputArn": {
      "type": "string"
    },
    "InputConfiguration": {
      "documentation": "<p>Information about the configuration of an input.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the input was created.</p>",
          "shape": "Timestamp"
        },
        "inputArn": {
          "documentation": "<p>The ARN of the input.</p>",
          "shape": "InputArn"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name of the input.</p>",
          "shape": "InputName"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the input was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the input.</p>",
          "shape": "InputStatus"
        }
      },
      "required": [
        "inputName",
        "inputArn",
        "creationTime",
        "lastUpdateTime",
        "status"
      ],
      "type": "structure"
    },
    "InputDefinition": {
      "documentation": "<p>The definition of the input.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The attributes from the JSON payload that are made available by the input. Inputs are derived from messages sent to the AWS IoT Events system using <code>BatchPutMessage</code>. Each such message contains a JSON payload, and those attributes (and their paired values) specified here are available for use in the <code>condition</code> expressions used by detectors that monitor this input. </p>",
          "shape": "Attributes"
        }
      },
      "required": [
        "attributes"
      ],
      "type": "structure"
    },
    "InputDescription": {
      "max": 128,
      "type": "string"
    },
    "InputName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "InputStatus": {
      "enum": [
        "CREATING",
        "UPDATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "InputSummaries": {
      "member": {
        "shape": "InputSummary"
      },
      "type": "list"
    },
    "InputSummary": {
      "documentation": "<p>Information about the input.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>The time the input was created.</p>",
          "shape": "Timestamp"
        },
        "inputArn": {
          "documentation": "<p>The ARN of the input.</p>",
          "shape": "InputArn"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name of the input.</p>",
          "shape": "InputName"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the input was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the input.</p>",
          "shape": "InputStatus"
        }
      },
      "type": "structure"
    },
    "InternalFailureException": {
      "documentation": "<p>An internal failure occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request was invalid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "IotEventsAction": {
      "documentation": "<p>Sends an AWS IoT Events input, passing in information about the detector model instance and the event that triggered the action.</p>",
      "members": {
        "inputName": {
          "documentation": "<p>The name of the AWS IoT Events input where the data is sent.</p>",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName"
      ],
      "type": "structure"
    },
    "IotTopicPublishAction": {
      "documentation": "<p>Information required to publish the MQTT message through the AWS IoT message broker.</p>",
      "members": {
        "mqttTopic": {
          "documentation": "<p>The MQTT topic of the message. You can use a string expression that includes variables (<code>$variable.&lt;variable-name&gt;</code>) and input values (<code>$input.&lt;input-name&gt;.&lt;path-to-datum&gt;</code>) as the topic string.</p>",
          "shape": "MQTTTopic"
        }
      },
      "required": [
        "mqttTopic"
      ],
      "type": "structure"
    },
    "KeyValue": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9\\-_:]+$",
      "type": "string"
    },
    "LambdaAction": {
      "documentation": "<p>Calls a Lambda function, passing in information about the detector model instance and the event that triggered the action.</p>",
      "members": {
        "functionArn": {
          "documentation": "<p>The ARN of the Lambda function that is executed.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "functionArn"
      ],
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>A limit was exceeded.</p>",
      "error": {
        "httpStatusCode": 410
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListDetectorModelVersionsRequest": {
      "members": {
        "detectorModelName": {
          "documentation": "<p>The name of the detector model whose versions are returned.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return at one time.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "required": [
        "detectorModelName"
      ],
      "type": "structure"
    },
    "ListDetectorModelVersionsResponse": {
      "members": {
        "detectorModelVersionSummaries": {
          "documentation": "<p>Summary information about the detector model versions.</p>",
          "shape": "DetectorModelVersionSummaries"
        },
        "nextToken": {
          "documentation": "<p>A token to retrieve the next set of results, or <code>null</code> if there are no additional results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDetectorModelsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return at one time.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDetectorModelsResponse": {
      "members": {
        "detectorModelSummaries": {
          "documentation": "<p>Summary information about the detector models.</p>",
          "shape": "DetectorModelSummaries"
        },
        "nextToken": {
          "documentation": "<p>A token to retrieve the next set of results, or <code>null</code> if there are no additional results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListInputsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return at one time.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListInputsResponse": {
      "members": {
        "inputSummaries": {
          "documentation": "<p>Summary information about the inputs.</p>",
          "shape": "InputSummaries"
        },
        "nextToken": {
          "documentation": "<p>A token to retrieve the next set of results, or <code>null</code> if there are no additional results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The list of tags assigned to the resource.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "LoggingEnabled": {
      "type": "boolean"
    },
    "LoggingLevel": {
      "enum": [
        "ERROR",
        "INFO",
        "DEBUG"
      ],
      "type": "string"
    },
    "LoggingOptions": {
      "documentation": "<p>The values of the AWS IoT Events logging options.</p>",
      "members": {
        "detectorDebugOptions": {
          "documentation": "<p>Information that identifies those detector models and their detectors (instances) for which the logging level is given.</p>",
          "shape": "DetectorDebugOptions"
        },
        "enabled": {
          "documentation": "<p>If TRUE, logging is enabled for AWS IoT Events.</p>",
          "shape": "LoggingEnabled"
        },
        "level": {
          "documentation": "<p>The logging level.</p>",
          "shape": "LoggingLevel"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform logging.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "roleArn",
        "level",
        "enabled"
      ],
      "type": "structure"
    },
    "MQTTTopic": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "MaxResults": {
      "max": 250,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "type": "string"
    },
    "OnEnterLifecycle": {
      "documentation": "<p>When entering this state, perform these <code>actions</code> if the <code>condition</code> is TRUE.</p>",
      "members": {
        "events": {
          "documentation": "<p>Specifies the actions that are performed when the state is entered and the <code>condition</code> is TRUE.</p>",
          "shape": "Events"
        }
      },
      "type": "structure"
    },
    "OnExitLifecycle": {
      "documentation": "<p>When exiting this state, perform these <code>actions</code> if the specified <code>condition</code> is TRUE.</p>",
      "members": {
        "events": {
          "documentation": "<p>Specifies the <code>actions</code> that are performed when the state is exited and the <code>condition</code> is TRUE.</p>",
          "shape": "Events"
        }
      },
      "type": "structure"
    },
    "OnInputLifecycle": {
      "documentation": "<p>Specifies the actions performed when the <code>condition</code> evaluates to TRUE.</p>",
      "members": {
        "events": {
          "documentation": "<p>Specifies the actions performed when the <code>condition</code> evaluates to TRUE.</p>",
          "shape": "Events"
        },
        "transitionEvents": {
          "documentation": "<p>Specifies the actions performed, and the next state entered, when a <code>condition</code> evaluates to TRUE.</p>",
          "shape": "TransitionEvents"
        }
      },
      "type": "structure"
    },
    "PutLoggingOptionsRequest": {
      "members": {
        "loggingOptions": {
          "documentation": "<p>The new values of the AWS IoT Events logging options.</p>",
          "shape": "LoggingOptions"
        }
      },
      "required": [
        "loggingOptions"
      ],
      "type": "structure"
    },
    "QueueUrl": {
      "type": "string"
    },
    "ResetTimerAction": {
      "documentation": "<p>Information required to reset the timer. The timer is reset to the previously evaluated result of the duration. </p>",
      "members": {
        "timerName": {
          "documentation": "<p>The name of the timer to reset.</p>",
          "shape": "TimerName"
        }
      },
      "required": [
        "timerName"
      ],
      "type": "structure"
    },
    "ResourceAlreadyExistsException": {
      "documentation": "<p>The resource already exists.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        },
        "resourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "shape": "resourceArn"
        },
        "resourceId": {
          "documentation": "<p>The ID of the resource.</p>",
          "shape": "resourceId"
        }
      },
      "type": "structure"
    },
    "ResourceInUseException": {
      "documentation": "<p>The resource is in use.</p>",
      "error": {
        "httpStatusCode": 409
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "SNSTopicPublishAction": {
      "documentation": "<p>Information required to publish the Amazon SNS message.</p>",
      "members": {
        "targetArn": {
          "documentation": "<p>The ARN of the Amazon SNS target where the message is sent.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "targetArn"
      ],
      "type": "structure"
    },
    "Seconds": {
      "max": 31622400,
      "min": 1,
      "type": "integer"
    },
    "ServiceUnavailableException": {
      "documentation": "<p>The service is currently unavailable.</p>",
      "error": {
        "httpStatusCode": 503
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "SetTimerAction": {
      "documentation": "<p>Information needed to set the timer.</p>",
      "members": {
        "durationExpression": {
          "documentation": "<p>The duration of the timer, in seconds. You can use a string expression that includes numbers, variables (<code>$variable.&lt;variable-name&gt;</code>), and input values (<code>$input.&lt;input-name&gt;.&lt;path-to-datum&gt;</code>) as the duration. The range of the duration is 1-31622400 seconds. To ensure accuracy, the minimum duration is 60 seconds. The evaluated result of the duration is rounded down to the nearest whole number. </p>",
          "shape": "VariableValue"
        },
        "seconds": {
          "deprecated": true,
          "deprecatedMessage": "seconds is deprecated. You can use durationExpression for SetTimerAction. The value of seconds can be used as a string expression for durationExpression.",
          "documentation": "<p>The number of seconds until the timer expires. The minimum value is 60 seconds to ensure accuracy.</p>",
          "shape": "Seconds"
        },
        "timerName": {
          "documentation": "<p>The name of the timer.</p>",
          "shape": "TimerName"
        }
      },
      "required": [
        "timerName"
      ],
      "type": "structure"
    },
    "SetVariableAction": {
      "documentation": "<p>Information about the variable and its new value.</p>",
      "members": {
        "value": {
          "documentation": "<p>The new value of the variable.</p>",
          "shape": "VariableValue"
        },
        "variableName": {
          "documentation": "<p>The name of the variable.</p>",
          "shape": "VariableName"
        }
      },
      "required": [
        "variableName",
        "value"
      ],
      "type": "structure"
    },
    "SqsAction": {
      "documentation": "<p>Sends information about the detector model instance and the event that triggered the action to an Amazon SQS queue.</p>",
      "members": {
        "queueUrl": {
          "documentation": "<p>The URL of the SQS queue where the data is written.</p>",
          "shape": "QueueUrl"
        },
        "useBase64": {
          "documentation": "<p>Set this to TRUE if you want the data to be base-64 encoded before it is written to the queue.</p>",
          "shape": "UseBase64"
        }
      },
      "required": [
        "queueUrl"
      ],
      "type": "structure"
    },
    "State": {
      "documentation": "<p>Information that defines a state of a detector.</p>",
      "members": {
        "onEnter": {
          "documentation": "<p>When entering this state, perform these <code>actions</code> if the <code>condition</code> is TRUE.</p>",
          "shape": "OnEnterLifecycle"
        },
        "onExit": {
          "documentation": "<p>When exiting this state, perform these <code>actions</code> if the specified <code>condition</code> is TRUE.</p>",
          "shape": "OnExitLifecycle"
        },
        "onInput": {
          "documentation": "<p>When an input is received and the <code>condition</code> is TRUE, perform the specified <code>actions</code>.</p>",
          "shape": "OnInputLifecycle"
        },
        "stateName": {
          "documentation": "<p>The name of the state.</p>",
          "shape": "StateName"
        }
      },
      "required": [
        "stateName"
      ],
      "type": "structure"
    },
    "StateName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "States": {
      "member": {
        "shape": "State"
      },
      "min": 1,
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>Metadata that can be used to manage the resource.</p>",
      "members": {
        "key": {
          "documentation": "<p>The tag's key.</p>",
          "shape": "TagKey"
        },
        "value": {
          "documentation": "<p>The tag's value.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "key",
        "value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeys": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "AmazonResourceName"
        },
        "tags": {
          "documentation": "<p>The new or modified tags for the resource.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "Tags": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "ThrottlingException": {
      "documentation": "<p>The request could not be completed due to throttling.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "TimerName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "Timestamp": {
      "type": "timestamp"
    },
    "TransitionEvent": {
      "documentation": "<p>Specifies the actions performed and the next state entered when a <code>condition</code> evaluates to TRUE.</p>",
      "members": {
        "actions": {
          "documentation": "<p>The actions to be performed.</p>",
          "shape": "Actions"
        },
        "condition": {
          "documentation": "<p>Required. A Boolean expression that when TRUE causes the actions to be performed and the <code>nextState</code> to be entered.</p>",
          "shape": "Condition"
        },
        "eventName": {
          "documentation": "<p>The name of the transition event.</p>",
          "shape": "EventName"
        },
        "nextState": {
          "documentation": "<p>The next state to enter.</p>",
          "shape": "StateName"
        }
      },
      "required": [
        "eventName",
        "condition",
        "nextState"
      ],
      "type": "structure"
    },
    "TransitionEvents": {
      "member": {
        "shape": "TransitionEvent"
      },
      "type": "list"
    },
    "UnsupportedOperationException": {
      "documentation": "<p>The requested operation is not supported.</p>",
      "error": {
        "httpStatusCode": 501
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "documentation": "<p>The message for the exception.</p>",
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "AmazonResourceName"
        },
        "tagKeys": {
          "documentation": "<p>A list of the keys of the tags to be removed from the resource.</p>",
          "location": "querystring",
          "locationName": "tagKeys",
          "shape": "TagKeys"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateDetectorModelRequest": {
      "members": {
        "detectorModelDefinition": {
          "documentation": "<p>Information that defines how a detector operates.</p>",
          "shape": "DetectorModelDefinition"
        },
        "detectorModelDescription": {
          "documentation": "<p>A brief description of the detector model.</p>",
          "shape": "DetectorModelDescription"
        },
        "detectorModelName": {
          "documentation": "<p>The name of the detector model that is updated.</p>",
          "location": "uri",
          "locationName": "detectorModelName",
          "shape": "DetectorModelName"
        },
        "evaluationMethod": {
          "documentation": "<p>Information about the order in which events are evaluated and how actions are executed. </p>",
          "shape": "EvaluationMethod"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Events to perform its operations.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "detectorModelName",
        "detectorModelDefinition",
        "roleArn"
      ],
      "type": "structure"
    },
    "UpdateDetectorModelResponse": {
      "members": {
        "detectorModelConfiguration": {
          "documentation": "<p>Information about how the detector model is configured.</p>",
          "shape": "DetectorModelConfiguration"
        }
      },
      "type": "structure"
    },
    "UpdateInputRequest": {
      "members": {
        "inputDefinition": {
          "documentation": "<p>The definition of the input.</p>",
          "shape": "InputDefinition"
        },
        "inputDescription": {
          "documentation": "<p>A brief description of the input.</p>",
          "shape": "InputDescription"
        },
        "inputName": {
          "documentation": "<p>The name of the input you want to update.</p>",
          "location": "uri",
          "locationName": "inputName",
          "shape": "InputName"
        }
      },
      "required": [
        "inputName",
        "inputDefinition"
      ],
      "type": "structure"
    },
    "UpdateInputResponse": {
      "members": {
        "inputConfiguration": {
          "documentation": "<p>Information about the configuration of the input.</p>",
          "shape": "InputConfiguration"
        }
      },
      "type": "structure"
    },
    "UseBase64": {
      "type": "boolean"
    },
    "VariableName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "VariableValue": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "errorMessage": {
      "type": "string"
    },
    "resourceArn": {
      "type": "string"
    },
    "resourceId": {
      "type": "string"
    }
  },
  "version": "2.0"
}
