{
  "documentation": "<fullname>Amazon Simple Notification Service</fullname> <p>Amazon Simple Notification Service (Amazon SNS) is a web service that enables you to build distributed web-enabled applications. Applications can use Amazon SNS to easily push real-time notification messages to interested subscribers over multiple delivery protocols. For more information about this product see <a href=\"http://aws.amazon.com/sns/\">https://aws.amazon.com/sns</a>. For detailed information about Amazon SNS features and their associated API calls, see the <a href=\"https://docs.aws.amazon.com/sns/latest/dg/\">Amazon SNS Developer Guide</a>. </p> <p>We also provide SDKs that enable you to access Amazon SNS from your preferred programming language. The SDKs contain functionality that automatically takes care of tasks such as: cryptographically signing your service requests, retrying requests, and handling error responses. For a list of available SDKs, go to <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>. </p>",
  "metadata": {
    "apiVersion": "2010-03-31",
    "endpointPrefix": "sns",
    "protocol": "query",
    "serviceAbbreviation": "Amazon SNS",
    "serviceFullName": "Amazon Simple Notification Service",
    "serviceId": "SNS",
    "signatureVersion": "v4",
    "uid": "sns-2010-03-31",
    "xmlNamespace": "http://sns.amazonaws.com/doc/2010-03-31/"
  },
  "operations": {
    "AddPermission": {
      "documentation": "<p>Adds a statement to a topic's access control policy, granting access for the specified AWS accounts to the specified actions.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddPermissionInput"
      },
      "name": "AddPermission"
    },
    "CheckIfPhoneNumberIsOptedOut": {
      "documentation": "<p>Accepts a phone number and indicates whether the phone holder has opted out of receiving SMS messages from your account. You cannot send SMS messages to a number that is opted out.</p> <p>To resume sending messages, you can opt in the number by using the <code>OptInPhoneNumber</code> action.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CheckIfPhoneNumberIsOptedOutInput"
      },
      "name": "CheckIfPhoneNumberIsOptedOut",
      "output": {
        "resultWrapper": "CheckIfPhoneNumberIsOptedOutResult",
        "shape": "CheckIfPhoneNumberIsOptedOutResponse"
      }
    },
    "ConfirmSubscription": {
      "documentation": "<p>Verifies an endpoint owner's intent to receive messages by validating the token sent to the endpoint by an earlier <code>Subscribe</code> action. If the token is valid, the action creates a new subscription and returns its Amazon Resource Name (ARN). This call requires an AWS signature only when the <code>AuthenticateOnUnsubscribe</code> flag is set to \"true\".</p>",
      "errors": [
        {
          "shape": "SubscriptionLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "FilterPolicyLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ConfirmSubscriptionInput"
      },
      "name": "ConfirmSubscription",
      "output": {
        "resultWrapper": "ConfirmSubscriptionResult",
        "shape": "ConfirmSubscriptionResponse"
      }
    },
    "CreatePlatformApplication": {
      "documentation": "<p>Creates a platform application object for one of the supported push notification services, such as APNS and FCM, to which devices and mobile apps may register. You must specify PlatformPrincipal and PlatformCredential attributes when using the <code>CreatePlatformApplication</code> action. The PlatformPrincipal is received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is \"SSL certificate\". For FCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\". The PlatformCredential is also received from the notification service. For WNS, PlatformPrincipal is \"Package Security Identifier\". For MPNS, PlatformPrincipal is \"TLS certificate\". For Baidu, PlatformPrincipal is \"API key\".</p> <p>For APNS/APNS_SANDBOX, PlatformCredential is \"private key\". For FCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\". For WNS, PlatformCredential is \"secret key\". For MPNS, PlatformCredential is \"private key\". For Baidu, PlatformCredential is \"secret key\". The PlatformApplicationArn that is returned when using <code>CreatePlatformApplication</code> is then used as an attribute for the <code>CreatePlatformEndpoint</code> action.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePlatformApplicationInput"
      },
      "name": "CreatePlatformApplication",
      "output": {
        "resultWrapper": "CreatePlatformApplicationResult",
        "shape": "CreatePlatformApplicationResponse"
      }
    },
    "CreatePlatformEndpoint": {
      "documentation": "<p>Creates an endpoint for a device and mobile app on one of the supported push notification services, such as FCM and APNS. <code>CreatePlatformEndpoint</code> requires the PlatformApplicationArn that is returned from <code>CreatePlatformApplication</code>. The EndpointArn that is returned when using <code>CreatePlatformEndpoint</code> can then be used by the <code>Publish</code> action to send a message to a mobile app or by the <code>Subscribe</code> action for subscription to a topic. The <code>CreatePlatformEndpoint</code> action is idempotent, so if the requester already owns an endpoint with the same device token and attributes, that endpoint's ARN is returned without creating a new endpoint. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When using <code>CreatePlatformEndpoint</code> with Baidu, two attributes must be provided: ChannelId and UserId. The token field must also contain the ChannelId. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePushBaiduEndpoint.html\">Creating an Amazon SNS Endpoint for Baidu</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePlatformEndpointInput"
      },
      "name": "CreatePlatformEndpoint",
      "output": {
        "resultWrapper": "CreatePlatformEndpointResult",
        "shape": "CreateEndpointResponse"
      }
    },
    "CreateTopic": {
      "documentation": "<p>Creates a topic to which notifications can be published. Users can create at most 100,000 topics. For more information, see <a href=\"http://aws.amazon.com/sns/\">https://aws.amazon.com/sns</a>. This action is idempotent, so if the requester already owns a topic with the specified name, that topic's ARN is returned without creating a new topic.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "TopicLimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTopicInput"
      },
      "name": "CreateTopic",
      "output": {
        "resultWrapper": "CreateTopicResult",
        "shape": "CreateTopicResponse"
      }
    },
    "DeleteEndpoint": {
      "documentation": "<p>Deletes the endpoint for a device and mobile app from Amazon SNS. This action is idempotent. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>When you delete an endpoint that is also subscribed to a topic, then you must also unsubscribe the endpoint from the topic.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointInput"
      },
      "name": "DeleteEndpoint"
    },
    "DeletePlatformApplication": {
      "documentation": "<p>Deletes a platform application object for one of the supported push notification services, such as APNS and FCM. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePlatformApplicationInput"
      },
      "name": "DeletePlatformApplication"
    },
    "DeleteTopic": {
      "documentation": "<p>Deletes a topic and all its subscriptions. Deleting a topic might prevent some messages previously sent to the topic from being delivered to subscribers. This action is idempotent, so deleting a topic that does not exist does not result in an error.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTopicInput"
      },
      "name": "DeleteTopic"
    },
    "GetEndpointAttributes": {
      "documentation": "<p>Retrieves the endpoint attributes for a device on one of the supported push notification services, such as FCM and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetEndpointAttributesInput"
      },
      "name": "GetEndpointAttributes",
      "output": {
        "resultWrapper": "GetEndpointAttributesResult",
        "shape": "GetEndpointAttributesResponse"
      }
    },
    "GetPlatformApplicationAttributes": {
      "documentation": "<p>Retrieves the attributes of the platform application object for the supported push notification services, such as APNS and FCM. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPlatformApplicationAttributesInput"
      },
      "name": "GetPlatformApplicationAttributes",
      "output": {
        "resultWrapper": "GetPlatformApplicationAttributesResult",
        "shape": "GetPlatformApplicationAttributesResponse"
      }
    },
    "GetSMSAttributes": {
      "documentation": "<p>Returns the settings for sending SMS messages from your account.</p> <p>These settings are set with the <code>SetSMSAttributes</code> action.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSMSAttributesInput"
      },
      "name": "GetSMSAttributes",
      "output": {
        "resultWrapper": "GetSMSAttributesResult",
        "shape": "GetSMSAttributesResponse"
      }
    },
    "GetSubscriptionAttributes": {
      "documentation": "<p>Returns all of the properties of a subscription.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSubscriptionAttributesInput"
      },
      "name": "GetSubscriptionAttributes",
      "output": {
        "resultWrapper": "GetSubscriptionAttributesResult",
        "shape": "GetSubscriptionAttributesResponse"
      }
    },
    "GetTopicAttributes": {
      "documentation": "<p>Returns all of the properties of a topic. Topic properties returned might differ based on the authorization of the user.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTopicAttributesInput"
      },
      "name": "GetTopicAttributes",
      "output": {
        "resultWrapper": "GetTopicAttributesResult",
        "shape": "GetTopicAttributesResponse"
      }
    },
    "ListEndpointsByPlatformApplication": {
      "documentation": "<p>Lists the endpoints and endpoint attributes for devices in a supported push notification service, such as FCM and APNS. The results for <code>ListEndpointsByPlatformApplication</code> are paginated and return a limited list of endpoints, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListEndpointsByPlatformApplication</code> again using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEndpointsByPlatformApplicationInput"
      },
      "name": "ListEndpointsByPlatformApplication",
      "output": {
        "resultWrapper": "ListEndpointsByPlatformApplicationResult",
        "shape": "ListEndpointsByPlatformApplicationResponse"
      }
    },
    "ListPhoneNumbersOptedOut": {
      "documentation": "<p>Returns a list of phone numbers that are opted out, meaning you cannot send SMS messages to them.</p> <p>The results for <code>ListPhoneNumbersOptedOut</code> are paginated, and each page returns up to 100 phone numbers. If additional phone numbers are available after the first page of results, then a <code>NextToken</code> string will be returned. To receive the next page, you call <code>ListPhoneNumbersOptedOut</code> again using the <code>NextToken</code> string received from the previous call. When there are no more records to return, <code>NextToken</code> will be null.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPhoneNumbersOptedOutInput"
      },
      "name": "ListPhoneNumbersOptedOut",
      "output": {
        "resultWrapper": "ListPhoneNumbersOptedOutResult",
        "shape": "ListPhoneNumbersOptedOutResponse"
      }
    },
    "ListPlatformApplications": {
      "documentation": "<p>Lists the platform application objects for the supported push notification services, such as APNS and FCM. The results for <code>ListPlatformApplications</code> are paginated and return a limited list of applications, up to 100. If additional records are available after the first page results, then a NextToken string will be returned. To receive the next page, you call <code>ListPlatformApplications</code> using the NextToken string received from the previous call. When there are no more records to return, NextToken will be null. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p> <p>This action is throttled at 15 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPlatformApplicationsInput"
      },
      "name": "ListPlatformApplications",
      "output": {
        "resultWrapper": "ListPlatformApplicationsResult",
        "shape": "ListPlatformApplicationsResponse"
      }
    },
    "ListSubscriptions": {
      "documentation": "<p>Returns a list of the requester's subscriptions. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptions</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscriptionsInput"
      },
      "name": "ListSubscriptions",
      "output": {
        "resultWrapper": "ListSubscriptionsResult",
        "shape": "ListSubscriptionsResponse"
      }
    },
    "ListSubscriptionsByTopic": {
      "documentation": "<p>Returns a list of the subscriptions to a specific topic. Each call returns a limited list of subscriptions, up to 100. If there are more subscriptions, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListSubscriptionsByTopic</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSubscriptionsByTopicInput"
      },
      "name": "ListSubscriptionsByTopic",
      "output": {
        "resultWrapper": "ListSubscriptionsByTopicResult",
        "shape": "ListSubscriptionsByTopicResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>List all tags added to the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon Simple Notification Service Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTopics": {
      "documentation": "<p>Returns a list of the requester's topics. Each call returns a limited list of topics, up to 100. If there are more topics, a <code>NextToken</code> is also returned. Use the <code>NextToken</code> parameter in a new <code>ListTopics</code> call to get further results.</p> <p>This action is throttled at 30 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTopicsInput"
      },
      "name": "ListTopics",
      "output": {
        "resultWrapper": "ListTopicsResult",
        "shape": "ListTopicsResponse"
      }
    },
    "OptInPhoneNumber": {
      "documentation": "<p>Use this request to opt in a phone number that is opted out, which enables you to resume sending SMS messages to the number.</p> <p>You can opt in a phone number only once every 30 days.</p>",
      "errors": [
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidParameterException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "OptInPhoneNumberInput"
      },
      "name": "OptInPhoneNumber",
      "output": {
        "resultWrapper": "OptInPhoneNumberResult",
        "shape": "OptInPhoneNumberResponse"
      }
    },
    "Publish": {
      "documentation": "<p>Sends a message to an Amazon SNS topic or sends a text message (SMS message) directly to a phone number. </p> <p>If you send a message to a topic, Amazon SNS delivers the message to each endpoint that is subscribed to the topic. The format of the message depends on the notification protocol for each subscribed endpoint.</p> <p>When a <code>messageId</code> is returned, the message has been saved and Amazon SNS will attempt to deliver it shortly.</p> <p>To use the <code>Publish</code> action for sending a message to a mobile endpoint, such as an app on a Kindle device or mobile phone, you must specify the EndpointArn for the TargetArn parameter. The EndpointArn is returned when making a call with the <code>CreatePlatformEndpoint</code> action. </p> <p>For more information about formatting messages, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/mobile-push-send-custommessage.html\">Send Custom Platform-Specific Payloads in Messages to Mobile Devices</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "EndpointDisabledException"
        },
        {
          "shape": "PlatformApplicationDisabledException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "KMSDisabledException"
        },
        {
          "shape": "KMSInvalidStateException"
        },
        {
          "shape": "KMSNotFoundException"
        },
        {
          "shape": "KMSOptInRequired"
        },
        {
          "shape": "KMSThrottlingException"
        },
        {
          "shape": "KMSAccessDeniedException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PublishInput"
      },
      "name": "Publish",
      "output": {
        "resultWrapper": "PublishResult",
        "shape": "PublishResponse"
      }
    },
    "RemovePermission": {
      "documentation": "<p>Removes a statement from a topic's access control policy.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemovePermissionInput"
      },
      "name": "RemovePermission"
    },
    "SetEndpointAttributes": {
      "documentation": "<p>Sets the attributes for an endpoint for a device on one of the supported push notification services, such as FCM and APNS. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetEndpointAttributesInput"
      },
      "name": "SetEndpointAttributes"
    },
    "SetPlatformApplicationAttributes": {
      "documentation": "<p>Sets the attributes of the platform application object for the supported push notification services, such as APNS and FCM. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMobilePush.html\">Using Amazon SNS Mobile Push Notifications</a>. For information on configuring attributes for message delivery status, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-msg-status.html\">Using Amazon SNS Application Attributes for Message Delivery Status</a>. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetPlatformApplicationAttributesInput"
      },
      "name": "SetPlatformApplicationAttributes"
    },
    "SetSMSAttributes": {
      "documentation": "<p>Use this request to set the default settings for sending SMS messages and receiving daily SMS usage reports.</p> <p>You can override some of these settings for a single message when you use the <code>Publish</code> action with the <code>MessageAttributes.entry.N</code> parameter. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sms_publish-to-phone.html\">Sending an SMS Message</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ThrottledException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSMSAttributesInput"
      },
      "name": "SetSMSAttributes",
      "output": {
        "resultWrapper": "SetSMSAttributesResult",
        "shape": "SetSMSAttributesResponse"
      }
    },
    "SetSubscriptionAttributes": {
      "documentation": "<p>Allows a subscription owner to set an attribute of the subscription to a new value.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "FilterPolicyLimitExceededException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSubscriptionAttributesInput"
      },
      "name": "SetSubscriptionAttributes"
    },
    "SetTopicAttributes": {
      "documentation": "<p>Allows a topic owner to set an attribute of the topic to a new value.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTopicAttributesInput"
      },
      "name": "SetTopicAttributes"
    },
    "Subscribe": {
      "documentation": "<p>Prepares to subscribe an endpoint by sending the endpoint a confirmation message. To actually create a subscription, the endpoint owner must call the <code>ConfirmSubscription</code> action with the token from the confirmation message. Confirmation tokens are valid for three days.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "SubscriptionLimitExceededException"
        },
        {
          "shape": "FilterPolicyLimitExceededException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SubscribeInput"
      },
      "name": "Subscribe",
      "output": {
        "resultWrapper": "SubscribeResult",
        "shape": "SubscribeResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Add tags to the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon SNS Developer Guide</i>.</p> <p>When you use topic tags, keep the following guidelines in mind:</p> <ul> <li> <p>Adding more than 50 tags to a topic isn't recommended.</p> </li> <li> <p>Tags don't have any semantic meaning. Amazon SNS interprets tags as character strings.</p> </li> <li> <p>Tags are case-sensitive.</p> </li> <li> <p>A new tag with a key identical to that of an existing tag overwrites the existing tag.</p> </li> <li> <p>Tagging actions are limited to 10 TPS per AWS account, per AWS region. If your application requires a higher throughput, file a <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=technical\">technical support request</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "resultWrapper": "TagResourceResult",
        "shape": "TagResourceResponse"
      }
    },
    "Unsubscribe": {
      "documentation": "<p>Deletes a subscription. If the subscription requires authentication for deletion, only the owner of the subscription or the topic's owner can unsubscribe, and an AWS signature is required. If the <code>Unsubscribe</code> call does not require authentication and the requester is not the subscription owner, a final cancellation message is delivered to the endpoint, so that the endpoint owner can easily resubscribe to the topic if the <code>Unsubscribe</code> request was unintended.</p> <p>This action is throttled at 100 transactions per second (TPS).</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalErrorException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "NotFoundException"
        },
        {
          "shape": "InvalidSecurityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UnsubscribeInput"
      },
      "name": "Unsubscribe"
    },
    "UntagResource": {
      "documentation": "<p>Remove tags from the specified Amazon SNS topic. For an overview, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-tags.html\">Amazon SNS Tags</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "TagLimitExceededException"
        },
        {
          "shape": "StaleTagException"
        },
        {
          "shape": "TagPolicyException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "AuthorizationErrorException"
        },
        {
          "shape": "ConcurrentAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "resultWrapper": "UntagResourceResult",
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "ActionsList": {
      "member": {
        "shape": "action"
      },
      "type": "list"
    },
    "AddPermissionInput": {
      "members": {
        "AWSAccountId": {
          "documentation": "<p>The AWS account IDs of the users (principals) who will be given access to the specified actions. The users must have AWS accounts, but do not need to be signed up for this service.</p>",
          "shape": "DelegatesList"
        },
        "ActionName": {
          "documentation": "<p>The action you want to allow for the specified principal(s).</p> <p>Valid values: Any Amazon SNS action name, for example <code>Publish</code>.</p>",
          "shape": "ActionsList"
        },
        "Label": {
          "documentation": "<p>A unique identifier for the new policy statement.</p>",
          "shape": "label"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic whose access control policy you wish to modify.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "Label",
        "AWSAccountId",
        "ActionName"
      ],
      "type": "structure"
    },
    "AmazonResourceName": {
      "max": 1011,
      "min": 1,
      "type": "string"
    },
    "AuthorizationErrorException": {
      "documentation": "<p>Indicates that the user has been denied access to the requested resource.</p>",
      "error": {
        "code": "AuthorizationError",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "Binary": {
      "type": "blob"
    },
    "CheckIfPhoneNumberIsOptedOutInput": {
      "documentation": "<p>The input for the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>",
      "members": {
        "phoneNumber": {
          "documentation": "<p>The phone number for which you want to check the opt out status.</p>",
          "shape": "PhoneNumber"
        }
      },
      "required": [
        "phoneNumber"
      ],
      "type": "structure"
    },
    "CheckIfPhoneNumberIsOptedOutResponse": {
      "documentation": "<p>The response from the <code>CheckIfPhoneNumberIsOptedOut</code> action.</p>",
      "members": {
        "isOptedOut": {
          "documentation": "<p>Indicates whether the phone number is opted out:</p> <ul> <li> <p> <code>true</code> \u2013 The phone number is opted out, meaning you cannot publish SMS messages to it.</p> </li> <li> <p> <code>false</code> \u2013 The phone number is opted in, meaning you can publish SMS messages to it.</p> </li> </ul>",
          "shape": "boolean"
        }
      },
      "type": "structure"
    },
    "ConcurrentAccessException": {
      "documentation": "<p>Can't perform multiple operations on a tag simultaneously. Perform the operations sequentially.</p>",
      "error": {
        "code": "ConcurrentAccess",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ConfirmSubscriptionInput": {
      "documentation": "<p>Input for ConfirmSubscription action.</p>",
      "members": {
        "AuthenticateOnUnsubscribe": {
          "documentation": "<p>Disallows unauthenticated unsubscribes of the subscription. If the value of this parameter is <code>true</code> and the request has an AWS signature, then only the topic owner and the subscription owner can unsubscribe the endpoint. The unsubscribe action requires AWS authentication. </p>",
          "shape": "authenticateOnUnsubscribe"
        },
        "Token": {
          "documentation": "<p>Short-lived token sent to an endpoint during the <code>Subscribe</code> action.</p>",
          "shape": "token"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic for which you wish to confirm a subscription.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "Token"
      ],
      "type": "structure"
    },
    "ConfirmSubscriptionResponse": {
      "documentation": "<p>Response for ConfirmSubscriptions action.</p>",
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The ARN of the created subscription.</p>",
          "shape": "subscriptionARN"
        }
      },
      "type": "structure"
    },
    "CreateEndpointResponse": {
      "documentation": "<p>Response from CreateEndpoint action.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>EndpointArn returned from CreateEndpoint action.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreatePlatformApplicationInput": {
      "documentation": "<p>Input for CreatePlatformApplication action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetPlatformApplicationAttributes.html\">SetPlatformApplicationAttributes</a> </p>",
          "shape": "MapStringToString"
        },
        "Name": {
          "documentation": "<p>Application names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, hyphens, and periods, and must be between 1 and 256 characters long.</p>",
          "shape": "String"
        },
        "Platform": {
          "documentation": "<p>The following platforms are supported: ADM (Amazon Device Messaging), APNS (Apple Push Notification Service), APNS_SANDBOX, and FCM (Firebase Cloud Messaging).</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "Platform",
        "Attributes"
      ],
      "type": "structure"
    },
    "CreatePlatformApplicationResponse": {
      "documentation": "<p>Response from CreatePlatformApplication action.</p>",
      "members": {
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn is returned.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreatePlatformEndpointInput": {
      "documentation": "<p>Input for CreatePlatformEndpoint action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>For a list of attributes, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetEndpointAttributes.html\">SetEndpointAttributes</a>.</p>",
          "shape": "MapStringToString"
        },
        "CustomUserData": {
          "documentation": "<p>Arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p>",
          "shape": "String"
        },
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn returned from CreatePlatformApplication is used to create a an endpoint.</p>",
          "shape": "String"
        },
        "Token": {
          "documentation": "<p>Unique identifier created by the notification service for an app on a device. The specific name for Token will vary, depending on which notification service is being used. For example, when using APNS as the notification service, you need the device token. Alternatively, when using FCM or ADM, the device token equivalent is called the registration ID.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn",
        "Token"
      ],
      "type": "structure"
    },
    "CreateTopicInput": {
      "documentation": "<p>Input for CreateTopic action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>CreateTopic</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>DisplayName</code> \u2013 The display name to use for a topic with SMS subscriptions.</p> </li> <li> <p> <code>Policy</code> \u2013 The policy that defines who can access your topic. By default, only the topic owner can publish or subscribe to the topic.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side-encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>AWS Key Management Service API Reference</i>. </p> </li> </ul>",
          "shape": "TopicAttributesMap"
        },
        "Name": {
          "documentation": "<p>The name of the topic you want to create.</p> <p>Constraints: Topic names must be made up of only uppercase and lowercase ASCII letters, numbers, underscores, and hyphens, and must be between 1 and 256 characters long.</p>",
          "shape": "topicName"
        },
        "Tags": {
          "documentation": "<p>The list of tags to add to a new topic.</p> <note> <p>To be able to tag a topic on creation, you must have the <code>sns:CreateTopic</code> and <code>sns:TagResource</code> permissions.</p> </note>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateTopicResponse": {
      "documentation": "<p>Response from CreateTopic action.</p>",
      "members": {
        "TopicArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) assigned to the created topic.</p>",
          "shape": "topicARN"
        }
      },
      "type": "structure"
    },
    "DelegatesList": {
      "member": {
        "shape": "delegate"
      },
      "type": "list"
    },
    "DeleteEndpointInput": {
      "documentation": "<p>Input for DeleteEndpoint action.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>EndpointArn of endpoint to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DeletePlatformApplicationInput": {
      "documentation": "<p>Input for DeletePlatformApplication action.</p>",
      "members": {
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn of platform application object to delete.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn"
      ],
      "type": "structure"
    },
    "DeleteTopicInput": {
      "members": {
        "TopicArn": {
          "documentation": "<p>The ARN of the topic you want to delete.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn"
      ],
      "type": "structure"
    },
    "Endpoint": {
      "documentation": "<p>Endpoint for mobile app and device.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes for endpoint.</p>",
          "shape": "MapStringToString"
        },
        "EndpointArn": {
          "documentation": "<p>EndpointArn for mobile app and device.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EndpointDisabledException": {
      "documentation": "<p>Exception error indicating endpoint disabled.</p>",
      "error": {
        "code": "EndpointDisabled",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Message for endpoint disabled.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "FilterPolicyLimitExceededException": {
      "documentation": "<p>Indicates that the number of filter polices in your AWS account exceeds the limit. To add more filter polices, submit an SNS Limit Increase case in the AWS Support Center.</p>",
      "error": {
        "code": "FilterPolicyLimitExceeded",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "GetEndpointAttributesInput": {
      "documentation": "<p>Input for GetEndpointAttributes action.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>EndpointArn for GetEndpointAttributes input.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "GetEndpointAttributesResponse": {
      "documentation": "<p>Response from GetEndpointAttributes of the EndpointArn.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes include the following:</p> <ul> <li> <p> <code>CustomUserData</code> \u2013 arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> \u2013 flag that enables/disables delivery to the endpoint. Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. Users can set it back to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> \u2013 device token, also referred to as a registration id, for an app and mobile device. This is returned from the notification service when an app and mobile device are registered with the notification service.</p> <note> <p>The device token for the iOS platform is returned in lowercase.</p> </note> </li> </ul>",
          "shape": "MapStringToString"
        }
      },
      "type": "structure"
    },
    "GetPlatformApplicationAttributesInput": {
      "documentation": "<p>Input for GetPlatformApplicationAttributes action.</p>",
      "members": {
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn for GetPlatformApplicationAttributesInput.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn"
      ],
      "type": "structure"
    },
    "GetPlatformApplicationAttributesResponse": {
      "documentation": "<p>Response for GetPlatformApplicationAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes include the following:</p> <ul> <li> <p> <code>EventEndpointCreated</code> \u2013 Topic ARN to which EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code> \u2013 Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code> \u2013 Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code> \u2013 Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</p> </li> </ul>",
          "shape": "MapStringToString"
        }
      },
      "type": "structure"
    },
    "GetSMSAttributesInput": {
      "documentation": "<p>The input for the <code>GetSMSAttributes</code> request.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>A list of the individual attribute names, such as <code>MonthlySpendLimit</code>, for which you want values.</p> <p>For all attribute names, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_SetSMSAttributes.html\">SetSMSAttributes</a>.</p> <p>If you don't use this parameter, Amazon SNS returns all SMS attributes.</p>",
          "shape": "ListString"
        }
      },
      "type": "structure"
    },
    "GetSMSAttributesResponse": {
      "documentation": "<p>The response from the <code>GetSMSAttributes</code> request.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The SMS attribute names and their values.</p>",
          "shape": "MapStringToString"
        }
      },
      "type": "structure"
    },
    "GetSubscriptionAttributesInput": {
      "documentation": "<p>Input for GetSubscriptionAttributes.</p>",
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The ARN of the subscription whose properties you want to get.</p>",
          "shape": "subscriptionARN"
        }
      },
      "required": [
        "SubscriptionArn"
      ],
      "type": "structure"
    },
    "GetSubscriptionAttributesResponse": {
      "documentation": "<p>Response for GetSubscriptionAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of the subscription's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>ConfirmationWasAuthenticated</code> \u2013 <code>true</code> if the subscription confirmation request was authenticated.</p> </li> <li> <p> <code>DeliveryPolicy</code> \u2013 The JSON serialization of the subscription's delivery policy.</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> \u2013 The JSON serialization of the effective delivery policy that takes into account the topic delivery policy and account system defaults.</p> </li> <li> <p> <code>FilterPolicy</code> \u2013 The filter policy JSON that is assigned to the subscription.</p> </li> <li> <p> <code>Owner</code> \u2013 The AWS account ID of the subscription's owner.</p> </li> <li> <p> <code>PendingConfirmation</code> \u2013 <code>true</code> if the subscription hasn't been confirmed. To confirm a pending subscription, call the <code>ConfirmSubscription</code> action with a confirmation token.</p> </li> <li> <p> <code>RawMessageDelivery</code> \u2013 <code>true</code> if raw message delivery is enabled for the subscription. Raw messages are free of JSON formatting and can be sent to HTTP/S and Amazon SQS endpoints.</p> </li> <li> <p> <code>RedrivePolicy</code> \u2013 When specified, sends undeliverable messages to the specified Amazon SQS dead-letter queue. Messages that can't be delivered due to client errors (for example, when the subscribed endpoint is unreachable) or server errors (for example, when the service that powers the subscribed endpoint becomes unavailable) are held in the dead-letter queue for further analysis or reprocessing.</p> </li> <li> <p> <code>SubscriptionArn</code> \u2013 The subscription's ARN.</p> </li> <li> <p> <code>TopicArn</code> \u2013 The topic ARN that the subscription is associated with.</p> </li> </ul>",
          "shape": "SubscriptionAttributesMap"
        }
      },
      "type": "structure"
    },
    "GetTopicAttributesInput": {
      "documentation": "<p>Input for GetTopicAttributes action.</p>",
      "members": {
        "TopicArn": {
          "documentation": "<p>The ARN of the topic whose properties you want to get.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn"
      ],
      "type": "structure"
    },
    "GetTopicAttributesResponse": {
      "documentation": "<p>Response for GetTopicAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of the topic's attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The JSON serialization of the topic's delivery policy.</p> </li> <li> <p> <code>DisplayName</code> \u2013 The human-readable name used in the <code>From</code> field for notifications to <code>email</code> and <code>email-json</code> endpoints.</p> </li> <li> <p> <code>Owner</code> \u2013 The AWS account ID of the topic's owner.</p> </li> <li> <p> <code>Policy</code> \u2013 The JSON serialization of the topic's access control policy.</p> </li> <li> <p> <code>SubscriptionsConfirmed</code> \u2013 The number of confirmed subscriptions for the topic.</p> </li> <li> <p> <code>SubscriptionsDeleted</code> \u2013 The number of deleted subscriptions for the topic.</p> </li> <li> <p> <code>SubscriptionsPending</code> \u2013 The number of subscriptions pending confirmation for the topic.</p> </li> <li> <p> <code>TopicArn</code> \u2013 The topic's ARN.</p> </li> <li> <p> <code>EffectiveDeliveryPolicy</code> \u2013 Yhe JSON serialization of the effective delivery policy, taking system defaults into account.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side-encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>AWS Key Management Service API Reference</i>.</p> </li> </ul>",
          "shape": "TopicAttributesMap"
        }
      },
      "type": "structure"
    },
    "InternalErrorException": {
      "documentation": "<p>Indicates an internal service error.</p>",
      "error": {
        "code": "InternalError",
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
      "error": {
        "code": "InvalidParameter",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidParameterValueException": {
      "documentation": "<p>Indicates that a request parameter does not comply with the associated constraints.</p>",
      "error": {
        "code": "ParameterValueInvalid",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>The parameter value is invalid.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "InvalidSecurityException": {
      "documentation": "<p>The credential signature isn't valid. You must use an HTTPS endpoint and sign your request using Signature Version 4.</p>",
      "error": {
        "code": "InvalidSecurity",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSAccessDeniedException": {
      "documentation": "<p>The ciphertext references a key that doesn't exist or that you don't have access to.</p>",
      "error": {
        "code": "KMSAccessDenied",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSDisabledException": {
      "documentation": "<p>The request was rejected because the specified customer master key (CMK) isn't enabled.</p>",
      "error": {
        "code": "KMSDisabled",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSInvalidStateException": {
      "documentation": "<p>The request was rejected because the state of the specified resource isn't valid for this request. For more information, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>",
      "error": {
        "code": "KMSInvalidState",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSNotFoundException": {
      "documentation": "<p>The request was rejected because the specified entity or resource can't be found.</p>",
      "error": {
        "code": "KMSNotFound",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSOptInRequired": {
      "documentation": "<p>The AWS access key ID needs a subscription for the service.</p>",
      "error": {
        "code": "KMSOptInRequired",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "KMSThrottlingException": {
      "documentation": "<p>The request was denied due to request throttling. For more information about throttling, see <a href=\"https://docs.aws.amazon.com/kms/latest/developerguide/limits.html#requests-per-second\">Limits</a> in the <i>AWS Key Management Service Developer Guide.</i> </p>",
      "error": {
        "code": "KMSThrottling",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ListEndpointsByPlatformApplicationInput": {
      "documentation": "<p>Input for ListEndpointsByPlatformApplication action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>NextToken string is used when calling ListEndpointsByPlatformApplication action to retrieve additional records that are available after the first page results.</p>",
          "shape": "String"
        },
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn for ListEndpointsByPlatformApplicationInput action.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn"
      ],
      "type": "structure"
    },
    "ListEndpointsByPlatformApplicationResponse": {
      "documentation": "<p>Response for ListEndpointsByPlatformApplication action.</p>",
      "members": {
        "Endpoints": {
          "documentation": "<p>Endpoints returned for ListEndpointsByPlatformApplication action.</p>",
          "shape": "ListOfEndpoints"
        },
        "NextToken": {
          "documentation": "<p>NextToken string is returned when calling ListEndpointsByPlatformApplication action if additional records are available after the first page results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListOfEndpoints": {
      "member": {
        "shape": "Endpoint"
      },
      "type": "list"
    },
    "ListOfPlatformApplications": {
      "member": {
        "shape": "PlatformApplication"
      },
      "type": "list"
    },
    "ListPhoneNumbersOptedOutInput": {
      "documentation": "<p>The input for the <code>ListPhoneNumbersOptedOut</code> action.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>A <code>NextToken</code> string is used when you call the <code>ListPhoneNumbersOptedOut</code> action to retrieve additional records that are available after the first page of results.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "ListPhoneNumbersOptedOutResponse": {
      "documentation": "<p>The response from the <code>ListPhoneNumbersOptedOut</code> action.</p>",
      "members": {
        "nextToken": {
          "documentation": "<p>A <code>NextToken</code> string is returned when you call the <code>ListPhoneNumbersOptedOut</code> action if additional records are available after the first page of results.</p>",
          "shape": "string"
        },
        "phoneNumbers": {
          "documentation": "<p>A list of phone numbers that are opted out of receiving SMS messages. The list is paginated, and each page can contain up to 100 phone numbers.</p>",
          "shape": "PhoneNumberList"
        }
      },
      "type": "structure"
    },
    "ListPlatformApplicationsInput": {
      "documentation": "<p>Input for ListPlatformApplications action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>NextToken string is used when calling ListPlatformApplications action to retrieve additional records that are available after the first page results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListPlatformApplicationsResponse": {
      "documentation": "<p>Response for ListPlatformApplications action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>NextToken string is returned when calling ListPlatformApplications action if additional records are available after the first page results.</p>",
          "shape": "String"
        },
        "PlatformApplications": {
          "documentation": "<p>Platform applications returned when calling ListPlatformApplications action.</p>",
          "shape": "ListOfPlatformApplications"
        }
      },
      "type": "structure"
    },
    "ListString": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ListSubscriptionsByTopicInput": {
      "documentation": "<p>Input for ListSubscriptionsByTopic action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token returned by the previous <code>ListSubscriptionsByTopic</code> request.</p>",
          "shape": "nextToken"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic for which you wish to find subscriptions.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn"
      ],
      "type": "structure"
    },
    "ListSubscriptionsByTopicResponse": {
      "documentation": "<p>Response for ListSubscriptionsByTopic action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token to pass along to the next <code>ListSubscriptionsByTopic</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
          "shape": "nextToken"
        },
        "Subscriptions": {
          "documentation": "<p>A list of subscriptions.</p>",
          "shape": "SubscriptionsList"
        }
      },
      "type": "structure"
    },
    "ListSubscriptionsInput": {
      "documentation": "<p>Input for ListSubscriptions action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token returned by the previous <code>ListSubscriptions</code> request.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "ListSubscriptionsResponse": {
      "documentation": "<p>Response for ListSubscriptions action</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token to pass along to the next <code>ListSubscriptions</code> request. This element is returned if there are more subscriptions to retrieve.</p>",
          "shape": "nextToken"
        },
        "Subscriptions": {
          "documentation": "<p>A list of subscriptions.</p>",
          "shape": "SubscriptionsList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The ARN of the topic for which to list tags.</p>",
          "shape": "AmazonResourceName"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The tags associated with the specified topic.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListTopicsInput": {
      "members": {
        "NextToken": {
          "documentation": "<p>Token returned by the previous <code>ListTopics</code> request.</p>",
          "shape": "nextToken"
        }
      },
      "type": "structure"
    },
    "ListTopicsResponse": {
      "documentation": "<p>Response for ListTopics action.</p>",
      "members": {
        "NextToken": {
          "documentation": "<p>Token to pass along to the next <code>ListTopics</code> request. This element is returned if there are additional topics to retrieve.</p>",
          "shape": "nextToken"
        },
        "Topics": {
          "documentation": "<p>A list of topic ARNs.</p>",
          "shape": "TopicsList"
        }
      },
      "type": "structure"
    },
    "MapStringToString": {
      "key": {
        "shape": "String"
      },
      "type": "map",
      "value": {
        "shape": "String"
      }
    },
    "MessageAttributeMap": {
      "key": {
        "locationName": "Name",
        "shape": "String"
      },
      "type": "map",
      "value": {
        "locationName": "Value",
        "shape": "MessageAttributeValue"
      }
    },
    "MessageAttributeValue": {
      "documentation": "<p>The user-specified message attribute value. For string data types, the value attribute has the same restrictions on the content as the message body. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/api/API_Publish.html\">Publish</a>.</p> <p>Name, type, and value must not be empty or null. In addition, the message body should not be empty or null. All parts of the message attribute, including name, type, and value, are included in the message size restriction, which is currently 256 KB (262,144 bytes). For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMessageAttributes.html\">Using Amazon SNS Message Attributes</a>.</p>",
      "members": {
        "BinaryValue": {
          "documentation": "<p>Binary type attributes can store any binary data, for example, compressed data, encrypted data, or images.</p>",
          "shape": "Binary"
        },
        "DataType": {
          "documentation": "<p>Amazon SNS supports the following logical data types: String, String.Array, Number, and Binary. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/SNSMessageAttributes.html#SNSMessageAttributes.DataTypes\">Message Attribute Data Types</a>.</p>",
          "shape": "String"
        },
        "StringValue": {
          "documentation": "<p>Strings are Unicode with UTF8 binary encoding. For a list of code values, see <a href=\"https://en.wikipedia.org/wiki/ASCII#ASCII_printable_characters\">ASCII Printable Characters</a>.</p>",
          "shape": "String"
        }
      },
      "required": [
        "DataType"
      ],
      "type": "structure"
    },
    "NotFoundException": {
      "documentation": "<p>Indicates that the requested resource does not exist.</p>",
      "error": {
        "code": "NotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "OptInPhoneNumberInput": {
      "documentation": "<p>Input for the OptInPhoneNumber action.</p>",
      "members": {
        "phoneNumber": {
          "documentation": "<p>The phone number to opt in.</p>",
          "shape": "PhoneNumber"
        }
      },
      "required": [
        "phoneNumber"
      ],
      "type": "structure"
    },
    "OptInPhoneNumberResponse": {
      "documentation": "<p>The response for the OptInPhoneNumber action.</p>",
      "members": {},
      "type": "structure"
    },
    "PhoneNumber": {
      "type": "string"
    },
    "PhoneNumberList": {
      "member": {
        "shape": "PhoneNumber"
      },
      "type": "list"
    },
    "PlatformApplication": {
      "documentation": "<p>Platform application object.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>Attributes for platform application object.</p>",
          "shape": "MapStringToString"
        },
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn for platform application object.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PlatformApplicationDisabledException": {
      "documentation": "<p>Exception error indicating platform application disabled.</p>",
      "error": {
        "code": "PlatformApplicationDisabled",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p>Message for platform application disabled.</p>",
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "PublishInput": {
      "documentation": "<p>Input for Publish action.</p>",
      "members": {
        "Message": {
          "documentation": "<p>The message you want to send.</p> <p>If you are publishing to a topic and you want to send the same message to all transport protocols, include the text of the message as a String value. If you want to send different messages for each transport protocol, set the value of the <code>MessageStructure</code> parameter to <code>json</code> and use a JSON object for the <code>Message</code> parameter. </p> <p/> <p>Constraints:</p> <ul> <li> <p>With the exception of SMS, messages must be UTF-8 encoded strings and at most 256 KB in size (262,144 bytes, not 262,144 characters).</p> </li> <li> <p>For SMS, each message can contain up to 140 characters. This character limit depends on the encoding schema. For example, an SMS message can contain 160 GSM characters, 140 ASCII characters, or 70 UCS-2 characters.</p> <p>If you publish a message that exceeds this size limit, Amazon SNS sends the message as multiple messages, each fitting within the size limit. Messages aren't truncated mid-word but are cut off at whole-word boundaries.</p> <p>The total size limit for a single SMS <code>Publish</code> action is 1,600 characters.</p> </li> </ul> <p>JSON-specific constraints:</p> <ul> <li> <p>Keys in the JSON object that correspond to supported transport protocols must have simple JSON string values.</p> </li> <li> <p>The values will be parsed (unescaped) before they are used in outgoing messages.</p> </li> <li> <p>Outbound notifications are JSON encoded (meaning that the characters will be reescaped for sending).</p> </li> <li> <p>Values have a minimum length of 0 (the empty string, \"\", is allowed).</p> </li> <li> <p>Values have a maximum length bounded by the overall message size (so, including multiple protocols may limit message sizes).</p> </li> <li> <p>Non-string values will cause the key to be ignored.</p> </li> <li> <p>Keys that do not correspond to supported transport protocols are ignored.</p> </li> <li> <p>Duplicate keys are not allowed.</p> </li> <li> <p>Failure to parse or validate any key or value in the message will cause the <code>Publish</code> call to return an error (no partial delivery).</p> </li> </ul>",
          "shape": "message"
        },
        "MessageAttributes": {
          "documentation": "<p>Message attributes for Publish action.</p>",
          "shape": "MessageAttributeMap"
        },
        "MessageStructure": {
          "documentation": "<p>Set <code>MessageStructure</code> to <code>json</code> if you want to send a different message for each protocol. For example, using one publish action, you can send a short message to your SMS subscribers and a longer message to your email subscribers. If you set <code>MessageStructure</code> to <code>json</code>, the value of the <code>Message</code> parameter must: </p> <ul> <li> <p>be a syntactically valid JSON object; and</p> </li> <li> <p>contain at least a top-level JSON key of \"default\" with a value that is a string.</p> </li> </ul> <p>You can define other top-level keys that define the message you want to send to a specific transport protocol (e.g., \"http\").</p> <p>Valid value: <code>json</code> </p>",
          "shape": "messageStructure"
        },
        "PhoneNumber": {
          "documentation": "<p>The phone number to which you want to deliver an SMS message. Use E.164 format.</p> <p>If you don't specify a value for the <code>PhoneNumber</code> parameter, you must specify a value for the <code>TargetArn</code> or <code>TopicArn</code> parameters.</p>",
          "shape": "String"
        },
        "Subject": {
          "documentation": "<p>Optional parameter to be used as the \"Subject\" line when the message is delivered to email endpoints. This field will also be included, if present, in the standard JSON messages delivered to other endpoints.</p> <p>Constraints: Subjects must be ASCII text that begins with a letter, number, or punctuation mark; must not include line breaks or control characters; and must be less than 100 characters long.</p>",
          "shape": "subject"
        },
        "TargetArn": {
          "documentation": "<p>If you don't specify a value for the <code>TargetArn</code> parameter, you must specify a value for the <code>PhoneNumber</code> or <code>TopicArn</code> parameters.</p>",
          "shape": "String"
        },
        "TopicArn": {
          "documentation": "<p>The topic you want to publish to.</p> <p>If you don't specify a value for the <code>TopicArn</code> parameter, you must specify a value for the <code>PhoneNumber</code> or <code>TargetArn</code> parameters.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "PublishResponse": {
      "documentation": "<p>Response for Publish action.</p>",
      "members": {
        "MessageId": {
          "documentation": "<p>Unique identifier assigned to the published message.</p> <p>Length Constraint: Maximum 100 characters</p>",
          "shape": "messageId"
        }
      },
      "type": "structure"
    },
    "RemovePermissionInput": {
      "documentation": "<p>Input for RemovePermission action.</p>",
      "members": {
        "Label": {
          "documentation": "<p>The unique label of the statement you want to remove.</p>",
          "shape": "label"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic whose access control policy you wish to modify.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "Label"
      ],
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>Can't tag resource. Verify that the topic exists.</p>",
      "error": {
        "code": "ResourceNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "SetEndpointAttributesInput": {
      "documentation": "<p>Input for SetEndpointAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of the endpoint attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>CustomUserData</code> \u2013 arbitrary user data to associate with the endpoint. Amazon SNS does not use this data. The data must be in UTF-8 format and less than 2KB.</p> </li> <li> <p> <code>Enabled</code> \u2013 flag that enables/disables delivery to the endpoint. Amazon SNS will set this to false when a notification service indicates to Amazon SNS that the endpoint is invalid. Users can set it back to true, typically after updating Token.</p> </li> <li> <p> <code>Token</code> \u2013 device token, also referred to as a registration id, for an app and mobile device. This is returned from the notification service when an app and mobile device are registered with the notification service.</p> </li> </ul>",
          "shape": "MapStringToString"
        },
        "EndpointArn": {
          "documentation": "<p>EndpointArn used for SetEndpointAttributes action.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn",
        "Attributes"
      ],
      "type": "structure"
    },
    "SetPlatformApplicationAttributesInput": {
      "documentation": "<p>Input for SetPlatformApplicationAttributes action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of the platform application attributes. Attributes in this map include the following:</p> <ul> <li> <p> <code>PlatformCredential</code> \u2013 The credential received from the notification service. For APNS/APNS_SANDBOX, PlatformCredential is private key. For FCM, PlatformCredential is \"API key\". For ADM, PlatformCredential is \"client secret\".</p> </li> <li> <p> <code>PlatformPrincipal</code> \u2013 The principal received from the notification service. For APNS/APNS_SANDBOX, PlatformPrincipal is SSL certificate. For FCM, PlatformPrincipal is not applicable. For ADM, PlatformPrincipal is \"client id\".</p> </li> <li> <p> <code>EventEndpointCreated</code> \u2013 Topic ARN to which EndpointCreated event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointDeleted</code> \u2013 Topic ARN to which EndpointDeleted event notifications should be sent.</p> </li> <li> <p> <code>EventEndpointUpdated</code> \u2013 Topic ARN to which EndpointUpdate event notifications should be sent.</p> </li> <li> <p> <code>EventDeliveryFailure</code> \u2013 Topic ARN to which DeliveryFailure event notifications should be sent upon Direct Publish delivery failure (permanent) to one of the application's endpoints.</p> </li> <li> <p> <code>SuccessFeedbackRoleArn</code> \u2013 IAM role ARN used to give Amazon SNS write access to use CloudWatch Logs on your behalf.</p> </li> <li> <p> <code>FailureFeedbackRoleArn</code> \u2013 IAM role ARN used to give Amazon SNS write access to use CloudWatch Logs on your behalf.</p> </li> <li> <p> <code>SuccessFeedbackSampleRate</code> \u2013 Sample rate percentage (0-100) of successfully delivered messages.</p> </li> </ul>",
          "shape": "MapStringToString"
        },
        "PlatformApplicationArn": {
          "documentation": "<p>PlatformApplicationArn for SetPlatformApplicationAttributes action.</p>",
          "shape": "String"
        }
      },
      "required": [
        "PlatformApplicationArn",
        "Attributes"
      ],
      "type": "structure"
    },
    "SetSMSAttributesInput": {
      "documentation": "<p>The input for the SetSMSAttributes action.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>The default settings for sending SMS messages from your account. You can set values for the following attribute names:</p> <p> <code>MonthlySpendLimit</code> \u2013 The maximum amount in USD that you are willing to spend each month to send SMS messages. When Amazon SNS determines that sending an SMS message would incur a cost that exceeds this limit, it stops sending SMS messages within minutes.</p> <important> <p>Amazon SNS stops sending SMS messages within minutes of the limit being crossed. During that interval, if you continue to send SMS messages, you will incur costs that exceed your limit.</p> </important> <p>By default, the spend limit is set to the maximum allowed by Amazon SNS. If you want to raise the limit, submit an <a href=\"https://console.aws.amazon.com/support/home#/case/create?issueType=service-limit-increase&amp;limitType=service-code-sns\">SNS Limit Increase case</a>. For <b>New limit value</b>, enter your desired monthly spend limit. In the <b>Use Case Description</b> field, explain that you are requesting an SMS monthly spend limit increase.</p> <p> <code>DeliveryStatusIAMRole</code> \u2013 The ARN of the IAM role that allows Amazon SNS to write logs about SMS deliveries in CloudWatch Logs. For each SMS message that you send, Amazon SNS writes a log that includes the message price, the success or failure status, the reason for failure (if the message failed), the message dwell time, and other information.</p> <p> <code>DeliveryStatusSuccessSamplingRate</code> \u2013 The percentage of successful SMS deliveries for which Amazon SNS will write logs in CloudWatch Logs. The value can be an integer from 0 - 100. For example, to write logs only for failed deliveries, set this value to <code>0</code>. To write logs for 10% of your successful deliveries, set it to <code>10</code>.</p> <p> <code>DefaultSenderID</code> \u2013 A string, such as your business brand, that is displayed as the sender on the receiving device. Support for sender IDs varies by country. The sender ID can be 1 - 11 alphanumeric characters, and it must contain at least one letter.</p> <p> <code>DefaultSMSType</code> \u2013 The type of SMS message that you will send by default. You can assign the following values:</p> <ul> <li> <p> <code>Promotional</code> \u2013 (Default) Noncritical messages, such as marketing messages. Amazon SNS optimizes the message delivery to incur the lowest cost.</p> </li> <li> <p> <code>Transactional</code> \u2013 Critical messages that support customer transactions, such as one-time passcodes for multi-factor authentication. Amazon SNS optimizes the message delivery to achieve the highest reliability.</p> </li> </ul> <p> <code>UsageReportS3Bucket</code> \u2013 The name of the Amazon S3 bucket to receive daily SMS usage reports from Amazon SNS. Each day, Amazon SNS will deliver a usage report as a CSV file to the bucket. The report includes the following information for each SMS message that was successfully delivered by your account:</p> <ul> <li> <p>Time that the message was published (in UTC)</p> </li> <li> <p>Message ID</p> </li> <li> <p>Destination phone number</p> </li> <li> <p>Message type</p> </li> <li> <p>Delivery status</p> </li> <li> <p>Message price (in USD)</p> </li> <li> <p>Part number (a message is split into multiple parts if it is too long for a single message)</p> </li> <li> <p>Total number of parts</p> </li> </ul> <p>To receive the report, the bucket must have a policy that allows the Amazon SNS service principle to perform the <code>s3:PutObject</code> and <code>s3:GetBucketLocation</code> actions.</p> <p>For an example bucket policy and usage report, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sms_stats.html\">Monitoring SMS Activity</a> in the <i>Amazon SNS Developer Guide</i>.</p>",
          "shape": "MapStringToString"
        }
      },
      "required": [
        "attributes"
      ],
      "type": "structure"
    },
    "SetSMSAttributesResponse": {
      "documentation": "<p>The response for the SetSMSAttributes action.</p>",
      "members": {},
      "type": "structure"
    },
    "SetSubscriptionAttributesInput": {
      "documentation": "<p>Input for SetSubscriptionAttributes action.</p>",
      "members": {
        "AttributeName": {
          "documentation": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>SetTopicAttributes</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>FilterPolicy</code> \u2013 The simple JSON object that lets your subscriber receive only a subset of messages, rather than receiving every message published to the topic.</p> </li> <li> <p> <code>RawMessageDelivery</code> \u2013 When set to <code>true</code>, enables raw message delivery to Amazon SQS or HTTP/S endpoints. This eliminates the need for the endpoints to process JSON formatting, which is otherwise created for Amazon SNS metadata.</p> </li> <li> <p> <code>RedrivePolicy</code> \u2013 When specified, sends undeliverable messages to the specified Amazon SQS dead-letter queue. Messages that can't be delivered due to client errors (for example, when the subscribed endpoint is unreachable) or server errors (for example, when the service that powers the subscribed endpoint becomes unavailable) are held in the dead-letter queue for further analysis or reprocessing.</p> </li> </ul>",
          "shape": "attributeName"
        },
        "AttributeValue": {
          "documentation": "<p>The new value for the attribute in JSON format.</p>",
          "shape": "attributeValue"
        },
        "SubscriptionArn": {
          "documentation": "<p>The ARN of the subscription to modify.</p>",
          "shape": "subscriptionARN"
        }
      },
      "required": [
        "SubscriptionArn",
        "AttributeName"
      ],
      "type": "structure"
    },
    "SetTopicAttributesInput": {
      "documentation": "<p>Input for SetTopicAttributes action.</p>",
      "members": {
        "AttributeName": {
          "documentation": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>SetTopicAttributes</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>DisplayName</code> \u2013 The display name to use for a topic with SMS subscriptions.</p> </li> <li> <p> <code>Policy</code> \u2013 The policy that defines who can access your topic. By default, only the topic owner can publish or subscribe to the topic.</p> </li> </ul> <p>The following attribute applies only to <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html\">server-side-encryption</a>:</p> <ul> <li> <p> <code>KmsMasterKeyId</code> - The ID of an AWS-managed customer master key (CMK) for Amazon SNS or a custom CMK. For more information, see <a href=\"https://docs.aws.amazon.com/sns/latest/dg/sns-server-side-encryption.html#sse-key-terms\">Key Terms</a>. For more examples, see <a href=\"https://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">KeyId</a> in the <i>AWS Key Management Service API Reference</i>. </p> </li> </ul>",
          "shape": "attributeName"
        },
        "AttributeValue": {
          "documentation": "<p>The new value for the attribute.</p>",
          "shape": "attributeValue"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic to modify.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "AttributeName"
      ],
      "type": "structure"
    },
    "StaleTagException": {
      "documentation": "<p>A tag has been added to a resource with the same ARN as a deleted resource. Wait a short while and then retry the operation.</p>",
      "error": {
        "code": "StaleTag",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "SubscribeInput": {
      "documentation": "<p>Input for Subscribe action.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A map of attributes with their corresponding values.</p> <p>The following lists the names, descriptions, and values of the special request parameters that the <code>SetTopicAttributes</code> action uses:</p> <ul> <li> <p> <code>DeliveryPolicy</code> \u2013 The policy that defines how Amazon SNS retries failed deliveries to HTTP/S endpoints.</p> </li> <li> <p> <code>FilterPolicy</code> \u2013 The simple JSON object that lets your subscriber receive only a subset of messages, rather than receiving every message published to the topic.</p> </li> <li> <p> <code>RawMessageDelivery</code> \u2013 When set to <code>true</code>, enables raw message delivery to Amazon SQS or HTTP/S endpoints. This eliminates the need for the endpoints to process JSON formatting, which is otherwise created for Amazon SNS metadata.</p> </li> <li> <p> <code>RedrivePolicy</code> \u2013 When specified, sends undeliverable messages to the specified Amazon SQS dead-letter queue. Messages that can't be delivered due to client errors (for example, when the subscribed endpoint is unreachable) or server errors (for example, when the service that powers the subscribed endpoint becomes unavailable) are held in the dead-letter queue for further analysis or reprocessing.</p> </li> </ul>",
          "shape": "SubscriptionAttributesMap"
        },
        "Endpoint": {
          "documentation": "<p>The endpoint that you want to receive notifications. Endpoints vary by protocol:</p> <ul> <li> <p>For the <code>http</code> protocol, the endpoint is an URL beginning with <code>http://</code> </p> </li> <li> <p>For the <code>https</code> protocol, the endpoint is a URL beginning with <code>https://</code> </p> </li> <li> <p>For the <code>email</code> protocol, the endpoint is an email address</p> </li> <li> <p>For the <code>email-json</code> protocol, the endpoint is an email address</p> </li> <li> <p>For the <code>sms</code> protocol, the endpoint is a phone number of an SMS-enabled device</p> </li> <li> <p>For the <code>sqs</code> protocol, the endpoint is the ARN of an Amazon SQS queue</p> </li> <li> <p>For the <code>application</code> protocol, the endpoint is the EndpointArn of a mobile app and device.</p> </li> <li> <p>For the <code>lambda</code> protocol, the endpoint is the ARN of an Amazon Lambda function.</p> </li> </ul>",
          "shape": "endpoint"
        },
        "Protocol": {
          "documentation": "<p>The protocol you want to use. Supported protocols include:</p> <ul> <li> <p> <code>http</code> \u2013 delivery of JSON-encoded message via HTTP POST</p> </li> <li> <p> <code>https</code> \u2013 delivery of JSON-encoded message via HTTPS POST</p> </li> <li> <p> <code>email</code> \u2013 delivery of message via SMTP</p> </li> <li> <p> <code>email-json</code> \u2013 delivery of JSON-encoded message via SMTP</p> </li> <li> <p> <code>sms</code> \u2013 delivery of message via SMS</p> </li> <li> <p> <code>sqs</code> \u2013 delivery of JSON-encoded message to an Amazon SQS queue</p> </li> <li> <p> <code>application</code> \u2013 delivery of JSON-encoded message to an EndpointArn for a mobile app and device.</p> </li> <li> <p> <code>lambda</code> \u2013 delivery of JSON-encoded message to an Amazon Lambda function.</p> </li> </ul>",
          "shape": "protocol"
        },
        "ReturnSubscriptionArn": {
          "documentation": "<p>Sets whether the response from the <code>Subscribe</code> request includes the subscription ARN, even if the subscription is not yet confirmed.</p> <ul> <li> <p>If you have the subscription ARN returned, the response includes the ARN in all cases, even if the subscription is not yet confirmed.</p> </li> <li> <p>If you don't have the subscription ARN returned, in addition to the ARN for confirmed subscriptions, the response also includes the <code>pending subscription</code> ARN value for subscriptions that aren't yet confirmed. A subscription becomes confirmed when the subscriber calls the <code>ConfirmSubscription</code> action with a confirmation token.</p> </li> </ul> <p>If you set this parameter to <code>true</code>, .</p> <p>The default value is <code>false</code>.</p>",
          "shape": "boolean"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the topic you want to subscribe to.</p>",
          "shape": "topicARN"
        }
      },
      "required": [
        "TopicArn",
        "Protocol"
      ],
      "type": "structure"
    },
    "SubscribeResponse": {
      "documentation": "<p>Response for Subscribe action.</p>",
      "members": {
        "SubscriptionArn": {
          "documentation": "<p>The ARN of the subscription if it is confirmed, or the string \"pending confirmation\" if the subscription requires confirmation. However, if the API request parameter <code>ReturnSubscriptionArn</code> is true, then the value is always the subscription ARN, even if the subscription requires confirmation.</p>",
          "shape": "subscriptionARN"
        }
      },
      "type": "structure"
    },
    "Subscription": {
      "documentation": "<p>A wrapper type for the attributes of an Amazon SNS subscription.</p>",
      "members": {
        "Endpoint": {
          "documentation": "<p>The subscription's endpoint (format depends on the protocol).</p>",
          "shape": "endpoint"
        },
        "Owner": {
          "documentation": "<p>The subscription's owner.</p>",
          "shape": "account"
        },
        "Protocol": {
          "documentation": "<p>The subscription's protocol.</p>",
          "shape": "protocol"
        },
        "SubscriptionArn": {
          "documentation": "<p>The subscription's ARN.</p>",
          "shape": "subscriptionARN"
        },
        "TopicArn": {
          "documentation": "<p>The ARN of the subscription's topic.</p>",
          "shape": "topicARN"
        }
      },
      "type": "structure"
    },
    "SubscriptionAttributesMap": {
      "key": {
        "shape": "attributeName"
      },
      "type": "map",
      "value": {
        "shape": "attributeValue"
      }
    },
    "SubscriptionLimitExceededException": {
      "documentation": "<p>Indicates that the customer already owns the maximum allowed number of subscriptions.</p>",
      "error": {
        "code": "SubscriptionLimitExceeded",
        "httpStatusCode": 403,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "string"
        }
      },
      "type": "structure"
    },
    "SubscriptionsList": {
      "member": {
[...]
