{
  "documentation": "<fullname>AWS CodePipeline</fullname> <p> <b>Overview</b> </p> <p>This is the AWS CodePipeline API Reference. This guide provides descriptions of the actions and data types for AWS CodePipeline. Some functionality for your pipeline can only be configured through the API. For more information, see the <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work with pipelines, stages, actions, and transitions.</p> <p> <i>Pipelines</i> are models of automated release processes. Each pipeline is uniquely named, and consists of stages, actions, and transitions. </p> <p>You can work with pipelines by calling:</p> <ul> <li> <p> <a>CreatePipeline</a>, which creates a uniquely named pipeline.</p> </li> <li> <p> <a>DeletePipeline</a>, which deletes the specified pipeline.</p> </li> <li> <p> <a>GetPipeline</a>, which returns information about the pipeline structure and pipeline metadata, including the pipeline Amazon Resource Name (ARN).</p> </li> <li> <p> <a>GetPipelineExecution</a>, which returns information about a specific execution of a pipeline.</p> </li> <li> <p> <a>GetPipelineState</a>, which returns information about the current state of the stages and actions of a pipeline.</p> </li> <li> <p> <a>ListActionExecutions</a>, which returns action-level details for past executions. The details include full stage and action-level details, including individual action duration, status, any errors that occurred during the execution, and input and output artifact location details.</p> </li> <li> <p> <a>ListPipelines</a>, which gets a summary of all of the pipelines associated with your account.</p> </li> <li> <p> <a>ListPipelineExecutions</a>, which gets a summary of the most recent executions for a pipeline.</p> </li> <li> <p> <a>StartPipelineExecution</a>, which runs the most recent revision of an artifact through the pipeline.</p> </li> <li> <p> <a>StopPipelineExecution</a>, which stops the specified pipeline execution from continuing through the pipeline.</p> </li> <li> <p> <a>UpdatePipeline</a>, which updates a pipeline with edits or changes to the structure of the pipeline.</p> </li> </ul> <p>Pipelines include <i>stages</i>. Each stage contains one or more actions that must complete before the next stage begins. A stage results in success or failure. If a stage fails, the pipeline stops at that stage and remains stopped until either a new version of an artifact appears in the source location, or a user takes action to rerun the most recent artifact through the pipeline. You can call <a>GetPipelineState</a>, which displays the status of a pipeline, including the status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire structure of the pipeline, including the stages of that pipeline. For more information about the structure of stages and actions, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i> that are categorized into categories such as source or build actions performed in a stage of a pipeline. For example, you can use a source action to import artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not work with actions directly in most cases, but you do define and interact with actions when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>. Valid action categories are:</p> <ul> <li> <p>Source</p> </li> <li> <p>Build</p> </li> <li> <p>Test</p> </li> <li> <p>Deploy</p> </li> <li> <p>Approval</p> </li> <li> <p>Invoke</p> </li> </ul> <p>Pipelines also include <i>transitions</i>, which allow the transition of artifacts from one stage to the next in a pipeline after the actions in one stage complete.</p> <p>You can work with transitions by calling:</p> <ul> <li> <p> <a>DisableStageTransition</a>, which prevents artifacts from transitioning to the next stage in a pipeline.</p> </li> <li> <p> <a>EnableStageTransition</a>, which enables transition of artifacts between stages in a pipeline. </p> </li> </ul> <p> <b>Using the API to integrate with AWS CodePipeline</b> </p> <p>For third-party integrators or developers who want to create their own integrations with AWS CodePipeline, the expected sequence varies from the standard API user. To integrate with AWS CodePipeline, developers need to work with the following items:</p> <p> <b>Jobs</b>, which are instances of an action. For example, a job for a source action might import a revision of an artifact from a source. </p> <p>You can work with jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeJob</a>, which confirms whether a job worker has received the specified job.</p> </li> <li> <p> <a>GetJobDetails</a>, which returns the details of a job.</p> </li> <li> <p> <a>PollForJobs</a>, which determines whether there are any jobs to act on.</p> </li> <li> <p> <a>PutJobFailureResult</a>, which provides details of a job failure. </p> </li> <li> <p> <a>PutJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul> <p> <b>Third party jobs</b>, which are instances of an action created by a partner action and integrated into AWS CodePipeline. Partner actions are created by members of the AWS Partner Network.</p> <p>You can work with third party jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeThirdPartyJob</a>, which confirms whether a job worker has received the specified job.</p> </li> <li> <p> <a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner action.</p> </li> <li> <p> <a>PollForThirdPartyJobs</a>, which determines whether there are any jobs to act on. </p> </li> <li> <p> <a>PutThirdPartyJobFailureResult</a>, which provides details of a job failure.</p> </li> <li> <p> <a>PutThirdPartyJobSuccessResult</a>, which provides details of a job success.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2015-07-09",
    "endpointPrefix": "codepipeline",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "CodePipeline",
    "serviceFullName": "AWS CodePipeline",
    "serviceId": "CodePipeline",
    "signatureVersion": "v4",
    "targetPrefix": "CodePipeline_20150709",
    "uid": "codepipeline-2015-07-09"
  },
  "operations": {
    "AcknowledgeJob": {
      "documentation": "<p>Returns information about a specified job and whether that job has been received by the job worker. Used for custom actions only.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidNonceException"
        },
        {
          "shape": "JobNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcknowledgeJobInput"
      },
      "name": "AcknowledgeJob",
      "output": {
        "shape": "AcknowledgeJobOutput"
      }
    },
    "AcknowledgeThirdPartyJob": {
      "documentation": "<p>Confirms a job worker has received the specified job. Used for partner actions only.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidNonceException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InvalidClientTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcknowledgeThirdPartyJobInput"
      },
      "name": "AcknowledgeThirdPartyJob",
      "output": {
        "shape": "AcknowledgeThirdPartyJobOutput"
      }
    },
    "CreateCustomActionType": {
      "documentation": "<p>Creates a new custom action that can be used in all pipelines associated with the AWS account. Only used for custom actions.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomActionTypeInput"
      },
      "name": "CreateCustomActionType",
      "output": {
        "shape": "CreateCustomActionTypeOutput"
      }
    },
    "CreatePipeline": {
      "documentation": "<p>Creates a pipeline.</p> <note> <p>In the pipeline structure, you must include either <code>artifactStore</code> or <code>artifactStores</code> in your pipeline, but you cannot use both. If you create a cross-region action in your pipeline, you must use <code>artifactStores</code>.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNameInUseException"
        },
        {
          "shape": "InvalidStageDeclarationException"
        },
        {
          "shape": "InvalidActionDeclarationException"
        },
        {
          "shape": "InvalidBlockerDeclarationException"
        },
        {
          "shape": "InvalidStructureException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePipelineInput"
      },
      "name": "CreatePipeline",
      "output": {
        "shape": "CreatePipelineOutput"
      }
    },
    "DeleteCustomActionType": {
      "documentation": "<p>Marks a custom action as deleted. <code>PollForJobs</code> for the custom action fails after the action is marked for deletion. Used for custom actions only.</p> <important> <p>To re-create a custom action after it has been deleted you must use a string in the version field that has never been used before. This string can be an incremented version number, for example. To restore a deleted custom action, use a JSON file that is identical to the deleted action, including the original string in the version field.</p> </important>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomActionTypeInput"
      },
      "name": "DeleteCustomActionType"
    },
    "DeletePipeline": {
      "documentation": "<p>Deletes the specified pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePipelineInput"
      },
      "name": "DeletePipeline"
    },
    "DeleteWebhook": {
      "documentation": "<p>Deletes a previously created webhook by name. Deleting the webhook stops AWS CodePipeline from starting a pipeline every time an external event occurs. The API returns successfully when trying to delete a webhook that is already deleted. If a deleted webhook is re-created by calling PutWebhook with the same name, it will have a different URL.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWebhookInput"
      },
      "name": "DeleteWebhook",
      "output": {
        "shape": "DeleteWebhookOutput"
      }
    },
    "DeregisterWebhookWithThirdParty": {
      "documentation": "<p>Removes the connection between the webhook that was created by CodePipeline and the external tool with events to be detected. Currently supported only for webhooks that target an action type of GitHub.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "WebhookNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterWebhookWithThirdPartyInput"
      },
      "name": "DeregisterWebhookWithThirdParty",
      "output": {
        "shape": "DeregisterWebhookWithThirdPartyOutput"
      }
    },
    "DisableStageTransition": {
      "documentation": "<p>Prevents artifacts in a pipeline from transitioning to the next stage in the pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "StageNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableStageTransitionInput"
      },
      "name": "DisableStageTransition"
    },
    "EnableStageTransition": {
      "documentation": "<p>Enables artifacts in a pipeline to transition to a stage in a pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "StageNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableStageTransitionInput"
      },
      "name": "EnableStageTransition"
    },
    "GetJobDetails": {
      "documentation": "<p>Returns information about a job. Used for custom actions only.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts. This API also returns any secret values defined for the action.</p> </important>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "JobNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobDetailsInput"
      },
      "name": "GetJobDetails",
      "output": {
        "shape": "GetJobDetailsOutput"
      }
    },
    "GetPipeline": {
      "documentation": "<p>Returns the metadata, structure, stages, and actions of a pipeline. Can be used to return the entire structure of a pipeline in JSON format, which can then be modified and used to update the pipeline structure with <a>UpdatePipeline</a>.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "PipelineVersionNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPipelineInput"
      },
      "name": "GetPipeline",
      "output": {
        "shape": "GetPipelineOutput"
      }
    },
    "GetPipelineExecution": {
      "documentation": "<p>Returns information about an execution of a pipeline, including details about artifacts, the pipeline execution ID, and the name, version, and status of the pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "PipelineExecutionNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPipelineExecutionInput"
      },
      "name": "GetPipelineExecution",
      "output": {
        "shape": "GetPipelineExecutionOutput"
      }
    },
    "GetPipelineState": {
      "documentation": "<p>Returns information about the state of a pipeline, including the stages and actions.</p> <note> <p>Values returned in the <code>revisionId</code> and <code>revisionUrl</code> fields indicate the source revision information, such as the commit ID, for the current state.</p> </note>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPipelineStateInput"
      },
      "name": "GetPipelineState",
      "output": {
        "shape": "GetPipelineStateOutput"
      }
    },
    "GetThirdPartyJobDetails": {
      "documentation": "<p>Requests the details of a job for a third party action. Used for partner actions only.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts. This API also returns any secret values defined for the action.</p> </important>",
      "errors": [
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidClientTokenException"
        },
        {
          "shape": "InvalidJobException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetThirdPartyJobDetailsInput"
      },
      "name": "GetThirdPartyJobDetails",
      "output": {
        "shape": "GetThirdPartyJobDetailsOutput"
      }
    },
    "ListActionExecutions": {
      "documentation": "<p>Lists the action executions that have occurred in a pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "PipelineExecutionNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListActionExecutionsInput"
      },
      "name": "ListActionExecutions",
      "output": {
        "shape": "ListActionExecutionsOutput"
      }
    },
    "ListActionTypes": {
      "documentation": "<p>Gets a summary of all AWS CodePipeline action types associated with your account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListActionTypesInput"
      },
      "name": "ListActionTypes",
      "output": {
        "shape": "ListActionTypesOutput"
      }
    },
    "ListPipelineExecutions": {
      "documentation": "<p>Gets a summary of the most recent executions for a pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPipelineExecutionsInput"
      },
      "name": "ListPipelineExecutions",
      "output": {
        "shape": "ListPipelineExecutionsOutput"
      }
    },
    "ListPipelines": {
      "documentation": "<p>Gets a summary of all of the pipelines associated with your account.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPipelinesInput"
      },
      "name": "ListPipelines",
      "output": {
        "shape": "ListPipelinesOutput"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Gets the set of key-value pairs (metadata) that are used to manage the resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceInput"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceOutput"
      }
    },
    "ListWebhooks": {
      "documentation": "<p>Gets a listing of all the webhooks in this AWS Region for this account. The output lists all webhooks and includes the webhook URL and ARN and the configuration for each webhook.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWebhooksInput"
      },
      "name": "ListWebhooks",
      "output": {
        "shape": "ListWebhooksOutput"
      }
    },
    "PollForJobs": {
      "documentation": "<p>Returns information about any jobs for AWS CodePipeline to act on. <code>PollForJobs</code> is valid only for action types with \"Custom\" in the owner field. If the action type contains \"AWS\" or \"ThirdParty\" in the owner field, the <code>PollForJobs</code> action returns an error.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts. This API also returns any secret values defined for the action.</p> </important>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ActionTypeNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PollForJobsInput"
      },
      "name": "PollForJobs",
      "output": {
        "shape": "PollForJobsOutput"
      }
    },
    "PollForThirdPartyJobs": {
      "documentation": "<p>Determines whether there are any third party jobs for a job worker to act on. Used for partner actions only.</p> <important> <p>When this API is called, AWS CodePipeline returns temporary credentials for the S3 bucket used to store artifacts for the pipeline, if the action requires access to that S3 bucket for input or output artifacts.</p> </important>",
      "errors": [
        {
          "shape": "ActionTypeNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PollForThirdPartyJobsInput"
      },
      "name": "PollForThirdPartyJobs",
      "output": {
        "shape": "PollForThirdPartyJobsOutput"
      }
    },
    "PutActionRevision": {
      "documentation": "<p>Provides information to AWS CodePipeline about new revisions to a source.</p>",
      "errors": [
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "StageNotFoundException"
        },
        {
          "shape": "ActionNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutActionRevisionInput"
      },
      "name": "PutActionRevision",
      "output": {
        "shape": "PutActionRevisionOutput"
      }
    },
    "PutApprovalResult": {
      "documentation": "<p>Provides the response to a manual approval request to AWS CodePipeline. Valid responses include Approved and Rejected.</p>",
      "errors": [
        {
          "shape": "InvalidApprovalTokenException"
        },
        {
          "shape": "ApprovalAlreadyCompletedException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "StageNotFoundException"
        },
        {
          "shape": "ActionNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutApprovalResultInput"
      },
      "name": "PutApprovalResult",
      "output": {
        "shape": "PutApprovalResultOutput"
      }
    },
    "PutJobFailureResult": {
      "documentation": "<p>Represents the failure of a job as returned to the pipeline by a job worker. Used for custom actions only.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InvalidJobStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutJobFailureResultInput"
      },
      "name": "PutJobFailureResult"
    },
    "PutJobSuccessResult": {
      "documentation": "<p>Represents the success of a job as returned to the pipeline by a job worker. Used for custom actions only.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InvalidJobStateException"
        },
        {
          "shape": "OutputVariablesSizeExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutJobSuccessResultInput"
      },
      "name": "PutJobSuccessResult"
    },
    "PutThirdPartyJobFailureResult": {
      "documentation": "<p>Represents the failure of a third party job as returned to the pipeline by a job worker. Used for partner actions only.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InvalidJobStateException"
        },
        {
          "shape": "InvalidClientTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutThirdPartyJobFailureResultInput"
      },
      "name": "PutThirdPartyJobFailureResult"
    },
    "PutThirdPartyJobSuccessResult": {
      "documentation": "<p>Represents the success of a third party job as returned to the pipeline by a job worker. Used for partner actions only.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "JobNotFoundException"
        },
        {
          "shape": "InvalidJobStateException"
        },
        {
          "shape": "InvalidClientTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutThirdPartyJobSuccessResultInput"
      },
      "name": "PutThirdPartyJobSuccessResult"
    },
    "PutWebhook": {
      "documentation": "<p>Defines a webhook and returns a unique webhook URL generated by CodePipeline. This URL can be supplied to third party source hosting providers to call every time there's a code change. When CodePipeline receives a POST request on this URL, the pipeline defined in the webhook is started as long as the POST request satisfied the authentication and filtering requirements supplied when defining the webhook. RegisterWebhookWithThirdParty and DeregisterWebhookWithThirdParty APIs can be used to automatically configure supported third parties to call the generated webhook URL.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidWebhookFilterPatternException"
        },
        {
          "shape": "InvalidWebhookAuthenticationParametersException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutWebhookInput"
      },
      "name": "PutWebhook",
      "output": {
        "shape": "PutWebhookOutput"
      }
    },
    "RegisterWebhookWithThirdParty": {
      "documentation": "<p>Configures a connection between the webhook that was created and the external tool with events to be detected.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "WebhookNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterWebhookWithThirdPartyInput"
      },
      "name": "RegisterWebhookWithThirdParty",
      "output": {
        "shape": "RegisterWebhookWithThirdPartyOutput"
      }
    },
    "RetryStageExecution": {
      "documentation": "<p>Resumes the pipeline execution by retrying the last failed actions in a stage. You can retry a stage immediately if any of the actions in the stage fail. When you retry, all actions that are still in progress continue working, and failed actions are triggered again.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "StageNotFoundException"
        },
        {
          "shape": "StageNotRetryableException"
        },
        {
          "shape": "NotLatestPipelineExecutionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RetryStageExecutionInput"
      },
      "name": "RetryStageExecution",
      "output": {
        "shape": "RetryStageExecutionOutput"
      }
    },
    "StartPipelineExecution": {
      "documentation": "<p>Starts the specified pipeline. Specifically, it begins processing the latest commit to the source location specified as part of the pipeline.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartPipelineExecutionInput"
      },
      "name": "StartPipelineExecution",
      "output": {
        "shape": "StartPipelineExecutionOutput"
      }
    },
    "StopPipelineExecution": {
      "documentation": "<p>Stops the specified pipeline execution. You choose to either stop the pipeline execution by completing in-progress actions without starting subsequent actions, or by abandoning in-progress actions. While completing or abandoning in-progress actions, the pipeline execution is in a <code>Stopping</code> state. After all in-progress actions are completed or abandoned, the pipeline execution is in a <code>Stopped</code> state.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "PipelineNotFoundException"
        },
        {
          "shape": "PipelineExecutionNotStoppableException"
        },
        {
          "shape": "DuplicatedStopRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopPipelineExecutionInput"
      },
      "name": "StopPipelineExecution",
      "output": {
        "shape": "StopPipelineExecutionOutput"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds to or modifies the tags of the given resource. Tags are metadata that can be used to manage a resource. </p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "InvalidTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceInput"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceOutput"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from an AWS resource.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "InvalidTagsException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceInput"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceOutput"
      }
    },
    "UpdatePipeline": {
      "documentation": "<p>Updates a specified pipeline with edits or changes to its structure. Use a JSON file with the pipeline structure and <code>UpdatePipeline</code> to provide the full structure of the pipeline. Updating the pipeline increases the version number of the pipeline by 1.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InvalidStageDeclarationException"
        },
        {
          "shape": "InvalidActionDeclarationException"
        },
        {
          "shape": "InvalidBlockerDeclarationException"
        },
        {
          "shape": "InvalidStructureException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePipelineInput"
      },
      "name": "UpdatePipeline",
      "output": {
        "shape": "UpdatePipelineOutput"
      }
    }
  },
  "shapes": {
    "AWSRegionName": {
      "max": 30,
      "min": 4,
      "type": "string"
    },
    "AWSSessionCredentials": {
      "documentation": "<p>Represents an AWS session credentials object. These credentials are temporary credentials that are issued by AWS Secure Token Service (STS). They can be used to access input and output artifacts in the S3 bucket used to store artifact for the pipeline in AWS CodePipeline.</p>",
      "members": {
        "accessKeyId": {
          "documentation": "<p>The access key for the session.</p>",
          "shape": "AccessKeyId"
        },
        "secretAccessKey": {
          "documentation": "<p>The secret access key for the session.</p>",
          "shape": "SecretAccessKey"
        },
        "sessionToken": {
          "documentation": "<p>The token for the session.</p>",
          "shape": "SessionToken"
        }
      },
      "required": [
        "accessKeyId",
        "secretAccessKey",
        "sessionToken"
      ],
      "sensitive": true,
      "type": "structure"
    },
    "AccessKeyId": {
      "type": "string"
    },
    "AccountId": {
      "pattern": "[0-9]{12}",
      "type": "string"
    },
    "AcknowledgeJobInput": {
      "documentation": "<p>Represents the input of an AcknowledgeJob action.</p>",
      "members": {
        "jobId": {
          "documentation": "<p>The unique system-generated ID of the job for which you want to confirm receipt.</p>",
          "shape": "JobId"
        },
        "nonce": {
          "documentation": "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response of the <a>PollForJobs</a> request that returned this job.</p>",
          "shape": "Nonce"
        }
      },
      "required": [
        "jobId",
        "nonce"
      ],
      "type": "structure"
    },
    "AcknowledgeJobOutput": {
      "documentation": "<p>Represents the output of an AcknowledgeJob action.</p>",
      "members": {
        "status": {
          "documentation": "<p>Whether the job worker has received the specified job.</p>",
          "shape": "JobStatus"
        }
      },
      "type": "structure"
    },
    "AcknowledgeThirdPartyJobInput": {
      "documentation": "<p>Represents the input of an AcknowledgeThirdPartyJob action.</p>",
      "members": {
        "clientToken": {
          "documentation": "<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>",
          "shape": "ClientToken"
        },
        "jobId": {
          "documentation": "<p>The unique system-generated ID of the job.</p>",
          "shape": "ThirdPartyJobId"
        },
        "nonce": {
          "documentation": "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Get this number from the response to a <a>GetThirdPartyJobDetails</a> request.</p>",
          "shape": "Nonce"
        }
      },
      "required": [
        "jobId",
        "nonce",
        "clientToken"
      ],
      "type": "structure"
    },
    "AcknowledgeThirdPartyJobOutput": {
      "documentation": "<p>Represents the output of an AcknowledgeThirdPartyJob action.</p>",
      "members": {
        "status": {
          "documentation": "<p>The status information for the third party job, if any.</p>",
          "shape": "JobStatus"
        }
      },
      "type": "structure"
    },
    "ActionCategory": {
      "enum": [
        "Source",
        "Build",
        "Deploy",
        "Test",
        "Invoke",
        "Approval"
      ],
      "type": "string"
    },
    "ActionConfiguration": {
      "documentation": "<p>Represents information about an action configuration.</p>",
      "members": {
        "configuration": {
          "documentation": "<p>The configuration data for the action.</p>",
          "shape": "ActionConfigurationMap"
        }
      },
      "type": "structure"
    },
    "ActionConfigurationKey": {
      "max": 50,
      "min": 1,
      "type": "string"
    },
    "ActionConfigurationMap": {
      "key": {
        "shape": "ActionConfigurationKey"
      },
      "type": "map",
      "value": {
        "shape": "ActionConfigurationValue"
      }
    },
    "ActionConfigurationProperty": {
      "documentation": "<p>Represents information about an action configuration property.</p>",
      "members": {
        "description": {
          "documentation": "<p>The description of the action configuration property that is displayed to users.</p>",
          "shape": "Description"
        },
        "key": {
          "documentation": "<p>Whether the configuration property is a key.</p>",
          "shape": "Boolean"
        },
        "name": {
          "documentation": "<p>The name of the action configuration property.</p>",
          "shape": "ActionConfigurationKey"
        },
        "queryable": {
          "documentation": "<p>Indicates that the property is used with <code>PollForJobs</code>. When creating a custom action, an action can have up to one queryable property. If it has one, that property must be both required and not secret.</p> <p>If you create a pipeline with a custom action type, and that custom action contains a queryable property, the value for that configuration property is subject to other restrictions. The value must be less than or equal to twenty (20) characters. The value can contain only alphanumeric characters, underscores, and hyphens.</p>",
          "shape": "Boolean"
        },
        "required": {
          "documentation": "<p>Whether the configuration property is a required value.</p>",
          "shape": "Boolean"
        },
        "secret": {
          "documentation": "<p>Whether the configuration property is secret. Secrets are hidden from all calls except for <code>GetJobDetails</code>, <code>GetThirdPartyJobDetails</code>, <code>PollForJobs</code>, and <code>PollForThirdPartyJobs</code>.</p> <p>When updating a pipeline, passing * * * * * without changing any other values of the action preserves the previous value of the secret.</p>",
          "shape": "Boolean"
        },
        "type": {
          "documentation": "<p>The type of the configuration property.</p>",
          "shape": "ActionConfigurationPropertyType"
        }
      },
      "required": [
        "name",
        "required",
        "key",
        "secret"
      ],
      "type": "structure"
    },
    "ActionConfigurationPropertyList": {
      "max": 10,
      "member": {
        "shape": "ActionConfigurationProperty"
      },
      "type": "list"
    },
    "ActionConfigurationPropertyType": {
      "enum": [
        "String",
        "Number",
        "Boolean"
      ],
      "type": "string"
    },
    "ActionConfigurationQueryableValue": {
      "max": 50,
      "min": 1,
      "pattern": "[a-zA-Z0-9_-]+",
      "type": "string"
    },
    "ActionConfigurationValue": {
      "max": 1000,
      "min": 1,
      "type": "string"
    },
    "ActionContext": {
      "documentation": "<p>Represents the context of an action in the stage of a pipeline to a job worker.</p>",
      "members": {
        "actionExecutionId": {
          "documentation": "<p>The system-generated unique ID that corresponds to an action's execution.</p>",
          "shape": "ActionExecutionId"
        },
        "name": {
          "documentation": "<p>The name of the action in the context of a job.</p>",
          "shape": "ActionName"
        }
      },
      "type": "structure"
    },
    "ActionDeclaration": {
      "documentation": "<p>Represents information about an action declaration.</p>",
      "members": {
        "actionTypeId": {
          "documentation": "<p>Specifies the action type and the provider of the action.</p>",
          "shape": "ActionTypeId"
        },
        "configuration": {
          "documentation": "<p>The action's configuration. These are key-value pairs that specify input values for an action. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#action-requirements\">Action Structure Requirements in CodePipeline</a>. For the list of configuration properties for the AWS CloudFormation action type in CodePipeline, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-action-reference.html\">Configuration Properties Reference</a> in the <i>AWS CloudFormation User Guide</i>. For template snippets with examples, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/continuous-delivery-codepipeline-parameter-override-functions.html\">Using Parameter Override Functions with CodePipeline Pipelines</a> in the <i>AWS CloudFormation User Guide</i>.</p> <p>The values can be represented in either JSON or YAML format. For example, the JSON configuration item format is as follows: </p> <p> <i>JSON:</i> </p> <p> <code>\"Configuration\" : { Key : Value },</code> </p>",
          "shape": "ActionConfigurationMap"
        },
        "inputArtifacts": {
          "documentation": "<p>The name or ID of the artifact consumed by the action, such as a test or build artifact.</p>",
          "shape": "InputArtifactList"
        },
        "name": {
          "documentation": "<p>The action declaration's name.</p>",
          "shape": "ActionName"
        },
        "namespace": {
          "documentation": "<p>The variable namespace associated with the action. All variables produced as output by this action fall under this namespace.</p>",
          "shape": "ActionNamespace"
        },
        "outputArtifacts": {
          "documentation": "<p>The name or ID of the result of the action declaration, such as a test or build artifact.</p>",
          "shape": "OutputArtifactList"
        },
        "region": {
          "documentation": "<p>The action declaration's AWS Region, such as us-east-1.</p>",
          "shape": "AWSRegionName"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM service role that performs the declared action. This is assumed through the roleArn for the pipeline.</p>",
          "shape": "RoleArn"
        },
        "runOrder": {
          "documentation": "<p>The order in which actions are run.</p>",
          "shape": "ActionRunOrder"
        }
      },
      "required": [
        "name",
        "actionTypeId"
      ],
      "type": "structure"
    },
    "ActionExecution": {
      "documentation": "<p>Represents information about the run of an action.</p>",
      "members": {
        "errorDetails": {
          "documentation": "<p>The details of an error returned by a URL external to AWS.</p>",
          "shape": "ErrorDetails"
        },
        "externalExecutionId": {
          "documentation": "<p>The external ID of the run of the action.</p>",
          "shape": "ExecutionId"
        },
        "externalExecutionUrl": {
          "documentation": "<p>The URL of a resource external to AWS that is used when running the action (for example, an external repository URL).</p>",
          "shape": "Url"
        },
        "lastStatusChange": {
          "documentation": "<p>The last status change of the action.</p>",
          "shape": "Timestamp"
        },
        "lastUpdatedBy": {
          "documentation": "<p>The ARN of the user who last changed the pipeline.</p>",
          "shape": "LastUpdatedBy"
        },
        "percentComplete": {
          "documentation": "<p>A percentage of completeness of the action as it runs.</p>",
          "shape": "Percentage"
        },
        "status": {
          "documentation": "<p>The status of the action, or for a completed action, the last status of the action.</p>",
          "shape": "ActionExecutionStatus"
        },
        "summary": {
          "documentation": "<p>A summary of the run of the action.</p>",
          "shape": "ExecutionSummary"
        },
        "token": {
          "documentation": "<p>The system-generated token used to identify a unique approval request. The token for each open approval request can be obtained using the <code>GetPipelineState</code> command. It is used to validate that the approval request corresponding to this token is still valid.</p>",
          "shape": "ActionExecutionToken"
        }
      },
      "type": "structure"
    },
    "ActionExecutionDetail": {
      "documentation": "<p>Returns information about an execution of an action, including the action execution ID, and the name, version, and timing of the action. </p>",
      "members": {
        "actionExecutionId": {
          "documentation": "<p>The action execution ID.</p>",
          "shape": "ActionExecutionId"
        },
        "actionName": {
          "documentation": "<p>The name of the action.</p>",
          "shape": "ActionName"
        },
        "input": {
          "documentation": "<p>Input details for the action execution, such as role ARN, Region, and input artifacts.</p>",
          "shape": "ActionExecutionInput"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last update time of the action execution.</p>",
          "shape": "Timestamp"
        },
        "output": {
          "documentation": "<p>Output details for the action execution, such as the action execution result.</p>",
          "shape": "ActionExecutionOutput"
        },
        "pipelineExecutionId": {
          "documentation": "<p>The pipeline execution ID for the action execution.</p>",
          "shape": "PipelineExecutionId"
        },
        "pipelineVersion": {
          "documentation": "<p>The version of the pipeline where the action was run.</p>",
          "shape": "PipelineVersion"
        },
        "stageName": {
          "documentation": "<p>The name of the stage that contains the action.</p>",
          "shape": "StageName"
        },
        "startTime": {
          "documentation": "<p>The start time of the action execution.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p> The status of the action execution. Status categories are <code>InProgress</code>, <code>Succeeded</code>, and <code>Failed</code>.</p>",
          "shape": "ActionExecutionStatus"
        }
      },
      "type": "structure"
    },
    "ActionExecutionDetailList": {
      "member": {
        "shape": "ActionExecutionDetail"
      },
      "type": "list"
    },
    "ActionExecutionFilter": {
      "documentation": "<p>Filter values for the action execution.</p>",
      "members": {
        "pipelineExecutionId": {
          "documentation": "<p>The pipeline execution ID used to filter action execution history.</p>",
          "shape": "PipelineExecutionId"
        }
      },
      "type": "structure"
    },
    "ActionExecutionId": {
      "type": "string"
    },
    "ActionExecutionInput": {
      "documentation": "<p>Input information used for an action execution.</p>",
      "members": {
        "actionTypeId": {
          "shape": "ActionTypeId"
        },
        "configuration": {
          "documentation": "<p>Configuration data for an action execution.</p>",
          "shape": "ActionConfigurationMap"
        },
        "inputArtifacts": {
          "documentation": "<p>Details of input artifacts of the action that correspond to the action execution.</p>",
          "shape": "ArtifactDetailList"
        },
        "namespace": {
          "documentation": "<p>The variable namespace associated with the action. All variables produced as output by this action fall under this namespace.</p>",
          "shape": "ActionNamespace"
        },
        "region": {
          "documentation": "<p>The AWS Region for the action, such as us-east-1.</p>",
          "shape": "AWSRegionName"
        },
        "resolvedConfiguration": {
          "documentation": "<p>Configuration data for an action execution with all variable references replaced with their real values for the execution.</p>",
          "shape": "ResolvedActionConfigurationMap"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the IAM service role that performs the declared action. This is assumed through the roleArn for the pipeline. </p>",
          "shape": "RoleArn"
        }
      },
      "type": "structure"
    },
    "ActionExecutionOutput": {
      "documentation": "<p>Output details listed for an action execution, such as the action execution result.</p>",
      "members": {
        "executionResult": {
          "documentation": "<p>Execution result information listed in the output details for an action execution.</p>",
          "shape": "ActionExecutionResult"
        },
        "outputArtifacts": {
          "documentation": "<p>Details of output artifacts of the action that correspond to the action execution.</p>",
          "shape": "ArtifactDetailList"
        },
        "outputVariables": {
          "documentation": "<p>The outputVariables field shows the key-value pairs that were output as part of that execution.</p>",
          "shape": "OutputVariablesMap"
        }
      },
      "type": "structure"
    },
    "ActionExecutionResult": {
      "documentation": "<p>Execution result information, such as the external execution ID.</p>",
      "members": {
        "externalExecutionId": {
          "documentation": "<p>The action provider's external ID for the action execution.</p>",
          "shape": "ExternalExecutionId"
        },
        "externalExecutionSummary": {
          "documentation": "<p>The action provider's summary for the action execution.</p>",
          "shape": "ExternalExecutionSummary"
        },
        "externalExecutionUrl": {
          "documentation": "<p>The deepest external link to the external resource (for example, a repository URL or deployment endpoint) that is used when running the action.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "ActionExecutionStatus": {
      "enum": [
        "InProgress",
        "Abandoned",
        "Succeeded",
        "Failed"
      ],
      "type": "string"
    },
    "ActionExecutionToken": {
      "type": "string"
    },
    "ActionName": {
      "max": 100,
      "min": 1,
      "pattern": "[A-Za-z0-9.@\\-_]+",
      "type": "string"
    },
    "ActionNamespace": {
      "max": 100,
      "min": 1,
      "pattern": "[A-Za-z0-9@\\-_]+",
      "type": "string"
    },
    "ActionNotFoundException": {
      "documentation": "<p>The specified action cannot be found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ActionOwner": {
      "enum": [
        "AWS",
        "ThirdParty",
        "Custom"
      ],
      "type": "string"
    },
    "ActionProvider": {
      "max": 25,
      "min": 1,
      "pattern": "[0-9A-Za-z_-]+",
      "type": "string"
    },
    "ActionRevision": {
      "documentation": "<p>Represents information about the version (or revision) of an action.</p>",
      "members": {
        "created": {
          "documentation": "<p>The date and time when the most recent version of the action was created, in timestamp format.</p>",
          "shape": "Timestamp"
        },
        "revisionChangeId": {
          "documentation": "<p>The unique identifier of the change that set the state to this revision (for example, a deployment ID or timestamp).</p>",
          "shape": "RevisionChangeIdentifier"
        },
        "revisionId": {
          "documentation": "<p>The system-generated unique ID that identifies the revision number of the action.</p>",
          "shape": "Revision"
        }
      },
      "required": [
        "revisionId",
        "revisionChangeId",
        "created"
      ],
      "type": "structure"
    },
    "ActionRunOrder": {
      "max": 999,
      "min": 1,
      "type": "integer"
    },
    "ActionState": {
      "documentation": "<p>Represents information about the state of an action.</p>",
      "members": {
        "actionName": {
          "documentation": "<p>The name of the action.</p>",
          "shape": "ActionName"
        },
        "currentRevision": {
          "documentation": "<p>Represents information about the version (or revision) of an action.</p>",
          "shape": "ActionRevision"
        },
        "entityUrl": {
          "documentation": "<p>A URL link for more information about the state of the action, such as a deployment group details page.</p>",
          "shape": "Url"
        },
        "latestExecution": {
          "documentation": "<p>Represents information about the run of an action.</p>",
          "shape": "ActionExecution"
        },
        "revisionUrl": {
          "documentation": "<p>A URL link for more information about the revision, such as a commit details page.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "ActionStateList": {
      "member": {
        "shape": "ActionState"
      },
      "type": "list"
    },
    "ActionType": {
      "documentation": "<p>Returns information about the details of an action type.</p>",
      "members": {
        "actionConfigurationProperties": {
          "documentation": "<p>The configuration properties for the action type.</p>",
          "shape": "ActionConfigurationPropertyList"
        },
        "id": {
          "documentation": "<p>Represents information about an action type.</p>",
          "shape": "ActionTypeId"
        },
        "inputArtifactDetails": {
          "documentation": "<p>The details of the input artifact for the action, such as its commit ID.</p>",
          "shape": "ArtifactDetails"
        },
        "outputArtifactDetails": {
          "documentation": "<p>The details of the output artifact of the action, such as its commit ID.</p>",
          "shape": "ArtifactDetails"
        },
        "settings": {
          "documentation": "<p>The settings for the action type.</p>",
          "shape": "ActionTypeSettings"
        }
      },
      "required": [
        "id",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "type": "structure"
    },
    "ActionTypeId": {
      "documentation": "<p>Represents information about an action type.</p>",
      "members": {
        "category": {
          "documentation": "<p>A category defines what kind of action can be taken in the stage, and constrains the provider type for the action. Valid categories are limited to one of the following values. </p>",
          "shape": "ActionCategory"
        },
        "owner": {
          "documentation": "<p>The creator of the action being called.</p>",
          "shape": "ActionOwner"
        },
        "provider": {
          "documentation": "<p>The provider of the service being called by the action. Valid providers are determined by the action category. For example, an action in the Deploy category type might have a provider of AWS CodeDeploy, which would be specified as CodeDeploy. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/reference-pipeline-structure.html#actions-valid-providers\">Valid Action Types and Providers in CodePipeline</a>.</p>",
          "shape": "ActionProvider"
        },
        "version": {
          "documentation": "<p>A string that describes the action version.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "category",
        "owner",
        "provider",
        "version"
      ],
      "type": "structure"
    },
    "ActionTypeList": {
      "member": {
        "shape": "ActionType"
      },
      "type": "list"
    },
    "ActionTypeNotFoundException": {
      "documentation": "<p>The specified action type cannot be found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ActionTypeSettings": {
      "documentation": "<p>Returns information about the settings for an action type.</p>",
      "members": {
        "entityUrlTemplate": {
          "documentation": "<p>The URL returned to the AWS CodePipeline console that provides a deep link to the resources of the external system, such as the configuration page for an AWS CodeDeploy deployment group. This link is provided as part of the action display in the pipeline.</p>",
          "shape": "UrlTemplate"
        },
        "executionUrlTemplate": {
          "documentation": "<p>The URL returned to the AWS CodePipeline console that contains a link to the top-level landing page for the external system, such as the console page for AWS CodeDeploy. This link is shown on the pipeline view page in the AWS CodePipeline console and provides a link to the execution entity of the external action.</p>",
          "shape": "UrlTemplate"
        },
        "revisionUrlTemplate": {
          "documentation": "<p>The URL returned to the AWS CodePipeline console that contains a link to the page where customers can update or change the configuration of the external action.</p>",
          "shape": "UrlTemplate"
        },
        "thirdPartyConfigurationUrl": {
          "documentation": "<p>The URL of a sign-up page where users can sign up for an external service and perform initial configuration of the action provided by that service.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "ApprovalAlreadyCompletedException": {
      "documentation": "<p>The approval action has already been approved or rejected.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ApprovalResult": {
      "documentation": "<p>Represents information about the result of an approval request.</p>",
      "members": {
        "status": {
          "documentation": "<p>The response submitted by a reviewer assigned to an approval action request.</p>",
          "shape": "ApprovalStatus"
        },
        "summary": {
          "documentation": "<p>The summary of the current status of the approval request.</p>",
          "shape": "ApprovalSummary"
        }
      },
      "required": [
        "summary",
        "status"
      ],
      "type": "structure"
    },
    "ApprovalStatus": {
      "enum": [
        "Approved",
        "Rejected"
      ],
      "type": "string"
    },
    "ApprovalSummary": {
      "max": 512,
      "min": 0,
      "type": "string"
    },
    "ApprovalToken": {
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "Artifact": {
      "documentation": "<p>Represents information about an artifact that is worked on by actions in the pipeline.</p>",
      "members": {
        "location": {
          "documentation": "<p>The location of an artifact.</p>",
          "shape": "ArtifactLocation"
        },
        "name": {
          "documentation": "<p>The artifact's name.</p>",
          "shape": "ArtifactName"
        },
        "revision": {
          "documentation": "<p>The artifact's revision ID. Depending on the type of object, this could be a commit ID (GitHub) or a revision ID (Amazon S3).</p>",
          "shape": "Revision"
        }
      },
      "type": "structure"
    },
    "ArtifactDetail": {
      "documentation": "<p>Artifact details for the action execution, such as the artifact location.</p>",
      "members": {
        "name": {
          "documentation": "<p>The artifact object name for the action execution.</p>",
          "shape": "ArtifactName"
        },
        "s3location": {
          "documentation": "<p>The Amazon S3 artifact location for the action execution.</p>",
          "shape": "S3Location"
        }
      },
      "type": "structure"
    },
    "ArtifactDetailList": {
      "member": {
        "shape": "ArtifactDetail"
      },
      "type": "list"
    },
    "ArtifactDetails": {
      "documentation": "<p>Returns information about the details of an artifact.</p>",
      "members": {
        "maximumCount": {
          "documentation": "<p>The maximum number of artifacts allowed for the action type.</p>",
          "shape": "MaximumArtifactCount"
        },
        "minimumCount": {
          "documentation": "<p>The minimum number of artifacts allowed for the action type.</p>",
          "shape": "MinimumArtifactCount"
        }
      },
      "required": [
        "minimumCount",
        "maximumCount"
      ],
      "type": "structure"
    },
    "ArtifactList": {
      "member": {
        "shape": "Artifact"
      },
      "type": "list"
    },
    "ArtifactLocation": {
      "documentation": "<p>Represents information about the location of an artifact.</p>",
      "members": {
        "s3Location": {
          "documentation": "<p>The S3 bucket that contains the artifact.</p>",
          "shape": "S3ArtifactLocation"
        },
        "type": {
          "documentation": "<p>The type of artifact in the location.</p>",
          "shape": "ArtifactLocationType"
        }
      },
      "type": "structure"
    },
    "ArtifactLocationType": {
      "enum": [
        "S3"
      ],
      "type": "string"
    },
    "ArtifactName": {
      "max": 100,
      "min": 1,
      "pattern": "[a-zA-Z0-9_\\-]+",
      "type": "string"
    },
    "ArtifactRevision": {
      "documentation": "<p>Represents revision details of an artifact. </p>",
      "members": {
        "created": {
          "documentation": "<p>The date and time when the most recent revision of the artifact was created, in timestamp format.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of an artifact. This name might be system-generated, such as \"MyApp\", or defined by the user when an action is created.</p>",
          "shape": "ArtifactName"
        },
        "revisionChangeIdentifier": {
          "documentation": "<p>An additional identifier for a revision, such as a commit date or, for artifacts stored in Amazon S3 buckets, the ETag value.</p>",
          "shape": "RevisionChangeIdentifier"
        },
        "revisionId": {
          "documentation": "<p>The revision ID of the artifact.</p>",
          "shape": "Revision"
        },
        "revisionSummary": {
          "documentation": "<p>Summary information about the most recent revision of the artifact. For GitHub and AWS CodeCommit repositories, the commit message. For Amazon S3 buckets or actions, the user-provided content of a <code>codepipeline-artifact-revision-summary</code> key specified in the object metadata.</p>",
          "shape": "RevisionSummary"
        },
        "revisionUrl": {
          "documentation": "<p>The commit ID for the artifact revision. For artifacts stored in GitHub or AWS CodeCommit repositories, the commit ID is linked to a commit details page.</p>",
          "shape": "Url"
        }
      },
      "type": "structure"
    },
    "ArtifactRevisionList": {
      "member": {
        "shape": "ArtifactRevision"
      },
      "type": "list"
    },
    "ArtifactStore": {
      "documentation": "<p>The S3 bucket where artifacts for the pipeline are stored.</p> <note> <p>You must include either <code>artifactStore</code> or <code>artifactStores</code> in your pipeline, but you cannot use both. If you create a cross-region action in your pipeline, you must use <code>artifactStores</code>.</p> </note>",
      "members": {
        "encryptionKey": {
          "documentation": "<p>The encryption key used to encrypt the data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. If this is undefined, the default key for Amazon S3 is used.</p>",
          "shape": "EncryptionKey"
        },
        "location": {
          "documentation": "<p>The S3 bucket used for storing the artifacts for a pipeline. You can specify the name of an S3 bucket but not a folder in the bucket. A folder to contain the pipeline artifacts is created for you based on the name of the pipeline. You can use any S3 bucket in the same AWS Region as the pipeline to store your pipeline artifacts.</p>",
          "shape": "ArtifactStoreLocation"
        },
        "type": {
          "documentation": "<p>The type of the artifact store, such as S3.</p>",
          "shape": "ArtifactStoreType"
        }
      },
      "required": [
        "type",
        "location"
      ],
      "type": "structure"
    },
    "ArtifactStoreLocation": {
      "max": 63,
      "min": 3,
      "pattern": "[a-zA-Z0-9\\-\\.]+",
      "type": "string"
    },
    "ArtifactStoreMap": {
      "key": {
        "shape": "AWSRegionName"
      },
      "type": "map",
      "value": {
        "shape": "ArtifactStore"
      }
    },
    "ArtifactStoreType": {
      "enum": [
        "S3"
      ],
      "type": "string"
    },
    "BlockerDeclaration": {
      "documentation": "<p>Reserved for future use.</p>",
      "members": {
        "name": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "BlockerName"
        },
        "type": {
          "documentation": "<p>Reserved for future use.</p>",
          "shape": "BlockerType"
        }
      },
      "required": [
        "name",
        "type"
      ],
      "type": "structure"
    },
    "BlockerName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "BlockerType": {
      "enum": [
        "Schedule"
      ],
      "type": "string"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ClientId": {
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "ClientRequestToken": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9-]+$",
      "type": "string"
    },
    "ClientToken": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "Code": {
      "type": "string"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>Unable to modify the tag due to a simultaneous update request.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ContinuationToken": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "CreateCustomActionTypeInput": {
      "documentation": "<p>Represents the input of a CreateCustomActionType operation.</p>",
      "members": {
        "category": {
          "documentation": "<p>The category of the custom action, such as a build action or a test action.</p> <note> <p>Although <code>Source</code> and <code>Approval</code> are listed as valid values, they are not currently functional. These values are reserved for future use.</p> </note>",
          "shape": "ActionCategory"
        },
        "configurationProperties": {
          "documentation": "<p>The configuration properties for the custom action.</p> <note> <p>You can refer to a name in the configuration properties of the custom action within the URL templates by following the format of {Config:name}, as long as the configuration property is both required and not secret. For more information, see <a href=\"https://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create a Custom Action for a Pipeline</a>.</p> </note>",
          "shape": "ActionConfigurationPropertyList"
        },
        "inputArtifactDetails": {
          "documentation": "<p>The details of the input artifact for the action, such as its commit ID.</p>",
          "shape": "ArtifactDetails"
        },
        "outputArtifactDetails": {
          "documentation": "<p>The details of the output artifact of the action, such as its commit ID.</p>",
          "shape": "ArtifactDetails"
        },
        "provider": {
          "documentation": "<p>The provider of the service used in the custom action, such as AWS CodeDeploy.</p>",
          "shape": "ActionProvider"
        },
        "settings": {
          "documentation": "<p>URLs that provide users information about this custom action.</p>",
          "shape": "ActionTypeSettings"
        },
        "tags": {
          "documentation": "<p>The tags for the custom action.</p>",
          "shape": "TagList"
        },
        "version": {
          "documentation": "<p>The version identifier of the custom action.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "category",
        "provider",
        "version",
        "inputArtifactDetails",
        "outputArtifactDetails"
      ],
      "type": "structure"
    },
    "CreateCustomActionTypeOutput": {
      "documentation": "<p>Represents the output of a <code>CreateCustomActionType</code> operation.</p>",
      "members": {
        "actionType": {
          "documentation": "<p>Returns information about the details of an action type.</p>",
          "shape": "ActionType"
        },
        "tags": {
          "documentation": "<p>Specifies the tags applied to the custom action.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "actionType"
      ],
      "type": "structure"
    },
    "CreatePipelineInput": {
      "documentation": "<p>Represents the input of a <code>CreatePipeline</code> action.</p>",
      "members": {
        "pipeline": {
          "documentation": "<p>Represents the structure of actions and stages to be performed in the pipeline. </p>",
          "shape": "PipelineDeclaration"
        },
        "tags": {
          "documentation": "<p>The tags for the pipeline.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "pipeline"
      ],
      "type": "structure"
    },
    "CreatePipelineOutput": {
      "documentation": "<p>Represents the output of a <code>CreatePipeline</code> action.</p>",
      "members": {
        "pipeline": {
          "documentation": "<p>Represents the structure of actions and stages to be performed in the pipeline. </p>",
          "shape": "PipelineDeclaration"
        },
        "tags": {
          "documentation": "<p>Specifies the tags applied to the pipeline.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "CurrentRevision": {
      "documentation": "<p>Represents information about a current revision.</p>",
      "members": {
        "changeIdentifier": {
          "documentation": "<p>The change identifier for the current revision.</p>",
          "shape": "RevisionChangeIdentifier"
        },
        "created": {
          "documentation": "<p>The date and time when the most recent revision of the artifact was created, in timestamp format.</p>",
          "shape": "Time"
        },
        "revision": {
          "documentation": "<p>The revision ID of the current version of an artifact.</p>",
          "shape": "Revision"
        },
        "revisionSummary": {
          "documentation": "<p>The summary of the most recent revision of the artifact.</p>",
          "shape": "RevisionSummary"
        }
      },
      "required": [
        "revision",
        "changeIdentifier"
      ],
      "type": "structure"
    },
    "DeleteCustomActionTypeInput": {
      "documentation": "<p>Represents the input of a <code>DeleteCustomActionType</code> operation. The custom action will be marked as deleted.</p>",
      "members": {
        "category": {
          "documentation": "<p>The category of the custom action that you want to delete, such as source or deploy.</p>",
          "shape": "ActionCategory"
        },
        "provider": {
          "documentation": "<p>The provider of the service used in the custom action, such as AWS CodeDeploy.</p>",
          "shape": "ActionProvider"
        },
        "version": {
          "documentation": "<p>The version of the custom action to delete.</p>",
          "shape": "Version"
        }
      },
      "required": [
        "category",
        "provider",
        "version"
      ],
      "type": "structure"
    },
    "DeletePipelineInput": {
      "documentation": "<p>Represents the input of a <code>DeletePipeline</code> action.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the pipeline to be deleted.</p>",
          "shape": "PipelineName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteWebhookInput": {
      "members": {
        "name": {
          "documentation": "<p>The name of the webhook you want to delete.</p>",
          "shape": "WebhookName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "DeleteWebhookOutput": {
      "members": {},
      "type": "structure"
    },
    "DeregisterWebhookWithThirdPartyInput": {
      "members": {
        "webhookName": {
          "documentation": "<p>The name of the webhook you want to deregister.</p>",
          "shape": "WebhookName"
        }
      },
      "type": "structure"
    },
    "DeregisterWebhookWithThirdPartyOutput": {
      "members": {},
      "type": "structure"
    },
    "Description": {
      "max": 160,
      "min": 1,
      "type": "string"
    },
    "DisableStageTransitionInput": {
      "documentation": "<p>Represents the input of a <code>DisableStageTransition</code> action.</p>",
      "members": {
        "pipelineName": {
          "documentation": "<p>The name of the pipeline in which you want to disable the flow of artifacts from one stage to another.</p>",
          "shape": "PipelineName"
        },
        "reason": {
          "documentation": "<p>The reason given to the user that a stage is disabled, such as waiting for manual approval or manual tests. This message is displayed in the pipeline console UI.</p>",
          "shape": "DisabledReason"
        },
        "stageName": {
          "documentation": "<p>The name of the stage where you want to disable the inbound or outbound transition of artifacts.</p>",
          "shape": "StageName"
        },
        "transitionType": {
          "documentation": "<p>Specifies whether artifacts are prevented from transitioning into the stage and being processed by the actions in that stage (inbound), or prevented from transitioning from the stage after they have been processed by the actions in that stage (outbound).</p>",
          "shape": "StageTransitionType"
        }
      },
      "required": [
        "pipelineName",
        "stageName",
        "transitionType",
        "reason"
      ],
      "type": "structure"
    },
    "DisabledReason": {
      "max": 300,
      "min": 1,
      "pattern": "[a-zA-Z0-9!@ \\(\\)\\.\\*\\?\\-]+",
      "type": "string"
    },
    "DuplicatedStopRequestException": {
      "documentation": "<p>The pipeline execution is already in a <code>Stopping</code> state. If you already chose to stop and wait, you cannot make that request again. You can choose to stop and abandon now, but be aware that this option can lead to failed tasks or out of sequence tasks. If you already chose to stop and abandon, you cannot make that request again.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "EnableStageTransitionInput": {
      "documentation": "<p>Represents the input of an <code>EnableStageTransition</code> action.</p>",
      "members": {
        "pipelineName": {
          "documentation": "<p>The name of the pipeline in which you want to enable the flow of artifacts from one stage to another.</p>",
          "shape": "PipelineName"
        },
        "stageName": {
          "documentation": "<p>The name of the stage where you want to enable the transition of artifacts, either into the stage (inbound) or from that stage to the next stage (outbound).</p>",
          "shape": "StageName"
        },
        "transitionType": {
          "documentation": "<p>Specifies whether artifacts are allowed to enter the stage and be processed by the actions in that stage (inbound) or whether already processed artifacts are allowed to transition to the next stage (outbound).</p>",
          "shape": "StageTransitionType"
        }
      },
      "required": [
        "pipelineName",
        "stageName",
        "transitionType"
      ],
      "type": "structure"
    },
    "Enabled": {
      "type": "boolean"
    },
    "EncryptionKey": {
      "documentation": "<p>Represents information about the key used to encrypt data in the artifact store, such as an AWS Key Management Service (AWS KMS) key.</p>",
      "members": {
        "id": {
          "documentation": "<p>The ID used to identify the key. For an AWS KMS key, you can use the key ID, the key ARN, or the alias ARN.</p> <note> <p>Aliases are recognized only in the account that created the customer master key (CMK). For cross-account actions, you can only use the key ID or key ARN to identify the key.</p> </note>",
          "shape": "EncryptionKeyId"
        },
        "type": {
          "documentation": "<p>The type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When creating or updating a pipeline, the value must be set to 'KMS'.</p>",
          "shape": "EncryptionKeyType"
        }
      },
      "required": [
        "id",
        "type"
      ],
      "type": "structure"
    },
    "EncryptionKeyId": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "EncryptionKeyType": {
      "enum": [
        "KMS"
      ],
      "type": "string"
    },
    "ErrorDetails": {
      "documentation": "<p>Represents information about an error in AWS CodePipeline.</p>",
      "members": {
        "code": {
          "documentation": "<p>The system ID or number code of the error.</p>",
          "shape": "Code"
        },
        "message": {
          "documentation": "<p>The text of the error message.</p>",
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ExecutionDetails": {
      "documentation": "<p>The details of the actions taken and results produced on an artifact as it passes through stages in the pipeline.</p>",
      "members": {
        "externalExecutionId": {
          "documentation": "<p>The system-generated unique ID of this action used to identify this job worker in any external systems, such as AWS CodeDeploy.</p>",
          "shape": "ExecutionId"
        },
        "percentComplete": {
          "documentation": "<p>The percentage of work completed on the action, represented on a scale of 0 to 100 percent.</p>",
          "shape": "Percentage"
        },
        "summary": {
          "documentation": "<p>The summary of the current status of the actions.</p>",
          "shape": "ExecutionSummary"
        }
      },
      "type": "structure"
    },
    "ExecutionId": {
      "max": 1500,
      "min": 1,
      "type": "string"
    },
    "ExecutionSummary": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "ExecutionTrigger": {
      "documentation": "<p>The interaction or event that started a pipeline execution.</p>",
      "members": {
        "triggerDetail": {
          "documentation": "<p>Detail related to the event that started a pipeline execution, such as the webhook ARN of the webhook that triggered the pipeline execution or the user ARN for a user-initiated <code>start-pipeline-execution</code> CLI command.</p>",
          "shape": "TriggerDetail"
        },
        "triggerType": {
          "documentation": "<p>The type of change-detection method, command, or user interaction that started a pipeline execution.</p>",
          "shape": "TriggerType"
        }
      },
      "type": "structure"
    },
    "ExternalExecutionId": {
      "type": "string"
    },
    "ExternalExecutionSummary": {
      "type": "string"
    },
    "FailureDetails": {
      "documentation": "<p>Represents information about failure details.</p>",
      "members": {
        "externalExecutionId": {
          "documentation": "<p>The external ID of the run of the action that failed.</p>",
          "shape": "ExecutionId"
        },
        "message": {
          "documentation": "<p>The message about the failure.</p>",
          "shape": "Message"
        },
        "type": {
          "documentation": "<p>The type of the failure.</p>",
          "shape": "FailureType"
        }
      },
      "required": [
        "type",
        "message"
      ],
      "type": "structure"
    },
    "FailureType": {
      "enum": [
        "JobFailed",
        "ConfigurationError",
        "PermissionError",
        "RevisionOutOfSync",
        "RevisionUnavailable",
        "SystemUnavailable"
      ],
      "type": "string"
    },
    "GetJobDetailsInput": {
      "documentation": "<p>Represents the input of a <code>GetJobDetails</code> action.</p>",
      "members": {
        "jobId": {
          "documentation": "<p>The unique system-generated ID for the job.</p>",
          "shape": "JobId"
        }
      },
      "required": [
        "jobId"
      ],
      "type": "structure"
    },
    "GetJobDetailsOutput": {
      "documentation": "<p>Represents the output of a <code>GetJobDetails</code> action.</p>",
      "members": {
        "jobDetails": {
          "documentation": "<p>The details of the job.</p> <note> <p>If AWSSessionCredentials is used, a long-running job can call <code>GetJobDetails</code> again to obtain new credentials.</p> </note>",
          "shape": "JobDetails"
        }
      },
      "type": "structure"
    },
    "GetPipelineExecutionInput": {
      "documentation": "<p>Represents the input of a <code>GetPipelineExecution</code> action.</p>",
      "members": {
        "pipelineExecutionId": {
          "documentation": "<p>The ID of the pipeline execution about which you want to get execution details.</p>",
          "shape": "PipelineExecutionId"
        },
        "pipelineName": {
          "documentation": "<p>The name of the pipeline about which you want to get execution details.</p>",
          "shape": "PipelineName"
        }
      },
      "required": [
        "pipelineName",
        "pipelineExecutionId"
      ],
      "type": "structure"
    },
    "GetPipelineExecutionOutput": {
      "documentation": "<p>Represents the output of a <code>GetPipelineExecution</code> action.</p>",
      "members": {
        "pipelineExecution": {
          "documentation": "<p>Represents information about the execution of a pipeline.</p>",
          "shape": "PipelineExecution"
        }
      },
      "type": "structure"
    },
    "GetPipelineInput": {
      "documentation": "<p>Represents the input of a <code>GetPipeline</code> action.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the pipeline for which you want to get information. Pipeline names must be unique under an AWS user account.</p>",
          "shape": "PipelineName"
        },
        "version": {
          "documentation": "<p>The version number of the pipeline. If you do not specify a version, defaults to the current version.</p>",
          "shape": "PipelineVersion"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "GetPipelineOutput": {
      "documentation": "<p>Represents the output of a <code>GetPipeline</code> action.</p>",
      "members": {
        "metadata": {
          "documentation": "<p>Represents the pipeline metadata information returned as part of the output of a <code>GetPipeline</code> action.</p>",
          "shape": "PipelineMetadata"
        },
        "pipeline": {
          "documentation": "<p>Represents the structure of actions and stages to be performed in the pipeline. </p>",
          "shape": "PipelineDeclaration"
        }
      },
      "type": "structure"
    },
    "GetPipelineStateInput": {
      "documentation": "<p>Represents the input of a <code>GetPipelineState</code> action.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the pipeline about which you want to get information.</p>",
          "shape": "PipelineName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "GetPipelineStateOutput": {
      "documentation": "<p>Represents the output of a <code>GetPipelineState</code> action.</p>",
      "members": {
        "created": {
          "documentation": "<p>The date and time the pipeline was created, in timestamp format.</p>",
          "shape": "Timestamp"
        },
        "pipelineName": {
          "documentation": "<p>The name of the pipeline for which you want to get the state.</p>",
          "shape": "PipelineName"
        },
        "pipelineVersion": {
          "documentation": "<p>The version number of the pipeline.</p> <note> <p>A newly created pipeline is always assigned a version number of <code>1</code>.</p> </note>",
          "shape": "PipelineVersion"
        },
        "stageStates": {
          "documentation": "<p>A list of the pipeline stage output information, including stage name, state, most recent run details, whether the stage is disabled, and other data.</p>",
          "shape": "StageStateList"
        },
        "updated": {
          "documentation": "<p>The date and time the pipeline was last updated, in timestamp format.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GetThirdPartyJobDetailsInput": {
      "documentation": "<p>Represents the input of a <code>GetThirdPartyJobDetails</code> action.</p>",
      "members": {
        "clientToken": {
          "documentation": "<p>The clientToken portion of the clientId and clientToken pair used to verify that the calling entity is allowed access to the job and its details.</p>",
          "shape": "ClientToken"
        },
        "jobId": {
          "documentation": "<p>The unique system-generated ID used for identifying the job.</p>",
          "shape": "ThirdPartyJobId"
        }
      },
      "required": [
        "jobId",
        "clientToken"
      ],
      "type": "structure"
    },
    "GetThirdPartyJobDetailsOutput": {
      "documentation": "<p>Represents the output of a <code>GetThirdPartyJobDetails</code> action.</p>",
      "members": {
        "jobDetails": {
          "documentation": "<p>The details of the job, including any protected values defined for the job.</p>",
          "shape": "ThirdPartyJobDetails"
        }
      },
      "type": "structure"
    },
    "InputArtifact": {
      "documentation": "<p>Represents information about an artifact to be worked on, such as a test or build artifact.</p>",
      "members": {
        "name": {
          "documentation": "<p>The name of the artifact to be worked on (for example, \"My App\").</p> <p>The input artifact of an action must exactly match the output artifact declared in a preceding action, but the input artifact does not have to be the next action in strict sequence from the action that provided the output artifact. Actions in parallel can declare different output artifacts, which are in turn consumed by different following actions.</p>",
          "shape": "ArtifactName"
        }
      },
      "required": [
        "name"
      ],
      "type": "structure"
    },
    "InputArtifactList": {
      "member": {
        "shape": "InputArtifact"
      },
      "type": "list"
    },
    "InvalidActionDeclarationException": {
      "documentation": "<p>The action declaration was specified in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidApprovalTokenException": {
      "documentation": "<p>The approval request already received a response or has expired.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidArnException": {
      "documentation": "<p>The specified resource ARN is invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "InvalidBlockerDeclarationException": {
      "documentation": "<p>Reserved for future use.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidClientTokenException": {
      "documentation": "<p>The client token was specified in an invalid format</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidJobException": {
      "documentation": "<p>The job was specified in an invalid format or cannot be found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidJobStateException": {
      "documentation": "<p>The job state was specified in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The next token was specified in an invalid format. Make sure that the next token you provide is the token returned by a previous call.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidNonceException": {
      "documentation": "<p>The nonce was specified in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidStageDeclarationException": {
      "documentation": "<p>The stage declaration was specified in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidStructureException": {
      "documentation": "<p>The structure was specified in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTagsException": {
      "documentation": "<p>The specified resource tags are invalid.</p>",
      "exception": true,
      "members": {
        "message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "InvalidWebhookAuthenticationParametersException": {
      "documentation": "<p>The specified authentication type is in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidWebhookFilterPatternException": {
      "documentation": "<p>The specified event filter rule is in an invalid format.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Job": {
      "documentation": "<p>Represents information about a job.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The ID of the AWS account to use when performing the job.</p>",
          "shape": "AccountId"
        },
        "data": {
          "documentation": "<p>Other data about a job.</p>",
          "shape": "JobData"
        },
        "id": {
          "documentation": "<p>The unique system-generated ID of the job.</p>",
          "shape": "JobId"
        },
        "nonce": {
          "documentation": "<p>A system-generated random number that AWS CodePipeline uses to ensure that the job is being worked on by only one job worker. Use this number in an <a>AcknowledgeJob</a> request.</p>",
          "shape": "Nonce"
        }
      },
      "type": "structure"
    },
    "JobData": {
      "documentation": "<p>Represents other information about a job required for a job worker to complete the job.</p>",
      "members": {
        "actionConfiguration": {
          "documentation": "<p>Represents information about an action configuration.</p>",
          "shape": "ActionConfiguration"
        },
        "actionTypeId": {
          "documentation": "<p>Represents information about an action type.</p>",
          "shape": "ActionTypeId"
        },
        "artifactCredentials": {
          "documentation": "<p>Represents an AWS session credentials object. These credentials are temporary credentials that are issued by AWS Secure Token Service (STS). They can be used to access input and output artifacts in the S3 bucket used to store artifacts for the pipeline in AWS CodePipeline.</p>",
          "shape": "AWSSessionCredentials"
        },
        "continuationToken": {
          "documentation": "<p>A system-generated token, such as a AWS CodeDeploy deployment ID, required by a job to continue the job asynchronously.</p>",
          "shape": "ContinuationToken"
        },
        "encryptionKey": {
          "documentation": "<p>Represents information about the key used to encrypt data in the artifact store, such as an AWS Key Management Service (AWS KMS) key. </p>",
          "shape": "EncryptionKey"
        },
        "inputArtifacts": {
          "documentation": "<p>The artifact supplied to the job.</p>",
          "shape": "ArtifactList"
        },
        "outputArtifacts": {
          "documentation": "<p>The output of the job.</p>",
          "shape": "ArtifactList"
        },
        "pipelineContext": {
          "documentation": "<p>Represents information about a pipeline to a job worker.</p> <note> <p>Includes <code>pipelineArn</code> and <code>pipelineExecutionId</code> for custom jobs.</p> </note>",
          "shape": "PipelineContext"
        }
      },
      "type": "structure"
    },
    "JobDetails": {
      "documentation": "<p>Represents information about the details of a job.</p>",
      "members": {
        "accountId": {
          "documentation": "<p>The AWS account ID associated with the job.</p>",
          "shape": "AccountId"
        },
        "data": {
          "documentation": "<p>Represents other information about a job required for a job worker to complete the job. </p>",
          "shape": "JobData"
        },
        "id": {
          "documentation": "<p>The unique system-generated ID of the job.</p>",
          "shape": "JobId"
        }
      },
      "type": "structure"
    },
    "JobId": {
      "pattern": "[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}",
      "type": "string"
    },
    "JobList": {
      "member": {
        "shape": "Job"
      },
      "type": "list"
    },
    "JobNotFoundException": {
      "documentation": "<p>The job was specified in an invalid format or cannot be found.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "JobStatus": {
      "enum": [
        "Created",
        "Queued",
        "Dispatched",
        "InProgress",
        "TimedOut",
        "Succeeded",
        "Failed"
      ],
      "type": "string"
    },
    "JsonPath": {
      "max": 150,
      "min": 1,
      "type": "string"
    },
    "LastChangedAt": {
      "type": "timestamp"
    },
    "LastChangedBy": {
      "type": "string"
    },
    "LastUpdatedBy": {
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>The number of pipelines associated with the AWS account has exceeded the limit allowed for the account.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ListActionExecutionsInput": {
      "members": {
        "filter": {
          "documentation": "<p>Input information used to filter action execution history.</p>",
          "shape": "ActionExecutionFilter"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in a single call. To retrieve the remaining results, make another call with the returned nextToken value. Action execution history is retained for up to 12 months, based on action execution start times. Default value is 100. </p> <note> <p>Detailed execution history is available for executions run on or after February 21, 2019.</p> </note>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token that was returned from the previous <code>ListActionExecutions</code> call, which can be used to return the next set of action executions in the list.</p>",
          "shape": "NextToken"
        },
        "pipelineName": {
          "documentation": "<p> The name of the pipeline for which you want to list action execution history.</p>",
          "shape": "PipelineName"
        }
      },
      "required": [
        "pipelineName"
      ],
      "type": "structure"
    },
    "ListActionExecutionsOutput": {
      "members": {
        "actionExecutionDetails": {
          "documentation": "<p>The details for a list of recent executions, such as action execution ID.</p>",
          "shape": "ActionExecutionDetailList"
        },
        "nextToken": {
          "documentation": "<p>If the amount of returned information is significantly large, an identifier is also returned and can be used in a subsequent <code>ListActionExecutions</code> call to return the next set of action executions in the list.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListActionTypesInput": {
[...]
