{
  "documentation": "<fullname>AWS Database Migration Service</fullname> <p>AWS Database Migration Service (AWS DMS) can migrate your data to and from the most widely used commercial and open-source databases such as Oracle, PostgreSQL, Microsoft SQL Server, Amazon Redshift, MariaDB, Amazon Aurora, MySQL, and SAP Adaptive Server Enterprise (ASE). The service supports homogeneous migrations such as Oracle to Oracle, as well as heterogeneous migrations between different database platforms, such as Oracle to MySQL or SQL Server to PostgreSQL.</p> <p>For more information about AWS DMS, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/Welcome.html\">What Is AWS Database Migration Service?</a> in the <i>AWS Database Migration User Guide.</i> </p>",
  "metadata": {
    "apiVersion": "2016-01-01",
    "endpointPrefix": "dms",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Database Migration Service",
    "serviceId": "Database Migration Service",
    "signatureVersion": "v4",
    "targetPrefix": "AmazonDMSv20160101",
    "uid": "dms-2016-01-01"
  },
  "operations": {
    "AddTagsToResource": {
      "documentation": "<p>Adds metadata tags to an AWS DMS resource, including replication instance, endpoint, security group, and migration task. These tags can also be used with cost allocation reporting to track cost associated with DMS resources, or used in a Condition statement in an IAM policy for DMS.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceMessage"
      },
      "name": "AddTagsToResource",
      "output": {
        "shape": "AddTagsToResourceResponse"
      }
    },
    "ApplyPendingMaintenanceAction": {
      "documentation": "<p>Applies a pending maintenance action to a resource (for example, to a replication instance).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApplyPendingMaintenanceActionMessage"
      },
      "name": "ApplyPendingMaintenanceAction",
      "output": {
        "shape": "ApplyPendingMaintenanceActionResponse"
      }
    },
    "CreateEndpoint": {
      "documentation": "<p>Creates an endpoint using the provided settings.</p>",
      "errors": [
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "AccessDeniedFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEndpointMessage"
      },
      "name": "CreateEndpoint",
      "output": {
        "shape": "CreateEndpointResponse"
      }
    },
    "CreateEventSubscription": {
      "documentation": "<p> Creates an AWS DMS event notification subscription. </p> <p>You can specify the type of source (<code>SourceType</code>) you want to be notified of, provide a list of AWS DMS source IDs (<code>SourceIds</code>) that triggers the events, and provide a list of event categories (<code>EventCategories</code>) for events you want to be notified of. If you specify both the <code>SourceType</code> and <code>SourceIds</code>, such as <code>SourceType = replication-instance</code> and <code>SourceIdentifier = my-replinstance</code>, you will be notified of all the replication instance events for the specified source. If you specify a <code>SourceType</code> but don't specify a <code>SourceIdentifier</code>, you receive notice of the events for that source type for all your AWS DMS sources. If you don't specify either <code>SourceType</code> nor <code>SourceIdentifier</code>, you will be notified of events generated from all AWS DMS sources belonging to your customer account.</p> <p>For more information about AWS DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
      "errors": [
        {
          "shape": "ResourceQuotaExceededFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "SNSInvalidTopicFault"
        },
        {
          "shape": "SNSNoAuthorizationFault"
        },
        {
          "shape": "KMSAccessDeniedFault"
        },
        {
          "shape": "KMSDisabledFault"
        },
        {
          "shape": "KMSInvalidStateFault"
        },
        {
          "shape": "KMSNotFoundFault"
        },
        {
          "shape": "KMSThrottlingFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEventSubscriptionMessage"
      },
      "name": "CreateEventSubscription",
      "output": {
        "shape": "CreateEventSubscriptionResponse"
      }
    },
    "CreateReplicationInstance": {
      "documentation": "<p>Creates the replication instance using the specified parameters.</p> <p>AWS DMS requires that your account have certain roles with appropriate permissions before you can create a replication instance. For information on the required roles, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.APIRole.html\">Creating the IAM Roles to Use With the AWS CLI and AWS DMS API</a>. For information on the required permissions, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Security.IAMPermissions.html\">IAM Permissions Needed to Use AWS DMS</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "InsufficientResourceCapacityFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "ReplicationSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReplicationInstanceMessage"
      },
      "name": "CreateReplicationInstance",
      "output": {
        "shape": "CreateReplicationInstanceResponse"
      }
    },
    "CreateReplicationSubnetGroup": {
      "documentation": "<p>Creates a replication subnet group given a list of the subnet IDs in a VPC.</p>",
      "errors": [
        {
          "shape": "AccessDeniedFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        },
        {
          "shape": "ReplicationSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReplicationSubnetGroupMessage"
      },
      "name": "CreateReplicationSubnetGroup",
      "output": {
        "shape": "CreateReplicationSubnetGroupResponse"
      }
    },
    "CreateReplicationTask": {
      "documentation": "<p>Creates a replication task using the specified parameters.</p>",
      "errors": [
        {
          "shape": "AccessDeniedFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateReplicationTaskMessage"
      },
      "name": "CreateReplicationTask",
      "output": {
        "shape": "CreateReplicationTaskResponse"
      }
    },
    "DeleteCertificate": {
      "documentation": "<p>Deletes the specified certificate. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCertificateMessage"
      },
      "name": "DeleteCertificate",
      "output": {
        "shape": "DeleteCertificateResponse"
      }
    },
    "DeleteConnection": {
      "documentation": "<p>Deletes the connection between a replication instance and an endpoint.</p>",
      "errors": [
        {
          "shape": "AccessDeniedFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectionMessage"
      },
      "name": "DeleteConnection",
      "output": {
        "shape": "DeleteConnectionResponse"
      }
    },
    "DeleteEndpoint": {
      "documentation": "<p>Deletes the specified endpoint.</p> <note> <p>All tasks associated with the endpoint must be deleted before you can delete the endpoint.</p> </note> <p/>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEndpointMessage"
      },
      "name": "DeleteEndpoint",
      "output": {
        "shape": "DeleteEndpointResponse"
      }
    },
    "DeleteEventSubscription": {
      "documentation": "<p> Deletes an AWS DMS event subscription. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventSubscriptionMessage"
      },
      "name": "DeleteEventSubscription",
      "output": {
        "shape": "DeleteEventSubscriptionResponse"
      }
    },
    "DeleteReplicationInstance": {
      "documentation": "<p>Deletes the specified replication instance.</p> <note> <p>You must delete any migration tasks that are associated with the replication instance before you can delete it.</p> </note> <p/>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReplicationInstanceMessage"
      },
      "name": "DeleteReplicationInstance",
      "output": {
        "shape": "DeleteReplicationInstanceResponse"
      }
    },
    "DeleteReplicationSubnetGroup": {
      "documentation": "<p>Deletes a subnet group.</p>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReplicationSubnetGroupMessage"
      },
      "name": "DeleteReplicationSubnetGroup",
      "output": {
        "shape": "DeleteReplicationSubnetGroupResponse"
      }
    },
    "DeleteReplicationTask": {
      "documentation": "<p>Deletes the specified replication task.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteReplicationTaskMessage"
      },
      "name": "DeleteReplicationTask",
      "output": {
        "shape": "DeleteReplicationTaskResponse"
      }
    },
    "DescribeAccountAttributes": {
      "documentation": "<p>Lists all of the AWS DMS attributes for a customer account. These attributes include AWS DMS quotas for the account and a unique account identifier in a particular DMS region. DMS quotas include a list of resource quotas supported by the account, such as the number of replication instances allowed. The description for each resource quota, includes the quota name, current usage toward that quota, and the quota's maximum value. DMS uses the unique account identifier to name each artifact used by DMS in the given region.</p> <p>This command does not take any parameters.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountAttributesMessage"
      },
      "name": "DescribeAccountAttributes",
      "output": {
        "shape": "DescribeAccountAttributesResponse"
      }
    },
    "DescribeCertificates": {
      "documentation": "<p>Provides a description of the certificate.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificatesMessage"
      },
      "name": "DescribeCertificates",
      "output": {
        "shape": "DescribeCertificatesResponse"
      }
    },
    "DescribeConnections": {
      "documentation": "<p>Describes the status of the connections that have been made between the replication instance and an endpoint. Connections are created when you test an endpoint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConnectionsMessage"
      },
      "name": "DescribeConnections",
      "output": {
        "shape": "DescribeConnectionsResponse"
      }
    },
    "DescribeEndpointTypes": {
      "documentation": "<p>Returns information about the type of endpoints available.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointTypesMessage"
      },
      "name": "DescribeEndpointTypes",
      "output": {
        "shape": "DescribeEndpointTypesResponse"
      }
    },
    "DescribeEndpoints": {
      "documentation": "<p>Returns information about the endpoints for your account in the current region.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEndpointsMessage"
      },
      "name": "DescribeEndpoints",
      "output": {
        "shape": "DescribeEndpointsResponse"
      }
    },
    "DescribeEventCategories": {
      "documentation": "<p>Lists categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventCategoriesMessage"
      },
      "name": "DescribeEventCategories",
      "output": {
        "shape": "DescribeEventCategoriesResponse"
      }
    },
    "DescribeEventSubscriptions": {
      "documentation": "<p>Lists all the event subscriptions for a customer account. The description of a subscription includes <code>SubscriptionName</code>, <code>SNSTopicARN</code>, <code>CustomerID</code>, <code>SourceType</code>, <code>SourceID</code>, <code>CreationTime</code>, and <code>Status</code>. </p> <p>If you specify <code>SubscriptionName</code>, this action lists the description for that subscription.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventSubscriptionsMessage"
      },
      "name": "DescribeEventSubscriptions",
      "output": {
        "shape": "DescribeEventSubscriptionsResponse"
      }
    },
    "DescribeEvents": {
      "documentation": "<p> Lists events for a given source identifier and source type. You can also specify a start and end time. For more information on AWS DMS events, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>AWS Database Migration User Guide.</i> </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "shape": "DescribeEventsResponse"
      }
    },
    "DescribeOrderableReplicationInstances": {
      "documentation": "<p>Returns information about the replication instance types that can be created in the specified region.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrderableReplicationInstancesMessage"
      },
      "name": "DescribeOrderableReplicationInstances",
      "output": {
        "shape": "DescribeOrderableReplicationInstancesResponse"
      }
    },
    "DescribePendingMaintenanceActions": {
      "documentation": "<p>For internal use only</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePendingMaintenanceActionsMessage"
      },
      "name": "DescribePendingMaintenanceActions",
      "output": {
        "shape": "DescribePendingMaintenanceActionsResponse"
      }
    },
    "DescribeRefreshSchemasStatus": {
      "documentation": "<p>Returns the status of the RefreshSchemas operation.</p>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRefreshSchemasStatusMessage"
      },
      "name": "DescribeRefreshSchemasStatus",
      "output": {
        "shape": "DescribeRefreshSchemasStatusResponse"
      }
    },
    "DescribeReplicationInstanceTaskLogs": {
      "documentation": "<p>Returns information about the task logs for the specified task.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReplicationInstanceTaskLogsMessage"
      },
      "name": "DescribeReplicationInstanceTaskLogs",
      "output": {
        "shape": "DescribeReplicationInstanceTaskLogsResponse"
      }
    },
    "DescribeReplicationInstances": {
      "documentation": "<p>Returns information about replication instances for your account in the current region.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReplicationInstancesMessage"
      },
      "name": "DescribeReplicationInstances",
      "output": {
        "shape": "DescribeReplicationInstancesResponse"
      }
    },
    "DescribeReplicationSubnetGroups": {
      "documentation": "<p>Returns information about the replication subnet groups.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReplicationSubnetGroupsMessage"
      },
      "name": "DescribeReplicationSubnetGroups",
      "output": {
        "shape": "DescribeReplicationSubnetGroupsResponse"
      }
    },
    "DescribeReplicationTaskAssessmentResults": {
      "documentation": "<p>Returns the task assessment results from Amazon S3. This action always returns the latest results.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReplicationTaskAssessmentResultsMessage"
      },
      "name": "DescribeReplicationTaskAssessmentResults",
      "output": {
        "shape": "DescribeReplicationTaskAssessmentResultsResponse"
      }
    },
    "DescribeReplicationTasks": {
      "documentation": "<p>Returns information about replication tasks for your account in the current region.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReplicationTasksMessage"
      },
      "name": "DescribeReplicationTasks",
      "output": {
        "shape": "DescribeReplicationTasksResponse"
      }
    },
    "DescribeSchemas": {
      "documentation": "<p>Returns information about the schema for the specified endpoint.</p> <p/>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSchemasMessage"
      },
      "name": "DescribeSchemas",
      "output": {
        "shape": "DescribeSchemasResponse"
      }
    },
    "DescribeTableStatistics": {
      "documentation": "<p>Returns table statistics on the database migration task, including table name, rows inserted, rows updated, and rows deleted.</p> <p>Note that the \"last updated\" column the DMS console only indicates the time that AWS DMS last updated the table statistics record for a table. It does not indicate the time of the last update to the table.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTableStatisticsMessage"
      },
      "name": "DescribeTableStatistics",
      "output": {
        "shape": "DescribeTableStatisticsResponse"
      }
    },
    "ImportCertificate": {
      "documentation": "<p>Uploads the specified certificate.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "InvalidCertificateFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportCertificateMessage"
      },
      "name": "ImportCertificate",
      "output": {
        "shape": "ImportCertificateResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags for an AWS DMS resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceMessage"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ModifyEndpoint": {
      "documentation": "<p>Modifies the specified endpoint.</p>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "AccessDeniedFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyEndpointMessage"
      },
      "name": "ModifyEndpoint",
      "output": {
        "shape": "ModifyEndpointResponse"
      }
    },
    "ModifyEventSubscription": {
      "documentation": "<p>Modifies an existing AWS DMS event notification subscription. </p>",
      "errors": [
        {
          "shape": "ResourceQuotaExceededFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "SNSInvalidTopicFault"
        },
        {
          "shape": "SNSNoAuthorizationFault"
        },
        {
          "shape": "KMSAccessDeniedFault"
        },
        {
          "shape": "KMSDisabledFault"
        },
        {
          "shape": "KMSInvalidStateFault"
        },
        {
          "shape": "KMSNotFoundFault"
        },
        {
          "shape": "KMSThrottlingFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyEventSubscriptionMessage"
      },
      "name": "ModifyEventSubscription",
      "output": {
        "shape": "ModifyEventSubscriptionResponse"
      }
    },
    "ModifyReplicationInstance": {
      "documentation": "<p>Modifies the replication instance to apply new settings. You can change one or more parameters by specifying these parameters and the new values in the request.</p> <p>Some settings are applied during the maintenance window.</p> <p/>",
      "errors": [
        {
          "shape": "AccessDeniedFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InsufficientResourceCapacityFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "UpgradeDependencyFailureFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyReplicationInstanceMessage"
      },
      "name": "ModifyReplicationInstance",
      "output": {
        "shape": "ModifyReplicationInstanceResponse"
      }
    },
    "ModifyReplicationSubnetGroup": {
      "documentation": "<p>Modifies the settings for the specified replication subnet group.</p>",
      "errors": [
        {
          "shape": "AccessDeniedFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        },
        {
          "shape": "SubnetAlreadyInUse"
        },
        {
          "shape": "ReplicationSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyReplicationSubnetGroupMessage"
      },
      "name": "ModifyReplicationSubnetGroup",
      "output": {
        "shape": "ModifyReplicationSubnetGroupResponse"
      }
    },
    "ModifyReplicationTask": {
      "documentation": "<p>Modifies the specified replication task.</p> <p>You can't modify the task endpoints. The task must be stopped before you can modify it. </p> <p>For more information about AWS DMS tasks, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\">Working with Migration Tasks</a> in the <i>AWS Database Migration Service User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "ResourceAlreadyExistsFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyReplicationTaskMessage"
      },
      "name": "ModifyReplicationTask",
      "output": {
        "shape": "ModifyReplicationTaskResponse"
      }
    },
    "RebootReplicationInstance": {
      "documentation": "<p>Reboots a replication instance. Rebooting results in a momentary outage, until the replication instance becomes available again.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RebootReplicationInstanceMessage"
      },
      "name": "RebootReplicationInstance",
      "output": {
        "shape": "RebootReplicationInstanceResponse"
      }
    },
    "RefreshSchemas": {
      "documentation": "<p>Populates the schema for the specified endpoint. This is an asynchronous operation and can take several minutes. You can check the status of this operation by calling the DescribeRefreshSchemasStatus operation.</p>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RefreshSchemasMessage"
      },
      "name": "RefreshSchemas",
      "output": {
        "shape": "RefreshSchemasResponse"
      }
    },
    "ReloadTables": {
      "documentation": "<p>Reloads the target database table with the source data. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ReloadTablesMessage"
      },
      "name": "ReloadTables",
      "output": {
        "shape": "ReloadTablesResponse"
      }
    },
    "RemoveTagsFromResource": {
      "documentation": "<p>Removes metadata tags from a DMS resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsFromResourceMessage"
      },
      "name": "RemoveTagsFromResource",
      "output": {
        "shape": "RemoveTagsFromResourceResponse"
      }
    },
    "StartReplicationTask": {
      "documentation": "<p>Starts the replication task.</p> <p>For more information about AWS DMS tasks, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.html\">Working with Migration Tasks </a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "AccessDeniedFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartReplicationTaskMessage"
      },
      "name": "StartReplicationTask",
      "output": {
        "shape": "StartReplicationTaskResponse"
      }
    },
    "StartReplicationTaskAssessment": {
      "documentation": "<p> Starts the replication task assessment for unsupported data types in the source database. </p>",
      "errors": [
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartReplicationTaskAssessmentMessage"
      },
      "name": "StartReplicationTaskAssessment",
      "output": {
        "shape": "StartReplicationTaskAssessmentResponse"
      }
    },
    "StopReplicationTask": {
      "documentation": "<p>Stops the replication task.</p> <p/>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopReplicationTaskMessage"
      },
      "name": "StopReplicationTask",
      "output": {
        "shape": "StopReplicationTaskResponse"
      }
    },
    "TestConnection": {
      "documentation": "<p>Tests the connection between the replication instance and the endpoint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidResourceStateFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "ResourceQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestConnectionMessage"
      },
      "name": "TestConnection",
      "output": {
        "shape": "TestConnectionResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedFault": {
      "documentation": "<p>AWS DMS was denied access to the endpoint. Check that the role is correctly configured.</p>",
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p/>",
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AccountQuota": {
      "documentation": "<p>Describes a quota for an AWS account, for example, the number of replication instances allowed.</p>",
      "members": {
        "AccountQuotaName": {
          "documentation": "<p>The name of the AWS DMS quota for this AWS account.</p>",
          "shape": "String"
        },
        "Max": {
          "documentation": "<p>The maximum allowed value for the quota.</p>",
          "shape": "Long"
        },
        "Used": {
          "documentation": "<p>The amount currently used toward the quota maximum.</p>",
          "shape": "Long"
        }
      },
      "type": "structure"
    },
    "AccountQuotaList": {
      "member": {
        "shape": "AccountQuota"
      },
      "type": "list"
    },
    "AddTagsToResourceMessage": {
      "documentation": "<p>Associates a set of tags with an AWS DMS resource.</p>",
      "members": {
        "ResourceArn": {
          "documentation": "<p>Identifies the AWS DMS resource to which tags should be added. The value for this parameter is an Amazon Resource Name (ARN).</p> <p>For AWS DMS, you can tag a replication instance, an endpoint, or a replication task.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>One or more tags to be assigned to the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "AddTagsToResourceResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "ApplyPendingMaintenanceActionMessage": {
      "documentation": "<p/>",
      "members": {
        "ApplyAction": {
          "documentation": "<p>The pending maintenance action to apply to this resource.</p>",
          "shape": "String"
        },
        "OptInType": {
          "documentation": "<p>A value that specifies the type of opt-in request, or undoes an opt-in request. You can't undo an opt-in request of type <code>immediate</code>.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>",
          "shape": "String"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the AWS DMS resource that the pending maintenance action applies to.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationInstanceArn",
        "ApplyAction",
        "OptInType"
      ],
      "type": "structure"
    },
    "ApplyPendingMaintenanceActionResponse": {
      "documentation": "<p/>",
      "members": {
        "ResourcePendingMaintenanceActions": {
          "documentation": "<p>The AWS DMS resource that the pending maintenance action will be applied to.</p>",
          "shape": "ResourcePendingMaintenanceActions"
        }
      },
      "type": "structure"
    },
    "AuthMechanismValue": {
      "enum": [
        "default",
        "mongodb_cr",
        "scram_sha_1"
      ],
      "type": "string"
    },
    "AuthTypeValue": {
      "enum": [
        "no",
        "password"
      ],
      "type": "string"
    },
    "AvailabilityZone": {
      "documentation": "<p>The name of the Availability Zone for use during database migration.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AvailabilityZonesList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanOptional": {
      "type": "boolean"
    },
    "Certificate": {
      "documentation": "<p>The SSL certificate that can be used to encrypt connections between the endpoints and the replication instance.</p>",
      "members": {
        "CertificateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>",
          "shape": "String"
        },
        "CertificateCreationDate": {
          "documentation": "<p>The date that the certificate was created.</p>",
          "shape": "TStamp"
        },
        "CertificateIdentifier": {
          "documentation": "<p>A customer-assigned name for the certificate. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or contain two consecutive hyphens.</p>",
          "shape": "String"
        },
        "CertificateOwner": {
          "documentation": "<p>The owner of the certificate.</p>",
          "shape": "String"
        },
        "CertificatePem": {
          "documentation": "<p>The contents of a <code>.pem</code> file, which contains an X.509 certificate.</p>",
          "shape": "String"
        },
        "CertificateWallet": {
          "documentation": "<p>The location of an imported Oracle Wallet certificate for use with SSL.</p>",
          "shape": "CertificateWallet"
        },
        "KeyLength": {
          "documentation": "<p>The key length of the cryptographic algorithm being used.</p>",
          "shape": "IntegerOptional"
        },
        "SigningAlgorithm": {
          "documentation": "<p>The signing algorithm for the certificate.</p>",
          "shape": "String"
        },
        "ValidFromDate": {
          "documentation": "<p>The beginning date that the certificate is valid.</p>",
          "shape": "TStamp"
        },
        "ValidToDate": {
          "documentation": "<p>The final date that the certificate is valid.</p>",
          "shape": "TStamp"
        }
      },
      "type": "structure"
    },
    "CertificateList": {
      "member": {
        "shape": "Certificate"
      },
      "type": "list"
    },
    "CertificateWallet": {
      "type": "blob"
    },
    "CompressionTypeValue": {
      "enum": [
        "none",
        "gzip"
      ],
      "type": "string"
    },
    "Connection": {
      "documentation": "<p>Status of the connection between an endpoint and a replication instance, including Amazon Resource Names (ARNs) and the last error message issued.</p>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>The ARN string that uniquely identifies the endpoint.</p>",
          "shape": "String"
        },
        "EndpointIdentifier": {
          "documentation": "<p>The identifier of the endpoint. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or contain two consecutive hyphens.</p>",
          "shape": "String"
        },
        "LastFailureMessage": {
          "documentation": "<p>The error message when the connection last failed.</p>",
          "shape": "String"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The ARN of the replication instance.</p>",
          "shape": "String"
        },
        "ReplicationInstanceIdentifier": {
          "documentation": "<p>The replication instance identifier. This parameter is stored as a lowercase string.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The connection status.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ConnectionList": {
      "member": {
        "shape": "Connection"
      },
      "type": "list"
    },
    "CreateEndpointMessage": {
      "documentation": "<p/>",
      "members": {
        "CertificateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the certificate.</p>",
          "shape": "String"
        },
        "DatabaseName": {
          "documentation": "<p>The name of the endpoint database.</p>",
          "shape": "String"
        },
        "DmsTransferSettings": {
          "documentation": "<p>The settings in JSON format for the DMS transfer type of source endpoint. </p> <p>Possible settings include the following:</p> <ul> <li> <p> <code>ServiceAccessRoleArn</code> - The IAM role that has permission to access the Amazon S3 bucket.</p> </li> <li> <p> <code>BucketName</code> - The name of the S3 bucket to use.</p> </li> <li> <p> <code>CompressionType</code> - An optional parameter to use GZIP to compress the target files. To use GZIP, set this value to <code>NONE</code> (the default). To keep the files uncompressed, don't use this value.</p> </li> </ul> <p>Shorthand syntax for these settings is as follows: <code>ServiceAccessRoleArn=string,BucketName=string,CompressionType=string</code> </p> <p>JSON syntax for these settings is as follows: <code>{ \"ServiceAccessRoleArn\": \"string\", \"BucketName\": \"string\", \"CompressionType\": \"none\"|\"gzip\" } </code> </p>",
          "shape": "DmsTransferSettings"
        },
        "DynamoDbSettings": {
          "documentation": "<p>Settings in JSON format for the target Amazon DynamoDB endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.DynamoDB.html\">Using Object Mapping to Migrate Data to DynamoDB</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
          "shape": "DynamoDbSettings"
        },
        "ElasticsearchSettings": {
          "documentation": "<p>Settings in JSON format for the target Elasticsearch endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Elasticsearch.html#CHAP_Target.Elasticsearch.Configuration\">Extra Connection Attributes When Using Elasticsearch as a Target for AWS DMS</a> in the <i>AWS Database Migration User Guide.</i> </p>",
          "shape": "ElasticsearchSettings"
        },
        "EndpointIdentifier": {
          "documentation": "<p>The database endpoint identifier. Identifiers must begin with a letter and must contain only ASCII letters, digits, and hyphens. They can't end with a hyphen or contain two consecutive hyphens.</p>",
          "shape": "String"
        },
        "EndpointType": {
          "documentation": "<p>The type of endpoint. Valid values are <code>source</code> and <code>target</code>.</p>",
          "shape": "ReplicationEndpointTypeValue"
        },
        "EngineName": {
          "documentation": "<p>The type of engine for the endpoint. Valid values, depending on the <code>EndpointType</code> value, include <code>\"mysql\"</code>, <code>\"oracle\"</code>, <code>\"postgres\"</code>, <code>\"mariadb\"</code>, <code>\"aurora\"</code>, <code>\"aurora-postgresql\"</code>, <code>\"redshift\"</code>, <code>\"s3\"</code>, <code>\"db2\"</code>, <code>\"azuredb\"</code>, <code>\"sybase\"</code>, <code>\"dynamodb\"</code>, <code>\"mongodb\"</code>, <code>\"kinesis\"</code>, <code>\"kafka\"</code>, <code>\"elasticsearch\"</code>, <code>\"documentdb\"</code>, and <code>\"sqlserver\"</code>.</p>",
          "shape": "String"
        },
        "ExternalTableDefinition": {
          "documentation": "<p>The external table definition. </p>",
          "shape": "String"
        },
        "ExtraConnectionAttributes": {
          "documentation": "<p>Additional attributes associated with the connection. Each attribute is specified as a name-value pair associated by an equal sign (=). Multiple attributes are separated by a semicolon (;) with no additional white space. For information on the attributes available for connecting your source or target endpoint, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Endpoints.html\">Working with AWS DMS Endpoints</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
          "shape": "String"
        },
        "KafkaSettings": {
          "documentation": "<p>Settings in JSON format for the target Apache Kafka endpoint. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kafka.html#CHAP_Target.Kafka.ObjectMapping\">Using Object Mapping to Migrate Data to Apache Kafka</a> in the <i>AWS Database Migration User Guide.</i> </p>",
          "shape": "KafkaSettings"
        },
        "KinesisSettings": {
          "documentation": "<p>Settings in JSON format for the target endpoint for Amazon Kinesis Data Streams. For information about other available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.Kinesis.html#CHAP_Target.Kinesis.ObjectMapping\">Using Object Mapping to Migrate Data to a Kinesis Data Stream</a> in the <i>AWS Database Migration User Guide.</i> </p>",
          "shape": "KinesisSettings"
        },
        "KmsKeyId": {
          "documentation": "<p>An AWS KMS key identifier that is used to encrypt the connection parameters for the endpoint.</p> <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key.</p> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p>",
          "shape": "String"
        },
        "MongoDbSettings": {
          "documentation": "<p>Settings in JSON format for the source MongoDB endpoint. For more information about the available settings, see the configuration properties section in <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.MongoDB.html\">Using MongoDB as a Target for AWS Database Migration Service</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
          "shape": "MongoDbSettings"
        },
        "Password": {
          "documentation": "<p>The password to be used to log in to the endpoint database.</p>",
          "shape": "SecretString"
        },
        "Port": {
          "documentation": "<p>The port used by the endpoint database.</p>",
          "shape": "IntegerOptional"
        },
        "RedshiftSettings": {
          "shape": "RedshiftSettings"
        },
        "S3Settings": {
          "documentation": "<p>Settings in JSON format for the target Amazon S3 endpoint. For more information about the available settings, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Target.S3.html#CHAP_Target.S3.Configuring\">Extra Connection Attributes When Using Amazon S3 as a Target for AWS DMS</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
          "shape": "S3Settings"
        },
        "ServerName": {
          "documentation": "<p>The name of the server where the endpoint database resides.</p>",
          "shape": "String"
        },
        "ServiceAccessRoleArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) for the service access role that you want to use to create the endpoint. </p>",
          "shape": "String"
        },
        "SslMode": {
          "documentation": "<p>The Secure Sockets Layer (SSL) mode to use for the SSL connection. The default is <code>none</code> </p>",
          "shape": "DmsSslModeValue"
        },
        "Tags": {
          "documentation": "<p>One or more tags to be assigned to the endpoint.</p>",
          "shape": "TagList"
        },
        "Username": {
          "documentation": "<p>The user name to be used to log in to the endpoint database.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointIdentifier",
        "EndpointType",
        "EngineName"
      ],
      "type": "structure"
    },
    "CreateEndpointResponse": {
      "documentation": "<p/>",
      "members": {
        "Endpoint": {
          "documentation": "<p>The endpoint that was created.</p>",
          "shape": "Endpoint"
        }
      },
      "type": "structure"
    },
    "CreateEventSubscriptionMessage": {
      "documentation": "<p/>",
      "members": {
        "Enabled": {
          "documentation": "<p> A Boolean value; set to <code>true</code> to activate the subscription, or set to <code>false</code> to create the subscription but not activate it. </p>",
          "shape": "BooleanOptional"
        },
        "EventCategories": {
          "documentation": "<p>A list of event categories for a source type that you want to subscribe to. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Events.html\">Working with Events and Notifications</a> in the <i>AWS Database Migration Service User Guide.</i> </p>",
          "shape": "EventCategoriesList"
        },
        "SnsTopicArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the Amazon SNS topic created for event notification. The ARN is created by Amazon SNS when you create a topic and subscribe to it. </p>",
          "shape": "String"
        },
        "SourceIds": {
          "documentation": "<p>A list of identifiers for which AWS DMS provides notification events.</p> <p>If you don't specify a value, notifications are provided for all sources.</p> <p>If you specify multiple values, they must be of the same type. For example, if you specify a database instance ID, then all of the other values must be database instance IDs.</p>",
          "shape": "SourceIdsList"
        },
        "SourceType": {
          "documentation": "<p> The type of AWS DMS resource that generates the events. For example, if you want to be notified of events generated by a replication instance, you set this parameter to <code>replication-instance</code>. If this value isn't specified, all events are returned. </p> <p>Valid values: <code>replication-instance</code> | <code>replication-task</code> </p>",
          "shape": "String"
        },
        "SubscriptionName": {
          "documentation": "<p>The name of the AWS DMS event notification subscription. This name must be less than 255 characters.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>One or more tags to be assigned to the event subscription.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "SubscriptionName",
        "SnsTopicArn"
      ],
      "type": "structure"
    },
    "CreateEventSubscriptionResponse": {
      "documentation": "<p/>",
      "members": {
        "EventSubscription": {
          "documentation": "<p>The event subscription that was created.</p>",
          "shape": "EventSubscription"
        }
      },
      "type": "structure"
    },
    "CreateReplicationInstanceMessage": {
      "documentation": "<p/>",
      "members": {
        "AllocatedStorage": {
          "documentation": "<p>The amount of storage (in gigabytes) to be initially allocated for the replication instance.</p>",
          "shape": "IntegerOptional"
        },
        "AutoMinorVersionUpgrade": {
          "documentation": "<p>A value that indicates whether minor engine upgrades are applied automatically to the replication instance during the maintenance window. This parameter defaults to <code>true</code>.</p> <p>Default: <code>true</code> </p>",
          "shape": "BooleanOptional"
        },
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone where the replication instance will be created. The default value is a random, system-chosen Availability Zone in the endpoint's AWS Region, for example: <code>us-east-1d</code> </p>",
          "shape": "String"
        },
        "DnsNameServers": {
          "documentation": "<p>A list of DNS name servers supported for the replication instance.</p>",
          "shape": "String"
        },
        "EngineVersion": {
          "documentation": "<p>The engine version number of the replication instance.</p>",
          "shape": "String"
        },
        "KmsKeyId": {
          "documentation": "<p>An AWS KMS key identifier that is used to encrypt the data on the replication instance.</p> <p>If you don't specify a value for the <code>KmsKeyId</code> parameter, then AWS DMS uses your default encryption key.</p> <p>AWS KMS creates the default encryption key for your AWS account. Your AWS account has a different default encryption key for each AWS Region.</p>",
          "shape": "String"
        },
        "MultiAZ": {
          "documentation": "<p> Specifies whether the replication instance is a Multi-AZ deployment. You can't set the <code>AvailabilityZone</code> parameter if the Multi-AZ parameter is set to <code>true</code>. </p>",
          "shape": "BooleanOptional"
        },
        "PreferredMaintenanceWindow": {
          "documentation": "<p>The weekly time range during which system maintenance can occur, in Universal Coordinated Time (UTC).</p> <p> Format: <code>ddd:hh24:mi-ddd:hh24:mi</code> </p> <p>Default: A 30-minute window selected at random from an 8-hour block of time per AWS Region, occurring on a random day of the week.</p> <p>Valid Days: Mon, Tue, Wed, Thu, Fri, Sat, Sun</p> <p>Constraints: Minimum 30-minute window.</p>",
          "shape": "String"
        },
        "PubliclyAccessible": {
          "documentation": "<p> Specifies the accessibility options for the replication instance. A value of <code>true</code> represents an instance with a public IP address. A value of <code>false</code> represents an instance with a private IP address. The default value is <code>true</code>. </p>",
          "shape": "BooleanOptional"
        },
        "ReplicationInstanceClass": {
          "documentation": "<p>The compute and memory capacity of the replication instance as specified by the replication instance class.</p> <p> Valid Values: <code>dms.t2.micro | dms.t2.small | dms.t2.medium | dms.t2.large | dms.c4.large | dms.c4.xlarge | dms.c4.2xlarge | dms.c4.4xlarge </code> </p>",
          "shape": "String"
        },
        "ReplicationInstanceIdentifier": {
          "documentation": "<p>The replication instance identifier. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Can't end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>myrepinstance</code> </p>",
          "shape": "String"
        },
        "ReplicationSubnetGroupIdentifier": {
          "documentation": "<p>A subnet group to associate with the replication instance.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>One or more tags to be assigned to the replication instance.</p>",
          "shape": "TagList"
        },
        "VpcSecurityGroupIds": {
          "documentation": "<p> Specifies the VPC security group to be used with the replication instance. The VPC security group must work with the VPC containing the replication instance. </p>",
          "shape": "VpcSecurityGroupIdList"
        }
      },
      "required": [
        "ReplicationInstanceIdentifier",
        "ReplicationInstanceClass"
      ],
      "type": "structure"
    },
    "CreateReplicationInstanceResponse": {
      "documentation": "<p/>",
      "members": {
        "ReplicationInstance": {
          "documentation": "<p>The replication instance that was created.</p>",
          "shape": "ReplicationInstance"
        }
      },
      "type": "structure"
    },
    "CreateReplicationSubnetGroupMessage": {
      "documentation": "<p/>",
      "members": {
        "ReplicationSubnetGroupDescription": {
          "documentation": "<p>The description for the subnet group.</p>",
          "shape": "String"
        },
        "ReplicationSubnetGroupIdentifier": {
          "documentation": "<p>The name for the replication subnet group. This value is stored as a lowercase string.</p> <p>Constraints: Must contain no more than 255 alphanumeric characters, periods, spaces, underscores, or hyphens. Must not be \"default\".</p> <p>Example: <code>mySubnetgroup</code> </p>",
          "shape": "String"
        },
        "SubnetIds": {
          "documentation": "<p>One or more subnet IDs to be assigned to the subnet group.</p>",
          "shape": "SubnetIdentifierList"
        },
        "Tags": {
          "documentation": "<p>One or more tags to be assigned to the subnet group.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ReplicationSubnetGroupIdentifier",
        "ReplicationSubnetGroupDescription",
        "SubnetIds"
      ],
      "type": "structure"
    },
    "CreateReplicationSubnetGroupResponse": {
      "documentation": "<p/>",
      "members": {
        "ReplicationSubnetGroup": {
          "documentation": "<p>The replication subnet group that was created.</p>",
          "shape": "ReplicationSubnetGroup"
        }
      },
      "type": "structure"
    },
    "CreateReplicationTaskMessage": {
      "documentation": "<p/>",
      "members": {
        "CdcStartPosition": {
          "documentation": "<p>Indicates when you want a change data capture (CDC) operation to start. Use either CdcStartPosition or CdcStartTime to specify when you want a CDC operation to start. Specifying both values results in an error.</p> <p> The value can be in date, checkpoint, or LSN/SCN format.</p> <p>Date Example: --cdc-start-position \u201c2018-03-08T12:12:12\u201d</p> <p>Checkpoint Example: --cdc-start-position \"checkpoint:V1#27#mysql-bin-changelog.157832:1975:-1:2002:677883278264080:mysql-bin-changelog.157832:1876#0#0#*#0#93\"</p> <p>LSN Example: --cdc-start-position \u201cmysql-bin-changelog.000024:373\u201d</p> <note> <p>When you use this task setting with a source PostgreSQL database, a logical replication slot should already be created and associated with the source endpoint. You can verify this by setting the <code>slotName</code> extra connection attribute to the name of this logical replication slot. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Source.PostgreSQL.html#CHAP_Source.PostgreSQL.ConnectionAttrib\">Extra Connection Attributes When Using PostgreSQL as a Source for AWS DMS</a>.</p> </note>",
          "shape": "String"
        },
        "CdcStartTime": {
          "documentation": "<p>Indicates the start time for a change data capture (CDC) operation. Use either CdcStartTime or CdcStartPosition to specify when you want a CDC operation to start. Specifying both values results in an error.</p> <p>Timestamp Example: --cdc-start-time \u201c2018-03-08T12:12:12\u201d</p>",
          "shape": "TStamp"
        },
        "CdcStopPosition": {
          "documentation": "<p>Indicates when you want a change data capture (CDC) operation to stop. The value can be either server time or commit time.</p> <p>Server time example: --cdc-stop-position \u201cserver_time:3018-02-09T12:12:12\u201d</p> <p>Commit time example: --cdc-stop-position \u201ccommit_time: 3018-02-09T12:12:12 \u201c</p>",
          "shape": "String"
        },
        "MigrationType": {
          "documentation": "<p>The migration type. Valid values: <code>full-load</code> | <code>cdc</code> | <code>full-load-and-cdc</code> </p>",
          "shape": "MigrationTypeValue"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of a replication instance.</p>",
          "shape": "String"
        },
        "ReplicationTaskIdentifier": {
          "documentation": "<p>An identifier for the replication task.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 255 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Cannot end with a hyphen or contain two consecutive hyphens.</p> </li> </ul>",
          "shape": "String"
        },
        "ReplicationTaskSettings": {
          "documentation": "<p>Overall settings for the task, in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TaskSettings.html\">Task Settings</a> in the <i>AWS Database Migration User Guide.</i> </p>",
          "shape": "String"
        },
        "SourceEndpointArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the source endpoint.</p>",
          "shape": "String"
        },
        "TableMappings": {
          "documentation": "<p>The table mappings for the task, in JSON format. For more information, see <a href=\"https://docs.aws.amazon.com/dms/latest/userguide/CHAP_Tasks.CustomizingTasks.TableMapping.html\">Table Mapping</a> in the <i>AWS Database Migration User Guide.</i> </p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>One or more tags to be assigned to the replication task.</p>",
          "shape": "TagList"
        },
        "TargetEndpointArn": {
          "documentation": "<p>An Amazon Resource Name (ARN) that uniquely identifies the target endpoint.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationTaskIdentifier",
        "SourceEndpointArn",
        "TargetEndpointArn",
        "ReplicationInstanceArn",
        "MigrationType",
        "TableMappings"
      ],
      "type": "structure"
    },
    "CreateReplicationTaskResponse": {
      "documentation": "<p/>",
      "members": {
        "ReplicationTask": {
          "documentation": "<p>The replication task that was created.</p>",
          "shape": "ReplicationTask"
        }
      },
      "type": "structure"
    },
    "DataFormatValue": {
      "enum": [
        "csv",
        "parquet"
      ],
      "type": "string"
    },
    "DeleteCertificateMessage": {
      "members": {
        "CertificateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the deleted certificate.</p>",
          "shape": "String"
        }
      },
      "required": [
        "CertificateArn"
      ],
      "type": "structure"
    },
    "DeleteCertificateResponse": {
      "members": {
        "Certificate": {
          "documentation": "<p>The Secure Sockets Layer (SSL) certificate.</p>",
          "shape": "Certificate"
        }
      },
      "type": "structure"
    },
    "DeleteConnectionMessage": {
      "documentation": "<p/>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>",
          "shape": "String"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn",
        "ReplicationInstanceArn"
      ],
      "type": "structure"
    },
    "DeleteConnectionResponse": {
      "documentation": "<p/>",
      "members": {
        "Connection": {
          "documentation": "<p>The connection that is being deleted.</p>",
          "shape": "Connection"
        }
      },
      "type": "structure"
    },
    "DeleteEndpointMessage": {
      "documentation": "<p/>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DeleteEndpointResponse": {
      "documentation": "<p/>",
      "members": {
        "Endpoint": {
          "documentation": "<p>The endpoint that was deleted.</p>",
          "shape": "Endpoint"
        }
      },
      "type": "structure"
    },
    "DeleteEventSubscriptionMessage": {
      "documentation": "<p/>",
      "members": {
        "SubscriptionName": {
          "documentation": "<p>The name of the DMS event notification subscription to be deleted.</p>",
          "shape": "String"
        }
      },
      "required": [
        "SubscriptionName"
      ],
      "type": "structure"
    },
    "DeleteEventSubscriptionResponse": {
      "documentation": "<p/>",
      "members": {
        "EventSubscription": {
          "documentation": "<p>The event subscription that was deleted.</p>",
          "shape": "EventSubscription"
        }
      },
      "type": "structure"
    },
    "DeleteReplicationInstanceMessage": {
      "documentation": "<p/>",
      "members": {
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication instance to be deleted.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationInstanceArn"
      ],
      "type": "structure"
    },
    "DeleteReplicationInstanceResponse": {
      "documentation": "<p/>",
      "members": {
        "ReplicationInstance": {
          "documentation": "<p>The replication instance that was deleted.</p>",
          "shape": "ReplicationInstance"
        }
      },
      "type": "structure"
    },
    "DeleteReplicationSubnetGroupMessage": {
      "documentation": "<p/>",
      "members": {
        "ReplicationSubnetGroupIdentifier": {
          "documentation": "<p>The subnet group name of the replication instance.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationSubnetGroupIdentifier"
      ],
      "type": "structure"
    },
    "DeleteReplicationSubnetGroupResponse": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "DeleteReplicationTaskMessage": {
      "documentation": "<p/>",
      "members": {
        "ReplicationTaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication task to be deleted.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationTaskArn"
      ],
      "type": "structure"
    },
    "DeleteReplicationTaskResponse": {
      "documentation": "<p/>",
      "members": {
        "ReplicationTask": {
          "documentation": "<p>The deleted replication task.</p>",
          "shape": "ReplicationTask"
        }
      },
      "type": "structure"
    },
    "DescribeAccountAttributesMessage": {
      "documentation": "<p/>",
      "members": {},
      "type": "structure"
    },
    "DescribeAccountAttributesResponse": {
      "documentation": "<p/>",
      "members": {
        "AccountQuotas": {
          "documentation": "<p>Account quota information.</p>",
          "shape": "AccountQuotaList"
        },
        "UniqueAccountIdentifier": {
          "documentation": "<p>A unique AWS DMS identifier for an account in a particular AWS Region. The value of this identifier has the following format: <code>c99999999999</code>. DMS uses this identifier to name artifacts. For example, DMS uses this identifier to name the default Amazon S3 bucket for storing task assessment reports in a given AWS Region. The format of this S3 bucket name is the following: <code>dms-<i>AccountNumber</i>-<i>UniqueAccountIdentifier</i>.</code> Here is an example name for this default S3 bucket: <code>dms-111122223333-c44445555666</code>.</p> <note> <p>AWS DMS supports the <code>UniqueAccountIdentifier</code> parameter in versions 3.1.4 and later.</p> </note>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeCertificatesMessage": {
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the certificate described in the form of key-value pairs.</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 10</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeCertificatesResponse": {
      "members": {
        "Certificates": {
          "documentation": "<p>The Secure Sockets Layer (SSL) certificates associated with the replication instance.</p>",
          "shape": "CertificateList"
        },
        "Marker": {
          "documentation": "<p>The pagination token.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeConnectionsMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>The filters applied to the connection.</p> <p>Valid filter names: endpoint-arn | replication-instance-arn</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeConnectionsResponse": {
      "documentation": "<p/>",
      "members": {
        "Connections": {
          "documentation": "<p>A description of the connections.</p>",
          "shape": "ConnectionList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEndpointTypesMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the describe action.</p> <p>Valid filter names: engine-name | endpoint-type</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeEndpointTypesResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "SupportedEndpointTypes": {
          "documentation": "<p>The types of endpoints that are supported.</p>",
          "shape": "SupportedEndpointTypeList"
        }
      },
      "type": "structure"
    },
    "DescribeEndpointsMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the describe action.</p> <p>Valid filter names: endpoint-arn | endpoint-type | endpoint-id | engine-name</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeEndpointsResponse": {
      "documentation": "<p/>",
      "members": {
        "Endpoints": {
          "documentation": "<p>Endpoint description.</p>",
          "shape": "EndpointList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEventCategoriesMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the action.</p>",
          "shape": "FilterList"
        },
        "SourceType": {
          "documentation": "<p> The type of AWS DMS resource that generates events. </p> <p>Valid values: replication-instance | replication-task</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEventCategoriesResponse": {
      "documentation": "<p/>",
      "members": {
        "EventCategoryGroupList": {
          "documentation": "<p>A list of event categories.</p>",
          "shape": "EventCategoryGroupList"
        }
      },
      "type": "structure"
    },
    "DescribeEventSubscriptionsMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the action.</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        },
        "SubscriptionName": {
          "documentation": "<p>The name of the AWS DMS event subscription to be described.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEventSubscriptionsResponse": {
      "documentation": "<p/>",
      "members": {
        "EventSubscriptionsList": {
          "documentation": "<p>A list of event subscriptions.</p>",
          "shape": "EventSubscriptionsList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEventsMessage": {
      "documentation": "<p/>",
      "members": {
        "Duration": {
          "documentation": "<p>The duration of the events to be listed.</p>",
          "shape": "IntegerOptional"
        },
        "EndTime": {
          "documentation": "<p>The end time for the events to be listed.</p>",
          "shape": "TStamp"
        },
        "EventCategories": {
          "documentation": "<p>A list of event categories for the source type that you've chosen.</p>",
          "shape": "EventCategoriesList"
        },
        "Filters": {
          "documentation": "<p>Filters applied to the action.</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        },
        "SourceIdentifier": {
          "documentation": "<p> The identifier of an event source.</p>",
          "shape": "String"
        },
        "SourceType": {
          "documentation": "<p>The type of AWS DMS resource that generates events.</p> <p>Valid values: replication-instance | replication-task</p>",
          "shape": "SourceType"
        },
        "StartTime": {
          "documentation": "<p>The start time for the events to be listed.</p>",
          "shape": "TStamp"
        }
      },
      "type": "structure"
    },
    "DescribeEventsResponse": {
      "documentation": "<p/>",
      "members": {
        "Events": {
          "documentation": "<p>The events described.</p>",
          "shape": "EventList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeOrderableReplicationInstancesMessage": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeOrderableReplicationInstancesResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "OrderableReplicationInstances": {
          "documentation": "<p>The order-able replication instances available.</p>",
          "shape": "OrderableReplicationInstanceList"
        }
      },
      "type": "structure"
    },
    "DescribePendingMaintenanceActionsMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p/>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribePendingMaintenanceActionsResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "PendingMaintenanceActions": {
          "documentation": "<p>The pending maintenance action.</p>",
          "shape": "PendingMaintenanceActions"
        }
      },
      "type": "structure"
    },
    "DescribeRefreshSchemasStatusMessage": {
      "documentation": "<p/>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>",
          "shape": "String"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DescribeRefreshSchemasStatusResponse": {
      "documentation": "<p/>",
      "members": {
        "RefreshSchemasStatus": {
          "documentation": "<p>The status of the schema.</p>",
          "shape": "RefreshSchemasStatus"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationInstanceTaskLogsMessage": {
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationInstanceArn"
      ],
      "type": "structure"
    },
    "DescribeReplicationInstanceTaskLogsResponse": {
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>.</p>",
          "shape": "String"
        },
        "ReplicationInstanceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication instance.</p>",
          "shape": "String"
        },
        "ReplicationInstanceTaskLogs": {
          "documentation": "<p>An array of replication task log metadata. Each member of the array contains the replication task name, ARN, and task log size (in bytes). </p>",
          "shape": "ReplicationInstanceTaskLogsList"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationInstancesMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the describe action.</p> <p>Valid filter names: replication-instance-arn | replication-instance-id | replication-instance-class | engine-version</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationInstancesResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "ReplicationInstances": {
          "documentation": "<p>The replication instances described.</p>",
          "shape": "ReplicationInstanceList"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationSubnetGroupsMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the describe action.</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationSubnetGroupsResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "ReplicationSubnetGroups": {
          "documentation": "<p>A description of the replication subnet groups.</p>",
          "shape": "ReplicationSubnetGroups"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationTaskAssessmentResultsMessage": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        },
        "ReplicationTaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the task. When this input parameter is specified, the API returns only one result and ignore the values of the <code>MaxRecords</code> and <code>Marker</code> parameters. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationTaskAssessmentResultsResponse": {
      "documentation": "<p/>",
      "members": {
        "BucketName": {
          "documentation": "<p>- The Amazon S3 bucket where the task assessment report is located. </p>",
          "shape": "String"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "ReplicationTaskAssessmentResults": {
          "documentation": "<p> The task assessment report. </p>",
          "shape": "ReplicationTaskAssessmentResultList"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationTasksMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the describe action.</p> <p>Valid filter names: replication-task-arn | replication-task-id | migration-type | endpoint-arn | replication-instance-arn</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        },
        "WithoutSettings": {
          "documentation": "<p>An option to set to avoid returning information about settings. Use this to reduce overhead when setting information is too large. To use this option, choose <code>true</code>; otherwise, choose <code>false</code> (the default).</p>",
          "shape": "BooleanOptional"
        }
      },
      "type": "structure"
    },
    "DescribeReplicationTasksResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "ReplicationTasks": {
          "documentation": "<p>A description of the replication tasks.</p>",
          "shape": "ReplicationTaskList"
        }
      },
      "type": "structure"
    },
    "DescribeSchemasMessage": {
      "documentation": "<p/>",
      "members": {
        "EndpointArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) string that uniquely identifies the endpoint.</p>",
          "shape": "String"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 100.</p>",
          "shape": "IntegerOptional"
        }
      },
      "required": [
        "EndpointArn"
      ],
      "type": "structure"
    },
    "DescribeSchemasResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "Schemas": {
          "documentation": "<p>The described schema.</p>",
          "shape": "SchemaList"
        }
      },
      "type": "structure"
    },
    "DescribeTableStatisticsMessage": {
      "documentation": "<p/>",
      "members": {
        "Filters": {
          "documentation": "<p>Filters applied to the describe table statistics action.</p> <p>Valid filter names: schema-name | table-name | table-state</p> <p>A combination of filters creates an AND condition where each record matches all specified filters.</p>",
          "shape": "FilterList"
        },
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "MaxRecords": {
          "documentation": "<p> The maximum number of records to include in the response. If more records exist than the specified <code>MaxRecords</code> value, a pagination token called a marker is included in the response so that the remaining results can be retrieved. </p> <p>Default: 100</p> <p>Constraints: Minimum 20, maximum 500.</p>",
          "shape": "IntegerOptional"
        },
        "ReplicationTaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication task.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ReplicationTaskArn"
      ],
      "type": "structure"
    },
    "DescribeTableStatisticsResponse": {
      "documentation": "<p/>",
      "members": {
        "Marker": {
          "documentation": "<p> An optional pagination token provided by a previous request. If this parameter is specified, the response includes only records beyond the marker, up to the value specified by <code>MaxRecords</code>. </p>",
          "shape": "String"
        },
        "ReplicationTaskArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the replication task.</p>",
          "shape": "String"
        },
        "TableStatistics": {
          "documentation": "<p>The table statistics.</p>",
          "shape": "TableStatisticsList"
        }
      },
      "type": "structure"
    },
    "DmsSslModeValue": {
      "enum": [
        "none",
        "require",
        "verify-ca",
        "verify-full"
      ],
      "type": "string"
    },
    "DmsTransferSettings": {
      "documentation": "<p> The settings in JSON format for the DMS Transfer type source endpoint. </p>",
      "members": {
        "BucketName": {
          "documentation": "<p> The name of the S3 bucket to use. </p>",
          "shape": "String"
        },
        "ServiceAccessRoleArn": {
          "documentation": "<p> The IAM role that has permission to access the Amazon S3 bucket. </p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DynamoDbSettings": {
      "documentation": "<p>Provides the Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role used to define an Amazon DynamoDB target endpoint.</p>",
      "members": {
        "ServiceAccessRoleArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) used by the service access IAM role. </p>",
          "shape": "String"
        }
      },
      "required": [
        "ServiceAccessRoleArn"
      ],
      "type": "structure"
    },
    "ElasticsearchSettings": {
      "documentation": "<p>Provides information that defines an Elasticsearch endpoint.</p>",
      "members": {
        "EndpointUri": {
          "documentation": "<p>The endpoint for the Elasticsearch cluster.</p>",
          "shape": "String"
        },
        "ErrorRetryDuration": {
          "documentation": "<p>The maximum number of seconds for which DMS retries failed API requests to the Elasticsearch cluster.</p>",
          "shape": "IntegerOptional"
        },
        "FullLoadErrorPercentage": {
[...]
