{
  "documentation": "<fullname>Elastic Load Balancing</fullname> <p>A load balancer distributes incoming traffic across targets, such as your EC2 instances. This enables you to increase the availability of your application. The load balancer also monitors the health of its registered targets and ensures that it routes traffic only to healthy targets. You configure your load balancer to accept incoming traffic by specifying one or more listeners, which are configured with a protocol and port number for connections from clients to the load balancer. You configure a target group with a protocol and port number for connections from the load balancer to the targets, and with health check settings to be used when checking the health status of the targets.</p> <p>Elastic Load Balancing supports the following types of load balancers: Application Load Balancers, Network Load Balancers, and Classic Load Balancers. This reference covers Application Load Balancers and Network Load Balancers.</p> <p>An Application Load Balancer makes routing and load balancing decisions at the application layer (HTTP/HTTPS). A Network Load Balancer makes routing and load balancing decisions at the transport layer (TCP/TLS). Both Application Load Balancers and Network Load Balancers can route requests to one or more ports on each EC2 instance or container instance in your virtual private cloud (VPC). For more information, see the <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/userguide/\">Elastic Load Balancing User Guide</a>.</p> <p>All Elastic Load Balancing operations are idempotent, which means that they complete at most one time. If you repeat an operation, it succeeds.</p>",
  "metadata": {
    "apiVersion": "2015-12-01",
    "endpointPrefix": "elasticloadbalancing",
    "protocol": "query",
    "serviceAbbreviation": "Elastic Load Balancing v2",
    "serviceFullName": "Elastic Load Balancing",
    "serviceId": "Elastic Load Balancing v2",
    "signatureVersion": "v4",
    "uid": "elasticloadbalancingv2-2015-12-01",
    "xmlNamespace": "http://elasticloadbalancing.amazonaws.com/doc/2015-12-01/"
  },
  "operations": {
    "AddListenerCertificates": {
      "documentation": "<p>Adds the specified SSL server certificate to the certificate list for the specified HTTPS or TLS listener.</p> <p>If the certificate in already in the certificate list, the call is successful but the certificate is not added again.</p> <p>To get the certificate list for a listener, use <a>DescribeListenerCertificates</a>. To remove certificates from the certificate list for a listener, use <a>RemoveListenerCertificates</a>. To replace the default certificate for a listener, use <a>ModifyListener</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates\">SSL Certificates</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "TooManyCertificatesException"
        },
        {
          "shape": "CertificateNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddListenerCertificatesInput"
      },
      "name": "AddListenerCertificates",
      "output": {
        "resultWrapper": "AddListenerCertificatesResult",
        "shape": "AddListenerCertificatesOutput"
      }
    },
    "AddTags": {
      "documentation": "<p>Adds the specified tags to the specified Elastic Load Balancing resource. You can tag your Application Load Balancers, Network Load Balancers, and your target groups.</p> <p>Each tag consists of a key and an optional value. If a resource already has a tag with the same key, <code>AddTags</code> updates its value.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>. To remove tags from your resources, use <a>RemoveTags</a>.</p>",
      "errors": [
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsInput"
      },
      "name": "AddTags",
      "output": {
        "resultWrapper": "AddTagsResult",
        "shape": "AddTagsOutput"
      }
    },
    "CreateListener": {
      "documentation": "<p>Creates a listener for the specified Application Load Balancer or Network Load Balancer.</p> <p>To update a listener, use <a>ModifyListener</a>. When you are finished with a listener, you can delete it using <a>DeleteListener</a>. If you are finished with both the listener and the load balancer, you can delete them both using <a>DeleteLoadBalancer</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple listeners with the same settings, each call succeeds.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html\">Listeners for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-listeners.html\">Listeners for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "DuplicateListenerException"
        },
        {
          "shape": "TooManyListenersException"
        },
        {
          "shape": "TooManyCertificatesException"
        },
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "TargetGroupAssociationLimitException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "IncompatibleProtocolsException"
        },
        {
          "shape": "SSLPolicyNotFoundException"
        },
        {
          "shape": "CertificateNotFoundException"
        },
        {
          "shape": "UnsupportedProtocolException"
        },
        {
          "shape": "TooManyRegistrationsForTargetIdException"
        },
        {
          "shape": "TooManyTargetsException"
        },
        {
          "shape": "TooManyActionsException"
        },
        {
          "shape": "InvalidLoadBalancerActionException"
        },
        {
          "shape": "TooManyUniqueTargetGroupsPerLoadBalancerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateListenerInput"
      },
      "name": "CreateListener",
      "output": {
        "resultWrapper": "CreateListenerResult",
        "shape": "CreateListenerOutput"
      }
    },
    "CreateLoadBalancer": {
      "documentation": "<p>Creates an Application Load Balancer or a Network Load Balancer.</p> <p>When you create a load balancer, you can specify security groups, public subnets, IP address type, and tags. Otherwise, you could do so later using <a>SetSecurityGroups</a>, <a>SetSubnets</a>, <a>SetIpAddressType</a>, and <a>AddTags</a>.</p> <p>To create listeners for your load balancer, use <a>CreateListener</a>. To describe your current load balancers, see <a>DescribeLoadBalancers</a>. When you are finished with a load balancer, you can delete it using <a>DeleteLoadBalancer</a>.</p> <p>For limit information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancer</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network Load Balancer</a> in the <i>Network Load Balancers Guide</i>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple load balancers with the same settings, each call succeeds.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html\">Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html\">Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "DuplicateLoadBalancerNameException"
        },
        {
          "shape": "TooManyLoadBalancersException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "SubnetNotFoundException"
        },
        {
          "shape": "InvalidSubnetException"
        },
        {
          "shape": "InvalidSecurityGroupException"
        },
        {
          "shape": "InvalidSchemeException"
        },
        {
          "shape": "TooManyTagsException"
        },
        {
          "shape": "DuplicateTagKeysException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "AllocationIdNotFoundException"
        },
        {
          "shape": "AvailabilityZoneNotSupportedException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLoadBalancerInput"
      },
      "name": "CreateLoadBalancer",
      "output": {
        "resultWrapper": "CreateLoadBalancerResult",
        "shape": "CreateLoadBalancerOutput"
      }
    },
    "CreateRule": {
      "documentation": "<p>Creates a rule for the specified listener. The listener must be associated with an Application Load Balancer.</p> <p>Rules are evaluated in priority order, from the lowest value to the highest value. When the conditions for a rule are met, its actions are performed. If the conditions for no rules are met, the actions for the default rule are performed. For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-listeners.html#listener-rules\">Listener Rules</a> in the <i>Application Load Balancers Guide</i>.</p> <p>To view your current rules, use <a>DescribeRules</a>. To update a rule, use <a>ModifyRule</a>. To set the priorities of your rules, use <a>SetRulePriorities</a>. To delete a rule, use <a>DeleteRule</a>.</p>",
      "errors": [
        {
          "shape": "PriorityInUseException"
        },
        {
          "shape": "TooManyTargetGroupsException"
        },
        {
          "shape": "TooManyRulesException"
        },
        {
          "shape": "TargetGroupAssociationLimitException"
        },
        {
          "shape": "IncompatibleProtocolsException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "TooManyRegistrationsForTargetIdException"
        },
        {
          "shape": "TooManyTargetsException"
        },
        {
          "shape": "UnsupportedProtocolException"
        },
        {
          "shape": "TooManyActionsException"
        },
        {
          "shape": "InvalidLoadBalancerActionException"
        },
        {
          "shape": "TooManyUniqueTargetGroupsPerLoadBalancerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRuleInput"
      },
      "name": "CreateRule",
      "output": {
        "resultWrapper": "CreateRuleResult",
        "shape": "CreateRuleOutput"
      }
    },
    "CreateTargetGroup": {
      "documentation": "<p>Creates a target group.</p> <p>To register targets with the target group, use <a>RegisterTargets</a>. To update the health check settings for the target group, use <a>ModifyTargetGroup</a>. To monitor the health of targets in the target group, use <a>DescribeTargetHealth</a>.</p> <p>To route traffic to the targets in a target group, specify the target group in an action using <a>CreateListener</a> or <a>CreateRule</a>.</p> <p>To delete a target group, use <a>DeleteTargetGroup</a>.</p> <p>This operation is idempotent, which means that it completes at most one time. If you attempt to create multiple target groups with the same settings, each call succeeds.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html\">Target Groups for Your Application Load Balancers</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html\">Target Groups for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "DuplicateTargetGroupNameException"
        },
        {
          "shape": "TooManyTargetGroupsException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTargetGroupInput"
      },
      "name": "CreateTargetGroup",
      "output": {
        "resultWrapper": "CreateTargetGroupResult",
        "shape": "CreateTargetGroupOutput"
      }
    },
    "DeleteListener": {
      "documentation": "<p>Deletes the specified listener.</p> <p>Alternatively, your listener is deleted when you delete the load balancer to which it is attached, using <a>DeleteLoadBalancer</a>.</p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteListenerInput"
      },
      "name": "DeleteListener",
      "output": {
        "resultWrapper": "DeleteListenerResult",
        "shape": "DeleteListenerOutput"
      }
    },
    "DeleteLoadBalancer": {
      "documentation": "<p>Deletes the specified Application Load Balancer or Network Load Balancer and its attached listeners.</p> <p>You can't delete a load balancer if deletion protection is enabled. If the load balancer does not exist or has already been deleted, the call succeeds.</p> <p>Deleting a load balancer does not affect its registered targets. For example, your EC2 instances continue to run and are still registered to their target groups. If you no longer need these EC2 instances, you can stop or terminate them.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoadBalancerInput"
      },
      "name": "DeleteLoadBalancer",
      "output": {
        "resultWrapper": "DeleteLoadBalancerResult",
        "shape": "DeleteLoadBalancerOutput"
      }
    },
    "DeleteRule": {
      "documentation": "<p>Deletes the specified rule.</p>",
      "errors": [
        {
          "shape": "RuleNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleInput"
      },
      "name": "DeleteRule",
      "output": {
        "resultWrapper": "DeleteRuleResult",
        "shape": "DeleteRuleOutput"
      }
    },
    "DeleteTargetGroup": {
      "documentation": "<p>Deletes the specified target group.</p> <p>You can delete a target group if it is not referenced by any actions. Deleting a target group also deletes any associated health checks.</p>",
      "errors": [
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTargetGroupInput"
      },
      "name": "DeleteTargetGroup",
      "output": {
        "resultWrapper": "DeleteTargetGroupResult",
        "shape": "DeleteTargetGroupOutput"
      }
    },
    "DeregisterTargets": {
      "documentation": "<p>Deregisters the specified targets from the specified target group. After the targets are deregistered, they no longer receive traffic from the load balancer.</p>",
      "errors": [
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "InvalidTargetException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterTargetsInput"
      },
      "name": "DeregisterTargets",
      "output": {
        "resultWrapper": "DeregisterTargetsResult",
        "shape": "DeregisterTargetsOutput"
      }
    },
    "DescribeAccountLimits": {
      "documentation": "<p>Describes the current Elastic Load Balancing resource limits for your AWS account.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-limits.html\">Limits for Your Application Load Balancers</a> in the <i>Application Load Balancer Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-limits.html\">Limits for Your Network Load Balancers</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountLimitsInput"
      },
      "name": "DescribeAccountLimits",
      "output": {
        "resultWrapper": "DescribeAccountLimitsResult",
        "shape": "DescribeAccountLimitsOutput"
      }
    },
    "DescribeListenerCertificates": {
      "documentation": "<p>Describes the default certificate and the certificate list for the specified HTTPS or TLS listener.</p> <p>If the default certificate is also in the certificate list, it appears twice in the results (once with <code>IsDefault</code> set to true and once with <code>IsDefault</code> set to false).</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#https-listener-certificates\">SSL Certificates</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeListenerCertificatesInput"
      },
      "name": "DescribeListenerCertificates",
      "output": {
        "resultWrapper": "DescribeListenerCertificatesResult",
        "shape": "DescribeListenerCertificatesOutput"
      }
    },
    "DescribeListeners": {
      "documentation": "<p>Describes the specified listeners or the listeners for the specified Application Load Balancer or Network Load Balancer. You must specify either a load balancer or one or more listeners.</p> <p>For an HTTPS or TLS listener, the output includes the default certificate for the listener. To describe the certificate list for the listener, use <a>DescribeListenerCertificates</a>.</p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "UnsupportedProtocolException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeListenersInput"
      },
      "name": "DescribeListeners",
      "output": {
        "resultWrapper": "DescribeListenersResult",
        "shape": "DescribeListenersOutput"
      }
    },
    "DescribeLoadBalancerAttributes": {
      "documentation": "<p>Describes the attributes for the specified Application Load Balancer or Network Load Balancer.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/application-load-balancers.html#load-balancer-attributes\">Load Balancer Attributes</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/network-load-balancers.html#load-balancer-attributes\">Load Balancer Attributes</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoadBalancerAttributesInput"
      },
      "name": "DescribeLoadBalancerAttributes",
      "output": {
        "resultWrapper": "DescribeLoadBalancerAttributesResult",
        "shape": "DescribeLoadBalancerAttributesOutput"
      }
    },
    "DescribeLoadBalancers": {
      "documentation": "<p>Describes the specified load balancers or all of your load balancers.</p> <p>To describe the listeners for a load balancer, use <a>DescribeListeners</a>. To describe the attributes for a load balancer, use <a>DescribeLoadBalancerAttributes</a>.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoadBalancersInput"
      },
      "name": "DescribeLoadBalancers",
      "output": {
        "resultWrapper": "DescribeLoadBalancersResult",
        "shape": "DescribeLoadBalancersOutput"
      }
    },
    "DescribeRules": {
      "documentation": "<p>Describes the specified rules or the rules for the specified listener. You must specify either a listener or one or more rules.</p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "RuleNotFoundException"
        },
        {
          "shape": "UnsupportedProtocolException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRulesInput"
      },
      "name": "DescribeRules",
      "output": {
        "resultWrapper": "DescribeRulesResult",
        "shape": "DescribeRulesOutput"
      }
    },
    "DescribeSSLPolicies": {
      "documentation": "<p>Describes the specified policies or all policies used for SSL negotiation.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security Policies</a> in the <i>Application Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "SSLPolicyNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSSLPoliciesInput"
      },
      "name": "DescribeSSLPolicies",
      "output": {
        "resultWrapper": "DescribeSSLPoliciesResult",
        "shape": "DescribeSSLPoliciesOutput"
      }
    },
    "DescribeTags": {
      "documentation": "<p>Describes the tags for the specified resources. You can describe the tags for one or more Application Load Balancers, Network Load Balancers, and target groups.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "RuleNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagsInput"
      },
      "name": "DescribeTags",
      "output": {
        "resultWrapper": "DescribeTagsResult",
        "shape": "DescribeTagsOutput"
      }
    },
    "DescribeTargetGroupAttributes": {
      "documentation": "<p>Describes the attributes for the specified target group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/load-balancer-target-groups.html#target-group-attributes\">Target Group Attributes</a> in the <i>Application Load Balancers Guide</i> or <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/load-balancer-target-groups.html#target-group-attributes\">Target Group Attributes</a> in the <i>Network Load Balancers Guide</i>.</p>",
      "errors": [
        {
          "shape": "TargetGroupNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTargetGroupAttributesInput"
      },
      "name": "DescribeTargetGroupAttributes",
      "output": {
        "resultWrapper": "DescribeTargetGroupAttributesResult",
        "shape": "DescribeTargetGroupAttributesOutput"
      }
    },
    "DescribeTargetGroups": {
      "documentation": "<p>Describes the specified target groups or all of your target groups. By default, all target groups are described. Alternatively, you can specify one of the following to filter the results: the ARN of the load balancer, the names of one or more target groups, or the ARNs of one or more target groups.</p> <p>To describe the targets for a target group, use <a>DescribeTargetHealth</a>. To describe the attributes of a target group, use <a>DescribeTargetGroupAttributes</a>.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTargetGroupsInput"
      },
      "name": "DescribeTargetGroups",
      "output": {
        "resultWrapper": "DescribeTargetGroupsResult",
        "shape": "DescribeTargetGroupsOutput"
      }
    },
    "DescribeTargetHealth": {
      "documentation": "<p>Describes the health of the specified targets or all of your targets.</p>",
      "errors": [
        {
          "shape": "InvalidTargetException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "HealthUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTargetHealthInput"
      },
      "name": "DescribeTargetHealth",
      "output": {
        "resultWrapper": "DescribeTargetHealthResult",
        "shape": "DescribeTargetHealthOutput"
      }
    },
    "ModifyListener": {
      "documentation": "<p>Replaces the specified properties of the specified listener. Any properties that you do not specify remain unchanged.</p> <p>Changing the protocol from HTTPS to HTTP, or from TLS to TCP, removes the security policy and default certificate properties. If you change the protocol from HTTP to HTTPS, or from TCP to TLS, you must add the security policy and default certificate properties.</p> <p>To add an item to a list, remove an item from a list, or update an item in a list, you must provide the entire list. For example, to add an action, specify a list with the current actions plus the new action.</p>",
      "errors": [
        {
          "shape": "DuplicateListenerException"
        },
        {
          "shape": "TooManyListenersException"
        },
        {
          "shape": "TooManyCertificatesException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "TargetGroupAssociationLimitException"
        },
        {
          "shape": "IncompatibleProtocolsException"
        },
        {
          "shape": "SSLPolicyNotFoundException"
        },
        {
          "shape": "CertificateNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "UnsupportedProtocolException"
        },
        {
          "shape": "TooManyRegistrationsForTargetIdException"
        },
        {
          "shape": "TooManyTargetsException"
        },
        {
          "shape": "TooManyActionsException"
        },
        {
          "shape": "InvalidLoadBalancerActionException"
        },
        {
          "shape": "TooManyUniqueTargetGroupsPerLoadBalancerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyListenerInput"
      },
      "name": "ModifyListener",
      "output": {
        "resultWrapper": "ModifyListenerResult",
        "shape": "ModifyListenerOutput"
      }
    },
    "ModifyLoadBalancerAttributes": {
      "documentation": "<p>Modifies the specified attributes of the specified Application Load Balancer or Network Load Balancer.</p> <p>If any of the specified attributes can't be modified as requested, the call fails. Any existing attributes that you do not modify retain their current values.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyLoadBalancerAttributesInput"
      },
      "name": "ModifyLoadBalancerAttributes",
      "output": {
        "resultWrapper": "ModifyLoadBalancerAttributesResult",
        "shape": "ModifyLoadBalancerAttributesOutput"
      }
    },
    "ModifyRule": {
      "documentation": "<p>Replaces the specified properties of the specified rule. Any properties that you do not specify are unchanged.</p> <p>To add an item to a list, remove an item from a list, or update an item in a list, you must provide the entire list. For example, to add an action, specify a list with the current actions plus the new action.</p> <p>To modify the actions for the default rule, use <a>ModifyListener</a>.</p>",
      "errors": [
        {
          "shape": "TargetGroupAssociationLimitException"
        },
        {
          "shape": "IncompatibleProtocolsException"
        },
        {
          "shape": "RuleNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        },
        {
          "shape": "TooManyRegistrationsForTargetIdException"
        },
        {
          "shape": "TooManyTargetsException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "UnsupportedProtocolException"
        },
        {
          "shape": "TooManyActionsException"
        },
        {
          "shape": "InvalidLoadBalancerActionException"
        },
        {
          "shape": "TooManyUniqueTargetGroupsPerLoadBalancerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyRuleInput"
      },
      "name": "ModifyRule",
      "output": {
        "resultWrapper": "ModifyRuleResult",
        "shape": "ModifyRuleOutput"
      }
    },
    "ModifyTargetGroup": {
      "documentation": "<p>Modifies the health checks used when evaluating the health state of the targets in the specified target group.</p> <p>To monitor the health of the targets, use <a>DescribeTargetHealth</a>.</p>",
      "errors": [
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyTargetGroupInput"
      },
      "name": "ModifyTargetGroup",
      "output": {
        "resultWrapper": "ModifyTargetGroupResult",
        "shape": "ModifyTargetGroupOutput"
      }
    },
    "ModifyTargetGroupAttributes": {
      "documentation": "<p>Modifies the specified attributes of the specified target group.</p>",
      "errors": [
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyTargetGroupAttributesInput"
      },
      "name": "ModifyTargetGroupAttributes",
      "output": {
        "resultWrapper": "ModifyTargetGroupAttributesResult",
        "shape": "ModifyTargetGroupAttributesOutput"
      }
    },
    "RegisterTargets": {
      "documentation": "<p>Registers the specified targets with the specified target group.</p> <p>If the target is an EC2 instance, it must be in the <code>running</code> state when you register it.</p> <p>By default, the load balancer routes requests to registered targets using the protocol and port for the target group. Alternatively, you can override the port for a target when you register it. You can register each EC2 instance or IP address with the same target group multiple times using different ports.</p> <p>With a Network Load Balancer, you cannot register instances by instance ID if they have the following instance types: C1, CC1, CC2, CG1, CG2, CR1, CS1, G1, G2, HI1, HS1, M1, M2, M3, and T1. You can register instances of these types by IP address.</p> <p>To remove a target from a target group, use <a>DeregisterTargets</a>.</p>",
      "errors": [
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "TooManyTargetsException"
        },
        {
          "shape": "InvalidTargetException"
        },
        {
          "shape": "TooManyRegistrationsForTargetIdException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RegisterTargetsInput"
      },
      "name": "RegisterTargets",
      "output": {
        "resultWrapper": "RegisterTargetsResult",
        "shape": "RegisterTargetsOutput"
      }
    },
    "RemoveListenerCertificates": {
      "documentation": "<p>Removes the specified certificate from the certificate list for the specified HTTPS or TLS listener.</p> <p>You can't remove the default certificate for a listener. To replace the default certificate, call <a>ModifyListener</a>.</p> <p>To list the certificates for your listener, use <a>DescribeListenerCertificates</a>.</p>",
      "errors": [
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveListenerCertificatesInput"
      },
      "name": "RemoveListenerCertificates",
      "output": {
        "resultWrapper": "RemoveListenerCertificatesResult",
        "shape": "RemoveListenerCertificatesOutput"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes the specified tags from the specified Elastic Load Balancing resource.</p> <p>To list the current tags for your resources, use <a>DescribeTags</a>.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "TargetGroupNotFoundException"
        },
        {
          "shape": "ListenerNotFoundException"
        },
        {
          "shape": "RuleNotFoundException"
        },
        {
          "shape": "TooManyTagsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsInput"
      },
      "name": "RemoveTags",
      "output": {
        "resultWrapper": "RemoveTagsResult",
        "shape": "RemoveTagsOutput"
      }
    },
    "SetIpAddressType": {
      "documentation": "<p>Sets the type of IP addresses used by the subnets of the specified Application Load Balancer or Network Load Balancer.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "InvalidSubnetException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetIpAddressTypeInput"
      },
      "name": "SetIpAddressType",
      "output": {
        "resultWrapper": "SetIpAddressTypeResult",
        "shape": "SetIpAddressTypeOutput"
      }
    },
    "SetRulePriorities": {
      "documentation": "<p>Sets the priorities of the specified rules.</p> <p>You can reorder the rules as long as there are no priority conflicts in the new order. Any existing rules that you do not specify retain their current priority.</p>",
      "errors": [
        {
          "shape": "RuleNotFoundException"
        },
        {
          "shape": "PriorityInUseException"
        },
        {
          "shape": "OperationNotPermittedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetRulePrioritiesInput"
      },
      "name": "SetRulePriorities",
      "output": {
        "resultWrapper": "SetRulePrioritiesResult",
        "shape": "SetRulePrioritiesOutput"
      }
    },
    "SetSecurityGroups": {
      "documentation": "<p>Associates the specified security groups with the specified Application Load Balancer. The specified security groups override the previously associated security groups.</p> <p>You can't specify a security group for a Network Load Balancer.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "InvalidSecurityGroupException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSecurityGroupsInput"
      },
      "name": "SetSecurityGroups",
      "output": {
        "resultWrapper": "SetSecurityGroupsResult",
        "shape": "SetSecurityGroupsOutput"
      }
    },
    "SetSubnets": {
      "documentation": "<p>Enables the Availability Zones for the specified public subnets for the specified load balancer. The specified subnets replace the previously enabled subnets.</p> <p>When you specify subnets for a Network Load Balancer, you must include all subnets that were enabled previously, with their existing configurations, plus any additional subnets.</p>",
      "errors": [
        {
          "shape": "LoadBalancerNotFoundException"
        },
        {
          "shape": "InvalidConfigurationRequestException"
        },
        {
          "shape": "SubnetNotFoundException"
        },
        {
          "shape": "InvalidSubnetException"
        },
        {
          "shape": "AllocationIdNotFoundException"
        },
        {
          "shape": "AvailabilityZoneNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetSubnetsInput"
      },
      "name": "SetSubnets",
      "output": {
        "resultWrapper": "SetSubnetsResult",
        "shape": "SetSubnetsOutput"
      }
    }
  },
  "shapes": {
    "Action": {
      "documentation": "<p>Information about an action.</p>",
      "members": {
        "AuthenticateCognitoConfig": {
          "documentation": "<p>[HTTPS listeners] Information for using Amazon Cognito to authenticate users. Specify only when <code>Type</code> is <code>authenticate-cognito</code>.</p>",
          "shape": "AuthenticateCognitoActionConfig"
        },
        "AuthenticateOidcConfig": {
          "documentation": "<p>[HTTPS listeners] Information about an identity provider that is compliant with OpenID Connect (OIDC). Specify only when <code>Type</code> is <code>authenticate-oidc</code>.</p>",
          "shape": "AuthenticateOidcActionConfig"
        },
        "FixedResponseConfig": {
          "documentation": "<p>[Application Load Balancer] Information for creating an action that returns a custom HTTP response. Specify only when <code>Type</code> is <code>fixed-response</code>.</p>",
          "shape": "FixedResponseActionConfig"
        },
        "ForwardConfig": {
          "documentation": "<p>Information for creating an action that distributes requests among one or more target groups. For Network Load Balancers, you can specify a single target group. Specify only when <code>Type</code> is <code>forward</code>. If you specify both <code>ForwardConfig</code> and <code>TargetGroupArn</code>, you can specify only one target group using <code>ForwardConfig</code> and it must be the same target group specified in <code>TargetGroupArn</code>.</p>",
          "shape": "ForwardActionConfig"
        },
        "Order": {
          "documentation": "<p>The order for the action. This value is required for rules with multiple actions. The action with the lowest value for order is performed first. The last action to be performed must be one of the following types of actions: a <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>.</p>",
          "shape": "ActionOrder"
        },
        "RedirectConfig": {
          "documentation": "<p>[Application Load Balancer] Information for creating a redirect action. Specify only when <code>Type</code> is <code>redirect</code>.</p>",
          "shape": "RedirectActionConfig"
        },
        "TargetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target group. Specify only when <code>Type</code> is <code>forward</code> and you want to route to a single target group. To route to one or more target groups, use <code>ForwardConfig</code> instead.</p>",
          "shape": "TargetGroupArn"
        },
        "Type": {
          "documentation": "<p>The type of action.</p>",
          "shape": "ActionTypeEnum"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "ActionOrder": {
      "max": 50000,
      "min": 1,
      "type": "integer"
    },
    "ActionTypeEnum": {
      "enum": [
        "forward",
        "authenticate-oidc",
        "authenticate-cognito",
        "redirect",
        "fixed-response"
      ],
      "type": "string"
    },
    "Actions": {
      "member": {
        "shape": "Action"
      },
      "type": "list"
    },
    "AddListenerCertificatesInput": {
      "members": {
        "Certificates": {
          "documentation": "<p>The certificate to add. You can specify one certificate per call. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p>",
          "shape": "CertificateList"
        },
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "ListenerArn"
        }
      },
      "required": [
        "ListenerArn",
        "Certificates"
      ],
      "type": "structure"
    },
    "AddListenerCertificatesOutput": {
      "members": {
        "Certificates": {
          "documentation": "<p>Information about the certificates in the certificate list.</p>",
          "shape": "CertificateList"
        }
      },
      "type": "structure"
    },
    "AddTagsInput": {
      "members": {
        "ResourceArns": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "ResourceArns"
        },
        "Tags": {
          "documentation": "<p>The tags.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArns",
        "Tags"
      ],
      "type": "structure"
    },
    "AddTagsOutput": {
      "members": {},
      "type": "structure"
    },
    "AllocationId": {
      "type": "string"
    },
    "AllocationIdNotFoundException": {
      "documentation": "<p>The specified allocation ID does not exist.</p>",
      "error": {
        "code": "AllocationIdNotFound",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AuthenticateCognitoActionAuthenticationRequestExtraParams": {
      "key": {
        "shape": "AuthenticateCognitoActionAuthenticationRequestParamName"
      },
      "type": "map",
      "value": {
        "shape": "AuthenticateCognitoActionAuthenticationRequestParamValue"
      }
    },
    "AuthenticateCognitoActionAuthenticationRequestParamName": {
      "type": "string"
    },
    "AuthenticateCognitoActionAuthenticationRequestParamValue": {
      "type": "string"
    },
    "AuthenticateCognitoActionConditionalBehaviorEnum": {
      "enum": [
        "deny",
        "allow",
        "authenticate"
      ],
      "type": "string"
    },
    "AuthenticateCognitoActionConfig": {
      "documentation": "<p>Request parameters to use when integrating with Amazon Cognito to authenticate users.</p>",
      "members": {
        "AuthenticationRequestExtraParams": {
          "documentation": "<p>The query parameters (up to 10) to include in the redirect request to the authorization endpoint.</p>",
          "shape": "AuthenticateCognitoActionAuthenticationRequestExtraParams"
        },
        "OnUnauthenticatedRequest": {
          "documentation": "<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>",
          "shape": "AuthenticateCognitoActionConditionalBehaviorEnum"
        },
        "Scope": {
          "documentation": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>",
          "shape": "AuthenticateCognitoActionScope"
        },
        "SessionCookieName": {
          "documentation": "<p>The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.</p>",
          "shape": "AuthenticateCognitoActionSessionCookieName"
        },
        "SessionTimeout": {
          "documentation": "<p>The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).</p>",
          "shape": "AuthenticateCognitoActionSessionTimeout"
        },
        "UserPoolArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Cognito user pool.</p>",
          "shape": "AuthenticateCognitoActionUserPoolArn"
        },
        "UserPoolClientId": {
          "documentation": "<p>The ID of the Amazon Cognito user pool client.</p>",
          "shape": "AuthenticateCognitoActionUserPoolClientId"
        },
        "UserPoolDomain": {
          "documentation": "<p>The domain prefix or fully-qualified domain name of the Amazon Cognito user pool.</p>",
          "shape": "AuthenticateCognitoActionUserPoolDomain"
        }
      },
      "required": [
        "UserPoolArn",
        "UserPoolClientId",
        "UserPoolDomain"
      ],
      "type": "structure"
    },
    "AuthenticateCognitoActionScope": {
      "type": "string"
    },
    "AuthenticateCognitoActionSessionCookieName": {
      "type": "string"
    },
    "AuthenticateCognitoActionSessionTimeout": {
      "type": "long"
    },
    "AuthenticateCognitoActionUserPoolArn": {
      "type": "string"
    },
    "AuthenticateCognitoActionUserPoolClientId": {
      "type": "string"
    },
    "AuthenticateCognitoActionUserPoolDomain": {
      "type": "string"
    },
    "AuthenticateOidcActionAuthenticationRequestExtraParams": {
      "key": {
        "shape": "AuthenticateOidcActionAuthenticationRequestParamName"
      },
      "type": "map",
      "value": {
        "shape": "AuthenticateOidcActionAuthenticationRequestParamValue"
      }
    },
    "AuthenticateOidcActionAuthenticationRequestParamName": {
      "type": "string"
    },
    "AuthenticateOidcActionAuthenticationRequestParamValue": {
      "type": "string"
    },
    "AuthenticateOidcActionAuthorizationEndpoint": {
      "type": "string"
    },
    "AuthenticateOidcActionClientId": {
      "type": "string"
    },
    "AuthenticateOidcActionClientSecret": {
      "type": "string"
    },
    "AuthenticateOidcActionConditionalBehaviorEnum": {
      "enum": [
        "deny",
        "allow",
        "authenticate"
      ],
      "type": "string"
    },
    "AuthenticateOidcActionConfig": {
      "documentation": "<p>Request parameters when using an identity provider (IdP) that is compliant with OpenID Connect (OIDC) to authenticate users.</p>",
      "members": {
        "AuthenticationRequestExtraParams": {
          "documentation": "<p>The query parameters (up to 10) to include in the redirect request to the authorization endpoint.</p>",
          "shape": "AuthenticateOidcActionAuthenticationRequestExtraParams"
        },
        "AuthorizationEndpoint": {
          "documentation": "<p>The authorization endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
          "shape": "AuthenticateOidcActionAuthorizationEndpoint"
        },
        "ClientId": {
          "documentation": "<p>The OAuth 2.0 client identifier.</p>",
          "shape": "AuthenticateOidcActionClientId"
        },
        "ClientSecret": {
          "documentation": "<p>The OAuth 2.0 client secret. This parameter is required if you are creating a rule. If you are modifying a rule, you can omit this parameter if you set <code>UseExistingClientSecret</code> to true.</p>",
          "shape": "AuthenticateOidcActionClientSecret"
        },
        "Issuer": {
          "documentation": "<p>The OIDC issuer identifier of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
          "shape": "AuthenticateOidcActionIssuer"
        },
        "OnUnauthenticatedRequest": {
          "documentation": "<p>The behavior if the user is not authenticated. The following are possible values:</p> <ul> <li> <p>deny<code/> - Return an HTTP 401 Unauthorized error.</p> </li> <li> <p>allow<code/> - Allow the request to be forwarded to the target.</p> </li> <li> <p>authenticate<code/> - Redirect the request to the IdP authorization endpoint. This is the default value.</p> </li> </ul>",
          "shape": "AuthenticateOidcActionConditionalBehaviorEnum"
        },
        "Scope": {
          "documentation": "<p>The set of user claims to be requested from the IdP. The default is <code>openid</code>.</p> <p>To verify which scope values your IdP supports and how to separate multiple values, see the documentation for your IdP.</p>",
          "shape": "AuthenticateOidcActionScope"
        },
        "SessionCookieName": {
          "documentation": "<p>The name of the cookie used to maintain session information. The default is AWSELBAuthSessionCookie.</p>",
          "shape": "AuthenticateOidcActionSessionCookieName"
        },
        "SessionTimeout": {
          "documentation": "<p>The maximum duration of the authentication session, in seconds. The default is 604800 seconds (7 days).</p>",
          "shape": "AuthenticateOidcActionSessionTimeout"
        },
        "TokenEndpoint": {
          "documentation": "<p>The token endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
          "shape": "AuthenticateOidcActionTokenEndpoint"
        },
        "UseExistingClientSecret": {
          "documentation": "<p>Indicates whether to use the existing client secret when modifying a rule. If you are creating a rule, you can omit this parameter or set it to false.</p>",
          "shape": "AuthenticateOidcActionUseExistingClientSecret"
        },
        "UserInfoEndpoint": {
          "documentation": "<p>The user info endpoint of the IdP. This must be a full URL, including the HTTPS protocol, the domain, and the path.</p>",
          "shape": "AuthenticateOidcActionUserInfoEndpoint"
        }
      },
      "required": [
        "Issuer",
        "AuthorizationEndpoint",
        "TokenEndpoint",
        "UserInfoEndpoint",
        "ClientId"
      ],
      "type": "structure"
    },
    "AuthenticateOidcActionIssuer": {
      "type": "string"
    },
    "AuthenticateOidcActionScope": {
      "type": "string"
    },
    "AuthenticateOidcActionSessionCookieName": {
      "type": "string"
    },
    "AuthenticateOidcActionSessionTimeout": {
      "type": "long"
    },
    "AuthenticateOidcActionTokenEndpoint": {
      "type": "string"
    },
    "AuthenticateOidcActionUseExistingClientSecret": {
      "type": "boolean"
    },
    "AuthenticateOidcActionUserInfoEndpoint": {
      "type": "string"
    },
    "AvailabilityZone": {
      "documentation": "<p>Information about an Availability Zone.</p>",
      "members": {
        "LoadBalancerAddresses": {
          "documentation": "<p>[Network Load Balancers] If you need static IP addresses for your load balancer, you can specify one Elastic IP address per Availability Zone when you create an internal-facing load balancer. For internal load balancers, you can specify a private IP address from the IPv4 range of the subnet.</p>",
          "shape": "LoadBalancerAddresses"
        },
        "SubnetId": {
          "documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>",
          "shape": "SubnetId"
        },
        "ZoneName": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "ZoneName"
        }
      },
      "type": "structure"
    },
    "AvailabilityZoneNotSupportedException": {
      "documentation": "<p>The specified Availability Zone is not supported.</p>",
      "error": {
        "code": "AvailabilityZoneNotSupported",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "AvailabilityZones": {
      "member": {
        "shape": "AvailabilityZone"
      },
      "type": "list"
    },
    "CanonicalHostedZoneId": {
      "type": "string"
    },
    "Certificate": {
      "documentation": "<p>Information about an SSL server certificate.</p>",
      "members": {
        "CertificateArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the certificate.</p>",
          "shape": "CertificateArn"
        },
        "IsDefault": {
          "documentation": "<p>Indicates whether the certificate is the default certificate. Do not set this value when specifying a certificate as an input. This value is not included in the output when describing a listener, but is included when describing listener certificates.</p>",
          "shape": "Default"
        }
      },
      "type": "structure"
    },
    "CertificateArn": {
      "type": "string"
    },
    "CertificateList": {
      "member": {
        "shape": "Certificate"
      },
      "type": "list"
    },
    "CertificateNotFoundException": {
      "documentation": "<p>The specified certificate does not exist.</p>",
      "error": {
        "code": "CertificateNotFound",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Cipher": {
      "documentation": "<p>Information about a cipher used in a policy.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the cipher.</p>",
          "shape": "CipherName"
        },
        "Priority": {
          "documentation": "<p>The priority of the cipher.</p>",
          "shape": "CipherPriority"
        }
      },
      "type": "structure"
    },
    "CipherName": {
      "type": "string"
    },
    "CipherPriority": {
      "type": "integer"
    },
    "Ciphers": {
      "member": {
        "shape": "Cipher"
      },
      "type": "list"
    },
    "ConditionFieldName": {
      "max": 64,
      "type": "string"
    },
    "CreateListenerInput": {
      "members": {
        "Certificates": {
          "documentation": "<p>[HTTPS and TLS listeners] The default certificate for the listener. You must provide exactly one certificate. Set <code>CertificateArn</code> to the certificate ARN but do not set <code>IsDefault</code>.</p> <p>To create a certificate list for the listener, use <a>AddListenerCertificates</a>.</p>",
          "shape": "CertificateList"
        },
        "DefaultActions": {
          "documentation": "<p>The actions for the default rule. The rule must include one forward action or one or more fixed-response actions.</p> <p>If the action type is <code>forward</code>, you specify one or more target groups. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>",
          "shape": "Actions"
        },
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        },
        "Port": {
          "documentation": "<p>The port on which the load balancer is listening.</p>",
          "shape": "Port"
        },
        "Protocol": {
          "documentation": "<p>The protocol for connections from clients to the load balancer. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, and TCP_UDP.</p>",
          "shape": "ProtocolEnum"
        },
        "SslPolicy": {
          "documentation": "<p>[HTTPS and TLS listeners] The security policy that defines which protocols and ciphers are supported. The following are the possible values:</p> <ul> <li> <p> <code>ELBSecurityPolicy-2016-08</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-TLS-1-0-2015-04</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-TLS-1-1-2017-01</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-TLS-1-2-2017-01</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-TLS-1-2-Ext-2018-06</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-FS-2018-06</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-FS-1-1-2019-08</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-FS-1-2-2019-08</code> </p> </li> <li> <p> <code>ELBSecurityPolicy-FS-1-2-Res-2019-08</code> </p> </li> </ul> <p>For more information, see <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/application/create-https-listener.html#describe-ssl-policies\">Security Policies</a> in the <i>Application Load Balancers Guide</i> and <a href=\"https://docs.aws.amazon.com/elasticloadbalancing/latest/network/create-tls-listener.html#describe-ssl-policies\">Security Policies</a> in the <i>Network Load Balancers Guide</i>.</p>",
          "shape": "SslPolicyName"
        }
      },
      "required": [
        "LoadBalancerArn",
        "Protocol",
        "Port",
        "DefaultActions"
      ],
      "type": "structure"
    },
    "CreateListenerOutput": {
      "members": {
        "Listeners": {
          "documentation": "<p>Information about the listener.</p>",
          "shape": "Listeners"
        }
      },
      "type": "structure"
    },
    "CreateLoadBalancerInput": {
      "members": {
        "IpAddressType": {
          "documentation": "<p>[Application Load Balancers] The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses). Internal load balancers must use <code>ipv4</code>.</p>",
          "shape": "IpAddressType"
        },
        "Name": {
          "documentation": "<p>The name of the load balancer.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, must not begin or end with a hyphen, and must not begin with \"internal-\".</p>",
          "shape": "LoadBalancerName"
        },
        "Scheme": {
          "documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses. The DNS name of an Internet-facing load balancer is publicly resolvable to the public IP addresses of the nodes. Therefore, Internet-facing load balancers can route requests from clients over the internet.</p> <p>The nodes of an internal load balancer have only private IP addresses. The DNS name of an internal load balancer is publicly resolvable to the private IP addresses of the nodes. Therefore, internal load balancers can route requests only from clients with access to the VPC for the load balancer.</p> <p>The default is an Internet-facing load balancer.</p>",
          "shape": "LoadBalancerSchemeEnum"
        },
        "SecurityGroups": {
          "documentation": "<p>[Application Load Balancers] The IDs of the security groups for the load balancer.</p>",
          "shape": "SecurityGroups"
        },
        "SubnetMappings": {
          "documentation": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones. You cannot specify Elastic IP addresses for your subnets.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones. You can specify one Elastic IP address per subnet if you need static IP addresses for your internet-facing load balancer. For internal load balancers, you can specify one private IP address per subnet from the IPv4 range of the subnet.</p>",
          "shape": "SubnetMappings"
        },
        "Subnets": {
          "documentation": "<p>The IDs of the public subnets. You can specify only one subnet per Availability Zone. You must specify either subnets or subnet mappings.</p> <p>[Application Load Balancers] You must specify subnets from at least two Availability Zones.</p> <p>[Network Load Balancers] You can specify subnets from one or more Availability Zones.</p>",
          "shape": "Subnets"
        },
        "Tags": {
          "documentation": "<p>One or more tags to assign to the load balancer.</p>",
          "shape": "TagList"
        },
        "Type": {
          "documentation": "<p>The type of load balancer. The default is <code>application</code>.</p>",
          "shape": "LoadBalancerTypeEnum"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateLoadBalancerOutput": {
      "members": {
        "LoadBalancers": {
          "documentation": "<p>Information about the load balancer.</p>",
          "shape": "LoadBalancers"
        }
      },
      "type": "structure"
    },
    "CreateRuleInput": {
      "members": {
        "Actions": {
          "documentation": "<p>The actions. Each rule must include exactly one of the following types of actions: <code>forward</code>, <code>fixed-response</code>, or <code>redirect</code>, and it must be the last action to be performed.</p> <p>If the action type is <code>forward</code>, you specify one or more target groups. The protocol of the target group must be HTTP or HTTPS for an Application Load Balancer. The protocol of the target group must be TCP, TLS, UDP, or TCP_UDP for a Network Load Balancer.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-oidc</code>, you authenticate users through an identity provider that is OpenID Connect (OIDC) compliant.</p> <p>[HTTPS listeners] If the action type is <code>authenticate-cognito</code>, you authenticate users through the user pools supported by Amazon Cognito.</p> <p>[Application Load Balancer] If the action type is <code>redirect</code>, you redirect specified client requests from one URL to another.</p> <p>[Application Load Balancer] If the action type is <code>fixed-response</code>, you drop specified client requests and return a custom HTTP response.</p>",
          "shape": "Actions"
        },
        "Conditions": {
          "documentation": "<p>The conditions. Each rule can include zero or one of the following conditions: <code>http-request-method</code>, <code>host-header</code>, <code>path-pattern</code>, and <code>source-ip</code>, and zero or more of the following conditions: <code>http-header</code> and <code>query-string</code>.</p>",
          "shape": "RuleConditionList"
        },
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "ListenerArn"
        },
        "Priority": {
          "documentation": "<p>The rule priority. A listener can't have multiple rules with the same priority.</p>",
          "shape": "RulePriority"
        }
      },
      "required": [
        "ListenerArn",
        "Conditions",
        "Priority",
        "Actions"
      ],
      "type": "structure"
    },
    "CreateRuleOutput": {
      "members": {
        "Rules": {
          "documentation": "<p>Information about the rule.</p>",
          "shape": "Rules"
        }
      },
      "type": "structure"
    },
    "CreateTargetGroupInput": {
      "members": {
        "HealthCheckEnabled": {
          "documentation": "<p>Indicates whether health checks are enabled. If the target type is <code>lambda</code>, health checks are disabled by default but can be enabled. If the target type is <code>instance</code> or <code>ip</code>, health checks are always enabled and cannot be disabled.</p>",
          "shape": "HealthCheckEnabled"
        },
        "HealthCheckIntervalSeconds": {
          "documentation": "<p>The approximate amount of time, in seconds, between health checks of an individual target. For HTTP and HTTPS health checks, the range is 5\u2013300 seconds. For TCP health checks, the supported values are 10 and 30 seconds. If the target type is <code>instance</code> or <code>ip</code>, the default is 30 seconds. If the target type is <code>lambda</code>, the default is 35 seconds.</p>",
          "shape": "HealthCheckIntervalSeconds"
        },
        "HealthCheckPath": {
          "documentation": "<p>[HTTP/HTTPS health checks] The ping path that is the destination on the targets for health checks. The default is /.</p>",
          "shape": "Path"
        },
        "HealthCheckPort": {
          "documentation": "<p>The port the load balancer uses when performing health checks on targets. The default is <code>traffic-port</code>, which is the port on which each target receives traffic from the load balancer.</p>",
          "shape": "HealthCheckPort"
        },
        "HealthCheckProtocol": {
          "documentation": "<p>The protocol the load balancer uses when performing health checks on targets. For Application Load Balancers, the default is HTTP. For Network Load Balancers, the default is TCP. The TCP protocol is supported for health checks only if the protocol of the target group is TCP, TLS, UDP, or TCP_UDP. The TLS, UDP, and TCP_UDP protocols are not supported for health checks.</p>",
          "shape": "ProtocolEnum"
        },
        "HealthCheckTimeoutSeconds": {
          "documentation": "<p>The amount of time, in seconds, during which no response from a target means a failed health check. For target groups with a protocol of HTTP or HTTPS, the default is 5 seconds. For target groups with a protocol of TCP or TLS, this value must be 6 seconds for HTTP health checks and 10 seconds for TCP and HTTPS health checks. If the target type is <code>lambda</code>, the default is 30 seconds.</p>",
          "shape": "HealthCheckTimeoutSeconds"
        },
        "HealthyThresholdCount": {
          "documentation": "<p>The number of consecutive health checks successes required before considering an unhealthy target healthy. For target groups with a protocol of HTTP or HTTPS, the default is 5. For target groups with a protocol of TCP or TLS, the default is 3. If the target type is <code>lambda</code>, the default is 5.</p>",
          "shape": "HealthCheckThresholdCount"
        },
        "Matcher": {
          "documentation": "<p>[HTTP/HTTPS health checks] The HTTP codes to use when checking for a successful response from a target.</p>",
          "shape": "Matcher"
        },
        "Name": {
          "documentation": "<p>The name of the target group.</p> <p>This name must be unique per region per account, can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens, and must not begin or end with a hyphen.</p>",
          "shape": "TargetGroupName"
        },
        "Port": {
          "documentation": "<p>The port on which the targets receive traffic. This port is used unless you specify a port override when registering the target. If the target is a Lambda function, this parameter does not apply.</p>",
          "shape": "Port"
        },
        "Protocol": {
          "documentation": "<p>The protocol to use for routing traffic to the targets. For Application Load Balancers, the supported protocols are HTTP and HTTPS. For Network Load Balancers, the supported protocols are TCP, TLS, UDP, or TCP_UDP. A TCP_UDP listener must be associated with a TCP_UDP target group. If the target is a Lambda function, this parameter does not apply.</p>",
          "shape": "ProtocolEnum"
        },
        "TargetType": {
          "documentation": "<p>The type of target that you must specify when registering targets with this target group. You can't specify targets for a target group using more than one target type.</p> <ul> <li> <p> <code>instance</code> - Targets are specified by instance ID. This is the default value. If the target group protocol is UDP or TCP_UDP, the target type must be <code>instance</code>.</p> </li> <li> <p> <code>ip</code> - Targets are specified by IP address. You can specify IP addresses from the subnets of the virtual private cloud (VPC) for the target group, the RFC 1918 range (10.0.0.0/8, 172.16.0.0/12, and 192.168.0.0/16), and the RFC 6598 range (100.64.0.0/10). You can't specify publicly routable IP addresses.</p> </li> <li> <p> <code>lambda</code> - The target groups contains a single Lambda function.</p> </li> </ul>",
          "shape": "TargetTypeEnum"
        },
        "UnhealthyThresholdCount": {
          "documentation": "<p>The number of consecutive health check failures required before considering a target unhealthy. For target groups with a protocol of HTTP or HTTPS, the default is 2. For target groups with a protocol of TCP or TLS, this value must be the same as the healthy threshold count. If the target type is <code>lambda</code>, the default is 2.</p>",
          "shape": "HealthCheckThresholdCount"
        },
        "VpcId": {
          "documentation": "<p>The identifier of the virtual private cloud (VPC). If the target is a Lambda function, this parameter does not apply. Otherwise, this parameter is required.</p>",
          "shape": "VpcId"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateTargetGroupOutput": {
      "members": {
        "TargetGroups": {
          "documentation": "<p>Information about the target group.</p>",
          "shape": "TargetGroups"
        }
      },
      "type": "structure"
    },
    "CreatedTime": {
      "type": "timestamp"
    },
    "DNSName": {
      "type": "string"
    },
    "Default": {
      "type": "boolean"
    },
    "DeleteListenerInput": {
      "members": {
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "ListenerArn"
        }
      },
      "required": [
        "ListenerArn"
      ],
      "type": "structure"
    },
    "DeleteListenerOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteLoadBalancerInput": {
      "members": {
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        }
      },
      "required": [
        "LoadBalancerArn"
      ],
      "type": "structure"
    },
    "DeleteLoadBalancerOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteRuleInput": {
      "members": {
        "RuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "shape": "RuleArn"
        }
      },
      "required": [
        "RuleArn"
      ],
      "type": "structure"
    },
    "DeleteRuleOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteTargetGroupInput": {
      "members": {
        "TargetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "shape": "TargetGroupArn"
        }
      },
      "required": [
        "TargetGroupArn"
      ],
      "type": "structure"
    },
    "DeleteTargetGroupOutput": {
      "members": {},
      "type": "structure"
    },
    "DeregisterTargetsInput": {
      "members": {
        "TargetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "shape": "TargetGroupArn"
        },
        "Targets": {
          "documentation": "<p>The targets. If you specified a port override when you registered a target, you must specify both the target ID and the port when you deregister it.</p>",
          "shape": "TargetDescriptions"
        }
      },
      "required": [
        "TargetGroupArn",
        "Targets"
      ],
      "type": "structure"
    },
    "DeregisterTargetsOutput": {
      "members": {},
      "type": "structure"
    },
    "DescribeAccountLimitsInput": {
      "members": {
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        }
      },
      "type": "structure"
    },
    "DescribeAccountLimitsOutput": {
      "members": {
        "Limits": {
          "documentation": "<p>Information about the limits.</p>",
          "shape": "Limits"
        },
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        }
      },
      "type": "structure"
    },
    "DescribeListenerCertificatesInput": {
      "members": {
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the listener.</p>",
          "shape": "ListenerArn"
        },
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        }
      },
      "required": [
        "ListenerArn"
      ],
      "type": "structure"
    },
    "DescribeListenerCertificatesOutput": {
      "members": {
        "Certificates": {
          "documentation": "<p>Information about the certificates.</p>",
          "shape": "CertificateList"
        },
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        }
      },
      "type": "structure"
    },
    "DescribeListenersInput": {
      "members": {
        "ListenerArns": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the listeners.</p>",
          "shape": "ListenerArns"
        },
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        },
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        }
      },
      "type": "structure"
    },
    "DescribeListenersOutput": {
      "members": {
        "Listeners": {
          "documentation": "<p>Information about the listeners.</p>",
          "shape": "Listeners"
        },
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        }
      },
      "type": "structure"
    },
    "DescribeLoadBalancerAttributesInput": {
      "members": {
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        }
      },
      "required": [
        "LoadBalancerArn"
      ],
      "type": "structure"
    },
    "DescribeLoadBalancerAttributesOutput": {
      "members": {
        "Attributes": {
          "documentation": "<p>Information about the load balancer attributes.</p>",
          "shape": "LoadBalancerAttributes"
        }
      },
      "type": "structure"
    },
    "DescribeLoadBalancersInput": {
      "members": {
        "LoadBalancerArns": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the load balancers. You can specify up to 20 load balancers in a single call.</p>",
          "shape": "LoadBalancerArns"
        },
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "Names": {
          "documentation": "<p>The names of the load balancers.</p>",
          "shape": "LoadBalancerNames"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        }
      },
      "type": "structure"
    },
    "DescribeLoadBalancersOutput": {
      "members": {
        "LoadBalancers": {
          "documentation": "<p>Information about the load balancers.</p>",
          "shape": "LoadBalancers"
        },
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        }
      },
      "type": "structure"
    },
    "DescribeRulesInput": {
      "members": {
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "ListenerArn"
        },
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        },
        "RuleArns": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the rules.</p>",
          "shape": "RuleArns"
        }
      },
      "type": "structure"
    },
    "DescribeRulesOutput": {
      "members": {
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        },
        "Rules": {
          "documentation": "<p>Information about the rules.</p>",
          "shape": "Rules"
        }
      },
      "type": "structure"
    },
    "DescribeSSLPoliciesInput": {
      "members": {
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "Names": {
          "documentation": "<p>The names of the policies.</p>",
          "shape": "SslPolicyNames"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        }
      },
      "type": "structure"
    },
    "DescribeSSLPoliciesOutput": {
      "members": {
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        },
        "SslPolicies": {
          "documentation": "<p>Information about the security policies.</p>",
          "shape": "SslPolicies"
        }
      },
      "type": "structure"
    },
    "DescribeTagsInput": {
      "members": {
        "ResourceArns": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the resources. You can specify up to 20 resources in a single call.</p>",
          "shape": "ResourceArns"
        }
      },
      "required": [
        "ResourceArns"
      ],
      "type": "structure"
    },
    "DescribeTagsOutput": {
      "members": {
        "TagDescriptions": {
          "documentation": "<p>Information about the tags.</p>",
          "shape": "TagDescriptions"
        }
      },
      "type": "structure"
    },
    "DescribeTargetGroupAttributesInput": {
      "members": {
        "TargetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "shape": "TargetGroupArn"
        }
      },
      "required": [
        "TargetGroupArn"
      ],
      "type": "structure"
    },
    "DescribeTargetGroupAttributesOutput": {
      "members": {
        "Attributes": {
          "documentation": "<p>Information about the target group attributes</p>",
          "shape": "TargetGroupAttributes"
        }
      },
      "type": "structure"
    },
    "DescribeTargetGroupsInput": {
      "members": {
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        },
        "Marker": {
          "documentation": "<p>The marker for the next set of results. (You received this marker from a previous call.)</p>",
          "shape": "Marker"
        },
        "Names": {
          "documentation": "<p>The names of the target groups.</p>",
          "shape": "TargetGroupNames"
        },
        "PageSize": {
          "documentation": "<p>The maximum number of results to return with this call.</p>",
          "shape": "PageSize"
        },
        "TargetGroupArns": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the target groups.</p>",
          "shape": "TargetGroupArns"
        }
      },
      "type": "structure"
    },
    "DescribeTargetGroupsOutput": {
      "members": {
        "NextMarker": {
          "documentation": "<p>If there are additional results, this is the marker for the next set of results. Otherwise, this is null.</p>",
          "shape": "Marker"
        },
        "TargetGroups": {
          "documentation": "<p>Information about the target groups.</p>",
          "shape": "TargetGroups"
        }
      },
      "type": "structure"
    },
    "DescribeTargetHealthInput": {
      "members": {
        "TargetGroupArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target group.</p>",
          "shape": "TargetGroupArn"
        },
        "Targets": {
          "documentation": "<p>The targets.</p>",
          "shape": "TargetDescriptions"
        }
      },
      "required": [
        "TargetGroupArn"
      ],
      "type": "structure"
    },
    "DescribeTargetHealthOutput": {
      "members": {
        "TargetHealthDescriptions": {
          "documentation": "<p>Information about the health of the targets.</p>",
          "shape": "TargetHealthDescriptions"
        }
      },
      "type": "structure"
    },
    "Description": {
      "type": "string"
    },
    "DuplicateListenerException": {
      "documentation": "<p>A listener with the specified port already exists.</p>",
      "error": {
        "code": "DuplicateListener",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DuplicateLoadBalancerNameException": {
      "documentation": "<p>A load balancer with the specified name already exists.</p>",
      "error": {
        "code": "DuplicateLoadBalancerName",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DuplicateTagKeysException": {
      "documentation": "<p>A tag key was specified more than once.</p>",
      "error": {
        "code": "DuplicateTagKeys",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DuplicateTargetGroupNameException": {
      "documentation": "<p>A target group with the specified name already exists.</p>",
      "error": {
        "code": "DuplicateTargetGroupName",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "FixedResponseActionConfig": {
      "documentation": "<p>Information about an action that returns a custom HTTP response.</p>",
      "members": {
        "ContentType": {
          "documentation": "<p>The content type.</p> <p>Valid Values: text/plain | text/css | text/html | application/javascript | application/json</p>",
          "shape": "FixedResponseActionContentType"
        },
        "MessageBody": {
          "documentation": "<p>The message.</p>",
          "shape": "FixedResponseActionMessage"
        },
        "StatusCode": {
          "documentation": "<p>The HTTP response code (2XX, 4XX, or 5XX).</p>",
          "shape": "FixedResponseActionStatusCode"
        }
      },
      "required": [
        "StatusCode"
      ],
      "type": "structure"
    },
    "FixedResponseActionContentType": {
      "max": 32,
      "min": 0,
      "type": "string"
    },
    "FixedResponseActionMessage": {
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "FixedResponseActionStatusCode": {
      "pattern": "^(2|4|5)\\d\\d$",
      "type": "string"
    },
    "ForwardActionConfig": {
      "documentation": "<p>Information about a forward action.</p>",
      "members": {
        "TargetGroupStickinessConfig": {
          "documentation": "<p>The target group stickiness for the rule.</p>",
          "shape": "TargetGroupStickinessConfig"
        },
        "TargetGroups": {
          "documentation": "<p>One or more target groups. For Network Load Balancers, you can specify a single target group.</p>",
          "shape": "TargetGroupList"
        }
      },
      "type": "structure"
    },
    "HealthCheckEnabled": {
      "type": "boolean"
    },
    "HealthCheckIntervalSeconds": {
      "max": 300,
      "min": 5,
      "type": "integer"
    },
    "HealthCheckPort": {
      "type": "string"
    },
    "HealthCheckThresholdCount": {
      "max": 10,
      "min": 2,
      "type": "integer"
    },
    "HealthCheckTimeoutSeconds": {
      "max": 120,
      "min": 2,
      "type": "integer"
    },
    "HealthUnavailableException": {
      "documentation": "<p>The health of the specified targets could not be retrieved due to an internal error.</p>",
      "error": {
        "code": "HealthUnavailable",
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "HostHeaderConditionConfig": {
      "documentation": "<p>Information about a host header condition.</p>",
      "members": {
        "Values": {
          "documentation": "<p>One or more host names. The maximum size of each name is 128 characters. The comparison is case insensitive. The following wildcard characters are supported: * (matches 0 or more characters) and ? (matches exactly 1 character).</p> <p>If you specify multiple strings, the condition is satisfied if one of the strings matches the host name.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "HttpCode": {
      "type": "string"
    },
    "HttpHeaderConditionConfig": {
      "documentation": "<p>Information about an HTTP header condition.</p> <p>There is a set of standard HTTP header fields. You can also define custom HTTP header fields.</p>",
      "members": {
        "HttpHeaderName": {
          "documentation": "<p>The name of the HTTP header field. The maximum size is 40 characters. The header name is case insensitive. The allowed characters are specified by RFC 7230. Wildcards are not supported.</p> <p>You can't use an HTTP header condition to specify the host header. Use <a>HostHeaderConditionConfig</a> to specify a host header condition.</p>",
          "shape": "HttpHeaderConditionName"
        },
        "Values": {
          "documentation": "<p>One or more strings to compare against the value of the HTTP header. The maximum size of each string is 128 characters. The comparison strings are case insensitive. The following wildcard characters are supported: * (matches 0 or more characters) and ? (matches exactly 1 character).</p> <p>If the same header appears multiple times in the request, we search them in order until a match is found.</p> <p>If you specify multiple strings, the condition is satisfied if one of the strings matches the value of the HTTP header. To require that all of the strings are a match, create one condition per string.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "HttpHeaderConditionName": {
      "type": "string"
    },
    "HttpRequestMethodConditionConfig": {
      "documentation": "<p>Information about an HTTP method condition.</p> <p>HTTP defines a set of request methods, also referred to as HTTP verbs. For more information, see the <a href=\"https://www.iana.org/assignments/http-methods/http-methods.xhtml\">HTTP Method Registry</a>. You can also define custom HTTP methods.</p>",
      "members": {
        "Values": {
          "documentation": "<p>The name of the request method. The maximum size is 40 characters. The allowed characters are A-Z, hyphen (-), and underscore (_). The comparison is case sensitive. Wildcards are not supported; therefore, the method name must be an exact match.</p> <p>If you specify multiple strings, the condition is satisfied if one of the strings matches the HTTP request method. We recommend that you route GET and HEAD requests in the same way, because the response to a HEAD request may be cached.</p>",
          "shape": "ListOfString"
        }
      },
      "type": "structure"
    },
    "IncompatibleProtocolsException": {
      "documentation": "<p>The specified configuration is not valid with this protocol.</p>",
      "error": {
        "code": "IncompatibleProtocols",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidConfigurationRequestException": {
      "documentation": "<p>The requested configuration is not valid.</p>",
      "error": {
        "code": "InvalidConfigurationRequest",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidLoadBalancerActionException": {
      "documentation": "<p>The requested action is not valid.</p>",
      "error": {
        "code": "InvalidLoadBalancerAction",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidSchemeException": {
      "documentation": "<p>The requested scheme is not valid.</p>",
      "error": {
        "code": "InvalidScheme",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidSecurityGroupException": {
      "documentation": "<p>The specified security group does not exist.</p>",
      "error": {
        "code": "InvalidSecurityGroup",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidSubnetException": {
      "documentation": "<p>The specified subnet is out of available addresses.</p>",
      "error": {
        "code": "InvalidSubnet",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTargetException": {
      "documentation": "<p>The specified target does not exist, is not in the same VPC as the target group, or has an unsupported instance type.</p>",
      "error": {
        "code": "InvalidTarget",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "IpAddress": {
      "type": "string"
    },
    "IpAddressType": {
      "enum": [
        "ipv4",
        "dualstack"
      ],
      "type": "string"
    },
    "IsDefault": {
      "type": "boolean"
    },
    "Limit": {
      "documentation": "<p>Information about an Elastic Load Balancing resource limit for your AWS account.</p>",
      "members": {
        "Max": {
          "documentation": "<p>The maximum value of the limit.</p>",
          "shape": "Max"
        },
        "Name": {
          "documentation": "<p>The name of the limit. The possible values are:</p> <ul> <li> <p>application-load-balancers</p> </li> <li> <p>listeners-per-application-load-balancer</p> </li> <li> <p>listeners-per-network-load-balancer</p> </li> <li> <p>network-load-balancers</p> </li> <li> <p>rules-per-application-load-balancer</p> </li> <li> <p>target-groups</p> </li> <li> <p>target-groups-per-action-on-application-load-balancer</p> </li> <li> <p>target-groups-per-action-on-network-load-balancer</p> </li> <li> <p>target-groups-per-application-load-balancer</p> </li> <li> <p>targets-per-application-load-balancer</p> </li> <li> <p>targets-per-availability-zone-per-network-load-balancer</p> </li> <li> <p>targets-per-network-load-balancer</p> </li> </ul>",
          "shape": "Name"
        }
      },
      "type": "structure"
    },
    "Limits": {
      "member": {
        "shape": "Limit"
      },
      "type": "list"
    },
    "ListOfString": {
      "member": {
        "shape": "StringValue"
      },
      "type": "list"
    },
    "Listener": {
      "documentation": "<p>Information about a listener.</p>",
      "members": {
        "Certificates": {
          "documentation": "<p>[HTTPS or TLS listener] The default certificate for the listener.</p>",
          "shape": "CertificateList"
        },
        "DefaultActions": {
          "documentation": "<p>The default actions for the listener.</p>",
          "shape": "Actions"
        },
        "ListenerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the listener.</p>",
          "shape": "ListenerArn"
        },
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        },
        "Port": {
          "documentation": "<p>The port on which the load balancer is listening.</p>",
          "shape": "Port"
        },
        "Protocol": {
          "documentation": "<p>The protocol for connections from clients to the load balancer.</p>",
          "shape": "ProtocolEnum"
        },
        "SslPolicy": {
          "documentation": "<p>[HTTPS or TLS listener] The security policy that defines which protocols and ciphers are supported.</p>",
          "shape": "SslPolicyName"
        }
      },
      "type": "structure"
    },
    "ListenerArn": {
      "type": "string"
    },
    "ListenerArns": {
      "member": {
        "shape": "ListenerArn"
      },
      "type": "list"
    },
    "ListenerNotFoundException": {
      "documentation": "<p>The specified listener does not exist.</p>",
      "error": {
        "code": "ListenerNotFound",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Listeners": {
      "member": {
        "shape": "Listener"
      },
      "type": "list"
    },
    "LoadBalancer": {
      "documentation": "<p>Information about a load balancer.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>The Availability Zones for the load balancer.</p>",
          "shape": "AvailabilityZones"
        },
        "CanonicalHostedZoneId": {
          "documentation": "<p>The ID of the Amazon Route 53 hosted zone associated with the load balancer.</p>",
          "shape": "CanonicalHostedZoneId"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time the load balancer was created.</p>",
          "shape": "CreatedTime"
        },
        "DNSName": {
          "documentation": "<p>The public DNS name of the load balancer.</p>",
          "shape": "DNSName"
        },
        "IpAddressType": {
          "documentation": "<p>The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses).</p>",
          "shape": "IpAddressType"
        },
        "LoadBalancerArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the load balancer.</p>",
          "shape": "LoadBalancerArn"
        },
        "LoadBalancerName": {
          "documentation": "<p>The name of the load balancer.</p>",
          "shape": "LoadBalancerName"
        },
        "Scheme": {
[...]
