{
  "documentation": "<p>Here's how you set up to query an Amazon Route 53 private hosted zone from your network:</p> <ol> <li> <p>Connect your network to a VPC using AWS Direct Connect or a VPN.</p> </li> <li> <p>Run the following AWS CLI command to create a Resolver endpoint:</p> <p> <code>create-resolver-endpoint --name [endpoint_name] --direction INBOUND --creator-request-id [unique_string] --security-group-ids [security_group_with_inbound_rules] --ip-addresses SubnetId=[subnet_id] SubnetId=[subnet_id_in_different_AZ]</code> </p> <p>Note the resolver endpoint ID that appears in the response. You'll use it in step 3.</p> </li> <li> <p>Get the IP addresses for the Resolver endpoints:</p> <p> <code>get-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p> </li> <li> <p>In your network configuration, define the IP addresses that you got in step 3 as DNS servers.</p> <p>You can now query instance names in your VPCs and the names of records in your private hosted zone.</p> </li> </ol> <p>You can also perform the following operations using the AWS CLI:</p> <ul> <li> <p> <code>list-resolver-endpoints</code>: List all endpoints. The syntax includes options for pagination and filtering.</p> </li> <li> <p> <code>update-resolver-endpoints</code>: Add IP addresses to an endpoint or remove IP addresses from an endpoint. </p> </li> </ul> <p>To delete an endpoint, use the following AWS CLI command:</p> <p> <code>delete-resolver-endpoint --resolver-endpoint-id [resolver_endpoint_id]</code> </p>",
  "metadata": {
    "apiVersion": "2018-04-01",
    "endpointPrefix": "route53resolver",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Route53Resolver",
    "serviceFullName": "Amazon Route 53 Resolver",
    "serviceId": "Route53Resolver",
    "signatureVersion": "v4",
    "targetPrefix": "Route53Resolver",
    "uid": "route53resolver-2018-04-01"
  },
  "operations": {
    "AssociateResolverEndpointIpAddress": {
      "documentation": "<p>Adds IP addresses to an inbound or an outbound resolver endpoint. If you want to adding more than one IP address, submit one <code>AssociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To remove an IP address from an endpoint, see <a>DisassociateResolverEndpointIpAddress</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateResolverEndpointIpAddressRequest"
      },
      "name": "AssociateResolverEndpointIpAddress",
      "output": {
        "shape": "AssociateResolverEndpointIpAddressResponse"
      }
    },
    "AssociateResolverRule": {
      "documentation": "<p>Associates a resolver rule with a VPC. When you associate a rule with a VPC, Resolver forwards all DNS queries for the domain name that is specified in the rule and that originate in the VPC. The queries are forwarded to the IP addresses for the DNS resolvers that are specified in the rule. For more information about rules, see <a>CreateResolverRule</a>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateResolverRuleRequest"
      },
      "name": "AssociateResolverRule",
      "output": {
        "shape": "AssociateResolverRuleResponse"
      }
    },
    "CreateResolverEndpoint": {
      "documentation": "<p>Creates a resolver endpoint. There are two types of resolver endpoints, inbound and outbound:</p> <ul> <li> <p>An <i>inbound resolver endpoint</i> forwards DNS queries to the DNS service for a VPC from your network or another VPC.</p> </li> <li> <p>An <i>outbound resolver endpoint</i> forwards DNS queries from the DNS service for a VPC to your network or another VPC.</p> </li> </ul>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResolverEndpointRequest"
      },
      "name": "CreateResolverEndpoint",
      "output": {
        "shape": "CreateResolverEndpointResponse"
      }
    },
    "CreateResolverRule": {
      "documentation": "<p>For DNS queries that originate in your VPCs, specifies which resolver endpoint the queries pass through, one domain name that you want to forward to your network, and the IP addresses of the DNS resolvers in your network.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateResolverRuleRequest"
      },
      "name": "CreateResolverRule",
      "output": {
        "shape": "CreateResolverRuleResponse"
      }
    },
    "DeleteResolverEndpoint": {
      "documentation": "<p>Deletes a resolver endpoint. The effect of deleting a resolver endpoint depends on whether it's an inbound or an outbound resolver endpoint:</p> <ul> <li> <p> <b>Inbound</b>: DNS queries from your network or another VPC are no longer routed to the DNS service for the specified VPC.</p> </li> <li> <p> <b>Outbound</b>: DNS queries from a VPC are no longer routed to your network or to another VPC.</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResolverEndpointRequest"
      },
      "name": "DeleteResolverEndpoint",
      "output": {
        "shape": "DeleteResolverEndpointResponse"
      }
    },
    "DeleteResolverRule": {
      "documentation": "<p>Deletes a resolver rule. Before you can delete a resolver rule, you must disassociate it from all the VPCs that you associated the resolver rule with. For more infomation, see <a>DisassociateResolverRule</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResolverRuleRequest"
      },
      "name": "DeleteResolverRule",
      "output": {
        "shape": "DeleteResolverRuleResponse"
      }
    },
    "DisassociateResolverEndpointIpAddress": {
      "documentation": "<p>Removes IP addresses from an inbound or an outbound resolver endpoint. If you want to remove more than one IP address, submit one <code>DisassociateResolverEndpointIpAddress</code> request for each IP address.</p> <p>To add an IP address to an endpoint, see <a>AssociateResolverEndpointIpAddress</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceExistsException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateResolverEndpointIpAddressRequest"
      },
      "name": "DisassociateResolverEndpointIpAddress",
      "output": {
        "shape": "DisassociateResolverEndpointIpAddressResponse"
      }
    },
    "DisassociateResolverRule": {
      "documentation": "<p>Removes the association between a specified resolver rule and a specified VPC.</p> <important> <p>If you disassociate a resolver rule from a VPC, Resolver stops forwarding DNS queries for the domain name that you specified in the resolver rule. </p> </important>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateResolverRuleRequest"
      },
      "name": "DisassociateResolverRule",
      "output": {
        "shape": "DisassociateResolverRuleResponse"
      }
    },
    "GetResolverEndpoint": {
      "documentation": "<p>Gets information about a specified resolver endpoint, such as whether it's an inbound or an outbound resolver endpoint, and the current status of the endpoint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverEndpointRequest"
      },
      "name": "GetResolverEndpoint",
      "output": {
        "shape": "GetResolverEndpointResponse"
      }
    },
    "GetResolverRule": {
      "documentation": "<p>Gets information about a specified resolver rule, such as the domain name that the rule forwards DNS queries for and the ID of the outbound resolver endpoint that the rule is associated with.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverRuleRequest"
      },
      "name": "GetResolverRule",
      "output": {
        "shape": "GetResolverRuleResponse"
      }
    },
    "GetResolverRuleAssociation": {
      "documentation": "<p>Gets information about an association between a specified resolver rule and a VPC. You associate a resolver rule and a VPC using <a>AssociateResolverRule</a>. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverRuleAssociationRequest"
      },
      "name": "GetResolverRuleAssociation",
      "output": {
        "shape": "GetResolverRuleAssociationResponse"
      }
    },
    "GetResolverRulePolicy": {
      "documentation": "<p>Gets information about a resolver rule policy. A resolver rule policy specifies the Resolver operations and resources that you want to allow another AWS account to be able to use. </p>",
      "errors": [
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResolverRulePolicyRequest"
      },
      "name": "GetResolverRulePolicy",
      "output": {
        "shape": "GetResolverRulePolicyResponse"
      }
    },
    "ListResolverEndpointIpAddresses": {
      "documentation": "<p>Gets the IP addresses for a specified resolver endpoint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverEndpointIpAddressesRequest"
      },
      "name": "ListResolverEndpointIpAddresses",
      "output": {
        "shape": "ListResolverEndpointIpAddressesResponse"
      }
    },
    "ListResolverEndpoints": {
      "documentation": "<p>Lists all the resolver endpoints that were created using the current AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverEndpointsRequest"
      },
      "name": "ListResolverEndpoints",
      "output": {
        "shape": "ListResolverEndpointsResponse"
      }
    },
    "ListResolverRuleAssociations": {
      "documentation": "<p>Lists the associations that were created between resolver rules and VPCs using the current AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverRuleAssociationsRequest"
      },
      "name": "ListResolverRuleAssociations",
      "output": {
        "shape": "ListResolverRuleAssociationsResponse"
      }
    },
    "ListResolverRules": {
      "documentation": "<p>Lists the resolver rules that were created using the current AWS account.</p>",
      "errors": [
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResolverRulesRequest"
      },
      "name": "ListResolverRules",
      "output": {
        "shape": "ListResolverRulesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags that you associated with the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutResolverRulePolicy": {
      "documentation": "<p>Specifies the Resolver operations and resources that you want to allow another AWS account to be able to use.</p>",
      "errors": [
        {
          "shape": "InvalidPolicyDocument"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "UnknownResourceException"
        },
        {
          "shape": "InternalServiceErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResolverRulePolicyRequest"
      },
      "name": "PutResolverRulePolicy",
      "output": {
        "shape": "PutResolverRulePolicyResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to a specified resource.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidTagException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateResolverEndpoint": {
      "documentation": "<p>Updates the name of an inbound or an outbound resolver endpoint. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResolverEndpointRequest"
      },
      "name": "UpdateResolverEndpoint",
      "output": {
        "shape": "UpdateResolverEndpointResponse"
      }
    },
    "UpdateResolverRule": {
      "documentation": "<p>Updates settings for a specified resolver rule. <code>ResolverRuleId</code> is required, and all other parameters are optional. If you don't specify a parameter, it retains its current value.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InvalidParameterException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InternalServiceErrorException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateResolverRuleRequest"
      },
      "name": "UpdateResolverRule",
      "output": {
        "shape": "UpdateResolverRuleResponse"
      }
    }
  },
  "shapes": {
    "AccountId": {
      "max": 32,
      "min": 12,
      "type": "string"
    },
    "Arn": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "AssociateResolverEndpointIpAddressRequest": {
      "members": {
        "IpAddress": {
          "documentation": "<p>Either the IPv4 address that you want to add to a resolver endpoint or a subnet ID. If you specify a subnet ID, Resolver chooses an IP address for you from the available IPs in the specified subnet.</p>",
          "shape": "IpAddressUpdate"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the resolver endpoint that you want to associate IP addresses with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId",
        "IpAddress"
      ],
      "type": "structure"
    },
    "AssociateResolverEndpointIpAddressResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>The response to an <code>AssociateResolverEndpointIpAddress</code> request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "AssociateResolverRuleRequest": {
      "members": {
        "Name": {
          "documentation": "<p>A name for the association that you're creating between a resolver rule and a VPC.</p>",
          "shape": "Name"
        },
        "ResolverRuleId": {
          "documentation": "<p>The ID of the resolver rule that you want to associate with the VPC. To list the existing resolver rules, use <a>ListResolverRules</a>.</p>",
          "shape": "ResourceId"
        },
        "VPCId": {
          "documentation": "<p>The ID of the VPC that you want to associate the resolver rule with.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleId",
        "VPCId"
      ],
      "type": "structure"
    },
    "AssociateResolverRuleResponse": {
      "members": {
        "ResolverRuleAssociation": {
          "documentation": "<p>Information about the <code>AssociateResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRuleAssociation"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "CreateResolverEndpointRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "shape": "CreatorRequestId"
        },
        "Direction": {
          "documentation": "<p>Specify the applicable value:</p> <ul> <li> <p> <code>INBOUND</code>: Resolver forwards DNS queries to the DNS service for a VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: Resolver forwards DNS queries from the DNS service for a VPC to your network or another VPC</p> </li> </ul>",
          "shape": "ResolverEndpointDirection"
        },
        "IpAddresses": {
          "documentation": "<p>The subnets and IP addresses in your VPC that you want DNS queries to pass through on the way from your VPCs to your network (for outbound endpoints) or on the way from your network to your VPCs (for inbound resolver endpoints). </p>",
          "shape": "IpAddressesRequest"
        },
        "Name": {
          "documentation": "<p>A friendly name that lets you easily find a configuration in the Resolver dashboard in the Route 53 console.</p>",
          "shape": "Name"
        },
        "SecurityGroupIds": {
          "box": true,
          "documentation": "<p>The ID of one or more security groups that you want to use to control access to this VPC. The security group that you specify must include one or more inbound rules (for inbound resolver endpoints) or outbound rules (for outbound resolver endpoints).</p>",
          "shape": "SecurityGroupIds"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "CreatorRequestId",
        "SecurityGroupIds",
        "Direction",
        "IpAddresses"
      ],
      "type": "structure"
    },
    "CreateResolverEndpointResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>Information about the <code>CreateResolverEndpoint</code> request, including the status of the request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "CreateResolverRuleRequest": {
      "members": {
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request and that allows failed requests to be retried without the risk of executing the operation twice. <code>CreatorRequestId</code> can be any unique string, for example, a date/time stamp. </p>",
          "shape": "CreatorRequestId"
        },
        "DomainName": {
          "documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that you specify in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), outbound DNS queries are routed using the resolver rule that contains the most specific domain name (www.example.com).</p>",
          "shape": "DomainName"
        },
        "Name": {
          "documentation": "<p>A friendly name that lets you easily find a rule in the Resolver dashboard in the Route 53 console.</p>",
          "shape": "Name"
        },
        "ResolverEndpointId": {
          "box": true,
          "documentation": "<p>The ID of the outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.</p>",
          "shape": "ResourceId"
        },
        "RuleType": {
          "documentation": "<p>Specify <code>FORWARD</code>. Other resolver rule types aren't supported.</p>",
          "shape": "RuleTypeOption"
        },
        "Tags": {
          "box": true,
          "documentation": "<p>A list of the tag keys and values that you want to associate with the endpoint.</p>",
          "shape": "TagList"
        },
        "TargetIps": {
          "box": true,
          "documentation": "<p>The IPs that you want Resolver to forward DNS queries to. You can specify only IPv4 addresses. Separate IP addresses with a comma.</p>",
          "shape": "TargetList"
        }
      },
      "required": [
        "CreatorRequestId",
        "RuleType",
        "DomainName"
      ],
      "type": "structure"
    },
    "CreateResolverRuleResponse": {
      "members": {
        "ResolverRule": {
          "documentation": "<p>Information about the <code>CreateResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRule"
        }
      },
      "type": "structure"
    },
    "CreatorRequestId": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "DeleteResolverEndpointRequest": {
      "members": {
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the resolver endpoint that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId"
      ],
      "type": "structure"
    },
    "DeleteResolverEndpointResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>Information about the <code>DeleteResolverEndpoint</code> request, including the status of the request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "DeleteResolverRuleRequest": {
      "members": {
        "ResolverRuleId": {
          "documentation": "<p>The ID of the resolver rule that you want to delete.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleId"
      ],
      "type": "structure"
    },
    "DeleteResolverRuleResponse": {
      "members": {
        "ResolverRule": {
          "documentation": "<p>Information about the <code>DeleteResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRule"
        }
      },
      "type": "structure"
    },
    "DisassociateResolverEndpointIpAddressRequest": {
      "members": {
        "IpAddress": {
          "documentation": "<p>The IPv4 address that you want to remove from a resolver endpoint.</p>",
          "shape": "IpAddressUpdate"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the resolver endpoint that you want to disassociate an IP address from.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId",
        "IpAddress"
      ],
      "type": "structure"
    },
    "DisassociateResolverEndpointIpAddressResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>The response to an <code>DisassociateResolverEndpointIpAddress</code> request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "DisassociateResolverRuleRequest": {
      "members": {
        "ResolverRuleId": {
          "documentation": "<p>The ID of the resolver rule that you want to disassociate from the specified VPC.</p>",
          "shape": "ResourceId"
        },
        "VPCId": {
          "documentation": "<p>The ID of the VPC that you want to disassociate the resolver rule from.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "VPCId",
        "ResolverRuleId"
      ],
      "type": "structure"
    },
    "DisassociateResolverRuleResponse": {
      "members": {
        "ResolverRuleAssociation": {
          "documentation": "<p>Information about the <code>DisassociateResolverRule</code> request, including the status of the request.</p>",
          "shape": "ResolverRuleAssociation"
        }
      },
      "type": "structure"
    },
    "DomainName": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "Filter": {
      "documentation": "<p>For <code>List</code> operations, an optional specification to return a subset of objects, such as resolver endpoints or resolver rules.</p>",
      "members": {
        "Name": {
          "documentation": "<p>When you're using a <code>List</code> operation and you want the operation to return a subset of objects, such as resolver endpoints or resolver rules, the name of the parameter that you want to use to filter objects. For example, to list only inbound resolver endpoints, specify <code>Direction</code> for the value of <code>Name</code>.</p>",
          "shape": "FilterName"
        },
        "Values": {
          "documentation": "<p>When you're using a <code>List</code> operation and you want the operation to return a subset of objects, such as resolver endpoints or resolver rules, the value of the parameter that you want to use to filter objects. For example, to list only inbound resolver endpoints, specify <code>INBOUND</code> for the value of <code>Values</code>.</p>",
          "shape": "FilterValues"
        }
      },
      "type": "structure"
    },
    "FilterName": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "FilterValue": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "FilterValues": {
      "member": {
        "shape": "FilterValue"
      },
      "type": "list"
    },
    "Filters": {
      "member": {
        "shape": "Filter"
      },
      "type": "list"
    },
    "GetResolverEndpointRequest": {
      "members": {
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the resolver endpoint that you want to get information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId"
      ],
      "type": "structure"
    },
    "GetResolverEndpointResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>Information about the resolver endpoint that you specified in a <code>GetResolverEndpoint</code> request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "GetResolverRuleAssociationRequest": {
      "members": {
        "ResolverRuleAssociationId": {
          "documentation": "<p>The ID of the resolver rule association that you want to get information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleAssociationId"
      ],
      "type": "structure"
    },
    "GetResolverRuleAssociationResponse": {
      "members": {
        "ResolverRuleAssociation": {
          "documentation": "<p>Information about the resolver rule association that you specified in a <code>GetResolverRuleAssociation</code> request.</p>",
          "shape": "ResolverRuleAssociation"
        }
      },
      "type": "structure"
    },
    "GetResolverRulePolicyRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The ID of the resolver rule policy that you want to get information about.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "Arn"
      ],
      "type": "structure"
    },
    "GetResolverRulePolicyResponse": {
      "members": {
        "ResolverRulePolicy": {
          "documentation": "<p>Information about the resolver rule policy that you specified in a <code>GetResolverRulePolicy</code> request.</p>",
          "shape": "ResolverRulePolicy"
        }
      },
      "type": "structure"
    },
    "GetResolverRuleRequest": {
      "members": {
        "ResolverRuleId": {
          "documentation": "<p>The ID of the resolver rule that you want to get information about.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleId"
      ],
      "type": "structure"
    },
    "GetResolverRuleResponse": {
      "members": {
        "ResolverRule": {
          "documentation": "<p>Information about the resolver rule that you specified in a <code>GetResolverRule</code> request.</p>",
          "shape": "ResolverRule"
        }
      },
      "type": "structure"
    },
    "InternalServiceErrorException": {
      "documentation": "<p>We encountered an unknown error. Try again in a few minutes.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidNextTokenException": {
      "documentation": "<p>The value that you specified for <code>NextToken</code> in a <code>List</code> request isn't valid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidParameterException": {
      "documentation": "<p>One or more parameters in this request are not valid.</p>",
      "exception": true,
      "members": {
        "FieldName": {
          "documentation": "<p>For an <code>InvalidParameterException</code> error, the name of the parameter that's invalid.</p>",
          "shape": "String"
        },
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "required": [
        "Message"
      ],
      "type": "structure"
    },
    "InvalidPolicyDocument": {
      "documentation": "<p>The specified resolver rule policy is invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request is invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidTagException": {
      "documentation": "<p>The specified tag is invalid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Ip": {
      "max": 36,
      "min": 7,
      "type": "string"
    },
    "IpAddressCount": {
      "type": "integer"
    },
    "IpAddressRequest": {
      "documentation": "<p>In an <a>CreateResolverEndpoint</a> request, a subnet and IP address that you want to use for DNS queries.</p>",
      "members": {
        "Ip": {
          "box": true,
          "documentation": "<p>The IP address that you want to use for DNS queries.</p>",
          "shape": "Ip"
        },
        "SubnetId": {
          "documentation": "<p>The subnet that contains the IP address.</p>",
          "shape": "SubnetId"
        }
      },
      "required": [
        "SubnetId"
      ],
      "type": "structure"
    },
    "IpAddressResponse": {
      "documentation": "<p>In the response to a <a>GetResolverEndpoint</a> request, information about the IP addresses that the resolver endpoint uses for DNS queries.</p>",
      "members": {
        "CreationTime": {
          "documentation": "<p>The date and time that the IP address was created, in Unix time format and Coordinated Universal Time (UTC).</p>",
          "shape": "Rfc3339TimeString"
        },
        "Ip": {
          "documentation": "<p>One IP address that the resolver endpoint uses for DNS queries.</p>",
          "shape": "Ip"
        },
        "IpId": {
          "documentation": "<p>The ID of one IP address.</p>",
          "shape": "ResourceId"
        },
        "ModificationTime": {
          "documentation": "<p>The date and time that the IP address was last modified, in Unix time format and Coordinated Universal Time (UTC).</p>",
          "shape": "Rfc3339TimeString"
        },
        "Status": {
          "documentation": "<p>A status code that gives the current status of the request.</p>",
          "shape": "IpAddressStatus"
        },
        "StatusMessage": {
          "documentation": "<p>A message that provides additional information about the status of the request.</p>",
          "shape": "StatusMessage"
        },
        "SubnetId": {
          "documentation": "<p>The ID of one subnet.</p>",
          "shape": "SubnetId"
        }
      },
      "type": "structure"
    },
    "IpAddressStatus": {
      "enum": [
        "CREATING",
        "FAILED_CREATION",
        "ATTACHING",
        "ATTACHED",
        "REMAP_DETACHING",
        "REMAP_ATTACHING",
        "DETACHING",
        "FAILED_RESOURCE_GONE",
        "DELETING",
        "DELETE_FAILED_FAS_EXPIRED"
      ],
      "type": "string"
    },
    "IpAddressUpdate": {
      "documentation": "<p>In an <a>UpdateResolverEndpoint</a> request, information about an IP address to update.</p>",
      "members": {
        "Ip": {
          "box": true,
          "documentation": "<p>The new IP address.</p>",
          "shape": "Ip"
        },
        "IpId": {
          "box": true,
          "documentation": "<p> <i>Only when removing an IP address from a resolver endpoint</i>: The ID of the IP address that you want to remove. To get this ID, use <a>GetResolverEndpoint</a>.</p>",
          "shape": "ResourceId"
        },
        "SubnetId": {
          "box": true,
          "documentation": "<p>The ID of the subnet that includes the IP address that you want to update. To get this ID, use <a>GetResolverEndpoint</a>.</p>",
          "shape": "SubnetId"
        }
      },
      "type": "structure"
    },
    "IpAddressesRequest": {
      "max": 10,
      "member": {
        "shape": "IpAddressRequest"
      },
      "min": 1,
      "type": "list"
    },
    "IpAddressesResponse": {
      "member": {
        "shape": "IpAddressResponse"
      },
      "type": "list"
    },
    "LimitExceededException": {
      "documentation": "<p>The request caused one or more limits to be exceeded.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>For a <code>LimitExceededException</code> error, the type of resource that exceeded the current limit.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListResolverEndpointIpAddressesRequest": {
      "members": {
        "MaxResults": {
          "box": true,
          "documentation": "<p>The maximum number of IP addresses that you want to return in the response to a <code>ListResolverEndpointIpAddresses</code> request. If you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 IP addresses. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "box": true,
          "documentation": "<p>For the first <code>ListResolverEndpointIpAddresses</code> request, omit this value.</p> <p>If the specified resolver endpoint has more than <code>MaxResults</code> IP addresses, you can submit another <code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the resolver endpoint that you want to get IP addresses for.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId"
      ],
      "type": "structure"
    },
    "ListResolverEndpointIpAddressesResponse": {
      "members": {
        "IpAddresses": {
          "documentation": "<p>The IP addresses that DNS queries pass through on their way to your network (outbound endpoint) or on the way to Resolver (inbound endpoint).</p>",
          "shape": "IpAddressesResponse"
        },
        "MaxResults": {
          "documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If the specified endpoint has more than <code>MaxResults</code> IP addresses, you can submit another <code>ListResolverEndpointIpAddresses</code> request to get the next group of IP addresses. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListResolverEndpointsRequest": {
      "members": {
        "Filters": {
          "box": true,
          "documentation": "<p>An optional specification to return a subset of resolver endpoints, such as all inbound resolver endpoints.</p> <note> <p>If you submit a second or subsequent <code>ListResolverEndpoints</code> request and specify the <code>NextToken</code> parameter, you must use the same values for <code>Filters</code>, if any, as in the previous request.</p> </note>",
          "shape": "Filters"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The maximum number of resolver endpoints that you want to return in the response to a <code>ListResolverEndpoints</code> request. If you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 resolver endpoints. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "box": true,
          "documentation": "<p>For the first <code>ListResolverEndpoints</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> resolver endpoints, you can submit another <code>ListResolverEndpoints</code> request to get the next group of resolver endpoints. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListResolverEndpointsResponse": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> IP addresses match the specified criteria, you can submit another <code>ListResolverEndpoint</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        },
        "ResolverEndpoints": {
          "documentation": "<p>The resolver endpoints that were created by using the current AWS account, and that match the specified filters, if any.</p>",
          "shape": "ResolverEndpoints"
        }
      },
      "type": "structure"
    },
    "ListResolverRuleAssociationsRequest": {
      "members": {
        "Filters": {
          "box": true,
          "documentation": "<p>An optional specification to return a subset of resolver rules, such as resolver rules that are associated with the same VPC ID.</p> <note> <p>If you submit a second or subsequent <code>ListResolverRuleAssociations</code> request and specify the <code>NextToken</code> parameter, you must use the same values for <code>Filters</code>, if any, as in the previous request.</p> </note>",
          "shape": "Filters"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The maximum number of rule associations that you want to return in the response to a <code>ListResolverRuleAssociations</code> request. If you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 rule associations. </p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "box": true,
          "documentation": "<p>For the first <code>ListResolverRuleAssociation</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> rule associations, you can submit another <code>ListResolverRuleAssociation</code> request to get the next group of rule associations. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListResolverRuleAssociationsResponse": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> rule associations match the specified criteria, you can submit another <code>ListResolverRuleAssociation</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        },
        "ResolverRuleAssociations": {
          "documentation": "<p>The associations that were created between resolver rules and VPCs using the current AWS account, and that match the specified filters, if any.</p>",
          "shape": "ResolverRuleAssociations"
        }
      },
      "type": "structure"
    },
    "ListResolverRulesRequest": {
      "members": {
        "Filters": {
          "box": true,
          "documentation": "<p>An optional specification to return a subset of resolver rules, such as all resolver rules that are associated with the same resolver endpoint.</p> <note> <p>If you submit a second or subsequent <code>ListResolverRules</code> request and specify the <code>NextToken</code> parameter, you must use the same values for <code>Filters</code>, if any, as in the previous request.</p> </note>",
          "shape": "Filters"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The maximum number of resolver rules that you want to return in the response to a <code>ListResolverRules</code> request. If you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 resolver rules.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "box": true,
          "documentation": "<p>For the first <code>ListResolverRules</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> resolver rules, you can submit another <code>ListResolverRules</code> request to get the next group of resolver rules. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListResolverRulesResponse": {
      "members": {
        "MaxResults": {
          "documentation": "<p>The value that you specified for <code>MaxResults</code> in the request.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> resolver rules match the specified criteria, you can submit another <code>ListResolverRules</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        },
        "ResolverRules": {
          "documentation": "<p>The resolver rules that were created using the current AWS account and that match the specified filters, if any.</p>",
          "shape": "ResolverRules"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "MaxResults": {
          "box": true,
          "documentation": "<p>The maximum number of tags that you want to return in the response to a <code>ListTagsForResource</code> request. If you don't specify a value for <code>MaxResults</code>, Resolver returns up to 100 tags.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "box": true,
          "documentation": "<p>For the first <code>ListTagsForResource</code> request, omit this value.</p> <p>If you have more than <code>MaxResults</code> tags, you can submit another <code>ListTagsForResource</code> request to get the next group of tags for the resource. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        },
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the resource that you want to list tags for.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If more than <code>MaxResults</code> tags match the specified criteria, you can submit another <code>ListTagsForResource</code> request to get the next group of results. In the next request, specify the value of <code>NextToken</code> from the previous response. </p>",
          "shape": "NextToken"
        },
        "Tags": {
          "documentation": "<p>The tags that are associated with the resource that you specified in the <code>ListTagsForResource</code> request.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "Name": {
      "max": 64,
      "pattern": "(?!^[0-9]+$)([a-zA-Z0-9-_' ']+)",
      "type": "string"
    },
    "NextToken": {
      "type": "string"
    },
    "Port": {
      "max": 65535,
      "min": 0,
      "type": "integer"
    },
    "PutResolverRulePolicyRequest": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the account that you want to grant permissions to.</p>",
          "shape": "Arn"
        },
        "ResolverRulePolicy": {
          "documentation": "<p>An AWS Identity and Access Management policy statement that lists the permissions that you want to grant to another AWS account.</p>",
          "shape": "ResolverRulePolicy"
        }
      },
      "required": [
        "Arn",
        "ResolverRulePolicy"
      ],
      "type": "structure"
    },
    "PutResolverRulePolicyResponse": {
      "documentation": "<p>The response to a <code>PutResolverRulePolicy</code> request.</p>",
      "members": {
        "ReturnValue": {
          "documentation": "<p>Whether the <code>PutResolverRulePolicy</code> request was successful.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ResolverEndpoint": {
      "documentation": "<p>In the response to a <a>CreateResolverEndpoint</a>, <a>DeleteResolverEndpoint</a>, <a>GetResolverEndpoint</a>, <a>ListResolverEndpoints</a>, or <a>UpdateResolverEndpoint</a> request, a complex type that contains settings for an existing inbound or outbound resolver endpoint.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN (Amazon Resource Name) for the resolver endpoint.</p>",
          "shape": "Arn"
        },
        "CreationTime": {
          "documentation": "<p>The date and time that the endpoint was created, in Unix time format and Coordinated Universal Time (UTC).</p>",
          "shape": "Rfc3339TimeString"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that identifies the request that created the resolver endpoint. The <code>CreatorRequestId</code> allows failed requests to be retried without the risk of executing the operation twice.</p>",
          "shape": "CreatorRequestId"
        },
        "Direction": {
          "documentation": "<p>Indicates whether the resolver endpoint allows inbound or outbound DNS queries:</p> <ul> <li> <p> <code>INBOUND</code>: allows DNS queries to your VPC from your network or another VPC</p> </li> <li> <p> <code>OUTBOUND</code>: allows DNS queries from your VPC to your network or another VPC</p> </li> </ul>",
          "shape": "ResolverEndpointDirection"
        },
        "HostVPCId": {
          "documentation": "<p>The ID of the VPC that you want to create the resolver endpoint in.</p>",
          "shape": "ResourceId"
        },
        "Id": {
          "documentation": "<p>The ID of the resolver endpoint.</p>",
          "shape": "ResourceId"
        },
        "IpAddressCount": {
          "documentation": "<p>The number of IP addresses that the resolver endpoint can use for DNS queries.</p>",
          "shape": "IpAddressCount"
        },
        "ModificationTime": {
          "documentation": "<p>The date and time that the endpoint was last modified, in Unix time format and Coordinated Universal Time (UTC).</p>",
          "shape": "Rfc3339TimeString"
        },
        "Name": {
          "documentation": "<p>The name that you assigned to the resolver endpoint when you submitted a <a>CreateResolverEndpoint</a> request.</p>",
          "shape": "Name"
        },
        "SecurityGroupIds": {
          "documentation": "<p>The ID of one or more security groups that control access to this VPC. The security group must include one or more inbound resolver rules.</p>",
          "shape": "SecurityGroupIds"
        },
        "Status": {
          "documentation": "<p>A code that specifies the current status of the resolver endpoint.</p>",
          "shape": "ResolverEndpointStatus"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed description of the status of the resolver endpoint.</p>",
          "shape": "StatusMessage"
        }
      },
      "type": "structure"
    },
    "ResolverEndpointDirection": {
      "enum": [
        "INBOUND",
        "OUTBOUND"
      ],
      "type": "string"
    },
    "ResolverEndpointStatus": {
      "enum": [
        "CREATING",
        "OPERATIONAL",
        "UPDATING",
        "AUTO_RECOVERING",
        "ACTION_NEEDED",
        "DELETING"
      ],
      "type": "string"
    },
    "ResolverEndpoints": {
      "member": {
        "shape": "ResolverEndpoint"
      },
      "type": "list"
    },
    "ResolverRule": {
      "documentation": "<p>For queries that originate in your VPC, detailed information about a resolver rule, which specifies how to route DNS queries out of the VPC. The <code>ResolverRule</code> parameter appears in the response to a <a>CreateResolverRule</a>, <a>DeleteResolverRule</a>, <a>GetResolverRule</a>, <a>ListResolverRules</a>, or <a>UpdateResolverRule</a> request.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN (Amazon Resource Name) for the resolver rule specified by <code>Id</code>.</p>",
          "shape": "Arn"
        },
        "CreatorRequestId": {
          "documentation": "<p>A unique string that you specified when you created the resolver rule. <code>CreatorRequestId</code>identifies the request and allows failed requests to be retried without the risk of executing the operation twice. </p>",
          "shape": "CreatorRequestId"
        },
        "DomainName": {
          "documentation": "<p>DNS queries for this domain name are forwarded to the IP addresses that are specified in <code>TargetIps</code>. If a query matches multiple resolver rules (example.com and www.example.com), the query is routed using the resolver rule that contains the most specific domain name (www.example.com).</p>",
          "shape": "DomainName"
        },
        "Id": {
          "documentation": "<p>The ID that Resolver assigned to the resolver rule when you created it.</p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>The name for the resolver rule, which you specified when you created the resolver rule.</p>",
          "shape": "Name"
        },
        "OwnerId": {
          "documentation": "<p>When a rule is shared with another AWS account, the account ID of the account that the rule is shared with.</p>",
          "shape": "AccountId"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the endpoint that the rule is associated with.</p>",
          "shape": "ResourceId"
        },
        "RuleType": {
          "documentation": "<p>This value is always <code>FORWARD</code>. Other resolver rule types aren't supported.</p>",
          "shape": "RuleTypeOption"
        },
        "ShareStatus": {
          "documentation": "<p>Whether the rules is shared and, if so, whether the current account is sharing the rule with another account, or another account is sharing the rule with the current account.</p>",
          "shape": "ShareStatus"
        },
        "Status": {
          "documentation": "<p>A code that specifies the current status of the resolver rule.</p>",
          "shape": "ResolverRuleStatus"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed description of the status of a resolver rule.</p>",
          "shape": "StatusMessage"
        },
        "TargetIps": {
          "documentation": "<p>An array that contains the IP addresses and ports that you want to forward </p>",
          "shape": "TargetList"
        }
      },
      "type": "structure"
    },
    "ResolverRuleAssociation": {
      "documentation": "<p>In the response to an <a>AssociateResolverRule</a>, <a>DisassociateResolverRule</a>, or <a>ListResolverRuleAssociations</a> request, information about an association between a resolver rule and a VPC.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The ID of the association between a resolver rule and a VPC. Resolver assigns this value when you submit an <a>AssociateResolverRule</a> request.</p>",
          "shape": "ResourceId"
        },
        "Name": {
          "documentation": "<p>The name of an association between a resolver rule and a VPC.</p>",
          "shape": "Name"
        },
        "ResolverRuleId": {
          "documentation": "<p>The ID of the resolver rule that you associated with the VPC that is specified by <code>VPCId</code>.</p>",
          "shape": "ResourceId"
        },
        "Status": {
          "documentation": "<p>A code that specifies the current status of the association between a resolver rule and a VPC.</p>",
          "shape": "ResolverRuleAssociationStatus"
        },
        "StatusMessage": {
          "documentation": "<p>A detailed description of the status of the association between a resolver rule and a VPC.</p>",
          "shape": "StatusMessage"
        },
        "VPCId": {
          "documentation": "<p>The ID of the VPC that you associated the resolver rule with.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "ResolverRuleAssociationStatus": {
      "enum": [
        "CREATING",
        "COMPLETE",
        "DELETING",
        "FAILED",
        "OVERRIDDEN"
      ],
      "type": "string"
    },
    "ResolverRuleAssociations": {
      "member": {
        "shape": "ResolverRuleAssociation"
      },
      "type": "list"
    },
    "ResolverRuleConfig": {
      "documentation": "<p>In an <a>UpdateResolverRule</a> request, information about the changes that you want to make.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The new name for the resolver rule. The name that you specify appears in the Resolver dashboard in the Route 53 console. </p>",
          "shape": "Name"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the new outbound resolver endpoint that you want to use to route DNS queries to the IP addresses that you specify in <code>TargetIps</code>.</p>",
          "shape": "ResourceId"
        },
        "TargetIps": {
          "documentation": "<p>For DNS queries that originate in your VPC, the new IP addresses that you want to route outbound DNS queries to.</p>",
          "shape": "TargetList"
        }
      },
      "type": "structure"
    },
    "ResolverRulePolicy": {
      "max": 5000,
      "type": "string"
    },
    "ResolverRuleStatus": {
      "enum": [
        "COMPLETE",
        "DELETING",
        "UPDATING",
        "FAILED"
      ],
      "type": "string"
    },
    "ResolverRules": {
      "member": {
        "shape": "ResolverRule"
      },
      "type": "list"
    },
    "ResourceExistsException": {
      "documentation": "<p>The resource that you tried to create already exists.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>For a <code>ResourceExistsException</code> error, the type of resource that the error applies to.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceId": {
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "ResourceInUseException": {
      "documentation": "<p>The resource that you tried to update or delete is currently in use.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>For a <code>ResourceInUseException</code> error, the type of resource that is currently in use.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource doesn't exist.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>For a <code>ResourceNotFoundException</code> error, the type of resource that doesn't exist.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ResourceUnavailableException": {
      "documentation": "<p>The specified resource isn't available.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>For a <code>ResourceUnavailableException</code> error, the type of resource that isn't available.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "Rfc3339TimeString": {
      "max": 40,
      "min": 20,
      "type": "string"
    },
    "RuleTypeOption": {
      "enum": [
        "FORWARD",
        "SYSTEM",
        "RECURSIVE"
      ],
      "type": "string"
    },
    "SecurityGroupIds": {
      "member": {
        "shape": "ResourceId"
      },
      "type": "list"
    },
    "ShareStatus": {
      "enum": [
        "NOT_SHARED",
        "SHARED_WITH_ME",
        "SHARED_BY_ME"
      ],
      "type": "string"
    },
    "StatusMessage": {
      "max": 255,
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "SubnetId": {
      "max": 32,
      "min": 1,
      "type": "string"
    },
    "Tag": {
      "documentation": "<p>One tag that you want to add to the specified resource. A tag consists of a <code>Key</code> (a name for the tag) and a <code>Value</code>.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The name for the tag. For example, if you want to associate Resolver resources with the account IDs of your customers for billing purposes, the value of <code>Key</code> might be <code>account-id</code>.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value for the tag. For example, if <code>Key</code> is <code>account-id</code>, then <code>Value</code> might be the ID of the customer account that you're creating the resource for.</p>",
          "shape": "TagValue"
        }
      },
      "type": "structure"
    },
    "TagKey": {
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the resource that you want to add tags to. To get the ARN for a resource, use the applicable <code>Get</code> or <code>List</code> command: </p> <ul> <li> <p> <a>GetResolverEndpoint</a> </p> </li> <li> <p> <a>GetResolverRule</a> </p> </li> <li> <p> <a>GetResolverRuleAssociation</a> </p> </li> <li> <p> <a>ListResolverEndpoints</a> </p> </li> <li> <p> <a>ListResolverRuleAssociations</a> </p> </li> <li> <p> <a>ListResolverRules</a> </p> </li> </ul>",
          "shape": "Arn"
        },
        "Tags": {
          "documentation": "<p>The tags that you want to add to the specified resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "type": "string"
    },
    "TargetAddress": {
      "documentation": "<p>In a <a>CreateResolverRule</a> request, an array of the IPs that you want to forward DNS queries to.</p>",
      "members": {
        "Ip": {
          "documentation": "<p>One IP address that you want to forward DNS queries to. You can specify only IPv4 addresses.</p>",
          "shape": "Ip"
        },
        "Port": {
          "box": true,
          "documentation": "<p>The port at <code>Ip</code> that you want to forward DNS queries to.</p>",
          "shape": "Port"
        }
      },
      "required": [
        "Ip"
      ],
      "type": "structure"
    },
    "TargetList": {
      "member": {
        "shape": "TargetAddress"
      },
      "min": 1,
      "type": "list"
    },
    "ThrottlingException": {
      "documentation": "<p>The request was throttled. Try again in a few minutes.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "UnknownResourceException": {
      "documentation": "<p>The specified resource doesn't exist.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) for the resource that you want to remove tags from. To get the ARN for a resource, use the applicable <code>Get</code> or <code>List</code> command: </p> <ul> <li> <p> <a>GetResolverEndpoint</a> </p> </li> <li> <p> <a>GetResolverRule</a> </p> </li> <li> <p> <a>GetResolverRuleAssociation</a> </p> </li> <li> <p> <a>ListResolverEndpoints</a> </p> </li> <li> <p> <a>ListResolverRuleAssociations</a> </p> </li> <li> <p> <a>ListResolverRules</a> </p> </li> </ul>",
          "shape": "Arn"
        },
        "TagKeys": {
          "documentation": "<p>The tags that you want to remove to the specified resource.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateResolverEndpointRequest": {
      "members": {
        "Name": {
          "box": true,
          "documentation": "<p>The name of the resolver endpoint that you want to update.</p>",
          "shape": "Name"
        },
        "ResolverEndpointId": {
          "documentation": "<p>The ID of the resolver endpoint that you want to update.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverEndpointId"
      ],
      "type": "structure"
    },
    "UpdateResolverEndpointResponse": {
      "members": {
        "ResolverEndpoint": {
          "documentation": "<p>The response to an <code>UpdateResolverEndpoint</code> request.</p>",
          "shape": "ResolverEndpoint"
        }
      },
      "type": "structure"
    },
    "UpdateResolverRuleRequest": {
      "members": {
        "Config": {
          "documentation": "<p>The new settings for the resolver rule.</p>",
          "shape": "ResolverRuleConfig"
        },
        "ResolverRuleId": {
          "documentation": "<p>The ID of the resolver rule that you want to update.</p>",
          "shape": "ResourceId"
        }
      },
      "required": [
        "ResolverRuleId",
        "Config"
      ],
      "type": "structure"
    },
    "UpdateResolverRuleResponse": {
      "members": {
        "ResolverRule": {
          "documentation": "<p>The response to an <code>UpdateResolverRule</code> request.</p>",
          "shape": "ResolverRule"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
