{
  "documentation": "<p>AWS IoT Analytics allows you to collect large amounts of device data, process messages, and store them. You can then query the data and run sophisticated analytics on it. AWS IoT Analytics enables advanced data exploration through integration with Jupyter Notebooks and data visualization through integration with Amazon QuickSight.</p> <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result the data from these devices can have significant gaps, corrupted messages, and false readings that must be cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data from external sources. </p> <p>AWS IoT Analytics automates the steps required to analyze data from IoT devices. AWS IoT Analytics filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You can set up the service to collect only the data you need from your devices, apply mathematical transforms to process the data, and enrich the data with device-specific metadata such as device type and location before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, or perform more complex analytics and machine learning inference. AWS IoT Analytics includes pre-built models for common IoT use cases so you can answer questions like which devices are about to fail or which customers are at risk of abandoning their wearable devices.</p>",
  "metadata": {
    "apiVersion": "2017-11-27",
    "endpointPrefix": "iotanalytics",
    "protocol": "rest-json",
    "serviceFullName": "AWS IoT Analytics",
    "serviceId": "IoTAnalytics",
    "signatureVersion": "v4",
    "signingName": "iotanalytics",
    "uid": "iotanalytics-2017-11-27"
  },
  "operations": {
    "BatchPutMessage": {
      "documentation": "<p>Sends messages to a channel.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/messages/batch",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchPutMessageRequest"
      },
      "name": "BatchPutMessage",
      "output": {
        "shape": "BatchPutMessageResponse"
      }
    },
    "CancelPipelineReprocessing": {
      "documentation": "<p>Cancels the reprocessing of data through the pipeline.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/pipelines/{pipelineName}/reprocessing/{reprocessingId}"
      },
      "input": {
        "shape": "CancelPipelineReprocessingRequest"
      },
      "name": "CancelPipelineReprocessing",
      "output": {
        "shape": "CancelPipelineReprocessingResponse"
      }
    },
    "CreateChannel": {
      "documentation": "<p>Creates a channel. A channel collects data from an MQTT topic and archives the raw, unprocessed messages before publishing the data to a pipeline.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/channels",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateChannelRequest"
      },
      "name": "CreateChannel",
      "output": {
        "shape": "CreateChannelResponse"
      }
    },
    "CreateDataset": {
      "documentation": "<p>Creates a data set. A data set stores data retrieved from a data store by applying a \"queryAction\" (a SQL query) or a \"containerAction\" (executing a containerized application). This operation creates the skeleton of a data set. The data set can be populated manually by calling \"CreateDatasetContent\" or automatically according to a \"trigger\" you specify.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/datasets",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDatasetRequest"
      },
      "name": "CreateDataset",
      "output": {
        "shape": "CreateDatasetResponse"
      }
    },
    "CreateDatasetContent": {
      "documentation": "<p>Creates the content of a data set by applying a \"queryAction\" (a SQL query) or a \"containerAction\" (executing a containerized application).</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/datasets/{datasetName}/content"
      },
      "input": {
        "shape": "CreateDatasetContentRequest"
      },
      "name": "CreateDatasetContent",
      "output": {
        "shape": "CreateDatasetContentResponse"
      }
    },
    "CreateDatastore": {
      "documentation": "<p>Creates a data store, which is a repository for messages.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/datastores",
        "responseCode": 201
      },
      "input": {
        "shape": "CreateDatastoreRequest"
      },
      "name": "CreateDatastore",
      "output": {
        "shape": "CreateDatastoreResponse"
      }
    },
    "CreatePipeline": {
      "documentation": "<p>Creates a pipeline. A pipeline consumes messages from a channel and allows you to process the messages before storing them in a data store. You must specify both a <code>channel</code> and a <code>datastore</code> activity and, optionally, as many as 23 additional activities in the <code>pipelineActivities</code> array.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/pipelines",
        "responseCode": 201
      },
      "input": {
        "shape": "CreatePipelineRequest"
      },
      "name": "CreatePipeline",
      "output": {
        "shape": "CreatePipelineResponse"
      }
    },
    "DeleteChannel": {
      "documentation": "<p>Deletes the specified channel.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/channels/{channelName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteChannelRequest"
      },
      "name": "DeleteChannel"
    },
    "DeleteDataset": {
      "documentation": "<p>Deletes the specified data set.</p> <p>You do not have to delete the content of the data set before you perform this operation.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/datasets/{datasetName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDatasetRequest"
      },
      "name": "DeleteDataset"
    },
    "DeleteDatasetContent": {
      "documentation": "<p>Deletes the content of the specified data set.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/datasets/{datasetName}/content",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDatasetContentRequest"
      },
      "name": "DeleteDatasetContent"
    },
    "DeleteDatastore": {
      "documentation": "<p>Deletes the specified data store.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/datastores/{datastoreName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteDatastoreRequest"
      },
      "name": "DeleteDatastore"
    },
    "DeletePipeline": {
      "documentation": "<p>Deletes the specified pipeline.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/pipelines/{pipelineName}",
        "responseCode": 204
      },
      "input": {
        "shape": "DeletePipelineRequest"
      },
      "name": "DeletePipeline"
    },
    "DescribeChannel": {
      "documentation": "<p>Retrieves information about a channel.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelName}"
      },
      "input": {
        "shape": "DescribeChannelRequest"
      },
      "name": "DescribeChannel",
      "output": {
        "shape": "DescribeChannelResponse"
      }
    },
    "DescribeDataset": {
      "documentation": "<p>Retrieves information about a data set.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetName}"
      },
      "input": {
        "shape": "DescribeDatasetRequest"
      },
      "name": "DescribeDataset",
      "output": {
        "shape": "DescribeDatasetResponse"
      }
    },
    "DescribeDatastore": {
      "documentation": "<p>Retrieves information about a data store.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/datastores/{datastoreName}"
      },
      "input": {
        "shape": "DescribeDatastoreRequest"
      },
      "name": "DescribeDatastore",
      "output": {
        "shape": "DescribeDatastoreResponse"
      }
    },
    "DescribeLoggingOptions": {
      "documentation": "<p>Retrieves the current settings of the AWS IoT Analytics logging options.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "DescribeLoggingOptionsRequest"
      },
      "name": "DescribeLoggingOptions",
      "output": {
        "shape": "DescribeLoggingOptionsResponse"
      }
    },
    "DescribePipeline": {
      "documentation": "<p>Retrieves information about a pipeline.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/pipelines/{pipelineName}"
      },
      "input": {
        "shape": "DescribePipelineRequest"
      },
      "name": "DescribePipeline",
      "output": {
        "shape": "DescribePipelineResponse"
      }
    },
    "GetDatasetContent": {
      "documentation": "<p>Retrieves the contents of a data set as pre-signed URIs.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetName}/content"
      },
      "input": {
        "shape": "GetDatasetContentRequest"
      },
      "name": "GetDatasetContent",
      "output": {
        "shape": "GetDatasetContentResponse"
      }
    },
    "ListChannels": {
      "documentation": "<p>Retrieves a list of channels.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels"
      },
      "input": {
        "shape": "ListChannelsRequest"
      },
      "name": "ListChannels",
      "output": {
        "shape": "ListChannelsResponse"
      }
    },
    "ListDatasetContents": {
      "documentation": "<p>Lists information about data set contents that have been created.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/datasets/{datasetName}/contents"
      },
      "input": {
        "shape": "ListDatasetContentsRequest"
      },
      "name": "ListDatasetContents",
      "output": {
        "shape": "ListDatasetContentsResponse"
      }
    },
    "ListDatasets": {
      "documentation": "<p>Retrieves information about data sets.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/datasets"
      },
      "input": {
        "shape": "ListDatasetsRequest"
      },
      "name": "ListDatasets",
      "output": {
        "shape": "ListDatasetsResponse"
      }
    },
    "ListDatastores": {
      "documentation": "<p>Retrieves a list of data stores.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/datastores"
      },
      "input": {
        "shape": "ListDatastoresRequest"
      },
      "name": "ListDatastores",
      "output": {
        "shape": "ListDatastoresResponse"
      }
    },
    "ListPipelines": {
      "documentation": "<p>Retrieves a list of pipelines.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/pipelines"
      },
      "input": {
        "shape": "ListPipelinesRequest"
      },
      "name": "ListPipelines",
      "output": {
        "shape": "ListPipelinesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags (metadata) which you have assigned to the resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "PutLoggingOptions": {
      "documentation": "<p>Sets or updates the AWS IoT Analytics logging options.</p> <p>Note that if you update the value of any <code>loggingOptions</code> field, it takes up to one minute for the change to take effect. Also, if you change the policy attached to the role you specified in the roleArn field (for example, to correct an invalid policy) it takes up to 5 minutes for that change to take effect. </p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/logging"
      },
      "input": {
        "shape": "PutLoggingOptionsRequest"
      },
      "name": "PutLoggingOptions"
    },
    "RunPipelineActivity": {
      "documentation": "<p>Simulates the results of running a pipeline activity on a message payload.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/pipelineactivities/run"
      },
      "input": {
        "shape": "RunPipelineActivityRequest"
      },
      "name": "RunPipelineActivity",
      "output": {
        "shape": "RunPipelineActivityResponse"
      }
    },
    "SampleChannelData": {
      "documentation": "<p>Retrieves a sample of messages from the specified channel ingested during the specified timeframe. Up to 10 messages can be retrieved.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/channels/{channelName}/sample"
      },
      "input": {
        "shape": "SampleChannelDataRequest"
      },
      "name": "SampleChannelData",
      "output": {
        "shape": "SampleChannelDataResponse"
      }
    },
    "StartPipelineReprocessing": {
      "documentation": "<p>Starts the reprocessing of raw message data through the pipeline.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/pipelines/{pipelineName}/reprocessing"
      },
      "input": {
        "shape": "StartPipelineReprocessingRequest"
      },
      "name": "StartPipelineReprocessing",
      "output": {
        "shape": "StartPipelineReprocessingResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds to or modifies the tags of the given resource. Tags are metadata which can be used to manage a resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the given tags (metadata) from the resource.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateChannel": {
      "documentation": "<p>Updates the settings of a channel.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/channels/{channelName}"
      },
      "input": {
        "shape": "UpdateChannelRequest"
      },
      "name": "UpdateChannel"
    },
    "UpdateDataset": {
      "documentation": "<p>Updates the settings of a data set.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/datasets/{datasetName}"
      },
      "input": {
        "shape": "UpdateDatasetRequest"
      },
      "name": "UpdateDataset"
    },
    "UpdateDatastore": {
      "documentation": "<p>Updates the settings of a data store.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/datastores/{datastoreName}"
      },
      "input": {
        "shape": "UpdateDatastoreRequest"
      },
      "name": "UpdateDatastore"
    },
    "UpdatePipeline": {
      "documentation": "<p>Updates the settings of a pipeline. You must specify both a <code>channel</code> and a <code>datastore</code> activity and, optionally, as many as 23 additional activities in the <code>pipelineActivities</code> array.</p>",
      "errors": [
        {
          "shape": "InvalidRequestException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalFailureException"
        },
        {
          "shape": "ServiceUnavailableException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/pipelines/{pipelineName}"
      },
      "input": {
        "shape": "UpdatePipelineRequest"
      },
      "name": "UpdatePipeline"
    }
  },
  "shapes": {
    "ActivityBatchSize": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "ActivityName": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "AddAttributesActivity": {
      "documentation": "<p>An activity that adds other attributes based on existing attributes in the message.</p>",
      "members": {
        "attributes": {
          "documentation": "<p>A list of 1-50 \"AttributeNameMapping\" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use \"RemoveAttributeActivity\".</p> </note>",
          "shape": "AttributeNameMapping"
        },
        "name": {
          "documentation": "<p>The name of the 'addAttributes' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        }
      },
      "required": [
        "name",
        "attributes"
      ],
      "type": "structure"
    },
    "AttributeName": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "AttributeNameMapping": {
      "key": {
        "shape": "AttributeName"
      },
      "max": 50,
      "min": 1,
      "type": "map",
      "value": {
        "shape": "AttributeName"
      }
    },
    "AttributeNames": {
      "max": 50,
      "member": {
        "shape": "AttributeName"
      },
      "min": 1,
      "type": "list"
    },
    "BatchPutMessageErrorEntries": {
      "member": {
        "shape": "BatchPutMessageErrorEntry"
      },
      "type": "list"
    },
    "BatchPutMessageErrorEntry": {
      "documentation": "<p>Contains informations about errors.</p>",
      "members": {
        "errorCode": {
          "documentation": "<p>The code associated with the error.</p>",
          "shape": "ErrorCode"
        },
        "errorMessage": {
          "documentation": "<p>The message associated with the error.</p>",
          "shape": "ErrorMessage"
        },
        "messageId": {
          "documentation": "<p>The ID of the message that caused the error. (See the value corresponding to the \"messageId\" key in the message object.)</p>",
          "shape": "MessageId"
        }
      },
      "type": "structure"
    },
    "BatchPutMessageRequest": {
      "members": {
        "channelName": {
          "documentation": "<p>The name of the channel where the messages are sent.</p>",
          "shape": "ChannelName"
        },
        "messages": {
          "documentation": "<p>The list of messages to be sent. Each message has format: '{ \"messageId\": \"string\", \"payload\": \"string\"}'.</p> <p>Note that the field names of message payloads (data) that you send to AWS IoT Analytics:</p> <ul> <li> <p>Must contain only alphanumeric characters and undescores (_); no other special characters are allowed.</p> </li> <li> <p>Must begin with an alphabetic character or single underscore (_).</p> </li> <li> <p>Cannot contain hyphens (-).</p> </li> <li> <p>In regular expression terms: \"^[A-Za-z_]([A-Za-z0-9]*|[A-Za-z0-9][A-Za-z0-9_]*)$\". </p> </li> <li> <p>Cannot be greater than 255 characters.</p> </li> <li> <p>Are case-insensitive. (Fields named \"foo\" and \"FOO\" in the same payload are considered duplicates.)</p> </li> </ul> <p>For example, {\"temp_01\": 29} or {\"_temp_01\": 29} are valid, but {\"temp-01\": 29}, {\"01_temp\": 29} or {\"__temp_01\": 29} are invalid in message payloads. </p>",
          "shape": "Messages"
        }
      },
      "required": [
        "channelName",
        "messages"
      ],
      "type": "structure"
    },
    "BatchPutMessageResponse": {
      "members": {
        "batchPutMessageErrorEntries": {
          "documentation": "<p>A list of any errors encountered when sending the messages to the channel.</p>",
          "shape": "BatchPutMessageErrorEntries"
        }
      },
      "type": "structure"
    },
    "BucketKeyExpression": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z0-9!_.*'()/{}:-]*$",
      "type": "string"
    },
    "BucketName": {
      "max": 255,
      "min": 3,
      "pattern": "^[a-zA-Z0-9.\\-_]*$",
      "type": "string"
    },
    "CancelPipelineReprocessingRequest": {
      "members": {
        "pipelineName": {
          "documentation": "<p>The name of pipeline for which data reprocessing is canceled.</p>",
          "location": "uri",
          "locationName": "pipelineName",
          "shape": "PipelineName"
        },
        "reprocessingId": {
          "documentation": "<p>The ID of the reprocessing task (returned by \"StartPipelineReprocessing\").</p>",
          "location": "uri",
          "locationName": "reprocessingId",
          "shape": "ReprocessingId"
        }
      },
      "required": [
        "pipelineName",
        "reprocessingId"
      ],
      "type": "structure"
    },
    "CancelPipelineReprocessingResponse": {
      "members": {},
      "type": "structure"
    },
    "Channel": {
      "documentation": "<p>A collection of data from an MQTT topic. Channels archive the raw, unprocessed messages before publishing the data to a pipeline.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChannelArn"
        },
        "creationTime": {
          "documentation": "<p>When the channel was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>When the channel was last updated.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the channel.</p>",
          "shape": "ChannelName"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, message data is kept for the channel.</p>",
          "shape": "RetentionPeriod"
        },
        "status": {
          "documentation": "<p>The status of the channel.</p>",
          "shape": "ChannelStatus"
        },
        "storage": {
          "documentation": "<p>Where channel data is stored. You may choose one of \"serviceManagedS3\" or \"customerManagedS3\" storage. If not specified, the default is \"serviceManagedS3\". This cannot be changed after creation of the channel.</p>",
          "shape": "ChannelStorage"
        }
      },
      "type": "structure"
    },
    "ChannelActivity": {
      "documentation": "<p>The activity that determines the source of the messages to be processed.</p>",
      "members": {
        "channelName": {
          "documentation": "<p>The name of the channel from which the messages are processed.</p>",
          "shape": "ChannelName"
        },
        "name": {
          "documentation": "<p>The name of the 'channel' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        }
      },
      "required": [
        "name",
        "channelName"
      ],
      "type": "structure"
    },
    "ChannelArn": {
      "type": "string"
    },
    "ChannelName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "ChannelStatistics": {
      "documentation": "<p>Statistics information about the channel.</p>",
      "members": {
        "size": {
          "documentation": "<p>The estimated size of the channel.</p>",
          "shape": "EstimatedResourceSize"
        }
      },
      "type": "structure"
    },
    "ChannelStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "ChannelStorage": {
      "documentation": "<p>Where channel data is stored. You may choose one of \"serviceManagedS3\" or \"customerManagedS3\" storage. If not specified, the default is \"serviceManagedS3\". This cannot be changed after creation of the channel.</p>",
      "members": {
        "customerManagedS3": {
          "documentation": "<p>Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the \"retentionPeriod\" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.</p>",
          "shape": "CustomerManagedChannelS3Storage"
        },
        "serviceManagedS3": {
          "documentation": "<p>Use this to store channel data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.</p>",
          "shape": "ServiceManagedChannelS3Storage"
        }
      },
      "type": "structure"
    },
    "ChannelStorageSummary": {
      "documentation": "<p>Where channel data is stored.</p>",
      "members": {
        "customerManagedS3": {
          "documentation": "<p>Used to store channel data in an S3 bucket that you manage.</p>",
          "shape": "CustomerManagedChannelS3StorageSummary"
        },
        "serviceManagedS3": {
          "documentation": "<p>Used to store channel data in an S3 bucket managed by the AWS IoT Analytics service.</p>",
          "shape": "ServiceManagedChannelS3StorageSummary"
        }
      },
      "type": "structure"
    },
    "ChannelSummaries": {
      "member": {
        "shape": "ChannelSummary"
      },
      "type": "list"
    },
    "ChannelSummary": {
      "documentation": "<p>A summary of information about a channel.</p>",
      "members": {
        "channelName": {
          "documentation": "<p>The name of the channel.</p>",
          "shape": "ChannelName"
        },
        "channelStorage": {
          "documentation": "<p>Where channel data is stored.</p>",
          "shape": "ChannelStorageSummary"
        },
        "creationTime": {
          "documentation": "<p>When the channel was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the channel was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the channel.</p>",
          "shape": "ChannelStatus"
        }
      },
      "type": "structure"
    },
    "ComputeType": {
      "enum": [
        "ACU_1",
        "ACU_2"
      ],
      "type": "string"
    },
    "ContainerDatasetAction": {
      "documentation": "<p>Information needed to run the \"containerAction\" to produce data set contents.</p>",
      "members": {
        "executionRoleArn": {
          "documentation": "<p>The ARN of the role which gives permission to the system to access needed resources in order to run the \"containerAction\". This includes, at minimum, permission to retrieve the data set contents which are the input to the containerized application.</p>",
          "shape": "RoleArn"
        },
        "image": {
          "documentation": "<p>The ARN of the Docker container stored in your account. The Docker container contains an application and needed support libraries and is used to generate data set contents.</p>",
          "shape": "Image"
        },
        "resourceConfiguration": {
          "documentation": "<p>Configuration of the resource which executes the \"containerAction\".</p>",
          "shape": "ResourceConfiguration"
        },
        "variables": {
          "documentation": "<p>The values of variables used within the context of the execution of the containerized application (basically, parameters passed to the application). Each variable must have a name and a value given by one of \"stringValue\", \"datasetContentVersionValue\", or \"outputFileUriValue\".</p>",
          "shape": "Variables"
        }
      },
      "required": [
        "image",
        "executionRoleArn",
        "resourceConfiguration"
      ],
      "type": "structure"
    },
    "CreateChannelRequest": {
      "members": {
        "channelName": {
          "documentation": "<p>The name of the channel.</p>",
          "shape": "ChannelName"
        },
        "channelStorage": {
          "documentation": "<p>Where channel data is stored. You may choose one of \"serviceManagedS3\" or \"customerManagedS3\" storage. If not specified, the default is \"serviceManagedS3\". This cannot be changed after creation of the channel.</p>",
          "shape": "ChannelStorage"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, message data is kept for the channel. When \"customerManagedS3\" storage is selected, this parameter is ignored.</p>",
          "shape": "RetentionPeriod"
        },
        "tags": {
          "documentation": "<p>Metadata which can be used to manage the channel.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "channelName"
      ],
      "type": "structure"
    },
    "CreateChannelResponse": {
      "members": {
        "channelArn": {
          "documentation": "<p>The ARN of the channel.</p>",
          "shape": "ChannelArn"
        },
        "channelName": {
          "documentation": "<p>The name of the channel.</p>",
          "shape": "ChannelName"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, message data is kept for the channel.</p>",
          "shape": "RetentionPeriod"
        }
      },
      "type": "structure"
    },
    "CreateDatasetContentRequest": {
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set.</p>",
          "location": "uri",
          "locationName": "datasetName",
          "shape": "DatasetName"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "CreateDatasetContentResponse": {
      "members": {
        "versionId": {
          "documentation": "<p>The version ID of the data set contents which are being created.</p>",
          "shape": "DatasetContentVersion"
        }
      },
      "type": "structure"
    },
    "CreateDatasetRequest": {
      "members": {
        "actions": {
          "documentation": "<p>A list of actions that create the data set contents.</p>",
          "shape": "DatasetActions"
        },
        "contentDeliveryRules": {
          "documentation": "<p>When data set contents are created they are delivered to destinations specified here.</p>",
          "shape": "DatasetContentDeliveryRules"
        },
        "datasetName": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "DatasetName"
        },
        "retentionPeriod": {
          "documentation": "<p>[Optional] How long, in days, versions of data set contents are kept for the data set. If not specified or set to null, versions of data set contents are retained for at most 90 days. The number of versions of data set contents retained is determined by the <code>versioningConfiguration</code> parameter. (For more information, see https://docs.aws.amazon.com/iotanalytics/latest/userguide/getting-started.html#aws-iot-analytics-dataset-versions)</p>",
          "shape": "RetentionPeriod"
        },
        "tags": {
          "documentation": "<p>Metadata which can be used to manage the data set.</p>",
          "shape": "TagList"
        },
        "triggers": {
          "documentation": "<p>A list of triggers. A trigger causes data set contents to be populated at a specified time interval or when another data set's contents are created. The list of triggers can be empty or contain up to five <b>DataSetTrigger</b> objects.</p>",
          "shape": "DatasetTriggers"
        },
        "versioningConfiguration": {
          "documentation": "<p>[Optional] How many versions of data set contents are kept. If not specified or set to null, only the latest version plus the latest succeeded version (if they are different) are kept for the time period specified by the \"retentionPeriod\" parameter. (For more information, see https://docs.aws.amazon.com/iotanalytics/latest/userguide/getting-started.html#aws-iot-analytics-dataset-versions)</p>",
          "shape": "VersioningConfiguration"
        }
      },
      "required": [
        "datasetName",
        "actions"
      ],
      "type": "structure"
    },
    "CreateDatasetResponse": {
      "members": {
        "datasetArn": {
          "documentation": "<p>The ARN of the data set.</p>",
          "shape": "DatasetArn"
        },
        "datasetName": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "DatasetName"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, data set contents are kept for the data set.</p>",
          "shape": "RetentionPeriod"
        }
      },
      "type": "structure"
    },
    "CreateDatastoreRequest": {
      "members": {
        "datastoreName": {
          "documentation": "<p>The name of the data store.</p>",
          "shape": "DatastoreName"
        },
        "datastoreStorage": {
          "documentation": "<p>Where data store data is stored. You may choose one of \"serviceManagedS3\" or \"customerManagedS3\" storage. If not specified, the default is \"serviceManagedS3\". This cannot be changed after the data store is created.</p>",
          "shape": "DatastoreStorage"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, message data is kept for the data store. When \"customerManagedS3\" storage is selected, this parameter is ignored.</p>",
          "shape": "RetentionPeriod"
        },
        "tags": {
          "documentation": "<p>Metadata which can be used to manage the data store.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "datastoreName"
      ],
      "type": "structure"
    },
    "CreateDatastoreResponse": {
      "members": {
        "datastoreArn": {
          "documentation": "<p>The ARN of the data store.</p>",
          "shape": "DatastoreArn"
        },
        "datastoreName": {
          "documentation": "<p>The name of the data store.</p>",
          "shape": "DatastoreName"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, message data is kept for the data store.</p>",
          "shape": "RetentionPeriod"
        }
      },
      "type": "structure"
    },
    "CreatePipelineRequest": {
      "members": {
        "pipelineActivities": {
          "documentation": "<p>A list of \"PipelineActivity\" objects. Activities perform transformations on your messages, such as removing, renaming or adding message attributes; filtering messages based on attribute values; invoking your Lambda functions on messages for advanced processing; or performing mathematical transformations to normalize device data.</p> <p>The list can be 2-25 <b>PipelineActivity</b> objects and must contain both a <code>channel</code> and a <code>datastore</code> activity. Each entry in the list must contain only one activity, for example:</p> <p> <code>pipelineActivities = [ { \"channel\": { ... } }, { \"lambda\": { ... } }, ... ]</code> </p>",
          "shape": "PipelineActivities"
        },
        "pipelineName": {
          "documentation": "<p>The name of the pipeline.</p>",
          "shape": "PipelineName"
        },
        "tags": {
          "documentation": "<p>Metadata which can be used to manage the pipeline.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "pipelineName",
        "pipelineActivities"
      ],
      "type": "structure"
    },
    "CreatePipelineResponse": {
      "members": {
        "pipelineArn": {
          "documentation": "<p>The ARN of the pipeline.</p>",
          "shape": "PipelineArn"
        },
        "pipelineName": {
          "documentation": "<p>The name of the pipeline.</p>",
          "shape": "PipelineName"
        }
      },
      "type": "structure"
    },
    "CustomerManagedChannelS3Storage": {
      "documentation": "<p>Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the \"retentionPeriod\" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket in which channel data is stored.</p>",
          "shape": "BucketName"
        },
        "keyPrefix": {
          "documentation": "<p>[Optional] The prefix used to create the keys of the channel data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier within the bucket (each object in a bucket has exactly one key). The prefix must end with a '/'.</p>",
          "shape": "S3KeyPrefix"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role which grants AWS IoT Analytics permission to interact with your Amazon S3 resources.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "bucket",
        "roleArn"
      ],
      "type": "structure"
    },
    "CustomerManagedChannelS3StorageSummary": {
      "documentation": "<p>Used to store channel data in an S3 bucket that you manage.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket in which channel data is stored.</p>",
          "shape": "BucketName"
        },
        "keyPrefix": {
          "documentation": "<p>[Optional] The prefix used to create the keys of the channel data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier within the bucket (each object in a bucket has exactly one key). The prefix must end with a '/'.</p>",
          "shape": "S3KeyPrefix"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role which grants AWS IoT Analytics permission to interact with your Amazon S3 resources.</p>",
          "shape": "RoleArn"
        }
      },
      "type": "structure"
    },
    "CustomerManagedDatastoreS3Storage": {
      "documentation": "<p>Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the \"retentionPeriod\" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket in which data store data is stored.</p>",
          "shape": "BucketName"
        },
        "keyPrefix": {
          "documentation": "<p>[Optional] The prefix used to create the keys of the data store data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier within the bucket (each object in a bucket has exactly one key). The prefix must end with a '/'.</p>",
          "shape": "S3KeyPrefix"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role which grants AWS IoT Analytics permission to interact with your Amazon S3 resources.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "bucket",
        "roleArn"
      ],
      "type": "structure"
    },
    "CustomerManagedDatastoreS3StorageSummary": {
      "documentation": "<p>Used to store data store data in an S3 bucket that you manage.</p>",
      "members": {
        "bucket": {
          "documentation": "<p>The name of the Amazon S3 bucket in which data store data is stored.</p>",
          "shape": "BucketName"
        },
        "keyPrefix": {
          "documentation": "<p>[Optional] The prefix used to create the keys of the data store data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier within the bucket (each object in a bucket has exactly one key). The prefix must end with a '/'.</p>",
          "shape": "S3KeyPrefix"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role which grants AWS IoT Analytics permission to interact with your Amazon S3 resources.</p>",
          "shape": "RoleArn"
        }
      },
      "type": "structure"
    },
    "Dataset": {
      "documentation": "<p>Information about a data set.</p>",
      "members": {
        "actions": {
          "documentation": "<p>The \"DatasetAction\" objects that automatically create the data set contents.</p>",
          "shape": "DatasetActions"
        },
        "arn": {
          "documentation": "<p>The ARN of the data set.</p>",
          "shape": "DatasetArn"
        },
        "contentDeliveryRules": {
          "documentation": "<p>When data set contents are created they are delivered to destinations specified here.</p>",
          "shape": "DatasetContentDeliveryRules"
        },
        "creationTime": {
          "documentation": "<p>When the data set was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the data set was updated.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "DatasetName"
        },
        "retentionPeriod": {
          "documentation": "<p>[Optional] How long, in days, message data is kept for the data set.</p>",
          "shape": "RetentionPeriod"
        },
        "status": {
          "documentation": "<p>The status of the data set.</p>",
          "shape": "DatasetStatus"
        },
        "triggers": {
          "documentation": "<p>The \"DatasetTrigger\" objects that specify when the data set is automatically updated.</p>",
          "shape": "DatasetTriggers"
        },
        "versioningConfiguration": {
          "documentation": "<p>[Optional] How many versions of data set contents are kept. If not specified or set to null, only the latest version plus the latest succeeded version (if they are different) are kept for the time period specified by the \"retentionPeriod\" parameter. (For more information, see https://docs.aws.amazon.com/iotanalytics/latest/userguide/getting-started.html#aws-iot-analytics-dataset-versions)</p>",
          "shape": "VersioningConfiguration"
        }
      },
      "type": "structure"
    },
    "DatasetAction": {
      "documentation": "<p>A \"DatasetAction\" object that specifies how data set contents are automatically created.</p>",
      "members": {
        "actionName": {
          "documentation": "<p>The name of the data set action by which data set contents are automatically created.</p>",
          "shape": "DatasetActionName"
        },
        "containerAction": {
          "documentation": "<p>Information which allows the system to run a containerized application in order to create the data set contents. The application must be in a Docker container along with any needed support libraries.</p>",
          "shape": "ContainerDatasetAction"
        },
        "queryAction": {
          "documentation": "<p>An \"SqlQueryDatasetAction\" object that uses an SQL query to automatically create data set contents.</p>",
          "shape": "SqlQueryDatasetAction"
        }
      },
      "type": "structure"
    },
    "DatasetActionName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "DatasetActionSummaries": {
      "max": 1,
      "member": {
        "shape": "DatasetActionSummary"
      },
      "min": 1,
      "type": "list"
    },
    "DatasetActionSummary": {
      "documentation": "<p>Information about the action which automatically creates the data set's contents.</p>",
      "members": {
        "actionName": {
          "documentation": "<p>The name of the action which automatically creates the data set's contents.</p>",
          "shape": "DatasetActionName"
        },
        "actionType": {
          "documentation": "<p>The type of action by which the data set's contents are automatically created.</p>",
          "shape": "DatasetActionType"
        }
      },
      "type": "structure"
    },
    "DatasetActionType": {
      "enum": [
        "QUERY",
        "CONTAINER"
      ],
      "type": "string"
    },
    "DatasetActions": {
      "max": 1,
      "member": {
        "shape": "DatasetAction"
      },
      "min": 1,
      "type": "list"
    },
    "DatasetArn": {
      "type": "string"
    },
    "DatasetContentDeliveryDestination": {
      "documentation": "<p>The destination to which data set contents are delivered.</p>",
      "members": {
        "iotEventsDestinationConfiguration": {
          "documentation": "<p>Configuration information for delivery of data set contents to AWS IoT Events.</p>",
          "shape": "IotEventsDestinationConfiguration"
        },
        "s3DestinationConfiguration": {
          "documentation": "<p>Configuration information for delivery of data set contents to Amazon S3.</p>",
          "shape": "S3DestinationConfiguration"
        }
      },
      "type": "structure"
    },
    "DatasetContentDeliveryRule": {
      "documentation": "<p>When data set contents are created they are delivered to destination specified here.</p>",
      "members": {
        "destination": {
          "documentation": "<p>The destination to which data set contents are delivered.</p>",
          "shape": "DatasetContentDeliveryDestination"
        },
        "entryName": {
          "documentation": "<p>The name of the data set content delivery rules entry.</p>",
          "shape": "EntryName"
        }
      },
      "required": [
        "destination"
      ],
      "type": "structure"
    },
    "DatasetContentDeliveryRules": {
      "max": 20,
      "member": {
        "shape": "DatasetContentDeliveryRule"
      },
      "min": 0,
      "type": "list"
    },
    "DatasetContentState": {
      "enum": [
        "CREATING",
        "SUCCEEDED",
        "FAILED"
      ],
      "type": "string"
    },
    "DatasetContentStatus": {
      "documentation": "<p>The state of the data set contents and the reason they are in this state.</p>",
      "members": {
        "reason": {
          "documentation": "<p>The reason the data set contents are in this state.</p>",
          "shape": "Reason"
        },
        "state": {
          "documentation": "<p>The state of the data set contents. Can be one of \"READY\", \"CREATING\", \"SUCCEEDED\" or \"FAILED\".</p>",
          "shape": "DatasetContentState"
        }
      },
      "type": "structure"
    },
    "DatasetContentSummaries": {
      "member": {
        "shape": "DatasetContentSummary"
      },
      "type": "list"
    },
    "DatasetContentSummary": {
      "documentation": "<p>Summary information about data set contents.</p>",
      "members": {
        "completionTime": {
          "documentation": "<p>The time the dataset content status was updated to SUCCEEDED or FAILED.</p>",
          "shape": "Timestamp"
        },
        "creationTime": {
          "documentation": "<p>The actual time the creation of the data set contents was started.</p>",
          "shape": "Timestamp"
        },
        "scheduleTime": {
          "documentation": "<p>The time the creation of the data set contents was scheduled to start.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the data set contents.</p>",
          "shape": "DatasetContentStatus"
        },
        "version": {
          "documentation": "<p>The version of the data set contents.</p>",
          "shape": "DatasetContentVersion"
        }
      },
      "type": "structure"
    },
    "DatasetContentVersion": {
      "max": 36,
      "min": 7,
      "type": "string"
    },
    "DatasetContentVersionValue": {
      "documentation": "<p>The data set whose latest contents are used as input to the notebook or application.</p>",
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set whose latest contents are used as input to the notebook or application.</p>",
          "shape": "DatasetName"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "DatasetEntries": {
      "member": {
        "shape": "DatasetEntry"
      },
      "type": "list"
    },
    "DatasetEntry": {
      "documentation": "<p>The reference to a data set entry.</p>",
      "members": {
        "dataURI": {
          "documentation": "<p>The pre-signed URI of the data set item.</p>",
          "shape": "PresignedURI"
        },
        "entryName": {
          "documentation": "<p>The name of the data set item.</p>",
          "shape": "EntryName"
        }
      },
      "type": "structure"
    },
    "DatasetName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "DatasetStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "DatasetSummaries": {
      "member": {
        "shape": "DatasetSummary"
      },
      "type": "list"
    },
    "DatasetSummary": {
      "documentation": "<p>A summary of information about a data set.</p>",
      "members": {
        "actions": {
          "documentation": "<p>A list of \"DataActionSummary\" objects.</p>",
          "shape": "DatasetActionSummaries"
        },
        "creationTime": {
          "documentation": "<p>The time the data set was created.</p>",
          "shape": "Timestamp"
        },
        "datasetName": {
          "documentation": "<p>The name of the data set.</p>",
          "shape": "DatasetName"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the data set was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the data set.</p>",
          "shape": "DatasetStatus"
        },
        "triggers": {
          "documentation": "<p>A list of triggers. A trigger causes data set content to be populated at a specified time interval or when another data set is populated. The list of triggers can be empty or contain up to five DataSetTrigger objects</p>",
          "shape": "DatasetTriggers"
        }
      },
      "type": "structure"
    },
    "DatasetTrigger": {
      "documentation": "<p>The \"DatasetTrigger\" that specifies when the data set is automatically updated.</p>",
      "members": {
        "dataset": {
          "documentation": "<p>The data set whose content creation triggers the creation of this data set's contents.</p>",
          "shape": "TriggeringDataset"
        },
        "schedule": {
          "documentation": "<p>The \"Schedule\" when the trigger is initiated.</p>",
          "shape": "Schedule"
        }
      },
      "type": "structure"
    },
    "DatasetTriggers": {
      "max": 5,
      "member": {
        "shape": "DatasetTrigger"
      },
      "min": 0,
      "type": "list"
    },
    "Datastore": {
      "documentation": "<p>Information about a data store.</p>",
      "members": {
        "arn": {
          "documentation": "<p>The ARN of the data store.</p>",
          "shape": "DatastoreArn"
        },
        "creationTime": {
          "documentation": "<p>When the data store was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the data store was updated.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the data store.</p>",
          "shape": "DatastoreName"
        },
        "retentionPeriod": {
          "documentation": "<p>How long, in days, message data is kept for the data store. When \"customerManagedS3\" storage is selected, this parameter is ignored.</p>",
          "shape": "RetentionPeriod"
        },
        "status": {
          "documentation": "<p>The status of a data store:</p> <dl> <dt>CREATING</dt> <dd> <p>The data store is being created.</p> </dd> <dt>ACTIVE</dt> <dd> <p>The data store has been created and can be used.</p> </dd> <dt>DELETING</dt> <dd> <p>The data store is being deleted.</p> </dd> </dl>",
          "shape": "DatastoreStatus"
        },
        "storage": {
          "documentation": "<p>Where data store data is stored. You may choose one of \"serviceManagedS3\" or \"customerManagedS3\" storage. If not specified, the default is \"serviceManagedS3\". This cannot be changed after the data store is created.</p>",
          "shape": "DatastoreStorage"
        }
      },
      "type": "structure"
    },
    "DatastoreActivity": {
      "documentation": "<p>The 'datastore' activity that specifies where to store the processed data.</p>",
      "members": {
        "datastoreName": {
          "documentation": "<p>The name of the data store where processed messages are stored.</p>",
          "shape": "DatastoreName"
        },
        "name": {
          "documentation": "<p>The name of the 'datastore' activity.</p>",
          "shape": "ActivityName"
        }
      },
      "required": [
        "name",
        "datastoreName"
      ],
      "type": "structure"
    },
    "DatastoreArn": {
      "type": "string"
    },
    "DatastoreName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_]+$",
      "type": "string"
    },
    "DatastoreStatistics": {
      "documentation": "<p>Statistical information about the data store.</p>",
      "members": {
        "size": {
          "documentation": "<p>The estimated size of the data store.</p>",
          "shape": "EstimatedResourceSize"
        }
      },
      "type": "structure"
    },
    "DatastoreStatus": {
      "enum": [
        "CREATING",
        "ACTIVE",
        "DELETING"
      ],
      "type": "string"
    },
    "DatastoreStorage": {
      "documentation": "<p>Where data store data is stored. You may choose one of \"serviceManagedS3\" or \"customerManagedS3\" storage. If not specified, the default is \"serviceManagedS3\". This cannot be changed after the data store is created.</p>",
      "members": {
        "customerManagedS3": {
          "documentation": "<p>Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the \"retentionPeriod\" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.</p>",
          "shape": "CustomerManagedDatastoreS3Storage"
        },
        "serviceManagedS3": {
          "documentation": "<p>Use this to store data store data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.</p>",
          "shape": "ServiceManagedDatastoreS3Storage"
        }
      },
      "type": "structure"
    },
    "DatastoreStorageSummary": {
      "documentation": "<p>Where data store data is stored.</p>",
      "members": {
        "customerManagedS3": {
          "documentation": "<p>Used to store data store data in an S3 bucket that you manage.</p>",
          "shape": "CustomerManagedDatastoreS3StorageSummary"
        },
        "serviceManagedS3": {
          "documentation": "<p>Used to store data store data in an S3 bucket managed by the AWS IoT Analytics service.</p>",
          "shape": "ServiceManagedDatastoreS3StorageSummary"
        }
      },
      "type": "structure"
    },
    "DatastoreSummaries": {
      "member": {
        "shape": "DatastoreSummary"
      },
      "type": "list"
    },
    "DatastoreSummary": {
      "documentation": "<p>A summary of information about a data store.</p>",
      "members": {
        "creationTime": {
          "documentation": "<p>When the data store was created.</p>",
          "shape": "Timestamp"
        },
        "datastoreName": {
          "documentation": "<p>The name of the data store.</p>",
          "shape": "DatastoreName"
        },
        "datastoreStorage": {
          "documentation": "<p>Where data store data is stored.</p>",
          "shape": "DatastoreStorageSummary"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the data store was updated.</p>",
          "shape": "Timestamp"
        },
        "status": {
          "documentation": "<p>The status of the data store.</p>",
          "shape": "DatastoreStatus"
        }
      },
      "type": "structure"
    },
    "DeleteChannelRequest": {
      "members": {
        "channelName": {
          "documentation": "<p>The name of the channel to delete.</p>",
          "location": "uri",
          "locationName": "channelName",
          "shape": "ChannelName"
        }
      },
      "required": [
        "channelName"
      ],
      "type": "structure"
    },
    "DeleteDatasetContentRequest": {
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set whose content is deleted.</p>",
          "location": "uri",
          "locationName": "datasetName",
          "shape": "DatasetName"
        },
        "versionId": {
          "documentation": "<p>The version of the data set whose content is deleted. You can also use the strings \"$LATEST\" or \"$LATEST_SUCCEEDED\" to delete the latest or latest successfully completed data set. If not specified, \"$LATEST_SUCCEEDED\" is the default.</p>",
          "location": "querystring",
          "locationName": "versionId",
          "shape": "DatasetContentVersion"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "DeleteDatasetRequest": {
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set to delete.</p>",
          "location": "uri",
          "locationName": "datasetName",
          "shape": "DatasetName"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "DeleteDatastoreRequest": {
      "members": {
        "datastoreName": {
          "documentation": "<p>The name of the data store to delete.</p>",
          "location": "uri",
          "locationName": "datastoreName",
          "shape": "DatastoreName"
        }
      },
      "required": [
        "datastoreName"
      ],
      "type": "structure"
    },
    "DeletePipelineRequest": {
      "members": {
        "pipelineName": {
          "documentation": "<p>The name of the pipeline to delete.</p>",
          "location": "uri",
          "locationName": "pipelineName",
          "shape": "PipelineName"
        }
      },
      "required": [
        "pipelineName"
      ],
      "type": "structure"
    },
    "DeltaTime": {
      "documentation": "<p>Used to limit data to that which has arrived since the last execution of the action.</p>",
      "members": {
        "offsetSeconds": {
          "documentation": "<p>The number of seconds of estimated \"in flight\" lag time of message data. When you create data set contents using message data from a specified time frame, some message data may still be \"in flight\" when processing begins, and so will not arrive in time to be processed. Use this field to make allowances for the \"in flight\" time of your message data, so that data not processed from a previous time frame will be included with the next time frame. Without this, missed message data would be excluded from processing during the next time frame as well, because its timestamp places it within the previous time frame.</p>",
          "shape": "OffsetSeconds"
        },
        "timeExpression": {
          "documentation": "<p>An expression by which the time of the message data may be determined. This may be the name of a timestamp field, or a SQL expression which is used to derive the time the message data was generated.</p>",
          "shape": "TimeExpression"
        }
      },
      "required": [
        "offsetSeconds",
        "timeExpression"
      ],
      "type": "structure"
    },
    "DescribeChannelRequest": {
      "members": {
        "channelName": {
          "documentation": "<p>The name of the channel whose information is retrieved.</p>",
          "location": "uri",
          "locationName": "channelName",
          "shape": "ChannelName"
        },
        "includeStatistics": {
          "documentation": "<p>If true, additional statistical information about the channel is included in the response. This feature cannot be used with a channel whose S3 storage is customer-managed.</p>",
          "location": "querystring",
          "locationName": "includeStatistics",
          "shape": "IncludeStatisticsFlag"
        }
      },
      "required": [
        "channelName"
      ],
      "type": "structure"
    },
    "DescribeChannelResponse": {
      "members": {
        "channel": {
          "documentation": "<p>An object that contains information about the channel.</p>",
          "shape": "Channel"
        },
        "statistics": {
          "documentation": "<p>Statistics about the channel. Included if the 'includeStatistics' parameter is set to true in the request.</p>",
          "shape": "ChannelStatistics"
        }
      },
      "type": "structure"
    },
    "DescribeDatasetRequest": {
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set whose information is retrieved.</p>",
          "location": "uri",
          "locationName": "datasetName",
          "shape": "DatasetName"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "DescribeDatasetResponse": {
      "members": {
        "dataset": {
          "documentation": "<p>An object that contains information about the data set.</p>",
          "shape": "Dataset"
        }
      },
      "type": "structure"
    },
    "DescribeDatastoreRequest": {
      "members": {
        "datastoreName": {
          "documentation": "<p>The name of the data store</p>",
          "location": "uri",
          "locationName": "datastoreName",
          "shape": "DatastoreName"
        },
        "includeStatistics": {
          "documentation": "<p>If true, additional statistical information about the data store is included in the response. This feature cannot be used with a data store whose S3 storage is customer-managed.</p>",
          "location": "querystring",
          "locationName": "includeStatistics",
          "shape": "IncludeStatisticsFlag"
        }
      },
      "required": [
        "datastoreName"
      ],
      "type": "structure"
    },
    "DescribeDatastoreResponse": {
      "members": {
        "datastore": {
          "documentation": "<p>Information about the data store.</p>",
          "shape": "Datastore"
        },
        "statistics": {
          "documentation": "<p>Additional statistical information about the data store. Included if the 'includeStatistics' parameter is set to true in the request.</p>",
          "shape": "DatastoreStatistics"
        }
      },
      "type": "structure"
    },
    "DescribeLoggingOptionsRequest": {
      "members": {},
      "type": "structure"
    },
    "DescribeLoggingOptionsResponse": {
      "members": {
        "loggingOptions": {
          "documentation": "<p>The current settings of the AWS IoT Analytics logging options.</p>",
          "shape": "LoggingOptions"
        }
      },
      "type": "structure"
    },
    "DescribePipelineRequest": {
      "members": {
        "pipelineName": {
          "documentation": "<p>The name of the pipeline whose information is retrieved.</p>",
          "location": "uri",
          "locationName": "pipelineName",
          "shape": "PipelineName"
        }
      },
      "required": [
        "pipelineName"
      ],
      "type": "structure"
    },
    "DescribePipelineResponse": {
      "members": {
        "pipeline": {
          "documentation": "<p>A \"Pipeline\" object that contains information about the pipeline.</p>",
          "shape": "Pipeline"
        }
      },
      "type": "structure"
    },
    "DeviceRegistryEnrichActivity": {
      "documentation": "<p>An activity that adds data from the AWS IoT device registry to your message.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The name of the attribute that is added to the message.</p>",
          "shape": "AttributeName"
        },
        "name": {
          "documentation": "<p>The name of the 'deviceRegistryEnrich' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that allows access to the device's registry information.</p>",
          "shape": "RoleArn"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT device whose registry information is added to the message.</p>",
          "shape": "AttributeName"
        }
      },
      "required": [
        "name",
        "attribute",
        "thingName",
        "roleArn"
      ],
      "type": "structure"
    },
    "DeviceShadowEnrichActivity": {
      "documentation": "<p>An activity that adds information from the AWS IoT Device Shadows service to a message.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The name of the attribute that is added to the message.</p>",
          "shape": "AttributeName"
        },
        "name": {
          "documentation": "<p>The name of the 'deviceShadowEnrich' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that allows access to the device's shadow.</p>",
          "shape": "RoleArn"
        },
        "thingName": {
          "documentation": "<p>The name of the IoT device whose shadow information is added to the message.</p>",
          "shape": "AttributeName"
        }
      },
      "required": [
        "name",
        "attribute",
        "thingName",
        "roleArn"
      ],
      "type": "structure"
    },
    "DoubleValue": {
      "type": "double"
    },
    "EndTime": {
      "type": "timestamp"
    },
    "EntryName": {
      "type": "string"
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EstimatedResourceSize": {
      "documentation": "<p>The estimated size of the resource.</p>",
      "members": {
        "estimatedOn": {
          "documentation": "<p>The time when the estimate of the size of the resource was made.</p>",
          "shape": "Timestamp"
        },
        "estimatedSizeInBytes": {
          "documentation": "<p>The estimated size of the resource in bytes.</p>",
          "shape": "SizeInBytes"
        }
      },
      "type": "structure"
    },
    "FilterActivity": {
      "documentation": "<p>An activity that filters a message based on its attributes.</p>",
      "members": {
        "filter": {
          "documentation": "<p>An expression that looks like a SQL WHERE clause that must return a Boolean value.</p>",
          "shape": "FilterExpression"
        },
        "name": {
          "documentation": "<p>The name of the 'filter' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        }
      },
      "required": [
        "name",
        "filter"
      ],
      "type": "structure"
    },
    "FilterExpression": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "GetDatasetContentRequest": {
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set whose contents are retrieved.</p>",
          "location": "uri",
          "locationName": "datasetName",
          "shape": "DatasetName"
        },
        "versionId": {
          "documentation": "<p>The version of the data set whose contents are retrieved. You can also use the strings \"$LATEST\" or \"$LATEST_SUCCEEDED\" to retrieve the contents of the latest or latest successfully completed data set. If not specified, \"$LATEST_SUCCEEDED\" is the default.</p>",
          "location": "querystring",
          "locationName": "versionId",
          "shape": "DatasetContentVersion"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "GetDatasetContentResponse": {
      "members": {
        "entries": {
          "documentation": "<p>A list of \"DatasetEntry\" objects.</p>",
          "shape": "DatasetEntries"
        },
        "status": {
          "documentation": "<p>The status of the data set content.</p>",
          "shape": "DatasetContentStatus"
        },
        "timestamp": {
          "documentation": "<p>The time when the request was made.</p>",
          "shape": "Timestamp"
        }
      },
      "type": "structure"
    },
    "GlueConfiguration": {
      "documentation": "<p>Configuration information for coordination with the AWS Glue ETL (extract, transform and load) service.</p>",
      "members": {
        "databaseName": {
          "documentation": "<p>The name of the database in your AWS Glue Data Catalog in which the table is located. (An AWS Glue Data Catalog database contains Glue Data tables.)</p>",
          "shape": "GlueDatabaseName"
        },
        "tableName": {
          "documentation": "<p>The name of the table in your AWS Glue Data Catalog which is used to perform the ETL (extract, transform and load) operations. (An AWS Glue Data Catalog table contains partitioned data and descriptions of data sources and targets.)</p>",
          "shape": "GlueTableName"
        }
      },
      "required": [
        "tableName",
        "databaseName"
      ],
      "type": "structure"
    },
    "GlueDatabaseName": {
      "max": 150,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*",
      "type": "string"
    },
    "GlueTableName": {
      "max": 150,
      "min": 1,
      "pattern": "[\\u0020-\\uD7FF\\uE000-\\uFFFD\\uD800\\uDC00-\\uDBFF\\uDFFF\\t]*",
      "type": "string"
    },
    "Image": {
      "max": 255,
      "type": "string"
    },
    "IncludeStatisticsFlag": {
      "type": "boolean"
    },
    "InternalFailureException": {
      "documentation": "<p>There was an internal failure.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "fault": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "InvalidRequestException": {
      "documentation": "<p>The request was not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "IotEventsDestinationConfiguration": {
      "documentation": "<p>Configuration information for delivery of data set contents to AWS IoT Events.</p>",
      "members": {
        "inputName": {
          "documentation": "<p>The name of the AWS IoT Events input to which data set contents are delivered.</p>",
          "shape": "IotEventsInputName"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role which grants AWS IoT Analytics permission to deliver data set contents to an AWS IoT Events input.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "inputName",
        "roleArn"
      ],
      "type": "structure"
    },
    "IotEventsInputName": {
      "max": 128,
      "min": 1,
      "pattern": "^[a-zA-Z][a-zA-Z0-9_]*$",
      "type": "string"
    },
    "LambdaActivity": {
      "documentation": "<p>An activity that runs a Lambda function to modify the message.</p>",
      "members": {
        "batchSize": {
          "documentation": "<p>The number of messages passed to the Lambda function for processing.</p> <p>The AWS Lambda function must be able to process all of these messages within five minutes, which is the maximum timeout duration for Lambda functions.</p>",
          "shape": "ActivityBatchSize"
        },
        "lambdaName": {
          "documentation": "<p>The name of the Lambda function that is run on the message.</p>",
          "shape": "LambdaName"
        },
        "name": {
          "documentation": "<p>The name of the 'lambda' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        }
      },
      "required": [
        "name",
        "lambdaName",
        "batchSize"
      ],
      "type": "structure"
    },
    "LambdaName": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z0-9_-]+$",
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>The command caused an internal limit to be exceeded.</p>",
      "error": {
        "httpStatusCode": 410
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "errorMessage"
        }
      },
      "type": "structure"
    },
    "ListChannelsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListChannelsResponse": {
      "members": {
        "channelSummaries": {
          "documentation": "<p>A list of \"ChannelSummary\" objects.</p>",
          "shape": "ChannelSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token to retrieve the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetContentsRequest": {
      "members": {
        "datasetName": {
          "documentation": "<p>The name of the data set whose contents information you want to list.</p>",
          "location": "uri",
          "locationName": "datasetName",
          "shape": "DatasetName"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in this request.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        },
        "scheduledBefore": {
          "documentation": "<p>A filter to limit results to those data set contents whose creation is scheduled before the given time. See the field <code>triggers.schedule</code> in the CreateDataset request. (timestamp)</p>",
          "location": "querystring",
          "locationName": "scheduledBefore",
          "shape": "Timestamp"
        },
        "scheduledOnOrAfter": {
          "documentation": "<p>A filter to limit results to those data set contents whose creation is scheduled on or after the given time. See the field <code>triggers.schedule</code> in the CreateDataset request. (timestamp)</p>",
          "location": "querystring",
          "locationName": "scheduledOnOrAfter",
          "shape": "Timestamp"
        }
      },
      "required": [
        "datasetName"
      ],
      "type": "structure"
    },
    "ListDatasetContentsResponse": {
      "members": {
        "datasetContentSummaries": {
          "documentation": "<p>Summary information about data set contents that have been created.</p>",
          "shape": "DatasetContentSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token to retrieve the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetsRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatasetsResponse": {
      "members": {
        "datasetSummaries": {
          "documentation": "<p>A list of \"DatasetSummary\" objects.</p>",
          "shape": "DatasetSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token to retrieve the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatastoresRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListDatastoresResponse": {
      "members": {
        "datastoreSummaries": {
          "documentation": "<p>A list of \"DatastoreSummary\" objects.</p>",
          "shape": "DatastoreSummaries"
        },
        "nextToken": {
          "documentation": "<p>The token to retrieve the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListPipelinesRequest": {
      "members": {
        "maxResults": {
          "documentation": "<p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>",
          "location": "querystring",
          "locationName": "maxResults",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next set of results.</p>",
          "location": "querystring",
          "locationName": "nextToken",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListPipelinesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to retrieve the next set of results, or <code>null</code> if there are no more results.</p>",
          "shape": "NextToken"
        },
        "pipelineSummaries": {
          "documentation": "<p>A list of \"PipelineSummary\" objects.</p>",
          "shape": "PipelineSummaries"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The ARN of the resource whose tags you want to list.</p>",
          "location": "querystring",
          "locationName": "resourceArn",
          "shape": "ResourceArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>The tags (metadata) which you have assigned to the resource.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "LogResult": {
      "type": "string"
    },
    "LoggingEnabled": {
      "type": "boolean"
    },
    "LoggingLevel": {
      "enum": [
        "ERROR"
      ],
      "type": "string"
    },
    "LoggingOptions": {
      "documentation": "<p>Information about logging options.</p>",
      "members": {
        "enabled": {
          "documentation": "<p>If true, logging is enabled for AWS IoT Analytics.</p>",
          "shape": "LoggingEnabled"
        },
        "level": {
          "documentation": "<p>The logging level. Currently, only \"ERROR\" is supported.</p>",
          "shape": "LoggingLevel"
        },
        "roleArn": {
          "documentation": "<p>The ARN of the role that grants permission to AWS IoT Analytics to perform logging.</p>",
          "shape": "RoleArn"
        }
      },
      "required": [
        "roleArn",
        "level",
        "enabled"
      ],
      "type": "structure"
    },
    "MathActivity": {
      "documentation": "<p>An activity that computes an arithmetic expression using the message's attributes.</p>",
      "members": {
        "attribute": {
          "documentation": "<p>The name of the attribute that contains the result of the math operation.</p>",
          "shape": "AttributeName"
        },
        "math": {
          "documentation": "<p>An expression that uses one or more existing attributes and must return an integer value.</p>",
          "shape": "MathExpression"
        },
        "name": {
          "documentation": "<p>The name of the 'math' activity.</p>",
          "shape": "ActivityName"
        },
        "next": {
          "documentation": "<p>The next activity in the pipeline.</p>",
          "shape": "ActivityName"
        }
      },
      "required": [
        "name",
        "attribute",
        "math"
      ],
      "type": "structure"
    },
    "MathExpression": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "MaxMessages": {
      "max": 10,
      "min": 1,
      "type": "integer"
    },
    "MaxResults": {
      "max": 250,
      "min": 1,
      "type": "integer"
    },
    "MaxVersions": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "Message": {
      "documentation": "<p>Information about a message.</p>",
      "members": {
        "messageId": {
          "documentation": "<p>The ID you wish to assign to the message. Each \"messageId\" must be unique within each batch sent.</p>",
          "shape": "MessageId"
        },
        "payload": {
          "documentation": "<p>The payload of the message. This may be a JSON string or a Base64-encoded string representing binary data (in which case you must decode it by means of a pipeline activity).</p>",
          "shape": "MessagePayload"
        }
      },
      "required": [
        "messageId",
        "payload"
      ],
      "type": "structure"
    },
    "MessageId": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "MessagePayload": {
      "type": "blob"
    },
    "MessagePayloads": {
      "max": 10,
      "member": {
        "shape": "MessagePayload"
      },
      "min": 1,
      "type": "list"
    },
    "Messages": {
      "member": {
        "shape": "Message"
      },
      "type": "list"
    },
    "NextToken": {
      "type": "string"
    },
    "OffsetSeconds": {
      "type": "integer"
    },
    "OutputFileName": {
      "pattern": "[\\w\\.-]{1,255}",
      "type": "string"
    },
    "OutputFileUriValue": {
      "documentation": "<p>The value of the variable as a structure that specifies an output file URI.</p>",
      "members": {
        "fileName": {
          "documentation": "<p>The URI of the location where data set contents are stored, usually the URI of a file in an S3 bucket.</p>",
          "shape": "OutputFileName"
        }
      },
      "required": [
        "fileName"
      ],
      "type": "structure"
    },
    "Pipeline": {
      "documentation": "<p>Contains information about a pipeline.</p>",
      "members": {
        "activities": {
          "documentation": "<p>The activities that perform transformations on the messages.</p>",
          "shape": "PipelineActivities"
        },
        "arn": {
          "documentation": "<p>The ARN of the pipeline.</p>",
          "shape": "PipelineArn"
        },
        "creationTime": {
          "documentation": "<p>When the pipeline was created.</p>",
          "shape": "Timestamp"
        },
        "lastUpdateTime": {
          "documentation": "<p>The last time the pipeline was updated.</p>",
          "shape": "Timestamp"
        },
        "name": {
          "documentation": "<p>The name of the pipeline.</p>",
          "shape": "PipelineName"
        },
        "reprocessingSummaries": {
          "documentation": "<p>A summary of information about the pipeline reprocessing.</p>",
          "shape": "ReprocessingSummaries"
        }
      },
      "type": "structure"
    },
    "PipelineActivities": {
      "max": 25,
      "member": {
        "shape": "PipelineActivity"
      },
      "min": 1,
      "type": "list"
    },
    "PipelineActivity": {
      "documentation": "<p>An activity that performs a transformation on a message.</p>",
      "members": {
        "addAttributes": {
          "documentation": "<p>Adds other attributes based on existing attributes in the message.</p>",
          "shape": "AddAttributesActivity"
        },
        "channel": {
          "documentation": "<p>Determines the source of the messages to be processed.</p>",
          "shape": "ChannelActivity"
        },
        "datastore": {
          "documentation": "<p>Specifies where to store the processed message data.</p>",
          "shape": "DatastoreActivity"
        },
        "deviceRegistryEnrich": {
          "documentation": "<p>Adds data from the AWS IoT device registry to your message.</p>",
          "shape": "DeviceRegistryEnrichActivity"
        },
        "deviceShadowEnrich": {
          "documentation": "<p>Adds information from the AWS IoT Device Shadows service to a message.</p>",
          "shape": "DeviceShadowEnrichActivity"
        },
        "filter": {
          "documentation": "<p>Filters a message based on its attributes.</p>",
          "shape": "FilterActivity"
        },
        "lambda": {
          "documentation": "<p>Runs a Lambda function to modify the message.</p>",
          "shape": "LambdaActivity"
        },
        "math": {
          "documentation": "<p>Computes an arithmetic expression using the message's attributes and adds it to the message.</p>",
          "shape": "MathActivity"
        },
        "removeAttributes": {
          "documentation": "<p>Removes attributes from a message.</p>",
          "shape": "RemoveAttributesActivity"
        },
        "selectAttributes": {
          "documentation": "<p>Creates a new message using only the specified attributes from the original message. </p>",
          "shape": "SelectAttributesActivity"
        }
      },
      "type": "structure"
    },
    "PipelineArn": {
      "type": "string"
    },
[...]
