{
  "documentation": "<fullname>AWS Glue</fullname> <p>Defines the public endpoint for the AWS Glue service.</p>",
  "metadata": {
    "apiVersion": "2017-03-31",
    "endpointPrefix": "glue",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Glue",
    "serviceId": "Glue",
    "signatureVersion": "v4",
    "targetPrefix": "AWSGlue",
    "uid": "glue-2017-03-31"
  },
  "operations": {
    "BatchCreatePartition": {
      "documentation": "<p>Creates one or more partitions in a batch operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchCreatePartitionRequest"
      },
      "name": "BatchCreatePartition",
      "output": {
        "shape": "BatchCreatePartitionResponse"
      }
    },
    "BatchDeleteConnection": {
      "documentation": "<p>Deletes a list of connection definitions from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteConnectionRequest"
      },
      "name": "BatchDeleteConnection",
      "output": {
        "shape": "BatchDeleteConnectionResponse"
      }
    },
    "BatchDeletePartition": {
      "documentation": "<p>Deletes one or more partitions in a batch operation.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeletePartitionRequest"
      },
      "name": "BatchDeletePartition",
      "output": {
        "shape": "BatchDeletePartitionResponse"
      }
    },
    "BatchDeleteTable": {
      "documentation": "<p>Deletes multiple tables at once.</p> <note> <p>After completing this operation, you no longer have access to the table versions and partitions that belong to the deleted table. AWS Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure the immediate deletion of all related resources, before calling <code>BatchDeleteTable</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or <code>BatchDeletePartition</code>, to delete any resources that belong to the table.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteTableRequest"
      },
      "name": "BatchDeleteTable",
      "output": {
        "shape": "BatchDeleteTableResponse"
      }
    },
    "BatchDeleteTableVersion": {
      "documentation": "<p>Deletes a specified batch of versions of a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteTableVersionRequest"
      },
      "name": "BatchDeleteTableVersion",
      "output": {
        "shape": "BatchDeleteTableVersionResponse"
      }
    },
    "BatchGetCrawlers": {
      "documentation": "<p>Returns a list of resource metadata for a given list of crawler names. After calling the <code>ListCrawlers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetCrawlersRequest"
      },
      "name": "BatchGetCrawlers",
      "output": {
        "shape": "BatchGetCrawlersResponse"
      }
    },
    "BatchGetDevEndpoints": {
      "documentation": "<p>Returns a list of resource metadata for a given list of development endpoint names. After calling the <code>ListDevEndpoints</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetDevEndpointsRequest"
      },
      "name": "BatchGetDevEndpoints",
      "output": {
        "shape": "BatchGetDevEndpointsResponse"
      }
    },
    "BatchGetJobs": {
      "documentation": "<p>Returns a list of resource metadata for a given list of job names. After calling the <code>ListJobs</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetJobsRequest"
      },
      "name": "BatchGetJobs",
      "output": {
        "shape": "BatchGetJobsResponse"
      }
    },
    "BatchGetPartition": {
      "documentation": "<p>Retrieves partitions in a batch request.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetPartitionRequest"
      },
      "name": "BatchGetPartition",
      "output": {
        "shape": "BatchGetPartitionResponse"
      }
    },
    "BatchGetTriggers": {
      "documentation": "<p>Returns a list of resource metadata for a given list of trigger names. After calling the <code>ListTriggers</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetTriggersRequest"
      },
      "name": "BatchGetTriggers",
      "output": {
        "shape": "BatchGetTriggersResponse"
      }
    },
    "BatchGetWorkflows": {
      "documentation": "<p>Returns a list of resource metadata for a given list of workflow names. After calling the <code>ListWorkflows</code> operation, you can call this operation to access the data to which you have been granted permissions. This operation supports all IAM permissions, including permission conditions that uses tags.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchGetWorkflowsRequest"
      },
      "name": "BatchGetWorkflows",
      "output": {
        "shape": "BatchGetWorkflowsResponse"
      }
    },
    "BatchStopJobRun": {
      "documentation": "<p>Stops one or more job runs for a specified job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchStopJobRunRequest"
      },
      "name": "BatchStopJobRun",
      "output": {
        "shape": "BatchStopJobRunResponse"
      }
    },
    "CancelMLTaskRun": {
      "documentation": "<p>Cancels (stops) a task run. Machine learning task runs are asynchronous tasks that AWS Glue runs on your behalf as part of various machine learning workflows. You can cancel a machine learning task run at any time by calling <code>CancelMLTaskRun</code> with a task run's parent transform's <code>TransformID</code> and the task run's <code>TaskRunId</code>. </p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelMLTaskRunRequest"
      },
      "name": "CancelMLTaskRun",
      "output": {
        "shape": "CancelMLTaskRunResponse"
      }
    },
    "CreateClassifier": {
      "documentation": "<p>Creates a classifier in the user's account. This can be a <code>GrokClassifier</code>, an <code>XMLClassifier</code>, a <code>JsonClassifier</code>, or a <code>CsvClassifier</code>, depending on which field of the request is present.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateClassifierRequest"
      },
      "name": "CreateClassifier",
      "output": {
        "shape": "CreateClassifierResponse"
      }
    },
    "CreateConnection": {
      "documentation": "<p>Creates a connection definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConnectionRequest"
      },
      "name": "CreateConnection",
      "output": {
        "shape": "CreateConnectionResponse"
      }
    },
    "CreateCrawler": {
      "documentation": "<p>Creates a new crawler with specified targets, role, configuration, and optional schedule. At least one crawl target must be specified, in the <code>s3Targets</code> field, the <code>jdbcTargets</code> field, or the <code>DynamoDBTargets</code> field.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCrawlerRequest"
      },
      "name": "CreateCrawler",
      "output": {
        "shape": "CreateCrawlerResponse"
      }
    },
    "CreateDatabase": {
      "documentation": "<p>Creates a new database in a Data Catalog.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDatabaseRequest"
      },
      "name": "CreateDatabase",
      "output": {
        "shape": "CreateDatabaseResponse"
      }
    },
    "CreateDevEndpoint": {
      "documentation": "<p>Creates a new development endpoint.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDevEndpointRequest"
      },
      "name": "CreateDevEndpoint",
      "output": {
        "shape": "CreateDevEndpointResponse"
      }
    },
    "CreateJob": {
      "documentation": "<p>Creates a new job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateJobRequest"
      },
      "name": "CreateJob",
      "output": {
        "shape": "CreateJobResponse"
      }
    },
    "CreateMLTransform": {
      "documentation": "<p>Creates an AWS Glue machine learning transform. This operation creates the transform and all the necessary parameters to train it.</p> <p>Call this operation as the first step in the process of using a machine learning transform (such as the <code>FindMatches</code> transform) for deduplicating data. You can provide an optional <code>Description</code>, in addition to the parameters that you want to use for your algorithm.</p> <p>You must also specify certain parameters for the tasks that AWS Glue runs on your behalf as part of learning from your data and creating a high-quality machine learning transform. These parameters include <code>Role</code>, and optionally, <code>AllocatedCapacity</code>, <code>Timeout</code>, and <code>MaxRetries</code>. For more information, see <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-jobs-job.html\">Jobs</a>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateMLTransformRequest"
      },
      "name": "CreateMLTransform",
      "output": {
        "shape": "CreateMLTransformResponse"
      }
    },
    "CreatePartition": {
      "documentation": "<p>Creates a new partition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePartitionRequest"
      },
      "name": "CreatePartition",
      "output": {
        "shape": "CreatePartitionResponse"
      }
    },
    "CreateScript": {
      "documentation": "<p>Transforms a directed acyclic graph (DAG) into code.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateScriptRequest"
      },
      "name": "CreateScript",
      "output": {
        "shape": "CreateScriptResponse"
      }
    },
    "CreateSecurityConfiguration": {
      "documentation": "<p>Creates a new security configuration. A security configuration is a set of security properties that can be used by AWS Glue. You can use a security configuration to encrypt data at rest. For information about using security configurations in AWS Glue, see <a href=\"https://docs.aws.amazon.com/glue/latest/dg/encryption-security-configuration.html\">Encrypting Data Written by Crawlers, Jobs, and Development Endpoints</a>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSecurityConfigurationRequest"
      },
      "name": "CreateSecurityConfiguration",
      "output": {
        "shape": "CreateSecurityConfigurationResponse"
      }
    },
    "CreateTable": {
      "documentation": "<p>Creates a new table definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTableRequest"
      },
      "name": "CreateTable",
      "output": {
        "shape": "CreateTableResponse"
      }
    },
    "CreateTrigger": {
      "documentation": "<p>Creates a new trigger.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "IdempotentParameterMismatchException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTriggerRequest"
      },
      "name": "CreateTrigger",
      "output": {
        "shape": "CreateTriggerResponse"
      }
    },
    "CreateUserDefinedFunction": {
      "documentation": "<p>Creates a new function definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserDefinedFunctionRequest"
      },
      "name": "CreateUserDefinedFunction",
      "output": {
        "shape": "CreateUserDefinedFunctionResponse"
      }
    },
    "CreateWorkflow": {
      "documentation": "<p>Creates a new workflow.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateWorkflowRequest"
      },
      "name": "CreateWorkflow",
      "output": {
        "shape": "CreateWorkflowResponse"
      }
    },
    "DeleteClassifier": {
      "documentation": "<p>Removes a classifier from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteClassifierRequest"
      },
      "name": "DeleteClassifier",
      "output": {
        "shape": "DeleteClassifierResponse"
      }
    },
    "DeleteConnection": {
      "documentation": "<p>Deletes a connection from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConnectionRequest"
      },
      "name": "DeleteConnection",
      "output": {
        "shape": "DeleteConnectionResponse"
      }
    },
    "DeleteCrawler": {
      "documentation": "<p>Removes a specified crawler from the AWS Glue Data Catalog, unless the crawler state is <code>RUNNING</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "CrawlerRunningException"
        },
        {
          "shape": "SchedulerTransitioningException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCrawlerRequest"
      },
      "name": "DeleteCrawler",
      "output": {
        "shape": "DeleteCrawlerResponse"
      }
    },
    "DeleteDatabase": {
      "documentation": "<p>Removes a specified database from a Data Catalog.</p> <note> <p>After completing this operation, you no longer have access to the tables (and all table versions and partitions that might belong to the tables) and the user-defined functions in the deleted database. AWS Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure the immediate deletion of all related resources, before calling <code>DeleteDatabase</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, <code>DeletePartition</code> or <code>BatchDeletePartition</code>, <code>DeleteUserDefinedFunction</code>, and <code>DeleteTable</code> or <code>BatchDeleteTable</code>, to delete any resources that belong to the database.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDatabaseRequest"
      },
      "name": "DeleteDatabase",
      "output": {
        "shape": "DeleteDatabaseResponse"
      }
    },
    "DeleteDevEndpoint": {
      "documentation": "<p>Deletes a specified development endpoint.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDevEndpointRequest"
      },
      "name": "DeleteDevEndpoint",
      "output": {
        "shape": "DeleteDevEndpointResponse"
      }
    },
    "DeleteJob": {
      "documentation": "<p>Deletes a specified job definition. If the job definition is not found, no exception is thrown.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteJobRequest"
      },
      "name": "DeleteJob",
      "output": {
        "shape": "DeleteJobResponse"
      }
    },
    "DeleteMLTransform": {
      "documentation": "<p>Deletes an AWS Glue machine learning transform. Machine learning transforms are a special type of transform that use machine learning to learn the details of the transformation to be performed by learning from examples provided by humans. These transformations are then saved by AWS Glue. If you no longer need a transform, you can delete it by calling <code>DeleteMLTransforms</code>. However, any AWS Glue jobs that still reference the deleted transform will no longer succeed.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteMLTransformRequest"
      },
      "name": "DeleteMLTransform",
      "output": {
        "shape": "DeleteMLTransformResponse"
      }
    },
    "DeletePartition": {
      "documentation": "<p>Deletes a specified partition.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePartitionRequest"
      },
      "name": "DeletePartition",
      "output": {
        "shape": "DeletePartitionResponse"
      }
    },
    "DeleteResourcePolicy": {
      "documentation": "<p>Deletes a specified policy.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ConditionCheckFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteResourcePolicyRequest"
      },
      "name": "DeleteResourcePolicy",
      "output": {
        "shape": "DeleteResourcePolicyResponse"
      }
    },
    "DeleteSecurityConfiguration": {
      "documentation": "<p>Deletes a specified security configuration.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSecurityConfigurationRequest"
      },
      "name": "DeleteSecurityConfiguration",
      "output": {
        "shape": "DeleteSecurityConfigurationResponse"
      }
    },
    "DeleteTable": {
      "documentation": "<p>Removes a table definition from the Data Catalog.</p> <note> <p>After completing this operation, you no longer have access to the table versions and partitions that belong to the deleted table. AWS Glue deletes these \"orphaned\" resources asynchronously in a timely manner, at the discretion of the service.</p> <p>To ensure the immediate deletion of all related resources, before calling <code>DeleteTable</code>, use <code>DeleteTableVersion</code> or <code>BatchDeleteTableVersion</code>, and <code>DeletePartition</code> or <code>BatchDeletePartition</code>, to delete any resources that belong to the table.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTableRequest"
      },
      "name": "DeleteTable",
      "output": {
        "shape": "DeleteTableResponse"
      }
    },
    "DeleteTableVersion": {
      "documentation": "<p>Deletes a specified version of a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTableVersionRequest"
      },
      "name": "DeleteTableVersion",
      "output": {
        "shape": "DeleteTableVersionResponse"
      }
    },
    "DeleteTrigger": {
      "documentation": "<p>Deletes a specified trigger. If the trigger is not found, no exception is thrown.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTriggerRequest"
      },
      "name": "DeleteTrigger",
      "output": {
        "shape": "DeleteTriggerResponse"
      }
    },
    "DeleteUserDefinedFunction": {
      "documentation": "<p>Deletes an existing function definition from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserDefinedFunctionRequest"
      },
      "name": "DeleteUserDefinedFunction",
      "output": {
        "shape": "DeleteUserDefinedFunctionResponse"
      }
    },
    "DeleteWorkflow": {
      "documentation": "<p>Deletes a workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteWorkflowRequest"
      },
      "name": "DeleteWorkflow",
      "output": {
        "shape": "DeleteWorkflowResponse"
      }
    },
    "GetCatalogImportStatus": {
      "documentation": "<p>Retrieves the status of a migration operation.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCatalogImportStatusRequest"
      },
      "name": "GetCatalogImportStatus",
      "output": {
        "shape": "GetCatalogImportStatusResponse"
      }
    },
    "GetClassifier": {
      "documentation": "<p>Retrieve a classifier by name.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetClassifierRequest"
      },
      "name": "GetClassifier",
      "output": {
        "shape": "GetClassifierResponse"
      }
    },
    "GetClassifiers": {
      "documentation": "<p>Lists all classifier objects in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetClassifiersRequest"
      },
      "name": "GetClassifiers",
      "output": {
        "shape": "GetClassifiersResponse"
      }
    },
    "GetConnection": {
      "documentation": "<p>Retrieves a connection definition from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectionRequest"
      },
      "name": "GetConnection",
      "output": {
        "shape": "GetConnectionResponse"
      }
    },
    "GetConnections": {
      "documentation": "<p>Retrieves a list of connection definitions from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetConnectionsRequest"
      },
      "name": "GetConnections",
      "output": {
        "shape": "GetConnectionsResponse"
      }
    },
    "GetCrawler": {
      "documentation": "<p>Retrieves metadata for a specified crawler.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCrawlerRequest"
      },
      "name": "GetCrawler",
      "output": {
        "shape": "GetCrawlerResponse"
      }
    },
    "GetCrawlerMetrics": {
      "documentation": "<p>Retrieves metrics about specified crawlers.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCrawlerMetricsRequest"
      },
      "name": "GetCrawlerMetrics",
      "output": {
        "shape": "GetCrawlerMetricsResponse"
      }
    },
    "GetCrawlers": {
      "documentation": "<p>Retrieves metadata for all crawlers defined in the customer account.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCrawlersRequest"
      },
      "name": "GetCrawlers",
      "output": {
        "shape": "GetCrawlersResponse"
      }
    },
    "GetDataCatalogEncryptionSettings": {
      "documentation": "<p>Retrieves the security configuration for a specified catalog.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDataCatalogEncryptionSettingsRequest"
      },
      "name": "GetDataCatalogEncryptionSettings",
      "output": {
        "shape": "GetDataCatalogEncryptionSettingsResponse"
      }
    },
    "GetDatabase": {
      "documentation": "<p>Retrieves the definition of a specified database.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDatabaseRequest"
      },
      "name": "GetDatabase",
      "output": {
        "shape": "GetDatabaseResponse"
      }
    },
    "GetDatabases": {
      "documentation": "<p>Retrieves all databases defined in a given Data Catalog.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDatabasesRequest"
      },
      "name": "GetDatabases",
      "output": {
        "shape": "GetDatabasesResponse"
      }
    },
    "GetDataflowGraph": {
      "documentation": "<p>Transforms a Python script into a directed acyclic graph (DAG). </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDataflowGraphRequest"
      },
      "name": "GetDataflowGraph",
      "output": {
        "shape": "GetDataflowGraphResponse"
      }
    },
    "GetDevEndpoint": {
      "documentation": "<p>Retrieves information about a specified development endpoint.</p> <note> <p>When you create a development endpoint in a virtual private cloud (VPC), AWS Glue returns only a private IP address, and the public IP address field is not populated. When you create a non-VPC development endpoint, AWS Glue returns only a public IP address.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDevEndpointRequest"
      },
      "name": "GetDevEndpoint",
      "output": {
        "shape": "GetDevEndpointResponse"
      }
    },
    "GetDevEndpoints": {
      "documentation": "<p>Retrieves all the development endpoints in this AWS account.</p> <note> <p>When you create a development endpoint in a virtual private cloud (VPC), AWS Glue returns only a private IP address and the public IP address field is not populated. When you create a non-VPC development endpoint, AWS Glue returns only a public IP address.</p> </note>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDevEndpointsRequest"
      },
      "name": "GetDevEndpoints",
      "output": {
        "shape": "GetDevEndpointsResponse"
      }
    },
    "GetJob": {
      "documentation": "<p>Retrieves an existing job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRequest"
      },
      "name": "GetJob",
      "output": {
        "shape": "GetJobResponse"
      }
    },
    "GetJobBookmark": {
      "documentation": "<p>Returns information on a job bookmark entry.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobBookmarkRequest"
      },
      "name": "GetJobBookmark",
      "output": {
        "shape": "GetJobBookmarkResponse"
      }
    },
    "GetJobRun": {
      "documentation": "<p>Retrieves the metadata for a given job run.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRunRequest"
      },
      "name": "GetJobRun",
      "output": {
        "shape": "GetJobRunResponse"
      }
    },
    "GetJobRuns": {
      "documentation": "<p>Retrieves metadata for all runs of a given job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobRunsRequest"
      },
      "name": "GetJobRuns",
      "output": {
        "shape": "GetJobRunsResponse"
      }
    },
    "GetJobs": {
      "documentation": "<p>Retrieves all current job definitions.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetJobsRequest"
      },
      "name": "GetJobs",
      "output": {
        "shape": "GetJobsResponse"
      }
    },
    "GetMLTaskRun": {
      "documentation": "<p>Gets details for a specific task run on a machine learning transform. Machine learning task runs are asynchronous tasks that AWS Glue runs on your behalf as part of various machine learning workflows. You can check the stats of any task run by calling <code>GetMLTaskRun</code> with the <code>TaskRunID</code> and its parent transform's <code>TransformID</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTaskRunRequest"
      },
      "name": "GetMLTaskRun",
      "output": {
        "shape": "GetMLTaskRunResponse"
      }
    },
    "GetMLTaskRuns": {
      "documentation": "<p>Gets a list of runs for a machine learning transform. Machine learning task runs are asynchronous tasks that AWS Glue runs on your behalf as part of various machine learning workflows. You can get a sortable, filterable list of machine learning task runs by calling <code>GetMLTaskRuns</code> with their parent transform's <code>TransformID</code> and other optional parameters as documented in this section.</p> <p>This operation returns a list of historic runs and must be paginated.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTaskRunsRequest"
      },
      "name": "GetMLTaskRuns",
      "output": {
        "shape": "GetMLTaskRunsResponse"
      }
    },
    "GetMLTransform": {
      "documentation": "<p>Gets an AWS Glue machine learning transform artifact and all its corresponding metadata. Machine learning transforms are a special type of transform that use machine learning to learn the details of the transformation to be performed by learning from examples provided by humans. These transformations are then saved by AWS Glue. You can retrieve their metadata by calling <code>GetMLTransform</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTransformRequest"
      },
      "name": "GetMLTransform",
      "output": {
        "shape": "GetMLTransformResponse"
      }
    },
    "GetMLTransforms": {
      "documentation": "<p>Gets a sortable, filterable list of existing AWS Glue machine learning transforms. Machine learning transforms are a special type of transform that use machine learning to learn the details of the transformation to be performed by learning from examples provided by humans. These transformations are then saved by AWS Glue, and you can retrieve their metadata by calling <code>GetMLTransforms</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMLTransformsRequest"
      },
      "name": "GetMLTransforms",
      "output": {
        "shape": "GetMLTransformsResponse"
      }
    },
    "GetMapping": {
      "documentation": "<p>Creates mappings.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetMappingRequest"
      },
      "name": "GetMapping",
      "output": {
        "shape": "GetMappingResponse"
      }
    },
    "GetPartition": {
      "documentation": "<p>Retrieves information about a specified partition.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPartitionRequest"
      },
      "name": "GetPartition",
      "output": {
        "shape": "GetPartitionResponse"
      }
    },
    "GetPartitions": {
      "documentation": "<p>Retrieves information about the partitions in a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPartitionsRequest"
      },
      "name": "GetPartitions",
      "output": {
        "shape": "GetPartitionsResponse"
      }
    },
    "GetPlan": {
      "documentation": "<p>Gets code to perform a specified mapping.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPlanRequest"
      },
      "name": "GetPlan",
      "output": {
        "shape": "GetPlanResponse"
      }
    },
    "GetResourcePolicy": {
      "documentation": "<p>Retrieves a specified resource policy.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetResourcePolicyRequest"
      },
      "name": "GetResourcePolicy",
      "output": {
        "shape": "GetResourcePolicyResponse"
      }
    },
    "GetSecurityConfiguration": {
      "documentation": "<p>Retrieves a specified security configuration.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSecurityConfigurationRequest"
      },
      "name": "GetSecurityConfiguration",
      "output": {
        "shape": "GetSecurityConfigurationResponse"
      }
    },
    "GetSecurityConfigurations": {
      "documentation": "<p>Retrieves a list of all security configurations.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSecurityConfigurationsRequest"
      },
      "name": "GetSecurityConfigurations",
      "output": {
        "shape": "GetSecurityConfigurationsResponse"
      }
    },
    "GetTable": {
      "documentation": "<p>Retrieves the <code>Table</code> definition in a Data Catalog for a specified table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableRequest"
      },
      "name": "GetTable",
      "output": {
        "shape": "GetTableResponse"
      }
    },
    "GetTableVersion": {
      "documentation": "<p>Retrieves a specified version of a table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableVersionRequest"
      },
      "name": "GetTableVersion",
      "output": {
        "shape": "GetTableVersionResponse"
      }
    },
    "GetTableVersions": {
      "documentation": "<p>Retrieves a list of strings that identify available versions of a specified table.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTableVersionsRequest"
      },
      "name": "GetTableVersions",
      "output": {
        "shape": "GetTableVersionsResponse"
      }
    },
    "GetTables": {
      "documentation": "<p>Retrieves the definitions of some or all of the tables in a given <code>Database</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTablesRequest"
      },
      "name": "GetTables",
      "output": {
        "shape": "GetTablesResponse"
      }
    },
    "GetTags": {
      "documentation": "<p>Retrieves a list of tags associated with a resource.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "shape": "GetTagsResponse"
      }
    },
    "GetTrigger": {
      "documentation": "<p>Retrieves the definition of a trigger.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTriggerRequest"
      },
      "name": "GetTrigger",
      "output": {
        "shape": "GetTriggerResponse"
      }
    },
    "GetTriggers": {
      "documentation": "<p>Gets all the triggers associated with a job.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTriggersRequest"
      },
      "name": "GetTriggers",
      "output": {
        "shape": "GetTriggersResponse"
      }
    },
    "GetUserDefinedFunction": {
      "documentation": "<p>Retrieves a specified function definition from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserDefinedFunctionRequest"
      },
      "name": "GetUserDefinedFunction",
      "output": {
        "shape": "GetUserDefinedFunctionResponse"
      }
    },
    "GetUserDefinedFunctions": {
      "documentation": "<p>Retrieves multiple function definitions from the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserDefinedFunctionsRequest"
      },
      "name": "GetUserDefinedFunctions",
      "output": {
        "shape": "GetUserDefinedFunctionsResponse"
      }
    },
    "GetWorkflow": {
      "documentation": "<p>Retrieves resource metadata for a workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRequest"
      },
      "name": "GetWorkflow",
      "output": {
        "shape": "GetWorkflowResponse"
      }
    },
    "GetWorkflowRun": {
      "documentation": "<p>Retrieves the metadata for a given workflow run. </p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRunRequest"
      },
      "name": "GetWorkflowRun",
      "output": {
        "shape": "GetWorkflowRunResponse"
      }
    },
    "GetWorkflowRunProperties": {
      "documentation": "<p>Retrieves the workflow run properties which were set during the run.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRunPropertiesRequest"
      },
      "name": "GetWorkflowRunProperties",
      "output": {
        "shape": "GetWorkflowRunPropertiesResponse"
      }
    },
    "GetWorkflowRuns": {
      "documentation": "<p>Retrieves metadata for all runs of a given workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetWorkflowRunsRequest"
      },
      "name": "GetWorkflowRuns",
      "output": {
        "shape": "GetWorkflowRunsResponse"
      }
    },
    "ImportCatalogToGlue": {
      "documentation": "<p>Imports an existing Amazon Athena Data Catalog to AWS Glue</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportCatalogToGlueRequest"
      },
      "name": "ImportCatalogToGlue",
      "output": {
        "shape": "ImportCatalogToGlueResponse"
      }
    },
    "ListCrawlers": {
      "documentation": "<p>Retrieves the names of all crawler resources in this AWS account, or the resources with the specified tag. This operation allows you to see which resources are available in your account, and their names.</p> <p>This operation takes the optional <code>Tags</code> field, which you can use as a filter on the response so that tagged resources can be retrieved as a group. If you choose to use tags filtering, only resources with the tag are retrieved.</p>",
      "errors": [
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCrawlersRequest"
      },
      "name": "ListCrawlers",
      "output": {
        "shape": "ListCrawlersResponse"
      }
    },
    "ListDevEndpoints": {
      "documentation": "<p>Retrieves the names of all <code>DevEndpoint</code> resources in this AWS account, or the resources with the specified tag. This operation allows you to see which resources are available in your account, and their names.</p> <p>This operation takes the optional <code>Tags</code> field, which you can use as a filter on the response so that tagged resources can be retrieved as a group. If you choose to use tags filtering, only resources with the tag are retrieved.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListDevEndpointsRequest"
      },
      "name": "ListDevEndpoints",
      "output": {
        "shape": "ListDevEndpointsResponse"
      }
    },
    "ListJobs": {
      "documentation": "<p>Retrieves the names of all job resources in this AWS account, or the resources with the specified tag. This operation allows you to see which resources are available in your account, and their names.</p> <p>This operation takes the optional <code>Tags</code> field, which you can use as a filter on the response so that tagged resources can be retrieved as a group. If you choose to use tags filtering, only resources with the tag are retrieved.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListJobsRequest"
      },
      "name": "ListJobs",
      "output": {
        "shape": "ListJobsResponse"
      }
    },
    "ListMLTransforms": {
      "documentation": "<p> Retrieves a sortable, filterable list of existing AWS Glue machine learning transforms in this AWS account, or the resources with the specified tag. This operation takes the optional <code>Tags</code> field, which you can use as a filter of the responses so that tagged resources can be retrieved as a group. If you choose to use tag filtering, only resources with the tags are retrieved. </p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListMLTransformsRequest"
      },
      "name": "ListMLTransforms",
      "output": {
        "shape": "ListMLTransformsResponse"
      }
    },
    "ListTriggers": {
      "documentation": "<p>Retrieves the names of all trigger resources in this AWS account, or the resources with the specified tag. This operation allows you to see which resources are available in your account, and their names.</p> <p>This operation takes the optional <code>Tags</code> field, which you can use as a filter on the response so that tagged resources can be retrieved as a group. If you choose to use tags filtering, only resources with the tag are retrieved.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTriggersRequest"
      },
      "name": "ListTriggers",
      "output": {
        "shape": "ListTriggersResponse"
      }
    },
    "ListWorkflows": {
      "documentation": "<p>Lists names of workflows created in the account.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListWorkflowsRequest"
      },
      "name": "ListWorkflows",
      "output": {
        "shape": "ListWorkflowsResponse"
      }
    },
    "PutDataCatalogEncryptionSettings": {
      "documentation": "<p>Sets the security configuration for a specified catalog. After the configuration has been set, the specified encryption is applied to every catalog write thereafter.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutDataCatalogEncryptionSettingsRequest"
      },
      "name": "PutDataCatalogEncryptionSettings",
      "output": {
        "shape": "PutDataCatalogEncryptionSettingsResponse"
      }
    },
    "PutResourcePolicy": {
      "documentation": "<p>Sets the Data Catalog resource policy for access control.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ConditionCheckFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutResourcePolicyRequest"
      },
      "name": "PutResourcePolicy",
      "output": {
        "shape": "PutResourcePolicyResponse"
      }
    },
    "PutWorkflowRunProperties": {
      "documentation": "<p>Puts the specified workflow run properties for the given workflow run. If a property already exists for the specified run, then it overrides the value otherwise adds the property to existing properties.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutWorkflowRunPropertiesRequest"
      },
      "name": "PutWorkflowRunProperties",
      "output": {
        "shape": "PutWorkflowRunPropertiesResponse"
      }
    },
    "ResetJobBookmark": {
      "documentation": "<p>Resets a bookmark entry.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ResetJobBookmarkRequest"
      },
      "name": "ResetJobBookmark",
      "output": {
        "shape": "ResetJobBookmarkResponse"
      }
    },
    "SearchTables": {
      "documentation": "<p>Searches a set of tables based on properties in the table metadata as well as on the parent database. You can search against text or filter conditions. </p> <p>You can only get tables that you have access to based on the security policies defined in Lake Formation. You need at least a read-only access to the table for it to be returned. If you do not have access to all the columns in the table, these columns will not be searched against when returning the list of tables back to you. If you have access to the columns but not the data in the columns, those columns and the associated metadata for those columns will be included in the search. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchTablesRequest"
      },
      "name": "SearchTables",
      "output": {
        "shape": "SearchTablesResponse"
      }
    },
    "StartCrawler": {
      "documentation": "<p>Starts a crawl using the specified crawler, regardless of what is scheduled. If the crawler is already running, returns a <a href=\"https://docs.aws.amazon.com/glue/latest/dg/aws-glue-api-exceptions.html#aws-glue-api-exceptions-CrawlerRunningException\">CrawlerRunningException</a>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "CrawlerRunningException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartCrawlerRequest"
      },
      "name": "StartCrawler",
      "output": {
        "shape": "StartCrawlerResponse"
      }
    },
    "StartCrawlerSchedule": {
      "documentation": "<p>Changes the schedule state of the specified crawler to <code>SCHEDULED</code>, unless the crawler is already running or the schedule state is already <code>SCHEDULED</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "SchedulerRunningException"
        },
        {
          "shape": "SchedulerTransitioningException"
        },
        {
          "shape": "NoScheduleException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartCrawlerScheduleRequest"
      },
      "name": "StartCrawlerSchedule",
      "output": {
        "shape": "StartCrawlerScheduleResponse"
      }
    },
    "StartExportLabelsTaskRun": {
      "documentation": "<p>Begins an asynchronous task to export all labeled data for a particular transform. This task is the only label-related API call that is not part of the typical active learning workflow. You typically use <code>StartExportLabelsTaskRun</code> when you want to work with all of your existing labels at the same time, such as when you want to remove or change labels that were previously submitted as truth. This API operation accepts the <code>TransformId</code> whose labels you want to export and an Amazon Simple Storage Service (Amazon S3) path to export the labels to. The operation returns a <code>TaskRunId</code>. You can check on the status of your task run by calling the <code>GetMLTaskRun</code> API.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartExportLabelsTaskRunRequest"
      },
      "name": "StartExportLabelsTaskRun",
      "output": {
        "shape": "StartExportLabelsTaskRunResponse"
      }
    },
    "StartImportLabelsTaskRun": {
      "documentation": "<p>Enables you to provide additional labels (examples of truth) to be used to teach the machine learning transform and improve its quality. This API operation is generally used as part of the active learning workflow that starts with the <code>StartMLLabelingSetGenerationTaskRun</code> call and that ultimately results in improving the quality of your machine learning transform. </p> <p>After the <code>StartMLLabelingSetGenerationTaskRun</code> finishes, AWS Glue machine learning will have generated a series of questions for humans to answer. (Answering these questions is often called 'labeling' in the machine learning workflows). In the case of the <code>FindMatches</code> transform, these questions are of the form, \u201cWhat is the correct way to group these rows together into groups composed entirely of matching records?\u201d After the labeling process is finished, users upload their answers/labels with a call to <code>StartImportLabelsTaskRun</code>. After <code>StartImportLabelsTaskRun</code> finishes, all future runs of the machine learning transform use the new and improved labels and perform a higher-quality transformation.</p> <p>By default, <code>StartMLLabelingSetGenerationTaskRun</code> continually learns from and combines all labels that you upload unless you set <code>Replace</code> to true. If you set <code>Replace</code> to true, <code>StartImportLabelsTaskRun</code> deletes and forgets all previously uploaded labels and learns only from the exact set that you upload. Replacing labels can be helpful if you realize that you previously uploaded incorrect labels, and you believe that they are having a negative effect on your transform quality.</p> <p>You can check on the status of your task run by calling the <code>GetMLTaskRun</code> operation. </p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "InternalServiceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartImportLabelsTaskRunRequest"
      },
      "name": "StartImportLabelsTaskRun",
      "output": {
        "shape": "StartImportLabelsTaskRunResponse"
      }
    },
    "StartJobRun": {
      "documentation": "<p>Starts a job run using a job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentRunsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartJobRunRequest"
      },
      "name": "StartJobRun",
      "output": {
        "shape": "StartJobRunResponse"
      }
    },
    "StartMLEvaluationTaskRun": {
      "documentation": "<p>Starts a task to estimate the quality of the transform. </p> <p>When you provide label sets as examples of truth, AWS Glue machine learning uses some of those examples to learn from them. The rest of the labels are used as a test to estimate quality.</p> <p>Returns a unique identifier for the run. You can call <code>GetMLTaskRun</code> to get more information about the stats of the <code>EvaluationTaskRun</code>.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ConcurrentRunsExceededException"
        },
        {
          "shape": "MLTransformNotReadyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartMLEvaluationTaskRunRequest"
      },
      "name": "StartMLEvaluationTaskRun",
      "output": {
        "shape": "StartMLEvaluationTaskRunResponse"
      }
    },
    "StartMLLabelingSetGenerationTaskRun": {
      "documentation": "<p>Starts the active learning workflow for your machine learning transform to improve the transform's quality by generating label sets and adding labels.</p> <p>When the <code>StartMLLabelingSetGenerationTaskRun</code> finishes, AWS Glue will have generated a \"labeling set\" or a set of questions for humans to answer.</p> <p>In the case of the <code>FindMatches</code> transform, these questions are of the form, \u201cWhat is the correct way to group these rows together into groups composed entirely of matching records?\u201d </p> <p>After the labeling process is finished, you can upload your labels with a call to <code>StartImportLabelsTaskRun</code>. After <code>StartImportLabelsTaskRun</code> finishes, all future runs of the machine learning transform will use the new and improved labels and perform a higher-quality transformation.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ConcurrentRunsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartMLLabelingSetGenerationTaskRunRequest"
      },
      "name": "StartMLLabelingSetGenerationTaskRun",
      "output": {
        "shape": "StartMLLabelingSetGenerationTaskRunResponse"
      }
    },
    "StartTrigger": {
      "documentation": "<p>Starts an existing trigger. See <a href=\"https://docs.aws.amazon.com/glue/latest/dg/trigger-job.html\">Triggering Jobs</a> for information about how different types of trigger are started.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentRunsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartTriggerRequest"
      },
      "name": "StartTrigger",
      "output": {
        "shape": "StartTriggerResponse"
      }
    },
    "StartWorkflowRun": {
      "documentation": "<p>Starts a new run of the specified workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "ConcurrentRunsExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StartWorkflowRunRequest"
      },
      "name": "StartWorkflowRun",
      "output": {
        "shape": "StartWorkflowRunResponse"
      }
    },
    "StopCrawler": {
      "documentation": "<p>If the specified crawler is running, stops the crawl.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "CrawlerNotRunningException"
        },
        {
          "shape": "CrawlerStoppingException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopCrawlerRequest"
      },
      "name": "StopCrawler",
      "output": {
        "shape": "StopCrawlerResponse"
      }
    },
    "StopCrawlerSchedule": {
      "documentation": "<p>Sets the schedule state of the specified crawler to <code>NOT_SCHEDULED</code>, but does not stop the crawler if it is already running.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "SchedulerNotRunningException"
        },
        {
          "shape": "SchedulerTransitioningException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopCrawlerScheduleRequest"
      },
      "name": "StopCrawlerSchedule",
      "output": {
        "shape": "StopCrawlerScheduleResponse"
      }
    },
    "StopTrigger": {
      "documentation": "<p>Stops a specified trigger.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopTriggerRequest"
      },
      "name": "StopTrigger",
      "output": {
        "shape": "StopTriggerResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds tags to a resource. A tag is a label you can assign to an AWS resource. In AWS Glue, you can tag only certain resources. For information about what resources you can tag, see <a href=\"https://docs.aws.amazon.com/glue/latest/dg/monitor-tags.html\">AWS Tags in AWS Glue</a>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes tags from a resource.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "EntityNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateClassifier": {
      "documentation": "<p>Modifies an existing classifier (a <code>GrokClassifier</code>, an <code>XMLClassifier</code>, a <code>JsonClassifier</code>, or a <code>CsvClassifier</code>, depending on which field is present).</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "VersionMismatchException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateClassifierRequest"
      },
      "name": "UpdateClassifier",
      "output": {
        "shape": "UpdateClassifierResponse"
      }
    },
    "UpdateConnection": {
      "documentation": "<p>Updates a connection definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConnectionRequest"
      },
      "name": "UpdateConnection",
      "output": {
        "shape": "UpdateConnectionResponse"
      }
    },
    "UpdateCrawler": {
      "documentation": "<p>Updates a crawler. If a crawler is running, you must stop it using <code>StopCrawler</code> before updating it.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "VersionMismatchException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "CrawlerRunningException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCrawlerRequest"
      },
      "name": "UpdateCrawler",
      "output": {
        "shape": "UpdateCrawlerResponse"
      }
    },
    "UpdateCrawlerSchedule": {
      "documentation": "<p>Updates the schedule of a crawler using a <code>cron</code> expression. </p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "VersionMismatchException"
        },
        {
          "shape": "SchedulerTransitioningException"
        },
        {
          "shape": "OperationTimeoutException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCrawlerScheduleRequest"
      },
      "name": "UpdateCrawlerSchedule",
      "output": {
        "shape": "UpdateCrawlerScheduleResponse"
      }
    },
    "UpdateDatabase": {
      "documentation": "<p>Updates an existing database definition in a Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDatabaseRequest"
      },
      "name": "UpdateDatabase",
      "output": {
        "shape": "UpdateDatabaseResponse"
      }
    },
    "UpdateDevEndpoint": {
      "documentation": "<p>Updates a specified development endpoint.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDevEndpointRequest"
      },
      "name": "UpdateDevEndpoint",
      "output": {
        "shape": "UpdateDevEndpointResponse"
      }
    },
    "UpdateJob": {
      "documentation": "<p>Updates an existing job definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateJobRequest"
      },
      "name": "UpdateJob",
      "output": {
        "shape": "UpdateJobResponse"
      }
    },
    "UpdateMLTransform": {
      "documentation": "<p>Updates an existing machine learning transform. Call this operation to tune the algorithm parameters to achieve better results.</p> <p>After calling this operation, you can call the <code>StartMLEvaluationTaskRun</code> operation to assess how well your new parameters achieved your goals (such as improving the quality of your machine learning transform, or making it more cost-effective).</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateMLTransformRequest"
      },
      "name": "UpdateMLTransform",
      "output": {
        "shape": "UpdateMLTransformResponse"
      }
    },
    "UpdatePartition": {
      "documentation": "<p>Updates a partition.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePartitionRequest"
      },
      "name": "UpdatePartition",
      "output": {
        "shape": "UpdatePartitionResponse"
      }
    },
    "UpdateTable": {
      "documentation": "<p>Updates a metadata table in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ResourceNumberLimitExceededException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTableRequest"
      },
      "name": "UpdateTable",
      "output": {
        "shape": "UpdateTableResponse"
      }
    },
    "UpdateTrigger": {
      "documentation": "<p>Updates a trigger definition.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTriggerRequest"
      },
      "name": "UpdateTrigger",
      "output": {
        "shape": "UpdateTriggerResponse"
      }
    },
    "UpdateUserDefinedFunction": {
      "documentation": "<p>Updates an existing function definition in the Data Catalog.</p>",
      "errors": [
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "GlueEncryptionException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateUserDefinedFunctionRequest"
      },
      "name": "UpdateUserDefinedFunction",
      "output": {
        "shape": "UpdateUserDefinedFunctionResponse"
      }
    },
    "UpdateWorkflow": {
      "documentation": "<p>Updates an existing workflow.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityNotFoundException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "OperationTimeoutException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateWorkflowRequest"
      },
      "name": "UpdateWorkflow",
      "output": {
        "shape": "UpdateWorkflowResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>Access to a resource was denied.</p>",
      "exception": true,
      "members": {
        "Message": {
          "documentation": "<p>A message describing the problem.</p>",
          "shape": "MessageString"
        }
      },
      "type": "structure"
    },
    "Action": {
      "documentation": "<p>Defines an action to be initiated by a trigger.</p>",
      "members": {
        "Arguments": {
[...]
