{
  "documentation": "<p>Amazon EventBridge helps you to respond to state changes in your AWS resources. When your resources change state, they automatically send events into an event stream. You can create rules that match selected events in the stream and route them to targets to take action. You can also use rules to take action on a predetermined schedule. For example, you can configure rules to:</p> <ul> <li> <p>Automatically invoke an AWS Lambda function to update DNS entries when an event notifies you that Amazon EC2 instance enters the running state.</p> </li> <li> <p>Direct specific API records from AWS CloudTrail to an Amazon Kinesis data stream for detailed analysis of potential security or availability risks.</p> </li> <li> <p>Periodically invoke a built-in target to create a snapshot of an Amazon EBS volume.</p> </li> </ul> <p>For more information about the features of Amazon EventBridge, see the <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide\">Amazon EventBridge User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2015-10-07",
    "endpointPrefix": "events",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Amazon EventBridge",
    "serviceId": "EventBridge",
    "signatureVersion": "v4",
    "targetPrefix": "AWSEvents",
    "uid": "eventbridge-2015-10-07"
  },
  "operations": {
    "ActivateEventSource": {
      "documentation": "<p>Activates a partner event source that has been deactivated. Once activated, your matching event bus will start receiving events from the event source.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ActivateEventSourceRequest"
      },
      "name": "ActivateEventSource"
    },
    "CreateEventBus": {
      "documentation": "<p>Creates a new event bus within your account. This can be a custom event bus which you can use to receive events from your custom applications and services, or it can be a partner event bus which can be matched to a partner event source.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEventBusRequest"
      },
      "name": "CreateEventBus",
      "output": {
        "shape": "CreateEventBusResponse"
      }
    },
    "CreatePartnerEventSource": {
      "documentation": "<p>Called by an SaaS partner to create a partner event source. This operation is not used by AWS customers.</p> <p>Each partner event source can be used by one AWS account to create a matching partner event bus in that AWS account. A SaaS partner must create one partner event source for each AWS account that wants to receive those event types. </p> <p>A partner event source creates events based on resources within the SaaS partner's service or application.</p> <p>An AWS account that creates a partner event bus that matches the partner event source can use that event bus to receive events from the partner, and then process them using AWS Events rules and targets.</p> <p>Partner event source names follow this format:</p> <p> <code> <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i> </code> </p> <p> <i>partner_name</i> is determined during partner registration and identifies the partner to AWS customers. <i>event_namespace</i> is determined by the partner and is a way for the partner to categorize their events. <i>event_name</i> is determined by the partner, and should uniquely identify an event-generating resource within the partner system. The combination of <i>event_namespace</i> and <i>event_name</i> should help AWS customers decide whether to create an event bus to receive these events.</p>",
      "errors": [
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePartnerEventSourceRequest"
      },
      "name": "CreatePartnerEventSource",
      "output": {
        "shape": "CreatePartnerEventSourceResponse"
      }
    },
    "DeactivateEventSource": {
      "documentation": "<p>You can use this operation to temporarily stop receiving events from the specified partner event source. The matching event bus is not deleted. </p> <p>When you deactivate a partner event source, the source goes into PENDING state. If it remains in PENDING state for more than two weeks, it is deleted.</p> <p>To activate a deactivated partner event source, use <a>ActivateEventSource</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeactivateEventSourceRequest"
      },
      "name": "DeactivateEventSource"
    },
    "DeleteEventBus": {
      "documentation": "<p>Deletes the specified custom event bus or partner event bus. All rules associated with this event bus need to be deleted. You can't delete your account's default event bus.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventBusRequest"
      },
      "name": "DeleteEventBus"
    },
    "DeletePartnerEventSource": {
      "documentation": "<p>This operation is used by SaaS partners to delete a partner event source. This operation is not used by AWS customers.</p> <p>When you delete an event source, the status of the corresponding partner event bus in the AWS customer account becomes DELETED.</p> <p/>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePartnerEventSourceRequest"
      },
      "name": "DeletePartnerEventSource"
    },
    "DeleteRule": {
      "documentation": "<p>Deletes the specified rule.</p> <p>Before you can delete the rule, you must remove all targets, using <a>RemoveTargets</a>.</p> <p>When you delete a rule, incoming events might continue to match to the deleted rule. Allow a short period of time for changes to take effect.</p> <p>Managed rules are rules created and managed by another AWS service on your behalf. These rules are created by those other AWS services to support functionality in those services. You can delete these rules using the <code>Force</code> option, but you should do so only if you are sure the other service is not still using that rule.</p>",
      "errors": [
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ManagedRuleException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRuleRequest"
      },
      "name": "DeleteRule"
    },
    "DescribeEventBus": {
      "documentation": "<p>Displays details about an event bus in your account. This can include the external AWS accounts that are permitted to write events to your default event bus, and the associated policy. For custom event buses and partner event buses, it displays the name, ARN, policy, state, and creation time.</p> <p> To enable your account to receive events from other accounts on its default event bus, use <a>PutPermission</a>.</p> <p>For more information about partner event buses, see <a>CreateEventBus</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventBusRequest"
      },
      "name": "DescribeEventBus",
      "output": {
        "shape": "DescribeEventBusResponse"
      }
    },
    "DescribeEventSource": {
      "documentation": "<p>This operation lists details about a partner event source that is shared with your account.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventSourceRequest"
      },
      "name": "DescribeEventSource",
      "output": {
        "shape": "DescribeEventSourceResponse"
      }
    },
    "DescribePartnerEventSource": {
      "documentation": "<p>An SaaS partner can use this operation to list details about a partner event source that they have created. AWS customers do not use this operation. Instead, AWS customers can use <a>DescribeEventSource</a> to see details about a partner event source that is shared with them.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePartnerEventSourceRequest"
      },
      "name": "DescribePartnerEventSource",
      "output": {
        "shape": "DescribePartnerEventSourceResponse"
      }
    },
    "DescribeRule": {
      "documentation": "<p>Describes the specified rule.</p> <p>DescribeRule does not list the targets of a rule. To see the targets associated with a rule, use <a>ListTargetsByRule</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRuleRequest"
      },
      "name": "DescribeRule",
      "output": {
        "shape": "DescribeRuleResponse"
      }
    },
    "DisableRule": {
      "documentation": "<p>Disables the specified rule. A disabled rule won't match any events, and won't self-trigger if it has a schedule expression.</p> <p>When you disable a rule, incoming events might continue to match to the disabled rule. Allow a short period of time for changes to take effect.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ManagedRuleException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableRuleRequest"
      },
      "name": "DisableRule"
    },
    "EnableRule": {
      "documentation": "<p>Enables the specified rule. If the rule does not exist, the operation fails.</p> <p>When you enable a rule, incoming events might not immediately start matching to a newly enabled rule. Allow a short period of time for changes to take effect.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ManagedRuleException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableRuleRequest"
      },
      "name": "EnableRule"
    },
    "ListEventBuses": {
      "documentation": "<p>Lists all the event buses in your account, including the default event bus, custom event buses, and partner event buses.</p>",
      "errors": [
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEventBusesRequest"
      },
      "name": "ListEventBuses",
      "output": {
        "shape": "ListEventBusesResponse"
      }
    },
    "ListEventSources": {
      "documentation": "<p>You can use this to see all the partner event sources that have been shared with your AWS account. For more information about partner event sources, see <a>CreateEventBus</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListEventSourcesRequest"
      },
      "name": "ListEventSources",
      "output": {
        "shape": "ListEventSourcesResponse"
      }
    },
    "ListPartnerEventSourceAccounts": {
      "documentation": "<p>An SaaS partner can use this operation to display the AWS account ID that a particular partner event source name is associated with. This operation is not used by AWS customers.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPartnerEventSourceAccountsRequest"
      },
      "name": "ListPartnerEventSourceAccounts",
      "output": {
        "shape": "ListPartnerEventSourceAccountsResponse"
      }
    },
    "ListPartnerEventSources": {
      "documentation": "<p>An SaaS partner can use this operation to list all the partner event source names that they have created. This operation is not used by AWS customers.</p>",
      "errors": [
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPartnerEventSourcesRequest"
      },
      "name": "ListPartnerEventSources",
      "output": {
        "shape": "ListPartnerEventSourcesResponse"
      }
    },
    "ListRuleNamesByTarget": {
      "documentation": "<p>Lists the rules for the specified target. You can see which of the rules in Amazon EventBridge can invoke a specific target in your account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRuleNamesByTargetRequest"
      },
      "name": "ListRuleNamesByTarget",
      "output": {
        "shape": "ListRuleNamesByTargetResponse"
      }
    },
    "ListRules": {
      "documentation": "<p>Lists your Amazon EventBridge rules. You can either list all the rules or you can provide a prefix to match to the rule names.</p> <p>ListRules does not list the targets of a rule. To see the targets associated with a rule, use <a>ListTargetsByRule</a>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRulesRequest"
      },
      "name": "ListRules",
      "output": {
        "shape": "ListRulesResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Displays the tags associated with an EventBridge resource. In EventBridge, rules and event buses can be tagged.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTargetsByRule": {
      "documentation": "<p>Lists the targets assigned to the specified rule.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTargetsByRuleRequest"
      },
      "name": "ListTargetsByRule",
      "output": {
        "shape": "ListTargetsByRuleResponse"
      }
    },
    "PutEvents": {
      "documentation": "<p>Sends custom events to Amazon EventBridge so that they can be matched to rules.</p>",
      "errors": [
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutEventsRequest"
      },
      "name": "PutEvents",
      "output": {
        "shape": "PutEventsResponse"
      }
    },
    "PutPartnerEvents": {
      "documentation": "<p>This is used by SaaS partners to write events to a customer's partner event bus. AWS customers do not use this operation.</p>",
      "errors": [
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPartnerEventsRequest"
      },
      "name": "PutPartnerEvents",
      "output": {
        "shape": "PutPartnerEventsResponse"
      }
    },
    "PutPermission": {
      "documentation": "<p>Running <code>PutPermission</code> permits the specified AWS account or AWS organization to put events to the specified <i>event bus</i>. CloudWatch Events rules in your account are triggered by these events arriving to an event bus in your account. </p> <p>For another account to send events to your account, that external account must have an EventBridge rule with your account's event bus as a target.</p> <p>To enable multiple AWS accounts to put events to your event bus, run <code>PutPermission</code> once for each of these accounts. Or, if all the accounts are members of the same AWS organization, you can run <code>PutPermission</code> once specifying <code>Principal</code> as \"*\" and specifying the AWS organization ID in <code>Condition</code>, to grant permissions to all accounts in that organization.</p> <p>If you grant permissions using an organization, then accounts in that organization must specify a <code>RoleArn</code> with proper permissions when they use <code>PutTarget</code> to add your account's event bus as a target. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between AWS Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>The permission policy on the default event bus cannot exceed 10 KB in size.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "PolicyLengthExceededException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutPermissionRequest"
      },
      "name": "PutPermission"
    },
    "PutRule": {
      "documentation": "<p>Creates or updates the specified rule. Rules are enabled by default, or based on value of the state. You can disable a rule using <a>DisableRule</a>.</p> <p>A single rule watches for events from a single event bus. Events generated by AWS services go to your account's default event bus. Events generated by SaaS partner services or applications go to the matching partner event bus. If you have custom applications or services, you can specify whether their events go to your default event bus or a custom event bus that you have created. For more information, see <a>CreateEventBus</a>.</p> <p>If you are updating an existing rule, the rule is replaced with what you specify in this <code>PutRule</code> command. If you omit arguments in <code>PutRule</code>, the old values for those arguments are not kept. Instead, they are replaced with null values.</p> <p>When you create or update a rule, incoming events might not immediately start matching to new or updated rules. Allow a short period of time for changes to take effect.</p> <p>A rule must contain at least an EventPattern or ScheduleExpression. Rules with EventPatterns are triggered when a matching event is observed. Rules with ScheduleExpressions self-trigger based on the given schedule. A rule can have both an EventPattern and a ScheduleExpression, in which case the rule triggers on matching events as well as on a schedule.</p> <p>When you initially create a rule, you can optionally assign one or more tags to the rule. Tags can help you organize and categorize your resources. You can also use them to scope user permissions, by granting a user permission to access or change only rules with certain tag values. To use the <code>PutRule</code> operation and assign tags, you must have both the <code>events:PutRule</code> and <code>events:TagResource</code> permissions.</p> <p>If you are updating an existing rule, any tags you specify in the <code>PutRule</code> operation are ignored. To update the tags of an existing rule, use <a>TagResource</a> and <a>UntagResource</a>.</p> <p>Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, EventBridge uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match.</p> <p>In EventBridge, it is possible to create rules that lead to infinite loops, where a rule is fired repeatedly. For example, a rule might detect that ACLs have changed on an S3 bucket, and trigger software to change them to the desired state. If the rule is not written carefully, the subsequent change to the ACLs fires the rule again, creating an infinite loop.</p> <p>To prevent this, write the rules so that the triggered actions do not re-fire the same rule. For example, your rule could fire only if ACLs are found to be in a bad state, instead of after any change. </p> <p>An infinite loop can quickly cause higher than expected charges. We recommend that you use budgeting, which alerts you when charges exceed your specified limit. For more information, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/budgets-managing-costs.html\">Managing Your Costs with Budgets</a>.</p>",
      "errors": [
        {
          "shape": "InvalidEventPatternException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ManagedRuleException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutRuleRequest"
      },
      "name": "PutRule",
      "output": {
        "shape": "PutRuleResponse"
      }
    },
    "PutTargets": {
      "documentation": "<p>Adds the specified targets to the specified rule, or updates the targets if they are already associated with the rule.</p> <p>Targets are the resources that are invoked when a rule is triggered.</p> <p>You can configure the following as targets for Events:</p> <ul> <li> <p>EC2 instances</p> </li> <li> <p>SSM Run Command</p> </li> <li> <p>SSM Automation</p> </li> <li> <p>AWS Lambda functions</p> </li> <li> <p>Data streams in Amazon Kinesis Data Streams</p> </li> <li> <p>Data delivery streams in Amazon Kinesis Data Firehose</p> </li> <li> <p>Amazon ECS tasks</p> </li> <li> <p>AWS Step Functions state machines</p> </li> <li> <p>AWS Batch jobs</p> </li> <li> <p>AWS CodeBuild projects</p> </li> <li> <p>Pipelines in AWS CodePipeline</p> </li> <li> <p>Amazon Inspector assessment templates</p> </li> <li> <p>Amazon SNS topics</p> </li> <li> <p>Amazon SQS queues, including FIFO queues</p> </li> <li> <p>The default event bus of another AWS account</p> </li> </ul> <p>Creating rules with built-in targets is supported only in the AWS Management Console. The built-in targets are <code>EC2 CreateSnapshot API call</code>, <code>EC2 RebootInstances API call</code>, <code>EC2 StopInstances API call</code>, and <code>EC2 TerminateInstances API call</code>. </p> <p>For some target types, <code>PutTargets</code> provides target-specific parameters. If the target is a Kinesis data stream, you can optionally specify which shard the event goes to by using the <code>KinesisParameters</code> argument. To invoke a command on multiple EC2 instances with one rule, you can use the <code>RunCommandParameters</code> field.</p> <p>To be able to make API calls against the resources that you own, Amazon CloudWatch Events needs the appropriate permissions. For AWS Lambda and Amazon SNS resources, EventBridge relies on resource-based policies. For EC2 instances, Kinesis data streams, and AWS Step Functions state machines, EventBridge relies on IAM roles that you specify in the <code>RoleARN</code> argument in <code>PutTargets</code>. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/auth-and-access-control-eventbridge.html\">Authentication and Access Control</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>If another AWS account is in the same region and has granted you permission (using <code>PutPermission</code>), you can send events to that account. Set that account's event bus as a target of the rules in your account. To send the matched events to the other account, specify that account's event bus as the <code>Arn</code> value when you run <code>PutTargets</code>. If your account sends events to another account, your account is charged for each sent event. Each event sent to another account is charged as a custom event. The account receiving the event is not charged. For more information, see <a href=\"https://aws.amazon.com/cloudwatch/pricing/\">Amazon CloudWatch Pricing</a>.</p> <note> <p> <code>Input</code>, <code>InputPath</code>, and <code>InputTransformer</code> are not available with <code>PutTarget</code> if the target is an event bus of a different AWS account.</p> </note> <p>If you are setting the event bus of another account as the target, and that account granted permission to your account through an organization instead of directly by the account ID, then you must specify a <code>RoleArn</code> with proper permissions in the <code>Target</code> structure. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between AWS Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p> <p>For more information about enabling cross-account events, see <a>PutPermission</a>.</p> <p> <b>Input</b>, <b>InputPath</b>, and <b>InputTransformer</b> are mutually exclusive and optional parameters of a target. When a rule is triggered due to a matched event:</p> <ul> <li> <p>If none of the following arguments are specified for a target, then the entire event is passed to the target in JSON format (unless the target is Amazon EC2 Run Command or Amazon ECS task, in which case nothing from the event is passed to the target).</p> </li> <li> <p>If <b>Input</b> is specified in the form of valid JSON, then the matched event is overridden with this constant.</p> </li> <li> <p>If <b>InputPath</b> is specified in the form of JSONPath (for example, <code>$.detail</code>), then only the part of the event specified in the path is passed to the target (for example, only the detail part of the event is passed).</p> </li> <li> <p>If <b>InputTransformer</b> is specified, then one or more specified JSONPaths are extracted from the event and used as values in a template that you specify as the input to the target.</p> </li> </ul> <p>When you specify <code>InputPath</code> or <code>InputTransformer</code>, you must use JSON dot notation, not bracket notation.</p> <p>When you add targets to a rule and the associated rule triggers soon after, new or updated targets might not be immediately invoked. Allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ManagedRuleException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutTargetsRequest"
      },
      "name": "PutTargets",
      "output": {
        "shape": "PutTargetsResponse"
      }
    },
    "RemovePermission": {
      "documentation": "<p>Revokes the permission of another AWS account to be able to put events to the specified event bus. Specify the account to revoke by the <code>StatementId</code> value that you associated with the account when you granted it permission with <code>PutPermission</code>. You can find the <code>StatementId</code> by using <a>DescribeEventBus</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemovePermissionRequest"
      },
      "name": "RemovePermission"
    },
    "RemoveTargets": {
      "documentation": "<p>Removes the specified targets from the specified rule. When the rule is triggered, those targets are no longer be invoked.</p> <p>When you remove a target, when the associated rule triggers, removed targets might continue to be invoked. Allow a short period of time for changes to take effect.</p> <p>This action can partially fail if too many requests are made at the same time. If that happens, <code>FailedEntryCount</code> is non-zero in the response and each entry in <code>FailedEntries</code> provides the ID of the failed target and the error code.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ManagedRuleException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTargetsRequest"
      },
      "name": "RemoveTargets",
      "output": {
        "shape": "RemoveTargetsResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Assigns one or more tags (key-value pairs) to the specified EventBridge resource. Tags can help you organize and categorize your resources. You can also use them to scope user permissions by granting a user permission to access or change only resources with certain tag values. In EventBridge, rules and event buses can be tagged.</p> <p>Tags don't have any semantic meaning to AWS and are interpreted strictly as strings of characters.</p> <p>You can use the <code>TagResource</code> action with a resource that already has tags. If you specify a new tag key, this tag is appended to the list of tags associated with the resource. If you specify a tag key that is already associated with the resource, the new tag value that you specify replaces the previous value for that tag.</p> <p>You can associate as many as 50 tags with a resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ManagedRuleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "TestEventPattern": {
      "documentation": "<p>Tests whether the specified event pattern matches the provided event.</p> <p>Most services in AWS treat : or / as the same character in Amazon Resource Names (ARNs). However, EventBridge uses an exact match in event patterns and rules. Be sure to use the correct ARN characters when creating event patterns so that they match the ARN syntax in the event you want to match.</p>",
      "errors": [
        {
          "shape": "InvalidEventPatternException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TestEventPatternRequest"
      },
      "name": "TestEventPattern",
      "output": {
        "shape": "TestEventPatternResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from the specified EventBridge resource. In CloudWatch Events, rules and event buses can be tagged.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ManagedRuleException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "AccountId": {
      "max": 12,
      "min": 12,
      "pattern": "\\d{12}",
      "type": "string"
    },
    "Action": {
      "max": 64,
      "min": 1,
      "pattern": "events:[a-zA-Z]+",
      "type": "string"
    },
    "ActivateEventSourceRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the partner event source to activate.</p>",
          "shape": "EventSourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "Arn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "AssignPublicIp": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "AwsVpcConfiguration": {
      "documentation": "<p>This structure specifies the VPC subnets and security groups for the task, and whether a public IP address is to be used. This structure is relevant only for ECS tasks that use the <code>awsvpc</code> network mode.</p>",
      "members": {
        "AssignPublicIp": {
          "documentation": "<p>Specifies whether the task's elastic network interface receives a public IP address. You can specify <code>ENABLED</code> only when <code>LaunchType</code> in <code>EcsParameters</code> is set to <code>FARGATE</code>.</p>",
          "shape": "AssignPublicIp"
        },
        "SecurityGroups": {
          "documentation": "<p>Specifies the security groups associated with the task. These security groups must all be in the same VPC. You can specify as many as five security groups. If you do not specify a security group, the default security group for the VPC is used.</p>",
          "shape": "StringList"
        },
        "Subnets": {
          "documentation": "<p>Specifies the subnets associated with the task. These subnets must all be in the same VPC. You can specify as many as 16 subnets.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "Subnets"
      ],
      "type": "structure"
    },
    "BatchArrayProperties": {
      "documentation": "<p>The array properties for the submitted job, such as the size of the array. The array size can be between 2 and 10,000. If you specify array properties for a job, it becomes an array job. This parameter is used only if the target is an AWS Batch job.</p>",
      "members": {
        "Size": {
          "documentation": "<p>The size of the array, if this is an array batch job. Valid values are integers between 2 and 10,000.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "BatchParameters": {
      "documentation": "<p>The custom parameters to be used when the target is an AWS Batch job.</p>",
      "members": {
        "ArrayProperties": {
          "documentation": "<p>The array properties for the submitted job, such as the size of the array. The array size can be between 2 and 10,000. If you specify array properties for a job, it becomes an array job. This parameter is used only if the target is an AWS Batch job.</p>",
          "shape": "BatchArrayProperties"
        },
        "JobDefinition": {
          "documentation": "<p>The ARN or name of the job definition to use if the event target is an AWS Batch job. This job definition must already exist.</p>",
          "shape": "String"
        },
        "JobName": {
          "documentation": "<p>The name to use for this execution of the job, if the target is an AWS Batch job.</p>",
          "shape": "String"
        },
        "RetryStrategy": {
          "documentation": "<p>The retry strategy to use for failed jobs, if the target is an AWS Batch job. The retry strategy is the number of times to retry the failed job execution. Valid values are 1\u201310. When you specify a retry strategy here, it overrides the retry strategy defined in the job definition.</p>",
          "shape": "BatchRetryStrategy"
        }
      },
      "required": [
        "JobDefinition",
        "JobName"
      ],
      "type": "structure"
    },
    "BatchRetryStrategy": {
      "documentation": "<p>The retry strategy to use for failed jobs, if the target is an AWS Batch job. If you specify a retry strategy here, it overrides the retry strategy defined in the job definition.</p>",
      "members": {
        "Attempts": {
          "documentation": "<p>The number of times to attempt to retry, if the job fails. Valid values are 1\u201310.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "ConcurrentModificationException": {
      "documentation": "<p>There is concurrent modification on a rule or target.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Condition": {
      "documentation": "<p>A JSON string which you can use to limit the event bus permissions you are granting to only accounts that fulfill the condition. Currently, the only supported condition is membership in a certain AWS organization. The string must contain <code>Type</code>, <code>Key</code>, and <code>Value</code> fields. The <code>Value</code> field specifies the ID of the AWS organization. Following is an example value for <code>Condition</code>:</p> <p> <code>'{\"Type\" : \"StringEquals\", \"Key\": \"aws:PrincipalOrgID\", \"Value\": \"o-1234567890\"}'</code> </p>",
      "members": {
        "Key": {
          "documentation": "<p>Specifies the key for the condition. Currently the only supported key is <code>aws:PrincipalOrgID</code>.</p>",
          "shape": "String"
        },
        "Type": {
          "documentation": "<p>Specifies the type of condition. Currently the only supported value is <code>StringEquals</code>.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>Specifies the value for the key. Currently, this must be the ID of the organization.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Type",
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "CreateEventBusRequest": {
      "members": {
        "EventSourceName": {
          "documentation": "<p>If you are creating a partner event bus, this specifies the partner event source that the new event bus will be matched with.</p>",
          "shape": "EventSourceName"
        },
        "Name": {
          "documentation": "<p>The name of the new event bus. </p> <p>Event bus names cannot contain the / character. You can't use the name <code>default</code> for a custom event bus, as this name is already used for your account's default event bus.</p> <p>If this is a partner event bus, the name must exactly match the name of the partner event source that this event bus is matched to.</p>",
          "shape": "EventBusName"
        },
        "Tags": {
          "documentation": "<p>Tags to associate with the event bus.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "CreateEventBusResponse": {
      "members": {
        "EventBusArn": {
          "documentation": "<p>The ARN of the new event bus.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CreatePartnerEventSourceRequest": {
      "members": {
        "Account": {
          "documentation": "<p>The AWS account ID that is permitted to create a matching partner event bus for this partner event source.</p>",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the partner event source. This name must be unique and must be in the format <code> <i>partner_name</i>/<i>event_namespace</i>/<i>event_name</i> </code>. The AWS account that wants to use this partner event source must create a partner event bus with a name that matches the name of the partner event source.</p>",
          "shape": "EventSourceName"
        }
      },
      "required": [
        "Name",
        "Account"
      ],
      "type": "structure"
    },
    "CreatePartnerEventSourceResponse": {
      "members": {
        "EventSourceArn": {
          "documentation": "<p>The ARN of the partner event source.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DeactivateEventSourceRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the partner event source to deactivate.</p>",
          "shape": "EventSourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteEventBusRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the event bus to delete.</p>",
          "shape": "EventBusName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeletePartnerEventSourceRequest": {
      "members": {
        "Account": {
          "documentation": "<p>The AWS account ID of the AWS customer that the event source was created for.</p>",
          "shape": "AccountId"
        },
        "Name": {
          "documentation": "<p>The name of the event source to delete.</p>",
          "shape": "EventSourceName"
        }
      },
      "required": [
        "Name",
        "Account"
      ],
      "type": "structure"
    },
    "DeleteRuleRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "Force": {
          "documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, you must specify <code>Force</code> as <code>True</code> to delete the rule. This parameter is ignored for rules that are not managed rules. You can check whether a rule is a managed rule by using <code>DescribeRule</code> or <code>ListRules</code> and checking the <code>ManagedBy</code> field of the response.</p>",
          "shape": "Boolean"
        },
        "Name": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeEventBusRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the event bus to show details for. If you omit this, the default event bus is displayed.</p>",
          "shape": "EventBusName"
        }
      },
      "type": "structure"
    },
    "DescribeEventBusResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the account permitted to write events to the current account.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the event bus. Currently, this is always <code>default</code>.</p>",
          "shape": "String"
        },
        "Policy": {
          "documentation": "<p>The policy that enables the external account to send events to your account.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeEventSourceRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the partner event source to display the details of.</p>",
          "shape": "EventSourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeEventSourceResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the partner event source.</p>",
          "shape": "String"
        },
        "CreatedBy": {
          "documentation": "<p>The name of the SaaS partner that created the event source.</p>",
          "shape": "String"
        },
        "CreationTime": {
          "documentation": "<p>The date and time that the event source was created.</p>",
          "shape": "Timestamp"
        },
        "ExpirationTime": {
          "documentation": "<p>The date and time that the event source will expire if you do not create a matching event bus.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the partner event source.</p>",
          "shape": "String"
        },
        "State": {
          "documentation": "<p>The state of the event source. If it is ACTIVE, you have already created a matching event bus for this event source, and that event bus is active. If it is PENDING, either you haven't yet created a matching event bus, or that event bus is deactivated. If it is DELETED, you have created a matching event bus, but the event source has since been deleted.</p>",
          "shape": "EventSourceState"
        }
      },
      "type": "structure"
    },
    "DescribePartnerEventSourceRequest": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the event source to display.</p>",
          "shape": "EventSourceName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribePartnerEventSourceResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the event source.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the event source.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeRuleRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "Name": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeRuleResponse": {
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "shape": "RuleArn"
        },
        "Description": {
          "documentation": "<p>The description of the rule.</p>",
          "shape": "RuleDescription"
        },
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule.</p>",
          "shape": "EventBusName"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
          "shape": "EventPattern"
        },
        "ManagedBy": {
          "documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, this field displays the principal name of the AWS service that created the rule.</p>",
          "shape": "ManagedBy"
        },
        "Name": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "shape": "RoleArn"
        },
        "ScheduleExpression": {
          "documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "shape": "ScheduleExpression"
        },
        "State": {
          "documentation": "<p>Specifies whether the rule is enabled or disabled.</p>",
          "shape": "RuleState"
        }
      },
      "type": "structure"
    },
    "DisableRuleRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "Name": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "EcsParameters": {
      "documentation": "<p>The custom parameters to be used when the target is an Amazon ECS task.</p>",
      "members": {
        "Group": {
          "documentation": "<p>Specifies an ECS task group for the task. The maximum length is 255 characters.</p>",
          "shape": "String"
        },
        "LaunchType": {
          "documentation": "<p>Specifies the launch type on which your task is running. The launch type that you specify here must match one of the launch type (compatibilities) of the target task. The <code>FARGATE</code> value is supported only in the Regions where AWS Fargate with Amazon ECS is supported. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/AWS-Fargate.html\">AWS Fargate on Amazon ECS</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>",
          "shape": "LaunchType"
        },
        "NetworkConfiguration": {
          "documentation": "<p>Use this structure if the ECS task uses the <code>awsvpc</code> network mode. This structure specifies the VPC subnets and security groups associated with the task, and whether a public IP address is to be used. This structure is required if <code>LaunchType</code> is <code>FARGATE</code> because the <code>awsvpc</code> mode is required for Fargate tasks.</p> <p>If you specify <code>NetworkConfiguration</code> when the target ECS task does not use the <code>awsvpc</code> network mode, the task fails.</p>",
          "shape": "NetworkConfiguration"
        },
        "PlatformVersion": {
          "documentation": "<p>Specifies the platform version for the task. Specify only the numeric portion of the platform version, such as <code>1.1.0</code>.</p> <p>This structure is used only if <code>LaunchType</code> is <code>FARGATE</code>. For more information about valid platform versions, see <a href=\"https://docs.aws.amazon.com/AmazonECS/latest/developerguide/platform_versions.html\">AWS Fargate Platform Versions</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>",
          "shape": "String"
        },
        "TaskCount": {
          "documentation": "<p>The number of tasks to create based on <code>TaskDefinition</code>. The default is 1.</p>",
          "shape": "LimitMin1"
        },
        "TaskDefinitionArn": {
          "documentation": "<p>The ARN of the task definition to use if the event target is an Amazon ECS task. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "TaskDefinitionArn"
      ],
      "type": "structure"
    },
    "EnableRuleRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "Name": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "ErrorCode": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "EventBus": {
      "documentation": "<p>An event bus receives events from a source and routes them to rules associated with that event bus. Your account's default event bus receives rules from AWS services. A custom event bus can receive rules from AWS services as well as your custom applications and services. A partner event bus receives events from an event source created by an SaaS partner. These events come from the partners services or applications.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the event bus.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the event bus.</p>",
          "shape": "String"
        },
        "Policy": {
          "documentation": "<p>The permissions policy of the event bus, describing which other AWS accounts can write events to this event bus.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EventBusList": {
      "member": {
        "shape": "EventBus"
      },
      "type": "list"
    },
    "EventBusName": {
      "max": 256,
      "min": 1,
      "pattern": "[/\\.\\-_A-Za-z0-9]+",
      "type": "string"
    },
    "EventId": {
      "type": "string"
    },
    "EventPattern": {
      "type": "string"
    },
    "EventResource": {
      "type": "string"
    },
    "EventResourceList": {
      "member": {
        "shape": "EventResource"
      },
      "type": "list"
    },
    "EventSource": {
      "documentation": "<p>A partner event source is created by an SaaS partner. If a customer creates a partner event bus that matches this event source, that AWS account can receive events from the partner's applications or services.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the event source.</p>",
          "shape": "String"
        },
        "CreatedBy": {
          "documentation": "<p>The name of the partner that created the event source.</p>",
          "shape": "String"
        },
        "CreationTime": {
          "documentation": "<p>The date and time the event source was created.</p>",
          "shape": "Timestamp"
        },
        "ExpirationTime": {
          "documentation": "<p>The date and time that the event source will expire, if the AWS account doesn't create a matching event bus for it.</p>",
          "shape": "Timestamp"
        },
        "Name": {
          "documentation": "<p>The name of the event source.</p>",
          "shape": "String"
        },
        "State": {
          "documentation": "<p>The state of the event source. If it is ACTIVE, you have already created a matching event bus for this event source, and that event bus is active. If it is PENDING, either you haven't yet created a matching event bus, or that event bus is deactivated. If it is DELETED, you have created a matching event bus, but the event source has since been deleted.</p>",
          "shape": "EventSourceState"
        }
      },
      "type": "structure"
    },
    "EventSourceList": {
      "member": {
        "shape": "EventSource"
      },
      "type": "list"
    },
    "EventSourceName": {
      "max": 256,
      "min": 1,
      "pattern": "aws\\.partner(/[\\.\\-_A-Za-z0-9]+){2,}",
      "type": "string"
    },
    "EventSourceNamePrefix": {
      "max": 256,
      "min": 1,
      "pattern": "[/\\.\\-_A-Za-z0-9]+",
      "type": "string"
    },
    "EventSourceState": {
      "enum": [
        "PENDING",
        "ACTIVE",
        "DELETED"
      ],
      "type": "string"
    },
    "EventTime": {
      "type": "timestamp"
    },
    "InputTransformer": {
      "documentation": "<p>Contains the parameters needed for you to provide custom input to a target based on one or more pieces of data extracted from the event.</p>",
      "members": {
        "InputPathsMap": {
          "documentation": "<p>Map of JSON paths to be extracted from the event. You can then insert these in the template in <code>InputTemplate</code> to produce the output you want to be sent to the target.</p> <p> <code>InputPathsMap</code> is an array key-value pairs, where each value is a valid JSON path. You can have as many as 10 key-value pairs. You must use JSON dot notation, not bracket notation.</p> <p>The keys cannot start with \"AWS.\" </p>",
          "shape": "TransformerPaths"
        },
        "InputTemplate": {
          "documentation": "<p>Input template where you specify placeholders that will be filled with the values of the keys from <code>InputPathsMap</code> to customize the data sent to the target. Enclose each <code>InputPathsMaps</code> value in brackets: &lt;<i>value</i>&gt; The InputTemplate must be valid JSON.</p> <p>If <code>InputTemplate</code> is a JSON object (surrounded by curly braces), the following restrictions apply:</p> <ul> <li> <p>The placeholder cannot be used as an object key.</p> </li> <li> <p>Object values cannot include quote marks.</p> </li> </ul> <p>The following example shows the syntax for using <code>InputPathsMap</code> and <code>InputTemplate</code>.</p> <p> <code> \"InputTransformer\":</code> </p> <p> <code>{</code> </p> <p> <code>\"InputPathsMap\": {\"instance\": \"$.detail.instance\",\"status\": \"$.detail.status\"},</code> </p> <p> <code>\"InputTemplate\": \"&lt;instance&gt; is in state &lt;status&gt;\"</code> </p> <p> <code>}</code> </p> <p>To have the <code>InputTemplate</code> include quote marks within a JSON string, escape each quote marks with a slash, as in the following example:</p> <p> <code> \"InputTransformer\":</code> </p> <p> <code>{</code> </p> <p> <code>\"InputPathsMap\": {\"instance\": \"$.detail.instance\",\"status\": \"$.detail.status\"},</code> </p> <p> <code>\"InputTemplate\": \"&lt;instance&gt; is in state \\\"&lt;status&gt;\\\"\"</code> </p> <p> <code>}</code> </p>",
          "shape": "TransformerInput"
        }
      },
      "required": [
        "InputTemplate"
      ],
      "type": "structure"
    },
    "InputTransformerPathKey": {
      "max": 256,
      "min": 1,
      "pattern": "[A-Za-z0-9\\_\\-]+",
      "type": "string"
    },
    "Integer": {
      "type": "integer"
    },
    "InternalException": {
      "documentation": "<p>This exception occurs due to unexpected causes.</p>",
      "exception": true,
      "fault": true,
      "members": {},
      "type": "structure"
    },
    "InvalidEventPatternException": {
      "documentation": "<p>The event pattern is not valid.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidStateException": {
      "documentation": "<p>The specified state is not a valid state for an event source.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "KinesisParameters": {
      "documentation": "<p>This object enables you to specify a JSON path to extract from the event and use as the partition key for the Amazon Kinesis data stream, so that you can control the shard to which the event goes. If you do not include this parameter, the default is to use the <code>eventId</code> as the partition key.</p>",
      "members": {
        "PartitionKeyPath": {
          "documentation": "<p>The JSON path to be extracted from the event and used as the partition key. For more information, see <a href=\"https://docs.aws.amazon.com/streams/latest/dev/key-concepts.html#partition-key\">Amazon Kinesis Streams Key Concepts</a> in the <i>Amazon Kinesis Streams Developer Guide</i>.</p>",
          "shape": "TargetPartitionKeyPath"
        }
      },
      "required": [
        "PartitionKeyPath"
      ],
      "type": "structure"
    },
    "LaunchType": {
      "enum": [
        "EC2",
        "FARGATE"
      ],
      "type": "string"
    },
    "LimitExceededException": {
      "documentation": "<p>You tried to create more rules or add more targets to a rule than is allowed.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "LimitMax100": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "LimitMin1": {
      "min": 1,
      "type": "integer"
    },
    "ListEventBusesRequest": {
      "members": {
        "Limit": {
          "documentation": "<p>Specifying this limits the number of results returned by this operation. The operation also returns a NextToken which you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "LimitMax100"
        },
        "NamePrefix": {
          "documentation": "<p>Specifying this limits the results to only those event buses with names that start with the specified prefix.</p>",
          "shape": "EventBusName"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEventBusesResponse": {
      "members": {
        "EventBuses": {
          "documentation": "<p>This list of event buses.</p>",
          "shape": "EventBusList"
        },
        "NextToken": {
          "documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEventSourcesRequest": {
      "members": {
        "Limit": {
          "documentation": "<p>Specifying this limits the number of results returned by this operation. The operation also returns a NextToken which you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "LimitMax100"
        },
        "NamePrefix": {
          "documentation": "<p>Specifying this limits the results to only those partner event sources with names that start with the specified prefix.</p>",
          "shape": "EventSourceNamePrefix"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEventSourcesResponse": {
      "members": {
        "EventSources": {
          "documentation": "<p>The list of event sources.</p>",
          "shape": "EventSourceList"
        },
        "NextToken": {
          "documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListPartnerEventSourceAccountsRequest": {
      "members": {
        "EventSourceName": {
          "documentation": "<p>The name of the partner event source to display account information about.</p>",
          "shape": "EventSourceName"
        },
        "Limit": {
          "documentation": "<p>Specifying this limits the number of results returned by this operation. The operation also returns a NextToken which you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "LimitMax100"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to this operation. Specifying this retrieves the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "EventSourceName"
      ],
      "type": "structure"
    },
    "ListPartnerEventSourceAccountsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "NextToken"
        },
        "PartnerEventSourceAccounts": {
          "documentation": "<p>The list of partner event sources returned by the operation.</p>",
          "shape": "PartnerEventSourceAccountList"
        }
      },
      "type": "structure"
    },
    "ListPartnerEventSourcesRequest": {
      "members": {
        "Limit": {
          "documentation": "<p>pecifying this limits the number of results returned by this operation. The operation also returns a NextToken which you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "LimitMax100"
        },
        "NamePrefix": {
          "documentation": "<p>If you specify this, the results are limited to only those partner event sources that start with the string you specify.</p>",
          "shape": "PartnerEventSourceNamePrefix"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to this operation. Specifying this retrieves the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "required": [
        "NamePrefix"
      ],
      "type": "structure"
    },
    "ListPartnerEventSourcesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>A token you can use in a subsequent operation to retrieve the next set of results.</p>",
          "shape": "NextToken"
        },
        "PartnerEventSources": {
          "documentation": "<p>The list of partner event sources returned by the operation.</p>",
          "shape": "PartnerEventSourceList"
        }
      },
      "type": "structure"
    },
    "ListRuleNamesByTargetRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>Limits the results to show only the rules associated with the specified event bus.</p>",
          "shape": "EventBusName"
        },
        "Limit": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "LimitMax100"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>",
          "shape": "NextToken"
        },
        "TargetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target resource.</p>",
          "shape": "TargetArn"
        }
      },
      "required": [
        "TargetArn"
      ],
      "type": "structure"
    },
    "ListRuleNamesByTargetResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>Indicates whether there are additional results to retrieve. If there are no more results, the value is null.</p>",
          "shape": "NextToken"
        },
        "RuleNames": {
          "documentation": "<p>The names of the rules that can invoke the given target.</p>",
          "shape": "RuleNameList"
        }
      },
      "type": "structure"
    },
    "ListRulesRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>Limits the results to show only the rules associated with the specified event bus.</p>",
          "shape": "EventBusName"
        },
        "Limit": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "LimitMax100"
        },
        "NamePrefix": {
          "documentation": "<p>The prefix matching the rule name.</p>",
          "shape": "RuleName"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListRulesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>Indicates whether there are additional results to retrieve. If there are no more results, the value is null.</p>",
          "shape": "NextToken"
        },
        "Rules": {
          "documentation": "<p>The rules that match the specified criteria.</p>",
          "shape": "RuleResponseList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the EventBridge resource for which you want to view tags.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "ResourceARN"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>The list of tag keys and values associated with the resource you specified</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListTargetsByRuleRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "Limit": {
          "documentation": "<p>The maximum number of results to return.</p>",
          "shape": "LimitMax100"
        },
        "NextToken": {
          "documentation": "<p>The token returned by a previous call to retrieve the next set of results.</p>",
          "shape": "NextToken"
        },
        "Rule": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Rule"
      ],
      "type": "structure"
    },
    "ListTargetsByRuleResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>Indicates whether there are additional results to retrieve. If there are no more results, the value is null.</p>",
          "shape": "NextToken"
        },
        "Targets": {
          "documentation": "<p>The targets assigned to the rule.</p>",
          "shape": "TargetList"
        }
      },
      "type": "structure"
    },
    "ManagedBy": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "ManagedRuleException": {
      "documentation": "<p>This rule was created by an AWS service on behalf of your account. It is managed by that service. If you see this error in response to <code>DeleteRule</code> or <code>RemoveTargets</code>, you can use the <code>Force</code> parameter in those calls to delete the rule or remove targets from the rule. You cannot modify these managed rules by using <code>DisableRule</code>, <code>EnableRule</code>, <code>PutTargets</code>, <code>PutRule</code>, <code>TagResource</code>, or <code>UntagResource</code>. </p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "MessageGroupId": {
      "type": "string"
    },
    "NetworkConfiguration": {
      "documentation": "<p>This structure specifies the network configuration for an ECS task.</p>",
      "members": {
        "awsvpcConfiguration": {
          "documentation": "<p>Use this structure to specify the VPC subnets and security groups for the task, and whether a public IP address is to be used. This structure is relevant only for ECS tasks that use the <code>awsvpc</code> network mode.</p>",
          "shape": "AwsVpcConfiguration"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "type": "string"
    },
    "NonPartnerEventBusName": {
      "max": 256,
      "min": 1,
      "pattern": "[\\.\\-_A-Za-z0-9]+",
      "type": "string"
    },
    "PartnerEventSource": {
      "documentation": "<p>A partner event source is created by an SaaS partner. If a customer creates a partner event bus that matches this event source, that AWS account can receive events from the partner's applications or services.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The ARN of the partner event source.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the partner event source.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "PartnerEventSourceAccount": {
      "documentation": "<p>The AWS account that a partner event source has been offered to.</p>",
      "members": {
        "Account": {
          "documentation": "<p>The AWS account ID that the partner event source was offered to.</p>",
          "shape": "AccountId"
        },
        "CreationTime": {
          "documentation": "<p>The date and time the event source was created.</p>",
          "shape": "Timestamp"
        },
        "ExpirationTime": {
          "documentation": "<p>The date and time that the event source will expire, if the AWS account doesn't create a matching event bus for it.</p>",
          "shape": "Timestamp"
        },
        "State": {
          "documentation": "<p>The state of the event source. If it is ACTIVE, you have already created a matching event bus for this event source, and that event bus is active. If it is PENDING, either you haven't yet created a matching event bus, or that event bus is deactivated. If it is DELETED, you have created a matching event bus, but the event source has since been deleted.</p>",
          "shape": "EventSourceState"
        }
      },
      "type": "structure"
    },
    "PartnerEventSourceAccountList": {
      "member": {
        "shape": "PartnerEventSourceAccount"
      },
      "type": "list"
    },
    "PartnerEventSourceList": {
      "member": {
        "shape": "PartnerEventSource"
      },
      "type": "list"
    },
    "PartnerEventSourceNamePrefix": {
      "max": 256,
      "min": 1,
      "pattern": "aws\\.partner/[\\.\\-_A-Za-z0-9]+/[/\\.\\-_A-Za-z0-9]*",
      "type": "string"
    },
    "PolicyLengthExceededException": {
      "documentation": "<p>The event bus policy is too long. For more information, see the limits.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Principal": {
      "max": 12,
      "min": 1,
      "pattern": "(\\d{12}|\\*)",
      "type": "string"
    },
    "PutEventsRequest": {
      "members": {
        "Entries": {
          "documentation": "<p>The entry that defines an event in your system. You can specify several parameters for the entry such as the source and type of the event, resources associated with the event, and so on.</p>",
          "shape": "PutEventsRequestEntryList"
        }
      },
      "required": [
        "Entries"
      ],
      "type": "structure"
    },
    "PutEventsRequestEntry": {
      "documentation": "<p>Represents an event to be submitted.</p>",
      "members": {
        "Detail": {
          "documentation": "<p>A valid JSON string. There is no other schema imposed. The JSON string may contain fields and nested subobjects.</p>",
          "shape": "String"
        },
        "DetailType": {
          "documentation": "<p>Free-form string used to decide what fields to expect in the event detail.</p>",
          "shape": "String"
        },
        "EventBusName": {
          "documentation": "<p>The event bus that will receive the event. Only the rules that are associated with this event bus will be able to match the event.</p>",
          "shape": "NonPartnerEventBusName"
        },
        "Resources": {
          "documentation": "<p>AWS resources, identified by Amazon Resource Name (ARN), which the event primarily concerns. Any number, including zero, may be present.</p>",
          "shape": "EventResourceList"
        },
        "Source": {
          "documentation": "<p>The source of the event.</p>",
          "shape": "String"
        },
        "Time": {
          "documentation": "<p>The time stamp of the event, per <a href=\"https://www.rfc-editor.org/rfc/rfc3339.txt\">RFC3339</a>. If no time stamp is provided, the time stamp of the <a>PutEvents</a> call is used.</p>",
          "shape": "EventTime"
        }
      },
      "type": "structure"
    },
    "PutEventsRequestEntryList": {
      "max": 10,
      "member": {
        "shape": "PutEventsRequestEntry"
      },
      "min": 1,
      "type": "list"
    },
    "PutEventsResponse": {
      "members": {
        "Entries": {
          "documentation": "<p>The successfully and unsuccessfully ingested events results. If the ingestion was successful, the entry has the event ID in it. Otherwise, you can use the error code and error message to identify the problem with the entry.</p>",
          "shape": "PutEventsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of failed entries.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "PutEventsResultEntry": {
      "documentation": "<p>Represents an event that failed to be submitted.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that indicates why the event submission failed.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message that explains why the event submission failed.</p>",
          "shape": "ErrorMessage"
        },
        "EventId": {
          "documentation": "<p>The ID of the event.</p>",
          "shape": "EventId"
        }
      },
      "type": "structure"
    },
    "PutEventsResultEntryList": {
      "member": {
        "shape": "PutEventsResultEntry"
      },
      "type": "list"
    },
    "PutPartnerEventsRequest": {
      "members": {
        "Entries": {
          "documentation": "<p>The list of events to write to the event bus.</p>",
          "shape": "PutPartnerEventsRequestEntryList"
        }
      },
      "required": [
        "Entries"
      ],
      "type": "structure"
    },
    "PutPartnerEventsRequestEntry": {
      "documentation": "<p>The details about an event generated by an SaaS partner.</p>",
      "members": {
        "Detail": {
          "documentation": "<p>A valid JSON string. There is no other schema imposed. The JSON string may contain fields and nested subobjects.</p>",
          "shape": "String"
        },
        "DetailType": {
          "documentation": "<p>A free-form string used to decide what fields to expect in the event detail.</p>",
          "shape": "String"
        },
        "Resources": {
          "documentation": "<p>AWS resources, identified by Amazon Resource Name (ARN), which the event primarily concerns. Any number, including zero, may be present.</p>",
          "shape": "EventResourceList"
        },
        "Source": {
          "documentation": "<p>The event source that is generating the evntry.</p>",
          "shape": "EventSourceName"
        },
        "Time": {
          "documentation": "<p>The date and time of the event.</p>",
          "shape": "EventTime"
        }
      },
      "type": "structure"
    },
    "PutPartnerEventsRequestEntryList": {
      "max": 20,
      "member": {
        "shape": "PutPartnerEventsRequestEntry"
      },
      "min": 1,
      "type": "list"
    },
    "PutPartnerEventsResponse": {
      "members": {
        "Entries": {
          "documentation": "<p>The list of events from this operation that were successfully written to the partner event bus.</p>",
          "shape": "PutPartnerEventsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of events from this operation that could not be written to the partner event bus.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "PutPartnerEventsResultEntry": {
      "documentation": "<p>Represents an event that a partner tried to generate, but failed.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that indicates why the event submission failed.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message that explains why the event submission failed.</p>",
          "shape": "ErrorMessage"
        },
        "EventId": {
          "documentation": "<p>The ID of the event.</p>",
          "shape": "EventId"
        }
      },
      "type": "structure"
    },
    "PutPartnerEventsResultEntryList": {
      "member": {
        "shape": "PutPartnerEventsResultEntry"
      },
      "type": "list"
    },
    "PutPermissionRequest": {
      "members": {
        "Action": {
          "documentation": "<p>The action that you are enabling the other account to perform. Currently, this must be <code>events:PutEvents</code>.</p>",
          "shape": "Action"
        },
        "Condition": {
          "documentation": "<p>This parameter enables you to limit the permission to accounts that fulfill a certain condition, such as being a member of a certain AWS organization. For more information about AWS Organizations, see <a href=\"https://docs.aws.amazon.com/organizations/latest/userguide/orgs_introduction.html\">What Is AWS Organizations</a> in the <i>AWS Organizations User Guide</i>.</p> <p>If you specify <code>Condition</code> with an AWS organization ID, and specify \"*\" as the value for <code>Principal</code>, you grant permission to all the accounts in the named organization.</p> <p>The <code>Condition</code> is a JSON string which must contain <code>Type</code>, <code>Key</code>, and <code>Value</code> fields.</p>",
          "shape": "Condition"
        },
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "NonPartnerEventBusName"
        },
        "Principal": {
          "documentation": "<p>The 12-digit AWS account ID that you are permitting to put events to your default event bus. Specify \"*\" to permit any account to put events to your default event bus.</p> <p>If you specify \"*\" without specifying <code>Condition</code>, avoid creating rules that may match undesirable events. To create more secure rules, make sure that the event pattern for each rule contains an <code>account</code> field with a specific account ID from which to receive events. Rules with an account field do not match any events sent from other accounts.</p>",
          "shape": "Principal"
        },
        "StatementId": {
          "documentation": "<p>An identifier string for the external account that you are granting permissions to. If you later want to revoke the permission for this external account, specify this <code>StatementId</code> when you run <a>RemovePermission</a>.</p>",
          "shape": "StatementId"
        }
      },
      "required": [
        "Action",
        "Principal",
        "StatementId"
      ],
      "type": "structure"
    },
    "PutRuleRequest": {
      "members": {
        "Description": {
          "documentation": "<p>A description of the rule.</p>",
          "shape": "RuleDescription"
        },
        "EventBusName": {
          "documentation": "<p>The event bus to associate with this rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
          "shape": "EventPattern"
        },
        "Name": {
          "documentation": "<p>The name of the rule that you are creating or updating.</p>",
          "shape": "RuleName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role associated with the rule.</p>",
          "shape": "RoleArn"
        },
        "ScheduleExpression": {
          "documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\" or \"rate(5 minutes)\".</p>",
          "shape": "ScheduleExpression"
        },
        "State": {
          "documentation": "<p>Indicates whether the rule is enabled or disabled.</p>",
          "shape": "RuleState"
        },
        "Tags": {
          "documentation": "<p>The list of key-value pairs to associate with the rule.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "PutRuleResponse": {
      "members": {
        "RuleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "shape": "RuleArn"
        }
      },
      "type": "structure"
    },
    "PutTargetsRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The name of the event bus associated with the rule. If you omit this, the default event bus is used.</p>",
          "shape": "EventBusName"
        },
        "Rule": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        },
        "Targets": {
          "documentation": "<p>The targets to update or add to the rule.</p>",
          "shape": "TargetList"
        }
      },
      "required": [
        "Rule",
        "Targets"
      ],
      "type": "structure"
    },
    "PutTargetsResponse": {
      "members": {
        "FailedEntries": {
          "documentation": "<p>The failed target entries.</p>",
          "shape": "PutTargetsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of failed entries.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "PutTargetsResultEntry": {
      "documentation": "<p>Represents a target that failed to be added to a rule.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that indicates why the target addition failed. If the value is <code>ConcurrentModificationException</code>, too many requests were made at the same time.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message that explains why the target addition failed.</p>",
          "shape": "ErrorMessage"
        },
        "TargetId": {
          "documentation": "<p>The ID of the target.</p>",
          "shape": "TargetId"
        }
      },
      "type": "structure"
    },
    "PutTargetsResultEntryList": {
      "member": {
        "shape": "PutTargetsResultEntry"
      },
      "type": "list"
    },
    "RemovePermissionRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The name of the event bus to revoke permissions for. If you omit this, the default event bus is used.</p>",
          "shape": "NonPartnerEventBusName"
        },
        "StatementId": {
          "documentation": "<p>The statement ID corresponding to the account that is no longer allowed to put events to the default event bus.</p>",
          "shape": "StatementId"
        }
      },
      "required": [
        "StatementId"
      ],
      "type": "structure"
    },
    "RemoveTargetsRequest": {
      "members": {
        "EventBusName": {
          "documentation": "<p>The name of the event bus associated with the rule.</p>",
          "shape": "EventBusName"
        },
        "Force": {
          "documentation": "<p>If this is a managed rule, created by an AWS service on your behalf, you must specify <code>Force</code> as <code>True</code> to remove targets. This parameter is ignored for rules that are not managed rules. You can check whether a rule is a managed rule by using <code>DescribeRule</code> or <code>ListRules</code> and checking the <code>ManagedBy</code> field of the response.</p>",
          "shape": "Boolean"
        },
        "Ids": {
          "documentation": "<p>The IDs of the targets to remove from the rule.</p>",
          "shape": "TargetIdList"
        },
        "Rule": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        }
      },
      "required": [
        "Rule",
        "Ids"
      ],
      "type": "structure"
    },
    "RemoveTargetsResponse": {
      "members": {
        "FailedEntries": {
          "documentation": "<p>The failed target entries.</p>",
          "shape": "RemoveTargetsResultEntryList"
        },
        "FailedEntryCount": {
          "documentation": "<p>The number of failed entries.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "RemoveTargetsResultEntry": {
      "documentation": "<p>Represents a target that failed to be removed from a rule.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that indicates why the target removal failed. If the value is <code>ConcurrentModificationException</code>, too many requests were made at the same time.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message that explains why the target removal failed.</p>",
          "shape": "ErrorMessage"
        },
        "TargetId": {
          "documentation": "<p>The ID of the target.</p>",
          "shape": "TargetId"
        }
      },
      "type": "structure"
    },
    "RemoveTargetsResultEntryList": {
      "member": {
        "shape": "RemoveTargetsResultEntry"
      },
      "type": "list"
    },
    "ResourceAlreadyExistsException": {
      "documentation": "<p>The resource you are trying to create already exists.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>An entity that you specified does not exist.</p>",
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "RoleArn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "Rule": {
      "documentation": "<p>Contains information about a rule in Amazon EventBridge.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the rule.</p>",
          "shape": "RuleArn"
        },
        "Description": {
          "documentation": "<p>The description of the rule.</p>",
          "shape": "RuleDescription"
        },
        "EventBusName": {
          "documentation": "<p>The event bus associated with the rule.</p>",
          "shape": "EventBusName"
        },
        "EventPattern": {
          "documentation": "<p>The event pattern of the rule. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-and-event-patterns.html\">Events and Event Patterns</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
          "shape": "EventPattern"
        },
        "ManagedBy": {
          "documentation": "<p>If the rule was created on behalf of your account by an AWS service, this field displays the principal name of the service that created the rule.</p>",
          "shape": "ManagedBy"
        },
        "Name": {
          "documentation": "<p>The name of the rule.</p>",
          "shape": "RuleName"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the role that is used for target invocation.</p>",
          "shape": "RoleArn"
        },
        "ScheduleExpression": {
          "documentation": "<p>The scheduling expression. For example, \"cron(0 20 * * ? *)\", \"rate(5 minutes)\".</p>",
          "shape": "ScheduleExpression"
        },
        "State": {
          "documentation": "<p>The state of the rule.</p>",
          "shape": "RuleState"
        }
      },
      "type": "structure"
    },
    "RuleArn": {
      "max": 1600,
      "min": 1,
      "type": "string"
    },
    "RuleDescription": {
      "max": 512,
      "type": "string"
    },
    "RuleName": {
      "max": 64,
      "min": 1,
      "pattern": "[\\.\\-_A-Za-z0-9]+",
      "type": "string"
    },
    "RuleNameList": {
      "member": {
        "shape": "RuleName"
      },
      "type": "list"
    },
    "RuleResponseList": {
      "member": {
        "shape": "Rule"
      },
      "type": "list"
    },
    "RuleState": {
      "enum": [
        "ENABLED",
        "DISABLED"
      ],
      "type": "string"
    },
    "RunCommandParameters": {
      "documentation": "<p>This parameter contains the criteria (either InstanceIds or a tag) used to specify which EC2 instances are to be sent the command. </p>",
      "members": {
        "RunCommandTargets": {
          "documentation": "<p>Currently, we support including only one RunCommandTarget block, which specifies either an array of InstanceIds or a tag.</p>",
          "shape": "RunCommandTargets"
        }
      },
      "required": [
        "RunCommandTargets"
      ],
      "type": "structure"
    },
    "RunCommandTarget": {
      "documentation": "<p>Information about the EC2 instances that are to be sent the command, specified as key-value pairs. Each <code>RunCommandTarget</code> block can include only one key, but this key may specify multiple values.</p>",
      "members": {
        "Key": {
          "documentation": "<p>Can be either <code>tag:</code> <i>tag-key</i> or <code>InstanceIds</code>.</p>",
          "shape": "RunCommandTargetKey"
        },
        "Values": {
          "documentation": "<p>If <code>Key</code> is <code>tag:</code> <i>tag-key</i>, <code>Values</code> is a list of tag values. If <code>Key</code> is <code>InstanceIds</code>, <code>Values</code> is a list of Amazon EC2 instance IDs.</p>",
          "shape": "RunCommandTargetValues"
        }
      },
      "required": [
        "Key",
        "Values"
      ],
      "type": "structure"
    },
    "RunCommandTargetKey": {
      "max": 128,
      "min": 1,
      "pattern": "^[\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*$",
      "type": "string"
    },
    "RunCommandTargetValue": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "RunCommandTargetValues": {
      "max": 50,
      "member": {
        "shape": "RunCommandTargetValue"
      },
      "min": 1,
      "type": "list"
    },
    "RunCommandTargets": {
      "max": 5,
      "member": {
        "shape": "RunCommandTarget"
      },
      "min": 1,
      "type": "list"
    },
    "ScheduleExpression": {
      "max": 256,
      "type": "string"
    },
    "SqsParameters": {
      "documentation": "<p>This structure includes the custom parameter to be used when the target is an SQS FIFO queue.</p>",
      "members": {
        "MessageGroupId": {
          "documentation": "<p>The FIFO message group ID to use as the target.</p>",
          "shape": "MessageGroupId"
        }
      },
      "type": "structure"
    },
    "StatementId": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z0-9-_]+",
      "type": "string"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>A key-value pair associated with an AWS resource. In EventBridge, rules and event buses support tagging.</p>",
      "members": {
        "Key": {
          "documentation": "<p>A string you can use to assign a value. The combination of tag keys and values can help you organize and categorize your resources.</p>",
          "shape": "TagKey"
        },
        "Value": {
          "documentation": "<p>The value for the specified tag key.</p>",
          "shape": "TagValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "TagKey": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceARN": {
          "documentation": "<p>The ARN of the EventBridge resource that you're adding tags to.</p>",
          "shape": "Arn"
        },
        "Tags": {
          "documentation": "<p>The list of key-value pairs to associate with the resource.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceARN",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "max": 256,
      "min": 0,
      "type": "string"
    },
    "Target": {
      "documentation": "<p>Targets are the resources to be invoked when a rule is triggered. For a complete list of services and resources that can be set as a target, see <a>PutTargets</a>.</p> <p>If you are setting the event bus of another account as the target, and that account granted permission to your account through an organization instead of directly by the account ID, then you must specify a <code>RoleArn</code> with proper permissions in the <code>Target</code> structure. For more information, see <a href=\"https://docs.aws.amazon.com/eventbridge/latest/userguide/eventbridge-cross-account-event-delivery.html\">Sending and Receiving Events Between AWS Accounts</a> in the <i>Amazon EventBridge User Guide</i>.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the target.</p>",
          "shape": "TargetArn"
        },
        "BatchParameters": {
[...]
