{
  "documentation": "<fullname> AWS License Manager </fullname> <p>AWS License Manager makes it easier to manage licenses from software vendors across multiple AWS accounts and on-premises servers.</p>",
  "metadata": {
    "apiVersion": "2018-08-01",
    "endpointPrefix": "license-manager",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS License Manager",
    "serviceId": "License Manager",
    "signatureVersion": "v4",
    "targetPrefix": "AWSLicenseManager",
    "uid": "license-manager-2018-08-01"
  },
  "operations": {
    "CreateLicenseConfiguration": {
      "documentation": "<p>Creates a license configuration.</p> <p>A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM must be associated with a host), and the number of licenses purchased and used.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "ResourceLimitExceededException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLicenseConfigurationRequest"
      },
      "name": "CreateLicenseConfiguration",
      "output": {
        "shape": "CreateLicenseConfigurationResponse"
      }
    },
    "DeleteLicenseConfiguration": {
      "documentation": "<p>Deletes the specified license configuration.</p> <p>You cannot delete a license configuration that is in use.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLicenseConfigurationRequest"
      },
      "name": "DeleteLicenseConfiguration",
      "output": {
        "shape": "DeleteLicenseConfigurationResponse"
      }
    },
    "GetLicenseConfiguration": {
      "documentation": "<p>Gets detailed information about the specified license configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLicenseConfigurationRequest"
      },
      "name": "GetLicenseConfiguration",
      "output": {
        "shape": "GetLicenseConfigurationResponse"
      }
    },
    "GetServiceSettings": {
      "documentation": "<p>Gets the License Manager settings for the current Region.</p>",
      "errors": [
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceSettingsRequest"
      },
      "name": "GetServiceSettings",
      "output": {
        "shape": "GetServiceSettingsResponse"
      }
    },
    "ListAssociationsForLicenseConfiguration": {
      "documentation": "<p>Lists the resource associations for the specified license configuration.</p> <p>Resource associations need not consume licenses from a license configuration. For example, an AMI or a stopped instance might not consume a license (depending on the license rules).</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "FilterLimitExceededException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAssociationsForLicenseConfigurationRequest"
      },
      "name": "ListAssociationsForLicenseConfiguration",
      "output": {
        "shape": "ListAssociationsForLicenseConfigurationResponse"
      }
    },
    "ListFailuresForLicenseConfigurationOperations": {
      "documentation": "<p>Lists the license configuration operations that failed.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListFailuresForLicenseConfigurationOperationsRequest"
      },
      "name": "ListFailuresForLicenseConfigurationOperations",
      "output": {
        "shape": "ListFailuresForLicenseConfigurationOperationsResponse"
      }
    },
    "ListLicenseConfigurations": {
      "documentation": "<p>Lists the license configurations for your account.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "FilterLimitExceededException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLicenseConfigurationsRequest"
      },
      "name": "ListLicenseConfigurations",
      "output": {
        "shape": "ListLicenseConfigurationsResponse"
      }
    },
    "ListLicenseSpecificationsForResource": {
      "documentation": "<p>Describes the license configurations for the specified resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLicenseSpecificationsForResourceRequest"
      },
      "name": "ListLicenseSpecificationsForResource",
      "output": {
        "shape": "ListLicenseSpecificationsForResourceResponse"
      }
    },
    "ListResourceInventory": {
      "documentation": "<p>Lists resources managed using Systems Manager inventory.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "FilterLimitExceededException"
        },
        {
          "shape": "FailedDependencyException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourceInventoryRequest"
      },
      "name": "ListResourceInventory",
      "output": {
        "shape": "ListResourceInventoryResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for the specified license configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListUsageForLicenseConfiguration": {
      "documentation": "<p>Lists all license usage records for a license configuration, displaying license consumption details by resource at a selected point in time. Use this action to audit the current license consumption for any license inventory and configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "FilterLimitExceededException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListUsageForLicenseConfigurationRequest"
      },
      "name": "ListUsageForLicenseConfiguration",
      "output": {
        "shape": "ListUsageForLicenseConfigurationResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified license configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified license configuration.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateLicenseConfiguration": {
      "documentation": "<p>Modifies the attributes of an existing license configuration.</p> <p>A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM must be associated with a host), and the number of licenses purchased and used.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateLicenseConfigurationRequest"
      },
      "name": "UpdateLicenseConfiguration",
      "output": {
        "shape": "UpdateLicenseConfigurationResponse"
      }
    },
    "UpdateLicenseSpecificationsForResource": {
      "documentation": "<p>Adds or removes the specified license configurations for the specified AWS resource.</p> <p>You can update the license specifications of AMIs, instances, and hosts. You cannot update the license specifications for launch templates and AWS CloudFormation templates, as they send license configurations to the operation that creates the resource.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "LicenseUsageException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateLicenseSpecificationsForResourceRequest"
      },
      "name": "UpdateLicenseSpecificationsForResource",
      "output": {
        "shape": "UpdateLicenseSpecificationsForResourceResponse"
      }
    },
    "UpdateServiceSettings": {
      "documentation": "<p>Updates License Manager settings for the current Region.</p>",
      "errors": [
        {
          "shape": "InvalidParameterValueException"
        },
        {
          "shape": "ServerInternalException"
        },
        {
          "shape": "AuthorizationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RateLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceSettingsRequest"
      },
      "name": "UpdateServiceSettings",
      "output": {
        "shape": "UpdateServiceSettingsResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>Access to resource denied.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "AuthorizationException": {
      "documentation": "<p>The AWS user account does not have permission to perform the action. Check the IAM policy associated with this account.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "AutomatedDiscoveryInformation": {
      "documentation": "<p>Describes automated discovery.</p>",
      "members": {
        "LastRunTime": {
          "documentation": "<p>Time that automated discovery last ran.</p>",
          "shape": "DateTime"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BoxBoolean": {
      "type": "boolean"
    },
    "BoxInteger": {
      "type": "integer"
    },
    "BoxLong": {
      "type": "long"
    },
    "ConsumedLicenseSummary": {
      "documentation": "<p>Details about license consumption.</p>",
      "members": {
        "ConsumedLicenses": {
          "documentation": "<p>Number of licenses consumed by the resource.</p>",
          "shape": "BoxLong"
        },
        "ResourceType": {
          "documentation": "<p>Resource type of the resource consuming a license.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ConsumedLicenseSummaryList": {
      "member": {
        "shape": "ConsumedLicenseSummary"
      },
      "type": "list"
    },
    "CreateLicenseConfigurationRequest": {
      "members": {
        "Description": {
          "documentation": "<p>Description of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseCount": {
          "documentation": "<p>Number of licenses managed by the license configuration.</p>",
          "shape": "BoxLong"
        },
        "LicenseCountHardLimit": {
          "documentation": "<p>Indicates whether hard or soft license enforcement is used. Exceeding a hard limit blocks the launch of new instances.</p>",
          "shape": "BoxBoolean"
        },
        "LicenseCountingType": {
          "documentation": "<p>Dimension used to track the license inventory.</p>",
          "shape": "LicenseCountingType"
        },
        "LicenseRules": {
          "documentation": "<p>License rules. The syntax is #name=value (for example, #allowedTenancy=EC2-DedicatedHost). Available rules vary by dimension.</p> <ul> <li> <p> <code>Cores</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> </p> </li> <li> <p> <code>Instances</code> dimension: <code>allowedTenancy</code> | <code>maximumCores</code> | <code>minimumCores</code> | <code>maximumSockets</code> | <code>minimumSockets</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> <li> <p> <code>Sockets</code> dimension: <code>allowedTenancy</code> | <code>maximumSockets</code> | <code>minimumSockets</code> </p> </li> <li> <p> <code>vCPUs</code> dimension: <code>allowedTenancy</code> | <code>honorVcpuOptimization</code> | <code>maximumVcpus</code> | <code>minimumVcpus</code> </p> </li> </ul>",
          "shape": "StringList"
        },
        "Name": {
          "documentation": "<p>Name of the license configuration.</p>",
          "shape": "String"
        },
        "ProductInformationList": {
          "documentation": "<p>Product information.</p>",
          "shape": "ProductInformationList"
        },
        "Tags": {
          "documentation": "<p>Tags to add to the license configuration.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "Name",
        "LicenseCountingType"
      ],
      "type": "structure"
    },
    "CreateLicenseConfigurationResponse": {
      "members": {
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DateTime": {
      "type": "timestamp"
    },
    "DeleteLicenseConfigurationRequest": {
      "members": {
        "LicenseConfigurationArn": {
          "documentation": "<p>ID of the license configuration.</p>",
          "shape": "String"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "DeleteLicenseConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "FailedDependencyException": {
      "documentation": "<p>A dependency required to run the API is missing.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "Filter": {
      "documentation": "<p>A filter name and value pair that is used to return more specific results from a describe operation. Filters can be used to match a set of resources by specific criteria, such as tags, attributes, or IDs.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Name of the filter. Filter names are case-sensitive.</p>",
          "shape": "FilterName"
        },
        "Values": {
          "documentation": "<p>Filter values. Filter values are case-sensitive.</p>",
          "shape": "FilterValues"
        }
      },
      "type": "structure"
    },
    "FilterLimitExceededException": {
      "documentation": "<p>The request uses too many filters or too many filter values.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "FilterName": {
      "type": "string"
    },
    "FilterValue": {
      "type": "string"
    },
    "FilterValues": {
      "member": {
        "shape": "FilterValue"
      },
      "type": "list"
    },
    "Filters": {
      "member": {
        "shape": "Filter"
      },
      "type": "list"
    },
    "GetLicenseConfigurationRequest": {
      "members": {
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "GetLicenseConfigurationResponse": {
      "members": {
        "AutomatedDiscoveryInformation": {
          "documentation": "<p>Automated discovery information.</p>",
          "shape": "AutomatedDiscoveryInformation"
        },
        "ConsumedLicenseSummaryList": {
          "documentation": "<p>Summaries of the licenses consumed by resources.</p>",
          "shape": "ConsumedLicenseSummaryList"
        },
        "ConsumedLicenses": {
          "documentation": "<p>Number of licenses assigned to resources.</p>",
          "shape": "BoxLong"
        },
        "Description": {
          "documentation": "<p>Description of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseConfigurationId": {
          "documentation": "<p>Unique ID for the license configuration.</p>",
          "shape": "String"
        },
        "LicenseCount": {
          "documentation": "<p>Number of available licenses.</p>",
          "shape": "BoxLong"
        },
        "LicenseCountHardLimit": {
          "documentation": "<p>Sets the number of available licenses as a hard limit.</p>",
          "shape": "BoxBoolean"
        },
        "LicenseCountingType": {
          "documentation": "<p>Dimension on which the licenses are counted.</p>",
          "shape": "LicenseCountingType"
        },
        "LicenseRules": {
          "documentation": "<p>License rules.</p>",
          "shape": "StringList"
        },
        "ManagedResourceSummaryList": {
          "documentation": "<p>Summaries of the managed resources.</p>",
          "shape": "ManagedResourceSummaryList"
        },
        "Name": {
          "documentation": "<p>Name of the license configuration.</p>",
          "shape": "String"
        },
        "OwnerAccountId": {
          "documentation": "<p>Account ID of the owner of the license configuration.</p>",
          "shape": "String"
        },
        "ProductInformationList": {
          "documentation": "<p>Product information.</p>",
          "shape": "ProductInformationList"
        },
        "Status": {
          "documentation": "<p>License configuration status.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>Tags for the license configuration.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "GetServiceSettingsRequest": {
      "members": {},
      "type": "structure"
    },
    "GetServiceSettingsResponse": {
      "members": {
        "EnableCrossAccountsDiscovery": {
          "documentation": "<p>Indicates whether cross-account discovery has been enabled.</p>",
          "shape": "BoxBoolean"
        },
        "LicenseManagerResourceShareArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the AWS resource share. The License Manager master account will provide member accounts with access to this share.</p>",
          "shape": "String"
        },
        "OrganizationConfiguration": {
          "documentation": "<p>Indicates whether AWS Organizations has been integrated with License Manager for cross-account discovery.</p>",
          "shape": "OrganizationConfiguration"
        },
        "S3BucketArn": {
          "documentation": "<p>Regional S3 bucket path for storing reports, license trail event data, discovery data, and so on.</p>",
          "shape": "String"
        },
        "SnsTopicArn": {
          "documentation": "<p>SNS topic configured to receive notifications from License Manager.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InvalidParameterValueException": {
      "documentation": "<p>One or more parameter values are not valid.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "InvalidResourceStateException": {
      "documentation": "<p>License Manager cannot allocate a license to a resource because of its state. </p> <p>For example, you cannot allocate a license to an instance in the process of shutting down.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "InventoryFilter": {
      "documentation": "<p>An inventory filter.</p>",
      "members": {
        "Condition": {
          "documentation": "<p>Condition of the filter.</p>",
          "shape": "InventoryFilterCondition"
        },
        "Name": {
          "documentation": "<p>Name of the filter.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>Value of the filter.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "Condition"
      ],
      "type": "structure"
    },
    "InventoryFilterCondition": {
      "enum": [
        "EQUALS",
        "NOT_EQUALS",
        "BEGINS_WITH",
        "CONTAINS"
      ],
      "type": "string"
    },
    "InventoryFilterList": {
      "member": {
        "shape": "InventoryFilter"
      },
      "type": "list"
    },
    "LicenseConfiguration": {
      "documentation": "<p>A license configuration is an abstraction of a customer license agreement that can be consumed and enforced by License Manager. Components include specifications for the license type (licensing by instance, socket, CPU, or vCPU), allowed tenancy (shared tenancy, Dedicated Instance, Dedicated Host, or all of these), host affinity (how long a VM must be associated with a host), and the number of licenses purchased and used.</p>",
      "members": {
        "AutomatedDiscoveryInformation": {
          "documentation": "<p>Automated discovery information.</p>",
          "shape": "AutomatedDiscoveryInformation"
        },
        "ConsumedLicenseSummaryList": {
          "documentation": "<p>Summaries for licenses consumed by various resources.</p>",
          "shape": "ConsumedLicenseSummaryList"
        },
        "ConsumedLicenses": {
          "documentation": "<p>Number of licenses consumed. </p>",
          "shape": "BoxLong"
        },
        "Description": {
          "documentation": "<p>Description of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseConfigurationId": {
          "documentation": "<p>Unique ID of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseCount": {
          "documentation": "<p>Number of licenses managed by the license configuration.</p>",
          "shape": "BoxLong"
        },
        "LicenseCountHardLimit": {
          "documentation": "<p>Number of available licenses as a hard limit.</p>",
          "shape": "BoxBoolean"
        },
        "LicenseCountingType": {
          "documentation": "<p>Dimension to use to track the license inventory.</p>",
          "shape": "LicenseCountingType"
        },
        "LicenseRules": {
          "documentation": "<p>License rules.</p>",
          "shape": "StringList"
        },
        "ManagedResourceSummaryList": {
          "documentation": "<p>Summaries for managed resources.</p>",
          "shape": "ManagedResourceSummaryList"
        },
        "Name": {
          "documentation": "<p>Name of the license configuration.</p>",
          "shape": "String"
        },
        "OwnerAccountId": {
          "documentation": "<p>Account ID of the license configuration's owner.</p>",
          "shape": "String"
        },
        "ProductInformationList": {
          "documentation": "<p>Product information.</p>",
          "shape": "ProductInformationList"
        },
        "Status": {
          "documentation": "<p>Status of the license configuration.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "LicenseConfigurationAssociation": {
      "documentation": "<p>Describes an association with a license configuration.</p>",
      "members": {
        "AssociationTime": {
          "documentation": "<p>Time when the license configuration was associated with the resource.</p>",
          "shape": "DateTime"
        },
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "String"
        },
        "ResourceOwnerId": {
          "documentation": "<p>ID of the AWS account that owns the resource consuming licenses.</p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Type of server resource.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "LicenseConfigurationAssociations": {
      "member": {
        "shape": "LicenseConfigurationAssociation"
      },
      "type": "list"
    },
    "LicenseConfigurationStatus": {
      "enum": [
        "AVAILABLE",
        "DISABLED"
      ],
      "type": "string"
    },
    "LicenseConfigurationUsage": {
      "documentation": "<p>Details about the usage of a resource associated with a license configuration.</p>",
      "members": {
        "AssociationTime": {
          "documentation": "<p>Time when the license configuration was initially associated with the resource.</p>",
          "shape": "DateTime"
        },
        "ConsumedLicenses": {
          "documentation": "<p>Number of licenses consumed by the resource.</p>",
          "shape": "BoxLong"
        },
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "String"
        },
        "ResourceOwnerId": {
          "documentation": "<p>ID of the account that owns the resource.</p>",
          "shape": "String"
        },
        "ResourceStatus": {
          "documentation": "<p>Status of the resource.</p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Type of resource.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "LicenseConfigurationUsageList": {
      "member": {
        "shape": "LicenseConfigurationUsage"
      },
      "type": "list"
    },
    "LicenseConfigurations": {
      "member": {
        "shape": "LicenseConfiguration"
      },
      "type": "list"
    },
    "LicenseCountingType": {
      "enum": [
        "vCPU",
        "Instance",
        "Core",
        "Socket"
      ],
      "type": "string"
    },
    "LicenseOperationFailure": {
      "documentation": "<p>Describes the failure of a license operation.</p>",
      "members": {
        "ErrorMessage": {
          "documentation": "<p>Error message.</p>",
          "shape": "String"
        },
        "FailureTime": {
          "documentation": "<p>Failure time.</p>",
          "shape": "DateTime"
        },
        "MetadataList": {
          "documentation": "<p>Reserved.</p>",
          "shape": "MetadataList"
        },
        "OperationName": {
          "documentation": "<p>Name of the operation.</p>",
          "shape": "String"
        },
        "OperationRequestedBy": {
          "documentation": "<p>The requester is \"License Manager Automated Discovery\".</p>",
          "shape": "String"
        },
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "String"
        },
        "ResourceOwnerId": {
          "documentation": "<p>ID of the AWS account that owns the resource.</p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Resource type.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "LicenseOperationFailureList": {
      "member": {
        "shape": "LicenseOperationFailure"
      },
      "type": "list"
    },
    "LicenseSpecification": {
      "documentation": "<p>Details for associating a license configuration with a resource.</p>",
      "members": {
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "LicenseSpecifications": {
      "member": {
        "shape": "LicenseSpecification"
      },
      "type": "list"
    },
    "LicenseUsageException": {
      "documentation": "<p>You do not have enough licenses available to support a new resource launch.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ListAssociationsForLicenseConfigurationRequest": {
      "members": {
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of a license configuration.</p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>Maximum number of results to return in a single call.</p>",
          "shape": "BoxInteger"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "ListAssociationsForLicenseConfigurationResponse": {
      "members": {
        "LicenseConfigurationAssociations": {
          "documentation": "<p>Information about the associations for the license configuration.</p>",
          "shape": "LicenseConfigurationAssociations"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListFailuresForLicenseConfigurationOperationsRequest": {
      "members": {
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name of the license configuration.</p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>Maximum number of results to return in a single call.</p>",
          "shape": "BoxInteger"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "ListFailuresForLicenseConfigurationOperationsResponse": {
      "members": {
        "LicenseOperationFailureList": {
          "documentation": "<p>License configuration operations that failed.</p>",
          "shape": "LicenseOperationFailureList"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListLicenseConfigurationsRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>Filters to scope the results. The following filters and logical operators are supported:</p> <ul> <li> <p> <code>licenseCountingType</code> - The dimension on which licenses are counted (vCPU). Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> <li> <p> <code>enforceLicenseCount</code> - A Boolean value that indicates whether hard license enforcement is used. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> <li> <p> <code>usagelimitExceeded</code> - A Boolean value that indicates whether the available licenses have been exceeded. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> </ul>",
          "shape": "Filters"
        },
        "LicenseConfigurationArns": {
          "documentation": "<p>Amazon Resource Names (ARN) of the license configurations.</p>",
          "shape": "StringList"
        },
        "MaxResults": {
          "documentation": "<p>Maximum number of results to return in a single call.</p>",
          "shape": "BoxInteger"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListLicenseConfigurationsResponse": {
      "members": {
        "LicenseConfigurations": {
          "documentation": "<p>Information about the license configurations.</p>",
          "shape": "LicenseConfigurations"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListLicenseSpecificationsForResourceRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>Maximum number of results to return in a single call.</p>",
          "shape": "BoxInteger"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        },
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of a resource that has an associated license configuration.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListLicenseSpecificationsForResourceResponse": {
      "members": {
        "LicenseSpecifications": {
          "documentation": "<p>License configurations associated with a resource.</p>",
          "shape": "LicenseSpecifications"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListResourceInventoryRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>Filters to scope the results. The following filters and logical operators are supported:</p> <ul> <li> <p> <code>account_id</code> - The ID of the AWS account that owns the resource. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> <li> <p> <code>application_name</code> - The name of the application. Logical operators are <code>EQUALS</code> | <code>BEGINS_WITH</code>.</p> </li> <li> <p> <code>license_included</code> - The type of license included. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>. Possible values are <code>sql-server-enterprise</code> | <code>sql-server-standard</code> | <code>sql-server-web</code> | <code>windows-server-datacenter</code>.</p> </li> <li> <p> <code>platform</code> - The platform of the resource. Logical operators are <code>EQUALS</code> | <code>BEGINS_WITH</code>.</p> </li> <li> <p> <code>resource_id</code> - The ID of the resource. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> </ul>",
          "shape": "InventoryFilterList"
        },
        "MaxResults": {
          "documentation": "<p>Maximum number of results to return in a single call.</p>",
          "shape": "BoxInteger"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ListResourceInventoryResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        },
        "ResourceInventoryList": {
          "documentation": "<p>Information about the resources.</p>",
          "shape": "ResourceInventoryList"
        }
      },
      "type": "structure"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "Tags": {
          "documentation": "<p>Information about the tags.</p>",
          "shape": "TagList"
        }
      },
      "type": "structure"
    },
    "ListUsageForLicenseConfigurationRequest": {
      "members": {
        "Filters": {
          "documentation": "<p>Filters to scope the results. The following filters and logical operators are supported:</p> <ul> <li> <p> <code>resourceArn</code> - The ARN of the license configuration resource. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> <li> <p> <code>resourceType</code> - The resource type (EC2_INSTANCE | EC2_HOST | EC2_AMI | SYSTEMS_MANAGER_MANAGED_INSTANCE). Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> <li> <p> <code>resourceAccount</code> - The ID of the account that owns the resource. Logical operators are <code>EQUALS</code> | <code>NOT_EQUALS</code>.</p> </li> </ul>",
          "shape": "Filters"
        },
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        },
        "MaxResults": {
          "documentation": "<p>Maximum number of results to return in a single call.</p>",
          "shape": "BoxInteger"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "ListUsageForLicenseConfigurationResponse": {
      "members": {
        "LicenseConfigurationUsageList": {
          "documentation": "<p>Information about the license configurations.</p>",
          "shape": "LicenseConfigurationUsageList"
        },
        "NextToken": {
          "documentation": "<p>Token for the next set of results.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ManagedResourceSummary": {
      "documentation": "<p>Summary information about a managed resource.</p>",
      "members": {
        "AssociationCount": {
          "documentation": "<p>Number of resources associated with licenses.</p>",
          "shape": "BoxLong"
        },
        "ResourceType": {
          "documentation": "<p>Type of resource associated with a license.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ManagedResourceSummaryList": {
      "member": {
        "shape": "ManagedResourceSummary"
      },
      "type": "list"
    },
    "Message": {
      "type": "string"
    },
    "Metadata": {
      "documentation": "<p>Reserved.</p>",
      "members": {
        "Name": {
          "documentation": "<p>Reserved.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>Reserved.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "MetadataList": {
      "member": {
        "shape": "Metadata"
      },
      "type": "list"
    },
    "OrganizationConfiguration": {
      "documentation": "<p>Configuration information for AWS Organizations.</p>",
      "members": {
        "EnableIntegration": {
          "documentation": "<p>Enables AWS Organization integration.</p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "EnableIntegration"
      ],
      "type": "structure"
    },
    "ProductInformation": {
      "documentation": "<p>Describes product information for a license configuration.</p>",
      "members": {
        "ProductInformationFilterList": {
          "documentation": "<p>Product information filters. The following filters and logical operators are supported:</p> <ul> <li> <p> <code>Application Name</code> - The name of the application. Logical operator is <code>EQUALS</code>.</p> </li> <li> <p> <code>Application Publisher</code> - The publisher of the application. Logical operator is <code>EQUALS</code>.</p> </li> <li> <p> <code>Application Version</code> - The version of the application. Logical operator is <code>EQUALS</code>.</p> </li> <li> <p> <code>Platform Name</code> - The name of the platform. Logical operator is <code>EQUALS</code>.</p> </li> <li> <p> <code>Platform Type</code> - The platform type. Logical operator is <code>EQUALS</code>.</p> </li> <li> <p> <code>License Included</code> - The type of license included. Logical operators are <code>EQUALS</code> and <code>NOT_EQUALS</code>. Possible values are <code>sql-server-enterprise</code> | <code>sql-server-standard</code> | <code>sql-server-web</code> | <code>windows-server-datacenter</code>.</p> </li> </ul>",
          "shape": "ProductInformationFilterList"
        },
        "ResourceType": {
          "documentation": "<p>Resource type. The value is <code>SSM_MANAGED</code>.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ResourceType",
        "ProductInformationFilterList"
      ],
      "type": "structure"
    },
    "ProductInformationFilter": {
      "documentation": "<p>Describes product information filters.</p>",
      "members": {
        "ProductInformationFilterComparator": {
          "documentation": "<p>Logical operator.</p>",
          "shape": "String"
        },
        "ProductInformationFilterName": {
          "documentation": "<p>Filter name.</p>",
          "shape": "String"
        },
        "ProductInformationFilterValue": {
          "documentation": "<p>Filter value.</p>",
          "shape": "StringList"
        }
      },
      "required": [
        "ProductInformationFilterName",
        "ProductInformationFilterValue",
        "ProductInformationFilterComparator"
      ],
      "type": "structure"
    },
    "ProductInformationFilterList": {
      "member": {
        "shape": "ProductInformationFilter"
      },
      "type": "list"
    },
    "ProductInformationList": {
      "member": {
        "shape": "ProductInformation"
      },
      "type": "list"
    },
    "RateLimitExceededException": {
      "documentation": "<p>Too many requests have been submitted. Try again after a brief wait.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ResourceInventory": {
      "documentation": "<p>Details about a resource.</p>",
      "members": {
        "Platform": {
          "documentation": "<p>Platform of the resource.</p>",
          "shape": "String"
        },
        "PlatformVersion": {
          "documentation": "<p>Platform version of the resource in the inventory.</p>",
          "shape": "String"
        },
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "String"
        },
        "ResourceId": {
          "documentation": "<p>ID of the resource.</p>",
          "shape": "String"
        },
        "ResourceOwningAccountId": {
          "documentation": "<p>ID of the account that owns the resource.</p>",
          "shape": "String"
        },
        "ResourceType": {
          "documentation": "<p>Type of resource.</p>",
          "shape": "ResourceType"
        }
      },
      "type": "structure"
    },
    "ResourceInventoryList": {
      "member": {
        "shape": "ResourceInventory"
      },
      "type": "list"
    },
    "ResourceLimitExceededException": {
      "documentation": "<p>Your resource limits have been exceeded.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "ResourceType": {
      "enum": [
        "EC2_INSTANCE",
        "EC2_HOST",
        "EC2_AMI",
        "RDS",
        "SYSTEMS_MANAGER_MANAGED_INSTANCE"
      ],
      "type": "string"
    },
    "ServerInternalException": {
      "documentation": "<p>The server experienced an internal error. Try again.</p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "Message"
        }
      },
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "StringList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "Tag": {
      "documentation": "<p>Details about a tag for a license configuration.</p>",
      "members": {
        "Key": {
          "documentation": "<p>Tag key.</p>",
          "shape": "String"
        },
        "Value": {
          "documentation": "<p>Tag value.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "TagKeyList": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "TagList": {
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "TagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        },
        "Tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceArn",
        "Tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UntagResourceRequest": {
      "members": {
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        },
        "TagKeys": {
          "documentation": "<p>Keys identifying the tags to remove.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "ResourceArn",
        "TagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateLicenseConfigurationRequest": {
      "members": {
        "Description": {
          "documentation": "<p>New description of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseConfigurationArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the license configuration.</p>",
          "shape": "String"
        },
        "LicenseConfigurationStatus": {
          "documentation": "<p>New status of the license configuration.</p>",
          "shape": "LicenseConfigurationStatus"
        },
        "LicenseCount": {
          "documentation": "<p>New number of licenses managed by the license configuration.</p>",
          "shape": "BoxLong"
        },
        "LicenseCountHardLimit": {
          "documentation": "<p>New hard limit of the number of available licenses.</p>",
          "shape": "BoxBoolean"
        },
        "LicenseRules": {
          "documentation": "<p>New license rules.</p>",
          "shape": "StringList"
        },
        "Name": {
          "documentation": "<p>New name of the license configuration.</p>",
          "shape": "String"
        },
        "ProductInformationList": {
          "documentation": "<p>New product information.</p>",
          "shape": "ProductInformationList"
        }
      },
      "required": [
        "LicenseConfigurationArn"
      ],
      "type": "structure"
    },
    "UpdateLicenseConfigurationResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateLicenseSpecificationsForResourceRequest": {
      "members": {
        "AddLicenseSpecifications": {
          "documentation": "<p>ARNs of the license configurations to add.</p>",
          "shape": "LicenseSpecifications"
        },
        "RemoveLicenseSpecifications": {
          "documentation": "<p>ARNs of the license configurations to remove.</p>",
          "shape": "LicenseSpecifications"
        },
        "ResourceArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the AWS resource.</p>",
          "shape": "String"
        }
      },
      "required": [
        "ResourceArn"
      ],
      "type": "structure"
    },
    "UpdateLicenseSpecificationsForResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "UpdateServiceSettingsRequest": {
      "members": {
        "EnableCrossAccountsDiscovery": {
          "documentation": "<p>Activates cross-account discovery.</p>",
          "shape": "BoxBoolean"
        },
        "OrganizationConfiguration": {
          "documentation": "<p>Enables integration with AWS Organizations for cross-account discovery.</p>",
          "shape": "OrganizationConfiguration"
        },
        "S3BucketArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon S3 bucket where the License Manager information is stored.</p>",
          "shape": "String"
        },
        "SnsTopicArn": {
          "documentation": "<p>Amazon Resource Name (ARN) of the Amazon SNS topic used for License Manager alerts.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "UpdateServiceSettingsResponse": {
      "members": {},
      "type": "structure"
    }
  },
  "version": "2.0"
}
