{
  "documentation": "<fullname>Amazon CloudSearch Configuration Service</fullname> <p>You use the Amazon CloudSearch configuration service to create, configure, and manage search domains. Configuration service requests are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS requests submitted via HTTP GET or POST with a query parameter named Action.</p> <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com. For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region\" target=\"_blank\">Regions and Endpoints</a>.</p>",
  "metadata": {
    "apiVersion": "2013-01-01",
    "endpointPrefix": "cloudsearch",
    "protocol": "query",
    "serviceFullName": "Amazon CloudSearch",
    "serviceId": "CloudSearch",
    "signatureVersion": "v4",
    "uid": "cloudsearch-2013-01-01",
    "xmlNamespace": "http://cloudsearch.amazonaws.com/doc/2013-01-01/"
  },
  "operations": {
    "BuildSuggesters": {
      "documentation": "<p>Indexes the search suggestions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html#configuring-suggesters\">Configuring Suggesters</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BuildSuggestersRequest"
      },
      "name": "BuildSuggesters",
      "output": {
        "resultWrapper": "BuildSuggestersResult",
        "shape": "BuildSuggestersResponse"
      }
    },
    "CreateDomain": {
      "documentation": "<p>Creates a new search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/creating-domains.html\" target=\"_blank\">Creating a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDomainRequest"
      },
      "name": "CreateDomain",
      "output": {
        "resultWrapper": "CreateDomainResult",
        "shape": "CreateDomainResponse"
      }
    },
    "DefineAnalysisScheme": {
      "documentation": "<p>Configures an analysis scheme that can be applied to a <code>text</code> or <code>text-array</code> field to define language-specific text processing options. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DefineAnalysisSchemeRequest"
      },
      "name": "DefineAnalysisScheme",
      "output": {
        "resultWrapper": "DefineAnalysisSchemeResult",
        "shape": "DefineAnalysisSchemeResponse"
      }
    },
    "DefineExpression": {
      "documentation": "<p>Configures an <code><a>Expression</a></code> for the search domain. Used to create new expressions and modify existing ones. If the expression exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DefineExpressionRequest"
      },
      "name": "DefineExpression",
      "output": {
        "resultWrapper": "DefineExpressionResult",
        "shape": "DefineExpressionResponse"
      }
    },
    "DefineIndexField": {
      "documentation": "<p>Configures an <code><a>IndexField</a></code> for the search domain. Used to create new fields and modify existing ones. You must specify the name of the domain you are configuring and an index field configuration. The index field configuration specifies a unique name, the index field type, and the options you want to configure for the field. The options you can specify depend on the <code><a>IndexFieldType</a></code>. If the field exists, the new configuration replaces the old one. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DefineIndexFieldRequest"
      },
      "name": "DefineIndexField",
      "output": {
        "resultWrapper": "DefineIndexFieldResult",
        "shape": "DefineIndexFieldResponse"
      }
    },
    "DefineSuggester": {
      "documentation": "<p>Configures a suggester for a domain. A suggester enables you to display possible matches before users finish typing their queries. When you configure a suggester, you must specify the name of the text field you want to search for possible matches and a unique name for the suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DefineSuggesterRequest"
      },
      "name": "DefineSuggester",
      "output": {
        "resultWrapper": "DefineSuggesterResult",
        "shape": "DefineSuggesterResponse"
      }
    },
    "DeleteAnalysisScheme": {
      "documentation": "<p>Deletes an analysis scheme. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAnalysisSchemeRequest"
      },
      "name": "DeleteAnalysisScheme",
      "output": {
        "resultWrapper": "DeleteAnalysisSchemeResult",
        "shape": "DeleteAnalysisSchemeResponse"
      }
    },
    "DeleteDomain": {
      "documentation": "<p>Permanently deletes a search domain and all of its data. Once a domain has been deleted, it cannot be recovered. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/deleting-domains.html\" target=\"_blank\">Deleting a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDomainRequest"
      },
      "name": "DeleteDomain",
      "output": {
        "resultWrapper": "DeleteDomainResult",
        "shape": "DeleteDomainResponse"
      }
    },
    "DeleteExpression": {
      "documentation": "<p>Removes an <code><a>Expression</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteExpressionRequest"
      },
      "name": "DeleteExpression",
      "output": {
        "resultWrapper": "DeleteExpressionResult",
        "shape": "DeleteExpressionResponse"
      }
    },
    "DeleteIndexField": {
      "documentation": "<p>Removes an <code><a>IndexField</a></code> from the search domain. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteIndexFieldRequest"
      },
      "name": "DeleteIndexField",
      "output": {
        "resultWrapper": "DeleteIndexFieldResult",
        "shape": "DeleteIndexFieldResponse"
      }
    },
    "DeleteSuggester": {
      "documentation": "<p>Deletes a suggester. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSuggesterRequest"
      },
      "name": "DeleteSuggester",
      "output": {
        "resultWrapper": "DeleteSuggesterResult",
        "shape": "DeleteSuggesterResponse"
      }
    },
    "DescribeAnalysisSchemes": {
      "documentation": "<p>Gets the analysis schemes configured for a domain. An analysis scheme defines language-specific text processing options for a <code>text</code> field. Can be limited to specific analysis schemes by name. By default, shows all analysis schemes and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html\" target=\"_blank\">Configuring Analysis Schemes</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAnalysisSchemesRequest"
      },
      "name": "DescribeAnalysisSchemes",
      "output": {
        "resultWrapper": "DescribeAnalysisSchemesResult",
        "shape": "DescribeAnalysisSchemesResponse"
      }
    },
    "DescribeAvailabilityOptions": {
      "documentation": "<p>Gets the availability options configured for a domain. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAvailabilityOptionsRequest"
      },
      "name": "DescribeAvailabilityOptions",
      "output": {
        "resultWrapper": "DescribeAvailabilityOptionsResult",
        "shape": "DescribeAvailabilityOptionsResponse"
      }
    },
    "DescribeDomainEndpointOptions": {
      "documentation": "<p>Returns the domain's endpoint options, specifically whether all requests to the domain must arrive over HTTPS. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-domain-endpoint-options.html\" target=\"_blank\">Configuring Domain Endpoint Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDomainEndpointOptionsRequest"
      },
      "name": "DescribeDomainEndpointOptions",
      "output": {
        "resultWrapper": "DescribeDomainEndpointOptionsResult",
        "shape": "DescribeDomainEndpointOptionsResponse"
      }
    },
    "DescribeDomains": {
      "documentation": "<p>Gets information about the search domains owned by this account. Can be limited to specific domains. Shows all domains by default. To get the number of searchable documents in a domain, use the console or submit a <code>matchall</code> request to your domain's search endpoint: <code>q=matchall&amp;amp;q.parser=structured&amp;amp;size=0</code>. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Information about a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDomainsRequest"
      },
      "name": "DescribeDomains",
      "output": {
        "resultWrapper": "DescribeDomainsResult",
        "shape": "DescribeDomainsResponse"
      }
    },
    "DescribeExpressions": {
      "documentation": "<p>Gets the expressions configured for the search domain. Can be limited to specific expressions by name. By default, shows all expressions and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExpressionsRequest"
      },
      "name": "DescribeExpressions",
      "output": {
        "resultWrapper": "DescribeExpressionsResult",
        "shape": "DescribeExpressionsResponse"
      }
    },
    "DescribeIndexFields": {
      "documentation": "<p>Gets information about the index fields configured for the search domain. Can be limited to specific fields by name. By default, shows all fields and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-domain-info.html\" target=\"_blank\">Getting Domain Information</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeIndexFieldsRequest"
      },
      "name": "DescribeIndexFields",
      "output": {
        "resultWrapper": "DescribeIndexFieldsResult",
        "shape": "DescribeIndexFieldsResponse"
      }
    },
    "DescribeScalingParameters": {
      "documentation": "<p>Gets the scaling parameters configured for a domain. A domain's scaling parameters specify the desired search instance type and replication count. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeScalingParametersRequest"
      },
      "name": "DescribeScalingParameters",
      "output": {
        "resultWrapper": "DescribeScalingParametersResult",
        "shape": "DescribeScalingParametersResponse"
      }
    },
    "DescribeServiceAccessPolicies": {
      "documentation": "<p>Gets information about the access policies that control access to the domain's document and search endpoints. By default, shows the configuration with any pending changes. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServiceAccessPoliciesRequest"
      },
      "name": "DescribeServiceAccessPolicies",
      "output": {
        "resultWrapper": "DescribeServiceAccessPoliciesResult",
        "shape": "DescribeServiceAccessPoliciesResponse"
      }
    },
    "DescribeSuggesters": {
      "documentation": "<p>Gets the suggesters configured for a domain. A suggester enables you to display possible matches before users finish typing their queries. Can be limited to specific suggesters by name. By default, shows all suggesters and includes any pending changes to the configuration. Set the <code>Deployed</code> option to <code>true</code> to show the active configuration and exclude pending changes. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/getting-suggestions.html\" target=\"_blank\">Getting Search Suggestions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSuggestersRequest"
      },
      "name": "DescribeSuggesters",
      "output": {
        "resultWrapper": "DescribeSuggestersResult",
        "shape": "DescribeSuggestersResponse"
      }
    },
    "IndexDocuments": {
      "documentation": "<p>Tells the search domain to start indexing its documents using the latest indexing options. This operation must be invoked to activate options whose <a>OptionStatus</a> is <code>RequiresIndexDocuments</code>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "IndexDocumentsRequest"
      },
      "name": "IndexDocuments",
      "output": {
        "resultWrapper": "IndexDocumentsResult",
        "shape": "IndexDocumentsResponse"
      }
    },
    "ListDomainNames": {
      "documentation": "<p>Lists all search domains owned by an account.</p>",
      "errors": [
        {
          "shape": "BaseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "ListDomainNames",
      "output": {
        "resultWrapper": "ListDomainNamesResult",
        "shape": "ListDomainNamesResponse"
      }
    },
    "UpdateAvailabilityOptions": {
      "documentation": "<p>Configures the availability options for a domain. Enabling the Multi-AZ option expands an Amazon CloudSearch domain to an additional Availability Zone in the same Region to increase fault tolerance in the event of a service disruption. Changes to the Multi-AZ option can take about half an hour to become active. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-availability-options.html\" target=\"_blank\">Configuring Availability Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAvailabilityOptionsRequest"
      },
      "name": "UpdateAvailabilityOptions",
      "output": {
        "resultWrapper": "UpdateAvailabilityOptionsResult",
        "shape": "UpdateAvailabilityOptionsResponse"
      }
    },
    "UpdateDomainEndpointOptions": {
      "documentation": "<p>Updates the domain's endpoint options, specifically whether all requests to the domain must arrive over HTTPS. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-domain-endpoint-options.html\" target=\"_blank\">Configuring Domain Endpoint Options</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DisabledOperationException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateDomainEndpointOptionsRequest"
      },
      "name": "UpdateDomainEndpointOptions",
      "output": {
        "resultWrapper": "UpdateDomainEndpointOptionsResult",
        "shape": "UpdateDomainEndpointOptionsResponse"
      }
    },
    "UpdateScalingParameters": {
      "documentation": "<p>Configures scaling parameters for a domain. A domain's scaling parameters specify the desired search instance type and replication count. Amazon CloudSearch will still automatically scale your domain based on the volume of data and traffic, but not below the desired instance type and replication count. If the Multi-AZ option is enabled, these values control the resources used per Availability Zone. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-scaling-options.html\" target=\"_blank\">Configuring Scaling Options</a> in the <i>Amazon CloudSearch Developer Guide</i>. </p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateScalingParametersRequest"
      },
      "name": "UpdateScalingParameters",
      "output": {
        "resultWrapper": "UpdateScalingParametersResult",
        "shape": "UpdateScalingParametersResponse"
      }
    },
    "UpdateServiceAccessPolicies": {
      "documentation": "<p>Configures the access rules that control access to the domain's document and search endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\"> Configuring Access for an Amazon CloudSearch Domain</a>.</p>",
      "errors": [
        {
          "shape": "BaseException"
        },
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidTypeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceAccessPoliciesRequest"
      },
      "name": "UpdateServiceAccessPolicies",
      "output": {
        "resultWrapper": "UpdateServiceAccessPoliciesResult",
        "shape": "UpdateServiceAccessPoliciesResponse"
      }
    }
  },
  "shapes": {
    "APIVersion": {
      "documentation": "<p>The Amazon CloudSearch API version for a domain: 2011-02-01 or 2013-01-01.</p>",
      "type": "string"
    },
    "ARN": {
      "documentation": "<p>The Amazon Resource Name (ARN) of the search domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\" target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and Access Management</i> for more information.</p>",
      "type": "string"
    },
    "AccessPoliciesStatus": {
      "documentation": "<p>The configured access rules for the domain's document and search endpoints, and the current status of those rules.</p>",
      "members": {
        "Options": {
          "shape": "PolicyDocument"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AlgorithmicStemming": {
      "enum": [
        "none",
        "minimal",
        "light",
        "full"
      ],
      "type": "string"
    },
    "AnalysisOptions": {
      "documentation": "<p>Synonyms, stopwords, and stemming options for an analysis scheme. Includes tokenization dictionary for Japanese.</p>",
      "members": {
        "AlgorithmicStemming": {
          "documentation": "<p>The level of algorithmic stemming to perform: <code>none</code>, <code>minimal</code>, <code>light</code>, or <code>full</code>. The available levels vary depending on the language. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/text-processing.html#text-processing-settings\" target=\"_blank\">Language Specific Text Processing Settings</a> in the <i>Amazon CloudSearch Developer Guide</i> </p>",
          "shape": "AlgorithmicStemming"
        },
        "JapaneseTokenizationDictionary": {
          "documentation": "<p>A JSON array that contains a collection of terms, tokens, readings and part of speech for Japanese Tokenizaiton. The Japanese tokenization dictionary enables you to override the default tokenization for selected terms. This is only valid for Japanese language fields.</p>",
          "shape": "String"
        },
        "StemmingDictionary": {
          "documentation": "<p>A JSON object that contains a collection of string:value pairs that each map a term to its stem. For example, <code>{\"term1\": \"stem1\", \"term2\": \"stem2\", \"term3\": \"stem3\"}</code>. The stemming dictionary is applied in addition to any algorithmic stemming. This enables you to override the results of the algorithmic stemming to correct specific cases of overstemming or understemming. The maximum size of a stemming dictionary is 500 KB.</p>",
          "shape": "String"
        },
        "Stopwords": {
          "documentation": "<p>A JSON array of terms to ignore during indexing and searching. For example, <code>[\"a\", \"an\", \"the\", \"of\"]</code>. The stopwords dictionary must explicitly list each word you want to ignore. Wildcards and regular expressions are not supported. </p>",
          "shape": "String"
        },
        "Synonyms": {
          "documentation": "<p>A JSON object that defines synonym groups and aliases. A synonym group is an array of arrays, where each sub-array is a group of terms where each term in the group is considered a synonym of every other term in the group. The aliases value is an object that contains a collection of string:value pairs where the string specifies a term and the array of values specifies each of the aliases for that term. An alias is considered a synonym of the specified term, but the term is not considered a synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AnalysisScheme": {
      "documentation": "<p>Configuration information for an analysis scheme. Each analysis scheme has a unique name and specifies the language of the text to be processed. The following options can be configured for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>, <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.</p>",
      "members": {
        "AnalysisOptions": {
          "shape": "AnalysisOptions"
        },
        "AnalysisSchemeLanguage": {
          "shape": "AnalysisSchemeLanguage"
        },
        "AnalysisSchemeName": {
          "shape": "StandardName"
        }
      },
      "required": [
        "AnalysisSchemeName",
        "AnalysisSchemeLanguage"
      ],
      "type": "structure"
    },
    "AnalysisSchemeLanguage": {
      "documentation": "<p>An <a href=\"http://tools.ietf.org/html/rfc4646\" target=\"_blank\">IETF RFC 4646</a> language code or <code>mul</code> for multiple languages.</p>",
      "enum": [
        "ar",
        "bg",
        "ca",
        "cs",
        "da",
        "de",
        "el",
        "en",
        "es",
        "eu",
        "fa",
        "fi",
        "fr",
        "ga",
        "gl",
        "he",
        "hi",
        "hu",
        "hy",
        "id",
        "it",
        "ja",
        "ko",
        "lv",
        "mul",
        "nl",
        "no",
        "pt",
        "ro",
        "ru",
        "sv",
        "th",
        "tr",
        "zh-Hans",
        "zh-Hant"
      ],
      "type": "string"
    },
    "AnalysisSchemeStatus": {
      "documentation": "<p>The status and configuration of an <code>AnalysisScheme</code>.</p>",
      "members": {
        "Options": {
          "shape": "AnalysisScheme"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "AnalysisSchemeStatusList": {
      "documentation": "<p>A list of the analysis schemes configured for a domain.</p>",
      "member": {
        "shape": "AnalysisSchemeStatus"
      },
      "type": "list"
    },
    "AvailabilityOptionsStatus": {
      "documentation": "<p>The status and configuration of the domain's availability options.</p>",
      "members": {
        "Options": {
          "documentation": "<p>The availability options configured for the domain.</p>",
          "shape": "MultiAZ"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "BaseException": {
      "documentation": "<p>An error occurred while processing the request.</p>",
      "exception": true,
      "members": {
        "Code": {
          "shape": "ErrorCode"
        },
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BuildSuggestersRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies the name of the domain you want to update.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "BuildSuggestersResponse": {
      "documentation": "<p>The result of a <code>BuildSuggester</code> request. Contains a list of the fields used for suggestions.</p>",
      "members": {
        "FieldNames": {
          "shape": "FieldNameList"
        }
      },
      "type": "structure"
    },
    "CreateDomainRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies a name for the new search domain.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>A name for the domain you are creating. Allowed characters are a-z (lower-case letters), 0-9, and hyphen (-). Domain names must start with a letter or number and be at least 3 and no more than 28 characters long.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "CreateDomainResponse": {
      "documentation": "<p>The result of a <code>CreateDomainRequest</code>. Contains the status of a newly created domain.</p>",
      "members": {
        "DomainStatus": {
          "shape": "DomainStatus"
        }
      },
      "type": "structure"
    },
    "DateArrayOptions": {
      "documentation": "<p>Options for a field that contains an array of dates. Present if <code>IndexFieldType</code> specifies the field is of type <code>date-array</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SourceFields": {
          "documentation": "<p>A list of source fields to map to the field. </p>",
          "shape": "FieldNameCommaList"
        }
      },
      "type": "structure"
    },
    "DateOptions": {
      "documentation": "<p>Options for a date field. Dates and times are specified in UTC (Coordinated Universal Time) according to IETF RFC3339: yyyy-mm-ddT00:00:00Z. Present if <code>IndexFieldType</code> specifies the field is of type <code>date</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SortEnabled": {
          "documentation": "<p>Whether the field can be used to sort the search results.</p>",
          "shape": "Boolean"
        },
        "SourceField": {
          "shape": "FieldName"
        }
      },
      "type": "structure"
    },
    "DefineAnalysisSchemeRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme configuration.</p>",
      "members": {
        "AnalysisScheme": {
          "shape": "AnalysisScheme"
        },
        "DomainName": {
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName",
        "AnalysisScheme"
      ],
      "type": "structure"
    },
    "DefineAnalysisSchemeResponse": {
      "documentation": "<p>The result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status of the newly-configured analysis scheme.</p>",
      "members": {
        "AnalysisScheme": {
          "shape": "AnalysisSchemeStatus"
        }
      },
      "required": [
        "AnalysisScheme"
      ],
      "type": "structure"
    },
    "DefineExpressionRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies the name of the domain you want to update and the expression you want to configure.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "Expression": {
          "shape": "Expression"
        }
      },
      "required": [
        "DomainName",
        "Expression"
      ],
      "type": "structure"
    },
    "DefineExpressionResponse": {
      "documentation": "<p>The result of a <code>DefineExpression</code> request. Contains the status of the newly-configured expression.</p>",
      "members": {
        "Expression": {
          "shape": "ExpressionStatus"
        }
      },
      "required": [
        "Expression"
      ],
      "type": "structure"
    },
    "DefineIndexFieldRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies the name of the domain you want to update and the index field configuration.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "IndexField": {
          "documentation": "<p>The index field and field options you want to configure. </p>",
          "shape": "IndexField"
        }
      },
      "required": [
        "DomainName",
        "IndexField"
      ],
      "type": "structure"
    },
    "DefineIndexFieldResponse": {
      "documentation": "<p>The result of a <code><a>DefineIndexField</a></code> request. Contains the status of the newly-configured index field.</p>",
      "members": {
        "IndexField": {
          "shape": "IndexFieldStatus"
        }
      },
      "required": [
        "IndexField"
      ],
      "type": "structure"
    },
    "DefineSuggesterRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies the name of the domain you want to update and the suggester configuration.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "Suggester": {
          "shape": "Suggester"
        }
      },
      "required": [
        "DomainName",
        "Suggester"
      ],
      "type": "structure"
    },
    "DefineSuggesterResponse": {
      "documentation": "<p>The result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured suggester.</p>",
      "members": {
        "Suggester": {
          "shape": "SuggesterStatus"
        }
      },
      "required": [
        "Suggester"
      ],
      "type": "structure"
    },
    "DeleteAnalysisSchemeRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies the name of the domain you want to update and the analysis scheme you want to delete. </p>",
      "members": {
        "AnalysisSchemeName": {
          "documentation": "<p>The name of the analysis scheme you want to delete.</p>",
          "shape": "StandardName"
        },
        "DomainName": {
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName",
        "AnalysisSchemeName"
      ],
      "type": "structure"
    },
    "DeleteAnalysisSchemeResponse": {
      "documentation": "<p>The result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the deleted analysis scheme.</p>",
      "members": {
        "AnalysisScheme": {
          "documentation": "<p>The status of the analysis scheme being deleted.</p>",
          "shape": "AnalysisSchemeStatus"
        }
      },
      "required": [
        "AnalysisScheme"
      ],
      "type": "structure"
    },
    "DeleteDomainRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies the name of the domain you want to delete.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The name of the domain you want to permanently delete.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DeleteDomainResponse": {
      "documentation": "<p>The result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted domain, or no status if the domain has already been completely deleted.</p>",
      "members": {
        "DomainStatus": {
          "shape": "DomainStatus"
        }
      },
      "type": "structure"
    },
    "DeleteExpressionRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies the name of the domain you want to update and the name of the expression you want to delete.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "ExpressionName": {
          "documentation": "<p>The name of the <code><a>Expression</a></code> to delete.</p>",
          "shape": "StandardName"
        }
      },
      "required": [
        "DomainName",
        "ExpressionName"
      ],
      "type": "structure"
    },
    "DeleteExpressionResponse": {
      "documentation": "<p>The result of a <code><a>DeleteExpression</a></code> request. Specifies the expression being deleted.</p>",
      "members": {
        "Expression": {
          "documentation": "<p>The status of the expression being deleted.</p>",
          "shape": "ExpressionStatus"
        }
      },
      "required": [
        "Expression"
      ],
      "type": "structure"
    },
    "DeleteIndexFieldRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies the name of the domain you want to update and the name of the index field you want to delete.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "IndexFieldName": {
          "documentation": "<p>The name of the index field your want to remove from the domain's indexing options.</p>",
          "shape": "DynamicFieldName"
        }
      },
      "required": [
        "DomainName",
        "IndexFieldName"
      ],
      "type": "structure"
    },
    "DeleteIndexFieldResponse": {
      "documentation": "<p>The result of a <code><a>DeleteIndexField</a></code> request.</p>",
      "members": {
        "IndexField": {
          "documentation": "<p>The status of the index field being deleted.</p>",
          "shape": "IndexFieldStatus"
        }
      },
      "required": [
        "IndexField"
      ],
      "type": "structure"
    },
    "DeleteSuggesterRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies the name of the domain you want to update and name of the suggester you want to delete.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "SuggesterName": {
          "documentation": "<p>Specifies the name of the suggester you want to delete.</p>",
          "shape": "StandardName"
        }
      },
      "required": [
        "DomainName",
        "SuggesterName"
      ],
      "type": "structure"
    },
    "DeleteSuggesterResponse": {
      "documentation": "<p>The result of a <code>DeleteSuggester</code> request. Contains the status of the deleted suggester.</p>",
      "members": {
        "Suggester": {
          "documentation": "<p>The status of the suggester being deleted.</p>",
          "shape": "SuggesterStatus"
        }
      },
      "required": [
        "Suggester"
      ],
      "type": "structure"
    },
    "DescribeAnalysisSchemesRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation. Specifies the name of the domain you want to describe. To limit the response to particular analysis schemes, specify the names of the analysis schemes you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>. </p>",
      "members": {
        "AnalysisSchemeNames": {
          "documentation": "<p>The analysis schemes you want to describe.</p>",
          "shape": "StandardNameList"
        },
        "Deployed": {
          "documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain you want to describe.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeAnalysisSchemesResponse": {
      "documentation": "<p>The result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis schemes configured for the domain specified in the request.</p>",
      "members": {
        "AnalysisSchemes": {
          "documentation": "<p>The analysis scheme descriptions.</p>",
          "shape": "AnalysisSchemeStatusList"
        }
      },
      "required": [
        "AnalysisSchemes"
      ],
      "type": "structure"
    },
    "DescribeAvailabilityOptionsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
      "members": {
        "Deployed": {
          "documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain you want to describe.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeAvailabilityOptionsResponse": {
      "documentation": "<p>The result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether or not the Multi-AZ option is enabled for the domain specified in the request. </p>",
      "members": {
        "AvailabilityOptions": {
          "documentation": "<p>The availability options configured for the domain. Indicates whether Multi-AZ is enabled for the domain. </p>",
          "shape": "AvailabilityOptionsStatus"
        }
      },
      "type": "structure"
    },
    "DescribeDomainEndpointOptionsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeDomainEndpointOptions</a></code> operation. Specify the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the Deployed option to <code>true</code>.</p>",
      "members": {
        "Deployed": {
          "documentation": "<p>Whether to retrieve the latest configuration (which might be in a Processing state) or the current, active configuration. Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>A string that represents the name of a domain.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeDomainEndpointOptionsResponse": {
      "documentation": "<p>The result of a <code>DescribeDomainEndpointOptions</code> request. Contains the status and configuration of a search domain's endpoint options. </p>",
      "members": {
        "DomainEndpointOptions": {
          "documentation": "<p>The status and configuration of a search domain's endpoint options.</p>",
          "shape": "DomainEndpointOptionsStatus"
        }
      },
      "type": "structure"
    },
    "DescribeDomainsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. By default shows the status of all domains. To restrict the response to particular domains, specify the names of the domains you want to describe.</p>",
      "members": {
        "DomainNames": {
          "documentation": "<p>The names of the domains you want to include in the response.</p>",
          "shape": "DomainNameList"
        }
      },
      "type": "structure"
    },
    "DescribeDomainsResponse": {
      "documentation": "<p>The result of a <code>DescribeDomains</code> request. Contains the status of the domains specified in the request or all domains owned by the account.</p>",
      "members": {
        "DomainStatusList": {
          "shape": "DomainStatusList"
        }
      },
      "required": [
        "DomainStatusList"
      ],
      "type": "structure"
    },
    "DescribeExpressionsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeDomains</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular expressions, specify the names of the expressions you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
      "members": {
        "Deployed": {
          "documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain you want to describe.</p>",
          "shape": "DomainName"
        },
        "ExpressionNames": {
          "documentation": "<p>Limits the <code><a>DescribeExpressions</a></code> response to the specified expressions. If not specified, all expressions are shown.</p>",
          "shape": "StandardNameList"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeExpressionsResponse": {
      "documentation": "<p>The result of a <code>DescribeExpressions</code> request. Contains the expressions configured for the domain specified in the request.</p>",
      "members": {
        "Expressions": {
          "documentation": "<p>The expressions configured for the domain.</p>",
          "shape": "ExpressionStatusList"
        }
      },
      "required": [
        "Expressions"
      ],
      "type": "structure"
    },
    "DescribeIndexFieldsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeIndexFields</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular index fields, specify the names of the index fields you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
      "members": {
        "Deployed": {
          "documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain you want to describe.</p>",
          "shape": "DomainName"
        },
        "FieldNames": {
          "documentation": "<p>A list of the index fields you want to describe. If not specified, information is returned for all configured index fields.</p>",
          "shape": "DynamicFieldNameList"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeIndexFieldsResponse": {
      "documentation": "<p>The result of a <code>DescribeIndexFields</code> request. Contains the index fields configured for the domain specified in the request.</p>",
      "members": {
        "IndexFields": {
          "documentation": "<p>The index fields configured for the domain.</p>",
          "shape": "IndexFieldStatusList"
        }
      },
      "required": [
        "IndexFields"
      ],
      "type": "structure"
    },
    "DescribeScalingParametersRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeScalingParameters</a></code> operation. Specifies the name of the domain you want to describe. </p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeScalingParametersResponse": {
      "documentation": "<p>The result of a <code>DescribeScalingParameters</code> request. Contains the scaling parameters configured for the domain specified in the request.</p>",
      "members": {
        "ScalingParameters": {
          "shape": "ScalingParametersStatus"
        }
      },
      "required": [
        "ScalingParameters"
      ],
      "type": "structure"
    },
    "DescribeServiceAccessPoliciesRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeServiceAccessPolicies</a></code> operation. Specifies the name of the domain you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
      "members": {
        "Deployed": {
          "documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain you want to describe.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeServiceAccessPoliciesResponse": {
      "documentation": "<p>The result of a <code>DescribeServiceAccessPolicies</code> request.</p>",
      "members": {
        "AccessPolicies": {
          "documentation": "<p>The access rules configured for the domain specified in the request.</p>",
          "shape": "AccessPoliciesStatus"
        }
      },
      "required": [
        "AccessPolicies"
      ],
      "type": "structure"
    },
    "DescribeSuggestersRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>DescribeSuggester</a></code> operation. Specifies the name of the domain you want to describe. To restrict the response to particular suggesters, specify the names of the suggesters you want to describe. To show the active configuration and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.</p>",
      "members": {
        "Deployed": {
          "documentation": "<p>Whether to display the deployed configuration (<code>true</code>) or include any pending changes (<code>false</code>). Defaults to <code>false</code>.</p>",
          "shape": "Boolean"
        },
        "DomainName": {
          "documentation": "<p>The name of the domain you want to describe.</p>",
          "shape": "DomainName"
        },
        "SuggesterNames": {
          "documentation": "<p>The suggesters you want to describe.</p>",
          "shape": "StandardNameList"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "DescribeSuggestersResponse": {
      "documentation": "<p>The result of a <code>DescribeSuggesters</code> request.</p>",
      "members": {
        "Suggesters": {
          "documentation": "<p>The suggesters configured for the domain specified in the request.</p>",
          "shape": "SuggesterStatusList"
        }
      },
      "required": [
        "Suggesters"
      ],
      "type": "structure"
    },
    "DisabledOperationException": {
      "documentation": "<p>The request was rejected because it attempted an operation which is not enabled.</p>",
      "error": {
        "code": "DisabledAction",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "DocumentSuggesterOptions": {
      "documentation": "<p>Options for a search suggester.</p>",
      "members": {
        "FuzzyMatching": {
          "documentation": "<p>The level of fuzziness allowed when suggesting matches for a string: <code>none</code>, <code>low</code>, or <code>high</code>. With none, the specified string is treated as an exact prefix. With low, suggestions must differ from the specified string by no more than one character. With high, suggestions can differ by up to two characters. The default is none. </p>",
          "shape": "SuggesterFuzzyMatching"
        },
        "SortExpression": {
          "documentation": "<p>An expression that computes a score for each suggestion to control how they are sorted. The scores are rounded to the nearest integer, with a floor of 0 and a ceiling of 2^31-1. A document's relevance score is not computed for suggestions, so sort expressions cannot reference the <code>_score</code> value. To sort suggestions using a numeric field or existing expression, simply specify the name of the field or expression. If no expression is configured for the suggester, the suggestions are sorted with the closest matches listed first.</p>",
          "shape": "String"
        },
        "SourceField": {
          "documentation": "<p>The name of the index field you want to use for suggestions. </p>",
          "shape": "FieldName"
        }
      },
      "required": [
        "SourceField"
      ],
      "type": "structure"
    },
    "DomainEndpointOptions": {
      "documentation": "<p>The domain's endpoint options.</p>",
      "members": {
        "EnforceHTTPS": {
          "documentation": "<p>Whether the domain is HTTPS only enabled.</p>",
          "shape": "Boolean"
        },
        "TLSSecurityPolicy": {
          "documentation": "<p>The minimum required TLS version</p>",
          "shape": "TLSSecurityPolicy"
        }
      },
      "type": "structure"
    },
    "DomainEndpointOptionsStatus": {
      "documentation": "<p>The configuration and status of the domain's endpoint options.</p>",
      "members": {
        "Options": {
          "documentation": "<p>The domain endpoint options configured for the domain.</p>",
          "shape": "DomainEndpointOptions"
        },
        "Status": {
          "documentation": "<p>The status of the configured domain endpoint options.</p>",
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "DomainId": {
      "documentation": "<p>An internally generated unique identifier for a domain.</p>",
      "max": 64,
      "min": 1,
      "type": "string"
    },
    "DomainName": {
      "documentation": "<p>A string that represents the name of a domain. Domain names are unique across the domains owned by an account within an AWS region. Domain names start with a letter or number and can contain the following characters: a-z (lowercase), 0-9, and - (hyphen).</p>",
      "max": 28,
      "min": 3,
      "pattern": "[a-z][a-z0-9\\-]+",
      "type": "string"
    },
    "DomainNameList": {
      "documentation": "<p>A list of domain names.</p>",
      "member": {
        "shape": "DomainName"
      },
      "type": "list"
    },
    "DomainNameMap": {
      "documentation": "<p>A collection of domain names.</p>",
      "key": {
        "shape": "DomainName"
      },
      "type": "map",
      "value": {
        "shape": "APIVersion"
      }
    },
    "DomainStatus": {
      "documentation": "<p>The current status of the search domain.</p>",
      "members": {
        "ARN": {
          "shape": "ARN"
        },
        "Created": {
          "documentation": "<p>True if the search domain is created. It can take several minutes to initialize a domain when <a>CreateDomain</a> is called. Newly created search domains are returned from <a>DescribeDomains</a> with a false value for Created until domain creation is complete.</p>",
          "shape": "Boolean"
        },
        "Deleted": {
          "documentation": "<p>True if the search domain has been deleted. The system must clean up resources dedicated to the search domain when <a>DeleteDomain</a> is called. Newly deleted search domains are returned from <a>DescribeDomains</a> with a true value for IsDeleted for several minutes until resource cleanup is complete.</p>",
          "shape": "Boolean"
        },
        "DocService": {
          "documentation": "<p>The service endpoint for updating documents in a search domain.</p>",
          "shape": "ServiceEndpoint"
        },
        "DomainId": {
          "shape": "DomainId"
        },
        "DomainName": {
          "shape": "DomainName"
        },
        "Limits": {
          "shape": "Limits"
        },
        "Processing": {
          "documentation": "<p>True if processing is being done to activate the current domain configuration.</p>",
          "shape": "Boolean"
        },
        "RequiresIndexDocuments": {
          "documentation": "<p>True if <a>IndexDocuments</a> needs to be called to activate the current domain configuration.</p>",
          "shape": "Boolean"
        },
        "SearchInstanceCount": {
          "documentation": "<p>The number of search instances that are available to process search requests.</p>",
          "shape": "InstanceCount"
        },
        "SearchInstanceType": {
          "documentation": "<p>The instance type that is being used to process search requests.</p>",
          "shape": "SearchInstanceType"
        },
        "SearchPartitionCount": {
          "documentation": "<p>The number of partitions across which the search index is spread.</p>",
          "shape": "PartitionCount"
        },
        "SearchService": {
          "documentation": "<p>The service endpoint for requesting search results from a search domain.</p>",
          "shape": "ServiceEndpoint"
        }
      },
      "required": [
        "DomainId",
        "DomainName",
        "RequiresIndexDocuments"
      ],
      "type": "structure"
    },
    "DomainStatusList": {
      "documentation": "<p>A list that contains the status of each requested domain.</p>",
      "member": {
        "shape": "DomainStatus"
      },
      "type": "list"
    },
    "Double": {
      "type": "double"
    },
    "DoubleArrayOptions": {
      "documentation": "<p>Options for a field that contains an array of double-precision 64-bit floating point values. Present if <code>IndexFieldType</code> specifies the field is of type <code>double-array</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "Double"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SourceFields": {
          "documentation": "<p>A list of source fields to map to the field. </p>",
          "shape": "FieldNameCommaList"
        }
      },
      "type": "structure"
    },
    "DoubleOptions": {
      "documentation": "<p>Options for a double-precision 64-bit floating point field. Present if <code>IndexFieldType</code> specifies the field is of type <code>double</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "<p>A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.</p>",
          "shape": "Double"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SortEnabled": {
          "documentation": "<p>Whether the field can be used to sort the search results.</p>",
          "shape": "Boolean"
        },
        "SourceField": {
          "documentation": "<p>The name of the source field to map to the field. </p>",
          "shape": "FieldName"
        }
      },
      "type": "structure"
    },
    "DynamicFieldName": {
      "max": 64,
      "min": 1,
      "pattern": "([a-z][a-z0-9_]*\\*?|\\*[a-z0-9_]*)",
      "type": "string"
    },
    "DynamicFieldNameList": {
      "member": {
        "shape": "DynamicFieldName"
      },
      "type": "list"
    },
    "ErrorCode": {
      "documentation": "<p>A machine-parsable string error or warning code.</p>",
      "type": "string"
    },
    "ErrorMessage": {
      "documentation": "<p>A human-readable string error or warning message.</p>",
      "type": "string"
    },
    "Expression": {
      "documentation": "<p>A named expression that can be evaluated at search time. Can be used to sort the search results, define other expressions, or return computed information in the search results. </p>",
      "members": {
        "ExpressionName": {
          "shape": "StandardName"
        },
        "ExpressionValue": {
          "shape": "ExpressionValue"
        }
      },
      "required": [
        "ExpressionName",
        "ExpressionValue"
      ],
      "type": "structure"
    },
    "ExpressionStatus": {
      "documentation": "<p>The value of an <code>Expression</code> and its current status.</p>",
      "members": {
        "Options": {
          "documentation": "<p>The expression that is evaluated for sorting while processing a search request.</p>",
          "shape": "Expression"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "ExpressionStatusList": {
      "documentation": "<p>Contains the status of multiple expressions.</p>",
      "member": {
        "shape": "ExpressionStatus"
      },
      "type": "list"
    },
    "ExpressionValue": {
      "documentation": "<p>The expression to evaluate for sorting while processing a search request. The <code>Expression</code> syntax is based on JavaScript expressions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\" target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "max": 10240,
      "min": 1,
      "type": "string"
    },
    "FieldName": {
      "documentation": "<p>A string that represents the name of an index field. CloudSearch supports regular index fields as well as dynamic fields. A dynamic field's name defines a pattern that begins or ends with a wildcard. Any document fields that don't map to a regular index field but do match a dynamic field's pattern are configured with the dynamic field's indexing options. </p> <p>Regular field names begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic field names must begin or end with a wildcard (*). The wildcard can also be the only character in a dynamic field name. Multiple wildcards, and wildcards embedded within a string are not supported. </p> <p>The name <code>score</code> is reserved and cannot be used as a field name. To reference a document's ID, you can use the name <code>_id</code>. </p>",
      "max": 64,
      "min": 1,
      "pattern": "[a-z][a-z0-9_]*",
      "type": "string"
    },
    "FieldNameCommaList": {
      "pattern": "\\s*[a-z*][a-z0-9_]*\\*?\\s*(,\\s*[a-z*][a-z0-9_]*\\*?\\s*)*",
      "type": "string"
    },
    "FieldNameList": {
      "documentation": "<p>A list of field names.</p>",
      "member": {
        "shape": "FieldName"
      },
      "type": "list"
    },
    "FieldValue": {
      "documentation": "<p>The value of a field attribute.</p>",
      "max": 1024,
      "min": 0,
      "type": "string"
    },
    "IndexDocumentsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>IndexDocuments</a></code> operation. Specifies the name of the domain you want to re-index.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName"
      ],
      "type": "structure"
    },
    "IndexDocumentsResponse": {
      "documentation": "<p>The result of an <code>IndexDocuments</code> request. Contains the status of the indexing operation, including the fields being indexed.</p>",
      "members": {
        "FieldNames": {
          "documentation": "<p>The names of the fields that are currently being indexed.</p>",
          "shape": "FieldNameList"
        }
      },
      "type": "structure"
    },
    "IndexField": {
      "documentation": "<p>Configuration information for a field in the index, including its name, type, and options. The supported options depend on the <code><a>IndexFieldType</a></code>.</p>",
      "members": {
        "DateArrayOptions": {
          "shape": "DateArrayOptions"
        },
        "DateOptions": {
          "shape": "DateOptions"
        },
        "DoubleArrayOptions": {
          "shape": "DoubleArrayOptions"
        },
        "DoubleOptions": {
          "shape": "DoubleOptions"
        },
        "IndexFieldName": {
          "documentation": "<p>A string that represents the name of an index field. CloudSearch supports regular index fields as well as dynamic fields. A dynamic field's name defines a pattern that begins or ends with a wildcard. Any document fields that don't map to a regular index field but do match a dynamic field's pattern are configured with the dynamic field's indexing options. </p> <p>Regular field names begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic field names must begin or end with a wildcard (*). The wildcard can also be the only character in a dynamic field name. Multiple wildcards, and wildcards embedded within a string are not supported. </p> <p>The name <code>score</code> is reserved and cannot be used as a field name. To reference a document's ID, you can use the name <code>_id</code>. </p>",
          "shape": "DynamicFieldName"
        },
        "IndexFieldType": {
          "shape": "IndexFieldType"
        },
        "IntArrayOptions": {
          "shape": "IntArrayOptions"
        },
        "IntOptions": {
          "shape": "IntOptions"
        },
        "LatLonOptions": {
          "shape": "LatLonOptions"
        },
        "LiteralArrayOptions": {
          "shape": "LiteralArrayOptions"
        },
        "LiteralOptions": {
          "shape": "LiteralOptions"
        },
        "TextArrayOptions": {
          "shape": "TextArrayOptions"
        },
        "TextOptions": {
          "shape": "TextOptions"
        }
      },
      "required": [
        "IndexFieldName",
        "IndexFieldType"
      ],
      "type": "structure"
    },
    "IndexFieldStatus": {
      "documentation": "<p>The value of an <code>IndexField</code> and its current status.</p>",
      "members": {
        "Options": {
          "shape": "IndexField"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "IndexFieldStatusList": {
      "documentation": "<p>Contains the status of multiple index fields.</p>",
      "member": {
        "shape": "IndexFieldStatus"
      },
      "type": "list"
    },
    "IndexFieldType": {
      "documentation": "<p>The type of field. The valid options for a field depend on the field type. For more information about the supported field types, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\" target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer Guide</i>.</p>",
      "enum": [
        "int",
        "double",
        "literal",
        "text",
        "date",
        "latlon",
        "int-array",
        "double-array",
        "literal-array",
        "text-array",
        "date-array"
      ],
      "type": "string"
    },
    "InstanceCount": {
      "min": 1,
      "type": "integer"
    },
    "IntArrayOptions": {
      "documentation": "<p>Options for a field that contains an array of 64-bit signed integers. Present if <code>IndexFieldType</code> specifies the field is of type <code>int-array</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "Long"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SourceFields": {
          "documentation": "<p>A list of source fields to map to the field. </p>",
          "shape": "FieldNameCommaList"
        }
      },
      "type": "structure"
    },
    "IntOptions": {
      "documentation": "<p>Options for a 64-bit signed integer field. Present if <code>IndexFieldType</code> specifies the field is of type <code>int</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document. This can be important if you are using the field in an expression and that field is not present in every document.",
          "shape": "Long"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SortEnabled": {
          "documentation": "<p>Whether the field can be used to sort the search results.</p>",
          "shape": "Boolean"
        },
        "SourceField": {
          "documentation": "<p>The name of the source field to map to the field. </p>",
          "shape": "FieldName"
        }
      },
      "type": "structure"
    },
    "InternalException": {
      "documentation": "<p>An internal error occurred while processing the request. If this problem persists, report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service Health Dashboard</a>.</p>",
      "error": {
        "code": "InternalException",
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "InvalidTypeException": {
      "documentation": "<p>The request was rejected because it specified an invalid type definition.</p>",
      "error": {
        "code": "InvalidType",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "LatLonOptions": {
      "documentation": "<p>Options for a latlon field. A latlon field contains a location stored as a latitude and longitude value pair. Present if <code>IndexFieldType</code> specifies the field is of type <code>latlon</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SortEnabled": {
          "documentation": "<p>Whether the field can be used to sort the search results.</p>",
          "shape": "Boolean"
        },
        "SourceField": {
          "shape": "FieldName"
        }
      },
      "type": "structure"
    },
    "LimitExceededException": {
      "documentation": "<p>The request was rejected because a resource limit has already been met.</p>",
      "error": {
        "code": "LimitExceeded",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Limits": {
      "members": {
        "MaximumPartitionCount": {
          "shape": "MaximumPartitionCount"
        },
        "MaximumReplicationCount": {
          "shape": "MaximumReplicationCount"
        }
      },
      "required": [
        "MaximumReplicationCount",
        "MaximumPartitionCount"
      ],
      "type": "structure"
    },
    "ListDomainNamesResponse": {
      "documentation": "<p>The result of a <code>ListDomainNames</code> request. Contains a list of the domains owned by an account.</p>",
      "members": {
        "DomainNames": {
          "documentation": "<p>The names of the search domains owned by an account.</p>",
          "shape": "DomainNameMap"
        }
      },
      "type": "structure"
    },
    "LiteralArrayOptions": {
      "documentation": "<p>Options for a field that contains an array of literal strings. Present if <code>IndexFieldType</code> specifies the field is of type <code>literal-array</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SourceFields": {
          "documentation": "<p>A list of source fields to map to the field. </p>",
          "shape": "FieldNameCommaList"
        }
      },
      "type": "structure"
    },
    "LiteralOptions": {
      "documentation": "<p>Options for literal field. Present if <code>IndexFieldType</code> specifies the field is of type <code>literal</code>. All options are enabled by default.</p>",
      "members": {
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "FacetEnabled": {
          "documentation": "<p>Whether facet information can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SearchEnabled": {
          "documentation": "<p>Whether the contents of the field are searchable.</p>",
          "shape": "Boolean"
        },
        "SortEnabled": {
          "documentation": "<p>Whether the field can be used to sort the search results.</p>",
          "shape": "Boolean"
        },
        "SourceField": {
          "shape": "FieldName"
        }
      },
      "type": "structure"
    },
    "Long": {
      "type": "long"
    },
    "MaximumPartitionCount": {
      "min": 1,
      "type": "integer"
    },
    "MaximumReplicationCount": {
      "min": 1,
      "type": "integer"
    },
    "MultiAZ": {
      "type": "boolean"
    },
    "OptionState": {
      "documentation": "<p>The state of processing a change to an option. One of:</p> <ul> <li>RequiresIndexDocuments: The option's latest value will not be deployed until <a>IndexDocuments</a> has been called and indexing is complete.</li> <li>Processing: The option's latest value is in the process of being activated.</li> <li>Active: The option's latest value is fully deployed. </li> <li>FailedToValidate: The option value is not compatible with the domain's data and cannot be used to index the data. You must either modify the option value or update or remove the incompatible documents.</li> </ul>",
      "enum": [
        "RequiresIndexDocuments",
        "Processing",
        "Active",
        "FailedToValidate"
      ],
      "type": "string"
    },
    "OptionStatus": {
      "documentation": "<p>The status of domain configuration option.</p>",
      "members": {
        "CreationDate": {
          "documentation": "<p>A timestamp for when this option was created.</p>",
          "shape": "UpdateTimestamp"
        },
        "PendingDeletion": {
          "documentation": "<p>Indicates that the option will be deleted once processing is complete.</p>",
          "shape": "Boolean"
        },
        "State": {
          "documentation": "<p>The state of processing a change to an option. Possible values:</p><ul> <li><code>RequiresIndexDocuments</code>: the option's latest value will not be deployed until <a>IndexDocuments</a> has been called and indexing is complete.</li> <li><code>Processing</code>: the option's latest value is in the process of being activated. </li> <li><code>Active</code>: the option's latest value is completely deployed.</li> <li><code>FailedToValidate</code>: the option value is not compatible with the domain's data and cannot be used to index the data. You must either modify the option value or update or remove the incompatible documents.</li> </ul>",
          "shape": "OptionState"
        },
        "UpdateDate": {
          "documentation": "<p>A timestamp for when this option was last updated.</p>",
          "shape": "UpdateTimestamp"
        },
        "UpdateVersion": {
          "documentation": "<p>A unique integer that indicates when this option was last updated.</p>",
          "shape": "UIntValue"
        }
      },
      "required": [
        "CreationDate",
        "UpdateDate",
        "State"
      ],
      "type": "structure"
    },
    "PartitionCount": {
      "documentation": "<p>The number of partitions used to hold the domain's index.</p>",
      "min": 1,
      "type": "integer"
    },
    "PartitionInstanceType": {
      "documentation": "<p>The instance type (such as <code>search.m1.small</code>) on which an index partition is hosted.</p>",
      "enum": [
        "search.m1.small",
        "search.m1.large",
        "search.m2.xlarge",
        "search.m2.2xlarge",
        "search.m3.medium",
        "search.m3.large",
        "search.m3.xlarge",
        "search.m3.2xlarge"
      ],
      "type": "string"
    },
    "PolicyDocument": {
      "documentation": "<p>Access rules for a domain's document or search service endpoints. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\" target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch Developer Guide</i>. The maximum size of a policy document is 100 KB.</p>",
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The request was rejected because it attempted to reference a resource that does not exist.</p>",
      "error": {
        "code": "ResourceNotFound",
        "httpStatusCode": 409,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ScalingParameters": {
      "documentation": "<p>The desired instance type and desired number of replicas of each index partition.</p>",
      "members": {
        "DesiredInstanceType": {
          "documentation": "<p>The instance type that you want to preconfigure for your domain. For example, <code>search.m1.small</code>.</p>",
          "shape": "PartitionInstanceType"
        },
        "DesiredPartitionCount": {
          "documentation": "<p>The number of partitions you want to preconfigure for your domain. Only valid when you select <code>m2.2xlarge</code> as the desired instance type.</p>",
          "shape": "UIntValue"
        },
        "DesiredReplicationCount": {
          "documentation": "<p>The number of replicas you want to preconfigure for each index partition.</p>",
          "shape": "UIntValue"
        }
      },
      "type": "structure"
    },
    "ScalingParametersStatus": {
      "documentation": "<p>The status and configuration of a search domain's scaling parameters. </p>",
      "members": {
        "Options": {
          "shape": "ScalingParameters"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "SearchInstanceType": {
      "documentation": "<p>The instance type (such as <code>search.m1.small</code>) that is being used to process search requests.</p>",
      "type": "string"
    },
    "ServiceEndpoint": {
      "documentation": "<p>The endpoint to which service requests can be submitted.</p>",
      "members": {
        "Endpoint": {
          "shape": "ServiceUrl"
        }
      },
      "type": "structure"
    },
    "ServiceUrl": {
      "documentation": "<p>The endpoint to which service requests can be submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.cloudsearch.amazonaws.com</code> or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.cloudsearch.amazonaws.com</code>.</p>",
      "type": "string"
    },
    "StandardName": {
      "documentation": "<p>Names must begin with a letter and can contain the following characters: a-z (lowercase), 0-9, and _ (underscore).</p>",
      "max": 64,
      "min": 1,
      "pattern": "[a-z][a-z0-9_]*",
      "type": "string"
    },
    "StandardNameList": {
      "member": {
        "shape": "StandardName"
      },
      "type": "list"
    },
    "String": {
      "type": "string"
    },
    "Suggester": {
      "documentation": "<p>Configuration information for a search suggester. Each suggester has a unique name and specifies the text field you want to use for suggestions. The following options can be configured for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. </p>",
      "members": {
        "DocumentSuggesterOptions": {
          "shape": "DocumentSuggesterOptions"
        },
        "SuggesterName": {
          "shape": "StandardName"
        }
      },
      "required": [
        "SuggesterName",
        "DocumentSuggesterOptions"
      ],
      "type": "structure"
    },
    "SuggesterFuzzyMatching": {
      "enum": [
        "none",
        "low",
        "high"
      ],
      "type": "string"
    },
    "SuggesterStatus": {
      "documentation": "<p>The value of a <code>Suggester</code> and its current status.</p>",
      "members": {
        "Options": {
          "shape": "Suggester"
        },
        "Status": {
          "shape": "OptionStatus"
        }
      },
      "required": [
        "Options",
        "Status"
      ],
      "type": "structure"
    },
    "SuggesterStatusList": {
      "documentation": "<p>Contains the status of multiple suggesters.</p>",
      "member": {
        "shape": "SuggesterStatus"
      },
      "type": "list"
    },
    "TLSSecurityPolicy": {
      "documentation": "<p>The minimum required TLS version.</p>",
      "enum": [
        "Policy-Min-TLS-1-0-2019-07",
        "Policy-Min-TLS-1-2-2019-07"
      ],
      "type": "string"
    },
    "TextArrayOptions": {
      "documentation": "<p>Options for a field that contains an array of text strings. Present if <code>IndexFieldType</code> specifies the field is of type <code>text-array</code>. A <code>text-array</code> field is always searchable. All options are enabled by default.</p>",
      "members": {
        "AnalysisScheme": {
          "documentation": "<p>The name of an analysis scheme for a <code>text-array</code> field.</p>",
          "shape": "Word"
        },
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "HighlightEnabled": {
          "documentation": "<p>Whether highlights can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SourceFields": {
          "documentation": "<p>A list of source fields to map to the field. </p>",
          "shape": "FieldNameCommaList"
        }
      },
      "type": "structure"
    },
    "TextOptions": {
      "documentation": "<p>Options for text field. Present if <code>IndexFieldType</code> specifies the field is of type <code>text</code>. A <code>text</code> field is always searchable. All options are enabled by default.</p>",
      "members": {
        "AnalysisScheme": {
          "documentation": "<p>The name of an analysis scheme for a <code>text</code> field.</p>",
          "shape": "Word"
        },
        "DefaultValue": {
          "documentation": "A value to use for the field if the field isn't specified for a document.",
          "shape": "FieldValue"
        },
        "HighlightEnabled": {
          "documentation": "<p>Whether highlights can be returned for the field.</p>",
          "shape": "Boolean"
        },
        "ReturnEnabled": {
          "documentation": "<p>Whether the contents of the field can be returned in the search results.</p>",
          "shape": "Boolean"
        },
        "SortEnabled": {
          "documentation": "<p>Whether the field can be used to sort the search results.</p>",
          "shape": "Boolean"
        },
        "SourceField": {
          "shape": "FieldName"
        }
      },
      "type": "structure"
    },
    "UIntValue": {
      "min": 0,
      "type": "integer"
    },
    "UpdateAvailabilityOptionsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>UpdateAvailabilityOptions</a></code> operation. Specifies the name of the domain you want to update and the Multi-AZ availability option.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "MultiAZ": {
          "documentation": "<p>You expand an existing search domain to a second Availability Zone by setting the Multi-AZ option to true. Similarly, you can turn off the Multi-AZ option to downgrade the domain to a single Availability Zone by setting the Multi-AZ option to <code>false</code>. </p>",
          "shape": "Boolean"
        }
      },
      "required": [
        "DomainName",
        "MultiAZ"
      ],
      "type": "structure"
    },
    "UpdateAvailabilityOptionsResponse": {
      "documentation": "<p>The result of a <code>UpdateAvailabilityOptions</code> request. Contains the status of the domain's availability options. </p>",
      "members": {
        "AvailabilityOptions": {
          "documentation": "<p>The newly-configured availability options. Indicates whether Multi-AZ is enabled for the domain. </p>",
          "shape": "AvailabilityOptionsStatus"
        }
      },
      "type": "structure"
    },
    "UpdateDomainEndpointOptionsRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>UpdateDomainEndpointOptions</a></code> operation. Specifies the name of the domain you want to update and the domain endpoint options.</p>",
      "members": {
        "DomainEndpointOptions": {
          "documentation": "<p>Whether to require that all requests to the domain arrive over HTTPS. We recommend Policy-Min-TLS-1-2-2019-07 for TLSSecurityPolicy. For compatibility with older clients, the default is Policy-Min-TLS-1-0-2019-07. </p>",
          "shape": "DomainEndpointOptions"
        },
        "DomainName": {
          "documentation": "<p>A string that represents the name of a domain.</p>",
          "shape": "DomainName"
        }
      },
      "required": [
        "DomainName",
        "DomainEndpointOptions"
      ],
      "type": "structure"
    },
    "UpdateDomainEndpointOptionsResponse": {
      "documentation": "<p>The result of a <code>UpdateDomainEndpointOptions</code> request. Contains the configuration and status of the domain's endpoint options. </p>",
      "members": {
        "DomainEndpointOptions": {
          "documentation": "<p>The newly-configured domain endpoint options.</p>",
          "shape": "DomainEndpointOptionsStatus"
        }
      },
      "type": "structure"
    },
    "UpdateScalingParametersRequest": {
      "documentation": "<p>Container for the parameters to the <code><a>UpdateScalingParameters</a></code> operation. Specifies the name of the domain you want to update and the scaling parameters you want to configure.</p>",
      "members": {
        "DomainName": {
          "shape": "DomainName"
        },
        "ScalingParameters": {
          "shape": "ScalingParameters"
        }
      },
      "required": [
        "DomainName",
        "ScalingParameters"
      ],
      "type": "structure"
    },
    "UpdateScalingParametersResponse": {
[...]
