{
  "documentation": "<p>Security Hub provides you with a comprehensive view of the security state of your AWS environment and resources. It also provides you with the readiness status of your environment based on controls from supported security standards. Security Hub collects security data from AWS accounts, services, and integrated third-party products and helps you analyze security trends in your environment to identify the highest priority security issues. For more information about Security Hub, see the <i> <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html\">AWS Security Hub User Guide</a> </i>.</p> <p>When you use operations in the Security Hub API, the requests are executed only in the AWS Region that is currently active or in the specific AWS Region that you specify in your request. Any configuration or settings change that results from the operation is applied only to that Region. To make the same change in other Regions, execute the same command for each Region to apply the change to.</p> <p>For example, if your Region is set to <code>us-west-2</code>, when you use <code> <a>CreateMembers</a> </code> to add a member account to Security Hub, the association of the member account with the master account is created only in the <code>us-west-2</code> Region. Security Hub must be enabled for the member account in the same Region that the invitation was sent from.</p> <p>The following throttling limits apply to using Security Hub API operations.</p> <ul> <li> <p> <code> <a>GetFindings</a> </code> - <code>RateLimit</code> of 3 requests per second. <code>BurstLimit</code> of 6 requests per second.</p> </li> <li> <p> <code> <a>UpdateFindings</a> </code> - <code>RateLimit</code> of 1 request per second. <code>BurstLimit</code> of 5 requests per second.</p> </li> <li> <p>All other operations - <code>RateLimit</code> of 10 requests per second. <code>BurstLimit</code> of 30 requests per second.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2018-10-26",
    "endpointPrefix": "securityhub",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS SecurityHub",
    "serviceId": "SecurityHub",
    "signatureVersion": "v4",
    "signingName": "securityhub",
    "uid": "securityhub-2018-10-26"
  },
  "operations": {
    "AcceptInvitation": {
      "documentation": "<p>Accepts the invitation to be a member account and be monitored by the Security Hub master account that the invitation was sent from.</p> <p>When the member account accepts the invitation, permission is granted to the master account to view findings generated in the member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/master"
      },
      "input": {
        "shape": "AcceptInvitationRequest"
      },
      "name": "AcceptInvitation",
      "output": {
        "shape": "AcceptInvitationResponse"
      }
    },
    "BatchDisableStandards": {
      "documentation": "<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>AWS Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/standards/deregister"
      },
      "input": {
        "shape": "BatchDisableStandardsRequest"
      },
      "name": "BatchDisableStandards",
      "output": {
        "shape": "BatchDisableStandardsResponse"
      }
    },
    "BatchEnableStandards": {
      "documentation": "<p>Enables the standards specified by the provided <code>StandardsArn</code>. To obtain the ARN for a standard, use the <code> <a>DescribeStandards</a> </code> operation.</p> <p>For more information, see the <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html\">Security Standards</a> section of the <i>AWS Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/standards/register"
      },
      "input": {
        "shape": "BatchEnableStandardsRequest"
      },
      "name": "BatchEnableStandards",
      "output": {
        "shape": "BatchEnableStandardsResponse"
      }
    },
    "BatchImportFindings": {
      "documentation": "<p>Imports security findings generated from an integrated third-party product into Security Hub. This action is requested by the integrated product to import its findings into Security Hub.</p> <p>The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings/import"
      },
      "input": {
        "shape": "BatchImportFindingsRequest"
      },
      "name": "BatchImportFindings",
      "output": {
        "shape": "BatchImportFindingsResponse"
      }
    },
    "CreateActionTarget": {
      "documentation": "<p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/actionTargets"
      },
      "input": {
        "shape": "CreateActionTargetRequest"
      },
      "name": "CreateActionTarget",
      "output": {
        "shape": "CreateActionTargetResponse"
      }
    },
    "CreateInsight": {
      "documentation": "<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation.</p> <p>To group the related findings in the insight, use the <code>GroupByAttribute</code>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/insights"
      },
      "input": {
        "shape": "CreateInsightRequest"
      },
      "name": "CreateInsight",
      "output": {
        "shape": "CreateInsightResponse"
      }
    },
    "CreateMembers": {
      "documentation": "<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the master account. To successfully create a member, you must use this action from an account that already has Security Hub enabled. To enable Security Hub, you can use the <code> <a>EnableSecurityHub</a> </code> operation.</p> <p>After you use <code>CreateMembers</code> to create member account associations in Security Hub, you must use the <code> <a>InviteMembers</a> </code> operation to invite the accounts to enable Security Hub and become member accounts in Security Hub.</p> <p>If the account owner accepts the invitation, the account becomes a member account in Security Hub, and a permission policy is added that permits the master account to view the findings generated in the member account. When Security Hub is enabled in the invited account, findings start to be sent to both the member and master accounts.</p> <p>To remove the association between the master and member accounts, use the <code> <a>DisassociateFromMasterAccount</a> </code> or <code> <a>DisassociateMembers</a> </code> operation.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members"
      },
      "input": {
        "shape": "CreateMembersRequest"
      },
      "name": "CreateMembers",
      "output": {
        "shape": "CreateMembersResponse"
      }
    },
    "DeclineInvitations": {
      "documentation": "<p>Declines invitations to become a member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/decline"
      },
      "input": {
        "shape": "DeclineInvitationsRequest"
      },
      "name": "DeclineInvitations",
      "output": {
        "shape": "DeclineInvitationsResponse"
      }
    },
    "DeleteActionTarget": {
      "documentation": "<p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "shape": "DeleteActionTargetRequest"
      },
      "name": "DeleteActionTarget",
      "output": {
        "shape": "DeleteActionTargetResponse"
      }
    },
    "DeleteInsight": {
      "documentation": "<p>Deletes the insight specified by the <code>InsightArn</code>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "shape": "DeleteInsightRequest"
      },
      "name": "DeleteInsight",
      "output": {
        "shape": "DeleteInsightResponse"
      }
    },
    "DeleteInvitations": {
      "documentation": "<p>Deletes invitations received by the AWS account to become a member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/invitations/delete"
      },
      "input": {
        "shape": "DeleteInvitationsRequest"
      },
      "name": "DeleteInvitations",
      "output": {
        "shape": "DeleteInvitationsResponse"
      }
    },
    "DeleteMembers": {
      "documentation": "<p>Deletes the specified member accounts from Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/delete"
      },
      "input": {
        "shape": "DeleteMembersRequest"
      },
      "name": "DeleteMembers",
      "output": {
        "shape": "DeleteMembersResponse"
      }
    },
    "DescribeActionTargets": {
      "documentation": "<p>Returns a list of the custom action targets in Security Hub in your account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/actionTargets/get"
      },
      "input": {
        "shape": "DescribeActionTargetsRequest"
      },
      "name": "DescribeActionTargets",
      "output": {
        "shape": "DescribeActionTargetsResponse"
      }
    },
    "DescribeHub": {
      "documentation": "<p>Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "DescribeHubRequest"
      },
      "name": "DescribeHub",
      "output": {
        "shape": "DescribeHubResponse"
      }
    },
    "DescribeProducts": {
      "documentation": "<p>Returns information about the available products that you can subscribe to and integrate with Security Hub in order to consolidate findings.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/products"
      },
      "input": {
        "shape": "DescribeProductsRequest"
      },
      "name": "DescribeProducts",
      "output": {
        "shape": "DescribeProductsResponse"
      }
    },
    "DescribeStandards": {
      "documentation": "<p>Returns a list of the available standards in Security Hub.</p> <p>For each standard, the results include the standard ARN, the name, and a description. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/standards"
      },
      "input": {
        "shape": "DescribeStandardsRequest"
      },
      "name": "DescribeStandards",
      "output": {
        "shape": "DescribeStandardsResponse"
      }
    },
    "DescribeStandardsControls": {
      "documentation": "<p>Returns a list of security standards controls.</p> <p>For each control, the results include information about whether it is currently enabled, the severity, and a link to remediation information.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/standards/controls/{StandardsSubscriptionArn+}"
      },
      "input": {
        "shape": "DescribeStandardsControlsRequest"
      },
      "name": "DescribeStandardsControls",
      "output": {
        "shape": "DescribeStandardsControlsResponse"
      }
    },
    "DisableImportFindingsForProduct": {
      "documentation": "<p>Disables the integration of the specified product with Security Hub. After the integration is disabled, findings from that product are no longer sent to Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/productSubscriptions/{ProductSubscriptionArn+}"
      },
      "input": {
        "shape": "DisableImportFindingsForProductRequest"
      },
      "name": "DisableImportFindingsForProduct",
      "output": {
        "shape": "DisableImportFindingsForProductResponse"
      }
    },
    "DisableSecurityHub": {
      "documentation": "<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>When you disable Security Hub for a master account, it doesn't disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your master and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "DisableSecurityHubRequest"
      },
      "name": "DisableSecurityHub",
      "output": {
        "shape": "DisableSecurityHubResponse"
      }
    },
    "DisassociateFromMasterAccount": {
      "documentation": "<p>Disassociates the current Security Hub member account from the associated master account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/master/disassociate"
      },
      "input": {
        "shape": "DisassociateFromMasterAccountRequest"
      },
      "name": "DisassociateFromMasterAccount",
      "output": {
        "shape": "DisassociateFromMasterAccountResponse"
      }
    },
    "DisassociateMembers": {
      "documentation": "<p>Disassociates the specified member accounts from the associated master account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/disassociate"
      },
      "input": {
        "shape": "DisassociateMembersRequest"
      },
      "name": "DisassociateMembers",
      "output": {
        "shape": "DisassociateMembersResponse"
      }
    },
    "EnableImportFindingsForProduct": {
      "documentation": "<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub.</p> <p>When you enable a product integration, a permission policy that grants permission for the product to send findings to Security Hub is applied.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "shape": "EnableImportFindingsForProductRequest"
      },
      "name": "EnableImportFindingsForProduct",
      "output": {
        "shape": "EnableImportFindingsForProductResponse"
      }
    },
    "EnableSecurityHub": {
      "documentation": "<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from other services that are integrated with Security Hub.</p> <p>When you use the <code>EnableSecurityHub</code> operation to enable Security Hub, you also automatically enable the CIS AWS Foundations standard. You do not enable the Payment Card Industry Data Security Standard (PCI DSS) standard. To not enable the CIS AWS Foundations standard, set <code>EnableDefaultStandards</code> to <code>false</code>.</p> <p>After you enable Security Hub, to enable a standard, use the <code> <a>BatchEnableStandards</a> </code> operation. To disable a standard, use the <code> <a>BatchDisableStandards</a> </code> operation.</p> <p>To learn more, see <a href=\"https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html\">Setting Up AWS Security Hub</a> in the <i>AWS Security Hub User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceConflictException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/accounts"
      },
      "input": {
        "shape": "EnableSecurityHubRequest"
      },
      "name": "EnableSecurityHub",
      "output": {
        "shape": "EnableSecurityHubResponse"
      }
    },
    "GetEnabledStandards": {
      "documentation": "<p>Returns a list of the standards that are currently enabled.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/standards/get"
      },
      "input": {
        "shape": "GetEnabledStandardsRequest"
      },
      "name": "GetEnabledStandards",
      "output": {
        "shape": "GetEnabledStandardsResponse"
      }
    },
    "GetFindings": {
      "documentation": "<p>Returns a list of findings that match the specified criteria.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/findings"
      },
      "input": {
        "shape": "GetFindingsRequest"
      },
      "name": "GetFindings",
      "output": {
        "shape": "GetFindingsResponse"
      }
    },
    "GetInsightResults": {
      "documentation": "<p>Lists the results of the Security Hub insight specified by the insight ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/insights/results/{InsightArn+}"
      },
      "input": {
        "shape": "GetInsightResultsRequest"
      },
      "name": "GetInsightResults",
      "output": {
        "shape": "GetInsightResultsResponse"
      }
    },
    "GetInsights": {
      "documentation": "<p>Lists and describes insights for the specified insight ARNs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/insights/get"
      },
      "input": {
        "shape": "GetInsightsRequest"
      },
      "name": "GetInsights",
      "output": {
        "shape": "GetInsightsResponse"
      }
    },
    "GetInvitationsCount": {
      "documentation": "<p>Returns the count of all Security Hub membership invitations that were sent to the current member account, not including the currently accepted invitation. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitations/count"
      },
      "input": {
        "shape": "GetInvitationsCountRequest"
      },
      "name": "GetInvitationsCount",
      "output": {
        "shape": "GetInvitationsCountResponse"
      }
    },
    "GetMasterAccount": {
      "documentation": "<p>Provides the details for the Security Hub master account for the current member account. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/master"
      },
      "input": {
        "shape": "GetMasterAccountRequest"
      },
      "name": "GetMasterAccount",
      "output": {
        "shape": "GetMasterAccountResponse"
      }
    },
    "GetMembers": {
      "documentation": "<p>Returns the details for the Security Hub member accounts for the specified account IDs.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/get"
      },
      "input": {
        "shape": "GetMembersRequest"
      },
      "name": "GetMembers",
      "output": {
        "shape": "GetMembersResponse"
      }
    },
    "InviteMembers": {
      "documentation": "<p>Invites other AWS accounts to become member accounts for the Security Hub master account that the invitation is sent from.</p> <p>Before you can use this action to invite a member, you must first use the <code> <a>CreateMembers</a> </code> action to create the member account in Security Hub.</p> <p>When the account owner accepts the invitation to become a member account and enables Security Hub, the master account can view the findings generated from the member account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/members/invite"
      },
      "input": {
        "shape": "InviteMembersRequest"
      },
      "name": "InviteMembers",
      "output": {
        "shape": "InviteMembersResponse"
      }
    },
    "ListEnabledProductsForImport": {
      "documentation": "<p>Lists all findings-generating solutions (products) that you are subscribed to receive findings from in Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/productSubscriptions"
      },
      "input": {
        "shape": "ListEnabledProductsForImportRequest"
      },
      "name": "ListEnabledProductsForImport",
      "output": {
        "shape": "ListEnabledProductsForImportResponse"
      }
    },
    "ListInvitations": {
      "documentation": "<p>Lists all Security Hub membership invitations that were sent to the current AWS account. </p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/invitations"
      },
      "input": {
        "shape": "ListInvitationsRequest"
      },
      "name": "ListInvitations",
      "output": {
        "shape": "ListInvitationsResponse"
      }
    },
    "ListMembers": {
      "documentation": "<p>Lists details about all member accounts for the current Security Hub master account.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/members"
      },
      "input": {
        "shape": "ListMembersRequest"
      },
      "name": "ListMembers",
      "output": {
        "shape": "ListMembersResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns a list of tags associated with a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds one or more tags to a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes one or more tags from a resource.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{ResourceArn}"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateActionTarget": {
      "documentation": "<p>Updates the name and description of a custom action target in Security Hub.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/actionTargets/{ActionTargetArn+}"
      },
      "input": {
        "shape": "UpdateActionTargetRequest"
      },
      "name": "UpdateActionTarget",
      "output": {
        "shape": "UpdateActionTargetResponse"
      }
    },
    "UpdateFindings": {
      "documentation": "<p>Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/findings"
      },
      "input": {
        "shape": "UpdateFindingsRequest"
      },
      "name": "UpdateFindings",
      "output": {
        "shape": "UpdateFindingsResponse"
      }
    },
    "UpdateInsight": {
      "documentation": "<p>Updates the Security Hub insight identified by the specified insight ARN.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/insights/{InsightArn+}"
      },
      "input": {
        "shape": "UpdateInsightRequest"
      },
      "name": "UpdateInsight",
      "output": {
        "shape": "UpdateInsightResponse"
      }
    },
    "UpdateStandardsControl": {
      "documentation": "<p>Used to control whether an individual security standard control is enabled or disabled.</p>",
      "errors": [
        {
          "shape": "InternalException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "InvalidAccessException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/standards/control/{StandardsControlArn+}"
      },
      "input": {
        "shape": "UpdateStandardsControlRequest"
      },
      "name": "UpdateStandardsControl",
      "output": {
        "shape": "UpdateStandardsControlResponse"
      }
    }
  },
  "shapes": {
    "AcceptInvitationRequest": {
      "members": {
        "InvitationId": {
          "documentation": "<p>The ID of the invitation sent from the Security Hub master account.</p>",
          "shape": "NonEmptyString"
        },
        "MasterId": {
          "documentation": "<p>The account ID of the Security Hub master account that sent the invitation.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "MasterId",
        "InvitationId"
      ],
      "type": "structure"
    },
    "AcceptInvitationResponse": {
      "members": {},
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>You don't have permission to perform the action specified in the request.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Code": {
          "shape": "NonEmptyString"
        },
        "Message": {
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AccountDetails": {
      "documentation": "<p>The details of an AWS account.</p>",
      "members": {
        "AccountId": {
          "documentation": "<p>The ID of an AWS account.</p>",
          "shape": "AccountId"
        },
        "Email": {
          "documentation": "<p>The email of an AWS account.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AccountDetailsList": {
      "member": {
        "shape": "AccountDetails"
      },
      "type": "list"
    },
    "AccountId": {
      "type": "string"
    },
    "AccountIdList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "ActionTarget": {
      "documentation": "<p>An <code>ActionTarget</code> object.</p>",
      "members": {
        "ActionTargetArn": {
          "documentation": "<p>The ARN for the target action.</p>",
          "shape": "NonEmptyString"
        },
        "Description": {
          "documentation": "<p>The description of the target action.</p>",
          "shape": "NonEmptyString"
        },
        "Name": {
          "documentation": "<p>The name of the action target.</p>",
          "shape": "NonEmptyString"
        }
      },
      "required": [
        "ActionTargetArn",
        "Name",
        "Description"
      ],
      "type": "structure"
    },
    "ActionTargetList": {
      "member": {
        "shape": "ActionTarget"
      },
      "type": "list"
    },
    "ArnList": {
      "member": {
        "shape": "NonEmptyString"
      },
      "type": "list"
    },
    "AvailabilityZone": {
      "documentation": "<p>Information about an Availability Zone.</p>",
      "members": {
        "SubnetId": {
          "documentation": "<p>The ID of the subnet. You can specify one subnet per Availability Zone.</p>",
          "shape": "NonEmptyString"
        },
        "ZoneName": {
          "documentation": "<p>The name of the Availability Zone.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AvailabilityZones": {
      "member": {
        "shape": "AvailabilityZone"
      },
      "type": "list"
    },
    "AwsCloudFrontDistributionDetails": {
      "documentation": "<p>A distribution configuration.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>The domain name corresponding to the distribution.</p>",
          "shape": "NonEmptyString"
        },
        "ETag": {
          "documentation": "<p>The entity tag is a hash of the object.</p>",
          "shape": "NonEmptyString"
        },
        "LastModifiedTime": {
          "documentation": "<p>The date and time that the distribution was last modified.</p>",
          "shape": "NonEmptyString"
        },
        "Logging": {
          "documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>",
          "shape": "AwsCloudFrontDistributionLogging"
        },
        "Origins": {
          "documentation": "<p>A complex type that contains information about origins for this distribution.</p>",
          "shape": "AwsCloudFrontDistributionOrigins"
        },
        "Status": {
          "documentation": "<p>Indicates the current status of the distribution.</p>",
          "shape": "NonEmptyString"
        },
        "WebAclId": {
          "documentation": "<p>A unique identifier that specifies the AWS WAF web ACL, if any, to associate with this distribution.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsCloudFrontDistributionLogging": {
      "documentation": "<p>A complex type that controls whether access logs are written for the distribution.</p>",
      "members": {
        "Bucket": {
          "documentation": "<p>The Amazon S3 bucket to store the access logs in.</p>",
          "shape": "NonEmptyString"
        },
        "Enabled": {
          "documentation": "<p>With this field, you can enable or disable the selected distribution.</p>",
          "shape": "Boolean"
        },
        "IncludeCookies": {
          "documentation": "<p>Specifies whether you want CloudFront to include cookies in access logs.</p>",
          "shape": "Boolean"
        },
        "Prefix": {
          "documentation": "<p>An optional string that you want CloudFront to use as a prefix to the access log filenames for this distribution.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsCloudFrontDistributionOriginItem": {
      "documentation": "<p>A complex type that describes the Amazon S3 bucket, HTTP server (for example, a web server), Amazon MediaStore, or other server from which CloudFront gets your files.</p>",
      "members": {
        "DomainName": {
          "documentation": "<p>Amazon S3 origins: The DNS name of the Amazon S3 bucket from which you want CloudFront to get objects for this origin.</p>",
          "shape": "NonEmptyString"
        },
        "Id": {
          "documentation": "<p>A unique identifier for the origin or origin group.</p>",
          "shape": "NonEmptyString"
        },
        "OriginPath": {
          "documentation": "<p>An optional element that causes CloudFront to request your content from a directory in your Amazon S3 bucket or your custom origin.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsCloudFrontDistributionOriginItemList": {
      "member": {
        "shape": "AwsCloudFrontDistributionOriginItem"
      },
      "type": "list"
    },
    "AwsCloudFrontDistributionOrigins": {
      "documentation": "<p>A complex type that contains information about origins and origin groups for this distribution.</p>",
      "members": {
        "Items": {
          "documentation": "<p>A complex type that contains origins or origin groups for this distribution.</p>",
          "shape": "AwsCloudFrontDistributionOriginItemList"
        }
      },
      "type": "structure"
    },
    "AwsCodeBuildProjectDetails": {
      "documentation": "<p>Information about an AWS CodeBuild project.</p>",
      "members": {
        "EncryptionKey": {
          "documentation": "<p>The AWS Key Management Service (AWS KMS) customer master key (CMK) used to encrypt the build output artifacts.</p> <p>You can specify either the Amazon Resource Name (ARN) of the CMK or, if available, the CMK alias (using the format alias/alias-name). </p>",
          "shape": "NonEmptyString"
        },
        "Environment": {
          "documentation": "<p>Information about the build environment for this build project.</p>",
          "shape": "AwsCodeBuildProjectEnvironment"
        },
        "Name": {
          "documentation": "<p>The name of the build project.</p>",
          "shape": "NonEmptyString"
        },
        "ServiceRole": {
          "documentation": "<p>The ARN of the IAM role that enables AWS CodeBuild to interact with dependent AWS services on behalf of the AWS account.</p>",
          "shape": "NonEmptyString"
        },
        "Source": {
          "documentation": "<p>Information about the build input source code for this build project.</p>",
          "shape": "AwsCodeBuildProjectSource"
        },
        "VpcConfig": {
          "documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>",
          "shape": "AwsCodeBuildProjectVpcConfig"
        }
      },
      "type": "structure"
    },
    "AwsCodeBuildProjectEnvironment": {
      "documentation": "<p>Information about the build environment for this build project.</p>",
      "members": {
        "Certificate": {
          "documentation": "<p>The certificate to use with this build project.</p>",
          "shape": "NonEmptyString"
        },
        "ImagePullCredentialsType": {
          "documentation": "<p>The type of credentials AWS CodeBuild uses to pull images in your build.</p> <p>Valid values:</p> <ul> <li> <p> <code>CODEBUILD</code> specifies that AWS CodeBuild uses its own credentials. This requires that you modify your ECR repository policy to trust the AWS CodeBuild service principal.</p> </li> <li> <p> <code>SERVICE_ROLE</code> specifies that AWS CodeBuild uses your build project's service role.</p> </li> </ul> <p>When you use a cross-account or private registry image, you must use <code>SERVICE_ROLE</code> credentials. When you use an AWS CodeBuild curated image, you must use <code>CODEBUILD</code> credentials.</p>",
          "shape": "NonEmptyString"
        },
        "RegistryCredential": {
          "documentation": "<p>The credentials for access to a private registry.</p>",
          "shape": "AwsCodeBuildProjectEnvironmentRegistryCredential"
        },
        "Type": {
          "documentation": "<p>The type of build environment to use for related builds.</p> <p>The environment type <code>ARM_CONTAINER</code> is available only in regions US East (N. Virginia), US East (Ohio), US West (Oregon), Europe (Ireland), Asia Pacific (Mumbai), Asia Pacific (Tokyo), Asia Pacific (Sydney), and Europe (Frankfurt).</p> <p>The environment type <code>LINUX_CONTAINER</code> with compute type build.general1.2xlarge is available only in regions US East (N. Virginia), US East (N. Virginia), US West (Oregon), Canada (Central), Europe (Ireland), Europe (London), Europe (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul), Asia Pacific (Singapore), Asia Pacific (Sydney), China (Beijing), and China (Ningxia).</p> <p>The environment type <code>LINUX_GPU_CONTAINER</code> is available only in regions US East (N. Virginia), US East (N. Virginia), US West (Oregon), Canada (Central), Europe (Ireland), Europe (London), Europe (Frankfurt), Asia Pacific (Tokyo), Asia Pacific (Seoul), Asia Pacific (Singapore), Asia Pacific (Sydney) , China (Beijing), and China (Ningxia).</p> <p>Valid values: <code>WINDOWS_CONTAINER</code> | <code>LINUX_CONTAINER</code> | <code>LINUX_GPU_CONTAINER</code> | <code>ARM_CONTAINER</code> </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsCodeBuildProjectEnvironmentRegistryCredential": {
      "documentation": "<p>The credentials for access to a private registry.</p>",
      "members": {
        "Credential": {
          "documentation": "<p>The Amazon Resource Name (ARN) or name of credentials created using AWS Secrets Manager.</p> <note> <p>The credential can use the name of the credentials only if they exist in your current AWS Region. </p> </note>",
          "shape": "NonEmptyString"
        },
        "CredentialProvider": {
          "documentation": "<p>The service that created the credentials to access a private Docker registry.</p> <p>The valid value,<code> SECRETS_MANAGER</code>, is for AWS Secrets Manager.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsCodeBuildProjectSource": {
      "documentation": "<p>Information about the build input source code for this build project.</p>",
      "members": {
        "GitCloneDepth": {
          "documentation": "<p>Information about the Git clone depth for the build project.</p>",
          "shape": "Integer"
        },
        "InsecureSsl": {
          "documentation": "<p>Whether to ignore SSL warnings while connecting to the project source code.</p>",
          "shape": "Boolean"
        },
        "Location": {
          "documentation": "<p>Information about the location of the source code to be built.</p> <p>Valid values include:</p> <ul> <li> <p>For source code settings that are specified in the source action of a pipeline in AWS CodePipeline, location should not be specified. If it is specified, AWS CodePipeline ignores it. This is because AWS CodePipeline uses the settings in a pipeline's source action instead of this value.</p> </li> <li> <p>For source code in an AWS CodeCommit repository, the HTTPS clone URL to the repository that contains the source code and the buildspec file (for example, <code>https://git-codecommit.region-ID.amazonaws.com/v1/repos/repo-name</code> ).</p> </li> <li> <p>For source code in an S3 input bucket, one of the following.</p> <ul> <li> <p>The path to the ZIP file that contains the source code (for example, <code>bucket-name/path/to/object-name.zip</code>).</p> </li> <li> <p> The path to the folder that contains the source code (for example, <code>bucket-name/path/to/source-code/folder/</code>).</p> </li> </ul> </li> <li> <p>For source code in a GitHub repository, the HTTPS clone URL to the repository that contains the source and the buildspec file.</p> </li> <li> <p>For source code in a Bitbucket repository, the HTTPS clone URL to the repository that contains the source and the buildspec file. </p> </li> </ul>",
          "shape": "NonEmptyString"
        },
        "Type": {
          "documentation": "<p>The type of repository that contains the source code to be built. Valid values are:</p> <ul> <li> <p> <code>BITBUCKET</code> - The source code is in a Bitbucket repository.</p> </li> <li> <p> <code>CODECOMMIT</code> - The source code is in an AWS CodeCommit repository.</p> </li> <li> <p> <code>CODEPIPELINE</code> - The source code settings are specified in the source action of a pipeline in AWS CodePipeline.</p> </li> <li> <p> <code>GITHUB</code> - The source code is in a GitHub repository.</p> </li> <li> <p> <code>GITHUB_ENTERPRISE</code> - The source code is in a GitHub Enterprise repository.</p> </li> <li> <p> <code>NO_SOURCE</code> - The project does not have input source code.</p> </li> <li> <p> <code>S3</code> - The source code is in an S3 input bucket. </p> </li> </ul>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsCodeBuildProjectVpcConfig": {
      "documentation": "<p>Information about the VPC configuration that AWS CodeBuild accesses.</p>",
      "members": {
        "SecurityGroupIds": {
          "documentation": "<p>A list of one or more security group IDs in your Amazon VPC.</p>",
          "shape": "NonEmptyStringList"
        },
        "Subnets": {
          "documentation": "<p>A list of one or more subnet IDs in your Amazon VPC.</p>",
          "shape": "NonEmptyStringList"
        },
        "VpcId": {
          "documentation": "<p>The ID of the VPC.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2InstanceDetails": {
      "documentation": "<p>The details of an Amazon EC2 instance.</p>",
      "members": {
        "IamInstanceProfileArn": {
          "documentation": "<p>The IAM profile ARN of the instance.</p>",
          "shape": "NonEmptyString"
        },
        "ImageId": {
          "documentation": "<p>The Amazon Machine Image (AMI) ID of the instance.</p>",
          "shape": "NonEmptyString"
        },
        "IpV4Addresses": {
          "documentation": "<p>The IPv4 addresses associated with the instance.</p>",
          "shape": "StringList"
        },
        "IpV6Addresses": {
          "documentation": "<p>The IPv6 addresses associated with the instance.</p>",
          "shape": "StringList"
        },
        "KeyName": {
          "documentation": "<p>The key name associated with the instance.</p>",
          "shape": "NonEmptyString"
        },
        "LaunchedAt": {
          "documentation": "<p>The date/time the instance was launched.</p>",
          "shape": "NonEmptyString"
        },
        "SubnetId": {
          "documentation": "<p>The identifier of the subnet that the instance was launched in.</p>",
          "shape": "NonEmptyString"
        },
        "Type": {
          "documentation": "<p>The instance type of the instance. </p>",
          "shape": "NonEmptyString"
        },
        "VpcId": {
          "documentation": "<p>The identifier of the VPC that the instance was launched in.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2NetworkInterfaceAttachment": {
      "documentation": "<p>Information about the network interface attachment.</p>",
      "members": {
        "AttachTime": {
          "documentation": "<p>The timestamp indicating when the attachment initiated.</p>",
          "shape": "NonEmptyString"
        },
        "AttachmentId": {
          "documentation": "<p>The identifier of the network interface attachment</p>",
          "shape": "NonEmptyString"
        },
        "DeleteOnTermination": {
          "documentation": "<p>Indicates whether the network interface is deleted when the instance is terminated.</p>",
          "shape": "Boolean"
        },
        "DeviceIndex": {
          "documentation": "<p>The device index of the network interface attachment on the instance.</p>",
          "shape": "Integer"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance.</p>",
          "shape": "NonEmptyString"
        },
        "InstanceOwnerId": {
          "documentation": "<p>The AWS account ID of the owner of the instance.</p>",
          "shape": "NonEmptyString"
        },
        "Status": {
          "documentation": "<p>The attachment state.</p> <p>Valid values: <code>attaching</code> | <code>attached</code> | <code>detaching</code> | <code>detached</code> </p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2NetworkInterfaceDetails": {
      "documentation": "<p>Details about the network interface</p>",
      "members": {
        "Attachment": {
          "documentation": "<p>The network interface attachment.</p>",
          "shape": "AwsEc2NetworkInterfaceAttachment"
        },
        "NetworkInterfaceId": {
          "documentation": "<p>The ID of the network interface.</p>",
          "shape": "NonEmptyString"
        },
        "SecurityGroups": {
          "documentation": "<p>Security groups for the network interface.</p>",
          "shape": "AwsEc2NetworkInterfaceSecurityGroupList"
        },
        "SourceDestCheck": {
          "documentation": "<p>Indicates whether traffic to or from the instance is validated.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AwsEc2NetworkInterfaceSecurityGroup": {
      "documentation": "<p>A security group associated with the network interface.</p>",
      "members": {
        "GroupId": {
          "documentation": "<p>The ID of the security group.</p>",
          "shape": "NonEmptyString"
        },
        "GroupName": {
          "documentation": "<p>The name of the security group.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2NetworkInterfaceSecurityGroupList": {
      "member": {
        "shape": "AwsEc2NetworkInterfaceSecurityGroup"
      },
      "type": "list"
    },
    "AwsEc2SecurityGroupDetails": {
      "documentation": "<p>Details about an EC2 security group.</p>",
      "members": {
        "GroupId": {
          "documentation": "<p>The ID of the security group.</p>",
          "shape": "NonEmptyString"
        },
        "GroupName": {
          "documentation": "<p>The name of the security group.</p>",
          "shape": "NonEmptyString"
        },
        "IpPermissions": {
          "documentation": "<p>The inbound rules associated with the security group.</p>",
          "shape": "AwsEc2SecurityGroupIpPermissionList"
        },
        "IpPermissionsEgress": {
          "documentation": "<p>[VPC only] The outbound rules associated with the security group.</p>",
          "shape": "AwsEc2SecurityGroupIpPermissionList"
        },
        "OwnerId": {
          "documentation": "<p>The AWS account ID of the owner of the security group.</p>",
          "shape": "NonEmptyString"
        },
        "VpcId": {
          "documentation": "<p>[VPC only] The ID of the VPC for the security group.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2SecurityGroupIpPermission": {
      "documentation": "<p>An IP permission for an EC2 security group.</p>",
      "members": {
        "FromPort": {
          "documentation": "<p>The start of the port range for the TCP and UDP protocols, or an ICMP/ICMPv6 type number.</p> <p>A value of -1 indicates all ICMP/ICMPv6 types. If you specify all ICMP/ICMPv6 types, you must specify all codes. </p>",
          "shape": "Integer"
        },
        "IpProtocol": {
          "documentation": "<p>The IP protocol name (<code>tcp</code>, <code>udp</code>, <code>icmp</code>, <code>icmpv6</code>) or number.</p> <p>[VPC only] Use <code>-1</code> to specify all protocols.</p> <p>When authorizing security group rules, specifying -1 or a protocol number other than <code>tcp</code>, <code>udp</code>, <code>icmp</code>, or <code>icmpv6</code> allows traffic on all ports, regardless of any port range you specify.</p> <p>For <code>tcp</code>, <code>udp</code>, and <code>icmp</code>, you must specify a port range.</p> <p>For <code>icmpv6</code>, the port range is optional. If you omit the port range, traffic for all types and codes is allowed. </p>",
          "shape": "NonEmptyString"
        },
        "IpRanges": {
          "documentation": "<p>The IPv4 ranges.</p>",
          "shape": "AwsEc2SecurityGroupIpRangeList"
        },
        "Ipv6Ranges": {
          "documentation": "<p>The IPv6 ranges.</p>",
          "shape": "AwsEc2SecurityGroupIpv6RangeList"
        },
        "PrefixListIds": {
          "documentation": "<p>[VPC only] The prefix list IDs for an AWS service. With outbound rules, this is the AWS service to access through a VPC endpoint from instances associated with the security group.</p>",
          "shape": "AwsEc2SecurityGroupPrefixListIdList"
        },
        "ToPort": {
          "documentation": "<p>The end of the port range for the TCP and UDP protocols, or an ICMP/ICMPv6 code.</p> <p>A value of -1 indicates all ICMP/ICMPv6 codes. If you specify all ICMP/ICMPv6 types, you must specify all codes.</p>",
          "shape": "Integer"
        },
        "UserIdGroupPairs": {
          "documentation": "<p>The security group and AWS account ID pairs.</p>",
          "shape": "AwsEc2SecurityGroupUserIdGroupPairList"
        }
      },
      "type": "structure"
    },
    "AwsEc2SecurityGroupIpPermissionList": {
      "member": {
        "shape": "AwsEc2SecurityGroupIpPermission"
      },
      "type": "list"
    },
    "AwsEc2SecurityGroupIpRange": {
      "documentation": "<p>A range of IPv4 addresses.</p>",
      "members": {
        "CidrIp": {
          "documentation": "<p>The IPv4 CIDR range. You can either specify either a CIDR range or a source security group, but not both. To specify a single IPv4 address, use the /32 prefix length.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2SecurityGroupIpRangeList": {
      "member": {
        "shape": "AwsEc2SecurityGroupIpRange"
      },
      "type": "list"
    },
    "AwsEc2SecurityGroupIpv6Range": {
      "documentation": "<p>A range of IPv6 addresses.</p>",
      "members": {
        "CidrIpv6": {
          "documentation": "<p>The IPv6 CIDR range. You can either specify either a CIDR range or a source security group, but not both. To specify a single IPv6 address, use the /128 prefix length.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2SecurityGroupIpv6RangeList": {
      "member": {
        "shape": "AwsEc2SecurityGroupIpv6Range"
      },
      "type": "list"
    },
    "AwsEc2SecurityGroupPrefixListId": {
      "documentation": "<p>A prefix list ID.</p>",
      "members": {
        "PrefixListId": {
          "documentation": "<p>The ID of the prefix.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2SecurityGroupPrefixListIdList": {
      "member": {
        "shape": "AwsEc2SecurityGroupPrefixListId"
      },
      "type": "list"
    },
    "AwsEc2SecurityGroupUserIdGroupPair": {
      "documentation": "<p>A relationship between a security group and a user.</p>",
      "members": {
        "GroupId": {
          "documentation": "<p>The ID of the security group.</p>",
          "shape": "NonEmptyString"
        },
        "GroupName": {
          "documentation": "<p>The name of the security group.</p>",
          "shape": "NonEmptyString"
        },
        "PeeringStatus": {
          "documentation": "<p>The status of a VPC peering connection, if applicable.</p>",
          "shape": "NonEmptyString"
        },
        "UserId": {
          "documentation": "<p>The ID of an AWS account.</p> <p>For a referenced security group in another VPC, the account ID of the referenced security group is returned in the response. If the referenced security group is deleted, this value is not returned.</p> <p>[EC2-Classic] Required when adding or removing rules that reference a security group in another AWS. </p>",
          "shape": "NonEmptyString"
        },
        "VpcId": {
          "documentation": "<p>The ID of the VPC for the referenced security group, if applicable.</p>",
          "shape": "NonEmptyString"
        },
        "VpcPeeringConnectionId": {
          "documentation": "<p>The ID of the VPC peering connection, if applicable.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsEc2SecurityGroupUserIdGroupPairList": {
      "member": {
        "shape": "AwsEc2SecurityGroupUserIdGroupPair"
      },
      "type": "list"
    },
    "AwsElasticsearchDomainDetails": {
      "documentation": "<p>Information about an Elasticsearch domain.</p>",
      "members": {
        "AccessPolicies": {
          "documentation": "<p>IAM policy document specifying the access policies for the new Amazon ES domain.</p>",
          "shape": "NonEmptyString"
        },
        "DomainEndpointOptions": {
          "documentation": "<p>Additional options for the domain endpoint.</p>",
          "shape": "AwsElasticsearchDomainDomainEndpointOptions"
        },
        "DomainId": {
          "documentation": "<p>Unique identifier for an Amazon ES domain.</p>",
          "shape": "NonEmptyString"
        },
        "DomainName": {
          "documentation": "<p>Name of an Amazon ES domain.</p> <p>Domain names are unique across all domains owned by the same account within an AWS Region.</p> <p>Domain names must start with a lowercase letter and must be between 3 and 28 characters.</p> <p>Valid characters are a-z (lowercase only), 0-9, and \u2013 (hyphen). </p>",
          "shape": "NonEmptyString"
        },
        "ElasticsearchVersion": {
          "documentation": "<p>Elasticsearch version.</p>",
          "shape": "NonEmptyString"
        },
        "EncryptionAtRestOptions": {
          "documentation": "<p>Details about the configuration for encryption at rest.</p>",
          "shape": "AwsElasticsearchDomainEncryptionAtRestOptions"
        },
        "Endpoint": {
          "documentation": "<p>Domain-specific endpoint used to submit index, search, and data upload requests to an Amazon ES domain.</p> <p>The endpoint is a service URL. </p>",
          "shape": "NonEmptyString"
        },
        "Endpoints": {
          "documentation": "<p>The key-value pair that exists if the Amazon ES domain uses VPC endpoints.</p>",
          "shape": "FieldMap"
        },
        "NodeToNodeEncryptionOptions": {
          "documentation": "<p>Details about the configuration for node-to-node encryption.</p>",
          "shape": "AwsElasticsearchDomainNodeToNodeEncryptionOptions"
        },
        "VPCOptions": {
          "documentation": "<p>Information that Amazon ES derives based on <code>VPCOptions</code> for the domain.</p>",
          "shape": "AwsElasticsearchDomainVPCOptions"
        }
      },
      "type": "structure"
    },
    "AwsElasticsearchDomainDomainEndpointOptions": {
      "documentation": "<p>Additional options for the domain endpoint, such as whether to require HTTPS for all traffic.</p>",
      "members": {
        "EnforceHTTPS": {
          "documentation": "<p>Whether to require that all traffic to the domain arrive over HTTPS.</p>",
          "shape": "Boolean"
        },
        "TLSSecurityPolicy": {
          "documentation": "<p>The TLS security policy to apply to the HTTPS endpoint of the Elasticsearch domain.</p> <p>Valid values:</p> <ul> <li> <p> <code>Policy-Min-TLS-1-0-2019-07</code>, which supports TLSv1.0 and higher</p> </li> <li> <p> <code>Policy-Min-TLS-1-2-2019-07</code>, which only supports TLSv1.2</p> </li> </ul>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsElasticsearchDomainEncryptionAtRestOptions": {
      "documentation": "<p>Details about the configuration for encryption at rest.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Whether encryption at rest is enabled.</p>",
          "shape": "Boolean"
        },
        "KmsKeyId": {
          "documentation": "<p>The KMS key ID. Takes the form 1a2a3a4-1a2a-3a4a-5a6a-1a2a3a4a5a6a.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsElasticsearchDomainNodeToNodeEncryptionOptions": {
      "documentation": "<p>Details about the configuration for node-to-node encryption.</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>Whether node-to-node encryption is enabled.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "AwsElasticsearchDomainVPCOptions": {
      "documentation": "<p>Information that Amazon ES derives based on <code>VPCOptions</code> for the domain.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>The list of Availability Zones associated with the VPC subnets.</p>",
          "shape": "NonEmptyStringList"
        },
        "SecurityGroupIds": {
          "documentation": "<p>The list of security group IDs associated with the VPC endpoints for the domain.</p>",
          "shape": "NonEmptyStringList"
        },
        "SubnetIds": {
          "documentation": "<p>A list of subnet IDs associated with the VPC endpoints for the domain.</p>",
          "shape": "NonEmptyStringList"
        },
        "VPCId": {
          "documentation": "<p>ID for the VPC.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsElbv2LoadBalancerDetails": {
      "documentation": "<p>Information about a load balancer.</p>",
      "members": {
        "AvailabilityZones": {
          "documentation": "<p>The Availability Zones for the load balancer.</p>",
          "shape": "AvailabilityZones"
        },
        "CanonicalHostedZoneId": {
          "documentation": "<p>The ID of the Amazon Route 53 hosted zone associated with the load balancer.</p>",
          "shape": "NonEmptyString"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time the load balancer was created.</p>",
          "shape": "NonEmptyString"
        },
        "DNSName": {
          "documentation": "<p>The public DNS name of the load balancer.</p>",
          "shape": "NonEmptyString"
        },
        "IpAddressType": {
          "documentation": "<p>The type of IP addresses used by the subnets for your load balancer. The possible values are <code>ipv4</code> (for IPv4 addresses) and <code>dualstack</code> (for IPv4 and IPv6 addresses).</p>",
          "shape": "NonEmptyString"
        },
        "Scheme": {
          "documentation": "<p>The nodes of an Internet-facing load balancer have public IP addresses.</p>",
          "shape": "NonEmptyString"
        },
        "SecurityGroups": {
          "documentation": "<p>The IDs of the security groups for the load balancer.</p>",
          "shape": "SecurityGroups"
        },
        "State": {
          "documentation": "<p>The state of the load balancer.</p>",
          "shape": "LoadBalancerState"
        },
        "Type": {
          "documentation": "<p>The type of load balancer.</p>",
          "shape": "NonEmptyString"
        },
        "VpcId": {
          "documentation": "<p>The ID of the VPC for the load balancer.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsIamAccessKeyDetails": {
      "documentation": "<p>IAM access key details related to a finding.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The creation date/time of the IAM access key related to a finding.</p>",
          "shape": "NonEmptyString"
        },
        "PrincipalId": {
          "documentation": "<p>The ID of the principal associated with an access key.</p>",
          "shape": "NonEmptyString"
        },
        "PrincipalName": {
          "documentation": "<p>The name of the principal.</p>",
          "shape": "NonEmptyString"
        },
        "PrincipalType": {
          "documentation": "<p>The type of principal associated with an access key.</p>",
          "shape": "NonEmptyString"
        },
        "Status": {
          "documentation": "<p>The status of the IAM access key related to a finding.</p>",
          "shape": "AwsIamAccessKeyStatus"
        },
        "UserName": {
          "deprecated": true,
          "deprecatedMessage": "This field is deprecated, use PrincipalName instead.",
          "documentation": "<p>The user associated with the IAM access key related to a finding.</p> <p>The <code>UserName</code> parameter has been replaced with the <code>PrincipalName</code> parameter because access keys can also be assigned to principals that are not IAM users.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsIamAccessKeyStatus": {
      "enum": [
        "Active",
        "Inactive"
      ],
      "type": "string"
    },
    "AwsIamRoleAssumeRolePolicyDocument": {
      "max": 131072,
      "min": 1,
      "pattern": "[\\u0009\\u000A\\u000D\\u0020-\\u007E\\u00A1-\\u00FF]+",
      "type": "string"
    },
    "AwsIamRoleDetails": {
      "documentation": "<p>Contains information about an IAM role, including all of the role's policies.</p>",
      "members": {
        "AssumeRolePolicyDocument": {
          "documentation": "<p>The trust policy that grants permission to assume the role.</p>",
          "shape": "AwsIamRoleAssumeRolePolicyDocument"
        },
        "CreateDate": {
          "documentation": "<p>The date and time, in ISO 8601 date-time format, when the role was created.</p>",
          "shape": "NonEmptyString"
        },
        "MaxSessionDuration": {
          "documentation": "<p>The maximum session duration (in seconds) that you want to set for the specified role.</p>",
          "shape": "Integer"
        },
        "Path": {
          "documentation": "<p>The path to the role.</p>",
          "shape": "NonEmptyString"
        },
        "RoleId": {
          "documentation": "<p>The stable and unique string identifying the role.</p>",
          "shape": "NonEmptyString"
        },
        "RoleName": {
          "documentation": "<p>The friendly name that identifies the role.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsKmsKeyDetails": {
      "documentation": "<p>Contains metadata about a customer master key (CMK).</p>",
      "members": {
        "AWSAccountId": {
          "documentation": "<p>The twelve-digit account ID of the AWS account that owns the CMK.</p>",
          "shape": "NonEmptyString"
        },
        "CreationDate": {
          "documentation": "<p>The date and time when the CMK was created.</p>",
          "shape": "Double"
        },
        "KeyId": {
          "documentation": "<p>The globally unique identifier for the CMK.</p>",
          "shape": "NonEmptyString"
        },
        "KeyManager": {
          "documentation": "<p>The manager of the CMK. CMKs in your AWS account are either customer managed or AWS managed.</p>",
          "shape": "NonEmptyString"
        },
        "KeyState": {
          "documentation": "<p>The state of the CMK.</p>",
          "shape": "NonEmptyString"
        },
        "Origin": {
          "documentation": "<p>The source of the CMK's key material.</p> <p>When this value is <code>AWS_KMS</code>, AWS KMS created the key material.</p> <p>When this value is <code>EXTERNAL</code>, the key material was imported from your existing key management infrastructure or the CMK lacks key material.</p> <p>When this value is <code>AWS_CLOUDHSM</code>, the key material was created in the AWS CloudHSM cluster associated with a custom key store.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionCode": {
      "documentation": "<p>The code for the Lambda function. You can specify either an object in Amazon S3, or upload a deployment package directly.</p>",
      "members": {
        "S3Bucket": {
          "documentation": "<p>An Amazon S3 bucket in the same AWS Region as your function. The bucket can be in a different AWS account.</p>",
          "shape": "NonEmptyString"
        },
        "S3Key": {
          "documentation": "<p>The Amazon S3 key of the deployment package.</p>",
          "shape": "NonEmptyString"
        },
        "S3ObjectVersion": {
          "documentation": "<p>For versioned objects, the version of the deployment package object to use.</p>",
          "shape": "NonEmptyString"
        },
        "ZipFile": {
          "documentation": "<p>The base64-encoded contents of the deployment package. AWS SDK and AWS CLI clients handle the encoding for you.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionDeadLetterConfig": {
      "documentation": "<p>The dead-letter queue for failed asynchronous invocations.</p>",
      "members": {
        "TargetArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionDetails": {
      "documentation": "<p>Details about a function's configuration.</p>",
      "members": {
        "Code": {
          "documentation": "<p>An <code>AwsLambdaFunctionCode</code> object.</p>",
          "shape": "AwsLambdaFunctionCode"
        },
        "CodeSha256": {
          "documentation": "<p>The SHA256 hash of the function's deployment package.</p>",
          "shape": "NonEmptyString"
        },
        "DeadLetterConfig": {
          "documentation": "<p>The function's dead letter queue.</p>",
          "shape": "AwsLambdaFunctionDeadLetterConfig"
        },
        "Environment": {
          "documentation": "<p>The function's environment variables.</p>",
          "shape": "AwsLambdaFunctionEnvironment"
        },
        "FunctionName": {
          "documentation": "<p>The name of the function.</p>",
          "shape": "NonEmptyString"
        },
        "Handler": {
          "documentation": "<p>The function that Lambda calls to begin executing your function.</p>",
          "shape": "NonEmptyString"
        },
        "KmsKeyArn": {
          "documentation": "<p>The KMS key that's used to encrypt the function's environment variables. This key is only returned if you've configured a customer managed CMK.</p>",
          "shape": "NonEmptyString"
        },
        "LastModified": {
          "documentation": "<p>The date and time that the function was last updated, in ISO-8601 format (YYYY-MM-DDThh:mm:ss.sTZD).</p>",
          "shape": "NonEmptyString"
        },
        "Layers": {
          "documentation": "<p>The function's layers.</p>",
          "shape": "AwsLambdaFunctionLayerList"
        },
        "MasterArn": {
          "documentation": "<p>For Lambda@Edge functions, the ARN of the master function.</p>",
          "shape": "NonEmptyString"
        },
        "MemorySize": {
          "documentation": "<p>The memory that's allocated to the function.</p>",
          "shape": "Integer"
        },
        "RevisionId": {
          "documentation": "<p>The latest updated revision of the function or alias.</p>",
          "shape": "NonEmptyString"
        },
        "Role": {
          "documentation": "<p>The function's execution role.</p>",
          "shape": "NonEmptyString"
        },
        "Runtime": {
          "documentation": "<p>The runtime environment for the Lambda function.</p>",
          "shape": "NonEmptyString"
        },
        "Timeout": {
          "documentation": "<p>The amount of time that Lambda allows a function to run before stopping it.</p>",
          "shape": "Integer"
        },
        "TracingConfig": {
          "documentation": "<p>The function's AWS X-Ray tracing configuration.</p>",
          "shape": "AwsLambdaFunctionTracingConfig"
        },
        "Version": {
          "documentation": "<p>The version of the Lambda function.</p>",
          "shape": "NonEmptyString"
        },
        "VpcConfig": {
          "documentation": "<p>The function's networking configuration.</p>",
          "shape": "AwsLambdaFunctionVpcConfig"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionEnvironment": {
      "documentation": "<p>A function's environment variable settings.</p>",
      "members": {
        "Error": {
          "documentation": "<p>An <code>AwsLambdaFunctionEnvironmentError</code> object.</p>",
          "shape": "AwsLambdaFunctionEnvironmentError"
        },
        "Variables": {
          "documentation": "<p>Environment variable key-value pairs.</p>",
          "shape": "FieldMap"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionEnvironmentError": {
      "documentation": "<p>Error messages for environment variables that couldn't be applied.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code.</p>",
          "shape": "NonEmptyString"
        },
        "Message": {
          "documentation": "<p>The error message.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionLayer": {
      "documentation": "<p>An AWS Lambda layer.</p>",
      "members": {
        "Arn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the function layer.</p>",
          "shape": "NonEmptyString"
        },
        "CodeSize": {
          "documentation": "<p>The size of the layer archive in bytes.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionLayerList": {
      "member": {
        "shape": "AwsLambdaFunctionLayer"
      },
      "type": "list"
    },
    "AwsLambdaFunctionTracingConfig": {
      "documentation": "<p>The function's AWS X-Ray tracing configuration.</p>",
      "members": {
        "Mode": {
          "documentation": "<p>The tracing mode.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsLambdaFunctionVpcConfig": {
      "documentation": "<p>The VPC security groups and subnets that are attached to a Lambda function. For more information, see VPC Settings.</p>",
      "members": {
        "SecurityGroupIds": {
          "documentation": "<p>A list of VPC security groups IDs.</p>",
          "shape": "NonEmptyStringList"
        },
        "SubnetIds": {
          "documentation": "<p>A list of VPC subnet IDs.</p>",
          "shape": "NonEmptyStringList"
        },
        "VpcId": {
          "documentation": "<p>The ID of the VPC.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsLambdaLayerVersionDetails": {
      "documentation": "<p>Details about a Lambda layer version.</p>",
      "members": {
        "CompatibleRuntimes": {
          "documentation": "<p>The layer's compatible runtimes. Maximum number of 5 items.</p> <p>Valid values: <code>nodejs10.x</code> | <code>nodejs12.x</code> | <code>java8</code> | <code>java11</code> | <code>python2.7</code> | <code>python3.6</code> | <code>python3.7</code> | <code>python3.8</code> | <code>dotnetcore1.0</code> | <code>dotnetcore2.1</code> | <code>go1.x</code> | <code>ruby2.5</code> | <code>provided</code> </p>",
          "shape": "NonEmptyStringList"
        },
        "CreatedDate": {
          "documentation": "<p>The date that the version was created, in ISO 8601 format. For example, 2018-11-27T15:10:45.123+0000. </p>",
          "shape": "NonEmptyString"
        },
        "Version": {
          "documentation": "<p>The version number.</p>",
          "shape": "AwsLambdaLayerVersionNumber"
        }
      },
      "type": "structure"
    },
    "AwsLambdaLayerVersionNumber": {
      "type": "long"
    },
    "AwsRdsDbInstanceAssociatedRole": {
      "documentation": "<p>An AWS Identity and Access Management (IAM) role associated with the DB instance.</p>",
      "members": {
        "FeatureName": {
          "documentation": "<p>The name of the feature associated with the IAM)role.</p>",
          "shape": "NonEmptyString"
        },
        "RoleArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the IAM role that is associated with the DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "Status": {
          "documentation": "<p>Describes the state of the association between the IAM role and the DB instance. The <code>Status</code> property returns one of the following values:</p> <ul> <li> <p> <code>ACTIVE</code> - the IAM role ARN is associated with the DB instance and can be used to access other AWS services on your behalf.</p> </li> <li> <p> <code>PENDING</code> - the IAM role ARN is being associated with the DB instance.</p> </li> <li> <p> <code>INVALID</code> - the IAM role ARN is associated with the DB instance, but the DB instance is unable to assume the IAM role in order to access other AWS services on your behalf. </p> </li> </ul>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsRdsDbInstanceAssociatedRoles": {
      "member": {
        "shape": "AwsRdsDbInstanceAssociatedRole"
      },
      "type": "list"
    },
    "AwsRdsDbInstanceDetails": {
      "documentation": "<p>Contains the details of an Amazon RDS DB instance.</p>",
      "members": {
        "AssociatedRoles": {
          "documentation": "<p>The AWS Identity and Access Management (IAM) roles associated with the DB instance.</p>",
          "shape": "AwsRdsDbInstanceAssociatedRoles"
        },
        "CACertificateIdentifier": {
          "documentation": "<p>The identifier of the CA certificate for this DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "DBClusterIdentifier": {
          "documentation": "<p>If the DB instance is a member of a DB cluster, contains the name of the DB cluster that the DB instance is a member of.</p>",
          "shape": "NonEmptyString"
        },
        "DBInstanceClass": {
          "documentation": "<p>Contains the name of the compute and memory capacity class of the DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "DBInstanceIdentifier": {
          "documentation": "<p>Contains a user-supplied database identifier. This identifier is the unique key that identifies a DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "DBName": {
          "documentation": "<p>The meaning of this parameter differs according to the database engine you use.</p> <p> <b>MySQL, MariaDB, SQL Server, PostgreSQL</b> </p> <p>Contains the name of the initial database of this instance that was provided at create time, if one was specified when the DB instance was created. This same name is returned for the life of the DB instance.</p> <p> <b>Oracle</b> </p> <p>Contains the Oracle System ID (SID) of the created DB instance. Not shown when the returned parameters do not apply to an Oracle DB instance. </p>",
          "shape": "NonEmptyString"
        },
        "DbInstancePort": {
          "documentation": "<p>Specifies the port that the DB instance listens on. If the DB instance is part of a DB cluster, this can be a different port than the DB cluster port.</p>",
          "shape": "Integer"
        },
        "DbiResourceId": {
          "documentation": "<p>The AWS Region-unique, immutable identifier for the DB instance. This identifier is found in AWS CloudTrail log entries whenever the AWS KMS key for the DB instance is accessed. </p>",
          "shape": "NonEmptyString"
        },
        "DeletionProtection": {
          "documentation": "<p>Indicates whether the DB instance has deletion protection enabled.</p> <p>When deletion protection is enabled, the database cannot be deleted.</p>",
          "shape": "Boolean"
        },
        "Endpoint": {
          "documentation": "<p>Specifies the connection endpoint.</p>",
          "shape": "AwsRdsDbInstanceEndpoint"
        },
        "Engine": {
          "documentation": "<p>Provides the name of the database engine to use for this DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "EngineVersion": {
          "documentation": "<p>Indicates the database engine version.</p>",
          "shape": "NonEmptyString"
        },
        "IAMDatabaseAuthenticationEnabled": {
          "documentation": "<p>True if mapping of AWS Identity and Access Management (IAM) accounts to database accounts is enabled, and otherwise false.</p> <p>IAM database authentication can be enabled for the following database engines.</p> <ul> <li> <p>For MySQL 5.6, minor version 5.6.34 or higher</p> </li> <li> <p>For MySQL 5.7, minor version 5.7.16 or higher</p> </li> <li> <p>Aurora 5.6 or higher</p> </li> </ul>",
          "shape": "Boolean"
        },
        "InstanceCreateTime": {
          "documentation": "<p>Provides the date and time the DB instance was created.</p>",
          "shape": "NonEmptyString"
        },
        "KmsKeyId": {
          "documentation": "<p>If <code>StorageEncrypted</code> is true, the AWS KMS key identifier for the encrypted DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "PubliclyAccessible": {
          "documentation": "<p>Specifies the accessibility options for the DB instance.</p> <p>A value of true specifies an Internet-facing instance with a publicly resolvable DNS name, which resolves to a public IP address.</p> <p>A value of false specifies an internal instance with a DNS name that resolves to a private IP address. </p>",
          "shape": "Boolean"
        },
        "StorageEncrypted": {
          "documentation": "<p>Specifies whether the DB instance is encrypted.</p>",
          "shape": "Boolean"
        },
        "TdeCredentialArn": {
          "documentation": "<p>The ARN from the key store with which the instance is associated for TDE encryption.</p>",
          "shape": "NonEmptyString"
        },
        "VpcSecurityGroups": {
          "documentation": "<p>A list of VPC security groups that the DB instance belongs to.</p>",
          "shape": "AwsRdsDbInstanceVpcSecurityGroups"
        }
      },
      "type": "structure"
    },
    "AwsRdsDbInstanceEndpoint": {
      "documentation": "<p>Specifies the connection endpoint.</p>",
      "members": {
        "Address": {
          "documentation": "<p>Specifies the DNS address of the DB instance.</p>",
          "shape": "NonEmptyString"
        },
        "HostedZoneId": {
          "documentation": "<p>Specifies the ID that Amazon Route 53 assigns when you create a hosted zone.</p>",
          "shape": "NonEmptyString"
        },
        "Port": {
          "documentation": "<p>Specifies the port that the database engine is listening on.</p>",
          "shape": "Integer"
        }
      },
      "type": "structure"
    },
    "AwsRdsDbInstanceVpcSecurityGroup": {
      "documentation": "<p>A VPC security groups that the DB instance belongs to.</p>",
      "members": {
        "Status": {
          "documentation": "<p>The status of the VPC security group.</p>",
          "shape": "NonEmptyString"
        },
        "VpcSecurityGroupId": {
          "documentation": "<p>The name of the VPC security group.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsRdsDbInstanceVpcSecurityGroups": {
      "member": {
        "shape": "AwsRdsDbInstanceVpcSecurityGroup"
      },
      "type": "list"
    },
    "AwsS3BucketDetails": {
      "documentation": "<p>The details of an Amazon S3 bucket.</p>",
      "members": {
        "CreatedAt": {
          "documentation": "<p>The date and time when the S3 bucket was created.</p>",
          "shape": "NonEmptyString"
        },
        "OwnerId": {
          "documentation": "<p>The canonical user ID of the owner of the S3 bucket.</p>",
          "shape": "NonEmptyString"
        },
        "OwnerName": {
          "documentation": "<p>The display name of the owner of the S3 bucket.</p>",
          "shape": "NonEmptyString"
        },
        "ServerSideEncryptionConfiguration": {
          "documentation": "<p>The encryption rules that are applied to the S3 bucket.</p>",
          "shape": "AwsS3BucketServerSideEncryptionConfiguration"
        }
      },
      "type": "structure"
    },
    "AwsS3BucketServerSideEncryptionByDefault": {
      "documentation": "<p>Specifies the default server-side encryption to apply to new objects in the bucket.</p>",
      "members": {
        "KMSMasterKeyID": {
          "documentation": "<p>AWS KMS customer master key (CMK) ID to use for the default encryption.</p>",
          "shape": "NonEmptyString"
        },
        "SSEAlgorithm": {
          "documentation": "<p>Server-side encryption algorithm to use for the default encryption.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsS3BucketServerSideEncryptionConfiguration": {
      "documentation": "<p>The encryption configuration for the S3 bucket.</p>",
      "members": {
        "Rules": {
          "documentation": "<p>The encryption rules that are applied to the S3 bucket.</p>",
          "shape": "AwsS3BucketServerSideEncryptionRules"
        }
      },
      "type": "structure"
    },
    "AwsS3BucketServerSideEncryptionRule": {
      "documentation": "<p>An encryption rule to apply to the S3 bucket.</p>",
      "members": {
        "ApplyServerSideEncryptionByDefault": {
          "documentation": "<p>Specifies the default server-side encryption to apply to new objects in the bucket. If a <code>PUT</code> Object request doesn't specify any server-side encryption, this default encryption is applied.</p>",
          "shape": "AwsS3BucketServerSideEncryptionByDefault"
        }
      },
      "type": "structure"
    },
    "AwsS3BucketServerSideEncryptionRules": {
      "member": {
        "shape": "AwsS3BucketServerSideEncryptionRule"
      },
      "type": "list"
    },
    "AwsS3ObjectDetails": {
      "documentation": "<p>Details about an AWS S3 object.</p>",
      "members": {
        "ContentType": {
          "documentation": "<p>A standard MIME type describing the format of the object data.</p>",
          "shape": "NonEmptyString"
        },
        "ETag": {
          "documentation": "<p>The opaque identifier assigned by a web server to a specific version of a resource found at a URL.</p>",
          "shape": "NonEmptyString"
        },
        "LastModified": {
          "documentation": "<p>The date and time when the object was last modified.</p>",
          "shape": "NonEmptyString"
        },
        "SSEKMSKeyId": {
          "documentation": "<p>The identifier of the AWS Key Management Service (AWS KMS) symmetric customer managed customer master key (CMK) that was used for the object.</p>",
          "shape": "NonEmptyString"
        },
        "ServerSideEncryption": {
          "documentation": "<p>If the object is stored using server-side encryption, the value of the server-side encryption algorithm used when storing this object in Amazon S3.</p>",
          "shape": "NonEmptyString"
        },
        "VersionId": {
          "documentation": "<p>The version of the object.</p>",
          "shape": "NonEmptyString"
        }
      },
      "type": "structure"
    },
    "AwsSecurityFinding": {
      "documentation": "<p>Provides consistent format for the contents of the Security Hub-aggregated findings. <code>AwsSecurityFinding</code> format enables you to share findings between AWS security services and third-party solutions, and security standards checks.</p> <note> <p>A finding is a potential security issue generated either by AWS services (Amazon GuardDuty, Amazon Inspector, and Amazon Macie) or by the integrated third-party solutions and standards checks.</p> </note>",
      "members": {
        "AwsAccountId": {
          "documentation": "<p>The AWS account ID that a finding is generated in.</p>",
          "shape": "NonEmptyString"
        },
        "Compliance": {
          "documentation": "<p>This data type is exclusive to findings that are generated as the result of a check run against a specific rule in a supported security standard, such as CIS AWS Foundations. Contains security standard-related finding details.</p>",
          "shape": "Compliance"
        },
        "Confidence": {
          "documentation": "<p>A finding's confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>",
          "shape": "Integer"
        },
        "CreatedAt": {
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider created the potential security issue that a finding captured.</p>",
          "shape": "NonEmptyString"
        },
        "Criticality": {
          "documentation": "<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>",
          "shape": "Integer"
        },
        "Description": {
          "documentation": "<p>A finding's description.</p> <note> <p>In this release, <code>Description</code> is a required property.</p> </note>",
          "shape": "NonEmptyString"
        },
        "FirstObservedAt": {
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.</p>",
          "shape": "NonEmptyString"
        },
        "GeneratorId": {
          "documentation": "<p>The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc. </p>",
          "shape": "NonEmptyString"
        },
        "Id": {
          "documentation": "<p>The security findings provider-specific identifier for a finding.</p>",
          "shape": "NonEmptyString"
        },
        "LastObservedAt": {
          "documentation": "<p>An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.</p>",
          "shape": "NonEmptyString"
        },
        "Malware": {
          "documentation": "<p>A list of malware related to a finding.</p>",
          "shape": "MalwareList"
        },
        "Network": {
          "documentation": "<p>The details of network-related information about a finding.</p>",
          "shape": "Network"
        },
        "Note": {
          "documentation": "<p>A user-defined note added to a finding.</p>",
          "shape": "Note"
        },
        "Process": {
          "documentation": "<p>The details of process-related information about a finding.</p>",
          "shape": "ProcessDetails"
        },
        "ProductArn": {
          "documentation": "<p>The ARN generated by Security Hub that uniquely identifies a product that generates findings. This can be the ARN for a third-party product that is integrated with Security Hub, or the ARN for a custom integration.</p>",
          "shape": "NonEmptyString"
        },
        "ProductFields": {
          "documentation": "<p>A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.</p>",
          "shape": "FieldMap"
        },
        "RecordState": {
          "documentation": "<p>The record state of a finding.</p>",
          "shape": "RecordState"
        },
        "RelatedFindings": {
          "documentation": "<p>A list of related findings.</p>",
          "shape": "RelatedFindingList"
        },
        "Remediation": {
          "documentation": "<p>A data type that describes the remediation options for a finding.</p>",
          "shape": "Remediation"
        },
        "Resources": {
          "documentation": "<p>A set of resource data types that describe the resources that the finding refers to.</p>",
          "shape": "ResourceList"
        },
        "SchemaVersion": {
          "documentation": "<p>The schema version that a finding is formatted for.</p>",
          "shape": "NonEmptyString"
        },
        "Severity": {
[...]
