{
  "documentation": "<fullname>AWS Identity and Access Management</fullname> <p>AWS Identity and Access Management (IAM) is a web service that you can use to manage users and user permissions under your AWS account. This guide provides descriptions of IAM actions that you can call programmatically. For general information about IAM, see <a href=\"http://aws.amazon.com/iam/\">AWS Identity and Access Management (IAM)</a>. For the user guide for IAM, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/\">Using IAM</a>. </p> <note> <p>AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to IAM and AWS. For example, the SDKs take care of tasks such as cryptographically signing requests (see below), managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a> page. </p> </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls to IAM. However, you can also use the IAM Query API to make direct calls to the IAM web service. To learn more about the IAM Query API, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in the <i>Using IAM</i> guide. IAM supports GET and POST requests for all actions. That is, the API does not require you to use GET for some actions and POST for others. However, GET requests are subject to the limitation size of a URL. Therefore, for operations that require larger sizes, use a POST request. </p> <p> <b>Signing Requests</b> </p> <p>Requests must be signed using an access key ID and a secret access key. We strongly recommend that you do not use your AWS account access key ID and secret access key for everyday work with IAM. You can use the access key ID and secret access key for an IAM user or you can use the AWS Security Token Service to generate temporary security credentials and use those to sign requests.</p> <p>To sign requests, we recommend that you use <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. If you have an existing application that uses Signature Version 2, you do not have to update it to use Signature Version 4. However, some operations now require Signature Version 4. The documentation for operations that require version 4 indicate this requirement. </p> <p> <b>Additional Resources</b> </p> <p>For more information, see the following:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a>. This topic provides general information about the types of credentials used for accessing AWS. </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html\">IAM Best Practices</a>. This topic presents a list of suggestions for using the IAM service to help secure your AWS resources. </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a>. This set of topics walk you through the process of signing a request using an access key ID and secret access key. </p> </li> </ul>",
  "metadata": {
    "apiVersion": "2010-05-08",
    "endpointPrefix": "iam",
    "globalEndpoint": "iam.amazonaws.com",
    "protocol": "query",
    "serviceAbbreviation": "IAM",
    "serviceFullName": "AWS Identity and Access Management",
    "serviceId": "IAM",
    "signatureVersion": "v4",
    "uid": "iam-2010-05-08",
    "xmlNamespace": "https://iam.amazonaws.com/doc/2010-05-08/"
  },
  "operations": {
    "AddClientIDToOpenIDConnectProvider": {
      "documentation": "<p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect (OIDC) provider resource.</p> <p>This operation is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddClientIDToOpenIDConnectProviderRequest"
      },
      "name": "AddClientIDToOpenIDConnectProvider"
    },
    "AddRoleToInstanceProfile": {
      "documentation": "<p>Adds the specified IAM role to the specified instance profile. An instance profile can contain only one role, and this limit cannot be increased. You can remove the existing role and then add a different role to an instance profile. You must then wait for the change to appear across all of AWS because of <a href=\"https://en.wikipedia.org/wiki/Eventual_consistency\">eventual consistency</a>. To force the change, you must <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_DisassociateIamInstanceProfile.html\">disassociate the instance profile</a> and then <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_AssociateIamInstanceProfile.html\">associate the instance profile</a>, or you can stop your instance and then restart it.</p> <note> <p>The caller of this API must be granted the <code>PassRole</code> permission on the IAM role by a permissions policy.</p> </note> <p>For more information about roles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. For more information about instance profiles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnmodifiableEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddRoleToInstanceProfileRequest"
      },
      "name": "AddRoleToInstanceProfile"
    },
    "AddUserToGroup": {
      "documentation": "<p>Adds the specified user to the specified group.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddUserToGroupRequest"
      },
      "name": "AddUserToGroup"
    },
    "AttachGroupPolicy": {
      "documentation": "<p>Attaches the specified managed policy to the specified IAM group.</p> <p>You use this API to attach a managed policy to a group. To embed an inline policy in a group, use <a>PutGroupPolicy</a>.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "PolicyNotAttachableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachGroupPolicyRequest"
      },
      "name": "AttachGroupPolicy"
    },
    "AttachRolePolicy": {
      "documentation": "<p>Attaches the specified managed policy to the specified IAM role. When you attach a managed policy to a role, the managed policy becomes part of the role's permission (access) policy.</p> <note> <p>You cannot use a managed policy as the role's trust policy. The role's trust policy is created at the same time as the role, using <a>CreateRole</a>. You can update a role's trust policy using <a>UpdateAssumeRolePolicy</a>.</p> </note> <p>Use this API to attach a <i>managed</i> policy to a role. To embed an inline policy in a role, use <a>PutRolePolicy</a>. For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "UnmodifiableEntityException"
        },
        {
          "shape": "PolicyNotAttachableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachRolePolicyRequest"
      },
      "name": "AttachRolePolicy"
    },
    "AttachUserPolicy": {
      "documentation": "<p>Attaches the specified managed policy to the specified user.</p> <p>You use this API to attach a <i>managed</i> policy to a user. To embed an inline policy in a user, use <a>PutUserPolicy</a>.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "PolicyNotAttachableException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachUserPolicyRequest"
      },
      "name": "AttachUserPolicy"
    },
    "ChangePassword": {
      "documentation": "<p>Changes the password of the IAM user who is calling this operation. The AWS account root user password is not affected by this operation.</p> <p>To change the password for a different user, see <a>UpdateLoginProfile</a>. For more information about modifying passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidUserTypeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "EntityTemporarilyUnmodifiableException"
        },
        {
          "shape": "PasswordPolicyViolationException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ChangePasswordRequest"
      },
      "name": "ChangePassword"
    },
    "CreateAccessKey": {
      "documentation": "<p> Creates a new AWS secret access key and corresponding AWS access key ID for the specified user. The default status for new keys is <code>Active</code>.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. This operation works for access keys under the AWS account. Consequently, you can use this operation to manage AWS account root user credentials. This is true even if the AWS account has no associated users.</p> <p> For information about limits on the number of keys you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p> <important> <p>To ensure the security of your AWS account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys.</p> </important>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccessKeyRequest"
      },
      "name": "CreateAccessKey",
      "output": {
        "resultWrapper": "CreateAccessKeyResult",
        "shape": "CreateAccessKeyResponse"
      }
    },
    "CreateAccountAlias": {
      "documentation": "<p>Creates an alias for your AWS account. For information about using an AWS account alias, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAccountAliasRequest"
      },
      "name": "CreateAccountAlias"
    },
    "CreateGroup": {
      "documentation": "<p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "resultWrapper": "CreateGroupResult",
        "shape": "CreateGroupResponse"
      }
    },
    "CreateInstanceProfile": {
      "documentation": "<p> Creates a new instance profile. For information about instance profiles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>.</p> <p> For information about the number of instance profiles you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateInstanceProfileRequest"
      },
      "name": "CreateInstanceProfile",
      "output": {
        "resultWrapper": "CreateInstanceProfileResult",
        "shape": "CreateInstanceProfileResponse"
      }
    },
    "CreateLoginProfile": {
      "documentation": "<p> Creates a password for the specified user, giving the user the ability to access AWS services through the AWS Management Console. For more information about managing passwords, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "PasswordPolicyViolationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLoginProfileRequest"
      },
      "name": "CreateLoginProfile",
      "output": {
        "resultWrapper": "CreateLoginProfileResult",
        "shape": "CreateLoginProfileResponse"
      }
    },
    "CreateOpenIDConnectProvider": {
      "documentation": "<p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href=\"http://openid.net/connect/\">OpenID Connect (OIDC)</a>.</p> <p>The OIDC provider that you create with this operation can be used as a principal in a role's trust policy. Such a policy establishes a trust relationship between AWS and the OIDC provider.</p> <p>When you create the IAM OIDC provider, you specify the following:</p> <ul> <li> <p>The URL of the OIDC identity provider (IdP) to trust</p> </li> <li> <p>A list of client IDs (also known as audiences) that identify the application or applications that are allowed to authenticate using the OIDC provider</p> </li> <li> <p>A list of thumbprints of one or more server certificates that the IdP uses</p> </li> </ul> <p>You get all of this information from the OIDC IdP that you want to use to access AWS.</p> <note> <p>The trust for the OIDC provider is derived from the IAM provider that this operation creates. Therefore, it is best to limit access to the <a>CreateOpenIDConnectProvider</a> operation to highly privileged users.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOpenIDConnectProviderRequest"
      },
      "name": "CreateOpenIDConnectProvider",
      "output": {
        "resultWrapper": "CreateOpenIDConnectProviderResult",
        "shape": "CreateOpenIDConnectProviderResponse"
      }
    },
    "CreatePolicy": {
      "documentation": "<p>Creates a new managed policy for your AWS account.</p> <p>This operation creates a policy version with a version identifier of <code>v1</code> and sets v1 as the policy's default version. For more information about policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policies in general, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "MalformedPolicyDocumentException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePolicyRequest"
      },
      "name": "CreatePolicy",
      "output": {
        "resultWrapper": "CreatePolicyResult",
        "shape": "CreatePolicyResponse"
      }
    },
    "CreatePolicyVersion": {
      "documentation": "<p>Creates a new version of the specified managed policy. To update a managed policy, you create a new policy version. A managed policy can have up to five versions. If the policy has five versions, you must delete an existing version using <a>DeletePolicyVersion</a> before you create a new version.</p> <p>Optionally, you can set the new version as the policy's default version. The default version is the version that is in effect for the IAM users, groups, and roles to which the policy is attached.</p> <p>For more information about managed policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "MalformedPolicyDocumentException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePolicyVersionRequest"
      },
      "name": "CreatePolicyVersion",
      "output": {
        "resultWrapper": "CreatePolicyVersionResult",
        "shape": "CreatePolicyVersionResponse"
      }
    },
    "CreateRole": {
      "documentation": "<p>Creates a new role for your AWS account. For more information about roles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">IAM Roles</a>. For information about limitations on role names and the number of roles you can create, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "MalformedPolicyDocumentException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateRoleRequest"
      },
      "name": "CreateRole",
      "output": {
        "resultWrapper": "CreateRoleResult",
        "shape": "CreateRoleResponse"
      }
    },
    "CreateSAMLProvider": {
      "documentation": "<p>Creates an IAM resource that describes an identity provider (IdP) that supports SAML 2.0.</p> <p>The SAML provider resource that you create with this operation can be used as a principal in an IAM role's trust policy. Such a policy can enable federated users who sign in using the SAML IdP to assume the role. You can create an IAM role that supports Web-based single sign-on (SSO) to the AWS Management Console or one that supports API access to AWS.</p> <p>When you create the SAML provider resource, you upload a SAML metadata document that you get from your IdP. That document includes the issuer's name, expiration information, and keys that can be used to validate the SAML authentication response (assertions) that the IdP sends. You must generate the metadata document using the identity management software that is used as your organization's IdP.</p> <note> <p> This operation requires <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> </note> <p> For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_enable-console-saml.html\">Enabling SAML 2.0 Federated Users to Access the AWS Management Console</a> and <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_providers_saml.html\">About SAML 2.0-based Federation</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSAMLProviderRequest"
      },
      "name": "CreateSAMLProvider",
      "output": {
        "resultWrapper": "CreateSAMLProviderResult",
        "shape": "CreateSAMLProviderResponse"
      }
    },
    "CreateServiceLinkedRole": {
      "documentation": "<p>Creates an IAM role that is linked to a specific AWS service. The service controls the attached policies and when the role can be deleted. This helps ensure that the service is not broken by an unexpectedly changed or deleted role, which could put your AWS resources into an unknown state. Allowing the service to control the role helps improve service stability and proper cleanup when a service and its role are no longer needed. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/using-service-linked-roles.html\">Using Service-Linked Roles</a> in the <i>IAM User Guide</i>. </p> <p>To attach a policy to this service-linked role, you must make the request using the AWS service that depends on this role.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServiceLinkedRoleRequest"
      },
      "name": "CreateServiceLinkedRole",
      "output": {
        "resultWrapper": "CreateServiceLinkedRoleResult",
        "shape": "CreateServiceLinkedRoleResponse"
      }
    },
    "CreateServiceSpecificCredential": {
      "documentation": "<p>Generates a set of credentials consisting of a user name and password that can be used to access the service specified in the request. These credentials are generated by IAM, and can be used only for the specified service. </p> <p>You can have a maximum of two sets of service-specific credentials for each supported service per user.</p> <p>The only supported service at this time is AWS CodeCommit.</p> <p>You can reset the password to a new service-generated value by calling <a>ResetServiceSpecificCredential</a>.</p> <p>For more information about service-specific credentials, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_ssh-keys.html\">Using IAM with AWS CodeCommit: Git Credentials, SSH Keys, and AWS Access Keys</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServiceSpecificCredentialRequest"
      },
      "name": "CreateServiceSpecificCredential",
      "output": {
        "resultWrapper": "CreateServiceSpecificCredentialResult",
        "shape": "CreateServiceSpecificCredentialResponse"
      }
    },
    "CreateUser": {
      "documentation": "<p>Creates a new IAM user for your AWS account.</p> <p> For information about limitations on the number of IAM users you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateUserRequest"
      },
      "name": "CreateUser",
      "output": {
        "resultWrapper": "CreateUserResult",
        "shape": "CreateUserResponse"
      }
    },
    "CreateVirtualMFADevice": {
      "documentation": "<p>Creates a new virtual MFA device for the AWS account. After creating the virtual MFA, use <a>EnableMFADevice</a> to attach the MFA device to an IAM user. For more information about creating and working with virtual MFA devices, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Using a Virtual MFA Device</a> in the <i>IAM User Guide</i>.</p> <p>For information about limits on the number of MFA devices you can create, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on Entities</a> in the <i>IAM User Guide</i>.</p> <important> <p>The seed information contained in the QR code and the Base32 string should be treated like any other secret access information. In other words, protect the seed information as you would your AWS access keys or your passwords. After you provision your virtual device, you should ensure that the information is destroyed following secure procedures.</p> </important>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateVirtualMFADeviceRequest"
      },
      "name": "CreateVirtualMFADevice",
      "output": {
        "resultWrapper": "CreateVirtualMFADeviceResult",
        "shape": "CreateVirtualMFADeviceResponse"
      }
    },
    "DeactivateMFADevice": {
      "documentation": "<p>Deactivates the specified MFA device and removes it from association with the user name for which it was originally enabled.</p> <p>For more information about creating and working with virtual MFA devices, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Enabling a Virtual Multi-factor Authentication (MFA) Device</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "EntityTemporarilyUnmodifiableException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeactivateMFADeviceRequest"
      },
      "name": "DeactivateMFADevice"
    },
    "DeleteAccessKey": {
      "documentation": "<p>Deletes the access key pair associated with the specified IAM user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. This operation works for access keys under the AWS account. Consequently, you can use this operation to manage AWS account root user credentials even if the AWS account has no associated users.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccessKeyRequest"
      },
      "name": "DeleteAccessKey"
    },
    "DeleteAccountAlias": {
      "documentation": "<p> Deletes the specified AWS account alias. For information about using an AWS account alias, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAccountAliasRequest"
      },
      "name": "DeleteAccountAlias"
    },
    "DeleteAccountPasswordPolicy": {
      "documentation": "<p>Deletes the password policy for the AWS account. There are no parameters.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DeleteAccountPasswordPolicy"
    },
    "DeleteGroup": {
      "documentation": "<p>Deletes the specified IAM group. The group must not contain any users or have any attached policies.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup"
    },
    "DeleteGroupPolicy": {
      "documentation": "<p>Deletes the specified inline policy that is embedded in the specified IAM group.</p> <p>A group can also have managed policies attached to it. To detach a managed policy from a group, use <a>DetachGroupPolicy</a>. For more information about policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGroupPolicyRequest"
      },
      "name": "DeleteGroupPolicy"
    },
    "DeleteInstanceProfile": {
      "documentation": "<p>Deletes the specified instance profile. The instance profile must not have an associated role.</p> <important> <p>Make sure that you do not have any Amazon EC2 instances running with the instance profile you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance.</p> </important> <p>For more information about instance profiles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInstanceProfileRequest"
      },
      "name": "DeleteInstanceProfile"
    },
    "DeleteLoginProfile": {
      "documentation": "<p>Deletes the password for the specified IAM user, which terminates the user's ability to access AWS services through the AWS Management Console.</p> <important> <p> Deleting a user's password does not prevent a user from accessing AWS through the command line interface or the API. To prevent all user access, you must also either make any access keys inactive or delete them. For more information about making keys inactive or deleting them, see <a>UpdateAccessKey</a> and <a>DeleteAccessKey</a>. </p> </important>",
      "errors": [
        {
          "shape": "EntityTemporarilyUnmodifiableException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLoginProfileRequest"
      },
      "name": "DeleteLoginProfile"
    },
    "DeleteOpenIDConnectProvider": {
      "documentation": "<p>Deletes an OpenID Connect identity provider (IdP) resource object in IAM.</p> <p>Deleting an IAM OIDC provider resource does not update any roles that reference the provider as a principal in their trust policies. Any attempt to assume a role that references a deleted provider fails.</p> <p>This operation is idempotent; it does not fail or return an error if you call the operation for a provider that does not exist.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOpenIDConnectProviderRequest"
      },
      "name": "DeleteOpenIDConnectProvider"
    },
    "DeletePolicy": {
      "documentation": "<p>Deletes the specified managed policy.</p> <p>Before you can delete a managed policy, you must first detach the policy from all users, groups, and roles that it is attached to. In addition, you must delete all the policy's versions. The following steps describe the process for deleting a managed policy:</p> <ul> <li> <p>Detach the policy from all users, groups, and roles that the policy is attached to, using the <a>DetachUserPolicy</a>, <a>DetachGroupPolicy</a>, or <a>DetachRolePolicy</a> API operations. To list all the users, groups, and roles that a policy is attached to, use <a>ListEntitiesForPolicy</a>.</p> </li> <li> <p>Delete all versions of the policy using <a>DeletePolicyVersion</a>. To list the policy's versions, use <a>ListPolicyVersions</a>. You cannot use <a>DeletePolicyVersion</a> to delete the version that is marked as the default version. You delete the policy's default version in the next step of the process.</p> </li> <li> <p>Delete the policy (this automatically deletes the policy's default version) using this API.</p> </li> </ul> <p>For information about managed policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePolicyRequest"
      },
      "name": "DeletePolicy"
    },
    "DeletePolicyVersion": {
      "documentation": "<p>Deletes the specified version from the specified managed policy.</p> <p>You cannot delete the default version from a policy using this API. To delete the default version from a policy, use <a>DeletePolicy</a>. To find out which version of a policy is marked as the default version, use <a>ListPolicyVersions</a>.</p> <p>For information about versions for managed policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePolicyVersionRequest"
      },
      "name": "DeletePolicyVersion"
    },
    "DeleteRole": {
      "documentation": "<p>Deletes the specified role. The role must not have any policies attached. For more information about roles, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>.</p> <important> <p>Make sure that you do not have any Amazon EC2 instances running with the role you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance.</p> </important>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnmodifiableEntityException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRoleRequest"
      },
      "name": "DeleteRole"
    },
    "DeleteRolePermissionsBoundary": {
      "documentation": "<p>Deletes the permissions boundary for the specified IAM role. </p> <important> <p>Deleting the permissions boundary for a role might increase its permissions. For example, it might allow anyone who assumes the role to perform all the actions granted in its permissions policies. </p> </important>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "UnmodifiableEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRolePermissionsBoundaryRequest"
      },
      "name": "DeleteRolePermissionsBoundary"
    },
    "DeleteRolePolicy": {
      "documentation": "<p>Deletes the specified inline policy that is embedded in the specified IAM role.</p> <p>A role can also have managed policies attached to it. To detach a managed policy from a role, use <a>DetachRolePolicy</a>. For more information about policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "UnmodifiableEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteRolePolicyRequest"
      },
      "name": "DeleteRolePolicy"
    },
    "DeleteSAMLProvider": {
      "documentation": "<p>Deletes a SAML provider resource in IAM.</p> <p>Deleting the provider resource from IAM does not update any roles that reference the SAML provider resource's ARN as a principal in their trust policies. Any attempt to assume a role that references a non-existent provider resource ARN fails.</p> <note> <p> This operation requires <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> </note>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSAMLProviderRequest"
      },
      "name": "DeleteSAMLProvider"
    },
    "DeleteSSHPublicKey": {
      "documentation": "<p>Deletes the specified SSH public key.</p> <p>The SSH public key deleted by this operation is used only for authenticating the associated IAM user to an AWS CodeCommit repository. For more information about using SSH keys to authenticate to an AWS CodeCommit repository, see <a href=\"https://docs.aws.amazon.com/codecommit/latest/userguide/setting-up-credentials-ssh.html\">Set up AWS CodeCommit for SSH Connections</a> in the <i>AWS CodeCommit User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSSHPublicKeyRequest"
      },
      "name": "DeleteSSHPublicKey"
    },
    "DeleteServerCertificate": {
      "documentation": "<p>Deletes the specified server certificate.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with Server Certificates</a> in the <i>IAM User Guide</i>. This topic also includes a list of AWS services that can use the server certificates that you manage with IAM.</p> <important> <p> If you are using a server certificate with Elastic Load Balancing, deleting the certificate could have implications for your application. If Elastic Load Balancing doesn't detect the deletion of bound certificates, it may continue to use the certificates. This could cause Elastic Load Balancing to stop accepting traffic. We recommend that you remove the reference to the certificate from Elastic Load Balancing before using this command to delete the certificate. For more information, go to <a href=\"https://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancerListeners.html\">DeleteLoadBalancerListeners</a> in the <i>Elastic Load Balancing API Reference</i>.</p> </important>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServerCertificateRequest"
      },
      "name": "DeleteServerCertificate"
    },
    "DeleteServiceLinkedRole": {
      "documentation": "<p>Submits a service-linked role deletion request and returns a <code>DeletionTaskId</code>, which you can use to check the status of the deletion. Before you call this operation, confirm that the role has no active sessions and that any resources used by the role in the linked service are deleted. If you call this operation more than once for the same service-linked role and an earlier deletion task is not complete, then the <code>DeletionTaskId</code> of the earlier request is returned.</p> <p>If you submit a deletion request for a service-linked role whose linked service is still accessing a resource, then the deletion task fails. If it fails, the <a>GetServiceLinkedRoleDeletionStatus</a> API operation returns the reason for the failure, usually including the resources that must be deleted. To delete the service-linked role, you must first remove those resources from the linked service and then submit the deletion request again. Resources are specific to the service that is linked to the role. For more information about removing resources from a service, see the <a href=\"http://docs.aws.amazon.com/\">AWS documentation</a> for your service.</p> <p>For more information about service-linked roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_terms-and-concepts.html#iam-term-service-linked-role\">Roles Terms and Concepts: AWS Service-Linked Role</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceLinkedRoleRequest"
      },
      "name": "DeleteServiceLinkedRole",
      "output": {
        "resultWrapper": "DeleteServiceLinkedRoleResult",
        "shape": "DeleteServiceLinkedRoleResponse"
      }
    },
    "DeleteServiceSpecificCredential": {
      "documentation": "<p>Deletes the specified service-specific credential.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceSpecificCredentialRequest"
      },
      "name": "DeleteServiceSpecificCredential"
    },
    "DeleteSigningCertificate": {
      "documentation": "<p>Deletes a signing certificate associated with the specified IAM user.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. This operation works for access keys under the AWS account. Consequently, you can use this operation to manage AWS account root user credentials even if the AWS account has no associated IAM users.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSigningCertificateRequest"
      },
      "name": "DeleteSigningCertificate"
    },
    "DeleteUser": {
      "documentation": "<p>Deletes the specified IAM user. Unlike the AWS Management Console, when you delete a user programmatically, you must delete the items attached to the user manually, or the deletion fails. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_users_manage.html#id_users_deleting_cli\">Deleting an IAM User</a>. Before attempting to delete a user, remove the following items:</p> <ul> <li> <p>Password (<a>DeleteLoginProfile</a>)</p> </li> <li> <p>Access keys (<a>DeleteAccessKey</a>)</p> </li> <li> <p>Signing certificate (<a>DeleteSigningCertificate</a>)</p> </li> <li> <p>SSH public key (<a>DeleteSSHPublicKey</a>)</p> </li> <li> <p>Git credentials (<a>DeleteServiceSpecificCredential</a>)</p> </li> <li> <p>Multi-factor authentication (MFA) device (<a>DeactivateMFADevice</a>, <a>DeleteVirtualMFADevice</a>)</p> </li> <li> <p>Inline policies (<a>DeleteUserPolicy</a>)</p> </li> <li> <p>Attached managed policies (<a>DetachUserPolicy</a>)</p> </li> <li> <p>Group memberships (<a>RemoveUserFromGroup</a>)</p> </li> </ul>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "ConcurrentModificationException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserRequest"
      },
      "name": "DeleteUser"
    },
    "DeleteUserPermissionsBoundary": {
      "documentation": "<p>Deletes the permissions boundary for the specified IAM user.</p> <important> <p>Deleting the permissions boundary for a user might increase its permissions by allowing the user to perform all the actions granted in its permissions policies. </p> </important>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPermissionsBoundaryRequest"
      },
      "name": "DeleteUserPermissionsBoundary"
    },
    "DeleteUserPolicy": {
      "documentation": "<p>Deletes the specified inline policy that is embedded in the specified IAM user.</p> <p>A user can also have managed policies attached to it. To detach a managed policy from a user, use <a>DetachUserPolicy</a>. For more information about policies, refer to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteUserPolicyRequest"
      },
      "name": "DeleteUserPolicy"
    },
    "DeleteVirtualMFADevice": {
      "documentation": "<p>Deletes a virtual MFA device.</p> <note> <p> You must deactivate a user's virtual MFA device before you can delete it. For information about deactivating MFA devices, see <a>DeactivateMFADevice</a>. </p> </note>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "DeleteConflictException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteVirtualMFADeviceRequest"
      },
      "name": "DeleteVirtualMFADevice"
    },
    "DetachGroupPolicy": {
      "documentation": "<p>Removes the specified managed policy from the specified IAM group.</p> <p>A group can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteGroupPolicy</a> API. For information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachGroupPolicyRequest"
      },
      "name": "DetachGroupPolicy"
    },
    "DetachRolePolicy": {
      "documentation": "<p>Removes the specified managed policy from the specified role.</p> <p>A role can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteRolePolicy</a> API. For information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "UnmodifiableEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachRolePolicyRequest"
      },
      "name": "DetachRolePolicy"
    },
    "DetachUserPolicy": {
      "documentation": "<p>Removes the specified managed policy from the specified user.</p> <p>A user can also have inline policies embedded with it. To delete an inline policy, use the <a>DeleteUserPolicy</a> API. For information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachUserPolicyRequest"
      },
      "name": "DetachUserPolicy"
    },
    "EnableMFADevice": {
      "documentation": "<p>Enables the specified MFA device and associates it with the specified IAM user. When enabled, the MFA device is required for every subsequent login by the IAM user associated with the device.</p>",
      "errors": [
        {
          "shape": "EntityAlreadyExistsException"
        },
        {
          "shape": "EntityTemporarilyUnmodifiableException"
        },
        {
          "shape": "InvalidAuthenticationCodeException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableMFADeviceRequest"
      },
      "name": "EnableMFADevice"
    },
    "GenerateCredentialReport": {
      "documentation": "<p> Generates a credential report for the AWS account. For more information about the credential report, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting Credential Reports</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "GenerateCredentialReport",
      "output": {
        "resultWrapper": "GenerateCredentialReportResult",
        "shape": "GenerateCredentialReportResponse"
      }
    },
    "GenerateOrganizationsAccessReport": {
      "documentation": "<p>Generates a report for service last accessed data for AWS Organizations. You can generate a report for any entities (organization root, organizational unit, or account) or policies in your organization.</p> <p>To call this operation, you must be signed in using your AWS Organizations master account credentials. You can use your long-term IAM user or root user credentials, or temporary credentials from assuming an IAM role. SCPs must be enabled for your organization root. You must have the required IAM and AWS Organizations permissions. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Refining Permissions Using Service Last Accessed Data</a> in the <i>IAM User Guide</i>.</p> <p>You can generate a service last accessed data report for entities by specifying only the entity's path. This data includes a list of services that are allowed by any service control policies (SCPs) that apply to the entity.</p> <p>You can generate a service last accessed data report for a policy by specifying an entity's path and an optional AWS Organizations policy ID. This data includes a list of services that are allowed by the specified SCP.</p> <p>For each service in both report types, the data includes the most recent account activity that the policy allows to account principals in the entity or the entity's children. For important information about the data, reporting period, permissions required, troubleshooting, and supported Regions see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Reducing Permissions Using Service Last Accessed Data</a> in the <i>IAM User Guide</i>.</p> <important> <p>The data includes\u00a0all\u00a0attempts to access AWS, not just the successful ones. This includes all attempts that were made using the AWS Management Console, the AWS API through any of the SDKs, or any of the command line tools. An unexpected entry in the service last accessed data does not mean that an account has been compromised, because the request might have been denied. Refer to your CloudTrail logs as the authoritative source for information about all API calls and whether they were successful or denied access. For more information, see\u00a0<a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/cloudtrail-integration.html\">Logging IAM Events with CloudTrail</a> in the <i>IAM User Guide</i>.</p> </important> <p>This operation returns a <code>JobId</code>. Use this parameter in the <code> <a>GetOrganizationsAccessReport</a> </code> operation to check the status of the report generation. To check the status of this request, use the <code>JobId</code> parameter in the <code> <a>GetOrganizationsAccessReport</a> </code> operation and test the <code>JobStatus</code> response parameter. When the job is complete, you can retrieve the report.</p> <p>To generate a service last accessed data report for entities, specify an entity path without specifying the optional AWS Organizations policy ID. The type of entity that you specify determines the data returned in the report.</p> <ul> <li> <p> <b>Root</b> \u2013 When you specify the organizations root as the entity, the resulting report lists all of the services allowed by SCPs that are attached to your root. For each service, the report includes data for all accounts in your organization except the master account, because the master account is not limited by SCPs.</p> </li> <li> <p> <b>OU</b> \u2013 When you specify an organizational unit (OU) as the entity, the resulting report lists all of the services allowed by SCPs that are attached to the OU and its parents. For each service, the report includes data for all accounts in the OU or its children. This data excludes the master account, because the master account is not limited by SCPs.</p> </li> <li> <p> <b>Master account</b> \u2013 When you specify the master account, the resulting report lists all AWS services, because the master account is not limited by SCPs. For each service, the report includes data for only the master account.</p> </li> <li> <p> <b>Account</b> \u2013 When you specify another account as the entity, the resulting report lists all of the services allowed by SCPs that are attached to the account and its parents. For each service, the report includes data for only the specified account.</p> </li> </ul> <p>To generate a service last accessed data report for policies, specify an entity path and the optional AWS Organizations policy ID. The type of entity that you specify determines the data returned for each service.</p> <ul> <li> <p> <b>Root</b> \u2013 When you specify the root entity and a policy ID, the resulting report lists all of the services that are allowed by the specified SCP. For each service, the report includes data for all accounts in your organization to which the SCP applies. This data excludes the master account, because the master account is not limited by SCPs. If the SCP is not attached to any entities in the organization, then the report will return a list of services with no data.</p> </li> <li> <p> <b>OU</b> \u2013 When you specify an OU entity and a policy ID, the resulting report lists all of the services that are allowed by the specified SCP. For each service, the report includes data for all accounts in the OU or its children to which the SCP applies. This means that other accounts outside the OU that are affected by the SCP might not be included in the data. This data excludes the master account, because the master account is not limited by SCPs. If the SCP is not attached to the OU or one of its children, the report will return a list of services with no data.</p> </li> <li> <p> <b>Master account</b> \u2013 When you specify the master account, the resulting report lists all AWS services, because the master account is not limited by SCPs. If you specify a policy ID in the CLI or API, the policy is ignored. For each service, the report includes data for only the master account.</p> </li> <li> <p> <b>Account</b> \u2013 When you specify another account entity and a policy ID, the resulting report lists all of the services that are allowed by the specified SCP. For each service, the report includes data for only the specified account. This means that other accounts in the organization that are affected by the SCP might not be included in the data. If the SCP is not attached to the account, the report will return a list of services with no data.</p> </li> </ul> <note> <p>Service last accessed data does not use other policy types when determining whether a principal could access a service. These other policy types include identity-based policies, resource-based policies, access control lists, IAM permissions boundaries, and STS assume role policies. It only applies SCP logic. For more about the evaluation of policy types, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-basics\">Evaluating Policies</a> in the <i>IAM User Guide</i>.</p> </note> <p>For more information about service last accessed data, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Reducing Policy Scope by Viewing User Activity</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ReportGenerationLimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateOrganizationsAccessReportRequest"
      },
      "name": "GenerateOrganizationsAccessReport",
      "output": {
        "resultWrapper": "GenerateOrganizationsAccessReportResult",
        "shape": "GenerateOrganizationsAccessReportResponse"
      }
    },
    "GenerateServiceLastAccessedDetails": {
      "documentation": "<p>Generates a report that includes details about when an IAM resource (user, group, role, or policy) was last used in an attempt to access AWS services. Recent activity usually appears within four hours. IAM reports activity for the last 365 days, or less if your Region began supporting this feature within the last year. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html#access-advisor_tracking-period\">Regions Where Data Is Tracked</a>.</p> <important> <p>The service last accessed data includes\u00a0all\u00a0attempts to access an AWS API, not just the successful ones. This includes all attempts that were made using the AWS Management Console, the AWS API through any of the SDKs, or any of the command line tools. An unexpected entry in the service last accessed data does not mean that your account has been compromised, because the request might have been denied. Refer to your CloudTrail logs as the authoritative source for information about all API calls and whether they were successful or denied access. For more information, see\u00a0<a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/cloudtrail-integration.html\">Logging IAM Events with CloudTrail</a> in the <i>IAM User Guide</i>.</p> </important> <p>The <code>GenerateServiceLastAccessedDetails</code> operation returns a <code>JobId</code>. Use this parameter in the following operations to retrieve the following details from your report: </p> <ul> <li> <p> <a>GetServiceLastAccessedDetails</a> \u2013 Use this operation for users, groups, roles, or policies to list every AWS service that the resource could access using permissions policies. For each service, the response includes information about the most recent access attempt. </p> </li> <li> <p> <a>GetServiceLastAccessedDetailsWithEntities</a> \u2013 Use this operation for groups and policies to list information about the associated entities (users or roles) that attempted to access a specific AWS service. </p> </li> </ul> <p>To check the status of the <code>GenerateServiceLastAccessedDetails</code> request, use the <code>JobId</code> parameter in the same operations and test the <code>JobStatus</code> response parameter.</p> <p>For additional information about the permissions policies that allow an identity (user, group, or role) to access specific services, use the <a>ListPoliciesGrantingServiceAccess</a> operation.</p> <note> <p>Service last accessed data does not use other policy types when determining whether a resource could access a service. These other policy types include resource-based policies, access control lists, AWS Organizations policies, IAM permissions boundaries, and AWS STS assume role policies. It only applies permissions policy logic. For more about the evaluation of policy types, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-basics\">Evaluating Policies</a> in the <i>IAM User Guide</i>.</p> </note> <p>For more information about service last accessed data, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Reducing Policy Scope by Viewing User Activity</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GenerateServiceLastAccessedDetailsRequest"
      },
      "name": "GenerateServiceLastAccessedDetails",
      "output": {
        "resultWrapper": "GenerateServiceLastAccessedDetailsResult",
        "shape": "GenerateServiceLastAccessedDetailsResponse"
      }
    },
    "GetAccessKeyLastUsed": {
      "documentation": "<p>Retrieves information about when the specified access key was last used. The information includes the date and time of last use, along with the AWS service and Region that were specified in the last request made with that key.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccessKeyLastUsedRequest"
      },
      "name": "GetAccessKeyLastUsed",
      "output": {
        "resultWrapper": "GetAccessKeyLastUsedResult",
        "shape": "GetAccessKeyLastUsedResponse"
      }
    },
    "GetAccountAuthorizationDetails": {
      "documentation": "<p>Retrieves information about all IAM users, groups, roles, and policies in your AWS account, including their relationships to one another. Use this API to obtain a snapshot of the configuration of IAM permissions (users, groups, roles, and policies) in your account.</p> <note> <p>Policies returned by this API are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality.</p> </note> <p>You can optionally filter the results using the <code>Filter</code> parameter. You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters.</p>",
      "errors": [
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAccountAuthorizationDetailsRequest"
      },
      "name": "GetAccountAuthorizationDetails",
      "output": {
        "resultWrapper": "GetAccountAuthorizationDetailsResult",
        "shape": "GetAccountAuthorizationDetailsResponse"
      }
    },
    "GetAccountPasswordPolicy": {
      "documentation": "<p>Retrieves the password policy for the AWS account. For more information about using a password policy, go to <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingPasswordPolicies.html\">Managing an IAM Password Policy</a>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "GetAccountPasswordPolicy",
      "output": {
        "resultWrapper": "GetAccountPasswordPolicyResult",
        "shape": "GetAccountPasswordPolicyResponse"
      }
    },
    "GetAccountSummary": {
      "documentation": "<p>Retrieves information about IAM entity usage and IAM quotas in the AWS account.</p> <p> For information about limitations on IAM entities, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "GetAccountSummary",
      "output": {
        "resultWrapper": "GetAccountSummaryResult",
        "shape": "GetAccountSummaryResponse"
      }
    },
    "GetContextKeysForCustomPolicy": {
      "documentation": "<p>Gets a list of all of the context keys referenced in the input policies. The policies are supplied as a list of one or more strings. To get the context keys from policies associated with an IAM user, group, or role, use <a>GetContextKeysForPrincipalPolicy</a>.</p> <p>Context keys are variables maintained by AWS and its services that provide details about the context of an API query request. Context keys can be evaluated by testing against a value specified in an IAM policy. Use <code>GetContextKeysForCustomPolicy</code> to understand what key names and values you must supply when you call <a>SimulateCustomPolicy</a>. Note that all parameters are shown in unencoded form here for clarity but must be URL encoded to be included as a part of a real HTML request.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContextKeysForCustomPolicyRequest"
      },
      "name": "GetContextKeysForCustomPolicy",
      "output": {
        "resultWrapper": "GetContextKeysForCustomPolicyResult",
        "shape": "GetContextKeysForPolicyResponse"
      }
    },
    "GetContextKeysForPrincipalPolicy": {
      "documentation": "<p>Gets a list of all of the context keys referenced in all the IAM policies that are attached to the specified IAM entity. The entity can be an IAM user, group, or role. If you specify a user, then the request also includes all of the policies attached to groups that the user is a member of.</p> <p>You can optionally include a list of one or more additional policies, specified as strings. If you want to include <i>only</i> a list of policies by string, use <a>GetContextKeysForCustomPolicy</a> instead.</p> <p> <b>Note:</b> This API discloses information about the permissions granted to other users. If you do not want users to see other user's permissions, then consider allowing them to use <a>GetContextKeysForCustomPolicy</a> instead.</p> <p>Context keys are variables maintained by AWS and its services that provide details about the context of an API query request. Context keys can be evaluated by testing against a value in an IAM policy. Use <a>GetContextKeysForPrincipalPolicy</a> to understand what key names and values you must supply when you call <a>SimulatePrincipalPolicy</a>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetContextKeysForPrincipalPolicyRequest"
      },
      "name": "GetContextKeysForPrincipalPolicy",
      "output": {
        "resultWrapper": "GetContextKeysForPrincipalPolicyResult",
        "shape": "GetContextKeysForPolicyResponse"
      }
    },
    "GetCredentialReport": {
      "documentation": "<p> Retrieves a credential report for the AWS account. For more information about the credential report, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting Credential Reports</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "CredentialReportNotPresentException"
        },
        {
          "shape": "CredentialReportExpiredException"
        },
        {
          "shape": "CredentialReportNotReadyException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "GetCredentialReport",
      "output": {
        "resultWrapper": "GetCredentialReportResult",
        "shape": "GetCredentialReportResponse"
      }
    },
    "GetGroup": {
      "documentation": "<p> Returns a list of IAM users that are in the specified IAM group. You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "resultWrapper": "GetGroupResult",
        "shape": "GetGroupResponse"
      }
    },
    "GetGroupPolicy": {
      "documentation": "<p>Retrieves the specified inline policy document that is embedded in the specified IAM group.</p> <note> <p>Policies returned by this API are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality.</p> </note> <p>An IAM group can also have managed policies attached to it. To retrieve a managed policy document that is attached to a group, use <a>GetPolicy</a> to determine the policy's default version, then use <a>GetPolicyVersion</a> to retrieve the policy document.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetGroupPolicyRequest"
      },
      "name": "GetGroupPolicy",
      "output": {
        "resultWrapper": "GetGroupPolicyResult",
        "shape": "GetGroupPolicyResponse"
      }
    },
    "GetInstanceProfile": {
      "documentation": "<p> Retrieves information about the specified instance profile, including the instance profile's path, GUID, ARN, and role. For more information about instance profiles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetInstanceProfileRequest"
      },
      "name": "GetInstanceProfile",
      "output": {
        "resultWrapper": "GetInstanceProfileResult",
        "shape": "GetInstanceProfileResponse"
      }
    },
    "GetLoginProfile": {
      "documentation": "<p>Retrieves the user name and password-creation date for the specified IAM user. If the user has not been assigned a password, the operation returns a 404 (<code>NoSuchEntity</code>) error.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetLoginProfileRequest"
      },
      "name": "GetLoginProfile",
      "output": {
        "resultWrapper": "GetLoginProfileResult",
        "shape": "GetLoginProfileResponse"
      }
    },
    "GetOpenIDConnectProvider": {
      "documentation": "<p>Returns information about the specified OpenID Connect (OIDC) provider resource object in IAM.</p>",
      "errors": [
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOpenIDConnectProviderRequest"
      },
      "name": "GetOpenIDConnectProvider",
      "output": {
        "resultWrapper": "GetOpenIDConnectProviderResult",
        "shape": "GetOpenIDConnectProviderResponse"
      }
    },
    "GetOrganizationsAccessReport": {
      "documentation": "<p>Retrieves the service last accessed data report for AWS Organizations that was previously generated using the <code> <a>GenerateOrganizationsAccessReport</a> </code> operation. This operation retrieves the status of your report job and the report contents.</p> <p>Depending on the parameters that you passed when you generated the report, the data returned could include different information. For details, see <a>GenerateOrganizationsAccessReport</a>.</p> <p>To call this operation, you must be signed in to the master account in your organization. SCPs must be enabled for your organization root. You must have permissions to perform this operation. For more information, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_access-advisor.html\">Refining Permissions Using Service Last Accessed Data</a> in the <i>IAM User Guide</i>.</p> <p>For each service that principals in an account (root users, IAM users, or IAM roles) could access using SCPs, the operation returns details about the most recent access attempt. If there was no attempt, the service is listed without details about the most recent attempt to access the service. If the operation fails, it returns the reason that it failed.</p> <p>By default, the list is sorted by service namespace.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetOrganizationsAccessReportRequest"
      },
      "name": "GetOrganizationsAccessReport",
      "output": {
        "resultWrapper": "GetOrganizationsAccessReportResult",
        "shape": "GetOrganizationsAccessReportResponse"
      }
    },
    "GetPolicy": {
      "documentation": "<p>Retrieves information about the specified managed policy, including the policy's default version and the total number of IAM users, groups, and roles to which the policy is attached. To retrieve the list of the specific users, groups, and roles that the policy is attached to, use the <a>ListEntitiesForPolicy</a> API. This API returns metadata about the policy. To retrieve the actual policy document for a specific version of the policy, use <a>GetPolicyVersion</a>.</p> <p>This API retrieves information about managed policies. To retrieve information about an inline policy that is embedded with an IAM user, group, or role, use the <a>GetUserPolicy</a>, <a>GetGroupPolicy</a>, or <a>GetRolePolicy</a> API.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPolicyRequest"
      },
      "name": "GetPolicy",
      "output": {
        "resultWrapper": "GetPolicyResult",
        "shape": "GetPolicyResponse"
      }
    },
    "GetPolicyVersion": {
      "documentation": "<p>Retrieves information about the specified version of the specified managed policy, including the policy document.</p> <note> <p>Policies returned by this API are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality.</p> </note> <p>To list the available versions for a policy, use <a>ListPolicyVersions</a>.</p> <p>This API retrieves information about managed policies. To retrieve information about an inline policy that is embedded in a user, group, or role, use the <a>GetUserPolicy</a>, <a>GetGroupPolicy</a>, or <a>GetRolePolicy</a> API.</p> <p>For more information about the types of policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about managed policy versions, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-versions.html\">Versioning for Managed Policies</a> in the <i>IAM User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetPolicyVersionRequest"
      },
      "name": "GetPolicyVersion",
      "output": {
        "resultWrapper": "GetPolicyVersionResult",
        "shape": "GetPolicyVersionResponse"
      }
    },
    "GetRole": {
      "documentation": "<p>Retrieves information about the specified role, including the role's path, GUID, ARN, and the role's trust policy that grants permission to assume the role. For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>.</p> <note> <p>Policies returned by this API are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRoleRequest"
      },
      "name": "GetRole",
      "output": {
        "resultWrapper": "GetRoleResult",
        "shape": "GetRoleResponse"
      }
    },
    "GetRolePolicy": {
      "documentation": "<p>Retrieves the specified inline policy document that is embedded with the specified IAM role.</p> <note> <p>Policies returned by this API are URL-encoded compliant with <a href=\"https://tools.ietf.org/html/rfc3986\">RFC 3986</a>. You can use a URL decoding method to convert the policy back to plain JSON text. For example, if you use Java, you can use the <code>decode</code> method of the <code>java.net.URLDecoder</code> utility class in the Java SDK. Other languages and SDKs provide similar functionality.</p> </note> <p>An IAM role can also have managed policies attached to it. To retrieve a managed policy document that is attached to a role, use <a>GetPolicy</a> to determine the policy's default version, then use <a>GetPolicyVersion</a> to retrieve the policy document.</p> <p>For more information about policies, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/policies-managed-vs-inline.html\">Managed Policies and Inline Policies</a> in the <i>IAM User Guide</i>.</p> <p>For more information about roles, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/roles-toplevel.html\">Using Roles to Delegate Permissions and Federate Identities</a>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRolePolicyRequest"
      },
      "name": "GetRolePolicy",
      "output": {
        "resultWrapper": "GetRolePolicyResult",
        "shape": "GetRolePolicyResponse"
      }
    },
    "GetSAMLProvider": {
      "documentation": "<p>Returns the SAML provider metadocument that was uploaded when the IAM SAML provider resource object was created or updated.</p> <note> <p>This operation requires <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>.</p> </note>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSAMLProviderRequest"
      },
      "name": "GetSAMLProvider",
      "output": {
        "resultWrapper": "GetSAMLProviderResult",
        "shape": "GetSAMLProviderResponse"
      }
    },
    "GetSSHPublicKey": {
      "documentation": "<p>Retrieves the specified SSH public key, including metadata about the key.</p> <p>The SSH public key retrieved by this operation is used only for authenticating the associated IAM user to an AWS CodeCommit repository. For more information about using SSH keys to authenticate to an AWS CodeCommit repository, see <a href=\"https://docs.aws.amazon.com/codecommit/latest/userguide/setting-up-credentials-ssh.html\">Set up AWS CodeCommit for SSH Connections</a> in the <i>AWS CodeCommit User Guide</i>.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "UnrecognizedPublicKeyEncodingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSSHPublicKeyRequest"
      },
      "name": "GetSSHPublicKey",
      "output": {
        "resultWrapper": "GetSSHPublicKeyResult",
        "shape": "GetSSHPublicKeyResponse"
      }
    },
    "GetServerCertificate": {
      "documentation": "<p>Retrieves information about the specified server certificate stored in IAM.</p> <p>For more information about working with server certificates, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_server-certs.html\">Working with Server Certificates</a> in the <i>IAM User Guide</i>. This topic includes a list of AWS services that can use the server certificates that you manage with IAM.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServerCertificateRequest"
      },
      "name": "GetServerCertificate",
      "output": {
        "resultWrapper": "GetServerCertificateResult",
        "shape": "GetServerCertificateResponse"
      }
    },
    "GetServiceLastAccessedDetails": {
      "documentation": "<p>Retrieves a service last accessed report that was created using the <code>GenerateServiceLastAccessedDetails</code> operation. You can use the <code>JobId</code> parameter in <code>GetServiceLastAccessedDetails</code> to retrieve the status of your report job. When the report is complete, you can retrieve the generated report. The report includes a list of AWS services that the resource (user, group, role, or managed policy) can access.</p> <note> <p>Service last accessed data does not use other policy types when determining whether a resource could access a service. These other policy types include resource-based policies, access control lists, AWS Organizations policies, IAM permissions boundaries, and AWS STS assume role policies. It only applies permissions policy logic. For more about the evaluation of policy types, see <a href=\"https://docs.aws.amazon.com/IAM/latest/UserGuide/reference_policies_evaluation-logic.html#policy-eval-basics\">Evaluating Policies</a> in the <i>IAM User Guide</i>.</p> </note> <p>For each service that the resource could access using permissions policies, the operation returns details about the most recent access attempt. If there was no attempt, the service is listed without details about the most recent attempt to access the service. If the operation fails, the <code>GetServiceLastAccessedDetails</code> operation returns the reason that it failed.</p> <p>The <code>GetServiceLastAccessedDetails</code> operation returns a list of services. This list includes the number of entities that have attempted to access the service and the date and time of the last attempt. It also returns the ARN of the following entity, depending on the resource ARN that you used to generate the report:</p> <ul> <li> <p> <b>User</b> \u2013 Returns the user ARN that you used to generate the report</p> </li> <li> <p> <b>Group</b> \u2013 Returns the ARN of the group member (user) that last attempted to access the service</p> </li> <li> <p> <b>Role</b> \u2013 Returns the role ARN that you used to generate the report</p> </li> <li> <p> <b>Policy</b> \u2013 Returns the ARN of the user or role that last used the policy to attempt to access the service</p> </li> </ul> <p>By default, the list is sorted by service namespace.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceLastAccessedDetailsRequest"
      },
      "name": "GetServiceLastAccessedDetails",
      "output": {
        "resultWrapper": "GetServiceLastAccessedDetailsResult",
        "shape": "GetServiceLastAccessedDetailsResponse"
      }
    },
    "GetServiceLastAccessedDetailsWithEntities": {
      "documentation": "<p>After you generate a group or policy report using the <code>GenerateServiceLastAccessedDetails</code> operation, you can use the <code>JobId</code> parameter in <code>GetServiceLastAccessedDetailsWithEntities</code>. This operation retrieves the status of your report job and a list of entities that could have used group or policy permissions to access the specified service.</p> <ul> <li> <p> <b>Group</b> \u2013 For a group report, this operation returns a list of users in the group that could have used the group\u2019s policies in an attempt to access the service.</p> </li> <li> <p> <b>Policy</b> \u2013 For a policy report, this operation returns a list of entities (users or roles) that could have used the policy in an attempt to access the service.</p> </li> </ul> <p>You can also use this operation for user or role reports to retrieve details about those entities.</p> <p>If the operation fails, the <code>GetServiceLastAccessedDetailsWithEntities</code> operation returns the reason that it failed.</p> <p>By default, the list of associated entities is sorted by date, with the most recent access listed first.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceLastAccessedDetailsWithEntitiesRequest"
      },
      "name": "GetServiceLastAccessedDetailsWithEntities",
      "output": {
        "resultWrapper": "GetServiceLastAccessedDetailsWithEntitiesResult",
        "shape": "GetServiceLastAccessedDetailsWithEntitiesResponse"
      }
    },
    "GetServiceLinkedRoleDeletionStatus": {
      "documentation": "<p>Retrieves the status of your service-linked role deletion. After you use the <a>DeleteServiceLinkedRole</a> API operation to submit a service-linked role for deletion, you can use the <code>DeletionTaskId</code> parameter in <code>GetServiceLinkedRoleDeletionStatus</code> to check the status of the deletion. If the deletion fails, this operation returns the reason that it failed, if that information is returned by the service.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "InvalidInputException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceLinkedRoleDeletionStatusRequest"
      },
      "name": "GetServiceLinkedRoleDeletionStatus",
      "output": {
        "resultWrapper": "GetServiceLinkedRoleDeletionStatusResult",
        "shape": "GetServiceLinkedRoleDeletionStatusResponse"
      }
    },
    "GetUser": {
      "documentation": "<p>Retrieves information about the specified IAM user, including the user's creation date, path, unique ID, and ARN.</p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID used to sign the request to this API.</p>",
      "errors": [
        {
          "shape": "NoSuchEntityException"
        },
        {
          "shape": "ServiceFailureException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUserRequest"
      },
      "name": "GetUser",
      "output": {
        "resultWrapper": "GetUserResult",
        "shape": "GetUserResponse"
      }
    },
[...]
