{
  "documentation": "<fullname>Amazon Cloud Directory</fullname> <p>Amazon Cloud Directory is a component of the AWS Directory Service that simplifies the development and management of cloud-scale web, mobile, and IoT applications. This guide describes the Cloud Directory operations that you can call programmatically and includes detailed information on data types and errors. For information about Cloud Directory features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS Directory Service</a> and the <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/what_is_cloud_directory.html\">Amazon Cloud Directory Developer Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2017-01-11",
    "endpointPrefix": "clouddirectory",
    "protocol": "rest-json",
    "serviceFullName": "Amazon CloudDirectory",
    "serviceId": "CloudDirectory",
    "signatureVersion": "v4",
    "signingName": "clouddirectory",
    "uid": "clouddirectory-2017-01-11"
  },
  "operations": {
    "AddFacetToObject": {
      "documentation": "<p>Adds a new <a>Facet</a> to an object. An object can have more than one facet applied on it.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/facets",
        "responseCode": 200
      },
      "input": {
        "shape": "AddFacetToObjectRequest"
      },
      "name": "AddFacetToObject",
      "output": {
        "shape": "AddFacetToObjectResponse"
      }
    },
    "ApplySchema": {
      "documentation": "<p>Copies the input published schema, at the specified version, into the <a>Directory</a> with the same name and version as that of the published schema.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "SchemaAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAttachmentException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/apply",
        "responseCode": 200
      },
      "input": {
        "shape": "ApplySchemaRequest"
      },
      "name": "ApplySchema",
      "output": {
        "shape": "ApplySchemaResponse"
      }
    },
    "AttachObject": {
      "documentation": "<p>Attaches an existing object to another object. An object can be accessed in two ways:</p> <ol> <li> <p>Using the path</p> </li> <li> <p>Using <code>ObjectIdentifier</code> </p> </li> </ol>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LinkNameAlreadyInUseException"
        },
        {
          "shape": "InvalidAttachmentException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/attach",
        "responseCode": 200
      },
      "input": {
        "shape": "AttachObjectRequest"
      },
      "name": "AttachObject",
      "output": {
        "shape": "AttachObjectResponse"
      }
    },
    "AttachPolicy": {
      "documentation": "<p>Attaches a policy object to a regular object. An object can have a limited number of attached policies.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotPolicyException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/attach",
        "responseCode": 200
      },
      "input": {
        "shape": "AttachPolicyRequest"
      },
      "name": "AttachPolicy",
      "output": {
        "shape": "AttachPolicyResponse"
      }
    },
    "AttachToIndex": {
      "documentation": "<p>Attaches the specified object to the specified index.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "InvalidAttachmentException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LinkNameAlreadyInUseException"
        },
        {
          "shape": "IndexedAttributeMissingException"
        },
        {
          "shape": "NotIndexException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/index/attach",
        "responseCode": 200
      },
      "input": {
        "shape": "AttachToIndexRequest"
      },
      "name": "AttachToIndex",
      "output": {
        "shape": "AttachToIndexResponse"
      }
    },
    "AttachTypedLink": {
      "documentation": "<p>Attaches a typed link to a specified source and target object. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAttachmentException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/attach",
        "responseCode": 200
      },
      "input": {
        "shape": "AttachTypedLinkRequest"
      },
      "name": "AttachTypedLink",
      "output": {
        "shape": "AttachTypedLinkResponse"
      }
    },
    "BatchRead": {
      "documentation": "<p>Performs all the read operations in a batch. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/batchread",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchReadRequest"
      },
      "name": "BatchRead",
      "output": {
        "shape": "BatchReadResponse"
      }
    },
    "BatchWrite": {
      "documentation": "<p>Performs all the write operations in a batch. Either all the operations succeed or none.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "BatchWriteException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/batchwrite",
        "responseCode": 200
      },
      "input": {
        "shape": "BatchWriteRequest"
      },
      "name": "BatchWrite",
      "output": {
        "shape": "BatchWriteResponse"
      }
    },
    "CreateDirectory": {
      "documentation": "<p>Creates a <a>Directory</a> by copying the published schema into the directory. A directory cannot be created without a schema.</p> <p>You can also quickly create a directory using a managed schema, called the <code>QuickStartSchema</code>. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_managed.html\">Managed Schema</a> in the <i>Amazon Cloud Directory Developer Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryAlreadyExistsException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/create",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDirectoryRequest"
      },
      "name": "CreateDirectory",
      "output": {
        "shape": "CreateDirectoryResponse"
      }
    },
    "CreateFacet": {
      "documentation": "<p>Creates a new <a>Facet</a> in a schema. Facet creation is allowed only in development or applied schemas.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetAlreadyExistsException"
        },
        {
          "shape": "InvalidRuleException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/create",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFacetRequest"
      },
      "name": "CreateFacet",
      "output": {
        "shape": "CreateFacetResponse"
      }
    },
    "CreateIndex": {
      "documentation": "<p>Creates an index object. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/indexing_search.html\">Indexing and search</a> for more information.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        },
        {
          "shape": "LinkNameAlreadyInUseException"
        },
        {
          "shape": "UnsupportedIndexTypeException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/index",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateIndexRequest"
      },
      "name": "CreateIndex",
      "output": {
        "shape": "CreateIndexResponse"
      }
    },
    "CreateObject": {
      "documentation": "<p>Creates an object in a <a>Directory</a>. Additionally attaches the object to a parent, if a parent reference and <code>LinkName</code> is specified. An object is simply a collection of <a>Facet</a> attributes. You can also use this API call to create a policy object, if the facet from which you create the object is a policy facet. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        },
        {
          "shape": "LinkNameAlreadyInUseException"
        },
        {
          "shape": "UnsupportedIndexTypeException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateObjectRequest"
      },
      "name": "CreateObject",
      "output": {
        "shape": "CreateObjectResponse"
      }
    },
    "CreateSchema": {
      "documentation": "<p>Creates a new schema in a development state. A schema can exist in three phases:</p> <ul> <li> <p> <i>Development:</i> This is a mutable phase of the schema. All new schemas are in the development phase. Once the schema is finalized, it can be published.</p> </li> <li> <p> <i>Published:</i> Published schemas are immutable and have a version associated with them.</p> </li> <li> <p> <i>Applied:</i> Applied schemas are mutable in a way that allows you to add new schema facets. You can also add new, nonrequired attributes to existing schema facets. You can apply only published schemas to directories. </p> </li> </ul>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "SchemaAlreadyExistsException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/create",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSchemaRequest"
      },
      "name": "CreateSchema",
      "output": {
        "shape": "CreateSchemaResponse"
      }
    },
    "CreateTypedLinkFacet": {
      "documentation": "<p>Creates a <a>TypedLinkFacet</a>. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetAlreadyExistsException"
        },
        {
          "shape": "InvalidRuleException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet/create",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateTypedLinkFacetRequest"
      },
      "name": "CreateTypedLinkFacet",
      "output": {
        "shape": "CreateTypedLinkFacetResponse"
      }
    },
    "DeleteDirectory": {
      "documentation": "<p>Deletes a directory. Only disabled directories can be deleted. A deleted directory cannot be undone. Exercise extreme caution when deleting directories.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DirectoryNotDisabledException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryDeletedException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteDirectoryRequest"
      },
      "name": "DeleteDirectory",
      "output": {
        "shape": "DeleteDirectoryResponse"
      }
    },
    "DeleteFacet": {
      "documentation": "<p>Deletes a given <a>Facet</a>. All attributes and <a>Rule</a>s that are associated with the facet will be deleted. Only development schema facets are allowed deletion.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        },
        {
          "shape": "FacetInUseException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFacetRequest"
      },
      "name": "DeleteFacet",
      "output": {
        "shape": "DeleteFacetResponse"
      }
    },
    "DeleteObject": {
      "documentation": "<p>Deletes an object and its associated attributes. Only objects with no children and no parents can be deleted. The maximum number of attributes that can be deleted during an object deletion is 30. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/limits.html\">Amazon Cloud Directory Limits</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ObjectNotDetachedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteObjectRequest"
      },
      "name": "DeleteObject",
      "output": {
        "shape": "DeleteObjectResponse"
      }
    },
    "DeleteSchema": {
      "documentation": "<p>Deletes a given schema. Schemas in a development and published state can only be deleted. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "StillContainsLinksException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSchemaRequest"
      },
      "name": "DeleteSchema",
      "output": {
        "shape": "DeleteSchemaResponse"
      }
    },
    "DeleteTypedLinkFacet": {
      "documentation": "<p>Deletes a <a>TypedLinkFacet</a>. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteTypedLinkFacetRequest"
      },
      "name": "DeleteTypedLinkFacet",
      "output": {
        "shape": "DeleteTypedLinkFacetResponse"
      }
    },
    "DetachFromIndex": {
      "documentation": "<p>Detaches the specified object from the specified index.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ObjectAlreadyDetachedException"
        },
        {
          "shape": "NotIndexException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/index/detach",
        "responseCode": 200
      },
      "input": {
        "shape": "DetachFromIndexRequest"
      },
      "name": "DetachFromIndex",
      "output": {
        "shape": "DetachFromIndexResponse"
      }
    },
    "DetachObject": {
      "documentation": "<p>Detaches a given object from the parent object. The object that is to be detached from the parent is specified by the link name.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotNodeException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/detach",
        "responseCode": 200
      },
      "input": {
        "shape": "DetachObjectRequest"
      },
      "name": "DetachObject",
      "output": {
        "shape": "DetachObjectResponse"
      }
    },
    "DetachPolicy": {
      "documentation": "<p>Detaches a policy from an object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotPolicyException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/detach",
        "responseCode": 200
      },
      "input": {
        "shape": "DetachPolicyRequest"
      },
      "name": "DetachPolicy",
      "output": {
        "shape": "DetachPolicyResponse"
      }
    },
    "DetachTypedLink": {
      "documentation": "<p>Detaches a typed link from a specified source and target object. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/detach",
        "responseCode": 200
      },
      "input": {
        "shape": "DetachTypedLinkRequest"
      },
      "name": "DetachTypedLink"
    },
    "DisableDirectory": {
      "documentation": "<p>Disables the specified directory. Disabled directories cannot be read or written to. Only enabled directories can be disabled. Disabled directories may be reenabled.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DirectoryDeletedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/disable",
        "responseCode": 200
      },
      "input": {
        "shape": "DisableDirectoryRequest"
      },
      "name": "DisableDirectory",
      "output": {
        "shape": "DisableDirectoryResponse"
      }
    },
    "EnableDirectory": {
      "documentation": "<p>Enables the specified directory. Only disabled directories can be enabled. Once enabled, the directory can then be read and written to.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DirectoryDeletedException"
        },
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "InvalidArnException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/enable",
        "responseCode": 200
      },
      "input": {
        "shape": "EnableDirectoryRequest"
      },
      "name": "EnableDirectory",
      "output": {
        "shape": "EnableDirectoryResponse"
      }
    },
    "GetAppliedSchemaVersion": {
      "documentation": "<p>Returns current applied schema version ARN, including the minor version in use.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/getappliedschema",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAppliedSchemaVersionRequest"
      },
      "name": "GetAppliedSchemaVersion",
      "output": {
        "shape": "GetAppliedSchemaVersionResponse"
      }
    },
    "GetDirectory": {
      "documentation": "<p>Retrieves metadata about a directory.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDirectoryRequest"
      },
      "name": "GetDirectory",
      "output": {
        "shape": "GetDirectoryResponse"
      }
    },
    "GetFacet": {
      "documentation": "<p>Gets details of the <a>Facet</a>, such as facet name, attributes, <a>Rule</a>s, or <code>ObjectType</code>. You can call this on all kinds of schema facets -- published, development, or applied.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFacetRequest"
      },
      "name": "GetFacet",
      "output": {
        "shape": "GetFacetResponse"
      }
    },
    "GetLinkAttributes": {
      "documentation": "<p>Retrieves attributes that are associated with a typed link.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/attributes/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLinkAttributesRequest"
      },
      "name": "GetLinkAttributes",
      "output": {
        "shape": "GetLinkAttributesResponse"
      }
    },
    "GetObjectAttributes": {
      "documentation": "<p>Retrieves attributes within a facet that are associated with an object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/attributes/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetObjectAttributesRequest"
      },
      "name": "GetObjectAttributes",
      "output": {
        "shape": "GetObjectAttributesResponse"
      }
    },
    "GetObjectInformation": {
      "documentation": "<p>Retrieves metadata about an object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/information",
        "responseCode": 200
      },
      "input": {
        "shape": "GetObjectInformationRequest"
      },
      "name": "GetObjectInformation",
      "output": {
        "shape": "GetObjectInformationResponse"
      }
    },
    "GetSchemaAsJson": {
      "documentation": "<p>Retrieves a JSON representation of the schema. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_jsonformat.html#schemas_json\">JSON Schema Format</a> for more information.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/json",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSchemaAsJsonRequest"
      },
      "name": "GetSchemaAsJson",
      "output": {
        "shape": "GetSchemaAsJsonResponse"
      }
    },
    "GetTypedLinkFacetInformation": {
      "documentation": "<p>Returns the identity attribute order for a specific <a>TypedLinkFacet</a>. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "FacetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet/get",
        "responseCode": 200
      },
      "input": {
        "shape": "GetTypedLinkFacetInformationRequest"
      },
      "name": "GetTypedLinkFacetInformation",
      "output": {
        "shape": "GetTypedLinkFacetInformationResponse"
      }
    },
    "ListAppliedSchemaArns": {
      "documentation": "<p>Lists schema major versions applied to a directory. If <code>SchemaArn</code> is provided, lists the minor version.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/applied",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAppliedSchemaArnsRequest"
      },
      "name": "ListAppliedSchemaArns",
      "output": {
        "shape": "ListAppliedSchemaArnsResponse"
      }
    },
    "ListAttachedIndices": {
      "documentation": "<p>Lists indices attached to the specified object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/indices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListAttachedIndicesRequest"
      },
      "name": "ListAttachedIndices",
      "output": {
        "shape": "ListAttachedIndicesResponse"
      }
    },
    "ListDevelopmentSchemaArns": {
      "documentation": "<p>Retrieves each Amazon Resource Name (ARN) of schemas in the development state.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/development",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDevelopmentSchemaArnsRequest"
      },
      "name": "ListDevelopmentSchemaArns",
      "output": {
        "shape": "ListDevelopmentSchemaArnsResponse"
      }
    },
    "ListDirectories": {
      "documentation": "<p>Lists directories created within an account.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/directory/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDirectoriesRequest"
      },
      "name": "ListDirectories",
      "output": {
        "shape": "ListDirectoriesResponse"
      }
    },
    "ListFacetAttributes": {
      "documentation": "<p>Retrieves attributes attached to the facet.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/attributes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFacetAttributesRequest"
      },
      "name": "ListFacetAttributes",
      "output": {
        "shape": "ListFacetAttributesResponse"
      }
    },
    "ListFacetNames": {
      "documentation": "<p>Retrieves the names of facets that exist in a schema.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFacetNamesRequest"
      },
      "name": "ListFacetNames",
      "output": {
        "shape": "ListFacetNamesResponse"
      }
    },
    "ListIncomingTypedLinks": {
      "documentation": "<p>Returns a paginated list of all the incoming <a>TypedLinkSpecifier</a> information for an object. It also supports filtering by typed link facet and identity attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/incoming",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIncomingTypedLinksRequest"
      },
      "name": "ListIncomingTypedLinks",
      "output": {
        "shape": "ListIncomingTypedLinksResponse"
      }
    },
    "ListIndex": {
      "documentation": "<p>Lists objects attached to the specified index.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "FacetValidationException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotIndexException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/index/targets",
        "responseCode": 200
      },
      "input": {
        "shape": "ListIndexRequest"
      },
      "name": "ListIndex",
      "output": {
        "shape": "ListIndexResponse"
      }
    },
    "ListManagedSchemaArns": {
      "documentation": "<p>Lists the major version families of each managed schema. If a major version ARN is provided as SchemaArn, the minor version revisions in that family are listed instead.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/managed",
        "responseCode": 200
      },
      "input": {
        "shape": "ListManagedSchemaArnsRequest"
      },
      "name": "ListManagedSchemaArns",
      "output": {
        "shape": "ListManagedSchemaArnsResponse"
      }
    },
    "ListObjectAttributes": {
      "documentation": "<p>Lists all attributes that are associated with an object. </p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/attributes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListObjectAttributesRequest"
      },
      "name": "ListObjectAttributes",
      "output": {
        "shape": "ListObjectAttributesResponse"
      }
    },
    "ListObjectChildren": {
      "documentation": "<p>Returns a paginated list of child objects that are associated with a given object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "NotNodeException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/children",
        "responseCode": 200
      },
      "input": {
        "shape": "ListObjectChildrenRequest"
      },
      "name": "ListObjectChildren",
      "output": {
        "shape": "ListObjectChildrenResponse"
      }
    },
    "ListObjectParentPaths": {
      "documentation": "<p>Retrieves all available parent paths for any object type such as node, leaf node, policy node, and index node objects. For more information about objects, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directorystructure.html\">Directory Structure</a>.</p> <p>Use this API to evaluate all parents for an object. The call returns all objects from the root of the directory up to the requested object. The API returns the number of paths based on user-defined <code>MaxResults</code>, in case there are multiple paths to the parent. The order of the paths and nodes returned is consistent among multiple API calls unless the objects are deleted or moved. Paths not leading to the directory root are ignored from the target object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/parentpaths",
        "responseCode": 200
      },
      "input": {
        "shape": "ListObjectParentPathsRequest"
      },
      "name": "ListObjectParentPaths",
      "output": {
        "shape": "ListObjectParentPathsResponse"
      }
    },
    "ListObjectParents": {
      "documentation": "<p>Lists parent objects that are associated with a given object in pagination fashion.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "CannotListParentOfRootException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/parent",
        "responseCode": 200
      },
      "input": {
        "shape": "ListObjectParentsRequest"
      },
      "name": "ListObjectParents",
      "output": {
        "shape": "ListObjectParentsResponse"
      }
    },
    "ListObjectPolicies": {
      "documentation": "<p>Returns policies attached to an object in pagination fashion.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/policy",
        "responseCode": 200
      },
      "input": {
        "shape": "ListObjectPoliciesRequest"
      },
      "name": "ListObjectPolicies",
      "output": {
        "shape": "ListObjectPoliciesResponse"
      }
    },
    "ListOutgoingTypedLinks": {
      "documentation": "<p>Returns a paginated list of all the outgoing <a>TypedLinkSpecifier</a> information for an object. It also supports filtering by typed link facet and identity attributes. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/outgoing",
        "responseCode": 200
      },
      "input": {
        "shape": "ListOutgoingTypedLinksRequest"
      },
      "name": "ListOutgoingTypedLinks",
      "output": {
        "shape": "ListOutgoingTypedLinksResponse"
      }
    },
    "ListPolicyAttachments": {
      "documentation": "<p>Returns all of the <code>ObjectIdentifiers</code> to which a given policy is attached.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "NotPolicyException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/attachment",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPolicyAttachmentsRequest"
      },
      "name": "ListPolicyAttachments",
      "output": {
        "shape": "ListPolicyAttachmentsResponse"
      }
    },
    "ListPublishedSchemaArns": {
      "documentation": "<p>Lists the major version families of each published schema. If a major version ARN is provided as <code>SchemaArn</code>, the minor version revisions in that family are listed instead.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/published",
        "responseCode": 200
      },
      "input": {
        "shape": "ListPublishedSchemaArnsRequest"
      },
      "name": "ListPublishedSchemaArns",
      "output": {
        "shape": "ListPublishedSchemaArnsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Returns tags for a resource. Tagging is currently supported only for directories with a limit of 50 tags per directory. All 50 tags are returned for a given directory with this API call.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidTaggingRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/tags",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ListTypedLinkFacetAttributes": {
      "documentation": "<p>Returns a paginated list of all attribute definitions for a particular <a>TypedLinkFacet</a>. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet/attributes",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTypedLinkFacetAttributesRequest"
      },
      "name": "ListTypedLinkFacetAttributes",
      "output": {
        "shape": "ListTypedLinkFacetAttributesResponse"
      }
    },
    "ListTypedLinkFacetNames": {
      "documentation": "<p>Returns a paginated list of <code>TypedLink</code> facet names for a particular schema. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet/list",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTypedLinkFacetNamesRequest"
      },
      "name": "ListTypedLinkFacetNames",
      "output": {
        "shape": "ListTypedLinkFacetNamesResponse"
      }
    },
    "LookupPolicy": {
      "documentation": "<p>Lists all policies from the root of the <a>Directory</a> to the object specified. If there are no policies present, an empty list is returned. If policies are present, and if some objects don't have the policies attached, it returns the <code>ObjectIdentifier</code> for such objects. If policies are present, it returns <code>ObjectIdentifier</code>, <code>policyId</code>, and <code>policyType</code>. Paths that don't lead to the root from the target object are ignored. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/key_concepts_directory.html#key_concepts_policies\">Policies</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/policy/lookup",
        "responseCode": 200
      },
      "input": {
        "shape": "LookupPolicyRequest"
      },
      "name": "LookupPolicy",
      "output": {
        "shape": "LookupPolicyResponse"
      }
    },
    "PublishSchema": {
      "documentation": "<p>Publishes a development schema with a major version and a recommended minor version.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "SchemaAlreadyPublishedException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/publish",
        "responseCode": 200
      },
      "input": {
        "shape": "PublishSchemaRequest"
      },
      "name": "PublishSchema",
      "output": {
        "shape": "PublishSchemaResponse"
      }
    },
    "PutSchemaFromJson": {
      "documentation": "<p>Allows a schema to be updated using JSON upload. Only available for development schemas. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/schemas_jsonformat.html#schemas_json\">JSON Schema Format</a> for more information.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidSchemaDocException"
        },
        {
          "shape": "InvalidRuleException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/json",
        "responseCode": 200
      },
      "input": {
        "shape": "PutSchemaFromJsonRequest"
      },
      "name": "PutSchemaFromJson",
      "output": {
        "shape": "PutSchemaFromJsonResponse"
      }
    },
    "RemoveFacetFromObject": {
      "documentation": "<p>Removes the specified facet from the specified object.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/facets/delete",
        "responseCode": 200
      },
      "input": {
        "shape": "RemoveFacetFromObjectRequest"
      },
      "name": "RemoveFacetFromObject",
      "output": {
        "shape": "RemoveFacetFromObjectResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>An API operation for adding tags to a resource.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidTaggingRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/tags/add",
        "responseCode": 200
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>An API operation for removing tags from a resource.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidTaggingRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/tags/remove",
        "responseCode": 200
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    },
    "UpdateFacet": {
      "documentation": "<p>Does the following:</p> <ol> <li> <p>Adds new <code>Attributes</code>, <code>Rules</code>, or <code>ObjectTypes</code>.</p> </li> <li> <p>Updates existing <code>Attributes</code>, <code>Rules</code>, or <code>ObjectTypes</code>.</p> </li> <li> <p>Deletes existing <code>Attributes</code>, <code>Rules</code>, or <code>ObjectTypes</code>.</p> </li> </ol>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "InvalidFacetUpdateException"
        },
        {
          "shape": "FacetValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        },
        {
          "shape": "InvalidRuleException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/facet",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFacetRequest"
      },
      "name": "UpdateFacet",
      "output": {
        "shape": "UpdateFacetResponse"
      }
    },
    "UpdateLinkAttributes": {
      "documentation": "<p>Updates a given typed link\u2019s attributes. Attributes to be updated must not contribute to the typed link\u2019s identity, as defined by its <code>IdentityAttributeOrder</code>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/attributes/update",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateLinkAttributesRequest"
      },
      "name": "UpdateLinkAttributes",
      "output": {
        "shape": "UpdateLinkAttributesResponse"
      }
    },
    "UpdateObjectAttributes": {
      "documentation": "<p>Updates a given object's attributes.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DirectoryNotEnabledException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LinkNameAlreadyInUseException"
        },
        {
          "shape": "FacetValidationException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/object/update",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateObjectAttributesRequest"
      },
      "name": "UpdateObjectAttributes",
      "output": {
        "shape": "UpdateObjectAttributesResponse"
      }
    },
    "UpdateSchema": {
      "documentation": "<p>Updates the schema name with a new name. Only development schema names can be updated.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/update",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSchemaRequest"
      },
      "name": "UpdateSchema",
      "output": {
        "shape": "UpdateSchemaResponse"
      }
    },
    "UpdateTypedLinkFacet": {
      "documentation": "<p>Updates a <a>TypedLinkFacet</a>. For more information, see <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/directory_objects_links.html#directory_objects_links_typedlink\">Typed Links</a>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "FacetValidationException"
        },
        {
          "shape": "InvalidFacetUpdateException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "FacetNotFoundException"
        },
        {
          "shape": "InvalidRuleException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/typedlink/facet",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateTypedLinkFacetRequest"
      },
      "name": "UpdateTypedLinkFacet",
      "output": {
        "shape": "UpdateTypedLinkFacetResponse"
      }
    },
    "UpgradeAppliedSchema": {
      "documentation": "<p>Upgrades a single directory in-place using the <code>PublishedSchemaArn</code> with schema updates found in <code>MinorVersion</code>. Backwards-compatible minor version upgrades are instantaneously available for readers on all objects in the directory. Note: This is a synchronous API call and upgrades only one schema on a given directory per call. To upgrade multiple directories from one schema, you would need to call this API on each directory.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "IncompatibleSchemaException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAttachmentException"
        },
        {
          "shape": "SchemaAlreadyExistsException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/upgradeapplied",
        "responseCode": 200
      },
      "input": {
        "shape": "UpgradeAppliedSchemaRequest"
      },
      "name": "UpgradeAppliedSchema",
      "output": {
        "shape": "UpgradeAppliedSchemaResponse"
      }
    },
    "UpgradePublishedSchema": {
      "documentation": "<p>Upgrades a published schema under a new minor version revision using the current contents of <code>DevelopmentSchemaArn</code>.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "InvalidArnException"
        },
        {
          "shape": "RetryableConflictException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "IncompatibleSchemaException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidAttachmentException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/amazonclouddirectory/2017-01-11/schema/upgradepublished",
        "responseCode": 200
      },
      "input": {
        "shape": "UpgradePublishedSchemaRequest"
      },
      "name": "UpgradePublishedSchema",
      "output": {
        "shape": "UpgradePublishedSchemaResponse"
      }
    }
  },
  "shapes": {
    "AccessDeniedException": {
      "documentation": "<p>Access denied. Check your permissions.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AddFacetToObjectRequest": {
      "members": {
        "DirectoryArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where the object resides. For more information, see <a>arns</a>.</p>",
          "location": "header",
          "locationName": "x-amz-data-partition",
          "shape": "Arn"
        },
        "ObjectAttributeList": {
          "documentation": "<p>Attributes on the facet that you are adding to the object.</p>",
          "shape": "AttributeKeyAndValueList"
        },
        "ObjectReference": {
          "documentation": "<p>A reference to the object you are adding the specified facet to.</p>",
          "shape": "ObjectReference"
        },
        "SchemaFacet": {
          "documentation": "<p>Identifiers for the facet that you are adding to the object. See <a>SchemaFacet</a> for details.</p>",
          "shape": "SchemaFacet"
        }
      },
      "required": [
        "DirectoryArn",
        "SchemaFacet",
        "ObjectReference"
      ],
      "type": "structure"
    },
    "AddFacetToObjectResponse": {
      "members": {},
      "type": "structure"
    },
    "ApplySchemaRequest": {
      "members": {
        "DirectoryArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> into which the schema is copied. For more information, see <a>arns</a>.</p>",
          "location": "header",
          "locationName": "x-amz-data-partition",
          "shape": "Arn"
        },
        "PublishedSchemaArn": {
          "documentation": "<p>Published schema Amazon Resource Name (ARN) that needs to be copied. For more information, see <a>arns</a>.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "PublishedSchemaArn",
        "DirectoryArn"
      ],
      "type": "structure"
    },
    "ApplySchemaResponse": {
      "members": {
        "AppliedSchemaArn": {
          "documentation": "<p>The applied schema ARN that is associated with the copied schema in the <a>Directory</a>. You can use this ARN to describe the schema information applied on this directory. For more information, see <a>arns</a>.</p>",
          "shape": "Arn"
        },
        "DirectoryArn": {
          "documentation": "<p>The ARN that is associated with the <a>Directory</a>. For more information, see <a>arns</a>.</p>",
          "shape": "Arn"
        }
      },
      "type": "structure"
    },
    "Arn": {
      "type": "string"
    },
    "Arns": {
      "member": {
        "shape": "Arn"
      },
      "type": "list"
    },
    "AttachObjectRequest": {
      "members": {
        "ChildReference": {
          "documentation": "<p>The child object reference to be attached to the object.</p>",
          "shape": "ObjectReference"
        },
        "DirectoryArn": {
          "documentation": "<p>Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where both objects reside. For more information, see <a>arns</a>.</p>",
          "location": "header",
          "locationName": "x-amz-data-partition",
          "shape": "Arn"
        },
        "LinkName": {
          "documentation": "<p>The link name with which the child object is attached to the parent.</p>",
          "shape": "LinkName"
        },
        "ParentReference": {
          "documentation": "<p>The parent object reference.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "DirectoryArn",
        "ParentReference",
        "ChildReference",
        "LinkName"
      ],
      "type": "structure"
    },
    "AttachObjectResponse": {
      "members": {
        "AttachedObjectIdentifier": {
          "documentation": "<p>The attached <code>ObjectIdentifier</code>, which is the child <code>ObjectIdentifier</code>.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "AttachPolicyRequest": {
      "members": {
        "DirectoryArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) that is associated with the <a>Directory</a> where both objects reside. For more information, see <a>arns</a>.</p>",
          "location": "header",
          "locationName": "x-amz-data-partition",
          "shape": "Arn"
        },
        "ObjectReference": {
          "documentation": "<p>The reference that identifies the object to which the policy will be attached.</p>",
          "shape": "ObjectReference"
        },
        "PolicyReference": {
          "documentation": "<p>The reference that is associated with the policy object.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "DirectoryArn",
        "PolicyReference",
        "ObjectReference"
      ],
      "type": "structure"
    },
    "AttachPolicyResponse": {
      "members": {},
      "type": "structure"
    },
    "AttachToIndexRequest": {
      "members": {
        "DirectoryArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the directory where the object and index exist.</p>",
          "location": "header",
          "locationName": "x-amz-data-partition",
          "shape": "Arn"
        },
        "IndexReference": {
          "documentation": "<p>A reference to the index that you are attaching the object to.</p>",
          "shape": "ObjectReference"
        },
        "TargetReference": {
          "documentation": "<p>A reference to the object that you are attaching to the index.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "DirectoryArn",
        "IndexReference",
        "TargetReference"
      ],
      "type": "structure"
    },
    "AttachToIndexResponse": {
      "members": {
        "AttachedObjectIdentifier": {
          "documentation": "<p>The <code>ObjectIdentifier</code> of the object that was attached to the index.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "AttachTypedLinkRequest": {
      "members": {
        "Attributes": {
          "documentation": "<p>A set of attributes that are associated with the typed link.</p>",
          "shape": "AttributeNameAndValueList"
        },
        "DirectoryArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the directory where you want to attach the typed link.</p>",
          "location": "header",
          "locationName": "x-amz-data-partition",
          "shape": "Arn"
        },
        "SourceObjectReference": {
          "documentation": "<p>Identifies the source object that the typed link will attach to.</p>",
          "shape": "ObjectReference"
        },
        "TargetObjectReference": {
          "documentation": "<p>Identifies the target object that the typed link will attach to.</p>",
          "shape": "ObjectReference"
        },
        "TypedLinkFacet": {
          "documentation": "<p>Identifies the typed link facet that is associated with the typed link.</p>",
          "shape": "TypedLinkSchemaAndFacetName"
        }
      },
      "required": [
        "DirectoryArn",
        "SourceObjectReference",
        "TargetObjectReference",
        "TypedLinkFacet",
        "Attributes"
      ],
      "type": "structure"
    },
    "AttachTypedLinkResponse": {
      "members": {
        "TypedLinkSpecifier": {
          "documentation": "<p>Returns a typed link specifier as output.</p>",
          "shape": "TypedLinkSpecifier"
        }
      },
      "type": "structure"
    },
    "AttributeKey": {
      "documentation": "<p>A unique identifier for an attribute.</p>",
      "members": {
        "FacetName": {
          "documentation": "<p>The name of the facet that the attribute exists within.</p>",
          "shape": "FacetName"
        },
        "Name": {
          "documentation": "<p>The name of the attribute.</p>",
          "shape": "AttributeName"
        },
        "SchemaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the schema that contains the facet and attribute.</p>",
          "shape": "Arn"
        }
      },
      "required": [
        "SchemaArn",
        "FacetName",
        "Name"
      ],
      "type": "structure"
    },
    "AttributeKeyAndValue": {
      "documentation": "<p>The combination of an attribute key and an attribute value.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The key of the attribute.</p>",
          "shape": "AttributeKey"
        },
        "Value": {
          "documentation": "<p>The value of the attribute.</p>",
          "shape": "TypedAttributeValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "AttributeKeyAndValueList": {
      "member": {
        "shape": "AttributeKeyAndValue"
      },
      "type": "list"
    },
    "AttributeKeyList": {
      "member": {
        "shape": "AttributeKey"
      },
      "type": "list"
    },
    "AttributeName": {
      "max": 230,
      "min": 1,
      "pattern": "^[a-zA-Z0-9._:-]*$",
      "type": "string"
    },
    "AttributeNameAndValue": {
      "documentation": "<p>Identifies the attribute name and value for a typed link.</p>",
      "members": {
        "AttributeName": {
          "documentation": "<p>The attribute name of the typed link.</p>",
          "shape": "AttributeName"
        },
        "Value": {
          "documentation": "<p>The value for the typed link.</p>",
          "shape": "TypedAttributeValue"
        }
      },
      "required": [
        "AttributeName",
        "Value"
      ],
      "type": "structure"
    },
    "AttributeNameAndValueList": {
      "member": {
        "shape": "AttributeNameAndValue"
      },
      "type": "list"
    },
    "AttributeNameList": {
      "member": {
        "shape": "AttributeName"
      },
      "type": "list"
    },
    "BatchAddFacetToObject": {
      "documentation": "<p>Represents the output of a batch add facet to object operation.</p>",
      "members": {
        "ObjectAttributeList": {
          "documentation": "<p>The attributes to set on the object.</p>",
          "shape": "AttributeKeyAndValueList"
        },
        "ObjectReference": {
          "documentation": "<p>A reference to the object being mutated.</p>",
          "shape": "ObjectReference"
        },
        "SchemaFacet": {
          "documentation": "<p>Represents the facet being added to the object.</p>",
          "shape": "SchemaFacet"
        }
      },
      "required": [
        "SchemaFacet",
        "ObjectAttributeList",
        "ObjectReference"
      ],
      "type": "structure"
    },
    "BatchAddFacetToObjectResponse": {
      "documentation": "<p>The result of a batch add facet to object operation.</p>",
      "members": {},
      "type": "structure"
    },
    "BatchAttachObject": {
      "documentation": "<p>Represents the output of an <a>AttachObject</a> operation.</p>",
      "members": {
        "ChildReference": {
          "documentation": "<p>The child object reference that is to be attached to the object.</p>",
          "shape": "ObjectReference"
        },
        "LinkName": {
          "documentation": "<p>The name of the link.</p>",
          "shape": "LinkName"
        },
        "ParentReference": {
          "documentation": "<p>The parent object reference.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "ParentReference",
        "ChildReference",
        "LinkName"
      ],
      "type": "structure"
    },
    "BatchAttachObjectResponse": {
      "documentation": "<p>Represents the output batch <a>AttachObject</a> response operation.</p>",
      "members": {
        "attachedObjectIdentifier": {
          "documentation": "<p>The <code>ObjectIdentifier</code> of the object that has been attached.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "BatchAttachPolicy": {
      "documentation": "<p>Attaches a policy object to a regular object inside a <a>BatchRead</a> operation.\u00a0For more information, see <a>AttachPolicy</a> and <a>BatchReadRequest$Operations</a>.</p>",
      "members": {
        "ObjectReference": {
          "documentation": "<p>The reference that identifies the object to which the policy will be attached.</p>",
          "shape": "ObjectReference"
        },
        "PolicyReference": {
          "documentation": "<p>The reference that is associated with the policy object.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "PolicyReference",
        "ObjectReference"
      ],
      "type": "structure"
    },
    "BatchAttachPolicyResponse": {
      "documentation": "<p>Represents the output of an <a>AttachPolicy</a> response operation.</p>",
      "members": {},
      "type": "structure"
    },
    "BatchAttachToIndex": {
      "documentation": "<p>Attaches the specified object to the specified index inside a <a>BatchRead</a> operation. For more information, see <a>AttachToIndex</a> and <a>BatchReadRequest$Operations</a>.</p>",
      "members": {
        "IndexReference": {
          "documentation": "<p>A reference to the index that you are attaching the object to.</p>",
          "shape": "ObjectReference"
        },
        "TargetReference": {
          "documentation": "<p>A reference to the object that you are attaching to the index.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "IndexReference",
        "TargetReference"
      ],
      "type": "structure"
    },
    "BatchAttachToIndexResponse": {
      "documentation": "<p>Represents the output of a <a>AttachToIndex</a> response operation.</p>",
      "members": {
        "AttachedObjectIdentifier": {
          "documentation": "<p>The <code>ObjectIdentifier</code> of the object that was attached to the index.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "BatchAttachTypedLink": {
      "documentation": "<p>Attaches a typed link to a specified source and target object inside a <a>BatchRead</a> operation. For more information, see <a>AttachTypedLink</a> and <a>BatchReadRequest$Operations</a>.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>A set of attributes that are associated with the typed link.</p>",
          "shape": "AttributeNameAndValueList"
        },
        "SourceObjectReference": {
          "documentation": "<p>Identifies the source object that the typed link will attach to.</p>",
          "shape": "ObjectReference"
        },
        "TargetObjectReference": {
          "documentation": "<p>Identifies the target object that the typed link will attach to.</p>",
          "shape": "ObjectReference"
        },
        "TypedLinkFacet": {
          "documentation": "<p>Identifies the typed link facet that is associated with the typed link.</p>",
          "shape": "TypedLinkSchemaAndFacetName"
        }
      },
      "required": [
        "SourceObjectReference",
        "TargetObjectReference",
        "TypedLinkFacet",
        "Attributes"
      ],
      "type": "structure"
    },
    "BatchAttachTypedLinkResponse": {
      "documentation": "<p>Represents the output of a <a>AttachTypedLink</a> response operation.</p>",
      "members": {
        "TypedLinkSpecifier": {
          "documentation": "<p>Returns a typed link specifier as output.</p>",
          "shape": "TypedLinkSpecifier"
        }
      },
      "type": "structure"
    },
    "BatchCreateIndex": {
      "documentation": "<p>Creates an index object inside of a <a>BatchRead</a> operation. For more information, see <a>CreateIndex</a> and <a>BatchReadRequest$Operations</a>.</p>",
      "members": {
        "BatchReferenceName": {
          "documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>",
          "shape": "BatchReferenceName"
        },
        "IsUnique": {
          "documentation": "<p>Indicates whether the attribute that is being indexed has unique values or not.</p>",
          "shape": "Bool"
        },
        "LinkName": {
          "documentation": "<p>The name of the link between the parent object and the index object.</p>",
          "shape": "LinkName"
        },
        "OrderedIndexedAttributeList": {
          "documentation": "<p>Specifies the attributes that should be indexed on. Currently only a single attribute is supported.</p>",
          "shape": "AttributeKeyList"
        },
        "ParentReference": {
          "documentation": "<p>A reference to the parent object that contains the index object.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "OrderedIndexedAttributeList",
        "IsUnique"
      ],
      "type": "structure"
    },
    "BatchCreateIndexResponse": {
      "documentation": "<p>Represents the output of a <a>CreateIndex</a> response operation.</p>",
      "members": {
        "ObjectIdentifier": {
          "documentation": "<p>The <code>ObjectIdentifier</code> of the index created by this operation.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "BatchCreateObject": {
      "documentation": "<p>Represents the output of a <a>CreateObject</a> operation.</p>",
      "members": {
        "BatchReferenceName": {
          "documentation": "<p>The batch reference name. See <a href=\"https://docs.aws.amazon.com/clouddirectory/latest/developerguide/transaction_support.html\">Transaction Support</a> for more information.</p>",
          "shape": "BatchReferenceName"
        },
        "LinkName": {
          "documentation": "<p>The name of the link.</p>",
          "shape": "LinkName"
        },
        "ObjectAttributeList": {
          "documentation": "<p>An attribute map, which contains an attribute ARN as the key and attribute value as the map value.</p>",
          "shape": "AttributeKeyAndValueList"
        },
        "ParentReference": {
          "documentation": "<p>If specified, the parent reference to which this object will be attached.</p>",
          "shape": "ObjectReference"
        },
        "SchemaFacet": {
          "documentation": "<p>A list of <code>FacetArns</code> that will be associated with the object. For more information, see <a>arns</a>.</p>",
          "shape": "SchemaFacetList"
        }
      },
      "required": [
        "SchemaFacet",
        "ObjectAttributeList"
      ],
      "type": "structure"
    },
    "BatchCreateObjectResponse": {
      "documentation": "<p>Represents the output of a <a>CreateObject</a> response operation.</p>",
      "members": {
        "ObjectIdentifier": {
          "documentation": "<p>The ID that is associated with the object.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "BatchDeleteObject": {
      "documentation": "<p>Represents the output of a <a>DeleteObject</a> operation.</p>",
      "members": {
        "ObjectReference": {
          "documentation": "<p>The reference that identifies the object.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "ObjectReference"
      ],
      "type": "structure"
    },
    "BatchDeleteObjectResponse": {
      "documentation": "<p>Represents the output of a <a>DeleteObject</a> response operation.</p>",
      "members": {},
      "type": "structure"
    },
    "BatchDetachFromIndex": {
      "documentation": "<p>Detaches the specified object from the specified index inside a <a>BatchRead</a> operation. For more information, see <a>DetachFromIndex</a> and <a>BatchReadRequest$Operations</a>.</p>",
      "members": {
        "IndexReference": {
          "documentation": "<p>A reference to the index object.</p>",
          "shape": "ObjectReference"
        },
        "TargetReference": {
          "documentation": "<p>A reference to the object being detached from the index.</p>",
          "shape": "ObjectReference"
        }
      },
      "required": [
        "IndexReference",
        "TargetReference"
      ],
      "type": "structure"
    },
    "BatchDetachFromIndexResponse": {
      "documentation": "<p>Represents the output of a <a>DetachFromIndex</a> response operation.</p>",
      "members": {
        "DetachedObjectIdentifier": {
          "documentation": "<p>The <code>ObjectIdentifier</code> of the object that was detached from the index.</p>",
          "shape": "ObjectIdentifier"
        }
      },
      "type": "structure"
    },
    "BatchDetachObject": {
      "documentation": "<p>Represents the output of a <a>DetachObject</a> operation.</p>",
      "members": {
[...]
