{
  "documentation": "<p>Amazon EMR is a web service that makes it easy to process large amounts of data efficiently. Amazon EMR uses Hadoop processing combined with several AWS products to do tasks such as web indexing, data mining, log file analysis, machine learning, scientific simulation, and data warehousing.</p>",
  "metadata": {
    "apiVersion": "2009-03-31",
    "endpointPrefix": "elasticmapreduce",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "Amazon EMR",
    "serviceFullName": "Amazon Elastic MapReduce",
    "serviceId": "EMR",
    "signatureVersion": "v4",
    "targetPrefix": "ElasticMapReduce",
    "uid": "elasticmapreduce-2009-03-31"
  },
  "operations": {
    "AddInstanceFleet": {
      "documentation": "<p>Adds an instance fleet to a running cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddInstanceFleetInput"
      },
      "name": "AddInstanceFleet",
      "output": {
        "shape": "AddInstanceFleetOutput"
      }
    },
    "AddInstanceGroups": {
      "documentation": "<p>Adds one or more instance groups to a running cluster.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddInstanceGroupsInput"
      },
      "name": "AddInstanceGroups",
      "output": {
        "shape": "AddInstanceGroupsOutput"
      }
    },
    "AddJobFlowSteps": {
      "documentation": "<p>AddJobFlowSteps adds new steps to a running cluster. A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using SSH to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>A step specifies the location of a JAR file stored either on the master node of the cluster or in Amazon S3. Each step is performed by the main function of the main class of the JAR file. The main class can be specified either in the manifest of the JAR or by using the MainFunction parameter of the step.</p> <p>Amazon EMR executes each step in the order listed. For a step to be considered complete, the main function must exit with a zero exit code and all Hadoop jobs started while the step was running must have completed and run successfully.</p> <p>You can only add steps to a cluster that is in one of the following states: STARTING, BOOTSTRAPPING, RUNNING, or WAITING.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddJobFlowStepsInput"
      },
      "name": "AddJobFlowSteps",
      "output": {
        "shape": "AddJobFlowStepsOutput"
      }
    },
    "AddTags": {
      "documentation": "<p>Adds tags to an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsInput"
      },
      "name": "AddTags",
      "output": {
        "shape": "AddTagsOutput"
      }
    },
    "CancelSteps": {
      "documentation": "<p>Cancels a pending step or steps in a running cluster. Available only in Amazon EMR versions 4.8.0 and later, excluding version 5.0.0. A maximum of 256 steps are allowed in each CancelSteps request. CancelSteps is idempotent but asynchronous; it does not guarantee a step will be canceled, even if the request is successfully submitted. You can only cancel steps that are in a <code>PENDING</code> state.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelStepsInput"
      },
      "name": "CancelSteps",
      "output": {
        "shape": "CancelStepsOutput"
      }
    },
    "CreateSecurityConfiguration": {
      "documentation": "<p>Creates a security configuration, which is stored in the service and can be specified when a cluster is created.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateSecurityConfigurationInput"
      },
      "name": "CreateSecurityConfiguration",
      "output": {
        "shape": "CreateSecurityConfigurationOutput"
      }
    },
    "DeleteSecurityConfiguration": {
      "documentation": "<p>Deletes a security configuration.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteSecurityConfigurationInput"
      },
      "name": "DeleteSecurityConfiguration",
      "output": {
        "shape": "DeleteSecurityConfigurationOutput"
      }
    },
    "DescribeCluster": {
      "documentation": "<p>Provides cluster-level details including status, hardware and software configuration, VPC settings, and so on. </p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeClusterInput"
      },
      "name": "DescribeCluster",
      "output": {
        "shape": "DescribeClusterOutput"
      }
    },
    "DescribeJobFlows": {
      "deprecated": true,
      "documentation": "<p>This API is deprecated and will eventually be removed. We recommend you use <a>ListClusters</a>, <a>DescribeCluster</a>, <a>ListSteps</a>, <a>ListInstanceGroups</a> and <a>ListBootstrapActions</a> instead.</p> <p>DescribeJobFlows returns a list of job flows that match all of the supplied parameters. The parameters can include a list of job flow IDs, job flow states, and restrictions on job flow creation date and time.</p> <p>Regardless of supplied parameters, only job flows created within the last two months are returned.</p> <p>If no parameters are supplied, then job flows matching either of the following criteria are returned:</p> <ul> <li> <p>Job flows created and completed in the last two weeks</p> </li> <li> <p> Job flows created within the last two months that are in one of the following states: <code>RUNNING</code>, <code>WAITING</code>, <code>SHUTTING_DOWN</code>, <code>STARTING</code> </p> </li> </ul> <p>Amazon EMR can return a maximum of 512 job flow descriptions.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeJobFlowsInput"
      },
      "name": "DescribeJobFlows",
      "output": {
        "shape": "DescribeJobFlowsOutput"
      }
    },
    "DescribeSecurityConfiguration": {
      "documentation": "<p>Provides the details of a security configuration by returning the configuration JSON.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSecurityConfigurationInput"
      },
      "name": "DescribeSecurityConfiguration",
      "output": {
        "shape": "DescribeSecurityConfigurationOutput"
      }
    },
    "DescribeStep": {
      "documentation": "<p>Provides more detail about the cluster step.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStepInput"
      },
      "name": "DescribeStep",
      "output": {
        "shape": "DescribeStepOutput"
      }
    },
    "GetBlockPublicAccessConfiguration": {
      "documentation": "<p>Returns the Amazon EMR block public access configuration for your AWS account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetBlockPublicAccessConfigurationInput"
      },
      "name": "GetBlockPublicAccessConfiguration",
      "output": {
        "shape": "GetBlockPublicAccessConfigurationOutput"
      }
    },
    "ListBootstrapActions": {
      "documentation": "<p>Provides information about the bootstrap actions associated with a cluster.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBootstrapActionsInput"
      },
      "name": "ListBootstrapActions",
      "output": {
        "shape": "ListBootstrapActionsOutput"
      }
    },
    "ListClusters": {
      "documentation": "<p>Provides the status of all clusters visible to this AWS account. Allows you to filter the list of clusters based on certain criteria; for example, filtering by cluster creation date and time or by status. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListClusters calls.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListClustersInput"
      },
      "name": "ListClusters",
      "output": {
        "shape": "ListClustersOutput"
      }
    },
    "ListInstanceFleets": {
      "documentation": "<p>Lists all available details about the instance fleets in a cluster.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstanceFleetsInput"
      },
      "name": "ListInstanceFleets",
      "output": {
        "shape": "ListInstanceFleetsOutput"
      }
    },
    "ListInstanceGroups": {
      "documentation": "<p>Provides all available details about the instance groups in a cluster.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstanceGroupsInput"
      },
      "name": "ListInstanceGroups",
      "output": {
        "shape": "ListInstanceGroupsOutput"
      }
    },
    "ListInstances": {
      "documentation": "<p>Provides information for all active EC2 instances and EC2 instances terminated in the last 30 days, up to a maximum of 2,000. EC2 instances in any of the following states are considered active: AWAITING_FULFILLMENT, PROVISIONING, BOOTSTRAPPING, RUNNING.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListInstancesInput"
      },
      "name": "ListInstances",
      "output": {
        "shape": "ListInstancesOutput"
      }
    },
    "ListSecurityConfigurations": {
      "documentation": "<p>Lists all the security configurations visible to this account, providing their creation dates and times, and their names. This call returns a maximum of 50 clusters per call, but returns a marker to track the paging of the cluster list across multiple ListSecurityConfigurations calls.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListSecurityConfigurationsInput"
      },
      "name": "ListSecurityConfigurations",
      "output": {
        "shape": "ListSecurityConfigurationsOutput"
      }
    },
    "ListSteps": {
      "documentation": "<p>Provides a list of steps for the cluster in reverse order unless you specify <code>stepIds</code> with the request of filter by <code>StepStates</code>. You can specify a maximum of ten <code>stepIDs</code>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStepsInput"
      },
      "name": "ListSteps",
      "output": {
        "shape": "ListStepsOutput"
      }
    },
    "ModifyCluster": {
      "documentation": "<p>Modifies the number of steps that can be executed concurrently for the cluster specified using ClusterID.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyClusterInput"
      },
      "name": "ModifyCluster",
      "output": {
        "shape": "ModifyClusterOutput"
      }
    },
    "ModifyInstanceFleet": {
      "documentation": "<p>Modifies the target On-Demand and target Spot capacities for the instance fleet with the specified InstanceFleetID within the cluster specified using ClusterID. The call either succeeds or fails atomically.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyInstanceFleetInput"
      },
      "name": "ModifyInstanceFleet"
    },
    "ModifyInstanceGroups": {
      "documentation": "<p>ModifyInstanceGroups modifies the number of nodes and configuration settings of an instance group. The input parameters include the new target instance count for the group and the instance group ID. The call will either succeed or fail atomically.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyInstanceGroupsInput"
      },
      "name": "ModifyInstanceGroups"
    },
    "PutAutoScalingPolicy": {
      "documentation": "<p>Creates or updates an automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutAutoScalingPolicyInput"
      },
      "name": "PutAutoScalingPolicy",
      "output": {
        "shape": "PutAutoScalingPolicyOutput"
      }
    },
    "PutBlockPublicAccessConfiguration": {
      "documentation": "<p>Creates or updates an Amazon EMR block public access configuration for your AWS account in the current Region. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/configure-block-public-access.html\">Configure Block Public Access for Amazon EMR</a> in the <i>Amazon EMR Management Guide</i>.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutBlockPublicAccessConfigurationInput"
      },
      "name": "PutBlockPublicAccessConfiguration",
      "output": {
        "shape": "PutBlockPublicAccessConfigurationOutput"
      }
    },
    "RemoveAutoScalingPolicy": {
      "documentation": "<p>Removes an automatic scaling policy from a specified instance group within an EMR cluster.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveAutoScalingPolicyInput"
      },
      "name": "RemoveAutoScalingPolicy",
      "output": {
        "shape": "RemoveAutoScalingPolicyOutput"
      }
    },
    "RemoveTags": {
      "documentation": "<p>Removes tags from an Amazon EMR resource. Tags make it easier to associate clusters in various ways, such as grouping clusters to track your Amazon EMR resource allocation costs. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-plan-tags.html\">Tag Clusters</a>. </p> <p>The following example removes the stack tag with value Prod from a cluster:</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "InvalidRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RemoveTagsInput"
      },
      "name": "RemoveTags",
      "output": {
        "shape": "RemoveTagsOutput"
      }
    },
    "RunJobFlow": {
      "documentation": "<p>RunJobFlow creates and starts running a new cluster (job flow). The cluster runs the steps specified. After the steps complete, the cluster stops and the HDFS partition is lost. To prevent loss of data, configure the last step of the job flow to store results in Amazon S3. If the <a>JobFlowInstancesConfig</a> <code>KeepJobFlowAliveWhenNoSteps</code> parameter is set to <code>TRUE</code>, the cluster transitions to the WAITING state rather than shutting down after the steps have completed. </p> <p>For additional protection, you can set the <a>JobFlowInstancesConfig</a> <code>TerminationProtected</code> parameter to <code>TRUE</code> to lock the cluster and prevent it from being terminated by API call, user intervention, or in the event of a job flow error.</p> <p>A maximum of 256 steps are allowed in each job flow.</p> <p>If your cluster is long-running (such as a Hive data warehouse) or complex, you may require more than 256 steps to process your data. You can bypass the 256-step limitation in various ways, including using the SSH shell to connect to the master node and submitting queries directly to the software running on the master node, such as Hive and Hadoop. For more information on how to do this, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/AddMoreThan256Steps.html\">Add More than 256 Steps to a Cluster</a> in the <i>Amazon EMR Management Guide</i>.</p> <p>For long running clusters, we recommend that you periodically store your results.</p> <note> <p>The instance fleets configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions. The RunJobFlow request can contain InstanceFleets parameters or InstanceGroups parameters, but not both.</p> </note>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RunJobFlowInput"
      },
      "name": "RunJobFlow",
      "output": {
        "shape": "RunJobFlowOutput"
      }
    },
    "SetTerminationProtection": {
      "documentation": "<p>SetTerminationProtection locks a cluster (job flow) so the EC2 instances in the cluster cannot be terminated by user intervention, an API call, or in the event of a job-flow error. The cluster still terminates upon successful completion of the job flow. Calling <code>SetTerminationProtection</code> on a cluster is similar to calling the Amazon EC2 <code>DisableAPITermination</code> API on all EC2 instances in a cluster.</p> <p> <code>SetTerminationProtection</code> is used to prevent accidental termination of a cluster and to ensure that in the event of an error, the instances persist so that you can recover any data stored in their ephemeral instance storage.</p> <p> To terminate a cluster that has been locked by setting <code>SetTerminationProtection</code> to <code>true</code>, you must first unlock the job flow by a subsequent call to <code>SetTerminationProtection</code> in which you set the value to <code>false</code>. </p> <p> For more information, see<a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/UsingEMR_TerminationProtection.html\">Managing Cluster Termination</a> in the <i>Amazon EMR Management Guide</i>. </p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetTerminationProtectionInput"
      },
      "name": "SetTerminationProtection"
    },
    "SetVisibleToAllUsers": {
      "documentation": "<p>Sets the <a>Cluster$VisibleToAllUsers</a> value, which determines whether the cluster is visible to all IAM users of the AWS account associated with the cluster. Only the IAM user who created the cluster or the AWS account root user can call this action. The default value, <code>true</code>, indicates that all IAM users in the AWS account can perform cluster actions if they have the proper IAM policy permissions. If set to <code>false</code>, only the IAM user that created the cluster can perform actions. This action works on running clusters. You can override the default <code>true</code> setting when you create a cluster by using the <code>VisibleToAllUsers</code> parameter with <code>RunJobFlow</code>.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetVisibleToAllUsersInput"
      },
      "name": "SetVisibleToAllUsers"
    },
    "TerminateJobFlows": {
      "documentation": "<p>TerminateJobFlows shuts a list of clusters (job flows) down. When a job flow is shut down, any step not yet completed is canceled and the EC2 instances on which the cluster is running are stopped. Any log files not already saved are uploaded to Amazon S3 if a LogUri was specified when the cluster was created.</p> <p>The maximum number of clusters allowed is 10. The call to <code>TerminateJobFlows</code> is asynchronous. Depending on the configuration of the cluster, it may take up to 1-5 minutes for the cluster to completely terminate and release allocated resources, such as Amazon EC2 instances.</p>",
      "errors": [
        {
          "shape": "InternalServerError"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateJobFlowsInput"
      },
      "name": "TerminateJobFlows"
    }
  },
  "shapes": {
    "ActionOnFailure": {
      "enum": [
        "TERMINATE_JOB_FLOW",
        "TERMINATE_CLUSTER",
        "CANCEL_AND_WAIT",
        "CONTINUE"
      ],
      "type": "string"
    },
    "AddInstanceFleetInput": {
      "members": {
        "ClusterId": {
          "documentation": "<p>The unique identifier of the cluster.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "InstanceFleet": {
          "documentation": "<p>Specifies the configuration of the instance fleet.</p>",
          "shape": "InstanceFleetConfig"
        }
      },
      "required": [
        "ClusterId",
        "InstanceFleet"
      ],
      "type": "structure"
    },
    "AddInstanceFleetOutput": {
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "ClusterId": {
          "documentation": "<p>The unique identifier of the cluster.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "InstanceFleetId": {
          "documentation": "<p>The unique identifier of the instance fleet.</p>",
          "shape": "InstanceFleetId"
        }
      },
      "type": "structure"
    },
    "AddInstanceGroupsInput": {
      "documentation": "<p>Input to an AddInstanceGroups call.</p>",
      "members": {
        "InstanceGroups": {
          "documentation": "<p>Instance groups to add.</p>",
          "shape": "InstanceGroupConfigList"
        },
        "JobFlowId": {
          "documentation": "<p>Job flow in which to add the instance groups.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "InstanceGroups",
        "JobFlowId"
      ],
      "type": "structure"
    },
    "AddInstanceGroupsOutput": {
      "documentation": "<p>Output from an AddInstanceGroups call.</p>",
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "InstanceGroupIds": {
          "documentation": "<p>Instance group IDs of the newly created instance groups.</p>",
          "shape": "InstanceGroupIdsList"
        },
        "JobFlowId": {
          "documentation": "<p>The job flow ID in which the instance groups are added.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "type": "structure"
    },
    "AddJobFlowStepsInput": {
      "documentation": "<p> The input argument to the <a>AddJobFlowSteps</a> operation. </p>",
      "members": {
        "JobFlowId": {
          "documentation": "<p>A string that uniquely identifies the job flow. This identifier is returned by <a>RunJobFlow</a> and can also be obtained from <a>ListClusters</a>. </p>",
          "shape": "XmlStringMaxLen256"
        },
        "Steps": {
          "documentation": "<p> A list of <a>StepConfig</a> to be executed by the job flow. </p>",
          "shape": "StepConfigList"
        }
      },
      "required": [
        "JobFlowId",
        "Steps"
      ],
      "type": "structure"
    },
    "AddJobFlowStepsOutput": {
      "documentation": "<p> The output for the <a>AddJobFlowSteps</a> operation. </p>",
      "members": {
        "StepIds": {
          "documentation": "<p>The identifiers of the list of steps added to the job flow.</p>",
          "shape": "StepIdsList"
        }
      },
      "type": "structure"
    },
    "AddTagsInput": {
      "documentation": "<p>This input identifies a cluster and a list of tags to attach.</p>",
      "members": {
        "ResourceId": {
          "documentation": "<p>The Amazon EMR resource identifier to which tags will be added. This value must be a cluster identifier.</p>",
          "shape": "ResourceId"
        },
        "Tags": {
          "documentation": "<p>A list of tags to associate with a cluster and propagate to EC2 instances. Tags are user-defined key/value pairs that consist of a required key string with a maximum of 128 characters, and an optional value string with a maximum of 256 characters.</p>",
          "shape": "TagList"
        }
      },
      "required": [
        "ResourceId",
        "Tags"
      ],
      "type": "structure"
    },
    "AddTagsOutput": {
      "documentation": "<p>This output indicates the result of adding tags to a resource.</p>",
      "members": {},
      "type": "structure"
    },
    "AdjustmentType": {
      "enum": [
        "CHANGE_IN_CAPACITY",
        "PERCENT_CHANGE_IN_CAPACITY",
        "EXACT_CAPACITY"
      ],
      "type": "string"
    },
    "Application": {
      "documentation": "<p>With Amazon EMR release version 4.0 and later, the only accepted parameter is the application name. To pass arguments to applications, you use configuration classifications specified using configuration JSON objects. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p> <p>With earlier Amazon EMR releases, the application is any Amazon or third-party software that you can add to the cluster. This structure contains a list of strings that indicates the software to use with the cluster and accepts a user argument list. Amazon EMR accepts and forwards the argument list to the corresponding installation script as bootstrap action argument.</p>",
      "members": {
        "AdditionalInfo": {
          "documentation": "<p>This option is for advanced users only. This is meta information about third-party applications that third-party vendors use for testing purposes.</p>",
          "shape": "StringMap"
        },
        "Args": {
          "documentation": "<p>Arguments for Amazon EMR to pass to the application.</p>",
          "shape": "StringList"
        },
        "Name": {
          "documentation": "<p>The name of the application.</p>",
          "shape": "String"
        },
        "Version": {
          "documentation": "<p>The version of the application.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ApplicationList": {
      "member": {
        "shape": "Application"
      },
      "type": "list"
    },
    "ArnType": {
      "max": 2048,
      "min": 20,
      "type": "string"
    },
    "AutoScalingPolicy": {
      "documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. An automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>",
      "members": {
        "Constraints": {
          "documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>",
          "shape": "ScalingConstraints"
        },
        "Rules": {
          "documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>",
          "shape": "ScalingRuleList"
        }
      },
      "required": [
        "Constraints",
        "Rules"
      ],
      "type": "structure"
    },
    "AutoScalingPolicyDescription": {
      "documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>",
      "members": {
        "Constraints": {
          "documentation": "<p>The upper and lower EC2 instance limits for an automatic scaling policy. Automatic scaling activity will not cause an instance group to grow above or below these limits.</p>",
          "shape": "ScalingConstraints"
        },
        "Rules": {
          "documentation": "<p>The scale-in and scale-out rules that comprise the automatic scaling policy.</p>",
          "shape": "ScalingRuleList"
        },
        "Status": {
          "documentation": "<p>The status of an automatic scaling policy. </p>",
          "shape": "AutoScalingPolicyStatus"
        }
      },
      "type": "structure"
    },
    "AutoScalingPolicyState": {
      "enum": [
        "PENDING",
        "ATTACHING",
        "ATTACHED",
        "DETACHING",
        "DETACHED",
        "FAILED"
      ],
      "type": "string"
    },
    "AutoScalingPolicyStateChangeReason": {
      "documentation": "<p>The reason for an <a>AutoScalingPolicyStatus</a> change.</p>",
      "members": {
        "Code": {
          "documentation": "<p>The code indicating the reason for the change in status.<code>USER_REQUEST</code> indicates that the scaling policy status was changed by a user. <code>PROVISION_FAILURE</code> indicates that the status change was because the policy failed to provision. <code>CLEANUP_FAILURE</code> indicates an error.</p>",
          "shape": "AutoScalingPolicyStateChangeReasonCode"
        },
        "Message": {
          "documentation": "<p>A friendly, more verbose message that accompanies an automatic scaling policy state change.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "AutoScalingPolicyStateChangeReasonCode": {
      "enum": [
        "USER_REQUEST",
        "PROVISION_FAILURE",
        "CLEANUP_FAILURE"
      ],
      "type": "string"
    },
    "AutoScalingPolicyStatus": {
      "documentation": "<p>The status of an automatic scaling policy. </p>",
      "members": {
        "State": {
          "documentation": "<p>Indicates the status of the automatic scaling policy.</p>",
          "shape": "AutoScalingPolicyState"
        },
        "StateChangeReason": {
          "documentation": "<p>The reason for a change in status.</p>",
          "shape": "AutoScalingPolicyStateChangeReason"
        }
      },
      "type": "structure"
    },
    "BlockPublicAccessConfiguration": {
      "documentation": "<p>A configuration for Amazon EMR block public access. When <code>BlockPublicSecurityGroupRules</code> is set to <code>true</code>, Amazon EMR prevents cluster creation if one of the cluster's security groups has a rule that allows inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>",
      "members": {
        "BlockPublicSecurityGroupRules": {
          "documentation": "<p>Indicates whether EMR block public access is enabled (<code>true</code>) or disabled (<code>false</code>). By default, the value is <code>false</code> for accounts that have created EMR clusters before July 2019. For accounts created after this, the default is <code>true</code>.</p>",
          "shape": "Boolean"
        },
        "PermittedPublicSecurityGroupRuleRanges": {
          "documentation": "<p>Specifies ports and port ranges that are permitted to have security group rules that allow inbound traffic from all public sources. For example, if Port 23 (Telnet) is specified for <code>PermittedPublicSecurityGroupRuleRanges</code>, Amazon EMR allows cluster creation if a security group associated with the cluster has a rule that allows inbound traffic on Port 23 from IPv4 0.0.0.0/0 or IPv6 port ::/0 as the source.</p> <p>By default, Port 22, which is used for SSH access to the cluster EC2 instances, is in the list of <code>PermittedPublicSecurityGroupRuleRanges</code>.</p>",
          "shape": "PortRanges"
        }
      },
      "required": [
        "BlockPublicSecurityGroupRules"
      ],
      "type": "structure"
    },
    "BlockPublicAccessConfigurationMetadata": {
      "documentation": "<p>Properties that describe the AWS principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.</p>",
      "members": {
        "CreatedByArn": {
          "documentation": "<p>The Amazon Resource Name that created or last modified the configuration.</p>",
          "shape": "ArnType"
        },
        "CreationDateTime": {
          "documentation": "<p>The date and time that the configuration was created.</p>",
          "shape": "Date"
        }
      },
      "required": [
        "CreationDateTime",
        "CreatedByArn"
      ],
      "type": "structure"
    },
    "Boolean": {
      "type": "boolean"
    },
    "BooleanObject": {
      "type": "boolean"
    },
    "BootstrapActionConfig": {
      "documentation": "<p>Configuration of a bootstrap action.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the bootstrap action.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "ScriptBootstrapAction": {
          "documentation": "<p>The script run by the bootstrap action.</p>",
          "shape": "ScriptBootstrapActionConfig"
        }
      },
      "required": [
        "Name",
        "ScriptBootstrapAction"
      ],
      "type": "structure"
    },
    "BootstrapActionConfigList": {
      "member": {
        "shape": "BootstrapActionConfig"
      },
      "type": "list"
    },
    "BootstrapActionDetail": {
      "documentation": "<p>Reports the configuration of a bootstrap action in a cluster (job flow).</p>",
      "members": {
        "BootstrapActionConfig": {
          "documentation": "<p>A description of the bootstrap action.</p>",
          "shape": "BootstrapActionConfig"
        }
      },
      "type": "structure"
    },
    "BootstrapActionDetailList": {
      "member": {
        "shape": "BootstrapActionDetail"
      },
      "type": "list"
    },
    "CancelStepsInfo": {
      "documentation": "<p>Specification of the status of a CancelSteps request. Available only in Amazon EMR version 4.8.0 and later, excluding version 5.0.0.</p>",
      "members": {
        "Reason": {
          "documentation": "<p>The reason for the failure if the CancelSteps request fails.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The status of a CancelSteps Request. The value may be SUBMITTED or FAILED.</p>",
          "shape": "CancelStepsRequestStatus"
        },
        "StepId": {
          "documentation": "<p>The encrypted StepId of a step.</p>",
          "shape": "StepId"
        }
      },
      "type": "structure"
    },
    "CancelStepsInfoList": {
      "member": {
        "shape": "CancelStepsInfo"
      },
      "type": "list"
    },
    "CancelStepsInput": {
      "documentation": "<p>The input argument to the <a>CancelSteps</a> operation.</p>",
      "members": {
        "ClusterId": {
          "documentation": "<p>The <code>ClusterID</code> for which specified steps will be canceled. Use <a>RunJobFlow</a> and <a>ListClusters</a> to get ClusterIDs. </p>",
          "shape": "XmlStringMaxLen256"
        },
        "StepCancellationOption": {
          "documentation": "<p>The option to choose for cancelling <code>RUNNING</code> steps. By default, the value is <code>SEND_INTERRUPT</code>.</p>",
          "shape": "StepCancellationOption"
        },
        "StepIds": {
          "documentation": "<p>The list of <code>StepIDs</code> to cancel. Use <a>ListSteps</a> to get steps and their states for the specified cluster.</p>",
          "shape": "StepIdsList"
        }
      },
      "required": [
        "ClusterId",
        "StepIds"
      ],
      "type": "structure"
    },
    "CancelStepsOutput": {
      "documentation": "<p> The output for the <a>CancelSteps</a> operation. </p>",
      "members": {
        "CancelStepsInfoList": {
          "documentation": "<p>A list of <a>CancelStepsInfo</a>, which shows the status of specified cancel requests for each <code>StepID</code> specified.</p>",
          "shape": "CancelStepsInfoList"
        }
      },
      "type": "structure"
    },
    "CancelStepsRequestStatus": {
      "enum": [
        "SUBMITTED",
        "FAILED"
      ],
      "type": "string"
    },
    "CloudWatchAlarmDefinition": {
      "documentation": "<p>The definition of a CloudWatch metric alarm, which determines when an automatic scaling activity is triggered. When the defined alarm conditions are satisfied, scaling activity begins.</p>",
      "members": {
        "ComparisonOperator": {
          "documentation": "<p>Determines how the metric specified by <code>MetricName</code> is compared to the value specified by <code>Threshold</code>.</p>",
          "shape": "ComparisonOperator"
        },
        "Dimensions": {
          "documentation": "<p>A CloudWatch metric dimension.</p>",
          "shape": "MetricDimensionList"
        },
        "EvaluationPeriods": {
          "documentation": "<p>The number of periods, in five-minute increments, during which the alarm condition must exist before the alarm triggers automatic scaling activity. The default value is <code>1</code>.</p>",
          "shape": "Integer"
        },
        "MetricName": {
          "documentation": "<p>The name of the CloudWatch metric that is watched to determine an alarm condition.</p>",
          "shape": "String"
        },
        "Namespace": {
          "documentation": "<p>The namespace for the CloudWatch metric. The default is <code>AWS/ElasticMapReduce</code>.</p>",
          "shape": "String"
        },
        "Period": {
          "documentation": "<p>The period, in seconds, over which the statistic is applied. EMR CloudWatch metrics are emitted every five minutes (300 seconds), so if an EMR CloudWatch metric is specified, specify <code>300</code>.</p>",
          "shape": "Integer"
        },
        "Statistic": {
          "documentation": "<p>The statistic to apply to the metric associated with the alarm. The default is <code>AVERAGE</code>.</p>",
          "shape": "Statistic"
        },
        "Threshold": {
          "documentation": "<p>The value against which the specified statistic is compared.</p>",
          "shape": "NonNegativeDouble"
        },
        "Unit": {
          "documentation": "<p>The unit of measure associated with the CloudWatch metric being watched. The value specified for <code>Unit</code> must correspond to the units specified in the CloudWatch metric.</p>",
          "shape": "Unit"
        }
      },
      "required": [
        "ComparisonOperator",
        "MetricName",
        "Period",
        "Threshold"
      ],
      "type": "structure"
    },
    "Cluster": {
      "documentation": "<p>The detailed description of the cluster.</p>",
      "members": {
        "Applications": {
          "documentation": "<p>The applications installed on this cluster.</p>",
          "shape": "ApplicationList"
        },
        "AutoScalingRole": {
          "documentation": "<p>An IAM role for automatic scaling policies. The default role is <code>EMR_AutoScaling_DefaultRole</code>. The IAM role provides permissions that the automatic scaling feature requires to launch and terminate EC2 instances in an instance group.</p>",
          "shape": "XmlString"
        },
        "AutoTerminate": {
          "documentation": "<p>Specifies whether the cluster should terminate after completing all steps.</p>",
          "shape": "Boolean"
        },
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "Configurations": {
          "documentation": "<p>Applies only to Amazon EMR releases 4.x and later. The list of Configurations supplied to the EMR cluster.</p>",
          "shape": "ConfigurationList"
        },
        "CustomAmiId": {
          "documentation": "<p>Available only in Amazon EMR version 5.7.0 and later. The ID of a custom Amazon EBS-backed Linux AMI if the cluster uses a custom AMI.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "EbsRootVolumeSize": {
          "documentation": "<p>The size, in GiB, of the EBS root device volume of the Linux AMI that is used for each EC2 instance. Available in Amazon EMR version 4.x and later.</p>",
          "shape": "Integer"
        },
        "Ec2InstanceAttributes": {
          "documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>",
          "shape": "Ec2InstanceAttributes"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the cluster.</p>",
          "shape": "ClusterId"
        },
        "InstanceCollectionType": {
          "documentation": "<note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note> <p>The instance group configuration of the cluster. A value of <code>INSTANCE_GROUP</code> indicates a uniform instance group configuration. A value of <code>INSTANCE_FLEET</code> indicates an instance fleets configuration.</p>",
          "shape": "InstanceCollectionType"
        },
        "KerberosAttributes": {
          "documentation": "<p>Attributes for Kerberos configuration when Kerberos authentication is enabled using a security configuration. For more information see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-kerberos.html\">Use Kerberos Authentication</a> in the <i>EMR Management Guide</i>.</p>",
          "shape": "KerberosAttributes"
        },
        "LogUri": {
          "documentation": "<p>The path to the Amazon S3 location where logs for this cluster are stored.</p>",
          "shape": "String"
        },
        "MasterPublicDnsName": {
          "documentation": "<p>The DNS name of the master node. If the cluster is on a private subnet, this is the private DNS name. On a public subnet, this is the public DNS name.</p>",
          "shape": "String"
        },
        "Name": {
          "documentation": "<p>The name of the cluster.</p>",
          "shape": "String"
        },
        "NormalizedInstanceHours": {
          "documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>",
          "shape": "Integer"
        },
        "OutpostArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>",
          "shape": "OptionalArnType"
        },
        "ReleaseLabel": {
          "documentation": "<p>The Amazon EMR release label, which determines the version of open-source application packages installed on the cluster. Release labels are in the form <code>emr-x.x.x</code>, where x.x.x is an Amazon EMR release version such as <code>emr-5.14.0</code>. For more information about Amazon EMR release versions and included application versions and features, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/\">https://docs.aws.amazon.com/emr/latest/ReleaseGuide/</a>. The release label applies only to Amazon EMR releases version 4.0 and later. Earlier versions use <code>AmiVersion</code>.</p>",
          "shape": "String"
        },
        "RepoUpgradeOnBoot": {
          "documentation": "<p>Applies only when <code>CustomAmiID</code> is used. Specifies the type of updates that are applied from the Amazon Linux AMI package repositories when an instance boots using the AMI.</p>",
          "shape": "RepoUpgradeOnBoot"
        },
        "RequestedAmiVersion": {
          "documentation": "<p>The AMI version requested for this cluster.</p>",
          "shape": "String"
        },
        "RunningAmiVersion": {
          "documentation": "<p>The AMI version running on this cluster.</p>",
          "shape": "String"
        },
        "ScaleDownBehavior": {
          "documentation": "<p>The way that individual Amazon EC2 instances terminate when an automatic scale-in activity occurs or an instance group is resized. <code>TERMINATE_AT_INSTANCE_HOUR</code> indicates that Amazon EMR terminates nodes at the instance-hour boundary, regardless of when the request to terminate the instance was submitted. This option is only available with Amazon EMR 5.1.0 and later and is the default for clusters created using that version. <code>TERMINATE_AT_TASK_COMPLETION</code> indicates that Amazon EMR blacklists and drains tasks from nodes before terminating the Amazon EC2 instances, regardless of the instance-hour boundary. With either behavior, Amazon EMR removes the least active nodes first and blocks instance termination if it could lead to HDFS corruption. <code>TERMINATE_AT_TASK_COMPLETION</code> is available only in Amazon EMR version 4.1.0 and later, and is the default for versions of Amazon EMR earlier than 5.1.0.</p>",
          "shape": "ScaleDownBehavior"
        },
        "SecurityConfiguration": {
          "documentation": "<p>The name of the security configuration applied to the cluster.</p>",
          "shape": "XmlString"
        },
        "ServiceRole": {
          "documentation": "<p>The IAM role that will be assumed by the Amazon EMR service to access AWS resources on your behalf.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The current status details about the cluster.</p>",
          "shape": "ClusterStatus"
        },
        "StepConcurrencyLevel": {
          "documentation": "<p>Specifies the number of steps that can be executed concurrently.</p>",
          "shape": "Integer"
        },
        "Tags": {
          "documentation": "<p>A list of tags associated with a cluster.</p>",
          "shape": "TagList"
        },
        "TerminationProtected": {
          "documentation": "<p>Indicates whether Amazon EMR will lock the cluster to prevent the EC2 instances from being terminated by an API call or user intervention, or in the event of a cluster error.</p>",
          "shape": "Boolean"
        },
        "VisibleToAllUsers": {
          "documentation": "<p>Indicates whether the cluster is visible to all IAM users of the AWS account associated with the cluster. The default value, <code>true</code>, indicates that all IAM users in the AWS account can perform cluster actions if they have the proper IAM policy permissions. If this value is <code>false</code>, only the IAM user that created the cluster can perform actions. This value can be changed on a running cluster by using the <a>SetVisibleToAllUsers</a> action. You can override the default value of <code>true</code> when you create a cluster by using the <code>VisibleToAllUsers</code> parameter of the <code>RunJobFlow</code> action.</p>",
          "shape": "Boolean"
        }
      },
      "type": "structure"
    },
    "ClusterId": {
      "type": "string"
    },
    "ClusterState": {
      "enum": [
        "STARTING",
        "BOOTSTRAPPING",
        "RUNNING",
        "WAITING",
        "TERMINATING",
        "TERMINATED",
        "TERMINATED_WITH_ERRORS"
      ],
      "type": "string"
    },
    "ClusterStateChangeReason": {
      "documentation": "<p>The reason that the cluster changed to its current state.</p>",
      "members": {
        "Code": {
          "documentation": "<p>The programmatic code for the state change reason.</p>",
          "shape": "ClusterStateChangeReasonCode"
        },
        "Message": {
          "documentation": "<p>The descriptive message for the state change reason.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ClusterStateChangeReasonCode": {
      "enum": [
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "INSTANCE_FLEET_TIMEOUT",
        "BOOTSTRAP_FAILURE",
        "USER_REQUEST",
        "STEP_FAILURE",
        "ALL_STEPS_COMPLETED"
      ],
      "type": "string"
    },
    "ClusterStateList": {
      "member": {
        "shape": "ClusterState"
      },
      "type": "list"
    },
    "ClusterStatus": {
      "documentation": "<p>The detailed status of the cluster.</p>",
      "members": {
        "State": {
          "documentation": "<p>The current state of the cluster.</p>",
          "shape": "ClusterState"
        },
        "StateChangeReason": {
          "documentation": "<p>The reason for the cluster status change.</p>",
          "shape": "ClusterStateChangeReason"
        },
        "Timeline": {
          "documentation": "<p>A timeline that represents the status of a cluster over the lifetime of the cluster.</p>",
          "shape": "ClusterTimeline"
        }
      },
      "type": "structure"
    },
    "ClusterSummary": {
      "documentation": "<p>The summary description of the cluster.</p>",
      "members": {
        "ClusterArn": {
          "documentation": "<p>The Amazon Resource Name of the cluster.</p>",
          "shape": "ArnType"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the cluster.</p>",
          "shape": "ClusterId"
        },
        "Name": {
          "documentation": "<p>The name of the cluster.</p>",
          "shape": "String"
        },
        "NormalizedInstanceHours": {
          "documentation": "<p>An approximation of the cost of the cluster, represented in m1.small/hours. This value is incremented one time for every hour an m1.small instance runs. Larger instances are weighted more, so an EC2 instance that is roughly four times more expensive would result in the normalized instance hours being incremented by four. This result is only an approximation and does not reflect the actual billing rate.</p>",
          "shape": "Integer"
        },
        "OutpostArn": {
          "documentation": "<p> The Amazon Resource Name (ARN) of the Outpost where the cluster is launched. </p>",
          "shape": "OptionalArnType"
        },
        "Status": {
          "documentation": "<p>The details about the current status of the cluster.</p>",
          "shape": "ClusterStatus"
        }
      },
      "type": "structure"
    },
    "ClusterSummaryList": {
      "member": {
        "shape": "ClusterSummary"
      },
      "type": "list"
    },
    "ClusterTimeline": {
      "documentation": "<p>Represents the timeline of the cluster's lifecycle.</p>",
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The creation date and time of the cluster.</p>",
          "shape": "Date"
        },
        "EndDateTime": {
          "documentation": "<p>The date and time when the cluster was terminated.</p>",
          "shape": "Date"
        },
        "ReadyDateTime": {
          "documentation": "<p>The date and time when the cluster was ready to execute steps.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "Command": {
      "documentation": "<p>An entity describing an executable that runs on a cluster.</p>",
      "members": {
        "Args": {
          "documentation": "<p>Arguments for Amazon EMR to pass to the command for execution.</p>",
          "shape": "StringList"
        },
        "Name": {
          "documentation": "<p>The name of the command.</p>",
          "shape": "String"
        },
        "ScriptPath": {
          "documentation": "<p>The Amazon S3 location of the command script.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "CommandList": {
      "member": {
        "shape": "Command"
      },
      "type": "list"
    },
    "ComparisonOperator": {
      "enum": [
        "GREATER_THAN_OR_EQUAL",
        "GREATER_THAN",
        "LESS_THAN",
        "LESS_THAN_OR_EQUAL"
      ],
      "type": "string"
    },
    "Configuration": {
      "documentation": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>An optional configuration specification to be used when provisioning cluster instances, which can include configurations for applications and software bundled with Amazon EMR. A configuration consists of a classification, properties, and optional nested configurations. A classification refers to an application-specific configuration file. Properties are the settings you want to change in that file. For more information, see <a href=\"https://docs.aws.amazon.com/emr/latest/ReleaseGuide/emr-configure-apps.html\">Configuring Applications</a>.</p>",
      "members": {
        "Classification": {
          "documentation": "<p>The classification within a configuration.</p>",
          "shape": "String"
        },
        "Configurations": {
          "documentation": "<p>A list of additional configurations to apply within a configuration object.</p>",
          "shape": "ConfigurationList"
        },
        "Properties": {
          "documentation": "<p>A set of properties specified within a configuration classification.</p>",
          "shape": "StringMap"
        }
      },
      "type": "structure"
    },
    "ConfigurationList": {
      "member": {
        "shape": "Configuration"
      },
      "type": "list"
    },
    "CreateSecurityConfigurationInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        },
        "SecurityConfiguration": {
          "documentation": "<p>The security configuration details in JSON format. For JSON parameters and examples, see <a href=\"https://docs.aws.amazon.com/emr/latest/ManagementGuide/emr-security-configurations.html\">Use Security Configurations to Set Up Cluster Security</a> in the <i>Amazon EMR Management Guide</i>.</p>",
          "shape": "String"
        }
      },
      "required": [
        "Name",
        "SecurityConfiguration"
      ],
      "type": "structure"
    },
    "CreateSecurityConfigurationOutput": {
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The date and time the security configuration was created.</p>",
          "shape": "Date"
        },
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Name",
        "CreationDateTime"
      ],
      "type": "structure"
    },
    "Date": {
      "type": "timestamp"
    },
    "DeleteSecurityConfigurationInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DeleteSecurityConfigurationOutput": {
      "members": {},
      "type": "structure"
    },
    "DescribeClusterInput": {
      "documentation": "<p>This input determines which cluster to describe.</p>",
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier of the cluster to describe.</p>",
          "shape": "ClusterId"
        }
      },
      "required": [
        "ClusterId"
      ],
      "type": "structure"
    },
    "DescribeClusterOutput": {
      "documentation": "<p>This output contains the description of the cluster.</p>",
      "members": {
        "Cluster": {
          "documentation": "<p>This output contains the details for the requested cluster.</p>",
          "shape": "Cluster"
        }
      },
      "type": "structure"
    },
    "DescribeJobFlowsInput": {
      "documentation": "<p> The input for the <a>DescribeJobFlows</a> operation. </p>",
      "members": {
        "CreatedAfter": {
          "documentation": "<p>Return only job flows created after this date and time.</p>",
          "shape": "Date"
        },
        "CreatedBefore": {
          "documentation": "<p>Return only job flows created before this date and time.</p>",
          "shape": "Date"
        },
        "JobFlowIds": {
          "documentation": "<p>Return only job flows whose job flow ID is contained in this list.</p>",
          "shape": "XmlStringList"
        },
        "JobFlowStates": {
          "documentation": "<p>Return only job flows whose state is contained in this list.</p>",
          "shape": "JobFlowExecutionStateList"
        }
      },
      "type": "structure"
    },
    "DescribeJobFlowsOutput": {
      "documentation": "<p> The output for the <a>DescribeJobFlows</a> operation. </p>",
      "members": {
        "JobFlows": {
          "documentation": "<p>A list of job flows matching the parameters supplied.</p>",
          "shape": "JobFlowDetailList"
        }
      },
      "type": "structure"
    },
    "DescribeSecurityConfigurationInput": {
      "members": {
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Name"
      ],
      "type": "structure"
    },
    "DescribeSecurityConfigurationOutput": {
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The date and time the security configuration was created</p>",
          "shape": "Date"
        },
        "Name": {
          "documentation": "<p>The name of the security configuration.</p>",
          "shape": "XmlString"
        },
        "SecurityConfiguration": {
          "documentation": "<p>The security configuration details in JSON format.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "DescribeStepInput": {
      "documentation": "<p>This input determines which step to describe.</p>",
      "members": {
        "ClusterId": {
          "documentation": "<p>The identifier of the cluster with steps to describe.</p>",
          "shape": "ClusterId"
        },
        "StepId": {
          "documentation": "<p>The identifier of the step to describe.</p>",
          "shape": "StepId"
        }
      },
      "required": [
        "ClusterId",
        "StepId"
      ],
      "type": "structure"
    },
    "DescribeStepOutput": {
      "documentation": "<p>This output contains the description of the cluster step.</p>",
      "members": {
        "Step": {
          "documentation": "<p>The step details for the requested step identifier.</p>",
          "shape": "Step"
        }
      },
      "type": "structure"
    },
    "EC2InstanceIdsList": {
      "member": {
        "shape": "InstanceId"
      },
      "type": "list"
    },
    "EC2InstanceIdsToTerminateList": {
      "member": {
        "shape": "InstanceId"
      },
      "type": "list"
    },
    "EbsBlockDevice": {
      "documentation": "<p>Configuration of requested EBS block device associated with the instance group.</p>",
      "members": {
        "Device": {
          "documentation": "<p>The device name that is exposed to the instance, such as /dev/sdh.</p>",
          "shape": "String"
        },
        "VolumeSpecification": {
          "documentation": "<p>EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.</p>",
          "shape": "VolumeSpecification"
        }
      },
      "type": "structure"
    },
    "EbsBlockDeviceConfig": {
      "documentation": "<p>Configuration of requested EBS block device associated with the instance group with count of volumes that will be associated to every instance.</p>",
      "members": {
        "VolumeSpecification": {
          "documentation": "<p>EBS volume specifications such as volume type, IOPS, and size (GiB) that will be requested for the EBS volume attached to an EC2 instance in the cluster.</p>",
          "shape": "VolumeSpecification"
        },
        "VolumesPerInstance": {
          "documentation": "<p>Number of EBS volumes with a specific volume configuration that will be associated with every instance in the instance group</p>",
          "shape": "Integer"
        }
      },
      "required": [
        "VolumeSpecification"
      ],
      "type": "structure"
    },
    "EbsBlockDeviceConfigList": {
      "member": {
        "shape": "EbsBlockDeviceConfig"
      },
      "type": "list"
    },
    "EbsBlockDeviceList": {
      "member": {
        "shape": "EbsBlockDevice"
      },
      "type": "list"
    },
    "EbsConfiguration": {
      "documentation": "<p>The Amazon EBS configuration of a cluster instance.</p>",
      "members": {
        "EbsBlockDeviceConfigs": {
          "documentation": "<p>An array of Amazon EBS volume specifications attached to a cluster instance.</p>",
          "shape": "EbsBlockDeviceConfigList"
        },
        "EbsOptimized": {
          "documentation": "<p>Indicates whether an Amazon EBS volume is EBS-optimized.</p>",
          "shape": "BooleanObject"
        }
      },
      "type": "structure"
    },
    "EbsVolume": {
      "documentation": "<p>EBS block device that's attached to an EC2 instance.</p>",
      "members": {
        "Device": {
          "documentation": "<p>The device name that is exposed to the instance, such as /dev/sdh.</p>",
          "shape": "String"
        },
        "VolumeId": {
          "documentation": "<p>The volume identifier of the EBS volume.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "EbsVolumeList": {
      "member": {
        "shape": "EbsVolume"
      },
      "type": "list"
    },
    "Ec2InstanceAttributes": {
      "documentation": "<p>Provides information about the EC2 instances in a cluster grouped by category. For example, key name, subnet ID, IAM instance profile, and so on.</p>",
      "members": {
        "AdditionalMasterSecurityGroups": {
          "documentation": "<p>A list of additional Amazon EC2 security group IDs for the master node.</p>",
          "shape": "StringList"
        },
        "AdditionalSlaveSecurityGroups": {
          "documentation": "<p>A list of additional Amazon EC2 security group IDs for the core and task nodes.</p>",
          "shape": "StringList"
        },
        "Ec2AvailabilityZone": {
          "documentation": "<p>The Availability Zone in which the cluster will run. </p>",
          "shape": "String"
        },
        "Ec2KeyName": {
          "documentation": "<p>The name of the Amazon EC2 key pair to use when connecting with SSH into the master node as a user named \"hadoop\".</p>",
          "shape": "String"
        },
        "Ec2SubnetId": {
          "documentation": "<p>Set this parameter to the identifier of the Amazon VPC subnet where you want the cluster to launch. If you do not specify this value, and your account supports EC2-Classic, the cluster launches in EC2-Classic.</p>",
          "shape": "String"
        },
        "EmrManagedMasterSecurityGroup": {
          "documentation": "<p>The identifier of the Amazon EC2 security group for the master node.</p>",
          "shape": "String"
        },
        "EmrManagedSlaveSecurityGroup": {
          "documentation": "<p>The identifier of the Amazon EC2 security group for the core and task nodes.</p>",
          "shape": "String"
        },
        "IamInstanceProfile": {
          "documentation": "<p>The IAM role that was specified when the cluster was launched. The EC2 instances of the cluster assume this role.</p>",
          "shape": "String"
        },
        "RequestedEc2AvailabilityZones": {
          "documentation": "<p>Applies to clusters configured with the instance fleets option. Specifies one or more Availability Zones in which to launch EC2 cluster instances when the EC2-Classic network configuration is supported. Amazon EMR chooses the Availability Zone with the best fit from among the list of <code>RequestedEc2AvailabilityZones</code>, and then launches all cluster instances within that Availability Zone. If you do not specify this value, Amazon EMR chooses the Availability Zone for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.</p>",
          "shape": "XmlStringMaxLen256List"
        },
        "RequestedEc2SubnetIds": {
          "documentation": "<p>Applies to clusters configured with the instance fleets option. Specifies the unique identifier of one or more Amazon EC2 subnets in which to launch EC2 cluster instances. Subnets must exist within the same VPC. Amazon EMR chooses the EC2 subnet with the best fit from among the list of <code>RequestedEc2SubnetIds</code>, and then launches all cluster instances within that Subnet. If this value is not specified, and the account and Region support EC2-Classic networks, the cluster launches instances in the EC2-Classic network and uses <code>RequestedEc2AvailabilityZones</code> instead of this setting. If EC2-Classic is not supported, and no Subnet is specified, Amazon EMR chooses the subnet for you. <code>RequestedEc2SubnetIDs</code> and <code>RequestedEc2AvailabilityZones</code> cannot be specified together.</p>",
          "shape": "XmlStringMaxLen256List"
        },
        "ServiceAccessSecurityGroup": {
          "documentation": "<p>The identifier of the Amazon EC2 security group for the Amazon EMR service to access clusters in VPC private subnets.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "ErrorCode": {
      "max": 256,
      "min": 1,
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "FailureDetails": {
      "documentation": "<p>The details of the step failure. The service attempts to detect the root cause for many common failures.</p>",
      "members": {
        "LogFile": {
          "documentation": "<p>The path to the log file where the step failure root cause was originally recorded.</p>",
          "shape": "String"
        },
        "Message": {
          "documentation": "<p>The descriptive message including the error the EMR service has identified as the cause of step failure. This is text from an error log that describes the root cause of the failure.</p>",
          "shape": "String"
        },
        "Reason": {
          "documentation": "<p>The reason for the step failure. In the case where the service cannot successfully determine the root cause of the failure, it returns \"Unknown Error\" as a reason.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "GetBlockPublicAccessConfigurationInput": {
      "members": {},
      "type": "structure"
    },
    "GetBlockPublicAccessConfigurationOutput": {
      "members": {
        "BlockPublicAccessConfiguration": {
          "documentation": "<p>A configuration for Amazon EMR block public access. The configuration applies to all clusters created in your account for the current Region. The configuration specifies whether block public access is enabled. If block public access is enabled, security groups associated with the cluster cannot have rules that allow inbound traffic from 0.0.0.0/0 or ::/0 on a port, unless the port is specified as an exception using <code>PermittedPublicSecurityGroupRuleRanges</code> in the <code>BlockPublicAccessConfiguration</code>. By default, Port 22 (SSH) is an exception, and public access is allowed on this port. You can change this by updating the block public access configuration to remove the exception.</p>",
          "shape": "BlockPublicAccessConfiguration"
        },
        "BlockPublicAccessConfigurationMetadata": {
          "documentation": "<p>Properties that describe the AWS principal that created the <code>BlockPublicAccessConfiguration</code> using the <code>PutBlockPublicAccessConfiguration</code> action as well as the date and time that the configuration was created. Each time a configuration for block public access is updated, Amazon EMR updates this metadata.</p>",
          "shape": "BlockPublicAccessConfigurationMetadata"
        }
      },
      "required": [
        "BlockPublicAccessConfiguration",
        "BlockPublicAccessConfigurationMetadata"
      ],
      "type": "structure"
    },
    "HadoopJarStepConfig": {
      "documentation": "<p>A job flow step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.</p>",
      "members": {
        "Args": {
          "documentation": "<p>A list of command line arguments passed to the JAR file's main function when executed.</p>",
          "shape": "XmlStringList"
        },
        "Jar": {
          "documentation": "<p>A path to a JAR file run during the step.</p>",
          "shape": "XmlString"
        },
        "MainClass": {
          "documentation": "<p>The name of the main class in the specified Java file. If not specified, the JAR file should specify a Main-Class in its manifest file.</p>",
          "shape": "XmlString"
        },
        "Properties": {
          "documentation": "<p>A list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.</p>",
          "shape": "KeyValueList"
        }
      },
      "required": [
        "Jar"
      ],
      "type": "structure"
    },
    "HadoopStepConfig": {
      "documentation": "<p>A cluster step consisting of a JAR file whose main function will be executed. The main function submits a job for Hadoop to execute and waits for the job to finish or fail.</p>",
      "members": {
        "Args": {
          "documentation": "<p>The list of command line arguments to pass to the JAR file's main function for execution.</p>",
          "shape": "StringList"
        },
        "Jar": {
          "documentation": "<p>The path to the JAR file that runs during the step.</p>",
          "shape": "String"
        },
        "MainClass": {
          "documentation": "<p>The name of the main class in the specified Java file. If not specified, the JAR file should specify a main class in its manifest file.</p>",
          "shape": "String"
        },
        "Properties": {
          "documentation": "<p>The list of Java properties that are set when the step runs. You can use these properties to pass key value pairs to your main function.</p>",
          "shape": "StringMap"
        }
      },
      "type": "structure"
    },
    "Instance": {
      "documentation": "<p>Represents an EC2 instance provisioned as part of cluster.</p>",
      "members": {
        "EbsVolumes": {
          "documentation": "<p>The list of EBS volumes that are attached to this instance.</p>",
          "shape": "EbsVolumeList"
        },
        "Ec2InstanceId": {
          "documentation": "<p>The unique identifier of the instance in Amazon EC2.</p>",
          "shape": "InstanceId"
        },
        "Id": {
          "documentation": "<p>The unique identifier for the instance in Amazon EMR.</p>",
          "shape": "InstanceId"
        },
        "InstanceFleetId": {
          "documentation": "<p>The unique identifier of the instance fleet to which an EC2 instance belongs.</p>",
          "shape": "InstanceFleetId"
        },
        "InstanceGroupId": {
          "documentation": "<p>The identifier of the instance group to which this instance belongs.</p>",
          "shape": "String"
        },
        "InstanceType": {
          "documentation": "<p>The EC2 instance type, for example <code>m3.xlarge</code>.</p>",
          "shape": "InstanceType"
        },
        "Market": {
          "documentation": "<p>The instance purchasing option. Valid values are <code>ON_DEMAND</code> or <code>SPOT</code>. </p>",
          "shape": "MarketType"
        },
        "PrivateDnsName": {
          "documentation": "<p>The private DNS name of the instance.</p>",
          "shape": "String"
        },
        "PrivateIpAddress": {
          "documentation": "<p>The private IP address of the instance.</p>",
          "shape": "String"
        },
        "PublicDnsName": {
          "documentation": "<p>The public DNS name of the instance.</p>",
          "shape": "String"
        },
        "PublicIpAddress": {
          "documentation": "<p>The public IP address of the instance.</p>",
          "shape": "String"
        },
        "Status": {
          "documentation": "<p>The current status of the instance.</p>",
          "shape": "InstanceStatus"
        }
      },
      "type": "structure"
    },
    "InstanceCollectionType": {
      "enum": [
        "INSTANCE_FLEET",
        "INSTANCE_GROUP"
      ],
      "type": "string"
    },
    "InstanceFleet": {
      "documentation": "<p>Describes an instance fleet, which is a group of EC2 instances that host a particular node type (master, core, or task) in an Amazon EMR cluster. Instance fleets can consist of a mix of instance types and On-Demand and Spot instances, which are provisioned to meet a defined target capacity. </p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "Id": {
          "documentation": "<p>The unique identifier of the instance fleet.</p>",
          "shape": "InstanceFleetId"
        },
        "InstanceFleetType": {
          "documentation": "<p>The node type that the instance fleet hosts. Valid values are MASTER, CORE, or TASK. </p>",
          "shape": "InstanceFleetType"
        },
        "InstanceTypeSpecifications": {
          "documentation": "<p>The specification for the instance types that comprise an instance fleet. Up to five unique instance specifications may be defined for each instance fleet. </p>",
          "shape": "InstanceTypeSpecificationList"
        },
        "LaunchSpecifications": {
          "documentation": "<p>Describes the launch specification for an instance fleet. </p>",
          "shape": "InstanceFleetProvisioningSpecifications"
        },
        "Name": {
          "documentation": "<p>A friendly name for the instance fleet.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "ProvisionedOnDemandCapacity": {
          "documentation": "<p>The number of On-Demand units that have been provisioned for the instance fleet to fulfill <code>TargetOnDemandCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetOnDemandCapacity</code>.</p>",
          "shape": "WholeNumber"
        },
        "ProvisionedSpotCapacity": {
          "documentation": "<p>The number of Spot units that have been provisioned for this instance fleet to fulfill <code>TargetSpotCapacity</code>. This provisioned capacity might be less than or greater than <code>TargetSpotCapacity</code>.</p>",
          "shape": "WholeNumber"
        },
        "Status": {
          "documentation": "<p>The current status of the instance fleet. </p>",
          "shape": "InstanceFleetStatus"
        },
        "TargetOnDemandCapacity": {
          "documentation": "<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedOnDemandCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>",
          "shape": "WholeNumber"
        },
        "TargetSpotCapacity": {
          "documentation": "<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units. You can use <a>InstanceFleet$ProvisionedSpotCapacity</a> to determine the Spot capacity units that have been provisioned for the instance fleet.</p> <note> <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>",
          "shape": "WholeNumber"
        }
      },
      "type": "structure"
    },
    "InstanceFleetConfig": {
      "documentation": "<p>The configuration that defines an instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "InstanceFleetType": {
          "documentation": "<p>The node type that the instance fleet hosts. Valid values are MASTER,CORE,and TASK.</p>",
          "shape": "InstanceFleetType"
        },
        "InstanceTypeConfigs": {
          "documentation": "<p>The instance type configurations that define the EC2 instances in the instance fleet.</p>",
          "shape": "InstanceTypeConfigList"
        },
        "LaunchSpecifications": {
          "documentation": "<p>The launch specification for the instance fleet.</p>",
          "shape": "InstanceFleetProvisioningSpecifications"
        },
        "Name": {
          "documentation": "<p>The friendly name of the instance fleet.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "TargetOnDemandCapacity": {
          "documentation": "<p>The target capacity of On-Demand units for the instance fleet, which determines how many On-Demand instances to provision. When the instance fleet launches, Amazon EMR tries to provision On-Demand instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When an On-Demand instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or set to 0, only Spot instances are provisioned for the instance fleet using <code>TargetSpotCapacity</code>. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>",
          "shape": "WholeNumber"
        },
        "TargetSpotCapacity": {
          "documentation": "<p>The target capacity of Spot units for the instance fleet, which determines how many Spot instances to provision. When the instance fleet launches, Amazon EMR tries to provision Spot instances as specified by <a>InstanceTypeConfig</a>. Each instance configuration has a specified <code>WeightedCapacity</code>. When a Spot instance is provisioned, the <code>WeightedCapacity</code> units count toward the target capacity. Amazon EMR provisions instances until the target capacity is totally fulfilled, even if this results in an overage. For example, if there are 2 units remaining to fulfill capacity, and Amazon EMR can only provision an instance with a <code>WeightedCapacity</code> of 5 units, the instance is provisioned, and the target capacity is exceeded by 3 units.</p> <note> <p>If not specified or set to 0, only On-Demand instances are provisioned for the instance fleet. At least one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> should be greater than 0. For a master instance fleet, only one of <code>TargetSpotCapacity</code> and <code>TargetOnDemandCapacity</code> can be specified, and its value must be 1.</p> </note>",
          "shape": "WholeNumber"
        }
      },
      "required": [
        "InstanceFleetType"
      ],
      "type": "structure"
    },
    "InstanceFleetConfigList": {
      "member": {
        "shape": "InstanceFleetConfig"
      },
      "type": "list"
    },
    "InstanceFleetId": {
      "type": "string"
    },
    "InstanceFleetList": {
      "member": {
        "shape": "InstanceFleet"
      },
      "type": "list"
    },
    "InstanceFleetModifyConfig": {
      "documentation": "<p>Configuration parameters for an instance fleet modification request.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "InstanceFleetId": {
          "documentation": "<p>A unique identifier for the instance fleet.</p>",
          "shape": "InstanceFleetId"
        },
        "TargetOnDemandCapacity": {
          "documentation": "<p>The target capacity of On-Demand units for the instance fleet. For more information see <a>InstanceFleetConfig$TargetOnDemandCapacity</a>.</p>",
          "shape": "WholeNumber"
        },
        "TargetSpotCapacity": {
          "documentation": "<p>The target capacity of Spot units for the instance fleet. For more information, see <a>InstanceFleetConfig$TargetSpotCapacity</a>.</p>",
          "shape": "WholeNumber"
        }
      },
      "required": [
        "InstanceFleetId"
      ],
      "type": "structure"
    },
    "InstanceFleetProvisioningSpecifications": {
      "documentation": "<p>The launch specification for Spot instances in the fleet, which determines the defined duration and provisioning timeout behavior.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "SpotSpecification": {
          "documentation": "<p>The launch specification for Spot instances in the fleet, which determines the defined duration and provisioning timeout behavior.</p>",
          "shape": "SpotProvisioningSpecification"
        }
      },
      "required": [
        "SpotSpecification"
      ],
      "type": "structure"
    },
    "InstanceFleetState": {
      "enum": [
        "PROVISIONING",
        "BOOTSTRAPPING",
        "RUNNING",
        "RESIZING",
        "SUSPENDED",
        "TERMINATING",
        "TERMINATED"
      ],
      "type": "string"
    },
    "InstanceFleetStateChangeReason": {
      "documentation": "<p>Provides status change reason details for the instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "Code": {
          "documentation": "<p>A code corresponding to the reason the state change occurred.</p>",
          "shape": "InstanceFleetStateChangeReasonCode"
        },
        "Message": {
          "documentation": "<p>An explanatory message.</p>",
          "shape": "String"
        }
      },
      "type": "structure"
    },
    "InstanceFleetStateChangeReasonCode": {
      "enum": [
        "INTERNAL_ERROR",
        "VALIDATION_ERROR",
        "INSTANCE_FAILURE",
        "CLUSTER_TERMINATED"
      ],
      "type": "string"
    },
    "InstanceFleetStatus": {
      "documentation": "<p>The status of the instance fleet.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "State": {
          "documentation": "<p>A code representing the instance fleet status.</p> <ul> <li> <p> <code>PROVISIONING</code>\u2014The instance fleet is provisioning EC2 resources and is not yet ready to run jobs.</p> </li> <li> <p> <code>BOOTSTRAPPING</code>\u2014EC2 instances and other resources have been provisioned and the bootstrap actions specified for the instances are underway.</p> </li> <li> <p> <code>RUNNING</code>\u2014EC2 instances and other resources are running. They are either executing jobs or waiting to execute jobs.</p> </li> <li> <p> <code>RESIZING</code>\u2014A resize operation is underway. EC2 instances are either being added or removed.</p> </li> <li> <p> <code>SUSPENDED</code>\u2014A resize operation could not complete. Existing EC2 instances are running, but instances can't be added or removed.</p> </li> <li> <p> <code>TERMINATING</code>\u2014The instance fleet is terminating EC2 instances.</p> </li> <li> <p> <code>TERMINATED</code>\u2014The instance fleet is no longer active, and all EC2 instances have been terminated.</p> </li> </ul>",
          "shape": "InstanceFleetState"
        },
        "StateChangeReason": {
          "documentation": "<p>Provides status change reason details for the instance fleet.</p>",
          "shape": "InstanceFleetStateChangeReason"
        },
        "Timeline": {
          "documentation": "<p>Provides historical timestamps for the instance fleet, including the time of creation, the time it became ready to run jobs, and the time of termination.</p>",
          "shape": "InstanceFleetTimeline"
        }
      },
      "type": "structure"
    },
    "InstanceFleetTimeline": {
      "documentation": "<p>Provides historical timestamps for the instance fleet, including the time of creation, the time it became ready to run jobs, and the time of termination.</p> <note> <p>The instance fleet configuration is available only in Amazon EMR versions 4.8.0 and later, excluding 5.0.x versions.</p> </note>",
      "members": {
        "CreationDateTime": {
          "documentation": "<p>The time and date the instance fleet was created.</p>",
          "shape": "Date"
        },
        "EndDateTime": {
          "documentation": "<p>The time and date the instance fleet terminated.</p>",
          "shape": "Date"
        },
        "ReadyDateTime": {
          "documentation": "<p>The time and date the instance fleet was ready to run jobs.</p>",
          "shape": "Date"
        }
      },
      "type": "structure"
    },
    "InstanceFleetType": {
      "enum": [
        "MASTER",
        "CORE",
        "TASK"
      ],
      "type": "string"
    },
    "InstanceGroup": {
      "documentation": "<p>This entity represents an instance group, which is a group of instances that have common purpose. For example, CORE instance group is used for HDFS.</p>",
      "members": {
        "AutoScalingPolicy": {
          "documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See PutAutoScalingPolicy.</p>",
          "shape": "AutoScalingPolicyDescription"
        },
        "BidPrice": {
          "documentation": "<p>The bid price for each EC2 Spot instance type as defined by <code>InstanceType</code>. Expressed in USD. If neither <code>BidPrice</code> nor <code>BidPriceAsPercentageOfOnDemandPrice</code> is provided, <code>BidPriceAsPercentageOfOnDemandPrice</code> defaults to 100%.</p>",
          "shape": "String"
        },
        "Configurations": {
          "documentation": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied for an EMR cluster instance group. You can specify a separate configuration for each instance group (master, core, and task).</p>",
          "shape": "ConfigurationList"
        },
        "ConfigurationsVersion": {
          "documentation": "<p>The version number of the requested configuration specification for this instance group.</p>",
          "shape": "Long"
        },
        "EbsBlockDevices": {
          "documentation": "<p>The EBS block devices that are mapped to this instance group.</p>",
          "shape": "EbsBlockDeviceList"
        },
        "EbsOptimized": {
          "documentation": "<p>If the instance group is EBS-optimized. An Amazon EBS-optimized instance uses an optimized configuration stack and provides additional, dedicated capacity for Amazon EBS I/O.</p>",
          "shape": "BooleanObject"
        },
        "Id": {
          "documentation": "<p>The identifier of the instance group.</p>",
          "shape": "InstanceGroupId"
        },
        "InstanceGroupType": {
          "documentation": "<p>The type of the instance group. Valid values are MASTER, CORE or TASK.</p>",
          "shape": "InstanceGroupType"
        },
        "InstanceType": {
          "documentation": "<p>The EC2 instance type for all instances in the instance group.</p>",
          "shape": "InstanceType"
        },
        "LastSuccessfullyAppliedConfigurations": {
          "documentation": "<p>A list of configurations that were successfully applied for an instance group last time.</p>",
          "shape": "ConfigurationList"
        },
        "LastSuccessfullyAppliedConfigurationsVersion": {
          "documentation": "<p>The version number of a configuration specification that was successfully applied for an instance group last time. </p>",
          "shape": "Long"
        },
        "Market": {
          "documentation": "<p>The marketplace to provision instances for this group. Valid values are ON_DEMAND or SPOT.</p>",
          "shape": "MarketType"
        },
        "Name": {
          "documentation": "<p>The name of the instance group.</p>",
          "shape": "String"
        },
        "RequestedInstanceCount": {
          "documentation": "<p>The target number of instances for the instance group.</p>",
          "shape": "Integer"
        },
        "RunningInstanceCount": {
          "documentation": "<p>The number of instances currently running in this instance group.</p>",
          "shape": "Integer"
        },
        "ShrinkPolicy": {
          "documentation": "<p>Policy for customizing shrink operations.</p>",
          "shape": "ShrinkPolicy"
        },
        "Status": {
          "documentation": "<p>The current status of the instance group.</p>",
          "shape": "InstanceGroupStatus"
        }
      },
      "type": "structure"
    },
    "InstanceGroupConfig": {
      "documentation": "<p>Configuration defining a new instance group.</p>",
      "members": {
        "AutoScalingPolicy": {
          "documentation": "<p>An automatic scaling policy for a core instance group or task instance group in an Amazon EMR cluster. The automatic scaling policy defines how an instance group dynamically adds and terminates EC2 instances in response to the value of a CloudWatch metric. See <a>PutAutoScalingPolicy</a>.</p>",
          "shape": "AutoScalingPolicy"
        },
        "BidPrice": {
          "documentation": "<p>The bid price for each EC2 Spot instance type as defined by <code>InstanceType</code>. Expressed in USD. If neither <code>BidPrice</code> nor <code>BidPriceAsPercentageOfOnDemandPrice</code> is provided, <code>BidPriceAsPercentageOfOnDemandPrice</code> defaults to 100%.</p>",
          "shape": "XmlStringMaxLen256"
        },
        "Configurations": {
          "documentation": "<note> <p>Amazon EMR releases 4.x or later.</p> </note> <p>The list of configurations supplied for an EMR cluster instance group. You can specify a separate configuration for each instance group (master, core, and task).</p>",
          "shape": "ConfigurationList"
        },
        "EbsConfiguration": {
          "documentation": "<p>EBS configurations that will be attached to each EC2 instance in the instance group.</p>",
          "shape": "EbsConfiguration"
        },
        "InstanceCount": {
          "documentation": "<p>Target number of instances for the instance group.</p>",
          "shape": "Integer"
        },
        "InstanceRole": {
          "documentation": "<p>The role of the instance group in the cluster.</p>",
          "shape": "InstanceRoleType"
        },
        "InstanceType": {
          "documentation": "<p>The EC2 instance type for all instances in the instance group.</p>",
          "shape": "InstanceType"
        },
        "Market": {
          "documentation": "<p>Market type of the EC2 instances used to create a cluster node.</p>",
          "shape": "MarketType"
        },
        "Name": {
          "documentation": "<p>Friendly name given to the instance group.</p>",
          "shape": "XmlStringMaxLen256"
        }
      },
      "required": [
        "InstanceRole",
        "InstanceType",
        "InstanceCount"
      ],
      "type": "structure"
    },
    "InstanceGroupConfigList": {
      "member": {
        "shape": "InstanceGroupConfig"
      },
      "type": "list"
    },
    "InstanceGroupDetail": {
      "documentation": "<p>Detailed information about an instance group.</p>",
      "members": {
        "BidPrice": {
[...]
