{
  "documentation": "<p>Catalog API actions allow you to create, describe, list, and delete changes to your published entities. An entity is a product or an offer on AWS Marketplace.</p> <p>You can automate your entity update process by integrating the AWS Marketplace Catalog API with your AWS Marketplace product build or deployment pipelines. You can also create your own applications on top of the Catalog API to manage your products on AWS Marketplace.</p>",
  "metadata": {
    "apiVersion": "2018-09-17",
    "endpointPrefix": "catalog.marketplace",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWS Marketplace Catalog",
    "serviceFullName": "AWS Marketplace Catalog Service",
    "serviceId": "Marketplace Catalog",
    "signatureVersion": "v4",
    "signingName": "aws-marketplace",
    "uid": "marketplace-catalog-2018-09-17"
  },
  "operations": {
    "CancelChangeSet": {
      "documentation": "<p>Used to cancel an open change request. Must be sent before the status of the request changes to <code>APPLYING</code>, the final stage of completing your change request. You can describe a change during the 60-day request history retention period for API calls.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "PATCH",
        "requestUri": "/CancelChangeSet"
      },
      "input": {
        "shape": "CancelChangeSetRequest"
      },
      "name": "CancelChangeSet",
      "output": {
        "shape": "CancelChangeSetResponse"
      }
    },
    "DescribeChangeSet": {
      "documentation": "<p>Provides information about a given change set.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/DescribeChangeSet"
      },
      "input": {
        "shape": "DescribeChangeSetRequest"
      },
      "name": "DescribeChangeSet",
      "output": {
        "shape": "DescribeChangeSetResponse"
      }
    },
    "DescribeEntity": {
      "documentation": "<p>Returns the metadata and content of the entity.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotSupportedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/DescribeEntity"
      },
      "input": {
        "shape": "DescribeEntityRequest"
      },
      "name": "DescribeEntity",
      "output": {
        "shape": "DescribeEntityResponse"
      }
    },
    "ListChangeSets": {
      "documentation": "<p>Returns the list of change sets owned by the account being used to make the call. You can filter this list by providing any combination of <code>entityId</code>, <code>ChangeSetName</code>, and status. If you provide more than one filter, the API operation applies a logical AND between the filters.</p> <p>You can describe a change during the 60-day request history retention period for API calls.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListChangeSets"
      },
      "input": {
        "shape": "ListChangeSetsRequest"
      },
      "name": "ListChangeSets",
      "output": {
        "shape": "ListChangeSetsResponse"
      }
    },
    "ListEntities": {
      "documentation": "<p>Provides the list of entities of a given type.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ThrottlingException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListEntities"
      },
      "input": {
        "shape": "ListEntitiesRequest"
      },
      "name": "ListEntities",
      "output": {
        "shape": "ListEntitiesResponse"
      }
    },
    "StartChangeSet": {
      "documentation": "<p>This operation allows you to request changes in your entities.</p>",
      "errors": [
        {
          "shape": "InternalServiceException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ThrottlingException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/StartChangeSet"
      },
      "input": {
        "shape": "StartChangeSetRequest"
      },
      "name": "StartChangeSet",
      "output": {
        "shape": "StartChangeSetResponse"
      }
    }
  },
  "shapes": {
    "ARN": {
      "max": 2048,
      "min": 1,
      "pattern": "^[a-zA-Z0-9:*/-]+$",
      "type": "string"
    },
    "AccessDeniedException": {
      "documentation": "<p>Access is denied.</p>",
      "error": {
        "httpStatusCode": 403
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "CancelChangeSetRequest": {
      "members": {
        "Catalog": {
          "documentation": "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code>.</p>",
          "location": "querystring",
          "locationName": "catalog",
          "shape": "Catalog"
        },
        "ChangeSetId": {
          "documentation": "<p>Required. The unique identifier of the <code>StartChangeSet</code> request that you want to cancel.</p>",
          "location": "querystring",
          "locationName": "changeSetId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Catalog",
        "ChangeSetId"
      ],
      "type": "structure"
    },
    "CancelChangeSetResponse": {
      "members": {
        "ChangeSetArn": {
          "documentation": "<p>The ARN associated with the change set referenced in this request.</p>",
          "shape": "ARN"
        },
        "ChangeSetId": {
          "documentation": "<p>The unique identifier for the change set referenced in this request.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "Catalog": {
      "max": 64,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "Change": {
      "documentation": "<p>An object that contains the <code>ChangeType</code>, <code>Details</code>, and <code>Entity</code>.</p>",
      "members": {
        "ChangeType": {
          "documentation": "<p>Change types are single string values that describe your intention for the change. Each change type is unique for each <code>EntityType</code> provided in the change's scope.</p>",
          "shape": "ChangeType"
        },
        "Details": {
          "documentation": "<p>This object contains details specific to the change type of the requested change.</p>",
          "shape": "Json"
        },
        "Entity": {
          "documentation": "<p>The entity to be changed.</p>",
          "shape": "Entity"
        }
      },
      "required": [
        "ChangeType",
        "Entity",
        "Details"
      ],
      "type": "structure"
    },
    "ChangeSetDescription": {
      "member": {
        "shape": "ChangeSummary"
      },
      "type": "list"
    },
    "ChangeSetName": {
      "max": 100,
      "min": 1,
      "pattern": "^[\\w\\s+=.:@-]+$",
      "type": "string"
    },
    "ChangeSetSummaryList": {
      "member": {
        "shape": "ChangeSetSummaryListItem"
      },
      "type": "list"
    },
    "ChangeSetSummaryListItem": {
      "documentation": "<p>A summary of a change set returned in a list of change sets when the <code>ListChangeSets</code> action is called.</p>",
      "members": {
        "ChangeSetArn": {
          "documentation": "<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>",
          "shape": "ARN"
        },
        "ChangeSetId": {
          "documentation": "<p>The unique identifier for a change set.</p>",
          "shape": "ResourceId"
        },
        "ChangeSetName": {
          "documentation": "<p>The non-unique name for the change set.</p>",
          "shape": "ChangeSetName"
        },
        "EndTime": {
          "documentation": "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was finished.</p>",
          "shape": "DateTimeISO8601"
        },
        "EntityIdList": {
          "documentation": "<p>This object is a list of entity IDs (string) that are a part of a change set. The entity ID list is a maximum of 20 entities. It must contain at least one entity.</p>",
          "shape": "ResourceIdList"
        },
        "StartTime": {
          "documentation": "<p>The time, in ISO 8601 format (2018-02-27T13:45:22Z), when the change set was started.</p>",
          "shape": "DateTimeISO8601"
        },
        "Status": {
          "documentation": "<p>The current status of the change set.</p>",
          "shape": "ChangeStatus"
        }
      },
      "type": "structure"
    },
    "ChangeStatus": {
      "enum": [
        "PREPARING",
        "APPLYING",
        "SUCCEEDED",
        "CANCELLED",
        "FAILED"
      ],
      "type": "string"
    },
    "ChangeSummary": {
      "documentation": "<p>This object is a container for common summary information about the change. The summary doesn't contain the whole change structure.</p>",
      "members": {
        "ChangeType": {
          "documentation": "<p>The type of the change.</p>",
          "shape": "ChangeType"
        },
        "Entity": {
          "documentation": "<p>The entity to be changed.</p>",
          "shape": "Entity"
        },
        "ErrorDetailList": {
          "documentation": "<p>An array of <code>ErrorDetail</code> objects associated with the change.</p>",
          "shape": "ErrorDetailList"
        }
      },
      "type": "structure"
    },
    "ChangeType": {
      "max": 255,
      "min": 1,
      "pattern": "^[A-Z][\\w]*$",
      "type": "string"
    },
    "ClientRequestToken": {
      "max": 36,
      "min": 1,
      "pattern": "^[\\w\\-]+$",
      "type": "string"
    },
    "DateTimeISO8601": {
      "max": 20,
      "min": 20,
      "pattern": "^([\\d]{4})\\-(1[0-2]|0[1-9])\\-(3[01]|0[1-9]|[12][\\d])T(2[0-3]|[01][\\d]):([0-5][\\d]):([0-5][\\d])Z$",
      "type": "string"
    },
    "DescribeChangeSetRequest": {
      "members": {
        "Catalog": {
          "documentation": "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code> </p>",
          "location": "querystring",
          "locationName": "catalog",
          "shape": "Catalog"
        },
        "ChangeSetId": {
          "documentation": "<p>Required. The unique identifier for the <code>StartChangeSet</code> request that you want to describe the details for.</p>",
          "location": "querystring",
          "locationName": "changeSetId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Catalog",
        "ChangeSetId"
      ],
      "type": "structure"
    },
    "DescribeChangeSetResponse": {
      "members": {
        "ChangeSet": {
          "documentation": "<p>An array of <code>ChangeSummary</code> objects.</p>",
          "shape": "ChangeSetDescription"
        },
        "ChangeSetArn": {
          "documentation": "<p>The ARN associated with the unique identifier for the change set referenced in this request.</p>",
          "shape": "ARN"
        },
        "ChangeSetId": {
          "documentation": "<p>Required. The unique identifier for the change set referenced in this request.</p>",
          "shape": "ResourceId"
        },
        "ChangeSetName": {
          "documentation": "<p>The optional name provided in the <code>StartChangeSet</code> request. If you do not provide a name, one is set by default.</p>",
          "shape": "ChangeSetName"
        },
        "EndTime": {
          "documentation": "<p>The date and time, in ISO 8601 format (2018-02-27T13:45:22Z), the request transitioned to a terminal state. The change cannot transition to a different state. Null if the request is not in a terminal state. </p>",
          "shape": "DateTimeISO8601"
        },
        "FailureDescription": {
          "documentation": "<p>Returned if there is a failure on the change set, but that failure is not related to any of the changes in the request.</p>",
          "shape": "StringValue"
        },
        "StartTime": {
          "documentation": "<p>The date and time, in ISO 8601 format (2018-02-27T13:45:22Z), the request started. </p>",
          "shape": "DateTimeISO8601"
        },
        "Status": {
          "documentation": "<p>The status of the change request.</p>",
          "shape": "ChangeStatus"
        }
      },
      "type": "structure"
    },
    "DescribeEntityRequest": {
      "members": {
        "Catalog": {
          "documentation": "<p>Required. The catalog related to the request. Fixed value: <code>AWSMarketplace</code> </p>",
          "location": "querystring",
          "locationName": "catalog",
          "shape": "Catalog"
        },
        "EntityId": {
          "documentation": "<p>Required. The unique ID of the entity to describe.</p>",
          "location": "querystring",
          "locationName": "entityId",
          "shape": "ResourceId"
        }
      },
      "required": [
        "Catalog",
        "EntityId"
      ],
      "type": "structure"
    },
    "DescribeEntityResponse": {
      "members": {
        "Details": {
          "documentation": "<p>This stringified JSON object includes the details of the entity.</p>",
          "shape": "Json"
        },
        "EntityArn": {
          "documentation": "<p>The ARN associated to the unique identifier for the change set referenced in this request.</p>",
          "shape": "ARN"
        },
        "EntityIdentifier": {
          "documentation": "<p>The identifier of the entity, in the format of <code>EntityId@RevisionId</code>.</p>",
          "shape": "Identifier"
        },
        "EntityType": {
          "documentation": "<p>The named type of the entity, in the format of <code>EntityType@Version</code>.</p>",
          "shape": "EntityType"
        },
        "LastModifiedDate": {
          "documentation": "<p>The last modified date of the entity, in ISO 8601 format (2018-02-27T13:45:22Z).</p>",
          "shape": "StringValue"
        }
      },
      "type": "structure"
    },
    "Entity": {
      "documentation": "<p>A product entity contains data that describes your product, its supported features, and how it can be used or launched by your customer. </p>",
      "members": {
        "Identifier": {
          "documentation": "<p>The identifier for the entity.</p>",
          "shape": "Identifier"
        },
        "Type": {
          "documentation": "<p>The type of entity.</p>",
          "shape": "EntityType"
        }
      },
      "required": [
        "Type"
      ],
      "type": "structure"
    },
    "EntitySummary": {
      "documentation": "<p>This object is a container for common summary information about the entity. The summary doesn't contain the whole entity structure, but it does contain information common across all entities.</p>",
      "members": {
        "EntityArn": {
          "documentation": "<p>The ARN associated with the unique identifier for the entity.</p>",
          "shape": "ARN"
        },
        "EntityId": {
          "documentation": "<p>The unique identifier for the entity.</p>",
          "shape": "ResourceId"
        },
        "EntityType": {
          "documentation": "<p>The type of the entity.</p>",
          "shape": "EntityType"
        },
        "LastModifiedDate": {
          "documentation": "<p>The last time the entity was published, using ISO 8601 format (2018-02-27T13:45:22Z).</p>",
          "shape": "StringValue"
        },
        "Name": {
          "documentation": "<p>The name for the entity. This value is not unique. It is defined by the provider.</p>",
          "shape": "StringValue"
        },
        "Visibility": {
          "documentation": "<p>The visibility status of the entity to subscribers. This value can be <code>Public</code> (everyone can view the entity), <code>Limited</code> (the entity is visible to limited accounts only), or <code>Restricted</code> (the entity was published and then unpublished and only existing subscribers can view it). </p>",
          "shape": "StringValue"
        }
      },
      "type": "structure"
    },
    "EntitySummaryList": {
      "member": {
        "shape": "EntitySummary"
      },
      "type": "list"
    },
    "EntityType": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "ErrorDetail": {
      "documentation": "<p>Details about the error.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>The error code that identifies the type of error.</p>",
          "shape": "StringValue"
        },
        "ErrorMessage": {
          "documentation": "<p>The message for the error.</p>",
          "shape": "StringValue"
        }
      },
      "type": "structure"
    },
    "ErrorDetailList": {
      "member": {
        "shape": "ErrorDetail"
      },
      "type": "list"
    },
    "Filter": {
      "documentation": "<p>A filter object, used to optionally filter results from calls to the <code>ListEntities</code> and <code>ListChangeSets</code> actions.</p>",
      "members": {
        "Name": {
          "documentation": "<p>For <code>ListEntities</code>, the supported value for this is an <code>EntityId</code>.</p> <p>For <code>ListChangeSets</code>, the supported values are as follows:</p>",
          "shape": "FilterName"
        },
        "ValueList": {
          "documentation": "<p> <code>ListEntities</code> - This is a list of unique <code>EntityId</code>s.</p> <p> <code>ListChangeSets</code> - The supported filter names and associated <code>ValueList</code>s is as follows:</p> <ul> <li> <p> <code>ChangeSetName</code> - The supported <code>ValueList</code> is a list of non-unique <code>ChangeSetName</code>s. These are defined when you call the <code>StartChangeSet</code> action.</p> </li> <li> <p> <code>Status</code> - The supported <code>ValueList</code> is a list of statuses for all change set requests.</p> </li> <li> <p> <code>EntityId</code> - The supported <code>ValueList</code> is a list of unique <code>EntityId</code>s.</p> </li> <li> <p> <code>BeforeStartTime</code> - The supported <code>ValueList</code> is a list of all change sets that started before the filter value.</p> </li> <li> <p> <code>AfterStartTime</code> - The supported <code>ValueList</code> is a list of all change sets that started after the filter value.</p> </li> <li> <p> <code>BeforeEndTime</code> - The supported <code>ValueList</code> is a list of all change sets that ended before the filter value.</p> </li> <li> <p> <code>AfterEndTime</code> - The supported <code>ValueList</code> is a list of all change sets that ended after the filter value.</p> </li> </ul>",
          "shape": "ValueList"
        }
      },
      "type": "structure"
    },
    "FilterList": {
      "max": 8,
      "member": {
        "shape": "Filter"
      },
      "min": 1,
      "type": "list"
    },
    "FilterName": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "Identifier": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\w\\-@]+$",
      "type": "string"
    },
    "InternalServiceException": {
      "documentation": "<p>There was an internal service exception.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "Json": {
      "max": 16384,
      "min": 2,
      "pattern": "^[\\s]*\\{[\\s\\S]*\\}[\\s]*$",
      "type": "string"
    },
    "ListChangeSetsRequest": {
      "members": {
        "Catalog": {
          "documentation": "<p>The catalog related to the request. Fixed value: <code>AWSMarketplace</code> </p>",
          "shape": "Catalog"
        },
        "FilterList": {
          "documentation": "<p>An array of filter objects.</p>",
          "shape": "FilterList"
        },
        "MaxResults": {
          "documentation": "<p>The maximum number of results returned by a single call. This value must be provided in the next call to retrieve the next set of results. By default, this value is 20.</p>",
          "shape": "MaxResultInteger"
        },
        "NextToken": {
          "documentation": "<p>The token value retrieved from a previous call to access the next page of results.</p>",
          "shape": "NextToken"
        },
        "Sort": {
          "documentation": "<p>An object that contains two attributes, <code>sortBy</code> and <code>sortOrder</code>.</p>",
          "shape": "Sort"
        }
      },
      "required": [
        "Catalog"
      ],
      "type": "structure"
    },
    "ListChangeSetsResponse": {
      "members": {
        "ChangeSetSummaryList": {
          "documentation": "<p> Array of <code>ChangeSetSummaryListItem</code> objects.</p>",
          "shape": "ChangeSetSummaryList"
        },
        "NextToken": {
          "documentation": "<p>The value of the next token, if it exists. Null if there are no more results.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListEntitiesRequest": {
      "members": {
        "Catalog": {
          "documentation": "<p>The catalog related to the request. Fixed value: <code>AWSMarketplace</code> </p>",
          "shape": "Catalog"
        },
        "EntityType": {
          "documentation": "<p>The type of entities to retrieve.</p>",
          "shape": "EntityType"
        },
        "FilterList": {
          "documentation": "<p>An array of filter objects. Each filter object contains two attributes, <code>filterName</code> and <code>filterValues</code>.</p>",
          "shape": "FilterList"
        },
        "MaxResults": {
          "documentation": "<p>Specifies the upper limit of the elements on a single page. If a value isn't provided, the default value is 20.</p>",
          "shape": "MaxResultInteger"
        },
        "NextToken": {
          "documentation": "<p>The value of the next token, if it exists. Null if there are no more results.</p>",
          "shape": "NextToken"
        },
        "Sort": {
          "documentation": "<p>An object that contains two attributes, <code>sortBy</code> and <code>sortOrder</code>.</p>",
          "shape": "Sort"
        }
      },
      "required": [
        "Catalog",
        "EntityType"
      ],
      "type": "structure"
    },
    "ListEntitiesResponse": {
      "members": {
        "EntitySummaryList": {
          "documentation": "<p> Array of <code>EntitySummary</code> object.</p>",
          "shape": "EntitySummaryList"
        },
        "NextToken": {
          "documentation": "<p>The value of the next token if it exists. Null if there is no more result.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "MaxResultInteger": {
      "box": true,
      "max": 20,
      "min": 1,
      "type": "integer"
    },
    "NextToken": {
      "max": 2048,
      "min": 1,
      "pattern": "^[\\w+=.:@\\-\\/]$",
      "type": "string"
    },
    "RequestedChangeList": {
      "max": 20,
      "member": {
        "shape": "Change"
      },
      "min": 1,
      "type": "list"
    },
    "ResourceId": {
      "max": 255,
      "min": 1,
      "pattern": "^[\\w\\-]+$",
      "type": "string"
    },
    "ResourceIdList": {
      "member": {
        "shape": "ResourceId"
      },
      "type": "list"
    },
    "ResourceInUseException": {
      "documentation": "<p>The resource is currently in use.</p>",
      "error": {
        "httpStatusCode": 423
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource wasn't found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ResourceNotSupportedException": {
      "documentation": "<p>Currently, the specified resource is not supported.</p>",
      "error": {
        "httpStatusCode": 415
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>The maximum number of open requests per account has been exceeded.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "Sort": {
      "documentation": "<p>An object that contains two attributes, <code>sortBy</code> and <code>sortOrder</code>.</p>",
      "members": {
        "SortBy": {
          "documentation": "<p>For <code>ListEntities</code>, supported attributes include <code>LastModifiedDate</code> (default), <code>Visibility</code>, <code>EntityId</code>, and <code>Name</code>.</p> <p>For <code>ListChangeSets</code>, supported attributes include <code>StartTime</code> and <code>EndTime</code>.</p>",
          "shape": "SortBy"
        },
        "SortOrder": {
          "documentation": "<p>The sorting order. Can be <code>ASCENDING</code> or <code>DESCENDING</code>. The default value is <code>DESCENDING</code>.</p>",
          "shape": "SortOrder"
        }
      },
      "type": "structure"
    },
    "SortBy": {
      "max": 255,
      "min": 1,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "SortOrder": {
      "enum": [
        "ASCENDING",
        "DESCENDING"
      ],
      "type": "string"
    },
    "StartChangeSetRequest": {
      "members": {
        "Catalog": {
          "documentation": "<p>The catalog related to the request. Fixed value: <code>AWSMarketplace</code> </p>",
          "shape": "Catalog"
        },
        "ChangeSet": {
          "documentation": "<p>Array of <code>change</code> object.</p>",
          "shape": "RequestedChangeList"
        },
        "ChangeSetName": {
          "documentation": "<p>Optional case sensitive string of up to 100 ASCII characters. The change set name can be used to filter the list of change sets. </p>",
          "shape": "ChangeSetName"
        },
        "ClientRequestToken": {
          "documentation": "<p>A unique token to identify the request to ensure idempotency.</p>",
          "shape": "ClientRequestToken"
        }
      },
      "required": [
        "Catalog",
        "ChangeSet"
      ],
      "type": "structure"
    },
    "StartChangeSetResponse": {
      "members": {
        "ChangeSetArn": {
          "documentation": "<p>The ARN associated to the unique identifier generated for the request.</p>",
          "shape": "ARN"
        },
        "ChangeSetId": {
          "documentation": "<p>Unique identifier generated for the request.</p>",
          "shape": "ResourceId"
        }
      },
      "type": "structure"
    },
    "StringValue": {
      "type": "string"
    },
    "ThrottlingException": {
      "documentation": "<p>Too many requests.</p>",
      "error": {
        "httpStatusCode": 429
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>An error occurred during validation.</p>",
      "error": {
        "httpStatusCode": 422
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "StringValue"
        }
      },
      "synthetic": true,
      "type": "structure"
    },
    "ValueList": {
      "max": 10,
      "member": {
        "shape": "StringValue"
      },
      "min": 1,
      "type": "list"
    }
  },
  "version": "2.0"
}
