{
  "documentation": "<fullname>Amazon EC2 Auto Scaling</fullname> <p>Amazon EC2 Auto Scaling is designed to automatically launch or terminate EC2 instances based on user-defined scaling policies, scheduled actions, and health checks. Use this service with AWS Auto Scaling, Amazon CloudWatch, and Elastic Load Balancing.</p> <p>For more information, including information about granting IAM users required permissions for Amazon EC2 Auto Scaling actions, see the <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html\">Amazon EC2 Auto Scaling User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2011-01-01",
    "endpointPrefix": "autoscaling",
    "protocol": "query",
    "serviceFullName": "Auto Scaling",
    "serviceId": "Auto Scaling",
    "signatureVersion": "v4",
    "uid": "autoscaling-2011-01-01",
    "xmlNamespace": "http://autoscaling.amazonaws.com/doc/2011-01-01/"
  },
  "operations": {
    "AttachInstances": {
      "documentation": "<p>Attaches one or more EC2 instances to the specified Auto Scaling group.</p> <p>When you attach instances, Amazon EC2 Auto Scaling increases the desired capacity of the group by the number of instances being attached. If the number of instances being attached plus the desired capacity of the group exceeds the maximum size of the group, the operation fails.</p> <p>If there is a Classic Load Balancer attached to your Auto Scaling group, the instances are also registered with the load balancer. If there are target groups attached to your Auto Scaling group, the instances are also registered with the target groups.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-instance-asg.html\">Attach EC2 Instances to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachInstancesQuery"
      },
      "name": "AttachInstances"
    },
    "AttachLoadBalancerTargetGroups": {
      "documentation": "<p>Attaches one or more target groups to the specified Auto Scaling group.</p> <p>To describe the target groups for an Auto Scaling group, use <a>DescribeLoadBalancerTargetGroups</a>. To detach the target group from the Auto Scaling group, use <a>DetachLoadBalancerTargetGroups</a>.</p> <p>With Application Load Balancers and Network Load Balancers, instances are registered as targets with a target group. With Classic Load Balancers, instances are registered with the load balancer. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html\">Attaching a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachLoadBalancerTargetGroupsType"
      },
      "name": "AttachLoadBalancerTargetGroups",
      "output": {
        "resultWrapper": "AttachLoadBalancerTargetGroupsResult",
        "shape": "AttachLoadBalancerTargetGroupsResultType"
      }
    },
    "AttachLoadBalancers": {
      "documentation": "<p>Attaches one or more Classic Load Balancers to the specified Auto Scaling group.</p> <p>To attach an Application Load Balancer or a Network Load Balancer instead, see <a>AttachLoadBalancerTargetGroups</a>.</p> <p>To describe the load balancers for an Auto Scaling group, use <a>DescribeLoadBalancers</a>. To detach the load balancer from the Auto Scaling group, use <a>DetachLoadBalancers</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/attach-load-balancer-asg.html\">Attaching a Load Balancer to Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AttachLoadBalancersType"
      },
      "name": "AttachLoadBalancers",
      "output": {
        "resultWrapper": "AttachLoadBalancersResult",
        "shape": "AttachLoadBalancersResultType"
      }
    },
    "BatchDeleteScheduledAction": {
      "documentation": "<p>Deletes one or more scheduled actions for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDeleteScheduledActionType"
      },
      "name": "BatchDeleteScheduledAction",
      "output": {
        "resultWrapper": "BatchDeleteScheduledActionResult",
        "shape": "BatchDeleteScheduledActionAnswer"
      }
    },
    "BatchPutScheduledUpdateGroupAction": {
      "documentation": "<p>Creates or updates one or more scheduled scaling actions for an Auto Scaling group. If you leave a parameter unspecified when updating a scheduled scaling action, the corresponding value remains unchanged.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchPutScheduledUpdateGroupActionType"
      },
      "name": "BatchPutScheduledUpdateGroupAction",
      "output": {
        "resultWrapper": "BatchPutScheduledUpdateGroupActionResult",
        "shape": "BatchPutScheduledUpdateGroupActionAnswer"
      }
    },
    "CompleteLifecycleAction": {
      "documentation": "<p>Completes the lifecycle action for the specified token or instance with the specified result.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</p> </li> <li> <p> <b>If you finish before the timeout period ends, complete the lifecycle action.</b> </p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling Lifecycle Hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CompleteLifecycleActionType"
      },
      "name": "CompleteLifecycleAction",
      "output": {
        "resultWrapper": "CompleteLifecycleActionResult",
        "shape": "CompleteLifecycleActionAnswer"
      }
    },
    "CreateAutoScalingGroup": {
      "documentation": "<p>Creates an Auto Scaling group with the specified name and attributes.</p> <p>If you exceed your maximum limit of Auto Scaling groups, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling Service Quotas</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateAutoScalingGroupType"
      },
      "name": "CreateAutoScalingGroup"
    },
    "CreateLaunchConfiguration": {
      "documentation": "<p>Creates a launch configuration.</p> <p>If you exceed your maximum limit of launch configurations, the call fails. For information about viewing this limit, see <a>DescribeAccountLimits</a>. For information about updating this limit, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling Service Quotas</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/LaunchConfiguration.html\">Launch Configurations</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateLaunchConfigurationType"
      },
      "name": "CreateLaunchConfiguration"
    },
    "CreateOrUpdateTags": {
      "documentation": "<p>Creates or updates tags for the specified Auto Scaling group.</p> <p>When you specify a tag with a key that already exists, the operation overwrites the previous tag definition, and you do not get an error message.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html\">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ResourceInUseFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOrUpdateTagsType"
      },
      "name": "CreateOrUpdateTags"
    },
    "DeleteAutoScalingGroup": {
      "documentation": "<p>Deletes the specified Auto Scaling group.</p> <p>If the group has instances or scaling activities in progress, you must specify the option to force the deletion in order for it to succeed.</p> <p>If the group has policies, deleting the group deletes the policies, the underlying alarm actions, and any alarm that no longer has an associated action.</p> <p>To remove instances from the Auto Scaling group before deleting it, call <a>DetachInstances</a> with the list of instances and the option to decrement the desired capacity. This ensures that Amazon EC2 Auto Scaling does not launch replacement instances.</p> <p>To terminate all instances before deleting the Auto Scaling group, call <a>UpdateAutoScalingGroup</a> and set the minimum size and desired capacity of the Auto Scaling group to zero.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteAutoScalingGroupType"
      },
      "name": "DeleteAutoScalingGroup"
    },
    "DeleteLaunchConfiguration": {
      "documentation": "<p>Deletes the specified launch configuration.</p> <p>The launch configuration must not be attached to an Auto Scaling group. When this call completes, the launch configuration is no longer available for use.</p>",
      "errors": [
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LaunchConfigurationNameType"
      },
      "name": "DeleteLaunchConfiguration"
    },
    "DeleteLifecycleHook": {
      "documentation": "<p>Deletes the specified lifecycle hook.</p> <p>If there are any outstanding lifecycle actions, they are completed first (<code>ABANDON</code> for launching instances, <code>CONTINUE</code> for terminating instances).</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteLifecycleHookType"
      },
      "name": "DeleteLifecycleHook",
      "output": {
        "resultWrapper": "DeleteLifecycleHookResult",
        "shape": "DeleteLifecycleHookAnswer"
      }
    },
    "DeleteNotificationConfiguration": {
      "documentation": "<p>Deletes the specified notification.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteNotificationConfigurationType"
      },
      "name": "DeleteNotificationConfiguration"
    },
    "DeletePolicy": {
      "documentation": "<p>Deletes the specified scaling policy.</p> <p>Deleting either a step scaling policy or a simple scaling policy deletes the underlying alarm action, but does not delete the alarm, even if it no longer has an associated action.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/deleting-scaling-policy.html\">Deleting a Scaling Policy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePolicyType"
      },
      "name": "DeletePolicy"
    },
    "DeleteScheduledAction": {
      "documentation": "<p>Deletes the specified scheduled action.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteScheduledActionType"
      },
      "name": "DeleteScheduledAction"
    },
    "DeleteTags": {
      "documentation": "<p>Deletes the specified tags.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ResourceInUseFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagsType"
      },
      "name": "DeleteTags"
    },
    "DescribeAccountLimits": {
      "documentation": "<p>Describes the current Amazon EC2 Auto Scaling resource quotas for your AWS account.</p> <p>For information about requesting an increase, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-account-limits.html\">Amazon EC2 Auto Scaling Service Quotas</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAccountLimits",
      "output": {
        "resultWrapper": "DescribeAccountLimitsResult",
        "shape": "DescribeAccountLimitsAnswer"
      }
    },
    "DescribeAdjustmentTypes": {
      "documentation": "<p>Describes the policy adjustment types for use with <a>PutScalingPolicy</a>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAdjustmentTypes",
      "output": {
        "resultWrapper": "DescribeAdjustmentTypesResult",
        "shape": "DescribeAdjustmentTypesAnswer"
      }
    },
    "DescribeAutoScalingGroups": {
      "documentation": "<p>Describes one or more Auto Scaling groups.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AutoScalingGroupNamesType"
      },
      "name": "DescribeAutoScalingGroups",
      "output": {
        "resultWrapper": "DescribeAutoScalingGroupsResult",
        "shape": "AutoScalingGroupsType"
      }
    },
    "DescribeAutoScalingInstances": {
      "documentation": "<p>Describes one or more Auto Scaling instances.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAutoScalingInstancesType"
      },
      "name": "DescribeAutoScalingInstances",
      "output": {
        "resultWrapper": "DescribeAutoScalingInstancesResult",
        "shape": "AutoScalingInstancesType"
      }
    },
    "DescribeAutoScalingNotificationTypes": {
      "documentation": "<p>Describes the notification types that are supported by Amazon EC2 Auto Scaling.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeAutoScalingNotificationTypes",
      "output": {
        "resultWrapper": "DescribeAutoScalingNotificationTypesResult",
        "shape": "DescribeAutoScalingNotificationTypesAnswer"
      }
    },
    "DescribeLaunchConfigurations": {
      "documentation": "<p>Describes one or more launch configurations.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "LaunchConfigurationNamesType"
      },
      "name": "DescribeLaunchConfigurations",
      "output": {
        "resultWrapper": "DescribeLaunchConfigurationsResult",
        "shape": "LaunchConfigurationsType"
      }
    },
    "DescribeLifecycleHookTypes": {
      "documentation": "<p>Describes the available types of lifecycle hooks.</p> <p>The following hook types are supported:</p> <ul> <li> <p>autoscaling:EC2_INSTANCE_LAUNCHING</p> </li> <li> <p>autoscaling:EC2_INSTANCE_TERMINATING</p> </li> </ul>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeLifecycleHookTypes",
      "output": {
        "resultWrapper": "DescribeLifecycleHookTypesResult",
        "shape": "DescribeLifecycleHookTypesAnswer"
      }
    },
    "DescribeLifecycleHooks": {
      "documentation": "<p>Describes the lifecycle hooks for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLifecycleHooksType"
      },
      "name": "DescribeLifecycleHooks",
      "output": {
        "resultWrapper": "DescribeLifecycleHooksResult",
        "shape": "DescribeLifecycleHooksAnswer"
      }
    },
    "DescribeLoadBalancerTargetGroups": {
      "documentation": "<p>Describes the target groups for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoadBalancerTargetGroupsRequest"
      },
      "name": "DescribeLoadBalancerTargetGroups",
      "output": {
        "resultWrapper": "DescribeLoadBalancerTargetGroupsResult",
        "shape": "DescribeLoadBalancerTargetGroupsResponse"
      }
    },
    "DescribeLoadBalancers": {
      "documentation": "<p>Describes the load balancers for the specified Auto Scaling group.</p> <p>This operation describes only Classic Load Balancers. If you have Application Load Balancers or Network Load Balancers, use <a>DescribeLoadBalancerTargetGroups</a> instead.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeLoadBalancersRequest"
      },
      "name": "DescribeLoadBalancers",
      "output": {
        "resultWrapper": "DescribeLoadBalancersResult",
        "shape": "DescribeLoadBalancersResponse"
      }
    },
    "DescribeMetricCollectionTypes": {
      "documentation": "<p>Describes the available CloudWatch metrics for Amazon EC2 Auto Scaling.</p> <p>The <code>GroupStandbyInstances</code> metric is not returned by default. You must explicitly request this metric when calling <a>EnableMetricsCollection</a>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeMetricCollectionTypes",
      "output": {
        "resultWrapper": "DescribeMetricCollectionTypesResult",
        "shape": "DescribeMetricCollectionTypesAnswer"
      }
    },
    "DescribeNotificationConfigurations": {
      "documentation": "<p>Describes the notification actions associated with the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeNotificationConfigurationsType"
      },
      "name": "DescribeNotificationConfigurations",
      "output": {
        "resultWrapper": "DescribeNotificationConfigurationsResult",
        "shape": "DescribeNotificationConfigurationsAnswer"
      }
    },
    "DescribePolicies": {
      "documentation": "<p>Describes the policies for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePoliciesType"
      },
      "name": "DescribePolicies",
      "output": {
        "resultWrapper": "DescribePoliciesResult",
        "shape": "PoliciesType"
      }
    },
    "DescribeScalingActivities": {
      "documentation": "<p>Describes one or more scaling activities for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeScalingActivitiesType"
      },
      "name": "DescribeScalingActivities",
      "output": {
        "resultWrapper": "DescribeScalingActivitiesResult",
        "shape": "ActivitiesType"
      }
    },
    "DescribeScalingProcessTypes": {
      "documentation": "<p>Describes the scaling process types for use with <a>ResumeProcesses</a> and <a>SuspendProcesses</a>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeScalingProcessTypes",
      "output": {
        "resultWrapper": "DescribeScalingProcessTypesResult",
        "shape": "ProcessesType"
      }
    },
    "DescribeScheduledActions": {
      "documentation": "<p>Describes the actions scheduled for your Auto Scaling group that haven't run or that have not reached their end time. To describe the actions that have already run, use <a>DescribeScalingActivities</a>.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeScheduledActionsType"
      },
      "name": "DescribeScheduledActions",
      "output": {
        "resultWrapper": "DescribeScheduledActionsResult",
        "shape": "ScheduledActionsType"
      }
    },
    "DescribeTags": {
      "documentation": "<p>Describes the specified tags.</p> <p>You can use filters to limit the results. For example, you can query for the tags for a specific Auto Scaling group. You can specify multiple values for a filter. A tag must match at least one of the specified values for it to be included in the results.</p> <p>You can also specify multiple filters. The result includes information for a particular tag only if it matches all the filters. If there's no match, no special message is returned.</p>",
      "errors": [
        {
          "shape": "InvalidNextToken"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagsType"
      },
      "name": "DescribeTags",
      "output": {
        "resultWrapper": "DescribeTagsResult",
        "shape": "TagsType"
      }
    },
    "DescribeTerminationPolicyTypes": {
      "documentation": "<p>Describes the termination policies supported by Amazon EC2 Auto Scaling.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html\">Controlling Which Auto Scaling Instances Terminate During Scale In</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "name": "DescribeTerminationPolicyTypes",
      "output": {
        "resultWrapper": "DescribeTerminationPolicyTypesResult",
        "shape": "DescribeTerminationPolicyTypesAnswer"
      }
    },
    "DetachInstances": {
      "documentation": "<p>Removes one or more instances from the specified Auto Scaling group.</p> <p>After the instances are detached, you can manage them independent of the Auto Scaling group.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are detached.</p> <p>If there is a Classic Load Balancer attached to the Auto Scaling group, the instances are deregistered from the load balancer. If there are target groups attached to the Auto Scaling group, the instances are deregistered from the target groups.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/detach-instance-asg.html\">Detach EC2 Instances from Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachInstancesQuery"
      },
      "name": "DetachInstances",
      "output": {
        "resultWrapper": "DetachInstancesResult",
        "shape": "DetachInstancesAnswer"
      }
    },
    "DetachLoadBalancerTargetGroups": {
      "documentation": "<p>Detaches one or more target groups from the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachLoadBalancerTargetGroupsType"
      },
      "name": "DetachLoadBalancerTargetGroups",
      "output": {
        "resultWrapper": "DetachLoadBalancerTargetGroupsResult",
        "shape": "DetachLoadBalancerTargetGroupsResultType"
      }
    },
    "DetachLoadBalancers": {
      "documentation": "<p>Detaches one or more Classic Load Balancers from the specified Auto Scaling group.</p> <p>This operation detaches only Classic Load Balancers. If you have Application Load Balancers or Network Load Balancers, use <a>DetachLoadBalancerTargetGroups</a> instead.</p> <p>When you detach a load balancer, it enters the <code>Removing</code> state while deregistering the instances in the group. When all instances are deregistered, then you can no longer describe the load balancer using <a>DescribeLoadBalancers</a>. The instances remain running.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetachLoadBalancersType"
      },
      "name": "DetachLoadBalancers",
      "output": {
        "resultWrapper": "DetachLoadBalancersResult",
        "shape": "DetachLoadBalancersResultType"
      }
    },
    "DisableMetricsCollection": {
      "documentation": "<p>Disables group metrics for the specified Auto Scaling group.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableMetricsCollectionQuery"
      },
      "name": "DisableMetricsCollection"
    },
    "EnableMetricsCollection": {
      "documentation": "<p>Enables group metrics for the specified Auto Scaling group. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-monitoring.html\">Monitoring Your Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableMetricsCollectionQuery"
      },
      "name": "EnableMetricsCollection"
    },
    "EnterStandby": {
      "documentation": "<p>Moves the specified instances into the standby state.</p> <p>If you choose to decrement the desired capacity of the Auto Scaling group, the instances can enter standby as long as the desired capacity of the Auto Scaling group after the instances are placed into standby is equal to or greater than the minimum capacity of the group.</p> <p>If you choose not to decrement the desired capacity of the Auto Scaling group, the Auto Scaling group launches new instances to replace the instances on standby.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html\">Temporarily Removing Instances from Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnterStandbyQuery"
      },
      "name": "EnterStandby",
      "output": {
        "resultWrapper": "EnterStandbyResult",
        "shape": "EnterStandbyAnswer"
      }
    },
    "ExecutePolicy": {
      "documentation": "<p>Executes the specified policy.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecutePolicyType"
      },
      "name": "ExecutePolicy"
    },
    "ExitStandby": {
      "documentation": "<p>Moves the specified instances out of the standby state.</p> <p>After you put the instances back in service, the desired capacity is incremented.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-enter-exit-standby.html\">Temporarily Removing Instances from Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExitStandbyQuery"
      },
      "name": "ExitStandby",
      "output": {
        "resultWrapper": "ExitStandbyResult",
        "shape": "ExitStandbyAnswer"
      }
    },
    "PutLifecycleHook": {
      "documentation": "<p>Creates or updates a lifecycle hook for the specified Auto Scaling group.</p> <p>A lifecycle hook tells Amazon EC2 Auto Scaling to perform an action on an instance when the instance launches (before it is put into service) or as the instance terminates (before it is fully terminated).</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p> <b>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</b> </p> </li> <li> <p>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state using <a>RecordLifecycleActionHeartbeat</a>.</p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action using <a>CompleteLifecycleAction</a>.</p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/lifecycle-hooks.html\">Amazon EC2 Auto Scaling Lifecycle Hooks</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you exceed your maximum limit of lifecycle hooks, which by default is 50 per Auto Scaling group, the call fails.</p> <p>You can view the lifecycle hooks for an Auto Scaling group using <a>DescribeLifecycleHooks</a>. If you are no longer using a lifecycle hook, you can delete it using <a>DeleteLifecycleHook</a>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutLifecycleHookType"
      },
      "name": "PutLifecycleHook",
      "output": {
        "resultWrapper": "PutLifecycleHookResult",
        "shape": "PutLifecycleHookAnswer"
      }
    },
    "PutNotificationConfiguration": {
      "documentation": "<p>Configures an Auto Scaling group to send notifications when specified events take place. Subscribers to the specified topic can have messages delivered to an endpoint such as a web server or an email address.</p> <p>This configuration overwrites any existing configuration.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/ASGettingNotifications.html\">Getting Amazon SNS Notifications When Your Auto Scaling Group Scales</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutNotificationConfigurationType"
      },
      "name": "PutNotificationConfiguration"
    },
    "PutScalingPolicy": {
      "documentation": "<p>Creates or updates a scaling policy for an Auto Scaling group.</p> <p>For more information about using scaling policies to scale your Auto Scaling group automatically, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-scale-based-on-demand.html\">Dynamic Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutScalingPolicyType"
      },
      "name": "PutScalingPolicy",
      "output": {
        "resultWrapper": "PutScalingPolicyResult",
        "shape": "PolicyARNType"
      }
    },
    "PutScheduledUpdateGroupAction": {
      "documentation": "<p>Creates or updates a scheduled scaling action for an Auto Scaling group. If you leave a parameter unspecified when updating a scheduled scaling action, the corresponding value remains unchanged.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/schedule_time.html\">Scheduled Scaling</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsFault"
        },
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutScheduledUpdateGroupActionType"
      },
      "name": "PutScheduledUpdateGroupAction"
    },
    "RecordLifecycleActionHeartbeat": {
      "documentation": "<p>Records a heartbeat for the lifecycle action associated with the specified token or instance. This extends the timeout by the length of time defined using <a>PutLifecycleHook</a>.</p> <p>This step is a part of the procedure for adding a lifecycle hook to an Auto Scaling group:</p> <ol> <li> <p>(Optional) Create a Lambda function and a rule that allows CloudWatch Events to invoke your Lambda function when Amazon EC2 Auto Scaling launches or terminates instances.</p> </li> <li> <p>(Optional) Create a notification target and an IAM role. The target can be either an Amazon SQS queue or an Amazon SNS topic. The role allows Amazon EC2 Auto Scaling to publish lifecycle notifications to the target.</p> </li> <li> <p>Create the lifecycle hook. Specify whether the hook is used when the instances launch or terminate.</p> </li> <li> <p> <b>If you need more time, record the lifecycle action heartbeat to keep the instance in a pending state.</b> </p> </li> <li> <p>If you finish before the timeout period ends, complete the lifecycle action.</p> </li> </ol> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/AutoScalingGroupLifecycle.html\">Auto Scaling Lifecycle</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RecordLifecycleActionHeartbeatType"
      },
      "name": "RecordLifecycleActionHeartbeat",
      "output": {
        "resultWrapper": "RecordLifecycleActionHeartbeatResult",
        "shape": "RecordLifecycleActionHeartbeatAnswer"
      }
    },
    "ResumeProcesses": {
      "documentation": "<p>Resumes the specified suspended automatic scaling processes, or all suspended process, for the specified Auto Scaling group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html\">Suspending and Resuming Scaling Processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ScalingProcessQuery"
      },
      "name": "ResumeProcesses"
    },
    "SetDesiredCapacity": {
      "documentation": "<p>Sets the size of the specified Auto Scaling group.</p> <p>For more information about desired capacity, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/what-is-amazon-ec2-auto-scaling.html\">What Is Amazon EC2 Auto Scaling?</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetDesiredCapacityType"
      },
      "name": "SetDesiredCapacity"
    },
    "SetInstanceHealth": {
      "documentation": "<p>Sets the health status of the specified instance.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html\">Health Checks for Auto Scaling Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetInstanceHealthQuery"
      },
      "name": "SetInstanceHealth"
    },
    "SetInstanceProtection": {
      "documentation": "<p>Updates the instance protection settings of the specified instances.</p> <p>For more information about preventing instances that are part of an Auto Scaling group from terminating on scale in, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "LimitExceededFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetInstanceProtectionQuery"
      },
      "name": "SetInstanceProtection",
      "output": {
        "resultWrapper": "SetInstanceProtectionResult",
        "shape": "SetInstanceProtectionAnswer"
      }
    },
    "SuspendProcesses": {
      "documentation": "<p>Suspends the specified automatic scaling processes, or all processes, for the specified Auto Scaling group.</p> <p>If you suspend either the <code>Launch</code> or <code>Terminate</code> process types, it can prevent other process types from functioning properly.</p> <p>To resume processes that have been suspended, use <a>ResumeProcesses</a>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-suspend-resume-processes.html\">Suspending and Resuming Scaling Processes</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ResourceInUseFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ScalingProcessQuery"
      },
      "name": "SuspendProcesses"
    },
    "TerminateInstanceInAutoScalingGroup": {
      "documentation": "<p>Terminates the specified instance and optionally adjusts the desired group size. This call simply makes a termination request. The instance is not terminated immediately. When an instance is terminated, the instance status changes to <code>terminated</code>. You can't connect to or start an instance after you've terminated it.</p> <p>If you do not specify the option to decrement the desired capacity, Amazon EC2 Auto Scaling launches instances to replace the ones that are terminated. </p> <p>By default, Amazon EC2 Auto Scaling balances instances across all Availability Zones. If you decrement the desired capacity, your Auto Scaling group can become unbalanced between Availability Zones. Amazon EC2 Auto Scaling tries to rebalance the group, and rebalancing might terminate instances in other zones. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/auto-scaling-benefits.html#AutoScalingBehavior.InstanceUsage\">Rebalancing Activities</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateInstanceInAutoScalingGroupType"
      },
      "name": "TerminateInstanceInAutoScalingGroup",
      "output": {
        "resultWrapper": "TerminateInstanceInAutoScalingGroupResult",
        "shape": "ActivityType"
      }
    },
    "UpdateAutoScalingGroup": {
      "documentation": "<p>Updates the configuration for the specified Auto Scaling group.</p> <p>To update an Auto Scaling group, specify the name of the group and the parameter that you want to change. Any parameters that you don't specify are not changed by this update request. The new settings take effect on any scaling activities after this call returns. </p> <p>If you associate a new launch configuration or template with an Auto Scaling group, all new instances will get the updated configuration. Existing instances continue to run with the configuration that they were originally launched with. When you update a group to specify a mixed instances policy instead of a launch configuration or template, existing instances may be replaced to match the new purchasing options that you specified in the policy. For example, if the group currently has 100% On-Demand capacity and the policy specifies 50% Spot capacity, this means that half of your instances will be gradually terminated and relaunched as Spot Instances. When replacing instances, Amazon EC2 Auto Scaling launches new instances before terminating the old ones, so that updating your group does not compromise the performance or availability of your application.</p> <p>Note the following about changing <code>DesiredCapacity</code>, <code>MaxSize</code>, or <code>MinSize</code>:</p> <ul> <li> <p>If a scale-in event occurs as a result of a new <code>DesiredCapacity</code> value that is lower than the current size of the group, the Auto Scaling group uses its termination policy to determine which instances to terminate.</p> </li> <li> <p>If you specify a new value for <code>MinSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MinSize</code> is larger than the current size of the group, this sets the group's <code>DesiredCapacity</code> to the new <code>MinSize</code> value.</p> </li> <li> <p>If you specify a new value for <code>MaxSize</code> without specifying a value for <code>DesiredCapacity</code>, and the new <code>MaxSize</code> is smaller than the current size of the group, this sets the group's <code>DesiredCapacity</code> to the new <code>MaxSize</code> value.</p> </li> </ul> <p>To see which parameters have been set, use <a>DescribeAutoScalingGroups</a>. You can also view the scaling policies for an Auto Scaling group using <a>DescribePolicies</a>. If the group has scaling policies, you can update them using <a>PutScalingPolicy</a>.</p>",
      "errors": [
        {
          "shape": "ScalingActivityInProgressFault"
        },
        {
          "shape": "ResourceContentionFault"
        },
        {
          "shape": "ServiceLinkedRoleFailure"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateAutoScalingGroupType"
      },
      "name": "UpdateAutoScalingGroup"
    }
  },
  "shapes": {
    "Activities": {
      "member": {
        "shape": "Activity"
      },
      "type": "list"
    },
    "ActivitiesType": {
      "members": {
        "Activities": {
          "documentation": "<p>The scaling activities. Activities are sorted by start time. Activities still in progress are described first.</p>",
          "shape": "Activities"
        },
        "NextToken": {
          "documentation": "<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "Activities"
      ],
      "type": "structure"
    },
    "Activity": {
      "documentation": "<p>Describes scaling activity, which is a long-running process that represents a change to your Auto Scaling group, such as changing its size or replacing an instance.</p>",
      "members": {
        "ActivityId": {
          "documentation": "<p>The ID of the activity.</p>",
          "shape": "XmlString"
        },
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "Cause": {
          "documentation": "<p>The reason the activity began.</p>",
          "shape": "XmlStringMaxLen1023"
        },
        "Description": {
          "documentation": "<p>A friendly, more verbose description of the activity.</p>",
          "shape": "XmlString"
        },
        "Details": {
          "documentation": "<p>The details about the activity.</p>",
          "shape": "XmlString"
        },
        "EndTime": {
          "documentation": "<p>The end time of the activity.</p>",
          "shape": "TimestampType"
        },
        "Progress": {
          "documentation": "<p>A value between 0 and 100 that indicates the progress of the activity.</p>",
          "shape": "Progress"
        },
        "StartTime": {
          "documentation": "<p>The start time of the activity.</p>",
          "shape": "TimestampType"
        },
        "StatusCode": {
          "documentation": "<p>The current status of the activity.</p>",
          "shape": "ScalingActivityStatusCode"
        },
        "StatusMessage": {
          "documentation": "<p>A friendly, more verbose description of the activity status.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "required": [
        "ActivityId",
        "AutoScalingGroupName",
        "Cause",
        "StartTime",
        "StatusCode"
      ],
      "type": "structure"
    },
    "ActivityIds": {
      "member": {
        "shape": "XmlString"
      },
      "type": "list"
    },
    "ActivityType": {
      "members": {
        "Activity": {
          "documentation": "<p>A scaling activity.</p>",
          "shape": "Activity"
        }
      },
      "type": "structure"
    },
    "AdjustmentType": {
      "documentation": "<p>Describes a policy adjustment type.</p>",
      "members": {
        "AdjustmentType": {
          "documentation": "<p>The policy adjustment type. The valid values are <code>ChangeInCapacity</code>, <code>ExactCapacity</code>, and <code>PercentChangeInCapacity</code>.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "AdjustmentTypes": {
      "member": {
        "shape": "AdjustmentType"
      },
      "type": "list"
    },
    "Alarm": {
      "documentation": "<p>Describes an alarm.</p>",
      "members": {
        "AlarmARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the alarm.</p>",
          "shape": "ResourceName"
        },
        "AlarmName": {
          "documentation": "<p>The name of the alarm.</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "Alarms": {
      "member": {
        "shape": "Alarm"
      },
      "type": "list"
    },
    "AlreadyExistsFault": {
      "documentation": "<p>You already have an Auto Scaling group or launch configuration with this name.</p>",
      "error": {
        "code": "AlreadyExists",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "message": {
          "documentation": "<p/>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "type": "structure"
    },
    "AsciiStringMaxLen255": {
      "max": 255,
      "min": 1,
      "pattern": "[A-Za-z0-9\\-_\\/]+",
      "type": "string"
    },
    "AssociatePublicIpAddress": {
      "type": "boolean"
    },
    "AttachInstancesQuery": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "InstanceIds": {
          "documentation": "<p>The IDs of the instances. You can specify up to 20 instances.</p>",
          "shape": "InstanceIds"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ],
      "type": "structure"
    },
    "AttachLoadBalancerTargetGroupsResultType": {
      "members": {},
      "type": "structure"
    },
    "AttachLoadBalancerTargetGroupsType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "TargetGroupARNs": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the target groups. You can specify up to 10 target groups.</p>",
          "shape": "TargetGroupARNs"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "TargetGroupARNs"
      ],
      "type": "structure"
    },
    "AttachLoadBalancersResultType": {
      "members": {},
      "type": "structure"
    },
    "AttachLoadBalancersType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "LoadBalancerNames": {
          "documentation": "<p>The names of the load balancers. You can specify up to 10 load balancers.</p>",
          "shape": "LoadBalancerNames"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "LoadBalancerNames"
      ],
      "type": "structure"
    },
    "AutoScalingGroup": {
      "documentation": "<p>Describes an Auto Scaling group.</p>",
      "members": {
        "AutoScalingGroupARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "AvailabilityZones": {
          "documentation": "<p>One or more Availability Zones for the group.</p>",
          "shape": "AvailabilityZones"
        },
        "CreatedTime": {
          "documentation": "<p>The date and time the group was created.</p>",
          "shape": "TimestampType"
        },
        "DefaultCooldown": {
          "documentation": "<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start.</p>",
          "shape": "Cooldown"
        },
        "DesiredCapacity": {
          "documentation": "<p>The desired size of the group.</p>",
          "shape": "AutoScalingGroupDesiredCapacity"
        },
        "EnabledMetrics": {
          "documentation": "<p>The metrics enabled for the group.</p>",
          "shape": "EnabledMetrics"
        },
        "HealthCheckGracePeriod": {
          "documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status of an EC2 instance that has come into service.</p>",
          "shape": "HealthCheckGracePeriod"
        },
        "HealthCheckType": {
          "documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>. If you configure an Auto Scaling group to use ELB health checks, it considers the instance unhealthy if it fails either the EC2 status checks or the load balancer health checks.</p>",
          "shape": "XmlStringMaxLen32"
        },
        "Instances": {
          "documentation": "<p>The EC2 instances associated with the group.</p>",
          "shape": "Instances"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The name of the associated launch configuration.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template for the group.</p>",
          "shape": "LaunchTemplateSpecification"
        },
        "LoadBalancerNames": {
          "documentation": "<p>One or more load balancers associated with the group.</p>",
          "shape": "LoadBalancerNames"
        },
        "MaxInstanceLifetime": {
          "documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p> <p>Valid Range: Minimum value of 604800.</p>",
          "shape": "MaxInstanceLifetime"
        },
        "MaxSize": {
          "documentation": "<p>The maximum size of the group.</p>",
          "shape": "AutoScalingGroupMaxSize"
        },
        "MinSize": {
          "documentation": "<p>The minimum size of the group.</p>",
          "shape": "AutoScalingGroupMinSize"
        },
        "MixedInstancesPolicy": {
          "documentation": "<p>The mixed instances policy for the group.</p>",
          "shape": "MixedInstancesPolicy"
        },
        "NewInstancesProtectedFromScaleIn": {
          "documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling when scaling in.</p>",
          "shape": "InstanceProtected"
        },
        "PlacementGroup": {
          "documentation": "<p>The name of the placement group into which to launch your instances, if any.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "ServiceLinkedRoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other AWS services on your behalf.</p>",
          "shape": "ResourceName"
        },
        "Status": {
          "documentation": "<p>The current state of the group when <a>DeleteAutoScalingGroup</a> is in progress.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "SuspendedProcesses": {
          "documentation": "<p>The suspended processes associated with the group.</p>",
          "shape": "SuspendedProcesses"
        },
        "Tags": {
          "documentation": "<p>The tags for the group.</p>",
          "shape": "TagDescriptionList"
        },
        "TargetGroupARNs": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the target groups for your load balancer.</p>",
          "shape": "TargetGroupARNs"
        },
        "TerminationPolicies": {
          "documentation": "<p>The termination policies for the group.</p>",
          "shape": "TerminationPolicies"
        },
        "VPCZoneIdentifier": {
          "documentation": "<p>One or more subnet IDs, if applicable, separated by commas.</p>",
          "shape": "XmlStringMaxLen2047"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "MinSize",
        "MaxSize",
        "DesiredCapacity",
        "DefaultCooldown",
        "AvailabilityZones",
        "HealthCheckType",
        "CreatedTime"
      ],
      "type": "structure"
    },
    "AutoScalingGroupDesiredCapacity": {
      "type": "integer"
    },
    "AutoScalingGroupMaxSize": {
      "type": "integer"
    },
    "AutoScalingGroupMinSize": {
      "type": "integer"
    },
    "AutoScalingGroupNames": {
      "member": {
        "shape": "ResourceName"
      },
      "type": "list"
    },
    "AutoScalingGroupNamesType": {
      "members": {
        "AutoScalingGroupNames": {
          "documentation": "<p>The names of the Auto Scaling groups. Each name can be a maximum of 1600 characters. By default, you can only specify up to 50 names. You can optionally increase this limit using the <code>MaxRecords</code> parameter.</p> <p>If you omit this parameter, all Auto Scaling groups are described.</p>",
          "shape": "AutoScalingGroupNames"
        },
        "MaxRecords": {
          "documentation": "<p>The maximum number of items to return with this call. The default value is <code>50</code> and the maximum value is <code>100</code>.</p>",
          "shape": "MaxRecords"
        },
        "NextToken": {
          "documentation": "<p>The token for the next set of items to return. (You received this token from a previous call.)</p>",
          "shape": "XmlString"
        }
      },
      "type": "structure"
    },
    "AutoScalingGroups": {
      "member": {
        "shape": "AutoScalingGroup"
      },
      "type": "list"
    },
    "AutoScalingGroupsType": {
      "members": {
        "AutoScalingGroups": {
          "documentation": "<p>The groups.</p>",
          "shape": "AutoScalingGroups"
        },
        "NextToken": {
          "documentation": "<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>",
          "shape": "XmlString"
        }
      },
      "required": [
        "AutoScalingGroups"
      ],
      "type": "structure"
    },
    "AutoScalingInstanceDetails": {
      "documentation": "<p>Describes an EC2 instance associated with an Auto Scaling group.</p>",
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group for the instance.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone for the instance.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "HealthStatus": {
          "documentation": "<p>The last reported health status of this instance. \"Healthy\" means that the instance is healthy and should remain in service. \"Unhealthy\" means that the instance is unhealthy and Amazon EC2 Auto Scaling should terminate and replace it.</p>",
          "shape": "XmlStringMaxLen32"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance.</p>",
          "shape": "XmlStringMaxLen19"
        },
        "InstanceType": {
          "documentation": "<p>The instance type of the EC2 instance.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The launch configuration used to launch the instance. This value is not available if you attached the instance to the Auto Scaling group.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template for the instance.</p>",
          "shape": "LaunchTemplateSpecification"
        },
        "LifecycleState": {
          "documentation": "<p>The lifecycle state for the instance.</p>",
          "shape": "XmlStringMaxLen32"
        },
        "ProtectedFromScaleIn": {
          "documentation": "<p>Indicates whether the instance is protected from termination by Amazon EC2 Auto Scaling when scaling in.</p>",
          "shape": "InstanceProtected"
        },
        "WeightedCapacity": {
          "documentation": "<p>The number of capacity units contributed by the instance based on its instance type.</p> <p>Valid Range: Minimum value of 1. Maximum value of 999.</p>",
          "shape": "XmlStringMaxLen32"
        }
      },
      "required": [
        "InstanceId",
        "AutoScalingGroupName",
        "AvailabilityZone",
        "LifecycleState",
        "HealthStatus",
        "ProtectedFromScaleIn"
      ],
      "type": "structure"
    },
    "AutoScalingInstances": {
      "member": {
        "shape": "AutoScalingInstanceDetails"
      },
      "type": "list"
    },
    "AutoScalingInstancesType": {
      "members": {
        "AutoScalingInstances": {
          "documentation": "<p>The instances.</p>",
          "shape": "AutoScalingInstances"
        },
        "NextToken": {
          "documentation": "<p>A string that indicates that the response contains more items than can be returned in a single response. To receive additional items, specify this string for the <code>NextToken</code> value when requesting the next set of items. This value is null when there are no more items to return.</p>",
          "shape": "XmlString"
        }
      },
      "type": "structure"
    },
    "AutoScalingNotificationTypes": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "type": "list"
    },
    "AvailabilityZones": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "min": 1,
      "type": "list"
    },
    "BatchDeleteScheduledActionAnswer": {
      "members": {
        "FailedScheduledActions": {
          "documentation": "<p>The names of the scheduled actions that could not be deleted, including an error message.</p>",
          "shape": "FailedScheduledUpdateGroupActionRequests"
        }
      },
      "type": "structure"
    },
    "BatchDeleteScheduledActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "ScheduledActionNames": {
          "documentation": "<p>The names of the scheduled actions to delete. The maximum number allowed is 50. </p>",
          "shape": "ScheduledActionNames"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ScheduledActionNames"
      ],
      "type": "structure"
    },
    "BatchPutScheduledUpdateGroupActionAnswer": {
      "members": {
        "FailedScheduledUpdateGroupActions": {
          "documentation": "<p>The names of the scheduled actions that could not be created or updated, including an error message.</p>",
          "shape": "FailedScheduledUpdateGroupActionRequests"
        }
      },
      "type": "structure"
    },
    "BatchPutScheduledUpdateGroupActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "ScheduledUpdateGroupActions": {
          "documentation": "<p>One or more scheduled actions. The maximum number allowed is 50.</p>",
          "shape": "ScheduledUpdateGroupActionRequests"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ScheduledUpdateGroupActions"
      ],
      "type": "structure"
    },
    "BlockDeviceEbsDeleteOnTermination": {
      "type": "boolean"
    },
    "BlockDeviceEbsEncrypted": {
      "type": "boolean"
    },
    "BlockDeviceEbsIops": {
      "max": 20000,
      "min": 100,
      "type": "integer"
    },
    "BlockDeviceEbsVolumeSize": {
      "max": 16384,
      "min": 1,
      "type": "integer"
    },
    "BlockDeviceEbsVolumeType": {
      "max": 255,
      "min": 1,
      "type": "string"
    },
    "BlockDeviceMapping": {
      "documentation": "<p>Describes a block device mapping.</p>",
      "members": {
        "DeviceName": {
          "documentation": "<p>The device name exposed to the EC2 instance (for example, <code>/dev/sdh</code> or <code>xvdh</code>). For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/device_naming.html\">Device Naming on Linux Instances</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "Ebs": {
          "documentation": "<p>The information about the Amazon EBS volume.</p>",
          "shape": "Ebs"
        },
        "NoDevice": {
          "documentation": "<p>Suppresses a device mapping.</p> <p>If this parameter is true for the root device, the instance might fail the EC2 health check. In that case, Amazon EC2 Auto Scaling launches a replacement instance.</p>",
          "shape": "NoDevice"
        },
        "VirtualName": {
          "documentation": "<p>The name of the virtual device (for example, <code>ephemeral0</code>).</p>",
          "shape": "XmlStringMaxLen255"
        }
      },
      "required": [
        "DeviceName"
      ],
      "type": "structure"
    },
    "BlockDeviceMappings": {
      "member": {
        "shape": "BlockDeviceMapping"
      },
      "type": "list"
    },
    "ClassicLinkVPCSecurityGroups": {
      "member": {
        "shape": "XmlStringMaxLen255"
      },
      "type": "list"
    },
    "CompleteLifecycleActionAnswer": {
      "members": {},
      "type": "structure"
    },
    "CompleteLifecycleActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance.</p>",
          "shape": "XmlStringMaxLen19"
        },
        "LifecycleActionResult": {
          "documentation": "<p>The action for the group to take. This parameter can be either <code>CONTINUE</code> or <code>ABANDON</code>.</p>",
          "shape": "LifecycleActionResult"
        },
        "LifecycleActionToken": {
          "documentation": "<p>A universally unique identifier (UUID) that identifies a specific lifecycle action associated with an instance. Amazon EC2 Auto Scaling sends this token to the notification target you specified when you created the lifecycle hook.</p>",
          "shape": "LifecycleActionToken"
        },
        "LifecycleHookName": {
          "documentation": "<p>The name of the lifecycle hook.</p>",
          "shape": "AsciiStringMaxLen255"
        }
      },
      "required": [
        "LifecycleHookName",
        "AutoScalingGroupName",
        "LifecycleActionResult"
      ],
      "type": "structure"
    },
    "Cooldown": {
      "type": "integer"
    },
    "CreateAutoScalingGroupType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group. This name must be unique per Region per account.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "AvailabilityZones": {
          "documentation": "<p>One or more Availability Zones for the group. This parameter is optional if you specify one or more subnets for <code>VPCZoneIdentifier</code>.</p> <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required to launch instances into EC2-Classic.</p>",
          "shape": "AvailabilityZones"
        },
        "DefaultCooldown": {
          "documentation": "<p>The amount of time, in seconds, after a scaling activity completes before another scaling activity can start. The default value is <code>300</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/Cooldown.html\">Scaling Cooldowns</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "Cooldown"
        },
        "DesiredCapacity": {
          "documentation": "<p>The number of Amazon EC2 instances that the Auto Scaling group attempts to maintain. This number must be greater than or equal to the minimum size of the group and less than or equal to the maximum size of the group. If you do not specify a desired capacity, the default is the minimum size of the group.</p>",
          "shape": "AutoScalingGroupDesiredCapacity"
        },
        "HealthCheckGracePeriod": {
          "documentation": "<p>The amount of time, in seconds, that Amazon EC2 Auto Scaling waits before checking the health status of an EC2 instance that has come into service. During this time, any health check failures for the instance are ignored. The default value is <code>0</code>.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html#health-check-grace-period\">Health Check Grace Period</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Conditional: This parameter is required if you are adding an <code>ELB</code> health check.</p>",
          "shape": "HealthCheckGracePeriod"
        },
        "HealthCheckType": {
          "documentation": "<p>The service to use for the health checks. The valid values are <code>EC2</code> and <code>ELB</code>. The default value is <code>EC2</code>. If you configure an Auto Scaling group to use ELB health checks, it considers the instance unhealthy if it fails either the EC2 status checks or the load balancer health checks.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/healthcheck.html\">Health Checks for Auto Scaling Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "XmlStringMaxLen32"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance used to create a launch configuration for the group.</p> <p>When you specify an ID of an instance, Amazon EC2 Auto Scaling creates a new launch configuration and associates it with the group. This launch configuration derives its attributes from the specified instance, except for the block device mapping.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-asg-from-instance.html\">Create an Auto Scaling Group Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You must specify one of the following parameters in your request: <code>LaunchConfigurationName</code>, <code>LaunchTemplate</code>, <code>InstanceId</code>, or <code>MixedInstancesPolicy</code>.</p>",
          "shape": "XmlStringMaxLen19"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The name of the launch configuration.</p> <p>If you do not specify <code>LaunchConfigurationName</code>, you must specify one of the following parameters: <code>InstanceId</code>, <code>LaunchTemplate</code>, or <code>MixedInstancesPolicy</code>.</p>",
          "shape": "ResourceName"
        },
        "LaunchTemplate": {
          "documentation": "<p>The launch template to use to launch instances.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_LaunchTemplateSpecification.html\">LaunchTemplateSpecification</a> in the <i>Amazon EC2 Auto Scaling API Reference</i>.</p> <p>If you do not specify <code>LaunchTemplate</code>, you must specify one of the following parameters: <code>InstanceId</code>, <code>LaunchConfigurationName</code>, or <code>MixedInstancesPolicy</code>.</p>",
          "shape": "LaunchTemplateSpecification"
        },
        "LifecycleHookSpecificationList": {
          "documentation": "<p>One or more lifecycle hooks.</p>",
          "shape": "LifecycleHookSpecifications"
        },
        "LoadBalancerNames": {
          "documentation": "<p>A list of Classic Load Balancers associated with this Auto Scaling group. For Application Load Balancers and Network Load Balancers, specify a list of target groups using the <code>TargetGroupARNs</code> property instead.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Using a Load Balancer with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "LoadBalancerNames"
        },
        "MaxInstanceLifetime": {
          "documentation": "<p>The maximum amount of time, in seconds, that an instance can be in service.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-max-instance-lifetime.html\">Replacing Auto Scaling Instances Based on Maximum Instance Lifetime</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Valid Range: Minimum value of 604800.</p>",
          "shape": "MaxInstanceLifetime"
        },
        "MaxSize": {
          "documentation": "<p>The maximum size of the group.</p>",
          "shape": "AutoScalingGroupMaxSize"
        },
        "MinSize": {
          "documentation": "<p>The minimum size of the group.</p>",
          "shape": "AutoScalingGroupMinSize"
        },
        "MixedInstancesPolicy": {
          "documentation": "<p>An embedded object that specifies a mixed instances policy. The required parameters must be specified. If optional parameters are unspecified, their default values are used.</p> <p>The policy includes parameters that not only define the distribution of On-Demand Instances and Spot Instances, the maximum price to pay for Spot Instances, and how the Auto Scaling group allocates instance types to fulfill On-Demand and Spot capacity, but also the parameters that specify the instance configuration information\u2014the launch template and instance types.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/APIReference/API_MixedInstancesPolicy.html\">MixedInstancesPolicy</a> in the <i>Amazon EC2 Auto Scaling API Reference</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-purchase-options.html\">Auto Scaling Groups with Multiple Instance Types and Purchase Options</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>You must specify one of the following parameters in your request: <code>LaunchConfigurationName</code>, <code>LaunchTemplate</code>, <code>InstanceId</code>, or <code>MixedInstancesPolicy</code>.</p>",
          "shape": "MixedInstancesPolicy"
        },
        "NewInstancesProtectedFromScaleIn": {
          "documentation": "<p>Indicates whether newly launched instances are protected from termination by Amazon EC2 Auto Scaling when scaling in.</p> <p>For more information about preventing instances from terminating on scale in, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html#instance-protection\">Instance Protection</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "InstanceProtected"
        },
        "PlacementGroup": {
          "documentation": "<p>The name of the placement group into which to launch your instances, if any. A placement group is a logical grouping of instances within a single Availability Zone. You cannot specify multiple Availability Zones and a placement group. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html\">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "ServiceLinkedRoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service-linked role that the Auto Scaling group uses to call other AWS services on your behalf. By default, Amazon EC2 Auto Scaling uses a service-linked role named AWSServiceRoleForAutoScaling, which it creates if it does not exist. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-service-linked-role.html\">Service-Linked Roles</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "ResourceName"
        },
        "Tags": {
          "documentation": "<p>One or more tags.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-tagging.html\">Tagging Auto Scaling Groups and Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "Tags"
        },
        "TargetGroupARNs": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the target groups to associate with the Auto Scaling group. Instances are registered as targets in a target group, and traffic is routed to the target group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/autoscaling-load-balancer.html\">Using a Load Balancer with an Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "TargetGroupARNs"
        },
        "TerminationPolicies": {
          "documentation": "<p>One or more termination policies used to select the instance to terminate. These policies are executed in the order that they are listed.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/as-instance-termination.html\">Controlling Which Instances Auto Scaling Terminates During Scale In</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "TerminationPolicies"
        },
        "VPCZoneIdentifier": {
          "documentation": "<p>A comma-separated list of subnet IDs for your virtual private cloud (VPC).</p> <p>If you specify <code>VPCZoneIdentifier</code> with <code>AvailabilityZones</code>, the subnets that you specify for this parameter must reside in those Availability Zones.</p> <p>Conditional: If your account supports EC2-Classic and VPC, this parameter is required to launch instances into a VPC.</p>",
          "shape": "XmlStringMaxLen2047"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "MinSize",
        "MaxSize"
      ],
      "type": "structure"
    },
    "CreateLaunchConfigurationType": {
      "members": {
        "AssociatePublicIpAddress": {
          "documentation": "<p>For Auto Scaling groups that are running in a virtual private cloud (VPC), specifies whether to assign a public IP address to the group's instances. If you specify <code>true</code>, each instance in the Auto Scaling group receives a unique public IP address. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html\">Launching Auto Scaling Instances in a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify this parameter, you must specify at least one subnet for <code>VPCZoneIdentifier</code> when you create your group.</p> <note> <p>If the instance is launched into a default subnet, the default is to assign a public IP address, unless you disabled the option to assign a public IP address on the subnet. If the instance is launched into a nondefault subnet, the default is not to assign a public IP address, unless you enabled the option to assign a public IP address on the subnet.</p> </note>",
          "shape": "AssociatePublicIpAddress"
        },
        "BlockDeviceMappings": {
          "documentation": "<p>A block device mapping, which specifies the block devices for the instance. You can specify virtual devices and EBS volumes. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html\">Block Device Mapping</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>",
          "shape": "BlockDeviceMappings"
        },
        "ClassicLinkVPCId": {
          "documentation": "<p>The ID of a ClassicLink-enabled VPC to link your EC2-Classic instances to. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the <i>Amazon EC2 User Guide for Linux Instances</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink\">Linking EC2-Classic Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>This parameter can only be used if you are launching EC2-Classic instances.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "ClassicLinkVPCSecurityGroups": {
          "documentation": "<p>The IDs of one or more security groups for the specified ClassicLink-enabled VPC. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/vpc-classiclink.html\">ClassicLink</a> in the <i>Amazon EC2 User Guide for Linux Instances</i> and <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-ClassicLink\">Linking EC2-Classic Instances to a VPC</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you specify the <code>ClassicLinkVPCId</code> parameter, you must specify this parameter.</p>",
          "shape": "ClassicLinkVPCSecurityGroups"
        },
        "EbsOptimized": {
          "documentation": "<p>Specifies whether the launch configuration is optimized for EBS I/O (<code>true</code>) or not (<code>false</code>). The optimization provides dedicated throughput to Amazon EBS and an optimized configuration stack to provide optimal I/O performance. This optimization is not available with all instance types. Additional fees are incurred when you enable EBS optimization for an instance type that is not EBS-optimized by default. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/EBSOptimized.html\">Amazon EBS-Optimized Instances</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>The default value is <code>false</code>.</p>",
          "shape": "EbsOptimized"
        },
        "IamInstanceProfile": {
          "documentation": "<p>The name or the Amazon Resource Name (ARN) of the instance profile associated with the IAM role for the instance. The instance profile contains the IAM role.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/us-iam-role.html\">IAM Role for Applications That Run on Amazon EC2 Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p>",
          "shape": "XmlStringMaxLen1600"
        },
        "ImageId": {
          "documentation": "<p>The ID of the Amazon Machine Image (AMI) that was assigned during registration. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/finding-an-ami.html\">Finding an AMI</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>ImageId</code>.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "InstanceId": {
          "documentation": "<p>The ID of the instance to use to create the launch configuration. The new launch configuration derives attributes from the instance, except for the block device mapping.</p> <p>To create a launch configuration with a block device mapping or override any other instance attributes, specify them as part of the same request.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/create-lc-with-instanceID.html\">Create a Launch Configuration Using an EC2 Instance</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>If you do not specify <code>InstanceId</code>, you must specify both <code>ImageId</code> and <code>InstanceType</code>.</p>",
          "shape": "XmlStringMaxLen19"
        },
        "InstanceMonitoring": {
          "documentation": "<p>Controls whether instances in this group are launched with detailed (<code>true</code>) or basic (<code>false</code>) monitoring.</p> <p>The default value is <code>true</code> (enabled).</p> <important> <p>When detailed monitoring is enabled, Amazon CloudWatch generates metrics every minute and your account is charged a fee. When you disable detailed monitoring, CloudWatch generates metrics every 5 minutes. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/latest/userguide/as-instance-monitoring.html#enable-as-instance-metrics\">Configure Monitoring for Auto Scaling Instances</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> </important>",
          "shape": "InstanceMonitoring"
        },
        "InstanceType": {
          "documentation": "<p>Specifies the instance type of the EC2 instance.</p> <p>For information about available instance types, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html#AvailableInstanceTypes\">Available Instance Types</a> in the <i>Amazon EC2 User Guide for Linux Instances.</i> </p> <p>If you do not specify <code>InstanceId</code>, you must specify <code>InstanceType</code>.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "KernelId": {
          "documentation": "<p>The ID of the kernel associated with the AMI.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "KeyName": {
          "documentation": "<p>The name of the key pair. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-key-pairs.html\">Amazon EC2 Key Pairs</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "LaunchConfigurationName": {
          "documentation": "<p>The name of the launch configuration. This name must be unique per Region per account.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "PlacementTenancy": {
          "documentation": "<p>The tenancy of the instance. An instance with <code>dedicated</code> tenancy runs on isolated, single-tenant hardware and can only be launched into a VPC.</p> <p>To launch dedicated instances into a shared tenancy VPC (a VPC with the instance placement tenancy attribute set to <code>default</code>), you must set the value of this parameter to <code>dedicated</code>.</p> <p>If you specify <code>PlacementTenancy</code>, you must specify at least one subnet for <code>VPCZoneIdentifier</code> when you create your group.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-in-vpc.html#as-vpc-tenancy\">Instance Placement Tenancy</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <p>Valid Values: <code>default</code> | <code>dedicated</code> </p>",
          "shape": "XmlStringMaxLen64"
        },
        "RamdiskId": {
          "documentation": "<p>The ID of the RAM disk to select.</p>",
          "shape": "XmlStringMaxLen255"
        },
        "SecurityGroups": {
          "documentation": "<p>A list that contains the security groups to assign to the instances in the Auto Scaling group.</p> <p>[EC2-VPC] Specify the security group IDs. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_SecurityGroups.html\">Security Groups for Your VPC</a> in the <i>Amazon Virtual Private Cloud User Guide</i>.</p> <p>[EC2-Classic] Specify either the security group names or the security group IDs. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/using-network-security.html\">Amazon EC2 Security Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>",
          "shape": "SecurityGroups"
        },
        "SpotPrice": {
          "documentation": "<p>The maximum hourly price to be paid for any Spot Instance launched to fulfill the request. Spot Instances are launched when the price you specify exceeds the current Spot price. For more information, see <a href=\"https://docs.aws.amazon.com/autoscaling/ec2/userguide/asg-launch-spot-instances.html\">Launching Spot Instances in Your Auto Scaling Group</a> in the <i>Amazon EC2 Auto Scaling User Guide</i>.</p> <note> <p>When you change your maximum price by creating a new launch configuration, running instances will continue to run as long as the maximum price for those running instances is higher than the current Spot price.</p> </note>",
          "shape": "SpotPrice"
        },
        "UserData": {
          "documentation": "<p>The Base64-encoded user data to make available to the launched EC2 instances. For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-instance-metadata.html\">Instance Metadata and User Data</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.</p>",
          "shape": "XmlStringUserData"
        }
      },
      "required": [
        "LaunchConfigurationName"
      ],
      "type": "structure"
    },
    "CreateOrUpdateTagsType": {
      "members": {
        "Tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Tags"
      ],
      "type": "structure"
    },
    "CustomizedMetricSpecification": {
      "documentation": "<p>Represents a CloudWatch metric of your choosing for a target tracking scaling policy to use with Amazon EC2 Auto Scaling.</p> <p>To create your customized metric specification:</p> <ul> <li> <p>Add values for each required parameter from CloudWatch. You can use an existing metric, or a new metric that you create. To use your own metric, you must first publish the metric to CloudWatch. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/publishingMetrics.html\">Publish Custom Metrics</a> in the <i>Amazon CloudWatch User Guide</i>.</p> </li> <li> <p>Choose a metric that changes proportionally with capacity. The value of the metric should increase or decrease in inverse proportion to the number of capacity units. That is, the value of the metric should decrease when capacity increases.</p> </li> </ul> <p>For more information about CloudWatch, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/monitoring/cloudwatch_concepts.html\">Amazon CloudWatch Concepts</a>.</p>",
      "members": {
        "Dimensions": {
          "documentation": "<p>The dimensions of the metric.</p> <p>Conditional: If you published your metric with dimensions, you must specify the same dimensions in your scaling policy.</p>",
          "shape": "MetricDimensions"
        },
        "MetricName": {
          "documentation": "<p>The name of the metric.</p>",
          "shape": "MetricName"
        },
        "Namespace": {
          "documentation": "<p>The namespace of the metric.</p>",
          "shape": "MetricNamespace"
        },
        "Statistic": {
          "documentation": "<p>The statistic of the metric.</p>",
          "shape": "MetricStatistic"
        },
        "Unit": {
          "documentation": "<p>The unit of the metric.</p>",
          "shape": "MetricUnit"
        }
      },
      "required": [
        "MetricName",
        "Namespace",
        "Statistic"
      ],
      "type": "structure"
    },
    "DeleteAutoScalingGroupType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "ForceDelete": {
          "documentation": "<p>Specifies that the group is to be deleted along with all instances associated with the group, without waiting for all instances to be terminated. This parameter also deletes any lifecycle actions associated with the group.</p>",
          "shape": "ForceDelete"
        }
      },
      "required": [
        "AutoScalingGroupName"
      ],
      "type": "structure"
    },
    "DeleteLifecycleHookAnswer": {
      "members": {},
      "type": "structure"
    },
    "DeleteLifecycleHookType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "LifecycleHookName": {
          "documentation": "<p>The name of the lifecycle hook.</p>",
          "shape": "AsciiStringMaxLen255"
        }
      },
      "required": [
        "LifecycleHookName",
        "AutoScalingGroupName"
      ],
      "type": "structure"
    },
    "DeleteNotificationConfigurationType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "TopicARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Amazon Simple Notification Service (Amazon SNS) topic.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "TopicARN"
      ],
      "type": "structure"
    },
    "DeletePolicyType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "PolicyName": {
          "documentation": "<p>The name or Amazon Resource Name (ARN) of the policy.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "PolicyName"
      ],
      "type": "structure"
    },
    "DeleteScheduledActionType": {
      "members": {
        "AutoScalingGroupName": {
          "documentation": "<p>The name of the Auto Scaling group.</p>",
          "shape": "ResourceName"
        },
        "ScheduledActionName": {
          "documentation": "<p>The name of the action to delete.</p>",
          "shape": "ResourceName"
        }
      },
      "required": [
        "AutoScalingGroupName",
        "ScheduledActionName"
      ],
      "type": "structure"
    },
    "DeleteTagsType": {
      "members": {
        "Tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "Tags"
      ],
      "type": "structure"
    },
    "DescribeAccountLimitsAnswer": {
      "members": {
        "MaxNumberOfAutoScalingGroups": {
          "documentation": "<p>The maximum number of groups allowed for your AWS account. The default is 200 groups per AWS Region.</p>",
          "shape": "MaxNumberOfAutoScalingGroups"
        },
        "MaxNumberOfLaunchConfigurations": {
          "documentation": "<p>The maximum number of launch configurations allowed for your AWS account. The default is 200 launch configurations per AWS Region.</p>",
          "shape": "MaxNumberOfLaunchConfigurations"
        },
        "NumberOfAutoScalingGroups": {
          "documentation": "<p>The current number of groups for your AWS account.</p>",
          "shape": "NumberOfAutoScalingGroups"
        },
        "NumberOfLaunchConfigurations": {
          "documentation": "<p>The current number of launch configurations for your AWS account.</p>",
          "shape": "NumberOfLaunchConfigurations"
        }
      },
      "type": "structure"
    },
    "DescribeAdjustmentTypesAnswer": {
      "members": {
        "AdjustmentTypes": {
          "documentation": "<p>The policy adjustment types.</p>",
          "shape": "AdjustmentTypes"
        }
      },
      "type": "structure"
    },
    "DescribeAutoScalingInstancesType": {
      "members": {
        "InstanceIds": {
[...]
