{
  "documentation": "<fullname>Amazon Relational Database Service</fullname> <p> </p> <p>Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and scale a relational database in the cloud. It provides cost-efficient, resizeable capacity for an industry-standard relational database and manages common database administration tasks, freeing up developers to focus on what makes their applications and businesses unique.</p> <p>Amazon RDS gives you access to the capabilities of a MySQL, MariaDB, PostgreSQL, Microsoft SQL Server, Oracle, or Amazon Aurora database server. These capabilities mean that the code, applications, and tools you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS is flexible: you can scale your DB instance's compute resources and storage capacity to meet your application's demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for the resources you use.</p> <p>This interface reference for Amazon RDS contains documentation for a programming or command line interface you can use to manage Amazon RDS. Amazon RDS is asynchronous, which means that some interfaces might require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. The reference structure is as follows, and we list following some related topics from the user guide.</p> <p> <b>Amazon RDS API Reference</b> </p> <ul> <li> <p>For the alphabetical list of API actions, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Operations.html\">API Actions</a>.</p> </li> <li> <p>For the alphabetical list of data types, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Types.html\">Data Types</a>.</p> </li> <li> <p>For a list of common query parameters, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonParameters.html\">Common Parameters</a>.</p> </li> <li> <p>For descriptions of the error codes, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonErrors.html\">Common Errors</a>.</p> </li> </ul> <p> <b>Amazon RDS User Guide</b> </p> <ul> <li> <p>For a summary of the Amazon RDS interfaces, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces\">Available RDS Interfaces</a>.</p> </li> <li> <p>For more information about how to use the Query API, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Using_the_Query_API.html\">Using the Query API</a>.</p> </li> </ul>",
  "metadata": {
    "apiVersion": "2014-10-31",
    "endpointPrefix": "rds",
    "protocol": "query",
    "serviceAbbreviation": "Amazon RDS",
    "serviceFullName": "Amazon Relational Database Service",
    "serviceId": "RDS",
    "signatureVersion": "v4",
    "uid": "rds-2014-10-31",
    "xmlNamespace": "http://rds.amazonaws.com/doc/2014-10-31/"
  },
  "operations": {
    "AddRoleToDBCluster": {
      "documentation": "<p>Associates an Identity and Access Management (IAM) role from an Amazon Aurora DB cluster. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.Authorizing.html\">Authorizing Amazon Aurora MySQL to Access Other AWS Services on Your Behalf</a> in the <i>Amazon Aurora User Guide</i>.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "DBClusterRoleAlreadyExistsFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBClusterRoleQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddRoleToDBClusterMessage"
      },
      "name": "AddRoleToDBCluster"
    },
    "AddRoleToDBInstance": {
      "documentation": "<p>Associates an AWS Identity and Access Management (IAM) role with a DB instance.</p> <note> <p>To add a role to a DB instance, the status of the DB instance must be <code>available</code>.</p> </note>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBInstanceRoleAlreadyExistsFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBInstanceRoleQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddRoleToDBInstanceMessage"
      },
      "name": "AddRoleToDBInstance"
    },
    "AddSourceIdentifierToSubscription": {
      "documentation": "<p>Adds a source identifier to an existing RDS event notification subscription.</p>",
      "errors": [
        {
          "shape": "SubscriptionNotFoundFault"
        },
        {
          "shape": "SourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddSourceIdentifierToSubscriptionMessage"
      },
      "name": "AddSourceIdentifierToSubscription",
      "output": {
        "resultWrapper": "AddSourceIdentifierToSubscriptionResult",
        "shape": "AddSourceIdentifierToSubscriptionResult"
      }
    },
    "AddTagsToResource": {
      "documentation": "<p>Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in a Condition statement in an IAM policy for Amazon RDS.</p> <p>For an overview on tagging Amazon RDS resources, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a>.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AddTagsToResourceMessage"
      },
      "name": "AddTagsToResource"
    },
    "ApplyPendingMaintenanceAction": {
      "documentation": "<p>Applies a pending maintenance action to a resource (for example, to a DB instance).</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ApplyPendingMaintenanceActionMessage"
      },
      "name": "ApplyPendingMaintenanceAction",
      "output": {
        "resultWrapper": "ApplyPendingMaintenanceActionResult",
        "shape": "ApplyPendingMaintenanceActionResult"
      }
    },
    "AuthorizeDBSecurityGroupIngress": {
      "documentation": "<p>Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC).</p> <note> <p>You can't authorize ingress from an EC2 security group in one AWS Region to an Amazon RDS DB instance in another. You can't authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another.</p> </note> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
      "errors": [
        {
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "shape": "AuthorizationAlreadyExistsFault"
        },
        {
          "shape": "AuthorizationQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AuthorizeDBSecurityGroupIngressMessage"
      },
      "name": "AuthorizeDBSecurityGroupIngress",
      "output": {
        "resultWrapper": "AuthorizeDBSecurityGroupIngressResult",
        "shape": "AuthorizeDBSecurityGroupIngressResult"
      }
    },
    "BacktrackDBCluster": {
      "documentation": "<p>Backtracks a DB cluster to a specific time, without creating a new DB cluster.</p> <p>For more information on backtracking, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Managing.Backtrack.html\"> Backtracking an Aurora DB Cluster</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BacktrackDBClusterMessage"
      },
      "name": "BacktrackDBCluster",
      "output": {
        "resultWrapper": "BacktrackDBClusterResult",
        "shape": "DBClusterBacktrack"
      }
    },
    "CancelExportTask": {
      "documentation": "<p>Cancels an export task in progress that is exporting a snapshot to Amazon S3. Any data that has already been written to the S3 bucket isn't removed. </p>",
      "errors": [
        {
          "shape": "ExportTaskNotFoundFault"
        },
        {
          "shape": "InvalidExportTaskStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelExportTaskMessage"
      },
      "name": "CancelExportTask",
      "output": {
        "resultWrapper": "CancelExportTaskResult",
        "shape": "ExportTask"
      }
    },
    "CopyDBClusterParameterGroup": {
      "documentation": "<p>Copies the specified DB cluster parameter group.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "DBParameterGroupQuotaExceededFault"
        },
        {
          "shape": "DBParameterGroupAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBClusterParameterGroupMessage"
      },
      "name": "CopyDBClusterParameterGroup",
      "output": {
        "resultWrapper": "CopyDBClusterParameterGroupResult",
        "shape": "CopyDBClusterParameterGroupResult"
      }
    },
    "CopyDBClusterSnapshot": {
      "documentation": "<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can copy an encrypted DB cluster snapshot from another AWS Region. In that case, the AWS Region where you call the <code>CopyDBClusterSnapshot</code> action is the destination AWS Region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another AWS Region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (AWS KMS) key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> action to be called in the source AWS Region where the DB cluster snapshot is copied from. The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied.</p> <p>The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot is to be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html\"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href=\"https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\"> Signature Version 4 Signing Process</a>.</p> <note> <p>If you are using an AWS SDK tool or the AWS CLI, you can specify <code>SourceRegion</code> (or <code>--source-region</code> for the AWS CLI) instead of specifying <code>PreSignedUrl</code> manually. Specifying <code>SourceRegion</code> autogenerates a pre-signed URL that is a valid request for the operation that can be executed in the source AWS Region.</p> </note> </li> <li> <p> <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the ARN format for the source AWS Region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p> </li> </ul> <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in \"copying\" status.</p> <p>For more information on copying encrypted DB cluster snapshots from one AWS Region to another, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html\"> Copying a Snapshot</a> in the <i>Amazon Aurora User Guide.</i> </p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBClusterSnapshotMessage"
      },
      "name": "CopyDBClusterSnapshot",
      "output": {
        "resultWrapper": "CopyDBClusterSnapshotResult",
        "shape": "CopyDBClusterSnapshotResult"
      }
    },
    "CopyDBParameterGroup": {
      "documentation": "<p>Copies the specified DB parameter group.</p>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "DBParameterGroupAlreadyExistsFault"
        },
        {
          "shape": "DBParameterGroupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBParameterGroupMessage"
      },
      "name": "CopyDBParameterGroup",
      "output": {
        "resultWrapper": "CopyDBParameterGroupResult",
        "shape": "CopyDBParameterGroupResult"
      }
    },
    "CopyDBSnapshot": {
      "documentation": "<p>Copies the specified DB snapshot. The source DB snapshot must be in the \"available\" state.</p> <p>You can copy a snapshot from one AWS Region to another. In that case, the AWS Region where you call the <code>CopyDBSnapshot</code> action is the destination AWS Region for the DB snapshot copy. </p> <p>For more information about copying snapshots, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopyDBSnapshot\">Copying a DB Snapshot</a> in the <i>Amazon RDS User Guide.</i> </p>",
      "errors": [
        {
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "InvalidDBSnapshotStateFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyDBSnapshotMessage"
      },
      "name": "CopyDBSnapshot",
      "output": {
        "resultWrapper": "CopyDBSnapshotResult",
        "shape": "CopyDBSnapshotResult"
      }
    },
    "CopyOptionGroup": {
      "documentation": "<p>Copies the specified option group.</p>",
      "errors": [
        {
          "shape": "OptionGroupAlreadyExistsFault"
        },
        {
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "shape": "OptionGroupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyOptionGroupMessage"
      },
      "name": "CopyOptionGroup",
      "output": {
        "resultWrapper": "CopyOptionGroupResult",
        "shape": "CopyOptionGroupResult"
      }
    },
    "CreateCustomAvailabilityZone": {
      "documentation": "<p>Creates a custom Availability Zone (AZ).</p> <p>A custom AZ is an on-premises AZ that is integrated with a VMware vSphere cluster.</p> <p>For more information about RDS on VMware, see the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/RDSonVMwareUserGuide/rds-on-vmware.html\"> <i>RDS on VMware User Guide.</i> </a> </p>",
      "errors": [
        {
          "shape": "CustomAvailabilityZoneAlreadyExistsFault"
        },
        {
          "shape": "CustomAvailabilityZoneQuotaExceededFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCustomAvailabilityZoneMessage"
      },
      "name": "CreateCustomAvailabilityZone",
      "output": {
        "resultWrapper": "CreateCustomAvailabilityZoneResult",
        "shape": "CreateCustomAvailabilityZoneResult"
      }
    },
    "CreateDBCluster": {
      "documentation": "<p>Creates a new Amazon Aurora DB cluster.</p> <p>You can use the <code>ReplicationSourceIdentifier</code> parameter to create the DB cluster as a read replica of another DB cluster or Amazon RDS MySQL DB instance. For cross-region replication where the DB cluster identified by <code>ReplicationSourceIdentifier</code> is encrypted, you must also specify the <code>PreSignedUrl</code> parameter.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterAlreadyExistsFault"
        },
        {
          "shape": "InsufficientStorageClusterCapacityFault"
        },
        {
          "shape": "DBClusterQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBClusterParameterGroupNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "GlobalClusterNotFoundFault"
        },
        {
          "shape": "InvalidGlobalClusterStateFault"
        },
        {
          "shape": "DomainNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterMessage"
      },
      "name": "CreateDBCluster",
      "output": {
        "resultWrapper": "CreateDBClusterResult",
        "shape": "CreateDBClusterResult"
      }
    },
    "CreateDBClusterEndpoint": {
      "documentation": "<p>Creates a new custom endpoint and associates it with an Amazon Aurora DB cluster.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterEndpointQuotaExceededFault"
        },
        {
          "shape": "DBClusterEndpointAlreadyExistsFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterEndpointMessage"
      },
      "name": "CreateDBClusterEndpoint",
      "output": {
        "resultWrapper": "CreateDBClusterEndpointResult",
        "shape": "DBClusterEndpoint"
      }
    },
    "CreateDBClusterParameterGroup": {
      "documentation": "<p>Creates a new DB cluster parameter group.</p> <p>Parameters in a DB cluster parameter group apply to all of the instances in a DB cluster.</p> <p> A DB cluster parameter group is initially created with the default parameters for the database engine used by instances in the DB cluster. To provide custom values for any of the parameters, you must modify the group after creating it using <code>ModifyDBClusterParameterGroup</code>. Once you've created a DB cluster parameter group, you need to associate it with your DB cluster using <code>ModifyDBCluster</code>. When you associate a new DB cluster parameter group with a running DB cluster, you need to reboot the DB instances in the DB cluster without failover for the new DB cluster parameter group and associated settings to take effect. </p> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the DB cluster parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <code>DescribeDBClusterParameters</code> action to verify that your DB cluster parameter group has been created or modified.</p> </important> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBParameterGroupQuotaExceededFault"
        },
        {
          "shape": "DBParameterGroupAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterParameterGroupMessage"
      },
      "name": "CreateDBClusterParameterGroup",
      "output": {
        "resultWrapper": "CreateDBClusterParameterGroupResult",
        "shape": "CreateDBClusterParameterGroupResult"
      }
    },
    "CreateDBClusterSnapshot": {
      "documentation": "<p>Creates a snapshot of a DB cluster. For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBClusterSnapshotMessage"
      },
      "name": "CreateDBClusterSnapshot",
      "output": {
        "resultWrapper": "CreateDBClusterSnapshotResult",
        "shape": "CreateDBClusterSnapshotResult"
      }
    },
    "CreateDBInstance": {
      "documentation": "<p>Creates a new DB instance.</p>",
      "errors": [
        {
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "shape": "InstanceQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "StorageTypeNotSupportedFault"
        },
        {
          "shape": "AuthorizationNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "DomainNotFoundFault"
        },
        {
          "shape": "BackupPolicyNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceMessage"
      },
      "name": "CreateDBInstance",
      "output": {
        "resultWrapper": "CreateDBInstanceResult",
        "shape": "CreateDBInstanceResult"
      }
    },
    "CreateDBInstanceReadReplica": {
      "documentation": "<p>Creates a new DB instance that acts as a read replica for an existing source DB instance. You can create a read replica for a DB instance running MySQL, MariaDB, Oracle, PostgreSQL, or SQL Server. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_ReadRepl.html\">Working with Read Replicas</a> in the <i>Amazon RDS User Guide</i>. </p> <p>Amazon Aurora doesn't support this action. Call the <code>CreateDBInstance</code> action to create a DB instance for an Aurora DB cluster.</p> <p>All read replica DB instances are created with backups disabled. All other DB instance attributes (including DB security groups and DB parameter groups) are inherited from the source DB instance, except as specified.</p> <important> <p>Your source DB instance must have backup retention enabled. </p> </important>",
      "errors": [
        {
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "shape": "InstanceQuotaExceededFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "shape": "DBSubnetGroupNotAllowedFault"
        },
        {
          "shape": "InvalidDBSubnetGroupFault"
        },
        {
          "shape": "StorageTypeNotSupportedFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        },
        {
          "shape": "DomainNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBInstanceReadReplicaMessage"
      },
      "name": "CreateDBInstanceReadReplica",
      "output": {
        "resultWrapper": "CreateDBInstanceReadReplicaResult",
        "shape": "CreateDBInstanceReadReplicaResult"
      }
    },
    "CreateDBParameterGroup": {
      "documentation": "<p>Creates a new DB parameter group.</p> <p> A DB parameter group is initially created with the default parameters for the database engine used by the DB instance. To provide custom values for any of the parameters, you must modify the group after creating it using <i>ModifyDBParameterGroup</i>. Once you've created a DB parameter group, you need to associate it with your DB instance using <i>ModifyDBInstance</i>. When you associate a new DB parameter group with a running DB instance, you need to reboot the DB instance without failover for the new DB parameter group and associated settings to take effect. </p> <important> <p>After you create a DB parameter group, you should wait at least 5 minutes before creating your first DB instance that uses that DB parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the parameter group is used as the default for a new DB instance. This is especially important for parameters that are critical when creating the default database for a DB instance, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <i>DescribeDBParameters</i> command to verify that your DB parameter group has been created or modified.</p> </important>",
      "errors": [
        {
          "shape": "DBParameterGroupQuotaExceededFault"
        },
        {
          "shape": "DBParameterGroupAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBParameterGroupMessage"
      },
      "name": "CreateDBParameterGroup",
      "output": {
        "resultWrapper": "CreateDBParameterGroupResult",
        "shape": "CreateDBParameterGroupResult"
      }
    },
    "CreateDBProxy": {
      "documentation": "<note> <p>This is prerelease documentation for the RDS Database Proxy feature in preview release. It is subject to change.</p> </note> <p>Creates a new DB proxy.</p>",
      "errors": [
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "DBProxyAlreadyExistsFault"
        },
        {
          "shape": "DBProxyQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBProxyRequest"
      },
      "name": "CreateDBProxy",
      "output": {
        "resultWrapper": "CreateDBProxyResult",
        "shape": "CreateDBProxyResponse"
      }
    },
    "CreateDBSecurityGroup": {
      "documentation": "<p>Creates a new DB security group. DB security groups control access to a DB instance.</p> <note> <p>A DB security group controls access to EC2-Classic DB instances that are not in a VPC.</p> </note>",
      "errors": [
        {
          "shape": "DBSecurityGroupAlreadyExistsFault"
        },
        {
          "shape": "DBSecurityGroupQuotaExceededFault"
        },
        {
          "shape": "DBSecurityGroupNotSupportedFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSecurityGroupMessage"
      },
      "name": "CreateDBSecurityGroup",
      "output": {
        "resultWrapper": "CreateDBSecurityGroupResult",
        "shape": "CreateDBSecurityGroupResult"
      }
    },
    "CreateDBSnapshot": {
      "documentation": "<p>Creates a DBSnapshot. The source DBInstance must be in \"available\" state.</p>",
      "errors": [
        {
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSnapshotMessage"
      },
      "name": "CreateDBSnapshot",
      "output": {
        "resultWrapper": "CreateDBSnapshotResult",
        "shape": "CreateDBSnapshotResult"
      }
    },
    "CreateDBSubnetGroup": {
      "documentation": "<p>Creates a new DB subnet group. DB subnet groups must contain at least one subnet in at least two AZs in the AWS Region.</p>",
      "errors": [
        {
          "shape": "DBSubnetGroupAlreadyExistsFault"
        },
        {
          "shape": "DBSubnetGroupQuotaExceededFault"
        },
        {
          "shape": "DBSubnetQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupDoesNotCoverEnoughAZs"
        },
        {
          "shape": "InvalidSubnet"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateDBSubnetGroupMessage"
      },
      "name": "CreateDBSubnetGroup",
      "output": {
        "resultWrapper": "CreateDBSubnetGroupResult",
        "shape": "CreateDBSubnetGroupResult"
      }
    },
    "CreateEventSubscription": {
      "documentation": "<p>Creates an RDS event notification subscription. This action requires a topic Amazon Resource Name (ARN) created by either the RDS console, the SNS console, or the SNS API. To obtain an ARN with SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the type of source (SourceType) you want to be notified of, provide a list of RDS sources (SourceIds) that triggers the events, and provide a list of event categories (EventCategories) for events you want to be notified of. For example, you can specify SourceType = db-instance, SourceIds = mydbinstance1, mydbinstance2 and EventCategories = Availability, Backup.</p> <p>If you specify both the SourceType and SourceIds, such as SourceType = db-instance and SourceIdentifier = myDBInstance1, you are notified of all the db-instance events for the specified source. If you specify a SourceType but do not specify a SourceIdentifier, you receive notice of the events for that source type for all your RDS sources. If you don't specify either the SourceType or the SourceIdentifier, you are notified of events generated from all RDS sources belonging to your customer account.</p> <note> <p>RDS event notification is only available for unencrypted SNS topics. If you specify an encrypted SNS topic, event notifications aren't sent for the topic.</p> </note>",
      "errors": [
        {
          "shape": "EventSubscriptionQuotaExceededFault"
        },
        {
          "shape": "SubscriptionAlreadyExistFault"
        },
        {
          "shape": "SNSInvalidTopicFault"
        },
        {
          "shape": "SNSNoAuthorizationFault"
        },
        {
          "shape": "SNSTopicArnNotFoundFault"
        },
        {
          "shape": "SubscriptionCategoryNotFoundFault"
        },
        {
          "shape": "SourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateEventSubscriptionMessage"
      },
      "name": "CreateEventSubscription",
      "output": {
        "resultWrapper": "CreateEventSubscriptionResult",
        "shape": "CreateEventSubscriptionResult"
      }
    },
    "CreateGlobalCluster": {
      "documentation": "<p> </p> <p> Creates an Aurora global database spread across multiple regions. The global database contains a single primary cluster with read-write capability, and a read-only secondary cluster that receives data from the primary cluster through high-speed replication performed by the Aurora storage subsystem. </p> <p> You can create a global database that is initially empty, and then add a primary cluster and a secondary cluster to it. Or you can specify an existing Aurora cluster during the create operation, and this cluster becomes the primary cluster of the global database. </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "GlobalClusterAlreadyExistsFault"
        },
        {
          "shape": "GlobalClusterQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateGlobalClusterMessage"
      },
      "name": "CreateGlobalCluster",
      "output": {
        "resultWrapper": "CreateGlobalClusterResult",
        "shape": "CreateGlobalClusterResult"
      }
    },
    "CreateOptionGroup": {
      "documentation": "<p>Creates a new option group. You can create up to 20 option groups.</p>",
      "errors": [
        {
          "shape": "OptionGroupAlreadyExistsFault"
        },
        {
          "shape": "OptionGroupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateOptionGroupMessage"
      },
      "name": "CreateOptionGroup",
      "output": {
        "resultWrapper": "CreateOptionGroupResult",
        "shape": "CreateOptionGroupResult"
      }
    },
    "DeleteCustomAvailabilityZone": {
      "documentation": "<p>Deletes a custom Availability Zone (AZ).</p> <p>A custom AZ is an on-premises AZ that is integrated with a VMware vSphere cluster.</p> <p>For more information about RDS on VMware, see the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/RDSonVMwareUserGuide/rds-on-vmware.html\"> <i>RDS on VMware User Guide.</i> </a> </p>",
      "errors": [
        {
          "shape": "CustomAvailabilityZoneNotFoundFault"
        },
        {
          "shape": "KMSKeyNotAccessibleFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCustomAvailabilityZoneMessage"
      },
      "name": "DeleteCustomAvailabilityZone",
      "output": {
        "resultWrapper": "DeleteCustomAvailabilityZoneResult",
        "shape": "DeleteCustomAvailabilityZoneResult"
      }
    },
    "DeleteDBCluster": {
      "documentation": "<p>The DeleteDBCluster action deletes a previously provisioned DB cluster. When you delete a DB cluster, all automated backups for that DB cluster are deleted and can't be recovered. Manual DB cluster snapshots of the specified DB cluster are not deleted.</p> <p/> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBClusterSnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterMessage"
      },
      "name": "DeleteDBCluster",
      "output": {
        "resultWrapper": "DeleteDBClusterResult",
        "shape": "DeleteDBClusterResult"
      }
    },
    "DeleteDBClusterEndpoint": {
      "documentation": "<p>Deletes a custom endpoint and removes it from an Amazon Aurora DB cluster.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBClusterEndpointStateFault"
        },
        {
          "shape": "DBClusterEndpointNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterEndpointMessage"
      },
      "name": "DeleteDBClusterEndpoint",
      "output": {
        "resultWrapper": "DeleteDBClusterEndpointResult",
        "shape": "DBClusterEndpoint"
      }
    },
    "DeleteDBClusterParameterGroup": {
      "documentation": "<p>Deletes a specified DB cluster parameter group. The DB cluster parameter group to be deleted can't be associated with any DB clusters.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBParameterGroupStateFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterParameterGroupMessage"
      },
      "name": "DeleteDBClusterParameterGroup"
    },
    "DeleteDBClusterSnapshot": {
      "documentation": "<p>Deletes a DB cluster snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB cluster snapshot must be in the <code>available</code> state to be deleted.</p> </note> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBClusterSnapshotMessage"
      },
      "name": "DeleteDBClusterSnapshot",
      "output": {
        "resultWrapper": "DeleteDBClusterSnapshotResult",
        "shape": "DeleteDBClusterSnapshotResult"
      }
    },
    "DeleteDBInstance": {
      "documentation": "<p>The DeleteDBInstance action deletes a previously provisioned DB instance. When you delete a DB instance, all automated backups for that instance are deleted and can't be recovered. Manual DB snapshots of the DB instance to be deleted by <code>DeleteDBInstance</code> are not deleted.</p> <p> If you request a final DB snapshot the status of the Amazon RDS DB instance is <code>deleting</code> until the DB snapshot is created. The API action <code>DescribeDBInstance</code> is used to monitor the status of this operation. The action can't be canceled or reverted once submitted. </p> <p>When a DB instance is in a failure state and has a status of <code>failed</code>, <code>incompatible-restore</code>, or <code>incompatible-network</code>, you can only delete it when you skip creation of the final snapshot with the <code>SkipFinalSnapshot</code> parameter.</p> <p>If the specified DB instance is part of an Amazon Aurora DB cluster, you can't delete the DB instance if both of the following conditions are true:</p> <ul> <li> <p>The DB cluster is a read replica of another Amazon Aurora DB cluster.</p> </li> <li> <p>The DB instance is the only instance in the DB cluster.</p> </li> </ul> <p>To delete a DB instance in this case, first call the <code>PromoteReadReplicaDBCluster</code> API action to promote the DB cluster so it's no longer a read replica. After the promotion completes, then call the <code>DeleteDBInstance</code> API action to delete the final instance in the DB cluster.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBSnapshotAlreadyExistsFault"
        },
        {
          "shape": "SnapshotQuotaExceededFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "DBInstanceAutomatedBackupQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBInstanceMessage"
      },
      "name": "DeleteDBInstance",
      "output": {
        "resultWrapper": "DeleteDBInstanceResult",
        "shape": "DeleteDBInstanceResult"
      }
    },
    "DeleteDBInstanceAutomatedBackup": {
      "documentation": "<p>Deletes automated backups based on the source instance's <code>DbiResourceId</code> value or the restorable instance's resource ID.</p>",
      "errors": [
        {
          "shape": "InvalidDBInstanceAutomatedBackupStateFault"
        },
        {
          "shape": "DBInstanceAutomatedBackupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBInstanceAutomatedBackupMessage"
      },
      "name": "DeleteDBInstanceAutomatedBackup",
      "output": {
        "resultWrapper": "DeleteDBInstanceAutomatedBackupResult",
        "shape": "DeleteDBInstanceAutomatedBackupResult"
      }
    },
    "DeleteDBParameterGroup": {
      "documentation": "<p>Deletes a specified DB parameter group. The DB parameter group to be deleted can't be associated with any DB instances.</p>",
      "errors": [
        {
          "shape": "InvalidDBParameterGroupStateFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBParameterGroupMessage"
      },
      "name": "DeleteDBParameterGroup"
    },
    "DeleteDBProxy": {
      "documentation": "<note> <p>This is prerelease documentation for the RDS Database Proxy feature in preview release. It is subject to change.</p> </note> <p>Deletes an existing proxy.</p>",
      "errors": [
        {
          "shape": "DBProxyNotFoundFault"
        },
        {
          "shape": "InvalidDBProxyStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBProxyRequest"
      },
      "name": "DeleteDBProxy",
      "output": {
        "resultWrapper": "DeleteDBProxyResult",
        "shape": "DeleteDBProxyResponse"
      }
    },
    "DeleteDBSecurityGroup": {
      "documentation": "<p>Deletes a DB security group.</p> <note> <p>The specified DB security group must not be associated with any DB instances.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "shape": "DBSecurityGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSecurityGroupMessage"
      },
      "name": "DeleteDBSecurityGroup"
    },
    "DeleteDBSnapshot": {
      "documentation": "<p>Deletes a DB snapshot. If the snapshot is being copied, the copy operation is terminated.</p> <note> <p>The DB snapshot must be in the <code>available</code> state to be deleted.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBSnapshotStateFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSnapshotMessage"
      },
      "name": "DeleteDBSnapshot",
      "output": {
        "resultWrapper": "DeleteDBSnapshotResult",
        "shape": "DeleteDBSnapshotResult"
      }
    },
    "DeleteDBSubnetGroup": {
      "documentation": "<p>Deletes a DB subnet group.</p> <note> <p>The specified database subnet group must not be associated with any DB instances.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "shape": "InvalidDBSubnetStateFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteDBSubnetGroupMessage"
      },
      "name": "DeleteDBSubnetGroup"
    },
    "DeleteEventSubscription": {
      "documentation": "<p>Deletes an RDS event notification subscription.</p>",
      "errors": [
        {
          "shape": "SubscriptionNotFoundFault"
        },
        {
          "shape": "InvalidEventSubscriptionStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteEventSubscriptionMessage"
      },
      "name": "DeleteEventSubscription",
      "output": {
        "resultWrapper": "DeleteEventSubscriptionResult",
        "shape": "DeleteEventSubscriptionResult"
      }
    },
    "DeleteGlobalCluster": {
      "documentation": "<p> Deletes a global database cluster. The primary and secondary clusters must already be detached or destroyed first. </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "GlobalClusterNotFoundFault"
        },
        {
          "shape": "InvalidGlobalClusterStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteGlobalClusterMessage"
      },
      "name": "DeleteGlobalCluster",
      "output": {
        "resultWrapper": "DeleteGlobalClusterResult",
        "shape": "DeleteGlobalClusterResult"
      }
    },
    "DeleteInstallationMedia": {
      "documentation": "<p>Deletes the installation medium for a DB engine that requires an on-premises customer provided license, such as Microsoft SQL Server.</p>",
      "errors": [
        {
          "shape": "InstallationMediaNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteInstallationMediaMessage"
      },
      "name": "DeleteInstallationMedia",
      "output": {
        "resultWrapper": "DeleteInstallationMediaResult",
        "shape": "InstallationMedia"
      }
    },
    "DeleteOptionGroup": {
      "documentation": "<p>Deletes an existing option group.</p>",
      "errors": [
        {
          "shape": "OptionGroupNotFoundFault"
        },
        {
          "shape": "InvalidOptionGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteOptionGroupMessage"
      },
      "name": "DeleteOptionGroup"
    },
    "DeregisterDBProxyTargets": {
      "documentation": "<note> <p>This is prerelease documentation for the RDS Database Proxy feature in preview release. It is subject to change.</p> </note> <p>Remove the association between one or more <code>DBProxyTarget</code> data structures and a <code>DBProxyTargetGroup</code>.</p>",
      "errors": [
        {
          "shape": "DBProxyTargetNotFoundFault"
        },
        {
          "shape": "DBProxyTargetGroupNotFoundFault"
        },
        {
          "shape": "DBProxyNotFoundFault"
        },
        {
          "shape": "InvalidDBProxyStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeregisterDBProxyTargetsRequest"
      },
      "name": "DeregisterDBProxyTargets",
      "output": {
        "resultWrapper": "DeregisterDBProxyTargetsResult",
        "shape": "DeregisterDBProxyTargetsResponse"
      }
    },
    "DescribeAccountAttributes": {
      "documentation": "<p>Lists all of the attributes for a customer account. The attributes include Amazon RDS quotas for the account, such as the number of DB instances allowed. The description for a quota includes the quota name, current usage toward that quota, and the quota's maximum value.</p> <p>This command doesn't take any parameters.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountAttributesMessage"
      },
      "name": "DescribeAccountAttributes",
      "output": {
        "resultWrapper": "DescribeAccountAttributesResult",
        "shape": "AccountAttributesMessage"
      }
    },
    "DescribeCertificates": {
      "documentation": "<p>Lists the set of CA certificates provided by Amazon RDS for this AWS account.</p>",
      "errors": [
        {
          "shape": "CertificateNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCertificatesMessage"
      },
      "name": "DescribeCertificates",
      "output": {
        "resultWrapper": "DescribeCertificatesResult",
        "shape": "CertificateMessage"
      }
    },
    "DescribeCustomAvailabilityZones": {
      "documentation": "<p>Returns information about custom Availability Zones (AZs).</p> <p>A custom AZ is an on-premises AZ that is integrated with a VMware vSphere cluster.</p> <p>For more information about RDS on VMware, see the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/RDSonVMwareUserGuide/rds-on-vmware.html\"> <i>RDS on VMware User Guide.</i> </a> </p>",
      "errors": [
        {
          "shape": "CustomAvailabilityZoneNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCustomAvailabilityZonesMessage"
      },
      "name": "DescribeCustomAvailabilityZones",
      "output": {
        "resultWrapper": "DescribeCustomAvailabilityZonesResult",
        "shape": "CustomAvailabilityZoneMessage"
      }
    },
    "DescribeDBClusterBacktracks": {
      "documentation": "<p>Returns information about backtracks for a DB cluster.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "DBClusterBacktrackNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterBacktracksMessage"
      },
      "name": "DescribeDBClusterBacktracks",
      "output": {
        "resultWrapper": "DescribeDBClusterBacktracksResult",
        "shape": "DBClusterBacktrackMessage"
      }
    },
    "DescribeDBClusterEndpoints": {
      "documentation": "<p>Returns information about endpoints for an Amazon Aurora DB cluster.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterEndpointsMessage"
      },
      "name": "DescribeDBClusterEndpoints",
      "output": {
        "resultWrapper": "DescribeDBClusterEndpointsResult",
        "shape": "DBClusterEndpointMessage"
      }
    },
    "DescribeDBClusterParameterGroups": {
      "documentation": "<p> Returns a list of <code>DBClusterParameterGroup</code> descriptions. If a <code>DBClusterParameterGroupName</code> parameter is specified, the list will contain only the description of the specified DB cluster parameter group. </p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterParameterGroupsMessage"
      },
      "name": "DescribeDBClusterParameterGroups",
      "output": {
        "resultWrapper": "DescribeDBClusterParameterGroupsResult",
        "shape": "DBClusterParameterGroupsMessage"
      }
    },
    "DescribeDBClusterParameters": {
      "documentation": "<p>Returns the detailed parameter list for a particular DB cluster parameter group.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterParametersMessage"
      },
      "name": "DescribeDBClusterParameters",
      "output": {
        "resultWrapper": "DescribeDBClusterParametersResult",
        "shape": "DBClusterParameterGroupDetails"
      }
    },
    "DescribeDBClusterSnapshotAttributes": {
      "documentation": "<p>Returns a list of DB cluster snapshot attribute names and values for a manual DB cluster snapshot.</p> <p>When sharing snapshots with other AWS accounts, <code>DescribeDBClusterSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the AWS accounts that are authorized to copy or restore the manual DB cluster snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual DB cluster snapshot is public and can be copied or restored by all AWS accounts.</p> <p>To add or remove access for an AWS account to copy or restore a manual DB cluster snapshot, or to make the manual DB cluster snapshot public or private, use the <code>ModifyDBClusterSnapshotAttribute</code> API action.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterSnapshotAttributesMessage"
      },
      "name": "DescribeDBClusterSnapshotAttributes",
      "output": {
        "resultWrapper": "DescribeDBClusterSnapshotAttributesResult",
        "shape": "DescribeDBClusterSnapshotAttributesResult"
      }
    },
    "DescribeDBClusterSnapshots": {
      "documentation": "<p>Returns information about DB cluster snapshots. This API action supports pagination.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClusterSnapshotsMessage"
      },
      "name": "DescribeDBClusterSnapshots",
      "output": {
        "resultWrapper": "DescribeDBClusterSnapshotsResult",
        "shape": "DBClusterSnapshotMessage"
      }
    },
    "DescribeDBClusters": {
      "documentation": "<p>Returns information about provisioned Aurora DB clusters. This API supports pagination.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This operation can also return information for Amazon Neptune DB instances and Amazon DocumentDB instances.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBClustersMessage"
      },
      "name": "DescribeDBClusters",
      "output": {
        "resultWrapper": "DescribeDBClustersResult",
        "shape": "DBClusterMessage"
      }
    },
    "DescribeDBEngineVersions": {
      "documentation": "<p>Returns a list of the available DB engines.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBEngineVersionsMessage"
      },
      "name": "DescribeDBEngineVersions",
      "output": {
        "resultWrapper": "DescribeDBEngineVersionsResult",
        "shape": "DBEngineVersionMessage"
      }
    },
    "DescribeDBInstanceAutomatedBackups": {
      "documentation": "<p>Displays backups for both current and deleted instances. For example, use this operation to find details about automated backups for previously deleted instances. Current instances with retention periods greater than zero (0) are returned for both the <code>DescribeDBInstanceAutomatedBackups</code> and <code>DescribeDBInstances</code> operations.</p> <p>All parameters are optional.</p>",
      "errors": [
        {
          "shape": "DBInstanceAutomatedBackupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBInstanceAutomatedBackupsMessage"
      },
      "name": "DescribeDBInstanceAutomatedBackups",
      "output": {
        "resultWrapper": "DescribeDBInstanceAutomatedBackupsResult",
        "shape": "DBInstanceAutomatedBackupMessage"
      }
    },
    "DescribeDBInstances": {
      "documentation": "<p>Returns information about provisioned RDS instances. This API supports pagination.</p> <note> <p>This operation can also return information for Amazon Neptune DB instances and Amazon DocumentDB instances.</p> </note>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBInstancesMessage"
      },
      "name": "DescribeDBInstances",
      "output": {
        "resultWrapper": "DescribeDBInstancesResult",
        "shape": "DBInstanceMessage"
      }
    },
    "DescribeDBLogFiles": {
      "documentation": "<p>Returns a list of DB log files for the DB instance.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBLogFilesMessage"
      },
      "name": "DescribeDBLogFiles",
      "output": {
        "resultWrapper": "DescribeDBLogFilesResult",
        "shape": "DescribeDBLogFilesResponse"
      }
    },
    "DescribeDBParameterGroups": {
      "documentation": "<p> Returns a list of <code>DBParameterGroup</code> descriptions. If a <code>DBParameterGroupName</code> is specified, the list will contain only the description of the specified DB parameter group. </p>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParameterGroupsMessage"
      },
      "name": "DescribeDBParameterGroups",
      "output": {
        "resultWrapper": "DescribeDBParameterGroupsResult",
        "shape": "DBParameterGroupsMessage"
      }
    },
    "DescribeDBParameters": {
      "documentation": "<p>Returns the detailed parameter list for a particular DB parameter group.</p>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBParametersMessage"
      },
      "name": "DescribeDBParameters",
      "output": {
        "resultWrapper": "DescribeDBParametersResult",
        "shape": "DBParameterGroupDetails"
      }
    },
    "DescribeDBProxies": {
      "documentation": "<note> <p>This is prerelease documentation for the RDS Database Proxy feature in preview release. It is subject to change.</p> </note> <p>Returns information about DB proxies.</p>",
      "errors": [
        {
          "shape": "DBProxyNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBProxiesRequest"
      },
      "name": "DescribeDBProxies",
      "output": {
        "resultWrapper": "DescribeDBProxiesResult",
        "shape": "DescribeDBProxiesResponse"
      }
    },
    "DescribeDBProxyTargetGroups": {
      "documentation": "<note> <p>This is prerelease documentation for the RDS Database Proxy feature in preview release. It is subject to change.</p> </note> <p>Returns information about DB proxy target groups, represented by <code>DBProxyTargetGroup</code> data structures.</p>",
      "errors": [
        {
          "shape": "DBProxyNotFoundFault"
        },
        {
          "shape": "DBProxyTargetGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBProxyStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBProxyTargetGroupsRequest"
      },
      "name": "DescribeDBProxyTargetGroups",
      "output": {
        "resultWrapper": "DescribeDBProxyTargetGroupsResult",
        "shape": "DescribeDBProxyTargetGroupsResponse"
      }
    },
    "DescribeDBProxyTargets": {
      "documentation": "<note> <p>This is prerelease documentation for the RDS Database Proxy feature in preview release. It is subject to change.</p> </note> <p>Returns information about <code>DBProxyTarget</code> objects. This API supports pagination.</p>",
      "errors": [
        {
          "shape": "DBProxyNotFoundFault"
        },
        {
          "shape": "DBProxyTargetNotFoundFault"
        },
        {
          "shape": "DBProxyTargetGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBProxyStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBProxyTargetsRequest"
      },
      "name": "DescribeDBProxyTargets",
      "output": {
        "resultWrapper": "DescribeDBProxyTargetsResult",
        "shape": "DescribeDBProxyTargetsResponse"
      }
    },
    "DescribeDBSecurityGroups": {
      "documentation": "<p> Returns a list of <code>DBSecurityGroup</code> descriptions. If a <code>DBSecurityGroupName</code> is specified, the list will contain only the descriptions of the specified DB security group. </p>",
      "errors": [
        {
          "shape": "DBSecurityGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSecurityGroupsMessage"
      },
      "name": "DescribeDBSecurityGroups",
      "output": {
        "resultWrapper": "DescribeDBSecurityGroupsResult",
        "shape": "DBSecurityGroupMessage"
      }
    },
    "DescribeDBSnapshotAttributes": {
      "documentation": "<p>Returns a list of DB snapshot attribute names and values for a manual DB snapshot.</p> <p>When sharing snapshots with other AWS accounts, <code>DescribeDBSnapshotAttributes</code> returns the <code>restore</code> attribute and a list of IDs for the AWS accounts that are authorized to copy or restore the manual DB snapshot. If <code>all</code> is included in the list of values for the <code>restore</code> attribute, then the manual DB snapshot is public and can be copied or restored by all AWS accounts.</p> <p>To add or remove access for an AWS account to copy or restore a manual DB snapshot, or to make the manual DB snapshot public or private, use the <code>ModifyDBSnapshotAttribute</code> API action.</p>",
      "errors": [
        {
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSnapshotAttributesMessage"
      },
      "name": "DescribeDBSnapshotAttributes",
      "output": {
        "resultWrapper": "DescribeDBSnapshotAttributesResult",
        "shape": "DescribeDBSnapshotAttributesResult"
      }
    },
    "DescribeDBSnapshots": {
      "documentation": "<p>Returns information about DB snapshots. This API action supports pagination.</p>",
      "errors": [
        {
          "shape": "DBSnapshotNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSnapshotsMessage"
      },
      "name": "DescribeDBSnapshots",
      "output": {
        "resultWrapper": "DescribeDBSnapshotsResult",
        "shape": "DBSnapshotMessage"
      }
    },
    "DescribeDBSubnetGroups": {
      "documentation": "<p>Returns a list of DBSubnetGroup descriptions. If a DBSubnetGroupName is specified, the list will contain only the descriptions of the specified DBSubnetGroup.</p> <p>For an overview of CIDR ranges, go to the <a href=\"http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing\">Wikipedia Tutorial</a>. </p>",
      "errors": [
        {
          "shape": "DBSubnetGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeDBSubnetGroupsMessage"
      },
      "name": "DescribeDBSubnetGroups",
      "output": {
        "resultWrapper": "DescribeDBSubnetGroupsResult",
        "shape": "DBSubnetGroupMessage"
      }
    },
    "DescribeEngineDefaultClusterParameters": {
      "documentation": "<p>Returns the default engine and system parameter information for the cluster database engine.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngineDefaultClusterParametersMessage"
      },
      "name": "DescribeEngineDefaultClusterParameters",
      "output": {
        "resultWrapper": "DescribeEngineDefaultClusterParametersResult",
        "shape": "DescribeEngineDefaultClusterParametersResult"
      }
    },
    "DescribeEngineDefaultParameters": {
      "documentation": "<p>Returns the default engine and system parameter information for the specified database engine.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEngineDefaultParametersMessage"
      },
      "name": "DescribeEngineDefaultParameters",
      "output": {
        "resultWrapper": "DescribeEngineDefaultParametersResult",
        "shape": "DescribeEngineDefaultParametersResult"
      }
    },
    "DescribeEventCategories": {
      "documentation": "<p>Displays a list of categories for all event source types, or, if specified, for a specified source type. You can see a list of the event categories and source types in the <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Events.html\"> Events</a> topic in the <i>Amazon RDS User Guide.</i> </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventCategoriesMessage"
      },
      "name": "DescribeEventCategories",
      "output": {
        "resultWrapper": "DescribeEventCategoriesResult",
        "shape": "EventCategoriesMessage"
      }
    },
    "DescribeEventSubscriptions": {
      "documentation": "<p>Lists all the subscription descriptions for a customer account. The description for a subscription includes SubscriptionName, SNSTopicARN, CustomerID, SourceType, SourceID, CreationTime, and Status.</p> <p>If you specify a SubscriptionName, lists the description for that subscription.</p>",
      "errors": [
        {
          "shape": "SubscriptionNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventSubscriptionsMessage"
      },
      "name": "DescribeEventSubscriptions",
      "output": {
        "resultWrapper": "DescribeEventSubscriptionsResult",
        "shape": "EventSubscriptionsMessage"
      }
    },
    "DescribeEvents": {
      "documentation": "<p>Returns events related to DB instances, DB security groups, DB snapshots, and DB parameter groups for the past 14 days. Events specific to a particular DB instance, DB security group, database snapshot, or DB parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeEventsMessage"
      },
      "name": "DescribeEvents",
      "output": {
        "resultWrapper": "DescribeEventsResult",
        "shape": "EventsMessage"
      }
    },
    "DescribeExportTasks": {
      "documentation": "<p>Returns information about a snapshot export to Amazon S3. This API operation supports pagination. </p>",
      "errors": [
        {
          "shape": "ExportTaskNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeExportTasksMessage"
      },
      "name": "DescribeExportTasks",
      "output": {
        "resultWrapper": "DescribeExportTasksResult",
        "shape": "ExportTasksMessage"
      }
    },
    "DescribeGlobalClusters": {
      "documentation": "<p> Returns information about Aurora global database clusters. This API supports pagination. </p> <p> For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "GlobalClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeGlobalClustersMessage"
      },
      "name": "DescribeGlobalClusters",
      "output": {
        "resultWrapper": "DescribeGlobalClustersResult",
        "shape": "GlobalClustersMessage"
      }
    },
    "DescribeInstallationMedia": {
      "documentation": "<p>Describes the available installation media for a DB engine that requires an on-premises customer provided license, such as Microsoft SQL Server.</p>",
      "errors": [
        {
          "shape": "InstallationMediaNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeInstallationMediaMessage"
      },
      "name": "DescribeInstallationMedia",
      "output": {
        "resultWrapper": "DescribeInstallationMediaResult",
        "shape": "InstallationMediaMessage"
      }
    },
    "DescribeOptionGroupOptions": {
      "documentation": "<p>Describes all available options.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOptionGroupOptionsMessage"
      },
      "name": "DescribeOptionGroupOptions",
      "output": {
        "resultWrapper": "DescribeOptionGroupOptionsResult",
        "shape": "OptionGroupOptionsMessage"
      }
    },
    "DescribeOptionGroups": {
      "documentation": "<p>Describes the available option groups.</p>",
      "errors": [
        {
          "shape": "OptionGroupNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOptionGroupsMessage"
      },
      "name": "DescribeOptionGroups",
      "output": {
        "resultWrapper": "DescribeOptionGroupsResult",
        "shape": "OptionGroups"
      }
    },
    "DescribeOrderableDBInstanceOptions": {
      "documentation": "<p>Returns a list of orderable DB instance options for the specified engine.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeOrderableDBInstanceOptionsMessage"
      },
      "name": "DescribeOrderableDBInstanceOptions",
      "output": {
        "resultWrapper": "DescribeOrderableDBInstanceOptionsResult",
        "shape": "OrderableDBInstanceOptionsMessage"
      }
    },
    "DescribePendingMaintenanceActions": {
      "documentation": "<p>Returns a list of resources (for example, DB instances) that have at least one pending maintenance action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePendingMaintenanceActionsMessage"
      },
      "name": "DescribePendingMaintenanceActions",
      "output": {
        "resultWrapper": "DescribePendingMaintenanceActionsResult",
        "shape": "PendingMaintenanceActionsMessage"
      }
    },
    "DescribeReservedDBInstances": {
      "documentation": "<p>Returns information about reserved DB instances for this account, or about a specified reserved DB instance.</p>",
      "errors": [
        {
          "shape": "ReservedDBInstanceNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReservedDBInstancesMessage"
      },
      "name": "DescribeReservedDBInstances",
      "output": {
        "resultWrapper": "DescribeReservedDBInstancesResult",
        "shape": "ReservedDBInstanceMessage"
      }
    },
    "DescribeReservedDBInstancesOfferings": {
      "documentation": "<p>Lists available reserved DB instance offerings.</p>",
      "errors": [
        {
          "shape": "ReservedDBInstancesOfferingNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeReservedDBInstancesOfferingsMessage"
      },
      "name": "DescribeReservedDBInstancesOfferings",
      "output": {
        "resultWrapper": "DescribeReservedDBInstancesOfferingsResult",
        "shape": "ReservedDBInstancesOfferingMessage"
      }
    },
    "DescribeSourceRegions": {
      "documentation": "<p>Returns a list of the source AWS Regions where the current AWS Region can create a read replica or copy a DB snapshot from. This API action supports pagination.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeSourceRegionsMessage"
      },
      "name": "DescribeSourceRegions",
      "output": {
        "resultWrapper": "DescribeSourceRegionsResult",
        "shape": "SourceRegionMessage"
      }
    },
    "DescribeValidDBInstanceModifications": {
      "documentation": "<p>You can call <code>DescribeValidDBInstanceModifications</code> to learn what modifications you can make to your DB instance. You can use this information when you call <code>ModifyDBInstance</code>. </p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeValidDBInstanceModificationsMessage"
      },
      "name": "DescribeValidDBInstanceModifications",
      "output": {
        "resultWrapper": "DescribeValidDBInstanceModificationsResult",
        "shape": "DescribeValidDBInstanceModificationsResult"
      }
    },
    "DownloadDBLogFilePortion": {
      "documentation": "<p>Downloads all or a portion of the specified log file, up to 1 MB in size.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBLogFileNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DownloadDBLogFilePortionMessage"
      },
      "name": "DownloadDBLogFilePortion",
      "output": {
        "resultWrapper": "DownloadDBLogFilePortionResult",
        "shape": "DownloadDBLogFilePortionDetails"
      }
    },
    "FailoverDBCluster": {
      "documentation": "<p>Forces a failover for a DB cluster.</p> <p>A failover for a DB cluster promotes one of the Aurora Replicas (read-only instances) in the DB cluster to be the primary instance (the cluster writer).</p> <p>Amazon Aurora will automatically fail over to an Aurora Replica, if one exists, when the primary instance fails. You can force a failover when you want to simulate a failure of a primary instance for testing. Because each instance in a DB cluster has its own endpoint address, you will need to clean up and re-establish any existing connections that use those endpoint addresses when the failover is complete.</p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "FailoverDBClusterMessage"
      },
      "name": "FailoverDBCluster",
      "output": {
        "resultWrapper": "FailoverDBClusterResult",
        "shape": "FailoverDBClusterResult"
      }
    },
    "ImportInstallationMedia": {
      "documentation": "<p>Imports the installation media for a DB engine that requires an on-premises customer provided license, such as SQL Server.</p>",
      "errors": [
        {
          "shape": "CustomAvailabilityZoneNotFoundFault"
        },
        {
          "shape": "InstallationMediaAlreadyExistsFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ImportInstallationMediaMessage"
      },
      "name": "ImportInstallationMedia",
      "output": {
        "resultWrapper": "ImportInstallationMediaResult",
        "shape": "InstallationMedia"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists all tags on an Amazon RDS resource.</p> <p>For an overview on tagging an Amazon RDS resource, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html\">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide</i>.</p>",
      "errors": [
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSnapshotNotFoundFault"
        },
        {
          "shape": "DBClusterNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagsForResourceMessage"
      },
      "name": "ListTagsForResource",
      "output": {
        "resultWrapper": "ListTagsForResourceResult",
        "shape": "TagListMessage"
      }
    },
    "ModifyCertificates": {
      "documentation": "<p>Override the system-default Secure Sockets Layer/Transport Layer Security (SSL/TLS) certificate for Amazon RDS for new DB instances temporarily, or remove the override.</p> <p>By using this operation, you can specify an RDS-approved SSL/TLS certificate for new DB instances that is different from the default certificate provided by RDS. You can also use this operation to remove the override, so that new DB instances use the default certificate provided by RDS.</p> <p>You might need to override the default certificate in the following situations:</p> <ul> <li> <p>You already migrated your applications to support the latest certificate authority (CA) certificate, but the new CA certificate is not yet the RDS default CA certificate for the specified AWS Region.</p> </li> <li> <p>RDS has already moved to a new default CA certificate for the specified AWS Region, but you are still in the process of supporting the new CA certificate. In this case, you temporarily need additional time to finish your application changes.</p> </li> </ul> <p>For more information about rotating your SSL/TLS certificate for RDS DB engines, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.SSL-certificate-rotation.html\"> Rotating Your SSL/TLS Certificate</a> in the <i>Amazon RDS User Guide</i>.</p> <p>For more information about rotating your SSL/TLS certificate for Aurora DB engines, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/UsingWithRDS.SSL-certificate-rotation.html\"> Rotating Your SSL/TLS Certificate</a> in the <i>Amazon Aurora User Guide</i>.</p>",
      "errors": [
        {
          "shape": "CertificateNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyCertificatesMessage"
      },
      "name": "ModifyCertificates",
      "output": {
        "resultWrapper": "ModifyCertificatesResult",
        "shape": "ModifyCertificatesResult"
      }
    },
    "ModifyCurrentDBClusterCapacity": {
      "documentation": "<p>Set the capacity of an Aurora Serverless DB cluster to a specific value.</p> <p>Aurora Serverless scales seamlessly based on the workload on the DB cluster. In some cases, the capacity might not scale fast enough to meet a sudden change in workload, such as a large number of new transactions. Call <code>ModifyCurrentDBClusterCapacity</code> to set the capacity explicitly.</p> <p>After this call sets the DB cluster capacity, Aurora Serverless can automatically scale the DB cluster based on the cooldown period for scaling up and the cooldown period for scaling down.</p> <p>For more information about Aurora Serverless, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/aurora-serverless.html\">Using Amazon Aurora Serverless</a> in the <i>Amazon Aurora User Guide</i>.</p> <important> <p>If you call <code>ModifyCurrentDBClusterCapacity</code> with the default <code>TimeoutAction</code>, connections that prevent Aurora Serverless from finding a scaling point might be dropped. For more information about scaling points, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/aurora-serverless.how-it-works.html#aurora-serverless.how-it-works.auto-scaling\"> Autoscaling for Aurora Serverless</a> in the <i>Amazon Aurora User Guide</i>.</p> </important> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBClusterCapacityFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyCurrentDBClusterCapacityMessage"
      },
      "name": "ModifyCurrentDBClusterCapacity",
      "output": {
        "resultWrapper": "ModifyCurrentDBClusterCapacityResult",
        "shape": "DBClusterCapacityInfo"
      }
    },
    "ModifyDBCluster": {
      "documentation": "<p>Modify a setting for an Amazon Aurora DB cluster. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "DBSubnetGroupNotFoundFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "InvalidDBSubnetGroupStateFault"
        },
        {
          "shape": "InvalidSubnet"
        },
        {
          "shape": "DBClusterParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "DBClusterAlreadyExistsFault"
        },
        {
          "shape": "DomainNotFoundFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterMessage"
      },
      "name": "ModifyDBCluster",
      "output": {
        "resultWrapper": "ModifyDBClusterResult",
        "shape": "ModifyDBClusterResult"
      }
    },
    "ModifyDBClusterEndpoint": {
      "documentation": "<p>Modifies the properties of an endpoint in an Amazon Aurora DB cluster.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "InvalidDBClusterStateFault"
        },
        {
          "shape": "InvalidDBClusterEndpointStateFault"
        },
        {
          "shape": "DBClusterEndpointNotFoundFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "InvalidDBInstanceStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterEndpointMessage"
      },
      "name": "ModifyDBClusterEndpoint",
      "output": {
        "resultWrapper": "ModifyDBClusterEndpointResult",
        "shape": "DBClusterEndpoint"
      }
    },
    "ModifyDBClusterParameterGroup": {
      "documentation": "<p> Modifies the parameters of a DB cluster parameter group. To modify more than one parameter, submit a list of the following: <code>ParameterName</code>, <code>ParameterValue</code>, and <code>ApplyMethod</code>. A maximum of 20 parameters can be modified in a single request. </p> <p>For more information on Amazon Aurora, see <a href=\"https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html\"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>Changes to dynamic parameters are applied immediately. Changes to static parameters require a reboot without failover to the DB cluster associated with the parameter group before the change can take effect.</p> </note> <important> <p>After you create a DB cluster parameter group, you should wait at least 5 minutes before creating your first DB cluster that uses that DB cluster parameter group as the default parameter group. This allows Amazon RDS to fully complete the create action before the parameter group is used as the default for a new DB cluster. This is especially important for parameters that are critical when creating the default database for a DB cluster, such as the character set for the default database defined by the <code>character_set_database</code> parameter. You can use the <i>Parameter Groups</i> option of the <a href=\"https://console.aws.amazon.com/rds/\">Amazon RDS console</a> or the <code>DescribeDBClusterParameters</code> action to verify that your DB cluster parameter group has been created or modified.</p> <p>If the modified DB cluster parameter group is used by an Aurora Serverless cluster, Aurora applies the update immediately. The cluster restart might interrupt your workload. In that case, your application must reopen any connections and retry any transactions that were active when the parameter changes took effect.</p> </important> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "InvalidDBParameterGroupStateFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterParameterGroupMessage"
      },
      "name": "ModifyDBClusterParameterGroup",
      "output": {
        "resultWrapper": "ModifyDBClusterParameterGroupResult",
        "shape": "DBClusterParameterGroupNameMessage"
      }
    },
    "ModifyDBClusterSnapshotAttribute": {
      "documentation": "<p>Adds an attribute and values to, or removes an attribute and values from, a manual DB cluster snapshot.</p> <p>To share a manual DB cluster snapshot with other AWS accounts, specify <code>restore</code> as the <code>AttributeName</code> and use the <code>ValuesToAdd</code> parameter to add a list of IDs of the AWS accounts that are authorized to restore the manual DB cluster snapshot. Use the value <code>all</code> to make the manual DB cluster snapshot public, which means that it can be copied or restored by all AWS accounts. Do not add the <code>all</code> value for any manual DB cluster snapshots that contain private information that you don't want available to all AWS accounts. If a manual DB cluster snapshot is encrypted, it can be shared, but only by specifying a list of authorized AWS account IDs for the <code>ValuesToAdd</code> parameter. You can't use <code>all</code> as a value for that parameter in this case.</p> <p>To view which AWS accounts have access to copy or restore a manual DB cluster snapshot, or whether a manual DB cluster snapshot public or private, use the <code>DescribeDBClusterSnapshotAttributes</code> API action.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>",
      "errors": [
        {
          "shape": "DBClusterSnapshotNotFoundFault"
        },
        {
          "shape": "InvalidDBClusterSnapshotStateFault"
        },
        {
          "shape": "SharedSnapshotQuotaExceededFault"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ModifyDBClusterSnapshotAttributeMessage"
      },
      "name": "ModifyDBClusterSnapshotAttribute",
      "output": {
        "resultWrapper": "ModifyDBClusterSnapshotAttributeResult",
        "shape": "ModifyDBClusterSnapshotAttributeResult"
      }
    },
    "ModifyDBInstance": {
      "documentation": "<p>Modifies settings for a DB instance. You can change one or more database configuration parameters by specifying these parameters and the new values in the request. To learn what modifications you can make to your DB instance, call <code>DescribeValidDBInstanceModifications</code> before you call <code>ModifyDBInstance</code>. </p>",
      "errors": [
        {
          "shape": "InvalidDBInstanceStateFault"
        },
        {
          "shape": "InvalidDBSecurityGroupStateFault"
        },
        {
          "shape": "DBInstanceAlreadyExistsFault"
        },
        {
          "shape": "DBInstanceNotFoundFault"
        },
        {
          "shape": "DBSecurityGroupNotFoundFault"
        },
        {
          "shape": "DBParameterGroupNotFoundFault"
        },
        {
          "shape": "InsufficientDBInstanceCapacityFault"
        },
        {
          "shape": "StorageQuotaExceededFault"
        },
        {
          "shape": "InvalidVPCNetworkStateFault"
        },
        {
          "shape": "ProvisionedIopsNotAvailableInAZFault"
        },
        {
          "shape": "OptionGroupNotFoundFault"
        },
[...]
