{
  "documentation": "<p>Savings Plans are a pricing model that offer significant savings on AWS usage (for example, on Amazon EC2 instances). You commit to a consistent amount of usage, in USD per hour, for a term of 1 or 3 years, and receive a lower price for that usage. For more information, see the <a href=\"https://docs.aws.amazon.com/savingsplans/latest/userguide/\">AWS Savings Plans User Guide</a>.</p>",
  "metadata": {
    "apiVersion": "2019-06-28",
    "endpointPrefix": "savingsplans",
    "globalEndpoint": "savingsplans.amazonaws.com",
    "jsonVersion": "1.0",
    "protocol": "rest-json",
    "serviceAbbreviation": "AWSSavingsPlans",
    "serviceFullName": "AWS Savings Plans",
    "serviceId": "savingsplans",
    "signatureVersion": "v4",
    "uid": "savingsplans-2019-06-28"
  },
  "operations": {
    "CreateSavingsPlan": {
      "documentation": "<p>Creates a Savings Plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/CreateSavingsPlan"
      },
      "input": {
        "shape": "CreateSavingsPlanRequest"
      },
      "name": "CreateSavingsPlan",
      "output": {
        "shape": "CreateSavingsPlanResponse"
      }
    },
    "DescribeSavingsPlanRates": {
      "documentation": "<p>Describes the specified Savings Plans rates.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeSavingsPlanRates"
      },
      "input": {
        "shape": "DescribeSavingsPlanRatesRequest"
      },
      "name": "DescribeSavingsPlanRates",
      "output": {
        "shape": "DescribeSavingsPlanRatesResponse"
      }
    },
    "DescribeSavingsPlans": {
      "documentation": "<p>Describes the specified Savings Plans.</p>",
      "errors": [
        {
          "shape": "InternalServerException"
        },
        {
          "shape": "ValidationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeSavingsPlans"
      },
      "input": {
        "shape": "DescribeSavingsPlansRequest"
      },
      "name": "DescribeSavingsPlans",
      "output": {
        "shape": "DescribeSavingsPlansResponse"
      }
    },
    "DescribeSavingsPlansOfferingRates": {
      "documentation": "<p>Describes the specified Savings Plans offering rates.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeSavingsPlansOfferingRates"
      },
      "input": {
        "shape": "DescribeSavingsPlansOfferingRatesRequest"
      },
      "name": "DescribeSavingsPlansOfferingRates",
      "output": {
        "shape": "DescribeSavingsPlansOfferingRatesResponse"
      }
    },
    "DescribeSavingsPlansOfferings": {
      "documentation": "<p>Describes the specified Savings Plans offerings.</p>",
      "errors": [
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/DescribeSavingsPlansOfferings"
      },
      "input": {
        "shape": "DescribeSavingsPlansOfferingsRequest"
      },
      "name": "DescribeSavingsPlansOfferings",
      "output": {
        "shape": "DescribeSavingsPlansOfferingsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "<p>Lists the tags for the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/ListTagsForResource"
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "shape": "ListTagsForResourceResponse"
      }
    },
    "TagResource": {
      "documentation": "<p>Adds the specified tags to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/TagResource"
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource",
      "output": {
        "shape": "TagResourceResponse"
      }
    },
    "UntagResource": {
      "documentation": "<p>Removes the specified tags from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ValidationException"
        },
        {
          "shape": "InternalServerException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/UntagResource"
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource",
      "output": {
        "shape": "UntagResourceResponse"
      }
    }
  },
  "shapes": {
    "Amount": {
      "type": "string"
    },
    "ClientToken": {
      "type": "string"
    },
    "CreateSavingsPlanRequest": {
      "members": {
        "clientToken": {
          "documentation": "<p>Unique, case-sensitive identifier that you provide to ensure the idempotency of the request.</p>",
          "idempotencyToken": true,
          "shape": "ClientToken"
        },
        "commitment": {
          "documentation": "<p>The hourly commitment, in USD. This is a value between 0.001 and 1 million. You cannot specify more than three digits after the decimal point.</p>",
          "shape": "Amount"
        },
        "savingsPlanOfferingId": {
          "documentation": "<p>The ID of the offering.</p>",
          "shape": "SavingsPlanOfferingId"
        },
        "tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "TagMap"
        },
        "upfrontPaymentAmount": {
          "documentation": "<p>The up-front payment amount. This is a whole number between 50 and 99 percent of the total value of the Savings Plan. This parameter is supported only if the payment option is <code>Partial Upfront</code>.</p>",
          "shape": "Amount"
        }
      },
      "required": [
        "savingsPlanOfferingId",
        "commitment"
      ],
      "type": "structure"
    },
    "CreateSavingsPlanResponse": {
      "members": {
        "savingsPlanId": {
          "documentation": "<p>The ID of the Savings Plan.</p>",
          "shape": "SavingsPlanId"
        }
      },
      "type": "structure"
    },
    "CurrencyCode": {
      "enum": [
        "CNY",
        "USD"
      ],
      "type": "string"
    },
    "CurrencyList": {
      "member": {
        "shape": "CurrencyCode"
      },
      "type": "list"
    },
    "DescribeSavingsPlanRatesRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p>",
          "shape": "SavingsPlanRateFilterList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "savingsPlanId": {
          "documentation": "<p>The ID of the Savings Plan.</p>",
          "shape": "SavingsPlanId"
        }
      },
      "required": [
        "savingsPlanId"
      ],
      "type": "structure"
    },
    "DescribeSavingsPlanRatesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "PaginationToken"
        },
        "savingsPlanId": {
          "documentation": "<p>The ID of the Savings Plan.</p>",
          "shape": "SavingsPlanId"
        },
        "searchResults": {
          "documentation": "<p>Information about the Savings Plans rates.</p>",
          "shape": "SavingsPlanRateList"
        }
      },
      "type": "structure"
    },
    "DescribeSavingsPlansOfferingRatesRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p>",
          "shape": "SavingsPlanOfferingRateFiltersList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "operations": {
          "documentation": "<p>The specific AWS operation for the line item in the billing report.</p>",
          "shape": "SavingsPlanRateOperationList"
        },
        "products": {
          "documentation": "<p>The AWS products.</p>",
          "shape": "SavingsPlanProductTypeList"
        },
        "savingsPlanOfferingIds": {
          "documentation": "<p>The IDs of the offerings.</p>",
          "shape": "UUIDs"
        },
        "savingsPlanPaymentOptions": {
          "documentation": "<p>The payment options.</p>",
          "shape": "SavingsPlanPaymentOptionList"
        },
        "savingsPlanTypes": {
          "documentation": "<p>The plan types.</p>",
          "shape": "SavingsPlanTypeList"
        },
        "serviceCodes": {
          "documentation": "<p>The services.</p>",
          "shape": "SavingsPlanRateServiceCodeList"
        },
        "usageTypes": {
          "documentation": "<p>The usage details of the line item in the billing report.</p>",
          "shape": "SavingsPlanRateUsageTypeList"
        }
      },
      "type": "structure"
    },
    "DescribeSavingsPlansOfferingRatesResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "PaginationToken"
        },
        "searchResults": {
          "documentation": "<p>Information about the Savings Plans offering rates.</p>",
          "shape": "SavingsPlanOfferingRatesList"
        }
      },
      "type": "structure"
    },
    "DescribeSavingsPlansOfferingsRequest": {
      "members": {
        "currencies": {
          "documentation": "<p>The currencies.</p>",
          "shape": "CurrencyList"
        },
        "descriptions": {
          "documentation": "<p>The descriptions.</p>",
          "shape": "SavingsPlanDescriptionsList"
        },
        "durations": {
          "documentation": "<p>The durations, in seconds.</p>",
          "shape": "DurationsList"
        },
        "filters": {
          "documentation": "<p>The filters.</p>",
          "shape": "SavingsPlanOfferingFiltersList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
          "shape": "PageSize"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "offeringIds": {
          "documentation": "<p>The IDs of the offerings.</p>",
          "shape": "UUIDs"
        },
        "operations": {
          "documentation": "<p>The specific AWS operation for the line item in the billing report.</p>",
          "shape": "SavingsPlanOperationList"
        },
        "paymentOptions": {
          "documentation": "<p>The payment options.</p>",
          "shape": "SavingsPlanPaymentOptionList"
        },
        "planTypes": {
          "documentation": "<p>The plan type.</p>",
          "shape": "SavingsPlanTypeList"
        },
        "productType": {
          "documentation": "<p>The product type.</p>",
          "shape": "SavingsPlanProductType"
        },
        "serviceCodes": {
          "documentation": "<p>The services.</p>",
          "shape": "SavingsPlanServiceCodeList"
        },
        "usageTypes": {
          "documentation": "<p>The usage details of the line item in the billing report.</p>",
          "shape": "SavingsPlanUsageTypeList"
        }
      },
      "type": "structure"
    },
    "DescribeSavingsPlansOfferingsResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "PaginationToken"
        },
        "searchResults": {
          "documentation": "<p>Information about the Savings Plans offerings.</p>",
          "shape": "SavingsPlanOfferingsList"
        }
      },
      "type": "structure"
    },
    "DescribeSavingsPlansRequest": {
      "members": {
        "filters": {
          "documentation": "<p>The filters.</p>",
          "shape": "SavingsPlanFilterList"
        },
        "maxResults": {
          "documentation": "<p>The maximum number of results to return with a single call. To retrieve additional results, make another call with the returned token value.</p>",
          "shape": "MaxResults"
        },
        "nextToken": {
          "documentation": "<p>The token for the next page of results.</p>",
          "shape": "PaginationToken"
        },
        "savingsPlanArns": {
          "documentation": "<p>The Amazon Resource Names (ARN) of the Savings Plans.</p>",
          "shape": "SavingsPlanArnList"
        },
        "savingsPlanIds": {
          "documentation": "<p>The IDs of the Savings Plans.</p>",
          "shape": "SavingsPlanIdList"
        },
        "states": {
          "documentation": "<p>The states.</p>",
          "shape": "SavingsPlanStateList"
        }
      },
      "type": "structure"
    },
    "DescribeSavingsPlansResponse": {
      "members": {
        "nextToken": {
          "documentation": "<p>The token to use to retrieve the next page of results. This value is null when there are no more results to return.</p>",
          "shape": "PaginationToken"
        },
        "savingsPlans": {
          "documentation": "<p>Information about the Savings Plans.</p>",
          "shape": "SavingsPlanList"
        }
      },
      "type": "structure"
    },
    "DurationsList": {
      "member": {
        "shape": "SavingsPlansDuration"
      },
      "type": "list"
    },
    "EC2InstanceFamily": {
      "type": "string"
    },
    "FilterValuesList": {
      "member": {
        "shape": "JsonSafeFilterValueString"
      },
      "type": "list"
    },
    "InternalServerException": {
      "documentation": "<p>An unexpected error occurred.</p>",
      "error": {
        "httpStatusCode": 500
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "JsonSafeFilterValueString": {
      "pattern": "^[a-zA-Z0-9_ \\/.\\:\\-\\(\\)]+$",
      "type": "string"
    },
    "ListOfStrings": {
      "member": {
        "shape": "String"
      },
      "type": "list"
    },
    "ListTagsForResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "SavingsPlanArn"
        }
      },
      "required": [
        "resourceArn"
      ],
      "type": "structure"
    },
    "ListTagsForResourceResponse": {
      "members": {
        "tags": {
          "documentation": "<p>Information about the tags.</p>",
          "shape": "TagMap"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 1000,
      "min": 1,
      "type": "integer"
    },
    "PageSize": {
      "max": 1000,
      "min": 0,
      "type": "integer"
    },
    "PaginationToken": {
      "max": 1024,
      "pattern": "^[A-Za-z0-9/=\\+]+$",
      "type": "string"
    },
    "ParentSavingsPlanOffering": {
      "documentation": "<p>Information about a Savings Plan offering.</p>",
      "members": {
        "currency": {
          "documentation": "<p>The currency.</p>",
          "shape": "CurrencyCode"
        },
        "durationSeconds": {
          "documentation": "<p>The duration, in seconds.</p>",
          "shape": "SavingsPlansDuration"
        },
        "offeringId": {
          "documentation": "<p>The ID of the offering.</p>",
          "shape": "UUID"
        },
        "paymentOption": {
          "documentation": "<p>The payment option.</p>",
          "shape": "SavingsPlanPaymentOption"
        },
        "planDescription": {
          "documentation": "<p>The description.</p>",
          "shape": "SavingsPlanDescription"
        },
        "planType": {
          "documentation": "<p>The plan type.</p>",
          "shape": "SavingsPlanType"
        }
      },
      "type": "structure"
    },
    "Region": {
      "type": "string"
    },
    "ResourceNotFoundException": {
      "documentation": "<p>The specified resource was not found.</p>",
      "error": {
        "httpStatusCode": 404
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "SavingsPlan": {
      "documentation": "<p>Information about a Savings Plan.</p>",
      "members": {
        "commitment": {
          "documentation": "<p>The hourly commitment, in USD.</p>",
          "shape": "Amount"
        },
        "currency": {
          "documentation": "<p>The currency.</p>",
          "shape": "CurrencyCode"
        },
        "description": {
          "documentation": "<p>The description.</p>",
          "shape": "String"
        },
        "ec2InstanceFamily": {
          "documentation": "<p>The EC2 instance family.</p>",
          "shape": "EC2InstanceFamily"
        },
        "end": {
          "documentation": "<p>The end time.</p>",
          "shape": "String"
        },
        "offeringId": {
          "documentation": "<p>The ID of the offering.</p>",
          "shape": "SavingsPlanOfferingId"
        },
        "paymentOption": {
          "documentation": "<p>The payment option.</p>",
          "shape": "SavingsPlanPaymentOption"
        },
        "productTypes": {
          "documentation": "<p>The product types.</p>",
          "shape": "SavingsPlanProductTypeList"
        },
        "recurringPaymentAmount": {
          "documentation": "<p>The recurring payment amount.</p>",
          "shape": "Amount"
        },
        "region": {
          "documentation": "<p>The AWS Region.</p>",
          "shape": "Region"
        },
        "savingsPlanArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the Savings Plan.</p>",
          "shape": "SavingsPlanArn"
        },
        "savingsPlanId": {
          "documentation": "<p>The ID of the Savings Plan.</p>",
          "shape": "SavingsPlanId"
        },
        "savingsPlanType": {
          "documentation": "<p>The plan type.</p>",
          "shape": "SavingsPlanType"
        },
        "start": {
          "documentation": "<p>The start time.</p>",
          "shape": "String"
        },
        "state": {
          "documentation": "<p>The state.</p>",
          "shape": "SavingsPlanState"
        },
        "tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "TagMap"
        },
        "termDurationInSeconds": {
          "documentation": "<p>The duration of the term, in seconds.</p>",
          "shape": "TermDurationInSeconds"
        },
        "upfrontPaymentAmount": {
          "documentation": "<p>The up-front payment amount.</p>",
          "shape": "Amount"
        }
      },
      "type": "structure"
    },
    "SavingsPlanArn": {
      "pattern": "arn:aws:[a-z]+:([a-z]{2}-[a-z]+-\\d{1}|):(\\d{12}):savingsplan\\/([0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12})$",
      "type": "string"
    },
    "SavingsPlanArnList": {
      "max": 100,
      "member": {
        "shape": "SavingsPlanArn"
      },
      "type": "list"
    },
    "SavingsPlanDescription": {
      "pattern": "^[a-zA-Z0-9_\\- ]+$",
      "type": "string"
    },
    "SavingsPlanDescriptionsList": {
      "member": {
        "shape": "SavingsPlanDescription"
      },
      "type": "list"
    },
    "SavingsPlanFilter": {
      "documentation": "<p>Information about a filter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The filter name.</p>",
          "shape": "SavingsPlansFilterName"
        },
        "values": {
          "documentation": "<p>The filter value.</p>",
          "shape": "ListOfStrings"
        }
      },
      "type": "structure"
    },
    "SavingsPlanFilterList": {
      "member": {
        "shape": "SavingsPlanFilter"
      },
      "type": "list"
    },
    "SavingsPlanId": {
      "type": "string"
    },
    "SavingsPlanIdList": {
      "member": {
        "shape": "SavingsPlanId"
      },
      "type": "list"
    },
    "SavingsPlanList": {
      "member": {
        "shape": "SavingsPlan"
      },
      "type": "list"
    },
    "SavingsPlanOffering": {
      "documentation": "<p>Information about a Savings Plan offering.</p>",
      "members": {
        "currency": {
          "documentation": "<p>The currency.</p>",
          "shape": "CurrencyCode"
        },
        "description": {
          "documentation": "<p>The description.</p>",
          "shape": "SavingsPlanDescription"
        },
        "durationSeconds": {
          "documentation": "<p>The duration, in seconds.</p>",
          "shape": "SavingsPlansDuration"
        },
        "offeringId": {
          "documentation": "<p>The ID of the offering.</p>",
          "shape": "UUID"
        },
        "operation": {
          "documentation": "<p>The specific AWS operation for the line item in the billing report.</p>",
          "shape": "SavingsPlanOperation"
        },
        "paymentOption": {
          "documentation": "<p>The payment option.</p>",
          "shape": "SavingsPlanPaymentOption"
        },
        "planType": {
          "documentation": "<p>The plan type.</p>",
          "shape": "SavingsPlanType"
        },
        "productTypes": {
          "documentation": "<p>The product type.</p>",
          "shape": "SavingsPlanProductTypeList"
        },
        "properties": {
          "documentation": "<p>The properties.</p>",
          "shape": "SavingsPlanOfferingPropertyList"
        },
        "serviceCode": {
          "documentation": "<p>The service.</p>",
          "shape": "SavingsPlanServiceCode"
        },
        "usageType": {
          "documentation": "<p>The usage details of the line item in the billing report.</p>",
          "shape": "SavingsPlanUsageType"
        }
      },
      "type": "structure"
    },
    "SavingsPlanOfferingFilterAttribute": {
      "enum": [
        "region",
        "instanceFamily"
      ],
      "type": "string"
    },
    "SavingsPlanOfferingFilterElement": {
      "documentation": "<p>Information about a filter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The filter name.</p>",
          "shape": "SavingsPlanOfferingFilterAttribute"
        },
        "values": {
          "documentation": "<p>The filter values.</p>",
          "shape": "FilterValuesList"
        }
      },
      "type": "structure"
    },
    "SavingsPlanOfferingFiltersList": {
      "member": {
        "shape": "SavingsPlanOfferingFilterElement"
      },
      "type": "list"
    },
    "SavingsPlanOfferingId": {
      "type": "string"
    },
    "SavingsPlanOfferingProperty": {
      "documentation": "<p>Information about a property.</p>",
      "members": {
        "name": {
          "documentation": "<p>The property name.</p>",
          "shape": "SavingsPlanOfferingPropertyKey"
        },
        "value": {
          "documentation": "<p>The property value.</p>",
          "shape": "JsonSafeFilterValueString"
        }
      },
      "type": "structure"
    },
    "SavingsPlanOfferingPropertyKey": {
      "enum": [
        "region",
        "instanceFamily"
      ],
      "type": "string"
    },
    "SavingsPlanOfferingPropertyList": {
      "member": {
        "shape": "SavingsPlanOfferingProperty"
      },
      "type": "list"
    },
    "SavingsPlanOfferingRate": {
      "documentation": "<p>Information about a Savings Plan offering rate.</p>",
      "members": {
        "operation": {
          "documentation": "<p>The specific AWS operation for the line item in the billing report.</p>",
          "shape": "SavingsPlanRateOperation"
        },
        "productType": {
          "documentation": "<p>The product type.</p>",
          "shape": "SavingsPlanProductType"
        },
        "properties": {
          "documentation": "<p>The properties.</p>",
          "shape": "SavingsPlanOfferingRatePropertyList"
        },
        "rate": {
          "documentation": "<p>The Savings Plan rate.</p>",
          "shape": "SavingsPlanRatePricePerUnit"
        },
        "savingsPlanOffering": {
          "documentation": "<p>The Savings Plan offering.</p>",
          "shape": "ParentSavingsPlanOffering"
        },
        "serviceCode": {
          "documentation": "<p>The service.</p>",
          "shape": "SavingsPlanRateServiceCode"
        },
        "unit": {
          "documentation": "<p>The unit.</p>",
          "shape": "SavingsPlanRateUnit"
        },
        "usageType": {
          "documentation": "<p>The usage details of the line item in the billing report.</p>",
          "shape": "SavingsPlanRateUsageType"
        }
      },
      "type": "structure"
    },
    "SavingsPlanOfferingRateFilterElement": {
      "documentation": "<p>Information about a filter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The filter name.</p>",
          "shape": "SavingsPlanRateFilterAttribute"
        },
        "values": {
          "documentation": "<p>The filter values.</p>",
          "shape": "FilterValuesList"
        }
      },
      "type": "structure"
    },
    "SavingsPlanOfferingRateFiltersList": {
      "member": {
        "shape": "SavingsPlanOfferingRateFilterElement"
      },
      "type": "list"
    },
    "SavingsPlanOfferingRateProperty": {
      "documentation": "<p>Information about a property.</p>",
      "members": {
        "name": {
          "documentation": "<p>The property name.</p>",
          "shape": "JsonSafeFilterValueString"
        },
        "value": {
          "documentation": "<p>The property value.</p>",
          "shape": "JsonSafeFilterValueString"
        }
      },
      "type": "structure"
    },
    "SavingsPlanOfferingRatePropertyList": {
      "member": {
        "shape": "SavingsPlanOfferingRateProperty"
      },
      "type": "list"
    },
    "SavingsPlanOfferingRatesList": {
      "member": {
        "shape": "SavingsPlanOfferingRate"
      },
      "type": "list"
    },
    "SavingsPlanOfferingsList": {
      "member": {
        "shape": "SavingsPlanOffering"
      },
      "type": "list"
    },
    "SavingsPlanOperation": {
      "max": 255,
      "pattern": "^[a-zA-Z0-9_ \\/.:-]*$",
      "type": "string"
    },
    "SavingsPlanOperationList": {
      "member": {
        "shape": "SavingsPlanOperation"
      },
      "type": "list"
    },
    "SavingsPlanPaymentOption": {
      "enum": [
        "All Upfront",
        "Partial Upfront",
        "No Upfront"
      ],
      "type": "string"
    },
    "SavingsPlanPaymentOptionList": {
      "member": {
        "shape": "SavingsPlanPaymentOption"
      },
      "type": "list"
    },
    "SavingsPlanProductType": {
      "enum": [
        "EC2",
        "Fargate",
        "Lambda"
      ],
      "type": "string"
    },
    "SavingsPlanProductTypeList": {
      "member": {
        "shape": "SavingsPlanProductType"
      },
      "type": "list"
    },
    "SavingsPlanRate": {
      "documentation": "<p>Information about a Savings Plan rate.</p>",
      "members": {
        "currency": {
          "documentation": "<p>The currency.</p>",
          "shape": "CurrencyCode"
        },
        "operation": {
          "documentation": "<p>The specific AWS operation for the line item in the billing report.</p>",
          "shape": "SavingsPlanRateOperation"
        },
        "productType": {
          "documentation": "<p>The product type.</p>",
          "shape": "SavingsPlanProductType"
        },
        "properties": {
          "documentation": "<p>The properties.</p>",
          "shape": "SavingsPlanRatePropertyList"
        },
        "rate": {
          "documentation": "<p>The rate.</p>",
          "shape": "Amount"
        },
        "serviceCode": {
          "documentation": "<p>The service.</p>",
          "shape": "SavingsPlanRateServiceCode"
        },
        "unit": {
          "documentation": "<p>The unit.</p>",
          "shape": "SavingsPlanRateUnit"
        },
        "usageType": {
          "documentation": "<p>The usage details of the line item in the billing report.</p>",
          "shape": "SavingsPlanRateUsageType"
        }
      },
      "type": "structure"
    },
    "SavingsPlanRateFilter": {
      "documentation": "<p>Information about a filter.</p>",
      "members": {
        "name": {
          "documentation": "<p>The filter name.</p>",
          "shape": "SavingsPlanRateFilterName"
        },
        "values": {
          "documentation": "<p>The filter values.</p>",
          "shape": "ListOfStrings"
        }
      },
      "type": "structure"
    },
    "SavingsPlanRateFilterAttribute": {
      "enum": [
        "region",
        "instanceFamily",
        "instanceType",
        "productDescription",
        "tenancy",
        "productId"
      ],
      "type": "string"
    },
    "SavingsPlanRateFilterList": {
      "member": {
        "shape": "SavingsPlanRateFilter"
      },
      "type": "list"
    },
    "SavingsPlanRateFilterName": {
      "enum": [
        "region",
        "instanceType",
        "productDescription",
        "tenancy",
        "productType",
        "serviceCode",
        "usageType",
        "operation"
      ],
      "type": "string"
    },
    "SavingsPlanRateList": {
      "member": {
        "shape": "SavingsPlanRate"
      },
      "type": "list"
    },
    "SavingsPlanRateOperation": {
      "max": 255,
      "pattern": "^[a-zA-Z0-9_ \\/.:-]*$",
      "type": "string"
    },
    "SavingsPlanRateOperationList": {
      "member": {
        "shape": "SavingsPlanRateOperation"
      },
      "type": "list"
    },
    "SavingsPlanRatePricePerUnit": {
      "type": "string"
    },
    "SavingsPlanRateProperty": {
      "documentation": "<p>Information about a property.</p>",
      "members": {
        "name": {
          "documentation": "<p>The property name.</p>",
          "shape": "SavingsPlanRatePropertyKey"
        },
        "value": {
          "documentation": "<p>The property value.</p>",
          "shape": "JsonSafeFilterValueString"
        }
      },
      "type": "structure"
    },
    "SavingsPlanRatePropertyKey": {
      "enum": [
        "region",
        "instanceType",
        "instanceFamily",
        "productDescription",
        "tenancy"
      ],
      "type": "string"
    },
    "SavingsPlanRatePropertyList": {
      "member": {
        "shape": "SavingsPlanRateProperty"
      },
      "type": "list"
    },
    "SavingsPlanRateServiceCode": {
      "enum": [
        "AmazonEC2",
        "AmazonECS",
        "AWSLambda"
      ],
      "type": "string"
    },
    "SavingsPlanRateServiceCodeList": {
      "member": {
        "shape": "SavingsPlanRateServiceCode"
      },
      "type": "list"
    },
    "SavingsPlanRateUnit": {
      "enum": [
        "Hrs",
        "Lambda-GB-Second",
        "Request"
      ],
      "type": "string"
    },
    "SavingsPlanRateUsageType": {
      "max": 255,
      "pattern": "^[a-zA-Z0-9_ \\/.:-]+$",
      "type": "string"
    },
    "SavingsPlanRateUsageTypeList": {
      "member": {
        "shape": "SavingsPlanRateUsageType"
      },
      "type": "list"
    },
    "SavingsPlanServiceCode": {
      "max": 255,
      "pattern": "^[a-zA-Z]+$",
      "type": "string"
    },
    "SavingsPlanServiceCodeList": {
      "member": {
        "shape": "SavingsPlanServiceCode"
      },
      "type": "list"
    },
    "SavingsPlanState": {
      "enum": [
        "payment-pending",
        "payment-failed",
        "active",
        "retired"
      ],
      "type": "string"
    },
    "SavingsPlanStateList": {
      "member": {
        "shape": "SavingsPlanState"
      },
      "type": "list"
    },
    "SavingsPlanType": {
      "enum": [
        "Compute",
        "EC2Instance"
      ],
      "type": "string"
    },
    "SavingsPlanTypeList": {
      "member": {
        "shape": "SavingsPlanType"
      },
      "type": "list"
    },
    "SavingsPlanUsageType": {
      "max": 255,
      "pattern": "^[a-zA-Z0-9_ \\/.:-]+$",
      "type": "string"
    },
    "SavingsPlanUsageTypeList": {
      "member": {
        "shape": "SavingsPlanUsageType"
      },
      "type": "list"
    },
    "SavingsPlansDuration": {
      "min": 0,
      "type": "long"
    },
    "SavingsPlansFilterName": {
      "enum": [
        "region",
        "ec2-instance-family",
        "commitment",
        "upfront",
        "term",
        "savings-plan-type",
        "payment-option",
        "start",
        "end"
      ],
      "type": "string"
    },
    "ServiceQuotaExceededException": {
      "documentation": "<p>A service quota has been exceeded.</p>",
      "error": {
        "httpStatusCode": 402
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    },
    "String": {
      "type": "string"
    },
    "TagKey": {
      "type": "string"
    },
    "TagKeyList": {
      "member": {
        "shape": "TagKey"
      },
      "type": "list"
    },
    "TagMap": {
      "key": {
        "shape": "TagKey"
      },
      "type": "map",
      "value": {
        "shape": "TagValue"
      }
    },
    "TagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "SavingsPlanArn"
        },
        "tags": {
          "documentation": "<p>One or more tags. For example, { \"tags\": {\"key1\":\"value1\", \"key2\":\"value2\"} }.</p>",
          "shape": "TagMap"
        }
      },
      "required": [
        "resourceArn",
        "tags"
      ],
      "type": "structure"
    },
    "TagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "TagValue": {
      "type": "string"
    },
    "TermDurationInSeconds": {
      "type": "long"
    },
    "UUID": {
      "pattern": "^(([0-9a-f]+)(-?))+$",
      "type": "string"
    },
    "UUIDs": {
      "member": {
        "shape": "UUID"
      },
      "type": "list"
    },
    "UntagResourceRequest": {
      "members": {
        "resourceArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the resource.</p>",
          "shape": "SavingsPlanArn"
        },
        "tagKeys": {
          "documentation": "<p>The tag keys.</p>",
          "shape": "TagKeyList"
        }
      },
      "required": [
        "resourceArn",
        "tagKeys"
      ],
      "type": "structure"
    },
    "UntagResourceResponse": {
      "members": {},
      "type": "structure"
    },
    "ValidationException": {
      "documentation": "<p>One of the input parameters is not valid.</p>",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "message": {
          "shape": "String"
        }
      },
      "required": [
        "message"
      ],
      "type": "structure"
    }
  },
  "version": "2.0"
}
