{
  "documentation": "<p> Service Quotas is a web service that you can use to manage many of your AWS service quotas. Quotas, also referred to as limits, are the maximum values for a resource, item, or operation. This guide provide descriptions of the Service Quotas actions that you can call from an API. For the Service Quotas user guide, which explains how to use Service Quotas from the console, see <a href=\"https://docs.aws.amazon.com/servicequotas/latest/userguide/intro.html\">What is Service Quotas</a>. </p> <note> <p>AWS provides SDKs that consist of libraries and sample code for programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc...,). The SDKs provide a convenient way to create programmatic access to Service Quotas and AWS. For information about the AWS SDKs, including how to download and install them, see the <a href=\"https://docs.aws.amazon.com/aws.amazon.com/tools\">Tools for Amazon Web Services</a> page.</p> </note>",
  "metadata": {
    "apiVersion": "2019-06-24",
    "endpointPrefix": "servicequotas",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "Service Quotas",
    "serviceId": "Service Quotas",
    "signatureVersion": "v4",
    "targetPrefix": "ServiceQuotasV20190624",
    "uid": "service-quotas-2019-06-24"
  },
  "operations": {
    "AssociateServiceQuotaTemplate": {
      "documentation": "<p>Associates the Service Quotas template with your organization so that when new accounts are created in your organization, the template submits increase requests for the specified service quotas. Use the Service Quotas template to request an increase for any adjustable quota value. After you define the Service Quotas template, use this operation to associate, or enable, the template. </p>",
      "errors": [
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "OrganizationNotInAllFeaturesModeException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateServiceQuotaTemplateRequest"
      },
      "name": "AssociateServiceQuotaTemplate",
      "output": {
        "shape": "AssociateServiceQuotaTemplateResponse"
      }
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplate": {
      "documentation": "<p>Removes a service quota increase request from the Service Quotas template. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "name": "DeleteServiceQuotaIncreaseRequestFromTemplate",
      "output": {
        "shape": "DeleteServiceQuotaIncreaseRequestFromTemplateResponse"
      }
    },
    "DisassociateServiceQuotaTemplate": {
      "documentation": "<p>Disables the Service Quotas template. Once the template is disabled, it does not request quota increases for new accounts in your organization. Disabling the quota template does not apply the quota increase requests from the template. </p> <p> <b>Related operations</b> </p> <ul> <li> <p>To enable the quota template, call <a>AssociateServiceQuotaTemplate</a>. </p> </li> <li> <p>To delete a specific service quota from the template, use <a>DeleteServiceQuotaIncreaseRequestFromTemplate</a>.</p> </li> </ul>",
      "errors": [
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "ServiceQuotaTemplateNotInUseException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateServiceQuotaTemplateRequest"
      },
      "name": "DisassociateServiceQuotaTemplate",
      "output": {
        "shape": "DisassociateServiceQuotaTemplateResponse"
      }
    },
    "GetAWSDefaultServiceQuota": {
      "documentation": "<p>Retrieves the default service quotas values. The Value returned for each quota is the AWS default value, even if the quotas have been increased.. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAWSDefaultServiceQuotaRequest"
      },
      "name": "GetAWSDefaultServiceQuota",
      "output": {
        "shape": "GetAWSDefaultServiceQuotaResponse"
      }
    },
    "GetAssociationForServiceQuotaTemplate": {
      "documentation": "<p>Retrieves the <code>ServiceQuotaTemplateAssociationStatus</code> value from the service. Use this action to determine if the Service Quota template is associated, or enabled. </p>",
      "errors": [
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "ServiceQuotaTemplateNotInUseException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAssociationForServiceQuotaTemplateRequest"
      },
      "name": "GetAssociationForServiceQuotaTemplate",
      "output": {
        "shape": "GetAssociationForServiceQuotaTemplateResponse"
      }
    },
    "GetRequestedServiceQuotaChange": {
      "documentation": "<p>Retrieves the details for a particular increase request. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRequestedServiceQuotaChangeRequest"
      },
      "name": "GetRequestedServiceQuotaChange",
      "output": {
        "shape": "GetRequestedServiceQuotaChangeResponse"
      }
    },
    "GetServiceQuota": {
      "documentation": "<p>Returns the details for the specified service quota. This operation provides a different Value than the <code>GetAWSDefaultServiceQuota</code> operation. This operation returns the applied value for each quota. <code>GetAWSDefaultServiceQuota</code> returns the default AWS value for each quota. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceQuotaRequest"
      },
      "name": "GetServiceQuota",
      "output": {
        "shape": "GetServiceQuotaResponse"
      }
    },
    "GetServiceQuotaIncreaseRequestFromTemplate": {
      "documentation": "<p>Returns the details of the service quota increase request in your template.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetServiceQuotaIncreaseRequestFromTemplateRequest"
      },
      "name": "GetServiceQuotaIncreaseRequestFromTemplate",
      "output": {
        "shape": "GetServiceQuotaIncreaseRequestFromTemplateResponse"
      }
    },
    "ListAWSDefaultServiceQuotas": {
      "documentation": "<p>Lists all default service quotas for the specified AWS service or all AWS services. ListAWSDefaultServiceQuotas is similar to <a>ListServiceQuotas</a> except for the Value object. The Value object returned by <code>ListAWSDefaultServiceQuotas</code> is the default value assigned by AWS. This request returns a list of all service quotas for the specified service. The listing of each you'll see the default values are the values that AWS provides for the quotas. </p> <note> <p>Always check the <code>NextToken</code> response parameter when calling any of the <code>List*</code> operations. These operations can return an unexpected list of results, even when there are more results available. When this happens, the <code>NextToken</code> response parameter contains a value to pass the next call to the same API to request the next part of the list.</p> </note>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAWSDefaultServiceQuotasRequest"
      },
      "name": "ListAWSDefaultServiceQuotas",
      "output": {
        "shape": "ListAWSDefaultServiceQuotasResponse"
      }
    },
    "ListRequestedServiceQuotaChangeHistory": {
      "documentation": "<p>Requests a list of the changes to quotas for a service.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRequestedServiceQuotaChangeHistoryRequest"
      },
      "name": "ListRequestedServiceQuotaChangeHistory",
      "output": {
        "shape": "ListRequestedServiceQuotaChangeHistoryResponse"
      }
    },
    "ListRequestedServiceQuotaChangeHistoryByQuota": {
      "documentation": "<p>Requests a list of the changes to specific service quotas. This command provides additional granularity over the <code>ListRequestedServiceQuotaChangeHistory</code> command. Once a quota change request has reached <code>CASE_CLOSED, APPROVED,</code> or <code>DENIED</code>, the history has been kept for 90 days.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRequestedServiceQuotaChangeHistoryByQuotaRequest"
      },
      "name": "ListRequestedServiceQuotaChangeHistoryByQuota",
      "output": {
        "shape": "ListRequestedServiceQuotaChangeHistoryByQuotaResponse"
      }
    },
    "ListServiceQuotaIncreaseRequestsInTemplate": {
      "documentation": "<p>Returns a list of the quota increase requests in the template. </p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceQuotaIncreaseRequestsInTemplateRequest"
      },
      "name": "ListServiceQuotaIncreaseRequestsInTemplate",
      "output": {
        "shape": "ListServiceQuotaIncreaseRequestsInTemplateResponse"
      }
    },
    "ListServiceQuotas": {
      "documentation": "<p>Lists all service quotas for the specified AWS service. This request returns a list of the service quotas for the specified service. you'll see the default values are the values that AWS provides for the quotas. </p> <note> <p>Always check the <code>NextToken</code> response parameter when calling any of the <code>List*</code> operations. These operations can return an unexpected list of results, even when there are more results available. When this happens, the <code>NextToken</code> response parameter contains a value to pass the next call to the same API to request the next part of the list.</p> </note>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceQuotasRequest"
      },
      "name": "ListServiceQuotas",
      "output": {
        "shape": "ListServiceQuotasResponse"
      }
    },
    "ListServices": {
      "documentation": "<p>Lists the AWS services available in Service Quotas. Not all AWS services are available in Service Quotas. To list the see the list of the service quotas for a specific service, use <a>ListServiceQuotas</a>.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "InvalidPaginationTokenException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServicesRequest"
      },
      "name": "ListServices",
      "output": {
        "shape": "ListServicesResponse"
      }
    },
    "PutServiceQuotaIncreaseRequestIntoTemplate": {
      "documentation": "<p>Defines and adds a quota to the service quota template. To add a quota to the template, you must provide the <code>ServiceCode</code>, <code>QuotaCode</code>, <code>AwsRegion</code>, and <code>DesiredValue</code>. Once you add a quota to the template, use <a>ListServiceQuotaIncreaseRequestsInTemplate</a> to see the list of quotas in the template.</p>",
      "errors": [
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "QuotaExceededException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "AWSServiceAccessNotEnabledException"
        },
        {
          "shape": "TemplatesNotAvailableInRegionException"
        },
        {
          "shape": "NoAvailableOrganizationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "PutServiceQuotaIncreaseRequestIntoTemplateRequest"
      },
      "name": "PutServiceQuotaIncreaseRequestIntoTemplate",
      "output": {
        "shape": "PutServiceQuotaIncreaseRequestIntoTemplateResponse"
      }
    },
    "RequestServiceQuotaIncrease": {
      "documentation": "<p>Retrieves the details of a service quota increase request. The response to this command provides the details in the <a>RequestedServiceQuotaChange</a> object. </p>",
      "errors": [
        {
          "shape": "DependencyAccessDeniedException"
        },
        {
          "shape": "QuotaExceededException"
        },
        {
          "shape": "ResourceAlreadyExistsException"
        },
        {
          "shape": "AccessDeniedException"
        },
        {
          "shape": "NoSuchResourceException"
        },
        {
          "shape": "IllegalArgumentException"
        },
        {
          "shape": "InvalidResourceStateException"
        },
        {
          "shape": "ServiceException"
        },
        {
          "shape": "TooManyRequestsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RequestServiceQuotaIncreaseRequest"
      },
      "name": "RequestServiceQuotaIncrease",
      "output": {
        "shape": "RequestServiceQuotaIncreaseResponse"
      }
    }
  },
  "shapes": {
    "AWSServiceAccessNotEnabledException": {
      "documentation": "<p>The action you attempted is not allowed unless Service Access with Service Quotas is enabled in your organization. To enable, call <a>AssociateServiceQuotaTemplate</a>.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AccessDeniedException": {
      "documentation": "<p>You do not have sufficient access to perform this action.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "AssociateServiceQuotaTemplateRequest": {
      "members": {},
      "type": "structure"
    },
    "AssociateServiceQuotaTemplateResponse": {
      "members": {},
      "type": "structure"
    },
    "AwsRegion": {
      "max": 64,
      "min": 1,
      "pattern": "[a-zA-Z][a-zA-Z0-9-]{1,128}",
      "type": "string"
    },
    "CustomerServiceEngagementId": {
      "type": "string"
    },
    "DateTime": {
      "type": "timestamp"
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplateRequest": {
      "members": {
        "AwsRegion": {
          "documentation": "<p>Specifies the AWS Region for the quota that you want to delete.</p>",
          "shape": "AwsRegion"
        },
        "QuotaCode": {
          "documentation": "<p>Specifies the code for the quota that you want to delete.</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the code for the service that you want to delete.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode",
        "QuotaCode",
        "AwsRegion"
      ],
      "type": "structure"
    },
    "DeleteServiceQuotaIncreaseRequestFromTemplateResponse": {
      "members": {},
      "type": "structure"
    },
    "DependencyAccessDeniedException": {
      "documentation": "<p>You can't perform this action because a dependency does not have access.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "DisassociateServiceQuotaTemplateRequest": {
      "members": {},
      "type": "structure"
    },
    "DisassociateServiceQuotaTemplateResponse": {
      "members": {},
      "type": "structure"
    },
    "ErrorCode": {
      "enum": [
        "DEPENDENCY_ACCESS_DENIED_ERROR",
        "DEPENDENCY_THROTTLING_ERROR",
        "DEPENDENCY_SERVICE_ERROR",
        "SERVICE_QUOTA_NOT_AVAILABLE_ERROR"
      ],
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "ErrorReason": {
      "documentation": "<p>Returns an error that explains why the action did not succeed.</p>",
      "members": {
        "ErrorCode": {
          "documentation": "<p>Service Quotas returns the following error values. </p> <p> <code>DEPENDENCY_ACCESS_DENIED_ERROR</code> is returned when the caller does not have permission to call the service or service quota. To resolve the error, you need permission to access the service or service quota.</p> <p> <code>DEPENDENCY_THROTTLING_ERROR</code> is returned when the service being called is throttling Service Quotas.</p> <p> <code>DEPENDENCY_SERVICE_ERROR</code> is returned when the service being called has availability issues.</p> <p> <code>SERVICE_QUOTA_NOT_AVAILABLE_ERROR</code> is returned when there was an error in Service Quotas.</p>",
          "shape": "ErrorCode"
        },
        "ErrorMessage": {
          "documentation": "<p>The error message that provides more detail.</p>",
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "ExceptionMessage": {
      "type": "string"
    },
    "GetAWSDefaultServiceQuotaRequest": {
      "members": {
        "QuotaCode": {
          "documentation": "<p>Identifies the service quota you want to select.</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode",
        "QuotaCode"
      ],
      "type": "structure"
    },
    "GetAWSDefaultServiceQuotaResponse": {
      "members": {
        "Quota": {
          "documentation": "<p>Returns the <a>ServiceQuota</a> object which contains all values for a quota.</p>",
          "shape": "ServiceQuota"
        }
      },
      "type": "structure"
    },
    "GetAssociationForServiceQuotaTemplateRequest": {
      "members": {},
      "type": "structure"
    },
    "GetAssociationForServiceQuotaTemplateResponse": {
      "members": {
        "ServiceQuotaTemplateAssociationStatus": {
          "documentation": "<p>Specifies whether the template is <code>ASSOCIATED</code> or <code>DISASSOCIATED</code>. If the template is <code>ASSOCIATED</code>, then it requests service quota increases for all new accounts created in your organization. </p>",
          "shape": "ServiceQuotaTemplateAssociationStatus"
        }
      },
      "type": "structure"
    },
    "GetRequestedServiceQuotaChangeRequest": {
      "members": {
        "RequestId": {
          "documentation": "<p>Identifies the quota increase request.</p>",
          "shape": "RequestId"
        }
      },
      "required": [
        "RequestId"
      ],
      "type": "structure"
    },
    "GetRequestedServiceQuotaChangeResponse": {
      "members": {
        "RequestedQuota": {
          "documentation": "<p>Returns the <code>RequestedServiceQuotaChange</code> object for the specific increase request.</p>",
          "shape": "RequestedServiceQuotaChange"
        }
      },
      "type": "structure"
    },
    "GetServiceQuotaIncreaseRequestFromTemplateRequest": {
      "members": {
        "AwsRegion": {
          "documentation": "<p>Specifies the AWS Region for the quota that you want to use.</p>",
          "shape": "AwsRegion"
        },
        "QuotaCode": {
          "documentation": "<p>Specifies the quota you want.</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode",
        "QuotaCode",
        "AwsRegion"
      ],
      "type": "structure"
    },
    "GetServiceQuotaIncreaseRequestFromTemplateResponse": {
      "members": {
        "ServiceQuotaIncreaseRequestInTemplate": {
          "documentation": "<p>This object contains the details about the quota increase request.</p>",
          "shape": "ServiceQuotaIncreaseRequestInTemplate"
        }
      },
      "type": "structure"
    },
    "GetServiceQuotaRequest": {
      "members": {
        "QuotaCode": {
          "documentation": "<p>Identifies the service quota you want to select.</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode",
        "QuotaCode"
      ],
      "type": "structure"
    },
    "GetServiceQuotaResponse": {
      "members": {
        "Quota": {
          "documentation": "<p>Returns the <a>ServiceQuota</a> object which contains all values for a quota.</p>",
          "shape": "ServiceQuota"
        }
      },
      "type": "structure"
    },
    "GlobalQuota": {
      "type": "boolean"
    },
    "IllegalArgumentException": {
      "documentation": "<p>Invalid input was provided. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidPaginationTokenException": {
      "documentation": "<p>Invalid input was provided.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "InvalidResourceStateException": {
      "documentation": "<p>Invalid input was provided for the . </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ListAWSDefaultServiceQuotasRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>(Optional) Limits the number of results that you want to include in the response. If you don't include this parameter, the response defaults to a value that's specific to the operation. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "NextToken"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode"
      ],
      "type": "structure"
    },
    "ListAWSDefaultServiceQuotasResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from.</p>",
          "shape": "NextToken"
        },
        "Quotas": {
          "documentation": "<p>A list of the quotas in the account with the AWS default values. </p>",
          "shape": "ServiceQuotaListDefinition"
        }
      },
      "type": "structure"
    },
    "ListRequestedServiceQuotaChangeHistoryByQuotaRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>(Optional) Limits the number of results that you want to include in the response. If you don't include this parameter, the response defaults to a value that's specific to the operation. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from.</p>",
          "shape": "NextToken"
        },
        "QuotaCode": {
          "documentation": "<p>Specifies the service quota that you want to use</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        },
        "Status": {
          "documentation": "<p>Specifies the status value of the quota increase request.</p>",
          "shape": "RequestStatus"
        }
      },
      "required": [
        "ServiceCode",
        "QuotaCode"
      ],
      "type": "structure"
    },
    "ListRequestedServiceQuotaChangeHistoryByQuotaResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If present in the response, this value indicates there's more output available that what's included in the current response. This can occur even when the response includes no values at all, such as when you ask for a filtered view of a very long list. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to continue processing and get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back empty (as <code>null</code>).</p>",
          "shape": "NextToken"
        },
        "RequestedQuotas": {
          "documentation": "<p>Returns a list of service quota requests.</p>",
          "shape": "RequestedServiceQuotaChangeHistoryListDefinition"
        }
      },
      "type": "structure"
    },
    "ListRequestedServiceQuotaChangeHistoryRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>(Optional) Limits the number of results that you want to include in the response. If you don't include this parameter, the response defaults to a value that's specific to the operation. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from.</p>",
          "shape": "NextToken"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        },
        "Status": {
          "documentation": "<p>Specifies the status value of the quota increase request.</p>",
          "shape": "RequestStatus"
        }
      },
      "type": "structure"
    },
    "ListRequestedServiceQuotaChangeHistoryResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If present in the response, this value indicates there's more output available that what's included in the current response. This can occur even when the response includes no values at all, such as when you ask for a filtered view of a very long list. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to continue processing and get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back empty (as <code>null</code>).</p>",
          "shape": "NextToken"
        },
        "RequestedQuotas": {
          "documentation": "<p>Returns a list of service quota requests.</p>",
          "shape": "RequestedServiceQuotaChangeHistoryListDefinition"
        }
      },
      "type": "structure"
    },
    "ListServiceQuotaIncreaseRequestsInTemplateRequest": {
      "members": {
        "AwsRegion": {
          "documentation": "<p>Specifies the AWS Region for the quota that you want to use.</p>",
          "shape": "AwsRegion"
        },
        "MaxResults": {
          "documentation": "<p>(Optional) Limits the number of results that you want to include in the response. If you don't include this parameter, the response defaults to a value that's specific to the operation. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from.</p>",
          "shape": "NextToken"
        },
        "ServiceCode": {
          "documentation": "<p>The identifier for a service. When performing an operation, use the <code>ServiceCode</code> to specify a particular service. </p>",
          "shape": "ServiceCode"
        }
      },
      "type": "structure"
    },
    "ListServiceQuotaIncreaseRequestsInTemplateResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If present in the response, this value indicates there's more output available that what's included in the current response. This can occur even when the response includes no values at all, such as when you ask for a filtered view of a very long list. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to continue processing and get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back empty (as <code>null</code>).</p>",
          "shape": "NextToken"
        },
        "ServiceQuotaIncreaseRequestInTemplateList": {
          "documentation": "<p>Returns the list of values of the quota increase request in the template.</p>",
          "shape": "ServiceQuotaIncreaseRequestInTemplateList"
        }
      },
      "type": "structure"
    },
    "ListServiceQuotasRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>(Optional) Limits the number of results that you want to include in the response. If you don't include this parameter, the response defaults to a value that's specific to the operation. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from.</p>",
          "shape": "NextToken"
        },
        "ServiceCode": {
          "documentation": "<p>The identifier for a service. When performing an operation, use the <code>ServiceCode</code> to specify a particular service. </p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode"
      ],
      "type": "structure"
    },
    "ListServiceQuotasResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If present in the response, this value indicates there's more output available that what's included in the current response. This can occur even when the response includes no values at all, such as when you ask for a filtered view of a very long list. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to continue processing and get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back empty (as <code>null</code>).</p>",
          "shape": "NextToken"
        },
        "Quotas": {
          "documentation": "<p>The response information for a quota lists all attribute information for the quota. </p>",
          "shape": "ServiceQuotaListDefinition"
        }
      },
      "type": "structure"
    },
    "ListServicesRequest": {
      "members": {
        "MaxResults": {
          "documentation": "<p>(Optional) Limits the number of results that you want to include in the response. If you don't include this parameter, the response defaults to a value that's specific to the operation. If additional items exist beyond the specified maximum, the <code>NextToken</code> element is present and has a value (isn't null). Include that value as the <code>NextToken</code> request parameter in the call to the operation to get the next part of the results. You should check <code>NextToken</code> after every operation to ensure that you receive all of the results.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>(Optional) Use this parameter in a request if you receive a <code>NextToken</code> response in a previous request that indicates that there's more output available. In a subsequent call, set it to the value of the previous call's <code>NextToken</code> response to indicate where the output should continue from.</p>",
          "shape": "NextToken"
        }
      },
      "type": "structure"
    },
    "ListServicesResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>If present in the response, this value indicates there's more output available that what's included in the current response. This can occur even when the response includes no values at all, such as when you ask for a filtered view of a very long list. Use this value in the <code>NextToken</code> request parameter in a subsequent call to the operation to continue processing and get the next part of the output. You should repeat this until the <code>NextToken</code> response element comes back empty (as <code>null</code>).</p>",
          "shape": "NextToken"
        },
        "Services": {
          "documentation": "<p>Returns a list of services. </p>",
          "shape": "ServiceInfoListDefinition"
        }
      },
      "type": "structure"
    },
    "MaxResults": {
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "MetricDimensionName": {
      "type": "string"
    },
    "MetricDimensionValue": {
      "type": "string"
    },
    "MetricDimensionsMapDefinition": {
      "key": {
        "shape": "MetricDimensionName"
      },
      "max": 10,
      "type": "map",
      "value": {
        "shape": "MetricDimensionValue"
      }
    },
    "MetricInfo": {
      "documentation": "<p>A structure that uses CloudWatch metrics to gather data about the service quota.</p>",
      "members": {
        "MetricDimensions": {
          "documentation": "<p>A dimension is a name/value pair that is part of the identity of a metric. Every metric has specific characteristics that describe it, and you can think of dimensions as categories for those characteristics. These dimensions are part of the CloudWatch Metric Identity that measures usage against a particular service quota.</p>",
          "shape": "MetricDimensionsMapDefinition"
        },
        "MetricName": {
          "documentation": "<p>The name of the CloudWatch metric that measures usage of a service quota. This is a required field.</p>",
          "shape": "QuotaMetricName"
        },
        "MetricNamespace": {
          "documentation": "<p>The namespace of the metric. The namespace is a container for CloudWatch metrics. You can specify a name for the namespace when you create a metric.</p>",
          "shape": "QuotaMetricNamespace"
        },
        "MetricStatisticRecommendation": {
          "documentation": "<p>Statistics are metric data aggregations over specified periods of time. This is the recommended statistic to use when comparing usage in the CloudWatch Metric against your Service Quota.</p>",
          "shape": "Statistic"
        }
      },
      "type": "structure"
    },
    "NextToken": {
      "max": 2048,
      "pattern": "^[a-zA-Z0-9/+]*={0,2}$",
      "type": "string"
    },
    "NoAvailableOrganizationException": {
      "documentation": "<p>The account making this call is not a member of an organization.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "NoSuchResourceException": {
      "documentation": "<p>The specified resource does not exist.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "OrganizationNotInAllFeaturesModeException": {
      "documentation": "<p>The organization that your account belongs to, is not in All Features mode. To enable all features mode, see <a href=\"https://docs.aws.amazon.com/organizations/latest/APIReference/API_EnableAllFeatures.html\">EnableAllFeatures</a>.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "PeriodUnit": {
      "enum": [
        "MICROSECOND",
        "MILLISECOND",
        "SECOND",
        "MINUTE",
        "HOUR",
        "DAY",
        "WEEK"
      ],
      "type": "string"
    },
    "PeriodValue": {
      "type": "integer"
    },
    "PutServiceQuotaIncreaseRequestIntoTemplateRequest": {
      "members": {
        "AwsRegion": {
          "documentation": "<p>Specifies the AWS Region for the quota. </p>",
          "shape": "AwsRegion"
        },
        "DesiredValue": {
          "documentation": "<p>Specifies the new, increased value for the quota. </p>",
          "shape": "QuotaValue"
        },
        "QuotaCode": {
          "documentation": "<p>Specifies the service quota that you want to use.</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "QuotaCode",
        "ServiceCode",
        "AwsRegion",
        "DesiredValue"
      ],
      "type": "structure"
    },
    "PutServiceQuotaIncreaseRequestIntoTemplateResponse": {
      "members": {
        "ServiceQuotaIncreaseRequestInTemplate": {
          "documentation": "<p>A structure that contains information about one service quota increase request.</p>",
          "shape": "ServiceQuotaIncreaseRequestInTemplate"
        }
      },
      "type": "structure"
    },
    "QuotaAdjustable": {
      "type": "boolean"
    },
    "QuotaArn": {
      "type": "string"
    },
    "QuotaCode": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z][a-zA-Z0-9-]{1,128}",
      "type": "string"
    },
    "QuotaExceededException": {
      "documentation": "<p>You have exceeded your service quota. To perform the requested action, remove some of the relevant resources, or use Service Quotas to request a service quota increase.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "QuotaMetricName": {
      "type": "string"
    },
    "QuotaMetricNamespace": {
      "type": "string"
    },
    "QuotaName": {
      "type": "string"
    },
    "QuotaPeriod": {
      "documentation": "<p>A structure that contains information about the quota period.</p>",
      "members": {
        "PeriodUnit": {
          "documentation": "<p>The time unit of a period.</p>",
          "shape": "PeriodUnit"
        },
        "PeriodValue": {
          "documentation": "<p>The value of a period.</p>",
          "shape": "PeriodValue"
        }
      },
      "type": "structure"
    },
    "QuotaUnit": {
      "type": "string"
    },
    "QuotaValue": {
      "max": 10000000000,
      "min": 0,
      "type": "double"
    },
    "RequestId": {
      "max": 128,
      "min": 1,
      "pattern": "[0-9a-zA-Z][a-zA-Z0-9-]{1,128}",
      "type": "string"
    },
    "RequestServiceQuotaIncreaseRequest": {
      "members": {
        "DesiredValue": {
          "documentation": "<p>Specifies the value submitted in the service quota increase request. </p>",
          "shape": "QuotaValue"
        },
        "QuotaCode": {
          "documentation": "<p>Specifies the service quota that you want to use.</p>",
          "shape": "QuotaCode"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        }
      },
      "required": [
        "ServiceCode",
        "QuotaCode",
        "DesiredValue"
      ],
      "type": "structure"
    },
    "RequestServiceQuotaIncreaseResponse": {
      "members": {
        "RequestedQuota": {
          "documentation": "<p>Returns a list of service quota requests.</p>",
          "shape": "RequestedServiceQuotaChange"
        }
      },
      "type": "structure"
    },
    "RequestStatus": {
      "enum": [
        "PENDING",
        "CASE_OPENED",
        "APPROVED",
        "DENIED",
        "CASE_CLOSED"
      ],
      "type": "string"
    },
    "RequestedServiceQuotaChange": {
      "documentation": "<p>A structure that contains information about a requested change for a quota.</p>",
      "members": {
        "CaseId": {
          "documentation": "<p>The case Id for the service quota increase request.</p>",
          "shape": "CustomerServiceEngagementId"
        },
        "Created": {
          "documentation": "<p>The date and time when the service quota increase request was received and the case Id was created. </p>",
          "shape": "DateTime"
        },
        "DesiredValue": {
          "documentation": "<p>New increased value for the service quota.</p>",
          "shape": "QuotaValue"
        },
        "GlobalQuota": {
          "documentation": "<p>Identifies if the quota is global.</p>",
          "shape": "GlobalQuota"
        },
        "Id": {
          "documentation": "<p>The unique identifier of a requested service quota change.</p>",
          "shape": "RequestId"
        },
        "LastUpdated": {
          "documentation": "<p>The date and time of the most recent change in the service quota increase request.</p>",
          "shape": "DateTime"
        },
        "QuotaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service quota.</p>",
          "shape": "QuotaArn"
        },
        "QuotaCode": {
          "documentation": "<p>Specifies the service quota that you want to use.</p>",
          "shape": "QuotaCode"
        },
        "QuotaName": {
          "documentation": "<p>Name of the service quota.</p>",
          "shape": "QuotaName"
        },
        "Requester": {
          "documentation": "<p>The IAM identity who submitted the service quota increase request.</p>",
          "shape": "Requester"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        },
        "ServiceName": {
          "documentation": "<p>The name of the AWS service specified in the increase request. </p>",
          "shape": "ServiceName"
        },
        "Status": {
          "documentation": "<p>State of the service quota increase request.</p>",
          "shape": "RequestStatus"
        },
        "Unit": {
          "documentation": "<p>Specifies the unit used for the quota.</p>",
          "shape": "QuotaUnit"
        }
      },
      "type": "structure"
    },
    "RequestedServiceQuotaChangeHistoryListDefinition": {
      "member": {
        "shape": "RequestedServiceQuotaChange"
      },
      "type": "list"
    },
    "Requester": {
      "type": "string"
    },
    "ResourceAlreadyExistsException": {
      "documentation": "<p>The specified resource already exists.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ServiceCode": {
      "max": 63,
      "min": 1,
      "pattern": "[a-zA-Z][a-zA-Z0-9-]{1,63}",
      "type": "string"
    },
    "ServiceException": {
      "documentation": "<p>Something went wrong. </p>",
      "exception": true,
      "fault": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "ServiceInfo": {
      "documentation": "<p>A structure that contains the <code>ServiceName</code> and <code>ServiceCode</code>. It does not include all details of the service quota. To get those values, use the <a>ListServiceQuotas</a> operation. </p>",
      "members": {
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        },
        "ServiceName": {
          "documentation": "<p>The name of the AWS service specified in the increase request. </p>",
          "shape": "ServiceName"
        }
      },
      "type": "structure"
    },
    "ServiceInfoListDefinition": {
      "member": {
        "shape": "ServiceInfo"
      },
      "type": "list"
    },
    "ServiceName": {
      "type": "string"
    },
    "ServiceQuota": {
      "documentation": "<p>A structure that contains the full set of details that define the service quota.</p>",
      "members": {
        "Adjustable": {
          "documentation": "<p>Specifies if the quota value can be increased.</p>",
          "shape": "QuotaAdjustable"
        },
        "ErrorReason": {
          "documentation": "<p>Specifies the <code>ErrorCode</code> and <code>ErrorMessage</code> when success isn't achieved.</p>",
          "shape": "ErrorReason"
        },
        "GlobalQuota": {
          "documentation": "<p>Specifies if the quota is global.</p>",
          "shape": "GlobalQuota"
        },
        "Period": {
          "documentation": "<p>Identifies the unit and value of how time is measured.</p>",
          "shape": "QuotaPeriod"
        },
        "QuotaArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the service quota.</p>",
          "shape": "QuotaArn"
        },
        "QuotaCode": {
          "documentation": "<p>The code identifier for the service quota specified.</p>",
          "shape": "QuotaCode"
        },
        "QuotaName": {
          "documentation": "<p>The name identifier of the service quota.</p>",
          "shape": "QuotaName"
        },
        "ServiceCode": {
          "documentation": "<p>Specifies the service that you want to use.</p>",
          "shape": "ServiceCode"
        },
        "ServiceName": {
          "documentation": "<p>The name of the AWS service specified in the increase request. </p>",
          "shape": "ServiceName"
        },
        "Unit": {
          "documentation": "<p>The unit of measurement for the value of the service quota.</p>",
          "shape": "QuotaUnit"
        },
        "UsageMetric": {
          "documentation": "<p>Specifies the details about the measurement. </p>",
          "shape": "MetricInfo"
        },
        "Value": {
          "documentation": "<p>The value of service quota.</p>",
          "shape": "QuotaValue"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaIncreaseRequestInTemplate": {
      "documentation": "<p>A structure that contains information about one service quota increase request.</p>",
      "members": {
        "AwsRegion": {
          "documentation": "<p>The AWS Region where the increase request occurs.</p>",
          "shape": "AwsRegion"
        },
        "DesiredValue": {
          "documentation": "<p>Identifies the new, increased value of the service quota in the increase request. </p>",
          "shape": "QuotaValue"
        },
        "GlobalQuota": {
          "documentation": "<p>Specifies if the quota is a global quota.</p>",
          "shape": "GlobalQuota"
        },
        "QuotaCode": {
          "documentation": "<p>The code identifier for the service quota specified in the increase request.</p>",
          "shape": "QuotaCode"
        },
        "QuotaName": {
          "documentation": "<p>The name of the service quota in the increase request.</p>",
          "shape": "QuotaName"
        },
        "ServiceCode": {
          "documentation": "<p>The code identifier for the AWS service specified in the increase request.</p>",
          "shape": "ServiceCode"
        },
        "ServiceName": {
          "documentation": "<p>The name of the AWS service specified in the increase request. </p>",
          "shape": "ServiceName"
        },
        "Unit": {
          "documentation": "<p>The unit of measure for the increase request.</p>",
          "shape": "QuotaUnit"
        }
      },
      "type": "structure"
    },
    "ServiceQuotaIncreaseRequestInTemplateList": {
      "member": {
        "shape": "ServiceQuotaIncreaseRequestInTemplate"
      },
      "type": "list"
    },
    "ServiceQuotaListDefinition": {
      "member": {
        "shape": "ServiceQuota"
      },
      "type": "list"
    },
    "ServiceQuotaTemplateAssociationStatus": {
      "enum": [
        "ASSOCIATED",
        "DISASSOCIATED"
      ],
      "type": "string"
    },
    "ServiceQuotaTemplateNotInUseException": {
      "documentation": "<p>The quota request template is not associated with your organization. </p> <p>To use the template, call <a>AssociateServiceQuotaTemplate</a>. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "Statistic": {
      "max": 256,
      "min": 1,
      "pattern": "(Sum|Maximum)",
      "type": "string"
    },
    "TemplatesNotAvailableInRegionException": {
      "documentation": "<p>The Service Quotas template is not available in the Region where you are making the request. Please make the request in us-east-1. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    },
    "TooManyRequestsException": {
      "documentation": "<p>Due to throttling, the request was denied. Slow down the rate of request calls, or request an increase for this quota. </p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ExceptionMessage"
        }
      },
      "type": "structure"
    }
  },
  "version": "2.0"
}
