{
  "documentation": "<fullname>AWS Service Catalog</fullname> <p> <a href=\"https://aws.amazon.com/servicecatalog/\">AWS Service Catalog</a> enables organizations to create and manage catalogs of IT services that are approved for use on AWS. To get the most out of this documentation, you should be familiar with the terminology discussed in <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/what-is_concepts.html\">AWS Service Catalog Concepts</a>.</p>",
  "metadata": {
    "apiVersion": "2015-12-10",
    "endpointPrefix": "servicecatalog",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceFullName": "AWS Service Catalog",
    "serviceId": "Service Catalog",
    "signatureVersion": "v4",
    "targetPrefix": "AWS242ServiceCatalogService",
    "uid": "servicecatalog-2015-12-10"
  },
  "operations": {
    "AcceptPortfolioShare": {
      "documentation": "<p>Accepts an offer to share the specified portfolio.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AcceptPortfolioShareInput"
      },
      "name": "AcceptPortfolioShare",
      "output": {
        "shape": "AcceptPortfolioShareOutput"
      }
    },
    "AssociateBudgetWithResource": {
      "documentation": "<p>Associates the specified budget with the specified resource.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "DuplicateResourceException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateBudgetWithResourceInput"
      },
      "name": "AssociateBudgetWithResource",
      "output": {
        "shape": "AssociateBudgetWithResourceOutput"
      }
    },
    "AssociatePrincipalWithPortfolio": {
      "documentation": "<p>Associates the specified principal ARN with the specified portfolio.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociatePrincipalWithPortfolioInput"
      },
      "name": "AssociatePrincipalWithPortfolio",
      "output": {
        "shape": "AssociatePrincipalWithPortfolioOutput"
      }
    },
    "AssociateProductWithPortfolio": {
      "documentation": "<p>Associates the specified product with the specified portfolio.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateProductWithPortfolioInput"
      },
      "name": "AssociateProductWithPortfolio",
      "output": {
        "shape": "AssociateProductWithPortfolioOutput"
      }
    },
    "AssociateServiceActionWithProvisioningArtifact": {
      "documentation": "<p>Associates a self-service action with a provisioning artifact.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DuplicateResourceException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateServiceActionWithProvisioningArtifactInput"
      },
      "name": "AssociateServiceActionWithProvisioningArtifact",
      "output": {
        "shape": "AssociateServiceActionWithProvisioningArtifactOutput"
      }
    },
    "AssociateTagOptionWithResource": {
      "documentation": "<p>Associate the specified TagOption with the specified portfolio or product.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DuplicateResourceException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "AssociateTagOptionWithResourceInput"
      },
      "name": "AssociateTagOptionWithResource",
      "output": {
        "shape": "AssociateTagOptionWithResourceOutput"
      }
    },
    "BatchAssociateServiceActionWithProvisioningArtifact": {
      "documentation": "<p>Associates multiple self-service actions with provisioning artifacts.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchAssociateServiceActionWithProvisioningArtifactInput"
      },
      "name": "BatchAssociateServiceActionWithProvisioningArtifact",
      "output": {
        "shape": "BatchAssociateServiceActionWithProvisioningArtifactOutput"
      }
    },
    "BatchDisassociateServiceActionFromProvisioningArtifact": {
      "documentation": "<p>Disassociates a batch of self-service actions from the specified provisioning artifact.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "BatchDisassociateServiceActionFromProvisioningArtifactInput"
      },
      "name": "BatchDisassociateServiceActionFromProvisioningArtifact",
      "output": {
        "shape": "BatchDisassociateServiceActionFromProvisioningArtifactOutput"
      }
    },
    "CopyProduct": {
      "documentation": "<p>Copies the specified source product to the specified target product or a new product.</p> <p>You can copy a product to the same account or another account. You can copy a product to the same region or another region.</p> <p>This operation is performed asynchronously. To track the progress of the operation, use <a>DescribeCopyProductStatus</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CopyProductInput"
      },
      "name": "CopyProduct",
      "output": {
        "shape": "CopyProductOutput"
      }
    },
    "CreateConstraint": {
      "documentation": "<p>Creates a constraint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DuplicateResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateConstraintInput"
      },
      "name": "CreateConstraint",
      "output": {
        "shape": "CreateConstraintOutput"
      }
    },
    "CreatePortfolio": {
      "documentation": "<p>Creates a portfolio.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TagOptionNotMigratedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePortfolioInput"
      },
      "name": "CreatePortfolio",
      "output": {
        "shape": "CreatePortfolioOutput"
      }
    },
    "CreatePortfolioShare": {
      "documentation": "<p>Shares the specified portfolio with the specified account or organization node. Shares to an organization node can only be created by the master account of an Organization. AWSOrganizationsAccess must be enabled in order to create a portfolio share to an organization node.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreatePortfolioShareInput"
      },
      "name": "CreatePortfolioShare",
      "output": {
        "shape": "CreatePortfolioShareOutput"
      }
    },
    "CreateProduct": {
      "documentation": "<p>Creates a product.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TagOptionNotMigratedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProductInput"
      },
      "name": "CreateProduct",
      "output": {
        "shape": "CreateProductOutput"
      }
    },
    "CreateProvisionedProductPlan": {
      "documentation": "<p>Creates a plan. A plan includes the list of resources to be created (when provisioning a new product) or modified (when updating a provisioned product) when the plan is executed.</p> <p>You can create one plan per provisioned product. To create a plan for an existing provisioned product, the product status must be AVAILBLE or TAINTED.</p> <p>To view the resource changes in the change set, use <a>DescribeProvisionedProductPlan</a>. To create or modify the provisioned product, use <a>ExecuteProvisionedProductPlan</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProvisionedProductPlanInput"
      },
      "name": "CreateProvisionedProductPlan",
      "output": {
        "shape": "CreateProvisionedProductPlanOutput"
      }
    },
    "CreateProvisioningArtifact": {
      "documentation": "<p>Creates a provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot create a provisioning artifact for a product that was shared with you.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateProvisioningArtifactInput"
      },
      "name": "CreateProvisioningArtifact",
      "output": {
        "shape": "CreateProvisioningArtifactOutput"
      }
    },
    "CreateServiceAction": {
      "documentation": "<p>Creates a self-service action.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateServiceActionInput"
      },
      "name": "CreateServiceAction",
      "output": {
        "shape": "CreateServiceActionOutput"
      }
    },
    "CreateTagOption": {
      "documentation": "<p>Creates a TagOption.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "DuplicateResourceException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateTagOptionInput"
      },
      "name": "CreateTagOption",
      "output": {
        "shape": "CreateTagOptionOutput"
      }
    },
    "DeleteConstraint": {
      "documentation": "<p>Deletes the specified constraint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteConstraintInput"
      },
      "name": "DeleteConstraint",
      "output": {
        "shape": "DeleteConstraintOutput"
      }
    },
    "DeletePortfolio": {
      "documentation": "<p>Deletes the specified portfolio.</p> <p>You cannot delete a portfolio if it was shared with you or if it has associated products, users, constraints, or shared accounts.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "TagOptionNotMigratedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePortfolioInput"
      },
      "name": "DeletePortfolio",
      "output": {
        "shape": "DeletePortfolioOutput"
      }
    },
    "DeletePortfolioShare": {
      "documentation": "<p>Stops sharing the specified portfolio with the specified account or organization node. Shares to an organization node can only be deleted by the master account of an Organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "OperationNotSupportedException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeletePortfolioShareInput"
      },
      "name": "DeletePortfolioShare",
      "output": {
        "shape": "DeletePortfolioShareOutput"
      }
    },
    "DeleteProduct": {
      "documentation": "<p>Deletes the specified product.</p> <p>You cannot delete a product if it was shared with you or is associated with a portfolio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "TagOptionNotMigratedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProductInput"
      },
      "name": "DeleteProduct",
      "output": {
        "shape": "DeleteProductOutput"
      }
    },
    "DeleteProvisionedProductPlan": {
      "documentation": "<p>Deletes the specified plan.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProvisionedProductPlanInput"
      },
      "name": "DeleteProvisionedProductPlan",
      "output": {
        "shape": "DeleteProvisionedProductPlanOutput"
      }
    },
    "DeleteProvisioningArtifact": {
      "documentation": "<p>Deletes the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot delete a provisioning artifact associated with a product that was shared with you. You cannot delete the last provisioning artifact for a product, because a product must have at least one provisioning artifact.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteProvisioningArtifactInput"
      },
      "name": "DeleteProvisioningArtifact",
      "output": {
        "shape": "DeleteProvisioningArtifactOutput"
      }
    },
    "DeleteServiceAction": {
      "documentation": "<p>Deletes a self-service action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteServiceActionInput"
      },
      "name": "DeleteServiceAction",
      "output": {
        "shape": "DeleteServiceActionOutput"
      }
    },
    "DeleteTagOption": {
      "documentation": "<p>Deletes the specified TagOption.</p> <p>You cannot delete a TagOption if it is associated with a product or portfolio.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteTagOptionInput"
      },
      "name": "DeleteTagOption",
      "output": {
        "shape": "DeleteTagOptionOutput"
      }
    },
    "DescribeConstraint": {
      "documentation": "<p>Gets information about the specified constraint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeConstraintInput"
      },
      "name": "DescribeConstraint",
      "output": {
        "shape": "DescribeConstraintOutput"
      }
    },
    "DescribeCopyProductStatus": {
      "documentation": "<p>Gets the status of the specified copy product operation.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCopyProductStatusInput"
      },
      "name": "DescribeCopyProductStatus",
      "output": {
        "shape": "DescribeCopyProductStatusOutput"
      }
    },
    "DescribePortfolio": {
      "documentation": "<p>Gets information about the specified portfolio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePortfolioInput"
      },
      "name": "DescribePortfolio",
      "output": {
        "shape": "DescribePortfolioOutput"
      }
    },
    "DescribePortfolioShareStatus": {
      "documentation": "<p>Gets the status of the specified portfolio share operation. This API can only be called by the master account in the organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribePortfolioShareStatusInput"
      },
      "name": "DescribePortfolioShareStatus",
      "output": {
        "shape": "DescribePortfolioShareStatusOutput"
      }
    },
    "DescribeProduct": {
      "documentation": "<p>Gets information about the specified product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProductInput"
      },
      "name": "DescribeProduct",
      "output": {
        "shape": "DescribeProductOutput"
      }
    },
    "DescribeProductAsAdmin": {
      "documentation": "<p>Gets information about the specified product. This operation is run with administrator access.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProductAsAdminInput"
      },
      "name": "DescribeProductAsAdmin",
      "output": {
        "shape": "DescribeProductAsAdminOutput"
      }
    },
    "DescribeProductView": {
      "documentation": "<p>Gets information about the specified product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProductViewInput"
      },
      "name": "DescribeProductView",
      "output": {
        "shape": "DescribeProductViewOutput"
      }
    },
    "DescribeProvisionedProduct": {
      "documentation": "<p>Gets information about the specified provisioned product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProvisionedProductInput"
      },
      "name": "DescribeProvisionedProduct",
      "output": {
        "shape": "DescribeProvisionedProductOutput"
      }
    },
    "DescribeProvisionedProductPlan": {
      "documentation": "<p>Gets information about the resource changes for the specified plan.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProvisionedProductPlanInput"
      },
      "name": "DescribeProvisionedProductPlan",
      "output": {
        "shape": "DescribeProvisionedProductPlanOutput"
      }
    },
    "DescribeProvisioningArtifact": {
      "documentation": "<p>Gets information about the specified provisioning artifact (also known as a version) for the specified product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProvisioningArtifactInput"
      },
      "name": "DescribeProvisioningArtifact",
      "output": {
        "shape": "DescribeProvisioningArtifactOutput"
      }
    },
    "DescribeProvisioningParameters": {
      "documentation": "<p>Gets information about the configuration required to provision the specified product using the specified provisioning artifact.</p> <p>If the output contains a TagOption key with an empty list of values, there is a TagOption conflict for that key. The end user cannot take action to fix the conflict, and launch is not blocked. In subsequent calls to <a>ProvisionProduct</a>, do not include conflicted TagOption keys as tags, or this causes the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\". Tag the provisioned product with the value <code>sc-tagoption-conflict-portfolioId-productId</code>.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeProvisioningParametersInput"
      },
      "name": "DescribeProvisioningParameters",
      "output": {
        "shape": "DescribeProvisioningParametersOutput"
      }
    },
    "DescribeRecord": {
      "documentation": "<p>Gets information about the specified request operation.</p> <p>Use this operation after calling a request operation (for example, <a>ProvisionProduct</a>, <a>TerminateProvisionedProduct</a>, or <a>UpdateProvisionedProduct</a>). </p> <note> <p>If a provisioned product was transferred to a new owner using <a>UpdateProvisionedProductProperties</a>, the new owner will be able to describe all past records for that product. The previous owner will no longer be able to describe the records, but will be able to use <a>ListRecordHistory</a> to see the product's history from when he was the owner.</p> </note>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeRecordInput"
      },
      "name": "DescribeRecord",
      "output": {
        "shape": "DescribeRecordOutput"
      }
    },
    "DescribeServiceAction": {
      "documentation": "<p>Describes a self-service action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServiceActionInput"
      },
      "name": "DescribeServiceAction",
      "output": {
        "shape": "DescribeServiceActionOutput"
      }
    },
    "DescribeServiceActionExecutionParameters": {
      "documentation": "<p>Finds the default parameters for a specific self-service action on a specific provisioned product and returns a map of the results to the user.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeServiceActionExecutionParametersInput"
      },
      "name": "DescribeServiceActionExecutionParameters",
      "output": {
        "shape": "DescribeServiceActionExecutionParametersOutput"
      }
    },
    "DescribeTagOption": {
      "documentation": "<p>Gets information about the specified TagOption.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeTagOptionInput"
      },
      "name": "DescribeTagOption",
      "output": {
        "shape": "DescribeTagOptionOutput"
      }
    },
    "DisableAWSOrganizationsAccess": {
      "documentation": "<p>Disable portfolio sharing through AWS Organizations feature. This feature will not delete your current shares but it will prevent you from creating new shares throughout your organization. Current shares will not be in sync with your organization structure if it changes after calling this API. This API can only be called by the master account in the organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisableAWSOrganizationsAccessInput"
      },
      "name": "DisableAWSOrganizationsAccess",
      "output": {
        "shape": "DisableAWSOrganizationsAccessOutput"
      }
    },
    "DisassociateBudgetFromResource": {
      "documentation": "<p>Disassociates the specified budget from the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateBudgetFromResourceInput"
      },
      "name": "DisassociateBudgetFromResource",
      "output": {
        "shape": "DisassociateBudgetFromResourceOutput"
      }
    },
    "DisassociatePrincipalFromPortfolio": {
      "documentation": "<p>Disassociates a previously associated principal ARN from a specified portfolio.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociatePrincipalFromPortfolioInput"
      },
      "name": "DisassociatePrincipalFromPortfolio",
      "output": {
        "shape": "DisassociatePrincipalFromPortfolioOutput"
      }
    },
    "DisassociateProductFromPortfolio": {
      "documentation": "<p>Disassociates the specified product from the specified portfolio. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ResourceInUseException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateProductFromPortfolioInput"
      },
      "name": "DisassociateProductFromPortfolio",
      "output": {
        "shape": "DisassociateProductFromPortfolioOutput"
      }
    },
    "DisassociateServiceActionFromProvisioningArtifact": {
      "documentation": "<p>Disassociates the specified self-service action association from the specified provisioning artifact.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateServiceActionFromProvisioningArtifactInput"
      },
      "name": "DisassociateServiceActionFromProvisioningArtifact",
      "output": {
        "shape": "DisassociateServiceActionFromProvisioningArtifactOutput"
      }
    },
    "DisassociateTagOptionFromResource": {
      "documentation": "<p>Disassociates the specified TagOption from the specified resource.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DisassociateTagOptionFromResourceInput"
      },
      "name": "DisassociateTagOptionFromResource",
      "output": {
        "shape": "DisassociateTagOptionFromResourceOutput"
      }
    },
    "EnableAWSOrganizationsAccess": {
      "documentation": "<p>Enable portfolio sharing feature through AWS Organizations. This API will allow Service Catalog to receive updates on your organization in order to sync your shares with the current structure. This API can only be called by the master account in the organization.</p> <p>By calling this API Service Catalog will make a call to organizations:EnableAWSServiceAccess on your behalf so that your shares can be in sync with any changes in your AWS Organizations structure.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EnableAWSOrganizationsAccessInput"
      },
      "name": "EnableAWSOrganizationsAccess",
      "output": {
        "shape": "EnableAWSOrganizationsAccessOutput"
      }
    },
    "ExecuteProvisionedProductPlan": {
      "documentation": "<p>Provisions or modifies a product based on the resource changes for the specified plan.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecuteProvisionedProductPlanInput"
      },
      "name": "ExecuteProvisionedProductPlan",
      "output": {
        "shape": "ExecuteProvisionedProductPlanOutput"
      }
    },
    "ExecuteProvisionedProductServiceAction": {
      "documentation": "<p>Executes a self-service action against a provisioned product.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecuteProvisionedProductServiceActionInput"
      },
      "name": "ExecuteProvisionedProductServiceAction",
      "output": {
        "shape": "ExecuteProvisionedProductServiceActionOutput"
      }
    },
    "GetAWSOrganizationsAccessStatus": {
      "documentation": "<p>Get the Access Status for AWS Organization portfolio share feature. This API can only be called by the master account in the organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetAWSOrganizationsAccessStatusInput"
      },
      "name": "GetAWSOrganizationsAccessStatus",
      "output": {
        "shape": "GetAWSOrganizationsAccessStatusOutput"
      }
    },
    "ListAcceptedPortfolioShares": {
      "documentation": "<p>Lists all portfolios for which sharing was accepted by this account.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListAcceptedPortfolioSharesInput"
      },
      "name": "ListAcceptedPortfolioShares",
      "output": {
        "shape": "ListAcceptedPortfolioSharesOutput"
      }
    },
    "ListBudgetsForResource": {
      "documentation": "<p>Lists all the budgets associated to the specified resource.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBudgetsForResourceInput"
      },
      "name": "ListBudgetsForResource",
      "output": {
        "shape": "ListBudgetsForResourceOutput"
      }
    },
    "ListConstraintsForPortfolio": {
      "documentation": "<p>Lists the constraints for the specified portfolio and product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListConstraintsForPortfolioInput"
      },
      "name": "ListConstraintsForPortfolio",
      "output": {
        "shape": "ListConstraintsForPortfolioOutput"
      }
    },
    "ListLaunchPaths": {
      "documentation": "<p>Lists the paths to the specified product. A path is how the user has access to a specified product, and is necessary when provisioning a product. A path also determines the constraints put on the product.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListLaunchPathsInput"
      },
      "name": "ListLaunchPaths",
      "output": {
        "shape": "ListLaunchPathsOutput"
      }
    },
    "ListOrganizationPortfolioAccess": {
      "documentation": "<p>Lists the organization nodes that have access to the specified portfolio. This API can only be called by the master account in the organization.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "OperationNotSupportedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListOrganizationPortfolioAccessInput"
      },
      "name": "ListOrganizationPortfolioAccess",
      "output": {
        "shape": "ListOrganizationPortfolioAccessOutput"
      }
    },
    "ListPortfolioAccess": {
      "documentation": "<p>Lists the account IDs that have access to the specified portfolio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPortfolioAccessInput"
      },
      "name": "ListPortfolioAccess",
      "output": {
        "shape": "ListPortfolioAccessOutput"
      }
    },
    "ListPortfolios": {
      "documentation": "<p>Lists all portfolios in the catalog.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPortfoliosInput"
      },
      "name": "ListPortfolios",
      "output": {
        "shape": "ListPortfoliosOutput"
      }
    },
    "ListPortfoliosForProduct": {
      "documentation": "<p>Lists all portfolios that the specified product is associated with.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPortfoliosForProductInput"
      },
      "name": "ListPortfoliosForProduct",
      "output": {
        "shape": "ListPortfoliosForProductOutput"
      }
    },
    "ListPrincipalsForPortfolio": {
      "documentation": "<p>Lists all principal ARNs associated with the specified portfolio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListPrincipalsForPortfolioInput"
      },
      "name": "ListPrincipalsForPortfolio",
      "output": {
        "shape": "ListPrincipalsForPortfolioOutput"
      }
    },
    "ListProvisionedProductPlans": {
      "documentation": "<p>Lists the plans for the specified provisioned product or all plans to which the user has access.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProvisionedProductPlansInput"
      },
      "name": "ListProvisionedProductPlans",
      "output": {
        "shape": "ListProvisionedProductPlansOutput"
      }
    },
    "ListProvisioningArtifacts": {
      "documentation": "<p>Lists all provisioning artifacts (also known as versions) for the specified product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProvisioningArtifactsInput"
      },
      "name": "ListProvisioningArtifacts",
      "output": {
        "shape": "ListProvisioningArtifactsOutput"
      }
    },
    "ListProvisioningArtifactsForServiceAction": {
      "documentation": "<p>Lists all provisioning artifacts (also known as versions) for the specified self-service action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListProvisioningArtifactsForServiceActionInput"
      },
      "name": "ListProvisioningArtifactsForServiceAction",
      "output": {
        "shape": "ListProvisioningArtifactsForServiceActionOutput"
      }
    },
    "ListRecordHistory": {
      "documentation": "<p>Lists the specified requests or all performed requests.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListRecordHistoryInput"
      },
      "name": "ListRecordHistory",
      "output": {
        "shape": "ListRecordHistoryOutput"
      }
    },
    "ListResourcesForTagOption": {
      "documentation": "<p>Lists the resources associated with the specified TagOption.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListResourcesForTagOptionInput"
      },
      "name": "ListResourcesForTagOption",
      "output": {
        "shape": "ListResourcesForTagOptionOutput"
      }
    },
    "ListServiceActions": {
      "documentation": "<p>Lists all self-service actions.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceActionsInput"
      },
      "name": "ListServiceActions",
      "output": {
        "shape": "ListServiceActionsOutput"
      }
    },
    "ListServiceActionsForProvisioningArtifact": {
      "documentation": "<p>Returns a paginated list of self-service actions associated with the specified Product ID and Provisioning Artifact ID.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListServiceActionsForProvisioningArtifactInput"
      },
      "name": "ListServiceActionsForProvisioningArtifact",
      "output": {
        "shape": "ListServiceActionsForProvisioningArtifactOutput"
      }
    },
    "ListStackInstancesForProvisionedProduct": {
      "documentation": "<p>Returns summary information about stack instances that are associated with the specified <code>CFN_STACKSET</code> type provisioned product. You can filter for stack instances that are associated with a specific AWS account name or region. </p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStackInstancesForProvisionedProductInput"
      },
      "name": "ListStackInstancesForProvisionedProduct",
      "output": {
        "shape": "ListStackInstancesForProvisionedProductOutput"
      }
    },
    "ListTagOptions": {
      "documentation": "<p>Lists the specified TagOptions or all TagOptions.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListTagOptionsInput"
      },
      "name": "ListTagOptions",
      "output": {
        "shape": "ListTagOptionsOutput"
      }
    },
    "ProvisionProduct": {
      "documentation": "<p>Provisions the specified product.</p> <p>A provisioned product is a resourced instance of a product. For example, provisioning a product based on a CloudFormation template launches a CloudFormation stack and its underlying resources. You can check the status of this request using <a>DescribeRecord</a>.</p> <p>If the request contains a tag key with an empty list of values, there is a tag conflict for that key. Do not include conflicted keys as tags, or this causes the error \"Parameter validation failed: Missing required parameter in Tags[<i>N</i>]:<i>Value</i>\".</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DuplicateResourceException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ProvisionProductInput"
      },
      "name": "ProvisionProduct",
      "output": {
        "shape": "ProvisionProductOutput"
      }
    },
    "RejectPortfolioShare": {
      "documentation": "<p>Rejects an offer to share the specified portfolio.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "RejectPortfolioShareInput"
      },
      "name": "RejectPortfolioShare",
      "output": {
        "shape": "RejectPortfolioShareOutput"
      }
    },
    "ScanProvisionedProducts": {
      "documentation": "<p>Lists the provisioned products that are available (not terminated).</p> <p>To use additional filtering, see <a>SearchProvisionedProducts</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ScanProvisionedProductsInput"
      },
      "name": "ScanProvisionedProducts",
      "output": {
        "shape": "ScanProvisionedProductsOutput"
      }
    },
    "SearchProducts": {
      "documentation": "<p>Gets information about the products to which the caller has access.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchProductsInput"
      },
      "name": "SearchProducts",
      "output": {
        "shape": "SearchProductsOutput"
      }
    },
    "SearchProductsAsAdmin": {
      "documentation": "<p>Gets information about the products for the specified portfolio or all products.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchProductsAsAdminInput"
      },
      "name": "SearchProductsAsAdmin",
      "output": {
        "shape": "SearchProductsAsAdminOutput"
      }
    },
    "SearchProvisionedProducts": {
      "documentation": "<p>Gets information about the provisioned products that meet the specified criteria.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SearchProvisionedProductsInput"
      },
      "name": "SearchProvisionedProducts",
      "output": {
        "shape": "SearchProvisionedProductsOutput"
      }
    },
    "TerminateProvisionedProduct": {
      "documentation": "<p>Terminates the specified provisioned product.</p> <p>This operation does not delete any records associated with the provisioned product.</p> <p>You can check the status of this request using <a>DescribeRecord</a>.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "TerminateProvisionedProductInput"
      },
      "name": "TerminateProvisionedProduct",
      "output": {
        "shape": "TerminateProvisionedProductOutput"
      }
    },
    "UpdateConstraint": {
      "documentation": "<p>Updates the specified constraint.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateConstraintInput"
      },
      "name": "UpdateConstraint",
      "output": {
        "shape": "UpdateConstraintOutput"
      }
    },
    "UpdatePortfolio": {
      "documentation": "<p>Updates the specified portfolio.</p> <p>You cannot update a product that was shared with you.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "TagOptionNotMigratedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdatePortfolioInput"
      },
      "name": "UpdatePortfolio",
      "output": {
        "shape": "UpdatePortfolioOutput"
      }
    },
    "UpdateProduct": {
      "documentation": "<p>Updates the specified product.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "TagOptionNotMigratedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProductInput"
      },
      "name": "UpdateProduct",
      "output": {
        "shape": "UpdateProductOutput"
      }
    },
    "UpdateProvisionedProduct": {
      "documentation": "<p>Requests updates to the configuration of the specified provisioned product.</p> <p>If there are tags associated with the object, they cannot be updated or added. Depending on the specific updates requested, this operation can update with no interruption, with some interruption, or replace the provisioned product entirely.</p> <p>You can check the status of this request using <a>DescribeRecord</a>.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProvisionedProductInput"
      },
      "name": "UpdateProvisionedProduct",
      "output": {
        "shape": "UpdateProvisionedProductOutput"
      }
    },
    "UpdateProvisionedProductProperties": {
      "documentation": "<p>Requests updates to the properties of the specified provisioned product.</p>",
      "errors": [
        {
          "shape": "InvalidParametersException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidStateException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProvisionedProductPropertiesInput"
      },
      "name": "UpdateProvisionedProductProperties",
      "output": {
        "shape": "UpdateProvisionedProductPropertiesOutput"
      }
    },
    "UpdateProvisioningArtifact": {
      "documentation": "<p>Updates the specified provisioning artifact (also known as a version) for the specified product.</p> <p>You cannot update a provisioning artifact for a product that was shared with you.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateProvisioningArtifactInput"
      },
      "name": "UpdateProvisioningArtifact",
      "output": {
        "shape": "UpdateProvisioningArtifactOutput"
      }
    },
    "UpdateServiceAction": {
      "documentation": "<p>Updates a self-service action.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateServiceActionInput"
      },
      "name": "UpdateServiceAction",
      "output": {
        "shape": "UpdateServiceActionOutput"
      }
    },
    "UpdateTagOption": {
      "documentation": "<p>Updates the specified TagOption.</p>",
      "errors": [
        {
          "shape": "TagOptionNotMigratedException"
        },
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "DuplicateResourceException"
        },
        {
          "shape": "InvalidParametersException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTagOptionInput"
      },
      "name": "UpdateTagOption",
      "output": {
        "shape": "UpdateTagOptionOutput"
      }
    }
  },
  "shapes": {
    "AcceptLanguage": {
      "max": 100,
      "type": "string"
    },
    "AcceptPortfolioShareInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "PortfolioId": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        },
        "PortfolioShareType": {
          "documentation": "<p>The type of shared portfolios to accept. The default is to accept imported portfolios.</p> <ul> <li> <p> <code>AWS_ORGANIZATIONS</code> - Accept portfolios shared by the master account of your organization.</p> </li> <li> <p> <code>IMPORTED</code> - Accept imported portfolios.</p> </li> <li> <p> <code>AWS_SERVICECATALOG</code> - Not supported. (Throws ResourceNotFoundException.)</p> </li> </ul> <p>For example, <code>aws servicecatalog accept-portfolio-share --portfolio-id \"port-2qwzkwxt3y5fk\" --portfolio-share-type AWS_ORGANIZATIONS</code> </p>",
          "shape": "PortfolioShareType"
        }
      },
      "required": [
        "PortfolioId"
      ],
      "type": "structure"
    },
    "AcceptPortfolioShareOutput": {
      "members": {},
      "type": "structure"
    },
    "AccessLevelFilter": {
      "documentation": "<p>The access level to use to filter results.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The access level.</p> <ul> <li> <p> <code>Account</code> - Filter results based on the account.</p> </li> <li> <p> <code>Role</code> - Filter results based on the federated role of the specified user.</p> </li> <li> <p> <code>User</code> - Filter results based on the specified user.</p> </li> </ul>",
          "shape": "AccessLevelFilterKey"
        },
        "Value": {
          "documentation": "<p>The user to which the access level applies. The only supported value is <code>Self</code>.</p>",
          "shape": "AccessLevelFilterValue"
        }
      },
      "type": "structure"
    },
    "AccessLevelFilterKey": {
      "enum": [
        "Account",
        "Role",
        "User"
      ],
      "type": "string"
    },
    "AccessLevelFilterValue": {
      "type": "string"
    },
    "AccessStatus": {
      "enum": [
        "ENABLED",
        "UNDER_CHANGE",
        "DISABLED"
      ],
      "type": "string"
    },
    "AccountId": {
      "pattern": "^[0-9]{12}$",
      "type": "string"
    },
    "AccountIds": {
      "member": {
        "shape": "AccountId"
      },
      "type": "list"
    },
    "AddTags": {
      "max": 20,
      "member": {
        "shape": "Tag"
      },
      "type": "list"
    },
    "AllowedValue": {
      "type": "string"
    },
    "AllowedValues": {
      "member": {
        "shape": "AllowedValue"
      },
      "type": "list"
    },
    "ApproximateCount": {
      "type": "integer"
    },
    "AssociateBudgetWithResourceInput": {
      "members": {
        "BudgetName": {
          "documentation": "<p>The name of the budget you want to associate.</p>",
          "shape": "BudgetName"
        },
        "ResourceId": {
          "documentation": "<p> The resource identifier. Either a portfolio-id or a product-id.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "BudgetName",
        "ResourceId"
      ],
      "type": "structure"
    },
    "AssociateBudgetWithResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "AssociatePrincipalWithPortfolioInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "PortfolioId": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        },
        "PrincipalARN": {
          "documentation": "<p>The ARN of the principal (IAM user, role, or group).</p>",
          "shape": "PrincipalARN"
        },
        "PrincipalType": {
          "documentation": "<p>The principal type. The supported value is <code>IAM</code>.</p>",
          "shape": "PrincipalType"
        }
      },
      "required": [
        "PortfolioId",
        "PrincipalARN",
        "PrincipalType"
      ],
      "type": "structure"
    },
    "AssociatePrincipalWithPortfolioOutput": {
      "members": {},
      "type": "structure"
    },
    "AssociateProductWithPortfolioInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "PortfolioId": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        },
        "ProductId": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        },
        "SourcePortfolioId": {
          "documentation": "<p>The identifier of the source portfolio.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ProductId",
        "PortfolioId"
      ],
      "type": "structure"
    },
    "AssociateProductWithPortfolioOutput": {
      "members": {},
      "type": "structure"
    },
    "AssociateServiceActionWithProvisioningArtifactInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "ProductId": {
          "documentation": "<p>The product identifier. For example, <code>prod-abcdzk7xy33qa</code>.</p>",
          "shape": "Id"
        },
        "ProvisioningArtifactId": {
          "documentation": "<p>The identifier of the provisioning artifact. For example, <code>pa-4abcdjnxjj6ne</code>.</p>",
          "shape": "Id"
        },
        "ServiceActionId": {
          "documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ProductId",
        "ProvisioningArtifactId",
        "ServiceActionId"
      ],
      "type": "structure"
    },
    "AssociateServiceActionWithProvisioningArtifactOutput": {
      "members": {},
      "type": "structure"
    },
    "AssociateTagOptionWithResourceInput": {
      "members": {
        "ResourceId": {
          "documentation": "<p>The resource identifier.</p>",
          "shape": "ResourceId"
        },
        "TagOptionId": {
          "documentation": "<p>The TagOption identifier.</p>",
          "shape": "TagOptionId"
        }
      },
      "required": [
        "ResourceId",
        "TagOptionId"
      ],
      "type": "structure"
    },
    "AssociateTagOptionWithResourceOutput": {
      "members": {},
      "type": "structure"
    },
    "AttributeValue": {
      "type": "string"
    },
    "BatchAssociateServiceActionWithProvisioningArtifactInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "ServiceActionAssociations": {
          "documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>",
          "shape": "ServiceActionAssociations"
        }
      },
      "required": [
        "ServiceActionAssociations"
      ],
      "type": "structure"
    },
    "BatchAssociateServiceActionWithProvisioningArtifactOutput": {
      "members": {
        "FailedServiceActionAssociations": {
          "documentation": "<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>",
          "shape": "FailedServiceActionAssociations"
        }
      },
      "type": "structure"
    },
    "BatchDisassociateServiceActionFromProvisioningArtifactInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "ServiceActionAssociations": {
          "documentation": "<p>One or more associations, each consisting of the Action ID, the Product ID, and the Provisioning Artifact ID.</p>",
          "shape": "ServiceActionAssociations"
        }
      },
      "required": [
        "ServiceActionAssociations"
      ],
      "type": "structure"
    },
    "BatchDisassociateServiceActionFromProvisioningArtifactOutput": {
      "members": {
        "FailedServiceActionAssociations": {
          "documentation": "<p>An object that contains a list of errors, along with information to help you identify the self-service action.</p>",
          "shape": "FailedServiceActionAssociations"
        }
      },
      "type": "structure"
    },
    "BudgetDetail": {
      "documentation": "<p>Information about a budget.</p>",
      "members": {
        "BudgetName": {
          "documentation": "<p>Name of the associated budget.</p>",
          "shape": "BudgetName"
        }
      },
      "type": "structure"
    },
    "BudgetName": {
      "max": 100,
      "min": 1,
      "type": "string"
    },
    "Budgets": {
      "member": {
        "shape": "BudgetDetail"
      },
      "type": "list"
    },
    "CausingEntity": {
      "type": "string"
    },
    "ChangeAction": {
      "enum": [
        "ADD",
        "MODIFY",
        "REMOVE"
      ],
      "type": "string"
    },
    "CloudWatchDashboard": {
      "documentation": "<p>Information about a CloudWatch dashboard.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the CloudWatch dashboard.</p>",
          "shape": "CloudWatchDashboardName"
        }
      },
      "type": "structure"
    },
    "CloudWatchDashboardName": {
      "type": "string"
    },
    "CloudWatchDashboards": {
      "member": {
        "shape": "CloudWatchDashboard"
      },
      "type": "list"
    },
    "ConstraintDescription": {
      "max": 2000,
      "type": "string"
    },
    "ConstraintDetail": {
      "documentation": "<p>Information about a constraint.</p>",
      "members": {
        "ConstraintId": {
          "documentation": "<p>The identifier of the constraint.</p>",
          "shape": "Id"
        },
        "Description": {
          "documentation": "<p>The description of the constraint.</p>",
          "shape": "ConstraintDescription"
        },
        "Owner": {
          "documentation": "<p>The owner of the constraint.</p>",
          "shape": "AccountId"
        },
        "PortfolioId": {
          "documentation": "<p>The identifier of the portfolio the product resides in. The constraint applies only to the instance of the product that lives within this portfolio.</p>",
          "shape": "Id"
        },
        "ProductId": {
          "documentation": "<p>The identifier of the product the constraint applies to. Note that a constraint applies to a specific instance of a product within a certain portfolio.</p>",
          "shape": "Id"
        },
        "Type": {
          "documentation": "<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p>STACKSET</p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>",
          "shape": "ConstraintType"
        }
      },
      "type": "structure"
    },
    "ConstraintDetails": {
      "member": {
        "shape": "ConstraintDetail"
      },
      "type": "list"
    },
    "ConstraintParameters": {
      "type": "string"
    },
    "ConstraintSummaries": {
      "member": {
        "shape": "ConstraintSummary"
      },
      "type": "list"
    },
    "ConstraintSummary": {
      "documentation": "<p>Summary information about a constraint.</p>",
      "members": {
        "Description": {
          "documentation": "<p>The description of the constraint.</p>",
          "shape": "ConstraintDescription"
        },
        "Type": {
          "documentation": "<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p>STACKSET</p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>",
          "shape": "ConstraintType"
        }
      },
      "type": "structure"
    },
    "ConstraintType": {
      "max": 1024,
      "min": 1,
      "type": "string"
    },
    "CopyOption": {
      "enum": [
        "CopyTags"
      ],
      "type": "string"
    },
    "CopyOptions": {
      "member": {
        "shape": "CopyOption"
      },
      "type": "list"
    },
    "CopyProductInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "CopyOptions": {
          "documentation": "<p>The copy options. If the value is <code>CopyTags</code>, the tags from the source product are copied to the target product.</p>",
          "shape": "CopyOptions"
        },
        "IdempotencyToken": {
          "documentation": "<p> A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request. </p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "SourceProductArn": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the source product.</p>",
          "shape": "ProductArn"
        },
        "SourceProvisioningArtifactIdentifiers": {
          "documentation": "<p>The identifiers of the provisioning artifacts (also known as versions) of the product to copy. By default, all provisioning artifacts are copied.</p>",
          "shape": "SourceProvisioningArtifactProperties"
        },
        "TargetProductId": {
          "documentation": "<p>The identifier of the target product. By default, a new product is created.</p>",
          "shape": "Id"
        },
        "TargetProductName": {
          "documentation": "<p>A name for the target product. The default is the name of the source product.</p>",
          "shape": "ProductViewName"
        }
      },
      "required": [
        "SourceProductArn",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CopyProductOutput": {
      "members": {
        "CopyProductToken": {
          "documentation": "<p>The token to use to track the progress of the operation.</p>",
          "shape": "Id"
        }
      },
      "type": "structure"
    },
    "CopyProductStatus": {
      "enum": [
        "SUCCEEDED",
        "IN_PROGRESS",
        "FAILED"
      ],
      "type": "string"
    },
    "CreateConstraintInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Description": {
          "documentation": "<p>The description of the constraint.</p>",
          "shape": "ConstraintDescription"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Parameters": {
          "documentation": "<p>The constraint parameters, in JSON format. The syntax depends on the constraint type as follows:</p> <dl> <dt>LAUNCH</dt> <dd> <p>You are required to specify either the <code>RoleArn</code> or the <code>LocalRoleName</code> but can't use both.</p> <p>Specify the <code>RoleArn</code> property as follows:</p> <p> <code>{\"RoleArn\" : \"arn:aws:iam::123456789012:role/LaunchRole\"}</code> </p> <p>Specify the <code>LocalRoleName</code> property as follows:</p> <p> <code>{\"LocalRoleName\": \"SCBasicLaunchRole\"}</code> </p> <p>If you specify the <code>LocalRoleName</code> property, when an account uses the launch constraint, the IAM role with that name in the account will be used. This allows launch-role constraints to be account-agnostic so the administrator can create fewer resources per shared account.</p> <note> <p>The given role name must exist in the account used to create the launch constraint and the account of the user who launches a product with this launch constraint.</p> </note> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>LAUNCH</code> constraint on a product and portfolio.</p> </dd> <dt>NOTIFICATION</dt> <dd> <p>Specify the <code>NotificationArns</code> property as follows:</p> <p> <code>{\"NotificationArns\" : [\"arn:aws:sns:us-east-1:123456789012:Topic\"]}</code> </p> </dd> <dt>RESOURCE_UPDATE</dt> <dd> <p>Specify the <code>TagUpdatesOnProvisionedProduct</code> property as follows:</p> <p> <code>{\"Version\":\"2.0\",\"Properties\":{\"TagUpdateOnProvisionedProduct\":\"String\"}}</code> </p> <p>The <code>TagUpdatesOnProvisionedProduct</code> property accepts a string value of <code>ALLOWED</code> or <code>NOT_ALLOWED</code>.</p> </dd> <dt>STACKSET</dt> <dd> <p>Specify the <code>Parameters</code> property as follows:</p> <p> <code>{\"Version\": \"String\", \"Properties\": {\"AccountList\": [ \"String\" ], \"RegionList\": [ \"String\" ], \"AdminRole\": \"String\", \"ExecutionRole\": \"String\"}}</code> </p> <p>You cannot have both a <code>LAUNCH</code> and a <code>STACKSET</code> constraint.</p> <p>You also cannot have more than one <code>STACKSET</code> constraint on a product and portfolio.</p> <p>Products with a <code>STACKSET</code> constraint will launch an AWS CloudFormation stack set.</p> </dd> <dt>TEMPLATE</dt> <dd> <p>Specify the <code>Rules</code> property. For more information, see <a href=\"http://docs.aws.amazon.com/servicecatalog/latest/adminguide/reference-template_constraint_rules.html\">Template Constraint Rules</a>.</p> </dd> </dl>",
          "shape": "ConstraintParameters"
        },
        "PortfolioId": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        },
        "ProductId": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        },
        "Type": {
          "documentation": "<p>The type of constraint.</p> <ul> <li> <p> <code>LAUNCH</code> </p> </li> <li> <p> <code>NOTIFICATION</code> </p> </li> <li> <p> <code>RESOURCE_UPDATE</code> </p> </li> <li> <p> <code>STACKSET</code> </p> </li> <li> <p> <code>TEMPLATE</code> </p> </li> </ul>",
          "shape": "ConstraintType"
        }
      },
      "required": [
        "PortfolioId",
        "ProductId",
        "Parameters",
        "Type",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateConstraintOutput": {
      "members": {
        "ConstraintDetail": {
          "documentation": "<p>Information about the constraint.</p>",
          "shape": "ConstraintDetail"
        },
        "ConstraintParameters": {
          "documentation": "<p>The constraint parameters.</p>",
          "shape": "ConstraintParameters"
        },
        "Status": {
          "documentation": "<p>The status of the current request.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CreatePortfolioInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Description": {
          "documentation": "<p>The description of the portfolio.</p>",
          "shape": "PortfolioDescription"
        },
        "DisplayName": {
          "documentation": "<p>The name to use for display purposes.</p>",
          "shape": "PortfolioDisplayName"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "ProviderName": {
          "documentation": "<p>The name of the portfolio provider.</p>",
          "shape": "ProviderName"
        },
        "Tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "AddTags"
        }
      },
      "required": [
        "DisplayName",
        "ProviderName",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreatePortfolioOutput": {
      "members": {
        "PortfolioDetail": {
          "documentation": "<p>Information about the portfolio.</p>",
          "shape": "PortfolioDetail"
        },
        "Tags": {
          "documentation": "<p>Information about the tags associated with the portfolio.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreatePortfolioShareInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "AccountId": {
          "documentation": "<p>The AWS account ID. For example, <code>123456789012</code>.</p>",
          "shape": "AccountId"
        },
        "OrganizationNode": {
          "documentation": "<p>The organization node to whom you are going to share. If <code>OrganizationNode</code> is passed in, <code>PortfolioShare</code> will be created for the node and its children (when applies), and a <code>PortfolioShareToken</code> will be returned in the output in order for the administrator to monitor the status of the <code>PortfolioShare</code> creation process.</p>",
          "shape": "OrganizationNode"
        },
        "PortfolioId": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "PortfolioId"
      ],
      "type": "structure"
    },
    "CreatePortfolioShareOutput": {
      "members": {
        "PortfolioShareToken": {
          "documentation": "<p>The portfolio share unique identifier. This will only be returned if portfolio is shared to an organization node.</p>",
          "shape": "Id"
        }
      },
      "type": "structure"
    },
    "CreateProductInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Description": {
          "documentation": "<p>The description of the product.</p>",
          "shape": "ProductViewShortDescription"
        },
        "Distributor": {
          "documentation": "<p>The distributor of the product.</p>",
          "shape": "ProductViewOwner"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Name": {
          "documentation": "<p>The name of the product.</p>",
          "shape": "ProductViewName"
        },
        "Owner": {
          "documentation": "<p>The owner of the product.</p>",
          "shape": "ProductViewOwner"
        },
        "ProductType": {
          "documentation": "<p>The type of product.</p>",
          "shape": "ProductType"
        },
        "ProvisioningArtifactParameters": {
          "documentation": "<p>The configuration of the provisioning artifact.</p>",
          "shape": "ProvisioningArtifactProperties"
        },
        "SupportDescription": {
          "documentation": "<p>The support information about the product.</p>",
          "shape": "SupportDescription"
        },
        "SupportEmail": {
          "documentation": "<p>The contact email for product support.</p>",
          "shape": "SupportEmail"
        },
        "SupportUrl": {
          "documentation": "<p>The contact URL for product support.</p>",
          "shape": "SupportUrl"
        },
        "Tags": {
          "documentation": "<p>One or more tags.</p>",
          "shape": "AddTags"
        }
      },
      "required": [
        "Name",
        "Owner",
        "ProductType",
        "ProvisioningArtifactParameters",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateProductOutput": {
      "members": {
        "ProductViewDetail": {
          "documentation": "<p>Information about the product view.</p>",
          "shape": "ProductViewDetail"
        },
        "ProvisioningArtifactDetail": {
          "documentation": "<p>Information about the provisioning artifact.</p>",
          "shape": "ProvisioningArtifactDetail"
        },
        "Tags": {
          "documentation": "<p>Information about the tags associated with the product.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateProvisionedProductPlanInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "NotificationArns": {
          "documentation": "<p>Passed to CloudFormation. The SNS topic ARNs to which to publish stack-related events.</p>",
          "shape": "NotificationArns"
        },
        "PathId": {
          "documentation": "<p>The path identifier of the product. This value is optional if the product has a default path, and required if the product has more than one path. To list the paths for a product, use <a>ListLaunchPaths</a>.</p>",
          "shape": "Id"
        },
        "PlanName": {
          "documentation": "<p>The name of the plan.</p>",
          "shape": "ProvisionedProductPlanName"
        },
        "PlanType": {
          "documentation": "<p>The plan type.</p>",
          "shape": "ProvisionedProductPlanType"
        },
        "ProductId": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        },
        "ProvisionedProductName": {
          "documentation": "<p>A user-friendly name for the provisioned product. This value must be unique for the AWS account and cannot be updated after the product is provisioned.</p>",
          "shape": "ProvisionedProductName"
        },
        "ProvisioningArtifactId": {
          "documentation": "<p>The identifier of the provisioning artifact.</p>",
          "shape": "Id"
        },
        "ProvisioningParameters": {
          "documentation": "<p>Parameters specified by the administrator that are required for provisioning the product.</p>",
          "shape": "UpdateProvisioningParameters"
        },
        "Tags": {
          "documentation": "<p>One or more tags.</p> <p>If the plan is for an existing provisioned product, the product must have a <code>RESOURCE_UPDATE</code> constraint with <code>TagUpdatesOnProvisionedProduct</code> set to <code>ALLOWED</code> to allow tag updates.</p>",
          "shape": "Tags"
        }
      },
      "required": [
        "PlanName",
        "PlanType",
        "ProductId",
        "ProvisionedProductName",
        "ProvisioningArtifactId",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateProvisionedProductPlanOutput": {
      "members": {
        "PlanId": {
          "documentation": "<p>The plan identifier.</p>",
          "shape": "Id"
        },
        "PlanName": {
          "documentation": "<p>The name of the plan.</p>",
          "shape": "ProvisionedProductPlanName"
        },
        "ProvisionProductId": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        },
        "ProvisionedProductName": {
          "documentation": "<p>The user-friendly name of the provisioned product.</p>",
          "shape": "ProvisionedProductName"
        },
        "ProvisioningArtifactId": {
          "documentation": "<p>The identifier of the provisioning artifact.</p>",
          "shape": "Id"
        }
      },
      "type": "structure"
    },
    "CreateProvisioningArtifactInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Parameters": {
          "documentation": "<p>The configuration for the provisioning artifact.</p>",
          "shape": "ProvisioningArtifactProperties"
        },
        "ProductId": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ProductId",
        "Parameters",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateProvisioningArtifactOutput": {
      "members": {
        "Info": {
          "documentation": "<p>The URL of the CloudFormation template in Amazon S3, in JSON format.</p>",
          "shape": "ProvisioningArtifactInfo"
        },
        "ProvisioningArtifactDetail": {
          "documentation": "<p>Information about the provisioning artifact.</p>",
          "shape": "ProvisioningArtifactDetail"
        },
        "Status": {
          "documentation": "<p>The status of the current request.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "CreateServiceActionInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Definition": {
          "documentation": "<p>The self-service action definition. Can be one of the following:</p> <dl> <dt>Name</dt> <dd> <p>The name of the AWS Systems Manager Document. For example, <code>AWS-RestartEC2Instance</code>.</p> </dd> <dt>Version</dt> <dd> <p>The AWS Systems Manager automation document version. For example, <code>\"Version\": \"1\"</code> </p> </dd> <dt>AssumeRole</dt> <dd> <p>The Amazon Resource Name (ARN) of the role that performs the self-service actions on your behalf. For example, <code>\"AssumeRole\": \"arn:aws:iam::12345678910:role/ActionRole\"</code>.</p> <p>To reuse the provisioned product launch role, set to <code>\"AssumeRole\": \"LAUNCH_ROLE\"</code>.</p> </dd> <dt>Parameters</dt> <dd> <p>The list of parameters in JSON format.</p> <p>For example: <code>[{\\\"Name\\\":\\\"InstanceId\\\",\\\"Type\\\":\\\"TARGET\\\"}]</code> or <code>[{\\\"Name\\\":\\\"InstanceId\\\",\\\"Type\\\":\\\"TEXT_VALUE\\\"}]</code>.</p> </dd> </dl>",
          "shape": "ServiceActionDefinitionMap"
        },
        "DefinitionType": {
          "documentation": "<p>The service action definition type. For example, <code>SSM_AUTOMATION</code>.</p>",
          "shape": "ServiceActionDefinitionType"
        },
        "Description": {
          "documentation": "<p>The self-service action description.</p>",
          "shape": "ServiceActionDescription"
        },
        "IdempotencyToken": {
          "documentation": "<p>A unique identifier that you provide to ensure idempotency. If multiple requests differ only by the idempotency token, the same response is returned for each repeated request.</p>",
          "idempotencyToken": true,
          "shape": "IdempotencyToken"
        },
        "Name": {
          "documentation": "<p>The self-service action name.</p>",
          "shape": "ServiceActionName"
        }
      },
      "required": [
        "Name",
        "DefinitionType",
        "Definition",
        "IdempotencyToken"
      ],
      "type": "structure"
    },
    "CreateServiceActionOutput": {
      "members": {
        "ServiceActionDetail": {
          "documentation": "<p>An object containing information about the self-service action.</p>",
          "shape": "ServiceActionDetail"
        }
      },
      "type": "structure"
    },
    "CreateTagOptionInput": {
      "members": {
        "Key": {
          "documentation": "<p>The TagOption key.</p>",
          "shape": "TagOptionKey"
        },
        "Value": {
          "documentation": "<p>The TagOption value.</p>",
          "shape": "TagOptionValue"
        }
      },
      "required": [
        "Key",
        "Value"
      ],
      "type": "structure"
    },
    "CreateTagOptionOutput": {
      "members": {
        "TagOptionDetail": {
          "documentation": "<p>Information about the TagOption.</p>",
          "shape": "TagOptionDetail"
        }
      },
      "type": "structure"
    },
    "CreatedTime": {
      "type": "timestamp"
    },
    "CreationTime": {
      "type": "timestamp"
    },
    "DefaultValue": {
      "type": "string"
    },
    "DeleteConstraintInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Id": {
          "documentation": "<p>The identifier of the constraint.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteConstraintOutput": {
      "members": {},
      "type": "structure"
    },
    "DeletePortfolioInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Id": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeletePortfolioOutput": {
      "members": {},
      "type": "structure"
    },
    "DeletePortfolioShareInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "AccountId": {
          "documentation": "<p>The AWS account ID.</p>",
          "shape": "AccountId"
        },
        "OrganizationNode": {
          "documentation": "<p>The organization node to whom you are going to stop sharing.</p>",
          "shape": "OrganizationNode"
        },
        "PortfolioId": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "PortfolioId"
      ],
      "type": "structure"
    },
    "DeletePortfolioShareOutput": {
      "members": {
        "PortfolioShareToken": {
          "documentation": "<p>The portfolio share unique identifier. This will only be returned if delete is made to an organization node.</p>",
          "shape": "Id"
        }
      },
      "type": "structure"
    },
    "DeleteProductInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Id": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteProductOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteProvisionedProductPlanInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "IgnoreErrors": {
          "documentation": "<p>If set to true, AWS Service Catalog stops managing the specified provisioned product even if it cannot delete the underlying resources.</p>",
          "shape": "IgnoreErrors"
        },
        "PlanId": {
          "documentation": "<p>The plan identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "PlanId"
      ],
      "type": "structure"
    },
    "DeleteProvisionedProductPlanOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteProvisioningArtifactInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "ProductId": {
          "documentation": "<p>The product identifier.</p>",
          "shape": "Id"
        },
        "ProvisioningArtifactId": {
          "documentation": "<p>The identifier of the provisioning artifact.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "ProductId",
        "ProvisioningArtifactId"
      ],
      "type": "structure"
    },
    "DeleteProvisioningArtifactOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteServiceActionInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Id": {
          "documentation": "<p>The self-service action identifier. For example, <code>act-fs7abcd89wxyz</code>.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteServiceActionOutput": {
      "members": {},
      "type": "structure"
    },
    "DeleteTagOptionInput": {
      "members": {
        "Id": {
          "documentation": "<p>The TagOption identifier.</p>",
          "shape": "TagOptionId"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DeleteTagOptionOutput": {
      "members": {},
      "type": "structure"
    },
    "DescribeConstraintInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Id": {
          "documentation": "<p>The identifier of the constraint.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribeConstraintOutput": {
      "members": {
        "ConstraintDetail": {
          "documentation": "<p>Information about the constraint.</p>",
          "shape": "ConstraintDetail"
        },
        "ConstraintParameters": {
          "documentation": "<p>The constraint parameters.</p>",
          "shape": "ConstraintParameters"
        },
        "Status": {
          "documentation": "<p>The status of the current request.</p>",
          "shape": "Status"
        }
      },
      "type": "structure"
    },
    "DescribeCopyProductStatusInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "CopyProductToken": {
          "documentation": "<p>The token for the copy product operation. This token is returned by <a>CopyProduct</a>.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "CopyProductToken"
      ],
      "type": "structure"
    },
    "DescribeCopyProductStatusOutput": {
      "members": {
        "CopyProductStatus": {
          "documentation": "<p>The status of the copy product operation.</p>",
          "shape": "CopyProductStatus"
        },
        "StatusDetail": {
          "documentation": "<p>The status message.</p>",
          "shape": "StatusDetail"
        },
        "TargetProductId": {
          "documentation": "<p>The identifier of the copied product.</p>",
          "shape": "Id"
        }
      },
      "type": "structure"
    },
    "DescribePortfolioInput": {
      "members": {
        "AcceptLanguage": {
          "documentation": "<p>The language code.</p> <ul> <li> <p> <code>en</code> - English (default)</p> </li> <li> <p> <code>jp</code> - Japanese</p> </li> <li> <p> <code>zh</code> - Chinese</p> </li> </ul>",
          "shape": "AcceptLanguage"
        },
        "Id": {
          "documentation": "<p>The portfolio identifier.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "Id"
      ],
      "type": "structure"
    },
    "DescribePortfolioOutput": {
      "members": {
        "Budgets": {
          "documentation": "<p>Information about the associated budgets.</p>",
          "shape": "Budgets"
        },
        "PortfolioDetail": {
          "documentation": "<p>Information about the portfolio.</p>",
          "shape": "PortfolioDetail"
        },
        "TagOptions": {
          "documentation": "<p>Information about the TagOptions associated with the portfolio.</p>",
          "shape": "TagOptionDetails"
        },
        "Tags": {
          "documentation": "<p>Information about the tags associated with the portfolio.</p>",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "DescribePortfolioShareStatusInput": {
      "members": {
        "PortfolioShareToken": {
          "documentation": "<p>The token for the portfolio share operation. This token is returned either by CreatePortfolioShare or by DeletePortfolioShare.</p>",
          "shape": "Id"
        }
      },
      "required": [
        "PortfolioShareToken"
      ],
[...]
