{
  "documentation": "<p>The Cost Explorer API enables you to programmatically query your cost and usage data. You can query for aggregated data such as total monthly costs or total daily usage. You can also query for granular data, such as the number of daily write operations for Amazon DynamoDB database tables in your production environment. </p> <p>Service Endpoint</p> <p>The Cost Explorer API provides the following endpoint:</p> <ul> <li> <p> <code>https://ce.us-east-1.amazonaws.com</code> </p> </li> </ul> <p>For information about costs associated with the Cost Explorer API, see <a href=\"http://aws.amazon.com/aws-cost-management/pricing/\">AWS Cost Management Pricing</a>.</p>",
  "metadata": {
    "apiVersion": "2017-10-25",
    "endpointPrefix": "ce",
    "jsonVersion": "1.1",
    "protocol": "json",
    "serviceAbbreviation": "AWS Cost Explorer",
    "serviceFullName": "AWS Cost Explorer Service",
    "serviceId": "Cost Explorer",
    "signatureVersion": "v4",
    "signingName": "ce",
    "targetPrefix": "AWSInsightsIndexService",
    "uid": "ce-2017-10-25"
  },
  "operations": {
    "CreateCostCategoryDefinition": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Creates a new Cost Category with the requested name and rules.</p>",
      "errors": [
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateCostCategoryDefinitionRequest"
      },
      "name": "CreateCostCategoryDefinition",
      "output": {
        "shape": "CreateCostCategoryDefinitionResponse"
      }
    },
    "DeleteCostCategoryDefinition": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Deletes a Cost Category. Expenses from this month going forward will no longer be categorized with this Cost Category.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteCostCategoryDefinitionRequest"
      },
      "name": "DeleteCostCategoryDefinition",
      "output": {
        "shape": "DeleteCostCategoryDefinitionResponse"
      }
    },
    "DescribeCostCategoryDefinition": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Returns the name, ARN, rules, definition, and effective dates of a Cost Category that's defined in the account.</p> <p>You have the option to use <code>EffectiveOn</code> to return a Cost Category that is active on a specific date. If there is no <code>EffectiveOn</code> specified, you\u2019ll see a Cost Category that is effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeCostCategoryDefinitionRequest"
      },
      "name": "DescribeCostCategoryDefinition",
      "output": {
        "shape": "DescribeCostCategoryDefinitionResponse"
      }
    },
    "GetCostAndUsage": {
      "documentation": "<p>Retrieves cost and usage metrics for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostAndUsageRequest"
      },
      "name": "GetCostAndUsage",
      "output": {
        "shape": "GetCostAndUsageResponse"
      }
    },
    "GetCostAndUsageWithResources": {
      "documentation": "<p>Retrieves cost and usage metrics with resources for your account. You can specify which cost and usage-related metric, such as <code>BlendedCosts</code> or <code>UsageQuantity</code>, that you want the request to return. You can also filter and group your data by various dimensions, such as <code>SERVICE</code> or <code>AZ</code>, in a specific time range. For a complete list of valid dimensions, see the <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_GetDimensionValues.html\">GetDimensionValues</a> operation. Master accounts in an organization in AWS Organizations have access to all member accounts. This API is currently available for the Amazon Elastic Compute Cloud \u2013 Compute service only.</p> <note> <p>This is an opt-in only feature. You can enable this feature from the Cost Explorer Settings page. For information on how to access the Settings page, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-access.html\">Controlling Access for Cost Explorer</a> in the <i>AWS Billing and Cost Management User Guide</i>.</p> </note>",
      "errors": [
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostAndUsageWithResourcesRequest"
      },
      "name": "GetCostAndUsageWithResources",
      "output": {
        "shape": "GetCostAndUsageWithResourcesResponse"
      }
    },
    "GetCostForecast": {
      "documentation": "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will spend over the forecast time period that you select, based on your past costs. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetCostForecastRequest"
      },
      "name": "GetCostForecast",
      "output": {
        "shape": "GetCostForecastResponse"
      }
    },
    "GetDimensionValues": {
      "documentation": "<p>Retrieves all available filter values for a specified filter over a period of time. You can search the dimension values for an arbitrary string. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetDimensionValuesRequest"
      },
      "name": "GetDimensionValues",
      "output": {
        "shape": "GetDimensionValuesResponse"
      }
    },
    "GetReservationCoverage": {
      "documentation": "<p>Retrieves the reservation coverage for your account. This enables you to see how much of your Amazon Elastic Compute Cloud, Amazon ElastiCache, Amazon Relational Database Service, or Amazon Redshift usage is covered by a reservation. An organization's master account can see the coverage of the associated member accounts. For any time period, you can filter data about reservation usage by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReservationCoverageRequest"
      },
      "name": "GetReservationCoverage",
      "output": {
        "shape": "GetReservationCoverageResponse"
      }
    },
    "GetReservationPurchaseRecommendation": {
      "documentation": "<p>Gets recommendations for which reservations to purchase. These recommendations could help you reduce your costs. Reservations provide a discounted hourly rate (up to 75%) compared to On-Demand pricing.</p> <p>AWS generates your recommendations by identifying your On-Demand usage during a specific time period and collecting your usage into categories that are eligible for a reservation. After AWS has these categories, it simulates every combination of reservations in each category of usage to identify the best number of each type of RI to purchase to maximize your estimated savings. </p> <p>For example, AWS automatically aggregates your Amazon EC2 Linux, shared tenancy, and c4 family usage in the US West (Oregon) Region and recommends that you buy size-flexible regional reservations to apply to the c4 family usage. AWS recommends the smallest size instance in an instance family. This makes it easier to purchase a size-flexible RI. AWS also shows the equal number of normalized units so that you can purchase any instance size that you want. For this example, your RI recommendation would be for <code>c4.large</code> because that is the smallest size instance in the c4 instance family.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReservationPurchaseRecommendationRequest"
      },
      "name": "GetReservationPurchaseRecommendation",
      "output": {
        "shape": "GetReservationPurchaseRecommendationResponse"
      }
    },
    "GetReservationUtilization": {
      "documentation": "<p>Retrieves the reservation utilization for your account. Master accounts in an organization have access to member accounts. You can filter data by dimensions in a time period. You can use <code>GetDimensionValues</code> to determine the possible dimension values. Currently, you can group only by <code>SUBSCRIPTION_ID</code>. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetReservationUtilizationRequest"
      },
      "name": "GetReservationUtilization",
      "output": {
        "shape": "GetReservationUtilizationResponse"
      }
    },
    "GetRightsizingRecommendation": {
      "documentation": "<p>Creates recommendations that helps you save cost by identifying idle and underutilized Amazon EC2 instances.</p> <p>Recommendations are generated to either downsize or terminate instances, along with providing savings detail and metrics. For details on calculation and function, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/ce-what-is.html\">Optimizing Your Cost with Rightsizing Recommendations</a>.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetRightsizingRecommendationRequest"
      },
      "name": "GetRightsizingRecommendation",
      "output": {
        "shape": "GetRightsizingRecommendationResponse"
      }
    },
    "GetSavingsPlansCoverage": {
      "documentation": "<p>Retrieves the Savings Plans covered for your account. This enables you to see how much of your cost is covered by a Savings Plan. An organization\u2019s master account can see the coverage of the associated member accounts. For any time period, you can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p>To determine valid values for a dimension, use the <code>GetDimensionValues</code> operation.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansCoverageRequest"
      },
      "name": "GetSavingsPlansCoverage",
      "output": {
        "shape": "GetSavingsPlansCoverageResponse"
      }
    },
    "GetSavingsPlansPurchaseRecommendation": {
      "documentation": "<p>Retrieves your request parameters, Savings Plan Recommendations Summary and Details. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansPurchaseRecommendationRequest"
      },
      "name": "GetSavingsPlansPurchaseRecommendation",
      "output": {
        "shape": "GetSavingsPlansPurchaseRecommendationResponse"
      }
    },
    "GetSavingsPlansUtilization": {
      "documentation": "<p>Retrieves the Savings Plans utilization for your account across date ranges with daily or monthly granularity. Master accounts in an organization have access to member accounts. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p>You cannot group by any dimension values for <code>GetSavingsPlansUtilization</code>.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansUtilizationRequest"
      },
      "name": "GetSavingsPlansUtilization",
      "output": {
        "shape": "GetSavingsPlansUtilizationResponse"
      }
    },
    "GetSavingsPlansUtilizationDetails": {
      "documentation": "<p>Retrieves attribute data along with aggregate utilization and savings data for a given time period. This doesn't support granular or grouped data (daily/monthly) in response. You can't retrieve data by dates in a single response similar to <code>GetSavingsPlanUtilization</code>, but you have the option to make multiple calls to <code>GetSavingsPlanUtilizationDetails</code> by providing individual dates. You can use <code>GetDimensionValues</code> in <code>SAVINGS_PLANS</code> to determine the possible dimension values.</p> <note> <p> <code>GetSavingsPlanUtilizationDetails</code> internally groups data by <code>SavingsPlansArn</code>.</p> </note>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetSavingsPlansUtilizationDetailsRequest"
      },
      "name": "GetSavingsPlansUtilizationDetails",
      "output": {
        "shape": "GetSavingsPlansUtilizationDetailsResponse"
      }
    },
    "GetTags": {
      "documentation": "<p>Queries for available tag keys and tag values for a specified period. You can search the tag values for an arbitrary string. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "BillExpirationException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "InvalidNextTokenException"
        },
        {
          "shape": "RequestChangedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTagsRequest"
      },
      "name": "GetTags",
      "output": {
        "shape": "GetTagsResponse"
      }
    },
    "GetUsageForecast": {
      "documentation": "<p>Retrieves a forecast for how much Amazon Web Services predicts that you will use over the forecast time period that you select, based on your past usage. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "DataUnavailableException"
        },
        {
          "shape": "UnresolvableUsageUnitException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetUsageForecastRequest"
      },
      "name": "GetUsageForecast",
      "output": {
        "shape": "GetUsageForecastResponse"
      }
    },
    "ListCostCategoryDefinitions": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Returns the name, ARN and effective dates of all Cost Categories defined in the account. You have the option to use <code>EffectiveOn</code> to return a list of Cost Categories that were active on a specific date. If there is no <code>EffectiveOn</code> specified, you\u2019ll see Cost Categories that are effective on the current date. If Cost Category is still effective, <code>EffectiveEnd</code> is omitted in the response. </p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListCostCategoryDefinitionsRequest"
      },
      "name": "ListCostCategoryDefinitions",
      "output": {
        "shape": "ListCostCategoryDefinitionsResponse"
      }
    },
    "UpdateCostCategoryDefinition": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Updates an existing Cost Category. Changes made to the Cost Category rules will be used to categorize the current month\u2019s expenses and future expenses. This won\u2019t change categorization for the previous months.</p>",
      "errors": [
        {
          "shape": "ResourceNotFoundException"
        },
        {
          "shape": "ServiceQuotaExceededException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateCostCategoryDefinitionRequest"
      },
      "name": "UpdateCostCategoryDefinition",
      "output": {
        "shape": "UpdateCostCategoryDefinitionResponse"
      }
    }
  },
  "shapes": {
    "AccountScope": {
      "enum": [
        "PAYER",
        "LINKED"
      ],
      "type": "string"
    },
    "AmortizedRecurringFee": {
      "type": "string"
    },
    "AmortizedUpfrontFee": {
      "type": "string"
    },
    "Arn": {
      "max": 2048,
      "min": 20,
      "pattern": "arn:aws[-a-z0-9]*:[a-z0-9]+:[-a-z0-9]*:[0-9]{12}:[-a-zA-Z0-9/:_]+",
      "type": "string"
    },
    "AttributeType": {
      "type": "string"
    },
    "AttributeValue": {
      "type": "string"
    },
    "Attributes": {
      "key": {
        "shape": "AttributeType"
      },
      "type": "map",
      "value": {
        "shape": "AttributeValue"
      }
    },
    "BillExpirationException": {
      "documentation": "<p>The requested report expired. Update the date interval and try again.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "Context": {
      "enum": [
        "COST_AND_USAGE",
        "RESERVATIONS",
        "SAVINGS_PLANS"
      ],
      "type": "string"
    },
    "CostCategory": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>The structure of Cost Categories. This includes detailed metadata and the set of rules for the <code>CostCategory</code> object.</p>",
      "members": {
        "CostCategoryArn": {
          "documentation": "<p> The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveEnd": {
          "documentation": "<p> The Cost Category's effective end date.</p>",
          "shape": "ZonedDateTime"
        },
        "EffectiveStart": {
          "documentation": "<p> The Cost Category's effective start date.</p>",
          "shape": "ZonedDateTime"
        },
        "Name": {
          "shape": "CostCategoryName"
        },
        "RuleVersion": {
          "shape": "CostCategoryRuleVersion"
        },
        "Rules": {
          "documentation": "<p> Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>",
          "shape": "CostCategoryRulesList"
        }
      },
      "required": [
        "CostCategoryArn",
        "EffectiveStart",
        "Name",
        "RuleVersion",
        "Rules"
      ],
      "type": "structure"
    },
    "CostCategoryName": {
      "documentation": "<p>The unique name of the Cost Category.</p>",
      "max": 255,
      "min": 1,
      "pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$",
      "type": "string"
    },
    "CostCategoryReference": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>A reference to a Cost Category containing only enough information to identify the Cost Category.</p> <p>You can use this information to retrieve the full Cost Category information using <code>DescribeCostCategory</code>.</p>",
      "members": {
        "CostCategoryArn": {
          "documentation": "<p> The unique identifier for your Cost Category Reference. </p>",
          "shape": "Arn"
        },
        "EffectiveEnd": {
          "documentation": "<p> The Cost Category's effective end date.</p>",
          "shape": "ZonedDateTime"
        },
        "EffectiveStart": {
          "documentation": "<p> The Cost Category's effective start date.</p>",
          "shape": "ZonedDateTime"
        },
        "Name": {
          "shape": "CostCategoryName"
        }
      },
      "type": "structure"
    },
    "CostCategoryReferencesList": {
      "member": {
        "shape": "CostCategoryReference"
      },
      "type": "list"
    },
    "CostCategoryRule": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value.</p>",
      "members": {
        "Rule": {
          "documentation": "<p>An <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object used to categorize costs. This supports dimensions, Tags, and nested expressions. Currently the only dimensions supported is <code>LINKED_ACCOUNT</code>.</p> <p>Root level <code>OR</code> is not supported. We recommend you create a separate rule instead.</p>",
          "shape": "Expression"
        },
        "Value": {
          "shape": "CostCategoryValue"
        }
      },
      "required": [
        "Value",
        "Rule"
      ],
      "type": "structure"
    },
    "CostCategoryRuleVersion": {
      "documentation": "<p>The rule schema version in this particular Cost Category.</p>",
      "enum": [
        "CostCategoryExpression.v1"
      ],
      "type": "string"
    },
    "CostCategoryRulesList": {
      "max": 500,
      "member": {
        "shape": "CostCategoryRule"
      },
      "min": 1,
      "type": "list"
    },
    "CostCategoryValue": {
      "documentation": "<p>The value a line item will be categorized as, if it matches the rule.</p>",
      "max": 255,
      "min": 1,
      "pattern": "^(?! )[\\p{L}\\p{N}\\p{Z}-_]*(?<! )$",
      "type": "string"
    },
    "CostCategoryValues": {
      "documentation": "<important> <p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> </important> <p>The values that are available for Cost Categories.</p>",
      "members": {
        "Key": {
          "shape": "CostCategoryName"
        },
        "Values": {
          "documentation": "<p>The specific value of the Cost Category.</p>",
          "shape": "Values"
        }
      },
      "type": "structure"
    },
    "Coverage": {
      "documentation": "<p>The amount of instance usage that a reservation covered.</p>",
      "members": {
        "CoverageCost": {
          "documentation": "<p>The amount of cost that the reservation covered.</p>",
          "shape": "CoverageCost"
        },
        "CoverageHours": {
          "documentation": "<p>The amount of instance usage that the reservation covered, in hours.</p>",
          "shape": "CoverageHours"
        },
        "CoverageNormalizedUnits": {
          "documentation": "<p>The amount of instance usage that the reservation covered, in normalized units.</p>",
          "shape": "CoverageNormalizedUnits"
        }
      },
      "type": "structure"
    },
    "CoverageByTime": {
      "documentation": "<p>Reservation coverage for a specified period, in hours.</p>",
      "members": {
        "Groups": {
          "documentation": "<p>The groups of instances that the reservation covered.</p>",
          "shape": "ReservationCoverageGroups"
        },
        "TimePeriod": {
          "documentation": "<p>The period that this coverage was used over.</p>",
          "shape": "DateInterval"
        },
        "Total": {
          "documentation": "<p>The total reservation coverage, in hours.</p>",
          "shape": "Coverage"
        }
      },
      "type": "structure"
    },
    "CoverageCost": {
      "documentation": "<p>How much it cost to run an instance.</p>",
      "members": {
        "OnDemandCost": {
          "documentation": "<p>How much an On-Demand instance cost.</p>",
          "shape": "OnDemandCost"
        }
      },
      "type": "structure"
    },
    "CoverageHours": {
      "documentation": "<p>How long a running instance either used a reservation or was On-Demand.</p>",
      "members": {
        "CoverageHoursPercentage": {
          "documentation": "<p>The percentage of instance hours that a reservation covered.</p>",
          "shape": "CoverageHoursPercentage"
        },
        "OnDemandHours": {
          "documentation": "<p>The number of instance running hours that On-Demand Instances covered.</p>",
          "shape": "OnDemandHours"
        },
        "ReservedHours": {
          "documentation": "<p>The number of instance running hours that reservations covered.</p>",
          "shape": "ReservedHours"
        },
        "TotalRunningHours": {
          "documentation": "<p>The total instance usage, in hours.</p>",
          "shape": "TotalRunningHours"
        }
      },
      "type": "structure"
    },
    "CoverageHoursPercentage": {
      "type": "string"
    },
    "CoverageNormalizedUnits": {
      "documentation": "<p>The amount of instance usage, in normalized units. Normalized units enable you to see your EC2 usage for multiple sizes of instances in a uniform way. For example, suppose you run an xlarge instance and a 2xlarge instance. If you run both instances for the same amount of time, the 2xlarge instance uses twice as much of your reservation as the xlarge instance, even though both instances show only one instance-hour. Using normalized units instead of instance-hours, the xlarge instance used 8 normalized units, and the 2xlarge instance used 16 normalized units.</p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ri-modifying.html\">Modifying Reserved Instances</a> in the <i>Amazon Elastic Compute Cloud User Guide for Linux Instances</i>.</p>",
      "members": {
        "CoverageNormalizedUnitsPercentage": {
          "documentation": "<p>The percentage of your used instance normalized units that a reservation covers.</p>",
          "shape": "CoverageNormalizedUnitsPercentage"
        },
        "OnDemandNormalizedUnits": {
          "documentation": "<p>The number of normalized units that are covered by On-Demand Instances instead of a reservation.</p>",
          "shape": "OnDemandNormalizedUnits"
        },
        "ReservedNormalizedUnits": {
          "documentation": "<p>The number of normalized units that a reservation covers.</p>",
          "shape": "ReservedNormalizedUnits"
        },
        "TotalRunningNormalizedUnits": {
          "documentation": "<p>The total number of normalized units that you used.</p>",
          "shape": "TotalRunningNormalizedUnits"
        }
      },
      "type": "structure"
    },
    "CoverageNormalizedUnitsPercentage": {
      "type": "string"
    },
    "CoveragesByTime": {
      "member": {
        "shape": "CoverageByTime"
      },
      "type": "list"
    },
    "CreateCostCategoryDefinitionRequest": {
      "members": {
        "Name": {
          "shape": "CostCategoryName"
        },
        "RuleVersion": {
          "shape": "CostCategoryRuleVersion"
        },
        "Rules": {
          "documentation": "<p> <code>CreateCostCategoryDefinition</code> supports dimensions, Tags, and nested expressions. Currently the only dimensions supported is <code>LINKED_ACCOUNT</code>.</p> <p>Root level <code>OR</code> is not supported. We recommend you create a separate rule instead.</p> <p>Rules are processed in order. If there are multiple rules that match the line item, then the first rule to match is used to determine that Cost Category value. </p>",
          "shape": "CostCategoryRulesList"
        }
      },
      "required": [
        "Name",
        "RuleVersion",
        "Rules"
      ],
      "type": "structure"
    },
    "CreateCostCategoryDefinitionResponse": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p> The unique identifier for your newly created Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveStart": {
          "documentation": "<p> The Cost Category's effective start date. </p>",
          "shape": "ZonedDateTime"
        }
      },
      "type": "structure"
    },
    "CurrentInstance": {
      "documentation": "<p>Context about the current instance.</p>",
      "members": {
        "CurrencyCode": {
          "documentation": "<p> The currency code that Amazon Web Services used to calculate the costs for this instance.</p>",
          "shape": "GenericString"
        },
        "MonthlyCost": {
          "documentation": "<p> Current On Demand cost of operating this instance on a monthly basis.</p>",
          "shape": "GenericString"
        },
        "OnDemandHoursInLookbackPeriod": {
          "documentation": "<p> Number of hours during the lookback period billed at On Demand rates.</p>",
          "shape": "GenericString"
        },
        "ReservationCoveredHoursInLookbackPeriod": {
          "documentation": "<p> Number of hours during the lookback period covered by reservations.</p>",
          "shape": "GenericString"
        },
        "ResourceDetails": {
          "documentation": "<p> Details about the resource and utilization.</p>",
          "shape": "ResourceDetails"
        },
        "ResourceId": {
          "documentation": "<p>Resource ID of the current instance.</p>",
          "shape": "GenericString"
        },
        "ResourceUtilization": {
          "documentation": "<p> Utilization information of the current instance during the lookback period.</p>",
          "shape": "ResourceUtilization"
        },
        "SavingsPlansCoveredHoursInLookbackPeriod": {
          "documentation": "<p>Number of hours during the lookback period covered by Savings Plans.</p>",
          "shape": "GenericString"
        },
        "Tags": {
          "documentation": "<p>Cost allocation resource tags applied to the instance.</p>",
          "shape": "TagValuesList"
        },
        "TotalRunningHoursInLookbackPeriod": {
          "documentation": "<p> The total number of hours the instance ran during the lookback period.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "DataUnavailableException": {
      "documentation": "<p>The requested data is unavailable.</p>",
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "DateInterval": {
      "documentation": "<p>The time period that you want the usage and costs for. </p>",
      "members": {
        "End": {
          "documentation": "<p>The end of the time period that you want the usage and costs for. The end date is exclusive. For example, if <code>end</code> is <code>2017-05-01</code>, AWS retrieves cost and usage data from the start date up to, but not including, <code>2017-05-01</code>.</p>",
          "shape": "YearMonthDay"
        },
        "Start": {
          "documentation": "<p>The beginning of the time period that you want the usage and costs for. The start date is inclusive. For example, if <code>start</code> is <code>2017-01-01</code>, AWS retrieves cost and usage data starting at <code>2017-01-01</code> up to the end date.</p>",
          "shape": "YearMonthDay"
        }
      },
      "required": [
        "Start",
        "End"
      ],
      "type": "structure"
    },
    "DeleteCostCategoryDefinitionRequest": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p> The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        }
      },
      "required": [
        "CostCategoryArn"
      ],
      "type": "structure"
    },
    "DeleteCostCategoryDefinitionResponse": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p> The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveEnd": {
          "documentation": "<p> The effective end date of the Cost Category as a result of deleting it. No costs after this date will be categorized by the deleted Cost Category. </p>",
          "shape": "ZonedDateTime"
        }
      },
      "type": "structure"
    },
    "DescribeCostCategoryDefinitionRequest": {
      "members": {
        "CostCategoryArn": {
          "documentation": "<p> The unique identifier for your Cost Category. </p>",
          "shape": "Arn"
        },
        "EffectiveOn": {
          "documentation": "<p> The date when the Cost Category was effective. </p>",
          "shape": "ZonedDateTime"
        }
      },
      "required": [
        "CostCategoryArn"
      ],
      "type": "structure"
    },
    "DescribeCostCategoryDefinitionResponse": {
      "members": {
        "CostCategory": {
          "shape": "CostCategory"
        }
      },
      "type": "structure"
    },
    "Dimension": {
      "enum": [
        "AZ",
        "INSTANCE_TYPE",
        "LINKED_ACCOUNT",
        "OPERATION",
        "PURCHASE_TYPE",
        "REGION",
        "SERVICE",
        "USAGE_TYPE",
        "USAGE_TYPE_GROUP",
        "RECORD_TYPE",
        "OPERATING_SYSTEM",
        "TENANCY",
        "SCOPE",
        "PLATFORM",
        "SUBSCRIPTION_ID",
        "LEGAL_ENTITY_NAME",
        "DEPLOYMENT_OPTION",
        "DATABASE_ENGINE",
        "CACHE_ENGINE",
        "INSTANCE_TYPE_FAMILY",
        "BILLING_ENTITY",
        "RESERVATION_ID",
        "RESOURCE_ID",
        "RIGHTSIZING_TYPE",
        "SAVINGS_PLANS_TYPE",
        "SAVINGS_PLAN_ARN",
        "PAYMENT_OPTION"
      ],
      "type": "string"
    },
    "DimensionValues": {
      "documentation": "<p>The metadata that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>",
      "members": {
        "Key": {
          "documentation": "<p>The names of the metadata types that you can use to filter and group your results. For example, <code>AZ</code> returns a list of Availability Zones.</p>",
          "shape": "Dimension"
        },
        "Values": {
          "documentation": "<p>The metadata values that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p> <p>Valid values for the <code>SERVICE</code> dimension are <code>Amazon Elastic Compute Cloud - Compute</code>, <code>Amazon Elasticsearch Service</code>, <code>Amazon ElastiCache</code>, <code>Amazon Redshift</code>, and <code>Amazon Relational Database Service</code>.</p>",
          "shape": "Values"
        }
      },
      "type": "structure"
    },
    "DimensionValuesWithAttributes": {
      "documentation": "<p>The metadata of a specific type that you can use to filter and group your results. You can use <code>GetDimensionValues</code> to find specific values.</p>",
      "members": {
        "Attributes": {
          "documentation": "<p>The attribute that applies to a specific <code>Dimension</code>.</p>",
          "shape": "Attributes"
        },
        "Value": {
          "documentation": "<p>The value of a dimension with a specific attribute.</p>",
          "shape": "Value"
        }
      },
      "type": "structure"
    },
    "DimensionValuesWithAttributesList": {
      "member": {
        "shape": "DimensionValuesWithAttributes"
      },
      "type": "list"
    },
    "EC2InstanceDetails": {
      "documentation": "<p>Details about the Amazon EC2 instances that AWS recommends that you purchase.</p>",
      "members": {
        "AvailabilityZone": {
          "documentation": "<p>The Availability Zone of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "CurrentGeneration": {
          "documentation": "<p>Whether the recommendation is for a current-generation instance. </p>",
          "shape": "GenericBoolean"
        },
        "Family": {
          "documentation": "<p>The instance family of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "InstanceType": {
          "documentation": "<p>The type of instance that AWS recommends.</p>",
          "shape": "GenericString"
        },
        "Platform": {
          "documentation": "<p>The platform of the recommended reservation. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The AWS Region of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "SizeFlexEligible": {
          "documentation": "<p>Whether the recommended reservation is size flexible.</p>",
          "shape": "GenericBoolean"
        },
        "Tenancy": {
          "documentation": "<p>Whether the recommended reservation is dedicated or shared.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EC2ResourceDetails": {
      "documentation": "<p> Details on the Amazon EC2 Resource.</p>",
      "members": {
        "HourlyOnDemandRate": {
          "documentation": "<p> Hourly public On Demand rate for the instance type.</p>",
          "shape": "GenericString"
        },
        "InstanceType": {
          "documentation": "<p> The type of Amazon Web Services instance.</p>",
          "shape": "GenericString"
        },
        "Memory": {
          "documentation": "<p> Memory capacity of Amazon Web Services instance.</p>",
          "shape": "GenericString"
        },
        "NetworkPerformance": {
          "documentation": "<p> Network performance capacity of the Amazon Web Services instance.</p>",
          "shape": "GenericString"
        },
        "Platform": {
          "documentation": "<p> The platform of the Amazon Web Services instance. The platform is the specific combination of operating system, license model, and software on an instance.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p> The Amazon Web Services Region of the instance.</p>",
          "shape": "GenericString"
        },
        "Sku": {
          "documentation": "<p> The SKU of the product.</p>",
          "shape": "GenericString"
        },
        "Storage": {
          "documentation": "<p> The disk storage of the Amazon Web Services instance (Not EBS storage).</p>",
          "shape": "GenericString"
        },
        "Vcpu": {
          "documentation": "<p> Number of VCPU cores in the Amazon Web Services instance type.</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EC2ResourceUtilization": {
      "documentation": "<p> Utilization metrics of the instance. </p>",
      "members": {
        "MaxCpuUtilizationPercentage": {
          "documentation": "<p> Maximum observed or expected CPU utilization of the instance.</p>",
          "shape": "GenericString"
        },
        "MaxMemoryUtilizationPercentage": {
          "documentation": "<p> Maximum observed or expected memory utilization of the instance.</p>",
          "shape": "GenericString"
        },
        "MaxStorageUtilizationPercentage": {
          "documentation": "<p> Maximum observed or expected storage utilization of the instance (does not measure EBS storage).</p>",
          "shape": "GenericString"
        }
      },
      "type": "structure"
    },
    "EC2Specification": {
      "documentation": "<p>The Amazon EC2 hardware specifications that you want AWS to provide recommendations for.</p>",
      "members": {
        "OfferingClass": {
          "documentation": "<p>Whether you want a recommendation for standard or convertible reservations.</p>",
          "shape": "OfferingClass"
        }
      },
      "type": "structure"
    },
    "ESInstanceDetails": {
      "documentation": "<p>Details about the Amazon ES instances that AWS recommends that you purchase.</p>",
      "members": {
        "CurrentGeneration": {
          "documentation": "<p>Whether the recommendation is for a current-generation instance.</p>",
          "shape": "GenericBoolean"
        },
        "InstanceClass": {
          "documentation": "<p>The class of instance that AWS recommends.</p>",
          "shape": "GenericString"
        },
        "InstanceSize": {
          "documentation": "<p>The size of instance that AWS recommends.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The AWS Region of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "SizeFlexEligible": {
          "documentation": "<p>Whether the recommended reservation is size flexible.</p>",
          "shape": "GenericBoolean"
        }
      },
      "type": "structure"
    },
    "ElastiCacheInstanceDetails": {
      "documentation": "<p>Details about the Amazon ElastiCache instances that AWS recommends that you purchase.</p>",
      "members": {
        "CurrentGeneration": {
          "documentation": "<p>Whether the recommendation is for a current generation instance.</p>",
          "shape": "GenericBoolean"
        },
        "Family": {
          "documentation": "<p>The instance family of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "NodeType": {
          "documentation": "<p>The type of node that AWS recommends.</p>",
          "shape": "GenericString"
        },
        "ProductDescription": {
          "documentation": "<p>The description of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "Region": {
          "documentation": "<p>The AWS Region of the recommended reservation.</p>",
          "shape": "GenericString"
        },
        "SizeFlexEligible": {
          "documentation": "<p>Whether the recommended reservation is size flexible.</p>",
          "shape": "GenericBoolean"
        }
      },
      "type": "structure"
    },
    "Entity": {
      "type": "string"
    },
    "ErrorMessage": {
      "type": "string"
    },
    "Estimated": {
      "type": "boolean"
    },
    "Expression": {
      "documentation": "<p>Use <code>Expression</code> to filter by cost or by usage. There are two patterns: </p> <ul> <li> <p>Simple dimension values - You can set the dimension name and values for the filters that you plan to use. For example, you can filter for <code>REGION==us-east-1 OR REGION==us-west-1</code>. The <code>Expression</code> for that looks like this:</p> <p> <code>{ \"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \u201cus-west-1\u201d ] } }</code> </p> <p>The list of dimension values are OR'd together to retrieve cost or usage data. You can create <code>Expression</code> and <code>DimensionValues</code> objects using either <code>with*</code> methods or <code>set*</code> methods in multiple lines. </p> </li> <li> <p>Compound dimension values with logical operations - You can use multiple <code>Expression</code> types and the logical operators <code>AND/OR/NOT</code> to create a list of one or more <code>Expression</code> objects. This allows you to filter on more advanced options. For example, you can filter on <code>((REGION == us-east-1 OR REGION == us-west-1) OR (TAG.Type == Type1)) AND (USAGE_TYPE != DataTransfer)</code>. The <code>Expression</code> for that looks like this:</p> <p> <code>{ \"And\": [ {\"Or\": [ {\"Dimensions\": { \"Key\": \"REGION\", \"Values\": [ \"us-east-1\", \"us-west-1\" ] }}, {\"Tags\": { \"Key\": \"TagName\", \"Values\": [\"Value1\"] } } ]}, {\"Not\": {\"Dimensions\": { \"Key\": \"USAGE_TYPE\", \"Values\": [\"DataTransfer\"] }}} ] } </code> </p> <note> <p>Because each <code>Expression</code> can have only one operator, the service returns an error if more than one is specified. The following example shows an <code>Expression</code> object that creates an error.</p> </note> <p> <code> { \"And\": [ ... ], \"DimensionValues\": { \"Dimension\": \"USAGE_TYPE\", \"Values\": [ \"DataTransfer\" ] } } </code> </p> </li> </ul> <note> <p>For <code>GetRightsizingRecommendation</code> action, a combination of OR and NOT is not supported. OR is not supported between different dimensions, or dimensions and tags. NOT operators aren't supported. Dimensions are also limited to <code>LINKED_ACCOUNT</code>, <code>REGION</code>, or <code>RIGHTSIZING_TYPE</code>.</p> </note>",
      "members": {
        "And": {
          "documentation": "<p>Return results that match both <code>Dimension</code> objects.</p>",
          "shape": "Expressions"
        },
        "CostCategories": {
          "documentation": "<p> <i> <b>Cost Category is in public beta for AWS Billing and Cost Management and is subject to change. Your use of Cost Categories is subject to the Beta Service Participation terms of the <a href=\"http://aws.amazon.com/service-terms/\">AWS Service Terms</a> (Section 1.10).</b> </i> </p> <p>The specific <code>CostCategory</code> used for <code>Expression</code>.</p>",
          "shape": "CostCategoryValues"
        },
        "Dimensions": {
          "documentation": "<p>The specific <code>Dimension</code> to use for <code>Expression</code>.</p>",
          "shape": "DimensionValues"
        },
        "Not": {
          "documentation": "<p>Return results that don't match a <code>Dimension</code> object.</p>",
          "shape": "Expression"
        },
        "Or": {
          "documentation": "<p>Return results that match either <code>Dimension</code> object.</p>",
          "shape": "Expressions"
        },
        "Tags": {
          "documentation": "<p>The specific <code>Tag</code> to use for <code>Expression</code>.</p>",
          "shape": "TagValues"
        }
      },
      "type": "structure"
    },
    "Expressions": {
      "member": {
        "shape": "Expression"
      },
      "type": "list"
    },
    "ForecastResult": {
      "documentation": "<p>The forecast created for your query.</p>",
      "members": {
        "MeanValue": {
          "documentation": "<p>The mean value of the forecast.</p>",
          "shape": "GenericString"
        },
        "PredictionIntervalLowerBound": {
          "documentation": "<p>The lower limit for the prediction interval. </p>",
          "shape": "GenericString"
        },
        "PredictionIntervalUpperBound": {
          "documentation": "<p>The upper limit for the prediction interval. </p>",
          "shape": "GenericString"
        },
        "TimePeriod": {
          "documentation": "<p>The period of time that the forecast covers.</p>",
          "shape": "DateInterval"
        }
      },
      "type": "structure"
    },
    "ForecastResultsByTime": {
      "member": {
        "shape": "ForecastResult"
      },
      "type": "list"
    },
    "GenericBoolean": {
      "type": "boolean"
    },
    "GenericString": {
      "type": "string"
    },
    "GetCostAndUsageRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters AWS costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that account's usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>Sets the AWS cost granularity to <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn't set, the response object doesn't include the <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>, or <code>HOURLY</code>. </p>",
          "shape": "Granularity"
        },
        "GroupBy": {
          "documentation": "<p>You can group AWS costs using up to two different groups, either dimensions, tag keys, or both.</p> <p>When you group by tag key, you get all tag values, including empty strings.</p> <p>Valid values are <code>AZ</code>, <code>INSTANCE_TYPE</code>, <code>LEGAL_ENTITY_NAME</code>, <code>LINKED_ACCOUNT</code>, <code>OPERATION</code>, <code>PLATFORM</code>, <code>PURCHASE_TYPE</code>, <code>SERVICE</code>, <code>TAGS</code>, <code>TENANCY</code>, <code>RECORD_TYPE</code>, and <code>USAGE_TYPE</code>.</p>",
          "shape": "GroupDefinitions"
        },
        "Metrics": {
          "documentation": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking into account the units. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, the results aren't meaningful because Amazon EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code> is required for <code>GetCostAndUsage</code> requests.</p>",
          "shape": "MetricNames"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "TimePeriod": {
          "documentation": "<p>Sets the start and end dates for retrieving AWS costs. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetCostAndUsageResponse": {
      "members": {
        "GroupDefinitions": {
          "documentation": "<p>The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.</p>",
          "shape": "GroupDefinitions"
        },
        "NextPageToken": {
          "documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "ResultsByTime": {
          "documentation": "<p>The time period that is covered by the results in the response.</p>",
          "shape": "ResultsByTime"
        }
      },
      "type": "structure"
    },
    "GetCostAndUsageWithResourcesRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters Amazon Web Services costs by different dimensions. For example, you can specify <code>SERVICE</code> and <code>LINKED_ACCOUNT</code> and get the costs that are associated with that account's usage of that service. You can nest <code>Expression</code> objects to define any combination of dimension filters. For more information, see <a href=\"http://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a>. </p> <p>The <code>GetCostAndUsageWithResources</code> operation requires that you either group by or filter by a <code>ResourceId</code>.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>Sets the AWS cost granularity to <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. If <code>Granularity</code> isn't set, the response object doesn't include the <code>Granularity</code>, <code>MONTHLY</code>, <code>DAILY</code>, or <code>HOURLY</code>. </p>",
          "shape": "Granularity"
        },
        "GroupBy": {
          "documentation": "<p>You can group Amazon Web Services costs using up to two different groups: either dimensions, tag keys, or both.</p>",
          "shape": "GroupDefinitions"
        },
        "Metrics": {
          "documentation": "<p>Which metrics are returned in the query. For more information about blended and unblended rates, see <a href=\"https://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation appear on some line items in my bill?</a>. </p> <p>Valid values are <code>AmortizedCost</code>, <code>BlendedCost</code>, <code>NetAmortizedCost</code>, <code>NetUnblendedCost</code>, <code>NormalizedUsageAmount</code>, <code>UnblendedCost</code>, and <code>UsageQuantity</code>. </p> <note> <p>If you return the <code>UsageQuantity</code> metric, the service aggregates all usage numbers without taking the units into account. For example, if you aggregate <code>usageQuantity</code> across all of Amazon EC2, the results aren't meaningful because Amazon EC2 compute hours and data transfer are measured in different units (for example, hours vs. GB). To get more meaningful <code>UsageQuantity</code> metrics, filter by <code>UsageType</code> or <code>UsageTypeGroups</code>. </p> </note> <p> <code>Metrics</code> is required for <code>GetCostAndUsageWithResources</code> requests.</p>",
          "shape": "MetricNames"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "TimePeriod": {
          "documentation": "<p>Sets the start and end dates for retrieving Amazon Web Services costs. The range must be within the last 14 days (the start date cannot be earlier than 14 days ago). The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetCostAndUsageWithResourcesResponse": {
      "members": {
        "GroupDefinitions": {
          "documentation": "<p>The groups that are specified by the <code>Filter</code> or <code>GroupBy</code> parameters in the request.</p>",
          "shape": "GroupDefinitions"
        },
        "NextPageToken": {
          "documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "ResultsByTime": {
          "documentation": "<p>The time period that is covered by the results in the response.</p>",
          "shape": "ResultsByTime"
        }
      },
      "type": "structure"
    },
    "GetCostForecastRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>The filters that you want to use to filter your forecast. Cost Explorer API supports all of the Cost Explorer filters.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>How granular you want the forecast to be. You can get 3 months of <code>DAILY</code> forecasts or 12 months of <code>MONTHLY</code> forecasts.</p> <p>The <code>GetCostForecast</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>",
          "shape": "Granularity"
        },
        "Metric": {
          "documentation": "<p>Which metric Cost Explorer uses to create your forecast. For more information about blended and unblended rates, see <a href=\"http://aws.amazon.com/premiumsupport/knowledge-center/blended-rates-intro/\">Why does the \"blended\" annotation appear on some line items in my bill?</a>. </p> <p>Valid values for a <code>GetCostForecast</code> call are the following:</p> <ul> <li> <p>AMORTIZED_COST</p> </li> <li> <p>BLENDED_COST</p> </li> <li> <p>NET_AMORTIZED_COST</p> </li> <li> <p>NET_UNBLENDED_COST</p> </li> <li> <p>UNBLENDED_COST</p> </li> </ul>",
          "shape": "Metric"
        },
        "PredictionIntervalLevel": {
          "documentation": "<p>Cost Explorer always returns the mean forecast as a single point. You can request a prediction interval around the mean by specifying a confidence level. The higher the confidence level, the more confident Cost Explorer is about the actual value falling in the prediction interval. Higher confidence levels result in wider prediction intervals.</p>",
          "shape": "PredictionIntervalLevel"
        },
        "TimePeriod": {
          "documentation": "<p>The period of time that you want the forecast to cover.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod",
        "Metric",
        "Granularity"
      ],
      "type": "structure"
    },
    "GetCostForecastResponse": {
      "members": {
        "ForecastResultsByTime": {
          "documentation": "<p>The forecasts for your query, in order. For <code>DAILY</code> forecasts, this is a list of days. For <code>MONTHLY</code> forecasts, this is a list of months.</p>",
          "shape": "ForecastResultsByTime"
        },
        "Total": {
          "documentation": "<p>How much you are forecasted to spend over the forecast period, in <code>USD</code>.</p>",
          "shape": "MetricValue"
        }
      },
      "type": "structure"
    },
    "GetDimensionValuesRequest": {
      "members": {
        "Context": {
          "documentation": "<p>The context for the call to <code>GetDimensionValues</code>. This can be <code>RESERVATIONS</code> or <code>COST_AND_USAGE</code>. The default value is <code>COST_AND_USAGE</code>. If the context is set to <code>RESERVATIONS</code>, the resulting dimension values can be used in the <code>GetReservationUtilization</code> operation. If the context is set to <code>COST_AND_USAGE</code>, the resulting dimension values can be used in the <code>GetCostAndUsage</code> operation.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch \u2013 Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> <li> <p>RESOURCE_ID - The unique identifier of the resource. ResourceId is an opt-in feature only available for last 14 days for EC2-Compute Service.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul> <p>If you set the context to <code>SAVINGS_PLANS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>SAVINGS_PLANS_TYPE - Type of Savings Plans (EC2 Instance or Compute)</p> </li> <li> <p>PAYMENT_OPTION - Payment option for the given Savings Plans (for example, All Upfront)</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>INSTANCE_TYPE_FAMILY - The family of instances (For example, <code>m5</code>)</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>SAVINGS_PLAN_ARN - The unique identifier for your Savings Plan</p> </li> </ul>",
          "shape": "Context"
        },
        "Dimension": {
          "documentation": "<p>The name of the dimension. Each <code>Dimension</code> is available for a different <code>Context</code>. For more information, see <code>Context</code>. </p>",
          "shape": "Dimension"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "SearchString": {
          "documentation": "<p>The value that you want to search the filter values for.</p>",
          "shape": "SearchString"
        },
        "TimePeriod": {
          "documentation": "<p>The start and end dates for retrieving the dimension values. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod",
        "Dimension"
      ],
      "type": "structure"
    },
    "GetDimensionValuesResponse": {
      "members": {
        "DimensionValues": {
          "documentation": "<p>The filters that you used to filter your request. Some dimensions are available only for a specific context.</p> <p>If you set the context to <code>COST_AND_USAGE</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>DATABASE_ENGINE - The Amazon Relational Database Service database. Examples are Aurora or MySQL.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LEGAL_ENTITY_NAME - The name of the organization that sells you AWS services, such as Amazon Web Services.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>OPERATING_SYSTEM - The operating system. Examples are Windows or Linux.</p> </li> <li> <p>OPERATION - The action performed. Examples include <code>RunInstance</code> and <code>CreateBucket</code>.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>PURCHASE_TYPE - The reservation type of the purchase to which this usage is related. Examples include On-Demand Instances and Standard Reserved Instances.</p> </li> <li> <p>SERVICE - The AWS service such as Amazon DynamoDB.</p> </li> <li> <p>USAGE_TYPE - The type of usage. An example is DataTransfer-In-Bytes. The response for the <code>GetDimensionValues</code> operation includes a unit attribute. Examples include GB and Hrs.</p> </li> <li> <p>USAGE_TYPE_GROUP - The grouping of common usage types. An example is Amazon EC2: CloudWatch \u2013 Alarms. The response for this operation includes a unit attribute.</p> </li> <li> <p>RECORD_TYPE - The different types of charges such as RI fees, usage costs, tax refunds, and credits.</p> </li> <li> <p>RESOURCE_ID - The unique identifier of the resource. ResourceId is an opt-in feature only available for last 14 days for EC2-Compute Service.</p> </li> </ul> <p>If you set the context to <code>RESERVATIONS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>AZ - The Availability Zone. An example is <code>us-east-1a</code>.</p> </li> <li> <p>CACHE_ENGINE - The Amazon ElastiCache operating system. Examples are Windows or Linux.</p> </li> <li> <p>DEPLOYMENT_OPTION - The scope of Amazon Relational Database Service deployments. Valid values are <code>SingleAZ</code> and <code>MultiAZ</code>.</p> </li> <li> <p>INSTANCE_TYPE - The type of Amazon EC2 instance. An example is <code>m4.xlarge</code>.</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>PLATFORM - The Amazon EC2 operating system. Examples are Windows or Linux.</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>SCOPE (Utilization only) - The scope of a Reserved Instance (RI). Values are regional or a single Availability Zone.</p> </li> <li> <p>TAG (Coverage only) - The tags that are associated with a Reserved Instance (RI).</p> </li> <li> <p>TENANCY - The tenancy of a resource. Examples are shared or dedicated.</p> </li> </ul> <p>If you set the context to <code>SAVINGS_PLANS</code>, you can use the following dimensions for searching:</p> <ul> <li> <p>SAVINGS_PLANS_TYPE - Type of Savings Plans (EC2 Instance or Compute)</p> </li> <li> <p>PAYMENT_OPTION - Payment option for the given Savings Plans (for example, All Upfront)</p> </li> <li> <p>REGION - The AWS Region.</p> </li> <li> <p>INSTANCE_TYPE_FAMILY - The family of instances (For example, <code>m5</code>)</p> </li> <li> <p>LINKED_ACCOUNT - The description in the attribute map that includes the full name of the member account. The value field contains the AWS ID of the member account.</p> </li> <li> <p>SAVINGS_PLAN_ARN - The unique identifier for your Savings Plan</p> </li> </ul>",
          "shape": "DimensionValuesWithAttributesList"
        },
        "NextPageToken": {
          "documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "ReturnSize": {
          "documentation": "<p>The number of results that AWS returned at one time.</p>",
          "shape": "PageSize"
        },
        "TotalSize": {
          "documentation": "<p>The total number of search results.</p>",
          "shape": "PageSize"
        }
      },
      "required": [
        "DimensionValues",
        "ReturnSize",
        "TotalSize"
      ],
      "type": "structure"
    },
    "GetReservationCoverageRequest": {
      "documentation": "<p>You can use the following request parameters to query for how much of your instance usage a reservation covered.</p>",
      "members": {
        "Filter": {
          "documentation": "<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>TAG</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationCoverage</code> uses the same <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension. You can nest only one level deep. If there are multiple values for a dimension, they are OR'd together.</p> <p>If you don't provide a <code>SERVICE</code> filter, Cost Explorer defaults to EC2.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>The granularity of the AWS cost data for the reservation. Valid values are <code>MONTHLY</code> and <code>DAILY</code>.</p> <p>If <code>GroupBy</code> is set, <code>Granularity</code> can't be set. If <code>Granularity</code> isn't set, the response object doesn't include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>.</p> <p>The <code>GetReservationCoverage</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>",
          "shape": "Granularity"
        },
        "GroupBy": {
          "documentation": "<p>You can group the data by the following attributes:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DATABASE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>TENANCY</p> </li> </ul>",
          "shape": "GroupDefinitions"
        },
        "Metrics": {
          "documentation": "<p>The measurement that you want your reservation coverage reported in.</p> <p>Valid values are <code>Hour</code>, <code>Unit</code>, and <code>Cost</code>. You can use multiple values in a request.</p>",
          "shape": "MetricNames"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "TimePeriod": {
          "documentation": "<p>The start and end dates of the period that you want to retrieve data about reservation coverage for. You can retrieve data for a maximum of 13 months: the last 12 months and the current month. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. </p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetReservationCoverageResponse": {
      "members": {
        "CoveragesByTime": {
          "documentation": "<p>The amount of time that your reservations covered.</p>",
          "shape": "CoveragesByTime"
        },
        "NextPageToken": {
          "documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "Total": {
          "documentation": "<p>The total amount of instance usage that a reservation covered.</p>",
          "shape": "Coverage"
        }
      },
      "required": [
        "CoveragesByTime"
      ],
      "type": "structure"
    },
    "GetReservationPurchaseRecommendationRequest": {
      "members": {
        "AccountId": {
          "documentation": "<p>The account ID that is associated with the recommendation. </p>",
          "shape": "GenericString"
        },
        "AccountScope": {
          "documentation": "<p>The account scope that you want your recommendations for. Amazon Web Services calculates recommendations including the payer account and linked accounts if the value is set to <code>PAYER</code>. If the value is <code>LINKED</code>, recommendations are calculated for individual linked accounts only.</p>",
          "shape": "AccountScope"
        },
        "LookbackPeriodInDays": {
          "documentation": "<p>The number of previous days that you want AWS to consider when it calculates your recommendations.</p>",
          "shape": "LookbackPeriodInDays"
        },
        "NextPageToken": {
          "documentation": "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>",
          "shape": "NextPageToken"
        },
        "PageSize": {
          "documentation": "<p>The number of recommendations that you want returned in a single response object.</p>",
          "shape": "NonNegativeInteger"
        },
        "PaymentOption": {
          "documentation": "<p>The reservation purchase option that you want recommendations for.</p>",
          "shape": "PaymentOption"
        },
        "Service": {
          "documentation": "<p>The specific service that you want recommendations for.</p>",
          "shape": "GenericString"
        },
        "ServiceSpecification": {
          "documentation": "<p>The hardware specifications for the service instances that you want recommendations for, such as standard or convertible Amazon EC2 instances.</p>",
          "shape": "ServiceSpecification"
        },
        "TermInYears": {
          "documentation": "<p>The reservation term that you want recommendations for.</p>",
          "shape": "TermInYears"
        }
      },
      "required": [
        "Service"
      ],
      "type": "structure"
    },
    "GetReservationPurchaseRecommendationResponse": {
      "members": {
        "Metadata": {
          "documentation": "<p>Information about this specific recommendation call, such as the time stamp for when Cost Explorer generated this recommendation.</p>",
          "shape": "ReservationPurchaseRecommendationMetadata"
        },
        "NextPageToken": {
          "documentation": "<p>The pagination token for the next set of retrievable results.</p>",
          "shape": "NextPageToken"
        },
        "Recommendations": {
          "documentation": "<p>Recommendations for reservations to purchase.</p>",
          "shape": "ReservationPurchaseRecommendations"
        }
      },
      "type": "structure"
    },
    "GetReservationUtilizationRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters utilization data by dimensions. You can filter by the following dimensions:</p> <ul> <li> <p>AZ</p> </li> <li> <p>CACHE_ENGINE</p> </li> <li> <p>DEPLOYMENT_OPTION</p> </li> <li> <p>INSTANCE_TYPE</p> </li> <li> <p>LINKED_ACCOUNT</p> </li> <li> <p>OPERATING_SYSTEM</p> </li> <li> <p>PLATFORM</p> </li> <li> <p>REGION</p> </li> <li> <p>SERVICE</p> </li> <li> <p>SCOPE</p> </li> <li> <p>TENANCY</p> </li> </ul> <p> <code>GetReservationUtilization</code> uses the same <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension, and nesting is supported up to only one level deep. If there are multiple values for a dimension, they are OR'd together.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>If <code>GroupBy</code> is set, <code>Granularity</code> can't be set. If <code>Granularity</code> isn't set, the response object doesn't include <code>Granularity</code>, either <code>MONTHLY</code> or <code>DAILY</code>. If both <code>GroupBy</code> and <code>Granularity</code> aren't set, <code>GetReservationUtilization</code> defaults to <code>DAILY</code>.</p> <p>The <code>GetReservationUtilization</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>",
          "shape": "Granularity"
        },
        "GroupBy": {
          "documentation": "<p>Groups only by <code>SUBSCRIPTION_ID</code>. Metadata is included.</p>",
          "shape": "GroupDefinitions"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "TimePeriod": {
          "documentation": "<p>Sets the start and end dates for retrieving RI utilization. The start date is inclusive, but the end date is exclusive. For example, if <code>start</code> is <code>2017-01-01</code> and <code>end</code> is <code>2017-05-01</code>, then the cost and usage data is retrieved from <code>2017-01-01</code> up to and including <code>2017-04-30</code> but not including <code>2017-05-01</code>. </p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetReservationUtilizationResponse": {
      "members": {
        "NextPageToken": {
          "documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "Total": {
          "documentation": "<p>The total amount of time that you used your RIs.</p>",
          "shape": "ReservationAggregates"
        },
        "UtilizationsByTime": {
          "documentation": "<p>The amount of time that you used your RIs.</p>",
          "shape": "UtilizationsByTime"
        }
      },
      "required": [
        "UtilizationsByTime"
      ],
      "type": "structure"
    },
    "GetRightsizingRecommendationRequest": {
      "members": {
        "Filter": {
          "shape": "Expression"
        },
        "NextPageToken": {
          "documentation": "<p>The pagination token that indicates the next set of results that you want to retrieve.</p>",
          "shape": "NextPageToken"
        },
        "PageSize": {
          "documentation": "<p>The number of recommendations that you want returned in a single response object.</p>",
          "shape": "NonNegativeInteger"
        },
        "Service": {
          "documentation": "<p>The specific service that you want recommendations for. The only valid value for <code>GetRightsizingRecommendation</code> is \"<code>AmazonEC2</code>\".</p>",
          "shape": "GenericString"
        }
      },
      "required": [
        "Service"
      ],
      "type": "structure"
    },
    "GetRightsizingRecommendationResponse": {
      "members": {
        "Metadata": {
          "documentation": "<p>Information regarding this specific recommendation set.</p>",
          "shape": "RightsizingRecommendationMetadata"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results.</p>",
          "shape": "NextPageToken"
        },
        "RightsizingRecommendations": {
          "documentation": "<p>Recommendations to rightsize resources.</p>",
          "shape": "RightsizingRecommendationList"
        },
        "Summary": {
          "documentation": "<p>Summary of this recommendation set.</p>",
          "shape": "RightsizingRecommendationSummary"
        }
      },
      "type": "structure"
    },
    "GetSavingsPlansCoverageRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters Savings Plans coverage data by dimensions. You can filter data for Savings Plans usage with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>SERVICE</code> </p> </li> <li> <p> <code>INSTANCE_FAMILY</code> </p> </li> </ul> <p> <code>GetSavingsPlansCoverage</code> uses the same <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension. If there are multiple values for a dimension, they are OR'd together.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>The granularity of the Amazon Web Services cost data for your Savings Plans. <code>Granularity</code> can't be set if <code>GroupBy</code> is set.</p> <p>The <code>GetSavingsPlansCoverage</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>",
          "shape": "Granularity"
        },
        "GroupBy": {
          "documentation": "<p>You can group the data using the attributes <code>INSTANCE_FAMILY</code>, <code>REGION</code>, or <code>SERVICE</code>.</p>",
          "shape": "GroupDefinitions"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The number of items to be returned in a response. The default is <code>20</code>, with a minimum value of <code>1</code>.</p>",
          "shape": "MaxResults"
        },
        "Metrics": {
          "documentation": "<p>The measurement that you want your Savings Plans coverage reported in. The only valid value is <code>SpendCoveredBySavingsPlans</code>.</p>",
          "shape": "MetricNames"
        },
        "NextToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "TimePeriod": {
          "documentation": "<p>The time period that you want the usage and costs for. The <code>Start</code> date must be within 13 months. The <code>End</code> date must be after the <code>Start</code> date, and before the current date. Future dates can't be used as an <code>End</code> date.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetSavingsPlansCoverageResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "SavingsPlansCoverages": {
          "documentation": "<p>The amount of spend that your Savings Plans covered.</p>",
          "shape": "SavingsPlansCoverages"
        }
      },
      "required": [
        "SavingsPlansCoverages"
      ],
      "type": "structure"
    },
    "GetSavingsPlansPurchaseRecommendationRequest": {
      "members": {
        "AccountScope": {
          "documentation": "<p>The account scope that you want your recommendations for. Amazon Web Services calculates recommendations including the payer account and linked accounts if the value is set to <code>PAYER</code>. If the value is <code>LINKED</code>, recommendations are calculated for individual linked accounts only.</p>",
          "shape": "AccountScope"
        },
        "Filter": {
          "documentation": "<p>You can filter your recommendations by Account ID with the <code>LINKED_ACCOUNT</code> dimension. To filter your recommendations by Account ID, specify <code>Key</code> as <code>LINKED_ACCOUNT</code> and <code>Value</code> as the comma-separated Acount ID(s) for which you want to see Savings Plans purchase recommendations.</p> <p>For GetSavingsPlansPurchaseRecommendation, the <code>Filter</code> does not include <code>CostCategories</code> or <code>Tags</code>. It only includes <code>Dimensions</code>. With <code>Dimensions</code>, <code>Key</code> must be <code>LINKED_ACCOUNT</code> and <code>Value</code> can be a single Account ID or multiple comma-separated Account IDs for which you want to see Savings Plans Purchase Recommendations. <code>AND</code> and <code>OR</code> operators are not supported.</p>",
          "shape": "Expression"
        },
        "LookbackPeriodInDays": {
          "documentation": "<p>The lookback period used to generate the recommendation.</p>",
          "shape": "LookbackPeriodInDays"
        },
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "PageSize": {
          "documentation": "<p>The number of recommendations that you want returned in a single response object.</p>",
          "shape": "NonNegativeInteger"
        },
        "PaymentOption": {
          "documentation": "<p>The payment option used to generate these recommendations.</p>",
          "shape": "PaymentOption"
        },
        "SavingsPlansType": {
          "documentation": "<p>The Savings Plans recommendation type requested.</p>",
          "shape": "SupportedSavingsPlansType"
        },
        "TermInYears": {
          "documentation": "<p>The savings plan recommendation term used to generated these recommendations.</p>",
          "shape": "TermInYears"
        }
      },
      "required": [
        "SavingsPlansType",
        "TermInYears",
        "PaymentOption",
        "LookbackPeriodInDays"
      ],
      "type": "structure"
    },
    "GetSavingsPlansPurchaseRecommendationResponse": {
      "members": {
        "Metadata": {
          "documentation": "<p>Information regarding this specific recommendation set.</p>",
          "shape": "SavingsPlansPurchaseRecommendationMetadata"
        },
        "NextPageToken": {
          "documentation": "<p>The token for the next set of retrievable results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "SavingsPlansPurchaseRecommendation": {
          "documentation": "<p>Contains your request parameters, Savings Plan Recommendations Summary, and Details.</p>",
          "shape": "SavingsPlansPurchaseRecommendation"
        }
      },
      "type": "structure"
    },
    "GetSavingsPlansUtilizationDetailsRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters Savings Plans utilization coverage data for active Savings Plans dimensions. You can filter data with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>SAVINGS_PLAN_ARN</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>PAYMENT_OPTION</code> </p> </li> <li> <p> <code>INSTANCE_TYPE_FAMILY</code> </p> </li> </ul> <p> <code>GetSavingsPlansUtilizationDetails</code> uses the same <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension.</p>",
          "shape": "Expression"
        },
        "MaxResults": {
          "box": true,
          "documentation": "<p>The number of items to be returned in a response. The default is <code>20</code>, with a minimum value of <code>1</code>.</p>",
          "shape": "MaxResults"
        },
        "NextToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "TimePeriod": {
          "documentation": "<p>The time period that you want the usage and costs for. The <code>Start</code> date must be within 13 months. The <code>End</code> date must be after the <code>Start</code> date, and before the current date. Future dates can't be used as an <code>End</code> date.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetSavingsPlansUtilizationDetailsResponse": {
      "members": {
        "NextToken": {
          "documentation": "<p>The token to retrieve the next set of results. Amazon Web Services provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "SavingsPlansUtilizationDetails": {
          "documentation": "<p>Retrieves a single daily or monthly Savings Plans utilization rate and details for your account.</p>",
          "shape": "SavingsPlansUtilizationDetails"
        },
        "TimePeriod": {
          "shape": "DateInterval"
        },
        "Total": {
          "documentation": "<p>The total Savings Plans utilization, regardless of time period.</p>",
          "shape": "SavingsPlansUtilizationAggregates"
        }
      },
      "required": [
        "SavingsPlansUtilizationDetails",
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetSavingsPlansUtilizationRequest": {
      "members": {
        "Filter": {
          "documentation": "<p>Filters Savings Plans utilization coverage data for active Savings Plans dimensions. You can filter data with the following dimensions:</p> <ul> <li> <p> <code>LINKED_ACCOUNT</code> </p> </li> <li> <p> <code>SAVINGS_PLAN_ARN</code> </p> </li> <li> <p> <code>SAVINGS_PLANS_TYPE</code> </p> </li> <li> <p> <code>REGION</code> </p> </li> <li> <p> <code>PAYMENT_OPTION</code> </p> </li> <li> <p> <code>INSTANCE_TYPE_FAMILY</code> </p> </li> </ul> <p> <code>GetSavingsPlansUtilization</code> uses the same <a href=\"https://docs.aws.amazon.com/aws-cost-management/latest/APIReference/API_Expression.html\">Expression</a> object as the other operations, but only <code>AND</code> is supported among each dimension.</p>",
          "shape": "Expression"
        },
        "Granularity": {
          "documentation": "<p>The granularity of the Amazon Web Services utillization data for your Savings Plans.</p> <p>The <code>GetSavingsPlansUtilization</code> operation supports only <code>DAILY</code> and <code>MONTHLY</code> granularities.</p>",
          "shape": "Granularity"
        },
        "TimePeriod": {
          "documentation": "<p>The time period that you want the usage and costs for. The <code>Start</code> date must be within 13 months. The <code>End</code> date must be after the <code>Start</code> date, and before the current date. Future dates can't be used as an <code>End</code> date.</p>",
          "shape": "DateInterval"
        }
      },
      "required": [
        "TimePeriod"
      ],
      "type": "structure"
    },
    "GetSavingsPlansUtilizationResponse": {
      "members": {
        "SavingsPlansUtilizationsByTime": {
          "documentation": "<p>The amount of cost/commitment you used your Savings Plans. This allows you to specify date ranges.</p>",
          "shape": "SavingsPlansUtilizationsByTime"
        },
        "Total": {
          "documentation": "<p>The total amount of cost/commitment that you used your Savings Plans, regardless of date ranges.</p>",
          "shape": "SavingsPlansUtilizationAggregates"
        }
      },
      "required": [
        "Total"
      ],
      "type": "structure"
    },
    "GetTagsRequest": {
      "members": {
        "NextPageToken": {
          "documentation": "<p>The token to retrieve the next set of results. AWS provides the token when the response from a previous call has more results than the maximum page size.</p>",
          "shape": "NextPageToken"
        },
        "SearchString": {
          "documentation": "<p>The value that you want to search for.</p>",
          "shape": "SearchString"
        },
        "TagKey": {
          "documentation": "<p>The key of the tag that you want to return values for.</p>",
          "shape": "TagKey"
        },
        "TimePeriod": {
[...]
