{
  "documentation": "AWS IoT Greengrass seamlessly extends AWS onto physical devices so they can act locally on the data they generate, while still using the cloud for management, analytics, and durable storage. AWS IoT Greengrass ensures your devices can respond quickly to local events and operate with intermittent connectivity. AWS IoT Greengrass minimizes the cost of transmitting data to the cloud by allowing you to author AWS Lambda functions that execute locally.",
  "metadata": {
    "apiVersion": "2017-06-07",
    "endpointPrefix": "greengrass",
    "jsonVersion": "1.1",
    "protocol": "rest-json",
    "serviceFullName": "AWS Greengrass",
    "serviceId": "Greengrass",
    "signatureVersion": "v4",
    "signingName": "greengrass",
    "uid": "greengrass-2017-06-07"
  },
  "operations": {
    "AssociateRoleToGroup": {
      "documentation": "Associates a role with a group. Your Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateRoleToGroupRequest"
      },
      "name": "AssociateRoleToGroup",
      "output": {
        "documentation": "success",
        "shape": "AssociateRoleToGroupResponse"
      }
    },
    "AssociateServiceRoleToAccount": {
      "documentation": "Associates a role with your account. AWS IoT Greengrass will use the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. The role must have at least minimum permissions in the policy ''AWSGreengrassResourceAccessRolePolicy''.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "AssociateServiceRoleToAccountRequest"
      },
      "name": "AssociateServiceRoleToAccount",
      "output": {
        "documentation": "success",
        "shape": "AssociateServiceRoleToAccountResponse"
      }
    },
    "CreateConnectorDefinition": {
      "documentation": "Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/connectors",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConnectorDefinitionRequest"
      },
      "name": "CreateConnectorDefinition",
      "output": {
        "shape": "CreateConnectorDefinitionResponse"
      }
    },
    "CreateConnectorDefinitionVersion": {
      "documentation": "Creates a version of a connector definition which has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateConnectorDefinitionVersionRequest"
      },
      "name": "CreateConnectorDefinitionVersion",
      "output": {
        "shape": "CreateConnectorDefinitionVersionResponse"
      }
    },
    "CreateCoreDefinition": {
      "documentation": "Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/cores",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCoreDefinitionRequest"
      },
      "name": "CreateCoreDefinition",
      "output": {
        "shape": "CreateCoreDefinitionResponse"
      }
    },
    "CreateCoreDefinitionVersion": {
      "documentation": "Creates a version of a core definition that has already been defined. Greengrass groups must each contain exactly one Greengrass core.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateCoreDefinitionVersionRequest"
      },
      "name": "CreateCoreDefinitionVersion",
      "output": {
        "shape": "CreateCoreDefinitionVersionResponse"
      }
    },
    "CreateDeployment": {
      "documentation": "Creates a deployment. ''CreateDeployment'' requests are idempotent with respect to the ''X-Amzn-Client-Token'' token and the request parameters.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDeploymentRequest"
      },
      "name": "CreateDeployment",
      "output": {
        "documentation": "Success. The group was deployed.",
        "shape": "CreateDeploymentResponse"
      }
    },
    "CreateDeviceDefinition": {
      "documentation": "Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/devices",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDeviceDefinitionRequest"
      },
      "name": "CreateDeviceDefinition",
      "output": {
        "shape": "CreateDeviceDefinitionResponse"
      }
    },
    "CreateDeviceDefinitionVersion": {
      "documentation": "Creates a version of a device definition that has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateDeviceDefinitionVersionRequest"
      },
      "name": "CreateDeviceDefinitionVersion",
      "output": {
        "shape": "CreateDeviceDefinitionVersionResponse"
      }
    },
    "CreateFunctionDefinition": {
      "documentation": "Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''CreateFunctionDefinitionVersion'' later.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/functions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFunctionDefinitionRequest"
      },
      "name": "CreateFunctionDefinition",
      "output": {
        "shape": "CreateFunctionDefinitionResponse"
      }
    },
    "CreateFunctionDefinitionVersion": {
      "documentation": "Creates a version of a Lambda function definition that has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateFunctionDefinitionVersionRequest"
      },
      "name": "CreateFunctionDefinitionVersion",
      "output": {
        "shape": "CreateFunctionDefinitionVersionResponse"
      }
    },
    "CreateGroup": {
      "documentation": "Creates a group. You may provide the initial version of the group or use ''CreateGroupVersion'' at a later time. Tip: You can use the ''gg_group_setup'' package (https://github.com/awslabs/aws-greengrass-group-setup) as a library or command-line application to create and deploy Greengrass groups.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateGroupRequest"
      },
      "name": "CreateGroup",
      "output": {
        "documentation": "Success. The group was created.",
        "shape": "CreateGroupResponse"
      }
    },
    "CreateGroupCertificateAuthority": {
      "documentation": "Creates a CA for the group. If a CA already exists, it will rotate the existing CA.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateGroupCertificateAuthorityRequest"
      },
      "name": "CreateGroupCertificateAuthority",
      "output": {
        "documentation": "Success. The response body contains the new active CA ARN.",
        "shape": "CreateGroupCertificateAuthorityResponse"
      }
    },
    "CreateGroupVersion": {
      "documentation": "Creates a version of a group which has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateGroupVersionRequest"
      },
      "name": "CreateGroupVersion",
      "output": {
        "documentation": "Success. The response contains information about the group version.",
        "shape": "CreateGroupVersionResponse"
      }
    },
    "CreateLoggerDefinition": {
      "documentation": "Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/loggers",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateLoggerDefinitionRequest"
      },
      "name": "CreateLoggerDefinition",
      "output": {
        "shape": "CreateLoggerDefinitionResponse"
      }
    },
    "CreateLoggerDefinitionVersion": {
      "documentation": "Creates a version of a logger definition that has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateLoggerDefinitionVersionRequest"
      },
      "name": "CreateLoggerDefinitionVersion",
      "output": {
        "shape": "CreateLoggerDefinitionVersionResponse"
      }
    },
    "CreateResourceDefinition": {
      "documentation": "Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''CreateResourceDefinitionVersion'' later.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/resources",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResourceDefinitionRequest"
      },
      "name": "CreateResourceDefinition",
      "output": {
        "shape": "CreateResourceDefinitionResponse"
      }
    },
    "CreateResourceDefinitionVersion": {
      "documentation": "Creates a version of a resource definition that has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateResourceDefinitionVersionRequest"
      },
      "name": "CreateResourceDefinitionVersion",
      "output": {
        "shape": "CreateResourceDefinitionVersionResponse"
      }
    },
    "CreateSoftwareUpdateJob": {
      "documentation": "Creates a software update for a core or group of cores (specified as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass core software. It makes use of the IoT Jobs feature which provides additional commands to manage a Greengrass core software update job.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/updates",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSoftwareUpdateJobRequest"
      },
      "name": "CreateSoftwareUpdateJob",
      "output": {
        "documentation": "success",
        "shape": "CreateSoftwareUpdateJobResponse"
      }
    },
    "CreateSubscriptionDefinition": {
      "documentation": "Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/subscriptions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSubscriptionDefinitionRequest"
      },
      "name": "CreateSubscriptionDefinition",
      "output": {
        "shape": "CreateSubscriptionDefinitionResponse"
      }
    },
    "CreateSubscriptionDefinitionVersion": {
      "documentation": "Creates a version of a subscription definition which has already been defined.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "CreateSubscriptionDefinitionVersionRequest"
      },
      "name": "CreateSubscriptionDefinitionVersion",
      "output": {
        "shape": "CreateSubscriptionDefinitionVersionResponse"
      }
    },
    "DeleteConnectorDefinition": {
      "documentation": "Deletes a connector definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteConnectorDefinitionRequest"
      },
      "name": "DeleteConnectorDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteConnectorDefinitionResponse"
      }
    },
    "DeleteCoreDefinition": {
      "documentation": "Deletes a core definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteCoreDefinitionRequest"
      },
      "name": "DeleteCoreDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteCoreDefinitionResponse"
      }
    },
    "DeleteDeviceDefinition": {
      "documentation": "Deletes a device definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteDeviceDefinitionRequest"
      },
      "name": "DeleteDeviceDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteDeviceDefinitionResponse"
      }
    },
    "DeleteFunctionDefinition": {
      "documentation": "Deletes a Lambda function definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteFunctionDefinitionRequest"
      },
      "name": "DeleteFunctionDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteFunctionDefinitionResponse"
      }
    },
    "DeleteGroup": {
      "documentation": "Deletes a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteGroupRequest"
      },
      "name": "DeleteGroup",
      "output": {
        "documentation": "success",
        "shape": "DeleteGroupResponse"
      }
    },
    "DeleteLoggerDefinition": {
      "documentation": "Deletes a logger definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteLoggerDefinitionRequest"
      },
      "name": "DeleteLoggerDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteLoggerDefinitionResponse"
      }
    },
    "DeleteResourceDefinition": {
      "documentation": "Deletes a resource definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteResourceDefinitionRequest"
      },
      "name": "DeleteResourceDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteResourceDefinitionResponse"
      }
    },
    "DeleteSubscriptionDefinition": {
      "documentation": "Deletes a subscription definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "DeleteSubscriptionDefinitionRequest"
      },
      "name": "DeleteSubscriptionDefinition",
      "output": {
        "documentation": "success",
        "shape": "DeleteSubscriptionDefinitionResponse"
      }
    },
    "DisassociateRoleFromGroup": {
      "documentation": "Disassociates the role from a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateRoleFromGroupRequest"
      },
      "name": "DisassociateRoleFromGroup",
      "output": {
        "documentation": "success",
        "shape": "DisassociateRoleFromGroupResponse"
      }
    },
    "DisassociateServiceRoleFromAccount": {
      "documentation": "Disassociates the service role from your account. Without a service role, deployments will not work.",
      "errors": [
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "DisassociateServiceRoleFromAccountRequest"
      },
      "name": "DisassociateServiceRoleFromAccount",
      "output": {
        "documentation": "success",
        "shape": "DisassociateServiceRoleFromAccountResponse"
      }
    },
    "GetAssociatedRole": {
      "documentation": "Retrieves the role associated with a particular group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/role",
        "responseCode": 200
      },
      "input": {
        "shape": "GetAssociatedRoleRequest"
      },
      "name": "GetAssociatedRole",
      "output": {
        "documentation": "success",
        "shape": "GetAssociatedRoleResponse"
      }
    },
    "GetBulkDeploymentStatus": {
      "documentation": "Returns the status of a bulk deployment.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/status",
        "responseCode": 200
      },
      "input": {
        "shape": "GetBulkDeploymentStatusRequest"
      },
      "name": "GetBulkDeploymentStatus",
      "output": {
        "documentation": "Success. The response body contains the status of the bulk deployment.",
        "shape": "GetBulkDeploymentStatusResponse"
      }
    },
    "GetConnectivityInfo": {
      "documentation": "Retrieves the connectivity information for a core.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectivityInfoRequest"
      },
      "name": "GetConnectivityInfo",
      "output": {
        "documentation": "success",
        "shape": "GetConnectivityInfoResponse"
      }
    },
    "GetConnectorDefinition": {
      "documentation": "Retrieves information about a connector definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectorDefinitionRequest"
      },
      "name": "GetConnectorDefinition",
      "output": {
        "shape": "GetConnectorDefinitionResponse"
      }
    },
    "GetConnectorDefinitionVersion": {
      "documentation": "Retrieves information about a connector definition version, including the connectors that the version contains. Connectors are prebuilt modules that interact with local infrastructure, device protocols, AWS, and other cloud services.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetConnectorDefinitionVersionRequest"
      },
      "name": "GetConnectorDefinitionVersion",
      "output": {
        "shape": "GetConnectorDefinitionVersionResponse"
      }
    },
    "GetCoreDefinition": {
      "documentation": "Retrieves information about a core definition version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCoreDefinitionRequest"
      },
      "name": "GetCoreDefinition",
      "output": {
        "shape": "GetCoreDefinitionResponse"
      }
    },
    "GetCoreDefinitionVersion": {
      "documentation": "Retrieves information about a core definition version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetCoreDefinitionVersionRequest"
      },
      "name": "GetCoreDefinitionVersion",
      "output": {
        "documentation": "success",
        "shape": "GetCoreDefinitionVersionResponse"
      }
    },
    "GetDeploymentStatus": {
      "documentation": "Returns the status of a deployment.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeploymentStatusRequest"
      },
      "name": "GetDeploymentStatus",
      "output": {
        "documentation": "Success. The response body contains the status of the deployment for the group.",
        "shape": "GetDeploymentStatusResponse"
      }
    },
    "GetDeviceDefinition": {
      "documentation": "Retrieves information about a device definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeviceDefinitionRequest"
      },
      "name": "GetDeviceDefinition",
      "output": {
        "shape": "GetDeviceDefinitionResponse"
      }
    },
    "GetDeviceDefinitionVersion": {
      "documentation": "Retrieves information about a device definition version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetDeviceDefinitionVersionRequest"
      },
      "name": "GetDeviceDefinitionVersion",
      "output": {
        "shape": "GetDeviceDefinitionVersionResponse"
      }
    },
    "GetFunctionDefinition": {
      "documentation": "Retrieves information about a Lambda function definition, including its creation time and latest version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionDefinitionRequest"
      },
      "name": "GetFunctionDefinition",
      "output": {
        "documentation": "success",
        "shape": "GetFunctionDefinitionResponse"
      }
    },
    "GetFunctionDefinitionVersion": {
      "documentation": "Retrieves information about a Lambda function definition version, including which Lambda functions are included in the version and their configurations.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetFunctionDefinitionVersionRequest"
      },
      "name": "GetFunctionDefinitionVersion",
      "output": {
        "documentation": "success",
        "shape": "GetFunctionDefinitionVersionResponse"
      }
    },
    "GetGroup": {
      "documentation": "Retrieves information about a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupRequest"
      },
      "name": "GetGroup",
      "output": {
        "documentation": "success",
        "shape": "GetGroupResponse"
      }
    },
    "GetGroupCertificateAuthority": {
      "documentation": "Retreives the CA associated with a group. Returns the public key of the CA.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupCertificateAuthorityRequest"
      },
      "name": "GetGroupCertificateAuthority",
      "output": {
        "documentation": "Success. The response body contains the PKI Configuration.",
        "shape": "GetGroupCertificateAuthorityResponse"
      }
    },
    "GetGroupCertificateConfiguration": {
      "documentation": "Retrieves the current configuration for the CA used by the group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupCertificateConfigurationRequest"
      },
      "name": "GetGroupCertificateConfiguration",
      "output": {
        "documentation": "Success. The response body contains the PKI Configuration.",
        "shape": "GetGroupCertificateConfigurationResponse"
      }
    },
    "GetGroupVersion": {
      "documentation": "Retrieves information about a group version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/versions/{GroupVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetGroupVersionRequest"
      },
      "name": "GetGroupVersion",
      "output": {
        "documentation": "success",
        "shape": "GetGroupVersionResponse"
      }
    },
    "GetLoggerDefinition": {
      "documentation": "Retrieves information about a logger definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLoggerDefinitionRequest"
      },
      "name": "GetLoggerDefinition",
      "output": {
        "shape": "GetLoggerDefinitionResponse"
      }
    },
    "GetLoggerDefinitionVersion": {
      "documentation": "Retrieves information about a logger definition version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetLoggerDefinitionVersionRequest"
      },
      "name": "GetLoggerDefinitionVersion",
      "output": {
        "documentation": "success",
        "shape": "GetLoggerDefinitionVersionResponse"
      }
    },
    "GetResourceDefinition": {
      "documentation": "Retrieves information about a resource definition, including its creation time and latest version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceDefinitionRequest"
      },
      "name": "GetResourceDefinition",
      "output": {
        "documentation": "success",
        "shape": "GetResourceDefinitionResponse"
      }
    },
    "GetResourceDefinitionVersion": {
      "documentation": "Retrieves information about a resource definition version, including which resources are included in the version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetResourceDefinitionVersionRequest"
      },
      "name": "GetResourceDefinitionVersion",
      "output": {
        "documentation": "success",
        "shape": "GetResourceDefinitionVersionResponse"
      }
    },
    "GetServiceRoleForAccount": {
      "documentation": "Retrieves the service role that is attached to your account.",
      "errors": [
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/servicerole",
        "responseCode": 200
      },
      "input": {
        "shape": "GetServiceRoleForAccountRequest"
      },
      "name": "GetServiceRoleForAccount",
      "output": {
        "documentation": "success",
        "shape": "GetServiceRoleForAccountResponse"
      }
    },
    "GetSubscriptionDefinition": {
      "documentation": "Retrieves information about a subscription definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSubscriptionDefinitionRequest"
      },
      "name": "GetSubscriptionDefinition",
      "output": {
        "shape": "GetSubscriptionDefinitionResponse"
      }
    },
    "GetSubscriptionDefinitionVersion": {
      "documentation": "Retrieves information about a subscription definition version.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "GetSubscriptionDefinitionVersionRequest"
      },
      "name": "GetSubscriptionDefinitionVersion",
      "output": {
        "shape": "GetSubscriptionDefinitionVersionResponse"
      }
    },
    "ListBulkDeploymentDetailedReports": {
      "documentation": "Gets a paginated list of the deployments that have been started in a bulk deployment operation, and their current deployment status.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/detailed-reports",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBulkDeploymentDetailedReportsRequest"
      },
      "name": "ListBulkDeploymentDetailedReports",
      "output": {
        "documentation": "Success. The response body contains the list of deployments for the given group.",
        "shape": "ListBulkDeploymentDetailedReportsResponse"
      }
    },
    "ListBulkDeployments": {
      "documentation": "Returns a list of bulk deployments.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/bulk/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListBulkDeploymentsRequest"
      },
      "name": "ListBulkDeployments",
      "output": {
        "documentation": "Success. The response body contains the list of bulk deployments.",
        "shape": "ListBulkDeploymentsResponse"
      }
    },
    "ListConnectorDefinitionVersions": {
      "documentation": "Lists the versions of a connector definition, which are containers for connectors. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConnectorDefinitionVersionsRequest"
      },
      "name": "ListConnectorDefinitionVersions",
      "output": {
        "shape": "ListConnectorDefinitionVersionsResponse"
      }
    },
    "ListConnectorDefinitions": {
      "documentation": "Retrieves a list of connector definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/connectors",
        "responseCode": 200
      },
      "input": {
        "shape": "ListConnectorDefinitionsRequest"
      },
      "name": "ListConnectorDefinitions",
      "output": {
        "shape": "ListConnectorDefinitionsResponse"
      }
    },
    "ListCoreDefinitionVersions": {
      "documentation": "Lists the versions of a core definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCoreDefinitionVersionsRequest"
      },
      "name": "ListCoreDefinitionVersions",
      "output": {
        "shape": "ListCoreDefinitionVersionsResponse"
      }
    },
    "ListCoreDefinitions": {
      "documentation": "Retrieves a list of core definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/cores",
        "responseCode": 200
      },
      "input": {
        "shape": "ListCoreDefinitionsRequest"
      },
      "name": "ListCoreDefinitions",
      "output": {
        "shape": "ListCoreDefinitionsResponse"
      }
    },
    "ListDeployments": {
      "documentation": "Returns a history of deployments for the group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeploymentsRequest"
      },
      "name": "ListDeployments",
      "output": {
        "documentation": "Success. The response body contains the list of deployments for the given group.",
        "shape": "ListDeploymentsResponse"
      }
    },
    "ListDeviceDefinitionVersions": {
      "documentation": "Lists the versions of a device definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeviceDefinitionVersionsRequest"
      },
      "name": "ListDeviceDefinitionVersions",
      "output": {
        "shape": "ListDeviceDefinitionVersionsResponse"
      }
    },
    "ListDeviceDefinitions": {
      "documentation": "Retrieves a list of device definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/devices",
        "responseCode": 200
      },
      "input": {
        "shape": "ListDeviceDefinitionsRequest"
      },
      "name": "ListDeviceDefinitions",
      "output": {
        "shape": "ListDeviceDefinitionsResponse"
      }
    },
    "ListFunctionDefinitionVersions": {
      "documentation": "Lists the versions of a Lambda function definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFunctionDefinitionVersionsRequest"
      },
      "name": "ListFunctionDefinitionVersions",
      "output": {
        "documentation": "success",
        "shape": "ListFunctionDefinitionVersionsResponse"
      }
    },
    "ListFunctionDefinitions": {
      "documentation": "Retrieves a list of Lambda function definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/functions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListFunctionDefinitionsRequest"
      },
      "name": "ListFunctionDefinitions",
      "output": {
        "documentation": "Success. The response contains the IDs of all the Greengrass Lambda function definitions in this account.",
        "shape": "ListFunctionDefinitionsResponse"
      }
    },
    "ListGroupCertificateAuthorities": {
      "documentation": "Retrieves the current CAs for a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupCertificateAuthoritiesRequest"
      },
      "name": "ListGroupCertificateAuthorities",
      "output": {
        "documentation": "Success. The response body contains the PKI Configuration.",
        "shape": "ListGroupCertificateAuthoritiesResponse"
      }
    },
    "ListGroupVersions": {
      "documentation": "Lists the versions of a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups/{GroupId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupVersionsRequest"
      },
      "name": "ListGroupVersions",
      "output": {
        "documentation": "Success. The response contains the list of versions and metadata for the given group.",
        "shape": "ListGroupVersionsResponse"
      }
    },
    "ListGroups": {
      "documentation": "Retrieves a list of groups.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/groups",
        "responseCode": 200
      },
      "input": {
        "shape": "ListGroupsRequest"
      },
      "name": "ListGroups",
      "output": {
        "shape": "ListGroupsResponse"
      }
    },
    "ListLoggerDefinitionVersions": {
      "documentation": "Lists the versions of a logger definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLoggerDefinitionVersionsRequest"
      },
      "name": "ListLoggerDefinitionVersions",
      "output": {
        "shape": "ListLoggerDefinitionVersionsResponse"
      }
    },
    "ListLoggerDefinitions": {
      "documentation": "Retrieves a list of logger definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/loggers",
        "responseCode": 200
      },
      "input": {
        "shape": "ListLoggerDefinitionsRequest"
      },
      "name": "ListLoggerDefinitions",
      "output": {
        "shape": "ListLoggerDefinitionsResponse"
      }
    },
    "ListResourceDefinitionVersions": {
      "documentation": "Lists the versions of a resource definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListResourceDefinitionVersionsRequest"
      },
      "name": "ListResourceDefinitionVersions",
      "output": {
        "documentation": "success",
        "shape": "ListResourceDefinitionVersionsResponse"
      }
    },
    "ListResourceDefinitions": {
      "documentation": "Retrieves a list of resource definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/resources",
        "responseCode": 200
      },
      "input": {
        "shape": "ListResourceDefinitionsRequest"
      },
      "name": "ListResourceDefinitions",
      "output": {
        "documentation": "The IDs of all the Greengrass resource definitions in this account.",
        "shape": "ListResourceDefinitionsResponse"
      }
    },
    "ListSubscriptionDefinitionVersions": {
      "documentation": "Lists the versions of a subscription definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSubscriptionDefinitionVersionsRequest"
      },
      "name": "ListSubscriptionDefinitionVersions",
      "output": {
        "shape": "ListSubscriptionDefinitionVersionsResponse"
      }
    },
    "ListSubscriptionDefinitions": {
      "documentation": "Retrieves a list of subscription definitions.",
      "errors": [],
      "http": {
        "method": "GET",
        "requestUri": "/greengrass/definition/subscriptions",
        "responseCode": 200
      },
      "input": {
        "shape": "ListSubscriptionDefinitionsRequest"
      },
      "name": "ListSubscriptionDefinitions",
      "output": {
        "shape": "ListSubscriptionDefinitionsResponse"
      }
    },
    "ListTagsForResource": {
      "documentation": "Retrieves a list of resource tags for a resource arn.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "GET",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 200
      },
      "input": {
        "shape": "ListTagsForResourceRequest"
      },
      "name": "ListTagsForResource",
      "output": {
        "documentation": "HTTP Status Code 200: OK.",
        "shape": "ListTagsForResourceResponse"
      }
    },
    "ResetDeployments": {
      "documentation": "Resets a group's deployments.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/groups/{GroupId}/deployments/$reset",
        "responseCode": 200
      },
      "input": {
        "shape": "ResetDeploymentsRequest"
      },
      "name": "ResetDeployments",
      "output": {
        "documentation": "Success. The group's deployments were reset.",
        "shape": "ResetDeploymentsResponse"
      }
    },
    "StartBulkDeployment": {
      "documentation": "Deploys multiple groups in one operation. This action starts the bulk deployment of a specified set of group versions. Each group version deployment will be triggered with an adaptive rate that has a fixed upper limit. We recommend that you include an ''X-Amzn-Client-Token'' token in every ''StartBulkDeployment'' request. These requests are idempotent with respect to the token and the request parameters.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/greengrass/bulk/deployments",
        "responseCode": 200
      },
      "input": {
        "shape": "StartBulkDeploymentRequest"
      },
      "name": "StartBulkDeployment",
      "output": {
        "documentation": "success",
        "shape": "StartBulkDeploymentResponse"
      }
    },
    "StopBulkDeployment": {
      "documentation": "Stops the execution of a bulk deployment. This action returns a status of ''Stopping'' until the deployment is stopped. You cannot start a new bulk deployment while a previous deployment is in the ''Stopping'' state. This action doesn't rollback completed deployments or cancel pending deployments.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/bulk/deployments/{BulkDeploymentId}/$stop",
        "responseCode": 200
      },
      "input": {
        "shape": "StopBulkDeploymentRequest"
      },
      "name": "StopBulkDeployment",
      "output": {
        "documentation": "Success. The bulk deployment is being stopped.",
        "shape": "StopBulkDeploymentResponse"
      }
    },
    "TagResource": {
      "documentation": "Adds tags to a Greengrass resource. Valid resources are 'Group', 'ConnectorDefinition', 'CoreDefinition', 'DeviceDefinition', 'FunctionDefinition', 'LoggerDefinition', 'SubscriptionDefinition', 'ResourceDefinition', and 'BulkDeployment'.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "TagResourceRequest"
      },
      "name": "TagResource"
    },
    "UntagResource": {
      "documentation": "Remove resource tags from a Greengrass Resource.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "DELETE",
        "requestUri": "/tags/{resource-arn}",
        "responseCode": 204
      },
      "input": {
        "shape": "UntagResourceRequest"
      },
      "name": "UntagResource"
    },
    "UpdateConnectivityInfo": {
      "documentation": "Updates the connectivity information for the core. Any devices that belong to the group which has this core will receive this information in order to find the location of the core and connect to it.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/things/{ThingName}/connectivityInfo",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectivityInfoRequest"
      },
      "name": "UpdateConnectivityInfo",
      "output": {
        "documentation": "success",
        "shape": "UpdateConnectivityInfoResponse"
      }
    },
    "UpdateConnectorDefinition": {
      "documentation": "Updates a connector definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/connectors/{ConnectorDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateConnectorDefinitionRequest"
      },
      "name": "UpdateConnectorDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateConnectorDefinitionResponse"
      }
    },
    "UpdateCoreDefinition": {
      "documentation": "Updates a core definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/cores/{CoreDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateCoreDefinitionRequest"
      },
      "name": "UpdateCoreDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateCoreDefinitionResponse"
      }
    },
    "UpdateDeviceDefinition": {
      "documentation": "Updates a device definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/devices/{DeviceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateDeviceDefinitionRequest"
      },
      "name": "UpdateDeviceDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateDeviceDefinitionResponse"
      }
    },
    "UpdateFunctionDefinition": {
      "documentation": "Updates a Lambda function definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/functions/{FunctionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateFunctionDefinitionRequest"
      },
      "name": "UpdateFunctionDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateFunctionDefinitionResponse"
      }
    },
    "UpdateGroup": {
      "documentation": "Updates a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateGroupRequest"
      },
      "name": "UpdateGroup",
      "output": {
        "documentation": "success",
        "shape": "UpdateGroupResponse"
      }
    },
    "UpdateGroupCertificateConfiguration": {
      "documentation": "Updates the Certificate expiry time for a group.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        },
        {
          "documentation": "server error",
          "shape": "InternalServerErrorException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateGroupCertificateConfigurationRequest"
      },
      "name": "UpdateGroupCertificateConfiguration",
      "output": {
        "documentation": "Success. The response body contains the PKI Configuration.",
        "shape": "UpdateGroupCertificateConfigurationResponse"
      }
    },
    "UpdateLoggerDefinition": {
      "documentation": "Updates a logger definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/loggers/{LoggerDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateLoggerDefinitionRequest"
      },
      "name": "UpdateLoggerDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateLoggerDefinitionResponse"
      }
    },
    "UpdateResourceDefinition": {
      "documentation": "Updates a resource definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/resources/{ResourceDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateResourceDefinitionRequest"
      },
      "name": "UpdateResourceDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateResourceDefinitionResponse"
      }
    },
    "UpdateSubscriptionDefinition": {
      "documentation": "Updates a subscription definition.",
      "errors": [
        {
          "documentation": "invalid request",
          "shape": "BadRequestException"
        }
      ],
      "http": {
        "method": "PUT",
        "requestUri": "/greengrass/definition/subscriptions/{SubscriptionDefinitionId}",
        "responseCode": 200
      },
      "input": {
        "shape": "UpdateSubscriptionDefinitionRequest"
      },
      "name": "UpdateSubscriptionDefinition",
      "output": {
        "documentation": "success",
        "shape": "UpdateSubscriptionDefinitionResponse"
      }
    }
  },
  "shapes": {
    "AssociateRoleToGroupRequest": {
      "members": {
        "GroupId": {
          "documentation": "The ID of the Greengrass group.",
          "location": "uri",
          "locationName": "GroupId",
          "shape": "__string"
        },
        "RoleArn": {
          "documentation": "The ARN of the role you wish to associate with this group. The existence of the role is not validated.",
          "shape": "__string"
        }
      },
      "required": [
        "GroupId",
        "RoleArn"
      ],
      "type": "structure"
    },
    "AssociateRoleToGroupResponse": {
      "members": {
        "AssociatedAt": {
          "documentation": "The time, in milliseconds since the epoch, when the role ARN was associated with the group.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "AssociateServiceRoleToAccountRequest": {
      "members": {
        "RoleArn": {
          "documentation": "The ARN of the service role you wish to associate with your account.",
          "shape": "__string"
        }
      },
      "required": [
        "RoleArn"
      ],
      "type": "structure"
    },
    "AssociateServiceRoleToAccountResponse": {
      "members": {
        "AssociatedAt": {
          "documentation": "The time when the service role was associated with the account.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BadRequestException": {
      "documentation": "General error information.",
      "error": {
        "httpStatusCode": 400
      },
      "exception": true,
      "members": {
        "ErrorDetails": {
          "documentation": "Details about the error.",
          "shape": "ErrorDetails"
        },
        "Message": {
          "documentation": "A message containing information about the error.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BulkDeployment": {
      "documentation": "Information about a bulk deployment. You cannot start a new bulk deployment while another one is still running or in a non-terminal state.",
      "members": {
        "BulkDeploymentArn": {
          "documentation": "The ARN of the bulk deployment.",
          "shape": "__string"
        },
        "BulkDeploymentId": {
          "documentation": "The ID of the bulk deployment.",
          "shape": "__string"
        },
        "CreatedAt": {
          "documentation": "The time, in ISO format, when the deployment was created.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BulkDeploymentMetrics": {
      "documentation": "Relevant metrics on input records processed during bulk deployment.",
      "members": {
        "InvalidInputRecords": {
          "documentation": "The total number of records that returned a non-retryable error. For example, this can occur if a group record from the input file uses an invalid format or specifies a nonexistent group version, or if the execution role doesn't grant permission to deploy a group or group version.",
          "shape": "__integer"
        },
        "RecordsProcessed": {
          "documentation": "The total number of group records from the input file that have been processed so far, or attempted.",
          "shape": "__integer"
        },
        "RetryAttempts": {
          "documentation": "The total number of deployment attempts that returned a retryable error. For example, a retry is triggered if the attempt to deploy a group returns a throttling error. ''StartBulkDeployment'' retries a group deployment up to five times.",
          "shape": "__integer"
        }
      },
      "type": "structure"
    },
    "BulkDeploymentResult": {
      "documentation": "Information about an individual group deployment in a bulk deployment operation.",
      "members": {
        "CreatedAt": {
          "documentation": "The time, in ISO format, when the deployment was created.",
          "shape": "__string"
        },
        "DeploymentArn": {
          "documentation": "The ARN of the group deployment.",
          "shape": "__string"
        },
        "DeploymentId": {
          "documentation": "The ID of the group deployment.",
          "shape": "__string"
        },
        "DeploymentStatus": {
          "documentation": "The current status of the group deployment: ''InProgress'', ''Building'', ''Success'', or ''Failure''.",
          "shape": "__string"
        },
        "DeploymentType": {
          "documentation": "The type of the deployment.",
          "shape": "DeploymentType"
        },
        "ErrorDetails": {
          "documentation": "Details about the error.",
          "shape": "ErrorDetails"
        },
        "ErrorMessage": {
          "documentation": "The error message for a failed deployment",
          "shape": "__string"
        },
        "GroupArn": {
          "documentation": "The ARN of the Greengrass group.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "BulkDeploymentResults": {
      "member": {
        "shape": "BulkDeploymentResult"
      },
      "type": "list"
    },
    "BulkDeploymentStatus": {
      "documentation": "The current status of the bulk deployment.",
      "enum": [
        "Initializing",
        "Running",
        "Completed",
        "Stopping",
        "Stopped",
        "Failed"
      ],
      "type": "string"
    },
    "BulkDeployments": {
      "member": {
        "shape": "BulkDeployment"
      },
      "type": "list"
    },
    "ConnectivityInfo": {
      "documentation": "Information about a Greengrass core's connectivity.",
      "members": {
        "HostAddress": {
          "documentation": "The endpoint for the Greengrass core. Can be an IP address or DNS.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the connectivity information.",
          "shape": "__string"
        },
        "Metadata": {
          "documentation": "Metadata for this endpoint.",
          "shape": "__string"
        },
        "PortNumber": {
          "documentation": "The port of the Greengrass core. Usually 8883.",
          "shape": "__integer"
        }
      },
      "type": "structure"
    },
    "Connector": {
      "documentation": "Information about a connector. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.",
      "members": {
        "ConnectorArn": {
          "documentation": "The ARN of the connector.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "A descriptive or arbitrary ID for the connector. This value must be unique within the connector definition version. Max length is 128 characters with pattern [a-zA-Z0-9:_-]+.",
          "shape": "__string"
        },
        "Parameters": {
          "documentation": "The parameters or configuration that the connector uses.",
          "shape": "__mapOf__string"
        }
      },
      "required": [
        "ConnectorArn",
        "Id"
      ],
      "type": "structure"
    },
    "ConnectorDefinitionVersion": {
      "documentation": "Information about the connector definition version, which is a container for connectors.",
      "members": {
        "Connectors": {
          "documentation": "A list of references to connectors in this version, with their corresponding configuration settings.",
          "shape": "__listOfConnector"
        }
      },
      "type": "structure"
    },
    "Core": {
      "documentation": "Information about a core.",
      "members": {
        "CertificateArn": {
          "documentation": "The ARN of the certificate associated with the core.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "A descriptive or arbitrary ID for the core. This value must be unique within the core definition version. Max length is 128 characters with pattern ''[a-zA-Z0-9:_-]+''.",
          "shape": "__string"
        },
        "SyncShadow": {
          "documentation": "If true, the core's local shadow is automatically synced with the cloud.",
          "shape": "__boolean"
        },
        "ThingArn": {
          "documentation": "The ARN of the thing which is the core.",
          "shape": "__string"
        }
      },
      "required": [
        "ThingArn",
        "Id",
        "CertificateArn"
      ],
      "type": "structure"
    },
    "CoreDefinitionVersion": {
      "documentation": "Information about a core definition version.",
      "members": {
        "Cores": {
          "documentation": "A list of cores in the core definition version.",
          "shape": "__listOfCore"
        }
      },
      "type": "structure"
    },
    "CreateConnectorDefinitionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the connector definition.",
          "shape": "ConnectorDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the connector definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateConnectorDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateConnectorDefinitionVersionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "ConnectorDefinitionId": {
          "documentation": "The ID of the connector definition.",
          "location": "uri",
          "locationName": "ConnectorDefinitionId",
          "shape": "__string"
        },
        "Connectors": {
          "documentation": "A list of references to connectors in this version, with their corresponding configuration settings.",
          "shape": "__listOfConnector"
        }
      },
      "required": [
        "ConnectorDefinitionId"
      ],
      "type": "structure"
    },
    "CreateConnectorDefinitionVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateCoreDefinitionRequest": {
      "documentation": "Information needed to create a core definition.",
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the core definition.",
          "shape": "CoreDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the core definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateCoreDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateCoreDefinitionVersionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "CoreDefinitionId": {
          "documentation": "The ID of the core definition.",
          "location": "uri",
          "locationName": "CoreDefinitionId",
          "shape": "__string"
        },
        "Cores": {
          "documentation": "A list of cores in the core definition version.",
          "shape": "__listOfCore"
        }
      },
      "required": [
        "CoreDefinitionId"
      ],
      "type": "structure"
    },
    "CreateCoreDefinitionVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateDeploymentRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "DeploymentId": {
          "documentation": "The ID of the deployment if you wish to redeploy a previous deployment.",
          "shape": "__string"
        },
        "DeploymentType": {
          "documentation": "The type of deployment. When used for ''CreateDeployment'', only ''NewDeployment'' and ''Redeployment'' are valid.",
          "shape": "DeploymentType"
        },
        "GroupId": {
          "documentation": "The ID of the Greengrass group.",
          "location": "uri",
          "locationName": "GroupId",
          "shape": "__string"
        },
        "GroupVersionId": {
          "documentation": "The ID of the group version to be deployed.",
          "shape": "__string"
        }
      },
      "required": [
        "GroupId",
        "DeploymentType"
      ],
      "type": "structure"
    },
    "CreateDeploymentResponse": {
      "members": {
        "DeploymentArn": {
          "documentation": "The ARN of the deployment.",
          "shape": "__string"
        },
        "DeploymentId": {
          "documentation": "The ID of the deployment.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateDeviceDefinitionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the device definition.",
          "shape": "DeviceDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the device definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateDeviceDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateDeviceDefinitionVersionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "DeviceDefinitionId": {
          "documentation": "The ID of the device definition.",
          "location": "uri",
          "locationName": "DeviceDefinitionId",
          "shape": "__string"
        },
        "Devices": {
          "documentation": "A list of devices in the definition version.",
          "shape": "__listOfDevice"
        }
      },
      "required": [
        "DeviceDefinitionId"
      ],
      "type": "structure"
    },
    "CreateDeviceDefinitionVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateFunctionDefinitionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the function definition.",
          "shape": "FunctionDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the function definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateFunctionDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateFunctionDefinitionVersionRequest": {
      "documentation": "Information needed to create a function definition version.",
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "DefaultConfig": {
          "documentation": "The default configuration that applies to all Lambda functions in this function definition version. Individual Lambda functions can override these settings.",
          "shape": "FunctionDefaultConfig"
        },
        "FunctionDefinitionId": {
          "documentation": "The ID of the Lambda function definition.",
          "location": "uri",
          "locationName": "FunctionDefinitionId",
          "shape": "__string"
        },
        "Functions": {
          "documentation": "A list of Lambda functions in this function definition version.",
          "shape": "__listOfFunction"
        }
      },
      "required": [
        "FunctionDefinitionId"
      ],
      "type": "structure"
    },
    "CreateFunctionDefinitionVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateGroupCertificateAuthorityRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "GroupId": {
          "documentation": "The ID of the Greengrass group.",
          "location": "uri",
          "locationName": "GroupId",
          "shape": "__string"
        }
      },
      "required": [
        "GroupId"
      ],
      "type": "structure"
    },
    "CreateGroupCertificateAuthorityResponse": {
      "members": {
        "GroupCertificateAuthorityArn": {
          "documentation": "The ARN of the group certificate authority.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateGroupRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the group.",
          "shape": "GroupVersion"
        },
        "Name": {
          "documentation": "The name of the group.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateGroupResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateGroupVersionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "ConnectorDefinitionVersionArn": {
          "documentation": "The ARN of the connector definition version for this group.",
          "shape": "__string"
        },
        "CoreDefinitionVersionArn": {
          "documentation": "The ARN of the core definition version for this group.",
          "shape": "__string"
        },
        "DeviceDefinitionVersionArn": {
          "documentation": "The ARN of the device definition version for this group.",
          "shape": "__string"
        },
        "FunctionDefinitionVersionArn": {
          "documentation": "The ARN of the function definition version for this group.",
          "shape": "__string"
        },
        "GroupId": {
          "documentation": "The ID of the Greengrass group.",
          "location": "uri",
          "locationName": "GroupId",
          "shape": "__string"
        },
        "LoggerDefinitionVersionArn": {
          "documentation": "The ARN of the logger definition version for this group.",
          "shape": "__string"
        },
        "ResourceDefinitionVersionArn": {
          "documentation": "The ARN of the resource definition version for this group.",
          "shape": "__string"
        },
        "SubscriptionDefinitionVersionArn": {
          "documentation": "The ARN of the subscription definition version for this group.",
          "shape": "__string"
        }
      },
      "required": [
        "GroupId"
      ],
      "type": "structure"
    },
    "CreateGroupVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateLoggerDefinitionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the logger definition.",
          "shape": "LoggerDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the logger definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateLoggerDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateLoggerDefinitionVersionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "LoggerDefinitionId": {
          "documentation": "The ID of the logger definition.",
          "location": "uri",
          "locationName": "LoggerDefinitionId",
          "shape": "__string"
        },
        "Loggers": {
          "documentation": "A list of loggers.",
          "shape": "__listOfLogger"
        }
      },
      "required": [
        "LoggerDefinitionId"
      ],
      "type": "structure"
    },
    "CreateLoggerDefinitionVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateResourceDefinitionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the resource definition.",
          "shape": "ResourceDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the resource definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateResourceDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the definition.",
          "shape": "__string"
        },
        "LastUpdatedTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the definition was last updated.",
          "shape": "__string"
        },
        "LatestVersion": {
          "documentation": "The ID of the latest version associated with the definition.",
          "shape": "__string"
        },
        "LatestVersionArn": {
          "documentation": "The ARN of the latest version associated with the definition.",
          "shape": "__string"
        },
        "Name": {
          "documentation": "The name of the definition.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateResourceDefinitionVersionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "ResourceDefinitionId": {
          "documentation": "The ID of the resource definition.",
          "location": "uri",
          "locationName": "ResourceDefinitionId",
          "shape": "__string"
        },
        "Resources": {
          "documentation": "A list of resources.",
          "shape": "__listOfResource"
        }
      },
      "required": [
        "ResourceDefinitionId"
      ],
      "type": "structure"
    },
    "CreateResourceDefinitionVersionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the version.",
          "shape": "__string"
        },
        "CreationTimestamp": {
          "documentation": "The time, in milliseconds since the epoch, when the version was created.",
          "shape": "__string"
        },
        "Id": {
          "documentation": "The ID of the parent definition that the version is associated with.",
          "shape": "__string"
        },
        "Version": {
          "documentation": "The ID of the version.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateSoftwareUpdateJobRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "S3UrlSignerRole": {
          "shape": "S3UrlSignerRole"
        },
        "SoftwareToUpdate": {
          "shape": "SoftwareToUpdate"
        },
        "UpdateAgentLogLevel": {
          "shape": "UpdateAgentLogLevel"
        },
        "UpdateTargets": {
          "shape": "UpdateTargets"
        },
        "UpdateTargetsArchitecture": {
          "shape": "UpdateTargetsArchitecture"
        },
        "UpdateTargetsOperatingSystem": {
          "shape": "UpdateTargetsOperatingSystem"
        }
      },
      "required": [
        "S3UrlSignerRole",
        "UpdateTargetsArchitecture",
        "SoftwareToUpdate",
        "UpdateTargets",
        "UpdateTargetsOperatingSystem"
      ],
      "type": "structure"
    },
    "CreateSoftwareUpdateJobResponse": {
      "members": {
        "IotJobArn": {
          "documentation": "The IoT Job ARN corresponding to this update.",
          "shape": "__string"
        },
        "IotJobId": {
          "documentation": "The IoT Job Id corresponding to this update.",
          "shape": "__string"
        },
        "PlatformSoftwareVersion": {
          "documentation": "The software version installed on the device or devices after the update.",
          "shape": "__string"
        }
      },
      "type": "structure"
    },
    "CreateSubscriptionDefinitionRequest": {
      "members": {
        "AmznClientToken": {
          "documentation": "A client token used to correlate requests and responses.",
          "location": "header",
          "locationName": "X-Amzn-Client-Token",
          "shape": "__string"
        },
        "InitialVersion": {
          "documentation": "Information about the initial version of the subscription definition.",
          "shape": "SubscriptionDefinitionVersion"
        },
        "Name": {
          "documentation": "The name of the subscription definition.",
          "shape": "__string"
        },
        "tags": {
          "documentation": "Tag(s) to add to the new resource.",
          "shape": "Tags"
        }
      },
      "type": "structure"
    },
    "CreateSubscriptionDefinitionResponse": {
      "members": {
        "Arn": {
          "documentation": "The ARN of the definition.",
          "shape": "__string"
        },
[...]
