{
  "documentation": "<fullname>AWS CloudFormation</fullname> <p>AWS CloudFormation allows you to create and manage AWS infrastructure deployments predictably and repeatedly. You can use AWS CloudFormation to leverage AWS products, such as Amazon Elastic Compute Cloud, Amazon Elastic Block Store, Amazon Simple Notification Service, Elastic Load Balancing, and Auto Scaling to build highly-reliable, highly scalable, cost-effective applications without creating or configuring the underlying AWS infrastructure.</p> <p>With AWS CloudFormation, you declare all of your resources and dependencies in a template file. The template defines a collection of resources as a single unit called a stack. AWS CloudFormation creates and deletes all member resources of the stack together and manages all dependencies between the resources for you.</p> <p>For more information about AWS CloudFormation, see the <a href=\"http://aws.amazon.com/cloudformation/\">AWS CloudFormation Product Page</a>.</p> <p>Amazon CloudFormation makes use of other AWS products. If you need additional technical information about a specific AWS product, you can find the product's technical documentation at <a href=\"https://docs.aws.amazon.com/\">docs.aws.amazon.com</a>.</p>",
  "metadata": {
    "apiVersion": "2010-05-15",
    "endpointPrefix": "cloudformation",
    "protocol": "query",
    "serviceFullName": "AWS CloudFormation",
    "serviceId": "CloudFormation",
    "signatureVersion": "v4",
    "uid": "cloudformation-2010-05-15",
    "xmlNamespace": "http://cloudformation.amazonaws.com/doc/2010-05-15/"
  },
  "operations": {
    "CancelUpdateStack": {
      "documentation": "<p>Cancels an update on the specified stack. If the call completes successfully, the stack rolls back the update and reverts to the previous stack configuration.</p> <note> <p>You can cancel only stacks that are in the UPDATE_IN_PROGRESS state.</p> </note>",
      "errors": [
        {
          "shape": "TokenAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CancelUpdateStackInput"
      },
      "name": "CancelUpdateStack"
    },
    "ContinueUpdateRollback": {
      "documentation": "<p>For a specified stack that is in the <code>UPDATE_ROLLBACK_FAILED</code> state, continues rolling it back to the <code>UPDATE_ROLLBACK_COMPLETE</code> state. Depending on the cause of the failure, you can manually <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> fix the error</a> and continue the rollback. By continuing the rollback, you can return your stack to a working state (the <code>UPDATE_ROLLBACK_COMPLETE</code> state), and then try to update the stack again.</p> <p>A stack goes into the <code>UPDATE_ROLLBACK_FAILED</code> state when AWS CloudFormation cannot roll back all changes after a failed stack update. For example, you might have a stack that is rolling back to an old database instance that was deleted outside of AWS CloudFormation. Because AWS CloudFormation doesn't know the database was deleted, it assumes that the database instance still exists and attempts to roll back to it, causing the update rollback to fail.</p>",
      "errors": [
        {
          "shape": "TokenAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ContinueUpdateRollbackInput"
      },
      "name": "ContinueUpdateRollback",
      "output": {
        "resultWrapper": "ContinueUpdateRollbackResult",
        "shape": "ContinueUpdateRollbackOutput"
      }
    },
    "CreateChangeSet": {
      "documentation": "<p>Creates a list of changes that will be applied to a stack so that you can review the changes before executing them. You can create a change set for a stack that doesn't exist or an existing stack. If you create a change set for a stack that doesn't exist, the change set shows all of the resources that AWS CloudFormation will create. If you create a change set for an existing stack, AWS CloudFormation compares the stack's information with the information that you submit in the change set and lists the differences. Use change sets to understand which resources AWS CloudFormation will create or change, and how it will change resources in an existing stack, before you create or update a stack.</p> <p>To create a change set for a stack that doesn't exist, for the <code>ChangeSetType</code> parameter, specify <code>CREATE</code>. To create a change set for an existing stack, specify <code>UPDATE</code> for the <code>ChangeSetType</code> parameter. To create a change set for an import operation, specify <code>IMPORT</code> for the <code>ChangeSetType</code> parameter. After the <code>CreateChangeSet</code> call successfully completes, AWS CloudFormation starts creating the change set. To check the status of the change set or to review it, use the <a>DescribeChangeSet</a> action.</p> <p>When you are satisfied with the changes the change set will make, execute the change set by using the <a>ExecuteChangeSet</a> action. AWS CloudFormation doesn't make changes until you execute the change set.</p>",
      "errors": [
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "InsufficientCapabilitiesException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateChangeSetInput"
      },
      "name": "CreateChangeSet",
      "output": {
        "resultWrapper": "CreateChangeSetResult",
        "shape": "CreateChangeSetOutput"
      }
    },
    "CreateStack": {
      "documentation": "<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>",
      "errors": [
        {
          "shape": "LimitExceededException"
        },
        {
          "shape": "AlreadyExistsException"
        },
        {
          "shape": "TokenAlreadyExistsException"
        },
        {
          "shape": "InsufficientCapabilitiesException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStackInput"
      },
      "name": "CreateStack",
      "output": {
        "resultWrapper": "CreateStackResult",
        "shape": "CreateStackOutput"
      }
    },
    "CreateStackInstances": {
      "documentation": "<p>Creates stack instances for the specified accounts, within the specified regions. A stack instance refers to a stack in a specific account and region. You must specify at least one value for either <code>Accounts</code> or <code>DeploymentTargets</code>, and you must specify at least one value for <code>Regions</code>.</p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "OperationIdAlreadyExistsException"
        },
        {
          "shape": "StaleRequestException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStackInstancesInput"
      },
      "name": "CreateStackInstances",
      "output": {
        "resultWrapper": "CreateStackInstancesResult",
        "shape": "CreateStackInstancesOutput"
      }
    },
    "CreateStackSet": {
      "documentation": "<p>Creates a stack set.</p>",
      "errors": [
        {
          "shape": "NameAlreadyExistsException"
        },
        {
          "shape": "CreatedButModifiedException"
        },
        {
          "shape": "LimitExceededException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "CreateStackSetInput"
      },
      "name": "CreateStackSet",
      "output": {
        "resultWrapper": "CreateStackSetResult",
        "shape": "CreateStackSetOutput"
      }
    },
    "DeleteChangeSet": {
      "documentation": "<p>Deletes the specified change set. Deleting change sets ensures that no one executes the wrong change set.</p> <p>If the call successfully completes, AWS CloudFormation successfully deleted the change set.</p>",
      "errors": [
        {
          "shape": "InvalidChangeSetStatusException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteChangeSetInput"
      },
      "name": "DeleteChangeSet",
      "output": {
        "resultWrapper": "DeleteChangeSetResult",
        "shape": "DeleteChangeSetOutput"
      }
    },
    "DeleteStack": {
      "documentation": "<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the deletion has been completed successfully.</p>",
      "errors": [
        {
          "shape": "TokenAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStackInput"
      },
      "name": "DeleteStack"
    },
    "DeleteStackInstances": {
      "documentation": "<p>Deletes stack instances for the specified accounts, in the specified regions. </p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "OperationIdAlreadyExistsException"
        },
        {
          "shape": "StaleRequestException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStackInstancesInput"
      },
      "name": "DeleteStackInstances",
      "output": {
        "resultWrapper": "DeleteStackInstancesResult",
        "shape": "DeleteStackInstancesOutput"
      }
    },
    "DeleteStackSet": {
      "documentation": "<p>Deletes a stack set. Before you can delete a stack set, all of its member stack instances must be deleted. For more information about how to do this, see <a>DeleteStackInstances</a>. </p>",
      "errors": [
        {
          "shape": "StackSetNotEmptyException"
        },
        {
          "shape": "OperationInProgressException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DeleteStackSetInput"
      },
      "name": "DeleteStackSet",
      "output": {
        "resultWrapper": "DeleteStackSetResult",
        "shape": "DeleteStackSetOutput"
      }
    },
    "DeregisterType": {
      "documentation": "<p>Removes a type or type version from active use in the CloudFormation registry. If a type or type version is deregistered, it cannot be used in CloudFormation operations.</p> <p>To deregister a type, you must individually deregister all registered versions of that type. If a type has only a single registered version, deregistering that version results in the type itself being deregistered. </p> <p>You cannot deregister the default version of a type, unless it is the only registered version of that type, in which case the type itself is deregistered as well. </p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        },
        {
          "shape": "TypeNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DeregisterTypeInput"
      },
      "name": "DeregisterType",
      "output": {
        "resultWrapper": "DeregisterTypeResult",
        "shape": "DeregisterTypeOutput"
      }
    },
    "DescribeAccountLimits": {
      "documentation": "<p>Retrieves your account's AWS CloudFormation limits, such as the maximum number of stacks that you can create in your account. For more information about account limits, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">AWS CloudFormation Limits</a> in the <i>AWS CloudFormation User Guide</i>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeAccountLimitsInput"
      },
      "name": "DescribeAccountLimits",
      "output": {
        "resultWrapper": "DescribeAccountLimitsResult",
        "shape": "DescribeAccountLimitsOutput"
      }
    },
    "DescribeChangeSet": {
      "documentation": "<p>Returns the inputs for the change set and a list of changes that AWS CloudFormation will make if you execute the change set. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-changesets.html\">Updating Stacks Using Change Sets</a> in the AWS CloudFormation User Guide.</p>",
      "errors": [
        {
          "shape": "ChangeSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeChangeSetInput"
      },
      "name": "DescribeChangeSet",
      "output": {
        "resultWrapper": "DescribeChangeSetResult",
        "shape": "DescribeChangeSetOutput"
      }
    },
    "DescribeStackDriftDetectionStatus": {
      "documentation": "<p>Returns information about a stack drift detection operation. A stack drift detection operation detects whether a stack's actual configuration differs, or has <i>drifted</i>, from it's expected configuration, as defined in the stack template and any values specified as template parameters. A stack is considered to have drifted if one or more of its resources have drifted. For more information on stack and resource drift, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html\">Detecting Unregulated Configuration Changes to Stacks and Resources</a>.</p> <p>Use <a>DetectStackDrift</a> to initiate a stack drift detection operation. <code>DetectStackDrift</code> returns a <code>StackDriftDetectionId</code> you can use to monitor the progress of the operation using <code>DescribeStackDriftDetectionStatus</code>. Once the drift detection operation has completed, use <a>DescribeStackResourceDrifts</a> to return drift information about the stack and its resources.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackDriftDetectionStatusInput"
      },
      "name": "DescribeStackDriftDetectionStatus",
      "output": {
        "resultWrapper": "DescribeStackDriftDetectionStatusResult",
        "shape": "DescribeStackDriftDetectionStatusOutput"
      }
    },
    "DescribeStackEvents": {
      "documentation": "<p>Returns all stack related events for a specified stack in reverse chronological order. For more information about a stack's event history, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/concept-stack.html\">Stacks</a> in the AWS CloudFormation User Guide.</p> <note> <p>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackEventsInput"
      },
      "name": "DescribeStackEvents",
      "output": {
        "resultWrapper": "DescribeStackEventsResult",
        "shape": "DescribeStackEventsOutput"
      }
    },
    "DescribeStackInstance": {
      "documentation": "<p>Returns the stack instance that's associated with the specified stack set, AWS account, and region.</p> <p>For a list of stack instances that are associated with a specific stack set, use <a>ListStackInstances</a>.</p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "StackInstanceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackInstanceInput"
      },
      "name": "DescribeStackInstance",
      "output": {
        "resultWrapper": "DescribeStackInstanceResult",
        "shape": "DescribeStackInstanceOutput"
      }
    },
    "DescribeStackResource": {
      "documentation": "<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackResourceInput"
      },
      "name": "DescribeStackResource",
      "output": {
        "resultWrapper": "DescribeStackResourceResult",
        "shape": "DescribeStackResourceOutput"
      }
    },
    "DescribeStackResourceDrifts": {
      "documentation": "<p>Returns drift information for the resources that have been checked for drift in the specified stack. This includes actual and expected configuration values for resources where AWS CloudFormation detects configuration drift.</p> <p>For a given stack, there will be one <code>StackResourceDrift</code> for each stack resource that has been checked for drift. Resources that have not yet been checked for drift are not included. Resources that do not currently support drift detection are not checked, and so not included. For a list of resources that support drift detection, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift-resource-list.html\">Resources that Support Drift Detection</a>.</p> <p>Use <a>DetectStackResourceDrift</a> to detect drift on individual resources, or <a>DetectStackDrift</a> to detect drift on all supported resources for a given stack.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackResourceDriftsInput"
      },
      "name": "DescribeStackResourceDrifts",
      "output": {
        "resultWrapper": "DescribeStackResourceDriftsResult",
        "shape": "DescribeStackResourceDriftsOutput"
      }
    },
    "DescribeStackResources": {
      "documentation": "<p>Returns AWS resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note> <p>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</p> </note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, go to the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/\">AWS CloudFormation User Guide</a>.</p> <note> <p>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackResourcesInput"
      },
      "name": "DescribeStackResources",
      "output": {
        "resultWrapper": "DescribeStackResourcesResult",
        "shape": "DescribeStackResourcesOutput"
      }
    },
    "DescribeStackSet": {
      "documentation": "<p>Returns the description of the specified stack set. </p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackSetInput"
      },
      "name": "DescribeStackSet",
      "output": {
        "resultWrapper": "DescribeStackSetResult",
        "shape": "DescribeStackSetOutput"
      }
    },
    "DescribeStackSetOperation": {
      "documentation": "<p>Returns the description of the specified stack set operation. </p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "OperationNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStackSetOperationInput"
      },
      "name": "DescribeStackSetOperation",
      "output": {
        "resultWrapper": "DescribeStackSetOperationResult",
        "shape": "DescribeStackSetOperationOutput"
      }
    },
    "DescribeStacks": {
      "documentation": "<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.</p> <note> <p>If the stack does not exist, an <code>AmazonCloudFormationException</code> is returned.</p> </note>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DescribeStacksInput"
      },
      "name": "DescribeStacks",
      "output": {
        "resultWrapper": "DescribeStacksResult",
        "shape": "DescribeStacksOutput"
      }
    },
    "DescribeType": {
      "documentation": "<p>Returns detailed information about a type that has been registered.</p> <p>If you specify a <code>VersionId</code>, <code>DescribeType</code> returns information about that specific type version. Otherwise, it returns information about the default type version.</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        },
        {
          "shape": "TypeNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeTypeInput"
      },
      "name": "DescribeType",
      "output": {
        "resultWrapper": "DescribeTypeResult",
        "shape": "DescribeTypeOutput"
      }
    },
    "DescribeTypeRegistration": {
      "documentation": "<p>Returns information about a type's registration, including its current status and type and version identifiers.</p> <p>When you initiate a registration request using <code> <a>RegisterType</a> </code>, you can then use <code> <a>DescribeTypeRegistration</a> </code> to monitor the progress of that registration request.</p> <p>Once the registration request has completed, use <code> <a>DescribeType</a> </code> to return detailed informaiton about a type.</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "DescribeTypeRegistrationInput"
      },
      "name": "DescribeTypeRegistration",
      "output": {
        "resultWrapper": "DescribeTypeRegistrationResult",
        "shape": "DescribeTypeRegistrationOutput"
      }
    },
    "DetectStackDrift": {
      "documentation": "<p>Detects whether a stack's actual configuration differs, or has <i>drifted</i>, from it's expected configuration, as defined in the stack template and any values specified as template parameters. For each resource in the stack that supports drift detection, AWS CloudFormation compares the actual configuration of the resource with its expected template configuration. Only resource properties explicitly defined in the stack template are checked for drift. A stack is considered to have drifted if one or more of its resources differ from their expected template configurations. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html\">Detecting Unregulated Configuration Changes to Stacks and Resources</a>.</p> <p>Use <code>DetectStackDrift</code> to detect drift on all supported resources for a given stack, or <a>DetectStackResourceDrift</a> to detect drift on individual resources.</p> <p>For a list of stack resources that currently support drift detection, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift-resource-list.html\">Resources that Support Drift Detection</a>.</p> <p> <code>DetectStackDrift</code> can take up to several minutes, depending on the number of resources contained within the stack. Use <a>DescribeStackDriftDetectionStatus</a> to monitor the progress of a detect stack drift operation. Once the drift detection operation has completed, use <a>DescribeStackResourceDrifts</a> to return drift information about the stack and its resources.</p> <p>When detecting drift on a stack, AWS CloudFormation does not detect drift on any nested stacks belonging to that stack. Perform <code>DetectStackDrift</code> directly on the nested stack itself.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectStackDriftInput"
      },
      "name": "DetectStackDrift",
      "output": {
        "resultWrapper": "DetectStackDriftResult",
        "shape": "DetectStackDriftOutput"
      }
    },
    "DetectStackResourceDrift": {
      "documentation": "<p>Returns information about whether a resource's actual configuration differs, or has <i>drifted</i>, from it's expected configuration, as defined in the stack template and any values specified as template parameters. This information includes actual and expected property values for resources in which AWS CloudFormation detects drift. Only resource properties explicitly defined in the stack template are checked for drift. For more information about stack and resource drift, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift.html\">Detecting Unregulated Configuration Changes to Stacks and Resources</a>.</p> <p>Use <code>DetectStackResourceDrift</code> to detect drift on individual resources, or <a>DetectStackDrift</a> to detect drift on all resources in a given stack that support drift detection.</p> <p>Resources that do not currently support drift detection cannot be checked. For a list of resources that support drift detection, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-drift-resource-list.html\">Resources that Support Drift Detection</a>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectStackResourceDriftInput"
      },
      "name": "DetectStackResourceDrift",
      "output": {
        "resultWrapper": "DetectStackResourceDriftResult",
        "shape": "DetectStackResourceDriftOutput"
      }
    },
    "DetectStackSetDrift": {
      "documentation": "<p>Detect drift on a stack set. When CloudFormation performs drift detection on a stack set, it performs drift detection on the stack associated with each stack instance in the stack set. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-drift.html\">How CloudFormation Performs Drift Detection on a Stack Set</a>.</p> <p> <code>DetectStackSetDrift</code> returns the <code>OperationId</code> of the stack set drift detection operation. Use this operation id with <code> <a>DescribeStackSetOperation</a> </code> to monitor the progress of the drift detection operation. The drift detection operation may take some time, depending on the number of stack instances included in the stack set, as well as the number of resources included in each stack.</p> <p>Once the operation has completed, use the following actions to return drift information:</p> <ul> <li> <p>Use <code> <a>DescribeStackSet</a> </code> to return detailed informaiton about the stack set, including detailed information about the last <i>completed</i> drift operation performed on the stack set. (Information about drift operations that are in progress is not included.)</p> </li> <li> <p>Use <code> <a>ListStackInstances</a> </code> to return a list of stack instances belonging to the stack set, including the drift status and last drift time checked of each instance.</p> </li> <li> <p>Use <code> <a>DescribeStackInstance</a> </code> to return detailed information about a specific stack instance, including its drift status and last drift time checked.</p> </li> </ul> <p>For more information on performing a drift detection operation on a stack set, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-drift.html\">Detecting Unmanaged Changes in Stack Sets</a>. </p> <p>You can only run a single drift detection operation on a given stack set at one time. </p> <p>To stop a drift detection stack set operation, use <code> <a>StopStackSetOperation</a> </code>.</p>",
      "errors": [
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "StackSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "DetectStackSetDriftInput"
      },
      "name": "DetectStackSetDrift",
      "output": {
        "resultWrapper": "DetectStackSetDriftResult",
        "shape": "DetectStackSetDriftOutput"
      }
    },
    "EstimateTemplateCost": {
      "documentation": "<p>Returns the estimated monthly cost of a template. The return value is an AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "EstimateTemplateCostInput"
      },
      "name": "EstimateTemplateCost",
      "output": {
        "resultWrapper": "EstimateTemplateCostResult",
        "shape": "EstimateTemplateCostOutput"
      }
    },
    "ExecuteChangeSet": {
      "documentation": "<p>Updates a stack using the input information that was provided when the specified change set was created. After the call successfully completes, AWS CloudFormation starts updating the stack. Use the <a>DescribeStacks</a> action to view the status of the update.</p> <p>When you execute a change set, AWS CloudFormation deletes all other change sets associated with the stack because they aren't valid for the updated stack.</p> <p>If a stack policy is associated with the stack, AWS CloudFormation enforces the policy during the update. You can't specify a temporary stack policy that overrides the current policy.</p>",
      "errors": [
        {
          "shape": "InvalidChangeSetStatusException"
        },
        {
          "shape": "ChangeSetNotFoundException"
        },
        {
          "shape": "InsufficientCapabilitiesException"
        },
        {
          "shape": "TokenAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ExecuteChangeSetInput"
      },
      "name": "ExecuteChangeSet",
      "output": {
        "resultWrapper": "ExecuteChangeSetResult",
        "shape": "ExecuteChangeSetOutput"
      }
    },
    "GetStackPolicy": {
      "documentation": "<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetStackPolicyInput"
      },
      "name": "GetStackPolicy",
      "output": {
        "resultWrapper": "GetStackPolicyResult",
        "shape": "GetStackPolicyOutput"
      }
    },
    "GetTemplate": {
      "documentation": "<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, GetTemplate returns the template for up to 90 days after the stack has been deleted.</p> <note> <p> If the template does not exist, a <code>ValidationError</code> is returned. </p> </note>",
      "errors": [
        {
          "shape": "ChangeSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTemplateInput"
      },
      "name": "GetTemplate",
      "output": {
        "resultWrapper": "GetTemplateResult",
        "shape": "GetTemplateOutput"
      }
    },
    "GetTemplateSummary": {
      "documentation": "<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack or stack set.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a stack set, or a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template does not exist, a <code>ValidationError</code> is returned.</p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "GetTemplateSummaryInput"
      },
      "name": "GetTemplateSummary",
      "output": {
        "resultWrapper": "GetTemplateSummaryResult",
        "shape": "GetTemplateSummaryOutput"
      }
    },
    "ListChangeSets": {
      "documentation": "<p>Returns the ID and status of each active change set for a stack. For example, AWS CloudFormation lists change sets that are in the <code>CREATE_IN_PROGRESS</code> or <code>CREATE_PENDING</code> state.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListChangeSetsInput"
      },
      "name": "ListChangeSets",
      "output": {
        "resultWrapper": "ListChangeSetsResult",
        "shape": "ListChangeSetsOutput"
      }
    },
    "ListExports": {
      "documentation": "<p>Lists all exported output values in the account and region in which you call this action. Use this action to see the exported output values that you can import into other stacks. To import values, use the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html\"> <code>Fn::ImportValue</code> </a> function. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-stack-exports.html\"> AWS CloudFormation Export Stack Output Values</a>.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListExportsInput"
      },
      "name": "ListExports",
      "output": {
        "resultWrapper": "ListExportsResult",
        "shape": "ListExportsOutput"
      }
    },
    "ListImports": {
      "documentation": "<p>Lists all stacks that are importing an exported output value. To modify or remove an exported output value, first use this action to see which stacks are using it. To see the exported output values in your account, see <a>ListExports</a>. </p> <p>For more information about importing an exported output value, see the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/intrinsic-function-reference-importvalue.html\"> <code>Fn::ImportValue</code> </a> function. </p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListImportsInput"
      },
      "name": "ListImports",
      "output": {
        "resultWrapper": "ListImportsResult",
        "shape": "ListImportsOutput"
      }
    },
    "ListStackInstances": {
      "documentation": "<p>Returns summary information about stack instances that are associated with the specified stack set. You can filter for stack instances that are associated with a specific AWS account name or region.</p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStackInstancesInput"
      },
      "name": "ListStackInstances",
      "output": {
        "resultWrapper": "ListStackInstancesResult",
        "shape": "ListStackInstancesOutput"
      }
    },
    "ListStackResources": {
      "documentation": "<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStackResourcesInput"
      },
      "name": "ListStackResources",
      "output": {
        "resultWrapper": "ListStackResourcesResult",
        "shape": "ListStackResourcesOutput"
      }
    },
    "ListStackSetOperationResults": {
      "documentation": "<p>Returns summary information about the results of a stack set operation. </p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "OperationNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStackSetOperationResultsInput"
      },
      "name": "ListStackSetOperationResults",
      "output": {
        "resultWrapper": "ListStackSetOperationResultsResult",
        "shape": "ListStackSetOperationResultsOutput"
      }
    },
    "ListStackSetOperations": {
      "documentation": "<p>Returns summary information about operations performed on a stack set. </p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStackSetOperationsInput"
      },
      "name": "ListStackSetOperations",
      "output": {
        "resultWrapper": "ListStackSetOperationsResult",
        "shape": "ListStackSetOperationsOutput"
      }
    },
    "ListStackSets": {
      "documentation": "<p>Returns summary information about stack sets that are associated with the user.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStackSetsInput"
      },
      "name": "ListStackSets",
      "output": {
        "resultWrapper": "ListStackSetsResult",
        "shape": "ListStackSetsOutput"
      }
    },
    "ListStacks": {
      "documentation": "<p>Returns the summary information for stacks whose status matches the specified StackStatusFilter. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no StackStatusFilter is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListStacksInput"
      },
      "name": "ListStacks",
      "output": {
        "resultWrapper": "ListStacksResult",
        "shape": "ListStacksOutput"
      }
    },
    "ListTypeRegistrations": {
      "documentation": "<p>Returns a list of registration tokens for the specified type(s).</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTypeRegistrationsInput"
      },
      "name": "ListTypeRegistrations",
      "output": {
        "resultWrapper": "ListTypeRegistrationsResult",
        "shape": "ListTypeRegistrationsOutput"
      }
    },
    "ListTypeVersions": {
      "documentation": "<p>Returns summary information about the versions of a type.</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTypeVersionsInput"
      },
      "name": "ListTypeVersions",
      "output": {
        "resultWrapper": "ListTypeVersionsResult",
        "shape": "ListTypeVersionsOutput"
      }
    },
    "ListTypes": {
      "documentation": "<p>Returns summary information about types that have been registered with CloudFormation.</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "ListTypesInput"
      },
      "name": "ListTypes",
      "output": {
        "resultWrapper": "ListTypesResult",
        "shape": "ListTypesOutput"
      }
    },
    "RecordHandlerProgress": {
      "documentation": "<p>Reports progress of a resource handler to CloudFormation.</p> <p>Reserved for use by the <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/what-is-cloudformation-cli.html\">CloudFormation CLI</a>. Do not use this API in your code.</p>",
      "errors": [
        {
          "shape": "InvalidStateTransitionException"
        },
        {
          "shape": "OperationStatusCheckFailedException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RecordHandlerProgressInput"
      },
      "name": "RecordHandlerProgress",
      "output": {
        "resultWrapper": "RecordHandlerProgressResult",
        "shape": "RecordHandlerProgressOutput"
      }
    },
    "RegisterType": {
      "documentation": "<p>Registers a type with the CloudFormation service. Registering a type makes it available for use in CloudFormation templates in your AWS account, and includes:</p> <ul> <li> <p>Validating the resource schema</p> </li> <li> <p>Determining which handlers have been specified for the resource</p> </li> <li> <p>Making the resource type available for use in your account</p> </li> </ul> <p>For more information on how to develop types and ready them for registeration, see <a href=\"https://docs.aws.amazon.com/cloudformation-cli/latest/userguide/resource-types.html\">Creating Resource Providers</a> in the <i>CloudFormation CLI User Guide</i>.</p> <p>Once you have initiated a registration request using <code> <a>RegisterType</a> </code>, you can use <code> <a>DescribeTypeRegistration</a> </code> to monitor the progress of the registration request.</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "RegisterTypeInput"
      },
      "name": "RegisterType",
      "output": {
        "resultWrapper": "RegisterTypeResult",
        "shape": "RegisterTypeOutput"
      }
    },
    "SetStackPolicy": {
      "documentation": "<p>Sets a stack policy for a specified stack.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SetStackPolicyInput"
      },
      "name": "SetStackPolicy"
    },
    "SetTypeDefaultVersion": {
      "documentation": "<p>Specify the default version of a type. The default version of a type will be used in CloudFormation operations.</p>",
      "errors": [
        {
          "shape": "CFNRegistryException"
        },
        {
          "shape": "TypeNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "idempotent": true,
      "input": {
        "shape": "SetTypeDefaultVersionInput"
      },
      "name": "SetTypeDefaultVersion",
      "output": {
        "resultWrapper": "SetTypeDefaultVersionResult",
        "shape": "SetTypeDefaultVersionOutput"
      }
    },
    "SignalResource": {
      "documentation": "<p>Sends a signal to the specified resource with a success or failure status. You can use the SignalResource API in conjunction with a creation policy or update policy. AWS CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The SignalResource API is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "SignalResourceInput"
      },
      "name": "SignalResource"
    },
    "StopStackSetOperation": {
      "documentation": "<p>Stops an in-progress operation on a stack set and its associated stack instances. </p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "OperationNotFoundException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "StopStackSetOperationInput"
      },
      "name": "StopStackSetOperation",
      "output": {
        "resultWrapper": "StopStackSetOperationResult",
        "shape": "StopStackSetOperationOutput"
      }
    },
    "UpdateStack": {
      "documentation": "<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack via the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>For more information about creating an update template, updating a stack, and monitoring the progress of the update, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks.html\">Updating a Stack</a>.</p>",
      "errors": [
        {
          "shape": "InsufficientCapabilitiesException"
        },
        {
          "shape": "TokenAlreadyExistsException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStackInput"
      },
      "name": "UpdateStack",
      "output": {
        "resultWrapper": "UpdateStackResult",
        "shape": "UpdateStackOutput"
      }
    },
    "UpdateStackInstances": {
      "documentation": "<p>Updates the parameter values for stack instances for the specified accounts, within the specified regions. A stack instance refers to a stack in a specific account and region. </p> <p>You can only update stack instances in regions and accounts where they already exist; to create additional stack instances, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_CreateStackInstances.html\">CreateStackInstances</a>. </p> <p>During stack set updates, any parameters overridden for a stack instance are not updated, but retain their overridden value.</p> <p>You can only update the parameter <i>values</i> that are specified in the stack set; to add or delete a parameter itself, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update the stack set template. If you add a parameter to a template, before you can override the parameter value specified in the stack set you must first use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update all stack instances with the updated template and parameter value specified in the stack set. Once a stack instance has been updated with the new parameter, you can then override the parameter value using <code>UpdateStackInstances</code>.</p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "StackInstanceNotFoundException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "OperationIdAlreadyExistsException"
        },
        {
          "shape": "StaleRequestException"
        },
        {
          "shape": "InvalidOperationException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStackInstancesInput"
      },
      "name": "UpdateStackInstances",
      "output": {
        "resultWrapper": "UpdateStackInstancesResult",
        "shape": "UpdateStackInstancesOutput"
      }
    },
    "UpdateStackSet": {
      "documentation": "<p>Updates the stack set, and associated stack instances in the specified accounts and regions.</p> <p>Even if the stack set operation created by updating the stack set fails (completely or partially, below or above a specified failure tolerance), the stack set is updated with your changes. Subsequent <a>CreateStackInstances</a> calls on the specified stack set use the updated stack set.</p>",
      "errors": [
        {
          "shape": "StackSetNotFoundException"
        },
        {
          "shape": "OperationInProgressException"
        },
        {
          "shape": "OperationIdAlreadyExistsException"
        },
        {
          "shape": "StaleRequestException"
        },
        {
          "shape": "InvalidOperationException"
        },
        {
          "shape": "StackInstanceNotFoundException"
        }
      ],
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateStackSetInput"
      },
      "name": "UpdateStackSet",
      "output": {
        "resultWrapper": "UpdateStackSetResult",
        "shape": "UpdateStackSetOutput"
      }
    },
    "UpdateTerminationProtection": {
      "documentation": "<p>Updates termination protection for the specified stack. If a user attempts to delete a stack with termination protection enabled, the operation fails and the stack remains unchanged. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-protect-stacks.html\">Protecting a Stack From Being Deleted</a> in the <i>AWS CloudFormation User Guide</i>.</p> <p> For <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html\">nested stacks</a>, termination protection is set on the root stack and cannot be changed directly on the nested stack.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "UpdateTerminationProtectionInput"
      },
      "name": "UpdateTerminationProtection",
      "output": {
        "resultWrapper": "UpdateTerminationProtectionResult",
        "shape": "UpdateTerminationProtectionOutput"
      }
    },
    "ValidateTemplate": {
      "documentation": "<p>Validates a specified template. AWS CloudFormation first checks if the template is valid JSON. If it isn't, AWS CloudFormation checks if the template is valid YAML. If both these checks fail, AWS CloudFormation returns a template validation error.</p>",
      "http": {
        "method": "POST",
        "requestUri": "/"
      },
      "input": {
        "shape": "ValidateTemplateInput"
      },
      "name": "ValidateTemplate",
      "output": {
        "resultWrapper": "ValidateTemplateResult",
        "shape": "ValidateTemplateOutput"
      }
    }
  },
  "shapes": {
    "Account": {
      "pattern": "^[0-9]{12}$",
      "type": "string"
    },
    "AccountGateResult": {
      "documentation": "<p>Structure that contains the results of the account gate function which AWS CloudFormation invokes, if present, before proceeding with a stack set operation in an account and region.</p> <p>For each account and region, AWS CloudFormation lets you specify a Lamdba function that encapsulates any requirements that must be met before CloudFormation can proceed with a stack set operation in that account and region. CloudFormation invokes the function each time a stack set operation is requested for that account and region; if the function returns <code>FAILED</code>, CloudFormation cancels the operation in that account and region, and sets the stack set operation result status for that account and region to <code>FAILED</code>. </p> <p>For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Configuring a target account gate</a>.</p>",
      "members": {
        "Status": {
          "documentation": "<p>The status of the account gate function.</p> <ul> <li> <p> <code>SUCCEEDED</code>: The account gate function has determined that the account and region passes any requirements for a stack set operation to occur. AWS CloudFormation proceeds with the stack operation in that account and region. </p> </li> <li> <p> <code>FAILED</code>: The account gate function has determined that the account and region does not meet the requirements for a stack set operation to occur. AWS CloudFormation cancels the stack set operation in that account and region, and sets the stack set operation result status for that account and region to <code>FAILED</code>. </p> </li> <li> <p> <code>SKIPPED</code>: AWS CloudFormation has skipped calling the account gate function for this account and region, for one of the following reasons:</p> <ul> <li> <p>An account gate function has not been specified for the account and region. AWS CloudFormation proceeds with the stack set operation in this account and region.</p> </li> <li> <p>The <code>AWSCloudFormationStackSetExecutionRole</code> of the stack set adminstration account lacks permissions to invoke the function. AWS CloudFormation proceeds with the stack set operation in this account and region.</p> </li> <li> <p>Either no action is necessary, or no action is possible, on the stack. AWS CloudFormation skips the stack set operation in this account and region.</p> </li> </ul> </li> </ul>",
          "shape": "AccountGateStatus"
        },
        "StatusReason": {
          "documentation": "<p>The reason for the account gate status assigned to this account and region for the stack set operation.</p>",
          "shape": "AccountGateStatusReason"
        }
      },
      "type": "structure"
    },
    "AccountGateStatus": {
      "enum": [
        "SUCCEEDED",
        "FAILED",
        "SKIPPED"
      ],
      "type": "string"
    },
    "AccountGateStatusReason": {
      "type": "string"
    },
    "AccountLimit": {
      "documentation": "<p>The AccountLimit data type. </p> <p>CloudFormation has the following limits per account:</p> <ul> <li> <p>Number of concurrent resources</p> </li> <li> <p>Number of stacks</p> </li> <li> <p>Number of stack outputs</p> </li> </ul> <p>For more information about these account limits, and other CloudFormation limits, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/cloudformation-limits.html\">AWS CloudFormation Limits</a> in the <i>AWS CloudFormation User Guide</i>.</p>",
      "members": {
        "Name": {
          "documentation": "<p>The name of the account limit.</p> <p>Values: <code>ConcurrentResourcesLimit</code> | <code>StackLimit</code> | <code>StackOutputsLimit</code> </p>",
          "shape": "LimitName"
        },
        "Value": {
          "documentation": "<p>The value that is associated with the account limit name.</p>",
          "shape": "LimitValue"
        }
      },
      "type": "structure"
    },
    "AccountLimitList": {
      "member": {
        "shape": "AccountLimit"
      },
      "type": "list"
    },
    "AccountList": {
      "member": {
        "shape": "Account"
      },
      "type": "list"
    },
    "AllowedValue": {
      "type": "string"
    },
    "AllowedValues": {
      "member": {
        "shape": "AllowedValue"
      },
      "type": "list"
    },
    "AlreadyExistsException": {
      "documentation": "<p>The resource with the name requested already exists.</p>",
      "error": {
        "code": "AlreadyExistsException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "Arn": {
      "type": "string"
    },
    "AutoDeployment": {
      "documentation": "<p>[<code>Service-managed</code> permissions] Describes whether StackSets automatically deploys to AWS Organizations accounts that are added to a target organization or organizational unit (OU).</p>",
      "members": {
        "Enabled": {
          "documentation": "<p>If set to <code>true</code>, StackSets automatically deploys additional stack instances to AWS Organizations accounts that are added to a target organization or organizational unit (OU) in the specified Regions. If an account is removed from a target organization or OU, StackSets deletes stack instances from the account in the specified Regions.</p>",
          "shape": "AutoDeploymentNullable"
        },
        "RetainStacksOnAccountRemoval": {
          "documentation": "<p>If set to <code>true</code>, stack resources are retained when an account is removed from a target organization or OU. If set to <code>false</code>, stack resources are deleted. Specify only if <code>Enabled</code> is set to <code>True</code>.</p>",
          "shape": "RetainStacksOnAccountRemovalNullable"
        }
      },
      "type": "structure"
    },
    "AutoDeploymentNullable": {
      "type": "boolean"
    },
    "BoxedInteger": {
      "box": true,
      "type": "integer"
    },
    "BoxedMaxResults": {
      "box": true,
      "max": 100,
      "min": 1,
      "type": "integer"
    },
    "CFNRegistryException": {
      "documentation": "<p>An error occurred during a CloudFormation registry operation.</p>",
      "error": {
        "code": "CFNRegistryException",
        "httpStatusCode": 400,
        "senderFault": true
      },
      "exception": true,
      "members": {
        "Message": {
          "shape": "ErrorMessage"
        }
      },
      "type": "structure"
    },
    "CancelUpdateStackInput": {
      "documentation": "<p>The input for the <a>CancelUpdateStack</a> action.</p>",
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for this <code>CancelUpdateStack</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to cancel an update on a stack with the same name. You might retry <code>CancelUpdateStack</code> requests to ensure that AWS CloudFormation successfully received them.</p>",
          "shape": "ClientRequestToken"
        },
        "StackName": {
          "documentation": "<p>The name or the unique stack ID that is associated with the stack.</p>",
          "shape": "StackName"
        }
      },
      "required": [
        "StackName"
      ],
      "type": "structure"
    },
    "Capabilities": {
      "member": {
        "shape": "Capability"
      },
      "type": "list"
    },
    "CapabilitiesReason": {
      "type": "string"
    },
    "Capability": {
      "enum": [
        "CAPABILITY_IAM",
        "CAPABILITY_NAMED_IAM",
        "CAPABILITY_AUTO_EXPAND"
      ],
      "type": "string"
    },
    "CausingEntity": {
      "type": "string"
    },
    "Change": {
      "documentation": "<p>The <code>Change</code> structure describes the changes AWS CloudFormation will perform if you execute the change set.</p>",
      "members": {
        "ResourceChange": {
          "documentation": "<p>A <code>ResourceChange</code> structure that describes the resource and action that AWS CloudFormation will perform.</p>",
          "shape": "ResourceChange"
        },
        "Type": {
          "documentation": "<p>The type of entity that AWS CloudFormation changes. Currently, the only entity type is <code>Resource</code>.</p>",
          "shape": "ChangeType"
        }
      },
      "type": "structure"
    },
    "ChangeAction": {
      "enum": [
        "Add",
        "Modify",
        "Remove",
        "Import"
      ],
      "type": "string"
    },
    "ChangeSetId": {
      "min": 1,
      "pattern": "arn:[-a-zA-Z0-9:/]*",
      "type": "string"
    },
    "ChangeSetName": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z][-a-zA-Z0-9]*",
      "type": "string"
    },
    "ChangeSetNameOrId": {
      "max": 1600,
      "min": 1,
      "pattern": "[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*",
      "type": "string"
    },
    "ChangeSetNotFoundException": {
      "documentation": "<p>The specified change set name or ID doesn't exit. To view valid change sets for a stack, use the <code>ListChangeSets</code> action.</p>",
      "error": {
        "code": "ChangeSetNotFound",
        "httpStatusCode": 404,
        "senderFault": true
      },
      "exception": true,
      "members": {},
      "type": "structure"
    },
    "ChangeSetStatus": {
      "enum": [
        "CREATE_PENDING",
        "CREATE_IN_PROGRESS",
        "CREATE_COMPLETE",
        "DELETE_COMPLETE",
        "FAILED"
      ],
      "type": "string"
    },
    "ChangeSetStatusReason": {
      "type": "string"
    },
    "ChangeSetSummaries": {
      "member": {
        "shape": "ChangeSetSummary"
      },
      "type": "list"
    },
    "ChangeSetSummary": {
      "documentation": "<p>The <code>ChangeSetSummary</code> structure describes a change set, its status, and the stack with which it's associated.</p>",
      "members": {
        "ChangeSetId": {
          "documentation": "<p>The ID of the change set.</p>",
          "shape": "ChangeSetId"
        },
        "ChangeSetName": {
          "documentation": "<p>The name of the change set.</p>",
          "shape": "ChangeSetName"
        },
        "CreationTime": {
          "documentation": "<p>The start time when the change set was created, in UTC.</p>",
          "shape": "CreationTime"
        },
        "Description": {
          "documentation": "<p>Descriptive information about the change set.</p>",
          "shape": "Description"
        },
        "ExecutionStatus": {
          "documentation": "<p>If the change set execution status is <code>AVAILABLE</code>, you can execute the change set. If you can\u2019t execute the change set, the status indicates why. For example, a change set might be in an <code>UNAVAILABLE</code> state because AWS CloudFormation is still creating it or in an <code>OBSOLETE</code> state because the stack was already updated.</p>",
          "shape": "ExecutionStatus"
        },
        "StackId": {
          "documentation": "<p>The ID of the stack with which the change set is associated.</p>",
          "shape": "StackId"
        },
        "StackName": {
          "documentation": "<p>The name of the stack with which the change set is associated.</p>",
          "shape": "StackName"
        },
        "Status": {
          "documentation": "<p>The state of the change set, such as <code>CREATE_IN_PROGRESS</code>, <code>CREATE_COMPLETE</code>, or <code>FAILED</code>.</p>",
          "shape": "ChangeSetStatus"
        },
        "StatusReason": {
          "documentation": "<p>A description of the change set's status. For example, if your change set is in the <code>FAILED</code> state, AWS CloudFormation shows the error message.</p>",
          "shape": "ChangeSetStatusReason"
        }
      },
      "type": "structure"
    },
    "ChangeSetType": {
      "enum": [
        "CREATE",
        "UPDATE",
        "IMPORT"
      ],
      "type": "string"
    },
    "ChangeSource": {
      "enum": [
        "ResourceReference",
        "ParameterReference",
        "ResourceAttribute",
        "DirectModification",
        "Automatic"
      ],
      "type": "string"
    },
    "ChangeType": {
      "enum": [
        "Resource"
      ],
      "type": "string"
    },
    "Changes": {
      "member": {
        "shape": "Change"
      },
      "type": "list"
    },
    "ClientRequestToken": {
      "max": 128,
      "min": 1,
      "pattern": "[a-zA-Z0-9][-a-zA-Z0-9]*",
      "type": "string"
    },
    "ClientToken": {
      "max": 128,
      "min": 1,
      "type": "string"
    },
    "ContinueUpdateRollbackInput": {
      "documentation": "<p>The input for the <a>ContinueUpdateRollback</a> action.</p>",
      "members": {
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for this <code>ContinueUpdateRollback</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to continue the rollback to a stack with the same name. You might retry <code>ContinueUpdateRollback</code> requests to ensure that AWS CloudFormation successfully received them.</p>",
          "shape": "ClientRequestToken"
        },
        "ResourcesToSkip": {
          "documentation": "<p>A list of the logical IDs of the resources that AWS CloudFormation skips during the continue update rollback operation. You can specify only resources that are in the <code>UPDATE_FAILED</code> state because a rollback failed. You can't specify resources that are in the <code>UPDATE_FAILED</code> state for other reasons, for example, because an update was cancelled. To check why a resource update failed, use the <a>DescribeStackResources</a> action, and view the resource status reason. </p> <important> <p>Specify this property to skip rolling back resources that AWS CloudFormation can't successfully roll back. We recommend that you <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\"> troubleshoot</a> resources before skipping them. AWS CloudFormation sets the status of the specified resources to <code>UPDATE_COMPLETE</code> and continues to roll back the stack. After the rollback is complete, the state of the skipped resources will be inconsistent with the state of the resources in the stack template. Before performing another stack update, you must update the stack or resources to be consistent with each other. If you don't, subsequent stack updates might fail, and the stack will become unrecoverable. </p> </important> <p>Specify the minimum number of resources required to successfully roll back your stack. For example, a failed resource update might cause dependent resources to fail. In this case, it might not be necessary to skip the dependent resources. </p> <p>To skip resources that are part of nested stacks, use the following format: <code>NestedStackName.ResourceLogicalID</code>. If you want to specify the logical ID of a stack resource (<code>Type: AWS::CloudFormation::Stack</code>) in the <code>ResourcesToSkip</code> list, then its corresponding embedded stack must be in one of the following states: <code>DELETE_IN_PROGRESS</code>, <code>DELETE_COMPLETE</code>, or <code>DELETE_FAILED</code>. </p> <note> <p>Don't confuse a child stack's name with its corresponding logical ID defined in the parent stack. For an example of a continue update rollback operation with nested stacks, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks\">Using ResourcesToSkip to recover a nested stacks hierarchy</a>. </p> </note>",
          "shape": "ResourcesToSkip"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes to roll back the stack. AWS CloudFormation uses the role's credentials to make calls on your behalf. AWS CloudFormation always uses this role for all future operations on the stack. As long as users have permission to operate on the stack, AWS CloudFormation uses this role even if the users don't have permission to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>",
          "shape": "RoleARN"
        },
        "StackName": {
          "documentation": "<p>The name or the unique ID of the stack that you want to continue rolling back.</p> <note> <p>Don't specify the name of a nested stack (a stack that was created by using the <code>AWS::CloudFormation::Stack</code> resource). Instead, use this operation on the parent stack (the stack that contains the <code>AWS::CloudFormation::Stack</code> resource).</p> </note>",
          "shape": "StackNameOrId"
        }
      },
      "required": [
        "StackName"
      ],
      "type": "structure"
    },
    "ContinueUpdateRollbackOutput": {
      "documentation": "<p>The output for a <a>ContinueUpdateRollback</a> action.</p>",
      "members": {},
      "type": "structure"
    },
    "CreateChangeSetInput": {
      "documentation": "<p>The input for the <a>CreateChangeSet</a> action.</p>",
      "members": {
        "Capabilities": {
          "documentation": "<p>In some cases, you must explicitly acknowledge that your stack template contains certain capabilities in order for AWS CloudFormation to create the stack.</p> <ul> <li> <p> <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code> </p> <p>Some stack templates might include resources that can affect permissions in your AWS account; for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge this by specifying one of these capabilities.</p> <p>The following IAM resources require you to specify either the <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code> capability.</p> <ul> <li> <p>If you have IAM resources, you can specify either capability. </p> </li> <li> <p>If you have IAM resources with custom names, you <i>must</i> specify <code>CAPABILITY_NAMED_IAM</code>. </p> </li> <li> <p>If you don't specify either of these capabilities, AWS CloudFormation returns an <code>InsufficientCapabilities</code> error.</p> </li> </ul> <p>If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a> </p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p> </li> <li> <p> <code>CAPABILITY_AUTO_EXPAND</code> </p> <p>Some template contain macros. Macros perform custom processing on templates; this can include simple actions like find-and-replace operations, all the way to extensive transformations of entire templates. Because of this, users typically create a change set from the processed template, so that they can review the changes resulting from the macros before actually creating the stack. If your stack template contains one or more macros, and you choose to create a stack directly from the processed template, without first reviewing the resulting changes in a change set, you must acknowledge this capability. This includes the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a> transforms, which are macros hosted by AWS CloudFormation.</p> <note> <p>This capacity does not apply to creating change sets, and specifying it when creating change sets has no effect.</p> <p>Also, change sets do not currently support nested stacks. If you want to create a stack from a stack template that contains macros <i>and</i> nested stacks, you must create or update the stack directly from the template using the <a>CreateStack</a> or <a>UpdateStack</a> action, and specifying this capability.</p> </note> <p>For more information on macros, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using AWS CloudFormation Macros to Perform Custom Processing on Templates</a>.</p> </li> </ul>",
          "shape": "Capabilities"
        },
        "ChangeSetName": {
          "documentation": "<p>The name of the change set. The name must be unique among all change sets that are associated with the specified stack.</p> <p>A change set name can contain only alphanumeric, case sensitive characters and hyphens. It must start with an alphabetic character and cannot exceed 128 characters.</p>",
          "shape": "ChangeSetName"
        },
        "ChangeSetType": {
          "documentation": "<p>The type of change set operation. To create a change set for a new stack, specify <code>CREATE</code>. To create a change set for an existing stack, specify <code>UPDATE</code>. To create a change set for an import operation, specify <code>IMPORT</code>.</p> <p>If you create a change set for a new stack, AWS Cloudformation creates a stack with a unique stack ID, but no template or resources. The stack will be in the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-describing-stacks.html#d0e11995\"> <code>REVIEW_IN_PROGRESS</code> </a> state until you execute the change set.</p> <p>By default, AWS CloudFormation specifies <code>UPDATE</code>. You can't use the <code>UPDATE</code> type to create a change set for a new stack or the <code>CREATE</code> type to create a change set for an existing stack.</p>",
          "shape": "ChangeSetType"
        },
        "ClientToken": {
          "documentation": "<p>A unique identifier for this <code>CreateChangeSet</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to create another change set with the same name. You might retry <code>CreateChangeSet</code> requests to ensure that AWS CloudFormation successfully received them.</p>",
          "shape": "ClientToken"
        },
        "Description": {
          "documentation": "<p>A description to help you identify this change set.</p>",
          "shape": "Description"
        },
        "NotificationARNs": {
          "documentation": "<p>The Amazon Resource Names (ARNs) of Amazon Simple Notification Service (Amazon SNS) topics that AWS CloudFormation associates with the stack. To remove all associated notification topics, specify an empty list.</p>",
          "shape": "NotificationARNs"
        },
        "Parameters": {
          "documentation": "<p>A list of <code>Parameter</code> structures that specify input parameters for the change set. For more information, see the <a>Parameter</a> data type.</p>",
          "shape": "Parameters"
        },
        "ResourceTypes": {
          "documentation": "<p>The template resource types that you have permissions to work with if you execute this change set, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or <code>Custom::MyCustomInstance</code>.</p> <p>If the list of resource types doesn't include a resource type that you're updating, the stack update fails. By default, AWS CloudFormation grants permissions to all resource types. AWS Identity and Access Management (IAM) uses this parameter for condition keys in IAM policies for AWS CloudFormation. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with AWS Identity and Access Management</a> in the AWS CloudFormation User Guide.</p>",
          "shape": "ResourceTypes"
        },
        "ResourcesToImport": {
          "documentation": "<p>The resources to import into your stack.</p>",
          "shape": "ResourcesToImport"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes when executing the change set. AWS CloudFormation uses the role's credentials to make calls on your behalf. AWS CloudFormation uses this role for all future operations on the stack. As long as users have permission to operate on the stack, AWS CloudFormation uses this role even if the users don't have permission to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>",
          "shape": "RoleARN"
        },
        "RollbackConfiguration": {
          "documentation": "<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and updating operations, and for the specified monitoring period afterwards.</p>",
          "shape": "RollbackConfiguration"
        },
        "StackName": {
          "documentation": "<p>The name or the unique ID of the stack for which you are creating a change set. AWS CloudFormation generates the change set by comparing this stack's information with the information that you submit, such as a modified template or different parameter input values.</p>",
          "shape": "StackNameOrId"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs to associate with this stack. AWS CloudFormation also propagates these tags to resources in the stack. You can specify a maximum of 50 tags.</p>",
          "shape": "Tags"
        },
        "TemplateBody": {
          "documentation": "<p>A structure that contains the body of the revised template, with a minimum length of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the change set by comparing this template with the template of the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>",
          "shape": "TemplateBody"
        },
        "TemplateURL": {
          "documentation": "<p>The location of the file that contains the revised template. The URL must point to a template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation generates the change set by comparing this template with the stack that you specified.</p> <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>",
          "shape": "TemplateURL"
        },
        "UsePreviousTemplate": {
          "documentation": "<p>Whether to reuse the template that is associated with the stack to create the change set.</p>",
          "shape": "UsePreviousTemplate"
        }
      },
      "required": [
        "StackName",
        "ChangeSetName"
      ],
      "type": "structure"
    },
    "CreateChangeSetOutput": {
      "documentation": "<p>The output for the <a>CreateChangeSet</a> action.</p>",
      "members": {
        "Id": {
          "documentation": "<p>The Amazon Resource Name (ARN) of the change set.</p>",
          "shape": "ChangeSetId"
        },
        "StackId": {
          "documentation": "<p>The unique ID of the stack.</p>",
          "shape": "StackId"
        }
      },
      "type": "structure"
    },
    "CreateStackInput": {
      "documentation": "<p>The input for <a>CreateStack</a> action.</p>",
      "members": {
        "Capabilities": {
          "documentation": "<p>In some cases, you must explicitly acknowledge that your stack template contains certain capabilities in order for AWS CloudFormation to create the stack.</p> <ul> <li> <p> <code>CAPABILITY_IAM</code> and <code>CAPABILITY_NAMED_IAM</code> </p> <p>Some stack templates might include resources that can affect permissions in your AWS account; for example, by creating new AWS Identity and Access Management (IAM) users. For those stacks, you must explicitly acknowledge this by specifying one of these capabilities.</p> <p>The following IAM resources require you to specify either the <code>CAPABILITY_IAM</code> or <code>CAPABILITY_NAMED_IAM</code> capability.</p> <ul> <li> <p>If you have IAM resources, you can specify either capability. </p> </li> <li> <p>If you have IAM resources with custom names, you <i>must</i> specify <code>CAPABILITY_NAMED_IAM</code>. </p> </li> <li> <p>If you don't specify either of these capabilities, AWS CloudFormation returns an <code>InsufficientCapabilities</code> error.</p> </li> </ul> <p>If your stack template contains these resources, we recommend that you review all permissions associated with them and edit their permissions if necessary.</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a> </p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging IAM Resources in AWS CloudFormation Templates</a>.</p> </li> <li> <p> <code>CAPABILITY_AUTO_EXPAND</code> </p> <p>Some template contain macros. Macros perform custom processing on templates; this can include simple actions like find-and-replace operations, all the way to extensive transformations of entire templates. Because of this, users typically create a change set from the processed template, so that they can review the changes resulting from the macros before actually creating the stack. If your stack template contains one or more macros, and you choose to create a stack directly from the processed template, without first reviewing the resulting changes in a change set, you must acknowledge this capability. This includes the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/create-reusable-transform-function-snippets-and-add-to-your-template-with-aws-include-transform.html\">AWS::Include</a> and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/transform-aws-serverless.html\">AWS::Serverless</a> transforms, which are macros hosted by AWS CloudFormation.</p> <p>Change sets do not currently support nested stacks. If you want to create a stack from a stack template that contains macros <i>and</i> nested stacks, you must create the stack directly from the template using this capability.</p> <important> <p>You should only create stacks directly from a stack template that contains macros if you know what processing the macro performs.</p> <p>Each macro relies on an underlying Lambda service function for processing stack templates. Be aware that the Lambda function owner can update the function operation without AWS CloudFormation being notified.</p> </important> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-macros.html\">Using AWS CloudFormation Macros to Perform Custom Processing on Templates</a>.</p> </li> </ul>",
          "shape": "Capabilities"
        },
        "ClientRequestToken": {
          "documentation": "<p>A unique identifier for this <code>CreateStack</code> request. Specify this token if you plan to retry requests so that AWS CloudFormation knows that you're not attempting to create a stack with the same name. You might retry <code>CreateStack</code> requests to ensure that AWS CloudFormation successfully received them.</p> <p>All events triggered by a given stack operation are assigned the same client request token, which you can use to track operations. For example, if you execute a <code>CreateStack</code> operation with the token <code>token1</code>, then all the <code>StackEvents</code> generated by that operation will have <code>ClientRequestToken</code> set as <code>token1</code>.</p> <p>In the console, stack operations display the client request token on the Events tab. Stack operations that are initiated from the console use the token format <i>Console-StackOperation-ID</i>, which helps you easily identify the stack operation . For example, if you create a stack using the console, each stack event would be assigned the same token in the following format: <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>. </p>",
          "shape": "ClientRequestToken"
        },
        "DisableRollback": {
          "documentation": "<p>Set to <code>true</code> to disable rollback of the stack if stack creation failed. You can specify either <code>DisableRollback</code> or <code>OnFailure</code>, but not both.</p> <p>Default: <code>false</code> </p>",
          "shape": "DisableRollback"
        },
        "EnableTerminationProtection": {
          "documentation": "<p>Whether to enable termination protection on the specified stack. If a user attempts to delete a stack with termination protection enabled, the operation fails and the stack remains unchanged. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-protect-stacks.html\">Protecting a Stack From Being Deleted</a> in the <i>AWS CloudFormation User Guide</i>. Termination protection is disabled on stacks by default. </p> <p> For <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html\">nested stacks</a>, termination protection is set on the root stack and cannot be changed directly on the nested stack.</p>",
          "shape": "EnableTerminationProtection"
        },
        "NotificationARNs": {
          "documentation": "<p>The Simple Notification Service (SNS) topic ARNs to publish stack related events. You can find your SNS topic ARNs using the SNS console or your Command Line Interface (CLI).</p>",
          "shape": "NotificationARNs"
        },
        "OnFailure": {
          "documentation": "<p>Determines what action will be taken if stack creation fails. This must be one of: DO_NOTHING, ROLLBACK, or DELETE. You can specify either <code>OnFailure</code> or <code>DisableRollback</code>, but not both.</p> <p>Default: <code>ROLLBACK</code> </p>",
          "shape": "OnFailure"
        },
        "Parameters": {
          "documentation": "<p>A list of <code>Parameter</code> structures that specify input parameters for the stack. For more information, see the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a> data type.</p>",
          "shape": "Parameters"
        },
        "ResourceTypes": {
          "documentation": "<p>The template resource types that you have permissions to work with for this create stack action, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or <code>Custom::MyCustomInstance</code>. Use the following syntax to describe template resource types: <code>AWS::*</code> (for all AWS resource), <code>Custom::*</code> (for all custom resources), <code>Custom::<i>logical_ID</i> </code> (for a specific custom resource), <code>AWS::<i>service_name</i>::*</code> (for all resources of a particular AWS service), and <code>AWS::<i>service_name</i>::<i>resource_logical_ID</i> </code> (for a specific AWS resource).</p> <p>If the list of resource types doesn't include a resource that you're creating, the stack creation fails. By default, AWS CloudFormation grants permissions to all resource types. AWS Identity and Access Management (IAM) uses this parameter for AWS CloudFormation-specific condition keys in IAM policies. For more information, see <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling Access with AWS Identity and Access Management</a>.</p>",
          "shape": "ResourceTypes"
        },
        "RoleARN": {
          "documentation": "<p>The Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that AWS CloudFormation assumes to create the stack. AWS CloudFormation uses the role's credentials to make calls on your behalf. AWS CloudFormation always uses this role for all future operations on the stack. As long as users have permission to operate on the stack, AWS CloudFormation uses this role even if the users don't have permission to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify a value, AWS CloudFormation uses the role that was previously associated with the stack. If no role is available, AWS CloudFormation uses a temporary session that is generated from your user credentials.</p>",
          "shape": "RoleARN"
        },
        "RollbackConfiguration": {
          "documentation": "<p>The rollback triggers for AWS CloudFormation to monitor during stack creation and updating operations, and for the specified monitoring period afterwards.</p>",
          "shape": "RollbackConfiguration"
        },
        "StackName": {
          "documentation": "<p>The name that is associated with the stack. The name must be unique in the region in which you are creating the stack.</p> <note> <p>A stack name can contain only alphanumeric characters (case sensitive) and hyphens. It must start with an alphabetic character and cannot be longer than 128 characters.</p> </note>",
          "shape": "StackName"
        },
        "StackPolicyBody": {
          "documentation": "<p>Structure containing the stack policy body. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates to Stack Resources</a> in the <i>AWS CloudFormation User Guide</i>. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>",
          "shape": "StackPolicyBody"
        },
        "StackPolicyURL": {
          "documentation": "<p>Location of a file containing the stack policy. The URL must point to a policy (maximum size: 16 KB) located in an S3 bucket in the same region as the stack. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>",
          "shape": "StackPolicyURL"
        },
        "Tags": {
          "documentation": "<p>Key-value pairs to associate with this stack. AWS CloudFormation also propagates these tags to the resources created in the stack. A maximum number of 50 tags can be specified.</p>",
          "shape": "Tags"
        },
        "TemplateBody": {
          "documentation": "<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information, go to <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>",
          "shape": "TemplateBody"
        },
        "TemplateURL": {
          "documentation": "<p>Location of file containing the template body. The URL must point to a template (max size: 460,800 bytes) that is located in an Amazon S3 bucket. For more information, go to the <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>",
          "shape": "TemplateURL"
        },
        "TimeoutInMinutes": {
          "documentation": "<p>The amount of time that can pass before the stack status becomes CREATE_FAILED; if <code>DisableRollback</code> is not set or is set to <code>false</code>, the stack will be rolled back.</p>",
          "shape": "TimeoutMinutes"
        }
      },
      "required": [
        "StackName"
      ],
      "type": "structure"
    },
    "CreateStackInstancesInput": {
      "members": {
        "Accounts": {
          "documentation": "<p>[Self-managed permissions] The names of one or more AWS accounts that you want to create stack instances in the specified region(s) for.</p> <p>You can specify <code>Accounts</code> or <code>DeploymentTargets</code>, but not both.</p>",
          "shape": "AccountList"
        },
        "DeploymentTargets": {
          "documentation": "<p>[<code>Service-managed</code> permissions] The AWS Organizations accounts for which to create stack instances in the specified Regions.</p> <p>You can specify <code>Accounts</code> or <code>DeploymentTargets</code>, but not both.</p>",
          "shape": "DeploymentTargets"
        },
        "OperationId": {
          "documentation": "<p>The unique identifier for this stack set operation. </p> <p>The operation ID also functions as an idempotency token, to ensure that AWS CloudFormation performs the stack set operation only once, even if you retry the request multiple times. You might retry stack set operation requests to ensure that AWS CloudFormation successfully received them.</p> <p>If you don't specify an operation ID, the SDK generates one automatically. </p> <p>Repeating this stack set operation with a new operation ID retries all stack instances whose status is <code>OUTDATED</code>. </p>",
          "idempotencyToken": true,
          "shape": "ClientRequestToken"
        },
        "OperationPreferences": {
          "documentation": "<p>Preferences for how AWS CloudFormation performs this stack set operation.</p>",
          "shape": "StackSetOperationPreferences"
        },
        "ParameterOverrides": {
          "documentation": "<p>A list of stack set parameters whose values you want to override in the selected stack instances.</p> <p>Any overridden parameter values will be applied to all stack instances in the specified accounts and regions. When specifying parameters and their values, be aware of how AWS CloudFormation sets parameter values during stack instance operations:</p> <ul> <li> <p>To override the current value for a parameter, include the parameter and specify its value.</p> </li> <li> <p>To leave a parameter set to its present value, you can do one of the following:</p> <ul> <li> <p>Do not include the parameter in the list.</p> </li> <li> <p>Include the parameter and specify <code>UsePreviousValue</code> as <code>true</code>. (You cannot specify both a value and set <code>UsePreviousValue</code> to <code>true</code>.)</p> </li> </ul> </li> <li> <p>To set all overridden parameter back to the values specified in the stack set, specify a parameter list but do not include any parameters.</p> </li> <li> <p>To leave all parameters set to their present values, do not specify this property at all.</p> </li> </ul> <p>During stack set updates, any parameter values overridden for a stack instance are not updated, but retain their overridden value.</p> <p>You can only override the parameter <i>values</i> that are specified in the stack set; to add or delete a parameter itself, use <a href=\"https://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a> to update the stack set template.</p>",
          "shape": "Parameters"
        },
        "Regions": {
          "documentation": "<p>The names of one or more regions where you want to create stack instances using the specified AWS account(s). </p>",
          "shape": "RegionList"
        },
        "StackSetName": {
          "documentation": "<p>The name or unique ID of the stack set that you want to create stack instances from.</p>",
          "shape": "StackSetName"
        }
      },
      "required": [
        "StackSetName",
        "Regions"
      ],
      "type": "structure"
    },
    "CreateStackInstancesOutput": {
      "members": {
        "OperationId": {
          "documentation": "<p>The unique identifier for this stack set operation.</p>",
          "shape": "ClientRequestToken"
        }
      },
      "type": "structure"
    },
    "CreateStackOutput": {
      "documentation": "<p>The output for a <a>CreateStack</a> action.</p>",
      "members": {
        "StackId": {
          "documentation": "<p>Unique identifier of the stack.</p>",
          "shape": "StackId"
        }
      },
      "type": "structure"
    },
    "CreateStackSetInput": {
      "members": {
        "AdministrationRoleARN": {
          "documentation": "<p>The Amazon Resource Number (ARN) of the IAM role to use to create this stack set. </p> <p>Specify an IAM role only if you are using customized administrator roles to control which users or groups can manage specific stack sets within the same administrator account. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-prereqs.html\">Prerequisites: Granting Permissions for Stack Set Operations</a> in the <i>AWS CloudFormation User Guide</i>.</p>",
          "shape": "RoleARN"
        },
        "AutoDeployment": {
[...]
